
    
  



@{ViewBag.Title = "Crossrail board minutes";}
@{ViewBag.Keywords = "Elizabeth line,Public,TfL Rail,C,Committee and panel meetings,Crossrail,Rail,TfL";}
@{ViewBag.Url = "/corporate/publications-and-reports/crossrail-board-minutes";}
@{ViewBag.Language = "en";}
        <!-- empty placeholder -->
 
        
        
<div class="r">
    <div class="breadcrumb-container" role="navigation">
        <span id="breadcrumb-label" class="visually-hidden">You are here:</span>
        <ol class="breadcrumbs clearfix" aria-labelledby="breadcrumb-label">
            <li class="home">
                <a href="/">
                    <span class="hide-text">Home</span>
                </a>
            </li>
            
                 <li><a href="/corporate/publications-and-reports/index">Publications & reports</a></li>
                
            
            
                <li><span class="last-breadcrumb">Crossrail board minutes</span></li>
            
        
 
        
 
        </ol>
    </div>
</div>
     
 
<div class="r">
  <div class="headline-container plain">
    <h1>Crossrail board minutes</h1>

  </div>
</div>
<div class="main-and-aside r">
  
  <div class="main content-container" role="main">
    
      <div class="article-teaser">
        Minutes of Crossrail Ltd Board meetings. Appropriate redactions have been applied where necessary in line with FOI requirements.
        
      </div>
    
    <div class="on-this-page">
      <p><a href="http://www.crossrail.co.uk/about-us/crossrail-board-minutes">These minutes are also published on the Crossrail Ltd website</a>.</p>
      
           
      
<div>



<h2>2019</h2>



<div class="multi-document-download-container">
    

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/crl-board-minutes-7-november-2019.pdf">
    <div class="document-download-text">
        <p>7 November 2019</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 237KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.23 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/crl-board-minutes-10-october-2019.pdf">
    <div class="document-download-text">
        <p>10 October 2019</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 242KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.24 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/crl-board-minutes-11-september-2019.pdf">
    <div class="document-download-text">
        <p>11 September 2019</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 124KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.12 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/crl-board-minutes-15-august-2019.pdf">
    <div class="document-download-text">
        <p>15 August 2019</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 174KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.17 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/crl-board-minutes-18-july-2019.pdf">
    <div class="document-download-text">
        <p>18 July 2019</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 252KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.25 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/crl-board-minutes-20-june-2019.pdf">
    <div class="document-download-text">
        <p>20 June 2019</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 304KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.30 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/crl-board-minutes-21-may-2019.pdf">
    <div class="document-download-text">
        <p>21 May 2019</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 554KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.54 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/crl-board-minutes-13-may-2019.pdf">
    <div class="document-download-text">
        <p>13 May 2019</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 91KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.09 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/crl-board-minutes-25-april-2019.pdf">
    <div class="document-download-text">
        <p>25 April 2019</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 170KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.17 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/crl-board-minutes-17-april-2019.pdf">
    <div class="document-download-text">
        <p>17 April 2019</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 150KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.15 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/crl-board-minutes-28-march-2019.pdf">
    <div class="document-download-text">
        <p>28 March 2019</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 150KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.15 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/crl-board-minutes-28-feb-2019.pdf">
    <div class="document-download-text">
        <p>28 February 2019</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 73KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.07 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/crl-board-minutes-31-jan-2019.pdf">
    <div class="document-download-text">
        <p>31 January 2019</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 62KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.06 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/crl-board-minutes-10-jan-2019.pdf">
    <div class="document-download-text">
        <p>10 January 2019</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 67KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.07 -->
 
</div>

</div>
 
<div>



<h2>2018 </h2>



<div class="multi-document-download-container">
    

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/crl-board-minutes-19-dec-2018.pdf">
    <div class="document-download-text">
        <p>19 December 2018</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 60KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.06 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/5-dec-2018-minutes-redacted.pdf">
    <div class="document-download-text">
        <p>5 Dec 2018</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 182KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.18 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/8-nov-2018-minutes-redacted.pdf">
    <div class="document-download-text">
        <p>8 Nov 2018</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 262KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.26 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/26-oct-2018-minutes-no-redactions-needed.pdf">
    <div class="document-download-text">
        <p>26 Oct 2018</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 161KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.16 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/11-oct-2018-minutes-redacted.pdf">
    <div class="document-download-text">
        <p>11 Oct 2018</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 305KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.30 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/crl-board-minutes-13-september-2018-redacted.pdf">
    <div class="document-download-text">
        <p>13 September 2018</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 916KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.89 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/crl-board-minutes-29-august-2018.pdf">
    <div class="document-download-text">
        <p>29 August 2018</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 531KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.52 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/crl-board-minutes-19-july-2018.pdf">
    <div class="document-download-text">
        <p>19 July 2018</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 1.28MB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 1.28 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/crl-board-minutes-21-june-2018.pdf">
    <div class="document-download-text">
        <p>21 June 2018</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 1.29MB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 1.29 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/crl-board-minutes-24-may-2018.pdf">
    <div class="document-download-text">
        <p>24 May 2018</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 1.31MB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 1.31 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/crl-board-minutes-26-april-2018.pdf">
    <div class="document-download-text">
        <p>26 April 2018</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 1.36MB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 1.36 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/crl-board-minutes-29-march-2018.pdf">
    <div class="document-download-text">
        <p>29 March 2018</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 1.24MB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 1.24 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/crl-board-minutes-01-march-2018.pdf">
    <div class="document-download-text">
        <p>1 March 2018</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 896KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.88 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/crl-board-minutes-01-february-2018.pdf">
    <div class="document-download-text">
        <p>1 February 2018</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 958KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.94 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/crl-board-minutes-11-january-2018.pdf">
    <div class="document-download-text">
        <p>11 January 2018</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 942KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.92 -->
 
</div>

</div>
 
<div>



<h2>2017</h2>



<div class="multi-document-download-container">
    

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/crl-board-minutes-07-december-2017.pdf">
    <div class="document-download-text">
        <p>7 December 2017</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 924KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.90 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/crl-board-minutes-09-november-2017.pdf">
    <div class="document-download-text">
        <p>9 November 2017</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 721KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.70 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/crl-board-minutes-12-october-2017.pdf">
    <div class="document-download-text">
        <p>12 October 2017</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 735KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.72 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/crl-board-minutes-14-september-2017.pdf">
    <div class="document-download-text">
        <p>14 September 2017</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 1.02MB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 1.02 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/crl-board-minutes-20-july-2017.pdf">
    <div class="document-download-text">
        <p>20 July 2017</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 857KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.84 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/crl-board-minutes-22-june-2017.pdf">
    <div class="document-download-text">
        <p>22 June 2017</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 191KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.19 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/crl-board-minutes-25-may-2017.pdf">
    <div class="document-download-text">
        <p>25 May 2017</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 742KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.72 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/crl-board-minutes-27-april-2017.pdf">
    <div class="document-download-text">
        <p>27 April 2017</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 907KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.89 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/crl-board-minutes-30-march-2017.pdf">
    <div class="document-download-text">
        <p>30 March 2017</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 662KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.65 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/crl-board-minutes-02-march-2017.pdf">
    <div class="document-download-text">
        <p>2 March 2017</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 685KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.67 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/crl-board-minutes-02-february-2017.pdf">
    <div class="document-download-text">
        <p>2 February 2017</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 664KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.65 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/crl-board-minutes-12-january-2017.pdf">
    <div class="document-download-text">
        <p>12 January 2017</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 787KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.77 -->
 
</div>

</div>
 
<div>



<h2>2016</h2>



<div class="multi-document-download-container">
    

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/crlb-161208-crl-board-minutes-signed-8-december-2016-redacted.pdf">
    <div class="document-download-text">
        <p>8 December 2016</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 1.26MB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 1.26 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/crlb-161110-crl-board-minutes-signed-10-november-2016-redacted.pdf">
    <div class="document-download-text">
        <p>10 November 2016</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 939KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.92 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/crlb-161013-crl-board-minutes-signed-13-october-2016-redacted.pdf">
    <div class="document-download-text">
        <p>13 October 2016</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 417KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.41 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/crlb-160915-crl-board-minutes-signed-15-september-2016-redacted.pdf">
    <div class="document-download-text">
        <p>15 September 2016</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 635KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.62 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/crlb-160721-crl-board-minutes-signed-21-july-2016-redacted.pdf">
    <div class="document-download-text">
        <p>21 July 2016</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 649KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.63 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/crlb-160623-crl-board-minutes-signed-23-june-2016-redacted.pdf">
    <div class="document-download-text">
        <p>23 June 2016</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 578KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.56 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/crlb-160526-crl-board-minutes-signed-26-may-2016-redacted.pdf">
    <div class="document-download-text">
        <p>26 May 2016</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 1.14MB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 1.14 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/crlb-160428-crl-board-minutes-signed-28-april-2016-redacted.pdf">
    <div class="document-download-text">
        <p>28 April 2016</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 6.40MB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 6.40 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/crlb-160331-crl-board-minutes-signed-31-march-2016-redacted.pdf">
    <div class="document-download-text">
        <p>31 March 2016</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 7.00MB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 7.00 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/crlb-160303-crl-board-minutes-signed-3-march-2016-redacted.pdf">
    <div class="document-download-text">
        <p>3 March 2016</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 7.09MB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 7.09 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/crlb-160204-crl-board-minutes-signed-4-february-2016-redacted.pdf">
    <div class="document-download-text">
        <p>4 February 2016</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 5.84MB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 5.84 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/crlb-160114-crl-board-minutes-signed-14-january-2016-redacted.pdf">
    <div class="document-download-text">
        <p>14 January 2016</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 7.16MB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 7.16 -->
 
</div>

</div>
 
<div>



<h2>2015</h2>



<div class="multi-document-download-container">
    

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/crlb-151205-crl-board-minutes-signed-5-december-2015-redacted.pdf">
    <div class="document-download-text">
        <p>5 December 2015</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 6.02MB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 6.02 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/crlb-151105-crl-board-minutes-signed-11-november-2015-redacted.pdf">
    <div class="document-download-text">
        <p>11 November 2015</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 6.54MB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 6.54 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/crlb-151008-crl-board-minutes-signed-15-october-2015-redacted.pdf">
    <div class="document-download-text">
        <p>15 October 2015</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 4.86MB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 4.86 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/crlb-150910-crl-board-minutes-signed-10-september-2015-redacted.pdf">
    <div class="document-download-text">
        <p>10 September 2015</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 6.48MB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 6.48 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/crlb-150716-crl-board-minutes-signed-16-july-2015-redacted.pdf">
    <div class="document-download-text">
        <p>16 July 2015</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 3.64MB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 3.64 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/crlb-150618-crl-board-minutes-signed-18-june-2015-redacted.pdf">
    <div class="document-download-text">
        <p>18 June 2015</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 7.62MB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 7.62 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/crlb-150527-crl-board-minutes-signed-27-may-2015-redacted.pdf">
    <div class="document-download-text">
        <p>27 May 2015</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 1.50MB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 1.50 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/crlb-150521-crl-board-minutes-signed-21-may-2015-redacted.pdf">
    <div class="document-download-text">
        <p>21 May 2015</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 3.94MB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 3.94 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/crlb-150423-crl-board-minutes-signed-23-april-2015-redacted.pdf">
    <div class="document-download-text">
        <p>23 April 2015</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 5.13MB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 5.13 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/crlb-150326-crl-board-minutes-signed-26-march-2015-redacted.pdf">
    <div class="document-download-text">
        <p>26 March 2015</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 6.87MB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 6.87 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/crlb-150226-crl-board-minutes-signed-26-february-2015-redacted.pdf">
    <div class="document-download-text">
        <p>26 February 2015</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 6.29MB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 6.29 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/crlb-150129-crl-board-minutes-signed-29-january-2015-redacted.pdf">
    <div class="document-download-text">
        <p>29 January 2015</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 5.58MB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 5.58 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/crlb-150108-crl-board-minutes-signed-08-january-2015-redacted.pdf">
    <div class="document-download-text">
        <p>08 January 2015</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 6.62MB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 6.62 -->
 
</div>

</div>
 
<div>



<h2>2014</h2>



<div class="multi-document-download-container">
    

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/crlb-141204-crl-board-minutes-signed-04-december-2014-redacted.pdf">
    <div class="document-download-text">
        <p>4 December 2014</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 5.71MB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 5.71 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/crlb-141106-crl-board-minutes-signed-06-november-2014-redacted.pdf">
    <div class="document-download-text">
        <p>6 November 2014</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 5.83MB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 5.83 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/crlb-141009-crl-board-minutes-signed-09-october-2014-redacted.pdf">
    <div class="document-download-text">
        <p>9 October 2014</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 3.61MB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 3.61 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/crlb-140911-crl-board-minutes-signed-11-september-2014-redacted.pdf">
    <div class="document-download-text">
        <p>11 September 2014</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 8.71MB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 8.71 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/crlb-140717-crl-board-minutes-signed-17-july-2014-redacted.pdf">
    <div class="document-download-text">
        <p>17 July 2014</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 9.31MB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 9.31 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/crlb-140619-crl-board-minutes-signed-19-june-2014-redacted.pdf">
    <div class="document-download-text">
        <p>19 June 2014</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 8.13MB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 8.13 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/crlb-140522-crl-board-minutes-signed-22-may-2014-redacted.pdf">
    <div class="document-download-text">
        <p>22 May 2014</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 7.69MB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 7.69 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/crlb-140424-crl-board-minutes-signed-24-april-2014-redacted.pdf">
    <div class="document-download-text">
        <p>24 April 2014</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 2.42MB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 2.42 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/crlb-140327-crl-board-minutes-signed-27-march-2014-redacted.pdf">
    <div class="document-download-text">
        <p>27 March 2014</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 5.40MB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 5.40 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/crlb-140227-crl-board-minutes-signed-27-february-2014-redacted.pdf">
    <div class="document-download-text">
        <p>27 February 2014</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 6.77MB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 6.77 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/crlb-140130-crl-board-minutes-signed-30-january-2014-redacted.pdf">
    <div class="document-download-text">
        <p>30 January 2014</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 3.73MB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 3.73 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/crlb-140109-crl-board-minutes-signed-09-january-2014-redacted.pdf">
    <div class="document-download-text">
        <p>9 January 2014</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 7.19MB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 7.19 -->
 
</div>

</div>
 
<div>



<h2>2013</h2>



<div class="multi-document-download-container">
    

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/crlb-131205-crl-board-minutes-signed-05-december-2013-redacted.pdf">
    <div class="document-download-text">
        <p>5 December 2013</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 5.06MB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 5.06 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/crlb-131107-crl-board-minutes-signed-07-november-2013-redacted.pdf">
    <div class="document-download-text">
        <p>7 November 2013</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 7.10MB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 7.10 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/crlb-131010-crl-board-minutes-signed-10-october-2013-redacted.pdf">
    <div class="document-download-text">
        <p>10 October 2013</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 4.16MB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 4.16 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/crlb-130912-crl-board-minutes-signed-12-september-2013-redacted.pdf">
    <div class="document-download-text">
        <p>12 September 2013</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 5.16MB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 5.16 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/crlb-130718-crl-board-minutes-signed-18-july-2013-redacted.pdf">
    <div class="document-download-text">
        <p>18 July 2013</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 4.16MB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 4.16 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/crlb-130620-crl-board-minutes-signed-20-june-2013-redacted.pdf">
    <div class="document-download-text">
        <p>20 June 2013</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 3.59MB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 3.59 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/crlb-130523-crl-board-minutes-signed-23-may-2013-redacted.pdf">
    <div class="document-download-text">
        <p>23 May 2013</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 5.38MB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 5.38 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/crlb-130425-crl-board-minutes-signed-25-april-2013-redacted.pdf">
    <div class="document-download-text">
        <p>25 April 2013</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 3.27MB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 3.27 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/crlb-130302-crl-board-minutes-signed-28-march-2013-redacted.pdf">
    <div class="document-download-text">
        <p>28 March 2013</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 4.83MB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 4.83 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/crlb-130228-crl-board-minutes-signed-28-february-2013-redacted.pdf">
    <div class="document-download-text">
        <p>28 February 2013</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 3.32MB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 3.32 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/crlb-130131-crl-board-minutes-signed-31-january-2013-redacted.pdf">
    <div class="document-download-text">
        <p>31 January 2013</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 6.69MB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 6.69 -->
 
</div>

</div>
 
      
        
          
            @this.ScriptBlock(
              @<script>
                queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
              </script>
            )
          
        
      
    </div>
  </div>
  <div class="aside" role="complementary">

   
    
    
    
    <div>
















<div class="advert-tile unsponsored-style google-ads" aria-hidden="true">
  <div class="advert-link">
    <div class="advert-content">
        <div class="medium-large" data-advert="/76889402/non-targeted" data-advert-sizes="300, 250"></div>
        <div class="small" data-advert="/76889402/non-targeted" data-advert-sizes="300, 250"></div>
    </div>
  </div>
</div>
@{
    ViewBag.AmazonSlot = "'amznslots'";
    ViewBag.AmazonAds = "'3199'"; // to add another value, this needs to be ViewBag.AmazonAds = "'3199','xx'";
}
      

 </div>
    
      <div class="module-grid clearfix">
                    
        <div class="related-links">

    <h3>Also on this site</h3>

<div class="vertical-button-container">

<a href="/corporate/publications-and-reports/crossrail-project-updates" class="plain-button">Crossrail project updates</a>
<a href="/corporate/publications-and-reports/crossrail-sponsor-board-minutes" class="plain-button">Crossrail sponsor board minutes</a>
    </div>
</div>
 
      </div>
    
    <div data-set="sidenav-container" class="small-medium"></div>
  </div>
</div>
 
 
        
        
        
            @{ViewBag.Description = "Minutes of Crossrail Ltd Board meetings";}
        
            
        


 