
    
  



@{ViewBag.Title = "Papers - past years";}
@{ViewBag.Keywords = "TfL";}
@{ViewBag.Url = "/corporate/publications-and-reports/cs-and-op-performance-past-years";}
@{ViewBag.Language = "en";}
        <!-- empty placeholder -->
 
        
        
<div class="r">
    <div class="breadcrumb-container" role="navigation">
        <span id="breadcrumb-label" class="visually-hidden">You are here:</span>
        <ol class="breadcrumbs clearfix" aria-labelledby="breadcrumb-label">
            <li class="home">
                <a href="/">
                    <span class="hide-text">Home</span>
                </a>
            </li>
            
                 <li><a href="/corporate/publications-and-reports/index">Publications & reports</a></li>
                
            
                 <li><a href="/corporate/publications-and-reports/customer-service-op-performance">Customer service & Op performance</a></li>
                
            
            
                <li><span class="last-breadcrumb">Papers - past years</span></li>
            
        
 
        
 
        
 
        </ol>
    </div>
</div>
     
 
<div class="r">
  <div class="headline-container plain">
    <h1>Papers - past years</h1>

  </div>
</div>
<div class="main-and-aside r">
  
  <div class="main content-container" role="main">
    
      <div class="article-teaser">
        Agendas and reports of the Customer service & Operational performance panel from before the current year.
        
      </div>
    
    
      
      
           
      <h2> 2018 meeting papers</h2>






    


<div class="accordion">
<div class="expandable-box">

        <div class="content">
            <div class="always-visible">
                <a class="controls" href="javascript:void(0);">&nbsp;</a>
                <div class="accordion-heading">
                    24 January
                </div>
            </div>
            <div class="start-hidden">
                <div class="multi-document-download-container">
                

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/csopp-20180124-agenda.pdf">
    <div class="document-download-text">
        <p>Agenda</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 39KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.04 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/csopp-20180124-part-1-item03-minutes.pdf">
    <div class="document-download-text">
        <p>Item 3 - Minutes of the Previous Meeting</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 44KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.04 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/csopp-20180124-part-1-item04-actions-list.pdf">
    <div class="document-download-text">
        <p>Item 4 - Matters Arising and Actions List</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 46KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.05 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/csopp-20180124-part-1-item05-quarterly-customer-services-ops-report.pdf">
    <div class="document-download-text">
        <p>Item 5 - Quarterly Customer Services and Operational Performance Report</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 7.12MB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 7.12 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/csopp-20180124-part-1-item06-night-tube-one-year-on.pdf">
    <div class="document-download-text">
        <p>Item 6 - Night Tube One Year On</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 263KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.26 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/csopp-20180124-part-1-item07-customer-information-strategy.pdf">
    <div class="document-download-text">
        <p>Item 7 - Customer Information Strategy: Signage and Wayfinding</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 3.72MB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 3.72 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/csopp-20180124-part-1-item08-forward-plan.pdf">
    <div class="document-download-text">
        <p>Item 8 - Member Suggestions for Future Agenda Items</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 64KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.06 -->
            
              </div>
            </div>
        </div>
 

   </div>
 <div class="expandable-box">

        <div class="content">
            <div class="always-visible">
                <a class="controls" href="javascript:void(0);">&nbsp;</a>
                <div class="accordion-heading">
                    06 June
                </div>
            </div>
            <div class="start-hidden">
                <div class="multi-document-download-container">
                

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/csopp-20180606-agenda.pdf">
    <div class="document-download-text">
        <p>Agenda</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 44KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.04 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/csopp-20180606-part-1-item03-minutes.pdf">
    <div class="document-download-text">
        <p>Item 3 - Minutes of the Meeting of the Panel held on 24 January 2018</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 32KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.03 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/csopp-20180606-part-1-item04-actions-list.pdf">
    <div class="document-download-text">
        <p>Item 4 - Matters Arising and Actions List</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 4.25MB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 4.25 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/csopp-20180606-part-1-item05-ops-report.pdf">
    <div class="document-download-text">
        <p>Item 5 - Quarterly Customer Services and Operational Performance Report</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 4.66MB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 4.66 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/csopp-20180606-part-1-item06-review-of-bus-services.pdf">
    <div class="document-download-text">
        <p>Item 6 - Review of Bus Services to London's Hospitals - Update</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 1.94MB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 1.94 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/csopp-20180606-part-1-item07-independent-evacuation.pdf">
    <div class="document-download-text">
        <p>Item 7 - Independent Evacuation of Disabled People from London Underground Stations </p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 23KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.02 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/csopp-20180606-part-1-item08-ats.pdf">
    <div class="document-download-text">
        <p>Item 8 - Assisted Transport Services</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 116KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.11 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/csopp-20180606-part-1-item09-lu-station-action-plan.pdf">
    <div class="document-download-text">
        <p>Item 9 - London Underground Station Action Plan</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 334KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.33 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/csopp-20180606-part-1-item10-member-suggestions.pdf">
    <div class="document-download-text">
        <p>Item 10 - Member Suggestions for Future Agenda Discussions</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 72KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.07 -->
            
              </div>
            </div>
        </div>
 

   </div>
 <div class="expandable-box">

        <div class="content">
            <div class="always-visible">
                <a class="controls" href="javascript:void(0);">&nbsp;</a>
                <div class="accordion-heading">
                    11 September
                </div>
            </div>
            <div class="start-hidden">
                <div class="multi-document-download-container">
                

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/csopp-11-sept-2018.pdf">
    <div class="document-download-text">
        <p>11 September 2018 - Agenda and Papers</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 9.58MB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 9.58 -->
            
              </div>
            </div>
        </div>
 

   </div>
 <div class="expandable-box">

        <div class="content">
            <div class="always-visible">
                <a class="controls" href="javascript:void(0);">&nbsp;</a>
                <div class="accordion-heading">
                    14 November
                </div>
            </div>
            <div class="start-hidden">
                <div class="multi-document-download-container">
                

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/csopp-20181114-agenda-and-papers.pdf">
    <div class="document-download-text">
        <p>14 November 2018 - agenda and papers</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 10.69MB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 10.69 -->
            
              </div>
            </div>
        </div>
 

   </div>
 
</div>
 <h2> 2017 meeting papers</h2>






    


<div class="accordion">
<div class="expandable-box">

        <div class="content">
            <div class="always-visible">
                <a class="controls" href="javascript:void(0);">&nbsp;</a>
                <div class="accordion-heading">
                    30 January
                </div>
            </div>
            <div class="start-hidden">
                <div class="multi-document-download-container">
                

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/csopp-20170130-part-1-item00-agenda.pdf">
    <div class="document-download-text">
        <p>Agenda</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 38KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.04 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/csopp-20170130-part-1-item03-minutes.pdf">
    <div class="document-download-text">
        <p>Item 3 - Minutes of the Previous Meeting</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 60KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.06 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/csopp-20170130-part-1-item04-actions-list.pdf">
    <div class="document-download-text">
        <p>Item 4 - Matters Arising and Actions List</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 158KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.15 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/csopp-20170130-part-1-item05-operational-performance-report.pdf">
    <div class="document-download-text">
        <p>Item 5 - Operational Performance Report</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 4.23MB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 4.23 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/csopp-20170130-part-1-item06-customer-performance-report.pdf">
    <div class="document-download-text">
        <p>Item 6 - Customer Performance Report</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 1.28MB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 1.28 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/csopp-20170130-part-1-item07-please-offer-me-a-seat.pdf">
    <div class="document-download-text">
        <p>Item 7 - Please Offer Me A Seat Badge and Card</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 547KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.53 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/csopp-20170130-part-1-item08-social-needs-transport.pdf">
    <div class="document-download-text">
        <p>Item 8 - Social Needs Transport</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 156KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.15 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/csopp-20170130-part-1-item09-major-road-works.pdf">
    <div class="document-download-text">
        <p>Item 9 - Major Roadworks in Central London in 2017</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 66KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.06 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/csopp-20170130-part-1-item10-taxis-update.pdf">
    <div class="document-download-text">
        <p>Item 10 - Taxi Fares and Tariffs Update </p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 57KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.06 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/csopp-20170130-part-1-item11-forward-plan.pdf">
    <div class="document-download-text">
        <p>Item 11 - Member Suggestions for Future Agenda Discussions</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 80KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.08 -->
            
              </div>
            </div>
        </div>
 

   </div>
 <div class="expandable-box">

        <div class="content">
            <div class="always-visible">
                <a class="controls" href="javascript:void(0);">&nbsp;</a>
                <div class="accordion-heading">
                    02 March
                </div>
            </div>
            <div class="start-hidden">
                <div class="multi-document-download-container">
                

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/csopp-20170302-part-1-agenda.pdf">
    <div class="document-download-text">
        <p>Agenda</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 43KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.04 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/csopp-20170302-part-1-item03-minutes.pdf">
    <div class="document-download-text">
        <p>Item 3 - Minutes of the Previous Meeting</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 39KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.04 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/csopp-20170302-part-1-item04-matters-arising-and-actions-list.pdf">
    <div class="document-download-text">
        <p>Item 4 - Matters Arising and Actions List</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 55KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.05 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/csopp-20171101-part-1-item05-customer-and-ops-performance-report.pdf">
    <div class="document-download-text">
        <p>Item 5 - Customer Performance Report</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 5.25MB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 5.25 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/csopp-20170302-part-1-item06-customer-information-strategy-and-programme.pdf">
    <div class="document-download-text">
        <p>Item 6 - Customer Information Strategy and Programme</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 2.30MB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 2.30 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/csopp-20170302-part-1-item07-operational-performance-report.pdf">
    <div class="document-download-text">
        <p>Item 7 - Operational Performance Report</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 4.53MB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 4.53 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/csopp-20170302-part-1-item08-night-tube-implementation.pdf">
    <div class="document-download-text">
        <p>Item 8 - Night Tube Implementation</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 50KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.05 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/csopp-20170302-part-1-item09-taxi-fares-and-tariffs-update.pdf">
    <div class="document-download-text">
        <p>Item 9 - Taxi Fares and Tariffs Update</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 75KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.07 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/csopp-20170302-part-1-item10-london-underground-station-action-plan.pdf">
    <div class="document-download-text">
        <p>Item 10 - London Underground Station Action Plan</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 204KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.20 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/csopp-20170302-part-1-item11-transparency.pdf">
    <div class="document-download-text">
        <p>Item 11 - Transparency</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 219KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.21 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/csopp-20170302-part-1-item12-forward-plan.pdf">
    <div class="document-download-text">
        <p>Item 12 - Member Suggestions for Future Agenda Discussions</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 108KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.11 -->
            
              </div>
            </div>
        </div>
 

   </div>
 <div class="expandable-box">

        <div class="content">
            <div class="always-visible">
                <a class="controls" href="javascript:void(0);">&nbsp;</a>
                <div class="accordion-heading">
                    13 July
                </div>
            </div>
            <div class="start-hidden">
                <div class="multi-document-download-container">
                

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/csopp-20170510-part-1-item00-agenda.pdf">
    <div class="document-download-text">
        <p>Agenda</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 46KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.04 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/csopp-20170510-part-1-item03-minutes.pdf">
    <div class="document-download-text">
        <p>Item 3 - Minutes of the Previous Meeting</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 37KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.04 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/csopp-20170510-part-1-item04-actions-list.pdf">
    <div class="document-download-text">
        <p>Item 4 - Matters Arising and Actions List</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 62KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.06 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/csopp-20170713-part-1-item05b-q4-report-updated.pdf">
    <div class="document-download-text">
        <p>Item 5 - Quarter 4 Customer and Operational Performance Report</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 4.11MB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 4.11 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/csopp-20170713-part-1-item06-review-of-bus-services-to-londons-hospitals.pdf">
    <div class="document-download-text">
        <p>Item 6 - Review of Bus Services to London's Hospitals</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 571KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.56 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/csopp-20170713-part-1-item07-taxi-and-private-licence-fees.pdf">
    <div class="document-download-text">
        <p>Item 7 - Taxi and Private Hire Licence Fees</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 282KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.28 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/csopp-20170713-part-1-item08-taxi-and-private-hire-an-overview-of-enforcement-routing.pdf">
    <div class="document-download-text">
        <p>Item 8- Taxi and Private Hire - An Overview of Enforcement Activity</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 54KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.05 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/csopp-20170713-part-1-item09-cash-free-trams.pdf">
    <div class="document-download-text">
        <p>Item 9 - Cash Free Trams</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 155KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.15 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/csopp-20170713-part-1-item10-future-mobility-business-models.pdf">
    <div class="document-download-text">
        <p>Item 10 - Future Mobility Business Models</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 178KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.17 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/csopp-20170713-part-1-item11-ticketing-improvements-for-customers.pdf">
    <div class="document-download-text">
        <p>Item 11 - Ticketing: Improvements for Customers and Driving Down Costs</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 763KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.75 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/csopp-20170713-part-1-item12-tfl-international-benchmarking-report.pdf">
    <div class="document-download-text">
        <p>Item 12 - TfL International Benchmarking</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 1.08MB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 1.08 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/csopp-20170713-part-1-item13-working-in-partnership.pdf">
    <div class="document-download-text">
        <p>Item 13 - Working in Partnership with Other UK Cities</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 32KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.03 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/csopp-20170713-part-1-item14-london-underground-stations-action-plan.pdf">
    <div class="document-download-text">
        <p>Item 14 - London Underground Station Action Plan</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 234KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.23 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/csopp-20170713-part-1-item15-travel-demand-management.pdf">
    <div class="document-download-text">
        <p>Item 15 - Travel Demand Management</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 1.35MB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 1.35 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/csopp-20170713-part-1-item16-social-needs-transport.pdf">
    <div class="document-download-text">
        <p>Item 16 - Social Needs Transport</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 47KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.05 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/csopp-20170713-part-1-item17-forward-plan.pdf">
    <div class="document-download-text">
        <p>Item 17 - Member Suggestions for Future Agenda Discussions</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 106KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.10 -->
            
              </div>
            </div>
        </div>
 

   </div>
 <div class="expandable-box">

        <div class="content">
            <div class="always-visible">
                <a class="controls" href="javascript:void(0);">&nbsp;</a>
                <div class="accordion-heading">
                    01 November
                </div>
            </div>
            <div class="start-hidden">
                <div class="multi-document-download-container">
                

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/csopp-20171101-part-1-agenda.pdf">
    <div class="document-download-text">
        <p>Agenda </p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 71KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.07 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/csopp-20170717-part-1-item03-minutes.pdf">
    <div class="document-download-text">
        <p>Item 3 - Minutes of the Meeting Held on 13 July 2017</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 163KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.16 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/csopp-20170717-part-1-item04-actions-list.pdf">
    <div class="document-download-text">
        <p>Item 4 - Matter Arising and Actions List</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 54KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.05 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/csopp-20171101-part-1-item05-customer-and-ops-performance-report.pdf">
    <div class="document-download-text">
        <p>Item 5 - Customer and Operational Performance Report Quarter 2</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 5.25MB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 5.25 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/csopp-20171101-part-1-item06-crime-and-confidence-on-public-transport.pdf">
    <div class="document-download-text">
        <p>Item 6 - Crime and Confidence on Public Transport</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 316KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.31 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/csopp-20171101-part-1-item07-assisted-transport-services.pdf">
    <div class="document-download-text">
        <p>Item 7 - Assisted Transport Services</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 325KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.32 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/csopp-20171101-part-1-item08-london-underground-station-action-plan.pdf">
    <div class="document-download-text">
        <p>Item 8 - London Underground Station Action Plan</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 370KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.36 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/csopp-20171101-part-1-item09-accessible-transport.pdf">
    <div class="document-download-text">
        <p>Item 9 - Accessible Transport</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 2.36MB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 2.36 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/csopp-20171101-part-1-item10-transparency-foi-data-protection.pdf">
    <div class="document-download-text">
        <p>Item 10 - Transparency, Freedom of Information and Data Protection</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 426KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.42 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/csopp-20171101-part-1-item11-forward-plan.pdf">
    <div class="document-download-text">
        <p>Item 11 - Member Suggestions for Future Agenda Items</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 82KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.08 -->
            
              </div>
            </div>
        </div>
 

   </div>
 
</div>
 <h2> 2016 meeting papers</h2>






    


<div class="accordion">
<div class="expandable-box">

        <div class="content">
            <div class="always-visible">
                <a class="controls" href="javascript:void(0);">&nbsp;</a>
                <div class="accordion-heading">
                    23 November
                </div>
            </div>
            <div class="start-hidden">
                <div class="multi-document-download-container">
                           
              </div>
            </div>
        </div>
 <p>The meeting scheduled for 23 November 2016 was rescheduled to 30 January 2017.</p>

   </div>
 
</div>
 
      
        
          
        
      
    
  </div>
  <div class="aside" role="complementary">

   
    
    
    
      <div data-set="sidenav-container" class="large">
        
        
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
                <a href="/corporate/publications-and-reports/customer-service-op-performance" class="heading">
                    <h2 id="sub-menu-heading">Customer service & Op performance<span class="visually-hidden"> navigation</span></h2>
                </a>
                <ul>
                    
                                <li class="selected"><div class="link-wrapper"><a href="/corporate/publications-and-reports/cs-and-op-performance-past-years">Papers - past years</a></div>
                            </li>
 
                                <li><div class="link-wrapper"><a href="/corporate/publications-and-reports/rail-and-underground-past-years">Rail & Underground 2006-2016</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/corporate/publications-and-reports/surface-transport-past-years">Surface Transport 2006-2016</a></div></li>
                            
 
                </ul>
            
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
      </div>
    
    <div>




















<div class="advert-tile unsponsored-style google-ads" aria-hidden="true">
  <div class="advert-link">
    <div class="advert-content">
        <div class="medium-large" data-advert="/76889402/non-targeted" data-advert-sizes="300, 250"></div>
        <div class="small" data-advert="/76889402/non-targeted" data-advert-sizes="300, 250"></div>
    </div>
  </div>
</div>
@{
    ViewBag.AmazonSlot = "'amznslots'";
    ViewBag.AmazonAds = "'3199'"; // to add another value, this needs to be ViewBag.AmazonAds = "'3199','xx'";
}
      

 </div>
    
    <div data-set="sidenav-container" class="small-medium"></div>
  </div>
</div>
 
 
        
        
        
            @{ViewBag.Description = "Customer service & Operational performance panel papers from before the current year";}
        
            
        


 