
    
  


<!-- rhroot -->
@{ViewBag.Title = "Customer service & Op performance";}
@{ViewBag.Keywords = "DLR passengers,London Overground passengers,Public,Tube passengers,C,R,S,Committee and panel meetings,DLR,London Overground,Rail,Tube,TfL";}
@{ViewBag.Url = "/corporate/publications-and-reports/customer-service-op-performance";}
@{ViewBag.Language = "en";}
        <!-- empty placeholder -->
 
        
        
<div class="r">
    <div class="breadcrumb-container" role="navigation">
        <span id="breadcrumb-label" class="visually-hidden">You are here:</span>
        <ol class="breadcrumbs clearfix" aria-labelledby="breadcrumb-label">
            <li class="home">
                <a href="/">
                    <span class="hide-text">Home</span>
                </a>
            </li>
            
                 <li><a href="/corporate/publications-and-reports/index">Publications & reports</a></li>
                
            
            
                <li><span class="last-breadcrumb">Customer service & Op performance</span></li>
            
        
 
        
 
        </ol>
    </div>
</div>
     
 
<div class="r">
  <div class="headline-container plain">
    <h1>Customer service & Op performance</h1>

  </div>
</div>
<div class="main-and-aside r">
  
  <div class="main content-container" role="main">
    
      <div class="article-teaser">
        The Customer service & Operational performance panel has a clear focus on delivery for TfL's customers, including accessibility and the sharing of learning from across the whole organisation. 
        
      </div>
    
    
      <p><strong>Members:</strong> Dr Mee Ling Ng OBE (Chair), Dr Alice Maynard CBE (Vice Chair),&nbsp;Bronwen Handyside,&nbsp;Anne McMeel&nbsp; and Dr Lynn Sloman</p>

<h2>Quarterly reports</h2>

<p>The panel produces quarterly reports that look at TfL's performance in relation to the themes of the <a href="/corporate/about-tfl/the-mayors-transport-strategy">Mayor's Transport Strategy</a>.</p>
      
           
      <div class="accordion">




<div class="expandable-box">




        <div class="content">
            <div class="always-visible" role="button" aria-controls="2019/2020-content" aria-expanded="false" tabindex="0">
                <div class="controls" data-tracking="prop36" data-tracking-value="Customer service & Op performance-2019/2020"><span class="visually-hidden">Toggle accordion</span></div>
                <div id="2019/2020-heading" class="accordion-heading">2019/2020</div>
            </div>
            <div id="2019/2020-content" class="start-hidden" role="region" aria-labelledby="2019/2020-heading">


<div>





<div class="multi-document-download-container">
    

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/customer-service-and-operational-performance-report-2019-20-q2.pdf">
    <div class="document-download-text">
        <p>Q2: 23 June 2019 - 14 September 2019</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 11.47MB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 11.47 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/customer-service-and-operational-performance-report-2019-20-q1.pdf">
    <div class="document-download-text">
        <p>Q1: 1 April 2019 - 22 June 2019</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 6.37MB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 6.37 -->
 
</div>

</div>
 
            </div>
        </div>
    </div>
 <div class="expandable-box">




        <div class="content">
            <div class="always-visible" role="button" aria-controls="2018/2019-content" aria-expanded="false" tabindex="0">
                <div class="controls" data-tracking="prop36" data-tracking-value="Customer service & Op performance-2018/2019"><span class="visually-hidden">Toggle accordion</span></div>
                <div id="2018/2019-heading" class="accordion-heading">2018/2019</div>
            </div>
            <div id="2018/2019-content" class="start-hidden" role="region" aria-labelledby="2018/2019-heading">


<div>





<div class="multi-document-download-container">
    

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/customer-service-and-operational-performance-report-2018-19-q4.pdf">
    <div class="document-download-text">
        <p>Q4: 9 December 2018 - 31 March 2019</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 5.61MB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 5.61 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/customer-service-and-operational-performance-report-2018-19-q3.pdf">
    <div class="document-download-text">
        <p>Q3: 16 September 2018 - 8 December 2018</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 16.72MB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 16.72 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/customer-service-and-operational-performance-report-2018-19-q2.pdf">
    <div class="document-download-text">
        <p>Q2: 24 June 2018 &#45; 15 September 2018</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 6.43MB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 6.43 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/customer-service-and-operational-performance-report-2018-19-q1.pdf">
    <div class="document-download-text">
        <p>Q1: 1 April 2018 &#45; 23 June 2018</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 7.07MB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 7.07 -->
 
</div>

</div>
 
            </div>
        </div>
    </div>
 <div class="expandable-box">




        <div class="content">
            <div class="always-visible" role="button" aria-controls="2017/2018-content" aria-expanded="false" tabindex="0">
                <div class="controls" data-tracking="prop36" data-tracking-value="Customer service & Op performance-2017/2018"><span class="visually-hidden">Toggle accordion</span></div>
                <div id="2017/2018-heading" class="accordion-heading">2017/2018</div>
            </div>
            <div id="2017/2018-content" class="start-hidden" role="region" aria-labelledby="2017/2018-heading">


<div>





<div class="multi-document-download-container">
    

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/customer-service-and-operational-performance-report-2017-18-q4.pdf">
    <div class="document-download-text">
        <p>Q4: 10 December 2017 - 31 March 2018</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 4.61MB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 4.61 -->
 
</div>

</div>
 
            </div>
        </div>
    </div>
 
</div>
 <h2> 2020 meeting papers</h2>






    


<div class="accordion">
<div class="expandable-box">

        <div class="content">
            <div class="always-visible">
                <a class="controls" href="javascript:void(0);">&nbsp;</a>
                <div class="accordion-heading">
                    01 July
                </div>
            </div>
            <div class="start-hidden">
                <div class="multi-document-download-container">
                           
              </div>
            </div>
        </div>
 

   </div>
 <div class="expandable-box">

        <div class="content">
            <div class="always-visible">
                <a class="controls" href="javascript:void(0);">&nbsp;</a>
                <div class="accordion-heading">
                    27 February
                </div>
            </div>
            <div class="start-hidden">
                <div class="multi-document-download-container">
                

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/csopp-20200227-public-agenda-pack.pdf">
    <div class="document-download-text">
        <p>27 February 2020 - agenda and papers</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 9.73MB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 9.73 -->
            
              </div>
            </div>
        </div>
 

   </div>
 
</div>
 <h2> 2019 meeting papers</h2>






    


<div class="accordion">
<div class="expandable-box">

        <div class="content">
            <div class="always-visible">
                <a class="controls" href="javascript:void(0);">&nbsp;</a>
                <div class="accordion-heading">
                    13 February
                </div>
            </div>
            <div class="start-hidden">
                <div class="multi-document-download-container">
                

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/csop-panel-20190213-agenda-and-papers.pdf">
    <div class="document-download-text">
        <p>13 February 2019 - agenda and papers</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 21.91MB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 21.91 -->
            
              </div>
            </div>
        </div>
 

   </div>
 <div class="expandable-box">

        <div class="content">
            <div class="always-visible">
                <a class="controls" href="javascript:void(0);">&nbsp;</a>
                <div class="accordion-heading">
                    13 June
                </div>
            </div>
            <div class="start-hidden">
                <div class="multi-document-download-container">
                

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/csopp-20190613-public-agenda-and-papers.pdf">
    <div class="document-download-text">
        <p>13 June 2019 - agenda and papers</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 13.82MB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 13.82 -->
            
              </div>
            </div>
        </div>
 

   </div>
 <div class="expandable-box">

        <div class="content">
            <div class="always-visible">
                <a class="controls" href="javascript:void(0);">&nbsp;</a>
                <div class="accordion-heading">
                    12 September
                </div>
            </div>
            <div class="start-hidden">
                <div class="multi-document-download-container">
                

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/csopp-20190912-public-agenda-pack.pdf">
    <div class="document-download-text">
        <p>12 September 2019 - agenda and papers</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 7.34MB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 7.34 -->
            
              </div>
            </div>
        </div>
 

   </div>
 <div class="expandable-box">

        <div class="content">
            <div class="always-visible">
                <a class="controls" href="javascript:void(0);">&nbsp;</a>
                <div class="accordion-heading">
                    27 November
                </div>
            </div>
            <div class="start-hidden">
                <div class="multi-document-download-container">
                

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/csopp-20191127-public-agenda.pdf">
    <div class="document-download-text">
        <p>27 November 2019 - agenda and papers</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 14.29MB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 14.29 -->
            
              </div>
            </div>
        </div>
 

   </div>
 
</div>
 <div>

<p>TfL's decision-making structure and proceedings, together with Schemes of Delegation and Authorities, are laid out in the TfL standing orders. The TfL committees and panels document sets out the terms of reference for each committee and panel. Both TfL's standing orders and TfL committees and panels documents can be found on the <a href="/corporate/publications-and-reports/standing-orders">Standing orders page</a>.
</p>
<p>You are welcome to attend any meeting of TfL's Board, committees and/or panels. These are held in public, except where private, personal or specific financial information is to be discussed.</p>
<p>Papers are published five working days before each meeting (unless accepted by the relevant Chair as urgent items).</p>
<p>The date, time and venue for forthcoming meetings is listed on the public notice of meetings. This notice, plus further information on our meetings and Board Members, is available on the <a href="/corporate/about-tfl/how-we-work/how-we-are-governed">How we are governed page</a>. </p>
</div>
 
      
        
          
        
      
    
  </div>
  <div class="aside" role="complementary">

   
    
    
    
      <div data-set="sidenav-container" class="large">
        
        
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
                <a href="/corporate/publications-and-reports/customer-service-op-performance" class="heading">
                    <h2 id="sub-menu-heading">Customer service & Op performance<span class="visually-hidden"> navigation</span></h2>
                </a>
                <ul>
                    
                                <li><div class="link-wrapper"><a href="/corporate/publications-and-reports/cs-and-op-performance-past-years">Papers - past years</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/corporate/publications-and-reports/rail-and-underground-past-years">Rail & Underground 2006-2016</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/corporate/publications-and-reports/surface-transport-past-years">Surface Transport 2006-2016</a></div></li>
                            
 
                </ul>
            
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
      </div>
    
    <div>
















<div class="advert-tile unsponsored-style google-ads" aria-hidden="true">
  <div class="advert-link">
    <div class="advert-content">
        <div class="medium-large" data-advert="/76889402/non-targeted" data-advert-sizes="300, 250"></div>
        <div class="small" data-advert="/76889402/non-targeted" data-advert-sizes="300, 250"></div>
    </div>
  </div>
</div>
@{
    ViewBag.AmazonSlot = "'amznslots'";
    ViewBag.AmazonAds = "'3199'"; // to add another value, this needs to be ViewBag.AmazonAds = "'3199','xx'";
}
      

 </div>
    
      <div class="module-grid clearfix">
                    
        <div class="related-links">

    <h3>Also on this site</h3>

<div class="vertical-button-container">

<a href="/corporate/publications-and-reports/board-papers" class="plain-button">Board papers</a>
<a href="/corporate/publications-and-reports/standing-orders" class="plain-button">Standing orders</a>
    </div>
</div>
 
      </div>
    
    <div data-set="sidenav-container" class="small-medium"></div>
  </div>
</div>
 
 
        
        
        
            @{ViewBag.Description = "Agendas and minutes from the most recent Customer service & Operational performance panel meetings";}
        
            
        


 