
    
  



@{ViewBag.Title = "Customers' information needs";}
@{ViewBag.Keywords = "Boroughs,Businesses,Public,C,Accessible travel,Customer Research Library,Research,Safety and security,Special reports,TfL";}
@{ViewBag.Url = "/corporate/publications-and-reports/customers-information-needs";}
@{ViewBag.Language = "en";}
        <!-- empty placeholder -->
 
        
        
<div class="r">
    <div class="breadcrumb-container" role="navigation">
        <span id="breadcrumb-label" class="visually-hidden">You are here:</span>
        <ol class="breadcrumbs clearfix" aria-labelledby="breadcrumb-label">
            <li class="home">
                <a href="/">
                    <span class="hide-text">Home</span>
                </a>
            </li>
            
                 <li><a href="/corporate/publications-and-reports/index">Publications & reports</a></li>
                
            
            
                <li><span class="last-breadcrumb">Customers' information needs</span></li>
            
        
 
        
 
        </ol>
    </div>
</div>
     
 
<div class="r">
  <div class="headline-container plain">
    <h1>Customers' information needs</h1>

  </div>
</div>
<div class="main-and-aside r">
  
  <div class="main content-container" role="main">
    
      <div class="article-teaser">
        These reports form part of our Customer Research Library.
        
      </div>
    
    
      
    
      
           
      
<div>



<h2>Perceptions of London's streets among older people</h2>


<p>To explore older people's  perceptions of  London's streets and understand the barriers to walking to help inform TfL's new strategy  to walking</p>
<div class="multi-document-download-container">
    

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/older-people-walking-report.pdf">
    <div class="document-download-text">
        <p>Older people walking report</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 4.23MB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 4.23 -->
 
</div>

</div>
 
<div>



<h2>Perceptions of London's streets among children and their parents</h2>



<div class="multi-document-download-container">
    

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/children-walking-summary.pdf">
    <div class="document-download-text">
        <p>Children's walking summary</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 33KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.03 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/childrens-walking-report.pdf">
    <div class="document-download-text">
        <p>Children's walking report</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 1.88MB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 1.88 -->
 
</div>

</div>
 
<div>



<h2>Freight retiming and consolidation</h2>


<p>Understand current practices, barriers, benefits and reception to retiming and consolidating deliveries for both businesses and operators in London. </p>
<div class="multi-document-download-container">
    

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/retiming-and-consolidation-summary.pdf">
    <div class="document-download-text">
        <p>Freight retiming and consolidation summary</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 24KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.02 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/retiming-and-consolidation-report.pdf">
    <div class="document-download-text">
        <p>Retiming and consolidation report</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 3.36MB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 3.36 -->
 
</div>

</div>
 
<div>



<h2>MOBiNET Dial-a-Ride trial</h2>


<p>To explore customer reactions to the text/call alert service trialled on some Dial-a-Ride services to establish if this feature should be rolled out across all Dial-a-Ride services in London.
</p>
<div class="multi-document-download-container">
    

<a class="document-download-wrap pdf.pdf" href="/cdn/static/cms/documents/mobinet-dial-a-ride-trial-summary.pdf.pdf">
    <div class="document-download-text">
        <p>MOBiNET Dial-a-Ride trial summary</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF.PDF 70KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.07 -->
 

<a class="document-download-wrap pdf.pdf" href="/cdn/static/cms/documents/mobinet-dial-a-ride-trial-report.pdf.pdf">
    <div class="document-download-text">
        <p>MOBiNET Dial-a-Ride trial report</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF.PDF 25KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.02 -->
 
</div>

</div>
 
<div>



<h2>Attitudes towards walking</h2>


<p>To understand Londoners' frequency of walking, their attitudes towards increasing the amount they walk, and the motivators and barriers they face.</p>
<div class="multi-document-download-container">
    

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/attitudes-to-walking-summary.pdf">
    <div class="document-download-text">
        <p>Attitudes towards walking - summary</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 24KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.02 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/attitudes-to-walking-report.pdf">
    <div class="document-download-text">
        <p>Attitudes to walking report</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 472KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.46 -->
 
</div>

</div>
 
<div>



<h2>Quietways wayfinding user testing</h2>


<p>Understand what is working well in the Quietways signage design and how TfL can optimise on-street signage and wayfinding tools.</p>
<div class="multi-document-download-container">
    

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/quietways-research-summary.pdf">
    <div class="document-download-text">
        <p>Quietways research - summary</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 29KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.03 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/quietways-research.pdf">
    <div class="document-download-text">
        <p>Quietways research</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 7.88MB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 7.88 -->
 
</div>

</div>
 
<div>



<h2>Digital whiteboards desk review</h2>


<p>To provide an overview of insights from recent research projects related to customer information, whiteboards and digital formats.</p>
<div class="multi-document-download-container">
    

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/digital-whiteboards-summary.pdf">
    <div class="document-download-text">
        <p>Digital whiteboards summary</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 12KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.01 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/digital-whiteboards-report.pdf">
    <div class="document-download-text">
        <p>Digital whiteboards report</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 932KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.91 -->
 
</div>

</div>
 
<div>



<h2>Apps powered by TfL</h2>


<p>To understand the transport apps market and whether customers have any unmet needs. To identify any gaps/opportunities for TfL that could help inform the development of our apps strategy.</p>
<div class="multi-document-download-container">
    

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/app-research-summary.pdf">
    <div class="document-download-text">
        <p>Apps market report summary</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 29KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.03 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/apps-market-report.pdf">
    <div class="document-download-text">
        <p>Apps market report</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 1.93MB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 1.93 -->
 
</div>

</div>
 
<div>



<h2>Social media satisfaction</h2>


<p>To measure satisfaction with TfL social media channels and to understand their impact on travel behavior. </p>
<div class="multi-document-download-container">
    

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/social-media-satisfaction-survey-summary.pdf">
    <div class="document-download-text">
        <p>Social media satisfaction survey - summary</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 25KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.02 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/social-media-satisfaction-report.pdf">
    <div class="document-download-text">
        <p>Social media satisfaction report</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 655KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.64 -->
 
</div>

</div>
 
<div>



<h2>TfL and social media</h2>


<p>To understand TfL's role on social media and how our social media strategy can be better adapted to meet customer needs and expectations.  </p>
<div class="multi-document-download-container">
    

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/tfl-and-social-media-research-summary.pdf">
    <div class="document-download-text">
        <p>TfL and social media research - summary</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 66KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.06 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/tfl-and-social-media-report.pdf">
    <div class="document-download-text">
        <p>TfL and social media report</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 813KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.79 -->
 
</div>

</div>
 
<div>



<h2>Digital media monitor (among online Londoners) - autumn 2015</h2>


<p>To explore how Londoners use digital media to plan and make journeys. </p>
<div class="multi-document-download-container">
    

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/summary-digital-media-monitor-summary.pdf">
    <div class="document-download-text">
        <p>Digital media monitor summary</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 33KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.03 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/digital-media-monitor-report-autumn-2015.pdf">
    <div class="document-download-text">
        <p>Digital media monitor report</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 633KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.62 -->
 
</div>

</div>
 
<div>



<h2>Customer information touchpoints</h2>


<p>Reviewing customer needs and TfL's delivery of customer information. This work explores how TfL can develop and improve its customer information in order to improve its reputation and customer satisfaction, as well as keeping up with customer expectation
</p>
<div class="multi-document-download-container">
    

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/touchpoints-summary.pdf">
    <div class="document-download-text">
        <p>Touchpoints - summary</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 31KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.03 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/touchpoints-report.pdf">
    <div class="document-download-text">
        <p>Touchpoints report</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 0.99MB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.99 -->
 
</div>

</div>
 
<div>



<h2>TfL whiteboard posters</h2>


<p>Research to explore what role whiteboards play in the broader customer information strategy and how the design can be optimised to meet customers' needs.
</p>
<div class="multi-document-download-container">
    

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/tfl-whiteboard-posters-summary.pdf">
    <div class="document-download-text">
        <p>TfL whiteboard posters summary</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 39KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.04 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/tfl-whiteboard-posters.pdf">
    <div class="document-download-text">
        <p>TfL whiteboard posters</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 2.61MB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 2.61 -->
 
</div>

</div>
 
<div>



<h2>Good service trial</h2>


<p>Research to understand the views of staff and customers of the trial messaging around Good Service. </p>
<div class="multi-document-download-container">
    

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/good-service-summary.pdf">
    <div class="document-download-text">
        <p>Good service trial - summary</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 35KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.03 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/good-service-trial-evaluation-report.pdf">
    <div class="document-download-text">
        <p>Good service trial - evaluation report</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 338KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.33 -->
 
</div>

</div>
 
<div>



<h2>Twitter customer satisfaction</h2>



        <p>To assess satisfaction with the TfL Twitter feeds amongst users (September 2013)</p>
    
<div class="multi-document-download-container">
    

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/tfl-twitter-satisfaction-report-2013.pdf">
    <div class="document-download-text">
        <p>Twitter customer satisfaction report 2013</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 886KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.87 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/tfl-twitter-satisfaction-summary-2013.pdf">
    <div class="document-download-text">
        <p>Twitter customer satisfaction summary 2013</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 19KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.02 -->
 
</div>

</div>
 
<div>



<h2>Countdown and Live next bus research</h2>



        <p>To explore how customers feel about and use different sources of bus information, in particular to explore the value of Countdown at bus stops vs. other information sources (May 2013)</p>
    
<div class="multi-document-download-container">
    

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/countdown-and-live-next-bus-summary.pdf">
    <div class="document-download-text">
        <p>Countdown and Live next bus research - summary</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 42KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.04 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/countdown-and-live-next-bus-report-may-2013.pdf">
    <div class="document-download-text">
        <p>Countdown and Live Next Bus - full report</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 3.26MB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 3.26 -->
 
</div>

</div>
 
<div>



<h2>New Bus for London route 24</h2>



        <p>To assess the performance of a communications campaign to raise
        awareness of the introduction of New Bus for London to route 24
        (September 2013)&nbsp;</p>
    
<div class="multi-document-download-container">
    

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/new-bus-for-london-route-24-summary.pdf">
    <div class="document-download-text">
        <p>New Bus for London route 24 awareness survey - summary</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 62KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.06 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/tfl-new-bus-for-london-route-24-awareness.pdf">
    <div class="document-download-text">
        <p>New Bus for London route 24 awareness survey - full report</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 269KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.26 -->
 
</div>

</div>
 
<div>



<h2>Digital screen evaluation research</h2>



        <p>To evaluate the effectiveness of new format digital screens displaying bus arrival information and how well they are understood by customers (May 2013)</p>
    
<div class="multi-document-download-container">
    

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/digital-screens-research-summary.pdf">
    <div class="document-download-text">
        <p>Digital screen evaluation research - summary</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 80KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.08 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/digital-screens-research-report.pdf">
    <div class="document-download-text">
        <p>Digital screen evaluation research - full report</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 1.31MB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 1.31 -->
 
</div>

</div>
 
<div>



<h2>Twitter Customer Satisfaction 2012</h2>



        <p>Assess satisfaction with the TfL Twitter feeds among users. (December 2012)</p>
    
<div class="multi-document-download-container">
    

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/twitter-customer-satisfaction-summary.pdf">
    <div class="document-download-text">
        <p>Summary: Twitter Customer Satisfaction</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 15KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.01 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/twitter-customer-satisfaction-report.pdf">
    <div class="document-download-text">
        <p>Twitter Customer Satisfaction</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 249KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.24 -->
 
</div>

</div>
 <div>

<h2>Station WiFi Customer Experience</h2>
<p>To understand how customers are using LU station WiFi during their journeys.
(November 2012)</p>
<p><a href="/cdn/static/cms/documents/lu-wifi-research-summary.pdf">Summary (PDF 0.04MB)</a><br />
<a href="/cdn/static/cms/documents/lu-wifi-research-report.pdf">Full Report (PDF 2.26MB)</a></p>
<h2>Digital &amp; social media monitor</h2>
<p>Establish levels of various online activities including mobile internet and use of TfL's website.
(October 2012)</p>
<p><a href="/cdn/static/cms/documents/digital-media-monitor-oct-2012-summary.pdf">Summary (PDF 0.02MB)</a><br />
<a href="/cdn/static/cms/documents/digital-media-monitor-oct-2012-report.pdf">Full Report (PDF 0.42MB)</a></p>
<h2>TfL Website Development</h2>
<p>To  explore how TfL's website should develop in the light of specific responses to TfL's website and changing consumer use of digital media in general (August 2012)
</p>
<p><a href="/cdn/static/cms/documents/website-development-summary.pdf">Summary (PDF 0.04MB)</a><br />
<a href="/cdn/static/cms/documents/website-development-report.pdf">Full Report (PDF 2.06MB)</a></p>
<h2>&#64;TfLTrafficNews user profile survey</h2>
<p>To understand who uses the &#64;TfLTrafficNews Twitter feed, when, where and how, and what impact it has on TfL's reputation.
(July 2012)</p>
<p><a href="/cdn/static/cms/documents/traffic-news-twitter-survey-summary.pdf">Summary (PDF 0.03MB)</a><br />
<a href="/cdn/static/cms/documents/traffic-news-twitter-survey-report.pdf">Full Report (PDF 0.28MB)</a></p>
<h2>LU Customer Facing Language</h2>
<p>To evaluate whether there is a suitable alternative to the word 'severe' with regards to communicating delays to customers
(June 2012)</p>
<p><a href="/cdn/static/cms/documents/lu-customer-language-summary.pdf">Summary (PDF 0.01MB)</a><br />
<a href="/cdn/static/cms/documents/lu-customer-language-report.pdf">Full Report (PDF 1.36MB)</a></p>
<h2>London 2012 Road Events</h2>
<p>To understand the attitudes and awareness of the road events and impacts to the local areas
(June 2012)</p>
<p><a href="/cdn/static/cms/documents/road-event-closures-summary.pdf">Summary (PDF 0.03MB)</a><br />
<a href="/cdn/static/cms/documents/road-event-closures-report.pdf">Full Report (PDF 0.89MB)</a></p>
<h2>LU Engineering Works Maps</h2>
<p>To establish the most effective sign design to warn customers about oncoming traffic when alighting from the rear platform of the new Bus for London
(March 2012)</p>
<p><a href="/cdn/static/cms/documents/engineering-works-map-summary.pdf">Summary (PDF 0.01MB)</a><br />
<a href="/cdn/static/cms/documents/engineering-works-map-report.pdf">Full Report (PDF 0.42MB)</a></p>
<h2>Digital media monitor 2012</h2>
<p>Monitor customer uptake of web/mobile channels and changes in usage patterns, with particular interest in social media
(February 2012)</p>
<p><a href="/cdn/static/cms/documents/digital-media-monitor-summary.pdf">Summary (PDF 0.02MB)</a><br />
<a href="/cdn/static/cms/documents/digital-media-monitor-report-2011.pdf">Full Report (PDF 0.84MB)</a></p>
<h2>Social media use in TPH</h2>
<p>Scoping exercise looking at the use of social media among taxi and private hire drivers and customers
(November 2011)</p>
<p><a href="/cdn/static/cms/documents/social-media-taxi-private-hire-summary.pdf">Summary (PDF 0.02MB)</a><br />
<a href="/cdn/static/cms/documents/social-media-taxi-private-hire-report.pdf">Full Report (PDF 1.90MB)</a></p>
</div>
 <div>


        <p>Research into what our customers think and how they behave helps us identify their key issues, areas for improvement and allows us to seek their views on new initiatives to inform our decision making.</p>
        <h3>Conditions of use</h3>
        <p>The copyright of all reports in this library is owned by TfL and the provision of information under the Freedom of Information Act does not give the recipient a right to re-use the information in a way that would infringe copyright (for example, by publishing and issuing copies to the public).</p>
        <p>Brief extracts of the material may be reproduced under the fair dealing provisions of the Copyright, Designs and Patents Act 1988 for the purposes of research for non-commercial purposes, private study, criticism, review and news reporting.</p>
        <p>Contact us to arrange to use the material in this library for any other purpose.</p>
    
</div>
 
      
        
          
        
      
    
  </div>
  <div class="aside" role="complementary">

   
    
    
    
      <div data-set="sidenav-container" class="large">
        
        
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
      </div>
    
    <div>
















<div class="advert-tile unsponsored-style google-ads" aria-hidden="true">
  <div class="advert-link">
    <div class="advert-content">
        <div class="medium-large" data-advert="/76889402/non-targeted" data-advert-sizes="300, 250"></div>
        <div class="small" data-advert="/76889402/non-targeted" data-advert-sizes="300, 250"></div>
    </div>
  </div>
</div>
@{
    ViewBag.AmazonSlot = "'amznslots'";
    ViewBag.AmazonAds = "'3199'"; // to add another value, this needs to be ViewBag.AmazonAds = "'3199','xx'";
}
      

 </div>
    
      <div class="module-grid clearfix">
                    
        <div>

    <div class="contact-info-box">
         <div class="contact-info-header">
             <h3>Contact Customer Research Library</h3>
         </div>
        
        
        
        
        <div class="content-group">
            <p>
                
                
                
                
                
                
                
                
            </p>
            
        </div>
        
        <div class="content-group">
            
            
            
                
                
                
            
            
            <p>&nbsp;<a href="/help-and-contact/index">Use our contact forms</a></p>
        </div>
        
        
    </div>
</div>
 <div class="related-links">

    <h3>Customer Research Library reports</h3>

        We gather customers' views on a range of topics related to travelling in London
    
<div class="vertical-button-container">

<a href="http://www.tfl.gov.uk/corporate/publications-and-reports/?Category=Customer%20Research%20Library" class="plain-button">All reports</a>
    </div>
</div>
 
      </div>
    
    <div data-set="sidenav-container" class="small-medium"></div>
  </div>
</div>
 
 
        
        
        
            @{ViewBag.Description = "Reports into user experiences of our website, social media facilities and other digital media";}
        
            
        


 