
    
  



@{ViewBag.Title = "Cycle hire performance";}
@{ViewBag.Keywords = "Cyclists,C,Performance,Cycling,TfL";}
@{ViewBag.Url = "/corporate/publications-and-reports/cycle-hire-performance";}
@{ViewBag.Language = "en";}
        <!-- empty placeholder -->
 
        
        
<div class="r">
    <div class="breadcrumb-container" role="navigation">
        <span id="breadcrumb-label" class="visually-hidden">You are here:</span>
        <ol class="breadcrumbs clearfix" aria-labelledby="breadcrumb-label">
            <li class="home">
                <a href="/">
                    <span class="hide-text">Home</span>
                </a>
            </li>
            
                 <li><a href="/corporate/publications-and-reports/index">Publications & reports</a></li>
                
            
            
                <li><span class="last-breadcrumb">Cycle hire performance</span></li>
            
        
 
        
 
        </ol>
    </div>
</div>
     
 
<div class="r">
  <div class="headline-container plain">
    <h1>Cycle hire performance</h1>

  </div>
</div>
<div class="main-and-aside r">
  
  <div class="main content-container" role="main">
    
      <div class="article-teaser">
        We publish information on the performance of our cycle hire scheme, including statistics such as revenue generated and the most frequent journeys. Santander replaced Barclays as the sponsor of the scheme in March 2015.<BR>
        
      </div>
    
    <div class="on-this-page">
      
      
           
      <div>

<h2>Quarterly performance statistics</h2>

<p>Santander Cycles (previously Barclays Cycle Hire/BCH)</p>
</div>
 <div class="accordion">




<div class="expandable-box">




        <div class="content">
            <div class="always-visible" role="button" aria-controls="2019/20-content" aria-expanded="false" tabindex="0">
                <div class="controls" data-tracking="prop36" data-tracking-value="Cycle hire performance-2019/20"><span class="visually-hidden">Toggle accordion</span></div>
                <div id="2019/20-heading" class="accordion-heading">2019/20</div>
            </div>
            <div id="2019/20-content" class="start-hidden" role="region" aria-labelledby="2019/20-heading">


<div>





<div class="multi-document-download-container">
    

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/santander-cycles-quarterly-performance-q3-1920.pdf">
    <div class="document-download-text">
        <p>Quarterly performance report Q3 2019/20</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 2.12MB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 2.12 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/santander-cycles-quarterly-performance-q2-1920.pdf">
    <div class="document-download-text">
        <p>Quarterly performance report Q2 2019/20</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 2.13MB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 2.13 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/santander-cycles-quarterly-performance-q1-1920.pdf">
    <div class="document-download-text">
        <p>Quarterly performance report Q1 2019/20</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 2.13MB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 2.13 -->
 
</div>

</div>
 
            </div>
        </div>
    </div>
 
</div>
 
<div>





<div class="multi-document-download-container">
    
</div>

</div>
 <div class="accordion">




<div class="expandable-box">




        <div class="content">
            <div class="always-visible" role="button" aria-controls="2018/19-content" aria-expanded="false" tabindex="0">
                <div class="controls" data-tracking="prop36" data-tracking-value="Cycle hire performance-2018/19"><span class="visually-hidden">Toggle accordion</span></div>
                <div id="2018/19-heading" class="accordion-heading">2018/19</div>
            </div>
            <div id="2018/19-content" class="start-hidden" role="region" aria-labelledby="2018/19-heading">


<div>





<div class="multi-document-download-container">
    

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/santander-cycles-quarterly-performance-q4-1819.pdf">
    <div class="document-download-text">
        <p>Quarterly performance report Q4 2018/19</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 2.12MB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 2.12 -->
 
</div>

</div>
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/santander-cycles-quarterly-performance-q3-1819.pdf">
    <div class="document-download-text">
        <p>Quarterly performance report Q3 2018/19</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 366KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.36 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/santander-cycles-quarterly-performance-q2-1819.pdf">
    <div class="document-download-text">
        <p>Quarterly performance report Q2 2018/19</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 365KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.36 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/santander-cycles-quarterly-performance-q1-1819.pdf">
    <div class="document-download-text">
        <p>Quarterly performance report Q1 2018/19</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 364KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.36 -->
 
            </div>
        </div>
    </div>
 <div class="expandable-box">




        <div class="content">
            <div class="always-visible" role="button" aria-controls="2017/18-content" aria-expanded="false" tabindex="0">
                <div class="controls" data-tracking="prop36" data-tracking-value="Cycle hire performance-2017/18"><span class="visually-hidden">Toggle accordion</span></div>
                <div id="2017/18-heading" class="accordion-heading">2017/18</div>
            </div>
            <div id="2017/18-content" class="start-hidden" role="region" aria-labelledby="2017/18-heading">



<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/santander-cycles-quarterly-performance-q4-1718.pdf">
    <div class="document-download-text">
        <p>Quarterly performance report Q4</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 363KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.35 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/santander-cycles-transparency-to-end-of-december-2017.pdf">
    <div class="document-download-text">
        <p>Santander cycles transparency to end of December 2017</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 970KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.95 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/santander-cycles-transparency-to-end-of-september-2017.pdf">
    <div class="document-download-text">
        <p>Santander cycles transparency to end of September 2017</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 186KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.18 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/santander-cycles-transparency-to-end-of-june-2017.pdf">
    <div class="document-download-text">
        <p>Santander cycles transparency to end of June 2017</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 190KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.19 -->
 
            </div>
        </div>
    </div>
 <div class="expandable-box">




        <div class="content">
            <div class="always-visible" role="button" aria-controls="2016/17-content" aria-expanded="false" tabindex="0">
                <div class="controls" data-tracking="prop36" data-tracking-value="Cycle hire performance-2016/17"><span class="visually-hidden">Toggle accordion</span></div>
                <div id="2016/17-heading" class="accordion-heading">2016/17</div>
            </div>
            <div id="2016/17-content" class="start-hidden" role="region" aria-labelledby="2016/17-heading">



<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/santander-cycles-transparency-to-end-of-march-2017.pdf">
    <div class="document-download-text">
        <p>Santander Cycles transparency to end of March 2017</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 191KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.19 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/santander-cycles-transparency-to-end-of-december-2016.pdf">
    <div class="document-download-text">
        <p>Santander Cycles transparency to end of December 2016</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 574KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.56 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/santander-cycles-transparency-to-end-of-september-2016.pdf">
    <div class="document-download-text">
        <p>Santander Cycles transparency to end of September 2016</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 189KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.18 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/santander-cycles-transparency-to-end-of-june-2016.pdf">
    <div class="document-download-text">
        <p>Santander Cycles transparency to end June 2016</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 89KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.09 -->
 
            </div>
        </div>
    </div>
 <div class="expandable-box">




        <div class="content">
            <div class="always-visible" role="button" aria-controls="2015/16-content" aria-expanded="false" tabindex="0">
                <div class="controls" data-tracking="prop36" data-tracking-value="Cycle hire performance-2015/16"><span class="visually-hidden">Toggle accordion</span></div>
                <div id="2015/16-heading" class="accordion-heading">2015/16</div>
            </div>
            <div id="2015/16-content" class="start-hidden" role="region" aria-labelledby="2015/16-heading">



<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/sc-transparency-to-end-of-mar-2016.pdf">
    <div class="document-download-text">
        <p>Santander Cycles transparency to end March 2016</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 181KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.18 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/sc-transparency-to-end-of-dec-2015.pdf">
    <div class="document-download-text">
        <p>Santander Cycles transparency to end December 2015</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 552KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.54 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/santander-cycles-transparency-to-end-sept-2015.pdf">
    <div class="document-download-text">
        <p>Santander Cycles transparency to end September 2015 </p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 587KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.57 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/sc-transparency-to-end-jun-2015.pdf">
    <div class="document-download-text">
        <p>Santander Cycles transparency to end June 2015</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 202KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.20 -->
 
            </div>
        </div>
    </div>
 <div class="expandable-box">




        <div class="content">
            <div class="always-visible" role="button" aria-controls="2014/15-content" aria-expanded="false" tabindex="0">
                <div class="controls" data-tracking="prop36" data-tracking-value="Cycle hire performance-2014/15"><span class="visually-hidden">Toggle accordion</span></div>
                <div id="2014/15-heading" class="accordion-heading">2014/15</div>
            </div>
            <div id="2014/15-content" class="start-hidden" role="region" aria-labelledby="2014/15-heading">



<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/sc-transparency-to-end-march-2015.pdf">
    <div class="document-download-text">
        <p>Santander Cycles transparency to end March 2015</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 197KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.19 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/bch-transparency-to-dec-2014.pdf">
    <div class="document-download-text">
        <p>BCH transparency to end December 2014</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 574KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.56 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/bch-transparency-end-september-2014.pdf">
    <div class="document-download-text">
        <p>BCH transparency to end of September 2014</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 572KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.56 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/bch-transparency-end-june-2014.pdf">
    <div class="document-download-text">
        <p>BCH transparency to end June 2014</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 576KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.56 -->
 
            </div>
        </div>
    </div>
 <div class="expandable-box">




        <div class="content">
            <div class="always-visible" role="button" aria-controls="2013/14-content" aria-expanded="false" tabindex="0">
                <div class="controls" data-tracking="prop36" data-tracking-value="Cycle hire performance-2013/14"><span class="visually-hidden">Toggle accordion</span></div>
                <div id="2013/14-heading" class="accordion-heading">2013/14</div>
            </div>
            <div id="2013/14-content" class="start-hidden" role="region" aria-labelledby="2013/14-heading">



<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/bch-transparency-march-2014.pdf">
    <div class="document-download-text">
        <p>BCH transparency to end of March 2014</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 425KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.42 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/bch-transparency-december-2013.pdf">
    <div class="document-download-text">
        <p>BCH transparency to end of December 2013</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 429KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.42 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/bch-transparency-august-2013.pdf">
    <div class="document-download-text">
        <p>BCH transparency to end of August 2013</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 432KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.42 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/bch-transparency-june-2013.pdf">
    <div class="document-download-text">
        <p>BCH transparency to end of June 2013</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 386KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.38 -->
 
            </div>
        </div>
    </div>
 
</div>
 
<div>




<h2>Santander Cycles customer surveys </h2>
<p>Cycle hire scheme member and casual user customer satisfaction surveys (updated October 2017)</p>
<div class="multi-document-download-container">
    

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/santander-cycles-casuals-css-q2-2017-18.pdf">
    <div class="document-download-text">
        <p>Santander Cycles casual users customer satisfaction Q2 2017/18</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 893KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.87 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/santander-cycles-members-css-q2-2017-18.pdf">
    <div class="document-download-text">
        <p>Santander Cycles members customer satisfaction Q2 2017/18</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 1.44MB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 1.44 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/santander-cycle-hire-casuals-q2-2016-17.pdf">
    <div class="document-download-text">
        <p>Santander Cycles casual users customer satisfaction Q2 2016/17</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 888KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.87 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/santander-cycle-hire-members-q2-2016-17.pdf">
    <div class="document-download-text">
        <p>Santander Cycles members customer satisfaction Q2 2016/17</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 1.44MB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 1.44 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/santander-cycles-members.pdf">
    <div class="document-download-text">
        <p>Santander Cycles customer satisfaction and usage survey Q3 2015/16</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 1.36MB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 1.36 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/santander-cycles-casuals.pdf">
    <div class="document-download-text">
        <p>Santander Cycles casual users profile Q2 2015/16</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 859KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.84 -->
 
</div>

</div>
 
      
        
          
            @this.ScriptBlock(
              @<script>
                queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
              </script>
            )
          
        
      
    </div>
  </div>
  <div class="aside" role="complementary">

   
    
    
    
      <div data-set="sidenav-container" class="large">
        
        
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
      </div>
    
    <div>
















<div class="advert-tile unsponsored-style google-ads" aria-hidden="true">
  <div class="advert-link">
    <div class="advert-content">
        <div class="medium-large" data-advert="/76889402/non-targeted" data-advert-sizes="300, 250"></div>
        <div class="small" data-advert="/76889402/non-targeted" data-advert-sizes="300, 250"></div>
    </div>
  </div>
</div>
@{
    ViewBag.AmazonSlot = "'amznslots'";
    ViewBag.AmazonAds = "'3199'"; // to add another value, this needs to be ViewBag.AmazonAds = "'3199','xx'";
}
      

 </div>
    
      <div class="module-grid clearfix">
                    
        <div class="related-links">

    <h3>Also on this site</h3>

<div class="vertical-button-container">

<a href="/modes/cycling/santander-cycles" class="plain-button">Santander Cycles</a>
    </div>
</div>
 
      </div>
    
    <div data-set="sidenav-container" class="small-medium"></div>
  </div>
</div>
 
 
        
        
        
            @{ViewBag.Description = "Quarterly performance reports including statistics on revenue generated and the most frequent journeys";}
        
            
        


 