
    
  



@{ViewBag.Title = "Cycling & walking";}
@{ViewBag.Keywords = "Boroughs,Businesses,Cyclists,Pedestrians,Public,C,W,Customer Research Library,Special reports,Cycling,Walking,TfL";}
@{ViewBag.Url = "/corporate/publications-and-reports/cycling-and-walking";}
@{ViewBag.Language = "en";}
        <!-- empty placeholder -->
 
        
        
<div class="r">
    <div class="breadcrumb-container" role="navigation">
        <span id="breadcrumb-label" class="visually-hidden">You are here:</span>
        <ol class="breadcrumbs clearfix" aria-labelledby="breadcrumb-label">
            <li class="home">
                <a href="/">
                    <span class="hide-text">Home</span>
                </a>
            </li>
            
                 <li><a href="/corporate/publications-and-reports/index">Publications & reports</a></li>
                
            
            
                <li><span class="last-breadcrumb">Cycling & walking</span></li>
            
        
 
        
 
        </ol>
    </div>
</div>
     
 
<div class="r">
  <div class="headline-container plain">
    <h1>Cycling & walking</h1>

  </div>
</div>
<div class="main-and-aside r">
  
  <div class="main content-container" role="main">
    
      <div class="article-teaser">
        These reports form part of our Customer Research Library.
        
      </div>
    
    
      
    
      
           
      
<div>



<h2>Active people qualitative research (2019)</h2>


<p>The <a href="/corporate/about-tfl/the-mayors-transport-strategy">Mayor's Transport Strategy</a> target is for all Londoners to achieve 20 minutes of active travel a day by 2041, the recommended amount for good health.</p>

<p>In this qualitative study, 46 Londoners who were not meeting the target were challenged to incorporate 20 minutes of active travel into their daily journeys. Participants were selected from three areas where the four 'near market' TCoL segments live (based on propensity and potential for active travel).</p>

<p>Once this change was triggered, many of the perceived barriers disappeared and respondents reported experiencing personal and social benefits. Many voiced commitment to integrating active travel into their regular trips in future.</p>
<div class="multi-document-download-container">
    

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/tfl-active-people-debrief.pdf">
    <div class="document-download-text">
        <p>Active people debrief</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 2.58MB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 2.58 -->
 
</div>

</div>
 
<div>



<h2>Healthy Streets</h2>


<p>To measure the performance of streets on Healthy Streets indicators. Based on this, to provide a cluster solution grouping the nine street types, identify which indicators are most likely to drive overall satisfaction with the street environment and develop guidelines for a 'good' performance.&nbsp;</p>
<div class="multi-document-download-container">
    

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/healthy-streets-four-schemes-summary.pdf">
    <div class="document-download-text">
        <p>Healthy Streets four schemes summary</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 25KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.02 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/healthy-streets-four-schemes-report.pdf">
    <div class="document-download-text">
        <p>Healthy Streets four schemes report</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 893KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.87 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/healthy-streets-summary.pdf">
    <div class="document-download-text">
        <p>Healthy Streets summary</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 19KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.02 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/healthy-streets-report.pdf">
    <div class="document-download-text">
        <p>Healthy Streets report</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 1.12MB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 1.12 -->
 
</div>

</div>
 
<div>



<h2>Start Your Journey (SYJ) Zcard resource</h2>


<p>To identify how the resource is being used in schools, and to identify strengths, weaknesses and areas for improvement to support its future delivery. </p>
<div class="multi-document-download-container">
    

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/start-your-journey-zcard-summary.pdf">
    <div class="document-download-text">
        <p>Start Your Journey Zcard summary</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 24KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.02 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/start-your-journey-zcard-report.pdf">
    <div class="document-download-text">
        <p>Start Your Journey Zcard report</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 2.90MB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 2.90 -->
 
</div>

</div>
 
<div>



<h2>RideLondon travel demand management campaign</h2>


<p>To assess the effectiveness of a communication campaign designed to raise awareness of the potential impact on local residents of the RideLondon cycling events which took place over the weekend of 1-2 August 2015. The research gauged recognition of the campaign; awareness of and attitudes towards the events; and intended and actual behaviours.</p>
<div class="multi-document-download-container">
    

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/ride-london-tdm-campaign-summary.pdf">
    <div class="document-download-text">
        <p>RideLondon travel demand management campaign summary</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 24KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.02 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/ride-london-tdm-campaign-report.pdf">
    <div class="document-download-text">
        <p>RideLondon travel demand management campaign report</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 996KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.97 -->
 
</div>

</div>
 
<div>



<h2>TfL walking strategy for secondary schools</h2>


<p>To explore why levels of walking in secondary schools are so low and what our strategy should be to increase walking to school for secondary school pupils across London.</p>
<div class="multi-document-download-container">
    

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/walking-strategy-summary.pdf">
    <div class="document-download-text">
        <p>Walking strategy summary</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 29KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.03 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/walking-strategy-report.pdf">
    <div class="document-download-text">
        <p>Walking strategy report</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 2.72MB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 2.72 -->
 
</div>

</div>
 
<div>



<h2>Adult cycle training monitor 2014/15</h2>


<p>To measure impact of adult cycle training across London boroughs, specifically exploring over time whether there has been a change in behaviour, feelings of confidence and safety.  </p>
<div class="multi-document-download-container">
    

<a class="document-download-wrap pdf.pdf" href="/cdn/static/cms/documents/cycle-training-monitoring-summary.pdf.pdf">
    <div class="document-download-text">
        <p>Cycle training monitoring summary</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF.PDF 25KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.02 -->
 

<a class="document-download-wrap pdf.pdf" href="/cdn/static/cms/documents/cycle-training-monitoring-report.pdf.pdf">
    <div class="document-download-text">
        <p>Cycle training monitoring report</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF.PDF 584KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.57 -->
 
</div>

</div>
 
<div>



<h2>Prudential RideLondon 2015 evaluation</h2>


<p>To assess the impact of Prudential RideLondon on participants and spectators.</p>
<div class="multi-document-download-container">
    

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/prudential-ride-london-summary.pdf">
    <div class="document-download-text">
        <p>Prudential RideLondon summary</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 16KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.02 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/prudential-ride-london-report.pdf">
    <div class="document-download-text">
        <p>Prudential RideLondon report</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 992KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.97 -->
 
</div>

</div>
 
<div>



<h2>Vauxhall northern pedestrian tunnel evaluation</h2>


<p>To benchmark user experience of using the northern pedestrian tunnel at Vauxhall Cross ahead of infrastructure works.</p>
<div class="multi-document-download-container">
    

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/vauxhall-cross-summary.pdf">
    <div class="document-download-text">
        <p>Vauxhall Cross summary</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 27KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.03 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/vauxhall-cross-report.pdf">
    <div class="document-download-text">
        <p>Vauxhall Cross report</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 1.92MB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 1.92 -->
 
</div>

</div>
 
<div>



<h2>Nursery group analysis</h2>


<p>To better understand the 'nursery group' of cycle hire members and their experiences in the early days of being a member.</p>
<div class="multi-document-download-container">
    

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/nursery-group-summary.pdf">
    <div class="document-download-text">
        <p>Nursery group summary</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 16KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.02 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/nursery-group-report.pdf">
    <div class="document-download-text">
        <p>Nursery group report</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 3.06MB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 3.06 -->
 
</div>

</div>
 
<div>



<h2>Barclays Cycle Hire survey</h2>



<div class="multi-document-download-container">
    

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/bch-members-q3-2014-15.pdf">
    <div class="document-download-text">
        <p>Barclays Cycle Hire customer satisfaction and usage survey Q3 2014/15</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 2.38MB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 2.38 -->
 
</div>

</div>
 <div>

<h2> Attitudes towards cycling 2016</h2>
<p>Londoners' cycling behaviour and attitudes towards cycle use (September 2016)</p>
<p><a href="/cdn/static/cms/documents/attitudes-towards-cycling-autumn-2016-summary.pdf">Summary (PDF 8KB)</a><br />
<a href="/cdn/static/cms/documents/attitudes-to-cycling-2016.pdf">Full report (PDF 2MB)</a></p>
<h2>Attitudes towards cycling 2015</h2>
<p>Londoners' cycling behaviour and attitudes towards cycle use (September 2015) </p>
<p><a href="/cdn/static/cms/documents/attitudes-towards-cycling-sept%202015-summary.pdf">Summary (PDF 0.03MB)</a><br />
<a href="/cdn/static/cms/documents/atc-online-autumn-2015-report.pdf">Full report (PDF 1MB)</a></p>
<h2>Cycle Hire casual users</h2>
<p>A report giving a profile of casual users, and comparison with member profile. Also, how casual users use the Cycle Hire scheme and their satisfaction with the scheme including likes and dislikes
(February 2015)</p>
<p><a href="/cdn/static/cms/documents/bch-casual-users-profile-q2-2014-2015.pdf">Full report (PDF 1.09MB)</a>
</p>
<h2>Walking maps</h2>
<p>
The impact of bus stop letter points on walking maps
(July 2012)</p>
<p><a href="/cdn/static/cms/documents/walking-maps-research-summary.pdf">Summary (PDF 0.03MB)</a><br />
<a href="/cdn/static/cms/documents/walking-maps-research-report.pdf">Full report (PDF 0.43MB)</a></p>
<h2>Attitudes towards walking 2014</h2>
<p>Measures perception of, and attitudes towards walking (May 2014)</p>
<p><a href="/cdn/static/cms/documents/attitudes-to-walking-2014-summary.pdf">Summary (PDF 3.16KB)</a><br />
<a href="/cdn/static/cms/documents/attitudes-to-walking-2014-report.pdf">Full report (PDF 2.76KB)</a>
</p>
<h2>Attitudes towards cycling 2014</h2>
<p>Londoners cycling behaviour and attitudes towards use of the mode (November 2014)</p>
<p><a href="/cdn/static/cms/documents/attitudes-to-cycling-2014-summary.pdf">Summary (PDF 1.35KB)</a><br />
<a href="/cdn/static/cms/documents/attitudes-to-cycling-2014-report.pdf">Full report (PDF 4.61KB)</a></p>
<h2>Attitudes towards walking 2012</h2>
<p>
Londoners' frequency of walking, their attitudes towards increasing the amount they walk, and the motivators and barriers they face
(April 2012)</p>
<p><a href="/cdn/static/cms/documents/attitudes-to-walking-2012-summary.pdf">Summary (PDF 0.04MB)</a><br />
<a href="/cdn/static/cms/documents/attitudes-to-walking-2012-report.pdf">Full report (PDF 0.63MB)</a></p>
<h2>Attitudes towards cycling 2012</h2>
<p>
Londoners' cycling behaviour and attitudes towards use of the mode
(March 2012)</p>
<p><a href="/cdn/static/cms/documents/attitudes-towards-cycling-2012-summary.pdf">Summary (PDF 0.02MB)</a><br />
<a href="/cdn/static/cms/documents/attitudes-towards-cycling-2012-report.pdf">Full report (PDF 1.22MB)</a></p>
<h2>Barclays Cycle Hire membership</h2>
<p>
Profile of BCH members - includes demographics
(March 2012)</p>
<p><a href="/cdn/static/cms/documents/barclays-cycle-hire-profiling-summary.pdf">Summary (PDF 0.07MB)</a><br />
<a href="/cdn/static/cms/documents/barclays-cycle-hire-profiling-report.pdf">Full report (PDF 0.70MB)</a></p>
<h2>Waterloo congestion relief pilot</h2>
<p>
To lead a revolution in cycling and walking in London
(October 2011)</p>
<p><a href="/cdn/static/cms/documents/waterloo-congestion-relief-summary.pdf">Summary (PDF 0.01MB)</a><br />
<a href="/cdn/static/cms/documents/waterloo-congestion-relief-report.pdf">Full report (PDF 1.02MB)</a></p>
<h2>Attitudes towards walking 2011</h2>
<p>
Measure perceptions of, and attitudes towards, walking in London
(April 2011)</p>
<p><a href="/cdn/static/cms/documents/attitudes-to-walking-2011-research-summary.pdf">Summary (PDF 0.02MB)</a><br />
<a href="/cdn/static/cms/documents/attitudes-to-walking-2011-report.pdf">Full report (PDF 0.51MB)</a></p>
<h2>Attitudes towards cycling 2011</h2>
<p>
Annual survey to measure perceptions of, and attitudes towards, cycling in London
(April 2011)</p>
<p><a href="/cdn/static/cms/documents/attitutudes-towards-cycling-research-summary.pdf">Summary (PDF 0.02MB)</a><br />
<a href="/cdn/static/cms/documents/attitutudes-towards-cycling-presentation.pdf">Full report (PDF 1.00MB)</a></p>
<h2>Exploring the market for walking</h2>
<p>
Understand what would be the most effective measures to persuade and/or encourage people to walk more short trips
(April 2011)</p>
<p><a href="/cdn/static/cms/documents/exploring-the-near-market-for-walking-one-page-summary.pdf">Summary (PDF 0.02MB)</a><br />
<a href="/cdn/static/cms/documents/exploring-the-near-market-for-walking-presentation.pdf">Full report (PDF 2.89MB)</a></p>
<h2>London cycling safety code</h2>
<p>
How a London cycling safety code/tips may be of benefit to London's cyclists and encourage them to ride more safely (December 2010)</p>
<p><a href="/cdn/static/cms/documents/cycling-safety-code-one-page-summary.pdf">Summary (PDF 0.02MB)</a><br />
<a href="/cdn/static/cms/documents/cycling-safety-code-presentation.pdf">Full report (PDF 1.90MB)</a></p>
<h2>Olympic walking and cycling routes</h2>
<p>
User behaviour and views of the routes so that developments can be tailored appropriately and improvements evaluated
(October 2010)</p>
<p><a href="/cdn/static/cms/documents/olympic-walking-and-cycling-routes-one-page-summary.pdf">Summary (PDF 0.04MB)</a><br />
<a href="/cdn/static/cms/documents/olympic-walking-and-cycling-routes-report.pdf">Full report (PDF 1.23MB)</a></p>
<h2>Tour of Britain 2010</h2>
<p>
Evaluate awareness of the 2010 Tour of Britain and perceptions among those who attended the London leg of the event
(October 2010)</p>
<p><a href="/cdn/static/cms/documents/tour-of-britain-one-page-summary.pdf">Summary (PDF 0.02MB)</a><br />
<a href="/cdn/static/cms/documents/tour-of-britain-report.pdf">Full report (PDF 0.40MB)</a></p>
<h2>Legible London scheme in new areas</h2>
<p>
Measure the impact of Legible London in the three pilot areas of Southbank, Clearzones and Richmond &amp; Twickenham
(September 2010)</p>
<p><a href="/cdn/static/cms/documents/legible-london-scheme-evaluation-new-areas-one-page-summary.pdf">Summary (PDF 0.02MB)</a><br />
<a href="/cdn/static/cms/documents/legible-london-scheme-evaluation-new-areas-report.pdf">Full report (PDF 4.29MB)</a></p>
<h2>Cycle Hire 2010</h2>
<p>
Development of two creative routes and a leaflet for the Cycle Hire scheme
(March 2010)</p>
<p><a href="/cdn/static/cms/documents/research-summary-cycle-hire-communications-development.pdf">Summary (PDF 0.02MB)</a><br />
<a href="/cdn/static/cms/documents/cycle-hire-communications-development-presentation.pdf">Full report (PDF 2.46MB)</a></p>
<h2>Intelligent speed adaption design</h2>
<p>
Drivers' and managers' experiences of using ISA systems in council vehicles
(December 2009)</p>
<p><a href="/cdn/static/cms/documents/intelligent-speed-adaption-design-one-page-summary.pdf">Summary (PDF 0.02MB)</a><br />
<a href="/cdn/static/cms/documents/intelligent-speed-adaption-design-report.pdf">Full report (PDF 0.33MB)</a></p>
<h2>Cycle Superhighways impact</h2>
<p>
Route users' perceptions and preferences from two alternative designs of road markings to highlight the Cycle Superhighway in bus lanes
(December 2009)</p>
<p><a href="/cdn/static/cms/documents/research-summary-cycle-superhighways-streetscape-impact.pdf">Summary (PDF 0.03MB)</a><br />
<a href="/cdn/static/cms/documents/cycle-superhighways-streetscape-impact-report.pdf">Full report (PDF 1.69MB)</a></p>
<h2>Cycle safety</h2>
<p>
Exploration of how well the proposed creative ideas communicate that road users should look out for cyclists
(November 2009)</p>
<p><a href="/cdn/static/cms/documents/cycle-safety-communications-development-one-page-summary.pdf">Summary (PDF 0.02MB)</a><br />
<a href="/cdn/static/cms/documents/cycle-safety-communications-development-presentation.pdf">Full report (PDF 0.67MB)</a></p>
<h2>Tour of Britain 2009 </h2>
<p>
Awareness of the 2009 Tour of Britain and perceptions among those who attended the London leg of the event
(October 2009)</p>
<p><a href="/cdn/static/cms/documents/research-summary-tour-of-britain-2009.pdf">Summary (PDF 0.02MB)</a><br />
<a href="/cdn/static/cms/documents/tour-of-britain-2009-report.pdf">Full report (PDF 0.20MB)</a></p>
<h2>Cycle Superhighways brand</h2>
<p>
Testing of options for naming and branding the Cycle Superhighways, to understand which will make them most recognisable, distinguishable and convey the right impression of them to potential users
(July 2009)</p>
<p><a href="/cdn/static/cms/documents/research-summary-cycle-highways-brand-communications-development.pdf">Summary (PDF 0.02MB)</a><br />
<a href="/cdn/static/cms/documents/cycle-superhighways-brand-communications-development-presentation.pdf">Full report (PDF 1.27MB)</a></p>
<h2>Walking  - exploratory research</h2>
<p>
Detailed exploration of attitudes to walking
(April 2009)</p>
<p><a href="/cdn/static/cms/documents/research-summary-walking-exploratory-research-for-communications-development.pdf">Summary (PDF 0.02MB)</a><br />
<a href="/cdn/static/cms/documents/walking-exploratory-research-for-communications-development-presentation.pdf">Full report (PDF 1.96MB)</a></p>
<h2>Cycling tipping points</h2>
<p>
Triggers, how new cyclists prepare themselves and how they overcome their barriers to start cycling
(April 2009)</p>
<p><a href="/cdn/static/cms/documents/research-summary-cycling-tipping-points.pdf">Summary (PDF 0.03MB)</a><br />
<a href="/cdn/static/cms/documents/cycling-tipping-points-presentation.pdf">Full report (PDF 1.84MB)</a></p>
<h2>Development of cycle highways</h2>
<p>
Evaluation of the Mayor's plan to encourage cycling by clearly marking out cycling routes into central London
(February 2009)</p>
<p><a href="/cdn/static/cms/documents/research-summary-development-of-cycle-superhighways.pdf">Summary (PDF 0.03MB)</a><br />
<a href="/cdn/static/cms/documents/development-cycle-rhighways-report.pdf">Full report (PDF 0.29MB)</a></p>
<h2>Motivating the market about cycling</h2>
<p>
Barriers and motivators for cycling amongst the near market and reactions to propositions and interventions
(February 2009)</p>
<p><a href="/cdn/static/cms/documents/research-summary-motivating-the-near-market-about-cycling.pdf">Summary (PDF 0.02MB)</a><br />
<a href="/cdn/static/cms/documents/motivating-the-near-market-about-cycling-pres.pdf">Full report (PDF 0.86MB)</a></p>
<h2>Wimbledon walk to school</h2>
<p>
Options to dissuade girls from two schools in Wimbledon congregating around the town centre bus stops before and after school
(December 2008)</p>
<p><a href="/cdn/static/cms/documents/research-summary-wimbledon-walk-to-schools.pdf">Summary (PDF 0.02MB)</a><br />
<a href="/cdn/static/cms/documents/wimbledon-walk-to-school-report.pdf">Full report (PDF 0.42MB)</a></p>
<h2>Tour of Britain 2008 evaluation</h2>
<p>
Awareness of the London stage of the Tour of Britain pre and post marketing of the event
(October 2008)</p>
<p><a href="/cdn/static/cms/documents/research-summary-tour-of-britain-oheight-evaluation.pdf">Summary (PDF 0.02MB)</a><br />
<a href="/cdn/static/cms/documents/tour-of-britain-oheight-evaluation-report.pdf">Full report (PDF 0.12MB)</a></p>
</div>
 <div>


        <p>Research into what our customers think and how they behave helps us identify their key issues, areas for improvement and allows us to seek their views on new initiatives to inform our decision making.</p>
        <h3>Conditions of use</h3>
        <p>The copyright of all reports in this library is owned by TfL and the provision of information under the Freedom of Information Act does not give the recipient a right to re-use the information in a way that would infringe copyright (for example, by publishing and issuing copies to the public).</p>
        <p>Brief extracts of the material may be reproduced under the fair dealing provisions of the Copyright, Designs and Patents Act 1988 for the purposes of research for non-commercial purposes, private study, criticism, review and news reporting.</p>
        <p>Contact us to arrange to use the material in this library for any other purpose.</p>
    
</div>
 
      
        
          
        
      
    
  </div>
  <div class="aside" role="complementary">

   
    
    
    
      <div data-set="sidenav-container" class="large">
        
        
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
      </div>
    
    <div>
















<div class="advert-tile unsponsored-style google-ads" aria-hidden="true">
  <div class="advert-link">
    <div class="advert-content">
        <div class="medium-large" data-advert="/76889402/non-targeted" data-advert-sizes="300, 250"></div>
        <div class="small" data-advert="/76889402/non-targeted" data-advert-sizes="300, 250"></div>
    </div>
  </div>
</div>
@{
    ViewBag.AmazonSlot = "'amznslots'";
    ViewBag.AmazonAds = "'3199'"; // to add another value, this needs to be ViewBag.AmazonAds = "'3199','xx'";
}
      

 </div>
    
      <div class="module-grid clearfix">
                    
        <div>

    <div class="contact-info-box">
         <div class="contact-info-header">
             <h3>Contact Customer Research Library</h3>
         </div>
        
        
        
        
        <div class="content-group">
            <p>
                
                
                
                
                
                
                
                
            </p>
            
        </div>
        
        <div class="content-group">
            
            
            
                
                
                
            
            
            <p>&nbsp;<a href="/help-and-contact/index">Use our contact forms</a></p>
        </div>
        
        
    </div>
</div>
 <div class="related-links">

    <h3>Customer Research Library reports</h3>

        We gather customers' views on a range of topics related to travelling in London
    
<div class="vertical-button-container">

<a href="http://www.tfl.gov.uk/corporate/publications-and-reports/?Category=Customer%20Research%20Library" class="plain-button">All reports</a>
    </div>
</div>
 
      </div>
    
    <div data-set="sidenav-container" class="small-medium"></div>
  </div>
</div>
 
 
        
        
        
            @{ViewBag.Description = "These reports focus on a range of cycling and walking-related issues";}
        
            
        


 