
    
  



@{ViewBag.Title = "Cycling";}
@{ViewBag.Keywords = "Cyclists,Public,C,Special reports,Cycling,TfL";}
@{ViewBag.Url = "/corporate/publications-and-reports/cycling";}
@{ViewBag.Language = "en";}
        <!-- empty placeholder -->
 
        
        
<div class="r">
    <div class="breadcrumb-container" role="navigation">
        <span id="breadcrumb-label" class="visually-hidden">You are here:</span>
        <ol class="breadcrumbs clearfix" aria-labelledby="breadcrumb-label">
            <li class="home">
                <a href="/">
                    <span class="hide-text">Home</span>
                </a>
            </li>
            
                 <li><a href="/corporate/publications-and-reports/index">Publications & reports</a></li>
                
            
            
                <li><span class="last-breadcrumb">Cycling</span></li>
            
        
 
        
 
        </ol>
    </div>
</div>
     
 
<div class="r">
  <div class="headline-container plain">
    <h1>Cycling</h1>

  </div>
</div>
<div class="main-and-aside r">
  
  <div class="main content-container" role="main">
    
      <div class="article-teaser">
        We produce a range of publications covering our cycling activities.
        
      </div>
    
    
      
      
           
      
<div>



<h2>New cycle route quality criteria</h2>


<p>The New cycle route quality criteria will help us continue to improve the quality of the cycle network in London. The six criteria are designed to be consistent with recommendations in the <a href="/corporate/publications-and-reports/streets-toolkit">London Cycling Design Standards</a> and - working alongside other guidance and tools - should be used to shape the design of new cycling infrastructure.</p>

<p>The spreadsheet tool allows planners and designers to&nbsp;use data to determine whether conditions are appropriate for routes to mix people cycling with motor traffic. The tool also recommends when dedicated space for cycling would be most appropriate.</p>

<p>The accompanying technical note describes the relationship of the six criteria and how the automated spreadsheet tool interprets the data.</p>
<div class="multi-document-download-container">
    

<a class="document-download-wrap xlsx" href="/cdn/static/cms/documents/cycle-route-quality-criteria-spreadsheet-tool-v1.xlsx">
    <div class="document-download-text">
        <p>New cycle route quality criteria - Spreadsheet tool</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            XLSX 815KB
            
        </p>
    </div>
    <div class="document-download-icon download-spread">
    </div>

</a>

<!-- 0.80 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/cycle-route-quality-criteria-technical-note-v1.pdf">
    <div class="document-download-text">
        <p>New cycle route quality criteria - Technical note </p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 1.45MB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 1.45 -->
 
</div>

</div>
 
<div>



<h2>Cycle parking implementation plan</h2>


<p>London's first cycle parking implementation plan builds on new data and analysis for a strategic, evidence-based approach to&nbsp;cycle parking across London. Launched in July 2019, the plan includes a set of short term targets to install cycle parking&nbsp;where it would support the most cycle journeys.</p>
<div class="multi-document-download-container">
    

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/cycle-parking-implementation-plan.pdf">
    <div class="document-download-text">
        <p>Cycle parking implementation plan - July 2019</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 6.12MB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 6.12 -->
 
</div>

</div>
 
<div>



<h2>New cycle infrastructure on London's streets</h2>


<h3>Summary report of on-street trials</h3>
<p>To assess whether recently delivered innovative infrastructure trials work as intended for all users, including a review of:</p>
<ul>
    <li>Hold-the-left-turn: ahead/left-turning cyclists and left-turning general traffic are separately signalled</li>
    <li>Early release: cyclists receive a green signal ahead of other traffic</li>
    <li>Two-stage turns: facilities enabling cyclists to wait between signal phases and therefore avoid turning in conflict with other traffic</li>
    <li>Cycle gates: cyclists proceed from an area ahead of other traffic in both time and space, and are held while general traffic proceeds</li>
    <li>Bus stop bypass crossings: a pedestrian crossing of a separate cycle track that runs behind the bus shelter</li>
</ul>
<p>This report summarises a series of detailed <a href="http://www.trl.co.uk">Transport Research Laboratory studies</a> which will be used to inform future updates to TfL's street design guidance.</p>
<div class="multi-document-download-container">
    

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/new-cycle-infrastructure-monitoring-report.pdf">
    <div class="document-download-text">
        <p>New cycle infrastructure monitoring report - July 2018</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 2.00MB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 2.00 -->
 
</div>

</div>
 
<div>




<h3>Guidance note - Pedestrian crossings at bus stop bypasses</h3>
<p>This guidance note provides an update to TfL's design guidance for pedestrian crossings at bus stop bypasses. It includes technical drawings for the arrangements tested as part of the new cycle infrastructure on London's streets report.</p>
<div class="multi-document-download-container">
    

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/guidance-note-pedestrian-crossings-at-bus-stop-bypasses.pdf">
    <div class="document-download-text">
        <p>Guidance note - Pedestrian crossings at bus stop bypasses</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 1.39MB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 1.39 -->
 
</div>

</div>
 
<div>



<h2>Strategic cycling analysis - June 2017</h2>



<div class="multi-document-download-container">
    

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/strategic-cycling-analysis.pdf">
    <div class="document-download-text">
        <p>Strategic cycling analysis</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 5.99MB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 5.99 -->
 
</div>

</div>
 
<div>



<h2>Cycling trends update - July 2019</h2>



<div class="multi-document-download-container">
    

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/cycling-trends-update.pdf">
    <div class="document-download-text">
        <p>Cycling trends update</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 203KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.20 -->
 
</div>

</div>
 <div class="accordion">




<div class="expandable-box">




        <div class="content">
            <div class="always-visible" role="button" aria-controls="publications-2010-to-2016-content" aria-expanded="false" tabindex="0">
                <div class="controls" data-tracking="prop36" data-tracking-value="Cycling-Publications 2010 to 2016"><span class="visually-hidden">Toggle accordion</span></div>
                <div id="publications-2010-to-2016-heading" class="accordion-heading">Publications 2010 to 2016</div>
            </div>
            <div id="publications-2010-to-2016-content" class="start-hidden" role="region" aria-labelledby="publications-2010-to-2016-heading">


<div>





<div class="multi-document-download-container">
    

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/tour-de-france-three-inspirational-days.pdf">
    <div class="document-download-text">
        <p>Tour de France 2014 - Three Inspirational Days</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 3.27MB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 3.27 -->
 
</div>

</div>
 
<div>





<div class="multi-document-download-container">
    

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/gla-mayors-cycle-vision-2013.pdf">
    <div class="document-download-text">
        <p>The Mayor's Vision for Cycling in London</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 1.63MB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 1.63 -->
 
</div>

</div>
 
<div>





<div class="multi-document-download-container">
    

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/international-cycling-infrastructure-best-practice-study.pdf">
    <div class="document-download-text">
        <p>International Cycling Infrastructure Best Practice Study</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 5.08MB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 5.08 -->
 
</div>

</div>
 
<div>





<div class="multi-document-download-container">
    

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/international-cycling-infrastructure-best-practice-study-appendix.pdf">
    <div class="document-download-text">
        <p>International Cycling Infrastructure Best Practice Study appendix</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 3.06MB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 3.06 -->
 
</div>

</div>
 
<div>





<div class="multi-document-download-container">
    

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/tour-de-france-three-inspirational-days-impact.pdf">
    <div class="document-download-text">
        <p>Tour de France 2014 - Impact</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 1.21MB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 1.21 -->
 
</div>

</div>
 
            </div>
        </div>
    </div>
 <div class="expandable-box">




        <div class="content">
            <div class="always-visible" role="button" aria-controls="publications-2006-to-2010-content" aria-expanded="false" tabindex="0">
                <div class="controls" data-tracking="prop36" data-tracking-value="Cycling-Publications 2006 to 2010"><span class="visually-hidden">Toggle accordion</span></div>
                <div id="publications-2006-to-2010-heading" class="accordion-heading">Publications 2006 to 2010</div>
            </div>
            <div id="publications-2006-to-2010-content" class="start-hidden" role="region" aria-labelledby="publications-2006-to-2010-heading">
<h3>2010</h3>
<h4>June</h4>
<p><a href="/cdn/static/cms/documents/no-entry-except-cycles-signing-review.pdf">'No entry except cycles' signing review (PDF 5.0MB)</a></p>
<h3>2009</h3>
<h4>October</h4>
<p><a href="/cdn/static/cms/documents/pedal-cyclist-fatalities-in-London-2001-2006.pdf">Analysis of police collision files for pedal cyclist fatalities in London, 2001-2006 (PDF 845KB)</a></p>
<h4>June</h4>
<p><a href="/cdn/static/cms/documents/Community-Cycling-Fund-for-London-Annual-Report-2008-09.pdf">Community Cycling Fund for London - annual report 2008-2009 (PDF 777KB)</a> <br />
<a href="/cdn/static/cms/documents/london-cycle-training-partnership-08-09-report.pdf">London Cycle Training Partnership - end of year report 2008-2009 (PDF 3.02MB) </a><br />
<a href="/cdn/static/cms/documents/london-cycle-training-partnership-spring2009-newsletter.pdf">London Cycle Training Partnership newsletter - spring 2009 (PDF 896KB)</a>
</p>
<h4>May</h4>
<p> <a href="/cdn/static/cms/documents/cycle-as-freight-may-2009.pdf">Cycle freight in London - a scoping study (PDF 1.41MB)</a> <br />
<a href="/cdn/static/cms/documents/attitudes-to-cycling-2009-research-summary.pdf">Attitudes to cycling research (PDF 15KB)</a>
</p>
<h3>2008</h3>
<h4>December</h4>
<p><a href="/cdn/static/cms/documents/lctp-mid-year-report-0809-version2.pdf">London Cycle Training Partnership - mid-year report 2008-09 (PDF 3.22MB)</a> <br />
<a href="/cdn/static/cms/documents/london-cycle-training-partnership-stakeholder-borough-minutes-nov-dec-08.pdf">London Cycle Training Partnership - minutes of borough stakeholder meetings November-December 2008 (PDF 291KB)</a> <br />
<a href="/cdn/static/cms/documents/london-cycle-training-ptship-ictp-stkhldr-mins-dec-08.pdf">London Cycle Training Partnership - minutes of independent cycle training provider stakeholder meetings November-December 2008 (PDF 167KB)</a></p>
<h4>November </h4>
<p><a href="/cdn/static/cms/documents/cycle-hire-scheme-feasibility-full-report-nov2008.pdf">Feasibility study for a central London cycle hire scheme - full report (PDF 3.52MB)</a> <br />
<a href="/cdn/static/cms/documents/london-cycle-training-partnership-newsletter-autumn-2008.pdf">London Cycle Training Partnership newsletter - autumn 2008 (PDF 795KB)</a></p>
<h4>October</h4>
<p><a href="/cdn/static/cms/documents/cycling-in-london-final-october-2008.pdf">Cycling in London - final report (PDF 4.24MB)</a></p>
<h4>August</h4>
<p><a href="/cdn/static/cms/documents/temporary-cycle-parking.pdf">Temporary cycle parking (PDF 824KB)</a></p>
<h4>July</h4>
<p> <a href="/cdn/static/cms/documents/ctc-london-bchmkg-project-final-report-jul-2008.pdf">London Cycling Benchmarking Project final report (PDF 1.07MB)</a> <br />
<a href="/cdn/static/cms/documents/london-cycling-training-partnership-strategy-july-2008.pdf">London Cycle Training Partnership strategy (PDF 316KB)</a></p>
<h4>June</h4>
<p> <a href="/cdn/static/cms/documents/attitudes-to-cycling-2008-research-report.pdf">Attitudes to cycling research report (PDF 527 KB)</a> <br />
<a href="/cdn/static/cms/documents/Community-Cycling-Fund-for-London-Annual-Report-2007-08.pdf">Community cycling fund for London - annual report 2007-08 (PDF 2MB)</a> <br />
<a href="/cdn/static/cms/documents/cyclists-use-of-zebra-crossings.pdf">Cyclists use of zebra crossings summary (PDF 42KB)</a> <br />
<a href="/cdn/static/cms/documents/shared-zebra-crossing-study.pdf">Shared zebra crossing study (PDF 1.82MB)</a></p>
<h4>May</h4>
<p><a href="/cdn/static/cms/documents/cycling-training-effectiveness-results-summary-2008.pdf">Cycling training effectiveness results - summary (PDF 161KB)</a> <br />
<a href="/cdn/static/cms/documents/cycling-on-greenways-equality-impact-assessment-action-plan.pdf">May 2008 Cycling on Greenways equality impact assessment action plan (PDF 25KB)</a></p>
<h3>2007</h3>
<h4>November</h4>
<p><a href="/cdn/static/cms/documents/tour-de-france-research-summary.pdf">Tour de France research summary (PDF 838KB)</a> <br />
<a href="/cdn/static/cms/documents/cycling-on-greenways-2007.pdf">Cycling on Greenways - equality impact assessment (PDF 513KB)</a></p>
<h4>October</h4>
<p><a href="/cdn/static/cms/documents/LCN-Link-alignments-SEP07-FINAL.pdf">LCN+ route alignment alternatives, night-time routes and LCN+ 'Spurs' (PDF 38KB)</a> <br />
<a href="/cdn/static/cms/documents/green-crisp-brief-version2.pdf">Green CRISP brief - version two (PDF 45KB)</a></p>
<h4>July</h4>
<p><a href="/cdn/static/cms/documents/final-monitoring-july07.pdf">TLRN cycling scheme - final monitoring report (PDF 1.46MB)</a> <br />
<a href="/cdn/static/cms/documents/CRISP-Report-and-Covering-Letter-Jul07.pdf">Response to a review of a sample of final CRISP reports for compliance with the CRISP brief and covering letter (PDF 94KB)</a></p>
<h4>April</h4>
<p><a href="/cdn/static/cms/documents/bicycle-recycling-schemes-London-scoping-study-april-2007.pdf">Bicycle recycling schemes in London - a scoping study (PDF 842KB)</a></p>
<h4>March</h4>
<p><a href="/cdn/static/cms/documents/Review-of-CRISP-reports.pdf">Review of a sample of final CRISP reports for compliance with the CRISP brief (PDF 1.5MB)</a></p>
<h4>January</h4>
<p><a href="/cdn/static/cms/documents/cycling-on-greenways-implementation-plan-consultation-summary.pdf">Cycling on Greenways - implementation plan - consultation summary (PDF 551KB)</a> <br />
<a href="/cdn/static/cms/documents/LCN-High-Risk-Barriers-Report.pdf">LCN+ high risk barriers report (PDF 2.06MB)</a></p>
<h3>2006</h3>
<h4>October</h4>
<p><a href="/cdn/static/cms/documents/ASL-Findings-Report-October-011106.pdf">Advanced stop line findings report (PDF 1.25MB)</a> <br />
<a href="/cdn/static/cms/documents/Workplace-Cycle-Parking-Guide.pdf">Workplace cycle parking guide (PDF 2.35MB)</a></p>
<h4>September</h4>
<p><a href="/cdn/static/cms/documents/share-the-road-september-2006.pdf">Share the Road (PDF 1.2MB)</a></p>
<h4>June</h4>
<p>
<a href="/cdn/static/cms/documents/TIRA-Progress-Review-Report.pdf">TIRA progress review report (PDF 317KB)</a>
</p>
<h4>No specified month</h4>
<p><a href="/cdn/static/cms/documents/cycle-london-community-grants-scheme-2006-1.pdf">Cycle London - community grants scheme (PDF 1.2MB)</a> </p>

            </div>
        </div>
    </div>
 <div class="expandable-box">




        <div class="content">
            <div class="always-visible" role="button" aria-controls="cycling-research-content" aria-expanded="false" tabindex="0">
                <div class="controls" data-tracking="prop36" data-tracking-value="Cycling-Cycling research"><span class="visually-hidden">Toggle accordion</span></div>
                <div id="cycling-research-heading" class="accordion-heading">Cycling research</div>
            </div>
            <div id="cycling-research-content" class="start-hidden" role="region" aria-labelledby="cycling-research-heading">


<div>





<div class="multi-document-download-container">
    

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/cycle-census-technical-note.pdf">
    <div class="document-download-text">
        <p>Cycle census technical note</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 1.05MB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 1.05 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/analysis-of-cycling-potential.pdf">
    <div class="document-download-text">
        <p>Analysis of cycling potential</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 2.33MB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 2.33 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/barriers-to-cycling-for-ethnic-minorities-and-deprived-groups-summary.pdf">
    <div class="document-download-text">
        <p>Barriers to cycling for ethnic minorities and deprived groups</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 272KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.27 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/exploring-the-relationship-between-cycling-leisure-and-utility-trips.pdf">
    <div class="document-download-text">
        <p>Exploring the relationship between cycling leisure and utility trips</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 292KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.29 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/dhildren-and-young-people-cycling-and-walking-potential.pdf">
    <div class="document-download-text">
        <p>Children and young people - cycling and walking potential</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 618KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.60 -->
 
</div>

</div>
 
            </div>
        </div>
    </div>
 <div class="expandable-box">




        <div class="content">
            <div class="always-visible" role="button" aria-controls="cycling-in-outer-london-content" aria-expanded="false" tabindex="0">
                <div class="controls" data-tracking="prop36" data-tracking-value="Cycling-Cycling in outer London"><span class="visually-hidden">Toggle accordion</span></div>
                <div id="cycling-in-outer-london-heading" class="accordion-heading">Cycling in outer London</div>
            </div>
            <div id="cycling-in-outer-london-content" class="start-hidden" role="region" aria-labelledby="cycling-in-outer-london-heading">

        <p>'Delivering the benefits of cycling in outer London' is a joint report by Transport for London, London Councils, London Cycling Campaign and Sustrans, aimed at those who set the priority for transport in local areas.</p>
        <p><a href="/cdn/static/cms/documents/benefits-of-cycling-summary.pdf">Delivering the benefits of cycling in outer London - summary document (PDF 3MB)</a> <br />
        <a href="/cdn/static/cms/documents/benefits-of-cycling-report.pdf">Delivering the benefits of cycling in outer London - full report (PDF 4.26MB)</a></p>
    

            </div>
        </div>
    </div>
 <div class="expandable-box">




        <div class="content">
            <div class="always-visible" role="button" aria-controls="greenways-report-content" aria-expanded="false" tabindex="0">
                <div class="controls" data-tracking="prop36" data-tracking-value="Cycling-Greenways report"><span class="visually-hidden">Toggle accordion</span></div>
                <div id="greenways-report-heading" class="accordion-heading">Greenways report</div>
            </div>
            <div id="greenways-report-content" class="start-hidden" role="region" aria-labelledby="greenways-report-heading">
<h3>2014</h3>
<p><a href="/cdn/static/cms/documents/greenways-final-annual-monitoring-report.pdf">London Greenways final monitoring report 2010-2014 (PDF 813KB)</a></p>
<h3>2012</h3>
<p><a href="/cdn/static/cms/documents/london-greenways-monitoring-report.pdf">London Greenways monitoring report 2012 (PDF 2MB)</a> </p>
<h3>2011</h3>
<p><a href="/cdn/static/cms/documents/london-greenways-report-2011.pdf">London Greenways monitoring report 2011 (PDF 2.72MB)</a> </p>
<h3>2010</h3>
<p><a href="/cdn/static/cms/documents/london-greenways-report-2010.pdf">London Greenways monitoring report 2010 (PDF 920KB)</a> </p>

            </div>
        </div>
    </div>
 <div class="expandable-box">




        <div class="content">
            <div class="always-visible" role="button" aria-controls="encouraging-cycling-content" aria-expanded="false" tabindex="0">
                <div class="controls" data-tracking="prop36" data-tracking-value="Cycling-Encouraging cycling"><span class="visually-hidden">Toggle accordion</span></div>
                <div id="encouraging-cycling-heading" class="accordion-heading">Encouraging cycling</div>
            </div>
            <div id="encouraging-cycling-content" class="start-hidden" role="region" aria-labelledby="encouraging-cycling-heading">


<div>





<div class="multi-document-download-container">
    

<a class="document-download-wrap xls" href="/cdn/static/cms/documents/analysis-of-potentially-cyclable-trips.xls">
    <div class="document-download-text">
        <p>Analysis of potentially cyclable trips</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            XLS 226KB
            
        </p>
    </div>
    <div class="document-download-icon download-spread">
    </div>

</a>

<!-- 0.22 -->
 

<a class="document-download-wrap xlsx" href="/cdn/static/cms/documents/current-cycle-travel-and-cyclists-by-borough-of-residence.xlsx">
    <div class="document-download-text">
        <p>Cycle usage by boroughs</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            XLSX 98KB
            
        </p>
    </div>
    <div class="document-download-icon download-spread">
    </div>

</a>

<!-- 0.10 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/understanding-cycle-route-choice.pdf">
    <div class="document-download-text">
        <p>Understanding cycle route choice</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 3.29MB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 3.29 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/influencing-the-growth-of-cycling-in-london.pdf">
    <div class="document-download-text">
        <p>Influencing the growth of cycling in London</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 1.24MB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 1.24 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/attitudes-towards-cycling-2011.pdf">
    <div class="document-download-text">
        <p>Attitudes to cycling 2011</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 1.00MB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 1.00 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/cycling-tipping-points.pdf">
    <div class="document-download-text">
        <p>Cycling tipping points - 2009</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 1.84MB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 1.84 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/motivating-the-near-market-about-cycling.pdf">
    <div class="document-download-text">
        <p>Motivating the near market about cycling - 2009</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 878KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.86 -->
 
</div>

        <p>There are other useful reports, including the London Greenways monitoring report on the <a href="/corporate/publications-and-reports/cycling">Cycling Publications page</a>.</p>
        <p> </p>
    
</div>
 
            </div>
        </div>
    </div>
 <div class="expandable-box">




        <div class="content">
            <div class="always-visible" role="button" aria-controls="smart-moves-magazine-content" aria-expanded="false" tabindex="0">
                <div class="controls" data-tracking="prop36" data-tracking-value="Cycling-Smart Moves magazine"><span class="visually-hidden">Toggle accordion</span></div>
                <div id="smart-moves-magazine-heading" class="accordion-heading">Smart Moves magazine</div>
            </div>
            <div id="smart-moves-magazine-content" class="start-hidden" role="region" aria-labelledby="smart-moves-magazine-heading">

        <p>Smart Moves magazine provided news and information on walking and cycling in London until 2010.</p>
        <h3>2010</h3>
        <p><a href="/cdn/static/cms/documents/smartmoves-feb-2010.pdf">February 2010 Smart Moves (PDF 2.45MB)</a></p>
        <h3>2009</h3>
        <p><a href="/cdn/static/cms/documents/smartmoves-nov-2009.pdf">November 2009 Smart Moves (PDF 2.78MB)</a> <br />
        <a href="/cdn/static/cms/documents/smartmoves-aug-2009.pdf">August 2009 Smart Moves (PDF 2.55MB)</a> <br />
        <a href="/cdn/static/cms/documents/smartmoves-may-2009-final.pdf">May 2009 Smart Moves (PDF 2MB) </a><br />
        <a href="/cdn/static/cms/documents/smartmoves-february-2009.pdf">February 2009 Smart Moves (PDF 1.99MB)</a></p>
        <h3>2008</h3>
        <p><a href="/cdn/static/cms/documents/smartmoves-november-2008.pdf">November 2008 Smart Moves (PDF 2.43MB)</a> <br />
        <a href="/cdn/static/cms/documents/smartmoves-August-2008.pdf">August 2008 Smart Moves (PDF 1.96MB)</a> <br />
        <a href="/cdn/static/cms/documents/smart-moves-may-2008.pdf">May 2008 Smart Moves (PDF 2.03MB) </a><br />
        <a href="/cdn/static/cms/documents/smart-moves-february-2008.pdf">February 2008 Smart Moves (PDF 2.69MB) </a></p>
        <h3>2007</h3>
        <p><a href="/cdn/static/cms/documents/smart-moves-November-2007.pdf">November 2007 Smart Moves (PDF 2.38MB)</a> <br />
        <a href="/cdn/static/cms/documents/smart-moves-07-08.pdf">August 2007 Smart Moves (PDF 1.9MB)</a> <br />
        <a href="/cdn/static/cms/documents/smart-moves-May-2007.pdf">May 2007 Smart Moves (PDF 3.5MB)</a>  <br />
        <a href="/cdn/static/cms/documents/smart-moves-February-2007.pdf">February 2007 Smart Moves (PDF 2.5MB)</a></p>
    

            </div>
        </div>
    </div>
 
</div>
 
      
        
          
        
      
    
  </div>
  <div class="aside" role="complementary">

   
    
    
    
    <div>
















<div class="advert-tile unsponsored-style google-ads" aria-hidden="true">
  <div class="advert-link">
    <div class="advert-content">
        <div class="medium-large" data-advert="/76889402/non-targeted" data-advert-sizes="300, 250"></div>
        <div class="small" data-advert="/76889402/non-targeted" data-advert-sizes="300, 250"></div>
    </div>
  </div>
</div>
@{
    ViewBag.AmazonSlot = "'amznslots'";
    ViewBag.AmazonAds = "'3199'"; // to add another value, this needs to be ViewBag.AmazonAds = "'3199','xx'";
}
      

 </div>
    
      <div class="module-grid clearfix">
                    
        <div class="related-links">

    <h3>Also on this site</h3>

<div class="vertical-button-container">

<a href="/modes/cycling/index" class="plain-button">Cycling</a>
<a href="/corporate/about-tfl/how-we-work/planning-for-the-future/encouraging-cycling-and-walking" class="plain-button">Encouraging cycling and walking</a>
<a href="/corporate/publications-and-reports/streets-toolkit" class="plain-button">Streets toolkit (incl. London Cycling Design Standards)</a>
    </div>
</div>
 
      </div>
    
    <div data-set="sidenav-container" class="small-medium"></div>
  </div>
</div>
 
 
        
        
        
            @{ViewBag.Description = "These documents provide useful background on a range of cycling-related issues";}
        
            
        


 