
    
  



@{ViewBag.Title = "Cycle hire contracts";}
@{ViewBag.Keywords = "Cyclists,B,C,S,Contract,Cycling,TfL";}
@{ViewBag.Url = "/corporate/publications-and-reports/cycle-hire-contracts";}
@{ViewBag.Language = "en";}
        <!-- empty placeholder -->
 
        
        
<div class="r">
    <div class="breadcrumb-container" role="navigation">
        <span id="breadcrumb-label" class="visually-hidden">You are here:</span>
        <ol class="breadcrumbs clearfix" aria-labelledby="breadcrumb-label">
            <li class="home">
                <a href="/">
                    <span class="hide-text">Home</span>
                </a>
            </li>
            
                 <li><a href="/corporate/publications-and-reports/index">Publications & reports</a></li>
                
            
            
                <li><span class="last-breadcrumb">Cycle hire contracts</span></li>
            
        
 
        
 
        </ol>
    </div>
</div>
     
 
<div class="r">
  <div class="headline-container plain">
    <h1>Cycle hire contracts</h1>

  </div>
</div>
<div class="main-and-aside r">
  
  <div class="main content-container" role="main">
    
      <div class="article-teaser">
        This page includes the sponsorship contract with Santander and the scheme agreement which is the contract with Serco for provision of the service. 
        
      </div>
    
    <div class="on-this-page">
      
      
           
      
<div>



<h2>Santander Cycles</h2>


<p>Santander is sponsoring our cycle hire scheme for seven years from 2015.</p>
<div class="multi-document-download-container">
    

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/cycle-hire-sponsorship-contract.pdf">
    <div class="document-download-text">
        <p>Santander Cycles - cycle hire scheme sponsorship</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 1.18MB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 1.18 -->
 
</div>

</div>
 <div>

<h2>London Cycle Hire Scheme Agreement</h2>
<p>The London Cycle Hire Scheme Agreement is the contract between Transport Trading Ltd and Serco Ltd to provide the London Cycle Hire Scheme services from July 2010.</p>
<p>The following contractual documents have had part, or all, of their content modified for reasons of commercial interest or commercial confidentiality.</p>
<h3>Terms and conditions</h3>
<p><a href="/cdn/static/cms/documents/london-cycle-hire-scheme-agreement-redacted-version.pdf">London Cycle Hire Scheme Agreement - Redacted Version (PDF 1.3MB)</a></p>
<h3>Schedules 1 to 10</h3>
<p><a href="/cdn/static/cms/documents/lchs-schedule1-definitions-redacted.pdf">Schedule 1 - Definitions - Redacted Version (PDF 664KB)</a> <br />
<a href="/cdn/static/cms/documents/lchs-schedule2-sor-common-requirements-lot1-redacted.pdf">Schedule 2 - Statement of Requirements - Common Lot 1 - Redacted Version (PDF 222KB) </a><br />
<a href="/cdn/static/cms/documents/lchs-schedule2-sor-common-requirements-lot2-redacted.pdf">Schedule 2 - Statement of Requirements - Common Lot 2 - Redacted Version (PDF 246KB) </a><br />
<a href="/cdn/static/cms/documents/lchs-schedule2-sor-on-street-lot1-redacted.pdf">Schedule 2 - Statement of Requirements - On-street Lot 1 - Redacted Version (PDF 203KB) </a><br />
<a href="/cdn/static/cms/documents/lchs-schedule2-sor-on-street-lot2-redacted.pdf">Schedule 2 - Statement of Requirements - On-street Lot 2 - Redacted Version (PDF 155KB) </a><br />
<a href="/cdn/static/cms/documents/lchs-schedule2-sor-service-systems-lot1-redacted.pdf">Schedule 2 - Statement of Requirements - Service Systems Lot 1 - Redacted Version (PDF 341KB) </a><br />
<a href="/cdn/static/cms/documents/lchs-schedule2-sor-service-systems-lot2-redacted.pdf">Schedule 2 - Statement of Requirements - Service Systems Lot 2 - Redacted Version (PDF 155KB) </a><br />
<a href="/cdn/static/cms/documents/lchs-schedule3-milestones-and-deliverables-redacted.pdf">Schedule 3 - Milestones and Deliverables - Redacted Version (PDF 465KB) </a><br />
<a href="/cdn/static/cms/documents/lchs-schedule4-testing-regime-redacted.pdf">Schedule 4 - Testing Regime - Redacted Version (PDF 169KB) </a><br />
<a href="/cdn/static/cms/documents/lchs-schedule05-service-level-agreement-redacted.pdf">Schedule 5 - Service Level Agreement - Redacted Version (PDF 272KB) </a><br />
<a href="/cdn/static/cms/documents/schedule-6-termination-compensation-redacted-version.pdf">Schedule 6 - Termination Compensation - Redacted Version (PDF 44KB) </a><br />
<a href="/cdn/static/cms/documents/lchs-schedule7-charging-redacted.pdf">Schedule 7 - Charging - Redacted Version (PDF 336KB) </a><br />
<a href="/cdn/static/cms/documents/lchs-schedule8-not-used-redacted.pdf">Schedule 8 - Not Used - Redacted Version (PDF 46KB) </a><br />
<a href="/cdn/static/cms/documents/lchs-schedule9-change-control-request-procedure.pdf">Schedule 9 - Change Control Request Procedure - Redacted Version (PDF 277KB) </a><br />
<a href="/cdn/static/cms/documents/lchs-schedule10-contract-management-and-reporting.pdf">Schedule 10 - Contract Management and Reporting - Redacted Version (PDF 152KB)</a></p>
<h3>Schedules 11 to 20</h3>
<p><a href="/cdn/static/cms/documents/lchs-schedule11-key-personnel-redacted.pdf">Schedule 11 - Key Personnel - Redacted Version (PDF 124KB)</a> <br />
<a href="/cdn/static/cms/documents/lchs-schedule12-asset-management-redacted.pdf">Schedule 12 - Asset Management - Redacted Version (PDF 86KB) </a><br />
<a href="/cdn/static/cms/documents/lchs-schedule13-service-provider-confidential-info.pdf">Schedule 13 - Service Provider Confidential Information - Redacted Version (PDF 54KB) </a><br />
<a href="/cdn/static/cms/documents/lchs-schedule14-security-policy-redacted.pdf">Schedule 14 - Security Policy - Redacted Version (PDF 93KB) </a><br />
<a href="/cdn/static/cms/documents/lchs-schedule15-information-compliance-redacted.pdf">Schedule 15 - Information Compliance - Redacted Version (PDF 99KB) </a><br />
<a href="/cdn/static/cms/documents/lchs-schedule16-exit-plan-redacted.pdf">Schedule 16 - Exit Plan - Redacted Version (PDF 168KB) </a><br />
<a href="/cdn/static/cms/documents/schedule-17-agreed-form-of-guarantee-redacted-version.pdf">Schedule 17 - Agreed Form of Guarantee - Redacted Version (PDF 73KB) </a><br />
<a href="/cdn/static/cms/documents/lchs-schedule18-premises-redacted.pdf">Schedule 18 - Premises - Redacted Version (PDF 59KB) </a><br />
<a href="/cdn/static/cms/documents/lchs-schedule19-specific-labour-needs-and-training.pdf">Schedule 19 - Specific Labour Needs and Training - Redacted Version (PDF 142KB) </a><br />
<a href="/cdn/static/cms/documents/lchs-schedule20-management-services-redacted.pdf">Schedule 20 - Management Services - Redacted Version (PDF 58KB)</a></p>
<h3>Schedules 21 to 30</h3>
<p><a href="/cdn/static/cms/documents/lchs-schedule21-cedr-model-determination-agreement.pdf">Schedule 21 - CEDR Model Determination Agreement - Redacted Version (PDF 87KB) </a><br />
<a href="/cdn/static/cms/documents/lchs-schedule22-collateral-deed-redacted.pdf">Schedule 22 - Collateral Deed - Redacted Version (PDF 141KB) </a><br />
<a href="/cdn/static/cms/documents/lchs-schedule23-gainsharing-redacted.pdf">Schedule 23 - Gainsharing - Redacted Version (PDF 43KB)</a> <br />
<a href="/cdn/static/cms/documents/lchs-schedule24-equality-and-diversity-redacted.pdf">Schedule 24 - Equality and Diversity - Redacted Version (PDF 111KB) </a><br />
<a href="/cdn/static/cms/documents/lchs-schedule25-business-continuity-redacted.pdf">Schedule 25 - Business Continuity - Redacted Version (PDF 161KB) </a><br />
<a href="/cdn/static/cms/documents/lchs-schedule26-key-sub-contractors-redacted.pdf">Schedule 26 - Key Sub-Contractors - Redacted Version (PDF 46KB) </a><br />
<a href="/cdn/static/cms/documents/lchs-schedule27-deed-of-novation-redacted.pdf">Schedule 27 - Deed of Novation - Redacted Version (PDF 108KB) </a><br />
<a href="/cdn/static/cms/documents/lchs-schedule28-service-provider-solution-redacted.pdf">Schedule 28 - Service Provider Solution - Redacted Version (PDF 46KB) </a><br />
<a href="/cdn/static/cms/documents/lchs-schedule29-escrow-software-redacted.pdf">Schedule 29 - Escrow Software - Redacted Version (PDF 81KB) </a><br />
<a href="/cdn/static/cms/documents/lchs-schedule30-open-book-redacted.pdf">Schedule 30 - Open Book - Redacted Version (PDF 156KB)</a></p>
<h3>Schedules 31 to 41</h3>
<p><a href="/cdn/static/cms/documents/lchs-schedule31-not-used-redacted.pdf">Schedule 31 - Not Used - Redacted Version (PDF 59KB) </a><br />
<a href="/cdn/static/cms/documents/lchs-schedule32-revenue-collection-and-payment.pdf">Schedule 32 - Revenue Collection and Payment - Redacted Version (PDF 138KB) </a><br />
<a href="/cdn/static/cms/documents/lchs-schedule33-additional-services-redacted.pdf">Schedule 33 - Additional Services - Redacted Version (PDF 65KB)</a> <br />
<a href="/cdn/static/cms/documents/lchs-schedule34-tfl-group-policies-redacted.pdf">Schedule 34 - TfL Group Policies - Redacted Version (PDF 70KB) </a><br />
<a href="/cdn/static/cms/documents/lchs-schedule35-not-used-redacted.pdf">Schedule 35 - Not Used - Redacted Version (PDF 46KB) </a><br />
<a href="/cdn/static/cms/documents/lchs-schedule36-value-for-money-process-review.pdf">Schedule 36 - Value for Money Process Review - Redacted Version (PDF 29KB) </a><br />
<a href="/cdn/static/cms/documents/lchs-schedule37-docking-station-imp-and-traffic-man.pdf">Schedule 37 - Docking Station Implementation and Traffic Management - Redacted Version (PDF 761KB) </a><br />
<a href="/cdn/static/cms/documents/lchs-schedule38-2012-games-redacted.pdf">Schedule 38 - 2012 Games - Redacted Version (PDF 116KB) </a><br />
<a href="/cdn/static/cms/documents/lchs-schedule39-service-provider-personnel-redacted.pdf">Schedule 39 - Service Provider Personnel - Redacted Version (PDF 112KB) </a><br />
<a href="/cdn/static/cms/documents/lchs-schedule40-not-used-redacted.pdf">Schedule 40 - Not Used - Redacted Version (PDF 45KB) </a><br />
<a href="/cdn/static/cms/documents/lchs-schedule41-intellectual-property-rights-redacted.pdf">Schedule 41 - Intellectual Property Rights - Redacted Version (PDF 59KB)</a></p>
<h3>Appendices</h3>
<p>
<a href="/cdn/static/cms/documents/lchs-schedule02-annex1-compliance-matrix.PDF">Schedule 2 - Annex 1 - Compliance Matrix - Redacted Version (PDF 74KB) </a><br />
<a href="/cdn/static/cms/documents/lchs-schedule02-appendix01-information-compliance-processes.PDF">Appendix 1 - Information Compliance Processes - Redacted Version (PDF 112KB) </a><br />
<a href="/cdn/static/cms/documents/lchs-schedule2-appendix2-data-retention.pdf">Appendix 2 - Data Retention - Redacted Version (PDF 223KB) </a><br />
<a href="/cdn/static/cms/documents/lchs-schedule02-appendix03-customer-and-subscription-data.PDF">Appendix 3 - Customer and Subscription Data - Redacted Version (PDF 114KB) </a><br />
<a href="/cdn/static/cms/documents/lchs-schedule02-appendix4-returns-policy.pdf">Appendix 4 - Returns Policy - Redacted Version (PDF 452KB) </a><br />
<a href="/cdn/static/cms/documents/lchs-schedule02-appendix05-transactional-volumes.PDF">Appendix 5 - Transactional Volumes - Redacted Version (PDF 57KB) </a><br />
<a href="/cdn/static/cms/documents/lchs-schedule02-appendix06-general-arrangement-of-the-terminal.PDF">Appendix 6 - General Arrangement of the Terminal - Redacted Version (PDF 942KB) </a><br />
<a href="/cdn/static/cms/documents/lchs-schedule02-appendix07-indicative-docking-station-layout.PDF">Appendix 7 - Indicative Docking Station Layout - Redacted Version (PDF 452KB) </a><br />
<a href="/cdn/static/cms/documents/lchs-schedule02-appendix08-not-used.PDF">Appendix 8 - Not Used - Redacted Version (PDF 560KB) </a><br />
<a href="/cdn/static/cms/documents/lchs-schedule02-appendix09-new-media-web-guidelines-for-suppliers.PDF">Appendix 9 - New Media Web Guidelines for Suppliers - Redacted Version (PDF 50KB) </a><br />
<a href="/cdn/static/cms/documents/lchs-schedule02-appendix10-payment-card-industry-security-data-standard.PDF">Appendix 10 - Payment Card Industry Security Data Standard - Redacted Version (PDF 560KB) </a><br />
<a href="/cdn/static/cms/documents/lchs-schedule2-appendix11-ums-testing-pro.pdf">Appendix 11 - UMS Testing Procedure - Redacted Version (PDF 112KB)<br />
</a></p>
</div>
 
<div>



<h2>Developer guidance for Santander Cycles</h2>



<div class="multi-document-download-container">
    

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/developer-guidance-for-santander-cycles.pdf">
    <div class="document-download-text">
        <p>Developer Guidance</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 839KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.82 -->
 
</div>

</div>
 
<div>



<h2>Barclays Cycle Hire & Superhighways</h2>


<p>This contract has expired. See Santander Cycles above.</p>
<div class="multi-document-download-container">
    

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/barclays-cycle-hire-and-superhighways-sponsorship-agreement.pdf">
    <div class="document-download-text">
        <p>Barclays Cycle Hire and Cycle Superhighways sponsorship</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 5.06MB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 5.06 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/barclays-sponsorship-variation-agreement.pdf">
    <div class="document-download-text">
        <p>Barclays Sponsorship Variation Agreement</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 264KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.26 -->
 
</div>

        <p>Email us at <a href="mailto:foi&#64;tfl.gov.uk">foi&#64;tfl.gov.uk</a> for accessible versions of these documents.</p>
    
</div>
 
      
        
          
            @this.ScriptBlock(
              @<script>
                queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
              </script>
            )
          
        
      
    </div>
  </div>
  <div class="aside" role="complementary">

   
    
    
    
      <div data-set="sidenav-container" class="large">
        
        
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
      </div>
    
    <div>
















<div class="advert-tile unsponsored-style google-ads" aria-hidden="true">
  <div class="advert-link">
    <div class="advert-content">
        <div class="medium-large" data-advert="/76889402/non-targeted" data-advert-sizes="300, 250"></div>
        <div class="small" data-advert="/76889402/non-targeted" data-advert-sizes="300, 250"></div>
    </div>
  </div>
</div>
@{
    ViewBag.AmazonSlot = "'amznslots'";
    ViewBag.AmazonAds = "'3199'"; // to add another value, this needs to be ViewBag.AmazonAds = "'3199','xx'";
}
      

 </div>
    
      <div class="module-grid clearfix">
                    
        <div class="related-links">

    <h3>Also on this site</h3>

<div class="vertical-button-container">

<a href="/modes/cycling/santander-cycles" class="plain-button">Santander Cycles</a>
    </div>
</div>
 
      </div>
    
    <div data-set="sidenav-container" class="small-medium"></div>
  </div>
</div>
 
 
        
        
        
            @{ViewBag.Description = "Contracts for the sponsorship and running of the London Cycle HIre Scheme";}
        
            
        


 