
    
  



@{ViewBag.Title = "Dockless cycle hire";}
@{ViewBag.Keywords = "Boroughs,Cyclists,Planning and construction,Public,D,Policy,Cycling,TfL,Dockless bike hire share schemes code of practice";}
@{ViewBag.Url = "/corporate/publications-and-reports/dockless-bike-share-code-of-practice";}
@{ViewBag.Language = "en";}
        <!-- empty placeholder -->
 
        
        
<div class="r">
    <div class="breadcrumb-container" role="navigation">
        <span id="breadcrumb-label" class="visually-hidden">You are here:</span>
        <ol class="breadcrumbs clearfix" aria-labelledby="breadcrumb-label">
            <li class="home">
                <a href="/">
                    <span class="hide-text">Home</span>
                </a>
            </li>
            
                 <li><a href="/corporate/publications-and-reports/index">Publications & reports</a></li>
                
            
            
                <li><span class="last-breadcrumb">Dockless cycle hire</span></li>
            
        
 
        
 
        </ol>
    </div>
</div>
     
 
<div class="r">
  <div class="headline-container plain">
    <h1>Dockless cycle hire</h1>

  </div>
</div>
<div class="main-and-aside r">
  
  <div class="main content-container" role="main">
    
      <div class="article-teaser">
        This code of practice has been developed by TfL in collaboration with London's boroughs and other key stakeholders for potential operators of dockless cycle hire schemes. Dockless cycle hire is a service in which bikes can be located, hired and unlocked using a smartphone app and do not require a docking station.
        
      </div>
    
    
      <p>The code lets operators know what is expected of them and ensures that dockless bike schemes complement London's public transport network and support the Mayor's Transport Strategy.</p>
<p>Dockless cycle hire has potential to make cycling more accessible and attractive for Londoners. While we welcome responsible bike hire initiatives, dockless bike operators need to work with TfL and London boroughs to make sure that schemes do not have a negative impact on other cyclists, road users and pedestrians or result in unlawful highway obstruction.</p>
<p>The code, which will be regularly reviewed and updated, outlines the requirements and recommendations that dockless bike share operators are expected to follow in London. It complements existing laws and regulations, which operators must comply with at all times.</p>
<p>The updated code (September 2018) extends to include electric dockless bikes and provides greater detail on engagement, operational safety, parking and data requirements.</p>
      
           
      
<div>



<h2>Dockless bike share code of practice</h2>



<div class="multi-document-download-container">
    

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/dockless-bike-share-code-of-practice.pdf">
    <div class="document-download-text">
        <p>Dockless bike share code of practice</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 423KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.41 -->
 
</div>

</div>
 
      
        
          
        
      
    
  </div>
  <div class="aside" role="complementary">

   
    
    
    
      <div data-set="sidenav-container" class="large">
        
        
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
      </div>
    
    <div>
















<div class="advert-tile unsponsored-style google-ads" aria-hidden="true">
  <div class="advert-link">
    <div class="advert-content">
        <div class="medium-large" data-advert="/76889402/non-targeted" data-advert-sizes="300, 250"></div>
        <div class="small" data-advert="/76889402/non-targeted" data-advert-sizes="300, 250"></div>
    </div>
  </div>
</div>
@{
    ViewBag.AmazonSlot = "'amznslots'";
    ViewBag.AmazonAds = "'3199'"; // to add another value, this needs to be ViewBag.AmazonAds = "'3199','xx'";
}
      

 </div>
    
    <div data-set="sidenav-container" class="small-medium"></div>
  </div>
</div>
 
 
        
        
        
            @{ViewBag.Description = "Code of practice for dockless bike share schemes";}
        
            
        


 