
    
  



@{ViewBag.Title = "Earls Court Village development";}
@{ViewBag.Keywords = "E,Contract,TfL";}
@{ViewBag.Url = "/corporate/publications-and-reports/earls-court-village-development";}
@{ViewBag.Language = "en";}
        <!-- empty placeholder -->
 
        
        
<div class="r">
    <div class="breadcrumb-container" role="navigation">
        <span id="breadcrumb-label" class="visually-hidden">You are here:</span>
        <ol class="breadcrumbs clearfix" aria-labelledby="breadcrumb-label">
            <li class="home">
                <a href="/">
                    <span class="hide-text">Home</span>
                </a>
            </li>
            
                 <li><a href="/corporate/publications-and-reports/index">Publications & reports</a></li>
                
            
            
                <li><span class="last-breadcrumb">Earls Court Village development</span></li>
            
        
 
        
 
        </ol>
    </div>
</div>
     
 
<div class="r">
  <div class="headline-container plain">
    <h1>Earls Court Village development</h1>

  </div>
</div>
<div class="main-and-aside r">
  
  <div class="main content-container" role="main">
    
      <div class="article-teaser">
        Capital & Counties Properties PLC and TfL have established a joint venture, Earls Court Partnership Limited, which will enable the development of Earls Court 1 & 2 in line with the Earls Court Masterplan. 
        
      </div>
    
    <div class="on-this-page">
      
        These documents are the unsigned transaction documents following signature and completion and are in materially the same form as those documents signed and completed on 27 March 2014. They are published in part in a redacted form to remove confidential and/or commercially prejudicial information.
        <p>
        </p>
    
      
           
      
<div>





<div class="multi-document-download-container">
    

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/lillie-bridge-depot-feasibility-report-redacted.pdf">
    <div class="document-download-text">
        <p>Lillie Bridge Road feasibility report</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 2.72MB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 2.72 -->
 

<a class="document-download-wrap doc" href="/cdn/static/cms/documents/index.doc">
    <div class="document-download-text">
        <p>Earls Court Village development - document index</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            DOC 26KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.03 -->
 
</div>

</div>
 <div class="accordion">




<div class="expandable-box">




        <div class="content">
            <div class="always-visible" role="button" aria-controls="transparency-agreement-content" aria-expanded="false" tabindex="0">
                <div class="controls" data-tracking="prop36" data-tracking-value="Earls Court Village development-Transparency Agreement"><span class="visually-hidden">Toggle accordion</span></div>
                <div id="transparency-agreement-heading" class="accordion-heading">Transparency Agreement</div>
            </div>
            <div id="transparency-agreement-content" class="start-hidden" role="region" aria-labelledby="transparency-agreement-heading">


<div>





<div class="multi-document-download-container">
    

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/tfl-earls-court-transparency-agreement.pdf">
    <div class="document-download-text">
        <p>Transparency Agreement</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 251KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.25 -->
 
</div>

</div>
 
            </div>
        </div>
    </div>
 <div class="expandable-box">




        <div class="content">
            <div class="always-visible" role="button" aria-controls="shareholders-agreement-content" aria-expanded="false" tabindex="0">
                <div class="controls" data-tracking="prop36" data-tracking-value="Earls Court Village development-Shareholders Agreement"><span class="visually-hidden">Toggle accordion</span></div>
                <div id="shareholders-agreement-heading" class="accordion-heading">Shareholders Agreement</div>
            </div>
            <div id="shareholders-agreement-content" class="start-hidden" role="region" aria-labelledby="shareholders-agreement-heading">


<div>





<div class="multi-document-download-container">
    

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/shareholders-agreement.pdf">
    <div class="document-download-text">
        <p>Shareholders Agreement</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 726KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.71 -->
 
</div>

</div>
 
            </div>
        </div>
    </div>
 <div class="expandable-box">




        <div class="content">
            <div class="always-visible" role="button" aria-controls="implementation-agreement-content" aria-expanded="false" tabindex="0">
                <div class="controls" data-tracking="prop36" data-tracking-value="Earls Court Village development-Implementation Agreement"><span class="visually-hidden">Toggle accordion</span></div>
                <div id="implementation-agreement-heading" class="accordion-heading">Implementation Agreement</div>
            </div>
            <div id="implementation-agreement-content" class="start-hidden" role="region" aria-labelledby="implementation-agreement-heading">


<div>





<div class="multi-document-download-container">
    

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/implementation-agreement.pdf">
    <div class="document-download-text">
        <p>Implementation Agreement</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 1.21MB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 1.21 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/appendix1-tfl-additional-land-plan.pdf">
    <div class="document-download-text">
        <p>TfL Additional Land Plan</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 146KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.14 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/members-agreement-redacted.pdf">
    <div class="document-download-text">
        <p>Members Agreement</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 807KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.79 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/development-agreement-for-lease-train-stabling-facility-at-earls-court-village.pdf">
    <div class="document-download-text">
        <p>Development Agreement for Lease - Train Stabling Facility at Earls Court Village</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 273KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.27 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/lease-of-the-void.pdf">
    <div class="document-download-text">
        <p>Lease of the Void (agreed form)</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 421KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.41 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/indicative-stabling-void-zone-size-and-location-minimum-cearances.pdf">
    <div class="document-download-text">
        <p>Indicative Stabling Void Zone Size and Location Minimum Clearances</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 168KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.16 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/protected-zones-void.pdf">
    <div class="document-download-text">
        <p>Protected Zones - Void</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 159KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.16 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/protected-zone-for-ec2-lease.pdf">
    <div class="document-download-text">
        <p>Protected Zone for EC2 Lease</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 157KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.15 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/ec2-void-and-access-route-ecv-boundary.pdf">
    <div class="document-download-text">
        <p>EC2 Void and access route -  ECV boundary</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 105KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.10 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/lillie-bridge-depot-plan.pdf">
    <div class="document-download-text">
        <p>Lillie Bridge Depot Plan</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 639KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.62 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/ecd-sponsor-requirements-for-lbd.pdf">
    <div class="document-download-text">
        <p>ECD Sponsor Requirements for LBD</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 1.61MB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 1.61 -->
 

<a class="document-download-wrap xls" href="/cdn/static/cms/documents/stabling-requirements-interpretation-for-voids-agreement.xls">
    <div class="document-download-text">
        <p>Stabling Requirements Interpretation for Voids Agreement</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            XLS 57KB
            
        </p>
    </div>
    <div class="document-download-icon download-spread">
    </div>

</a>

<!-- 0.06 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/deed-of-covenant-earls-court.pdf">
    <div class="document-download-text">
        <p>Deed of Covenant - Earls Court</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 48KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.05 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/deed-of-covenant-london-underground-limited.pdf">
    <div class="document-download-text">
        <p>Deed of Covenant - London Underground Limited</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 49KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.05 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/option-transfer-nar-freehold.pdf">
    <div class="document-download-text">
        <p>Transfer of freehold of Northern Access Road</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 41KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.04 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/transfer-nar-freehold.pdf">
    <div class="document-download-text">
        <p>Transfer for freehold of NAR</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 46KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.04 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/lbd-rights-agreement.pdf">
    <div class="document-download-text">
        <p>LBD Rights Agreement</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 371KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.36 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/south-stabling-access-for-lbd-rights-agreement.pdf">
    <div class="document-download-text">
        <p>South Stabling access for LBD Rights Agreement</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 124KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.12 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/empress-state-building-title-plan.pdf">
    <div class="document-download-text">
        <p>Empress State building title plan</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 681KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.66 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/ecv2-stabling-void.pdf">
    <div class="document-download-text">
        <p>Stabling Void</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 1.09MB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 1.09 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/baw-specification-for-lbd-rights.pdf">
    <div class="document-download-text">
        <p>BAW specification for LBD rights</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 356KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.35 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/ecv-lillie-bridge-depot-lbd-rights-agreement.pdf">
    <div class="document-download-text">
        <p>Lillie Bridge Depot - LBD Rights Agreement</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 635KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.62 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/design-trial-drawing.pdf">
    <div class="document-download-text">
        <p>Design Trial Drawing</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 1.58MB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 1.58 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/landowners-agreement-agreed-form.pdf">
    <div class="document-download-text">
        <p>Landowners Agreement (agreed form)</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 793KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.77 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/1-9-lillie-road.pdf">
    <div class="document-download-text">
        <p>1-9 Lillie Road</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 93KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.09 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/lillie-road-land-ownership-plan.pdf">
    <div class="document-download-text">
        <p>Lillie Road land ownership plan</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 159KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.16 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/ecv-land-ownership-plan.pdf">
    <div class="document-download-text">
        <p>Land ownership plan</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 1.30MB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 1.30 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/ecv-development-area-layout.pdf">
    <div class="document-download-text">
        <p>Development area layout</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 935KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.91 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/ecv-public-garden-principal-estate-infrastructure.pdf">
    <div class="document-download-text">
        <p>Public Garden - Principal Estate Infrastructure</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 596KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.58 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/ecv-civic-spaces-principle-estate-infrastructure.pdf">
    <div class="document-download-text">
        <p>Civic Spaces - Principle Estate Infrastructure</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 592KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.58 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/ecv-principle-roads-principle-estate-infrastructure.pdf">
    <div class="document-download-text">
        <p>Principle Roads - Principle Estate Infrastructure</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 600KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.59 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/tunnel-tops-agreement-agreed-form.pdf">
    <div class="document-download-text">
        <p>Tunnel Tops Agreement</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 109KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.11 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/ecv-demolition-works-licence-areed-form.pdf">
    <div class="document-download-text">
        <p>Demolition Works Licence (agreed form)</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 241KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.24 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/scaffolding-and-hoarding-licence-agreed-form.pdf">
    <div class="document-download-text">
        <p>Scaffolding and Hoarding Licence (agreed form)</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 191KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.19 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/app-24-lul-land-plan.pdf">
    <div class="document-download-text">
        <p>LUL Land Plan</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 673KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.66 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/location-of-secure-trespass-proof-fence.pdf">
    <div class="document-download-text">
        <p>Location of secure trespass-proof fence</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 110KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.11 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/lul-scaffolding-and-hoarding-licence.pdf">
    <div class="document-download-text">
        <p>LUL Scaffolding and hoarding licence</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 349KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.34 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/lul-deport-scaffold-plan.pdf">
    <div class="document-download-text">
        <p>LUL Deport Scaffold Plan</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 404KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.39 -->
 
</div>

</div>
 
            </div>
        </div>
    </div>
 <div class="expandable-box">




        <div class="content">
            <div class="always-visible" role="button" aria-controls="planning-indemnity-for-s.106-content" aria-expanded="false" tabindex="0">
                <div class="controls" data-tracking="prop36" data-tracking-value="Earls Court Village development-Planning Indemnity for S.106"><span class="visually-hidden">Toggle accordion</span></div>
                <div id="planning-indemnity-for-s.106-heading" class="accordion-heading">Planning Indemnity for S.106</div>
            </div>
            <div id="planning-indemnity-for-s.106-content" class="start-hidden" role="region" aria-labelledby="planning-indemnity-for-s.106-heading">


<div>





<div class="multi-document-download-container">
    

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/deed-of-indemnity-for-s106-agreement.pdf">
    <div class="document-download-text">
        <p>Deed of Indemnity for S.106 Agreement</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 119KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.12 -->
 
</div>

</div>
 
            </div>
        </div>
    </div>
 <div class="expandable-box">




        <div class="content">
            <div class="always-visible" role="button" aria-controls="deed-of-variation-to-existing-leases-content" aria-expanded="false" tabindex="0">
                <div class="controls" data-tracking="prop36" data-tracking-value="Earls Court Village development-Deed of Variation to existing leases"><span class="visually-hidden">Toggle accordion</span></div>
                <div id="deed-of-variation-to-existing-leases-heading" class="accordion-heading">Deed of Variation to existing leases</div>
            </div>
            <div id="deed-of-variation-to-existing-leases-content" class="start-hidden" role="region" aria-labelledby="deed-of-variation-to-existing-leases-heading">


<div>





<div class="multi-document-download-container">
    

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/deed-of-variation-of-existing-ec1-ec2-leases.pdf">
    <div class="document-download-text">
        <p>Deed of Variation and Agreement for Demolition Works</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 85KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.08 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/demolition-works-licence-agreed-form.pdf">
    <div class="document-download-text">
        <p>Demolition Works Licence</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 245KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.24 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/dov-lul-land-plan.pdf">
    <div class="document-download-text">
        <p>LUL Land Plan</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 677KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.66 -->
 
</div>

</div>
 
            </div>
        </div>
    </div>
 <div class="expandable-box">




        <div class="content">
            <div class="always-visible" role="button" aria-controls="bridge-19-early-access-licence-content" aria-expanded="false" tabindex="0">
                <div class="controls" data-tracking="prop36" data-tracking-value="Earls Court Village development-Bridge 19 Early Access Licence"><span class="visually-hidden">Toggle accordion</span></div>
                <div id="bridge-19-early-access-licence-heading" class="accordion-heading">Bridge 19 Early Access Licence</div>
            </div>
            <div id="bridge-19-early-access-licence-content" class="start-hidden" role="region" aria-labelledby="bridge-19-early-access-licence-heading">


<div>





<div class="multi-document-download-container">
    

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/bridge-19-early-access-licence-agreed-form.pdf">
    <div class="document-download-text">
        <p>Bridge 19 - Early Access Licence (agreed form)</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 261KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.25 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/bridge-19-licence-access-plan.pdf">
    <div class="document-download-text">
        <p>Access Plan 1 (Bridge 19 Demolition)</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 523KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.51 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/bridge-19-lul-land-plan.pdf">
    <div class="document-download-text">
        <p>LUL Land Plan</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 677KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.66 -->
 
</div>

</div>
 
            </div>
        </div>
    </div>
 <div class="expandable-box">




        <div class="content">
            <div class="always-visible" role="button" aria-controls="monitoring-licence-content" aria-expanded="false" tabindex="0">
                <div class="controls" data-tracking="prop36" data-tracking-value="Earls Court Village development-Monitoring Licence"><span class="visually-hidden">Toggle accordion</span></div>
                <div id="monitoring-licence-heading" class="accordion-heading">Monitoring Licence</div>
            </div>
            <div id="monitoring-licence-content" class="start-hidden" role="region" aria-labelledby="monitoring-licence-heading">


<div>





<div class="multi-document-download-container">
    

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/licence-to-install-monitoring-agreed-form.pdf">
    <div class="document-download-text">
        <p>Licence to install and retain monitoring equipment</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 191KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.19 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/monitoring-area-extents-monitoring-licence.pdf">
    <div class="document-download-text">
        <p>Extent of monitoring re: Baseline/Demolition/Construction</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 525KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.51 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/ecv-lul-land-plan.pdf">
    <div class="document-download-text">
        <p>LUL land plan</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 677KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.66 -->
 
</div>

</div>
 
            </div>
        </div>
    </div>
 <div class="expandable-box">




        <div class="content">
            <div class="always-visible" role="button" aria-controls="option-for-grant-of-new-999-year-leases-of-ec1-and-ec2-content" aria-expanded="false" tabindex="0">
                <div class="controls" data-tracking="prop36" data-tracking-value="Earls Court Village development-Option for grant of new 999 year leases of EC1 and EC2"><span class="visually-hidden">Toggle accordion</span></div>
                <div id="option-for-grant-of-new-999-year-leases-of-ec1-and-ec2-heading" class="accordion-heading">Option for grant of new 999 year leases of EC1 and EC2</div>
            </div>
            <div id="option-for-grant-of-new-999-year-leases-of-ec1-and-ec2-content" class="start-hidden" role="region" aria-labelledby="option-for-grant-of-new-999-year-leases-of-ec1-and-ec2-heading">


<div>





<div class="multi-document-download-container">
    

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/option-for-the-grant-of-new-ec1-ec2-headleases-agreed-form.pdf">
    <div class="document-download-text">
        <p>Option for the grant of new EC1 and EC2 headleases</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 234KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.23 -->
 
</div>

</div>
 
<div>



<h2>New 999 year lease of EC1</h2>



<div class="multi-document-download-container">
    

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/ec1-lease-agreed-form.pdf">
    <div class="document-download-text">
        <p>EC1 lease (agreed form)</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 974KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.95 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/ecv-lul-clearances-and-land-ownership-for-lease-plan-1-of-2.pdf">
    <div class="document-download-text">
        <p>LUL clearances and land ownership for lease (plan 1 of 2)</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 67KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.07 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/ecv-lul-clearances-and-land-ownership-for-leases-plan-2-of-2.pdf">
    <div class="document-download-text">
        <p>LUL clearances and land ownership for lease (plan 2 of 2)</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 57KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.06 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/ecv-stabling-void.pdf">
    <div class="document-download-text">
        <p>Stabling Void plan</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 1.10MB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 1.10 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/ecv-aprons-plan.pdf">
    <div class="document-download-text">
        <p>Aprons plan</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 593KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.58 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/ecv-head-wall-and-escalator-shaft.pdf">
    <div class="document-download-text">
        <p>Head wall and escalator shaft</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 1.84MB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 1.84 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/ecv-ticket-hall-plan.pdf">
    <div class="document-download-text">
        <p>Ticket Hall plan</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 751KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.73 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/ecv-warwick-apron-stanchion-locations.pdf">
    <div class="document-download-text">
        <p>Warwick Apron Stanchion locations</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 154KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.15 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/ecv-brompton-apron-stanchion-locations.pdf">
    <div class="document-download-text">
        <p>Brompton Apron Stanchion locations</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 123KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.12 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/ecv-lul-land-plan-nar.pdf">
    <div class="document-download-text">
        <p>EC1, EC2, NAR and LUL leases adjoining premises plan</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 661KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.65 -->
 
</div>

</div>
 
<div>



<h2>New 999 year lease of EC2</h2>



<div class="multi-document-download-container">
    

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/ec2-lease-agreed-form.pdf">
    <div class="document-download-text">
        <p>EC2 lease (agreed form)</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 893KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.87 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/lul-clearances-and-land-ownership-for-lease-plan-1-of-2.pdf">
    <div class="document-download-text">
        <p>LUL clearances and land ownership for lease (plan 1 of 2)</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 67KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.07 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/lul-clearances-and-land-ownership-for-leases-plan-2-of-2.pdf">
    <div class="document-download-text">
        <p>LUL clearances and land ownership for lease (plan 2 of 2)</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 57KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.06 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/ecv-stabling-void-ec2.pdf">
    <div class="document-download-text">
        <p>Stabling Void plan</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 1.10MB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 1.10 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/ecv-protected-zones-for-the-void.pdf">
    <div class="document-download-text">
        <p>Protected zones for the Void</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 159KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.16 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/ecv-protected-zone-for-ec2-lease.pdf">
    <div class="document-download-text">
        <p>Protected zones for EC2</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 157KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.15 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/ec2-lease-depot-access-plan.pdf">
    <div class="document-download-text">
        <p>EC2 lease depot access route</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 113KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.11 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/ec2-demise-plan.pdf">
    <div class="document-download-text">
        <p>EC2 lease demise plan</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 303KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.30 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/lul-land-plan-nar.pdf">
    <div class="document-download-text">
        <p>EC1, EC2, NAR and LUL leases adjoining premises plan</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 661KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.65 -->
 
</div>

</div>
 
            </div>
        </div>
    </div>
 <div class="expandable-box">




        <div class="content">
            <div class="always-visible" role="button" aria-controls="s.106-confirmatory-deed-content" aria-expanded="false" tabindex="0">
                <div class="controls" data-tracking="prop36" data-tracking-value="Earls Court Village development-S.106 Confirmatory Deed"><span class="visually-hidden">Toggle accordion</span></div>
                <div id="s.106-confirmatory-deed-heading" class="accordion-heading">S.106 Confirmatory Deed</div>
            </div>
            <div id="s.106-confirmatory-deed-content" class="start-hidden" role="region" aria-labelledby="s.106-confirmatory-deed-heading">


<div>





<div class="multi-document-download-container">
    

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/s106-confirmatory-deed-agreed-form.pdf">
    <div class="document-download-text">
        <p>Confirmatory Deed (agreed form)</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 58KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.06 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/ec1-land-freehold-layout-s106-confirmatory-deed-plan.pdf">
    <div class="document-download-text">
        <p>EC1, EC2 Land (Freehold) layout</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 520KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.51 -->
 
</div>

</div>
 
            </div>
        </div>
    </div>
 <div class="expandable-box">




        <div class="content">
            <div class="always-visible" role="button" aria-controls="side-letter---future-development-of-lbd-content" aria-expanded="false" tabindex="0">
                <div class="controls" data-tracking="prop36" data-tracking-value="Earls Court Village development-Side letter - future development of LBD"><span class="visually-hidden">Toggle accordion</span></div>
                <div id="side-letter---future-development-of-lbd-heading" class="accordion-heading">Side letter - future development of LBD</div>
            </div>
            <div id="side-letter---future-development-of-lbd-content" class="start-hidden" role="region" aria-labelledby="side-letter---future-development-of-lbd-heading">


<div>





<div class="multi-document-download-container">
    

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/capco-side-letter-tfl-jv.pdf">
    <div class="document-download-text">
        <p>Capco side letter re: joint venture on Earls Court 1 and 2</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 250KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.24 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/gary-yardley-earls-court-26-march-2014.pdf">
    <div class="document-download-text">
        <p>Gary Yardley - Earls Court - 26 March 2014</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 81KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.08 -->
 
</div>

</div>
 
            </div>
        </div>
    </div>
 
</div>
 
      
        
          
            @this.ScriptBlock(
              @<script>
                queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
              </script>
            )
          
        
      
    </div>
  </div>
  <div class="aside" role="complementary">

   
    
    
    
      <div data-set="sidenav-container" class="large">
        
        
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
      </div>
    
    <div>
















<div class="advert-tile unsponsored-style google-ads" aria-hidden="true">
  <div class="advert-link">
    <div class="advert-content">
        <div class="medium-large" data-advert="/76889402/non-targeted" data-advert-sizes="300, 250"></div>
        <div class="small" data-advert="/76889402/non-targeted" data-advert-sizes="300, 250"></div>
    </div>
  </div>
</div>
@{
    ViewBag.AmazonSlot = "'amznslots'";
    ViewBag.AmazonAds = "'3199'"; // to add another value, this needs to be ViewBag.AmazonAds = "'3199','xx'";
}
      

 </div>
    
    <div data-set="sidenav-container" class="small-medium"></div>
  </div>
</div>
 
 
        
        
        
            @{ViewBag.Description = "Capital & Counties Properties PLC and TfL have established a joint venture, Earls Court Partnership Limited, which will enable the development of Earls Court 1 & 2 in line with the Earls Court Masterplan";}
        
            
        


 