
    
  



@{ViewBag.Title = "Economic benefits of walking and cycling";}
@{ViewBag.Keywords = "Businesses,Cyclists,Pedestrians,Public,E,W,Environment,Cycling,Walking,TfL";}
@{ViewBag.Url = "/corporate/publications-and-reports/economic-benefits-of-walking-and-cycling";}
@{ViewBag.Language = "en";}
        <!-- empty placeholder -->
 
        
        
<div class="r">
    <div class="breadcrumb-container" role="navigation">
        <span id="breadcrumb-label" class="visually-hidden">You are here:</span>
        <ol class="breadcrumbs clearfix" aria-labelledby="breadcrumb-label">
            <li class="home">
                <a href="/">
                    <span class="hide-text">Home</span>
                </a>
            </li>
            
                 <li><a href="/corporate/publications-and-reports/index">Publications & reports</a></li>
                
            
            
                <li><span class="last-breadcrumb">Economic benefits of walking and cycling</span></li>
            
        
 
        
 
        </ol>
    </div>
</div>
     
 
<div class="r">
  <div class="headline-container plain">
    <h1>Economic benefits of walking and cycling</h1>

  </div>
</div>
<div class="main-and-aside r">
  
  <div class="main content-container" role="main">
    
      <div class="article-teaser">
        Reports, studies and evidence to present the economic benefits of investment in walking and cycling.
        
      </div>
    
    <div class="on-this-page">
      <p>We're committed to improving conditions for walking and cycling across London, in line with the <a href="/corporate/about-tfl/the-mayors-transport-strategy">Mayor's Transport Strategy</a>. Alongside improving the health of Londoners and the environment, investment in walking and cycling can achieve considerable economic benefits.</p>

<p>This page brings together the latest evidence, research and findings on the economic benefits of walking and cycling, showcasing studies&nbsp;developed by us and other organisations. As well as in-depth reports and studies, we have created a summary pack containing the best evidence from London and elsewhere. This can&nbsp;be downloaded and used by borough officers and others interested in making the economic case for walking and cycling investment.</p>
      
           
      
<div>





<div class="multi-document-download-container">
    

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/walking-cycling-economic-benefits-summary-pack.pdf">
    <div class="document-download-text">
        <p>Walking and cycling economic benefits summary pack</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 3.34MB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 3.34 -->
 
</div>

</div>
 <div>

<h2>Active travel and the high street</h2>

<p>Evidence to show the positive impact of walking and cycling on high streets, town centres and other shopping areas.</p>

<p>The <strong>Street Appeal </strong>report, developed by UCL on our behalf, studies the impact of improvements to the street environment in London town centres and high streets.</p>

<p>The research found that street improvements return substantial benefits to the users of the streets, including local businesses and people visiting the area. For example, the study found a 17% decline in retail vacancy rates between improved and unimproved streets.</p>

<p>Read the full report:</p>
</div>
 
<div>





<div class="multi-document-download-container">
    

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/street-appeal.pdf">
    <div class="document-download-text">
        <p>Street Appeal report</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 6.20MB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 6.20 -->
 
</div>
<p>As well as our own research, you&nbsp;can find&nbsp;further evidence at:</p>

<ul>
	<li><a href="https://www.livingstreets.org.uk/media/1391/pedestrianpound_fullreport_web.pdf">The&nbsp;Pedestrian Pound</a> - Living Streets</li>
	<li><a href="https://www.citylab.com/solutions/2015/03/the-complete-business-case-for-converting-street-parking-into-bike-lanes/387595/">The Complete Business Case for Bike Lanes</a> - CityLab</li>
	<li><a href="http://www.nyc.gov/html/dot/downloads/pdf/dot-economic-benefits-of-sustainable-streets.pdf">Economic Benefits of Sustainable Streets</a> - New York City Department of Transportation&nbsp;</li>
	<li><a href="https://sites.google.com/view/place-value-wiki">Place Value Wiki</a> - Professor Matthew Carmona</li>
</ul>
</div>
 
<div>



<h2>Active travel and business</h2>


<p>Evidence to show the benefits of walking and cycling to London's status as a global business city.</p>
<p>The <strong>Healthy Streets: A Business View</strong> report, developed by the University of Westminster on our behalf, surveys London's Business Improvement Districts (BIDs) to understand the importance of the Healthy Streets Approach to business performance.</p>
<p>The research found that 85% of BIDs see cycling as important to business performance, and 95% of BIDs see walking as important to business performance.</p>
<p>Read the full report: </p>
<div class="multi-document-download-container">
    

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/healthy-streets-a-business-view.pdf">
    <div class="document-download-text">
        <p>Healthy Streets: A Business View report</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 2.35MB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 2.35 -->
 
</div>
<p>As well as our own research, you can find further evidence at:</p>
<ul>
    <li><a href="https://cyclingworks.wordpress.com/">CyclingWorks</a></li>
    <li><a href="http://www.bco.org.uk/Research/Publications/The_Market_Cycles.aspx">The Market Cycles</a> - British Council of Offices</li>
    <li><a href="http://www1.uwe.ac.uk/et/research/cts/researchprojectsbytheme/influencingbehaviours/commutingandwellbeing.aspx">Commuting and Wellbeing -</a> University of the West of England</li>
    <li><a href="https://www.ncbi.nlm.nih.gov/pubmed/20580736">The association between commuter cycling and sickness absence</a></li>
</ul>
</div>
 
<div>




<h2>Active travel and London's growth</h2>

<p>Evidence to show the role of walking and cycling in supporting London's growth, including unlocking&nbsp;new development and using limited road space more efficiently.</p>

<p>The <strong>Cycling and the&nbsp;Housing&nbsp;Market </strong>report, developed by Steer on our behalf, studies the relationship between high-quality cycling infrastructure and the housing market, including new development.</p>

<p>Through interviews with key players in the housing industry, including boroughs, developers and industry pundits, the report finds that high-quality cycling infrastructure can make areas better connected and more liveable, improving the lives of current residents and helping unlock new areas to build the homes that London needs.</p>

<p>The report below includes a TfL summary and the full report from Steer as an appendix.</p>
<div class="multi-document-download-container">
    

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/cycling-housing-market.pdf">
    <div class="document-download-text">
        <p>Cycling and the Housing Market report</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 3.32MB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 3.32 -->
 
</div>
<p>The <strong>Segregated Cycle Infrastructure</strong> evidence pack, which we developed, compiles monitoring and evidence about the impacts and benefits of our cycling programme, with a focus on new segregated infrastructure.</p>
<p>It shows that impact of the segregated cycle infrastructure that we've delivered has been largely positive. It shows significant increases in the number of people now cycling on these routes, and 5% more people move across Blackfriars Bridge by all modes of transport than before the segregated lanes were installed.</p>
<p>Read the full report:</p>
</div>
 
<div>





<div class="multi-document-download-container">
    

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/segregated-cycling-infrastructure-evidence-pack.pdf">
    <div class="document-download-text">
        <p>Segregated Cycle Infrastructure evidence pack</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 2.63MB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 2.63 -->
 
</div>

</div>
 
<div>





<div class="multi-document-download-container">
    
</div>
<h2>Contact us</h2>

<p>For comments and further information, contact <a href="mailto:activetravel&#64;tfl.gov.uk">activetravel&#64;tfl.gov.uk</a>. We're particularly keen to hear about new research and relevant evidence from third parties.</p>
</div>
 
      
        
          
            @this.ScriptBlock(
              @<script>
                queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
              </script>
            )
          
        
      
    </div>
  </div>
  <div class="aside" role="complementary">

   
    
    
    
    <div>
















<div class="advert-tile unsponsored-style google-ads" aria-hidden="true">
  <div class="advert-link">
    <div class="advert-content">
        <div class="medium-large" data-advert="/76889402/non-targeted" data-advert-sizes="300, 250"></div>
        <div class="small" data-advert="/76889402/non-targeted" data-advert-sizes="300, 250"></div>
    </div>
  </div>
</div>
@{
    ViewBag.AmazonSlot = "'amznslots'";
    ViewBag.AmazonAds = "'3199'"; // to add another value, this needs to be ViewBag.AmazonAds = "'3199','xx'";
}
      

 </div>
    
      <div class="module-grid clearfix">
                    
        <div class="related-links">

    <h3>Also on this site</h3>

<div class="vertical-button-container">

<a href="/modes/walking/index" class="plain-button">Walking</a>
<a href="/modes/cycling/index" class="plain-button">Cycling</a>
<a href="/corporate/about-tfl/how-we-work/planning-for-the-future/healthy-streets" class="plain-button">Healthy Streets</a>
<a href="/corporate/about-tfl/the-mayors-transport-strategy" class="plain-button">Mayor's Transport Strategy</a>
    </div>
</div>
 
      </div>
    
    <div data-set="sidenav-container" class="small-medium"></div>
  </div>
</div>
 
 
        
        
        
            @{ViewBag.Description = "Reports, studies and practical toolkits that present the economic benefits of walking and cycling.";}
        
            
        


 