
    
  



@{ViewBag.Title = "Environment, Corporate & Planning";}
@{ViewBag.Keywords = "Planning and construction,Public,C,E,Committee and panel meetings,Environment,TfL";}
@{ViewBag.Url = "/corporate/publications-and-reports/environment-corporate-and-planning";}
@{ViewBag.Language = "en";}
        <!-- empty placeholder -->
 
        
        
<div class="r">
    <div class="breadcrumb-container" role="navigation">
        <span id="breadcrumb-label" class="visually-hidden">You are here:</span>
        <ol class="breadcrumbs clearfix" aria-labelledby="breadcrumb-label">
            <li class="home">
                <a href="/">
                    <span class="hide-text">Home</span>
                </a>
            </li>
            
                 <li><a href="/corporate/publications-and-reports/index">Publications & reports</a></li>
                
            
            
                <li><span class="last-breadcrumb">Environment, Corporate & Planning</span></li>
            
        
 
        
 
        </ol>
    </div>
</div>
     
 
<div class="r">
  <div class="headline-container plain">
    <h1>Environment, Corporate & Planning</h1>

  </div>
</div>
<div class="main-and-aside r">
  
  <div class="main content-container" role="main">
    
      <div class="article-teaser">
        On 2 February 2012, the TfL Board approved changes to its committee and panel structure.<BR>
        
      </div>
    
    
      
        <p>From 1 April 2012 the Environment, Corporate and Planning panel ceased to exist. Its items of business were split between the two new panels: <a href="/corporate/publications-and-reports/safety-sustainability-hr">Safety & sustainability panel</a> and <a href="/corporate/publications-and-reports/projects-and-planning-panel">Projects &amp; planning panel</a>.</p>
        <p><strong>Members:</strong> Baroness Grey-Thompson (Chair), Sir Mike Hodgkinson (Vice Chair), Peter Anderson, Judith Hunt, Eva Lindholm, Steven Norris, Patrick O'Keeffe, Tony West</p>
    
      
           
      <div class="accordion">




<div class="expandable-box">




        <div class="content">
            <div class="always-visible" role="button" aria-controls="2012-content" aria-expanded="false" tabindex="0">
                <div class="controls" data-tracking="prop36" data-tracking-value="Environment, Corporate & Planning-2012"><span class="visually-hidden">Toggle accordion</span></div>
                <div id="2012-heading" class="accordion-heading">2012</div>
            </div>
            <div id="2012-content" class="start-hidden" role="region" aria-labelledby="2012-heading">

        <h3>23 February 2012</h3>
        <p>
        <a href="/cdn/static/cms/documents/item01a-ecpp-agenda-feb-2012.rtf">Agenda - RTF version (RTF 0.09MB)</a><br />
        <a href="/cdn/static/cms/documents/item01a-ecpp-agenda-feb-2012.pdf">Agenda (PDF 0.03MB)</a><br />
        <a href="/cdn/static/cms/documents/item02-ecpp-minutes-10-nov-2011.pdf">Item 2 - Minutes of the Meeting held on 10 November 2011 (PDF 0.04MB)</a><br />
        <a href="/cdn/static/cms/documents/item03-ecpp-action-list-feb-2011.pdf">Item 3 - Matters Arising and Actions List (PDF 0.02MB)</a><br />
        <a href="/cdn/static/cms/documents/item04-high-speed-2-update.pdf">Item 4 - Update on High Speed 2 (PDF 0.05MB)</a><br />
        <a href="/cdn/static/cms/documents/item05-river-crossings-package.pdf">Item 5 - River Crossings Package (PDF 0.18MB)</a></p>
    

            </div>
        </div>
    </div>
 <div class="expandable-box">




        <div class="content">
            <div class="always-visible" role="button" aria-controls="2011-content" aria-expanded="false" tabindex="0">
                <div class="controls" data-tracking="prop36" data-tracking-value="Environment, Corporate & Planning-2011"><span class="visually-hidden">Toggle accordion</span></div>
                <div id="2011-heading" class="accordion-heading">2011</div>
            </div>
            <div id="2011-content" class="start-hidden" role="region" aria-labelledby="2011-heading">

        <h3>10 November</h3>
        <p>
        <a href="/cdn/static/cms/documents/item01-ecpp-agenda-nov-2011.rtf">Agenda - RTF version (RTF 0.09MB)</a><br />
        <a href="/cdn/static/cms/documents/item01-ecpp-agenda-nov-2011.pdf">Agenda (PDF 0.03MB)</a><br />
        <a href="/cdn/static/cms/documents/item02-ecpp-minutes-18-may-2011.pdf">Item 2 - Minutes of the Meeting Held on 18 May 2011 (PDF 0.02MB)</a><br />
        <a href="/cdn/static/cms/documents/item03-ecpp-action-list-nov-2011.pdf">Item 3 - Matters Arising and Actions List (PDF 0.01MB)</a><br />
        <a href="/cdn/static/cms/documents/item04-ecpp-nov-2011-termini.pdf">Item 4 - Central London Rail Termini: Analysing Passengers' Onward Travel Patterns (PDF 0.06MB)</a><br />
        <a href="/cdn/static/cms/documents/item05-ecpp-nov-2011-hs2.pdf">Item 5 - Update on High Speed 2 (PDF 0.48MB)</a><br />
        <a href="/cdn/static/cms/documents/item06-ecpp-nov-2011-transport-and-health-best-practice-guide.pdf">Item 6 - Transport and Health Best Practice Guide (PDF 3.36MB)</a></p>
        <h3>18 May</h3>
        <p>
        <a href="/cdn/static/cms/documents/item01-ecpp-agenda-may-2011.rtf">
        Agenda - RTF version (RTF 0.09MB)</a><br />
        <a href="/cdn/static/cms/documents/item01-ecpp-agenda-may-2011.pdf">Agenda (PDF 0.02MB)</a><br />
        <a href="/cdn/static/cms/documents/item02-ecpp-minutes-10-feb-2011.pdf">Item 2 - Minutes of the Meeting held on 10 February 2011 (PDF 0.02MB)</a><br />
        <a href="/cdn/static/cms/documents/item03-ecpp-action-list-18-may-2011.pdf">Item 3 - Matters Arising and Actions List (PDF 0.02MB)</a><br />
        <a href="/cdn/static/cms/documents/item04ecpp-18-may-2011-tfL-press-office.pdf">Item 4 - TfL Press Office (PDF 0.04MB)</a></p>
        <h3>10 February</h3>
        <p>
        <a href="/cdn/static/cms/documents/item01-ecpp-agenda-10-feb-2011.rtf">
        Agenda - RTF version (RTF 0.09MB)</a><br />
        <a href="/cdn/static/cms/documents/item01-ecpp-agenda-10-feb-2011.pdf">Agenda (PDF 0.02MB)</a><br />
        <a href="/cdn/static/cms/documents/item02-ecpp-minutes-17-nov-2010.pdf">Item 2 - Minutes of 17 November 2010 Meeting (PDF 0.02MB)</a><br />
        <a href="/cdn/static/cms/documents/item03-action-list-10-feb-2011.pdf">Item 3 - Matters Arising and Actions List (PDF 0.01MB)</a><br />
        <a href="/cdn/static/cms/documents/item04-engaging-london-political-community.pdf">Item 4 - Engaging with London's Political Community (PDF 0.03MB)</a><br />
        <a href="/cdn/static/cms/documents/item05-travel-in-london-3.pdf">Item 5 - Travel in London - Report Number Three (PDF 0.80MB)</a><br />
        <a href="/cdn/static/cms/documents/item06-mts-accessibility-implementation.pdf">Item 6 - Mayor's Transport Strategy Accessibility Implementation Plan (PDF 0.03MB)</a></p>
    

            </div>
        </div>
    </div>
 <div class="expandable-box">




        <div class="content">
            <div class="always-visible" role="button" aria-controls="2010-content" aria-expanded="false" tabindex="0">
                <div class="controls" data-tracking="prop36" data-tracking-value="Environment, Corporate & Planning-2010"><span class="visually-hidden">Toggle accordion</span></div>
                <div id="2010-heading" class="accordion-heading">2010</div>
            </div>
            <div id="2010-content" class="start-hidden" role="region" aria-labelledby="2010-heading">

        <h3>17 November</h3>
        <p>
        <a href="/cdn/static/cms/documents/item01-ecpp-agenda-nov-2010.rtf">
        Agenda - RTF version (RTF 0.09MB)</a><br />
        <a href="/cdn/static/cms/documents/item01-ecpp-17-nov-2010-agenda.pdf">Agenda (PDF 0.03MB)</a><br />
        <a href="/cdn/static/cms/documents/item02-ecpp-17-nov-2010-minutes-6-oct-2010-meeting.pdf">Item 2 - Minutes of 6 October 2010 Meeting (PDF 0.02MB)</a><br />
        <a href="/cdn/static/cms/documents/item03-ecpp-17-nov-2010-actions-list.pdf">Item 3 - Matters Arising and Actions List (PDF 0.01MB)</a><br />
        <a href="/cdn/static/cms/documents/item04-ecpp-17-nov-2010-workforce-diversity.pdf">Item 4 - TfL Workforce Diversity - Mid Year Report (PDF 0.11MB)</a><br />
        <a href="/cdn/static/cms/documents/item05-ecpp-17-nov-2010-stakeholder-engagement.pdf">Item 5 - Stakeholder Engagement (PDF 0.04MB)</a><br />
        <a href="/cdn/static/cms/documents/item06-ecpp-17-nov-2010-interchange-plan.pdf">Item 6 - Interchange Plan Framework (PDF 0.19MB)</a></p>
        <h3>06 October</h3>
        <p>
        <a href="/cdn/static/cms/documents/item01-ecpp-agenda-oct-2010.rtf">Agenda - RTF version (RTF 0.09MB)</a><br />
        <a href="/cdn/static/cms/documents/item01-ecpp-agenda-oct-2010.pdf">Agenda (PDF 0.03MB)</a><br />
        <a href="/cdn/static/cms/documents/item02-ecpp-terms-of-ref-oct-2010.pdf">Item 2 - Terms of Reference of the Environment, Corporate and Planning Panel (PDF 0.02MB)</a><br />
        <a href="/cdn/static/cms/documents/item03-ecpp-oct-10-impact-of-sr.pdf">Item 3 - Managing the Equality Implications of the Spending Review (PDF 0.04MB)</a><br />
        <a href="/cdn/static/cms/documents/item04-ecpp-oct-10-digital-strategy.pdf">Item 4 - TfL Digital Strategy 2010-2013 (PDF 0.45MB)</a><br />
        <a href="/cdn/static/cms/documents/item05-ecpp-oct-10-travel-in-london-3.pdf">Item 5 - Travel in London Report Number Three (PDF 0.02MB)</a><br />
        <a href="/cdn/static/cms/documents/item06-ecpp-oct-10-saf.pdf">Item 6 - Strategic Assessment Framework (PDF 0.13MB)</a><br />
        <a href="/cdn/static/cms/documents/item07-ecpp-oct-10-modelling.pdf">Item7 - Development of Modelling Capability in TfL (PDF 0.08MB)</a>
        </p>
    

            </div>
        </div>
    </div>
 <div class="expandable-box">




        <div class="content">
            <div class="always-visible" role="button" aria-controls="environment-and-planning-panel-2010-content" aria-expanded="false" tabindex="0">
                <div class="controls" data-tracking="prop36" data-tracking-value="Environment, Corporate & Planning-Environment and planning panel 2010"><span class="visually-hidden">Toggle accordion</span></div>
                <div id="environment-and-planning-panel-2010-heading" class="accordion-heading">Environment and planning panel 2010</div>
            </div>
            <div id="environment-and-planning-panel-2010-content" class="start-hidden" role="region" aria-labelledby="environment-and-planning-panel-2010-heading">

        <h3>24 February</h3>
        <p>
        <a href="/cdn/static/cms/documents/item01-epp-agenda-24-feb-2010.rtf">Agenda - RTF version (RTF 0.09MB)</a><br />
        <a href="/cdn/static/cms/documents/item01-epp-agenda-24-feb-2010.pdf">Agenda (PDF 0.03MB)</a><br />
        <a href="/cdn/static/cms/documents/item02-epp-minutes-21-oct-2009.pdf">Item 2 - Minutes of 21 October 2009 Meeting (PDF 0.02MB)</a><br />
        <a href="/cdn/static/cms/documents/item03-actions-list-24-feb.pdf">Item 3 -  Matters Arising and Actions List (PDF 0.02MB)</a><br />
        <a href="/cdn/static/cms/documents/item04-environmental-reporting.pdf">Item 4 - Environmental Reporting (PDF 0.17MB)</a><br />
        <a href="/cdn/static/cms/documents/item05-envir-policy-mgmt-framework.pdf">Item 5 - TfL Environmental Policy and Management Framework (PDF 0.19MB)</a><br />
        <a href="/cdn/static/cms/documents/item06-olympics-sustainability.pdf">Item 6 - London 2012 Olympics and Paralympics Transport Planning and Sustainability (PDF 0.06MB)</a></p>
    

            </div>
        </div>
    </div>
 <div class="expandable-box">




        <div class="content">
            <div class="always-visible" role="button" aria-controls="strategic-planning-advisory-panel-2009-content" aria-expanded="false" tabindex="0">
                <div class="controls" data-tracking="prop36" data-tracking-value="Environment, Corporate & Planning-Strategic planning advisory panel 2009"><span class="visually-hidden">Toggle accordion</span></div>
                <div id="strategic-planning-advisory-panel-2009-heading" class="accordion-heading">Strategic planning advisory panel 2009</div>
            </div>
            <div id="strategic-planning-advisory-panel-2009-content" class="start-hidden" role="region" aria-labelledby="strategic-planning-advisory-panel-2009-heading">

        <h3>21 October</h3>
        <p>
        <a href="/cdn/static/cms/documents/item01-epp-agenda-21-oct2009.rtf">Agenda - RTF version (RTF 0.09MB)</a><br />
        <a href="/cdn/static/cms/documents/item01-epp-agenda-21-oct2009.pdf">Agenda (PDF 0.03MB)</a><br />
        <a href="/cdn/static/cms/documents/item-02-terms-of-reference.pdf">Item 2 - Terms of Reference (PDF 0.02MB)</a><br />
        <a href="/cdn/static/cms/documents/item-03-2009-10-work-plan.pdf">Item 3 - Environment and Planning Panel Work Plan 2009/10 (PDF 0.02MB)</a><br />
        <a href="/cdn/static/cms/documents/item-04-mayors-transport-strategy.pdf">Item 4 - Mayor's Transport Strategy Public Draft (PDF 0.08MB)</a><br />
        <a href="/cdn/static/cms/documents/item-05-sub-regional-transport-plans.pdf">Item 5 - Update on Sub-regional Transport Plan Development (PDF 0.68MB)</a></p>
        <h3>08 July</h3>
        <p>
        <a href="/cdn/static/cms/documents/item01-agenda-july-2009.rtf">Agenda - RTF version (RTF 0.08MB)</a><br />
        <a href="/cdn/static/cms/documents/item01-agenda-july-2009.pdf">Agenda (PDF 0.04MB)</a><br />
        <a href="/cdn/static/cms/documents/item02-minutes-12-may-2009.pdf">Item 2 - Minutes of 12 May 2009 Meeting (PDF 0.03MB)</a><br />
        <a href="/cdn/static/cms/documents/item03-actions-list-8-july-2009.pdf">Item 3 - Matters Arising and Actions List (PDF 0.02MB)</a><br />
        <a href="/cdn/static/cms/documents/item04-corporate-directors-report.pdf">Item 4 - Corporate Directors' Report (PDF 0.08MB)</a><br />
        <a href="/cdn/static/cms/documents/item05-update-on-mts.pdf">Item 5 - Update on Development of Mayor's Transport Strategy and London Regional Transport Plans (PDF 0.05MB)</a><br />
        <a href="/cdn/static/cms/documents/item06-eastlondonrivercrossings.pdf">Item 6 - Update on East London River Crossings Review (PDF 6.62MB)</a></p>
        <h3>12 May</h3>
        <p>
        <a href="/cdn/static/cms/documents/item01-agenda.rtf">Agenda - RTF version (RTF 0.08MB)</a><br />
        <a href="/cdn/static/cms/documents/item01-agenda.pdf">Agenda (PDF 0.03MB)</a><br />
        <a href="/cdn/static/cms/documents/item02-mins.pdf">Item 2 - Minutes of Meeting Held on 19 March 2009 (PDF 0.03MB)</a><br />
        <a href="/cdn/static/cms/documents/item03-actions.pdf">Item 3 - Matters Arising and Actions List (PDF 0.02MB)</a><br />
        <a href="/cdn/static/cms/documents/item04-corporate-mds-report-may-2009.pdf">Item 4 - Corporate Managing Director's Report (PDF 0.12MB)</a><br />
        <a href="/cdn/static/cms/documents/item05-workforce-diversity.pdf">Item 5 - TfL Workforce Diversity - End of Year Report (PDF 0.08MB)</a><br />
        <a href="/cdn/static/cms/documents/item06-skills-strategy-pcp.pdf">Item 6 - Skills and Employment Strategy Implementation (PDF 0.04MB)</a><br />
        <a href="/cdn/static/cms/documents/item07-operating-cost-reduction-programme-communication-approach.pdf">Item 7 - Operating Cost Reduction Programme - Communication Approach (PDF 0.13MB)</a></p>
        <h3>19 March</h3>
        <p>
        <a href="/cdn/static/cms/documents/item01-agenda-march-2009.rtf">Agenda - RTF version (RTF 0.08MB)</a><br />
        <a href="/cdn/static/cms/documents/item01-agenda-march-2009.pdf">Agenda (PDF 0.03MB)</a><br />
        <a href="/cdn/static/cms/documents/item02-terms-of-reference.pdf">Item 2 - Terms of Reference (PDF 0.03MB)</a><br />
        <a href="/cdn/static/cms/documents/item03-corporate-mds-report.pdf">Item 3 - Corporate Director's Report (PDF 0.09MB)</a><br />
        <a href="/cdn/static/cms/documents/item04-breakthrough.pdf">Item 4 - Breakthrough Recruitment and Selection Review (PDF 0.03MB)</a><br />
        <a href="/cdn/static/cms/documents/item05-employee-engagement-survey.pdf">Item 5 - Employee Satisfaction Survey - Update (PDF 0.11MB)</a><br />
        <a href="/cdn/static/cms/documents/item06-skills-strategy.pdf">Item 6 - Skills and Employment Strategy Implementation (PDF 0.03MB)</a><br />
        <a href="/cdn/static/cms/documents/item07-briefing-and-site-visits.pdf">Item 7 - Briefing and Site Visits (PDF 0.02MB)</a></p>
    

            </div>
        </div>
    </div>
 <div class="expandable-box">




        <div class="content">
            <div class="always-visible" role="button" aria-controls="strategic-planning-advisory-panel-2007-content" aria-expanded="false" tabindex="0">
                <div class="controls" data-tracking="prop36" data-tracking-value="Environment, Corporate & Planning-Strategic planning advisory panel 2007"><span class="visually-hidden">Toggle accordion</span></div>
                <div id="strategic-planning-advisory-panel-2007-heading" class="accordion-heading">Strategic planning advisory panel 2007</div>
            </div>
            <div id="strategic-planning-advisory-panel-2007-content" class="start-hidden" role="region" aria-labelledby="strategic-planning-advisory-panel-2007-heading">

        <h3>16 January </h3>
        <p>
        <a href="/cdn/static/cms/documents/spap-agenda-160107.rtf">Agenda - RTF version (RTF 25KB)</a><br />
        <a href="/cdn/static/cms/documents/spap-agenda-160107.pdf">Agenda and papers (PDF 252KB)</a></p>
        <h3>14 May </h3>
        <p>
        <a href="/cdn/static/cms/documents/strategic-advisory-panel-07-05-14.rtf">Agenda - RTF version (RTF 25KB)</a>
        <br />
        <a href="/cdn/static/cms/documents/strategic-advisory-panel-agenda-papers-07-05-14.pdf">Agenda and papers (PDF 555KB)</a></p>
        <h3>11 December</h3>
        <p>
        <a href="/cdn/static/cms/documents/spap-agenda-07-12-11.rtf">Agenda - RTF version (RTF 43KB)</a><br />
        <a href="/cdn/static/cms/documents/spap-agenda-07-12-11.pdf">Agenda and papers (PDF 116KB)</a></p>
    

            </div>
        </div>
    </div>
 <div class="expandable-box">




        <div class="content">
            <div class="always-visible" role="button" aria-controls="corporate-panel-2010-content" aria-expanded="false" tabindex="0">
                <div class="controls" data-tracking="prop36" data-tracking-value="Environment, Corporate & Planning-Corporate panel 2010"><span class="visually-hidden">Toggle accordion</span></div>
                <div id="corporate-panel-2010-heading" class="accordion-heading">Corporate panel 2010</div>
            </div>
            <div id="corporate-panel-2010-content" class="start-hidden" role="region" aria-labelledby="corporate-panel-2010-heading">

        <h3>23 February</h3>
        <p>
        <a href="/cdn/static/cms/documents/item01-cp-agenda-23-feb2010.rtf">Agenda - RTF version (RTF 0.09MB)</a><br />
        <a href="/cdn/static/cms/documents/item01-cp-agenda-23-feb2010.pdf">Agenda (PDF 0.03MB)</a><br />
        <a href="/cdn/static/cms/documents/item02-cp-minutes-17-11-09.pdf">Item 2 - Minutes of 17 November 2009 Meeting (PDF 0.02MB)</a><br />
        <a href="/cdn/static/cms/documents/item03-action-list-23-feb.pdf">Item 3 - Matters Arising and Actions List (PDF 0.02MB)</a><br />
        <a href="/cdn/static/cms/documents/item04-tfLs-accommodation-strategy.pdf">Item 4 - Accommodation Strategy (PDF 0.15MB)</a><br />
        <a href="/cdn/static/cms/documents/item05-tfLs-comms-strategy-and-customer-engagement.pdf">Item 5 - TfL's Communications Strategy and Customer Engagement (PDF 0.05MB)</a></p>
    

            </div>
        </div>
    </div>
 <div class="expandable-box">




        <div class="content">
            <div class="always-visible" role="button" aria-controls="corporate-and-equality-advisory-panel-2009-content" aria-expanded="false" tabindex="0">
                <div class="controls" data-tracking="prop36" data-tracking-value="Environment, Corporate & Planning-Corporate and equality advisory panel 2009"><span class="visually-hidden">Toggle accordion</span></div>
                <div id="corporate-and-equality-advisory-panel-2009-heading" class="accordion-heading">Corporate and equality advisory panel 2009</div>
            </div>
            <div id="corporate-and-equality-advisory-panel-2009-content" class="start-hidden" role="region" aria-labelledby="corporate-and-equality-advisory-panel-2009-heading">

        <h3>17 November</h3>
        <p>
        <a href="/cdn/static/cms/documents/item01-cp-agenda-17-nov2009.rtf">Agenda - RTF version (RTF 0.09MB)</a><br />
        <a href="/cdn/static/cms/documents/item01-cp-agenda-17-nov2009.pdf">Agenda (PDF 0.04MB)</a><br />
        <a href="/cdn/static/cms/documents/item-2-terms-of-reference.pdf">Item 2 - Terms of Reference (PDF 0.02MB)</a><br />
        <a href="/cdn/static/cms/documents/item-3-2009-10-work-plan.pdf">Item 3 - Corporate Panel Work Plan for 2010 (PDF 0.02MB)</a><br />
        <a href="/cdn/static/cms/documents/item-4-employee-engagement.pdf">Item 4 - Employee Engagement (PDF 0.05MB)</a><br />
        <a href="/cdn/static/cms/documents/item-5-skills-and-employment-strategy.pdf">Item 5 - Skills and Employment Strategy Implementation (PDF 0.03MB)</a><br />
        <a href="/cdn/static/cms/documents/item-6-shared-services.pdf">Item 6 - Shared Services Programme (PDF 0.05MB)</a></p>
        <h3>08 July</h3>
        <p>
        <a href="/cdn/static/cms/documents/item01-agenda-july-2009.rtf">Agenda - RTF version (RTF 0.08MB)</a><br />
        <a href="/cdn/static/cms/documents/item01-agenda-july-2009.pdf">Agenda (PDF 0.04MB)</a><br />
        <a href="/cdn/static/cms/documents/item02-minutes-12-may-2009.pdf">Item 2 - Minutes of 12 May 2009 Meeting (PDF 0.03MB)</a><br />
        <a href="/cdn/static/cms/documents/item03-actions-list-8-july-2009.pdf">Item 3 - Matters Arising and Actions List (PDF 0.02MB)</a><br />
        <a href="/cdn/static/cms/documents/item04-corporate-directors-report.pdf">Item 4 - Corporate Directors' Report (PDF 0.08MB)</a><br />
        <a href="/cdn/static/cms/documents/item05-update-on-mts.pdf">Item 5 - Update on Development of Mayor's Transport Strategy and London Regional Transport Plans (PDF 0.05MB)</a><br />
        <a href="/cdn/static/cms/documents/item06-eastlondonrivercrossings.pdf">Item 6 - Update on East London River Crossings Review (PDF 6.62MB)</a></p>
        <h3>12 May</h3>
        <p>
        <a href="/cdn/static/cms/documents/item01-agenda.rtf">Agenda - RTF version (RTF 0.08MB)</a><br />
        <a href="/cdn/static/cms/documents/item01-agenda.pdf">Agenda (PDF 0.03MB)</a><br />
        <a href="/cdn/static/cms/documents/item02-mins.pdf">Item 2 - Minutes of Meeting Held on 19 March 2009 (PDF 0.03MB)</a><br />
        <a href="/cdn/static/cms/documents/item03-actions.pdf">Item 3 - Matters Arising and Actions List (PDF 0.02MB)</a><br />
        <a href="/cdn/static/cms/documents/item04-corporate-mds-report-may-2009.pdf">Item 4 - Corporate Managing Director's Report (PDF 0.12MB)</a><br />
        <a href="/cdn/static/cms/documents/item05-workforce-diversity.pdf">Item 5 - TfL Workforce Diversity - End of Year Report (PDF 0.08MB)</a><br />
        <a href="/cdn/static/cms/documents/item06-skills-strategy-pcp.pdf">Item 6 - Skills and Employment Strategy Implementation (PDF 0.04MB)</a><br />
        <a href="/cdn/static/cms/documents/item07-operating-cost-reduction-programme-communication-approach.pdf">Item 7 - Operating Cost Reduction Programme - Communication Approach (PDF 0.13MB)</a></p>
        <h3>19 March</h3>
        <p>
        <a href="/cdn/static/cms/documents/item01-agenda-march-2009.rtf">Agenda - RTF version (RTF 0.08MB)</a><br />
        <a href="/cdn/static/cms/documents/item01-agenda-march-2009.pdf">Agenda (PDF 0.03MB)</a><br />
        <a href="/cdn/static/cms/documents/item02-terms-of-reference.pdf">Item 2 - Terms of Reference (PDF 0.03MB)</a><br />
        <a href="/cdn/static/cms/documents/item03-corporate-mds-report.pdf">Item 3 - Corporate Director's Report (PDF 0.09MB)</a><br />
        <a href="/cdn/static/cms/documents/item04-breakthrough.pdf">Item 4 - Breakthrough Recruitment and Selection Review (PDF 0.03MB)</a><br />
        <a href="/cdn/static/cms/documents/item05-employee-engagement-survey.pdf">Item 5 - Employee Satisfaction Survey - Update (PDF 0.11MB)</a><br />
        <a href="/cdn/static/cms/documents/item06-skills-strategy.pdf">Item 6 - Skills and Employment Strategy Implementation (PDF 0.03MB)</a><br />
        <a href="/cdn/static/cms/documents/item07-briefing-and-site-visits.pdf">Item 7 - Briefing and Site Visits (PDF 0.02MB)</a></p>
    

            </div>
        </div>
    </div>
 <div class="expandable-box">




        <div class="content">
            <div class="always-visible" role="button" aria-controls="corporate-and-equality-advisory-panel-2008-content" aria-expanded="false" tabindex="0">
                <div class="controls" data-tracking="prop36" data-tracking-value="Environment, Corporate & Planning-Corporate and equality advisory panel 2008"><span class="visually-hidden">Toggle accordion</span></div>
                <div id="corporate-and-equality-advisory-panel-2008-heading" class="accordion-heading">Corporate and equality advisory panel 2008</div>
            </div>
            <div id="corporate-and-equality-advisory-panel-2008-content" class="start-hidden" role="region" aria-labelledby="corporate-and-equality-advisory-panel-2008-heading">

        <h3>14 February</h3>
        <p>
        <a href="/cdn/static/cms/documents/ceap-agenda-14-02-08.rtf">Agenda - RTF version (RTF 0.04MB)</a><br />
        Agenda - No longer available<br />
        Item 2 - Minutes of 10 December 2007 Meeting - No longer available <br />
        Item 3 - Matters Arising and Actions List - No longer available <br />
        Item 4 - Delivering More Together (GLA Convergence) - No longer available <br />
        Item 5 - TfL Workforce Diversity - No longer available</p>
    

            </div>
        </div>
    </div>
 <div class="expandable-box">




        <div class="content">
            <div class="always-visible" role="button" aria-controls="corporate-and-equality-advisory-panel-2007-content" aria-expanded="false" tabindex="0">
                <div class="controls" data-tracking="prop36" data-tracking-value="Environment, Corporate & Planning-Corporate and equality advisory panel 2007"><span class="visually-hidden">Toggle accordion</span></div>
                <div id="corporate-and-equality-advisory-panel-2007-heading" class="accordion-heading">Corporate and equality advisory panel 2007</div>
            </div>
            <div id="corporate-and-equality-advisory-panel-2007-content" class="start-hidden" role="region" aria-labelledby="corporate-and-equality-advisory-panel-2007-heading">

        <h3>25 January </h3>
        <p><a href="/cdn/static/cms/documents/agenda-25107.rtf">Agenda - RTF version (RTF 41KB)</a><br />
        <a href="/cdn/static/cms/documents/agenda-25107.pdf">Agenda and papers (PDF 2.5MB)</a></p>
        <p>
        </p>
        <h3>18 May</h3>
        <p>
        <a href="/cdn/static/cms/documents/agenda-180507.rtf">Agenda - RTF version (RTF 53KB)</a><br />
        <a href="/cdn/static/cms/documents/CEAP-papers.pdf">Agenda and papers (PDF 199KB)</a></p>
        <h3>25 September</h3>
        <p>
        <a href="/cdn/static/cms/documents/corporate-and-equalities-advisory-panel-25-09-07.pdf">Agenda and papers (PDF 1.79MB)</a></p>
        <h3>10 December</h3>
        <p><a href="/cdn/static/cms/documents/agenda-101207.rtf">Agenda - RTF version (RTF 47KB)</a>
        <br />
        <a href="/cdn/static/cms/documents/ceap-papers-101207.pdf">Agenda and papers (PDF 280KB)</a></p>
    

            </div>
        </div>
    </div>
 
</div>
 
      
        
          
        
      
    
  </div>
  <div class="aside" role="complementary">

   
    
    
    
      <div data-set="sidenav-container" class="large">
        
        
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
      </div>
    
    <div>
















<div class="advert-tile unsponsored-style google-ads" aria-hidden="true">
  <div class="advert-link">
    <div class="advert-content">
        <div class="medium-large" data-advert="/76889402/non-targeted" data-advert-sizes="300, 250"></div>
        <div class="small" data-advert="/76889402/non-targeted" data-advert-sizes="300, 250"></div>
    </div>
  </div>
</div>
@{
    ViewBag.AmazonSlot = "'amznslots'";
    ViewBag.AmazonAds = "'3199'"; // to add another value, this needs to be ViewBag.AmazonAds = "'3199','xx'";
}
      

 </div>
    
    <div data-set="sidenav-container" class="small-medium"></div>
  </div>
</div>
 
 
        
        
        
            @{ViewBag.Description = "Agendas and minutes from all Environment, corporate & planning panel meetings";}
        
            
        


 