
    
  



@{ViewBag.Title = "Environment reports";}
@{ViewBag.Keywords = "E,Environment,Regular reports,Special reports,TfL";}
@{ViewBag.Url = "/corporate/publications-and-reports/environment-reports";}
@{ViewBag.Language = "en";}
        <!-- empty placeholder -->
 
        
        
<div class="r">
    <div class="breadcrumb-container" role="navigation">
        <span id="breadcrumb-label" class="visually-hidden">You are here:</span>
        <ol class="breadcrumbs clearfix" aria-labelledby="breadcrumb-label">
            <li class="home">
                <a href="/">
                    <span class="hide-text">Home</span>
                </a>
            </li>
            
                 <li><a href="/corporate/publications-and-reports/index">Publications & reports</a></li>
                
            
            
                <li><span class="last-breadcrumb">Environment reports</span></li>
            
        
 
        
 
        </ol>
    </div>
</div>
     
 
<div class="r">
  <div class="headline-container plain">
    <h1>Environment reports</h1>

  </div>
</div>
<div class="main-and-aside r">
  
  <div class="main content-container" role="main">
    
      <div class="article-teaser">
        Download reports on what we have done to make London's transport network greener.
        
      </div>
    
    <div class="on-this-page">
      <p>Current Health, Safety and Environment reports are available on the <a href="/corporate/publications-and-reports/health-safety-and-environment">Health, safety &amp; environment page</a>.&nbsp; </p>
      
           
      
<div>



<h2>Vehicle emissions</h2>


<p>We have tested the emissions performance of Euro 6/VI vehicles in urban environments. </p>
<p>This report presents the results from these tests, alongside a summary of the legislative and technical framework for Euro 6/VI vehicle emissions standards.</p>
<div class="multi-document-download-container">
    

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/auxiliary-temperature-reduction-units-in-the-greater-london-area.pdf">
    <div class="document-download-text">
        <p>Auxiliary temperature reduction units in the greater London area</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 868KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.85 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/london-exhaust-emissions-study-developing-a-test-programme.pdf">
    <div class="document-download-text">
        <p>London Exhaust Emissions Study - developing a test programme</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 1.21MB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 1.21 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/london-exhaust-emissions-study-drive-cycle-development.pdf">
    <div class="document-download-text">
        <p>London Exhaust Emissions Study - drive cycle development</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 1.20MB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 1.20 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/in-service-emissions-performance-of-euro-6vi-vehicles.pdf">
    <div class="document-download-text">
        <p>Euro 6/VI emissions testing</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 655KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.64 -->
 
</div>

</div>
 
<div>



<h2>Air quality on the Underground</h2>


<p>The movement of trains over the rails, engineering works and customer use all contribute dust to the Tube network. We spend around &pound;60m a year cleaning our trains, stations and tunnels.</p>

<p>We've increased the number of times cleaning is done in areas where inspections show dust is accumulating. We're also trying new cleaning methods, and will incorporate the most effective ones into our cleaning regime.</p>

<p>We're also funding studies&nbsp;of Tube dust, to better understand the health risks associated with dust on the Tube, which is different to dust found above ground.</p>

<p>We compare the levels of dust on the network to the safe levels set by the Health and Safety Executive (HSE). The monitoring shows that dust levels are well below the HSE workplace exposure limits for general dust. We also meet the stricter requirements of the Institute of Occupational Medicine in most places.</p>
<div class="multi-document-download-container">
    

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/respirable-airborne-dust-monitoring-at-various-london-underground-stations-and-train-lines-2017.pdf">
    <div class="document-download-text">
        <p>Respirable airborne dust monitoring at London Underground stations and train lines 2017</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 3.93MB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 3.93 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/dust-monitoring-london-underground-network.pdf">
    <div class="document-download-text">
        <p>Dust monitoring 2016</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 3.89MB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 3.89 -->
 
</div>

</div>
 
<div>



<h2>Past environment reports</h2>



        <p>As part of our drive to be as environmentally friendly as possible, it's not possible to print a copy of our 2007, 2008, 2009 and 2010 environment reports. If you still need a hard copy, email <a href="mailto:mailto:publishing&#64;tfl.gov.uk">publishing&#64;tfl.gov.uk</a>.</p>
    
<div class="multi-document-download-container">
    

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/tfl-health-safety-and-environment-report-2011.pdf">
    <div class="document-download-text">
        <p>Health, Safety and Environment Report 2011</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 1.92MB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 1.92 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/environment-report-2010.pdf">
    <div class="document-download-text">
        <p>Environment report 2010 </p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 1.61MB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 1.61 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/environmentreport-2010-data-tables.pdf">
    <div class="document-download-text">
        <p>Environment report 2010 - data tables </p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 472KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.46 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/environment-report-2009-non-print.pdf">
    <div class="document-download-text">
        <p>Environment report 2009</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 1.84MB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 1.84 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/environment-report-data-tables-2009-non-print.pdf">
    <div class="document-download-text">
        <p>Environment report 2009 - data tables</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 282KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.28 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/environment-report-2008.pdf">
    <div class="document-download-text">
        <p>Environment report 2008 </p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 3.66MB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 3.66 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/environment-report-2008-data-tables.pdf">
    <div class="document-download-text">
        <p>Environment report 2008 - data tables</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 84KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.08 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/environment-report-2007.pdf">
    <div class="document-download-text">
        <p>Environment report 2007 </p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 1.17MB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 1.17 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/environment-report-2006.pdf">
    <div class="document-download-text">
        <p>Environment report 2006 </p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 3.10MB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 3.10 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/environmentreport-2005.pdf">
    <div class="document-download-text">
        <p>Environment report 2005</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 1.31MB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 1.31 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/environment-report-2004.pdf">
    <div class="document-download-text">
        <p>Environment report 2004</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 1.71MB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 1.71 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/eapsummary.pdf">
    <div class="document-download-text">
        <p>Environmental Action Plan </p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 116KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.11 -->
 
</div>

</div>
 <div>

<h2>LU environmental performance</h2>
<p>We are committed to improving environmental performance across all areas of the business.</p>
<p><a href="/cdn/static/cms/documents/london-underground-carbon-footprint-2008.pdf">LU's Carbon Footprint 2008 (PDF 4MB)</a> <br />
<a href="/cdn/static/cms/documents/lu-environment-strategy.pdf">LU Environment&nbsp;Strategy 2008-2013 (PDF 2.97MB)</a> <br />
<a href="/cdn/static/cms/documents/lu-biodiversity-action-plan.pdf">LU Biodiversity Action Plan - 2010 (PDF 4.4MB) </a><br />
<a href="/cdn/static/cms/documents/lu-biodiversity-action-plan.pdf">LU Environment Report - 2008 (PDF 1.24MB)</a> <br />
<a href="/cdn/static/cms/documents/environmental-report-2007.pdf">LU Environmental Report 2007 (PDF 3MB)</a> <br />
<a href="/cdn/static/cms/documents/environmental-report-2006.pdf">LU Environmental Report 2006 (PDF 2.04MB)</a> <br />
<a href="/cdn/static/cms/documents/environmental-report-2005.pdf">LU Environmental Report 2005 (PDF 1MB)</a> <br />
<a href="/cdn/static/cms/documents/environmental-report-2004.pdf">LU Environmental Report 2004 (PDF 634KB)</a> <br />
<a href="/cdn/static/cms/documents/environmental-report-2003.pdf">LU Environmental Report 2003 (PDF 495KB)</a> <br />
<a href="/cdn/static/cms/documents/environmental-report-2002.pdf">LU Environmental Report 2002 (PDF 384KB)</a> <br />
<a href="/cdn/static/cms/documents/environmental-report-2001.pdf">LU Environmental Report 2001 (PDF 245KB</a>)</p>
<p>For more publications in this area, see the <a href="/corporate/publications-and-reports/environmental-issues">Environmental issues page</a>.</p>
</div>
 
<div>



<h2>Impact of Olympic Route Networks</h2>



        <p>In 2011/12, we carried out analysis to understand the potential impacts of the Olympic and Paralympic Route Networks on air quality in London.&nbsp;</p>
    
<div class="multi-document-download-container">
    

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/tfl-orn-air-quality-report-march-2012.pdf">
    <div class="document-download-text">
        <p>Impact of the Olympic Route Network on air quality</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 1.35MB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 1.35 -->
 
</div>

</div>
 
      
        
          
            @this.ScriptBlock(
              @<script>
                queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
              </script>
            )
          
        
      
    </div>
  </div>
  <div class="aside" role="complementary">

   
    
    
    
      <div data-set="sidenav-container" class="large">
        
        
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
      </div>
    
    <div>
















<div class="advert-tile unsponsored-style google-ads" aria-hidden="true">
  <div class="advert-link">
    <div class="advert-content">
        <div class="medium-large" data-advert="/76889402/non-targeted" data-advert-sizes="300, 250"></div>
        <div class="small" data-advert="/76889402/non-targeted" data-advert-sizes="300, 250"></div>
    </div>
  </div>
</div>
@{
    ViewBag.AmazonSlot = "'amznslots'";
    ViewBag.AmazonAds = "'3199'"; // to add another value, this needs to be ViewBag.AmazonAds = "'3199','xx'";
}
      

 </div>
    
    <div data-set="sidenav-container" class="small-medium"></div>
  </div>
</div>
 
 
        
        
        
            @{ViewBag.Description = "Updates on our activities to make London's transport network greener";}
        
            
        


 