
    
  



@{ViewBag.Title = "Equality & inclusion publications";}
@{ViewBag.Keywords = "E,I,Accessible travel,Regular reports,Special reports,Assisted travel,TfL";}
@{ViewBag.Url = "/corporate/publications-and-reports/equality-and-inclusion-publications";}
@{ViewBag.Language = "en";}
        <!-- empty placeholder -->
 
        
        
<div class="r">
    <div class="breadcrumb-container" role="navigation">
        <span id="breadcrumb-label" class="visually-hidden">You are here:</span>
        <ol class="breadcrumbs clearfix" aria-labelledby="breadcrumb-label">
            <li class="home">
                <a href="/">
                    <span class="hide-text">Home</span>
                </a>
            </li>
            
                 <li><a href="/corporate/publications-and-reports/index">Publications & reports</a></li>
                
            
            
                <li><span class="last-breadcrumb">Equality & inclusion publications</span></li>
            
        
 
        
 
        </ol>
    </div>
</div>
     
 
<div class="r">
  <div class="headline-container plain">
    <h1>Equality & inclusion publications</h1>

  </div>
</div>
<div class="main-and-aside r">
  
  <div class="main content-container" role="main">
    
      <div class="article-teaser">
        We work to understand our passengers' needs and respond to them through work such as the Mayor's Transport Strategy and equality schemes.
        
      </div>
    
    <div class="on-this-page">
      
      
           
      
<div>




<h2>Ethnicity pay gap reporting</h2>
<p>The aim of the ethnicity pay gap report is to be open and transparent about our overall ethnicity pay gap figures.</p>
<div class="multi-document-download-container">
    

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/tfl-ethnicity-pay-gap-summary-report-2019.pdf">
    <div class="document-download-text">
        <p>TfL Ethnicity Pay Gap Report 2019 summary</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 1.08MB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 1.08 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/tfl-ethnicity-pay-gap-report-2018.pdf">
    <div class="document-download-text">
        <p>TfL Ethnicity Pay Gap Report 2018</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 861KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.84 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/tfl-annual-ethnicity-pay-gap-report-2018-summary.pdf">
    <div class="document-download-text">
        <p>TfL Ethnicity Pay Gap Report 2018 summary</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 1.10MB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 1.10 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/tfl-ethnicity-pay-gap-report-2017.pdf">
    <div class="document-download-text">
        <p>TfL Ethnicity Pay Gap Report 2017</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 762KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.74 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/tfl-ethnicity-pay-gap-summary-2017.pdf">
    <div class="document-download-text">
        <p>TfL Ethnicity Pay Gap Report 2017 summary</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 1.26MB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 1.26 -->
 
</div>

</div>
 
<div>



<h2>Gender pay gap reporting</h2>


<p>The aim of the gender pay gap report is to be open and transparent about our overall gender pay gap figures in line with mandatory government regulations. </p>
<div class="multi-document-download-container">
    

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/tfl-gender-pay-gap-summary-report-2019.pdf">
    <div class="document-download-text">
        <p>TfL Gender Pay Gap Report 2019 summary</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 1.10MB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 1.10 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/tfl-gender-pay-gap-report-2018.pdf">
    <div class="document-download-text">
        <p>TfL Gender Pay Gap Report 2018</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 876KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.86 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/tfl-annual-gender-pay-gap-report-2018.pdf">
    <div class="document-download-text">
        <p>TfL Gender Pay Gap Report 2018 summary</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 660KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.64 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/tfl-gender-pay-gap-report-2017.pdf">
    <div class="document-download-text">
        <p>TfL Gender Pay Gap Report 2017</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 978KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.96 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/tfl-gender-pay-gap-summary-2017.pdf">
    <div class="document-download-text">
        <p>TfL Gender Pay Gap Report 2017 summary</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 1.25MB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 1.25 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/tfl-gender-pay-gap-action-plan-march-2018.pdf">
    <div class="document-download-text">
        <p>TfL Gender Pay Gap Action Plan 2017</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 168KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.16 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/tfl-gender-pay-gap-report-2016.pdf">
    <div class="document-download-text">
        <p>TfL Gender Pay Gap Report 2016</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 477KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.47 -->
 
</div>

</div>
 
<div>



<h2>Diversity and inclusion impact report</h2>


<p>This new report combines our annual workforce monitoring report and our action on equality updates.</p>
<div class="multi-document-download-container">
    

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/tfl-annual-diversity-and-inclusion-impact-report-2018-19.pdf">
    <div class="document-download-text">
        <p>Diversity and inclusion impact report 2018/19</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 7.59MB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 7.59 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/diversity-and-inclusion-impact-report-2017-18.pdf">
    <div class="document-download-text">
        <p>Diversity and inclusion impact report 2017/18</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 2.08MB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 2.08 -->
 
</div>

</div>
 
<div>



<h2>Annual workforce monitoring report</h2>



<div class="multi-document-download-container">
    

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/tfl-2016-17-annual-workforce-report.pdf">
    <div class="document-download-text">
        <p>Annual workforce monitoring report 2016/17</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 2.08MB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 2.08 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/tfl-2015-16-annual-workforce-monitoring-report.pdf">
    <div class="document-download-text">
        <p>Annual workforce monitoring report 2015/16</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 1.69MB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 1.69 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/tfl-2014-15-annual-workforce-monitoring-report.pdf">
    <div class="document-download-text">
        <p>Annual workforce monitoring report 2014/15</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 2.38MB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 2.38 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/annual-workforce-monitoring-report-2013-14.pdf">
    <div class="document-download-text">
        <p>Annual workforce monitoring report 2013/14</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 1.01MB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 1.01 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/annual-workforce-monitoring-report-2012-13.pdf">
    <div class="document-download-text">
        <p>Annual workforce monitoring report 2012/13</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 1.17MB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 1.17 -->
 
</div>

</div>
 
<div>





        <h2>Understanding London's travel needs</h2>
        <p>This document details research which has been undertaken to identify the different barriers faced by London's communities when accessing transport. </p>
        <p>It also describes travel patterns and behaviour of different groups and their attitudes towards issues such as fares, personal safety and security, and their satisfaction with the services we offer.</p>
    
<div class="multi-document-download-container">
    

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/travel-in-london-understanding-our-diverse-communities-2019.pdf">
    <div class="document-download-text">
        <p>Understanding London's diverse communities 2019</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 5.57MB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 5.57 -->
 
</div>

</div>
 
<div>



<h2>Action on Equality</h2>


<p>This plan, published in March 2016, sets out our equality commitments for 2016-20.</p>
<p>The current Mayor of London, Sadiq Khan, will publish his own strategy for equality, diversity and inclusion in 2017. We will then revise the Action on Equality plan to make sure it reflects his vision and level of ambition. </p>
<p>Action on Equality is underpinned by the way we treat our customers, support our people and work with our partners.</p>
<div class="multi-document-download-container">
    

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/action-on-equality-tfls-commitments-to-2020.pdf">
    <div class="document-download-text">
        <p>Action on Equality: TfL's commitments to 2020</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 1.52MB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 1.52 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/action-on-equality-easy-read-march-2016.pdf">
    <div class="document-download-text">
        <p>Action on Equality (Easy Read version)</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 5.75MB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 5.75 -->
 

<a class="document-download-wrap docx" href="/cdn/static/cms/documents/action-on-equality-march-2016.docx">
    <div class="document-download-text">
        <p>Action on Equality (MS Word version)</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            DOCX 543KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.53 -->
 
</div>

</div>
 
<div>




<h3>2016/17 Progress report</h3>
<p>When we published our equality objectives we also committed to report every year on the progress we've made.</p>
<div class="multi-document-download-container">
    

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/2016-17-progress-report-action-on-equality.pdf">
    <div class="document-download-text">
        <p>Action on Equality - 2016/17 progress report</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 1.49MB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 1.49 -->
 
</div>

</div>
 
<div>




<h2>Single Equality Scheme </h2>
<p>The Single Equality Scheme sets out our plans to continue
improving travel choices, promote equality and enhance access to
transport services and employment for all groups who live, work and
travel in London.</p>
<div class="multi-document-download-container">
    

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/ses-progress-report-2012-15-y3.pdf">
    <div class="document-download-text">
        <p>Single Equality Scheme - 2012-2015 progress report Year 3</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 2.39MB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 2.39 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/s-e-s-progress-report-2012-15.pdf">
    <div class="document-download-text">
        <p>Single Equality Scheme  - 2012-2015 progress report Year 2</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 2.38MB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 2.38 -->
 

<a class="document-download-wrap docx" href="/cdn/static/cms/documents/single-equality-scheme-2012-15-easy-read.docx">
    <div class="document-download-text">
        <p>Single Equality Scheme - 2012-15 progress report Year 2 (Easy read version)</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            DOCX 5.81MB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 5.81 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/single-equality-scheme-2012.pdf">
    <div class="document-download-text">
        <p>Single Equality Scheme - 2012-2015</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 2.24MB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 2.24 -->
 

<a class="document-download-wrap doc" href="/cdn/static/cms/documents/single-equality-scheme-2012.doc">
    <div class="document-download-text">
        <p>Single Equality Scheme - 2012-2015 (Word)</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            DOC 370KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.36 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/tfl-single-equality-scheme-easy-read.pdf">
    <div class="document-download-text">
        <p>Single Equality Scheme - 2012-2015 (Easy read version)</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 6.66MB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 6.66 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/single-equality-scheme-2013-progress-report.pdf">
    <div class="document-download-text">
        <p>Single Equality Scheme progress report</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 1.60MB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 1.60 -->
 

<a class="document-download-wrap doc" href="/cdn/static/cms/documents/single-equality-scheme-progress-report.doc">
    <div class="document-download-text">
        <p>Single Equality Scheme progress report (Word)</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            DOC 310KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.30 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/single-equality-scheme-progress-reoprt-easy-read.pdf">
    <div class="document-download-text">
        <p>Single Equality Scheme progress report (Easy read version)</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 6.21MB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 6.21 -->
 

<a class="document-download-wrap docx" href="/cdn/static/cms/documents/single-equality-scheme-progress-report-easy-read-word.docx">
    <div class="document-download-text">
        <p>Single Equality Scheme progress report (Word easy read version)</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            DOCX 7.71MB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 7.71 -->
 
</div>

</div>
 
<div>



<h2>Independent Disability Advisory Group</h2>



<div class="multi-document-download-container">
    

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/independent-disability-advisory-group-november-2019.pdf">
    <div class="document-download-text">
        <p>Independent Disability Advisory Group</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 2.45MB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 2.45 -->
 
</div>

</div>
 
<div>



<h2>Further equality and inclusion documents</h2>



<div class="multi-document-download-container">
    

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/race-equality-scheme-2008-2011.pdf">
    <div class="document-download-text">
        <p>Race equality scheme - 2008-2011</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 643KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.63 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/gender-equality-scheme-2007-2010.pdf">
    <div class="document-download-text">
        <p>Gender equality scheme - 2007-2010</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 2.59MB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 2.59 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/sexual-orientation-equality-scheme-2008-2011.pdf">
    <div class="document-download-text">
        <p>Sexual orientation equality scheme - 2008-2011</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 2.73MB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 2.73 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/equality-framework-for-local-government.pdf">
    <div class="document-download-text">
        <p>Equality framework for local government</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 195KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.19 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/disability-and-deaf-equality-scheme-2009-2012.pdf">
    <div class="document-download-text">
        <p>Disability and deaf equality scheme - 2009-2012</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 5.21MB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 5.21 -->
 
</div>

</div>
 
      
        
          
            @this.ScriptBlock(
              @<script>
                queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
              </script>
            )
          
        
      
    </div>
  </div>
  <div class="aside" role="complementary">

   
    
    
    
    <div>
















<div class="advert-tile unsponsored-style google-ads" aria-hidden="true">
  <div class="advert-link">
    <div class="advert-content">
        <div class="medium-large" data-advert="/76889402/non-targeted" data-advert-sizes="300, 250"></div>
        <div class="small" data-advert="/76889402/non-targeted" data-advert-sizes="300, 250"></div>
    </div>
  </div>
</div>
@{
    ViewBag.AmazonSlot = "'amznslots'";
    ViewBag.AmazonAds = "'3199'"; // to add another value, this needs to be ViewBag.AmazonAds = "'3199','xx'";
}
      

 </div>
    
      <div class="module-grid clearfix">
                    
        <div class="related-links">

    <h3>Also on this site</h3>

<div class="vertical-button-container">

<a href="/corporate/about-tfl/corporate-and-social-responsibility/equality-and-inclusion" class="plain-button">Equality &amp; inclusion schemes</a>
    </div>
</div>
 
      </div>
    
    <div data-set="sidenav-container" class="small-medium"></div>
  </div>
</div>
 
 
        
        
        
            @{ViewBag.Description = "We are committed to improving transport in London by making it more accessible, safer and reliable";}
        
            
        


 