
    
  



@{ViewBag.Title = "Fares & ticketing";}
@{ViewBag.Keywords = "Boroughs,Businesses,Public,F,T,Customer Research Library,Special reports,Ticketing,Buses,DLR,Emirates Air Line,London Overground,River,Trams,Tube,TfL";}
@{ViewBag.Url = "/corporate/publications-and-reports/fares-and-ticketing";}
@{ViewBag.Language = "en";}
        <!-- empty placeholder -->
 
        
        
<div class="r">
    <div class="breadcrumb-container" role="navigation">
        <span id="breadcrumb-label" class="visually-hidden">You are here:</span>
        <ol class="breadcrumbs clearfix" aria-labelledby="breadcrumb-label">
            <li class="home">
                <a href="/">
                    <span class="hide-text">Home</span>
                </a>
            </li>
            
                 <li><a href="/corporate/publications-and-reports/index">Publications & reports</a></li>
                
            
            
                <li><span class="last-breadcrumb">Fares & ticketing</span></li>
            
        
 
        
 
        </ol>
    </div>
</div>
     
 
<div class="r">
  <div class="headline-container plain">
    <h1>Fares & ticketing</h1>

  </div>
</div>
<div class="main-and-aside r">
  
  <div class="main content-container" role="main">
    
      <div class="article-teaser">
        These reports form part of our Customer Research Library.
        
      </div>
    
    
      
    
      
           
      
<div>



<h2>Contactless benefits and Monday-Sunday capping message proposition</h2>


<p>Research to explore people's awareness of contactless and their responses to benefit-led messaging and Monday to Sunday capping propositions. </p>
<div class="multi-document-download-container">
    

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/contactless-capping-summary.pdf">
    <div class="document-download-text">
        <p>Contactless capping - summary</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 25KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.02 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/contactless-capping-report.pdf">
    <div class="document-download-text">
        <p>Contactless capping report</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 401KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.39 -->
 
</div>

</div>
 
<div>



<h2>Victoria Station contactless</h2>


<p>Research to understand experiences and expectations of the ticket office closure and explore responses to and the impact of contactless messaging.</p>
<div class="multi-document-download-container">
    

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/victoria-station-contactless-summary.pdf">
    <div class="document-download-text">
        <p>Victoria Station contactless summary</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 35KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.03 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/victoria-station-contactless-report.pdf">
    <div class="document-download-text">
        <p>Victoria Station contactless report</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 723KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.71 -->
 
</div>

</div>
 
<div>



<h2>Contactless messaging research</h2>


<p>Research to explore customer responses to a range of message propositions for a new TfL campaign aimed at increasing use of contactless. </p>
<div class="multi-document-download-container">
    

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/contactless-message-report.pdf">
    <div class="document-download-text">
        <p>Contactless message report</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 419KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.41 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/contactless-messaging-proposition-summary.pdf">
    <div class="document-download-text">
        <p>Contactless messaging proposition summary</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 34KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.03 -->
 
</div>

</div>
 
<div>



<h2>TfL ticketing app</h2>


<p> How can a TfL Ticketing App that delivers relevant, tailored ticketing solutions be developed to best improve customers' experiences?</p>
<div class="multi-document-download-container">
    

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/ticketing-app-research-summary.pdf">
    <div class="document-download-text">
        <p>Ticketing app research summary</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 35KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.03 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/ticketing-app-report.pdf">
    <div class="document-download-text">
        <p>Ticketing app report</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 1.22MB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 1.22 -->
 
</div>

</div>
 
<div>



<h2>Cash payment on buses</h2>



        <p>Why customers pay cash on bus services (July 2013)</p>
    
<div class="multi-document-download-container">
    

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/cash-payment-on-buses-summary.pdf">
    <div class="document-download-text">
        <p>Cash payment on buses - summary</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 28KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.03 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/cash-payment-on-bus-report.pdf">
    <div class="document-download-text">
        <p>Cash payment on buses - full report</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 516KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.50 -->
 
</div>

</div>
 <div>


        <h2>Outstanding Oyster balances</h2>
        <p>
        Why some customers have not used their Oyster card in the past six months, why they have not claimed back the balance, and their future plans for the card
        (July 2013)</p>
        <p><a href="/cdn/static/cms/documents/outstanding-oyster-balances-summary.pdf">Summary (PDF 0.02MB)</a><br />
        <a href="/cdn/static/cms/documents/outstanding-oyster-balances.pdf">Full Report (PDF 0.44MB)</a>
        </p>
        <h2>London Underground ticketing </h2>
        <p>
        Develop LU ticketing customer experience metrics
        (July 2012)</p>
        <p><a href="/cdn/static/cms/documents/lu-ticketing-metric-summary.pdf">Summary (PDF 0.03MB)</a><br />
        <a href="/cdn/static/cms/documents/lu-ticketing-metric-report.pdf">Full Report (PDF 0.97MB)</a>
        </p>
        <h2>Oyster brand research</h2>
        <p>
        Explore the Oyster brand from the customer perspective
        (October 2011)</p>
        <p><a href="/cdn/static/cms/documents/oyster-brand-research-one-page-summary.pdf">Summary (PDF 0.02MB)</a><br />
        <a href="/cdn/static/cms/documents/oyster-brand-research-presentation.pdf">Full Report (PDF 12.25MB)</a>
        </p>
        <h2>Cash payment on buses</h2>
        <p>
        The impact of withdrawing cash fares on buses
        (August 2011)</p>
        <p><a href="/cdn/static/cms/documents/cash-payment-on-buses-summary.pdf">Summary (PDF 0.02MB)</a><br />
        <a href="/cdn/static/cms/documents/cash-payment-on-buses-report.pdf">Full Report (PDF 0.35MB)</a>
        </p>
        <h2>Customer experiences of ticketing</h2>
        <p>
        What happens when customers have a problem with their Oyster card/ticket
        (April 2011)</p>
        <p><a href="/cdn/static/cms/documents/oyster-ticket-problems-summary.pdf">Summary (PDF 0.03MB)</a><br />
        <a href="/cdn/static/cms/documents/oyster-ticket-problems-report.pdf">Full Report (PDF 0.17MB)</a>
        </p>
         
        <h2>Royal Wedding Oyster card</h2>
        <p>
        Take up and usage of the Royal Wedding Oyster card
        (April 2011)</p>
        <p><a href="/cdn/static/cms/documents/royal-wedding-oyster-card-summary.pdf">Summary (PDF 0.01MB)</a><br />
        <a href="/cdn/static/cms/documents/royal-wedding-oyster-card-report.pdf">Full Report (PDF 0.13MB)</a>
        </p>
        <h2>Bus fare evasion</h2>
        <p>
        Understand the drivers of fare evasion among potential and occasional evaders. Explore their response to various types of messages, in particular those positioning fare evasion as socially unacceptable
        (November 2010)</p>
        <p><a href="/cdn/static/cms/documents/bus-fare-evasion-communications-development-one-page-summary.pdf">Summary (PDF 0.02MB)</a><br />
        <a href="/cdn/static/cms/documents/bus-fare-evasion-communications-development-presentation.pdf">Full Report (PDF 1.17MB)</a>
        </p>
        <h2>Ticket purchase channel choice</h2>
        <p>
        Usage of ticketing purchase channels and inform strategy to increase off-system Oyster card sales
        (October 2010)</p>
        <p><a href="/cdn/static/cms/documents/understanding-ticket-purchase-channel-choice-one-page-summary.pdf">Summary (PDF 0.03MB)</a><br />
        <a href="/cdn/static/cms/documents/understanding-ticket-purchase-channel-choice-presentation.pdf">Full Report (PDF 1.95MB)</a>
        </p>
        <h2>Understanding visitor ticketing</h2>
        <p>
        Visitor awareness, usage and attitudes towards ticketing products and purchase channels
        (June 2010)</p>
        <p><a href="/cdn/static/cms/documents/understanding-visitor-ticketing-one-page-summary.pdf">Summary (PDF 0.02MB)</a><br />
        <a href="/cdn/static/cms/documents/understanding-visitor-ticketing-presentation.pdf">Full Report (PDF 0.89MB)</a>
        </p>
        <h2>Increasing Oyster registrations</h2>
        <p>
        Quantify the opportunity for further Oyster registrations and inform related marketing activity
        (March 2010)</p>
        <p><a href="/cdn/static/cms/documents/increasing-oyster-registrations-one-page-summary.pdf">Summary (PDF 0.03MB)</a><br />
        <a href="/cdn/static/cms/documents/increasing-oyster-registrations-presentation.pdf">Full Report (PDF 0.67MB)</a>
        </p>
        <h2>Taxi &amp; Private Hire card payment</h2>
        <p>
        Interest in the concept of card payment among both taxi customers and drivers
        (September 2009)</p>
        <p><a href="/cdn/static/cms/documents/research-summary-taxi-and-phv-card-payment.pdf">Summary (PDF 0.02MB)</a><br />
        <a href="/cdn/static/cms/documents/taxi-and-phv-card-payment-presentation.pdf">Full Report (PDF 0.99MB)</a>
        </p>
        <h2>Fares information review</h2>
        <p>
        Customer information needs in relation to fares and ticketing, and how this should be delivered
        (July 2009)</p>
        <p><a href="/cdn/static/cms/documents/research-summary-fares-information-review.pdf">Summary (PDF 0.03MB)</a><br />
        <a href="/cdn/static/cms/documents/fares-information-review-report.pdf">Full Report (PDF 0.45MB)</a>
        </p>
        <h2>Oyster on rail services</h2>
        <p>
        Customer knowledge about using Oyster on National Rail services in London and perceptions of the roll-out of Oyster across the network
        (May 2009)</p>
        <p><a href="/cdn/static/cms/documents/research-summary-customer-knowledge-oyster-on-rail.pdf">Summary (PDF 0.03MB)</a><br />
        <a href="/cdn/static/cms/documents/customer-knowledge-oyster-rail-report.pdf">Full Report (PDF 0.37MB)</a>
        </p>
        <h2>Oyster database marketing</h2>
        <p>
        Customers' acceptance and appetite for increased or different information and marketing communications from TfL via electronic channels
        (April 2009)</p>
        <p><a href="/cdn/static/cms/documents/research-summary-oyster-database-marketing-development.pdf">Summary (PDF 0.02MB)</a><br />
        <a href="/cdn/static/cms/documents/oyster-database-marketing-development-pres.pdf">Full Report (PDF 0.77MB)</a>
        </p>
        <h2>Oyster Auto Top-up</h2>
        <p>
        Awareness, understanding and appeal of Oyster Auto Top-up
        (April 2009)</p>
        <p> <a href="/cdn/static/cms/documents/research-summary-oyster-auto-topup-market.pdf">Summary (PDF 0.03MB)</a><br />
        <a href="/cdn/static/cms/documents/oyster-auto-topup-market-report.pdf">Full Report (PDF 0.45MB)</a>
        </p>
    
</div>
 <div>


        <p>Research into what our customers think and how they behave helps us identify their key issues, areas for improvement and allows us to seek their views on new initiatives to inform our decision making.</p>
        <h3>Conditions of use</h3>
        <p>The copyright of all reports in this library is owned by TfL and the provision of information under the Freedom of Information Act does not give the recipient a right to re-use the information in a way that would infringe copyright (for example, by publishing and issuing copies to the public).</p>
        <p>Brief extracts of the material may be reproduced under the fair dealing provisions of the Copyright, Designs and Patents Act 1988 for the purposes of research for non-commercial purposes, private study, criticism, review and news reporting.</p>
        <p>Contact us to arrange to use the material in this library for any other purpose.</p>
    
</div>
 
      
        
          
        
      
    
  </div>
  <div class="aside" role="complementary">

   
    
    
    
      <div data-set="sidenav-container" class="large">
        
        
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
      </div>
    
    <div>
















<div class="advert-tile unsponsored-style google-ads" aria-hidden="true">
  <div class="advert-link">
    <div class="advert-content">
        <div class="medium-large" data-advert="/76889402/non-targeted" data-advert-sizes="300, 250"></div>
        <div class="small" data-advert="/76889402/non-targeted" data-advert-sizes="300, 250"></div>
    </div>
  </div>
</div>
@{
    ViewBag.AmazonSlot = "'amznslots'";
    ViewBag.AmazonAds = "'3199'"; // to add another value, this needs to be ViewBag.AmazonAds = "'3199','xx'";
}
      

 </div>
    
      <div class="module-grid clearfix">
                    
        <div>

    <div class="contact-info-box">
         <div class="contact-info-header">
             <h3>Contact Customer Research Library</h3>
         </div>
        
        
        
        
        <div class="content-group">
            <p>
                
                
                
                
                
                
                
                
            </p>
            
        </div>
        
        <div class="content-group">
            
            
            
                
                
                
            
            
            <p>&nbsp;<a href="/help-and-contact/index">Use our contact forms</a></p>
        </div>
        
        
    </div>
</div>
 <div class="related-links">

    <h3>Customer Research Library reports</h3>

        We gather customers' views on a range of topics related to travelling in London
    
<div class="vertical-button-container">

<a href="http://www.tfl.gov.uk/corporate/publications-and-reports/?Category=Customer%20Research%20Library" class="plain-button">All reports</a>
    </div>
</div>
 
      </div>
    
    <div data-set="sidenav-container" class="small-medium"></div>
  </div>
</div>
 
 
        
        
        
            @{ViewBag.Description = "These reports focus on a range of aspects related to fares and ticketing";}
        
            
        


 