
    
  


<!-- rhroot -->
@{ViewBag.Title = "Finance committee";}
@{ViewBag.Keywords = "Public,C,F,Committee and panel meetings,Finance,Policy,Regular reports,TfL";}
@{ViewBag.Url = "/corporate/publications-and-reports/finance-committee";}
@{ViewBag.Language = "en";}
        <!-- empty placeholder -->
 
        
        
<div class="r">
    <div class="breadcrumb-container" role="navigation">
        <span id="breadcrumb-label" class="visually-hidden">You are here:</span>
        <ol class="breadcrumbs clearfix" aria-labelledby="breadcrumb-label">
            <li class="home">
                <a href="/">
                    <span class="hide-text">Home</span>
                </a>
            </li>
            
                 <li><a href="/corporate/publications-and-reports/index">Publications & reports</a></li>
                
            
            
                <li><span class="last-breadcrumb">Finance committee</span></li>
            
        
 
        
 
        </ol>
    </div>
</div>
     
 
<div class="r">
  <div class="headline-container plain">
    <h1>Finance committee</h1>

  </div>
</div>
<div class="main-and-aside r">
  
  <div class="main content-container" role="main">
    
      <div class="article-teaser">
        This committee will focus on: general financial oversight, TfL's revenue generation (fares, ticketing, commercial development and other income generation) and advising the Board as appropriate on matters relating to the Business Plan, Budget, borrowing, Treasury Management and prudential indicators.<BR>
        
      </div>
    
    
      <p><strong>Members: </strong>Ron Kalifa OBE (Chair), Ben Story (Vice Chair), Heidi Alexander, Prof Greg Clark CBE, Anne McMeel and Dr Nina Skorupska CBE.</p>
      
           
      <h2> 2020 meeting papers meeting papers</h2>






    


<div class="accordion">
<div class="expandable-box">

        <div class="content">
            <div class="always-visible">
                <a class="controls" href="javascript:void(0);">&nbsp;</a>
                <div class="accordion-heading">
                    11 March
                </div>
            </div>
            <div class="start-hidden">
                <div class="multi-document-download-container">
                

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/fincom-20200311-agenda-papers.pdf">
    <div class="document-download-text">
        <p>Finance Committee 11 March 2020 - Agenda and Papers</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 3.98MB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 3.98 -->
            
              </div>
            </div>
        </div>
 

   </div>
 <div class="expandable-box">

        <div class="content">
            <div class="always-visible">
                <a class="controls" href="javascript:void(0);">&nbsp;</a>
                <div class="accordion-heading">
                    24 June
                </div>
            </div>
            <div class="start-hidden">
                <div class="multi-document-download-container">
                           
              </div>
            </div>
        </div>
 

   </div>
 
</div>
 <h2> 2019 meeting papers</h2>






    


<div class="accordion">
<div class="expandable-box">

        <div class="content">
            <div class="always-visible">
                <a class="controls" href="javascript:void(0);">&nbsp;</a>
                <div class="accordion-heading">
                    11 March
                </div>
            </div>
            <div class="start-hidden">
                <div class="multi-document-download-container">
                

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/finance-committee-finance-report-p11.pdf">
    <div class="document-download-text">
        <p>Item 6 - Finance Report, Period 11 2018/19</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 161KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.16 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/fc-20190311-public.pdf">
    <div class="document-download-text">
        <p>Finance Committee 11 March 2019 - Agenda and papers</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 3.19MB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 3.19 -->
            
              </div>
            </div>
        </div>
 

   </div>
 <div class="expandable-box">

        <div class="content">
            <div class="always-visible">
                <a class="controls" href="javascript:void(0);">&nbsp;</a>
                <div class="accordion-heading">
                    01 July
                </div>
            </div>
            <div class="start-hidden">
                <div class="multi-document-download-container">
                

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/fc-20190701-agenda-and-papers-public.pdf">
    <div class="document-download-text">
        <p>Finance Committee 1 July 2019 - Agenda and Papers</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 3.08MB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 3.08 -->
            
              </div>
            </div>
        </div>
 

   </div>
 <div class="expandable-box">

        <div class="content">
            <div class="always-visible">
                <a class="controls" href="javascript:void(0);">&nbsp;</a>
                <div class="accordion-heading">
                    09 October
                </div>
            </div>
            <div class="start-hidden">
                <div class="multi-document-download-container">
                

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/finance-committee-9-october-2019-public-agenda-documents.pdf">
    <div class="document-download-text">
        <p>Finance Committee 9 October 2019 - Agenda and Papers</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 3.03MB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 3.03 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/fc-20191009-item05-use-of-chairs-action-since-last-meeting.pdf">
    <div class="document-download-text">
        <p>Use of Chairs Action since last meeting of the Committee</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 1.12MB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 1.12 -->
            
              </div>
            </div>
        </div>
 

   </div>
 <div class="expandable-box">

        <div class="content">
            <div class="always-visible">
                <a class="controls" href="javascript:void(0);">&nbsp;</a>
                <div class="accordion-heading">
                    18 December
                </div>
            </div>
            <div class="start-hidden">
                <div class="multi-document-download-container">
                

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/finance-committee-20191218-public-agenda-documents.pdf">
    <div class="document-download-text">
        <p>Finance Committee 18 December 2019 - Agenda and Papers</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 1.64MB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 1.64 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/fincom-20191218-item05-chair-action-taxi-fares-fees.pdf">
    <div class="document-download-text">
        <p>Use of Chair's Actions since the last meeting of the Committee</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 4.45MB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 4.45 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/finance-committee-item07-business-plan-2019.pdf">
    <div class="document-download-text">
        <p>Item 7 - TfL Business Plan 2019</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 8.25MB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 8.25 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/fincom-20191218-business-plan-slide-presentation.pdf">
    <div class="document-download-text">
        <p>TfL Business Plan 2019 Presentation</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 4.61MB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 4.61 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/finance-committee-item08-capital-strategy-2019.pdf">
    <div class="document-download-text">
        <p>Item 8 - TfL Capital Strategy 2019</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 471KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.46 -->
            
              </div>
            </div>
        </div>
 

   </div>
 
</div>
 <div>

<p>TfL's decision-making structure and proceedings, together with Schemes of Delegation and Authorities, are laid out in the TfL standing orders. The TfL committees and panels document sets out the terms of reference for each committee and panel. Both TfL's standing orders and TfL committees and panels documents can be found on the <a href="/corporate/publications-and-reports/standing-orders">Standing orders page</a>.
</p>
<p>You are welcome to attend any meeting of TfL's Board, committees and/or panels. These are held in public, except where private, personal or specific financial information is to be discussed.</p>
<p>Papers are published five working days before each meeting (unless accepted by the relevant Chair as urgent items).</p>
<p>The date, time and venue for forthcoming meetings is listed on the public notice of meetings. This notice, plus further information on our meetings and Board Members, is available on the <a href="/corporate/about-tfl/how-we-work/how-we-are-governed">How we are governed page</a>. </p>
</div>
 
      
        
          
        
      
    
  </div>
  <div class="aside" role="complementary">

   
    
    
    
      <div data-set="sidenav-container" class="large">
        
        
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
                <a href="/corporate/publications-and-reports/finance-committee" class="heading">
                    <h2 id="sub-menu-heading">Finance committee<span class="visually-hidden"> navigation</span></h2>
                </a>
                <ul>
                    
                                <li><div class="link-wrapper"><a href="/corporate/publications-and-reports/finance---past-years">Finance - past years</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/corporate/publications-and-reports/finance-and-policy-past-years">Finance & Policy 2006-2016</a></div></li>
                            
 
                </ul>
            
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
      </div>
    
    <div>
















<div class="advert-tile unsponsored-style google-ads" aria-hidden="true">
  <div class="advert-link">
    <div class="advert-content">
        <div class="medium-large" data-advert="/76889402/non-targeted" data-advert-sizes="300, 250"></div>
        <div class="small" data-advert="/76889402/non-targeted" data-advert-sizes="300, 250"></div>
    </div>
  </div>
</div>
@{
    ViewBag.AmazonSlot = "'amznslots'";
    ViewBag.AmazonAds = "'3199'"; // to add another value, this needs to be ViewBag.AmazonAds = "'3199','xx'";
}
      

 </div>
    
      <div class="module-grid clearfix">
                    
        <div class="related-links">

    <h3>Also on this site</h3>

<div class="vertical-button-container">

<a href="/corporate/publications-and-reports/board-papers" class="plain-button">Board papers</a>
<a href="/corporate/publications-and-reports/standing-orders" class="plain-button">Standing orders</a>
    </div>
</div>
 
      </div>
    
    <div data-set="sidenav-container" class="small-medium"></div>
  </div>
</div>
 
 
        
        
        
            @{ViewBag.Description = "Agendas and minutes from all Finance committee meetings";}
        
            
        


 