
    
  



@{ViewBag.Title = "Finance - past years";}
@{ViewBag.Keywords = "TfL";}
@{ViewBag.Url = "/corporate/publications-and-reports/finance---past-years";}
@{ViewBag.Language = "en";}
        <!-- empty placeholder -->
 
        
        
<div class="r">
    <div class="breadcrumb-container" role="navigation">
        <span id="breadcrumb-label" class="visually-hidden">You are here:</span>
        <ol class="breadcrumbs clearfix" aria-labelledby="breadcrumb-label">
            <li class="home">
                <a href="/">
                    <span class="hide-text">Home</span>
                </a>
            </li>
            
                 <li><a href="/corporate/publications-and-reports/index">Publications & reports</a></li>
                
            
                 <li><a href="/corporate/publications-and-reports/finance-committee">Finance committee</a></li>
                
            
            
                <li><span class="last-breadcrumb">Finance - past years</span></li>
            
        
 
        
 
        
 
        </ol>
    </div>
</div>
     
 
<div class="r">
  <div class="headline-container plain">
    <h1>Finance - past years</h1>

  </div>
</div>
<div class="main-and-aside r">
  
  <div class="main content-container" role="main">
    
      <div class="article-teaser">
        Finance committee agendas and reports from before the current year.
        
      </div>
    
    
      
      
           
      <h2> 2018 meeting papers</h2>






    


<div class="accordion">
<div class="expandable-box">

        <div class="content">
            <div class="always-visible">
                <a class="controls" href="javascript:void(0);">&nbsp;</a>
                <div class="accordion-heading">
                    05 March
                </div>
            </div>
            <div class="start-hidden">
                <div class="multi-document-download-container">
                

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/fc-20180305-agenda.pdf">
    <div class="document-download-text">
        <p>Agenda </p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 86KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.08 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/fc-20180305-part-1-item03-minutes.pdf">
    <div class="document-download-text">
        <p>Item 3 - Minutes of the Meeting held on 14 December 2017</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 102KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.10 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/fc-20180305-part-1-item04-actions-lists.pdf">
    <div class="document-download-text">
        <p>item 4 - Matters Arising and Actions List</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 52KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.05 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/fc-20180305-part-1-item05-finance-report.pdf">
    <div class="document-download-text">
        <p>Item 5 - Finance Report Period 10 2017/18 </p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 420KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.41 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/fc-20180305-part-1-item06-treasury-management-strategy.pdf">
    <div class="document-download-text">
        <p>Item 6 - Treasury Management Strategy 2018/19 </p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 163KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.16 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/fc-20180305-part-1-item07-treasury-management-and-deriviative.pdf">
    <div class="document-download-text">
        <p>Item 7 - Treasury Management and Derivative Investment Policies</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 116KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.11 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/fc-20180305-part-1-item08-treasury-activities.pdf">
    <div class="document-download-text">
        <p>Item 8 - Treasury Activities</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 118KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.12 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/fc-20180305-part-1-item09-mayoral-direction-affordable-housing.pdf">
    <div class="document-download-text">
        <p>Item 9 - Mayoral Direction to TfL on its Affordable Housing Programme 2017/18</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 31KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.03 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/fc-20180305-part-1-item10-south-kensington-asd.pdf">
    <div class="document-download-text">
        <p>Item 10 - South Kensington - Around Station Development</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 160KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.16 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/fc-20180305part-1-item11-multi-lateral-fees.pdf">
    <div class="document-download-text">
        <p>Item 11 - Multi-lateral Interchange Fees</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 29KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.03 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/fc-20180305-part-1-item12-transformation-programme.pdf">
    <div class="document-download-text">
        <p>Item 12 - Transformation Programme </p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 32KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.03 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/fc-20180305-part-1-item13-forward-plan.pdf">
    <div class="document-download-text">
        <p>Item 13 - Member Suggestions for Future Agenda Items</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 72KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.07 -->
            
              </div>
            </div>
        </div>
 re-scheduled 8 March 2018 meeting

   </div>
 <div class="expandable-box">

        <div class="content">
            <div class="always-visible">
                <a class="controls" href="javascript:void(0);">&nbsp;</a>
                <div class="accordion-heading">
                    04 July
                </div>
            </div>
            <div class="start-hidden">
                <div class="multi-document-download-container">
                

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/fc-20180704-agenda-web.pdf">
    <div class="document-download-text">
        <p>Agenda</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 51KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.05 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/fc-20180704-item03-minutes.pdf">
    <div class="document-download-text">
        <p>Item 3 - Minutes of the Meeting of the Committee held on 5 March 2018 </p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 51KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.05 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/fc-20180704-pt1-item06-finance-report.pdf">
    <div class="document-download-text">
        <p>Item 4 - Matters Arising and Actions List </p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 409KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.40 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/fc-20180704-item05-delegated-authority.pdf">
    <div class="document-download-text">
        <p>Item 5 - Use of Delegated Authority - Procurement Authority </p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 30KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.03 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/fc-20180704-pt1-item06-finance-report.pdf">
    <div class="document-download-text">
        <p>Item 6 - Finance Report Period 2, 2018/19</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 409KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.40 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/fc-20180704-pt1-item07-treasury-activities.pdf">
    <div class="document-download-text">
        <p>Item 7 - Treasury Activities</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 118KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.12 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/fc-20180704-pt1-item08-insurance-renewal.pdf">
    <div class="document-download-text">
        <p>Item 8 - Insurance Programme Renewal - Update</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 39KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.04 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/fc-20180704-pt1-item09-update-on-income-from-developers.pdf">
    <div class="document-download-text">
        <p>Item 9 - Update on Income from Developers through Planning Obligations</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 216KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.21 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/fc-20180704-pt1-item10-crossrail-cos.pdf">
    <div class="document-download-text">
        <p>Item 10 -	Crossrail Central Operating Section </p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 159KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.16 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/fc-20180704-pt1-item11-insolvency-of-suppliers.pdf">
    <div class="document-download-text">
        <p>Item 11 - TfL Management of Risk of Insolvency of Major Suppliers </p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 65KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.06 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/fc-20180704-pt1-item12-tfl-consulting.pdf">
    <div class="document-download-text">
        <p>Item 12 - TfL Consulting and International Operations</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 40KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.04 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/fc-20180704-pt1-item13-telecommunications.pdf">
    <div class="document-download-text">
        <p>Item 13 - Telecommunications Commercialisation Project Update </p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 69KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.07 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/fc-20180704-pt1-item14-connect-pfi.pdf">
    <div class="document-download-text">
        <p>Item 14 - Connect PFI Transition </p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 32KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.03 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/fc-20180704-pt1-item15-transformation-update.pdf">
    <div class="document-download-text">
        <p>Item 15 - Transformation Programme Update</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 29KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.03 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/fc-20180704-pt1-item16-actuarial-valuation-pensions.pdf">
    <div class="document-download-text">
        <p>Item 16 - Actuarial Valuation of the TfL Pension Fund</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 31KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.03 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/fc-20180704-pt1-item17-member-suggestions.pdf">
    <div class="document-download-text">
        <p>Item 17 - Member Suggestions for Future Agenda Discussions </p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 77KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.08 -->
            
              </div>
            </div>
        </div>
 

   </div>
 <div class="expandable-box">

        <div class="content">
            <div class="always-visible">
                <a class="controls" href="javascript:void(0);">&nbsp;</a>
                <div class="accordion-heading">
                    27 September
                </div>
            </div>
            <div class="start-hidden">
                <div class="multi-document-download-container">
                

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/fc-20180927-public-pack-crl.pdf">
    <div class="document-download-text">
        <p>Agenda 27 September 2018 - Crossrail Limited Funding Arrangements</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 114KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.11 -->
            
              </div>
            </div>
        </div>
 

   </div>
 <div class="expandable-box">

        <div class="content">
            <div class="always-visible">
                <a class="controls" href="javascript:void(0);">&nbsp;</a>
                <div class="accordion-heading">
                    17 October
                </div>
            </div>
            <div class="start-hidden">
                <div class="multi-document-download-container">
                

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/fc-20180704-public-agenda-and-papers.pdf">
    <div class="document-download-text">
        <p>Finance Committee 17 October 2018 - Agenda and papers</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 2.91MB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 2.91 -->
            
              </div>
            </div>
        </div>
 

   </div>
 <div class="expandable-box">

        <div class="content">
            <div class="always-visible">
                <a class="controls" href="javascript:void(0);">&nbsp;</a>
                <div class="accordion-heading">
                    03 December
                </div>
            </div>
            <div class="start-hidden">
                <div class="multi-document-download-container">
                

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/fc-20181203-public-pack.pdf">
    <div class="document-download-text">
        <p>Finance Committee 3 December - Agenda and papers</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 170KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.17 -->
            
              </div>
            </div>
        </div>
 

   </div>
 <div class="expandable-box">

        <div class="content">
            <div class="always-visible">
                <a class="controls" href="javascript:void(0);">&nbsp;</a>
                <div class="accordion-heading">
                    13 December
                </div>
            </div>
            <div class="start-hidden">
                <div class="multi-document-download-container">
                

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/fc-20181213-item07-tfl-business-plan-approval.pdf">
    <div class="document-download-text">
        <p>Item 7 - TfL Business Plan 2018</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 8.36MB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 8.36 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/fc-20181213-agenda-and-papers-public.pdf">
    <div class="document-download-text">
        <p>Finance Committee 13 December 2018 - Agenda and papers</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 2.07MB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 2.07 -->
            
              </div>
            </div>
        </div>
 

   </div>
 
</div>
 <h2> 2017 meeting papers</h2>






    


<div class="accordion">
<div class="expandable-box">

        <div class="content">
            <div class="always-visible">
                <a class="controls" href="javascript:void(0);">&nbsp;</a>
                <div class="accordion-heading">
                    26 January
                </div>
            </div>
            <div class="start-hidden">
                <div class="multi-document-download-container">
                

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/fc-20170126-agenda.pdf">
    <div class="document-download-text">
        <p>Agenda</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 103KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.10 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/fc-20170126-part-1-item03a-20161013-minutes-final.pdf">
    <div class="document-download-text">
        <p>Item 3 -Minutes of the Meeting of the Committee held on 13 October 2016</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 150KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.15 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/fc-20170126-part-1-item04a-actions-list-final.pdf">
    <div class="document-download-text">
        <p>Item 4 - Matters Arising and Actions List</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 36KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.04 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/fc-20170126-part-1-item05-finance-report.pdf">
    <div class="document-download-text">
        <p>Item 5 - Finance Report</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 408KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.40 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/fc-20170126-part-1-item06a-scorecard-final.pdf">
    <div class="document-download-text">
        <p>Item 6 - 2017/18 TfL Scorecard Development</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 178KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.17 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/fc-20170126-part1-item07a-group-treasury-final.pdf">
    <div class="document-download-text">
        <p>Item 7 - Group Treasury Activites</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 361KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.35 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/fc-20170126-part-1-item08a-crl-ifa-final.pdf">
    <div class="document-download-text">
        <p>Item 8 - Crossrail &#45; Revised Interim Crossrail Limited Funding Payments Agreement with Network Rail</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 136KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.13 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/fc-20170126-part-1-item09a-fm-contract-final.pdf">
    <div class="document-download-text">
        <p>Item 9 - One Facilities Management Services Procurement - Extension of Current Contracts</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 187KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.18 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/fc-20170126-part-1-item10a-cd-quarterly-rept-final.pdf">
    <div class="document-download-text">
        <p>Item 10 - Commercial Development Quarterly Report</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 407KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.40 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/fc-20170126-part-1-item11a-tcrw-final.pdf">
    <div class="document-download-text">
        <p>Item 11 - Tottenham Court Road West Over Site Development</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 140KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.14 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/fc-20170126-part-1-item12a-broadway-final.pdf">
    <div class="document-download-text">
        <p>Item 12 - Strategy for the Broadway Complex</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 439KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.43 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/fc-20170126-part-1-item13a-forward-plan.pdf">
    <div class="document-download-text">
        <p>Item 13 - Member Suggestions for Future Agenda Discussions </p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 42KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.04 -->
            
              </div>
            </div>
        </div>
 

   </div>
 <div class="expandable-box">

        <div class="content">
            <div class="always-visible">
                <a class="controls" href="javascript:void(0);">&nbsp;</a>
                <div class="accordion-heading">
                    13 March
                </div>
            </div>
            <div class="start-hidden">
                <div class="multi-document-download-container">
                

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/fc-20170313-agenda-web.pdf">
    <div class="document-download-text">
        <p>Agenda 13 March 2017</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 41KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.04 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/fc-20170313-item03-minutes-for-approval-20170126.pdf">
    <div class="document-download-text">
        <p>Item 3 - Minutes of the Meeting of the Committee held on 26 January 2017</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 55KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.05 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/fc-20170313-item04-actions-list.pdf">
    <div class="document-download-text">
        <p>Item 4 - Matters Arising and Actions List</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 36KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.03 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/fc-20170313-item05-finance-report.pdf">
    <div class="document-download-text">
        <p>Item 5 - Finance Report</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 505KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.49 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/fc-20170313-item06-treasury-management-strategy-pt1.pdf">
    <div class="document-download-text">
        <p>Item 6 - Treasury Management Strategy 2017/18</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 95KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.09 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/fc-20170313-item07-treasury-management-policies.pdf">
    <div class="document-download-text">
        <p>Item 7 - Treasury Management and Derivative Investments Policies 2017/18</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 110KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.11 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/fc-20170313-item08-lt-insurance-renewal.pdf">
    <div class="document-download-text">
        <p>Item 8 - Long Term Insurance Renewal</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 59KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.06 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/fc-20170313-item09-1fm-contract-pt1.pdf">
    <div class="document-download-text">
        <p>Item 9 - One Facilities Management Services Procurement: Approval of Award of Contracts</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 68KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.07 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/fc-20170313-item10-cd-quarterly-update.pdf">
    <div class="document-download-text">
        <p>Item 10 - Commercial Development Quarterly Update Report</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 336KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.33 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/fc-20170313-item11-kidbrooke-pt1.pdf">
    <div class="document-download-text">
        <p>Item 11 - Disposal of Land at Kidbrooke</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 54KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.05 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/fc-20170313-item12-affordable-housing.pdf">
    <div class="document-download-text">
        <p>Item 12 - Affordable Housing</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 35KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.03 -->
            
              </div>
            </div>
        </div>
 

   </div>
 <div class="expandable-box">

        <div class="content">
            <div class="always-visible">
                <a class="controls" href="javascript:void(0);">&nbsp;</a>
                <div class="accordion-heading">
                    05 July
                </div>
            </div>
            <div class="start-hidden">
                <div class="multi-document-download-container">
                

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/fc-20170705-agenda.pdf">
    <div class="document-download-text">
        <p>Agenda</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 43KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.04 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/fc-20170705-part1-item03-fc-minutes.pdf">
    <div class="document-download-text">
        <p>Item 3 - Minutes of the Meeting of the Committee held on 13 March 2017</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 54KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.05 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/fc-20170705-part1-item04-actions-list.pdf">
    <div class="document-download-text">
        <p>Item 4 - Matters Arising, Actions List and Use of Delegated Authority</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 51KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.05 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/fc-20170705-part1-item05-finance-report.pdf">
    <div class="document-download-text">
        <p>Item 5 - Finance Report Period 2, 2017/18</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 399KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.39 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/fc-20170705-part1-item06-review-of-outturn.pdf">
    <div class="document-download-text">
        <p>Item 6 - Review of 2016/17 Outturn and Accounts</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 435KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.42 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/fc-20170705-part1-item07-treasury-activites.pdf">
    <div class="document-download-text">
        <p>Item 7 - Treasury Activities</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 78KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.08 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/fc-20170705-part1-item08-planning-obligations.pdf">
    <div class="document-download-text">
        <p>Item 8 - Update on Planning Obligations</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 209KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.20 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/fc-20170705-part1-item09-commercial-development-quarterly-update-report.pdf">
    <div class="document-download-text">
        <p>Item 9 - Commercial Development Quarterly Update Report</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 96KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.09 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/fc-20170705-part1-item10-multi-lateral-interchange-fees.pdf">
    <div class="document-download-text">
        <p>Item 10 - Multi-lateral interchange Fees</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 29KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.03 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/fc-20170705-part1-item11-forward-plan.pdf">
    <div class="document-download-text">
        <p>Item 11 - Member Suggestions for Future Agenda Discussions</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 44KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.04 -->
            
              </div>
            </div>
        </div>
 

   </div>
 <div class="expandable-box">

        <div class="content">
            <div class="always-visible">
                <a class="controls" href="javascript:void(0);">&nbsp;</a>
                <div class="accordion-heading">
                    15 September
                </div>
            </div>
            <div class="start-hidden">
                <div class="multi-document-download-container">
                

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/agenda-finance-committee-15-sept-2017.pdf">
    <div class="document-download-text">
        <p>Agenda - 15 September 2017</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 36KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.04 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/item04-interim-cfo.pdf">
    <div class="document-download-text">
        <p>Item 3 - Interim Chief Finance Officer Arrangements - Chair's Action</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 26KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.03 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/item04-taxi-private-hire-fees.pdf">
    <div class="document-download-text">
        <p>Item 4 - Taxi and Private Hire Licence Fees</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 475KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.46 -->
            
              </div>
            </div>
        </div>
 

   </div>
 <div class="expandable-box">

        <div class="content">
            <div class="always-visible">
                <a class="controls" href="javascript:void(0);">&nbsp;</a>
                <div class="accordion-heading">
                    27 September
                </div>
            </div>
            <div class="start-hidden">
                <div class="multi-document-download-container">
                

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/20170927-finance-committee-agenda.pdf">
    <div class="document-download-text">
        <p>Agenda - 27 September 2017</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 32KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.03 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/20170927-finance-committee-item-3-rcc.pdf">
    <div class="document-download-text">
        <p>Item 3 - Revenue Collection Contract Extension</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 47KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.05 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/20170927-finance-committee-item-4-southwark.pdf">
    <div class="document-download-text">
        <p>Item 4 - Southwark Station Development - Special Purpose Vehicle</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 331KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.32 -->
            
              </div>
            </div>
        </div>
 

   </div>
 <div class="expandable-box">

        <div class="content">
            <div class="always-visible">
                <a class="controls" href="javascript:void(0);">&nbsp;</a>
                <div class="accordion-heading">
                    18 October
                </div>
            </div>
            <div class="start-hidden">
                <div class="multi-document-download-container">
                

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/agenda-finance-committee-18-october-2017.pdf">
    <div class="document-download-text">
        <p>Agenda</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 40KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.04 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/item03-previous-minutes-fc20171018.pdf">
    <div class="document-download-text">
        <p>Item 3 - Minutes of Previous Meetings</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 55KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.05 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/item04-actions-list-fc20171018.pdf">
    <div class="document-download-text">
        <p>Item 4 - Actions List</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 150KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.15 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/item05-finance-report-5-fc20171018.pdf">
    <div class="document-download-text">
        <p>Item 5 - Finance Report &#45; Period 5, 2017/18</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 565KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.55 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/item06-prudential-indicators-fc20171018.pdf">
    <div class="document-download-text">
        <p>Item 6 - Prudential Indicators &#45; Outturn for the Year Ended 31 March 2017</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 168KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.16 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/item07-treasury-activities-fc20171018.pdf">
    <div class="document-download-text">
        <p>Item 7 - Treasury Activities</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 298KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.29 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/item08-access-and-wan-fc20171018.pdf">
    <div class="document-download-text">
        <p>Item 8 - Access and WAN Network Agreement Award</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 94KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.09 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/item09-connect-fc20171018.pdf">
    <div class="document-download-text">
        <p>Item 9 - Connect: A Managed Transition from the PFI</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 158KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.15 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/item10-energy-purchasing-fc20171018.pdf">
    <div class="document-download-text">
        <p>Item 10 - TfL Energy Purchasing 2020 to 2023</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 442KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.43 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/item12-forward-plan-fc20171018.pdf">
    <div class="document-download-text">
        <p>Item 12 - Members' Suggestions for Future Discussion Items</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 113KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.11 -->
            
              </div>
            </div>
        </div>
 

   </div>
 <div class="expandable-box">

        <div class="content">
            <div class="always-visible">
                <a class="controls" href="javascript:void(0);">&nbsp;</a>
                <div class="accordion-heading">
                    05 December
                </div>
            </div>
            <div class="start-hidden">
                <div class="multi-document-download-container">
                

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/fc-20171205-agenda.pdf">
    <div class="document-download-text">
        <p>Agenda</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 46KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.04 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/fc-20171205-part-1-item03-minutes.pdf">
    <div class="document-download-text">
        <p>Item 3 - Minutes of the Meeting of the Committee held on 18 October 2017</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 35KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.03 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/fc-20171205-part-1-item04-actions-list.pdf">
    <div class="document-download-text">
        <p>Item 4 - Matters Arising and Actions List</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 136KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.13 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/fc-20171205-part-1-item05-telecommuncations-commercialisation-project-update.pdf">
    <div class="document-download-text">
        <p>Item 5 - Telecommunications Commercialisation Project Update</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 49KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.05 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/fc-20171205-part-1-item06-access-and-wide-area-network-contracts.pdf">
    <div class="document-download-text">
        <p>Item 6 - Access and Wide Area Network Contract Award</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 40KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.04 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/fc-20171205-part-1-item07-connect-a-managed-transition-from-the-pfi-update.pdf">
    <div class="document-download-text">
        <p>Item 7 - Connect: A Managed Transition from the PFI - Update</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 32KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.03 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/fc-20171205-part-1-item08-tfl-energy-purchasing-2020-2023.pdf">
    <div class="document-download-text">
        <p>Item 8 - TfL Energy Purchasing 2020 to 2023</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 128KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.12 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/fc-20171205-part-1-item09-finance-report.pdf">
    <div class="document-download-text">
        <p>Item 9 - Finance Report - Period 7, 2017/18</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 386KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.38 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/fc-20171205-item10-draft-business-plan.pdf">
    <div class="document-download-text">
        <p>Item 10 - TfL Business Plan 2017</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 12.34MB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 12.34 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/fc-20171205-part-1-item12-forward-plan.pdf">
    <div class="document-download-text">
        <p>Item 11 - Member Suggestions for Future Agenda Discussions</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 78KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.08 -->
            
              </div>
            </div>
        </div>
 

   </div>
 
</div>
 <h2> 2016 meeting papers</h2>






    


<div class="accordion">
<div class="expandable-box">

        <div class="content">
            <div class="always-visible">
                <a class="controls" href="javascript:void(0);">&nbsp;</a>
                <div class="accordion-heading">
                    13 October
                </div>
            </div>
            <div class="start-hidden">
                <div class="multi-document-download-container">
                

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/fc-20161013-agenda.pdf">
    <div class="document-download-text">
        <p>Agenda </p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 39KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.04 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/fc-20161013-item03a-fpc-minutes.pdf">
    <div class="document-download-text">
        <p>Item 3 - Minutes of the Meeting of the Finance and Policy Committee held on 27 July 2016</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 167KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.16 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/fc-20161013-item04a-actions-com.pdf">
    <div class="document-download-text">
        <p>Item 4 - Actions List</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 136KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.13 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/fc-20161013-item05a-finance-report-com.pdf">
    <div class="document-download-text">
        <p>Item 5 - Finance Report</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 461KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.45 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/fc-20161013-item06a-prud-indi-com.pdf">
    <div class="document-download-text">
        <p>Item 6 - Prudential Indicators - Outturn for the year Ended 31 March 2016</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 288KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.28 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/fc-20161013-item07a-borrowing.pdf">
    <div class="document-download-text">
        <p>Item 7 - Update on TfL Borrowing</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 148KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.14 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/fc-20161013-item08a-tcrw.pdf">
    <div class="document-download-text">
        <p>Item 8 - Tottenham Court Road West Over Station Development</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 77KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.07 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/fc-20161013-item09a-merchant-acq.pdf">
    <div class="document-download-text">
        <p>Item 9 - Merchant Aquiring Contract</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 143KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.14 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/fc-20161013-item10a-mif-lit.pdf">
    <div class="document-download-text">
        <p>Item 10 - Multi-lateral Interchange Fees</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 77KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.07 -->
            
              </div>
            </div>
        </div>
 

   </div>
 
</div>
 
      
        
          
        
      
    
  </div>
  <div class="aside" role="complementary">

   
    
    
    
      <div data-set="sidenav-container" class="large">
        
        
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
                <a href="/corporate/publications-and-reports/finance-committee" class="heading">
                    <h2 id="sub-menu-heading">Finance committee<span class="visually-hidden"> navigation</span></h2>
                </a>
                <ul>
                    
                                <li class="selected"><div class="link-wrapper"><a href="/corporate/publications-and-reports/finance---past-years">Finance - past years</a></div>
                            </li>
 
                                <li><div class="link-wrapper"><a href="/corporate/publications-and-reports/finance-and-policy-past-years">Finance & Policy 2006-2016</a></div></li>
                            
 
                </ul>
            
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
      </div>
    
    <div>




















<div class="advert-tile unsponsored-style google-ads" aria-hidden="true">
  <div class="advert-link">
    <div class="advert-content">
        <div class="medium-large" data-advert="/76889402/non-targeted" data-advert-sizes="300, 250"></div>
        <div class="small" data-advert="/76889402/non-targeted" data-advert-sizes="300, 250"></div>
    </div>
  </div>
</div>
@{
    ViewBag.AmazonSlot = "'amznslots'";
    ViewBag.AmazonAds = "'3199'"; // to add another value, this needs to be ViewBag.AmazonAds = "'3199','xx'";
}
      

 </div>
    
    <div data-set="sidenav-container" class="small-medium"></div>
  </div>
</div>
 
 
        
        
        
            @{ViewBag.Description = "Committee agendas and reports of TfL's Finance committee from before the current year";}
        
            
        


 