
    
  



@{ViewBag.Title = "Freight";}
@{ViewBag.Keywords = "Businesses,Drivers,Freight industry,Planning and construction,F,Freight,Low Emission Zone,Research,Deliveries,Driving,TfL";}
@{ViewBag.Url = "/corporate/publications-and-reports/freight";}
@{ViewBag.Language = "en";}
        <!-- empty placeholder -->
 
        
        
<div class="r">
    <div class="breadcrumb-container" role="navigation">
        <span id="breadcrumb-label" class="visually-hidden">You are here:</span>
        <ol class="breadcrumbs clearfix" aria-labelledby="breadcrumb-label">
            <li class="home">
                <a href="/">
                    <span class="hide-text">Home</span>
                </a>
            </li>
            
                 <li><a href="/corporate/publications-and-reports/index">Publications & reports</a></li>
                
            
            
                <li><span class="last-breadcrumb">Freight</span></li>
            
        
 
        
 
        </ol>
    </div>
</div>
     
 
<div class="r">
  <div class="headline-container plain">
    <h1>Freight</h1>

  </div>
</div>
<div class="main-and-aside r">
  
  <div class="main content-container" role="main">
    
      <div class="article-teaser">
        Publications we produce for the freight industry include strategy documents, guidance, case studies as well as advice on creating Construction Logistics Plans.
        
      </div>
    
    
      <p>To find out if we have other documents on any of the subjects listed below, contact <a href="mailto:freight&#64;tfl.gov.uk">freight&#64;tfl.gov.uk</a>.</p>
      
           
      
<div>



<h2>Safer deliveries</h2>



<div class="multi-document-download-container">
    

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/logistics-managers-rp.pdf">
    <div class="document-download-text">
        <p>Delivering safely across Cycle Superhighways</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 1.13MB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 1.13 -->
 
</div>

</div>
 <div>

<h2>Delivering efficiently</h2>
</div>
 
<div>




<h3>Construction logistics plans (CLPs)</h3>
<p>Construction logistics plans are an important management tool for planners, developers and all parties involved in the planning process for construction work. They are an effective way of reducing the negative effects of construction work such as congestion, pollution and noise that may affect local communities, residents, businesses and the environment.</p>
<div class="multi-document-download-container">
    

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/construction-logistics-plan-guidance.pdf">
    <div class="document-download-text">
        <p>CLPs guidance</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 1.21MB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 1.21 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/clp-appendix-a.pdf">
    <div class="document-download-text">
        <p>CLPs: Appendix A</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 715KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.70 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/clp-appendix-b.pdf">
    <div class="document-download-text">
        <p>CLPs: Appendix B</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 3.78MB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 3.78 -->
 

<a class="document-download-wrap xlsx" href="/cdn/static/cms/documents/clp-tool3.xlsx">
    <div class="document-download-text">
        <p>CLPs tool</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            XLSX 940KB
            
        </p>
    </div>
    <div class="document-download-icon download-spread">
    </div>

</a>

<!-- 0.92 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/construction-logistics-and-cyclist-safety-technical-report.pdf">
    <div class="document-download-text">
        <p>Construction logistics and cycle safety - technical report</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 5.90MB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 5.90 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/construction-logistics-and-cyclist-safety-summary-report.pdf">
    <div class="document-download-text">
        <p>Construction logistics and cycle safety - summary</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 1.02MB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 1.02 -->
 
</div>

</div>
 
<div>




<h3>Consolidating deliveries </h3>
<div class="multi-document-download-container">
    

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/steer-assessment-of-demos-report-oct-2019.pdf">
    <div class="document-download-text">
        <p>Evaluation of Freight Consolidation Demonstrator Projects</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 1.73MB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 1.73 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/lbcc-case-study.pdf">
    <div class="document-download-text">
        <p>London boroughs consolidation centre - case study</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 319KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.31 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/rethinking-deliveries--summary-report.pdf">
    <div class="document-download-text">
        <p>Rethinking deliveries - summary report</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 571KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.56 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/london-freight-consolidation-feasibility-study.pdf">
    <div class="document-download-text">
        <p>London freight consolidation feasibility study</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 1.58MB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 1.58 -->
 
</div>

</div>
 
<div>




<h3>Retiming deliveries</h3>
<p>Ahead of the London 2012 Olympic and Paralympic Games, we ran trials of out-of-hours deliveries in partnership with local boroughs, the Freight Transport Association and the Noise Abatement Society. Although the studies were aimed at preparing for the Games, they still offer best practice examples for regular freight operations.</p>
<div class="multi-document-download-container">
    
</div>

</div>
 
<div>




<h4>Retiming projects from other cities </h4>
<div class="multi-document-download-container">
    

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/inner-city-night-delivery-in-the-eu.pdf">
    <div class="document-download-text">
        <p>Inner city night delivery in the EU</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 1.29MB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 1.29 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/integrative-freight-demand-management-in-new-york.pdf">
    <div class="document-download-text">
        <p>Integrative freight demand management in New York</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 11.35MB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 11.35 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/dublin-hgv-strategy-review.pdf">
    <div class="document-download-text">
        <p>Dublin HGV strategy review</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 306KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.30 -->
 
</div>

</div>
 
<div>




<h3>Direct vision from heavy goods vehicles</h3>
<p>Our research into visibility from heavy goods vehicles highlights the importance of choosing the right vehicle for working in urban environments such as London. This research is being used to influence the design and purchase of safer, lower vehicles with improved direct vision.</p>
<div class="multi-document-download-container">
    

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/understanding-direct-and-direct-vision-from-hgvs-summary.pdf">
    <div class="document-download-text">
        <p>Understanding direct and indirect vision from HGVs - summary</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 13.37MB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 13.37 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/understanding-direct-and-indirect-vision-in-hgvs-full-technical-report.pdf">
    <div class="document-download-text">
        <p>Understanding direct and indirect driver vision from HGVs - technical report</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 17.16MB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 17.16 -->
 
</div>

</div>
 
<div>




<h3>Cycle freight</h3>

<p>Moving freight by bike improves air quality, frees up road space and creates safer environments for everyone to walk and cycle. This study explains the benefits, challenges and opportunities for cycle freight and includes case studies.</p>
<div class="multi-document-download-container">
    

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/cycle-freight-study.pdf">
    <div class="document-download-text">
        <p>Cycle freight study</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 3.14MB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 3.14 -->
 
</div>

</div>
 
<div>



<h2>Protecting the environment</h2>


<h3>Waterways loading infrastructure</h3>
<p>For the transport of goods and materials on the waterways to take pace, suitable and effective methods of handling it at the origin and destination are necessary. This summary explains the most appropriate equipment for this task to ensure that cargoes are transferred between the wharf and craft quickly, safely and economically.</p>
<div class="multi-document-download-container">
    

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/review-of-loading-and-unloading-equipment-london-waterways.pdf">
    <div class="document-download-text">
        <p>Review of load handling systems for London's canal network</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 1.74MB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 1.74 -->
 
</div>

</div>
 
<div>



<h2>Freight data reports</h2>



<div class="multi-document-download-container">
    

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/london-freight-data-report-2014.pdf">
    <div class="document-download-text">
        <p>London freight data report 2014</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 384KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.37 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/london-freight-data-report-2013.pdf">
    <div class="document-download-text">
        <p>London freight data report 2013</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 236KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.23 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/london-freight-data-report-2012.pdf">
    <div class="document-download-text">
        <p>London freight data report 2012</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 132KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.13 -->
 
</div>

</div>
 
<div>




<h3>HGV regulatory non-compliance in London </h3>
<p>HGVs that are non-compliant with regulations and road laws may be more dangerous than those which are fully compliant. In 2015, we commissioned research to understand the level and reasons behind regulatory non-compliance of HGVs operating in London. The research showed unacceptably high level of reported and observed non-compliance by HGV operations in London:</p>
<div class="multi-document-download-container">
    

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/understanding-hgv-regulatory-non-compliance-in-london-full-report.pdf">
    <div class="document-download-text">
        <p>Understanding HGV regulatory non-compliance in London full report</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 6.95MB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 6.95 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/understanding-hgv-regulatory-non-compliance-in-london-summary-report.pdf">
    <div class="document-download-text">
        <p>Understanding HGV regulatory non-compliance in London summary report</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 1.45MB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 1.45 -->
 
</div>

</div>
 
<div>




<h2>Promoting sustainable freight</h2>

<p>We are helping road freight operators to adopt safer, more efficient and more environmentally friendly practices through the Fleet Operator Recognition Scheme. This offers operators benefits to help them improve their performance.</p>
<div class="multi-document-download-container">
    

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/tfl-adaptation-report-may-2015.pdf">
    <div class="document-download-text">
        <p>TfL resilience to extreme weather and climate change - May 2015</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 1.22MB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 1.22 -->
 
</div>

</div>
 
      
        
          
        
      
    
  </div>
  <div class="aside" role="complementary">

   
    
    
    
      <div data-set="sidenav-container" class="large">
        
        
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
      </div>
    
    <div>
















<div class="advert-tile unsponsored-style google-ads" aria-hidden="true">
  <div class="advert-link">
    <div class="advert-content">
        <div class="medium-large" data-advert="/76889402/non-targeted" data-advert-sizes="300, 250"></div>
        <div class="small" data-advert="/76889402/non-targeted" data-advert-sizes="300, 250"></div>
    </div>
  </div>
</div>
@{
    ViewBag.AmazonSlot = "'amznslots'";
    ViewBag.AmazonAds = "'3199'"; // to add another value, this needs to be ViewBag.AmazonAds = "'3199','xx'";
}
      

 </div>
    
      <div class="module-grid clearfix">
                    
        <div class="related-links">

    <h3>Also on this site</h3>

<div class="vertical-button-container">

<a href="/info-for/deliveries-in-london/index" class="plain-button">Deliveries in London</a>
    </div>
</div>
 
      </div>
    
    <div data-set="sidenav-container" class="small-medium"></div>
  </div>
</div>
 
 
        
        
        
            @{ViewBag.Description = "Guidance, data reports and case studies show how we work with the freight industry";}
        
            
        


 