
    
  



@{ViewBag.Title = "Health, safety & environment";}
@{ViewBag.Keywords = "Public,H,Environment,Regular reports,Safety and security,TfL";}
@{ViewBag.Url = "/corporate/publications-and-reports/health-safety-and-environment";}
@{ViewBag.Language = "en";}
        <!-- empty placeholder -->
 
        
        
<div class="r">
    <div class="breadcrumb-container" role="navigation">
        <span id="breadcrumb-label" class="visually-hidden">You are here:</span>
        <ol class="breadcrumbs clearfix" aria-labelledby="breadcrumb-label">
            <li class="home">
                <a href="/">
                    <span class="hide-text">Home</span>
                </a>
            </li>
            
                 <li><a href="/corporate/publications-and-reports/index">Publications & reports</a></li>
                
            
            
                <li><span class="last-breadcrumb">Health, safety & environment</span></li>
            
        
 
        
 
        </ol>
    </div>
</div>
     
 
<div class="r">
  <div class="headline-container plain">
    <h1>Health, safety & environment</h1>

  </div>
</div>
<div class="main-and-aside r">
  
  <div class="main content-container" role="main">
    
      <div class="article-teaser">
        Read our most recent health, safety and environmental policy and performance reports.
        
      </div>
    
    
      
      
           
      
<div>



<h2>Health, safety and environment policy</h2>



<div class="multi-document-download-container">
    

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/tfl-health-safety-and-environment-policy.pdf">
    <div class="document-download-text">
        <p>TfL health, safety and environment policy</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 164KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.16 -->
 
</div>

</div>
 
<div>



<h2>Health, safety and environment reports</h2>



<div class="multi-document-download-container">
    

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/tfl-hse-annual-report-2018-19.pdf">
    <div class="document-download-text">
        <p>Health, safety and environment report 2018/19</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 14.58MB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 14.58 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/tfl-hse-annual-report-2017-18.pdf">
    <div class="document-download-text">
        <p>Health, safety and environment report 2017/18</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 3.27MB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 3.27 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/health-safety-and-environment-report-2016-17.pdf">
    <div class="document-download-text">
        <p>Health, safety and environment report 2016/17</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 3.21MB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 3.21 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/health-safety-environment-report-2015-16.pdf">
    <div class="document-download-text">
        <p>Health, safety and environment report 2015/16</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 1.84MB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 1.84 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/health-safety-environment-report-2015.pdf">
    <div class="document-download-text">
        <p>Health, safety and environment report 2014/15</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 2.63MB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 2.63 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/tfl-health-safety-and-environment-report-2013-14.pdf">
    <div class="document-download-text">
        <p>Health, safety and environment report 2013/14</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 1.63MB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 1.63 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/health-safety-and-environment-report-2012-13-final.pdf">
    <div class="document-download-text">
        <p>Health, safety and environment report 2012/13</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 2.38MB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 2.38 -->
 
</div>

</div>
 
<div>



<h2>Health action plan 2014</h2>


<p>Before the current Mayor's Transport Strategy we produced a 3-year Health action plan in 2014. Here we wrote about main connections between transport and health and outlined the work we were doing to improve the health of Londoners. Three annual progress reports were also produced.</p>
<div class="multi-document-download-container">
    

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/improving-the-health-of-londoners-transport-action-plan.pdf">
    <div class="document-download-text">
        <p>Improving the health of Londoners </p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 4.04MB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 4.04 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/executive-summary-improving-the-health-of-londoners-transport-action-plan.pdf">
    <div class="document-download-text">
        <p>Improving the health of Londoners - Executive summary</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 1.16MB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 1.16 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/improving-the-health-of-londoners-transport-action-plan-year-1-progress-report.pdf">
    <div class="document-download-text">
        <p>Improving the health of Londoners - year 1 progress report</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 739KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.72 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/improving-the-health-of-londoners-transport-action-plan-year-2-progress-report.pdf">
    <div class="document-download-text">
        <p>Improving the health of Londoners - year 2 progress report</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 561KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.55 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/improving-the-health-of-londoners-transport-action-plan-year-three-progress-report.pdf">
    <div class="document-download-text">
        <p>Improving the health of Londoners - year 3 progress report</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 658KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.64 -->
 
</div>

</div>
 
      
        
          
        
      
    
  </div>
  <div class="aside" role="complementary">

   
    
    
    
      <div data-set="sidenav-container" class="large">
        
        
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
      </div>
    
    <div>
















<div class="advert-tile unsponsored-style google-ads" aria-hidden="true">
  <div class="advert-link">
    <div class="advert-content">
        <div class="medium-large" data-advert="/76889402/non-targeted" data-advert-sizes="300, 250"></div>
        <div class="small" data-advert="/76889402/non-targeted" data-advert-sizes="300, 250"></div>
    </div>
  </div>
</div>
@{
    ViewBag.AmazonSlot = "'amznslots'";
    ViewBag.AmazonAds = "'3199'"; // to add another value, this needs to be ViewBag.AmazonAds = "'3199','xx'";
}
      

 </div>
    
    <div data-set="sidenav-container" class="small-medium"></div>
  </div>
</div>
 
 
        
        
        
            @{ViewBag.Description = "These reports provide annual updates on our health, safety and environmental performance";}
        
            
        


 