
    
  



@{ViewBag.Title = "Publications & reports";}
@{ViewBag.Keywords = "Public,Accessible travel,Assisted travel,Buses,DLR,London Overground,River,Trams,Tube,Walking,TfL";}
@{ViewBag.Url = "/corporate/publications-and-reports/index";}
@{ViewBag.Language = "en";}
        <!-- empty placeholder -->
 
        
        
<div class="r">
    <div class="breadcrumb-container" role="navigation">
        <span id="breadcrumb-label" class="visually-hidden">You are here:</span>
        <ol class="breadcrumbs clearfix" aria-labelledby="breadcrumb-label">
            <li class="home">
                <a href="/">
                    <span class="hide-text">Home</span>
                </a>
            </li>
            
            
                <li><span class="last-breadcrumb">Publications & reports</span></li>
            
        
 
        </ol>
    </div>
</div>
     
 
<div class="r">
    <div class="headline-container landing-page section-landing-container">
        <h1>Publications & reports</h1>
        
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">
        <div class="small-medium" data-set="widget"></div>
        <div class="primary-teaser landing-page-teaser">
            
        </div>
        
        <div class="clearfix">
            <div>


</div>
 

        <div class="clearfix">
            <div class="search-filters-wrapper">
                <script>
                    var filters = [
                        

{"Audience": ["Coach drivers", "Dial a Ride passengers", "Drivers", "Emirates Air Line passengers", "London Overground passengers", "Motorbikers", "Passengers with accessibility needs", "Pedestrians", "Public", "Rail passengers", "Taxi passengers", "Tube passengers", "M", "Maps", "DLR", "Elizabeth line", "Emirates Air Line", "London Overground", "TfL Rail", "Tube", "DLR ", "Emirates ", "Map", "Tube Map "]},


 

{"Category": ["Accessible travel", "Committee and panel meetings", "Congestion Charge", "Consultation", "Contract", "Corporate information", "Crossrail", "Customer Research Library", "Environment", "Finance", "Grants", "Low Emission Zone", "Performance", "Policy", "Regular reports", "Research", "Safety and security", "Special reports", "Transparency data "]},


 

{"A-Z": ["A", "B", "C", "D", "E", "F", "G", "H", "I", "J", "K", "L", "M", "N", "O", "P", "Q", "R", "S", "T", "U", "V", "W", "X", "Y", "Z"]},


 

{"Mode": ["Assisted travel", "Buses", "Coaches", "Cycling", "Deliveries", "DLR", "Driving", "Emirates Air Line", "London Overground", "Motorcycle", "Rail", "River", "Taxis and minicabs", "Trams", "Tube"]},


 
                        {}
                ];
                </script>
            </div>
        </div>

        <div class="results-list-all">
            <ul id="results-list">
                
                <li class="search-results">
                    <div class="search-result-text">
                        <a href="/corporate/publications-and-reports/55-broadway" >
                            <h3>55 Broadway</h3>
                        </a>
                        <p>Archive plans for the redevelopment of 55 Broadway. These plans are not current</p>
                    </div>
                    <div class="search-tags">B</div>
                </li>
                
                <li class="search-results">
                    <div class="search-result-text">
                        <a href="/corporate/publications-and-reports/annual-report" >
                            <h3>Annual Report</h3>
                        </a>
                        <p>These reports summarise the work we have done to improve London's transport network</p>
                    </div>
                    <div class="search-tags">Investors,Media,Public,A,Corporate information,Finance,Performance,Regular reports,Research</div>
                </li>
                
                <li class="search-results">
                    <div class="search-result-text">
                        <a href="/corporate/publications-and-reports/asset-management" >
                            <h3>Asset management</h3>
                        </a>
                        <p>Asset management policy documents</p>
                    </div>
                    <div class="search-tags">Suppliers,A,Policy,Assisted travel,Aviation,Buses,Coaches,Cycling,Deliveries,DLR,Driving,Emirates Air Line,London Overground,Motorcycle,Rail,River,Taxis and minicabs,Trams,Tube,Walking</div>
                </li>
                
                <li class="search-results">
                    <div class="search-result-text">
                        <a href="/corporate/publications-and-reports/audit-and-assurance-committee" >
                            <h3>Audit & Assurance committee</h3>
                        </a>
                        <p>Agendas and minutes from all Audit & assurance committee meetings</p>
                    </div>
                    <div class="search-tags">A,C,Committee and panel meetings,Corporate information,Finance,Regular reports,Transparency data </div>
                </li>
                
                <li class="search-results">
                    <div class="search-result-text">
                        <a href="/corporate/publications-and-reports/aviation" >
                            <h3>Aviation</h3>
                        </a>
                        <p>Airport policy documents include submissions to Parliament by Mayor of London Sadiq Khan</p>
                    </div>
                    <div class="search-tags">Businesses,Media,Public,A,Aviation</div>
                </li>
                
                <li class="search-results">
                    <div class="search-result-text">
                        <a href="/corporate/publications-and-reports/bank-station-capacity-upgrade" >
                            <h3>Bank station capacity upgrade</h3>
                        </a>
                        <p>Our plans should ease congestion in Bank and Monument stations by 2022</p>
                    </div>
                    <div class="search-tags">Tube passengers,B,City of London,Tube improvement,Tube</div>
                </li>
                
                <li class="search-results">
                    <div class="search-result-text">
                        <a href="/corporate/publications-and-reports/board-papers" >
                            <h3>Board papers</h3>
                        </a>
                        <p>Agendas and minutes from our most recent board meetings</p>
                    </div>
                    <div class="search-tags">B,C,Committee and panel meetings,Corporate information,Performance,Policy,Regular reports</div>
                </li>
                
                <li class="search-results">
                    <div class="search-result-text">
                        <a href="/corporate/publications-and-reports/business-plan" >
                            <h3>Budget and Business Plan</h3>
                        </a>
                        <p>These plans describe how we will implement and fund the projects that underpin the Mayor's Transport Strategy</p>
                    </div>
                    <div class="search-tags">Investors,Public,B,Regular reports</div>
                </li>
                
                <li class="search-results">
                    <div class="search-result-text">
                        <a href="/corporate/publications-and-reports/buses" >
                            <h3>Buses</h3>
                        </a>
                        <p>These documents provide useful background on a range of bus-related issues </p>
                    </div>
                    <div class="search-tags">Bus operators,Bus passengers,Public,B,Streetscape,Buses</div>
                </li>
                
                <li class="search-results">
                    <div class="search-result-text">
                        <a href="/corporate/publications-and-reports/bus-crime-statistics" >
                            <h3>Bus crime statistics</h3>
                        </a>
                        <p>Bus-related crime statistics by borough</p>
                    </div>
                    <div class="search-tags">Bus operators,Bus passengers,Public,B,Performance,Safety and security,Buses</div>
                </li>
                
                <li class="search-results">
                    <div class="search-result-text">
                        <a href="/corporate/publications-and-reports/bus-fleet-data-and-audits" >
                            <h3>Bus fleet data & audits</h3>
                        </a>
                        <p>An audit of the LBSL contracted fleet is carried out once a year. The  data provides the fleet size, respective percentage of the fleet and average age by operator.</p>
                    </div>
                    <div class="search-tags">Bus operators,Bus passengers,B,Regular reports,Buses</div>
                </li>
                
                <li class="search-results">
                    <div class="search-result-text">
                        <a href="/corporate/publications-and-reports/bus-network-development-papers" >
                            <h3>Bus network development papers</h3>
                        </a>
                        <p>Information on how new developments in London might require changes to TfL's bus network</p>
                    </div>
                    <div class="search-tags">Bus operators,Bus passengers,B,Performance,Buses</div>
                </li>
                
                <li class="search-results">
                    <div class="search-result-text">
                        <a href="/corporate/publications-and-reports/bus-operator-league-tables" >
                            <h3>Bus operator league tables</h3>
                        </a>
                        <p>League tables showing how bus operators compare against each other </p>
                    </div>
                    <div class="search-tags">Bus operators,B,Performance,Buses</div>
                </li>
                
                <li class="search-results">
                    <div class="search-result-text">
                        <a href="/corporate/publications-and-reports/buses-performance-data" >
                            <h3>Buses performance data</h3>
                        </a>
                        <p>Network performance statistics and customer feedback can tell us a lot about how well our bus services are operating - and what we can do to improve them</p>
                    </div>
                    <div class="search-tags">Bus operators,Public,B,Performance,Buses</div>
                </li>
                
                <li class="search-results">
                    <div class="search-result-text">
                        <a href="/corporate/publications-and-reports/bus-route-and-borough-reports" >
                            <h3>Bus route & borough reports</h3>
                        </a>
                        <p>Performance tables for all London's bus routes and quality of bus service reports for each borough</p>
                    </div>
                    <div class="search-tags">Boroughs,Bus operators,Bus passengers,Public,B,Performance,Buses</div>
                </li>
                
                <li class="search-results">
                    <div class="search-result-text">
                        <a href="/corporate/publications-and-reports/bus-safety-data" >
                            <h3>Bus safety data</h3>
                        </a>
                        <p>A collection of reports covering aspects of bus safety and related research</p>
                    </div>
                    <div class="search-tags">Bus operators,Bus passengers,B,S,Safety and security,Streetscape,Buses</div>
                </li>
                
                <li class="search-results">
                    <div class="search-result-text">
                        <a href="/corporate/publications-and-reports/bus-schedules" >
                            <h3>Bus schedules</h3>
                        </a>
                        <p>Search for a bus route number to find schedules for that route</p>
                    </div>
                    <div class="search-tags">Bus passengers,B,Buses</div>
                </li>
                
                <li class="search-results">
                    <div class="search-result-text">
                        <a href="/corporate/publications-and-reports/bus-tenders" >
                            <h3>Bus tenders</h3>
                        </a>
                        <p>Tenders for bus routes are managed by London Buses. We publish the results of all tenders</p>
                    </div>
                    <div class="search-tags">Bus operators,Suppliers,B,Buses</div>
                </li>
                
                <li class="search-results">
                    <div class="search-result-text">
                        <a href="/corporate/publications-and-reports/camberwell-station-business-case" >
                            <h3>Camberwell station business case</h3>
                        </a>
                        <p>Strategic outline business case for a possible reinstatement of Camberwell rail station</p>
                    </div>
                    <div class="search-tags">London Overground passengers,C,Southwark</div>
                </li>
                
                <li class="search-results">
                    <div class="search-result-text">
                        <a href="/corporate/publications-and-reports/car-line-diagrams" >
                            <h3>Car Line Diagrams</h3>
                        </a>
                        <p>This page collates Car Line Diagrams and Car Line Diagram stickers for all Tube lines, TFL Rail, London Overground and DLR dating from 1996 to 2015</p>
                    </div>
                    <div class="search-tags">C,Maps,DLR,London Overground,Tube</div>
                </li>
                
                <li class="search-results">
                    <div class="search-result-text">
                        <a href="/corporate/publications-and-reports/chief-officers-expenses" >
                            <h3>Chief Officers' expenses and mobile phone expenditure</h3>
                        </a>
                        <p>We proactively publish all expenses claimed by Chief Officers and expenditure on their use of mobile phones</p>
                    </div>
                    <div class="search-tags">Media,C,Corporate information,Finance,Regular reports</div>
                </li>
                
                <li class="search-results">
                    <div class="search-result-text">
                        <a href="/corporate/publications-and-reports/code-of-conduct" >
                            <h3>Code of Conduct</h3>
                        </a>
                        <p>Describes our ethics, employee behaviour and policies relevant to conduct of business</p>
                    </div>
                    <div class="search-tags">Media,Public,C</div>
                </li>
                
                <li class="search-results">
                    <div class="search-result-text">
                        <a href="/corporate/publications-and-reports/commissioners-report" >
                            <h3>Commissioner's Report</h3>
                        </a>
                        <p>The report updates the TfL Board on significant projects and initiatives</p>
                    </div>
                    <div class="search-tags">C,Committee and panel meetings,Corporate information,Performance,Regular reports</div>
                </li>
                
                <li class="search-results">
                    <div class="search-result-text">
                        <a href="/corporate/publications-and-reports/complaints-policy" >
                            <h3>Complaints policy</h3>
                        </a>
                        <p>TfL's policy on dealing with unreasonable complaints</p>
                    </div>
                    <div class="search-tags">C,Corporate information</div>
                </li>
                
                <li class="search-results">
                    <div class="search-result-text">
                        <a href="/corporate/publications-and-reports/complaints-report" >
                            <h3>Complaints report</h3>
                        </a>
                        <p>This report sets out the main areas of customer complaints and steps being taken to address them</p>
                    </div>
                    <div class="search-tags">Public,C,Special reports</div>
                </li>
                
                <li class="search-results">
                    <div class="search-result-text">
                        <a href="/corporate/publications-and-reports/congestion-charge" >
                            <h3>Congestion Charge</h3>
                        </a>
                        <p>Consultation documents and reports related to the Congestion Charging scheme</p>
                    </div>
                    <div class="search-tags">Coach drivers,Drivers,Freight industry,Taxi and private hire,Taxi passengers,C,Congestion Charge,Consultation,Performance,Research,Deliveries,Driving,Taxis and minicabs</div>
                </li>
                
                <li class="search-results">
                    <div class="search-result-text">
                        <a href="/corporate/publications-and-reports/connected-and-autonomous-vehicles" >
                            <h3>Connected and Autonomous Vehicles</h3>
                        </a>
                        <p>Find out about using Connected and Autonomous Vehicles (also known as driverless cars) in London</p>
                    </div>
                    <div class="search-tags">Boroughs,Drivers,Investors,A,C,V,Roads,Driving</div>
                </li>
                
                <li class="search-results">
                    <div class="search-result-text">
                        <a href="/corporate/publications-and-reports/contactless-payment" >
                            <h3>Contactless payment</h3>
                        </a>
                        <p> This page shows the number of contactless payment cards that have been used since we launched the system</p>
                    </div>
                    <div class="search-tags">Bus operators,Bus passengers,DLR passengers,London Overground passengers,Media,Tram passengers,Tube passengers,C,Research,Ticketing,Buses,DLR,London Overground,Trams,Tube</div>
                </li>
                
                <li class="search-results">
                    <div class="search-result-text">
                        <a href="/corporate/publications-and-reports/contract-opportunities" >
                            <h3>Contract opportunities</h3>
                        </a>
                        <p>We publish details of future contract opportunities for TfL Corporate, TfL Surface and London Underground (over &pound;500k) on a periodic basis. You can also view a list of current frameworks and when they expire. </p>
                    </div>
                    <div class="search-tags">Boroughs,Businesses,Suppliers,C,Contract,Corporate information</div>
                </li>
                
                <li class="search-results">
                    <div class="search-result-text">
                        <a href="/corporate/publications-and-reports/contracts-crossrail" >
                            <h3>Contracts - Crossrail</h3>
                        </a>
                        <p>Crossrail contract for operating services</p>
                    </div>
                    <div class="search-tags">Boroughs,Businesses,Elizabeth line,Planning and construction,Suppliers,TfL Rail,C,Contract,Crossrail,Rail</div>
                </li>
                
                <li class="search-results">
                    <div class="search-result-text">
                        <a href="/corporate/publications-and-reports/contracts" >
                            <h3>Contracts</h3>
                        </a>
                        <p>Our commercial and sponsorship agreements </p>
                    </div>
                    <div class="search-tags">Businesses,C,Contract</div>
                </li>
                
                <li class="search-results">
                    <div class="search-result-text">
                        <a href="/corporate/publications-and-reports/contracts-greater-than-5000" >
                            <h3>Contracts greater than &pound;5,000</h3>
                        </a>
                        <p>A list of contracts for services to TfL ranging from data storage to specialist cleaning of escalators</p>
                    </div>
                    <div class="search-tags">Businesses,Media,Public,Suppliers,C,Contract,Corporate information,Regular reports,Transparency data </div>
                </li>
                
                <li class="search-results">
                    <div class="search-result-text">
                        <a href="/corporate/publications-and-reports/contracts-released-under-foi" >
                            <h3>Contracts released under FOI</h3>
                        </a>
                        <p>Contracts published because of Freedom of Information requests</p>
                    </div>
                    <div class="search-tags">Businesses,Media,Suppliers,C,Contract,Corporate information,Finance</div>
                </li>
                
                <li class="search-results">
                    <div class="search-result-text">
                        <a href="/corporate/publications-and-reports/crime-and-incident-bulletins" >
                            <h3>Crime & incident bulletins</h3>
                        </a>
                        <p>Crime and incident statistics includes information on antisocial behaviour on our networks</p>
                    </div>
                    <div class="search-tags">Boroughs,Businesses,Public,C,Performance,Regular reports,Safety and security</div>
                </li>
                
                <li class="search-results">
                    <div class="search-result-text">
                        <a href="/corporate/publications-and-reports/crossrail-board-minutes" >
                            <h3>Crossrail board minutes</h3>
                        </a>
                        <p>Minutes of Crossrail Ltd Board meetings</p>
                    </div>
                    <div class="search-tags">Elizabeth line,Public,TfL Rail,C,Committee and panel meetings,Crossrail,Rail</div>
                </li>
                
                <li class="search-results">
                    <div class="search-result-text">
                        <a href="/corporate/publications-and-reports/crossrail-central-operating-section" >
                            <h3>Crossrail Central Operating Section</h3>
                        </a>
                        <p>These documents show how potential train service operators might apply for access to the Crossrail Central Operation Section</p>
                    </div>
                    <div class="search-tags">Businesses,Elizabeth line,Engineers,Investors,Suppliers,TfL Rail,C,Contract,Corporate information,Crossrail,Rail improvements,Rail</div>
                </li>
                
                <li class="search-results">
                    <div class="search-result-text">
                        <a href="/corporate/publications-and-reports/crossrail-project-updates" >
                            <h3>Crossrail project updates</h3>
                        </a>
                        <p>These are independent reviews, general project updates and papers to the Mayor on Crossrail and the Elizabeth line.</p>
                    </div>
                    <div class="search-tags">Elizabeth line,Public,TfL Rail,C,Crossrail,Regular reports,Rail,TfL Rail </div>
                </li>
                
                <li class="search-results">
                    <div class="search-result-text">
                        <a href="/corporate/publications-and-reports/crossrail-sponsor-board-minutes" >
                            <h3>Crossrail sponsor board minutes</h3>
                        </a>
                        <p>Crossrail sponsor board minutes</p>
                    </div>
                    <div class="search-tags">Elizabeth line,TfL Rail,C,Crossrail</div>
                </li>
                
                <li class="search-results">
                    <div class="search-result-text">
                        <a href="/corporate/publications-and-reports/customer-service-op-performance" >
                            <h3>Customer service & Op performance</h3>
                        </a>
                        <p>Agendas and minutes from the most recent Customer service & Operational performance panel meetings</p>
                    </div>
                    <div class="search-tags">DLR passengers,London Overground passengers,Public,Tube passengers,C,R,S,Committee and panel meetings,DLR,London Overground,Rail,Tube</div>
                </li>
                
                <li class="search-results">
                    <div class="search-result-text">
                        <a href="/corporate/publications-and-reports/customers-information-needs" >
                            <h3>Customers' information needs</h3>
                        </a>
                        <p>Reports into user experiences of our website, social media facilities and other digital media</p>
                    </div>
                    <div class="search-tags">Boroughs,Businesses,Public,C,Accessible travel,Customer Research Library,Research,Safety and security,Special reports</div>
                </li>
                
                <li class="search-results">
                    <div class="search-result-text">
                        <a href="/corporate/publications-and-reports/cycle-hire-contracts" >
                            <h3>Cycle hire contracts</h3>
                        </a>
                        <p>Contracts for the sponsorship and running of the London Cycle HIre Scheme</p>
                    </div>
                    <div class="search-tags">Cyclists,B,C,S,Contract,Cycling</div>
                </li>
                
                <li class="search-results">
                    <div class="search-result-text">
                        <a href="/corporate/publications-and-reports/cycle-hire-performance" >
                            <h3>Cycle hire performance</h3>
                        </a>
                        <p>Quarterly performance reports including statistics on revenue generated and the most frequent journeys</p>
                    </div>
                    <div class="search-tags">Cyclists,C,Performance,Cycling</div>
                </li>
                
                <li class="search-results">
                    <div class="search-result-text">
                        <a href="/corporate/publications-and-reports/cycling" >
                            <h3>Cycling</h3>
                        </a>
                        <p>These documents provide useful background on a range of cycling-related issues</p>
                    </div>
                    <div class="search-tags">Cyclists,Public,C,Special reports,Cycling</div>
                </li>
                
                <li class="search-results">
                    <div class="search-result-text">
                        <a href="/corporate/publications-and-reports/cycling-and-walking" >
                            <h3>Cycling & walking</h3>
                        </a>
                        <p>These reports focus on a range of cycling and walking-related issues</p>
                    </div>
                    <div class="search-tags">Boroughs,Businesses,Cyclists,Pedestrians,Public,C,W,Customer Research Library,Special reports,Cycling,Walking</div>
                </li>
                
                <li class="search-results">
                    <div class="search-result-text">
                        <a href="/corporate/publications-and-reports/dockless-bike-share-code-of-practice" >
                            <h3>Dockless bike share code of practice</h3>
                        </a>
                        <p>Code of practice for dockless bike share schemes</p>
                    </div>
                    <div class="search-tags">Boroughs,Cyclists,Planning and construction,Public,D,Policy,Cycling</div>
                </li>
                
                <li class="search-results">
                    <div class="search-result-text">
                        <a href="/corporate/publications-and-reports/earls-court-village-development" >
                            <h3>Earls Court Village development</h3>
                        </a>
                        <p>Capital & Counties Properties PLC and TfL have established a joint venture, Earls Court Partnership Limited, which will enable the development of Earls Court 1 & 2 in line with the Earls Court Masterplan</p>
                    </div>
                    <div class="search-tags">E,Contract</div>
                </li>
                
                <li class="search-results">
                    <div class="search-result-text">
                        <a href="/corporate/publications-and-reports/economic-benefits-of-walking-and-cycling" >
                            <h3>Economic benefits of walking and cycling</h3>
                        </a>
                        <p>Reports, studies and practical toolkits that present the economic benefits of walking and cycling.</p>
                    </div>
                    <div class="search-tags">Businesses,Cyclists,Pedestrians,Public,E,W,Environment,Cycling,Walking</div>
                </li>
                
                <li class="search-results">
                    <div class="search-result-text">
                        <a href="/corporate/publications-and-reports/elizabeth-line-rule-book" >
                            <h3>Elizabeth line Rule Book</h3>
                        </a>
                        <p>The Elizabeth line Rule Book is for train operators running services on the Crossrail Central Operating Section</p>
                    </div>
                    <div class="search-tags">Elizabeth line,Suppliers,E,Crossrail</div>
                </li>
                
                <li class="search-results">
                    <div class="search-result-text">
                        <a href="/corporate/publications-and-reports/emirates-air-line-passenger-journeys" >
                            <h3>Emirates Air Line passenger journeys</h3>
                        </a>
                        <p>Passenger journey numbers for the Emirates Air Line</p>
                    </div>
                    <div class="search-tags">Emirates Air Line passengers,Public,Visitors,E,Performance,Emirates Air Line</div>
                </li>
                
                <li class="search-results">
                    <div class="search-result-text">
                        <a href="/corporate/publications-and-reports/environmental-issues" >
                            <h3>Environmental issues</h3>
                        </a>
                        <p>These reports focus on a variety of subjects around our efforts to go green </p>
                    </div>
                    <div class="search-tags">Public,Schools and young people,E,Customer Research Library,Environment,Low Emission Zone,Research,Special reports</div>
                </li>
                
                <li class="search-results">
                    <div class="search-result-text">
                        <a href="/corporate/publications-and-reports/environment-corporate-and-planning" >
                            <h3>Environment, Corporate & Planning</h3>
                        </a>
                        <p>Agendas and minutes from all Environment, corporate & planning panel meetings</p>
                    </div>
                    <div class="search-tags">Planning and construction,Public,C,E,Committee and panel meetings,Environment</div>
                </li>
                
                <li class="search-results">
                    <div class="search-result-text">
                        <a href="/corporate/publications-and-reports/environment-reports" >
                            <h3>Environment reports</h3>
                        </a>
                        <p>Updates on our activities to make London's transport network greener</p>
                    </div>
                    <div class="search-tags">E,Environment,Regular reports,Special reports</div>
                </li>
                
                <li class="search-results">
                    <div class="search-result-text">
                        <a href="/corporate/publications-and-reports/equality-and-inclusion-publications" >
                            <h3>Equality & inclusion publications</h3>
                        </a>
                        <p>We are committed to improving transport in London by making it more accessible, safer and reliable</p>
                    </div>
                    <div class="search-tags">E,I,Accessible travel,Regular reports,Special reports,Assisted travel</div>
                </li>
                
                <li class="search-results">
                    <div class="search-result-text">
                        <a href="/corporate/publications-and-reports/expenditure-over-250" >
                            <h3>Expenditure</h3>
                        </a>
                        <p>We believe in being open about our costs. These reports list all expenditure of more than &pound;250 for TfL and more than &pound;500 for Crossrail</p>
                    </div>
                    <div class="search-tags">E,Corporate information,Finance,Regular reports,Transparency data </div>
                </li>
                
                <li class="search-results">
                    <div class="search-result-text">
                        <a href="/corporate/publications-and-reports/fares-and-ticketing" >
                            <h3>Fares & ticketing</h3>
                        </a>
                        <p>These reports focus on a range of aspects related to fares and ticketing</p>
                    </div>
                    <div class="search-tags">Boroughs,Businesses,Public,F,T,Customer Research Library,Special reports,Ticketing,Buses,DLR,Emirates Air Line,London Overground,River,Trams,Tube</div>
                </li>
                
                <li class="search-results">
                    <div class="search-result-text">
                        <a href="/corporate/publications-and-reports/finance-committee" >
                            <h3>Finance committee</h3>
                        </a>
                        <p>Agendas and minutes from all Finance committee meetings</p>
                    </div>
                    <div class="search-tags">Public,C,F,Committee and panel meetings,Finance,Policy,Regular reports</div>
                </li>
                
                <li class="search-results">
                    <div class="search-result-text">
                        <a href="/corporate/publications-and-reports/freight" >
                            <h3>Freight</h3>
                        </a>
                        <p>Guidance, data reports and case studies show how we work with the freight industry</p>
                    </div>
                    <div class="search-tags">Businesses,Drivers,Freight industry,Planning and construction,F,Freight,Low Emission Zone,Research,Deliveries,Driving</div>
                </li>
                
                <li class="search-results">
                    <div class="search-result-text">
                        <a href="/corporate/publications-and-reports/health-safety-and-environment" >
                            <h3>Health, safety & environment</h3>
                        </a>
                        <p>These reports provide annual updates on our health, safety and environmental performance</p>
                    </div>
                    <div class="search-tags">Public,H,Environment,Regular reports,Safety and security</div>
                </li>
                
                <li class="search-results">
                    <div class="search-result-text">
                        <a href="/corporate/publications-and-reports/high-speed-2" >
                            <h3>High Speed 2 (HS2)</h3>
                        </a>
                        <p>The high speed railway HS2, if approved, will link London, Birmingham, Leeds and Manchester and create space on the rail network that will help improve services</p>
                    </div>
                    <div class="search-tags">Planning and construction,Rail passengers,H,Consultation,Rail</div>
                </li>
                
                <li class="search-results">
                    <div class="search-result-text">
                        <a href="/corporate/publications-and-reports/invitations-to-tender" >
                            <h3>Invitations to tender</h3>
                        </a>
                        <p>List of all invitations to tender (ITT) since April 2014</p>
                    </div>
                    <div class="search-tags">Boroughs,Businesses,Media,Suppliers,I,Contract,Corporate information,Regular reports</div>
                </li>
                
                <li class="search-results">
                    <div class="search-result-text">
                        <a href="/corporate/publications-and-reports/lift-availability" >
                            <h3>Lift availability</h3>
                        </a>
                        <p>Lift availability on the Rail and Underground network in London</p>
                    </div>
                    <div class="search-tags">Passengers with accessibility needs,Public,Rail passengers,Tube passengers,Visitors,A,L,Accessible travel,Tube improvement,Assisted travel,Rail,Tube</div>
                </li>
                
                <li class="search-results">
                    <div class="search-result-text">
                        <a href="/corporate/publications-and-reports/local-highways-maintenance-funding" >
                            <h3>Local highways maintenance funding</h3>
                        </a>
                        <p>Local highways maintenance funding</p>
                    </div>
                    <div class="search-tags">L,Roads,</div>
                </li>
                
                <li class="search-results">
                    <div class="search-result-text">
                        <a href="/corporate/publications-and-reports/local-implementation-plans" >
                            <h3>Local Implementation Plans</h3>
                        </a>
                        <p>We work in partnership with the London boroughs, providing funding for a range of transport projects</p>
                    </div>
                    <div class="search-tags">Boroughs,L,Transparency data </div>
                </li>
                
                <li class="search-results">
                    <div class="search-result-text">
                        <a href="/corporate/publications-and-reports/london-road-user-charging-agreement" >
                            <h3>London Road User Charging Agreement</h3>
                        </a>
                        <p>The agreement for Capita Business Services Limited to provide Congestion Charging, London Low Emission Zone services and Traffic Enforcement was signed in 2015</p>
                    </div>
                    <div class="search-tags">Coach drivers,Drivers,Freight industry,L,R,Congestion Charge,Contract,Corporate information,Environment,Low Emission Zone,Coaches,Driving,Motorcycle,Taxis and minicabs</div>
                </li>
                
                <li class="search-results">
                    <div class="search-result-text">
                        <a href="/corporate/publications-and-reports/low-emission-zone" >
                            <h3>Low Emission Zone</h3>
                        </a>
                        <p>Consultation documents and reports related to the Low Emission Zone</p>
                    </div>
                    <div class="search-tags">Drivers,Freight industry,L,Low Emission Zone,Performance,Deliveries,Driving</div>
                </li>
                
                <li class="search-results">
                    <div class="search-result-text">
                        <a href="/corporate/publications-and-reports/maps-in-other-languages" >
                            <h3>Maps in other languages</h3>
                        </a>
                        <p>Maps in other languages</p>
                    </div>
                    <div class="search-tags">DLR passengers,Emirates Air Line passengers,London Overground passengers,Pedestrians,Public,Rail passengers,Tube passengers,M,Maps,DLR,Emirates Air Line,London Overground,Rail,Tube,DLR ,Map,TfL Rail ,Tube ,Tube Map </div>
                </li>
                
                <li class="search-results">
                    <div class="search-result-text">
                        <a href="/corporate/publications-and-reports/the-mayor-s-budget" >
                            <h3>The Mayor's budget</h3>
                        </a>
                        <p>Our initial submission is fed into the Mayor's budget consultation process</p>
                    </div>
                    <div class="search-tags">B,M,Finance</div>
                </li>
                
                <li class="search-results">
                    <div class="search-result-text">
                        <a href="/corporate/publications-and-reports/northern-line-extension" >
                            <h3>Northern line extension</h3>
                        </a>
                        <p>Our plans to extend the Northern line involve building two new stations at Nine Elms and Battersea Power Station</p>
                    </div>
                    <div class="search-tags">Engineers,Planning and construction,Tube passengers,N,Tube improvement,Tube</div>
                </li>
                
                <li class="search-results">
                    <div class="search-result-text">
                        <a href="/corporate/publications-and-reports/onroute-back-issues" >
                            <h3>OnRoute back issues</h3>
                        </a>
                        <p>OnRoute (TPH driver publication) back issues</p>
                    </div>
                    <div class="search-tags"></div>
                </li>
                
                <li class="search-results">
                    <div class="search-result-text">
                        <a href="/corporate/publications-and-reports/organisation-chart" >
                            <h3>Organisation charts</h3>
                        </a>
                        <p>See how we are organised and what budgets have been allocated in TfL and Crossrail </p>
                    </div>
                    <div class="search-tags">Media,Public,O,Corporate information,Transparency data </div>
                </li>
                
                <li class="search-results">
                    <div class="search-result-text">
                        <a href="/corporate/publications-and-reports/out-of-station-interchanges" >
                            <h3>Out-of-station interchanges</h3>
                        </a>
                        <p>Full list of Out-of-Station Interchanges and the maximum times allowed</p>
                    </div>
                    <div class="search-tags">DLR passengers,London Overground passengers,Tube passengers,O,DLR,London Overground,Rail,Tube</div>
                </li>
                
                <li class="search-results">
                    <div class="search-result-text">
                        <a href="/corporate/publications-and-reports/oyster-card" >
                            <h3>Oyster card</h3>
                        </a>
                        <p>Information on how many cards have been used, how much money is on Oyster cards, information on usage of the photocard schemes and sales of Oyster cards by different types of outlet</p>
                    </div>
                    <div class="search-tags">Bus passengers,DLR passengers,Emirates Air Line passengers,London Overground passengers,Media,Tram passengers,Tube passengers,O,Regular reports,Ticketing,Buses,DLR,Emirates Air Line,London Overground,Trams,Tube</div>
                </li>
                
                <li class="search-results">
                    <div class="search-result-text">
                        <a href="/corporate/publications-and-reports/procurement-information" >
                            <h3>Procurement information</h3>
                        </a>
                        <p>Our procurement processes and related policies (eg on sustainable sourcing) are explained in a series of PDFs  </p>
                    </div>
                    <div class="search-tags">Businesses,Media,Online developers,Suppliers,P,Contract,Corporate information,Policy,</div>
                </li>
                
                <li class="search-results">
                    <div class="search-result-text">
                        <a href="/corporate/publications-and-reports/programmes-and-investment-committee" >
                            <h3>Programmes & Investment committee</h3>
                        </a>
                        <p>Agendas and minutes from all Programmmes & Investment committee meetings</p>
                    </div>
                    <div class="search-tags">Public,C,I,P,Committee and panel meetings</div>
                </li>
                
                <li class="search-results">
                    <div class="search-result-text">
                        <a href="/corporate/publications-and-reports/projects-and-planning-panel" >
                            <h3>Projects & Planning panel</h3>
                        </a>
                        <p>Agendas and minutes from Projects & planning panel meetings (dissolved 2014)</p>
                    </div>
                    <div class="search-tags">Planning and construction,Public,C,P,Committee and panel meetings</div>
                </li>
                
                <li class="search-results">
                    <div class="search-result-text">
                        <a href="/corporate/publications-and-reports/publication-schedule" >
                            <h3>Publication schedule</h3>
                        </a>
                        <p>Includes publication dates for board papers, performance reports, financial reports and contracts.</p>
                    </div>
                    <div class="search-tags">P</div>
                </li>
                
                <li class="search-results">
                    <div class="search-result-text">
                        <a href="/corporate/publications-and-reports/purchase-orders-over-5-000" >
                            <h3>Purchase orders over &pound;5,000</h3>
                        </a>
                        <p>List of purchase orders over &pound;5,000</p>
                    </div>
                    <div class="search-tags">Boroughs,Businesses,Media,Suppliers,P,Corporate information,Finance,Regular reports</div>
                </li>
                
                <li class="search-results">
                    <div class="search-result-text">
                        <a href="/corporate/publications-and-reports/quarterly-progress-reports" >
                            <h3>Quarterly performance reports</h3>
                        </a>
                        <p>Quarterly performance reports to the Board on our operational and financial performance, and on the delivery and budget performance of our Investment Programme</p>
                    </div>
                    <div class="search-tags">Investors,Public,Q,Corporate information,Finance,Performance,Regular reports</div>
                </li>
                
                <li class="search-results">
                    <div class="search-result-text">
                        <a href="/corporate/publications-and-reports/rail-delivery-group-fares-consultation" >
                            <h3>Rail Delivery Group fares consultation</h3>
                        </a>
                        <p>This documents sets out TfL's response on the RDG fares consultation.</p>
                    </div>
                    <div class="search-tags"></div>
                </li>
                
                <li class="search-results">
                    <div class="search-result-text">
                        <a href="/corporate/publications-and-reports/red-routes" >
                            <h3>Red routes</h3>
                        </a>
                        <p>Publications and reports relating to the Capital's red routes</p>
                    </div>
                    <div class="search-tags">P,R,Transparency data </div>
                </li>
                
                <li class="search-results">
                    <div class="search-result-text">
                        <a href="/corporate/publications-and-reports/remuneration-committee" >
                            <h3>Remuneration committee</h3>
                        </a>
                        <p>The committee considers a range of pay and management-related issues, including Performance Awards and base salaries</p>
                    </div>
                    <div class="search-tags">Public,C,R,Committee and panel meetings,Corporate information,Finance</div>
                </li>
                
                <li class="search-results">
                    <div class="search-result-text">
                        <a href="/corporate/publications-and-reports/river-action-plan" >
                            <h3>River Action Plan</h3>
                        </a>
                        <p>The River Action Plan sets out the improvements that will be made to river services between now and 2020</p>
                    </div>
                    <div class="search-tags">Businesses,Freight industry,Planning and construction,River passengers,R,Deliveries,River</div>
                </li>
                
                <li class="search-results">
                    <div class="search-result-text">
                        <a href="/corporate/publications-and-reports/river-services-licence-expiry-dates" >
                            <h3>River Services licence expiry dates</h3>
                        </a>
                        <p>This document shows which companies are licensed to run cruise and taxi services on the Thames and when their licences expire</p>
                    </div>
                    <div class="search-tags">Public,River passengers,R,Contract,Corporate information,River</div>
                </li>
                
                <li class="search-results">
                    <div class="search-result-text">
                        <a href="/corporate/publications-and-reports/road-safety" >
                            <h3>Road safety</h3>
                        </a>
                        <p>Facts sheets, annual reports, research and more related to road safety - including the Road Safety Action Plan for London 2020 </p>
                    </div>
                    <div class="search-tags">Coach drivers,Cyclists,Drivers,Freight industry,Motorbikers,R,S,Performance,Research,Safety and security,Special reports,Coaches,Cycling,Deliveries,Driving,Motorcycle,Taxis and minicabs,Walking</div>
                </li>
                
                <li class="search-results">
                    <div class="search-result-text">
                        <a href="/corporate/publications-and-reports/road-space" >
                            <h3>Road space</h3>
                        </a>
                        <p>Reports into various aspects of road usage in the Capital</p>
                    </div>
                    <div class="search-tags">Boroughs,Bus operators,Bus passengers,Businesses,Coach drivers,Cyclists,Drivers,Freight industry,Pedestrians,Public,Taxi and private hire,Taxi passengers,R,Customer Research Library,Special reports,Buses,Coaches,Cycling,Deliveries,Driving,Motorcycle,Taxis and minicabs,Trams,Walking</div>
                </li>
                
                <li class="search-results">
                    <div class="search-result-text">
                        <a href="/corporate/publications-and-reports/roads-task-force" >
                            <h3>Roads Task Force</h3>
                        </a>
                        <p>The Roads Task Force (RTF) was set up by the Mayor of London in 2012 to tackle the challenges facing London's streets and roads</p>
                    </div>
                    <div class="search-tags">Boroughs,Businesses,Coach drivers,Cyclists,Drivers,Freight industry,Motorbikers,Pedestrians,Planning and construction,Taxi passengers,R,Policy,Roads,Special reports,Streetscape,Coaches,Cycling,Deliveries,Driving,Motorcycle,Taxis and minicabs,Walking</div>
                </li>
                
                <li class="search-results">
                    <div class="search-result-text">
                        <a href="/corporate/publications-and-reports/safety-and-security" >
                            <h3>Safety & security</h3>
                        </a>
                        <p>Reports covering a range of issues concerning safety and security on our network</p>
                    </div>
                    <div class="search-tags">Boroughs,Businesses,Public,S,Customer Research Library,Regular reports,Safety and security,Special reports</div>
                </li>
                
                <li class="search-results">
                    <div class="search-result-text">
                        <a href="/corporate/publications-and-reports/safety-sustainability-hr" >
                            <h3>Safety, Sustainability & HR panel</h3>
                        </a>
                        <p>This panel covers issues ranging from equalities and accessibility to TfL's approach to CO2</p>
                    </div>
                    <div class="search-tags">Planning and construction,Public,A,C,S,Committee and panel meetings,Environment,Policy,Safety and security</div>
                </li>
                
                <li class="search-results">
                    <div class="search-result-text">
                        <a href="/corporate/publications-and-reports/senior-staff" >
                            <h3>Senior staff </h3>
                        </a>
                        <p>We publish a brief job description and pay grade for senior staff at TfL and Crossrail</p>
                    </div>
                    <div class="search-tags">Media,Public,S,Corporate information,Transparency data </div>
                </li>
                
                <li class="search-results">
                    <div class="search-result-text">
                        <a href="/corporate/publications-and-reports/refunds" >
                            <h3>Service delay refund claims</h3>
                        </a>
                        <p>Figures for the types of refunds we give including for incomplete journeys, service delays and contactless payment </p>
                    </div>
                    <div class="search-tags">Bus passengers,DLR passengers,London Overground passengers,Public,Tube passengers,R,Finance</div>
                </li>
                
                <li class="search-results">
                    <div class="search-result-text">
                        <a href="/corporate/publications-and-reports/silvertown-tunnel-project-agreement" >
                            <h3>Silvertown Tunnel project agreement</h3>
                        </a>
                        <p>Contracts related to the Silvertown Tunnel project</p>
                    </div>
                    <div class="search-tags">Businesses,Planning and construction,Suppliers,S,Contract,Expenditure,Buses,Coaches,Cycling,Deliveries,Driving,Motorcycle,Taxis and minicabs</div>
                </li>
                
                <li class="search-results">
                    <div class="search-result-text">
                        <a href="/corporate/publications-and-reports/standing-orders" >
                            <h3>Standing orders</h3>
                        </a>
                        <p>These detail the decision-making structure and processes in TfL and its committees and panels; also included are terms and conditions for Board members</p>
                    </div>
                    <div class="search-tags">Media,Public,S,Corporate information</div>
                </li>
                
                <li class="search-results">
                    <div class="search-result-text">
                        <a href="/corporate/publications-and-reports/strategic-transport-and-land-use-models" >
                            <h3>Strategic transport models</h3>
                        </a>
                        <p>Planning for the future requires the use of a range of sources of information and analysis techniques, including the application of the strategic transport and land-use models developed by TfL Planning</p>
                    </div>
                    <div class="search-tags">,Boroughs,Planning and construction,S,Environment,Research</div>
                </li>
                
                <li class="search-results">
                    <div class="search-result-text">
                        <a href="/corporate/publications-and-reports/streets" >
                            <h3>Streets</h3>
                        </a>
                        <p>Details on key street works projects - covers issues such as traffic signals and one-way systems</p>
                    </div>
                    <div class="search-tags">Boroughs,Freight industry,Taxi and private hire,Taxi passengers,S,Special reports,Buses,Coaches,Cycling,Deliveries,Driving,Motorcycle,Taxis and minicabs,Walking</div>
                </li>
                
                <li class="search-results">
                    <div class="search-result-text">
                        <a href="/corporate/publications-and-reports/streets-performance" >
                            <h3>Streets performance</h3>
                        </a>
                        <p>For London Streets performance data including information on journey time, reliability, network disruption, traffic speeds and volumes, and customer satisfaction</p>
                    </div>
                    <div class="search-tags">Boroughs,Drivers,Freight industry,S,Performance,Deliveries,Driving</div>
                </li>
                
                <li class="search-results">
                    <div class="search-result-text">
                        <a href="/corporate/publications-and-reports/streets-toolkit" >
                            <h3>Streets toolkit</h3>
                        </a>
                        <p>Design guidance for streets and public spaces. Includes Streetscape Guidance, Accessible Bus Stop Design, London Cycling Design Standards and Kerbside Loading Guidance.</p>
                    </div>
                    <div class="search-tags">,Boroughs,Businesses,Designers,Engineers,Freight industry,Planning and construction,S,Accessible travel,Corporate information,Cycle Superhighways,Environment,Roads,Safety and security,Streetscape,Buses,Coaches,Cycling,Driving,Taxis and minicabs,Walking</div>
                </li>
                
                <li class="search-results">
                    <div class="search-result-text">
                        <a href="/corporate/publications-and-reports/sub-regional-transport-plans" >
                            <h3>Sub-regional transport plans</h3>
                        </a>
                        <p>Updates to the original 2010 plans outline what investment has taken place and what is required over the coming years to keep London moving.</p>
                    </div>
                    <div class="search-tags">Boroughs,S,Regular reports</div>
                </li>
                
                <li class="search-results">
                    <div class="search-result-text">
                        <a href="/corporate/publications-and-reports/taxi-and-private-hire" >
                            <h3>Taxi & private hire</h3>
                        </a>
                        <p>General information aimed at taxi and private hire drivers, owners and operators</p>
                    </div>
                    <div class="search-tags">Public,Taxi and private hire,P,T,Corporate information,Taxis and minicabs</div>
                </li>
                
                <li class="search-results">
                    <div class="search-result-text">
                        <a href="/corporate/publications-and-reports/temple-footbridge" >
                            <h3>Temple to South Bank footbridge</h3>
                        </a>
                        <p>The project was terminated by the Garden Bridge Trust in August 2017</p>
                    </div>
                    <div class="search-tags">Boroughs,Pedestrians,Planning and construction,Public,G,T,Lambeth,Westminster,Contract,Corporate information,Expenditure,River,Walking</div>
                </li>
                
                <li class="search-results">
                    <div class="search-result-text">
                        <a href="/corporate/publications-and-reports/ticket-system-performance" >
                            <h3>Ticket system performance</h3>
                        </a>
                        <p>Information about the availability of ticket machines, gates and yellow readers at the point of Travelcard and pay as you go purchase or at the point of travel</p>
                    </div>
                    <div class="search-tags">Bus passengers,DLR passengers,Public,Rail passengers,Tram passengers,Tube passengers,T,Performance,Ticketing,Buses,London Overground,Trams,Tube</div>
                </li>
                
                <li class="search-results">
                    <div class="search-result-text">
                        <a href="/corporate/publications-and-reports/town-centre-reports" >
                            <h3>Town centre reports</h3>
                        </a>
                        <p>Contributions made by bus users and other modes to the economic health and viability of town centres across London</p>
                    </div>
                    <div class="search-tags">Boroughs,Bus operators,Bus passengers,Businesses,Cyclists,DLR passengers,London Overground passengers,Planning and construction,Public,Rail passengers,Tube passengers,T</div>
                </li>
                
                <li class="search-results">
                    <div class="search-result-text">
                        <a href="/corporate/publications-and-reports/trade-union-facility-time" >
                            <h3>Trade union facility time</h3>
                        </a>
                        <p>Under the Transparency Code of Practice TfL is required to publish information on trade union facility time</p>
                    </div>
                    <div class="search-tags">Transparency data </div>
                </li>
                
                <li class="search-results">
                    <div class="search-result-text">
                        <a href="/corporate/publications-and-reports/travel-accessibility" >
                            <h3>Travel accessibility</h3>
                        </a>
                        <p>Feedback from disabled people using the TfL network</p>
                    </div>
                    <div class="search-tags">Public,A,T,Accessible travel,Customer Research Library,Special reports,Assisted travel,Buses,DLR,Emirates Air Line,London Overground,River,Taxis and minicabs,Trams,Tube</div>
                </li>
                
                <li class="search-results">
                    <div class="search-result-text">
                        <a href="/corporate/publications-and-reports/travel-experience" >
                            <h3>Travel experience</h3>
                        </a>
                        <p>Customer research on the travelling public's attitude to TfL and our reputation</p>
                    </div>
                    <div class="search-tags">Boroughs,Businesses,Public,T,Customer Research Library,Special reports</div>
                </li>
                
                <li class="search-results">
                    <div class="search-result-text">
                        <a href="/corporate/publications-and-reports/travel-in-london-reports" >
                            <h3>Travel in London reports</h3>
                        </a>
                        <p>Overview of progress on implementing the Mayor of London's transport - and other related - strategies</p>
                    </div>
                    <div class="search-tags">Boroughs,Bus operators,Bus passengers,Businesses,Coach drivers,Cyclists,Dial a Ride passengers,DLR passengers,Drivers,Emirates Air Line passengers,London Overground passengers,Motorbikers,Pedestrians,Public,River passengers,Taxi passengers,Tram passengers,Tube passengers,Visitors,T,Regular reports,Assisted travel,Buses,Coaches,Cycling,DLR,Driving,Emirates Air Line,London Overground,Motorcycle,Rail,Taxis and minicabs,Walking</div>
                </li>
                
                <li class="search-results">
                    <div class="search-result-text">
                        <a href="/corporate/publications-and-reports/tube-lines-pension-scheme-documents" >
                            <h3>Tube Lines Pension Scheme documents</h3>
                        </a>
                        <p>Pension details for Tube Lines employees</p>
                    </div>
                    <div class="search-tags"></div>
                </li>
                
                <li class="search-results">
                    <div class="search-result-text">
                        <a href="/corporate/publications-and-reports/ultra-low-emission-vehicle-research" >
                            <h3>Ultra Low Emission Vehicle research</h3>
                        </a>
                        <p>Our research will be used to shape the Ultra Low Emission Vehicle (ULEV) Delivery Plan and our strategy for the charging infrastructure in London.</p>
                    </div>
                    <div class="search-tags">Boroughs,Businesses,Drivers,Freight industry,Planning and construction,Taxi and private hire,E,U,Environment,Research,Deliveries,Driving,Taxis and minicabs</div>
                </li>
                
                <li class="search-results">
                    <div class="search-result-text">
                        <a href="/corporate/publications-and-reports/ultra-low-emission-zone" >
                            <h3>Ultra Low Emission Zone</h3>
                        </a>
                        <p>Consultation documents and reports related to the Ultra Low Emission Zone. </p>
                    </div>
                    <div class="search-tags">Bus operators,Drivers,Freight industry,U,Environment,Low Emission Zone,Roads,Deliveries,Driving</div>
                </li>
                
                <li class="search-results">
                    <div class="search-result-text">
                        <a href="/corporate/publications-and-reports/underground-safety-certificate" >
                            <h3>Underground Safety Certificate</h3>
                        </a>
                        <p>We have to apply to the Office of Rail Regulation (ORR) for certification and authorisation to operate trains, stations and infrastructure safely</p>
                    </div>
                    <div class="search-tags">Public,S,U,Corporate information,Safety and security,Tube</div>
                </li>
                
                <li class="search-results">
                    <div class="search-result-text">
                        <a href="/corporate/publications-and-reports/underground-services-performance" >
                            <h3>Underground services performance</h3>
                        </a>
                        <p>Performance figures showing how many people use the Tube, how trains are performing, etc. </p>
                    </div>
                    <div class="search-tags">Public,L,P,U,Performance,Tube</div>
                </li>
                
                <li class="search-results">
                    <div class="search-result-text">
                        <a href="/corporate/publications-and-reports/west-london-orbital" >
                            <h3>West London Orbital</h3>
                        </a>
                        <p>We're developing a proposal to create a new rail service in west London as part of the London Overground network</p>
                    </div>
                    <div class="search-tags">Boroughs,London Overground passengers,Planning and construction,W,Rail improvements,London Overground</div>
                </li>
                
                <li class="search-results">
                    <div class="search-result-text">
                        <a href="/corporate/publications-and-reports/wifi-data-collection" >
                            <h3>2016 pilot of Wi-Fi data collection</h3>
                        </a>
                        <p>2016 pilot of Wi-Fi data collection - a review of the TfL WiFi pilot data collection study that ran from November to December 2016</p>
                    </div>
                    <div class="search-tags">W,Research</div>
                </li>
                
                <li class="search-results">
                    <div class="search-result-text">
                        <a href="/corporate/publications-and-reports/working-timetables" >
                            <h3>Working Timetables (WTT)</h3>
                        </a>
                        <p>Working timetables are rail industry timetables. They show all movements on the Tube network including empty trains and those coming in and out of depots</p>
                    </div>
                    <div class="search-tags">T,W,Tube</div>
                </li>
                
                <li class="search-results">
                    <div class="search-result-text">
                        <a href="/corporate/publications-and-reports/2012-games-gifts-and-hospitality" >
                            <h3>2012 Games gifts and hospitality</h3>
                        </a>
                        <p>TfL staff declared offers of tickets to 2012 Games events and other hospitality and whether they were accepted or declined</p>
                    </div>
                    <div class="search-tags">Media,Public,G,T,Corporate information,Policy,Special reports</div>
                </li>
                
            </ul>
        </div>

         <div id="search-results-pagination">
            <div class="results-wrapper">
                <ul id="pagination-items">
                 
                </ul>
            </div>
        </div>


 
        </div>
        <div class="module-grid clearfix">
            
        </div>
    </div>
    <div class="aside" role="complementary">
        <div class="large" data-set="widget">
            <div class="moving-source-order">
            
            </div>
        </div>
        <div class="module-grid">
            












<div class="advert-tile unsponsored-style google-ads" aria-hidden="true">
  <div class="advert-link">
    <div class="advert-content">
        <div class="medium-large" data-advert="/76889402/non-targeted" data-advert-sizes="300, 250"></div>
        <div class="small" data-advert="/76889402/non-targeted" data-advert-sizes="300, 250"></div>
    </div>
  </div>
</div>
@{
    ViewBag.AmazonSlot = "'amznslots'";
    ViewBag.AmazonAds = "'3199'"; // to add another value, this needs to be ViewBag.AmazonAds = "'3199','xx'";
}
      

 
            <div class="news-teaser">

    <a href="/corporate/publications-and-reports/procurement-information?intcmp=3408" >
        
        
        <div class="text-link">
             <h2>Procurement information</h2>
            <p>Includes our Commercial Strategy -  the principles behind our commercial activities</p>
        </div>
    </a>
</div>
 
 <div class="news-teaser">

    <a href="/corporate/publications-and-reports/annual-report?intcmp=3020" >
        
        
        <div class="text-link">
             <h2>Annual Report</h2>
            <p>A summary of our improvements to London's transport network during the previous year </p>
        </div>
    </a>
</div>
 
 <div class="news-teaser">

    <a href="/corporate/publications-and-reports/health-safety-and-environment?intcmp=3077" >
        
        
        <div class="text-link">
             <h2>HSE policies and reports</h2>
            <p>Our commitments and reviews of our health, safety and environmental performance</p>
        </div>
    </a>
</div>
 
 <div class="news-teaser">

    <a href="/corporate/publications-and-reports/business-plan?intcmp=3023" >
        
        
        <div class="text-link">
             <h2>Budget and Business Plan</h2>
            <p>How we will implement the Mayor's Transport Strategy and provide the best value for London</p>
        </div>
    </a>
</div>
 
 
        </div>
    </div>
    <div class="small-medium" data-set="content">&nbsp;</div>
</div>
 
        
        
        
            @{ViewBag.Description = "We produce a range of reports on our business activities and corporate responsibilities. You can download these for personal or reference use ";}
        
            
        


 