
    
  



@{ViewBag.Title = "Local Implementation Plans";}
@{ViewBag.Keywords = "Boroughs,L,Transparency data ,TfL";}
@{ViewBag.Url = "/corporate/publications-and-reports/local-implementation-plans";}
@{ViewBag.Language = "en";}
        <!-- empty placeholder -->
 
        
        
<div class="r">
    <div class="breadcrumb-container" role="navigation">
        <span id="breadcrumb-label" class="visually-hidden">You are here:</span>
        <ol class="breadcrumbs clearfix" aria-labelledby="breadcrumb-label">
            <li class="home">
                <a href="/">
                    <span class="hide-text">Home</span>
                </a>
            </li>
            
                 <li><a href="/corporate/publications-and-reports/index">Publications & reports</a></li>
                
            
            
                <li><span class="last-breadcrumb">Local Implementation Plans</span></li>
            
        
 
        
 
        </ol>
    </div>
</div>
     
 
<div class="r">
  <div class="headline-container plain">
    <h1>Local Implementation Plans</h1>

  </div>
</div>
<div class="main-and-aside r">
  
  <div class="main content-container" role="main">
    
      <div class="article-teaser">
        We allocate money to the London boroughs to spend on projects that support the Mayor's Transport Strategy through a Local Implementation Plan.<BR>
        
      </div>
    
    
      <p>Find more information and guidance on the <a href="/info-for/boroughs/local-implementation-plans">LIPs page in Boroughs</a>.</p>
      
           
      
<div>



<h2>2018/19</h2>



<div class="multi-document-download-container">
    

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/lip3-guidance-for-borough-officers-preparing-lip3-2018.pdf">
    <div class="document-download-text">
        <p>Third LIPs development guidance for borough officers</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 1.95MB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 1.95 -->
 
</div>

</div>
 
<div>



<h2>2017/18</h2>



<div class="multi-document-download-container">
    

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/lip-guidance-17-18.pdf">
    <div class="document-download-text">
        <p>Interim LIP guidance 2017/18</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 306KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.30 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/2017-18-annual-spending-submission-and-programme-investment-form.pdf">
    <div class="document-download-text">
        <p>Interim LIP annual spending submission guidance 2017/18</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 106KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.10 -->
 
</div>

</div>
 
<div>



<h2>2016/17</h2>



<div class="multi-document-download-container">
    

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/lip-guidance-2016-17.pdf">
    <div class="document-download-text">
        <p>LIP annual spending submission guidance 2016/17</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 141KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.14 -->
 

<a class="document-download-wrap xlsx" href="/cdn/static/cms/documents/proforma-a-2016-17.xlsx">
    <div class="document-download-text">
        <p>LIP 2016/17 Annual spending submission and programme of investment form</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            XLSX 255KB
            
        </p>
    </div>
    <div class="document-download-icon download-spread">
    </div>

</a>

<!-- 0.25 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/lip-2016-17-annual-report-on-interventions-outputs.pdf">
    <div class="document-download-text">
        <p>LIP 2016/17 Annual report on interventions and outputs</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 26KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.03 -->
 
</div>

</div>
 
<div>



<h2>2014/15 to 2016/17</h2>



<div class="multi-document-download-container">
    

<a class="document-download-wrap xlsx" href="/cdn/static/cms/documents/pro-forma-c.xlsx">
    <div class="document-download-text">
        <p>LIP 2014/15 Annual report on interventions and outputs</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            XLSX 36KB
            
        </p>
    </div>
    <div class="document-download-icon download-spread">
    </div>

</a>

<!-- 0.04 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/lip-guidance-2014-2016.pdf">
    <div class="document-download-text">
        <p>LIP delivery plan and annual spending submission guidance 2014/15 to 2016/17 </p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 169KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.16 -->
 
</div>

</div>
 
<div>



<h2>2013/14</h2>



<div class="multi-document-download-container">
    

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/lip-guidance-2013-14.pdf">
    <div class="document-download-text">
        <p>LIP annual spending submission guidance 2013/14 </p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 74KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.07 -->
 
</div>

</div>
 
<div>



<h2>LIP funding allocations summaries</h2>



<div class="multi-document-download-container">
    

<a class="document-download-wrap xlsx" href="/cdn/static/cms/documents/2019-20-lip-allocations.xlsx">
    <div class="document-download-text">
        <p>LIP funding allocations summary 2019/20</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            XLSX 13KB
            
        </p>
    </div>
    <div class="document-download-icon download-spread">
    </div>

</a>

<!-- 0.01 -->
 

<a class="document-download-wrap xlsx" href="/cdn/static/cms/documents/2018-19-lip-allocations.xlsx">
    <div class="document-download-text">
        <p>LIP funding allocations summary 2018/19</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            XLSX 13KB
            
        </p>
    </div>
    <div class="document-download-icon download-spread">
    </div>

</a>

<!-- 0.01 -->
 

<a class="document-download-wrap xlsx" href="/cdn/static/cms/documents/2017-18-lip-allocations.xlsx">
    <div class="document-download-text">
        <p>LIP funding allocations summary 2017/18</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            XLSX 14KB
            
        </p>
    </div>
    <div class="document-download-icon download-spread">
    </div>

</a>

<!-- 0.01 -->
 

<a class="document-download-wrap xlsx" href="/cdn/static/cms/documents/2016-17-lip-allocations.xlsx">
    <div class="document-download-text">
        <p>LIP funding allocations summary 2016/17</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            XLSX 14KB
            
        </p>
    </div>
    <div class="document-download-icon download-spread">
    </div>

</a>

<!-- 0.01 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/2015-16-lip-funding-allocations-summary.pdf">
    <div class="document-download-text">
        <p>LIP funding allocations summary 2015/16</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 40KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.04 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/lip-funding-allocations-summary-2012-13.pdf">
    <div class="document-download-text">
        <p>LIP funding allocations summary 2012/13</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 31KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.03 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/lip-funding-allocations-summary-2011-12.pdf">
    <div class="document-download-text">
        <p>LIP funding allocations summary 2011/12</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 39KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.04 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/lip-allocations-summary-2009-10.pdf">
    <div class="document-download-text">
        <p>LIP funding allocations summary 2009/10</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 20KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.02 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/lip-funding-allocations-summary-2008-09.pdf">
    <div class="document-download-text">
        <p>LIP funding allocations summary 2008/09</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 24KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.02 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/lip-allocation-table-2007-08.pdf">
    <div class="document-download-text">
        <p>LIP funding allocations summary 2007/08</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 129KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.13 -->
 
</div>

</div>
 
<div>



<h2>Borough Spending Plans</h2>



        <p>Summary of funding allocated to London Local Authorities. </p>
    
<div class="multi-document-download-container">
    

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/bsp-allocations-summary-2006-07.pdf">
    <div class="document-download-text">
        <p>BSP allocations summary 2006/07</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 68KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.07 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/boroughs-allocations-2005-06.pdf">
    <div class="document-download-text">
        <p>BSP allocations summary 2005/06</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 61KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.06 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/borough-funding-table2.pdf">
    <div class="document-download-text">
        <p>BSP allocations summary 2004/05</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 18KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.02 -->
 
</div>

</div>
 
      
        
          
        
      
    
  </div>
  <div class="aside" role="complementary">

   
    
    
    
      <div data-set="sidenav-container" class="large">
        
        
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
      </div>
    
    <div>
















<div class="advert-tile unsponsored-style google-ads" aria-hidden="true">
  <div class="advert-link">
    <div class="advert-content">
        <div class="medium-large" data-advert="/76889402/non-targeted" data-advert-sizes="300, 250"></div>
        <div class="small" data-advert="/76889402/non-targeted" data-advert-sizes="300, 250"></div>
    </div>
  </div>
</div>
@{
    ViewBag.AmazonSlot = "'amznslots'";
    ViewBag.AmazonAds = "'3199'"; // to add another value, this needs to be ViewBag.AmazonAds = "'3199','xx'";
}
      

 </div>
    
      <div class="module-grid clearfix">
                    
        <div class="related-links">

    <h3>Also on this site</h3>

<div class="vertical-button-container">

<a href="/info-for/boroughs/index" class="plain-button">Boroughs</a>
<a href="/info-for/boroughs/local-implementation-plans" class="plain-button">LIPs guidance</a>
    </div>
</div>
 
      </div>
    
    <div data-set="sidenav-container" class="small-medium"></div>
  </div>
</div>
 
 
        
        
        
            @{ViewBag.Description = "We work in partnership with the London boroughs, providing funding for a range of transport projects";}
        
            
        


 