
    
  



@{ViewBag.Title = "London Road User Charging Agreement";}
@{ViewBag.Keywords = "Coach drivers,Drivers,Freight industry,L,R,Congestion Charge,Contract,Corporate information,Environment,Low Emission Zone,Coaches,Driving,Motorcycle,Taxis and minicabs,TfL";}
@{ViewBag.Url = "/corporate/publications-and-reports/london-road-user-charging-agreement";}
@{ViewBag.Language = "en";}
        <!-- empty placeholder -->
 
        
        
<div class="r">
    <div class="breadcrumb-container" role="navigation">
        <span id="breadcrumb-label" class="visually-hidden">You are here:</span>
        <ol class="breadcrumbs clearfix" aria-labelledby="breadcrumb-label">
            <li class="home">
                <a href="/">
                    <span class="hide-text">Home</span>
                </a>
            </li>
            
                 <li><a href="/corporate/publications-and-reports/index">Publications & reports</a></li>
                
            
            
                <li><span class="last-breadcrumb">London Road User Charging Agreement</span></li>
            
        
 
        
 
        </ol>
    </div>
</div>
     
 
<div class="r">
  <div class="headline-container plain">
    <h1>London Road User Charging Agreement</h1>

  </div>
</div>
<div class="main-and-aside r">
  
  <div class="main content-container" role="main">
    
      <div class="article-teaser">
        On 1 November 2015 the Agreement began for Capita Business Services Limited to provide Congestion Charging, London Low Emission Zone services and Traffic Enforcement. This followed expiry of the London Road User Charging Agreement with IBM.
        
      </div>
    
    
      <p>This Agreement comprises of two parts: the Business Operations Agreement and Enforcement Operations Agreement.</p>

<p>These contractual documents have had part, or all, of their content redacted for reasons of data protection or commercial confidentiality (for example, names of staff members, address details and amounts of contractual payments).</p>
      
           
      
<div>



<h2>Business Operations Agreement 2014</h2>



<div class="multi-document-download-container">
    

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/bops-services-agreement-redacted.pdf">
    <div class="document-download-text">
        <p>Business Operations Service Agreement - redacted</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 369KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.36 -->
 
</div>

</div>
 <div class="accordion">




<div class="expandable-box">




        <div class="content">
            <div class="always-visible" role="button" aria-controls="schedules-1-10-content" aria-expanded="false" tabindex="0">
                <div class="controls" data-tracking="prop36" data-tracking-value="London Road User Charging Agreement-Schedules 1-10"><span class="visually-hidden">Toggle accordion</span></div>
                <div id="schedules-1-10-heading" class="accordion-heading">Schedules 1-10</div>
            </div>
            <div id="schedules-1-10-content" class="start-hidden" role="region" aria-labelledby="schedules-1-10-heading">


<div>





<div class="multi-document-download-container">
    

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/bops-schedule1-definitions-redacted.pdf">
    <div class="document-download-text">
        <p>Schedule 1 - Definitions - redacted</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 267KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.26 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/bops-schedule3-milestones-and-deliverables-redacted.pdf">
    <div class="document-download-text">
        <p>Schedule 3 - Milestones and deliverables - redacted</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 87KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.09 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/bops-schedule4-testing-regime-redacted.pdf">
    <div class="document-download-text">
        <p>Schedule 4 - Testing regime - redacted</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 61KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.06 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/bops-schedule5-service-level-agreement-redacted.pdf">
    <div class="document-download-text">
        <p>Schedule 5 - Service level agreement - redacted</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 112KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.11 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/bops-schedule6-termination-compensation-redacted.pdf">
    <div class="document-download-text">
        <p>Schedule 6 - Termination compensation - redacted</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 23KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.02 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/bops-schedule-7-charging-and-operational-pricing-redacted.pdf">
    <div class="document-download-text">
        <p>Schedule 7 - Charging and operational pricing - redacted</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 201KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.20 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/bops-schedule9-change-control-request-procedure-redacted.pdf">
    <div class="document-download-text">
        <p>Schedule 9 - Change control request procedure - redacted</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 76KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.07 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/bops-schedule10-contract-management-and-reporting-redacted.pdf">
    <div class="document-download-text">
        <p>Schedule 10 - Contract management and reporting - redacted</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 46KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.05 -->
 
</div>

</div>
 
            </div>
        </div>
    </div>
 <div class="expandable-box">




        <div class="content">
            <div class="always-visible" role="button" aria-controls="schedule-2-content" aria-expanded="false" tabindex="0">
                <div class="controls" data-tracking="prop36" data-tracking-value="London Road User Charging Agreement-Schedule 2"><span class="visually-hidden">Toggle accordion</span></div>
                <div id="schedule-2-heading" class="accordion-heading">Schedule 2</div>
            </div>
            <div id="schedule-2-content" class="start-hidden" role="region" aria-labelledby="schedule-2-heading">


<div>





<div class="multi-document-download-container">
    

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/bops-schedule2-cover-page-redacted.pdf">
    <div class="document-download-text">
        <p>Schedule 2 - Contents</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 10KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.01 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/bops-schedule2-statement-of-requirements.pdf">
    <div class="document-download-text">
        <p>Statement of requirements - redacted</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 501KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.49 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/bops-schedule2-general.pdf">
    <div class="document-download-text">
        <p>General - redacted</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 271KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.26 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/bops-schedule2-finance.pdf">
    <div class="document-download-text">
        <p>Finance - redacted</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 116KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.11 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/bops-schedule2-interoperability.pdf">
    <div class="document-download-text">
        <p>Interoperability - redacted</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 74KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.07 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/bops-schedule2-mis.pdf">
    <div class="document-download-text">
        <p>Management Information System - redacted</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 66KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.06 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/bops-schedule2-appendix1-payments-and-transaction.pdf">
    <div class="document-download-text">
        <p>Appendix 1 - Payments and transaction - redacted</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 49KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.05 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/bops-schedule2-appendix2-customer-account.pdf">
    <div class="document-download-text">
        <p>Appendix 2 - Customer account - redacted</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 129KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.13 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/bops-schedule2-appendix3-volumetrics.pdf">
    <div class="document-download-text">
        <p>Appendix 3 - Volumetrics - redacted</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 78KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.08 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/bops-schedule2-appendix3a-volumetrics.pdf">
    <div class="document-download-text">
        <p>Appendix 3a - Volumetrics - redacted</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 102KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.10 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/bops-schedule2-appendix4-data-input-and-output.pdf">
    <div class="document-download-text">
        <p>Appendix 4 - Data input and output - redacted</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 71KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.07 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/bops-schedule2-appendix5-operational-guidance.pdf">
    <div class="document-download-text">
        <p>Appendix 5 - Operational guidance - redacted</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 42KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.04 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/bops-schedule2-appendix6-key-data-fields.pdf">
    <div class="document-download-text">
        <p>Appendix 6 - Key data fields - redacted</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 51KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.05 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/bops-schedule2-appendix7-key-process-flows.pdf">
    <div class="document-download-text">
        <p>Appendix 7 - Key process flows - redacted</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 120KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.12 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/bops-schedule2-appendix8-finance-best-practice.pdf">
    <div class="document-download-text">
        <p>Appendix 8 - Finance best practice - redacted</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 16.59MB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 16.59 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/bops-schedule2-appendix9-iip-standard.pdf">
    <div class="document-download-text">
        <p>Appendix 9 - IIP standard - redacted</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 3.08MB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 3.08 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/bops-schedule2-appendix10-info-governance-process.pdf">
    <div class="document-download-text">
        <p>Appendix 10 - Information governance processes - redacted</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 138KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.14 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/bops-schedule2-appendix11-data-retention.pdf">
    <div class="document-download-text">
        <p>Appendix 11 - Data retention - redacted</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 70KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.07 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/bops-schedule2-appendix14-mis-data-requirements.pdf">
    <div class="document-download-text">
        <p>Appendix 14 - MIS data requirements - redacted</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 151KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.15 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/bops-schedule2-appendix15-web-interactions.pdf">
    <div class="document-download-text">
        <p>Appendix 15 - Web interactions - redacted</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 59KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.06 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/bops-schedule2-appendix16-handling-evidence.pdf">
    <div class="document-download-text">
        <p>Appendix 16 - Handling evidence - redacted </p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 472KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.46 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/bops-schedule2-appendix18-secure-handling.pdf">
    <div class="document-download-text">
        <p>Appendix 18 - Secure handling - redacted</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 89KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.09 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/bops-schedule2-appendix19-evidential-record.pdf">
    <div class="document-download-text">
        <p>Appendix 19 - Evidential record - redacted</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 348KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.34 -->
 
</div>

</div>
 
            </div>
        </div>
    </div>
 <div class="expandable-box">




        <div class="content">
            <div class="always-visible" role="button" aria-controls="schedules-11-20-content" aria-expanded="false" tabindex="0">
                <div class="controls" data-tracking="prop36" data-tracking-value="London Road User Charging Agreement-Schedules 11-20"><span class="visually-hidden">Toggle accordion</span></div>
                <div id="schedules-11-20-heading" class="accordion-heading">Schedules 11-20</div>
            </div>
            <div id="schedules-11-20-content" class="start-hidden" role="region" aria-labelledby="schedules-11-20-heading">


<div>





<div class="multi-document-download-container">
    

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/bops-schedule11-employees-and-key-personnel-redacted.pdf">
    <div class="document-download-text">
        <p>Schedule 11 - Employees and key personnel - redacted</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 45KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.04 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/bops-schedule12-asset-management-redacted.pdf">
    <div class="document-download-text">
        <p>Schedule 12 - Asset management - redacted</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 14KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.01 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/bops-schedule13-service-provider-confidential-information-redacted.pdf">
    <div class="document-download-text">
        <p>Schedule 13 - Service provider confidential information - redacted</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 11KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.01 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/bops-schedule14-security-redacted.pdf">
    <div class="document-download-text">
        <p>Schedule 14 - Security - redacted</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 35KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.03 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/bops-schedule15-data-descriptions-redacted.pdf">
    <div class="document-download-text">
        <p>Schedule 15 - Data descriptions - redacted</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 11KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.01 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/bops-schedule16-exit-plan-redacted.pdf">
    <div class="document-download-text">
        <p>Schedule 16 - Exit plan - redacted</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 105KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.10 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/bops-schedule17-agreed-form-of-guarantee-redacted.pdf">
    <div class="document-download-text">
        <p>Schedule 17 - Agreed Form of Guarantee - redacted</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 131KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.13 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/bops-schedule18-premises-redacted.pdf">
    <div class="document-download-text">
        <p>Schedule 18 - Premises - redacted</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 19KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.02 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/bops-schedule19-deed-of-confidentiality-redacted.pdf">
    <div class="document-download-text">
        <p>Schedule 19 - Deed of Confidentiality - redacted</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 26KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.03 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/bops-schedule20-management-services-redacted.pdf">
    <div class="document-download-text">
        <p>Schedule 20 - Management services - redacted</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 8KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.01 -->
 
</div>

</div>
 
            </div>
        </div>
    </div>
 <div class="expandable-box">




        <div class="content">
            <div class="always-visible" role="button" aria-controls="schedules-21-30-content" aria-expanded="false" tabindex="0">
                <div class="controls" data-tracking="prop36" data-tracking-value="London Road User Charging Agreement-Schedules 21-30"><span class="visually-hidden">Toggle accordion</span></div>
                <div id="schedules-21-30-heading" class="accordion-heading">Schedules 21-30</div>
            </div>
            <div id="schedules-21-30-content" class="start-hidden" role="region" aria-labelledby="schedules-21-30-heading">


<div>





<div class="multi-document-download-container">
    

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/bops-schedule21-dispute-resolution-procedure-redacted.pdf">
    <div class="document-download-text">
        <p>Schedule 21 - Dispute resolution procedure - redacted</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 31KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.03 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/bops-schedule22-collateral-deed-redacted.pdf">
    <div class="document-download-text">
        <p>Schedule 22 - Collateral Deed - redacted</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 72KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.07 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/bops-schedule23-gainsharing-redacted.pdf">
    <div class="document-download-text">
        <p>Schedule 23 - Gainsharing - redacted</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 32KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.03 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/bops-schedule24-responsible-procurement-redacted.pdf">
    <div class="document-download-text">
        <p>Schedule 24 - Responsible Procurement - redacted</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 53KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.05 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/bops-schedule25-business-continuity-redacted.pdf">
    <div class="document-download-text">
        <p>Schedule 25 - Business continuity - redacted</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 29KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.03 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/bops-schedule-26-key-subcontractors-redacted.pdf">
    <div class="document-download-text">
        <p>Schedule 26 - Key subcontractors - redacted</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 14KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.01 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/bops-schedule27-deed-of-novation-redacted.pdf">
    <div class="document-download-text">
        <p>Schedule 27 - Deed of Novation - redacted</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 60KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.06 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/bops-schedule30-open-book-template-redacted.pdf">
    <div class="document-download-text">
        <p>Schedule 30 - Open book template - redacted</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 18KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.02 -->
 
</div>

</div>
 
            </div>
        </div>
    </div>
 <div class="expandable-box">




        <div class="content">
            <div class="always-visible" role="button" aria-controls="schedule-28-content" aria-expanded="false" tabindex="0">
                <div class="controls" data-tracking="prop36" data-tracking-value="London Road User Charging Agreement-Schedule 28"><span class="visually-hidden">Toggle accordion</span></div>
                <div id="schedule-28-heading" class="accordion-heading">Schedule 28</div>
            </div>
            <div id="schedule-28-content" class="start-hidden" role="region" aria-labelledby="schedule-28-heading">


<div>





<div class="multi-document-download-container">
    

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/bops-schedule-28-service-providers-solution-redacted.pdf">
    <div class="document-download-text">
        <p>Schedule 28 - Contents</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 28KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.03 -->
 
</div>

</div>
 
            </div>
        </div>
    </div>
 <div class="expandable-box">




        <div class="content">
            <div class="always-visible" role="button" aria-controls="schedules-from-31-content" aria-expanded="false" tabindex="0">
                <div class="controls" data-tracking="prop36" data-tracking-value="London Road User Charging Agreement-Schedules from 31"><span class="visually-hidden">Toggle accordion</span></div>
                <div id="schedules-from-31-heading" class="accordion-heading">Schedules from 31</div>
            </div>
            <div id="schedules-from-31-content" class="start-hidden" role="region" aria-labelledby="schedules-from-31-heading">


<div>





<div class="multi-document-download-container">
    

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/bops-schedule32-revenue-collection-and-payment-redacted.pdf">
    <div class="document-download-text">
        <p>Schedule 32 - Revenue collection and payment - redacted</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 59KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.06 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/bops-schedule33-additional-services-redacted.pdf">
    <div class="document-download-text">
        <p>Schedule 33 - Additional services - redacted</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 7KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.01 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/bops-schedule34-tfl-policies-cover-page-redacted.pdf">
    <div class="document-download-text">
        <p>Schedule 34 - TfL policies: contents - redacted</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 7KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.01 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/bops-schedule36-value-for-money-review-redacted.pdf">
    <div class="document-download-text">
        <p>Schedule 36 - Value for money review - redacted</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 16KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.02 -->
 
</div>

</div>
 
            </div>
        </div>
    </div>
 
</div>
 
<div>



<h2>Enforcement Operations Agreement 2014</h2>



<div class="multi-document-download-container">
    

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/eops-services-agreement-redacted.pdf">
    <div class="document-download-text">
        <p>Enforcement Operations Services Agreement - redacted</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 373KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.36 -->
 
</div>

</div>
 <div class="accordion">




<div class="expandable-box">




        <div class="content">
            <div class="always-visible" role="button" aria-controls="schedules-1-10-content" aria-expanded="false" tabindex="0">
                <div class="controls" data-tracking="prop36" data-tracking-value="London Road User Charging Agreement-Schedules 1-10"><span class="visually-hidden">Toggle accordion</span></div>
                <div id="schedules-1-10-heading" class="accordion-heading">Schedules 1-10</div>
            </div>
            <div id="schedules-1-10-content" class="start-hidden" role="region" aria-labelledby="schedules-1-10-heading">


<div>





<div class="multi-document-download-container">
    

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/eops-schedule1-definitions-redacted.pdf">
    <div class="document-download-text">
        <p>Schedule 1 - Definitions - redacted</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 263KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.26 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/eops-schedule3-milestones-and-deliverables-redacted.pdf">
    <div class="document-download-text">
        <p>Schedule 3 - Milestones and deliverables - redacted</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 96KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.09 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/eops-schedule4-testing-regime-redacted.pdf">
    <div class="document-download-text">
        <p>Schedule 4 - Testing regime - redacted</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 60KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.06 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/eops-schedule5-service-level-agreement-redacted.pdf">
    <div class="document-download-text">
        <p>Schedule 5 - Service level agreement - redacted</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 103KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.10 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/eops-schedule6-termination-compensation-redacted.pdf">
    <div class="document-download-text">
        <p>Schedule 6 - Termination compensation - redacted</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 23KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.02 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/eops-schedule-7-charging-and-operational-pricing-redacted.pdf">
    <div class="document-download-text">
        <p>Schedule 7 - Charging and operational pricing - redacted</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 202KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.20 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/eops-schedule9-change-control-request-procedure-redacted.pdf">
    <div class="document-download-text">
        <p>Schedule 9 - Change control request procedure - redacted</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 76KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.07 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/eops-schedule10-contract-management-and-reporting-redacted.pdf">
    <div class="document-download-text">
        <p>Schedule 10 - Contract management and reporting - redacted</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 46KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.04 -->
 
</div>

</div>
 
            </div>
        </div>
    </div>
 <div class="expandable-box">




        <div class="content">
            <div class="always-visible" role="button" aria-controls="schedule-2-content" aria-expanded="false" tabindex="0">
                <div class="controls" data-tracking="prop36" data-tracking-value="London Road User Charging Agreement-Schedule 2"><span class="visually-hidden">Toggle accordion</span></div>
                <div id="schedule-2-heading" class="accordion-heading">Schedule 2</div>
            </div>
            <div id="schedule-2-content" class="start-hidden" role="region" aria-labelledby="schedule-2-heading">


<div>





<div class="multi-document-download-container">
    

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/eops-schedule2-cover-page-redacted.pdf">
    <div class="document-download-text">
        <p>Schedule 2 - Contents</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 15KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.02 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/eops-schedule2-general.pdf">
    <div class="document-download-text">
        <p>General - redacted</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 255KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.25 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/eops-schedule2-finance.pdf">
    <div class="document-download-text">
        <p>Finance - redacted</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 119KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.12 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/eops-schedule2-interoperability.pdf">
    <div class="document-download-text">
        <p>Interoperability - redacted</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 78KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.08 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/eops-schedule2-mis.pdf">
    <div class="document-download-text">
        <p>Management Information System - redacted</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 69KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.07 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/eops-schedule2-enforcement-operations.pdf">
    <div class="document-download-text">
        <p>Enforcement Operations - redacted</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 287KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.28 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/eops-schedule2-appendix1-notice-types.pdf">
    <div class="document-download-text">
        <p>Appendix 1 - Notice types and progression - redacted</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 576KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.56 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/eops-schedule2-appendix2-notice-templates.pdf">
    <div class="document-download-text">
        <p>Appendix 2 - Notice templates and the Merge field guide - redacted</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 3.48MB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 3.48 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/eops-schedule2-appendix3-penalty-charge-notice.pdf">
    <div class="document-download-text">
        <p>Appendix 3 - Penalty Charge Notice insert - redacted</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 124KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.12 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/eops-schedule2-appendix4-warning-notice.pdf">
    <div class="document-download-text">
        <p>Appendix 4 - Warning notices - redacted</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 418KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.41 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/eops-schedule2-appendix5-legislation-guidance.pdf">
    <div class="document-download-text">
        <p>Appendix 5 - Legislation guidance - redacted</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 828KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.81 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/eops-schedule2-appendix6-mis-data-requirements.pdf">
    <div class="document-download-text">
        <p>Appendix 6 - MIS data requirements overview - redacted</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 115KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.11 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/eops-schedule2-appendix7-contravention-matrix.pdf">
    <div class="document-download-text">
        <p>Appendix 7 - Contravention matrix - redacted</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 126KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.12 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/eops-schedule2-appendix8-traffic-enforcement-centre.pdf">
    <div class="document-download-text">
        <p>Appendix 8 - Traffic Enforcement Centre code of practice and guidance - redacted</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 849KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.83 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/eops-schedule2-appendix9-tfl-business-rules.pdf">
    <div class="document-download-text">
        <p>Appendix 9 - TfL business rules - redacted</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 821KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.80 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/eops-schedule2-appendix10-evidential-record-template.pdf">
    <div class="document-download-text">
        <p>Appendix 10 - Evidential record template - redacted</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 347KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.34 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/eops-schedule2-appendix11-london-council.pdf">
    <div class="document-download-text">
        <p>Appendix 11 - London council contravention code list and description - redacted</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 160KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.16 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/eops-schedule2-appendix12-responses-to-driver.pdf">
    <div class="document-download-text">
        <p>Appendix 12 - Responses to driver and DVLA enquiries - redacted</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 45KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.04 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/eops-schedule2-appendix13-finance-best-practice.pdf">
    <div class="document-download-text">
        <p>Appendix 13 - Finance best practice - redacted</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 14.66MB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 14.66 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/eops-schedule2-appendix14-penalty-charge.pdf">
    <div class="document-download-text">
        <p>Appendix 14 - Penalty charge write off policy - redacted</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 40KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.04 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/eops-schedule2-appendix15-appeal-pack.pdf">
    <div class="document-download-text">
        <p>Appendix 15 - Appeal pack - redacted</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 7.63MB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 7.63 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/eops-schedule2-appendix16-patas-appeal-form.pdf">
    <div class="document-download-text">
        <p>Appendix 16 - PATAS appeal form - redacted</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 5.42MB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 5.42 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/eops-schedule2-appendix17-dispensation-pack.pdf">
    <div class="document-download-text">
        <p>Appendix 17 - Dispensation pack - redacted</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 803KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.78 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/eops-schedule2-appendix18-reason-codes.pdf">
    <div class="document-download-text">
        <p>Appendix 18 - Reason codes - redacted</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 24KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.02 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/eops-schedule2-appendix19-refund-policy.pdf">
    <div class="document-download-text">
        <p>Appendix 19 - Refund policy - redacted</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 42KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.04 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/eops-schedule2-appendix20-outgoing-correspondence.pdf">
    <div class="document-download-text">
        <p>Appendix 20 - Outgoing correspondence - redacted</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 874KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.85 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/eops-schedule2-appendix21-returned-mail-handling.pdf">
    <div class="document-download-text">
        <p>Appendix 21 - Returned mail handling - redacted</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 98KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.10 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/eops-schedule2-appendix22-challenge-pack.pdf">
    <div class="document-download-text">
        <p>Appendix 22 - Challenge pack - redacted</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 170KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.17 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/eops-schedule2-appendix24-data-retention.pdf">
    <div class="document-download-text">
        <p>Appendix 24 - Data retention - redacted</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 67KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.07 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/eops-schedule2-appendix25-enforcement-volumes.pdf">
    <div class="document-download-text">
        <p>Appendix 25 - Enforcement volumes - redacted</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 79KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.08 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/eops-schedule2-appendix25a-enforcement-volumes.pdf">
    <div class="document-download-text">
        <p>Appendix 25a - Enforcement volumes - redacted</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 75KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.07 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/eops-schedule2-appendix26-failover-thresholds.pdf">
    <div class="document-download-text">
        <p>Appendix 26 - Failover thresholds - redacted</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 35KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.03 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/eops-schedule2-appendix27-iip-standards.pdf">
    <div class="document-download-text">
        <p>Appendix 27 - IIP standards - redacted</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 2.95MB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 2.95 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/eops-schedule2-appendix28-information-governance.pdf">
    <div class="document-download-text">
        <p>Appendix 28 - Information governance - redacted</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 76KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.07 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/eops-schedule2-appendix30-manual-dvla-enquiries.pdf">
    <div class="document-download-text">
        <p>Appendix 30 - Manual DVLA enquiries - redacted</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 974KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.95 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/eops-schedule2-appendix31-handling-evidence.pdf">
    <div class="document-download-text">
        <p>Appendix 31 - Handling evidence - redacted</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 675KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.66 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/eops-schedule2-appendix32-elise-cug-code.pdf">
    <div class="document-download-text">
        <p>Appendix 32 - Elise CUG Code - redacted</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 128KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.12 -->
 
</div>

</div>
 
            </div>
        </div>
    </div>
 <div class="expandable-box">




        <div class="content">
            <div class="always-visible" role="button" aria-controls="schedules-11-20-content" aria-expanded="false" tabindex="0">
                <div class="controls" data-tracking="prop36" data-tracking-value="London Road User Charging Agreement-Schedules 11-20"><span class="visually-hidden">Toggle accordion</span></div>
                <div id="schedules-11-20-heading" class="accordion-heading">Schedules 11-20</div>
            </div>
            <div id="schedules-11-20-content" class="start-hidden" role="region" aria-labelledby="schedules-11-20-heading">


<div>





<div class="multi-document-download-container">
    

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/eops-schedule11-employees-and-key-personnel-redacted.pdf">
    <div class="document-download-text">
        <p>Schedule 11 - Employees and key personnel - redacted</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 45KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.04 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/eops-schedule12-asset-management-redacted.pdf">
    <div class="document-download-text">
        <p>Schedule 12 - Asset management - redacted</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 14KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.01 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/eops-schedule13-service-provider-confidential-information-redacted.pdf">
    <div class="document-download-text">
        <p>Schedule 13 - Service provider confidential information - redacted</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 11KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.01 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/eops-schedule14-security-redacted.pdf">
    <div class="document-download-text">
        <p>Schedule 14 - Security - redacted</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 35KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.03 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/eops-schedule15-data-descriptions-redacted.pdf">
    <div class="document-download-text">
        <p>Schedule 15 - Data descriptions - redacted</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 11KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.01 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/eops-schedule16-exit-plan-redacted.pdf">
    <div class="document-download-text">
        <p>Schedule 16 - Exit plan - redacted</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 101KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.10 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/eops-schedule17-agreed-form-of-guarantee-redacted.pdf">
    <div class="document-download-text">
        <p>Schedule 17 - Agreed Form of Guarantee - redacted</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 132KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.13 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/eops-schedule18-premises-redacted.pdf">
    <div class="document-download-text">
        <p>Schedule 18 - Premises - redacted</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 19KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.02 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/eops-schedule19-deed-of-confidentiality-redacted.pdf">
    <div class="document-download-text">
        <p>Schedule 19 - Deed of Confidentiality - redacted</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 23KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.02 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/eops-schedule20-management-services-redacted.pdf">
    <div class="document-download-text">
        <p>Schedule 20 - Management services - redacted</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 8KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.01 -->
 
</div>

</div>
 
            </div>
        </div>
    </div>
 <div class="expandable-box">




        <div class="content">
            <div class="always-visible" role="button" aria-controls="schedules-21-30-content" aria-expanded="false" tabindex="0">
                <div class="controls" data-tracking="prop36" data-tracking-value="London Road User Charging Agreement-Schedules 21-30"><span class="visually-hidden">Toggle accordion</span></div>
                <div id="schedules-21-30-heading" class="accordion-heading">Schedules 21-30</div>
            </div>
            <div id="schedules-21-30-content" class="start-hidden" role="region" aria-labelledby="schedules-21-30-heading">


<div>





<div class="multi-document-download-container">
    

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/eops-schedule21-dispute-resolution-redacted.pdf">
    <div class="document-download-text">
        <p>Schedule 21 - Dispute resolution procedure - redacted</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 31KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.03 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/eops-schedule22-collateral-deed-redacted.pdf">
    <div class="document-download-text">
        <p>Schedule 22 - Collateral Deed - redacted</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 72KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.07 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/eops-schedule23-gainsharing-redacted.pdf">
    <div class="document-download-text">
        <p>Schedule 23 - Gainsharing - redacted</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 32KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.03 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/eops-schedule24-responsible-procurement-redacted.pdf">
    <div class="document-download-text">
        <p>Schedule 24 - Responsible Procurement - redacted</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 53KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.05 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/eops-schedule25-business-continuity-redacted.pdf">
    <div class="document-download-text">
        <p>Schedule 25 - Business continuity - redacted</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 29KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.03 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/eops-schedule-26-key-subcontractors-redacted.pdf">
    <div class="document-download-text">
        <p>Schedule 26 - Key subcontractors - redacted</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 14KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.01 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/eops-schedule27-deed-of-novation-redacted.pdf">
    <div class="document-download-text">
        <p>Schedule 27 - Deed of Novation - redacted</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 60KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.06 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/eops-schedule30-open-book-template-redacted.pdf">
    <div class="document-download-text">
        <p>Schedule 30 - Open book template - redacted</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 18KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.02 -->
 
</div>

</div>
 
            </div>
        </div>
    </div>
 <div class="expandable-box">




        <div class="content">
            <div class="always-visible" role="button" aria-controls="schedule-28-content" aria-expanded="false" tabindex="0">
                <div class="controls" data-tracking="prop36" data-tracking-value="London Road User Charging Agreement-Schedule 28"><span class="visually-hidden">Toggle accordion</span></div>
                <div id="schedule-28-heading" class="accordion-heading">Schedule 28</div>
            </div>
            <div id="schedule-28-content" class="start-hidden" role="region" aria-labelledby="schedule-28-heading">


<div>





<div class="multi-document-download-container">
    

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/eops-schedule-28-service-providers-solution-redacted.pdf">
    <div class="document-download-text">
        <p>Schedule 28 - Contents</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 28KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.03 -->
 
</div>

</div>
 
            </div>
        </div>
    </div>
 <div class="expandable-box">




        <div class="content">
            <div class="always-visible" role="button" aria-controls="schedules-from-31-content" aria-expanded="false" tabindex="0">
                <div class="controls" data-tracking="prop36" data-tracking-value="London Road User Charging Agreement-Schedules from 31"><span class="visually-hidden">Toggle accordion</span></div>
                <div id="schedules-from-31-heading" class="accordion-heading">Schedules from 31</div>
            </div>
            <div id="schedules-from-31-content" class="start-hidden" role="region" aria-labelledby="schedules-from-31-heading">


<div>





<div class="multi-document-download-container">
    

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/eops-schedule32-revenue-collection-and-payment-redacted.pdf">
    <div class="document-download-text">
        <p>Schedule 32 - Revenue collection and payment - redacted</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 60KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.06 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/eops-schedule33-additional-services-redacted.pdf">
    <div class="document-download-text">
        <p>Schedule 33 - Additional services - redacted</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 7KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.01 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/eops-schedule34-tfl-policies-cover-page-redacted.pdf">
    <div class="document-download-text">
        <p>Schedule 34 - TfL policies: contents - redacted</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 7KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.01 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/eops-schedule36-value-for-money-review-redacted.pdf">
    <div class="document-download-text">
        <p>Schedule 36 - Value for money review - redacted</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 16KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.02 -->
 
</div>

</div>
 
            </div>
        </div>
    </div>
 
</div>
 
<div>



<h2>London Road User Charging Agreement 2007</h2>



<div class="multi-document-download-container">
    

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/lruc-agreement-redacted.pdf">
    <div class="document-download-text">
        <p>London road user charging agreement - redacted version</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 473KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.46 -->
 
</div>

</div>
 <div class="accordion">




<div class="expandable-box">




        <div class="content">
            <div class="always-visible" role="button" aria-controls="schedules-1-10-content" aria-expanded="false" tabindex="0">
                <div class="controls" data-tracking="prop36" data-tracking-value="London Road User Charging Agreement-Schedules 1-10"><span class="visually-hidden">Toggle accordion</span></div>
                <div id="schedules-1-10-heading" class="accordion-heading">Schedules 1-10</div>
            </div>
            <div id="schedules-1-10-content" class="start-hidden" role="region" aria-labelledby="schedules-1-10-heading">

        <p><a name="#Schedule1" href="/cdn/static/cms/documents/LRUC-schedule1-redacted.pdf">Schedule 1 - Definitions - redacted version (PDF 351KB)</a> <br />
        <a href="/cdn/static/cms/documents/LRUC-schedule3-redacted.pdf">Schedule 3 - Milestones and Delivereables - redacted version (PDF 503KB)</a> <br />
        <a href="/cdn/static/cms/documents/LRUC-schedule4-redacted.pdf">Schedule 4 - Testing Regime - redacted version (PDF 101KB)</a> <br />
        <a href="/cdn/static/cms/documents/LRUC-schedule5-redacted.pdf">Schedule 5 - Service Level Agreement - redacted version (PDF 626KB)</a> <br />
        <a href="/cdn/static/cms/documents/LRUC-schedule6-redacted.pdf">Schedule 6 - Termination Compensation - redacted version (PDF 39KB)</a> <br />
        <a href="/cdn/static/cms/documents/LRUC-schedule7-redacted.pdf">Schedule 7 - Charging - redacted version (PDF 419KB)</a> <br />
        <a href="/cdn/static/cms/documents/LRUC-schedule8-redacted.pdf">Schedule 8 - Operational Pricing - redacted version (PDF 202KB)</a> <br />
        <a href="/cdn/static/cms/documents/LRUC-schedule9-redacted.pdf">Schedule 9 - Change Control Request Procedure - redacted version (PDF 358KB)</a> <br />
        <a href="/cdn/static/cms/documents/LRUC-schedule10-redacted.pdf">Schedule 10 - Contract Management Reporting Procedure - redacted version (PDF 65KB)</a>
        </p>
    

            </div>
        </div>
    </div>
 <div class="expandable-box">




        <div class="content">
            <div class="always-visible" role="button" aria-controls="schedules-11-20-content" aria-expanded="false" tabindex="0">
                <div class="controls" data-tracking="prop36" data-tracking-value="London Road User Charging Agreement-Schedules 11-20"><span class="visually-hidden">Toggle accordion</span></div>
                <div id="schedules-11-20-heading" class="accordion-heading">Schedules 11-20</div>
            </div>
            <div id="schedules-11-20-content" class="start-hidden" role="region" aria-labelledby="schedules-11-20-heading">

        <p><a href="/cdn/static/cms/documents/LRUC-schedule11-redacted.pdf">Schedule 11 - Key Personnel - redacted version (PDF 75KB)</a> <br />
        <a href="/cdn/static/cms/documents/LRUC-schedule13-redacted.pdf">Schedule 13 - Service Provider Confidential Information - redacted version (PDF 18KB)</a> <br />
        <a href="/cdn/static/cms/documents/LRUC-schedule14-redacted.pdf">Schedule 14 - Security Policy - redacted version (PDF 49KB)</a> <br />
        <a href="/cdn/static/cms/documents/LRUC-schedule15-redacted.pdf">Schedule 15 - Information Compliance - redacted version (PDF 44KB)</a> <br />
        <a href="/cdn/static/cms/documents/LRUC-schedule16-redacted.pdf">Schedule 16 - Exit Plan - redacted version (PDF 106KB)</a> <br />
        <a href="/cdn/static/cms/documents/LRUC-schedule17-redacted.pdf">Schedule 17 - Agreed Form of Guarantee - redacted version (PDF 91KB)</a> <br />
        <a href="/cdn/static/cms/documents/LRUC-schedule18-redacted.pdf">Schedule 18 - Premises - redacted version (PDF 73KB)</a> <br />
        <a href="/cdn/static/cms/documents/LRUC-schedule19-redacted.pdf">Schedule 19 - Deed of Confidentiality - redacted version (PDF 48KB)</a> <br />
        <a href="/cdn/static/cms/documents/LRUC-schedule20-redacted.pdf">Schedule 20 - Management Services - redacted version (PDF 21KB)</a> </p>
    

            </div>
        </div>
    </div>
 <div class="expandable-box">




        <div class="content">
            <div class="always-visible" role="button" aria-controls="schedules-21-30-content" aria-expanded="false" tabindex="0">
                <div class="controls" data-tracking="prop36" data-tracking-value="London Road User Charging Agreement-Schedules 21-30"><span class="visually-hidden">Toggle accordion</span></div>
                <div id="schedules-21-30-heading" class="accordion-heading">Schedules 21-30</div>
            </div>
            <div id="schedules-21-30-content" class="start-hidden" role="region" aria-labelledby="schedules-21-30-heading">

        <p><a href="/cdn/static/cms/documents/LRUC-schedule21-redacted.pdf">Schedule 21 - CEDR Model Expert Determination Agreement - redacted version (PDF 50KB)</a> <br />
        <a href="/cdn/static/cms/documents/LRUC-schedule22-redacted.pdf">Schedule 22 - Collateral Deed - redacted version (PDF 159KB)</a> <br />
        <a href="/cdn/static/cms/documents/LRUC-Schedule23-Redacted.pdf">Schedule 23 - Gainsharing - redacted version (PDF 17KB)</a> <br />
        <a href="/cdn/static/cms/documents/LRUC-schedule24-redacted.pdf">Schedule 24 - Equality and Diversity - redacted version (PDF 60KB)</a> <br />
        <a href="/cdn/static/cms/documents/LRUC-schedule25-redacted.pdf">Schedule 25 - Business Continuity - redacted version (PDF 74KB)</a> <br />
        <a href="/cdn/static/cms/documents/LRUC-schedule26-redacted.pdf">Schedule 26 - Key Sub-Contractors - redacted version (PDF 19KB)</a> <br />
        <a href="/cdn/static/cms/documents/LRUC-schedule26A-redacted.pdf">Schedule 26 Annex A - Consortium and Prime Sub-Contractor Arrangements - redacted version (PDF 14KB)</a> <br />
        <a href="/cdn/static/cms/documents/LRUC-schedule27-redacted.pdf">Schedule 27 - Deed of Novation - redacted version (PDF 66KB)</a> <br />
        <a href="/cdn/static/cms/documents/LRUC-schedule28-redacted.pdf">Schedule 28 - Service Provider's Solution - redacted version (PDF 17KB)</a> <br />
        <a href="/cdn/static/cms/documents/LRUC-schedule29-redacted.pdf">Schedule 29 - Escrow Software - redacted version (PDF 17KB)</a> <br />
        <a href="/cdn/static/cms/documents/LRUC-schedule30-redacted.pdf">Schedule 30 - Open Book Template - redacted version (PDF 227KB)</a>
        </p>
    

            </div>
        </div>
    </div>
 <div class="expandable-box">




        <div class="content">
            <div class="always-visible" role="button" aria-controls="schedules-from-31-content" aria-expanded="false" tabindex="0">
                <div class="controls" data-tracking="prop36" data-tracking-value="London Road User Charging Agreement-Schedules from 31"><span class="visually-hidden">Toggle accordion</span></div>
                <div id="schedules-from-31-heading" class="accordion-heading">Schedules from 31</div>
            </div>
            <div id="schedules-from-31-content" class="start-hidden" role="region" aria-labelledby="schedules-from-31-heading">

        <p><a href="/cdn/static/cms/documents/LRUC-schedule31-redacted.pdf" name="#Schedulefrom31">Schedule 31 - Agreed Form of Standby Letter of Credit - redacted version (PDF 34KB)</a> <br />
        <a href="/cdn/static/cms/documents/LRUC-schedule32-redacted.pdf">Schedule 32 - Revenue Collection and Payment - redacted version (PDF 116KB)</a> <br />
        <a href="/cdn/static/cms/documents/LRUC-schedule33-redacted.pdf">Schedule 33 - Additional Services - redacted version (PDF 26KB)</a> <br />
        <a href="/cdn/static/cms/documents/LRUC-schedule34-redacted.pdf">Schedule 34 - TfL Policies - redacted version (PDF 18KB)</a> <br />
        <a href="/cdn/static/cms/documents/LRUC-schedule35-redacted.pdf">Schedule 35 - Personnel Information Template - redacted version (PDF 129KB)</a> <br />
        <a href="/cdn/static/cms/documents/LRUC-schedule36-redacted.pdf">Schedule 36 - Value for Money Review Process - redacted version (PDF 51KB)</a> </p>
        <p>Note: Schedule 2 (Statement of Requirements) contains 48 documents and is broken down into sub sections.</p>
    

            </div>
        </div>
    </div>
 <div class="expandable-box">




        <div class="content">
            <div class="always-visible" role="button" aria-controls="schedule-2:-appendices-1-10-content" aria-expanded="false" tabindex="0">
                <div class="controls" data-tracking="prop36" data-tracking-value="London Road User Charging Agreement-Schedule 2: Appendices 1-10"><span class="visually-hidden">Toggle accordion</span></div>
                <div id="schedule-2:-appendices-1-10-heading" class="accordion-heading">Schedule 2: Appendices 1-10</div>
            </div>
            <div id="schedule-2:-appendices-1-10-content" class="start-hidden" role="region" aria-labelledby="schedule-2:-appendices-1-10-heading">

        <p><a href="/cdn/static/cms/documents/schedule-2-appendix-02-enquiry.pdf">Appendix 2 - Enquiry - redacted version (PDF 30KB)</a> <br />
        <a href="/cdn/static/cms/documents/schedule-2-appendix-03-payments.pdf">Appendix 3 - Payments - redacted version (PDF 72KB)</a> <br />
        <a href="/cdn/static/cms/documents/schedule-2-appendix-05-channels.pdf">Appendix 5 - Channels - redacted version (PDF 42KB)</a> <br />
        <a href="/cdn/static/cms/documents/schedule-2-appendix-06-returns-policy.pdf">Appendix 6 - Returns Policy - redacted version (PDF 36KB)</a> <br />
        <a href="/cdn/static/cms/documents/schedule-2-appendix-07-customer-accounts.pdf">Appendix 7 - Customer Accounts - redacted version (PDF 114KB)</a> <br />
        <a href="/cdn/static/cms/documents/schedule-2-appendix-08-discounts.pdf">Appendix 8 - Discounts - redacted version (PDF 202KB)</a> <br />
        <a href="/cdn/static/cms/documents/schedule-2-appendix-09-organisation-accounts.pdf">Appendix 9 - Organisation Accounts - redacted version (PDF 84KB)</a> </p>
    

            </div>
        </div>
    </div>
 <div class="expandable-box">




        <div class="content">
            <div class="always-visible" role="button" aria-controls="schedule-2:-appendices-11-20-content" aria-expanded="false" tabindex="0">
                <div class="controls" data-tracking="prop36" data-tracking-value="London Road User Charging Agreement-Schedule 2: Appendices 11-20"><span class="visually-hidden">Toggle accordion</span></div>
                <div id="schedule-2:-appendices-11-20-heading" class="accordion-heading">Schedule 2: Appendices 11-20</div>
            </div>
            <div id="schedule-2:-appendices-11-20-content" class="start-hidden" role="region" aria-labelledby="schedule-2:-appendices-11-20-heading">

        <p><a href="/cdn/static/cms/documents/schedule-2-appendix-11-the-iip-standard.pdf">Appendix 11 - The IIP Standard - redacted version (PDF 14KB)</a> <br />
        <a href="/cdn/static/cms/documents/schedule-2-appendix-13-information-compliance-processes.pdf">Appendix&nbsp;13 - Information Compliance Processes - redacted version (PDF 130KB)</a> <br />
        <a href="/cdn/static/cms/documents/schedule-2-appendix-14-data-retention.pdf">Appendix 14- Data Retention - redacted version (PDF 118KB)</a> <br />
        <a href="/cdn/static/cms/documents/schedule-2-appendix-15-pci-data-security-standard.pdf">Appendix&nbsp;15 - PCI Date Security Standard - redacted version (PDF 14KB)</a> <br />
        <a href="/cdn/static/cms/documents/schedule-2-appendix-16-evidential-record-template.pdf">Appendix&nbsp;16 - Evidential Record Template - redacted version (PDF 319KB)</a> <br />
        <a href="/cdn/static/cms/documents/schedule-2-appendix-17-penalty-charge-write-off-policy.pdf">Appendix&nbsp;17 - Penalty Charge Write-off Policy - redacted version (PDF 13KB)</a> <br />
        <a href="/cdn/static/cms/documents/schedule-2-appendix-18-pcn-template.pdf">Appendix 18 - PCN Template - redacted version (PDF 741KB)</a> <br />
        <a href="/cdn/static/cms/documents/schedule-2-appendix-19-charge-certificate-template.pdf">Appendix 19 - Charge Certificate Template - redacted version (PDF 319KB)</a> <br />
        <a href="/cdn/static/cms/documents/schedule-2-appendix-20-order-for-recovery-template.pdf">Appendix&nbsp;20 - Order for Recovery - redacted version (PDF 14KB)</a>
        </p>
    

            </div>
        </div>
    </div>
 <div class="expandable-box">




        <div class="content">
            <div class="always-visible" role="button" aria-controls="schedule-2:-appendices-21-30-content" aria-expanded="false" tabindex="0">
                <div class="controls" data-tracking="prop36" data-tracking-value="London Road User Charging Agreement-Schedule 2: Appendices 21-30"><span class="visually-hidden">Toggle accordion</span></div>
                <div id="schedule-2:-appendices-21-30-heading" class="accordion-heading">Schedule 2: Appendices 21-30</div>
            </div>
            <div id="schedule-2:-appendices-21-30-content" class="start-hidden" role="region" aria-labelledby="schedule-2:-appendices-21-30-heading">

        <p><a href="/cdn/static/cms/documents/schedule-2-appendix-21-statutory-declaration-template.pdf">Appendix 21 - Statutory Declaration Template (PDF 14KB)</a> <br />
        <a href="/cdn/static/cms/documents/schedule-2-appendix-22-statement-of-truths-for-oot-statutory-declarations.pdf">Appendix&nbsp;22 - Statement of Truths for Out of Time Statutory Declarations - redacted version (PDF 14KB)</a> <br />
        <a href="/cdn/static/cms/documents/schedule-2-appendix-23-warrant-of-execution-template.pdf">Appendix 23 - Warrant of Execution Template (PDF 13KB)&nbsp;</a> <br />
        <a href="/cdn/static/cms/documents/schedule-2-appendix-24-criteria-for-dealing-with-representations.pdf">Appendix 24 - Criteria for Dealing with Representations - redacted version (PDF 14KB) </a><br />
        <a href="/cdn/static/cms/documents/schedule-2-appendix-25-criteria-for-dealing-with-clamp-and-removal-representations.pdf">Appendix&nbsp;25 - Criteria for Dealing with Clamp and Removal Representations - redacted version (PDF 21KB)</a> <br />
        <a href="/cdn/static/cms/documents/schedule-2-appendix-26-notice-of-acceptance-and-rejection-letter-templates.pdf">Appendix 26 - Notice of Acceptance and Rejection Letter - redacted version (PDF 14KB) </a><br />
        <a href="/cdn/static/cms/documents/schedule-2-appendix-27-interface-catalogue.pdf">Appendix 27 - Interface Catalogue - redacted version (PDF 96KB)</a> <br />
        <a href="/cdn/static/cms/documents/schedule-2-appendix-28-appeal-non-contest-codes.pdf">Appendix&nbsp;28 - Appeal Non-Contest Codes - redacted version (PDF 71KB) </a><br />
        <a href="/cdn/static/cms/documents/schedule-2-appendix-29-written-pcn-enquires.pdf">Appendix 29 - Written PCN Enquiries - redacted version (PDF 46KB) </a><br />
        <a href="/cdn/static/cms/documents/schedule-2-appendix-30-tec-code-of-practice.pdf">Appendix 30 - TEC Code of Practice - redacted version (PDF 13KB)</a>
        </p>
    

            </div>
        </div>
    </div>
 <div class="expandable-box">




        <div class="content">
            <div class="always-visible" role="button" aria-controls="schedule-2:-appendices-31-40-content" aria-expanded="false" tabindex="0">
                <div class="controls" data-tracking="prop36" data-tracking-value="London Road User Charging Agreement-Schedule 2: Appendices 31-40"><span class="visually-hidden">Toggle accordion</span></div>
                <div id="schedule-2:-appendices-31-40-heading" class="accordion-heading">Schedule 2: Appendices 31-40</div>
            </div>
            <div id="schedule-2:-appendices-31-40-content" class="start-hidden" role="region" aria-labelledby="schedule-2:-appendices-31-40-heading">

        <p><a href="/cdn/static/cms/documents/schedule-2-appendix-31-enforcement-operations-volumes.pdf">Appendix 31 - Enforcement Operations Volumes (PDF 19KB)</a> <br />
        <a href="/cdn/static/cms/documents/schedule-2-appendix-32-enforcement-operations-failover-thresholds.pdf">Appendix&nbsp;32 - Enforcement Operations Failover Thresholds - redacted version (PDF 72KB) </a><br />
        <a href="/cdn/static/cms/documents/schedule-2-appendix-33-enforcement-operations-refund-policy.pdf">Appendix&nbsp;33 - Enforcement Operations Refund Policy - redacted version (PDF 83KB) </a><br />
        <a href="/cdn/static/cms/documents/schedule-2-appendix-34-responses-to-dvla-enquiries.pdf">Appendix&nbsp;34 - Responses to DVLA Enquiries - redacted version (PDF 23KB) </a><br />
        <a href="/cdn/static/cms/documents/schedule-2-appendix-35-criteria-for-dealing-with-returned-mail.pdf">Appendix&nbsp;35 - Criteria for Dealing with Returned Mail for Enforcement Operations - redacted version (PDF 14KB)</a> <br />
        <a href="/cdn/static/cms/documents/schedule-2-appendix-36-tped-contraventions.pdf">Appendix&nbsp;36 - TPED Contraventions - redacted version (PDF 22KB) </a><br />
        <a href="/cdn/static/cms/documents/schedule-2-appendix-37-pcn-insert.pdf">Appendix&nbsp;37 - PCN Insert - redacted version (PDF 592KB) </a><br />
        <a href="/cdn/static/cms/documents/schedule-2-appendix-38-tfl-high-level-design.pdf">Appendix&nbsp;38 - TfL High Level Design - redacted version (PDF 13KB)</a> <br />
        <a href="/cdn/static/cms/documents/schedule-2-appendix-39-core-it-volumes.pdf">Appendix&nbsp;39 - Core IT Volumes - redacted version (PDF 26KB)</a> <br />
        <a href="/cdn/static/cms/documents/schedule-2-appendix-40-solution-architecture.pdf">Appendix&nbsp;40 - Solutions Architecture - redacted version (PDF 13KB)</a>
        </p>
    

            </div>
        </div>
    </div>
 <div class="expandable-box">




        <div class="content">
            <div class="always-visible" role="button" aria-controls="schedule-2:-from-appendix-41-content" aria-expanded="false" tabindex="0">
                <div class="controls" data-tracking="prop36" data-tracking-value="London Road User Charging Agreement-Schedule 2: from Appendix 41"><span class="visually-hidden">Toggle accordion</span></div>
                <div id="schedule-2:-from-appendix-41-heading" class="accordion-heading">Schedule 2: from Appendix 41</div>
            </div>
            <div id="schedule-2:-from-appendix-41-content" class="start-hidden" role="region" aria-labelledby="schedule-2:-from-appendix-41-heading">

        <p><a href="/cdn/static/cms/documents/schedule-2-appendix-41-interface-specification.pdf">Appendix 41 - Interface Specification (PDF 13KB)</a> <br />
        <a href="/cdn/static/cms/documents/schedule-2-appendix-42-mis-requirements.pdf">Appendix&nbsp;42 - MIS Requirements - redacted version (PDF 182KB)</a> <br />
        <a href="/cdn/static/cms/documents/schedule-2-appendix-43-vosi-requirements.pdf">Appendix&nbsp;43 - VoSI Requirements - redacted version (PDF 143KB)</a> <br />
        <a href="/cdn/static/cms/documents/schedule-2-appendix-44-responses-to-dvla-enquiries-core.pdf">Appendix&nbsp;44 - Responses to DVLA Enquiries (Core) - redacted version (PDF 65KB)</a> <br />
        <a href="/cdn/static/cms/documents/schedule-2-enforcement-operations-sor.pdf">Enforcement Operations - redacted version (PDF 2MB) </a><br />
        <a href="/cdn/static/cms/documents/schedule-2-core-it-services-sor.pdf">Core IT Services - redacted version (PDF 307KB) </a><br />
        <a href="/cdn/static/cms/documents/schedule-2-common-sor.pdf">Common - redacted version (PDF 860KB) </a><br />
        <a href="/cdn/static/cms/documents/schedule-2-business-operations-sor.pdf">Business Operations - redacted version (PDF 640KB)</a></p>
    

            </div>
        </div>
    </div>
 
</div>
 
      
        
          
        
      
    
  </div>
  <div class="aside" role="complementary">

   
    
    
    
      <div data-set="sidenav-container" class="large">
        
        
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
      </div>
    
    <div>
















<div class="advert-tile unsponsored-style google-ads" aria-hidden="true">
  <div class="advert-link">
    <div class="advert-content">
        <div class="medium-large" data-advert="/76889402/non-targeted" data-advert-sizes="300, 250"></div>
        <div class="small" data-advert="/76889402/non-targeted" data-advert-sizes="300, 250"></div>
    </div>
  </div>
</div>
@{
    ViewBag.AmazonSlot = "'amznslots'";
    ViewBag.AmazonAds = "'3199'"; // to add another value, this needs to be ViewBag.AmazonAds = "'3199','xx'";
}
      

 </div>
    
      <div class="module-grid clearfix">
                    
        <div class="related-links">

    <h3>Also on this site</h3>

<div class="vertical-button-container">

<a href="https://tfl.gov.uk/modes/driving/" class="plain-button">Driving</a>
<a href="/info-for/deliveries-in-london/index" class="plain-button">Deliveries in London</a>
    </div>
</div>
 
      </div>
    
    <div data-set="sidenav-container" class="small-medium"></div>
  </div>
</div>
 
 
        
        
        
            @{ViewBag.Description = "The agreement for Capita Business Services Limited to provide Congestion Charging, London Low Emission Zone services and Traffic Enforcement was signed in 2015";}
        
            
        


 