
    
  



@{ViewBag.Title = "Maps in other languages";}
@{ViewBag.Keywords = "DLR passengers,Emirates Air Line passengers,London Overground passengers,Pedestrians,Public,Rail passengers,Tube passengers,M,Maps,DLR,Emirates Air Line,London Overground,Rail,Tube,DLR ,Map,TfL Rail ,Tube ,Tube Map ,TfL";}
@{ViewBag.Url = "/corporate/publications-and-reports/maps-in-other-languages";}
@{ViewBag.Language = "en";}
        <!-- empty placeholder -->
 
        
        
<div class="r">
    <div class="breadcrumb-container" role="navigation">
        <span id="breadcrumb-label" class="visually-hidden">You are here:</span>
        <ol class="breadcrumbs clearfix" aria-labelledby="breadcrumb-label">
            <li class="home">
                <a href="/">
                    <span class="hide-text">Home</span>
                </a>
            </li>
            
                 <li><a href="/corporate/publications-and-reports/index">Publications & reports</a></li>
                
            
            
                <li><span class="last-breadcrumb">Maps in other languages</span></li>
            
        
 
        
 
        </ol>
    </div>
</div>
     
 
<div class="r">
  <div class="headline-container plain">
    <h1>Maps in other languages</h1>

  </div>
</div>
<div class="main-and-aside r">
  
  <div class="main content-container" role="main">
    
      <div class="article-teaser">
        Download Tube maps in languages other than English.
        
      </div>
    
    
      <p>You can also translate web pages on this site into your language using the Google Translate option at the bottom of each page.</p>
      
           
      
<div>



<h2>Tube maps - other languages</h2>



<div class="multi-document-download-container">
    

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/arabic-tube-map2.pdf">
    <div class="document-download-text">
        <p>خريطة المترو - Arabic tube map</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 8.33MB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 8.33 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/bengali-tube-map1.pdf">
    <div class="document-download-text">
        <p>উবের মানচিত্র বাংলা - Bengali Tube map</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 8.31MB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 8.31 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/chinese-tube-map1.pdf">
    <div class="document-download-text">
        <p>地铁线路图 - Chinese Tube map</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 8.22MB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 8.22 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/french-tube-map1.pdf">
    <div class="document-download-text">
        <p>Plan du m&eacute;tro - French Tube map</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 8.17MB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 8.17 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/german-tube-map1.pdf">
    <div class="document-download-text">
        <p>U-Bahn (Tube) Karte - German Tube map</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 8.17MB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 8.17 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/greek-tube-map1.pdf">
    <div class="document-download-text">
        <p>Υπόγειος σιδηρόδρομος - Greek Tube map</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 8.19MB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 8.19 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/gujarati-tube-map1.pdf">
    <div class="document-download-text">
        <p>ટ􀈽બુ (Tube) નો નક્શો - Gujarati Tube map</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 8.29MB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 8.29 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/hindi-tube-map1.pdf">
    <div class="document-download-text">
        <p>ट्यूब (Tube) का नक्शा - Hindi Tube map</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 8.30MB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 8.30 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/italian-tube-map1.pdf">
    <div class="document-download-text">
        <p>Mappa della metropolitana - Italian Tube map</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 8.16MB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 8.16 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/polish-tube-map1.pdf">
    <div class="document-download-text">
        <p>Mapa metra - Polish Tube map</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 8.19MB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 8.19 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/portuguese-tube-map1.pdf">
    <div class="document-download-text">
        <p>Mapa do metropolitano - Portuguese Tube map</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 8.17MB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 8.17 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/spanish-tube-map1.pdf">
    <div class="document-download-text">
        <p>Mapa del metro - Spanish Tube map</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 8.17MB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 8.17 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/tamil-tube-map1.pdf">
    <div class="document-download-text">
        <p>லண்டன் சுரங்கப்பாதை வரைபடம் - Tamil Tube map</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 8.20MB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 8.20 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/turkish-tube-map1.pdf">
    <div class="document-download-text">
        <p>Tube (Metro) Haritası - Turkish Tube map</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 8.19MB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 8.19 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/urdu-tube-map1.pdf">
    <div class="document-download-text">
        <p>لندن زیر زمین  کا نقشہ - Urdu Tube map </p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 8.40MB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 8.40 -->
 
</div>

</div>
 
      
        
          
        
      
    
  </div>
  <div class="aside" role="complementary">

   
    
    
    
      <div data-set="sidenav-container" class="large">
        
        
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
      </div>
    
    <div>
















<div class="advert-tile unsponsored-style google-ads" aria-hidden="true">
  <div class="advert-link">
    <div class="advert-content">
        <div class="medium-large" data-advert="/76889402/non-targeted" data-advert-sizes="300, 250"></div>
        <div class="small" data-advert="/76889402/non-targeted" data-advert-sizes="300, 250"></div>
    </div>
  </div>
</div>
@{
    ViewBag.AmazonSlot = "'amznslots'";
    ViewBag.AmazonAds = "'3199'"; // to add another value, this needs to be ViewBag.AmazonAds = "'3199','xx'";
}
      

 </div>
    
    <div data-set="sidenav-container" class="small-medium"></div>
  </div>
</div>
 
 
        
        
        
            @{ViewBag.Description = "Maps in other languages";}
        
            
        


 