
    
  



@{ViewBag.Title = "Oyster card";}
@{ViewBag.Keywords = "Bus passengers,DLR passengers,Emirates Air Line passengers,London Overground passengers,Media,Tram passengers,Tube passengers,O,Regular reports,Ticketing,Buses,DLR,Emirates Air Line,London Overground,Trams,Tube,TfL";}
@{ViewBag.Url = "/corporate/publications-and-reports/oyster-card";}
@{ViewBag.Language = "en";}
        <!-- empty placeholder -->
 
        
        
<div class="r">
    <div class="breadcrumb-container" role="navigation">
        <span id="breadcrumb-label" class="visually-hidden">You are here:</span>
        <ol class="breadcrumbs clearfix" aria-labelledby="breadcrumb-label">
            <li class="home">
                <a href="/">
                    <span class="hide-text">Home</span>
                </a>
            </li>
            
                 <li><a href="/corporate/publications-and-reports/index">Publications & reports</a></li>
                
            
            
                <li><span class="last-breadcrumb">Oyster card</span></li>
            
        
 
        
 
        </ol>
    </div>
</div>
     
 
<div class="r">
  <div class="headline-container plain">
    <h1>Oyster card</h1>

  </div>
</div>
<div class="main-and-aside r">
  
  <div class="main content-container" role="main">
    
      <div class="article-teaser">
        Here we publish information about Oyster cards,  including how many cards have been used, how much money is on Oyster cards, sales of Oyster cards by different types of outlet, incomplete pay as you go journeys and information on usage of the photocard schemes.<BR>
        
      </div>
    
    <div class="on-this-page">
      
    
      
           
      
<div>




<h2>Analysis of Oyster pay as you go journeys</h2>
<p>We publish statistics relating to pay as you go journeys made using Oyster cards. The information is presented by four-weekly accounting periods starting in April 2014 and includes:</p>
<ul>
    <li>Numbers of bus and tram journeys; LU/DLR journeys; National Rail journeys</li>
    <li>
    The revenue associated with these journeys</li>
    <li>
    The number of incomplete rail journeys (ie journeys where a customer has only touched in or touched out) and associated revenue, for which a maximum fare is typically charged</li>
    <li>
    Details relating to the various means by which incomplete journeys are corrected and/or refunded when a customer has been charged a maximum fare. This includes: <strong>automatic completion</strong>, whereby the TfL automatically corrects and/or refunds a maximum fare in certain circumstances, <strong>self-serve refunds</strong>, where customers have applied for a refund through their TfL online account or via the TfL Customer Services helpline and <strong>at stations</strong>, where staff can assist a customer to obtain an Oyster refund</li>
    <li>
    Further information on incomplete journeys and maximum fares is included within the spreadsheet</li>
</ul>
<div class="multi-document-download-container">
    

<a class="document-download-wrap xlsx" href="/cdn/static/cms/documents/analysis-of-oyster-pay-as-you-go-journeys.xlsx">
    <div class="document-download-text">
        <p>Analysis of Oyster pay as you go journeys</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            XLSX 56KB
            
        </p>
    </div>
    <div class="document-download-icon download-spread">
    </div>

</a>

<!-- 0.05 -->
 
</div>

</div>
 
<div>



<h2>Oyster card balances & refunds</h2>



<div class="multi-document-download-container">
    

<a class="document-download-wrap xlsx" href="/cdn/static/cms/documents/card-balances-and-deposits-up-to-dec-2019.xlsx">
    <div class="document-download-text">
        <p>Oyster card balances and deposits up to December 2019</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            XLSX 24KB
            
        </p>
    </div>
    <div class="document-download-icon download-spread">
    </div>

</a>

<!-- 0.02 -->
 
</div>

</div>
 
<div>



<h2>Daily breakdown of Oyster card usage</h2>



<div class="multi-document-download-container">
    

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/daily-breakdown-of-oyster-card-usage-data.pdf">
    <div class="document-download-text">
        <p>Daily breakdown of Oyster card usage up to December 2019</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 825KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.81 -->
 
</div>

</div>
 
<div>



<h2>Oyster card sales by outlet</h2>



<div class="multi-document-download-container">
    

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/oyster-card-sales.pdf">
    <div class="document-download-text">
        <p>Oyster card sales by outlet</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 106KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.10 -->
 
</div>

</div>
 <div>

<h2>Incomplete pay as you go with Oyster</h2>
<p>We publish the number of journeys made where customers have forgotten to touch in or out (called 'incomplete journeys') and the refunds we have automatically made.</p>
<p>If a customer has not touched out at the end of their journey and been charged a maximum fare, and the journey history of the card suggests an occasional failure to touch out, we try to use the card history to work out their likely destination. </p>
<p>If they are due a refund, it is loaded back onto their Oyster card the next time they touch in or out at the station they use most often. We publish the number of these refunds.</p>
</div>
 
<div>





<div class="multi-document-download-container">
    

<a class="document-download-wrap xlsx" href="/cdn/static/cms/documents/oyster-incomplete-pay-as-you-go-journeys-by-station.xlsx">
    <div class="document-download-text">
        <p>Incomplete pay as you go journeys by station</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            XLSX 165KB
            
        </p>
    </div>
    <div class="document-download-icon download-spread">
    </div>

</a>

<!-- 0.16 -->
 
</div>

</div>
 
<div>



<h2>Photocard schemes</h2>



<div class="multi-document-download-container">
    

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/photocard-data.pdf">
    <div class="document-download-text">
        <p>Photocard schemes usage for the financial year 2018/19</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 221KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.22 -->
 
</div>

</div>
 
      
        
          
            @this.ScriptBlock(
              @<script>
                queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
              </script>
            )
          
        
      
    </div>
  </div>
  <div class="aside" role="complementary">

   
    
    
    
      <div data-set="sidenav-container" class="large">
        
        
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
      </div>
    
    <div>
















<div class="advert-tile unsponsored-style google-ads" aria-hidden="true">
  <div class="advert-link">
    <div class="advert-content">
        <div class="medium-large" data-advert="/76889402/non-targeted" data-advert-sizes="300, 250"></div>
        <div class="small" data-advert="/76889402/non-targeted" data-advert-sizes="300, 250"></div>
    </div>
  </div>
</div>
@{
    ViewBag.AmazonSlot = "'amznslots'";
    ViewBag.AmazonAds = "'3199'"; // to add another value, this needs to be ViewBag.AmazonAds = "'3199','xx'";
}
      

 </div>
    
      <div class="module-grid clearfix">
                    
        <div class="related-links">

    <h3>Also on this site</h3>

<div class="vertical-button-container">

<a href="/corporate/publications-and-reports/contactless-payment" class="plain-button">Contactless reports</a>
<a href="/corporate/publications-and-reports/refunds" class="plain-button">Service delay refunds</a>
    </div>
</div>
 
      </div>
    
    <div data-set="sidenav-container" class="small-medium"></div>
  </div>
</div>
 
 
        
        
        
            @{ViewBag.Description = "Information on how many cards have been used, how much money is on Oyster cards, information on usage of the photocard schemes and sales of Oyster cards by different types of outlet";}
        
            
        


 