
    
  



@{ViewBag.Title = "Papers - past years";}
@{ViewBag.Keywords = "TfL";}
@{ViewBag.Url = "/corporate/publications-and-reports/p-and-i-past-years";}
@{ViewBag.Language = "en";}
        <!-- empty placeholder -->
 
        
        
<div class="r">
    <div class="breadcrumb-container" role="navigation">
        <span id="breadcrumb-label" class="visually-hidden">You are here:</span>
        <ol class="breadcrumbs clearfix" aria-labelledby="breadcrumb-label">
            <li class="home">
                <a href="/">
                    <span class="hide-text">Home</span>
                </a>
            </li>
            
                 <li><a href="/corporate/publications-and-reports/index">Publications & reports</a></li>
                
            
                 <li><a href="/corporate/publications-and-reports/programmes-and-investment-committee">Programmes & Investment committee</a></li>
                
            
            
                <li><span class="last-breadcrumb">Papers - past years</span></li>
            
        
 
        
 
        
 
        </ol>
    </div>
</div>
     
 
<div class="r">
  <div class="headline-container plain">
    <h1>Papers - past years</h1>

  </div>
</div>
<div class="main-and-aside r">
  
  <div class="main content-container" role="main">
    
      <div class="article-teaser">
        Committee agendas and reports of the Programmes & Investment committee from before the current year.
        
      </div>
    
    
      
      
           
      <h2> 2018 meeting papers</h2>






    


<div class="accordion">
<div class="expandable-box">

        <div class="content">
            <div class="always-visible">
                <a class="controls" href="javascript:void(0);">&nbsp;</a>
                <div class="accordion-heading">
                    21 February
                </div>
            </div>
            <div class="start-hidden">
                <div class="multi-document-download-container">
                

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/pic-20180221-agenda-web.pdf">
    <div class="document-download-text">
        <p>Agenda</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 42KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.04 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/pic-20180221-item03-pt1-minutes-for-approval-20171212.pdf">
    <div class="document-download-text">
        <p>Item 3 - Minutes of the Meeting held on 12 December 2017</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 50KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.05 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/pic-20180221-item04-pt1-actions.pdf">
    <div class="document-download-text">
        <p>Item 4 - Matters Arising and Actions List </p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 45KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.04 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/pic-20180221-item05-pt1-ipr-q3.pdf">
    <div class="document-download-text">
        <p>Item 5 - Investment Programme Report - Quarter 3 - 2017/18</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 2.47MB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 2.47 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/pic-20180221-item06-pt-1-project-monitoring.pdf">
    <div class="document-download-text">
        <p>Item 6 - Project Monitoring - Programme and Project Approvals</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 54KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.05 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/pic-20180221-item07-pt-1-crossrail-2.pdf">
    <div class="document-download-text">
        <p>Item 7 - Crossrail 2</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 49KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.05 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/pic-20180221-item08-pt-1-tech-and-data.pdf">
    <div class="document-download-text">
        <p>Item 8 - Technology and Data Programme 2018/19 and 2019/20</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 771KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.75 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/pic-20180221-item09-pt-1-major-stations.pdf">
    <div class="document-download-text">
        <p>Item 9 - London Underground Major Stations Programme</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 1.21MB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 1.21 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/pic-20180221-item10-pt-1-track-renewals.pdf">
    <div class="document-download-text">
        <p>Item 10 - London Underground Track Renewals Programme 2018/19 and 2019/20</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 167KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.16 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/pic-20180221-item11-pt1-rolling-stock-renewals.pdf">
    <div class="document-download-text">
        <p>Item 11 - London Underground Rolling Stock Renewals Programme</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 85KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.08 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/pic-20180221-item12-pt1-crossrail-update.pdf">
    <div class="document-download-text">
        <p>Item 12 - Crossrail Update</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 28KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.03 -->
 

<a class="document-download-wrap not-for-beta placeholder-image" href="/shared/DocumentComingSoon" data-pull-content="#body">
    <div class="document-download-text">
        <p>Item 13 - Member suggestions for future agenda discussions</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!--  -->
            
              </div>
            </div>
        </div>
 

   </div>
 <div class="expandable-box">

        <div class="content">
            <div class="always-visible">
                <a class="controls" href="javascript:void(0);">&nbsp;</a>
                <div class="accordion-heading">
                    16 May
                </div>
            </div>
            <div class="start-hidden">
                <div class="multi-document-download-container">
                

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/pic-20180516-agenda-web.pdf">
    <div class="document-download-text">
        <p>Agenda</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 47KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.05 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/pic-20180516-item03-20180221-minutes-for-approval.pdf">
    <div class="document-download-text">
        <p>Item 3 - Minutes of the Meeting of the Committee held on 21 February 2018</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 59KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.06 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/pic-20180516-item04a-part1-actions.pdf">
    <div class="document-download-text">
        <p>Item 4 - Matters Arising and Actions List</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 39KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.04 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/pic-20180516-item05-update-on-major-projects.pdf">
    <div class="document-download-text">
        <p>Item 5 - Update on Major Projects, Programmes and Investment</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 35KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.03 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/pic-20180516-item06-delegated-authority.pdf">
    <div class="document-download-text">
        <p>Item 6 - Use of Delgated Authority</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 129KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.13 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/pic-20180516-item07-barking-riverside.pdf">
    <div class="document-download-text">
        <p>Item 7 - Barking Riverside Extension Update and Procurement Authority Request</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 398KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.39 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/pic-20180516-item08-deep-tube-update.pdf">
    <div class="document-download-text">
        <p>Item 8 - Deep Tube Programme </p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 113KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.11 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/pic-20180516-item09-lu-signalling.pdf">
    <div class="document-download-text">
        <p>Item 9 - London Underground Legacy Signalling and Information</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 116KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.11 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/pic-20180516-item10-rotherhithe-to-canary-wharf.pdf">
    <div class="document-download-text">
        <p>Item 10 - Rotherhithe to Canary Wharf Crossing</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 79KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.08 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/pic-20180516-item11-crossrail.pdf">
    <div class="document-download-text">
        <p>Item 11 - Crossrail Update</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 956KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.93 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/pic-20180516-item-12-member-suggestions-future-business.pdf">
    <div class="document-download-text">
        <p>Item 12 - Member Suggestions for Future Agenda items</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 74KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.07 -->
            
              </div>
            </div>
        </div>
 

   </div>
 <div class="expandable-box">

        <div class="content">
            <div class="always-visible">
                <a class="controls" href="javascript:void(0);">&nbsp;</a>
                <div class="accordion-heading">
                    03 July
                </div>
            </div>
            <div class="start-hidden">
                <div class="multi-document-download-container">
                

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/pic-20180703-agenda.pdf">
    <div class="document-download-text">
        <p>Agenda</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 48KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.05 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/pic-20180703-item03-minutes.pdf">
    <div class="document-download-text">
        <p>Item 3 - Minutes of the Meeting of the Committee held on 16 May 2018</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 48KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.05 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/pic-20180703-item04-actions-list.pdf">
    <div class="document-download-text">
        <p>Item 4 - Matters Arising and Actions List</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 37KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.04 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/pic-20180703-item05-q4-ipr-web.pdf">
    <div class="document-download-text">
        <p>Item 5 - Investment Programme Report - Quarter 4 2017/18</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 2.49MB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 2.49 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/pic-20180703-item06-ippag-quarterly-report.pdf">
    <div class="document-download-text">
        <p>Item 6 - Independent Investment Programme Advisory Group - Quarterly Report</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 103KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.10 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/pic-20180703-item07-use-of-delegated-authority.pdf">
    <div class="document-download-text">
        <p>Item 7 - Use of Delegated Authority</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 64KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.06 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/pic-20180703-item08-tfl-growth-fund.pdf">
    <div class="document-download-text">
        <p>Item 8 - TfL Growth Fund </p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 576KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.56 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/pic-20180703-item09-healthy-streets-programme.pdf">
    <div class="document-download-text">
        <p>Item 9 - Healthy Streets Programme 2018/19 and 2019/20</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 788KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.77 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/pic-20180703-item10-silvertown-tunnel.pdf">
    <div class="document-download-text">
        <p>Item 10 - Silvertown Tunnel</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 561KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.55 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/pic-20180703-item11-lu-world-class-capacity-programme.pdf">
    <div class="document-download-text">
        <p>Item 11 - London Underground World Class Capacity Programme</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 86KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.08 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/pic-20180703-item12-lu-power-cooling-and-energy-programme.pdf">
    <div class="document-download-text">
        <p>Item 12 - London Underground Power, Cooling and Energy Programme</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 105KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.10 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/pic-20180703-item13-lu-stations-renewals-and-enhancements-programme.pdf">
    <div class="document-download-text">
        <p>Item 13 - London Underground Stations Renewals and Enhancements Programme</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 138KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.14 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/pic-20180703-item14-crossrail-update.pdf">
    <div class="document-download-text">
        <p>Item 14 - Crossrail Update</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 2.21MB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 2.21 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/pic-20180703-item15-forward-plan.pdf">
    <div class="document-download-text">
        <p>Item 15 - Forward Programme</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 77KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.07 -->
            
              </div>
            </div>
        </div>
 

   </div>
 <div class="expandable-box">

        <div class="content">
            <div class="always-visible">
                <a class="controls" href="javascript:void(0);">&nbsp;</a>
                <div class="accordion-heading">
                    11 October
                </div>
            </div>
            <div class="start-hidden">
                <div class="multi-document-download-container">
                

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/pic-20181011-agenda-and-papers.pdf">
    <div class="document-download-text">
        <p>11 October 2018 - Agenda and papers</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 7.14MB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 7.14 -->
            
              </div>
            </div>
        </div>
 

   </div>
 <div class="expandable-box">

        <div class="content">
            <div class="always-visible">
                <a class="controls" href="javascript:void(0);">&nbsp;</a>
                <div class="accordion-heading">
                    11 December
                </div>
            </div>
            <div class="start-hidden">
                <div class="multi-document-download-container">
                

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/pic-20181211-public-pack.pdf">
    <div class="document-download-text">
        <p>11 December - Agenda and Papers</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 9.71MB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 9.71 -->
            
              </div>
            </div>
        </div>
 

   </div>
 
</div>
 <h2> 2017 meeting papers</h2>






    


<div class="accordion">
<div class="expandable-box">

        <div class="content">
            <div class="always-visible">
                <a class="controls" href="javascript:void(0);">&nbsp;</a>
                <div class="accordion-heading">
                    08 March
                </div>
            </div>
            <div class="start-hidden">
                <div class="multi-document-download-container">
                

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/00-pic-agenda-20170308.pdf">
    <div class="document-download-text">
        <p>Agenda </p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 54KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.05 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/03a-draft-mins.pdf">
    <div class="document-download-text">
        <p>Item 3 - Minutes of the Meeting of the Committee held on 30 November 2016</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 145KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.14 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/04-actions.pdf">
    <div class="document-download-text">
        <p>Item 4 - Matters Arising and Actions List</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 36KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.04 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/05-investment-programme-report.pdf">
    <div class="document-download-text">
        <p>Item 5 - Quarterly Investment Programme Report</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 1.87MB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 1.87 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/06-lu-rolling-stock.pdf">
    <div class="document-download-text">
        <p>Item 6 - London Underground Rolling Stock Renewals Programme</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 668KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.65 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/07-deep-tube.pdf">
    <div class="document-download-text">
        <p>Item 7 - Deep Tube Upgrade Programme: Update</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 38KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.04 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/08-dlr-rolling-stock.pdf">
    <div class="document-download-text">
        <p>Item 8 - DLR Rolling Stock Replacement Programme</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 519KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.51 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/09-procurement-authority-maintenance.pdf">
    <div class="document-download-text">
        <p>Item 9 - Procurement Authority for the Maintenance of London Overground Trains</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 32KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.03 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/10-healthy-streets.pdf">
    <div class="document-download-text">
        <p>Item 10 - Healthy Streets Programme</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 1.30MB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 1.30 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/11-surface-asset-programme.pdf">
    <div class="document-download-text">
        <p>Item 11 - Surface Transport Asset Capital Programme</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 544KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.53 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/12-silvertown-tunnel.pdf">
    <div class="document-download-text">
        <p>Item 12 - Silvertown Tunnel</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 396KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.39 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/13-hlos-tfl-proposals.pdf">
    <div class="document-download-text">
        <p>Item 13 - High Level Output Specification (HLOS) - TfL Proposals for London</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 472KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.46 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/14-project-approvals.pdf">
    <div class="document-download-text">
        <p>Item 14 - Project Monitoring - Project Approvals</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 107KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.10 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/15-crossrail-transition.pdf">
    <div class="document-download-text">
        <p>Item 15 - Crossrail Transition Update</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 60KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.06 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/16-elizabeth-line.pdf">
    <div class="document-download-text">
        <p>Item 16 - Elizabeth Line - Increasing Service Frequency</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 43KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.04 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/17-crossrail-sponsor-board.pdf">
    <div class="document-download-text">
        <p>Item 17 - Crossrail Report on Sponsor Board Proceedings</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 25KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.02 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/18-crossrail-2.pdf">
    <div class="document-download-text">
        <p>Item 18 - Crossrail 2</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 44KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.04 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/19-forward-plan.pdf">
    <div class="document-download-text">
        <p>Item 19 - Member Suggestions for Future Agenda Discussions</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 69KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.07 -->
            
              </div>
            </div>
        </div>
 

   </div>
 <div class="expandable-box">

        <div class="content">
            <div class="always-visible">
                <a class="controls" href="javascript:void(0);">&nbsp;</a>
                <div class="accordion-heading">
                    28 June
                </div>
            </div>
            <div class="start-hidden">
                <div class="multi-document-download-container">
                

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/pic-20170628-agenda.pdf">
    <div class="document-download-text">
        <p>Agenda</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 241KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.24 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/pic-20170628-item03-minutes.pdf">
    <div class="document-download-text">
        <p>Item 3 - Minutes of the Meeting Held on 8 March 2017</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 53KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.05 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/pic-20170628-item04-actions-list.pdf">
    <div class="document-download-text">
        <p>Item 4 - Matters Arising and Actions List</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 95KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.09 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/pic-20170628-item05-inv-programme.pdf">
    <div class="document-download-text">
        <p>Item 5 - Quarterly Programmes and Investment Report</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 2.69MB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 2.69 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/pic-20170628-item06-project-monitoring.pdf">
    <div class="document-download-text">
        <p>Item 6 - Projects Monitoring and Project Approvals</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 275KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.27 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/pic-20170628-item07-lu-world-class-capacity.pdf">
    <div class="document-download-text">
        <p>Item 7 - London Underground World Class Capacity Sub Programme Review (corrected version)</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 607KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.59 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/pic-20170628-item08-lu-stations.pdf">
    <div class="document-download-text">
        <p>Item 8 - LU Stations</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 2.41MB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 2.41 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/pic-20170628-item09-lu-infrastructure-renewals.pdf">
    <div class="document-download-text">
        <p>Item 9 - London Underground Infrastructure Renewals Programme Authority Submission</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 629KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.61 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/pic-20170628-item10-surface-assets-programme.pdf">
    <div class="document-download-text">
        <p>Item 10 - Surface Asset Programme</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 1.04MB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 1.04 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/pic-20170628-item11-tfl-growth-fund.pdf">
    <div class="document-download-text">
        <p>Item 11 - TfL Growth Fund</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 599KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.58 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/pic-20170628-item12-rotherhithe-canary-wharf-crossing.pdf">
    <div class="document-download-text">
        <p>Item 12 - Rotherhithe to Canary Wharf Crossing</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 337KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.33 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/pic-20170628-item13-oxford-street.pdf">
    <div class="document-download-text">
        <p>Item 13 - Oxford Street</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 528KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.52 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/pic-20170628-item14-euro-vi-bus-nox.pdf">
    <div class="document-download-text">
        <p>Item 14 - Euro VI Bus NOx Abatement</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 175KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.17 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/pic-20170628-item15-taxi-zero-emission.pdf">
    <div class="document-download-text">
        <p>Item 15 - Taxi Delicensing and Zero Emission Capable Grant Schemes</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 112KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.11 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/pic-20170628-item16-elizabeth-line-transition.pdf">
    <div class="document-download-text">
        <p>Item 16 - Elizabeth Line Operations and Transition Update</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 680KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.66 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/pic-20170628-item17-crossrail-sponsor-board.pdf">
    <div class="document-download-text">
        <p>Item 17 - Crossrail - Report on Sponsor Board Proceedings</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 131KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.13 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/pic-20170628-item18-iipag-review.pdf">
    <div class="document-download-text">
        <p>Item 18 - Independent investment Programme Advisory Group - Review</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 595KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.58 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/pic-20170628-item19-garden-bridge-review.pdf">
    <div class="document-download-text">
        <p>Item 19 - Garden Bridge - TfL's Response to the Hodge Review</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 1.08MB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 1.08 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/pic-20170628-item20-gospel-oak-barking.pdf">
    <div class="document-download-text">
        <p>Item 20 - Gospel Oak to Barking Electrifiction Programme</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 235KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.23 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/pic-20170628-item22-forward-plan.pdf">
    <div class="document-download-text">
        <p>Item 22 - Member Suggestions for Future Agenda Discussions</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 310KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.30 -->
            
              </div>
            </div>
        </div>
 

   </div>
 <div class="expandable-box">

        <div class="content">
            <div class="always-visible">
                <a class="controls" href="javascript:void(0);">&nbsp;</a>
                <div class="accordion-heading">
                    13 October
                </div>
            </div>
            <div class="start-hidden">
                <div class="multi-document-download-container">
                

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/pic-20171013-agenda-cover.pdf">
    <div class="document-download-text">
        <p>Agenda</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 55KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.05 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/pic-20171013-agenda-item03-minutes.pdf">
    <div class="document-download-text">
        <p>Item 3 - Minutes of the Meeting Held on 28 June 2017</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 171KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.17 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/pic-20171013-agenda-item04-matters-arising.pdf">
    <div class="document-download-text">
        <p>Item 4 - Matters Arising and Actions List</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 106KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.10 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/pic-20171013-agenda-item05-investment-programme-q1.pdf">
    <div class="document-download-text">
        <p>Item 5 - Investment Programme Report - Quarter 1 - 2017/18</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 2.01MB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 2.01 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/pic-20171013-agenda-item06.pdf">
    <div class="document-download-text">
        <p>Item 6 - Project Monitoring - Programme and Project Approval</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 263KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.26 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/pic-20171013-agenda-item07.pdf">
    <div class="document-download-text">
        <p>Item 7 - Four Lines Modernisation Update</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 268KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.26 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/pic-20171013-agenda-item08.pdf">
    <div class="document-download-text">
        <p>Item 8 - Air Quality and Environment Programme</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 816KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.80 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/pic-20171013-agenda-item09.pdf">
    <div class="document-download-text">
        <p>Item 9 - Oxford Street Transformation Update</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 304KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.30 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/pic-20171013-agenda-item10.pdf">
    <div class="document-download-text">
        <p>Item 10 - Rotherhithe to Canary Wharf Crossing</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 103KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.10 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/pic-20171013-agenda-item11.pdf">
    <div class="document-download-text">
        <p>Item 11 - Additional new Rolling Stock for London Overground </p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 227KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.22 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/pic-20171013-agenda-item12.pdf">
    <div class="document-download-text">
        <p>Item 12 - Emergency Services Network</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 214KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.21 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/pic-20171013-agenda-item13.pdf">
    <div class="document-download-text">
        <p>item 13 - Elizabeth Line Operational Readiness and Integration</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 842KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.82 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/pic-20171013-agenda-item14.pdf">
    <div class="document-download-text">
        <p>Item 14 - Crossrail - Report on Sponsor Board Proceedings</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 135KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.13 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/pic-20171013-agenda-item15.pdf">
    <div class="document-download-text">
        <p>Item 15 - Crossrail 2</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 99KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.10 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/pic-20171013-agenda-item16.pdf">
    <div class="document-download-text">
        <p>Item 16 - IIPAG Review Implementation</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 341KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.33 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/pic-20171013-agenda-item17.pdf">
    <div class="document-download-text">
        <p>Item 17 - Member Suggestions for Future Agenda Discussions</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 203KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.20 -->
            
              </div>
            </div>
        </div>
 

   </div>
 <div class="expandable-box">

        <div class="content">
            <div class="always-visible">
                <a class="controls" href="javascript:void(0);">&nbsp;</a>
                <div class="accordion-heading">
                    12 December
                </div>
            </div>
            <div class="start-hidden">
                <div class="multi-document-download-container">
                

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/agenda.pdf">
    <div class="document-download-text">
        <p>Agenda </p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 52KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.05 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/pic-20171212-item03-draft-minutes.pdf">
    <div class="document-download-text">
        <p>Item 3 - Minutes of the Meeting held on 13 October 2017</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 58KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.06 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/pic-20171212-item04-actions.pdf">
    <div class="document-download-text">
        <p>Item 4 - Matters Arising, Actions List and Use of Chair's Action</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 54KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.05 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/pic-20171212-item05-q2-ipr.pdf">
    <div class="document-download-text">
        <p>Item 5 - Investment Programme Report - Quarter 2 2017/18</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 1.18MB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 1.18 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/pic-20171212-item06-project-monitoring.pdf">
    <div class="document-download-text">
        <p>Item 6 - Project Monitoring - Programme and Project Approvals</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 62KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.06 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/pic-20171212-item07-iipag-review-implementation.pdf">
    <div class="document-download-text">
        <p>Item 7 - Independent Investment Programme Advisory Group - Review Implementation </p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 76KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.07 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/pic-20171212-item08-growth-fund.pdf">
    <div class="document-download-text">
        <p>Item 8 - TfL Growth Fund</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 80KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.08 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/pic-20171212-item09-lifts-escalators.pdf">
    <div class="document-download-text">
        <p>Item 9 - Lifts and Escalators Procurement Authority Request</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 37KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.04 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/pic-20171212-item10-public-transport-portfolio.pdf">
    <div class="document-download-text">
        <p>Item 10 - Public Transport Portfolio</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 870KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.85 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/pic-20171212-item11-lo-rolling-stock-savings.pdf">
    <div class="document-download-text">
        <p>Item 11 - London Overground Rolling Stock Maintenance Savings</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 47KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.05 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/pic-20171212-item12-crossrail-sponsor-board.pdf">
    <div class="document-download-text">
        <p>Item 12 - Crossrail - Report on Sponsor Board Proceedings </p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 28KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.03 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/pic-20171212-item13-elizabeth-line.pdf">
    <div class="document-download-text">
        <p>Item 13 - Elizabeth Line Operational Readiness and Integration </p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 599KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.58 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/pic-20171212-item14-forward-work-plan.pdf">
    <div class="document-download-text">
        <p>Item 14 - Member Suggestions for Future Agenda Discussions</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 116KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.11 -->
            
              </div>
            </div>
        </div>
 

   </div>
 
</div>
 <h2> 2016 meeting papers</h2>






    


<div class="accordion">
<div class="expandable-box">

        <div class="content">
            <div class="always-visible">
                <a class="controls" href="javascript:void(0);">&nbsp;</a>
                <div class="accordion-heading">
                    30 November
                </div>
            </div>
            <div class="start-hidden">
                <div class="multi-document-download-container">
                

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/pic-161130-agenda.pdf">
    <div class="document-download-text">
        <p>Agenda</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 45KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.04 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/pic-161130-03-actions-list.pdf">
    <div class="document-download-text">
        <p>Item 3 - Matters Arising and Actions List</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 38KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.04 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/pic-161130-04-project-monitoring.pdf">
    <div class="document-download-text">
        <p>item 4 - Project Monitoring and Approvals</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 87KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.08 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/05-p1-sits-pas.pdf">
    <div class="document-download-text">
        <p>Item 5 - Surface Intelligent Transport Systems</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 74KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.07 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/pic-161130-06-p1-structures-and-tunnels.pdf">
    <div class="document-download-text">
        <p>Item 6 - Structures and Tunnels Investment Programme 2 - A40 Westway Structures Refurbishment </p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 2.68MB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 2.68 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/pic-161130-07-cycle-quietways.pdf">
    <div class="document-download-text">
        <p>Item 7 - Update on the Implementation of the Quietways and Cycle Superhighways Programmes</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 1.22MB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 1.22 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/pic-161130-08-cycle-superhighway-programme-authority.pdf">
    <div class="document-download-text">
        <p>Item 8 - Cycle Superhighways</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 86KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.08 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/pic-161130-09-crossrail-services-and-transition.pdf">
    <div class="document-download-text">
        <p>Item 9 - Crossrail Services and Transition</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 1.47MB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 1.47 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/pic-161130-10-p1-crossrail-sponsor-board.pdf">
    <div class="document-download-text">
        <p>Item 10 - Crossrail - Report on Sponsor Board Proceedings</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 28KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.03 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/pic-161130-11-forward-plan.pdf">
    <div class="document-download-text">
        <p>Item 11 - Members' Suggestions for Future Discussion Items</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 71KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.07 -->
            
              </div>
            </div>
        </div>
 

   </div>
 
</div>
 
      
        
          
        
      
    
  </div>
  <div class="aside" role="complementary">

   
    
    
    
      <div data-set="sidenav-container" class="large">
        
        
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
                <a href="/corporate/publications-and-reports/programmes-and-investment-committee" class="heading">
                    <h2 id="sub-menu-heading">Programmes & Investment committee<span class="visually-hidden"> navigation</span></h2>
                </a>
                <ul>
                    
                                <li class="selected"><div class="link-wrapper"><a href="/corporate/publications-and-reports/p-and-i-past-years">Papers - past years</a></div>
                            </li>
 
                </ul>
            
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
      </div>
    
    <div>




















<div class="advert-tile unsponsored-style google-ads" aria-hidden="true">
  <div class="advert-link">
    <div class="advert-content">
        <div class="medium-large" data-advert="/76889402/non-targeted" data-advert-sizes="300, 250"></div>
        <div class="small" data-advert="/76889402/non-targeted" data-advert-sizes="300, 250"></div>
    </div>
  </div>
</div>
@{
    ViewBag.AmazonSlot = "'amznslots'";
    ViewBag.AmazonAds = "'3199'"; // to add another value, this needs to be ViewBag.AmazonAds = "'3199','xx'";
}
      

 </div>
    
    <div data-set="sidenav-container" class="small-medium"></div>
  </div>
</div>
 
 
        
        
        
            @{ViewBag.Description = "Programmes & Investment papers from previous years";}
        
            
        


 