
    
  



@{ViewBag.Title = "Previous years";}
@{ViewBag.Keywords = "TfL,Expenditure, &pound;250, over";}
@{ViewBag.Url = "/corporate/publications-and-reports/previous-years";}
@{ViewBag.Language = "en";}
        <!-- empty placeholder -->
 
        
        
<div class="r">
    <div class="breadcrumb-container" role="navigation">
        <span id="breadcrumb-label" class="visually-hidden">You are here:</span>
        <ol class="breadcrumbs clearfix" aria-labelledby="breadcrumb-label">
            <li class="home">
                <a href="/">
                    <span class="hide-text">Home</span>
                </a>
            </li>
            
                 <li><a href="/corporate/publications-and-reports/index">Publications & reports</a></li>
                
            
                 <li><a href="/corporate/publications-and-reports/expenditure-over-250">Expenditure</a></li>
                
            
            
                <li><span class="last-breadcrumb">Previous years</span></li>
            
        
 
        
 
        
 
        </ol>
    </div>
</div>
     
 
<div class="r">
  <div class="headline-container plain">
    <h1>Previous years</h1>

  </div>
</div>
<div class="main-and-aside r">
  
  <div class="main content-container" role="main">
    
    <div class="on-this-page">
      
      
           
      
<div>




<h3>2018/2019</h3>
<div class="multi-document-download-container">
    

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/tflspend2019.pdf">
    <div class="document-download-text">
        <p>Payments greater than &pound;250: 1 April 2018 to 31 March 2019</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 10.47MB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 10.47 -->
 

<a class="document-download-wrap csv" href="/cdn/static/cms/documents/tflspend2019.csv">
    <div class="document-download-text">
        <p>Payments greater than &pound;250: 1 April 2018 to 31 March 2019</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            CSV 23.27MB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 23.27 -->
 
</div>

</div>
 
<div>




<h3>2017/2018</h3>
<div class="multi-document-download-container">
    

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/tflspend2018.pdf">
    <div class="document-download-text">
        <p>Payments greater than &pound;250: 1 April 2017 - 31 March 2018</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 12.17MB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 12.17 -->
 

<a class="document-download-wrap csv" href="/cdn/static/cms/documents/tflspend2018.csv">
    <div class="document-download-text">
        <p>Payments greater than &pound;250: 1 April 2017 - 31 March 2018</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            CSV 19.19MB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 19.19 -->
 
</div>

</div>
 
<div>




<h3>2016/2017</h3>
<div class="multi-document-download-container">
    

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/tflspend2017.pdf">
    <div class="document-download-text">
        <p>Payments greater than &pound;250:  1 April 2016 - 31 March 2017</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 15.09MB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 15.09 -->
 

<a class="document-download-wrap csv" href="/cdn/static/cms/documents/tflspend2017.csv">
    <div class="document-download-text">
        <p>Payments greater than &pound;250:  1 April 2016 - 31 March 2017</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            CSV 25.27MB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 25.27 -->
 
</div>

</div>
 
<div>




<h3>2015/2016 </h3>
<div class="multi-document-download-container">
    

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/tflspend2016.pdf">
    <div class="document-download-text">
        <p>Payments greater than &pound;250: 1 April 2015 - 31 March 2016</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 16.04MB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 16.04 -->
 

<a class="document-download-wrap csv" href="/cdn/static/cms/documents/tflspend2016.csv">
    <div class="document-download-text">
        <p>Payments greater than &pound;250: 1 April 2015 - 31 March 2016</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            CSV 27.55MB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 27.55 -->
 
</div>

</div>
 
      
        
          
            @this.ScriptBlock(
              @<script>
                queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
              </script>
            )
          
        
      
    </div>
  </div>
  <div class="aside" role="complementary">

   
    
    
    
      <div data-set="sidenav-container" class="large">
        
        
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
                <a href="/corporate/publications-and-reports/expenditure-over-250" class="heading">
                    <h2 id="sub-menu-heading">Expenditure<span class="visually-hidden"> navigation</span></h2>
                </a>
                <ul>
                    
                                <li class="selected"><div class="link-wrapper"><a href="/corporate/publications-and-reports/previous-years">Previous years</a></div>
                            </li>
 
                </ul>
            
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
      </div>
    
    <div>




















<div class="advert-tile unsponsored-style google-ads" aria-hidden="true">
  <div class="advert-link">
    <div class="advert-content">
        <div class="medium-large" data-advert="/76889402/non-targeted" data-advert-sizes="300, 250"></div>
        <div class="small" data-advert="/76889402/non-targeted" data-advert-sizes="300, 250"></div>
    </div>
  </div>
</div>
@{
    ViewBag.AmazonSlot = "'amznslots'";
    ViewBag.AmazonAds = "'3199'"; // to add another value, this needs to be ViewBag.AmazonAds = "'3199','xx'";
}
      

 </div>
    
    <div data-set="sidenav-container" class="small-medium"></div>
  </div>
</div>
 
 
        
        
        
            @{ViewBag.Description = "expenditure over £250";}
        
            
        


 