
    
  



@{ViewBag.Title = "Procurement information";}
@{ViewBag.Keywords = "Businesses,Media,Online developers,Suppliers,P,Contract,Corporate information,Policy,,TfL";}
@{ViewBag.Url = "/corporate/publications-and-reports/procurement-information";}
@{ViewBag.Language = "en";}
        <!-- empty placeholder -->
 
        
        
<div class="r">
    <div class="breadcrumb-container" role="navigation">
        <span id="breadcrumb-label" class="visually-hidden">You are here:</span>
        <ol class="breadcrumbs clearfix" aria-labelledby="breadcrumb-label">
            <li class="home">
                <a href="/">
                    <span class="hide-text">Home</span>
                </a>
            </li>
            
                 <li><a href="/corporate/publications-and-reports/index">Publications & reports</a></li>
                
            
            
                <li><span class="last-breadcrumb">Procurement information</span></li>
            
        
 
        
 
        </ol>
    </div>
</div>
     
 
<div class="r">
  <div class="headline-container plain">
    <h1>Procurement information</h1>

  </div>
</div>
<div class="main-and-aside r">
  
  <div class="main content-container" role="main">
    
      <div class="article-teaser">
        Find information about our procurement processes and related policies, and overall guidance about being one of our suppliers. 
        
      </div>
    
    <div class="on-this-page">
      
      
           
      
<div>



<h2>TfL supplier guide</h2>


<p>This guide covers everything you need to know about working with us. It covers the tendering process, what our priorities are, and what we want from our suppliers. </p>
<div class="multi-document-download-container">
    

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/supplier-guide-pdf.pdf">
    <div class="document-download-text">
        <p>A guide for our suppliers</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 1.54MB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 1.54 -->
 
</div>

</div>
 
<div>





<div class="multi-document-download-container">
    
</div>

</div>
 
<div>



<h2>Invoice payment</h2>



<div class="multi-document-download-container">
    

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/help-us-pay-your-invoices-on-time.pdf">
    <div class="document-download-text">
        <p>Help us pay your invoices on time</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 828KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.81 -->
 
</div>

</div>
 
<div>



<h2>Terms and conditions</h2>


<p><a href="https://www.london.gov.uk/about-us/governance-and-spending/spending-money-wisely/contracts-and-grants">Read the standard GLA Purchase Order Conditions of Contract on the GLA website</a>.</p>
<div class="multi-document-download-container">
    

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/lul-po-conditions-of-contract.pdf">
    <div class="document-download-text">
        <p>LUL PO Conditions of Contract</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 559KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.55 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/tfl-standard-purchase-order-terms-and-conditions.pdf">
    <div class="document-download-text">
        <p>TfL Standard PO Terms & Conditions </p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 387KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.38 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/contract-for-services.pdf">
    <div class="document-download-text">
        <p>TfL Standard Contract for Services </p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 474KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.46 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/work-related-road-risk-requirements.pdf">
    <div class="document-download-text">
        <p>Work Related Road Risk requirements</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 157KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.15 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/nec-template-access-terms.pdf">
    <div class="document-download-text">
        <p>Template LUL Access Requirements (NEC contracts)</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 1.03MB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 1.03 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/non-nec-template-access-terms.pdf">
    <div class="document-download-text">
        <p>Template LUL Access Requirements (Non-NEC contracts)</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 874KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.85 -->
 
</div>

</div>
 
<div>



<h2>Responsible procurement</h2>



<div class="multi-document-download-container">
    

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/tfl-ethical-sourcing-policy.pdf">
    <div class="document-download-text">
        <p>Ethical sourcing policy</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 77KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.07 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/tfl-sustainable-timber-policy.pdf">
    <div class="document-download-text">
        <p>Sustainable timber policy</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 74KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.07 -->
 
</div>

</div>
 
<div>



<h2>Registering as a supplier and maintaining vendor data</h2>



<div class="multi-document-download-container">
    

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/supplier-registration-and-maintaining-vendor-data.pdf">
    <div class="document-download-text">
        <p>Guidance on registering as a supplier and maintaining vendor data</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 3.43MB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 3.43 -->
 
</div>

</div>
 
<div>



<h2>eP2P on boarding pack</h2>



<div class="multi-document-download-container">
    

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/ep2p-vendor-handbook.pdf">
    <div class="document-download-text">
        <p>eP2P vendor handbook</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 735KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.72 -->
 

<a class="document-download-wrap docx" href="/cdn/static/cms/documents/ep2p-supplier-questionnaire.docx">
    <div class="document-download-text">
        <p>eP2P supplier questionnaire</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            DOCX 202KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.20 -->
 

<a class="document-download-wrap xml" href="/cdn/static/cms/documents/inv-e-bis-sample.xml">
    <div class="document-download-text">
        <p>eBIS-XML invoice template</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            XML 7KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.01 -->
 

<a class="document-download-wrap xls" href="/cdn/static/cms/documents/tfl-etrading-excel-invoice-template.xls">
    <div class="document-download-text">
        <p>Excel invoice template</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            XLS 416KB
            
        </p>
    </div>
    <div class="document-download-icon download-spread">
    </div>

</a>

<!-- 0.41 -->
 

<a class="document-download-wrap xml" href="/cdn/static/cms/documents/invres-18000064-20120221-112835-908.xml">
    <div class="document-download-text">
        <p>Sample invoice response file (1)</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            XML 2KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.00 -->
 

<a class="document-download-wrap xml" href="/cdn/static/cms/documents/invres-18000077-20111102-085626-697.xml">
    <div class="document-download-text">
        <p>Sample invoice response (2)</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            XML 1KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.00 -->
 

<a class="document-download-wrap xml" href="/cdn/static/cms/documents/invres-18000077-20111102-113006-295.xml">
    <div class="document-download-text">
        <p>Sample invoice response (3)</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            XML 1KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.00 -->
 

<a class="document-download-wrap xml" href="/cdn/static/cms/documents/invres-18000077-20111104-091314-053.xml">
    <div class="document-download-text">
        <p>Sample invoice response (4)</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            XML 1KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.00 -->
 

<a class="document-download-wrap xml" href="/cdn/static/cms/documents/e-orders-0010000722-20101108-105426-387.xml">
    <div class="document-download-text">
        <p>Sample file: purchase order</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            XML 3KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.00 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/open-catalog-interface-business-to-business.pdf">
    <div class="document-download-text">
        <p>Reference document: OCI catalogue interface</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 315KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.31 -->
 
</div>

</div>
 
      
        
          
            @this.ScriptBlock(
              @<script>
                queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
              </script>
            )
          
        
      
    </div>
  </div>
  <div class="aside" role="complementary">

   
    
    
    
    <div>
















<div class="advert-tile unsponsored-style google-ads" aria-hidden="true">
  <div class="advert-link">
    <div class="advert-content">
        <div class="medium-large" data-advert="/76889402/non-targeted" data-advert-sizes="300, 250"></div>
        <div class="small" data-advert="/76889402/non-targeted" data-advert-sizes="300, 250"></div>
    </div>
  </div>
</div>
@{
    ViewBag.AmazonSlot = "'amznslots'";
    ViewBag.AmazonAds = "'3199'"; // to add another value, this needs to be ViewBag.AmazonAds = "'3199','xx'";
}
      

 </div>
    
      <div class="module-grid clearfix">
                    
        <div class="related-links">

    <h3>Also on this site</h3>

<div class="vertical-button-container">

<a href="/corporate/publications-and-reports/contracts-greater-than-5000" class="plain-button">Contracts over £5,000</a>
<a href="/corporate/publications-and-reports/contract-opportunities" class="plain-button">Contract opportunities</a>
    </div>
</div>
 
      </div>
    
    <div data-set="sidenav-container" class="small-medium"></div>
  </div>
</div>
 
 
        
        
        
            @{ViewBag.Description = "Our procurement processes and related policies (eg on sustainable sourcing) are explained in a series of PDFs  ";}
        
            
        


 