
    
  


<!-- rhroot -->
@{ViewBag.Title = "Projects & Planning panel";}
@{ViewBag.Keywords = "Planning and construction,Public,C,P,Committee and panel meetings,TfL";}
@{ViewBag.Url = "/corporate/publications-and-reports/projects-and-planning-panel";}
@{ViewBag.Language = "en";}
        <!-- empty placeholder -->
 
        
        
<div class="r">
    <div class="breadcrumb-container" role="navigation">
        <span id="breadcrumb-label" class="visually-hidden">You are here:</span>
        <ol class="breadcrumbs clearfix" aria-labelledby="breadcrumb-label">
            <li class="home">
                <a href="/">
                    <span class="hide-text">Home</span>
                </a>
            </li>
            
                 <li><a href="/corporate/publications-and-reports/index">Publications & reports</a></li>
                
            
            
                <li><span class="last-breadcrumb">Projects & Planning panel</span></li>
            
        
 
        
 
        </ol>
    </div>
</div>
     
 
<div class="r">
  <div class="headline-container plain">
    <h1>Projects & Planning panel</h1>

  </div>
</div>
<div class="main-and-aside r">
  
  <div class="main content-container" role="main">
    
      <div class="article-teaser">
        The Panel monitors the delivery of the TfL Investment Programme and considers the Integrated Assurance Reviews of projects that require project or procurement authorities from the Finance and Policy Committee or the Board. It also considers strategic planning issues and provides advice on project management and scrutiny.
        
      </div>
    
    
      <p>From 1 April 2014 the Projects and Planning panel ceased to exist. Its items of business were submitted to the <a href="/corporate/publications-and-reports/finance-committee">Finance and Policy committee (now the Finance committee)</a>.</p>
<p><strong>Members:</strong> Isabel Dedring (Chair), Daniel Moylan (Vice Chair), Sir John Armitt, Roger Burnley, Baroness Grey-Thompson, Angela Knight</p>
      
           
      <h2> 2014 meeting papers</h2>






    


<div class="accordion">
<div class="expandable-box">

        <div class="content">
            <div class="always-visible">
                <a class="controls" href="javascript:void(0);">&nbsp;</a>
                <div class="accordion-heading">
                    26 February
                </div>
            </div>
            <div class="start-hidden">
                <div class="multi-document-download-container">
                

<a class="document-download-wrap rtf" href="/cdn/static/cms/documents/ppp-20140226-item00-agenda.rtf">
    <div class="document-download-text">
        <p>Agenda</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            RTF 177KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.17 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/ppp-20140226-item00-agenda.pdf">
    <div class="document-download-text">
        <p>Agenda</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 28KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.03 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/ppp-20140226-item02-minutes-20140109.pdf">
    <div class="document-download-text">
        <p>Item 2 - Minutes of the Meeting held on 9 January 2014</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 20KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.02 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/ppp-20140226-item03-action-list.pdf">
    <div class="document-download-text">
        <p>Item 3 - Matters Arising and Actions List</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 14KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.01 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/ppp-20140226-item04-future-ticketing.pdf">
    <div class="document-download-text">
        <p>Item 4 - The Future of London's Ticketing Technology</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 117KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.11 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/ppp-20140226-item05-electra.pdf">
    <div class="document-download-text">
        <p>Item 5 - Procurement of the Revenue Collection System and Services</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 23KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.02 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/ppp-20140226-item06-ip-report-q3-2013-14.pdf">
    <div class="document-download-text">
        <p>Item 6 - TfL Investment Programme Report - Third Quarter 2013/14</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 6.73MB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 6.73 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/ppp-20140226-item07-project-monitoring.pdf">
    <div class="document-download-text">
        <p>Item 7 - Project Monitoring - Project Approvals</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 87KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.08 -->
            
              </div>
            </div>
        </div>
 

   </div>
 <div class="expandable-box">

        <div class="content">
            <div class="always-visible">
                <a class="controls" href="javascript:void(0);">&nbsp;</a>
                <div class="accordion-heading">
                    09 January
                </div>
            </div>
            <div class="start-hidden">
                <div class="multi-document-download-container">
                

<a class="document-download-wrap rtf" href="/cdn/static/cms/documents/ppp-20140109-item00-agenda.rtf">
    <div class="document-download-text">
        <p>Agenda</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            RTF 174KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.17 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/ppp-20140109-item00-agenda.pdf">
    <div class="document-download-text">
        <p>Agenda</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 36KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.04 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/ppp-20140109-item02-minutes-nov-2013.pdf">
    <div class="document-download-text">
        <p>Item 2 - Minutes of the Meeting held on 13 November 2013</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 30KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.03 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/ppp-20140109-item03-action-list.pdf">
    <div class="document-download-text">
        <p>Item 3 - Matters Arising and Actions List</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 23KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.02 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/ppp-20140109-item04-invest-londons-roads.pdf">
    <div class="document-download-text">
        <p>Item 4 - Investing in London's Road Network</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 393KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.38 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/ppp-20140109-item05-project-monitoring.pdf">
    <div class="document-download-text">
        <p>Item 5 - Project Monitoring - Project Approvals</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 91KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.09 -->
            
              </div>
            </div>
        </div>
 

   </div>
 
</div>
 <div class="accordion">




<div class="expandable-box">




        <div class="content">
            <div class="always-visible" role="button" aria-controls="2013-content" aria-expanded="false" tabindex="0">
                <div class="controls" data-tracking="prop36" data-tracking-value="Projects & Planning panel-2013"><span class="visually-hidden">Toggle accordion</span></div>
                <div id="2013-heading" class="accordion-heading">2013</div>
            </div>
            <div id="2013-content" class="start-hidden" role="region" aria-labelledby="2013-heading">

        <p><strong>Members:</strong> Isabel Dedring (Chair), Daniel Moylan (Vice Chair), Sir John
        Armitt, Roger Burnley, Christopher Garnett, Baroness Grey-Thompson,
        Patrick O'Keeffe</p>
        <h3>13 November</h3>
        <p>
        <a href="/cdn/static/cms/documents/PPP-20131113-Item00-Agenda.rtf">Agenda - RTF version (RTF 0.17MB)</a><br />
        <a href="/cdn/static/cms/documents/PPP-20131113-Item00-Agenda.pdf">Agenda (PDF 0.04MB)</a><br />
        <a href="/cdn/static/cms/documents/PPP-20131113-Item02-20131003-Minutes.pdf">Item 2 - Minutes of the Meeting held on 3 October 2013 (PDF 0.03MB)</a><br />
        <a href="/cdn/static/cms/documents/PPP-20131113-Item03-Action-List.pdf">Item 3 - Matters Arising and Actions List (PDF 0.02MB)</a><br />
        <a href="/cdn/static/cms/documents/PPP-20131113-Item04-IP-Report-Q2-2013-14.pdf">Item 4 - TfL Investment Programme Report - Second Quarter 2013/14 (PDF 1.31MB)</a><br />
        <a href="/cdn/static/cms/documents/PPP-20131113-Item05-Project-Mgmt-Maturity.pdf">Item 5 - Project Management Maturity (PDF 0.43MB)</a><br />
        <a href="/cdn/static/cms/documents/PPP-20131113-Item06-Business-Case-Development.pdf">Item 6 - Business Case Development (PDF 0.03MB)</a><br />
        <a href="/cdn/static/cms/documents/PPP-20131113-Item07-Project-Monitoring-Project-Approvals.pdf">Item 7 - Project Monitoring - Project Approvals (PDF 0.07MB)</a></p>
        <h3>03 October</h3>
        <p>
        <a href="/cdn/static/cms/documents/PPP-20131003-Item00-Agenda.rtf">Agenda - RTF version (RTF 0.17MB)</a><br />
        <a href="/cdn/static/cms/documents/PPP-20131003-Item00-Agenda.pdf">Agenda (PDF 0.02MB)</a><br />
        <a href="/cdn/static/cms/documents/PPP-20131003-Item02-8-May-2013-Minutes.pdf">Item 2 - Minutes of the Meeting held on 8 May 2013 (PDF 0.02MB)</a><br />
        <a href="/cdn/static/cms/documents/PPP-20131003-Item03-Action-List.pdf">Item 3 - Matters Arising and Actions List (PDF 0.02MB)</a><br />
        <a href="/cdn/static/cms/documents/PPP-20131003-Item04-Project-Monitoring.pdf">Item 4 - Project Monitoring - Project Approvals (PDF 0.06MB)</a></p>
        <h3>08 May</h3>
        <p>
        <a href="/cdn/static/cms/documents/PPP-Agenda-8-May-2013.rtf">Agenda - RTF version (RTF 0.17MB)</a><br />
        <a href="/cdn/static/cms/documents/PPP-Agenda-8-May-2013.pdf">Agenda (PDF 0.02MB)</a><br />
        <a href="/cdn/static/cms/documents/Item02-PPP-Minutes-26-02-13.pdf">Item 2 - Minutes of the Meeting held on 26 February 2013 (PDF 0.02MB)</a><br />
        <a href="/cdn/static/cms/documents/Item03-PPP-Action-List-May-13.pdf">Item 3 - Matters Arising and Actions List (PDF 0.01MB)</a><br />
        <a href="/cdn/static/cms/documents/Item04-TfL-Pathway-PPP-May-2013.pdf">Item 4 - TfL Pathway (PDF 0.24MB)</a><br />
        <a href="/cdn/static/cms/documents/Item05-IP-Report-Q4-2012-13.pdf">Item 5 - TfL Investment Programme Report - Fourth Quarter 2012/13 (PDF 0.53MB)</a><br />
        <a href="/cdn/static/cms/documents/Item06-Project-Approvals-May-2013.pdf">Item 6 - Project Monitoring - Project Approvals (PDF 0.11MB)</a></p>
        <h3>26 February</h3>
        <p>
        <a href="/cdn/static/cms/documents/PPP-Agenda-26-Feb-2013.rtf">Agenda - RTF version (RTF 0.17MB)</a><br />
        <a href="/cdn/static/cms/documents/PPP-Agenda-26-Feb-2013.pdf">Agenda (PDF 0.02MB)</a><br />
        <a href="/cdn/static/cms/documents/Item02-PPP-Minutes-08-01-13.pdf">Item 2 - Minutes of the Meeting held on 8 January 2013 (PDF 0.02MB)</a><br />
        <a href="/cdn/static/cms/documents/Item03-PPP-Action-List-Feb-13.pdf">Item 3 - Matters Arising and Actions List (PDF 0.01MB)</a><br />
        <a href="/cdn/static/cms/documents/Item04-TfL-Sponsorship-Capability-Dev-Prog-Feb-13.pdf">Item 4 - TfL Sponsorship Capability Development Programme (PDF 0.13MB)</a><br />
        <a href="/cdn/static/cms/documents/Item05-Project-Approvals-Feb-2013.pdf">Item 5 - Project Monitoring - Project Approvals (PDF 0.05MB)</a></p>
        <h3>08 January</h3>
        <p>
        <a href="/cdn/static/cms/documents/PPP-Agenda-8-Jan-2013.rtf">Agenda - RTF version (RTF 0.17MB)</a><br />
        <a href="/cdn/static/cms/documents/PPP-Agenda-8-Jan-2013.pdf">Agenda (PDF 0.02MB)</a><br />
        <a href="/cdn/static/cms/documents/Item02-PPP-Minutes-27-11-12.pdf">Item 2 - Minutes of the Meeting held on 27 November 2012 (PDF 0.02MB)</a><br />
        <a href="/cdn/static/cms/documents/Item03-PPP-Action-List-Jan-13.pdf">Item 3 - Matters Arising and Actions List (PDF 0.01MB)</a><br />
        <a href="/cdn/static/cms/documents/Item04-Review-of-Project-Sponsorship.pdf">Item 4 - Review of Project Sponsorship in TfL (PDF 0.61MB)</a><br />
        <a href="/cdn/static/cms/documents/Item05-Project-Monitoring-Project-Approvals.pdf">Item 5 - Project Monitoring - Project Approvals (PDF 0.06MB)</a></p>
    

            </div>
        </div>
    </div>
 <div class="expandable-box">




        <div class="content">
            <div class="always-visible" role="button" aria-controls="2012-content" aria-expanded="false" tabindex="0">
                <div class="controls" data-tracking="prop36" data-tracking-value="Projects & Planning panel-2012"><span class="visually-hidden">Toggle accordion</span></div>
                <div id="2012-heading" class="accordion-heading">2012</div>
            </div>
            <div id="2012-content" class="start-hidden" role="region" aria-labelledby="2012-heading">

        <h3>27 November</h3>
        <p>
        <a href="/cdn/static/cms/documents/PPP-Agenda-27-Nov-2012.rtf">Agenda - RTF version (RT F 0.17MB)</a><br />
        <a href="/cdn/static/cms/documents/PPP-Agenda-27-Nov-2012.pdf">Agenda (PDF 0.02MB)</a><br />
        <a href="/cdn/static/cms/documents/Item02-PPP-Minutes-03-10-12.pdf">Item 2 - Minutes of the Meeting held on 3 October 2012 (PDF 0.01MB)</a><br />
        <a href="/cdn/static/cms/documents/Item03-PPP-Action-List-Nov-12.pdf">Item 3 - Matters Arising and Actions List (PDF 0.01MB)</a><br />
        <a href="/cdn/static/cms/documents/Item04-IP-Report-Q2-2012-13.pdf">Item 4 - TfL Investment Programme Report - Second Quarter 2012/13 (PDF 0.61MB)</a><br />
        <a href="/cdn/static/cms/documents/Item05-Project-Approvals-Nov-2012.pdf">Item 5 - Project Monitoring - Project Approvals (PDF 0.07MB)</a></p>
        <h3>03 October</h3>
        <p>
        <a href="/cdn/static/cms/documents/PPP-Agenda-3-Oct-2012.rtf">Agenda - RTF version (RT F 0.17MB)</a><br />
        <a href="/cdn/static/cms/documents/PPP-Agenda-3-Oct-2012.pdf">Agenda (PDF 0.02MB)</a><br />
        <a href="/cdn/static/cms/documents/Item02-PPP-Minutes-11-07-12.pdf">Item 2 - Minutes of the Meeting held on 11 July 2012 (PDF 0.01MB)</a><br />
        <a href="/cdn/static/cms/documents/Item03-PPP-Action-List-Oct-12.pdf">Item 3 - Matters Arising and Actions List (PDF 0.01MB)</a><br />
        <a href="/cdn/static/cms/documents/Item04-Project-Approvals-Oct-2012.pdf">Item 4 - Project Monitoring - Project Approvals (PDF 0.06MB)</a></p>
        <h3>11 July</h3>
        <p>
        <a href="/cdn/static/cms/documents/PPP-Agenda-11-July-2012.rtf">Agenda - RTF version (RT F 0.17MB)</a><br />
        <a href="/cdn/static/cms/documents/PPP-Agenda-11-July-2012.pdf">Agenda (PDF 0.02MB)</a><br />
        <a href="/cdn/static/cms/documents/Item02-PPP-Minutes-31-05-12.pdf">Item 2 - Minutes of the Meeting held on 31 May 2012 (PDF 0.01MB)</a><br />
        <a href="/cdn/static/cms/documents/Item03-PPP-Action-List-July-12.pdf">Item 3 - Matters Arising and Actions List (PDF 0.01MB)</a><br />
        <a href="/cdn/static/cms/documents/Item04-Project-Approvals-July-12.pdf">Item 4 - Project Monitoring - Project Approvals (PDF 0.07MB)</a></p>
        <h3>31 May</h3>
        <p>
        <a href="/cdn/static/cms/documents/PPP-Agenda-31May2012.rtf">Agenda - RTF version (RT F 0.16MB)</a><br />
        <a>Agenda (PDF MB)</a><br />
        <a href="/cdn/static/cms/documents/Item02-IP-Report-Q4-2011-12.pdf">Item 2 - Investment Programme Report - Fourth Quarter 2011/12 (PDF 0.49MB)</a><br />
        <a href="/cdn/static/cms/documents/Item03-Project-Approvals.pdf">Item 3 - Project Monitoring - Project Approvals (PDF 0.07MB)</a></p>
    

            </div>
        </div>
    </div>
 
</div>
 
      
        
          
        
      
    
  </div>
  <div class="aside" role="complementary">

   
    
    
    
      <div data-set="sidenav-container" class="large">
        
        
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
                <a href="/corporate/publications-and-reports/projects-and-planning-panel" class="heading">
                    <h2 id="sub-menu-heading">Projects & Planning panel<span class="visually-hidden"> navigation</span></h2>
                </a>
                <ul>
                    
                </ul>
            
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
      </div>
    
    <div>
















<div class="advert-tile unsponsored-style google-ads" aria-hidden="true">
  <div class="advert-link">
    <div class="advert-content">
        <div class="medium-large" data-advert="/76889402/non-targeted" data-advert-sizes="300, 250"></div>
        <div class="small" data-advert="/76889402/non-targeted" data-advert-sizes="300, 250"></div>
    </div>
  </div>
</div>
@{
    ViewBag.AmazonSlot = "'amznslots'";
    ViewBag.AmazonAds = "'3199'"; // to add another value, this needs to be ViewBag.AmazonAds = "'3199','xx'";
}
      

 </div>
    
      <div class="module-grid clearfix">
                    
        <div class="related-links">

    <h3>Also on this site</h3>

<div class="vertical-button-container">

<a href="/corporate/publications-and-reports/board-papers" class="plain-button">Board papers</a>
<a href="/corporate/publications-and-reports/standing-orders" class="plain-button">Standing orders</a>
    </div>
</div>
 
      </div>
    
    <div data-set="sidenav-container" class="small-medium"></div>
  </div>
</div>
 
 
        
        
        
            @{ViewBag.Description = "Agendas and minutes from Projects & planning panel meetings (dissolved 2014)";}
        
            
        


 