
    
  



@{ViewBag.Title = "Quarterly performance reports";}
@{ViewBag.Keywords = "Investors,Public,Q,Corporate information,Finance,Performance,Regular reports,TfL";}
@{ViewBag.Url = "/corporate/publications-and-reports/quarterly-progress-reports";}
@{ViewBag.Language = "en";}
        <!-- empty placeholder -->
 
        
        
<div class="r">
    <div class="breadcrumb-container" role="navigation">
        <span id="breadcrumb-label" class="visually-hidden">You are here:</span>
        <ol class="breadcrumbs clearfix" aria-labelledby="breadcrumb-label">
            <li class="home">
                <a href="/">
                    <span class="hide-text">Home</span>
                </a>
            </li>
            
                 <li><a href="/corporate/publications-and-reports/index">Publications & reports</a></li>
                
            
            
                <li><span class="last-breadcrumb">Quarterly performance reports</span></li>
            
        
 
        
 
        </ol>
    </div>
</div>
     
 
<div class="r">
  <div class="headline-container plain">
    <h1>Quarterly performance reports</h1>

  </div>
</div>
<div class="main-and-aside r">
  
  <div class="main content-container" role="main">
    
      <div class="article-teaser">
        We produce quarterly progress reports to the Board on the operational and financial performance of the TfL Group, and on the delivery and budget performance of the TfL Investment Programme.
        
      </div>
    
    
      
      
           
      
<div>



<h2>Financial year 2019/20</h2>



<div class="multi-document-download-container">
    

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/qpr-3-2019-20.pdf">
    <div class="document-download-text">
        <p>Quarter 3</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 1.80MB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 1.80 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/quarterly-performance-report-q2-sp-final.pdf">
    <div class="document-download-text">
        <p>Quarter 2</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 2.83MB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 2.83 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/quarterly-performance-report-q1-sp-final.pdf">
    <div class="document-download-text">
        <p>Quarter 1</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 3.34MB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 3.34 -->
 
</div>

</div>
 
<div>



<h2>Financial year 2018/19</h2>



<div class="multi-document-download-container">
    

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/q4-qpr-final.pdf">
    <div class="document-download-text">
        <p>Quarter 4</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 1.84MB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 1.84 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/q3-qpr-final.pdf">
    <div class="document-download-text">
        <p>Quarter 3</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 2.29MB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 2.29 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/q2-qpr-final.pdf">
    <div class="document-download-text">
        <p>Quarter 2</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 4.67MB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 4.67 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/tfl-quarterly-performance-report-q1-2018-19.pdf">
    <div class="document-download-text">
        <p>Quarter 1</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 2.20MB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 2.20 -->
 
</div>

</div>
 
<div>



<h2>Financial year 2017/18</h2>



<div class="multi-document-download-container">
    

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/tfl-quarterly-performance-report-q4-2017-18.pdf">
    <div class="document-download-text">
        <p>Quarter 4</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 4.57MB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 4.57 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/qpr-q3.pdf">
    <div class="document-download-text">
        <p>Quarter 3</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 4.41MB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 4.41 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/quarterly-performance-report-q2-2017-18.pdf">
    <div class="document-download-text">
        <p>Quarter 2</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 6.39MB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 6.39 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/quarterly-performance-report-q1-2017-18.pdf">
    <div class="document-download-text">
        <p>Quarter 1</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 3.82MB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 3.82 -->
 
</div>

</div>
 
<div>



<h2>Financial year 2016/17</h2>



<div class="multi-document-download-container">
    

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/q1-2016-17-quarterly-report.pdf">
    <div class="document-download-text">
        <p>Quarter 1</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 4.74MB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 4.74 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/q2-2016-17-quarterly-report.pdf">
    <div class="document-download-text">
        <p>Quarter 2</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 4.38MB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 4.38 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/q3-16-17-quarterly-performance-report.pdf">
    <div class="document-download-text">
        <p>Quarter 3</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 5.28MB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 5.28 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/q4-16-17-quarterly-performance-reports.pdf">
    <div class="document-download-text">
        <p>Quarter 4</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 4.56MB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 4.56 -->
 
</div>

</div>
 
<div>



<h2>Financial year 2015/16</h2>



<div class="multi-document-download-container">
    

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/q1-2015-16-quarterly-report.pdf">
    <div class="document-download-text">
        <p>Quarter 1 </p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 4.51MB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 4.51 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/q2-2015-16-quarterly-report.pdf">
    <div class="document-download-text">
        <p>Quarter 2</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 4.02MB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 4.02 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/q3-2015-16-quarterly-report.pdf">
    <div class="document-download-text">
        <p>Quarter 3</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 1.94MB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 1.94 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/q4-2015-16-quarterly-report.pdf">
    <div class="document-download-text">
        <p>Quarter 4</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 6.31MB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 6.31 -->
 
</div>

</div>
 
<div>



<h2>Financial year 2014/15</h2>



<div class="multi-document-download-container">
    

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/q1-2014-15-operational-and-financial-performance-report.pdf">
    <div class="document-download-text">
        <p>Quarter 1</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 3.91MB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 3.91 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/q2-2014-15-operational-and-financial-performance-report.pdf">
    <div class="document-download-text">
        <p>Quarter 2</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 5.12MB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 5.12 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/q3-2014-15-quarterly-report.pdf">
    <div class="document-download-text">
        <p>Quarter 3</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 3.85MB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 3.85 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/q4-2014-15-quarterly-report.pdf">
    <div class="document-download-text">
        <p>Quarter 4</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 3.80MB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 3.80 -->
 
</div>

</div>
 
<div>



<h2>Financial year 2013/14</h2>



<div class="multi-document-download-container">
    

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/q1-2013-14-operational-and-financial-performance-report.pdf">
    <div class="document-download-text">
        <p>Q1</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 1.39MB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 1.39 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/q2-2013-14-operational-and-financial-performance-report.pdf">
    <div class="document-download-text">
        <p>Q2</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 1.45MB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 1.45 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/q3-2013-14-operational-and-financial-performance-report.pdf">
    <div class="document-download-text">
        <p>Q3</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 812KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.79 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/q4-2013-14-operational-and-financial-performance-report.pdf">
    <div class="document-download-text">
        <p>Q4</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 16.49MB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 16.49 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/operational-and-financial-performance.pdf">
    <div class="document-download-text">
        <p>Operational & financial performance: Final results</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 160KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.16 -->
 

<a class="document-download-wrap xlsx" href="/cdn/static/cms/documents/financial-tables-2013-14.xlsx">
    <div class="document-download-text">
        <p>Financial tables</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            XLSX 685KB
            
        </p>
    </div>
    <div class="document-download-icon download-spread">
    </div>

</a>

<!-- 0.67 -->
 
</div>

</div>
 
<div>



<h2>Financial year 2012/13</h2>



<div class="multi-document-download-container">
    

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/operational-and-financial-performance-report-q1-2012-13.pdf">
    <div class="document-download-text">
        <p>Q1</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 745KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.73 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/q2-2012-13-operational-and-financial-performance-report.pdf">
    <div class="document-download-text">
        <p>Q2</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 847KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.83 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/q3-2012-13-operational-and-financial-performance-report.pdf">
    <div class="document-download-text">
        <p>Q3</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 263KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.26 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/q4-2012-13-operational-and-financial-performance-report.pdf">
    <div class="document-download-text">
        <p>Q4 </p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 209KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.20 -->
 
</div>

</div>
 
      
        
          
        
      
    
  </div>
  <div class="aside" role="complementary">

   
    
    
    
      <div data-set="sidenav-container" class="large">
        
        
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
      </div>
    
    <div>
















<div class="advert-tile unsponsored-style google-ads" aria-hidden="true">
  <div class="advert-link">
    <div class="advert-content">
        <div class="medium-large" data-advert="/76889402/non-targeted" data-advert-sizes="300, 250"></div>
        <div class="small" data-advert="/76889402/non-targeted" data-advert-sizes="300, 250"></div>
    </div>
  </div>
</div>
@{
    ViewBag.AmazonSlot = "'amznslots'";
    ViewBag.AmazonAds = "'3199'"; // to add another value, this needs to be ViewBag.AmazonAds = "'3199','xx'";
}
      

 </div>
    
      <div class="module-grid clearfix">
                    
        <div class="related-links">

    <h3>Also on this site</h3>

<div class="vertical-button-container">

<a href="/corporate/about-tfl/index" class="plain-button">About TfL</a>
<a href="/corporate/publications-and-reports/annual-report" class="plain-button">Annual Report</a>
<a href="/corporate/about-tfl/how-we-work/how-we-are-governed" class="plain-button">How we are governed</a>
<a href="/info-for/investors/index" class="plain-button">Investors</a>
<a href="/corporate/publications-and-reports/the-mayor-s-budget" class="plain-button">The Mayor's Budget</a>
<a href="/corporate/transparency/index" class="plain-button">Transparency</a>
    </div>
</div>
 
      </div>
    
    <div data-set="sidenav-container" class="small-medium"></div>
  </div>
</div>
 
 
        
        
        
            @{ViewBag.Description = "Quarterly performance reports to the Board on our operational and financial performance, and on the delivery and budget performance of our Investment Programme";}
        
            
        


 