
    
  



@{ViewBag.Title = "Rail & Underground 2006-2016";}
@{ViewBag.Keywords = "TfL";}
@{ViewBag.Url = "/corporate/publications-and-reports/rail-and-underground-past-years";}
@{ViewBag.Language = "en";}
        <!-- empty placeholder -->
 
        
        
<div class="r">
    <div class="breadcrumb-container" role="navigation">
        <span id="breadcrumb-label" class="visually-hidden">You are here:</span>
        <ol class="breadcrumbs clearfix" aria-labelledby="breadcrumb-label">
            <li class="home">
                <a href="/">
                    <span class="hide-text">Home</span>
                </a>
            </li>
            
                 <li><a href="/corporate/publications-and-reports/index">Publications & reports</a></li>
                
            
                 <li><a href="/corporate/publications-and-reports/customer-service-op-performance">Customer service & Op performance</a></li>
                
            
            
                <li><span class="last-breadcrumb">Rail & Underground 2006-2016</span></li>
            
        
 
        
 
        
 
        </ol>
    </div>
</div>
     
 
<div class="r">
  <div class="headline-container plain">
    <h1>Rail & Underground 2006-2016</h1>

  </div>
</div>
<div class="main-and-aside r">
  
  <div class="main content-container" role="main">
    
      <div class="article-teaser">
        Before committees and panels were reorganised in 2016, the Rail & Underground panel considered wide-ranging issues including policy, strategy, the implementation of the Mayor's Transport Strategy and operating business performance in relation to TfL's Rail and Underground services.
        
      </div>
    
    
      
      
           
      <h2> 2016 meeting papers</h2>






    


<div class="accordion">
<div class="expandable-box">

        <div class="content">
            <div class="always-visible">
                <a class="controls" href="javascript:void(0);">&nbsp;</a>
                <div class="accordion-heading">
                    24 February
                </div>
            </div>
            <div class="start-hidden">
                <div class="multi-document-download-container">
                

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/20160224-rup-agenda.pdf">
    <div class="document-download-text">
        <p>Agenda</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 42KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.04 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/rup-20160224-part-1-item03-minutes.pdf">
    <div class="document-download-text">
        <p>Item 3 - Minutes of the meeting held on 16 October 2015</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 35KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.03 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/rup-20160224-part-1-item04-actions-list.pdf">
    <div class="document-download-text">
        <p>Item 4 - Matters Arising and Actions List</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 27KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.03 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/rup-20160224-part-1-item05-mdreport.pdf">
    <div class="document-download-text">
        <p>Item 5 - Managing Director's Report</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 495KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.48 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/rup-20160224-part-1-item06-visitor-centres.pdf">
    <div class="document-download-text">
        <p>Item 6 - Visitor Centres - Analysis of Customer Experience</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 508KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.50 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/rup-20160224-part-1-item07-international-benchmarking-report.pdf">
    <div class="document-download-text">
        <p>Item 7 - International Benchmarking Report</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 2.27MB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 2.27 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/rup-20160224-part-1-item08-jubilee-and-northern-lines-additional-train-procurement.pdf">
    <div class="document-download-text">
        <p>Item 8 - Jubilee and Northern Line Additional Trains Procurement</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 270KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.26 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/rup-20160224-part-1-item09-ntfl-signalling.pdf">
    <div class="document-download-text">
        <p>Item 9 - New Tube for London Signalling and Train Control Procurement</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 445KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.43 -->
            
              </div>
            </div>
        </div>
 

   </div>
 <div class="expandable-box">

        <div class="content">
            <div class="always-visible">
                <a class="controls" href="javascript:void(0);">&nbsp;</a>
                <div class="accordion-heading">
                    23 November
                </div>
            </div>
            <div class="start-hidden">
                <div class="multi-document-download-container">
                           
              </div>
            </div>
        </div>
 

   </div>
 
</div>
 <h2> 2015 meeting papers</h2>






    


<div class="accordion">
<div class="expandable-box">

        <div class="content">
            <div class="always-visible">
                <a class="controls" href="javascript:void(0);">&nbsp;</a>
                <div class="accordion-heading">
                    12 February
                </div>
            </div>
            <div class="start-hidden">
                <div class="multi-document-download-container">
                

<a class="document-download-wrap rtf" href="/cdn/static/cms/documents/rup-20150212-part-1-item00-rup-agenda.rtf">
    <div class="document-download-text">
        <p>Agenda - rtf</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            RTF 182KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.18 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/rup-20150212-part-1-item00-rup-agenda.pdf">
    <div class="document-download-text">
        <p>Agenda - pdf</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 41KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.04 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/rup-20150212-part-1-item03-minutes.pdf">
    <div class="document-download-text">
        <p>Item 3 - Minutes of the Meeting held on 13 November 2014</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 33KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.03 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/rup-20150212-part-1-item04-actions-list.pdf">
    <div class="document-download-text">
        <p>Item 4 - Matters Arising and Actions List</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 39KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.04 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/rup-20150212-part-1-item05-managing-directors-report.pdf">
    <div class="document-download-text">
        <p>Item 5 - Managing Director's Report</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 1.09MB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 1.09 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/rup-20150212-part-1-item06-step-free-programme-update.pdf">
    <div class="document-download-text">
        <p>Item 6 - Rail and Underground New 'Affordable' Step-Free Access Programme</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 755KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.74 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/rup-20150212-part-1-item07-finsbury-park-step-free.pdf">
    <div class="document-download-text">
        <p>Item 7 - Finsbury Park Western Station Entrance and Step-Free Access</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 1.00MB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 1.00 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/rup-20150212-part-1-item08-international-benchmarking.pdf">
    <div class="document-download-text">
        <p>Item 8 - International Benchmarking Report </p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 1.36MB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 1.36 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/rup-20150212-part-1-item-09-crossrail.pdf">
    <div class="document-download-text">
        <p>Item 9 - Crossrail &#45; Moving to the Operating Railway</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 6.89MB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 6.89 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/rup-20150212-part-1-item10-central-line-overhaul.pdf">
    <div class="document-download-text">
        <p>Item 10 - Central Line Heavy Overhaul Programme Lift</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 68KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.07 -->
            
              </div>
            </div>
        </div>
 

   </div>
 <div class="expandable-box">

        <div class="content">
            <div class="always-visible">
                <a class="controls" href="javascript:void(0);">&nbsp;</a>
                <div class="accordion-heading">
                    20 May
                </div>
            </div>
            <div class="start-hidden">
                <div class="multi-document-download-container">
                

<a class="document-download-wrap rtf" href="/cdn/static/cms/documents/rup-20150520-part-1-item00-rup-agenda.rtf">
    <div class="document-download-text">
        <p>Agenda rtf</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            RTF 164KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.16 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/rup-20150520-part-1-item00-rup-agenda.pdf">
    <div class="document-download-text">
        <p>Agenda pdf</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 31KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.03 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/rup-20150520-part-1-item03-minutes.pdf">
    <div class="document-download-text">
        <p>Item 3 - Minutes of the meeting held on 12 February 2015</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 34KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.03 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/rup-20150520-part-1-item04-actions-list.pdf">
    <div class="document-download-text">
        <p>Item 4 - Matters Arising and Actions List</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 33KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.03 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/rup-20150520-part-1-item05-managing-directors-report.pdf">
    <div class="document-download-text">
        <p>Item 5 - Managing Director's Report</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 533KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.52 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/rup-20150520-part-1-item06-accessibility-schemes-at-crossrail-surface-stations.pdf">
    <div class="document-download-text">
        <p>Item 6 - Accessibility Schemes at Crossrail Surface Stations</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 1.28MB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 1.28 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/rup-20150520-part-1-item07-investing-in-world-class-skills.pdf">
    <div class="document-download-text">
        <p>Item 7 - Investing in World Class Skills for the Future</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 10.30MB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 10.30 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/rup-20150520-part-1-item08-car-park-strategy.pdf">
    <div class="document-download-text">
        <p>Item 8 - Car Park Strategy </p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 515KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.50 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/rup-20150520-part-1-item09-fit-for-future-stations.pdf">
    <div class="document-download-text">
        <p>Item 9 - Fit for the Future Stations</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 1.69MB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 1.69 -->
            
              </div>
            </div>
        </div>
 

   </div>
 <div class="expandable-box">

        <div class="content">
            <div class="always-visible">
                <a class="controls" href="javascript:void(0);">&nbsp;</a>
                <div class="accordion-heading">
                    16 July
                </div>
            </div>
            <div class="start-hidden">
                <div class="multi-document-download-container">
                

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/rup-20150716-part-1-item00-rup-agenda-pdf.pdf">
    <div class="document-download-text">
        <p>Agenda - PDF</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 33KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.03 -->
 

<a class="document-download-wrap rtf" href="/cdn/static/cms/documents/rup-20150716-part-1-item00-rup-agenda.rtf">
    <div class="document-download-text">
        <p>Agenda - RTF</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            RTF 195KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.19 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/rup-20150716-part-1-item-03-minutes.pdf">
    <div class="document-download-text">
        <p>Item 3 - Minutes of the Meeting held on 20 May 2015</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 29KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.03 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/rup-20150716-part-1-item04-actions-list.pdf">
    <div class="document-download-text">
        <p>Item 4 - Matters Arising and Actions List</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 64KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.06 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/rup-20150716-part-1-item-05-managing-directors-report.pdf">
    <div class="document-download-text">
        <p>Item 5 - Managing Director's Report</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 619KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.60 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/rup-20150716-part-1-item06-jubilee-line-tunnel-works.pdf">
    <div class="document-download-text">
        <p>Item 6 - Jubilee Line Tunnel Works</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 760KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.74 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/rup-20150716-part-1-item07-night-tube.pdf">
    <div class="document-download-text">
        <p>Item 7 - Night Tube</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 774KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.76 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/rup-20150716-part-1-item08-fit-for-future-stations.pdf">
    <div class="document-download-text">
        <p>Item 8 - Fit for the Future - Stations </p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 1.34MB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 1.34 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/rup-20150716-part-1-item-9-tottenham-court-road-station-upgrade.pdf">
    <div class="document-download-text">
        <p>Item 9 - Tottenham Court Road Station Upgrade</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 2.73MB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 2.73 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/rup-20150716-part-1-item10-overview-of-innovation.pdf">
    <div class="document-download-text">
        <p>Item 10 - Overview of Innovation</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 1.96MB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 1.96 -->
            
              </div>
            </div>
        </div>
 

   </div>
 <div class="expandable-box">

        <div class="content">
            <div class="always-visible">
                <a class="controls" href="javascript:void(0);">&nbsp;</a>
                <div class="accordion-heading">
                    16 October
                </div>
            </div>
            <div class="start-hidden">
                <div class="multi-document-download-container">
                

<a class="document-download-wrap rtf" href="/cdn/static/cms/documents/rup-20151016-agenda-rtf.rtf">
    <div class="document-download-text">
        <p>Agenda rtf</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            RTF 146KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.14 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/rup-20151016-agenda-pdf.pdf">
    <div class="document-download-text">
        <p>Agenda pdf</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 38KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.04 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/rup-20151016-part-1-item03-minutes.pdf">
    <div class="document-download-text">
        <p>Item 3 - Minutes of the Meeting Held on 16 July 2015</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 143KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.14 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/rup-20151016-part-1-item04-actions-list.pdf">
    <div class="document-download-text">
        <p>Item 4 - Matters Arising and Actions List </p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 34KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.03 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/rup-20151016-part-1-item05-managing-director-report.pdf">
    <div class="document-download-text">
        <p>Item 5 - Managing Director's Report</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 664KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.65 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/rup-20151016-part-1-item06-walthamstow-blockade.pdf">
    <div class="document-download-text">
        <p>Item 6 - Walthamstow Blockade</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 3.18MB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 3.18 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/rup-20151016-part-1-item07-victoria-station-upgrade.pdf">
    <div class="document-download-text">
        <p>Item 7 - Victoria Station Upgrade</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 1.45MB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 1.45 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/rup-20151016-part-1-item08-lu-customer-information.pdf">
    <div class="document-download-text">
        <p>Item 8 - London Underground Customer Information</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 378KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.37 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/rup-20151016-part-1-item09-lo-and-dlr-growth.pdf">
    <div class="document-download-text">
        <p>Item 9 -London Overground and Docklands Light Railway Growth</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 273KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.27 -->
            
              </div>
            </div>
        </div>
 

   </div>
 
</div>
 <h2> 2014 meeting papers</h2>






    


<div class="accordion">
<div class="expandable-box">

        <div class="content">
            <div class="always-visible">
                <a class="controls" href="javascript:void(0);">&nbsp;</a>
                <div class="accordion-heading">
                    13 November
                </div>
            </div>
            <div class="start-hidden">
                <div class="multi-document-download-container">
                

<a class="document-download-wrap rtf" href="/cdn/static/cms/documents/rup-20141113-part-1-item00-rup-agenda.rtf">
    <div class="document-download-text">
        <p>Agenda RTF</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            RTF 148KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.14 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/rup-20141113-part-1-item00-rup-agenda.pdf">
    <div class="document-download-text">
        <p>Agenda</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 90KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.09 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/rup-20141113-part-1-item03-minutes.pdf">
    <div class="document-download-text">
        <p>Item 3 - Minutes of the Meeting held on 10 July 2014</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 146KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.14 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/rup-2014113-part-1-item04-actions-list.pdf">
    <div class="document-download-text">
        <p>Item 4 - Matters Arising and Actions List</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 81KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.08 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/rup-20141113-part-1-item05-managing-directors-report.pdf">
    <div class="document-download-text">
        <p>Item 5 - Managing Director's Report</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 881KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.86 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/rup-20141113-part-1-item06-new-tube-for-london.pdf">
    <div class="document-download-text">
        <p>Item 6 - New Tube for London - Train Design</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 3.54MB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 3.54 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/rup-20141113-part-1-item07-stations-strategy.pdf">
    <div class="document-download-text">
        <p>Item 7 - Station Strategy</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 976KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.95 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/rup-20141113-part-1-item08-fit-for-future-stations.pdf">
    <div class="document-download-text">
        <p>Item 8 - Fit for the Future - Stations Update</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 1.56MB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 1.56 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/rup-20141113-part-1-item09-trams-update.pdf">
    <div class="document-download-text">
        <p>item 9 - Trams Update</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 996KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.97 -->
            
              </div>
            </div>
        </div>
 

   </div>
 <div class="expandable-box">

        <div class="content">
            <div class="always-visible">
                <a class="controls" href="javascript:void(0);">&nbsp;</a>
                <div class="accordion-heading">
                    10 July
                </div>
            </div>
            <div class="start-hidden">
                <div class="multi-document-download-container">
                

<a class="document-download-wrap rtf" href="/cdn/static/cms/documents/rup-20140710-part-1-item00-rup-agenda.rtf">
    <div class="document-download-text">
        <p>Agenda RTF</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            RTF 141KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.14 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/rup-20140710-part-1-item00-rup-agenda.pdf">
    <div class="document-download-text">
        <p>Agenda </p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 23KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.02 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/rup-20140710-part-1-item03-minutes-11-april-2014.pdf">
    <div class="document-download-text">
        <p>Item 3 - Minutes of Meeting Held on 11 April 2014</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 19KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.02 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/rup-20140710-part-1-item04-actions-list.pdf">
    <div class="document-download-text">
        <p>Item 4 - Matters Arising and Actions List</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 25KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.02 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/rup-20140710-part-1-item05-managing-directors-report.pdf">
    <div class="document-download-text">
        <p>Item 5 - Managing Director's Report</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 752KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.73 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/rup-20140710-part-1-item06-london-overground-capacity-improvement-programme.pdf">
    <div class="document-download-text">
        <p>Item 6 - London Overground Capacity Improvement and Rolling Stock Programmes</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 988KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.97 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/rup-20140710-part-1-item07-crossrail-update.pdf">
    <div class="document-download-text">
        <p>Item 7 - Crossrail Update</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 5.21MB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 5.21 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/rup-20140710-part-1-item08-overnight-ballasted-track-renewals.pdf">
    <div class="document-download-text">
        <p>Item 8 - Overnight Ballasted Track Renewals</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 10.18MB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 10.18 -->
            
              </div>
            </div>
        </div>
 

   </div>
 <div class="expandable-box">

        <div class="content">
            <div class="always-visible">
                <a class="controls" href="javascript:void(0);">&nbsp;</a>
                <div class="accordion-heading">
                    11 April
                </div>
            </div>
            <div class="start-hidden">
                <div class="multi-document-download-container">
                

<a class="document-download-wrap rtf" href="/cdn/static/cms/documents/rup-20140411-part-1-item00-rup-agenda.rtf">
    <div class="document-download-text">
        <p>Agenda &#45; RTF</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            RTF 156KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.15 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/rup-20140411-part-1-item00-rup-agenda.pdf">
    <div class="document-download-text">
        <p>Agenda</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 24KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.02 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/rup-20140411-part-1-item03-minutes-13-02-2014.pdf">
    <div class="document-download-text">
        <p>Item 3 - Minutes of the Meeting held on 18 October 2013</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 17KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.02 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/rup-20140411-part-1-item04-actions-list.pdf">
    <div class="document-download-text">
        <p>Item 4 &#45; Matters Arising and Actions List</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 27KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.03 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/rup-20140411-part-1-item05-managing-director-report.pdf">
    <div class="document-download-text">
        <p>Item 5 &#45; Managing Director's Report</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 486KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.47 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/rup-20140411-part-1-item06-fit-for-the-future-stations-update.pdf">
    <div class="document-download-text">
        <p>Item 6 &#45; Fit for the Future &#45; Stations Update</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 881KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.86 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/rup-20140411-part-1-item07-target-setting.pdf">
    <div class="document-download-text">
        <p>Item 7 &#45; Target Setting</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 168KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.16 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/rup-20140411-part-1-item08-rail-and-underground-international-benchmarking-report.pdf">
    <div class="document-download-text">
        <p>Item 8 &#45; Rail and Underground International Benchmarking Report</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 1.85MB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 1.85 -->
            
              </div>
            </div>
        </div>
 

   </div>
 
</div>
 <div class="accordion">




<div class="expandable-box">




        <div class="content">
            <div class="always-visible" role="button" aria-controls="2013-content" aria-expanded="false" tabindex="0">
                <div class="controls" data-tracking="prop36" data-tracking-value="Rail & Underground 2006-2016-2013"><span class="visually-hidden">Toggle accordion</span></div>
                <div id="2013-heading" class="accordion-heading">2013</div>
            </div>
            <div id="2013-content" class="start-hidden" role="region" aria-labelledby="2013-heading">

        <p><strong>Members: </strong>Sir John Armitt (PDF Chair), Steve Wright (PDF Vice Chair), Peter Anderson, Sir Brendan Barber, Richard Barnes, Charles Belcher, Brian Cooke, Isabel Dedring, Daniel Moylan
        </p>
        <h3>18 October</h3>
        <p>
        <a href="/cdn/static/cms/documents/RUP-20131018-Item00-Agenda.rtf">Agenda - RTF version (RTF 0.08MB)</a><br />
        <a href="/cdn/static/cms/documents/RUP-20131018-Item00-Agenda.pdf">Agenda (PDF 0.03MB)</a><br />
        <a href="/cdn/static/cms/documents/RUP-20131018-Item02-RUP-Minutes.pdf">Item 2 - Minutes of the Meeting held on 11 July 2013 (PDF 0.03MB)</a><br />
        <a href="/cdn/static/cms/documents/RUP-20131018-Item03-Action-List.pdf">Item 3 - Matters Arising and Actions List (PDF 0.05MB)</a><br />
        <a href="/cdn/static/cms/documents/RUP-20131018-Item04-Managing-Directors-Report.pdf">Item 4 - Managing Director's Report - Rail and Underground (PDF 0.57MB)</a></p>
        <h3>11 July</h3>
        <p>
        <a href="/cdn/static/cms/documents/Item00-RUP-Agenda-11-July-2013.rtf">Agenda - RTF version (RTF 0.08MB)</a><br />
        <a href="/cdn/static/cms/documents/Item00-RUP-Agenda-11-July-2013.pdf">Agenda (PDF 0.03MB)</a><br />
        <a href="/cdn/static/cms/documents/Item02-RUP-Minutes-01-05-2013.pdf">Item 2 - Minutes of the Meeting held on 1 May 2013 (PDF 0.01MB)</a><br />
        <a href="/cdn/static/cms/documents/Item03-RUP-Actions-List-11-July-2013.pdf">Item 3 - Matters Arising and Actions List (PDF 0.02MB)</a><br />
        <a href="/cdn/static/cms/documents/Item04-RUP-Managing-Directors-Report-July-2013.pdf">Item 4 - Managing Director's Report (PDF 0.44MB)</a></p>
        <h3>01 May</h3>
        <p>
        <a href="/cdn/static/cms/documents/Item00-RUP-Agenda-1-May-2013.rtf">Agenda - RTF version (RTF 0.08MB)</a><br />
        <a href="/cdn/static/cms/documents/Item00-RUP-Agenda-1-May-2013.pdf">Agenda (PDF 0.03MB)</a><br />
        <a href="/cdn/static/cms/documents/Item02-RUP-22-March-2013-Minutes.pdf">Item 2 - Minutes of the meeting held on 22 March 2013 (PDF 0.01MB)</a><br />
        <a href="/cdn/static/cms/documents/Item04-RUP-1-May-2013-Managing-Directors-Report.pdf">Item 4 - Managing Director's Report (PDF 0.02MB)</a></p>
        <h3>22 March</h3>
        <p>
        <a href="/cdn/static/cms/documents/Item00-RUP-Agenda-22-March-2013.rtf">Agenda - 22 March 2013 (PDF 0.08MB)</a><br />
        <a href="/cdn/static/cms/documents/Item00-RUP-Agenda-22-March-2013.pdf">Agenda - 22 March 2013 (PDF 0.03MB)</a><br />
        <a href="/cdn/static/cms/documents/Item02-Open-RUP-Minutes-15-11-12.pdf">Item 2 - Minutes of the Meeting held on 15 November 2012  (PDF 0.01MB)</a><br />
        <a href="/cdn/static/cms/documents/Item03-Action-List-22-March-2013.pdf">Item 3 - Matters Arising and Actions List (PDF 0.01MB)</a><br />
        <a href="/cdn/static/cms/documents/Item04-Managing-Directors-Report-March-2013.pdf">Item 4 - Managing Director's Report - Rail and Underground (PDF 0.59MB)</a></p>
    

            </div>
        </div>
    </div>
 <div class="expandable-box">




        <div class="content">
            <div class="always-visible" role="button" aria-controls="2012-content" aria-expanded="false" tabindex="0">
                <div class="controls" data-tracking="prop36" data-tracking-value="Rail & Underground 2006-2016-2012"><span class="visually-hidden">Toggle accordion</span></div>
                <div id="2012-heading" class="accordion-heading">2012</div>
            </div>
            <div id="2012-content" class="start-hidden" role="region" aria-labelledby="2012-heading">

        <p><strong>Members: </strong>Christopher Garnett (Chair), Steve Wright (Vice Chair), Peter Anderson, Sir John Armitt, Richard Barnes, Charles Belcher, Isabel Dedring, Daniel Moylan</p>
        <h3>15 November</h3>
        <p>
        <a href="/cdn/static/cms/documents/Item00-RUP-Agenda-15-November-2012.rtf">Agenda - RTF version (RTF 0.08MB)</a><br />
        <a href="/cdn/static/cms/documents/Item00-RUP-Agenda-15-November-2012.pdf">Agenda (PDF 0.03MB)</a><br />
        <a href="/cdn/static/cms/documents/Item02-RUP-Minutes-05-07-12.pdf">Item 2 - Minutes of the Meeting held on 5 July 2012 (PDF 0.03MB)</a><br />
        <a href="/cdn/static/cms/documents/Item03-Action-List-15-November-2012.pdf">Item 3 - Matters Arising and Actions List (PDF 0.02MB)</a><br />
        <a href="/cdn/static/cms/documents/Item04-Managing-Directors-Report-15-Nov-2012.pdf">Item 4 - Managing Director's Report - Rail and Underground (PDF 0.51MB)</a></p>
        <h3>05 July</h3>
        <p>
        <a href="/cdn/static/cms/documents/Item00-RUP-Agenda-5-July-2012.rtf">Agenda - RTF version (RTF 0.08MB)</a><br />
        <a href="/cdn/static/cms/documents/Item00-RUP-Agenda-5-July-2012.pdf">Agenda (PDF 0.03MB)</a><br />
        <a href="/cdn/static/cms/documents/Item02-RUP-Minutes-22-05-12.pdf">Item 2 - Minutes of the Meeting held on 22 May 2012 (PDF 0.03MB)</a><br />
        <a href="/cdn/static/cms/documents/Item03-Action-List-5-July-2012.pdf">Item 3 - Matters Arising and Actions List (PDF 0.01MB)</a><br />
        <a href="/cdn/static/cms/documents/Item04-RUP-July-2012-MDs-Report.pdf">Item 4 - Managing Director's Report - Rail and Underground (PDF 1.95MB)</a><br />
        <a href="/cdn/static/cms/documents/Item05-Tramlink-Performance-and-Planning-Update.pdf">Item 5 - Tramlink Performance and Planning Update (PDF 2.13MB)</a><br />
        <a href="/cdn/static/cms/documents/Item06-Major-Rail-Projects-Update.pdf">Item 6 - Major Rail Projects Update (PDF HS2, Crossrail 2, Northern Line Extension) (PDF 0.31MB)</a><br />
        <a href="/cdn/static/cms/documents/Item07-Final-Preparations-for-the-London-2012-Games.pdf">Item 7 - Final Preparations for the London 2012 Games (PDF 6.99MB)</a></p>
        <h3>22 May</h3>
        <p>
        <a href="/cdn/static/cms/documents/Item00-RUP-Agenda-22-May-2012.rtf">Agenda - RTF version (RTF 0.08MB)</a><br />
        <a href="/cdn/static/cms/documents/Item00-RUP-Agenda-22-May-2012.pdf">Agenda (PDF 0.03MB)</a><br />
        <a href="/cdn/static/cms/documents/Item02-RUP-Minutes-21-02-12.pdf">Item 2 - Minutes of the Meeting held on 21 February 2012 (PDF 0.01MB)</a><br />
        <a href="/cdn/static/cms/documents/Item03-Action-List-22-May-2012.pdf">Item 3 - Matters Arising and Actions List (PDF 0.01MB)</a><br />
        <a href="/cdn/static/cms/documents/Item04-Managing-Directors-Report-Rail-Underground-22-May-2012.pdf">Item 4 - Managing Director's Report - Rail and Underground (PDF 1.04MB)</a><br />
        <a href="/cdn/static/cms/documents/Item05-Olympic-park-and-Excel-Arena.pdf">Item 5 - Overview of Transport Arrangements for Olympic Park and Excel (PDF 0.04MB)</a><br />
        <a href="/cdn/static/cms/documents/Item06-Reliability-Availability-Maintainability-and-Safety-Programme.pdf">Item 6 - Reliability, Availability, Maintainability and Safety Programme (PDF 0.06MB)</a></p>
        <h3>21 February</h3>
        <p>
        <a href="/cdn/static/cms/documents/Item00-RUP-Agenda-21-February-2012.rtf">Agenda - RTF version (RTF 0.08MB)</a><br />
        <a href="/cdn/static/cms/documents/Item00-RUP-Agenda-21-February-2012.pdf">Agenda (PDF 0.03MB)</a><br />
        <a href="/cdn/static/cms/documents/Item02-Minutes-16-November-2011.pdf">Item 2 - Minutes of the Meeting held on 16 November 2011 (PDF 0.02MB)</a><br />
        <a href="/cdn/static/cms/documents/Item03-Action-List-21-February-2012.pdf">Item 3 - Matters Arising and Actions List (PDF 0.01MB)</a><br />
        <a href="/cdn/static/cms/documents/Item04-Managing-Directors-Report.pdf">Item 4 - Managing Director's Report - Rail and Underground (PDF 0.40MB)</a><br />
        <a href="/cdn/static/cms/documents/Item05-Service-Status-Information-Update.pdf">Item 5 - Service Status Information Update (PDF 0.64MB)</a><br />
        <a href="/cdn/static/cms/documents/Item06-London-2012-Transport.pdf">Item 6 - London 2012 Transport (PDF 0.02MB)</a></p>
    

            </div>
        </div>
    </div>
 <div class="expandable-box">




        <div class="content">
            <div class="always-visible" role="button" aria-controls="2011-content" aria-expanded="false" tabindex="0">
                <div class="controls" data-tracking="prop36" data-tracking-value="Rail & Underground 2006-2016-2011"><span class="visually-hidden">Toggle accordion</span></div>
                <div id="2011-heading" class="accordion-heading">2011</div>
            </div>
            <div id="2011-content" class="start-hidden" role="region" aria-labelledby="2011-heading">

        <strong>Members: </strong>Christopher Garnett (Chair), Steve Wright (Vice Chair), Peter Anderson, Charles Belcher, Isabel Dedring, Sir Mike Hodgkinson, Daniel Moylan, Tony West
         
        <h3>16 November</h3>
        <p>
        <a href="/cdn/static/cms/documents/Item00-RUP-Agenda-16-November-2011.rtf">Agenda - RTF version (RTF 0.08MB)</a><br />
        <a href="/cdn/static/cms/documents/Item00-RUP-Agenda-16-November-2011.pdf">Agenda (PDF 0.03MB)</a><br />
        <a href="/cdn/static/cms/documents/Item02-RUP-16-11-2011-Minutes-12-07-11.pdf">Item 2 - Minutes of the Meeting held on 12 July 2011 (PDF 0.02MB)</a><br />
        <a href="/cdn/static/cms/documents/Item03-RUP-16-11-2011-Action-List.pdf">Item 3 - Matters Arising and Actions List (PDF 0.01MB)</a><br />
        <a href="/cdn/static/cms/documents/Item04-RUP-16-11-2011-MD-report.pdf">Item 4 - Managing Director's Report - Rail and Underground (PDF 1.43MB)</a><br />
        <a href="/cdn/static/cms/documents/Item05-RUP-16-11-2011-London-Overground-Impact-Study.pdf">Item 5 - London Overground Impact Study (PDF 0.81MB)</a><br />
        <a href="/cdn/static/cms/documents/Item06-Rail-Underground-Reliability-Improvement-Programme.pdf">Item 6 - Rail and Underground Reliability Improvement Programme (PDF 0.04MB)</a><br />
        <a href="/cdn/static/cms/documents/Item07-RUP-16-11-2011-London-2012-Transport.pdf">Item 7 - London 2012 Transport (PDF 2.33MB)</a></p>
        <h3>12 July</h3>
        <p>
        <a href="/cdn/static/cms/documents/Item00-RUP-Agenda-12-July-2011.rtf">Agenda - RTF version (RTF 1.16MB)</a><br />
        <a href="/cdn/static/cms/documents/Item00-RUP-Agenda-12-July-2011.pdf">Agenda (PDF 0.03MB)</a><br />
        <a href="/cdn/static/cms/documents/Item02-RUP-Minutes-05-May-11.pdf">Item 2 - Minutes of the Meeting held on 5 May 2011 (PDF 0.02MB)</a><br />
        <a href="/cdn/static/cms/documents/Item03-RUP-12-July-2011-Actions-List.pdf">Item 3 - Matters Arising and Actions List (PDF 0.01MB)</a><br />
        <a href="/cdn/static/cms/documents/Item04-RUP-12-July-2011-MD-Report.pdf">Item 4 - Managing Director's Report - London Underground and London Rail (PDF 0.57MB)</a><br />
        <a href="/cdn/static/cms/documents/Item05-RUP-12-July-2011-HLOS2-recommendations.pdf">Item 5 - TfL's Recommendations for the High Level Output Specification for 2014-2019 (PDF HLOS2) (PDF 3.73MB)</a><br />
        <a href="/cdn/static/cms/documents/Item06-RUP-12-July-2011-Tramlink-Operations-v2SC.pdf">Item 6 - Tramlink Operations (PDF 0.16MB)</a></p>
        <h3>05 May</h3>
        <p>
        <a href="/cdn/static/cms/documents/Item00-RUP-Agenda-5-May-2011.rtf">Agenda - RTF version (RTF 0.08MB)</a><br />
        <a href="/cdn/static/cms/documents/Item00-RUP-Agenda-5-May-2011.pdf">Agenda (PDF 0.03MB)</a><br />
        <a href="/cdn/static/cms/documents/Item02-Open-RUP-Minutes-08-02-11.pdf">Item 2 - Minutes of the Meeting Held on 8 February 2011 (PDF 0.02MB)</a><br />
        <a href="/cdn/static/cms/documents/Item03-RUP-5-May-2011-Actions-list.pdf">Item 3 - Matters Arising and Actions List (PDF 0.02MB)</a><br />
        <a href="/cdn/static/cms/documents/Item04-RUP-5-May-2011-MDs-Report.pdf">Item 4 - Managing Director's Report - London Underground and London Rail (PDF 0.21MB)</a><br />
        <a href="/cdn/static/cms/documents/Item05-RUP-5-May-2011-Operational-Strategic-Plan.pdf">Item 5 - Operations Strategic Plan  (PDF 0.02MB)</a><br />
        <a href="/cdn/static/cms/documents/Item06-RUP-5-May-2011-LU-Demand-Trends.pdf">Item 6 - London Underground Demand Trends (PDF 0.19MB)</a><br />
        <a href="/cdn/static/cms/documents/Item07-RUP-5-May-2011-LR-Demand-Trends.pdf">Item 7 - London Rail Demand Trends (PDF 0.08MB)</a></p>
        <h3>08 February</h3>
        <p>
        <a href="/cdn/static/cms/documents/Item00-RUP-Agenda-8-Feb-2011.rtf">Agenda - RTF version (RTF 0.09MB)</a><br />
        <a href="/cdn/static/cms/documents/Item00-RUP-Agenda-8-Feb-2011.pdf">Agenda (PDF 0.03MB)</a><br />
        <a href="/cdn/static/cms/documents/Item02-RUP-Minutes-11-Nov-2010.pdf">Item 2 - Minutes of 11 November 2010 Meeting (PDF 0.02MB)</a><br />
        <a href="/cdn/static/cms/documents/Item03-Action-List-8-Feb-2011.pdf">Item 3 - Matters Arising and Actions List (PDF 0.01MB)</a><br />
        <a href="/cdn/static/cms/documents/Item04-LU-MD-Report.pdf">Item 4 - Managing Director's Report - London Underground (PDF 0.14MB)</a><br />
        <a href="/cdn/static/cms/documents/Item05-Review-of-the-New-SSR-Service-Pattern.pdf">Item 5 - Review of the New Sub-Surface Railway Surface Pattern Introduced on 13 December 2009 (PDF 0.03MB)</a><br />
        <a href="/cdn/static/cms/documents/Item06-LR-MD-Report.pdf">Item 6 - Managing Director's Report - London Rail (PDF 0.03MB)</a><br />
        <a href="/cdn/static/cms/documents/Item07-HLOS-Update.pdf">Item 7 - High Level Output Specification - February Update (PDF 0.39MB)</a><br />
        <a href="/cdn/static/cms/documents/Item08-Oyster-NR.pdf">Item 8 - Oyster on National Rail - Progress Update (PDF 0.27MB)</a></p>
    

            </div>
        </div>
    </div>
 <div class="expandable-box">




        <div class="content">
            <div class="always-visible" role="button" aria-controls="2010-content" aria-expanded="false" tabindex="0">
                <div class="controls" data-tracking="prop36" data-tracking-value="Rail & Underground 2006-2016-2010"><span class="visually-hidden">Toggle accordion</span></div>
                <div id="2010-heading" class="accordion-heading">2010</div>
            </div>
            <div id="2010-content" class="start-hidden" role="region" aria-labelledby="2010-heading">

        <h3>11 November</h3>
        <p>
        <a href="/cdn/static/cms/documents/Item00-RUP-11-Nov-2010-Agenda.rtf">Agenda - RTF version (RTF 0.08MB)</a><br />
        <a href="/cdn/static/cms/documents/Item00-RUP-11-Nov-2010-Agenda.pdf">Agenda (PDF 0.03MB)</a><br />
        <a href="/cdn/static/cms/documents/Item02-RUP-Nov-2010-Minutes-07-07-10.pdf">Item 2 - Minutes of 7 July 2010 Meeting (PDF 0.02MB)</a><br />
        <a href="/cdn/static/cms/documents/Item03-RUP-11-Nov-2010-Action-List.pdf">Item 3 - Matters Arising and Actions List (PDF 0.02MB)</a><br />
        <a href="/cdn/static/cms/documents/Item04-RUP-11-Nov-2010-MD-Report-LU.pdf">Item 4 - Managing Director's Report - London Underground (PDF 0.14MB)</a><br />
        <a href="/cdn/static/cms/documents/Item05-RUP-11-Nov-2010-MD-Report.pdf">Item 5 - Managing Director's Report - London Rail (PDF 0.06MB)</a><br />
        <a href="/cdn/static/cms/documents/Item06-RUP-11-Nov-2010-HLOS-Update.pdf">Item 6 - High Level Output Specification Update (PDF 0.11MB)</a></p>
        <h3>07 July</h3>
        <p>
        <a href="/cdn/static/cms/documents/Item00-RUP-Agenda-7-July-2010.rtf">Agenda - RTF version (RTF 0.08MB)</a><br />
        <a href="/cdn/static/cms/documents/Item00-RUP-Agenda-7-July-2010.pdf">Agenda (PDF 0.03MB)</a><br />
        <a href="/cdn/static/cms/documents/Item02-RUP-Minutes-12-05-10.pdf">Item 2 - Minutes of 12 May 2010 Meeting (PDF 0.03MB)</a><br />
        <a href="/cdn/static/cms/documents/Item03-RUP-7-7-2007-Action-List.pdf">Item 3 - Matters Arising and Actions List (PDF 0.02MB)</a><br />
        <a href="/cdn/static/cms/documents/Item04-RUP-7-7-2010-MD-report-LU.pdf">Item 4 - Managing Director's Report - London Underground (PDF 0.31MB)</a><br />
        <a href="/cdn/static/cms/documents/Item05-RUP-7-7-2010-MD-report-LR.pdf">Item 5 - Managing Director's Report - London Rail (PDF 1.30MB)</a><br />
        <a href="/cdn/static/cms/documents/Item06-RUP-7-7-2010-ELLP2.pdf">Item 6 - East London Line Phase 2 (PDF 0.03MB)</a><br />
        <a href="/cdn/static/cms/documents/Item07-RUP-7-7-2010-HLOS2.pdf">Item 7 - High Level Output Specification 2 (PDF 0.03MB)</a></p>
        <h3>12 May</h3>
        <p>
        <a href="/cdn/static/cms/documents/Item00-RUP-Agenda-12-May-2010.rtf">Agenda - RTF version (RTF 0.08MB)</a><br />
        <a href="/cdn/static/cms/documents/Item00-RUP-Agenda-12-May-2010.pdf">Agenda (PDF 0.04MB)</a><br />
        <a href="/cdn/static/cms/documents/Item02-Open-RUP-Minutes-09-02-10.pdf">Item 2 - Minutes of 9 February 2010 Meeting  (PDF 0.03MB)</a><br />
        <a href="/cdn/static/cms/documents/Item03-Open-Action-List-12-05-2010.pdf">Item 3 - Matters Arising and Actions List (PDF 0.02MB)</a><br />
        <a href="/cdn/static/cms/documents/Item04-LU-MD-report-12-05-2010.pdf">Item 4 - Managing Director's Report - London Underground (PDF 0.33MB)</a><br />
        <a href="/cdn/static/cms/documents/Item05-Extended-Circle-Line-RUP-12-05-2010.pdf">Item 5 - Performance of the Extended Circle Line (PDF 0.02MB)</a><br />
        <a href="/cdn/static/cms/documents/Item06-Trends-in-Passenger-Demand-RUP-12-05-2010.pdf">Item 6 - Trends in Passenger Demand (PDF 0.19MB)</a><br />
        <a href="/cdn/static/cms/documents/Item07-Status-Jubilee-Line-upgrade.PDF">Item 7 - Status of the Jubilee Line Upgrade (PDF 0.46MB)</a><br />
        <a href="/cdn/static/cms/documents/Item08-LR-MD-Report-RUP-12-05-2010.pdf">Item 8 - Managing Director's Report - London Rail (PDF 1.26MB)</a></p>
        <h3>09 February</h3>
        <p>
        <a href="/cdn/static/cms/documents/Item00-RUP-Agenda-9-February-2010.rtf">Agenda - RTF version (RTF 0.08MB)</a><br />
        <a href="/cdn/static/cms/documents/Item00-RUP-Agenda-9-February-2010.pdf">Agenda (PDF 0.03MB)</a><br />
        <a href="/cdn/static/cms/documents/Item02-RUP-Minutes-12-11-09.pdf">Item 2 - Minutes of 12 November 2009 Meeting (PDF 0.03MB)</a><br />
        <a href="/cdn/static/cms/documents/Item03-Open-Action-List-RUP-Feb-2010.pdf">Item 3 - Matters Arising and Actions List (PDF 0.02MB)</a><br />
        <a href="/cdn/static/cms/documents/Item04-Managing-Director-Report-RUP-LU-Feb-2010.pdf">Item 4 - Managing Director's Report - London Underground (PDF 0.33MB)</a><br />
        <a href="/cdn/static/cms/documents/Item05-RUP-Feb-2010-Speak-Up-2009.pdf">Item 5 - London Underground Employee Engagement Survey 'Speak Up 2009' Results (PDF 0.10MB)</a><br />
        <a href="/cdn/static/cms/documents/Item06-RUP-Feb-2010-Reputation-Survey.pdf">Item 6 - London Underground Reputation Survey 2009 Results (PDF 0.04MB)</a><br />
        <a href="/cdn/static/cms/documents/Item07-RUP-Feb-2010-MD-report-LR.pdf">Item 7 - Managing Director's Report - London Rail (PDF 1.07MB)</a></p>
    

            </div>
        </div>
    </div>
 <div class="expandable-box">




        <div class="content">
            <div class="always-visible" role="button" aria-controls="2009-content" aria-expanded="false" tabindex="0">
                <div class="controls" data-tracking="prop36" data-tracking-value="Rail & Underground 2006-2016-2009"><span class="visually-hidden">Toggle accordion</span></div>
                <div id="2009-heading" class="accordion-heading">2009</div>
            </div>
            <div id="2009-content" class="start-hidden" role="region" aria-labelledby="2009-heading">

        <h3>12 November</h3>
        <p>
        <a href="/cdn/static/cms/documents/Item00-RUP-Agenda-12-Nov-2009.rtf">Agenda - RTF version (RTF 0.08MB)</a><br />
        <a href="/cdn/static/cms/documents/Item00-RUP-Agenda-12-Nov-2009.pdf">Agenda (PDF 0.03MB)</a><br />
        <a href="/cdn/static/cms/documents/Item02-Open-RUP-Minutes-10-July-2009.pdf">Item 2 - Minutes of 10 July 2009 Meeting (PDF 0.02MB)</a><br />
        <a href="/cdn/static/cms/documents/Item03-Open-Action-List-12-Nov-2009.pdf">Item 3 - Matters Arising and Actions List (PDF 0.02MB)</a><br />
        <a href="/cdn/static/cms/documents/Item04-MD-Report-LU-Nov-2009.pdf">Item 4 - Managing Director's Report - London Underground (PDF 0.12MB)</a><br />
        <a href="/cdn/static/cms/documents/Item05-Trends-In-Passenger-Demand.pdf">Item 5 - Trends in Passenger Demand (PDF 0.17MB)</a><br />
        <a href="/cdn/static/cms/documents/Item06-Managing-Directors-Report-LR-Nov-2009.pdf">Item 6 - Managing Director's Report - London Rail (PDF 0.08MB)</a></p>
        <h3>10 July</h3>
        <p>
        <a href="/cdn/static/cms/documents/RUP-Agenda-10-July-2009.rtf">Agenda - RTF version (RTF 0.08MB)</a><br />
        <a href="/cdn/static/cms/documents/00-RUP-Agenda-10-July-2009.pdf">Agenda (PDF 0.03MB)</a><br />
        <a href="/cdn/static/cms/documents/02-RUP-Minutes-20-05-09.pdf">Item 2 - Minutes of 20 May 2009 Meeting (PDF 0.03MB)</a><br />
        <a href="/cdn/static/cms/documents/03-Open-Action-List-RUP-July-09.pdf">Item 3 - Matters Arising and Actions List (PDF 0.02MB)</a><br />
        <a href="/cdn/static/cms/documents/04-LU-MD-Report.pdf">Item 4 - Managing Director's Report - London Underground (PDF 0.11MB)</a><br />
        <a href="/cdn/static/cms/documents/05-MD-Report-Rail-July-09.pdf">Item 5 - Managing Director's Report - London Rail (PDF 0.11MB)</a></p>
        <h3>20 May</h3>
        <p>
        <a href="/cdn/static/cms/documents/01-RUP-Open-Agenda-May-2009.rtf">Agenda - RTF version (RTF 0.06MB)</a><br />
        <a href="/cdn/static/cms/documents/01-RUP-Open-Agenda-May-2009.pdf">Agenda (PDF 0.05MB)</a><br />
        <a href="/cdn/static/cms/documents/02-RUP-Minutes-26-02-09.pdf">Item 2 - Minutes of the Meeting Held on 26 February 2009 (PDF 0.03MB)</a><br />
        <a href="/cdn/static/cms/documents/03-Open-Action-List.pdf">Item 3 - Matters Arising and Actions List (PDF 0.02MB)</a><br />
        <a href="/cdn/static/cms/documents/04a-LU-MD-Report.pdf">Item 4 - Managing Director's Report - London Underground (PDF 0.10MB)</a><br />
        <a href="/cdn/static/cms/documents/05-LR-MD-Report.pdf">Item 5 - Managing Director's Report - London Rail (PDF 0.11MB)</a><br />
        <a href="/cdn/static/cms/documents/06-TfL-Railway-Byelaws.pdf">Item 6 - TfL Railway Byelaws (PDF 0.15MB)</a></p>
        <h3>26 February</h3>
        <p>
        <a href="/cdn/static/cms/documents/01-RUP-Agenda-Feb-2009.rtf">Agenda - RTF version (RTF 0.08MB)</a><br />
        <a href="/cdn/static/cms/documents/01-RUP-Agenda-Feb-2009.pdf">Agenda (PDF 0.03MB)</a><br />
        <a href="/cdn/static/cms/documents/02-Terms-of-Reference.pdf">Item 2 - Terms of Reference (PDF 0.02MB)</a><br />
        <a href="/cdn/static/cms/documents/03-LU-MD-Report.pdf">Item 3 - Managing Director's Report - London Underground (PDF 0.06MB)</a><br />
        <a href="/cdn/static/cms/documents/04-lines-Proposed-Service-Changes.pdf">Item 4 - Circle, Hammersmith and City, District and Metropolitan Lines - Proposed Service Changes (PDF 0.41MB)</a><br />
        <a href="/cdn/static/cms/documents/05-Speak-Up-2008-and-People-Strategy.pdf">Item 5 - Speak Up 2008 and People Strategy (PDF 2.92MB)</a><br />
        <a href="/cdn/static/cms/documents/06-LR-MD-Report.pdf">Item 6 - Managing Director's Report - London Rail (PDF 0.28MB)</a><br />
        <a href="/cdn/static/cms/documents/07-Overground-Year-1.pdf">Item 7 - Overground - Year 1 (PDF 0.46MB)</a><br />
        <a href="/cdn/static/cms/documents/08-Olympic-Report.pdf">Item 8 - Docklands Light Railway - Olympics Project Overview (PDF 0.02MB)</a><br />
        <a href="/cdn/static/cms/documents/09-Briefings-and-Site-Visits.pdf">Item 9 - Briefing and Site Visits (PDF 0.02MB)</a></p>
    

            </div>
        </div>
    </div>
 <div class="expandable-box">




        <div class="content">
            <div class="always-visible" role="button" aria-controls="2008-content" aria-expanded="false" tabindex="0">
                <div class="controls" data-tracking="prop36" data-tracking-value="Rail & Underground 2006-2016-2008"><span class="visually-hidden">Toggle accordion</span></div>
                <div id="2008-heading" class="accordion-heading">2008</div>
            </div>
            <div id="2008-content" class="start-hidden" role="region" aria-labelledby="2008-heading">

        <h2>Underground advisory panel</h2>
        <h3>15 February</h3>
        <p>
        <a href="/cdn/static/cms/documents/agenda-uap-15feb-08.rtf">Agenda - RTF version (RTF 0.04MB)</a><br />
        <a href="/cdn/static/cms/documents/Agenda-4.pdf">Agenda (PDF 0.02MB)</a><br />
        <a href="/cdn/static/cms/documents/2-Minutes-of-the-meeting-held-on-06-11-2007.pdf">Item 2 - Minutes of 6 November 2007 meeting (PDF 0.02MB)</a><br />
        <a href="/cdn/static/cms/documents/3-Matters-Arising-and-Actions-list-2.pdf">Item 3 - Matters Arising and Actions List (PDF 0.01MB)</a><br />
        <a href="/cdn/static/cms/documents/4-Managing-Directors-Report.pdf">Item 4 - Managing Director's Report (PDF 0.20MB)</a><br />
        <a href="/cdn/static/cms/documents/5-Events-and-Closures-Affecting-the-Underground.pdf">Item 5 - Events and Closures Affecting the Underground (PDF 0.01MB)</a><br />
        <a href="/cdn/static/cms/documents/6-Jubilee-and-Northern-line-upgrades.pdf">Item 6 - Jubilee and Northern Line Upgrades (PDF 0.01MB)</a></p>
        <h2>Rail Transport advisory panel</h2>
        <h3>13 February</h3>
        <p>
        <a href="/cdn/static/cms/documents/agenda-13-february-2008.rtf">Agenda - RTF version (RTF 0.03MB)</a><br />
        <a href="/cdn/static/cms/documents/Agenda-6.pdf">Agenda (PDF 0.02MB)</a><br />
        <a href="/cdn/static/cms/documents/2-Minutes-of-the-meeting-held-on-07-11-2007.pdf">Item 2 - Minutes of 7 November 2007 Meeting (PDF 0.02MB)</a><br />
        <a href="/cdn/static/cms/documents/3-Matters-Arising-and-Actions-list-4.pdf">Item 3 - Matters Arising and Actions List (PDF 0.01MB)</a><br />
        <a href="/cdn/static/cms/documents/4-Managing-Directors-Report-1.pdf">Item 4 - Managing Director's Report (PDF 0.10MB)</a><br />
        <a href="/cdn/static/cms/documents/5-Property-Contribution-to-Funding-of-East-London-line.pdf">Item 5 - Property Contribution to Funding of East London Line Phase 2 (PDF 0.01MB)</a></p>
    

            </div>
        </div>
    </div>
 <div class="expandable-box">




        <div class="content">
            <div class="always-visible" role="button" aria-controls="2007-content" aria-expanded="false" tabindex="0">
                <div class="controls" data-tracking="prop36" data-tracking-value="Rail & Underground 2006-2016-2007"><span class="visually-hidden">Toggle accordion</span></div>
                <div id="2007-heading" class="accordion-heading">2007</div>
            </div>
            <div id="2007-content" class="start-hidden" role="region" aria-labelledby="2007-heading">

        <h2>Underground advisory panel</h2>
        <h3>6 November </h3>
        <p>
        <a href="/cdn/static/cms/documents/Agenda-6-Nov.rtf">Agenda - RTF version (RTF 37.2KB)</a> <br />
        <a href="/cdn/static/cms/documents/Agenda-Papers-11-07.pdf">Agenda and papers (PDF 625KB)</a> </p>
        <h3>9 May </h3>
        <p>
        <a href="/cdn/static/cms/documents/agenda-May-2007.rtf">Agenda - RTF version (RTF 26.9KB)</a> <br />
        <a href="/cdn/static/cms/documents/agenda-May-2007.pdf">Agenda and papers (PDF 318KB)</a> </p>
        <h2>Rail Transport advisory panel</h2>
        <h3>7 November </h3>
        <p>
        <a href="/cdn/static/cms/documents/RTAP-Agenda.rtf">Agenda - RTF version (RTF 40KB)</a> <br />
        <a href="/cdn/static/cms/documents/Rail-Panel-Papers.pdf">Agenda and papers (PDF 119KB)</a></p>
        <h3>10 May </h3>
        <p>
        <a href="/cdn/static/cms/documents/Agenda-RTAP-33.rtf">Agenda - RTF version (RTF 35KB)</a> <br />
        <a href="/cdn/static/cms/documents/Agenda-and-papers-10-May-07-.pdf">Agenda and papers (PDF 399KB)</a> </p>
    

            </div>
        </div>
    </div>
 <div class="expandable-box">




        <div class="content">
            <div class="always-visible" role="button" aria-controls="2006-content" aria-expanded="false" tabindex="0">
                <div class="controls" data-tracking="prop36" data-tracking-value="Rail & Underground 2006-2016-2006"><span class="visually-hidden">Toggle accordion</span></div>
                <div id="2006-heading" class="accordion-heading">2006</div>
            </div>
            <div id="2006-content" class="start-hidden" role="region" aria-labelledby="2006-heading">

        <h2>Underground advisory panel</h2>
        <h3>13 December</h3>
        <p>
        <a href="/cdn/static/cms/documents/Agenda19-Dec-06.rtf">Agenda - RTF version (RTF 48KB)</a> <br />
        <a href="/cdn/static/cms/documents/Agenda19-Dec-06.pdf">Agenda (PDF 472KB)</a></p>
        <h3>4 October </h3>
        <p>
        <a href="/cdn/static/cms/documents/Agenda181006.rtf">Agenda - RTF version (RTF 48KB)</a> <br />
        <a href="/cdn/static/cms/documents/Agenda-Papers201006.pdf">Agenda and Papers (PDF 959KB)</a></p>
        <h3>6 June </h3>
        <p>
        <a href="/cdn/static/cms/documents/Agenda060606.rtf">Agenda - RTF version (RTF 51KB)</a> <br />
        <a href="/cdn/static/cms/documents/AgendaandPapers060606.pdf">Agenda and papers (PDF 1MB)</a></p>
        <h2>Rail Transport advisory panel</h2>
        <h3>14 December</h3>
        <p>
        <a href="/cdn/static/cms/documents/Agenda-RTAP-32.rtf">Agenda - RTF version (RTF 27KB)</a> <br />
        <a href="/cdn/static/cms/documents/Agenda-RTAP-32.pdf">Agenda (PDF 290KB)</a></p>
        <h3>3 October </h3>
        <p>
        <a href="/cdn/static/cms/documents/RTAP-Agenda-03-10-06.rtf">Agenda - RTF version (RTF 28KB)</a> <br />
        <a href="/cdn/static/cms/documents/Agenda-and-Papers-rail-04-10-06.pdf">Agenda and papers (PDF 1.7MB)</a> </p>
        <h3>31 May </h3>
        <p>
        <a href="/cdn/static/cms/documents/Rail-Panel-Agenda-31-05-06.rtf">Agenda - RTF version (RTF 17KB)</a> <br />
        <a href="/cdn/static/cms/documents/Agenda-Papers-31-05-06.pdf">Agenda and papers (PDF 132KB)</a> </p>
    

            </div>
        </div>
    </div>
 
</div>
 
      
        
          
        
      
    
  </div>
  <div class="aside" role="complementary">

   
    
    
    
      <div data-set="sidenav-container" class="large">
        
        
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
                <a href="/corporate/publications-and-reports/customer-service-op-performance" class="heading">
                    <h2 id="sub-menu-heading">Customer service & Op performance<span class="visually-hidden"> navigation</span></h2>
                </a>
                <ul>
                    
                                <li><div class="link-wrapper"><a href="/corporate/publications-and-reports/cs-and-op-performance-past-years">Papers - past years</a></div></li>
                            
 
                                <li class="selected"><div class="link-wrapper"><a href="/corporate/publications-and-reports/rail-and-underground-past-years">Rail & Underground 2006-2016</a></div>
                            </li>
 
                                <li><div class="link-wrapper"><a href="/corporate/publications-and-reports/surface-transport-past-years">Surface Transport 2006-2016</a></div></li>
                            
 
                </ul>
            
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
      </div>
    
    <div>




















<div class="advert-tile unsponsored-style google-ads" aria-hidden="true">
  <div class="advert-link">
    <div class="advert-content">
        <div class="medium-large" data-advert="/76889402/non-targeted" data-advert-sizes="300, 250"></div>
        <div class="small" data-advert="/76889402/non-targeted" data-advert-sizes="300, 250"></div>
    </div>
  </div>
</div>
@{
    ViewBag.AmazonSlot = "'amznslots'";
    ViewBag.AmazonAds = "'3199'"; // to add another value, this needs to be ViewBag.AmazonAds = "'3199','xx'";
}
      

 </div>
    
    <div data-set="sidenav-container" class="small-medium"></div>
  </div>
</div>
 
 
        
        
        
            @{ViewBag.Description = "Agendas and reports from the Rail and Underground panel from 2006 to 2016";}
        
            
        


 