
    
  



@{ViewBag.Title = "Red routes";}
@{ViewBag.Keywords = "P,R,Transparency data ,TfL";}
@{ViewBag.Url = "/corporate/publications-and-reports/red-routes";}
@{ViewBag.Language = "en";}
        <!-- empty placeholder -->
 
        
        
<div class="r">
    <div class="breadcrumb-container" role="navigation">
        <span id="breadcrumb-label" class="visually-hidden">You are here:</span>
        <ol class="breadcrumbs clearfix" aria-labelledby="breadcrumb-label">
            <li class="home">
                <a href="/">
                    <span class="hide-text">Home</span>
                </a>
            </li>
            
                 <li><a href="/corporate/publications-and-reports/index">Publications & reports</a></li>
                
            
            
                <li><span class="last-breadcrumb">Red routes</span></li>
            
        
 
        
 
        </ol>
    </div>
</div>
     
 
<div class="r">
  <div class="headline-container plain">
    <h1>Red routes</h1>

  </div>
</div>
<div class="main-and-aside r">
  
  <div class="main content-container" role="main">
    
      <div class="article-teaser">
        Publications and reports relating to the Capital's red routes.
        
      </div>
    
    <div class="on-this-page">
      
      
           
      <div>

<h2>Red routes Freedom of Information (FOI) requests</h2>
<p>This page contains the most common Freedom of Information (FOI) requests from drivers challenging PCNs issued for red route contraventions.</p>
<p>There are a lot of websites and forums dedicated to helping drivers challenge a PCN. While these can provide assistance to drivers who are unfamiliar with the enforcement process, the advice given is often out of date or does not apply to the red route.</p>
<p>Some websites provide templates for drivers to make representations against a PCN, and encourage drivers to make an FOI request for &quot;evidence&quot; to support their representation.  As a result, we receive many FOI requests from drivers who have been led to believe this will result in TfL cancelling their PCN.  However, FOI requests are governed by separate legislation and are dealt with by a separate team, so making an FOI request has no bearing on decisions we make about PCNs.</p>
</div>
 
<div>




<h3>Myths and complaints about red route enforcement</h3>
<div class="multi-document-download-container">
    

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/myths-and-complaints-about-red-route-enforcement.pdf">
    <div class="document-download-text">
        <p>Common myths and complaints about red route enforcement</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 26KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.03 -->
 
</div>

</div>
 <div>

<h3>Camera approval certificates</h3>
<p>Enforcement of the following types of contraventions can only be carried out using an &quot;Approved Device&quot; which has been fully certified by the Secretary of State for Transport.</p>
<ul>
    <li>Red route stopping, parking and loading contraventions enforced under the Traffic Management Act 2004</li>
    <li>Bus lane contraventions enforced under the London Local Authorities Act 1996</li>
</ul>
<p>The DfT publishes a <a href="https://www.gov.uk/government/publications/list-of-certifications-granted-for-approved-devices">list of certificates  granted for approved devices</a>. </p>
</div>
 
<div>




<h3>VCA CCTV camera approval/authorisation</h3>
<p>CCTV cameras and associated recording equipment used for the enforcement of red route parking and bus lane contraventions must be certified by the Secretary of State for Transport to show that the complete system is an &quot;approved device&quot;. &nbsp;The Vehicle Certification Agency (the VCA) has been appointed to do this on his or her behalf, in accordance with the Civil Enforcement of Parking Contraventions (Approved Devices)(England) Order 2007 and the Bus Lanes (Approved Devices)(England) Order 2005. The &quot;approved device&quot; used by TfL for this type of enforcement is the Digital Traffic Enforcement System.</p>
<p>This document consists of the VCA's confirmation that it has considered TfL's application for certification of the Digital Traffic Enforcement System as an &quot;approved device&quot;, that the device meets the requirements set out in the above Orders, and that the device is therefore certified accordingly.</p>
<p>For accessible versions of the documents contact <span style="font-size: 11pt; color: #1f497d;"><a href="mailto:CCCorrespondence&#64;TfL.gov.uk">CCcorrespondence&#64;tfl.gov.uk</a>. </span></p>
<div class="multi-document-download-container">
    

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/certification-of-approved-devices.pdf">
    <div class="document-download-text">
        <p>Camera approval certificates</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 123KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<div>
<p>The &quot;Approved Device&quot; in question is our Digital Traffic Enforcement System (DTES).  All of our individual CCTV enforcement cameras are components of that system.</p>
<p>Moving traffic contraventions such as &quot;entering and stopping in a yellow box junction&quot; or &quot;failing to comply with a No Entry sign&quot; are enforced under the London Local Authorities and TfL Act 2003.  Under that Act, there is no requirement for the equipment used to be approved or certified.  However there is nothing in the 2003 Act which prevents us from using certified equipment to enforce moving traffic contraventions, therefore all of our CCTV enforcement cameras can be used to enforce any type of contravention.</p>
</div>

<!-- 0.12 -->
 
</div>

</div>
 <div>

<h3>Camera maintenance and calibration</h3>
<p>Our CCTV enforcement camera assemblies undergo regular planned maintenance inspections every six months.  The maintenance contract is managed by professionally qualified engineers at the contractor's head office and within TfL.</p>
<p>CCTV cameras do not need to be calibrated because the camera itself does not have a timer. The time and date displayed on the recording of a contravention is not transmitted from the CCTV camera on the street.  The camera captures images which are sent back to the CCTV matrix at TfL's enforcement operations centre.  As the images are processed (viewed by our camera operators), they are overlaid with the data from a Network Time Protocol (NTP) server via TfL's network switches.  This gives us a time stamp in the recording which is synchronised with Coordinated Universal Time (UTC), therefore displaying the accurate time on all images.</p>
<h3>Camera warning signs</h3>
<p>We have a number of CCTV signs located across the red route network warning drivers that camera enforcement is in operation, but we do not currently hold a list of their locations.  The purpose of this type of sign is to ensure that any organisation using CCTV complies with data protection legislation.  There is no legal requirement within either the DPA or enforcement legislation to place camera warning signs at every location where we may issue a PCN.  The current requirement is that, where these signs are used, they must be of the correct size and type prescribed by the Traffic Signs Regulations and General Directions (TSRGD) 2002, as amended 2011.</p>
</div>
 <div>

<h3>Signs and road markings</h3>
<p>We are only allowed to use signs and road markings authorised by the Department for Transport (DfT).</p>
<p>Signs and road markings specific to the red route are authorised by the <a href="http://assets.dft.gov.uk/trafficauths/case-3997.pdf">Authorisation of Traffic Signs and Road Markings for Red Route Controls on GLA Roads and GLA Side Roads</a>. </p>
<p>Other signs and road markings that we use are authorised by the <a href="http://www.legislation.gov.uk/all?title=Traffic%20Signs%20Regulations%20and%20General%20Directions">Traffic Signs Regulations and General Directions (TSRGD) 2002, as amended 2011</a>, and can be found in the Highway Code.&nbsp;&nbsp; </p>
<p>There is a lot of incorrect and out of date information on&nbsp;websites and&nbsp;forums regarding legal and technical requirements of signs and road markings, and what information you should ask for in an FOI request to &quot;prove&quot; that a PCN can't be enforced. </p>
<p>In an important decision in the Court of Appeal in 2011, the court ruled that a technical failure to comply with the TSRGD does not invalidate signage as long as signs are substantially compliant with the regulations and not misleading to motorists.  Because decisions of the higher courts are binding on the independent adjudicators hearing appeals against PCNs, this has effectively prevented further successful appeals on the grounds of a technical failure to comply with the regulations where no harm can be shown.</p>
<p>Signs and road markings which are not specific to the red route or compliant with the TSRGD need <a href="http://www.dft.gov.uk/traffic-auths/?search=transport+for+london">special DfT authorisation</a>.&nbsp; </p>
<p>See the DfT authorisations issued to TfL for yellow box junctions on the red route network that deviate from TSRGD requirements.</p>
</div>
 <div class="accordion">




<div class="expandable-box">




        <div class="content">
            <div class="always-visible" role="button" aria-controls="dft-authorisation-documents-content" aria-expanded="false" tabindex="0">
                <div class="controls" data-tracking="prop36" data-tracking-value="Red routes-Dft authorisation documents"><span class="visually-hidden">Toggle accordion</span></div>
                <div id="dft-authorisation-documents-heading" class="accordion-heading">Dft authorisation documents</div>
            </div>
            <div id="dft-authorisation-documents-content" class="start-hidden" role="region" aria-labelledby="dft-authorisation-documents-heading">


<div>




<h2>DfT authorisations of yellow box junctions</h2>
<p>Traffic Signs and Road Markings in the UK are regulated by the Secretary of State for Transport.&nbsp; The Traffic Signs Regulations and General Directions 2002 (as amended) sets out prescribed signs and markings for use on public roads.&nbsp; An authority may seek special authorisation from the Department for Transport (DfT) to use non-standard forms of the signs or new sign types entirely where the regulations do not provide appropriate solutions.<br />
<br />
The documents in this section consist of the formal authorisations issued by DfT to TfL for the placing of non-standard yellow box junction designs.&nbsp; The documents consist of a legal description of the authorised road marking and how it relates to the relevant sections of the Traffic Signs Regulations and General Directions.&nbsp; The documents also contain a drawing of the yellow box junction design and location to which the special authorisation applies.</p>
<p>For accessible version of the documents below contact <span style="font-size: 11pt; color: #1f497d;"><a href="mailto:CCCorrespondence&#64;TfL.gov.uk">CCcorrespondence&#64;tfl.gov.uk</a> email </span></p>
<div class="multi-document-download-container">
    

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/archway-rd-st-johns-way.pdf">
    <div class="document-download-text">
        <p>Archway Road - St Johns Way</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 327KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.32 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/baker-st-marylebone-rd.pdf">
    <div class="document-download-text">
        <p>Baker Street - Marylebone Road</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 312KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.30 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/balham-hill-nightingale-lane-clapham-common.pdf">
    <div class="document-download-text">
        <p>Balham Hill - Nightingale Lane - Clapham Common</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 323KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.32 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/barclay-road-park-lane.pdf">
    <div class="document-download-text">
        <p>Barclay Road - Park Lane</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 2.12MB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 2.12 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/battersea-park-rd-queenstown-rd.pdf">
    <div class="document-download-text">
        <p>Battersea Park Road - Queenstown Road</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 330KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.32 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/bridgefoot-on-vauxhall-bridge.pdf">
    <div class="document-download-text">
        <p>Bridgefoot on Vauxhall Bridge</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 1.81MB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 1.81 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/brixton-rd-camberwell-new-rd.pdf">
    <div class="document-download-text">
        <p>Brixton Road - Camberwell New Road</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 1.19MB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 1.19 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/brixton-rd-stockwell-rd-gresham-rd.pdf">
    <div class="document-download-text">
        <p>Brixton Road - Stockwell Road - Gresham Road</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 1.29MB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 1.29 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/camberwell-new-rd-bolton-crescent-foxley-rd.pdf">
    <div class="document-download-text">
        <p>Camberwell New Road - Bolton Crescent - Foxley Road</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 298KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.29 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/camden-rd-royal-college-st.pdf">
    <div class="document-download-text">
        <p>Camden Road - Royal College Street</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 327KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.32 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/catford-rd-rushey-green-ambleside-avenue.pdf">
    <div class="document-download-text">
        <p>Catford Road - Rushey Green - Ambleside Avenue</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 462KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.45 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/catford-rd-rushey-green-northbound.pdf">
    <div class="document-download-text">
        <p>Catford Road - Rushey Green - Northbound</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 473KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.46 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/catford-rd-thomas-lane.pdf">
    <div class="document-download-text">
        <p>Catford Road - Thomas Lane</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 275KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.27 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/city-rd-graham-st-central-st.pdf">
    <div class="document-download-text">
        <p>City Road - Graham Street - Central Street</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 311KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.30 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/clapham-common-south-side-long-rd-the-pavement.pdf">
    <div class="document-download-text">
        <p>Clapham Common - South Side - Long Road - The Pavement</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 303KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.30 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/commercial-rd-branch-rd-flamborough-st.pdf">
    <div class="document-download-text">
        <p>Commercial Road - Branch Road - Flamborough Street</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 311KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.30 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/commercial-rd-butcher-row-white-horse-rd.pdf">
    <div class="document-download-text">
        <p>Commercial Road - Butcher Row - White Horse Road</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 1.25MB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 1.25 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/cromwell-rd-earls-court-rd.pdf">
    <div class="document-download-text">
        <p>Cromwell Road - Earls Court Road</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 295KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.29 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/east-cross-route-a12-approach-rd-wick-rd.pdf">
    <div class="document-download-text">
        <p>East Cross Route A12 Approach Road - Wick Road</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 328KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.32 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/east-india-dock-rd-commercial-rd-burdett-rd.pdf">
    <div class="document-download-text">
        <p>East India Dock Road - Commercial Road - Burdett Road</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 346KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.34 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/east-india-dock-rd-cotton-st.pdf">
    <div class="document-download-text">
        <p>East India Dock Road - Cotton Street</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 307KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.30 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/east-india-dock-rd-st-leonards-rd.pdf">
    <div class="document-download-text">
        <p>East India Dock Road - St. Leonards Road</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 323KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.31 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/east-india-dock-rd-upper-north-st-saltwell-st.pdf">
    <div class="document-download-text">
        <p>East India Dock Road - Upper North Street - Saltwell Street</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 303KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.30 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/edgware-rd-connaught-st-upper-berkeley-st.pdf">
    <div class="document-download-text">
        <p>Edgware Road - Connaught Street - Upper Berkeley Street</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 333KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.33 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/edgware-rd-seymour-st.pdf">
    <div class="document-download-text">
        <p>Edgware Road - Seymour Street</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 315KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.31 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/eltham-rd-sidcup-rd-kidbrooke-park-rd.pdf">
    <div class="document-download-text">
        <p>Eltham Road - Sidcup Road - Kidbrooke Park Road</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 301KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.29 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/farringdon-st-charterhouse-st-farringdon-rd.pdf">
    <div class="document-download-text">
        <p>Farringdon Street - Charterhouse Street - Farringdon Road</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 308KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.30 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/finborough-rd-old-brompton-rd-warwick-rd.pdf">
    <div class="document-download-text">
        <p>Finborough Road - Old Brompton Road - Warwick Road</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 327KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.32 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/finchley-rd-boundary-rd.pdf">
    <div class="document-download-text">
        <p>Finchley Road - Boundary Road</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 306KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.30 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/finchley-rd-canfield-gardens-west-box.pdf">
    <div class="document-download-text">
        <p>Finchley Road - Canfield Gardens - West Box</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 310KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.30 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/finchley-rd-fortune-green-rd-platts-lane.pdf">
    <div class="document-download-text">
        <p>Finchley Road - Fortune Green Road - Platts Lane</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 332KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.32 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/finchley-rd-heath-drive-cannon-hill.pdf">
    <div class="document-download-text">
        <p>Finchley Road - Heath Drive - Cannon Hill</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 898KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.88 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/finchley-rd-o2-centre-frognal-court.pdf">
    <div class="document-download-text">
        <p>Finchley Road - O2 Centre - Frognal Court</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 307KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.30 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/great-cambridge-rd-bullsmoor-lane.pdf">
    <div class="document-download-text">
        <p>Great Cambridge Road - Bullsmoor Lane</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 323KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.32 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/great-cambridge-rd-pasteur-gardens-wilbury-way.pdf">
    <div class="document-download-text">
        <p>Great Cambridge Road - Pasteur Gardens - Wilbury Way</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 310KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.30 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/great-eastern-st-curtain-rd-gatesborough-st.pdf">
    <div class="document-download-text">
        <p>Great Eastern Street - Curtain Road - Gatesborough Street</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 340KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.33 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/great-north-way-north-circular-rd.pdf">
    <div class="document-download-text">
        <p>Great North Way - North Circular Road</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 311KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.30 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/great-tower-st-byward-st.pdf">
    <div class="document-download-text">
        <p>Great Tower Street - Byward Street</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 1.17MB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 1.17 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/gunnersbury-avenue-gunnersbury-lane-popes-lane.pdf">
    <div class="document-download-text">
        <p>Gunnersbury Avenue - Gunnersbury Lane - Popes Lane</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 1.19MB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 1.19 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/hedge-lane-taplow-road-n13.pdf">
    <div class="document-download-text">
        <p>Hedge Lane - Taplow Road - N13</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 1.23MB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 1.23 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/hither-green-lane-st-mildreds-rd-verdant-lane.pdf">
    <div class="document-download-text">
        <p>Hither Green Lane - St Mildreds Road - Verdant Lane</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 1.41MB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 1.41 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/hogarth-roundabout-great-west-rd-dorchester-grove.pdf">
    <div class="document-download-text">
        <p>Hogarth Roundabout - Great West Road - Dorchester Grove</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 315KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.31 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/holland-park-avenue-holland-park-roundabout.pdf">
    <div class="document-download-text">
        <p>Holland Park Avenue - Holland Park Roundabout</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 313KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.31 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/holloway-rd-drayton-park-palmer-place.pdf">
    <div class="document-download-text">
        <p>Holloway Road - Drayton Park - Palmer Place</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 374KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.36 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/holloway-rd-hornsey-rd-hornsey-st.pdf">
    <div class="document-download-text">
        <p>Holloway Road - Hornsey Road - Hornsey Street</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 324KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.32 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/kennington-park-rd-brixton-rd.pdf">
    <div class="document-download-text">
        <p>Kennington Park Road - Brixton Road</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 2.07MB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 2.07 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/kingsland-high-rd-balls-pond-rd.pdf">
    <div class="document-download-text">
        <p>Kingsland High Road - Balls Pond Road</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 1.73MB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 1.73 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/kingsland-high-st-stoke-newington-rd-shacklewell-lane-crossway.pdf">
    <div class="document-download-text">
        <p>Kingsland High Street - Stoke Newington Road - Shacklewell Lane Crosswell</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 342KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.33 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/lewisham-high-st-ladywell-rd.pdf">
    <div class="document-download-text">
        <p>Lewisham High Street - Ladywell Road</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 1.35MB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 1.35 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/marylebone-rd-enford-st-harewood-avenue.pdf">
    <div class="document-download-text">
        <p>Marylebone Road - Enford Street - Harewood Avenue</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 1.30MB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 1.30 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/marylebone-rd-gloucester-place.pdf">
    <div class="document-download-text">
        <p>Marylebone Road - Gloucester Place</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 402KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.39 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/marylebone-rd-harley-st.pdf">
    <div class="document-download-text">
        <p>Marylebone Road - Harley Street</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 342KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.33 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/marylebone-rd-marylebone-high-st-macfarren-place.pdf">
    <div class="document-download-text">
        <p>Marylebone Road - Marylebone High Street - Macfarren Place</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 326KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.32 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/marylebone-rd-seymour-place-lisson-grove.pdf">
    <div class="document-download-text">
        <p>Marylebone Road - Seymour Place - Lisson Grove</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 1.27MB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 1.27 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/old-marylebone-rd-edgware-rd-sussex-gardens.pdf">
    <div class="document-download-text">
        <p>Old Marylebone Road - Edgware Road - Sussex Gardens</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 324KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.32 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/park-lane-croydon-flyover-south-box.pdf">
    <div class="document-download-text">
        <p>Park Lane - Croydon Flyover - South Box</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 2.11MB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 2.11 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/pembroke-rd-warwick-gardens-cromwell-crescent.pdf">
    <div class="document-download-text">
        <p>Pembroke Road - Warwick Gardens - Cromwell Crescent</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 316KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.31 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/purley-way-brighton-rd.pdf">
    <div class="document-download-text">
        <p>Purley Way - Brighton Road</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 3.71MB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 3.71 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/purley-way-croydon-road.pdf">
    <div class="document-download-text">
        <p>Purley Way - Croydon Road</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 106KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.10 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/purley-way-foxley-lane-pampisford-rd.pdf">
    <div class="document-download-text">
        <p>Purley Way - Foxley Lane - Pampisford Road</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 3.71MB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 3.71 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/seven-sisters-rd-green-lanes.pdf">
    <div class="document-download-text">
        <p>Seven Sisters Road - Green Lanes</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 323KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.32 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/shoreditch-high-st-commercial-st-great-eastern-st.pdf">
    <div class="document-download-text">
        <p>Shoreditch High Street - Commercial Street - Great Eastern Street</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 1.20MB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 1.20 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/sloane-st-knightsbridge-brompton-rd.pdf">
    <div class="document-download-text">
        <p>Sloane Street - Knightsbridge - Brompton Road</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 390KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.38 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/south-lambeth-rd-parry-st.pdf">
    <div class="document-download-text">
        <p>South Lambert Road - Parry Street</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 333KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.33 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/stanstead-rd-cranston-rd-brockley-rise.pdf">
    <div class="document-download-text">
        <p>Stanstead Road - Cranston Road - Brockley Rise</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 1.49MB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 1.49 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/st-mildreds-rd-baring-rd-westhorne-avenue.pdf">
    <div class="document-download-text">
        <p>St Mildreds Road - Baring Road - Westhorne Avenue</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 2.65MB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 2.65 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/stockwell-close-kentish-way.pdf">
    <div class="document-download-text">
        <p>Stockwell Close - Kentish Way</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 328KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.32 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/stockwell-rd-stockwell-park-walk.pdf">
    <div class="document-download-text">
        <p>Stockwell Road - Stockwell Park Walk</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 336KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.33 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/stoke-newington-common-rectory-rd.pdf">
    <div class="document-download-text">
        <p>Stoke Newington - Common Rectory Road</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 303KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.30 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/streatham-high-rd-mitcham-lane-gleneldon-rd-tooting-bec-gardens.pdf">
    <div class="document-download-text">
        <p>Streatham High Road - Mitcham Lane - Gleneldon Road - Tooting Bec Gardens</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 385KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.38 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/streatham-high-rd-stanthorpe-rd-gleneagle-rd.pdf">
    <div class="document-download-text">
        <p>Streatham High Road - Stanthorpe Road - Gleneagle Road</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 353KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.34 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/tower-bridge-approach-east-smithfield-minories-mansell-st.pdf">
    <div class="document-download-text">
        <p>Tower Bridge Approach - East Smithfield Minories - Mansell Street</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 1.49MB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 1.49 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/upper-thames-st-arthur-st-swan-lane.pdf">
    <div class="document-download-text">
        <p>Upper Thames Street - Arthur Street - Swan Lane</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 302KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.30 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/vauxhall-bridge-rd-drummond-gate-bessborough-gardens.pdf">
    <div class="document-download-text">
        <p>Vauxhall Bridge Road - Drummond Gate - Bessborough Gardens</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 310KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.30 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/vauxhall-bridge-rd-rampayne-st.pdf">
    <div class="document-download-text">
        <p>Vauxhall Bridge Road - Rampayne Street</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 291KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.28 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/wandsworth-rd-bridgefoot-albert-embankment.pdf">
    <div class="document-download-text">
        <p>Wandsworth Road - Bridgefoot - Albert Embankment</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 2.14MB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 2.14 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/west-cross-route-holland-park-roundabout.pdf">
    <div class="document-download-text">
        <p>West Cross Route - Holland Park Roundabout</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 307KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.30 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/whitechapel-rd-vallance-rd-new-rd.pdf">
    <div class="document-download-text">
        <p>Whitechapel Road - Vallance Road - New Road</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 337KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.33 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/wyndham-rd-camberwell-new-rd-lothian-rd.pdf">
    <div class="document-download-text">
        <p>Wyndham Road - Camberwell New Road - Lothian Road</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 285KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.28 -->
 
</div>

</div>
 
            </div>
        </div>
    </div>
 
</div>
 <div>

<h3>PCNs issued and challenged</h3>
<p>The following table lists the locations where we have issued the highest number of PCNs due to low compliance with red route restrictions. The table shows a breakdown of the number of PCNs issued between 1 April 2017 and 31 March 2018 and the number of PCNs challenged at those locations. We have also added further information that we are often asked for in Freedom of Information requests.</p>
</div>
 
<div>





<div class="multi-document-download-container">
    

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/red-route-pcns-20-locations-2017-18.pdf">
    <div class="document-download-text">
        <p>Penalty Charge Notices (PCNs) issued between 1 April 2017 and 31 March 2018</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 304KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.30 -->
 
</div>

</div>
 <div class="accordion">




<div class="expandable-box">




        <div class="content">
            <div class="always-visible" role="button" aria-controls="locations-where-most-freedom-of-information-requests-about-pcns-issued-content" aria-expanded="false" tabindex="0">
                <div class="controls" data-tracking="prop36" data-tracking-value="Red routes-Locations where most Freedom of Information requests about PCNs issued"><span class="visually-hidden">Toggle accordion</span></div>
                <div id="locations-where-most-freedom-of-information-requests-about-pcns-issued-heading" class="accordion-heading">Locations where most Freedom of Information requests about PCNs issued</div>
            </div>
            <div id="locations-where-most-freedom-of-information-requests-about-pcns-issued-content" class="start-hidden" role="region" aria-labelledby="locations-where-most-freedom-of-information-requests-about-pcns-issued-heading">


<div>





<div class="multi-document-download-container">
    

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/archway-road-jacksons-lane-shepherds-hill.pdf">
    <div class="document-download-text">
        <p>Archway Road - Jacksons Lane - Shepherds Hill</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 109KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.11 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/brixton-road-acre-lane-brixton-hill.pdf">
    <div class="document-download-text">
        <p>Brixton Road - Acre Lane - Brixton Hill</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 87KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.09 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/clapton-common-e5.pdf">
    <div class="document-download-text">
        <p>Clapton Common</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 767KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.75 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/commercial-street-e1.pdf">
    <div class="document-download-text">
        <p>Commercial Street</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 183KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.18 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/deptford-bridge-blackheath-road-deals-gate.pdf">
    <div class="document-download-text">
        <p>Deptford Bridge - Blackheath Road - Deals Gate</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 108KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.11 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/east-india-dock-road-chrisp-street.pdf">
    <div class="document-download-text">
        <p>East India Dock Road - Chrisp Street</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 114KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.11 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/eltham-road-sidcup-road-kidbrooke-park-road.pdf">
    <div class="document-download-text">
        <p>Eltham Road - Sidcup Road - Kidbrooke Park Road</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 115KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.11 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/great-eastern-street-curtain-road-gatesborough-street.pdf">
    <div class="document-download-text">
        <p>Great Eastern Street - Curtain Road - Gatesborough Street</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 110KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.11 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/harben-parade-finchley-road-nw3.pdf">
    <div class="document-download-text">
        <p>Harben Parade - Finchley Road</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 840KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.82 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/high-street-sm3.pdf">
    <div class="document-download-text">
        <p>High Street (SM3)</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 545KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.53 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/homerton-high-street-homerton-fire-station-emergency-exit.pdf">
    <div class="document-download-text">
        <p>Homerton High Street - Homerton Fire Station Emergency Exit</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 131KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.13 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/kensington-high-street-w14.pdf">
    <div class="document-download-text">
        <p>Kensington High Street</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 156KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.15 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/kidbrooke-park-road-northbound-weigall-road.pdf">
    <div class="document-download-text">
        <p>Kidbrooke Park Road Northbound - Weigall Road</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 579KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.57 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/kidbrooke-park-road-southbound-weigall-road.pdf">
    <div class="document-download-text">
        <p>Kidbrooke Park Road Southbound - Weigall Road</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 648KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.63 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/north-kerb-egerton-road-n16.pdf">
    <div class="document-download-text">
        <p>North Kerb - Egerton Road</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 588KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.57 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/parkfield-road-lewisham-way.pdf">
    <div class="document-download-text">
        <p>Parkfield Road - Lewisham Way</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 105KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.10 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/peckham-high-street-bus-station-east-box.pdf">
    <div class="document-download-text">
        <p>Peckham High Street Bus Station - East Box</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 94KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.09 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/purley-way-croydon-road.pdf">
    <div class="document-download-text">
        <p>Purley Way - Croydon Road</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 106KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.10 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/service-road-for-stonecot-hill-sm4.pdf">
    <div class="document-download-text">
        <p>Service Road for Stonecot Hill</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 157KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.15 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/stamford-hill-n16.pdf">
    <div class="document-download-text">
        <p>Stamford Hill</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 635KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.62 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/stanstead-road-ravensbourne-road.pdf">
    <div class="document-download-text">
        <p>Stanstead Road - Ravensbourne Road</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 91KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.09 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/streatham-high-road-stanthorpe-road-gleneagle-road.pdf">
    <div class="document-download-text">
        <p>Streatham High Road - Stanthorpe Road - Gleneagle Road</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 106KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.10 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/west-hill-sw18-fire-station.pdf">
    <div class="document-download-text">
        <p>West Hill Fire Station (SW18)</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 108KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.11 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/wilton-road.pdf">
    <div class="document-download-text">
        <p>Wilton Road</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 665KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.65 -->
 
</div>

</div>
 
            </div>
        </div>
    </div>
 
</div>
 <div>

<h2>Red routes parking spaces and revenue</h2>
<p>These factsheets include information that we are required to publish under the Local Government Transparency Code 2015.</p>
</div>
 
<div>





<div class="multi-document-download-container">
    

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/red-route-parking-spaces-and-revenue-17-18.pdf">
    <div class="document-download-text">
        <p>Red route parking spaces and revenue  - 1 April 2017 to 31 March 2018</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 154KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.15 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/red-route-parking-spaces-and-revenue-16-17.pdf">
    <div class="document-download-text">
        <p>Red route parking spaces and revenue - 1 April 2016 to 31 March 2017</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 21KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.02 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/red-route-parking-spaces-and-revenue-15-16.pdf">
    <div class="document-download-text">
        <p>Red route parking spaces and revenue  - 1 April 2015 to 31 March 2016</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 154KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.15 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/red-route-parking-spaces-and-revenue-14-15.pdf">
    <div class="document-download-text">
        <p>Red route parking spaces and revenue &#45; 1 April 2014 to 31 March 2015</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 20KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.02 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/dclg-red-route-parking-spaces-revenue.pdf">
    <div class="document-download-text">
        <p>Red route parking spaces and revenue - 1 April 2013 to 31 March 2014</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 24KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.02 -->
 
</div>

</div>
 <div>

<h2>Motorcycles in bus lanes</h2>
<p>We ran trials in 2009 and 2010 allowing motorcycles in bus lanes. Following completion of the trials, motorcycles have been given permanent access to bus lanes on the majority of the Capital's red routes.</p>
<p>Benefits include shorter journey times for motorcyclists and reduced carbon dioxide emissions. The safety of motorcyclists and other vulnerable road users is unaffected.</p>
<p>It also helps achieve a key strand of the <a href="https://tfl.gov.uk/corporate/about-tfl/how-we-work/planning-for-the-future/the-mayors-transport-strategy">Mayor's transport strategy</a>: helping to smooth traffic flow.</p>
<p>Read the independent report from the trial and appendix:</p>
</div>
 
<div>





<div class="multi-document-download-container">
    

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/motorcycles-in-bus-lanes-appendices.pdf">
    <div class="document-download-text">
        <p>Motorcycles in bus lanes appendices</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 853KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.83 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/motorcycles-in-bus-lanes-independent-report.pdf">
    <div class="document-download-text">
        <p>Motorcycles in bus lanes report</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 1.14MB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 1.14 -->
 
</div>
<p> Listen to our <a href="http://www.youtube.com/watch?v=Q01owJIMOFs" class="external-link" target="_parent">radio safety advert</a><a href="http://www.youtube.com/watch?v=Q01owJIMOFs" class="ext-span"></a> highlighting the importance of
looking out for motorcycles in bus lanes.</p>
</div>
 
<div>




<h3>Maps</h3>
<p>To check which bus lanes can be used by motorcycles, use the maps below and look out for road signs.</p>
<div class="multi-document-download-container">
    

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/motorcycles-in-bus-lanes-central.pdf">
    <div class="document-download-text">
        <p>Motorcycle bus lanes (central)</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 2.54MB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 2.54 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/motorcycles-bus-lanes-north-east.pdf">
    <div class="document-download-text">
        <p>Motorcycle bus lanes (northeast)</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 2.29MB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 2.29 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/motorcycles-bus-lanes-north-west.pdf">
    <div class="document-download-text">
        <p>Motorcycle bus lanes (northwest)</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 2.87MB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 2.87 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/motorcycles-bus-lanes-south-east.pdf">
    <div class="document-download-text">
        <p>Motorcycle bus lanes (southeast)</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 5.61MB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 5.61 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/motorcycles-bus-lanes-south-west.pdf">
    <div class="document-download-text">
        <p>Motorcycle bus lanes (southwest)</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 2.37MB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 2.37 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/summary-of-bus-lanes.pdf">
    <div class="document-download-text">
        <p>Summary of bus lanes affected</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 133KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.13 -->
 
</div>

</div>
 
<div>




<h3>Information about the second trial</h3>
<div class="multi-document-download-container">
    

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/questions-and-answers.pdf">
    <div class="document-download-text">
        <p>Questions and answers about the second trial</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 56KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.05 -->
 
</div>

</div>
 
<div>




<h3>Information about the first trial</h3>
<div class="multi-document-download-container">
    

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/questions-and-answers.pdf">
    <div class="document-download-text">
        <p>Questions and answers about the second trial</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 56KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.05 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/motorcycles-in-bus-lanes-full-report.pdf">
    <div class="document-download-text">
        <p>Full independent report into the first trial</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 1.65MB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 1.65 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/appendix-a.pdf">
    <div class="document-download-text">
        <p>Appendix A of the full report</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 2.47MB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 2.47 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/appendix-c.pdf">
    <div class="document-download-text">
        <p>Apendix C of the full report</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 4.08MB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 4.08 -->
 
</div>
Note - all other appendices are included in the main report.
</div>
 
<div>




<h3>Emissions study</h3>
<div class="multi-document-download-container">
    

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/pt-emissions-study.pdf">
    <div class="document-download-text">
        <p>Appendix 1 of emissions report</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 3.85MB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 3.85 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/full-appendix-2.pdf">
    <div class="document-download-text">
        <p>Appendix 2 of emissions report</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 291KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.28 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/full-appendix-3.pdf">
    <div class="document-download-text">
        <p>Appendix 3 of emissions report</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 178KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.17 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/full-appendix-4.pdf">
    <div class="document-download-text">
        <p>Appendix 4 of emissions report</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 1.42MB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 1.42 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/full-appendix-5.pdf">
    <div class="document-download-text">
        <p>Appendix 5 of emissions report</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 234KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.23 -->
 
</div>

</div>
 
<div>




<h3>Evaluation criteria</h3>
<p>Initial data for the first six months of the trial shows little variation in casualty figures or commuter habits:</p>
<div class="multi-document-download-container">
    

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/p2ws-measures-of-success.pdf">
    <div class="document-download-text">
        <p>Evaluation criteria for allowing motorcycles in red route bus lanes</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 66KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.06 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/motorcycles-in-bus-lanes-interim-report-november-2009.pdf">
    <div class="document-download-text">
        <p>Motorcycles in bus lanes interim report November 2009</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 4.66MB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 4.66 -->
 
</div>

</div>
 
<div>




<h3>Customer research report:</h3>
<p>View the first and second phases of customer research undertaken as part of the trial:</p>
<div class="multi-document-download-container">
    

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/motorcycles-in-bus-lanes-final-customer-research-report.pdf">
    <div class="document-download-text">
        <p>Motorcycles in bus lanes: customer research report - wave 1</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 937KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.92 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/motorcycles-in-bus-lanes-report.pdf">
    <div class="document-download-text">
        <p>Motorcycles in bus lanes: customer research report - wave 2</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 1.14MB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 1.14 -->
 
</div>

</div>
 <div>

<p><strong>This is where the old content starts</strong></p>
</div>
 <div class="accordion">




<div class="expandable-box">




        <div class="content">
            <div class="always-visible" role="button" aria-controls="red-route-parking-spaces-and-revenue-content" aria-expanded="false" tabindex="0">
                <div class="controls" data-tracking="prop36" data-tracking-value="Red routes-Red route parking spaces and revenue"><span class="visually-hidden">Toggle accordion</span></div>
                <div id="red-route-parking-spaces-and-revenue-heading" class="accordion-heading">Red route parking spaces and revenue</div>
            </div>
            <div id="red-route-parking-spaces-and-revenue-content" class="start-hidden" role="region" aria-labelledby="red-route-parking-spaces-and-revenue-heading">
<p>These factsheets include information that we are required to publish under the Local Government Transparency Code 2014.</p>

<div>





<div class="multi-document-download-container">
    

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/red-route-parking-spaces-and-revenue-14-15.pdf">
    <div class="document-download-text">
        <p>Red route parking spaces and revenue &#45; 1 April 2014 to 31 March 2015</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 20KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.02 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/dclg-red-route-parking-spaces-revenue.pdf">
    <div class="document-download-text">
        <p>Red route parking spaces and revenue - 1 April 2013 to 31 March 2014</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 24KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.02 -->
 
</div>

</div>
 
            </div>
        </div>
    </div>
 <div class="expandable-box">




        <div class="content">
            <div class="always-visible" role="button" aria-controls="motorcycles-in-bus-lanes-content" aria-expanded="false" tabindex="0">
                <div class="controls" data-tracking="prop36" data-tracking-value="Red routes-Motorcycles in bus lanes"><span class="visually-hidden">Toggle accordion</span></div>
                <div id="motorcycles-in-bus-lanes-heading" class="accordion-heading">Motorcycles in bus lanes</div>
            </div>
            <div id="motorcycles-in-bus-lanes-content" class="start-hidden" role="region" aria-labelledby="motorcycles-in-bus-lanes-heading">


<div>




<p>We ran trials in 2009 and 2010 allowing motorcycles in bus lanes.
Following completion of the trials, motorcycles have been given
permanent access to bus lanes on the majority of the Capital's red
routes.</p>
<p>Benefits include reduced journey times for motorcyclists and less
carbon dioxide emissions. The safety of motorcyclists and other
vulnerable road users is unaffected.</p>
<p>It also helps achieve a key strand of the <a href="http://www.tfl.gov.uk/corporate/about-tfl/how-we-work/planning-for-the-future/the-mayors-transport-strategy">Mayor's transport strategy</a> - helping to smooth traffic flow.</p>
<p>Read the independent report from the trial and
appendix:</p>
<div class="multi-document-download-container">
    

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/motorcycles-in-bus-lanes-independent-report.pdf">
    <div class="document-download-text">
        <p>Motorcycles in bus lanes report</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 1.14MB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 1.14 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/motorcycles-in-bus-lanes-appendices.pdf">
    <div class="document-download-text">
        <p>Motorcycles in bus lanes appendices</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 853KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.83 -->
 
</div>
<p> Listen to our <a href="http://www.youtube.com/watch?v=Q01owJIMOFs" class="external-link" target="_parent">radio safety advert</a> highlighting the importance of looking out for motorcycles in bus lanes.</p>
</div>
 
<div>




<h3>Maps</h3>
<p> To check which bus lanes can be used by motorcycles, use the maps below and look out for road signs.&nbsp;</p>
<div class="multi-document-download-container">
    

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/motorcycles-in-bus-lanes-central.pdf">
    <div class="document-download-text">
        <p>Motorcycle bus lanes (central)</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 2.54MB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 2.54 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/motorcycles-bus-lanes-north-east.pdf">
    <div class="document-download-text">
        <p>Motorcycle bus lanes (northeast)</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 2.29MB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 2.29 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/motorcycles-bus-lanes-north-west.pdf">
    <div class="document-download-text">
        <p>Motorcycle bus lanes (northwest)</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 2.87MB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 2.87 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/motorcycles-bus-lanes-south-east.pdf">
    <div class="document-download-text">
        <p>Motorcycle bus lanes (southeast)</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 5.61MB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 5.61 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/motorcycles-bus-lanes-south-west.pdf">
    <div class="document-download-text">
        <p>Motorcycle bus lanes (southwest)</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 2.37MB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 2.37 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/summary-of-bus-lanes.pdf">
    <div class="document-download-text">
        <p>Summary of bus lanes affected</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 133KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.13 -->
 
</div>

</div>
 
<div>




<h3>Information about the second trial</h3>
<div class="multi-document-download-container">
    

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/questions-and-answers.pdf">
    <div class="document-download-text">
        <p>Questions and answers about the second trial</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 56KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.05 -->
 
</div>

</div>
 
<div>




<h3>Information about the first trial</h3>
<div class="multi-document-download-container">
    

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/questions-and-answers.pdf">
    <div class="document-download-text">
        <p>Questions and answers about the second trial</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 56KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.05 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/motorcycles-in-bus-lanes-full-report.pdf">
    <div class="document-download-text">
        <p>Full independent report into the first trial</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 1.65MB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 1.65 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/appendix-a.pdf">
    <div class="document-download-text">
        <p>Appendix A of the full report</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 2.47MB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 2.47 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/appendix-c.pdf">
    <div class="document-download-text">
        <p>Apendix C of the full report</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 4.08MB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 4.08 -->
 
</div>

        <p>Note - all other appendices are included in the main report. &nbsp;</p>
    
</div>
 
<div>




<h3>Emissions study</h3>
<div class="multi-document-download-container">
    

<a class="document-download-wrap not-for-beta placeholder-image" href="/shared/DocumentComingSoon" data-pull-content="#body">
    <div class="document-download-text">
        <p>Evaluation of journey time and emissions of motorcycles in bus lane report</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!--  -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/pt-emissions-study.pdf">
    <div class="document-download-text">
        <p>Appendix 1 of emissions report</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 3.85MB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 3.85 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/full-appendix-2.pdf">
    <div class="document-download-text">
        <p>Appendix 2 of emissions report</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 291KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.28 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/full-appendix-3.pdf">
    <div class="document-download-text">
        <p>Appendix 3 of emissions report</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 178KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.17 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/full-appendix-4.pdf">
    <div class="document-download-text">
        <p>Appendix 4 of emissions report</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 1.42MB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 1.42 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/full-appendix-5.pdf">
    <div class="document-download-text">
        <p>Appendix 5 of emissions report</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 234KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.23 -->
 
</div>

</div>
 
<div>




<h3>Evaluation criteria</h3>
<p>Initial data for the first six months of the trial shows little variation in casualty figures or commuter habits:</p>
<div class="multi-document-download-container">
    

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/p2ws-measures-of-success.pdf">
    <div class="document-download-text">
        <p>Evaluation criteria for allowing motorcycles in red route bus lanes</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 66KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.06 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/motorcycles-in-bus-lanes-interim-report-november-2009.pdf">
    <div class="document-download-text">
        <p>Motorcycles in bus lanes interim report November 2009</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 4.66MB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 4.66 -->
 
</div>

</div>
 
<div>




<h3>Customer research report</h3>
<p>View the first and second phases of customer research undertaken as part of the trial:</p>
<div class="multi-document-download-container">
    

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/motorcycles-in-bus-lanes-final-customer-research-report.pdf">
    <div class="document-download-text">
        <p>Motorcycles in bus lanes: customer research report - wave 1</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 937KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.92 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/motorcycles-in-bus-lanes-report.pdf">
    <div class="document-download-text">
        <p>Motorcycles in bus lanes: customer research report - wave 2</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 1.14MB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 1.14 -->
 
</div>

</div>
 <div>


        <p>If you have any questions about the bus lane trial, please contact us:</p>
        <p><strong>Email:</strong> <a href="mailto:STEngagement&#64;tfl.gov.uk">STEngagement&#64;tfl.gov.uk</a><br />
        <strong>Post:<br />
        </strong> Surface Transport Stakeholder Engagement<br />
        Transport for London<br />
        Level 11 Palestra<br />
        197 Blackfriars Road<br />
        London SE1 8NJ</p>
    
</div>
 
            </div>
        </div>
    </div>
 
</div>
 
      
        
          
            @this.ScriptBlock(
              @<script>
                queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
              </script>
            )
          
        
      
    </div>
  </div>
  <div class="aside" role="complementary">

   
    
    
    
      <div data-set="sidenav-container" class="large">
        
        
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
      </div>
    
    <div>
















<div class="advert-tile unsponsored-style google-ads" aria-hidden="true">
  <div class="advert-link">
    <div class="advert-content">
        <div class="medium-large" data-advert="/76889402/non-targeted" data-advert-sizes="300, 250"></div>
        <div class="small" data-advert="/76889402/non-targeted" data-advert-sizes="300, 250"></div>
    </div>
  </div>
</div>
@{
    ViewBag.AmazonSlot = "'amznslots'";
    ViewBag.AmazonAds = "'3199'"; // to add another value, this needs to be ViewBag.AmazonAds = "'3199','xx'";
}
      

 </div>
    
    <div data-set="sidenav-container" class="small-medium"></div>
  </div>
</div>
 
 
        
        
        
            @{ViewBag.Description = "Publications and reports relating to the Capital's red routes";}
        
            
        


 