
    
  



@{ViewBag.Title = "Remuneration - past years";}
@{ViewBag.Keywords = "TfL";}
@{ViewBag.Url = "/corporate/publications-and-reports/remuneration-past-years";}
@{ViewBag.Language = "en";}
        
        
        
<div class="r">
    <div class="breadcrumb-container" role="navigation">
        <span id="breadcrumb-label" class="visually-hidden">You are here:</span>
        <ol class="breadcrumbs clearfix" aria-labelledby="breadcrumb-label">
            <li class="home">
                <a href="/">
                    <span class="hide-text">Home</span>
                </a>
            </li>
            
                 <li><a href="/corporate/publications-and-reports/index">Publications & reports</a></li>
                
            
                 <li><a href="/corporate/publications-and-reports/remuneration-committee">Remuneration committee</a></li>
                
            
            
                <li><span class="last-breadcrumb">Remuneration - past years</span></li>
            
        
 
        
 
        
 
        </ol>
    </div>
</div>
     
 
<div class="r">
  <div class="headline-container plain">
    <h1>Remuneration - past years</h1>

  </div>
</div>
<div class="main-and-aside r">
  
  <div class="main content-container" role="main">
    
      <div class="article-teaser">
        Committee agendas and reports from before the current year.
        
      </div>
    
    
      
      
           
      <h2> 2018 meeting papers</h2>






    


<div class="accordion">
<div class="expandable-box">

        <div class="content">
            <div class="always-visible">
                <a class="controls" href="javascript:void(0);">&nbsp;</a>
                <div class="accordion-heading">
                    08 February
                </div>
            </div>
            <div class="start-hidden">
                <div class="multi-document-download-container">
                

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/remcom-20180208-agenda-web.pdf">
    <div class="document-download-text">
        <p>Agenda</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 40KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.04 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/remcom-20180208-part1-item03-minutes-20171002-for-approval.pdf">
    <div class="document-download-text">
        <p>Item 3 - Minutes of the Meeting of the Remuneration Committee held on 2 October 2017</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 30KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.03 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/remcom-20180208-part1-item04-matters-arising-actions-list.pdf">
    <div class="document-download-text">
        <p>Item 4 - Matters Arising and Actions List</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 55KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.05 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/remcom-20180208-part1-item05-new-performance-award-senior-management.pdf">
    <div class="document-download-text">
        <p>Item 5 - New Performance Award Scheme for Senior Management for 2018-19</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 74KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.07 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/remcom-20180208-part1-item06-annual-benchmarking-report.pdf">
    <div class="document-download-text">
        <p>Item 6 - Annual Remuneration Benchmarking Report for Roles under the Remuneration Committee's Terms of Reference</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 507KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.50 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/remcom-20180208-part1-item07-professional-services-performance-award.pdf">
    <div class="document-download-text">
        <p>Item 7 - 2017-18 Performance Award Calculation for Managing Directors and Directors in Professional Services</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 38KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.04 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/remcom-20180208-part1-item08-forward-plan.pdf">
    <div class="document-download-text">
        <p>Item 8 - Member suggestions for future agenda discussions</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 54KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.05 -->
            
              </div>
            </div>
        </div>
 <p>This meeting was cancelled </p>

   </div>
 <div class="expandable-box">

        <div class="content">
            <div class="always-visible">
                <a class="controls" href="javascript:void(0);">&nbsp;</a>
                <div class="accordion-heading">
                    13 June
                </div>
            </div>
            <div class="start-hidden">
                <div class="multi-document-download-container">
                

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/remcom-20180613-agenda-web.pdf">
    <div class="document-download-text">
        <p>Agenda - Remuneration Committee 13 June 2018</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 42KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.04 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/remcom-20180613-part1-item03-minutes-20171002-for-approval.pdf">
    <div class="document-download-text">
        <p>Item 3 - Minutes of the Meeting of the Committee held on 2 October 2017</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 29KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.03 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/remcom-20180613-part1-item04-matters-arising.pdf">
    <div class="document-download-text">
        <p>Item 4 - Matters Arising, Actions List and Use of Delegated Authority</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 148KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.14 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/remcom-20180613-part1-item05-annual-benchmarking-report.pdf">
    <div class="document-download-text">
        <p>Item 5 - Annual Remuneration Benchmarking Report for Roles under the Remuneration Committee's Terms of Reference</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 506KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.49 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/remcom-20180613-part1-item06-scorecard.pdf">
    <div class="document-download-text">
        <p>Item 6 - 2017/18 TfL Scorecards </p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 103KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.10 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/remcom-20180613-part1-item07-performance-awards.pdf">
    <div class="document-download-text">
        <p>Item 7 - Performance Awards 2017-18</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 42KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.04 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/remcom-20180613-part1-item08-crl-performance-award.pdf">
    <div class="document-download-text">
        <p>Item 8 - Crossrail Limited Former Chief Executive's Performance Award </p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 24KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.02 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/remcom-20180613-part1-item09-forward-plan.pdf">
    <div class="document-download-text">
        <p>Item 9 - Member suggestions for future agenda discussions</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 49KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.05 -->
            
              </div>
            </div>
        </div>
 

   </div>
 <div class="expandable-box">

        <div class="content">
            <div class="always-visible">
                <a class="controls" href="javascript:void(0);">&nbsp;</a>
                <div class="accordion-heading">
                    12 July
                </div>
            </div>
            <div class="start-hidden">
                <div class="multi-document-download-container">
                           
              </div>
            </div>
        </div>
 <p> The meeting of the Committee scheduled for 12 July 2018 was cancelled as there were no substantive items to discuss.</p>

   </div>
 <div class="expandable-box">

        <div class="content">
            <div class="always-visible">
                <a class="controls" href="javascript:void(0);">&nbsp;</a>
                <div class="accordion-heading">
                    07 November
                </div>
            </div>
            <div class="start-hidden">
                <div class="multi-document-download-container">
                

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/remcom-20181107-agenda-papers-published.pdf">
    <div class="document-download-text">
        <p>Remuneration Committee 7 November 2018 - Agenda and Papers</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 2.35MB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 2.35 -->
            
              </div>
            </div>
        </div>
 

   </div>
 
</div>
 <h2> 2017 meeting papers</h2>




 <p>The meeting provisionally scheduled for 16 March 2017 was rescheduled for 19 July 2017. </p>

    


<div class="accordion">
<div class="expandable-box">

        <div class="content">
            <div class="always-visible">
                <a class="controls" href="javascript:void(0);">&nbsp;</a>
                <div class="accordion-heading">
                    19 July
                </div>
            </div>
            <div class="start-hidden">
                <div class="multi-document-download-container">
                

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/remcom-20170719-agenda.pdf">
    <div class="document-download-text">
        <p>Remuneration Committee Agenda 19 July 2017</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 45KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.04 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/remcom-20170719-pt1-item03-draft-minutes-20161013.pdf">
    <div class="document-download-text">
        <p>Item 3 - Minutes of the Meeting of the Remuneration Committee held on 13 October 2016</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 24KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.02 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/remcom-20170719-pt1-item04-matters-arising-actions-list.pdf">
    <div class="document-download-text">
        <p>Item 4 - Matters Arising and Actions List</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 25KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.02 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/remcom-20170719-pt1-item05-scorecard.pdf">
    <div class="document-download-text">
        <p>Item 5 - 2016/17 Scorecard</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 260KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.25 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/remcom-20170719-pt1-item06-commissioner-and-managing-director-performance-awards.pdf">
    <div class="document-download-text">
        <p>Item 6 - Commissioner and Managing Director Performance Awards 2016-17</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 38KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.04 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/remcom-20170719-pt1-item07-crl-ceo.pdf">
    <div class="document-download-text">
        <p>Item 7 - Crossrail Limited Chief Executive's Performance and Pay Review</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 30KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.03 -->
            
              </div>
            </div>
        </div>
 

   </div>
 <div class="expandable-box">

        <div class="content">
            <div class="always-visible">
                <a class="controls" href="javascript:void(0);">&nbsp;</a>
                <div class="accordion-heading">
                    02 October
                </div>
            </div>
            <div class="start-hidden">
                <div class="multi-document-download-container">
                

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/remcom-20171002-agenda-web.pdf">
    <div class="document-download-text">
        <p>Remuneration Committee Agenda 2 October 2017</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 39KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.04 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/remcom-20171002-pt1-item03-minutes-for-approval-20170719.pdf">
    <div class="document-download-text">
        <p>Item 3 - Minutes of the Meeting of the Remuneration Committee held on 19 July 2017</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 38KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.04 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/remcom-20171002-pt1-item04-matters-arising-actions-list.pdf">
    <div class="document-download-text">
        <p>Item 4 - Matters Arising and Actions List</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 31KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.03 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/remcom-20171002-pt1-item05-annual-performance-snr-mngmt.pdf">
    <div class="document-download-text">
        <p>Item 5 - Annual Performance Award Schemes for Senior Management</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 436KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.43 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/remcom-20171002-pt1-item06-crl-ned-chair-appointment.pdf">
    <div class="document-download-text">
        <p>Item 6 - Crossrail Limited - Appointment of Non-executive Chairman</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 30KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.03 -->
            
              </div>
            </div>
        </div>
 

   </div>
 
</div>
 <h2> 2016 meeting papers</h2>






    


<div class="accordion">
<div class="expandable-box">

        <div class="content">
            <div class="always-visible">
                <a class="controls" href="javascript:void(0);">&nbsp;</a>
                <div class="accordion-heading">
                    15 March
                </div>
            </div>
            <div class="start-hidden">
                <div class="multi-document-download-container">
                

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/remcom-20160315-item00-agenda-web.pdf">
    <div class="document-download-text">
        <p>Agenda </p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 46KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.04 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/remcom-20160315-part-1-item03-minutes-20150708-draft.pdf">
    <div class="document-download-text">
        <p>Item 3 - Minutes of the Meeting of the Remuneration Committee held on 8 July 2015</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 20KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.02 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/remcom-20160315-part-1-item04-matters-arising-actions-list-forward-plan.pdf">
    <div class="document-download-text">
        <p>Item 4 - Matters Arising, Actions List and Forward </p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 28KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.03 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/remcom-20160315-part-1-item05-leadership-succession-planning.pdf">
    <div class="document-download-text">
        <p>Item 5 - Leadership and Succession Planning in TfL - Update</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 101KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.10 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/remcom-20160315-part-1-item06-commissioner-performance-award.pdf">
    <div class="document-download-text">
        <p>Item 6 - The Commissioner's Performance Assessment - A New Approach</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 260KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.25 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/remcom-20160315-part-1-item07-performance-delivery-and-awards.pdf">
    <div class="document-download-text">
        <p>Item 7 - TfL Performance Delivery 2015-16 and Performance Awards</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 319KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.31 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/remcom-20160315-part-1-item08-crl-ceo-remuneration.pdf">
    <div class="document-download-text">
        <p>Item 8 - Crossrail Limited Chief Executive's Performance and Pay Review</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 31KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.03 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/remcom-20160315-part-1-item09-remuneration-of-women-in-senior-roles.pdf">
    <div class="document-download-text">
        <p>Item 9 - Remuneration of Women in Senior Roles in TfL</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 70KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.07 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/remcom-20160315-part-1-item10-future-tfl-exec-remuneration.pdf">
    <div class="document-download-text">
        <p>Item 10 - Future TfL Executive Remuneration </p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 477KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.47 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/remcom-20160315-part-1-item11-managing-director-salary-review.pdf">
    <div class="document-download-text">
        <p>Item 11 - Managing Director Salary Review 2016</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 25KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.02 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/remcom-20160315-part-1-item12-scorecard-2016-17.pdf">
    <div class="document-download-text">
        <p>Item 12 - TfL Scorecard and Managing Directors' Scorecards 2016/17</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 63KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.06 -->
            
              </div>
            </div>
        </div>
 

   </div>
 <div class="expandable-box">

        <div class="content">
            <div class="always-visible">
                <a class="controls" href="javascript:void(0);">&nbsp;</a>
                <div class="accordion-heading">
                    13 October
                </div>
            </div>
            <div class="start-hidden">
                <div class="multi-document-download-container">
                

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/remcom-20161013-agenda.pdf">
    <div class="document-download-text">
        <p>Agenda</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 39KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.04 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/remcom-20161013-part-1-item03-minutes-20160315-for-approval.pdf">
    <div class="document-download-text">
        <p>Item 3 - Minutes of the Meeting of the Remuneration Committee held on 15 March 2016</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 40KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.04 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/remcom-20161013-part-1-item04-matters-arising-actions-list.pdf">
    <div class="document-download-text">
        <p>Item 4 - Matters Arising, Actions List</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 25KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.02 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/remcom-20161013-part-1-item05-director-major-projects.pdf">
    <div class="document-download-text">
        <p>Item 5 - Director Major Projects</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 35KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.03 -->
            
              </div>
            </div>
        </div>
 

   </div>
 
</div>
 <h2> 2015 meeting papers</h2>






    


<div class="accordion">
<div class="expandable-box">

        <div class="content">
            <div class="always-visible">
                <a class="controls" href="javascript:void(0);">&nbsp;</a>
                <div class="accordion-heading">
                    19 March
                </div>
            </div>
            <div class="start-hidden">
                <div class="multi-document-download-container">
                

<a class="document-download-wrap rtf" href="/cdn/static/cms/documents/remcom-20150319-part-1-item00-agenda.rtf">
    <div class="document-download-text">
        <p>Agenda - RTF</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            RTF 187KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.18 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/remcom-20150319-part-1-item00-agenda.pdf">
    <div class="document-download-text">
        <p>Agenda - PDF</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 36KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.04 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/remcom-20150319-part-1-item03-minutes-20141127-for-approval.pdf">
    <div class="document-download-text">
        <p>Item 3 - Minutes of the Meeting Held on 27 November 2014</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 27KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.03 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/remcom-20150319-part-1-item04-matters-arising-actions-list-forward-plan.pdf">
    <div class="document-download-text">
        <p>Item 4 - Matters Arising, Actions List and Forward Plan</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 26KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.03 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/remcom-20150319-part-1-item05-tfl-scorecard-2015-16-final.pdf">
    <div class="document-download-text">
        <p>Item 5 - TfL Scorecard 2015/16</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 120KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.12 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/remcom-20150319-part-1-item06-chief-officer-benchmarking.pdf">
    <div class="document-download-text">
        <p>Item 6 - Chief Officer Benchmarking</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 921KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.90 -->
            
              </div>
            </div>
        </div>
 

   </div>
 <div class="expandable-box">

        <div class="content">
            <div class="always-visible">
                <a class="controls" href="javascript:void(0);">&nbsp;</a>
                <div class="accordion-heading">
                    03 June
                </div>
            </div>
            <div class="start-hidden">
                <div class="multi-document-download-container">
                

<a class="document-download-wrap rtf" href="/cdn/static/cms/documents/remcom-20150603-part-1-item00-agenda-rtf.rtf">
    <div class="document-download-text">
        <p>Agenda - RTF</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            RTF 292KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.29 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/remcom-20150603-part-1-item00-agenda.pdf">
    <div class="document-download-text">
        <p>Agenda - PDF</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 52KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.05 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/remcom-20150603-part-1-item03-minutes-20150319.pdf">
    <div class="document-download-text">
        <p>Item 3 - Minutes of the Meeting held on 19 March 2015</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 30KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.03 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/remcom-20150603-part-1-item04-matters-arising-actions-list-forward-plan.pdf">
    <div class="document-download-text">
        <p>Item 4 - Matters Arising, Actions List and Forward Plan</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 29KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.03 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/remcom-20150603-part-1-item05-tfl-scorecard-2015-16.pdf">
    <div class="document-download-text">
        <p>Item 5 - TfL Scorecard 2015/16 &#45; Update</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 78KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.08 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/remcom-20150603-part-1-item06-crossrail-limited-ceo.pdf">
    <div class="document-download-text">
        <p>Item 6 - Crossrail Limited Chief Executive's Performance and Pay Review</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 42KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.04 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/remcom-20150603-part-1-item07-performance-delivery-and-awards.pdf">
    <div class="document-download-text">
        <p>Item 7 - TfL Performance Delivery 2014-15 and Performance Awards</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 351KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.34 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/remcom-20150603-part-1-item08-chief-officer-salary-review.pdf">
    <div class="document-download-text">
        <p>Item 8 - Chief Officer Salary Reviews 2015</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 36KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.03 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/remcom-20150603-part-1-item09-commissioner-salarly-review.pdf">
    <div class="document-download-text">
        <p>Item 9 - Commissioner's Salary Review 2015</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 35KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.03 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/remcom-20150603-part-1-item10-pensions-update.pdf">
    <div class="document-download-text">
        <p>Item 10 - Pensions Update</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 43KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.04 -->
            
              </div>
            </div>
        </div>
 

   </div>
 <div class="expandable-box">

        <div class="content">
            <div class="always-visible">
                <a class="controls" href="javascript:void(0);">&nbsp;</a>
                <div class="accordion-heading">
                    08 July
                </div>
            </div>
            <div class="start-hidden">
                <div class="multi-document-download-container">
                

<a class="document-download-wrap rtf" href="/cdn/static/cms/documents/remcom-20150708-part-1-item00-agenda-rtf.rtf">
    <div class="document-download-text">
        <p>Agenda - RTF</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            RTF 126KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.12 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/remcom-20150708-part-1-item00-agenda.pdf">
    <div class="document-download-text">
        <p>Agenda - PDF</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 37KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.04 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/remcom-20150708-part-1-item03-minutes-20150603.pdf">
    <div class="document-download-text">
        <p>Item 3 - Minutes of the Meeting of the Remuneration Committee held on 3 June 2015</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 35KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.03 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/remcom-20150708-part-1-item04-matters-arising-actions-list-forward-plan.pdf">
    <div class="document-download-text">
        <p>Item 4 - Matters Arising, Actions List and Forward Plan</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 30KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.03 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/remcom-20150708-part-1-item05-commissioner-salary-review.pdf">
    <div class="document-download-text">
        <p>Item 5 - Commissioner's Salary Review</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 27KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.03 -->
            
              </div>
            </div>
        </div>
 

   </div>
 
</div>
 <h2> 2014 meeting papers</h2>






    


<div class="accordion">
<div class="expandable-box">

        <div class="content">
            <div class="always-visible">
                <a class="controls" href="javascript:void(0);">&nbsp;</a>
                <div class="accordion-heading">
                    27 November
                </div>
            </div>
            <div class="start-hidden">
                <div class="multi-document-download-container">
                

<a class="document-download-wrap rtf" href="/cdn/static/cms/documents/remcom-20141127-part-1-item00-agenda-rtf.rtf">
    <div class="document-download-text">
        <p>Agenda - rtf</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            RTF 189KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.18 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/remcom-20141127-part-1-item00-agenda.pdf">
    <div class="document-download-text">
        <p>Agenda - pdf</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 103KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.10 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/remcom-20141127-part-1-item03-minutes-20140603-for-approval.pdf">
    <div class="document-download-text">
        <p>Item 3 - Minutes of the Meeting held on 3 June 2014</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 148KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.14 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/remcom-20141127-part-1-item04-matters-arising-actions-list-forward-plan.pdf">
    <div class="document-download-text">
        <p>Item 4 - Matters Arising, Actions List and Forward Plan</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 214KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.21 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/remcom-20141127-part-1-item05-succession-planning-and-apprenticeships.pdf">
    <div class="document-download-text">
        <p>Item 5 - Update on Apprenticeships and TfL's Leadership and Succession Programme</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 161KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.16 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/remcom-20141127-part-1-item06-future-pension-provision.pdf">
    <div class="document-download-text">
        <p>Item 6 - Future Pension Provision</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 94KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.09 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/remcom-20141127-part-1-item07-chief-officer-remuneration.pdf">
    <div class="document-download-text">
        <p>Item 7 - Chief Officer Remuneration &#45; Managing Director for Crossrail 2 </p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 137KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.13 -->
            
              </div>
            </div>
        </div>
 

   </div>
 <div class="expandable-box">

        <div class="content">
            <div class="always-visible">
                <a class="controls" href="javascript:void(0);">&nbsp;</a>
                <div class="accordion-heading">
                    03 June
                </div>
            </div>
            <div class="start-hidden">
                <div class="multi-document-download-container">
                

<a class="document-download-wrap rtf" href="/cdn/static/cms/documents/remcom-20140603-part-1-item00-agenda.rtf">
    <div class="document-download-text">
        <p>Agenda RTF</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            RTF 200KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.20 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/remcom-20140603-part-1-item00-agenda.pdf">
    <div class="document-download-text">
        <p>Agenda</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 78KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.08 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/remcom-20140603-part-1-item03-minutes-20140327.pdf">
    <div class="document-download-text">
        <p>Item 3 - Minutes of the Meeting held on 27 March 2014</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 33KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.03 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/remcom-20140603-part-1-item04-actions-lst.pdf">
    <div class="document-download-text">
        <p>Item 4 - Matters Arising, Actions List and Forward Plan</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 36KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.04 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/remcom-20140603-part-1-item05-individual-choice.pdf">
    <div class="document-download-text">
        <p>Item 5 - Individual Choice</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 34KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.03 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/remcom-20140603-part-1-item06-performance-awards-2013-14.pdf">
    <div class="document-download-text">
        <p>Item 6 - TfL Commissioner and Chief Officer Performance Awards 2013/14</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 130KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.13 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/remcom-20140603-part-1-item07-crl-ceo-remuneration.pdf">
    <div class="document-download-text">
        <p>Item 7 - Crossrail Limited Chief Executive's Performance and Pay Review </p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 42KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.04 -->
            
              </div>
            </div>
        </div>
 

   </div>
 <div class="expandable-box">

        <div class="content">
            <div class="always-visible">
                <a class="controls" href="javascript:void(0);">&nbsp;</a>
                <div class="accordion-heading">
                    27 March
                </div>
            </div>
            <div class="start-hidden">
                <div class="multi-document-download-container">
                

<a class="document-download-wrap rtf" href="/cdn/static/cms/documents/remcom-20140327-part-1-item00-agenda.rtf">
    <div class="document-download-text">
        <p>Agenda RTF</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            RTF 178KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.17 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/remcom-20140327-part-1-item00-agenda.pdf">
    <div class="document-download-text">
        <p>Agenda</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 31KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.03 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/remcom-20140327-part-1-item03-minutes-20140113-for-approval.pdf">
    <div class="document-download-text">
        <p>Item 3 - Minutes of the Meeting held on 13 January 2014</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 22KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.02 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/remcom-20140327-part-1-item04-actions-list.pdf">
    <div class="document-download-text">
        <p>Item 4 - Matters Arising, Actions List and Forward Plan</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 37KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.04 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/remcom-20140327-part-1-item05-tfl-scorecard-2014-15.pdf">
    <div class="document-download-text">
        <p>Item 5 - TfL Group Scorecard</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 260KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.25 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/remcom-20140327-part-1-item06-tfl-performance-awards.pdf">
    <div class="document-download-text">
        <p>Item 6 - TfL Performance Awards</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 28KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.03 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/remcom-20140327-part-1-item07-individual-choice.pdf">
    <div class="document-download-text">
        <p>Item 7 - Individual Choice on Future Pension Provision</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 31KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.03 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/remcom-20140327-part-1-item08-tfl-leadership-and-succession-planning.pdf">
    <div class="document-download-text">
        <p>Item 8 - Leadership and Succession Planning</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 40KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.04 -->
            
              </div>
            </div>
        </div>
 

   </div>
 <div class="expandable-box">

        <div class="content">
            <div class="always-visible">
                <a class="controls" href="javascript:void(0);">&nbsp;</a>
                <div class="accordion-heading">
                    13 January
                </div>
            </div>
            <div class="start-hidden">
                <div class="multi-document-download-container">
                

<a class="document-download-wrap rtf" href="/cdn/static/cms/documents/remcom-20140113-part-1-item00-agenda.rtf">
    <div class="document-download-text">
        <p>Agenda</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            RTF 148KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.14 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/remcom-20140113-part-1-item00-agenda.pdf">
    <div class="document-download-text">
        <p>Agenda</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 77KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.08 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/remcom-20140113-part-1-item03-minutes-20130703-for-approval-1.pdf">
    <div class="document-download-text">
        <p>Item 3 - Minutes of the Meeting held on 3 July 2013</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 30KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.03 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/remcom-20140113-part-1-item04-actions-list.pdf">
    <div class="document-download-text">
        <p>Item 4 - Matters Arising and Actions List</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 45KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.04 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/remcm-20140113-part-1-item05-driving-performance-at-tfl.pdf">
    <div class="document-download-text">
        <p>Item 5 - Driving Performance at TfL </p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 240KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.23 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/remcom-20140113-part-1-item06-remuneration.pdf">
    <div class="document-download-text">
        <p>Item 6 - Remuneration of the Commissioner and Chief Officers</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 62KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.06 -->
            
              </div>
            </div>
        </div>
 

   </div>
 
</div>
 <div class="accordion">




<div class="expandable-box">




        <div class="content">
            <div class="always-visible" role="button" aria-controls="2013-content" aria-expanded="false" tabindex="0">
                <div class="controls" data-tracking="prop36" data-tracking-value="Remuneration - past years-2013"><span class="visually-hidden">Toggle accordion</span></div>
                <div id="2013-heading" class="accordion-heading">2013</div>
            </div>
            <div id="2013-content" class="start-hidden" role="region" aria-labelledby="2013-heading">

        <p><strong>Members: </strong>Baroness Grey-Thompson (Chair), Daniel Moylan (Vice Chair), Sir John Armitt, Boris Johnson</p>
        <h3>03 July</h3>
        <p>
        <a href="/cdn/static/cms/documents/Part-1-Item00-Remuneration-Committee-Agenda-030713-rtf.rtf">Agenda - RTF version (RTF 0.16MB)</a><br />
        <a href="/cdn/static/cms/documents/Part-1-Item00-Remuneration-Committee-Agenda-030713.pdf">Agenda (PDF 0.03MB)</a><br />
        <a href="/cdn/static/cms/documents/Part-1-Item03-Remuneration-Committee-Minutes-3-June-2013-for-Approval.pdf">Item 3 - Minutes of the Meeting held on 3 June 2013 (PDF 0.03MB)</a><br />
        <a href="/cdn/static/cms/documents/Part-1-Item04-Remuneration-Committee-Actions-List-030713.pdf">Item 4 - Matters Arising and Actions List (PDF 0.04MB)</a><br />
        <a href="/cdn/static/cms/documents/Part-1-Item05-TfL-scorecard-2013-14.pdf">Item 5 - TfL Group Scorecard for 2013/14 (PDF 0.09MB)</a><br />
        <a href="/cdn/static/cms/documents/Part-1-Item06-CRL-CEO-Salary-Review.pdf">Item 6 - Crossrail Limited Chief Executive's Performance and Pay Review (PDF 0.04MB)</a><br />
        <a href="/cdn/static/cms/documents/Part-1-Item07-CRL-LTIP.pdf">Item 7 - Crossrail Limited Long Term Incentive Plan Performance Targets 2012 - 2019 (PDF 0.05MB)</a>
        </p>
        <h3>03 June</h3>
        <p>
        <a href="/cdn/static/cms/documents/Part-1-Item00-Remuneration-Committee-Agenda-030613.rtf">Agenda - RTF version (RTF 0.15MB)</a><br />
        <a href="/cdn/static/cms/documents/Part-1-Item00-Remuneration-Committee-Agenda-030613.pdf">Agenda (PDF 0.03MB)</a><br />
        <a href="/cdn/static/cms/documents/Part-1-Item03-Remuneration-Committee-Minutes-22-November-2012-for-approval.pdf">Item 3 - Minutes of the Meeting held on 22 November 2012 (PDF 0.03MB)</a><br />
        <a href="/cdn/static/cms/documents/Part-1-Item04-Remuneration-Committee-Actions-List-030613.pdf">Item 4 - Matters Arising and Actions List (PDF 0.04MB)</a><br />
        <a href="/cdn/static/cms/documents/Part-1-Item05-Chief-Officer-Benchmarking-2013.pdf">Item 5 - Chief Officer Benchmarking (PDF 0.15MB)</a><br />
        <a href="/cdn/static/cms/documents/Part-1-Item06-TfL-Performance-Awards-2012-13.pdf">Item 6 - TfL Performance Awards for 2012/13 (PDF 0.61MB)</a><br />
        Item 7 - Leadership and Succession Planning in TfL - Verbal Update</p>
    

            </div>
        </div>
    </div>
 <div class="expandable-box">




        <div class="content">
            <div class="always-visible" role="button" aria-controls="2012-content" aria-expanded="false" tabindex="0">
                <div class="controls" data-tracking="prop36" data-tracking-value="Remuneration - past years-2012"><span class="visually-hidden">Toggle accordion</span></div>
                <div id="2012-heading" class="accordion-heading">2012</div>
            </div>
            <div id="2012-content" class="start-hidden" role="region" aria-labelledby="2012-heading">

        <p><strong>Members: </strong>Baroness Grey-Thompson (Chair), Daniel Moylan (Vice Chair), Boris Johnson, Christopher Garnett</p>
        <h3>19 July</h3>
        <p>
        <a href="/cdn/static/cms/documents/Part-1-Item00-RemCom-Agenda-19-July-2012.rtf">Agenda - RTF version (RTF 0.14MB)</a><br />
        <a href="/cdn/static/cms/documents/Part-1-Item00-RemCom-Agenda-19-July-2012.pdf">Agenda (PDF 0.02MB)</a><br />
        <a href="/cdn/static/cms/documents/Part-1-Item02-RemCom-Minutes-29-September-2011-forApproval.pdf">Item 2 - Minutes of the Meeting held on 29 September 2011 (PDF 0.02MB)</a><br />
        <a href="/cdn/static/cms/documents/Part-1-Item03-RemCom-Actions-19-July-2012.pdf">Item 3 - Matters Arising and Actions List (PDF 0.05MB)</a><br />
        <a href="/cdn/static/cms/documents/Part-1-Item04-Hutton-Review-of-Fair-Pay.pdf">Item 4 - Hutton Review of Fair Pay in the Public Sector (PDF 0.06MB)</a><br />
        <a href="/cdn/static/cms/documents/Part-1-Item05-London-2012-Games-measurement.pdf">Item 5 - London 2012 Games Measurement of Transport Network Performance for the Deferred Incentive Plan (PDF 0.17MB)</a><br />
        <a href="/cdn/static/cms/documents/Part-1-Item06-Chief-Officer-Benchmarking-and-Peer-Selection.pdf">Item 6 - Chief Officer Benchmarking and Peer Group Selection (PDF 0.05MB)</a>
        </p>
        <h3>22 November</h3>
        <p>
        <a href="/cdn/static/cms/documents/Part-1-Item00-RemCom-Agenda-22-November-2012.rtf">Agenda - RTF version (RTF 0.18MB)</a><br />
        <a href="/cdn/static/cms/documents/Part-1-Item00-RemCom-Agenda-22-November-2012.pdf">Agenda (PDF 0.04MB)</a><br />
        <a href="/cdn/static/cms/documents/Part-1-Item02-Remuneration-Committee-Minutes-19-July-2012.pdf">Item 2 - Minutes of the Meeting held on 19 July 2012 (PDF 0.03MB)</a><br />
        <a href="/cdn/static/cms/documents/Part-1-Item03-Remuneration-Committee-Actions-List-22-Nov-2012.pdf">Item 3 - Matters Arising and Actions List (PDF 0.04MB)</a><br />
        <a href="/cdn/static/cms/documents/Part-1-Item04-TfL-Performance-Awards-2011-12.pdf">Item 4 - TfL Performance Awards for 2011/12 (PDF 0.12MB)</a><br />
        <a href="/cdn/static/cms/documents/Part-1-Item05-Deferred-Incentive-Plan.pdf">Item 5 - Deferred Incentives Plan (PDF 0.07MB)</a><br />
        <a href="/cdn/static/cms/documents/Part-1-Item06-TfL-scorecard-2012-13.pdf">Item 6 - TfL Scorecard for 2012/13 (PDF 0.04MB)</a><br />
        <a href="/cdn/static/cms/documents/Part-1-Item07-CRL-CEO-Salary.PDF">Item 7 - Crossrail Chief Executive's Performance Award 2011/12 and Base Pay Increase for 2012/13 (PDF 0.46MB)</a><br />
        <a href="/cdn/static/cms/documents/Part-1-Item08-CRL-LTIP.pdf">Item 8 - Crossrail Long Term Incentive Plan Performance Target 2012-2019 (PDF 0.08MB)</a>
        </p>
    

            </div>
        </div>
    </div>
 
</div>
 
      
        
          
        
      
    
  </div>
  <div class="aside" role="complementary">

   
    
    
    
      <div data-set="sidenav-container" class="large">
        
        
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
                <a href="/corporate/publications-and-reports/remuneration-committee" class="heading">
                    <h2 id="sub-menu-heading">Remuneration committee<span class="visually-hidden"> navigation</span></h2>
                </a>
                <ul>
                    
                                <li class="selected"><div class="link-wrapper"><a href="/corporate/publications-and-reports/remuneration-past-years">Remuneration - past years</a></div>
                            </li>
 
                </ul>
            
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
      </div>
    
    <div>




















<div class="advert-tile unsponsored-style google-ads" aria-hidden="true">
  <div class="advert-link">
    <div class="advert-content">
        <div class="medium-large" data-advert="/76889402/non-targeted" data-advert-sizes="300, 250"></div>
        <div class="small" data-advert="/76889402/non-targeted" data-advert-sizes="300, 250"></div>
    </div>
  </div>
</div>
@{
    ViewBag.AmazonSlot = "'amznslots'";
    ViewBag.AmazonAds = "'3199'"; // to add another value, this needs to be ViewBag.AmazonAds = "'3199','xx'";
}
      

 </div>
    
    <div data-set="sidenav-container" class="small-medium"></div>
  </div>
</div>
 
 
        
        
        
            @{ViewBag.Description = "Remuneration committee agendas and reports from before the current year";}
        
            
        


 