
    
  


<!-- rhroot -->
@{ViewBag.Title = "Roads Task Force";}
@{ViewBag.Keywords = "Boroughs,Businesses,Coach drivers,Cyclists,Drivers,Freight industry,Motorbikers,Pedestrians,Planning and construction,Taxi passengers,R,Policy,Roads,Special reports,Streetscape,Coaches,Cycling,Deliveries,Driving,Motorcycle,Taxis and minicabs,Walking,TfL";}
@{ViewBag.Url = "/corporate/publications-and-reports/roads-task-force";}
@{ViewBag.Language = "en";}
        <!-- empty placeholder -->
 
        
        
<div class="r">
    <div class="breadcrumb-container" role="navigation">
        <span id="breadcrumb-label" class="visually-hidden">You are here:</span>
        <ol class="breadcrumbs clearfix" aria-labelledby="breadcrumb-label">
            <li class="home">
                <a href="/">
                    <span class="hide-text">Home</span>
                </a>
            </li>
            
                 <li><a href="/corporate/publications-and-reports/index">Publications & reports</a></li>
                
            
            
                <li><span class="last-breadcrumb">Roads Task Force</span></li>
            
        
 
        
 
        </ol>
    </div>
</div>
     
 
<div class="r">
  <div class="headline-container plain">
    <h1>Roads Task Force</h1>

  </div>
</div>
<div class="main-and-aside r">
  
  <div class="main content-container" role="main">
    
      <div class="article-teaser">
        The Roads Task Force (RTF) was set up in 2012 to tackle the challenges facing London's streets and roads.
        
      </div>
    
    <div class="on-this-page">
      
      
           
      <div>

<p>This independent body was put together to develop a long-term strategy for roads and a commitment to major investment in street management and urban design.</p>

<p>The RTF report, published in July 2013, set out a view of how London could cope with major population growth and stay a vibrant, accessible and attractive world city.</p>

<p>An interactive map, case studies, technical notes and more are available on the <a href="/corporate/publications-and-reports/rtf-supporting-documents">RTF supporting documents page</a>.</p>

<p>The Mayor of London's vision for London's streets is set out in the <a href="/corporate/about-tfl/the-mayors-transport-strategy">Mayor's Transport Strategy</a>.</p>
</div>
 
<div>



<h2>April 2015 progress report</h2>



<div class="multi-document-download-container">
    

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/roads-task-force-update-report-april-2015.pdf">
    <div class="document-download-text">
        <p>Roads Task force progress report April 2015</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 4.29MB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 4.29 -->
 
</div>

</div>
 
<div>



<h2>March 2014 progress report</h2>



<div class="multi-document-download-container">
    

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/roads-task-force-progress-report.pdf">
    <div class="document-download-text">
        <p>Roads Task Force progress report March 2014</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 5.22MB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 5.22 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/roads-task-force-map-march2014.pdf">
    <div class="document-download-text">
        <p>Roads Task Force improvements map</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 715KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.70 -->
 
</div>

</div>
 
<div>



<h2>RTF report 2013</h2>



<div class="multi-document-download-container">
    

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/rtf-report-executive-summary.pdf">
    <div class="document-download-text">
        <p>Executive summary</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 2.83MB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 2.83 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/rtf-report-chapter-1.pdf">
    <div class="document-download-text">
        <p>Chapter 1: The vision and direction for London's streets and roads</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 4.16MB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 4.16 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/rtf-report-chapter-2-part-1.pdf">
    <div class="document-download-text">
        <p>Chapter 2, part 1: The framework, tools and processes to build the strategy</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 4.77MB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 4.77 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/rtf-report-chapter-2-part-2.pdf">
    <div class="document-download-text">
        <p>Chapter 2, part 2: The toolbox</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 3.74MB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 3.74 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/rtf-report-chapter-3.pdf">
    <div class="document-download-text">
        <p>Chapter 3: Bringing the strategy together</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 3.86MB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 3.86 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/rtf-report-chapter-4.pdf">
    <div class="document-download-text">
        <p>Chapter 4: Summary and recommendations</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 651KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.64 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/rtf-report-annexes.pdf">
    <div class="document-download-text">
        <p>Annexes</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 3.28MB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 3.28 -->
 
</div>

</div>
 
<div>



<h2>Our response to the report</h2>


<p>We are responsible for roads that carry about a third of the Capital's traffic.</p>

<p>We responded to the RTF report in 2013 to explain our plans to improve London's roads and streets in partnership with the boroughs, developers and others.</p>

<p>Our response set out how we would deliver improvements in the short term, and do further, detailed studies to assess and develop longer-term RTF proposals.</p>

<p>The plans we set out in our RTF response were superseded by the <a href="/corporate/about-tfl/the-mayors-transport-strategy">2018 Mayor's Transport Strategy</a>.</p>
<div class="multi-document-download-container">
    

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/tfl-response-to-rtf-report-chapters-1-5.pdf">
    <div class="document-download-text">
        <p>Chapters 1-5</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 5.16MB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 5.16 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/tfl-response-to-rtf-annex-july2013.pdf">
    <div class="document-download-text">
        <p>Annex and glossary</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 1.94MB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 1.94 -->
 
</div>

</div>
 <div>

<h2>Street Types</h2>

<p>The RTF proposed a 'street family' of nine Street Types, in which streets are defined by significance of their 'movement' and the intensity of their 'place'.</p>

<p>We worked with the London boroughs to classify the network according to this family of Street Types.</p>
</div>
 
      
        
          
            @this.ScriptBlock(
              @<script>
                queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
              </script>
            )
          
        
      
    </div>
  </div>
  <div class="aside" role="complementary">

   
    
    
    
      <div data-set="sidenav-container" class="large">
        
        
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
                <a href="/corporate/publications-and-reports/roads-task-force" class="heading">
                    <h2 id="sub-menu-heading">Roads Task Force<span class="visually-hidden"> navigation</span></h2>
                </a>
                <ul>
                    
                                <li><div class="link-wrapper"><a href="/corporate/publications-and-reports/rtf-supporting-documents">RTF supporting documents</a></div></li>
                            
 
                </ul>
            
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
      </div>
    
    <div>
















<div class="advert-tile unsponsored-style google-ads" aria-hidden="true">
  <div class="advert-link">
    <div class="advert-content">
        <div class="medium-large" data-advert="/76889402/non-targeted" data-advert-sizes="300, 250"></div>
        <div class="small" data-advert="/76889402/non-targeted" data-advert-sizes="300, 250"></div>
    </div>
  </div>
</div>
@{
    ViewBag.AmazonSlot = "'amznslots'";
    ViewBag.AmazonAds = "'3199'"; // to add another value, this needs to be ViewBag.AmazonAds = "'3199','xx'";
}
      

 </div>
    
    <div data-set="sidenav-container" class="small-medium"></div>
  </div>
</div>
 
 
        
        
        
            @{ViewBag.Description = "The Roads Task Force (RTF) was set up by the Mayor of London in 2012 to tackle the challenges facing London's streets and roads";}
        
            
        


 