
    
  



@{ViewBag.Title = "Road space";}
@{ViewBag.Keywords = "Boroughs,Bus operators,Bus passengers,Businesses,Coach drivers,Cyclists,Drivers,Freight industry,Pedestrians,Public,Taxi and private hire,Taxi passengers,R,Customer Research Library,Special reports,Buses,Coaches,Cycling,Deliveries,Driving,Motorcycle,Taxis and minicabs,Trams,Walking,TfL";}
@{ViewBag.Url = "/corporate/publications-and-reports/road-space";}
@{ViewBag.Language = "en";}
        <!-- empty placeholder -->
 
        
        
<div class="r">
    <div class="breadcrumb-container" role="navigation">
        <span id="breadcrumb-label" class="visually-hidden">You are here:</span>
        <ol class="breadcrumbs clearfix" aria-labelledby="breadcrumb-label">
            <li class="home">
                <a href="/">
                    <span class="hide-text">Home</span>
                </a>
            </li>
            
                 <li><a href="/corporate/publications-and-reports/index">Publications & reports</a></li>
                
            
            
                <li><span class="last-breadcrumb">Road space</span></li>
            
        
 
        
 
        </ol>
    </div>
</div>
     
 
<div class="r">
  <div class="headline-container plain">
    <h1>Road space</h1>

  </div>
</div>
<div class="main-and-aside r">
  
  <div class="main content-container" role="main">
    
      <div class="article-teaser">
        Reports into various aspects of road usage in the Capital.
        
      </div>
    
    
      
    
      
           
      
<div>



<h2>Understanding and managing road congestion</h2>


<p>Increased road congestion contributes to worsening air pollution, delays vital bus services and freight and makes many streets unpleasant places for people to walk and cycle.  This independent study was prepared for us by <a href="https://www.itpworld.net/">Integrated Transport Planning (ITP)</a> between June and November 2017.</p>
<p>The study:</p>
<ul>
    <li>Reviews recent trends in traffic and congestion in London</li>
    <li>Identifies the likely reasons for these patterns</li>
    <li>Makes recommendations to us, the London boroughs and to central Government and other stakeholders</li>
</ul>
<div class="multi-document-download-container">
    

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/understanding-and-managing-congestion-in-london.pdf">
    <div class="document-download-text">
        <p>Understanding and managing road congestion</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 6.93MB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 6.93 -->
 
</div>

</div>
 <div>

<h2>Safety and roads policing enforcement</h2>
<p>Documents on safety and roads policing enforcement can be found in our <a href="/corporate/publications-and-reports/safety-and-security">Safety and security section</a>. </p>
</div>
 
<div>



<h2>Office freight</h2>


<p>
To build a better picture of delivery and servicing activity in London's offices.
</p>
<div class="multi-document-download-container">
    

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/office-freight-summary.pdf">
    <div class="document-download-text">
        <p>Office freight summary</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 25KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.02 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/office-freight-report.pdf">
    <div class="document-download-text">
        <p>Office freight report</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 2.63MB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 2.63 -->
 
</div>

</div>
 
<div>



<h2>Perception of Private Hire Vehicles (PHVs)</h2>


<p>To gauge Londoners' support for proposals for Private Hire Vehicles (PHVs), specifically, regulations for PHV operators, drivers and technical changes to regulations (17 proposals in total). </p>
<div class="multi-document-download-container">
    

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/phv-summary.pdf">
    <div class="document-download-text">
        <p>Private Hire Vehicles report summary</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 31KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.03 -->
 

<a class="document-download-wrap pdf.pdf" href="/cdn/static/cms/documents/phv-report.pdf.pdf">
    <div class="document-download-text">
        <p>Private hire vehicle report</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF.PDF 785KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.77 -->
 
</div>

</div>
 
<div>



<h2>HGV training</h2>


<p>To evaluate whether the current suite of FORS training meets the needs of fleet operators, managers and drivers to bring about effective behaviour change and contribute to TfL's surface outcomes of safe and efficient deliveries in London. </p>
<div class="multi-document-download-container">
    

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/hgv-training-summary.pdf">
    <div class="document-download-text">
        <p>HGV training summary</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 30KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.03 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/hgv-training-report.pdf">
    <div class="document-download-text">
        <p>HGV training report</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 4.80MB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 4.80 -->
 
</div>

</div>
 
<div>



<h2>Delivery management and truck holding areas</h2>


<p> To evaluate current usage of delivery management systems, truck holding areas and construction logistics plans to inform recommendations for the construction logistics sector and local authorities regarding best practice across London.</p>
<div class="multi-document-download-container">
    

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/delivery-management-summary.pdf">
    <div class="document-download-text">
        <p>Delivery management summary</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 25KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.02 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/delivery-management-report.pdf">
    <div class="document-download-text">
        <p>Delivery management report</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 912KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.89 -->
 
</div>

</div>
 
<div>



<h2>Tackling London's road congestion</h2>


This plan outlines measures aimed at directly tackling growing congestion on London's roads and improving reliability for all road users.
<div class="multi-document-download-container">
    

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/tackling-londons-road-congestion.pdf">
    <div class="document-download-text">
        <p>Tackling London's road congestion</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 1.10MB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 1.10 -->
 
</div>

</div>
 <div>


        <h2>Awareness of the ORN and PRN</h2>
        <p>
        To understand the awareness, understanding and attitudes to the introduction of the Olympic Route Network (ORN) and Paralympic Route Network (PRN) - whether Londoners understand the implications to the enforcement to take place and what key messages need to be communicated
        (July 2012)</p>
        <p><a href="/cdn/static/cms/documents/awareness-of-the-orn-summary.pdf">Summary (PDF 0.08MB)</a><br />
        <a href="/cdn/static/cms/documents/awareness-of-the-orn-report.pdf">Full Report (PDF 0.57MB)</a>
        </p>
        <h2>Driver tool communications research</h2>
        <p>
        To evaluate a number of creative adverts to decide on the best route forward
        (September 2011)</p>
        <p><a href="/cdn/static/cms/documents/driver-tool-summary.pdf">Summary (PDF 0.02MB)</a><br />
        <a href="/cdn/static/cms/documents/driver-tool-report.pdf">Full Report (PDF 0.27MB)</a>
        </p>
        <h2>Highway assets - footways</h2>
        <p>
        Survey of customer views to establish priorities for  improvements to pavements
        (April 2011)</p>
        <p><a href="/cdn/static/cms/documents/research-summary-highway-asset-manangement-survey-footways.pdf">Summary (PDF 0.02MB)</a><br />
        <a href="/cdn/static/cms/documents/highway-asset-mangement-survey-footways-report.pdf">Full Report (PDF 3.65MB)</a>
        </p>
        <h2>Congestion charging communications</h2>
        <p>
        Assist in the selection and development of a unified creative approach for Congestion Charging advertising
        (November 2010)</p>
        <p><a href="/cdn/static/cms/documents/summary-congestion-charging-communications-development.pdf">Summary (PDF 0.03MB)</a><br />
        <a href="/cdn/static/cms/documents/congestion-charging-communications-development-report.pdf">Full Report (PDF 1.47MB)</a>
        </p>
        <h2>Highway assets - carriageways</h2>
        <p>
        Survey of customer minimum and preferred levels of service with respect to specific carriageway condition defects. This allows TfL's Highways Asset Investment team to investigate minimum and preferred funding requirements and to set maintenance targets
        (September 2010)</p>
        <p><a href="/cdn/static/cms/documents/research-summary-highway-asset-management-survey-carriageways.pdf">Summary (PDF 0.02MB)</a><br />
        <a href="/cdn/static/cms/documents/highway-asset-management-survey-carriageways.pdf">Full Report (PDF 3.24MB)</a>
        </p>
        <h2>Attitudes to FORS</h2>
        <p>
        Identify current perceptions and awareness of TfL's Freight Operator Recognition Scheme (FORS) among members and non-members and to benchmark FORS against similar schemes and establish willingness to pay for existing and potential elements of this
        (August 2010)</p>
        <p><a href="/cdn/static/cms/documents/attitudes-to-tfls-freight-operator-recognition-scheme-summary.pdf">Summary (PDF 0.02MB)</a><br />
        <a href="/cdn/static/cms/documents/attitudes-to-tfls-freight-operator-recognition-scheme-report.pdf">Full Report (PDF 0.54MB)</a>
        </p>
        <h2>Car park usage </h2>
        <p>
        Understand the customer and usage profiles at Underground station car parks
        (April 2010)</p>
        <p><a href="/cdn/static/cms/documents/car-park-usage-at-london-underground-summary.pdf">Summary (PDF 0.02MB)</a><br />
        <a href="/cdn/static/cms/documents/car-park-usage-at-london-underground-report.pdf">Full Report (PDF 0.33MB)</a>
        </p>
        <h2>Smoothing the traffic flow</h2>
        <p>
        Perceived importance and effectiveness of proposed interventions to smooth the traffic flow in London
        (August 2009)</p>
        <p><a href="/cdn/static/cms/documents/research-summary-smoothing-the-traffic-flow.pdf">Summary (PDF 0.02MB)</a><br />
        <a href="/cdn/static/cms/documents/smoothing-traffic-flow-intervention-testing-report.pdf">Full Report (PDF 0.51MB)</a>
        </p>
        <p>
        How road users perceive the network and what their needs are in terms of operational factors and information. Testing response to some potential interventions
        (April 2009)</p>
        <p><a href="/cdn/static/cms/documents/smoothing-the-traffic-flow-one-page-summary.pdf">Summary (PDF 0.02MB)</a><br />
        <a href="/cdn/static/cms/documents/smoothing-traffic-flow-report.pdf">Full Report (PDF 0.31MB)</a>
        </p>
         
        <h2>Freight public perceptions</h2>
        <p>
        Awareness of issues related to the London Freight Plan and support for actions addressing these
        (April 2009)</p>
        <p><a href="/cdn/static/cms/documents/research-summary-public-perceptions-of-freight-plan.pdf">Summary (PDF 0.02MB)</a><br />
        <a href="/cdn/static/cms/documents/public-perceptions-of-freight-plan-report.pdf">Full Report (PDF 0.36MB)</a>
        </p>
        <h2>Red Route awareness</h2>
        <p>
        Awareness of the concept of Red Routes among Londoners and when and where exemptions apply
        (October 2008)</p>
        <p><a href="/cdn/static/cms/documents/research-summary-red-route-awareness.pdf">Summary (PDF 0.02MB)</a><br />
        <a href="/cdn/static/cms/documents/red-routes-and-traffic-enforcement-report.pdf">Full Report (PDF 0.30MB)</a></p>
    
</div>
 <div>


        <p>Research into what our customers think and how they behave helps us identify their key issues, areas for improvement and allows us to seek their views on new initiatives to inform our decision making.</p>
        <h3>Conditions of use</h3>
        <p>The copyright of all reports in this library is owned by TfL and the provision of information under the Freedom of Information Act does not give the recipient a right to re-use the information in a way that would infringe copyright (for example, by publishing and issuing copies to the public).</p>
        <p>Brief extracts of the material may be reproduced under the fair dealing provisions of the Copyright, Designs and Patents Act 1988 for the purposes of research for non-commercial purposes, private study, criticism, review and news reporting.</p>
        <p>Contact us to arrange to use the material in this library for any other purpose.</p>
    
</div>
 
      
        
          
        
      
    
  </div>
  <div class="aside" role="complementary">

   
    
    
    
      <div data-set="sidenav-container" class="large">
        
        
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
      </div>
    
    <div>
















<div class="advert-tile unsponsored-style google-ads" aria-hidden="true">
  <div class="advert-link">
    <div class="advert-content">
        <div class="medium-large" data-advert="/76889402/non-targeted" data-advert-sizes="300, 250"></div>
        <div class="small" data-advert="/76889402/non-targeted" data-advert-sizes="300, 250"></div>
    </div>
  </div>
</div>
@{
    ViewBag.AmazonSlot = "'amznslots'";
    ViewBag.AmazonAds = "'3199'"; // to add another value, this needs to be ViewBag.AmazonAds = "'3199','xx'";
}
      

 </div>
    
      <div class="module-grid clearfix">
                    
        <div>

    <div class="contact-info-box">
         <div class="contact-info-header">
             <h3>Contact Customer Research Library</h3>
         </div>
        
        
        
        
        <div class="content-group">
            <p>
                
                
                
                
                
                
                
                
            </p>
            
        </div>
        
        <div class="content-group">
            
            
            
                
                
                
            
            
            <p>&nbsp;<a href="/help-and-contact/index">Use our contact forms</a></p>
        </div>
        
        
    </div>
</div>
 <div class="related-links">

    <h3>Customer Research Library reports</h3>

        We gather customers' views on a range of topics related to travelling in London
    
<div class="vertical-button-container">

<a href="http://www.tfl.gov.uk/corporate/publications-and-reports/?Category=Customer%20Research%20Library" class="plain-button">All reports</a>
    </div>
</div>
 
      </div>
    
    <div data-set="sidenav-container" class="small-medium"></div>
  </div>
</div>
 
 
        
        
        
            @{ViewBag.Description = "Reports into various aspects of road usage in the Capital";}
        
            
        


 