
    
  



@{ViewBag.Title = "RTF supporting documents";}
@{ViewBag.Keywords = "TfL";}
@{ViewBag.Url = "/corporate/publications-and-reports/rtf-supporting-documents";}
@{ViewBag.Language = "en";}
        <!-- empty placeholder -->
 
        
        
<div class="r">
    <div class="breadcrumb-container" role="navigation">
        <span id="breadcrumb-label" class="visually-hidden">You are here:</span>
        <ol class="breadcrumbs clearfix" aria-labelledby="breadcrumb-label">
            <li class="home">
                <a href="/">
                    <span class="hide-text">Home</span>
                </a>
            </li>
            
                 <li><a href="/corporate/publications-and-reports/index">Publications & reports</a></li>
                
            
                 <li><a href="/corporate/publications-and-reports/roads-task-force">Roads Task Force</a></li>
                
            
            
                <li><span class="last-breadcrumb">RTF supporting documents</span></li>
            
        
 
        
 
        
 
        </ol>
    </div>
</div>
     
 
<div class="r">
  <div class="headline-container plain">
    <h1>RTF supporting documents</h1>

  </div>
</div>
<div class="main-and-aside r">
  
  <div class="main content-container" role="main">
    
      <div class="article-teaser">
        This page contains documents related to the Roads Task Force (RTF) report published in July 2013.
        
      </div>
    
    <div class="on-this-page">
      
      
           
      
<div>



<h2>Road network challenges map</h2>



        <p>An interactive map was created to give an overview of some of the challenges facing London's road network, for example, locations with the most congestion, worst air quality or highest collision rate.<br />
        </p>
    
<div class="multi-document-download-container">
    

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/road-network-challenges-map.pdf">
    <div class="document-download-text">
        <p>Road network challenges map</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 5.35MB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 5.35 -->
 
</div>

</div>
 
<div>



<h2>International case studies</h2>



        <p>This report identifies a sample of 37 projects where cities have delivered schemes with highway and urban realm benefits and sought to use innovation in their design and delivery.</p>
    
<div class="multi-document-download-container">
    

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/roads-review-part-a.pdf">
    <div class="document-download-text">
        <p>Roads Review: Part A</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 3.85MB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 3.85 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/roads-review-part-b-1-10.pdf">
    <div class="document-download-text">
        <p>Roads Review: Part B 1-10</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 1.91MB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 1.91 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/roads-review-part-b-11-18.pdf">
    <div class="document-download-text">
        <p>Roads Review: Part B 11-18</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 3.30MB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 3.30 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/roads-review-part-b-19-23.pdf">
    <div class="document-download-text">
        <p>Roads Review: Part B 19-23</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 1.46MB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 1.46 -->
 
</div>

</div>
 
<div>



<h2>London's street family</h2>



        <h3>Theory, application &amp; case studies</h3>
        <p>This document sets out the theory behind the development of the street types, and details case studies of specific locations in London which exemplify how they could be applied.</p>
    
<div class="multi-document-download-container">
    

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/londons-street-family-chapters-1-2.pdf">
    <div class="document-download-text">
        <p>London's street family: Chapters 1-2</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 918KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.90 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/londons-street-family-chapters-3-3-1.pdf">
    <div class="document-download-text">
        <p>London's street family: Chapters 3-3.1</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 4.09MB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 4.09 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/londons-street-family-chapter-3-2.pdf">
    <div class="document-download-text">
        <p>London's street family: Chapter 3.2</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 2.46MB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 2.46 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/londons-street-family-chapter-3-3.pdf">
    <div class="document-download-text">
        <p>London's street family: Chapter 3.3</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 3.46MB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 3.46 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/londons-street-family-chapters-3-4-3-5.pdf">
    <div class="document-download-text">
        <p>London's street family: Chapter 3.4-3.5</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 3.76MB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 3.76 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/londons-street-family-chapters-3-6-4.pdf">
    <div class="document-download-text">
        <p>London's street family: Chapter 3.6-4</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 3.17MB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 3.17 -->
 
</div>

</div>
 
<div>



<h2>Technical notes</h2>



        <p>These notes provide greater detail on some of the topics that were central to the RTF deliberations, including recent trends for vehicular traffic and car ownership.</p>
    
<div class="multi-document-download-container">
    

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/technical-note-01-what-is-the-over-arching-transport-and-travel-context.pdf">
    <div class="document-download-text">
        <p>Technical note 1: What is the over-arching transport and travel context? </p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 129KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.13 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/technical-note-02-what-are-the-main-trends-and-patterns-for-road-traffic-in-london.pdf">
    <div class="document-download-text">
        <p>Technical note 2: What are the main trends and patterns for road traffic in London?</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 110KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.11 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/technical-note-03-freight-servicing-and-logistics-in-london.pdf">
    <div class="document-download-text">
        <p>Technical note 3: Freight servicing and logistics in London</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 155KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.15 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/technical-note-04-how-has-cycling-grown-in-london.pdf">
    <div class="document-download-text">
        <p>Technical note 4: How has cycling grown in London?</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 342KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.33 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/technical-note-05-what-are-the-main-trends-and-developments-affecting-van-traffic.pdf">
    <div class="document-download-text">
        <p>Technical note 5: What are the main trends and developments affecting van traffic?</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 765KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.75 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/technical-note-06-what-are-the-trends-and-patterns-of-powered-two-wheeler-traffic-in-london.pdf">
    <div class="document-download-text">
        <p>Technical note 6: What are the trends and patterns of powered two-wheeler traffic?</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 393KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.38 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/technical-note-07-what-are-the-trends-and-patterns-of-bus-and-coach-traffic.pdf">
    <div class="document-download-text">
        <p>Technical note 7: What are the trends and patterns of bus and coach traffic?</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 252KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.25 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/technical-note-08-how-does-londons-road-network-contribute-to-accessibility.pdf">
    <div class="document-download-text">
        <p>Technical note 8: How does London's road network contribute to accessibility?</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 856KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.84 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/technical-note-09-how-does-the-road-network-perform-in-terms-of-speed-congestion.pdf">
    <div class="document-download-text">
        <p>Technical note 9: How does the road network perform in terms of speed and congestion?</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 809KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.79 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/technical-note-10-what-is-the-capacity-of-the-road-network-for-private-motorised-traffic.pdf">
    <div class="document-download-text">
        <p>Technical note 10: What is the capacity of the road network for private motorised traffic?</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 771KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.75 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/technical-note-11-to-what-extent-is-congestion-and-unreliability-on-the-road-network.pdf">
    <div class="document-download-text">
        <p>Technical note 11: To what extent is congestion and unreliability on the road network caused by factors that can be influenced by our road network management?</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 264KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.26 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/technical-note-12-how-many-cars-are-there-in-london.pdf">
    <div class="document-download-text">
        <p>Technical note 12: How many cars are there in London?</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 223KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.22 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/technical-note-13-what-are-the-motivations-for-owning-a-car.pdf">
    <div class="document-download-text">
        <p>Technical note 13: What are the motivations for owning a car?</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 629KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.61 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/technical-note-14-who-travels-by-car-in-london.pdf">
    <div class="document-download-text">
        <p>Technical note 14: Who travels by car in London?</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 200KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.20 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/technical-note-15-why-do-people-travel-by-car.pdf">
    <div class="document-download-text">
        <p>Technical note 15: Why do people travel by car?</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 204KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.20 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/technical-note-16-understanding-why-people-change-behaviour.pdf">
    <div class="document-download-text">
        <p>Technical note 16: Understanding why people change behaviour</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 374KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.37 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/technical-note-17-the-availability-of-realistic-alternatives-to-car.pdf">
    <div class="document-download-text">
        <p>Technical note 17: The availability of realistic alternatives to car</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 207KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.20 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/technical-note-18-what-are-the-recent-trends-in-casualties-and-collisions.pdf">
    <div class="document-download-text">
        <p>Technical note 18: What are the recent trends in casualties and collisions?</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 209KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.20 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/technical-note-19-what-are-the-patterns-in-road-safety-across-londons-road-network.pdf">
    <div class="document-download-text">
        <p>Technical note 19: What are the patterns in road safety across London's road network?</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 473KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.46 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/technical-note-20-what-are-the-main-health-impacts.pdf">
    <div class="document-download-text">
        <p>Technical note 20: What are the main health impacts?</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 798KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.78 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/technical-note-21-what-is-air-quality-on-the-road-network.pdf">
    <div class="document-download-text">
        <p>Technical note 21: What is air quality on the road network?</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 364KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.36 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/technical-note-22-implications-for-local-air-pollution.pdf">
    <div class="document-download-text">
        <p>Technical note 22: What are the implications of policies to improve the road network for local air pollution?</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 168KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.16 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/technical-note-23-what-do-our-customers-want.pdf">
    <div class="document-download-text">
        <p>Technical note 23: What do our customers want?</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 533KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.52 -->
 
</div>

</div>
 
<div>



<h2>Better Streets Delivered</h2>



        <p>Schemes completed under the Better Streets programme are examples of public realm improvements that may be applied to future Roads Task Force initiatives.&nbsp; </p>
    
<div class="multi-document-download-container">
    

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/better-streets-delivered.pdf">
    <div class="document-download-text">
        <p>Better Streets Delivered: Learning from completed schemes</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 6.55MB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 6.55 -->
 
</div>

</div>
 
<div>



<h2>GLA consultation</h2>



        <p>We consulted with stakeholders and the public in 2012 on how they think the road network should look going forward. </p>
    
<div class="multi-document-download-container">
    

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/response-to-rtf-consultation.pdf">
    <div class="document-download-text">
        <p>Response to the Roads Task Force consultation</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 3.99MB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 3.99 -->
 
</div>

</div>
 
      
        
          
            @this.ScriptBlock(
              @<script>
                queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
              </script>
            )
          
        
      
    </div>
  </div>
  <div class="aside" role="complementary">

   
    
    
    
      <div data-set="sidenav-container" class="large">
        
        
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
                <a href="/corporate/publications-and-reports/roads-task-force" class="heading">
                    <h2 id="sub-menu-heading">Roads Task Force<span class="visually-hidden"> navigation</span></h2>
                </a>
                <ul>
                    
                                <li class="selected"><div class="link-wrapper"><a href="/corporate/publications-and-reports/rtf-supporting-documents">RTF supporting documents</a></div>
                            </li>
 
                </ul>
            
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
      </div>
    
    <div>




















<div class="advert-tile unsponsored-style google-ads" aria-hidden="true">
  <div class="advert-link">
    <div class="advert-content">
        <div class="medium-large" data-advert="/76889402/non-targeted" data-advert-sizes="300, 250"></div>
        <div class="small" data-advert="/76889402/non-targeted" data-advert-sizes="300, 250"></div>
    </div>
  </div>
</div>
@{
    ViewBag.AmazonSlot = "'amznslots'";
    ViewBag.AmazonAds = "'3199'"; // to add another value, this needs to be ViewBag.AmazonAds = "'3199','xx'";
}
      

 </div>
    
    <div data-set="sidenav-container" class="small-medium"></div>
  </div>
</div>
 
 
        
        
        
            @{ViewBag.Description = "This page contains documents related to the Roads Task Force (RTF) report published in July 2013.";}
        
            
        


 