
    
  



@{ViewBag.Title = "Safety & security";}
@{ViewBag.Keywords = "Boroughs,Businesses,Public,S,Customer Research Library,Regular reports,Safety and security,Special reports,TfL";}
@{ViewBag.Url = "/corporate/publications-and-reports/safety-and-security";}
@{ViewBag.Language = "en";}
        <!-- empty placeholder -->
 
        
        
<div class="r">
    <div class="breadcrumb-container" role="navigation">
        <span id="breadcrumb-label" class="visually-hidden">You are here:</span>
        <ol class="breadcrumbs clearfix" aria-labelledby="breadcrumb-label">
            <li class="home">
                <a href="/">
                    <span class="hide-text">Home</span>
                </a>
            </li>
            
                 <li><a href="/corporate/publications-and-reports/index">Publications & reports</a></li>
                
            
            
                <li><span class="last-breadcrumb">Safety & security</span></li>
            
        
 
        
 
        </ol>
    </div>
</div>
     
 
<div class="r">
  <div class="headline-container plain">
    <h1>Safety & security</h1>

  </div>
</div>
<div class="main-and-aside r">
  
  <div class="main content-container" role="main">
    
      <div class="article-teaser">
        These reports form part of our Customer Research Library.
        
      </div>
    
    
      
    
      
           
      
<div>



<h2>Teen road safety resources development</h2>



<div class="multi-document-download-container">
    

<a class="document-download-wrap pdf.pdf" href="/cdn/static/cms/documents/teen-road-safety-summary.pdf.pdf">
    <div class="document-download-text">
        <p>Teen road safety summary</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF.PDF 14KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.01 -->
 

<a class="document-download-wrap pdf.pdf" href="/cdn/static/cms/documents/teen-road-safety-report.pdf.pdf">
    <div class="document-download-text">
        <p>Teen road safety report</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF.PDF 2.62MB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 2.62 -->
 
</div>
<p>To understand the impact of the new Teen Road Safety campaign in its current format</p>
</div>
 
<div>



<h2>Mobile data and privacy</h2>


<p>To explore the extent to which Transport for London's potential use of Wi-Fi, Bluetooth and mobile network connection data raises privacy concerns for customers and in what ways use of location data could benefit customers. </p>
<div class="multi-document-download-container">
    

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/mobile-data-and-privacy-summary.pdf">
    <div class="document-download-text">
        <p>Mobile data and privacy - summary</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 36KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.04 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/mobile-data-and-privacy-report.pdf">
    <div class="document-download-text">
        <p>Mobile data and privacy</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 1.76MB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 1.76 -->
 
</div>

</div>
 
<div>



<h2>Safety and security strategy</h2>



<div class="multi-document-download-container">
    

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/right-direction-2015-executive-summary.pdf">
    <div class="document-download-text">
        <p>The Mayor's strategy for improving transport safety, security and reliability 2015-17 - summary</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 526KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.51 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/right-direction-2015-full-document.pdf">
    <div class="document-download-text">
        <p>The Mayor's strategy for improving transport safety, security and reliability 2015-17 - full</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 860KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.84 -->
 
</div>

</div>
 
<div>



<h2>Younger drivers' road safety</h2>



        <p>To understand the younger driver mindset (particularly attitudes to driving, risk and speed) and to explore motivating factors for staying safe (May 2013)</p>
    
<div class="multi-document-download-container">
    

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/young-drivers-road-safety-strategic-development-summary.pdf">
    <div class="document-download-text">
        <p>Younger drivers' road safety strategic development - summary</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 98KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.10 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/young-drivers-road-safety-strategic-development-report.pdf">
    <div class="document-download-text">
        <p>Younger drivers' road safety strategic development - full report</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 3.18MB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 3.18 -->
 
</div>

</div>
 
<div>



<h2>Older pedestrians and road safety</h2>



        <p>To explore how to best communicate with older pedestrians in order to help reduce casualties (April 2013)</p>
    
<div class="multi-document-download-container">
    

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/older-pedestrians-research-summary.pdf">
    <div class="document-download-text">
        <p>Older pedestrians and road safety &#45; summary</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 23KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.02 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/older-pedestrians-research-report.pdf">
    <div class="document-download-text">
        <p>Older pedestrians and road safety &#45; full report</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 2.15MB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 2.15 -->
 
</div>

</div>
 
<div>



<h2>Powered two-wheelers</h2>



        <p>To test advertising ideas designed to encourage powered two-wheeler riders to reduce their speed (February 2013)</p>
    
<div class="multi-document-download-container">
    

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/p2w-speed-reduction-campaign-summary.pdf">
    <div class="document-download-text">
        <p>Powered two-wheeler speed reduction campaign - summary</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 21KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.02 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/p2w-speed-reduction-campaign-report.pdf">
    <div class="document-download-text">
        <p>Powered two-wheeler speed reduction campaign - full report</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 4.87MB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 4.87 -->
 
</div>

</div>
 
<div>



<h2>Road policing enforcement bulletins</h2>



<div class="multi-document-download-container">
    

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/roads-policing-enforcement-statistics-bulletin-2017.pdf">
    <div class="document-download-text">
        <p>Road policing enforcement statistics bulletin 2017</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 456KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.45 -->
 

<a class="document-download-wrap xlsx" href="/cdn/static/cms/documents/datasheet-roads-policing-in-london-2017.xlsx">
    <div class="document-download-text">
        <p>Datasheet roads policing in London 2017</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            XLSX 2.90MB
            
        </p>
    </div>
    <div class="document-download-icon download-spread">
    </div>

</a>

<!-- 2.90 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/roads-policing-enforcement-statistics-bulletin-london-2016.pdf">
    <div class="document-download-text">
        <p>Roads policing enforcement statistics bulletin 2016</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 410KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.40 -->
 

<a class="document-download-wrap xlsx" href="/cdn/static/cms/documents/datasheet-roads-policing-london-2016.xlsx">
    <div class="document-download-text">
        <p>Datasheet roads policing in London 2016</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            XLSX 1.54MB
            
        </p>
    </div>
    <div class="document-download-icon download-spread">
    </div>

</a>

<!-- 1.54 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/roads-policing-enforcement-statistics-bulletin-london-2015.pdf">
    <div class="document-download-text">
        <p>Road policing enforcement statistics bulletin 2015</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 484KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.47 -->
 

<a class="document-download-wrap xlsx" href="/cdn/static/cms/documents/datasheet-roads-policing-in-london.xlsx">
    <div class="document-download-text">
        <p>Datasheet roads policing in London 2015</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            XLSX 9.71MB
            
        </p>
    </div>
    <div class="document-download-icon download-spread">
    </div>

</a>

<!-- 9.71 -->
 
</div>

</div>
 <div>

<h2>Safety and security annual report</h2>

<p>Annual survey to measure perceptions of, and attitudes towards, issues of safety and security when travelling in London</p>

<p><a href="/cdn/static/cms/documents/safety-and-security-annual-report-2017.pdf">2017 Full Report (PDF 0.55MB)</a></p>

<p><a href="/cdn/static/cms/documents/safety-and-security-annual-report-2016.pdf">2016 Full Report (PDF 0.64MB)</a></p>

<p><a href="/cdn/static/cms/documents/safety-and-security-annual-report-2015.pdf">2015 Full Report (PDF 0.69MB)</a></p>

<p><a href="/cdn/static/cms/documents/safety-and-security-annual-report-2014-15.pdf">2014 Full Report (PDF 0.49MB)</a></p>

<p><a href="/cdn/static/cms/documents/safety-and-security-annual-report-2013-14.pdf">2013-14 Full Report (PDF 0.72MB)</a></p>

<h2>Attitudes to safety and security</h2>

<p>Ongoing monitor of the impact of concerns about crime and anti-social behaviour on Londoners' public transport use, identifying and prioritising key issues for improvement (January 2013)</p>

<p><a href="/cdn/static/cms/documents/safety-and-security-2012-summary.pdf">Summary (PDF 0.01MB)</a><br />
<a href="/cdn/static/cms/documents/safety-and-security-2012-annual-report.pdf">Full Report (PDF 0.71MB)</a></p>

<h2>LED street lighting</h2>

<p>To understand customer views towards the new LED street lights (March 2011)</p>

<p><a href="/cdn/static/cms/documents/LED-street-lighting-trial-one-page-summary.pdf">Summary (PDF 0.02MB)</a><br />
<a href="/cdn/static/cms/documents/LED-street-lighting-trial-report.pdf">Full Report (PDF 0.35MB)</a></p>

<h2>Safety &amp; security survey</h2>

<p>Ongoing monitor of the the impact of concerns about crime and antisocial behaviour on Londoners' public transport use, identifying and prioritising key issues for improvement (October 2010)</p>

<p><a href="/cdn/static/cms/documents/safety-and-security-one-page-summary.pdf">Summary (PDF 0.01MB)</a><br />
<a href="/cdn/static/cms/documents/Safety-and-security-report.pdf">Full Report (PDF 0.34MB)</a></p>

<h2>Trial of roadside safety mirrors</h2>

<p>Evaluate the roadside safety mirror trial and assess awareness among Large Goods Vehicles (LGV) drivers, car drivers and cyclists (September 2010)</p>

<p><a href="/cdn/static/cms/documents/trial-of-roadside-safety-mirrors-for-cycle-visibility-one-page-summary.pdf">Summary (PDF 0.02MB)</a><br />
<a href="/cdn/static/cms/documents/trial-of-roadside-safety-mirrors-for-cycle-visibility-report.pdf">Full Report (PDF 0.32MB)</a></p>

<h2>Safer Travel at Night</h2>

<p>Explore response to new STaN executions, to discourage people from taking illegal cabs (September 2010)</p>

<p><a href="/cdn/static/cms/documents/STaN--communications-development-one-page-summary.pdf">Summary (PDF 0.02MB)</a><br />
<a href="/cdn/static/cms/documents/STaN-communications-development-report.pdf">Full Report (PDF 0.32MB)</a></p>

<h2>Cyclists and HGVs</h2>

<p>Pre-testing two creative approaches to provide guidance for development of the campaign (May 2010)</p>

<p><a href="/cdn/static/cms/documents/cyclists-and-hgvs-communications-development-one-page-summary.pdf">Summary (PDF 0.02MB)</a><br />
<a href="/cdn/static/cms/documents/cyclists-and-hgvs-communications-development-report.pdf">Full Report (PDF 0.17MB)</a></p>

<h2>Theatre in education for road safety</h2>

<p>Evaluate the effectiveness of the three Road Safety theatrical plays (April 2010)</p>

<p><a href="/cdn/static/cms/documents/theatre-in-education-for-road-safety-one-page-summary.pdf">Summary (PDF 0.02MB)</a><br />
<a href="/cdn/static/cms/documents/theatre-in-education-for-road-safety-presentation.pdf">Full Report (PDF 3.55MB)</a></p>

<h2>Scooter safety exploratory research</h2>

<p>Understanding the risk behaviours of scooter and moped riders and identify the motivators, barriers and influencers (April 2010)</p>

<p><a href="/cdn/static/cms/documents/scooter-safety-exploratory-research-one-page-summary.pdf">Summary (PDF 0.03MB)</a><br />
<a href="/cdn/static/cms/documents/scooter-safety-exploratory-research-report.pdf">Full Report (PDF 1.93MB)</a></p>

<h2>Safety issues for older drivers</h2>

<p>Understanding older drivers, their attitudes to safety and risk on the road, and giving up driving (April 2010)</p>

<p><a href="/cdn/static/cms/documents/safety-issues-for-older-drivers-one-page-summary.pdf">Summary (PDF 0.02MB)</a><br />
<a href="/cdn/static/cms/documents/safety-issues-for-older-drivers-report.pdf">Full Report (PDF 1.13MB)</a></p>

<h2>Visitor road safety</h2>

<p>Explore the mindset of tourists towards pedestrian safety when visiting London, and understand potential reasons for a poorer pedestrian road safety record amongst tourists (March 2010)</p>

<p><a href="/cdn/static/cms/documents/visitor-pedestrian-safety-one-page-summary.pdf">Summary (PDF 0.03MB)</a><br />
<a href="/cdn/static/cms/documents/visitor-pedestrian-safety-final-report.pdf">Full Report (PDF 8.12MB)</a></p>

<h2>Perceptions of crime 2010</h2>

<p>Pre-test of the creative approach amongst the key target audiences and evaluation of additional ideas (March 2010)</p>

<p><a href="/cdn/static/cms/documents/perceptions-of-crime-communications-development-one-page-summary.pdf">Summary (PDF 0.02MB)</a><br />
<a href="/cdn/static/cms/documents/perceptions-of-crime-communicationsn-development-presentation.pdf">Full Report (PDF 1.26MB)</a></p>

<h2>Cycling safety and HGVs</h2>

<p>Attitudes and behaviours of cyclists and Heavy Goods Vehicle drivers regarding road safety (March 2010)</p>

<p><a href="/cdn/static/cms/documents/cycling-safety-and-hgvs-communications-development-one-page-summary.pdf">Summary (PDF 0.02MB)</a><br />
<a href="/cdn/static/cms/documents/cycling-safety-and-hgvs-communications-development-report.pdf">Full Report (PDF 1.09MB)</a></p>

<h2>Street lighting trial</h2>

<p>Awareness and impact of the trial change in footpath street lighting to LED lights, especially any impact on perceptions of security (December 2009)</p>

<p><a href="/cdn/static/cms/documents/research-summary-street-lighting-trial.pdf">Summary (PDF 0.02MB)</a><br />
<a href="/cdn/static/cms/documents/street-lights-trial-report.pdf">Full Report (PDF 0.25MB)</a></p>

<h2>Intelligent speed adaption</h2>

<p>Drivers' and managers' experiences of using ISA systems in council vehicles (December 2009)</p>

<p><a href="/cdn/static/cms/documents/Intelligent-speed-adaption-drivers-experiences-one-page-summary.pdf">Summary (PDF 0.02MB)</a><br />
<a href="/cdn/static/cms/documents/intelligent-speed-adaption-drivers-experiences-report.pdf">Full Report (PDF 0.25MB)</a></p>

<h2>Safer Travel at Night</h2>

<p>Development of communications for the Safer Travel at Night campaign (September 2009)</p>

<p><a href="/cdn/static/cms/documents/sater-travel-at-night-communications-development-one-page-summary.pdf">Summary (PDF 0.02MB)</a><br />
<a href="/cdn/static/cms/documents/safer-travel-at-night-communications-development-presentation.pdf">Full Report (PDF 2.18MB)</a></p>

<h2>Taxi &amp; PHV marshalled rank counts</h2>

<p>Following a change in policy, count of passengers at the marshalled rank in Cranbourn St. (July 2009)</p>

<p><a href="/cdn/static/cms/documents/research-summary-cranborne-street-marshalled-rank-counts.pdf">Summary (PDF 0.02MB)</a><br />
<a href="/cdn/static/cms/documents/cranbourn-street-marshalled-rank-counts-report.pdf">Full Report (PDF 0.34MB)</a></p>

<h2>London Safety Camera Partnership</h2>

<p>Awareness and importance attached to customers' perceptions of traffic safety cameras among Londoners (April 2009)</p>

<p><a href="/cdn/static/cms/documents/london-safety-camera-partnership-attitudes-opinions-one-page-summary.pdf">Summary (PDF 0.02MB)</a><br />
<a href="/cdn/static/cms/documents/attitudes-to-safety-cameras-report1.pdf">Full Report (PDF 0.27MB)</a></p>

<h2>Pass Plus evaluation</h2>

<p>Assessment of Pass Plus applicants' views of the scheme and its impacts one year after application (April 2009)</p>

<p><a href="/cdn/static/cms/documents/pass-plus-evaluation-summary1.pdf">Summary (PDF 0.02MB)</a><br />
<a href="/cdn/static/cms/documents/pass-plus-applicants-survey-report1.pdf">Full Report (PDF 0.17MB)</a></p>

<h2>Safer Travel at Night</h2>

<p>How young women decide how to get home late at night and how aware they are of the risks of their late night travel options (March 2009)</p>

<p><a href="/cdn/static/cms/documents/safer-travel-at-night-comms-development-one-page-summary.pdf">Summary (PDF 0.02MB)</a><br />
<a href="/cdn/static/cms/documents/safer-travel-at-night-comms-development-presentation.pdf">Full Report (PDF 2.26MB)</a></p>

<h2>Crime on bus routes</h2>

<p>Bus drivers' perceptions of crime and antisocial behaviour, and awareness of enforcement initiatives on their bus routes (February 2009)</p>

<p><a href="/cdn/static/cms/documents/research-summary-crime-on-bus-routes.pdf">Summary (PDF 0.02MB)</a><br />
<a href="/cdn/static/cms/documents/crime-on-bus-routes-report.pdf">Full Report (PDF 0.21MB)</a></p>

<h2>Teen Road Safety</h2>

<p>To inform the Teen Road Safety campaign proposition and advertising development (January 2009)</p>

<p><a href="/cdn/static/cms/documents/teen-road-safety-communications-development-one-page-summary.pdf">Summary (PDF 0.02MB)</a><br />
<a href="/cdn/static/cms/documents/teen-road-safety-comms-development-presentation.pdf">Full Report (PDF 2.89MB)</a></p>
</div>
 <div>


        <p>Research into what our customers think and how they behave helps us identify their key issues, areas for improvement and allows us to seek their views on new initiatives to inform our decision making.</p>
        <h3>Conditions of use</h3>
        <p>The copyright of all reports in this library is owned by TfL and the provision of information under the Freedom of Information Act does not give the recipient a right to re-use the information in a way that would infringe copyright (for example, by publishing and issuing copies to the public).</p>
        <p>Brief extracts of the material may be reproduced under the fair dealing provisions of the Copyright, Designs and Patents Act 1988 for the purposes of research for non-commercial purposes, private study, criticism, review and news reporting.</p>
        <p>Contact us to arrange to use the material in this library for any other purpose.</p>
    
</div>
 
      
        
          
        
      
    
  </div>
  <div class="aside" role="complementary">

   
    
    
    
      <div data-set="sidenav-container" class="large">
        
        
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
      </div>
    
    <div>
















<div class="advert-tile unsponsored-style google-ads" aria-hidden="true">
  <div class="advert-link">
    <div class="advert-content">
        <div class="medium-large" data-advert="/76889402/non-targeted" data-advert-sizes="300, 250"></div>
        <div class="small" data-advert="/76889402/non-targeted" data-advert-sizes="300, 250"></div>
    </div>
  </div>
</div>
@{
    ViewBag.AmazonSlot = "'amznslots'";
    ViewBag.AmazonAds = "'3199'"; // to add another value, this needs to be ViewBag.AmazonAds = "'3199','xx'";
}
      

 </div>
    
      <div class="module-grid clearfix">
                    
        <div>

    <div class="contact-info-box">
         <div class="contact-info-header">
             <h3>Contact Customer Research Library</h3>
         </div>
        
        
        
        
        <div class="content-group">
            <p>
                
                
                
                
                
                
                
                
            </p>
            
        </div>
        
        <div class="content-group">
            
            
            
                
                
                
            
            
            <p>&nbsp;<a href="/help-and-contact/index">Use our contact forms</a></p>
        </div>
        
        
    </div>
</div>
 <div class="related-links">

    <h3>Customer Research Library reports</h3>

        We gather customers' views on a range of topics related to travelling in London
    
<div class="vertical-button-container">

<a href="http://www.tfl.gov.uk/corporate/publications-and-reports/?Category=Customer%20Research%20Library" class="plain-button">All reports</a>
    </div>
</div>
 
      </div>
    
    <div data-set="sidenav-container" class="small-medium"></div>
  </div>
</div>
 
 
        
        
        
            @{ViewBag.Description = "Reports covering a range of issues concerning safety and security on our network";}
        
            
        


 