
    
  



@{ViewBag.Title = "Senior staff ";}
@{ViewBag.Keywords = "Media,Public,S,Corporate information,Transparency data ,TfL";}
@{ViewBag.Url = "/corporate/publications-and-reports/senior-staff";}
@{ViewBag.Language = "en";}
        <!-- empty placeholder -->
 
        
        
<div class="r">
    <div class="breadcrumb-container" role="navigation">
        <span id="breadcrumb-label" class="visually-hidden">You are here:</span>
        <ol class="breadcrumbs clearfix" aria-labelledby="breadcrumb-label">
            <li class="home">
                <a href="/">
                    <span class="hide-text">Home</span>
                </a>
            </li>
            
                 <li><a href="/corporate/publications-and-reports/index">Publications & reports</a></li>
                
            
            
                <li><span class="last-breadcrumb">Senior staff </span></li>
            
        
 
        
 
        </ol>
    </div>
</div>
     
 
<div class="r">
  <div class="headline-container plain">
    <h1>Senior staff </h1>

  </div>
</div>
<div class="main-and-aside r">
  
  <div class="main content-container" role="main">
    
      <div class="article-teaser">
        Information on the job titles and responsibilities of senior staff at TfL and Crossrail. Part-time staff and those who joined or left service during the year are included.
        
      </div>
    
    <div class="on-this-page">
      
      
           
      
<div>



<h2>TfL senior staff and responsibilities</h2>



<div class="multi-document-download-container">
    

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/data-transparency-report-2018-19.pdf">
    <div class="document-download-text">
        <p>Job titles and responsibilities of senior staff 2019</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 6.41MB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 6.41 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/tfl-senior-employee-salaries-2018.pdf">
    <div class="document-download-text">
        <p>Job titles and responsibilities of senior staff 2018</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 6.60MB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 6.60 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/tfl-senior-employee-salaries-2017.pdf">
    <div class="document-download-text">
        <p>Job titles and responsibilities of senior staff 2017</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 10.16MB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 10.16 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/tfl-senior-employee-salaries-2016.pdf">
    <div class="document-download-text">
        <p>Job titles and responsibilities of senior staff 2016</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 3.94MB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 3.94 -->
 

<a class="document-download-wrap xls" href="/cdn/static/cms/documents/tfl-senior-employee-salaries-2015.xls">
    <div class="document-download-text">
        <p>Job titles and responsibilities of senior staff 2015</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            XLS 1.81MB
            
        </p>
    </div>
    <div class="document-download-icon download-spread">
    </div>

</a>

<!-- 1.81 -->
 

<a class="document-download-wrap xls" href="/cdn/static/cms/documents/senior-staff-1-2014.xls">
    <div class="document-download-text">
        <p>Job titles and responsibilities of senior staff 2014 </p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            XLS 986KB
            
        </p>
    </div>
    <div class="document-download-icon download-spread">
    </div>

</a>

<!-- 0.96 -->
 

<a class="document-download-wrap xls" href="/cdn/static/cms/documents/tfl-senior-employee-salaries-sept-2013.xls">
    <div class="document-download-text">
        <p>Job titles and responsibilities of senior staff 2013 </p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            XLS 919KB
            
        </p>
    </div>
    <div class="document-download-icon download-spread">
    </div>

</a>

<!-- 0.90 -->
 

<a class="document-download-wrap xls" href="/cdn/static/cms/documents/tfl-senior-employee-salaries-oct-2012.xls">
    <div class="document-download-text">
        <p>Job titles and responsibilities of senior staff 2012</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            XLS 854KB
            
        </p>
    </div>
    <div class="document-download-icon download-spread">
    </div>

</a>

<!-- 0.83 -->
 
</div>

</div>
 
<div>



<h2>Crossrail senior staff and responsibilities</h2>


<p>Visit the <a href="http://www.crossrail.co.uk/">Crossrail website</a> for information relating to previous years </p>
<div class="multi-document-download-container">
    

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/crossrail-senior-staff-responsibilities-salaries-2018.pdf">
    <div class="document-download-text">
        <p>Job titles and responsibilities of senior Crossrail staff 2018</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 406KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.40 -->
 
</div>

</div>
 
      
        
          
            @this.ScriptBlock(
              @<script>
                queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
              </script>
            )
          
        
      
    </div>
  </div>
  <div class="aside" role="complementary">

   
    
    
    
      <div data-set="sidenav-container" class="large">
        
        
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
      </div>
    
    <div>
















<div class="advert-tile unsponsored-style google-ads" aria-hidden="true">
  <div class="advert-link">
    <div class="advert-content">
        <div class="medium-large" data-advert="/76889402/non-targeted" data-advert-sizes="300, 250"></div>
        <div class="small" data-advert="/76889402/non-targeted" data-advert-sizes="300, 250"></div>
    </div>
  </div>
</div>
@{
    ViewBag.AmazonSlot = "'amznslots'";
    ViewBag.AmazonAds = "'3199'"; // to add another value, this needs to be ViewBag.AmazonAds = "'3199','xx'";
}
      

 </div>
    
    <div data-set="sidenav-container" class="small-medium"></div>
  </div>
</div>
 
 
        
        
        
            @{ViewBag.Description = "We publish a brief job description and pay grade for senior staff at TfL and Crossrail";}
        
            
        


 