
    
  



@{ViewBag.Title = "Silvertown Tunnel project agreement";}
@{ViewBag.Keywords = "Businesses,Planning and construction,Suppliers,S,Contract,Expenditure,Buses,Coaches,Cycling,Deliveries,Driving,Motorcycle,Taxis and minicabs,TfL";}
@{ViewBag.Url = "/corporate/publications-and-reports/silvertown-tunnel-project-agreement";}
@{ViewBag.Language = "en";}
        <!-- empty placeholder -->
 
        
        
<div class="r">
    <div class="breadcrumb-container" role="navigation">
        <span id="breadcrumb-label" class="visually-hidden">You are here:</span>
        <ol class="breadcrumbs clearfix" aria-labelledby="breadcrumb-label">
            <li class="home">
                <a href="/">
                    <span class="hide-text">Home</span>
                </a>
            </li>
            
                 <li><a href="/corporate/publications-and-reports/index">Publications & reports</a></li>
                
            
            
                <li><span class="last-breadcrumb">Silvertown Tunnel project agreement</span></li>
            
        
 
        
 
        </ol>
    </div>
</div>
     
 
<div class="r">
  <div class="headline-container plain">
    <h1>Silvertown Tunnel project agreement</h1>

  </div>
</div>
<div class="main-and-aside r">
  
  <div class="main content-container" role="main">
    
      <div class="article-teaser">
        Following a formal procurement process, Transport for London awarded a design, build, finance and maintenance contract in November 2019 for a new twin-bore tunnel between Silvertown and the Greenwich Peninsula in East London.
        
      </div>
    
    
      <p>The contract was awarded to&nbsp;RiverLinx Limited, a consortium made up of Aberdeen Standard Investments, BAM PPP PGGM, Cintra, Macquarie Capital and SK Engineering &amp; Construction.</p>
      
           
      
<div>



<h2>Redacted contract</h2>



<div class="multi-document-download-container">
    

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/silvertown-project-agreement-including-schedule-1-definitions-and-interpretations-rs-feb-2020.pdf">
    <div class="document-download-text">
        <p>The Project Agreement (including Schedule 1 Definitions and Interpretations) </p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 1.32MB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 1.32 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/silvertown-tunnel-schedule-02-programme-rs-feb-2020.pdf">
    <div class="document-download-text">
        <p>Schedule 2: Programme</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 1.48MB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 1.48 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/silvertown-tunnel-schedule-03-mobilisation-rs-feb-2020.pdf">
    <div class="document-download-text">
        <p>Schedule 3: Project Co Mobilisation Plan</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 1.33MB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 1.33 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/silvertown-tunnel-schedule-04-land-requirements-rs-feb-2020.pdf">
    <div class="document-download-text">
        <p>Schedule 4: Land Requirements</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 2.73MB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 2.73 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/silvertown-tunnel-schedule-05-allocation-of-dco-and-other-requirements-rs-feb-2020.pdf">
    <div class="document-download-text">
        <p>Schedule 5: Allocation of DCO and Other Requirements</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 9.67MB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 9.67 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/silvertown-schedule-06-interested-parties-third-parties-and-liaison-procedures-rs-feb-2020.pdf">
    <div class="document-download-text">
        <p>Schedule 6: Interested Parties, Third Parties and Liaison Procedures</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 21.23MB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 21.23 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/silvertown-tunnel-schedule-07-responsible-procurement-rs-feb-2020.pdf">
    <div class="document-download-text">
        <p>Schedule 7: Responsible Procurement</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 1.73MB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 1.73 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/silvertown-tunnel-schedule-08-management-systems-rs-feb-2020.pdf">
    <div class="document-download-text">
        <p>Schedule 8: Management Systems</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 3.86MB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 3.86 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/silvertown-tunnel-schedule-09-certification-and-review-procedure-feb-2020.pdf">
    <div class="document-download-text">
        <p>Schedule 9: Certification and Review Procedure</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 1.95MB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 1.95 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/silvertown-tunnel-schedule-10-design-and-construction-requirements-rs-feb-2020.pdf">
    <div class="document-download-text">
        <p>Schedule 10: Design and Construction Requirements</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 6.38MB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 6.38 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/silvertown-tunnel-schedule-11-tfl-technology-requirements-rs-feb-2020.pdf">
    <div class="document-download-text">
        <p>Schedule 11: TfL Technology Requirements</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 1.79MB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 1.79 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/silvertown-tunnel-schedule-12-environmental-requirements-rs-feb-2020.pdf">
    <div class="document-download-text">
        <p>Schedule 12: Environmental Requirements</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 1.35MB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 1.35 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/silvertown-tunnel-schedule-13-network-occupancy-rs-feb-2020.pdf">
    <div class="document-download-text">
        <p>Schedule 13: Network Occupancy</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 1.58MB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 1.58 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/silvertown-tunnel-schedule-14-user-charging-interface-rs-feb-2020.pdf">
    <div class="document-download-text">
        <p>Schedule 14: User Charging Interface</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 1.37MB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 1.37 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/silvertown-tunnel-schedule-15-design-and-construction-performance-monitoring-rs-feb-2020.pdf">
    <div class="document-download-text">
        <p>Schedule 15: Design & Construction Performance Monitoring</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 3.48MB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 3.48 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/silvertown-tunnel-schedule-16-records-and-reporting-rs-feb-2020.pdf">
    <div class="document-download-text">
        <p>Schedule 16: Records and Reporting</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 1.86MB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 1.86 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/silvertown-tunnel-schedule-17-handover-and-permit-to-use-requirements-rs-feb-2020.pdf">
    <div class="document-download-text">
        <p>Schedule 17: Handover and Permit To Use Requirements</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 1.81MB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 1.81 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/silvertown-tunnel-schedule-18-operation-and-maintenance-requirements-rs-feb-2020.pdf">
    <div class="document-download-text">
        <p>Schedule 18: Operation and Maintenance Requirements</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 1.61MB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 1.61 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/silvertown-tunnel-schedule-19-handback-requirements-rs-feb-2020.pdf">
    <div class="document-download-text">
        <p>Schedule 19: Handback Requirements</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 3.03MB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 3.03 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/silvertown-tunnel-schedule-20-payment-mechanism-rs-feb-2020.pdf">
    <div class="document-download-text">
        <p>Schedule 20: Payment Mechanism</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 1.33MB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 1.33 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/silvertown-tunnel-schedule-21-insurance-rs-feb-2020.pdf">
    <div class="document-download-text">
        <p>Schedule 21: Insurance</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 1.44MB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 1.44 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/silvertown-tunnel-schedule-22-change-procedure-rs-feb-2020.pdf">
    <div class="document-download-text">
        <p>Schedule 22: Change Procedure</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 1.48MB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 1.48 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/silvertown-tunnel-schedule-23-dispute-resolution-procedure-rs-feb-2020.pdf">
    <div class="document-download-text">
        <p>Schedule 23: Dispute Resolution Procedure</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 1.39MB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 1.39 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/silvertown-tunnel-schedule-24-commercially-sensitive-information-rs-feb-2020.pdf">
    <div class="document-download-text">
        <p>Schedule 24: Commercially Sensitive Information</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 1.59MB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 1.59 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/silvertown-tunnel-schedule-25-base-case-rs-feb-2020.pdf">
    <div class="document-download-text">
        <p>Schedule 25: Base Case</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 1.36MB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 1.36 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/silvertown-tunnel-schedule-26-refinancing-rs-feb-2020.pdf">
    <div class="document-download-text">
        <p>Schedule 26: Refinancing</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 1.35MB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 1.35 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/silvertown-tunnel-schedule-27-compensation-on-termination-rs-feb-2020.pdf">
    <div class="document-download-text">
        <p>Schedule 27: Compensation on Termination</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 1.43MB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 1.43 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/silvertown-tunnel-schedule-28-direct-agreements-and-other-contracts-and-agreements-rs-feb-2020.pdf">
    <div class="document-download-text">
        <p>Schedule 28: Direct Agreements and other Contracts and Agreements</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 1.96MB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 1.96 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/silvertown-tunnel-schedule-29-project-co-and-hold-co-information-rs-feb-2020.pdf">
    <div class="document-download-text">
        <p>Schedule 29: Project Co and Hold Co Information</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 1.35MB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 1.35 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/silvertown-tunnel-schedule-30-ground-conditions-rs-feb-2020.pdf">
    <div class="document-download-text">
        <p>Schedule 30: Ground Conditions</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 3.68MB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 3.68 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/silvertown-tunnel-schedule-31-consents-rs-feb-2020.pdf">
    <div class="document-download-text">
        <p>Schedule 31: Consents</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 1.77MB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 1.77 -->
 
</div>
<p>A link to this page and the formal contract award notification is published on <a href="https://www.contractsfinder.service.gov.uk/Search">Contract Finder</a>.</p>
</div>
 
      
        
          
        
      
    
  </div>
  <div class="aside" role="complementary">

   
    
    
    
    <div>
















<div class="advert-tile unsponsored-style google-ads" aria-hidden="true">
  <div class="advert-link">
    <div class="advert-content">
        <div class="medium-large" data-advert="/76889402/non-targeted" data-advert-sizes="300, 250"></div>
        <div class="small" data-advert="/76889402/non-targeted" data-advert-sizes="300, 250"></div>
    </div>
  </div>
</div>
@{
    ViewBag.AmazonSlot = "'amznslots'";
    ViewBag.AmazonAds = "'3199'"; // to add another value, this needs to be ViewBag.AmazonAds = "'3199','xx'";
}
      

 </div>
    
      <div class="module-grid clearfix">
                    
        <div class="related-links">

    <h3>Also on this site</h3>

<div class="vertical-button-container">

<a href="/travel-information/improvements-and-projects/silvertown-tunnel" class="plain-button">Silvertown Tunnel project</a>
    </div>
</div>
 
      </div>
    
    <div data-set="sidenav-container" class="small-medium"></div>
  </div>
</div>
 
 
        
        
        
            @{ViewBag.Description = "Contracts related to the Silvertown Tunnel project";}
        
            
        


 