
    
  



@{ViewBag.Title = "Papers - past years";}
@{ViewBag.Keywords = "TfL";}
@{ViewBag.Url = "/corporate/publications-and-reports/ss-and-hr-past-years";}
@{ViewBag.Language = "en";}
        <!-- empty placeholder -->
 
        
        
<div class="r">
    <div class="breadcrumb-container" role="navigation">
        <span id="breadcrumb-label" class="visually-hidden">You are here:</span>
        <ol class="breadcrumbs clearfix" aria-labelledby="breadcrumb-label">
            <li class="home">
                <a href="/">
                    <span class="hide-text">Home</span>
                </a>
            </li>
            
                 <li><a href="/corporate/publications-and-reports/index">Publications & reports</a></li>
                
            
                 <li><a href="/corporate/publications-and-reports/safety-sustainability-hr">Safety, Sustainability & HR panel</a></li>
                
            
            
                <li><span class="last-breadcrumb">Papers - past years</span></li>
            
        
 
        
 
        
 
        </ol>
    </div>
</div>
     
 
<div class="r">
  <div class="headline-container plain">
    <h1>Papers - past years</h1>

  </div>
</div>
<div class="main-and-aside r">
  
  <div class="main content-container" role="main">
    
      <div class="article-teaser">
        Committee agendas and reports of the Safety, Sustainability & Human Resources panel from before the current year.
        
      </div>
    
    
      
      
           
      <h2> 2018 meeting papers</h2>






    


<div class="accordion">
<div class="expandable-box">

        <div class="content">
            <div class="always-visible">
                <a class="controls" href="javascript:void(0);">&nbsp;</a>
                <div class="accordion-heading">
                    22 January
                </div>
            </div>
            <div class="start-hidden">
                <div class="multi-document-download-container">
                

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/sshrp-20180122-agenda.pdf">
    <div class="document-download-text">
        <p>Agenda</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 37KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.04 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/sshrp-20180122-item03-tram-overturning-at-sandilands-investigations-update.pdf">
    <div class="document-download-text">
        <p>Item 3 - Tram Overturning at Sandilands, Croydon on 9 November 2016 &#45; RAIB and TfL Investigations Update</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 1.36MB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 1.36 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/sshrp-20180122-item04-tram-overturning-at-sandilands-non-operational-responses.pdf">
    <div class="document-download-text">
        <p>Item 4 - Tram Overturning at Sandilands, Croydon on 9 November 2016 &#45; Non-Operational Incident Responses Update</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 47KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.05 -->
            
              </div>
            </div>
        </div>
 

   </div>
 <div class="expandable-box">

        <div class="content">
            <div class="always-visible">
                <a class="controls" href="javascript:void(0);">&nbsp;</a>
                <div class="accordion-heading">
                    28 February
                </div>
            </div>
            <div class="start-hidden">
                <div class="multi-document-download-container">
                

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/agenda.pdf">
    <div class="document-download-text">
        <p>Agenda</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 52KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.05 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/item03-minutes.pdf">
    <div class="document-download-text">
        <p>Item 3 - Minutes of the meetings held on 22 November 2017 and 22 January 2018</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 69KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.07 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/item04-actions-list.pdf">
    <div class="document-download-text">
        <p>Item 4 - Matters Arising and Actions List</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 757KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.74 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/item05-quarterly-hse-report.pdf">
    <div class="document-download-text">
        <p>Item 5 - Quarterly Health, Safety and Environment Reports</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 15.91MB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 15.91 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/item06-independent-evacuation-of-disabled-passengers.pdf">
    <div class="document-download-text">
        <p>Item 6 - Independent Evacuation of Disabled People from London Underground Stations in a Security Incident</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 81KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.08 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/item07-bus-driver-facility.pdf">
    <div class="document-download-text">
        <p>Item 7 - Bus Driver Facility Improvements</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 142KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.14 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/item08-air-quality-update.pdf">
    <div class="document-download-text">
        <p>Item 8 - Air Quality Update</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 168KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.16 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/item09-climate-change-adaptation.pdf">
    <div class="document-download-text">
        <p>Item 9 - Climate Change Adaptation</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 1.49MB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 1.49 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/item10-hr-quarterly-report.pdf">
    <div class="document-download-text">
        <p>Item 10 - Human Resources Quarterly Report</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 2.58MB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 2.58 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/item11-learning-and-development.pdf">
    <div class="document-download-text">
        <p>Item 11 - Learning and Development Update</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 147KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.14 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/item12-transformation-update.pdf">
    <div class="document-download-text">
        <p>Item 12 - Transformation Update </p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 54KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.05 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/item13-member-suggestions.pdf">
    <div class="document-download-text">
        <p>Item 13 -Member Suggestions for Future Agenda Discussions</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 200KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.20 -->
            
              </div>
            </div>
        </div>
 

   </div>
 <div class="expandable-box">

        <div class="content">
            <div class="always-visible">
                <a class="controls" href="javascript:void(0);">&nbsp;</a>
                <div class="accordion-heading">
                    20 June
                </div>
            </div>
            <div class="start-hidden">
                <div class="multi-document-download-container">
                

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/sshrp-20180620-agenda.pdf">
    <div class="document-download-text">
        <p>Agenda</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 90KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.09 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/sshrp-20180620-item03-mins.pdf">
    <div class="document-download-text">
        <p>Item 3 -  Minutes of the Meeting of the Safety, Sustainability and Accessibility Panel held on 28 February 2018</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 45KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.04 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/sshrp-20180620-item04-actions-list.pdf">
    <div class="document-download-text">
        <p>Item 4 - Matters Arising and Actions List</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 246KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.24 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/sshrp-20180620-item05-hr-report.pdf">
    <div class="document-download-text">
        <p>Item 5 - Human Resources Quarterly Report</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 1.64MB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 1.64 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/sshrp-20180620-part-1-item-06-transformation-update.pdf">
    <div class="document-download-text">
        <p>Item 6 - Transformation Update</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 29KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.03 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/sshrp-20180620-part-1-item-07-tfl-energy-strategy.pdf">
    <div class="document-download-text">
        <p>Item 7 - Energy Strategy</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 263KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.26 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/sshrp-20180620-part-1-item-08-responsible-procurement.pdf">
    <div class="document-download-text">
        <p>Item 8 - Responsible Procurement</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 88KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.09 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/sshrp-20180620-part-1-item-09-quarter-four-health-safety-environment-performance-report.pdf">
    <div class="document-download-text">
        <p>Item 9 - Quarterly Health, Safety and Environment Performance Reports</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 1.77MB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 1.77 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/sshrp-20180620-part-1-item-09-appendix-q4-stats.pdf">
    <div class="document-download-text">
        <p>Item 9 - Appendix - Q4 Statistics</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 122KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.12 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/sshrp-20180620-part-1-item-10-improving-cyclist-safety-in-london.pdf">
    <div class="document-download-text">
        <p>Item 10 - Improving Cyclist Safety in London</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 2.09MB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 2.09 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/sshrp-20180620-part-1-item-11-forward-plan.pdf">
    <div class="document-download-text">
        <p>Item 11 - Member Suggestions for Future Agenda Discussions</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 66KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.06 -->
            
              </div>
            </div>
        </div>
 

   </div>
 <div class="expandable-box">

        <div class="content">
            <div class="always-visible">
                <a class="controls" href="javascript:void(0);">&nbsp;</a>
                <div class="accordion-heading">
                    27 September
                </div>
            </div>
            <div class="start-hidden">
                <div class="multi-document-download-container">
                

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/safety-sustainability-human-resources-panel-agenda-and-papers-27-september-2018.pdf">
    <div class="document-download-text">
        <p>Safety, Sustainability and Human Resources Panel 27 September 2018 Agenda and Papers</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 7.77MB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 7.77 -->
            
              </div>
            </div>
        </div>
 

   </div>
 <div class="expandable-box">

        <div class="content">
            <div class="always-visible">
                <a class="controls" href="javascript:void(0);">&nbsp;</a>
                <div class="accordion-heading">
                    05 December
                </div>
            </div>
            <div class="start-hidden">
                <div class="multi-document-download-container">
                

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/safety-sustainability-and-human-resources-panel-5-december-2018-agenda-and-papers.pdf">
    <div class="document-download-text">
        <p>Safety, Sustainability and Human Resources Panel 5 December 2018 Agenda and Papers</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 10.46MB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 10.46 -->
            
              </div>
            </div>
        </div>
 

   </div>
 
</div>
 <h2> 2017 meeting papers</h2>






    


<div class="accordion">
<div class="expandable-box">

        <div class="content">
            <div class="always-visible">
                <a class="controls" href="javascript:void(0);">&nbsp;</a>
                <div class="accordion-heading">
                    23 January
                </div>
            </div>
            <div class="start-hidden">
                <div class="multi-document-download-container">
                

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/agenda-sshrp-23012017.pdf">
    <div class="document-download-text">
        <p>Agenda</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 41KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.04 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/sshr-20170123-item03-draft-mins.pdf">
    <div class="document-download-text">
        <p>Item 3 - Minutes of the Meeting held on 17 November 2016</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 88KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.09 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/sshr-20170123-item04-actions-list.pdf">
    <div class="document-download-text">
        <p>Item 4 - Matters Arising and Actions List</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 29KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.03 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/sshr-20170123-item05-tram-derailment-update.pdf">
    <div class="document-download-text">
        <p>Item 5 - Tramlink Derailment at Sandilands, Croydon on 9 November 2016 - Update</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 68KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.07 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/sshr-20170123-item06-hr-report.pdf">
    <div class="document-download-text">
        <p>Item 6 - Human Resources Quarterly Report </p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 2.03MB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 2.03 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/sshr-20170123-item07-bus-safety-programme.pdf">
    <div class="document-download-text">
        <p>Item 7 - Bus Safety Programme</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 47KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.05 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/sshr-20170123-item08-update-on-ev-charging.pdf">
    <div class="document-download-text">
        <p>Item 8 - Update on the Development of the Electric Vehicle Charging Network</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 62KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.06 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/sshr-20170123-item09-measuring-inclusion-in-health-and-safety.pdf">
    <div class="document-download-text">
        <p>Item 9 - Measuring Inclusion in Health and Safety in Crossrail</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 72KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.07 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/sshr-20170123-item10-member-suggestions.pdf">
    <div class="document-download-text">
        <p>Item 10 - Member Suggestions for Future Agenda Discussions</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 78KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.08 -->
            
              </div>
            </div>
        </div>
 

   </div>
 <div class="expandable-box">

        <div class="content">
            <div class="always-visible">
                <a class="controls" href="javascript:void(0);">&nbsp;</a>
                <div class="accordion-heading">
                    21 March
                </div>
            </div>
            <div class="start-hidden">
                <div class="multi-document-download-container">
                

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/agenda.pdf">
    <div class="document-download-text">
        <p>Agenda </p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 52KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.05 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/sshrp-20170321-item03-draft-mins.pdf">
    <div class="document-download-text">
        <p>Item 3 - Minutes of the Meeting of the Panel held on 23 January 2017</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 86KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.08 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/sshrp-20170321-item04-actions-list.pdf">
    <div class="document-download-text">
        <p>Item 4 - Matters Arising and Actions List</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 74KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.07 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/sshrp-20170321-item05-hse-reports.pdf">
    <div class="document-download-text">
        <p>Item 5 - Quarterly Health, Safety and Environment Performance Reports</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 622KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.61 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/sshrp-20170321-item06-tramlink-update.pdf">
    <div class="document-download-text">
        <p>Item 6 - Tram Derailment at Sandilands, Croydon on 9 November 2016 - Update</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 31KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.03 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/sshrp-20170321-item07-hr-report.pdf">
    <div class="document-download-text">
        <p>Item 7 - Human Resources Quarterly Report</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 549KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.54 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/sshrp-20170321-item08-action-on-equality.pdf">
    <div class="document-download-text">
        <p>Item 8 - Action on Equality Annual Progress Report and Action Plan</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 40KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.04 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/sshrp-20170321-item09-climate-change-and-planning.pdf">
    <div class="document-download-text">
        <p>Item 9 - Climate Change and Planning for Unpredictable Weather Events</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 395KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.39 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/sshrp-20170321-item10-hse-improvement.pdf">
    <div class="document-download-text">
        <p>Item 10 - TfL Health, Safety and Environment Improvement Programme</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 333KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.33 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/sshrp-20170321-item11-low-emission-buses.pdf">
    <div class="document-download-text">
        <p>Item 11 - Low Emission Technology Buses</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 388KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.38 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/sshrp-20170321-item12-healthy-streets.pdf">
    <div class="document-download-text">
        <p>Item 12 - Healthy Streets for London</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 4.19MB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 4.19 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/sshrp-20170321-item13-member-suggestions.pdf">
    <div class="document-download-text">
        <p>Item 13 - Member Suggestions for Future Agenda Discussions </p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 65KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.06 -->
            
              </div>
            </div>
        </div>
 

   </div>
 <div class="expandable-box">

        <div class="content">
            <div class="always-visible">
                <a class="controls" href="javascript:void(0);">&nbsp;</a>
                <div class="accordion-heading">
                    26 June
                </div>
            </div>
            <div class="start-hidden">
                <div class="multi-document-download-container">
                

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/agenda.pdf">
    <div class="document-download-text">
        <p>Agenda</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 52KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.05 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/sshrp-20170626-item03-minutes.pdf">
    <div class="document-download-text">
        <p>Item 3 - Minutes of the Meeting held on 21 March 2017</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 39KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.04 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/sshrp-20170626-item04-actions-list.pdf">
    <div class="document-download-text">
        <p>Item 4 - Matters Arising and Actions List</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 88KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.09 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/sshrp-20170626-item-05-tram-derailment-update.pdf">
    <div class="document-download-text">
        <p>Item 5 - Tram Derailment at Sandilands, Croydon on 9 November 2016 - Update</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 40KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.04 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/sshrp-20170626-item-06-hse-quarterly-report.pdf">
    <div class="document-download-text">
        <p>Item 6 - Health, Safety and Environment Quarterly Report</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 768KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.75 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/sshrp-20170626-item07-hr-report.pdf">
    <div class="document-download-text">
        <p>Item 7 - Human Resources Quarterly Report</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 531KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.52 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/sshrp-20170621-item-08-reducing-workplace-violence.pdf">
    <div class="document-download-text">
        <p>Itrem 8 - Reducing Work-Related Violence </p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 215KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.21 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/sshrp-20170626-item09-responsible-procurement.pdf">
    <div class="document-download-text">
        <p>Item 9 - Responsible Procurement</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 233KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.23 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/sshrp-20170626-item10-low-emission-bus-cng.pdf">
    <div class="document-download-text">
        <p>Item 10 - Low Emission Bus Technology - Compressed Natural Gas </p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 253KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.25 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/sshrp-20170626-item11-member-suggestions.pdf">
    <div class="document-download-text">
        <p>Item 11 - Member Suggestions for Future Agenda Items </p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 88KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.09 -->
            
              </div>
            </div>
        </div>
 

   </div>
 <div class="expandable-box">

        <div class="content">
            <div class="always-visible">
                <a class="controls" href="javascript:void(0);">&nbsp;</a>
                <div class="accordion-heading">
                    28 September
                </div>
            </div>
            <div class="start-hidden">
                <div class="multi-document-download-container">
                

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/agenda.pdf">
    <div class="document-download-text">
        <p>Agenda</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 52KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.05 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/sshrp-20170928-item03-minutes.pdf">
    <div class="document-download-text">
        <p>Item 3 - Minutes of the Meeting held on 26 June 2017</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 40KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.04 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/sshrp-20170928-item04-actions-list.pdf">
    <div class="document-download-text">
        <p>Item 4 - Matters Arising and Actions List</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 44KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.04 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/sshrp-20170928-item05-tram-overturning-update.pdf">
    <div class="document-download-text">
        <p>Item 5 - Tram Overturning at Sandilands, Croydon in 9 November 2016</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 92KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.09 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/sshrp-20170928-item06-review-of-ciras-report.pdf">
    <div class="document-download-text">
        <p>Item 6 - Review of CIRAS Report and Themes</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 832KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.81 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/sshrp-20170928-item07-hse-reports.pdf">
    <div class="document-download-text">
        <p>Item 7 - Quarterly Health, Safety and Environment Performance Reports</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 1.63MB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 1.63 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/sshrp-20170928-item08-phv-safety-performance.pdf">
    <div class="document-download-text">
        <p>Item 8 - Private Hire Vehicle Safety Performance</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 203KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.20 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/sshrp-20170928-item09-bus-safety-programme.pdf">
    <div class="document-download-text">
        <p>Item 9 - Bus Safety Programme Update</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 144KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.14 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/sshrp-20170928-item10-bus-driver-welfare.pdf">
    <div class="document-download-text">
        <p>Item 10 - Bus Driver Welfare Facilities</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 279KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.27 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/sshrp-20170928-item11-hr-quarterly-report.pdf">
    <div class="document-download-text">
        <p>Item 11 - Human Resources Quarterly Report</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 697KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.68 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/sshrp-20170928-item12-direct-vision-standard.pdf">
    <div class="document-download-text">
        <p>Item 12 - Direct Vision Standard for Heavy Goods Vehicles</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 298KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.29 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/sshrp-20170928-item13-les-consultation-response.pdf">
    <div class="document-download-text">
        <p>Item 13 - London Environment Strategy</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 283KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.28 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/sshrp-20170928-item14-member-suggestions.pdf">
    <div class="document-download-text">
        <p>Item 14 - Member Suggestions for Future Agenda Items</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 244KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.24 -->
            
              </div>
            </div>
        </div>
 

   </div>
 <div class="expandable-box">

        <div class="content">
            <div class="always-visible">
                <a class="controls" href="javascript:void(0);">&nbsp;</a>
                <div class="accordion-heading">
                    22 November
                </div>
            </div>
            <div class="start-hidden">
                <div class="multi-document-download-container">
                

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/sshrp-20171122-agenda.pdf">
    <div class="document-download-text">
        <p>Agenda</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 44KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.04 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/sshrp-20171122-item03-minutes.pdf">
    <div class="document-download-text">
        <p>Item 3 - Minutes of the Meeting of the Safety, Sustainability and Human Resources Panel held on 28 September 2017</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 50KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.05 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/sshrp-20171122-item04-actions-list.pdf">
    <div class="document-download-text">
        <p>Item 4 - Matters Arising and Actions List</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 50KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.05 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/sshrp-20171122-item05-tram-overturning-at-sandilands-update.pdf">
    <div class="document-download-text">
        <p>Item 5 - Tram Overturning at Sandilands, Croydon on 9 November 2016 - Update</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 47KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.05 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/sshrp-20171122-item06-hr-quarterly-report.pdf">
    <div class="document-download-text">
        <p>Item 6 - Human Resources Quarterly Report</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 714KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.70 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/sshrp-20171122-item07-diversity-and-inclusion-strategy.pdf">
    <div class="document-download-text">
        <p>Item 7 - Diversity and Inclusion Strategy</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 181KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.18 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/sshrp-20171122-item08-transformation-programme.pdf">
    <div class="document-download-text">
        <p>Item 8 - Transformation Update</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 39KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.04 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/sshrp-20171122-item09-hse-reports.pdf">
    <div class="document-download-text">
        <p>Item 9 - Quarterly Health, Safety and Environment Performance Reports</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 1.74MB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 1.74 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/sshrp-20171122-item10-reducing-injuries-across-tfl.pdf">
    <div class="document-download-text">
        <p>Item 10 - Reducing Injuries Across TfL</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 2.06MB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 2.06 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/sshrp-20171122-item11-hse-annual-report.pdf">
    <div class="document-download-text">
        <p>Item 11 - Draft Health, Safety and Environment Annual Report</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 2.36MB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 2.36 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/sshrp-20171122-item12-vision-zero.pdf">
    <div class="document-download-text">
        <p>Item 12 - Vision Zero</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 2.36MB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 2.36 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/sshrp-20171122-item13-member-suggestions.pdf">
    <div class="document-download-text">
        <p>Item 13 - Member Suggestions for Future Agenda Discussions</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 62KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.06 -->
            
              </div>
            </div>
        </div>
 

   </div>
 
</div>
 <h2> 2016 meeting papers</h2>






    


<div class="accordion">
<div class="expandable-box">

        <div class="content">
            <div class="always-visible">
                <a class="controls" href="javascript:void(0);">&nbsp;</a>
                <div class="accordion-heading">
                    17 November
                </div>
            </div>
            <div class="start-hidden">
                <div class="multi-document-download-container">
                

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/sshr-20161117-agenda.pdf">
    <div class="document-download-text">
        <p>Agenda</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 61KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.06 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/sshr-20161117-item03-minutes.pdf">
    <div class="document-download-text">
        <p>Item 3 - Minutes of the Meeting of the Safety, Accessibility and Sustainability Panel held on 30 June 2016</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 31KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.03 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/sshr-20161117-item04-actions-list.pdf">
    <div class="document-download-text">
        <p>Item 4 - Matters Arising and Actions List</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 37KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.04 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/sshr-20161117-item05-croydon-tramlink-derailment.pdf">
    <div class="document-download-text">
        <p>Item 5 - Croydon Tramlink Derailment on 9 November 2016</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 582KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.57 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/sshr-20161117-item06-quarterly-reports.pdf">
    <div class="document-download-text">
        <p>Item 6 - Quarterly Health, Safety and Environment Performance Reports</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 1.30MB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 1.30 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/sshr-20161117-item07-hse-annual-report.pdf">
    <div class="document-download-text">
        <p>Item 7 - Health, Safety and Environment Annual Report 2015/16</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 1.88MB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 1.88 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/sshr-20161117-item08-health-and-safety-policy-review.pdf">
    <div class="document-download-text">
        <p>Item 8 - Health, Safety and Environment Policy Review</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 917KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.90 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/sshr-20161117-item09-hr-quarterly-report.pdf">
    <div class="document-download-text">
        <p>Item 9 - Human Resources Quarterly Report</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 2.05MB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 2.05 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/sshr-20161117-item10-bus-safety-programme.pdf">
    <div class="document-download-text">
        <p>Item 10 - Bus Safety Programme</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 69KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.07 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/sshr-20161117-item11-overview-of-tfl-road-safety.pdf">
    <div class="document-download-text">
        <p>Item 11 - Overview of TfL's Road Safety Programme</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 59KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.06 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/sshr-20161117-item12-update-on-ev-charging.pdf">
    <div class="document-download-text">
        <p>Item 12 - Update on the Development of Electric Vehicle Charging Network</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 65KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.06 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/sshr-20161117-item13-measuring-inclusion-in-health-and-safety.pdf">
    <div class="document-download-text">
        <p>Item 13 - Measuring Inclusion on Health and Safety in Crossrail</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 78KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.08 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/sshr-20161117-item14-air-quality.pdf">
    <div class="document-download-text">
        <p>Item 14 - Initiatives to Improve London's Air Quality</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 103KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.10 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/sshr-20161117-item15-health-action-plan-update.pdf">
    <div class="document-download-text">
        <p>Item 15 - TfL Health Action Plan Progress Report</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 4.65MB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 4.65 -->
            
              </div>
            </div>
        </div>
 

   </div>
 
</div>
 
      
        
          
        
      
    
  </div>
  <div class="aside" role="complementary">

   
    
    
    
      <div data-set="sidenav-container" class="large">
        
        
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
                <a href="/corporate/publications-and-reports/safety-sustainability-hr" class="heading">
                    <h2 id="sub-menu-heading">Safety, Sustainability & HR panel<span class="visually-hidden"> navigation</span></h2>
                </a>
                <ul>
                    
                                <li class="selected"><div class="link-wrapper"><a href="/corporate/publications-and-reports/ss-and-hr-past-years">Papers - past years</a></div>
                            </li>
 
                                <li><div class="link-wrapper"><a href="/corporate/publications-and-reports/past-years">Previous panels</a></div></li>
                            
 
                </ul>
            
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
      </div>
    
    <div>




















<div class="advert-tile unsponsored-style google-ads" aria-hidden="true">
  <div class="advert-link">
    <div class="advert-content">
        <div class="medium-large" data-advert="/76889402/non-targeted" data-advert-sizes="300, 250"></div>
        <div class="small" data-advert="/76889402/non-targeted" data-advert-sizes="300, 250"></div>
    </div>
  </div>
</div>
@{
    ViewBag.AmazonSlot = "'amznslots'";
    ViewBag.AmazonAds = "'3199'"; // to add another value, this needs to be ViewBag.AmazonAds = "'3199','xx'";
}
      

 </div>
    
    <div data-set="sidenav-container" class="small-medium"></div>
  </div>
</div>
 
 
        
        
        
            @{ViewBag.Description = "Meeting papers of the Safety, Sustainability & Human Resources panel from before the current year";}
        
            
        


 