
    
  



@{ViewBag.Title = "Streets performance";}
@{ViewBag.Keywords = "Boroughs,Drivers,Freight industry,S,Performance,Deliveries,Driving,TfL";}
@{ViewBag.Url = "/corporate/publications-and-reports/streets-performance";}
@{ViewBag.Language = "en";}
        <!-- empty placeholder -->
 
        
        
<div class="r">
    <div class="breadcrumb-container" role="navigation">
        <span id="breadcrumb-label" class="visually-hidden">You are here:</span>
        <ol class="breadcrumbs clearfix" aria-labelledby="breadcrumb-label">
            <li class="home">
                <a href="/">
                    <span class="hide-text">Home</span>
                </a>
            </li>
            
                 <li><a href="/corporate/publications-and-reports/index">Publications & reports</a></li>
                
            
            
                <li><span class="last-breadcrumb">Streets performance</span></li>
            
        
 
        
 
        </ol>
    </div>
</div>
     
 
<div class="r">
  <div class="headline-container plain">
    <h1>Streets performance</h1>

  </div>
</div>
<div class="main-and-aside r">
  
  <div class="main content-container" role="main">
    
      <div class="article-teaser">
        Motor vehicles account for more journeys in London on an average weekday than the Tube and buses combined.
        
      </div>
    
    <div class="on-this-page">
      
        <p>Of the 27 million passenger journeys undertaken by Londoners every day, more than 80% of them are made on the road network.</p>
        <p>We monitor the performance of the road network and produce a quarterly performance report.</p>
        <p>This includes measures for journey time, reliability, network disruption, traffic speeds and volumes, asset availability, road and path condition, and customer satisfaction.</p>
    
      
           
      
<div>



<h2>Performance reports</h2>



<div class="multi-document-download-container">
    

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/street-performance-report-quarter2-2017-2018.pdf">
    <div class="document-download-text">
        <p>TLRN performance report quarter 2 2017/18</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 975KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.95 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/tlrn-performance-report-q1-2017-18.pdf">
    <div class="document-download-text">
        <p>TLRN performance report quarter 1 2017/18</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 1.83MB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 1.83 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/tlrn-performance-report-q4-2016-17.pdf">
    <div class="document-download-text">
        <p>TLRN performance report: quarter 4 2016/17</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 994KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.97 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/street-performance-report-quarter3-2016-2017.pdf">
    <div class="document-download-text">
        <p>TLRN performance report: quarter 3 2016/17</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 1.30MB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 1.30 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/street-performance-report-quarter2-2016-2017.pdf">
    <div class="document-download-text">
        <p>TLRN performance report: quarter 2 2016/17</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 1.34MB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 1.34 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/street-performance-report-quarter1-2016-2017.pdf">
    <div class="document-download-text">
        <p>TLRN performance report: quarter 1 2016/17</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 1.16MB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 1.16 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/street-performance-report-quarter4-2015-2016.pdf">
    <div class="document-download-text">
        <p>TLRN performance report: quarter 4 2015/16</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 1.12MB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 1.12 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/street-performance-report-quarter3-2015-2016.pdf">
    <div class="document-download-text">
        <p>TLRN performance report: quarter 3 2015/16</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 1.62MB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 1.62 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/street-performance-report-quarter2-2015-2016.pdf">
    <div class="document-download-text">
        <p>TLRN performance report: quarter 2 2015/16</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 1.31MB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 1.31 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/total-vehicle-delay-for-london-2014-15.pdf">
    <div class="document-download-text">
        <p>Total vehicle delay for London 2014/15</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 1.19MB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 1.19 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/street-performance-report-quarter-1-2015-2016.pdf">
    <div class="document-download-text">
        <p>London Streets performance report: quarter 1 2015/16</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 2.13MB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 2.13 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/streets-quarterly-report-q4-2014-15-final-v3.pdf">
    <div class="document-download-text">
        <p>London Streets performance report: quarter 4 2014/15</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 2.08MB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 2.08 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/street-performance-report-quarter3-2014-2015.pdf">
    <div class="document-download-text">
        <p>London Streets performance report: quarter 3 2014/15</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 1.99MB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 1.99 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/street-performance-report-quarter2-2014-2015.pdf">
    <div class="document-download-text">
        <p>London Streets performance report: quarter 2 2014/15</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 1.44MB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 1.44 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/street-performance-report-quarter1-2014-2015.pdf">
    <div class="document-download-text">
        <p>London Streets performance report: quarter 1 2014/15</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 1.38MB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 1.38 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/street-performance-report-quarter4-2013-2014.pdf">
    <div class="document-download-text">
        <p>London Streets performance report: quarter 4 2013/14</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 1.71MB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 1.71 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/street-performance-report-quarter3-2013-2014.pdf">
    <div class="document-download-text">
        <p>London Streets performance report: quarter 3 2013/14</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 1.56MB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 1.56 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/street-performance-report-quarter2-2013-2014.pdf">
    <div class="document-download-text">
        <p>London Streets performance report: quarter 2 2013/14</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 1.46MB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 1.46 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/street-performance-report-quarter1-2013-2014.pdf">
    <div class="document-download-text">
        <p>London Streets performance report: quarter 1 2013/14</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 1.37MB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 1.37 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/street-performance-report-quarter4-2012-2013.pdf">
    <div class="document-download-text">
        <p>London Streets performance report: quarter 4 2012/13</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 1.38MB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 1.38 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/street-performance-report-quarter3-2012-2013.pdf">
    <div class="document-download-text">
        <p>London Streets performance report: quarter 3 2012/13</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 775KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.76 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/street-performance-report-quarter2-2012-2013.pdf">
    <div class="document-download-text">
        <p>London Streets performance report: quarter 2 2012/13</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 1.49MB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 1.49 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/london-streets-performance-report-q1-2012-13.pdf">
    <div class="document-download-text">
        <p>London Streets performance report: quarter 1 2012/13</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 994KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.97 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/london-streets-q4-report.pdf">
    <div class="document-download-text">
        <p>London Streets performance report: quarter 4 2011/12</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 1.55MB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 1.55 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/london-streets-q3-p-report-2011-12.pdf">
    <div class="document-download-text">
        <p>London Streets performance report: quarter 3 2011/12</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 1.18MB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 1.18 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/streets-quarter-two-2012.pdf">
    <div class="document-download-text">
        <p>London Streets performance report: quarter 2 2011/12</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 1.11MB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 1.11 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/streets-quarter-one-2012.pdf">
    <div class="document-download-text">
        <p>London Streets performance report: quarter 1 2011/12</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 1.11MB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 1.11 -->
 
</div>

</div>
 
<div>



<h2>Customer satisfaction survey</h2>



        <p>Our 2012 annual customer satisfaction survey shows that customers are now more satisfied with the performance and management of the TfL Road Network (TRLN).</p>
        <p>Overall satisfaction is up by one point in the last year, to a score of 76 out of 100.</p>
    
<div class="multi-document-download-container">
    

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/tlrn-css-2012.pdf">
    <div class="document-download-text">
        <p>Customer satisfaction survey 2012</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 1.09MB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 1.09 -->
 
</div>

    
</div>
 
      
        
          
            @this.ScriptBlock(
              @<script>
                queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
              </script>
            )
          
        
      
    </div>
  </div>
  <div class="aside" role="complementary">

   
    
    
    
      <div data-set="sidenav-container" class="large">
        
        
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
      </div>
    
    <div>
















<div class="advert-tile unsponsored-style google-ads" aria-hidden="true">
  <div class="advert-link">
    <div class="advert-content">
        <div class="medium-large" data-advert="/76889402/non-targeted" data-advert-sizes="300, 250"></div>
        <div class="small" data-advert="/76889402/non-targeted" data-advert-sizes="300, 250"></div>
    </div>
  </div>
</div>
@{
    ViewBag.AmazonSlot = "'amznslots'";
    ViewBag.AmazonAds = "'3199'"; // to add another value, this needs to be ViewBag.AmazonAds = "'3199','xx'";
}
      

 </div>
    
    <div data-set="sidenav-container" class="small-medium"></div>
  </div>
</div>
 
 
        
        
        
            @{ViewBag.Description = "For London Streets performance data including information on journey time, reliability, network disruption, traffic speeds and volumes, and customer satisfaction";}
        
            
        


 