
    
  



@{ViewBag.Title = "Streets toolkit";}
@{ViewBag.Keywords = ",Boroughs,Businesses,Designers,Engineers,Freight industry,Planning and construction,S,Accessible travel,Corporate information,Cycle Superhighways,Environment,Roads,Safety and security,Streetscape,Buses,Coaches,Cycling,Driving,Taxis and minicabs,Walking,TfL";}
@{ViewBag.Url = "/corporate/publications-and-reports/streets-toolkit";}
@{ViewBag.Language = "en";}
        <!-- empty placeholder -->
 
        
        
<div class="r">
    <div class="breadcrumb-container" role="navigation">
        <span id="breadcrumb-label" class="visually-hidden">You are here:</span>
        <ol class="breadcrumbs clearfix" aria-labelledby="breadcrumb-label">
            <li class="home">
                <a href="/">
                    <span class="hide-text">Home</span>
                </a>
            </li>
            
                 <li><a href="/corporate/publications-and-reports/index">Publications & reports</a></li>
                
            
            
                <li><span class="last-breadcrumb">Streets toolkit</span></li>
            
        
 
        
 
        </ol>
    </div>
</div>
     
 
<div class="r">
  <div class="headline-container plain">
    <h1>Streets toolkit</h1>

  </div>
</div>
<div class="main-and-aside r">
  
  <div class="main content-container" role="main">
    
      <div class="article-teaser">
        Design guidance documents to help planners, engineers, designers and other practitioners create high quality streets and public spaces. Includes guidance on streetscape, cycle infrastructure and accessible bus stops.
        
      </div>
    
    <div class="on-this-page">
      <p>Streets account for 80% of London's public spaces. They play a fundamental role in moving people around safely, and well designed streets can help enhance quality of life.</p>
<p>We are committed to being more ambitious for streets with a collaborative, design-led approach. The design guidance documents in our toolkit will help planners, designers, highway engineers, contractors and others to meet the standards we've set and to design high quality streets and public spaces.</p>
<p>The toolkit contains:</p>
<ul>
    <li>Streetscape Guidance</li>
    <li>Sustainable Drainage Systems (SuDS)</li>
    <li>London Cycling Design Standards</li>
    <li>Accessible Bus Stop Design Guidance</li>
    <li>Kerbside Loading Guidance</li>
</ul>
      
           
      <div class="clearfix">
    <div class="image-box right-float">
    
        
        
        <img src="/cdn/static/cms/images/streetscape_rdax_400x250.gif" alt="Streetscape Guidance cover" />
        
        
        
    </div>
    <h2>Streetscape Guidance</h2>
<p>Streetscape Guidance provides a standard for London's streets and spaces for those who will be working on or affecting London's streets. Whether a one-off major project or a smaller local adjustment, it defines our aspirations and outlines the criteria for good design, material selection, installation and maintenance.</p>
 </div>
 
<div>




<p>&nbsp;Please note that this is a large PDF file and may take a short while to load.</p>
<div class="multi-document-download-container">
    

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/streetscape-guidance-.pdf">
    <div class="document-download-text">
        <p>Streetscape guidance </p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 27.95MB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 27.95 -->
 
</div>

</div>
 <div class="clearfix">
    <div class="image-box right-float">
    
        
        
        <img src="/cdn/static/cms/images/suds-report-cover_rdax_400x250.jpg" alt="Cover of SuDS report" />
        
        
        
    </div>
    <h2>Sustainable Drainage Systems (SuDS)</h2>
<p>This guidance shows how Sustainable Drainage Systems (SuDS) can be incorporated into London's streets and wider public areas to help manage surface water run off, reduce flood risk and provide other environmental benefits. Revised and updated in November 2016, the guidance highlights potential opportunities and constraints, aimed at encouraging the relevant authorities across London, including the boroughs, to consider their streetscape and the possibilities of successfully integrating SuDS.&nbsp;</p>
 </div>
 
<div>





<div class="multi-document-download-container">
    

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/sustainable-urban-drainage-november-2016.pdf">
    <div class="document-download-text">
        <p>SUDs in London - a guide</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 18.43MB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 18.43 -->
 
</div>

</div>
 <div class="clearfix">
    <div class="image-box right-float">
    
        
        
        <img src="/cdn/static/cms/images/lcdslarger_rdax_400x250.gif" alt="LCDS front cover" />
        
        
        
    </div>
    <h2>London Cycling Design Standards (LCDS)</h2>

<p>Comprehensively revised and updated in 2014, LCDS sets out requirements and advice for cycle network planning and for the design of dedicated cycle infrastructure, cycle-friendly streets and cycle parking. This guidance applies to all streets in London and must be adhered to for relevant funding programmes. In October 2016, minor updates were made to the document, for consistency with the revised Traffic Signs Regulations and General Directions (2016).</p>

<p>The New Cycle Route Quality Criteria published in May 2019 describes the quality we expect for proposed cycle routes in London, based on London Cycling Design Standards best practice guidance. A spreadsheet tool and technical note are on the <a href="/corporate/publications-and-reports/cycling">Cycling page in Publications and documents</a>.</p>

<p>Guidance on design of temporary traffic management to support cycling may be found in the <a href="/info-for/suppliers-and-contractors/traffic-management">TfL temporary traffic management handbook</a> (2018).</p>

<p>Guidance on signing cycle routes as part of the Cycleways network, including design standards for vertical signs and surface markings, can be found in the <a href="/cdn/static/cms/documents/cycleways-signing-guidance.pdf">Cycleways Signing Guidance (2019)</a>.</p>
 </div>
 
<div>





<div class="multi-document-download-container">
    

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/lcds-chapter1-designrequirements.pdf">
    <div class="document-download-text">
        <p>Chapter 1: Design requirements</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 1.74MB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 1.74 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/lcds-chapter2-toolsandtechniques.pdf">
    <div class="document-download-text">
        <p>Chapter 2: Tools and techniques</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 1.57MB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 1.57 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/lcds-chapter3-streetsandspaces.pdf">
    <div class="document-download-text">
        <p>Chapter 3: Cycle-friendly streets and spaces</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 4.80MB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 4.80 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/lcds-chapter4-cyclelanesandtracks.pdf">
    <div class="document-download-text">
        <p>Chapter 4: Cycle lanes and tracks</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 9.42MB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 9.42 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/lcds-chapter5-junctionsandcrossings.pdf">
    <div class="document-download-text">
        <p>Chapter  5: Junctions and crossings</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 5.60MB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 5.60 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/lcds-chapter6-signsandmarkings.pdf">
    <div class="document-download-text">
        <p>Chapter 6: Signs and markings </p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 2.05MB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 2.05 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/lcds-chapter7-construction.pdf">
    <div class="document-download-text">
        <p>Chapter 7: Construction, including surfacing </p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 1.33MB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 1.33 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/lcds-chapter8-cycleparking.pdf">
    <div class="document-download-text">
        <p>Chapter 8: Cycle parking </p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 1.60MB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 1.60 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/lcds-index-glossary.pdf">
    <div class="document-download-text">
        <p>Index and glossary</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 267KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.26 -->
 
</div>
<h3>Contact the Cycling team about LCDS</h3>
<p>For comments and further information on LCDS contact <a href="mailto:lcds&#64;tfl.gov.uk">lcds&#64;tfl.gov.uk</a>.</p>
</div>
 
<div>



<h2>Urban motorcycle design handbook</h2>


<p style="margin: 0cm 0cm 0pt;"><span style="font-size: 12pt;">This Urban Motorcycle Design Handbook explains how road and traffic conditions affect motorcyclists. It also details how how risks can be reduced and hazards can be minimised for this vulnerable group of road users.</span></p>
<div class="multi-document-download-container">
    

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/tfl-urban-motorcycle-design-handbook.pdf">
    <div class="document-download-text">
        <p>Urban motorcycle design handbook</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 2.44MB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 2.44 -->
 
</div>

</div>
 
<div>




<h2>Accessible Bus Stop Design Guidance</h2>
<p>This guidance describes the importance of both roads and street design so that bus services are accessible for all bus users.  This updated guidance also reflects the importance of Healthy Streets and considerations of the needs of cyclists. Updated in March 2017.</p>
<div class="multi-document-download-container">
    

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/bus-stop-design-guidance.pdf">
    <div class="document-download-text">
        <p>Accessible Bus Stop Design Guidance</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 5.55MB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 5.55 -->
 
</div>
<h3>Contact the Public Transport team about Accessible Bus Stop design guidance</h3>
<p>For comments and further information on accessible bus stop design guidance contact <a href="mailto:absdg&#64;tfl.gov.uk">absdg&#64;tfl.gov.uk</a>.<br /></p>
</div>
 
<div>



<h2>Kerbside Loading Guidance</h2>


If you are involved in designing loading facilities on the street, we have issued the following guidance.
<div class="multi-document-download-container">
    

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/kerbside-loading-guidance.pdf">
    <div class="document-download-text">
        <p>Kerbside Loading Guidance (2017)</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 2.77MB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 2.77 -->
 
</div>

</div>
 
      
        
          
            @this.ScriptBlock(
              @<script>
                queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
              </script>
            )
          
        
      
    </div>
  </div>
  <div class="aside" role="complementary">

   
    
    
    
      <div data-set="sidenav-container" class="large">
        
        
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
      </div>
    
    <div>
















<div class="advert-tile unsponsored-style google-ads" aria-hidden="true">
  <div class="advert-link">
    <div class="advert-content">
        <div class="medium-large" data-advert="/76889402/non-targeted" data-advert-sizes="300, 250"></div>
        <div class="small" data-advert="/76889402/non-targeted" data-advert-sizes="300, 250"></div>
    </div>
  </div>
</div>
@{
    ViewBag.AmazonSlot = "'amznslots'";
    ViewBag.AmazonAds = "'3199'"; // to add another value, this needs to be ViewBag.AmazonAds = "'3199','xx'";
}
      

 </div>
    
      <div class="module-grid clearfix">
                    
        <div class="related-links">

    <h3>Also on this site</h3>

<div class="vertical-button-container">

<a href="/info-for/urban-planning-and-construction/planning-applications/design-and-heritage" class="plain-button">Design and heritage</a>
<a href="/corporate/publications-and-reports/streets" class="plain-button">Street works projects</a>
<a href="/info-for/boroughs/local-implementation-plans" class="plain-button">Local implementation plans guidance</a>
<a href="/info-for/urban-planning-and-construction/our-land-and-infrastructure/roadworks-and-street-faults" class="plain-button">Roadworks and street faults</a>
<a href="/info-for/urban-planning-and-construction/planning-applications/interchange" class="plain-button">Interchange hubs</a>
<a href="/info-for/urban-planning-and-construction/our-role-in-planning" class="plain-button">Planning applications</a>
<a href="/modes/cycling/index" class="plain-button">Cycling</a>
<a href="/info-for/suppliers-and-contractors/traffic-management" class="plain-button">Temporary traffic management handbook</a>
    </div>
</div>
 
      </div>
    
    <div data-set="sidenav-container" class="small-medium"></div>
  </div>
</div>
 
 
        
        
        
            @{ViewBag.Description = "Design guidance for streets and public spaces. Includes Streetscape Guidance, Accessible Bus Stop Design, London Cycling Design Standards and Kerbside Loading Guidance.";}
        
            
        


 