
    
  



@{ViewBag.Title = "Streets";}
@{ViewBag.Keywords = "Boroughs,Freight industry,Taxi and private hire,Taxi passengers,S,Special reports,Buses,Coaches,Cycling,Deliveries,Driving,Motorcycle,Taxis and minicabs,Walking,TfL";}
@{ViewBag.Url = "/corporate/publications-and-reports/streets";}
@{ViewBag.Language = "en";}
        <!-- empty placeholder -->
 
        
        
<div class="r">
    <div class="breadcrumb-container" role="navigation">
        <span id="breadcrumb-label" class="visually-hidden">You are here:</span>
        <ol class="breadcrumbs clearfix" aria-labelledby="breadcrumb-label">
            <li class="home">
                <a href="/">
                    <span class="hide-text">Home</span>
                </a>
            </li>
            
                 <li><a href="/corporate/publications-and-reports/index">Publications & reports</a></li>
                
            
            
                <li><span class="last-breadcrumb">Streets</span></li>
            
        
 
        
 
        </ol>
    </div>
</div>
     
 
<div class="r">
  <div class="headline-container plain">
    <h1>Streets</h1>

  </div>
</div>
<div class="main-and-aside r">
  
  <div class="main content-container" role="main">
    
      <div class="article-teaser">
        Managing London's streets is one of our main responsibilities. These documents give the background to some key street works projects.
        
      </div>
    
    
      
    
      
           
      <div class="accordion">




<div class="expandable-box">




        <div class="content">
            <div class="always-visible" role="button" aria-controls="streetworks-enforcement-policy-content" aria-expanded="false" tabindex="0">
                <div class="controls" data-tracking="prop36" data-tracking-value="Streets-Streetworks enforcement policy"><span class="visually-hidden">Toggle accordion</span></div>
                <div id="streetworks-enforcement-policy-heading" class="accordion-heading">Streetworks enforcement policy</div>
            </div>
            <div id="streetworks-enforcement-policy-content" class="start-hidden" role="region" aria-labelledby="streetworks-enforcement-policy-heading">

        <p>We are responsible for prosecuting people for offences committed under the New Roads and Street Works Act. We also operate a fixed penalty notice scheme. This document explains our policy.&nbsp;</p>
    

<div>





<div class="multi-document-download-container">
    

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/streetworks-enforcement-policy.pdf">
    <div class="document-download-text">
        <p>Streetworks enforcement policy</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 315KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.31 -->
 
</div>

</div>
 
            </div>
        </div>
    </div>
 <div class="expandable-box">




        <div class="content">
            <div class="always-visible" role="button" aria-controls="key-works-projects-content" aria-expanded="false" tabindex="0">
                <div class="controls" data-tracking="prop36" data-tracking-value="Streets-Key works projects"><span class="visually-hidden">Toggle accordion</span></div>
                <div id="key-works-projects-heading" class="accordion-heading">Key works projects</div>
            </div>
            <div id="key-works-projects-content" class="start-hidden" role="region" aria-labelledby="key-works-projects-heading">

<div>

<p>March 2012<br />
<a href="/cdn/static/cms/documents/traffic-note-3-cordon-and-screenline-surveys-2011.pdf">RNPR Traffic Note 3 TfL cordon and screenline surveys 1971-2011 (PDF 3.7MB)</a></p>

<p>January 2012<br />
<a href="/cdn/static/cms/documents/design-standards-signal-schemes.pdf">Design standards for signal schemes in London (PDF 1.5MB)</a></p>

<p>September 2011<br />
<a href="/cdn/static/cms/documents/road-repairs-due-to-severe-winter-weather.pdf">Statement on the use of extra government funding to repair roads damaged by severe winter weather (PDF 475KB)</a><br />
<a href="/cdn/static/cms/documents/letter-from-phillip-hammond.pdf">Letter from Phillip Hammond (PDF 96KB)</a></p>

<p>June 2010<br />
<a href="/cdn/static/cms/documents/Traffic-signals-not-in-line-with-TfL-Signal-Design-standards.pdf">Traffic signals not in line with TfL's Signal Design standards (PDF 39KB)</a></p>

<p>Oct 2009<br />
<a href="/cdn/static/cms/documents/Streets-TLRN-CSS-2009-Final-Report.pdf">TLRN customer satisfaction survey (PDF 325KB)</a></p>

<p>September 2009<br />
<a href="/cdn/static/cms/documents/RNPR-traffic-note-9-cycling.pdf">RNPR Traffic Note 9 Trends in cycling levels in London (PDF 5.72MB)</a></p>

<p>August 2009<br />
<a href="/cdn/static/cms/documents/RNP-Traffic-Note-11-Cycling.pdf">RNPR Traffic Note 11 Cycle journey time reliability (PDF 5.31MB)</a></p>

<p>December 2008<br />
<a href="/cdn/static/cms/documents/stoke-newington-130209.pdf">A10 Stoke Newington Gyratory - implications of removing one-way system (PDF 1.83MB)</a></p>

<p>March 2012<br />
<a href="/cdn/static/cms/documents/traffic-note-1-traffic-levels-in-greater-london-2010.pdf">Traffic Note 1 Traffic levels in Greater London 1993-2010 (PDF 5.6MB)</a></p>

<p>May 2008<br />
<a href="/cdn/static/cms/documents/traffic-note-7-cycling-weather-note.pdf">RNPR Traffic Note 7 Weather conditions and the level of cycling on the TLRN (PDF 474KB)</a></p>

<p>December 2007<br />
<a href="/cdn/static/cms/documents/traffic-note-5-major-and-minor-on-cordons.pdf">RNPR Traffic Note 5 Major and Minor traffic flows measured through TfL cordoned surveys (PDF 1.01MB)</a></p>

<p>September 2007<br />
<a href="/cdn/static/cms/documents/HAMP-2Oct.pdf">Highway Asset Management Plan (HAMP) (PDF 2.79MB)</a></p>

<p>June 2007<br />
<a href="/cdn/static/cms/documents/traffic-note-8-cycling-red-lights.pdf">RNPR Traffic Note 8 Proportion of cyclists violating red lights (PDF 1.44MB)</a></p>

<p>April 2006<br />
<a href="/cdn/static/cms/documents/Technical-Note-3-Total-vehicle-delay-in-London.pdf">Technical Note 3 Total vehicle delay in London (PDF 1.39MB)</a></p>
</div>
 
            </div>
        </div>
    </div>
 <div class="expandable-box">




        <div class="content">
            <div class="always-visible" role="button" aria-controls="winter-service-content" aria-expanded="false" tabindex="0">
                <div class="controls" data-tracking="prop36" data-tracking-value="Streets-Winter service"><span class="visually-hidden">Toggle accordion</span></div>
                <div id="winter-service-heading" class="accordion-heading">Winter service</div>
            </div>
            <div id="winter-service-content" class="start-hidden" role="region" aria-labelledby="winter-service-heading">
<p>The documents below give advice and information to London Highway authorities and other stakeholders on the provision of winter services on London's streets and roads.</p>

<p>These documents have been considered by the London Winter Services Review Steering Group and the principles apply to all of London's streets.</p>

<p><a href="/cdn/static/cms/documents/londons-winter-resilience-capability.pdf">London's winter resilience capability&nbsp; (PDF 149KB)</a><br />
<a href="/cdn/static/cms/documents/keep-london-moving.pdf">Keep London Moving: through severe winter weather (PDF 1.34MB) </a><br />
<a href="/cdn/static/cms/documents/resilience-network-definitions.pdf">Pan-London resilience network: definitions (PDF 157KB) </a><br />
<a href="/cdn/static/cms/documents/pan-london-resilience-network.pdf">Pan-London resilience network: map (PDF 542KB) </a><br />
<a href="/cdn/static/cms/documents/weather-information-services.pdf">London weather information services: report (PDF 587KB) </a><br />
<a href="/cdn/static/cms/documents/footway-treatment-guidance.pdf">Footway treatment: guidance (PDF 745KB) </a><br />
<a href="/cdn/static/cms/documents/clearing-snow-and-ice-from-public-spaces.pdf">Clearing snow and ice from pavements and public spaces (PDF 64KB)&nbsp;</a><br />
<a href="/cdn/static/cms/documents/well-managed-highway-infrastructure.pdf">Well Managed Highway Infrastructure section B7 winter service (PDF 2.18MB)</a></p>

<h3>London Authority resilience network maps</h3>

<p>These maps show the roads which will be kept open in severe winter weather to keep London moving.</p>

<p><a href="/cdn/static/cms/documents/barking-and-dagenham-resilience-network.pdf">Barking and Dagenham (PDF 1.7MB) </a><br />
<a href="/cdn/static/cms/documents/barnet-resilience-network.pdf">Barnet (PDF 1.9MB) </a><br />
<a href="/cdn/static/cms/documents/bexley-resilience-network.pdf">Bexley (PDF 1.6MB)</a><br />
<a href="/cdn/static/cms/documents/brent-resilience-network.pdf">Brent (PDF 1.8MB) </a><br />
<a href="/cdn/static/cms/documents/bromley-treatment-routes.pdf">Bromley (PDF 0.2MB)</a><br />
<a href="/cdn/static/cms/documents/camden-resilience-network.pdf">Camden (PDF 2.4MB) </a><br />
<a href="/cdn/static/cms/documents/city-of-london-resilience-network.pdf">City of London (PDF 1.5MB) </a><br />
<a href="/cdn/static/cms/documents/ealing-resilience-network.pdf">Ealing (PDF 2.3MB) </a><br />
<a href="/cdn/static/cms/documents/enfield-resilience-network.pdf">Enfield (PDF 609KB) </a><br />
<a href="/cdn/static/cms/documents/greenwich-resilience-network.pdf">Greenwich (PDF 1.9MB) </a><br />
<a href="/cdn/static/cms/documents/hackney-resilience-network.pdf">Hackney (PDF 2.1MB) </a><br />
<a href="/cdn/static/cms/documents/hammersmith-fulham-resilience-network.pdf">Hammersmith and Fulham (PDF 2.9MB) </a><br />
<a href="/cdn/static/cms/documents/haringey-resilience-network.pdf">Haringey (PDF 1.9MB) </a><br />
<a href="/cdn/static/cms/documents/harrow-resilience-network.pdf">Harrow (PDF 1.9MB) </a><br />
<a href="/cdn/static/cms/documents/havering-resilience-network.pdf">Havering (PDF 1.6MB) </a><br />
<a href="/cdn/static/cms/documents/hillingdon-resilience-network.pdf">Hillingdon (PDF 516KB) </a><br />
<a href="/cdn/static/cms/documents/hounslow-resilience-network.pdf">Hounslow (PDF 1.8MB) </a><br />
<a href="/cdn/static/cms/documents/islington-resilience-network.pdf">Islington (PDF 1.7MB) </a><br />
<a href="/cdn/static/cms/documents/kensington-chelsea-resilience-network.pdf">Kensington and Chelsea (PDF 2.7MB) </a><br />
<a href="/cdn/static/cms/documents/kingston-upon-thames-resilience-network.pdf">Kingston upon Thames (PDF 1.7MB) </a><br />
<a href="/cdn/static/cms/documents/lambeth-resilience-network.pdf">Lambeth (PDF 2.5MB) </a><br />
<a href="/cdn/static/cms/documents/lewisham-resilience-network.pdf">Lewisham (PDF 1.8MB) </a><br />
<a href="/cdn/static/cms/documents/merton-resilience-network.pdf">Merton (PDF 1.6MB) </a><br />
<a href="/cdn/static/cms/documents/newham-resilience-network.pdf">Newham (PDF 1.8MB) </a><br />
<a href="/cdn/static/cms/documents/redbridge-resilience-network.pdf">Redbridge (PDF 1.7MB) </a><br />
<a href="/cdn/static/cms/documents/richmond-upon-Thames-resilience-network.pdf">Richmond upon Thames (PDF 1.9MB) </a><br />
<a href="/cdn/static/cms/documents/southwark-resilience-network.pdf">Southwark (PDF 2MB) </a><br />
<a href="/cdn/static/cms/documents/sutton-resilience-network.pdf">Sutton (PDF 2MB) </a><br />
<a href="/cdn/static/cms/documents/tower-hamlets-resilience-network.pdf">Tower Hamlets (PDF 1.8MB)</a><br />
<a href="/cdn/static/cms/documents/waltham-forest-resilience-network.pdf">Waltham Forest (PDF 697KB) </a><br />
<a href="/cdn/static/cms/documents/wandsworth-resilience-network.pdf">Wandsworth (PDF 1.8MB) </a><br />
<a href="/cdn/static/cms/documents/westminster-resilience-network.pdf">Westminster (PDF 2.4MB)</a></p>

            </div>
        </div>
    </div>
 <div class="expandable-box">




        <div class="content">
            <div class="always-visible" role="button" aria-controls="traffic-modelling-guidance-content" aria-expanded="false" tabindex="0">
                <div class="controls" data-tracking="prop36" data-tracking-value="Streets-Traffic modelling guidance"><span class="visually-hidden">Toggle accordion</span></div>
                <div id="traffic-modelling-guidance-heading" class="accordion-heading">Traffic modelling guidance</div>
            </div>
            <div id="traffic-modelling-guidance-content" class="start-hidden" role="region" aria-labelledby="traffic-modelling-guidance-heading">

        <p>Traffic modelling plays a vital role in smoothing traffic flow in London. Well designed and accurate models can help predict the effect of planned changes to the road network.</p>
        <p>Our Traffic modelling guidelines and Model Auditing Process documents ensure consistency across the industry and enable best practice to be shared.</p>
    

<div>





        <h3>Traffic modelling guidelines</h3>
        <p>The guidelines are produced by our Traffic Directorate. All advice provided is non-binding but is directly related to the way we operate the Capital's traffic management systems.</p>
    
<div class="multi-document-download-container">
    

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/traffic-modelling-guidelines.pdf">
    <div class="document-download-text">
        <p>Traffic modelling guidelines</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 5.30MB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 5.30 -->
 
</div>

</div>
 
<div>





        <h3>Model Auditing Process (MAP)</h3>
        <p>MAP sets technical benchmarks for traffic modelling developed with or for us. It is used to improve the consistency of any modelling components forming part of a traffic scheme.</p>
    
<div class="multi-document-download-container">
    

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/map-v3-5-overview.pdf">
    <div class="document-download-text">
        <p>MAP v3.5 overview</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 2.06MB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 2.06 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/map-v3-5-engineer-guide.pdf">
    <div class="document-download-text">
        <p>MAP v3.5 engineer guide</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 2.09MB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 2.09 -->
 
</div>

        <p>MAP should be used together with the modelling guidelines to inform scheme promoters, project managers and traffic model developers.</p>
        <p>Contact us with any questions at <a href="mailto:tflmodellingguidelines&#64;tfl.gov.uk">tflmodellingguidelines&#64;tfl.gov.uk</a>.</p>
    
</div>
 
            </div>
        </div>
    </div>
 <div class="expandable-box">




        <div class="content">
            <div class="always-visible" role="button" aria-controls="pedestrian-countdown-guidance-content" aria-expanded="false" tabindex="0">
                <div class="controls" data-tracking="prop36" data-tracking-value="Streets-Pedestrian Countdown guidance"><span class="visually-hidden">Toggle accordion</span></div>
                <div id="pedestrian-countdown-guidance-heading" class="accordion-heading">Pedestrian Countdown guidance</div>
            </div>
            <div id="pedestrian-countdown-guidance-content" class="start-hidden" role="region" aria-labelledby="pedestrian-countdown-guidance-heading">
<a name="countdown"></a>
<p>Pedestrian Countdown at traffic signals tells you how long you have to cross the
road after the green man light has gone out.</p>
<p>In order to share knowledge built up during the extensive work to trial and prove the system, we produced a Technical Information Pack.</p>
<p>This pack is intended as a resource for other local authorities in England who are considering implementing Pedestrian Countdown.</p>
<p><a href="/cdn/static/cms/documents/PCaTS-Note-1-Background-Information.pdf">Background information (PDF 1.53MB)</a><br />
<a href="/cdn/static/cms/documents/PCaTS-Note-2-Overview-Presentation.pdf">Overview presentation (PDF 1.29MB)</a> <br />
<a href="/cdn/static/cms/documents/PCaTS-Note-3-PCaTS-Trial-Results-Report.pdf">Trial results report (PDF 963KB)</a> <br />
<a href="/cdn/static/cms/documents/PCaTS-Note-4-Technical-Specification-v03h.pdf">Technical specification (PDF 917KB)</a> <br />
<a href="/cdn/static/cms/documents/PCaTS-Note-5-Technical-Specification-Explained.pdf">Technical specification explained (PDF 262KB)</a> <br />
<a href="/cdn/static/cms/documents/PCaTS-Note-6-DfT-Approval-Diagram.pdf">Department for Transport approval diagram (PDF 139KB)</a> <br />
<a href="/cdn/static/cms/documents/PCaTS-Note-7-Design-Guidance-V01.-docx.pdf">Design guidance (PDF 345KB)</a><br />
<a href="/cdn/static/cms/documents/PCATS-Note-8-Electrical-Design-Guidance-v5.pdf">Electrical design guidance (PDF 624KB)</a> <br />
<a href="/cdn/static/cms/documents/PCaTS-Note-9-The-Installation-Manual-.pdf">Installation manual (PDF 496KB)</a></p>

            </div>
        </div>
    </div>
 
</div>
 
      
        
          
        
      
    
  </div>
  <div class="aside" role="complementary">

   
    
    
    
    <div>
















<div class="advert-tile unsponsored-style google-ads" aria-hidden="true">
  <div class="advert-link">
    <div class="advert-content">
        <div class="medium-large" data-advert="/76889402/non-targeted" data-advert-sizes="300, 250"></div>
        <div class="small" data-advert="/76889402/non-targeted" data-advert-sizes="300, 250"></div>
    </div>
  </div>
</div>
@{
    ViewBag.AmazonSlot = "'amznslots'";
    ViewBag.AmazonAds = "'3199'"; // to add another value, this needs to be ViewBag.AmazonAds = "'3199','xx'";
}
      

 </div>
    
      <div class="module-grid clearfix">
                    
        <div class="related-links">

    <h3>Also on this site</h3>

<div class="vertical-button-container">

<a href="/corporate/publications-and-reports/cycling" class="plain-button">London Cycling Design Standards</a>
<a href="/corporate/publications-and-reports/streets-toolkit" class="plain-button">Streets toolkit (incl. Streetscape Guidance)</a>
    </div>
</div>
 
      </div>
    
    <div data-set="sidenav-container" class="small-medium"></div>
  </div>
</div>
 
 
        
        
        
            @{ViewBag.Description = "Details on key street works projects - covers issues such as traffic signals and one-way systems";}
        
            
        


 