
    
  



@{ViewBag.Title = "Sub-regional transport plans";}
@{ViewBag.Keywords = "Boroughs,S,Regular reports,TfL";}
@{ViewBag.Url = "/corporate/publications-and-reports/sub-regional-transport-plans";}
@{ViewBag.Language = "en";}
        <!-- empty placeholder -->
 
        
        
<div class="r">
    <div class="breadcrumb-container" role="navigation">
        <span id="breadcrumb-label" class="visually-hidden">You are here:</span>
        <ol class="breadcrumbs clearfix" aria-labelledby="breadcrumb-label">
            <li class="home">
                <a href="/">
                    <span class="hide-text">Home</span>
                </a>
            </li>
            
                 <li><a href="/corporate/publications-and-reports/index">Publications & reports</a></li>
                
            
            
                <li><span class="last-breadcrumb">Sub-regional transport plans</span></li>
            
        
 
        
 
        </ol>
    </div>
</div>
     
 
<div class="r">
  <div class="headline-container plain">
    <h1>Sub-regional transport plans</h1>

  </div>
</div>
<div class="main-and-aside r">
  
  <div class="main content-container" role="main">
    
      <div class="article-teaser">
        We publish sub-regional transport plans outlining transport schemes that have been implemented and the additional investment needed for further schemes. We have done this since 2010.<BR>
        
      </div>
    
    <div class="on-this-page">
      <p>For 2016 we published an analysis that considers how the network will meet the challenges of the sharp growth of London's population and economy in recent years.&nbsp;</p>
<p>These documents and posters will help boroughs develop <a href="/corporate/publications-and-reports/local-implementation-plans">Local Implementation Plan</a> programmes.
</p>
      
           
      <div class="accordion">




<div class="expandable-box">




        <div class="content">
            <div class="always-visible" role="button" aria-controls="central-content" aria-expanded="false" tabindex="0">
                <div class="controls" data-tracking="prop36" data-tracking-value="Sub-regional transport plans-Central"><span class="visually-hidden">Toggle accordion</span></div>
                <div id="central-heading" class="accordion-heading">Central</div>
            </div>
            <div id="central-content" class="start-hidden" role="region" aria-labelledby="central-heading">


<div>





<div class="multi-document-download-container">
    

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/central-srtp-plan-2016.pdf">
    <div class="document-download-text">
        <p>2016 Sub-regional transport plan</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 19.67MB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 19.67 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/central-srtp-plan-update-2014.pdf">
    <div class="document-download-text">
        <p>2014 Sub-regional transport plan</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 4.52MB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 4.52 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/central-srtp-poster-2014-update.pdf">
    <div class="document-download-text">
        <p>2014 Sub-regional transport plan poster</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 2.10MB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 2.10 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/central-srtp-update-2013.pdf">
    <div class="document-download-text">
        <p>2013 Sub-regional transport plan</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 10.52MB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 10.52 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/central-srtp-poster-2013.pdf">
    <div class="document-download-text">
        <p>2013 Sub-regional transport plan poster</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 3.78MB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 3.78 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/central-srtp-update.pdf">
    <div class="document-download-text">
        <p>2012 Sub-regional transport plan</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 3.48MB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 3.48 -->
 
</div>

</div>
 
            </div>
        </div>
    </div>
 <div class="expandable-box">




        <div class="content">
            <div class="always-visible" role="button" aria-controls="east-and-southeast-content" aria-expanded="false" tabindex="0">
                <div class="controls" data-tracking="prop36" data-tracking-value="Sub-regional transport plans-East & southeast"><span class="visually-hidden">Toggle accordion</span></div>
                <div id="east-and-southeast-heading" class="accordion-heading">East & southeast</div>
            </div>
            <div id="east-and-southeast-content" class="start-hidden" role="region" aria-labelledby="east-and-southeast-heading">


<div>





<div class="multi-document-download-container">
    

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/east-and-south-east-london-sub-regional-transport-plans-2016.pdf">
    <div class="document-download-text">
        <p>2016 Sub-regional transport plan</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 18.82MB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 18.82 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/east-south-east-poster-2014.pdf">
    <div class="document-download-text">
        <p>2014 Sub-regional transport plan poster</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 2.52MB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 2.52 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/east-and-south-east-srtp-plan-update-2014.pdf">
    <div class="document-download-text">
        <p>2014 Sub-regional transport plan update</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 4.17MB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 4.17 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/east-and-south-east-srtp-update-2013.pdf">
    <div class="document-download-text">
        <p>2013 Sub-regional transport plan update</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 12.88MB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 12.88 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/east-and-south-east-srtp-poster-2013.pdf">
    <div class="document-download-text">
        <p>2013 Sub-regional transport plan poster</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 4.93MB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 4.93 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/east-srtp-update.pdf">
    <div class="document-download-text">
        <p>2012 Sub-regional transport plan update</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 4.65MB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 4.65 -->
 
</div>

</div>
 
            </div>
        </div>
    </div>
 <div class="expandable-box">




        <div class="content">
            <div class="always-visible" role="button" aria-controls="north-content" aria-expanded="false" tabindex="0">
                <div class="controls" data-tracking="prop36" data-tracking-value="Sub-regional transport plans-North"><span class="visually-hidden">Toggle accordion</span></div>
                <div id="north-heading" class="accordion-heading">North</div>
            </div>
            <div id="north-content" class="start-hidden" role="region" aria-labelledby="north-heading">


<div>





<div class="multi-document-download-container">
    

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/north-story-of-growth-2016.pdf">
    <div class="document-download-text">
        <p>2016 Sub-regional transport plan update</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 16.43MB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 16.43 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/north-srtp-poster-2014-update.pdf">
    <div class="document-download-text">
        <p>2014 Sub-regional transport plan poster</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 2.06MB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 2.06 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/north-srtp-plan-update-2014.pdf">
    <div class="document-download-text">
        <p>2014 Sub-regional transport plan update</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 4.30MB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 4.30 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/north-srtp-update-2013.pdf">
    <div class="document-download-text">
        <p>2013 Sub-regional transport plan update</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 9.54MB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 9.54 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/north-srtp-poster-2013.pdf">
    <div class="document-download-text">
        <p>2013 Sub-regional transport plan poster</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 3.51MB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 3.51 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/north-srtp-update.pdf">
    <div class="document-download-text">
        <p>2012 Sub-regional transport plan update</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 3.48MB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 3.48 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/north-london-sub-regional-transport-plan.pdf">
    <div class="document-download-text">
        <p>2010 Sub-regional transport plan</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 5.88MB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 5.88 -->
 
</div>

</div>
 
            </div>
        </div>
    </div>
 <div class="expandable-box">




        <div class="content">
            <div class="always-visible" role="button" aria-controls="south-content" aria-expanded="false" tabindex="0">
                <div class="controls" data-tracking="prop36" data-tracking-value="Sub-regional transport plans-South"><span class="visually-hidden">Toggle accordion</span></div>
                <div id="south-heading" class="accordion-heading">South</div>
            </div>
            <div id="south-content" class="start-hidden" role="region" aria-labelledby="south-heading">


<div>





<div class="multi-document-download-container">
    

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/south-london-sub-regional-transport-plans-2016.pdf">
    <div class="document-download-text">
        <p>2016 Sub-regional transport plan update</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 13.96MB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 13.96 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/south-srtp-poster-2014-update.pdf">
    <div class="document-download-text">
        <p>2014 Sub-regional transport plan poster</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 2.65MB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 2.65 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/south-srtp-plan-update-2014.pdf">
    <div class="document-download-text">
        <p>2014 Sub-regional transport plan update</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 4.35MB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 4.35 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/south-srtp-update-2013.pdf">
    <div class="document-download-text">
        <p>2013 Sub-regional transport plan update</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 8.40MB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 8.40 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/south-srtp-poster-2013.pdf">
    <div class="document-download-text">
        <p>2013 Sub-regional transport plan poster</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 5.06MB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 5.06 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/south-srtp-update.pdf">
    <div class="document-download-text">
        <p>2012 Sub-regional transport plan update</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 7.31MB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 7.31 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/south-london-sub-regional-transport-plan.pdf">
    <div class="document-download-text">
        <p>2010 Sub-regional transport plan</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 5.69MB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 5.69 -->
 
</div>

</div>
 
            </div>
        </div>
    </div>
 <div class="expandable-box">




        <div class="content">
            <div class="always-visible" role="button" aria-controls="west-content" aria-expanded="false" tabindex="0">
                <div class="controls" data-tracking="prop36" data-tracking-value="Sub-regional transport plans-West"><span class="visually-hidden">Toggle accordion</span></div>
                <div id="west-heading" class="accordion-heading">West</div>
            </div>
            <div id="west-content" class="start-hidden" role="region" aria-labelledby="west-heading">


<div>





<div class="multi-document-download-container">
    

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/west-london-sub-regional-transport-plans-2016.pdf">
    <div class="document-download-text">
        <p>2016 Sub-regional transport plan update</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 16.78MB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 16.78 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/west-srtp-plan-update-2014.pdf">
    <div class="document-download-text">
        <p>2014 Sub-regional transport plan</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 4.19MB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 4.19 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/west-srtp-poster-2014-update.pdf">
    <div class="document-download-text">
        <p>2014 Sub-regional transport plan poster</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 2.35MB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 2.35 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/west-srtp-update-2013.pdf">
    <div class="document-download-text">
        <p>2013 Sub-regional transport plan</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 7.23MB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 7.23 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/west-srtp-poster-2013.pdf">
    <div class="document-download-text">
        <p>2013 Sub-regional transport plan poster</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 4.60MB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 4.60 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/west-2012.pdf">
    <div class="document-download-text">
        <p>2012 Sub-regional transport plan</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 11.62MB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 11.62 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/west-london-sub-regional-transport-plan.pdf">
    <div class="document-download-text">
        <p>2010 Sub-regional transport plan</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 9.87MB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 9.87 -->
 
</div>

</div>
 
            </div>
        </div>
    </div>
 
</div>
 
      
        
          
            @this.ScriptBlock(
              @<script>
                queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
              </script>
            )
          
        
      
    </div>
  </div>
  <div class="aside" role="complementary">

   
    
    
    
      <div data-set="sidenav-container" class="large">
        
        
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
      </div>
    
    <div>
















<div class="advert-tile unsponsored-style google-ads" aria-hidden="true">
  <div class="advert-link">
    <div class="advert-content">
        <div class="medium-large" data-advert="/76889402/non-targeted" data-advert-sizes="300, 250"></div>
        <div class="small" data-advert="/76889402/non-targeted" data-advert-sizes="300, 250"></div>
    </div>
  </div>
</div>
@{
    ViewBag.AmazonSlot = "'amznslots'";
    ViewBag.AmazonAds = "'3199'"; // to add another value, this needs to be ViewBag.AmazonAds = "'3199','xx'";
}
      

 </div>
    
    <div data-set="sidenav-container" class="small-medium"></div>
  </div>
</div>
 
 
        
        
        
            @{ViewBag.Description = "Updates to the original 2010 plans outline what investment has taken place and what is required over the coming years to keep London moving.";}
        
            
        


 