
    
  



@{ViewBag.Title = "Surface Transport 2006-2016";}
@{ViewBag.Keywords = "TfL";}
@{ViewBag.Url = "/corporate/publications-and-reports/surface-transport-past-years";}
@{ViewBag.Language = "en";}
        <!-- empty placeholder -->
 
        
        
<div class="r">
    <div class="breadcrumb-container" role="navigation">
        <span id="breadcrumb-label" class="visually-hidden">You are here:</span>
        <ol class="breadcrumbs clearfix" aria-labelledby="breadcrumb-label">
            <li class="home">
                <a href="/">
                    <span class="hide-text">Home</span>
                </a>
            </li>
            
                 <li><a href="/corporate/publications-and-reports/index">Publications & reports</a></li>
                
            
                 <li><a href="/corporate/publications-and-reports/customer-service-op-performance">Customer service & Op performance</a></li>
                
            
            
                <li><span class="last-breadcrumb">Surface Transport 2006-2016</span></li>
            
        
 
        
 
        
 
        </ol>
    </div>
</div>
     
 
<div class="r">
  <div class="headline-container plain">
    <h1>Surface Transport 2006-2016</h1>

  </div>
</div>
<div class="main-and-aside r">
  
  <div class="main content-container" role="main">
    
      <div class="article-teaser">
        Before committees and panels were reorganised in 2016, the Surface Transport panel considered wide-ranging issues including policy, strategy, the implementation of the Mayor's Transport Strategy and operating business performance in relation to TfL's Surface Transport services.<BR>
        
      </div>
    
    
      
    
      
           
      <h2> 2016 meeting papers</h2>






    


<div class="accordion">
<div class="expandable-box">

        <div class="content">
            <div class="always-visible">
                <a class="controls" href="javascript:void(0);">&nbsp;</a>
                <div class="accordion-heading">
                    25 February
                </div>
            </div>
            <div class="start-hidden">
                <div class="multi-document-download-container">
                

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/stp-20160225-agenda.pdf">
    <div class="document-download-text">
        <p>Agenda - PDF</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 45KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.04 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/stp-20160225-part-1-item03-minutes-22-october-2015.pdf">
    <div class="document-download-text">
        <p>Item 3 - Minutes of the Meeting of the Surface Transport Panel held on 22 October 2015</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 37KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.04 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/stp-20160225-part-1-item04-matters-arising-and-actions-list.pdf">
    <div class="document-download-text">
        <p>Item 4 - Matters Arising and Actions List</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 83KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.08 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/stp-20160225-part-1-item05-managing-directors-report.pdf">
    <div class="document-download-text">
        <p>Item 5 - Managing Director's Report</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 962KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.94 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/stp-20160225-part-1-item06-road-modernisation-plan.pdf">
    <div class="document-download-text">
        <p>Item 6 - Road Modernisation Plan: Major Road Improvement Schemes - Public Consultations Update</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 2.91MB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 2.91 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/stp-20160225-part-1-item07-tackling-unlawful-highway-obstructions.pdf">
    <div class="document-download-text">
        <p>Item 7 - Tackling Unlawful Highway Obstructions</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 65KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.06 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/stp-20160225-part-1-item08-semi-permanent-structures-on-the-tfl-footway.pdf">
    <div class="document-download-text">
        <p>Item 8 - Semi-Permanent Structures on the TfL Footway</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 113KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.11 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/stp-20160225-part-1-item09-road-customer-satisfaction.pdf">
    <div class="document-download-text">
        <p>Item 9 - Road Customer Satisfaction</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 1.10MB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 1.10 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/stp-20160225-part-1-item10-asset-portfolio-progress-update.pdf">
    <div class="document-download-text">
        <p>Item 10 - Asset Portfolio - Progress Update</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 1.67MB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 1.67 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/stp-20160225-part-1-item11-a23-a232-fiveways-croydon.pdf">
    <div class="document-download-text">
        <p>Item 11 - A23/A232 Fiveways Croydon</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 304KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.30 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/stp-20160225-part-1-item12-brent-cross-cricklewood-regeneration.pdf">
    <div class="document-download-text">
        <p>Item 12 - Brent Cross Cricklewood Regeneration Project</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 717KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.70 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/stp-20160225-part-1-item13-nsl-contact-centre-performance.pdf">
    <div class="document-download-text">
        <p>Item 13 - NSL Contact Centre Performance</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 103KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.10 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/stp-20160225-part-1-item14-taxi-and-private-hire-enforcement.pdf">
    <div class="document-download-text">
        <p>Item 14 - Taxi and Private Hire Enforcement</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 39KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.04 -->
            
              </div>
            </div>
        </div>
 

   </div>
 <div class="expandable-box">

        <div class="content">
            <div class="always-visible">
                <a class="controls" href="javascript:void(0);">&nbsp;</a>
                <div class="accordion-heading">
                    24 November
                </div>
            </div>
            <div class="start-hidden">
                <div class="multi-document-download-container">
                           
              </div>
            </div>
        </div>
 

   </div>
 
</div>
 <h2> 2015 meeting papers</h2>






    


<div class="accordion">
<div class="expandable-box">

        <div class="content">
            <div class="always-visible">
                <a class="controls" href="javascript:void(0);">&nbsp;</a>
                <div class="accordion-heading">
                    11 February
                </div>
            </div>
            <div class="start-hidden">
                <div class="multi-document-download-container">
                

<a class="document-download-wrap rtf" href="/cdn/static/cms/documents/stp-20151102-part-1-item00-agenda.rtf">
    <div class="document-download-text">
        <p>Agenda - RTF</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            RTF 397KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.39 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/stp-20151102-part-1-item00-agenda.pdf">
    <div class="document-download-text">
        <p>Agenda - PDF</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 38KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.04 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/stp-20151102-part-1-item03-minutes.pdf">
    <div class="document-download-text">
        <p>Item 3 - Minutes of the Meeting of the Surface Transport Panel held on 30 October 2014</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 138KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.13 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/stp-20151102-part-1-item04-actions-list.pdf">
    <div class="document-download-text">
        <p>Item 4 - Matters Arising and Actions List</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 58KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.06 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/stp-20151102-part-1-item05-managing-directors-report.pdf">
    <div class="document-download-text">
        <p>Item 5 - Managing Director's Report</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 609KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.60 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/stp-20151102-part-1-item06-update-on-night-network-crime-figures.pdf">
    <div class="document-download-text">
        <p>Item 6 - Update on Crime Figures on Night Bus Network</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 188KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.18 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/stp-20151102-part-1-item07-advertising-boards.pdf">
    <div class="document-download-text">
        <p>Item 7 - Enhancing Advertising Board Enforcement</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 43KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.04 -->
            
              </div>
            </div>
        </div>
 

   </div>
 <div class="expandable-box">

        <div class="content">
            <div class="always-visible">
                <a class="controls" href="javascript:void(0);">&nbsp;</a>
                <div class="accordion-heading">
                    13 May
                </div>
            </div>
            <div class="start-hidden">
                <div class="multi-document-download-container">
                

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/stp-20150513-item00-agenda.pdf">
    <div class="document-download-text">
        <p>Agenda - PDF</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 31KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.03 -->
 

<a class="document-download-wrap rtf" href="/cdn/static/cms/documents/stp-20150513-item00-agenda.rtf">
    <div class="document-download-text">
        <p>Agenda - RTF</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            RTF 203KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.20 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/stp-20150513-part-1-item03-minutes-20150315.pdf">
    <div class="document-download-text">
        <p>Item 03 - Minutes of the Meeting of the Surface Transport Panel held on 11 February 2015</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 26KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.03 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/stp-20150513-part-1-item04-actions-list.pdf">
    <div class="document-download-text">
        <p>Item 04- Matters Arising and Actions List</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 48KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.05 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/stp-20150513-part-1-item05-managing-directors-report.pdf">
    <div class="document-download-text">
        <p>Item 05 - Managing Director's Report</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 1.10MB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 1.10 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/stp-20150513-part-1-item06-2015-16-surface-plan-and-update-on-performance-targets.pdf">
    <div class="document-download-text">
        <p>Item 06 - 2015/16 Surface Plan and Update on Performance Targets </p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 1.96MB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 1.96 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/stp-20150513-part-1-item07-major-highways-improvements.pdf">
    <div class="document-download-text">
        <p>Item 07 - Road Modernisation Plan: Major Roads Improvements</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 2.06MB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 2.06 -->
            
              </div>
            </div>
        </div>
 

   </div>
 <div class="expandable-box">

        <div class="content">
            <div class="always-visible">
                <a class="controls" href="javascript:void(0);">&nbsp;</a>
                <div class="accordion-heading">
                    15 July
                </div>
            </div>
            <div class="start-hidden">
                <div class="multi-document-download-container">
                

<a class="document-download-wrap rtf" href="/cdn/static/cms/documents/stp-20150715-part-1-agenda-rtf.rtf">
    <div class="document-download-text">
        <p>Agenda rtf</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            RTF 180KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.18 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/stp-20150715-part-1-agenda-pdf.pdf">
    <div class="document-download-text">
        <p>Agenda pdf</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 36KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.03 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/stp-20150715-part-1-item03-minutes.pdf">
    <div class="document-download-text">
        <p>Item 3 - Minutes of the meeting held on 13 May 2015</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 22KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.02 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/stp-20150715-part-1-item04-actions-list.pdf">
    <div class="document-download-text">
        <p>Item 4 - Matters Arising and Actions List</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 110KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.11 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/stp-20150715-part-1-item05-managing-directors-report.pdf">
    <div class="document-download-text">
        <p>Item 5 - Managing Director's Report</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 1.12MB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 1.12 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/stp-20150715-part-1-item06-schools-and-young-people-delivery-plan.pdf">
    <div class="document-download-text">
        <p>Item 6 - Delivery Plan for Schools and Young People</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 1.11MB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 1.11 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/stp-20150715-part-1-item07-coach-facilities-for-london-routing.pdf">
    <div class="document-download-text">
        <p>Item 7 - Coach Facilities for London</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 199KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.19 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/stp-20150715-part-1-item08-scheme-post-implementation-modelling-review.pdf">
    <div class="document-download-text">
        <p>Item 8 -Scheme Post-Implementation Modelling Review</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 937KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.91 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/stp-20150715-part-1-item09-taxi-and-private-hire-inspection-data-.pdf">
    <div class="document-download-text">
        <p>Item 9 - Taxi and Private Hire Inspection Data</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 110KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.11 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/stp-20150715-part-1-item10-bus-customer-satisfaction.pdf">
    <div class="document-download-text">
        <p>Item 10 - Bus Customer Satisfaction</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 101KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.10 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/stp-20150715-part-1-item11-road-modernisation-road-safety.pdf">
    <div class="document-download-text">
        <p>Item 11 - Roads Modernisation Plan: Road Safety Portfolio</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 2.38MB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 2.38 -->
            
              </div>
            </div>
        </div>
 

   </div>
 <div class="expandable-box">

        <div class="content">
            <div class="always-visible">
                <a class="controls" href="javascript:void(0);">&nbsp;</a>
                <div class="accordion-heading">
                    22 October
                </div>
            </div>
            <div class="start-hidden">
                <div class="multi-document-download-container">
                

<a class="document-download-wrap rtf" href="/cdn/static/cms/documents/stp-20151022-part-1-item00-agenda.rtf">
    <div class="document-download-text">
        <p>Agenda rtf</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            RTF 213KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.21 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/stp-20151022-part-1-item00-agenda.pdf">
    <div class="document-download-text">
        <p>Agenda pdf</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 43KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.04 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/stp-20151022-part-1-item03-minutes.pdf">
    <div class="document-download-text">
        <p>Item 3 - Minutes of the Meeting of the Surface Transport Panel held on 15 July 2015</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 45KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.04 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/stp-20151022-part-1-item04-actions-list.pdf">
    <div class="document-download-text">
        <p>Item 4 - Matters Arising and Actions List</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 96KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.09 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/stp-20151022-part-1-item05-managing-directors-report.pdf">
    <div class="document-download-text">
        <p>Item 5 - Managing Director's Report</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 1.86MB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 1.86 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/stp-20151022-part-1-item06-silvertown-tunnel-update.pdf">
    <div class="document-download-text">
        <p>Item 6 - Silvertown Tunnel Update</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 2.77MB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 2.77 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/stp-20151022-part-1-item07-mayors-cycling-vision.pdf">
    <div class="document-download-text">
        <p>Item 7 - Cycling Portfolio Update - Delivering the Mayor's Cycling Vision</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 2.31MB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 2.31 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/stp-20151022-part-1-item08-update-on-roads-reopening-protocol.pdf">
    <div class="document-download-text">
        <p>Item 8 - Update on Roads Reopening Protocol</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 40KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.04 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/stp-20151022-part-1-item09-streetscape-guidance.pdf">
    <div class="document-download-text">
        <p>Item 9 - Streetscape Guidance</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 43KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.04 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/stp-20151022-part-1-item10-taxi-and-private-hire-licence-fees.pdf">
    <div class="document-download-text">
        <p>Item 10 - Taxi and Private Hire Licence Fees</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 39KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.04 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/stp-20151022-part-1-item11-taxi-fares-update.pdf">
    <div class="document-download-text">
        <p>Item 11 - Taxi Fares Update</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 110KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.11 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/stp-20151022-part-1-item12-card-payments-in-taxis.pdf">
    <div class="document-download-text">
        <p>Item 12 - Card Payments in Taxis</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 59KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.06 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/stp-20151022-part-1-item13-christmas-day-bus-services.pdf">
    <div class="document-download-text">
        <p>Item 13 - Christmas Day Bus Services</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 56KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.05 -->
            
              </div>
            </div>
        </div>
 

   </div>
 
</div>
 <h2> 2014  meeting papers</h2>






    


<div class="accordion">
<div class="expandable-box">

        <div class="content">
            <div class="always-visible">
                <a class="controls" href="javascript:void(0);">&nbsp;</a>
                <div class="accordion-heading">
                    30 October
                </div>
            </div>
            <div class="start-hidden">
                <div class="multi-document-download-container">
                

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/stp-20141030-part-1-item03-minutes.pdf">
    <div class="document-download-text">
        <p>Item 3 - Minutes of the Meeting Held on 9 July 2014</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 137KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.13 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/stp-20141030-part-1-item04-actions-list.pdf">
    <div class="document-download-text">
        <p>Item 4 - Matters Arising and Actions List</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 204KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.20 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/stp-20141030-part-1-item05-managing-directors-report.pdf">
    <div class="document-download-text">
        <p>Item 5 - Managing Director's Report</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 559KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.55 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/stp-20141030-part-1-item06-taxi-fares-update.pdf">
    <div class="document-download-text">
        <p>Item 6 - Taxi Fares Update</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 315KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.31 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/stp-20141030-part-1-item07-cycle-superhighways.pdf">
    <div class="document-download-text">
        <p>Item 7- Cycle Superhighways</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 224KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.22 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/stp-20141030-part-1-item08-measuring-walking-in-london.pdf">
    <div class="document-download-text">
        <p>Item 8- Measuring Walking in London</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 282KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.27 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/stp-20141030-part-1-item00-agenda.pdf">
    <div class="document-download-text">
        <p>Agenda</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 89KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.09 -->
 

<a class="document-download-wrap rtf" href="/cdn/static/cms/documents/stp-20141030-part-1-item00-agenda.rtf">
    <div class="document-download-text">
        <p>Agenda - RTF</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            RTF 403KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.39 -->
            
              </div>
            </div>
        </div>
 

   </div>
 <div class="expandable-box">

        <div class="content">
            <div class="always-visible">
                <a class="controls" href="javascript:void(0);">&nbsp;</a>
                <div class="accordion-heading">
                    09 July
                </div>
            </div>
            <div class="start-hidden">
                <div class="multi-document-download-container">
                

<a class="document-download-wrap rtf" href="/cdn/static/cms/documents/stp-20140709-part-1-item00-agenda.rtf">
    <div class="document-download-text">
        <p>Agenda - RTF </p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            RTF 641KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.63 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/stp-20140709-part-1-item00-agenda.pdf">
    <div class="document-download-text">
        <p>Agenda</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 34KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.03 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/stp-20140709-part-1-item03-minutes.pdf">
    <div class="document-download-text">
        <p>Item 3 - Minutes of the Meeting held on 9 April 2014 </p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 17KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.02 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/stp-20140709-part-1-item04-actions-list.pdf">
    <div class="document-download-text">
        <p>Item 4 - Matters Arising and Actions List </p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 74KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.07 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/stp-20140709-part-1-item05-managing-directors-report.pdf">
    <div class="document-download-text">
        <p>Item 5 - Managing Director's Report </p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 345KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.34 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/stp-20140709-part-1-item06-taxi-fares-update.pdf">
    <div class="document-download-text">
        <p>Item 6 - Taxi Fares Update</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 58KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.06 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/stp-20140709-part-1-item07-ceremonial-events-in-london.pdf">
    <div class="document-download-text">
        <p>Item 7 - Ceremonial Events in Central London </p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 51KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.05 -->
            
              </div>
            </div>
        </div>
 

   </div>
 <div class="expandable-box">

        <div class="content">
            <div class="always-visible">
                <a class="controls" href="javascript:void(0);">&nbsp;</a>
                <div class="accordion-heading">
                    09 April
                </div>
            </div>
            <div class="start-hidden">
                <div class="multi-document-download-container">
                

<a class="document-download-wrap rtf" href="/cdn/static/cms/documents/stp-20140409-part-1-item00-agenda.rtf">
    <div class="document-download-text">
        <p>Agenda - RTF</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            RTF 639KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.62 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/stp-20140409-part-1-agenda-9-april-2014.pdf">
    <div class="document-download-text">
        <p>Agenda</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 32KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.03 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/stp-201400409-part-1-item03-minutes-18-february-2014.pdf">
    <div class="document-download-text">
        <p>Item 3 - Minutes of the Surface Transport Panel held on 18 February 2014</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 22KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.02 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/stp-201404009-part-1-item04-actions-list.pdf">
    <div class="document-download-text">
        <p>Item 4 - Actions List</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 93KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.09 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/stp-201400409-part-1-item05-managing-directors-report.pdf">
    <div class="document-download-text">
        <p>Item 5 - Managing Director's Report</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 347KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.34 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/stp-201400409-part-1-item06-2014-2015-performance-measures-and-targets.pdf">
    <div class="document-download-text">
        <p>Item 6 - 2014/15 - Performance Measures and Targets</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 133KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.13 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/stp-20140409-part-1-item07-roads-task-force-update.pdf">
    <div class="document-download-text">
        <p>Item 7 - Roads Task Force Update</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 1.93MB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 1.93 -->
            
              </div>
            </div>
        </div>
 

   </div>
 <div class="expandable-box">

        <div class="content">
            <div class="always-visible">
                <a class="controls" href="javascript:void(0);">&nbsp;</a>
                <div class="accordion-heading">
                    18 February
                </div>
            </div>
            <div class="start-hidden">
                <div class="multi-document-download-container">
                

<a class="document-download-wrap rtf" href="/cdn/static/cms/documents/stp-20140218-open-item00-agenda.rtf">
    <div class="document-download-text">
        <p>Agenda</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            RTF 172KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.17 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/stp-20140218-open-item00-agenda.pdf">
    <div class="document-download-text">
        <p>Agenda</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 29KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.03 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/stp-20140218-open-item02-minutes.pdf">
    <div class="document-download-text">
        <p>Item 2 - Minutes of the Meeting Held on 22 October 2013</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 25KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.02 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/stp-20140218-open-item03-actions-arising.pdf">
    <div class="document-download-text">
        <p>Item 3 - Matters Arising and Actions List</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 70KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.07 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/stp-20140218-open-item04-managing-directors-report.pdf">
    <div class="document-download-text">
        <p>Item 4 - Managing Director's Report</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 181KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.18 -->
            
              </div>
            </div>
        </div>
 

   </div>
 
</div>
 <div class="accordion">




<div class="expandable-box">




        <div class="content">
            <div class="always-visible" role="button" aria-controls="2013-content" aria-expanded="false" tabindex="0">
                <div class="controls" data-tracking="prop36" data-tracking-value="Surface Transport 2006-2016-2013"><span class="visually-hidden">Toggle accordion</span></div>
                <div id="2013-heading" class="accordion-heading">2013</div>
            </div>
            <div id="2013-content" class="start-hidden" role="region" aria-labelledby="2013-heading">

        <p><strong>Members:</strong> Baroness Grey-Thompson (Chair), Charles Belcher (Vice Chair), Brian Cooke, Bob Oddy, Keith Williams, Steve Wright</p>
        <h3>22 October</h3>
        <p><a href="/cdn/static/cms/documents/STP-20131022-Open-Item00-Agenda.rtf">Agenda - RTF version (RTF 0.17MB)</a><br />
        <a href="/cdn/static/cms/documents/STP-20131022-Open-Item00-Agenda.pdf">Agenda (PDF 0.02MB)</a><br />
        <a href="/cdn/static/cms/documents/STP-20131022-Open-Item02-Minutes.pdf">Item 2 - Minutes of the Meeting held on 10 July 2013 (PDF 0.02MB)</a><br />
        <a href="/cdn/static/cms/documents/STP-20131022-Open-Item03-Actions.pdf">Item 3 - Matters Arising and Actions List (PDF 0.02MB)</a><br />
        <a href="/cdn/static/cms/documents/STP-20131022-Open-Item04-Managing-Directors-Report.pdf">Item 4 - Managing Director's Report (PDF 0.25MB)</a><br />
        <a href="/cdn/static/cms/documents/STP-20131022-Open-Item05-Developing-an-Integrated-Asset-Management-Plan.pdf">Item 5 - Developing an Integrated Asset Management Plan  (PDF 0.21MB)</a><br />
        <a href="/cdn/static/cms/documents/STP-20131022-Open-Item06-London-Taxicard-Scheme.pdf">Item 6 - London Taxicard Scheme (PDF 0.03MB)</a><br />
        <a href="/cdn/static/cms/documents/STP-20131022-Open-Item07-Fare-Evasion-on-London-Buses.pdf">Item 7 - Fare Evasion on London Buses (PDF 0.19MB)</a><br />
        <a href="/cdn/static/cms/documents/stp-20131022-open-item08-roads-task-force-update.pdf">Item 8 - Road Task Force Update  (PDF 1.26MB)</a></p>
        <h3>10 July</h3>
        <p><a href="/cdn/static/cms/documents/Item00-STP-10-July-2013-Agenda.rtf">Agenda - RTF version (RTF 0.17MB)</a><br />
        <a href="/cdn/static/cms/documents/Item00-STP-10-July-2013-Agenda.pdf">Agenda (PDF 0.03MB)</a><br />
        <a href="/cdn/static/cms/documents/Item02-STP-10-July-2013-Minutes-23-April-2013.pdf">Item 2 - Minutes of the Meeting held on 23 April 2013 (PDF 0.02MB)</a><br />
        <a href="/cdn/static/cms/documents/Item03-STP-10-July-2013-Actions-Arising-July-2013.pdf">Item 3 - Matters Arising and Actions List (PDF 0.02MB)</a><br />
        <a href="/cdn/static/cms/documents/Item04-STP-10-July-2013-Managing-Directors-Report.pdf">Item 4 - Managing Director's Report (PDF 0.21MB)</a></p>
        <h3>23 April</h3>
        <p><a href="/cdn/static/cms/documents/Item00-STP-23-April-2013-Agenda.rtf">Agenda - RTF version (RTF 0.17MB)</a><br />
        <a href="/cdn/static/cms/documents/Item00-STP-23-April-2013-Agenda.pdf">Agenda (PDF 0.04MB)</a><br />
        <a href="/cdn/static/cms/documents/Item02-STP-23-April-2013-Minutes-26-February-2013.pdf">Item 2 - Minutes of the Meeting held on 26 February 2013 (PDF 0.04MB)</a><br />
        <a href="/cdn/static/cms/documents/Item03-STP-23-April-2013-Actions-List.pdf">Item 3 - Matters Arising and Actions List (PDF 0.02MB)</a><br />
        <a href="/cdn/static/cms/documents/Item04-STP-23-April-2013-Managing-Directors-Report.pdf">Item 4 - Managing Director's Report (PDF 0.13MB)</a><br />
        <a href="/cdn/static/cms/documents/Item05-STP-23-April-2013-London-Taxicard-Scheme.pdf">Item 5 - Funding and Management of the London Taxicard Scheme (PDF 0.03MB)</a></p>
        <h3>26 February</h3>
        <p><a href="/cdn/static/cms/documents/Item00-STP-26-February-2013-Agenda.rtf">Agenda - RTF version (RTF 0.18MB)</a><br />
        <a href="/cdn/static/cms/documents/Item00-STP-26-February-2013-Agenda.pdf">Agenda (PDF 0.03MB)</a><br />
        <a href="/cdn/static/cms/documents/Item02-STP-26-February-2013-Minutes-of-meeting-of-14-November-2012.pdf">Item 2 - Minutes of the Meeting held on 14 November 2012 (PDF 0.03MB)</a><br />
        <a href="/cdn/static/cms/documents/Item03-STP-26-February-2013-Actions-List-from-meeting-of-14-November-2012.pdf">Item 3 - Matters Arising and Actions List (PDF 0.02MB)</a><br />
        <a href="/cdn/static/cms/documents/Item04-STP-26-February-2013-Managing-Directors-Report.pdf">Item 4 - Managing Director's Report (PDF 0.13MB)</a><br />
        <a href="/cdn/static/cms/documents/Item05-STP-26-February-2013-Pedestrian-Countdown.pdf">Item 5 - Pedestrian Countdown (PDF 0.02MB)</a><br />
        <a href="/cdn/static/cms/documents/Item06-STP-26-February-2013-Freight-Legacy-Programme.pdf">Item 6 - Freight Legacy Programme (PDF 0.14MB)</a><br />
        <a href="/cdn/static/cms/documents/Item07-STP-26-February-2013-Achieving-the-Mayors-Vision-for-Rivers.pdf">Item 7 - Achieving the Mayor's Vision for Rivers (PDF 7.78MB)</a><br />
        <a href="/cdn/static/cms/documents/Item08-STP-26-February-2013-Delivering-the-Mayors-Vision-for-Cycling.pdf">Item 8 - Delivering the Mayor's Vision for Cycling (PDF 1.84MB)</a></p>
    

            </div>
        </div>
    </div>
 <div class="expandable-box">




        <div class="content">
            <div class="always-visible" role="button" aria-controls="2012-content" aria-expanded="false" tabindex="0">
                <div class="controls" data-tracking="prop36" data-tracking-value="Surface Transport 2006-2016-2012"><span class="visually-hidden">Toggle accordion</span></div>
                <div id="2012-heading" class="accordion-heading">2012</div>
            </div>
            <div id="2012-content" class="start-hidden" role="region" aria-labelledby="2012-heading">

        <p><strong>Members: </strong>Baroness Grey-Thompson (PDF Chair), Charles Belcher (PDF Vice Chair), Bob Oddy, Patrick O'Keeffe, Keith Williams, Steve Wright</p>
        <h3>14 November</h3>
        <p><a href="/cdn/static/cms/documents/Item00-STP-14-NoveMBer-2012-Agenda.rtf">Agenda - RTF version (RTF 0.17MB)</a><br />
        <a href="/cdn/static/cms/documents/Item00-STP-14-NoveMBer-2012-Agenda.pdf">Agenda (PDF 0.03MB)</a><br />
        <a href="/cdn/static/cms/documents/Item02-STP-14-NoveMBer-2012-Minutes-of-meeting-of-3-July-2012.pdf">Item 2 - Minutes of the Meeting held on 3 July 2012 (PDF 0.02MB)</a><br />
        <a href="/cdn/static/cms/documents/Item03-STP-14-NoveMBer-2012-Actions-List-from-meeting-of-3-July-2012.pdf">Item 3 - Matters Arising and Actions List (PDF 0.02MB)</a><br />
        <a href="/cdn/static/cms/documents/Item04-STP-14-NoveMBer-2012-MDs-Report.pdf">Item 4 - Managing Director's Report (PDF 0.25MB)</a></p>
        <h3>3 July</h3>
        <p><a href="/cdn/static/cms/documents/Item00-STP-3-July-2012-Agenda.rtf">Agenda - RTF version (RTF 0.17MB)</a><br />
        <a href="/cdn/static/cms/documents/Item00-STP-3-July-2012-Agenda.pdf">Agenda (PDF 0.03MB)</a><br />
        <a href="/cdn/static/cms/documents/Item02-STP-3-July-2012-Minutes-8-Feb-2012.pdf">Item 2 - Minutes of the Meeting held on 8 February 2012 (PDF 0.02MB)</a><br />
        <a href="/cdn/static/cms/documents/Item03-STP-3-July-2012-Actions-List.pdf">Item 3 - Matters Arising and Actions List (PDF 0.01MB)</a><br />
        <a href="/cdn/static/cms/documents/Item04-STP-3-July-2012-MDs-Report.pdf">Item 4 - Managing Director's Report (PDF 0.28MB)</a><br />
        <a href="/cdn/static/cms/documents/Item05-STP-3-July-2012-Fatal-pedal-cycle-casualties-London.pdf">Item 5 - Fatal Pedal Cycle Casualties in London (PDF 0.03MB)</a><br />
        <a href="/cdn/static/cms/documents/Item06-STP-3-July-2012-Attain-Additional-Data-Collisions-Involving-Pedicabs.pdf">Item 6 - Methods to Attain Additional Data Concerning Collisions Involving Pedicabs (PDF 0.03MB)</a></p>
        <h3>8 February</h3>
        <p><a href="/cdn/static/cms/documents/Item00-STP-Agenda-8-February-2012.rtf">Agenda - RTF version (RTF 0.10MB)</a><br />
        <a href="/cdn/static/cms/documents/Item00-STP-Agenda-8-February-2012.pdf">Agenda (PDF 0.03MB)</a><br />
        <a href="/cdn/static/cms/documents/Item02-STP-08-02-2012-Minutes-of-meeting-of-8-Nov-2011.pdf">Item 2 - Minutes of the Meeting held on 8 November 2011 (PDF 0.02MB)</a><br />
        <a href="/cdn/static/cms/documents/Item03-STP-08-02-2012-Actions-List.pdf">Item 3 - Matters Arising and Actions List (PDF 0.02MB)</a><br />
        <a href="/cdn/static/cms/documents/Item04-STP-08-02-2012-MDs-Report.pdf">Item 4 - Managing Director's Report (PDF 0.15MB)</a><br />
        <a>Item 5 - Games Update: Oral  (PDF MB)</a><br />
        <a href="/cdn/static/cms/documents/Item06-STP-08-02-2012-Update-on-A4-Hammersmith-Flyover.pdf">Item 6 - Update on A4 Hammersmith Flyover (PDF 0.02MB)</a><br />
        <a href="/cdn/static/cms/documents/Item07-STP-08-02-2012-Private-hire-consultation-outcome.pdf">Item 7 - Private Hire Consultation Outcome (PDF 0.02MB)</a><br />
        <a href="/cdn/static/cms/documents/Item08-STP-08-02-2012-Right-to-work-checks-taxi-and-private-hire-driver.pdf">Item 8 - Right to Work Checks carried out on Taxi and Private Hire Driver Applicants and Licensees (PDF 0.04MB)</a></p>
    

            </div>
        </div>
    </div>
 <div class="expandable-box">




        <div class="content">
            <div class="always-visible" role="button" aria-controls="2011-content" aria-expanded="false" tabindex="0">
                <div class="controls" data-tracking="prop36" data-tracking-value="Surface Transport 2006-2016-2011"><span class="visually-hidden">Toggle accordion</span></div>
                <div id="2011-heading" class="accordion-heading">2011</div>
            </div>
            <div id="2011-content" class="start-hidden" role="region" aria-labelledby="2011-heading">

        <p><strong>Members:</strong> Steven Norris (Chair), Charles Belcher (Vice Chair), Baroness Grey-Thompson, Daniel Moylan, Bob Oddy, Patrick O'Keeffe, Keith Williams, Steve Wright</p>
        <h3>8 November</h3>
        <p><a href="/cdn/static/cms/documents/Item00-STP-8-11-2011-Agenda.rtf">Agenda - RTF version (RTF 1.24MB)</a><br />
        <a href="/cdn/static/cms/documents/Item00-STP-8-11-2011-Agenda.pdf">Agenda (PDF 0.04MB)</a><br />
        <a href="/cdn/static/cms/documents/Item02-STP-08-11-2011-12-July-2011-Minutes.pdf">Item 2 - Minutes of the Meeting Held on 12 July 2011 (PDF 0.02MB)</a><br />
        <a href="/cdn/static/cms/documents/Item03-STP-08-11-2011-Actions-List-12-July.pdf">Item 3 - Matters Arising and Actions List (PDF 0.02MB)</a><br />
        <a href="/cdn/static/cms/documents/Item04-STP-08-11-2011-MDs-Report.pdf">Item 4 - Managing Director's Report (PDF 0.13MB)</a><br />
        <a href="/cdn/static/cms/documents/Item05-STP-08-11-2011-Update-on-A-Board-Advertising.pdf">Item 5 - Update on 'A' Board Advertising on the TfL Road Network  (PDF 0.04MB)</a><br />
        <a href="/cdn/static/cms/documents/Item06-STP-08-11-2011-London-2012-Transport.pdf">Item 6 - London 2012 Transport (PDF 2.36MB)</a></p>
        <h3>12 July</h3>
        <p><a href="/cdn/static/cms/documents/Item00-STP-Agenda-12-July-2011.rtf">Agenda - RTF version (RTF 0.09MB)</a><br />
        <a href="/cdn/static/cms/documents/Item00-STP-Agenda-12-July-2011.pdf">Agenda (PDF 0.02MB)</a><br />
        <a href="/cdn/static/cms/documents/Item02-STP-Minutes-11-May-2011.pdf">Item 2 - Minutes of the Meeting held on 11 May 2011 (PDF 0.03MB)</a><br />
        <a href="/cdn/static/cms/documents/Item03-STP-12-July-2011-Actions-List.pdf">Item 3 - Matters Arising and Actions List (PDF 0.02MB)</a><br />
        <a href="/cdn/static/cms/documents/Item04-STP-12-July-2011-MDs-Report.pdf">Item 4 - Managing Director's Report (PDF 0.16MB)</a><br />
        <a href="/cdn/static/cms/documents/Item05-STP-12-July-2011-Guardrail-Removals.pdf">Item 5 - Update on the Guardrail Risk Assessment Form (PDF 0.04MB)</a><br />
        <a href="/cdn/static/cms/documents/Item06-STP-12-July-2011-FORS-update.pdf">Item 6 - Update on the Freight Operator Recognition Scheme (PDF 0.06MB)</a>&lt;</p>
        <h3>11 May</h3>
        <p><a href="/cdn/static/cms/documents/Item00-STP-11-May-2011-Agenda.rtf">Agenda - RTF version (RTF 0.10MB)</a><br />
        <a href="/cdn/static/cms/documents/Item00-STP-11-May-2011-Agenda.pdf">Agenda (PDF 0.03MB)</a><br />
        <a href="/cdn/static/cms/documents/Item02-STP-11-May-2011-17-2-11-minutes.pdf">Item 2 - Minutes of the Meeting held on 17 February 2011 (PDF 0.03MB)</a><br />
        <a href="/cdn/static/cms/documents/Item03-STP-11-May-2011-Actions-List.pdf">Item 3 - Matters Arising and Actions List (PDF 0.02MB)</a><br />
        <a href="/cdn/static/cms/documents/Item04-STP-11-May-2011-MDs-Report.pdf">Item 4 - Managing Director's Report (PDF 0.11MB)</a><br />
        <a href="/cdn/static/cms/documents/Item05-STP-11-May-2011-MAQ-delivery-clean-air-fund.pdf">Item 5 - Update on Delivery of the Mayor's Air Quality Strategy - Clean Air Fund (PDF 0.07MB)</a><br />
        <a href="/cdn/static/cms/documents/Item06-STP-11-May-2011-SCOOT-Update.pdf">Item 6 - Update on SCOOT Programme (PDF 0.03MB)</a><br />
        <a href="/cdn/static/cms/documents/Item07-STP-11-May-2011-Lane-Rental-Update.pdf">Item 7 - Update on Lane Rental Scheme (PDF 0.03MB)</a><br />
        <a href="/cdn/static/cms/documents/Item08-STP-11-May-2011-Hydrogen-Transport.pdf">Item 08 - Update on Hydrogen Bus Programme (PDF 0.02MB)</a><br />
        <a href="/cdn/static/cms/documents/Item09-STP-11-May-2011-Improving-the-Urban-Realm-on-the-TLRN.pdf">Item 09 - Update on Improving the Urban Realm on the Transport for London Road Network (PDF 0.06MB)</a></p>
        <h3>17 February</h3>
        <p><a href="/cdn/static/cms/documents/Item00-STP-Agenda.rtf">Agenda - RTF version (RTF 0.10MB)</a><br />
        <a href="/cdn/static/cms/documents/Item00-STP-Agenda.pdf">Agenda (PDF 0.02MB)</a><br />
        <a href="/cdn/static/cms/documents/Item02-STP-Minutes-9-NoveMBer-2010.pdf">Item 2 - Minutes of 9 November 2010 Meeting (PDF 0.02MB)</a><br />
        <a href="/cdn/static/cms/documents/Item03-Actions-List-17-Feb-2011.pdf">Item 3 - Matters Arising and Actions List (PDF 0.01MB)</a><br />
        <a href="/cdn/static/cms/documents/Item04-MDs-Report.pdf">Item 4 - Managing Director's Report (PDF 0.16MB)</a><br />
        <a href="/cdn/static/cms/documents/Item05-NBfL-Update.pdf">Item 5 - Update on New Bus for London (PDF 0.02MB)</a><br />
        <a href="/cdn/static/cms/documents/Item06-Countdown-II-Update.pdf">Item 6 - Update on Countdown II (PDF 0.02MB)</a><br />
        <a href="/cdn/static/cms/documents/Item07-BCH-Update.pdf">Item 7 - Update on Barclays Cycle Hire (PDF 0.02MB)</a><br />
        <a href="/cdn/static/cms/documents/Item08-WEZ-Removal-Update.pdf">Item 8 - Western Extension Zone Removal Operational Update (PDF 0.02MB)</a><br />
        <a href="/cdn/static/cms/documents/Item09-Olympic-TDM-Update.pdf">Item 9 - Transfer of London 2012 Travel Demand Management Programme from ODA to TfL (PDF 0.01MB)</a><br />
        <a href="/cdn/static/cms/documents/Item11-Private-Hire-Consultation-Update.pdf">Item 11 - Private Hire Consultation Update (PDF 0.02MB)</a></p>
    

            </div>
        </div>
    </div>
 <div class="expandable-box">




        <div class="content">
            <div class="always-visible" role="button" aria-controls="2010-content" aria-expanded="false" tabindex="0">
                <div class="controls" data-tracking="prop36" data-tracking-value="Surface Transport 2006-2016-2010"><span class="visually-hidden">Toggle accordion</span></div>
                <div id="2010-heading" class="accordion-heading">2010</div>
            </div>
            <div id="2010-content" class="start-hidden" role="region" aria-labelledby="2010-heading">

        <h3>9 November</h3>
        <p><a href="/cdn/static/cms/documents/Item00-STP-Agenda-9-Nov-2010-v2.rtf">Agenda - RTF version (RTF 0.10MB)</a><br />
        <a href="/cdn/static/cms/documents/Item00-STP-Agenda-9-Nov-2010.pdf">Agenda (PDF 0.03MB)</a><br />
        <a href="/cdn/static/cms/documents/Item02-30June10-STP-Minutes.pdf">Item 2 - Minutes of 30 June 2010 Meeting (PDF 0.02MB)</a><br />
        <a href="/cdn/static/cms/documents/Item03-STP-9-Nov-2010-Actions-List.pdf">Item 3 - Matters Arising and Actions List (PDF 0.02MB)</a><br />
        <a href="/cdn/static/cms/documents/Item04-STP-9-Nov-2010-MDs-Report.pdf">Item 4 - Managing Director's Report (PDF 0.07MB)</a><br />
        <a href="/cdn/static/cms/documents/Item05-STP-9-Nov-2010-Traffic-Signals.pdf">Item 5 - Update on Traffic Signals in London (PDF 0.05MB)</a><br />
        <a href="/cdn/static/cms/documents/Item06-STP-9-Nov-2010-Blackwall-Tunnel.pdf">Item 6 - Update on Blackwall Tunnel Northbound Refurbishment (PDF 0.03MB)</a><br />
        <a href="/cdn/static/cms/documents/Item07-STP-9-Nov-2010-Buses-Oxford-Street.pdf">Item 7 - Update on Bus Service Changes in Oxford Street (PDF 0.03MB)</a><br />
        <a href="/cdn/static/cms/documents/Item08-STP-9-Nov-2010-BarclaysCycleHire.pdf">Item 8 - Update on Barclays Cycle Hire (PDF 0.02MB)</a><br />
        <a href="/cdn/static/cms/documents/Item09-STP-9-Nov-2010-BarclaysCycleSH.pdf">Item 9 - Update on Barclays Cycle Superhighways (PDF 0.03MB)</a><br />
        <a href="/cdn/static/cms/documents/Item10-STP-9-Nov-2010-M4-Bus-Lane.pdf">Item 10 - M4 Bus Lane Update (PDF 0.02MB)</a></p>
        <h3>30 June</h3>
        <p><a href="/cdn/static/cms/documents/Item00-STP-Agenda-30-June-2010.rtf">Agenda - RTF version (RTF 0.09MB)</a><br />
        <a href="/cdn/static/cms/documents/Item00-STP-Agenda-30-June-2010.pdf">Agenda (PDF 0.03MB)</a><br />
        <a href="/cdn/static/cms/documents/Item02-STP-19May10-Minutes.pdf">Item 2 - Minutes of 19 May 2010 Meeting (PDF 0.03MB)</a><br />
        <a href="/cdn/static/cms/documents/Item03-Actions-List-30June2010.pdf">Item 3 - Matters Arising and Actions List (PDF 0.02MB)</a><br />
        <a href="/cdn/static/cms/documents/Item04-MDs-Report-STP-30-June-2010.pdf">Item 4 - Managing Director's Report (PDF 0.10MB)</a><br />
        <a href="/cdn/static/cms/documents/Item05-Update-on-CSEP-Issues-STP-30-june-2010.pdf">Item 5 - Update on Community Safety, Enforcement and Policing Issues (PDF 0.09MB)</a><br />
        <a href="/cdn/static/cms/documents/Item06-Improving-Urban-Realm-TLRN-STP-30-june-2010.pdf">Item 6 - Improving the Urban Realm on the Transport for London Road Network (PDF 0.16MB)</a><br />
        <a href="/cdn/static/cms/documents/Item07-Hybrid-Buses-STP-30-june-2010.pdf">Item 7 - Hybrid Buses (PDF 0.03MB)</a><br />
        <a href="/cdn/static/cms/documents/Item08-Electric-Vehicle-Delivery-Project-STP-30-june-2010.pdf">Item 8 - Electric Vehicle Delivery Project Update (PDF 0.04MB)</a><br />
        <a href="/cdn/static/cms/documents/Item09-Blackwall-Tunnel-Northbound-Refurbishment-STP-30-june-2010.pdf">Item 9 - Blackwall Tunnel Northbound Refurbishment (PDF 0.04MB)</a></p>
        <h3>19 May</h3>
        <p><a href="/cdn/static/cms/documents/Item00-STP-Agenda-19-May-2010.rtf">Agenda - RTF version (RTF 0.09MB)</a><br />
        <a href="/cdn/static/cms/documents/Item00-STP-Agenda-19-May-2010.pdf">Agenda (PDF 0.03MB)</a><br />
        <a href="/cdn/static/cms/documents/Item02-3Mar10-STP-Minutes.pdf">Item 2 - Minutes of 3 March 2010 Meeting (PDF 0.02MB)</a><br />
        <a href="/cdn/static/cms/documents/Item03-Actions-List-STP-19May2010.pdf">Item 3 - Matters Arising and Actions List (PDF 0.01MB)</a><br />
        <a href="/cdn/static/cms/documents/Item04-STP-190509-MDs-Report.pdf">Item 4 - Managing Director's Report (PDF 0.05MB)</a><br />
        <a href="/cdn/static/cms/documents/Item05-LIP-Reforms-Report-Borough-Delivery-STP-19-05-2010.pdf">Item 5 - Local Implementation Plan Reforms and Reporting of Borough Delivery (PDF 0.08MB)</a><br />
        <a href="/cdn/static/cms/documents/Item06-STF-Traffic-Signals-STP-19-05-2010.pdf">Item 6 - Smoothing Traffic Flow - Traffic Signals (PDF 0.06MB)</a><br />
        <a href="/cdn/static/cms/documents/Item07-Minimising-Disruption-Roadworks-STP-19-05-2010.pdf">Item 7 - Minimising Disruption from Roadworks (PDF 0.04MB)</a><br />
        <a href="/cdn/static/cms/documents/Item08-Leicester-Square-Fixed-Fare-Scheme-STP-19-05-2010.pdf">Item 8 - Leicester Square Fixed Fare Scheme (PDF 0.03MB)</a></p>
        <h3>3 March</h3>
        <p><a href="/cdn/static/cms/documents/Item00-STP-Agenda-3-Mar-2010.rtf">Agenda - RTF version (RTF 0.09MB)</a><br />
        <a href="/cdn/static/cms/documents/Item00-STP-Agenda-3-Mar-2010.pdf">Agenda (PDF 0.03MB)</a><br />
        <a href="/cdn/static/cms/documents/Item02-10Nov09-Minutes.pdf">Item 2 - Minutes of 10 November 2009 Meeting (PDF 0.03MB)</a><br />
        <a href="/cdn/static/cms/documents/Item03-Actions-List-3Mar.pdf">Item 3 - Matters Arising and Actions List (PDF 0.02MB)</a><br />
        <a href="/cdn/static/cms/documents/Item04-STP-MD-Report-3-March-2010.pdf">Item 4 - Managing Director's Report (PDF 0.08MB)</a><br />
        <a href="/cdn/static/cms/documents/Item05-Highway-Enforcement.pdf">Item 5 - TfL Road Network Highway Enforcement (PDF 0.03MB)</a><br />
        <a href="/cdn/static/cms/documents/Item06-CSEP-Update.pdf">Item 6 - Community Safety, Enforcement and Policing Update (PDF 0.12MB)</a><br />
        <a href="/cdn/static/cms/documents/Item07-River-Thames-Improvements.pdf">Item 7 - River Thames Improvements (PDF 0.03MB)</a></p>
    

            </div>
        </div>
    </div>
 <div class="expandable-box">




        <div class="content">
            <div class="always-visible" role="button" aria-controls="2009-content" aria-expanded="false" tabindex="0">
                <div class="controls" data-tracking="prop36" data-tracking-value="Surface Transport 2006-2016-2009"><span class="visually-hidden">Toggle accordion</span></div>
                <div id="2009-heading" class="accordion-heading">2009</div>
            </div>
            <div id="2009-content" class="start-hidden" role="region" aria-labelledby="2009-heading">

        <h3>10 November</h3>
        <p><a href="/cdn/static/cms/documents/Item00-STP-Agenda-10-Nov-2009.rtf">Agenda - RTF version (RTF 0.09MB)</a><br />
        <a href="/cdn/static/cms/documents/Item00-STP-Agenda-10-Nov-2009.pdf">Agenda (PDF 0.03MB)</a><br />
        <a href="/cdn/static/cms/documents/Item02-3July09-Minutes.pdf">Item 2 - Minutes of 3 July 2009 Meeting (PDF 0.03MB)</a><br />
        <a href="/cdn/static/cms/documents/Item03-Actions-List-10Nov.pdf">Item 3 - Matters Arising and Actions List (PDF 0.03MB)</a><br />
        <a href="/cdn/static/cms/documents/Item04-MDs-Report-Nov-STP-09.pdf">Item 4 - Managing Director's Report (PDF 0.06MB)</a><br />
        <a href="/cdn/static/cms/documents/Item05-Independent-Review-Bus-Services-Nov-09.pdf">Item 5 - Independent Review of Bus Services (PDF 0.14MB)</a><br />
        <a href="/cdn/static/cms/documents/Item06-Bus-CCTV.pdf">Item 6 - Bus CCTV (PDF 0.03MB)</a><br />
        <a href="/cdn/static/cms/documents/Item07-Orbital-Bus-Services.pdf">Item 7 - Orbital Bus Services (PDF 0.03MB)</a><br />
        <a href="/cdn/static/cms/documents/Item08-Dial-a-Ride-Door-to-Door.pdf">Item 8 - Dial-a-Ride/Door to Door (PDF 0.03MB)</a><br />
        <a href="/cdn/static/cms/documents/Item09-Taxi-PH-Update.pdf">Item 9 - Update on Taxi and Private Hire (PDF 0.03MB)</a><br />
        <a href="/cdn/static/cms/documents/Item10-Pedestrian-Countdown.pdf">Item 10 - Pedestrian Countdown and Pedestrian Behaviour Research Update (PDF 0.03MB)</a><br />
        <a href="/cdn/static/cms/documents/Item11-Smoothing-Traffic-Flow.pdf">Item 11 - Smoothing Traffic Flow (PDF 0.05MB)</a></p>
        <h3>3 July</h3>
        <p><a href="/cdn/static/cms/documents/Item00-STP-Agenda-3July2009.rtf">Agenda - RTF version (RTF 0.09MB)</a><br />
        <a href="/cdn/static/cms/documents/Item00-STP-Agenda-3July2009.pdf">Agenda (PDF 0.03MB)</a><br />
        <a href="/cdn/static/cms/documents/Item02-19May09-Minutes.pdf">Item 2 - Minutes of 19 May 2009 Meeting (PDF 0.04MB)</a><br />
        <a href="/cdn/static/cms/documents/Item03-Actions-List-3July-2009.pdf">Item 3 - Matters Arising and Actions List (PDF 0.02MB)</a><br />
        <a href="/cdn/static/cms/documents/Item04-MDs-Report-STP-3-July-2009.pdf">Item 4 - Managing Director's Report (PDF 0.06MB)</a><br />
        <a href="/cdn/static/cms/documents/Item05-Delegation-TLRN-Wandsworth.pdf">Item 5 - Review of the Six Month Trial on the Delegation of TfL Highways Enforcement Powers on the TLRN to the London Borough of Wandsworth (PDF 0.06MB)</a><br />
        <a href="/cdn/static/cms/documents/Item06-Community-Safety-Enforcement-Policing.pdf">Item 6 - Update on Transport Community Safety, Enforcement and Policing Issues (PDF 0.08MB)</a></p>
        <h3>19 May</h3>
        <p><a href="/cdn/static/cms/documents/Item01-STP-Agenda-19May2009.rtf">Agenda - RTF version (RTF 0.10MB)</a><br />
        <a href="/cdn/static/cms/documents/Item01-STP-Agenda-19May2009.pdf">Agenda (PDF 0.03MB)</a><br />
        <a href="/cdn/static/cms/documents/Item02-24Feb09-Minutes.pdf">Item 2 - Minutes of the Meeting held on 24 February 2009 (PDF 0.04MB)</a><br />
        <a href="/cdn/static/cms/documents/Item03-Actions-list.pdf">Item 3 - Matters Arising and Actions List (PDF 0.03MB)</a><br />
        <a href="/cdn/static/cms/documents/Item04-MDs-Report.pdf">Item 4 - Managing Director's Report (PDF 0.16MB)</a><br />
        <a href="/cdn/static/cms/documents/Item05-Independent-Bus-Review.pdf">Item 5 - Independent Bus Review (PDF 0.02MB)</a><br />
        <a href="/cdn/static/cms/documents/Item06-Delegation-Taxi-PHV-Regulation-Powers.pdf">Item 6 - Delegation of Taxi and PHV Regulation Making Powers (PDF 0.03MB)</a><br />
        <a href="/cdn/static/cms/documents/Item07-Private-Hire-Strategy.pdf">Item 7 - Private Hire Strategy Proposals 2009-2014 (PDF 0.04MB)</a><br />
        <a href="/cdn/static/cms/documents/Item08-A-Fair-Deal-for-Drivers.pdf">Item 8 - New Approach to Compliance: A Fair Deal for Drivers (PDF 0.03MB)</a><br />
        <a href="/cdn/static/cms/documents/Item09-Freight-and-Night-Deliveries.pdf">Item 9 - Freight and Night Deliveries (PDF 0.03MB)</a><br />
        <a href="/cdn/static/cms/documents/Item10-Road-Transport-Premises-Byelaws.pdf">Item 10 - Road Transport Premises Byelaws (PDF 0.17MB)</a><br />
        <a href="/cdn/static/cms/documents/Item11-Pedicabs-Update.pdf">Item 11 - Pedicabs Update (PDF 0.03MB)</a><br />
        <a href="/cdn/static/cms/documents/Item12-Cycle-Hire-Scheme-Update.pdf">Item 12 - Cycle Hire Scheme Update (PDF 0.02MB)</a><br />
        <a href="/cdn/static/cms/documents/Item13-Cycle-Highways-Stakeholder-Management-Update.pdf">Item 13 - Cycle Highways Stakeholder Management Update (PDF 0.02MB)</a></p>
        <h3>24 February</h3>
        <p><a href="/cdn/static/cms/documents/Item01-STP-Agenda-Feb2009.rtf">Agenda - RTF version (RTF 0.10MB)</a><br />
        <a href="/cdn/static/cms/documents/Item01-STP-Agenda-Feb2009.pdf">Agenda (PDF 0.04MB)</a><br />
        <a href="/cdn/static/cms/documents/Item02-Terms-of-Reference-ST.pdf">Item 2 - Terms of Reference (PDF 0.05MB)</a><br />
        <a href="/cdn/static/cms/documents/Item03-MDs-Report-FW.pdf">Item 3 - Managing Director's Report (PDF 0.05MB)</a><br />
        <a href="/cdn/static/cms/documents/Item04-Independent-Bus-Review.pdf">Item 4 - Independent Bus Review (PDF 0.02MB)</a><br />
        <a href="/cdn/static/cms/documents/Item05-East-Thames-Buses.pdf">Item 5 - East Thames Buses - Market Testing (PDF 0.02MB)</a><br />
        <a href="/cdn/static/cms/documents/Item06-Cycling-Initiatives.pdf">Item 6 - Cycling Initiatives (PDF 0.03MB)</a><br />
        <a href="/cdn/static/cms/documents/Item07-Cycle-Hire-Scheme.pdf">Item 7 - Update on the Cycle Hire Scheme (PDF 0.02MB)</a><br />
        <a href="/cdn/static/cms/documents/Item08-Smoothing-Traffic-Flow.pdf">Item 8 - Smoothing Traffic Flow (PDF 0.95MB)</a><br />
        <a href="/cdn/static/cms/documents/Item09-Guardrail-Removal-Programme.pdf">Item 9 - Guardrail Removal Programme (PDF 0.03MB)</a><br />
        <a href="/cdn/static/cms/documents/Item10-Subways.pdf">Item 10 - Subways (PDF 0.35MB)</a><br />
        <a href="/cdn/static/cms/documents/Item11-London-Permit-Scheme-for-Road-and-Street-Works.pdf">Item 11 - London Permit Scheme for Road and Street Works (PDF 0.03MB)</a><br />
        <a href="/cdn/static/cms/documents/Item12-Freight-Operator-Recognition-Scheme.pdf">Item 12 - Freight Operator Recognition Scheme (PDF 0.48MB)</a><br />
        <a href="/cdn/static/cms/documents/Item13-Tackling-Taxi-Touting.pdf">Item 13 - Tackling Taxi Touting (PDF 0.04MB)</a><br />
        <a href="/cdn/static/cms/documents/Item14-Changes-to-Private-Hire-Regulations.pdf">Item 14 - Changes to Private Hire Regulations (PDF 0.03MB)</a><br />
        <a href="/cdn/static/cms/documents/Item15-TX4-Lessons-Learned.pdf">Item 15 - TX4s - Lessons Learned (PDF 0.03MB)</a><br />
        <a href="/cdn/static/cms/documents/Item16-River-Services-and-London-2012.pdf">Item 16 - River Services and London 2012 (PDF 0.02MB)</a><br />
        <a href="/cdn/static/cms/documents/Item17-Briefing-and-Site-Visits-ST.pdf">Item 17 - Briefing and Site Visits (PDF 0.02MB)</a></p>
    

            </div>
        </div>
    </div>
 <div class="expandable-box">




        <div class="content">
            <div class="always-visible" role="button" aria-controls="2008-content" aria-expanded="false" tabindex="0">
                <div class="controls" data-tracking="prop36" data-tracking-value="Surface Transport 2006-2016-2008"><span class="visually-hidden">Toggle accordion</span></div>
                <div id="2008-heading" class="accordion-heading">2008</div>
            </div>
            <div id="2008-content" class="start-hidden" role="region" aria-labelledby="2008-heading">

        <h3>13 February</h3>
        <p><a href="/cdn/static/cms/documents/agenda-surface.rtf">Agenda - RTF version (RTF 0.03MB)</a><br />
        <a href="/cdn/static/cms/documents/agenda-5.pdf">Agenda (PDF 0.02MB)</a><br />
        <a href="/cdn/static/cms/documents/2-minutes-of-the-meeting-held-on-06-11-2007.pdf">Item 2 - Minutes of 6 November 2007 Meeting (PDF 0.02MB)</a><br />
        <a href="/cdn/static/cms/documents/3-matters-arising-and-actions-list-3.pdf">Item 3 - Matters Arising and Actions List (PDF 0.01MB)</a><br />
        <a href="/cdn/static/cms/documents/4-Delivering-Long-Term-Walking-and-Cycling-Growth.pdf">Item 4 - Delivering Long-Term Walking and Cycling Growth (PDF 0.01MB)</a><br />
        <a href="/cdn/static/cms/documents/5-Route-38-Bus-Priority.pdf">Item 5 - Route 38 Bus Priority (PDF 0.01MB)</a><br />
        <a href="/cdn/static/cms/documents/6-Transfer-of-Taxi-Licensing-Inspections.pdf">Item 6 - Transfer of Taxi Licensing Inspections (PDF 0.02MB)</a><br />
        <a href="/cdn/static/cms/documents/7-Managing-Directors-Report.pdf">Item 7 - Managing Director's Report (PDF 0.25MB)</a></p>
    

            </div>
        </div>
    </div>
 <div class="expandable-box">




        <div class="content">
            <div class="always-visible" role="button" aria-controls="2007-content" aria-expanded="false" tabindex="0">
                <div class="controls" data-tracking="prop36" data-tracking-value="Surface Transport 2006-2016-2007"><span class="visually-hidden">Toggle accordion</span></div>
                <div id="2007-heading" class="accordion-heading">2007</div>
            </div>
            <div id="2007-content" class="start-hidden" role="region" aria-labelledby="2007-heading">

        <h3>6 November</h3>
        <p><a href="/cdn/static/cms/documents/Agenda-Dec.rtf">Agenda - RTF version (RTF 35KB)</a><br />
        <a href="/cdn/static/cms/documents/SAP-Agenda-PapersNov07.pdf">Agenda and Papers (PDF 891KB)</a></p>
        <h3>9 May </h3>
        <p><a href="/cdn/static/cms/documents/SAP-May-2007.rtf">Agenda - RTF version (RTF 39KB)</a><br />
        <a href="/cdn/static/cms/documents/SAP-May-2007.pdf">Agenda and Papers (PDF 533KB)</a></p>
        <h3>31 January </h3>
        <p><a href="/cdn/static/cms/documents/sap-january-2007.rtf">Agenda - RTF version (RTF 35KB)</a><br />
        <a href="/cdn/static/cms/documents/surfaceadvisorypanelpapers-jan2007.pdf">Agenda and Papers (PDF 1.2MB)</a></p>
    

            </div>
        </div>
    </div>
 <div class="expandable-box">




        <div class="content">
            <div class="always-visible" role="button" aria-controls="2006-content" aria-expanded="false" tabindex="0">
                <div class="controls" data-tracking="prop36" data-tracking-value="Surface Transport 2006-2016-2006"><span class="visually-hidden">Toggle accordion</span></div>
                <div id="2006-heading" class="accordion-heading">2006</div>
            </div>
            <div id="2006-content" class="start-hidden" role="region" aria-labelledby="2006-heading">

        <h3>4 October </h3>
        <p><a href="/cdn/static/cms/documents/PublicAgenda201006.rtf">Agenda - RTF version (RTF 24KB)</a><br />
        <a href="/cdn/static/cms/documents/AgendaPapers201006.pdf">Agenda and Papers (PDF 534KB)</a></p>
        <h3>31 May </h3>
        <p><a href="/cdn/static/cms/documents/Agenda-31-05-06.rtf">Agenda (PDF 72KB)</a><br />
        <a href="/cdn/static/cms/documents/Agenda-and-Papers-SAP-31-05-06.pdf">Agenda and Papers (PDF 3.85MB)</a></p>
    

            </div>
        </div>
    </div>
 
</div>
 
      
        
          
        
      
    
  </div>
  <div class="aside" role="complementary">

   
    
    
    
      <div data-set="sidenav-container" class="large">
        
        
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
                <a href="/corporate/publications-and-reports/customer-service-op-performance" class="heading">
                    <h2 id="sub-menu-heading">Customer service & Op performance<span class="visually-hidden"> navigation</span></h2>
                </a>
                <ul>
                    
                                <li><div class="link-wrapper"><a href="/corporate/publications-and-reports/cs-and-op-performance-past-years">Papers - past years</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/corporate/publications-and-reports/rail-and-underground-past-years">Rail & Underground 2006-2016</a></div></li>
                            
 
                                <li class="selected"><div class="link-wrapper"><a href="/corporate/publications-and-reports/surface-transport-past-years">Surface Transport 2006-2016</a></div>
                            </li>
 
                </ul>
            
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
      </div>
    
    <div>




















<div class="advert-tile unsponsored-style google-ads" aria-hidden="true">
  <div class="advert-link">
    <div class="advert-content">
        <div class="medium-large" data-advert="/76889402/non-targeted" data-advert-sizes="300, 250"></div>
        <div class="small" data-advert="/76889402/non-targeted" data-advert-sizes="300, 250"></div>
    </div>
  </div>
</div>
@{
    ViewBag.AmazonSlot = "'amznslots'";
    ViewBag.AmazonAds = "'3199'"; // to add another value, this needs to be ViewBag.AmazonAds = "'3199','xx'";
}
      

 </div>
    
    <div data-set="sidenav-container" class="small-medium"></div>
  </div>
</div>
 
 
        
        
        
            @{ViewBag.Description = "Surface Transport panel meeting documents from 2016 and earlier covering topics such as pedestrian countdown, freight, taxis and cycling";}
        
            
        


 