
    
  



@{ViewBag.Title = "Taxi & private hire";}
@{ViewBag.Keywords = "Public,Taxi and private hire,P,T,Corporate information,Taxis and minicabs,TfL";}
@{ViewBag.Url = "/corporate/publications-and-reports/taxi-and-private-hire";}
@{ViewBag.Language = "en";}
        <!-- empty placeholder -->
 
        
        
<div class="r">
    <div class="breadcrumb-container" role="navigation">
        <span id="breadcrumb-label" class="visually-hidden">You are here:</span>
        <ol class="breadcrumbs clearfix" aria-labelledby="breadcrumb-label">
            <li class="home">
                <a href="/">
                    <span class="hide-text">Home</span>
                </a>
            </li>
            
                 <li><a href="/corporate/publications-and-reports/index">Publications & reports</a></li>
                
            
            
                <li><span class="last-breadcrumb">Taxi & private hire</span></li>
            
        
 
        
 
        </ol>
    </div>
</div>
     
 
<div class="r">
  <div class="headline-container plain">
    <h1>Taxi & private hire</h1>

  </div>
</div>
<div class="main-and-aside r">
  
  <div class="main content-container" role="main">
    
      <div class="article-teaser">
        Policy, guidance, regulations and legislation for the London taxi and private hire industry.
        
      </div>
    
    <div class="on-this-page">
      
      
           
      
<div>



<h2>London Taxi Sharing Scheme Orders - taxis</h2>



<div class="multi-document-download-container">
    

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/london-taxi-sharing-scheme-order-2005-consolidated-june-2019.pdf">
    <div class="document-download-text">
        <p>London Taxi Sharing Scheme Order 2005 (consolidated June 2019)</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 258KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.25 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/london-taxi-sharing-scheme-order-2018.pdf">
    <div class="document-download-text">
        <p>London Taxi Sharing Scheme Order 2018</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 5.46MB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 5.46 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/london-taxi-sharing-scheme-amendment-order-2014.pdf">
    <div class="document-download-text">
        <p>London Taxi Sharing Scheme (amendment) Order 2014</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 399KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.39 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/london-taxi-sharing-scheme-amendment-order-2012.pdf">
    <div class="document-download-text">
        <p>London Taxi Sharing Scheme (amendment) Order 2012</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 755KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.74 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/london-taxi-sharing-scheme-order-2010.pdf">
    <div class="document-download-text">
        <p>London Taxi Sharing Scheme Order 2010</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 6.03MB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 6.03 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/london-taxi-sharing-scheme-order-2005-original-as-made.pdf">
    <div class="document-download-text">
        <p>London Taxi Sharing Scheme Order 2005 (original as made)</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 2.83MB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 2.83 -->
 
</div>

</div>
 
<div>



<h2>London Cab Orders - taxis</h2>



<div class="multi-document-download-container">
    

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/london-cab-order-2019-taxi-fares.pdf">
    <div class="document-download-text">
        <p>London Cab Order 2019 (taxi fares and tariffs)</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 794KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.78 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/london-cab-order-1934-consolidated-may-2019.pdf">
    <div class="document-download-text">
        <p>London Cab Order 1934 (consolidated May 2019)</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 456KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.45 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/london-cab-order-2018-fare-tariff.pdf">
    <div class="document-download-text">
        <p>London Cab Order 2018 (fare tariff)</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 708KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.69 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/london-cab-order-2017-fare-tariff.pdf">
    <div class="document-download-text">
        <p>London Cab Order 2017 (fare tarriff)</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 689KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.67 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/london-cab-order-2016-fare-tariff-and-card-mandate.pdf">
    <div class="document-download-text">
        <p>London Cab Order 2016 (fare tariff and card mandate)</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 1.08MB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 1.08 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/london-cab-order-no-2-2016-immigration-act.pdf">
    <div class="document-download-text">
        <p>London Cab Order (No 2) 2016 (immigration act)</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 2.76MB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 2.76 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/london-cab-order-2014-fare-tariff-and-booking-fee.pdf">
    <div class="document-download-text">
        <p>London Cab Order 2014 (fare tariff and booking fee)</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 87KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.09 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/london-cab-order-2012-driver-identifiers.pdf">
    <div class="document-download-text">
        <p>London Cab Order 2012 (driver identifiers)</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 59KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.06 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/london-cab-mot-test-requirements-no-3-order-2012-second-mot-test-requirement.pdf">
    <div class="document-download-text">
        <p>London Cab (MOT Test Requirements (No 3) Order 2012 (second MOT test requirement)</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 75KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.07 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/london-fixed-fares-cab-order-2010-fixed-fare-arrangements.pdf">
    <div class="document-download-text">
        <p>London (Fixed Fares) Cab Order 2010 (fixed fare arrangements)</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 227KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.22 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/london-cab-order-2010-fare-tariff-taximeters-and-advertising.pdf">
    <div class="document-download-text">
        <p>London Cab Order 2010 (fare tariff, taximeters and advertising)</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 240KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.23 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/london-cab-order-no-2-2008-revocation-of-14o.pdf">
    <div class="document-download-text">
        <p>London Cab Order (No 2) 2008 (revocation of 14o)</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 163KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.16 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/london-cab-order-2007-fare-tariff-and-changes-to-taxi-licensing-rules.pdf">
    <div class="document-download-text">
        <p>London Cab Order 2007 (fare tariff and changes to taxi licensing rules)</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 387KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.38 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/london-cab-no-2-order-2001-fare-tariff-and-compellable-distance.pdf">
    <div class="document-download-text">
        <p>London Cab (No 2) Order 2001 (fare tariff and compellable distance)</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 48KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.05 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/london-cab-order-1934-modification-order-2000-2.pdf">
    <div class="document-download-text">
        <p>London Cab Order 1934 (modification order 2000)</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 93KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.09 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/london-cab-order-1972-heathrow-compellable-distance.pdf">
    <div class="document-download-text">
        <p>London Cab Order 1972 (Heathrow compellable distance)</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 86KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.08 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/london-cab-order-1934-original.pdf">
    <div class="document-download-text">
        <p>London Cab Order 1934 (original)</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 1.11MB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 1.11 -->
 
</div>

</div>
 
<div>



<h2>Policy & strategy</h2>



<div class="multi-document-download-container">
    

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/cross-border-hiring-proposals.pdf">
    <div class="document-download-text">
        <p>Cross border hiring: Proposals for legislative change</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 1.30MB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 1.30 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/private-hire-policy-statement.pdf">
    <div class="document-download-text">
        <p>Policy statement: Private hire services in London</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 164KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.16 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/taxi-and-private-hire-action-plan-2016.pdf">
    <div class="document-download-text">
        <p>Mayor of London: Taxi and private hire action plan 2016</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 684KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.67 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/tfl-suburban-action-plan.pdf">
    <div class="document-download-text">
        <p>Suburban action plan 2015</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 555KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.54 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/tfl-ranks-action-plan.pdf">
    <div class="document-download-text">
        <p>Ranks action plan 2015</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 3.59MB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 3.59 -->
 
</div>

</div>
 
<div>



<h2>General information</h2>



<div class="multi-document-download-container">
    

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/app-use-surveys-april-2017.pdf">
    <div class="document-download-text">
        <p>App use surveys - April 2017</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 1.23MB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 1.23 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/taxi-and-private-hire-ridesharing-focus-group-april-2017.pdf">
    <div class="document-download-text">
        <p>Taxi and private hire ridesharing focus group - April 2017</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 928KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.91 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/driver-diaries.pdf">
    <div class="document-download-text">
        <p>Taxi and minicab and chauffeur executive car driver diary surveys 2016 - 17</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 2.47MB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 2.47 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/disabled-taxi-and-private-hire-passenger-focus-group-nov-2016.pdf">
    <div class="document-download-text">
        <p>Disabled taxi and private hire passenger focus group - Nov 2016</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 1.28MB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 1.28 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/impact-of-taxi-and-private-hire-apps-focus-group-nov-2016.pdf">
    <div class="document-download-text">
        <p>Impact of taxi and private hire apps focus group - Nov 2016</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 1.24MB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 1.24 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/taxi-wait-time-surveys-nov-2016.pdf">
    <div class="document-download-text">
        <p>Taxi wait time surveys - Nov 2016 </p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 2.93MB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 2.93 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/on-street-passenger-surveys-nov-2016.pdf">
    <div class="document-download-text">
        <p>On-street passenger surveys - Nov 2016 </p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 2.30MB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 2.30 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/mystery-traveller-surveys-nov-2016.pdf">
    <div class="document-download-text">
        <p>Mystery traveller surveys - Nov 2016 </p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 984KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.96 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/dbs-update-service-leaflet-and-information.pdf">
    <div class="document-download-text">
        <p>DBS Update Service information</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 64KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.06 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/tph-guidance-for-developers.pdf">
    <div class="document-download-text">
        <p>Guidance for developers</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 85KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.08 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/safety-advice-for-drivers.pdf">
    <div class="document-download-text">
        <p>Safety advice for taxi and private hire drivers</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 88KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.09 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/smarter-driving.pdf">
    <div class="document-download-text">
        <p>Smarter driving</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 71KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.07 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/vehicle-licence-inspection-manual-v19.pdf">
    <div class="document-download-text">
        <p>Taxi and private hire vehicle licensing inspection manual</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 321KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.31 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/tfl-taxi-ranks-booklet.pdf">
    <div class="document-download-text">
        <p>Taxi ranks booklet</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 974KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.95 -->
 
</div>

</div>
 
<div>



<h2>Advertising, signage and branding</h2>



<div class="multi-document-download-container">
    

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/ltph-branding-standard-for-ph-operators-issue03.pdf">
    <div class="document-download-text">
        <p>Branding standard for licensed private hire operators</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 2.04MB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 2.04 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/phv-operator-branding-guidance.pdf">
    <div class="document-download-text">
        <p>Operator branding standard</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 3.60MB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 3.60 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/taxi-advertising-and-phv-signage-guidelines-2019.pdf">
    <div class="document-download-text">
        <p>Taxi advertising and private hire vehicle signage guidelines</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 318KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.31 -->
 
</div>

</div>
 
<div>



<h2>Greener vehicles and cleaner air</h2>



<div class="multi-document-download-container">
    

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/alternative-fuels-version-2.pdf">
    <div class="document-download-text">
        <p>Alternative fuels for taxi and private hire vehicles - guidelines</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 255KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.25 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/mayors-air-quality-strategy.pdf">
    <div class="document-download-text">
        <p>Mayor of London's air quality strategy (guidance)</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 84KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.08 -->
 
</div>

</div>
 
<div>



<h2>Vehicle modifications and approved devices - general</h2>



<div class="multi-document-download-container">
    

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/additional-equipment-in-taxis-and-private-hire-vehicles-2015.pdf">
    <div class="document-download-text">
        <p>Approval process for additional equipment and modifications in taxis and private hire vehicles</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 57KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.06 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/approved-cctv-and-incident-recording-devices.pdf">
    <div class="document-download-text">
        <p>CCTV and incident recording - approved devices</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 105KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.10 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/guidelines-for-cctv-in-taxis-and-phvs.pdf">
    <div class="document-download-text">
        <p>CCTV guidelines for taxis and private hire vehicles</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 256KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.25 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/electronic-payment-devices-in-taxis-and-private-hire-vehicles.pdf">
    <div class="document-download-text">
        <p>Electronic payment devices in taxis and private hire vehicles</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 181KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.18 -->
 
</div>

</div>
 
<div>



<h2>Vehicle modifications and approved devices - taxis</h2>



<div class="multi-document-download-container">
    

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/guidlines-for-displaying.pdf">
    <div class="document-download-text">
        <p>Displaying stickers and official signs in London taxis</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 159KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.15 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/electrical-equipment-for-use-in-licensed-london-taxis.pdf">
    <div class="document-download-text">
        <p>Electrical equipment for use in London taxis</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 85KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.08 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/electronic-display-screens-in-licensed-london-taxis.pdf">
    <div class="document-download-text">
        <p>Electronic display screens in taxis</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 75KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.07 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/guidelines-for-change-of-chassis-body-to-approved-london-taxis-v6.pdf">
    <div class="document-download-text">
        <p>Guidelines for change of chassis/body to TfL-approved London taxis</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 67KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.07 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/taximeter-printer-equipment-in-taxis-september.pdf">
    <div class="document-download-text">
        <p>Guidelines for taximeter printer equipment in taxis</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 34KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.03 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/seating-carpeting-headlining-materials.pdf">
    <div class="document-download-text">
        <p>Seating, carpeting and headlining in London taxis</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 87KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.09 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/guidelines-for-sound-systems-taxi-v3-181219.pdf">
    <div class="document-download-text">
        <p>Sound systems in taxis</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 136KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.13 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/taximeter-installation-service-centres.pdf">
    <div class="document-download-text">
        <p>Taximeter installation service centres</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 60KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.06 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/taxi-meters-and-receipt-printers.pdf">
    <div class="document-download-text">
        <p>Taximeters and receipt printers</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 59KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.06 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/taximeter-specification-1.pdf">
    <div class="document-download-text">
        <p>Taximeter specification</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 196KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.19 -->
 
</div>

</div>
 
<div>



<h2>Vehicle modifications and approved devices - private hire vehicles</h2>



<div class="multi-document-download-container">
    

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/guidelines-for-aftermarket-electronic-devices-for-phv.pdf">
    <div class="document-download-text">
        <p>Aftermarket electronic devices for private hire vehicles</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 58KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.06 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/driver-safety-partition-screens-in-private-hire-vehicles.pdf">
    <div class="document-download-text">
        <p>Driver protection and safety shields in private hire vehicles</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 165KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.16 -->
 
</div>

</div>
 
<div>



<h2>Legislation and guidance - taxis</h2>



<div class="multi-document-download-container">
    

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/london-taxi-sharing-conversion-tables.pdf">
    <div class="document-download-text">
        <p>Fixed fare shared taxi conversion table</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 109KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.11 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/obtaining-a-taxi-vehicle-licence.pdf">
    <div class="document-download-text">
        <p>Obtaining a taxi vehicle licence</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 257KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.25 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/responsibilities-of-the-licensee.pdf">
    <div class="document-download-text">
        <p>Responsibilities of taxi vehicle licensees</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 251KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.25 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/taxi-conditions-of-fitness-update-2019.pdf">
    <div class="document-download-text">
        <p>Taxi - conditions of fitness</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 303KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.30 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/taxi-drivers-abstract-of-laws.pdf">
    <div class="document-download-text">
        <p>Taxi driver - abstract of laws</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 299KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.29 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/what-to-do-following-an-inspection-failure.pdf">
    <div class="document-download-text">
        <p>Taxi licensing inspection - what to do following an inspection failure</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 278KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.27 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/taxi-rank-suspension-policy.pdf">
    <div class="document-download-text">
        <p>Taxi rank suspension policy</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 51KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.05 -->
 
</div>

</div>
 
<div>



<h2>Legislation and guidance - private hire drivers</h2>



<div class="multi-document-download-container">
    

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/phv-london-drivers-licences-regulations-2003-consolidated-may-2019.pdf">
    <div class="document-download-text">
        <p>The Private Hire Vehicles (London PHV Driver's Licences) Regulations 2003 - (Conslidated May 2019)</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 210KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.21 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/phvs-london-phv-drivers-licences-amendment-regulations-2019-english-language-implementation-date.pdf">
    <div class="document-download-text">
        <p>Private Hire Vehicles (London PHV Driver's licences) (Amendment) Regulations 2019 (English language requirement implementation date)</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 412KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.40 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/phvs-london-phv-drivers-licences-amendment-regulations-no-2-2016-english-language-requirement.pdf">
    <div class="document-download-text">
        <p>Private Hire Vehicles (London PHV Driver's Licences) Regulations (No 2) 2016 (English language requirement)</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 832KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.81 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/phvs-london-phv-drivers-licences-amendment-regulations-2009-physical-fitness-requirement.pdf">
    <div class="document-download-text">
        <p>Private Hire Vehicles (London PHV Driver's Licences) (Amendment) Regulations 2009 (Physical fitness requirement)</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 187KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.18 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/phvs-london-phv-drivers-licences-regulations-2003-original-as-made.pdf">
    <div class="document-download-text">
        <p>Private Hire Vehicles (London PHV Driver's Licences) Regulations 2003 (Original as made)</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 19KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.02 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/phv-driver-abstract-of-laws.pdf">
    <div class="document-download-text">
        <p>Private hire drivers - abstract of laws</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 200KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.20 -->
 
</div>

</div>
 
<div>



<h2>Legislation and guidance - private hire vehicles</h2>



<div class="multi-document-download-container">
    

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/phv-london-phv-licences-regulations-2004-consolidated-may-2019.pdf">
    <div class="document-download-text">
        <p>The Private Hire Vehicles (London PHV Licences) Regulations 2004 - (Consolidated May 2019)</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 191KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.19 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/phvs-london-phv-licences-amendment-regulations-2017-licence-fees.pdf">
    <div class="document-download-text">
        <p>Private Hire Vehicles (London PHV licences) (Amendment) Regulations 2017 (licence fees)</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 492KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.48 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/phvs-london-phv-licences-amendment-regulations-2016-signs-notices-insurance.pdf">
    <div class="document-download-text">
        <p>Private Hire Vehicles (London PHV licences) (Amendment) Regulations2016 (signs, notices, insurance etc.)</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 717KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.70 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/phvs-london-phv-licences-amendment-regulations-2015-age-limits-and-emission-standards.pdf">
    <div class="document-download-text">
        <p>Private Hire Vehicles (London PHV licences) (Amendment) Regulations 2015 (age limits and emission standards)</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 1.33MB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 1.33 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/phvs-london-phv-licences-amendment-regulations-2007-signs-notices-etc.pdf">
    <div class="document-download-text">
        <p>Private Hire Vehicles (London PHV licences) (Amendment) Regulations 2007 (signs, notices, etc.)</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 44KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.04 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/phvs-london-phv-licences-regulations-2004-original.pdf">
    <div class="document-download-text">
        <p>Private Hire Vehicles (London PHV licences) Regulations 2004 (original)</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 3.21MB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 3.21 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/responsibilities-of-a-phv-licensee.pdf">
    <div class="document-download-text">
        <p>Responsibilities of a private hire vehicle licensee</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 151KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.15 -->
 
</div>

</div>
 
<div>



<h2>Legislation and guidance - private hire operators</h2>



<div class="multi-document-download-container">
    

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/phvs-london-operators-licences-amendment-regulations-no-2-2017-licence-fees-and-tiers.pdf">
    <div class="document-download-text">
        <p>Private Hire Vehicles (London Operator licences)  (Amendment) Regulations (No 2)  (licence fees and tiers)</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 288KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.28 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/phvs-london-operators-licences-amendment-regulations-no-2-2016-operating-model-changes.pdf">
    <div class="document-download-text">
        <p>Private Hire Vehicles (London Operators licences) (Amendment) Regulations (No 2) 2016 (operating model changes)</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 424KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.41 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/phvs-london-operators-licences-regulations-2000-original.pdf">
    <div class="document-download-text">
        <p>Private Hire Vehicles (London Operators licences) Regulations 2000 (original)</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 615KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.60 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/phvs-london-operators-licences-amendment-regulations-2011-mot-test-certificates.pdf">
    <div class="document-download-text">
        <p>Private Hire Vehicles (London Operator licences) (Amendment) Regulations 2011 (MOT test certificates)</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 37KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.04 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/phvs-london-operators-licences-amendment-regulations-2010-variation-fees.pdf">
    <div class="document-download-text">
        <p>Private Hire Vehicles (London Operators Licences) (Amendment) Regulations 2010 (variation fees)</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 374KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.37 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/phvs-london-operators-licences-amendment-regulations-2009-mental-health-act-amendment.pdf">
    <div class="document-download-text">
        <p>Private Hire Vehicles (London Operators Licences) (Amendment) Regulations 2009 (Mental Health Act)</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 167KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.16 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/phvs-london-operator-licences-amendment-regulations-keep-copies.pdf">
    <div class="document-download-text">
        <p>Private Hire Vehicles (London Operators Licenses) (Amendment) Regulations 2004 (requirement to keep copy of vehicle licences)</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 41KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.04 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/phv-102.pdf">
    <div class="document-download-text">
        <p>Operator licensing guidance notes (PHV/102)</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 497KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.49 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/2019-05-ph-operator-pdp-guidance.pdf">
    <div class="document-download-text">
        <p>Privacy & data protection guideline for private hire operators</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 285KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.28 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/private-hire-operators-abstract-of-laws.pdf">
    <div class="document-download-text">
        <p>Private hire operators - abstract of laws</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 202KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.20 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/phv-london-operators-licences-regulations-2000-consolidated-may-2019.pdf">
    <div class="document-download-text">
        <p>Private Hire Vehicles (London) (Operators' Licences) Regulations 2000 (consolidated in May 2019)</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 263KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.26 -->
 
</div>

</div>
 
<div>



<h2>Third party data protection requests</h2>


<p>All requests for third party information need to be submitted on the attached PDF TPH/211 form, which can be completed electronically in Adobe Reader.</p>

<p>Under data protection legislation, TfL is only allowed to share personal information if there is a proper reason or 'legal basis' to do so. For a full understanding of the circumstances in which we might disclose to a third party please visit our taxi and private hire pages on <a href="https://tfl.gov.uk/corporate/privacy-and-cookies/taxi-and-private-hire#on-this-page-3">privacy and personal information</a>.</p>
<div class="multi-document-download-container">
    

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/tph-211-data-protection-act-form-feb-2020.pdf">
    <div class="document-download-text">
        <p>TPH/211 Data Protection Act Form </p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 321KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.31 -->
 
</div>

</div>
 
      
        
          
            @this.ScriptBlock(
              @<script>
                queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
              </script>
            )
          
        
      
    </div>
  </div>
  <div class="aside" role="complementary">

   
    
    
    
      <div data-set="sidenav-container" class="large">
        
        
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
      </div>
    
    <div></div>
    
      <div class="module-grid clearfix">
                    
        <div class="related-links">

    <h3>Also on this site</h3>

<div class="vertical-button-container">

<a href="/info-for/taxis-and-private-hire/index" class="plain-button">Taxi &amp; private hire</a>
<a href="/modes/taxis-and-minicabs/index" class="plain-button">Taxis &amp; minicabs</a>
    </div>
</div>
 
      </div>
    
    <div data-set="sidenav-container" class="small-medium"></div>
  </div>
</div>
 
 
        
        
        
            @{ViewBag.Description = "General information aimed at taxi and private hire drivers, owners and operators";}
        
            
        


 