
    
  



@{ViewBag.Title = "Temple to South Bank footbridge";}
@{ViewBag.Keywords = "Boroughs,Pedestrians,Planning and construction,Public,G,T,Lambeth,Westminster,Contract,Corporate information,Expenditure,River,Walking,TfL";}
@{ViewBag.Url = "/corporate/publications-and-reports/temple-footbridge";}
@{ViewBag.Language = "en";}
        <!-- empty placeholder -->
 
        
        
<div class="r">
    <div class="breadcrumb-container" role="navigation">
        <span id="breadcrumb-label" class="visually-hidden">You are here:</span>
        <ol class="breadcrumbs clearfix" aria-labelledby="breadcrumb-label">
            <li class="home">
                <a href="/">
                    <span class="hide-text">Home</span>
                </a>
            </li>
            
                 <li><a href="/corporate/publications-and-reports/index">Publications & reports</a></li>
                
            
            
                <li><span class="last-breadcrumb">Temple to South Bank footbridge</span></li>
            
        
 
        
 
        </ol>
    </div>
</div>
     
 
<div class="r">
  <div class="headline-container plain">
    <h1>Temple to South Bank footbridge</h1>

  </div>
</div>
<div class="main-and-aside r">
  
  <div class="main content-container" role="main">
    
      <div class="article-teaser">
        The Temple to South Bank footbridge was a project led by the Garden Bridge Trust to create a new pedestrian bridge in central London.
        
      </div>
    
    <div class="on-this-page">
      <p>Proposals for the footbridge, known as the Garden Bridge, received planning permission from Westminster City and Lambeth Councils in December 2014.</p>

<p>The Garden Bridge Trust was established as a charity with the primary purpose of building and maintaining the bridge.</p>

<p>Under direction from the previous Mayor of London, we commissioned the initial design work for the bridge, secured planning permission for the project, and&nbsp;made a &pound;30m commitment towards the cost of the bridge.</p>

<p>This&nbsp;was alongside a &pound;30m contribution from the Department for Transport (DfT). The remainder of the funding&nbsp;was to have been&nbsp;raised by the Garden Bridge Trust.</p>

<p>On 14 August 2017, the Garden Bridge Trust published its decision to terminate the project.</p>

<p>The DfT agreed in 2016 to underwrite any costs of the Trust if they were to terminate the project. We concluded in February 2019 that an initial DfT-funded payment of &pound;5m was legally required, with further expected contingency of up to &pound;500,000.</p>

<p><strong>Please note:</strong> If you need an accessible version of any of the documents below, please email <a href="mailto:PlanningFOI&#64;tfl.gov.uk">PlanningFOI&#64;tfl.gov.uk</a>.</p>
      
           
      
<div>



<h2>Dame Margaret Hodge MP review</h2>


<p>
On 22 September 2016, the Mayor of London Sadiq Khan announced that Dame Margaret Hodge MP, former chair of the Public Accounts Committee, would conduct a review into the Garden Bridge project. The Greater London Authority website includes <a href="https://www.london.gov.uk/press-releases/mayoral/review-to-be-conducted-into-garden-bridge-project">details of the Mayor's announcement</a>.</p>
<p>Dame Margaret's report was published by the Mayor on 7 April 2017, and is <a href="https://www.london.gov.uk/press-releases/mayoral/publication-of-garden-bridge-review">available on the GLA website</a>. Our draft response to Dame Margaret's review and a summary of the management actions we have taken in response to this and other reviews of the project were <a href="/corporate/publications-and-reports/board-papers/2017-board-papers">considered by our Board on 19 July 2017</a>.</p>
<p>The Garden Bridge Trust was required to get guarantees for the maintenance and operation of the bridge. The Mayor of London confirmed on 28 April 2017 that <a href="https://www.london.gov.uk/press-releases/mayoral/garden-bridge-project">the GLA would not be providing these guarantees</a>.</p>
<div class="multi-document-download-container">
    

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/mike-brown-margaret-hodge-correspondence-and-info-30092016-part1.pdf">
    <div class="document-download-text">
        <p>TfL's initial submission to Dame Margaret Hodge MP's review of the Garden Bridge, September 2016 (part 1) </p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 17.08MB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 17.08 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/mike-brown-margaret-hodge-correspondence-and-info-30092016-part2.pdf">
    <div class="document-download-text">
        <p>TfL's initial submission to Dame Margaret Hodge MP's review of the Garden Bridge, September 2016 (part 2) </p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 13.12MB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 13.12 -->
 
</div>

</div>
 
<div>



<h2>Garden Bridge Trust board minutes and correspondence</h2>



<div class="multi-document-download-container">
    

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/gb-gla-summons.pdf">
    <div class="document-download-text">
        <p>Response to GLA oversight committee summons for information, 13 February 2019</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 2.39MB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 2.39 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/tfl-gbt-correspondence-1mar18-4dec18.pdf">
    <div class="document-download-text">
        <p>Correspondence between TfL and the Garden Bridge Trust, 1 March to 4 December 2018</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 3.36MB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 3.36 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/garden-bridge-trust-board-minutes.pdf">
    <div class="document-download-text">
        <p>Garden Bridge Trust board minutes</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 10.84MB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 10.84 -->
 
</div>

</div>
 
<div>



<h2>Planning documents</h2>



<div class="multi-document-download-container">
    

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/garden-bridge-business-plan-march-2016.pdf">
    <div class="document-download-text">
        <p>Garden Bridge Trust Draft Operations and Maintenance business plan, March 2016</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 1.32MB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 1.32 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/garden-bridge-strategic-outline-business-case.pdf">
    <div class="document-download-text">
        <p>Strategic outline business case</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 4.53MB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 4.53 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/garden-bridge-summary-public-benefits.pdf">
    <div class="document-download-text">
        <p>Garden Bridge Trust: summary of public benefits</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 152KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.15 -->
 
</div>
<p><a href="http://planning.lambeth.gov.uk/online-applications/applicationDetails.do?activeTab=summary&amp;keyVal=N6L7ZNBO02E00">View the planning application and decision notice on Lambeth Council's website</a>. (Reference code 14/02792/FUL)</p>
<p><a href="http://idoxpa.westminster.gov.uk/online-applications/applicationDetails.do?activeTab=summary&amp;keyVal=N6CFMORPG1700">View the planning application and decision notice on Westminster Council's website</a>. (Reference code 14/05095/FULL)</p>
</div>
 
<div>



<h2>Mayoral directions and funding</h2>



<div class="multi-document-download-container">
    

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/gbt-costs-breakdown.pdf">
    <div class="document-download-text">
        <p>Detailed breakdown of project costs</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 165KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.16 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/gbt-assessment-letter.pdf">
    <div class="document-download-text">
        <p>Letter to the Garden Bridge Trust confirming underwriting payment, February 2019</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 175KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.17 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/gb-underwriting-payment-approval.pdf">
    <div class="document-download-text">
        <p>Approval of underwriting payment to Garden Bridge Trust</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 1.47MB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 1.47 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/gbt-claim-evidence-pt1.pdf">
    <div class="document-download-text">
        <p>Evidence supplied by the Garden Bridge Trust in support of underwriting claim (part 1)</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 18.59MB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 18.59 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/gbt-claim-evidence-pt2.pdf">
    <div class="document-download-text">
        <p>Evidence supplied by the Garden Bridge Trust in support of underwriting claim (part 2)</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 18.33MB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 18.33 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/gbt-claim-evidence-pt3.pdf">
    <div class="document-download-text">
        <p>Evidence supplied by the Garden Bridge Trust in support of underwriting claim (part 3)</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 19.30MB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 19.30 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/gbt-claim-evidence-pt4.pdf">
    <div class="document-download-text">
        <p>Evidence supplied by the Garden Bridge Trust in support of underwriting claim (part 4)</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 18.85MB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 18.85 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/gbt-claim-evidence-pt5.pdf">
    <div class="document-download-text">
        <p>Evidence supplied by the Garden Bridge Trust in support of underwriting claim (part 5)</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 12.94MB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 12.94 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/gb-public-spend-sept16.pdf">
    <div class="document-download-text">
        <p>Public spend on the project, September 2016</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 17KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.02 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/garden-bridge-funding-august-2016.pdf">
    <div class="document-download-text">
        <p>Breakdown of Garden Bridge funding to date, August 2016</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 296KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.29 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/tfl-gb-expenditure-31-august-2016.pdf">
    <div class="document-download-text">
        <p>Breakdown of TfL expenditure on the Garden Bridge, August 2016</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 23KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.02 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/tfl-gbt-funding-agreements-and-variations.pdf">
    <div class="document-download-text">
        <p>TfL funding agreements with the Garden Bridge Trust</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 6.94MB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 6.94 -->
 
</div>
<p>From the Greater London Authority website:</p>
<p><a href="https://www.london.gov.uk/decisions/md2120-revoking-approvals-respect-garden-bridge-project">MD2120 Revoking of approvals in respect of the Garden Bridge project - May 2017</a> </p>
<p><a href="https://www.london.gov.uk/decisions/md1647-garden-bridge-guarantees">MD1647 Garden Bridge guarantees - April 2016</a></p>
<p><a href="https://www.london.gov.uk/decisions/md1472-garden-bridge-guarantees">MD1472 Garden Bridge guarantees - June 2015</a> </p>
<p><a href="https://www.london.gov.uk/decisions/md1355-garden-bridge-development-proposals">MD1355 Garden Bridge development proposals - June 2014</a> </p>
<p><a href="https://www.london.gov.uk/decisions/md1248-temple-south-bank-footbridge-development-proposals">MD1248 Temple to South Bank footbridge development proposals - September 2013</a> </p>
</div>
 
<div>



<h2>Procurement and scrutiny</h2>



<div class="multi-document-download-container">
    

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/gb-summons-may2019.pdf">
    <div class="document-download-text">
        <p>Response to GLA Oversight Committee summons, May 2019</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 23.06MB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 23.06 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/len-duvall-mike-brown-nov-2017.pdf">
    <div class="document-download-text">
        <p>Correspondence between Len Duvall AM (Chair of the GLA Oversight Committee) and the Commissioner of Transport, November 2017</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 699KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.68 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/commissioner-response-gla-oversight-report.pdf">
    <div class="document-download-text">
        <p>Response from the Commissioner of Transport to the GLA Oversight Committee's report, May 2016 </p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 920KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.90 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/mayor-response-gla-oversight-report.pdf">
    <div class="document-download-text">
        <p>Response from the previous Mayor of London to the GLA Oversight Committee's report, May 2016 </p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 227KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.22 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/gla-oversight-garden-bridge-report.pdf">
    <div class="document-download-text">
        <p>Report by the GLA Oversight Committee on the Garden Bridge design procurement, March 2016</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 637KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.62 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/len-duvall-keith-williams-correspondence.pdf">
    <div class="document-download-text">
        <p>Correspondence between Len Duvall AM (Chair of the GLA Oversight Committee) and Keith Williams (Chair of TfL's Audit and Assurance Committee), March 2016</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 1.48MB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 1.48 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/riba-mayor-commissioner-correspondence.pdf">
    <div class="document-download-text">
        <p>Correspondence between the previous Mayor of London, the Commissioner of Transport and the President of the Royal Institute of British Architects (RIBA), February 2016</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 1.02MB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 1.02 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/audit-of-the-procurement-of-design-and-development-services-accessible.pdf">
    <div class="document-download-text">
        <p>Audit of procurement of design and development services for the Temple to South Bank Footbridge Project, September 2015</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 117KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.11 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/arup-call-off-contract-schedule-july-2013.pdf">
    <div class="document-download-text">
        <p>Call off contract with Ove Arup & Partners for engineering and project management services, July 2013</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 261KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.26 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/heatherwick-studio-design-services-contract-may-2013.pdf">
    <div class="document-download-text">
        <p>Contract with Heatherwick Studio for bridge design services, May 2013</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 1.44MB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 1.44 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/mini-comp-itt-design-brief-and-concepts.pdf">
    <div class="document-download-text">
        <p>Mini-competition instructions to tenderers for engineering and project management services; technical brief for consultancy services; and initial design concepts, April 2013</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 2.00MB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 2.00 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/award-letter-heatherwick-studio.pdf">
    <div class="document-download-text">
        <p>Award letter to Heatherwick Studio for bridge design services, March 2013</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 133KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.13 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/itt-bridge-design-services.pdf">
    <div class="document-download-text">
        <p>Invitation to tender for bridge design consultancy services, February 2013</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 360KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.35 -->
 
</div>

</div>
 
      
        
          
            @this.ScriptBlock(
              @<script>
                queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
              </script>
            )
          
        
      
    </div>
  </div>
  <div class="aside" role="complementary">

   
    
    
    
      <div data-set="sidenav-container" class="large">
        
        
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
      </div>
    
    <div>
















<div class="advert-tile unsponsored-style google-ads" aria-hidden="true">
  <div class="advert-link">
    <div class="advert-content">
        <div class="medium-large" data-advert="/76889402/non-targeted" data-advert-sizes="300, 250"></div>
        <div class="small" data-advert="/76889402/non-targeted" data-advert-sizes="300, 250"></div>
    </div>
  </div>
</div>
@{
    ViewBag.AmazonSlot = "'amznslots'";
    ViewBag.AmazonAds = "'3199'"; // to add another value, this needs to be ViewBag.AmazonAds = "'3199','xx'";
}
      

 </div>
    
    <div data-set="sidenav-container" class="small-medium"></div>
  </div>
</div>
 
 
        
        
        
            @{ViewBag.Description = "The project was terminated by the Garden Bridge Trust in August 2017";}
        
            
        


 