
    
  



@{ViewBag.Title = "Ticket system performance";}
@{ViewBag.Keywords = "Bus passengers,DLR passengers,Public,Rail passengers,Tram passengers,Tube passengers,T,Performance,Ticketing,Buses,London Overground,Trams,Tube,TfL";}
@{ViewBag.Url = "/corporate/publications-and-reports/ticket-system-performance";}
@{ViewBag.Language = "en";}
        <!-- empty placeholder -->
 
        
        
<div class="r">
    <div class="breadcrumb-container" role="navigation">
        <span id="breadcrumb-label" class="visually-hidden">You are here:</span>
        <ol class="breadcrumbs clearfix" aria-labelledby="breadcrumb-label">
            <li class="home">
                <a href="/">
                    <span class="hide-text">Home</span>
                </a>
            </li>
            
                 <li><a href="/corporate/publications-and-reports/index">Publications & reports</a></li>
                
            
            
                <li><span class="last-breadcrumb">Ticket system performance</span></li>
            
        
 
        
 
        </ol>
    </div>
</div>
     
 
<div class="r">
  <div class="headline-container plain">
    <h1>Ticket system performance</h1>

  </div>
</div>
<div class="main-and-aside r">
  
  <div class="main content-container" role="main">
    
      <div class="article-teaser">
        This table shows the availability of ticket machines, ticket gates and yellow card readers at the point of Travelcard or pay as you go purchase or at the point of travel. 
        
      </div>
    
    <div class="on-this-page">
      
      
           
      
<div>





<div class="multi-document-download-container">
    

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/tfl-ticket-system-performance-2019-20-periods-7-8-9.pdf">
    <div class="document-download-text">
        <p>Ticket system performance 2019/20 periods 7, 8 and 9</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 50KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.05 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/tfl-ticket-system-performance-2019-20-periods-4-5-6.pdf">
    <div class="document-download-text">
        <p>Ticket system performance 2019/20 periods 4,5 and 6</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 50KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.05 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/tfl-ticket-system-performance-2019-20-periods-1-2-3.pdf">
    <div class="document-download-text">
        <p>Ticket system performance 2019/20 periods 1, 2 and 3</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 65KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.06 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/tfl-ticket-system-performance-2018-19-periods-10-11-12-13.pdf">
    <div class="document-download-text">
        <p>Ticket system performance 2018/19 periods 10, 11, 12 and 13</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 119KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.12 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/ticket-system-performance-2018-19-periods-7-8-9.pdf">
    <div class="document-download-text">
        <p>Ticket system performance 2018/19 periods 7, 8 and 9</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 69KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.07 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/n-tfl-ticket-system-performance-2018-19-periods-4-5-6.pdf">
    <div class="document-download-text">
        <p>Ticket system performance 2018/19 periods 4, 5 and 6</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 113KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.11 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/tfl-ticket-system-performance-2018-19-periods-1-2-3.pdf">
    <div class="document-download-text">
        <p>Ticket system performance 2018/19 periods 1, 2 and 3</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 80KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.08 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/tfl-ticket-system-performance-2017-18-periods-11-12-13.pdf">
    <div class="document-download-text">
        <p>Ticket system performance 2017/18 periods 11, 12 and 13</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 67KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.07 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/tfl-ticket-system-performance-2017-18-periods-7-8-9-10.pdf">
    <div class="document-download-text">
        <p>Ticket system performance 2017/18 periods 7, 8, 9 and 10</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 116KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.11 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/tfl-ticket-system-performance-2017-18-periods-4-5-6.pdf">
    <div class="document-download-text">
        <p>Ticket system performance 2017/18 periods 4, 5 and 6</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 59KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.06 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/tfl-ticket-system-performance-2017-18-periods-1-2-3.pdf">
    <div class="document-download-text">
        <p>Ticket system performance 2017/18 periods 1, 2 and 3</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 82KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.08 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/tfl-ticket-system-performance-2016-17-periods-7-8-9.pdf">
    <div class="document-download-text">
        <p>Ticket system performance 2016/17 periods 7, 8 and 9</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 113KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.11 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/tfl-ticket-system-performance-2016-17-periods-4-5-6.pdf">
    <div class="document-download-text">
        <p>Ticket system performance 2016/17 periods 4, 5 and 6</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 196KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.19 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/tfl-ticket-system-performance-2016-17-periods-1-2-3.pdf">
    <div class="document-download-text">
        <p>Ticket system performance 2016/17 periods 1, 2 and 3</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 255KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.25 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/tfl-ticket-system-performance-2015-16-periods-10-11-12-13.pdf">
    <div class="document-download-text">
        <p>Ticket system performance 2015/16 periods 10, 11, 12 and 13</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 42KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.04 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/ticket-system-performance-2015-16-periods-7-8-9.pdf">
    <div class="document-download-text">
        <p>Ticket system performance 2015/16 periods 7, 8 and 9</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 42KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.04 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/ticket-system-performance-2014-15-periods-7-8-9.pdf">
    <div class="document-download-text">
        <p>Ticket system performance 2014/15 periods 7, 8 and 9</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 154KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.15 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/ticket-system-performance-2014-15-periods-4-6.pdf">
    <div class="document-download-text">
        <p>Ticket system performance 2014/15 periods 4, 5, 6</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 144KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.14 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/ticket-system-performance-2014-15.pdf">
    <div class="document-download-text">
        <p>Ticket system performance 2014/15, periods 1, 2, 3</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 140KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.14 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/ticket-system-performance-2013-14.pdf">
    <div class="document-download-text">
        <p>Ticket system performance 2013/14</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 193KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.19 -->
 
</div>

</div>
 
      
        
          
            @this.ScriptBlock(
              @<script>
                queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
              </script>
            )
          
        
      
    </div>
  </div>
  <div class="aside" role="complementary">

   
    
    
    
      <div data-set="sidenav-container" class="large">
        
        
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
      </div>
    
    <div>
















<div class="advert-tile unsponsored-style google-ads" aria-hidden="true">
  <div class="advert-link">
    <div class="advert-content">
        <div class="medium-large" data-advert="/76889402/non-targeted" data-advert-sizes="300, 250"></div>
        <div class="small" data-advert="/76889402/non-targeted" data-advert-sizes="300, 250"></div>
    </div>
  </div>
</div>
@{
    ViewBag.AmazonSlot = "'amznslots'";
    ViewBag.AmazonAds = "'3199'"; // to add another value, this needs to be ViewBag.AmazonAds = "'3199','xx'";
}
      

 </div>
    
      <div class="module-grid clearfix">
                    
        <div class="related-links">

    <h3>Also on this site</h3>

<div class="vertical-button-container">

<a href="/corporate/publications-and-reports/oyster-card" class="plain-button">Oyster  card reports</a>
<a href="/corporate/publications-and-reports/contactless-payment" class="plain-button">Contactless payment reports</a>
    </div>
</div>
 
      </div>
    
    <div data-set="sidenav-container" class="small-medium"></div>
  </div>
</div>
 
 
        
        
        
            @{ViewBag.Description = "Information about the availability of ticket machines, gates and yellow readers at the point of Travelcard and pay as you go purchase or at the point of travel";}
        
            
        


 