
    
  



@{ViewBag.Title = "Travel experience";}
@{ViewBag.Keywords = "Boroughs,Businesses,Public,T,Customer Research Library,Special reports,TfL";}
@{ViewBag.Url = "/corporate/publications-and-reports/travel-experience";}
@{ViewBag.Language = "en";}
        <!-- empty placeholder -->
 
        
        
<div class="r">
    <div class="breadcrumb-container" role="navigation">
        <span id="breadcrumb-label" class="visually-hidden">You are here:</span>
        <ol class="breadcrumbs clearfix" aria-labelledby="breadcrumb-label">
            <li class="home">
                <a href="/">
                    <span class="hide-text">Home</span>
                </a>
            </li>
            
                 <li><a href="/corporate/publications-and-reports/index">Publications & reports</a></li>
                
            
            
                <li><span class="last-breadcrumb">Travel experience</span></li>
            
        
 
        
 
        </ol>
    </div>
</div>
     
 
<div class="r">
  <div class="headline-container plain">
    <h1>Travel experience</h1>

  </div>
</div>
<div class="main-and-aside r">
  
  <div class="main content-container" role="main">
    
      <div class="article-teaser">
        We gather customer research on the travelling public's attitude to TfL and our reputation.
        
      </div>
    
    
      
    
      
           
      
<div>



<h2>Electric vehicles</h2>


<p>To explore the current landscape and attitudes of Blue Badge holders towards electric vehicles and plug-in hybrids and to assess potential adoption.</p>
<div class="multi-document-download-container">
    

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/electric-vehicles-summary.pdf">
    <div class="document-download-text">
        <p>Electric vehicles summary</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 31KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.03 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/electric-vehicles-report.pdf">
    <div class="document-download-text">
        <p>Electric vehicles report</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 1.35MB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 1.35 -->
 
</div>

</div>
 
<div>



<h2>Coach visitors survey</h2>


<p>To understand visitors' experiences and expectations on waiting / walking times and distances when visiting London by coach. The survey also measured interest in the park and glide concept.</p>
<div class="multi-document-download-container">
    

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/coach-visitors-summary.pdf">
    <div class="document-download-text">
        <p>Coach visitors summary</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 24KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.02 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/coach-visitors-report.pdf">
    <div class="document-download-text">
        <p>Coach visitors report</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 2.09MB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 2.09 -->
 
</div>

</div>
 
<div>



<h2>Westminster Pier qualitative research 2015</h2>


<p>To determine whether any changes are needed to the new London River Services wall image before further roll out.</p>
<div class="multi-document-download-container">
    

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/westminster-pier-qualitative-summary.pdf">
    <div class="document-download-text">
        <p>Westminster Pier qualitative research summary</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 35KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.03 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/westminster-pier-qualitative-report.pdf">
    <div class="document-download-text">
        <p>Westminster Pier qualitative report</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 768KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.75 -->
 
</div>

</div>
 
<div>



<h2>Travel Ambassador effectiveness at the Elephant & Castle roundabout</h2>


<p>To understand the effectiveness of the Travel Ambassadors at the Elephant &amp; Castle roadworks and to assess whether they should be rolled out to other works locations</p>
<div class="multi-document-download-container">
    

<a class="document-download-wrap pdf.pdf" href="/cdn/static/cms/documents/travel-ambassadors-summary.pdf.pdf">
    <div class="document-download-text">
        <p>Travel Ambassadors summary</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF.PDF 25KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.02 -->
 

<a class="document-download-wrap pdf.pdf" href="/cdn/static/cms/documents/travel-ambassador-report.pdf.pdf">
    <div class="document-download-text">
        <p>Travel Ambassadors report</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF.PDF 275KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.27 -->
 
</div>

</div>
 
<div>



<h2>Town centres 2014-15</h2>


<p>Contribution made by people using buses and other types of transport to the economic health and viability of town centres across London.</p>
<div class="multi-document-download-container">
    

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/town-centres-research-summary-2014-15.pdf">
    <div class="document-download-text">
        <p>Town centres report - summary</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 29KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.03 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/town-centres-report-2014-15.pdf">
    <div class="document-download-text">
        <p>Town centres report</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 9.90MB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 9.90 -->
 
</div>

</div>
 
<div>



<h2>Christmas Day travel</h2>


<p>Understand Londoners' travel behaviour on Christmas Day and the potential demand for buses.</p>
<div class="multi-document-download-container">
    

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/christmas-day-travel-summary.pdf">
    <div class="document-download-text">
        <p>Christmas Day travel - summary</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 32KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.03 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/christmas-day-bus-demand-report.pdf">
    <div class="document-download-text">
        <p>Christmas Day travel</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 721KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.70 -->
 
</div>

</div>
 
<div>



<h2>Blaze Laserlight trial</h2>


<p>To measure the success of the Blaze Laserlight trial from a user perspective and provide detailed feedback on the new safety feature.</p>
<div class="multi-document-download-container">
    

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/blaze-laserlight-summary.pdf">
    <div class="document-download-text">
        <p>Blaze laserlight trial - summary</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 39KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.04 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/blaze-laserlight-report.pdf">
    <div class="document-download-text">
        <p>Blaze laserlight report</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 1.72MB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 1.72 -->
 
</div>

</div>
 
<div>



<h2>Age 11-15 bus user survey winter 2015</h2>


<p>To better understand the profile of 11-15 year-old bus users in London and what could improve their London bus journeys.</p>
<div class="multi-document-download-container">
    

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/under-16-bus-user-summary.pdf">
    <div class="document-download-text">
        <p>Under 16 bus user summary</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 36KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.04 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/under-16-bus-users-report.pdf">
    <div class="document-download-text">
        <p>Under 16 bus users report</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 1.32MB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 1.32 -->
 
</div>

</div>
 
<div>



<h2>TfL digital bus innovations</h2>


<p>To explore whether the introduction of e-paper and digital screen technology improves the accuracy and reliability of information for London's bus users at the bus stop and on the bus.</p>
<div class="multi-document-download-container">
    

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/digital-bus-summary.pdf">
    <div class="document-download-text">
        <p>Digital bus summary</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 30KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.03 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/digital-bus-report.pdf">
    <div class="document-download-text">
        <p>Digital bus report</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 2.49MB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 2.49 -->
 
</div>

</div>
 
<div>



<h2>Upper deck occupancy</h2>


<p>How far does the introduction of new upper deck indicator technology on buses encourage improved utilisation of space on the whole bus at peak travel times?</p>
<div class="multi-document-download-container">
    

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/avalibility-of-upperdeck-seat-summary.pdf">
    <div class="document-download-text">
        <p>Availability of upper deck seat - summary</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 23KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.02 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/availability-of-upperdeck-seat-report.pdf">
    <div class="document-download-text">
        <p>Availability of upper deck seat report</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 190KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.19 -->
 
</div>

</div>
 
<div>



<h2>Late night travel options</h2>


<p>To measure the share of journeys made by unbooked minicabs and explore behaviour and perceptions towards unbooked minicabs. </p>
<div class="multi-document-download-container">
    

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/late-night-travel-options-summary.pdf">
    <div class="document-download-text">
        <p>Late night travel options summary</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 17KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.02 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/late-night-travel-options-report.pdf">
    <div class="document-download-text">
        <p>Late night travel options report</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 539KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.53 -->
 
</div>

</div>
 
<div>



<h2>Value of waiting time at bus stops</h2>


<p>This research looks at whether there is a case for adjusting how we value customers' waiting time at the bus stop and time spent in buses. </p>
<div class="multi-document-download-container">
    

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/value-of-time-at-the-stop-summary.pdf">
    <div class="document-download-text">
        <p>Value of time at the stop - summary</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 275KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.27 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/value-of-time-at-the-stop-report.pdf">
    <div class="document-download-text">
        <p>Value of time at the stop report</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 1.56MB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 1.56 -->
 
</div>

</div>
 
<div>



<h2>TfL internal communications to bus drivers</h2>


<p>To understand the bus driver experience of internal communications from TfL and identify opportunities for improvement.</p>
<div class="multi-document-download-container">
    

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/bus-driver-internal-communication-summary.pdf">
    <div class="document-download-text">
        <p>Bus driver internal communications - summary</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 34KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.03 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/bus-driver-internal-communications-report.pdf">
    <div class="document-download-text">
        <p>Bus driver internal communications - report</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 1.66MB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 1.66 -->
 
</div>

</div>
 
<div>



<h2>Disutility of travel time on the London Underground</h2>


<p>To explore and measure the value customers ascribe to their time spent on London Underground.</p>
<div class="multi-document-download-container">
    

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/disutility-of-travel-time-summary.pdf">
    <div class="document-download-text">
        <p>Disutility of travel time - summary</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 36KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.04 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/disutility-of-travel-time-report.pdf">
    <div class="document-download-text">
        <p>Disutility of travel time report</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 838KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.82 -->
 
</div>

</div>
 
<div>



<h2>TfL campaign evaluation - 'What we stand for'</h2>


<p>This research is designed to monitor the recognition and impact of TfL's 'What We Stand For' campaign. The campaign consists of the 'Re-investment', 'Journey Planner' and four 'Future Plans' ads. </p>
<div class="multi-document-download-container">
    

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/tfl-what-we-stand-for-summary.pdf">
    <div class="document-download-text">
        <p>What we stand for - research summary</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 12KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.01 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/tfl-what-we-stand-for-report.pdf">
    <div class="document-download-text">
        <p>What we stand for report</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 345KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.34 -->
 
</div>

</div>
 
<div>



<h2>Digital and social media monitor</h2>


<p>Research to explore how Londoners use digital media to plan and make journeys. Spring 2016. </p>
<div class="multi-document-download-container">
    

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/research-summary-digital-media-monitor.pdf">
    <div class="document-download-text">
        <p>Research summary - digital media monitor</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 29KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.03 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/digital-media-monitor-report.pdf">
    <div class="document-download-text">
        <p>Digital media monitor report</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 1.98MB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 1.98 -->
 
</div>

</div>
 
<div>



<h2>Visitor segmentation research</h2>



        <p>To identify key London visitor segments to assist in the development of the TfL Visitor Strategy (July 2013)</p>
    
<div class="multi-document-download-container">
    

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/visitor-segmentation-research-summary.pdf">
    <div class="document-download-text">
        <p>London visitor segmentation - summary</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 72KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.07 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/visitor-segmentation-research-report.pdf">
    <div class="document-download-text">
        <p>London visitor segmentation - full report</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 1.94MB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 1.94 -->
 
</div>

</div>
 
<div>



<h2>London Underground signage</h2>



        <p>To determine whether current London Underground signage is meeting customer needs (February 2014)</p>
    
<div class="multi-document-download-container">
    

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/lu-signage-post-research-summary.pdf">
    <div class="document-download-text">
        <p>London Underground signage - summary</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 14KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.01 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/lu-signage-post-research-report.pdf">
    <div class="document-download-text">
        <p>London Underground signage - full report</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 1.85MB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 1.85 -->
 
</div>

</div>
 
<div>



<h2>Exploring the bus</h2>



        <p>To identify the different aspects that influence customers' experience of travelling by bus (February 2014)&nbsp;</p>
    
<div class="multi-document-download-container">
    

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/exploring-the-bus-css-metrics-summary.pdf">
    <div class="document-download-text">
        <p>Exploring the bus customer satisfaction survey metrics - summary</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 20KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.02 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/exploring-the-bus-css-metrics.pdf">
    <div class="document-download-text">
        <p>Exploring the bus customer satisfaction survey metrics - full report</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 1.49MB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 1.49 -->
 
</div>

</div>
 
<div>



<h2>Kensington Olympia travel</h2>



        <p>To understand awareness and use of different modes of transport to Kensington Olympia among event attendees (August 2013)</p>
    
<div class="multi-document-download-container">
    

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/kensington-olympia-travel-research-summary.pdf">
    <div class="document-download-text">
        <p>Kensington Olympia travel research - summary</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 13KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.01 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/kensington-olympia-travel-research-report.pdf">
    <div class="document-download-text">
        <p>Kensington Olympia travel research - full report</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 307KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.30 -->
 
</div>

</div>
 <div>

<h2>Our reputation - London politicians</h2>
<p>
To establish the nature of the reputation of Transport for London (TfL), London Underground, London Buses and London Overground (April 2013)</p>
<p>
<a href="/cdn/static/cms/documents/london-politicians-2012-summary.pdf">Summary (PDF 0.02MB)</a><br />
<a href="/cdn/static/cms/documents/london-politicians-2012-report.pdf">Full Report (PDF 1.33MB)</a>
</p>
<h2>Our reputation - MPs</h2>
<p>To establish the nature of the reputation of TfL, London Underground and London Buses (April 2013)
</p>
<p><a href="/cdn/static/cms/documents/winter-mps-2012-summary.pdf">Summary (PDF 0.02MB)</a><br />
<a href="/cdn/static/cms/documents/winter-mps-2012-report.pdf">Full Report (PDF 2.71MB)</a>
</p>
<h2>Our reputation - business leaders</h2>
<p>
To establish the nature of the reputation of TfL, London Underground and London Buses
(January 2013)
</p>
<p>
<a href="/cdn/static/cms/documents/business-leaders-2012-summary.pdf">Summary (PDF 0.02MB)</a><br />
<a href="/cdn/static/cms/documents/business-leaders-2012-report.pdf">Full Report (PDF 1.98MB)</a>
</p>
<h2>Business stakeholder priorities</h2>
<p>
To determine business and stakeholder views of TfL (November 2012)</p>
<p>
<a href="/cdn/static/cms/documents/business-stakeholder-transport-priorities-summary.pdf">Summary (PDF 0.07MB)</a><br />
<a href="/cdn/static/cms/documents/business-stakeholder-transport-priorities-report.pdf">Full Report (PDF 1.41MB)</a>
</p>
<h2>The travel environment</h2>
<p>
To monitor Londoners' perceptions of the travel environment in line with the Mayor's strategic indicators regarding overall journey experience, levels of transport-related noise and quality of local urban realm (October 2012)</p>
<p>
<a href="/cdn/static/cms/documents/travel-environment-summary.pdf">Summary (PDF 0.02MB)</a><br />
<a href="/cdn/static/cms/documents/travel-environment-report.pdf">Full Report (PDF 0.74MB)</a>
</p>
<h2>New Routemaster in-service ambience</h2>
<p>To understand in-service perceptions of ambience on board the New Bus for London (June 2012)</p>
<p>
<a href="/cdn/static/cms/documents/new-bus-for-london-summary.pdf">Summary (PDF 0.04MB)</a><br />
<a href="/cdn/static/cms/documents/new-bus-for-london-report.pdf">Full Report (PDF 0.48MB)</a>
</p>
<h2>London Underground TV series</h2>
<p>To examine the impact of the BBC Two series on London Underground's reputation (April 2012)</p>
<p>
<a href="/cdn/static/cms/documents/lu-tv-series-summary.pdf">Summary (PDF 0.03MB)</a><br />
<a href="/cdn/static/cms/documents/lu-tv-series-report.pdf">Full Report (PDF 3.09MB)</a>
</p>
<h2>Evaluation of the STAR</h2>
<p>Research to provide an understanding of factors which lie behind successful implementation of the STAR accreditation scheme for school travel plans (April 2012)</p>
<p>
<a href="/cdn/static/cms/documents/accreditation-scheme-summary.pdf">Summary (PDF 0.03MB)</a><br />
<a href="/cdn/static/cms/documents/accreditation-scheme-report.pdf">Full Report (PDF 1.55MB)</a>
</p>
<h2>Victoria station upgrade</h2>
<p>To find out where ticket purchasers come from/likely future behaviour (October 2011)</p>
<p>
<a href="/cdn/static/cms/documents/victoria-station-upgrade-summary.pdf">Summary (PDF 0.01MB)</a><br />
<a href="/cdn/static/cms/documents/victoria-station-upgrade-report.pdf">Full Report (PDF 0.24MB)</a>
</p>
<h2>Our reputation - journalists</h2>
<p>Measure the reputation of TfL and London Underground and understand the attributes that contribute to TfL and London Underground's reputation among key stakeholder groups (September 2011)</p>
<p>
<a href="/cdn/static/cms/documents/transport-journalists-reputation-survey-2011-research-summary.pdf">Summary (PDF 0.03MB)</a><br />
<a href="/cdn/static/cms/documents/transport-journalists-reputation-survey-2011-presentation.pdf">Full Report (PDF 2.35MB)</a>
</p>
<h2>Town centre study 2013</h2>
<p>Contribution made by bus users to the economic health and viability of town centres (June 2013)</p>
<p><a href="/cdn/static/cms/documents/town-centre-study-2013-one-page-summary.pdf">Summary (PDF 0.29KB)</a><a href="/cdn/static/cms/documents/town-centres-report.pdf"><br />
Full Report (PDF 2.68KB)</a></p>
<h2>Town centre study 2011</h2>
<p>Contribution made by bus users to the economic health and viability of town centres (September 2011)</p>
<p>
<a href="/cdn/static/cms/documents/town-centre-study-2011-one-page-summary.pdf">Summary (PDF 0.02MB)</a><br />
<a href="/cdn/static/cms/documents/town-centre-study-2011-report.pdf">Full Report (PDF 1.96MB)</a>
</p>
<h2>Reliability of London Underground</h2>
<p>To dramatically improve the experience of travelling in London (August 2011)</p>
<p>
<a href="/cdn/static/cms/documents/LU-metric-research-summary.pdf">Summary (PDF 0.02MB)</a><br />
<a href="/cdn/static/cms/documents/LU-metric-report.pdf">Full Report (PDF 2.50MB)</a>
</p>
<h2>Buses initiatives</h2>
<p>Provide guidance on the development of a new campaign (July 2011)</p>
<p>
<a href="/cdn/static/cms/documents/buses-initiatives-communications-development-one-page-summary.pdf">Summary (PDF 0.02MB)</a><br />
<a href="/cdn/static/cms/documents/buses-initiatives-communications-development-presentation.pdf">Full Report (PDF 1.48MB)</a>
</p>
<h2>New Bus for London</h2>
<p>
Research on the mock-up of the New Bus for London to gauge reaction towards the design aspects on the bus (April 2011)</p>
<p>
<a href="/cdn/static/cms/documents/new-bus-for-london-research-summary.pdf">Summary (PDF 0.02MB)</a><br />
<a href="/cdn/static/cms/documents/new-bus-for-london-presentation.pdf">Full Report (PDF 5.16MB)</a>
</p>
<h2>LED lighting on buses</h2>
<p>
Assess customer views towards LED lighting in buses and on bus blinds (March 2011)</p>
<p>
<a href="/cdn/static/cms/documents/led-lighting-on-buses-one-page-summary.pdf">Summary (PDF 0.02MB)</a><br />
<a href="/cdn/static/cms/documents/led-lighting-on-buses-report.pdf">Full Report (PDF 0.28MB)</a>
</p>
<h2>Tube upgrade </h2>
<p>
Provide a final check before running the Tube upgrade campaign, to check comprehension and whether the ads are helpful in understanding the plan (January 2011)</p>
<p>
<a href="/cdn/static/cms/documents/tube-upgrade-communications-development-one-page-summary.pdf">Summary (PDF 0.02MB)</a><br />
<a href="/cdn/static/cms/documents/tube-upgrade-communications-development-report.pdf">Full Report (PDF 0.19MB)</a>
</p>
<h2>Increasing off-peak Tram use</h2>
<p>
Explore motivators and barriers to using Trams during the off-peak period, in order to identify potential opportunities for the network (October 2010)</p>
<p>
<a href="/cdn/static/cms/documents/increasing-off-peak-usage-of-tramlink-one-page-summary.pdf">Summary (PDF 0.02MB)</a><br />
<a href="/cdn/static/cms/documents/increasing-off-peak-usage-of-tramlink-presentation.pdf">Full Report (PDF 1.77MB)</a>
</p>
<h2>LU Investment Programme</h2>
<p>Development of communications for London Underground Investment Programme Benefits campaigns (September 2010)</p>
<p>
<a href="/cdn/static/cms/documents/lu-investment-programme-communications-development-summary.pdf">Summary (PDF 0.02MB)</a><br />
<a href="/cdn/static/cms/documents/lu-investment-programme-communications-development-presentation.pdf">Full Report (PDF 1.91MB)</a>
</p>
<h2>Perceptions of journey experience</h2>
<p>
Measure the perceptions of London residents regarding journey experience, noise and the urban realm (August 2010)</p>
<p>
<a href="/cdn/static/cms/documents/perceptions-of-the-travel-environment-one-page-summary.pdf">Summary (PDF 0.03MB)</a><br />
<a href="/cdn/static/cms/documents/perceptions-of-the-travel-environment-report.pdf">Full Report (PDF 0.34MB)</a>
</p>
<h2>River services</h2>
<p>
Preferred sources of information and barriers to using the river among potential and current customers (April 2010)</p>
<p>
<a href="/cdn/static/cms/documents/research-summary-river-services-campaign-development.pdf">Summary (PDF 0.02MB)</a><br />
<a href="/cdn/static/cms/documents/river-services-comms-development-pres.pdf">Full Report (PDF 1.69MB)</a>
</p>
<h2>Mobile phones on the Underground</h2>
<p>
Understand current use of mobile phones on London Underground, explore support for system-wide introduction of mobile signal capability, and profile likely use if introduced (March 2010)</p>
<p>
<a href="/cdn/static/cms/documents/mobile-phones-on-the-underground-one-page-summary.pdf">Summary (PDF 0.03MB)</a><br />
<a href="/cdn/static/cms/documents/mobile-phones-on-the-underground-report.pdf">Full Report (PDF 0.55MB)</a>
</p>
<h2>London Underground behaviours</h2>
<p>
Customer behaviours and how customer care communications influence behaviour change across operational, safety, security and care issues (February 2010)</p>
<p>
<a href="/cdn/static/cms/documents/research-summary-lu-behaviours-communications-development.pdf">Summary (PDF 0.02MB)</a><br />
<a href="/cdn/static/cms/documents/lu-behaviours-communications-development-pres.pdf">Full Report (PDF 1.57MB)</a>
</p>
<h2>Mobility scooters boarding buses</h2>
<p>
Definition of which mobility scooter models can fit into the majority of buses (November 2009)</p>
<p>
<a href="/cdn/static/cms/documents/research-summary-mobility-scooter-dimensions-boarding-buses.pdf">Summary (PDF 0.02MB)</a></p>
<h2>'Alight Here' messaging evaluation</h2>
<p>
Customer awareness of, usage of, and satisfaction with, 'Alight Here' messages on trial bus routes (September 2009)</p>
<p>
<a href="/cdn/static/cms/documents/research-summary-alight-hrere-evaluation1.pdf">Summary (PDF 0.02MB)</a><br />
<a href="/cdn/static/cms/documents/alight-here-messaging-evaluation-report1.pdf">Full Report (PDF 0.35MB)</a>
</p>
<h2>Buses marketing</h2>
<p>
Barriers to increased usage of buses in north west London, including inter-suburban routes, amongst infrequent and non-users in the area. Explore potential for advertising propositions and web-based solutions (August 2009)</p>
<p>
<a href="/cdn/static/cms/documents/buses-marketing--communications-development-one-page-summary.pdf">Summary (PDF 0.02MB)</a><br />
<a href="/cdn/static/cms/documents/buses-marketing-communications-development-presentaion.pdf">Full Report (PDF 1.21MB)</a>
</p>
<h2>Princess Royal Hospital bus use</h2>
<p>
Awareness and use of bus services on route 358 to the Princess Royal University Hospital in Orpington (July 2009)</p>
<p>
<a href="/cdn/static/cms/documents/research-summary-princess-royal-hospital-bus-use.pdf">Summary (PDF 0.01MB)</a><br />
<a href="/cdn/static/cms/documents/princess-royal-hospital-bus-use-report.pdf">Full Report (PDF 0.23MB)</a>
</p>
<h2>Investment Programme</h2>
<p>
Development of communications for London Underground Investment Programme Benefits campaigns (July 2009)</p>
<p>
<a href="/cdn/static/cms/documents/lu-investment-programme-communications-development-one-page-summary.pdf">Summary (PDF 0.02MB)</a><br />
<a href="/cdn/static/cms/documents/investment-programme-communications-development-presentation.pdf">Full Report (PDF 1.58MB)</a>
</p>
<h2>Countdown sign evaluation</h2>
<p>
Information requirements at bus stops and how these might vary in different situations (June 2009)</p>
<p>
<a href="/cdn/static/cms/documents/research-summary-countdown-sign-evaluation.pdf">Summary (PDF 0.03MB)</a><br />
<a href="/cdn/static/cms/documents/countdown-sign-evaluation-presentation.pdf">Full Report (PDF 1.45MB)</a>
</p>
<h2>Private hire vehicle strategy</h2>
<p>
Frequency of use of private hire vehicles amongst London residents and reasons for choice (May 2009)</p>
<p>
<a href="/cdn/static/cms/documents/research-summary-private-hire-vehicle-strategy.pdf">Summary (PDF 0.02MB)</a><br />
<a href="/cdn/static/cms/documents/private-hire-vehicle-strategy-report.pdf">Full Report (PDF 0.21MB)</a>
</p>
<h2>Attitudes to bus priority schemes</h2>
<p>
Attitudes to the principle of bus priority schemes among Londoners as a whole and among users of each of the main modes of transport (May 2009)</p>
<p>
<a href="/cdn/static/cms/documents/research-summary-attitudes-to-bus-priority-schemes.pdf">Summary (PDF 0.02MB)</a><br />
<a href="/cdn/static/cms/documents/attitudes-to-bus-priority-schemes-report.pdf">Full Report (PDF 0.25MB)</a>
</p>
<h2>Town centre study 2009</h2>
<p>
Contribution made by bus users to the economic health and viability of town centres (April 2009)</p>
<p>
<a href="/cdn/static/cms/documents/research-summary-town-centre-study.pdf">Summary (PDF 0.02MB)</a><br />
<a href="/cdn/static/cms/documents/town-centres-study-report.pdf">Full Report (PDF 0.50MB)</a>
</p>
<h2>Attitudes to new Overground trains</h2>
<p>
Customer awareness, expectations and reactions to the new trains on the London Overground network (April 2009)</p>
<p>
<a href="/cdn/static/cms/documents/research-summary-attitudes-to-new-overground-trains1.pdf">Summary (PDF 0.02MB)</a><br />
<a href="/cdn/static/cms/documents/awareness-and-attitudes-new-trains-on-overground-report1.pdf">Full Report (PDF 0.29MB)</a>
</p>
<h2>Route X26 origin and destination</h2>
<p>
Attitudes and travel patterns of users of the orbital X26 bus route and parallel bus services before and after frequency changes (April 2009)</p>
<p>
<a href="/cdn/static/cms/documents/research-summary-route-x-origin-and-destination-study.pdf">Summary (PDF 0.02MB)</a><br />
<a href="/cdn/static/cms/documents/route-x-origin-and-destination-study-pres.pdf">Full Report (PDF 0.73MB)</a>
</p>
<h2>Attitudes to rail</h2>
<p>
Attitudes towards London Overground among local residents (April 2009)</p>
<p>
<a href="/cdn/static/cms/documents/research-summary-attitudes-to-london-overground1.pdf">Summary (PDF 0.02MB)</a><br />
<a href="/cdn/static/cms/documents/attitudes-to-overground-report1.pdf">Full Report (PDF 0.40MB)</a>
</p>
<h2>Off-peak usage of London Overground</h2>
<p>
Motivators and barriers to using London Overground, particularly during the off-peak period (February 2009)</p>
<p>
<a href="/cdn/static/cms/documents/research-summary-off-peak-usage-of-london-overground1.pdf">Summary (PDF 0.02MB)</a><br />
<a href="/cdn/static/cms/documents/off-peak-usage-of-london-overground-pres1.pdf">Full Report (PDF 1.69MB)</a>
</p>
<h2>Bus user survey 2008</h2>
<p>
Profile of customers who use buses (January 2009)</p>
<p>
<a href="/cdn/static/cms/documents/research-summary-bus-user-survey.pdf">Summary (PDF 0.02MB)</a><br />
<a href="/cdn/static/cms/documents/bus-user-survey-report.pdf">Full Report (PDF 0.61MB)</a>
</p>
<h2>London Overground anniversary</h2>
<p>
Customer views of changes to London Overground on the one-year anniversary of TfL taking responsibility (November 2008)</p>
<p>
<a href="/cdn/static/cms/documents/research-summary-overground-anniversary-attitudes1.pdf">Summary (PDF 0.02MB)</a><br />
<a href="/cdn/static/cms/documents/overground-anniversary-attitudes-report1.pdf">Full Report (PDF 0.12MB)</a>
</p>
<h2>Traffic signals</h2>
<p>
Customer perceptions of traffic signals (November 2008)</p>
<p>
<a href="/cdn/static/cms/documents/research-summary-traffic-signals-customer-perceptions1.pdf">Summary (PDF 0.02MB)</a><br />
<a href="/cdn/static/cms/documents/traffic-signals-customer-perceptions-report1.pdf">Full Report (PDF 0.20MB)</a>
</p>
<h2>Cooling The Tube programme 2008</h2>
<p>
Impact of different Underground station 'quick win' cooling initiatives on customers and staff (October 2008)</p>
<p>
<a href="/cdn/static/cms/documents/summary-lu-cooling-the-tube-programme1.pdf">Summary (PDF 0.03MB)</a><br />
<a href="/cdn/static/cms/documents/lu-cooling-the-tube-programme-presentation1.pdf">Full Report (PDF 0.36MB)</a>
</p>
<h2>Lift usage and user profiling</h2>
<p>
Profile of users of lifts, reasons for use and how lift availability may affect travel choices (September 2008)</p>
<p>
<a href="/cdn/static/cms/documents/lift-usage-and-user-profiling-summary.pdf">Summary (PDF 0.03MB)</a><br />
<a href="/cdn/static/cms/documents/lift-usage-and-user-profiling-report1.pdf">Full Report (PDF 0.23MB)</a>
</p>
<h2>London Overground and public art</h2>
<p>
Level of support and preferences for public art displays on the London Overground system (August 2008)</p>
<p>
<a href="/cdn/static/cms/documents/research-summary-overground-public-arts-strategy1.pdf">Summary (PDF 0.02MB)</a><br />
<a href="/cdn/static/cms/documents/overground-public-arts-strategy-report1.pdf">Full Report (PDF 0.19MB)</a>
</p>
</div>
 <div>


        <p>Research into what our customers think and how they behave helps us identify their key issues, areas for improvement and allows us to seek their views on new initiatives to inform our decision making.</p>
        <h3>Conditions of use</h3>
        <p>The copyright of all reports in this library is owned by TfL and the provision of information under the Freedom of Information Act does not give the recipient a right to re-use the information in a way that would infringe copyright (for example, by publishing and issuing copies to the public).</p>
        <p>Brief extracts of the material may be reproduced under the fair dealing provisions of the Copyright, Designs and Patents Act 1988 for the purposes of research for non-commercial purposes, private study, criticism, review and news reporting.</p>
        <p>Contact us to arrange to use the material in this library for any other purpose.</p>
    
</div>
 
      
        
          
        
      
    
  </div>
  <div class="aside" role="complementary">

   
    
    
    
      <div data-set="sidenav-container" class="large">
        
        
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
      </div>
    
    <div>
















<div class="advert-tile unsponsored-style google-ads" aria-hidden="true">
  <div class="advert-link">
    <div class="advert-content">
        <div class="medium-large" data-advert="/76889402/non-targeted" data-advert-sizes="300, 250"></div>
        <div class="small" data-advert="/76889402/non-targeted" data-advert-sizes="300, 250"></div>
    </div>
  </div>
</div>
@{
    ViewBag.AmazonSlot = "'amznslots'";
    ViewBag.AmazonAds = "'3199'"; // to add another value, this needs to be ViewBag.AmazonAds = "'3199','xx'";
}
      

 </div>
    
      <div class="module-grid clearfix">
                    
        <div>

    <div class="contact-info-box">
         <div class="contact-info-header">
             <h3>Contact Customer Research Library</h3>
         </div>
        
        
        
        
        <div class="content-group">
            <p>
                
                
                
                
                
                
                
                
            </p>
            
        </div>
        
        <div class="content-group">
            
            
            
                
                
                
            
            
            <p>&nbsp;<a href="/help-and-contact/index">Use our contact forms</a></p>
        </div>
        
        
    </div>
</div>
 <div class="related-links">

    <h3>Customer Research Library reports</h3>

        We gather customers' views on a range of topics related to travelling in London
    
<div class="vertical-button-container">

<a href="http://www.tfl.gov.uk/corporate/publications-and-reports/?Category=Customer%20Research%20Library" class="plain-button">All reports</a>
    </div>
</div>
 
      </div>
    
    <div data-set="sidenav-container" class="small-medium"></div>
  </div>
</div>
 
 
        
        
        
            @{ViewBag.Description = "Customer research on the travelling public's attitude to TfL and our reputation";}
        
            
        


 