
    
  



@{ViewBag.Title = "Travel in London reports";}
@{ViewBag.Keywords = "Boroughs,Bus operators,Bus passengers,Businesses,Coach drivers,Cyclists,Dial a Ride passengers,DLR passengers,Drivers,Emirates Air Line passengers,London Overground passengers,Motorbikers,Pedestrians,Public,River passengers,Taxi passengers,Tram passengers,Tube passengers,Visitors,T,Regular reports,Assisted travel,Buses,Coaches,Cycling,DLR,Driving,Emirates Air Line,London Overground,Motorcycle,Rail,Taxis and minicabs,Walking,TfL";}
@{ViewBag.Url = "/corporate/publications-and-reports/travel-in-london-reports";}
@{ViewBag.Language = "en";}
        <!-- empty placeholder -->
 
        
        
<div class="r">
    <div class="breadcrumb-container" role="navigation">
        <span id="breadcrumb-label" class="visually-hidden">You are here:</span>
        <ol class="breadcrumbs clearfix" aria-labelledby="breadcrumb-label">
            <li class="home">
                <a href="/">
                    <span class="hide-text">Home</span>
                </a>
            </li>
            
                 <li><a href="/corporate/publications-and-reports/index">Publications & reports</a></li>
                
            
            
                <li><span class="last-breadcrumb">Travel in London reports</span></li>
            
        
 
        
 
        </ol>
    </div>
</div>
     
 
<div class="r">
  <div class="headline-container plain">
    <h1>Travel in London reports</h1>

  </div>
</div>
<div class="main-and-aside r">
  
  <div class="main content-container" role="main">
    
      <div class="article-teaser">
        Travel in London reports summarise trends and developments in travel and transport in Greater London.
        
      </div>
    
    <div class="on-this-page">
      <p>The reports also detail progress towards implementing the transport and other related strategies of the Mayor of London.</p>
      
           
      
<div>



<h2>Travel in London</h2>



<div class="multi-document-download-container">
    

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/travel-in-london-report-12.pdf">
    <div class="document-download-text">
        <p>Travel in London - Report 12</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 13.49MB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 13.49 -->
 

<a class="document-download-wrap xlsx" href="/cdn/static/cms/documents/travel-in-london-report-12-data.xlsx">
    <div class="document-download-text">
        <p>Travel in London - Report 12 data</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            XLSX 1.29MB
            
        </p>
    </div>
    <div class="document-download-icon download-spread">
    </div>

</a>

<!-- 1.29 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/travel-in-london-report-11.pdf">
    <div class="document-download-text">
        <p>Travel in London - Report 11</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 6.13MB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 6.13 -->
 

<a class="document-download-wrap xlsx" href="/cdn/static/cms/documents/travel-in-london-report-11-data.xlsx">
    <div class="document-download-text">
        <p>Travel in London - Report 11 data</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            XLSX 715KB
            
        </p>
    </div>
    <div class="document-download-icon download-spread">
    </div>

</a>

<!-- 0.70 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/travel-in-london-report-10.pdf">
    <div class="document-download-text">
        <p>Travel in London - Report 10</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 6.27MB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 6.27 -->
 

<a class="document-download-wrap xlsx" href="/cdn/static/cms/documents/travel-in-london-report-10-data.xlsx">
    <div class="document-download-text">
        <p>Travel in London - Report 10 data</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            XLSX 1.00MB
            
        </p>
    </div>
    <div class="document-download-icon download-spread">
    </div>

</a>

<!-- 1.00 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/travel-in-london-report-9.pdf">
    <div class="document-download-text">
        <p>Travel in London - Report 9</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 7.04MB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 7.04 -->
 

<a class="document-download-wrap xlsx" href="/cdn/static/cms/documents/travel-in-london-report-9-data.xlsx">
    <div class="document-download-text">
        <p>Travel in London - Report 9 data</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            XLSX 600KB
            
        </p>
    </div>
    <div class="document-download-icon download-spread">
    </div>

</a>

<!-- 0.59 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/travel-in-london-report-8.pdf">
    <div class="document-download-text">
        <p>Travel in London - Report 8</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 6.24MB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 6.24 -->
 

<a class="document-download-wrap xlsx" href="/cdn/static/cms/documents/travel-in-london-report-8-data.xlsx">
    <div class="document-download-text">
        <p>Travel in London - Report 8 data</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            XLSX 612KB
            
        </p>
    </div>
    <div class="document-download-icon download-spread">
    </div>

</a>

<!-- 0.60 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/travel-in-london-report-7.pdf">
    <div class="document-download-text">
        <p>Travel in London - Report 7</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 6.40MB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 6.40 -->
 

<a class="document-download-wrap xlsx" href="/cdn/static/cms/documents/travel-in-london-report-7-data.xlsx">
    <div class="document-download-text">
        <p>Travel in London - Report 7 data</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            XLSX 1.01MB
            
        </p>
    </div>
    <div class="document-download-icon download-spread">
    </div>

</a>

<!-- 1.01 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/travel-in-london-report-6.pdf">
    <div class="document-download-text">
        <p>Travel in London - Report 6</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 4.36MB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 4.36 -->
 

<a class="document-download-wrap xls" href="/cdn/static/cms/documents/travel-in-london-report-data-6.xls">
    <div class="document-download-text">
        <p>Travel in London - Report 6 data</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            XLS 0.98MB
            
        </p>
    </div>
    <div class="document-download-icon download-spread">
    </div>

</a>

<!-- 0.98 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/travel-in-london-report-5.pdf">
    <div class="document-download-text">
        <p>Travel in London - Report 5</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 5.02MB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 5.02 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/travel-in-london-report-4.pdf">
    <div class="document-download-text">
        <p>Travel in London - Report 4</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 7.07MB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 7.07 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/travel-in-london-report-3.pdf">
    <div class="document-download-text">
        <p>Travel in London - Report 3</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 3.59MB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 3.59 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/travel-in-london-report-2-.pdf">
    <div class="document-download-text">
        <p>Travel in London - Report 2</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 9.68MB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 9.68 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/travel-in-london-report-1-.pdf">
    <div class="document-download-text">
        <p>Travel in London - Report 1</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 6.36MB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 6.36 -->
 
</div>

</div>
 
<div>




<h2><a id="supplementary" name="supplementary"></a>Supplementary reports</h2>
<div class="multi-document-download-container">
    

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/borough-local-implementation-plan-performance-indicators.pdf">
    <div class="document-download-text">
        <p>Borough local implementation plan performance indicators</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 305KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.30 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/transport-classification-of-londoners-presenting-the-segments.pdf">
    <div class="document-download-text">
        <p>Transport classification of Londoners: presenting the segments</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 2.73MB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 2.73 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/analysis-of-cycling-potential-2016.pdf">
    <div class="document-download-text">
        <p>Analysis of cycling potential</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 1.18MB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 1.18 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/analysis-of-walking-potential-2016.pdf">
    <div class="document-download-text">
        <p>Analysis of walking potential</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 1.47MB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 1.47 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/travel-in-london-at-a-glance-2016.pdf">
    <div class="document-download-text">
        <p>Travel in London 8: at a glance</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 2.56MB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 2.56 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/roadside-air-quality-trends-in-london-identifying-outliers-part-1.pdf">
    <div class="document-download-text">
        <p>Roadside air quality trends in London - identifying the outliers part 1</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 3.62MB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 3.62 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/long-term-trends-in-travel-behaviour-cross-sectional-cohort-analysis.pdf">
    <div class="document-download-text">
        <p>Long term trends in travel behaviour</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 566KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.55 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/drivers-of-demand-for-travel-in-london.pdf">
    <div class="document-download-text">
        <p>Drivers of Demand for Travel in London: A review of trends in travel demand and their causes</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 1.08MB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 1.08 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/olympic-legacy-personal-travel-report.pdf">
    <div class="document-download-text">
        <p>Olympic Legacy Monitoring: Personal Travel Behaviour during the Games</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 718KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.70 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/olympic-legacy-freight-report.pdf">
    <div class="document-download-text">
        <p>Olympic Legacy Monitoring: Adaptations to deliveries by businesses and freight operators during the Games</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 426KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.42 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/central-london-rail-termini-report.pdf">
    <div class="document-download-text">
        <p>Central London Rail Termini: Analysing passengers' onward travel patterns</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 8.64MB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 8.64 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/residential-parking-provision-new-development.pdf">
    <div class="document-download-text">
        <p>Residential parking provision in new developments</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 1.61MB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 1.61 -->
 
</div>

</div>
 
<div>




<a name="mtsevidence"></a>
<h2>Mayor's Transport Strategy evidence base</h2>
<div class="multi-document-download-container">
    

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/mts-supporting-evidence-challenges-opportunities.pdf">
    <div class="document-download-text">
        <p>Mayor's Transport Strategy: supporting evidence challenges and opportunities - summary presentation</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 3.99MB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 3.99 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/mts-challenges-and-opportunities-report.pdf">
    <div class="document-download-text">
        <p>Mayor's Transport Strategy challenges and opportunities report</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 10.20MB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 10.20 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/mts-outcomes-summary-report-2017.pdf">
    <div class="document-download-text">
        <p>Mayor's Transport Strategy: supporting evidence outcomes and appraisal  - summary presentation</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 3.30MB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 3.30 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/mts-outcomes-summary-report.pdf">
    <div class="document-download-text">
        <p>Mayor's Transport Strategy outcomes summary report</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 8.04MB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 8.04 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/mts-outcomes-summary-report-addendum.pdf">
    <div class="document-download-text">
        <p>Mayor's Transport Strategy outcomes summary report - addendum</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 4.63MB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 4.63 -->
 
</div>

</div>
 
<div>



<h2>Integrated Impact Assessment</h2>


<p>These Integrated Impact Assessment documents relate to the draft Mayor's Transport Strategy 2017. </p>
<div class="multi-document-download-container">
    

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/integrated-impact-assessment-report.pdf">
    <div class="document-download-text">
        <p>Integrated Impact Assessment report</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 1.18MB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 1.18 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/integrated-impact-assessment-appendices.pdf">
    <div class="document-download-text">
        <p>Integrated Impact Assessment appendices</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 1.11MB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 1.11 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/integrated-impact-assessment-post-adoption-statement.pdf">
    <div class="document-download-text">
        <p>Integrated Impact Assessment - Post Adoption Statement</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 500KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.49 -->
 
</div>

</div>
 
<div>



<h2>London Travel Reports</h2>



<div class="multi-document-download-container">
    

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/london-travel-report-2007-final.pdf">
    <div class="document-download-text">
        <p>London Travel Report 2007</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 5.96MB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 5.96 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/london-travel-report-2006-final.pdf">
    <div class="document-download-text">
        <p>London Travel Report 2006</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 4.56MB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 4.56 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/london-travel-report-2005.pdf">
    <div class="document-download-text">
        <p>London Travel Report 2005</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 2.68MB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 2.68 -->
 
</div>

</div>
 
      
        
          
            @this.ScriptBlock(
              @<script>
                queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
              </script>
            )
          
        
      
    </div>
  </div>
  <div class="aside" role="complementary">

   
    
    
    
      <div data-set="sidenav-container" class="large">
        
        
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
      </div>
    
    <div>
















<div class="advert-tile unsponsored-style google-ads" aria-hidden="true">
  <div class="advert-link">
    <div class="advert-content">
        <div class="medium-large" data-advert="/76889402/non-targeted" data-advert-sizes="300, 250"></div>
        <div class="small" data-advert="/76889402/non-targeted" data-advert-sizes="300, 250"></div>
    </div>
  </div>
</div>
@{
    ViewBag.AmazonSlot = "'amznslots'";
    ViewBag.AmazonAds = "'3199'"; // to add another value, this needs to be ViewBag.AmazonAds = "'3199','xx'";
}
      

 </div>
    
      <div class="module-grid clearfix">
                    
        <div class="related-links">

    <h3>Also on this site</h3>

<div class="vertical-button-container">

<a href="/corporate/about-tfl/how-we-work/planning-for-the-future/consultations-and-surveys" class="plain-button">London Travel Demand Survey </a>
    </div>
</div>
 
      </div>
    
    <div data-set="sidenav-container" class="small-medium"></div>
  </div>
</div>
 
 
        
        
        
            @{ViewBag.Description = "Overview of progress on implementing the Mayor of London's transport - and other related - strategies";}
        
            
        


 