
    
  



@{ViewBag.Title = "Travel accessibility";}
@{ViewBag.Keywords = "Public,A,T,Accessible travel,Customer Research Library,Special reports,Assisted travel,Buses,DLR,Emirates Air Line,London Overground,River,Taxis and minicabs,Trams,Tube,TfL";}
@{ViewBag.Url = "/corporate/publications-and-reports/travel-accessibility";}
@{ViewBag.Language = "en";}
        <!-- empty placeholder -->
 
        
        
<div class="r">
    <div class="breadcrumb-container" role="navigation">
        <span id="breadcrumb-label" class="visually-hidden">You are here:</span>
        <ol class="breadcrumbs clearfix" aria-labelledby="breadcrumb-label">
            <li class="home">
                <a href="/">
                    <span class="hide-text">Home</span>
                </a>
            </li>
            
                 <li><a href="/corporate/publications-and-reports/index">Publications & reports</a></li>
                
            
            
                <li><span class="last-breadcrumb">Travel accessibility</span></li>
            
        
 
        
 
        </ol>
    </div>
</div>
     
 
<div class="r">
  <div class="headline-container plain">
    <h1>Travel accessibility</h1>

  </div>
</div>
<div class="main-and-aside r">
  
  <div class="main content-container" role="main">
    
      <div class="article-teaser">
        Reports on travel accessibility from the Customer Research Library.
        
      </div>
    
    
      
    
      
           
      
<div>



<h2>Accessible information review</h2>



        <p>What disabled customers want to know when making a familiar and unfamiliar journey, how they like to receive this information and where they would expect to find this information (September 2013)</p>
    
<div class="multi-document-download-container">
    

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/accessible-information-review-summary.pdf">
    <div class="document-download-text">
        <p>Accessible information review - summary</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 19KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.02 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/accessible-information-review-report.pdf">
    <div class="document-download-text">
        <p>Accessible information review - full report</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 4.69MB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 4.69 -->
 
</div>

</div>
 <div>


        <h2>Social media during the Games</h2>
        <p>
        How passengers with accessibility issues describe on social media channels their experiences of using TfL's transport network during the Olympics and Paralympics (October 2012)</p>
        <p>
        <a href="/cdn/static/cms/documents/social-media-monitoring-games-summary.pdf">Summary (PDF 0.05MB)</a><br />
        <a href="/cdn/static/cms/documents/social-media-monitoring-games-report.pdf">Full Report (PDF 2.19MB)</a>
        </p>
        <h2>Disabled people during the Games</h2>
        <p>
        The journey experience of disabled people during The Games (October 2012)
        </p>
        <p>
        <a href="/cdn/static/cms/documents/disabled-peoples-journeys-during-games-summary.pdf">Summary (PDF 0.08MB)</a><br />
        <a href="/cdn/static/cms/documents/disabled-peoples-journeys-during-games-report.pdf">Full Report (PDF 2.26MB)</a>
        </p>
        <h2>Green Park station step-free access</h2>
        <p>
        Assessment of awareness of step-free access at Green Park station and  the understanding of related signage among persons with restricted mobility (August 2012)
        </p>
        <p>
        <a href="/cdn/static/cms/documents/green-park-sfa-summary.pdf">Summary (PDF 0.08MB)</a><br />
        <a href="/cdn/static/cms/documents/green-park-sfa-report.pdf">Full Report (PDF 0.55MB)</a>
        </p>
        <h2>Dial-a-Ride meetings 2012</h2>
        <p>
        Evaluation of the members' views of the regional panel meetings (July 2012)
        </p>
        <p>
        <a href="/cdn/static/cms/documents/dial-a-ride-meeting-evaluation-summary.pdf">Summary (PDF 0.07MB)</a><br />
        <a href="/cdn/static/cms/documents/dial-a-ride-meeting-evaluation-report.pdf">Full Report (PDF 0.28MB)</a>
        </p>
        <h2>New Routemaster mystery traveller</h2>
        <p>
        Assessments of New Bus for London (NBfL) by wheelchair users (June 2012)
        </p>
        <p>
        <a href="/cdn/static/cms/documents/new-bus-for-london-mystery-traveller-summary.pdf">Summary (PDF 0.04MB)</a><br />
        <a href="/cdn/static/cms/documents/new-bus-for-london-mystery-traveller-report.pdf">Full Report (PDF 0.41MB)</a>
        </p>
        <h2>Leisure cyclists cycle commuting</h2>
        <p>
        To identify the potential for increased cycling among harder to reach people and to identify the specific barriers (May 2012)
        </p>
        <p>
        <a href="/cdn/static/cms/documents/leisure-cyclists-summary.pdf">Summary (PDF 0.01MB)</a><br />
        <a href="/cdn/static/cms/documents/leisure-cyclists-report.pdf">Full Report (PDF 1.83MB)</a>
        </p>
        <h2>Wheelchair space conflict reduction</h2>
        <p>
        What messages will work to reduce conflict in the wheelchair space (April 2012)
        </p>
        <p>
        <a href="/cdn/static/cms/documents/reducing-conflict-in-wheelchair-space-summary.pdf">Summary (PDF 0.04MB)</a><br />
        <a href="/cdn/static/cms/documents/reducing-conflict-in-wheelchair-space-report.pdf">Full Report (PDF 3.40MB)</a>
        </p>
        <h2>Travel needs of the LGB community</h2>
        <p>
        TfL research data on equality and public transport issues surrounding the lesbian, gay and bisexual community brought into a single report (April 2012)
        </p>
        <p>
        <a href="/cdn/static/cms/documents/LGB-community-summary.pdf">Summary (PDF 0.19MB)</a><br />
        <a href="/cdn/static/cms/documents/LGB-community.pdf">Full Report (PDF 0.30MB)</a>
        </p>
        <h2>People on low incomes</h2>
        <p>
        TfL research data on equality and public transport issues brought into a single report (April 2012)
        </p>
        <p>
        <a href="/cdn/static/cms/documents/people-on-low-incomes-summary.pdf">Summary (PDF 0.11MB)</a><br />
        <a href="/cdn/static/cms/documents/people-on-low-incomes.pdf">Full Report (PDF 0.54MB)</a>
        </p>
        <h2>Disabled people</h2>
        <p>
        TfL research data on equality and public transport issues brought into a single report (April 2012)
        </p>
        <p>
        <a href="/cdn/static/cms/documents/disabled-people-summary.pdf">Summary (PDF 0.14MB)</a><br />
        <a href="/cdn/static/cms/documents/disabled-people.pdf">Full Report (PDF 0.71MB)</a>
        </p>
        <h2>Older people</h2>
        <p>
        TfL research data on equality and public transport issues brought into a single report (April 2012)
        </p>
        <p>
        <a href="/cdn/static/cms/documents/older-people-summary.pdf">Summary (PDF 0.08MB)</a><br />
        <a href="/cdn/static/cms/documents/older-people.pdf">Full Report (PDF 0.58MB)</a>
        </p>
        <h2>Women</h2>
        <p>
        TfL research data on equality and public transport issues brought into a single report (April 2012)
        </p>
        <p>
        <a href="/cdn/static/cms/documents/women-summary.pdf">Summary (PDF 0.14MB)</a><br />
        <a href="/cdn/static/cms/documents/women.pdf">Full Report (PDF 0.55MB)</a>
        </p>
        <h2>BAME people</h2>
        <p>
        TfL research data on equality and public transport issues surrounding&nbsp;black, Asian and minority ethnic people brought into a single report (April 2012)
        </p>
        <p>
        <a href="/cdn/static/cms/documents/BAME-summary.pdf">Summary (PDF 0.13MB)</a><br />
        <a href="/cdn/static/cms/documents/BAME.pdf">Full Report (PDF 0.76MB)</a>
        </p>
        <h2>Younger people</h2>
        TfL research data on equality and public transport issues brought into a single report (April 2012)
        <p>
        <a href="/cdn/static/cms/documents/younger-people-summary.pdf">Summary (PDF 0.08MB)</a><br />
        <a href="/cdn/static/cms/documents/younger-people.pdf">Full Report (PDF 0.58MB)</a>
        </p>
        <h2>Dial-a-Ride application process</h2>
        <p>
        Evaluation of the impact of changes, primarily by reviewing the profile of new members (February 2012)
        </p>
        <p>
        <a href="/cdn/static/cms/documents/dar-application-process-evaluation-summary.pdf">Summary (PDF 0.03MB)</a><br />
        <a href="/cdn/static/cms/documents/dar-application-process-evaluation-report.pdf">Full Report (PDF 0.45MB)</a>
        </p>
        <h2>Dial-a-Ride meetings 2011</h2>
        <p>
        Evaluation of the members' views of the regional panel meetings (June 2011)
        </p>
        <p>
        <a href="/cdn/static/cms/documents/DaR-stakeholders-local-area-panel-one-page-summary.pdf">Summary (PDF 0.02MB)</a><br />
        <a href="/cdn/static/cms/documents/DAR-stakeholders-report.pdf">Full Report (PDF 0.20MB)</a>
        </p>
        <h2>Cycling among low-income groups</h2>
        <p>
        Identifies the potential for increased cycling among harder to reach people and identifies the specific barriers (May 2011)
        </p>
        <p>
        <a href="/cdn/static/cms/documents/barriers-to-cycling-hard-pressed-summary.pdf">Summary (PDF 0.05MB)</a><br />
        <a href="/cdn/static/cms/documents/barriers-to-cycling-hard-pressed-report.pdf">Full Report (PDF 3.30MB)</a>
        </p>
        <h2>Accessibility traveller survey</h2>
        <p>
        Assessment of service provision across our modes for people with a range of disabilities (March 2011)
        </p>
        <p>
        <a href="/cdn/static/cms/documents/accessibilty-mysteyr-traveller-survey-2011.pdf">Full Report (PDF 0.31MB)</a>
        </p>
        <h2>Disabled commuters - June 2010</h2>
        <p>
        The journey experiences of disabled commuters on London Underground, buses and London Overground, and how their experience may differ from that of off-peak disabled passengers (June 2010)
        </p>
        <p>
        <a href="/cdn/static/cms/documents/disabled-commuters-journey-experiences-one-page-summary.pdf">Summary (PDF 0.02MB)</a><br />
        <a href="/cdn/static/cms/documents/disabled-commuters-journey-experiences-report.pdf">Full Report (PDF 3.17MB)</a>
        </p>
        <h2>Disabled commuters - April 2010</h2>
        <p>
        Looks at the barriers faced by disabled commuters travelling in peak time and in the evenings and explores to what extent these affect their travel plans and transport choices (April 2010)
        </p>
        <p>
        <a href="/cdn/static/cms/documents/Exploring-the-journey-experiences-of-disabled-commuters-one-page-summary.pdf">Summary (PDF 0.02MB)</a><br />
        <a href="/cdn/static/cms/documents/Exploring-the-journey-experiences-of-disabled-commuters-report.pdf">Full Report (PDF 0.18MB)</a>
        </p>
        <h2>Dial-a-Ride booking preferences</h2>
        <p>
        How users and potential users of the London Dial-a-Ride scheme would react to the implementation of different booking mechanisms (October 2009)
        </p>
        <p>
        <a href="/cdn/static/cms/documents/dial-a-ride-booking--preferences-summary.pdf">Summary (PDF 0.02MB)</a><br />
        <a href="/cdn/static/cms/documents/09003-Dial-a-Ride-Research-Report-Final.pdf">Full Report (PDF 0.81MB)</a>
        </p>
        <h2>Dial-a-Ride non-active users 2009</h2>
        <p>
        Reasons for non-use of the Dial-a-Ride service among registered users (June 2009)
        </p>
        <p>
        <a href="/cdn/static/cms/documents/research-summary-dial-a-ride-non-active-users-report.pdf">Summary (PDF 0.02MB)</a><br />
        <a href="/cdn/static/cms/documents/dial-a-ride-non-active-users-report.pdf">Full Report (PDF 0.36MB)</a>
        </p>
        <h2>Older people's experience of travel</h2>
        <p>
        Impact of a lack of accessible transport on the lives of socially excluded older people in London (June 2009)
        </p>
        <p>
        <a href="/cdn/static/cms/documents/research-summary-older-peoples-transport-experiences.pdf">Summary (PDF 0.02MB)</a><br />
        <a href="/cdn/static/cms/documents/older-peoples-transport-experiences-report.pdf">Full Report (PDF 0.33MB)</a>
        </p>
        <h2>Dial-a-Ride stakeholders 2008</h2>
        <p>
        DaR stakeholders' views on the new format of the Local Area Panel meetings (May 2009)
        </p>
        <p>
        <a href="/cdn/static/cms/documents/research-summary-dial-a-ride-stakeholder-2008.pdf">Summary (PDF 0.02MB)</a><br />
        <a href="/cdn/static/cms/documents/dial-a-ride-stakeholder-survey-report.pdf">Full Report (PDF 0.23MB)</a>
        </p>
        <h2>London Underground profiling</h2>
        <p>
        Public transport barriers and needs among people identified as 'white other' ethnicity in London (April 2009)
        </p>
        <p>
        <a href="/cdn/static/cms/documents/research-summary-lu-white-other-profiling.pdf">Summary (PDF 0.02MB)</a><br />
        <a href="/cdn/static/cms/documents/who-is-white-other-exploration-report.pdf">Full Report (PDF 0.35MB)</a>
        </p>
        <h2>Yellow lines at bus stops</h2>
        <p>
        Number of passengers and instances that passengers stand in front of the yellow line at bus stops (March 2009)
        </p>
        <p>
        <a href="/cdn/static/cms/documents/yellow-lines-at--bus-stops-one-page-summary.pdf">Summary (PDF 0.02MB)</a><br />
        <a href="/cdn/static/cms/documents/yellow-lines-at-bus-stops-report.pdf">Full Report (PDF 0.51MB)</a>
        </p>
        <h2>Door-to-door application process</h2>
        <p>
        Ways to improve implementation of the revised application process for door-to-door services (December 2008)
        </p>
        <p>
        <a href="/cdn/static/cms/documents/door-to-door-application-process-summary.pdf">Summary (PDF 0.02MB)</a><br />
        <a href="/cdn/static/cms/documents/door-to-door-application-process-report.pdf">Full Report (PDF 0.73MB)</a>
        </p>
        <h2>Dial-a-Ride use and member profile</h2>
        <p>
        Extent to which free fares account for the increase in registrations and usage within four key groups (October 2008)
        </p>
        <p>
        <a href="/cdn/static/cms/documents/research-summary-dial-a-ride-usage-and-profile.pdf">Summary (PDF 0.02MB)</a><br />
        <a href="/cdn/static/cms/documents/dial-a-ride-usage-and-profile-report.pdf">Full Report (PDF 0.22MB)</a>
        </p>
        <h2>Dial-a-Ride new vehicle feedback</h2>
        <p>
        Driver and passenger views on how well the new large (Bluebird) vehicle is performing in service and to identify any problems or issues and how they could be overcome (August 2008)
        </p>
        <p>
        <a href="/cdn/static/cms/documents/research-summary-dial-a-ride-new-vehicle-feedback.pdf">Summary (PDF 0.02MB)</a><br />
        <a href="/cdn/static/cms/documents/dial-a-ride-new-vehicle-feedback-report.pdf">Full Report (PDF 0.24MB)</a>
        </p>
    
</div>
 <div>


        <p>Research into what our customers think and how they behave helps us identify their key issues, areas for improvement and allows us to seek their views on new initiatives to inform our decision making.</p>
        <h3>Conditions of use</h3>
        <p>The copyright of all reports in this library is owned by TfL and the provision of information under the Freedom of Information Act does not give the recipient a right to re-use the information in a way that would infringe copyright (for example, by publishing and issuing copies to the public).</p>
        <p>Brief extracts of the material may be reproduced under the fair dealing provisions of the Copyright, Designs and Patents Act 1988 for the purposes of research for non-commercial purposes, private study, criticism, review and news reporting.</p>
        <p>Contact us to arrange to use the material in this library for any other purpose.</p>
    
</div>
 
      
        
          
        
      
    
  </div>
  <div class="aside" role="complementary">

   
    
    
    
      <div data-set="sidenav-container" class="large">
        
        
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
      </div>
    
    <div>
















<div class="advert-tile unsponsored-style google-ads" aria-hidden="true">
  <div class="advert-link">
    <div class="advert-content">
        <div class="medium-large" data-advert="/76889402/non-targeted" data-advert-sizes="300, 250"></div>
        <div class="small" data-advert="/76889402/non-targeted" data-advert-sizes="300, 250"></div>
    </div>
  </div>
</div>
@{
    ViewBag.AmazonSlot = "'amznslots'";
    ViewBag.AmazonAds = "'3199'"; // to add another value, this needs to be ViewBag.AmazonAds = "'3199','xx'";
}
      

 </div>
    
      <div class="module-grid clearfix">
                    
        <div>

    <div class="contact-info-box">
         <div class="contact-info-header">
             <h3>Contact Customer Research Library</h3>
         </div>
        
        
        
        
        <div class="content-group">
            <p>
                
                
                
                
                
                
                
                
            </p>
            
        </div>
        
        <div class="content-group">
            
            
            
                
                
                
            
            
            <p>&nbsp;<a href="/help-and-contact/index">Use our contact forms</a></p>
        </div>
        
        
    </div>
</div>
 <div class="related-links">

    <h3>Customer Research Library reports</h3>

        We gather customers' views on a range of topics related to travelling in London
    
<div class="vertical-button-container">

<a href="http://www.tfl.gov.uk/corporate/publications-and-reports/?Category=Customer%20Research%20Library" class="plain-button">All reports</a>
    </div>
</div>
 
      </div>
    
    <div data-set="sidenav-container" class="small-medium"></div>
  </div>
</div>
 
 
        
        
        
            @{ViewBag.Description = "Feedback from disabled people using the TfL network";}
        
            
        


 