
    
  



@{ViewBag.Title = "Ultra Low Emission Vehicle research";}
@{ViewBag.Keywords = "Boroughs,Businesses,Drivers,Freight industry,Planning and construction,Taxi and private hire,E,U,Environment,Research,Deliveries,Driving,Taxis and minicabs,TfL";}
@{ViewBag.Url = "/corporate/publications-and-reports/ultra-low-emission-vehicle-research";}
@{ViewBag.Language = "en";}
        <!-- empty placeholder -->
 
        
        
<div class="r">
    <div class="breadcrumb-container" role="navigation">
        <span id="breadcrumb-label" class="visually-hidden">You are here:</span>
        <ol class="breadcrumbs clearfix" aria-labelledby="breadcrumb-label">
            <li class="home">
                <a href="/">
                    <span class="hide-text">Home</span>
                </a>
            </li>
            
                 <li><a href="/corporate/publications-and-reports/index">Publications & reports</a></li>
                
            
            
                <li><span class="last-breadcrumb">Ultra Low Emission Vehicle research</span></li>
            
        
 
        
 
        </ol>
    </div>
</div>
     
 
<div class="r">
  <div class="headline-container plain">
    <h1>Ultra Low Emission Vehicle research</h1>

  </div>
</div>
<div class="main-and-aside r">
  
  <div class="main content-container" role="main">
    
      <div class="article-teaser">
        We did research to shape our strategy for providing new electric vehicle (EV) charging infrastructure in London. These reports on specific issues should be read as part of the wider suite of research rather than in isolation.
        
      </div>
    
    
      <p>The Electric vehicle (EV) infrastructure delivery plan launched in June 2019&nbsp;is on the&nbsp;<a href="https://tfl.gov.uk/modes/driving/electric-vehicles-and-rapid-charging">Electric vehicles and rapid charging page</a>.</p>

<p>An earlier document 'Electric vehicle charging infrastructure: location guidance for London' summarised the main findings.</p>
      
           
      
<div>





<div class="multi-document-download-container">
    

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/electric-vehicle-charging-infrastructure-location-guidance-for-london.pdf">
    <div class="document-download-text">
        <p>Electric vehicle charging infrastructure: location guidance for London (2017)</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 6.81MB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 6.81 -->
 
</div>

</div>
 
<div>



<h2>Customer research</h2>



<div class="multi-document-download-container">
    

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/understanding--electric-vehicles-research-findings.pdf">
    <div class="document-download-text">
        <p>Understanding electric vehicles</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 833KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.81 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/phv-driver-and-operator-survey-.pdf">
    <div class="document-download-text">
        <p>Private hire vehicle drivers and operators </p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 1.08MB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 1.08 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/gauging-interest-for-evs-among-disabled-and-elderly-drivers.pdf">
    <div class="document-download-text">
        <p>Gauging interest for electric vehicles among disabled and older drivers</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 1.39MB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 1.39 -->
 
</div>

</div>
 
<div>



<h2>Rapid charging</h2>



<div class="multi-document-download-container">
    

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/rapid-charging-network-study.pdf">
    <div class="document-download-text">
        <p>Rapid charging network study - final report</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 3.51MB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 3.51 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/rapid-charging-for-taxis-feasibility-study-draft.pdf">
    <div class="document-download-text">
        <p>Rapid chargepoint network for plug-in taxis - feasibility study</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 2.71MB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 2.71 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/chargepoint-infrastructure-for-the-london-private-hire-industry-draft.pdf">
    <div class="document-download-text">
        <p>Chargepoint infrastructure for private hire</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 898KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.88 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/mapping-rapid-charge-point-locations-for-commercial-fleets.pdf">
    <div class="document-download-text">
        <p>Mapping rapid chargepoints locations for commercial vehicles</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 1.10MB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 1.10 -->
 
</div>

</div>
 
<div>



<h2>On-street/residential charging</h2>



<div class="multi-document-download-container">
    

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/ev-charging-options-for-homes-without-offstreet-parking.pdf">
    <div class="document-download-text">
        <p>Charging options for homes without offstreet parking</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 3.41MB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 3.41 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/ev-uptake-and-infrastructure-impacts-study-updated-nov-2016.pdf">
    <div class="document-download-text">
        <p>Uptake and infrastructure impacts</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 9.85MB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 9.85 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/ulev-car-club-study.pdf">
    <div class="document-download-text">
        <p>Car clubs</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 2.12MB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 2.12 -->
 
</div>

</div>
 
<div>



<h2>LoCITY</h2>



<div class="multi-document-download-container">
    

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/locity-operator-research.pdf">
    <div class="document-download-text">
        <p>LoCITY operators</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 1.63MB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 1.63 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/locity-technical-barriers-final-report1.pdf">
    <div class="document-download-text">
        <p>LoCITY technical barriers</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 4.98MB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 4.98 -->
 
</div>

</div>
 
      
        
          
        
      
    
  </div>
  <div class="aside" role="complementary">

   
    
    
    
      <div data-set="sidenav-container" class="large">
        
        
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
      </div>
    
    <div>
















<div class="advert-tile unsponsored-style google-ads" aria-hidden="true">
  <div class="advert-link">
    <div class="advert-content">
        <div class="medium-large" data-advert="/76889402/non-targeted" data-advert-sizes="300, 250"></div>
        <div class="small" data-advert="/76889402/non-targeted" data-advert-sizes="300, 250"></div>
    </div>
  </div>
</div>
@{
    ViewBag.AmazonSlot = "'amznslots'";
    ViewBag.AmazonAds = "'3199'"; // to add another value, this needs to be ViewBag.AmazonAds = "'3199','xx'";
}
      

 </div>
    
      <div class="module-grid clearfix">
                    
        <div class="related-links">

    <h3>Also on this site</h3>

<div class="vertical-button-container">

<a href="/modes/driving/electric-vehicles-and-rapid-charging" class="plain-button">Electric vehicles and rapid charging</a>
    </div>
</div>
 
      </div>
    
    <div data-set="sidenav-container" class="small-medium"></div>
  </div>
</div>
 
 
        
        
        
            @{ViewBag.Description = "Our research will be used to shape the Ultra Low Emission Vehicle (ULEV) Delivery Plan and our strategy for the charging infrastructure in London.";}
        
            
        


 