
    
  



@{ViewBag.Title = "Ultra Low Emission Zone";}
@{ViewBag.Keywords = "Bus operators,Drivers,Freight industry,U,Environment,Low Emission Zone,Roads,Deliveries,Driving,TfL";}
@{ViewBag.Url = "/corporate/publications-and-reports/ultra-low-emission-zone";}
@{ViewBag.Language = "en";}
        <!-- empty placeholder -->
 
        
        
<div class="r">
    <div class="breadcrumb-container" role="navigation">
        <span id="breadcrumb-label" class="visually-hidden">You are here:</span>
        <ol class="breadcrumbs clearfix" aria-labelledby="breadcrumb-label">
            <li class="home">
                <a href="/">
                    <span class="hide-text">Home</span>
                </a>
            </li>
            
                 <li><a href="/corporate/publications-and-reports/index">Publications & reports</a></li>
                
            
            
                <li><span class="last-breadcrumb">Ultra Low Emission Zone</span></li>
            
        
 
        
 
        </ol>
    </div>
</div>
     
 
<div class="r">
  <div class="headline-container plain">
    <h1>Ultra Low Emission Zone</h1>

  </div>
</div>
<div class="main-and-aside r">
  
  <div class="main content-container" role="main">
    
      <div class="article-teaser">
        Consultation documents and reports related to the Ultra Low Emission Zone (ULEZ).
        
      </div>
    
    <div class="on-this-page">
      <p>The ULEZ euro standard specifications can be found in the <a href="/cdn/static/cms/documents/lez-scheme-order.pdf">Greater London ULEZ Charging Order 2006 (PDF 239KB)</a>.</p>
      
           
      <div>

<h2>Supporting evidence</h2>
<p>We relied on evidence from several sources when developing proposals to create the ULEZ.</p>
<p>Air pollution is one of the most significant challenges facing London, affecting the health of all Londoners. Every child in London breathes toxic air daily, damaging their lung growth. Road transport is the biggest source of the emissions damaging health in London.</p>
<p>Around half of emissions of oxides of nitrogen (NOx), which contribute to illegal levels of nitrogen dioxide (NO2), and particulate matter (PM) come from transport. These pollutants make chronic illnesses worse, shorten life expectancy and can damage lung development.</p>
<p>The communities suffering most from poor air quality are often the most vulnerable, including the children of London. At least 360 primary schools are in areas exceeding safe legal pollution levels.</p>
<p>To help improve the air we breathe we're introducing measures to promote more walking, cycling, use of public transport and to encourage sustainable freight deliveries.</p>
<p>Evidence for this view comes from:</p>
<p><strong>Number of children in London breathing in toxic air daily</strong><br />
Reference:             London Datastore, Greater London Authority<br />
<a href="http:// https://data.london.gov.uk/dataset/gla-population-projections-custom-age-tables">GLA Population Projections - Custom Age Tables</a> <br />
<a href="http:// https://data.london.gov.uk/dataset/pm2-5-map-and-exposure-data">PM2.5 map and exposure data</a></p>
<p><strong>Road transport as biggest source of health-damaging emissions</strong><br />
Reference:            London Datastore, Greater London Authority<br />
<a href="https://data.london.gov.uk/dataset/london-atmospheric-emissions-inventory-2013">London Atmospheric Emissions Inventory (LAEI) 2013</a></p>
<p><strong>Lung growth in children</strong><br />
Reference:            Royal College of Physicians, 2017<br />
<a href="https://www.rcplondon.ac.uk/projects/outputs/every-breath-we-take-lifelong-impact-air-pollution">Every breath we take: the lifelong impact of air pollution</a></p>
<p><strong>Improving the air we breathe</strong><br />
Reference:            ULEZ consultation, TfL<br />
<a href="https://consultations.tfl.gov.uk/environment/air-quality-consultation-phase-3a/">ULEZ consultation page</a></p>
</div>
 <div>

<h2>ULEZ consultation on expansion - November 2017</h2>
<ul>
    <li>Report to Mayor</li>
    <li>Report to Mayor appendices</li>
    <li>Mayoral Decision Form</li>
    <li>Variation Order</li>
    <li>Instrument of confirmation</li>
    <li>Supplementary Information</li>
    <li>Integrated impact assessment</li>
</ul>
<p><a href="https://consultations.tfl.gov.uk/environment/air-quality-consultation-phase-3b/">Visit the ULEZ consultation on expansion page</a>.</p>
<h2>ULEZ consultation on 2019 start date - April 2017</h2>
<ul>
    <li>Report to Mayor</li>
    <li>Report to Mayor appendices</li>
    <li>Mayoral Decision Form</li>
    <li>Variation Order</li>
    <li>Instrument of confirmation</li>
    <li>Supplementary Information</li>
    <li>Integrated impact assessment</li>
</ul>
<p><a href="https://consultations.tfl.gov.uk/environment/air-quality-consultation-phase-3a/">Visit the ULEZ consultation on 2019 start date page</a>.</p>
<h2>ULEZ policy consultation - October 2016</h2>
<ul>
    <li>Report to Mayor</li>
    <li>Report to Mayor appendices</li>
    <li>T-Charge Mayoral Decision Form</li>
    <li>T-Charge Variation Order</li>
    <li>T-Charge Instrument of confirmation</li>
    <li>Supplementary Information</li>
</ul>
<p><a href="https://consultations.tfl.gov.uk/environment/air-quality-consultation-phase-2/">Visit the ULEZ consultation October 2016 page</a>.</p>
</div>
 <div>

<h2>ULEZ consultation on taxis and PHVs &#45; July 2015</h2>
<ul>
    <li>Memo to MD Surface</li>
    <li>Report to Mayor October 2015</li>
    <li>Supplementary Information</li>
    <li>IIA Health Impact Assessment</li>
    <li>IIA Appendix</li>
</ul>
<p><a href="http://consultations.tfl.gov.uk/environment/ulez-2">Visit the ULEZ taxi and private hire consultation page</a>.</p>
</div>
 <div>

<h2>ULEZ consultation - October 2014</h2>
<ul>
    <li>Instrument of Confirmation</li>
    <li>Mayoral Decision Form</li>
    <li>Report to Mayor &#45; March 2015</li>
    <li>Report to the Mayor Appendices</li>
    <li>Supplementary Information</li>
    <li>Integrated Impact Assessment (IIA) Summary Report</li>
    <li>IIA Health Impact Assessment</li>
    <li>IIA Environmental Impact Assessment</li>
    <li>IIA Equalities Impact Assessment</li>
    <li>IIA Economics Impact Assessment</li>
</ul>
<p><a href="https://consultations.tfl.gov.uk/environment/ultra-low-emission-zone">Visit the ULEZ consultation - October 2014 page</a>.</p>
</div>
 <div>

<h2>Agreements with London's emergency services</h2>

<p>We've signed Memoranda of Understanding (MoUs) with emergency services who are working to replace their vehicle fleets to meet ULEZ emissions standards.</p>

<ul>
	<li><a href="/cdn/static/cms/documents/ulez-mou-barts.pdf">Memorandum of Understanding between TfL and Barts Health NHS Foundation Trust</a></li>
	<li><a href="/cdn/static/cms/documents/ulez-mou-btp.pdf">Memorandum of Understanding between Transport for London and the British Transport Police</a></li>
	<li><a href="/cdn/static/cms/documents/ulez-mou-col.pdf">Memorandum of Understanding between Transport for London and the City of London Police</a></li>
	<li><a href="/cdn/static/cms/documents/ulez-mou-las.pdf">Memorandum of Understanding between TfL and The London Ambulance Service</a></li>
	<li><a href="/cdn/static/cms/documents/ulez-mou-lfepa.pdf">Memorandum of Understanding between Transport for London and the London Fire and Emergency Planning Authority</a></li>
	<li><a href="/cdn/static/cms/documents/ulez-mou-met.pdf">Memorandum of Understanding between Transport for London and the Metropolitan Police Service</a></li>
	<li><a href="/cdn/static/cms/documents/ulez-mou-nhsbt.pdf">Memorandum of Understanding between TfL and The NHS Blood and Transplant</a></li>
	<li><a href="/cdn/static/cms/documents/ulez-mou-slam.pdf">Memorandum of Understanding between TfL and The South London and Maudsley NHS Foundation Trust</a></li>
	<li><a href="/cdn/static/cms/documents/ulez-mou-wmas.pdf">Memorandum of Understanding between TfL and West Midlands Ambulance Service</a></li>
</ul>
</div>
 
      
        
          
            @this.ScriptBlock(
              @<script>
                queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
              </script>
            )
          
        
      
    </div>
  </div>
  <div class="aside" role="complementary">

   
    
    
    
      <div data-set="sidenav-container" class="large">
        
        
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
      </div>
    
    <div>
















<div class="advert-tile unsponsored-style google-ads" aria-hidden="true">
  <div class="advert-link">
    <div class="advert-content">
        <div class="medium-large" data-advert="/76889402/non-targeted" data-advert-sizes="300, 250"></div>
        <div class="small" data-advert="/76889402/non-targeted" data-advert-sizes="300, 250"></div>
    </div>
  </div>
</div>
@{
    ViewBag.AmazonSlot = "'amznslots'";
    ViewBag.AmazonAds = "'3199'"; // to add another value, this needs to be ViewBag.AmazonAds = "'3199','xx'";
}
      

 </div>
    
      <div class="module-grid clearfix">
                    
        <div class="related-links">

    <h3>Also on this site</h3>

<div class="vertical-button-container">

<a href="https://tfl.gov.uk/modes/driving/ultra-low-emission-zone" class="plain-button">Ultra Low Emission Zone</a>
    </div>
</div>
 
      </div>
    
    <div data-set="sidenav-container" class="small-medium"></div>
  </div>
</div>
 
 
        
        
        
            @{ViewBag.Description = "Consultation documents and reports related to the Ultra Low Emission Zone. ";}
        
            
        


 