
    
  



@{ViewBag.Title = "Underground services performance";}
@{ViewBag.Keywords = "Public,L,P,U,Performance,Tube,TfL";}
@{ViewBag.Url = "/corporate/publications-and-reports/underground-services-performance";}
@{ViewBag.Language = "en";}
        <!-- empty placeholder -->
 
        
        
<div class="r">
    <div class="breadcrumb-container" role="navigation">
        <span id="breadcrumb-label" class="visually-hidden">You are here:</span>
        <ol class="breadcrumbs clearfix" aria-labelledby="breadcrumb-label">
            <li class="home">
                <a href="/">
                    <span class="hide-text">Home</span>
                </a>
            </li>
            
                 <li><a href="/corporate/publications-and-reports/index">Publications & reports</a></li>
                
            
            
                <li><span class="last-breadcrumb">Underground services performance</span></li>
            
        
 
        
 
        </ol>
    </div>
</div>
     
 
<div class="r">
  <div class="headline-container plain">
    <h1>Underground services performance</h1>

  </div>
</div>
<div class="main-and-aside r">
  
  <div class="main content-container" role="main">
    
      <div class="article-teaser">
        London Underground conducts surveys that count the number of people using our service, where they travel to and from and how long their journeys last. We also monitor performance and assets, measuring how far trains have travelled and how many trains, lifts and escalators are in service.
        
      </div>
    
    <div class="on-this-page">
      
      
           
      <div>

<p>Most of our regular performance figures are updated every four weeks - defined as a period - and show a range of service and network-related matters. Some measures are updated once a quarter.</p>
</div>
 
<h2>Latest performance figures</h2>

<h3>Period 9&nbsp;- 2019/20 (from 10 November to 7 December 2019)</h3>
<div class="table-container"><table>
	<thead>
	</thead>
	<tbody>
		<tr>
			<th colspan="1" id="table_heading_1" rowspan="1"><strong>Passenger journeys</strong></th>
			<td>117.39 million</td>
			<td>&nbsp;</td>
		</tr>
		<tr>
			<td><strong>Lost customer hours</strong></td>
			<td>4.9 million</td>
			<td>&nbsp;</td>
		</tr>
		<tr>
			<th colspan="1" id="table_heading_2" rowspan="1"><strong>Customer satisfaction</strong> (out of 100)</th>
			<td>83 (Q2)</td>
			<td>&nbsp;</td>
		</tr>
		<tr>
			<th colspan="1" id="table_heading_3" rowspan="1"><strong>Excess journey time</strong></th>
			<td>6.48 minutes</td>
			<td>&nbsp;</td>
		</tr>
	</tbody>
</table></div>

<p>Further information on Tube performance, for the current and previous periods, can be found in the Performance data almanac here:</p>


 
<div>





<div class="multi-document-download-container">
    

<a class="document-download-wrap xlsx" href="/cdn/static/cms/documents/performance-data-almanac-p9.xlsx">
    <div class="document-download-text">
        <p>Performance data almanac</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            XLSX 1.93MB
            
        </p>
    </div>
    <div class="document-download-icon download-spread">
    </div>

</a>

<!-- 1.93 -->
 
</div>

</div>
 <div>

<h2>Benchmarking Report</h2>
<p>We regularly report to the Rail &amp; Underground Panel on our <a href="/cdn/static/cms/documents/rup-20150212-part-1-item08-international-benchmarking.pdf">performance against other metros</a> around the world. </p>
</div>
 
<div>



<h2>Entry and exit figures by station</h2>



<div class="multi-document-download-container">
    

<a class="document-download-wrap xlsx" href="/cdn/static/cms/documents/multi-year-station-entry-and-exit-figures.xlsx">
    <div class="document-download-text">
        <p>Entry and exit figures by station from 2007 </p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            XLSX 418KB
            
        </p>
    </div>
    <div class="document-download-icon download-spread">
    </div>

</a>

<!-- 0.41 -->
 
</div>

</div>
 
      
        
          
            @this.ScriptBlock(
              @<script>
                queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
              </script>
            )
          
        
      
    </div>
  </div>
  <div class="aside" role="complementary">

   
    
    
    
      <div data-set="sidenav-container" class="large">
        
        
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
      </div>
    
    <div>
















<div class="advert-tile unsponsored-style google-ads" aria-hidden="true">
  <div class="advert-link">
    <div class="advert-content">
        <div class="medium-large" data-advert="/76889402/non-targeted" data-advert-sizes="300, 250"></div>
        <div class="small" data-advert="/76889402/non-targeted" data-advert-sizes="300, 250"></div>
    </div>
  </div>
</div>
@{
    ViewBag.AmazonSlot = "'amznslots'";
    ViewBag.AmazonAds = "'3199'"; // to add another value, this needs to be ViewBag.AmazonAds = "'3199','xx'";
}
      

 </div>
    
    <div data-set="sidenav-container" class="small-medium"></div>
  </div>
</div>
 
 
        
        
        
            @{ViewBag.Description = "Performance figures showing how many people use the Tube, how trains are performing, etc. ";}
        
            
        


 