
    
  



@{ViewBag.Title = "West London Orbital";}
@{ViewBag.Keywords = "Boroughs,London Overground passengers,Planning and construction,W,Rail improvements,London Overground,TfL";}
@{ViewBag.Url = "/corporate/publications-and-reports/west-london-orbital";}
@{ViewBag.Language = "en";}
        <!-- empty placeholder -->
 
        
        
<div class="r">
    <div class="breadcrumb-container" role="navigation">
        <span id="breadcrumb-label" class="visually-hidden">You are here:</span>
        <ol class="breadcrumbs clearfix" aria-labelledby="breadcrumb-label">
            <li class="home">
                <a href="/">
                    <span class="hide-text">Home</span>
                </a>
            </li>
            
                 <li><a href="/corporate/publications-and-reports/index">Publications & reports</a></li>
                
            
            
                <li><span class="last-breadcrumb">West London Orbital</span></li>
            
        
 
        
 
        </ol>
    </div>
</div>
     
 
<div class="r">
  <div class="headline-container plain">
    <h1>West London Orbital</h1>

  </div>
</div>
<div class="main-and-aside r">
  
  <div class="main content-container" role="main">
    
      <div class="article-teaser">
        We are considering a new rail service on existing, underused rail lines in west London as part of the London Overground network. The West London Orbital rail line would run from Hounslow and Kew Bridge towards Hendon and West Hampstead in the north.
        
      </div>
    
    
      <p>This aim of this work is set out in the <a href="/corporate/about-tfl/the-mayors-transport-strategy">Mayor's Transport Strategy</a>.</p>

<h2>Proposed scheme</h2>

<p>The service would connect the Opportunity Areas of:</p>

<ul>
	<li>Brent Cross</li>
	<li>Wembley</li>
	<li>Old Oak Common</li>
	<li>Great West Corridor</li>
</ul>

<p>In the north, it's proposed that the service would run along the Dudding Hill line - this&nbsp;is currently used for freight services only.</p>

<p>The new service aims to:</p>

<ul>
	<li>Enable the creation of at least 8,800 new homes and 23,000 new jobs</li>
	<li>Reduce journey times for public transport journeys across west and northwest London</li>
	<li>Alleviate crowding on congested rail and Tube lines</li>
	<li>Offer much-needed transport alternatives to encourage people to shift to sustainable transport&nbsp;and improve air quality</li>
</ul>

<h2>Strategic outline business case</h2>

<p>We have worked closely with the West London Alliance, Network Rail and our West London borough partners to develop a strategic outline business case for the proposal.</p>

<p>The case shows that the West London Orbital scheme could&nbsp;address critical strategic issues facing west and northwest London.</p>
      
           
      
<div>





<div class="multi-document-download-container">
    

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/west-london-orbital-strategic-outline-business-case.pdf">
    <div class="document-download-text">
        <p>West London Orbital strategic outline business case</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 3.81MB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 3.81 -->
 
</div>

</div>
 <div>

<p>We're now considering the next steps for developing the scheme and how such a scheme could be funded.</p>
</div>
 
      
        
          
        
      
    
  </div>
  <div class="aside" role="complementary">

   
    
    
    
      <div data-set="sidenav-container" class="large">
        
        
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
      </div>
    
    <div>
















<div class="advert-tile unsponsored-style google-ads" aria-hidden="true">
  <div class="advert-link">
    <div class="advert-content">
        <div class="medium-large" data-advert="/76889402/non-targeted" data-advert-sizes="300, 250"></div>
        <div class="small" data-advert="/76889402/non-targeted" data-advert-sizes="300, 250"></div>
    </div>
  </div>
</div>
@{
    ViewBag.AmazonSlot = "'amznslots'";
    ViewBag.AmazonAds = "'3199'"; // to add another value, this needs to be ViewBag.AmazonAds = "'3199','xx'";
}
      

 </div>
    
    <div data-set="sidenav-container" class="small-medium"></div>
  </div>
</div>
 
 
        
        
        
            @{ViewBag.Description = "We're developing a proposal to create a new rail service in west London as part of the London Overground network";}
        
            
        


 