
    
  



@{ViewBag.Title = "Working Timetables (WTT)";}
@{ViewBag.Keywords = "T,W,Tube,TfL";}
@{ViewBag.Url = "/corporate/publications-and-reports/working-timetables";}
@{ViewBag.Language = "en";}
        <!-- empty placeholder -->
 
        
        
<div class="r">
    <div class="breadcrumb-container" role="navigation">
        <span id="breadcrumb-label" class="visually-hidden">You are here:</span>
        <ol class="breadcrumbs clearfix" aria-labelledby="breadcrumb-label">
            <li class="home">
                <a href="/">
                    <span class="hide-text">Home</span>
                </a>
            </li>
            
                 <li><a href="/corporate/publications-and-reports/index">Publications & reports</a></li>
                
            
            
                <li><span class="last-breadcrumb">Working Timetables (WTT)</span></li>
            
        
 
        
 
        </ol>
    </div>
</div>
     
 
<div class="r">
  <div class="headline-container plain">
    <h1>Working Timetables (WTT)</h1>

  </div>
</div>
<div class="main-and-aside r">
  
  <div class="main content-container" role="main">
    
      <div class="article-teaser">
        Working Timetables (WTT) are the rail industry version of public timetables. They show all movements on the Tube network including empty trains and train movements in and out of depots.
        
      </div>
    
    <div class="on-this-page">
      <p>Working Timetables include identification codes for each train, times at locations other than stations (eg junctions) and do not necessarily show times for all stations where a train is scheduled to stop</p>

<p>Important: These timetables are made available for rail industry professionals and should not be confused with the passenger version which is available using <a href="/plan-a-journey/index">Journey Planner</a></p>
      
           
      
<div>





<div class="multi-document-download-container">
    

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/wtt-45-bakerloo-15-dec-2019.pdf">
    <div class="document-download-text">
        <p>WTT 45 Bakerloo</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 1.75MB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 1.75 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/wtt-46-bakerloo-22-mar-2020.pdf">
    <div class="document-download-text">
        <p>WTT 46 Bakerloo (from 22 March)</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 1.53MB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 1.53 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/wtt-70-central-26-jan-2020.pdf">
    <div class="document-download-text">
        <p>WTT 70 Central</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 3.84MB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 3.84 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/wtt-35-circle-and-hammersmith-and-city-21-may-2017.pdf">
    <div class="document-download-text">
        <p>WTT 35 Circle and Hammersmith and City </p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 2.06MB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 2.06 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/wtt-150-district-20-may-2018.pdf">
    <div class="document-download-text">
        <p>WTT 150 District</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 2.84MB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 2.84 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/wtt-15-jubilee-20-may-2018.pdf">
    <div class="document-download-text">
        <p>WTT 15 Jubilee (until 22 March)</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 3.76MB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 3.76 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/wtt-16-jubilee-23-mar-2020.pdf">
    <div class="document-download-text">
        <p>WTT 16 Jubilee (from 23 March)</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 3.85MB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 3.85 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/wtt-341-metropolitan-30-december-2018.pdf">
    <div class="document-download-text">
        <p>WTT 341 Metropolitan</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 3.43MB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 3.43 -->
 
</div>

</div>
 
<div>





<div class="multi-document-download-container">
    

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/ttn-132-northern-30-dec-2019.pdf">
    <div class="document-download-text">
        <p>TTN 132/19 Northern</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 5.06MB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 5.06 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/wtt-58-piccadilly.pdf">
    <div class="document-download-text">
        <p>WTT 58 Piccadilly</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 3.06MB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 3.06 -->
 
</div>

</div>
 
<div>





<div class="multi-document-download-container">
    

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/vic42.pdf">
    <div class="document-download-text">
        <p>WTT 42 Victoria</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 2.86MB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 2.86 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/wtt-7-waterloo-and-city-9-october-2017.pdf">
    <div class="document-download-text">
        <p>WTT 7 Waterloo & City </p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 328KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.32 -->
 
</div>

</div>
 
      
        
          
            @this.ScriptBlock(
              @<script>
                queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
              </script>
            )
          
        
      
    </div>
  </div>
  <div class="aside" role="complementary">

   
    
    
    
      <div data-set="sidenav-container" class="large">
        
        
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
      </div>
    
    <div>
















<div class="advert-tile unsponsored-style google-ads" aria-hidden="true">
  <div class="advert-link">
    <div class="advert-content">
        <div class="medium-large" data-advert="/76889402/non-targeted" data-advert-sizes="300, 250"></div>
        <div class="small" data-advert="/76889402/non-targeted" data-advert-sizes="300, 250"></div>
    </div>
  </div>
</div>
@{
    ViewBag.AmazonSlot = "'amznslots'";
    ViewBag.AmazonAds = "'3199'"; // to add another value, this needs to be ViewBag.AmazonAds = "'3199','xx'";
}
      

 </div>
    
      <div class="module-grid clearfix">
                    
        <div class="related-links">

    <h3>Also on this site</h3>

<div class="vertical-button-container">

<a href="/corporate/transparency/index" class="plain-button">Transparency</a>
    </div>
</div>
 
      </div>
    
    <div data-set="sidenav-container" class="small-medium"></div>
  </div>
</div>
 
 
        
        
        
            @{ViewBag.Description = "Working timetables are rail industry timetables. They show all movements on the Tube network including empty trains and those coming in and out of depots";}
        
            
        


 