


@{ViewBag.Title = "Artificial intelligence to help fuel London's cycling boom";}
        
        
<div class="r">
    <div class="breadcrumb-container" role="navigation">
        <span id="breadcrumb-label" class="visually-hidden">You are here:</span>
        <ol class="breadcrumbs clearfix" aria-labelledby="breadcrumb-label">
            <li class="home">
                <a href="/">
                    <span class="hide-text">Home</span>
                </a>
            </li>
            
                <li>
                    <a href="/info-for/media/index">Media</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases">Press releases</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases/2020">2020</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases/2020/january">January</a>
                </li>
                
                <li>
                    <span class="last-breadcrumb">Artificial intelligence to help fuel London’s cycling boom</span>
                </li>
            
 
            
 
            
 
            
 
            
 
        </ul>
    </div>
</div>
     
 
<div class="r">
    <div class="headline-container plain">
        <h1>Artificial intelligence to help fuel London’s cycling boom</h1>
        <div class="content-page-press-release">
        16 January 2020
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        UK-first trial of artificial intelligence technology from Vivacity Labs makes it much easier for TfL to understand how people cycling and walking are using the road network
        
    </div>



<div class="pull-quote">
        <div class="quote-body">"We work around the clock to keep people on in London moving and we're always looking for innovative new ways of making our roads safer and more efficient
 "</div>
        <div class="quote-footer">
            <div class="quotee-name">Glynn Barton</div>
            <div class="quotee-job-title">Director of Network Management, TfL</div>
        </div>
</div>

 <div class="on-this-page">
<ul>
	<li>Data will help TfL to plan new routes as it expands London's growing cycling network</li>
</ul>

<p>Transport for London (TfL) has worked with Vivacity Labs, an innovative London tech firm, on a UK-first trial of artificial intelligence technology, which could make it much easier to plan and operate new cycle routes in the capital.</p>

<p>Until now, TfL has relied mainly on manual traffic counts to work out how many people are cycling on any given road. This helps assess demand for new cycle routes and helps TfL improve how it operates the road network for the growing numbers of people cycling. Manual traffic counts, which are carried out at limited locations on London's road network, are only able to give a snapshot of road use on the given day or time.</p>

<p>Since 2018, TfL has trialled using Vivacity Labs sensors at two busy locations along Millbank. The sensors use artificial intelligence to detect road users and decide which mode of transport they are using. The competitive trial, which is the first time the technology has been used within London, showed that the Vivacity sensors are up to 98 per cent accurate.</p>

<p>The sensors gather data around the clock, which provides a significantly more detailed picture of how London's roads are being used by everyone 24/7. All video captured by the sensors is processed and discarded within seconds, meaning that no personal data is ever stored. TfL is in the process of introducing 43 more Vivacity sensors at 20 central London locations to gather data and further test to understand the full range of capabilities the technology has to offer.</p>

<p>Data about the numbers of people cycling is a vital part of TfL's planning for new Cycleways across London. As the network continues to grow, TfL will use data from sources such as the sensors to work out where investment in new infrastructure can best be targeted. Enabling more people to walk and cycle is central to the Mayor's efforts to tackle London's toxic air, ill-health and the climate emergency. The Mayor's Transport Strategy target is for 80 per cent of journeys in London made by walking, cycling and public transport by 2041.</p>

<p>As well as accurately detecting people cycling, the sensors also detect people walking and other types of traffic, including cars, HGVs, vans, motorcyclists and buses. This will lead to a much better understanding of demand on the road network and how TfL can balance it.</p>

<p>The sensors are part of a wider programme of modernisation of TfL's current road network systems and have the potential to link up to London's traffic signals and control centre systems to provide data in real time, which could enable TfL to better balance demand and improve how it manages congestion.</p>

<p>The technology used by Vivacity has been developed over four years of research and development, supported by investment from the Mayor of London.&nbsp;</p>

<p><strong>London's Walking and Cycling Commissioner, Will Norman, said: </strong></p>

<p>'By getting more people cycling and walking, we can help to tackle congestion and pollution in London and improve our health. Our Healthy Streets approach is based on evidence and data and we welcome new technology that supports this.'</p>

<p><strong>Mark Nicholson, CEO &amp; Co-Founder of Vivacity Labs, said: </strong></p>

<p>'We are delighted to have been successful in the competitive trials, and to now be rolling out a set of sensors at critical junctions in a global city such as London.'</p>

<p><strong>Glynn Barton, TfL's Director of Network Management, said: </strong></p>

<p>'We work around the clock to keep people on in London moving and we're always looking for innovative new ways of making our roads safer and more efficient. New data from trials such as this will be really valuable as we invest and make day-to-day decisions to enable more people to walk and cycle.'</p>

<hr />
<p>Notes to Editors:</p>

<p>The proposed 20 central London locations for the 43 Vivacity sensors are:&nbsp;</p>

<ol>
	<li>Blackfriars Road / Stamford Street&nbsp;</li>
	<li>Blackfriars Road interchange between Cycleways 3 and 6 &nbsp;</li>
	<li>Millbank /Vauxhall Bridge&nbsp;</li>
	<li>Great Dover Street&nbsp;</li>
	<li>Upper Thames Street / Southwark Bridge&nbsp;</li>
	<li>Old Street&nbsp;</li>
	<li>Tower Hill / Tower Gateway&nbsp;</li>
	<li>Westminster Bridge / York Road / Lambeth Palace Road&nbsp;</li>
	<li>King's Cross Road&nbsp;</li>
	<li>Newington Buts&nbsp;</li>
	<li>Lambeth Bridge / Albert Embankment</li>
	<li>Whitechapel High Street&nbsp;</li>
	<li>Waterloo Bridge / Waterloo Road&nbsp;</li>
	<li>London Bridge&nbsp;</li>
	<li>Tower Bridge&nbsp;</li>
	<li>Shoreditch High Street &nbsp; &nbsp;</li>
	<li>Marylebone Road&nbsp;</li>
	<li>City Road / Colebrook Row&nbsp;</li>
	<li>Hyde Park Corner&nbsp;</li>
	<li>Edgware Road&nbsp;</li>
</ol>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
                <a href="/info-for/media/index" class="heading">
                    <h2 id="sub-menu-heading">Media<span class="visually-hidden"> navigation</span></h2>
                </a>
                <ul>
                    
                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases">Press releases</a></div>
                                <ul>
                                    
                                        <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2020">2020</a></div>
                                        <ul>
                                            
                                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2020/january">January</a></div>
                                                <ul>
                                                    
 
 
 
 
 
 
 
 
 
 
 
 
 
                                                </ul>
                                            
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2020/february">February</a></div></li>
                                    
 
                                        <li><div class="link-wrapper"><a href="/info-for/media/press-releases/2020/march">March</a></div></li>
                                    
 
                                        </ul>
                                    </li>
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019">2019</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018">2018</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017">2017</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016">2016</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015">2015</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014">2014</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2013">2013</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2012">2012</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2011">2011</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2010">2010</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2009">2009</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2008">2008</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2007">2007</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2006">2006</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2005">2005</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2004">2004</a></div></li>
                            
 
                                </ul>
                            </li>
 
                                <li><div class="link-wrapper"><a href="/info-for/media/photos">Photos</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/media/contact-the-press-office">Contact the Press Office</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/filming-and-photography">Filming & photography</a></div></li>
                            
 
                </ul>
            
 
 
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype: -Home-Media-Media-Press releases-2020-January-Artificial intelligence to help fuel London’s cycling boom -->

 
 
        
        
            @{ViewBag.Description = "TfL using artificial intelligence to help fuel London’s cycling boom";}
        
        


 