


@{ViewBag.Title = "London Tube station transformed into 'PICARDilly' Circus";}
        
        
<div class="r">
    <div class="breadcrumb-container" role="navigation">
        <span id="breadcrumb-label" class="visually-hidden">You are here:</span>
        <ol class="breadcrumbs clearfix" aria-labelledby="breadcrumb-label">
            <li class="home">
                <a href="/">
                    <span class="hide-text">Home</span>
                </a>
            </li>
            
                <li>
                    <a href="/info-for/media/index">Media</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases">Press releases</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases/2020">2020</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases/2020/january">January</a>
                </li>
                
                <li>
                    <span class="last-breadcrumb">London Tube station transformed into ‘PICARDilly’ Circus</span>
                </li>
            
 
            
 
            
 
            
 
            
 
        </ul>
    </div>
</div>
     
 
<div class="r">
    <div class="headline-container plain">
        <h1>London Tube station transformed into ‘PICARDilly’ Circus</h1>
        <div class="content-page-press-release">
        15 January 2020
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        Piccadilly Circus renamed for 48 hours ahead of the 24 January launch of new Amazon Prime Video original series Star Trek: Picard in more than 200 territories around the world
        
    </div>



<div class="pull-quote">
        <div class="quote-body">"We're thrilled to partner with Amazon Prime Video to create this exciting takeover of one of London's most well-known Underground stations"</div>
        <div class="quote-footer">
            <div class="quotee-name">Julie Dixon</div>
            <div class="quotee-job-title">Head of Customer Information, Design and Partnerships, TfL</div>
        </div>
</div>

 <div class="on-this-page">
<ul>
	<li>Themed station branding and signage placed around the station, with special PA announcements providing information</li>
	<li>Promotional activity part of TfL's wider work to generate vital revenue to reinvest in transport across the city</li>
</ul>

<p>Customers on London Underground today found themselves transported to the heart of the Federation to mark the launch of Amazon Prime Video's original new series Star Trek: Picard.</p>

<p>From Wednesday 15 January to Thursday 16 January, the Grade II listed station will be renamed &quot;PICARDilly Circus&quot;, with roundels in the ticket hall and platforms rebranded and specially created signage and posters, inspired by the new series, installed throughout the station.</p>

<p>Special public service announcements will also be made, advising customers on how to avoid card-clash and to &quot;take care when using stairs, escalators or transporters&quot; while travelling through the station.</p>

<p><strong>Julie Dixon, Head of Customer Information, Design and Partnerships at Transport for London (TfL) said: </strong></p>

<p>'We're thrilled to partner with Amazon Prime Video to create this exciting takeover of one of London's most well-known Underground stations to celebrate the launch of Star Trek: Picard. The Star Trek franchise is a global sensation and we're excited to mark this next chapter in a creative and engaging way that connects with tens of thousands of people.</p>

<p>'We hope that the out of this world activity has brought a bit of unexpected fun to our customers and that they boldly go on their commute, young or old.'</p>

<p><strong>Mike Gordon, Chief Commercial Officer at Global, said: </strong></p>

<p>'This clever campaign is a perfect example of how brands can harness the power of outdoor to create experiences which capture the attention of audiences at key moments of the day. For example, many commuters will be streaming video whilst travelling to work, or they may be heading home and considering diving into a new series. This dynamic activation will help drive awareness and fame for this much-loved franchise and we look forward to seeing how commuters respond.'</p>

<p>The new series, Star Trek: Picard, launches on Amazon Prime Video in more than 200 countries and territories around the world on 24 January and features Sir Patrick Stewart reprising his iconic role as Jean-Luc Picard, which he played for seven seasons on Star Trek: The Next Generation. The new series will follow this iconic character into the next chapter of his life.</p>

<p>This two-day marketing campaign was developed by Amazon, Initiative, TfL and Global Media. By using TfL's advertising estate and in-station environments, advertisers can have access to flexible and dynamic opportunities to connect with their target audiences, while helping to generate vital revenues to invest in London's transport network.</p>

<p>The activation will run alongside high-impact media takeovers of platforms and corridor areas, delivered by TfL's advertising partner Global, which will remain in place for two weeks.</p>

<hr />
<p>Notes to editors:</p>

<ul>
	<li>Publicity contacts: TfL Press Office &#45; Thomas Canning <a href="mailto:thomascanning&#64;tfl.gov.uk">thomascanning&#64;tfl.gov.uk</a> and Amazon Prime Video Press Office &#45; <a href="mailto:AmazonPrimeVideo&#64;theacademypr.com">AmazonPrimeVideo&#64;theacademypr.com</a></li>
	<li>Alongside Sir Patrick Stewart, Star Trek: Picard will also star Isa Briones, Santiago Cabrera, Michelle Hurd, Alison Pill, Harry Treadaway and Evan Evagora.</li>
	<li>The series is produced by CBS Television Studios in association with Secret Hideout and Roddenberry Entertainment. Alex Kurtzman, Michael Chabon, Akiva Goldsman, James Duff, Patrick Stewart, Heather Kadin, Rod Roddenberry and Trevor Roth serve as executive producers and Aaron Baiers (Secret Hideout) serves as co-executive producer and Kirsten Beyer as supervising producer. Hanelle Culpepper directed the first two episodes of the series.</li>
	<li>In the United States, the series will be available exclusively on CBS All Access, and in Canada on Bell Media's cable networks, Space and Z, and OTT service Crave.</li>
</ul>

<p>&nbsp;<br />
<strong>About Transport for London (TfL)</strong></p>

<p>Transport for London (TfL) is the integrated transport authority responsible for delivering Mayor of London Sadiq Khan's strategy and commitments on transport. It runs the day-to-day operation of the Capital's public transport network, including London Underground, London Overground, Docklands Light Railway, London Buses and TfL Rail services, as well as managing London's main roads. Every day more than 31 million journeys are made across London's transport network and TfL does all it can to keep the city moving, working and growing. TfL reinvests all income generated through fares and commercial revenue to run and improve services and is committed to reducing costs.</p>

<p><strong>About Prime Video</strong></p>

<p>Prime Video is a premium subscription streaming service that offers customers a vast collection of TV shows and movies - all with the ease of finding what they love to watch in one place.</p>

<ul>
	<li>Included with Prime: Watch thousands of popular movies and TV shows, including critically-acclaimed Amazon Originals such as Good Omens, The Grand Tour, Tom Clancy's Jack Ryan, The Marvelous Mrs. Maisel and Homecoming; the Academy Award-winning Manchester by the Sea and The Salesman, Academy Award-nominated The Big Sick and Cold War, and Mindy Kaling's Late Night; plus exclusive TV shows like American Gods, Vikings and Outlander; as well as live sport including ATP Tour and US Open Tennis and Premier League football, and self-published content. All part of Prime Video, which is now available in over 200 countries and territories worldwide.</li>
	<li>Watch More with Prime Video Channels: Prime members can add 70+ channels like Discovery, ITV Hub+, Eurosport Player, hayu, STARZPLAY and more — no extra apps to download; no long term contract required. Only pay for the ones you want, and cancel anytime. To view the full list of channels available, visit <a href="[ioID]#amazon.co.uk/channels">amazon.co.uk/channels</a>.</li>
	<li>Rent or Buy: Enjoy hundreds of thousands of titles, including new-release movies and entire seasons of TV shows available for all Amazon customers to rent or buy.</li>
	<li>Instant Access: Watch where and when you want with the Prime Video app on TVs, mobile devices, Amazon Fire TV, Fire TV Stick, Fire tablets, games consoles, on Virgin's V6 TV Box, the Talk Talk TV set top box, Apple TV, Chromecast, BT TV or online. For a list of all compatible devices visit <a href="[ioID]#amazon.co.uk/watchanywhere">amazon.co.uk/watchanywhere</a>.</li>
	<li>Enhanced Experiences: Make the most of every viewing with 4K Ultra HD and High Dynamic Range (HDR) compatible content. Go behind the scenes of your favourite movies and TV shows with exclusive X-Ray access, powered by IMDb. Watch anywhere with mobile and tablet downloads for offline viewing.</li>
</ul>

<p>In addition to access to movies and TV shows included with Prime, the Prime membership includes unlimited fast free delivery options across all categories available on Amazon, more than two million songs and thousands of playlists and stations with Prime Music, secure photo storage with Prime Photos, unlimited access to a rotating selection of thousands of books and magazines with Prime Reading, unlimited access to a digital audiobook catalogue with Audible Channels for Prime, a rotating selection of free digital games and in-game loot with Twitch Prime, early access to select Lightning Deals, and more. To sign-up for Prime or to find out more visit: <a href="[ioID]#amazon.co.uk/prime">amazon.co.uk/prime</a>.</p>

<p><strong>About Amazon</strong></p>

<p>Amazon is guided by four principles: customer obsession rather than competitor focus, passion for invention, commitment to operational excellence, and long-term thinking. Customer reviews, 1-Click shopping, personalized recommendations, Prime, Fulfillment by Amazon, AWS, Kindle Direct Publishing, Kindle, Fire tablets, Fire TV, Amazon Echo, and Alexa are some of the products and services pioneered by Amazon. For more information, visit <a href="[ioID]#amazon.com/about">amazon.com/about</a> and follow <a href="[ioID]#https://twitter.com/AmazonNews">&#64;AmazonNews</a>.</p>

<p><strong>About Global</strong></p>

<p>Global is one of the world's leading Media &amp; Entertainment groups. It is Europe's largest radio company and one of the leading Outdoor companies in both the UK &amp; Europe. Global is home to respected, national, market leading media brands including Capital, Heart, Classic FM, LBC, Global's Newsroom, Smooth, Radio X, Capital XTRA, Gold and Global Player, which allows listeners to enjoy all of Global's radio brands, award-winning podcasts, and expertly-curated playlists, in one place in app, on web and on smart speakers.</p>

<p>With an extensive and diverse portfolio, Global is also the leading Outdoor company in the UK &amp; one of the largest in Europe with over 235,000 sites reaching 95 per cent of the UK population.</p>

<p>On-air, on Global Player and with our outdoor platforms combined, Global reaches 51 million individuals across the UK every week, including 25 million on the radio alone.</p>

<p>Global created and operates DAX, the market leader in digital audio advertising. Through its proprietary technology, DAX connects advertisers with an audience of more than 130 million people worldwide, inserting targeted advertising into music streaming services, connected radio listening and podcasts in the UK, Europe, the USA and Canada. &nbsp;DAX is the largest digital audio advertising platform in the UK and one of the largest in the world.</p>

<p>The company headquarters is in London's iconic Leicester Square. Ashley Tabor-King OBE is Founder &amp; Executive President, Stephen Miron is Group CEO, Lord Allen is Chairman and James Rea is Director of Broadcasting. Ashley Tabor-King created Global in 2007.</p>

<p><a href="[ioID]#www.global.com">www.global.com</a></p>

<p><a href="[ioID]#https://twitter.com/Global">&#64;global</a></p>

<p>&nbsp;</p>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
                <a href="/info-for/media/index" class="heading">
                    <h2 id="sub-menu-heading">Media<span class="visually-hidden"> navigation</span></h2>
                </a>
                <ul>
                    
                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases">Press releases</a></div>
                                <ul>
                                    
                                        <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2020">2020</a></div>
                                        <ul>
                                            
                                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2020/january">January</a></div>
                                                <ul>
                                                    
 
 
 
 
 
 
 
 
 
 
 
 
 
                                                </ul>
                                            
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2020/february">February</a></div></li>
                                    
 
                                        <li><div class="link-wrapper"><a href="/info-for/media/press-releases/2020/march">March</a></div></li>
                                    
 
                                        </ul>
                                    </li>
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019">2019</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018">2018</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017">2017</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016">2016</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015">2015</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014">2014</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2013">2013</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2012">2012</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2011">2011</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2010">2010</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2009">2009</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2008">2008</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2007">2007</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2006">2006</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2005">2005</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2004">2004</a></div></li>
                            
 
                                </ul>
                            </li>
 
                                <li><div class="link-wrapper"><a href="/info-for/media/photos">Photos</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/media/contact-the-press-office">Contact the Press Office</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/filming-and-photography">Filming & photography</a></div></li>
                            
 
                </ul>
            
 
 
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype: -Home-Media-Media-Press releases-2020-January-London Tube station transformed into ‘PICARDilly’ Circus -->

 
 
        
        
            @{ViewBag.Description = "London Tube station transformed into ‘PICARDilly’ Circus";}
        
        


 