


@{ViewBag.Title = "New Routemaster buses to become front-boarding only";}
        
        
<div class="r">
    <div class="breadcrumb-container" role="navigation">
        <span id="breadcrumb-label" class="visually-hidden">You are here:</span>
        <ol class="breadcrumbs clearfix" aria-labelledby="breadcrumb-label">
            <li class="home">
                <a href="/">
                    <span class="hide-text">Home</span>
                </a>
            </li>
            
                <li>
                    <a href="/info-for/media/index">Media</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases">Press releases</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases/2020">2020</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases/2020/january">January</a>
                </li>
                
                <li>
                    <span class="last-breadcrumb">New Routemaster buses to become front-boarding only</span>
                </li>
            
 
            
 
            
 
            
 
            
 
        </ul>
    </div>
</div>
     
 
<div class="r">
    <div class="headline-container plain">
        <h1>New Routemaster buses to become front-boarding only</h1>
        <div class="content-page-press-release">
        10 January 2020
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        More than &pound;3.6m that could be invested in transport is lost every year from fare evasion on New Routemasters
        
    </div>



<div class="pull-quote">
        <div class="quote-body">"Our successful pilot on the route 8 has shown that boarding using the front door only doesn't delay the service and reduces fare evasion, so we will change all other New Routemasters to follow suit"</div>
        <div class="quote-footer">
            <div class="quotee-name">Claire Mann</div>
            <div class="quotee-job-title">TfL's Director of Bus Operations</div>
        </div>
</div>

 <div class="on-this-page">
<p>All New Routemasters will be converted to make the middle and rear doors exit only following a successful pilot on the route 8 that reduced fare evasion without affecting the reliability of the route.</p>

<p>The New Routemasters currently allow boarding through all doors, but this has seen fare evaders deprive London's transport network of millions of pounds of vital revenue.</p>

<p>Fare evasion on New Routemasters is more than double the rate of other buses, with TfL&nbsp;estimating that more than &pound;3.6m is lost each year on New Routemasters. The current system also means that customers with accessibility needs cannot always board buses first.</p>

<p>Early indications suggest that fare evasion dropped by more than half during a trial of front-door-only boarding on route 8, with no adverse effect on service efficiency.</p>

<p>The pilot, which started in August, was successful in communicating the change and encouraging people to board through the front doors &#45; reducing fare evasion and improving accessibility.</p>

<p>Boarding using the middle and rear doors on all New Routemasters will be phased out, starting with the routes 55 and 267 on 25 January.</p>

<p>Customers will be advised of the changes to boarding with emails and on-board announcements. Signage will also be changed on buses. Customers with wheelchairs and pushchairs will continue to be able to board through middle doors.</p>

<p>The changes will also make using buses in London simpler for all, as boarding arrangements for New Routemasters will now be the same as on other London buses.</p>

<p>All drivers have undergone training to improve their customers' experience, and by boarding at the front, it will be easier for passengers to interact with drivers.</p>

<p>TfL's team of more than 450 revenue inspectors operate across the whole network day and night, using new technology and intelligence to identify anyone travelling without a ticket.</p>

<p>Fare evasion is a serious criminal offence that could lead to prosecution, a criminal record and a fine of up to &pound;1,000. The changes being made to New Routemasters are part of a wider programme of activity designed to drive down fare evasion across the whole TfL network.</p>

<p>Claire Mann, TfL's Director of Bus Operations, said: 'Fare dodging is criminal and unfair, and it deprives London's transport of the investment it needs.</p>

<p>'Our successful pilot on the route 8 has shown that boarding using the front door only doesn't delay the service and reduces fare evasion, so we will change all other New Routemasters to follow suit.</p>

<p>'Customers with wheelchairs and pushchairs will still be able to board using the middle doors and will find it easier to access the priority space on buses as &#45; like on other buses &#45; they will be able to use the middle doors to board without having other customers doing so at the same time.'</p>

<hr />
<p><strong>Notes to Editors:</strong></p>

<ul>
	<li>The &pound;100m lost to fare evasion across the whole network every year could fund more than 1,000 additional members of frontline staff or police officers on the network</li>
</ul>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
                <a href="/info-for/media/index" class="heading">
                    <h2 id="sub-menu-heading">Media<span class="visually-hidden"> navigation</span></h2>
                </a>
                <ul>
                    
                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases">Press releases</a></div>
                                <ul>
                                    
                                        <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2020">2020</a></div>
                                        <ul>
                                            
                                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2020/january">January</a></div>
                                                <ul>
                                                    
 
 
 
 
 
 
 
 
 
 
 
 
 
                                                </ul>
                                            
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2020/february">February</a></div></li>
                                    
 
                                        <li><div class="link-wrapper"><a href="/info-for/media/press-releases/2020/march">March</a></div></li>
                                    
 
                                        </ul>
                                    </li>
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019">2019</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018">2018</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017">2017</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016">2016</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015">2015</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014">2014</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2013">2013</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2012">2012</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2011">2011</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2010">2010</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2009">2009</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2008">2008</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2007">2007</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2006">2006</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2005">2005</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2004">2004</a></div></li>
                            
 
                                </ul>
                            </li>
 
                                <li><div class="link-wrapper"><a href="/info-for/media/photos">Photos</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/media/contact-the-press-office">Contact the Press Office</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/filming-and-photography">Filming & photography</a></div></li>
                            
 
                </ul>
            
 
 
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype: -Home-Media-Media-Press releases-2020-January-New Routemaster buses to become front-boarding only -->

 
 
        
        
            @{ViewBag.Description = "New Routemaster buses to become front-boarding only";}
        
        


 