


@{ViewBag.Title = "Plans for major new Cycleway in southeast London";}
        
        
<div class="r">
    <div class="breadcrumb-container" role="navigation">
        <span id="breadcrumb-label" class="visually-hidden">You are here:</span>
        <ol class="breadcrumbs clearfix" aria-labelledby="breadcrumb-label">
            <li class="home">
                <a href="/">
                    <span class="hide-text">Home</span>
                </a>
            </li>
            
                <li>
                    <a href="/info-for/media/index">Media</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases">Press releases</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases/2020">2020</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases/2020/january">January</a>
                </li>
                
                <li>
                    <span class="last-breadcrumb">Plans for major new Cycleway in southeast London</span>
                </li>
            
 
            
 
            
 
            
 
            
 
        </ul>
    </div>
</div>
     
 
<div class="r">
    <div class="headline-container plain">
        <h1>Plans for major new Cycleway in southeast London</h1>
        <div class="content-page-press-release">
        06 January 2020
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        5km Cycleway between Greenwich and Woolwich will tackle danger along one of the area's most dangerous roads
        
    </div>



<div class="pull-quote">
        <div class="quote-body">"I'm delighted that we're pushing ahead with these bold plans - part of a new high-quality cycle route from Tower Bridge all the way to the heart of Woolwich"</div>
        <div class="quote-footer">
            <div class="quotee-name">Will Norman</div>
            <div class="quotee-job-title">London's Walking and Cycling Commissioner</div>
        </div>
</div>

 <div class="on-this-page">
<ul>
	<li>Plans include new pedestrian crossings and segregated cycle lanes, with initial proposals for a complete overhaul of the Angerstein roundabout in development</li>
	<li>A new 2km bus lane would also make bus journeys in the area faster and more reliable</li>
	<li>Transport for London is inviting people to have their say on the first phase of the plans, between Charlton and Woolwich, before 16 February</li>
</ul>

<p>Transport for London (TfL) has set out plans to overhaul one of southeast London's most dangerous roads and make neighbourhoods between Greenwich and Woolwich much safer for people walking and cycling, as part of its Vision Zero commitment to eliminating death and serious injury on London's roads.</p>

<p>Currently, road danger in the area is high, with 215 collisions leading to death or injury recorded along the A206 Woolwich Road in 2017 and 2018. In 2017, 18 per cent of all casualties on the road were people cycling.</p>

<p>TfL plans to tackle this and improve air quality in the area by building a new high quality 6.5km Cycleway, which would run between Greenwich and Woolwich. This would connect to the Royal Borough of Greenwich's future Liveable Neighbourhood plans for Greenwich Town Centre and to Cycleway 4 to create a continuous safe cycling route from Tower Bridge to Woolwich.</p>

<p>TfL is asking people to have their say on the first phase of this route, between Charlton and Woolwich, with plans including:</p>

<ul>
	<li>A new two-way, fully segregated high-quality 2.5km Cycleway, which would run along the A206 Woolwich Road</li>
	<li>Six new pedestrian crossings with improvements to a number of others along the route, serving key local communities, schools, the Woolwich Ferry and Warspite Road, where a person walking was tragically killed in a collision in 2018</li>
	<li>Extending the existing bus lanes to make journeys by bus quicker and easier. Half of all trips along Woolwich Road are currently made by bus</li>
	<li>Widening the pavement at a number of locations, to give people walking more space</li>
</ul>

<p>TfL is also working on significant improvements at the Angerstein roundabout, where two people have been killed while cycling in recent years. TfL is asking people for their initial thoughts on plans to simplify the junction and make it easier to navigate for everyone. This would effectively mean that the junction would no longer be a roundabout. There would be a new fully segregated cycleway through the junction, with new signals to help people walking and cycling navigate the junction safely and easily.</p>

<p>Currently, traffic levels on the road effectively mean that communities either side are split by the road. The changes would make it much easier for people to choose to walk, cycle and use public transport rather than travelling by car. There are two schools along the proposed route and the changes would make it easier and safer for people to get to school using sustainable forms of travel.</p>

<p>TfL's consultation into the first 2.5km of the route, between Charlton and Woolwich, is now open until 16 February and is available on the TfL website at tfl.gov.uk/greenwich-woolwich. A further consultation on the section between Charlton and Greenwich will follow.</p>

<p>The Royal Borough of Greenwich will be consulting on its TfL-funded Liveable Neighbourhood scheme in Greenwich Town Centre in the spring. The scheme is set to transform the existing, outdated one-way system to make it safer and easier for people using public transport, walking and cycling. As part of the plans, a new segregated Cycleway through the town centre would connect west towards central London via Cycleway 4 and east towards Woolwich.</p>

<p><strong>London's Walking and Cycling Commissioner, Will Norman, said: </strong></p>

<p>'I'm delighted that we're pushing ahead with these bold plans - part of a new high-quality cycle route from Tower Bridge all the way to the heart of Woolwich. With additional pedestrian crossings and a new bus lane, the route will be made better and safer for everyone. The area around Angerstein roundabout has seen two fatalities in recent years, and we will continue to work closely with Greenwich Council to deliver these vital improvements as soon as possible.'</p>

<p><strong>Nigel Hardy, TfL's Head of Healthy Streets Investment and Delivery, said: </strong></p>

<p>'We know that people in London want to choose greener and healthier alternatives to cars, but road danger and congestion remains unacceptably high on roads across the capital. Our plans for Woolwich Road would make a real difference to everyone who wants to walk, cycle and use public transport more often and to the communities who live along this busy and intimidating stretch of road.'</p>

<p><strong>Cllr Denise Scott McDonald, Cabinet Member for Air Quality, Sustainability and Transport at the Royal Borough of Greenwich, said: </strong></p>

<p>'We welcome the plans to build a cycleway that would run between Greenwich and Woolwich. This is a great opportunity that will make it easier and safer for people to travel on foot, by cycle or public transport. These proposals will also support the Council's commitment to reducing air pollution and vehicle congestion.'</p>

<p><strong>Cllr Danny Thorpe, Leader of the Royal Borough of Greenwich, said: </strong></p>

<p>'This is great news for Greenwich as the proposed cycleway will make cycling and walking a much safer and convenient way for residents to travel in the area.&nbsp;</p>

<p>'We all have a part to play in achieving our goals of improved air quality and protecting the environment, by making more sustainable choices. I encourage all residents to take part in the consultation as their feedback is vital, as is their involvement in helping us achieve these goals.'</p>

<p><strong>Simon Munk, Infrastructure Campaigner at London Cycling Campaign, said: </strong></p>

<p>'It is wonderful to see plans moving forward to tackle the infamous and lethal Angerstein Roundabout, something we have long campaigned for. These plans promise to deliver a major route for South London, eventually linking Tower Bridge to Woolwich, taming hostile and dangerous roads. This should not only help save lives, but also enable far more people to walk and cycle, cutting air pollution and climate emissions.'</p>

<p>TfL is working to create Healthy Streets across London, which enable people to walk and cycle. Construction on a number of major new Cycleways is either underway or set to begin. Work on Cycleway 4 between Tower Bridge and Greenwich began in June 2019, whilst work on a new cycle route between Brentford and Olympia started in December. TfL is also transforming other outdated and intimidating gyratory systems across London, with construction complete at Highbury Corner and underway at Old Street.</p>

<hr />
<p>Notes to Editors:</p>

<ul>
	<li>TfL's consultation is available at <a href="[ioID]#tfl.gov.uk/greenwich-woolwich">tfl.gov.uk/greenwich-woolwich</a></li>
</ul>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
                <a href="/info-for/media/index" class="heading">
                    <h2 id="sub-menu-heading">Media<span class="visually-hidden"> navigation</span></h2>
                </a>
                <ul>
                    
                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases">Press releases</a></div>
                                <ul>
                                    
                                        <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2020">2020</a></div>
                                        <ul>
                                            
                                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2020/january">January</a></div>
                                                <ul>
                                                    
 
 
 
 
 
 
 
 
 
 
 
 
 
                                                </ul>
                                            
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2020/february">February</a></div></li>
                                    
 
                                        <li><div class="link-wrapper"><a href="/info-for/media/press-releases/2020/march">March</a></div></li>
                                    
 
                                        </ul>
                                    </li>
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019">2019</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018">2018</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017">2017</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016">2016</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015">2015</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014">2014</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2013">2013</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2012">2012</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2011">2011</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2010">2010</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2009">2009</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2008">2008</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2007">2007</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2006">2006</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2005">2005</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2004">2004</a></div></li>
                            
 
                                </ul>
                            </li>
 
                                <li><div class="link-wrapper"><a href="/info-for/media/photos">Photos</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/media/contact-the-press-office">Contact the Press Office</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/filming-and-photography">Filming & photography</a></div></li>
                            
 
                </ul>
            
 
 
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype: -Home-Media-Media-Press releases-2020-January-Plans for major new Cycleway in southeast London -->

 
 
        
        
            @{ViewBag.Description = "TfL unveils plans to build a major new Cycleway in southeast London";}
        
        


 