


@{ViewBag.Title = "TfL investment to create nearly 8,000 new cycle parking spaces across London's boroughs";}
        
        
<div class="r">
    <div class="breadcrumb-container" role="navigation">
        <span id="breadcrumb-label" class="visually-hidden">You are here:</span>
        <ol class="breadcrumbs clearfix" aria-labelledby="breadcrumb-label">
            <li class="home">
                <a href="/">
                    <span class="hide-text">Home</span>
                </a>
            </li>
            
                <li>
                    <a href="/info-for/media/index">Media</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases">Press releases</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases/2020">2020</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases/2020/january">January</a>
                </li>
                
                <li>
                    <span class="last-breadcrumb">TfL investment to create nearly 8,000 new cycle parking spaces across London’s boroughs</span>
                </li>
            
 
            
 
            
 
            
 
            
 
        </ul>
    </div>
</div>
     
 
<div class="r">
    <div class="headline-container plain">
        <h1>TfL investment to create nearly 8,000 new cycle parking spaces across London’s boroughs</h1>
        <div class="content-page-press-release">
        14 January 2020
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        TfL has awarded funding of more than &pound;3.5 million to 30 London boroughs to build thousands of new cycle parking spaces
        
    </div>



<div class="pull-quote">
        <div class="quote-body">"We are determined to get more Londoners onto their bikes to help to tackle congestion and make the city greener"</div>
        <div class="quote-footer">
            <div class="quotee-name">Will Norman</div>
            <div class="quotee-job-title">London's Walking and Cycling Commissioner</div>
        </div>
</div>

 <div class="on-this-page">
<p>TfL&nbsp;has awarded more than &pound;3.5 million of investment to 30 London boroughs to create 7,800 new cycle spaces in town centres, stations, schools and residential areas.</p>

<p>This investment will enable thousands more cycle journeys to take place each week by ensuring more journeys begin and end with a place to park, with the first spaces set to be in place by the spring.</p>

<p>The investment has been carefully targeted to add spaces where they are most needed. Areas set to benefit include:</p>

<ul>
	<li>In Bromley, 24 schools will have 480 new spaces to enable more pupils to cycle to school, rather than relying on cars for the school run</li>
	<li>In the City of London and Westminster, 600 new spaces will enable even more people to cycle to key central London destinations</li>
	<li>In Havering, 147 spaces will be split between residential areas and schools</li>
	<li>In Wandsworth, four town centres will share 80 new spaces, enabling more people to cycle to the shops</li>
	<li>In Hackney and Islington, 1,100 new spaces at stations, schools and residential areas will help to cater for the boroughs' high levels of cycle journeys</li>
	<li>In Ealing, 30 new spaces at two Tube stations will make it even easier to cycle to both stations</li>
	<li>In Greenwich, more than 700 new cycle parking spaces at various locations across the borough, which includes new parking at 11 schools</li>
</ul>

<p>Other boroughs to receive funding for cycle parking from the Mayor and TfL are Barking and Dagenham, Barnet, Bexley, Brent, Camden, Croydon, Enfield, Hammersmith &amp; Fulham, Haringey, Hounslow, Kensington and Chelsea, Kingston, Lambeth, Lewisham, Newham, Redbridge, Richmond, Southwark, Sutton, Tower Hamlets and Waltham Forest.</p>

<h2>Increased levels of cycling</h2>

<p>The funding is part of TfL's Cycle Parking Implementation Plan, published last year, which showed that thousands of new parking spaces are needed to keep up with increased levels of cycling.</p>

<p>TfL is working with councils, schools, universities and hospitals across the capital to ensure the number of cycle parking spaces can meet demand.</p>

<p>The Plan sets out an aspiration to ensure that all stations outside Zone 1 have a minimum of 20 cycle parking spaces within 50 metres of the station and a minimum of 30%&nbsp;spare capacity. Ten stations will be brought up to this new benchmark in the coming year.</p>

<p><strong>Will Norman, London's Walking and Cycling Commissioner, said:</strong> 'We are determined to get more Londoners onto their bikes to help to tackle congestion and make the city greener.</p>

<p>'As well as continuing to make cycling safer, we know it's vital that we make the beginning and the end of people's journeys as simple and hassle free as possible.</p>

<p>'Alongside our investment in high-quality routes, we are extremely pleased that this new funding for cycle parking facilities will enable thousands more Londoners from all corners of the capital to hop on a bike.'</p>

<p><strong>Penny Rees, TfL's Head of Healthy Streets Investment and Delivery, said: '</strong>Thousands more Londoners each year are discovering the many benefits of cycling, from better health to reduced carbon emissions, but we know how frustrating it can be when there's nowhere to leave your bike at the start or end of a journey.</p>

<p>'Our investment with the boroughs will help to ensure that our streets are geared up for cycling, making it even easier, quicker and more attractive for people to go about their everyday journeys by bike.'</p>

<h2>Mayor's record investment</h2>

<p><strong>Tom Bogdanowicz, Senior Policy and Development Officer for London Cycling Campaign, said: '</strong>Being unable to park a cycle near to their destination is a major deterrent to people cycling.</p>

<p>'It also sends exactly the wrong signal when car parking is more plentiful and convenient than cycle racks. So, TfL's commitment to expand cycling parking across London is very welcome.</p>

<p>'TfL's new target to provide 20 parking spaces and a minimum of 30%&nbsp;spare capacity at every tube and rail station outside Zone 1 is particularly welcome because it opens up the potential for many more commuters to central London to leave the car at home when heading to and from the station.'</p>

<p>The &pound;3.5 million cycle parking funding is part of the Mayor's record investment in cycling and walking and is in addition to funding given to boroughs to create healthy streets.</p>

<p>This funding is designed to help create streets across the capital, which enable people to walk, cycle and use public transport more often - benefitting people's health, improving air quality and reducing road danger.</p>

<h2>Cycling boom</h2>

<p>Access to cycle parking and bike theft are key barriers to people cycling and through this funding TfL and the Mayor hope to further boost London's growing cycling numbers.</p>

<p>The Mayor and TfL are committed to increasing the number of journeys made in London by walking, cycling or public transport from 63%&nbsp;to 80%&nbsp;by 2041.</p>

<p>Cycling in London has continued to boom in recent years, with recent TfL data showing the average daily total distance cycled in the capital exceeding four million kilometres for the first time.</p>

<p>TfL and the Mayor are committed to expanding the capital's cycle network at pace and increasing the proportion of Londoners who live within 400 metres of the cycling network to 28%&nbsp;by 2024, up from 9%.</p>

<p>TfL has doubled the amount of protected space for cyclists since 2016 and is on course to triple it this year.&nbsp;<br />
Construction on major new Cycleways between Acton and Wood Lane, Brentford and Olympia and Tower Bridge Road and Greenwich is underway.</p>

<p>A consultation on extending the Greenwich route out to Woolwich launched earlier this month and closes on 16 February.</p>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
                <a href="/info-for/media/index" class="heading">
                    <h2 id="sub-menu-heading">Media<span class="visually-hidden"> navigation</span></h2>
                </a>
                <ul>
                    
                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases">Press releases</a></div>
                                <ul>
                                    
                                        <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2020">2020</a></div>
                                        <ul>
                                            
                                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2020/january">January</a></div>
                                                <ul>
                                                    
 
 
 
 
 
 
 
 
 
 
 
 
 
                                                </ul>
                                            
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2020/february">February</a></div></li>
                                    
 
                                        <li><div class="link-wrapper"><a href="/info-for/media/press-releases/2020/march">March</a></div></li>
                                    
 
                                        </ul>
                                    </li>
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019">2019</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018">2018</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017">2017</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016">2016</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015">2015</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014">2014</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2013">2013</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2012">2012</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2011">2011</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2010">2010</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2009">2009</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2008">2008</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2007">2007</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2006">2006</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2005">2005</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2004">2004</a></div></li>
                            
 
                                </ul>
                            </li>
 
                                <li><div class="link-wrapper"><a href="/info-for/media/photos">Photos</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/media/contact-the-press-office">Contact the Press Office</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/filming-and-photography">Filming & photography</a></div></li>
                            
 
                </ul>
            
 
 
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype: -Home-Media-Media-Press releases-2020-January-TfL investment to create nearly 8,000 new cycle parking spaces across London’s boroughs -->

 
 
        
        
            @{ViewBag.Description = "TfL investment to create nearly 8,000 new cycle parking spaces across London’s boroughs";}
        
        


 