


@{ViewBag.Title = "TfL and Santander celebrate ten years of London's flagship cycle hire scheme ";}
        
        
<div class="r">
    <div class="breadcrumb-container" role="navigation">
        <span id="breadcrumb-label" class="visually-hidden">You are here:</span>
        <ol class="breadcrumbs clearfix" aria-labelledby="breadcrumb-label">
            <li class="home">
                <a href="/">
                    <span class="hide-text">Home</span>
                </a>
            </li>
            
                <li>
                    <a href="/info-for/media/index">Media</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases">Press releases</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases/2020">2020</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases/2020/january">January</a>
                </li>
                
                <li>
                    <span class="last-breadcrumb">TfL and Santander celebrate ten years of London’s flagship cycle hire scheme </span>
                </li>
            
 
            
 
            
 
            
 
            
 
        </ul>
    </div>
</div>
     
 
<div class="r">
    <div class="headline-container plain">
        <h1>TfL and Santander celebrate ten years of London’s flagship cycle hire scheme </h1>
        <div class="content-page-press-release">
        07 January 2020
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        More than 87 million hires have been made since TfL launched cycle hire in the capital on 30 July 2010
        
    </div>



<div class="pull-quote">
        <div class="quote-body">"I'm delighted that the scheme is set to expand even further in 2020 to enable more Londoners to take to two wheels &#45; helping improve our health and tackle congestion and air pollution at the same time"</div>
        <div class="quote-footer">
            <div class="quotee-name">Will Norman</div>
            <div class="quotee-job-title">London's Walking and Cycling Commissioner</div>
        </div>
</div>

 <div class="on-this-page">
<p>This year, Transport for London TfL&nbsp;and Santander will celebrate the tenth anniversary of cycle hire in the capital, with a series of events, competitions and offers throughout 2020.</p>

<p>TfL launched London's flagship cycle hire scheme on 30 July 2010 across eight London boroughs with 315 docking stations. Now there are more than 12,000 bikes available from 781 docking stations.</p>

<p>In the past decade users have made more than 87 million hires, with over 10 million hires in 2019 for the fourth year in a row and 34,500 hires on Christmas Day. New docking stations around parks and extra capacity at busy rail stations has helped ensure another strong year of hires.</p>

<p>This spring, five new docking stations will open along Cycleway 4 in Southwark and there are plans to expand docking stations along Cycleways going forward.</p>

<p>New docking stations are already in place at Blackfriars, Victoria, Queensway and Paddington railway stations and extra capacity has been added recently around London Bridge station.</p>

<h2>Unique prizes</h2>

<p>Celebrations to mark ten years of cycle hire in London will begin with a search to find the scheme's most dedicated users and, to say thank you, TfL and Santander want to reward users with unique prizes that money can't buy.</p>

<p>TfL and Santander are searching for people who hired the cycles within the first year of the scheme, people who have completed the most journeys or people who have a unique story to share about the cycles.</p>

<p>Each month a winner will be selected, and these 12 winners will be rewarded with a Santander Cycles named after them, free annual membership and other prizes.</p>

<p>People can share their experiences of the cycle hire scheme by emailing <a href="mailto:cyclehire10&#64;tfl.gov.uk">cyclehire10&#64;tfl.gov.uk</a> for a chance to win*.</p>

<p>Will Norman, London's Walking and Cycling Commissioner, said: 'The London cycle hire scheme has gone from strength to strength over the past decade, and like many I now couldn't imagine our city without it.</p>

<p>'I'm delighted that the scheme is set to expand even further in 2020 to enable more Londoners to take to two wheels &#45; helping improve our health and tackle congestion and air pollution at the same time.'</p>

<h2>Fabric of London</h2>

<p>Helen Sharp, Head of Business Development for Cycle Hire at TfL, said: 'Over the last ten years our cycle hire scheme has become part of the fabric of London life.</p>

<p>'The cycles have helped millions of people discover the joy of cycling and we want to thank everyone who has shared this incredible journey with us through a series of events, competitions and offers this year. We hope these celebrations will help inspire even more people to take to two wheels.'</p>

<p>Dan Sherwood, Interim Chief Marketing Officer, Santander UK, said: 'It's incredible to celebrate 10 years since the scheme launched.</p>

<p>'Over that time Santander Cycles has evolved to cover more than 100km2 of London, ensuring more communities than ever can benefit from the fantastic scheme. We look forward to another exciting year of success in 2020.'</p>

<p>Fran Graham, Campaigns Coordinator at London Cycling Campaign, said: 'Santander Cycles rightly take their place alongside the double decker as an iconic London transport mode, much loved by millions of Londoners.</p>

<p>'And as the network of safe cycle routes grows, these are enabling more and more people to experience the joy, ease and benefits that come with cycling.</p>

<p>'The scheme's success shows Londoners want more active travel choices, and is helping our city cut air pollution, inactivity and climate-changing emissions, as the bikes are increasingly being used to hop to business meetings, for commuters to get to work and by tourists pootling round our iconic parks.'</p>

<h2>More travel choices</h2>

<p>TfL and Santander will also celebrate two special dates in 2020, the fifth anniversary of Santander's sponsorship in May and the scheme's official birthday in July.</p>

<p>This year will also see a range of events marking the 20th anniversary of Transport for London.</p>

<p>Santander Cycles is vital for getting more people on bikes and more than half of cycle hire users started cycling in London because of the scheme. This is why the Mayor is committed to developing the Santander Cycles scheme, to give more people across London access to a bike.</p>

<p>To find your nearest Santander Cycles docking station, <a href="http://tfl.gov.uk/santandercycles">visit tfl.gov.uk/santandercycles</a></p>

<hr />
<p><strong>Notes to editors&nbsp;</strong><br />
*Terms and Conditions for the Cycle Hire 10th anniversary competition can be found here - <a href="https://tfl.gov.uk/corporate/terms-and-conditions/competitions">tfl.gov.uk/corporate/terms-and-conditions/competitions</a></p>

<p><strong>10 years of cycle hire in London</strong></p>

<ul>
	<li>30 July 2010 - Cycle hire is launched in the capital and 6.2m hires are made in the first 12 months of the scheme</li>
	<li>July 2012 - Almost 47,000 hires &#45; the most in one day since the scheme launched</li>
	<li>December 2013 - Cycle hire extends east, west and south with the opening of 150 new docking stations, with new stations in Wandsworth, Hammersmith &amp; Fulham, Lambeth and Kensington &amp; Chelsea</li>
	<li>May 2015 - Santander and TfL launch a seven-year partnership and Santander Cycles launch</li>
	<li>May 2015 - The Santander Cycles app was launched to make it easier to find and hire bikes</li>
	<li>June 2016 - The scheme breaks the 50 million hire mark</li>
	<li>January 2016 - Santander Cycles expands to the Queen Elizabeth Olympic Park with eight new docking stations</li>
	<li>2016 - All cycles are fitted with laser lights to increase visibility. The lights project a symbol of a bicycle six metres in front of the cycle, onto the ground, giving cyclists a larger footprint on the road</li>
	<li>October 2017 - The next generation of Santander Cycles arrive in London. The new cycles offer riders improved handling, safety and comfort, with a new gel saddle, lower frame, tyres with puncture prevention, new gear hub and improved front and rear lighting</li>
	<li>February 2018 - Santander Cycles extend to Brixton with eight new docking stations</li>
	<li>November 2018 - The process of hiring a cycle was made easier with a quicker booking process and the introduction of contactless payments</li>
	<li>December 2019 - New docking stations open at Blackfriars, Victoria, Queensway and Paddington rail stations</li>
	<li>2019 - More than 1.7 million hires using the Santander Cycles app during the year</li>
</ul>

<p><strong>About Santander Cycles</strong></p>

<ul>
	<li>Santander Cycles covers 100 square kilometres of London, making it one of the largest cycle hire schemes in Europe</li>
	<li>Since launching in July 2010, more than 87 million journeys have been made</li>
	<li>More than 1.7 million hires were made using the Santander Cycles app in 2019. The free app is available on the iTunes and Android App Stores, searching for Santander Cycles</li>
	<li>Santander Cycles can be hired from as little as &pound;2 a day for an unlimited number of 30 minute journeys</li>
</ul>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
                <a href="/info-for/media/index" class="heading">
                    <h2 id="sub-menu-heading">Media<span class="visually-hidden"> navigation</span></h2>
                </a>
                <ul>
                    
                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases">Press releases</a></div>
                                <ul>
                                    
                                        <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2020">2020</a></div>
                                        <ul>
                                            
                                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2020/january">January</a></div>
                                                <ul>
                                                    
 
 
 
 
 
 
 
 
 
 
 
 
 
                                                </ul>
                                            
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2020/february">February</a></div></li>
                                    
 
                                        <li><div class="link-wrapper"><a href="/info-for/media/press-releases/2020/march">March</a></div></li>
                                    
 
                                        </ul>
                                    </li>
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019">2019</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018">2018</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017">2017</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016">2016</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015">2015</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014">2014</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2013">2013</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2012">2012</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2011">2011</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2010">2010</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2009">2009</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2008">2008</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2007">2007</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2006">2006</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2005">2005</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2004">2004</a></div></li>
                            
 
                                </ul>
                            </li>
 
                                <li><div class="link-wrapper"><a href="/info-for/media/photos">Photos</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/media/contact-the-press-office">Contact the Press Office</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/filming-and-photography">Filming & photography</a></div></li>
                            
 
                </ul>
            
 
 
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype: -Home-Media-Media-Press releases-2020-January-TfL and Santander celebrate ten years of London’s flagship cycle hire scheme  -->

 
 
        
        
            @{ViewBag.Description = "TfL and Santander launch a year of celebrations to mark ten years of London’s flagship cycle hire scheme ";}
        
        


 