


@{ViewBag.Title = "TfL sets out plans to reduce road danger on Peckham High Street";}
        
        
<div class="r">
    <div class="breadcrumb-container" role="navigation">
        <span id="breadcrumb-label" class="visually-hidden">You are here:</span>
        <ol class="breadcrumbs clearfix" aria-labelledby="breadcrumb-label">
            <li class="home">
                <a href="/">
                    <span class="hide-text">Home</span>
                </a>
            </li>
            
                <li>
                    <a href="/info-for/media/index">Media</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases">Press releases</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases/2020">2020</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases/2020/january">January</a>
                </li>
                
                <li>
                    <span class="last-breadcrumb">TfL sets out plans to reduce road danger on Peckham High Street</span>
                </li>
            
 
            
 
            
 
            
 
            
 
        </ul>
    </div>
</div>
     
 
<div class="r">
    <div class="headline-container plain">
        <h1>TfL sets out plans to reduce road danger on Peckham High Street</h1>
        <div class="content-page-press-release">
        28 January 2020
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        Plans for Peckham High Street, between Basing Court and Mission Place, include both new and improved pedestrian and cycle crossings as well as wider pavements
        
    </div>



<div class="pull-quote">
        <div class="quote-body">"Our proposals for Peckham High Street would make a real difference to Peckham Town Centre, not only making roads safer but also making it easier to get around on foot"</div>
        <div class="quote-footer">
            <div class="quotee-name">Penny Rees</div>
            <div class="quotee-job-title">TfL's Head of Healthy Streets Investment and Delivery</div>
        </div>
</div>

 <div class="on-this-page">
<p>TfL&nbsp;has set out plans to reduce road danger to people on Peckham High Street, helping the area become more welcoming for people on bikes and on foot and making it easier to access Rye Lane and Peckham Town Centre.</p>

<p>Road danger along Peckham High Street is unacceptably high, with the tragic deaths of three people walking there since 2015.</p>

<p>The proposals include the lowering of the speed limit to 20mph, supported by clear evidence that shows lowering speeds saves lives.</p>

<p>A safer road layout is also needed to reduce road danger and to make the area more welcoming and accessible for people on foot.</p>

<h2>More welcoming and accessible</h2>

<p>Plans include:</p>

<ul>
	<li>A new 20mph speed limit along Peckham High Street between Basing Court and Mission Place. The road surface at the crossings near Bellenden Road, Sumner Road and Rye Lane will be raised to make the road easier to cross and to encourage people to drive more slowly</li>
	<li>An upgraded walking and cycling crossing between Peckham Square and Rye Lane. The existing walking and cycling crossing would be widened and a further pedestrian crossing would be added nearby. The changes would make it easier to walk from Peckham Library to Rye Lane and to cycle from the Surrey Canal Path to the town centre</li>
	<li>The pavement on the northern side of Peckham High Street would be widened significantly, creating much more space for people on foot and arriving by bus</li>
	<li>Widened pedestrian crossings near Sumner Road and Bellenden Road, with the Bellenden Road crossing upgraded to allow people cycling to cross</li>
	<li>De-cluttering of pavements in the area and the addition of new cycle parking stands</li>
	<li>Changes to the kerb at side roads, making the road narrower to encourage drivers to slow down</li>
</ul>

<p>TfL is inviting people to have their say on the changes before 12 March at <a href="https://consultations.tfl.gov.uk/roads/peckham-town-centre/?cid=peckham-town-centre">tfl.gov.uk/Peckham-town-centre</a>. Construction work could begin by the end of the year, depending on feedback received during the consultation.</p>

<h2>Improve bus services</h2>

<p>The proposed upgrades would be the first phase of TfL's plans for the area, with changes to the junction of Peckham High Street and Peckham Hill Street set to follow after further design work.</p>

<p>TfL continues to work on proposals to make cycling safer and improve bus services between Oval and Deptford, which would include changes in the Peckham area.</p>

<p><strong>Penny Rees, TfL's Head of Healthy Streets Investment and Delivery, said:</strong> 'Our proposals for Peckham High Street would make a real difference to Peckham Town Centre, not only making roads safer but also making it easier to get around on foot.</p>

<p>'We really value feedback from the local community, so I'd encourage everybody to have their say.'</p>

<p><strong>Cllr Richard Livingstone, Southwark Council's Cabinet Member for Environment, Transport and the Climate Emergency, said: '</strong>We are happy to see road danger on Peckham High Street being addressed. TfL's new public consultation offers a number of measures that will help keep people safe and we are keen to hear what local people make of their suggestions.</p>

<p>'I would encourage residents to ensure that their voice is heard, by responding to the consultation and I look forward to seeing solutions agreed upon and implemented as quickly as possible.'</p>

<h2>Vision Zero</h2>

<p>TfL is committed to eliminating death and serious injury from London's streets as part of its Vision Zero approach to road danger.</p>

<p>The Mayor's Transport Strategy aims to reduce reliance on cars and grow sustainable travel, aiming for 80%&nbsp;of journeys to be made by walking, cycling or public transport by 2041.</p>

<p>TfL's investment is creating healthy streets where people choose to walk, cycle and take public transport, connecting communities, improving air quality and reducing road danger and noise.</p>

<p>TfL research shows improvements to make walking and cycling more appealing in London's town centres and high streets leads to a 93%&nbsp;increase in people walking in the streets.</p>

<p>The research has also found that people walking, cycling and using public transport spend the most in their local shops, spending 40%&nbsp;more each month than car drivers.</p>

<hr />
<p><strong>Notes to editors</strong></p>

<ul>
	<li>The consultation is on the TfL website at <a href="https://consultations.tfl.gov.uk/roads/peckham-town-centre/?cid=peckham-town-centre">tfl.gov.uk/Peckham-town-centre</a></li>
	<li>Speed is a factor in around 37%&nbsp;of collisions where a person dies or is seriously injured across London</li>
	<li>•&nbsp;&nbsp; &nbsp;A person hit at 30mph is five times more likely to die than someone hit at 20mph</li>
</ul>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
                <a href="/info-for/media/index" class="heading">
                    <h2 id="sub-menu-heading">Media<span class="visually-hidden"> navigation</span></h2>
                </a>
                <ul>
                    
                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases">Press releases</a></div>
                                <ul>
                                    
                                        <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2020">2020</a></div>
                                        <ul>
                                            
                                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2020/january">January</a></div>
                                                <ul>
                                                    
 
 
 
 
 
 
 
 
 
 
 
 
 
                                                </ul>
                                            
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2020/february">February</a></div></li>
                                    
 
                                        <li><div class="link-wrapper"><a href="/info-for/media/press-releases/2020/march">March</a></div></li>
                                    
 
                                        </ul>
                                    </li>
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019">2019</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018">2018</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017">2017</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016">2016</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015">2015</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014">2014</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2013">2013</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2012">2012</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2011">2011</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2010">2010</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2009">2009</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2008">2008</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2007">2007</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2006">2006</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2005">2005</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2004">2004</a></div></li>
                            
 
                                </ul>
                            </li>
 
                                <li><div class="link-wrapper"><a href="/info-for/media/photos">Photos</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/media/contact-the-press-office">Contact the Press Office</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/filming-and-photography">Filming & photography</a></div></li>
                            
 
                </ul>
            
 
 
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype: -Home-Media-Media-Press releases-2020-January-TfL sets out plans to reduce road danger on Peckham High Street -->

 
 
        
        
            @{ViewBag.Description = "Transport for London sets out plans to reduce road danger on Peckham High Street";}
        
        


 