


@{ViewBag.Title = "TfL launches freight innovation challenge to tackle congestion and keep goods moving";}
        
        
<div class="r">
    <div class="breadcrumb-container" role="navigation">
        <span id="breadcrumb-label" class="visually-hidden">You are here:</span>
        <ol class="breadcrumbs clearfix" aria-labelledby="breadcrumb-label">
            <li class="home">
                <a href="/">
                    <span class="hide-text">Home</span>
                </a>
            </li>
            
                <li>
                    <a href="/info-for/media/index">Media</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases">Press releases</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases/2020">2020</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases/2020/january">January</a>
                </li>
                
                <li>
                    <span class="last-breadcrumb">TfL launches freight innovation challenge to tackle congestion and keep goods moving</span>
                </li>
            
 
            
 
            
 
            
 
            
 
        </ul>
    </div>
</div>
     
 
<div class="r">
    <div class="headline-container plain">
        <h1>TfL launches freight innovation challenge to tackle congestion and keep goods moving</h1>
        <div class="content-page-press-release">
        16 January 2020
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        Transport for London is teaming up with ten partners from across the freight industry to launch London FreightLab; one of three challenges in this year's Mayor's Civic Innovation Challenge
        
    </div>



<div class="pull-quote">
        <div class="quote-body">"We believe innovative new ideas could make a real difference in reducing the impact of freight movements on the capital and this is why we'd like to encourage as many companies as possible to collaborate with us to do this"</div>
        <div class="quote-footer">
            <div class="quotee-name">Michael Hurwitz</div>
            <div class="quotee-job-title">TfL's Director of Transport Innovation</div>
        </div>
</div>

 <div class="on-this-page">
<p>The Mayor and TfL&nbsp;are looking for the best innovators to apply for an innovation challenge, London FreightLab, to develop new ways of tackling some of the biggest issues caused by freight and servicing in London.</p>

<p>This new challenge is part of the Mayor's Civic Innovation Challenge, which brings together London's public and private sector with tech companies to develop solutions to the most pressing problems facing the city, delivered in partnership with Microsoft and the Social Tech Trust.</p>

<p>Freight is the lifeblood of London's economy, delivering vital goods and services to people and companies across the capital. However, in recent years the capital's streets have seen a rapid rise in the number of goods vehicles, which have increased by around 20%&nbsp;since 2010.</p>

<p>This can contribute to poor air quality, congestion and road danger, which is why the Mayor's Transport Strategy aims for a 10%&nbsp;reduction in van and lorry use during the morning peak by 2026.</p>

<h2>Innovative ideas</h2>

<p>London FreightLab is looking to offer funding, land sites, and subject matter expertise during the pilot stage for up to six innovative ideas, which could be further developed and tested through the London FreightLab challenge.</p>

<p>Ideas should help make the way goods move around London safer, cleaner and more efficient.</p>

<p>TfL is working with ten leading industry partners on the challenge, who will be using their expertise in the sector to evaluate the innovative ideas and see whether they could work on a larger scale. The partners TfL will be working with include:</p>

<ul>
	<li>CEVA Logistics</li>
	<li>DPD</li>
	<li>GNEWT</li>
	<li>Guy's and St. Thomas' NHS Foundation Trust</li>
	<li>John Lewis Partnership</li>
	<li>Plexal</li>
	<li>REEF Technology</li>
	<li>Royal Mail</li>
	<li>Thames Water</li>
	<li>UPS</li>
</ul>

<p>Applications are open to everybody and full details are available on the TfL website at <a href="http://www.tech.london/challenges/tackling-congestion">http://www.tech.london/challenges/tackling-congestion</a>. The deadline for applying is midday on 5 February.</p>

<h2>Collaborate with us</h2>

<p><strong>Michael Hurwitz, TfL's Director of Transport Innovation, said</strong>: 'We want to work with the best market innovators from start-ups to corporates to help solve some of the key challenges that London faces.</p>

<p>'Freight is essential to London's economy, but as the number of vans and lorries on our streets continues to go up, so does pollution, congestion and road danger.</p>

<p>'We believe innovative new ideas could make a real difference in reducing the impact of freight movements on the capital and this is why we'd like to encourage as many companies as possible to collaborate with us to do this.'</p>

<p><strong>David Lawson, Chief Procurement Officer at Guy's and St. Thomas' NHS Trust, said</strong>: 'Guy's and St Thomas' is committed to taking a lead role in improving local air quality.</p>

<p>'Over the last 12 months we have adopted cargo bikes for shipment of blood samples between our sites and opened a new urban consolidation centre.</p>

<p>'We are looking to work with partners to develop further initiatives that can be both adopted by the hospital and applied at scale.'</p>

<p>This new innovation challenge builds on TfL's commitment to working with partners to developing innovative solutions to London's problems. Recent activity includes:</p>

<ul>
	<li><strong>Connected Retail London</strong> competition in March 2019, where businesses were challenged to come up ideas to reimagine physical retail space</li>
	<li><strong>London Connectory</strong> an 18-month partnership with Bosch to give small businesses and start-ups the opportunity to work with renowned experts and use cutting-edge data to tackle crucial transport challenges in London, such as reducing air pollution, congestion and encouraging more people to walk, cycle and take public transport</li>
</ul>

<p>In 2019, TfL launched an ambitious plan to work with boroughs, businesses and the freight and servicing industry to transform how deliveries are made in the capital, reducing road danger and helping to clean up London's toxic air.</p>

<p>Key actions in the plan included better coordination of the control of freight movements in London, supporting increased use of water and rail and making freight vehicles safer by launching the HGV Safety Permit Scheme.</p>

<hr />
<p><strong>Notes to editors</strong></p>

<ul>
	<li>Partners are supporting the evaluation of ideas from innovators through to March 2020. Co-development and trials of products will occur after this date. Partners may continue their involvement in the project and facilitate trials, however this cannot be guaranteed at this time</li>
	<li>TfL's Freight and Servicing Action Plan is on the TfL website at <a href="https://tfl.gov.uk/corporate/about-tfl/the-mayors-transport-strategy">tfl.gov.uk/corporate/about-tfl/the-mayors-transport-strategy</a></li>
	<li>TfL's Transport Innovation Directorate (TID) was recently recognised at the Corporate Startup Stars Award for its impact in public sector innovation and its excellence in moving public entities into the open innovation space</li>
	<li>For more information about how TfL innovates visit: <a href="https://tfl.gov.uk/info-for/business-and-commercial/commercial-innovation">https://tfl.gov.uk/info-for/business-and-commercial/commercial-innovation&nbsp;</a></li>
</ul>

<p><strong>Statements from the partners TfL will be working with for London FreightLab:</strong></p>

<p><strong>Eddie Aston, CEVA Logistics UK, Ireland and Nordics Managing Director, said:</strong>&nbsp;'CEVA Logistics is committed to the development of sustainable and efficient supply chain logistics and solutions that lessen the impact on the environment.&nbsp;</p>

<p>'Through our participation with FreightLab, which is an imaginative and wide-ranging initiative, we hope to continue to drive the development of groundbreaking research and to develop solutions which benefit our communities, businesses and the environment across the capital.'</p>

<p><strong>Mark Wilkes, Director of Technical Services at DPD, said</strong>: 'DPD are delighted to have been selected as a partner for TfL's innovative FreightLab project. &nbsp;Urban delivery has to change, DPD are excited by the opportunity to continue our zero emission programme working together with key partners and stakeholders to clean up London's air - work that is vital for London residents.'</p>

<p><strong>Sam Clarke, Gnewt Founder, said</strong>: 'Gnewt by Menzies Distribution is delighted to be a partner with TfL on the London FreightLab project. Gnewt has itself been innovating constantly in the environmental logistics space in London for over a decade and has worked alongside TfL and the GLA throughout that time. To be involved in this project is both a privilege and an opportunity to actively learn and potentially collaborate with future innovators on concepts that may materially influence the ever-changing London landscape.'</p>

<p><strong>Ged Keogh Peters, Partner &amp; Director, Supply Chain Strategy at the John Lewis Partnership, said</strong>: 'We are really excited to work with TfL and industry experts to continue finding ways to help tackle the environmental impact of road traffic in our capital city.'</p>

<p><strong>Andrew Roughan, Managing Director at Plexal, said</strong>: 'We're delighted to have been selected as one of the partners for this project, and are excited to build on our relationship with TfL. We all know that truly impactful innovation takes time and effort to achieve, which is why we pride ourselves on being a place where ideas can thrive, and innovative solutions can be scaled. Air quality and sustainability are some one of the most pressing issues that we are facing globally, and London can help lead the way in providing the solutions we need.</p>

<p>'Innovation is fuelled by collaboration between the public and private sector, and this challenge is a perfect example of what can be achieved through such a collaborative approach. At Plexal, we're committed to finding the best possible mobility solutions for the future and developing technology that will make London a safer and healthier place to live.'</p>

<p><strong>Barak Zimerman, Managing Director, UK &amp; Europe at REEF Technology, said</strong>: 'In the last 12 months we have seen continued demand from partners seeking to leverage REEF's network of mobility hubs for more efficient and sustainable delivery, logistics and mobility services. We are thrilled to be teaming up with TfL and its partners on FreightLab to help further innovate the future of freight solutions and positively shape the future of our cities.'</p>

<p><strong>David Gold, Director of Public Affairs &amp; Policy, Royal Mail Group, said</strong>: 'Royal Mail is a key player in delivering to residents and businesses across Greater London. With the UK's biggest by far "Feet on the Street" network covering 90,000 postmen and women, Royal Mail has one of the lowest emissions delivery networks in the UK. We are pleased to partner with TfL in the FreightLab challenge, to help accelerate innovation which will in turn help reduce congestion and make the best use of land in London. We look forward to working with innovators to test their ideas and help bring them to life in London's largest mail and parcel operation.'</p>

<p><strong>Peter Harris, UPS International Sustainability Director, said</strong>:&nbsp;'UPS has a long history of developing and embracing innovative technologies to reduce emissions and improve air quality in our cities.</p>

<p>'As expanding cities worldwide become increasingly congested, industry players must work together to develop unique solutions to mitigate the impact of urban deliveries and improve the air we breathe. We are proud to support localised initiatives such as FreightLab as they work to develop new and innovative ways to reduce congestion and improve urban air quality in the city of London.'</p>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
                <a href="/info-for/media/index" class="heading">
                    <h2 id="sub-menu-heading">Media<span class="visually-hidden"> navigation</span></h2>
                </a>
                <ul>
                    
                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases">Press releases</a></div>
                                <ul>
                                    
                                        <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2020">2020</a></div>
                                        <ul>
                                            
                                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2020/january">January</a></div>
                                                <ul>
                                                    
 
 
 
 
 
 
 
 
 
 
 
 
 
                                                </ul>
                                            
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2020/february">February</a></div></li>
                                    
 
                                        <li><div class="link-wrapper"><a href="/info-for/media/press-releases/2020/march">March</a></div></li>
                                    
 
                                        </ul>
                                    </li>
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019">2019</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018">2018</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017">2017</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016">2016</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015">2015</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014">2014</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2013">2013</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2012">2012</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2011">2011</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2010">2010</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2009">2009</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2008">2008</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2007">2007</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2006">2006</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2005">2005</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2004">2004</a></div></li>
                            
 
                                </ul>
                            </li>
 
                                <li><div class="link-wrapper"><a href="/info-for/media/photos">Photos</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/media/contact-the-press-office">Contact the Press Office</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/filming-and-photography">Filming & photography</a></div></li>
                            
 
                </ul>
            
 
 
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype: -Home-Media-Media-Press releases-2020-January-TfL launches freight innovation challenge to tackle congestion and keep goods moving -->

 
 
        
        
            @{ViewBag.Description = "TfL launches freight innovation challenge to tackle congestion and keep goods moving";}
        
        


 