


@{ViewBag.Title = "Tooting Town Centre 20mph speed limit given green light";}
        
        
<div class="r">
    <div class="breadcrumb-container" role="navigation">
        <span id="breadcrumb-label" class="visually-hidden">You are here:</span>
        <ol class="breadcrumbs clearfix" aria-labelledby="breadcrumb-label">
            <li class="home">
                <a href="/">
                    <span class="hide-text">Home</span>
                </a>
            </li>
            
                <li>
                    <a href="/info-for/media/index">Media</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases">Press releases</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases/2020">2020</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases/2020/january">January</a>
                </li>
                
                <li>
                    <span class="last-breadcrumb">Tooting Town Centre 20mph speed limit given green light</span>
                </li>
            
 
            
 
            
 
            
 
            
 
        </ul>
    </div>
</div>
     
 
<div class="r">
    <div class="headline-container plain">
        <h1>Tooting Town Centre 20mph speed limit given green light</h1>
        <div class="content-page-press-release">
        09 January 2020
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        20mph speed limit will be delivered in May, with more changes to the area to follow
        
    </div>



<div class="pull-quote">
        <div class="quote-body">"TfL is committed to introducing improvements to help people walk and cycle safely around the area
 "</div>
        <div class="quote-footer">
            <div class="quotee-name">Penny Rees</div>
            <div class="quotee-job-title">Head of Network Sponsorship, TfL</div>
        </div>
</div>

 <div class="on-this-page">
<ul>
	<li>Majority of respondents to public consultation agreed with the need for improvements and TfL is taking on feedback to make the proposals stronger</li>
	<li>Proposals focused on safety and accessibility for people using Tooting Town Centre</li>
</ul>

<p>Transport for London (TfL) has today confirmed that plans to introduce a 20mph speed limit in Tooting Town Centre will be delivered in May, with work to improve pedestrian crossings starting this autumn. Further proposed plans for the area will be redesigned following public feedback.</p>

<p>TfL has published the results of its public consultation on proposed plans for improving Tooting Town Centre for vulnerable road users. The majority of respondents supported the principle of making the area safer and more attractive for people walking, as well as showing general support for 20mph speed limits. The proposals for a safer and more attractive town centre are part of TfL and the Mayor of London's Healthy Streets approach and were developed in collaboration with Wandsworth Council.</p>

<p>The consultation, which opened in October 2018, saw responses from 970 members of the public and 19 key stakeholders, including local businesses, disability groups and campaign organisations. While most respondents agreed there was a need to make improvements to the area, particularly with a view to making it safer for people walking, feedback indicated that specific aspects of the proposals should be redesigned. TfL will revisit some aspects of the scheme and work with Wandsworth Council to develop improved plans across the local area.</p>

<p><strong>Penny Rees, Head of Network Sponsorship at TfL, said: </strong></p>

<p>'We recognise that road danger must be reduced in this busy area of south London, and are grateful for the feedback received as part of this consultation. TfL is committed to introducing improvements to help people walk and cycle safely around the area, and hearing from local residents and community organisations on the way these roads are used day-to-day is an important part of this.</p>

<p>'Following this consultation, we will review where changes to our proposals need to be made, as well as going ahead with introducing short-term safety measures, such as lowering speeds to 20mph.'</p>

<p>Following feedback from accessibility groups, TfL will review the design of measures to improve pedestrian safety and convenience at side road junctions. Both the Tooting Bec and Tooting Broadway junctions will be redesigned with a view to providing segregation between cyclists and general traffic, in addition to pedestrian improvements.</p>

<p>As well as being a popular shopping destination, Tooting Town Centre is a major cycle route, with Cycle Superhighway 7 running through the junction outside Tooting Broadway station. The consultation report also outlined next steps to review CS7 to see how improvements can be made.</p>

<p>Alongside changes to Tooting Town Centre, TfL will introduce 20mph speed limits on all its roads in the Congestion Charge Zone by March, as part of its Vision Zero commitment to eliminate death and serious injury from London's streets by 2041. Cutting speeds from 30mph to 20mph is expected to significantly reduce the likelihood of death and serious injury. If someone walking is hit by a vehicle at 20mph, they are five times less likely to be killed than if they were hit at 30mph.</p>

<p>TfL is also transforming outdated and intimidating junctions across London to make them much safer for people walking and cycling, with construction recently completed at Highbury Corner and Euston Road, and construction underway at Old Street. TfL will also start work on reducing road danger at a further ten of London's most hazardous junctions by spring.</p>

<hr />
<p>Notes to editors:</p>

<ul>
	<li>The consultation report is available here - <a href="http://tfl.gov.uk/tooting-town-centre">tfl.gov.uk/tooting-town-centre</a></li>
	<li>The Vision Zero Action Plan is here - <a href="[ioID]#http://content.tfl.gov.uk/vision-zero-action-plan.pdf">http://content.tfl.gov.uk/vision-zero-action-plan.pdf</a></li>
</ul>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
                <a href="/info-for/media/index" class="heading">
                    <h2 id="sub-menu-heading">Media<span class="visually-hidden"> navigation</span></h2>
                </a>
                <ul>
                    
                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases">Press releases</a></div>
                                <ul>
                                    
                                        <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2020">2020</a></div>
                                        <ul>
                                            
                                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2020/january">January</a></div>
                                                <ul>
                                                    
 
 
 
 
 
 
 
 
 
 
 
 
 
                                                </ul>
                                            
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2020/february">February</a></div></li>
                                    
 
                                        <li><div class="link-wrapper"><a href="/info-for/media/press-releases/2020/march">March</a></div></li>
                                    
 
                                        </ul>
                                    </li>
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019">2019</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018">2018</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017">2017</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016">2016</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015">2015</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014">2014</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2013">2013</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2012">2012</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2011">2011</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2010">2010</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2009">2009</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2008">2008</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2007">2007</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2006">2006</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2005">2005</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2004">2004</a></div></li>
                            
 
                                </ul>
                            </li>
 
                                <li><div class="link-wrapper"><a href="/info-for/media/photos">Photos</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/media/contact-the-press-office">Contact the Press Office</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/filming-and-photography">Filming & photography</a></div></li>
                            
 
                </ul>
            
 
 
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype: -Home-Media-Media-Press releases-2020-January-Tooting Town Centre 20mph speed limit given green light -->

 
 
        
        
            @{ViewBag.Description = "Plans for Tooting Town Centre 20mph speed limit given green light following public consultation";}
        
        


 