


@{ViewBag.Title = "Vital safety features now in place on more than 8,000 lorries";}
        
        
<div class="r">
    <div class="breadcrumb-container" role="navigation">
        <span id="breadcrumb-label" class="visually-hidden">You are here:</span>
        <ol class="breadcrumbs clearfix" aria-labelledby="breadcrumb-label">
            <li class="home">
                <a href="/">
                    <span class="hide-text">Home</span>
                </a>
            </li>
            
                <li>
                    <a href="/info-for/media/index">Media</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases">Press releases</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases/2020">2020</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases/2020/january">January</a>
                </li>
                
                <li>
                    <span class="last-breadcrumb">Vital safety features now in place on more than 8,000 lorries</span>
                </li>
            
 
            
 
            
 
            
 
            
 
        </ul>
    </div>
</div>
     
 
<div class="r">
    <div class="headline-container plain">
        <h1>Vital safety features now in place on more than 8,000 lorries</h1>
        <div class="content-page-press-release">
        23 January 2020
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        The Direct Vision Standard seeks to eliminate dangerous Heavy Goods Vehicle blind spots, proven to be the cause of pedestrian and cyclist deaths and serious injuries
        
    </div>



<div class="pull-quote">
        <div class="quote-body">"Our trailblazing initiative  &#45; which is the first of its kind in the world &#45; tackles the issue at its source by encouraging HGV owners to switch to safer vehicles rather than face fines"</div>
        <div class="quote-footer">
            <div class="quotee-name">Will Norman</div>
            <div class="quotee-job-title">London's Walking and Cycling Commissioner</div>
        </div>
</div>

 <div class="on-this-page">
<ul>
	<li>After a positive start, TfL urges more freight operators to sign up to the world-leading Direct Vision Standard before October deadline</li>
	<li>Vehicles that do not meet the standards will face a &pound;550 penalty charge from 26 October</li>
</ul>

<p>Transport for London (TfL) has today announced that it has issued more than 8,000 Heavy Goods Vehicle (HGV) Safety Permits, as part of the Direct Vision Standard since it launched in October 2019. Freight operators are required to obtain a free Safety Permit, which is needed to be compliant with TfL's world-leading scheme, before enforcement begins on 26 October.</p>

<p>Between 2015 and 2017, HGVs were disproportionately involved in fatal collisions, with 63 per cent of those involving people cycling and 25 per cent of those involving people walking. The first of its kind, the Direct Vision Standard tackles road danger at its source by minimising HGV blind spots which contribute to many tragic deaths and life-changing injuries. Based on how much a driver can see directly through their cab windows, the unique star system rates HGVs over 12 tonnes from zero (lowest) to five (highest). HGVs will need to meet a minimum one-star rating by the time enforcement begins to enable them to operate in London or will need to fit Safe System measures to improve the vehicle's safety.</p>

<p>The number of permits issued so far is encouraging. However, TfL estimates that there are around 250,000 HGVs entering London each year that will need to apply for a permit by the October deadline. Every HGV over 12 tonnes will require a permit and it is possible to apply for multiple vehicle permits in a single application, making it easier for operators with larger fleets. Almost 6,000 of the permits issued so far have been done through this process.</p>

<p>Operators are encouraged to apply for a free HGV Safety Permit now ahead of enforcement beginning on 26 October. Operators with vehicles rated zero star will need to allow extra time to apply for their permit as Safe System measures, including cameras and sensors, need to be installed and evidenced for a permit to be issued.</p>

<p>HGV operators who fail to meet these new minimum safety standards and obtain a permit will be issued a penalty charge of &pound;550 a day for driving in the capital. The Direct Vision Standard will operate 24 hours a day, seven days a week and will be enforced within the Greater London Boundary.</p>

<p>More than 500 of the permits have been issued to lorries previously classed as the most dangerous on London's roads, which have been required to make vital safety improvements in order to receive a Safety Permit to continue operating in London. These vehicles have the lowest levels of direct vision from the driver's cab and are rated zero star, which is why safety advances were needed.</p>

<p><strong>Will Norman, London's Walking and Cycling Commissioner, said:</strong></p>

<p>'For too long dangerous lorries have been a scourge on our roads and have been responsible for some of the most heart-breaking traffic incidents in the capital. Our trailblazing initiative &nbsp;&#45; which is the first of its kind in the world &#45; tackles the issue at its source by encouraging HGV owners to switch to safer vehicles rather than face fines. With more than 8,000 permits already issued, the initial response from freight businesses has been encouraging. But we urge more HGV owners to sign up to the scheme ahead of enforcement beginning to help us to eradicate all deaths from our roads.'</p>

<p><strong>Christina Calderato, Head of Transport Strategy and Planning at TfL said: </strong></p>

<p>'It's promising to see that so many operators have applied for permits and made their vehicles safer since our Safety Permit scheme went live three months ago, but we would strongly advise all operators who haven't yet applied to do so now. It's vital that everyone plays their role in this life-saving scheme, and I'd like to remind operators that those who fail to meet our standards will not be permitted to drive in the capital.'</p>

<p><strong>Victoria Lebrec, Campaign Coordinator for RoadPeace, the national charity for road crash victims, said:</strong></p>

<p>'I lost my leg in a crash with a lorry in 2014 because the driver didn't see me. Since then there have been many people killed and even more seriously injured because the lorries currently driving on London roads are not fit for purpose. It is madness to have huge, heavy vehicles with poor visibility on roads that are filled with people. Transport for London should be commended for their Safety Permit scheme. It's great that so many operators have taken the initiative to register their vehicles with the scheme early, and I hope that the remaining follow suit as quickly as possible ahead of October this year.'</p>

<p>More than six per cent of the 8,000 Safety Permits issued so far have been for zero-star vehicles. The remaining 94 per cent of permits &#45; more than 7,500 vehicles &#45; are rated between one and five star, meaning they are compliant with the Direct Vision Standard until new tighter measures are brought in in 2024.</p>

<p>The Direct Vision Standard is a key part of TfL's Vision Zero commitment to tackle the number of people being killed and seriously injured on London's roads.</p>

<hr />
<p>Notes to editors</p>

<ul>
	<li>Operators can apply for Safety Permits through the TfL portal here: <a href="[ioID]#www.tfl.gov.uk/direct-vision-permit">www.tfl.gov.uk/direct-vision-permit</a></li>
	<li>Vehicles rated between one star and five star will be compliant until 2024, when vehicles two star and below will require a 'Progressive Safe System' in order to operate in London (subject to consultation). However all HGVs over 12 tonnes are required to have a permit by 26 October in order to be compliant</li>
	<li>Permits will be electronic and enforced by Automatic Number Plate Recognition cameras, and non-compliant HGVs will be issued with a Penalty Charge Notice of &pound;550 per day, which will be reduced by 50 per cent if paid within 14 days</li>
	<li>Operators can check the star rating of their vehicles here: <a href="[ioID]#https://tfl.gov.uk/modes/driving/dvs-safety-permit-application/">https://tfl.gov.uk/modes/driving/dvs-safety-permit-application/</a></li>
	<li>Operators should contact their vehicle manufacturer to confirm their star rating if their vehicle is not yet rated in the database. Vehicles without permits once enforcement begins will be issued a Penalty Charge Notice</li>
	<li>TfL research shows that between 2015 and 2017, HGVs were disproportionately involved in fatal collisions, with 63 per cent of those involving people cycling and 25 per cent of those involving people walking <a href="[ioID]#https://consultations.tfl.gov.uk/roads/direct-vision-standard-phase2b/user_uploads/dvs-phase-2b-consultation-report-1.pdf">https://consultations.tfl.gov.uk/roads/direct-vision-standard-phase2b/user_uploads/dvs-phase-2b-consultation-report-1.pdf</a></li>
	<li>More information about the Direct Vision Standard is available here: <a href="[ioID]#https://tfl.gov.uk/info-for/deliveries-in-london/delivering-safely/direct-vision-in-heavy-goods-vehicles">https://tfl.gov.uk/info-for/deliveries-in-london/delivering-safely/direct-vision-in-heavy-goods-vehicles</a></li>
	<li>The Vision Zero Action Plan is available here: <a href="[ioID]#https://tfl.gov.uk/corporate/safety-and-security/road-safety/vision-zero-for-london">https://tfl.gov.uk/corporate/safety-and-security/road-safety/vision-zero-for-london</a></li>
</ul>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
                <a href="/info-for/media/index" class="heading">
                    <h2 id="sub-menu-heading">Media<span class="visually-hidden"> navigation</span></h2>
                </a>
                <ul>
                    
                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases">Press releases</a></div>
                                <ul>
                                    
                                        <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2020">2020</a></div>
                                        <ul>
                                            
                                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2020/january">January</a></div>
                                                <ul>
                                                    
 
 
 
 
 
 
 
 
 
 
 
 
 
                                                </ul>
                                            
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2020/february">February</a></div></li>
                                    
 
                                        <li><div class="link-wrapper"><a href="/info-for/media/press-releases/2020/march">March</a></div></li>
                                    
 
                                        </ul>
                                    </li>
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019">2019</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018">2018</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017">2017</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016">2016</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015">2015</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014">2014</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2013">2013</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2012">2012</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2011">2011</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2010">2010</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2009">2009</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2008">2008</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2007">2007</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2006">2006</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2005">2005</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2004">2004</a></div></li>
                            
 
                                </ul>
                            </li>
 
                                <li><div class="link-wrapper"><a href="/info-for/media/photos">Photos</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/media/contact-the-press-office">Contact the Press Office</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/filming-and-photography">Filming & photography</a></div></li>
                            
 
                </ul>
            
 
 
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype: -Home-Media-Media-Press releases-2020-January-Vital safety features now in place on more than 8,000 lorries -->

 
 
        
        
            @{ViewBag.Description = "Vital safety features now in place on more than 8,000 lorries to protect people walking and cycling";}
        
        


 