


@{ViewBag.Title = "One year to go until the beginning of Elizabeth line";}
        
        
<div class="r">
    <div class="breadcrumb-container" role="navigation">
        <span id="breadcrumb-label" class="visually-hidden">You are here:</span>
        <ol class="breadcrumbs clearfix" aria-labelledby="breadcrumb-label">
            <li class="home">
                <a href="/">
                    <span class="hide-text">Home</span>
                </a>
            </li>
            
                <li>
                    <a href="/info-for/media/index">Media</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases">Press releases</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases/2017">2017</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases/2017/december">December</a>
                </li>
                
                <li>
                    <span class="last-breadcrumb">One year to go until the beginning of Elizabeth line</span>
                </li>
            
 
            
 
            
 
            
 
            
 
        </ul>
    </div>
</div>
     
 
<div class="r">
    <div class="headline-container plain">
        <h1>One year to go until the beginning of Elizabeth line</h1>
        <div class="content-page-press-release">
        19 December 2017
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        Elizabeth line services will be introduced in phases, with the central London stations opening in December 2018
        
    </div>



<div class="pull-quote">
        <div class="quote-body">"The Elizabeth line will transform travel across London and the South East, with new state-of-the-art trains transporting millions of people quickly across London, providing a huge boost to the economy"</div>
        <div class="quote-footer">
            <div class="quotee-name">Sadiq Khan</div>
            <div class="quotee-job-title">The Mayor of London</div>
        </div>
</div>

 <div class="on-this-page">
<ul>
    <li>New December 2018 Tube map featuring the Elizabeth line unveiled &#45; images are available via <a href="https://www.flickr.com/photos/tflpress/albums/72157661724312997 ">Flickr</a></li>
    <li>Elizabeth line is expected to boost the economy by &pound;42 billion overall</li>
</ul>
<p>The start of Elizabeth line services, which will transform transport in London with quicker, easier and more accessible journeys, is now just a year away. To mark the countdown, TfL has released a December 2018 Tube map with the Elizabeth line displayed. Its inclusion will be among the most significant changes to the look of the Tube map in recent decades.</p>
<p>The construction of the Elizabeth line has now entered its final stages and will open to the public in phases from December next year, when ten new state-of-the-art stations will open. The new railway, jointly sponsored by the Department for Transport and TfL, will connect stations such as Paddington to Canary Wharf in only 17 minutes, transforming how Londoners and visitors move quickly across the Capital.</p>
<p>From December 2018, the line will initially operate as three services:</p>
<ul>
    <li>Paddington (Elizabeth line station) to Abbey Wood via central London</li>
    <li>Paddington (mainline station) to Heathrow (Terminals 2 &amp; 3 and 4)</li>
    <li>Liverpool Street (mainline station) to Shenfield</li>
</ul>
<p>Fifteen trains per hour will run through the new tunnels, increasing to 24 trains per hour through the central section by May 2019.</p>
<p>From December 2019, customers from Reading and Heathrow will be able to travel all the way through central London to the West End and the City and beyond without needing to change trains. By linking Berkshire and Heathrow in the west, to east London and Essex in the east, the line will transform travel across the South East, carrying over 200 million passengers every year. It will increase rail capacity in central London by 10%, reduce congestion on the London Underground, and an extra 1.5 million people will be within 45 minutes commuting distance of London's key employment districts.</p>
<p>The new stations and travel links are expected to boost the economy by &pound;42 billion overall and support thousands of new jobs and homes in London and the South East.</p>
<p>Elizabeth line customers will benefit from brand new, longer trains with walk-through air-conditioned carriages, live travel information and free Wi-Fi. All 41 stations will be step-free from street to platform, in addition to the Mayor's target for 40% of the London Underground network to be step-free by 2022.</p>
<p>Significant milestones have been met earlier in the year, including the completion of the 50-kilometre Elizabeth line track in September as well as the introduction of the first new Elizabeth line train in passenger service between Shenfield and Liverpool Street in June.</p>
<p>Ahead of the Elizabeth line opening next year, intensive works continue by Crossrail Limited and its contractors to complete the fit-out of the new stations and install the railway systems including power, signalling and communications equipment. Farringdon and Tottenham Court Road are nearing physical completion with work advancing at the other station sites. The installation of platform screen doors has now reached the half way mark and over two thirds of escalators have been installed.</p>
<p><strong>The Mayor of London, Sadiq Khan, said:</strong> &quot;It's truly exciting that in only a year London will see the opening of one of the biggest new transport projects in a generation. The Elizabeth line will transform travel across London and the South East, with new state-of-the-art trains transporting millions of people quickly across London, providing a huge boost to the economy.</p>
<p>&quot;The new map being unveiled shows how the first phase of the Elizabeth line will connect to key parts of the transport network in the heart of central London, substantially reducing congestion on other key Tube lines as London's population grows.</p>
<p>&quot;The huge progress made on the Elizabeth line so far is testament to the hard work and expertise of the thousands of men and women who have worked on the project so far. When it opens next year, the line will improve quality of life for millions of people for decades to come.&quot;</p>
<p><strong>Paul Maynard, Rail Minister, said:</strong> &quot;Seeing the Elizabeth line on the Tube map for the very first time is exciting confirmation that we are closer than ever to delivering a transformative change in London's rail network. That means better, faster journeys for over half a million passengers per day, as well as offering new connections that will link people to Heathrow, Gatwick and Luton.</p>
<p>&quot;We are delivering the biggest rail modernisation programme for over a century, and with 96% of the contracts for Crossrail won by companies across the UK, the jobs, business opportunities and economic growth the Elizabeth line is creating is not limited to London.&quot;</p>
<p><strong>Mike Brown MVO, London's Transport Commissioner, said:</strong> &quot;The Elizabeth line will transform many journeys to work, home, the airport or around London allowing many more people across the South East to enjoy one of the greatest cities in the world. Our customers will soon benefit from the most significant increase in central London's public transport capacity for decades.&quot;</p>
<p><strong>Andrew Wolstenholme, Crossrail Chief Executive said:</strong> &quot;Over the last eight years many thousands of people have worked tirelessly to construct the Elizabeth line and we have now reached the final and critical part of the programme. There is still much work to do as we and our contractors complete the fit-out of the new stations and tunnels and deliver this fantastic new railway.&quot;</p>
<p>Since the construction of the new railway began in 2009, over 15,000 men and women have worked on the project. More than 1,000 apprenticeships have now also been created since the start of the Crossrail programme in 2009, far surpassing the original target of 400 apprenticeships. Apprentices have been trained in a range of professions from civil engineering and business administration to railway systems and mechanical and electrical engineering.</p>
<p><strong>Chris Hayward, Planning and Transportation Committee Chairman at the City of London Corporation said:</strong> &quot;We are thrilled to see this project coming to fruition. We have long recognised the importance of what is an integral infrastructure project for London and that is why we contributed &pound;200m towards the Elizabeth line.</p>
<p>&quot;As well as benefiting international leisure and business travellers with the links to Heathrow, the significance of the Elizabeth line for Londoners will be unparalleled. It is estimated that the Elizabeth line will support the creation of over 60,000 jobs in the City of London and Isle of Dogs. With over 1.37 million square metres of office space under construction that has the potential to accommodate 75,000 workers, boosting transport infrastructure is an absolute priority.&quot;</p>
<p><strong>Jasmine Whitbread, Chief Executive of business group London First, said</strong>: &quot;Companies and commuters across the South East are counting the days until the Elizabeth line opens its doors, connecting Canary Wharf, the City, London's West End and Heathrow. It promises to transform travel across our Capital and we're proud of the role business has played in making this happen, helping to pay for over a third of this massive engineering effort.</p>
<p>&quot;London will celebrate the launch of the Elizabeth line but we can't let the hangover blur the vision for our capital's future, and that means Crossrail 2. Opening the Elizabeth line shows the way for Crossrail 2.&quot;</p>
<p>&nbsp;</p>
<hr />
<p> </p>
<p> </p>
<p>Notes to Editors</p>
<ul>
    <li>The December 2018 Tube map images are available online at <a href="https://www.flickr.com/photos/tflpress/albums/72157661724312997">https://www.flickr.com/photos/tflpress/albums/72157661724312997</a></li>
</ul>
<p>Elizabeth line timeline:</p>
<ul>
    <li><strong>May 2018</strong>: TfL Rail service opens between Paddington and Heathrow, replacing the existing Heathrow Connect service and part of the Great Western inner suburban service. (TfL Rail continues to operate its Liverpool Street to Shenfield route).</li>
    <li><strong>December 2018</strong>: The Elizabeth line opens. It will initially operate as three services:<br />	Paddington (Elizabeth line station) to Abbey Wood via central London<br />	Paddington (mainline station) to Heathrow (Terminals 2 &amp; 3 and 4)<br />	Liverpool Street (mainline station) to Shenfield</li>
    <li><strong>May 2019</strong>: Direct services operate between Paddington &#45; Shenfield and Paddington &#45; Abbey Wood. Services from Paddington to Heathrow will continue to start and terminate at the mainline station.</li>
    <li><strong>December 2019</strong>: The Elizabeth line is fully open, with services running from Reading and Heathrow, including Terminal 5, in the west through the central tunnels to Shenfield and Abbey Wood in the east.</li>
</ul>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
                <a href="/info-for/media/index" class="heading">
                    <h2 id="sub-menu-heading">Media<span class="visually-hidden"> navigation</span></h2>
                </a>
                <ul>
                    
                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases">Press releases</a></div>
                                <ul>
                                    
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2020">2020</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019">2019</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018">2018</a></div></li>
                            
 
                                        <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017">2017</a></div>
                                        <ul>
                                            
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017/january">January</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017/february">February</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017/march">March</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017/april">April</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017/may">May</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017/june">June</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017/july">July</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017/august">August</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017/september">September</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017/october">October</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017/november">November</a></div></li>
                                    
 
                                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017/december">December</a></div>
                                                <ul>
                                                    
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
                                                </ul>
                                            
 
                                        </ul>
                                    </li>
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016">2016</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015">2015</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014">2014</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2013">2013</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2012">2012</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2011">2011</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2010">2010</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2009">2009</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2008">2008</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2007">2007</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2006">2006</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2005">2005</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2004">2004</a></div></li>
                            
 
                                </ul>
                            </li>
 
                                <li><div class="link-wrapper"><a href="/info-for/media/photos">Photos</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/media/contact-the-press-office">Contact the Press Office</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/filming-and-photography">Filming & photography</a></div></li>
                            
 
                </ul>
            
 
 
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype: -Home-Media-Media-Press releases-2017-December-One year to go until the beginning of Elizabeth line -->

 
 
        
        
            @{ViewBag.Description = "One year to go until the beginning of Elizabeth line";}
        
        


 