


@{ViewBag.Title = "Strong support for two new potential London Overground stations at Old Oak";}
        
        
<div class="r">
    <div class="breadcrumb-container" role="navigation">
        <span id="breadcrumb-label" class="visually-hidden">You are here:</span>
        <ol class="breadcrumbs clearfix" aria-labelledby="breadcrumb-label">
            <li class="home">
                <a href="/">
                    <span class="hide-text">Home</span>
                </a>
            </li>
            
                <li>
                    <a href="/info-for/media/index">Media</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases">Press releases</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases/2017">2017</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases/2017/december">December</a>
                </li>
                
                <li>
                    <span class="last-breadcrumb">Strong support for two new potential London Overground stations at Old Oak</span>
                </li>
            
 
            
 
            
 
            
 
            
 
        </ul>
    </div>
</div>
     
 
<div class="r">
    <div class="headline-container plain">
        <h1>Strong support for two new potential London Overground stations at Old Oak</h1>
        <div class="content-page-press-release">
        22 December 2017
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">



 <div class="on-this-page">
<p>Transport for London (TfL) has today published the results of its five week consultation that shows strong support for two potential new London Overground stations.  The stations would provide additional connections to HS2 and the Elizabeth line and help contribute to the regeneration of Old Oak and Park Royal in west London.</p>
<p>Around 1,000 people responded to the consultation, with 94 per cent supporting the overall plan for two potential new stations at Hythe Road and Old Oak Common and many suggesting these would help deliver regeneration, promote inward investment and create new jobs in the local area.</p>
<p>Where people responded to the questions about individual stations, 86 per cent supported the potential new station at Hythe Road, with 92 per cent supporting the potential new station at Old Oak Common Lane.  Some respondents did express concerns that the proposed distance of the interchange with the Elizabeth line and HS2 and the new stations was too long, and that the new stations could cause disruption to local residents. Both of these concerns would be considered as design plans continue to be developed.</p>
<p>The provision of a dedicated pedestrian bridge providing a link between Old Oak Common Lane station and Victoria road was strongly supported by 88 per cent of respondents.</p>
<p>Alex Williams, TfL's Director of City Planning, said: `This consultation has shown strong support for these two potential new London Overground stations at Old Oak. We will now consider comments from the consultation and use them to help shape the plans further to ensure we support the regeneration of Old Oak and Park Royal in the most effective way.'</p>
<p>Old Oak and Park Royal represents one of London's largest Opportunity Areas and one of the UK's biggest development sites. It is being managed by Old Oak and Park Royal Development Corporation (OPDC), with the potential to deliver 25,500 new homes and 65,000 jobs. At the centre of these plans is a new station at Old Oak on the HS2 route providing connections between London, the Midlands and the North.</p>
<p>Improved local transport infrastructure, including connections to the London Overground network, would help support this level of regeneration and bring up to 250,000 more people and 150,000 additional jobs within an hour's journey of Old Oak. The potential new London Overground stations would improve local rail connections and provide links to the future Elizabeth line and HS2 services.</p>
<p>TfL undertook a previous consultation in 2014 working with Network Rail and the OPDC and co-funded by the European Commission (EC) to develop the designs for the potential stations at Hythe Road and Old Oak Common Lane.</p>
<p>These consultation results will now help determine the next steps for the potential stations, with responses considered alongside the overall business case, supplementary feasibility studies, the availability of funding and determining operational requirements.</p>
<p>Should these potential stations be taken forward, powers to deliver them would need to be secured through a Transport &amp; Works Act Order (TWAO).  Further consultation would be carried out on the proposals prior to any TWAO submission.</p>
<p>Improvements to the London Overground network form part of the Mayor's draft Transport Strategy, which aims to create a fairer, greener, healthier and more prosperous city by improving public transport and reducing reliance on car journeys.</p>
<p>Ends</p>
<p>Notes to Editors</p>
<ul>
    <li>Full details of the report are available here - <a href="http://www.tfl.gov.uk/old-oak-common">www.tfl.gov.uk/old-oak-common</a><br />Visualisations of the stations are available here <a href="https://www.flickr.com/photos/tflpress/albums/72157686858838121">https://www.flickr.com/photos/tflpress/albums/72157686858838121</a></li>
    <li>The current design stage (GRIP 3) has been co-financed by the European Union &#45; Connecting Europe Facility.</li>
    <li>Fereday Pollard Architects are working on the GRIP 3 design work on behalf of Arcadis Consulting Ltd</li>
    <li>Opportunity Areas are London's major sites of brownfield land which have significant capacity for development &#45; such as housing or commercial use - and existing or potentially improved public transport access. Typically they can accommodate at least 5,000 jobs, 2,500 new homes or a combination of the two, along with other supporting facilities and infrastructure.</li>
</ul>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
                <a href="/info-for/media/index" class="heading">
                    <h2 id="sub-menu-heading">Media<span class="visually-hidden"> navigation</span></h2>
                </a>
                <ul>
                    
                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases">Press releases</a></div>
                                <ul>
                                    
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2020">2020</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019">2019</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018">2018</a></div></li>
                            
 
                                        <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017">2017</a></div>
                                        <ul>
                                            
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017/january">January</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017/february">February</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017/march">March</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017/april">April</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017/may">May</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017/june">June</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017/july">July</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017/august">August</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017/september">September</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017/october">October</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017/november">November</a></div></li>
                                    
 
                                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017/december">December</a></div>
                                                <ul>
                                                    
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
                                                </ul>
                                            
 
                                        </ul>
                                    </li>
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016">2016</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015">2015</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014">2014</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2013">2013</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2012">2012</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2011">2011</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2010">2010</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2009">2009</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2008">2008</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2007">2007</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2006">2006</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2005">2005</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2004">2004</a></div></li>
                            
 
                                </ul>
                            </li>
 
                                <li><div class="link-wrapper"><a href="/info-for/media/photos">Photos</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/media/contact-the-press-office">Contact the Press Office</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/filming-and-photography">Filming & photography</a></div></li>
                            
 
                </ul>
            
 
 
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype: -Home-Media-Media-Press releases-2017-December-Strong support for two new potential London Overground stations at Old Oak -->

 
 
        
        
            @{ViewBag.Description = "Strong support for two new potential London Overground stations at Old Oak";}
        
        


 