


@{ViewBag.Title = "TfL seeks six exclusive commercial partners for the launch year of the Elizabeth line ";}
        
        
<div class="r">
    <div class="breadcrumb-container" role="navigation">
        <span id="breadcrumb-label" class="visually-hidden">You are here:</span>
        <ol class="breadcrumbs clearfix" aria-labelledby="breadcrumb-label">
            <li class="home">
                <a href="/">
                    <span class="hide-text">Home</span>
                </a>
            </li>
            
                <li>
                    <a href="/info-for/media/index">Media</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases">Press releases</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases/2017">2017</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases/2017/december">December</a>
                </li>
                
                <li>
                    <span class="last-breadcrumb">TfL seeks six exclusive commercial partners for the launch year of the Elizabeth line </span>
                </li>
            
 
            
 
            
 
            
 
            
 
        </ul>
    </div>
</div>
     
 
<div class="r">
    <div class="headline-container plain">
        <h1>TfL seeks six exclusive commercial partners for the launch year of the Elizabeth line </h1>
        <div class="content-page-press-release">
        11 December 2017
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">



 <div class="on-this-page">
<p>Transport for London (TfL) has revealed that the Elizabeth line is to be launched in partnership with six sector-exclusive brands, offering a unique opportunity that will align with this historic moment for London. </p>
<p>Connecting Reading and Heathrow in the west, and Shenfield and Abbey Wood in the east via ten new central London stations, the iconic new railway will dramatically improve transport links across the South East. The six commercial partners will be offered 12 months of sector-exclusive, advertising rights across the Elizabeth line's brand new, premium environment as well as the chance to work with TfL on marketing integration across the railway.</p>
<p>When it launches in December 2018, TfL's state-of-the-art new railway will connect Paddington in West London to Canary Wharf in only 17 minutes, redefining how Londoners and visitors travel around the Capital. Two-hundred million passengers are expected to use the new line annually &#45; more than all of London's airports combined &#45; offering an unrivalled opportunity for brands to align themselves with a moment in London's history.</p>
<p>The ten newly-built and fully step-free Elizabeth line stations have been designed with advertising in mind, featuring strategically-located advertising sites in a less cluttered, premium environment. Best-in-class advertising infrastructure will be featured across the line, including:</p>
<ul>
    <li>Premium large and small-format digital screens with full-motion capability</li>
    <li>New digital escalator 'ribbons'</li>
    <li>New opportunities for bespoke and immersive brand campaigns in stations and on trains</li>
</ul>
<p>Further details on the Elizabeth line's advertising infrastructure will be published when the tender process opens to brands in February 2018. The six official launch partners are set to be announced in autumn 2018.</p>
<p>Graeme Craig, Director for Commercial Development at TfL said: `As the Elizabeth line will redefine London, we are also redefining our approach to commercial partnerships. We are seeking six exclusive partners who will work with us to work with us to launch the line, transforming how we work with leading brands to engage one of the most valuable and diverse audiences in the world.</p>
<p>`No other city is as defined by its transport system as London. The roundel and Tube map are symbols of our city, known and trusted around the world. We look forward to working with six commercial partners to launch the newest addition to London's global brand.`</p>
<p>The Elizabeth line commercial strategy is the latest of TfL's plans to maximise its assets to generate income for investment in improving transport. The publication of TfL's first Annual Advertising Report in October highlighted that &pound;142m of advertising revenue was raised and reinvested in the last year alone. All advertising revenue generated from the Elizabeth line partnerships will be reinvested in the transport network for the benefit of Londoners.</p>
<p>The opening of the Elizabeth line will help address some of the aims of the draft Mayor's Transport Strategy which seeks to reduce reliance on the car and tackle air pollution while supporting the provision of new homes and jobs, the railway is expected to boost the UK economy by &pound;42 billion.</p>
<p>ENDS</p>
<p>Notes to Editors:</p>
<ul>
    <li>Further information on TfL's Elizabeth line partnership opportunities, including the launch partner brochure, is available online at <a href="https://tfl.gov.uk/elizabeth-line-partners">https://tfl.gov.uk/elizabeth-line-partners</a></li>
    <li>Interested parties are advised to email <a href="mailto:elizabethlinepartners&#64;tfl.gov.uk">elizabethlinepartners&#64;tfl.gov.uk</a>.</li>
</ul>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
                <a href="/info-for/media/index" class="heading">
                    <h2 id="sub-menu-heading">Media<span class="visually-hidden"> navigation</span></h2>
                </a>
                <ul>
                    
                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases">Press releases</a></div>
                                <ul>
                                    
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2020">2020</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019">2019</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018">2018</a></div></li>
                            
 
                                        <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017">2017</a></div>
                                        <ul>
                                            
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017/january">January</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017/february">February</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017/march">March</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017/april">April</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017/may">May</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017/june">June</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017/july">July</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017/august">August</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017/september">September</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017/october">October</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017/november">November</a></div></li>
                                    
 
                                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017/december">December</a></div>
                                                <ul>
                                                    
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
                                                </ul>
                                            
 
                                        </ul>
                                    </li>
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016">2016</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015">2015</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014">2014</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2013">2013</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2012">2012</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2011">2011</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2010">2010</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2009">2009</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2008">2008</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2007">2007</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2006">2006</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2005">2005</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2004">2004</a></div></li>
                            
 
                                </ul>
                            </li>
 
                                <li><div class="link-wrapper"><a href="/info-for/media/photos">Photos</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/media/contact-the-press-office">Contact the Press Office</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/filming-and-photography">Filming & photography</a></div></li>
                            
 
                </ul>
            
 
 
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype: -Home-Media-Media-Press releases-2017-December-TfL seeks six exclusive commercial partners for the launch year of the Elizabeth line  -->

 
 
        
        
            @{ViewBag.Description = "TfL seeks six exclusive commercial partners for the launch year of the Elizabeth line ";}
        
        


 