


@{ViewBag.Title = "TfL works with Waze and Eurotunnel to prevent Blackwall Tunnel closures";}
        
        
<div class="r">
    <div class="breadcrumb-container" role="navigation">
        <span id="breadcrumb-label" class="visually-hidden">You are here:</span>
        <ol class="breadcrumbs clearfix" aria-labelledby="breadcrumb-label">
            <li class="home">
                <a href="/">
                    <span class="hide-text">Home</span>
                </a>
            </li>
            
                <li>
                    <a href="/info-for/media/index">Media</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases">Press releases</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases/2017">2017</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases/2017/december">December</a>
                </li>
                
                <li>
                    <span class="last-breadcrumb">TfL works with Waze and Eurotunnel to prevent Blackwall Tunnel closures</span>
                </li>
            
 
            
 
            
 
            
 
            
 
        </ul>
    </div>
</div>
     
 
<div class="r">
    <div class="headline-container plain">
        <h1>TfL works with Waze and Eurotunnel to prevent Blackwall Tunnel closures</h1>
        <div class="content-page-press-release">
        08 December 2017
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        Addressing key problems of broken down and over-height vehicles results in a reduction in Blackwall Tunnel congestion
        
    </div>



<div class="pull-quote">
        <div class="quote-body">"This is just the beginning, as we're now exploring how the new technology can give us even better insights into London's roads and enable drivers to avoid unnecessary delays. This in turn will help make our roads safer and more efficient for everyone"</div>
        <div class="quote-footer">
            <div class="quotee-name">Glynn Barton</div>
            <div class="quotee-job-title">Director of Network Management at TfL</div>
        </div>
</div>

 <div class="on-this-page">
<p>Delays at the Blackwall Tunnel caused by drivers running out of fuel have reduced following innovative trials between TfL, social navigation app Waze and Eurotunnel.</p>
<p>Over 36m journeys are made through the tunnel every year and it is one of the busiest sections on London's road network.</p>
<p>Cars running out of petrol, and lorry drivers unaware their vehicles are over-height, cause delays at the tunnel which cost the Capital almost &pound;7m, and result in nearly 400 hours of delays, each year.</p>
<p>To address this TfL has worked with Waze to remind drivers approaching the Blackwall Tunnel to have enough fuel.</p>
<h2>Reduce delays</h2>
<p>Over a six month period 459 drivers acted on the fuel message and re-routed to local petrol stations, reducing the risk of breaking down in the tunnel. There was also a reduction in the number of tunnel breakdowns compared to the same period last year.</p>
<p>The trial is part of a range of new measures by TfL to reduce delays at the tunnel. This includes working closely with Eurotunnel Le Shuttle Freight to tackle the number of over-height incidents occurring at the Blackwall Tunnel.</p>
<p>This is caused by lorry drivers not knowing the height of their vehicles or failing to pay attention to the height restrictions displayed on approach to the tunnel. Lorries entering the UK via Eurotunnel were targeted with leaflets in 10 different languages informing drivers on the best choice between the Blackwall Tunnel and Dartford Crossing dependent on the time of day, vehicle and height restrictions.</p>
<h2>24-hour traffic control centre</h2>
<p>TfL has recently launched a campaign to advise users of the busiest times at Blackwall Tunnel and this saw 2% of frequent drivers retime their journeys to reduce delays.</p>
<p>TfL's 24-hour traffic control centre uses a range of information to help keep the Capital's roads moving. TfL and Waze's data sharing partnership began in 2016 and now alerts from Waze users provide the biggest source of real-time information to the control centre.</p>
<p>This allows it to deal with traffic incidents as they arise, improving the Capital's roads for all Londoners. TfL's partnership with Waze will continue in 2018 and will look at a number of busy roads and major planned road closures, with the aim of helping road users avoid unnecessary delays.</p>
<h2>New technology</h2>
<p>Glynn Barton, Director of Network Management at TfL, said: 'By working with Waze and Eurotunnel we have been able to help reduce the number of vehicles breaking down in the Blackwall tunnel &#45; saving drivers time that would have otherwise have been spent sitting in traffic.</p>
<p>'Our data has shown us that cars running out of fuel causes avoidable delays and I would advise anyone using the tunnel to ensure they have filled up before they get there.</p>
<p>'This is just the beginning, as we're now exploring how the new technology can give us even better insights into London's roads and enable drivers to avoid unnecessary delays.This in turn will help make our roads safer and more efficient for everyone.'</p>
<p>Finlay Clark, UK Head of Waze, said: 'Understanding congestion in real-time is key to tackling traffic problems and Waze is happy to be helping TfL, along with other city planners worldwide, to find the answers.</p>
<p>'The two-way data exchange enables Waze to deliver targeted messages to drivers who need to receive certain information at the right time. For Blackwall Tunnel, we provided drivers with the option to reroute to the nearest petrol station before entering the queues; resulting in fewer breakdowns and reduced congestion there.</p>
<p>'By harnessing the insights of more than 1.9 million UK monthly active users we've set up the platform to alert drivers to disruptions early, helping increase traffic flow and make traffic jams avoidable.</p>
<p>'We look forward to applying the same method used for Blackwall to help solve other traffic problems here in London and across the UK.'</p>
<h2>Capital's economy</h2>
<p>John Keefe, Eurotunnel's Director of Public Affairs, said: 'Eurotunnel was delighted to be able to help with this initiative. 30% of the trucks entering the UK through the Channel Tunnel are bound for London, so keeping this key infrastructure open and operational is vital to the success of the Capital's economy.'</p>
<p>A worrying number of cyclists and pedestrians dangerously attempt to use the Blackwall Tunnel each year as a means to cross the river, despite numerous clear signs signalling no access.</p>
<p>TfL has been working closely with Google and the O2 Arena to update their travel routes to include the correct public transport options and cycle prohibitions.</p>
<p>During peak periods tailbacks of two miles are regularly experienced around the Blackwall Tunnel and this can add more than 25 minutes to journey times. Traffic is at unsustainable levels and while these partnerships have helped reduce congestion caused by closures in particular, there needs to be a long-term solution.</p>
<p>TfL has developed proposals to build the Silvertown Tunnel, linking the Greenwich Peninsula and the Royal Docks. The scheme would improve air quality, reduce congestion at the Blackwall Tunnel and provide a more reliable crossing. The crossing would also significantly improve public transport connections across the river.</p>
<p>TfL is currently awaiting a decision on the Development Consent order for the powers to build and operate the scheme.</p>
<p>If approved, construction could commence in 2019 with the new crossing open and available for use in 2023, which makes measures to manage the issues currently affecting the Blackwall Tunnel even more important.</p>
<p><hr /></p>
<p><strong>Notes to Editors</strong></p>
<ul>
    <li>Approximately 20% of breakdowns in 2015 were caused by drivers running out of fuel while inside the Blackwall Tunnel</li>
</ul>
<p><strong>About Waze</strong></p>
<ul>
    <li>Waze is a free crowdsourced traffic and navigation app that uses real-time driving data to provide the quickest driving routes. It announced its 100th global partner &#45; and the first in the UK - with TfL on 10th October 2016</li>
    <li>The Waze Connected Citizens Program is a two-way data exchange that empowers municipalities to harness real-time driver insights to improve congestion, make better-informed planning decisions and reduce emergency response times</li>
    <li>For more information on Waze's Connected Citizens Program visit <a href="https://www.waze.com/en-GB/ccp">waze.com/en-GB/ccp</a></li>
</ul>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
                <a href="/info-for/media/index" class="heading">
                    <h2 id="sub-menu-heading">Media<span class="visually-hidden"> navigation</span></h2>
                </a>
                <ul>
                    
                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases">Press releases</a></div>
                                <ul>
                                    
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2020">2020</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019">2019</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018">2018</a></div></li>
                            
 
                                        <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017">2017</a></div>
                                        <ul>
                                            
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017/january">January</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017/february">February</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017/march">March</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017/april">April</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017/may">May</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017/june">June</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017/july">July</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017/august">August</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017/september">September</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017/october">October</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017/november">November</a></div></li>
                                    
 
                                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017/december">December</a></div>
                                                <ul>
                                                    
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
                                                </ul>
                                            
 
                                        </ul>
                                    </li>
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016">2016</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015">2015</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014">2014</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2013">2013</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2012">2012</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2011">2011</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2010">2010</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2009">2009</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2008">2008</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2007">2007</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2006">2006</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2005">2005</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2004">2004</a></div></li>
                            
 
                                </ul>
                            </li>
 
                                <li><div class="link-wrapper"><a href="/info-for/media/photos">Photos</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/media/contact-the-press-office">Contact the Press Office</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/filming-and-photography">Filming & photography</a></div></li>
                            
 
                </ul>
            
 
 
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype: -Home-Media-Media-Press releases-2017-December-TfL works with Waze and Eurotunnel to prevent Blackwall Tunnel closures -->

 
 
        
        
            @{ViewBag.Description = "TfL works with Waze and Eurotunnel to prevent Blackwall Tunnel closures";}
        
        


 