


@{ViewBag.Title = "Transport for London shares festive joy by giving lost toys to children this Christmas";}
        
        
<div class="r">
    <div class="breadcrumb-container" role="navigation">
        <span id="breadcrumb-label" class="visually-hidden">You are here:</span>
        <ol class="breadcrumbs clearfix" aria-labelledby="breadcrumb-label">
            <li class="home">
                <a href="/">
                    <span class="hide-text">Home</span>
                </a>
            </li>
            
                <li>
                    <a href="/info-for/media/index">Media</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases">Press releases</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases/2017">2017</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases/2017/december">December</a>
                </li>
                
                <li>
                    <span class="last-breadcrumb">Transport for London shares festive joy by giving lost toys to children this Christmas</span>
                </li>
            
 
            
 
            
 
            
 
            
 
        </ul>
    </div>
</div>
     
 
<div class="r">
    <div class="headline-container plain">
        <h1>Transport for London shares festive joy by giving lost toys to children this Christmas</h1>
        <div class="content-page-press-release">
        01 December 2017
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">



 <div class="on-this-page">
<p>Transport for London's (TfL's) Lost Property Office has kick-started the festive period this December by donating hundreds of toys and games for children as part of The Salvation Army's Christmas Present Appeal.</p>
<p>The Lost Property Office has given joy to disadvantaged children for the last 11 years by providing presents for them during the Christmas season. The donation includes children's toys and games that have been lost on the network and have remained unclaimed for over three months.</p>
<p>The Salvation Army will work with care services in south London, such as Lewisham Council, so children can have something to unwrap and enjoy this Christmas when they might not otherwise receive any presents.</p>
<p>Paul Cowan, Manager of the Lost Property Office, said: `Each year, we are left with thousands of unclaimed items, including toys and games, which have been found across the TfL network. Many of these are new and unused, making them perfect to donate to children and their families during the festive season, bringing a smile to their faces.</p>
<p>`The team here work exceedingly hard throughout the year to reunite owners with their lost belongings. It is our pleasure to give donations to a worthy cause and we are proud to have supported The Salvation Army Christmas Appeal for over 10 years.'</p>
<p>Captain Kevin Stanbury, Divisional Mission Enabler from The Salvation Army, said: `Every year the Salvation Army provides many toys and parcels to those families and children who would otherwise go without. Right across south London our local centres work with councils and care providers to ensure that the toys get to where they are most needed. This is made possible through the generosity of the general public and with the partnerships that we have with larger providers, including Transport for London. The Salvation Army is very grateful for the support they offer each year.'</p>
<p>Items that have not been matched to an enquiry about a lost item or claimed within three months from when they have been lost become the property of TfL. Any personal data is removed and securely destroyed by the TfL Lost Property Office before the items are either donated to charities including The Salvation Army, The British Red Cross and Scope, or recycled, sold or disposed of. Any revenue generated from unclaimed items contributes towards the cost of running the Lost Property Office.</p>
<p>With all of the joy and excitement that comes during this festive period, customers are reminded to take extra care of their belongings when using London's transport network and are encouraged to report any suspicious items or behaviour to a member of staff or a police officer.</p>
<p>For more information about the Lost Property Office or how customers can enquire about their missing items, please go to <a href="http://tfl.gov.uk/lostproperty">tfl.gov.uk/lostproperty</a></p>
<p>- ENDS -<br />
Notes to editors:<br />
1.	Photos of the donation are available here:  <a href="https://flic.kr/s/aHsmaKqiT2">https://flic.kr/s/aHsmaKqiT2</a><br />
2.	Toys that are used or not in a new condition are still donated to the Lost Property's Office charities continually throughout the year.<br />
3.	Over the past year, more than 330,000 items of Lost Property have been found on TfL's services, including London Buses, London Underground, Docklands Light Railway, London Overground, TfL Rail, Licensed Taxis, Emirates Air Line and Victoria Coach station. More than half of these items have been found on London buses. TfL has been able to successfully reunite over a fifth of the items (21 per cent) with their owners.<br />
4.	The Salvation Army is a registered charity that works in 128 countries worldwide, offering friendship, practical help and support for people at all levels of need. In the UK and Republic of Ireland this work includes more than 800 community churches and social centres. For more than 150 years, The Salvation Army has been transforming lives and continues to do so today in communities across the UK and throughout the world.</p>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
                <a href="/info-for/media/index" class="heading">
                    <h2 id="sub-menu-heading">Media<span class="visually-hidden"> navigation</span></h2>
                </a>
                <ul>
                    
                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases">Press releases</a></div>
                                <ul>
                                    
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2020">2020</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019">2019</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018">2018</a></div></li>
                            
 
                                        <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017">2017</a></div>
                                        <ul>
                                            
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017/january">January</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017/february">February</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017/march">March</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017/april">April</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017/may">May</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017/june">June</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017/july">July</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017/august">August</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017/september">September</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017/october">October</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017/november">November</a></div></li>
                                    
 
                                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017/december">December</a></div>
                                                <ul>
                                                    
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
                                                </ul>
                                            
 
                                        </ul>
                                    </li>
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016">2016</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015">2015</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014">2014</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2013">2013</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2012">2012</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2011">2011</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2010">2010</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2009">2009</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2008">2008</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2007">2007</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2006">2006</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2005">2005</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2004">2004</a></div></li>
                            
 
                                </ul>
                            </li>
 
                                <li><div class="link-wrapper"><a href="/info-for/media/photos">Photos</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/media/contact-the-press-office">Contact the Press Office</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/filming-and-photography">Filming & photography</a></div></li>
                            
 
                </ul>
            
 
 
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype: -Home-Media-Media-Press releases-2017-December-Transport for London shares festive joy by giving lost toys to children this Christmas -->

 
 
        
        
            @{ViewBag.Description = "Transport for London shares festive joy by giving lost toys to children this Christmas";}
        
        


 