


@{ViewBag.Title = "Vital escalator refurbishment at Camden Town station starts next month";}
        
        
<div class="r">
    <div class="breadcrumb-container" role="navigation">
        <span id="breadcrumb-label" class="visually-hidden">You are here:</span>
        <ol class="breadcrumbs clearfix" aria-labelledby="breadcrumb-label">
            <li class="home">
                <a href="/">
                    <span class="hide-text">Home</span>
                </a>
            </li>
            
                <li>
                    <a href="/info-for/media/index">Media</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases">Press releases</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases/2017">2017</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases/2017/december">December</a>
                </li>
                
                <li>
                    <span class="last-breadcrumb">Vital escalator refurbishment at Camden Town station starts next month</span>
                </li>
            
 
            
 
            
 
            
 
            
 
        </ul>
    </div>
</div>
     
 
<div class="r">
    <div class="headline-container plain">
        <h1>Vital escalator refurbishment at Camden Town station starts next month</h1>
        <div class="content-page-press-release">
        20 December 2017
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        The station's two escalators will be refurbished from January 2018 to renew key components
        
    </div>



<div class="pull-quote">
        <div class="quote-body">"This modernisation work complements the proposed major upgrade of Camden Town station which would see the station treble in size, gain three new escalators and become step-free. We want to give our customers a modern, more accessible and spacious station, and refurbishing both of the existing escalators is an important pre-cursor for this"</div>
        <div class="quote-footer">
            <div class="quotee-name">Peter McNaught</div>
            <div class="quotee-job-title">Director of Asset Operations at London Underground</div>
        </div>
</div>

 <div class="on-this-page">
<p>TfL is advising customers who use Camden Town Underground station that vital refurbishment of the first of its two escalators will begin on Tuesday 9 January 2018. The work will ensure the continued safe operation of the station.</p>
<p>The escalators will be refurbished one at a time to boost their safety and reliability, which is crucial to ensure the station can manage increasing customer demand as the area continues to develop and London's population continues to grow.</p>
<p>Work on the first escalator is scheduled to finish in early March. The second escalator will be refurbished later in the year.</p>
<h2>Improve journeys</h2>
<p>While the work is carried out, there will be <strong>no entry</strong> to the station during the following times:</p>
<ul>
    <li><strong>On weekdays between 16:00 and 19:00</strong> &#45; the station will be exit and interchange only</li>
    <li><strong>On Saturdays and Sundays between 13:00 and 17:30</strong> &#45; the station will be exit and interchange only</li>
    <li><strong>During Night Tube</strong> &#45; the station will be exit and interchange only between 00:30 and 04:30</li>
    <li><strong>At all other times</strong> &#45; access will be <strong>via the spiral staircase only (96 steps).</strong> There will be no 'down' escalator at the station at any time while the works are taking place</li>
</ul>
<p>At busy times, it may take longer to exit or move around Camden Town station than usual. Northern line customers are advised to use nearby Mornington Crescent, Chalk Farm or Kentish Town stations.</p>
<p>Peter McNaught, Director of Asset Operations at London Underground, said: 'I'm sorry for the disruption the escalator refurbishment will cause to customers but this is vital work that will improve journeys through Camden Town for years to come.</p>
<p>'Once the work is complete, the escalators will be more reliable and there will be less disruption to journeys through the station as a result.</p>
<p>This modernisation work complements the proposed major upgrade of Camden Town station which would see the station treble in size, gain three new escalators and become step-free.</p>
<p>'We want to give our customers a modern, more accessible and spacious station, and refurbishing both of the existing escalators is an important pre-cursor for this.'</p>
<h2>Busiest interchanges</h2>
<p>With over 30 million customers using the station each year, Camden Town is already one of the busiest interchanges on the Underground.</p>
<p>The number of passengers using the station is expected to rise by 40% by 2021, and the original station &#45; designed in 1907 &#45; needs to be upgraded.</p>
<p>In a public consultation, 95% of the 1,700 respondents agreed that the station needs an upgrade.</p>
<p>London Underground's (LU's) escalators are heavy-duty machines which weigh around 40 tonnes and carry millions of people each year.</p>
<p>A typical 15-metre rise escalator has approximately 15,000 moving parts. LU's escalators tend to be in operation in both directions for up to 20 hours a day and must be refurbished every 20 years and replaced every 40 years.</p>
<p><hr /></p>
<p><strong>Notes to Editors</strong></p>
<ul>
    <li>Customers using the Northern line are advised to use the following nearby stations instead:
    <ul>
        <li><strong>Mornington Crescent</strong> (approximately 8 minutes' walk) for southbound trains and change at Euston for the Bank branch</li>
        <li><strong>Chalk Farm</strong> (approximately 14 minutes' walk) for northbound Northern line trains towards Edgware</li>
        <li><strong>Kentish Town</strong> (approximately 18 minutes' walk) for northbound Northern line trains towards High Barnet or Mill Hill East</li>
    </ul>
    </li>
    <li>The Camden Town Station Upgrade is part of a wider Northern line investment programme aimed at improving the line. Projects have included the introduction of the Night Tube on the Charing Cross branch of the line, station improvements such as Tottenham Court Road and a signalling upgrade which has resulted in a 20% increase in capacity</li>
    <li>More details about LU's escalator refurbishment programme can be found here: <a href="https://tfl.gov.uk/campaign/tube-improvements/behind-the-scenes/escalator-refurbishment">https://tfl.gov.uk/campaign/tube-improvements/behind-the-scenes/escalator-refurbishment</a></li>
</ul>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
                <a href="/info-for/media/index" class="heading">
                    <h2 id="sub-menu-heading">Media<span class="visually-hidden"> navigation</span></h2>
                </a>
                <ul>
                    
                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases">Press releases</a></div>
                                <ul>
                                    
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2020">2020</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019">2019</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018">2018</a></div></li>
                            
 
                                        <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017">2017</a></div>
                                        <ul>
                                            
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017/january">January</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017/february">February</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017/march">March</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017/april">April</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017/may">May</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017/june">June</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017/july">July</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017/august">August</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017/september">September</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017/october">October</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017/november">November</a></div></li>
                                    
 
                                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017/december">December</a></div>
                                                <ul>
                                                    
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
                                                </ul>
                                            
 
                                        </ul>
                                    </li>
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016">2016</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015">2015</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014">2014</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2013">2013</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2012">2012</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2011">2011</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2010">2010</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2009">2009</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2008">2008</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2007">2007</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2006">2006</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2005">2005</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2004">2004</a></div></li>
                            
 
                                </ul>
                            </li>
 
                                <li><div class="link-wrapper"><a href="/info-for/media/photos">Photos</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/media/contact-the-press-office">Contact the Press Office</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/filming-and-photography">Filming & photography</a></div></li>
                            
 
                </ul>
            
 
 
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype: -Home-Media-Media-Press releases-2017-December-Vital escalator refurbishment at Camden Town station starts next month -->

 
 
        
        
            @{ViewBag.Description = "Vital escalator refurbishment at Camden Town station starts next month";}
        
        


 