
    
  


<!-- rhroot -->
@{ViewBag.Title = "Safety";}
@{ViewBag.Keywords = "TfL";}
@{ViewBag.Url = "/travel-information/safety/index";}
@{ViewBag.Language = "en";}
        <!-- empty placeholder -->
 
        
        
<div class="r">
    <div class="breadcrumb-container" role="navigation">
        <span id="breadcrumb-label" class="visually-hidden">You are here:</span>
        <ol class="breadcrumbs clearfix" aria-labelledby="breadcrumb-label">
            <li class="home">
                <a href="/">
                    <span class="hide-text">Home</span>
                </a>
            </li>
            
            
                <li><span class="last-breadcrumb">Safety</span></li>
            
        
 
        </ol>
    </div>
</div>
     
 
<div class="r">
    <div class="headline-container landing-page section-landing-container">
        <h1>Safety</h1>
        
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">
        <div class="small-medium" data-set="widget"></div>
        <div class="primary-teaser landing-page-teaser">
            <div class="news-teaser bus">
  
  <a href="/travel-information/safety/staying-safe?intcmp=5437"  data-img="/cdn/static/cms/images/promos/stay-safe.jpg" data-img-breakpoint="" data-img-alt="safety on the Tube">
    <img src="/cdn/static/cms/images/promos/stay-safe_rdax_600x300.jpg" alt="safety on the Tube" />
    <div class="text-link sit-top">
      <h2>Stay safe</h2>
      <p>Handy tips for staying safe while you travel</p>
    </div>
  </a>
</div>

 
        </div>
        
        <div class="clearfix">
            
        </div>
        <div class="module-grid clearfix">
            <div class="news-teaser">

    <a href="/travel-information/safety/report-a-crime-or-incident?intcmp=1856"  data-img="/cdn/static/cms/images/promos/t001-14166-safety-police-on-guard_rdax_400x200.jpg" data-img-breakpoint="medium" data-img-alt="British Transport Police">
        
        
        <div class="text-link">
             <h2>Report a crime or incident</h2>
            <p>How to report a crime or other incident on the transport system</p>
        </div>
    </a>
</div>
 
 <div class="news-teaser">

    <a href="/travel-information/safety/road-safety-advice?intcmp=5451"  data-img="/cdn/static/cms/images/promos/cycle-and-driver-safety_rdax_400x200.jpg" data-img-breakpoint="medium" data-img-alt="motorcycle and driver safety">
        
        
        <div class="text-link">
             <h2>Road safety advice</h2>
            <p>Advice for cyclists, motorcyclists and other road users</p>
        </div>
    </a>
</div>
 
 
        </div>
    </div>
    <div class="aside" role="complementary">
        <div class="large" data-set="widget">
            <div class="moving-source-order">
            

                <div class="widget-wrapper">
                    <div class="expandable-box">
                        <div class="content">
                            <div class="always-visible widget-heading">
                                <div class="controls">&nbsp;</div>
                                <div class="widget-title">
                                    <h2>Plan a journey</h2>
                                </div>
                            </div>
                            <div class="start-hidden widget-content journey-planner-widget clearfix">
                                @{Html.RenderAction("Index", "JourneyPlanner", new
                                    { jptype = "publictransport" } 
                                );}
                            </div>
                        </div>
                    </div>
                </div>
            
 
            </div>
        </div>
        <div class="module-grid">
            












<div class="advert-tile unsponsored-style google-ads" aria-hidden="true">
  <div class="advert-link">
    <div class="advert-content">
        <div class="medium-large" data-advert="/76889402/safety" data-advert-sizes="300, 250"></div>
        <div class="small" data-advert="/76889402/safety" data-advert-sizes="300, 250"></div>
    </div>
  </div>
</div>
@{
    ViewBag.AmazonSlot = "'amznslots'";
    ViewBag.AmazonAds = "'3199'"; // to add another value, this needs to be ViewBag.AmazonAds = "'3199','xx'";
}
      

 
            <div>
    
    <div class="contact-info-box">
        <div class="contact-info-header">
            <h3>Contact us about safety issues</h3>
        </div>
                                                         
        <div class="content-group">
            We're open 24 hours a day, 7 days a week.
        </div>
        
        
            
        
        
            
                
                 
        
        
        
        <div class="content-group">
            <p>
                <abbr title="Telephone number">Call</abbr>&nbsp;<a href="/corporate/terms-and-conditions/tfl-call-charges">Charges apply</a><br />
                0343 222 1234
            </p>
        </div>
        
        
        <div class="content-group">
            <p>
                <abbr title="Textphone">Textphone</abbr><br />
                0800 112 3456
            </p>
        </div>
        
        
        <div class="content-group">
            <p>
                <abbr title="Address">Write</abbr>
            </p>
            <p>Use our <a href="/help-and-contact/index">Enquiries and complaints forms</a> to report a safety incident online. </p>
<p>Or send a letter to:</p>
        </div>
        
        
        <div class="content-group">
            TfL Customer Service<br /> 4th Floor<br /> 14 Pier Walk<br /> London SE10 0ES
        </div>
        
    </div>
</div>
 <div class="related-links">

    <h3>Also on this site</h3>

<div class="vertical-button-container">

<a href="/corporate/safety-and-security/index" class="plain-button">Safety &amp; security</a>
<a href="https://tfl.gov.uk/forms/12389.aspx" class="plain-button">FInd a local minicab</a>
    </div>
</div>
 
        </div>
    </div>
    <div class="small-medium" data-set="content">&nbsp;</div>
</div>
 
        
        
        
            @{ViewBag.Description = "safety";}
        
            
        


 