
    
  



@{ViewBag.Title = "Misconceptions";}
@{ViewBag.Keywords = "TfL";}
@{ViewBag.Url = "/travel-information/safety/misconceptions";}
@{ViewBag.Language = "en";}
        <!-- empty placeholder -->
 
        
        

  <div class="section-image-container medium-large" data-highlight-image="/cdn/static/cms/images/promos/misconceptions.jpg" data-highlight-for=".section-image-container" data-highlight-size="medium-large" style="background-image: url(/cdn/static/cms/images/promos/misconceptions.jpg)"> </div>

<div class="r">
    <div class="breadcrumb-container" role="navigation">
        <span id="breadcrumb-label" class="visually-hidden">You are here:</span>
        <ol class="breadcrumbs clearfix" aria-labelledby="breadcrumb-label">
            <li class="home">
                <a href="/">
                    <span class="hide-text">Home</span>
                </a>
            </li>
            
                 <li><a href="/travel-information/safety/index">Safety</a></li>
                
            
                 <li><a href="/travel-information/safety/report-a-crime-or-incident">Report a crime or incident</a></li>
                
            
                 <li><a href="/travel-information/safety/report-it-to-stop-it">Report it to stop it</a></li>
                
            
            
                <li><span class="last-breadcrumb">Misconceptions</span></li>
            
        
 
        
 
        
 
        
 
        </ol>
    </div>
</div>
     
 

  
  <div class="r">
    <div class="headline-container section-title section-landing-container ">
      <div class="section-title-wrap">
        <h1 class="hero-headline">Misconceptions</h1>
        
      </div>
    </div>
  </div>


  
  
    
  


    
    <div class="r">
        <div class="section-overview clearfix ">
            <div class="small-medium" data-set="section-intro"></div>
            <div class="main">
                <div class="large" data-set="section-intro">
                    
                </div>
                Sometimes, people make assumptions about reporting that put them off reporting unwanted sexual behaviour. These are not always accurate.
            </div>
            
            <div class="aside">
                
                <div>

<h2>Text 61016 or call 101 *</h2>
</div>
 
                
            </div>
            
        </div>
    </div>
    
   
    <div class="r">
        <div class="main clearfix" role="main">
            
        
        
         
        
        
        
                
                <div class="clearfix">
                    <div>

<h3>They'll never catch the offender</h3>
<p>There is extensive CCTV coverage across the transport network. We use this footage, the information you give us and witness accounts to help us identify and catch those responsible. There is often a pattern to offenders' behaviour, so your information could lead to an arrest when added to other reports.</p>
<h3>I don't want my parents or partner to find out</h3>
<p>You can report in complete confidence. However, if you're under 18, we'll need a guardian there to submit your statement. If you're worried about telling them, remember that you are not to blame. The offender is the only person in the wrong. We will always contact you via your preferred method and will never speak to anyone else about the case without your permission.</p>
<h3>It might have been an accident</h3>
<p>You can report anything that makes you feel uncomfortable. We will investigate whether it was an accident or not.</p>
<h3>It's just part of London life, it's no big deal</h3>
<p>Nobody should be made to feel uncomfortable on their journey. No incident is too minor - we take every report seriously.</p>
<h3>It won't be taken seriously</h3>
<p>You will always be believed, taken seriously and treated with respect.</p>
<h3>The police have bigger things to worry about</h3>
<p>Unwanted sexual behaviour is totally unacceptable. Nothing is more important than your safety. We'll always believe what you tell us and investigate every report.</p>
<h3>It didn't seem serious enough to report</h3>
<p>If it makes you feel uncomfortable, then you can report. It might not be a criminal offence, but the person might have done this sort of intimidating behaviour before. We will take it seriously and the information that you provide will help us stop it happening again.</p>
</div>
 <div>

<h2>Text 61016 or call 101 *</h2>
</div>
 <div>

* Your mobile service provider may issue a small charge
</div>
 
                </div>
                <hr>
                
                
                <div class="module-grid clearfix">
                    
                    
                    
                    <div class="news-teaser">

    <a href="/travel-information/safety/why-report?intcmp=45763" >
        
        
        <div class="text-link">
             <h2>Why report</h2>
            <p>Your information can help us to catch offenders, and prevent future incidents</p>
        </div>
    </a>
</div>
 
 <div class="news-teaser">

    <a href="/travel-information/safety/what-happens-next?intcmp=45759" >
        
        
        <div class="text-link">
             <h2>What happens next</h2>
            <p>Once you've reported, your assigned officer will help you through the whole process</p>
        </div>
    </a>
</div>
 
 <div class="news-teaser">

    <a href="/travel-information/safety/report-it-to-stop-it?intcmp=43692" >
        
        
        <div class="text-link">
             <h2>Report it to stop it</h2>
            <p>Text or phone to report unwanted sexual behaviour. Find out more</p>
        </div>
    </a>
</div>
 
 
                </div>
        
        
        
          
        
    </div>
    
      
      <div class="aside" role="complementary">
    
        <div data-set="sidenav-container" class="large">
          
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
 
 
 
 
 
 
                <a href="/travel-information/safety/index" class="heading">
                    <h2 id="sub-menu-heading">Safety<span class="visually-hidden"> navigation</span></h2>
                </a>
                <ul>
                    
                                <li><div class="link-wrapper"><a href="/travel-information/safety/staying-safe">Staying safe</a></div></li>
                            
 
                                <li class="selected parent"><div class="link-wrapper"><a href="/travel-information/safety/report-a-crime-or-incident">Report a crime or incident</a></div>
                                <ul>
                                    
                                        <li class="selected parent"><div class="link-wrapper"><a href="/travel-information/safety/report-it-to-stop-it">Report it to stop it</a></div>
                                        <ul>
                                            
                                        <li><div class="link-wrapper"><a href="/travel-information/safety/what-happens-next">What happens next</a></div></li>
                                    
 
                                                <li class="selected"><div class="link-wrapper"><a href="/travel-information/safety/misconceptions">Misconceptions</a></div>
                                            
 
                                        <li><div class="link-wrapper"><a href="/travel-information/safety/why-report">Why report</a></div></li>
                                    
 
                                        </ul>
                                    </li>
 
                                </ul>
                            </li>
 
                                <li class="parent"><div class="link-wrapper"><a href="/travel-information/safety/road-safety-advice">Road safety advice</a></div></li>
                            
 
                </ul>
            
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>
        <div class="module-grid clearfix">
          
























<div class="advert-tile unsponsored-style google-ads" aria-hidden="true">
  <div class="advert-link">
    <div class="advert-content">
        <div class="medium-large" data-advert="/76889402/safety" data-advert-sizes="300, 250"></div>
        <div class="small" data-advert="/76889402/safety" data-advert-sizes="300, 250"></div>
    </div>
  </div>
</div>
@{
    ViewBag.AmazonSlot = "'amznslots'";
    ViewBag.AmazonAds = "'3199'"; // to add another value, this needs to be ViewBag.AmazonAds = "'3199','xx'";
}
      

 
          <div class="related-links">

    <h3>Related websites</h3>

<div class="vertical-button-container">

<a href="http://www.endviolenceagainstwomen.org.uk/" class="plain-button">End Violence Against Women</a>
<a href="http://www.suzylamplugh.org/" class="plain-button">Suzy Lamplugh Trust</a>
<a href="https://crimestoppers-uk.org/" class="plain-button">Crimestoppers</a>
<a href="http://everydaysexism.com/" class="plain-button">Everyday Sexism</a>
<a href="https://ldn.ihollaback.org/" class="plain-button">Hollaback! London</a>
    </div>
</div>
 
        </div>
        <div data-set="sidenav-container" class="small-medium"></div>
      </div>
  </div>
 
        
        
        
            @{ViewBag.Description = "People often make incorrect assumptions about reporting that put them off taking action";}
        
            
        


 