
    
  



@{ViewBag.Title = "Report a crime or incident";}
@{ViewBag.Keywords = "Public,Buses,London Overground,Rail,Taxis and minicabs,Tube,TfL";}
@{ViewBag.Url = "/travel-information/safety/report-a-crime-or-incident";}
@{ViewBag.Language = "en";}
        <!-- empty placeholder -->
 
        
        
<div class="r">
    <div class="breadcrumb-container" role="navigation">
        <span id="breadcrumb-label" class="visually-hidden">You are here:</span>
        <ol class="breadcrumbs clearfix" aria-labelledby="breadcrumb-label">
            <li class="home">
                <a href="/">
                    <span class="hide-text">Home</span>
                </a>
            </li>
            
                 <li><a href="/travel-information/safety/index">Safety</a></li>
                
            
            
                <li><span class="last-breadcrumb">Report a crime or incident</span></li>
            
        
 
        
 
        </ol>
    </div>
</div>
     
 
<div class="r">
  <div class="headline-container plain">
    <h1>Report a crime or incident</h1>

  </div>
</div>
<div class="main-and-aside r">
  
  <div class="main content-container" role="main">
    
      <div class="article-teaser">
        If you have been a victim of a crime on the transport system, or experienced antisocial behaviour, you should report it to the police. 
        
      </div>
    
    <div class="on-this-page">
      
    
      
           
      <div>

<h2>Emergencies</h2>

<p>In an emergency:</p>

<ul>
	<li>Call the police on <strong>999</strong></li>
	<li>Speak to the nearest member of staff</li>
	<li>Use the passenger alarm</li>
</ul>

<h2>Reporting a crime</h2>

<p>To report a crime on the transport network:</p>

<ul>
	<li>Call the police on <strong>101</strong></li>
	<li>For Tube and rail, you can also text what happened, where and when, to 61016</li>
	<li>Also, you can <a href="https://online.met.police.uk/">report some crimes - such as theft, criminal damage and hate crime - online</a></li>
</ul>

<h2>Terrorism or suspicious activity</h2>

<p>To report possible terrorist activity:</p>

<ul>
	<li>Call the confidential hotline on&nbsp;<strong>0800 789 321</strong></li>
	<li>Report online to the <a href="https://beta.met.police.uk/tell-us-about/possible-terrorist-activity/">Met Police</a></li>
	<li>Give information anonymously via <a href="https://crimestoppers-uk.org/">CrimeStoppers</a></li>
</ul>

<h2>Hate crime</h2>

<p>A hate crime is&nbsp;<a href="http://www.btp.police.uk/safety_on_the_railway/keeping_yourself_safe/hate_crime.aspx">defined by the British Transport Police</a>&nbsp;as when someone <a href="http://www.btp.police.uk/safety_on_the_railway/keeping_yourself_safe/hate_crime.aspx">commits a crime</a> against you because of your:</p>

<ul>
	<li>race</li>
	<li>religion</li>
	<li>sexual orientation</li>
	<li>gender identity</li>
	<li>disability</li>
</ul>

<p>We understand that you might not feel comfortable talking to the police about what happened.<br />
<a href="http://www.report-it.org.uk/home">You can submit reports anonymously via True Vision - Report It</a>.</p>

<p>In addition, you can report hate crime to some of the organisations who support affected communities, including:</p>

<ul>
	<li><a href="https://www.stophateuk.org/">Stop Hate UK</a>, for all hate crime</li>
	<li><a href="https://tellmamauk.org">Tell MAMA</a>, for anti-Muslim hate crime</li>
	<li><a href="https://cst.org.uk/">Community Security Trust</a>, for anti-Semitic hate crime</li>
	<li><a href="http://www.galop.org.uk/">GALOP</a>, for anti-LGBT+ hate crime</li>
</ul>

<p><a href="https://www.met.police.uk/advice/advice-and-information/hco/hate-crime/how-to-report-hate-crime/">Find out more about how to report hate crime.</a> Remember, you don't have to be the victim of hate crime to report it. You can report anything you've seen happening to someone else, or report it on their behalf if they don't want to.</p>

<h2>Contact us</h2>

<p>Let&nbsp;us know about safety and security issues online using our online reporting forms:</p>

<ul>
	<li><a href="/help-and-contact/report-criminal-damage-or-antisocial-behaviour">Report criminal damage or antisocial behaviour</a></li>
	<li><a href="/help-and-contact/reporting-touting-and-illegal-cabs">Touting and illegal cab activity</a></li>
</ul>

<p>For more help and ways to contact us:</p>

<ul>
	<li><a href="/help-and-contact/index">Visit our Help and contacts page</a></li>
	<li><a href="/help-and-contact/lost-property">Report lost property</a></li>
</ul>

<h2>CCTV evidence</h2>

<p>It's important that you report a crime or incident on the transport system as soon as possible. Images captured by CCTV are only kept for a limited time period. Find out more about <a href="/corporate/privacy-and-cookies/cctv#retention">how long we keep personal data</a>.</p>
</div>
 
      
        
          
            @this.ScriptBlock(
              @<script>
                queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
              </script>
            )
          
        
      
    </div>
  </div>
  <div class="aside" role="complementary">

   
    
    
    
      <div data-set="sidenav-container" class="large">
        
        
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
 
 
 
 
 
 
                <a href="/travel-information/safety/index" class="heading">
                    <h2 id="sub-menu-heading">Safety<span class="visually-hidden"> navigation</span></h2>
                </a>
                <ul>
                    
                                <li><div class="link-wrapper"><a href="/travel-information/safety/staying-safe">Staying safe</a></div></li>
                            
 
                                <li class="selected parent"><div class="link-wrapper"><a href="/travel-information/safety/report-a-crime-or-incident">Report a crime or incident</a></div>
                                <ul>
                                    
                                <li class="parent"><div class="link-wrapper"><a href="/travel-information/safety/report-it-to-stop-it">Report it to stop it</a></div></li>
                            
 
                                </ul>
                            </li>
 
                                <li class="parent"><div class="link-wrapper"><a href="/travel-information/safety/road-safety-advice">Road safety advice</a></div></li>
                            
 
                </ul>
            
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
      </div>
    
    <div>
















<div class="advert-tile unsponsored-style google-ads" aria-hidden="true">
  <div class="advert-link">
    <div class="advert-content">
        <div class="medium-large" data-advert="/76889402/safety" data-advert-sizes="300, 250"></div>
        <div class="small" data-advert="/76889402/safety" data-advert-sizes="300, 250"></div>
    </div>
  </div>
</div>
@{
    ViewBag.AmazonSlot = "'amznslots'";
    ViewBag.AmazonAds = "'3199'"; // to add another value, this needs to be ViewBag.AmazonAds = "'3199','xx'";
}
      

 </div>
    
      <div class="module-grid clearfix">
                    
        <div>
    
    <div class="contact-info-box">
        <div class="contact-info-header">
            <h3>Contact us about safety issues</h3>
        </div>
                                                         
        <div class="content-group">
            We're open 24 hours a day, 7 days a week.
        </div>
        
        
            
        
        
            
                
                 
        
        
        
        <div class="content-group">
            <p>
                <abbr title="Telephone number">Call</abbr>&nbsp;<a href="/corporate/terms-and-conditions/tfl-call-charges">Charges apply</a><br />
                0343 222 1234
            </p>
        </div>
        
        
        <div class="content-group">
            <p>
                <abbr title="Textphone">Textphone</abbr><br />
                0800 112 3456
            </p>
        </div>
        
        
        <div class="content-group">
            <p>
                <abbr title="Address">Write</abbr>
            </p>
            <p>Use our <a href="/help-and-contact/index">Enquiries and complaints forms</a> to report a safety incident online. </p>
<p>Or send a letter to:</p>
        </div>
        
        
        <div class="content-group">
            TfL Customer Service<br /> 4th Floor<br /> 14 Pier Walk<br /> London SE10 0ES
        </div>
        
    </div>
</div>
 <div class="related-links">

    <h3>Also on this site</h3>

<div class="vertical-button-container">

<a href="/corporate/privacy-and-cookies/cctv" class="plain-button">Surveillance cameras</a>
<a href="/corporate/safety-and-security/index" class="plain-button">Safety &amp; security</a>
<a href="/corporate/useful-contacts/index" class="plain-button">Useful contacts</a>
    </div>
</div>
 
      </div>
    
    <div data-set="sidenav-container" class="small-medium"></div>
  </div>
</div>
 
 
        
        
        
            @{ViewBag.Description = "How to report crime or antisocial behaviour on public transport in London";}
        
            
        


 