
    
  



@{ViewBag.Title = "Staying safe and secure";}
@{ViewBag.Keywords = "TfL";}
@{ViewBag.Url = "/travel-information/safety/staying-safe";}
@{ViewBag.Language = "en";}
        <!-- empty placeholder -->
 
        
        
<div class="r">
    <div class="breadcrumb-container" role="navigation">
        <span id="breadcrumb-label" class="visually-hidden">You are here:</span>
        <ol class="breadcrumbs clearfix" aria-labelledby="breadcrumb-label">
            <li class="home">
                <a href="/">
                    <span class="hide-text">Home</span>
                </a>
            </li>
            
                 <li><a href="/travel-information/safety/index">Safety</a></li>
                
            
            
                <li><span class="last-breadcrumb">Staying safe and secure</span></li>
            
        
 
        
 
        </ol>
    </div>
</div>
     
 
<div class="r">
  <div class="headline-container plain">
    <h1>Staying safe and secure</h1>

  </div>
</div>
<div class="main-and-aside r">
  
  <div class="main content-container" role="main">
    
      <div class="article-teaser">
        We take security very seriously and work closely with our policing partners to keep travelling in London safe and secure.
        
      </div>
    
    <div class="on-this-page">
      
      
           
      <div>

<h2>Policing the transport network</h2>

<p>We fund over 2,000 officers across the Metropolitan Police Service (MPS), British Transport Police (BTP) and the City of London Police (CoLP). They police London's transport network to tackle crime and antisocial behaviour, and keep you safe when travelling in London.</p>

<p>You may at times see armed police officers patrolling our services, or officers assisted by trained police dogs to help detect illegal materials and substances.</p>

<p>We also have comprehensive CCTV coverage across our network to ensure it remains a low-crime environment and all our staff are trained to respond to reports of unattended items, unusual activity and have the capability to contact our control rooms and the police easily.</p>

<p>Follow these tips to help keep us safe and secure whilst travelling in London.</p>

<h2>Reporting - See It. Say It. Sorted.</h2>

<p>Help to keep yourselves and others safe by reporting any unattended items or suspicious behaviour. Find about more about this on the <a href="http://www.btp.police.uk/safety_on_the_railway/keeping_yourself_safe/vigilance.aspx">British Transport Police</a> website.</p>

<p>Examples of suspicious behaviour could include someone who appears to be carrying out surveillance, by taking photos of our security arrangements.</p>

<p>Do not leave it to someone else to report:</p>

<ul>
	<li>Tell a police officer or member of staff</li>
	<li>Text the British Transport Police on 61016</li>
	<li>In an emergency always call 999</li>
</ul>

<p>Both the Police and TfL take your information seriously and we will check all reports thoroughly.</p>

<p>Find more information on<a href="/travel-information/safety/report-a-crime-or-incident"> reporting incidents</a> on the network..</p>

<p>Remember - See it. Say it. Sorted.</p>

<h2>Your belongings</h2>

<p>Don't leave your belongings unattended at any point during your journey. Keep your bags zipped and keep your phone, wallet and purse out of sight and valuables secure.</p>

<h2>Plan your journey</h2>

<p>Make sure you <a href="https://tfl.gov.uk/plan-a-journey/">plan your journey</a> in advance and, if using a taxi or minicab, make sure they are licensed. Only black taxis can be hailed in the street; minicabs must be booked direct with a licensed operator by phone, app, or at a minicab office. Find out more about our <a href="https://tfl.gov.uk/campaign/safer-travel?cid=safer-travel">Safer Travel</a> campaign.</p>
</div>
 
      
        
          
            @this.ScriptBlock(
              @<script>
                queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
              </script>
            )
          
        
      
    </div>
  </div>
  <div class="aside" role="complementary">

   
    
    
    
      <div data-set="sidenav-container" class="large">
        
        
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
 
 
 
 
 
 
                <a href="/travel-information/safety/index" class="heading">
                    <h2 id="sub-menu-heading">Safety<span class="visually-hidden"> navigation</span></h2>
                </a>
                <ul>
                    
                                <li class="selected"><div class="link-wrapper"><a href="/travel-information/safety/staying-safe">Staying safe</a></div>
                            </li>
 
                                <li class="parent"><div class="link-wrapper"><a href="/travel-information/safety/report-a-crime-or-incident">Report a crime or incident</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/travel-information/safety/road-safety-advice">Road safety advice</a></div></li>
                            
 
                </ul>
            
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
      </div>
    
    <div>
















<div class="advert-tile unsponsored-style google-ads" aria-hidden="true">
  <div class="advert-link">
    <div class="advert-content">
        <div class="medium-large" data-advert="/76889402/safety" data-advert-sizes="300, 250"></div>
        <div class="small" data-advert="/76889402/safety" data-advert-sizes="300, 250"></div>
    </div>
  </div>
</div>
@{
    ViewBag.AmazonSlot = "'amznslots'";
    ViewBag.AmazonAds = "'3199'"; // to add another value, this needs to be ViewBag.AmazonAds = "'3199','xx'";
}
      

 </div>
    
      <div class="module-grid clearfix">
                    
        <div>
    
    <div class="contact-info-box">
        <div class="contact-info-header">
            <h3>Contact us about safety issues</h3>
        </div>
                                                         
        <div class="content-group">
            We're open 24 hours a day, 7 days a week.
        </div>
        
        
            
        
        
            
                
                 
        
        
        
        <div class="content-group">
            <p>
                <abbr title="Telephone number">Call</abbr>&nbsp;<a href="/corporate/terms-and-conditions/tfl-call-charges">Charges apply</a><br />
                0343 222 1234
            </p>
        </div>
        
        
        <div class="content-group">
            <p>
                <abbr title="Textphone">Textphone</abbr><br />
                0800 112 3456
            </p>
        </div>
        
        
        <div class="content-group">
            <p>
                <abbr title="Address">Write</abbr>
            </p>
            <p>Use our <a href="/help-and-contact/index">Enquiries and complaints forms</a> to report a safety incident online. </p>
<p>Or send a letter to:</p>
        </div>
        
        
        <div class="content-group">
            TfL Customer Service<br /> 4th Floor<br /> 14 Pier Walk<br /> London SE10 0ES
        </div>
        
    </div>
</div>
 <div class="related-links">

    <h3>Also on this site</h3>

<div class="vertical-button-container">

<a href="/corporate/safety-and-security/index" class="plain-button">Safety &amp; security</a>
<a href="/modes/buses/live-bus-arrivals" class="plain-button">Live bus arrivals</a>
<a href="/modes/cycling/cycle-parking" class="plain-button">Cycle parking</a>
<a href="/modes/taxis-and-minicabs/book-a-taxi" class="plain-button">Book a taxi or a minicab</a>
    </div>
</div>
 
      </div>
    
    <div data-set="sidenav-container" class="small-medium"></div>
  </div>
</div>
 
 
        
        
        
            @{ViewBag.Description = "Tips for travelling on buses, trains, taxis and minicabs or by bike";}
        
            
        


 