
    
  



@{ViewBag.Title = "What happens next";}
@{ViewBag.Keywords = "TfL";}
@{ViewBag.Url = "/travel-information/safety/what-happens-next";}
@{ViewBag.Language = "en";}
        <!-- empty placeholder -->
 
        
        

  <div class="section-image-container medium-large" data-highlight-image="/cdn/static/cms/images/promos/what-happens-next.jpg" data-highlight-for=".section-image-container" data-highlight-size="medium-large" style="background-image: url(/cdn/static/cms/images/promos/what-happens-next.jpg)"> </div>

<div class="r">
    <div class="breadcrumb-container" role="navigation">
        <span id="breadcrumb-label" class="visually-hidden">You are here:</span>
        <ol class="breadcrumbs clearfix" aria-labelledby="breadcrumb-label">
            <li class="home">
                <a href="/">
                    <span class="hide-text">Home</span>
                </a>
            </li>
            
                 <li><a href="/travel-information/safety/index">Safety</a></li>
                
            
                 <li><a href="/travel-information/safety/report-a-crime-or-incident">Report a crime or incident</a></li>
                
            
                 <li><a href="/travel-information/safety/report-it-to-stop-it">Report it to stop it</a></li>
                
            
            
                <li><span class="last-breadcrumb">What happens next</span></li>
            
        
 
        
 
        
 
        
 
        </ol>
    </div>
</div>
     
 

  
  <div class="r">
    <div class="headline-container section-title section-landing-container ">
      <div class="section-title-wrap">
        <h1 class="hero-headline">What happens next</h1>
        
      </div>
    </div>
  </div>


  
  
    
  


    
    <div class="r">
        <div class="section-overview clearfix ">
            <div class="small-medium" data-set="section-intro"></div>
            <div class="main">
                <div class="large" data-set="section-intro">
                    
                </div>
                Once you've reported, your assigned officer will be there to help you through the whole process.
            </div>
            
            <div class="aside">
                
                <div>

<h3>Text 61016 or call 101 <small>*</small></h3>
</div>
 
                
            </div>
            
        </div>
    </div>
    
   
    <div class="r">
        <div class="main clearfix" role="main">
            
        
        
         
        
        
        
                
                <div class="clearfix">
                    <div>

<h3>Giving a statement</h3>
<p>If you want us to investigate what happened to you, you'll need to give us a statement. You don't have to go to a police station. We can visit you where you feel most comfortable. It could be at home, school or work. We can discuss beforehand if the officer who takes the statement wears uniform or plain clothes.</p>
<h3>Follow up meetings</h3>
<p>If we find and charge the offender, you may need to make further statements and come to the police station for an identification process. We will support you throughout this process.</p>
<h3>Going to court</h3>
<p>If the offender is charged and pleads not guilty, there will be a hearing. You may be called to give evidence. We will support you through the process.</p>
<h3>Telling your parents / partner</h3>
<p>We won't tell them but it's best if you do. If you're under 18, you'll need a guardian with you when you make a statement. They will be required to sign it and provide contact details so we can contact you and them in future. If you don't want to make a statement, you don't have to. We can still use the information you have given us to help us tackle unwanted sexual behaviour. But giving a statement can help us identify and catch offenders, and prevent others from experiencing unwanted sexual behaviour.</p>
<h3>If the offender is caught</h3>
<p>The police or the Crown Prosecution Service will decide if the person should be charged with an offence or offences. If they are, they will have to appear at court and plead guilty or not guilty. If they plead not guilty, the case will go to trial and you may have to give evidence against them.</p>
<h3>Changing your mind</h3>
<p>It's fine to change your mind. We would encourage you to make a report but we can still use the information you have given us to help us tackle unwanted sexual behaviour. If you change your mind after making a statement, there is a risk the court proceedings could be stopped. It would depend what stage the proceedings are at. They could be stopped all together, continue without your evidence, or you might be required to give evidence in court.</p>
</div>
 <div>

<h3>Text 61016 or call 101 <small>*</small></h3>
</div>
 <div>

* Your mobile service provider may issue a small charge
</div>
 
                </div>
                <hr>
                
                
                <div class="module-grid clearfix">
                    
                    
                    
                    <div class="news-teaser">

    <a href="/travel-information/safety/misconceptions?intcmp=45761" >
        
        
        <div class="text-link">
             <h2>Misconceptions</h2>
            <p>Don't let incorrect assumptions put you off reporting. Find out more</p>
        </div>
    </a>
</div>
 
 <div class="news-teaser">

    <a href="/travel-information/safety/why-report?intcmp=45763" >
        
        
        <div class="text-link">
             <h2>Why report</h2>
            <p>Your information can help us to catch offenders, and prevent future incidents</p>
        </div>
    </a>
</div>
 
 <div class="news-teaser">

    <a href="/travel-information/safety/report-it-to-stop-it?intcmp=43692" >
        
        
        <div class="text-link">
             <h2>Report it to stop it</h2>
            <p>Text or phone to report unwanted sexual behaviour. Find out more</p>
        </div>
    </a>
</div>
 
 
                </div>
        
        
        
          
        
    </div>
    
      
      <div class="aside" role="complementary">
    
        <div data-set="sidenav-container" class="large">
          
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
 
 
 
 
 
 
                <a href="/travel-information/safety/index" class="heading">
                    <h2 id="sub-menu-heading">Safety<span class="visually-hidden"> navigation</span></h2>
                </a>
                <ul>
                    
                                <li><div class="link-wrapper"><a href="/travel-information/safety/staying-safe">Staying safe</a></div></li>
                            
 
                                <li class="selected parent"><div class="link-wrapper"><a href="/travel-information/safety/report-a-crime-or-incident">Report a crime or incident</a></div>
                                <ul>
                                    
                                        <li class="selected parent"><div class="link-wrapper"><a href="/travel-information/safety/report-it-to-stop-it">Report it to stop it</a></div>
                                        <ul>
                                            
                                                <li class="selected"><div class="link-wrapper"><a href="/travel-information/safety/what-happens-next">What happens next</a></div>
                                            
 
                                        <li><div class="link-wrapper"><a href="/travel-information/safety/misconceptions">Misconceptions</a></div></li>
                                    
 
                                        <li><div class="link-wrapper"><a href="/travel-information/safety/why-report">Why report</a></div></li>
                                    
 
                                        </ul>
                                    </li>
 
                                </ul>
                            </li>
 
                                <li class="parent"><div class="link-wrapper"><a href="/travel-information/safety/road-safety-advice">Road safety advice</a></div></li>
                            
 
                </ul>
            
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>
        <div class="module-grid clearfix">
          
























<div class="advert-tile unsponsored-style google-ads" aria-hidden="true">
  <div class="advert-link">
    <div class="advert-content">
        <div class="medium-large" data-advert="/76889402/safety" data-advert-sizes="300, 250"></div>
        <div class="small" data-advert="/76889402/safety" data-advert-sizes="300, 250"></div>
    </div>
  </div>
</div>
@{
    ViewBag.AmazonSlot = "'amznslots'";
    ViewBag.AmazonAds = "'3199'"; // to add another value, this needs to be ViewBag.AmazonAds = "'3199','xx'";
}
      

 
          <div class="related-links">

    <h3>Related websites</h3>

<div class="vertical-button-container">

<a href="http://www.endviolenceagainstwomen.org.uk/" class="plain-button">End Violence Against Women</a>
<a href="http://www.suzylamplugh.org/" class="plain-button">Suzy Lamplugh Trust</a>
<a href="https://crimestoppers-uk.org/" class="plain-button">Crimestoppers</a>
<a href="http://everydaysexism.com/" class="plain-button">Everyday Sexism</a>
<a href="https://ldn.ihollaback.org/" class="plain-button">Hollaback! London</a>
    </div>
</div>
 
        </div>
        <div data-set="sidenav-container" class="small-medium"></div>
      </div>
  </div>
 
        
        
        
            @{ViewBag.Description = "Once you've reported, your assigned officer will help you through the whole process";}
        
            
        


 