
    
  



@{ViewBag.Title = "Why report";}
@{ViewBag.Keywords = "TfL";}
@{ViewBag.Url = "/travel-information/safety/why-report";}
@{ViewBag.Language = "en";}
        <!-- empty placeholder -->
 
        
        

  <div class="section-image-container medium-large" data-highlight-image="/cdn/static/cms/images/promos/report-it-to-stop-it.jpg" data-highlight-for=".section-image-container" data-highlight-size="medium-large" style="background-image: url(/cdn/static/cms/images/promos/report-it-to-stop-it.jpg)"> </div>

<div class="r">
    <div class="breadcrumb-container" role="navigation">
        <span id="breadcrumb-label" class="visually-hidden">You are here:</span>
        <ol class="breadcrumbs clearfix" aria-labelledby="breadcrumb-label">
            <li class="home">
                <a href="/">
                    <span class="hide-text">Home</span>
                </a>
            </li>
            
                 <li><a href="/travel-information/safety/index">Safety</a></li>
                
            
                 <li><a href="/travel-information/safety/report-a-crime-or-incident">Report a crime or incident</a></li>
                
            
                 <li><a href="/travel-information/safety/report-it-to-stop-it">Report it to stop it</a></li>
                
            
            
                <li><span class="last-breadcrumb">Why report</span></li>
            
        
 
        
 
        
 
        
 
        </ol>
    </div>
</div>
     
 

  
  <div class="r">
    <div class="headline-container section-title section-landing-container ">
      <div class="section-title-wrap">
        <h1 class="hero-headline">Why report</h1>
        
      </div>
    </div>
  </div>


  
  
    
  


    
    <div class="r">
        <div class="section-overview clearfix ">
            <div class="small-medium" data-set="section-intro"></div>
            <div class="main">
                <div class="large" data-set="section-intro">
                    
                </div>
                We understand that if you experience unwanted sexual behaviour, you might want to forget about it and move on. You're not alone, over 90% of people don't report.
            </div>
            
            <div class="aside">
                
                <div>

<h2>Text 61016 or call 101 *</h2>
</div>
 
                
            </div>
            
        </div>
    </div>
    
   
    <div class="r">
        <div class="main clearfix" role="main">
            
        
        
         
        
        
        
                
                <div class="clearfix">
                    <div>

<h3>Reporting can help us stop it from happening</h3>
<p>No incident is too small or trivial. Our officers are trained to deal with these sort of cases. You will always be taken seriously and we will treat you with respect and dignity.</p>
<h3>Help us stop the offenders</h3>
<p>We have thousands of officers trained and able to deal with unwanted sexual behaviour. We use your information, as well as CCTV and witness accounts, to help us identify and stop those responsible. There is often a pattern to offenders' behaviour, so your information could lead to an arrest when added to other reports. We can send uniformed or plainclothed police officers to locations with multiple reports to prevent offences before they happen. </p>
<p>You might feel that the offence was too minor to report, but we take all incidents seriously.</p>
<h3>Successes so far</h3>
<p>In the first year of the campaign , reports of unwanted sexual behaviour on public transport increased by 33% compared to the previous year and arrests increased by 36%.</p>
</div>
 <div>

<h2>Text 61016 or call 101 *</h2>
</div>
 <div>

* Your mobile service provider may issue a small charge
</div>
 
                </div>
                <hr>
                
                
                <div class="module-grid clearfix">
                    
                    
                    
                    <div class="news-teaser">

    <a href="/travel-information/safety/what-happens-next?intcmp=45759" >
        
        
        <div class="text-link">
             <h2>What happens next</h2>
            <p>Once you've reported, your assigned officer will help you through the whole process</p>
        </div>
    </a>
</div>
 
 <div class="news-teaser">

    <a href="/travel-information/safety/misconceptions?intcmp=45761" >
        
        
        <div class="text-link">
             <h2>Misconceptions</h2>
            <p>Don't let incorrect assumptions put you off reporting. Find out more</p>
        </div>
    </a>
</div>
 
 <div class="news-teaser">

    <a href="/travel-information/safety/report-it-to-stop-it?intcmp=43692" >
        
        
        <div class="text-link">
             <h2>Report it to stop it</h2>
            <p>Text or phone to report unwanted sexual behaviour. Find out more</p>
        </div>
    </a>
</div>
 
 
                </div>
        
        
        
          
        
    </div>
    
      
      <div class="aside" role="complementary">
    
        <div data-set="sidenav-container" class="large">
          
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
 
 
 
 
 
 
                <a href="/travel-information/safety/index" class="heading">
                    <h2 id="sub-menu-heading">Safety<span class="visually-hidden"> navigation</span></h2>
                </a>
                <ul>
                    
                                <li><div class="link-wrapper"><a href="/travel-information/safety/staying-safe">Staying safe</a></div></li>
                            
 
                                <li class="selected parent"><div class="link-wrapper"><a href="/travel-information/safety/report-a-crime-or-incident">Report a crime or incident</a></div>
                                <ul>
                                    
                                        <li class="selected parent"><div class="link-wrapper"><a href="/travel-information/safety/report-it-to-stop-it">Report it to stop it</a></div>
                                        <ul>
                                            
                                        <li><div class="link-wrapper"><a href="/travel-information/safety/what-happens-next">What happens next</a></div></li>
                                    
 
                                        <li><div class="link-wrapper"><a href="/travel-information/safety/misconceptions">Misconceptions</a></div></li>
                                    
 
                                                <li class="selected"><div class="link-wrapper"><a href="/travel-information/safety/why-report">Why report</a></div>
                                            
 
                                        </ul>
                                    </li>
 
                                </ul>
                            </li>
 
                                <li class="parent"><div class="link-wrapper"><a href="/travel-information/safety/road-safety-advice">Road safety advice</a></div></li>
                            
 
                </ul>
            
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>
        <div class="module-grid clearfix">
          
























<div class="advert-tile unsponsored-style google-ads" aria-hidden="true">
  <div class="advert-link">
    <div class="advert-content">
        <div class="medium-large" data-advert="/76889402/safety" data-advert-sizes="300, 250"></div>
        <div class="small" data-advert="/76889402/safety" data-advert-sizes="300, 250"></div>
    </div>
  </div>
</div>
@{
    ViewBag.AmazonSlot = "'amznslots'";
    ViewBag.AmazonAds = "'3199'"; // to add another value, this needs to be ViewBag.AmazonAds = "'3199','xx'";
}
      

 
          <div class="related-links">

    <h3>Related websites</h3>

<div class="vertical-button-container">

<a href="http://www.endviolenceagainstwomen.org.uk/" class="plain-button">End Violence Against Women</a>
<a href="http://www.suzylamplugh.org/" class="plain-button">Suzy Lamplugh Trust</a>
<a href="https://crimestoppers-uk.org/" class="plain-button">Crimestoppers</a>
<a href="http://everydaysexism.com/" class="plain-button">Everyday Sexism</a>
<a href="https://ldn.ihollaback.org/" class="plain-button">Hollaback! London</a>
    </div>
</div>
 
        </div>
        <div data-set="sidenav-container" class="small-medium"></div>
      </div>
  </div>
 
        
        
        
            @{ViewBag.Description = "Reporting sexual assault can help us catch offenders and prevent future incidents.";}
        
            
        


 