


@{ViewBag.Title = "London's river services ride a wave of success as the new autumn/winter guide is launched";}
        
        
<div class="r">
    <div class="breadcrumb-container" role="navigation">
        <span id="breadcrumb-label" class="visually-hidden">You are here:</span>
        <ol class="breadcrumbs clearfix" aria-labelledby="breadcrumb-label">
            <li class="home">
                <a href="/">
                    <span class="hide-text">Home</span>
                </a>
            </li>
            
                <li>
                    <a href="/info-for/media/index">Media</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases">Press releases</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases/2013">2013</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases/2013/november">November</a>
                </li>
                
                <li>
                    <span class="last-breadcrumb">London's river services ride a wave of success as the new autumn/winter guide is launched</span>
                </li>
            
 
            
 
            
 
            
 
            
 
        </ul>
    </div>
</div>
     
 
<div class="r">
    <div class="headline-container plain">
        <h1>London's river services ride a wave of success as the new autumn/winter guide is launched</h1>
        <div class="content-page-press-release">
        07 November 2013
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">



 <div class="on-this-page">
<div class="pullquote right">
                        <p>
                            The Thames is a readymade transport artery which people have been using for thousands of years and it's fantastic to see that so many more Londoners and visitors are using it to get around our great city. 
                            
                        </p>
                    </div>
                
            
            
            <p>As Transport for London, River Bus and River Tour operators get ship-shape in readiness for the autumn and winter with the launch of an updated river services guide, new passenger journey figures for spring and summer reveal the popularity of river travel is at an all time high.</p>
<p>Nearly five million passengers in the six month period from April to September was the highest number since London River Services was formed in 1999, showing real progress is being made towards the Mayor's target of 12 million passenger journeys a year by 2020.</p>
<p>The Mayor of London, Boris Johnson said:&nbsp;'The Thames is a readymade transport artery which people have been using for thousands of years and it's fantastic to see that so many more Londoners and visitors are using it to get around our great city. </p>
<p>'We are investing many millions in our river services so that they can continue to attract record numbers and remain a vital part of our transport network well into the future.'</p>
<p>To help maintain this momentum, the updated guide highlights the services and activities that continue to operate all year round on the River Thames. </p>
<p>So whether it's your daily commute on a fast and frequent River Bus service or a more leisurely trip on a River Tour, you can continue to enjoy it from the warmth and comfort of the many boats that offer a truly unique perspective of the Capital.</p>
<p>Andy Thompson, General Manager for London River Services, said: 'The River Thames is one of London's greatest assets so I am so pleased that more and more Londoners and visitors to our city are making the most of the River Bus and River Tours that are available.&nbsp; </p>
<p>'With ambitious plans over the next seven years I look forward to these services going from strength to strength and attracting more people on to the river.'</p>
<p>The Mayor and Transport for London have committed to boost the number of river journeys on the Thames.&nbsp; </p>
<h3>River Action Plan</h3>
<p>&nbsp;</p>
<p>In February this year the River Action Plan was published that set out a raft of &pound;10m worth of improvements designed to increase the number of passenger journeys to 12 million by 2020.&nbsp; </p>
<p>This plan has already helped deliver an enhanced Putney to Blackfriars River Bus service with more sailings, calling at more piers, to meet a 130 per cent increase in passenger demand on this route.&nbsp; </p>
<p>TfL plan to deliver better information at London's piers has begun with the introduction of real time boat arrival information, called iBoat, meaning passengers can now more easily plan and time their river journeys.&nbsp; </p>
<p>Future plans include adding new piers to the river services network, in locations such as Battersea in the west of London and Enderby Wharf in East Greenwich. </p>
<p>Specialist marine consulting engineers are also studying Bankside, Embankment and Westminster piers to unlock additional capacity to accommodate continued growth in demand for river services.&nbsp; These are just some of the initiatives that form part of the Mayor's River Action Plan.&nbsp; </p>
<p>
<hr>
<strong>Notes to editors: <br></strong>
<ul>
<li>For more information on London's river services, visit <a href="http://www.tfl.gov.uk/river">tfl.gov.uk/river</a> or pick up one of the new guides from some London River Services' piers, London Underground stations and Transport for London Travel Information Centres </li>
<li>There is a third off standard adult and child fares on most river services for passengers with valid Travelcards. Oyster is accepted on River Bus services meaning passengers may prefer to use 'pay as you go' to pay for their fare and receive a ten per cent discount on most River Bus services.&nbsp; For regular passengers there is a range of competitive season tickets available on a weekly, monthly and yearly basis </li>
<li>London River Services is responsible for managing eight piers on the river: Westminster, Festival, Embankment, Millbank, Blackfriars, Bankside, Tower and Greenwich </li>
<li>All London River Services piers are step-free at all states of the tide, allowing access for mobility impaired passengers.&nbsp; Most river boats are accessible - passengers should contact boat operators for comprehensive accessibility information when planning their journeys.&nbsp; The relevant contact information is included in the new guide and is available at <a href="http://www.tfl.gov.uk/river">tfl.gov.uk/river</a> </li>
<li>The Mayor's River Action Plan is published here: <a href="http://www.tfl.gov.uk/assets/downloads/river-action-plan.pdf">tfl.gov.uk/assets/downloads/river-action-plan.pdf</a>&nbsp;&nbsp; </li></ul>
<p>
<p><br>&nbsp;</p>
<p>&nbsp;</p>
<p><br>&nbsp;</p>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
                <a href="/info-for/media/index" class="heading">
                    <h2 id="sub-menu-heading">Media<span class="visually-hidden"> navigation</span></h2>
                </a>
                <ul>
                    
                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases">Press releases</a></div>
                                <ul>
                                    
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2020">2020</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019">2019</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018">2018</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017">2017</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016">2016</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015">2015</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014">2014</a></div></li>
                            
 
                                        <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2013">2013</a></div>
                                        <ul>
                                            
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2013/15890">December</a></div></li>
                                    
 
                                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2013/november">November</a></div>
                                                <ul>
                                                    
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
                                                </ul>
                                            
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2013/october">October</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2013/september">September</a></div></li>
                                    
 
                                        <li><div class="link-wrapper"><a href="/info-for/media/press-releases/2013/august">August</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2013/july">July</a></div></li>
                                    
 
                                        <li><div class="link-wrapper"><a href="/info-for/media/press-releases/2013/june">June</a></div></li>
                                    
 
                                        <li><div class="link-wrapper"><a href="/info-for/media/press-releases/2013/16598">May</a></div></li>
                                    
 
                                        <li><div class="link-wrapper"><a href="/info-for/media/press-releases/2013/16698">April</a></div></li>
                                    
 
                                        <li><div class="link-wrapper"><a href="/info-for/media/press-releases/2013/march">March</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2013/16906">February</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2013/16962">January</a></div></li>
                                    
 
                                        </ul>
                                    </li>
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2012">2012</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2011">2011</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2010">2010</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2009">2009</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2008">2008</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2007">2007</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2006">2006</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2005">2005</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2004">2004</a></div></li>
                            
 
                                </ul>
                            </li>
 
                                <li><div class="link-wrapper"><a href="/info-for/media/photos">Photos</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/media/contact-the-press-office">Contact the Press Office</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/filming-and-photography">Filming & photography</a></div></li>
                            
 
                </ul>
            
 
 
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype: -Home-Media-Media-Press releases-2013-November-London's river services ride a wave of success as the new autumn/winter guide is launched -->

 
 
        
        
            @{ViewBag.Description = "As Transport for London, River Bus and River Tour operators get ship-shape in readiness for the autumn and winter with the launch of an updated river services guide, new passenger journey figures for spring and summer reveal the popularity of river travel";}
        
        


 