


@{ViewBag.Title = "Mayor and TfL set out vision for the future of the Tube";}
        
        
<div class="r">
    <div class="breadcrumb-container" role="navigation">
        <span id="breadcrumb-label" class="visually-hidden">You are here:</span>
        <ol class="breadcrumbs clearfix" aria-labelledby="breadcrumb-label">
            <li class="home">
                <a href="/">
                    <span class="hide-text">Home</span>
                </a>
            </li>
            
                <li>
                    <a href="/info-for/media/index">Media</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases">Press releases</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases/2013">2013</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases/2013/november">November</a>
                </li>
                
                <li>
                    <span class="last-breadcrumb">Mayor and TfL set out vision for the future of the Tube</span>
                </li>
            
 
            
 
            
 
            
 
            
 
        </ul>
    </div>
</div>
     
 
<div class="r">
    <div class="headline-container plain">
        <h1>Mayor and TfL set out vision for the future of the Tube</h1>
        <div class="content-page-press-release">
        21 November 2013
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        New 24-hour 'Night Tube' service at weekends.
        
    </div>



<div class="pull-quote">
        <div class="quote-body">"This will not just boost jobs and our vibrant night-time economy, it will further cement London's reputation as the best big city on the planet to in which to live, work, visit and invest"</div>
        <div class="quote-footer">
            <div class="quotee-name">Boris Johnson</div>
            <div class="quotee-job-title">Mayor of London</div>
        </div>
</div>

 <div class="on-this-page">
<div class="pullquote right">
                        <p>
                            This will not just boost jobs and our vibrant night-time economy, it will further cement London's reputation as the best big city on the planet to in which to live, work, visit and invest
                            
                        </p>
                    </div>
                
            
            
            <ul>
<li>Further improvement in the reliability, capacity and accessibility of Tube services</li>
<li>All Tube stations to be controlled and staffed while services are operating</li>
<li>Continuous improvements to make life easier for customers, including simpler ticketing, easier refunds and Wi-Fi at many more stations</li>
<li>Improvements delivered with the best possible value for fare and tax payers' money</li></ul>
<p><br>Mayor of London, Boris Johnson and the Managing Director of London Underground, Mike Brown today (21 November) set out their vision for the future of the Tube, including a new 24-hour 'Night Tube' service at weekends and more staff visible and available at stations to help customers buy the right ticket, plan their journeys and keep them safe and secure.</p>
<p>London Underground (LU) now carries more people, more safely and reliably than ever before, with customer satisfaction at record highs and crime at an all-time low.&nbsp; </p>
<p>However, with London's population set to grow from 8.4m today to around 10m by 2030 - the equivalent of a Tube train full of people every week - the Mayor and TfL set out how they will continue to invest billions of pounds to support jobs and growth and build a Tube network that meets the needs of customers in the 21st century.</p>
<p>From 2015, Londoners and visitors to the capital will be able to take the Tube home at any hour of the night on Fridays and Saturdays, supporting London's vibrant night-time economy and boosting businesses, jobs and leisure opportunities. </p>
<p>The new 'Night Tube' network has been made possible because significant parts of the LU network have been successfully modernised.</p>
<p>From 2015, weekend services will run through the night on core parts of the system - initially comprised of the Piccadilly, Victoria, Central and Jubilee lines and key sections of the Northern line.&nbsp; </p>
<p>This network, which will be expanded to include other lines in subsequent years, will dovetail with existing 24-hour and Night Bus services to give passengers an extensive and integrated service throughout the night.</p>
<p>The trend of ticket sales away from ticket offices has surged over recent years and today less than three per cent of all Tube journeys involve a visit to a ticket office.&nbsp; </p>
<p>In future therefore, rather than being remote from customers behind closed doors or glass windows, Tube station staff will not be based in ticket offices, but in ticket halls, on gate lines and on platforms, ready and available to give the best personal and face-to-face service to customers.</p>
<p>As now, all Tube stations will continue to be staffed and controlled in future, with more staff visible and available than today in ticket halls and on gate lines and with the same number of staff on platforms.&nbsp; Staff equipped with the latest mobile technology, such as tablet computers, will be able to monitor and manage stations on the move.</p>
<p>The huge Tube improvement programme underway will continue, with billions of pounds of investment to deliver more frequent, reliable and accessible services and enhanced stations, providing greater capacity to tackle increasing numbers of customers.&nbsp; </p>
<p>It also includes a continued rigorous focus on improving customer journeys and meeting the Mayor's commitment of reducing delays by a further 30 per cent by 2015, when compared to 2011 reliability levels.&nbsp; </p>
<p>Across the Tube network, delays to customers' journeys have been reduced by 40 per cent since 2008/09 and 54 per cent since 2003.</p>
<p>More frequent trains will be introduced across a wide range of lines, including a 20 per cent increase in capacity on the Northern line next year and further uplifts to the frequency of Jubilee and Victoria line services, to 33 and 36 trains per hour respectively at the busiest times.&nbsp; </p>
<p>Metropolitan line customers are now travelling on a new fleet of air-conditioned trains with open, walk through carriages, and these are now being introduced on the Circle and Hammersmith &amp; City lines, with the District line to follow shortly.</p>
<p>Mayor of London, Boris Johnson said: 'For 150 years the Tube has been the beating heart of London, its tunnels and tracks providing the arteries that have transported millions of people and helped to drive the development and economic growth of our great city.</p>
<p>'Now it is time to take the Tube to the next level and so for the first time in London's history, we will provide a regular 24-hour 'Night Tube' service at weekends. </p>
<p>'This will not just boost jobs and our vibrant night-time economy, it will further cement London's reputation as the best big city on the planet to in which to live, work, visit and invest.'</p>
<p>Mike Brown MVO, Managing Director of London Underground, said: 'People are at the heart of this vision - our customers and staff.&nbsp; </p>
<p>'My commitment to London is that all Tube stations will continue to be staffed and controlled in future, with more staff visible and available to help customers buy the right ticket, plan their journey and keep them safe and secure.&nbsp; </p>
<p>'We will continue to make the Tube more accessible and provide assistance at stations for all our customers who need it.</p>
<p>'Rebuilt stations, new trains and signalling systems mean we are now running some of the most frequent metro services anywhere in Europe.&nbsp; </p>
<p>'To meet the challenge of London's growing population and development, we must continue to invest and deliver even more efficiently in future.&nbsp; </p>
<p>'Our vision is for a Tube network and service that is truly fit for London and our customers in the 21st century - a better face-to-face service at our stations, a 24-hour service at weekends, with easier and more personalised ways to plan and pay for journeys, on and off our network.'</p>
<p>Improvements to make journeys easier and more convenient for customers include:</p>
<ul>
<li>Contactless bank card payment technology will be rolled-out on the Tube network from next year, providing customers with another convenient way to pay for their travel. Customers will no longer need to queue just to convert their currency (pounds and pence) into the Tube's currency (Oyster and tickets)</li>
<li>Wi-Fi coverage will be rolled out to all remaining below-ground Tube stations by the end of 2014, with the exception of four stations that are currently undergoing major upgrade work, so that customers can more easily access web and other digital content on the move at stations across the entire network</li>
<li>Improved customer service training and technology will be provided to all station staff, and mobile devices with up-to-the-minute information on ticketing, train services and the local area will be provided to staff across the network so they can help customers on the spot</li>
<li>The network will become more accessible. More raised platform sections and boarding ramps are being introduced, information and signage is being improved and, building on the 66 Tube stations which are already step-free, 27 additional Tube and Overground stations will be made step-free over the next eight years. The proposed staffing changes will ensure that the current turn up and go service for disabled and visually impaired passengers continues and the disability training given to staff will be further enhanced</li>
<li>More and better ticket machines will be introduced as part of a strategy to make life easier for passengers.&nbsp; Improvements include providing quicker and easier refunds - by Tube staff, at ticket machines or online - automatically completing journeys when customers forget to swipe out and introducing personalised customer accounts on the TfL website to give increasingly tailored information and services. The number of TfL's customer contact numbers has also been reduced from over 40 to less than 10, with one local rate 0343 number for all Oyster and travel information customer queries</li>
<li>Work is also underway to improve the Tube's stations, with major redevelopments underway at Tottenham Court Road, Victoria and Bond Street. Improvements to retail and services at stations are planned, with more than 30 stations already identified where real improvements could be made over the next few years, including Canary Wharf and Embankment</li></ul>
<h3>
<hr>
</h3>
<h3>Future Tube Stations:</h3>
<p>LU staff are and will remain the operational heart of the station.&nbsp; In future, they will be equipped with the latest mobile technology which allows full control of the station, even while they are mobile.&nbsp; </p>
<p>No longer will they have to be confined to station control rooms or ticket offices in order to serve customers, manage stations and ensure the highest standards of safety and security.</p>
<p>A new, simplified staffing model will reflect the fact that customers have different needs at each of the different types of station across the network.&nbsp; </p>
<p>Many busy Tube stations will have to deal with queries from less familiar customers, including tourists, so enhanced visitor centres will be provided at those stations.&nbsp; </p>
<p>All Tube stations will continue to be staffed by LU employees across the whole day while services are operating, providing face-to-face customer service and information across the whole network.</p>
<p>The changes to the operation of stations and improvements to customer service will be delivered while also reducing the overall cost of running stations, to provide better value for money for customers and tax payers.</p>
<p>From 2015, LU proposes to operate stations in four different categories:</p>
<h4>Gateway stations</h4>
<p>The main visitor entry points to London, with a high proportion of people unfamiliar with the Tube network. </p>
<p>These stations - Euston, Heathrow Terminals 123, King's Cross St. Pancras, Liverpool Street, Paddington and Victoria - will all have enhanced and redeveloped Visitor Information Centres to ensure tourists and visitors are welcomed and offered the best possible service.&nbsp; </p>
<p>Customers will be able to purchase Oyster cards, pick up maps and other information such as interchange information on other TfL transport modes, like bus services or Barclays Cycle Hire. </p>
<p>There will be 30 per cent more staff in ticket halls than today, and an increase in overall ticket selling capacity of 33 per cent.</p>
<h4>Destination stations</h4>
<p>Busy stations in Central London that have high volumes of customers and include busy commuter and tourist destinations, such as Bank/Monument, Embankment, Leicester Square and Oxford Circus.&nbsp; </p>
<p>These stations will have 30 per cent more staff in the ticket hall than today.</p>
<h4>Metro stations</h4>
<p>Serving predominantly inner London communities, with many regular users, such as Clapham South and Mile End. </p>
<p>These stations will have dedicated customer service staff with the latest in mobile technology permanently located in ticket halls.</p>
<h4>Local Stations</h4>
<p>Smaller stations, mostly in Outer London or beyond that have lower customer numbers and serve mainly regular customers, such as Rickmansworth and East Putney. </p>
<p>These stations will have staff stationed in ticket halls providing help to customers who need it.</p>
<p>
<hr>
</p>
<p>Before any changes are introduced full safety risk assessments will be carried out. </p>
<p>All stations will continue to be appropriately staffed to ensure safe operation and evacuation and to maintain LU's excellent safety record.</p>
<p>The new station staffing proposals have now been shared with LU staff and with recognised Trade Unions for consultation.&nbsp; </p>
<p>The proposals, when coupled with the introduction of the Night Tube, would mean a net reduction of around 750 posts.&nbsp; </p>
<p>Currently, LU employs a total of around 18,000 staff, which includes around 5,500 station staff.&nbsp; </p>
<p>LU is committed to delivering the reduction in operational staff numbers without any compulsory redundancies.&nbsp; </p>
<p>When implemented, the savings delivered by these proposals would equate to around &pound;50m per annum, or around &pound;270m over the term of the TfL Business Plan to 2020/21.</p>
<p>These new fully staffed station operating arrangements will ensure we provide world class standards of customer service in a way that is unique amongst the world's metro systems.</p>
<p>
<hr>
</p>
<h3>Notes to editors:</h3>
<ul>
<li>Last year (2012/13), LU carried over 1.2 billion customers, with over 4.5 million on the busiest days</li>
<li>Delays to passengers have been reduced by 40 per cent since 2008/09, and 54 per cent since 2003</li>
<li>LU is also delivering more efficiently, with total operating costs per passenger km down by 23 per cent since 2009</li>
<li>London's population is set to increase from 8.4 million people today to around 10 million by 2030, the equivalent of a Tube train full of passengers each week</li>
<li>London Underground has an enviable and constantly improving safety record and is one of the safest railways in Europe</li>
<li>Crime on the Tube is at its lowest ever level, with just 9.6 crimes for every million journeys compared to 14.4 crimes for every million journeys in 2008</li>
<li><a href="tfl.gov.uk/futuretube">More information&nbsp;on the Mayor and TfL's vision for the future of the Tube</a></li></ul>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
                <a href="/info-for/media/index" class="heading">
                    <h2 id="sub-menu-heading">Media<span class="visually-hidden"> navigation</span></h2>
                </a>
                <ul>
                    
                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases">Press releases</a></div>
                                <ul>
                                    
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2020">2020</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019">2019</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018">2018</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017">2017</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016">2016</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015">2015</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014">2014</a></div></li>
                            
 
                                        <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2013">2013</a></div>
                                        <ul>
                                            
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2013/15890">December</a></div></li>
                                    
 
                                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2013/november">November</a></div>
                                                <ul>
                                                    
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
                                                </ul>
                                            
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2013/october">October</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2013/september">September</a></div></li>
                                    
 
                                        <li><div class="link-wrapper"><a href="/info-for/media/press-releases/2013/august">August</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2013/july">July</a></div></li>
                                    
 
                                        <li><div class="link-wrapper"><a href="/info-for/media/press-releases/2013/june">June</a></div></li>
                                    
 
                                        <li><div class="link-wrapper"><a href="/info-for/media/press-releases/2013/16598">May</a></div></li>
                                    
 
                                        <li><div class="link-wrapper"><a href="/info-for/media/press-releases/2013/16698">April</a></div></li>
                                    
 
                                        <li><div class="link-wrapper"><a href="/info-for/media/press-releases/2013/march">March</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2013/16906">February</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2013/16962">January</a></div></li>
                                    
 
                                        </ul>
                                    </li>
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2012">2012</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2011">2011</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2010">2010</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2009">2009</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2008">2008</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2007">2007</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2006">2006</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2005">2005</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2004">2004</a></div></li>
                            
 
                                </ul>
                            </li>
 
                                <li><div class="link-wrapper"><a href="/info-for/media/photos">Photos</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/media/contact-the-press-office">Contact the Press Office</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/filming-and-photography">Filming & photography</a></div></li>
                            
 
                </ul>
            
 
 
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype: -Home-Media-Media-Press releases-2013-November-Mayor and TfL set out vision for the future of the Tube -->

 
 
        
        
            @{ViewBag.Description = "Further improvement in the reliability, capacity and accessibility of Tube servicesAll Tube stations to be controlled and staffed while services are operatingContinuous improvements to make life easier for customers, including simpler ticketing, easier";}
        
        


 