


@{ViewBag.Title = "Mayor announces increased parking times to boost high streets and invigorate local economy";}
        
        
<div class="r">
    <div class="breadcrumb-container" role="navigation">
        <span id="breadcrumb-label" class="visually-hidden">You are here:</span>
        <ol class="breadcrumbs clearfix" aria-labelledby="breadcrumb-label">
            <li class="home">
                <a href="/">
                    <span class="hide-text">Home</span>
                </a>
            </li>
            
                <li>
                    <a href="/info-for/media/index">Media</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases">Press releases</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases/2013">2013</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases/2013/november">November</a>
                </li>
                
                <li>
                    <span class="last-breadcrumb">Mayor announces increased parking times to boost high streets and invigorate local economy</span>
                </li>
            
 
            
 
            
 
            
 
            
 
        </ul>
    </div>
</div>
     
 
<div class="r">
    <div class="headline-container plain">
        <h1>Mayor announces increased parking times to boost high streets and invigorate local economy</h1>
        <div class="content-page-press-release">
        19 November 2013
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        'Stop and Shop' parking times to be increased by 50 per cent at 600 parking bays on TfL red routes across Capital.
        
    </div>



<div class="pull-quote">
        <div class="quote-body">"This will make a huge difference to local businesses and I hope everyone will embrace the new 'Stop and Shop' bays."</div>
        <div class="quote-footer">
            <div class="quotee-name">Boris Johnson</div>
            <div class="quotee-job-title">Mayor of London</div>
        </div>
</div>

 <div class="on-this-page">
<div class="pullquote right">
                        <p>
                            This will make a huge difference to local businesses and I hope everyone will embrace the new 'Stop and Shop' bays.
                            
                        </p>
                    </div>
                
            
            
            <ul>
<li>Providing greater flexibility for drivers and boost for local businesses</li>
<li>Follows consultation with Londoners, councils and businesses </li></ul>

<p>The Mayor of London and&nbsp;TfL are to increase parking times at 600 bays on TfL red routes across the Capital to encourage more people to shop on London's high streets and boost the local economy.</p>
<p>'Stop &amp; Shop', one of the Mayor's manifesto pledges, will provide greater flexibility for motorists to park and shop, pay a bill or run an errand. </p>
<p>Parking time will be increased from 20 to 30 minutes on the majority of TfL red route parking bay across the Capital, allowing people to spend more time on the high street, boosting small businesses.</p>
<p>The changes follow consultation with Londoners, businesses and boroughs councils. </p>
<p>19 of the 22 London boroughs affected by the introduction of 'Stop and Shop' welcomed the plans. </p>
<p>Where boroughs did not support proposals, TfL has not made changes but will continue working with boroughs to encourage them to explore plans to make parking times in the capital as flexible as possible. </p>
<p>The Mayor of London, Boris Johnson, said: 'Parking is a hot topic for Londoners going about their daily lives, as well as for the Capital's businesses and retailers. </p>
<p>'I'm thrilled that we have been able to extend parking time in our high streets. </p>
<p>'This will make a huge difference to local businesses and I hope everyone will embrace the new 'Stop and Shop' bays.'</p>
<p>'Stop and Shop' is one of a range of measures the Mayor has introduced to breathe life into our high streets, including major investment into shop and public realm improvements from his Outer London and Regeneration Funds. </p>
<p>This has seen numerous high street shop fronts being given a makeover, creating jobs and growth, to re-invigorate local economies across the Capital.&nbsp; </p>
<p>Garrett Emmerson, TfL's Chief Operating Officer for Surface Transport, said: 'We're pleased to implement these plans in line with the Mayor's manifesto commitment.&nbsp; </p>
<p>The changes will be welcomed by drivers who shop in their local area but need greater flexibility with parking times; and by retailers who will have a captive audience for longer periods of time.'</p>
<p>Sue Terpilowski, London Chairman, Federation of Small Businesses, said: 'We welcome the announcement from the Mayor and Transport for London for red routes in the capital to permit 30 minutes of free parking. </p>
<p>'The Federation of Small Businesses have long argued that parking charges and availability inhibit local spend and 64 per cent of our members say it has a negative impact on their business.</p>
<p>'This sensible measure will enable more customers to shop locally and enable small businesses to compete with 'free to park' out of town shopping centres. </p>
<p>'We urge Councils in London to think about how their parking decisions impact on the local economy, thus, creating parking policies, strategies and an evidence base which is appropriate in the current economic climate.'</p>
<p>The work to replace the signs at affected bays has been completed.&nbsp; </p>
<p>Motorists are reminded to always check the signs at the parking bay which details the parking restrictions.</p>
<p>
<hr>

<p>
<h4>Notes to editors:</h4>
<ul>
<li>Drivers will see changes to two types of parking bays along TfL's Red Route network (also known as Transport for London Road Network - TLRN)<br>-&nbsp;'red bays' that allow 20 minute parking for part of the red route hours (typically 10am-4pm)<br>-&nbsp;'white bays' that provide 20min parking at any time during the red route control hours </li>
<li>The changes will not affect loading bays on the Red Routes - which will continue to permit people to load or unload for 20 minutes </li>
<li>The introduction of 'Stop &amp; Shop' bays will not affect disabled badge holders using parking bays who can continue to use them for an unlimited period </li>
<li>Transport for London has full operational responsibility for the Transport for London Road Network (TLRN) - 580km of major roads in the Capital, called Red Routes, which play a strategic role in keeping London moving. They make up five per cent of London's roads but carry more than 30 per cent of its traffic </li>
<li>It also manages and maintains 13 major road tunnels, more than 140 roadside electronic message boards (Variable Message Signs) and all of London's 6,000 traffic signals.&nbsp;To help manage this, TfL has real-time operational control of the road network through the London Streets Traffic Control Centre (LSTCC).&nbsp;The LSTCC helps manage the impact on traffic of up to 10,000 unplanned incidents and around 750 planned events in London each year</li></ul>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
                <a href="/info-for/media/index" class="heading">
                    <h2 id="sub-menu-heading">Media<span class="visually-hidden"> navigation</span></h2>
                </a>
                <ul>
                    
                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases">Press releases</a></div>
                                <ul>
                                    
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2020">2020</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019">2019</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018">2018</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017">2017</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016">2016</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015">2015</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014">2014</a></div></li>
                            
 
                                        <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2013">2013</a></div>
                                        <ul>
                                            
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2013/15890">December</a></div></li>
                                    
 
                                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2013/november">November</a></div>
                                                <ul>
                                                    
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
                                                </ul>
                                            
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2013/october">October</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2013/september">September</a></div></li>
                                    
 
                                        <li><div class="link-wrapper"><a href="/info-for/media/press-releases/2013/august">August</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2013/july">July</a></div></li>
                                    
 
                                        <li><div class="link-wrapper"><a href="/info-for/media/press-releases/2013/june">June</a></div></li>
                                    
 
                                        <li><div class="link-wrapper"><a href="/info-for/media/press-releases/2013/16598">May</a></div></li>
                                    
 
                                        <li><div class="link-wrapper"><a href="/info-for/media/press-releases/2013/16698">April</a></div></li>
                                    
 
                                        <li><div class="link-wrapper"><a href="/info-for/media/press-releases/2013/march">March</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2013/16906">February</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2013/16962">January</a></div></li>
                                    
 
                                        </ul>
                                    </li>
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2012">2012</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2011">2011</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2010">2010</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2009">2009</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2008">2008</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2007">2007</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2006">2006</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2005">2005</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2004">2004</a></div></li>
                            
 
                                </ul>
                            </li>
 
                                <li><div class="link-wrapper"><a href="/info-for/media/photos">Photos</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/media/contact-the-press-office">Contact the Press Office</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/filming-and-photography">Filming & photography</a></div></li>
                            
 
                </ul>
            
 
 
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype: -Home-Media-Media-Press releases-2013-November-Mayor announces increased parking times to boost high streets and invigorate local economy -->

 
 
        
        
            @{ViewBag.Description = "Providing greater flexibility for drivers and boost for local businessesFollows consultation with Londoners, councils and businesses The Mayor of London and&nbsp;TfL are to increase parking times at 600 bays on TfL red routes across the Capital to";}
        
        


 