


@{ViewBag.Title = "New trial aims to cut crowding on the Northern line";}
        
        
<div class="r">
    <div class="breadcrumb-container" role="navigation">
        <span id="breadcrumb-label" class="visually-hidden">You are here:</span>
        <ol class="breadcrumbs clearfix" aria-labelledby="breadcrumb-label">
            <li class="home">
                <a href="/">
                    <span class="hide-text">Home</span>
                </a>
            </li>
            
                <li>
                    <a href="/info-for/media/index">Media</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases">Press releases</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases/2013">2013</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases/2013/november">November</a>
                </li>
                
                <li>
                    <span class="last-breadcrumb">New trial aims to cut crowding on the Northern line</span>
                </li>
            
 
            
 
            
 
            
 
            
 
        </ul>
    </div>
</div>
     
 
<div class="r">
    <div class="headline-container plain">
        <h1>New trial aims to cut crowding on the Northern line</h1>
        <div class="content-page-press-release">
        06 November 2013
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        Trial to be followed by travel hotspot information about the busiest stations across the Capital.
        
    </div>



 <div class="on-this-page">
<div class="pullquote right">
                        <p>
                             By making a small change to the time they travel our passengers' journeys could be faster and more comfortable.
                            
                        </p>
                    </div>
                
            
            
            <ul>
<li>Part of a wider programme of travel demand management to make the most of capacity and improve customers' journeys</li></ul>
<p>On Monday 11 November, Transport for London (TfL)&nbsp;will launch a local pilot to reduce crowding on the Northern line.&nbsp; </p>
<p>The pilot is part of a wider programme, which will build on the success of encouraging people to travel differently during the 2012 Games. </p>
<h3>Improving customers' journeys </h3>
<p>&nbsp;</p>
<p>Part of the southern section of the Northern line between Tooting Bec and Clapham North is exceptionally busy between 08:00 and 08:45, meaning at some stations during the busiest times passengers have to wait for two or more trains before they can get on.&nbsp; </p>
<p>Before and after those times there is less crowding.</p>
<p>From Monday, TfL will be providing localised information for people travelling from Tooting Bec, Balham, Clapham South, Clapham Common or Clapham North on how small changes to their journey, for example travelling slightly earlier or later, could make their journeys faster, more reliable and more comfortable. </p>
<p>The aim of the pilot is to understand the impact of providing this kind of information outside of a special event like the Games. </p>
<h3>20 per cent increase in capacity</h3>
<p>&nbsp;</p>
<p>The Northern line is currently being modernised with a new signalling system providing faster and more frequent journeys with and a 20 per cent increase in capacity on the line. </p>
<p>This work will be completed in 2014 and will reduce crowding on the line. </p>
<p>During the 2012 Games TfL provided information showing how busy key stations would be during the summer. </p>
<p>From early next year, London Underground will be providing this kind of information about the busiest stations on the Tube network.&nbsp; </p>
<p>The data provided will enable passengers to see when the busiest periods are, broken down into 15 minute slots, giving them the choice to avoid those times if they are able to do so.&nbsp; </p>
<p>Alongside that information alternative travel options will also be provided, including walking and cycling travel times.</p>
<p>Gareth Powell, Director of Strategy and Service Development, London Underground, said: 'During the 2012 Games many of our passengers made small changes to their journeys which meant we were able to carry record numbers without the transport network feeling any busier.&nbsp; This section of the Northern line is exceptionally busy during part of the morning and </p>
<p>'while the modernisation of the line will help to relieve crowding when complete next year this trial will look at whether we can improve the situation now. By making a small change to the time they travel our passengers' journeys could be faster and more comfortable.'</p>
<p>The pilot is part of a wider programme of travel demand management to make the most of London's transport capacity and to improve customers' journeys.&nbsp; </p>
<p>Travel demand management was used effectively during the 2012 Games and will be used to provide businesses, customers and users with the information they need on the busiest times and places on the transport network and information about major works and events that will affect their journeys. </p>
<p>The travel demand management programme builds on the success of all transport operators working together during the Games and will coordinate customer advice around major events, large scale improvement works that could disrupt travel and everyday hotspots where demand regularly exceeds transport capacity at certain times of day.</p>
<p>
<hr>

<p>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
                <a href="/info-for/media/index" class="heading">
                    <h2 id="sub-menu-heading">Media<span class="visually-hidden"> navigation</span></h2>
                </a>
                <ul>
                    
                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases">Press releases</a></div>
                                <ul>
                                    
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2020">2020</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019">2019</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018">2018</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017">2017</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016">2016</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015">2015</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014">2014</a></div></li>
                            
 
                                        <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2013">2013</a></div>
                                        <ul>
                                            
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2013/15890">December</a></div></li>
                                    
 
                                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2013/november">November</a></div>
                                                <ul>
                                                    
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
                                                </ul>
                                            
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2013/october">October</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2013/september">September</a></div></li>
                                    
 
                                        <li><div class="link-wrapper"><a href="/info-for/media/press-releases/2013/august">August</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2013/july">July</a></div></li>
                                    
 
                                        <li><div class="link-wrapper"><a href="/info-for/media/press-releases/2013/june">June</a></div></li>
                                    
 
                                        <li><div class="link-wrapper"><a href="/info-for/media/press-releases/2013/16598">May</a></div></li>
                                    
 
                                        <li><div class="link-wrapper"><a href="/info-for/media/press-releases/2013/16698">April</a></div></li>
                                    
 
                                        <li><div class="link-wrapper"><a href="/info-for/media/press-releases/2013/march">March</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2013/16906">February</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2013/16962">January</a></div></li>
                                    
 
                                        </ul>
                                    </li>
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2012">2012</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2011">2011</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2010">2010</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2009">2009</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2008">2008</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2007">2007</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2006">2006</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2005">2005</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2004">2004</a></div></li>
                            
 
                                </ul>
                            </li>
 
                                <li><div class="link-wrapper"><a href="/info-for/media/photos">Photos</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/media/contact-the-press-office">Contact the Press Office</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/filming-and-photography">Filming & photography</a></div></li>
                            
 
                </ul>
            
 
 
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype: -Home-Media-Media-Press releases-2013-November-New trial aims to cut crowding on the Northern line -->

 
 
        
        
            @{ViewBag.Description = "Part of a wider programme of travel demand management to make the most of capacity and improve customers' journeysOn Monday 11 November, Transport for London (TfL)&nbsp;will launch a local pilot to reduce crowding on the Northern line.&nbsp; The pilot is";}
        
        


 