


@{ViewBag.Title = "Northern line extension public inquiry starts today";}
        
        
<div class="r">
    <div class="breadcrumb-container" role="navigation">
        <span id="breadcrumb-label" class="visually-hidden">You are here:</span>
        <ol class="breadcrumbs clearfix" aria-labelledby="breadcrumb-label">
            <li class="home">
                <a href="/">
                    <span class="hide-text">Home</span>
                </a>
            </li>
            
                <li>
                    <a href="/info-for/media/index">Media</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases">Press releases</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases/2013">2013</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases/2013/november">November</a>
                </li>
                
                <li>
                    <span class="last-breadcrumb">Northern line extension public inquiry starts today</span>
                </li>
            
 
            
 
            
 
            
 
            
 
        </ul>
    </div>
</div>
     
 
<div class="r">
    <div class="headline-container plain">
        <h1>Northern line extension public inquiry starts today</h1>
        <div class="content-page-press-release">
        19 November 2013
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        The Secretary of State to hold public inquiry as part of the planning process for proposed new Tube link.
        
    </div>



<div class="pull-quote">
        <div class="quote-body">"This public inquiry is part of the planning process. If this transport link goes ahead it would create access to the Tube for thousands of people in south London as well as helping to support new jobs and homes in the area."</div>
        <div class="quote-footer">
            <div class="quotee-name">Mich&egrave;le Dix</div>
            <div class="quotee-job-title">Managing Director of Planning for Transport for London</div>
        </div>
</div>

 <div class="on-this-page">
<div class="pullquote right">
                        <p>
                            This public inquiry is part of the planning process. If this transport link goes ahead it would create access to the Tube for thousands of people in south London as well as helping to support new jobs and homes in the area.
                            
                        </p>
                    </div>
                
            
            
            <p>Extending the Northern line would help regenerate the area by supporting up to 25,000 new jobs and 16,000 new homes </p>
<p>A public inquiry into the proposed construction of the Northern line extension will begin today and is expected to last for around four weeks. </p>
<p>The inquiry, called for by the Secretary of State for Transport, is part of the Transport and Works Act Order (TWAO) process which is usual for a major project of this size. </p>
<p>An independent inspector has been appointed to run the public inquiry to consider Transport for London's (TfL) application to extend the Northern line from Kennington to Battersea via Nine Elms. </p>
<p>The inspector will consider evidence that has been submitted by TfL, individuals or organisations interested in the construction of this piece of infrastructure. </p>
<p>If planning powers are obtained from the Government, and a funding package is in place, then construction of the Northern line extension could begin in 2015 with the two new stations opening in 2020. </p>
<p>The construction of the extension would help kick start regeneration in the Nine Elms area of south London and provide major transport benefits for local people. </p>
<p>The extension would reduce pressure on Vauxhall station, provide relief to the existing Northern line south of Kennington and give wider access to leisure and employment opportunities for local people. </p>
<p>The new infrastructure would support up to 25,000 jobs and 16,000 new homes. </p>
<p>Should this new Tube link go ahead thousands of people would gain from access to London Underground and journey times from the West End and the City would be cut to 15 minutes from the Battersea area.</p>
<p>Results from three public consultations on plans to extend the Northern line have confirmed strong support for this potential new Tube link.&nbsp; </p>
<p>In addition, as TfL's plans have developed for the Northern line extension, TfL has met with various community groups that have an interest in this project. </p>
<p>Representatives from TfL have listened to their feedback and have identified a series of commitments on a number of issues and areas. </p>
<p>More information can be found at:&nbsp; </p>

<p><a href="http://www.persona.uk.com/NLE">www.persona.uk.com/NLE</a> and at <a href="tfl.gov.uk/nle">tfl.gov.uk/nle&nbsp; </a></p>
<p>Mich&egrave;le Dix, Managing Director of Planning for Transport for London, said: 'We look forward to fully outlining our proposals for the Northern line extension. </p>
<p>'This public inquiry is part of the planning process. If this transport link goes ahead it would create access to the Tube for thousands of people in south London as well as helping to support new jobs and homes in the area.'</p>
<p>
<hr>

<p>
<h4>Notes to editors:</h4>
<ul>
<li>The Government confirmed in the Chancellor's 2012 Autumn Statement that up to &pound;1bn of borrowing from the Public Works Loan Board would be available to the Greater London Authority (GLA) to finance the construction of the NLE. Whilst the borrowing will be done by the public sector, the funding to repay this borrowing will come from the private sector in the form of: 
<ol type="1">
</ol></li><li>Incremental business rates, retained by the Greater London Authority for a period of 25 years in a new Enterprise Zone (EZ) in the London Boroughs of Wandsworth and Lambeth; and </li>
<li>Contributions received by the boroughs from local developers under the Section 106 and Community Infrastructure Levy regimes</li>
<li>The GLA and TfL are finalising arrangements for the financing of the extension with the developer of the Battersea Power Station site, central Government and the local authorities and the details of this will be included in a funding statement as part of the TWAO application </li>
<li>The Tube is undergoing a huge and essential programme to modernise its infrastructure - vital to cope with a growing population and to support the economic development and growth of the capital and the UK. This includes the introduction of new track and signalling and the rebuilding of some of our most important stations. By the end of the current programme there will be 30 per cent more capacity. TfL is working hard to provide information and alternative travel options while work is taking place. The work is essential to provide for London's growing transport needs now, and into the future. TfL is urging all Londoners and Tube, London Overground, London Tramlink and DLR passengers to check before you travel at weekends, allowing extra journey time where necessary. <a href="tfl.gov.uk/check">Weekend travel news</a> </li></ul>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
                <a href="/info-for/media/index" class="heading">
                    <h2 id="sub-menu-heading">Media<span class="visually-hidden"> navigation</span></h2>
                </a>
                <ul>
                    
                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases">Press releases</a></div>
                                <ul>
                                    
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2020">2020</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019">2019</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018">2018</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017">2017</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016">2016</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015">2015</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014">2014</a></div></li>
                            
 
                                        <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2013">2013</a></div>
                                        <ul>
                                            
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2013/15890">December</a></div></li>
                                    
 
                                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2013/november">November</a></div>
                                                <ul>
                                                    
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
                                                </ul>
                                            
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2013/october">October</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2013/september">September</a></div></li>
                                    
 
                                        <li><div class="link-wrapper"><a href="/info-for/media/press-releases/2013/august">August</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2013/july">July</a></div></li>
                                    
 
                                        <li><div class="link-wrapper"><a href="/info-for/media/press-releases/2013/june">June</a></div></li>
                                    
 
                                        <li><div class="link-wrapper"><a href="/info-for/media/press-releases/2013/16598">May</a></div></li>
                                    
 
                                        <li><div class="link-wrapper"><a href="/info-for/media/press-releases/2013/16698">April</a></div></li>
                                    
 
                                        <li><div class="link-wrapper"><a href="/info-for/media/press-releases/2013/march">March</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2013/16906">February</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2013/16962">January</a></div></li>
                                    
 
                                        </ul>
                                    </li>
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2012">2012</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2011">2011</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2010">2010</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2009">2009</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2008">2008</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2007">2007</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2006">2006</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2005">2005</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2004">2004</a></div></li>
                            
 
                                </ul>
                            </li>
 
                                <li><div class="link-wrapper"><a href="/info-for/media/photos">Photos</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/media/contact-the-press-office">Contact the Press Office</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/filming-and-photography">Filming & photography</a></div></li>
                            
 
                </ul>
            
 
 
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype: -Home-Media-Media-Press releases-2013-November-Northern line extension public inquiry starts today -->

 
 
        
        
            @{ViewBag.Description = "Extending the Northern line would help regenerate the area by supporting up to 25,000 new jobs and 16,000 new homes A public inquiry into the proposed construction of the Northern line extension will begin today and is expected to last for around four";}
        
        


 