


@{ViewBag.Title = "Oldest Tube carriage turned into float for Lord Mayor's Show parade";}
        
        
<div class="r">
    <div class="breadcrumb-container" role="navigation">
        <span id="breadcrumb-label" class="visually-hidden">You are here:</span>
        <ol class="breadcrumbs clearfix" aria-labelledby="breadcrumb-label">
            <li class="home">
                <a href="/">
                    <span class="hide-text">Home</span>
                </a>
            </li>
            
                <li>
                    <a href="/info-for/media/index">Media</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases">Press releases</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases/2013">2013</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases/2013/november">November</a>
                </li>
                
                <li>
                    <span class="last-breadcrumb">Oldest Tube carriage turned into float for Lord Mayor's Show parade</span>
                </li>
            
 
            
 
            
 
            
 
            
 
        </ul>
    </div>
</div>
     
 
<div class="r">
    <div class="headline-container plain">
        <h1>Oldest Tube carriage turned into float for Lord Mayor's Show parade</h1>
        <div class="content-page-press-release">
        07 November 2013
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        To celebrate the 150th anniversary of London Underground the oldest Underground train carriage still in use has been turned into a float for Londoners and visitors to enjoy during the Lord Mayor's Show on Saturday 9 November.
        
    </div>



<div class="pull-quote">
        <div class="quote-body">"Transport for London has supported Railway Children for a number of years, through various fundraising and staff activities. Their continued support and commitment is crucial to our work with vulnerable children living on the streets."</div>
        <div class="quote-footer">
            <div class="quotee-name">David Maidment</div>
            <div class="quotee-job-title">Founder Ambassador at Railway Children</div>
        </div>
</div>

 <div class="on-this-page">
<div class="pullquote right">
<p>
Transport for London has supported Railway Children for a number of years, through various fundraising and staff activities. Their continued support and commitment is crucial to our work with vulnerable children living on the streets.
</p>
</div>
<p>Spectators at the parade should look out for this beautiful heritage carriage, which dates from 1892. </p>
<p>London Underground staff and representatives from the charities Railway Children and London Transport Museum will be taking part in this year's procession. </p>
<p>This piece of Underground history will join one of the nation's most spectacular events.</p>
<p> <strong>The Lord Mayor's Show</strong></p>
<p>Over half a million people are expected to line the streets of the City of London for the Lord Mayor's Show to witness a pageant of colour. </p>
<p>The carriage and its passengers will be travelling alongside a carnival of horses and carts, marching bands, vintage cars, giant robots, helicopters, tractors, penny farthings and the magnificent Gold State Coach belonging to the Mayor and Aldermen. </p>
<p>Transport for London supports Railway Children's fight for children living on the streets and London Transport Museum's educational charitable work and will use this special day to highlight the great work of both of these organisations.</p>
<p>Metropolitan Railway carriage No. 353 formed part of the heritage steam train that ran at the start of this year on the Tube's current network for London Underground's 150th anniversary celebrations. </p>
<p>It was brought back to life with funds from London Transport Museum Friends and the Heritage Lottery fund. </p>
<p>Mike Brown MVO, Managing Director of London Underground and London Rail, said: 'I can't wait to see this beautifully restored carriage travelling along the streets of the City of London to celebrate the 150th anniversary of London Underground. </p>
<p>'The Tube has always played an important role in the economic development of the London and UK economy so it seems fitting that we should take part in a festival in one of the world's major financial centres.</p>
<p>'We've supported Railway Children for many years. Sharing a float with the charity at the Lord Mayor's Show is an excellent way to highlight how the organisation is helping to transform the lives of children living on the streets.' </p>
<p>David Maidment, Founder Ambassador at Railway Children, said: 'Transport for London has supported Railway Children for a number of years, through various fundraising and staff activities. Their continued support and commitment is crucial to our work with vulnerable children living on the streets. We are extremely grateful to be part of today's celebrations and the opportunity to raise awareness of our work.'</p>
<p>Sam Mullins, Chief Executive at London Transport Museum, said: 'I am delighted that we are playing a part in this ancient and much loved procession which gives us the opportunity to display Carriage 353 to millions of people. It has had a chequered history - as a farm outbuilding, a tailor's workshop and a clubhouse for American servicemen. So it's wonderful to think that we have rescued it from obscurity and that it is now featuring in one of London's traditional events.'</p>
<p>People can still experience steam train travel on London Underground with London Transport Museum; the next opportunity to ride on the sumptuous Jubilee carriage 353 will be on Sunday 8 December when it will be part of a public steam event running between Harrow-on-the-Hill and Uxbridge. </p>
<p>Further information is available at <a href="http://www.ltmuseum.co.uk">www.ltmuseum.co.uk</a></p>
<p><strong>Oyster card donation scheme</strong></p>
<p>One of the ways TfL supports the Railway Children charity is through the Oyster card donation scheme. </p>
<p>Customers are able to leave an Oyster card that they no longer want or need at collection points at Heathrow Terminal 4 (2 boxes), Liverpool Street and King's Cross St. Pancras Tube stations and the unused credit and card deposit is donated to the charity. </p>
<p>An average of &pound;25,000 per year is raised through this scheme and last year, &pound;52,000 was raised due to the extra footfall created by the London Olympics and Paralympics. </p>
<p>Additional TfL, including LU and London Overground, activities and fundraising have also helped to raise more than &pound;75,000 for Railway Children in the last year. </p>
<p>People can also donate to a project that London Transport Museum is running to restore a B-type bus to its Western front condition as part of the commemoration of the Centenary of the First World War. Further information about this worthy cause can be found at <a href="http://www.ltmuseum.co.uk">www.ltmuseum.co.uk</a></p>
<p><strong>
</strong></p>
<hr /><strong>
</strong><strong>Notes to editors:</strong>
<p>&nbsp;</p>
<p><strong>Carriage No.353<br /></strong>Earlier in the year Carriage No.353 was 'marked' by Alderman Fiona Woolf CBE and the Master Carman, Neil Coles in a centuries old cart-marking ceremony. Normally reserved for road vehicles, an exception was made for the train carriage for the Tube's 150th anniversary. </p>
<p><strong>About Railway Children<br /></strong>Railway Children work with children who live on the streets in India, East Africa and the UK. They aim to reach street children as soon as possible, keeping them safe, getting them home and saving them from a life on the streets. The charity works with governments and communities to achieve a world where no child ever has to live on the streets. </p>
<p><strong>About London Transport Museum<br /></strong>Situated in the heart of Covent Garden and filled with stunning exhibits, London Transport Museum explores the powerful link between transport and the growth of modern London, culture and society since 1800. Historic vehicles, world-famous posters and the very best objects from the Museum's extraordinary collection are brought together to tell the story of London's development and the part transport played in defining the unique identity of the city.</p>
<p>London Transport Museum is an educational and heritage preservation charity.  Its purpose is to conserve and explain the history of London's transport, to offer people an understanding of the Capital's past development and to engage them in the debate about its future. <a href="http://www.ltmuseum.co.uk">www.ltmuseum.co.uk</a></p>
<p><strong>About London Underground<br /></strong>The Tube is the world's oldest underground railway, founded in 1863. Today it carries around four million passengers every week day on eleven lines through 270 stations. <br />The Tube is undergoing a huge and essential programme to modernise its infrastructure and add vital extra capacity to cope with a growing population and to support the economic development and growth of the Capital and the UK. This includes the introduction of new track and signalling and the rebuilding of some of our most important stations. </p>
<p>About the Lord Mayor's Show Please see the following link: <a href="http://www.lordmayorsshow.org/">http://www.lordmayorsshow.org/</a></p>
<p> </p>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
                <a href="/info-for/media/index" class="heading">
                    <h2 id="sub-menu-heading">Media<span class="visually-hidden"> navigation</span></h2>
                </a>
                <ul>
                    
                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases">Press releases</a></div>
                                <ul>
                                    
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2020">2020</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019">2019</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018">2018</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017">2017</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016">2016</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015">2015</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014">2014</a></div></li>
                            
 
                                        <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2013">2013</a></div>
                                        <ul>
                                            
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2013/15890">December</a></div></li>
                                    
 
                                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2013/november">November</a></div>
                                                <ul>
                                                    
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
                                                </ul>
                                            
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2013/october">October</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2013/september">September</a></div></li>
                                    
 
                                        <li><div class="link-wrapper"><a href="/info-for/media/press-releases/2013/august">August</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2013/july">July</a></div></li>
                                    
 
                                        <li><div class="link-wrapper"><a href="/info-for/media/press-releases/2013/june">June</a></div></li>
                                    
 
                                        <li><div class="link-wrapper"><a href="/info-for/media/press-releases/2013/16598">May</a></div></li>
                                    
 
                                        <li><div class="link-wrapper"><a href="/info-for/media/press-releases/2013/16698">April</a></div></li>
                                    
 
                                        <li><div class="link-wrapper"><a href="/info-for/media/press-releases/2013/march">March</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2013/16906">February</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2013/16962">January</a></div></li>
                                    
 
                                        </ul>
                                    </li>
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2012">2012</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2011">2011</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2010">2010</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2009">2009</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2008">2008</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2007">2007</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2006">2006</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2005">2005</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2004">2004</a></div></li>
                            
 
                                </ul>
                            </li>
 
                                <li><div class="link-wrapper"><a href="/info-for/media/photos">Photos</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/media/contact-the-press-office">Contact the Press Office</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/filming-and-photography">Filming & photography</a></div></li>
                            
 
                </ul>
            
 
 
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype: -Home-Media-Media-Press releases-2013-November-Oldest Tube carriage turned into float for Lord Mayor's Show parade -->

 
 
        
        
            @{ViewBag.Description = "Spectators at the parade should look out for this beautiful heritage carriage, which dates from 1892. London Underground staff and representatives from the charities Railway Children and London Transport Museum will be taking part in this year's";}
        
        


 