


@{ViewBag.Title = "TfL opens up panel meetings to the public";}
        
        
<div class="r">
    <div class="breadcrumb-container" role="navigation">
        <span id="breadcrumb-label" class="visually-hidden">You are here:</span>
        <ol class="breadcrumbs clearfix" aria-labelledby="breadcrumb-label">
            <li class="home">
                <a href="/">
                    <span class="hide-text">Home</span>
                </a>
            </li>
            
                <li>
                    <a href="/info-for/media/index">Media</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases">Press releases</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases/2013">2013</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases/2013/november">November</a>
                </li>
                
                <li>
                    <span class="last-breadcrumb">TfL opens up panel meetings to the public</span>
                </li>
            
 
            
 
            
 
            
 
            
 
        </ul>
    </div>
</div>
     
 
<div class="r">
    <div class="headline-container plain">
        <h1>TfL opens up panel meetings to the public</h1>
        <div class="content-page-press-release">
        12 November 2013
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        Transport for London (TfL) has reaffirmed its commitment to openness and transparency by confirming that all Board, Committee and Panel meetings will be open to the public.
        
    </div>



<div class="pull-quote">
        <div class="quote-body">"We are committed to being transparent and will be publishing papers ahead of meetings."</div>
        <div class="quote-footer">
            <div class="quotee-name">Howard Carter</div>
            <div class="quotee-job-title">TfL's General Counsel</div>
        </div>
</div>

 <div class="on-this-page">
<div class="pullquote right">
                        <p>
                            We are committed to being transparent and will be publishing papers ahead of meetings.
                            
                        </p>
                    </div>
                
            
            
            <p>TfL Board meetings have been held in public since 2000 and its Committees have met in public since April 2012, with papers for the open session published on <a href="tfl.gov.uk">tfl.gov.uk </a>five working days before each meeting.&nbsp; </p>
<p>Following a review of the TfL Board and its decision making structure, meetings of TfL's advisory panels will in future also be open to the public and papers published five working days in advance.&nbsp; </p>
<p>Over the last 18 months there has been an increase in the amount of information published to support decision making as part of the published papers. </p>
<p>Meetings of TfL's Committees and Panels will be held at TfL's offices in Southwark, Palestra. The only exceptions will be the TfL Board and Remuneration Committee which will continue to be held at City Hall. </p>
<p>Notice of forthcoming meetings is published on tfl.gov.uk and in the reception areas of TfL offices at Palestra and Windsor House. </p>
<p>TfL will also be making greater use of social media to promote awareness of its meetings. </p>
<p>Howard Carter, General Counsel, said: 'We have reviewed the way our advisory panel meetings have been held and want to make it easier for the public to access the information discussed. </p>
<p>'We are committed to being transparent and will be publishing papers ahead of meetings and providing information for those who live, work and visit London to be able to better understand how we are working to improve London's transport network.'&nbsp; </p>
<p>This change supports TfL's continued drive to make more information publicly available including financial, operational and performance data.</p>
<p>The changes will be introduced from 1 April 2014. </p>
<p>
<hr>

<p>
<h4>Notes to editors: </h4>
<ul>
<li><a href="http://www.tfl.gov.uk/assets/downloads/corporate/Board-20131106-Part-1-Item12-Board-Decision-Making-Structure.pdf">Download the Board paper which includes the structure for the Committees and Panels</a> </li>
<li>The Board approves the most important matters affecting the organisation, including the TfL Budget, Business Plan and other major and strategic issues and policies and holds the executive to account for delivery of the Business Plan and operational and budgetary performance. The Board has appointed three committees and four advisory panels </li>
<li>The Finance and Policy Committee considers matters with a significant financial or policy element before they go to the Board and approves project authority up to &pound;100m </li>
<li>The Audit and Assurance Committee provides assurance on the effectiveness of system of internal controls and reviews the Annual Report and Accounts </li>
<li>The Remuneration Committee approves the overall TfL performance scorecard and the remuneration of the Commissioner and Chief Officers </li>
<li>The Board has established four Panels to consider wide-ranging issues including policy, strategy, the implementation of the Mayor's Transport Strategy and operating business performance. The Rail and Underground Panel and Surface Transport Panel consider issues relevant to TfL's operational performance. From 1 April 2014, the functions of the Projects and Planning Panel will be absorbed into the Finance and Policy Committee. The Safety and Sustainability Panel will be renamed the Safety, Accessibility and Sustainability Panel, to reflect the increase in attention that it has been giving to accessibility issues<br></li></ul>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
                <a href="/info-for/media/index" class="heading">
                    <h2 id="sub-menu-heading">Media<span class="visually-hidden"> navigation</span></h2>
                </a>
                <ul>
                    
                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases">Press releases</a></div>
                                <ul>
                                    
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2020">2020</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019">2019</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018">2018</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017">2017</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016">2016</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015">2015</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014">2014</a></div></li>
                            
 
                                        <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2013">2013</a></div>
                                        <ul>
                                            
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2013/15890">December</a></div></li>
                                    
 
                                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2013/november">November</a></div>
                                                <ul>
                                                    
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
                                                </ul>
                                            
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2013/october">October</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2013/september">September</a></div></li>
                                    
 
                                        <li><div class="link-wrapper"><a href="/info-for/media/press-releases/2013/august">August</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2013/july">July</a></div></li>
                                    
 
                                        <li><div class="link-wrapper"><a href="/info-for/media/press-releases/2013/june">June</a></div></li>
                                    
 
                                        <li><div class="link-wrapper"><a href="/info-for/media/press-releases/2013/16598">May</a></div></li>
                                    
 
                                        <li><div class="link-wrapper"><a href="/info-for/media/press-releases/2013/16698">April</a></div></li>
                                    
 
                                        <li><div class="link-wrapper"><a href="/info-for/media/press-releases/2013/march">March</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2013/16906">February</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2013/16962">January</a></div></li>
                                    
 
                                        </ul>
                                    </li>
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2012">2012</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2011">2011</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2010">2010</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2009">2009</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2008">2008</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2007">2007</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2006">2006</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2005">2005</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2004">2004</a></div></li>
                            
 
                                </ul>
                            </li>
 
                                <li><div class="link-wrapper"><a href="/info-for/media/photos">Photos</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/media/contact-the-press-office">Contact the Press Office</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/filming-and-photography">Filming & photography</a></div></li>
                            
 
                </ul>
            
 
 
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype: -Home-Media-Media-Press releases-2013-November-TfL opens up panel meetings to the public -->

 
 
        
        
            @{ViewBag.Description = "TfL Board meetings have been held in public since 2000 and its Committees have met in public since April 2012, with papers for the open session published on tfl.gov.uk five working days before each meeting.&nbsp; Following a review of the TfL Board and";}
        
        


 