


@{ViewBag.Title = "Thames Water fined for causing unnecessary disruption to London road users";}
        
        
<div class="r">
    <div class="breadcrumb-container" role="navigation">
        <span id="breadcrumb-label" class="visually-hidden">You are here:</span>
        <ol class="breadcrumbs clearfix" aria-labelledby="breadcrumb-label">
            <li class="home">
                <a href="/">
                    <span class="hide-text">Home</span>
                </a>
            </li>
            
                <li>
                    <a href="/info-for/media/index">Media</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases">Press releases</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases/2013">2013</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases/2013/november">November</a>
                </li>
                
                <li>
                    <span class="last-breadcrumb">Thames Water fined for causing unnecessary disruption to London road users</span>
                </li>
            
 
            
 
            
 
            
 
            
 
        </ul>
    </div>
</div>
     
 
<div class="r">
    <div class="headline-container plain">
        <h1>Thames Water fined for causing unnecessary disruption to London road users</h1>
        <div class="content-page-press-release">
        04 November 2013
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        Transport for London (TfL) has successfully prosecuted Thames Water for a succession of roadwork offences in London, which caused unnecessary disruption to London's road users.
        
    </div>



<div class="pull-quote">
        <div class="quote-body">"Our lane rental scheme has dramatically reduced roadwork disruption since its introduction in 2012, we want to ensure roadwork disruption continues to fall and we will prosecute persistent offenders."</div>
        <div class="quote-footer">
            <div class="quotee-name">Garrett Emmerson</div>
            <div class="quotee-job-title">Chief Operating Officer for Surface Transport</div>
        </div>
</div>

 <div class="on-this-page">
<div class="pullquote right">
                        <p>
                            Our lane rental scheme has dramatically reduced roadwork disruption since its introduction in 2012, we want to ensure roadwork disruption continues to fall and we will prosecute persistent offenders. 
                            
                        </p>
                    </div>
                
            
            
            <p>It is the latest in a series of successful prosecutions by TfL as it works to reduce unnecessary roadworks to improve traffic flow and conditions for all London's road users.<br>&nbsp;<br>On 28 October 2013 Westminster Magistrate's Court fined Thames Water &pound;13,600 following a guilty plea to nine offences across the Transport for London Road Network (TLRN). </p>
<p>Thames Water's contractor, Options, committed the offences early this year in four locations:</p>
<ul>
<li>Euston Road for breach of permit conditions: &pound;1,600 </li>
<li>Millbank for working without a permit and three failures to notify offences: &pound;5,600 </li>
<li>Camberwell New Road for breach of permit conditions and a failure to notify offence: &pound;3,200 </li>
<li>Upper Clapton Road for breach of permit conditions and a failure to notify offence: &pound;3,200</li></ul>
<h3>Improving conditions for road users</h3>
<p>&nbsp;</p>

<p>The prosecution of Thames Water is one of a number of ways TfL is improving conditions for road users. </p>
<p>London's Lane Rental Scheme, launched by the Mayor of London and TfL on 11 June 2012, is designed to encourage utility companies to avoid digging up the busiest roads at peak traffic times. </p>
<p>Following the introduction of the scheme, more than 88 per cent of utility roadworks at traffic hotspots are now taking place outside of peak traffic hours, compared to around 30 per cent before the scheme was introduced. </p>
<p>For TfL's own roadworks, this figure is now 99 per cent.<br>&nbsp;<br>Garrett Emmerson, Chief Operating Officer for Surface Transport at TfL, said: 'We are pleased that the court has recognised just how serious it is when utility companies cause unnecessary delays to road users. </p>
<p>'Our lane rental scheme has dramatically reduced roadwork disruption since its introduction in 2012, we want to ensure roadwork disruption continues to fall and we will prosecute persistent offenders.'<br>&nbsp;<br>In addition to the large fine, the court ordered Thames Water to pay TfL's costs and a victim surcharge. </p>
<p>This is TfL's tenth successful prosecution of the year.</p>
<p>
<p>
<hr>
<strong>Notes to editors: 
<ul>
<li>As of April 2013, all London boroughs have introduced the London Permit Scheme. As a result firms undertaking work anywhere in London have to apply for a permit before they can begin digging up the roads </li>
<li>The permit scheme also enables TfL to monitor the number of roadworks taking place on its roads at any one time and ensure that they don't exceed the agreed limit. In 2010 the cap was put in place to reduce the maximum number of works taking place by 20 per cent; the limit has since been further revised to reduce the maximum number of works by a further 10 per cent. Traffic Police Community Support Officers (TPCSOs) are also used to clamp down on roadworks that are outside of their permit </li>
<li>Londoners can report disruptive or badly managed roadworks, as well as road defects such as potholes and damaged footpaths, by visiting <a href="https://reportit.tfl.gov.uk">https://reportit.tfl.gov.uk</a>. Any enquiries received will be sent directly to the relevant Highway Authority (TfL or a London borough) responsible, ensuring that direct and fast action can be taken<br></li></ul></strong>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
                <a href="/info-for/media/index" class="heading">
                    <h2 id="sub-menu-heading">Media<span class="visually-hidden"> navigation</span></h2>
                </a>
                <ul>
                    
                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases">Press releases</a></div>
                                <ul>
                                    
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2020">2020</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019">2019</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018">2018</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017">2017</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016">2016</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015">2015</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014">2014</a></div></li>
                            
 
                                        <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2013">2013</a></div>
                                        <ul>
                                            
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2013/15890">December</a></div></li>
                                    
 
                                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2013/november">November</a></div>
                                                <ul>
                                                    
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
                                                </ul>
                                            
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2013/october">October</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2013/september">September</a></div></li>
                                    
 
                                        <li><div class="link-wrapper"><a href="/info-for/media/press-releases/2013/august">August</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2013/july">July</a></div></li>
                                    
 
                                        <li><div class="link-wrapper"><a href="/info-for/media/press-releases/2013/june">June</a></div></li>
                                    
 
                                        <li><div class="link-wrapper"><a href="/info-for/media/press-releases/2013/16598">May</a></div></li>
                                    
 
                                        <li><div class="link-wrapper"><a href="/info-for/media/press-releases/2013/16698">April</a></div></li>
                                    
 
                                        <li><div class="link-wrapper"><a href="/info-for/media/press-releases/2013/march">March</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2013/16906">February</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2013/16962">January</a></div></li>
                                    
 
                                        </ul>
                                    </li>
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2012">2012</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2011">2011</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2010">2010</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2009">2009</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2008">2008</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2007">2007</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2006">2006</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2005">2005</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2004">2004</a></div></li>
                            
 
                                </ul>
                            </li>
 
                                <li><div class="link-wrapper"><a href="/info-for/media/photos">Photos</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/media/contact-the-press-office">Contact the Press Office</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/filming-and-photography">Filming & photography</a></div></li>
                            
 
                </ul>
            
 
 
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype: -Home-Media-Media-Press releases-2013-November-Thames Water fined for causing unnecessary disruption to London road users -->

 
 
        
        
            @{ViewBag.Description = "It is the latest in a series of successful prosecutions by TfL as it works to reduce unnecessary roadworks to improve traffic flow and conditions for all London's road users.&nbsp;On 28 October 2013 Westminster Magistrate's Court fined Thames Water";}
        
        


 