


@{ViewBag.Title = "Transport for London introduces more services to route 66";}
        
        
<div class="r">
    <div class="breadcrumb-container" role="navigation">
        <span id="breadcrumb-label" class="visually-hidden">You are here:</span>
        <ol class="breadcrumbs clearfix" aria-labelledby="breadcrumb-label">
            <li class="home">
                <a href="/">
                    <span class="hide-text">Home</span>
                </a>
            </li>
            
                <li>
                    <a href="/info-for/media/index">Media</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases">Press releases</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases/2013">2013</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases/2013/november">November</a>
                </li>
                
                <li>
                    <span class="last-breadcrumb">Transport for London introduces more services to route 66</span>
                </li>
            
 
            
 
            
 
            
 
            
 
        </ul>
    </div>
</div>
     
 
<div class="r">
    <div class="headline-container plain">
        <h1>Transport for London introduces more services to route 66</h1>
        <div class="content-page-press-release">
        12 November 2013
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        More services introduced on weekdays at peak times.
        
    </div>



 <div class="on-this-page">
<div class="pullquote right">
                        <p>
                            'London has an extensive bus network which we keep under regular review.  We are always seeking cost-effective ways in which we can improve the service we provide for our passengers. 
                            
                        </p>
                    </div>
                
            
            
            <ul>
<li>Evening and Sunday service to also increase</li></ul>

<p>Transport for London (TfL) has today announced it will be making improvements to the route 66 from Saturday 16 November to meet increased passenger demand in the Newbury Park area.&nbsp; </p>
<h3>Additional services introduced</h3>
<h3>&nbsp;</h3>
<p>This will see additional services introduced during the morning and evening weekday peak, in the early afternoon when schools finish as well as in the evenings and on Sundays.</p>
<p>The additional journeys will mean:</p>
<ul>
<li>During the morning peak (07:15 to 08:30) the service will operate every eight minutes (currently every 12 minutes) between Romford and Leytonstone </li>
<li>During afternoon school times two additional journeys will be introduced from Leytonstone to Romford, calling at Newbury Park station at 15:40 and 16:15 </li>
<li>During the evening peak (17:55 to 18:55) the service will operate every 10 minutes (currently every 12 minutes) from Leytonstone to Romford </li>
<li>During the late evening and on Sundays the service will operate every 20 minutes (currently every 30 minutes)</li></ul>
<p>John Barry, Head of Network Development for TfL, said: 'London has an extensive bus network which we keep under regular review.&nbsp; We are always seeking cost-effective ways in which we can improve the service we provide for our passengers.&nbsp; These additional services and increased frequencies will deliver benefits where they are needed most.'</p>
<p>This service change is part of TfL's management and development of a network that comprises around 700 routes across Greater London operated by 7,600 buses at peak times, carrying more than 2.3 billion passengers every year.&nbsp; </p>
<p>TfL keeps the network under regular review, working with the London Boroughs and other partners to help ensure that services can respond to London's changing travel needs.&nbsp; </p>
<p>Demand and reliability is monitored very closely and regular changes are made to schedules and routes as a result.&nbsp; </p>
<p>Bus service levels in London have increased by over 40 per cent since the formation of TfL in 2000 and reliability and customer satisfaction are at the highest levels since records began. </p>
<p>
<hr>
<strong>Notes to editors: </strong>
<ul>
<li>Route 66, operated by Arriva Kent Thameside, runs between Romford and Leytonstone bus station via Newbury Park station </li>
<li>The changes will be implemented from the evening of Saturday 16 November 2013</li></ul>
<p>&nbsp;</p>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
                <a href="/info-for/media/index" class="heading">
                    <h2 id="sub-menu-heading">Media<span class="visually-hidden"> navigation</span></h2>
                </a>
                <ul>
                    
                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases">Press releases</a></div>
                                <ul>
                                    
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2020">2020</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019">2019</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018">2018</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017">2017</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016">2016</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015">2015</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014">2014</a></div></li>
                            
 
                                        <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2013">2013</a></div>
                                        <ul>
                                            
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2013/15890">December</a></div></li>
                                    
 
                                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2013/november">November</a></div>
                                                <ul>
                                                    
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
                                                </ul>
                                            
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2013/october">October</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2013/september">September</a></div></li>
                                    
 
                                        <li><div class="link-wrapper"><a href="/info-for/media/press-releases/2013/august">August</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2013/july">July</a></div></li>
                                    
 
                                        <li><div class="link-wrapper"><a href="/info-for/media/press-releases/2013/june">June</a></div></li>
                                    
 
                                        <li><div class="link-wrapper"><a href="/info-for/media/press-releases/2013/16598">May</a></div></li>
                                    
 
                                        <li><div class="link-wrapper"><a href="/info-for/media/press-releases/2013/16698">April</a></div></li>
                                    
 
                                        <li><div class="link-wrapper"><a href="/info-for/media/press-releases/2013/march">March</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2013/16906">February</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2013/16962">January</a></div></li>
                                    
 
                                        </ul>
                                    </li>
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2012">2012</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2011">2011</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2010">2010</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2009">2009</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2008">2008</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2007">2007</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2006">2006</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2005">2005</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2004">2004</a></div></li>
                            
 
                                </ul>
                            </li>
 
                                <li><div class="link-wrapper"><a href="/info-for/media/photos">Photos</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/media/contact-the-press-office">Contact the Press Office</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/filming-and-photography">Filming & photography</a></div></li>
                            
 
                </ul>
            
 
 
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype: -Home-Media-Media-Press releases-2013-November-Transport for London introduces more services to route 66 -->

 
 
        
        
            @{ViewBag.Description = "Evening and Sunday service to also increaseTransport for London (TfL) has today announced it will be making improvements to the route 66 from Saturday 16 November to meet increased passenger demand in the Newbury Park area.&nbsp; Additional services";}
        
        


 