


@{ViewBag.Title = "Unclaimed toys lost on TfL's network will still bring Christmas cheer to London's children ";}
        
        
<div class="r">
    <div class="breadcrumb-container" role="navigation">
        <span id="breadcrumb-label" class="visually-hidden">You are here:</span>
        <ol class="breadcrumbs clearfix" aria-labelledby="breadcrumb-label">
            <li class="home">
                <a href="/">
                    <span class="hide-text">Home</span>
                </a>
            </li>
            
                <li>
                    <a href="/info-for/media/index">Media</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases">Press releases</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases/2013">2013</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases/2013/november">November</a>
                </li>
                
                <li>
                    <span class="last-breadcrumb">Unclaimed toys lost on TfL's network will still bring Christmas cheer to London's children </span>
                </li>
            
 
            
 
            
 
            
 
            
 
        </ul>
    </div>
</div>
     
 
<div class="r">
    <div class="headline-container plain">
        <h1>Unclaimed toys lost on TfL's network will still bring Christmas cheer to London's children </h1>
        <div class="content-page-press-release">
        25 November 2013
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        More than 500 unclaimed children's toys left on the Transport for London (TfL) network will be donated to The Salvation Army today in time for Christmas.
        
    </div>



<div class="pull-quote">
        <div class="quote-body">"This donation from Transport for London is invaluable in allowing us to provide toys to children and families who would otherwise go without this Christmas."</div>
        <div class="quote-footer">
            <div class="quotee-name">Captain Kevin Stanbury</div>
            <div class="quotee-job-title">of The Salvation Army's Deptford Community Church</div>
        </div>
</div>

 <div class="on-this-page">
<div class="pullquote right">
                        <p>
                            This donation from Transport for London is invaluable in allowing us to provide toys to children and families who would otherwise go without this Christmas.
                            
                        </p>
                    </div>
                
            
            
            <ul>
<li>TfL urges passengers to check they have all their belongings before leaving the network</li></ul>
<p>A mountain of new, unclaimed children's toys which were handed in to&nbsp;TfL's Lost Property Office this year have been given to The Salvation Army to donate to children in south London so they get a gift this Christmas.</p>
<p>Earlier today, exactly a month before Christmas, TfL gave over 500 lost toys to the Deptford branch of The Salvation Army, for their Christmas Present Appeal. </p>
<p>The Salvation Army will now work with Lewisham Council to distribute the toys to those who will appreciate them most and may otherwise have gone without this Christmas. </p>
<p>This is the seventh year TfL's Lost Property Office has donated new unclaimed children's toys to The Salvation Army. </p>
<p>All the brand new toys donated today were left on the transport network and went unclaimed for over three months, they have all been provided in their packaging and will bring joy to children of all ages as they range from dolls and play sets to board games and electronic gadgets.</p>
<p>Losing an item of property can be devastating, particularly at this time of year when people are saving for Christmas. </p>
<p>TfL urges all passengers to check they have their belongings with them before leaving any mode of transport, especially when they may have extra luggage or shopping with them. </p>
<p>Paul Cowan, Operations Performance Manager of the Lost Property Office, said: 'Although it is a shame that these toys were not reclaimed by the original owners, the thought that they will now bring smiles to the faces of many children who might otherwise have gone without is heartwarming. </p>
<p>'The fact that so many brand new toys have been handed in is also a testament to the honesty of the travelling public in London. </p>
<p>'The team here work extremely hard throughout the year to deal with hundreds of thousands of items of lost property and it is great to see their efforts highlighted once again through this donation to such a worthy cause.' </p>
<p>Captain Kevin Stanbury, of The Salvation Army's Deptford Community Church, said: 'This donation from Transport for London is invaluable in allowing us to provide toys to children and families who would otherwise go without this Christmas. </p>
<p>'The Salvation Army work closely with local council outreach workers to ensure that the toys go to those who are most in need. </p>
<p>'As a Church and charity we look to be there for people when they need us, not just at Christmas but all year round, by offering compassionate support and practical help which we hope our toy appeals are one example of. </p>
<p>'We hope families and children who were facing a bleak Christmas can now feel the joy and happiness that the season should bring.'</p>
<p>It is estimated that the Lost Property Office has received over 15 million items since it was established in 1933. </p>
<p>Last year, over 246,000 items of property were found on the TfL network, ranging from bags, books and clothing to mobile phones, laptops, wallets and cameras. </p>
<p>Over the years, many extraordinary items have been handed in to the Lost Property Office including false teeth and limbs, wedding dresses, stuffed animals, an urn of ashes and even a parachute. </p>
<p>Close to one quarter of items found on the network are restored to their owner. </p>
<p>Higher value items and those with unique identification, such as mobile phones and wallets have a better success rate with up to half being returned. </p>
<p>Items not claimed after three months have personal data removed and securely destroyed before either being donated to charities including The Salvation Army and the British Red Cross, recycled, disposed of, or sold at auction. </p>
<p>Any revenue generated from unclaimed items contributes towards the cost of running the Lost Property Office.</p>
<p>
<hr>
</p>
<h3>Notes to editors:</h3>
<ul>
<li>Images of the donation are available here: <a href="http://www.flickr.com/photos/tflpress/sets/72157638038476164/">www.flickr.com/photos/tflpress/sets/72157638038476164/</a> </li>
<li>All the toys donated to The Salvation Army are found on TfL's transport network. The Lost Property Office (LPO) only donates toys that have not been claimed for over three months and are still in their original packaging. Toys which are used or not in a new condition are still donated to charity throughout the year</li>
<li>The LPO receives over one thousand items of property per day from across TfL's service network</li>
<li>Property normally takes between two and ten working days to arrive at the LPO </li>
<li>If a name and address or e-mail address is found on the property, the potential owner is contacted and told that the LPO may have their item of property </li>
<li>Customers can enquire about lost property in several ways: <br>o By calling 0343 222 1234 between 8:30 and 16:00, Monday to Friday (except Bank Holidays) <br>o By filling in an online enquiry form found here: <a href="http://goo.gl/0ptkq">http://goo.gl/0ptkq</a> <br>o By faxing 020 7918 1028 <br>o In person or by writing to:<br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Lost Property Office<br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 200 Baker Street<br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; London <br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; NW1 5RZ</li>
<li>Items not claimed after three months have personal data removed and securely destroyed before either being donated to charity including The Salvation Army and the British Red Cross, recycled, disposed of, or sold at auction. Any revenue generated from unclaimed items contributes towards the cost of running the Lost Property Office</li>
<li>The Salvation Army is an international Christian church and registered charity working in 125 countries worldwide, offering support, friendship and very practical help to people of all ages, background and needs. In the UK and Ireland this work includes more than 800 community churches and social service centres. Registered charity numbers England and Wales 214779, 215174 and in Scotland SC009359, SC037691, and Republic of Ireland CHY6399. For more information visit&nbsp; <a href="http://www.salvationarmy.org.uk">www.salvationarmy.org.uk</a>&nbsp; </li>
<li>The Salvation Army Christmas Present Appeal runs until 16 December nationally. People are encouraged to donate new, unwrapped toys at local drop off points. For details visit: <a href="http://www.salvationarmy.org.uk/uki/christmas-present-appeal">www.salvationarmy.org.uk/uki/christmas-present-appeal</a> </li>
<li>For more information on The Salvation Army Christmas appeal email: <a href="mailto:presentappeal&#64;salvationarmy.org.uk">presentappeal&#64;salvationarmy.org.uk</a> </li></ul>
<p>&nbsp;</p>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
                <a href="/info-for/media/index" class="heading">
                    <h2 id="sub-menu-heading">Media<span class="visually-hidden"> navigation</span></h2>
                </a>
                <ul>
                    
                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases">Press releases</a></div>
                                <ul>
                                    
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2020">2020</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019">2019</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018">2018</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017">2017</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016">2016</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015">2015</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014">2014</a></div></li>
                            
 
                                        <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2013">2013</a></div>
                                        <ul>
                                            
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2013/15890">December</a></div></li>
                                    
 
                                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2013/november">November</a></div>
                                                <ul>
                                                    
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
                                                </ul>
                                            
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2013/october">October</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2013/september">September</a></div></li>
                                    
 
                                        <li><div class="link-wrapper"><a href="/info-for/media/press-releases/2013/august">August</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2013/july">July</a></div></li>
                                    
 
                                        <li><div class="link-wrapper"><a href="/info-for/media/press-releases/2013/june">June</a></div></li>
                                    
 
                                        <li><div class="link-wrapper"><a href="/info-for/media/press-releases/2013/16598">May</a></div></li>
                                    
 
                                        <li><div class="link-wrapper"><a href="/info-for/media/press-releases/2013/16698">April</a></div></li>
                                    
 
                                        <li><div class="link-wrapper"><a href="/info-for/media/press-releases/2013/march">March</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2013/16906">February</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2013/16962">January</a></div></li>
                                    
 
                                        </ul>
                                    </li>
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2012">2012</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2011">2011</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2010">2010</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2009">2009</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2008">2008</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2007">2007</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2006">2006</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2005">2005</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2004">2004</a></div></li>
                            
 
                                </ul>
                            </li>
 
                                <li><div class="link-wrapper"><a href="/info-for/media/photos">Photos</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/media/contact-the-press-office">Contact the Press Office</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/filming-and-photography">Filming & photography</a></div></li>
                            
 
                </ul>
            
 
 
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype: -Home-Media-Media-Press releases-2013-November-Unclaimed toys lost on TfL's network will still bring Christmas cheer to London's children  -->

 
 
        
        
            @{ViewBag.Description = "TfL urges passengers to check they have all their belongings before leaving the networkA mountain of new, unclaimed children's toys which were handed in to&nbsp;TfL's Lost Property Office this year have been given to The Salvation Army to donate to";}
        
        


 