
    
  



@{ViewBag.Title = "London airports ";}
@{ViewBag.Keywords = "TfL";}
@{ViewBag.Url = "/travel-information/visiting-london/getting-to-london/london-airports";}
@{ViewBag.Language = "en";}
        <!-- empty placeholder -->
 
        
        
<div class="r">
    <div class="breadcrumb-container" role="navigation">
        <span id="breadcrumb-label" class="visually-hidden">You are here:</span>
        <ol class="breadcrumbs clearfix" aria-labelledby="breadcrumb-label">
            <li class="home">
                <a href="/">
                    <span class="hide-text">Home</span>
                </a>
            </li>
            
                 <li><a href="/travel-information/visiting-london/index">Visiting London </a></li>
                
            
                 <li><a href="/travel-information/visiting-london/getting-to-london">Getting to London</a></li>
                
            
            
                <li><span class="last-breadcrumb">London airports </span></li>
            
        
 
        
 
        
 
        </ol>
    </div>
</div>
     
 
<div class="r">
  <div class="headline-container plain">
    <h1>London airports </h1>

  </div>
</div>
<div class="main-and-aside r">
  
  <div class="main content-container" role="main">
    
      <div class="article-teaser">
        London is served by five main airports. Whether it's Heathrow or London City, find out how to get there.
        
      </div>
    
    
      
      
           
      <div class="accordion">




<div class="expandable-box">




        <div class="content">
            <div class="always-visible" role="button" aria-controls="heathrow-airport-content" aria-expanded="false" tabindex="0">
                <div class="controls" data-tracking="prop36" data-tracking-value="London airports -Heathrow Airport"><span class="visually-hidden">Toggle accordion</span></div>
                <div id="heathrow-airport-heading" class="accordion-heading">Heathrow Airport</div>
            </div>
            <div id="heathrow-airport-content" class="start-hidden" role="region" aria-labelledby="heathrow-airport-heading">
<p>Heathrow is about 20 miles (32km) west of central London. These are the quickest and easiest ways to get there:</p>

<h2>London Underground</h2>

<div class="table-container"><table>
	<tbody>
		<tr>
			<td><strong>Tube line</strong></td>
			<td>Piccadilly</td>
		</tr>
		<tr>
			<td><strong>Heathrow terminal&nbsp; </strong></td>
			<td>
			<p>2, 3, 4, 5</p>
			</td>
		</tr>
		<tr>
			<td><strong>Services</strong></td>
			<td>To and from central London</td>
		</tr>
		<tr>
			<td><strong>Service times</strong></td>
			<td>
			<p>05:00 and 23:40, Sunday to Thursday<br />
			24 hours Friday and Saturday (<a href="/campaign/tube-improvements/what-we-are-doing/night-tube">Night Tube</a> serving Terminals 2, 3 and 5 only)</p>
			</td>
		</tr>
		<tr>
			<td><strong>Exceptions</strong></td>
			<td>Heathrow terminal 4 closes at 23:35, Monday to Saturday and 23:15 on Sunday</td>
		</tr>
		<tr>
			<td><strong>Journey time</strong></td>
			<td>Approximately 50 minutes</td>
		</tr>
		<tr>
			<td><strong>Fares</strong></td>
			<td><a href="/fares/find-fares/tube-and-rail-fares/single-fare-finder">Check latest fares</a></td>
		</tr>
	</tbody>
</table></div>

<p><strong>Tip: </strong>Use <a href="/fares/how-to-pay-and-where-to-buy-tickets-and-oyster/pay-as-you-go/contactless-and-mobile-pay-as-you-go">contactless</a>, <a href="/fares/how-to-pay-and-where-to-buy-tickets-and-oyster/pay-as-you-go/oyster-pay-as-you-go">Oyster</a> or a <a href="/travel-information/visiting-london/visitor-oyster-card">Visitor Oyster card</a> to travel to and from Heathrow airport on the Underground.</p>

<h2>Heathrow by rail</h2>

<h3>TfL Rail</h3>

<div class="table-container"><table>
	<tbody>
		<tr>
			<td><strong>Heathrow terminal </strong></td>
			<td>2 and 3 (with a free shuttle service which connects terminals 4 and 5 with 2 and 3)</td>
		</tr>
		<tr>
			<td><strong>Services</strong></td>
			<td>To and from Paddington, calling at:<br />
			• Hayes &amp; Harlington<br />
			• Southall<br />
			• Hanwell (except Sundays)<br />
			• West Ealing (except Sundays)<br />
			• Ealing Broadway<br />
			Change at Hayes &amp; Harlington for Acton Main Line.</td>
		</tr>
		<tr>
			<td><strong>Service times</strong></td>
			<td>Every 30 minutes from 05:22 until 00:07, Monday to Saturday<br />
			Every 60 minutes from 06:01 until 00:01 Sundays</td>
		</tr>
		<tr>
			<td><strong>Exceptions</strong></td>
			<td>Heathrow terminal 4 closes at 23:35, Monday to Saturday and 23:15 on Sunday</td>
		</tr>
		<tr>
			<td><strong>Journey time</strong></td>
			<td>Approximately 25 minutes</td>
		</tr>
		<tr>
			<td><strong>Fares</strong></td>
			<td>The single adult pay as you go fare between Paddington and Heathrow is &pound;10.20 during peak hours (06:30 - 09:30, and 16:00 - 19:00, Monday to Friday). At all other times the single adult pay as you go fare&nbsp;is &pound;10.10.<br />
			At all other times the single adult fare is &pound;10.10.</td>
		</tr>
	</tbody>
</table></div>

<p>Use <a href="/fares/how-to-pay-and-where-to-buy-tickets-and-oyster/pay-as-you-go/contactless-and-mobile-pay-as-you-go">contactless</a>, <a href="/fares/how-to-pay-and-where-to-buy-tickets-and-oyster/pay-as-you-go/oyster-pay-as-you-go">Oyster</a> or a <a href="/travel-information/visiting-london/visitor-oyster-card">Visitor Oyster</a> card to travel to and from Heathrow airport on TfL Rail and benefit from <a href="/fares/find-fares/tube-and-rail-fares/pay-as-you-go-caps">daily capping</a>.</p>

<h3>Heathrow Express</h3>

<p>Heathrow Express operates four non-stop trains per hour to and from Paddington. Trains depart from Paddington between 05:10 and 23:25 and return from Terminal 4 between 05:23 and 00:01 and Terminal 5 between 05:07 and 23:42. Journey time 15-20 minutes.</p>

<p>The journey time between the stations at Heathrow (Terminals&nbsp; 2, 3) and (Terminals 4 and 5) is 15-20 minutes. Passengers for Terminal 4 must change at Terminals 2, 3 for the free and frequent transfer service to Terminal 4.</p>

<p>You can <a href="/fares/how-to-pay-and-where-to-buy-tickets-and-oyster/pay-as-you-go">pay as you go</a>&nbsp;using contactless (card or device) or an Oyster card to travel to Heathrow Airport. <a href="/fares/find-fares/tube-and-rail-fares/single-fare-finder">Find fares</a>.</p>

<p>Get more information and fares on the <a href="https://www.heathrowexpress.com/">Heathrow Express website</a>.</p>

<h2>Coach</h2>

<p>National Express operates a regular service to and from Victoria Coach Station. The journey time is 35-60 minutes.</p>

<h2>Taxi</h2>

<p>Taxis are available at Heathrow Airport 24 hours a day, 365 days a year. There are taxi ranks at all five terminals, as well as taxi information desks inside.</p>

<p>Heathrow to central London by taxi is approximately 30-45 minutes. If there are four or five of you travelling, sharing the cost of the taxi could be cheaper than the bus or train.</p>

<p>Do not travel with anyone offering a 'taxi' service inside the terminal. It is likely to be an illegal, unlicensed driver.</p>

            </div>
        </div>
    </div>
 <div class="expandable-box">




        <div class="content">
            <div class="always-visible" role="button" aria-controls="gatwick-airport-content" aria-expanded="false" tabindex="0">
                <div class="controls" data-tracking="prop36" data-tracking-value="London airports -Gatwick Airport"><span class="visually-hidden">Toggle accordion</span></div>
                <div id="gatwick-airport-heading" class="accordion-heading">Gatwick Airport</div>
            </div>
            <div id="gatwick-airport-content" class="start-hidden" role="region" aria-labelledby="gatwick-airport-heading">
<p>Gatwick is 30 miles (48km) to the south of central London.</p>
<h2>Gatwick by rail</h2>
<h3>Gatwick Express</h3>
<p>Gatwick Express operates four trains per hour to and from London Victoria. Journey time 30 minutes. There is no service between 00:30 and 03:30 from London and between 01:35 and 04:35 from Gatwick. Other rail operators run services through the night.</p>
<h3>Southern</h3>
<p>Southern  operates three trains per hour to and from London Victoria. Average journey time is 40 minutes. An hourly service operates through the night.</p>
<h3>Thameslink</h3>
<p>Thameslink operates up to four trains per hour to and from London Bridge, City Thameslink, Farringdon and St. Pancras International.</p>
<p>From January 2016 you can use contactless. Oyster or a Visitor Oyster card to travel to/from Gatwick Airport on Gatwick Express, Southern and Thameslink train services:</p>
<ul>
    <li>The pay as you go fare for a single journey on Gatwick Express is &pound;19.80</li>
    <li>The pay as you go fare for a single journey on Southern and Thameslink services is &pound;14 (peak) or &pound;8 (off-peak)</li>
</ul>
<h2>Coach</h2>
<h3>National Express</h3>
<p>National Express operates a regular service, operating 24 hours a day, to and from Victoria Coach Station, via Streatham. Journey time 65-95 minutes.</p>
<h3>Easybus</h3>
<p>Easybus route EB4 operates a regular service to and from Earls Court/West Brompton. Journey time from 65 minutes.</p>

            </div>
        </div>
    </div>
 <div class="expandable-box">




        <div class="content">
            <div class="always-visible" role="button" aria-controls="stansted-airport-content" aria-expanded="false" tabindex="0">
                <div class="controls" data-tracking="prop36" data-tracking-value="London airports -Stansted Airport"><span class="visually-hidden">Toggle accordion</span></div>
                <div id="stansted-airport-heading" class="accordion-heading">Stansted Airport</div>
            </div>
            <div id="stansted-airport-content" class="start-hidden" role="region" aria-labelledby="stansted-airport-heading">
<p>Stansted Airport is 35 miles (56km) to the north east of central London.</p>

<h2>Stansted by rail</h2>

<h3>Stansted Express</h3>

<p>Stansted Express operates up to four trains per hour to and from Liverpool Street station. Journey time from 45 minutes. Trains from Liverpool Street station commence at 04:10 with the last train leaving at 23:25. Trains from Stansted Airport commence at 06:00 (later at weekends). Connections from the Tube are also available at Tottenham Hale which is 11 minutes from Liverpool Street on the Stansted Express.</p>

<h3>Travelling through Tottenham Hale station</h3>

<p>From Friday 5 January 2018 until summer 2018 it will not be possible to buy the full range of tickets or&nbsp;get Oyster refunds at Tottenham Hale station. This is while we make improvements to the station.</p>

<p>We advise you to:</p>

<ul>
	<li>Buy your ticket at Stansted Airport or Liverpool Street Underground station</li>
	<li>Buy a <a href="/travel-information/visiting-london/visitor-oyster-card">Visitor Oyster card</a> online before you travel, or at the Stansted Express ticket office or the Stansted Airport Information Centre</li>
	<li>Use a <a href="/fares/how-to-pay-and-where-to-buy-tickets-and-oyster/pay-as-you-go/contactless-and-mobile-pay-as-you-go">contactless card</a> to pay as you go while in London</li>
</ul>

<h3>Abellio Greater Anglia</h3>

<p>Abellio Greater Anglia operates services to Liverpool Street and Stratford stations. Journey time from 80 minutes.</p>

<h2>Coach</h2>

<h3>National Express</h3>

<p>National Express operates two separate coach services between Stansted and central London:</p>

<p>A6 operates up to every 15 minutes, 24 hours a day to and from Victoria Coach Station via Marble Arch, Baker Street (Gloucester Place), Finchley Road and Golders Green. Journey time from 90 minutes.<br />
A9 operates every 30 minutes to and from Liverpool Street station and Stratford, 24 hours per day. Journey time 50-80 minutes.</p>

<h3>Terravision</h3>

<p>Terravision operates three separate coach services between Stansted and central London:</p>

<p>A50 operates every 30 minutes to and from Victoria Green Line Coach Station<br />
A51 operates every 30 minutes to and from Liverpool Street station<br />
A52 operates every 30 minutes to and from Stratford station<br />
Journey time 50-75 minutes.</p>

<h3>Easybus</h3>

<p>Easybus route EB2 operates a regular service from Baker Street (Gloucester Place). Journey time from 70 minutes.</p>

            </div>
        </div>
    </div>
 <div class="expandable-box">




        <div class="content">
            <div class="always-visible" role="button" aria-controls="luton-airport-content" aria-expanded="false" tabindex="0">
                <div class="controls" data-tracking="prop36" data-tracking-value="London airports -Luton Airport"><span class="visually-hidden">Toggle accordion</span></div>
                <div id="luton-airport-heading" class="accordion-heading">Luton Airport</div>
            </div>
            <div id="luton-airport-content" class="start-hidden" role="region" aria-labelledby="luton-airport-heading">
Luton Airport is located approximately 30 miles (48km) to the north of London. Luton Airport Parkway train station is close to the airport and a regular shuttle bus connects the two. Rail passengers can buy through tickets to the airport and other passengers can buy shuttle bus tickets for &pound;1.
<h2>
<p>Luton by rail</p>
</h2>
<h3>
<p>Thameslink</p>
</h3>
<p>Thameslink operate up to six trains per hour to and from St Pancras International, London Bridge, Farringdon, London City Thameslink and Blackfriars stations. Journey time from 35 minutes. An hourly service operates through the night to and from St Pancras International and Blackfriars. However, please note there are no trains between approximately 01:00 and 03:00.</p>
<h3>
<p>East Midlands Trains</p>
</h3>
<p>East Midlands Trains (formerly Midland Mainline) operate a frequent service from St. Pancras to and from Luton Airport Parkway station. Journey time from 21 minutes between 06:00 (09:00 Sundays) and 23:15.</p>
<h2>
<p>Coach</p>
</h2>
<h3>
<p>Green Line</p>
</h3>
<p>Green Line route 757 operates a regular service, operating 24 hours a day, to and from Luton via Finchley Road, Baker Street (Gloucester Place), Marble Arch and Victoria, for a connection to Luton Airport. Please note that this is not a direct service. Journey time from 90 minutes. </p>
<h3>
<p>Easybus</p>
</h3>
<p>Easybus route EB7 operates a regular service to and from Baker Street (Gloucester Place) direct to Luton Airport. Journey time from 60 minutes.</p>
<h3>
<p>National Express</p>
</h3>
<p>National Express route A1 operates a regular service 24 hours a day between Golders Green, Finchley Road, Baker Street (Gloucester Place), Marble Arch, Victoria and Luton Airport. Journey time from 70 minutes.</p>

            </div>
        </div>
    </div>
 <div class="expandable-box">




        <div class="content">
            <div class="always-visible" role="button" aria-controls="london-city-airport-content" aria-expanded="false" tabindex="0">
                <div class="controls" data-tracking="prop36" data-tracking-value="London airports -London City Airport"><span class="visually-hidden">Toggle accordion</span></div>
                <div id="london-city-airport-heading" class="accordion-heading">London City Airport</div>
            </div>
            <div id="london-city-airport-content" class="start-hidden" role="region" aria-labelledby="london-city-airport-heading">
<h2>Using Oyster on the DLR from London City Airport</h2>

<p>The airport has a dedicated station on the Docklands Light Railway (DLR). Journey times are 18 minutes to Canary Wharf and 22 minutes to Bank. Trains run every 10 minutes departing Canary Wharf and Bank between 05:30 (07:00 on Sundays) and 00:38 and departing City Airport between 05:28 (07:00 on Sundays) and 00:20.</p>

<p><a href="/fares/find-fares/tube-and-rail-fares/single-fare-finder">Check the latest fares</a>.</p>

<p><strong>Tip: </strong>Use <a href="/fares/how-to-pay-and-where-to-buy-tickets-and-oyster/pay-as-you-go/contactless-and-mobile-pay-as-you-go">contactless</a>, <a href="/fares/how-to-pay-and-where-to-buy-tickets-and-oyster/pay-as-you-go/oyster-pay-as-you-go">Oyster</a> or a <a href="/travel-information/visiting-london/visitor-oyster-card">Visitor Oyster card</a> to travel to and from London City Airport on the DLR.</p>

            </div>
        </div>
    </div>
 <div class="expandable-box">




        <div class="content">
            <div class="always-visible" role="button" aria-controls="southend-airport-content" aria-expanded="false" tabindex="0">
                <div class="controls" data-tracking="prop36" data-tracking-value="London airports -Southend Airport"><span class="visually-hidden">Toggle accordion</span></div>
                <div id="southend-airport-heading" class="accordion-heading">Southend Airport</div>
            </div>
            <div id="southend-airport-content" class="start-hidden" role="region" aria-labelledby="southend-airport-heading">
<p>London Southend Airport  is located approximately 42 miles (68 km) to the east of the centre of London.</p>
<h2>Southend by rail</h2>
<p>Abellio Greater Anglia operates services to Liverpool Street station and to Stratford station. Journey time around 53 minutes to Liverpool Street and around 44 minutes to Stratford.</p>

            </div>
        </div>
    </div>
 
</div>
 
      
        
          
        
      
    
  </div>
  <div class="aside" role="complementary">

   
    
    
    
      <div data-set="sidenav-container" class="large">
        
        
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
 
 
 
                <a href="/travel-information/visiting-london/index" class="heading">
                    <h2 id="sub-menu-heading">Visiting London <span class="visually-hidden"> navigation</span></h2>
                </a>
                <ul>
                    
                                <li><div class="link-wrapper"><a href="/travel-information/visiting-london/visitor-oyster-card">Visitor Oyster card</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/travel-information/visiting-london/experience-london">Experience London</a></div></li>
                            
 
                                <li class="selected parent"><div class="link-wrapper"><a href="/travel-information/visiting-london/getting-to-london">Getting to London</a></div>
                                <ul>
                                    
                                <li><div class="link-wrapper"><a href="/travel-information/visiting-london/getting-to-london/rail-connections">Rail connections</a></div></li>
                            
 
                                        <li class="selected"><div class="link-wrapper"><a href="/travel-information/visiting-london/getting-to-london/london-airports">London airports </a></div>
                                    </li>
 
                                </ul>
                            </li>
 
                                <li class="parent"><div class="link-wrapper"><a href="/travel-information/visiting-london/getting-around-london">Getting around London</a></div></li>
                            
 
                </ul>
            
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
      </div>
    
    <div>




















<div class="advert-tile unsponsored-style google-ads" aria-hidden="true">
  <div class="advert-link">
    <div class="advert-content">
        <div class="medium-large" data-advert="/76889402/non-targeted" data-advert-sizes="300, 250"></div>
        <div class="small" data-advert="/76889402/non-targeted" data-advert-sizes="300, 250"></div>
    </div>
  </div>
</div>
@{
    ViewBag.AmazonSlot = "'amznslots'";
    ViewBag.AmazonAds = "'3199'"; // to add another value, this needs to be ViewBag.AmazonAds = "'3199','xx'";
}
      

 </div>
    
    <div data-set="sidenav-container" class="small-medium"></div>
  </div>
</div>
 
 
        
        
        
            @{ViewBag.Description = "Getting to and from London airports.";}
        
            
        


 