
    
  



@{ViewBag.Title = "Rail connections";}
@{ViewBag.Keywords = "TfL";}
@{ViewBag.Url = "/travel-information/visiting-london/getting-to-london/rail-connections";}
@{ViewBag.Language = "en";}
        <!-- empty placeholder -->
 
        
        
<div class="r">
    <div class="breadcrumb-container" role="navigation">
        <span id="breadcrumb-label" class="visually-hidden">You are here:</span>
        <ol class="breadcrumbs clearfix" aria-labelledby="breadcrumb-label">
            <li class="home">
                <a href="/">
                    <span class="hide-text">Home</span>
                </a>
            </li>
            
                 <li><a href="/travel-information/visiting-london/index">Visiting London </a></li>
                
            
                 <li><a href="/travel-information/visiting-london/getting-to-london">Getting to London</a></li>
                
            
            
                <li><span class="last-breadcrumb">Rail connections</span></li>
            
        
 
        
 
        
 
        </ol>
    </div>
</div>
     
 
<div class="r">
  <div class="headline-container plain">
    <h1>Rail connections</h1>

  </div>
</div>
<div class="main-and-aside r">
  
  <div class="main content-container" role="main">
    
      <div class="article-teaser">
        Central London (Zone 1) is supported by eight main train stations and several other smaller stations, as well as many more within Greater London. 
        
      </div>
    
    <div class="on-this-page">
      
      
           
      


        <div class="table-container"><table>
            <thead>
            </thead>
            <tbody>
                <tr>
                    <td style="text-align: left; vertical-align: middle;"><strong>Station</strong></td>
                    <td><strong>Tubes </strong><br />
                    </td>
                    <td><strong>Buses</strong></td>
                    <td><strong>Connections </strong><br />
                    </td>
                </tr>
                <tr>
                    <td>
                    <p>Paddington</p>
                    </td>
                    <td>Bakerloo, Circle, District, Hammersmith &amp; City
                    </td>
                    <td>
                    <p>7, 15, 23, 27, 36, 205, 436</p>
                    </td>
                    <td>Connect for airport
                    </td>
                </tr>
                <tr>
                    <td>
                    <p>Euston</p>
                    </td>
                    <td>Northern, Victoria
                    </td>
                    <td>
                    <p>253, 168, 91, 390, 73, 30, 476, 205, 10,18, 68</p>
                    </td>
                    <td>&nbsp;</td>
                </tr>
                <tr>
                    <td>
                    <p>King's Cross St. Pancras </p>
                    </td>
                    <td>
                    <p>Victoria, Picadilly, Northern, Circle, Metropolitan, Hammersmith &amp; City</p>
                    </td>
                    <td>
                    <p>259, 73, 91, 46, 214, 390, 17, 476, 30, 206, 476, 214, 205, 63, 450</p>
                    </td>
                    <td>Connect for airport</td>
                </tr>
                <tr>
                    <td style="text-align: left; vertical-align: middle;">
                    <p>Charing Cross </p>
                    </td>
                    <td>Northern, Bakerloo<br />
                    </td>
                    <td>
                    <p>6, 9, 11,13, 15, 23, 87, 91, 139,176</p>
                    </td>
                    <td>&nbsp;</td>
                </tr>
                <tr>
                    <td style="text-align: left; vertical-align: middle;">
                    <p>Liverpool Street</p>
                    <p>&nbsp;</p>
                    </td>
                    <td>Hammersmith &amp; City, Circle, Metropolitan, Central<br />
                    </td>
                    <td>
                    <p>11, 23, 133,153, 214, 271,8, 26, 35, 42, 47, 48, 78, 149, 242, 344, 388</p>
                    </td>
                    <td>Connect for airport</td>
                </tr>
                <tr>
                    <td>
                    <p>Waterloo </p>
                    </td>
                    <td>Jubilee, Northern, Bakerloo<br />
                    </td>
                    <td>
                    <p>168, 243, 59, 341, 139, 68, 26, 188, 521, 4, 76, 176, 172, 171, 381, 507, 77</p>
                    </td>
                    <td>River pier<br />
                    </td>
                </tr>
                <tr>
                    <td>
                    <p>London Bridge </p>
                    </td>
                    <td>Northern, Jubilee<br />
                    </td>
                    <td>
                    <p>17, 43, 48, 141, 149, 521</p>
                    </td>
                    <td>Connect for airport, River pier<br />
                    </td>
                </tr>
                <tr>
                    <td>
                    <p>Victoria </p>
                    </td>
                    <td>Victoria, Circle, District<br />
                    </td>
                    <td>
                    <p>16, 73, 8, 148, 36, 436, 82, 2, 38, 24, 52, 11, 211, 239, 507, C10, 185</p>
                    </td>
                    <td>Connect for airport<br />
                    </td>
                </tr>
            </tbody>
        </table></div>
        <br />
        <p>&nbsp;</p>
    


 
      
        
          
            @this.ScriptBlock(
              @<script>
                queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
              </script>
            )
          
        
      
    </div>
  </div>
  <div class="aside" role="complementary">

   
    
    
    
      <div data-set="sidenav-container" class="large">
        
        
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
 
 
 
                <a href="/travel-information/visiting-london/index" class="heading">
                    <h2 id="sub-menu-heading">Visiting London <span class="visually-hidden"> navigation</span></h2>
                </a>
                <ul>
                    
                                <li><div class="link-wrapper"><a href="/travel-information/visiting-london/visitor-oyster-card">Visitor Oyster card</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/travel-information/visiting-london/experience-london">Experience London</a></div></li>
                            
 
                                <li class="selected parent"><div class="link-wrapper"><a href="/travel-information/visiting-london/getting-to-london">Getting to London</a></div>
                                <ul>
                                    
                                        <li class="selected"><div class="link-wrapper"><a href="/travel-information/visiting-london/getting-to-london/rail-connections">Rail connections</a></div>
                                    </li>
 
                                <li><div class="link-wrapper"><a href="/travel-information/visiting-london/getting-to-london/london-airports">London airports </a></div></li>
                            
 
                                </ul>
                            </li>
 
                                <li class="parent"><div class="link-wrapper"><a href="/travel-information/visiting-london/getting-around-london">Getting around London</a></div></li>
                            
 
                </ul>
            
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
      </div>
    
    <div>




















<div class="advert-tile unsponsored-style google-ads" aria-hidden="true">
  <div class="advert-link">
    <div class="advert-content">
        <div class="medium-large" data-advert="/76889402/non-targeted" data-advert-sizes="300, 250"></div>
        <div class="small" data-advert="/76889402/non-targeted" data-advert-sizes="300, 250"></div>
    </div>
  </div>
</div>
@{
    ViewBag.AmazonSlot = "'amznslots'";
    ViewBag.AmazonAds = "'3199'"; // to add another value, this needs to be ViewBag.AmazonAds = "'3199','xx'";
}
      

 </div>
    
    <div data-set="sidenav-container" class="small-medium"></div>
  </div>
</div>
 
 
        
        
        
            @{ViewBag.Description = "Central London (Zone 1) is supported by eight main train stations and several other smaller stations, as well as many more within Greater London. ";}
        
            
        


 