
    
  



@{ViewBag.Title = "Safety & security";}
@{ViewBag.Keywords = "TfL";}
@{ViewBag.Url = "/corporate/safety-and-security/index";}
@{ViewBag.Language = "en";}
        <!-- empty placeholder -->
 
        
        
<div class="r">
    <div class="breadcrumb-container" role="navigation">
        <span id="breadcrumb-label" class="visually-hidden">You are here:</span>
        <ol class="breadcrumbs clearfix" aria-labelledby="breadcrumb-label">
            <li class="home">
                <a href="/">
                    <span class="hide-text">Home</span>
                </a>
            </li>
            
            
                <li><span class="last-breadcrumb">Safety & security</span></li>
            
        
 
        </ol>
    </div>
</div>
     
 
<div class="r">
    <div class="headline-container landing-page section-landing-container">
        <h1>Safety & security</h1>
        
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">
        <div class="small-medium" data-set="widget"></div>
        <div class="primary-teaser landing-page-teaser">
            
        </div>
        
        <div class="clearfix">
            <div>

<p>Security is a high priority on our network, and we operate anti-crime measures across the entire transport system. We also run road safety initiatives to promote best practice and educate young people.</p>
</div>
 
        </div>
        <div class="module-grid clearfix">
            <div class="news-teaser">

    <a href="/corporate/safety-and-security/road-safety?intcmp=2986" >
        <img src="/cdn/static/cms/images/promos/x001-00090-bus-traffic-junction_rdax_400x200.jpg" alt="oxford-circus" />
        
        <div class="text-link">
             <h2>Reducing road danger</h2>
            <p>We run various schemes and activities that aim to make roads safer for all users</p>
        </div>
    </a>
</div>
 
 <div class="news-teaser">

    <a href="/corporate/safety-and-security/security-on-the-network?intcmp=2864" >
        <img src="/cdn/static/cms/images/promos/t001-14167-safety-police_rdax_400x200.jpg" alt="A Police Community Support Officer watches over a station concourse" />
        
        <div class="text-link">
             <h2>Security on the network</h2>
            <p>We're working closely with the police to make London's transport system even safer</p>
        </div>
    </a>
</div>
 
 <div class="news-teaser">

    <a href="/corporate/safety-and-security/protecting-london-s-bridges?intcmp=58622" >
        <img src="/cdn/static/cms/images/promos/westminster-bridge-bollards-teaser_rdax_400x200.jpg" alt="Westminster Bridge - illustrations with anti-terror barriers" />
        
        <div class="text-link">
             <h2>Protecting London's bridges</h2>
            <p>We're developing proposals for permanent anti-terror barriers on our bridges</p>
        </div>
    </a>
</div>
 
 
        </div>
    </div>
    <div class="aside" role="complementary">
        <div class="large" data-set="widget">
            <div class="moving-source-order">
            
            </div>
        </div>
        <div class="module-grid">
            












<div class="advert-tile unsponsored-style google-ads" aria-hidden="true">
  <div class="advert-link">
    <div class="advert-content">
        <div class="medium-large" data-advert="/76889402/non-targeted" data-advert-sizes="300, 250"></div>
        <div class="small" data-advert="/76889402/non-targeted" data-advert-sizes="300, 250"></div>
    </div>
  </div>
</div>
@{
    ViewBag.AmazonSlot = "'amznslots'";
    ViewBag.AmazonAds = "'3199'"; // to add another value, this needs to be ViewBag.AmazonAds = "'3199','xx'";
}
      

 
            <div>
    
    <div class="contact-info-box">
        <div class="contact-info-header">
            <h3>Contact us about safety issues</h3>
        </div>
                                                         
        <div class="content-group">
            We're open 24 hours a day, 7 days a week.
        </div>
        
        
            
        
        
            
                
                 
        
        
        
        <div class="content-group">
            <p>
                <abbr title="Telephone number">Call</abbr>&nbsp;<a href="/corporate/terms-and-conditions/tfl-call-charges">Charges apply</a><br />
                0343 222 1234
            </p>
        </div>
        
        
        <div class="content-group">
            <p>
                <abbr title="Textphone">Textphone</abbr><br />
                0800 112 3456
            </p>
        </div>
        
        
        <div class="content-group">
            <p>
                <abbr title="Address">Write</abbr>
            </p>
            <p>Use our <a href="/help-and-contact/index">Enquiries and complaints forms</a> to report a safety incident online. </p>
<p>Or send a letter to:</p>
        </div>
        
        
        <div class="content-group">
            TfL Customer Service<br /> 4th Floor<br /> 14 Pier Walk<br /> London SE10 0ES
        </div>
        
    </div>
</div>
 <div class="related-links">

    <h3>Also on this site</h3>

<div class="vertical-button-container">

<a href="/travel-information/safety/index" class="plain-button">Safety for the public</a>
<a href="/info-for/schools-and-young-people/teaching-resources" class="plain-button">Teaching resources</a>
<a href="/travel-information/safety/report-a-crime-or-incident" class="plain-button">Report a crime or incident</a>
<a href="/corporate/publications-and-reports/crime-and-incident-bulletins" class="plain-button">Crime &amp; incident bulletins</a>
    </div>
</div>
 
        </div>
    </div>
    <div class="small-medium" data-set="content">&nbsp;</div>
</div>
 
        
        
        
            @{ViewBag.Description = "Security is a high priority on our network, and we operate anti-crime measures across the entire transport system.";}
        
            
        


 