
    
  



@{ViewBag.Title = "Protecting London's bridges";}
@{ViewBag.Keywords = "TfL";}
@{ViewBag.Url = "/corporate/safety-and-security/protecting-london-s-bridges";}
@{ViewBag.Language = "en";}
        <!-- empty placeholder -->
 
        
        
<div class="r">
    <div class="breadcrumb-container" role="navigation">
        <span id="breadcrumb-label" class="visually-hidden">You are here:</span>
        <ol class="breadcrumbs clearfix" aria-labelledby="breadcrumb-label">
            <li class="home">
                <a href="/">
                    <span class="hide-text">Home</span>
                </a>
            </li>
            
                 <li><a href="/corporate/safety-and-security/index">Safety & security</a></li>
                
            
            
                <li><span class="last-breadcrumb">Protecting London's bridges</span></li>
            
        
 
        
 
        </ol>
    </div>
</div>
     
 
<div class="r">
  <div class="headline-container plain">
    <h1>Protecting London's bridges</h1>

  </div>
</div>
<div class="main-and-aside r">
  
  <div class="main content-container" role="main">
    
      <div class="article-teaser">
        We are looking at permanent options to protect London's bridges from vehicle attacks by terrorists. We have identified a preferred plan for Westminster Bridge and want to work with boroughs and other groups to develop our proposals.
        
      </div>
    
    
      <p>After the terrorist attacks on Westminster Bridge and London Bridge in 2017, the Metropolitan Police Service installed temporary physical security barriers on eight central London bridges.</p>

<p>While developing our plans for permanent barriers we wanted to make sure that:</p>

<ul>
	<li>The proposals meet the <a href="/corporate/about-tfl/the-mayors-transport-strategy">Mayor's Transport Strategy</a> and work for the different bridge users</li>
	<li>The proposed designs are proportionate to the level of risk</li>
	<li>The heritage of the bridge is respected</li>
	<li>Any solution is technically feasible</li>
</ul>

<p>Our preferred plan for Westminster Bridge proposes using heritage-style bollards that create segregated space for cyclists across the bridge, and enough space for all other bridge users including buses and pedestrians.</p>
      
           
      <div class="clearfix">
    <div class="image-box">
    
        
        
        <img src="/cdn/static/cms/images/westminster-bridge-bollards.jpg" alt="CGI of Westminster Bridge with protecting bollards" />
        
        
        
    </div>   
 </div>
 
<div>




<p>We manage 6 of the bridges:</p>

<ul>
	<li>Westminster Bridge</li>
	<li>London Bridge</li>
	<li>Tower Bridge</li>
	<li>Vauxhall Bridge</li>
	<li>Lambeth Bridge</li>
	<li>Blackfriars Bridge</li>
</ul>

<p>The other 2 bridges are:</p>

<ul>
	<li>Waterloo Bridge (Westminster City Council)</li>
	<li>Southwark&nbsp;Bridge (City of London)</li>
</ul>
<div class="multi-document-download-container">
    

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/london-bridges-authority.pdf">
    <div class="document-download-text">
        <p>London's bridges - responsible authorities</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 65KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.06 -->
 
</div>

</div>
 <div>

<h2>Next steps</h2>

<p>We will meet with boroughs and groups, including cycling and community groups, and policing partners&nbsp;to develop our proposals.</p>

<p>We are already working with City of Westminster and Lambeth Council on our plans for Westminster Bridge. As the design develops we will review emerging technology and may adapt the proposals.</p>

<p>We have concentrated&nbsp;on Westminster Bridge before moving ahead with&nbsp;work on the other five bridges we manage. This is to make sure the approach is correct. Each bridge presents different challenges because of ownership, cultural significance and engineering.</p>

<p>The measures needed to create an effective and well-designed permanent barrier will likely be costly to implement. Along with the Mayor's Office for Policing and Crime (MOPAC) we are lobbying the government and other partners for funding options.</p>
</div>
 
      
        
          
        
      
    
  </div>
  <div class="aside" role="complementary">

   
    
    
    
      <div data-set="sidenav-container" class="large">
        
        
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
      </div>
    
    <div>
















<div class="advert-tile unsponsored-style google-ads" aria-hidden="true">
  <div class="advert-link">
    <div class="advert-content">
        <div class="medium-large" data-advert="/76889402/non-targeted" data-advert-sizes="300, 250"></div>
        <div class="small" data-advert="/76889402/non-targeted" data-advert-sizes="300, 250"></div>
    </div>
  </div>
</div>
@{
    ViewBag.AmazonSlot = "'amznslots'";
    ViewBag.AmazonAds = "'3199'"; // to add another value, this needs to be ViewBag.AmazonAds = "'3199','xx'";
}
      

 </div>
    
    <div data-set="sidenav-container" class="small-medium"></div>
  </div>
</div>
 
 
        
        
        
            @{ViewBag.Description = "We have plans for permanent anti-terrorist barriers on Westminster Bridge";}
        
            
        


 