
    
  


<!-- rhroot -->
@{ViewBag.Title = "Reducing road danger";}
@{ViewBag.Keywords = "Coach drivers,Drivers,Freight industry,Taxi and private hire,Safety and security,Cycling,Driving,Motorcycle,Walking,TfL";}
@{ViewBag.Url = "/corporate/safety-and-security/road-safety";}
@{ViewBag.Language = "en";}
        <!-- empty placeholder -->
 
        
        
<div class="r">
    <div class="breadcrumb-container" role="navigation">
        <span id="breadcrumb-label" class="visually-hidden">You are here:</span>
        <ol class="breadcrumbs clearfix" aria-labelledby="breadcrumb-label">
            <li class="home">
                <a href="/">
                    <span class="hide-text">Home</span>
                </a>
            </li>
            
                 <li><a href="/corporate/safety-and-security/index">Safety & security</a></li>
                
            
            
                <li><span class="last-breadcrumb">Reducing road danger</span></li>
            
        
 
        
 
        </ol>
    </div>
</div>
     
 
<div class="r">
    <div class="headline-container landing-page section-landing-container">
        <h1>Reducing road danger</h1>
        
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">
        <div class="small-medium" data-set="widget"></div>
        <div class="primary-teaser landing-page-teaser">
            <div class="news-teaser ">
  
  <a href="/corporate/safety-and-security/road-safety/vision-zero-for-london?intcmp=54158"  data-img="/cdn/static/cms/images/promos/vision-zero-700.jpg" data-img-breakpoint="medium" data-img-alt="A safer, improved high street with different road users">
    <img src="/cdn/static/cms/images/promos/vision-zero-700_rdax_600x300.jpg" alt="A safer, improved high street with different road users" />
    <div class="text-link sit-top">
      <h2>Vision Zero for London</h2>
      <p>Together we can eradicate deaths and serious injuries from London's transport network</p>
    </div>
  </a>
</div>

 
        </div>
        
        <div class="clearfix">
            
        </div>
        <div class="module-grid clearfix">
            <div class="news-teaser">

    <a href="/corporate/safety-and-security/road-safety/safe-speeds?intcmp=58289" >
        <img src="/cdn/static/cms/images/promos/safe-speed-20mph_rdax_400x200.jpg" alt="A 20mph street" />
        
        <div class="text-link">
             <h2>Safe speeds</h2>
            <p>Speed is a factor in at least 37% of serious collisions in London</p>
        </div>
    </a>
</div>
 
 <div class="news-teaser">

    <a href="/info-for/deliveries-in-london/delivering-safely/direct-vision-in-heavy-goods-vehicles?intcmp=41259" >
        <img src="/cdn/static/cms/images/promos/lorry-junction-700_rdax_400x200.jpg" alt="Lorry stopped at junction" />
        
        <div class="text-link">
             <h2>Direct Vision Standard</h2>
            <p>Making London's lorries safer with a new Safety Permit for HGVs</p>
        </div>
    </a>
</div>
 
 <div class="news-teaser">

    <a href="/campaign/our-plan-for-londons-roads?intcmp=23082" >
        <img src="/cdn/static/cms/images/promos/old-street-safer_rdax_400x200.jpg" alt="Old Street roundabout proposal" />
        
        <div class="text-link">
             <h2>Improving London's roads</h2>
            <p>We're building 73 Safer Junctions around London, with 29 already complete</p>
        </div>
    </a>
</div>
 
 <div class="news-teaser">

    <a href="/corporate/safety-and-security/road-safety/bus-safety?intcmp=35721" >
        <img src="/cdn/static/cms/images/promos/bus-safety_rdax_400x200.jpg" alt="Bus turning on Oxford Circus" />
        
        <div class="text-link">
             <h2>Bus safety</h2>
            <p>See how we are continuously driving major safety improvements on our buses</p>
        </div>
    </a>
</div>
 
 <div class="news-teaser">

    <a href="/corporate/safety-and-security/road-safety/london-collision-map?intcmp=33888" >
        <img src="/cdn/static/cms/images/promos/collisionmaplondon_rdax_400x200.gif" alt="Collision map of London" />
        
        <div class="text-link">
             <h2>London collision map</h2>
            <p>Learn where road traffic collisions have happened in London since 2005</p>
        </div>
    </a>
</div>
 
 
        </div>
    </div>
    <div class="aside" role="complementary">
        <div class="large" data-set="widget">
            <div class="moving-source-order">
            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
                <a href="/corporate/safety-and-security/road-safety" class="heading">
                    <h2 id="sub-menu-heading">Reducing road danger<span class="visually-hidden"> navigation</span></h2>
                </a>
                <ul>
                    
                                <li class="parent"><div class="link-wrapper"><a href="/corporate/safety-and-security/road-safety/vision-zero-for-london">Vision Zero for London</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/corporate/safety-and-security/road-safety/london-collision-map">London collision map</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/corporate/safety-and-security/road-safety/safety-enforcement-cameras">Safety cameras</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/corporate/safety-and-security/road-safety/bus-safety">Bus safety</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/corporate/safety-and-security/road-safety/cycle-safety">Cycle safety</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/corporate/safety-and-security/road-safety/driver-safety">Driver safety</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/corporate/safety-and-security/road-safety/community-roadwatch">Community Roadwatch</a></div></li>
                            
 
                </ul>
            
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
            </div>
        </div>
        <div class="module-grid">
            
















<div class="advert-tile unsponsored-style google-ads" aria-hidden="true">
  <div class="advert-link">
    <div class="advert-content">
        <div class="medium-large" data-advert="/76889402/non-targeted" data-advert-sizes="300, 250"></div>
        <div class="small" data-advert="/76889402/non-targeted" data-advert-sizes="300, 250"></div>
    </div>
  </div>
</div>
@{
    ViewBag.AmazonSlot = "'amznslots'";
    ViewBag.AmazonAds = "'3199'"; // to add another value, this needs to be ViewBag.AmazonAds = "'3199','xx'";
}
      

 
            
        </div>
    </div>
    <div class="small-medium" data-set="content">&nbsp;</div>
</div>
 
        
        
        
            @{ViewBag.Description = "Schemes and activities to help achieve safer roads for all in London";}
        
            
        


 