
    
  


<!-- rhroot -->
@{ViewBag.Title = "Security on the network";}
@{ViewBag.Keywords = "Safety and security,TfL";}
@{ViewBag.Url = "/corporate/safety-and-security/security-on-the-network";}
@{ViewBag.Language = "en";}
        <!-- empty placeholder -->
 
        
        

  

<div class="r">
    <div class="breadcrumb-container" role="navigation">
        <span id="breadcrumb-label" class="visually-hidden">You are here:</span>
        <ol class="breadcrumbs clearfix" aria-labelledby="breadcrumb-label">
            <li class="home">
                <a href="/">
                    <span class="hide-text">Home</span>
                </a>
            </li>
            
                 <li><a href="/corporate/safety-and-security/index">Safety & security</a></li>
                
            
            
                <li><span class="last-breadcrumb">Security on the network</span></li>
            
        
 
        
 
        </ol>
    </div>
</div>
     
 

  
  <div class="r">
    <div class="headline-container section-title section-landing-container ">
      <div class="section-title-wrap">
        <h1 class="hero-headline">Security on the network</h1>
        
      </div>
    </div>
  </div>



    
   
    <div class="r">
        <div class="main clearfix" role="main">
            
        
        
            <div class="section-overview full-width clearfix ">
                <div class="small-medium" data-set="section-intro"></div>
                <div>
                    <div class="large" data-set="section-intro">
                        
                    </div>
                
        <p>Transport crime and antisocial behaviour are among our key priorities. Find out how we're working closely with the police to make your journey even safer and the measures we're taking against unbooked minicabs.&nbsp;</p>
    
                </div>
            </div>
        
         
        
        
        
                
                
                <div class="module-grid clearfix">
                    
                    
                    
                    <div class="news-teaser">

    <a href="/corporate/safety-and-security/security-on-the-network/transport-policing?intcmp=2866" >
        <img src="/cdn/static/cms/images/promos/t001-14167-security-police_rdax_400x200.jpg" alt="Community support officer" />
        
        <div class="text-link">
             <h2>Policing the network</h2>
            <p>How we're working with the police to prevent crime on London's transport</p>
        </div>
    </a>
</div>
 
 <div class="news-teaser">

    <a href="/corporate/safety-and-security/security-on-the-network/cab-enforcement?intcmp=2983" >
        <img src="/cdn/static/cms/images/promos/x001-00100-safertravelatnig.jpg" alt="Face in car mirror" />
        
        <div class="text-link">
             <h2>Tackling touts</h2>
            <p>What we're doing to protect you from illegal minicabs</p>
        </div>
    </a>
</div>
 
 <div class="news-teaser">

    <a href="/corporate/safety-and-security/security-on-the-network/our-safety-priorities?intcmp=2980" >
        
        
        <div class="text-link">
             <h2>Our approach</h2>
            <p>Find out the thinking and governance behind our initiatives to keep you safe and secure </p>
        </div>
    </a>
</div>
 
 <div class="news-teaser">

    <a href="http://www.met.police.uk/transport?intcmp=6853" >
        
        
        <div class="text-link">
             <h2>Safer Transport Teams</h2>
            <p>Find your Safer Transport Team and local information on the Met Police website</p>
        </div>
    </a>
</div>
 
 
                </div>
        
        
        
          
        
    </div>
    
      
      <div class="aside no-full-width-intro" role="complementary">
    
        <div data-set="sidenav-container" class="large">
          
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
                <a href="/corporate/safety-and-security/security-on-the-network" class="heading">
                    <h2 id="sub-menu-heading">Security on the network<span class="visually-hidden"> navigation</span></h2>
                </a>
                <ul>
                    
                                <li><div class="link-wrapper"><a href="/corporate/safety-and-security/security-on-the-network/our-safety-priorities">Our safety priorities</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/corporate/safety-and-security/security-on-the-network/transport-policing">Transport policing</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/corporate/safety-and-security/security-on-the-network/cab-enforcement">TPH journey-related enforcement</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/corporate/safety-and-security/security-on-the-network/tph-related-sexual-offences">Taxi and Private Hire journey-related sexual offences</a></div></li>
                            
 
                </ul>
            
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>
        <div class="module-grid clearfix">
          
















<div class="advert-tile unsponsored-style google-ads" aria-hidden="true">
  <div class="advert-link">
    <div class="advert-content">
        <div class="medium-large" data-advert="/76889402/non-targeted" data-advert-sizes="300, 250"></div>
        <div class="small" data-advert="/76889402/non-targeted" data-advert-sizes="300, 250"></div>
    </div>
  </div>
</div>
@{
    ViewBag.AmazonSlot = "'amznslots'";
    ViewBag.AmazonAds = "'3199'"; // to add another value, this needs to be ViewBag.AmazonAds = "'3199','xx'";
}
      

 
          <div class="related-links">

    <h3>Also on this site</h3>

<div class="vertical-button-container">

<a href="/corporate/publications-and-reports/safety-and-security" class="plain-button">Safety &amp; security reports</a>
<a href="/corporate/publications-and-reports/crime-and-incident-bulletins" class="plain-button">Crime &amp; incident bulletins</a>
    </div>
</div>
 
        </div>
        <div data-set="sidenav-container" class="small-medium"></div>
      </div>
  </div>
 
        
        
        
            @{ViewBag.Description = "        <p>Transport crime and antisocial behaviour are among our key priorities. Find out how we're working closely with the police to make your journey even safer and the measures we're taking against unbooked minicabs.&nbsp;</p>    ";}
        
            
        


 