


@{ViewBag.Title = "All aboard! TfL gets into the Carnival spirit with its own bus float";}
        
        
<div class="r">
    <div class="breadcrumb-container" role="navigation">
        <span id="breadcrumb-label" class="visually-hidden">You are here:</span>
        <ol class="breadcrumbs clearfix" aria-labelledby="breadcrumb-label">
            <li class="home">
                <a href="/">
                    <span class="hide-text">Home</span>
                </a>
            </li>
            
                <li>
                    <a href="/info-for/media/index">Media</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases">Press releases</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases/2014">2014</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases/2014/august">August</a>
                </li>
                
                <li>
                    <span class="last-breadcrumb">All aboard! TfL gets into the Carnival spirit with its own bus float</span>
                </li>
            
 
            
 
            
 
            
 
            
 
        </ul>
    </div>
</div>
     
 
<div class="r">
    <div class="headline-container plain">
        <h1>All aboard! TfL gets into the Carnival spirit with its own bus float</h1>
        <div class="content-page-press-release">
        15 August 2014
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        TfL encourages customers to plan ahead over the Carnival weekend
        
    </div>



 <div class="on-this-page">

        <p>&nbsp;Transport for London (TfL) is getting into the Carnival spirit this year with its very own open-top bus float on the Sunday leg of the Carnival. As part of its Year of the Bus celebrations, TfL has teamed up with Elimu Paddington Arts Centre to participate in Europe's biggest street festival which attracts more than a million people over the August Bank Holiday weekend.</p>
        <h2>Travel advice</h2>
        <p>TfL is also encouraging Carnival-goers, motorists and passengers to plan their journeys ahead of the 2014 Notting Hill Carnival which will take place on Sunday 24 and Monday 25 August. Travel advice is available at <a href="http://www.tfl.gov.uk/notting-hill">www.tfl.gov.uk/notting-hill</a></p>
        <p>TfL's dedicated Carnival webpage has details on how transport services will run during London's busiest annual event, including a map showing the nearest stations and bus routes. Follow <a href="http://www.twitter.com/tfltrafficnews">&#64;TfLTrafficNews</a>, <a href="http://www.twitter.com/tflbusalerts">&#64;TfLBusAlerts</a> and <a href="http://www.twitter.com/tfltravelalerts">&#64;TfLTravelAlerts</a> on Twitter for all the latest information.</p>
        <h2>Avoid driving</h2>
        <p>TfL services will continue to keep the capital moving throughout the two day event. Motorists are advised to avoid driving in the Notting Hill area at the weekend because of a number of road closures. The easiest ways to travel to and from the Carnival will be by Tube, bus, cycling or walking. </p>
        <p>However, some stations close to the Carnival will be closed or will be exit only and some roads will be closed. Public transport users and drivers are advised to plan their journeys in advance at<a href="http://www.tfl.gov.uk/notting-hill"> www.tfl.gov.uk/notting-hill</a> or by contacting the 24 hour London Travel Information line on 0343 222 1234.</p>
        <p>As part of the London 2012 Games transport legacy, TfL's magenta wayfinding signage will also be used in and around the Carnival to provide directions to Carnival goers for the first time.</p>
        <p>Due to road closures and the demand on public transport, passengers are encouraged to consider walking part of their journey to and from the Carnival. Passengers can plan their walking journey at <a href="http://www.tfl.gov.uk/journeyplanner">www.tfl.gov.uk/journeyplanner</a>.</p>
        <h2>Fares and ticketing</h2>
        <p>Stations in west London will be very busy on both days of the Carnival. To save time and avoid queues, customers are advised to top up their Oyster card in advance. To find out more about Oyster and get a card, visit <a href="http://www.tfl.gov.uk/fares">www.tfl.gov.uk/fares</a>.</p>
        <h2>London Buses</h2>
        <p>There will be additional buses serving the Carnival, however they will not enter the Carnival area from the first bus on Sunday morning until the first bus on Tuesday morning. </p>
        <p>To the south of the Carnival area, buses will start from Notting Hill Gate and to the north of the Carnival area buses will start from the Prince of Wales on Harrow Road. Some local buses will be on diversion so customers are advised to check before they travel <a href="http://www.tfl.gov.uk/tfl/livetravelnews/realtime/buses/default.html">http://www.tfl.gov.uk/tfl/livetravelnews/realtime/buses/default.html</a>.</p>
        <p>From 16:00 on Saturday 23 August and until the end of the Carnival weekend, route 23 will be affected due to a road diversion in place for the Panorama event.</p>
        <p>The routes that will be serving the Carnival area are:<br />
        2, 6, 7, 16, 18, 23, 27, 28, 31, 36, 46, 52, 70, 94, 98, 148, 187,<br />
        205, 220, 228, 295, 316, 328, 332, 390, 414, 436, 452, N7, N16,<br />
        N18, N28, N31 N98 and N207.</p>
        <h2>London Underground</h2>
        <p>Tube &amp; Rail will be the best way to get around London on the weekend, although stations in west London will be busier than usual.</p>
        <p>Some stations close to the Carnival will be closed or will be exit only, as follows:</p>
        <ul>
            <li>Ladbroke Grove (Circle and Hammersmith &amp; City lines) will be closed on Sunday 24 and Monday 25 August</li>
            <li>Latimer Road (Circle and Hammersmith &amp; City lines) will be closed at 23:30 on both Sunday 24 and Monday 25 August</li>
            <li>Notting Hill Gate (Central, Circle and District lines) will be exit only between 12:00 and 19:00 on Sunday 24 August and all day on Monday 25 August. Between 12:00 and 18:30 Circle and District line trains will not stop at this station on Sunday 24 August or anytime on Monday 25 August</li>
            <li>Queensway (Central line) exit only between 11:00 and 19:00 on Sunday 24 and Monday 25 August;</li>
            <li>Royal Oak will be exit-only between 11:00 and 18:00, and closed from 23:30, on Sunday 24 and Monday 25 August and</li>
            <li>Westbourne Park will be exit-only between 11:00 and 18:00, and closed from 23:30, on Sunday 24 and Monday 25 August</li>
        </ul>
        <p>Carnival goers are advised to consider using alternative stations to get to the event. If passengers are travelling on the Circle or District lines, they should consider using Bayswater station as an alternative between 12:00 and 19:00 on Sunday 25 August and all day Monday 26 August as trains will not be stopping at Notting Hill Gate. </p>
        <p>Passengers are also advised to consider using Paddington (Hammersmith and City and Circle lines) station instead of Notting Hill Gate or Royal Oak as both stations will have restrictions. Other nearby stations include High Street Kensington, Holland Park, Queen's Park and Shepherd's Bush.</p>
        <h2>London Overground</h2>
        <p>The nearest London Overground stations are Willesden Junction, Kensal Rise, Kensal Green, Queen's Park and Shepherd's Bush.</p>
        <p>There will be no services between South Tottenham and Barking on Sunday 24 and Monday 25 August.</p>
        <p>For up to date information on Tube, DLR and London Overground services follow <a href="http://www.twitter.com/tfltravelalerts">&#64;TfLTravelAlerts</a></p>
        <h2>National Rail</h2>
        <p>On Saturday 23 and Sunday 24 August no First Capital Connect (FCC) and Southern services will call at London Bridge and services will be diverted to Victoria or Blackfriars in London. For more information, visit <a href="http://www.ThameslinkProgramme.co.uk">www.ThameslinkProgramme.co.uk</a>.</p>
        <h2>Barclays Cycle Hire</h2>
        <p>A small number of Barclays Cycle Hire docking stations in the Carnival area will be suspended from 21:00 on Saturday 23 August until 07:00 on Tuesday 26 August. These include:</p>
        <ul>
            <li>
            Turquoise Island</li>
            <li>
            Pembridge Villas</li>
            <li>
            Chepstow Villas</li>
            <li>
            Notting Hill Gate Station</li>
            <li>
            Hereford Road</li>
            <li>
            Ladbroke Grove Central</li>
            <li>
            Lansdowne Walk</li>
            <li>
            All Saints Church</li>
            <li>
            Blenheim Crescent</li>
            <li>
            All Saint's Road and</li>
            <li>
            Westbourne Park Road (Powis Gardens)</li>
        </ul>
        <p>Although all other docking stations will remain available, the expected road congestion in west London may make it difficult for cycle hire redistribution vehicles to collect and/or replace bicycles at locations in the affected area. Customers are advised to check cycle and space availability online using the live docking station map <a href="http://www.tfl.gov.uk/modes/cycling/barclays-cycle-hire/find-a-docking-station">http://www.tfl.gov.uk/modes/cycling/barclays-cycle-hire/find-a-docking-station</a>. Follow <a href="http://www.twitter.com/barclayscycle">&#64;BarclaysCycle</a> on Twitter for the latest updates.</p>
        <h2>Roads </h2>
        <p>There will be extensive road closures in the Notting Hill, Ladbroke Grove and Westbourne Park areas because of the Carnival. Roads will close from 07:00 on Sunday 24 until around 23:59 and on Monday from 07:00 until around 03:00 on the morning of Tuesday 26 August. </p>
        <p>Traffic is likely to be slow moving in the area, including the A5 (Edgware Road), Harrow Road, Holland Park Avenue, Notting Hill Gate and Bayswater Road so drivers should avoid the area if possible, or allow more time for their journey. For the latest information on how the roads are operating, drivers are advised to check before they travel at <a href="http://www.tfl.gov.uk">www.tfl.gov.uk</a> and follow <a href="http://www.twitter.com/tfltrafficnews">&#64;TfLTrafficNews</a> (roads).</p>
        <h2>Taxi &amp; Private Hire</h2>
        <p>Taxi and private hire services will be operating normally, although they will be affected by the road closures in the area. Taxi ranks along the Carnival route will be suspended. Information about booking a taxi or private hire vehicle is available at <a href="http://www.tfl.gov.uk/modes/taxis-and-minicabs">http://www.tfl.gov.uk/modes/taxis-and-minicabs/</a>. Follow <a href="http://www.twitter.com/tfltph">&#64;TfLTPH</a> on Twitter for the latest updates.</p>
         
        <hr />
         
        <p>Notes to Editors:<br />
        Passengers are advised to check before travelling via the following options:</p>
         
        <ul>
            <li>TfL's Journey Planner at  <a href="http://www.tfl.gov.uk/journeyplanner">www.tfl.gov.uk/journeyplanner</a> ,accessible from your computer or internet-enabled mobile device</li>
            <li>Information on posters, leaflets and Rainbow boards at Tube stations; and</li>
            <li>For 24 hour London Travel Information call local rate number 0343 222 1234</li>
        </ul>
         
        <p>For the latest on how transport services are operating, you are advised to check before you travel at <a href="http://www.tfl.gov.uk">www.tfl.gov.uk</a> and follow <a href="http://www.twitter.com/tfltravelalerts">&#64;TfLTravelAlerts</a> (Tube, DLR and London Overground), <a href="http://www.twitter.com/tfltrafficnews">&#64;TfLTrafficNews</a> (roads) and <a href="http://www.twitter.com/tflbusalerts">&#64;TfLBusAlerts</a> (bus).</p>
         
    

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
                <a href="/info-for/media/index" class="heading">
                    <h2 id="sub-menu-heading">Media<span class="visually-hidden"> navigation</span></h2>
                </a>
                <ul>
                    
                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases">Press releases</a></div>
                                <ul>
                                    
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2020">2020</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019">2019</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018">2018</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017">2017</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016">2016</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015">2015</a></div></li>
                            
 
                                        <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014">2014</a></div>
                                        <ul>
                                            
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/december">December</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/november">November</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/october">October</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/september">September</a></div></li>
                                    
 
                                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/august">August</a></div>
                                                <ul>
                                                    
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
                                                </ul>
                                            
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/july">July</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/june">June</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/may">May</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/april">April</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/march">March</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/february">February</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/january">January</a></div></li>
                                    
 
                                        </ul>
                                    </li>
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2013">2013</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2012">2012</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2011">2011</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2010">2010</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2009">2009</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2008">2008</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2007">2007</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2006">2006</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2005">2005</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2004">2004</a></div></li>
                            
 
                                </ul>
                            </li>
 
                                <li><div class="link-wrapper"><a href="/info-for/media/photos">Photos</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/media/contact-the-press-office">Contact the Press Office</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/filming-and-photography">Filming & photography</a></div></li>
                            
 
                </ul>
            
 
 
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype: -Home-Media-Media-Press releases-2014-August-All aboard! TfL gets into the Carnival spirit with its own bus float -->

 
 
        
        
            @{ViewBag.Description = "TfL encourages customers to plan ahead over the Carnival weekend";}
        
        


 