


@{ViewBag.Title = "Barclays Cycle Hire free to all this weekend  ";}
        
        
<div class="r">
    <div class="breadcrumb-container" role="navigation">
        <span id="breadcrumb-label" class="visually-hidden">You are here:</span>
        <ol class="breadcrumbs clearfix" aria-labelledby="breadcrumb-label">
            <li class="home">
                <a href="/">
                    <span class="hide-text">Home</span>
                </a>
            </li>
            
                <li>
                    <a href="/info-for/media/index">Media</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases">Press releases</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases/2014">2014</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases/2014/august">August</a>
                </li>
                
                <li>
                    <span class="last-breadcrumb">Barclays Cycle Hire free to all this weekend  </span>
                </li>
            
 
            
 
            
 
            
 
            
 
        </ul>
    </div>
</div>
     
 
<div class="r">
    <div class="headline-container plain">
        <h1>Barclays Cycle Hire free to all this weekend  </h1>
        <div class="content-page-press-release">
        12 August 2014
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        Londoners and visitors can enjoy a free weekend of cycling on Barclays Cycle Hire bikes on Saturday 16 and Sunday 17 August
        
    </div>



<div class="pull-quote">
        <div class="quote-body">"Whether you are an avid enthusiast or a cycling novice, you'll be able to hop on a bike and take in some of our capital's most iconic sights
"</div>
        <div class="quote-footer">
            <div class="quotee-name">Boris Johnson</div>
            <div class="quotee-job-title">The Mayor of London</div>
        </div>
</div>

 <div class="on-this-page">

        <p>&nbsp;</p>
        <ul>
            <li>Explore London by bike with free cycle hire on 16 and 17 August </li>
            <li>Over 1.18m hires in July, the busiest since the scheme launched four years ago </li>
            <li>Barclays Cycle Hire now covers over 100km&sup2; of London with over 10,000 bikes</li>
        </ul>
        <p>Londoners and visitors can enjoy a free weekend of cycling on Barclays Cycle Hire bikes on Saturday 16 and Sunday 17 August.  Anyone will be able to saddle up on a cycle hire bike for a 24-hour period, and as long as the trips are kept under half an hour people can make as many rides as they wish, all for free.</p>
        <p>Barclays Cycle Hire was launched on 30 July 2010, since then over 32 million journeys have been made and the scheme has just celebrated its fourth successful year. July was a record breaking month with 1.18m hires, the busiest since people first started pedalling on the distinctive blue bikes.</p>
         
        <h2>Cycle for free</h2>
        <p>The Mayor of London, Boris Johnson, said: 'In my experience there is no greater way to enjoy London than on two wheels and this weekend we are offering everyone the chance to cycle around our beautiful city on cycle hire bikes for free. Whether you are an avid enthusiast or a cycling novice, you'll be able to hop on a bike and take in some of our capital's most iconic sights.'
        </p>
         
        <p>Barclays Cycle Hire has become an integral part of travelling around London and the number of users, both new and regular, continues to grow. Between January and July this year, there was a 20 per cent increase in the number of cycle hire trips compared to the same period last year.</p>
        <p>The scheme now covers over 100km&sup2; of London and more than 90 London Underground stations (including the entire Circle line) and a number of major rail stations such as Clapham Junction, Liverpool Street, Paddington and Putney are now all within a short walk of a docking station, enabling more people to make cycling part of their daily commute.</p>
        <h2>Free group rides</h2>
        <p>To encourage more people to take up cycling, and to help build confidence on two wheels, British Cycling and TfL have teamed up to also offer free group rides this weekend. One ride will take place in Hyde Park on Saturday 16 August, and a women only bike ride to help encourage women to start cycling, will be held in Regent's Park on Sunday 17 August.</p>
        <p>Nick Aldworth, General Manager for Barclays Cycle Hire at TfL, said: 'We're holding a free weekend of cycling across central London on Saturday 16 and Sunday 17 August to encourage new and regular riders to get out on a bike.</p>
        <p>'Our bikes are the perfect way to enjoy London and discover new parts of the capital, they are also a handy and fun way to visit friends or get to work.</p>
        <p>'We've had a fantastic four years on Barclays Cycle Hire, with the blue bikes now firmly part of daily life in London. Come and celebrate this special anniversary with us, and get pedalling.'</p>
        <h2>Expanding</h2>
        <p>The cycle hire scheme has seen many exciting developments over the last four years, expanding to east London in 2012 and to south and west London last year.</p>
        <p>To help Barclays Cycle Hire users discover London during the summer, TfL has created a number of self-guided leisure cycle routes, many of which are on quieter roads. Popular routes include London's Secret Gardens, Saturday Markets, Independent Shops and Markets, and Quirky London.  The newest route, called<br />
        Sporting Sights, takes in famous sporting venues such as Stamford Bridge, Chelsea's football ground, and the Kia Oval cricket ground.</p>
        <h2>Barclays Cycle Hire map</h2>
        <p>Cycle hire users can pick up a free copy of the 'Explore London with Barclays Cycle Hire' map, which contains the above leisure routes, at central London Tube stations, London Overground stations or by visiting www.tfl.gov.uk/leisureroutes.</p>
        <p>Barclays Cycle Hire is easy to use. Users can simply use a credit or debit card to hire a bike, with no need to book, and from as little as &pound;2 for 24 hours can make an unlimited number of journeys under 30 minutes each time. Regular users can register for annual membership, which equates to 25p per day and get the same unlimited number of journeys under 30 minutes each without paying anything more. Alternatively, they can register as a Pay as You Pedal member, which provides users with a membership key for quick access to the bikes and a pay as you go facility.</p>
         
         
         
         
         
        <hr />
        Notes to Editors
         
        <ul>
            <li>To help inspire people to try out the scheme TfL has produced a short film to mark Barclays Cycle Hire's fourth anniversary. Visit:  <a href="http://www://bit.ly/WOyXLb">http://bit.ly/WOyXLb</a> </li>
            <li>To get the free cycle hire on August 16 and 17 users must use their bank card rather than a membership key to access a bike. Riders must be 14 years or older. There are charges for journey of 30 minutes or longer. For more information go to <a href="http://www.tfl.gov.uk/free-barclays-cycle-hire">www.tfl.gov.uk/free-barclays-cycle-hire</a></li>
            <li>The Sporting Sights cycling route was created by British Cycling, the other routes in the new map were supplied by the London Cycle Blog</li>
            <li>There are currently more than 10,000 Barclays Cycle Hire bikes across London with over 19,000 docking points available. The scheme, which is already the second largest cycle hire system in Europe, remains an affordable and enjoyable way to travel around London</li>
        </ul>
         
    

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
                <a href="/info-for/media/index" class="heading">
                    <h2 id="sub-menu-heading">Media<span class="visually-hidden"> navigation</span></h2>
                </a>
                <ul>
                    
                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases">Press releases</a></div>
                                <ul>
                                    
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2020">2020</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019">2019</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018">2018</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017">2017</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016">2016</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015">2015</a></div></li>
                            
 
                                        <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014">2014</a></div>
                                        <ul>
                                            
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/december">December</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/november">November</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/october">October</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/september">September</a></div></li>
                                    
 
                                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/august">August</a></div>
                                                <ul>
                                                    
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
                                                </ul>
                                            
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/july">July</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/june">June</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/may">May</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/april">April</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/march">March</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/february">February</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/january">January</a></div></li>
                                    
 
                                        </ul>
                                    </li>
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2013">2013</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2012">2012</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2011">2011</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2010">2010</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2009">2009</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2008">2008</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2007">2007</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2006">2006</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2005">2005</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2004">2004</a></div></li>
                            
 
                                </ul>
                            </li>
 
                                <li><div class="link-wrapper"><a href="/info-for/media/photos">Photos</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/media/contact-the-press-office">Contact the Press Office</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/filming-and-photography">Filming & photography</a></div></li>
                            
 
                </ul>
            
 
 
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype: -Home-Media-Media-Press releases-2014-August-Barclays Cycle Hire free to all this weekend   -->

 
 
        
        
            @{ViewBag.Description = "Londoners and visitors can enjoy a free weekend of cycling on Barclays Cycle Hire bikes on Saturday 16 and Sunday 17 August";}
        
        


 