


@{ViewBag.Title = "Customer advice  on ASLEF strike action - 1700";}
        
        
<div class="r">
    <div class="breadcrumb-container" role="navigation">
        <span id="breadcrumb-label" class="visually-hidden">You are here:</span>
        <ol class="breadcrumbs clearfix" aria-labelledby="breadcrumb-label">
            <li class="home">
                <a href="/">
                    <span class="hide-text">Home</span>
                </a>
            </li>
            
                <li>
                    <a href="/info-for/media/index">Media</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases">Press releases</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases/2014">2014</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases/2014/august">August</a>
                </li>
                
                <li>
                    <span class="last-breadcrumb">Customer advice  on ASLEF strike action - 1700</span>
                </li>
            
 
            
 
            
 
            
 
            
 
        </ul>
    </div>
</div>
     
 
<div class="r">
    <div class="headline-container plain">
        <h1>Customer advice  on ASLEF strike action - 1700</h1>
        <div class="content-page-press-release">
        22 August 2014
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">



 <div class="on-this-page">

        <p>
        London Underground (LU) is operating
        reduced service on the Central line due to a unnecessary strike called by the
        leadership of the ASLEF union, services on the Waterloo and City line are also
        not running.</p>
        <p>The Central line is
        operating a limited service between White City and Ealing Broadway and
        Leytonstone and Epping, services are expected to finish earlier than normal and
        customers travelling home this evening are urged to check before they travel
        and seek alternative routes. &nbsp;&nbsp;
        </p>
        <p>Customers who would normally travel on the east end of the Central
        line towards Epping are being advised to use Greater Anglia train services from
        Liverpool Street, Hackney Downs or&nbsp;Walthamstow Central and travel to
        Chingford where a replacement bus service is operating from Chingford to Epping
        via Loughton. Customers for Woodford and South Woodford are advised to take the
        Victoria line to Walthamstow Central and change for local bus services.
        &nbsp;
        </p>
        <p>TfL has deployed extra
        buses on key routes and TfL Ambassadors and volunteers are helping customers
        with travel information at key Underground and bus stations
        &nbsp;
        </p>
        <p>Other Tube services, the
        DLR and the London Overground are operating normally. </p>
        <p>These services are likely
        to be busier than usual and journeys made outside peak hours are likely to be
        easier.</p>
        <p>Nigel Holness, Operations Director for
        London Underground, said:&nbsp; `Despite
        some progress being made during talks, ASLEF leadership decided to press ahead
        with this unnecessary strike action and disrupt&nbsp;customers journeys today. Our staff and
        volunteers are working hard to keep London moving and I would advise our customers where possible, please&nbsp; plan ahead and
        check before you travel.'</p>
        <p>Latest Travel advice to customers
        (17:00):
        The situation may change throughout
        the day.&nbsp;&nbsp; </p>
        <p>TfL is urging all customers to check before they travel at
        tfl.gov.uk and by following <a href="http://www.twitter.com/Centralline">&#64;Centralline</a>, <a href="http://www.twitter.com/wlooandcityline">&#64;wlooandcityline</a>&nbsp;
        <a href="http://www.twitter.com/TfLTravelAlerts">&#64;TfLTravelAlerts</a>, <a href="http://www.triwwter.com/TfLTrafficNews">&#64;TfLTrafficNews</a> and <a href="http://www.twitter.com/TfLBusAlerts">&#64;TfLBusAlerts</a> on Twitter. </p>
        London Underground
        Services on the Central line are
        currently operating as follows:&nbsp;
        <p>Central
        line
        <a href="http://www.twitter.com/centralline">&#64;centralline</a>
        &nbsp;
        </p>
        <p>There is a redueced service between: </p>
        <ul>
            <li>Ealing Broadway to White City </li>
            <li>Epping to Leytonstone
            &nbsp;
            </li>
        </ul>
        <p>There is a no service on the
        rest of the line
        &nbsp;
        </p>
        <p>Waterloo
        &amp; City line&nbsp;&nbsp;
        <a href="http://www.twitter.com/wlooandcityline">&#64;wlooandcityline</a></p>
        <ul>
            <li>No service.
            &nbsp;&nbsp;</li>
        </ul>
        <p>A good service is operating on all
        other lines
        DLR
        A normal service is operating.
        &nbsp;
        </p>
        <p>London Overground
        </p>
        <ul>
            <li>A normal service is operating</li>
        </ul>
    

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
                <a href="/info-for/media/index" class="heading">
                    <h2 id="sub-menu-heading">Media<span class="visually-hidden"> navigation</span></h2>
                </a>
                <ul>
                    
                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases">Press releases</a></div>
                                <ul>
                                    
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2020">2020</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019">2019</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018">2018</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017">2017</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016">2016</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015">2015</a></div></li>
                            
 
                                        <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014">2014</a></div>
                                        <ul>
                                            
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/december">December</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/november">November</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/october">October</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/september">September</a></div></li>
                                    
 
                                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/august">August</a></div>
                                                <ul>
                                                    
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
                                                </ul>
                                            
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/july">July</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/june">June</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/may">May</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/april">April</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/march">March</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/february">February</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/january">January</a></div></li>
                                    
 
                                        </ul>
                                    </li>
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2013">2013</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2012">2012</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2011">2011</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2010">2010</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2009">2009</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2008">2008</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2007">2007</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2006">2006</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2005">2005</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2004">2004</a></div></li>
                            
 
                                </ul>
                            </li>
 
                                <li><div class="link-wrapper"><a href="/info-for/media/photos">Photos</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/media/contact-the-press-office">Contact the Press Office</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/filming-and-photography">Filming & photography</a></div></li>
                            
 
                </ul>
            
 
 
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype: -Home-Media-Media-Press releases-2014-August-Customer advice  on ASLEF strike action - 1700 -->

 
 
        
        
            @{ViewBag.Description = "Press releases and news articles from Transport for London";}
        
        


 