


@{ViewBag.Title = "Fare capping for bus passengers";}
        
        
<div class="r">
    <div class="breadcrumb-container" role="navigation">
        <span id="breadcrumb-label" class="visually-hidden">You are here:</span>
        <ol class="breadcrumbs clearfix" aria-labelledby="breadcrumb-label">
            <li class="home">
                <a href="/">
                    <span class="hide-text">Home</span>
                </a>
            </li>
            
                <li>
                    <a href="/info-for/media/index">Media</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases">Press releases</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases/2014">2014</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases/2014/august">August</a>
                </li>
                
                <li>
                    <span class="last-breadcrumb">Fare capping for bus passengers</span>
                </li>
            
 
            
 
            
 
            
 
            
 
        </ul>
    </div>
</div>
     
 
<div class="r">
    <div class="headline-container plain">
        <h1>Fare capping for bus passengers</h1>
        <div class="content-page-press-release">
        04 August 2014
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        Daily and Monday to Sunday fare capping now applies for bus passengers using contactless payments
        
    </div>



<div class="pull-quote">
        <div class="quote-body">"Contactless payments on our buses have been a resounding success with over 850,000 customers using their contactless payment card to pay for bus journeys. Now we're adding capping, contactless customers will benefit from having the best value automatically calculated for their travel which will appeal to even more bus users who want the convenience of using contactless to pay for their travel"</div>
        <div class="quote-footer">
            <div class="quotee-name">Shashi Verma</div>
            <div class="quotee-job-title">Director of Customer Experience, TfL</div>
        </div>
</div>

 <div class="on-this-page">

        <ul>
            <li>Added benefit to users of contactless payment cards or devices on London's buses</li>
            <li>Daily and Monday to Sunday fare capping will automatically calculate the best value fare for contactless bus travel</li>
            <li>Capping to incorporate all journeys on bus, Tube, trams, DLR and London Overground once contactless payments are fully launched on 16 September</li>
        </ul>
        <p>Bus customers paying for their journeys with a contactless payment card will now benefit from having their fares capped, automatically calculating the best value for their contactless travel over a seven-day period. The added benefit is part of Transport for London's (TfL) huge range of improvements for customers making it easier and more convenient for them to pay for their travel.</p>
        <p>Daily fares for bus journeys are capped at &pound;4.40, the same as they are for Oyster, meaning that after the fourth journey each day, any further bus travel is not charged. A Monday to Sunday cap now also applies for users of contactless payment cards at &pound;20.20, the equivalent of a weekly Bus and Tram Pass.&nbsp; The development of this technology is the first step towards the next generation of Oyster.&nbsp;&nbsp; &nbsp;</p>
        <p>Contactless payments were launched on London's buses in December 2012. Since then, over 850,000 customers have used their contactless payment card to pay the single bus fare around 17 million times, currently around 62,000 per day.&nbsp; Customers using contactless no longer have to check and top up their Oyster credit.</p>
        <p>After over 19 months of successful operation, the capping functionality is being added ahead of the expansion of contactless payments to the Tube, trams, DLR and London Overground on 16 September.&nbsp; After this date, capping for contactless customers will incorporate journeys on all of these services.</p>
        <p>TfL and National Rail continue to work together to develop the programme to expand the contactless payments system to the suburban rail routes where Oyster is currently accepted.</p>
        <p>Shashi Verma, TfL's Director of Customer Experience, said: </p>
        <p>'Contactless payments on our buses have been a resounding success with over 850,000 customers using their contactless payment card to pay for bus journeys. Now we're adding capping, contactless customers will benefit from having the best value automatically calculated for their travel which will appeal to even more bus users who want the convenience of using contactless to pay for their travel.'</p>
        <p>Bus customers using contactless payment cards are now also able to create a TfL online account, or link their contactless payment card to an existing TfL online account that they already use for Oyster, to be able to see their journey and payment history. They will now also see only one charge per day appear on their card issuer statement instead of individual journey charges, as fares are accumulated with the capping applied where appropriate.</p>
        <p>TfL continues to remind all customers that it is imperative they only touch one card to the reader to avoid 'card clash' or paying with a card they did not intend to use.</p>
         
        <hr />
         
        <p>Notes to Editors:</p>
        <ul>
            <li>More information and a video illustrating how contactless payments work on the transport network can be found at <a href="http://www.tfl.gov.uk/contactless">www.tfl.gov.uk/contactless</a></li>
            <li>Contactless payments are available alongside Oyster for pay as you go customers. Oyster will continue to be available for those using concessionary or season tickets or who would prefer to continue paying for their travel this way.</li>
            <li>It is not a requirement for customers to sign up for an online account and register their card to travel using a contactless payment card however it is encouraged. Customers are able to view 12 months of journey history through an online account while unregistered customers will only be able to access their journeys and payments over the last 7 days from a one-off log in to the TfL website or from the TfL Customer Services (0343 222 1234).</li>
            <li>All UK issued contactless American Express, MasterCard or Visa credit, debit, pre-paid cards will be accepted for contactless payments. Other methods of contactless payment that meet financial industry standards, including mobile phones, may also be accepted. Some non-UK cards may not be accepted and card holders should check the TfL website before attempting to use it for travel on TfL services.</li>
            <li>The Monday to Sunday cap is available for bus journeys made between 0430 on Monday and 0429 the following Monday. </li>
            <li>A single adult fare on the buses is &pound;1.45 with Oyster or a contactless payment card.&nbsp; A customer making four bus journeys per day using their contactless payments card will save &pound;1.40, paying &pound;4.40 under the daily cap, rather than &pound;5.80 for four journeys. Each additional journey during the day will not be charged, saving them a further &pound;1.45 for each additional journey.&nbsp; Daily bus fares are also capped at &pound;4.40 for customers using Oyster. &nbsp;</li>
        </ul>
    

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
                <a href="/info-for/media/index" class="heading">
                    <h2 id="sub-menu-heading">Media<span class="visually-hidden"> navigation</span></h2>
                </a>
                <ul>
                    
                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases">Press releases</a></div>
                                <ul>
                                    
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2020">2020</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019">2019</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018">2018</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017">2017</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016">2016</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015">2015</a></div></li>
                            
 
                                        <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014">2014</a></div>
                                        <ul>
                                            
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/december">December</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/november">November</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/october">October</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/september">September</a></div></li>
                                    
 
                                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/august">August</a></div>
                                                <ul>
                                                    
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
                                                </ul>
                                            
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/july">July</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/june">June</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/may">May</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/april">April</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/march">March</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/february">February</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/january">January</a></div></li>
                                    
 
                                        </ul>
                                    </li>
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2013">2013</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2012">2012</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2011">2011</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2010">2010</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2009">2009</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2008">2008</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2007">2007</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2006">2006</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2005">2005</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2004">2004</a></div></li>
                            
 
                                </ul>
                            </li>
 
                                <li><div class="link-wrapper"><a href="/info-for/media/photos">Photos</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/media/contact-the-press-office">Contact the Press Office</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/filming-and-photography">Filming & photography</a></div></li>
                            
 
                </ul>
            
 
 
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype: -Home-Media-Media-Press releases-2014-August-Fare capping for bus passengers -->

 
 
        
        
            @{ViewBag.Description = "Daily and Monday to Sunday fare capping now applies for bus passengers using contactless payments";}
        
        


 