


@{ViewBag.Title = "Last bus garage open day - Dartford ";}
        
        
<div class="r">
    <div class="breadcrumb-container" role="navigation">
        <span id="breadcrumb-label" class="visually-hidden">You are here:</span>
        <ol class="breadcrumbs clearfix" aria-labelledby="breadcrumb-label">
            <li class="home">
                <a href="/">
                    <span class="hide-text">Home</span>
                </a>
            </li>
            
                <li>
                    <a href="/info-for/media/index">Media</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases">Press releases</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases/2014">2014</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases/2014/august">August</a>
                </li>
                
                <li>
                    <span class="last-breadcrumb">Last bus garage open day - Dartford </span>
                </li>
            
 
            
 
            
 
            
 
            
 
        </ul>
    </div>
</div>
     
 
<div class="r">
    <div class="headline-container plain">
        <h1>Last bus garage open day - Dartford </h1>
        <div class="content-page-press-release">
        21 August 2014
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        Last in a series of free bus garage open days to celebrate the Year of the Bus
        
    </div>



 <div class="on-this-page">

        <ul>
            <li>
            EVENT: DARTFORD BUS GARAGE
            OPEN DAY
            </li>
            <li>
            DATE: SUNDAY 7 SEPTEMBER
            2014
            </li>
            <li>TIME: 10:00-16:00</li>
            <li>LOCATION: DARTFORD BUS GARAGE, CENTRAL ROAD, DARTFORD DA1 5BG
            </li>
            <li>FREE
            ADMISSION &#45; ALL ACTIVITIES ARE UNDER COVER</li>
        </ul>
        <p>On Sunday 7 September 2014,
        Dartford Bus Garage in Kent will open its doors to members of the public in the
        last of a series of bus garage open days across London and surrounding areas in
        celebration of the Year of the Bus.&nbsp;
        </p>
        <p>Visitors to Dartford Bus
        Garage, which is operated by Arriva, will get the chance to:</p>
        <ul>
            <li>Take a 15-minute round trip on a heritage bus
            from Dartford Bus Garage via Dartford Bus Station and the Market Street stop.
            There will be departures every 15-20 minutes between 10:00 and 16:00</li>
            <li>View up to 30 buses including heritage models
            and Arriva's new Sapphire bus</li>
            <li>View the Year of the Bus mobile exhibition
            which tells the story of the London Bus and looks to its future</li>
            <li>Take a ride through the bus wash</li>
            <li>Jump up and down on the 'bouncy bus'</li>
            <li>Get up close and personal with objects from
            the London Transport Museum collection and find out more about the stories
            behind them with the handling collection</li>
            <li>Pick up your free bus-themed family activity
            sheets</li>
            <li>Browse the London Transport Museum pop-up
            shop selling exclusive Year of the Bus gifts, and stalls selling merchandise
            and bus-related memorabilia</li>
        </ul>
        <p>The bus garage open days are
        part of TfL's celebrations to mark the Year of the Bus, in partnership with
        London Transport Museum and the capital's bus operators. </p>
        <p>All proceeds generated
        from the Dartford Bus Garage Open Day will be donated to the Transport
        Benevolent Fund.
        &nbsp;
        </p>
        <h2>History</h2>
        <p>Dartford Bus Garage has a history stretching back to the
        1920s and covering two sites, with the first garage built in 1927 on Kingsfield
        Terrace in Priory Road. It served the people of Dartford and surrounding areas
        until its closure on 18 January 1986 with a new depot opening at its current
        location the following day. Between 1963 and 1965, five purpose-built vehicles
        operated from the garage taking cyclists and their bicycles through the
        Dartford Tunnel &#45; the Thames Trader Cycle Carrier had seats on the upper deck
        for cyclists and racks below for their bikes.
        &nbsp;
        </p>
        <p>The first bus garage open
        day in celebration of the Year of the Bus was held at Catford on 10 May and
        attracted around 3,000 visitors. </p>
        <p>Alperton, Stockwell, Fulwell, Potters Bar and
        Walworth bus garages have all also offered behind-the-scenes access as part of
        the Year of the Bus celebrations.
        &nbsp;</p>
        <h2>Vital role of the bus</h2>
        <p>Events and activities are
        being held throughout 2014 to celebrate the role that London buses, bus drivers
        and the staff who support them play in keeping the capital moving, and mark a
        number of important anniversaries. </p>
        <p>These include 60 years since the creation of
        the original and iconic Routemaster, 75 years since the launch of its
        predecessor the RT-type bus, and 100 years since hundreds of London buses were
        sent to the Western Front to play a crucial role during the First World War.
        &nbsp;
        </p>
        <p>Buses&nbsp;are a vital daily service
        for millions and one that is very local, with the vast majority of Londoners
        (95 per cent) never more than 400 metres from a bus stop.&nbsp; </p>
        <p>Buses link
        homes to jobs, schools and hospitals in every part of the capital.&nbsp; They
        are the backbone, and often the forgotten workhorses, of London's transport
        network.
        &nbsp;
        Further information about
        other Year of the Bus events can be found at <a href="http://www.tfl.gov.uk/yearofthebus">www.tfl.gov.uk/yearofthebus</a> and
        <a href="http://www.ltmuseum.co.uk">www.ltmuseum.co.uk</a>.
        &nbsp;
        </p>
        <p>The
        Year of the Bus is supported by and delivered in partnership with Exterion
        Media, Abellio, Arriva London, Clear Channel UK, Go-Ahead London, Metroline,
        RATP Dev UK, Stagecoach, Wrightbus, Optare and Telent Technology Services.
        </p>
         
        <hr />
        Dartford
        Bus Garage has 54 buses operating on six routes (160, 428, 492, B12, B13 and B15). There are 172 staff
        based there.
         
        <p>The
        garage serves an area from Catford to the west, Erith to the north, Bluewater
        to the east and Joydens Wood to the south. Even though the depot is based in
        Kent, only three of the seven routes run into Kent. The rest serve Greater
        London.</p>
    

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
                <a href="/info-for/media/index" class="heading">
                    <h2 id="sub-menu-heading">Media<span class="visually-hidden"> navigation</span></h2>
                </a>
                <ul>
                    
                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases">Press releases</a></div>
                                <ul>
                                    
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2020">2020</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019">2019</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018">2018</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017">2017</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016">2016</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015">2015</a></div></li>
                            
 
                                        <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014">2014</a></div>
                                        <ul>
                                            
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/december">December</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/november">November</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/october">October</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/september">September</a></div></li>
                                    
 
                                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/august">August</a></div>
                                                <ul>
                                                    
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
                                                </ul>
                                            
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/july">July</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/june">June</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/may">May</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/april">April</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/march">March</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/february">February</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/january">January</a></div></li>
                                    
 
                                        </ul>
                                    </li>
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2013">2013</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2012">2012</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2011">2011</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2010">2010</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2009">2009</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2008">2008</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2007">2007</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2006">2006</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2005">2005</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2004">2004</a></div></li>
                            
 
                                </ul>
                            </li>
 
                                <li><div class="link-wrapper"><a href="/info-for/media/photos">Photos</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/media/contact-the-press-office">Contact the Press Office</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/filming-and-photography">Filming & photography</a></div></li>
                            
 
                </ul>
            
 
 
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype: -Home-Media-Media-Press releases-2014-August-Last bus garage open day - Dartford  -->

 
 
        
        
            @{ViewBag.Description = "Last in a series of free bus garage open days to celebrate the Year of the Bus";}
        
        


 