


@{ViewBag.Title = "London Cycle Challenge - final stage";}
        
        
<div class="r">
    <div class="breadcrumb-container" role="navigation">
        <span id="breadcrumb-label" class="visually-hidden">You are here:</span>
        <ol class="breadcrumbs clearfix" aria-labelledby="breadcrumb-label">
            <li class="home">
                <a href="/">
                    <span class="hide-text">Home</span>
                </a>
            </li>
            
                <li>
                    <a href="/info-for/media/index">Media</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases">Press releases</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases/2014">2014</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases/2014/august">August</a>
                </li>
                
                <li>
                    <span class="last-breadcrumb">London Cycle Challenge - final stage</span>
                </li>
            
 
            
 
            
 
            
 
            
 
        </ul>
    </div>
</div>
     
 
<div class="r">
    <div class="headline-container plain">
        <h1>London Cycle Challenge - final stage</h1>
        <div class="content-page-press-release">
        14 August 2014
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        Final stage of the London Cycle Challenge launched to keep the capital cycling.
        
    </div>



 <div class="on-this-page">

        <ul>
            <li>Fantastic
            prizes to be won including a year's membership to Barclays Cycle Hire and VIP
            access to the Friends Life Tour of Britain finish in London. &nbsp;&nbsp;&nbsp;
            </li>
            <li>Mobile
            app available to log cycle rides, get cycling tips and discover new routes.</li>
            <li>Final
            phase will keep Londoners riding and finish the cycling summer on a high.</li>
            <li>The
            Friends Life Tour of Britain, the country's largest annual free-to-spectate
            sporting event, &nbsp;returns to the capital on 14 September.</li>
        </ul>
        <p>Riding
        on the success of both the Tour de France's return to London and the tens of
        thousands of cyclists in last weekend's Prudential RideLondon, and with one
        month to go until the Friends Life Tour of Britain finishes in the capital,
        </p>
        <p>Transport for London (TfL) has launched the third and final stage of its London
        Cycle Challenge to keep the capital cycling.
        &nbsp;
        </p>
        <p>The
        challenge will run until 5 September and this time cyclists are encouraged to
        achieve a personal cycling goal. The challenge will act as a great warm-up for
        the Friends Life Tour of Britain which finishes in London on Sunday 14
        September.
        &nbsp;
        </p>
        <p>
        Participants
        can use a mobile app to make it easier to record rides, set targets, and
        encourage friends and family to give cycling a go. </p>
        <p>The app, which is free to
        download and available on Apple iOS and Android, allows users to log rides
        automatically using GPS.
        &nbsp;
        The
        fantastic prizes up for grabs in the challenge include a year's membership to
        Barclays Cycle Hire, access to the Friends Life Tour of Britain finish area and
        an item of signed Team GB cycling kit.
        &nbsp;
        </p>
        <p>Chris
        Mather, Head of the Community Engagement programme at TfL, said:&nbsp; `Achieving a
        personal cycling goal, whether that be to cycle every day or to get back on a
        bike for the first time in a long time, is a great opportunity to encourage
        more people to cycle more safely more often. The emphasis is to make that goal,
        and keep it, plus participants are in with a chance of winning fantastic prizes
        to boot.&nbsp;
        </p>
        <p>`With
        a million spectators witnessing the Tour de France Stage 3 in London last
        month, 80,000 people riding in Prudential RideLondon last weekend and the
        Friends Life Tour of Britain coming to a climax on 14 September, interest in
        cycling in the capital has never been higher. The challenge will give Londoners
        the incentive they need to take to, and keep to, two wheels.'
        </p>
        <p>People
        wishing to take part in the challenge who don't have a bike can use Barclays
        Cycle Hire. In just three easy steps, users can hire, ride and return a bike at
        any available docking station. </p>
        <p>Over the weekend of 16 and 17 August, to
        celebrate Barclays Cycle Hire's fourth anniversary, access to the bikes will be
        free for all. Using a bank card, anyone will be able
        to saddle up on a cycle hire bike for a 24-hour period, and as long as the
        trips are kept under half an hour people can make as many rides as they wish,
        all for free.&nbsp;
        &nbsp;
        For more information on the
        London Cycling Challenge or cycling in London, go to <a href="http://tfl.gov.uk/cycling">tfl.gov.uk/cycling</a></p>
        <hr />
         
        <ul>
            <li>Sign
            up for the Goal Setting Challenge at <a href="http://tfl.gov.uk/cyclechallenge">tfl.gov.uk/cyclechallenge</a> </li>
            <li>Download
            the app, Love to Ride, from the following links: </li>
            <li>Google Play Store: <a href="https://play.google.com/store/apps/details?id=com.challengeforchange.lovetoride&hl=en">https://play.google.com/store/apps/details?id=com.challengeforchange.lovetoride&amp;hl=en</a> </li>
            <li>Apple App Store: <a href="https://itunes.apple.com/gb/app/love-to-ride/id656668092?mt=8">https://itunes.apple.com/gb/app/love-to-ride/id656668092?mt=8</a></li>
            <li>The
            London Cycle Challenge focuses on participation, rather than miles cycled.</li>
            <li>The
            Friends Life Tour of Britain, the UK's biggest professional cycle race and the
            country's largest annual free-to-spectate sporting event, finishes in the
            capital on 14 September. The event was re-launched in 2004 and is sponsored by Friends
            Life. This event will bring to a close a spectacular summer of cycling in
            London, following the amazing return of the Tour de France to the capital, and
            of Prudential RideLondon.
            </li>
            <li>This
            year's successful Prudential RideLondon saw more than 80,000 people ride over
            the weekend, with all road closures removed ahead of schedule.</li>
            <li>To
            relive the triumphant return of the Tour de France to the capital, go to: <a href="https://www.youtube.com/watch?v=K8iGMp0azcw&feature=youtu.be">https://www.youtube.com/watch?v=K8iGMp0azcw&amp;feature=youtu.be</a></li>
            <li>This
            summer's cycling events are inspiring thousands more Londoners to take to two
            wheels, building on the Mayor's ambition for cycling to be an integral part of
            the transport network. As part of his cycling vision, the Mayor is already
            engaging in a vast &pound;1billion programme of improvements&nbsp; - creating a
            series of enhanced cycling superhighways, urban 'quietways' for more cautious
            cyclists, and turning some outer boroughs into mini-Hollands. &nbsp;&nbsp;&nbsp;&nbsp;
            </li>
            <li>For
            more information on the Mayor's Vision for Cycling visit <a href="http://www.tfl.gov.uk/corporate/about-tfl/how-we-work/planning-for-the-future/vision-for-cycling">http://www.tfl.gov.uk/corporate/about-tfl/how-we-work/planning-for-the-future/vision-for-cycling</a> </li>
            <li>The
            Mayor is committed to ensuring London retains its status as the world capital
            of sport, and has set up the Major Events Oversight Board. The board is chaired
            by Sir Edward Lister, and comprises TfL, the emergency services and other key
            partner agencies. It provides strategic direction and advice to the Mayor on
            the approach to bidding, staging and evaluating major events in London. The
            board ensures that all major road events continue to be carefully considered
            and tightly managed to ensure everyone gets full benefit from the event without
            undue impact on Londoners and London's transport. The board also looks at ways
            to ensure the major events programme is effectively communicated with
            Londoners, visitors, businesses and stakeholders to allow sufficient notice and
            forward planning for everyone</li>
        </ul>
    

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
                <a href="/info-for/media/index" class="heading">
                    <h2 id="sub-menu-heading">Media<span class="visually-hidden"> navigation</span></h2>
                </a>
                <ul>
                    
                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases">Press releases</a></div>
                                <ul>
                                    
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2020">2020</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019">2019</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018">2018</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017">2017</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016">2016</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015">2015</a></div></li>
                            
 
                                        <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014">2014</a></div>
                                        <ul>
                                            
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/december">December</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/november">November</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/october">October</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/september">September</a></div></li>
                                    
 
                                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/august">August</a></div>
                                                <ul>
                                                    
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
                                                </ul>
                                            
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/july">July</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/june">June</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/may">May</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/april">April</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/march">March</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/february">February</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/january">January</a></div></li>
                                    
 
                                        </ul>
                                    </li>
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2013">2013</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2012">2012</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2011">2011</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2010">2010</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2009">2009</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2008">2008</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2007">2007</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2006">2006</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2005">2005</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2004">2004</a></div></li>
                            
 
                                </ul>
                            </li>
 
                                <li><div class="link-wrapper"><a href="/info-for/media/photos">Photos</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/media/contact-the-press-office">Contact the Press Office</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/filming-and-photography">Filming & photography</a></div></li>
                            
 
                </ul>
            
 
 
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype: -Home-Media-Media-Press releases-2014-August-London Cycle Challenge - final stage -->

 
 
        
        
            @{ViewBag.Description = "Final stage of the London Cycle Challenge launched to keep the capital cycling.";}
        
        


 