


@{ViewBag.Title = "London Overground donates rare oil tanker to museum ";}
        
        
<div class="r">
    <div class="breadcrumb-container" role="navigation">
        <span id="breadcrumb-label" class="visually-hidden">You are here:</span>
        <ol class="breadcrumbs clearfix" aria-labelledby="breadcrumb-label">
            <li class="home">
                <a href="/">
                    <span class="hide-text">Home</span>
                </a>
            </li>
            
                <li>
                    <a href="/info-for/media/index">Media</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases">Press releases</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases/2014">2014</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases/2014/august">August</a>
                </li>
                
                <li>
                    <span class="last-breadcrumb">London Overground donates rare oil tanker to museum </span>
                </li>
            
 
            
 
            
 
            
 
            
 
        </ul>
    </div>
</div>
     
 
<div class="r">
    <div class="headline-container plain">
        <h1>London Overground donates rare oil tanker to museum </h1>
        <div class="content-page-press-release">
        27 August 2014
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">



 <div class="on-this-page">

        <p>A
        rare 1950s oil tanker has been donated by Transport for London to the East
        Anglian Railway Heritage museum.</p>
        <p>Wagon number
        '749659', which was based at the Willesden Junction depot where it was used to hold
        benzene carriage cleaning solution, will join other tankers on display and help
        the museum to tell the story of how liquids have been transported by rail.
        &nbsp;
        </p>
        <p>Before the
        tanker could be moved 75 miles to the museum by road, the tank had to be cut
        from its chassis and both parts moved separately due to the low bridge over the
        depot approach road. The museum will clean, refurbish and repaint tanker this
        winter so it is ready for public display next year.
        &nbsp;
        </p>
        <p>Director of TfL's London
        Overground, Mike Stubbs, said: `London Overground is focussed on providing an
        efficient and reliable 21st Century railway service to a 21st Century world
        city but we also acknowledge the industry's past and the skills, knowledge and
        design from 60 years ago.&nbsp;
        </p>
        <p>`The past has enabled the
        industry to be what it is in 2014 and we are pleased to be able to give this
        tanker a fitting home at the museum. This continues our relationship with
        the Museum as previously we donated historically important assets form Crystal
        Palace station when we reopened the Victorian ticket hall that had remained out
        of use for many decades.`&nbsp;
        </p>
        <p>
        East
        Anglian Railway Museum Treasurer Ian Reed, said: `The Museum, a registered
        charity&nbsp;run by volunteers and accredited by Arts Council England, is
        delighted to have an example of the tankers used locally across the North Sea
        on the rail ferry service that ran up to the 1960s.&nbsp; It
        complements the Molasses tanker from the 1920s and&nbsp;petroleum product
        tankers from the 40s and 50s that show the development of the design of 4 wheel
        tankers during the early to mid 20th Century.' </p>
        <p>`Any
        volunteers wishing to get involved are always welcome, see our website at www.earm.co.uk&nbsp;
        The Museum appreciates the support given by Transport for London
        in&nbsp;helping to preserve elements of our railway heritage for people to
        enjoy now and for the future.`
        &nbsp;
        </p>
        <p>TfL Project
        Manager
        Brian Lynn, who supervised the move, said: `London Overground assisted by our
        contractors Laing O'Rourke are extremely
        pleased to be associated with Ian Reed and his team at the East Anglia Railway
        Museum in preserving national and local rail history by donating this
        historical rolling stock for restoration and display.`
        &nbsp;
        </p>
        <p>At the Museum, the tanker
        will assist in telling the story of transport of liquids by rail, and will be
        the most modern of the four tank wagons showing the transport of petrol, oil
        and molasses, and now benzene, over the centuries.</p>
         
        <hr />
         
        <ul>
            <li>The
            wagon is No.749659, the last of a batch of only 10 built to Diagram 1/304 as
            Lot No.2240 by Hurst Nelson of Glasgow in 1951 to the order of Petrochemicals
            Limited for Benzene traffic to the Continent. </li>
            <li>The usual route for this was via
            Harwich in Essex</li>
            <li>It
            has a long link 12ft wheelbase with ferry chaining down eyes and is air piped.
            It is 27'4&quot; long, and 8'6&quot; wide. Its capacity is 7,500 gallons</li>
            <li>Images
            are available. Please contact the TfL Press Office</li>
        </ul>
         
    

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
                <a href="/info-for/media/index" class="heading">
                    <h2 id="sub-menu-heading">Media<span class="visually-hidden"> navigation</span></h2>
                </a>
                <ul>
                    
                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases">Press releases</a></div>
                                <ul>
                                    
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2020">2020</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019">2019</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018">2018</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017">2017</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016">2016</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015">2015</a></div></li>
                            
 
                                        <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014">2014</a></div>
                                        <ul>
                                            
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/december">December</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/november">November</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/october">October</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/september">September</a></div></li>
                                    
 
                                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/august">August</a></div>
                                                <ul>
                                                    
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
                                                </ul>
                                            
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/july">July</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/june">June</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/may">May</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/april">April</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/march">March</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/february">February</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/january">January</a></div></li>
                                    
 
                                        </ul>
                                    </li>
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2013">2013</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2012">2012</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2011">2011</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2010">2010</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2009">2009</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2008">2008</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2007">2007</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2006">2006</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2005">2005</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2004">2004</a></div></li>
                            
 
                                </ul>
                            </li>
 
                                <li><div class="link-wrapper"><a href="/info-for/media/photos">Photos</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/media/contact-the-press-office">Contact the Press Office</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/filming-and-photography">Filming & photography</a></div></li>
                            
 
                </ul>
            
 
 
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype: -Home-Media-Media-Press releases-2014-August-London Overground donates rare oil tanker to museum  -->

 
 
        
        
            @{ViewBag.Description = "Press releases and news articles from Transport for London";}
        
        


 