


@{ViewBag.Title = "LU awards contract to build  Northern line extension ";}
        
        
<div class="r">
    <div class="breadcrumb-container" role="navigation">
        <span id="breadcrumb-label" class="visually-hidden">You are here:</span>
        <ol class="breadcrumbs clearfix" aria-labelledby="breadcrumb-label">
            <li class="home">
                <a href="/">
                    <span class="hide-text">Home</span>
                </a>
            </li>
            
                <li>
                    <a href="/info-for/media/index">Media</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases">Press releases</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases/2014">2014</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases/2014/august">August</a>
                </li>
                
                <li>
                    <span class="last-breadcrumb">LU awards contract to build  Northern line extension </span>
                </li>
            
 
            
 
            
 
            
 
            
 
        </ul>
    </div>
</div>
     
 
<div class="r">
    <div class="headline-container plain">
        <h1>LU awards contract to build  Northern line extension </h1>
        <div class="content-page-press-release">
        21 August 2014
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        London Underground announces Ferrovial Agroman Laing O'Rourke to build Northern line extension.
        
    </div>



<div class="pull-quote">
        <div class="quote-body">"&quot;As our population grows faster than any other European city, the case for stable and sustained investment in London's transport network has never been stronger.&quot;"</div>
        <div class="quote-footer">
            <div class="quotee-name">Mike Brown MVO </div>
            <div class="quotee-job-title">Managing Director, London Underground</div>
        </div>
</div>

 <div class="on-this-page">

        <ul>
            <li>Northern
            line extension will regenerate the Nine Elms area by supporting up to
            25,000 new jobs and 16,000 new homes
            &nbsp;</li>
        </ul>
        <p>
        London Underground (LU) has today
        announced its intention to award the contract to design and build the Northern
        line extension from
        Kennington to Battersea via Nine Elms to Ferrovial Agroman Laing
        O'Rourke.
        &nbsp;
        </p>
        <p>The contract, worth approximately
        &pound;500 million, will be for six years and covers the main construction works. </p>
        <p>The
        full cost of the scheme is expected to be up to &pound;1bn, which is being funded
        entirely through developer contributions from Battersea Power Station and other
        developers and, from 2016, a new Enterprise Zone.
        &nbsp;
        </p>
        <p>The
        construction of the extension will help kick start regeneration in the Nine
        Elms area of south London and provide major transport benefits, cutting journey
        times to the West End and the City to just under 15 minutes. It will also
        reduce pressure on Vauxhall station, support the existing Northern line south
        of Kennington and give wider access to leisure and employment opportunities.
        &nbsp;
        &nbsp;
        </p>
         
        <h2>New jobs and new homes</h2>
        <p>The
        new infrastructure will support up to 25,000 jobs and 16,000 new homes.&nbsp;
        The new jobs enabled by the Northern line extension will have a positive impact
        on the whole UK economy, whilst the jobs generated in constructing the scheme,
        including around 50 apprenticeships&nbsp;through the supply chain, will be
        spread across the UK.&nbsp;
        &nbsp;
        </p>
        <p>Mike
        Brown MVO, the Managing Director of London Underground, said: `This is an
        important step in ensuring the delivery of this vital extension which will
        significantly improve transport links in the area.&nbsp; It is vital that our
        proposal is delivered cost effectively for our passengers, taxpayers and the
        local Boroughs and developers who are helping to fund the extension.&nbsp;
        &nbsp;
        </p>
        <p>`As
        our population grows faster than any other European city, the case for stable
        and sustained investment in London's transport network has never been
        stronger.`
        </p>
        <p>This
        contract award is the culmination of a competitive procurement process that
        began last year when LU issued an OJEU notice asking for expressions of
        interest from the industry for the design and build contract for the Northern
        line extension.
        &nbsp;
        A public inquiry to consider the
        Transport and Works Act Order application to extend the Northern line ran from
        19 November to 20 December 2013 and was conducted by an independent Inspector.
        &nbsp;A decision on the Order is anticipated in autumn this year.
        &nbsp;
        LU
        has now completed its evaluation and negotiations and following a 10-day
        standstill period required by European law LU will enter into contract with Ferrovial
        Agroman Laing O'Rourke.
        &nbsp;
        </p>
        <p>LU is carrying out a huge programme of
        modernisation, with major stations, trains, track and signalling being
        modernised or replaced to provide more capacity for a growing city. The line
        upgrades are at the core of LU's investment programme, which will deliver more
        than 30% increase in capacity. The upgrade programme is being delivered
        over the coming years, with work on upgrades to the Northern, Circle, District,
        Hammersmith &amp; City and Metropolitan lines well underway.&nbsp;
        &nbsp;
        </p>
        <p>Redevelopment
        work to increase capacity at key stations and make them step-free, is underway
        at a number of stations including Victoria, Tottenham Court Road and Bond
        Street and more than half of London Underground's 270 stations have now been
        modernised or refurbished to make them brighter and easier to use, with
        improvements such as tactile strips, better CCTV and help points, electronic
        information displays in ticket halls and on platforms, and improved seating and
        lighting.</p>
         
         
        <hr />
         
        <ul>
            <li>Tender
            documents were issued on 9 December 2013 and were returned by the bidders on 17
            March 2014</li>
            <li>Evaluation
            of tenders was carried out in three stages:</li>
        </ul>
        <p>
        Stage
        1 &#45; Preliminary review, for due diligence and completeness of submitted
        tenders.</p>
        <p>Stage
        2 &#45; Detailed Evaluation, output from this stage used to select two tenderers to
        proceed to the next stage of evaluation.</p>
        <p>Stage
        3 &#45; Negotiation stage, for the resolution of all outstanding issues in relation
        to the tender submissions received.</p>
        <ul>
            <li>At
            completion of Stage 2, two of the four lowest scoring tenderers were deselected
            from proceeding to Stage 3.</li>
            <li>At completion of Stage 3 a preferred
            bidder was identified. A
            public inquiry to consider our Transport and Works Act Order (TWAO) application
            to extend the Northern line ran from 19 November to 20 December 2013 and was
            conducted by an independent Inspector.</li>
            <li>The
            proposed start of construction for the Northern line extension is spring 2015.</li>
            <li>Subject
            to funding and permission to build and operate the extension, the new stations
            at Nine Elms and Battersea could be open by 2020.</li>
        </ul>
         
         
         
         
         
         
         
         
         
    

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
                <a href="/info-for/media/index" class="heading">
                    <h2 id="sub-menu-heading">Media<span class="visually-hidden"> navigation</span></h2>
                </a>
                <ul>
                    
                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases">Press releases</a></div>
                                <ul>
                                    
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2020">2020</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019">2019</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018">2018</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017">2017</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016">2016</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015">2015</a></div></li>
                            
 
                                        <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014">2014</a></div>
                                        <ul>
                                            
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/december">December</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/november">November</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/october">October</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/september">September</a></div></li>
                                    
 
                                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/august">August</a></div>
                                                <ul>
                                                    
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
                                                </ul>
                                            
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/july">July</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/june">June</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/may">May</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/april">April</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/march">March</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/february">February</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/january">January</a></div></li>
                                    
 
                                        </ul>
                                    </li>
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2013">2013</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2012">2012</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2011">2011</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2010">2010</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2009">2009</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2008">2008</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2007">2007</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2006">2006</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2005">2005</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2004">2004</a></div></li>
                            
 
                                </ul>
                            </li>
 
                                <li><div class="link-wrapper"><a href="/info-for/media/photos">Photos</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/media/contact-the-press-office">Contact the Press Office</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/filming-and-photography">Filming & photography</a></div></li>
                            
 
                </ul>
            
 
 
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype: -Home-Media-Media-Press releases-2014-August-LU awards contract to build  Northern line extension  -->

 
 
        
        
            @{ViewBag.Description = "London Underground announces Ferrovial Agroman Laing O’Rourke to build Northern line extension.";}
        
        


 