


@{ViewBag.Title = "LU to source additional Tube trains";}
        
        
<div class="r">
    <div class="breadcrumb-container" role="navigation">
        <span id="breadcrumb-label" class="visually-hidden">You are here:</span>
        <ol class="breadcrumbs clearfix" aria-labelledby="breadcrumb-label">
            <li class="home">
                <a href="/">
                    <span class="hide-text">Home</span>
                </a>
            </li>
            
                <li>
                    <a href="/info-for/media/index">Media</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases">Press releases</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases/2014">2014</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases/2014/august">August</a>
                </li>
                
                <li>
                    <span class="last-breadcrumb">LU to source additional Tube trains</span>
                </li>
            
 
            
 
            
 
            
 
            
 
        </ul>
    </div>
</div>
     
 
<div class="r">
    <div class="headline-container plain">
        <h1>LU to source additional Tube trains</h1>
        <div class="content-page-press-release">
        18 August 2014
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        London Underground begins search to secure additional Jubilee and Northern line trains.
        
    </div>



<div class="pull-quote">
        <div class="quote-body">"By combining
the orders for new trains for two lines we will ensure that their delivery
represents value for money for our customers."</div>
        <div class="quote-footer">
            <div class="quotee-name">Gareth Powell</div>
            <div class="quotee-job-title">Director of Strategy & Service Development for London Underground</div>
        </div>
</div>

 <div class="on-this-page">

        <ul>
            <li>Additional trains and modern signalling
            system will boost capacity, supporting London's growing population and economy.</li>
            <li>Combined orders will ensure value for
            money for customers.</li>
        </ul>
         
        <p>London
        Underground (LU) will today begin the search for a supplier to provide
        additional trains for the Jubilee and Northern lines.</p>
        <p>The
        new trains will enable greater frequencies on the Jubilee and Northern lines
        and support Tube services for the proposed Northern line extension from
        Kennington to Battersea.</p>
        <p>
        LU
        has placed a notice with the Official Journal of the European Union (OJEU)
        seeking expressions of interest to supply new trains for the Jubilee and
        Northern lines.&nbsp; </p>
        <p>A formal Invitation to Tender is expected to be issued in
        early 2015.</p>
         
        <h2>Meeting the challenge</h2>
        <p>Alongside
        new modern signalling systems, the additional trains will help LU meet the
        challenge of London's growing population &#45; set to increase from 8.2m today to
        around 10m by 2030 &#45; by increasing capacity in central London on the Jubilee
        line by 13% and on the Northern line by 25 per cent.
        &nbsp;
        </p>
        <p>
        Gareth
        Powell, Director of Strategy &amp; Service Development for London Underground
        said: `When these extra trains are in service by 2021 central London customers
        will benefit from at least 30 trains per hour on the Northern line and at least
        34 trains per hour on the Jubilee line during peak times.&nbsp; By combining
        the orders for new trains for two lines we will ensure that their delivery
        represents value for money for our customers.'
        &nbsp;
        </p>
        <p>The
        new trains are part of a huge programme of modernisation being carried out by
        London Underground, with major stations, trains, track and signalling being
        modernised or replaced to provide more capacity for a growing city. </p>
        <p>The line
        upgrades are at the core of LU's investment programme, which will deliver more
        than 30% increase in capacity. The upgrade programme is being delivered
        over the coming years, with work on upgrades to the Northern, Circle, District,
        Hammersmith &amp; City and Metropolitan lines well underway.&nbsp;
        &nbsp;
        </p>
        <p>Redevelopment
        work to increase capacity at key stations and make them step-free, is underway
        at a number of stations including Victoria, Tottenham Court Road and Bond
        Street and more than half of London Underground's 270 stations have now been
        modernised or refurbished to make them brighter and easier to use, with
        improvements such as tactile strips and better CCTV and help points, electronic
        information displays in ticket halls and on platforms, and improved seating and
        lighting.</p>
         
         
        <p>
        </p>
         
        <hr />
        The
        programme for additional trains on the Jubilee and Northern lines will see
        approximately:
         
        <ul>
            <li>Up
            to 18 trains for the Jubilee line.</li>
            <li>Up
            to 50 trains for the Northern line &#45; five for the proposed Northern line
            extension and 45 to increase frequencies on the rest of the line</li>
        </ul>
        A
        public inquiry to consider our Transport and Works Act Order application to
        extend the Northern line ran from 19 November to 20 December 2013 and was conducted
        by an independent Inspector.&nbsp; A decision on the Order is anticipated in
        autumn this year.
         
         
    

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
                <a href="/info-for/media/index" class="heading">
                    <h2 id="sub-menu-heading">Media<span class="visually-hidden"> navigation</span></h2>
                </a>
                <ul>
                    
                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases">Press releases</a></div>
                                <ul>
                                    
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2020">2020</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019">2019</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018">2018</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017">2017</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016">2016</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015">2015</a></div></li>
                            
 
                                        <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014">2014</a></div>
                                        <ul>
                                            
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/december">December</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/november">November</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/october">October</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/september">September</a></div></li>
                                    
 
                                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/august">August</a></div>
                                                <ul>
                                                    
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
                                                </ul>
                                            
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/july">July</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/june">June</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/may">May</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/april">April</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/march">March</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/february">February</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/january">January</a></div></li>
                                    
 
                                        </ul>
                                    </li>
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2013">2013</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2012">2012</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2011">2011</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2010">2010</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2009">2009</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2008">2008</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2007">2007</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2006">2006</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2005">2005</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2004">2004</a></div></li>
                            
 
                                </ul>
                            </li>
 
                                <li><div class="link-wrapper"><a href="/info-for/media/photos">Photos</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/media/contact-the-press-office">Contact the Press Office</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/filming-and-photography">Filming & photography</a></div></li>
                            
 
                </ul>
            
 
 
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype: -Home-Media-Media-Press releases-2014-August-LU to source additional Tube trains -->

 
 
        
        
            @{ViewBag.Description = "London Underground begins search to secure additional Jubilee and Northern line trains.";}
        
        


 