


@{ViewBag.Title = "New hybrid bus charging technology trial announced";}
        
        
<div class="r">
    <div class="breadcrumb-container" role="navigation">
        <span id="breadcrumb-label" class="visually-hidden">You are here:</span>
        <ol class="breadcrumbs clearfix" aria-labelledby="breadcrumb-label">
            <li class="home">
                <a href="/">
                    <span class="hide-text">Home</span>
                </a>
            </li>
            
                <li>
                    <a href="/info-for/media/index">Media</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases">Press releases</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases/2014">2014</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases/2014/august">August</a>
                </li>
                
                <li>
                    <span class="last-breadcrumb">New hybrid bus charging technology trial announced</span>
                </li>
            
 
            
 
            
 
            
 
            
 
        </ul>
    </div>
</div>
     
 
<div class="r">
    <div class="headline-container plain">
        <h1>New hybrid bus charging technology trial announced</h1>
        <div class="content-page-press-release">
        27 August 2014
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        The first use of extended range diesel electric hybrid double deck buses in the capital
        
    </div>



<div class="pull-quote">
        <div class="quote-body">"This trial of extended range diesel electric hybrid buses, utilising the latest inductive charging technology, could be a step closer to getting even cleaner double deck buses on London's streets"</div>
        <div class="quote-footer">
            <div class="quotee-name">Mike Weston</div>
            <div class="quotee-job-title">TfL's Director of Buses</div>
        </div>
</div>

 <div class="on-this-page">

        <ul>
            <li>Technology will reduce running costs compared to conventional double deck buses</li>
            <li>Part of continued commitment to trial cleaner and greener transport</li>
        </ul>
         
        <p>TfL has today (Wednesday 27 August) announced that it is to trial innovative technology that will enable specially designed  buses to wirelessly charge their batteries while they wait at bus stands.</p>
        <p>The inductive charging technology will be trialled on up to four extended range diesel electric hybrid buses in east London from next year.</p>
         
        <h2>Pure electric mode
        </h2>
         
         
        <p>The specially built hybrid double deck buses will operate on route 69 between Canning Town and Walthamstow bus stations.  The Alexander Dennis Enviro400H buses will be fitted with special technology enabling on-board batteries to receive a charge boost at bus stands at either end of the route. </p>
        <p> It is hoped this will enable the buses to operate in pure electric mode for a significant period of the time they are in passenger service.</p>
         
        <h2>Convenient for busy routes
        </h2>
         
         
        <p>The trial utilises inductive charging technology that allows the buses to top up their  batteries without the need to be physically plugged in, offering a more convenient option for use on busy London bus routes.  </p>
        <p>The buses have a diesel engine that will be used when the battery power on the bus is depleted, but it is anticipated this will only be a small amount of the time, meaning emissions on these vehicles are greatly reduced.</p>
         
        <h2>Improved air quality
        </h2>
         
         
        <p>
        Passengers will notice that these extended range diesel electric hybrid buses offer much lower noise and vibration levels compared to conventional diesel vehicles.  The buses have significantly reduced tail pipe emissions, resulting in improved air quality, and because of reduced fuel use will have lower carbon emissions.</p>
        <p>The trial will help TfL develop plans for greater use of electric buses in central London in the future, contributing to the Mayor's vision of a central London Ultra Low Emission Zone.
        </p>
        <p>Mike Weston, TfL's Director of Buses, said: 'We are continuing our assessment of new technology in the capital that can deliver genuine environmental benefits.  This trial of extended range diesel electric hybrid buses, utilising the latest inductive charging technology, could be a step closer to getting even cleaner double deck buses on London's streets.  We will be closely monitoring the results of the trials, which may help us adopt this new cleaner technology more widely in London.'</p>
         
        <h2>Zero Emissions Urban Bus System
        </h2>
         
        <p>
        This trial is part funded as part of a wider European Programme called Zero Emissions Urban Bus System (ZeEUS) which is co-ordinated by the International Association of Public Transport (UITP, L'Union Internationale des Transports Publics).</p>
        <p>TfL is leading a consortium of suppliers all working together to deliver and assess how the technology works in London.  These include Alexander Dennis which is delivering the vehicles and IPT Technology which is supplying the bus station charging technology, IPT Technology (supplying the bus station charging technology), Siemens
        (supplying the plug-in chargers based at West Ham bus garage) and
        TRL and TTR (provided monitoring and evaluation support).
        </p>
        <p>The introduction of this technology will complement the existing trial of six pure electric single deck buses, which represent the first step of the Mayor's plan for all single deck buses in central London to be zero emission at tailpipe, as part of the world's first Ultra Low Emission Zone, from 2020.  A further two pure electric buses are expected to enter service later this year.</p>
        <h2>Trialling the technology</h2>
         
        <p>The trialling of inductive charged diesel electric hybrid buses is designed to establish whether the technology can stand up to the rigours of operating in an intense urban environment such as London.  </p>
        <p>It will help TfL understand whether electric-only mode could be realistically achieved, and whether any modifications would need to be made before they could be rolled out more widely.</p>
        <h2>Environmentally friendly bus fleet</h2>
         
        <p>This electric bus trial is one of the many measures the Mayor has introduced to make London's bus fleet more environmentally friendly, including the operation of zero emission hydrogen buses on Route RV1 between Covent Garden and Tower Gateway and delivering Europe's largest hybrid bus fleet.  </p>
        <p>Around 800 hybrid buses now operate on the capital's roads, including the New Routemasters, with more being introduced in a rolling programme.  By 2016 there will be more than 1,700 hybrid buses in service on London's streets representing 20% of the total bus fleet.  </p>
        <p>TfL has also recently completed an extensive retrofit programme of over 1,000 older buses which involves fitting them with an innovative system called Selective Catalytic Reduction (SCR), reducing emissions of harmful oxides of nitrogen (NOx) by up to 88%.</p>
         
        <hr />
         
        <p>Notes to editors</p>
         
        <ul>
            <li>Route 69 is operated by Stagecoach</li>
            <li>Today's announcement is part of a wide range of measures the Mayor has implemented to improve air quality in the capital to ensure London meets legal limit for nitrogen dioxide (NO2) as soon as possible and by 2020.  These include removing the oldest and most polluting vehicles off our streets, tightening standards for engines and buildings and the world's largest bus retrofit programme has created the cleanest fleet in the world. The Mayor is also creating the world's first Ultra Low Emission Zone in central London from 2020</li>
        </ul>
         
    

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
                <a href="/info-for/media/index" class="heading">
                    <h2 id="sub-menu-heading">Media<span class="visually-hidden"> navigation</span></h2>
                </a>
                <ul>
                    
                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases">Press releases</a></div>
                                <ul>
                                    
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2020">2020</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019">2019</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018">2018</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017">2017</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016">2016</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015">2015</a></div></li>
                            
 
                                        <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014">2014</a></div>
                                        <ul>
                                            
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/december">December</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/november">November</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/october">October</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/september">September</a></div></li>
                                    
 
                                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/august">August</a></div>
                                                <ul>
                                                    
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
                                                </ul>
                                            
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/july">July</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/june">June</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/may">May</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/april">April</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/march">March</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/february">February</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/january">January</a></div></li>
                                    
 
                                        </ul>
                                    </li>
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2013">2013</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2012">2012</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2011">2011</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2010">2010</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2009">2009</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2008">2008</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2007">2007</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2006">2006</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2005">2005</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2004">2004</a></div></li>
                            
 
                                </ul>
                            </li>
 
                                <li><div class="link-wrapper"><a href="/info-for/media/photos">Photos</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/media/contact-the-press-office">Contact the Press Office</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/filming-and-photography">Filming & photography</a></div></li>
                            
 
                </ul>
            
 
 
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype: -Home-Media-Media-Press releases-2014-August-New hybrid bus charging technology trial announced -->

 
 
        
        
            @{ViewBag.Description = "The first use of extended range diesel electric hybrid double deck buses in the capital";}
        
        


 