


@{ViewBag.Title = "New Bus Sensor Technology Trial";}
        
        
<div class="r">
    <div class="breadcrumb-container" role="navigation">
        <span id="breadcrumb-label" class="visually-hidden">You are here:</span>
        <ol class="breadcrumbs clearfix" aria-labelledby="breadcrumb-label">
            <li class="home">
                <a href="/">
                    <span class="hide-text">Home</span>
                </a>
            </li>
            
                <li>
                    <a href="/info-for/media/index">Media</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases">Press releases</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases/2014">2014</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases/2014/august">August</a>
                </li>
                
                <li>
                    <span class="last-breadcrumb">New Bus Sensor Technology Trial</span>
                </li>
            
 
            
 
            
 
            
 
            
 
        </ul>
    </div>
</div>
     
 
<div class="r">
    <div class="headline-container plain">
        <h1>New Bus Sensor Technology Trial</h1>
        <div class="content-page-press-release">
        01 August 2014
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        TfL set to launch new bus sensor technology trial for improved road safety
        
    </div>



<div class="pull-quote">
        <div class="quote-body">"This is another great example of London leading the way by using the latest innovative technology to further improve safety for every road user"</div>
        <div class="quote-footer">
            <div class="quotee-name">Isabel Dedring</div>
            <div class="quotee-job-title">Deputy Mayor for Transport</div>
        </div>
</div>

 <div class="on-this-page">

        <ul>
            <li>Trial of detection software to enhance bus driver awareness of pedestrians and cyclists</li>
            <li>Four buses to be fitted with high-tech safety equipment</li>
        </ul>
        <p>Transport for London (TfL) today confirmed that trials of detection software to enhance bus driver awareness of pedestrians and cyclists, will start later this month as part of a continued drive to improve road safety in the capital.</p>
        <p>Four buses, two on route 25 and two on route 73, will be fitted with brand new pedestrian and cyclist detection software as part of a six-week trial. </p>
        <p>The technology directly alerts bus drivers when pedestrians and cyclists are moving close to their vehicles, helping to reduce collisions.</p>
        <p>TfL is trialling two systems 'CycleEye' from Fusion Processing Limited and 'Cycle Safety Shield' from Safety Shield Systems Limited.</p>
        <p>CycleEye is advanced cyclist detection technology which uses both radar and optical technology to detect cyclists in close proximity to vehicles and the system audibly alerts the bus driver to their presence. </p>
        <p>Cycle Safety Shield is able to detect pedestrians, cyclists or motorcyclists in close proximity to vehicles, giving a visual warning and then an audible alert to the driver.</p>
        <p>The bus routes, which run between Oxford Street and Ilford via Mile End (route 25) and Victoria to Stoke Newington via Oxford Circus and Kings Cross (Route 73), have been specifically chosen for the trial because of the high number of pedestrians and cyclists that use these bus routes. </p>
        <p>A report detailing the findings of the trial and suggested next steps will be available later this year.</p>
        <p>One of TfL's top priorities is to reduce the number of people killed or seriously injured on London's roads by 40 per cent by 2020. </p>
        <p>Recently, the Mayor and TfL published six commitments which, working with a range of partners, are guiding initiatives to deliver this. In particular, action is being taken to prioritise the safety of the most vulnerable road users:&nbsp; pedestrians, cyclists and motorcyclists. </p>
        <p>Casualties involving buses have fallen dramatically in recent years and continue to do so.</p>
        <p>News of the trial follows Intelligent Speed Adaptation (ISA) on London Buses, to understand the potential this technology has in helping to regulate speed across the bus network.</p>
        <p>Bus trips account for over a quarter of all road journeys in London but buses and coaches are involved in only eight per cent of road collisions resulting in an injury. </p>
        <p>Recently published figures for 2013 show the number of cyclists and pedestrians killed or seriously injured (KSI) in a collision involving a bus or coach in the capital fell by 38 per cent and 22 per cent respectively compared to 2012, with pedestrian KSIs almost halving and cyclist KSIs falling by 40 per cent in the last six years.</p>
        <p>Isabel Dedring, Deputy Mayor for Transport, said: </p>
        <p>'This is another great example of London leading the way by using the latest innovative technology to further improve safety for every road user. We've seen real improvements in reducing the number of accidents on our streets involving buses and if this trial proves successful we'll look to roll it out further across London's fleet.'</p>
        <p>TfL's Managing Director for Surface Transport, Leon Daniels, said: </p>
        <p>'We are all pedestrians, and the number of people cycling in London is increasing, therefore it is vital that we continue to make London's streets as safe as possible. This forthcoming trial of innovative detection technology on London Buses will build on the positive trends we've seen in reducing serious injuries and demonstrates our commitment to making London's streets safe for all.'</p>
        <p>The new trial is the latest in a long line of technological advances being trialled by TfL on London's buses. </p>
        <p>Recently, innovative pollution reducing equipment was installed on the exhaust systems of over 1,000 buses operating on more than 50 routes across London.</p>
        <p>Combined with the roll out of new hybrid buses (including the New Routemaster) and the early introduction the ultra-low emission Euro VI engine to new buses, the retrofit programme has led to significant improvements in emissions throughout London. </p>
         
        <hr />
         
        <p>Notes to Editors:</p>
        <ul>
            <li>London's bus drivers already have the highest standards of training anywhere in the UK and TfL works closely with the bus companies to ensure all drivers are trained to operate safely on London's roads. Performance of bus driving across London is also independently monitored.&nbsp; </li>
            <li>Detailed bus safety data for January to March 2014 is available at: <a href="http://www.tfl.gov.uk/corporate/publications-and-reports/buses">http://www.tfl.gov.uk/corporate/publications-and-reports/buses</a>. Between 2008 and 2013, the number of pedestrians killed or seriously injured resulting from a collision with a bus or coach in Greater London fell by 48.1 per cent. The number of cyclist KSIs over the same period fell by 40 per cent.&nbsp; </li>
            <li>In June 2013, the Mayor and Transport for London published Safe Streets for London: an ambitious and comprehensive plan to reduce further the number of people killed or seriously injured in London by 40 per cent by 2020:&nbsp; <a href="http://www.tfl.gov.uk/cdn/static/cms/documents/safe-streets-for-london.pdf">http://www.tfl.gov.uk/cdn/static/cms/documents/safe-streets-for-london.pdf</a>&nbsp; </li>
            <li>In February 2014 the Mayor and TfL published six safety commitments, which supports the plan and brings focus to the range of actions needed by us and our partners to make our streets safer:&nbsp; <a href="http://www.tfl.gov.uk/cdn/static/cms/documents/safe-london-streets-our-six-road-safety-commitments.pdf">http://www.tfl.gov.uk/cdn/static/cms/documents/safe-london-streets-our-six-road-safety-commitments.pdf</a>&nbsp; </li>
            <li>The six key commitments are: &nbsp;&nbsp;&nbsp; </li>
        </ul>
        <ol>
            <li>To lead the way in achieving a 40 per cent reduction in the number of people killed or seriously injured on the capital's roads by 2020 - with a longer term ambition of freeing London's roads from death and serious injury; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </li>
            <li>To prioritise safety of the most vulnerable groups - pedestrians, cyclists and motorcyclists - which make up 80 per cent of serious and fatal collisions; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </li>
            <li>To provide substantial funding for road safety, invested in the most effective and innovative schemes; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </li>
            <li>To increase efforts with the police and enforcement agencies in tackling illegal, dangerous and careless road user behaviour that puts people at risk; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </li>
            <li>To campaign for changes in national and EU law to make roads, vehicles and drivers safer; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </li>
            <li>To work in partnership with boroughs and London's road safety stakeholders to spread best practice and share data and information. &nbsp;</li>
        </ol>
    

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
                <a href="/info-for/media/index" class="heading">
                    <h2 id="sub-menu-heading">Media<span class="visually-hidden"> navigation</span></h2>
                </a>
                <ul>
                    
                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases">Press releases</a></div>
                                <ul>
                                    
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2020">2020</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019">2019</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018">2018</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017">2017</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016">2016</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015">2015</a></div></li>
                            
 
                                        <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014">2014</a></div>
                                        <ul>
                                            
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/december">December</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/november">November</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/october">October</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/september">September</a></div></li>
                                    
 
                                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/august">August</a></div>
                                                <ul>
                                                    
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
                                                </ul>
                                            
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/july">July</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/june">June</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/may">May</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/april">April</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/march">March</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/february">February</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/january">January</a></div></li>
                                    
 
                                        </ul>
                                    </li>
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2013">2013</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2012">2012</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2011">2011</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2010">2010</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2009">2009</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2008">2008</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2007">2007</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2006">2006</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2005">2005</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2004">2004</a></div></li>
                            
 
                                </ul>
                            </li>
 
                                <li><div class="link-wrapper"><a href="/info-for/media/photos">Photos</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/media/contact-the-press-office">Contact the Press Office</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/filming-and-photography">Filming & photography</a></div></li>
                            
 
                </ul>
            
 
 
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype: -Home-Media-Media-Press releases-2014-August-New Bus Sensor Technology Trial -->

 
 
        
        
            @{ViewBag.Description = "New Bus Sensor Technology Trial";}
        
        


 