


@{ViewBag.Title = "Passenger advice during ASLEF strike on Central line";}
        
        
<div class="r">
    <div class="breadcrumb-container" role="navigation">
        <span id="breadcrumb-label" class="visually-hidden">You are here:</span>
        <ol class="breadcrumbs clearfix" aria-labelledby="breadcrumb-label">
            <li class="home">
                <a href="/">
                    <span class="hide-text">Home</span>
                </a>
            </li>
            
                <li>
                    <a href="/info-for/media/index">Media</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases">Press releases</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases/2014">2014</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases/2014/august">August</a>
                </li>
                
                <li>
                    <span class="last-breadcrumb">Passenger advice during ASLEF strike on Central line</span>
                </li>
            
 
            
 
            
 
            
 
            
 
        </ul>
    </div>
</div>
     
 
<div class="r">
    <div class="headline-container plain">
        <h1>Passenger advice during ASLEF strike on Central line</h1>
        <div class="content-page-press-release">
        20 August 2014
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">



 <div class="on-this-page">

        <ul>
            <li>Central and Waterloo &amp;
            City line services will be severely disrupted should&nbsp; ASLEF strike action
            go ahead</li>
            <li>Customers are urged to seek
            alternative routes and&nbsp;check before they travel at tfl.gov.uk</li>
            <li>All other Tube, DLR and
            London Overground routes will be operating normally but may be busier than
            usual</li>
            <li>ASLEF union urged to join LU
            in continuing discussions rather than disrupting Londoners</li>
        </ul>
        <p>London Underground today issued advice to customers should strike
        action on the Central line, threatened by the leadership of the ASLEF union, go
        ahead this Friday.
        &nbsp;
        </p>
        <p>The ASLEF action is currently due to take place all day on Friday
        22 August.&nbsp; If it does go ahead there the Central and Waterloo &amp; City
        lines will be severely affected.&nbsp; Parts or all of both lines may be
        suspended, and if trains do run they will be at a reduced frequency. </p>
        <p>We do not
        expect any trains to run early morning/late at night.&nbsp; Customers are
        advised to seek alternative routes, avoiding the Central and Waterloo &amp;
        City lines.
        &nbsp;
        </p>
        <p>We do not expect Central
        line trains will run in central London.&nbsp; TfL will deploy extra buses on
        key routes and TfL Ambassadors and volunteers will be deployed to key
        Underground and bus stations to provide customers with travel information and
        advice.
        &nbsp;
        </p>
        <p>Other Tube services, the
        DLR, London Overground and National Rail will operate normally. These services
        are likely to be busier than usual and journeys made outside traditional peak
        hours are likely to be easier.
        &nbsp;
        </p>
        <p>Nigel Holness, London
        Underground's Operations Director, said:&nbsp; `Should Friday's strike go ahead there will be disruption on both the Central
        and Waterloo &amp; City lines.&nbsp; We will have staff and volunteers across
        the network to help customers with their journeys but I advise people to plan
        ahead and check before they travel. All other Tube, DLR and London Overground
        routes will be operating as normal.
        &nbsp;
        </p>
        <p>`We're disappointed
        that ASLEF leadership is planning strike action while discussions are still
        ongoing.&nbsp; Strike action is not necessary and we urge them to continue
        talks with us to understand and resolve their concerns rather than threatening strike action which will only disrupt
        Londoners and lose staff pay.&nbsp; We have made good progress together and
        have resolved a number of issues and I would ask ASLEF to see sense and call
        off this unnecessary action whilst we continue talking and seek to resolve the
        outstanding issues.'&nbsp;
        </p>
        <p>Please plan ahead and check before you travel. For the latest
        information use the contact details below or follow &#64;TfLTravelAlerts and
        &#64;centralline on Twitter.</p>
    

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
                <a href="/info-for/media/index" class="heading">
                    <h2 id="sub-menu-heading">Media<span class="visually-hidden"> navigation</span></h2>
                </a>
                <ul>
                    
                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases">Press releases</a></div>
                                <ul>
                                    
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2020">2020</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019">2019</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018">2018</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017">2017</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016">2016</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015">2015</a></div></li>
                            
 
                                        <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014">2014</a></div>
                                        <ul>
                                            
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/december">December</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/november">November</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/october">October</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/september">September</a></div></li>
                                    
 
                                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/august">August</a></div>
                                                <ul>
                                                    
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
                                                </ul>
                                            
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/july">July</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/june">June</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/may">May</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/april">April</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/march">March</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/february">February</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/january">January</a></div></li>
                                    
 
                                        </ul>
                                    </li>
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2013">2013</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2012">2012</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2011">2011</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2010">2010</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2009">2009</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2008">2008</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2007">2007</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2006">2006</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2005">2005</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2004">2004</a></div></li>
                            
 
                                </ul>
                            </li>
 
                                <li><div class="link-wrapper"><a href="/info-for/media/photos">Photos</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/media/contact-the-press-office">Contact the Press Office</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/filming-and-photography">Filming & photography</a></div></li>
                            
 
                </ul>
            
 
 
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype: -Home-Media-Media-Press releases-2014-August-Passenger advice during ASLEF strike on Central line -->

 
 
        
        
            @{ViewBag.Description = "Press releases and news articles from Transport for London";}
        
        


 