


@{ViewBag.Title = "Locals back Elephant & Castle roundabout redesign";}
        
        
<div class="r">
    <div class="breadcrumb-container" role="navigation">
        <span id="breadcrumb-label" class="visually-hidden">You are here:</span>
        <ol class="breadcrumbs clearfix" aria-labelledby="breadcrumb-label">
            <li class="home">
                <a href="/">
                    <span class="hide-text">Home</span>
                </a>
            </li>
            
                <li>
                    <a href="/info-for/media/index">Media</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases">Press releases</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases/2014">2014</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases/2014/august">August</a>
                </li>
                
                <li>
                    <span class="last-breadcrumb">Locals back Elephant & Castle roundabout redesign</span>
                </li>
            
 
            
 
            
 
            
 
            
 
        </ul>
    </div>
</div>
     
 
<div class="r">
    <div class="headline-container plain">
        <h1>Locals back Elephant & Castle roundabout redesign</h1>
        <div class="content-page-press-release">
        21 August 2014
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        More than 80 % of respondents backed the five key design elements to transform the area around the northern roundabout
        
    </div>



<div class="pull-quote">
        <div class="quote-body">"Our radical plans for Elephant & Castle will not only make it safer for cyclists and pedestrians, but they will also transform it into somewhere that people will want to gather and interact "</div>
        <div class="quote-footer">
            <div class="quotee-name">Isabel Dedring</div>
            <div class="quotee-job-title">Deputy Mayor for Transport</div>
        </div>
</div>

 <div class="on-this-page">

        <p>Construction of the major redesign of Elephant &amp; Castle northern roundabout will begin next year after results of the public consultation showed that more than 80 % of people backed TfL's and Southwark Council's plans.</p>
        <p>The plans form part of the wider &pound;4bn investment TfL is making in improving roads across London over the next decade and will support Southwark Council's regeneration of the wider area.</p>
        <p>More than 2,000 people responded to the consultation on the scheme, which will dramatically change the northern roundabout at Elephant and Castle, improving facilities for road users and local residents by converting the roundabout into a peninsular.</p>
         
         
         
         
        <h2>More accessible public space</h2>
        <p>This will create a new, more open and accessible public space, with the road around it converted to two-way traffic.</p>
        <p>All groups of road users were considered in the designs, with the key benefits including:</p>
         
        <ul>
            <li>Pedestrians: subways will be replaced with wide pedestrian crossings that allow people to cross directly, easily and safely between Tube, bus and local amenities at all times of the day;</li>
            <li>Cyclists: new dedicated cycle routes through and around the junction to improve safety and make it better for cycling;</li>
            <li>Bus passengers: an improved interchange environment between the bus and Tube, and upgraded bus stops will make access easier;</li>
            <li>All road users: a better road layout will help reduce collisions, with people benefiting from a high-quality, attractive public space at the heart of the Elephant Opportunity Area, which will be accessible and enhance the vitality of the area.</li>
        </ul>
         
        <p>Based on the feedback from the consultation, TfL is progressing with &quot;Option B&quot; for the road layout between the northern roundabout and southern junction.</p>
        <p>This design will provide a northbound off-carriageway cycle path and improved bus stop facilities.</p>
        <p>However, following concerns raised during the consultation, the originally proposed plans for a segregated cycle lane southbound on Elephant and Castle Link Road have been replaced with a 4.5m wide bus lane.</p>
        <p>New road markings will highlight to cyclists the location of potential conflict points where buses will be pulling out of the bus lane.</p>
        <h2>Improve alternative cycling routes</h2>
        <p>TfL will also continue to work with Southwark Council and the new shopping centre owners to see whether any further footway width could be obtained as part of their wider works, allowing cycling provision options and improvements to bus stop waiting conditions to be reassessed in future.</p>
        <p>Southwark Council is also working with TfL to develop and improve a number of alternative cycling routes around the Elephant &amp; Castle.</p>
        <p>This work will look at how the bypass options could be made more direct, as well as reviewing the signage to encourage better use of the existing orbital route around the area, allowing cyclists to bypass the junction.</p>
        <h2>Limit speed limit to 20mph</h2>
        <p>The feasibility of limiting the speed limit to 20mph is also being explored as part of these wider works, which would improve overall safety conditions for all users.</p>
        <p>Isabel Dedring, Deputy Mayor for Transport, said: 'Our radical plans for Elephant &amp; Castle will not only make it safer for cyclists and pedestrians, but they will also transform it into somewhere that people will want to gather and interact.</p>
        <p>'We are now eager to begin construction work so that we can unlock the true potential of this area, leading to more homes and jobs.'</p>
        <p>Now the decision has been taken to proceed, the updated scheme layout will be subject to a detailed design process and to further safety audits.</p>
        <h2>Work to commence late spring 2015</h2>
        <p>Construction can begin once this process is completed and it is expected that work will commence in late spring 2015 with the main highway works scheduled to be fully completed by summer 2016.</p>
        <p>TfL has commissioned urban design specialists to draw up plans for the new areas of public space that are being created, as well as looking more broadly at the design for the wider urban realm across the interchange area.</p>
        <p>Public engagement on these plans will take place later in the year.</p>
        <p>Leon Daniels, Managing Director of Surface Transport at TfL said: 'The area around Elephant &amp; Castle roundabout is about to be transformed by one of London's biggest regeneration projects and I'm delighted that so many people have welcomed the proposed redesign, which will improve facilities through this busy area.</p>
        <p>'We are now gearing up to start work next year and deliver these major changes which will benefit all road users and improve the area for everyone.'</p>
        <p>Councillor Mark Williams, cabinet member for regeneration, planning and transport at Southwark Council, said: 'Transforming the roundabout at Elephant and Castle is a significant step towards making the area safer for all our road users, particularly vulnerable ones like pedestrians and cyclists.</p>
        <p>'It is also a big part of our own plans for the regeneration of the area and bring new homes, businesses and public open spaces to the area so I am pleased that so many of our residents got involved in the consultation and agreed with the proposals.</p>
        <p>'I am also happy that TfL is looking into making the road 20mph, which complements the council's own roll out of a 20mph scheme on our roads across the borough.'</p>
        <h2>Mayor's Roads Task Force</h2>
        <p>These major improvements form part of the wider work being carrying out across London to deliver the recommendations of the Mayor's Roads Task Force (RTF) &#45; set up to tackle the challenges facing London's streets.</p>
        <p>This independent body brings together a wide range of interests and expertise, united in the belief that the capital needs a long-term strategy for roads and a commitment to major investment in street management and urban design.</p>
        <p>For more information about the scheme and to see the full results of the consultation, please visit the <a href="http://consultations.tfl.gov.uk/roads/elephant-and-castle">Elephant and Castle consultation page</a></p>
         
    

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
                <a href="/info-for/media/index" class="heading">
                    <h2 id="sub-menu-heading">Media<span class="visually-hidden"> navigation</span></h2>
                </a>
                <ul>
                    
                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases">Press releases</a></div>
                                <ul>
                                    
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2020">2020</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019">2019</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018">2018</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017">2017</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016">2016</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015">2015</a></div></li>
                            
 
                                        <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014">2014</a></div>
                                        <ul>
                                            
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/december">December</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/november">November</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/october">October</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/september">September</a></div></li>
                                    
 
                                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/august">August</a></div>
                                                <ul>
                                                    
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
                                                </ul>
                                            
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/july">July</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/june">June</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/may">May</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/april">April</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/march">March</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/february">February</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/january">January</a></div></li>
                                    
 
                                        </ul>
                                    </li>
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2013">2013</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2012">2012</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2011">2011</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2010">2010</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2009">2009</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2008">2008</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2007">2007</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2006">2006</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2005">2005</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2004">2004</a></div></li>
                            
 
                                </ul>
                            </li>
 
                                <li><div class="link-wrapper"><a href="/info-for/media/photos">Photos</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/media/contact-the-press-office">Contact the Press Office</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/filming-and-photography">Filming & photography</a></div></li>
                            
 
                </ul>
            
 
 
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype: -Home-Media-Media-Press releases-2014-August-Locals back Elephant & Castle roundabout redesign -->

 
 
        
        
            @{ViewBag.Description = "More than 80 % of respondents backed the five key design elements to transform the area around the northern roundabout";}
        
        


 