


@{ViewBag.Title = "Temporary bus route changes in Wood Green area";}
        
        
<div class="r">
    <div class="breadcrumb-container" role="navigation">
        <span id="breadcrumb-label" class="visually-hidden">You are here:</span>
        <ol class="breadcrumbs clearfix" aria-labelledby="breadcrumb-label">
            <li class="home">
                <a href="/">
                    <span class="hide-text">Home</span>
                </a>
            </li>
            
                <li>
                    <a href="/info-for/media/index">Media</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases">Press releases</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases/2014">2014</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases/2014/august">August</a>
                </li>
                
                <li>
                    <span class="last-breadcrumb">Temporary bus route changes in Wood Green area</span>
                </li>
            
 
            
 
            
 
            
 
            
 
        </ul>
    </div>
</div>
     
 
<div class="r">
    <div class="headline-container plain">
        <h1>Temporary bus route changes in Wood Green area</h1>
        <div class="content-page-press-release">
        29 August 2014
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

<div class="on-this-page">

        <ul>
            <li>Local
            routes affected by major construction works on Wood Green High Road</li>
            <li>Other
            road users will be affected by
            works&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            &nbsp;
            </li>
        </ul>
        <p>Bus passengers travelling through the
        Wood Green area will see changes to their bus routes from 1 September due to
        major construction works on the Wood Green High Road.
        &nbsp;
        </p>
        <p>Haringey Council will be carrying out
        these improvement works at Wood Green Town Centre between September 2014 and
        March 2015 as part of a scheme to improve Wood Green's public spaces and create
        a safer, brighter and greener town centre with funding from TfL.&nbsp; As a
        result of these works, which are taking place between Turnpike Lane and
        Lordship Lane, a number of bus routes will see their services curtailed or
        split for part of or the entire duration of the project.
        &nbsp;
        </p>
        <p>The routes affected are
        subject to change as the works progress. Details of stopping arrangements and
        route changes during the works will be available at local bus stops and on the
        Transport for London (TfL) website - http://www.tfl.gov.uk/woodgreen-improvements.&nbsp;&nbsp;&nbsp;
        &nbsp;</p>
        <p>
        It is planned that the
        local bus routes will be affected as follows:
        &middot;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        </p>
        <ul>
            <li>Route 230 &#45; Curtailed at Turnpike Lane.</li>
            <li>Route W4 &#45; Route will run as two services from Ferry Lane to
            Turnpike Lane (buses towards Ferry Lane will start from West Green Road Willow
            Walk) and Wood Green Bus Garage to Oakthorpe Park.</li>
            <li>Route 144 &#45; Route will be on diversion along Westbury Avenue.</li>
            <li>Route 221 &#45; Some buses will terminate at Wood Green Bus Garage.</li>
            <li>
            Routes 121 and 329 - Curtailed at Wood Green Bus Garage.</li>
            <li>Route 232 &#45; Curtailed at Wood Green Station.</li>
            <li>Routes 29, 41, 67, 123, 141, 184, 217, 231, 243, 444, W3, N41, N29
            and N91 &#45; Normal line of route but will experience delays</li>
        </ul>
        <p>TfL has set out plans to
        ensure that bus passengers don't lose out as a result of these changes and
        don't pay twice when their journeys are affected.
        &nbsp;
        </p>
        <p>Passengers using an Oyster
        pay as you go or a contactless payment card will only need to pay once. </p>
        <p>They
        will need to get a bus transfer card from dedicated members of staff who will
        be on hand to provide assistance. </p>
        <p>This means that passengers will not have to
        pay for the second leg of their journey for travel between Wood Green and
        Turnpike Lane. All passengers will need to show the transfer card to the
        driver.
        &nbsp;
        </p>
        <p>
        The bus transfer ticket
        will be accepted on London Underground between Wood Green and Turnpike Lane
        stations only in both directions and must be shown to the station staff for
        onward travel between those points.</p>
        <p>The transfer card can be
        used in conjunction with an Oyster pay as you go or contactless payment card
        which has been validated within 60 minutes on a previous bus journey on routes
        29, 41, 67, 121, 123, 141, 144 184, 221, 230, 232, 329, W4.
        </p>
        <p>A transfer card can
        be used throughout the improvement works so passengers won't need to get a card
        from the driver on each occasion.
        &nbsp;
        </p>
        <p>
        During these works
        Wood Green High Road will be reduced to one lane with two-way traffic lights
        which will also impact on journeys for other vehicles through the High Road. Drivers are advised to allow extra time for journeys and, where possible,
        to change their route to avoid the disruption. </p>
    

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       


            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype: -Home-Media-Media-Press releases-2014-August-Temporary bus route changes in Wood Green area -->

 
 
        
        
            @{ViewBag.Description = "Press releases and news articles from Transport for London";}
        
        


 