


@{ViewBag.Title = "TfL pays respects to transport staff";}
        
        
<div class="r">
    <div class="breadcrumb-container" role="navigation">
        <span id="breadcrumb-label" class="visually-hidden">You are here:</span>
        <ol class="breadcrumbs clearfix" aria-labelledby="breadcrumb-label">
            <li class="home">
                <a href="/">
                    <span class="hide-text">Home</span>
                </a>
            </li>
            
                <li>
                    <a href="/info-for/media/index">Media</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases">Press releases</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases/2014">2014</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases/2014/august">August</a>
                </li>
                
                <li>
                    <span class="last-breadcrumb">TfL pays respects to transport staff</span>
                </li>
            
 
            
 
            
 
            
 
            
 
        </ul>
    </div>
</div>
     
 
<div class="r">
    <div class="headline-container plain">
        <h1>TfL pays respects to transport staff</h1>
        <div class="content-page-press-release">
        04 August 2014
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        Transport for London remembers staff who lost their lives in the First World War
        
    </div>



<div class="pull-quote">
        <div class="quote-body">"Today is a special day as we remember those who lost their lives during the First World War. We are honoured that members of the London Transport Old Comrades Association (LTOCA) will be joining our staff as we lay wreaths at transport war memorials across London"</div>
        <div class="quote-footer">
            <div class="quotee-name">Sir Peter Hendy CBE</div>
            <div class="quotee-job-title">Transport Commissioner</div>
        </div>
</div>

 <div class="on-this-page">

        <ul>
            <li>Wreaths laid today across London at memorials to transport staff, on the 100th anniversary of the day Britain entered First World War </li>
            <li>Centenary marked in London Transport Museum exhibition </li>
        </ul>
        <p>Transport for London (TfL) today, on the centenary of the day Britain entered the First World War, is paying respect to transport staff who lost their lives in the conflict. TfL staff are joining members of the London Transport Old Comrades Association (LTOCA) to pay their respects to those who fought, by laying wreaths in stations and bus garages across London over the course of the day.</p>
        <p>Mike Brown MVO, Managing Director of London Underground and London Rail, will be laying wreaths at the memorial to staff from the Metropolitan Railway at Baker Street Underground Station, the memorial to staff of the North London Railway at Hoxton Overground Station and at LU's memorial at the Petty France offices. Leon Daniels, Managing Director of Surface Transport, will be joined by bus staff and Old Comrades at Merton Bus Garage.</p>
        <p>London Transport played a pivotal role during the First World War, providing staff and vehicles to take troops to the Western Front as well as keeping Londoners moving on the Home Front.</p>
        <p>This is illustrated in a major exhibition at the London Transport Museum, which is part of the Year of the Bus. 'Goodbye Piccadilly &#45; from Home Front to Western Front' reveals the untold story of London's Home Front during the First World War and tells how drivers took their buses to the Front to support the war effort. </p>
        <p>At the heart of the exhibition is 'Ole' Bill', a 1911 B-type bus No. B43 on loan from the Imperial War Museum. It was one of the first buses to be requisitioned during the war and after the conflict was refurbished as a permanent memorial to the role played by London bus staff.&nbsp; </p>
        <p>On 14 February 1920 the bus was inspected by King George V at Buckingham Palace, the first time the King had boarded a bus. </p>
        <p>Because of the war service by civilian staff of the London General Omnibus Company, King George V agreed that a contingent of transport staff would be allowed to march to the Cenotaph, in the annual service on Remembrance Sunday; for many years the only civilian organisation afforded this privilege.&nbsp; &nbsp;</p>
        <p>As part of the First World War commemorative activities the London Transport Museum has recently completed the restoration of a 1914 B-Type 'battle bus' (B2737), which took part in the Year of the Bus cavalcade on Oxford Street last month.&nbsp; More than 1,000 B-type buses were requisitioned by the War Department for use on the Western Front. In September this bus will travel back to the battlefields of France and Belgium to commemorate the sacrifices of so many during the war. &nbsp;</p>
        <p>This year the recently restored B-type 'Battle Bus' will accompany the London Transport Old Comrades Association (LTOCA) on Remembrance Sunday, 9 November, as they march down the Mall to lay a wreath at the Cenotaph.</p>
        <p>This year also marks 100 years of women working in transport.&nbsp; The London Transport Museum exhibition looks at how women's lives were transformed as they took on transport roles previously carried out by men. It also tells the story of how Londoners came under deadly attack from the air as total war came to the Capital. &nbsp;</p>
        <p>Art on the Underground, part of London Underground, is also running a series of projects to mark the centenary of World War One.&nbsp; A poster by British artist Richard Wentworth entitled When You Look You May Not See, is now on display across the Tube network. The work uses a postcard written by soldier Herbert Ernest Wilson to his wife Martha Emily Wilson on 4 September 1918. The work was co-commissioned by Art of the Underground with 14 -18 NOW - WW1 Centenary Art Commissions.&nbsp; Wentworth will develop this idea further for a series of Tube station exhibitions in the autumn, timed to complement TfL's wider First World War centenary activities. </p>
        <p>Sir Peter Hendy CBE, Transport Commissioner said: </p>
        <p>'Today is a special day as we remember those who lost their lives during the First World War. We are honoured that members of the London Transport Old Comrades Association (LTOCA) will be joining our staff as we lay wreaths at transport war memorials across London. </p>
        <p>'Over the course of the year, Transport for London is marking the contribution of our staff and the transport network which together played an enormous role in the war effort. We will always remember the sacrifice made by our staff and their crucial work during some of the defining moments in history. Beyond today we are also doing this through our Year of the Bus activities and our work to highlight 100 years of women in transport.'</p>
        <p>For more information go to www.tfl.gov.uk&nbsp; &nbsp;</p>
        <p>For more information about 'Goodbye Piccadilly &#45; from Home Front to Western Front' go to <a href="http://www.ltmuseum.co.uk">www.ltmuseum.co.uk</a></p>
        <p> </p>
        <hr />
         
        <p>Notes to Editors:</p>
        <p>1.&nbsp;&nbsp; &nbsp;Memorial wreaths will be laid at:</p>
        <ul>
            <li>Metropolitan Railway Memorial &#45; Baker Street Underground Station</li>
            <li>North London Railway Memorial - Broad Street Memorial, Hoxton Station</li>
            <li>Underground Group Memorial &#45; London Underground, 100 Petty France</li>
            <li>Tramwaymen's Memorial &#45; St Mark's Church, Kennington</li>
            <li>St. Martin's Church, Defence School of Transport, Leconfield, Yorkshire </li>
            <li>Goodbye Piccadilly Exhibition&#45; London Transport Museum, Covent Garden WC2B</li>
            <li>Old West Ham Tramway Offices &#45; Greengate Street, E13</li>
            <li>Alperton Bus Garage, HA0</li>
            <li>Fulwell Bus Garage, TW2</li>
            <li>Leyton Bus Garage, E10</li>
            <li>Holloway Bus Garage, N19</li>
            <li>Hounslow Bus Garage, TW3</li>
            <li>Merton Bus Garage, SW19</li>
            <li>Norwood Bus Garage, SE27</li>
            <li>Palmers Green Garage, N13</li>
            <li>Former Stonebridge Depot &amp; Middle Row Garage, relocated to Westbourne Park Bus Garage, W9</li>
            <li>Former Stonebridge Depot Memorial, Barham Park, Sudbury, HA0</li>
            <li>Thornton Heath Bus Garage, CR7</li>
            <li>Willesden Bus Garage, NW10</li>
        </ul>
        <ul>
            <li>London Underground &#45; 55 Broadway reception</li>
            <li>Transport for London &#45; Ashfield House reception</li>
            <li>Transport for London &#45; Templar House reception</li>
            <li>Transport for London &#45; Windsor House reception</li>
            <li>Transport for London &#45; Palestra office reception</li>
            <li>Transport for London &#45; Pier Walk office reception</li>
            <li>Transport for London &#45; Westferry Circus office reception</li>
        </ul>
        <p>2.&nbsp;&nbsp; &nbsp;Year of the Bus</p>
        <p>The Year of the Bus is a series of events and activities being held by Transport for London and its partners throughout 2014 to celebrate the role that London buses play in keeping the capital moving, and mark a number of important anniversaries.&nbsp; These include 60 years since the creation of the original and iconic Routemaster, 75 years since the launch of its predecessor the RT-type bus, and 100 years since hundreds of London buses were sent to the Western Front to play a crucial role during the First World War.</p>
        <p>3.&nbsp;&nbsp; &nbsp;'Goodbye Piccadilly &#45; from Home Front to Western Front'</p>
        <p>Run by the London Transport Museum, Goodbye Piccadilly &#45; from Home Front to Western Front is an exhibition and events programme that forms part of Year of the Bus. The activities are supported by and delivered in partnership with Exterion Media, Abellio, Arriva London, Clear Channel UK, Go-Ahead London, Metroline, RATP Dev UK Limited, Stagecoach, Wrightbus, Optare and telent Technology Services Ltd.&nbsp; The exhibition runs from 16 May 2014 to 8 March 2015. </p>
        <p>4.&nbsp;&nbsp; &nbsp;Women working on the transport network </p>
        <p>Women were successfully recruited to work in the transport sector for the duration of the war due to the shortage of men to fulfil jobs. They worked on the Underground railways as booking clerks, porters and lift attendants, and as guards on the Metropolitan Railway. Maida Vale Station - one of the few new Underground stations to be opened during the war - was initially staffed only by women. While the network saw female bus and tram conductresses (known as 'conductorettes'), they were not permitted to drive. Women were also employed as bus-cleaners and engine- and carriage-cleaners, suitable uniforms and protective clothing having to be specially procured for them. </p>
        <p>5.&nbsp;&nbsp; &nbsp;London Transport Old Comrades Association</p>
        <p>The London Transport Old Comrades Association (LTOCA) Association welcomes members from the ex-services men and women who are currently employed by, or have retired from, London's public transport systems. These include Transport for London and London Underground staff, together with drivers and engineering staff from London bus companies. It was formed in 1923 by staff who returned from the war to remember and celebrate the illustrious record of London bus staff who took their "B" type buses to Flanders to ferry troops to and from the front lines, and brought the wounded back home. King George V proclaimed in 1920, that London bus staff would parade at the Cenotaph on Remembrance Sunday. This proud tradition has been maintained every year. Following the Second World War, ex-service staff from London Underground and other sections of London Transport, joined the bus staff on the parade. </p>
        <p>6.&nbsp;&nbsp; &nbsp;Art on the Underground</p>
        <p>Art on the Underground (AotU), part of London Underground, provides a world-class programme of contemporary art that enriches the Tube environment and customers' journey experience; and continues the longstanding tradition that excellent art and design is at the core of London Underground's identity and services. The programme operates through a number of different strands and includes temporary and permanent commissions displayed on large scale single station sites such as Gloucester Road and other stations throughout the network; a series of commissions for the front cover of the Pocket Tube map; a film programme at Canary Wharf station; and a programme of Tube line-based commissions, which revolve around a particular theme. The Tube line series has so far included the Piccadilly line (Thin Cities), the Jubilee line (One Thing Leads to Another Everything is Connected) and the Central line (Central Line Series). &nbsp;</p>
    

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
                <a href="/info-for/media/index" class="heading">
                    <h2 id="sub-menu-heading">Media<span class="visually-hidden"> navigation</span></h2>
                </a>
                <ul>
                    
                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases">Press releases</a></div>
                                <ul>
                                    
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2020">2020</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019">2019</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018">2018</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017">2017</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016">2016</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015">2015</a></div></li>
                            
 
                                        <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014">2014</a></div>
                                        <ul>
                                            
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/december">December</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/november">November</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/october">October</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/september">September</a></div></li>
                                    
 
                                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/august">August</a></div>
                                                <ul>
                                                    
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
                                                </ul>
                                            
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/july">July</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/june">June</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/may">May</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/april">April</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/march">March</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/february">February</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/january">January</a></div></li>
                                    
 
                                        </ul>
                                    </li>
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2013">2013</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2012">2012</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2011">2011</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2010">2010</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2009">2009</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2008">2008</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2007">2007</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2006">2006</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2005">2005</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2004">2004</a></div></li>
                            
 
                                </ul>
                            </li>
 
                                <li><div class="link-wrapper"><a href="/info-for/media/photos">Photos</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/media/contact-the-press-office">Contact the Press Office</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/filming-and-photography">Filming & photography</a></div></li>
                            
 
                </ul>
            
 
 
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype: -Home-Media-Media-Press releases-2014-August-TfL pays respects to transport staff -->

 
 
        
        
            @{ViewBag.Description = "Transport for London remembers staff who lost their lives in the First World War";}
        
        


 