


@{ViewBag.Title = "TfL and British Cycling working to boost cycle use";}
        
        
<div class="r">
    <div class="breadcrumb-container" role="navigation">
        <span id="breadcrumb-label" class="visually-hidden">You are here:</span>
        <ol class="breadcrumbs clearfix" aria-labelledby="breadcrumb-label">
            <li class="home">
                <a href="/">
                    <span class="hide-text">Home</span>
                </a>
            </li>
            
                <li>
                    <a href="/info-for/media/index">Media</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases">Press releases</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases/2014">2014</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases/2014/august">August</a>
                </li>
                
                <li>
                    <span class="last-breadcrumb">TfL and British Cycling working to boost cycle use</span>
                </li>
            
 
            
 
            
 
            
 
            
 
        </ul>
    </div>
</div>
     
 
<div class="r">
    <div class="headline-container plain">
        <h1>TfL and British Cycling working to boost cycle use</h1>
        <div class="content-page-press-release">
        29 August 2014
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        Transport for London and British Cycling cement relationship as London sees increase in cycling 
        
    </div>



 <div class="on-this-page">

        <ul>
            <li>TfL and British Cycling&nbsp;to boost cycling
            further by tripling the number of free guided cycling rides across London </li>
            <li>Cycling on TfL's roads hit record levels this
            summer
            &nbsp;
            </li>
        </ul>
        <p>
        Londoners are to benefit from a formal partnership between
        Transport for London (TfL) and British Cycling, the national governing body for
        cycling. </p>
        <p>Both parties have agreed to work together more closely in order to
        inspire more people to cycle and to promote enjoyable, safe and responsible
        cycling.&nbsp;&nbsp;
        </p>
        <p>Cycling in London has continued to grow rapidly. TfL recorded the
        highest levels of cycling activity during a four week period in July/August on
        its roads, 20 per cent higher than the same period last year. </p>
        <p>On the Transport
        for London Road Network there has been a 173 per cent increase in cycling since
        2001.
        &nbsp;
        </p>
        <p>Barclays Cycle
        Hire has contributed to the surge in cycling in London and recently hit a
        record for total hires in July with 1.18m hires. </p>
        <p>The scheme also had the
        busiest weekend ever during Saturday 16 and Sunday 17 August, as part of its
        fourth birthday celebrations.
        &nbsp;
        </p>
        <p>A key focus of
        TfL and British Cycling's work will be to help new cyclists gain confidence by
        offering guided cycle rides. </p>
        <p>Riding with others in a group with a professional,
        trained leader is fun and helps people new to cycling get the confidence they
        need to cycle more regularly. </p>
        <p>The led rides offer a fantastic opportunity for
        people new to cycling to get started following on from adult cycle training.
        </p>
        <p>The partnership will aim to triple this activity by offering almost 10,000
        places on guided rides across London in 2014 and building on the 3,500
        participants in 2013. </p>
        <p>The rides
        are suitable for people at all levels, from beginner to the more advanced.
        &nbsp;
        </p>
        <p>The partnership
        will also aim to encourage people from all backgrounds into cycling, including
        women, disabled cyclists and black, Asian and minority ethnic (BAME) groups. </p>
        <p>It
        is expected that British Cycling's diverse membership will allow TfL to reach a
        greater number of groups traditionally under-represented in cycling as well as
        more experienced club cyclists.
        &nbsp;
        </p>
        <p>TfL and British
        Cycling have collaborated since 2007 when London first hosted the Tour de
        France and over the last few years have established closer working ties through
        events such as the Barclays Cycle Hire free weekend in August which included
        successful led rides in the Royal Parks, the F&ecirc;te du Tour &#45; a day of
        celebrations linked to the Tour de France &#45; and they are high profile
        supporters of TfL's online London Cycle Challenge.
        &nbsp;
        </p>
        <p>
        Leon Daniels,
        TfL's Managing Director for Surface Transport, said: 'We are looking forward to
        working even more closely with British Cycling over the coming years. We've
        already worked together on some fantastic events and we are pleased to be
        pooling our expertise to inspire more people to start cycling.&nbsp;
        'This cementing
        of our relationship comes at a time when we are seeing more and more people
        using pedal power in London on some of our main roads, with the highest levels
        of cycling activity ever recorded on our roads.'</p>
        <p>
        British Cycling's Director
        of Recreation and Partnerships, Stewart Kellett said: 'British Cycling and
        Transport for London share the same goal of getting more people riding bikes
        and this partnership will help us to build on the progress of the last few
        years.
        &nbsp; </p>
        <p>'Britain is now one of the
        most successful elite cycling nations in the world and almost seven million
        people in England are now regularly riding bikes for fun, for sport or as a
        form of transport. We want to use this inspiration to go even further. As a
        world leading governing body, we are in a great position to work alongside TfL
        to help build people's confidence on the roads, introducing them to a new way
        of getting around the capital.'
        </p>
         
        <hr />
         
        <ul>
            <li>Between 2001 and 2011 the number of people
            living in London that cycled to work more than doubled from 77,000 in 2001 to
            155,000 in 2011. Last year's TfL Cycling Census found that in the morning peak
            (7-10am), up to 64 per cent of vehicles on some main roads are now bicycles</li>
            <li>The Mayor is already delivering an almost &pound;1
            billion programme of improvements as part of his cycling vision - creating a
            series of major new segregated cycle routes, enhanced cycling Superhighways,
            urban Quietways and turning some outer London boroughs into Mini-Hollands</li>
            <li>British Cycling and TfL aim to work together
            to increase cycling under nine key themes: positive messaging; routes and
            rides; major events; marketing; education and training; workforce, young
            people, under-represented groups and stakeholders</li>
            <li>Free or subsidised adult cycle training is
            available in almost all London boroughs. TfL offer a host of information and
            services for cycling, available at <a href="http://www.tfl.gov.uk/cycling">www.tfl.gov.uk/cycling</a></li>
            <li>To see what cycling clubs and activities
            there are in your area, try British Cycling's club finder tool, (<a href="http://www.britishcycling.org.uk/clubfinder">http://www.britishcycling.org.uk/clubfinder</a>) &nbsp;there are also Go-Ride &nbsp;(<a href="http://www.britishcycling.org.uk/go-ride">http://www.britishcycling.org.uk/go-ride</a>) for youngsters and the Breeze network (<a href="http://www.goskyride.com/Breeze/Index">http://www.goskyride.com/Breeze/Index</a>)
            offers social bike rides for women of all abilities. The programme of British
            Cycling led rides can be found on GoSkyride <a href="http://www.goskyride.com/ ">http://www.goskyride.com/</a></li>
            <li>British
            Cycling is the national governing body for cycling as recognised by the UCI &#45; the
            international federation for the sport. Based in Manchester at the National
            Cycling Centre, British Cycling works across all levels and six disciplines of
            the sport (BMX, Mountain Bike, Cyclo-cross, Road, Track and Cycle Speedway),
            from providing the support and encouragement people need to get riding their
            bikes for the first time, to being home to the hugely successful Great Britain
            Cycling Team. Continued success at the highest level is inspiring a boom in
            participation across the nation. There have never been more opportunities to
            ride a bike, be it for fun or sport, and British Cycling is at the heart of
            this growth. British Cycling also works hard to represent cyclists' interests
            at all levels, including campaigning on important issues including road safety.
            As a membership organisation, British Cycling provides a suite of benefits and
            support to its members who currently number over 97,000. All membership revenue
            is invested back into cycling.
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </li>
        </ul>
         
        <ul>
            <li>For more information, visit <a href="http://www.britishcycling.org.uk">www.britishcycling.org.uk</a>
            </li>
        </ul>
    

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
                <a href="/info-for/media/index" class="heading">
                    <h2 id="sub-menu-heading">Media<span class="visually-hidden"> navigation</span></h2>
                </a>
                <ul>
                    
                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases">Press releases</a></div>
                                <ul>
                                    
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2020">2020</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019">2019</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018">2018</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017">2017</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016">2016</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015">2015</a></div></li>
                            
 
                                        <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014">2014</a></div>
                                        <ul>
                                            
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/december">December</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/november">November</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/october">October</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/september">September</a></div></li>
                                    
 
                                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/august">August</a></div>
                                                <ul>
                                                    
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
                                                </ul>
                                            
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/july">July</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/june">June</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/may">May</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/april">April</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/march">March</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/february">February</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/january">January</a></div></li>
                                    
 
                                        </ul>
                                    </li>
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2013">2013</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2012">2012</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2011">2011</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2010">2010</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2009">2009</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2008">2008</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2007">2007</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2006">2006</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2005">2005</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2004">2004</a></div></li>
                            
 
                                </ul>
                            </li>
 
                                <li><div class="link-wrapper"><a href="/info-for/media/photos">Photos</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/media/contact-the-press-office">Contact the Press Office</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/filming-and-photography">Filming & photography</a></div></li>
                            
 
                </ul>
            
 
 
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype: -Home-Media-Media-Press releases-2014-August-TfL and British Cycling working to boost cycle use -->

 
 
        
        
            @{ViewBag.Description = "Transport for London and British Cycling cement relationship as London sees increase in cycling ";}
        
        


 