


@{ViewBag.Title = "TfL & Fender mark 60th anniversary of iconic designs";}
        
        
<div class="r">
    <div class="breadcrumb-container" role="navigation">
        <span id="breadcrumb-label" class="visually-hidden">You are here:</span>
        <ol class="breadcrumbs clearfix" aria-labelledby="breadcrumb-label">
            <li class="home">
                <a href="/">
                    <span class="hide-text">Home</span>
                </a>
            </li>
            
                <li>
                    <a href="/info-for/media/index">Media</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases">Press releases</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases/2014">2014</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases/2014/august">August</a>
                </li>
                
                <li>
                    <span class="last-breadcrumb">TfL & Fender mark 60th anniversary of iconic designs</span>
                </li>
            
 
            
 
            
 
            
 
            
 
        </ul>
    </div>
</div>
     
 
<div class="r">
    <div class="headline-container plain">
        <h1>TfL & Fender mark 60th anniversary of iconic designs</h1>
        <div class="content-page-press-release">
        20 August 2014
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        The iconic Routemaster bus and world-famous Fender Stratocaster guitar celebrate their 60th with a unique collaboration.  
        
    </div>



<div class="pull-quote">
        <div class="quote-body">"The bus network has played a crucial and unsung role in London's rich musical heritage for many decades "</div>
        <div class="quote-footer">
            <div class="quotee-name">Leon Daniels</div>
            <div class="quotee-job-title">Managing Director, Surface Transport TfL</div>
        </div>
</div>

 <div class="on-this-page">

        <ul>
            <li>A
            'Rock n Roll' Routemaster is unveiled on the number 24 bus route</li>
            <li>Fender
            design 25 special edition Routemaster inspired Stratocaster guitars</li>
            <li>Violet
            Bones wow Camden audience with gig on board the bus and claim title of
            best new band in Strummerville competition </li>
        </ul>
        <p>The iconic Routemaster bus
        and world-famous Fender Stratocaster guitar celebrated their 60th
        anniversaries last night with a unique collaboration.&nbsp;
        &nbsp;
        </p>
        <p>One of London's New
        Routemaster buses has been wrapped in a Fender inspired design which includes
        an image of a giant Stratocaster guitar emblazoned across it.&nbsp; </p>
        <p>Fender have
        produced 25 limited edition guitars echoing the design of a Routemaster bus &#45;
        complete with classic features such as the iconic Transport for London (TfL)
        'Roundel' and a 'moquette' seat fabric design.&nbsp;
        </p>
        <p>Last night the eagerly
        awaited 'Rock n Roll' style Routemaster and the ultra-rare guitar were unveiled
        to a crowd in the heart of Camden &#45; an area steeped in rich musical
        history.&nbsp; </p>
        <p>The Fender themed Routemaster played host to the cream of
        London's new and unsigned musical talent, with Violet Bones being
        crowned the winners of a competition hosted by Strummerville - the Joe Strummer
        new music foundation.
        &nbsp;
        </p>
        <p>Speaking at the London
        Transport Museum, at which Fender put on a night of celebration for the two
        design icons, Leon Daniels, TfL's Managing Director of Surface Transport, said: `We are delighted to celebrate the 60th anniversary of two design
        icons in such a unique way. The bus network has played a crucial and unsung
        role in London's rich musical heritage for many decades &#45; transporting
        thousands upon thousands of music lovers to gigs at venues right across the
        city every week &#45; and, perhaps even more importantly, getting them home safely
        after those amazing performances they will never forget.'</p>
        <p>The Fender inspired
        Routemaster bus will now serve the number 24 route &#45; London's 'musical heritage
        route', which takes in Camden &#45; the home of the Jazz Cafe and Roundhouse, the
        epicentre of the UK's musical instrument industry at 'tin pan alley',&nbsp; and
        Oxford Street &#45; where the legendary 100 club has entertained music fans for
        decades.
        &nbsp;
        </p>
        <p>`There is an inexorable link between
        Fender and iconic British music from The Yardbirds and The Who to bands like
        The Clash, Blur and more', said Justin Norvell, vice president of marketing for
        Fender. `Our histories and futures are intertwined, and this Routemaster bus is
        a fantastic way to honour that musical and historical connection.'
        </p>
        <p>As part of the celebrations
        for Year of the Bus, TfL teamed up with Fender in recognition of how both
        organisations have played an enormous part in London's love-affair with music &#45;
        providing the instruments with which countless stars have written and performed
        their hits, and the means of getting to gigs and events across London.
        &nbsp;
        </p>
        <p>This year sees a number of important anniversaries - 60 years since
        the creation of the original and iconic Routemaster, 75 years since the launch
        of its predecessor the RT-Type bus and 100 years since hundreds of London buses
        were sent to the Western Front to play a crucial role during the First World
        War.
        &nbsp;
        </p>
        <p>Throughout this year, Transport for London &#45; working in partnership with London
        Transport Museum &#45; will host a number of engaging events, exhibitions,
        recreations and other activities that will re-connect Londoners with their bus
        network and remind the world of the role that London buses, the bus drivers and
        the staff who support them, play in keeping London moving 24 hours a day 364
        days of the year.</p>
         
         
        <hr />
        Guitar
        specifications:
         
        <ul>
            <li>Rosewood fingerboard</li>
            <li>Aged parts</li>
            <li>Gold stripe replicating
            the Routemaster design feature</li>
            <li> Routemaster traditional
            seat moquette design pick guard</li>
            <li>Inlaid TfL Roundel emblem
            on headstock</li>
            <li>Anniversary engraving on neck plate</li>
        </ul>
        <ul>
            <li>The
            guitars will be available to purchase from the London Transport Museum</li>
            <li>Images
            of the guitar, bus and event available on request</li>
        </ul>
    

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
                <a href="/info-for/media/index" class="heading">
                    <h2 id="sub-menu-heading">Media<span class="visually-hidden"> navigation</span></h2>
                </a>
                <ul>
                    
                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases">Press releases</a></div>
                                <ul>
                                    
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2020">2020</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019">2019</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018">2018</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017">2017</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016">2016</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015">2015</a></div></li>
                            
 
                                        <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014">2014</a></div>
                                        <ul>
                                            
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/december">December</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/november">November</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/october">October</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/september">September</a></div></li>
                                    
 
                                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/august">August</a></div>
                                                <ul>
                                                    
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
                                                </ul>
                                            
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/july">July</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/june">June</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/may">May</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/april">April</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/march">March</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/february">February</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/january">January</a></div></li>
                                    
 
                                        </ul>
                                    </li>
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2013">2013</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2012">2012</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2011">2011</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2010">2010</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2009">2009</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2008">2008</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2007">2007</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2006">2006</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2005">2005</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2004">2004</a></div></li>
                            
 
                                </ul>
                            </li>
 
                                <li><div class="link-wrapper"><a href="/info-for/media/photos">Photos</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/media/contact-the-press-office">Contact the Press Office</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/filming-and-photography">Filming & photography</a></div></li>
                            
 
                </ul>
            
 
 
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype: -Home-Media-Media-Press releases-2014-August-TfL & Fender mark 60th anniversary of iconic designs -->

 
 
        
        
            @{ViewBag.Description = "The iconic Routemaster bus and world-famous Fender Stratocaster guitar celebrate their 60th with a unique collaboration.  ";}
        
        


 