


@{ViewBag.Title = "TfL to trial new bus technology";}
        
        
<div class="r">
    <div class="breadcrumb-container" role="navigation">
        <span id="breadcrumb-label" class="visually-hidden">You are here:</span>
        <ol class="breadcrumbs clearfix" aria-labelledby="breadcrumb-label">
            <li class="home">
                <a href="/">
                    <span class="hide-text">Home</span>
                </a>
            </li>
            
                <li>
                    <a href="/info-for/media/index">Media</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases">Press releases</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases/2014">2014</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases/2014/august">August</a>
                </li>
                
                <li>
                    <span class="last-breadcrumb">TfL to trial new bus technology</span>
                </li>
            
 
            
 
            
 
            
 
            
 
        </ul>
    </div>
</div>
     
 
<div class="r">
    <div class="headline-container plain">
        <h1>TfL to trial new bus technology</h1>
        <div class="content-page-press-release">
        05 August 2014
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        TfL trials latest digital technology to further improve bus passenger experience 
        
    </div>



 <div class="on-this-page">

        <p>Trial of free WiFi begins on two buses &#45; keeping
        passengers connected</p>
        <p>Upper deck seat indicator and enhanced passenger
        information screens also trialled in passenger service
        &nbsp;
        </p>
        <p>Bus passengers will now be
        able to shop, surf, post and tweet from today, as Transport for London (TfL)
        begins a trial of free WiFi on two buses operating in the capital. </p>
        <p>The trial will see WiFi
        technology installed on a route 12 bus, operating between Dulwich and Oxford
        Circus, and a route RV1 bus, which operates between Covent Garden and Tower
        Hill, that will allow passengers to keep in touch through email and social
        media, browse the internet and even complete their weekly grocery shop.&nbsp;
        &nbsp;
        </p>
        <p>It is hoped that if the
        trial is successful that sponsors would be found to enable it to be rolled out
        to further buses in the fleet allowing passengers to do more on our services,
        whether going to work, home or for a night out.&nbsp; A sponsorship would
        enable the technology to be delivered at no additional cost to taxpayers or
        passengers.
        &nbsp;
        </p>
        <p>This trial is just one of a
        number of innovations developed to improve the experience for bus passengers
        that have been developed during the Year of Bus, which celebrates the vital
        contribution London's bus network makes to the life and economy of the city and
        the UK as a whole.
        &nbsp;
        </p>
        <p>In addition to the WiFi
        trial, TfL has also begun to trial two further new ideas that were recently
        previewed at the Year of the Bus Regent Street cavalcade.&nbsp;
        &nbsp;
        </p>
        <p>The first aims to remove the
        uncertainty on whether a seat is available on the upper deck of a bus.&nbsp;
        The new technology, which analyses information from the onboard CCTV system,
        displays seat availability on a screen at the base of the stairs.&nbsp; </p>
        <p>It
        enables passengers to make an informed choice on whether to use the upper deck
        and may reduce crowding on the lower deck of the bus.&nbsp; </p>
        <p>The trial of the
        technology will be on one route 141 bus, which operates between Palmers Green
        and London Bridge, with more buses expected should it prove successful.
        &nbsp;
        </p>
        <p>In a bid to help passengers
        feel better informed about their journey, the last piece of new technology to
        be trialled are new passenger information screens.&nbsp; </p>
        <p>These are displayed
        prominently on the bus and provide passengers with real time progress on a
        localised map.&nbsp; </p>
        <p>The screens also provide details of the previous bus stop
        as well as the next stops along with the anticipated time of arrival, together
        with details of nearby transport interchanges.&nbsp; </p>
        <p>This information is
        designed to make passenger journeys easier and provide them with more
        options.&nbsp;
        &nbsp;</p>
        <p>
        The information screens are
        designed to complement the existing iBus service, which provides audio and
        visual next stop and destination information.&nbsp; </p>
        <p>This technology will be
        trialled on four buses, two double deck buses on route 12 operating between
        Dulwich and Oxford Circus, and on single deck routes 360, which operates
        between Albert hall and Elephant &amp; Castle, and RV1 which operates between
        Covent Garden and Tower Hill.
        &nbsp;
        </p>
        <p>Simon Reed, TfL's Head of
        Technical Services Group, said: &quot;London buses have always led the way with new
        technology on its network, benefiting the millions of passengers who make the
        most of the extensive network every day.&nbsp; Innovation is a key theme of the
        Year of the Bus and we have worked with our suppliers to find new and
        innovative ways to further improve the experience of our passengers. These trials will establish
        whether this technology provides genuine benefits to people on the move.&quot;
        &nbsp;
        </p>
        <p>These trials complement a
        number of other initiatives that have been introduced recently on the bus
        network.&nbsp; This includes the introduction of digital clocks on board every
        bus in the 8,700-strong fleet, displayed on the 'iBus' screen on both the upper
        and lower deck.&nbsp; Trials of location announcements on night bus routes have
        been successful to help passengers identify where they are, for example &quot;you
        are now entering Streatham Hill&quot;.&nbsp; </p>
        <p>These announcements will be available
        on all night bus services in the capital by the end of the summer.
        &nbsp;
        </p>
        <p>Trials of large digital
        screens providing 'Countdown' real-time bus arrival information are continuing
        at two busy bus stations &#45; Vauxhall and Harrow with Hammersmith planned for
        later this year.&nbsp; It is hoped that a further 10 screens will be installed
        at a busy interchange locations as a physical legacy of the Year of the Bus.&nbsp;&nbsp;
        &nbsp;
        </p>
        <p>
        Other improvements include
        the installation of state-of-the-art interactive digital screens on Regent
        Street (delivered in partnership with Clear Channel) and on Eden Street in
        Kingston (delivered in partnership with JCDecaux) which provide live bus arrival
        information, alongside real-time updates on other public transport options.
        &nbsp;
        </p>
        <p>The screens also include
        local area information including maps, local news and details about local
        events.&nbsp; </p>
        <p>In addition, the London borough of Ealing has worked with TfL to
        bring bus arrival and Tube status information to customers on a borough funded
        information screen outside Ealing Broadway Tube station.
        &nbsp;
        &nbsp;</p>
         
        <hr />
         
        <ul>
            <li>More
            information about the Year of the Bus can be found at: www.tfl.gov.uk/yearofthebus</li>
            <li>iBus
            is fitted on all buses in the fleet and includes 'next stop' audio visual
            announcements which let passengers know where they are even if they're on an
            unfamiliar route.&nbsp; This is of particular benefit to passengers with visual
            or aural impairments and those with learning difficulties, as well as visitors
            to London or Londoners travelling on unfamiliar routes</li>
        </ul>
        <p>Suppliers
        of the technology include:
        &middot;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        </p>
        <ul>
            <li>On
            bus WiFi &#45; Bluepod Media</li>
            <li>Upper
            deck seat availability &#45; Timespace Technology</li>
            <li>Passenger
            information screens &#45; Moviken Group and Navaho Technologies Ltd.</li>
        </ul>
    

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
                <a href="/info-for/media/index" class="heading">
                    <h2 id="sub-menu-heading">Media<span class="visually-hidden"> navigation</span></h2>
                </a>
                <ul>
                    
                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases">Press releases</a></div>
                                <ul>
                                    
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2020">2020</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019">2019</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018">2018</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017">2017</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016">2016</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015">2015</a></div></li>
                            
 
                                        <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014">2014</a></div>
                                        <ul>
                                            
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/december">December</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/november">November</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/october">October</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/september">September</a></div></li>
                                    
 
                                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/august">August</a></div>
                                                <ul>
                                                    
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
                                                </ul>
                                            
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/july">July</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/june">June</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/may">May</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/april">April</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/march">March</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/february">February</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/january">January</a></div></li>
                                    
 
                                        </ul>
                                    </li>
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2013">2013</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2012">2012</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2011">2011</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2010">2010</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2009">2009</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2008">2008</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2007">2007</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2006">2006</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2005">2005</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2004">2004</a></div></li>
                            
 
                                </ul>
                            </li>
 
                                <li><div class="link-wrapper"><a href="/info-for/media/photos">Photos</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/media/contact-the-press-office">Contact the Press Office</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/filming-and-photography">Filming & photography</a></div></li>
                            
 
                </ul>
            
 
 
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype: -Home-Media-Media-Press releases-2014-August-TfL to trial new bus technology -->

 
 
        
        
            @{ViewBag.Description = "TfL trials latest digital technology to further improve bus passenger experience ";}
        
        


 