


@{ViewBag.Title = "TfL buys Covent Garden offices to generate income";}
        
        
<div class="r">
    <div class="breadcrumb-container" role="navigation">
        <span id="breadcrumb-label" class="visually-hidden">You are here:</span>
        <ol class="breadcrumbs clearfix" aria-labelledby="breadcrumb-label">
            <li class="home">
                <a href="/">
                    <span class="hide-text">Home</span>
                </a>
            </li>
            
                <li>
                    <a href="/info-for/media/index">Media</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases">Press releases</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases/2014">2014</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases/2014/august">August</a>
                </li>
                
                <li>
                    <span class="last-breadcrumb">TfL buys Covent Garden offices to generate income</span>
                </li>
            
 
            
 
            
 
            
 
            
 
        </ul>
    </div>
</div>
     
 
<div class="r">
    <div class="headline-container plain">
        <h1>TfL buys Covent Garden offices to generate income</h1>
        <div class="content-page-press-release">
        26 August 2014
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        TfL has acquired the long lease for the offices above London's historic Covent Garden Tube station for &pound;10m as part of its commercial vision to generate substantial non-fares income to reinvest back in to the transport network.  
        
    </div>



<div class="pull-quote">
        <div class="quote-body">"Acquiring the long lease to our site above Covent Garden Tube station is part of our new approach to investing in our properties to generate substantial long-term income that we can reinvest back into the transport network"</div>
        <div class="quote-footer">
            <div class="quotee-name">Graeme Craig</div>
            <div class="quotee-job-title">Director of Commercial Development at TfL</div>
        </div>
</div>

 <div class="on-this-page">

         
        <p>TfL has been developing a strategy to maximise all of its assets and improve services for customers and will be generating &pound;3.6bn over the life of the Business Plan.</p>
         
        <p>TfL is one of the biggest landowners in London, owning around 5,700 acres across an extensive portfolio of buildings and land attached and above Tube stations, railways and highways.</p>
        <h2>New approach to the commercial vision</h2>
        Property is therefore is a key element to the commercial vision and TfL is taking a new approach, investing in property sites to generate better rental income as well as working with partners on new developments to generate long term investment.
         
        <p>TfL already owns the freehold of the offices above Convent Garden Tube station and has acquired the long lease with 100 years left to run from Didier Tandy's Sunnyday Capital.</p>
        <p>The seller, Didier Tandy's Sunnyday Capital, represented by national commercial property consultancy Lambert Smith Hampton (LSH) and TfL was represented by JLL.</p>
        <h2>Substantial long-term income</h2>
         
        <p>Graeme Craig, Director of Commercial Development at TfL, said: 'As one of the biggest landowners in London, TfL already has an extensive property portfolio.</p>
        <p>'Acquiring the long lease to our site above Covent Garden Tube station is part of our new approach to investing in our properties to generate substantial long-term income that we can reinvest back into the transport network.</p>
        <p>Property is a key part of this strategy and we are actively exploring other opportunities to develop and expand our property portfolio.'</p>
        <h2>Competitive bidding process</h2>
         
        <p>James McAdden, Associate Director of Central London Capital Markets at LSH, said: 'We secured the sale of the offices following a highly competitive bidding process and the purchase price of &pound;10m reflects the robust investor demand for West End office space.'</p>
         
        <p>William Chambers, Associate Director of Capital Markets Development Consulting at JLL, said: 'This acquisition demonstrates TfL's opportunity led appetite to acquire assets which can add long term value to their estate.</p>
        <p>'It is a great example of TfL's ability to respond to market opportunities transacting in less than 4 weeks from bid acceptance through to completion.  JLL is pleased to have worked with one of London's key active landowners.'</p>
         
        <p>The 11,754 sq ft offices at 40 Long Acre, WC2, are currently let to brand consultancy, Interbrand Group, with the lease expiring in June 2015.</p>
        &nbsp;
         
    

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
                <a href="/info-for/media/index" class="heading">
                    <h2 id="sub-menu-heading">Media<span class="visually-hidden"> navigation</span></h2>
                </a>
                <ul>
                    
                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases">Press releases</a></div>
                                <ul>
                                    
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2020">2020</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019">2019</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018">2018</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017">2017</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016">2016</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015">2015</a></div></li>
                            
 
                                        <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014">2014</a></div>
                                        <ul>
                                            
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/december">December</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/november">November</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/october">October</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/september">September</a></div></li>
                                    
 
                                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/august">August</a></div>
                                                <ul>
                                                    
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
                                                </ul>
                                            
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/july">July</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/june">June</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/may">May</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/april">April</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/march">March</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/february">February</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/january">January</a></div></li>
                                    
 
                                        </ul>
                                    </li>
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2013">2013</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2012">2012</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2011">2011</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2010">2010</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2009">2009</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2008">2008</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2007">2007</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2006">2006</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2005">2005</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2004">2004</a></div></li>
                            
 
                                </ul>
                            </li>
 
                                <li><div class="link-wrapper"><a href="/info-for/media/photos">Photos</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/media/contact-the-press-office">Contact the Press Office</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/filming-and-photography">Filming & photography</a></div></li>
                            
 
                </ul>
            
 
 
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype: -Home-Media-Media-Press releases-2014-August-TfL buys Covent Garden offices to generate income -->

 
 
        
        
            @{ViewBag.Description = "TfL has acquired the long lease for the offices above London’s historic Covent Garden Tube station for £10m as part of its commercial vision to generate substantial non-fares income to reinvest back in to the transport network.  ";}
        
        


 