


@{ViewBag.Title = "A406 North Circular Bounds Green - plans revealed and public exhibition announced";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>A406 North Circular Bounds Green - plans revealed and public exhibition announced</h1>
        <div class="content-page-press-release">
        01 June 2005
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        Transport for London (TfL) today revealed detailed plans for the road safety and environmental improvement scheme for the A406 North Circular Road at Bounds Green.
        
    </div>



 <div class="on-this-page">
<p>A public exhibition of the plans will also be held between 9-14 June at Trinity-at-Bowes Methodist Church on Palmerston Road. </p>
<p>The exhibition is an opportunity for local people to come and see the plans and to talk to TfL staff about the developments made following the public consultation on the scheme in 2002. </p>
<p>Changes made to the plans have taken account of many of the concerns expressed by residents, with the improvements including:</p>
<ul>
    <li><strong>Road safety</strong> - Significant changes to the junctions of Bounds Green Road/A406 Telford Road and A406 Telford Road/Wilmer Way to improve safety and efficiency, addressing the 73 accidents that have occurred on these two junctions in the last three years. The new designs are expected to reduce incidents by more than 50 per cent
    </li>
    <li><strong>Cycle facilities</strong> - Dedicated cycle ways along the northern side of the road that link with the existing cycle networks at each end of the scheme
    </li>
    <li><strong>Pedestrian crossings</strong> - Pedestrian crossings at all roads at major junctions, with road-level crossings replacing existing footbridges
    </li>
    <li><strong>Improved bus journey times</strong> - New bus lanes approaching major junctions in both directions will improve the reliability of bus journey times
    </li>
    <li><strong>Increased road capacity</strong> - Increased road and junction capacity to improve traffic flow, cut congestion, shorten journey times and reduce traffic queues
    </li>
    <li><strong>Tackling rat running</strong> - Tackling rat running in residential roads with &pound;4m funding to provided to the London Boroughs of Enfield, Haringey and Barnet for complementary traffic calming measures on side streets
    </li>
    <li><strong>Updated plans for road closures</strong> - Updated plans for road closures and banned turns on and off the A406 North Circular Road, which will include the closure of Tewkesbury Terrace and the banning of the turn into Melville Gardens, removing routes currently used by high volumes of rat-running traffic
    </li>
    <li><strong>Improved local environment</strong> - An improved local environment through better streetscapes with extensive planting.</li>
</ul>
<p>In order to build the scheme, some properties along the road will need to be demolished while parts of gardens of other properties will also be required. </p>
<p>The roads that will be affected are Bowes Road, Telford Road, Tewkesbury Terrace, Powys Court, Powys Lane and Lynton Court. </p>
<p>
</p>
<h2>Uninhabited units</h2>
<p>
</p>
<p>TfL has written to its affected residential and commercial tenants, those property owners from whom TfL wishes to acquire and also to those TfL tenants whose homes will not be affected by the scheme. </p>
<p>In total 84 properties, or 100 units, are due to be demolished: </p>
<ul>
    <li>30 of these are commercial premises
    </li>
    <li>70 are residential units, of which around 17 are uninhabited now or will be when TfL acquires them
    </li>
    <li>53 are home to families or single persons who are tenants of either TfL or the London Borough of Enfield.</li>
</ul>
<p>These numbers include 19 residential and commercial buildings which TfL wishes to acquire, together with approximately 13 plots of land. </p>
<p>In addition, there are 34 properties for which portions of gardens will be required to build the scheme. </p>
<p>TfL will continue working closely with Enfield Council, the local housing authority.</p>
<ul>
    <li>The scheme is part of the major improvements to London's transport infrastructure being carried out under TfL's &pound;10bn 5-Year Investment Programme </li>
    <li>This week TfL is distributing 50,000 brochures to local residents, businesses and stakeholders. The brochure details plans for the scheme and explains the benefits the improvements will bring for users of the road and local residents alike </li>
    <li>The public exhibition will take place between 9-14 June at the Trinity-at-Bowes Methodist Church, where project managers for the scheme will be on hand to answer questions. Opening times are as follows:
    <ul>
        <li>Thursday 9 June: 1200-2000</li>
        <li>Friday 10 June: 1200-2000</li>
        <li>Saturday 11 June: 1000-1700</li>
        <li>Monday 13 June: 1200-2000</li>
        <li>Tuesday 14 June: 1200-2000</li>
    </ul>
    </li>
    <li>Details of the exhibition will be advertised in local newspapers, at bus stops and are available on <a href="/corporate/projectsandschemes/2251.aspx">TfL's website</a>. </li>
    <li>Subject to satisfactory completion of all statutory procedures, construction of the scheme will begin in Summer 2006, with a view to completion in 2008. <br />
    </li>
</ul>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "A public exhibition of the plans will also be held between 9-14 June at Trinity-at-Bowes Methodist Church on Palmerston Road. The exhibition is an opportunity for local people to come and see the plans and to talk to TfL staff about the developments made";}
        
        


 