


@{ViewBag.Title = "Busk8 celebrates busking on The Tube and Live8";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>Busk8 celebrates busking on The Tube and Live8</h1>
        <div class="content-page-press-release">
        30 June 2005
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        Busk8 is a two-hour concert to celebrate the second year anniversary of London Underground's busking scheme and in support of Live8.
        
    </div>



 <div class="on-this-page">
<div class="pullquote right">
                        <p>
                            All proceeds to be donated to Make Poverty History campaign
                            
                        </p>
                    </div>
                
            
            
            <p> <!-- #EndEditable -->Busk8 will see a group of talented Underground buskers perform at Canary Wharf station on Friday 1 July from 1000 to 1200.</p>
<p>All proceeds will be donated to the Make Poverty History campaign. Busk8 features a wide range of musical styles from Opera to Blues and RnB. </p>
<p>Busk8 will be presented by Sky Travel presenter Joanna Sinnott.<br></p>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "<!-- #EndEditable -->Busk8 will see a group of talented Underground buskers perform at Canary Wharf station on Friday 1 July from 1000 to 1200.All proceeds will be donated to the Make Poverty History campaign. Busk8 features a wide range of musical styles";}
        
        


 