


@{ViewBag.Title = "Call to disabled Londoners to get on buses and use their travel rights";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>Call to disabled Londoners to get on buses and use their travel rights</h1>
        <div class="content-page-press-release">
        27 June 2005
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        As Transport for London (TfL) launches its "accessible buses" advertising campaign this month, Bryan Heiser, TfL Board's advisor on disability, calls for fellow disabled Londoners to get onto public transport whenever they can and make use of their right to travel around London like anyone else.
        
    </div>



 <div class="on-this-page">
<div class="pullquote right">
<p>
Public transport in London is so much more accessible than it used to be
</p>
</div>
<p> Mr Heiser said:"Public transport in London is so much more accessible than it used to be, and measures are in place to make the service even better. </p>
<p>"But the next step is for as many disabled Londoners as possible to try these new measures and help us make sure they work. </p>
<p>"If I have one message to people who have felt that public transport hasn't been an option for them before, it would be simply 'have a go', and show everyone that we have a right to travel too. </p>
<p>"We need disabled Londoners to use the services so TfL, bus operators and the general public know how to make things better."</p>
<p>The advertising campaign will highlight that nine out of 10 buses are now wheelchair accessible, and will run in targeted press and on bus shelters throughout London in July and August.</p>
<p>
</p>
<h2>Getting feedback</h2>
<p>
</p>
<p>Representatives from disability groups such as Glad (Greater London Action on Disability), Radar (Royal Association for Disability and Rehabilitation) and Transport for All will be invited to an Accessibility Summit on 27th June, to try out existing and prototype accessible vehicles and put their questions and concerns to bus operators and TfL bosses. </p>
<p>Help for disabled passengers wanting to travel for the first time, or for the first time in a while:</p>
<ul>
    <li>More information on what to expect will be at <a href="http://www.tfl.gov.uk/getonboard">www.tfl.gov.uk/getonboard</a>, or ring 020 7222 1234 to request a copy in the best format for you
    </li>
    <li>Get help with planning your journey by ringing 020 7241 7457 or trying the online <a href="http://www.tfl.gov.uk/journeyplanner">journey planner</a>
    </li>
    <li>Try travelling with a travel buddy - ring 020 7241 7457 or email <a href="mailto:enquire&#64;tfl.gov.uk">enquire&#64;tfl.gov.uk</a> with the subject line "Travel Assistance Scheme"</li>
</ul>
<p>
</p>
<h2>Making travel accessible</h2>
<p>
</p>
<p>How travel in London is becoming more accessible:</p>
<ul>
    <li>All buses will be wheelchair accessible by the end of the year, making it the largest wheelchair accessible network in the world
    </li>
    <li>All 22,500 London bus drivers will have had BTEC level disability equality training by the end of the year
    </li>
    <li>Investment in Dial-a-Ride, Taxi Card, and other door-to-door services for those unable to use other forms of transport
    </li>
    <li>A travel assistance scheme is being developed to give disabled passengers confidence to get back onto public transport with the help of a 'buddy' on their first few trips
    </li>
    <li>Leaflets are being produced to give passengers advice on what to expect, and drivers advice on meeting the needs of disabled customers</li>
</ul>
<ul>
    <li>The Accessibility Summit is at East Winter Gardens, Canary Wharf on Monday 27th June from 2-5pm
    </li>
    <li>A limited number of press places are available
    </li>
    <li>There are also opportunities to:
    <ul>
        <li>Shadow a passenger and travel 'buddy' on the Travel Assistance Scheme</li>
        <li>Find out how bus drivers are trained</li>
        <li>View video diaries from disabled passengers and from bus drivers</li>
        <li>Speak to disabled passengers, drivers and trainers about their experiences</li>
        <li>Preview leaflet advice to passengers and bus drivers</li>
    </ul>
    </li>
</ul>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "Mr Heiser said:'Public transport in London is so much more accessible than it used to be, and measures are in place to make the service even better. 'But the next step is for as many disabled Londoners as possible to try these new measures and help us";}
        
        


 