


@{ViewBag.Title = "Cycle journeys move up a gear";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>Cycle journeys move up a gear</h1>
        <div class="content-page-press-release">
        06 June 2005
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">



 <div class="on-this-page">
<span class="right">
                    
                </span><p>The number of cycle journeys made in London has increased by 67 per cent during the past five years, figures released today by Transport for London (TfL) reveal.</p>
<p>        
            
                        
            
                    <div class="pullquote right">
                        <p>
                            Cycle journeys in London have increased by 67 per cent in the last five years
                            
                        </p>
                    </div>
                
            
            
            <p>From May 2000 to May 2005 to number of weekly cycle journeys on TfL's roads rose from 60,000 to more than 101,000.</p>
<p>The news comes as London gears up for the second annual cycling festival, BikeFest in the Square on Sunday 12 June between 1pm and 5pm. </p>
<p>The event will provide great entertainment for the whole family, not just experienced cyclists.</p>
<p>BikeFest will include a wide range of bike-themed entertainment and activities including:</p>
<ul>
<li>Guided bike rides around central London 
</li><li>Theatre performances on bikes 
</li><li>Bike try out area for all ages and abilities 
</li><li>Kids workshop to create accessories and badges 
</li><li>Sculpture 
</li><li>Puppet shows 
</li><li>Street dance 
</li><li>A style show and much more.</li></ul>
<h2></h2>
<p>
<p>TfL's Bike Doctor clinic will be on hand to offer free health checks for bikes. </p>
<p>A team of Bike Doctor mechanics will advise on minor bike ailments, from checking the gears to tightening up the brakes.</p>
<p>&lt;h2&gt;Bike Doctor&lt;/h2&gt;</p>
<p>There will be a prize draw to win a brand new bike courtesy of Evans Cycles and TfL, free supervised bike parking will also be available.</p>
<p>Peter Hendy, Managing Director of Surface Transport, TfL, said: "These new figures show that TfL's work to make cycling safer and more convenient is having a real impact. </p>
<p>"But that work isn't finished and during the summer months we want as many people as possible to hop on a bike to explore the city. </p>
<p>"BikeFest in the Square will show people that cycling in London is fun enjoyable and a great way to get around.</p>
<p>"There will be some exciting family entertainment on offer, including bikes for hire and I hope people will take the chance to experience for themselves the buzz and benefits of cycling in London."</p>
<p><br></p>
            <ul>
<li>Media wishing to attend BikeFest in the Square should contact Stephen Taylor on 020 7941 4377 or 07734 493261</li>
<li>For further information about cycling in London, visit TfL's cycling website <a href="http://www.tfl.gov.uk/cycling">www.tfl.gov.uk/cycling</a></li>
<li>Bike Week and Bike2Work Week run from 11 June to 19 June.  For further details visit <a href="http://www.bikeweek.org.uk">www.bikeweek.org.uk</a></li>
<li>As part of TfL's commitment to promoting cycling in London, TfL, the London Development Agency (LDA) and the Greater London Authority (GLA) are all involved in sponsoring & supporting the Tour of Britain on 4 September 2005.</li></ul>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "The number of cycle journeys made in London has increased by 67 per cent during the past five years, figures released today by Transport for London (TfL) reveal.From May 2000 to May 2005 to number of weekly cycle journeys on TfL's roads rose from 60,000";}
        
        


 