


@{ViewBag.Title = "East London Line is moving at pace";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>East London Line is moving at pace</h1>
        <div class="content-page-press-release">
        03 June 2005
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        TfL London Rail has selected Taylor Woodrow to oversee &pound;30m worth of civil engineering works on the East London Line (ELL) to be started before the end of June.
        
    </div>



 <div class="on-this-page">
<div class="pullquote right">
                        <p>
                            The East London Line Extension is fast becoming a reality
                            
                        </p>
                    </div>
                
            
            
            <p>The British-based engineering and construction company was chosen from a panel of three bidders to carry out enabling works which will prepare sites on the ELL route for the main works.</p>
<p>The ELL project is an essential part of London's Olympic bid and is scheduled for completion in June 2010 - two years before the Games begin. </p>
<p>However, the project is not dependent on the bid and will continue on schedule regardless of Olympic success. <br><br>The Mayor of London, Ken Livingstone, said: "The East London Line Extension is fast becoming a reality. </p>
<p>"This extension will be London's first purpose-built metro rail service providing a north-south link and triggering up to &pound;10bn worth of economic development in some of London's most deprived boroughs. </p>
<p>"It will be completed by 2010 and will powerfully boost transport capacity for a London 2012 Games." </p>
<p>The enabling works will include the refurbishment and replacement of 21 bridges along the Kingsland Viaduct, the temporary movement of some paddocks at Spitalfields City Farm and some repair works to the underpass at Cold Blow Lane in Lewisham.</p>
<p>The work will be completed by June 2006. </p>
<p>
<h2>Local regeneration</h2>
<p>
<p>The main contractor will then start work on ELL track, signalling systems and four new stations. </p>
<p>Formal notice asking for expressions of interest in the main contract will be given in the Official Journal of the European Union (OJEU) on June 6, 2005.</p>
<p>Phase one of the ELL project which forms a cornerstone of the TfL 5 Year Investment Programme, will extend existing services north to Dalston Junction and south to New Cross, Crystal Palace and West Croydon. </p>
<p>The line will trigger regeneration in some of London's most deprived areas.</p>
<p>TFL London Rail has also awarded the contract for Technical Advisor to global engineering consultancy Mott MacDonald and work will begin within weeks.</p>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "The British-based engineering and construction company was chosen from a panel of three bidders to carry out enabling works which will prepare sites on the ELL route for the main works.The ELL project is an essential part of London's Olympic bid and is";}
        
        


 