


@{ViewBag.Title = "Free travel on buses and trams for under-16s";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>Free travel on buses and trams for under-16s</h1>
        <div class="content-page-press-release">
        14 June 2005
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        This press release was originally issued by the Mayor of London's press office at the Greater London Authority.
        
    </div>



 <div class="on-this-page">
<div class="pullquote right">
<p>
Free travel for under-16 year olds is a radical investment in London's future
</p>
</div>
<p>Mayor of London Ken Livingstone today launched free bus and tram travel for under-16 year olds in London. </p>
<p>The mayor announced that bus and tram fares will be abolished for all under-16s starting in the new academic year. </p>
<p>Free travel was a key manifesto commitment of the Mayor. </p>
<p>Polls conducted by the Greater London Authority show that 80 per cent of Londoners support free fares for under-18s in full-time education.</p>
<p>The scheme will start in September and help hundreds of thousands of families in London by improving young people's access to education, sport and leisure. </p>
<p>Ken Livingstone said: "This is a major step in delivering on my manifesto for the second mayoral term. </p>
<p>"Free travel for under-16 year olds is a radical investment in London's future. </p>
<p>"It will help hundreds of thousands of families across the capital and make visiting London's many attractions more affordable. </p>
<p>"Free bus and tram travel will encourage young people to use public transport, helping to continue London's move away from car journeys. </p>
<p>"It should also cut congestion, pollution and accidents by reducing the school run."</p>
<p>
</p>
<h2>'Good news for families'</h2>
<p>
</p>
<p>John Biggs, member of the London Assembly Transport Committee and the Assembly Member for East London, said: "My colleagues on the London Assembly have been a great supporters of getting more people to use the Capital's public transport. </p>
<p>"We need to develop a culture of bus usage by a generation brought up believing a journey without a car was a journey not worth making. </p>
<p>"This fulfilment of this election promise is good news for young Londoners and good news for families throughout London. </p>
<p>"I am delighted that the Mayor and TfL have earmarked the money to bring this important initiative forward."</p>
<p>Kate Green, Chief Executive of the Child Poverty Action Group, said: "This is a radical step. Low income families typically spend a much greater proportion of their income on transport and this move will directly benefit many of them. </p>
<p>"It will open up access to a mass of facilities and possibilities that have been simply unaffordable."</p>
<p>Roger Draper, Chief Executive of Sport England, said: "This is great news and means that London's youngsters and sports stars of the future can get access to sport more easily. </p>
<p>"We hope many will seize this great new opportunity to get active - whether at a local leisure centre, club training ground or skatepark. </p>
<p>"A London Olympics in 2012 could see home-grown medal winners who were helped by this policy."</p>
<p>Richard Bourn, Transport 2000's London Campaigner, said: "This plan could alter the mindset of the next generation so public transport becomes the natural choice. </p>
<p>"Already car ownership in parts of London is falling and public transport use is rising. This move will help secure and accelerate that trend."</p>
<p>Currently under-11s travel free on London's buses and trams. </p>
<p>From September 1 that will be extended to all children under-16s and to under-18s in full time education next year; 14 and 15 year olds will need an Oyster photocard to travel for free.* </p>
<p>For more information, including how to apply for an Oyster photocard visit <a href="/oyster">TfL's website</a>. <br />
</p>
<ul>
    <li>*Young people aged 14 or 15 will require an Oyster photocard which will entitle them to free bus and tram use. This can be applied for from 1 July at Post Offices and can be used for free travel on receipt from August 1. Under 14s do not need a Oyster photocard. For more information visit: <a href="/oyster">TfL's website</a> </li>
    <li>Anyone who abuses the free travel concession will have it withdrawn </li>
    <li>Details of young athletes attending today's launch:
    <ul>
        <li>Marcus Mepstead: Marcus is No. 1 in Britain at Fencing (foil) in the U17 age category. 15 years old</li>
        <li>Chol Manyor: Plays Basketball for regional team. Has used most of his grant for travel to and from training and has not yet progressed to a higher level due to severe financial constraints but his coaches believe he has the potential to. 15 years old</li>
        <li>Nadina Cameron: Swimmer. 1st and 5th in Britain for 50m freestyle and backstroke respectively in the 12yr age category. Will be 13 on 12th June. Has the opportunity to compete for Britain</li>
        <li>Shaunagh Brown: Discus thrower. No.1 in Britain in the U15 age category. 15 years old</li>
        <li>Harry Needs: Swimmer. Nationally Ranked 3rd in 200m Backstroke and 4th in 100m backstroke in his age group. Won 17 medals at the Middlesex County Championships. 13 years old</li>
    </ul>
    </li>
    <li>
    <p>This press release was originally issued by the Mayor of London's press office at the <a href="http://www.london.gov.uk/">Greater London Authority</a>. For media enquiries please call Hilary Merrett on 020 7983 4753. For out of hours media enquiries please call 020 7983 4000. For non-media enquiries please call the Public Liaison Unit on 020 7983 4100.<br />
    </p>
    </li>
</ul>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "Mayor of London Ken Livingstone today launched free bus and tram travel for under-16 year olds in London. The mayor announced that bus and tram fares will be abolished for all under-16s starting in the new academic year. Free travel was a key manifesto";}
        
        


 