


@{ViewBag.Title = "Greenwich Waterfront Transit public consultation results released";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>Greenwich Waterfront Transit public consultation results released</h1>
        <div class="content-page-press-release">
        27 June 2005
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">



 <div class="on-this-page">
<p>Transport for London (TfL) has released the results of the public consultation for phase one of the <a>Greenwich Waterfront Transit</a>, the section between Woolwich town centre and Thamesmead.</p>
<p>A total of 787 responses were received, with the majority coming from residents and businesses in Gallions Hill (60 per cent). </p>
<p>The consultation responses showed strong support for Greenwich Waterfront Transit to run along a route including Tom Cribb Road and Western Way.</p>
<p>Head of Major Projects at TfL David Howarth said: "This was a robust consultation and we are extremely pleased with the high level of response. </p>
<p>"We now have an understanding of the preferences, issues and concerns of local residents and business owners and will take these into account as we continue our development of this essential transit route."</p>
<h2>Thames Gateway improvements</h2>
<p>The Greenwich Waterfront Transit aims to increase access to employment, education and services in the Thames Gateway. </p>
<p>The scheme is planned to link with the proposed East London Transit via the Thames Gateway Bridge, forming part of the package of transport improvements planned for the Thames Gateway.</p>
<p>A number of issues raised by respondents to the consultation included the impacts upon local ecology, road safety and the effect on residential areas. </p>
<p>TfL is now considering and analysing all route options, taking into account the results of the consultation, and will recommend a preferred route to the London Borough of Greenwich later in the year. </p>
<ul>
    <li>The full report is available on <a href="http://www.tfl.gov.uk/assets/downloads/FINAL-REPORT-271005.pdf">TfL's website</a>. </li>
    <li>The consultation was undertaken jointly by Transport for London (TfL) and the London Borough of Greenwich, between 19 November 2004 and 21 January 2005 </li>
    <li>Next steps:<br />
    <ul>
        <li>TfL will examine the route options in the light of the consultation, and recommend a route to the London Borough of Greenwich</li>
        <li>The London Borough of Greenwich, as the local planning authority, will decide whether to offer a route protection in its planning policy</li>
        <li>The project will move to the preliminary, and then to the detailed design stage, with further public consultation expected in about 18 months</li>
    </ul>
    </li>
    <li>The GWT project is being developed in three phases:<br />
    <ul>
        <li>Phase one: between Abbey Wood station and Woolwich Ferry roundabout</li>
        <li>Phase two: between Woolwich Ferry roundabout and North Greenwich station</li>
        <li>Phase three: between North Greenwich station and Greenwich Town Centre.</li>
    </ul>
    </li>
</ul>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "Transport for London (TfL) has released the results of the public consultation for phase one of the Greenwich Waterfront Transit, the section between Woolwich town centre and Thamesmead.A total of 787 responses were received, with the majority coming from";}
        
        


 