


@{ViewBag.Title = "Jubilee line raises property value by estimated &pound;2.1bn at Canary Wharf and Southwark Tube stations";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>Jubilee line raises property value by estimated &pound;2.1bn at Canary Wharf and Southwark Tube stations</h1>
        <div class="content-page-press-release">
        07 June 2005
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        A report published today by Transport for London (TfL) suggests that the uplift in property values attributed to the Jubilee Line Extension is over &pound;2.1bn in the proximity of Canary Wharf and Southwark Underground stations.
        
    </div>



 <div class="on-this-page">
<p>The pilot study, conducted by property firm Atisreal and geographic information practice Geofutures, found that there has been a positive impact on local property market values for the two areas studied, Canary Wharf and Southwark.</p>
<p>The conclusions of the report, <a href="/assets/downloads/JLE-Final-Report-May-2005.pdf">'Property value study - Assessing the changes in value attributable to the Jubilee Line Extension'</a> are that the estimated uplift in property values is in the order of:</p>
<p> &pound;2.1bn around Canary Wharf Underground station;<br><br> &pound;78m around Southwark Underground station.</p>
<p>Transaction data for residential, office and retail property, from the Valuation Office Agency, were modelled to predict total value for each market sector for December 2002. </p>
<p>The contribution of the JLE to property value uplift was then isolated using mapping and other analytical techniques.</p>
            <ul>
<li>The report also drew attention to the limitations of the UK's land and property datasets and the fact that overseas land and property data is generally available in a more complete and systematic manner </li>
<li>In deciding the extent of the study areas, it was assumed that the majority of any value uplift would occur within a 1000m radius of each station </li>
<li>Jones Lang LaSalle (JLL) was also commissioned to estimate the increase in land and property values due to the JLE at Canary Wharf and Southwark stations, with the results being reported on TfL's website in July 2004. By using the same catchment area radius (500m for commercial uses and 750m for residential uses, as used in the JLL study) it is possible to compare the results of the two studies. The JLL study gives a range for the increase in property value at Canary Wharf and Southwark, however, by taking the suggested assessment the uplift in value is approximately &pound;2.0bn, compared to Atisreal and Geofutures' estimate of over &pound;2.1bn </li>
<li>It should be noted that the JLL study examined the period 1992-2002, while the Atisreal and Geofutures' figure was calculated for Dec 2002 and included all uplift in value attributable to the JLE </li>
<li>The full report can be found here on the <a href="/assets/downloads/JLE-Final-Report-May-2005.pdf">TfL website</a>. </li></ul>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "The pilot study, conducted by property firm Atisreal and geographic information practice Geofutures, found that there has been a positive impact on local property market values for the two areas studied, Canary Wharf and Southwark.The conclusions of the";}
        
        


 