


@{ViewBag.Title = "Live emergency exercise at Tower Hill";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>Live emergency exercise at Tower Hill</h1>
        <div class="content-page-press-release">
        10 June 2005
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        London Underground (LU) will hold its annual live emergency exercise at Tower Hill station on Sunday 12 June.
        
    </div>



 <div class="on-this-page">
<p>Each year London Underground is legally required to hold an emergency exercise on the network. A different line takes turns in hosting the event. </p>
<p>Last year it took place at Lambeth North station on the Bakerloo line, this year it is the turn of the District line. </p>
<p>Roland Murphy, Exercise Director, London Underground said: "The live exercises are made as authentic as possible. </p>
<p>"All participants including all the emergency services are unaware of the 'disaster' until the exercise starts, so that they treat it as real as possible. </p>
<p>"LU has very good safety procedures in place but we can always build and improve upon them through exercises such as this. </p>
<p>"Due to major track replacement work services on the District line are suspended this weekend between Whitechapel and Earl's Court. </p>
<p>"The date for the exercise was chosen carefully to coincide with the works, so that it would have minimum impact on customers."</p>
<p>A police cordon will be erected around Tower Hill station, which will result in the following roads being closed from 0500 on Sunday 12 June: Trinity Square, Savage Gardens, Wakefield Gardens and Coopers Row. </p>
<p>The cordon will remain until the end of the exercise. <br></p>
            <ul>
<li>Due to the location of the exercise, we will be unable to provide media access however a video news release will be available shortly after exercise. Please contact Tracey O'Brien on 020 7941 4141 if you require further information 
</li><li>British Transport Police, Metropolitan Police, City of London Police, London Ambulance Service, London Fire Brigade, HMRI and the London Borough of Tower Hamlets are all involved in the event. </li></ul>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "Each year London Underground is legally required to hold an emergency exercise on the network. A different line takes turns in hosting the event. Last year it took place at Lambeth North station on the Bakerloo line, this year it is the turn of the";}
        
        


 