


@{ViewBag.Title = "LU publishes results of Chesham branch consultation";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>LU publishes results of Chesham branch consultation</h1>
        <div class="content-page-press-release">
        13 June 2005
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        Between January and March this year, London Underground (LU) invited views on improving the overall reliability of the Metropolitan line and providing good connections with Chiltern Railways and the Metropolitan line at Chalfont & Latimer.
        
    </div>



 <div class="on-this-page">
<div class="pullquote right">
                        <p>
                            Many respondents put forward constructive suggestions for changes and improvements to the service
                            
                        </p>
                    </div>
                
            
            
            <p>This involved consultation on the possible withdrawal of the existing Chesham peak through train service and replacement with an enhanced shuttle service between Chesham and Chalfont &amp; Latimer.</p>
<p>A total of 315 responses were received. </p>
<p>The public consultation highlighted that the majority of respondents have significant concerns about the proposals. </p>
<p>Eighty-six per cent of Chesham residents were against withdrawal of through trains at peak periods. </p>
<p>Only 10 per cent of responses received were supportive of the proposal to withdraw through trains. </p>
<p>Many respondents also put forward constructive suggestions for changes and improvements to the service.</p>
<p>LU is now undertaking further technical work to understand in greater detail all the issues, comments and concerns expressed. </p>
<p>This includes:</p>
<ul>
<li>analysis of the options for timing of connections to and from any shuttle service 
</li><li>assessment of the accessibility implications 
</li><li>full consideration of the impact that any changes to the Chesham service would have on the current service delivered to Metropolitan line customers at other stations on the line 
</li><li>full consideration of the impact that any changes to the Chesham service would have on plans for the Metropolitan line upgrade which Metronet will deliver by 2015 under the PPP contract.</li></ul>
<p>Once this is complete, LU will decide in autumn 2005 whether or not to agree to the withdrawal of the Chesham peak through service. </p>
<p>This means that there will be no change to the current Chesham service until summer 2006 at the earliest.</p>
<p>Paul Kilius-Smith, General Manager, Metropolitan Line, said: "The public consultation ensured everyone with an interest in the Chesham service had the opportunity to have their say. </p>
<p>"The consultation highlighted that the majority of respondents had significant concerns about the proposal to withdraw through trains to Chesham at peak periods. </p>
<p>"London Underground is now undertaking further work to review all the information received and will consider timing of connections to and from any shuttle service and the impact that any changes to the Chesham service would have on the service delivered to Metropolitan line customers at other stations as well as the impact on plans for upgrading the line. </p>
<p>"Once this is complete a decision will be taken later this year about whether to proceed with the proposal. </p>
<p>"This means that there will be no change to the current Chesham service until summer 2006 at the earliest."</p>
<p>Key criticisms of LU's proposals were as follows:<br></p>
<ul>
<li>would increase journey times for Chesham customers;<br>connections at Chalfont &amp; Latimer would prove unreliable<br>
</li><li>journeys would be more uncomfortable as trains would be more crowded<br>
</li><li>changing trains at Chalfont &amp; Latimer would be inconvenient and uncomfortable<br>
</li><li>unfair to Chesham customers, given the fact that they already pay the same fares as Amersham passengers yet receive a far worse service<br>
</li><li>the local economy and environment would be adversely affected<br>
</li><li>there would be an adverse impact on the mobility impaired<br>
</li><li>the proposal would put schoolchildren who use the morning through services from Chesham at risk<br>
</li><li>the proposal would compromise customer safety by forcing too many customers through the narrow subway between the platforms at Chalfont &amp; Latimer<br>
</li><li>concerns that the proposal is part of a hidden agenda to reduce demand on the branch, to justify its closure</li></ul>
<p>Responses were also received from a number of organisations. </p>
<p>Buckinghamshire County Council, Chiltern District Council and Chesham Town Council opposed the proposals, citing concerns over local traffic congestion, the impact on the local economy, the risk of greater overcrowding on services and the impact on schoolchildren and the mobilit
            <ul>
<li>The consultation commenced on 17 January and closed on 31 March 2005<br></li>
<li>TfL is investing &pound;10 billion over the next five years to improve and expand London's transport network, more than half of that in the Tube<br></li>
<li>Metronet SSL is responsible for the maintenance and renewal of the Circle, District, Hammersmith & City, Metropolitan and East London lines<br></li>
<li>Upgrading the Metropolitan line by 2015 is a core PPP deliverable from Metronet SSL.</li></ul>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "This involved consultation on the possible withdrawal of the existing Chesham peak through train service and replacement with an enhanced shuttle service between Chesham and Chalfont &amp; Latimer.A total of 315 responses were received. The public";}
        
        


 