


@{ViewBag.Title = "Major track replacement works on Piccadilly and District lines";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>Major track replacement works on Piccadilly and District lines</h1>
        <div class="content-page-press-release">
        23 June 2005
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        Between August 2005 and March 2006, eight weekend closures will take place from Acton Town to Hyde Park Corner on the Piccadilly line and Earl's Court to Acton Town on the District line to enable major track replacement works to be undertaken by Metronet Rail SSL.
        
    </div>



 <div class="on-this-page">
<div class="pullquote right">
<p>
The new track will allow for speed restrictions to be lifted
</p>
</div>
<p>Closures are presently planned to take place on </p>
<ul>
    <li>6/7 August
    </li>
    <li>3/4 September
    </li>
    <li>15/16 October
    </li>
    <li>22/23 October <br />
    <br />
    2006
    </li>
    <li>14/15 January
    </li>
    <li>21/22 January
    </li>
    <li>25/26 February
    </li>
    <li>4/5 March 2006</li>
</ul>
<p>Further closures will need to take place during 2006 and 2007.<br />
<br />
Mike Challis, Piccadilly line General Manager, said: "The track in the Hammersmith and Barons Court area needs to be replaced.</p>
<p>"Speed restrictions are presently in place and customers also experience a bumpy ride over this section of track. </p>
<p>"The new track will allow for speed restrictions to be lifted and will result in faster journey times and a smoother ride. </p>
<p>"Weekend closures will also provide an opportunity for work to be undertaken on trackside equipment, bridges and platforms."</p>
<p>Passengers will be made aware and kept informed through a major publicity campaign for these weekend closures, as follows:</p>
<ul>
    <li>Posters and leaflets at LU stations<br />
    </li>
    <li>Train and station announcements<br />
    </li>
    <li>Emails sent to targeted customers<br />
    </li>
    <li>Posters for all National Rail stations in the South East<br />
    </li>
    <li>Station specific posters for the actual closure days<br />
    </li>
    <li>Station specific leaflets at the affected stations giving the alternative transport options and ticket acceptance information<br />
    </li>
    <li>Notification in the 'weekend travel advice' section of the free Metro newspaper.</li>
</ul>
<p>Bob Thorogood, District line General Manager, said: "We're investing billions to improve the Tube and these track improvements works will enable us to make it safer, faster and more reliable. </p>
<p>"Last year the Underground improved, running more trains and carrying more passengers than ever before. </p>
<p>"The District and Piccadilly lines played a big part in that but we know there is much more to do.</p>
<p>"We appreciate that these much-needed and necessary engineering works will inconvenience some passengers but we have carefully planned these works to cause minimal disruption. </p>
<p>"The only alternative to these weekend closures is to close sections of line completely. </p>
<p>"This would inconvenience a greater number of people."</p>
<p>The closures will result in no service on the Piccadilly line from Acton Town to Hyde Park Corner, with a reduced service on the rest of the line and no District line service between Earl's Court and Acton Town / Gunnersbury. </p>
<p>A District line shuttle service will operate between Ealing Broadway and Acton Town. </p>
<h2>Alternative travel arrangements</h2>
<p>
These weekend closures will impact customers making local journeys and those travelling between Heathrow Airport and Central London. </p>
<p>Alternative travel arrangements are as follows:<br />
</p>
<h3>Between Heathrow Airport and Central London</h3>
Ticket acceptance arrangements will be in place with the Heathrow Express and Heathrow Connect service.<br />
<br />
LU customers who hold a valid London Underground Zone 1-6 Travelcard (both season and day tickets), a London Underground Zone 1-6 Oystercard (not PrePay) or a Freedom Pass are allowed to travel between Heathrow and Paddington on the Heathrow Express or the Heathrow Connect service.
<p>Children travel free on the Heathrow Express with any valid Tube ticket to Heathrow, and when accompanied by an adult.</p>
<p>The Heathrow Express provides fully accessible travel to and from Paddington to Heathrow every 15 minutes, with a 15 minute journey time while the Heathrow Connect service operates every 30 minutes with an average journey time of 25 minutes calling at Ealing Broadway, West Ealing, Hanwell, Southall and Hayes &amp; Harlington. </p>
<p>Heathrow Connect does not call at West Ealing and Hanwell before 5am Monday to Saturday with no service at all on Sundays.</p>
<p>Customers can still travel between Central London and Heathrow on the Underground via the Central line to Ealing Broadway then the Distr
</p>
<ul>
    <li>Transport for London (TfL) is investing &pound;10 billion over the next five years to improve and expand London's transport network, more than half of that in the Tube</li>
    <li>Metronet Rail SSL is responsible for the maintenance and renewal of the Circle, District, Hammersmith &amp; City, Metropolitan and East London lines</li>
    <li>Tube Lines is responsible for the maintenance and renewal of the Jubilee, Northern and Piccadilly lines</li>
    <li>Metronet Rail SSL is responsible for the maintenance of the District line track that is being renewed between Barons Court and Ravenscourt Park and the Piccadilly line track between Hammersmith and Acton Town as the District and Piccadilly lines run above ground in parallel to each other. <br />
    </li>
</ul>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "Closures are presently planned to take place on 6/7 August3/4 September 15/16 October 22/23 October 2006 14/15 January 21/22 January 25/26 February4/5 March 2006Further closures will need to take place during 2006 and 2007.Mike Challis, Piccadilly line";}
        
        


 