


@{ViewBag.Title = "Making the Tube accessible for all";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>Making the Tube accessible for all</h1>
        <div class="content-page-press-release">
        27 June 2005
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        As Transport for London (TfL) today announced that nine out of 10 buses are now accessible, London Underground (LU) also announced it is investing more than ever before to make the Tube as accessible as possible, as quickly as possible, for all customers.
        
    </div>



 <div class="on-this-page">
<div class="pullquote right">
                        <p>
                            By 2010, we want to make 25 per cent of Tube stations step-free, and aim to increase that to 50 per cent by 2015
                            
                        </p>
                    </div>
                
            
            
            <p>Many stations do not currently meet the needs of customers with physical, hearing or visual impairments. </p>
<p>LU faces challenges making the Tube accessible due to the age of the network, the costs of making improvements and a requirement to keep stations operational during improvement works.</p>
<p>LU's Strategy and Service Development Director, Richard Parry, said: "By 2010, we want to make 25 per cent of Tube stations step-free, and aim to increase that to 50 per cent by 2015.</p>
<p>"All 253 LU-owned stations are due to be refurbished and modernised over the next six years, and accessibility features will be added to each station. </p>
<p>"Accessibility is about more than simply step-free access, and features such as induction loops, tactile paving and additional and more visible Help and Information points will be added to stations as modernisations and refurbishments are completed.</p>
<p>"We are also replacing and refurbishing our train fleet. This will start with the refurbishment of the entire District line fleet and will include the provision of multi-purpose areas capable of accommodating wheelchair users and onboard dot matrix indicators. </p>
<p>"The sub-surface lines will be getting brand new trains from 2009 onwards and accessibility will be a key feature."</p>
<p>Currently, 44 stations out of 275 are step-free. </p>
<p>
<h2>Key interchanges</h2>
<p>
<p>TfL's &pound;10bn five-year Investment Programme will make a further 27 stations accessible with step-free access from street to platform. </p>
<p>By 2010, it is planned to make 25 per cent of Tube stations step-free, rising to 50 per cent by 2015.</p>
<p>Prioritisation of which stations to make accessible is focused on the Circle line and key interchanges, the origins and destinations that customers want and need, and the achievement of a good geographical spread across London.</p>
<p>King's Cross St Pancras is the Tube's busiest station, with 84 million passengers each year, and the government is funding the development of a new Underground station. </p>
<p>Phase I opening in 2006 will make the Metropolitan and Circle line platforms accessible. </p>
<p>The completion of Phase II by 2010 means all 10 platforms serving the Circle, Hammersmith & City, Metropolitan, Northern, Piccadilly and Victoria lines will be fully accessible.</p>
<p>Step-free access to the platform does not mean a station is fully accessible. </p>
<p>The step and gap between the train and the platform can present a further physical barrier. </p>
<p>As a short-term interim measure, platform humps can make the transfer from platform to train easier, and are presently being evaluated on a station-by-station basis. </p>
<p>Full-length platform raising or track and train lowering is not always feasible due to cost and the effect on other structures.</p>
<p>Accessibility is about more than simply step-free access. </p>
<p>It includes more and more visible Help and Information points, all with induction loops. </p>
<p>Station announcements made more clearly audible in ticket halls, passageways and platforms, tactile paving at stations to indicate steps and platforms and improved handrail designs.</p>
<p>New and refurbished trains are an important element in increasing accessibility. </p>
<p>The entire District line fleet will be refurbished by 2009 and the first refurbished trains have now entered service. </p>
<p>To improve accessibility, every train car will have an area fitted with tip-up seats to accommodate wheelchairs, buggies and luggage. </p>
<p>Destination information will be in both audible and visual format and audible and visual warnings will be given to indicate closing doors. </p>
<p>Contrasting colours will assist colour differentiation between the floor, doors, grabpoles and seats.</p>
<p>
<h2>Dignity and fairness</h2>
<p>The first new trains for the sub-surface (Metropolitan, Hammersmith & City, Circle, District) and Victoria lines will start 
            <ul>
<li>Transport for London (TfL) is investing &pound;10 billion over the next five years to improve and expand London's transport network, more than half of that in the Tube.</li></ul>
<p> </p>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "Many stations do not currently meet the needs of customers with physical, hearing or visual impairments. LU faces challenges making the Tube accessible due to the age of the network, the costs of making improvements and a requirement to keep stations";}
        
        


 