


@{ViewBag.Title = "New campaign to reduce the number of cyclists killed in collisions with HGVs";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>New campaign to reduce the number of cyclists killed in collisions with HGVs</h1>
        <div class="content-page-press-release">
        23 June 2005
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        More than half of all cyclists killed on the roads in London are involved in collisions with goods vehicles.
        
    </div>



 <div class="on-this-page">
<div class="pullquote right">
                        <p>
                            We are making great progress in cutting the number of cyclists hurt on London's roads
                            
                        </p>
                    </div>
                
            
            
            <p>To tackle the problem Transport for London, in partnership with Sainsbury's, has today launched signs and posters to warn cyclists of the dangers.</p>
<p>Cyclists face danger from heavy goods vehicles (HGVs) turning left as situations can arise where HGV drivers are not able to see cyclists between their vehicle and the kerb. </p>
<p>As many as 49 cyclists were killed in collisions involving goods vehicles between January 1999 and May 2004. </p>
<p>The highly visible signs will be fixed to the back of 300 Sainsbury's HGV trailers which operate in London and the posters will go up across the Capital. </p>
<p>Chris Lines, Head of Road Safety, TfL, said: "We are making great progress in cutting the number of cyclists hurt on London's roads, but the percentage of cyclists injured and killed in crashes with good vehicles is staggering.</p>
<p>"By working in partnership with Sainsbury's, I hope we can get the message out to cyclists to be careful when riding near HGVs and also to help educate drivers to watch out for cyclists. </p>
<p>"We will be encouraging other companies to take Sainsbury's lead and display the signs on their vehicles."</p>
            <ul>
<li>Photos are available on request</li>
<li>Image of sign is available on request</li></ul>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "To tackle the problem Transport for London, in partnership with Sainsbury's, has today launched signs and posters to warn cyclists of the dangers.Cyclists face danger from heavy goods vehicles (HGVs) turning left as situations can arise where HGV drivers";}
        
        


 