


@{ViewBag.Title = "Olympic boost for London as work begins on DLR Woolwich Extension";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>Olympic boost for London as work begins on DLR Woolwich Extension</h1>
        <div class="content-page-press-release">
        13 June 2005
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        London's bid to host the 2012 Olympic and Paralympic Games received a huge boost today when the Mayor of London, Ken Livingstone, and Transport Minister Karen Buck marked the start of work on the Docklands Light Railway (DLR) extension to Woolwich Arsenal.
        
    </div>



 <div class="on-this-page">
<div class="pullquote right">
                        <p>
                            This DLR route demonstrates to the IOC that London is already delivering on its transport promises
                            
                        </p>
                    </div>
                
            
            
            <p>When finished early in 2009, the 2.5km extension will run under the Thames from King George V station at North Woolwich, through two parallel bored tunnels, to Woolwich Arsenal.</p>
<p>This latest news of the progress of major transport projects funded by the Mayor's five-year, &pound;10bn investment programme follows the announcements last week of the &pound;250m order for the 28 high-speed "bullet trains" that will provide the Olympic Javelin service, the intention to award the &pound;450m construction contract for the East London Line extension and also delivery of the first new seventh carriage for the Jubilee line.</p>
<p>The extension will form an essential part of the Olympic Transport Strategy should London's bid be successful. </p>
<p>It will provide another DLR connection to the Olympic venue at Excel London (boxing, table tennis, taekwondo, weightlifting, wrestling and judo) and the main Olympic park. </p>
<p>It will interchange with the Greenwich Waterfront and East London transits, and dedicated busways serving north and south of the river. 
<p>Mr Livingstone said: "One year into the second Mayoral term, the start of this DLR extension demonstrates the commitment to major public transport improvements - and what can be delivered when the Mayor, government and local councils work closely together. 
<p>
<p>"This DLR route also demonstrates to the International Olympic Committee that London is already delivering on its transport promises for the 2012 Games. </p>
<p>
<h2>'Better quality of life'</h2>
<p>"Simply bidding for the Games has brought forward a host of transport improvements - with the East London Line extension, the new &pound;400m ticket hall at King's Cross and the &pound;91m package of improvements to the North London Line all given added momentum.</p>
<p>"The Jubilee line and the DLR extension to Greenwich and Lewisham show that high quality, reliable transport links are the key to improving an area. </p>
<p>"This project will play a major role in the regeneration of the Thames Gateway, creating more jobs and delivering a better quality of life for people living in the area."</p>
<p>Seb Coe, Chairman of London 2012, said: "Our transport plan is a real strength in our bid and was given the thumbs-up by the IOC Evaluation Commission. </p>
<p>"I am delighted to see that we are yet again already delivering part of an extensive transport plan to ensure fast, frequent and reliable transport for the 2012 Olympic and Paralympic Games."</p>
<p>Besides triggering regeneration, the new route will provide another of two essential DLR cross-river connections to the main 2012 Olympic site - the other is the route to Greenwich, where it is planned to hold the equestrian events. </p>
<p>This extension, from Mudchute on the Isle of Dogs to Cutty Sark, Greenwich and Lewisham was completed on budget and ahead of schedule in November 1999.</p>
<p>Transport Minister Karen Buck said: "The extension will provide a fast and frequent service to the City and Docklands and, for international travellers, easy access to the Channel Tunnel Rail Link at Stratford International Station and to London City Airport."</p>
<p>Jim Fitzpatrick, Minister for London, said: "Today's announcement underlines the government's commitment to providing vital infrastructure that will be of benefit to both new and existing residents in the Thames Gateway area. </p>
<p>"Working across government, we are starting to realise the tremendous potential of the Gateway to deliver sustainable communities where people want to live and work."</p>
<p>Ian Brown, Chairman of DLR, added: "TfL's Investment Programme is now in full swing. </p>
<p>"Last week we went ahead with the East London Line and today we are starting work on DLR's cross-river link from Woolwich and to the Olympic site at Stratford."</p>
            <ul>
<li>This extension, when completed early in 2009, will also provide fast and frequent connections to Docklands and the City and, for international travel, quick access to the Channel Tunnel Rail Link at Stratford and to London City Airport 
</li><li>The IOC Evaluation Commission report shows that transport has become one of the strengths of London's bid - London is already delivering the new infrastructure that would help make a London Games in 2012 the best ever 
</li><li>Public support in London for the 2012 Olympic bid is growing quicker than ever before, with 79 per cent of Londoners now supporting the bid (ICM poll for the Londoner, April 2005), and two million registered supporters (online and text message) - having passed the initial target of one million over three months ahead of schedule. Support can be registered at london2012.com or by texting LONDON to 82012 
</li><li>The DLR has a 98.5 per cent reliability score. National Rail reliability is 83.3 per cent 
</li><li>The DLR has won five National Rail Awards in five consecutive years for reliability and service 
</li><li>The Railway opened in 1987 and by 1994 was carrying 8.2m passengers. By 2003 passenger numbers stood at 44m and DLR is now carrying over 50m passengers a year 
</li><li>The network has grown from 15 to 34 stations and 11 to 94 vehicles running over 27km of track. Trains will be extended from two to three vehicles by 2009.</li></ul>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "When finished early in 2009, the 2.5km extension will run under the Thames from King George V station at North Woolwich, through two parallel bored tunnels, to Woolwich Arsenal.This latest news of the progress of major transport projects funded by the";}
        
        


 