


@{ViewBag.Title = "Renewed and improved District line trains delivered";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>Renewed and improved District line trains delivered</h1>
        <div class="content-page-press-release">
        23 June 2005
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        District line passengers are this week the first to benefit from renewed, safer and more accessible Underground trains, as the billions now being invested in the Capital by Transport for London (TfL) start to deliver.
        
    </div>



 <div class="on-this-page">
<div class="pullquote right">
<p>
Grab poles have been painted green to help passengers see at a glance that it is a District line train
</p>
</div>
<p>The 75 District line trains, which first served Tube passengers a quarter of
a century ago, are the first on the Underground to be refurbished as part of
TfL's five-year &pound;10bn Investment Programme.</p>
<p>Delivered by Metronet, the refurbished trains include completely renewed
interiors; exteriors newly painted in LU's red white and blue livery; CCTV in
carriages; dot matrix information (DMI) displays; and accessibility measures,
including tip-up seats to accommodate wheelchairs, buggies and luggage.</p>
<p>The first trains have entered service on the Olympia branch. </p>
<p>The rest will be rolled out across other parts of the District line as they
are delivered over the next three and a half years.<br />
<br />
Bob Thorogood,
District line General Manager, said: "We're investing billions to improve the
Tube and these renewed District line trains will help us make it safer, cleaner,
more reliable and accessible.</p>
<p>"Last year the Underground improved, running more trains and carrying more
passengers than ever before. </p>
<p>
</p>
<p>"The District line played a big part in that, improving the number of
scheduled services operated from 95.5 per cent in 2002/3 to 96.6 per cent in
2003/4, but we know there is much more to do.</p>
<p>"That's why these refurbished trains are so important. They have served
District line passengers well since 1979, but it's time for this renewal. </p>
<p>
</p>
<h2>'Time for renewal'</h2>
<p>"It means they can continue to serve District line passengers until 2015,
when they will all have been replaced by new trains."</p>
<p>Mick Foote, Managing Director for Metronet Rail SSL, said: "These trains are
brighter, smarter, more secure and more accessible. </p>
<p>"Metronet is currently investing &pound;1bn a year upgrading the Tube and this is a
clear manifestation of that commitment."</p>
<p>District line carriages have been refurbished with a modern and contemporary
design that offers marked improvements in safety, accessibility and customer
information.</p>
<p>Inside the carriages, curved handrails replace the old hanging
strap handles and all grab poles will be painted green to help boarding
passengers see at a glance that the train is a District line service. </p>
<p>All internal panels have been replaced or resurfaced, and seats have been
redesigned with new fire retardant cushions in a smart moquette of shades of
blue and green. </p>
<p>From the platform, the trains will also look very different as the previously
bare aluminium exterior has been repainted in the Underground's familiar red,
white and blue livery.</p>
<p>Improved security features include CCTV in carriages and passenger alarms
which will allow customers to talk directly to the train operator. </p>
<p>New windows in the car ends allow passengers to see and be seen from other
cars, and the driver's cabs have been fitted with missile-proof windscreens.</p>
<p>To improve accessibility, every car will have an area fitted with tip-up
seats to accommodate wheelchairs, buggies and luggage. </p>
<p>The passenger alarm in this area will be placed at a height that makes it
available to wheelchair users. A grab pole in the door will further aid access.
</p>
<p>
</p>
<h2>Improved passenger information</h2>
<p>
</p>
<p>Wooden floors are replaced with a non-slip material and feature contrasting
aisle and vestibule colours with a yellow doorway strip to assist the
partially-sighted.</p>
<p>Passenger information has been improved through external DMI displays giving
the train's destination have been fitted to the ends of carriages and, for the
first time, to the sides of the train. </p>
<p>Along with new in-car audio systems, DMIs will give information on where
passengers should change for other Tube lines and transport.</p>
<p>Refurbishment of the entire District line fleet will take nearly four years.
</p>
<p>To avoid disruption to passengers, Metronet w
</p>
<ul>
    <li>TfL is investing &pound;10bn over the next five years to improve and expand London's transport network, more than half of that in the Tube</li>
    <li>Metronet Rail SSL is responsible for the maintenance and renewal of the Circle, District, Hammersmith &amp; City, Metropolitan and East London lines</li>
    <li>Refurbishment of the entire District line stock is a core PPP deliverable from Metronet Rail SSL</li>
    <li>However, London Underground exercised a Specified Right under the PPP contracts to deliver some elements of the refurbishment programme, such as multi-purpose areas with folding seats and the replacement of all interior panelling. These additional features and extra cost on top of the PPP investment was funded by TfL's &pound;10bn five-year Investment Programme</li>
    <li>London Underground ran more trains and carried more passengers than ever before in 2004/5.  To summarise the record LU performance last year:<br />
    <ul>
        <li><strong>Passengers carried</strong>:  LU carried 976m passengers in 2004/5, an increase of 3% on 2003/4 and the highest ever figure, beating the previous best of 970m set in 2000/1;</li>
        <li><strong>Train kms operated</strong>:  LU operated 69.4m train kms, again the best ever figure, up by 2.5% from 67.7m kms in 2003/4;</li>
        <li><strong>% of schedule operated</strong>:  LU operated 95.3% of all scheduled train services - a seven year high - up by 2.2% on the 93.1% figure in 2003/4 and by 4.2% on the 91.1% figure recorded in 2002/3;</li>
        <li><strong>Customer satisfaction survey:</strong>  LU recorded an overall customer satisfaction score of 78 out of 100, up from 76 in 2003/4 and the highest annual score yet achieved since recording began in 1990/1.</li>
    </ul>
    </li>
</ul>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "The 75 District line trains, which first served Tube passengers a quarter of a century ago, are the first on the Underground to be refurbished as part of TfL's five-year &pound;10bn Investment Programme.Delivered by Metronet, the refurbished trains";}
        
        


 