


@{ViewBag.Title = "Support for West London Tram strong as awareness grows";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>Support for West London Tram strong as awareness grows</h1>
        <div class="content-page-press-release">
        17 June 2005
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        The latest survey on the West London Tram shows continued strong support, Transport for London announced today.
        
    </div>



 <div class="on-this-page">
<div class="pullquote right">
                        <p>
                            Support for the tram has remained significantly ahead of opposition over the last three years
                            
                        </p>
                    </div>
                
            
            
            <p>The survey results show that 48 per cent of people in the project area support the West London Tram (WLT), compared to 37 per cent against. </p>
<p>Out of the six town centre areas, support outweighs opposition in Uxbridge, Southall and Shepherd's Bush, is split in West Ealing/Hanwell and Acton; and in Ealing opposition outweighs support. </p>
<p>The results also demonstrate that the WLT is favoured by young people (under-25s) and people from DE social groups, who are more likely to be on lower incomes and use public transport. </p>
<p>The MORI survey also showed that awareness of the proposed scheme is growing across all affected boroughs.</p>
<p>
<p>Head of Major Projects David Howarth said: "Support for the proposed West London Tram is strong, particularly among people from lower socio-economic groups. </p>
<p>"These are the groups who would benefit most from the greater access to jobs, education and services that improved public transport in West London would bring."</p>
<p>Support for the tram has remained significantly ahead of opposition over the last three years in spite of intense campaigning by opponents of the scheme.</p>
<p>Transport for London will continue to listen to people's views on the West London Tram and will be updating people on progress later this year. </p>
            <p>
<div class="table-container"><table cellspacing="1" cellpadding="2" width="350" border="1">
<tbody>
<tr>
<td><strong>2005: Headline results by borough</strong> </td>
<td><strong>In favour </strong></td>
<td><strong>Against </strong></td></tr>
<tr>
<td>Uxbridge</td>
<td>54%</td>
<td>25%</td></tr>
<tr>
<td>Southall </td>
<td>59%</td>
<td>27%</td></tr>
<tr>
<td>West Ealing/Hanwell </td>
<td>45%</td>
<td>43%</td></tr>
<tr>
<td>Ealing </td>
<td>39%</td>
<td>50%</td></tr>
<tr>
<td>Acton </td>
<td>42%</td>
<td>44%</td></tr>
<tr>
<td>Shepherd's Bush </td>
<td>49%</td>
<td>33%</td></tr>
<tr>
<td></td>
<td></td>
<td></td></tr>
<tr>
<td><strong>Total</strong></td>
<td>48%</td>
<td>37%</td></tr></tbody></table></div></p>
<ul>
<li>Around 9 in 10 residents are aware of the WLT scheme, including 69 per cent who spontaneously mention it when asked about planned changes to improve transport along the Uxbridge Road 
</li><li>Depth of understanding of the WLT is improving, those who have only a limited knowledge of the scheme has fallen from 56 per cent in 2003 to 38 per cent in 2005 
</li><li>Overall more residents are in favour of the WLT than against it, however the proportion who are in favour has fallen since 2003 
</li><li>Support for the scheme is highest in Southall and Uxbridge and Ealing residents are most opposed to the scheme.<br></li></ul>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "The survey results show that 48 per cent of people in the project area support the West London Tram (WLT), compared to 37 per cent against. Out of the six town centre areas, support outweighs opposition in Uxbridge, Southall and Shepherd's Bush, is split";}
        
        


 