


@{ViewBag.Title = "TfL commissions state-of-the-art communications system for the Rotherhithe Tunnel";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>TfL commissions state-of-the-art communications system for the Rotherhithe Tunnel</h1>
        <div class="content-page-press-release">
        06 June 2005
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        Work has begun to install a state-of-the-art integrated emergency communications system that will set a new standard in security, safety and convenience for users of the Rotherhithe Tunnel.
        
    </div>



 <div class="on-this-page">
<p>The innovative new generation solution will mean that drivers will be able to receive emergency information and advice through their car radios whilst in the 97 year old tunnel, from this time next year.</p>
<p>The Rotherhithe Tunnel is believed to be the first tunnel in the UK (and maybe in the world) to provide DAB, as well as FM, MW and LW, radio re-broadcast with emergency voice break-in. </p>
<p>The DAB voice break-in facility ensures future-proofing as digital radio replaces analogue and DAB vehicle radios become standard.</p>
<p>A loudspeaker public address system is also being installed so that all tunnel users, including pedestrians, cyclists and vehicle occupants who have their radios switched off or have left their vehicles, can hear any necessary announcements.</p>
<p><h2>Emergency services</h2></p>
<p>In addition, mobile phone coverage will help tunnel users call for assistance more quickly in the event of breakdown, accident or emergency, especially if they are unable to use the existing tunnel telephones.</p>
<p>Private mobile radio coverage will also be provided for the emergency services.</p>
<p>TfL's Head of Tunnels and Radio Systems, Gerald Dolby-Gray, said:  "London's tunnels have an excellent safety record and incidents are rare, but it is still crucial that we maintain them and ensure they're fully equipped should an emergency occur. </p>
<p>"The pioneering system in the Rotherhithe Tunnel will set new tunnel safety and security standards for others to follow." </p>
<p> </p>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "The innovative new generation solution will mean that drivers will be able to receive emergency information and advice through their car radios whilst in the 97 year old tunnel, from this time next year.The Rotherhithe Tunnel is believed to be the first";}
        
        


 