


@{ViewBag.Title = "TfL scoops two National Transport Awards";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>TfL scoops two National Transport Awards</h1>
        <div class="content-page-press-release">
        30 June 2005
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        Transport for London's (TfL) Peter Hendy has won the Outstanding Contribution to National Transport at the fifth National Transport Awards, which took place at the Hilton on Tuesday 28 June.
        
    </div>



 <div class="on-this-page">
<div class="pullquote right">
                        <p>
                            Significant improvements have been made but we know that there is more work to do
                            
                        </p>
                    </div>
                
            
            
            <p> <!-- #EndEditable -->TfL also scooped the Technology award for 'Journey Planner', a system which allows people to plan their journeys around the capital by public transport via their computer, mobile and television. </p>
<p>Peter Hendy, Managing Director of Surface Transport at TfL, said: "I am very proud to have accepted this award on behalf of everybody at TfL. </p>
<p>"It recognises the work that has taken place over the last five years to improve public transport in London. </p>
<p>"Significant improvements have been made but we know that there is more work to do."</p>
<p>Ken Livingstone, Mayor of London, said: "Five years ago nobody would have believed the transformation we have seen in London's bus services to have been possible. </p>
<p>"Yet it has happened - making London the first major city in the world to see a significant shift from the private car to public transport over that period. </p>
<p>"Peter Hendy led that bus revolution and this award from his peers is richly deserved."</p>
<p>Peter Hendy has overseen many successes including, a 39% increase in bus passengers in the past five years, the operation of the congestion charge which has seen a reduction of congestion by 30% and a modal shift from cars to public transport of 4%.</p>
<p>The National Transport Awards celebrate the achievements of the transport industry. Recognising the achievements of local authorities and organisations which have made difference to transport across the UK.<br></p>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "<!-- #EndEditable -->TfL also scooped the Technology award for 'Journey Planner', a system which allows people to plan their journeys around the capital by public transport via their computer, mobile and television. Peter Hendy, Managing Director of";}
        
        


 