


@{ViewBag.Title = "Track replacement works to improve the Central line";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>Track replacement works to improve the Central line</h1>
        <div class="content-page-press-release">
        24 June 2005
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        Buses will replace trains between Loughton and Epping on the 2, 3, 9 and 10 July as track replacement works at Theydon Bois are being carried out to improve the running of the Central line.
        
    </div>



 <div class="on-this-page">
<p>Two rail replacement bus services will operate between</p>
<ul>
<li>Epping and Theydon Bois and 
</li><li>Loughton and Epping (calling at Debden)</li></ul>
<p>Customers are advised to allow an extra 30 minutes to complete their journeys, especially those wishing to make the last train connections.</p>
<p>For 24-hour information on all London travel, please call: 020 7222 1234 or visit <a href="http://tfl.gov.uk">TfL's website</a> </p>
            <ul>
<li>Metronet Rail BCV is responsible for the maintenance and renewal of the Bakerloo, Central, Victoria and Waterloo & City lines 
</li><li>TfL is investing &pound;10 billion over the next five years to improve and expand London's transport network, over half of that in the Tube.</li></ul>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "Two rail replacement bus services will operate betweenEpping and Theydon Bois and Loughton and Epping (calling at Debden)Customers are advised to allow an extra 30 minutes to complete their journeys, especially those wishing to make the last train";}
        
        


 