


@{ViewBag.Title = "Ultimate cycling design guide published";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>Ultimate cycling design guide published</h1>
        <div class="content-page-press-release">
        01 June 2005
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        Just days after London hit targets six years early to reduce the number of cyclists killed and injured, Transport for London (TfL) is launching the first ever guide to cycle road layout design.
        
    </div>



 <div class="on-this-page">
<p>The publication, London Cycling Design Standards (LCDS), lays out the principles, guidance and standards for design to encourage cycling in the Capital. </p>
<p>The document has been produced to assist designers on all aspects of infrastructure which cyclists will use or will affect them - not just cycle routes - and will be sent to London boroughs, stakeholders like cycling groups, and design consultancies. </p>
<p>
<h2>Safety and convenience</h2>
<p>
<p>
<p>The LCDS guide is intended to help design teams to:</p>
<ul>
<li>Understand the needs of cyclists 
</li><li>Design facilities that will assist cyclists 
</li><li>Meet network management responsibilities 
</li><li>Determine cycling requirements and traffic priorities 
</li><li>Integrate cycling into the overall transport system 
</li><li>Deliver schemes that help increase cycling.</li></ul>
<p>The document has been brought together using lessons from recent developments, best practice from across Europe, research and extensive consultation. </p>
<p>It covers ways to improve safety and convenience for cyclists and therefore increase the number of people cycling in the capital.</p>
<p>
<h2>Enhanced status</h2>
<p>
<p>Peter Hendy, Managing Director SurfaceTransport, TfL, said: "Cycling in London is getting safer all the time and these design standards will ensure people working in road layout design know what is required to encourage cycling and to improve safety.</p>
<p>"This publication is the ultimate design guide for cycling. </p>
<p>"The quality of the cycling environment affects the number of people cycling in London, the design standards seek to ensure that cyclists are part of the traffic mix and to improve their status on the roads."</p>
<p>The LCDS guide includes chapters on:</p>
<ul>
<li>Roads without cycle facilities 
</li><li>Cycle lanes and tracks 
</li><li>Junctions and crossings 
</li><li>Signs and markings 
</li><li>Construction 
</li><li>Cycle parking.</li></ul>
<h2></h2>
            <ul>
<li>The LCDS guide has been published as a commitment in the London Cycling Action Plan </li>
<li>Copies of the guide can be downloaded from the <a href="/businessandpartners/publications/1421.aspx">TfL website</a></li></ul>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "The publication, London Cycling Design Standards (LCDS), lays out the principles, guidance and standards for design to encourage cycling in the Capital. The document has been produced to assist designers on all aspects of infrastructure which cyclists";}
        
        


 