


@{ViewBag.Title = "Dismantling work begins on Acton Bridges";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>Dismantling work begins on Acton Bridges</h1>
        <div class="content-page-press-release">
        07 February 2008
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">



<div class="pull-quote">
        <div class="quote-body">"Transport for London has worked hard with our contractors to make this construction method work smoothly"</div>
        <div class="quote-footer">
            <div class="quotee-name">Dana Skelley</div>
            <div class="quotee-job-title">Interim Director of Road Network Management at TfL</div>
        </div>
</div>

 <div class="on-this-page">
<div class="pullquote right">
                        <p>
                            Transport for London has worked hard with our contractors to make this construction method work smoothly
                            
                        </p>
                    </div>
                
            
            
            <p>
<p>Transport for London (TfL) has begun careful dismantling of the old Acton Bridges at Wales Farm Road and Perryn Road, as part of the three year A40 Acton Bridges project, following successful traffic switches in January from the existing carriageways onto the partially constructed new bridges on the A40.</p>
<p>In a first for TfL, the latest stage of the scheme on the A40 has seen&nbsp;traffic diverted&nbsp;onto the new bridges while the old bridges&nbsp;are still standing. </p>
<p>With the&nbsp;traffic diversions now in place, engineers can begin slowly removing the old bridges, causing minimal disruption to road users on the A40.<br>&nbsp;<br>Dana Skelley, Interim Director of Road Network Management for TfL, said: "The&nbsp;traffic diversions&nbsp;which have recently been instructed on the A40 have been carried out on time and with little disruption to travellers on the A40. </p>
<p>"Transport for London has worked hard with our contractors to make this construction method work smoothly and effectively."<br>&nbsp;<br>As well as improving highway layout, the new bridges will provide access and crossing improvements for pedestrians, cyclists and people with disabilities. </p>
<p>The project will also remove&nbsp;existing materials&nbsp;from the bridges and, where possible, recycle and reuse them in the construction of the new carriageway, as well as other TfL projects.<br>&nbsp;<br>Construction of the&nbsp;bridges&nbsp;is scheduled for completion by Autumn 2009.&nbsp;</p>
<p><strong><br>Notes to editors:</strong></p>
<ul>
<li>For <a href="http://www.tfl.gov.uk/a40actonbridges">more information </a>about the scheme is available online <br></li></ul>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "Transport for London (TfL) has begun careful dismantling of the old Acton Bridges at Wales Farm Road and Perryn Road, as part of the three year A40 Acton Bridges project, following successful traffic switches in January from the existing carriageways onto";}
        
        


 