


@{ViewBag.Title = "Extension to Hammersmith's bus station opens";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>Extension to Hammersmith's bus station opens</h1>
        <div class="content-page-press-release">
        12 February 2008
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        Transport for London (TfL) has announced that the new extension at Hammersmith bus station will open on Saturday 16 February 2008.
        
    </div>



<div class="pull-quote">
        <div class="quote-body">"The extended bus station will create more space for passengers"</div>
        <div class="quote-footer">
            <div class="quotee-name">Chris Eleftheriou</div>
            <div class="quotee-job-title">Regional Operations Manager for London Buses</div>
        </div>
</div>

 <div class="on-this-page">
<div class="pullquote right">
                        <p>
                            The extended bus station will create more space for passengers
                            
                        </p>
                    </div>
                
            
            
            <p>
<p>Bus passengers will benefit from more space and better accessibility.</p>
<p>The extension has been built at ground level on the corner of Hammersmith Road and Butterwick in order to relieve overcrowding. </p>
<p>It has created more waiting space and better accessibility, and will allow future improvements to the layout of the existing upper level of the bus station. </p>
<p>There have been substantial increases in bus service frequency on routes serving Hammersmith in the last few years. </p>

<p>The bus station extension will provide extra capacity, with more space for both buses and passengers. <br>&nbsp;<br>The extension will be used by buses running across Hammersmith Bridge towards Barnes on routes 33, 72, 209, 283, 419, 485 and 609. </p>

<p>Route 266 towards Acton will also use the lower level. </p>
<p>Bus routes which travel in the same direction will still be grouped together, serving the same stop where possible. </p>

<p>This means that passengers can get the first available bus for their journey.</p>
<p>The new lower level of the bus station will provide level access to the town centre and shopping mall. </p>

<p>It will be connected to the existing bus station by a walkway, escalators and lifts. </p>

<p>There will also be direct step-free access to the District and Piccadilly lines.</p>
<p>The upper level of the bus station will continue to be used by routes towards Chiswick, Fulham, Kensington, Putney and Shepherd's Bush, with new stopping arrangements. Routes 267 and H91 which currently end at Hammersmith Grove will also be extended into the bus station.</p>
<p>Chris Eleftheriou, Regional Operations Manager for London Buses, said: "The extended bus station will create more space for passengers, who will also benefit from step-free access between all parts of the bus station, the Underground connections and the shopping mall."</p>
<p>
<hr>
<br>Notes to editors:</p>
<ul>
<li>New stopping arrangements at Hammersmith bus station:<br>o&nbsp;9, 10, 27, 391, N9, N10 towards Hammersmith Road/Olympia - upper level stop F<br>o&nbsp;190, 211, 220, 295, N10, N11, N97 towards Fulham Palace Road - upper level stop C<br>o&nbsp;33, 72, 209, 283, 419, 485, 609 towards Hammersmith Bridge - lower level stops J, K, L<br>o&nbsp;27, 190, 267, 391, H91, N9, N11 towards King Street/Chiswick - upper level stop B<br>o&nbsp;266 towards King Street/Acton - lower level stop H<br>o&nbsp;72, 220, 283, 295 towards Shepherd's Bush Road/Shepherd's Bush - upper level stop A</li>
<li>All London's buses have in-vehicle CCTV and all except the Heritage Routemasters are accessible to wheelchair users</li>
<li>With more than 8,000 buses on approximately 700 routes the London bus network has seen usage increase by 45 per cent since 1999/2000</li></ul>

<p>&nbsp;</p>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "Bus passengers will benefit from more space and better accessibility.The extension has been built at ground level on the corner of Hammersmith Road and Butterwick in order to relieve overcrowding. It has created more waiting space and better";}
        
        


 