


@{ViewBag.Title = "Hi-tech removal vehicles set to reduce congestion";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>Hi-tech removal vehicles set to reduce congestion</h1>
        <div class="content-page-press-release">
        27 February 2008
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        Transport for London is aiming to reduce congestion by using 21 new high tech removals trucks to move vehicles that block the Capital's busiest roads.
        
    </div>



<div class="pull-quote">
        <div class="quote-body">"Our new vehicles will help keep London's busiest roads clear and the traffic moving."</div>
        <div class="quote-footer">
            <div class="quotee-name">Patrick Troy</div>
            <div class="quotee-job-title">Head of Traffic Enforcement at Transport</div>
        </div>
</div>

 <div class="on-this-page">
<div class="pullquote right">
                        <p>
                            Our new vehicles will help keep London's busiest roads clear and the traffic moving.
                            
                        </p>
                    </div>
                
            
            
            <p>The trucks will operate on the Transport for London's red route network, which carries around 33 per cent of the Capital's traffic.</p>
<p>It is essential the red routes are kept clear to keep London moving.</p>
<p>The new trucks are fitted with satellite navigation and automatic number plate recognition software.</p>
<p>Parking attendants will be able to link to the trucks' computers and alert the closest truck to the precise location of a vehicle that needs to be moved.</p>
<h2>Pilot project</h2>
<div class="pullquote right">
<p>Illegally parked vehicles that interfere with traffic flow will be moved to vehicle pounds across London.</p></div>
<p>A pilot project indicated that journey times on Transport for London's red route network could be reduced by up to four per cent as a result of the new service.</p>
<p>The service has been operating on a reduced basis since November and will be extended across London over the next month, with south London at full capacity by the end of February. </p>
<p>In March this will extend to central London and from the end of March to north London.</p>
<p>Patrick Troy, Head of Traffic Enforcement at Transport for London, said: "Illegally parked or broken down vehicles that block roads cause congestion and danger for other road users.</p>
<h2>Keep London moving</h2>
<p>"Our new vehicles are fitted with state of art technology that will help to keep London's busiest roads clear and the traffic moving by removing obstacles quickly and efficiently.</p>
<p>Our goal is simply to take swift action where cars are blocking roads and help other drivers to keep on the move, particularly during major events in the Capital."</p>
<p>Illegally parked and abandoned vehicles that interfere with traffic flow or are likely to cause safety problems will be moved to nine vehicle pounds across London. </p>
<p>Broken down vehicles will be moved to the closest safe place where recovery services will be able to deal with them.</p>

<p>
<hr>
</p>
            <p>
<p><strong>Notes to editors: </strong><strong><p>
<ul>
<li></li></ul></strong>The TLRN is 580km long and makes up around 5% of London's road network, but it carries around 33% of the capital's traffic. It is essential to keep these routes clear to keep London moving 
<li>The London Wide Removals Service will assist in the management of the network by promoting or facilitating the following: 
<ul>
<li>Reduction of traffic congestion and improved journey time reliability </li>
<li>Improvements to bus reliability </li>
<li>Increase in compliance with the parking regulations </li>
<li>Enforcement against persistent evaders (those drivers who do not pay PCN's;) </li>
<li>Rapid response to incidents </li>
<li>Using data analysis to operate an end-to-end intelligence led enforcement operation thereby making better use of the intelligence TfL holds about vehicular obstructions in order to remove priority vehicular obstructions and improve vehicle journey times</li></ul></li>
<li>There will be vehicle pounds established in: Tottenham, Haringey, Hammersmith and Fulham, Hayes, Sutton, Southwark, Thamesmead, Surrey and Waltham Cross in Hertfordshire </li>
<li>There will be 24 hour patrolling and removal of obstructing vehicles including, buses, HGVs, cars, vans and Powered Two Wheeler </li>
<li>There will also be support for all special events such as the Notting Hill Carnival, the London Car Show and major sporting events </li>
<li>For the purposes of identifying obstructions consistently, an obstruction is defined as being any event on the highway which causes a bus or other vehicle to slow down or deviate from its intended path </li>
<li>PCNs issued between October 2005 and January 2006 showed that on the TLRN 58% of contraventions were for "stopping where prohibited" (10,311 of 17,769). </li>
<li>The pilot operation, run in conjunction with the London Borough of Islington, involved observing contravention behaviour on several routes over a three month period.&nbsp; A comparison of bus journey times before and during the trial shows an 11 second decrease in bus journey time per kilometre.&nbsp;Converting this into a currency basis yields a &pound;24.8M annual benefit to bus passengers </li>
<li>Evidence from the Islington pilot scheme estimates that using removal vehicles to remove unlawfully parked cars and obstructive vehicles from the TLRN will decrease journey times by 4 per cent&nbsp;across the network </li>
<li>The removals service will target all obstructions to traffic flow and will also assist in the removals of vehicles involved in accidents or breakdowns - removing them to a nearby location which does not obstruct traffic </li>
<li>A study, carried out by TfL has calculated that each removal truck could save more than &pound;500,000 worth of traffic delay per year. </li>
<li>Examples of the impact of the pilot project are: 
<ul>
<li>Bus Monitoring Data: </li>
<li>Comparison of Pre-enforcement and During-enforcement monitoring observations: </li>
<li>5 per cent&nbsp;decrease in bus trip times in both directions; increase in bus speeds </li>
<li>5 per cent&nbsp;reduction in number of observed obstructions and in obstructions per kilometre. </li></ul></li>
<p>Contracts have been awarded to Ontime Automotive, a market leader in vehicle moving, and Traffic Support Mouchel Parkman, which will manage the technology system - the Removal Management Information System (RMIS).<br></p>
<ul>
<li>Ontime Automotive provides an extensive range of services to the automotive manufacturing industry and vehicle retailing sector.&nbsp; These include volume and specialised vehicle distribution, pre-delivery inspection and preparation, and a variety of highly specialised support services.&nbsp; For more information go to <a href="http://www.ontime-auto.com">www.ontime-auto.com</a> </li>
<li>Traffic Support Mouchel Parkman provides the innovative software and system solutions that have now become well established in parking management throughout the UK and Ireland. For more information go to <a href="http://www.trafficsupport.co.uk/">http://www.trafficsupport.co.uk/</a> </li></ul>
<p>&nbsp;</p>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "The trucks will operate on the Transport for London's red route network, which carries around 33 per cent of the Capital's traffic.It is essential the red routes are kept clear to keep London moving.The new trucks are fitted with satellite navigation and";}
        
        


 