


@{ViewBag.Title = "London's poor air quality tackled with launch of Low Emission Zone ";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>London's poor air quality tackled with launch of Low Emission Zone </h1>
        <div class="content-page-press-release">
        04 February 2008
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        The Mayor of London, Ken Livingstone, today launched the London-wide Low Emission Zone, designed to reduce harmful emissions from the most polluting diesel-engined lorries, coaches and buses. Cars and motorcycles are not affected.
        
    </div>



<div class="pull-quote">
        <div class="quote-body">"In London, two thirds of emissions of the most dangerous air pollutants come from road traffic"</div>
        <div class="quote-footer">
            <div class="quotee-name">Ken Livingstone</div>
            <div class="quotee-job-title">Mayor of London</div>
        </div>
</div>

 <div class="on-this-page">
<div class="pullquote right">
                        <p>
                            In London, two thirds of emissions of the most dangerous air pollutants come from road traffic
                            
                        </p>
                    </div>
                
            
            
            <p>
<p>The capital has the worst air pollution in the UK and among the worst in Europe. </p>
<p>More than one million Londoners live in areas that exceed statutory air quality limits&sup1;.&nbsp; </p>
<p>Poor air quality worsens asthma and causes the premature death of an estimated 1,000 people each year in London.&nbsp; </p>
<p>Seven out of ten Londoners say they are worried about pollution from traffic exhaust fumes. </p>
<p>The introduction of the zone means that, from today, all diesel-engined lorries weighing more than 12 tonnes will be required to meet strict emissions standards. </p>
<h2>Emissions</h2>
<p>Vehicles over 3.5 tonnes, buses and coaches will be required to meet these standards from 7 July. </p>
<p>Vehicles which fail to meet the required standard will face a daily charge to drive within Greater London. </p>
<p>Cars and motorcycles are not affected.</p>
<p>The oldest and most polluting lorries, which fit a full filter, will see an improvement of around 90 per cent in their particulate matter emissions. </p>
<h2>Fumes</h2>
<p>Compared to an average family car of the same age, the largest lorries emit 25-40 times the levels of harmful particulate matter, for each kilometre driven.</p>
<p>The zone is the first in the UK and the largest of its type in the world, and covers most of Greater London. </p>
<p>It is in force 24 hours a day, seven days a week, each day of the year.&nbsp; </p>
<p>The Mayor of London, Ken Livingstone, said:&nbsp;"Thousands of Londoners suffer ill-health from pollution released by traffic fumes and seven out of ten Londoners are concerned about the impact of air pollution.&nbsp; </p>
<h2>Clean-up</h2>
<p>"This is why we are launching the UK's first Low Emission Zone, which will cover the whole of Greater London.<br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <br>"The zone, along with measures I am taking to clean up taxis and buses, and supported by European standards for new vehicles, will mean that by 2012 the number of Londoners that live in areas that register levels of air pollution that are dangerous to health will be reduced from 1.3 million to 400,000 for oxides of nitrogen, and from 500,000 to just 70,000 for the most dangerous pollutant, fine particles.</p>
<p>"In London, two thirds of emissions of the most dangerous air pollutants come from road traffic, and the majority of these are caused by the vehicles the zone will target - the heaviest, most polluting diesel-engined lorries, coaches, and buses. The zone does not apply to cars or motorcycles"</p>
<p>David Brown, Managing Director of Surface Transport, Transport for London, said: "We have undertaken a huge amount of work to inform operators that they will need to meet the Low Emission Zone standards. </p>
<h2>Asthma attacks</h2>
<p>"A significant majority of operators have already taken action to meet the emissions standards and the preparation we have put in has ensured that the scheme has got off to a smooth start."</p>
<p>Representatives of health charities joined the Mayor to mark the launch. </p>
<p>Neil Churchill, Chief Executive of Asthma UK, said: "Traffic pollution is a major problem for people with asthma in London, with 66 per cent&nbsp;telling us that it aggravates their condition, sometimes resulting in debilitating asthma attacks.</p>
<p>"Evidence supports the link between asthma symptoms and living near major roads, so we fully endorse ongoing measures to improve air quality in the capital, by reducing pollutants, encouraging cleaner fuel and promoting the use of low or no emission vehicles." </p>
<h2>Positive steps</h2>
<p>Dr Keith Prowse, Chairman of British Lung Foundation, said: "The British Lung Foundation welcomes the start of the London-wide Low Emission Zone.</p>
<p>"Any initiative which reduces harmful emissions for Londoners is a positive step forward, particularly for the most vulnerable such as the elderly and very young. </p>
<p>"Improving the air we breathe should mean fewer premature deaths, reduced hospital visits, and fewer GP consultations for people with respiratory disease."</p>
<p>Transport for London has reported that all systems are operating correctly, and channels to pay the charge online, by phone or by post are all up and running.</p>
<p>&sup1; The number of Londoners that live in an area that exceeds the limits for oxides of nitrogen<br></p>
<p>
<hr>

<p>
<p><strong>Notes to editors:</strong></p>
<ul>
<li>The Low Emission Zone: </li>
<li>Operates using cameras to identify registration numbers of vehicles driving within Greater London </li>
<li>Uses the DVLA database and other sources of information to identify a vehicle's emissions standards </li>
<li>Allows for the emissions standard for lorries, coaches and buses to be tightened in January 2012 </li>
<li>Operators of lorries, buses and coaches which do not meet the Low Emission Zone emissions standards of Euro III for particulate matter will have to pay a charge of &pound;200 (unless exempt or registered for a 100 per cent&nbsp;discount). A charging day runs from midnight to midnight.&nbsp;The level of charge has been set in order to encourage operators to clean up their fleets rather than to encourage regular payment of the charge.<br>Operators that do not pay the daily charge and whose vehicles are identified as not meeting the emissions standards will be liable to pay a daily penalty charge on receipt of a Penalty Charge Notice (PCN).&nbsp; The penalty charge is &pound;1,000 for lorries, buses and coaches, which is reduced to &pound;500 if paid within 14 days<br></li>
<li>Vehicles affected by the London Low Emission Zone include not only goods vehicles, but also buses, coaches, motor caravans, motorised horseboxes and other specialist vehicles. Cars,&nbsp;motorcycles and small vans (under 1.205 tonnes unladen weight) are not included in the Low Emission Zone </li>
<li>The Low Emission Zone will be introduced in a number of stages, as follows: 
<ul type="circle">
<li>Heavier lorries: From 4 February 2008, diesel-engined lorries over 12 tonnes will need to meet the Euro III standard for particulate matter. This includes heavy diesel-engined vehicles exceeding 12 tonnes Gross Vehicle Weight, including goods vehicles, motor caravans, motorised horseboxes and other specialist vehicles </li>
<li>Buses, coaches and lighter lorries: From 7 July 2008, the Euro III for particulate matter emissions standards will be extended to all diesel-engined vehicles between 3.5 and 12 tonnes Gross Vehicle Weight, including goods vehicles, motor caravans, motorised horseboxes and other specialist vehicles. The emissions standard will also apply to buses and coaches, defined as: diesel-engined passenger vehicles with more than eight seats, plus the driver's seat, exceeding five tonnes Gross Vehicle Weight </li>
<li>Large vans and minibuses: From October 2010, the Euro III for particulate matter standard will be extended to diesel-engined vehicles between 1.205 tonnes unladen and 3.5 tonnes Gross Vehicle Weight and motor caravans between 2.5 tonnes and 3.5 tonnes Gross Vehicle Weight. In addition, minibuses, defined as: diesel-engined passenger vehicles with more than eight seats, plus the driver's seat, below five tonnes Gross Vehicle Weight, will be affected </li>
<li>Euro IV: From January 2012, all diesel-engined lorries, buses and coaches will be required to meet an emissions standard of Euro IV for particulate matter in order to drive within the Low Emission Zone at no charge</li></ul></li></ul>
<ul>
<li>Options to Comply. Operators of vehicles which do not meet the specified emissions standards for the Low Emission Zone have several options to comply with the scheme including: <br>
<ul type="circle">
<li>Certifying that an eligible engine meets the required standard </li>
<li>Fitting approved particulate abatement equipment to the vehicle </li>
<li>Information on approved abatement equipment and suppliers for fitting such equipment can be found on TfL's website at <a href="http://www.tfl.gov.uk/lezlondon">www.tfl.gov.uk/lezlondon</a>, together with the processes for getting approved abatement equipment certified once fitted </li>
<li>Re-engine a vehicle with an engine that meets the Low Emission Zone emissions standards </li>
<li>Converting a vehicle to gas </li>
<li>Purchasing a newer vehicle that meets the Low Emission Zone emissions standards </li>
<li>Paying a daily charge</li></ul></li></ul>
<ul>
<li>Non-GB registered vehicles that meet the Low Emission Zone emissions standards will need to be registered with Transport for London in order to avoid a penalty charge. Registration has been open since 30 July 2007 </li>
<li>Low Emission Zone boundary: The Low Emission Zone covers most of Greater London, to maximise the air quality and health benefits for all Londoners.&nbsp; <br>The Low Emission Zone does not include the M25, even when it passes within the boundary of the zone. The M25 can be used by drivers as a diversionary route, should they wish to avoid the zone. Some motorways and trunk roads are included in the scheme. The website <a href="http://www.tfl.gov.uk/lezlondon">www.tfl.gov.uk/lezlondon</a> includes a map so drivers can check the boundaries and which roads are included within the zone</li></ul>
<p>&nbsp;</p>
<p>&nbsp;</p>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "The capital has the worst air pollution in the UK and among the worst in Europe. More than one million Londoners live in areas that exceed statutory air quality limits&sup1;.&nbsp; Poor air quality worsens asthma and causes the premature death of an";}
        
        


 