


@{ViewBag.Title = "Londoners using Cabwise triple in two years";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>Londoners using Cabwise triple in two years</h1>
        <div class="content-page-press-release">
        25 February 2008
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        More than 100,000 texts from people looking for a safe journey home in a licensed minicab or taxi were sent in 2007, tripling the number of Cabwise requests in the two years since its launch.
        
    </div>



<div class="pull-quote">
        <div class="quote-body">"Our work to crack down on illegal taxi touts has led to a reduction in cab-related attacks on women"</div>
        <div class="quote-footer">
            <div class="quotee-name">Ken Livingstone</div>
            <div class="quotee-job-title">Mayor of London</div>
        </div>
</div>

 <div class="on-this-page">
<div class="pullquote right">
                        <p>
                            Our work to crack down on illegal taxi touts has led to a reduction in cab-related attacks on women
                            
                        </p>
                    </div>
                
            
            
            <p>By texting the word 'HOME' to the Cabwise number, 60835, the area a caller is in can be identified and the phone numbers of a black cab company, as well as two local licensed minicab firms, sent back.</p>
<p>The Cabwise service is a key part of the Mayor's Safer Travel at Night Campaign which works in partnership between the GLA, the Metropolitan Police and Transport for London to raise awareness of the dangers of using illegal minicabs and the safe travel options in the capital at night.</p>
<p>The proportion of women willing to use illegal cabs in the West End has reduced from 18 per cent to four per cent since 2003, and there has been a 46 per cent reduction in cab related sexual offences over the past five years. </p>
<p>A record 23,000 text messages were received in December last year.</p>
<h2>Illegal taxi touts pose a danger</h2>

<p>The Mayor of London, Ken Livingstone, said: "Illegal taxi touts pose a real danger to women. Because of Cabwise, and Transport for London's licensing of the minicab trade, no-one ever has to get into an illegal cab again.</p>
<p>"Our work to crack down on illegal taxi touts, and to make London safer to travel at night, has led to a dramatic reduction in cab-related attacks on women. </p>
<p>It has also led to more women becoming aware of the dangers of illegal minicabs, and increasingly unwilling to risk using them.</p>
<p>'It's important to remember that a licensed minicab will never tout for business or pick up fares in the street. It's really not worth the risk of getting into an unlicensed car, especially when Cabwise provides such a safe and easy alternative."</p>

<h2>Cabwise goes from strength to strength</h2>
<p>David Brown, Managing Director of Surface Transport said: "The Cabwise text service has gone from strength to strength and it is really good news to see that more and more Londoners are taking advantage of this innovative service.</p>
<p>"I would remind people for their own safety and peace of mind that licensed minicabs in London must be pre-booked otherwise they are acting illegally and may not be safe."</p>
<hr>

<p><strong>Notes to editors:</strong></p>
<p>The total number of text messages received by the Cabwise service:</p>
<div class="table-container"><table cellspacing="1" cellpadding="1" width="75%" border="1">
<tbody>
<tr>
<td>&nbsp;</td>
<td>&nbsp;Jan</td>
<td>&nbsp;Feb</td>
<td>&nbsp;Mar</td>
<td>&nbsp;Apr</td>
<td>&nbsp;May</td>
<td>&nbsp;Jun</td></tr>
<tr>
<td>2007&nbsp;</td>
<td>&nbsp;6,132</td>
<td>&nbsp;5,843</td>
<td>&nbsp;5,905</td>
<td>&nbsp;5,287</td>
<td>&nbsp;5,525</td>
<td>&nbsp;5,770</td></tr>
<tr>
<td>2006</td>
<td>&nbsp;3,813</td>
<td>&nbsp;2,871</td>
<td>&nbsp;2,983</td>
<td>&nbsp;2,455</td>
<td>&nbsp;1,935</td>
<td>&nbsp;1,730</td></tr>
<tr>
<td>2005</td>
<td>&nbsp;</td>
<td>&nbsp;</td>
<td>&nbsp;</td>
<td>&nbsp;</td>
<td>&nbsp;</td>
<td>&nbsp;</td></tr></tbody></table></div>
<div class="table-container"><table cellspacing="1" cellpadding="1" width="75%" border="1">
<tbody>
<tr>
<td>&nbsp;</td>
<td>&nbsp;Jul</td>
<td>&nbsp;Aug</td>
<td>&nbsp;Sep</td>
<td>&nbsp;Oct</td>
<td>&nbsp;Nov</td>
<td>&nbsp;Dec</td></tr>
<tr>
<td>&nbsp;2007</td>
<td>&nbsp;6,873</td>
<td>&nbsp;8,013</td>
<td>&nbsp;10,967</td>
<td>&nbsp;11,071</td>
<td>&nbsp;10,037</td>
<td>&nbsp;23,103</td></tr>
<tr>
<td>&nbsp;2006</td>
<td>&nbsp;1,985</td>
<td>&nbsp;1,696</td>
<td>&nbsp;1,951</td>
<td>&nbsp;3,614</td>
<td>&nbsp;4,986</td>
<td>&nbsp;13,901</td></tr>
<tr>
<td>&nbsp;2005 </td>
<td>&nbsp;</td>
<td>&nbsp;</td>
<td>&nbsp;2,778</td>
<td>&nbsp;2,863</td>
<td>&nbsp;2,832</td>
<td>&nbsp;6,954</td></tr></tbody></table></div>
<div class="table-container"><table cellspacing="1" cellpadding="1" width="75%" border="1">
<tbody>
<tr>
<td>&nbsp;</td>
<td>&nbsp;<strong>Total</strong></td></tr>
<tr>
<td>&nbsp;2007</td>
<td>&nbsp;<strong>104,526</strong></td></tr>
<tr>
<td>&nbsp;2006</td>
<td>&nbsp;<strong>43,920</strong></td></tr>
<tr>
<td>&nbsp;2005</td>
<td>&nbsp;<strong>15,427</strong></td></tr></tbody></table></div>
<p>
<ul>
<li>Safer Travel at Night is a partnership between the Mayor of London, Transport for London (TfL) and the Metropolitan Police Service (MPS), who are working together with organisations across the capital to help make London safer at night by offering more safe travel options - key to this has been the licensing of the minicab industry. </li>
<li>Safer travel at night aims to reduce the use of illegal cabs using traditional police activity and targeting touting hotspots, along with industry regulation, improved late night travel services, and increased public awareness about the risks of using illegal cabs </li>
<li>The TfL funded Transport Operational Command Unit in the MPS, has a dedicated London -wide Cab Enforcement Unit responsible for enforcing the law relating to taxis and private hire vehicles in London.&nbsp; The Cab Unit has 34 officers that focus their efforts towards anti-touting activities at key hotspots in and around London and developing enforcement expertise and tactics to ensure maximum impact.</li></ul>
<p><strong>Late night options include:</strong></p>
<ul>
<li><strong>Cabwise</strong> - a text service which can provide the numbers of local licensed minicab operators wherever you are in London. 
<ul>
<li>For more information on Cabwise including safer travel choices in London, visit: <a href="http://www.cabwise.com/">http://www.cabwise.com/</a> </li>
<li>Texting HOME to 60835 costs 35p plus standard network charges. The service is not available on 3 and Virgin networks.</li></ul></li>
<li><strong>Findaride</strong>: Passengers can visit tfl.gov.uk/findaride to search for licensed minicab operators in any part of London and book a licensed minicab for later on in the evening. </li>
<li><strong>TfL's Travel Information Centre:</strong> TfL's 24 hour travel information call centre can be phoned 24 hours a day on 020 7222 1234 and they can provide information and phone numbers for taxi and private hire services in London. </li>
<li><strong>Marshalled Taxi Ranks: </strong>Late night marshalled taxi ranks have been established in areas of London with busy late night economies. Marshalled Taxi ranks are situated in Bromley, Beckenham, Cranbourn Street, Kingston, Liverpool Street and Romford with marshalled minicab schemes operating in Croydon and Kingston.</li></ul>
<p><strong>In addition to nearly 25,000 black cab drivers in London, there are now more than:</strong></p>
<ul>
<li>2,100 licensed private hire operators (mini cab/chauffer companies) <br>Over 40,000 licensed private hire vehicles (cars operating within those companies - entire PHV fleet for London) </li>
<li>Over 40,000, fully licensed private hire drivers (drivers of the private hire vehicles) <br>People should always use a taxi or book a licensed private hire vehicle if they need a door to door service. They should never get into an unbooked vehicle on the street unless it is a licensed taxi (black cab). </li>
<li>All licensed private hire operators are required to keep a record of every booking and this record means that the driver and vehicle for each journey can be traced. </li>
<li>There are now more than 100 night bus routes serving all four corners of London. Since 2005 every London bus has had CCTV installed and there are now around 60,000 cameras on the fleet of 8,000 vehicles.</li></ul>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "By texting the word 'HOME' to the Cabwise number, 60835, the area a caller is in can be identified and the phone numbers of a black cab company, as well as two local licensed minicab firms, sent back.The Cabwise service is a key part of the Mayor's Safer";}
        
        


 