


@{ViewBag.Title = "London Underground scoops top award at transport Oscars";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>London Underground scoops top award at transport Oscars</h1>
        <div class="content-page-press-release">
        29 February 2008
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        London Underground (LU) was named Public Transport Operator of the Year at this year's London Transport Awards which took place at the Hilton on Wednesday 27 February.
        
    </div>



<div class="pull-quote">
        <div class="quote-body">"London Underground plays a crucial role in the prosperity of the Capital"</div>
        <div class="quote-footer">
            <div class="quotee-name">Ken Livingstone</div>
            <div class="quotee-job-title">Mayor of London</div>
        </div>
</div>

 <div class="on-this-page">
<div class="pullquote right">
                        <p>
                            London Underground plays a crucial role in the prosperity of the Capital 
                            
                        </p>
                    </div>
                
            
            
            <p>
<p>LU&nbsp;was in contention for a number of awards at the ceremony, hosted by BBC television and radio presenter Jeremy Vine, which celebrates the many transport achievements across the Capital. </p>
<p>As well as winning the prestigious Public Transport Operator of the Year beating c2c and Chiltern Railways, London Underground was also recognised for it's commitment to accessibility and inclusion. </p>
<p>King's Cross St Pancras was chosen as passengers' favourite station. </p>
<p>Direct Enquiries won the Travel Information and Marketing category, in partnership with London Underground. The award was given for its web service that enables customers to personalise their route according to their individual needs. </p>
<h2>Recognising excellence</h2>
<p>The Mayor of London, Ken Livingstone, said: "The recognition of London Underground as the Public Transport Operator of the year is a tribute to all of the staff who work so hard to deliver the best possible service sometimes, given the past underinvestment, in difficult conditions. </p>
<p>"Record numbers of passengers are using the Tube and a gigantic programme of investment is taking place across the network. London Underground plays a crucial role in the prosperity of the Capital and we will continue to provide the investment required to support the growth in passenger numbers."</p>
<p>Tim O'Toole, Managing Director, London Underground, said: "The annual awards recognise excellence in transport in London.&nbsp; </p>
<p>"In the premier category, open to all bus, rail, light rail, taxi and river passenger service operators.&nbsp; </p>
<h2>Commitment to customers</h2>
<p>"LU was shortlisted alongside c2c and Chiltern Railways and I'm very proud to say that we won.</p>
<p>"This is deserved recognition of the hard work and dedication of London Underground staff.&nbsp; </p>
<p>"The judges' decision recognised that we are delivering a record volume of service, carrying more passengers than ever before, while at the same time managing an unprecedented programme to rebuild and upgrade the network.&nbsp; </p>
<p>"Our commitment to customer service, and to keeping customers fully informed at all times, were also key to our success." </p>
<h2>More passengers</h2>
<p>Staff at King's Cross station were recognised by the most important audience of all, customers, who voted them the LU station customer service team of the year, second year running.&nbsp; </p>
<p>King's Cross station is the busiest stations on the transport network with over a quarter of a million passengers going through the station every day. </p>
<p>
<hr>

<p>
<p><strong>Notes to editors:</strong></p>
<ul>
<li>LU is now running more trains and carrying more passengers than ever before.&nbsp;In 2006/07, LU carried more than one billion passengers for the first time in its 144-year history </li>
<li>The London Transport Awards are supported by Transport for London, London Councils, London First and London TravelWatch, and in association with Transport&nbsp; Times </li>
<li>The London Transport Awards are all about recognising and rewarding transport planners and providers who have made a real&nbsp;difference to the transport system and the people that use it. The Awards bring together the London Transport Industries' best to&nbsp;promote and acclaim excellence, professionalism, innovation and outstanding achievement</li></ul>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "LU&nbsp;was in contention for a number of awards at the ceremony, hosted by BBC television and radio presenter Jeremy Vine, which celebrates the many transport achievements across the Capital. As well as winning the prestigious Public Transport Operator";}
        
        


 