


@{ViewBag.Title = "London's regional government sets benchmark for fair procurement";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>London's regional government sets benchmark for fair procurement</h1>
        <div class="content-page-press-release">
        11 February 2008
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        This press released was originally issued by the Mayor of London's press office at the Greater London Authority.
        
    </div>



 <div class="on-this-page">
<p>
<p>Mayor of London Ken Livingstone today published the first review of progress in delivering the Greater London Authority Group's Responsible Procurement policy - which ensures securing social and environmental goals in London are included in criteria for buying decisions. </p>
<p>This highlights progress in guaranteeing London gets the maximum benefit from the way in which the Group makes its &pound;3bn plus annual purchases of goods and services.</p>
<p>The Mayor's policy is a crucial tool in delivering his overriding aim for London to become an exemplary, sustainable, inclusive and fair city and for all Londoners to benefit from the&nbsp; Capital's prosperity. </p>
<p>Adopted in 2006, the policy sets standards in the way the Group procures its goods and services. </p>
<h2>Priorities</h2>
<p>Designed to complement central government's commitment that the UK will help lead the European Union in integrating social and environmental priorities into procurement, the policy sets the benchmark for London businesses, public and private, to follow.</p>
<p>The report outlines the policy, sets out what has been delivered in the first year of implementation with specific case studies, explains how the Group supports its suppliers in understanding and responding to the policy, and summarises how the Group plans to take Responsible Procurement forward. </p>
<p>While various elements of responsible procurement have been previously promoted by other organisations, the Group's approach is believed to be the most comprehensive adopted by a major public authority. </p>
<p>Since adoption key achievements include:</p>
<ul>
<li>The Metropolitan Police Service (MPS) awarding their &pound;60m facilities management contract on the basis of contractor sustainable facilities and waste management practices </li>
<li>Recognition of the London Fire Emergency Planning Authority (LFEPA) as a leader on environmentally sustainable procurement through a number of awards including the City of London Corporation's Sustainable City Awards in 2006 </li>
<li>The London Development Agency (LDA) delivering over 25 per cent of its procurement spend in 2006/07 with diverse suppliers </li>
<li>Transport for London (TfL) incorporating responsible procurement criteria in &pound;2bn worth of contracts </li>
<li>Diversity Works for London - a programme of LDA on behalf of the Mayor - has also launched its free online diagnostic tool today to help small businesses improve their performance on diversity and will help suppliers meet the diversity criteria of the Responsible Procurement policy </li>
<li>The Group has implemented the London Living Wage into contracts worth &pound;5.5m each year benefiting almost 400 staff</li></ul>
<p>The Mayor of London said: "We've seen some real progress within the Group in implementing Responsible Procurement over the last twelve months, from recycling improvements to London Living's Wage, the East London Line, the Green Procurement Code and the LDA's new online toolkit for smaller businesses.</p>
<p>"All these achievements demonstrate how seriously we take Responsible Procurement. </p>
<p>"As a world-class city, it is only right that we lead the way on making sure London buys its goods and services responsibly, and encourages other buyers and suppliers to follow, so that all communities fully benefit from our Capital's prosperity."</p>
<p>
<hr>

<p>
<p><strong>Notes to editors</strong></p>
<ul>
<li>The GLA Group Responsible Procurement policy was formerly called the Sustainable Procurement policy; the change of name aims to highlight the importance attached to supporting social as well as environmental objectives through procurement. Further details are available on the <a href="http://www.london.gov.uk/rp">GLA Group Responsible Procurement </a>website </li>
<li>The GLA group has defined responsible procurement as the purchase of goods, works and services in a socially and environmentally responsible way that delivers value for money and benefits to the contracting authority and to London. </li>
<li>The policy defines seven themes of responsible procurement. These are: 
<ul type="circle">
<li>Encouraging a diverse base of suppliers </li>
<li>Promoting fair employment practices (including the London Living Wage) </li>
<li>Promoting workforce welfare </li>
<li>Meeting strategic labour needs and enabling training opportunities </li>
<li>Community benefits </li>
<li>Ethical sourcing practices </li>
<li>Promoting greater environmental sustainability </li></ul></li>
<li>The Greater London Authority Group comprises the Greater London Authority, the London Development Agency, Transport for London, the London Fire and Emergency Planning Authority and the Metropolitan Police Authority and the Metropolitan Police Service </li>
<li>The LDA is committed to ensuring that London not only retains its position as an immensely successful modern world city but that it serves its communities by creating an excellent place in which to work and live. It seeks to integrate social and environmental considerations in all stages of the procurement process, as well as commercial outcomes, through <a href="http://www.lda.gov.uk/server/show/ConWebDoc.316/">Responsible Procurement</a> </li>
<li>Visit <a href="http://www.diversityworksforlondon.com/">Diversity Works for London </a>for information </li>
<li>As part of a large scale green programme of the <a href="http://www.london-fire.gov.uk/about_us/green_procurement.asp/">London Fire and Emergency Protection Authority,</a> which runs the London Fire Brigade, London's fire stations are being fitted with solar panels, wind turbines and other sustainable technologies and the operational vehicle fleet is being replaced with less polluting vehicles. LFEPA is committed to addressing these impacts and integrating environmental, social and economic considerations into every stage of the Responsible Procurement processes </li>
<li>TfL was created in 2000 as the integrated body responsible for managing London's transport system and delivering the Mayor's Transport Strategy, taking account of London's economic, social and environmental needs. TfL has implemented responsible procurement in contracts with a combined value of &pound;2bn, and aims to ensure that the <a href="/businessandpartners/sellingtotfl/1331.aspx">Responsible Procurement Policy </a>is regarded as an integral part of the specification of the goods, works or services that it buys </li>
<li>The <a href="http://www.met.police.uk/">MPS</a> works with the public and with its partners in the community to execute its vision to make London the safest major city in the world. The MPS&nbsp;the UK's largest police force and is London's biggest employer with over 50,000 staff. A central Procurement Services Team is responsible for buying the goods and services needed to support the diverse and complex requirements of the MPS. The aim of the <a href="http://www.mpa.gov.uk/">MPA</a>, as the statutory body overseeing the work of the MPS, is to secure an effective, efficient and fair police service for London </li>
<li>The Mayor is working with the Olympic agencies to ensure procurement for the 2012 Olympic games and Paralympic games takes these principles into account, and will be taking the same approach to the construction of Crossrail </li>
<li>The Living Wage for London was first calculated by the Mayor's Living Wage Unit at &pound;6.70 in April 2005 and was revised to &pound;7.20 in April 2007. The Living Wage unit was established following a commitment in the Mayor's election manifesto in 2004. It is part of the Greater London Authority's economics unit 'GLA Economics' which provides authoritative and expert analysis of London's economy for policy development and decision making by the Greater London Authority <br></li></ul>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "Mayor of London Ken Livingstone today published the first review of progress in delivering the Greater London Authority Group's Responsible Procurement policy - which ensures securing social and environmental goals in London are included in criteria for";}
        
        


 