


@{ViewBag.Title = "Multi-billion pound funding package to invest in London's transport network confirmed";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>Multi-billion pound funding package to invest in London's transport network confirmed</h1>
        <div class="content-page-press-release">
        06 February 2008
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        Government confirms 10-year Transport for London (TfL) funding settlement
        
    </div>



<div class="pull-quote">
        <div class="quote-body">"London's transport network underpins the capital's economy, which benefits the whole of the UK"</div>
        <div class="quote-footer">
            <div class="quotee-name">Ken Livingstone</div>
            <div class="quotee-job-title">Mayor of London</div>
        </div>
</div>

 <div class="on-this-page">
<div class="pullquote right">
                        <p>
                            London's transport network underpins the capital's economy, which benefits the whole of the UK
                            
                        </p>
                    </div>
                
            
            
            <p>
<p>The Mayor and TfL today welcomed confirmation of a multi-billion pound funding package to enable the renewal and expansion of London's transport network over the next decade, including Crossrail, the ongoing transformation of the Tube, preparations for the 2012 Olympics, the expansion of rail and bus services and programmes to promote walking and cycling.</p>
<p>TfL's total funding of &pound;39bn until 2017/18 was today confirmed by the Department for Transport (DfT), as part of the recent Government Comprehensive Spending Review. </p>
<p>&pound;33bn will be paid as grant funding from DfT, with up to a further &pound;6bn of borrowings by TfL.</p>
<p>The Mayor of London, Ken Livingstone said: "London's transport network underpins the capital's economy, which benefits the whole of the UK. </p>
<h2>Crucial role </h2>
<p>"This settlement recognises the crucial role that transport plays in London's economic success, and the importance of completing the renewal and expansion of the network that we have been driving forward since 2000."</p>

<p>Peter Hendy, London's Transport Commissioner said: "This 10-year funding settlement will enable Transport for London to continue with the huge investment programme that is modernising and extending the Capital's public transport system, including Crossrail, upgrade of the London Underground and preparations for the 2012 Olympics.</p>
<p>"Such a major programme of investment will enable us to support London's continued economic growth and development as one of the world's leading cities.</p>
<p>"This will build on the significant improvements that have already been delivered to bus and Tube services, extension of the Docklands Light Railway and more rail capacity through our new London Overground services."</p>
<h2>Significant progress </h2>

<p>The current&nbsp;TfL Investment Programme runs until 2010. </p>
<p>The detailed TfL programme beyond 2010 will be worked up over the coming months.</p>
<p>Significant progress was also made today towards bringing Metronet out of Administration. Metronet's lenders have exercised their Put Options under the PPP contracts. </p>
<p>London Underground (LU) will now pay around &pound;1.7bn to Metronet's lenders and Government has provided an additional grant of &pound;1.7bn as part of&nbsp; TfL's funding settlement to cover this. </p>
<h2>Safely and reliably </h2>

<p>LU Managing Director, Tim O'Toole said: "Our priority remains the removal of Metronet from PPP Administration as quickly as possible. </p>
<p>"A great deal of progress has already been made and we remain on track to transfer the two Metronet companies to two dedicated Transport for London companies in the early part of 2008.</p>
<p>"Tube services continue to operate safely and reliably for passengers, as they have done throughout the period of PPP Administration. </p>
<p>"Nothing will hold up the transfer of Metronet to Transport for London once all the necessary steps in the administration have been taken.</p>
<p>"Once under Transport for London control, we will work with the Mayor and Government to restructure Metronet's contracts to deliver track, train and signalling upgrades to increase capacity, along with station and security improvements."</p>
<p>
<hr>
<br>
<p>
            <p><strong>Notes to editors</strong> 
<ul>
<li>Details of TfL's funding settlement to 2017-18 were today confirmed in a Written Parliamentary Statement by the Secretary of State &nbsp;for Transport </li>
<li>The funding settlement was originally advised to TfL in October 2007 but remained a draft settlement until final confirmation was provided by Government today </li>
<li>The PPP contracts drawn up by Government effectively guaranteed that London Underground would reimburse Metronet's lenders at &nbsp;least 95 per cent&nbsp;of outstanding approved debt six months after the start of any PPP administration. This is otherwise known as the Put Option </li>
<li>The &pound;1.7bn grant from Government in relation to the Put Options is not included in TfL's &pound;39bn 10 year funding settlement </li>
<li>Of the &pound;6bn of TfL borrowing around 40 per cent&nbsp;is expected to be invested in Crossrail and this sum forms part of the overall &pound;15.9bn Crossrail funding package. This is outlined in the Heads of Terms published 26 November 2007 and includes government and business contributions</li></ul>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "The Mayor and TfL today welcomed confirmation of a multi-billion pound funding package to enable the renewal and expansion of London's transport network over the next decade, including Crossrail, the ongoing transformation of the Tube, preparations for";}
        
        


 