


@{ViewBag.Title = "National Express commences sales of Visitor Oyster Cards";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>National Express commences sales of Visitor Oyster Cards</h1>
        <div class="content-page-press-release">
        25 February 2008
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        Transport for London and National Express, the UK's largest coach operator, have joined forces so passengers traveling into London can enjoy the benefits of Oyster cards.
        
    </div>



<div class="pull-quote">
        <div class="quote-body">"Visitors to London can also enjoy the benefits of cheaper, simpler, and quicker journeys that come with using the Oyster card"</div>
        <div class="quote-footer">
            <div class="quotee-name">Ken Livingstone</div>
            <div class="quotee-job-title">Mayor of London</div>
        </div>
</div>

 <div class="on-this-page">
<div class="pullquote right">
                        <p>
                            Visitors to London can also enjoy the benefits of cheaper, simpler, and quicker journeys that come with using the Oyster card
                            
                        </p>
                    </div>
                
            
            
            <p>
<p>National Express is the first coach company to offer Transport for London's Visitor Oyster cards to its customers.</p>
<p>Passengers using Oyster cards enjoy quicker and easier journeys as Oyster reduces queues and&nbsp;passengers who switch to Oyster save money as Oyster fares are less than the cash fare. </p>
<p>The Visitor Oyster Card is a branded card from Transport for London, pre-loaded with pay as you go, and ready for passengers to use as soon as they arrive in central London.</p>
<h2>Easy for visitors</h2>
<p>The Mayor of London, Ken Livingstone, said:&nbsp; "This deal with National Express is another good example of our work with travel companies to make it easier for visitors to London to get round the Capital.</p>
<p>"It will enable us to reach more visitors to London from overseas, meaning that they can also enjoy the benefits of cheaper, simpler, and quicker journeys that come with using the Oyster card."</p>
<p>Oyster cards are available from National Express ticket offices throughout the UK including major airports such as Heathrow, Gatwick, Stansted and Luton.</p>
<p>This exclusive service allows coach travellers to purchase their Oyster card before they arrive in the Capital so they are able to travel to their final destination with ease.</p>
<h2>Benefits for customers</h2>
<p>Paul Bunting, Strategic Marketing Director of National Express, said: "Working in partnership with Transport for London will give our customers a fantastic benefit when travelling to London by coach.</p>
<p>Having the opportunity to buy their Oyster Card at the start of their journey will not only help people save money, it will make their journey simpler and easier.</p>
<div class="pullquote right">
<p>Buying the Oyster Card will not only help people save money, it will make their journey simpler and easier. 
<div class="cite">Paul Bunting, National Express</div>
<p></div>
<p>In the first few days of sale, the card is proving extremely popular especially with people travelling to London from airports such as Stansted, Luton and Heathrow. </p>
<h2>Introducing innovative improvements</h2>
<p>We are committed to working with our partners such as Transport for London to introduce new and innovative improvements to our service to encourage people to leave their cars at home and travel by public transport."</p>
<p>The announcement is part of Transport for London's strategy to ensure that visitors to London have access to the cheaper options available on Oyster.</p>
<p>By making the cards easy to get hold of before a passenger even arrives in London, it saves time on queuing for tickets leaving people more time to enjoy their visit.</p>
<p>Instead of buying a paper card, visitors can work out how often they will use public transport in London and top-up their Oyster Card for visitors accordingly.</p>
<p>The pay as you go money on the card is timeless so people can use any money left over for future visits to London or pass it to anyone visiting London.<br>
<hr>
</p>
            <strong>Notes for Editors: </strong><br>
<ul>
<li>Pre-purchased Oyster cards became available for visitors in September 2006 when a partnership was launched to sell Oyster cards through VisitBritain's overseas offices and on-line shops, so that passengers could purchase Oyster pay as you go before they even arrived in the UK.</li>
<li>As an example, with Oyster pay as you go, you can place &pound;10 on your Oyster card and when you touch in and out at the yellow readers with your card on the Tube, Docklands Light Railway (DLR), tram or bus, the reader automatically deducts the correct fare.</li>
<li>Oyster is available to buy or be topped up at all 275 Tube stations and there are also more than 2,200 Oyster Ticket Stops agents across the Capital.</li>
<li>Eighty-five per cent of all Londoners live within 400 metres of an Oyster Ticket Stop When passengers use the Oyster card to touch in and out on the yellow readers on the bus, Tube, DLR and tram, the system automatically works out the right fare for the journey within a fifth of a second from up to 1.83 million permutations.</li></ul>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "National Express is the first coach company to offer Transport for London's Visitor Oyster cards to its customers.Passengers using Oyster cards enjoy quicker and easier journeys as Oyster reduces queues and&nbsp;passengers who switch to Oyster save money";}
        
        


 