


@{ViewBag.Title = "New Private Hire Vehicle definitions";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>New Private Hire Vehicle definitions</h1>
        <div class="content-page-press-release">
        29 February 2008
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        From 1 April 2008, some vehicles which were previously exempt will require a Private Hire licence to operate in London.
        
    </div>



 <div class="on-this-page">
<div class="pullquote right">
                        <p>
                            Private hire licensing allows us to ensure that any vehicle carrying members of the public are subject to rigorous safety checks.
                            
                        </p>
                    </div>
                
            
            
            <p>
<p>Changes introduced by the Department for Transport mean that the definition of a private hire vehicle in London is changing.</p>
<p>Vehicles with fewer than nine passengers and are made available for hire with a driver will require a private hire licence to operate in the Capital from 1&nbsp;April.&nbsp; </p>
<p>The Department for Transport's amendment to the Private Hire Vehicles (London) Act means that the range of vehicles and services that need licences will go beyond the minicab, executive and chauffeur services that currently form the bulk of the private hire industry.</p>
<p>They may now include community transport vehicles and non-emergency ambulances. </p>
<h2>New regulations</h2>

<p>Vehicles operating in London that now fall under the Act will require a private hire licence, as will their drivers.</p>

<p>Any company that hires out these vehicles and drivers will also have to hold a private hire operator licence. </p>
<p>If a vehicle is being hired for self-drive, or has nine or more passenger seats, it will be exempt from the licensing requirement.</p>

<h2>Checking for safety</h2>
<p>Mary Dowdye, Head of Standards and Regulations at the Public Carriage Office said: "Private hire licensing allows us to ensure that any vehicle carrying members of the public and its driver are subject to rigorous checks to ensure the safety of passengers and other road users.</p>
<p>"Over the past twelve months our Licensing Officers have attempted to contact organisations who might be affected by the change in licensing laws, including local borough councils, health authorities, schools and businesses.&nbsp; </p>
<p>"We would urge any organisation who feels they might be affected to get in touch with us immediately, as they will require a licence to continue to operate legally from 1 April 2008."</p>
<p>Any company which feels they may be affected by these changes should contact the Public Carriage Office immediately on 0845 602 7000 or email <a href="mailto:s54projectteam&#64;tfl.gov.uk">s54projectteam&#64;tfl.gov.uk</a>.</p>
<p>Those trading after 1 April 2008 without the relevant licence would be doing so illegally and would risk prosecution.</p>
<p>
<hr>

<p>
            <p>
<p><strong>Notes to Editors:</strong></p>
<ul>
<li>The Public Carriage Office (PCO), as part of Transport for London, is responsible for licensing and regulating London's taxi and private hire services.</li>
<li>A private hire vehicle (PHV) was described in the original 1998 Act as a 'vehicle constructed or adapted to seat fewer than nine passengers which is made available with a driver to the public for hire for the purpose of carrying passengers'.&nbsp;Section 54 of the Road Safety Act 2006 has now removed the term 'to the public' from the 1998 Act.&nbsp; This makes it irrelevant whether a vehicle is provided solely for contract work or to the public at large</li>
<li>Licensed taxis, public service vehicles and vehicles used solely for weddings and funerals are exempt from the licensing scheme, as stated by the Private Hire Vehicles (London) Act 1998</li>
<li>A similar change is being made outside London under Section 53 of the Road Safety Act 2006</li>
<li>All licensed PHVs are exempt from the Congestion Charge while carrying out a booking</li>
<li>The PCO is liaising with SGS UK Ltd, its vehicle inspection service provider, to manage the additional demand for vehicle licensing appointments</li>
<li>Full licensing requirements may be viewed on the TfL website: <a href="http://www.tfl.gov.uk/privatehire">http://www.tfl.gov.uk/privatehire</a> <br></li></ul>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "Changes introduced by the Department for Transport mean that the definition of a private hire vehicle in London is changing.Vehicles with fewer than nine passengers and are made available for hire with a driver will require a private hire licence to";}
        
        


 