


@{ViewBag.Title = "Renewal of District line trains nears completion";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>Renewal of District line trains nears completion</h1>
        <div class="content-page-press-release">
        15 February 2008
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        Last train to be refurbished carries passengers for the final time today.
        
    </div>



<div class="pull-quote">
        <div class="quote-body">"This is good news for the half a million people using the District line every day"</div>
        <div class="quote-footer">
            <div class="quotee-name">Andie Harper</div>
            <div class="quotee-job-title">Chief Executive of Metronet</div>
        </div>
</div>

 <div class="on-this-page">
<div class="pullquote right">
                        <p>
                            This is good news for the half a million people using the District line every day 
                            
                        </p>
                    </div>
                
            
            
            <p>
<p>Passengers using the District line are set to benefit from trains with new interiors, increased security measures and better access. </p>
<p>The last train due to be refurbished will carry passengers for the final time today. </p>
<p>The renewal of the 75 train District line fleet is part of a refurbishment programme carried out by Metronet Rail. </p>
<p>This has seen the fleet fitted with completely renewed interiors, CCTV cameras inside the cars, fire retardant seats and flooring; and accessibility measures, including tip-up seats to accommodate wheelchairs, buggies and luggage. </p>
<h2>Greater comfort</h2>
<p>The Mayor of London, Ken Livingstone, said: "With the refurbishment of all District line trains we are starting to see the fruits of the gigantic investment programme we have undertaken to transform the Tube. </p>
<p>"This is very expensive and involves some short-term inconvenience but passengers will feel the benefits in terms of less over-crowding, greater comfort and more reliable services for many years to come."</p>
<p>Transport for London is investing &pound;10bn to renew London's Transport network, more than half of that being spent on the Tube. </p>

<p>The District line carries over 600,000 customers every weekday and this refurbishment programme is an important step to improve and expand the Tube. </p>
<p>Bob Thorogood, District line General Manager, said: "These District line trains have served Londoners since 1980 and proved a reliable part of the transport network. Londoners can now bid them farewell, but will soon be served by a fleet of fully refurbished trains. </p>
<h2>Technical challenges</h2>
<p>"The refurbishment of the fleet has brought a higher standard of accessibility with improved announcement systems, extra space for wheelchairs, prams and luggage, as well as additional security measures such as in-car CCTV."</p>
<p>Chief Executive of Metronet, Andie Harper, said: "We are very proud to have reached this point in the refurbishment programme 11 months early and &pound;2m under budget.</p>
<p>"This is good news for the half a million people using the District line every day and we recognise the support and contribution of Bombardier at their refurbishment facility in Derby. </p>
<p>"There were many technical challenges modifying these 30-year-old trains but we overcame them and the scale of the accomplishment is truly visible."</p>
<p>The refurbished trains will help extend the life of the trains until the introduction of a new fleet of trains in 2013.<br></p>
<p>
<hr>

<p>
<p><strong>Notes to editors:</strong></p>
<ul>
<li>The District line covers 64 km (40 miles) and serves 60 stations </li>
<li>More than 600,000 people use the District line every day, 176 million people use it a year </li>
<li>The first section of what is now known as the District line, started operation on 24 December 1868 between South Kensington and Westminster<br></li></ul>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "Passengers using the District line are set to benefit from trains with new interiors, increased security measures and better access. The last train due to be refurbished will carry passengers for the final time today. The renewal of the 75 train District";}
        
        


 