


@{ViewBag.Title = "Thirteen more London stations to become accessible";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>Thirteen more London stations to become accessible</h1>
        <div class="content-page-press-release">
        11 February 2008
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        Transport for London (TfL) today welcomed the funding of step-free access to a further 13 rail stations in London as part of the Department for Transport's (DfT's) &pound;370 million Access for All programme.
        
    </div>



 <div class="on-this-page">
<div class="pullquote right">
                        <p>
                            Working together means the huge problem of city-wide station inaccessibility can be solved more quickly and efficiently
                            
                        </p>
                    </div>
                
            
            
            <p>
<p>Nine of the short listed London stations were identified to the DfT by&nbsp;TfL as being a priority for improved access.&nbsp; </p>
<p>TfL London Rail looked at many factors including footfall, proportion of elderly people and young children, and proximity to a hospital.</p>
<p>The nine stations are Bromley South, New Eltham, Tottenham Hale, New Malden, West Hampstead Thameslink, Brockley, Camden Road, Gospel Oak and Honor Oak Park.</p>
<p>The Access for All investment will complement other planned improvement works at the latter four stations, which will be refurbished as part of TfL's &pound;1.4 billion London Overground Investment Programme.</p>TfL has also been awarded &pound;37,500 through the DfT's Access for All Small Schemes fund to provide variable height ticket windows at three London Overground stations - Hackney Wick, Homerton and Kensington Olympia. 
<p>
<h2>Working together </h2>
<p>Managing Director of TfL London Rail, Ian Brown said: "This is good news and we are pleased that the Department for Transport has listened to so many of our suggestions. </p>
<p>"This additional funding from the DfT for access improvements takes us further along the road in supporting TfL's objective to develop a fully step free transport network for London.</p>
<p>"Working together means the huge problem of city-wide station inaccessibility can be solved more quickly and efficiently. </p>
<p>"TfL can supply engineering expertise and local knowledge and the Department has more immediate access to funding."</p>
<p>
<hr>
            <p>
<p><strong>Notes to editors</strong></p>
<ul>
<li>The four other London stations to receive funding for step-free access are Walthamstow Central, Limehouse, Ilford and Worcester Park. They were recommended by train operating companies</li>
<li>Network Rail will carry out feasibility studies at each station over the next 18 months to determine the improvements necessary to provide level access.&nbsp; This is followed by outline design, detailed design and finally construction, testing and commissioning of the stations' facilities.&nbsp; The upgrades are planned for completion between 2012 and 2015</li>
<li>The DfT has a duty to ensure its Access for All funding is used where it can deliver the most benefit. The project is UK-wide</li>
<li>More information on the Department for Transport Access for All project can be found <a href="http://www.dft.gov.uk">online</a>&nbsp; </li></ul>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "Nine of the short listed London stations were identified to the DfT by&nbsp;TfL as being a priority for improved access.&nbsp; TfL London Rail looked at many factors including footfall, proportion of elderly people and young children, and proximity to a";}
        
        


 