


@{ViewBag.Title = "Transport for London signs new train leasing contract ";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>Transport for London signs new train leasing contract </h1>
        <div class="content-page-press-release">
        20 February 2008
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        Millions of pounds released for investment in Capital's transport network.
        
    </div>



<div class="pull-quote">
        <div class="quote-body">"This contract gives us all the best features of a new train fleet, including reliability, extra capacity and cleanliness."</div>
        <div class="quote-footer">
            <div class="quotee-name">Ian Brown</div>
            <div class="quotee-job-title">Managing Director of London Rail</div>
        </div>
</div>

 <div class="on-this-page">
<div class="pullquote right">
                        <p>
                            This contract gives us all the best features of a new train fleet, including reliability, extra capacity and cleanliness.
                            
                        </p>
                    </div>
                
            
            
            <p>
<p>Transport for London has signed a leasing contract for its new London Overground fleet of electric trains. </p>
<p>Leasing, rather than borrowing to buy the fleet of 188 vehicles, will avoid a capital expenditure of &pound;250 million and release millions of pounds for reinvestment in the Capital's transport network.</p>
<p>The overall costs of leasing or buying the fleet remain approximately the same, but with a leasing arrangement Transport for London will not bear the cost of the depreciating value of the fleet and the risk of a loss if selling second hand rolling stock.</p>
<p>Trains for the new London Overground network will be leased from QW Rail Leasing Ltd, a joint venture between National Australia Bank and Sumitomo Mitsui Banking Corporation.</p>
<h2>The terms</h2>
<p>The contract will give Transport for London use of the trains until 2027 or longer if it wishes.</p>
<p>This differs from the usual rolling stock lease in the UK, which last only as long as a train operator's franchise.</p>
<p>Under the terms of Transport for London's contract they will not have to renegotiate terms for using the same trains when the contract expires.</p>
<p>In 2027, when the fleet is half way through its economic life, Transport for London will have the option of taking on a second lease or entering into a new agreement with another party for other more up-to-date trains.</p>
<h2>Extending the fleet</h2>
<p>There is also an option for Transport for London to extend the fleet to 216 vehicles.</p>
<div class="pullquote right">
<p>Greater flexibility when we wish to renew trains in the future.</p></div>
<p>Managing Director of London Rail, Ian Brown, said: "This contract gives us all the best features of a new train fleet, including reliability, extra capacity and cleanliness.</p>
<p>It also gives us much greater flexibility about when we wish to renew the trains in future and releases funds for investment in London's transport network."</p>
<p>London Overground Rail Operations Limited, the London Overground operator, has also confirmed that an order for a new generation of diesel trains has been placed with Bombardier. </p>
<p>The trains will be manufactured for Angel Trains who will lease them to London Overground.</p>
<p>The eight Class 172 trains will be delivered from the end of 2009.</p>
<hr>
            <p><strong>Notes to Editors:</strong></p>
<ul>
<li>QW Rail Leasing Ltd is a joint venture between two partners - National Australia Bank and SMBC Leasing and Finance, Inc.. The &nbsp;European Investment Bank has also provided financing </li>
<li>QW Rail Leasing Ltd bears the risk of disposing of the depreciated fleet after the lease is terminated. Transport for London bears the &nbsp;risk of the fleet performance and maintenance only during the term of the lease </li>
<li>The financial consequence for a number of Transport for London's risks are passed on to third parties e.g. the penalty for a late train &nbsp;delivery is borne by Bombardier (the manufacturer), and the London Overground operator, LOROL, can be penalised if non-structural &nbsp;conditions in carriages fall below the standard agreed with Transport for London </li>
<li>The new trains are Class 378 units similar to the Class 376 units operated by the South Eastern Franchise on inner suburban routes </li>
<li>The first trains are to be delivered at the end of 2008, with the final deliveries at the end of 2010 </li>
<li>In its final configuration, it is intended the fleet will comprise 54 4-carriage trains</li></ul>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "Transport for London has signed a leasing contract for its new London Overground fleet of electric trains. Leasing, rather than borrowing to buy the fleet of 188 vehicles, will avoid a capital expenditure of &pound;250 million and release millions of";}
        
        


 