


@{ViewBag.Title = "Transport for London's Ezine is a hit with readers";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>Transport for London's Ezine is a hit with readers</h1>
        <div class="content-page-press-release">
        21 February 2008
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        Transport for London's quirky e-newsletter, the London Loop Ezine, is a great success with readers, inspiring hundreds as they plan their weekends to try things they would have never done before.
        
    </div>



<div class="pull-quote">
        <div class="quote-body">"We wanted to help readers make the most of the capital and unveil some exceptional events taking during weekends"</div>
        <div class="quote-footer">
            <div class="quotee-name">Irene Gross</div>
            <div class="quotee-job-title">Advertising and Publicity Planner</div>
        </div>
</div>

 <div class="on-this-page">
<div class="pullquote right">
<p>
We wanted to help readers make the most of the capital and unveil some exceptional events taking during weekends
</p>
</div>
<p>Research shows 63 per cent of people surveyed feel that the Ezine provides them with original ideas at the right time, with 45 per cent saving their Ezine for future reference and 59 per cent agreeing that it encourages them to try new experiences the capital has to offer that they may not have considered before.</p>
<p>From the next discounted designer sample sale, to how to spend an afternoon with Brad Pitt for &pound;2 and where to enjoy a free Jazz concert, the London Loop Ezine is a real treasure chest of fantastic best kept secret events taking place across the Capital during the weekends.</p>
<p>As well as providing insider knowledge on what's hot in the city every weekend, the Ezine also features weekly discount coupons for some of London's best loved restaurants and entertainment to make enjoying the Capital even easier and cheaper.</p>
<p>And to ensure that the weekend of entertainment runs smoothly, the Ezine also provides readers with indispensable travel information.</p>
<h2>Unique and friendly</h2>
<p>Irene Gross, Advertising and Publicity Planner at London Underground, said: "We wanted to put together a truly unique newsletter to help readers make the most of the capital and unveil some exceptional events taking place in London during weekends.</p>
<p>"The Ezine is user friendly and provides helpful information to make travel to the featured events easier and smoother."</p>
<hr />
<p><strong>Notes to editors:</strong></p>
<ul>
    <li>The Ezine was launched on 12 October 2006</li>
    <li>It is compiled by Forward Ltd </li>
    <li>A survey carried out amongst 1,225 readers in June 2007 revealed that:
    <ul>
        <li>80 per cent of readers read all or most of their Ezine</li>
        <li>45 per cent of readers save their Ezine for future reference </li>
        <li>63 per cent feel that the Ezine provides great information at the right time</li>
        <li>64 per cent think that the Ezine provides them with great ideas about things to do in London</li>
        <li>59 per cent agree that the Ezine is an enjoyable read </li>
        <li>54 per cent feel the Ezine makes it easier to go somewhere at the weekend</li>
        <li>59 per cent think that the Ezine make the weekend travel easier to plan; and </li>
        <li>59 per cent say that the Ezine inspire them to do things they wouldn't normally consider</li>
    </ul>
    </li>
</ul>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "Research shows 63 per cent of people surveyed feel that the Ezine provides them with original ideas at the right time, with 45&nbsp;per cent&nbsp;saving their Ezine for future reference and 59 per cent agreeing that it encourages them to try new";}
        
        


 