


@{ViewBag.Title = "Transport for London strikes a bargain basement deal ";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>Transport for London strikes a bargain basement deal </h1>
        <div class="content-page-press-release">
        29 February 2008
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        Transport for London today confirmed a multi million pound deal with Legal & General to build a new station entrance at Bank station to serve the Waterloo & City lines.
        
    </div>



<div class="pull-quote">
        <div class="quote-body">"The deal with Legal & General will provide easier access to the street or platform for passengers at Bank Station"</div>
        <div class="quote-footer">
            <div class="quotee-name">Ken Livingstone</div>
            <div class="quotee-job-title">Mayor of London</div>
        </div>
</div>

 <div class="on-this-page">
<div class="pullquote right">
                        <p>
                            The deal with Legal & General will provide easier access to the street or platform for passengers at Bank Station
                            
                        </p>
                    </div>
                
            
            
            <p>The new street level entrance in Walbrook Square will provide step-free access with lifts, as well as escalators and stairs to the Waterloo &amp; City Line platforms.</p>
<p>The Mayor of London, Ken Livingstone, said: "Record numbers of passengers are using the Tube and a gigantic programme of investment is taking place across the network.</p>
<p>The deal with Legal &amp; General will provide easier access to the street or platform for passengers using the Waterloo and City Line at Bank Station.</p>
<p>London Underground plays a crucial role in the prosperity of the capital and we will continue to provide the investment required to support the growth in passenger numbers."</p><strong>
<h2>Convenient access</h2></strong>
<p>Legal &amp; General is redeveloping Bucklersbury House, which will see their existing buildings replaced by offices, shops, caf&eacute;s, restaurants and bars.</p>
<p>As part of the construction programme a new station box will be constructed in the basement of the building for London Underground.</p>
<p>Richard Parry, London Underground's Director of Strategy and Service Development, said: "This will provide more convenient access to the street for Waterloo &amp; City line passengers, particularly those working to the south and south west of Bank.</p>
<p>Passenger numbers are increasing each year and this will reduce congestion by providing an additional route to street level."</p><strong>
<h2>New for 2013</h2></strong>
<div class="pullquote right">
<p>Passenger numbers are increasing each year and this will reduce congestion 
<div class="cite">Richard Parry, Director of Strategy and Service Development</div>
<p></div>
<p>Demolition of the existing Bucklersbury House buildings is expected to start this year.&nbsp;</p>
<p>The station box is expected to be handed over to London Underground in 2011 so that the breakthrough tunnelling and fit out can start.</p>
<p>A new station entrance should be ready for passengers to use in 2013.</p>
<p>Peter Regan, Transport for London's Director of Corporate Finance, said: "Initially we considered building the station box under the road, but that would have been far more disruptive and complex because there are so many utilities, sewers and ground obstructions to avoid, as well as the inconvenience for day-to-day users of the area.</p><strong>
<h2>Many benefits</h2></strong>
<p>"Our new Property Development Team and London Underground negotiated a deal with Legal &amp; General that brings many benefits, including a considerable saving in construction costs compared to the alternative scheme."</p>
<p>The station box will be built by the developer as part of the Walbrook Square development.</p>
<p>The box will be part of the structure of the developer's building but will be independently operated.</p>
<p>London Underground will be responsible for the fit out of the box and for the low-level tunnel breakthrough between the box and the Waterloo and City line platform concourse.</p>
<hr>
            <p><strong>Notes to editors</strong></p>
<ul>
<li>London Underground was advised by KLGates, Solicitors; TMA, Transport Architectural Planners; and Capital Project Consultancy Ltd, Project Management</li>
<li>TfL is investing &pound;10 billion to improve and expand London's transport network, over half of that being spent on the Tube<br></li></ul>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "The new street level entrance in Walbrook Square will provide step-free access with lifts, as well as escalators and stairs to the Waterloo &amp; City Line platforms.The Mayor of London, Ken Livingstone, said: 'Record numbers of passengers are using the";}
        
        


 