


@{ViewBag.Title = "Transport for London announces new contracts for traffic signal maintenance";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>Transport for London announces new contracts for traffic signal maintenance</h1>
        <div class="content-page-press-release">
        01 February 2008
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        Transport for London (TfL) has awarded three five-year Traffic Control Maintenance and Related Services (TCMS) contracts to Serco Transport Technical Services, Siemens Plc Traffic Controls Division, and Peek Traffic Ltd.
        
    </div>



<div class="pull-quote">
        <div class="quote-body">"A greater emphasis on accountability has been built into the contracts"</div>
        <div class="quote-footer">
            <div class="quotee-name">David Brown</div>
            <div class="quotee-job-title">TfL's Managing Director of Surface Transport</div>
        </div>
</div>

 <div class="on-this-page">
<div class="pullquote right">
                        <p>
                            A greater emphasis on accountability has been built into the contracts
                            
                        </p>
                    </div>
                
            
            
            <p>The collective worth of the contracts is &pound;66.5m over the five year period, and they will begin on April 1, 2008. </p>
<p>From that date, Serco will be responsible for traffic control equipment maintenance in central and north London, Peek Traffic Ltd will look after south, southeast and northeast London and Siemens will hold the contract for west London.</p>
<p>The contracts cover the maintenance of variable message signs (VMS), overheight vehicle detectors (OVD) and safety cameras as well as the installation, modernisation and maintenance of traffic signals sites across London. </p>
<h2>Targets</h2>
<p>The new deals place far greater emphasis on outputs and the accountability of the contractors for high levels of equipment availability. </p>
<p>TfL will continue to monitor performance closely, but contractors will be responsible for determining how they organise their work to meet output targets and the quality of the service they provide will be rewarded accordingly.</p>
<p>In line with TfL's procurement strategy, the three contractors had to demonstrate their commitment to sustainability and equality and diversity in their tenders for the work.</p>
<p>David Brown, MD of Surface Transport at TfL, said: "We are delighted to enter into the contracts with Serco, Peek and Siemens. </p>
<h2>Quality</h2>
<p>"A greater emphasis on accountability has been built into the contracts, which we are confident will create a greater sense of ownership in the contractors and lead to even higher levels of performance from them."</p>
<p>Gordon Wakeford, Managing Director of Siemens Traffic Controls, said:&nbsp; "We are confident that we can provide the high level of service that TfL rightly demands and that the citizens of London deserve.</p>
<p>"This contract continues a well established relationship between Siemens and TfL spanning many years and across a variety of traffic management projects."</p>
<p>Nick Brown, Chief Executive of Serco's Integrated Transport, said: "Serco is very excited at being chosen to deliver this high availability target based contract. </p>
<h2>Partnership</h2>
<p>"It is testimony to the confidence that TfL has placed with Serco and builds on the excellent partnership that already exists between Serco and TfL.</p>
<p>"Serco is already playing its full part in implementing TfL's Equality &amp; Inclusion policies. </p>
<p>"We believe this new contract provides a further powerful opportunity for Serco to showcase TfL's agenda for Equality &amp; Inclusion programmes at work."</p>
<p>Graham Leach, Managing Director of Peek Traffic Ltd, said: "The award of this substantial maintenance contract to Peek is clear confirmation of the confidence that TfL has in our ability to provide a high quality of service, and offer good value.</p>
<p>"We look forward to working in partnership with TfL and other stakeholders to improve the performance of the traffic control equipment on TfL's network."</p>
<p>The new contracts will replace the existing arrangements that TfL has with Siemens, Serco, Peek Traffic Ltd and Traffic Signals (TS) UK.</p>
<p>
<hr>

<p>
<p><strong>Notes to editors:</strong></p>
<ul>
<li>David Brown, TfL's MD of Surface Transport, was joined by representatives from Serco, Siemens and Peek today (Friday) to sign the five-year TCMS contracts.&nbsp; Photographs of the signing will be available on request from TfL Press Office </li>
<li>The current contracts for Traffic Control Maintenance and Related Services (TCMS) are divided between four service providers: Serco (central and north London), Siemens (west and part of south London), Peek Traffic Ltd (north and east London) and Traffic Signals UK (south London). This arrangement will end on March 31, 2008 </li>
<li>The Integrated Transport division of <a href="http://www.serco.com/">Serco </a>delivers comprehensive public transport solutions to local authorities, government departments and commercial enterprises around the world </li>
<li><a href="http://www.siemens.co.uk/">Siemens</a> Traffic Controls designs, manufactures, installs and maintains a wide range of traffic engineering products and systems to enhance road safety and improve traffic flow in congested urban and inter-urban areas </li>
<li><a href="http://www.peek-traffic.co.uk/">Peek Traffic Limited</a> supplies products, systems and services to the traffic industry, working on a variety of projects for the design, supply, installation and operation of traffic and transportation systems </li>
<li>TfL's London Streets is responsible for the 6000 sets of traffic signals in operation in London<br></li></ul>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "The collective worth of the contracts is &pound;66.5m over the five year period, and they will begin on April 1, 2008. From that date, Serco will be responsible for traffic control equipment maintenance in central and north London, Peek Traffic Ltd will";}
        
        


 