
    
  



@{ViewBag.Title = "Gate codes";}
@{ViewBag.Keywords = "TfL";}
@{ViewBag.Url = "/travel-information/gate-codes";}
@{ViewBag.Language = "en";}
        <!-- empty placeholder -->
 
        
        

<div class="r">
  <div class="headline-container plain">
    <h1>Gate codes</h1>

  </div>
</div>
<div class="main-and-aside r">
  
  <div class="main content-container" role="main">
    
    <div class="on-this-page">
      
      
           
      


         
        <div class="table-container"><table>
            <thead>
                <tr>
                    <th id="table_heading_0" style="width: 20%;" rowspan="1" colspan="1">Code <br />
                    </th>
                    <th id="table_heading_1" style="width: 40%;" rowspan="1" colspan="1">Description <br />
                    </th>
                    <th id="table_heading_2" rowspan="1" colspan="1">Action <br />
                    </th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td headers="table_heading_0">02</td>
                    <td headers="table_heading_1">Wrong type / Direction&nbsp;</td>
                    <td headers="table_heading_2">Try again&nbsp;</td>
                </tr>
                <tr>
                    <td headers="table_heading_0">05 <br />
                    </td>
                    <td headers="table_heading_1">Validator in test mode<br />
                    </td>
                    <td headers="table_heading_2">&nbsp;</td>
                </tr>
                <tr>
                    <td headers="table_heading_0">06 <br />
                    </td>
                    <td headers="table_heading_1">Wrong mode or test card&nbsp;&nbsp;&nbsp; &nbsp;</td>
                    <td headers="table_heading_2">Irregular travel&nbsp;</td>
                </tr>
                <tr>
                    <td headers="table_heading_0">07 <br />
                    </td>
                    <td headers="table_heading_1">Ticket unreadable&nbsp;</td>
                    <td headers="table_heading_2">Try again&nbsp;</td>
                </tr>
                <tr>
                    <td headers="table_heading_0">08 <br />
                    </td>
                    <td headers="table_heading_1">Re-coding error&nbsp;</td>
                    <td headers="table_heading_2">Replace ticket&nbsp;</td>
                </tr>
                <tr>
                    <td headers="table_heading_0">09 <br />
                    </td>
                    <td headers="table_heading_1">Ticket read error&nbsp;</td>
                    <td headers="table_heading_2">Replace ticket&nbsp;</td>
                </tr>
                <tr>
                    <td headers="table_heading_0">11 <br />
                    </td>
                    <td headers="table_heading_1">Out of date</td>
                    <td headers="table_heading_2">Use alternative ticket/card&nbsp;</td>
                </tr>
                <tr>
                    <td headers="table_heading_0">12 <br />
                    </td>
                    <td headers="table_heading_1">Not valid at this time</td>
                    <td headers="table_heading_2">Use alternative ticket/card&nbsp;</td>
                </tr>
                <tr>
                    <td headers="table_heading_0">13 <br />
                    </td>
                    <td headers="table_heading_1">Under value <br />
                    </td>
                    <td headers="table_heading_2">&nbsp;</td>
                </tr>
                <tr>
                    <td headers="table_heading_0">14 <br />
                    </td>
                    <td headers="table_heading_1">Not valid for travel&nbsp;&nbsp;&nbsp; <br />
                    </td>
                    <td headers="table_heading_2">Irregular travel &nbsp;</td>
                </tr>
                <tr>
                    <td headers="table_heading_0">16 <br />
                    </td>
                    <td headers="table_heading_1">Outside zone <br />
                    </td>
                    <td headers="table_heading_2">&nbsp;</td>
                </tr>
                <tr>
                    <td headers="table_heading_0">17 <br />
                    </td>
                    <td headers="table_heading_1">Not issued here <br />
                    </td>
                    <td headers="table_heading_2">Irregular travel &nbsp;</td>
                </tr>
                <tr>
                    <td headers="table_heading_0">18 <br />
                    </td>
                    <td headers="table_heading_1">Not valid here</td>
                    <td headers="table_heading_2">&nbsp;</td>
                </tr>
                <tr>
                    <td headers="table_heading_0">20 <br />
                    </td>
                    <td headers="table_heading_1">Card expired&nbsp;&nbsp;</td>
                    <td headers="table_heading_2">Use alternative ticket/card&nbsp;</td>
                </tr>
                <tr>
                    <td headers="table_heading_0">21 <br />
                    </td>
                    <td headers="table_heading_1">Double entry attempted&nbsp;</td>
                    <td headers="table_heading_2">&nbsp;</td>
                </tr>
                <tr>
                    <td headers="table_heading_0">22 <br />
                    </td>
                    <td headers="table_heading_1">Double exit attempted&nbsp;</td>
                    <td headers="table_heading_2">&nbsp;</td>
                </tr>
                <tr>
                    <td headers="table_heading_0">24 <br />
                    </td>
                    <td headers="table_heading_1">Insufficient PAYG&nbsp;</td>
                    <td headers="table_heading_2">Top-up PAYG&nbsp;</td>
                </tr>
                <tr>
                    <td headers="table_heading_0">25 <br />
                    </td>
                    <td headers="table_heading_1">Unstarted journey&nbsp;</td>
                    <td headers="table_heading_2">&nbsp;</td>
                </tr>
                <tr>
                    <td headers="table_heading_0">26 <br />
                    </td>
                    <td headers="table_heading_1">Entry/exit at same station&nbsp;</td>
                    <td headers="table_heading_2">&nbsp;</td>
                </tr>
                <tr>
                    <td headers="table_heading_0">27 <br />
                    </td>
                    <td headers="table_heading_1">PAYG not enabled&nbsp;</td>
                    <td headers="table_heading_2">&nbsp;</td>
                </tr>
                <tr>
                    <td headers="table_heading_0">28 <br />
                    </td>
                    <td headers="table_heading_1">PAYG disabled &nbsp;</td>
                    <td headers="table_heading_2">Use alternative ticket/card&nbsp;</td>
                </tr>
                <tr>
                    <td headers="table_heading_0">29 <br />
                    </td>
                    <td headers="table_heading_1">Ticket disabled&nbsp;</td>
                    <td headers="table_heading_2">Use alternative ticket/card&nbsp;</td>
                </tr>
                <tr>
                    <td headers="table_heading_0">30 <br />
                    </td>
                    <td headers="table_heading_1">Card disabled&nbsp;</td>
                    <td headers="table_heading_2">Irregular travel&nbsp;</td>
                </tr>
                <tr>
                    <td headers="table_heading_0">33 <br />
                    </td>
                    <td headers="table_heading_1">Illogical interchange &nbsp;</td>
                    <td headers="table_heading_2">&nbsp;</td>
                </tr>
                <tr>
                    <td headers="table_heading_0">34 <br />
                    </td>
                    <td headers="table_heading_1">Exit not allowed&nbsp;</td>
                    <td headers="table_heading_2">&nbsp;</td>
                </tr>
                <tr>
                    <td headers="table_heading_0">35 <br />
                    </td>
                    <td headers="table_heading_1">Insufficient PAYG&nbsp;</td>
                    <td headers="table_heading_2">Top-up PAYG&nbsp;</td>
                </tr>
                <tr>
                    <td headers="table_heading_0">36 <br />
                    </td>
                    <td headers="table_heading_1">Insufficient PAYG&nbsp;</td>
                    <td headers="table_heading_2">Top-up PAYG&nbsp;</td>
                </tr>
                <tr>
                    <td headers="table_heading_0">37 <br />
                    </td>
                    <td headers="table_heading_1">Customer Type expired&nbsp;</td>
                    <td headers="table_heading_2">Use alternative ticket/card&nbsp;</td>
                </tr>
                <tr>
                    <td headers="table_heading_0">40 <br />
                    </td>
                    <td headers="table_heading_1">Card not accepted&nbsp;</td>
                    <td headers="table_heading_2">Use alternative ticket/card&nbsp;</td>
                </tr>
                <tr>
                    <td headers="table_heading_0">41 <br />
                    </td>
                    <td headers="table_heading_1">Pass back through&nbsp;</td>
                    <td headers="table_heading_2">&nbsp;</td>
                </tr>
                <tr>
                    <td headers="table_heading_0">42 <br />
                    </td>
                    <td headers="table_heading_1">Pass back&nbsp;</td>
                    <td headers="table_heading_2">&nbsp;</td>
                </tr>
                <tr>
                    <td headers="table_heading_0">43 <br />
                    </td>
                    <td headers="table_heading_1">&nbsp;</td>
                    <td headers="table_heading_2">&nbsp;</td>
                </tr>
                <tr>
                    <td headers="table_heading_0">44 <br />
                    </td>
                    <td headers="table_heading_1">Already used&nbsp;</td>
                    <td headers="table_heading_2">Use alternative ticket/card&nbsp;</td>
                </tr>
                <tr>
                    <td headers="table_heading_0">45 <br />
                    </td>
                    <td headers="table_heading_1">Card not approved&nbsp;</td>
                    <td headers="table_heading_2">Use alternative ticket/card&nbsp;</td>
                </tr>
                <tr>
                    <td headers="table_heading_0">46 <br />
                    </td>
                    <td headers="table_heading_1">Not valid&nbsp;</td>
                    <td headers="table_heading_2">Use alternative ticket/card&nbsp;</td>
                </tr>
                <tr>
                    <td headers="table_heading_0">51 <br />
                    </td>
                    <td headers="table_heading_1">Already used&nbsp;</td>
                    <td headers="table_heading_2">Use alternative ticket/card&nbsp;</td>
                </tr>
                <tr>
                    <td headers="table_heading_0">52 <br />
                    </td>
                    <td headers="table_heading_1">Hot listed magnetic Pass&nbsp;</td>
                    <td headers="table_heading_2">Irregular travel&nbsp;</td>
                </tr>
                <tr>
                    <td headers="table_heading_0">54 <br />
                    </td>
                    <td headers="table_heading_1">Cancelled magnetic ticket&nbsp;</td>
                    <td headers="table_heading_2">Replace ticket&nbsp;</td>
                </tr>
                <tr>
                    <td headers="table_heading_0">57&nbsp; <br />
                    </td>
                    <td headers="table_heading_1">Period ticket not valid&nbsp;</td>
                    <td headers="table_heading_2">&nbsp;</td>
                </tr>
                <tr>
                    <td headers="table_heading_0">61 <br />
                    </td>
                    <td headers="table_heading_1">Too long at interchange&nbsp;</td>
                    <td headers="table_heading_2">&nbsp;</td>
                </tr>
                <tr>
                    <td headers="table_heading_0">62 <br />
                    </td>
                    <td headers="table_heading_1">Too long on journey&nbsp;</td>
                    <td headers="table_heading_2">&nbsp;</td>
                </tr>
                <tr>
                    <td headers="table_heading_0">63 <br />
                    </td>
                    <td headers="table_heading_1">Too long on platform&nbsp;</td>
                    <td headers="table_heading_2">Irregular travel&nbsp;</td>
                </tr>
                <tr>
                    <td headers="table_heading_0">64 <br />
                    </td>
                    <td headers="table_heading_1">Exit time exceeded&nbsp;</td>
                    <td headers="table_heading_2">&nbsp;</td>
                </tr>
                <tr>
                    <td headers="table_heading_0">65 <br />
                    </td>
                    <td headers="table_heading_1">Entry time exceeded&nbsp;</td>
                    <td headers="table_heading_2">&nbsp;</td>
                </tr>
                <tr>
                    <td headers="table_heading_0">67 <br />
                    </td>
                    <td headers="table_heading_1">Card not approved&nbsp;</td>
                    <td headers="table_heading_2">Refer to card issuer&nbsp;</td>
                </tr>
                <tr>
                    <td headers="table_heading_0">69 <br />
                    </td>
                    <td headers="table_heading_1">Card not approved&nbsp;</td>
                    <td headers="table_heading_2">Refer to Helpdesk&nbsp;</td>
                </tr>
                <tr>
                    <td headers="table_heading_0">70 <br />
                    </td>
                    <td headers="table_heading_1">Unspecified card&nbsp;</td>
                    <td headers="table_heading_2">Try again&nbsp;</td>
                </tr>
                <tr>
                    <td headers="table_heading_0">71 <br />
                    </td>
                    <td headers="table_heading_1">Multiple cards&nbsp;</td>
                    <td headers="table_heading_2">Represent one card&nbsp;</td>
                </tr>
                <tr>
                    <td headers="table_heading_0">73 <br />
                    </td>
                    <td headers="table_heading_1">Emergency not valid here&nbsp;</td>
                    <td headers="table_heading_2">&nbsp;</td>
                </tr>
                <tr>
                    <td headers="table_heading_0">74<br />
                    </td>
                    <td headers="table_heading_1">Card not approved by TfL&nbsp;</td>
                    <td headers="table_heading_2">Refer to Helpdesk&nbsp;</td>
                </tr>
                <tr>
                    <td headers="table_heading_0">76 <br />
                    </td>
                    <td headers="table_heading_1">Payment cards&nbsp; not accepted&nbsp;</td>
                    <td headers="table_heading_2">Try another reader&nbsp;</td>
                </tr>
                <tr>
                    <td headers="table_heading_0">77<br />
                    </td>
                    <td headers="table_heading_1">ITSO not supported&nbsp;</td>
                    <td headers="table_heading_2">Use alternative ticket/card&nbsp;</td>
                </tr>
                <tr>
                    <td headers="table_heading_0">78<br />
                    </td>
                    <td headers="table_heading_1">Unknown card type&nbsp;</td>
                    <td headers="table_heading_2">Use alternative ticket/card&nbsp;</td>
                </tr>
                <tr>
                    <td headers="table_heading_0">79 <br />
                    </td>
                    <td headers="table_heading_1">Card validation failure&nbsp;</td>
                    <td headers="table_heading_2">Use alternative ticket/card&nbsp;</td>
                </tr>
                <tr>
                    <td headers="table_heading_0">80 <br />
                    </td>
                    <td headers="table_heading_1">Card not approved &nbsp;</td>
                    <td headers="table_heading_2">Use alternative ticket/card&nbsp;</td>
                </tr>
                <tr>
                    <td headers="table_heading_0">81 <br />
                    </td>
                    <td headers="table_heading_1">Illogical use of ticket&nbsp;</td>
                    <td headers="table_heading_2">&nbsp;</td>
                </tr>
                <tr>
                    <td headers="table_heading_0">82 <br />
                    </td>
                    <td headers="table_heading_1">Illogical use of ticket&nbsp;</td>
                    <td headers="table_heading_2">&nbsp;</td>
                </tr>
                <tr>
                    <td headers="table_heading_0">85 <br />
                    </td>
                    <td headers="table_heading_1">Card expired&nbsp;</td>
                    <td headers="table_heading_2">Use alternative ticket/card&nbsp;</td>
                </tr>
                <tr>
                    <td headers="table_heading_0">86 <br />
                    </td>
                    <td headers="table_heading_1">Invalid card&nbsp;</td>
                    <td headers="table_heading_2">Use alternative ticket/card&nbsp;</td>
                </tr>
                <tr>
                    <td headers="table_heading_0">89 <br />
                    </td>
                    <td headers="table_heading_1">Unknown card type&nbsp;</td>
                    <td headers="table_heading_2">Use alternative ticket/card&nbsp;</td>
                </tr>
                <tr>
                    <td headers="table_heading_0">90 <br />
                    </td>
                    <td headers="table_heading_1">Rejecting monitored&nbsp; tickets&nbsp;</td>
                    <td headers="table_heading_2">Refer to RCI&nbsp;</td>
                </tr>
                <tr>
                    <td headers="table_heading_0">91 <br />
                    </td>
                    <td headers="table_heading_1">Card not yet valid&nbsp;</td>
                    <td headers="table_heading_2">Use alternative ticket/card&nbsp;</td>
                </tr>
                <tr>
                    <td headers="table_heading_0">92 <br />
                    </td>
                    <td headers="table_heading_1">Card directory corrupt&nbsp;</td>
                    <td headers="table_heading_2">Card needs to be replaced&nbsp;</td>
                </tr>
                <tr>
                    <td headers="table_heading_0">93 <br />
                    </td>
                    <td headers="table_heading_1">Card contents corrupt&nbsp;</td>
                    <td headers="table_heading_2">Card needs to be replaced&nbsp;</td>
                </tr>
                <tr>
                    <td headers="table_heading_0">94 <br />
                    </td>
                    <td headers="table_heading_1">Card read failed&nbsp;</td>
                    <td headers="table_heading_2">Try again &nbsp;</td>
                </tr>
                <tr>
                    <td headers="table_heading_0">95<br />
                    </td>
                    <td headers="table_heading_1">Card not approved&nbsp;</td>
                    <td headers="table_heading_2">Refer to Helpdesk&nbsp;</td>
                </tr>
                <tr>
                    <td headers="table_heading_0">96<br />
                    </td>
                    <td headers="table_heading_1">Reader comms error&nbsp;</td>
                    <td headers="table_heading_2">Try another reader&nbsp;</td>
                </tr>
                <tr>
                    <td headers="table_heading_0">97 <br />
                    </td>
                    <td headers="table_heading_1">Card removed early&nbsp;</td>
                    <td headers="table_heading_2">Try again &nbsp;</td>
                </tr>
            </tbody>
        </table></div>
        &nbsp;
         
    


 
      
        
          
            @this.ScriptBlock(
              @<script>
                queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
              </script>
            )
          
        
      
    </div>
  </div>
  <div class="aside" role="complementary">
    
    
      <div class="share-widget-wrapper"></div>
    
    
   
    
    
    
    <div>
<div class="advert-tile unsponsored-style google-ads" aria-hidden="true">
  <div class="advert-link">
    <div class="advert-content">
        <div class="medium-large" data-advert="/76889402/non-targeted" data-advert-sizes="300, 250"></div>
        <div class="small" data-advert="/76889402/non-targeted" data-advert-sizes="300, 250"></div>
    </div>
  </div>
</div>
@{
    ViewBag.AmazonSlot = "'amznslots'";
    ViewBag.AmazonAds = "'3199'"; // to add another value, this needs to be ViewBag.AmazonAds = "'3199','xx'";
}
      

 </div>
    
    <div data-set="sidenav-container" class="small-medium"></div>
  </div>
</div>
 
 
        
        
        
            @{ViewBag.Description = "";}
        
            
        


 