
    
  


<!-- rhroot -->
@{ViewBag.Title = "Quick references";}
@{ViewBag.Keywords = "TfL";}
@{ViewBag.Url = "/travel-information/quick-references";}
@{ViewBag.Language = "en";}
        <!-- empty placeholder -->
 
        
        

<div class="r">
  <div class="headline-container plain">
    <h1>Quick references</h1>

  </div>
</div>
<div class="main-and-aside r">
  
  <div class="main content-container" role="main">
    
      <div class="article-teaser">
        This page includes links to pages and documents which you may find useful for answering queries from customers. This information is intended for London Underground staff and many of the links will only work for TfL employees.
        
      </div>
    
    
      
        <h2>Most popular </h2>
         
    
      
           
      
<div class="module-grid clearfix">
<div class="vertical-button-container">



<a href="http://luintranet.tfl/"  class="plain-button">LU Intranet</a>


<a href="http://luintranet.tfl/ops_maintenance/service_support/oyster_tickets_revenue/1436.html"  class="plain-button">T&amp;R update</a>

</div>
<div class="vertical-button-container">



<a href="http://luintranet.tfl/static/documents/strategy-commercial/knowledge-book.pdf"  class="plain-button">The Knowledgebook (PDF 2.22MB)</a>


<a href="http://source.tfl/pdfs/A5_staff_guide_to_fares_and_ticketing_18_May_2014_Final_v2.pdf"  class="plain-button">Fares &amp; ticketing (PDF 2.67MB)</a>

</div>

</div>
 <div class="accordion">




<div class="expandable-box">




        <div class="content">
            <div class="always-visible" role="button" aria-controls="fares-and-ticketing-content" aria-expanded="false" tabindex="0">
                <div class="controls" data-tracking="prop36" data-tracking-value="Quick references-Fares & ticketing"><span class="visually-hidden">Toggle accordion</span></div>
                <div id="fares-and-ticketing-heading" class="accordion-heading">Fares & ticketing</div>
            </div>
            <div id="fares-and-ticketing-content" class="start-hidden" role="region" aria-labelledby="fares-and-ticketing-heading">

<div>

<p><a href="/fares/find-fares">Fares table</a></p>

<p><a href="http://luintranet.tfl/ops_maintenance/service_support/oyster_tickets_revenue/1436.html">T&amp;R Update</a></p>

<p>How to <a href="/fares/how-to-pay-and-where-to-buy-tickets-and-oyster/pay-as-you-go/oyster-pay-as-you-go">manage your Oyster card online</a></p>

<p>How to <a href="/fares/how-to-pay-and-where-to-buy-tickets-and-oyster/pay-as-you-go/contactless-and-mobile-pay-as-you-go">manage your Contactless card online</a></p>

<p>How to <a href="https://oyster.tfl.gov.uk/oyster/link/sso/0002.do">set up auto top up for Oyster</a></p>

<p>How to <a href="/fares/refunds-and-replacements">get a refund or replacement for Oyster</a></p>

<p><a href="http://www.tfl.gov.uk/travel-information/other-languages/">Information in other languages</a></p>

<p><a href="http://source.tfl/pdfs/A5_staff_guide_to_fares_and_ticketing_18_May_2014_Final_v2.pdf">Staff guide to fares &amp; ticketing (PDF 2.67MB)</a>&nbsp;</p>

<p><a href="http://tfl.gov.uk/cdn/static/cms/documents/conditions-of-carriage.pdf#page=6">Ticketing and fares glossary (PDF 573KB)</a></p>
</div>
 
            </div>
        </div>
    </div>
 <div class="expandable-box">




        <div class="content">
            <div class="always-visible" role="button" aria-controls="accessible-travel-content" aria-expanded="false" tabindex="0">
                <div class="controls" data-tracking="prop36" data-tracking-value="Quick references-Accessible travel"><span class="visually-hidden">Toggle accordion</span></div>
                <div id="accessible-travel-heading" class="accordion-heading">Accessible travel</div>
            </div>
            <div id="accessible-travel-content" class="start-hidden" role="region" aria-labelledby="accessible-travel-heading">

<div>


        <p><a href="https://tfl.gov.uk/forms/12387.aspx">Accessibility guides and maps</a></p>
        <p><a href="/transport-accessibility/index">Transport accessibility on tfl.gov.uk</a> </p>
        <p><a href="http://www.directenquiries.com/">Platform and train access at directenquiries.com</a> </p>
        <h3>Downloads</h3>
        <p><a href="http://luintranet.tfl/static/documents/strategy-commercial/knowledge-book.pdf#page=61">Accessibility from the Knowledgebook (PDF 2.22MB)</a> </p>
        <p><a href="/cdn/static/cms/documents/step-free-tube-guide-map.pdf">Step-free tube guide&nbsp;(PDF 438KB)</a> </p>
        <p><a href="/cdn/static/cms/documents/avoiding-stairs-tube-guide.pdf">Avoiding stairs tube guide&nbsp;(PDF 452KB)</a> </p>
        <p><a href="/cdn/static/cms/documents/toilets-map.pdf">Toilet facilities tube map (PDF 299KB)</a></p>
    
</div>
 
            </div>
        </div>
    </div>
 <div class="expandable-box">




        <div class="content">
            <div class="always-visible" role="button" aria-controls="public-buildings-content" aria-expanded="false" tabindex="0">
                <div class="controls" data-tracking="prop36" data-tracking-value="Quick references-Public buildings"><span class="visually-hidden">Toggle accordion</span></div>
                <div id="public-buildings-heading" class="accordion-heading">Public buildings</div>
            </div>
            <div id="public-buildings-content" class="start-hidden" role="region" aria-labelledby="public-buildings-heading">

<div>


        <h3>Downloads</h3>
        <p><a href="http://luintranet.tfl/static/documents/strategy-commercial/knowledge-book.pdf#page=35 ">Embassies - Knowledgebook (PDF 2.22MB)</a> </p>
        <p><a href="http://luintranet.tfl/static/documents/strategy-commercial/knowledge-book.pdf#page=40">Hospitals - Knowledgebook (PDF 2.22MB)</a></p>
    
</div>
 
            </div>
        </div>
    </div>
 <div class="expandable-box">




        <div class="content">
            <div class="always-visible" role="button" aria-controls="leisure-and-entertainment-content" aria-expanded="false" tabindex="0">
                <div class="controls" data-tracking="prop36" data-tracking-value="Quick references-Leisure and entertainment"><span class="visually-hidden">Toggle accordion</span></div>
                <div id="leisure-and-entertainment-heading" class="accordion-heading">Leisure and entertainment</div>
            </div>
            <div id="leisure-and-entertainment-content" class="start-hidden" role="region" aria-labelledby="leisure-and-entertainment-heading">

<div>


        <h3>Downloads</h3>
        <p><a href="http://luintranet.tfl/static/documents/strategy-commercial/knowledge-book.pdf#page=42">Hotels - Knowledgebook (PDF 2.22MB)</a> </p>
        <p><a href="http://luintranet.tfl/static/documents/strategy-commercial/knowledge-book.pdf#page=47">Places of interest &#45; Knowledgebook (PDF 2.22MB)</a> </p>
        <p><a href="http://luintranet.tfl/static/documents/strategy-commercial/knowledge-book.pdf#page=51Art ">Theatres - Knowledgebook (PDF 2.22MB)</a> </p>
        <p><a href="http://luintranet.tfl/static/documents/strategy-commercial/knowledge-book.pdf#page=53">Galleries - Knowledgebook (PDF 2.22MB)</a></p>
        <p><a href="http://luintranet.tfl/static/documents/strategy-commercial/knowledge-book.pdf#page=54">Museums &#45; Knowledgebook (PDF 2.22MB)</a> </p>
        <p><a href="http://luintranet.tfl/static/documents/strategy-commercial/knowledge-book.pdf#page=56">Parks and Garden - Knowledgebook (PDF 2.22MB)</a> </p>
        <p><a href="http://luintranet.tfl/static/documents/strategy-commercial/knowledge-book.pdf#page=57">Sports venue - Knowledgebook (PDF 2.22MB)</a></p>
        <p><a href="http://luintranet.tfl/static/documents/strategy-commercial/knowledge-book.pdf#page=59">Shopping &amp; Famous shops - Knowlegebook (PDF 2.22MB)</a> </p>
        <p><a href="http://luintranet.tfl/static/documents/strategy-commercial/knowledge-book.pdf#page=59">Shopping areas and centres - Knowledgebook (PDF 2.22MB)</a> </p>
        <p><a href="http://luintranet.tfl/static/documents/strategy-commercial/knowledge-book.pdf#page=60">Shopping markets - Knowledgebook (PDF 2.22MB)</a> </p>
    
</div>
 
            </div>
        </div>
    </div>
 <div class="expandable-box">




        <div class="content">
            <div class="always-visible" role="button" aria-controls="airports-content" aria-expanded="false" tabindex="0">
                <div class="controls" data-tracking="prop36" data-tracking-value="Quick references-Airports"><span class="visually-hidden">Toggle accordion</span></div>
                <div id="airports-heading" class="accordion-heading">Airports</div>
            </div>
            <div id="airports-content" class="start-hidden" role="region" aria-labelledby="airports-heading">

<div>


        <p><a href="http://www.heathrowairport.com/flight-information/which-terminal">Heathrow terminal lookup</a></p>
        <h3>Downloads</h3>
        <p><a href="http://luintranet.tfl/static/documents/strategy-commercial/knowledge-book.pdf#page=27">Airports - Knowledgebook (PDF 2.22MB)</a> </p>
    
</div>
 
            </div>
        </div>
    </div>
 <div class="expandable-box">




        <div class="content">
            <div class="always-visible" role="button" aria-controls="tube-content" aria-expanded="false" tabindex="0">
                <div class="controls" data-tracking="prop36" data-tracking-value="Quick references-Tube"><span class="visually-hidden">Toggle accordion</span></div>
                <div id="tube-heading" class="accordion-heading">Tube</div>
            </div>
            <div id="tube-content" class="start-hidden" role="region" aria-labelledby="tube-heading">

<div>

<p><a href="/modes/tube/index">Tube landing page</a> on the TfL website</p>

<p><a href="/maps/track/tube">Tube maps</a></p>

<p><a href="/tube-dlr-overground/status/">Tube status updates</a></p>

<p><a href="/travel-information/timetables/">Tube timetables</a></p>

<p><a href="/fares/find-fares/tube-and-rail-fares">Tube fares</a></p>
</div>
 
            </div>
        </div>
    </div>
 <div class="expandable-box">




        <div class="content">
            <div class="always-visible" role="button" aria-controls="national-rail-content" aria-expanded="false" tabindex="0">
                <div class="controls" data-tracking="prop36" data-tracking-value="Quick references-National Rail"><span class="visually-hidden">Toggle accordion</span></div>
                <div id="national-rail-heading" class="accordion-heading">National Rail</div>
            </div>
            <div id="national-rail-content" class="start-hidden" role="region" aria-labelledby="national-rail-heading">

        <p><a href="http://www.tfl.gov.uk/maps/track/national-rail">National Rail maps</a> </p>
        <p><a href="http://www.tfl.gov.uk/national-rail/status/">National Rail status updates</a> </p>
        <p><a href="http://www.nationalrail.co.uk/">National Rail Enquiries</a> </p>
    

            </div>
        </div>
    </div>
 <div class="expandable-box">




        <div class="content">
            <div class="always-visible" role="button" aria-controls="buses-content" aria-expanded="false" tabindex="0">
                <div class="controls" data-tracking="prop36" data-tracking-value="Quick references-Buses"><span class="visually-hidden">Toggle accordion</span></div>
                <div id="buses-heading" class="accordion-heading">Buses</div>
            </div>
            <div id="buses-content" class="start-hidden" role="region" aria-labelledby="buses-heading">
<p><a href="/modes/buses/index">Buses landing page</a> on TfL.gov.uk</p>

<p><a href="http://www.tfl.gov.uk/maps/bus">Bus maps</a></p>

<p><a href="http://www.tfl.gov.uk/bus/status/">Bus status updates</a></p>

<p><a href="http://www.tfl.gov.uk/travel-information/timetables/">Bus timetables</a></p>

<p><a href="/fares/find-fares/bus-and-tram-fares">Bus and tram fares</a></p>

            </div>
        </div>
    </div>
 <div class="expandable-box">




        <div class="content">
            <div class="always-visible" role="button" aria-controls="trams-content" aria-expanded="false" tabindex="0">
                <div class="controls" data-tracking="prop36" data-tracking-value="Quick references-Trams"><span class="visually-hidden">Toggle accordion</span></div>
                <div id="trams-heading" class="accordion-heading">Trams</div>
            </div>
            <div id="trams-content" class="start-hidden" role="region" aria-labelledby="trams-heading">
<p><a href="/modes/trams/index">Tram landing page</a> on TfL.gov.uk</p>

<p><a href="http://www.tfl.gov.uk/maps/track/tram">Tram maps</a></p>

<p><a href="http://www.tfl.gov.uk/tram/status/">Tram status updates</a></p>

<p><a href="http://www.tfl.gov.uk/travel-information/timetables/">Tram timetables</a></p>

<p><a href="/fares/find-fares/bus-and-tram-fares">Bus and tram fares</a></p>

            </div>
        </div>
    </div>
 <div class="expandable-box">




        <div class="content">
            <div class="always-visible" role="button" aria-controls="barclays-cycle-hire-content" aria-expanded="false" tabindex="0">
                <div class="controls" data-tracking="prop36" data-tracking-value="Quick references-Barclays Cycle Hire"><span class="visually-hidden">Toggle accordion</span></div>
                <div id="barclays-cycle-hire-heading" class="accordion-heading">Barclays Cycle Hire</div>
            </div>
            <div id="barclays-cycle-hire-content" class="start-hidden" role="region" aria-labelledby="barclays-cycle-hire-heading">

        <p><a href="/modes/cycling/santander-cycles">Barclays Cycle Hire landing page</a> on TfL.gov.uk</p>
        <p><a href="http://www.tfl.gov.uk/maps/cycle-hire">Barclays Cycle Hire maps</a></p>
        <p><a href="/modes/cycling/santander-cycles/how-it-works">Barclays Cycle Hire - how it works</a></p>
        <p><a href="/modes/cycling/santander-cycles/what-you-pay">Barclays Cycle Hire - what you pay</a></p>
    

            </div>
        </div>
    </div>
 <div class="expandable-box">




        <div class="content">
            <div class="always-visible" role="button" aria-controls="emirates-air-line-content" aria-expanded="false" tabindex="0">
                <div class="controls" data-tracking="prop36" data-tracking-value="Quick references-Emirates Air Line"><span class="visually-hidden">Toggle accordion</span></div>
                <div id="emirates-air-line-heading" class="accordion-heading">Emirates Air Line</div>
            </div>
            <div id="emirates-air-line-content" class="start-hidden" role="region" aria-labelledby="emirates-air-line-heading">

        <p><a href="/modes/emirates-air-line/index">Emirates Air Line landing page</a> on TfL.gov.uk</p>
        <p><a href="http://www.tfl.gov.uk/cable-car/status/">Emirates Air Line status updates</a></p>
        <p><a href="/modes/emirates-air-line/opening-hours-frequency">Emirates Air Line timetable</a></p>
        <p>Emirates Air Line fares</p>
    

            </div>
        </div>
    </div>
 <div class="expandable-box">




        <div class="content">
            <div class="always-visible" role="button" aria-controls="coaches-content" aria-expanded="false" tabindex="0">
                <div class="controls" data-tracking="prop36" data-tracking-value="Quick references-Coaches"><span class="visually-hidden">Toggle accordion</span></div>
                <div id="coaches-heading" class="accordion-heading">Coaches</div>
            </div>
            <div id="coaches-content" class="start-hidden" role="region" aria-labelledby="coaches-heading">

        <p><a href="/modes/coaches/index">Coaches landing page</a> on TfL.gov.uk</p>
         
    

            </div>
        </div>
    </div>
 <div class="expandable-box">




        <div class="content">
            <div class="always-visible" role="button" aria-controls="river-content" aria-expanded="false" tabindex="0">
                <div class="controls" data-tracking="prop36" data-tracking-value="Quick references-River"><span class="visually-hidden">Toggle accordion</span></div>
                <div id="river-heading" class="accordion-heading">River</div>
            </div>
            <div id="river-content" class="start-hidden" role="region" aria-labelledby="river-heading">

        <p><a href="/modes/river/index">River landing page</a> on the TfL website</p>
        <p><a href="http://www.tfl.gov.uk/maps/river">River maps</a></p>
        <p><a href="http:// http://www.tfl.gov.uk/river/status">River Bus status updates</a></p>
        <p><a href="http://www.tfl.gov.uk/travel-information/timetables/">River timetable</a></p>
        <p>River fares</p>
    

            </div>
        </div>
    </div>
 <div class="expandable-box">




        <div class="content">
            <div class="always-visible" role="button" aria-controls="visitors-content" aria-expanded="false" tabindex="0">
                <div class="controls" data-tracking="prop36" data-tracking-value="Quick references-Visitors"><span class="visually-hidden">Toggle accordion</span></div>
                <div id="visitors-heading" class="accordion-heading">Visitors</div>
            </div>
            <div id="visitors-content" class="start-hidden" role="region" aria-labelledby="visitors-heading">
<p><a href="/travel-information/visiting-london/index">Visiting London landing page</a> on the TfL website</p>
<p><a href="/travel-information/visiting-london/getting-around-london/visitor-centres">Travel Information Centres</a></p>
<p><a href="/maps/visitors-and-tourists">Visitor maps</a></p>

            </div>
        </div>
    </div>
 <div class="expandable-box">




        <div class="content">
            <div class="always-visible" role="button" aria-controls="contacts-content" aria-expanded="false" tabindex="0">
                <div class="controls" data-tracking="prop36" data-tracking-value="Quick references-Contacts"><span class="visually-hidden">Toggle accordion</span></div>
                <div id="contacts-heading" class="accordion-heading">Contacts</div>
            </div>
            <div id="contacts-content" class="start-hidden" role="region" aria-labelledby="contacts-heading">

        <p><a href="/corporate/useful-contacts/index">Useful contacts on TfL website</a></p>
        <p><a href="http://source.tfl/utils/phonebook/advanced.aspx">Source telephone directory</a> </p>
        <h3>Downloads</h3>
        <p><a href="http://luintranet.tfl/static/documents/strategy-commercial/knowledge-book.pdf#page=66">Useful numbers from Knowledgebook (PDF 2.22MB)</a></p>
    

            </div>
        </div>
    </div>
 
</div>
 
      
        
          
        
      
    
  </div>
  <div class="aside" role="complementary">
    
    
      <div class="share-widget-wrapper"></div>
    
    
   
    
    
    
      <div data-set="sidenav-container" class="large">
        
        
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
      </div>
    
    <div>
<div class="advert-tile unsponsored-style google-ads" aria-hidden="true">
  <div class="advert-link">
    <div class="advert-content">
        <div class="medium-large" data-advert="/76889402/non-targeted" data-advert-sizes="300, 250"></div>
        <div class="small" data-advert="/76889402/non-targeted" data-advert-sizes="300, 250"></div>
    </div>
  </div>
</div>
@{
    ViewBag.AmazonSlot = "'amznslots'";
    ViewBag.AmazonAds = "'3199'"; // to add another value, this needs to be ViewBag.AmazonAds = "'3199','xx'";
}
      

 </div>
    
      <div class="module-grid clearfix">
                    
        <div class="related-links">

    <h3>More customer service tools</h3>

<div class="vertical-button-container">

<a href="http://luintranet.tfl/" class="plain-button">LU intranet</a>
<a href="http://www.google.co.uk/maps" class="plain-button">Google maps</a>
<a href="http://www.google.co.uk/translate" class="plain-button">Google translate</a>
<a href="http://luintranet.tfl/working_here/training_dev/training/13224.html" class="plain-button">Help guides - mobiles</a>
    </div>
</div>
 
      </div>
    
    <div data-set="sidenav-container" class="small-medium"></div>
  </div>
</div>
 
 
        
        
        
            @{ViewBag.Description = "This page includes links to pages and documents which you may find useful for answering queries from customers. This information is intended for London Underground staff and many of the links will only work for TfL employees.";}
        
            
        


 