


@{ViewBag.Title = "August";}
        
        
<div class="r">
    <div class="breadcrumb-container" role="navigation">
        <span id="breadcrumb-label" class="visually-hidden">You are here:</span>
        <ol class="breadcrumbs clearfix" aria-labelledby="breadcrumb-label">
            <li class="home">
                <a href="/">
                    <span class="hide-text">Home</span>
                </a>
            </li>
            
                <li>
                    <a href="/info-for/media/index">Media</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases">Press releases</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases/2016">2016</a>
                </li>
                
                <li>
                    <span class="last-breadcrumb">August</span>
                </li>
            
 
            
 
            
 
            
 
        </ul>
    </div>
</div>
     
 
<div class="r">
    <div class="headline-container plain">
        <h1>August</h1>
    </div>
</div>

<div class="main-and-aside r">
    <div class="main" role="main">

<div class="on-this-page">


     


<div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2016/august/charing-cross-ticket-halls-to-be-renovat">Charing Cross ticket halls to be renovated <br />30 Aug 2016</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2016/august/please-offer-me-a-seat---new-badge-created-for-those-less-able-to-stand">Please offer me a seat - new badge created for those less able to stand<br />30 Aug 2016</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2016/august/new-tube-map-launched-to-help-get-londoners-walki">New Tube map launched to help get Londoners walking <br />29 Aug 2016</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2016/august/update-on-bus-routes-affected-by-industrial-action-on-tower-transit-services-friday-26th-august">Update on bus routes affected by industrial action on Tower Transit services: Friday 26th August<br />26 Aug 2016</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2016/august/mistajam-helps-londoners-to-get-into-the-carnival-spirit-and-plan-ahead">MistaJam helps Londoners to get into the Carnival spirit and plan ahead<br />25 Aug 2016</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2016/august/advice-to-bus-passengers-during-planned-industrial-action-on-tower-transit">Advice to Bus passengers during planned industrial action on Tower Transit<br />24 Aug 2016</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2016/august/over-50-000-journeys-completed-on-london-s-first-night-tube-services">Over 50,000 journeys completed on London's first Night Tube services<br />20 Aug 2016</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2016/august/tfl-introduces-new-friday-and-saturday-night-bus-services-to-night-tube">TfL introduces new Friday and Saturday night bus services to support Night Tube<br />17 Aug 2016</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2016/august/innovative-new-fan-chiller-to-help-customers-beat-the-heat">Innovative new fan chiller to help customers beat the heat<br />16 Aug 2016</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2016/august/tfl-adds-night-tube-data-to-open-data-resource">TfL adds Night Tube data to open-data resource<br />16 Aug 2016</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2016/august/extra-police-to-help-keep-night-tube-passengers-safe">Extra police to help keep Night Tube passengers safe<br />15 Aug 2016</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2016/august/public-choose-the-most-public-transport-friendly-buggies">Public choose the most 'public transport friendly' buggies<br />11 Aug 2016</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2016/august/highbury-corner-proposals-backed">Highbury Corner proposals backed<br />10 Aug 2016</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2016/august/real-time-traffic-updates-to-be-displayed-on-buses">Real-time traffic updates to be displayed on buses<br />10 Aug 2016</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2016/august/escalator-refurbishment-work-to-start-at-holborn-station">Escalator refurbishment work to start at Holborn station<br />09 Aug 2016</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2016/august/tfl-offers-weekend-of-free-santander-cycles-access-to-celebrate-sixth-anniversary">TfL offers weekend of free Santander Cycles access to celebrate sixth anniversary<br />09 Aug 2016</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2016/august/contractor-sought-to-build-transformational-barking-riverside-extensi">Contractor sought to build transformational Barking Riverside extension <br />08 Aug 2016</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2016/august/all-aboard-for-this-year-s-bus-garage-open-days">All aboard for this year's bus garage open days<br />05 Aug 2016</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2016/august/have-your-say-on-proposed-changes-to-bus-route-5">Have your say on proposed changes to bus route 5<br />05 Aug 2016</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2016/august/local-residents-back-safety-improvements-at-hammersmith-gyratory">Local residents back safety improvements at Hammersmith gyratory<br />05 Aug 2016</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2016/august/river-passengers-to-benefit-from-two-tfl-pier-extensions">River passengers to benefit from two TfL pier extensions<br />05 Aug 2016</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2016/august/-report-it-to-stop-it-campaign-encouraging-greater-reporting-of-unwanted-sexual-behaviour">'Report It to Stop It' campaign encouraging greater reporting of unwanted sexual behaviour<br />03 Aug 2016</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2016/august/sixty-per-cent-support-for-new-cycle-route-from-swiss-cottage-to-the-west-end">Sixty per cent support for new cycle route from Swiss Cottage to the West End<br />03 Aug 2016</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2016/august/mayor-quadruples-team-tackling-illegal-taxi-and-minicab-activity">Mayor quadruples team tackling illegal taxi and minicab activity<br />02 Aug 2016</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2016/august/redevelopment-of-custom-house-dlr-station-to-prepare-for-elizabeth-line-services">Redevelopment of Custom House DLR station to prepare for Elizabeth line services<br />01 Aug 2016</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2016/august/new-lifts-transform-accessibility-at-tower-hill-tube-station">New lifts transform accessibility at Tower Hill Tube station<br />01 Aug 2016</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2016/august/bakerloo-line-serves-paddington-station-again-from-today">Bakerloo line serves Paddington station again from today<br />01 Aug 2016</a></div>


        
        
        
        @this.ScriptBlock(
        @<script>
        queue.push("@Html.ScriptPath("modules/M020-on-this-page.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">
        
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
                <a href="/info-for/media/index" class="heading">
                    <h2 id="sub-menu-heading">Media<span class="visually-hidden"> navigation</span></h2>
                </a>
                <ul>
                    
                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases">Press releases</a></div>
                                <ul>
                                    
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2020">2020</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019">2019</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018">2018</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017">2017</a></div></li>
                            
 
                                        <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016">2016</a></div>
                                        <ul>
                                            
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016/january">January</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016/february">February</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016/march">March</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016/april">April</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016/may">May</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016/june">June</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016/july">July</a></div></li>
                                    
 
                                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016/august">August</a></div>
                                                <ul>
                                                    
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
                                                </ul>
                                            
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016/september">September</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016/october">October</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016/november">November</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016/december">December</a></div></li>
                                    
 
                                        </ul>
                                    </li>
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015">2015</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014">2014</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2013">2013</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2012">2012</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2011">2011</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2010">2010</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2009">2009</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2008">2008</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2007">2007</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2006">2006</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2005">2005</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2004">2004</a></div></li>
                            
 
                                </ul>
                            </li>
 
                                <li><div class="link-wrapper"><a href="/info-for/media/photos">Photos</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/media/contact-the-press-office">Contact the Press Office</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/filming-and-photography">Filming & photography</a></div></li>
                            
 
                </ul>
            
 
 
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>


<div></div>

        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>
 
        
        
            @{ViewBag.Description = "Press releases from August 2016";}
        
        


 