


@{ViewBag.Title = "February";}
        
        
<div class="r">
    <div class="breadcrumb-container" role="navigation">
        <span id="breadcrumb-label" class="visually-hidden">You are here:</span>
        <ol class="breadcrumbs clearfix" aria-labelledby="breadcrumb-label">
            <li class="home">
                <a href="/">
                    <span class="hide-text">Home</span>
                </a>
            </li>
            
                <li>
                    <a href="/info-for/media/index">Media</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases">Press releases</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases/2016">2016</a>
                </li>
                
                <li>
                    <span class="last-breadcrumb">February</span>
                </li>
            
 
            
 
            
 
            
 
        </ul>
    </div>
</div>
     
 
<div class="r">
    <div class="headline-container plain">
        <h1>February</h1>
    </div>
</div>

<div class="main-and-aside r">
    <div class="main" role="main">

<div class="on-this-page">


     


<div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2016/february/emirates-air-line-to-close-for-annual-week-of-maintenan">Emirates Air Line to close for annual week of maintenance <br />29 Feb 2016</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2016/february/london-underground-named-train-operator-of-the-year">London Underground named Train Operator of the Year<br />26 Feb 2016</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2016/february/julian-clary-teams-up-with-transport-for-london-for-world-book-day">Julian Clary teams up with Transport for London for World Book Day<br />24 Feb 2016</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2016/february/-report-it-to-stop-it-increases-public-confidence-to-report-unwanted-sexual-behaviour">'Report it to Stop it' increases public confidence to report unwanted sexual behaviour<br />24 Feb 2016</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2016/february/crossrail-to-become-the-elizabeth-line-in-honour-of-her-majesty-the-queen">Crossrail to become the Elizabeth line in honour of Her Majesty the Queen<br />23 Feb 2016</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2016/february/major-improvement-works-at-paddington-paves-the-way-for-crossrail">Major improvement works at Paddington paves the way for Crossrail<br />19 Feb 2016</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2016/february/new-freight-facility-to-cut-congestion-and-improve-road-safety-around-the-shard">New freight facility to cut congestion and improve road safety around The Shard<br />19 Feb 2016</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2016/february/-tfl-hosts-uk-s-first-ever-buggy-summ"> TfL hosts UK's first ever Buggy Summit <br />18 Feb 2016</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2016/february/tfl-funding-for-street-improvement-trials">TfL funding for street-improvement trials<br />18 Feb 2016</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2016/february/tfl-publishes-latest-bus-safety-statistics">TfL publishes latest bus safety statistics<br />16 Feb 2016</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2016/february/tfl-reminder-assistance-dogs-are-your-passengers-t">TfL reminder 'assistance dogs are your passengers too'<br />12 Feb 2016</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2016/february/ex-service-members-to-benefit-as-tfl-signs-the-armed-forces-covenant">Ex-Service members to benefit as TfL signs the Armed Forces covenant<br />11 Feb 2016</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2016/february/whitechapel-work-prepares-station-for-crossrail-boost">Whitechapel work prepares station for Crossrail boost<br />10 Feb 2016</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2016/february/station-improvements-in-preparation-for-crossrail">Station improvements in preparation for Crossrail<br />09 Feb 2016</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2016/february/transformation-of-croydon-fiveways-moves-a-step-closer">Transformation of Croydon Fiveways moves a step closer<br />09 Feb 2016</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2016/february/mayor-launches-world-leading-bus-safety-programme">Mayor launches world-leading bus safety programme<br />01 Feb 2016</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2016/february/tfl-s-streetscape-guidance-sets-the-standard-for-urban-desi">TfL's Streetscape Guidance sets the standard for urban design <br />09 Feb 2016</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2016/february/new-look-highbury-corner-plans-published">New look Highbury Corner plans published<br />08 Feb 2016</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2016/february/lu-confirms-cancellation-of-rmt-tube-stri">LU confirms cancellation of RMT Tube strike <br />05 Feb 2016</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2016/february/route-68-now-served-by-new-routemaster-bus">Route 68 now served by New Routemaster buses <br />05 Feb 2016</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2016/february/major-improvements-proposed-for-hammersmith-gyrato">Major improvements proposed for Hammersmith gyratory <br />04 Feb 2016</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2016/february/-tube-strike-travel-advice-for-customers-and-road-users"> Tube strike travel advice for customers and road users<br />04 Feb 2016</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2016/february/tfl-selects-13-property-partners-to-help-it-deliver-thousands-of-homes-for-lond">TfL selects 13 property partners to help it deliver thousands of homes for London <br />03 Feb 2016</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2016/february/card-payments-to-be-accepted-in-every-black-cab">Card payments to be accepted in every black cab<br />03 Feb 2016</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2016/february/join-children-s-traffic-club-london-and-learn-road-safety-lessons-for-life">Join Children's Traffic Club London and learn road safety lessons for life<br />02 Feb 2016</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2016/february/mayor-launches-world-leading-bus-safety-program">Mayor launches world-leading bus safety programme <br />01 Feb 2016</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2016/february/work-begins-to-transform-archway-into-a-safer-and-more-attractive-area">Work begins to transform Archway into a safer and more attractive area<br />01 Feb 2016</a></div>


        
        
        
        @this.ScriptBlock(
        @<script>
        queue.push("@Html.ScriptPath("modules/M020-on-this-page.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">
        
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
                <a href="/info-for/media/index" class="heading">
                    <h2 id="sub-menu-heading">Media<span class="visually-hidden"> navigation</span></h2>
                </a>
                <ul>
                    
                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases">Press releases</a></div>
                                <ul>
                                    
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2020">2020</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019">2019</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018">2018</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017">2017</a></div></li>
                            
 
                                        <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016">2016</a></div>
                                        <ul>
                                            
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016/january">January</a></div></li>
                                    
 
                                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016/february">February</a></div>
                                                <ul>
                                                    
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
                                                </ul>
                                            
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016/march">March</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016/april">April</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016/may">May</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016/june">June</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016/july">July</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016/august">August</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016/september">September</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016/october">October</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016/november">November</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016/december">December</a></div></li>
                                    
 
                                        </ul>
                                    </li>
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015">2015</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014">2014</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2013">2013</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2012">2012</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2011">2011</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2010">2010</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2009">2009</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2008">2008</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2007">2007</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2006">2006</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2005">2005</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2004">2004</a></div></li>
                            
 
                                </ul>
                            </li>
 
                                <li><div class="link-wrapper"><a href="/info-for/media/photos">Photos</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/media/contact-the-press-office">Contact the Press Office</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/filming-and-photography">Filming & photography</a></div></li>
                            
 
                </ul>
            
 
 
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>


<div></div>

        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>
 
        
        
            @{ViewBag.Description = "Press releases from February 2016";}
        
        


 