


@{ViewBag.Title = "July";}
        
        
<div class="r">
    <div class="breadcrumb-container" role="navigation">
        <span id="breadcrumb-label" class="visually-hidden">You are here:</span>
        <ol class="breadcrumbs clearfix" aria-labelledby="breadcrumb-label">
            <li class="home">
                <a href="/">
                    <span class="hide-text">Home</span>
                </a>
            </li>
            
                <li>
                    <a href="/info-for/media/index">Media</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases">Press releases</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases/2016">2016</a>
                </li>
                
                <li>
                    <span class="last-breadcrumb">July</span>
                </li>
            
 
            
 
            
 
            
 
        </ul>
    </div>
</div>
     
 
<div class="r">
    <div class="headline-container plain">
        <h1>July</h1>
    </div>
</div>

<div class="main-and-aside r">
    <div class="main" role="main">

<div class="on-this-page">


     


<div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2016/july/reminder-works-at-camden-town-tube-station-to-boost-reliability">Reminder: Works at Camden Town Tube station to boost reliability<br />27 Jul 2016</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2016/july/whitechapel-station-prepares-for-elizabeth-line-services">Whitechapel station prepares for Elizabeth line services<br />22 Jul 2016</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2016/july/round-two-of-tfl-s-cycling-grants-london-launches">Round two of TfL's 'Cycling Grants London' launches<br />21 Jul 2016</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2016/july/overwhelming-support-for-extension-of-north-south-cycle-superhighway">Overwhelming support for extension of North-South Cycle Superhighway<br />29 Jul 2016</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2016/july/first-elizabeth-line-train-takes-to-the-test-track">First Elizabeth line train takes to the test track<br />29 Jul 2016</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2016/july/tfl-and-hackney-council-to-trial-traffic-reduction-schemes-to-complement-cycle-superhighway-1">TfL and Hackney Council to trial traffic reduction schemes to complement Cycle Superhighway 1<br />22 Jul 2016</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2016/july/police-and-tfl-stand-together-against-hate-crime">Police and TfL stand together against hate crime<br />20 Jul 2016</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2016/july/tfl-teams-up-with-danone-to-hand-out-free-bottles-of-evian-to-tube-passenge">TfL teams up with Danone to hand out free bottles of evian to Tube passengers <br />18 Jul 2016</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2016/july/staff-who-go-the-extra-mile-recognised-at-london-bus-awards">Staff who go the extra mile recognised at London Bus Awards<br />18 Jul 2016</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2016/july/british-telecom-prosecuted-for-second-time-in-three-weeks-for-dangerous-and-disruptive-work">British Telecom prosecuted for second time in three weeks for dangerous and disruptive work<br />14 Jul 2016</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2016/july/licencing-london-s-contactless-ticketing-system">Licencing London's contactless ticketing system<br />13 Jul 2016</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2016/july/reminder-lambeth-north-customers-to-benefit-from-new-lifts">Reminder: Lambeth North customers to benefit from new lifts<br />11 Jul 2016</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2016/july/crossrail-2-developed-further-in-response-to-community-comments">Crossrail 2 developed further in response to community comments<br />07 Jul 2016</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2016/july/400th-anniversary-of-shakespeare-s-death-marked-with-poems-on-the-underground">400th anniversary of Shakespeare's death marked with Poems on the Underground<br />04 Jul 2016</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2016/july/tfl-successfully-prosecutes-second-utility-company-in-seven-days-for-mismanaging-streetwor">TfL successfully prosecutes second utility company in seven days for mismanaging streetworks <br />01 Jul 2016</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2016/july/whitechapel-work-prepares-station-for-elizabeth-line-services">Whitechapel work prepares station for Elizabeth line services<br />01 Jul 2016</a></div>


        
        
        
        @this.ScriptBlock(
        @<script>
        queue.push("@Html.ScriptPath("modules/M020-on-this-page.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">
        
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
                <a href="/info-for/media/index" class="heading">
                    <h2 id="sub-menu-heading">Media<span class="visually-hidden"> navigation</span></h2>
                </a>
                <ul>
                    
                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases">Press releases</a></div>
                                <ul>
                                    
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2020">2020</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019">2019</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018">2018</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017">2017</a></div></li>
                            
 
                                        <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016">2016</a></div>
                                        <ul>
                                            
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016/january">January</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016/february">February</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016/march">March</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016/april">April</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016/may">May</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016/june">June</a></div></li>
                                    
 
                                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016/july">July</a></div>
                                                <ul>
                                                    
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
                                                </ul>
                                            
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016/august">August</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016/september">September</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016/october">October</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016/november">November</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016/december">December</a></div></li>
                                    
 
                                        </ul>
                                    </li>
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015">2015</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014">2014</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2013">2013</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2012">2012</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2011">2011</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2010">2010</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2009">2009</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2008">2008</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2007">2007</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2006">2006</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2005">2005</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2004">2004</a></div></li>
                            
 
                                </ul>
                            </li>
 
                                <li><div class="link-wrapper"><a href="/info-for/media/photos">Photos</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/media/contact-the-press-office">Contact the Press Office</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/filming-and-photography">Filming & photography</a></div></li>
                            
 
                </ul>
            
 
 
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>


<div></div>

        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>
 
        
        
            @{ViewBag.Description = "Press releases from July 2016";}
        
        


 