


@{ViewBag.Title = "March";}
        
        
<div class="r">
    <div class="breadcrumb-container" role="navigation">
        <span id="breadcrumb-label" class="visually-hidden">You are here:</span>
        <ol class="breadcrumbs clearfix" aria-labelledby="breadcrumb-label">
            <li class="home">
                <a href="/">
                    <span class="hide-text">Home</span>
                </a>
            </li>
            
                <li>
                    <a href="/info-for/media/index">Media</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases">Press releases</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases/2016">2016</a>
                </li>
                
                <li>
                    <span class="last-breadcrumb">March</span>
                </li>
            
 
            
 
            
 
            
 
        </ul>
    </div>
</div>
     
 
<div class="r">
    <div class="headline-container plain">
        <h1>March</h1>
    </div>
</div>

<div class="main-and-aside r">
    <div class="main" role="main">

<div class="on-this-page">


     


<div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2016/march/wimbledon-tram-services-increase-by-50-per-cent">Wimbledon Tram services increase by 50 per cent<br />31 Mar 2016</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2016/march/major-improvement-work-at-paddington-tube-station-starting-on-2-apr">Major improvement work at Paddington Tube station start 2 Apr<br />30 Mar 2016</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2016/march/no-piccadilly-line-services-today-due-to-strike-action">No Piccadilly line services today due to strike action<br />24 Mar 2016</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2016/march/central-line-running-following-emergency-repairs">Central line running following emergency repairs<br />24 Mar 2016</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2016/march/reminder-travel-advice-ahead-of-tonight-s-piccadilly-line-strike">REMINDER: Travel advice ahead of tonight's Piccadilly line strike<br />23 Mar 2016</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2016/march/travel-advice-for-customers-ahead-of-the-piccadilly-line-strike-threatened-by-tube-unions">Travel advice for customers ahead of the Piccadilly line strike threatened by Tube unions<br />21 Mar 2016</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2016/march/transformation-of-wandsworth-town-centre-to-start-in-20">Transformation of Wandsworth Town Centre to start in 2018 <br />18 Mar 2016</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2016/march/mayor-welcomes-the-launch-of-new-tfl-incident-support-line">Mayor welcomes the launch of new TfL incident support line<br />18 Mar 2016</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2016/march/a-more-welcoming-vauxhall-is-one-step-clos">A more welcoming Vauxhall is one step closer <br />18 Mar 2016</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2016/march/-major-safety-change-to-come-at-westminster-bridge-south-roundabout"> Major safety change to come at Westminster Bridge South Roundabout<br />18 Mar 2016</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2016/march/successful-trials-prove-effectiveness-of-speed-limiting-technology-on-buses">Successful trials prove effectiveness of speed limiting technology on buses<br />18 Mar 2016</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2016/march/tfl-board-approves-new-plan-to-modernise-london-s-private-hire-industry">TfL Board approves new plan to modernise London's private hire industry<br />18 Mar 2016</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2016/march/arriva-named-as-new-operator-for-london-overground">Arriva named as new operator for London Overground<br />18 Mar 2016</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2016/march/tfl-selects-exterion-media-as-its-media-partner-for-the-world-s-largest-rail-advertising-contra">TfL selects Exterion Media as its media partner for the world's largest rail advertising contract <br />17 Mar 2016</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2016/march/mayor-gives-the-green-light-for-london-overground-extension-to-barking-riverside">Mayor gives the green light for London Overground extension to Barking Riverside<br />17 Mar 2016</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2016/march/full-steam-ahead-for-crossrail-2">Full steam ahead for Crossrail 2<br />16 Mar 2016</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2016/march/tfl-given-the-greenlight-for-development-above-future-nine-elms-tube-stati">TfL given the greenlight for development above future Nine Elms Tube station <br />16 Mar 2016</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2016/march/tfl-celebrates-the-contribution-of-apprentices-to-london-s-transport-network">TfL celebrates the contribution of apprentices to London's transport network<br />15 Mar 2016</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2016/march/overwhelming-support-for-further-river-crossings-in-east-london-to-help-support-growth">Overwhelming support for further river crossings in east London to help support growth<br />15 Mar 2016</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2016/march/new-cycle-parking-hubs-to-open-at-hounslow-west-and-north-greenwi">New cycle parking hubs to open at Hounslow West and North Greenwich <br />15 Mar 2016</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2016/march/tfl-publishes-2016-17-budget-and-business-plan">TfL Publishes 2016/17 Budget and Business Plan<br />15 Mar 2016</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2016/march/london-underground-planspilot-of-new-escalator-arrangement-at-holborn-tube-station">London Underground to pilot new escalator arrangement at Holborn Tube station<br />10 Mar 2016</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2016/march/caledonian-road-tube-station-to-remain-open-during-vital-lift-upgrade-work">Caledonian Road Tube station to remain open during vital lift upgrade work<br />10 Mar 2016</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2016/march/tfl-proposals-to-modernise-london-s-private-hire-industry">TfL proposals to modernise London's private hire industry<br />10 Mar 2016</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2016/march/strong-support-for-plans-to-transform-camden-town-station">Strong support for plans to transform Camden Town station<br />09 Mar 2016</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2016/march/pay-as-you-go-travel-with-contactless-and-oyster-extends-to-swanley">Pay as you go travel with contactless and Oyster extends to Swanley<br />04 Mar 2016</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2016/march/tufnell-park-tube-station-re-opens-early-with-brand-new-lif">Tufnell Park Tube station re-opens early with brand new lifts <br />04 Mar 2016</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2016/march/longer-journeys-on-piccadilly-line-this-weekend-due-to-essential-upgrade-work">Longer journeys on Piccadilly line this weekend due to essential upgrade work<br />03 Mar 2016</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2016/march/metropolitan-line-journeys-to-be-made-quicker-and-more-reliab">Metropolitan Line journeys to be made quicker and more reliable <br />01 Mar 2016</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2016/march/operation-winchester-tackling-motorcycle-and-scooter-fatalities-in-london">Operation 'Winchester' tackling motorcycle and scooter fatalities in London<br />02 Mar 2016</a></div>


        
        
        
        @this.ScriptBlock(
        @<script>
        queue.push("@Html.ScriptPath("modules/M020-on-this-page.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">
        
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
                <a href="/info-for/media/index" class="heading">
                    <h2 id="sub-menu-heading">Media<span class="visually-hidden"> navigation</span></h2>
                </a>
                <ul>
                    
                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases">Press releases</a></div>
                                <ul>
                                    
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2020">2020</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019">2019</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018">2018</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017">2017</a></div></li>
                            
 
                                        <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016">2016</a></div>
                                        <ul>
                                            
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016/january">January</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016/february">February</a></div></li>
                                    
 
                                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016/march">March</a></div>
                                                <ul>
                                                    
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
                                                </ul>
                                            
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016/april">April</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016/may">May</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016/june">June</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016/july">July</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016/august">August</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016/september">September</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016/october">October</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016/november">November</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016/december">December</a></div></li>
                                    
 
                                        </ul>
                                    </li>
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015">2015</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014">2014</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2013">2013</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2012">2012</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2011">2011</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2010">2010</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2009">2009</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2008">2008</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2007">2007</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2006">2006</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2005">2005</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2004">2004</a></div></li>
                            
 
                                </ul>
                            </li>
 
                                <li><div class="link-wrapper"><a href="/info-for/media/photos">Photos</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/media/contact-the-press-office">Contact the Press Office</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/filming-and-photography">Filming & photography</a></div></li>
                            
 
                </ul>
            
 
 
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>


<div></div>

        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>
 
        
        
            @{ViewBag.Description = "Press releases from March 2016";}
        
        


 