


@{ViewBag.Title = "October";}
        
        
<div class="r">
    <div class="breadcrumb-container" role="navigation">
        <span id="breadcrumb-label" class="visually-hidden">You are here:</span>
        <ol class="breadcrumbs clearfix" aria-labelledby="breadcrumb-label">
            <li class="home">
                <a href="/">
                    <span class="hide-text">Home</span>
                </a>
            </li>
            
                <li>
                    <a href="/info-for/media/index">Media</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases">Press releases</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases/2016">2016</a>
                </li>
                
                <li>
                    <span class="last-breadcrumb">October</span>
                </li>
            
 
            
 
            
 
            
 
        </ul>
    </div>
</div>
     
 
<div class="r">
    <div class="headline-container plain">
        <h1>October</h1>
    </div>
</div>

<div class="main-and-aside r">
    <div class="main" role="main">

<div class="on-this-page">


     


<div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2016/october/all-london-black-cabs-to-take-cards-and-contactless-payments-from-mond">All London black cabs to take cards and contactless payments from Monday <br />28 Oct 2016</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2016/october/-londonisopen-greets-canary-wharf-passengers-on-largest-ever-tube-advertising-scree">#LondonIsOpen greets Canary Wharf passengers on largest ever Tube advertising screens <br />28 Oct 2016</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2016/october/santander-cycles-light-the-way-for-jessica-ennis-hill-and-london-s-cyclists">Santander Cycles light the way for Jessica Ennis-Hill and London's cyclists<br />25 Oct 2016</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2016/october/reminder-a1-closures-start-tomorrow">Reminder: A1 closures start tomorrow<br />20 Oct 2016</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2016/october/tfl-trials-new-digital-bus-stop-display-sign">TfL trials new digital bus stop display sign<br />17 Oct 2016</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2016/october/deputy-mayor-for-transport-officially-opens-new-west-croydon-bus-station">Deputy Mayor for Transport officially opens new West Croydon bus station<br />12 Oct 2016</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2016/october/new-advertising-contract-to-raise-13m-for-reinvestment">New advertising contract to raise &pound;13m for reinvestment<br />11 Oct 2016</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2016/october/a1-closures-as-part-of-upper-holloway-bridge-replaceme">A1 closures as part of Upper Holloway Bridge replacement <br />10 Oct 2016</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2016/october/activity-for-national-hate-crime-awareness-week">Activity for National Hate Crime Awareness Week<br />10 Oct 2016</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2016/october/deputy-mayor-celebrates-supplier-that-helps-keep-london-moving">Deputy Mayor celebrates supplier that helps keep London moving<br />04 Oct 2016</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2016/october/telecoms-giant-fined-for-mismanaging-streetworks-for-second-time-in-four-mont">Telecoms giant fined for mismanaging streetworks for second time in four months <br />03 Oct 2016</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2016/october/reminder-minimising-disruption-during-tower-bridge-closure">REMINDER: Minimising disruption during Tower Bridge closure<br />02 Oct 2016</a></div>


        
        
        
        @this.ScriptBlock(
        @<script>
        queue.push("@Html.ScriptPath("modules/M020-on-this-page.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">
        
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
                <a href="/info-for/media/index" class="heading">
                    <h2 id="sub-menu-heading">Media<span class="visually-hidden"> navigation</span></h2>
                </a>
                <ul>
                    
                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases">Press releases</a></div>
                                <ul>
                                    
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2020">2020</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019">2019</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018">2018</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017">2017</a></div></li>
                            
 
                                        <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016">2016</a></div>
                                        <ul>
                                            
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016/january">January</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016/february">February</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016/march">March</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016/april">April</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016/may">May</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016/june">June</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016/july">July</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016/august">August</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016/september">September</a></div></li>
                                    
 
                                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016/october">October</a></div>
                                                <ul>
                                                    
 
 
 
 
 
 
 
 
 
 
 
 
                                                </ul>
                                            
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016/november">November</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016/december">December</a></div></li>
                                    
 
                                        </ul>
                                    </li>
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015">2015</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014">2014</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2013">2013</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2012">2012</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2011">2011</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2010">2010</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2009">2009</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2008">2008</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2007">2007</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2006">2006</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2005">2005</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2004">2004</a></div></li>
                            
 
                                </ul>
                            </li>
 
                                <li><div class="link-wrapper"><a href="/info-for/media/photos">Photos</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/media/contact-the-press-office">Contact the Press Office</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/filming-and-photography">Filming & photography</a></div></li>
                            
 
                </ul>
            
 
 
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>


<div></div>

        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>
 
        
        
            @{ViewBag.Description = "Press releases from October 2016";}
        
        


 