


@{ViewBag.Title = "Filming & photography on TfL";}
        
        
<div class="r">
    <div class="breadcrumb-container" role="navigation">
        <span id="breadcrumb-label" class="visually-hidden">You are here:</span>
        <ol class="breadcrumbs clearfix" aria-labelledby="breadcrumb-label">
            <li class="home">
                <a href="/">
                    <span class="hide-text">Home</span>
                </a>
            </li>
            
                <li>
                    <a href="/info-for/media/index">Media</a>
                </li>
                
                <li>
                    <a href="/info-for/media/filming-and-photography">Filming & photography</a>
                </li>
                
                <li>
                    <span class="last-breadcrumb">Filming & photography on TfL</span>
                </li>
            
 
            
 
            
 
        </ul>
    </div>
</div>
     
 
<div class="r">
    <div class="headline-container plain">
        <h1>Filming & photography on TfL</h1>
    </div>
</div>

<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        This guide should tell you everything you need to know about filming or taking photos on the TfL network. If you have more questions, feel free to contact us.        
        
            
        
    </div>

<div class="on-this-page">


     
<div>

<p>The TfL Film Office covers the following modes:</p>

<ul>
	<li>London Underground (LU)</li>
	<li>London Overground (LO)</li>
	<li>Docklands Light Railway (DLR)</li>
	<li>Trams</li>
	<li>TfL piers</li>
	<li>Emirates Air Line</li>
	<li>Victoria Coach Station</li>
</ul>

<p>See also:</p>

<ul>
	<li><a href="/info-for/media/filming-and-photography/filming-and-photography-on-buses">Filming &amp; photography on buses</a></li>
	<li><a href="/info-for/media/filming-and-photography/filming-and-photography-on-the-roads">Filming &amp; photography on the roads</a></li>
</ul>

<h2>Permits and costs</h2>

<p>If you want to film or take photographs on the TfL network, you must ask permission ahead of time from the TfL Film Office.</p>

<p>All permit requests must be made in writing, using our <a href="#apply">downloadable application form</a>.</p>

<p>A late notice fee of &pound;600 plus VAT will be charged for applications made within two weeks of the date you want to start filming.</p>

<p>A &pound;300 admin fee will be charged for changes to an existing booking requested within five days of filming.</p>

<p>The cost of permits varies depending on which type you need. Unless indicated, all prices are exclusive of VAT.</p>

<h3>Location permit (from &pound;800 per hour)</h3>

<ul>
	<li>Crew size 1-10 people: &pound;800 per hour</li>
	<li>Crew size 10-20 people: &pound;1,000 per hour</li>
	<li>Crew size of 20<strong>*</strong> or more: From &pound;1,200 per hour</li>
	<li>Use of exclusive area (Charing Cross, Aldwych): Price on application</li>
	<li>Emirates Air Line: From &pound;300 an hour plus VAT per cable car (approximately 3 return trips an hour)</li>
</ul>

<p><strong>*</strong> Crew/cast size is determined by choice of station.</p>

<p>There may be an additional flat cost of &pound;600 if filming from Zone 4 onwards.</p>

<p>Requests for evenings and weekends do not include staff costs. Staff overtime costs start at &pound;500.</p>

<h3>Two-hour permit - &pound;700 plus VAT</h3>

<ul>
	<li>Crew size: up to 5 people*</li>
	<li>Hand held equipment only</li>
	<li>Access in zones 1 and 2 only</li>
	<li>Valid Monday to Friday, 10:00 to 15:30</li>
	<li>&pound;400 plus VAT for students</li>
</ul>

<p>*This permit is for a maximum of 5, arriving with more people will invalidate the permit and the normal location rate will be charged before filming/photography starts.</p>

<h3>Exclusive areas</h3>

<p>Exclusive areas can include:</p>

<ul>
	<li>Closed or separated areas from the public</li>
	<li>Own train</li>
	<li>Use of station platforms</li>
	<li>Working escalators</li>
	<li>Prices start from &pound;1,000 per hour for photography or &pound;2,000 per hour for filming</li>
</ul>

<h3>Other costs</h3>

<p>If you wish to use our <a href="#electrical">electrical power</a> supply, we will charge you for an electrician.</p>

<p>If you need special access (track or overnight), there is an additional cost.</p>

<h3>Private photographers</h3>

<p>We get many requests from tourists, train enthusiasts, budding photographers and customers 'passing through' a station who may want to take photographs for their own personal use. We agree that this is acceptable, at the station's discretion, as long as additional camera equipment (including flash and tripods) is not used.</p>

<p>However, images clearly promoting the London Underground brand/logos must not be published or broadcast without our permission ahead of time. Also, people filming or taking photographs for their own purposes on TfL's network are responsible for ensuring they comply with the requirements of <a href="https://ico.org.uk/">privacy and data protection legislation</a>.</p>

<h3>Students</h3>

<p>All filming and photography, including by students, needs supervision. The rate for a two hour permit is discounted&nbsp;for students to &pound;400 (plus VAT) for up to two hours of filming. Proof of attendance and the certificate of insurance must be provided.</p>

<p>Equipment must be hand held and no additional lighting can be used.</p>

<p>Filming must be done within Zones 1 and 2 and is restricted to the off-peak time of 10:00-15:30 (Monday to Friday) during the normal working week. If you need more than two hours and/or want&nbsp;to film outside these zones, then our standard rates (specified on the application form) will apply.</p>

<h2>Copyright</h2>

<p>We protect our brand and charge for its use. Find out how to apply to use our intellectual property on the <a href="https://tfl.gov.uk/info-for/suppliers-and-contractors/product-licensing">Product licensing page</a>.</p>

<h2>Payment terms</h2>

<p>Payment for all permits must be made either in advance or on the day. We accept&nbsp;BACS transfer.</p>

<h2>Insurance</h2>

<p>You must have a current policy of insurance, providing cover for death and personal injury to any person and loss of, or damage to, any property. Your public liability insurance must be for at least &pound;5,000,000.</p>

<h2>Notice period</h2>

<p>We require two weeks notice to set up an average-sized filming or photography facility. Sometimes this can be turned around faster, depending on the nature of the request.</p>

<h2>Access times to film or photograph</h2>

<p>We only permit filming and photography during off-peak periods:</p>

<ul>
	<li>Monday to Friday: 10:00-15:30 and 20:00-23:30</li>
	<li>Weekends: generally any time of day (depending on location)</li>
</ul>

<p>We don't recommend that you film or photograph when locations are closed at night because this is when essential engineering work is carried out. However, it may be possible during these hours if you give advance notice - and if there are no planned works at the location you wish to use.</p>

<h2>Script and copy approval</h2>

<h3>Scripts</h3>

<p>You will need to have your script or layout approved by the TfL Film Office before a permit is granted.</p>

<p>Permits will generally not be considered if a script or layout breaches or contradicts TfL byelaws or marketing campaigns or contains any or our <a href="#restrictions">filming restrictions</a>.</p>

<p>LU can refuse a permit application without providing specific reasons, but we will normally offer advice on how you can bring your script or layout into line with its restrictions.</p>

<p>You can send us a synopsis or storyline before submitting your full permit application.</p>

<h3>Advertising and copyright</h3>

<p>If your application involves an advertising campaign, please contact TfL's advertising contractor <a href="http://www.exterionmedia.com/uk/">Exterion Media</a> for information on copy approval.</p>

<p>It is your responsibility to make sure film or photographic content does not breach copyright or other intellectual property rights.</p>

<h2>Restrictions</h2>

<h3>Equipment</h3>

<p>We do not permit flash photography or additional lighting unless you are using an exclusive area. In some cases they may be used, the TfL Film Office and operational staff can advise you on this.</p>

<p>Tripods are only authorised at operational staff's discretion and are not allowed on station platforms or near escalators for safety reasons.</p>

<h3><a name="restrictions"></a>Filming restrictions</h3>

<p>In accordance with TfL company regulations, the following activities are not allowed to be filmed or photographed:</p>

<ul>
	<li>Vandalism or graffiti</li>
	<li>Assaults on passengers or staff</li>
	<li>Suicides</li>
	<li>Fare evasion or ticket touting</li>
	<li>Use of firearms or weapons</li>
	<li>Drinking or carrying open containers of alcohol</li>
	<li>Misuse of escalators or LU property</li>
	<li>Unlicensed busking</li>
	<li>Begging</li>
	<li>Smoking or the use of illegal drugs</li>
	<li>Behaving in an overtly sexual or indecent manner (including nudity)</li>
	<li>Direct threats (including terrorist) to LU, its staff or passengers</li>
	<li>Anything that may negatively affect the interests of the site owner</li>
</ul>

<p>The TfL Film Office can refuse permit applications which include activities which breach or contradict TfL company regulations and marketing campaigns.</p>

<h3><a name="drivers-cab"></a>Filming in the driver's cab</h3>

<p>It is possible to film in the driver's cab of London Underground or London Overground trains, but you need to contact the TfL Film Office in advance so that special arrangements can be made.</p>

<p>A member of operational staff will need to supervise the shoot and the driver must give permission. A maximum of two crew members with equipment can enter the driver's cab.</p>

<p>The cost is &pound;600 per hour.</p>

<h3><a name="electrical"></a>Electrical power</h3>

<p>We ask film crews to use battery-operated equipment.</p>

<p>LU operates on a different voltage system to the standard domestic set-up and connections to our power supply must be supervised by an LU electrician. This is a chargeable resource, if required please contact us for the current rate.</p>

<p>If you wish to use our power supply, we'll need advance notice so we can provide an electrician. You will be charged for their attendance on the day and for any pre-shoot meetings they attend.</p>

<p>The use of petrol or diesel generators is <strong>absolutely prohibited</strong> at LU, LO, and DLR stations and trains.</p>

<p><a name="apply"></a></p>

<h2>Apply for a permit</h2>

<p>Before you start your application, make sure you have all the following additional documentation:</p>

<ul>
	<li>Relevant copy of script/storyboard/brief/layout</li>
	<li>Certificate of insurance</li>
</ul>

<p>You must send all of these documents with your application otherwise we cannot process your request.</p>
</div>



 <div>





<div class="multi-document-download-container">
    

<a class="document-download-wrap " href="/cdn/static/cms/documents/tfl-filming-application-form.docx">
    <div class="document-download-text">
        <p>Application to film or photograph on TfL</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            DOCX 35KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

 
</div>

</div>



 
        
        
        
        @this.ScriptBlock(
        @<script>
        queue.push("@Html.ScriptPath("modules/M020-on-this-page.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">
        
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
                <a href="/info-for/media/index" class="heading">
                    <h2 id="sub-menu-heading">Media<span class="visually-hidden"> navigation</span></h2>
                </a>
                <ul>
                    
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases">Press releases</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/media/photos">Photos</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/media/contact-the-press-office">Contact the Press Office</a></div></li>
                            
 
                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/filming-and-photography">Filming & photography</a></div>
                                <ul>
                                    
                                        <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/filming-and-photography/filming-and-photography-on-tfl">Filming & photography on TfL</a></div>
                                        <ul>
                                            
                                        <li><div class="link-wrapper"><a href="/info-for/media/filming-and-photography/exclusive-areas">Exclusive areas</a></div></li>
                                    
 
                                        </ul>
                                    </li>
 
                                <li><div class="link-wrapper"><a href="/info-for/media/filming-and-photography/filming-and-photography-on-buses">Filming & photography on buses</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/media/filming-and-photography/filming-and-photography-on-the-roads">Filming & photography on the roads</a></div></li>
                            
 
                                </ul>
                            </li>
 
                </ul>
            
 
 
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>


<div></div>

        <div class="module-grid clearfix">
            
        <div>
    
    <div class="contact-info-box">
        <div class="contact-info-header">
            <h3>Contact the Film Office</h3>
        </div>
        
        
            
        
        
            
                
                 
        
        
        
        
        
        <div class="content-group">
            <p>
                <abbr title="Address">Write</abbr>
            </p>
            <p>Email <a href="mailto:filmoffice&#64;tfl.gov.uk">filmoffice&#64;tfl.gov.uk</a></p>

<p>&nbsp;</p>

<p>Or send a letter to:</p>

<p>TfL Film Office<br />
55 Broadway<br />
London SW1H 0BD</p>
        </div>
        
        
    </div>
</div>
 
        </div>

        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>
 
        
        
            @{ViewBag.Description = "The TfL Film Office offers guidance and issues permits to film or photograph on TfL";}
        
        


 