


@{ViewBag.Title = "Filming & photography on buses";}
        
        
<div class="r">
    <div class="breadcrumb-container" role="navigation">
        <span id="breadcrumb-label" class="visually-hidden">You are here:</span>
        <ol class="breadcrumbs clearfix" aria-labelledby="breadcrumb-label">
            <li class="home">
                <a href="/">
                    <span class="hide-text">Home</span>
                </a>
            </li>
            
                <li>
                    <a href="/info-for/media/index">Media</a>
                </li>
                
                <li>
                    <a href="/info-for/media/filming-and-photography">Filming & photography</a>
                </li>
                
                <li>
                    <span class="last-breadcrumb">Filming & photography on buses</span>
                </li>
            
 
            
 
            
 
        </ul>
    </div>
</div>
     
 
<div class="r">
    <div class="headline-container plain">
        <h1>Filming & photography on buses</h1>
    </div>
</div>

<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        We don't usually allow filming on buses that are actually in service. However, outside peak commuter hours you can hire a bus that will look like the bus on the route you wish to film, complete with driver.        
        
            
        
    </div>

<div class="on-this-page">
<p>Check your script with the <a href="/info-for/media/contact-the-press-office">Press Office</a> before hiring a London bus to film on.</p>

<p>You will also need to get permissions from us before you start to film or photograph on our network. <a href="/info-for/media/filming-and-photography/filming-and-photography-on-the-roads">Contact the red route team.</a></p>

<h2>Bus stations and depots</h2>

<p>You can't film in most working bus stations and depots. Some operators will allow limited filming as long as you meet the costs of providing filming supervision.</p>

<p>If you would like to explore any of these options, please contact one of the bus operators below. In most cases you will need to give at least seven days' notice.</p>

<p>You will also need to provide them with:</p>

<ul>
	<li>Proof of insurance</li>
	<li>Description of what you will be filming and what the film will be used for</li>
	<li>Number of people involved in filming</li>
	<li>Times you would like to film</li>
	<li>How long you expect to film for</li>
</ul>

<h2>New Routemaster buses</h2>

<p>Our iconic New Routemaster buses are available to hire. For more details, please <a href="/info-for/media/contact-the-press-office">contact our Press Office</a>.</p>

<h2>Bus operator contacts</h2>

<p>You can usually hire buses from:</p>

<p><a href="http://www.goaheadlondon.com/bus_hire">Go-Ahead</a></p>

<p><strong>Email: </strong> <a href="mailto:commercial.operations&#64;goaheadlondon.com">commercial.operations&#64;goaheadlondon.com</a><br />
<strong>Phone</strong>: 020 8545 6110</p>

<p><a href="http://www.lonutd.co.uk/">London Utd</a></p>

<p><strong>Email: </strong> <a href="mailto:hireabus&#64;lonutd.co.uk?Subject=Bus%20hire%20for%20filming"> hireabus&#64;lonutd.co.uk</a><br />
<strong>Phone</strong>: 020 8400 5502</p>

<p><a href="http://www.metroline.co.uk/vehicle-hire.html">Metroline</a></p>

<p><strong>Email: </strong> <a href="mailto:vehiclehire&#64;metroline.co.uk?Subject=Bus%20hire%20for%20filming">vehiclehire&#64;metroline.co.uk</a><br />
<strong>Phone</strong>: 020 8218 8879</p>

<p><a href="http://www.ratpdevlondon.co.uk/Privatehire.html">Quality Line</a></p>

<p><strong>Email: </strong><a href="&quot;mailto:">comments&#64;qualityline.org</a><br />
<strong>Phone</strong>: 01372 731727 / 731761</p>

<p><a href="http://www.sullivanbuses.com/">Sullivan Buses</a></p>

<p><strong>Email: </strong> <a href="mailto:admin&#64;sullivanbuses.com?Subject=Bus%20hire%20for%20filming">admin&#64;sullivanbuses.com</a><br />
<strong>Phone</strong>: 01707 646803</p>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        queue.push("@Html.ScriptPath("modules/M020-on-this-page.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">
        
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
                <a href="/info-for/media/index" class="heading">
                    <h2 id="sub-menu-heading">Media<span class="visually-hidden"> navigation</span></h2>
                </a>
                <ul>
                    
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases">Press releases</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/media/photos">Photos</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/media/contact-the-press-office">Contact the Press Office</a></div></li>
                            
 
                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/filming-and-photography">Filming & photography</a></div>
                                <ul>
                                    
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/filming-and-photography/filming-and-photography-on-tfl">Filming & photography on TfL</a></div></li>
                            
 
                                        <li class="selected"><div class="link-wrapper"><a href="/info-for/media/filming-and-photography/filming-and-photography-on-buses">Filming & photography on buses</a></div>
                                    </li>
 
                                <li><div class="link-wrapper"><a href="/info-for/media/filming-and-photography/filming-and-photography-on-the-roads">Filming & photography on the roads</a></div></li>
                            
 
                                </ul>
                            </li>
 
                </ul>
            
 
 
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>


<div></div>

        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>
 
        
        
            @{ViewBag.Description = "Find out about filming on London's bus network";}
        
        


 