


@{ViewBag.Title = " TfL partners with Hachette Partworks to create exclusive Routemaster magazine";}
        
        
<div class="r">
    <div class="breadcrumb-container" role="navigation">
        <span id="breadcrumb-label" class="visually-hidden">You are here:</span>
        <ol class="breadcrumbs clearfix" aria-labelledby="breadcrumb-label">
            <li class="home">
                <a href="/">
                    <span class="hide-text">Home</span>
                </a>
            </li>
            
                <li>
                    <a href="/info-for/media/index">Media</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases">Press releases</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases/2018">2018</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases/2018/january">January</a>
                </li>
                
                <li>
                    <span class="last-breadcrumb"> TfL partners with Hachette Partworks to create exclusive Routemaster magazine</span>
                </li>
            
 
            
 
            
 
            
 
            
 
        </ul>
    </div>
</div>
     
 
<div class="r">
    <div class="headline-container plain">
        <h1> TfL partners with Hachette Partworks to create exclusive Routemaster magazine</h1>
        <div class="content-page-press-release">
        11 January 2018
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">



 <div class="on-this-page">
<p>Fans of London transport will soon be able to build their own authentic model of the legendary Routemaster &#45; known worldwide as an iconic symbol of the city - through a new magazine produced in partnership with Transport for London (TfL).</p>
<p>The weekly magazine, published by Hachette Partworks, and licensed through TfL's brand licensing partner TSBA, will go on sale across the UK and Ireland from 17 January. Each issue allows readers find out more about the history of buses and transport across the Capital since the early 1800s to now, as well as build their own 1:12 scale model of a classic Routemaster bus.</p>
<p>The bus, RM857, was originally built in July 1961 and is based precisely on the look of the bus when it operated along route 11 in 1966. It is now privately owned and regularly features at vintage transport events across the UK.</p>
<p>Each component of the model has been expertly produced from high-quality die-cast metal and durable plastic, with many photo-etched parts. The finished model also contains a number of special features, such as a working blind box, fully operational lights and even a bell that works to signal to the driver.<br />The magazine will be available from retailers across the UK, as well as through a dedicated website www.buildtheroutemaster.com. TfL is also working with Hachette Partworks to offer the magazine to other worldwide territories in the future.</p>
<p>Graeme Craig, Director of Commercial Development at TfL, said: `Nothing says London to the rest of the world like the red Routemaster bus. This new magazine will allow people, young and old, to find out more about this iconic vehicle as well as build a classic piece of transport history.</p>
<p>`This deal is part of our wider work to bring our internationally renowned symbols that embody the heritage and identity of London &#45; such as the Tube map and the roundel logo &#45; to the global licensing market. Making the most of our brand allows us to generate funds which are then reinvested in delivering a modern and affordable transport network for the millions of people who rely on it every day.'</p>
<p>Trevor Wright, a Test Train Operator for London Underground who owns the actual RM857 bus, said: `As a current employee of Transport for London, it was a great honour to have my Routemaster bus represented in this new magazine. The model of this world famous vehicle, in London Transport red livery, is fantastically detailed and shows this design classic at its best.'</p>
<p>Tom Bath, Marketing Director of Hachette Partworks, said: 'The Routemaster is iconic across the world and we look forward to giving people the chance to build their own special piece of London transport history.'</p>
<p>Stephanie Freeman, Head of Licensing for TSBA, said `This deal is the start of many new products for TfL that tell great stories and provide consumers with a friendly and informative approach to the brand. Hachette, are one of the leading Partwork Licensees globally, and we are extremely happy to partner with them on this iconic project.'</p>
<p>Notes to editors</p>
<ul>
    <li>Images of the model bus, the actual RM857 and the magazine are available for media here: <a href="https://www.flickr.com/gp/tflpress/zb7Hb2">https://www.flickr.com/gp/tflpress/zb7Hb2</a></li>
    <li>The magazine will be sold in WHSmiths, Co-op, Martin McColls, One Stop, all good independent newsagents and selected ASDA stores.</li>
    <li>Hachette Partworks is a leader in partwork publishing, publishing a wide variety of collectible series across a number of genres, from niche to mass market products. These include hugely successful, innovative craft collections such as Art therapy and The Art of Crochet as well as exceptionally detailed build-up models such as The Black Pearl and high-quality book collections including Marvel: The Ultimate Graphic Novel collection and Doctor Who: The Complete Collection.</li>
    <li>Hachette Partworks publish in most major English speaking markets including the UK, Republic of Ireland, Australia, New Zealand, South Africa and Malta. Together with their sister companies they publish in 32 countries, 16 languages and launch 80 collections per year. Learn more at <a href="http://www.hachettepartworks.co.uk">www.hachettepartworks.co.uk</a></li>
    <li>TSBA are paid through a percentage of royalties from licensing deals they negotiate rather than from payment from TfL.</li>
</ul>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
                <a href="/info-for/media/index" class="heading">
                    <h2 id="sub-menu-heading">Media<span class="visually-hidden"> navigation</span></h2>
                </a>
                <ul>
                    
                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases">Press releases</a></div>
                                <ul>
                                    
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2020">2020</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019">2019</a></div></li>
                            
 
                                        <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018">2018</a></div>
                                        <ul>
                                            
                                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018/january">January</a></div>
                                                <ul>
                                                    
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
                                                </ul>
                                            
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018/february">February</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018/march">March</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018/april">April</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018/may">May</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018/june">June</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018/july">July</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018/august">August</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018/september">September</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018/october">October</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018/november">November</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018/december">December</a></div></li>
                                    
 
                                        </ul>
                                    </li>
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017">2017</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016">2016</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015">2015</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014">2014</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2013">2013</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2012">2012</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2011">2011</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2010">2010</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2009">2009</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2008">2008</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2007">2007</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2006">2006</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2005">2005</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2004">2004</a></div></li>
                            
 
                                </ul>
                            </li>
 
                                <li><div class="link-wrapper"><a href="/info-for/media/photos">Photos</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/media/contact-the-press-office">Contact the Press Office</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/filming-and-photography">Filming & photography</a></div></li>
                            
 
                </ul>
            
 
 
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype: -Home-Media-Media-Press releases-2018-January- TfL partners with Hachette Partworks to create exclusive Routemaster magazine -->

 
 
        
        
            @{ViewBag.Description = " TfL partners with Hachette Partworks to create exclusive Routemaster magazine";}
        
        


 