


@{ViewBag.Title = "First iconic purple Elizabeth line roundels installed";}
        
        
<div class="r">
    <div class="breadcrumb-container" role="navigation">
        <span id="breadcrumb-label" class="visually-hidden">You are here:</span>
        <ol class="breadcrumbs clearfix" aria-labelledby="breadcrumb-label">
            <li class="home">
                <a href="/">
                    <span class="hide-text">Home</span>
                </a>
            </li>
            
                <li>
                    <a href="/info-for/media/index">Media</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases">Press releases</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases/2018">2018</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases/2018/january">January</a>
                </li>
                
                <li>
                    <span class="last-breadcrumb">First iconic purple Elizabeth line roundels installed</span>
                </li>
            
 
            
 
            
 
            
 
            
 
        </ul>
    </div>
</div>
     
 
<div class="r">
    <div class="headline-container plain">
        <h1>First iconic purple Elizabeth line roundels installed</h1>
        <div class="content-page-press-release">
        22 January 2018
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        Stations take shape as the first wave of Elizabeth line roundels now in place with 11 months to go until the opening of the new railway
        
    </div>



<div class="pull-quote">
        <div class="quote-body">"The Elizabeth line will truly transform travel across London and the South East. The installation of the roundels incorporating TfL's iconic design shows how close we are now to the line opening, with new stations right at the heart of central London
"</div>
        <div class="quote-footer">
            <div class="quotee-name">Val Shawcross</div>
            <div class="quotee-job-title">Deputy Mayor for Transport</div>
        </div>
</div>

 <div class="on-this-page">
<ul>
    <li>New roundels and signage revealed in striking video and photography</li>
    <li>Roundel manufacture continues across the UK in Exeter, Glasgow and on the Isle of Wight</li>
</ul>
<p>One hundred and ten years on from the installation of the first roundel sign at St James's Park Underground station, the latest version of Transport for London's (TfL's) historic design has begun to make an appearance across London's newest railway &#45; the Elizabeth line. The first new roundels have been installed at stations including Tottenham Court Road, Farringdon and Custom House in a significant milestone for Europe's largest infrastructure project.</p>
<p>The Elizabeth line is set to redefine transport in London with quicker, easier and more accessible journeys when it launches in 11 months' time. Construction has now entered its final stages and the line will open to the public in phases from December, when ten new state-of-the-art stations, all step-free, will open.</p>
<p>TfL and London Underground is famous for its rich heritage of design and the Elizabeth line is set to continue that tradition. While at the forefront of modern engineering and technology, the new railway will feature instantly recognisable roundels and signage. New photography and video footage released today gives a glimpse of the craft behind the production of Elizabeth line signage, including:</p>
<p>&nbsp;</p>
<ul>
    <li>Manufacture of roundels at family-owned A. J. Wells &amp; Sons Ltd on the Isle of Wight, where London transport signage has been produced for generations</li>
    <li>Installation of platform roundels manufactured by Merson, based outside of Glasgow</li>
    <li>Wayfinding signage produced by Wood &amp; Wood in Exeter</li>
</ul>
<p>Val Shawcross, Deputy Mayor for Transport, said: </p>
<p>'The Elizabeth line will truly transform travel across London and the South East. The installation of the roundels incorporating TfL's iconic design shows how close we are now to the line opening, with new stations right at the heart of central London.</p>
<p>'The new roundels also show the huge benefits that Crossrail has provided to the economy all across the UK.  With businesses involved from Exeter, Glasgow and the Isle of Wight, it shows once again that Crossrail is a project that will not just benefit Londoners, but is benefitting the whole country.'</p>
<p>Mike Brown MVO, London's Transport Commissioner, said: </p>
<p>'No other city is as defined by its transport system as London. The roundel is at the heart of our heritage, guiding Londoners and visitors to our city for over 100 years.</p>
<p>'Our state-of-the-art new railway, the Elizabeth line, will balance cutting edge engineering with the familiarity of traditional TfL design. Introducing the next generation of roundels to our stations brings us one step closer to the launch of the Elizabeth line this December.'</p>
<p>Andrew Wolstenholme, Crossrail Chief Executive, said: </p>
<p>'Transport for London's famous roundel has been updated for the Elizabeth line with installation now underway as part of the architectural fit-out of the new stations in central London and Docklands. The manufacture and installation of the Elizabeth line roundels by specialist suppliers from across the UK is another important milestone in the delivery of London's newest railway.'</p>
<p>The TfL roundel is among the most recognised and imitated logos in the world. The newest addition to the roundel family &#45; the purple Elizabeth line roundel &#45; has been carefully designed to ensure it is visually distinctive from the London Underground and London Overground lines. The new roundels will also feature the celebrated Johnston typeface. Commissioned by London Transport's Manging Director Frank Pick in 1913, and designed by the influential calligrapher Edward Johnston, the font brings visual uniformity to London's transport network. Originally designed for wood block, the iconic typeface was updated for the digital age in 2016 to become Johnston100, complete with the hashtag (#) and at (&#64;) symbols for the first time.</p>
<p>The Elizabeth line is jointly sponsored by the Department for Transport and TfL and will connect stations such as Paddington to Canary Wharf in only 17 minutes, transforming how Londoners and visitors move across the Capital.<br />
From December, the line will initially operate as three services:</p>
<ul>
    <li>Paddington (Elizabeth line station) to Abbey Wood via central London</li>
    <li>Paddington (mainline station) to Heathrow (Terminals 2 &amp; 3 and 4)</li>
    <li>Liverpool Street (mainline station) to Shenfield</li>
</ul>
<p>Fifteen trains per hour will run through the new tunnels, increasing to 24 trains per hour through the central section by May 2019.</p>
<p>From December 2019, customers from Reading and Heathrow will be able to travel all the way through central London to the West End and the City and beyond without needing to change trains. By linking Berkshire and Heathrow in the west, to east London and Essex in the east, the line will transform travel across the South East, carrying over 200 million passengers every year. It will increase rail capacity in central London by ten per cent, reduce congestion on the London Underground, and an extra 1.5 million people will be within 45 minutes commuting distance of London's key employment districts.</p>
<p>Europe's largest construction project is estimated to have created over 55,000 jobs during the project, with 96 per cent of contracts awarded to companies based in the UK, and of those, 62 per cent are based outside of London.</p>
<p>The new stations and travel links are expected to boost the economy by &pound;42 billion overall and support thousands of new jobs and homes in London and the South East.</p>
<p>The introduction of the Elizabeth line is central to the Mayor's draft Transport Strategy, which aims to create a fairer, greener, healthier and more prosperous city by improving public transport and reducing reliance on car journeys.</p>
<hr />
<br />
Notes to Editors:<br />
<ul>
    <li>The new Elizabeth line roundels will remain under wraps &#45; and will not be visible to the public &#45; until the opening of the new railway in December.</li>
    <li>Photography and video of the Elizabeth line roundels is available online at:</li>
</ul>
<ul>
    <li><a href="https://www.flickr.com/photos/tflpress/albums/72157664833914008">https://www.flickr.com/photos/tflpress/albums/72157664833914008</a></li>
    <li><a href="https://youtu.be/JHZgCBpzjrw">https://youtu.be/JHZgCBpzjrw</a></li>
</ul>
<ul>
    <li>The Crossrail project is being delivered by Crossrail Limited, a wholly-owned subsidiary of TfL, and is jointly sponsored by the Department for Transport and TfL. The Elizabeth line will pass through 41 stations from Reading and Heathrow in the west, through new twin-bore 21 km tunnels to Shenfield and Abbey Wood in the east.  The Transport for London (TfL) run railway will be named the Elizabeth line when services through central London open in December 2018.</li>
</ul>
<p>&nbsp;</p>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
                <a href="/info-for/media/index" class="heading">
                    <h2 id="sub-menu-heading">Media<span class="visually-hidden"> navigation</span></h2>
                </a>
                <ul>
                    
                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases">Press releases</a></div>
                                <ul>
                                    
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2020">2020</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019">2019</a></div></li>
                            
 
                                        <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018">2018</a></div>
                                        <ul>
                                            
                                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018/january">January</a></div>
                                                <ul>
                                                    
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
                                                </ul>
                                            
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018/february">February</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018/march">March</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018/april">April</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018/may">May</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018/june">June</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018/july">July</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018/august">August</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018/september">September</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018/october">October</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018/november">November</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018/december">December</a></div></li>
                                    
 
                                        </ul>
                                    </li>
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017">2017</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016">2016</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015">2015</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014">2014</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2013">2013</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2012">2012</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2011">2011</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2010">2010</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2009">2009</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2008">2008</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2007">2007</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2006">2006</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2005">2005</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2004">2004</a></div></li>
                            
 
                                </ul>
                            </li>
 
                                <li><div class="link-wrapper"><a href="/info-for/media/photos">Photos</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/media/contact-the-press-office">Contact the Press Office</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/filming-and-photography">Filming & photography</a></div></li>
                            
 
                </ul>
            
 
 
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype: -Home-Media-Media-Press releases-2018-January-First iconic purple Elizabeth line roundels installed -->

 
 
        
        
            @{ViewBag.Description = "Elizabeth line stations take shape as the first iconic purple roundels are installed";}
        
        


 