


@{ViewBag.Title = "GLA - Mayor hails fair pay deal for London's bus drivers";}
        
        
<div class="r">
    <div class="breadcrumb-container" role="navigation">
        <span id="breadcrumb-label" class="visually-hidden">You are here:</span>
        <ol class="breadcrumbs clearfix" aria-labelledby="breadcrumb-label">
            <li class="home">
                <a href="/">
                    <span class="hide-text">Home</span>
                </a>
            </li>
            
                <li>
                    <a href="/info-for/media/index">Media</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases">Press releases</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases/2018">2018</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases/2018/january">January</a>
                </li>
                
                <li>
                    <span class="last-breadcrumb">GLA - Mayor hails fair pay deal for London’s bus drivers</span>
                </li>
            
 
            
 
            
 
            
 
            
 
        </ul>
    </div>
</div>
     
 
<div class="r">
    <div class="headline-container plain">
        <h1>GLA - Mayor hails fair pay deal for London’s bus drivers</h1>
        <div class="content-page-press-release">
        17 January 2018
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        New 'Licence for London' follows the introduction of a new minimum wage for London's 25,000 bus drivers
        
    </div>



<div class="pull-quote">
        <div class="quote-body">"I'm determined to ensure all of London's bus drivers are treated fairly as professionals, and I'm delighted we're now addressing a situation where a driver with the same level of knowledge, skill and experience could get paid significantly less, simply for working on a different route or moving company"</div>
        <div class="quote-footer">
            <div class="quotee-name">Sadiq Khan</div>
            <div class="quotee-job-title">The Mayor of London</div>
        </div>
</div>

 <div class="on-this-page">
<p>This press release, issued by the Mayor of London, was first published on <a href="http://london.gov.uk">london.gov.uk</a>&nbsp;</p>
<ul>
    <li>Passengers will benefit from the retention of the most skilled and experienced bus drivers continuing to work across the bus network</li>
    <li>Drivers will not lose previous pay grade if they move bus company</li>
    <li>Landmark deal was brokered by Mayor with Unite the union, Transport for London and the capital's bus companies</li>
</ul>
<p>The Mayor of London, Sadiq Khan, today took the next step towards fulfilling his manifesto pledge to provide a new fairer deal for London's 25,000 bus drivers, who are crucial to passengers receiving a good service on London buses.</p>
<p>The introduction of a new 'Licence for London' puts an end to the previous system where bus drivers moving from one bus company to another would be paid the lowest driving wage as if they were starting their careers, even though they might have driven for many years with another company. From now on drivers can start at a new company at a pay grade equivalent to their level of service and experience.</p>
<p>The landmark deal has been brokered by the Mayor, with Unite the union, Transport for London (TfL), and the private bus companies who operate bus services in the capital on TfL's behalf.</p>
<p>Drivers will now take with them their qualifications and driving record in the form of an enhanced reference for their new employers. All of London's bus operators have signed up to Licence for London and have committed to apply it. Passengers will benefit from the retention of the most skilled and experienced bus drivers continuing to work across the bus network.</p>
<p>Today's announcement follows on from the Mayor working with the bus companies and unions to secure a new starter minimum wage of &pound;23,000 for drivers working across all of London's bus companies. The wage, which was introduced last year and applies to all contacts awarded after April 2017, is designed to prevent a 'race to the bottom' in terms of pay, and addresses the large variations in pay between drivers employed by different companies.</p>
<p>The Mayor unveiled the new 'Licence for London' at the Go-Ahead bus garage in Merton, where he met drivers, alongside Unite representatives, to discuss the benefits of the new scheme.</p>
<p>The Mayor of London, Sadiq Khan, said: </p>
<p>'London's bus drivers do a crucial job, ensuring Londoners can get around our city quickly and safely at all times of day and night.</p>
<p>'I'm determined to ensure all of London's bus drivers are treated fairly as professionals, and I'm delighted we're now addressing a situation where a driver with the same level of knowledge, skill and experience could get paid significantly less, simply for working on a different route or moving company.</p>
<p>'Today's announcement shows the real progress you can make when you talk and engage constructively with workers and trade unions, rather than looking for confrontation. It is this same approach that has led to a nearly 65 per cent reduction in the number of days lost to strikes on the London Underground compared to my predecessor as Mayor.</p>
<p>'I will continue to work to ensure the thousands of public servants who work on London's transport network get the fair deal they deserve.'</p>
<p> TfL's Director of Bus Operations, Claire Mann, said: </p>
<p>'This is a good deal for London's 25,000 drivers and we're delighted to have been able to work with Unite and all the bus companies to agree it.</p>
<p>'Bus drivers are very often the unsung heroes of London's transport network, and we can forget they deal with tough situations in tough conditions in a very busy city, day in, day out. Good bus services, with fairly treated staff, play a key role in encouraging more people to switch from their cars to public transport, which is good for the whole city.'</p>
<p>Unite General Secretary, Len McCluskey, said: </p>
<p>'London's bus workers do a stressful job keeping the capital on the move, 24 hours a day, seven days a week. They are the lifeblood of London and thanks to the hard work of Unite and everyone involved will have their professionalism and experience recognised by the new London Licence.</p>
<p>'No longer will London's bus workers have to take a pay cut if they move operator and go to the bottom rung of the ladder. Before now if a driver with 10 to 15 years' experience moved jobs they could end up being paid the same as someone new to industry who had never driven a bus before.</p>
<p>'The London Licence ends this unfair farce and introduces minimum standards that will retain knowledge and expertise on London's roads. It will benefit passengers and workers and is a win-win for London, showing what can be achieved when employers, politicians and trade unions work constructively together.'</p>
<p>Go-Ahead London's Managing Director, John Trayner, said:  </p>
<p>'As London's largest bus company, with approximately 6,400 drivers and 16 locations, we are committed to ensuring a career with Go-Ahead is a well-rewarded and secure one.  Licence for London recognises the tremendous work undertaken all year round by colleagues and I am delighted the Mayor, whose Father drove buses locally, chose Merton Garage to launch this very worthwhile initiative.'</p>
<p>&nbsp;</p>
<hr />
<p>Notes to Editors:</p>
<ul>
    <li>The new Licence will be held by the employer, and made available to a driver who is applying for a job at another company.</li>
    <li>It will hold a range of information above and beyond a standard reference, including:</li>
</ul>
<ul>
    <li>Length of Service with the current employer</li>
    <li>Length of service for LfL (i.e. including any service accrued at any previous employers)</li>
    <li>Relevant qualifications</li>
    <li>Training (including CPC)</li>
    <li>Industry-related commendations</li>
</ul>
<ul>
    <li>Industry-related awards (e.g. ROSPA safe driving awards)</li>
    <li>Drivers who join a bus company under the new scheme will still need to work a probationary period, and their service will not technically be seen as continuous as far as employment law is concerned.</li>
    <li>In December 2016, the Mayor announced a package of improvements which provide a new fairer deal for London's 25,000 bus drivers. The measures announced included a new starter minimum wage of &pound;23k for drivers working across all of London's bus companies. This met the manifesto commitment of establishing a unified, fair pay structure across London for bus drivers.</li>
    <li>For many years the pay of bus drivers had been set in isolation by the private bus companies which operate routes on TfL's behalf. This led to large variations in pay between drivers employed by different companies, despite their similar level of skill, experience, and the demands of the job. The new 'minimum professional London bus driver wage' has been applied to all new TfL contracts awarded to bus companies from April 2017. The figure is to rise in line with inflation.</li>
</ul>
<p>&nbsp;</p>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
                <a href="/info-for/media/index" class="heading">
                    <h2 id="sub-menu-heading">Media<span class="visually-hidden"> navigation</span></h2>
                </a>
                <ul>
                    
                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases">Press releases</a></div>
                                <ul>
                                    
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2020">2020</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019">2019</a></div></li>
                            
 
                                        <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018">2018</a></div>
                                        <ul>
                                            
                                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018/january">January</a></div>
                                                <ul>
                                                    
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
                                                </ul>
                                            
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018/february">February</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018/march">March</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018/april">April</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018/may">May</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018/june">June</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018/july">July</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018/august">August</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018/september">September</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018/october">October</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018/november">November</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018/december">December</a></div></li>
                                    
 
                                        </ul>
                                    </li>
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017">2017</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016">2016</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015">2015</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014">2014</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2013">2013</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2012">2012</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2011">2011</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2010">2010</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2009">2009</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2008">2008</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2007">2007</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2006">2006</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2005">2005</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2004">2004</a></div></li>
                            
 
                                </ul>
                            </li>
 
                                <li><div class="link-wrapper"><a href="/info-for/media/photos">Photos</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/media/contact-the-press-office">Contact the Press Office</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/filming-and-photography">Filming & photography</a></div></li>
                            
 
                </ul>
            
 
 
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype: -Home-Media-Media-Press releases-2018-January-GLA - Mayor hails fair pay deal for London’s bus drivers -->

 
 
        
        
            @{ViewBag.Description = "Mayor hails new fair pay deal for London’s 25,000 bus drivers";}
        
        


 