


@{ViewBag.Title = "More frequent services for Northern line passengers";}
        
        
<div class="r">
    <div class="breadcrumb-container" role="navigation">
        <span id="breadcrumb-label" class="visually-hidden">You are here:</span>
        <ol class="breadcrumbs clearfix" aria-labelledby="breadcrumb-label">
            <li class="home">
                <a href="/">
                    <span class="hide-text">Home</span>
                </a>
            </li>
            
                <li>
                    <a href="/info-for/media/index">Media</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases">Press releases</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases/2018">2018</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases/2018/january">January</a>
                </li>
                
                <li>
                    <span class="last-breadcrumb">More frequent services for Northern line passengers</span>
                </li>
            
 
            
 
            
 
            
 
            
 
        </ul>
    </div>
</div>
     
 
<div class="r">
    <div class="headline-container plain">
        <h1>More frequent services for Northern line passengers</h1>
        <div class="content-page-press-release">
        29 January 2018
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        225,000 Northern line commuters to benefit from new timetable
        
    </div>



<div class="pull-quote">
        <div class="quote-body">"I'm delighted that by doubling the time of high frequency evening services, more Londoners on the Northern line will now get home faster after a long day at work"</div>
        <div class="quote-footer">
            <div class="quotee-name">Sadiq Khan</div>
            <div class="quotee-job-title">The Mayor of London</div>
        </div>
</div>

 <div class="on-this-page">
<ul>
    <li>Length of higher-frequency 'evening peak' period doubled to enable quicker and easier journeys home on London's busiest Tube line</li>
</ul>
<p>From today, hundreds of thousands of Tube customers will benefit from quicker and more frequent journeys on the Northern line &#45; as TfL doubles the length of its highest frequency 'evening peak' services in the central London section.</p>
<p>The improvements, which follow weeks of complex preparation work by Transport for London (TfL), means a new timetable has been introduced from today on the Tube's busiest line.</p>
<p>The Northern line carries around 225,000 passengers a day between 5pm and 7pm. These customers will now benefit from 24 trains an hour on both central London branches of the Northern line and 30 trains an hour on the Kennington to Morden section between 5pm and 7pm. Previously this level of 'peak' service only ran for an hour, between 5.30pm and 6.30pm, in the evening.</p>
<p>This effectively doubles the length of time that the highest frequency 'evening peak' services operate.</p>
<p>With Northern line services running at their maximum frequency for longer, customers will experience more comfortable journeys around the capital as platforms and trains become less crowded, and evening commuters enjoy a better journey home.<br />
Outside 'peak' time, 20 trains an hour operate across both central London branches of the Northern line.</p>
<p>The Mayor of London, Sadiq Khan, said:</p>
<p>'The Northern line is the busiest line on London's Tube network, and our new timetable will provide a quicker, less crowded journey for hundreds of thousands of commuters who rely upon the line every day.</p>
<p>'Since becoming Mayor I've frozen TfL fares and invested record amounts in new infrastructure across London's transport network. I'm delighted that by doubling the time of high frequency evening services, more Londoners on the Northern line will now get home faster after a long day at work.'</p>
<p>Mark Wild, TfL's Managing Director of London Underground, said:</p>
<p>'This boost in capacity is a hugely important step in making journeys quicker and more comfortable for our hundreds of thousands of customers who use the Northern line. We have worked hard to find innovative ways to maximise train frequency on the Northern line which means we can offer the best level of service in the line's 127-year history.'</p>
<p>The Northern Line Extension, targeted for completion in 2020, is also progressing well. Once complete it will add further vital new capacity to the Capital's transport network, bringing Battersea and surrounding areas to within 15 minutes of the City and the West End. It will also enable the regeneration of the Vauxhall, Nine Elms and Battersea areas, spurring economic growth by supporting around 25,000 new jobs and more than 20,000 new homes. In addition, the construction of the extension is boosting the UK economy and supporting around 1,000 jobs, including around 50 apprenticeships.</p>
<p>Councillor Georgia Gould, Leader of Camden Council, said:</p>
<p>'Efficient transport connections are one of the main concerns for our residents, businesses and visitors to Camden.</p>
<p>'The increased 'evening peak' services on the Northern line will ensure that people can travel more easily and flexibly for work, business and pleasure around the borough during these very busy periods.</p>
<p>It's also great news for our night time economy, providing greater access to Camden's diverse cultural offer.'</p>
<p>Simon Pitkeathley, Chief Executive of Camden Town Unlimited, said: </p>
<p>'Getting more trains to more people, more quickly, when they really need them is a fabulous result. Well done TfL!'</p>
<p>Northern line customers completed 294 million journeys last year, making it the busiest line on the Tube. It runs through Waterloo and King's Cross St. Pancras Tube stations, the two busiest stations on the network.</p>
<p>The continued modernisation of the Tube is a key part of the Mayor's Transport Strategy to make London a greener, more accessible place. The investment in improving public transport will help reduce reliance on the car and contribute to the Mayor's target of 80 per cent of journeys made by public transport, cycling or walking by 2041.</p>
<p>TfL is also introducing a new Jubilee line timetable later this year to boost the service during peak hours, and is carrying out a massive multi-billion pound modernisation programme including new trains and a new signalling system on the Circle, District, Hammersmith &amp; City and Metropolitan lines. Once complete this programme will provide a 33 per cent increase in peak hour capacity and make journeys quicker and more comfortable.</p>
<p>&nbsp;</p>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
                <a href="/info-for/media/index" class="heading">
                    <h2 id="sub-menu-heading">Media<span class="visually-hidden"> navigation</span></h2>
                </a>
                <ul>
                    
                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases">Press releases</a></div>
                                <ul>
                                    
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2020">2020</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019">2019</a></div></li>
                            
 
                                        <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018">2018</a></div>
                                        <ul>
                                            
                                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018/january">January</a></div>
                                                <ul>
                                                    
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
                                                </ul>
                                            
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018/february">February</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018/march">March</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018/april">April</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018/may">May</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018/june">June</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018/july">July</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018/august">August</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018/september">September</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018/october">October</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018/november">November</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018/december">December</a></div></li>
                                    
 
                                        </ul>
                                    </li>
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017">2017</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016">2016</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015">2015</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014">2014</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2013">2013</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2012">2012</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2011">2011</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2010">2010</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2009">2009</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2008">2008</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2007">2007</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2006">2006</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2005">2005</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2004">2004</a></div></li>
                            
 
                                </ul>
                            </li>
 
                                <li><div class="link-wrapper"><a href="/info-for/media/photos">Photos</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/media/contact-the-press-office">Contact the Press Office</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/filming-and-photography">Filming & photography</a></div></li>
                            
 
                </ul>
            
 
 
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype: -Home-Media-Media-Press releases-2018-January-More frequent services for Northern line passengers -->

 
 
        
        
            @{ViewBag.Description = "More frequent services for hundreds of thousands of Northern line passengers";}
        
        


 