


@{ViewBag.Title = "Transport for London is on the lookout for new apprentices";}
        
        
<div class="r">
    <div class="breadcrumb-container" role="navigation">
        <span id="breadcrumb-label" class="visually-hidden">You are here:</span>
        <ol class="breadcrumbs clearfix" aria-labelledby="breadcrumb-label">
            <li class="home">
                <a href="/">
                    <span class="hide-text">Home</span>
                </a>
            </li>
            
                <li>
                    <a href="/info-for/media/index">Media</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases">Press releases</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases/2018">2018</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases/2018/january">January</a>
                </li>
                
                <li>
                    <span class="last-breadcrumb">Transport for London is on the lookout for new apprentices</span>
                </li>
            
 
            
 
            
 
            
 
            
 
        </ul>
    </div>
</div>
     
 
<div class="r">
    <div class="headline-container plain">
        <h1>Transport for London is on the lookout for new apprentices</h1>
        <div class="content-page-press-release">
        24 January 2018
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">



 <div class="on-this-page">
<p>Transport for London (TfL) has started the search for around 180 new apprentices to kick-start their careers by taking up exciting opportunities in a range of areas including engineering, cyber security, finance and many others.</p>
<p>TfL is building on the success of its current apprenticeship programme and has expanded it to include six new schemes. Half of these new opportunities will be level-six apprenticeships, meaning that students will study for a degree qualification in areas such as civil engineering, quantity surveying and commercial property surveying, while earning and gaining real work experience at the same time.</p>
<p>Since 2009, TfL, Crossrail, their suppliers and the London Transport Museum have employed more than 8,200 apprentices. They have worked on vital infrastructure projects including the modernisation of key Tube stations, the construction of the Northern line extension, and the redesign of London's road junctions to make them safer and better for everyone.</p>
<p>Tricia Wright, Human Resources Director at TfL, said: `With applications now open for our apprenticeship schemes, it's a fantastic time to be joining TfL and helping keep London working and growing. Apprenticeships are an excellent way for anyone, not just those leaving school, to start a career in an area that they may not have heard of or even considered before, whether that's civil engineering, cyber security or business analysis. Working at TfL means that you get to see the impact of your work every day across the city, so it's important not to let preconceptions hold you back from trying something new.'</p>
<p>Arooba Noor, a first year Project Planning apprentice at TfL, said: `I love working at TfL as an apprentice - it's been a life-changing experience for me. People are often put off because they think it's an industry just for men or they believe being an apprentice means you'll just be photocopying and making cups of tea. These are both myths &#45; I don't feel that my gender makes any difference and my role involves me improving the Tube so that it delivers the best possible experience for customers.'</p>
<p>Amber Richardson, a first year General Management apprentice, said: `I originally wanted to go to university and study for a degree, so wasn't looking to do an apprenticeship. However, when I found out that TfL offered the opportunity for me to do the same degree, while being paid and getting hands-on experience, it seemed like the perfect choice.'</p>
<p>Kiera Jeffers, a first year Software Engineering apprentice, said: `I have always loved playing video games and I didn't realise before finding out about this apprenticeship that I could carry my passion for technology into my career. My male cousins always tried to tell me that computers weren't for girls, so they could have longer turns playing the video games, but I'm glad to have proven them wrong. You should never let anyone tell you that a career isn't for you &#45;you can do anything that you put your mind to.'</p>
<p>TfL hosted a free event last night (Tuesday 23 January) with London Youth and Freeformers at London Transport Museum, which was very well-attended with hundreds of young people, parents and teachers coming along. It gave people aged 16 and over the chance to find out more about careers in the transport industry and TfL, whilst networking with past and current apprentices. The evening was designed to help candidates find the perfect career path, matching their skills to the right scheme. Attendees also had the chance to apply for an apprenticeship on the night and get involved in a number of activities, including skills sessions and coding workshops.</p>
<p>For the sixth year in a row, TfL will be hosting an Apprenticeship Recruitment Fair at City Hall on Wednesday 7 March. Those attending the fair will be able to discover what the transport industry has to offer them, with a range of apprenticeship opportunities at TfL and its suppliers being advertised on the day. The transport industry is currently facing a skills gap and it is vital that organisations work together to tackle the challenge. The Government's Transport Infrastructure Skills Strategy aims for 30,000 new apprenticeships to be created across the sector by 2020.</p>
<p>Anyone interested in applying for an apprenticeship at TfL should visit tfl.gov.uk/apprentices</p>
<ul>
    <li>Notes to Editors:<br /></li>
    <li>The apprentices applying to the TfL apprenticeships now will join the organisation in September 2018. </li>
    <li>TfL also has a dedicated Supplier Skills programme, which works with TfL's suppliers to facilitate the creation of skills and employment opportunities, such as apprenticeships for new or existing employees. For more information, visit <a href="https://tfl.gov.uk/info-for/suppliers-and-contractors/supplier-relations/supplier-skills">https://tfl.gov.uk/info-for/suppliers-and-contractors/supplier-relations/supplier-skills</a></li>
    <li>TfL continues to support wider apprenticeship schemes in London through travel concessions. All apprentices living in London aged 18 or over and in their first year of an approved course can save 30 per cent on the price of adult rate Travelcards and Bus &amp; Tram pass season tickets with an Apprenticeship Oyster Photocard</li>
    <li>For more information on the Transport Infrastructure Skills Strategy, visit <a href="https://www.gov.uk/government/publications/transport-infrastructure-skills-strategy-building-sustainable-skills">https://www.gov.uk/government/publications/transport-infrastructure-skills-strategy-building-sustainable-skills</a> </li>
</ul>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
                <a href="/info-for/media/index" class="heading">
                    <h2 id="sub-menu-heading">Media<span class="visually-hidden"> navigation</span></h2>
                </a>
                <ul>
                    
                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases">Press releases</a></div>
                                <ul>
                                    
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2020">2020</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019">2019</a></div></li>
                            
 
                                        <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018">2018</a></div>
                                        <ul>
                                            
                                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018/january">January</a></div>
                                                <ul>
                                                    
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
                                                </ul>
                                            
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018/february">February</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018/march">March</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018/april">April</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018/may">May</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018/june">June</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018/july">July</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018/august">August</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018/september">September</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018/october">October</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018/november">November</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018/december">December</a></div></li>
                                    
 
                                        </ul>
                                    </li>
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017">2017</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016">2016</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015">2015</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014">2014</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2013">2013</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2012">2012</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2011">2011</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2010">2010</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2009">2009</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2008">2008</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2007">2007</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2006">2006</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2005">2005</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2004">2004</a></div></li>
                            
 
                                </ul>
                            </li>
 
                                <li><div class="link-wrapper"><a href="/info-for/media/photos">Photos</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/media/contact-the-press-office">Contact the Press Office</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/filming-and-photography">Filming & photography</a></div></li>
                            
 
                </ul>
            
 
 
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype: -Home-Media-Media-Press releases-2018-January-Transport for London is on the lookout for new apprentices -->

 
 
        
        
            @{ViewBag.Description = "Transport for London is on the lookout for new apprentices";}
        
        


 