
    
  



@{ViewBag.Title = "About One Road Network";}
@{ViewBag.Keywords = "TfL";}
@{ViewBag.Url = "/info-for/urban-planning-and-construction/one-road-network/about-one-road-network";}
@{ViewBag.Language = "en";}
        <!-- empty placeholder -->
 
        
        
<div class="r">
    <div class="breadcrumb-container" role="navigation">
        <span id="breadcrumb-label" class="visually-hidden">You are here:</span>
        <ol class="breadcrumbs clearfix" aria-labelledby="breadcrumb-label">
            <li class="home">
                <a href="/">
                    <span class="hide-text">Home</span>
                </a>
            </li>
            
                 <li><a href="/info-for/urban-planning-and-construction/index">Urban planning and construction</a></li>
                
            
                 <li><a href="/info-for/urban-planning-and-construction/one-road-network">One Road Network</a></li>
                
            
            
                <li><span class="last-breadcrumb">About One Road Network</span></li>
            
        
 
        
 
        
 
        </ol>
    </div>
</div>
     
 
<div class="r">
  <div class="headline-container plain">
    <h1>About One Road Network</h1>

  </div>
</div>
<div class="main-and-aside r">
  
  <div class="main content-container" role="main">
    
      <div class="article-teaser">
        One Road Network provides street works and highway professionals with the latest best practice and innovation tips from within the industry.
        
      </div>
    
    
      
      
           
      <div class="clearfix">
    <div class="image-box right-float">
    
        
        
        <img src="/cdn/static/cms/images/one-road-network-logo_rdax_400x250.gif" alt="One Road Network logo" />
        
        
        
    </div>
    <h2>History of One Road Network</h2>

<p>The <a href="https://www.legislation.gov.uk/ukpga/2004/18/contents">Traffic Management Act 2004</a>&nbsp;introduced a new legislative framework for the regulation and control of activities on the highway network with the intention to provide better conditions for all road users through proactive management of the road network.</p>

<p>To help professionals in the industry embrace the new legislation and to encourage the sharing of good practice, knowledge and ideas Transport for London created an initiative&nbsp;called London Street Works, which became the One Road Network in 2010.</p>

<p>The initiative has continued to grow and take on new members from all sectors of the highway and street works industry. We now have over 4,000 registered members from numerous organisations, including highway authorities, utility companies, contractors, consultants and academic institutions.</p>
 </div>
 <div>

<h2>What does the One Road Network offer?</h2>
<p>The One Road Network provides thousands of members nationwide with information on industry disciplines such as: coordination, parking enforcement, highway activities, inspections, permitting and events. It also includes health and safety information and a document library.</p>
</div>
 
<div>




<p>For more information on what&nbsp;One Road Network&nbsp;offers its members, download the flyer here.</p>
<div class="multi-document-download-container">
    

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/about-one-road-network.pdf">
    <div class="document-download-text">
        <p>About One Road Network</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 99KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.10 -->
 
</div>

</div>
 <div>

<h2>Who runs One Road Network?</h2>
<p>One Road Network is driven by a steering group consisting of members from Transport for London (TfL), the Joint Authorities Group (JAG), national and regional Highways Authority and Utility Committee (HAUC) and National Joint Utilities Group (NJUG).</p>
</div>
 
<div class="module-grid clearfix">
<div class="image-container">

    <img src="/cdn/static/cms/images/njug-logo.jpg" alt="NJUG logo">
</div>
 <div class="image-container">

    <img src="/cdn/static/cms/images/hauc-logo.jpg" alt="HAUC logo">
</div>
 <div class="image-container">

    <img src="/cdn/static/cms/images/jag-logo.jpg" alt="Jag logo">
</div>
 <div class="image-container">

    <img src="/cdn/static/cms/images/transport-for-london-logo.gif" alt="Transport for London">
</div>
 
</div>
 
      
        
          
        
      
    
  </div>
  <div class="aside" role="complementary">

   
    
    
    
      <div data-set="sidenav-container" class="large">
        
        
<div class="fact-box-wrapper">
    <span class="blue-span">ACCESS ONE ROAD NETWORK</span>
    <div class="fact-box-content">
        <p>If you've already registered, or if you are a Transport for London employee, <a href="https://transportforlondon.sharepoint.com/sites/orn/">sign in</a>
to access One Road Network.</p>
<p>All other users, <a href="https://tfl.gov.uk/forms/38878.aspx">please register</a> to access One Road Network.</p>
        
        
        
    </div>
</div>
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
                <a href="/info-for/urban-planning-and-construction/index" class="heading">
                    <h2 id="sub-menu-heading">Urban planning and construction<span class="visually-hidden"> navigation</span></h2>
                </a>
                <ul>
                    
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/urban-planning-and-construction/our-role-in-planning">Our role in planning</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/urban-planning-and-construction/guidance-for-applicants">Guidance for planning applicants</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/urban-planning-and-construction/our-land-and-infrastructure">Our land and infrastructure</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/urban-planning-and-construction/urban-planning-and-construction-contacts">Planning and construction contacts</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/urban-planning-and-construction/urban-planning-and-construction-resources">Planning and construction resources</a></div></li>
                            
 
                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/urban-planning-and-construction/one-road-network">One Road Network</a></div>
                                <ul>
                                    
                                        <li class="selected"><div class="link-wrapper"><a href="/info-for/urban-planning-and-construction/one-road-network/about-one-road-network">About One Road Network</a></div>
                                    </li>
 
                                <li><div class="link-wrapper"><a href="/info-for/urban-planning-and-construction/one-road-network/street-works-legislation-and-codes-of-practice">Street works legislation</a></div></li>
                            
 
                                </ul>
                            </li>
 
                                <li class="parent"><div class="link-wrapper"></div></li>
                            
 
                </ul>
            
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
      </div>
    
    <div>




















<div class="advert-tile unsponsored-style google-ads" aria-hidden="true">
  <div class="advert-link">
    <div class="advert-content">
        <div class="medium-large" data-advert="/76889402/non-targeted" data-advert-sizes="300, 250"></div>
        <div class="small" data-advert="/76889402/non-targeted" data-advert-sizes="300, 250"></div>
    </div>
  </div>
</div>
@{
    ViewBag.AmazonSlot = "'amznslots'";
    ViewBag.AmazonAds = "'3199'"; // to add another value, this needs to be ViewBag.AmazonAds = "'3199','xx'";
}
      

 </div>
    
    <div data-set="sidenav-container" class="small-medium"></div>
  </div>
</div>
 
 
        
        
        
            @{ViewBag.Description = "One Road Network provides street works and highway professionals with the latest best practice and innovation tips from within the industry. ";}
        
            
        


 