

        <h2 class="visually-hidden">Social media and email</h2>
        <div class="follow-social email">
          <div class="social-image"></div>
          <div class="social-text">
            <h3>Email updates</h3>
            <p>Customer updates and advanced warning of weekend closures and planned works</p>
          </div>
          <div class="social-button">
            <a class="secondary-button" href="/travel-information/social-media-and-email-updates/email-updates">Register</a>
          </div>
        </div>
      
 