
    
  



@{ViewBag.Title = "Didn't touch in or out";}
@{ViewBag.Keywords = "TfL";}
@{ViewBag.Url = "/fares/refunds-and-replacements/didnt-touch-in-or-out";}
@{ViewBag.Language = "en";}
        <!-- empty placeholder -->
 
        
        
<div class="r">
    <div class="breadcrumb-container" role="navigation">
        <span id="breadcrumb-label" class="visually-hidden">You are here:</span>
        <ol class="breadcrumbs clearfix" aria-labelledby="breadcrumb-label">
            <li class="home">
                <a href="/">
                    <span class="hide-text">Home</span>
                </a>
            </li>
            
                 <li><a href="/fares/index">Fares</a></li>
                
            
                 <li><a href="/fares/refunds-and-replacements">Refunds and replacements</a></li>
                
            
            
                <li><span class="last-breadcrumb">Didn't touch in or out</span></li>
            
        
 
        
 
        
 
        </ol>
    </div>
</div>
     
 
<div class="r">
  <div class="headline-container plain">
    <h1>Didn't touch in or out</h1>

  </div>
</div>
<div class="main-and-aside r">
  
  <div class="main content-container" role="main">
    
      <div class="article-teaser">
        You can get a refund if you were charged a maximum fare.
        
      </div>
    
    
      <h2>Before you claim</h2>
<p>Please wait at least 48 hours as you might receive an automatic refund:</p>
<ul>
    <li><strong>Oyster</strong> - we'll automatically add it to your card the next time you touch in or out of a rail journey</li>
    <li><strong>Contactless</strong> - the refund will show on your next card statement, or we will adjust the fares charged when you next travel</li>
</ul>
<p>If you do not get an automatic refund, you have up to 8 weeks from your journey to claim.</p>
<p>We will not give a refund if you have already claimed 3 maximum fare refunds in the same calendar month.</p>
<h2>Claim a refund online</h2>
      
           
      
<div class="module-grid clearfix">
<div>

<div class="call-to-action-button">
       <a href="https://contactless.tfl.gov.uk" class="primary-button" >Sign in</a>

    </div>
</div> 
 
</div>
 <div>

<p>Or <a href="https://contactless.tfl.gov.uk/">create an account</a>.</p>
<h2>Related content</h2>
<ul>
    <li><a href="/fares/how-to-pay-and-where-to-buy-tickets-and-oyster/pay-as-you-go/touching-in-and-out">Touching in and out</a></li>
</ul>
<p> </p>
</div>
 
      
        
          
        
      
    
  </div>
  <div class="aside" role="complementary">

   
    
    
    
    <div>




















<div class="advert-tile unsponsored-style google-ads" aria-hidden="true">
  <div class="advert-link">
    <div class="advert-content">
        <div class="medium-large" data-advert="/76889402/fares_payments" data-advert-sizes="300, 250"></div>
        <div class="small" data-advert="/76889402/fares_payments" data-advert-sizes="300, 250"></div>
    </div>
  </div>
</div>
@{
    ViewBag.AmazonSlot = "'amznslots'";
    ViewBag.AmazonAds = "'3199'"; // to add another value, this needs to be ViewBag.AmazonAds = "'3199','xx'";
}
      

 </div>
    
    <div data-set="sidenav-container" class="small-medium"></div>
  </div>
</div>
 
 
        
        
        
            @{ViewBag.Description = "How to get a refund if you didn't touch in or out on a TfL card reader and were charged a maximum fare.";}
        
            
        


 