
    
  



@{ViewBag.Title = "Emirates Air Line delays";}
@{ViewBag.Keywords = "TfL";}
@{ViewBag.Url = "/fares/refunds-and-replacements/emirates-air-line-delays";}
@{ViewBag.Language = "en";}
        <!-- empty placeholder -->
 
        
        
<div class="r">
    <div class="breadcrumb-container" role="navigation">
        <span id="breadcrumb-label" class="visually-hidden">You are here:</span>
        <ol class="breadcrumbs clearfix" aria-labelledby="breadcrumb-label">
            <li class="home">
                <a href="/">
                    <span class="hide-text">Home</span>
                </a>
            </li>
            
                 <li><a href="/fares/index">Fares</a></li>
                
            
                 <li><a href="/fares/refunds-and-replacements">Refunds and replacements</a></li>
                
            
            
                <li><span class="last-breadcrumb">Emirates Air Line delays</span></li>
            
        
 
        
 
        
 
        </ol>
    </div>
</div>
     
 
<div class="r">
  <div class="headline-container plain">
    <h1>Emirates Air Line delays</h1>

  </div>
</div>
<div class="main-and-aside r">
  
  <div class="main content-container" role="main">
    
      <div class="article-teaser">
        You may be able to get a refund if your journey was delayed for 15 minutes or more.
        
      </div>
    
    
      <h2>Before you claim</h2>

<p>Please wait at least 48 hours as you might receive an automatic refund.</p>

<p>We do not give refunds for delays outside our control, including:</p>

<ul>
	<li>Strikes</li>
	<li>Security alerts</li>
	<li>Bad weather</li>
	<li>Customer incidents e.g. a person falling ill in a cabin</li>
	<li>Engineering works</li>
</ul>

<p>Refunds are given as <a href="/fares/how-to-pay-and-where-to-buy-tickets-and-oyster/pay-as-you-go">pay as you go</a>&nbsp;credit, web credit or by transfer into your bank account.</p>

<p>If you used a <a href="/fares/how-to-pay-and-where-to-buy-tickets-and-oyster/single-and-return-tickets">paper ticket</a> your refund is transferred into your bank account.</p>

<p>You must claim within 28 days of the delay.</p>

<h2>Claim a refund by post</h2>

<p>If the delay happened in the last 28 days and you were delayed for 15 minutes or more, send your:</p>

<ul>
	<li>Journey details (date, time and how long you were delayed for)</li>
	<li>Ticket type (Oyster card,&nbsp;contactless card or paper ticket&nbsp;number)</li>
	<li>Contact details (we may contact you to arrange a refund)</li>
</ul>

<p>To:<br />
TfL Customer Services<br />
4th Floor<br />
14 Pier Walk<br />
London<br />
SE10 0ES</p>
      
           
      
      
        
          
        
      
    
  </div>
  <div class="aside" role="complementary">

   
    
    
    
      <div data-set="sidenav-container" class="large">
        
        
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
      </div>
    
    <div>




















<div class="advert-tile unsponsored-style google-ads" aria-hidden="true">
  <div class="advert-link">
    <div class="advert-content">
        <div class="medium-large" data-advert="/76889402/fares_payments" data-advert-sizes="300, 250"></div>
        <div class="small" data-advert="/76889402/fares_payments" data-advert-sizes="300, 250"></div>
    </div>
  </div>
</div>
@{
    ViewBag.AmazonSlot = "'amznslots'";
    ViewBag.AmazonAds = "'3199'"; // to add another value, this needs to be ViewBag.AmazonAds = "'3199','xx'";
}
      

 </div>
    
    <div data-set="sidenav-container" class="small-medium"></div>
  </div>
</div>
 
 
        
        
        
            @{ViewBag.Description = "How to claim a TfL refund if you were delayed on the Emirates Air Line.";}
        
            
        


 