
    
  



@{ViewBag.Title = "Exceeded maximum journey time";}
@{ViewBag.Keywords = "TfL";}
@{ViewBag.Url = "/fares/refunds-and-replacements/exceeded-maximum-journey-time";}
@{ViewBag.Language = "en";}
        <!-- empty placeholder -->
 
        
        
<div class="r">
    <div class="breadcrumb-container" role="navigation">
        <span id="breadcrumb-label" class="visually-hidden">You are here:</span>
        <ol class="breadcrumbs clearfix" aria-labelledby="breadcrumb-label">
            <li class="home">
                <a href="/">
                    <span class="hide-text">Home</span>
                </a>
            </li>
            
                 <li><a href="/fares/index">Fares</a></li>
                
            
                 <li><a href="/fares/refunds-and-replacements">Refunds and replacements</a></li>
                
            
            
                <li><span class="last-breadcrumb">Exceeded maximum journey time</span></li>
            
        
 
        
 
        
 
        </ol>
    </div>
</div>
     
 
<div class="r">
  <div class="headline-container plain">
    <h1>Exceeded maximum journey time</h1>

  </div>
</div>
<div class="main-and-aside r">
  
  <div class="main content-container" role="main">
    
      <div class="article-teaser">
        You could be charged two maximum fares if your journey takes too long. You may get a refund.
        
      </div>
    
    
      
      
           
      <div>

<h2>What you should know</h2>

<p>When you use contactless or Oyster to pay as you go, there is a maximum amount of time that you can spend making a single journey on Tube, DLR, London Overground, TfL Rail and National Rail.</p>

<p>If you spend longer than the maximum journey time for your journey, you could be charged 2 maximum fares.</p>

<h2>Before you claim</h2>

<p>Please wait at least&nbsp;48 hours as you might receive an automatic refund:</p>

<ul>
	<li><strong>Oyster</strong> - we'll automatically add it to your card the next time you touch in or out of a rail journey</li>
	<li><strong>Contactless</strong> - the refund will show on your next card statement, or we will adjust the fares charged when you next travel</li>
</ul>

<p>If you&nbsp;do not get&nbsp;an automatic refund, you have up to&nbsp;8 weeks from your journey to claim.</p>

<p>We will not give a refund if you have already claimed&nbsp;3 maximum fare refunds in the same calendar month.</p>

<h2>Claim a refund online</h2>
</div>
 
<div class="module-grid clearfix">
<div>

<div class="call-to-action-button">
       <a href="https://contactless.tfl.gov.uk" class="primary-button" >Sign in</a>

    </div>
</div> 
 
</div>
 <div>

<p>Or <a href="https://contactless.tfl.gov.uk/">create an account</a>.</p>

<h2>Related content</h2>

<ul>
	<li><a href="/fares/how-to-pay-and-where-to-buy-tickets-and-oyster/pay-as-you-go/keep-within-maximum-journey-times">Maximum journey times</a></li>
</ul>
</div>
 
      
        
          
        
      
    
  </div>
  <div class="aside" role="complementary">

   
    
    
    
      <div data-set="sidenav-container" class="large">
        
        
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
      </div>
    
    <div>




















<div class="advert-tile unsponsored-style google-ads" aria-hidden="true">
  <div class="advert-link">
    <div class="advert-content">
        <div class="medium-large" data-advert="/76889402/fares_payments" data-advert-sizes="300, 250"></div>
        <div class="small" data-advert="/76889402/fares_payments" data-advert-sizes="300, 250"></div>
    </div>
  </div>
</div>
@{
    ViewBag.AmazonSlot = "'amznslots'";
    ViewBag.AmazonAds = "'3199'"; // to add another value, this needs to be ViewBag.AmazonAds = "'3199','xx'";
}
      

 </div>
    
    <div data-set="sidenav-container" class="small-medium"></div>
  </div>
</div>
 
 
        
        
        
            @{ViewBag.Description = "What you should know if you have exceeded the maximum journey time on a TfL journey.";}
        
            
        


 