
    
  



@{ViewBag.Title = "Faulty Oyster card";}
@{ViewBag.Keywords = "TfL";}
@{ViewBag.Url = "/fares/refunds-and-replacements/faulty-oyster-card";}
@{ViewBag.Language = "en";}
        <!-- empty placeholder -->
 
        
        
<div class="r">
    <div class="breadcrumb-container" role="navigation">
        <span id="breadcrumb-label" class="visually-hidden">You are here:</span>
        <ol class="breadcrumbs clearfix" aria-labelledby="breadcrumb-label">
            <li class="home">
                <a href="/">
                    <span class="hide-text">Home</span>
                </a>
            </li>
            
                 <li><a href="/fares/index">Fares</a></li>
                
            
                 <li><a href="/fares/refunds-and-replacements">Refunds and replacements</a></li>
                
            
            
                <li><span class="last-breadcrumb">Faulty Oyster card</span></li>
            
        
 
        
 
        
 
        </ol>
    </div>
</div>
     
 
<div class="r">
  <div class="headline-container plain">
    <h1>Faulty Oyster card</h1>

  </div>
</div>
<div class="main-and-aside r">
  
  <div class="main content-container" role="main">
    
      <div class="article-teaser">
        You can transfer pay as you go credit, Travelcards and/or Bus & Tram Passes to a new Oyster card if yours stops working.
        
      </div>
    
    
      <h2>Transfer your credit or ticket to a new card online</h2>

<ol>
	<li><a href="/fares/how-to-pay-and-where-to-buy-tickets-and-oyster/buying-tickets-and-oyster">Get a new Oyster card</a></li>
	<li>Make at least one journey with it</li>
	<li>Wait 24 hours</li>
	<li>Sign in to your account, or create an account</li>
	<li>Go to 'Report card lost, stolen or failed'</li>
	<li>Select 'Transfer my products to another Oyster card' and follow the instructions</li>
</ol>
      
           
      
<div class="module-grid clearfix">
<div>

<div class="call-to-action-button">
       <a href="https://contactless.tfl.gov.uk" class="primary-button" >Sign in</a>

    </div>
</div> 
 
</div>
 <div>

<p>Or <a href="http://contactless.tfl.gov.uk">create an account</a>.</p>

<h2>Transfer your credit or ticket to a new card by phone</h2>

<p><a href="/fares/how-to-pay-and-where-to-buy-tickets-and-oyster/buying-tickets-and-oyster">Get a new Oyster card</a>&nbsp;and make at least one journey with it, then call <a href="tel:0343 222 1234">0343 222 1234</a>&nbsp;(<a href="/corporate/terms-and-conditions/tfl-call-charges">Charges may&nbsp;apply</a>).</p>

<p>We'll arrange to transfer your credit or ticket to your new card.</p>

<h2>After you get your new card</h2>

<p>Your new Oyster card will have the same Travelcard, Bus &amp; Tram Pass and/or pay as you go credit that was on it before.</p>

<p>If you get discounted travel, you'll need to have the discount added to your replacement card:</p>

<ol>
	<li>Take your discount photocard and your Oyster card to any <a href="https://tfl.gov.uk/maps/oyster-ticket-stops">Oyster Ticket Stop</a> or Tube station</li>
	<li>Ask staff to add your discount to your Oyster card. You need to give a password</li>
	<li>Add pay as you go credit to your Oyster card</li>
	<li>Create or sign in to your <a href="/fares/contactless-and-oyster-account">contactless and Oyster account</a> and add your Oyster card. Use the same password you gave to staff when they added your discount. If you don't, you can't get a refund or replacement&nbsp;</li>
</ol>

<p>Carry your photocard and Oyster card with you at all times and don't let anyone else use your cards.</p>

<p>We may refund you for any travel you've had to pay for while waiting for your ticket or credit to be transferred.</p>

<p>If you have an Annual Travelcard, we'll send you a new Gold Record Card.</p>
</div>
 
      
        
          
        
      
    
  </div>
  <div class="aside" role="complementary">

   
    
    
    
      <div data-set="sidenav-container" class="large">
        
        
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
      </div>
    
    <div>




















<div class="advert-tile unsponsored-style google-ads" aria-hidden="true">
  <div class="advert-link">
    <div class="advert-content">
        <div class="medium-large" data-advert="/76889402/fares_payments" data-advert-sizes="300, 250"></div>
        <div class="small" data-advert="/76889402/fares_payments" data-advert-sizes="300, 250"></div>
    </div>
  </div>
</div>
@{
    ViewBag.AmazonSlot = "'amznslots'";
    ViewBag.AmazonAds = "'3199'"; // to add another value, this needs to be ViewBag.AmazonAds = "'3199','xx'";
}
      

 </div>
    
    <div data-set="sidenav-container" class="small-medium"></div>
  </div>
</div>
 
 
        
        
        
            @{ViewBag.Description = "How to transfer pay as you go credit, Travelcards and/or Bus & Tram Passes  to a new Oyster card if yours stops working.";}
        
            
        


 