
    
  



@{ViewBag.Title = "Forgot your season ticket";}
@{ViewBag.Keywords = "TfL";}
@{ViewBag.Url = "/fares/refunds-and-replacements/forgot-your-season-ticket";}
@{ViewBag.Language = "en";}
        <!-- empty placeholder -->
 
        
        
<div class="r">
    <div class="breadcrumb-container" role="navigation">
        <span id="breadcrumb-label" class="visually-hidden">You are here:</span>
        <ol class="breadcrumbs clearfix" aria-labelledby="breadcrumb-label">
            <li class="home">
                <a href="/">
                    <span class="hide-text">Home</span>
                </a>
            </li>
            
                 <li><a href="/fares/index">Fares</a></li>
                
            
                 <li><a href="/fares/refunds-and-replacements">Refunds and replacements</a></li>
                
            
            
                <li><span class="last-breadcrumb">Forgot your season ticket</span></li>
            
        
 
        
 
        
 
        </ol>
    </div>
</div>
     
 
<div class="r">
  <div class="headline-container plain">
    <h1>Forgot your season ticket</h1>

  </div>
</div>
<div class="main-and-aside r">
  
  <div class="main content-container" role="main">
    
      <div class="article-teaser">
        You can get a refund if you forgot your Travelcard or Bus & Tram Pass.
        
      </div>
    
    
      <h2>Before you claim</h2>
<p>You must claim within 28 days.</p>
<p>We will give you a refund if you used an alternative method of payment (e.g. contactless, another Oyster card or a paper ticket) on the day you are claiming for.
</p>
<p>You cannot request this type of refund more than twice in 12 months.</p>
<h2>Claim a refund by phone</h2>
<p>Call:<br />
<a href="tel:0343 222 1234">0343 222 1234</a> (<a href="/corporate/terms-and-conditions/tfl-call-charges">Charges may apply</a>)</p>
<p>You will need to prove that you used an alternative method to pay for your travel on the day your are claiming for.</p>
<p>You will need to provide your:</p>
<ul>
    <li>Forgotten season ticket details</li>
    <li>Alternative payment method details (Oyster or contactless card number, or paper ticket details)</li>
    <li>Bank details (sort code and account number)</li>
</ul>
      
           
      <div>

<h2>Related content</h2>
<ul>
    <li><a href="/fares/refunds-and-replacements/forgot-your-oyster-photocard">Forgot your Oyster photocard</a></li>
</ul>
</div>
 
      
        
          
        
      
    
  </div>
  <div class="aside" role="complementary">

   
    
    
    
    <div>




















<div class="advert-tile unsponsored-style google-ads" aria-hidden="true">
  <div class="advert-link">
    <div class="advert-content">
        <div class="medium-large" data-advert="/76889402/fares_payments" data-advert-sizes="300, 250"></div>
        <div class="small" data-advert="/76889402/fares_payments" data-advert-sizes="300, 250"></div>
    </div>
  </div>
</div>
@{
    ViewBag.AmazonSlot = "'amznslots'";
    ViewBag.AmazonAds = "'3199'"; // to add another value, this needs to be ViewBag.AmazonAds = "'3199','xx'";
}
      

 </div>
    
    <div data-set="sidenav-container" class="small-medium"></div>
  </div>
</div>
 
 
        
        
        
            @{ViewBag.Description = "How to get a refund if you forgot your Travelcard or Bus & Tram Pass when travelling.";}
        
            
        


 