
    
  



@{ViewBag.Title = "Lost, stolen or damaged Bus & Tram Discount photocard";}
@{ViewBag.Keywords = "TfL";}
@{ViewBag.Url = "/fares/refunds-and-replacements/lost-stolen-or-damaged-bus-and-tram-discount-photocard";}
@{ViewBag.Language = "en";}
        <!-- empty placeholder -->
 
        
        
<div class="r">
    <div class="breadcrumb-container" role="navigation">
        <span id="breadcrumb-label" class="visually-hidden">You are here:</span>
        <ol class="breadcrumbs clearfix" aria-labelledby="breadcrumb-label">
            <li class="home">
                <a href="/">
                    <span class="hide-text">Home</span>
                </a>
            </li>
            
                 <li><a href="/fares/index">Fares</a></li>
                
            
                 <li><a href="/fares/refunds-and-replacements">Refunds and replacements</a></li>
                
            
            
                <li><span class="last-breadcrumb">Lost, stolen or damaged Bus & Tram Discount photocard</span></li>
            
        
 
        
 
        
 
        </ol>
    </div>
</div>
     
 
<div class="r">
  <div class="headline-container plain">
    <h1>Lost, stolen or damaged Bus & Tram Discount photocard</h1>

  </div>
</div>
<div class="main-and-aside r">
  
  <div class="main content-container" role="main">
    
    
      <h2>Replace your card at a post office</h2>
<p>You need to apply for a new Bus &amp; Tram Discount photocard at a post office in London.</p>
<p>If you are on Universal Credit or Job Seekers Allowance, you will need to apply for a replacement Bus &amp; Tram Discount photocard at your local JobCentre Plus office.</p>
<h2>What you should know</h2>
<p>You will need to get the Bus &amp; Tram Discount re-set on your Oyster card once you get your replacement photocard. You can do this at Tube, London Overground, TfL Rail and some National Rail stations, as well as <a href="https://tfl.gov.uk/maps/oyster-ticket-stops">Oyster Ticket Stops</a> and <a href="/travel-information/visiting-london/getting-around-london/visitor-centres">Visitor Centres</a>.</p>
<p>If you've lost your Oyster card as well, you'll need to get a new one before you can re-set the discount.</p>
<h2>Related content</h2>
<ul>
    <li><a href="/fares/refunds-and-replacements/lost-oyster-card">Lost Oyster card</a></li>
    <li><a href="/fares/refunds-and-replacements/stolen-oyster-card">Stolen Oyster card</a></li>
    <li><a href="/fares/refunds-and-replacements/faulty-oyster-card">Faulty Oyster card</a></li>
</ul>
      
           
      
      
        
          
        
      
    
  </div>
  <div class="aside" role="complementary">

   
    
    
    
    <div>




















<div class="advert-tile unsponsored-style google-ads" aria-hidden="true">
  <div class="advert-link">
    <div class="advert-content">
        <div class="medium-large" data-advert="/76889402/fares_payments" data-advert-sizes="300, 250"></div>
        <div class="small" data-advert="/76889402/fares_payments" data-advert-sizes="300, 250"></div>
    </div>
  </div>
</div>
@{
    ViewBag.AmazonSlot = "'amznslots'";
    ViewBag.AmazonAds = "'3199'"; // to add another value, this needs to be ViewBag.AmazonAds = "'3199','xx'";
}
      

 </div>
    
    <div data-set="sidenav-container" class="small-medium"></div>
  </div>
</div>
 
 
        
        
        
            @{ViewBag.Description = "How to re-apply for a new Bus & Tram Discount photocard if yours has been lost, stolen or is faulty.";}
        
            
        


 