
    
  



@{ViewBag.Title = "Overground and TfL Rail delays";}
@{ViewBag.Keywords = "TfL";}
@{ViewBag.Url = "/fares/refunds-and-replacements/overground-and-tfl-rail-delays";}
@{ViewBag.Language = "en";}
        <!-- empty placeholder -->
 
        
        
<div class="r">
    <div class="breadcrumb-container" role="navigation">
        <span id="breadcrumb-label" class="visually-hidden">You are here:</span>
        <ol class="breadcrumbs clearfix" aria-labelledby="breadcrumb-label">
            <li class="home">
                <a href="/">
                    <span class="hide-text">Home</span>
                </a>
            </li>
            
                 <li><a href="/fares/index">Fares</a></li>
                
            
                 <li><a href="/fares/refunds-and-replacements">Refunds and replacements</a></li>
                
            
            
                <li><span class="last-breadcrumb">Overground and TfL Rail delays</span></li>
            
        
 
        
 
        
 
        </ol>
    </div>
</div>
     
 
<div class="r">
  <div class="headline-container plain">
    <h1>Overground and TfL Rail delays</h1>

  </div>
</div>
<div class="main-and-aside r">
  
  <div class="main content-container" role="main">
    
      <div class="article-teaser">
        You may be able to get a refund if your journey was delayed for 30 minutes or more.
        
      </div>
    
    
      <h2>Before you claim</h2>

<p>Please wait at least 48 hours as you might receive an automatic refund.</p>

<p>We do not give refunds for&nbsp;delays outside our control, including:</p>

<ul>
	<li>Strikes</li>
	<li>Security alerts</li>
	<li>Bad weather</li>
	<li>Customer incidents e.g. a person falling ill on a train</li>
	<li>Engineering works</li>
</ul>

<p>We do not give refunds if you travel for free using a Freedom Pass, 60+ Oyster photocard, Veterans Oyster photocard, or are aged 11 or under.</p>

<p>Refunds are given as <a href="/fares/how-to-pay-and-where-to-buy-tickets-and-oyster/pay-as-you-go">pay as you go</a>&nbsp;credit, web credit or by&nbsp;transfer into your bank account.</p>

<p>If you used a <a href="/fares/how-to-pay-and-where-to-buy-tickets-and-oyster/single-and-return-tickets">paper ticket</a>&nbsp;or National Rail smartcard, your refund is transferred into your bank account.</p>

<p>You must claim within 28 days of the delay.</p>

<h2>Claim a refund online</h2>

<p>If the delay happened in the last 28 days and you were delayed for 30 minutes or more you can claim a refund online.</p>

<p>If you're claiming a refund for a delay on TfL Rail and can't see your station in the list, call us on <a href="tel:0343 222 1234">0343 222 1234</a>.</p>
      
           
      
<div class="module-grid clearfix">
<div>

<div class="call-to-action-button">
       <a href="https://contactless.tfl.gov.uk/" class="primary-button" >Sign in</a>

    </div>
</div> 
 
</div>
 <div>

<p>Or&nbsp;<a href="https://contactless.tfl.gov.uk/">create an account</a>.</p>

<h3>National Rail&nbsp;smartcards</h3>

<p>Choose 'paper ticket' as your ticket type if you use an National Rail smartcard and enter your full card number where asked to enter your ticket number.</p>

<h2>Arrived over an hour late&nbsp;to your final destination</h2>

<p>If you were delayed:</p>

<ul>
	<li>On a London&nbsp;Overground or TfL Rail service, and</li>
	<li>Your journey included travel outside the pay as you go area, and</li>
	<li>You arrived at your destination over an hour late</li>
</ul>

<p>Your refund can be calculated as set out in the <a href="http://www.nationalrail.co.uk/times_fares/46427.aspx">National Rail Conditions of Travel</a> (see the section on 'Compensation for delays').</p>

<h3>Claim a refund by post</h3>

<p>Send your:</p>

<ul>
	<li>Journey details (date, time and how long you were delayed for)</li>
	<li>Ticket type (Oyster&nbsp;or contactless card, National Rail smartcard or paper ticket&nbsp;number)</li>
	<li>Contact details (we may contact you to arrange a refund)</li>
</ul>

<p>To:<br />
TfL Customer Services<br />
4th Floor<br />
14 Pier Walk<br />
London<br />
SE10 0ES</p>
</div>
 
      
        
          
        
      
    
  </div>
  <div class="aside" role="complementary">

   
    
    
    
    <div>




















<div class="advert-tile unsponsored-style google-ads" aria-hidden="true">
  <div class="advert-link">
    <div class="advert-content">
        <div class="medium-large" data-advert="/76889402/fares_payments" data-advert-sizes="300, 250"></div>
        <div class="small" data-advert="/76889402/fares_payments" data-advert-sizes="300, 250"></div>
    </div>
  </div>
</div>
@{
    ViewBag.AmazonSlot = "'amznslots'";
    ViewBag.AmazonAds = "'3199'"; // to add another value, this needs to be ViewBag.AmazonAds = "'3199','xx'";
}
      

 </div>
    
    <div data-set="sidenav-container" class="small-medium"></div>
  </div>
</div>
 
 
        
        
        
            @{ViewBag.Description = "Information on if and how you can get a refund if you were delayed on a London Overground or TfL Rail journey.";}
        
            
        


 