
    
  



@{ViewBag.Title = "Paper season ticket no longer needed";}
@{ViewBag.Keywords = "TfL";}
@{ViewBag.Url = "/fares/refunds-and-replacements/paper-season-ticket-no-longer-needed";}
@{ViewBag.Language = "en";}
        <!-- empty placeholder -->
 
        
        
<div class="r">
    <div class="breadcrumb-container" role="navigation">
        <span id="breadcrumb-label" class="visually-hidden">You are here:</span>
        <ol class="breadcrumbs clearfix" aria-labelledby="breadcrumb-label">
            <li class="home">
                <a href="/">
                    <span class="hide-text">Home</span>
                </a>
            </li>
            
                 <li><a href="/fares/index">Fares</a></li>
                
            
                 <li><a href="/fares/refunds-and-replacements">Refunds and replacements</a></li>
                
            
            
                <li><span class="last-breadcrumb">Paper season ticket no longer needed</span></li>
            
        
 
        
 
        
 
        </ol>
    </div>
</div>
     
 
<div class="r">
  <div class="headline-container plain">
    <h1>Paper season ticket no longer needed</h1>

  </div>
</div>
<div class="main-and-aside r">
  
  <div class="main content-container" role="main">
    
      <div class="article-teaser">
        You may be able to get a refund if you no longer need your paper Travelcard.
        
      </div>
    
    
      <h2>Before you claim</h2>
<p>We charge a &pound;5 admin fee to process this refund.</p>
<p>You can get a refund if you have stopped using the ticket, and there is at least:</p>
<ul>
    <li>6 weeks remaining on an Annual ticket</li>
    <li>7 days remaining on a Monthly ticket</li>
    <li>3 days remaining on a 7 Day ticket - in some cases if you have used your 7 Day ticket for just 3 days, there may be no refund due</li>
</ul>
<p>You can only claim a refund if you bought your ticket at a London Overground or TfL Rail station. If not, you'll need to contact the company you bought your ticket from.</p>
<p>If you bought your ticket using a travel warrant, any refund will be paid to the warrant issuer.</p>
<h2>Claim at a TfL Rail or Overground station</h2>
<p>You should go to an Overground or TfL Rail station - if possible the same one where you bought your ticket.</p>
<h2>Related content</h2>
<ul>
    <li><a href="/fares/refunds-and-replacements/unused-one-day-single-or-return-paper-ticket">Unused single, return or day paper ticket</a></li>
</ul>
      
           
      
      
        
          
        
      
    
  </div>
  <div class="aside" role="complementary">

   
    
    
    
      <div data-set="sidenav-container" class="large">
        
        
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
      </div>
    
    <div>




















<div class="advert-tile unsponsored-style google-ads" aria-hidden="true">
  <div class="advert-link">
    <div class="advert-content">
        <div class="medium-large" data-advert="/76889402/fares_payments" data-advert-sizes="300, 250"></div>
        <div class="small" data-advert="/76889402/fares_payments" data-advert-sizes="300, 250"></div>
    </div>
  </div>
</div>
@{
    ViewBag.AmazonSlot = "'amznslots'";
    ViewBag.AmazonAds = "'3199'"; // to add another value, this needs to be ViewBag.AmazonAds = "'3199','xx'";
}
      

 </div>
    
    <div data-set="sidenav-container" class="small-medium"></div>
  </div>
</div>
 
 
        
        
        
            @{ViewBag.Description = "Information on if and how you can get a refund if you no longer need your Travelcard.";}
        
            
        


 