
    
  



@{ViewBag.Title = "Refund on behalf of someone who has died";}
@{ViewBag.Keywords = "TfL";}
@{ViewBag.Url = "/fares/refunds-and-replacements/refund-on-behalf-of-someone-who-has-died";}
@{ViewBag.Language = "en";}
        <!-- empty placeholder -->
 
        
        
<div class="r">
    <div class="breadcrumb-container" role="navigation">
        <span id="breadcrumb-label" class="visually-hidden">You are here:</span>
        <ol class="breadcrumbs clearfix" aria-labelledby="breadcrumb-label">
            <li class="home">
                <a href="/">
                    <span class="hide-text">Home</span>
                </a>
            </li>
            
                 <li><a href="/fares/index">Fares</a></li>
                
            
                 <li><a href="/fares/refunds-and-replacements">Refunds and replacements</a></li>
                
            
            
                <li><span class="last-breadcrumb">Refund on behalf of someone who has died</span></li>
            
        
 
        
 
        
 
        </ol>
    </div>
</div>
     
 
<div class="r">
  <div class="headline-container plain">
    <h1>Refund on behalf of someone who has died</h1>

  </div>
</div>
<div class="main-and-aside r">
  
  <div class="main content-container" role="main">
    
      <div class="article-teaser">
        You can claim a refund on behalf of a person who has died, if they had a season ticket or pay as you go credit.
        
      </div>
    
    
      <h2>Before you claim</h2>
<p>What we will ask you to send us depends on your relation to the person who has died, and how much you are claiming.</p>
<h3>Immediate family or a solicitor</h3>
<p>If you are the husband, wife, civil partner, son or daughter of the person who has died -  or a solicitor acting on their behalf &#45; we'll ask you to send us a copy of the death certificate.</p>
<p>If the refund due is over &pound;100, you will also need to send a certified copy of probate.</p>
<h3>A company</h3>
<p>We will ask you to send a letter of indemnity.</p>
<p>We may also ask for additional supporting evidence, such as a copy of the death certificate.</p>
<h2>Claim a refund</h2>
<p>Call:<br />
<a href="tel:0343 222 1234">0343 222 1234</a> (<a href="/corporate/terms-and-conditions/tfl-call-charges">Charges may apply</a>)</p>
      
           
      
      
        
          
        
      
    
  </div>
  <div class="aside" role="complementary">

   
    
    
    
      <div data-set="sidenav-container" class="large">
        
        
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
      </div>
    
    <div>




















<div class="advert-tile unsponsored-style google-ads" aria-hidden="true">
  <div class="advert-link">
    <div class="advert-content">
        <div class="medium-large" data-advert="/76889402/fares_payments" data-advert-sizes="300, 250"></div>
        <div class="small" data-advert="/76889402/fares_payments" data-advert-sizes="300, 250"></div>
    </div>
  </div>
</div>
@{
    ViewBag.AmazonSlot = "'amznslots'";
    ViewBag.AmazonAds = "'3199'"; // to add another value, this needs to be ViewBag.AmazonAds = "'3199','xx'";
}
      

 </div>
    
      <div class="module-grid clearfix">
                    
        <div>
    
    <div class="contact-info-box">
        <div class="contact-info-header">
            <h3>Contact us</h3>
        </div>
        
        
            
        
        
            
                
                 
        
        
        
        
        
        
        <div class="content-group">
            <p>Send a letter to:</p>
<p>TfL Customer Services<br />
4th Floor<br />
14 Pier Walk<br />
London<br />
SE10 0ES</p>
        </div>
        
    </div>
</div>
 
      </div>
    
    <div data-set="sidenav-container" class="small-medium"></div>
  </div>
</div>
 
 
        
        
        
            @{ViewBag.Description = "How to claim a refund on behalf of a person who has died, if they had a season ticket or pay as you go credit.";}
        
            
        


 