
    
  



@{ViewBag.Title = "Season ticket on Oyster no longer needed";}
@{ViewBag.Keywords = "TfL";}
@{ViewBag.Url = "/fares/refunds-and-replacements/season-ticket-on-oyster-no-longer-needed";}
@{ViewBag.Language = "en";}
        <!-- empty placeholder -->
 
        
        
<div class="r">
    <div class="breadcrumb-container" role="navigation">
        <span id="breadcrumb-label" class="visually-hidden">You are here:</span>
        <ol class="breadcrumbs clearfix" aria-labelledby="breadcrumb-label">
            <li class="home">
                <a href="/">
                    <span class="hide-text">Home</span>
                </a>
            </li>
            
                 <li><a href="/fares/index">Fares</a></li>
                
            
                 <li><a href="/fares/refunds-and-replacements">Refunds and replacements</a></li>
                
            
            
                <li><span class="last-breadcrumb">Season ticket on Oyster no longer needed</span></li>
            
        
 
        
 
        
 
        </ol>
    </div>
</div>
     
 
<div class="r">
  <div class="headline-container plain">
    <h1>Season ticket on Oyster no longer needed</h1>

  </div>
</div>
<div class="main-and-aside r">
  
  <div class="main content-container" role="main">
    
      <div class="article-teaser">
        You may be able to get a refund if you no longer need your Travelcard or Bus & Tram Pass season ticket on your Oyster card.
        
      </div>
    
    
      <h2>Before you claim</h2>

<p>We charge a &pound;5 admin fee to process this refund.</p>

<p>You can&nbsp;apply&nbsp;for&nbsp;a refund if you've stopped using the ticket, and there is at least:</p>

<ul>
	<li>6&nbsp;weeks remaining on an Annual ticket</li>
	<li>7&nbsp;days remaining on a Monthly ticket</li>
	<li>3&nbsp;days remaining on a 7 Day ticket - in some cases if you have used your 7 Day ticket for just 3 days, there may be no refund due</li>
</ul>

<p>If you bought your ticket using a travel warrant, any refund will be paid to the warrant issuer.</p>

<p>Your Oyster card will be cancelled when we process this refund.</p>

<h2>Claim a refund online</h2>
      
           
      
<div class="module-grid clearfix">
<div>

<div class="call-to-action-button">
       <a href="https://contactless.tfl.gov.uk" class="primary-button" >Sign in</a>

    </div>
</div> 
 
</div>
 <div>

<p>Or <a href="http://contactless.tfl.gov.uk">create an account</a>.</p>
<h2>Related content</h2>
<ul>
    <li><a href="/fares/refunds-and-replacements/oyster-pay-as-you-go-credit-no-longer-needed">Oyster pay as you go credit no longer needed</a></li>
    <li><a href="/fares/refunds-and-replacements/reduce-or-add-zones-on-your-travelcard">Add or reduce zones on your Travelcard</a></li>
</ul>
</div>
 
      
        
          
        
      
    
  </div>
  <div class="aside" role="complementary">

   
    
    
    
      <div data-set="sidenav-container" class="large">
        
        
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
      </div>
    
    <div>




















<div class="advert-tile unsponsored-style google-ads" aria-hidden="true">
  <div class="advert-link">
    <div class="advert-content">
        <div class="medium-large" data-advert="/76889402/fares_payments" data-advert-sizes="300, 250"></div>
        <div class="small" data-advert="/76889402/fares_payments" data-advert-sizes="300, 250"></div>
    </div>
  </div>
</div>
@{
    ViewBag.AmazonSlot = "'amznslots'";
    ViewBag.AmazonAds = "'3199'"; // to add another value, this needs to be ViewBag.AmazonAds = "'3199','xx'";
}
      

 </div>
    
    <div data-set="sidenav-container" class="small-medium"></div>
  </div>
</div>
 
 
        
        
        
            @{ViewBag.Description = "How to get a refund if you no longer need your Travelcard or Bus & Tram Pass season ticket on your Oyster card.";}
        
            
        


 