
    
  



@{ViewBag.Title = "Stolen Oyster card";}
@{ViewBag.Keywords = "TfL";}
@{ViewBag.Url = "/fares/refunds-and-replacements/stolen-oyster-card";}
@{ViewBag.Language = "en";}
        <!-- empty placeholder -->
 
        
        
<div class="r">
    <div class="breadcrumb-container" role="navigation">
        <span id="breadcrumb-label" class="visually-hidden">You are here:</span>
        <ol class="breadcrumbs clearfix" aria-labelledby="breadcrumb-label">
            <li class="home">
                <a href="/">
                    <span class="hide-text">Home</span>
                </a>
            </li>
            
                 <li><a href="/fares/index">Fares</a></li>
                
            
                 <li><a href="/fares/refunds-and-replacements">Refunds and replacements</a></li>
                
            
            
                <li><span class="last-breadcrumb">Stolen Oyster card</span></li>
            
        
 
        
 
        
 
        </ol>
    </div>
</div>
     
 
<div class="r">
  <div class="headline-container plain">
    <h1>Stolen Oyster card</h1>

  </div>
</div>
<div class="main-and-aside r">
  
  <div class="main content-container" role="main">
    
      <div class="article-teaser">
        You can transfer pay as you go credit, Travelcards and/or Bus & Tram Passes to a new Oyster card if your registered Oyster card was stolen.
        
      </div>
    
    
      <p>You can't get a refund or replacement if your card wasn't registered.</p>

<h2>Before you replace your card</h2>

<p>You must have pay as you go credit, or at least five days travel remaining on a Travelcard or Bus &amp; Tram Pass, for us to transfer it to a new Oyster card.</p>

<p>Your stolen card must have been registered.</p>

<h2>Replace your card by phone</h2>

<p>Call:<br />
<a href="tel:0343 222 1234">0343 222 1234</a> (<a href="/corporate/terms-and-conditions/tfl-call-charges">Charges may&nbsp;apply</a>)</p>

<p>It will take us up to 5 working days after you've reported your Oyster card as stolen to send you a&nbsp;replacement.</p>

<p>Once we have confirmed you're the registered Oyster card owner, we will calculate the&nbsp;pay as you go balance, or Travelcard/Bus &amp; Tram&nbsp;Pass value,&nbsp;from the day you reported it as stolen and transfer to your replacement card.</p>

<p>We don't refund your travel costs whilst you're waiting for your new card to arrive.</p>

<p>If it takes us longer than five working days to replace your card, we might refund any travel made from the sixth day. You need to provide receipts or tickets.</p>

<p>Once you've reported your card as stolen, the card will be cancelled.</p>

<h2>After you get your new card</h2>

<p>Your&nbsp;new Oyster card will have the same Travelcard, Bus &amp; Tram Pass and/or pay as you go credit that was on it before.</p>

<p>Before adding&nbsp;your new card&nbsp;to your contactless and Oyster account, you need to make at least one journey with&nbsp;it and then wait 24 hours.</p>

<p>If you get discounted travel, you'll need to have the discount added to your replacement card:</p>

<ol>
	<li>Take your discount photocard and your Oyster card to any <a href="https://tfl.gov.uk/maps/oyster-ticket-stops">Oyster Ticket Stop</a> or Tube station</li>
	<li>Ask staff to add your discount to your Oyster card. You need to give a password</li>
	<li>Add pay as you go credit to your Oyster card</li>
	<li>Create or sign in to your <a href="/fares/contactless-and-oyster-account">contactless and Oyster account</a> and add your Oyster card. Use the same password you gave to staff when they added your discount. If you don't, you can't get a refund or replacement&nbsp;</li>
</ol>

<p>Carry your photocard and Oyster card with you at all times and don't let anyone else use your cards.</p>

<p>If you have an Annual Travelcard, we'll send you a new Gold Record Card.</p>
      
           
      
      
        
          
        
      
    
  </div>
  <div class="aside" role="complementary">

   
    
    
    
    <div>




















<div class="advert-tile unsponsored-style google-ads" aria-hidden="true">
  <div class="advert-link">
    <div class="advert-content">
        <div class="medium-large" data-advert="/76889402/fares_payments" data-advert-sizes="300, 250"></div>
        <div class="small" data-advert="/76889402/fares_payments" data-advert-sizes="300, 250"></div>
    </div>
  </div>
</div>
@{
    ViewBag.AmazonSlot = "'amznslots'";
    ViewBag.AmazonAds = "'3199'"; // to add another value, this needs to be ViewBag.AmazonAds = "'3199','xx'";
}
      

 </div>
    
    <div data-set="sidenav-container" class="small-medium"></div>
  </div>
</div>
 
 
        
        
        
            @{ViewBag.Description = "Information on how to get a refund and/or a replacement if your Oyster card has been stolen.";}
        
            
        


 