
    
  



@{ViewBag.Title = "Touched in and out at the same station";}
@{ViewBag.Keywords = "TfL";}
@{ViewBag.Url = "/fares/refunds-and-replacements/touched-in-and-out-at-same-station";}
@{ViewBag.Language = "en";}
        <!-- empty placeholder -->
 
        
        
<div class="r">
    <div class="breadcrumb-container" role="navigation">
        <span id="breadcrumb-label" class="visually-hidden">You are here:</span>
        <ol class="breadcrumbs clearfix" aria-labelledby="breadcrumb-label">
            <li class="home">
                <a href="/">
                    <span class="hide-text">Home</span>
                </a>
            </li>
            
                 <li><a href="/fares/index">Fares</a></li>
                
            
                 <li><a href="/fares/refunds-and-replacements">Refunds and replacements</a></li>
                
            
            
                <li><span class="last-breadcrumb">Touched in and out at the same station</span></li>
            
        
 
        
 
        
 
        </ol>
    </div>
</div>
     
 
<div class="r">
  <div class="headline-container plain">
    <h1>Touched in and out at the same station</h1>

  </div>
</div>
<div class="main-and-aside r">
  
  <div class="main content-container" role="main">
    
      <div class="article-teaser">
        You can get a refund if you have been charged for touching in and out at the same station without making a journey.
        
      </div>
    
    
      <h2>Before you claim</h2>

<p>We&nbsp;aim to&nbsp;automatically refund you for a same station exit if you have not had one in the last 7 days.</p>

<h2>Claim a refund</h2>

<h3>Contactless (card or device)</h3>

<p>If&nbsp;you haven't received an automatic refund after 48 hours, you can submit a claim for a refund on your contactless and Oyster account:</p>
      
           
      
<div class="module-grid clearfix">
<div>

<div class="call-to-action-button">
       <a href="https://contactless.tfl.gov.uk" class="primary-button" >Sign in</a>

    </div>
</div> 
 
</div>
 <div>

<p>Or <a href="https://contactless.tfl.gov.uk/">create an account</a>.</p>

<h3>Oyster card</h3>

<p>You can <a href="/help-and-contact/contact-us-about-oyster">submit a claim for a refund</a>, or call us on <a href="tel:03432221234">0343 222 1234</a> (<a href="/corporate/terms-and-conditions/tfl-call-charges">charges may apply</a>) - open 08:00 - 20:00, 7 days a week</p>

<h2>Related content</h2>

<ul>
	<li><a href="/fares/how-to-pay-and-where-to-buy-tickets-and-oyster/pay-as-you-go/touching-in-and-out">Charges for touching in and out at the same station</a></li>
</ul>
</div>
 
      
        
          
        
      
    
  </div>
  <div class="aside" role="complementary">

   
    
    
    
      <div data-set="sidenav-container" class="large">
        
        
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
      </div>
    
    <div>




















<div class="advert-tile unsponsored-style google-ads" aria-hidden="true">
  <div class="advert-link">
    <div class="advert-content">
        <div class="medium-large" data-advert="/76889402/fares_payments" data-advert-sizes="300, 250"></div>
        <div class="small" data-advert="/76889402/fares_payments" data-advert-sizes="300, 250"></div>
    </div>
  </div>
</div>
@{
    ViewBag.AmazonSlot = "'amznslots'";
    ViewBag.AmazonAds = "'3199'"; // to add another value, this needs to be ViewBag.AmazonAds = "'3199','xx'";
}
      

 </div>
    
    <div data-set="sidenav-container" class="small-medium"></div>
  </div>
</div>
 
 
        
        
        
            @{ViewBag.Description = "How to get a refund if you have been charged for touching in and out at the same station.";}
        
            
        


 