
    
  



@{ViewBag.Title = "Visitor Oyster credit no longer needed";}
@{ViewBag.Keywords = "TfL";}
@{ViewBag.Url = "/fares/refunds-and-replacements/visitor-oyster-credit-no-longer-needed";}
@{ViewBag.Language = "en";}
        <!-- empty placeholder -->
 
        
        
<div class="r">
    <div class="breadcrumb-container" role="navigation">
        <span id="breadcrumb-label" class="visually-hidden">You are here:</span>
        <ol class="breadcrumbs clearfix" aria-labelledby="breadcrumb-label">
            <li class="home">
                <a href="/">
                    <span class="hide-text">Home</span>
                </a>
            </li>
            
                 <li><a href="/fares/index">Fares</a></li>
                
            
                 <li><a href="/fares/refunds-and-replacements">Refunds and replacements</a></li>
                
            
            
                <li><span class="last-breadcrumb">Visitor Oyster credit no longer needed</span></li>
            
        
 
        
 
        
 
        </ol>
    </div>
</div>
     
 
<div class="r">
  <div class="headline-container plain">
    <h1>Visitor Oyster credit no longer needed</h1>

  </div>
</div>
<div class="main-and-aside r">
  
  <div class="main content-container" role="main">
    
      <div class="article-teaser">
        If you no longer need your Visitor Oyster card, you can keep it for your next visit, give it to someone else to use or get a refund.
        
      </div>
    
    
      
      
           
      <div>

<h2>If you're still in London</h2>

<h3>Get a refund in person</h3>

<p>If your remaining credit is &pound;10 or less, you can get a refund from a Tube station ticket machine.</p>

<p>You can also get a refund at a <a href="/travel-information/visiting-london/getting-around-london/visitor-centres">Visitor Centre</a> (except Gatwick).</p>

<p>Your Visitor Oyster card will be cancelled when we process this refund.</p>

<h2>If you've left London&nbsp;and live in the UK</h2>

<h3>Get a refund by phone</h3>

<p>Call:<br />
<a href="tel:0343 222 1234">0343 222 1234</a> (<a href="/corporate/terms-and-conditions/tfl-call-charges">Charges may apply</a>)</p>

<p>With&nbsp;your:</p>

<ul>
	<li>Visitor Oyster card number</li>
	<li>Address</li>
	<li>Bank details - account number and sort code</li>
</ul>

<p>We may ask you to post your Visitor Oyster card to us.</p>

<ul>
</ul>

<h2>If you've left London&nbsp;and live abroad</h2>

<h3>Get a refund by phone</h3>

<p>Call:<br />
<a href="tel:0343 222 1234">0343 222 1234</a> (<a href="/corporate/terms-and-conditions/tfl-call-charges">Charges may&nbsp;apply</a>)</p>

<p>With your:</p>

<ul>
	<li>Oyster card number</li>
	<li>Full address including country and postal, zip or area code</li>
	<li>Email address</li>
</ul>

<p>We may ask you to post your Visitor Oyster card to us.</p>

<ul>
</ul>

<h3>Get a refund by post</h3>

<p>Send your Visitor Oyster card and contact details (name, address, email address and phone number) to:<br />
TfL Customer Services<br />
4th Floor<br />
14 Pier Walk<br />
London<br />
SE10 0ES</p>

<p>We will then contact you to process any refund you may be due.</p>
</div>
 
      
        
          
        
      
    
  </div>
  <div class="aside" role="complementary">

   
    
    
    
      <div data-set="sidenav-container" class="large">
        
        
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
      </div>
    
    <div>




















<div class="advert-tile unsponsored-style google-ads" aria-hidden="true">
  <div class="advert-link">
    <div class="advert-content">
        <div class="medium-large" data-advert="/76889402/fares_payments" data-advert-sizes="300, 250"></div>
        <div class="small" data-advert="/76889402/fares_payments" data-advert-sizes="300, 250"></div>
    </div>
  </div>
</div>
@{
    ViewBag.AmazonSlot = "'amznslots'";
    ViewBag.AmazonAds = "'3199'"; // to add another value, this needs to be ViewBag.AmazonAds = "'3199','xx'";
}
      

 </div>
    
    <div data-set="sidenav-container" class="small-medium"></div>
  </div>
</div>
 
 
        
        
        
            @{ViewBag.Description = "What to do if you no longer need your TfL Visitor Oyster card.";}
        
            
        


 