


@{ViewBag.Title = "New Greenwich bus route to start";}
        
        
<div class="r">
    <div class="breadcrumb-container" role="navigation">
        <span id="breadcrumb-label" class="visually-hidden">You are here:</span>
        <ol class="breadcrumbs clearfix" aria-labelledby="breadcrumb-label">
            <li class="home">
                <a href="/">
                    <span class="hide-text">Home</span>
                </a>
            </li>
            
                <li>
                    <a href="/info-for/media/index">Media</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases">Press releases</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases/2019">2019</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases/2019/august">August</a>
                </li>
                
                <li>
                    <span class="last-breadcrumb">New Greenwich bus route to start</span>
                </li>
            
 
            
 
            
 
            
 
            
 
        </ul>
    </div>
</div>
     
 
<div class="r">
    <div class="headline-container plain">
        <h1>New Greenwich bus route to start</h1>
        <div class="content-page-press-release">
        29 August 2019
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        Five more new outer London routes by the end of the year
        
    </div>



<div class="pull-quote">
        <div class="quote-body">"This boost to outer London routes, together with more frequent, direct services, is all part of the Mayor's commitment to provide a good public transport experience for all Londoners

 "</div>
        <div class="quote-footer">
            <div class="quotee-name">Heidi Alexander</div>
            <div class="quotee-job-title">Deputy Mayor for Transport</div>
        </div>
</div>

 <div class="on-this-page">
<ul>
	<li>Route 335 will directly connect new homes in Kidbrooke to North Greenwich from October</li>
	<li>New route is part of TfL's plan to invest in more services in areas of demand and growth</li>
	<li>This is the second of seven new routes planned for outer London this year</li>
</ul>

<p>Travel options for residents of south east London will be improved from October as Transport for London has confirmed that, after a public consultation, a second new bus route will be introduced in the area. The 335 will better connect new homes in Kidbrooke to the key transport hub in North Greenwich. This builds on the recent introduction of the route 301, which launched in June, improving journeys between Bexleyheath and Abbey Wood.</p>

<p>These two new routes are part of a major programme of improvements to outer London bus services &#45; the biggest investment in over a decade. Alongside the 335 and 301, TfL intends to introduce five new routes in outer London before the end of the year:</p>

<ul>
	<li>the 218 from Hammersmith to North Acton</li>
	<li>the 278 from Ruislip to Heathrow</li>
	<li>the 306 from Acton to Sands End</li>
	<li>the 497 from Harold Wood to Harold Hill</li>
	<li>the X140 from Harrow to Heathrow.</li>
</ul>

<p>These seven new routes will make sustainable travel easier for outer London residents, helping to achieve the Mayor's ambition of 80 per cent of trips made by bicycle, on foot or by public transport by 2041. TfL has undertaken an ambitious programme of work to grow the bus network in outer London and create faster connections, better coverage, and more direct, frequent services. The new routes complement TfL's other recent investments in the outer London bus network, including increased frequencies on more than 25 routes and extensions to five routes. For example, from Saturday 31 August TfL will increase the frequency of the route 158, which runs from Stratford to Chingford Mount via Blackhorse Road, allowing more people to use this sustainable and affordable mode of transport in Waltham Forest.</p>

<p><strong>Heidi Alexander, Deputy Mayor for Transport, said: </strong></p>

<p>'I'm really pleased that the new route 335 between Kidbrooke and North Greenwich will be in service from October, with a further five new routes in operation by the end of the year. This boost to outer London routes, together with more frequent, direct services, is all part of the Mayor's commitment to provide a good public transport experience for all Londoners.'</p>

<p><strong>Geoff Hobbs, Director of Public Service Planning at TfL, said: </strong></p>

<p>'We are committed to improving and growing the bus network in outer London and introducing more convenient routes to help our customers connect to key local amenities more easily. The confirmation of the route 335 is great news for our customers in south east London, giving a frequent direct link between Kidbrooke and North Greenwich, and by the end of the year we should have delivered seven new routes in outer London.'</p>

<p><strong>Cllr Denise Scott McDonald, Cabinet Member for Air Quality, Sustainability and Transport, Royal Borough of Greenwich, said: </strong></p>

<p>'The new 335 bus will improve transport links along its route by connecting residents living in new homes in Kidbrooke to North Greenwich station. Not only are bus services crucial in tackling air pollution, by increasing the number of journeys people are able to make by public transport, they are also a lifeline to those without cars particularly the young and elderly.'</p>

<p>The new high frequency 335 will use double-deck buses, running every 12 minutes Monday to Saturday daytimes, and every 15 minutes during evenings and Sundays.</p>

<p>Reallocating resources from central London can take time, so the Mayor provided additional funding from London's business rates to speed up investment in outer London. This funding is what has allowed TfL to deliver the new 335 in a growth area in outer London earlier than planned.</p>

<p>TfL's ongoing improvements will help achieve its planned 5 million km increase in outer London bus services over the next five years.</p>

<hr />
<p>Notes to Editors:</p>

<ul>
	<li>The consultation report on the 335 can be found here: <a href="[ioID]#tfl.gov.uk/route-335">tfl.gov.uk/route-335</a> &nbsp;</li>
	<li>The route 301 runs every 12 minutes during the day on all days of the week and every 15 minutes during the evening. First buses depart from Woolwich at 05:40 (07:02 on Sundays) and 06:05 (07:30 on Sundays) from Bexleyheath. Last buses will depart from Woolwich at 23:57 and 00:30 from Bexleyheath. It is served by green Euro VI hybrid double-decker buses. The 301 improves journey times by 30 per cent.</li>
	<li>Since September 2016, bus and tram customers have also been able to take advantage of the Mayor's Hopper fare, which allows unlimited bus and tram journeys within an hour for just &pound;1.50. More than 300 million hops have been made since the fare launched.</li>
</ul>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
                <a href="/info-for/media/index" class="heading">
                    <h2 id="sub-menu-heading">Media<span class="visually-hidden"> navigation</span></h2>
                </a>
                <ul>
                    
                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases">Press releases</a></div>
                                <ul>
                                    
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2020">2020</a></div></li>
                            
 
                                        <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019">2019</a></div>
                                        <ul>
                                            
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019/january">January</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019/february">February</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019/march">March</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019/april">April</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019/may">May</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019/june">June</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019/july">July</a></div></li>
                                    
 
                                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019/august">August</a></div>
                                                <ul>
                                                    
 
 
 
 
 
 
 
 
 
 
                                                </ul>
                                            
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019/september">September</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019/october">October</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019/november">November</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019/december">December</a></div></li>
                                    
 
                                        </ul>
                                    </li>
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018">2018</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017">2017</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016">2016</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015">2015</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014">2014</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2013">2013</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2012">2012</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2011">2011</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2010">2010</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2009">2009</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2008">2008</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2007">2007</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2006">2006</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2005">2005</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2004">2004</a></div></li>
                            
 
                                </ul>
                            </li>
 
                                <li><div class="link-wrapper"><a href="/info-for/media/photos">Photos</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/media/contact-the-press-office">Contact the Press Office</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/filming-and-photography">Filming & photography</a></div></li>
                            
 
                </ul>
            
 
 
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype: -Home-Media-Media-Press releases-2019-August-New Greenwich bus route to start -->

 
 
        
        
            @{ViewBag.Description = "New Greenwich bus route to start in October, with five more new outer London routes by the end of the year";}
        
        


 