


@{ViewBag.Title = "Victoria Coach Station to remain major coach hub";}
        
        
<div class="r">
    <div class="breadcrumb-container" role="navigation">
        <span id="breadcrumb-label" class="visually-hidden">You are here:</span>
        <ol class="breadcrumbs clearfix" aria-labelledby="breadcrumb-label">
            <li class="home">
                <a href="/">
                    <span class="hide-text">Home</span>
                </a>
            </li>
            
                <li>
                    <a href="/info-for/media/index">Media</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases">Press releases</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases/2019">2019</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases/2019/august">August</a>
                </li>
                
                <li>
                    <span class="last-breadcrumb">Victoria Coach Station to remain major coach hub</span>
                </li>
            
 
            
 
            
 
            
 
            
 
        </ul>
    </div>
</div>
     
 
<div class="r">
    <div class="headline-container plain">
        <h1>Victoria Coach Station to remain major coach hub</h1>
        <div class="content-page-press-release">
        23 August 2019
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        Passengers can expect improved facilities and more efficient coach travel
        
    </div>



<div class="pull-quote">
        <div class="quote-body">"Without Victoria Coach Station, coaches would still travel to the centre of the city but drop off and pick up on-street. This would increase noise, congestion and pollution for people living, working and visiting central London"</div>
        <div class="quote-footer">
            <div class="quotee-name">Helen Lee</div>
            <div class="quotee-job-title">Head of Coach Operations, TfL</div>
        </div>
</div>

 <div class="on-this-page">
<ul>
	<li>London will continue to be safely and efficiently served by coaches</li>
</ul>

<p>London's major coach hub will continue to be located at its historic home in Victoria, Transport for London (TfL) has confirmed. TfL plans to work with coach operators to improve customer facilities at the 87-year-old Grade-II listed station as small sections of the Victoria Coach Station lease expire in the early 2020s. This could include changes to the layout of the station to make the customer experience easier, as well as renovated facilities.</p>

<p>Retaining a coach station in Victoria ensures that services remain well-connected to London's public transport network, and keeps large coaches in a safe site that separates drop-off and pick-up from people walking and cycling around central London. It also enables people to reach the centre of London without using a private car.</p>

<p>TfL is prioritising sustainable operations that reduce harmful vehicle emissions, and from next year, every coach that serves Victoria Coach Station will be required to have some of the cleanest engines available.</p>

<p>Helen Lee, Head of Coach Operations at TfL, said:</p>

<p>'Coaches play a critical role driving the economy of the capital and beyond, boosting tourism to London and providing affordable travel options with cities across the UK.</p>

<p>'Without Victoria Coach Station, coaches would still travel to the centre of the city but drop off and pick up on-street. This would increase noise, congestion and pollution for people living, working and visiting central London. It would also deprive the 14 million passengers who use this affordable long-distance travel every year of vital welfare facilities and ease of access to onward connections.'</p>

<p>TfL is identifying sites for enhanced coach facilities across the capital to complement the facilities at Victoria Coach Station. TfL will work with industry, transport operators, London's boroughs and passenger groups to identify appropriate locations for the supporting sites over the coming months. This would help to ensure that the city continues to be adequately and safely served by coaches, providing alternative options to passengers and reducing coach movements in central London.&nbsp; &nbsp;</p>

<p>Keith McNally, Operations Director at the Confederation of Passenger Transport, said:</p>

<p>'This is great news for coach operators, who provide affordable connectivity across the UK and Europe. As well as playing a vital role in cutting congestion and improving air quality, the station acts as a working hub for operators and as a focal point for travellers, with many using it to interchange to onward destinations.</p>

<p>'Coach operators can now make their business and investments plans with the welcome knowledge that the station will remain operational. We looking forward to working with TfL to deliver real improvements for operators and passengers at the site, so that the coach network across the UK can be developed further.'</p>

<p>Tim Bellenger, Director of Policy and Investigation at London TravelWatch, said:</p>

<p>'The decision to retain Victoria Coach Station is fantastic news. Its loss would have been a terrible blow for coach services and their passengers across the UK. It is a well-managed facility, in a good location which provides good connectivity. It also has excellent facilities. London TravelWatch has made representations in support of its retention via the London Plan process over many years and our view was that there simply wasn't a viable alternative location for a comparable facility. This news will be welcomed by passengers, particularly the elderly and disabled who value the easy bus-to-bus interchange.'</p>

<p>Coaches are an efficient, affordable and accessible means of national and international transport to and from London for 14 million passengers a year, helping to drive the city's economy and often acting as a base for tourists to explore the rest of the country.</p>

<hr />
<p>Notes to editors</p>

<ul>
	<li>Next year every coach that serves Victoria Coach Station, and London, will be required to meet the tighter new Low Emission Zone Standards. For more information on this, please visit: <a href="[ioID]#https://tfl.gov.uk/modes/driving/low-emission-zone/changes-to-the-lez">https://tfl.gov.uk/modes/driving/low-emission-zone/changes-to-the-lez</a></li>
</ul>

<p>&nbsp;</p>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
                <a href="/info-for/media/index" class="heading">
                    <h2 id="sub-menu-heading">Media<span class="visually-hidden"> navigation</span></h2>
                </a>
                <ul>
                    
                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases">Press releases</a></div>
                                <ul>
                                    
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2020">2020</a></div></li>
                            
 
                                        <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019">2019</a></div>
                                        <ul>
                                            
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019/january">January</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019/february">February</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019/march">March</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019/april">April</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019/may">May</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019/june">June</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019/july">July</a></div></li>
                                    
 
                                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019/august">August</a></div>
                                                <ul>
                                                    
 
 
 
 
 
 
 
 
 
 
                                                </ul>
                                            
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019/september">September</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019/october">October</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019/november">November</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019/december">December</a></div></li>
                                    
 
                                        </ul>
                                    </li>
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018">2018</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017">2017</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016">2016</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015">2015</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014">2014</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2013">2013</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2012">2012</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2011">2011</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2010">2010</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2009">2009</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2008">2008</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2007">2007</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2006">2006</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2005">2005</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2004">2004</a></div></li>
                            
 
                                </ul>
                            </li>
 
                                <li><div class="link-wrapper"><a href="/info-for/media/photos">Photos</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/media/contact-the-press-office">Contact the Press Office</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/filming-and-photography">Filming & photography</a></div></li>
                            
 
                </ul>
            
 
 
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype: -Home-Media-Media-Press releases-2019-August-Victoria Coach Station to remain major coach hub -->

 
 
        
        
            @{ViewBag.Description = "Victoria Coach Station to remain major coach hub with improved customer facilities";}
        
        


 