


@{ViewBag.Title = "World's largest cycling database set to make cycling in the capital easier";}
        
        
<div class="r">
    <div class="breadcrumb-container" role="navigation">
        <span id="breadcrumb-label" class="visually-hidden">You are here:</span>
        <ol class="breadcrumbs clearfix" aria-labelledby="breadcrumb-label">
            <li class="home">
                <a href="/">
                    <span class="hide-text">Home</span>
                </a>
            </li>
            
                <li>
                    <a href="/info-for/media/index">Media</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases">Press releases</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases/2019">2019</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases/2019/august">August</a>
                </li>
                
                <li>
                    <span class="last-breadcrumb">World's largest cycling database set to make cycling in the capital easier</span>
                </li>
            
 
            
 
            
 
            
 
            
 
        </ul>
    </div>
</div>
     
 
<div class="r">
    <div class="headline-container plain">
        <h1>World's largest cycling database set to make cycling in the capital easier</h1>
        <div class="content-page-press-release">
        01 August 2019
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        The Cycling Infrastructure Database contains the location of more than 240,000 pieces of cycling infrastructure in London, including places to park and the location of cycle lanes
        
    </div>



<div class="pull-quote">
        <div class="quote-body">"TfL's Cycling Infrastructure Database is the biggest collection of cycling information anywhere in the world, and has the potential to transform the way we think about cycling"</div>
        <div class="quote-footer">
            <div class="quotee-name">Will Norman</div>
            <div class="quotee-job-title">London's Walking and Cycling Commissioner</div>
        </div>
</div>

 <div class="on-this-page">
<ul>
	<li>London is the first city in the world to collect data on cycling infrastructure on such a large scale</li>
	<li>Data has been added to TfL's Journey Planner which can now show users where they can park their bikes</li>
	<li>The information is also being shared as open data, which could be used by third parties to make journey planning easier and more accurate</li>
</ul>

<p>Transport for London (TfL) has launched the Cycling Infrastructure Database, the world's largest database of cycling infrastructure which will help to make cycling in London easier and more tailored to people's needs. The database contains the details of all 240,000 pieces of cycling infrastructure in London, such as cycle parking spaces and cycle lanes.</p>

<p>TfL research has shown that many people feel uncomfortable about setting off on a cycle journey without knowing what to expect, particularly when it comes to finding a place to park or a protected cycle lane.</p>

<p>To create the database, TfL surveyed every street in every London borough to collect data on all 146,000 cycle parking spaces across London, as well as gathering information on 2,000km of cycle lanes, 960 traffic filters and 58,000 wayfinding signs. The database also contains 480,000 photographs of cycling infrastructure, allowing users to see exactly what can be found on street and where.</p>

<p>The database has now been made available to London boroughs and has also been released as open data for third-party developers. The data has already been used to upgrade TfL's own Journey Planner, meaning that people using the planner for cycle journeys can now see the nearest and most convenient place to park for every journey.</p>

<p>Third-party developers will be able to use the data for their own journey planning tools, which will make it simpler for Londoners to plan cycle journeys using their preferred apps. TfL will invite app developers to a 'hackathon' later this year to explore innovative ways to use the data to make cycling simpler and easier for more Londoners.</p>

<p>The database will also make it possible for TfL and the boroughs to plan future investment in cycling effectively. The database has already been used to develop TfL's Cycle Parking Implementation Plan, which last month set out how TfL will work with partners across the capital to invest &pound;2.5m in new cycle parking across London, targeting areas of highest demand.</p>

<p>Will Norman, London's Walking and Cycling Commissioner, said:</p>

<p>'Last year London saw the quickest growth in cycling journeys on record, but we must continue to do everything we can to make cycling easy and convenient for everyone. TfL's Cycling Infrastructure Database is the biggest collection of cycling information anywhere in the world, and has the potential to transform the way we think about cycling. It means that wherever you live or work in the capital you can properly plan your journey from beginning to end, knowing the quickest and safest route through every London neighbourhood.</p>

<p>'With the open data being available to councils, developers, policy makers and anyone who wants it, it will be a really useful tool for planning new cycling investment in years to come.'</p>

<p>Christina Calderato, TfL's Head of Planning, said:</p>

<p>'We're investing record amounts in cycling as we see the number of people cycling in the capital continuing to increase year on year. The Cycling Infrastructure Database will make it easier for people in London to plan their journeys, allowing people to set off from home knowing where cycle lanes are and where they can park at their destination. The data will also help us to work with the boroughs and invest in cycling where it is needed most.'</p>

<p>Simon Munk, Infrastructure Campaigner at&nbsp; London Cycling Campaign, said:</p>

<p>'As the capital's Cycleway network continues to expand, cycling levels are rising. But as more main road cycle tracks and quieter neighbourhood schemes are added, navigating them remains far too intimidating, with maps and routing apps failing to accurately identify safe and inviting routes for all abilities to use to plan their cycle journeys. This new database opens the door for developers to improve their route planning apps for London's riders, so more people can ride in confidence and safety from a to b.'</p>

<p>Rob Nickerson, Director of OpenStreetMap UK, said:</p>

<p>'The Cycling Infrastructure Database includes a fantastic amount of detail and, being based on a full survey of assets, is of superb quality and accuracy. We look forward to incorporating this into OpenStreetMap where it will benefit the many cycling apps and websites which utilise the OpenStreetMap dataset.'</p>

<p>Martin Lucas-Smith, Developer at CycleStreets, said:</p>

<p>'TfL has done great work in collecting and publishing this data, which will be useful for cyclists, transport planners, utility companies and cycling advocates. We have been extremely impressed by the quality and comprehensiveness of the data. Our Bikedata site has a full copy of the data, to enable users and developers to browse it on a map easily. We've recently been working with TfL to determine how it can be made available for use in OpenStreetMap, so that cycle routing apps like ours will give even better results.'</p>

<p>TfL and the Mayor are committed to expanding the capital's cycle network at pace and increasing the proportion of Londoners who live within 400 metres of the cycling network to 28 per cent by 2024, up from nine per cent. TfL has doubled the amount of protected space for cyclists since 2016 and is on course to triple this by 2020.</p>

<p>In 2018, the Mayor's Vision Zero and Walking and Cycling Action Plans set out ambitious targets for eliminating death and serious injury from London's roads and becoming the best city in the world for walking and the best big city for cycling. These plans will ensure safer streets and a high standard for walking and cycling routes, which will significantly increase the number of people walking and cycling as well as reduce road danger, congestion and air pollution.</p>

<p>The expansion of London's walking and cycling network continues to enable millions more journeys to be cycled or made on foot every week. New 2018 data shows that cycling in London is at record levels with the average daily total distance cycled exceeding 4million kilometres for the first time. Construction on major new routes between Tower Bridge Road and Greenwich and Acton and Wood Lane is underway and TfL is also currently inviting people to have their say on another route between Dalston and Clapton.</p>

<hr />
<p>Notes to editors</p>

<ul>
	<li>The data from TfL's Cycling Infrastructure Database is available to view and download here - <a href="https://cycling.data.tfl.gov.uk/">https://cycling.data.tfl.gov.uk/</a></li>
</ul>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
                <a href="/info-for/media/index" class="heading">
                    <h2 id="sub-menu-heading">Media<span class="visually-hidden"> navigation</span></h2>
                </a>
                <ul>
                    
                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases">Press releases</a></div>
                                <ul>
                                    
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2020">2020</a></div></li>
                            
 
                                        <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019">2019</a></div>
                                        <ul>
                                            
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019/january">January</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019/february">February</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019/march">March</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019/april">April</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019/may">May</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019/june">June</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019/july">July</a></div></li>
                                    
 
                                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019/august">August</a></div>
                                                <ul>
                                                    
 
 
 
 
 
 
 
 
 
 
                                                </ul>
                                            
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019/september">September</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019/october">October</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019/november">November</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019/december">December</a></div></li>
                                    
 
                                        </ul>
                                    </li>
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018">2018</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017">2017</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016">2016</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015">2015</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014">2014</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2013">2013</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2012">2012</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2011">2011</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2010">2010</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2009">2009</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2008">2008</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2007">2007</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2006">2006</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2005">2005</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2004">2004</a></div></li>
                            
 
                                </ul>
                            </li>
 
                                <li><div class="link-wrapper"><a href="/info-for/media/photos">Photos</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/media/contact-the-press-office">Contact the Press Office</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/filming-and-photography">Filming & photography</a></div></li>
                            
 
                </ul>
            
 
 
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype: -Home-Media-Media-Press releases-2019-August-World's largest cycling database set to make cycling in the capital easier -->

 
 
        
        
            @{ViewBag.Description = "World's largest cycling database set to make cycling in the capital easier";}
        
        


 