


@{ViewBag.Title = "Customer satisfaction improves as London Underground stations have more staff";}
        
        
<div class="r">
    <div class="breadcrumb-container" role="navigation">
        <span id="breadcrumb-label" class="visually-hidden">You are here:</span>
        <ol class="breadcrumbs clearfix" aria-labelledby="breadcrumb-label">
            <li class="home">
                <a href="/">
                    <span class="hide-text">Home</span>
                </a>
            </li>
            
                <li>
                    <a href="/info-for/media/index">Media</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases">Press releases</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases/2015">2015</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases/2015/may">May</a>
                </li>
                
                <li>
                    <span class="last-breadcrumb">Customer satisfaction improves as London Underground stations have more staff</span>
                </li>
            
 
            
 
            
 
            
 
            
 
        </ul>
    </div>
</div>
     
 
<div class="r">
    <div class="headline-container plain">
        <h1>Customer satisfaction improves as London Underground stations have more staff</h1>
        <div class="content-page-press-release">
        28 May 2015
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        Staff moved from underused ticket offices to public areas of stations at more than 70 stations and	30% increase in number of station staff visible and available to help customers
        
    </div>



<div class="pull-quote">
        <div class="quote-body">"As we continue to deliver these changes, we'll keep focused on our core promises to customers: more staff on hand to help, better information to help plan and make journeys, and a range of ways to pay to suit all needs"</div>
        <div class="quote-footer">
            <div class="quotee-name">Nick Brown</div>
            <div class="quotee-job-title">London Underground's Chief Operating Officer</div>
        </div>
</div>

 <div class="on-this-page">
<p>LU's customers now have more staff available to help them face-to-face at more than a quarter of Tube stations. As a result, passenger surveys show customer satisfaction is up from 81% to 83% at stations where ticket offices have closed and mystery shopping shows staff helpfulness has increased from 92% to 96%.</p>
<p>Staff are no longer in underused ticket offices and back rooms of stations, but are out in ticket halls and on gate lines, with record numbers on platforms &#45; helping customers make their journeys and keeping them safe. By early next year, this will mean a 30% increase in the number of staff visible and available to help across the Tube. As now, all stations will be staffed and managed whenever train services are operating.</p>
<h2>Fresh approach</h2>
<p>Supporting this fresh approach to customer service, innovative training is being given to every member of station staff, including elements designed and delivered by disabled people on how best to assist disabled customers. Staff are also being equipped with the latest technology to help customers, and travel information and signage in stations is being improved.  Every ticket machine on the network has been upgraded and 150 more ticket machines are being installed across the network.</p>
<p>A new flagship Visitor Centre is now open seven-days-a-week at King's Cross St Pancras station, and seven more will be opened at major stations - Euston, Gatwick, Heathrow Terminals 1,2,3, Liverpool Street, Paddington, Piccadilly Circus, and Victoria - throughout 2015. Millions of visitors each year will use these for the best value for money tickets, sale of Oyster cards and tickets for London attractions.</p>
<h2>Extra staff to operate Night Tube</h2>
<p>In keeping with LU's original commitments to staff, following detailed planning and extensive consultation with staff and Trade Unions, the number of jobs to be reduced has come down from the original estimate of 953 to 838. This reduction is being made with no compulsory redundancies. In addition, an extra 345 staff are being recruited to operate the Night Tube service, opening this September. Fifty-seven more posts have been created to meet increasing customer demand at some locations due to London's growing population.  There will remain over 5,000 station staff across the network, among the highest staffing level for metros in Western Europe and North America.</p>
<p>Nick Brown, London Underground's Chief Operating Officer, said: 'The first three months of our station modernisations, which are providing a more personal service for customers, have been very encouraging. We have kept a close eye on all the stations transformed so far, and are making good our promise that staff will be more visible and available. Early indications from independent monitoring shows that customer satisfaction scores have improved at stations where under-used ticket offices are now closed. As we continue to deliver these changes, we'll keep focused on our core promises to customers: more staff on hand to help, better information to help plan and make journeys, and a range of ways to pay to suit all needs.'</p>
<p>&nbsp;</p>
<hr />
<p><strong>Notes to editors</strong>:</p>
<ul>
    <li>These plans will save &pound;50m per year, and &pound;270m in total up to 2020/2021 alone.  These are net savings and take into account one off implementation costs and voluntary redundancies. In addition, higher commercial revenue from better shops and services at stations increase these savings even further. Every penny of London Underground's fare and other revenue is reinvested in improving the network, giving better value to our passengers</li>
    <li>LU has been in consultation with the Trade Unions for over a year, with over 150 meetings on the details of the staffing proposals. LU has, with the unions, carried out a station by station review and has adhered to every one of the commitments made to staff, including:</li>
</ul>
<ul>
    <li>Role reductions are being delivered through voluntary severance. There are no compulsory redundancies and not one single member of staff is being forced out;</li>
    <li>There is a job at the company for anyone who wants to stay, and no one who stays will lose any pay;</li>
    <li>No one will have to 'apply for their own job' or move more than 30 minutes from their current work location;</li>
    <li>All stations will remain staffed at all times, with a staff member of Supervisor level looking after each station throughout.</li>
</ul>
<ul>
    <li>Before the programme began, fewer than three per cent of journeys involved a visit to a ticket office, as customers avoid queuing by using Oyster, topping up online or using contactless payment</li>
    <li>These changes on London Underground form part of a huge range of improvements that reflect the needs of a successful 24-hour global city with a rapidly rising population. London's population is set to grow from 8.4m today to around 10m by 2030 &#45;an extra Tube train full of people every three days &#45; and it is essential that there is continued investment in transport to meet this increasing demand. London Underground will always keep the numbers of staff at stations under review to ensure that they can keep up with customer demand</li>
    <li>London Underground will introduce 24-hour 'Night Tube' services on core parts of the network from 12 September this year, radically improving night time travel options, cutting late night journey times by up to an hour and boosting London's economy</li>
    <li>Work on the Northern line extension to Battersea is due to start this year, which will support thousands of new jobs and homes and enable major regeneration in the Vauxhall, Battersea and Nine Elms areas. Major progress is being made in the rebuilding of key stations like Tottenham Court Road &#45; where a spacious new ticket hall opened this month &#45; Bond Street, Victoria and others. More than half of London Underground's 270 stations have now been improved, with features such as tactile strips, better CCTV, help points, electronic information displays, and improved seating and lighting</li>
    <li>The signalling systems on the Victoria and Jubilee lines have now been replaced to give customers some of the most frequent metro services in Europe, capacity on the Northern line has been boosted by 20% and the introduction of new air-conditioned trains on the District line is now underway following the successful introduction of these trains on the Circle, Hammersmith and City and Metropolitan lines</li>
    <li>Visitor Centres are being introduced at Gatwick, Euston, Paddington, Piccadilly Circus, Heathrow Terminals 1,2,3, Victoria and Liverpool Street station they are designed to offer help and welcome infrequent passengers and overseas visitors to the capital</li>
    <li>For more information please visit the Future Tube webpage on the TfL website: <a href="http://tfl.gov.uk/futuretube">http://tfl.gov.uk/futuretube</a></li>
</ul>
<p>&nbsp;</p>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
                <a href="/info-for/media/index" class="heading">
                    <h2 id="sub-menu-heading">Media<span class="visually-hidden"> navigation</span></h2>
                </a>
                <ul>
                    
                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases">Press releases</a></div>
                                <ul>
                                    
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2020">2020</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019">2019</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018">2018</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017">2017</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016">2016</a></div></li>
                            
 
                                        <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015">2015</a></div>
                                        <ul>
                                            
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015/december">December</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015/november">November</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015/october">October</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015/september">September</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015/august">August</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015/july">July</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015/june">June</a></div></li>
                                    
 
                                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015/may">May</a></div>
                                                <ul>
                                                    
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
                                                </ul>
                                            
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015/april">April</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015/march">March</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015/february">February</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015/january">January</a></div></li>
                                    
 
                                        </ul>
                                    </li>
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014">2014</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2013">2013</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2012">2012</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2011">2011</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2010">2010</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2009">2009</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2008">2008</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2007">2007</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2006">2006</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2005">2005</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2004">2004</a></div></li>
                            
 
                                </ul>
                            </li>
 
                                <li><div class="link-wrapper"><a href="/info-for/media/photos">Photos</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/media/contact-the-press-office">Contact the Press Office</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/filming-and-photography">Filming & photography</a></div></li>
                            
 
                </ul>
            
 
 
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype: -Home-Media-Media-Press releases-2015-May-Customer satisfaction improves as London Underground stations have more staff -->

 
 
        
        
            @{ViewBag.Description = "Staff moved from underused ticket offices to public areas of stations at more than 70 stations and	30% increase in number of station staff visible and available to help customers";}
        
        


 