


@{ViewBag.Title = "Passengers set to benefit  as key commuter rail services transfer to TfL";}
        
        
<div class="r">
    <div class="breadcrumb-container" role="navigation">
        <span id="breadcrumb-label" class="visually-hidden">You are here:</span>
        <ol class="breadcrumbs clearfix" aria-labelledby="breadcrumb-label">
            <li class="home">
                <a href="/">
                    <span class="hide-text">Home</span>
                </a>
            </li>
            
                <li>
                    <a href="/info-for/media/index">Media</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases">Press releases</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases/2015">2015</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases/2015/may">May</a>
                </li>
                
                <li>
                    <span class="last-breadcrumb">Passengers set to benefit  as key commuter rail services transfer to TfL</span>
                </li>
            
 
            
 
            
 
            
 
            
 
        </ul>
    </div>
</div>
     
 
<div class="r">
    <div class="headline-container plain">
        <h1>Passengers set to benefit  as key commuter rail services transfer to TfL</h1>
        <div class="content-page-press-release">
        21 May 2015
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        London Overground extended to routes between Liverpool Street station and Enfield Town, Cheshunt (via Seven Sisters) and Chingford, along with services between Romford and Upminster
        
    </div>



 <div class="on-this-page">
<p>The Mayor and Transport for London (TfL) today announced new fares for key commuter rail services out of Liverpool Street when they join the TfL network at the end of May. It will mean 80 per cent of pay as you go fares on those routes will be lower with the remainder unchanged. Some fares will fall by as much as 40 per cent.</p>
<p>On Sunday 31 May, services currently operated by Abellio Greater Anglia, between Liverpool Street station and Enfield Town, Cheshunt (via Seven Sisters) and Chingford, along with services between Romford and Upminster, will become part of London Overground.</p>
<p>From the same date, the stopping services between Liverpool Street and Shenfield will be run as TfL Rail in preparation for the introduction of Crossrail branded services in 2017.</p>
<p>The services currently operate with National Rail pay as you go fares, which are generally higher than TfL fares. When services transfer, over 80 per cent of current rail journeys will reduce in price and TfL concessions will apply - giving customers substantial savings. The remaining 20 per cent of fares will remain unchanged.</p>
<p>Examples of the new fares are:</p>
<ul>
    <li>Peak Zones 1-6 pay as you go fare from Romford to Oxford Circus will fall from &pound;7.60 to &pound;5.10 (a 30 per cent reduction) with the off-peak fare falling from &pound;5.20 to &pound;3.10 (a 40 per cent reduction)</li>
    <li>Peak Zones 1-6 pay as you go fare from Cheshunt to Zone 1 will fall from &pound;8.20 to &pound;6.90 (a 15 per cent reduction) with the off-peak fare falling from &pound;6.20 to &pound;4.00 (a 35 per cent reduction)</li>
</ul>
<p>The full fare structure for these services can be found here: <a href="/cdn/static/cms/documents/lo-tfl-rail-fares-may2015.pdf">lo-tfl-rail-fares-may2015.pdf</a></p>
<p>A map of the routes affected can be found here <a href="/cdn/static/cms/documents/tube-map-may-2015.pdf">tube-map-may-2015.pdf</a></p>
<p>All TfL concessions and discounts that currently apply to London Underground, the Docklands Light Railway, and London Overground will apply on the rail services transferring to TfL. This will include:</p>
<ul>
    <li>Free travel for under 11s accompanied by an adult</li>
    <li>Lower ZIP photocard fares for under 16s</li>
    <li>Free travel for customers with a 60+ London Oyster photocard, Freedom Pass or Veterans Oyster photocard</li>
</ul>
<p>Any fares currently below TfL levels will remain unchanged and no tickets will be withdrawn.</p>
<p>The Mayor of London, Boris Johnson, said: `This is fantastic news for commuters, who won't just be benefitting from being part of the wonderfully efficient London Overground network, but for many of them their fares will be reduced as well. This is a clear demonstration of why it is a no brainer for TfL to be given more control of suburban rail services, enabling more people to reap the benefits of rail devolution.'</p>
<p>The Managing Director of London Rail, Mike Brown, said: `We are very pleased to take over responsibility for these routes into and out of Liverpool Street and, over time, look forward to improving the services for the passengers using them. Just as on London Underground, people will see staff at our stations at all times when trains are running - providing reassurance to the public as well as a turn up and go service for disabled customers. Passengers will also benefit from new fares which, in the most cases, will save them money, with Oyster and contactless payment continuing to provide the best value.'</p>
<p>Stephen Locke, Chair of London TravelWatch, said: `Given that affordability of fares is a major issue for passengers, we welcome the lower fares which will come when TfL takes over these services and the fact that TfL concessions and discounts will apply. However, passengers will also benefit from the service improvements that have been promised which overall will give passengers better value for money and strengthen the case for further devolution of rail services to the Mayor of London.'</p>
<p>Some fares will come down but will remain at a level consistent with National Rail to ensure the Crossrail Sponsors' Agreement and the Government's fare policy requirements are adhered to. For example, the pay as you go peak fare from Brentwood to Zone 1 will come down by &pound;1.50 to &pound;8.20 and the off-peak fare by &pound;2.30 to &pound;5.30 &#45; significantly lower than the current fares but higher than the standard Zone 1-9 Tube fare.</p>
<p>TfL does not make a profit from fares. All income is reinvested to run and improve services for customers and users.</p>
<p>Under TfL, London Overground has become one of the most popular and punctual railways in the country.  Services have been radically improved with continuing investment and expansion to parts of the Capital which were once not well served by rail.  Stations have been brought up to modern standards, with CCTV, better security, a turn up and go service for disabled Londoners and staff present at every station at all times services are operating.</p>
<p>Customers using these services will also benefit from the same refund policy as existing London Overground customers &#45; if they are delayed for 30 minutes or more for a reason within TfL's control they will be entitled to a full single fare refund for their journey.  If there is an incident which causes significant disruption then automatic refunds will be issued.</p>
<p>TfL Rail services will operate between Liverpool Street and Shenfield in preparation for the introduction of Crossrail &#45; the East-West railway that will transform travel in London.  They will be operated by MTR, and will deliver improvements for customers until the new Crossrail trains, and the first Crossrail services as far as Liverpool Street, are introduced in 2017.</p>
<p>Notes to Editors </p>
<ul>
    <li>On the Upminster to Romford service a member of staff will travel on the train between Romford and Emerson Park to ensure someone is available to assist passengers during hours of operation. Staff will also be available at Upminster and Romford stations from the first to last train.</li>
</ul>
<p>Shenfield</p>
<ul>
    <li>Although the train services transferring to TfL Rail in May 2015 terminate at Shenfield, the station will continue to be served primarily by fast main line services. Abellio Greater Anglia will continue to manage the station and set most fares, including the pay as you go fares from Shenfield to Zone 1 and beyond, and all through fares to the rest of the National Rail network in the same way they do today.</li>
    <li>All non-Zone 1 fares from Shenfield to the rest of the TfL rail network will be set by TfL; Abellio Greater Anglia will no longer set fares to east London including Docklands and Stratford.</li>
    <li>Prices will not change for any single or return paper ticket.</li>
</ul>
<p>Brentwood</p>
<ul>
    <li>Brentwood's pay as you go fares are currently set by Abellio Greater Anglia and the station is outside the TfL fare zones. The train service from Brentwood will be provided by TfL Rail from 31 May and to coincide with this, Brentwood will be moved to Zone 9. This will mean that all TfL stations are included in the numbered Zones 1-9.</li>
    <li>As a result of Brentwood being added to Zone 9, the 7 Day Zone 1 Travelcard from there will fall in price from &pound;87.40 to &pound;83.40 bringing it in line with current TfL fares.</li>
    <li>Pay as you go fares from Brentwood to Zone 1 London Underground stations will also go down. The peak fare will reduce from &pound;9.70 to &pound;8.20 and the off-peak fare will reduce from &pound;7.60 to &pound;5.30.</li>
</ul>
<p>Cheshunt to Tottenham Hale</p>
<ul>
    <li>The service from Cheshunt to Liverpool Street via Southbury will be operated by London Overground, while the service from Cheshunt to Liverpool Street via Tottenham Hale will remain operated by Abellio Greater Anglia from 31 May 2015. However, following an agreement with Abellio Greater Anglia, the two lines will share the same TfL pay as you go fares.  This provides consistent fares for customers and means the same TfL Zone 3-2 fare of &pound;1.70 peak and &pound;1.50 off-peak will apply for journeys such as White Hart Lane or Northumberland Park to Hackney Downs.</li>
</ul>
<p>&nbsp;</p>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
                <a href="/info-for/media/index" class="heading">
                    <h2 id="sub-menu-heading">Media<span class="visually-hidden"> navigation</span></h2>
                </a>
                <ul>
                    
                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases">Press releases</a></div>
                                <ul>
                                    
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2020">2020</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019">2019</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018">2018</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017">2017</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016">2016</a></div></li>
                            
 
                                        <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015">2015</a></div>
                                        <ul>
                                            
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015/december">December</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015/november">November</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015/october">October</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015/september">September</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015/august">August</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015/july">July</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015/june">June</a></div></li>
                                    
 
                                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015/may">May</a></div>
                                                <ul>
                                                    
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
                                                </ul>
                                            
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015/april">April</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015/march">March</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015/february">February</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015/january">January</a></div></li>
                                    
 
                                        </ul>
                                    </li>
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014">2014</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2013">2013</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2012">2012</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2011">2011</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2010">2010</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2009">2009</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2008">2008</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2007">2007</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2006">2006</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2005">2005</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2004">2004</a></div></li>
                            
 
                                </ul>
                            </li>
 
                                <li><div class="link-wrapper"><a href="/info-for/media/photos">Photos</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/media/contact-the-press-office">Contact the Press Office</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/filming-and-photography">Filming & photography</a></div></li>
                            
 
                </ul>
            
 
 
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype: -Home-Media-Media-Press releases-2015-May-Passengers set to benefit  as key commuter rail services transfer to TfL -->

 
 
        
        
            @{ViewBag.Description = "London Overground extended to routes between Liverpool Street station and Enfield Town, Cheshunt (via Seven Sisters) and Chingford, along with services between Romford and Upminster";}
        
        


 