


@{ViewBag.Title = "First pan-London Car Club Action Plan launched";}
        
        
<div class="r">
    <div class="breadcrumb-container" role="navigation">
        <span id="breadcrumb-label" class="visually-hidden">You are here:</span>
        <ol class="breadcrumbs clearfix" aria-labelledby="breadcrumb-label">
            <li class="home">
                <a href="/">
                    <span class="hide-text">Home</span>
                </a>
            </li>
            
                <li>
                    <a href="/info-for/media/index">Media</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases">Press releases</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases/2015">2015</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases/2015/may">May</a>
                </li>
                
                <li>
                    <span class="last-breadcrumb">First pan-London Car Club Action Plan launched</span>
                </li>
            
 
            
 
            
 
            
 
            
 
        </ul>
    </div>
</div>
     
 
<div class="r">
    <div class="headline-container plain">
        <h1>First pan-London Car Club Action Plan launched</h1>
        <div class="content-page-press-release">
        21 May 2015
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">



 <div class="on-this-page">
<p>A new &quot;Strategy for Car Clubs&quot; in London has been launched today (21 May), to encourage residents and businesses across the Capital to sign up to car club schemes as an alternative to direct car ownership.</p>
<p>The new action plan, jointly developed by Transport for London (TfL), London Councils, the Greater London Authority (GLA), a coalition of car club operators and key stakeholders, aims to grow car clubs into a mainstream alternative to the private car for essential car journeys in London. This will help to address a number of challenges faced in the coming years, including population growth, congestion and environmental issues.</p>
<p>London is already one of the leading car club cities in Europe &#45; 85% of UK car club members are in the Capital - and the new action plan will help take this further by  developing and promoting car clubs and setting an example for other global cities to follow. Encouraging further use of car clubs was a key recommendation from the Mayor's Roads Task Force, which was set up in July 2012 to help deliver a template for world-class streets and roads fit for the future.</p>
<p>London's roads are already under pressure, and maintaining a highly functioning road network is central to ensure it retains its position as a world renowned economic capital. Research by the RAC Foundation has shown that the average city dweller's car is only used for 4.6 hours a week, meaning that the vehicle is actually parked for 97 % of the time. With London's population forecast to grow to 10 million by 2031, potentially bringing thousands more cars on the road in the next decade, car clubs are a part of the solution to address this.</p>
<p>Car clubs already have on-street parking bays in 27 of the 33 London boroughs and many boroughs have incorporated them into their transport infrastructure in innovative ways. However, low awareness of the schemes remains a key barrier to car club growth. To address this, the new plan sets out ten key actions, which will be delivered by all members of the coalition, to grow the membership of car clubs to one million users in London by 2025. The actions, which the partners will work together to deliver, include:</p>
<ul>
    <li>Working with London Boroughs to develop best practice measures to promote car clubs as a sustainable travel option for local residents and businesses</li>
    <li>Improving access to data such as nearby parking bays through new technology and apps, as well as making more information available through the TfL website</li>
    <li>Creating more car club parking, as well as ensuring that new and existing car club bays are used as efficiently as possible to maximise their potential</li>
    <li>Encouraging more low emission vehicles, particularly electric vehicles, within car clubs to help increase the environmental benefits and reduce noise pollution</li>
    <li>Using public procurement to encourage boroughs to use car clubs as part of their fleets, in a similar way to how cycle safety is promoted as part of the Construction Logistics and Cycle Safety (CLOCS) scheme</li>
    <li>Lobbying Government to include car clubs in its own procurement frameworks to help build on the work being done at the local level; and</li>
    <li>Promoting car clubs to commercial and business fleets to help reduce the burden of fleet management and encourage further use of electric vehicles</li>
</ul>
<p>Leon Daniels, Managing Director of Surface Transport at TfL, said: `The use of car clubs in London has grown significantly in recent years and we continue to support the initiative across London as a way to help reduce congestion and encourage sustainable travel. I myself am a regular user and this new action plan will help encourage more Londoners to consider the benefits of car clubs, including the money saved. I thoroughly welcome this positive action and look forward to working with the coalition to deliver these simple yet sensible actions.'</p>
<p>Cllr Julian Bell, Chair of London Councils' Transport and Environment Committee, said: 'Car clubs are an increasingly popular means of getting around London. They have the potential to ease the pressure on our roads and help tackle poor air quality, which poses a threat to peoples' health across the city. This strategy outlines the way in which members of the Car Club Coalition can work in partnership to make car clubs more accessible in the future.'</p>
<p>Cllr Feryal Demirci, Cabinet Member for Neighbourhoods at Hackney Council, said: 'This new Car Club Strategy will help to ensure that boroughs and operators work together to make London the leading city in the world for car clubs and car sharing services. By 2025 we will be in a situation where car clubs are so accessible and convenient that there will be no need to own a private vehicle.'</p>
<p>Alistair Kirkbride, Executive Director for Carplus, said: &quot;Car Club use meant that there were 14,000 fewer private cars on London's roads in 2014. We welcome support from Transport for London, London Councils and the Greater London Authority for the Car Club Action Plan. By working together we can grow car club membership in London to levels which will greatly reduce pressure on the roads whilst giving people access to cars when they need them.&quot;</p>
<p>Gerry Keaney, Chief Executive of the British Vehicle Rental and Leasing Association (BVRLA), said: &quot;The BVRLA is delighted to be a member of the Car Club Coalition. Supporting new models of urban mobility is essential if we hope to deal with the issues of congestion, road safety and air quality that affect our cities.</p>
<p>&quot;Car clubs, car rental and other forms of pay-as-you-go motoring are evolving at a rapid pace. The BVRLA will support this development by ensuring that operators are treated fairly by policy makers and get all the support they need to serve their growing customer base.&quot;</p>
<p>For more information about Car Clubs in London, please visit <a href="http://www.tfl.gov.uk/car-clubs">www.tfl.gov.uk/car-clubs</a></p>
Notes to Editors:
<ul>
    <li>The new &quot;Strategy for Car Clubs&quot; action plan can be downloaded here: <a href="http://www.tfl.gov.uk/modes/driving/car-clubs">http://www.tfl.gov.uk/modes/driving/car-clubs</a></li>
    <li>The members of the Car Club Coalition are: Transport for London (TfL), London Councils, Greater London Authority (GLA), Carplus, the British Vehicle Rental and Leasing Association (BVRLA), Bollor&eacute;, car2go, City Car Club, DriveNow, E-Car Club, Europcar, Hertz 24/7, and Zipcar</li>
    <li>Currently, the UK has one of the highest car club memberships in the world with more than 160,000 members. The majority of these are in London (more than 135,000 members in January 2015), with the greatest density being in Inner London boroughs such as Westminster, Camden, Islington, Wandsworth, Lambeth and Hackney.</li>
    <li>The implementation of the &quot;Strategy for Car Clubs&quot; action plan will form part of the wider work being carried out across London as part of TfL's Road Modernisation Plan. With a budget of over &pound;4 billion from now until 2020/21, this overarching plan represents the biggest investment in London's roads in a generation, including hundreds of transformational projects within the existing road network. Using radical ideas and innovative designs, the plan will make London's roads greener, safer and more attractive for the benefit of all road users.</li>
</ul>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
                <a href="/info-for/media/index" class="heading">
                    <h2 id="sub-menu-heading">Media<span class="visually-hidden"> navigation</span></h2>
                </a>
                <ul>
                    
                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases">Press releases</a></div>
                                <ul>
                                    
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2020">2020</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019">2019</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018">2018</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017">2017</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016">2016</a></div></li>
                            
 
                                        <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015">2015</a></div>
                                        <ul>
                                            
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015/december">December</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015/november">November</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015/october">October</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015/september">September</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015/august">August</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015/july">July</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015/june">June</a></div></li>
                                    
 
                                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015/may">May</a></div>
                                                <ul>
                                                    
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
                                                </ul>
                                            
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015/april">April</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015/march">March</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015/february">February</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015/january">January</a></div></li>
                                    
 
                                        </ul>
                                    </li>
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014">2014</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2013">2013</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2012">2012</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2011">2011</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2010">2010</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2009">2009</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2008">2008</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2007">2007</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2006">2006</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2005">2005</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2004">2004</a></div></li>
                            
 
                                </ul>
                            </li>
 
                                <li><div class="link-wrapper"><a href="/info-for/media/photos">Photos</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/media/contact-the-press-office">Contact the Press Office</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/filming-and-photography">Filming & photography</a></div></li>
                            
 
                </ul>
            
 
 
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype: -Home-Media-Media-Press releases-2015-May-First pan-London Car Club Action Plan launched -->

 
 
        
        
            @{ViewBag.Description = "Press releases and news articles from Transport for London";}
        
        


 