


@{ViewBag.Title = "First ever Tube pop-up garden comes to Barbican station";}
        
        
<div class="r">
    <div class="breadcrumb-container" role="navigation">
        <span id="breadcrumb-label" class="visually-hidden">You are here:</span>
        <ol class="breadcrumbs clearfix" aria-labelledby="breadcrumb-label">
            <li class="home">
                <a href="/">
                    <span class="hide-text">Home</span>
                </a>
            </li>
            
                <li>
                    <a href="/info-for/media/index">Media</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases">Press releases</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases/2015">2015</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases/2015/may">May</a>
                </li>
                
                <li>
                    <span class="last-breadcrumb">First ever Tube pop-up garden comes to Barbican station</span>
                </li>
            
 
            
 
            
 
            
 
            
 
        </ul>
    </div>
</div>
     
 
<div class="r">
    <div class="headline-container plain">
        <h1>First ever Tube pop-up garden comes to Barbican station</h1>
        <div class="content-page-press-release">
        06 May 2015
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">



 <div class="on-this-page">
<p>London Underground (LU) has launched its first ever pop-up garden at Barbican Tube station.</p>
<p>The 36,000 people that pass through Barbican station everyday will see an impressive 100 metre long garden on a disused platform.</p>
<p>The garden celebrates the movement of trains arriving and leaving the station. A scheme of red vertical poles and grouped concrete planters are filled with trees, shrubs and colourful flowers. Underground staff working at Barbican station will be able to grow herbs and vegetables.</p>
<p>The garden has been created in partnership with the Friends of City Gardens over the past year, and is part of a wider community effort to create new gardens within the Square Mile part of the Capital.</p>
<p>Volunteers from LU and Friends of City Gardens have worked hard to plan and help build the garden over the past year, as part of an effort to increase the Underground's involvement with local communities.</p>
<p>Gareth Powell, London Underground's Director for Strategy &amp; Service Development, said:<br />
`We are always looking for innovative ways to make our stations attractive and our customers' journeys more exciting and colourful.  Our staff and volunteers have done a terrific job in delivering this garden, and I hope our customers enjoy spotting this mini-oasis during their journey.'</p>
<p>Sarah Hudson, Friends of City Gardens, said:<br />
`This has been a real community project bringing together local businesses as sponsors and their employees, City workers, residents and LU staff as volunteers. This is a first for LU and Friends of City Gardens and we hope to continue to help green the Underground.'</p>
<p>The creation of this distinctive pop-up garden is the result of a year-long collaborative effort between LU, Friends of City Gardens and their partners.</p>
<p>The unveiling of this unique garden comes ahead of LU launching its annual Underground in Bloom competition.  This will see staff from competing stations, depots and train crew sites potting, planting and pruning against each other in a bid to grow the most beautiful flowers, ripest fruit and tastiest vegetables.</p>
<hr />
Notes to Editors
<ul>
    <li>Images are available on the Transport for London Flickr page:<a href="https://www.flickr.com/photos/tflpress/sets/72157651984806260/"> https://www.flickr.com/photos/tflpress/sets/72157651984806260/</a></li>
    <li>LU is carrying out a huge programme of rebuilding, with major stations, trains, track and signalling being updated or replaced to provide more capacity for a growing city.  Line modernisation is at the core of LU's investment programme, which will deliver more than 30 per cent increase in capacity. The programme is being delivered over the coming years, with work to the Circle, District, Hammersmith &amp; City and Metropolitan lines well underway</li>
    <li>This year's Underground in Bloom competition is the latest in a series of staff garden competitions that date back nearly 100 years. During the summer months, about 80 stations will come to life with staff-led garden projects. Awards will be given to the best gardens in the autumn of 2015</li>
    <li>Friends of City Gardens is a community group of volunteers, based in the City of London. They support the City's Gardens team with the aim of increasing access to green space in the Square Mile and enhancing biodiversity. The garden design was created by Mischa Ickstadt of Gensler and planting design by volunteer, Marion Blair. The garden was sponsored by local firms, Hamptons International, Kingston Smith and Redrow London</li>
    <li>In addition to London Underground and Friends of City Gardens, the following partners and sponsors helped to create the pop-up garden:</li>
</ul>
<ul>
    <li>Barbican</li>
    <li>City of London (City Gardens)</li>
    <li>Gensler</li>
    <li>Hamptons International</li>
    <li>Kelly ITS</li>
    <li>Kingston Smith</li>
    <li>Redrow London</li>
</ul>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
                <a href="/info-for/media/index" class="heading">
                    <h2 id="sub-menu-heading">Media<span class="visually-hidden"> navigation</span></h2>
                </a>
                <ul>
                    
                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases">Press releases</a></div>
                                <ul>
                                    
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2020">2020</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019">2019</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018">2018</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017">2017</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016">2016</a></div></li>
                            
 
                                        <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015">2015</a></div>
                                        <ul>
                                            
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015/december">December</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015/november">November</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015/october">October</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015/september">September</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015/august">August</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015/july">July</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015/june">June</a></div></li>
                                    
 
                                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015/may">May</a></div>
                                                <ul>
                                                    
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
                                                </ul>
                                            
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015/april">April</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015/march">March</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015/february">February</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015/january">January</a></div></li>
                                    
 
                                        </ul>
                                    </li>
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014">2014</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2013">2013</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2012">2012</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2011">2011</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2010">2010</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2009">2009</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2008">2008</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2007">2007</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2006">2006</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2005">2005</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2004">2004</a></div></li>
                            
 
                                </ul>
                            </li>
 
                                <li><div class="link-wrapper"><a href="/info-for/media/photos">Photos</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/media/contact-the-press-office">Contact the Press Office</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/filming-and-photography">Filming & photography</a></div></li>
                            
 
                </ul>
            
 
 
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype: -Home-Media-Media-Press releases-2015-May-First ever Tube pop-up garden comes to Barbican station -->

 
 
        
        
            @{ViewBag.Description = "Press releases and news articles from Transport for London";}
        
        


 