


@{ViewBag.Title = "LU invites performers to new 'X Factor' style busking auditions ";}
        
        
<div class="r">
    <div class="breadcrumb-container" role="navigation">
        <span id="breadcrumb-label" class="visually-hidden">You are here:</span>
        <ol class="breadcrumbs clearfix" aria-labelledby="breadcrumb-label">
            <li class="home">
                <a href="/">
                    <span class="hide-text">Home</span>
                </a>
            </li>
            
                <li>
                    <a href="/info-for/media/index">Media</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases">Press releases</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases/2015">2015</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases/2015/may">May</a>
                </li>
                
                <li>
                    <span class="last-breadcrumb">LU invites performers to new ‘X Factor’ style busking auditions </span>
                </li>
            
 
            
 
            
 
            
 
            
 
        </ul>
    </div>
</div>
     
 
<div class="r">
    <div class="headline-container plain">
        <h1>LU invites performers to new ‘X Factor’ style busking auditions </h1>
        <div class="content-page-press-release">
        14 May 2015
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        London Underground calls on talented performers to take part in new 'X Factor' style busking auditions this summer
        
    </div>



 <div class="on-this-page">
<p>For the first time, buskers keen to perform on the London Underground (LU) network and TfL's broader estate will battle for busking slots in a public 'X Factor' style competition. Talented musicians will face a panel of music industry experts in public locations around the Capital, and will be judged on their originality, technique and performance. Auditions are scheduled to take place between 18 July and 8 August as part of the Mayor of London's 'Busk in London' initiative, which was set up to support and promote busking in the Capital, with locations set to be announced over the summer.</p>
<p>The winning buskers will be selected to showcase a wide range of music genres, representing London's incredible diversity. Applicants have the opportunity to follow in the footsteps of buskers who have gone on to achieve international fame and even to headline Glastonbury. Ed Sheeran, Jessie J, Bob Geldof and Katherine Jenkins are among a legion of successful musicians to test the waters in front of Tube customer audiences.</p>
<p>Busking has brightened up passenger journeys since the London Underground Busking Scheme launched 13 years ago. There are 35 official busking pitches across the Underground network, with over 1,800 bookable performance slots every week.</p>
<p>The Mayor of London Boris Johnson said: `Like the Underground, music and busking are a crucial part of the fabric of our great city, which is why we set up Busk in London. Working with TfL and other partners our goal is to make London the busking capital of the world and the TfL Busk in London auditions are a fantastic opportunity to win a regular slot playing to Londoners, commuters and tourists.'</p>
<p>Gareth Powell, LU's Director of Strategy and Service Development, said: `'Performing on the Underground network has been a rite of passage for London musicians for generations and busking is a fantastic, tried and tested way to reach a diverse audience.  We're looking forward to scouting out new and undiscovered talent, and this year we're delighted to welcome to the public to take part in the excitement of the auditions for the first time. Our Busking on the Underground programme has been hugely successful and we know that after the auditions it will continue to provide high quality music for the millions of customers who use the Tube every day.'</p>
<p>Keen musicians with an eye on a Tube busking spot will need to be a solo or duo act, aged 16 years or over and be resident in the UK to apply. Pop, classical, folk, world music and other quality performers are all welcome to apply to audition before applications close at midnight on Sunday 31 May.</p>
<p>The TfL Busk in London auditions are part of the Busk in London programme set up to make it easier for street musicians in the Capital, and complement the Mayor of London's Gigs busking competition, which is also underway. Gigs is aimed at young London musicians aged 11-25, with great prizes for grabs, including a year's licence to busk on the Underground. The closing date for entries for Gigs is also midnight, 31 May 2015.</p>
<p>For further information on how to apply for the TfL Busk in London auditions, Gigs and other information about busking in the capital visit the Busk in London website at <a href="http://www.buskinlondon.com">www.buskinlondon.com</a>.</p>
<hr />
<ul>
    <li>Busk in LondonTfL is working with City Hall and other partners to support the Busk in London programme, which was launched by the Mayor earlier this year. Busk in London is the world's first ever city-wide street performance scheme. Backed by founding partners Westminster, Network Rail, TfL and Ticketmaster, the aim is to make busking and street performance much easier in the Capital, by reducing the reams of red tape and myriad of confusing rules that discourage performers from taking to the streets to perform. The ambition is to develop a pan-London approach and make the city more busker-friendly.</li>
    <li>Busk in London includes a 'one-stop-shop' website, <a href="http://www.buskinlondon.com">www.buskinlondon.com</a>, bringing together information previously scattered around the web, so that musicians and street performers can quickly access busking locations across the Capital.</li>
    <li>The website features a new interactive digital map, which provides a network of great busking locations across the Capital, and shows the boroughs that have adopted London's first Busking Code of Conduct, common sense guidance, devised by performers, councils, businesses and the police. The map also displays the locations of busking schemes that are already established and information on how to access them &#45; these include the London Underground network, Covent Garden and the Southbank Centre.</li>
</ul>
<p>Gigs busking competition</p>
<ul>
    <li>The Mayor's Gigs busking competition is an annual event that has become London's biggest free music festival and is the largest youth music competition in the UK. Each summer Gigs transforms some of the Capital's busiest and most recognisable public spaces into a stage for talented Londoners aged 11-25. Gigs attracts thousands of applications, is seen by millions of people and offers great prizes to the winners, as judged by the public and an expert panel of music industry insiders.</li>
</ul>
<ul>
    <li>Young Londoners wanting to take part need to enter by midnight on Sunday 31 May 2015 at www.buskinlondon.com or www.london.gov.uk/gigs. Gigs live performances will take place from 18 July &#45; 8 August. Online voting from 10-30 August. The Gigs Grand Final will take place at Westfield Stratford City on Sunday 6 September.</li>
</ul>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
                <a href="/info-for/media/index" class="heading">
                    <h2 id="sub-menu-heading">Media<span class="visually-hidden"> navigation</span></h2>
                </a>
                <ul>
                    
                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases">Press releases</a></div>
                                <ul>
                                    
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2020">2020</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019">2019</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018">2018</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017">2017</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016">2016</a></div></li>
                            
 
                                        <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015">2015</a></div>
                                        <ul>
                                            
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015/december">December</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015/november">November</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015/october">October</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015/september">September</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015/august">August</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015/july">July</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015/june">June</a></div></li>
                                    
 
                                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015/may">May</a></div>
                                                <ul>
                                                    
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
                                                </ul>
                                            
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015/april">April</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015/march">March</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015/february">February</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015/january">January</a></div></li>
                                    
 
                                        </ul>
                                    </li>
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014">2014</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2013">2013</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2012">2012</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2011">2011</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2010">2010</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2009">2009</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2008">2008</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2007">2007</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2006">2006</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2005">2005</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2004">2004</a></div></li>
                            
 
                                </ul>
                            </li>
 
                                <li><div class="link-wrapper"><a href="/info-for/media/photos">Photos</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/media/contact-the-press-office">Contact the Press Office</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/filming-and-photography">Filming & photography</a></div></li>
                            
 
                </ul>
            
 
 
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype: -Home-Media-Media-Press releases-2015-May-LU invites performers to new ‘X Factor’ style busking auditions  -->

 
 
        
        
            @{ViewBag.Description = "London Underground calls on talented performers to take part in new ‘X Factor’ style busking auditions this summer";}
        
        


 