


@{ViewBag.Title = "LU stations with manual boarding ramps up by 50%";}
        
        
<div class="r">
    <div class="breadcrumb-container" role="navigation">
        <span id="breadcrumb-label" class="visually-hidden">You are here:</span>
        <ol class="breadcrumbs clearfix" aria-labelledby="breadcrumb-label">
            <li class="home">
                <a href="/">
                    <span class="hide-text">Home</span>
                </a>
            </li>
            
                <li>
                    <a href="/info-for/media/index">Media</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases">Press releases</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases/2015">2015</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases/2015/may">May</a>
                </li>
                
                <li>
                    <span class="last-breadcrumb">LU stations with manual boarding ramps up by 50%</span>
                </li>
            
 
            
 
            
 
            
 
            
 
        </ul>
    </div>
</div>
     
 
<div class="r">
    <div class="headline-container plain">
        <h1>LU stations with manual boarding ramps up by 50%</h1>
        <div class="content-page-press-release">
        19 May 2015
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        Twenty-eight more stations fitted with manual boarding ramps in past year &#45; a 50% increase
        
    </div>



 <div class="on-this-page">
<p>The Mayor and Transport for London's (TfL's) plans for a more accessible railway have reached a new milestone, with a 50% increase in the number of London Underground stations providing step-free access from platform to train via new boarding ramps.</p>
<p>Manual boarding ramps were first introduced to the Tube as a trial to help make the 2012 Games the most accessible ever held. Since then they have been permanently installed at many more stations and with 28 more stations now fitted with them over the past year the total now stands at more than 50. Alongside other innovations such as permanent 'platform humps' &#45; which raise a section of the platform to be level with the train &#45; and new low-floor trains on the Circle, District, Hammersmith &amp; City and Metropolitan lines, the ramps are helping revolutionise step-free travel in the Capital.</p>
<p>The new ramps have a mix of designs to suit the different needs of stations and trains across the network. They include the unique 'step-down' ramp that LU developed in 2014, for stations where the platform is lower than the train. Some of the stations receiving ramps are already step-free from street to platform. Others give step-free interchange between different Tube and rail lines.</p>
<p>The move comes as TfL today published its latest plans on making its network more accessible, and how it has measured up so far to previous pledges. The Your Accessible Transport Network May 2015 update document contains details on accessibility improvements over the last year, and an outline from the Transport Commissioner Sir Peter Hendy CBE on plans for the future. It's available at www.tfl.gov.uk/transport-accessibility/equality-policy-and-future-plans</p>
<p>The document outlines how manual boarding ramps have now been introduced at 55 Tube stations, with more to follow, how 'turn-up-and-go' is now in operation at all London Overground stations, and how good progress is being made to make 95% of bus stops fully accessible, to complement London's fully accessible bus fleet. As of March this year, more than 80% of stops meet these standards, up from less than 30% in 2008. Turn-up-and-go will also be introduced onto the rail services out of Liverpool Street which TfL is taking over on May 31 this year.</p>
<p>It also explains how TfL is improving training for its staff. Disabled Londoners and accessibility organisations are working directly with TfL staff to help them do their jobs better, by making them more aware of all passengers' needs. From next year, bus drivers will be given additional accessibility awareness training. Customer service at Tube stations is also being improved with staff being moved from ticket offices and out to the gate lines and platforms, where customers need them most.</p>
<p>Work to expand step-free access at stations has continued, with a number of projects completed at London Overground stations, as part of the Government's Access for All programme. This saw step-free access schemes completed at Hampstead Heath, Honor Oak Park, Brockley, Kensal Rise, New Cross Gate and Queens Road Peckham. South Tottenham will be made step-free by the end of 2015.</p>
<p>In the next year, step-free schemes will also open on the Underground network at Greenford, Tower Hill, Vauxhall and Whitechapel.</p>
<p>Mayor of London, Boris Johnson, said: `The 2012 Games rightly focused minds on the need to improve transport accessibility and TfL has been working hard to ensure that positive momentum has continued to deliver tangible improvements. We want more people to be able use our network more easily and we're absolutely committed to making our Tube, buses and trains as accessible as possible so that Londoners and visitors to our city can feel confident in getting around.`</p>
<p>Transport Commissioner, Sir Peter Hendy CBE, said: `London's transport network is one of the most accessible in the world. We have accessible buses and taxis across the city and, with continued and sustained investment, we are making more London Underground and London Overground stations step-free. We are working hard to bring improvements to as many people as we can and recognise that there is much more to do.'</p>
<p>Ruth Owen OBE, Chief Executive of disabled children's charity Whizz-Kidz, said: 'We are very encouraged by Transport for London's continuing programme of network improvements, many of which will directly benefit wheelchair using customers - such as the commitment to make all Crossrail stations step-free. We especially welcome the introduction of more manual boarding ramps at stations, and the commitment to roll these out more widely across the London Underground network. This is something that Whizz-Kidz's London based Ambassadors have been calling for, and we applaud TfL for listening to its disabled customers. We hope to see more developments in the future that empower wheelchair users to travel more assuredly, safely, and &#45; importantly &#45; independently.'</p>
<p>Alan Benson, a member of disability rights charity Transport for All, said: 'These ramps will mean that I, and lots of wheelchair users like me, can use much more of the Underground just like every other Londoner. For the first time I'll be able to go out with friends without having to spend a small fortune on taxis.'</p>
<p>LU provides a 'turn-up-and-go' assistance service so that people who use ramps to access trains do not need to book in advance. They simply turn up at the station and ask for assistance from a member of staff, who will also arrange for help at any interchanges and at their end destination.</p>
<p>Throughout 2015, station staff are moving from behind ticket windows to ticket halls, gate lines and platforms, to offer assistance to customers where it is needed most. There will be more LU staff on platforms than before and across the network, there will be more staff visible and available than ever to help customers buy the right ticket, plan journeys and ensure they feel safe and secure as they travel. All stations will remain staffed at all times while train services are operating. Sixty-six Tube stations are currently step-free and around 40 more Underground and Overground stations will become step-free over the next ten years, including major stations such as Bond Street, Tottenham Court Road, Vauxhall and Victoria.</p>
<hr />
<p>Step-free stations where ramps have been fitted:</p>
<ul>
    <li>Acton Town (Piccadilly line)</li>
    <li>Dagenham Heathway (westbound only)</li>
    <li>Hammersmith (Piccadilly line)</li>
    <li>Heathrow Terminal 5</li>
    <li>Ruislip (Piccadilly line)</li>
    <li>Sudbury Town</li>
    <li>Willesden Junction</li>
</ul>
<p>Step-free interchanges where ramps have been fitted:</p>
<ul>
    <li>Aldgate East &#45; District</li>
    <li>Baker Street &#45; Bakerloo (Southbound only)</li>
    <li>Ealing Broadway - District and Central</li>
    <li>Ealing Common - District and Piccadilly</li>
    <li>Edgware Road &#45; District</li>
    <li>Finchley Road &#45; Jubilee</li>
    <li>Gunnersbury - London Overground and District</li>
    <li>High Street Kensington - District</li>
    <li>Hillingdon - Piccadilly</li>
    <li>Kew Gardens - London Overground</li>
    <li>South Kensington &#45; District (Eastbound Only)</li>
    <li>Rayners Lane &#45; Piccadilly and Metropolitan</li>
    <li>Uxbridge - Piccadilly</li>
    <li>Willesden Junction &#45; Bakerloo</li>
</ul>
<p>The Mayor and TfL are investing in and delivering a huge range of improvements to improve accessibility across TfL's road, rail and bus networks, embedding the legacy of accessible travel promised by the 2012 Games.  Improvements include:</p>
<ul>
    <li>25 more London Underground and London Overground stations to become step-free over the next ten years, as well as dozens of National Rail stations and accessible Crossrail stations in the heart of the city; we expect the number of journeys made by step-free routes each year will almost treble, from 77 million at present (2014) to 227 million in 2023</li>
    <li>A &pound;250 million investment in step-free projects at stations including Bond Street, Greenford, Tottenham Court Road, Vauxhall, Victoria and Finsbury Park</li>
    <li>&pound;76 million to be invested in making other stations step-free. The fund has been put aside to enable the installation of new lifts at around a dozen more stations over the next ten years. The new stations are in addition to the 28 LU and London Rail stations which Transport for London (TfL) had previously committed to making step-free by 2024, and the 30 Crossrail stations in London that will all be step-free.</li>
    <li>On-board audible and/or visual announcements are used across our bus and rail networks to help people with sight and/or hearing loss</li>
    <li>The remaining two per cent of pedestrian crossings yet to be brought up to accessibility standards to be upgraded with tactile paving, rotating cones or audible alerts, will be completed by 2016.</li>
</ul>
<p>Further improvements include permanent level access at new stations, permanent raised platform sections, low-floor trains and boarding ramps making getting around the network much easier.  By 2016, a third of Tube platforms will have level access by one of these means, up from 15% last year.  More step-free projects are being progressed with third party developers and additional stations are being made partially step-free.</p>
<p>&nbsp;</p>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
                <a href="/info-for/media/index" class="heading">
                    <h2 id="sub-menu-heading">Media<span class="visually-hidden"> navigation</span></h2>
                </a>
                <ul>
                    
                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases">Press releases</a></div>
                                <ul>
                                    
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2020">2020</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019">2019</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018">2018</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017">2017</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016">2016</a></div></li>
                            
 
                                        <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015">2015</a></div>
                                        <ul>
                                            
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015/december">December</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015/november">November</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015/october">October</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015/september">September</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015/august">August</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015/july">July</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015/june">June</a></div></li>
                                    
 
                                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015/may">May</a></div>
                                                <ul>
                                                    
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
                                                </ul>
                                            
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015/april">April</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015/march">March</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015/february">February</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015/january">January</a></div></li>
                                    
 
                                        </ul>
                                    </li>
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014">2014</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2013">2013</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2012">2012</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2011">2011</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2010">2010</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2009">2009</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2008">2008</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2007">2007</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2006">2006</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2005">2005</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2004">2004</a></div></li>
                            
 
                                </ul>
                            </li>
 
                                <li><div class="link-wrapper"><a href="/info-for/media/photos">Photos</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/media/contact-the-press-office">Contact the Press Office</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/filming-and-photography">Filming & photography</a></div></li>
                            
 
                </ul>
            
 
 
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype: -Home-Media-Media-Press releases-2015-May-LU stations with manual boarding ramps up by 50% -->

 
 
        
        
            @{ViewBag.Description = "Twenty-eight more stations fitted with manual boarding ramps in past year – a 50% increase";}
        
        


 