


@{ViewBag.Title = "Mind the Gap Mr Small! The Mr. Men are coming To London";}
        
        
<div class="r">
    <div class="breadcrumb-container" role="navigation">
        <span id="breadcrumb-label" class="visually-hidden">You are here:</span>
        <ol class="breadcrumbs clearfix" aria-labelledby="breadcrumb-label">
            <li class="home">
                <a href="/">
                    <span class="hide-text">Home</span>
                </a>
            </li>
            
                <li>
                    <a href="/info-for/media/index">Media</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases">Press releases</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases/2015">2015</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases/2015/may">May</a>
                </li>
                
                <li>
                    <span class="last-breadcrumb">Mind the Gap Mr Small! The Mr. Men are coming To London</span>
                </li>
            
 
            
 
            
 
            
 
            
 
        </ul>
    </div>
</div>
     
 
<div class="r">
    <div class="headline-container plain">
        <h1>Mind the Gap Mr Small! The Mr. Men are coming To London</h1>
        <div class="content-page-press-release">
        19 May 2015
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        Transport for London and Egmont Publishing partner to publish London themed Mr. Men story
        
    </div>



<div class="pull-quote">
        <div class="quote-body">"We are very excited to see two iconic British brands working together in this way.  TfL and Mr. Men make a great pair and have come together in a book that families everywhere will be able to enjoy together"</div>
        <div class="quote-footer">
            <div class="quotee-name">David Ellis</div>
            <div class="quotee-job-title">Head of IPR Development,TfL</div>
        </div>
</div>

 <div class="on-this-page">
<p>The Mr. Men Little Miss characters have partnered with Transport for London (TfL) and Egmont to publish Mr. Men in London, a brand new Mr. Men Little Miss story featuring everyone's favourite characters on a day trip to the Big Smoke.  The new book will see the Mr. Men Little Miss characters join the millions of customers who use the transport network every day as they hop on and off buses and use London Underground to navigate their way around the tourism Capital of the world.</p>
<p>Mr. Men in London is an official collaboration between Mr. Men Little Miss and TfL, consisting of a strong merchandise range including children's stationery, wall art and adult gifting, the Mr. Men in London book, and a wide scale poster campaign throughout the London Underground network.</p>
<p>London Transport Museum's Summer Family Programme will also feature Mr. Men in London themed events including storytelling, creative workshops and a Mr. Men Little Miss themed trail throughout the Museum.  Activities will run on Saturday 6th and Sunday 7th June, from Monday 27th July to Sunday 2nd August, and Saturday 15th August to Sunday 23rd August.</p>
<p>Sarah Bates, Publishing Director at Egmont Publishing said: </p>
<p>'We loved teaming up with TfL and Sanrio to create this book.  We can't imagine a better organisation to work with on a story about visiting London.  TfL is so much a part of the landscape and culture of London and we are thrilled that this book has been developed with them as it has given it an extra special 'London' feel.'</p>
<p>David Ellis, Head of IPR Development at TfL, said: </p>
<p>'We are very excited to see two iconic British brands working together in this way.  TfL and Mr. Men make a great pair and have come together in a book that families everywhere will be able to enjoy together.'</p>
<p>The trademark quirky humour of Mr. Men Little Miss runs throughout Mr. Men in London.  The story revolves around a tour of famous London landmarks led by Mr. Busy, including Trafalgar Square, Buckingham Palace, the Tower of London and, of course, London Transport Museum. The book will be &pound;2.99 and will publish on 4th June 2015.</p>
<p>Mr. Men Little Miss is owned by Sanrio and was the fifth most popular children's book brand in 2014, selling over two million pounds worth of books.  In a recent poll conducted by Egmont, over 70 per cent of parents said that they have read Mr. Men Little Miss books to their children.  Film rights for Mr. Men Little Miss have recently been secured by Fox Animation, the studio behind the Ice Age and Rio franchises.  Shawn Levy, the producer and director of the Night at the Museum films starring Ben Stiller, is signed on to produce a Mr. Men Little Miss film.</p>
<p>&nbsp;</p>
<hr />
<p >Notes to Editors:</p>
<p>For further information please contact:</p>
<p>Maggie Eckel, Press Officer on 020 3220 0429 or at meckel&#64;euk.egmont.com</p>
<p>About Mr Men Little Miss<br />
Mr. Men Little Miss is a publishing institution.  With an 86-strong cast of characters they have brought fun and laughter to generations of families.  Currently one Mr. Men and Little Miss book is sold every 2.5 seconds worldwide, and lifetime sales total 200 million books.<br />
<a href="http://www.mrmen.com">www.mrmen.com</a></p>
<p>About Egmont Publishing</p>
<p>In the UK, Egmont Publishing is the leading specialist children's publisher for babies to teens, inspiring children to read through more than 25 million award-winning books, magazines, ebooks and apps sold each year. We're proud to be home to many of the world's favourite stories and best-loved authors, illustrators and characters such as Michael Morpurgo, Andy Stanton, Enid Blyton, Julia Donaldson, Lemony Snicket, Michael Grant, Winnie-the-Pooh, Tintin, Mr. Men, Thomas &amp; Friends, Disney Princess, Ben 10, Fireman Sam, Angry Birds, Minecraft and Star Wars.<br />
Egmont Publishing is part of Egmont, a leading Danish media group, with activities in 30 countries and 6,600 employees. Our media world includes Nordisk Film, TV2 in Norway, cinemas, book publishers, educational publishers and PlayStation, as well as a number of partly owned film companies, including Zentropa.<br />
Egmont is a commercial foundation that generates revenue amounting to EUR 1.6 billion. Every year we donate over EUR 10 million to help improve the lives of children and young people.</p>
<p>About Transport for London<br />
TfL supports over 30 million journeys a day. It operates the London Underground network, as well as five per cent of London's road network, buses, the DLR, Tramlink, Santander Cycles, the Emirates Air Line and River Services.</p>
<p>About London Transport Museum</p>
<p>London Transport Museum is situated in the heart of Covent Garden and filled with stunning exhibits; the Museum explores the powerful link between transport and the growth of modern London, culture and society since 1800. Historic vehicles, world-famous posters and the very best objects from the Museum's extraordinary collection are brought together to tell the story of London's development and the part transport played in defining the unique identity of the city.</p>
<p>The Museum is an educational and heritage preservation charity.  Its purpose is to conserve and explain the history of London's transport, to offer people an understanding of the Capital's past development and to engage them in the debate about its future. The Museum's charity number is 1123122.</p>
<p><a href="http://www.ltmuseum.co.uk">www.ltmuseum.co.uk</a></p>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
                <a href="/info-for/media/index" class="heading">
                    <h2 id="sub-menu-heading">Media<span class="visually-hidden"> navigation</span></h2>
                </a>
                <ul>
                    
                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases">Press releases</a></div>
                                <ul>
                                    
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2020">2020</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019">2019</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018">2018</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017">2017</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016">2016</a></div></li>
                            
 
                                        <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015">2015</a></div>
                                        <ul>
                                            
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015/december">December</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015/november">November</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015/october">October</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015/september">September</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015/august">August</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015/july">July</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015/june">June</a></div></li>
                                    
 
                                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015/may">May</a></div>
                                                <ul>
                                                    
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
                                                </ul>
                                            
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015/april">April</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015/march">March</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015/february">February</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015/january">January</a></div></li>
                                    
 
                                        </ul>
                                    </li>
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014">2014</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2013">2013</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2012">2012</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2011">2011</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2010">2010</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2009">2009</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2008">2008</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2007">2007</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2006">2006</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2005">2005</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2004">2004</a></div></li>
                            
 
                                </ul>
                            </li>
 
                                <li><div class="link-wrapper"><a href="/info-for/media/photos">Photos</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/media/contact-the-press-office">Contact the Press Office</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/filming-and-photography">Filming & photography</a></div></li>
                            
 
                </ul>
            
 
 
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype: -Home-Media-Media-Press releases-2015-May-Mind the Gap Mr Small! The Mr. Men are coming To London -->

 
 
        
        
            @{ViewBag.Description = "Mind the Gap Mr Small! The Mr. Men are coming To London";}
        
        


 