


@{ViewBag.Title = "Network Rail strike: impact on certain TfL services ";}
        
        
<div class="r">
    <div class="breadcrumb-container" role="navigation">
        <span id="breadcrumb-label" class="visually-hidden">You are here:</span>
        <ol class="breadcrumbs clearfix" aria-labelledby="breadcrumb-label">
            <li class="home">
                <a href="/">
                    <span class="hide-text">Home</span>
                </a>
            </li>
            
                <li>
                    <a href="/info-for/media/index">Media</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases">Press releases</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases/2015">2015</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases/2015/may">May</a>
                </li>
                
                <li>
                    <span class="last-breadcrumb">Network Rail strike: impact on certain TfL services </span>
                </li>
            
 
            
 
            
 
            
 
            
 
        </ul>
    </div>
</div>
     
 
<div class="r">
    <div class="headline-container plain">
        <h1>Network Rail strike: impact on certain TfL services </h1>
        <div class="content-page-press-release">
        20 May 2015
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">



 <div class="on-this-page">
<p>Network Rail unions have called 48 hours of industrial action on Monday 25  and Tuesday 26 May.  This includes a country-wide 24 hour strike on national rail services starting from 17:00 on Monday 25 May. If the industrial action goes ahead, it will affect services on Bank Holiday Monday, Tuesday and into Wednesday morning.</p>
<p>Neither Transport for London (TfL) nor London Underground (LU) staff will strike and so the vast majority of TfL services will run as normal. However, some TfL services rely on Network Rail signals and power supply so will be affected.</p>
<p>If the industrial action goes ahead, the following TfL services will be affected on Monday, Tuesday and into Wednesday morning:</p>
<ul>
    <li>Bakerloo line: trains will not run north of Queen's Park;</li>
    <li>District line: there will be no service between Wimbledon and Putney Bridge after 17:00 on Monday and all day Tuesday. There will be no service between Turnham Green and Richmond all day on Monday and Tuesday;</li>
    <li>Waterloo &amp; City line: no service;</li>
    <li>London Overground: no services will run, except between Dalston Junction and New Cross/New Cross Gate, which will operate from 08:00 and 13:00 on Monday and 08:00 and 17:00 on Tuesday.</li>
</ul>
<p>Some LU and DLR stations, particularly those in south London, as well as the entire Tram network, are expected to be much busier than usual and managed queuing systems may be in place. Passengers may wish to stagger their journey, even if they do not normally use National Rail services.</p>
<p>TfL will operate around 100 extra buses, mainly in South London, to help Londoners get around. National Rail tickets will be accepted on TfL Tube and bus services on any reasonable alternative routes.</p>
<p>TfL will be suspending roadworks wherever possible, however it is expected that there will be heavy traffic in central London, particularly during peak hours.</p>
<p>For information on TfL services, customers should visit <a href="http://tfl.gov.uk/network-rail-strike">tfl.gov.uk/network-rail-strike</a>.  National Rail customers are advised to check with their train operator before travelling or visit <a href="http://www.nationalrail.co.uk/industrialaction">www.nationalrail.co.uk/industrialaction</a> or follow <a href="http://&#64;nationalrailenq">&#64;nationalrailenq</a> on twitter using <a href="http://#industrialaction">#industrialaction</a></p>
<p>During the strike customers will be kept informed of the status of TfL services in a range of ways, including:</p>
<ul>
    <li>Up-to-date information at tfl.gov.uk/network-rail-strike</li>
    <li>Travel alerts will be provided through Twitter on &#64;TfLTravelAlerts, and through each of the Tube line Twitter handles, visit tfl.gov.uk/socialmedia</li>
    <li>Real-time travel information will be provided to radio and television outlets</li>
    <li>Additional staff will be available across the network and at key locations to provide advice to customers</li>
</ul>
<p>&nbsp;</p>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
                <a href="/info-for/media/index" class="heading">
                    <h2 id="sub-menu-heading">Media<span class="visually-hidden"> navigation</span></h2>
                </a>
                <ul>
                    
                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases">Press releases</a></div>
                                <ul>
                                    
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2020">2020</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019">2019</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018">2018</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017">2017</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016">2016</a></div></li>
                            
 
                                        <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015">2015</a></div>
                                        <ul>
                                            
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015/december">December</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015/november">November</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015/october">October</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015/september">September</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015/august">August</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015/july">July</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015/june">June</a></div></li>
                                    
 
                                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015/may">May</a></div>
                                                <ul>
                                                    
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
                                                </ul>
                                            
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015/april">April</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015/march">March</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015/february">February</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015/january">January</a></div></li>
                                    
 
                                        </ul>
                                    </li>
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014">2014</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2013">2013</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2012">2012</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2011">2011</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2010">2010</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2009">2009</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2008">2008</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2007">2007</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2006">2006</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2005">2005</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2004">2004</a></div></li>
                            
 
                                </ul>
                            </li>
 
                                <li><div class="link-wrapper"><a href="/info-for/media/photos">Photos</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/media/contact-the-press-office">Contact the Press Office</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/filming-and-photography">Filming & photography</a></div></li>
                            
 
                </ul>
            
 
 
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype: -Home-Media-Media-Press releases-2015-May-Network Rail strike: impact on certain TfL services  -->

 
 
        
        
            @{ViewBag.Description = "Press releases and news articles from Transport for London";}
        
        


 