


@{ViewBag.Title = "New staff uniform to help boost customer service";}
        
        
<div class="r">
    <div class="breadcrumb-container" role="navigation">
        <span id="breadcrumb-label" class="visually-hidden">You are here:</span>
        <ol class="breadcrumbs clearfix" aria-labelledby="breadcrumb-label">
            <li class="home">
                <a href="/">
                    <span class="hide-text">Home</span>
                </a>
            </li>
            
                <li>
                    <a href="/info-for/media/index">Media</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases">Press releases</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases/2015">2015</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases/2015/may">May</a>
                </li>
                
                <li>
                    <span class="last-breadcrumb">New staff uniform to help boost customer service</span>
                </li>
            
 
            
 
            
 
            
 
            
 
        </ul>
    </div>
</div>
     
 
<div class="r">
    <div class="headline-container plain">
        <h1>New staff uniform to help boost customer service</h1>
        <div class="content-page-press-release">
        29 May 2015
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">



 <div class="on-this-page">
<p>A new, modern uniform, which will help customers recognise London Underground (LU), London Overground and Transport for London (TfL) Rail staff more easily, has been launched this week.</p>
<p>The new uniforms are part of a programme of improvements to customer service on the TfL network, which also includes staff at Underground stations moving from underused ticket offices and back rooms of stations to public areas where they can help customers most effectively. In addition, innovative training is being given to every member of station staff, including elements designed and delivered by disabled people on how best to assist disabled customers.</p>
<p>Staff are also being equipped with the latest technology to help customers, ticket machines across the Underground have been upgraded and travel information and signage in stations is being improved.</p>
<p>The new uniforms are being introduced following a successful six-week trial last year, which took on board comments and suggestions from over 200 staff to finalise the uniform's design. This is the first update of the uniform in over a decade and the new clothing has been created with comfort, durability, sustainability and attention to detail in mind &#45; both celebrating the Tube's heritage but also bringing in up-to-date standards.</p>
<p>The uniform has, for the first time, been designed to truly reflect the diversity of London and TfL's LU and Rail workforce.  Staff have a choice of various mix and match options and, for the first time, a full range of the uniform has been specifically tailored for female staff.</p>
<p>The new outfits have been designed by HemingwayDesign led by Wayne Hemingway MBE and Gerardine Hemingway, and their young multi disciplinary team.  TfL staff were involved at every step of the way &#45; taking part in the development of the new garments through staff websites, workshops and 'meet the designer' sessions.</p>
<p>The designs employ the famous TfL logo or 'Roundel' &#45; which is in the top 10 most recognised brand icons in the world &#45; in several ways throughout the new uniform. The logo appears on pockets, jacket cuffs, is embroidered into the back of the uniform and even features on small zip pulls.</p>
<p>Nick Brown, London Underground's Chief Operating Officer, said: `This new modern uniform has been developed hand-in-hand with our staff, and reflects both our heritage and our diversity. The new designs will help give our customers an even better service by making our staff instantly recognisable to them.</p>
<p>`This is just one element of our work to modernise Tube and rail services, from the way our customers are served, to introducing London's first 24 hour Tube service.  This and continuous improvements we are making to stations, accessibility and train frequencies is helping create a network fit for the 21st century city we serve.'</p>
<p>Wayne Hemingway, MBE, founder of HemingwayDesign, said:<br />
'The development of the new uniform has been a stimulating and challenging process and has pushed us all.  It is vital that the new uniform does justice to one of the best transport systems in the world in a city that is widely considered to be the most exciting city in the world. When we set out on this process we wanted to engage as many of the TfL community as possible. Their welcome feedback and willingness to get involved has, we believe, resulted in a uniform that is fit for purpose, technological in its materials and will prove to be instantly recognisable to the public.'</p>
<p>The new uniform has gone down well with staff after it was modified following last year's trial.  Speaking about the uniform Sarah Beighton, a Customer Service Assistant for LU, commented: `The design details are clear and visible, and the small items like the zip pulls give it a nice touch.'</p>
<p>Serge Ake, also a Customer Service Assistant for LU, was impressed with the practicality of the newly designed gilet: `This uniform is really comfortable and there are lots of pockets on the gilet which are really useful.'</p>
<hr />
<ul>
    <li>Images are available on the Transport for London Flickr page:<a href="https://www.flickr.com/photos/tflpress/sets/72157653192285908">https://www.flickr.com/photos/tflpress/sets/72157653192285908</a></li>
    <li>Station staff at the following LU Gateway stations will receive the new uniform in May: Euston, Heathrow Terminals 1,2,3, Victoria, King's Cross, Liverpool Street, and Paddington</li>
    <li>London Underground's (LU's) customers now have more staff available to help them face-to-face at more than a quarter of Tube stations. As a result, passenger surveys show customer satisfaction is up from 81 to 83% at stations where ticket offices have closed and mystery shopping shows staff helpfulness has increased from 92 to 96%</li>
    <li>The uniforms will then be introduced more widely across the LU and TfL Rail networks in autumn this year</li>
    <li>On Sunday 31 May, services currently operated by Abellio Greater Anglia, between Liverpool Street station and Enfield Town, Cheshunt (via Seven Sisters) and Chingford, along with services between Romford and Upminster, will become part of London Overground. From the same date, the stopping services between Liverpool Street and Shenfield will be run as TfL Rail in preparation for the introduction of Crossrail branded services in 2017</li>
    <li>Under TfL, customers will immediately see stations staffed at all times that services are running &#45; improving safety and ensuring a 'turn up and go' service for customers with reduced mobility.<br />
    LU is carrying out a huge programme of modernisation, with major stations, trains, track and signalling being updated or replaced to provide more capacity for a growing city. By the end of 2016, 191 new spacious and air-conditioned trains will have been introduced on the Circle, District, Hammersmith &amp; City and Metropolitan lines for a more comfortable journey</li>
    <li>The line upgrades are at the core of LU's investment programme, which will deliver more than 30 per cent increase in capacity. The upgrade programme is being delivered over the coming years, with work to modernise the Northern line nearly complete, and the Circle, District, Hammersmith &amp; City and Metropolitan lines well underway</li>
    <li>Redevelopment work to increase capacity at key stations and make them step-free is underway at a number of stations including Victoria, Tottenham Court Road and Bond Street. More than half of LU's 270 stations have now been modernised or refurbished to make them brighter and easier to use, with improvements such as tactile strips, better CCTV and help points, electronic information displays in ticket halls and on platforms and improved seating and lighting</li>
    <li>LU is modernising the way customers are served at stations, with staff brought out from underused ticket offices and back offices to where they can assist customers most effectively &#45; in ticket halls, on gate lines and on platforms. There will be more staff visible and available to help customers buy the right ticket or use their contactless payment card, plan their journeys and keep them safe and secure, and all stations will be staffed at all times. Every member of station staff will have access to a mobile device which will provide them with access to travel information and other functions</li>
    <li>From 12 September 2015, LU will introduce the 'Night Tube' &#45; all night 24 hour services on Friday and Saturday nights on the Jubilee, Victoria and most of the Piccadilly, Central and Northern lines. Night Tube will cut journey times, support the creation of some 2,000 new jobs and boost London's economy by &pound;360 million</li>
</ul>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
                <a href="/info-for/media/index" class="heading">
                    <h2 id="sub-menu-heading">Media<span class="visually-hidden"> navigation</span></h2>
                </a>
                <ul>
                    
                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases">Press releases</a></div>
                                <ul>
                                    
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2020">2020</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019">2019</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018">2018</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017">2017</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016">2016</a></div></li>
                            
 
                                        <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015">2015</a></div>
                                        <ul>
                                            
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015/december">December</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015/november">November</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015/october">October</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015/september">September</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015/august">August</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015/july">July</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015/june">June</a></div></li>
                                    
 
                                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015/may">May</a></div>
                                                <ul>
                                                    
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
                                                </ul>
                                            
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015/april">April</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015/march">March</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015/february">February</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015/january">January</a></div></li>
                                    
 
                                        </ul>
                                    </li>
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014">2014</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2013">2013</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2012">2012</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2011">2011</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2010">2010</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2009">2009</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2008">2008</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2007">2007</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2006">2006</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2005">2005</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2004">2004</a></div></li>
                            
 
                                </ul>
                            </li>
 
                                <li><div class="link-wrapper"><a href="/info-for/media/photos">Photos</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/media/contact-the-press-office">Contact the Press Office</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/filming-and-photography">Filming & photography</a></div></li>
                            
 
                </ul>
            
 
 
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype: -Home-Media-Media-Press releases-2015-May-New staff uniform to help boost customer service -->

 
 
        
        
            @{ViewBag.Description = "Press releases and news articles from Transport for London";}
        
        


 