


@{ViewBag.Title = "TfL protects Taxi & Private Hire trade - combating illegal activity";}
        
        
<div class="r">
    <div class="breadcrumb-container" role="navigation">
        <span id="breadcrumb-label" class="visually-hidden">You are here:</span>
        <ol class="breadcrumbs clearfix" aria-labelledby="breadcrumb-label">
            <li class="home">
                <a href="/">
                    <span class="hide-text">Home</span>
                </a>
            </li>
            
                <li>
                    <a href="/info-for/media/index">Media</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases">Press releases</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases/2015">2015</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases/2015/may">May</a>
                </li>
                
                <li>
                    <span class="last-breadcrumb">TfL protects Taxi & Private Hire trade - combating illegal activity</span>
                </li>
            
 
            
 
            
 
            
 
            
 
        </ul>
    </div>
</div>
     
 
<div class="r">
    <div class="headline-container plain">
        <h1>TfL protects Taxi & Private Hire trade - combating illegal activity</h1>
        <div class="content-page-press-release">
        26 May 2015
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        TfL announces early results of Operation Neon, launched to clamp down on illegal minicab activity
        
    </div>



 <div class="on-this-page">
<p>Transport for London (TfL) has announced that over the first five evenings of 'Operation Neon', a high visibility, multi-agency operation to clamp down and disrupt illegal activity by minicab and taxis, a total of 331 private hire drivers have been reported for failing to comply with regulations.</p>
<p>Eight drivers have been reported for plying for hire offences, plus 30 drivers for parking on taxi ranks, and 73 tickets have been issued for parking offences. Around 600 vehicles have also been moved on from outside clubs and late night venues. Priority locations such as Swallow Street, Dover Street and Berkeley Street in Mayfair have also been kept clear of such vehicles. This action will continue throughout May and June.</p>
<p>Operation Neon involves TfL enforcement and compliance officials, Metropolitan Police Service officers and Westminster City Council parking attendants, and has substantially increased the levels of visible enforcement in central London, combating touting and other illegal activity. It is keeping ranks clear to support legitimate taxi and private hire drivers and has received positive feedback from the trade associations.</p>
<p>Operation Neon is just one element of TfL's robust enforcement action with police colleagues, which continues to attack touting and bogus cabs.</p>
<p>As a result, the proportion of women approached by touts at the end of a night out in London has reduced by 77% since 2003. Since April 2013, the TfL funded Cab Enforcement Unit has reported 148 drivers for unlawfully plying for hire, resulting in a 97% conviction rate of those that have gone to court.</p>
<p>Garrett Emmerson, TfL's Chief Operating Officer for Surface Transport, said: `We are determined to protect the livelihoods of all legitimate taxi and private hire drivers through robust enforcement action. Following engagement with the main trade associations (The Licensed Taxi Drivers Association, the London Cab Drivers Club and UNITE), we will continue to be relentless in enforcing the law through action such as Operation Neon to protect the legitimate trade, improve public safety, promote high levels of compliance and tackle illegality'</p>
<p>TfL has also today urged the United Cabbies group (UCG) to call off its protest organised by a small group of taxi drivers outside of the main recognised taxi associations. It is due to take place at 14:00 this afternoon (Tuesday 26 May) and would unnecessarily disrupt Londoners and visitors to the Capital.</p>
<p>According to the UCG, their primary aim is to highlight the 'Future Proof' report that was published in February by the Greater London Authority (GLA).</p>
<p>However, TfL provided a full response to 'Future Proof' in February making clear that all of the main recommendations either have been, or are in the process of, being implemented. Of the 19 recommendations, 13 were planned or already underway before the report was published. The remainder are now being delivered against specific implementation dates, with the exception of one that is a matter for Government.</p>
<p>Garrett Emmerson added: `There is absolutely no justification for this protest because we are already doing the very things they are calling for. Just like the previous protest on Oxford Street, it will achieve nothing other than to disrupt life and business in London.'</p>
<p>Note to Editors:</p>
<ul>
    <li>TfL is responsible for licensing 100,000 taxi and private hire drivers, 85,000 taxi and private hire vehicles and 3,000 private hire operators and is the largest licensing authority in England and Wales and is responsible for licensing over a third of all services.</li>
    <li>TfL's regulation of the taxi trade is widely recognised as the best in the world. The rigorous Knowledge of London examination coupled with the Conditions of Fitness, which require every taxi to be fully accessible, mean an exceptionally high standard is required.</li>
    <li>In testimony to the GLA Transport Committee, Matthew Daus (President, International Association of Transportation Regulators) said: 'Well, [TfL's licensing] has been the gold standard for many, many years, and it is even now. As someone who ran the New York City taxi commission for nine years and was there for 14 years, we would often find ourselves comparing ourselves to London and I think most regulators around the country in the United States (US) as well as the world &#45; and we represent everybody at the IATR from the Middle East to Australia &#45; everybody finds themselves comparing themselves to the iconic black cab system.'</li>
</ul>
Transport for London is doing a number of things to support the taxi trade including:
<ul>
    <li>Investing &pound;600,000 in a Taxi Rank Action Plan to increase the number of ranks across the Capital by 20% by 2020 (an extra 100 ranks)</li>
    <li>Publishing a Suburban Ranks Action Plan to ensure the continued provision of taxi services in the suburbs.</li>
    <li>Creating taxi and private hire Reference Groups to consider future development of trades. TfL will also establish a regular forum to discuss taxi issues with suburban drivers, alongside established trade representatives</li>
    <li>Launching a new counter service &#45; accessible via Chancel Street, SE1 &#45; as a direct result of requests from the taxi and private hire trades. The service is principally to help customers who are having difficulties with the application process</li>
    <li>Later in June TfL will also be launching a brand new online application process. This will allow customers to easily and conveniently process their entire application online, including the scanning and uploading of supporting documents</li>
    <li>At the request of the trades TfL is also seeking clarity, from the High Court, on whether the device in Uber vehicles constitutes a taximeter</li>
</ul>
<p>&nbsp;</p>
<p>&nbsp;</p>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
                <a href="/info-for/media/index" class="heading">
                    <h2 id="sub-menu-heading">Media<span class="visually-hidden"> navigation</span></h2>
                </a>
                <ul>
                    
                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases">Press releases</a></div>
                                <ul>
                                    
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2020">2020</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019">2019</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018">2018</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017">2017</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016">2016</a></div></li>
                            
 
                                        <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015">2015</a></div>
                                        <ul>
                                            
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015/december">December</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015/november">November</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015/october">October</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015/september">September</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015/august">August</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015/july">July</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015/june">June</a></div></li>
                                    
 
                                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015/may">May</a></div>
                                                <ul>
                                                    
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
                                                </ul>
                                            
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015/april">April</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015/march">March</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015/february">February</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015/january">January</a></div></li>
                                    
 
                                        </ul>
                                    </li>
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014">2014</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2013">2013</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2012">2012</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2011">2011</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2010">2010</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2009">2009</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2008">2008</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2007">2007</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2006">2006</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2005">2005</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2004">2004</a></div></li>
                            
 
                                </ul>
                            </li>
 
                                <li><div class="link-wrapper"><a href="/info-for/media/photos">Photos</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/media/contact-the-press-office">Contact the Press Office</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/filming-and-photography">Filming & photography</a></div></li>
                            
 
                </ul>
            
 
 
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype: -Home-Media-Media-Press releases-2015-May-TfL protects Taxi & Private Hire trade - combating illegal activity -->

 
 
        
        
            @{ViewBag.Description = "TfL announces early results of Operation Neon, launched to clamp down on illegal minicab activity";}
        
        


 