


@{ViewBag.Title = "January";}
        
        
<div class="r">
    <div class="breadcrumb-container" role="navigation">
        <span id="breadcrumb-label" class="visually-hidden">You are here:</span>
        <ol class="breadcrumbs clearfix" aria-labelledby="breadcrumb-label">
            <li class="home">
                <a href="/">
                    <span class="hide-text">Home</span>
                </a>
            </li>
            
                <li>
                    <a href="/info-for/media/index">Media</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases">Press releases</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases/2004">2004</a>
                </li>
                
                <li>
                    <span class="last-breadcrumb">January</span>
                </li>
            
 
            
 
            
 
            
 
        </ul>
    </div>
</div>
     
 
<div class="r">
    <div class="headline-container plain">
        <h1>January</h1>
    </div>
</div>

<div class="main-and-aside r">
    <div class="main" role="main">

<div class="on-this-page">


     


<div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2004/january/over-half-a-million-londoners-enjoy-travel-using-oyster">Over half a million Londoners enjoy travel using Oyster<br />27 Jan 2004</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2004/january/new-year-new-fares">New Year, New Fares<br />02 Jan 2004</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2004/january/new-bus-link-starts-for-muswell-hill-and-swiss-cottage">New bus link starts for Muswell Hill and Swiss Cottage<br />06 Jan 2004</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2004/january/record-bus-pass-forger-sentenced">Record bus pass forger sentenced<br />09 Jan 2004</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2004/january/department-for-transport-offers-financial-support-for-thames-gateway-bridge">Department for Transport offers financial support for Thames Gateway Bridge<br />09 Jan 2004</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2004/january/work-starts-to-save-historic-hampstead-drivers-hut">Work starts to save historic Hampstead drivers hut<br />12 Jan 2004</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2004/january/prosecutions-bulletin--illegal-minicab-operators">Prosecutions bulletin - illegal minicab operators<br />14 Jan 2004</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2004/january/new-year-and-new-bus-services-in-bexley-and-woolwich-areas">New year and new bus services in Bexley and Woolwich areas.<br />19 Jan 2004</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2004/january/tfl-publishes-london-travel-report-2003">TfL publishes London Travel Report 2003<br />19 Jan 2004</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2004/january/bendy-buses-planned-for-islington-and-hackney">Bendy buses planned for Islington and Hackney<br />19 Jan 2004</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2004/january/roger-mcgough-awards-londons-best-disabled-poets">Roger McGough awards London's best disabled poets<br />20 Jan 2004</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2004/january/all-aboard-for-more-frequent-wheelchair-and-buggyfriendly-buses-in-west-london">All aboard for more frequent wheelchair and buggy-friendly buses in West London<br />20 Jan 2004</a></div>


        
        
        
        @this.ScriptBlock(
        @<script>
        queue.push("@Html.ScriptPath("modules/M020-on-this-page.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">
        
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
                <a href="/info-for/media/index" class="heading">
                    <h2 id="sub-menu-heading">Media<span class="visually-hidden"> navigation</span></h2>
                </a>
                <ul>
                    
                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases">Press releases</a></div>
                                <ul>
                                    
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2020">2020</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019">2019</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018">2018</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017">2017</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016">2016</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015">2015</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014">2014</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2013">2013</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2012">2012</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2011">2011</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2010">2010</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2009">2009</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2008">2008</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2007">2007</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2006">2006</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2005">2005</a></div></li>
                            
 
                                        <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2004">2004</a></div>
                                        <ul>
                                            
                                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2004/28696">January</a></div>
                                                <ul>
                                                    
 
 
 
 
 
 
 
 
 
 
 
 
                                                </ul>
                                            
 
                                        <li><div class="link-wrapper"><a href="/info-for/media/press-releases/2004/28748">February</a></div></li>
                                    
 
                                        <li><div class="link-wrapper"><a href="/info-for/media/press-releases/2004/28852">March</a></div></li>
                                    
 
                                        <li><div class="link-wrapper"><a href="/info-for/media/press-releases/2004/28940">April</a></div></li>
                                    
 
                                        <li><div class="link-wrapper"><a href="/info-for/media/press-releases/2004/29008">May</a></div></li>
                                    
 
                                        <li><div class="link-wrapper"><a href="/info-for/media/press-releases/2004/29040">June</a></div></li>
                                    
 
                                        <li><div class="link-wrapper"><a href="/info-for/media/press-releases/2004/july">July</a></div></li>
                                    
 
                                        <li><div class="link-wrapper"><a href="/info-for/media/press-releases/2004/29240">August</a></div></li>
                                    
 
                                        <li><div class="link-wrapper"><a href="/info-for/media/press-releases/2004/29280">September</a></div></li>
                                    
 
                                        <li><div class="link-wrapper"><a href="/info-for/media/press-releases/2004/29348">October</a></div></li>
                                    
 
                                        <li><div class="link-wrapper"><a href="/info-for/media/press-releases/2004/29532">November</a></div></li>
                                    
 
                                        <li><div class="link-wrapper"><a href="/info-for/media/press-releases/2004/29608">December</a></div></li>
                                    
 
                                        </ul>
                                    </li>
 
                                </ul>
                            </li>
 
                                <li><div class="link-wrapper"><a href="/info-for/media/photos">Photos</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/media/contact-the-press-office">Contact the Press Office</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/filming-and-photography">Filming & photography</a></div></li>
                            
 
                </ul>
            
 
 
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>


<div></div>

        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>
 
        
        
            @{ViewBag.Description = "Press releases and news articles from Transport for London";}
        
        


 