


@{ViewBag.Title = "March";}
        
        
<div class="r">
    <div class="breadcrumb-container" role="navigation">
        <span id="breadcrumb-label" class="visually-hidden">You are here:</span>
        <ol class="breadcrumbs clearfix" aria-labelledby="breadcrumb-label">
            <li class="home">
                <a href="/">
                    <span class="hide-text">Home</span>
                </a>
            </li>
            
                <li>
                    <a href="/info-for/media/index">Media</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases">Press releases</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases/2004">2004</a>
                </li>
                
                <li>
                    <span class="last-breadcrumb">March</span>
                </li>
            
 
            
 
            
 
            
 
        </ul>
    </div>
</div>
     
 
<div class="r">
    <div class="headline-container plain">
        <h1>March</h1>
    </div>
</div>

<div class="main-and-aside r">
    <div class="main" role="main">

<div class="on-this-page">


     


<div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2004/march/final-stage-for-minicab-licensing-starts">Final stage for minicab licensing starts<br />30 Mar 2004</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2004/march/taxi-licensing-inspections--procedural-changes">TAXI LICENSING INSPECTIONS - PROCEDURAL CHANGES<br />29 Mar 2004</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2004/march/withdrawal-of-mercedes-citaro-buses">Withdrawal of Mercedes Citaro buses<br />24 Mar 2004</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2004/march/bob-kiley-outlines-proposals-for-london-regional-rail-authority">Bob Kiley outlines proposals for London Regional Rail Authority<br />23 Mar 2004</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2004/march/statement-bendy-bus-fire">Statement: Bendy bus fire<br />22 Mar 2004</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2004/march/increased-fine-for-bus-fare-dodgers">Increased Fine for Bus Fare Dodgers<br />19 Mar 2004</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2004/march/private-hire-vehicles--vehicle-identification-discs">PRIVATE HIRE VEHICLES - VEHICLE IDENTIFICATION DISCS<br />18 Mar 2004</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2004/march/greenwich-pier-is-refurbished">Greenwich Pier is refurbished<br />18 Mar 2004</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2004/march/sir-gulam-noon-mbe-appointed-to-tfl-board">Sir Gulam Noon MBE appointed to TfL Board<br />17 Mar 2004</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2004/march/transport-for-london-comment-on-the-budget">Transport for London comment on the Budget<br />17 Mar 2004</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2004/march/transport-policing-results-bulletin">Transport Policing: Results Bulletin<br />16 Mar 2004</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2004/march/prosecutions-bulletin--illegal-minicab-operators">Prosecutions bulletin - illegal minicab operators<br />16 Mar 2004</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2004/march/more-funding-for-school-cycle-parking">More funding for school cycle parking<br />15 Mar 2004</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2004/march/cctv-for-silverlink-metro-and-wagn">CCTV for Silverlink Metro and Wagn<br />12 Mar 2004</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2004/march/rotherhithe-tunnel-48-hour-closure">Rotherhithe Tunnel 48 hour Closure<br />12 Mar 2004</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2004/march/camberwell-green-resurfacing-works">Camberwell Green Resurfacing Works<br />09 Mar 2004</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2004/march/west-london-tram-progress">West London Tram Progress<br />08 Mar 2004</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2004/march/tfl-launches-womens-action-plan">TfL Launches Women's Action Plan<br />04 Mar 2004</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2004/march/a12-george-green-tunnel-repair-works">A12 George Green Tunnel Repair Works<br />02 Mar 2004</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2004/march/tfl-consults-boroughs-on-local-implementation-plan-guidance">TfL Consults Boroughs on Local Implementation Plan Guidance<br />02 Mar 2004</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2004/march/londoners-swap-cars-for-public-transport">Londoners swap cars for public transport<br />01 Mar 2004</a></div>


        
        
        
        @this.ScriptBlock(
        @<script>
        queue.push("@Html.ScriptPath("modules/M020-on-this-page.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">
        
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
                <a href="/info-for/media/index" class="heading">
                    <h2 id="sub-menu-heading">Media<span class="visually-hidden"> navigation</span></h2>
                </a>
                <ul>
                    
                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases">Press releases</a></div>
                                <ul>
                                    
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2020">2020</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019">2019</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018">2018</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017">2017</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016">2016</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015">2015</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014">2014</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2013">2013</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2012">2012</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2011">2011</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2010">2010</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2009">2009</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2008">2008</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2007">2007</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2006">2006</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2005">2005</a></div></li>
                            
 
                                        <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2004">2004</a></div>
                                        <ul>
                                            
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2004/28696">January</a></div></li>
                                    
 
                                        <li><div class="link-wrapper"><a href="/info-for/media/press-releases/2004/28748">February</a></div></li>
                                    
 
                                                <li class="selected"><div class="link-wrapper"><a href="/info-for/media/press-releases/2004/28852">March</a></div>
                                            
 
                                        <li><div class="link-wrapper"><a href="/info-for/media/press-releases/2004/28940">April</a></div></li>
                                    
 
                                        <li><div class="link-wrapper"><a href="/info-for/media/press-releases/2004/29008">May</a></div></li>
                                    
 
                                        <li><div class="link-wrapper"><a href="/info-for/media/press-releases/2004/29040">June</a></div></li>
                                    
 
                                        <li><div class="link-wrapper"><a href="/info-for/media/press-releases/2004/july">July</a></div></li>
                                    
 
                                        <li><div class="link-wrapper"><a href="/info-for/media/press-releases/2004/29240">August</a></div></li>
                                    
 
                                        <li><div class="link-wrapper"><a href="/info-for/media/press-releases/2004/29280">September</a></div></li>
                                    
 
                                        <li><div class="link-wrapper"><a href="/info-for/media/press-releases/2004/29348">October</a></div></li>
                                    
 
                                        <li><div class="link-wrapper"><a href="/info-for/media/press-releases/2004/29532">November</a></div></li>
                                    
 
                                        <li><div class="link-wrapper"><a href="/info-for/media/press-releases/2004/29608">December</a></div></li>
                                    
 
                                        </ul>
                                    </li>
 
                                </ul>
                            </li>
 
                                <li><div class="link-wrapper"><a href="/info-for/media/photos">Photos</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/media/contact-the-press-office">Contact the Press Office</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/filming-and-photography">Filming & photography</a></div></li>
                            
 
                </ul>
            
 
 
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>


<div></div>

        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>
 
        
        
            @{ViewBag.Description = "Press releases and news articles from Transport for London";}
        
        


 