


@{ViewBag.Title = "October";}
        
        
<div class="r">
    <div class="breadcrumb-container" role="navigation">
        <span id="breadcrumb-label" class="visually-hidden">You are here:</span>
        <ol class="breadcrumbs clearfix" aria-labelledby="breadcrumb-label">
            <li class="home">
                <a href="/">
                    <span class="hide-text">Home</span>
                </a>
            </li>
            
                <li>
                    <a href="/info-for/media/index">Media</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases">Press releases</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases/2004">2004</a>
                </li>
                
                <li>
                    <span class="last-breadcrumb">October</span>
                </li>
            
 
            
 
            
 
            
 
        </ul>
    </div>
</div>
     
 
<div class="r">
    <div class="headline-container plain">
        <h1>October</h1>
    </div>
</div>

<div class="main-and-aside r">
    <div class="main" role="main">

<div class="on-this-page">


     


<div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2004/october/consultation-ends-on-west-london-tram">Consultation ends on West London Tram<br />29 Oct 2004</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2004/october/tfl-publishes-fiveyear-business-plan">TfL publishes five-year Business Plan<br />27 Oct 2004</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2004/october/tfl-back-tamworth-road-croydon-tram-stop">TfL back Tamworth Road, Croydon tram stop<br />27 Oct 2004</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2004/october/tfl-back-tamworth-road-croydon-tram-stop">TfL back Tamworth Road, Croydon tram stop<br />27 Oct 2004</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2004/october/directions-and-guidance-to-the-strategic-rail-authority-2004">Directions and Guidance to the Strategic Rail Authority 2004<br />25 Oct 2004</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2004/october/london-bids-for-tour-de-france-grand-depart">London bids for Tour de France Grand Depart<br />25 Oct 2004</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2004/october/tfl-publishes-report-into-impacts-of-jubilee-line-extension">TfL Publishes Report into Impacts of Jubilee Line Extension<br />25 Oct 2004</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2004/october/a12-urgent-repair-works">A12 urgent repair works<br />21 Oct 2004</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2004/october/coulsdon-relief-road-exhibition">Coulsdon relief road exhibition<br />21 Oct 2004</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2004/october/cyclists-race-from-paris-to-london-to-celebrate-entente-cordiale-centenary">Cyclists race from Paris to London to celebrate Entente Cordiale Centenary<br />19 Oct 2004</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2004/october/congestion-charge-gets-festive-for-christmas-sales">Congestion charge gets festive for Christmas sales<br />19 Oct 2004</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2004/october/mayor-launches-safety-scheme-for-london-taxi-passengers">Mayor launches safety scheme for London taxi passengers<br />15 Oct 2004</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2004/october/back-the-bid-bus-to-take-olympic-heroes-on-unique-journey-to-buckingham">'Back the Bid' bus to take Olympic heroes on unique journey to Buckingham<br />14 Oct 2004</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2004/october/my-other-car-is-a-bus--new-advertising-campaign">'My other car is a bus' - new advertising campaign<br />14 Oct 2004</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2004/october/london-nhs-travel-plan-guide--the-perfect-decongestant">London NHS Travel Plan Guide - the perfect decongestant<br />13 Oct 2004</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2004/october/who-will-be-top-of-the-buses-2004">Who will be top of the buses 2004?<br />13 Oct 2004</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2004/october/barking-and-dagenham-to-benefit-as-mayor-unveils-andpound10bn-investment-programme-to-transform-londons-transport-network">Barking and Dagenham to benefit as Mayor unveils &pound;10bn investment programme to transform London's transport network<br />12 Oct 2004</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2004/october/tower-hamlets-to-benefit-as-mayor-unveils-andpound10bn-investment-programme-to-transform-londons-transport-network">Tower Hamlets to benefit as Mayor unveils &pound;10bn investment programme to transform Londons transport network<br />12 Oct 2004</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2004/october/haringey-to-benefit-as-mayor-unveils-andpound10bn-investment-programme-to-transform-londons-transport-network">Haringey to benefit as Mayor unveils &pound;10bn investment programme to transform London's transport network<br />12 Oct 2004</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2004/october/lambeth-to-benefit-as-mayor-unveils-andpound10bn-investment-programme-to-transform-londons-transport-network">Lambeth to benefit as Mayor unveils &pound;10bn investment programme to transform London's transport network<br />12 Oct 2004</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2004/october/richmond-to-benefit-as-mayor-unveils-andpound10bn-investment-programme-to-transform-londons-transport-network">Richmond to benefit as Mayor unveils &pound;10bn investment programme to transform Londons transport network<br />12 Oct 2004</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2004/october/hammersmith-and-fulham-to-benefit-as-mayor-unveils-andpound10bn-investment-programme-to-transform-londons-transport-network">Hammersmith and Fulham to benefit as Mayor unveils &pound;10bn investment programme to transform London's transport network<br />12 Oct 2004</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2004/october/enfield-to-benefit-as-mayor-unveils-andpound10bn-investment-programme-to-transform-londons-transport-network">Enfield to benefit as Mayor unveils &pound;10bn investment programme to transform London's transport network<br />12 Oct 2004</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2004/october/kensington-and-chelsea-to-benefit-as-mayor-unveils-andpound10bn-investment-programme-to-transform-londons-transport-network">Kensington and Chelsea to benefit as Mayor unveils &pound;10bn investment programme to transform London's transport network<br />12 Oct 2004</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2004/october/hillingdon-to-benefit-as-mayor-unveils-andpound10bn-investment-programme-to-transform-londons-transport-network">Hillingdon to benefit as Mayor unveils &pound;10bn investment programme to transform London's transport network<br />12 Oct 2004</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2004/october/ealing-to-benefit-as-mayor-unveils-andpound10bn-investment-programme-to-transform-londons-transport-network">Ealing to benefit as Mayor unveils &pound;10bn investment programme to transform London's transport network<br />12 Oct 2004</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2004/october/prosecution-bulletin--illegal-mini-cab-operators">Prosecution bulletin - illegal mini cab operators<br />12 Oct 2004</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2004/october/southwark-to-benefit-as-mayor-unveils-andpound10bn-investment-programme-to-transform-londons-transport-network">Southwark to benefit as Mayor unveils &pound;10bn investment programme to transform Londons transport network<br />12 Oct 2004</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2004/october/brent-to-benefit-as-mayor-unveils-andpound10bn-investment-programme-to-transform-londons-transport-network">Brent to benefit as Mayor unveils &pound;10bn investment programme to transform Londons transport network<br />12 Oct 2004</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2004/october/corporation-of-london-to-benefit-as-mayor-unveils-andpound10bn-investment-programme-to-transform-londons-transport-network">Corporation of London to benefit as Mayor unveils &pound;10bn investment programme to transform London's transport network<br />12 Oct 2004</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2004/october/camden-to-benefit-as-mayor-unveils-andpound10bn-investment-programme-to-transform-londons-transport-network">Camden to benefit as Mayor unveils &pound;10bn investment programme to transform London's transport network<br />12 Oct 2004</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2004/october/waltham-forest-to-benefit-as-mayor-unveils-andpound10bn-investment-programme-to-transform-londons-transport-network">Waltham Forest to benefit as Mayor unveils &pound;10bn investment programme to transform Londons transport network<br />12 Oct 2004</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2004/october/newham-to-benefit-as-mayor-unveils-andpound10bn-investment-programme-to-transform-londons-transport-network">Newham to benefit as Mayor unveils &pound;10bn investment programme to transform Londons transport network<br />12 Oct 2004</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2004/october/wandsworth-to-benefit-as-mayor-unveils-andpound10bn-investment-programme-to-transform-londons-transport-network">Wandsworth to benefit as Mayor unveils &pound;10bn investment programme to transform Londons transport network<br />12 Oct 2004</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2004/october/hounslow-to-benefit-as-mayor-unveils-andpound10bn-investment-programme-to-transform-londons-transport-network">Hounslow to benefit as Mayor unveils &pound;10bn investment programme to transform London's transport network<br />12 Oct 2004</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2004/october/mayor-unveils-andpound10bn-investment-programme-to-transform-londons-transport-network">Mayor unveils &pound;10bn investment programme to transform London's transport network<br />12 Oct 2004</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2004/october/bexley-to-benefit-as-mayor-unveils-andpound10bn-investment-programme-to-transform-londons-transport-network">Bexley to benefit as Mayor unveils &pound;10bn investment programme to transform London's transport network<br />12 Oct 2004</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2004/october/harrow-to-benefit-as-mayor-unveils-andpound10bn-investment-programme-to-transform-londons-transport-network">Harrow to benefit as Mayor unveils &pound;10bn investment programme to transform London's transport network<br />12 Oct 2004</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2004/october/hackney-to-benefit-as-mayor-unveils-andpound10bn-investment-programme-to-transform-londons-transport-network">Hackney to benefit as Mayor unveils &pound;10bn investment programme to transform London's transport network<br />12 Oct 2004</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2004/october/croydon-to-benefit-as-mayor-unveils-andpound10bn-investment-programme-to-transform-londons-transport-network">Croydon to benefit as Mayor unveils &pound;10bn investment programme to transform Londons transport network<br />12 Oct 2004</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2004/october/barnet-to-benefit-as-mayor-unveils-andpound10bn-investment-programme-to-transform-londons-transport-network">Barnet to benefit as Mayor unveils &pound;10bn investment programme to transform London's transport network<br />12 Oct 2004</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2004/october/lewisham-to-benefit-as-mayor-unveils-andpound10bn-investment-programme-to-transform-londons-transport-network">Lewisham to benefit as Mayor unveils &pound;10bn investment programme to transform Londons transport network<br />12 Oct 2004</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2004/october/good-news-for-bromley-as-mayor-unveils-andpound10bn-investment-programme-to-transform-londons-transport-network">Good news for Bromley as Mayor unveils &pound;10bn investment programme to transform London's transport network<br />12 Oct 2004</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2004/october/greenwich-to-benefit-as-mayor-unveils-andpound10bn-investment-programme-to-transform-londons-transport-network">Greenwich to benefit as Mayor unveils &pound;10bn investment programme to transform London's transport network<br />12 Oct 2004</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2004/october/bus-shuttle-to-replace-tube-to-heathrow-terminal-4">Bus shuttle to replace Tube to Heathrow Terminal 4<br />05 Oct 2004</a></div>


        
        
        
        @this.ScriptBlock(
        @<script>
        queue.push("@Html.ScriptPath("modules/M020-on-this-page.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">
        
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
                <a href="/info-for/media/index" class="heading">
                    <h2 id="sub-menu-heading">Media<span class="visually-hidden"> navigation</span></h2>
                </a>
                <ul>
                    
                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases">Press releases</a></div>
                                <ul>
                                    
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2020">2020</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019">2019</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018">2018</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017">2017</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016">2016</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015">2015</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014">2014</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2013">2013</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2012">2012</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2011">2011</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2010">2010</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2009">2009</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2008">2008</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2007">2007</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2006">2006</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2005">2005</a></div></li>
                            
 
                                        <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2004">2004</a></div>
                                        <ul>
                                            
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2004/28696">January</a></div></li>
                                    
 
                                        <li><div class="link-wrapper"><a href="/info-for/media/press-releases/2004/28748">February</a></div></li>
                                    
 
                                        <li><div class="link-wrapper"><a href="/info-for/media/press-releases/2004/28852">March</a></div></li>
                                    
 
                                        <li><div class="link-wrapper"><a href="/info-for/media/press-releases/2004/28940">April</a></div></li>
                                    
 
                                        <li><div class="link-wrapper"><a href="/info-for/media/press-releases/2004/29008">May</a></div></li>
                                    
 
                                        <li><div class="link-wrapper"><a href="/info-for/media/press-releases/2004/29040">June</a></div></li>
                                    
 
                                        <li><div class="link-wrapper"><a href="/info-for/media/press-releases/2004/july">July</a></div></li>
                                    
 
                                        <li><div class="link-wrapper"><a href="/info-for/media/press-releases/2004/29240">August</a></div></li>
                                    
 
                                        <li><div class="link-wrapper"><a href="/info-for/media/press-releases/2004/29280">September</a></div></li>
                                    
 
                                                <li class="selected"><div class="link-wrapper"><a href="/info-for/media/press-releases/2004/29348">October</a></div>
                                            
 
                                        <li><div class="link-wrapper"><a href="/info-for/media/press-releases/2004/29532">November</a></div></li>
                                    
 
                                        <li><div class="link-wrapper"><a href="/info-for/media/press-releases/2004/29608">December</a></div></li>
                                    
 
                                        </ul>
                                    </li>
 
                                </ul>
                            </li>
 
                                <li><div class="link-wrapper"><a href="/info-for/media/photos">Photos</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/media/contact-the-press-office">Contact the Press Office</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/filming-and-photography">Filming & photography</a></div></li>
                            
 
                </ul>
            
 
 
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>


<div></div>

        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>
 
        
        
            @{ViewBag.Description = "Press releases and news articles from Transport for London";}
        
        


 