


@{ViewBag.Title = "July";}
        
        
<div class="r">
    <div class="breadcrumb-container" role="navigation">
        <span id="breadcrumb-label" class="visually-hidden">You are here:</span>
        <ol class="breadcrumbs clearfix" aria-labelledby="breadcrumb-label">
            <li class="home">
                <a href="/">
                    <span class="hide-text">Home</span>
                </a>
            </li>
            
                <li>
                    <a href="/info-for/media/index">Media</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases">Press releases</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases/2004">2004</a>
                </li>
                
                <li>
                    <span class="last-breadcrumb">July</span>
                </li>
            
 
            
 
            
 
            
 
        </ul>
    </div>
</div>
     
 
<div class="r">
    <div class="headline-container plain">
        <h1>July</h1>
    </div>
</div>

<div class="main-and-aside r">
    <div class="main" role="main">

<div class="on-this-page">


     


<div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2004/july/mayor-issues-guidance-on-local-implementation-of-london-transport-strategy">Mayor issues guidance on local implementation of London Transport Strategy<br />29 Jul 2004</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2004/july/traffic-information-for-the-michelob-ultra-london-triathlon">Traffic information for The Michelob ULTRA London Triathlon<br />26 Jul 2004</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2004/july/businesses-fleets-and-patients-to-benefit-from-ccharge-improvements">Businesses, fleets and patients to benefit from c-charge improvements<br />23 Jul 2004</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2004/july/cyclist-numbers-soar-to-record-high">Cyclist numbers soar to record high<br />22 Jul 2004</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2004/july/a205a316-chalkers-corner-junction-improvement">A205/A316 Chalker's Corner junction improvement<br />21 Jul 2004</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2004/july/tfl-applies-to-make-thames-gateway-bridge-a-reality-by-2012">TfL applies to make Thames Gateway Bridge a reality by 2012<br />21 Jul 2004</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2004/july/tfl-london-rail-and-southern-announce-major-investment-in-station-security">TfL London Rail and Southern announce major investment in station security<br />20 Jul 2004</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2004/july/tfl-statement-on-funding-agreement-with-government">TfL Statement on Funding Agreement with Government<br />20 Jul 2004</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2004/july/underground-signs-10year-lifelong-learning-deal">Underground signs 10-year lifelong learning deal<br />19 Jul 2004</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2004/july/a406-harrow-rd-and-neasden-lane-improvement-works">A406 Harrow Rd and Neasden Lane improvement works<br />19 Jul 2004</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2004/july/az-by-lars-arrhenius">A-Z by Lars Arrhenius<br />19 Jul 2004</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2004/july/buses-will-replace-bakerloo-line-services">Buses will replace Bakerloo line services<br />19 Jul 2004</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2004/july/tfl-launch-ccharge-customer-care-kit">TfL launch c-charge customer care kit<br />16 Jul 2004</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2004/july/p5-is-extended-to-patmore-estate">P5 is extended to Patmore Estate<br />16 Jul 2004</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2004/july/mayoral-and-tfl-statement--rail-review-2004">Mayoral and TfL statement - Rail Review 2004<br />15 Jul 2004</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2004/july/how-to-have-your-say-in-twelve-different-languages">How to have your say in twelve different languages<br />14 Jul 2004</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2004/july/operation-londinium-at-kings-cross">Operation Londinium at Kings Cross<br />14 Jul 2004</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2004/july/correction-to-west-london-tram-consultation-brochure">Correction to West London Tram consultation brochure<br />13 Jul 2004</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2004/july/correction-to-west-london-tram-consultation-brochure">Correction to West London Tram consultation brochure<br />13 Jul 2004</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2004/july/south-london-taxis-in-pole-position">South London taxis in pole position<br />09 Jul 2004</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2004/july/tfl-london-rail-and-south-west-trains-announce-major-investment-at-53-stations">TfL London Rail and South West Trains announce major investment at 53 stations.<br />08 Jul 2004</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2004/july/jubilee-line-raises-land-value-by-estimated-andpound28billion-at-canary-wharf-and-southwark-tube-stations">Jubilee line raises land value by estimated &pound;2.8billion at Canary Wharf and Southwark Tube stations<br />08 Jul 2004</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2004/july/west-london-tram-visits-acton">West London Tram visits Acton<br />08 Jul 2004</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2004/july/londons-taxis-in-pole-position">London's taxis in pole position<br />08 Jul 2004</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2004/july/around-the-capital-in-24-hours">Around the Capital in 24 hours?<br />08 Jul 2004</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2004/july/west-london-tram-visits-acton">West London Tram visits Acton<br />08 Jul 2004</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2004/july/taxi-poles-in-south-london-launched">Taxi poles in South London launched<br />06 Jul 2004</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2004/july/freight-expectations-tfls-plan-to-boost-rail-freight-in-london">Freight expectations: TfL's plan to boost rail freight in London.<br />06 Jul 2004</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2004/july/putting-transport-on-the-map--future-map-of-london-transport-launched-by-mayor">Putting transport on the map - Future map of London transport launched by Mayor<br />04 Jul 2004</a></div>


        
        
        
        @this.ScriptBlock(
        @<script>
        queue.push("@Html.ScriptPath("modules/M020-on-this-page.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">
        
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
                <a href="/info-for/media/index" class="heading">
                    <h2 id="sub-menu-heading">Media<span class="visually-hidden"> navigation</span></h2>
                </a>
                <ul>
                    
                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases">Press releases</a></div>
                                <ul>
                                    
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2020">2020</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019">2019</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018">2018</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017">2017</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016">2016</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015">2015</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014">2014</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2013">2013</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2012">2012</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2011">2011</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2010">2010</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2009">2009</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2008">2008</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2007">2007</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2006">2006</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2005">2005</a></div></li>
                            
 
                                        <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2004">2004</a></div>
                                        <ul>
                                            
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2004/28696">January</a></div></li>
                                    
 
                                        <li><div class="link-wrapper"><a href="/info-for/media/press-releases/2004/28748">February</a></div></li>
                                    
 
                                        <li><div class="link-wrapper"><a href="/info-for/media/press-releases/2004/28852">March</a></div></li>
                                    
 
                                        <li><div class="link-wrapper"><a href="/info-for/media/press-releases/2004/28940">April</a></div></li>
                                    
 
                                        <li><div class="link-wrapper"><a href="/info-for/media/press-releases/2004/29008">May</a></div></li>
                                    
 
                                        <li><div class="link-wrapper"><a href="/info-for/media/press-releases/2004/29040">June</a></div></li>
                                    
 
                                                <li class="selected"><div class="link-wrapper"><a href="/info-for/media/press-releases/2004/july">July</a></div>
                                            
 
                                        <li><div class="link-wrapper"><a href="/info-for/media/press-releases/2004/29240">August</a></div></li>
                                    
 
                                        <li><div class="link-wrapper"><a href="/info-for/media/press-releases/2004/29280">September</a></div></li>
                                    
 
                                        <li><div class="link-wrapper"><a href="/info-for/media/press-releases/2004/29348">October</a></div></li>
                                    
 
                                        <li><div class="link-wrapper"><a href="/info-for/media/press-releases/2004/29532">November</a></div></li>
                                    
 
                                        <li><div class="link-wrapper"><a href="/info-for/media/press-releases/2004/29608">December</a></div></li>
                                    
 
                                        </ul>
                                    </li>
 
                                </ul>
                            </li>
 
                                <li><div class="link-wrapper"><a href="/info-for/media/photos">Photos</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/media/contact-the-press-office">Contact the Press Office</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/filming-and-photography">Filming & photography</a></div></li>
                            
 
                </ul>
            
 
 
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>


<div></div>

        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>
 
        
        
            @{ViewBag.Description = "Press releases and news articles from Transport for London";}
        
        


 