
    
  



@{ViewBag.Title = "Charities";}
@{ViewBag.Keywords = "TfL";}
@{ViewBag.Url = "/corporate/about-tfl/corporate-and-social-responsibility/charities";}
@{ViewBag.Language = "en";}
        <!-- empty placeholder -->
 
        
        
<div class="r">
    <div class="breadcrumb-container" role="navigation">
        <span id="breadcrumb-label" class="visually-hidden">You are here:</span>
        <ol class="breadcrumbs clearfix" aria-labelledby="breadcrumb-label">
            <li class="home">
                <a href="/">
                    <span class="hide-text">Home</span>
                </a>
            </li>
            
                 <li><a href="/corporate/about-tfl/index">About TfL</a></li>
                
            
                 <li><a href="/corporate/about-tfl/corporate-and-social-responsibility">Corporate social responsibility</a></li>
                
            
            
                <li><span class="last-breadcrumb">Charities</span></li>
            
        
 
        
 
        
 
        </ol>
    </div>
</div>
     
 
<div class="r">
  <div class="headline-container plain">
    <h1>Charities</h1>

  </div>
</div>
<div class="main-and-aside r">
  
  <div class="main content-container" role="main">
    
      <div class="article-teaser">
        We help charities by facilitating their fundraising activities while at the same time protecting the security and peace of mind of our customers.<BR>
        
      </div>
    
    <div class="on-this-page">
      <h2>Collections at our stations</h2>
<p>If you're collecting money for a registered charity, you can apply to
collect at our stations. We also allow carol singing and seasonal music
in December.</p>
<p>We have an online booking service for charity collections:</p>
<ul>
    <li>Applications to collect must be made by the charity</li>
    <li>Charities must ensure all their fundraisers at London Underground stations have been security-checked or hold a basic disclosure</li>
    <li>Members of the old Fundraising Standards Board (FRSB) - now the Fundraising Regulator - can apply for fundraising opportunities with their existing allocated membership number until this is formally replaced by the Fundraising Regulator. If your charity does not hold an FRSB number, you can apply for a temporary number by contacting the TfL Charities team</li>
</ul>
<p>To arrange fundraising activities at our stations, fill out the <a href="http://charities.tfl.gov.uk/signup">TfL Charities online form</a>.</p>
<p>
<strong>Email: </strong><a href="mailto:charities&#64;tfl.gov.uk">charities&#64;tfl.gov.uk</a><br />
<strong>Post:</strong><br />
TfL Charities<br />
5th Floor<br />
197 Blackfriars Road<br />
London<br />
SE1 8NJ</p>
<h3>Safety in the station</h3>
<ul>
    <li>You may only collect or sing in the ticket hall area</li>
    <li>You must stay away from lifts, escalators and automatic barriers</li>
    <li>You can't collect on trains</li>
    <li>All collectors must sign in at the station and  follow the instructions of station staff during your collection</li>
</ul>
<p>We regularly host station collections and fundraising activity by <a href="http://www.railwaychildren.org.uk/">Railway Children</a>, the <a href="http://www.britishlegion.org.uk/">Royal British Legion Poppy Appeal</a> and <a href="http://www.dec.org.uk/">Disasters Emergency Committee</a>.</p>
      
           
      <div>

<h2>Our engagement with charities</h2>
<p>Our public affairs colleagues look after our relationships with voluntary organisations and charities that speak for our customers and users.</p>
<p>We get many requests to support charities. As a not-for-profit organisation and statutory body, we need to consider a number of legal, operational and budgetary constraints when reviewing requests from charities.
</p>
<p>In most cases, we'll only be able to meet requests that can help us to carry out our function of providing transport in London. We are not able to agree to most requests.</p>
<p>We have guidance to ensure a fair and consistent approach to how we consider requests from charities.</p>
<p>See our <a href="/corporate/about-tfl/corporate-and-social-responsibility/charity-request-guidance">charity request guidance</a>.</p>
<h2>London Transport Museum</h2>
<p><a href="http://www.ltmuseum.co.uk/">London Transport Museum</a> is the world's leading museum of urban transport. It is an independent heritage and education charity that is part of TfL.</p>
<p>The charity works with over 150,000 young people each year, bringing social benefits through:</p>
<ul>
    <li>Iinspirational, preventative and restorative projects</li>
    <li>Help for young people to discover their city</li>
    <li>Building their skills and secure employment in transport and engineering</li>
</ul>
</div>
 
      
        
          
            @this.ScriptBlock(
              @<script>
                queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
              </script>
            )
          
        
      
    </div>
  </div>
  <div class="aside" role="complementary">

   
    
    
    
      <div data-set="sidenav-container" class="large">
        
        
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
                <a href="/corporate/about-tfl/corporate-and-social-responsibility" class="heading">
                    <h2 id="sub-menu-heading">Corporate social responsibility<span class="visually-hidden"> navigation</span></h2>
                </a>
                <ul>
                    
                                <li class="selected parent"><div class="link-wrapper"><a href="/corporate/about-tfl/corporate-and-social-responsibility/charities">Charities</a></div>
                                <ul>
                                    
                                <li><div class="link-wrapper"><a href="/corporate/about-tfl/corporate-and-social-responsibility/charity-request-guidance">Charity request guidance</a></div></li>
                            
 
                                </ul>
                            </li>
 
                                <li><div class="link-wrapper"><a href="/corporate/about-tfl/corporate-and-social-responsibility/equality-and-inclusion">Equality and inclusion</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/corporate/about-tfl/corporate-and-social-responsibility/transport-and-health">Transport and health</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/corporate/about-tfl/corporate-and-social-responsibility/reducing-noise-and-vibration">Reducing noise and vibration</a></div></li>
                            
 
                </ul>
            
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
      </div>
    
    <div>




















<div class="advert-tile unsponsored-style google-ads" aria-hidden="true">
  <div class="advert-link">
    <div class="advert-content">
        <div class="medium-large" data-advert="/76889402/non-targeted" data-advert-sizes="300, 250"></div>
        <div class="small" data-advert="/76889402/non-targeted" data-advert-sizes="300, 250"></div>
    </div>
  </div>
</div>
@{
    ViewBag.AmazonSlot = "'amznslots'";
    ViewBag.AmazonAds = "'3199'"; // to add another value, this needs to be ViewBag.AmazonAds = "'3199','xx'";
}
      

 </div>
    
    <div data-set="sidenav-container" class="small-medium"></div>
  </div>
</div>
 
 
        
        
        
            @{ViewBag.Description = "We work with charities to help them fundraise safely on our network";}
        
            
        


 