
    
  



@{ViewBag.Title = "Charity request guidance";}
@{ViewBag.Keywords = "TfL";}
@{ViewBag.Url = "/corporate/about-tfl/corporate-and-social-responsibility/charity-request-guidance";}
@{ViewBag.Language = "en";}
        <!-- empty placeholder -->
 
        
        
<div class="r">
    <div class="breadcrumb-container" role="navigation">
        <span id="breadcrumb-label" class="visually-hidden">You are here:</span>
        <ol class="breadcrumbs clearfix" aria-labelledby="breadcrumb-label">
            <li class="home">
                <a href="/">
                    <span class="hide-text">Home</span>
                </a>
            </li>
            
                 <li><a href="/corporate/about-tfl/index">About TfL</a></li>
                
            
                 <li><a href="/corporate/about-tfl/corporate-and-social-responsibility">Corporate social responsibility</a></li>
                
            
                 <li><a href="/corporate/about-tfl/corporate-and-social-responsibility/charities">Charities</a></li>
                
            
            
                <li><span class="last-breadcrumb">Charity request guidance</span></li>
            
        
 
        
 
        
 
        
 
        </ol>
    </div>
</div>
     
 
<div class="r">
  <div class="headline-container plain">
    <h1>Charity request guidance</h1>

  </div>
</div>
<div class="main-and-aside r">
  
  <div class="main content-container" role="main">
    
      <div class="article-teaser">
        Our guidance outlines the principles we apply when deciding whether or not we can support a specific charity request.
        
      </div>
    
    <div class="on-this-page">
      <p>These principles offer a fair and consistent approach that makes sure we do not get involved in enterprises which are contrary to our legal powers.</p>
<p>This guidance does not replace existing independent arrangements about particular kinds of charitable support. This includes:</p>
<ul>
    <li>Arrangements put in place by London Underground for charity collections at Tube stations &#45; we enable over 8,000 collections a year and facilitate short notice collections for members of the Disaster Emergency Committee</li>
    <li>Arrangements for the disposal of unclaimed items by our Lost Property Office.</li>
</ul>
<p>Find out about applying for <a href="/corporate/about-tfl/corporate-and-social-responsibility/charities">charity collections at London Underground stations</a>.</p>
<ul>
</ul>
<h2>Background</h2>
<p>Transport for London (TfL) is a not-for-profit organisation. Our purpose is to keep London working, growing and to make life in London better. We manage the Capital's transport network on behalf of the Mayor of London.</p>
<p>We receive a very large number of requests to support charities. These range from applications for financial donations or free travel, to the use of our advertising space, our vehicles and buildings.</p>
<p>Our ability to support charities is legally restricted. Our revenue comes from public funds - largely from fare and tax payers and every penny of our income is reinvested in running or improving transport. This means we are unable to agree to most requests. We also don't have the staff or other resources to meet most requests for help in kind.</p>
<h2>Existing  arrangements</h2>
<p>The London Transport Museum, a charitable subsidiary of TfL, receives direct funding from us and in return, discharges our statutory obligation to maintain our collection of vehicles and other historical items and supports our schools and community outreach activity.</p>
<p>We maintain partnerships with other charities that support our customers and users. For example, we provide help for travel mentoring schemes run by accessibility charities, although we do not contribute direct funding.</p>
<p>We also facilitate fundraising by <a href="http://www.railwaychildren.org.uk/">The Railway Children</a>, the <a href="http://www.britishlegion.org.uk/">Royal British Legion</a> Poppy Appeal and <a href="https://www.dec.org.uk/">Disasters Emergency Committee</a> appeals.</p>
<p>We receive many requests to conduct charity collections or run charitable events at our head office locations. Collections in public areas of our buildings (for example, reception spaces), or in multiple locations within the building are only permitted if the request aligns with the principles of the Charity request guidance. </p>
<p>See below for 'How to make a request'. If a request is permitted, the requester is responsible for making all arrangements to facilitate the charity collection/event.</p>
<p>If a collection is conducted in a non-public area of one of our buildings, for example if a member of staff wants to hold a local fundraising activity like a cake sale in their area/floor/breakout area, this is viewed as a local team activity. This needs permission of the senior manager in charge of that team but does not fall under this guidance.</p>
<h2>Our legal position</h2>
<p>As a statutory body, we have limited legal powers to provide financial or other assistance to other organisations, including charities, and must carry out our activities in accordance with the Greater London Authority Act 1999 (GLA Act) and other relevant legislation. In most cases, we will only be able to meet a request if doing so will help us to carry out our function of providing transport in London.</p>
<p>Whenever a request for assistance is received, we first determine whether, in principle, we have the legal powers to support it. In cases where we do have the necessary powers, we will then decide whether we want to support the request, taking into account the priorities set out in this guidance. However, anything that we decide to support must be at no cost to TfL or the fare and tax payers who fund us.</p>
<h2>How we make our decision</h2>
<p>We will only offer support to charities that are registered with the Charity Commission in the UK.</p>
<p>Priority is given to requests that:</p>
<ul>
    <li>Support our customers and users, especially those who have particular challenges when using our services, and where we have shared transport objectives</li>
    <li>Help us improve staff motivation and retention</li>
</ul>
<p>When considering requests, we also take into account:</p>
<ul>
    <li>Whether financial or other assistance would lead to additional customer benefits</li>
    <li>Any cost to TfL, the extent to which staff will be diverted from normal duties and any impact on the business, for instance on available resources</li>
    <li>The extent to which costs can be covered by third party sponsorship</li>
    <li>Special circumstances that make it an event of national or international significance</li>
</ul>
<p>We will not meet requests that affect our ability to deliver value for money for our customers or fund major improvements to our transport network, for example those that would have a detrimental impact on fare or advertising revenue.</p>
<p>We will not provide charitable assistance in circumstances where it would have a detrimental impact on our work or reputation. This includes any organisation that has a financial, planning, legal or other conflict with TfL.</p>
<p>We will also not provide assistance that could have a negative impact on our high standards of operational performance and customer service.</p>
<p>We reserve the right to decline a request from any registered charity for a particular campaign or project that we consider inappropriate.</p>
<p>All charitable assistance is entirely at our discretion.</p>
<h2>How to make a request</h2>
<p>Email requests to: <a href="mailto:charities&#64;tfl.gov.uk">charities&#64;tfl.gov.uk</a></p>
<p>Please include in your request:</p>
<ul>
    <li>An outline of the project's objectives and timings</li>
    <li>How we would be involved and what would be required of us</li>
    <li>How our customers would benefit</li>
    <li>The extent to which the request is cost-neutral for TfL, such as the involvement of other sponsors</li>
    <li>Your registered charity number</li>
    <li>A named contact for the request</li>
</ul>
<p>All requests will need to go through this process with the required information provided.</p>
<p>We will contact applicants within 10 working days and will provide reasons for our decision. In every case our decision is final.</p>
      
           
      
      
        
          
            @this.ScriptBlock(
              @<script>
                queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
              </script>
            )
          
        
      
    </div>
  </div>
  <div class="aside" role="complementary">

   
    
    
    
      <div data-set="sidenav-container" class="large">
        
        
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
                <a href="/corporate/about-tfl/corporate-and-social-responsibility" class="heading">
                    <h2 id="sub-menu-heading">Corporate social responsibility<span class="visually-hidden"> navigation</span></h2>
                </a>
                <ul>
                    
                                <li class="selected parent"><div class="link-wrapper"><a href="/corporate/about-tfl/corporate-and-social-responsibility/charities">Charities</a></div>
                                <ul>
                                    
                                        <li class="selected"><div class="link-wrapper"><a href="/corporate/about-tfl/corporate-and-social-responsibility/charity-request-guidance">Charity request guidance</a></div>
                                    </li>
 
                                </ul>
                            </li>
 
                                <li><div class="link-wrapper"><a href="/corporate/about-tfl/corporate-and-social-responsibility/equality-and-inclusion">Equality and inclusion</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/corporate/about-tfl/corporate-and-social-responsibility/transport-and-health">Transport and health</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/corporate/about-tfl/corporate-and-social-responsibility/reducing-noise-and-vibration">Reducing noise and vibration</a></div></li>
                            
 
                </ul>
            
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
      </div>
    
    <div>
























<div class="advert-tile unsponsored-style google-ads" aria-hidden="true">
  <div class="advert-link">
    <div class="advert-content">
        <div class="medium-large" data-advert="/76889402/non-targeted" data-advert-sizes="300, 250"></div>
        <div class="small" data-advert="/76889402/non-targeted" data-advert-sizes="300, 250"></div>
    </div>
  </div>
</div>
@{
    ViewBag.AmazonSlot = "'amznslots'";
    ViewBag.AmazonAds = "'3199'"; // to add another value, this needs to be ViewBag.AmazonAds = "'3199','xx'";
}
      

 </div>
    
      <div class="module-grid clearfix">
                    
        <div class="related-links">

    <h3>Also on this site</h3>

<div class="vertical-button-container">

<a href="https://tfl.gov.uk/info-for/media/press-releases/2019/october/new-london-overground-ticket-machines-make-it-easier-to-support-railway-children-charity" class="plain-button">Overground machines and Railway Children</a>
    </div>
</div>
 
      </div>
    
    <div data-set="sidenav-container" class="small-medium"></div>
  </div>
</div>
 
 
        
        
        
            @{ViewBag.Description = "Our guidance outlines the principles we apply when deciding whether or not we can support a specific charity request. ";}
        
            
        


 