
    
  



@{ViewBag.Title = "Reducing noise and vibration";}
@{ViewBag.Keywords = "TfL";}
@{ViewBag.Url = "/corporate/about-tfl/corporate-and-social-responsibility/reducing-noise-and-vibration";}
@{ViewBag.Language = "en";}
        <!-- empty placeholder -->
 
        
        
<div class="r">
    <div class="breadcrumb-container" role="navigation">
        <span id="breadcrumb-label" class="visually-hidden">You are here:</span>
        <ol class="breadcrumbs clearfix" aria-labelledby="breadcrumb-label">
            <li class="home">
                <a href="/">
                    <span class="hide-text">Home</span>
                </a>
            </li>
            
                 <li><a href="/corporate/about-tfl/index">About TfL</a></li>
                
            
                 <li><a href="/corporate/about-tfl/corporate-and-social-responsibility">Corporate social responsibility</a></li>
                
            
            
                <li><span class="last-breadcrumb">Reducing noise and vibration</span></li>
            
        
 
        
 
        
 
        </ol>
    </div>
</div>
     
 
<div class="r">
  <div class="headline-container plain">
    <h1>Reducing noise and vibration</h1>

  </div>
</div>
<div class="main-and-aside r">
  
  <div class="main content-container" role="main">
    
      <div class="article-teaser">
        We work to minimise noise and vibration levels for our neighbours while still running safe and reliable public transport services.
        
      </div>
    
    <div class="on-this-page">
      <p>Both the <a href="/corporate/about-tfl/the-mayors-transport-strategy">Mayor's Transport Strategy</a> and <a href="https://www.london.gov.uk/what-we-do/environment/london-environment-strategy">London Environment Strategy</a> have objectives for reducing transport-related noise.</p>

<h2>Tube/rail track</h2>

<p>Our maintenance programme, including track improvements and continual rail grinding to remove defects on the rail surface, helps to reduce noise and vibration. We spend approximately &pound;150m each year on track improvements - this includes a dedicated annual budget of &pound;1m to develop rail noise technology.</p>

<p>Noise coming from our tracks can be from normal wear and tear, track faults or misaligned joints. We regularly inspect our track to ensure it is safe and reliable.</p>

<p>New building work across the city can change the way that ground-borne noise and vibration is heard within properties. The vibration caused when metal train wheels roll over metal tracks is carried through the tunnel&nbsp;and the ground around it to nearby buildings. The walls and floors of these buildings can amplify the noise.</p>

<p>We monitor reported noise levels across the Tube network. To reduce it we:</p>

<ul>
	<li>Grind rails to remove corrugation - ridges or grooves on the rail surface can increase noise</li>
	<li>Replace worn rails</li>
	<li>Fix or remove broken or unnecessary rail joints used to connect two pieces of rail</li>
	<li>Use track lubrication systems to reduce wheel squeal noise</li>
	<li>Use resilient track fixings - a system that reduces ground-borne vibration from the track</li>
</ul>

<p>We are also:</p>

<ul>
	<li><a href="/campaign/tube-improvements/what-we-are-doing/improving-the-trains">Introducing modern new trains</a></li>
	<li>Limiting station announcements and using modern PA systems that minimise the volume by taking account of the background level</li>
	<li>Installing innovative under-rail pads in the noisiest sections of the network - this helps&nbsp;reduce noise inside train carriages</li>
	<li>Working with suppliers and academics to innovate and develop new technology to reduce noise and vibration levels across the network.</li>
</ul>

<p>There are no legal limits on the amount of noise or vibration from trains operating on existing railways, but we are committed to minimising&nbsp;disturbance and will treat each complaint individually.</p>

<p>TfL Rail and most London Overground services run on tracks managed by <a href="https://www.networkrail.co.uk/">Network Rail</a>.</p>

<h3>Report Tube noise</h3>

<p>Help us identify the areas most affected by noise&nbsp;or vibration issues:</p>

<p><strong>Phone:</strong> 0343 222 1234 (<a href="/corporate/terms-and-conditions/tfl-call-charges">TfL call charges</a>)<br />
<strong>Online:</strong> Select a 'Noise and vibration' enquiry on the <a href="/help-and-contact/contact-us-about-tube-and-rail">Contact us form</a></p>

<h4>What happens next</h4>

<p>If you report noise at your property, an engineer will contact you to about taking measurements. The noise level will be monitored over a period of time, usually no longer than an hour. The monitoring results tell us the level, character and source of the disturbing noise.</p>

<p>In areas where there are a cluster of complaints, we can identify the source by monitoring in just one or two properties. Based on the source of the noise, we'll decide&nbsp;if any practical steps we take&nbsp;can reduce it.</p>

<h2>Road noise</h2>

<p>We operate and maintain a network of major roads - the <a href="https://tfl.gov.uk/modes/driving/red-routes">red routes</a> - in London. (Other roads are the responsibility of the Highways Agency, and the London boroughs.)</p>

<p>We try to reduce noise by:</p>

<ul>
	<li>Implementing measures to smooth traffic flows and <a href="/corporate/safety-and-security/road-safety/bus-safety">reduce accelerating and braking by buses</a></li>
	<li><a href="/modes/buses/improving-buses">Introducing quieter buses</a></li>
	<li>Using quieter road surfaces, for example porous road surfaces that absorb more noise</li>
	<li>Restricting the movement of heavy goods vehicles at night and at weekends</li>
	<li>Encouraging different delivery patterns to reduce noise</li>
	<li>Training our staff to be aware of noise - stickers on vehicle doors help remind them</li>
	<li>Encouraging a switch to <a href="https://tfl.gov.uk/modes/driving/electric-vehicles-and-rapid-charging">low or zero emission vehicles such as electric cars</a></li>
	<li><a href="/corporate/about-tfl/how-we-work/planning-for-the-future/encouraging-cycling-and-walking">Encouraging people to cycle and walk</a> - we're working with the boroughs to improve, and build new, facilities</li>
</ul>

<p>Some sources of noise such as banging manhole covers are not our responsibility - report them instead to the appropriate utility provider.</p>

<h2>Depots,&nbsp;garages and other sites</h2>

<p>We take care when designing facilities used in our network to ensure that noise is controlled. This includes rail depots, bus garages, sub-stations, ventilation systems,&nbsp;lifts and escalators&nbsp;and public address systems.</p>

<ul>
	<li>There are restrictions on train whistle testing in some depots</li>
	<li>Vehicle horns must not be sounded at the entrance gates at London Underground depots</li>
	<li>The timing of rubbish collections at office locations is strictly controlled</li>
	<li>Some stations have a restriction on PA announcements after a certain time</li>
	<li>Fire alarm testing is scheduled for the middle of the day at some Tube stations to avoid disturbing residents&nbsp;&nbsp;</li>
</ul>

<p>If a local authority thinks noise generated by our operations represent a statutory nuisance, it can serve a notice that requires us to reduce the noise.</p>

<h2>Construction sites</h2>

<p>We may need to do construction and maintenance work at night when there is less traffic and trains aren't running. This helps to keep our workers safe.</p>

<p>When we, or our contractors, need to work at night or on weekends, we typically agree with the local authority on the hours and best practices for controlling noise and vibration. The local authority can take action against us if we don't comply.</p>

<p>We try to minimise noise by:</p>

<ul>
	<li>Using best practice that may include quiet equipment or methods of work, switching the plant off when it's not in use or using noise barriers</li>
	<li>Training staff to avoiding shouting and slamming vehicle doors, and adopting quiet ways of working where they can</li>
	<li>Advising residents before any potentially noisy night works</li>
</ul>

<p>Utility companies are responsible for co-ordinating and controlling noise or vibration from any of their works on our roads.</p>

<h2>Managing noise in the future</h2>

<p>When new roads or railways are proposed, noise and vibration will be considered as part of the planning process. Controls on noise and vibration will be incorporated into the design.</p>

<p>New sections of road or above ground railway must also be assessed to see if residents living close by qualify for noise insulation under the Noise Insulation Regulations 1975, or the Noise Insulation (Railways and Other Guided Transport Systems) Regulations 1996.</p>
      
           
      
      
        
          
            @this.ScriptBlock(
              @<script>
                queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
              </script>
            )
          
        
      
    </div>
  </div>
  <div class="aside" role="complementary">

   
    
    
    
      <div data-set="sidenav-container" class="large">
        
        
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
                <a href="/corporate/about-tfl/corporate-and-social-responsibility" class="heading">
                    <h2 id="sub-menu-heading">Corporate social responsibility<span class="visually-hidden"> navigation</span></h2>
                </a>
                <ul>
                    
                                <li class="parent"><div class="link-wrapper"><a href="/corporate/about-tfl/corporate-and-social-responsibility/charities">Charities</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/corporate/about-tfl/corporate-and-social-responsibility/equality-and-inclusion">Equality and inclusion</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/corporate/about-tfl/corporate-and-social-responsibility/transport-and-health">Transport and health</a></div></li>
                            
 
                                <li class="selected"><div class="link-wrapper"><a href="/corporate/about-tfl/corporate-and-social-responsibility/reducing-noise-and-vibration">Reducing noise and vibration</a></div>
                            </li>
 
                </ul>
            
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
      </div>
    
    <div>




















<div class="advert-tile unsponsored-style google-ads" aria-hidden="true">
  <div class="advert-link">
    <div class="advert-content">
        <div class="medium-large" data-advert="/76889402/non-targeted" data-advert-sizes="300, 250"></div>
        <div class="small" data-advert="/76889402/non-targeted" data-advert-sizes="300, 250"></div>
    </div>
  </div>
</div>
@{
    ViewBag.AmazonSlot = "'amznslots'";
    ViewBag.AmazonAds = "'3199'"; // to add another value, this needs to be ViewBag.AmazonAds = "'3199','xx'";
}
      

 </div>
    
    <div data-set="sidenav-container" class="small-medium"></div>
  </div>
</div>
 
 
        
        
        
            @{ViewBag.Description = "We try the balance the comfort of people living along our rail lines with the need to run reliable services";}
        
            
        


 