
    
  



@{ViewBag.Title = "First-generation Oyster cards";}
@{ViewBag.Keywords = "TfL,Old oyster card, new oyster card, first generation oyster card, replace oyster card";}
@{ViewBag.Url = "/fares/how-to-pay-and-where-to-buy-tickets-and-oyster/tfl-oyster-and-contactless-app/first-generation-oyster-cards";}
@{ViewBag.Language = "en";}
        <!-- empty placeholder -->
 
        
        
<div class="r">
    <div class="breadcrumb-container" role="navigation">
        <span id="breadcrumb-label" class="visually-hidden">You are here:</span>
        <ol class="breadcrumbs clearfix" aria-labelledby="breadcrumb-label">
            <li class="home">
                <a href="/">
                    <span class="hide-text">Home</span>
                </a>
            </li>
            
                 <li><a href="/fares/index">Fares</a></li>
                
            
                 <li><a href="/fares/how-to-pay-and-where-to-buy-tickets-and-oyster">How to pay and where to buy tickets and Oyster</a></li>
                
            
                 <li><a href="/fares/how-to-pay-and-where-to-buy-tickets-and-oyster/tfl-oyster-and-contactless-app">TfL Oyster and contactless app</a></li>
                
            
            
                <li><span class="last-breadcrumb">First-generation Oyster cards</span></li>
            
        
 
        
 
        
 
        
 
        </ol>
    </div>
</div>
     
 
<div class="r">
  <div class="headline-container plain">
    <h1>First-generation Oyster cards</h1>

  </div>
</div>
<div class="main-and-aside r">
  
  <div class="main content-container" role="main">
    
      <div class="article-teaser">
        If you travel using a first-generation Oyster card, replace it with a new one to use our TfL Oyster and contactless app and manage your card on the go.
        
      </div>
    
    <div class="on-this-page">
      <h2>Check your card</h2>

<p>Look on the back of your Oyster card. If it doesn't have a 'D' in the bottom left hand corner, it's a first-generation Oyster card.</p>
      
           
      <div class="clearfix">
    <div class="image-box">
    
        
        
        <img src="/cdn/static/cms/images/first-generation-oyster-cards.jpg" alt="Two first generation Oyster cards showing one with a D in the left corner and one without." />
        
        
        
    </div>   
 </div>
 <div>

<p>If you have a <a href="/fares/contactless-and-oyster-account">contactless and Oyster account</a> and you've added your Oyster card to it, you'll see a message confirming you have a first-generation Oyster card when you sign in.</p>

<h2>Get a new Oyster card</h2>

<p>You can get a new Oyster card online and at many locations across London.</p>

<p>You need to pay &pound;5 and add a minimum amount of pay as you go credit, or a season ticket to your new card to use it straight away.</p>
</div>
 

<div class="table-container"><table>
    <thead>
        <tr>
            <th rowspan="1" colspan="1"><strong>Where to get an Oyster card</strong></th>
            <th rowspan="1" colspan="1"><strong>Minimum pay as you go credit</strong> </th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>Online </td>
            <td>&pound;5</td>
        </tr>
        <tr>
            <td><a href="/travel-information/visiting-london/getting-around-london/visitor-centres">Visitor Centres</a></td>
            <td>&pound;5</td>
        </tr>
        <tr>
            <td><a href="https://tfl.gov.uk/maps/oyster-ticket-stops">Oyster Ticket Stops</a></td>
            <td>&pound;1.50</td>
        </tr>
        <tr>
            <td>All Tube, London Overground and TfL Rail stations</td>
            <td>&pound;5</td>
        </tr>
        <tr>
            <td>Some DLR and National Rail stations</td>
            <td>&pound;5</td>
        </tr>
        <tr>
            <td>The Tramlink Shop, Croydon</td>
            <td>&pound;1.50</td>
        </tr>
    </tbody>
</table></div>
<p>Once you've got your new Oyster card, you can use our <a href="/fares/how-to-pay-and-where-to-buy-tickets-and-oyster/tfl-oyster-and-contactless-app">TfL Oyster and contactless app</a>.</p>

 <div>

<h2>What to do with your first-generation Oyster card</h2>

<h3>Transfer credit and/or season tickets</h3>

<p>You can transfer any pay as you go credit and/or season tickets from your first-generation Oyster card to your new Oyster card, on your <a href="https://contactless.tfl.gov.uk/">contactless and Oyster account</a>.</p>

<p>It will take 30 minutes to transfer once you've touched in or out of your first journey with your new Oyster card.</p>

<p>Your first-generation Oyster card will then be stopped so no one can use it.</p>

<p>If you paid a deposit for your first-generation Oyster card, it will be refunded to your contactless and Oyster account.</p>

<p>If you set up Auto top-up on your first-generation Oyster card, it will be set up automatically on your new card.</p>

<h3>Get a refund for your&nbsp;first-generation Oyster&nbsp;card</h3>

<p>You can get a refund for your pay as you go credit and any deposit at Tube, London Overground and TfL Rail ticket machines or offices.</p>

<p>You can get a refund for your pay as you go credit, Travelcard, Bus &amp; Tram Pass and any&nbsp;deposit on your&nbsp;<a href="https://contactless.tfl.gov.uk/">contactless and Oyster account</a>.</p>

<p>You'll receive your credit refund in two days. Travelcard refunds are calculated on a pro-rata basis so you can keep using your Travelcard, on your first-generation Oyster card, until it expires and then swap to your new card.</p>

<p>Once you've received your refund, your first-generation Oyster card will be stopped so no one can use it.</p>

<h3>Discounted season tickets</h3>

<p>If you have a <a href="/fares/free-and-discounted-travel">discounted season ticket</a> on your first-generation Oyster card, it can't be transferred to a new Oyster card.</p>

<p>You can either wait until your current ticket expires and then get a new Oyster card. Or you can get a refund before getting your new card by contacting&nbsp;us on <a href="tel:0343 222 1234">0343 222 1234</a> (<a href="/corporate/terms-and-conditions/tfl-call-charges">call charges may apply</a>).</p>
</div>
 
      
        
          
            @this.ScriptBlock(
              @<script>
                queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
              </script>
            )
          
        
      
    </div>
  </div>
  <div class="aside" role="complementary">

   
    
    
    
      <div data-set="sidenav-container" class="large">
        
        
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
 
 
 
                <a href="/fares/how-to-pay-and-where-to-buy-tickets-and-oyster" class="heading">
                    <h2 id="sub-menu-heading">How to pay and where to buy tickets and Oyster<span class="visually-hidden"> navigation</span></h2>
                </a>
                <ul>
                    
                                <li><div class="link-wrapper"><a href="/fares/how-to-pay-and-where-to-buy-tickets-and-oyster/whats-the-best-ticket-for-me">What's the best ticket for me?</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/fares/how-to-pay-and-where-to-buy-tickets-and-oyster/buying-tickets-and-oyster">Buying tickets and Oyster</a></div></li>
                            
 
                                <li class="selected parent"><div class="link-wrapper"><a href="/fares/how-to-pay-and-where-to-buy-tickets-and-oyster/tfl-oyster-and-contactless-app">TfL Oyster and contactless app</a></div>
                                <ul>
                                    
                                        <li class="selected"><div class="link-wrapper"><a href="/fares/how-to-pay-and-where-to-buy-tickets-and-oyster/tfl-oyster-and-contactless-app/first-generation-oyster-cards">First-generation Oyster cards</a></div>
                                    </li>
 
                                </ul>
                            </li>
 
                                <li class="parent"><div class="link-wrapper"><a href="/fares/how-to-pay-and-where-to-buy-tickets-and-oyster/pay-as-you-go">Pay as you go</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/fares/how-to-pay-and-where-to-buy-tickets-and-oyster/travelcards-and-group-tickets">Travelcards and group tickets</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/fares/how-to-pay-and-where-to-buy-tickets-and-oyster/single-and-return-tickets">Single and return tickets</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/fares/how-to-pay-and-where-to-buy-tickets-and-oyster/bus-and-tram-pass">Bus & Tram Pass</a></div></li>
                            
 
                </ul>
            
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
      </div>
    
    <div>
























<div class="advert-tile unsponsored-style google-ads" aria-hidden="true">
  <div class="advert-link">
    <div class="advert-content">
        <div class="medium-large" data-advert="/76889402/fares_payments" data-advert-sizes="300, 250"></div>
        <div class="small" data-advert="/76889402/fares_payments" data-advert-sizes="300, 250"></div>
    </div>
  </div>
</div>
@{
    ViewBag.AmazonSlot = "'amznslots'";
    ViewBag.AmazonAds = "'3199'"; // to add another value, this needs to be ViewBag.AmazonAds = "'3199','xx'";
}
      

 </div>
    
    <div data-set="sidenav-container" class="small-medium"></div>
  </div>
</div>
 
 
        
        
        
            @{ViewBag.Description = "Information on how to replace first-generation Oyster cards";}
        
            
        


 