
    


























@section adverts {
    <div class="top-banner-advert" aria-hidden="true">
        <div class="large" data-advert="/76889402/driving/cc" data-advert-sizes="970, 90|970, 250"></div>
        <div class="medium" data-advert="/76889402/driving/cc" data-advert-sizes="728, 90"></div>
        <div class="small" data-advert="/76889402/driving/cc" data-advert-sizes="300, 50|320, 50"></div>
    </div>
}


 
  



@{ViewBag.Title = "Amendments, refunds and reimbursements";}
@{ViewBag.Keywords = "Businesses,Drivers,Public,Driving,TfL";}
@{ViewBag.Url = "/modes/driving/congestion-charge/paying-the-congestion-charge/refunds-and-reimbursements";}
@{ViewBag.Language = "en";}
        <!-- empty placeholder -->
 
        
        
<div class="r">
    <div class="breadcrumb-container" role="navigation">
        <span id="breadcrumb-label" class="visually-hidden">You are here:</span>
        <ol class="breadcrumbs clearfix" aria-labelledby="breadcrumb-label">
            <li class="home">
                <a href="/">
                    <span class="hide-text">Home</span>
                </a>
            </li>
            
                 <li><a href="/modes/driving/index">Driving</a></li>
                
            
                 <li><a href="/modes/driving/congestion-charge">Congestion Charge</a></li>
                
            
                 <li><a href="/modes/driving/congestion-charge/paying-the-congestion-charge">Congestion Charge payments</a></li>
                
            
                
                <li><span class="last-breadcrumb">Amendments, refunds and reimbursements</span></li>
            
        
 
        
 
        
 
        
 
        </ol>
    </div>
</div>
     
 
<div class="r">
  <div class="headline-container plain">
    <h1>Amendments, refunds and reimbursements</h1>

  </div>
</div>
<div class="main-and-aside r">
  
<div class="login-aside">
                @{
                    Html.RenderAction(
                        "UserLoginBox", 
                        "Account", 
                        new { 
                            Area = "Ruc", 
                            returnUrl = "/modes/driving/account-account-landing-29377"
                        }
                    );
                }
            </div>
      

 
  <div class="main content-container" role="main">
    
      <div class="article-teaser">
        <p>If your plans change you can request certain amendments to a charge, or a refund for the days you are not going to use.</p>
        
      </div>
    
    <div class="on-this-page">
      <h2>Charge amendments</h2>

<p>You can ask to change the start date of a charge, the vehicle, or both the start date and vehicle.</p>

<ul>
	<li>Amendments cannot be made for any dates in the past</li>
	<li>You can only change the start date of a charge if it starts today or on a future date</li>
</ul>

<p>You will need the:</p>

<ul>
	<li>Number plate (Vehicle Registration Mark)</li>
	<li>Receipt number and the charge start date of the charge you want to apply to amend</li>
</ul>

<p>There is a &pound;2.50 charge for all amendments.</p>
      
           
      
<div class="module-grid clearfix">
<div>

<div class="call-to-action-button">
       <a href="/modes/driving/amend-or-refund-a-driving-charge" class="secondary-button no-hover" >Apply to amend a charge</a>

    </div>
</div> 
 
</div>
 <div>

<h2>Refunds</h2>

<p>You can request a refund on monthly or annual charges either for the full amount or for any unused days in the future. You can only request a refund on a weekly charge on or before the charge start date.</p>

<p>We don't refund daily charges or charges for dates in the past.</p>

<p>To request a refund you will need the:</p>

<ul>
	<li>Number plate (Vehicle Registration Mark)</li>
	<li>Receipt number and charge start date for the charge you want refunded</li>
</ul>

<p>There is a &pound;10 administration charge to process a refund whatever the amount.</p>

<p>Rather than request a low value refund, it may be better to amend the charge to another vehicle or date. We don't offer refunds on future daily charges but it is possible to amend them.</p>
</div>
 
<div class="module-grid clearfix">
<div>

<div class="call-to-action-button">
       <a href="/modes/driving/amend-or-refund-a-driving-charge" class="secondary-button no-hover" >Apply for a refund</a>

    </div>
</div> 
 
</div>
 
<div>



<h2>NHS reimbursements</h2>


<h3>NHS patients</h3>

<p>If you are clinically assessed as too ill to travel to an appointment on public transport, you may be eligible to claim back&nbsp;any Congestion Charges and/or Ultra Low Emission Zone (ULEZ) charges&nbsp;from your treating hospital. Your hospital will tell you if you are eligible.</p>
<div class="multi-document-download-container">
    
</div>
<h3>NHS staff</h3>

<p>You can get a Congestion Charge refund from your NHS organisation if you use your vehicle for official business and claim travel expenses. Your NHS organisation must be registered with us. (There are no staff refunds for ULEZ charges.)</p>

<p>To get a refund you must:</p>

<p>1. Be using your vehicle to carry:</p>

<ul>
	<li>Bulky, heavy or fragile equipment/supplies</li>
	<li>Patients' notes or other confidential material</li>
	<li>Controlled drugs</li>
	<li>Clinical waste, contaminated sharps, radioactive materials or non-medicinal poisons</li>
	<li>Prescription-only medicines, waste medicinal products</li>
	<li>Clinical specimens, body fluids, tissues or organs</li>
</ul>

<p>or</p>

<p>2. Be responding to an emergency when on call. This includes locums and agency staff.</p>

<p>You'll have to pay the full &pound;11.50 Congestion Charge for your journey and reclaim the money from your NHS organisation. We'll reimburse the NHS organisation.</p>

<p>If you paid your charge using Auto Pay the &pound;10.50 daily charge will be credited to your account after you have submitted your claim to the NHS organisation.</p>

<p>You can't:</p>

<ul>
	<li>Apply directly to us</li>
	<li>Claim for commuting to and from work</li>
	<li>Claim for Penalty Charge Notices</li>
</ul>

<h3>Fire fighters</h3>

<p>You can get a refund for the Congestion Charge from&nbsp;your employer if you're a fire fighter employed by the London Fire and Emergency Planning Authority (LFEPA) and use your vehicle to travel on official business. There are no staff refunds for ULEZ charges.</p>

<p>You'll have to pay the full &pound;11.50 charge for your journey and then reclaim the money from&nbsp;your employer. We'll reimburse LFEPA.</p>

<p>If you paid your charge using Auto Pay the &pound;10.50 daily charge will be credited to your account after you have submitted your claim.</p>

<p>You can't:</p>

<ul>
	<li>Apply directly to us</li>
	<li>Claim for commuting to and from work</li>
	<li>Claim for Penalty Charge Notices</li>
</ul>
</div>
 
      
        
          
            @this.ScriptBlock(
              @<script>
                queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
              </script>
            )
          
        
      
    </div>
  </div>
  <div class="aside" role="complementary">

    
    
    
      <div data-set="sidenav-container" class="large">
        
        
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
                <a href="/modes/driving/congestion-charge" class="heading">
                    <h3 id="sub-menu-heading" class="h2">Congestion Charge<span class="visually-hidden"> navigation</span></h3>
                </a>
                <ul>
                    
                                <li class="parent" aria-label="page with sub pages"><div class="link-wrapper"><a href="/modes/driving/congestion-charge/congestion-charge-zone">Congestion Charge zone</a></div></li>
                            
 
                                <li class="selected parent" aria-label="selected page with sub pages"><div class="link-wrapper"><a href="/modes/driving/congestion-charge/paying-the-congestion-charge">Congestion Charge payments</a></div>
                                <ul>
                                    
                                        <li class="selected" aria-label="selected page with no sub pages"><div class="link-wrapper"><a href="/modes/driving/congestion-charge/paying-the-congestion-charge/refunds-and-reimbursements">Amendments, refunds and reimbursements</a></div>
                                    </li>
 
                                </ul>
                            </li>
 
                                <li aria-label="page with no sub pages"><div class="link-wrapper"><a href="/modes/driving/congestion-charge/discounts-and-exemptions">Discounts and exemptions</a></div></li>
                            
 
                                <li aria-label="page with no sub pages"><div class="link-wrapper"><a href="/modes/driving/congestion-charge/dart-charge">Dart Charge</a></div></li>
                            
 
                                <li class="parent" aria-label="page with sub pages"><div class="link-wrapper"><a href="/modes/driving/congestion-charge/penalties-and-enforcement">Penalties and enforcement</a></div></li>
                            
 
                                <li class="parent" aria-label="page with sub pages"><div class="link-wrapper"><a href="/modes/driving/congestion-charge/contact-congestion-charge">Contact Congestion Charge</a></div></li>
                            
 
                                <li class="parent" aria-label="page with sub pages"><div class="link-wrapper"></div></li>
                            
 
                </ul>
            
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
      </div>
    
    <div>
























<div class="advert-tile unsponsored-style google-ads" aria-hidden="true">
  <div class="advert-link">
    <div class="advert-content">
        <div class="medium-large" data-advert="/76889402/driving/cc" data-advert-sizes="300, 250"></div>
        <div class="small" data-advert="/76889402/driving/cc" data-advert-sizes="300, 250"></div>
    </div>
  </div>
</div>
@{
    ViewBag.AmazonSlot = "'amznslots'";
    ViewBag.AmazonAds = "'3199'"; // to add another value, this needs to be ViewBag.AmazonAds = "'3199','xx'";
}
      

 </div>
    
    <div data-set="sidenav-container" class="small-medium"></div>
  </div>
</div>

     @section scripts {
<div class="bottom-advert ">
    <div class="close-ad-button visually-hidden"><span class="close-icon-circle"></span></div>
    <div data-advert="/76889402/driving/" data-advert-sizes="320, 50"></div>
</div>
}

 
        
        
        
            @{ViewBag.Description = "See if you're eligible for a refund or remibursement on your Congestion Charge payment";}
        
            
        


 