


@{ViewBag.Title = "Final phase of work on Hammersmith Flyover to begin in October 2013";}
        
        
<div class="r">
    <div class="breadcrumb-container" role="navigation">
        <span id="breadcrumb-label" class="visually-hidden">You are here:</span>
        <ol class="breadcrumbs clearfix" aria-labelledby="breadcrumb-label">
            <li class="home">
                <a href="/">
                    <span class="hide-text">Home</span>
                </a>
            </li>
            
                <li>
                    <a href="/info-for/media/index">Media</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases">Press releases</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases/2013">2013</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases/2013/september">September</a>
                </li>
                
                <li>
                    <span class="last-breadcrumb">Final phase of work on Hammersmith Flyover to begin in October 2013</span>
                </li>
            
 
            
 
            
 
            
 
            
 
        </ul>
    </div>
</div>
     
 
<div class="r">
    <div class="headline-container plain">
        <h1>Final phase of work on Hammersmith Flyover to begin in October 2013</h1>
        <div class="content-page-press-release">
        23 September 2013
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        Disruption kept to a minimum with majority of works carried out using overnight lane restrictions.
        
    </div>



<div class="pull-quote">
        <div class="quote-body">"Our overriding focus when planning these essential works has been to keep disruption to a minimum."</div>
        <div class="quote-footer">
            <div class="quotee-name">Dana Skelley</div>
            <div class="quotee-job-title">Director of Roads at TfL</div>
        </div>
</div>

 <div class="on-this-page">
<div class="pullquote right">
                        <p>
                            Our overriding focus when planning these essential works has been to keep disruption to a minimum. 
                            
                        </p>
                    </div>
                
            
            
            <ul>
<li>Works will ensure vital road structure can remain open to traffic for decades to come</li></ul>
<p>The final phase of maintenance work to the Hammersmith Flyover is planned to start next month, with the repairs carefully designed to keep road disruption to a minimum.<br>&nbsp;<br>Following on from the first phase of work successfully delivered in spring 2012, the final maintenance will extend the life of the structure for years to come, ensuring this vital road network can continue serving London for decades. <br>&nbsp;<br>During the works, the remaining 11 of the flyover's 16 spans will be strengthened in a similar fashion to the five spans that were strengthened last year. </p>
<p>The bearings carrying the structure will also be replaced, carriageway drainage will be renewed and the entire flyover waterproofed and resurfaced to reduce the need for further maintenance in the future.<br>&nbsp;<br>All activity that affects closure of the carriageway both over and under the flyover has been carefully programmed to take place at night, between 10.30pm-5.00am, in order to reduce disruption to road users. </p>
<p>During summer 2014, a limited number of weekend closures in one direction will be required in order for the flyover to be waterproofed and resurfaced. </p>
<p>Transport for London (TfL)&nbsp;will ensure that these works are widely advertised ahead of them starting in order to help people plan their journeys. <br>&nbsp;<br>Dana Skelley, Director of Roads at TfL, said: 'Our overriding focus when planning these essential works has been to keep disruption to a minimum. </p>
<p>'We are committed to completing them as quickly and efficiently as possible and will keep the local community and road users informed of progress as we work to deliver these vital improvements.'<br>&nbsp;<br>The work on the Hammersmith Flyover, and TfL's wider &pound;200m structures and tunnels plan, forms one of the six key strands of investment that will deliver vital road improvements and implement the recommendations of the Mayor's Roads Task Force. <br>&nbsp;<br>During the next ten years, TfL will be investing around &pound;4bn into the capital's road network. </p>
<p>Working with its partners, including London's boroughs and road user and street user groups, TfL will build on the improvements already seen in the management of London's roads, streets and public spaces to help ensure London remains one of the most attractive, vibrant, accessible and competitive cities in the world.&nbsp;<br>&nbsp;<br><a href="http://www.tfl.gov.uk/hammersmithflyover">More information about the works</a>&nbsp;</p>
<p>
<hr>

<p>
<h2>Notes to editors:</h2>
<ul>
<li>TfL's Road Network, the red routes in London, covers five per cent of the capital's roads, but carries more than 30 per cent of London's traffic </li>
<li>TfL's Structures and Tunnels Investment Portfolio (STIP) is currently made up of eight key structures, the majority of which are more than fifty years old and therefore in need of replacement or renovation work to ensure they remain fit for purpose for the 21st Century </li>
<li>TfL has been working with Ramboll and Parsons Brinckerhoff on the design work for these projects, with early contractor involvement contracts awarded to four contractors: Hochtief, BAM Nuttall, Costain and Skanska </li>
<li>The initial work to upgrade eight structures has been split into three work packages and will be delivered through the following partners in ECI<br>&nbsp;</li></ul>
<blockquote>
<div class="table-container"><table height="208" cellspacing="1" cellpadding="1" width="301" border="1">
<tbody>
<tr>
<td>Hammersmith Flyover</td>
<td>Costain</td></tr>
<tr>
<td>Chiswick Bridge</td>
<td>BAM Nuttall</td></tr>
<tr>
<td>A406 Woodlands retaining wall</td>
<td>BAM Nuttall</td></tr>
<tr>
<td>A406 Fore Street Tunnell</td>
<td>BAM Nuttall</td></tr>
<tr>
<td>A127 Ardleigh Green rail bridge</td>
<td>Hochtief</td></tr>
<tr>
<td>A1 Upper Holloway rail bridge</td>
<td>Hochtief</td></tr>
<tr>
<td>A1 Highbury Corner rail bridge</td>
<td>Hochtief</td></tr>
<tr>
<td>A406 Power Road rail bridge</td>
<td>Hochtief</td></tr></tbody></table></div>
<p>&nbsp;</p>
<li>Further work packages will be subject to tendering amongst all four contractors, allowing the best value to continue to be achieved </li>
<li>Using early contractor involvement on these major upgrades enables TfL to achieve best value for money, and help remove risks which are sometimes not considered early enough in traditional delivery models. This method ensures that works are completed efficiently, collaboratively and with minimum disruption to London's road users </li>
<li>An information centre showing details of the Hammersmith Flyover's structure, history and current works is organised at St Pauls Church, Queen Caroline Street, Hammersmith, London W6 9PJ on Friday 4 October from 10am until 8pm and Saturday 5 October 2013 from 10am until 4pm. Members of the project team from TfL and Costain will be available to answer any questions or query about the works </li>
<li>TfL has a Twitter feed, &#64;TfLTrafficNews which is operated directly from the London Streets Traffic Control Centre and provides real time traffic information to the capital's road users. Passengers can also check before travelling by visiting <a href="http://www.tfl.gov.uk/trafficnews">tfl.gov.uk/trafficnews</a> or following &#64;TfLBusAlerts on Twitter.<br></li></blockquote>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
                <a href="/info-for/media/index" class="heading">
                    <h2 id="sub-menu-heading">Media<span class="visually-hidden"> navigation</span></h2>
                </a>
                <ul>
                    
                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases">Press releases</a></div>
                                <ul>
                                    
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2020">2020</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019">2019</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018">2018</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017">2017</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016">2016</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015">2015</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014">2014</a></div></li>
                            
 
                                        <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2013">2013</a></div>
                                        <ul>
                                            
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2013/15890">December</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2013/november">November</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2013/october">October</a></div></li>
                                    
 
                                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2013/september">September</a></div>
                                                <ul>
                                                    
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
                                                </ul>
                                            
 
                                        <li><div class="link-wrapper"><a href="/info-for/media/press-releases/2013/august">August</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2013/july">July</a></div></li>
                                    
 
                                        <li><div class="link-wrapper"><a href="/info-for/media/press-releases/2013/june">June</a></div></li>
                                    
 
                                        <li><div class="link-wrapper"><a href="/info-for/media/press-releases/2013/16598">May</a></div></li>
                                    
 
                                        <li><div class="link-wrapper"><a href="/info-for/media/press-releases/2013/16698">April</a></div></li>
                                    
 
                                        <li><div class="link-wrapper"><a href="/info-for/media/press-releases/2013/march">March</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2013/16906">February</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2013/16962">January</a></div></li>
                                    
 
                                        </ul>
                                    </li>
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2012">2012</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2011">2011</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2010">2010</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2009">2009</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2008">2008</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2007">2007</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2006">2006</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2005">2005</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2004">2004</a></div></li>
                            
 
                                </ul>
                            </li>
 
                                <li><div class="link-wrapper"><a href="/info-for/media/photos">Photos</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/media/contact-the-press-office">Contact the Press Office</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/filming-and-photography">Filming & photography</a></div></li>
                            
 
                </ul>
            
 
 
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype: -Home-Media-Media-Press releases-2013-September-Final phase of work on Hammersmith Flyover to begin in October 2013 -->

 
 
        
        
            @{ViewBag.Description = "Works will ensure vital road structure can remain open to traffic for decades to comeThe final phase of maintenance work to the Hammersmith Flyover is planned to start next month, with the repairs carefully designed to keep road disruption to a";}
        
        


 