


@{ViewBag.Title = "'Opening the Doors' on Transport ";}
        
        
<div class="r">
    <div class="breadcrumb-container" role="navigation">
        <span id="breadcrumb-label" class="visually-hidden">You are here:</span>
        <ol class="breadcrumbs clearfix" aria-labelledby="breadcrumb-label">
            <li class="home">
                <a href="/">
                    <span class="hide-text">Home</span>
                </a>
            </li>
            
                <li>
                    <a href="/info-for/media/index">Media</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases">Press releases</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases/2013">2013</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases/2013/september">September</a>
                </li>
                
                <li>
                    <span class="last-breadcrumb">'Opening the Doors' on Transport </span>
                </li>
            
 
            
 
            
 
            
 
            
 
        </ul>
    </div>
</div>
     
 
<div class="r">
    <div class="headline-container plain">
        <h1>'Opening the Doors' on Transport </h1>
        <div class="content-page-press-release">
        10 September 2013
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        A number of transport locations across London take part in Open House and Open Doors.
        
    </div>



 <div class="on-this-page">
<ul>
<li>TfL sites from the Blackwall Tunnel to the Victoria Station project and heritage head office - 55 Broadway will take part</li></ul>
<p>Londoners will have the opportunity to see behind the doors of a number of transport sites and buildings across the Capital during two separate initiatives in September - Open House and Open Doors.&nbsp; </p>
<p>The Open House weekend on 21 and 22 September gives the public a unique opportunity to have a behind the scenes look at more than 800 iconic locations across the country which include the 116 year old Northbound Blackwall Tunnel, Grade 1 listed 55 Broadway Complex and London Underground's Stratford Market Depot.</p>
<p>The Open Doors weekend on 27 and 28 September gives school children, young adults, parents and anyone thinking of moving into the construction industry the chance to find out more about it by giving them access to major construction sites. </p>
<p>Both initiatives provide a unique chance to celebrate London's transport heritage while also looking forward to London's future as work goes on to upgrade and improve London's transport network.</p>
<h3>Blackwall Tunnel</h3>
<h3>&nbsp;</h3>
<p>Linking The Royal Borough of Greenwich and Tower Hamlets, the northbound Blackwall Tunnel opened in 1897. </p>
<p>Members of the public taking part in Open House will get the opportunity to find out how the Blackwall Tunnel is run and the daily challenges it faces. </p>
<p>They will also gain access to the tunnel via the shaft used by engineers. </p>
<p>Originally built for horse-drawn carts and carriages, the northbound tunnel now serves as one of the key east London river crossings, and is used by up to 50,000 cars and lorries each day. </p>
<p>The southbound tunnel opened in 1967 and also carries 50,000 vehicles per day. </p>
<h3>55 Broadway</h3>
<h3>&nbsp;</h3>
<p>From the Tube map to the iconic Routemaster bus, Transport for London has a history of bringing innovative design to the capital. </p>
<p>Commissioned in the 1920s and completed in 1929, no other building in the city was considered more radical than London Underground's headquarters - 55 Broadway. </p>
<p>Open House visitors will get the chance to see how The Underground Group wanted 55 Broadway to reflect its bold vision for the city's public transport. </p>
<p>Located above St. James's Park Tube station, the site was challenging because of its irregular shape and with the tracks just 7.3 metres underground. </p>
<p>The solution was a cross-shaped layout, allowing pedestrians to walk between Victoria Street and St. James's Park through the ground floor of the offices and the ticket hall. </p>
<p>When it opened, 55 Broadway was the highest secular building in the capital. Clad in Portland - the material is used to great effect in this 'skyscraper-style' building that masses up towards its central tower. </p>
<h3>Stratford Market Depot</h3>
<h3>&nbsp;</h3>
<p>Constructed for the Underground in the 1990s, Stratford Market Depot was designed to house and maintain the larger trains which run on the extended Jubilee line. </p>
<p>The building stands on a site of historical importance. Prior to the depot's construction, archaeological excavations uncovered evidence of the Cistercian monastic abbey of Stratford Langthorne (founded in 1135). </p>
<p>The abbey survived until the dissolution of the monasteries in 1538 and over the next few centuries, as West Ham and Stratford grew, the site was used for industrial and transport purposes. </p>
<p>During construction 674 graves were uncovered. The exhumed remains were carefully reburied at the modern Cistercian Abbey of Mount Saint Bernard in Leicestershire.</p>
<p>Open House visitors will see that the new depot, designed by architects Wilkinson Eyre, is striking and practical. A soaring 100-metre wide, 190-metre long roof has room for 11 maintenance bays. It is supported by a series of 'tree-like' columns and rises to a height of eight metres.</p>
<h3>Victoria Station </h3>
<h3>&nbsp;</h3>
<p>To enable Victoria Underground Station&nbsp;to cope with the ever increasing numbers of passengers it is being greatly extended and made step free with the South Ticket Hall being doubled in size and a new additional entrance and North Ticket Hall near Cardinal Place Shopping Mall. </p>
<p>Engineers will take people taking part in Open Doors around work sites to show them the careful planning needed for work required around listed theatres and roads and the enormous amount of jet grouting work required to stabilise the ground before tunnelling.&nbsp; </p>
<p>Mike Brown MVO, Managing Director of London Underground and London Rail, said: 'There is much work going on behind the scenes in London and whilst many people will commute through Victoria Station or drive through the Blackwall Tunnel regularly, they will not have seen some of the huge engineering feats that happen day in, day out to keep them operating throughout the year. </p>
<p>'There is a keen interest in transport in the Capital - we've seen this from the recent behind the scenes documentaries which have not only celebrated our 150 year heritage but the challenges we face in the future and how we are improving the transport network and it hasn't taken long for nearly all of the places for both of the weekend tours to be snapped up.'</p>
<p>There is limited availability for the Stratford Depot Market Open House weekend. Members of the public wanting to book should visit <a href="http://events.londonopenhouse.org/building/3916">http://events.londonopenhouse.org/building/3916</a> </p>
<p>Both the Blackwall Tunnel and 55 Broadway are fully booked. For other locations listed under Open House visit <a href="http://www.openhouselondon.org.uk">www.openhouselondon.org.uk</a>&nbsp; </p>
<p>While the Victoria Station project under Open Doors is fully booked other unique locations are still available to book at <a href="http://www.opendoorsweekend.co.uk">www.opendoorsweekend.co.uk</a> </p>
<p>TfL is supporting Open House by producing a series of walking maps to help people navigate around the capital. The Legible London maps can be downloaded from <a href="http://www.openhouselondon.org.uk">www.openhouselondon.org.uk</a>&nbsp; </p>
<p>
<hr>

<p>
<p><strong>Notes to editors:</strong></p>
<ul>
<li>The Victoria Station project under Open Doors is fully booked. </li>
<li>The Blackwall Tunnel and 55 Broadway are fully booked under Open House. </li>
<li>There is limited availability for the Stratford Depot Market Open House weekend, to book visit: <a href="http://www.openhouselondon.org.uk">www.openhouselondon.org.uk</a>&nbsp; </li>
<li>For other locations listed under Open Doors visit: <a href="http://www.opendoorsweekend.co.uk">www.opendoorsweekend.co.uk</a>&nbsp; </li>
<li>For other locations listed under Open House and the Legible London maps visit <a href="http://www.openhouselondon.org.uk">www.openhouselondon.org.uk</a><strong>&nbsp; </strong></li></ul>
<p>&nbsp;</p>

<p>&nbsp;</p>

<p>&nbsp;</p>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
                <a href="/info-for/media/index" class="heading">
                    <h2 id="sub-menu-heading">Media<span class="visually-hidden"> navigation</span></h2>
                </a>
                <ul>
                    
                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases">Press releases</a></div>
                                <ul>
                                    
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2020">2020</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019">2019</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018">2018</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017">2017</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016">2016</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015">2015</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014">2014</a></div></li>
                            
 
                                        <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2013">2013</a></div>
                                        <ul>
                                            
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2013/15890">December</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2013/november">November</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2013/october">October</a></div></li>
                                    
 
                                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2013/september">September</a></div>
                                                <ul>
                                                    
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
                                                </ul>
                                            
 
                                        <li><div class="link-wrapper"><a href="/info-for/media/press-releases/2013/august">August</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2013/july">July</a></div></li>
                                    
 
                                        <li><div class="link-wrapper"><a href="/info-for/media/press-releases/2013/june">June</a></div></li>
                                    
 
                                        <li><div class="link-wrapper"><a href="/info-for/media/press-releases/2013/16598">May</a></div></li>
                                    
 
                                        <li><div class="link-wrapper"><a href="/info-for/media/press-releases/2013/16698">April</a></div></li>
                                    
 
                                        <li><div class="link-wrapper"><a href="/info-for/media/press-releases/2013/march">March</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2013/16906">February</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2013/16962">January</a></div></li>
                                    
 
                                        </ul>
                                    </li>
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2012">2012</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2011">2011</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2010">2010</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2009">2009</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2008">2008</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2007">2007</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2006">2006</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2005">2005</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2004">2004</a></div></li>
                            
 
                                </ul>
                            </li>
 
                                <li><div class="link-wrapper"><a href="/info-for/media/photos">Photos</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/media/contact-the-press-office">Contact the Press Office</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/filming-and-photography">Filming & photography</a></div></li>
                            
 
                </ul>
            
 
 
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype: -Home-Media-Media-Press releases-2013-September-'Opening the Doors' on Transport  -->

 
 
        
        
            @{ViewBag.Description = "TfL sites from the Blackwall Tunnel to the Victoria Station project and heritage head office - 55 Broadway will take partLondoners will have the opportunity to see behind the doors of a number of transport sites and buildings across the Capital during two";}
        
        


 