


@{ViewBag.Title = "Plan your journey for Sunday 22 September ahead of the London finish of The Tour of Britain";}
        
        
<div class="r">
    <div class="breadcrumb-container" role="navigation">
        <span id="breadcrumb-label" class="visually-hidden">You are here:</span>
        <ol class="breadcrumbs clearfix" aria-labelledby="breadcrumb-label">
            <li class="home">
                <a href="/">
                    <span class="hide-text">Home</span>
                </a>
            </li>
            
                <li>
                    <a href="/info-for/media/index">Media</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases">Press releases</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases/2013">2013</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases/2013/september">September</a>
                </li>
                
                <li>
                    <span class="last-breadcrumb">Plan your journey for Sunday 22 September ahead of the London finish of The Tour of Britain</span>
                </li>
            
 
            
 
            
 
            
 
            
 
        </ul>
    </div>
</div>
     
 
<div class="r">
    <div class="headline-container plain">
        <h1>Plan your journey for Sunday 22 September ahead of the London finish of The Tour of Britain</h1>
        <div class="content-page-press-release">
        16 September 2013
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        UK's largest professional cycle race returns to London for the ninth time.
        
    </div>



<div class="pull-quote">
        <div class="quote-body">"'The Tour of Britain is a superb event, further showcasing London's reputation as a city for cycling."</div>
        <div class="quote-footer">
            <div class="quotee-name">Sir Peter Hendy CBE</div>
            <div class="quotee-job-title">London's Transport Commissioner</div>
        </div>
</div>

 <div class="on-this-page">
<div class="pullquote right">
                        <p>
                            'The Tour of Britain is a superb event, further showcasing London's reputation as a city for cycling.
                            
                        </p>
                    </div>
                
            
            
            <ul>
<li>Central London road closures will be in place on Sunday 22 September </li>
<li>Public are advised to plan ahead and use public transport to avoid road disruption and enjoy the weekend </li>
<li>Details of road and bridge closures are available at <a href="http://www.tfl.gov.uk/tourofbritain">tfl.gov.uk/tourofbritain</a><br></li></ul>
<p>The Tour of Britain, the UK's largest professional cycle race, will finish in London on Sunday 22 September. </p>
<p>The eight-day event will end in a dramatic dash along Whitehall and will be the culmination of an 88-km race on a circuit of closed roads in Westminster and the City of London. </p>
<p>The race will start and finish on Whitehall and take in Victoria Embankment, Upper Thames Street, Lower Thames Street and Tower Hill. </p>
<p>The day will consist of three events, the Westminster Grand Prix, IG Gentleman's Time Trial and the Transport for London (TfL) London Stage with 114 riders from 19 teams, including Sky Pro Cycling. <strong><p>
<h3>Plan ahead</h3></strong>
<strong>
<h3>&nbsp;</h3>
<p></strong>All races will take place on fully closed roads, so streets on and near The Tour of Britain route will be closed for most of the day on Sunday 22 September, and there will be additional parking restrictions in place. </p>
<p>Road closures will be in place across the majority of the route from 08:00 until 18:00 on 22 September, however Whitehall will be closed from 03:00 until 21:00. Both Southwark and Westminster bridges will be closed from 08:00 until 19:00. </p>
<p>Full details of the closed roads and bridges can be found at <a href="http://www.tfl.gov.uk/tourofbritain">tfl.gov.uk/tourofbritain</a> <br><br>Road users are urged to avoid driving near the route in Westminster and the City of London on 22 September and to use public transport where possible. </p>
<p>There will also be diversions to a number of bus routes, and the suspension of a small number of Barclays Cycle Hire docking stations. </p>
<p>Spectators and visitors should plan ahead and use public transport to get out and make the most of everything on offer in London over The Tour of Britain weekend.&nbsp; </p>
<p>If driving is the only option drivers are advised to allow more time for their journey. </p>
<p>All the road closures and alternative travel information is available at <a href="http://www.tfl.gov.uk/tourofbritain">tfl.gov.uk/tourofbritain</a><br>&nbsp;<br>London's Transport Commissioner, Sir Peter Hendy CBE said: 'The Tour of Britain is a superb event, further showcasing London's reputation as a city for cycling. Hundreds of thousands of people cycle in London everyday and The Tour of Britain will provide another fantastic opportunity to encourage even more people to start cycling after being inspired by some of the world's top professionals. </p>
<p>'The Tour of Britain will bring to a close a fantastic summer of cycling, which has seen the second successive British winner of the Tour de France, and the inaugural Prudential RideLondon which brought over 65,000 people out on their bikes. </p>
<p>'Londoners and visitors to our capital will have the opportunity to see top cycling professionals again over The Tour of Britain weekend, but understandably some roads will be closed so please plan your journey to avoid delays and make the most of the day.'</p>
<hr>
<strong>Notes to editors: 
<ul>
<li></li></ul></strong>Details of road and bridge closures and estimated re-opening times are available at <a href="http://www.tfl.gov.uk/tourofbritain">tfl.gov.uk/tourofbritain</a> 
<li>For the latest on how transport services are operating, you are advised to check before you travel at <a href="http://www.tfl.gov.uk/">tfl.gov.uk</a> and follow &#64;TfLTravelAlerts (Tube, DLR and London Overground), &#64;TfLTrafficNews (roads) and &#64;TfLBusAlerts (bus) </li>
<li>If you are planning to take a bike on public transport to any of the events, restrictions apply. Check <a href="http://www.tfl.gov.uk/cycling">tfl.gov.uk/cycling</a> for more information, and check bike restrictions in place with train operating companies for that weekend at <a href="http://www.nationalrail.co.uk/">http://www.nationalrail.co.uk/</a> </li>
<li>Visit <a href="http://www.thetour.co.uk/">http://www.thetour.co.uk/</a> for more information about the event in London and across the rest of the country.</li>
<p><strong>About Tour of Britain <br></strong>&nbsp;<br>The final stage of The Tour of Britain is sponsored by Transport for London and organised by SweetSpot Group<br>&nbsp;<br>Follow The Tour of Britain on Twitter &#64;TourofBritain or Facebook: facebook.com/ToBcycling<br>&nbsp;<br>&nbsp;<br>&nbsp;<br></p>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
                <a href="/info-for/media/index" class="heading">
                    <h2 id="sub-menu-heading">Media<span class="visually-hidden"> navigation</span></h2>
                </a>
                <ul>
                    
                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases">Press releases</a></div>
                                <ul>
                                    
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2020">2020</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019">2019</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018">2018</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017">2017</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016">2016</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015">2015</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014">2014</a></div></li>
                            
 
                                        <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2013">2013</a></div>
                                        <ul>
                                            
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2013/15890">December</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2013/november">November</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2013/october">October</a></div></li>
                                    
 
                                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2013/september">September</a></div>
                                                <ul>
                                                    
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
                                                </ul>
                                            
 
                                        <li><div class="link-wrapper"><a href="/info-for/media/press-releases/2013/august">August</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2013/july">July</a></div></li>
                                    
 
                                        <li><div class="link-wrapper"><a href="/info-for/media/press-releases/2013/june">June</a></div></li>
                                    
 
                                        <li><div class="link-wrapper"><a href="/info-for/media/press-releases/2013/16598">May</a></div></li>
                                    
 
                                        <li><div class="link-wrapper"><a href="/info-for/media/press-releases/2013/16698">April</a></div></li>
                                    
 
                                        <li><div class="link-wrapper"><a href="/info-for/media/press-releases/2013/march">March</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2013/16906">February</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2013/16962">January</a></div></li>
                                    
 
                                        </ul>
                                    </li>
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2012">2012</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2011">2011</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2010">2010</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2009">2009</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2008">2008</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2007">2007</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2006">2006</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2005">2005</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2004">2004</a></div></li>
                            
 
                                </ul>
                            </li>
 
                                <li><div class="link-wrapper"><a href="/info-for/media/photos">Photos</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/media/contact-the-press-office">Contact the Press Office</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/filming-and-photography">Filming & photography</a></div></li>
                            
 
                </ul>
            
 
 
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype: -Home-Media-Media-Press releases-2013-September-Plan your journey for Sunday 22 September ahead of the London finish of The Tour of Britain -->

 
 
        
        
            @{ViewBag.Description = "Central London road closures will be in place on Sunday 22 September Public are advised to plan ahead and use public transport to avoid road disruption and enjoy the weekend Details of road and bridge closures are available at tfl.gov.uk/tourofbritainThe";}
        
        


 