


@{ViewBag.Title = "Putney to Blackfriars River Bus service is a sail away success";}
        
        
<div class="r">
    <div class="breadcrumb-container" role="navigation">
        <span id="breadcrumb-label" class="visually-hidden">You are here:</span>
        <ol class="breadcrumbs clearfix" aria-labelledby="breadcrumb-label">
            <li class="home">
                <a href="/">
                    <span class="hide-text">Home</span>
                </a>
            </li>
            
                <li>
                    <a href="/info-for/media/index">Media</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases">Press releases</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases/2013">2013</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases/2013/september">September</a>
                </li>
                
                <li>
                    <span class="last-breadcrumb">Putney to Blackfriars River Bus service is a sail away success</span>
                </li>
            
 
            
 
            
 
            
 
            
 
        </ul>
    </div>
</div>
     
 
<div class="r">
    <div class="headline-container plain">
        <h1>Putney to Blackfriars River Bus service is a sail away success</h1>
        <div class="content-page-press-release">
        09 September 2013
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        Service extended to additional piers.
        
    </div>



 <div class="on-this-page">
<div class="pullquote right">
                        <p>
                            We have listened to passengers and have made these changes to both extend and improve this service. With more sailings and more destinations the River Bus is going from strength to strength
                            
                        </p>
                    </div>
                
            
            
            <blockquote>
<ul>
<li>More morning and evening services to meet increased passenger demand </li>
<li>Recent figures show a 130 per cent&nbsp;increase in passenger numbers</li></ul></blockquote>
<p>The Putney to Blackfriars River Bus service is to be extended to serve St George's Wharf in Vauxhall with selected services also serving London Bridge and Canary Wharf.</p>
<p>These changes are to be introduced from today following a significant increase in passenger demand and feedback from customers.</p>
<p>The service has been operated since April by KPMG Thames Clippers and the most recent figures show a 130 per cent&nbsp;increase in passenger numbers. </p>
<p>During the most recent period (22 July 2013 - 18 August 2013) 11,074 people travelled on the service compared with 4,763 in the same period in 2012.</p><strong>
<h2>Additional two services</h2>
<p></strong>As a result, there will also be an increase in the number of sailings on this service.&nbsp; <p>
<p>From today an additional two services will operate during weekday mornings, with three further services weekday evenings - providing passengers with a more frequent and more extensive service on this route.</p>
<p>Andy Thompson, Head of London River Services, said: "We're really pleased that the River Bus has become such a sail away success.&nbsp; We have listened to passengers and have made these changes to both extend and improve this service. </p>
<p>"With more sailings and more destinations the River Bus is going from strength to strength."</p><strong>
<h2>&pound;10m investment in river services</h2>
<p></strong>Transport for London (TfL) and the Mayor of London are committed to making the most of the River Thames and to this end published a 'River Action Plan' in February.&nbsp; </p>
<p>This document pledges a &pound;10m investment in river services with the ambitious aim of increasing the number of people travelling on the Thames to 12 million by 2020.&nbsp; </p>
<p>The River Action Plan sets out a range of improvements to piers and passenger information. </p>
<p>TfL will also seek to better promote river services and work more collaboratively with partners such as boat operators and London and Partners.&nbsp; </p>
<p>As part of this plan TfL has already delivered real-time next boat information to the majority of the piers served by River Bus services, allowing passengers to time their arrival at a pier to catch the next service. </p>
<p>Oyster is accepted on the majority of river services meaning passengers can use Pay As You Go to pay for their fares. </p>
<p>There is also a third off for passengers with Travelcards. </p>
<p>For regular passengers there is a range of competitive season tickets available on a weekly, monthly and yearly basis.</p>
<p>
<hr>
<br><strong>Notes to editors:</strong> 
<p>
<ul>
<li>An updated timetable for this route is available online at <a href="http://www.tfl.gov.uk/gettingaround/1131.aspx">tfl.gov.uk/gettingaround/1131.aspx</a> </li>
<li>This River Bus service serves the following piers - Putney, Wandsworth Riverside Quarter, Chelsea Harbour, Cadogan (Cheyne Walk), St George's Wharf (Vauxhall), Embankment and Blackfriars.&nbsp; Some departures now also serve London Bridge and Canary Wharf piers. </li>
<li>Live travel news is available at <a href="http://www.tfl.gov.uk/livetravelnews">tfl.gov.uk/livetravelnews</a>&nbsp; </li>
<li>Service updates are also available on Twitter &#64;TfLRiver and &#64;thamesclippers </li>
<li>Further information on services offered by London River Services is available at <a href="http://www.tfl.gov.uk/river">tfl.gov.uk/river</a>&nbsp; </li>
<li>London River Services owns and operates eight piers on the river: Westminster, Festival, Embankment, Millbank, Blackfriars, Bankside, Tower and Greenwich. </li>
<li>People wishing to travel on the river can benefit from a third off the normal advertised adult and child fares on most services if they produce a valid Travelcard or Oyster card loaded with a valid Travelcard when purchasing a ticket. Pay as you go Oyster cards are accepted on Thames Clippers services. </li>
<li>All London River Services piers are accessible and step-free at all states of the tide, allowing easy access for mobility impaired passengers. All KPMG Thames Clippers catamarans are fully accessible. </li>
<li>The Mayor's 'River Action Plan' is available at <a href="http://www.tfl.gov.uk/assets/downloads/river-action-plan.pdf">tfl.gov.uk/assets/downloads/river-action-plan.pdf</a> <br></li></ul>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
                <a href="/info-for/media/index" class="heading">
                    <h2 id="sub-menu-heading">Media<span class="visually-hidden"> navigation</span></h2>
                </a>
                <ul>
                    
                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases">Press releases</a></div>
                                <ul>
                                    
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2020">2020</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019">2019</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018">2018</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017">2017</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016">2016</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015">2015</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014">2014</a></div></li>
                            
 
                                        <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2013">2013</a></div>
                                        <ul>
                                            
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2013/15890">December</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2013/november">November</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2013/october">October</a></div></li>
                                    
 
                                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2013/september">September</a></div>
                                                <ul>
                                                    
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
                                                </ul>
                                            
 
                                        <li><div class="link-wrapper"><a href="/info-for/media/press-releases/2013/august">August</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2013/july">July</a></div></li>
                                    
 
                                        <li><div class="link-wrapper"><a href="/info-for/media/press-releases/2013/june">June</a></div></li>
                                    
 
                                        <li><div class="link-wrapper"><a href="/info-for/media/press-releases/2013/16598">May</a></div></li>
                                    
 
                                        <li><div class="link-wrapper"><a href="/info-for/media/press-releases/2013/16698">April</a></div></li>
                                    
 
                                        <li><div class="link-wrapper"><a href="/info-for/media/press-releases/2013/march">March</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2013/16906">February</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2013/16962">January</a></div></li>
                                    
 
                                        </ul>
                                    </li>
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2012">2012</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2011">2011</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2010">2010</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2009">2009</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2008">2008</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2007">2007</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2006">2006</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2005">2005</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2004">2004</a></div></li>
                            
 
                                </ul>
                            </li>
 
                                <li><div class="link-wrapper"><a href="/info-for/media/photos">Photos</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/media/contact-the-press-office">Contact the Press Office</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/filming-and-photography">Filming & photography</a></div></li>
                            
 
                </ul>
            
 
 
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype: -Home-Media-Media-Press releases-2013-September-Putney to Blackfriars River Bus service is a sail away success -->

 
 
        
        
            @{ViewBag.Description = "More morning and evening services to meet increased passenger demand Recent figures show a 130 per cent&nbsp;increase in passenger numbersThe Putney to Blackfriars River Bus service is to be extended to serve St George's Wharf in Vauxhall with selected";}
        
        


 