


@{ViewBag.Title = "Road closures in central London for the World Triathlon Grand Final - 11 to 15 September";}
        
        
<div class="r">
    <div class="breadcrumb-container" role="navigation">
        <span id="breadcrumb-label" class="visually-hidden">You are here:</span>
        <ol class="breadcrumbs clearfix" aria-labelledby="breadcrumb-label">
            <li class="home">
                <a href="/">
                    <span class="hide-text">Home</span>
                </a>
            </li>
            
                <li>
                    <a href="/info-for/media/index">Media</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases">Press releases</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases/2013">2013</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases/2013/september">September</a>
                </li>
                
                <li>
                    <span class="last-breadcrumb">Road closures in central London for the World Triathlon Grand Final - 11 to 15 September</span>
                </li>
            
 
            
 
            
 
            
 
            
 
        </ul>
    </div>
</div>
     
 
<div class="r">
    <div class="headline-container plain">
        <h1>Road closures in central London for the World Triathlon Grand Final - 11 to 15 September</h1>
        <div class="content-page-press-release">
        10 September 2013
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        Road users advised to avoid driving near the route of the Triathlon, particularly around Hyde Park Corner, and in Westminster and the City of London on Saturday 14 and Sunday 15 September.
        
    </div>



<div class="pull-quote">
        <div class="quote-body">"After last year's amazing Games, London continues to show the world we are the go-to destination to host major international sporting events."</div>
        <div class="quote-footer">
            <div class="quotee-name">Leon Daniels</div>
            <div class="quotee-job-title">Transport for London's Managing Director of Surface Transport</div>
        </div>
</div>

 <div class="on-this-page">
<div class="pullquote right">
                        <p>
                            After last year's amazing Games, London continues to show the world we are the go-to destination to host major international sporting events.
                            
                        </p>
                    </div>
                
            
            
            <ul>
<li>If driving is your only option, please travel at a different time if possible or allow more time for your journey </li>
<li>To plan your travel and avoid delays to your journeys, check the road closures and find alternative travel information at <a href="http://www.tfl.gov.uk/worldtriathlon">tfl.gov.uk/worldtriathlon</a> </li></ul>
<p>Transport for London (TfL) is advising road users, including bus passengers, to check if their journeys this week will be affected by the road closures in place for&nbsp;the World Triathlon Grand Final and to plan ahead.<br>&nbsp;<br>Thousands of triathletes, including Olympic medal winners Alistair and Jonathan Brownlee, will compete on the same course used last summer in the London 2012 Olympic Games, with closed roads in and around Hyde Park, Westminster and the City of London. </p>
<p>From Wednesday 11 to Friday 13 September the triathlon will be limited to Hyde Park.&nbsp;</p>
<p>On Saturday 14 September a number of major roads in central London, including Hyde Park Corner, Park Lane and roads around St James Park and Buckingham Palace will be closed in the morning. </p>
<p>The same roads will be closed for most of the day on Sunday 15 September, while a number of additional roads - including Whitehall, Southwark Bridge, Victoria Embankment, Lower and Upper Thames Street - will be closed until the early afternoon. <br></p>
<p><strong>TfL's key travel advice ahead of the World Triathlon Grand Final is: <br></strong>&nbsp;<br>The on-street Triathlon Events on <strong>Saturday 14 and Sunday 15 September</strong> will take place on fully closed roads.&nbsp; </p>
<p>Avoid driving near the route in Westminster and the City of London, in particular:</p>
<ul>
<li>Hyde Park Corner </li>
<li>Park Lane from Marble Arch towards Hyde Park Corner </li>
<li>Constitution Hill, Link Road, Spur Road </li>
<li>Birdcage walk, Great George Street </li>
<li>The Mall, Horse Guards Road, Marlborough Road</li></ul>
<p>On <strong>Sunday 15 September</strong> there will be significant road closures in Westminster and the City of London including:</p>
<ul>
<li>Northumberland Avenue, Victoria Embankment </li>
<li>Southwark Bridge </li>
<li>Lower and Upper Thames to Tower Hill </li>
<li>Parliament Square </li>
<li>Whitehall, Parliament Street</li></ul>
<h3>Plan ahead</h3>
<h3>&nbsp;</h3>
<p>A number of Barclays Cycle Hire docking stations on the route will be suspended. </p>
<p>Additionally due to an upgrade of the operating system the scheme will be unavailable to unregistered users as new upgrades are implemented over the weekend. </p>
<p>Public transport, walking and cycling will be the best ways to get around the area.&nbsp; </p>
<p>If driving is your only option, please allow more time for your journey or travel at a different time if possible. </p>
<p>Buses in the area will be on diversion or will finish earlier than usual due to the road closures.<br>&nbsp;<br>Leon Daniels, Transport for London's Managing Director of Surface Transport said: 'After last year's amazing Games, London continues to show the world we are the go-to destination to host major international sporting events.&nbsp; </p>
<p>'The World Triathlon Grand Final this week will bring excitement and draw crowds as will the final day of The Tour of Britain next Sunday 22 September.&nbsp; I would encourage drivers and bus passengers to avoid the route if possible 'and plan their journeys ahead so that they don't get caught out and can continue to get around.'<br>&nbsp;<br>The last day of the Tour of Britain will also take place on full closed roads in Westminster and the City of London next Sunday 22 September.&nbsp; </p>
<p>Road users are again asked to avoid driving near the route and advised to plan ahead and use public transport to make the most of everything going on in central London that weekend.&nbsp; </p>
<p>For travel advice visit&nbsp;<a href="http://www.tfl.gov.uk/tourofbritain">tfl.gov.uk/tourofbritain</a> </p>
<p><strong>
<hr>
</strong>
<p>
<p><strong>Notes to editors</strong></p>
<ul>
<li>New upgrades to the operating system of Barclays Cycle Hire will be implemented over the weekend of 14/15 September, paving the way for the expansion of the system to south and west London from December 2013. Due to the upgrades Barclays Cycle Hire will be unavailable to unregistered users from around 20:00 on Saturday 14 September until late on Sunday 15 September. Registered members with a valid access period will still be able to hire bikes during this period. Anyone who has hired a bike prior to this will still be able to dock a bike. This outage period is the shortest time possible for such an upgrade and TfL will work to ensure that these works are carried out as scheduled to minimise any further disruption to users. For more information, please visit tfl.gov.uk/barclayscyclehire </li>
<li>If travelling to these events or for other journeys to London, people are advised to visit <a href="http://www.tfl.gov.uk">tfl.gov.uk</a>&nbsp; to plan their route and for updates on service changes that may affect their journeys </li>
<li>Useful tools include <strong>Journey Planner </strong>- to plan your journey using public transport, cycling or walking, including accessibility options, visit <a href="http://www.tfl.gov.uk/journeyplanner">tfl.gov.uk/journeyplanner</a> </li>
<li><strong>24-hour travel information</strong> - call 0343 222 1234* for travel information and journey planning enquiries </li>
<li><strong>Live bus information</strong> - for arrival times, text your bus stop code to 87287 or visit tfl.gov.uk from your mobile </li>
<li><strong>Travel alerts</strong> - check live travel updates at <a href="http://www.tfl.gov.uk/live">tfl.gov.uk/live</a> or by following &#64;TfLTravelAlerts (for Tube, Docklands Light Railway, London Overground, trams and Emirates Air Line) </li>
<li><strong>Social Media</strong> - get up to the minute information on services through TfL's social media channels <a href="http://www.tfl.gov.uk/socialmedia">tfl.gov.uk/socialmedia</a> </li>
<li><strong>National Rail </strong>- <a href="http://www.nationalrail.co.uk">www.nationalrail.co.uk</a> or call 08457 48 49 50 </li></ul>
<p>Service and Network charges apply. See <a href="http://www.tfl.gov.uk/terms">tfl.gov.uk/terms</a> for details.<br>&nbsp;<br>&nbsp; <br></p>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
                <a href="/info-for/media/index" class="heading">
                    <h2 id="sub-menu-heading">Media<span class="visually-hidden"> navigation</span></h2>
                </a>
                <ul>
                    
                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases">Press releases</a></div>
                                <ul>
                                    
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2020">2020</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019">2019</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018">2018</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017">2017</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016">2016</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015">2015</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014">2014</a></div></li>
                            
 
                                        <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2013">2013</a></div>
                                        <ul>
                                            
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2013/15890">December</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2013/november">November</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2013/october">October</a></div></li>
                                    
 
                                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2013/september">September</a></div>
                                                <ul>
                                                    
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
                                                </ul>
                                            
 
                                        <li><div class="link-wrapper"><a href="/info-for/media/press-releases/2013/august">August</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2013/july">July</a></div></li>
                                    
 
                                        <li><div class="link-wrapper"><a href="/info-for/media/press-releases/2013/june">June</a></div></li>
                                    
 
                                        <li><div class="link-wrapper"><a href="/info-for/media/press-releases/2013/16598">May</a></div></li>
                                    
 
                                        <li><div class="link-wrapper"><a href="/info-for/media/press-releases/2013/16698">April</a></div></li>
                                    
 
                                        <li><div class="link-wrapper"><a href="/info-for/media/press-releases/2013/march">March</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2013/16906">February</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2013/16962">January</a></div></li>
                                    
 
                                        </ul>
                                    </li>
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2012">2012</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2011">2011</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2010">2010</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2009">2009</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2008">2008</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2007">2007</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2006">2006</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2005">2005</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2004">2004</a></div></li>
                            
 
                                </ul>
                            </li>
 
                                <li><div class="link-wrapper"><a href="/info-for/media/photos">Photos</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/media/contact-the-press-office">Contact the Press Office</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/filming-and-photography">Filming & photography</a></div></li>
                            
 
                </ul>
            
 
 
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype: -Home-Media-Media-Press releases-2013-September-Road closures in central London for the World Triathlon Grand Final - 11 to 15 September -->

 
 
        
        
            @{ViewBag.Description = "If driving is your only option, please travel at a different time if possible or allow more time for your journey To plan your travel and avoid delays to your journeys, check the road closures and find alternative travel information at";}
        
        


 