


@{ViewBag.Title = "Say hello to the fresh autumn air on a free guided walk            ";}
        
        
<div class="r">
    <div class="breadcrumb-container" role="navigation">
        <span id="breadcrumb-label" class="visually-hidden">You are here:</span>
        <ol class="breadcrumbs clearfix" aria-labelledby="breadcrumb-label">
            <li class="home">
                <a href="/">
                    <span class="hide-text">Home</span>
                </a>
            </li>
            
                <li>
                    <a href="/info-for/media/index">Media</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases">Press releases</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases/2013">2013</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases/2013/september">September</a>
                </li>
                
                <li>
                    <span class="last-breadcrumb">Say hello to the fresh autumn air on a free guided walk            </span>
                </li>
            
 
            
 
            
 
            
 
            
 
        </ul>
    </div>
</div>
     
 
<div class="r">
    <div class="headline-container plain">
        <h1>Say hello to the fresh autumn air on a free guided walk            </h1>
        <div class="content-page-press-release">
        23 September 2013
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        Over 30 free guided walks across London on Saturday 28 September and Sunday 29 September with something for everyone to enjoy.
        
    </div>



 <div class="on-this-page">
<div class="pullquote right">
                        <p>
                            Join in one of the free led walks and enjoy greener ways of getting around in the city.
                            
                        </p>
                    </div>
                
            
            
            <p>After enjoying a glorious summer, what better way to see the changing colour of autumn leaves by joining in one of over thirty free guided walks taking place across London on Saturday 28 September and Sunday 29 September.</p>

<p>Transport for London (TfL) is sponsoring free walks to help Londoners enjoy the bustling sights and sounds as well as the changing landscape of the capital.&nbsp; </p>
<p>This year's walks will help people appreciate how easy and enjoyable it is to walk around our great city.</p>
<p>Known as 'Autumn Ambles' the walks help Londoners discover the richness of landmarks in central London and the wealth of parks, rivers, canals, open spaces and hidden gems across the capital, with something suitable for all ages and abilities. </p>
<p>All walks are accompanied by a trained walk leader and experienced 'back marker' so nobody gets lost.</p>
<p>What more, Lonely Planet's 1000 Ultimate Adventure book has named a section of the Thames Path (where some of the walks take place) as the second best city hike in the world. <br>&nbsp;&nbsp; <br>A lot is being done to make London a city that is easier and more pleasurable to enjoy on foot, with many improvements being delivered such as creating new public spaces, enhancing London's streets and improving walking routes. </p>
<p>TfL and the London boroughs are also expanding the network of Legible London signs to help people find their way around the city on foot.</p>
<p>The guided walking weekends have proved popular with Londoners. </p>
<p>A previous walking weekend called 'Spring into Summer', held in May this year, attracted almost 4,000 people.</p>
<p>Ben Plowden, Director of Planning, TfL Surface Transport, said: 'This is a wonderful opportunity to discover how exciting and enjoyable walking in London can be with new and improved walking routes, more public spaces including greenways and better signs to help people easily find where they want to go.</p>
<p>'Join in one of the free led walks and enjoy greener ways of getting around in the city.'</p>
<p>Anne Clark, Walk Unlimited MD, said: 'We're really excited about this walking weekend. We've found new walks in new areas so you can explore even more of the hidden treasures London has to offer. </p>
<p>'There is something for everyone this time, no matter which part of London you live in.'</p>
<p>The Autumn Ambles weekend is organised by Walk Unlimited and funded by TfL. </p>
<p>To find out more about the walks near you visit <a href="http://www.walklondon.org.uk">www.walklondon.org.uk</a></p>
<p>All walks start and finish either at, or within easy reach of public transport facilities, and explore sections of the city's seven most popular routes which are:</p>
<ul>
<li>Capital Ring Walk - 15 easily walked sections combine to provide a 78 mile circular route around inner London - some of the attractions on this route include Eltham Palace, Richmond Park, Wimbledon Common, the Olympic Park and the Thames Barrier </li>
<li>Green Chain Walk - 50 miles of linked parks and open spaces that include&nbsp; Severndroog Castle, Crystal Palace Park and Oxleas Woods </li>
<li>Jubilee Walkway - 15 miles of path designed to connect London's key attractions and many of the city's most famous sights including Buckingham Palace, Trafalgar Square, Tower of London, Tower Bridge and St Paul's Cathedral </li>
<li>Lea Valley Walk - 18 miles of path following the river and canal in north east London, taking in Tottenham Marshes, Enfield Lock and Waltham Abbey </li>
<li>LOOP Walk (London Outer Orbital Path) - 152 miles of parks and paddocks including Hall Place, Wilberforce Memorial and Kenley Aerodrome </li>
<li>Thames Path Walk - 40 miles of level walks from Hampton Court Palace, through the heart of London to Erith Marshes. Sights include the Houses of Parliament, Albert Bridge, Syon Park and Kew Gardens </li>
<li>The Jubilee Greenway Walk - Marking Her Majesty The Queen's Diamond Jubilee - 37 miles of path connect all the central London Games venues including the North Greenwich Arena, Greenwich Park, Horse Guards Parade, Hyde Park and Regent's Park</li></ul>
<p>
<hr>

<p>
<h4>Notes to editors:</h4>
<ul>
<li>Over 612,000 walking maps, directions and audio guides are downloaded from Walk London's website annually resulting in more than 7million people on the network each year </li>
<li>Autumn Ambles is held every last weekend in September, the other guided walking weekends are known as Spring into Summer&nbsp; ( held every last weekend in May), while Winters Wanders happens during the last weekend in January. This year Spring into Summer recorded an additional 461 walkers </li>
<li>Greenways are traffic - free walking and cycling routes through parks, along canals and quiet streets, benefiting Londoners learning or returning to cycling and those who enjoy recreational cycling and walking. They are popular with all groups and abilities, in particular older people, children and disabled people </li>
<li><a href="http://www.tfl.gov.uk/walking">More information on TfL's walking programme</a></li></ul>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
                <a href="/info-for/media/index" class="heading">
                    <h2 id="sub-menu-heading">Media<span class="visually-hidden"> navigation</span></h2>
                </a>
                <ul>
                    
                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases">Press releases</a></div>
                                <ul>
                                    
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2020">2020</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019">2019</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018">2018</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017">2017</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016">2016</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015">2015</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014">2014</a></div></li>
                            
 
                                        <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2013">2013</a></div>
                                        <ul>
                                            
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2013/15890">December</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2013/november">November</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2013/october">October</a></div></li>
                                    
 
                                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2013/september">September</a></div>
                                                <ul>
                                                    
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
                                                </ul>
                                            
 
                                        <li><div class="link-wrapper"><a href="/info-for/media/press-releases/2013/august">August</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2013/july">July</a></div></li>
                                    
 
                                        <li><div class="link-wrapper"><a href="/info-for/media/press-releases/2013/june">June</a></div></li>
                                    
 
                                        <li><div class="link-wrapper"><a href="/info-for/media/press-releases/2013/16598">May</a></div></li>
                                    
 
                                        <li><div class="link-wrapper"><a href="/info-for/media/press-releases/2013/16698">April</a></div></li>
                                    
 
                                        <li><div class="link-wrapper"><a href="/info-for/media/press-releases/2013/march">March</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2013/16906">February</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2013/16962">January</a></div></li>
                                    
 
                                        </ul>
                                    </li>
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2012">2012</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2011">2011</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2010">2010</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2009">2009</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2008">2008</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2007">2007</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2006">2006</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2005">2005</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2004">2004</a></div></li>
                            
 
                                </ul>
                            </li>
 
                                <li><div class="link-wrapper"><a href="/info-for/media/photos">Photos</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/media/contact-the-press-office">Contact the Press Office</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/filming-and-photography">Filming & photography</a></div></li>
                            
 
                </ul>
            
 
 
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype: -Home-Media-Media-Press releases-2013-September-Say hello to the fresh autumn air on a free guided walk             -->

 
 
        
        
            @{ViewBag.Description = "After enjoying a glorious summer, what better way to see the changing colour of autumn leaves by joining in one of over thirty free guided walks taking place across London on Saturday 28 September and Sunday 29 September.Transport for London (TfL) is";}
        
        


 