


@{ViewBag.Title = "TfL hires top marine engineers as part of plan to increase capacity at three central London piers";}
        
        
<div class="r">
    <div class="breadcrumb-container" role="navigation">
        <span id="breadcrumb-label" class="visually-hidden">You are here:</span>
        <ol class="breadcrumbs clearfix" aria-labelledby="breadcrumb-label">
            <li class="home">
                <a href="/">
                    <span class="hide-text">Home</span>
                </a>
            </li>
            
                <li>
                    <a href="/info-for/media/index">Media</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases">Press releases</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases/2013">2013</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases/2013/september">September</a>
                </li>
                
                <li>
                    <span class="last-breadcrumb">TfL hires top marine engineers as part of plan to increase capacity at three central London piers</span>
                </li>
            
 
            
 
            
 
            
 
            
 
        </ul>
    </div>
</div>
     
 
<div class="r">
    <div class="headline-container plain">
        <h1>TfL hires top marine engineers as part of plan to increase capacity at three central London piers</h1>
        <div class="content-page-press-release">
        30 September 2013
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        Additional passenger and berthing capacity to foster river services through central London.
        
    </div>



 <div class="on-this-page">
<ul>
<li>Part of ambitious plan to increase passenger numbers on the river to 12 million a year by 2020 </li></ul>
<p>London River Services (LRS) has appointed a firm of specialist marine consulting engineers, Beckett Rankine, to carry out a design study to identify options for increasing both passenger and berthing capacity at three central London piers.</p>
<p>The study will focus on Bankside, Embankment and Westminster piers, and will seek to unlock the potential for further growth of River Bus and River Tour services in central London.&nbsp; </p>
<p>The three month study is due to be completed by the end of the year when options will be considered, with physical works completed and benefits delivered by the end of 2015.</p>
<p>Andy Thompson, General Manager for London River Services, said: 'This is a key part of our plan to ensure greater use of the River Thames.&nbsp; </p>
<p>'We've seen record numbers of passengers using our busiest piers this summer, giving a clear and encouraging demonstration of the need to expand capacity to be able to cater for future continued growth.'</p>
<p>This appointment of Beckett Rankine forms part of a commitment that the Mayor of London and Transport for London have made as part of their 'River Action Plan' to ultimately increase the number of people who travel on the river to 12m passengers a year by 2020. </p>
<p>In addition to this increase in capacity, the River Action Plan is designed to deliver a range of other improvements to piers and passenger information, encouraging better collaborative working with partners such as boat operators and London and Partners.&nbsp; </p>
<p>Benefits for passengers already delivered include more sailings and some extended services to Canary Wharf for the Putney to Blackfriars River Bus service (route RB6), and the introduction of real-time next boat information for the majority of the piers served by River Bus services.</p>
<p>
<hr>

<p>
<h2>Notes to editors:</h2>
<ul>
<li><a href="/modalpages/2648.aspx">Further information on services offered by London River Services</a>&nbsp; </li>
<li>London River Services owns and operates eight piers on the river: Westminster, Festival, Embankment, Millbank, Blackfriars, Bankside, Tower and Greenwich </li>
<li>Download the Mayor's 'River Action Plan', which was published in February 2013 -&nbsp;<a href="/assets/downloads/river-action-plan(1).pdf">PDF 7.34MB </a></li>
<li>Beckett Rankine is a firm of specialist marine consulting engineers.&nbsp; The company was founded in 1888 by the great-grandfather of one of the directors, and has remained in the hands of the Beckett and Rankine families ever since. The firm has offices in London and Mumbai. The Beckett Rankine team has years of experience in marine infrastructure projects both in the UK and across the globe</li></ul>
<p>&nbsp;</p>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
                <a href="/info-for/media/index" class="heading">
                    <h2 id="sub-menu-heading">Media<span class="visually-hidden"> navigation</span></h2>
                </a>
                <ul>
                    
                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases">Press releases</a></div>
                                <ul>
                                    
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2020">2020</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019">2019</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018">2018</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017">2017</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016">2016</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015">2015</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014">2014</a></div></li>
                            
 
                                        <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2013">2013</a></div>
                                        <ul>
                                            
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2013/15890">December</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2013/november">November</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2013/october">October</a></div></li>
                                    
 
                                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2013/september">September</a></div>
                                                <ul>
                                                    
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
                                                </ul>
                                            
 
                                        <li><div class="link-wrapper"><a href="/info-for/media/press-releases/2013/august">August</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2013/july">July</a></div></li>
                                    
 
                                        <li><div class="link-wrapper"><a href="/info-for/media/press-releases/2013/june">June</a></div></li>
                                    
 
                                        <li><div class="link-wrapper"><a href="/info-for/media/press-releases/2013/16598">May</a></div></li>
                                    
 
                                        <li><div class="link-wrapper"><a href="/info-for/media/press-releases/2013/16698">April</a></div></li>
                                    
 
                                        <li><div class="link-wrapper"><a href="/info-for/media/press-releases/2013/march">March</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2013/16906">February</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2013/16962">January</a></div></li>
                                    
 
                                        </ul>
                                    </li>
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2012">2012</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2011">2011</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2010">2010</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2009">2009</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2008">2008</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2007">2007</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2006">2006</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2005">2005</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2004">2004</a></div></li>
                            
 
                                </ul>
                            </li>
 
                                <li><div class="link-wrapper"><a href="/info-for/media/photos">Photos</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/media/contact-the-press-office">Contact the Press Office</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/filming-and-photography">Filming & photography</a></div></li>
                            
 
                </ul>
            
 
 
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype: -Home-Media-Media-Press releases-2013-September-TfL hires top marine engineers as part of plan to increase capacity at three central London piers -->

 
 
        
        
            @{ViewBag.Description = "Part of ambitious plan to increase passenger numbers on the river to 12 million a year by 2020 London River Services (LRS) has appointed a firm of specialist marine consulting engineers, Beckett Rankine, to carry out a design study to identify options for";}
        
        


 