


@{ViewBag.Title = "TfL launches new campaign to further in reduce delays ";}
        
        
<div class="r">
    <div class="breadcrumb-container" role="navigation">
        <span id="breadcrumb-label" class="visually-hidden">You are here:</span>
        <ol class="breadcrumbs clearfix" aria-labelledby="breadcrumb-label">
            <li class="home">
                <a href="/">
                    <span class="hide-text">Home</span>
                </a>
            </li>
            
                <li>
                    <a href="/info-for/media/index">Media</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases">Press releases</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases/2013">2013</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases/2013/september">September</a>
                </li>
                
                <li>
                    <span class="last-breadcrumb">TfL launches new campaign to further in reduce delays </span>
                </li>
            
 
            
 
            
 
            
 
            
 
        </ul>
    </div>
</div>
     
 
<div class="r">
    <div class="headline-container plain">
        <h1>TfL launches new campaign to further in reduce delays </h1>
        <div class="content-page-press-release">
        30 September 2013
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        New campaign advises customers how simple changes to travel habits can improve their journeys and reduce delays.
        
    </div>



 <div class="on-this-page">
<ul>
<li>Delays to customers' journeys have been reduced by 40 per cent since 2008/09 and 54 per cent since 2003 </li>
<li>Over the last year there were 400 hours of delays as a result of passenger actions</li></ul>
<p>Transport for London (TfL) today revealed that over two weeks of delays could have been avoided by passengers changing some of their actions when travelling.&nbsp; </p>
<p>The finding comes as TfL launches its latest campaign to encourage passengers to avoid actions that lead to service delays.</p>
<p>Over the last year there were 400 hours of delays on the Tube network - more than two weeks - as a result of passenger actions. </p>
<h3>Help reduce delays</h3>
<h3>&nbsp;</h3>
<p>The new campaign aims to raise awareness of how passengers can help to reduce this and help to improve the environment for fellow travellers by making small changes to their travel habits.</p>
<p>Delays to customers' journeys have been reduced by 40 per cent since 2008/09 and 54 per cent since 2003. </p>
<p>The continuing trend of long-term improvement follows the success of the London Underground Reliability Programme.</p>
<p>The actions which can cause delays include litter dropping, pulling the passenger alarm, holding the doors open and not letting passengers off trains before they get on.</p>
<ul>
<li>Litter causes disruption in a number of ways. Newspapers can be blown onto the track, blocking lights which can lead to signal failures. Newspapers can also become trapped in train doors. Last year there were 469 incidents involving litter that led to delays with 81 per cent due to litter being caught in train doors </li>
<li>Emergency alarms: There were over 1,000 incidents last year of passengers falling ill on trains. TfL advises passengers who are feeling ill on a train to get off at the next stop rather than to pull the alarm mid journey.&nbsp; It is better to treat ill people on a station where it is quicker and easier to get professional help. Alongside this it avoids risking many thousands of people being stuck on trains behind which are temporarily stopped while the alarm is pulled </li>
<li>Holding the doors open and not moving down the carriage slows down trains leaving stations causing delays for thousands of people. Changing actions such as these can reduce the wait for passengers at the next station and along the line</li></ul>
<p>Mike Brown MVO, Managing Director, London Underground, said: 'We've been working hard to meet the Mayor's commitment of reducing delays by a further 30 per cent by 2015 but there is still work to do. </p>
<p>'While we are making improvements across the network, passengers can also play a key role in helping us to deliver an even more efficient service. Some 400 hours of delays last year could have been avoided with just a few small changes to customer travelling habits. </p>
<p>'Littering, pulling the passenger alarm, holding the doors open and not letting passengers off the train are small actions that cause larger effects on the transport network. The campaign uses poetry as a way to advise our customers on simple steps they can take to help reduce incidents that delay services and impact upon everyone.'</p>
<p>For more information go to <strong><a href="http://www.tfl.gov.uk/travelbetterlondon">tfl.gov.uk/travelbetterlondon</a> </strong></p>
<p>
<hr>
<strong>Notes to editors:</strong>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp; 
<ul>
<li>Data from London Underground performance information database, a corporate record of incidents that cause disruption from July 2012 - August 2013 </li>
<li>Service delays are measured in Lost Customer Hours. Approximately 4.3 million hours were lost last year due to incidents disrupting the service last year. When delays are measured by incident time this equates to 441 hours </li>
<li>The travel habits highlighted in the campaign are: <br><br>
<ul type="circle">
<li>Litter left on the Tube and in stations </li>
<li>Inappropriate use of passenger alarms and passengers falling ill on trains </li>
<li>Holding train doors open </li>
<li>Moving down the platform </li>
<li>Moving down inside the carriage to allow room for other passengers </li>
<li>Putting feet on seats </li>
<li>Priority seats </li></ul></li>
<li>When the emergency alarm on a train is pulled it will only stop when it is in the station. In other cases it will proceed directly to the next station and stop there where it is quicker and easier to get medical help. Last year there were 369 incidents, each lasting approximately 4 and a half minutes caused by unwanted use of the emergency alarms on trains </li>
<li>The adverts will be displayed across the transport network including bus, Tube, rail, tram and Docklands Light Railway </li>
<li>The Travel Better London poetry competition runs from Monday 30 September until Sunday 13 October 2013. The poems must be 4-6 lines long and based on one of the travel behaviours shown in the campaign. Full details and terms and conditions can be found at <a href="http://www.tfl.gov.uk/travelbetterlondon">tfl.gov.uk/travelbetterlondon</a> </li>
<li>A second campaign burst featuring issues highlighted by bus users including use of mobile phones and eating food will be launched in early 2014</li></ul>
<ul></ul>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
                <a href="/info-for/media/index" class="heading">
                    <h2 id="sub-menu-heading">Media<span class="visually-hidden"> navigation</span></h2>
                </a>
                <ul>
                    
                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases">Press releases</a></div>
                                <ul>
                                    
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2020">2020</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019">2019</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018">2018</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017">2017</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016">2016</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015">2015</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014">2014</a></div></li>
                            
 
                                        <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2013">2013</a></div>
                                        <ul>
                                            
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2013/15890">December</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2013/november">November</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2013/october">October</a></div></li>
                                    
 
                                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2013/september">September</a></div>
                                                <ul>
                                                    
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
                                                </ul>
                                            
 
                                        <li><div class="link-wrapper"><a href="/info-for/media/press-releases/2013/august">August</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2013/july">July</a></div></li>
                                    
 
                                        <li><div class="link-wrapper"><a href="/info-for/media/press-releases/2013/june">June</a></div></li>
                                    
 
                                        <li><div class="link-wrapper"><a href="/info-for/media/press-releases/2013/16598">May</a></div></li>
                                    
 
                                        <li><div class="link-wrapper"><a href="/info-for/media/press-releases/2013/16698">April</a></div></li>
                                    
 
                                        <li><div class="link-wrapper"><a href="/info-for/media/press-releases/2013/march">March</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2013/16906">February</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2013/16962">January</a></div></li>
                                    
 
                                        </ul>
                                    </li>
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2012">2012</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2011">2011</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2010">2010</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2009">2009</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2008">2008</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2007">2007</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2006">2006</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2005">2005</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2004">2004</a></div></li>
                            
 
                                </ul>
                            </li>
 
                                <li><div class="link-wrapper"><a href="/info-for/media/photos">Photos</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/media/contact-the-press-office">Contact the Press Office</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/filming-and-photography">Filming & photography</a></div></li>
                            
 
                </ul>
            
 
 
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype: -Home-Media-Media-Press releases-2013-September-TfL launches new campaign to further in reduce delays  -->

 
 
        
        
            @{ViewBag.Description = "Delays to customers' journeys have been reduced by 40 per cent since 2008/09 and 54 per cent since 2003 Over the last year there were 400 hours of delays as a result of passenger actionsTransport for London (TfL) today revealed that over two weeks of";}
        
        


 