


@{ViewBag.Title = "TfL supports the UITP's 'All together for public transport growth' campaign";}
        
        
<div class="r">
    <div class="breadcrumb-container" role="navigation">
        <span id="breadcrumb-label" class="visually-hidden">You are here:</span>
        <ol class="breadcrumbs clearfix" aria-labelledby="breadcrumb-label">
            <li class="home">
                <a href="/">
                    <span class="hide-text">Home</span>
                </a>
            </li>
            
                <li>
                    <a href="/info-for/media/index">Media</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases">Press releases</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases/2013">2013</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases/2013/september">September</a>
                </li>
                
                <li>
                    <span class="last-breadcrumb">TfL supports the UITP's 'All together for public transport growth' campaign</span>
                </li>
            
 
            
 
            
 
            
 
            
 
        </ul>
    </div>
</div>
     
 
<div class="r">
    <div class="headline-container plain">
        <h1>TfL supports the UITP's 'All together for public transport growth' campaign</h1>
        <div class="content-page-press-release">
        16 September 2013
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        Transport for London (TfL) today set out its support for the UITP (the International Association of Public Transport) 'All together for public transport growth' campaign which calls for continuing support and investment in transport.
        
    </div>



<div class="pull-quote">
        <div class="quote-body">"It is vital that investment is made in transport infrastructure in cities to boost not only the economy of the city it serves but also that of the whole country."</div>
        <div class="quote-footer">
            <div class="quotee-name">Sir Peter Hendy CBE</div>
            <div class="quotee-job-title">London's Transport Commissioner and UITP President</div>
        </div>
</div>

 <div class="on-this-page">
<div class="pullquote right">
                        <p>
                            It is vital that investment is made in transport infrastructure in cities to boost not only the economy of the city it serves but also that of the whole country.
                            
                        </p>
                    </div>
                
            
            
            <p>TfL is one of many transport operators across the globe adding their voice to the case for investment, all with the common aim to make cities engines of economic growth and better places to live and work, by improving transport and its infrastructure. </p>
<h3>Six-year capital funding settlement </h3>
<h3>&nbsp;</h3>
<p>In London the Mayor and TfL were able to secure stable and sustained investment in London's transport infrastructure with a six-year capital funding settlement with Government. </p>
<p>The funding will help support jobs and growth in the capital as well as the UK and will allow TfL to continue to deliver:</p>
<ul>
<li>The modernisation of the Tube, including completion of the Northern, Circle, District, Hammersmith &amp; City and Metropolitan lines and the start of the next phase of Tube upgrades, including the Piccadilly, Central and Bakerloo lines </li>
<li>Major investment in the road network and cycling </li>
<li>Further improvements to the Bus, DLR, London Overground and Tramlink networks</li></ul>
<h3>Successful urban transport systems</h3>

<h3>&nbsp;</h3>
<p>Sir Peter Hendy CBE, London's Transport Commissioner and UITP President, said: 'It is vital that investment is made in transport infrastructure in cities to boost not only the economy of the city it serves but also that of the whole country, and we can clearly see that in London with the jobs and growth created not only in London but nationwide. </p>
<p>'The UITP aims to create joined up thinking across the globe to deliver successful urban transport systems and we can learn from other cities as well as share our knowledge of London and the successes we have already delivered, and are committed to continue to deliver, for the benefit of the Capital and indeed the whole country.'</p>
<p>Huge improvements have been made to the transport network including completing the London Overground orbital network, completion of the Victoria and Jubilee line upgrades, increasing capacity on the Docklands Light Railway and the roll out of the New Bus for London. </p>
<p>Work on constructing Crossrail continues at a pace with services due to be running through central London from the end of 2018, TfL has also been consulting on a route for Crossrail 2 which would link the south west of the capital with the north east. </p>
<p>The Mayor's Roads Task Force has also been set up and has developed a vision for 21st century investment in London's roads, streets and urban realm. </p>
<p>With London's population expected to grow to more than 10 million by the early 2030s investment in continued transport improvements as well as providing new infrastructure is vital in order to be able to support this growth.</p>
<p>Investment in London's transport network supports 40,000 jobs in the UK supply chain, with a further 19,000 supported in the supply chain within London.&nbsp; </p>
<p>&nbsp;</p>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
                <a href="/info-for/media/index" class="heading">
                    <h2 id="sub-menu-heading">Media<span class="visually-hidden"> navigation</span></h2>
                </a>
                <ul>
                    
                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases">Press releases</a></div>
                                <ul>
                                    
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2020">2020</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019">2019</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018">2018</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017">2017</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016">2016</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015">2015</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014">2014</a></div></li>
                            
 
                                        <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2013">2013</a></div>
                                        <ul>
                                            
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2013/15890">December</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2013/november">November</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2013/october">October</a></div></li>
                                    
 
                                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2013/september">September</a></div>
                                                <ul>
                                                    
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
                                                </ul>
                                            
 
                                        <li><div class="link-wrapper"><a href="/info-for/media/press-releases/2013/august">August</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2013/july">July</a></div></li>
                                    
 
                                        <li><div class="link-wrapper"><a href="/info-for/media/press-releases/2013/june">June</a></div></li>
                                    
 
                                        <li><div class="link-wrapper"><a href="/info-for/media/press-releases/2013/16598">May</a></div></li>
                                    
 
                                        <li><div class="link-wrapper"><a href="/info-for/media/press-releases/2013/16698">April</a></div></li>
                                    
 
                                        <li><div class="link-wrapper"><a href="/info-for/media/press-releases/2013/march">March</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2013/16906">February</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2013/16962">January</a></div></li>
                                    
 
                                        </ul>
                                    </li>
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2012">2012</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2011">2011</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2010">2010</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2009">2009</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2008">2008</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2007">2007</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2006">2006</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2005">2005</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2004">2004</a></div></li>
                            
 
                                </ul>
                            </li>
 
                                <li><div class="link-wrapper"><a href="/info-for/media/photos">Photos</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/media/contact-the-press-office">Contact the Press Office</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/filming-and-photography">Filming & photography</a></div></li>
                            
 
                </ul>
            
 
 
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype: -Home-Media-Media-Press releases-2013-September-TfL supports the UITP's 'All together for public transport growth' campaign -->

 
 
        
        
            @{ViewBag.Description = "TfL is one of many transport operators across the globe adding their voice to the case for investment, all with the common aim to make cities engines of economic growth and better places to live and work, by improving transport and its infrastructure.";}
        
        


 