


@{ViewBag.Title = "Tube stations and train depots blossom at awards";}
        
        
<div class="r">
    <div class="breadcrumb-container" role="navigation">
        <span id="breadcrumb-label" class="visually-hidden">You are here:</span>
        <ol class="breadcrumbs clearfix" aria-labelledby="breadcrumb-label">
            <li class="home">
                <a href="/">
                    <span class="hide-text">Home</span>
                </a>
            </li>
            
                <li>
                    <a href="/info-for/media/index">Media</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases">Press releases</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases/2013">2013</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases/2013/september">September</a>
                </li>
                
                <li>
                    <span class="last-breadcrumb">Tube stations and train depots blossom at awards</span>
                </li>
            
 
            
 
            
 
            
 
            
 
        </ul>
    </div>
</div>
     
 
<div class="r">
    <div class="headline-container plain">
        <h1>Tube stations and train depots blossom at awards</h1>
        <div class="content-page-press-release">
        12 September 2013
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        The winners of the annual Underground in Bloom competition, the Tube's keenly contested gardening awards, were announced yesterday at City Hall.
        
    </div>



<div class="pull-quote">
        <div class="quote-body">"With so many excellent entries it was tough to choose winners; I congratulate all those who won. Every entrant should be proud of their achievements and I am already looking forward to next year's efforts."</div>
        <div class="quote-footer">
            <div class="quotee-name">Phil Hufton</div>
            <div class="quotee-job-title">Chief Operating Officer for London Underground</div>
        </div>
</div>

 <div class="on-this-page">
<div class="pullquote right">
                        <p>
                            With so many excellent entries it was tough to choose winners; I congratulate all those who won. Every entrant should be proud of their achievements and I am already looking forward to next year's efforts.
                            
                        </p>
                    </div>
                
            
            
            <p>Staff from the 68 competing stations, depots and train crew sites have been potting, planting and pruning against each other in a bid to grow the most beautiful flowers, ripest fruit and tastiest vegetables.</p>
<p>Employees attend to their gardens in their own free time. The staff's green-fingered creations make stations more attractive and add colour and interest to customers' journeys. </p>
<h3>The 150th Anniversary of the Tube</h3>

<h3>&nbsp;</h3>
<p>This year's competition was particularly special as the Tube is celebrating its 150th anniversary, with extra points awarded for 'greener' gardens and entries incorporating the 150th anniversary theme. </p>
<p>A team of judges were also looking at the overall impact of the display, imagination and creativity. </p>
<p>Although all station, train depot and train crew site entries across the network were of an extremely high standard this year, Hampstead Tube station was one of many stations that impressed the judges greatly, winning three awards, which included the coveted Best Overall Award. </p>
<p>Staff were also given the best Tubs award for their giant lilies inspired by the Victorian era and the Best Fruit and Veg award for a variety of edible treats, which included shiny deep purple aubergines, fragrant mint and juicy strawberries. </p>
<p>Lucky members of the public were able to view Hampstead's secret garden during an open day. </p>
<h3>Green-fingered creations</h3>

<h3>&nbsp;</h3>
<p>Other stations which captured the judges' attention were Finchley Central Tube station, which took home the prize for best Cultivated Garden and North Acton Tube station which scooped second place in the Tubs category and third in the Hanging Basket category. </p>
<p>Rayners Lane station received a highly commended prize for their excellent 150th anniversary of London Underground themed flowerbed in a bright array of colours. </p>
<p>South Kensington, Neasden, Newbury Park and Kentish Town stations were also praised by the judging team and were given highly commended gongs. </p>
<p>Kentish Town station was runner up in the Dennis Sanger Special award, which recognises special achievement. </p>
<p>Behind the scenes train depots and staff train crew accommodation sites have been turned into eco-friendly gardens with water butts, vegetables grown from seeds and beehives. </p>
<p>Ealing Common Depot won multiple awards which included the Best Newcomer Award for their use of sleepers painted as trains and home-made pots as well as the Dennis Sanger Special award. The Upminster Train Crew </p>
<p>Accommodation site stole the show with its fantastic hanging baskets with a colourful view for customers to see from a nearby platform. </p>
<p>Arnos Grove Train Crew Accommodation snatched second place in the Fruit and Veg category for their original 'adopt an allotment' scheme which was enthusiastically taken up by staff. </p>
<p>The 150th Anniversary of the Tube served as inspiration for one of the employees that shared the first prize of The Underground in Bloom Art category. </p>
<p>In a striking painting a member of the London Underground has transported the characters from the very popular 'Keeping London Moving for 150 years' advertising poster to the plant-filled roof terrace at 55 Broadway, the Tube's Headquarters. </p>
<p>For the first time, this year saw the launch of the Overground in Bloom competition for stations on the London Overground network.</p>
<p>&nbsp;The winner in the Overall Winner category was Acton Central which also clinched the Best Tubs prize. </p>
<p>Other big hitters were Hatch End which won the Best Garden Award and Norwood Junction with Best Community Project.&nbsp; </p>
<p>Phil Hufton, Chief Operating Officer for London Underground, said: 'I'd like to thank all our staff for transforming our stations, depots and train crew sites into places bursting with colour during the 150th anniversary of the Tube. </p>
<p>'Our staff have spent their spare time putting a lot of work into these wonderful gardens and I know it's appreciated by our customers. With so many excellent entries it was tough to choose winners; I congratulate all those who won. Every entrant should be proud of their achievements and I am already looking forward to next year's efforts.'</p>
<p>The competition entries were judged by London Underground judges with the winners receiving shopping vouchers as prizes. </p>
<p>
<hr>
<strong>Editors' notes:</strong> 
<ul>
<li>Images available on request </li>
<li>The Tube is undergoing a huge and essential programme to modernise its infrastructure and add vital extra capacity to cope with a growing population and to support the economic development and growth of the capital and the UK. This includes the introduction of new track and signalling and the rebuilding of some of our most important stations. TfL is working hard to provide information and alternative travel options while work is taking place. The work is essential to provide for London's growing transport needs now, and into the future. TfL is urging all Londoners and Tube, London Overground, London Tramlink and DLR passengers to "check before you travel" at weekends, allowing extra journey time where necessary. Weekend travel news is available at <a href="http://www.tfl.gov.uk/check">www.tfl.gov.uk/check</a> <br></li></ul>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
                <a href="/info-for/media/index" class="heading">
                    <h2 id="sub-menu-heading">Media<span class="visually-hidden"> navigation</span></h2>
                </a>
                <ul>
                    
                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases">Press releases</a></div>
                                <ul>
                                    
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2020">2020</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019">2019</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018">2018</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017">2017</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016">2016</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015">2015</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014">2014</a></div></li>
                            
 
                                        <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2013">2013</a></div>
                                        <ul>
                                            
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2013/15890">December</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2013/november">November</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2013/october">October</a></div></li>
                                    
 
                                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2013/september">September</a></div>
                                                <ul>
                                                    
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
                                                </ul>
                                            
 
                                        <li><div class="link-wrapper"><a href="/info-for/media/press-releases/2013/august">August</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2013/july">July</a></div></li>
                                    
 
                                        <li><div class="link-wrapper"><a href="/info-for/media/press-releases/2013/june">June</a></div></li>
                                    
 
                                        <li><div class="link-wrapper"><a href="/info-for/media/press-releases/2013/16598">May</a></div></li>
                                    
 
                                        <li><div class="link-wrapper"><a href="/info-for/media/press-releases/2013/16698">April</a></div></li>
                                    
 
                                        <li><div class="link-wrapper"><a href="/info-for/media/press-releases/2013/march">March</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2013/16906">February</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2013/16962">January</a></div></li>
                                    
 
                                        </ul>
                                    </li>
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2012">2012</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2011">2011</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2010">2010</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2009">2009</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2008">2008</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2007">2007</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2006">2006</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2005">2005</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2004">2004</a></div></li>
                            
 
                                </ul>
                            </li>
 
                                <li><div class="link-wrapper"><a href="/info-for/media/photos">Photos</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/media/contact-the-press-office">Contact the Press Office</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/filming-and-photography">Filming & photography</a></div></li>
                            
 
                </ul>
            
 
 
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype: -Home-Media-Media-Press releases-2013-September-Tube stations and train depots blossom at awards -->

 
 
        
        
            @{ViewBag.Description = "Staff from the 68 competing stations, depots and train crew sites have been potting, planting and pruning against each other in a bid to grow the most beautiful flowers, ripest fruit and tastiest vegetables.Employees attend to their gardens in their own";}
        
        


 