
    
  



@{ViewBag.Title = "Bus & Tram Discount scheme";}
@{ViewBag.Keywords = "TfL";}
@{ViewBag.Url = "/corporate/terms-and-conditions/online-ticketing-accounts/bus-and-tram-discount-scheme";}
@{ViewBag.Language = "en";}
        <!-- empty placeholder -->
 
        
        
<div class="r">
    <div class="breadcrumb-container" role="navigation">
        <span id="breadcrumb-label" class="visually-hidden">You are here:</span>
        <ol class="breadcrumbs clearfix" aria-labelledby="breadcrumb-label">
            <li class="home">
                <a href="/">
                    <span class="hide-text">Home</span>
                </a>
            </li>
            
                 <li><a href="/corporate/terms-and-conditions/index">Terms & conditions </a></li>
                
            
                 <li><a href="/corporate/terms-and-conditions/online-accounts">Online accounts</a></li>
                
            
            
                <li><span class="last-breadcrumb">Bus & Tram Discount scheme</span></li>
            
        
 
        
 
        
 
        </ol>
    </div>
</div>
     
 
<div class="r">
  <div class="headline-container plain">
    <h1>Bus & Tram Discount scheme</h1>

  </div>
</div>
<div class="main-and-aside r">
  
  <div class="main content-container" role="main">
    
      <div class="article-teaser">
        Terms and conditions for using the Bus and Tram Discount scheme.
        
      </div>
    
    
      <ul>
</ul>
<ol>
    <li>These Terms and Conditions pertain to applicants of the Transport for London ('TfL') Bus &amp; Tram Discount scheme ('the scheme').</li>
    <li>The Bus &amp; Tram Discount travel concession is not a statutory right. Any breach of the Terms and Conditions may result, at the discretion of TfL, in the withdrawal of your Bus &amp; Tram Discount photocard and any associated Oyster cards. You may not be able to get another one.</li>
    <li>TfL reserves the right to amend these Terms and Conditions at any time. The most up to date version are available at <a href="http://www.tfl.gov.uk/tickets">tfl.gov.uk/tickets</a></li>
    <li>TfL reserves the right to terminate or revise the scheme at any time.</li>
    <li>TfL reserves the right to refuse to issue a Bus &amp; Tram Discount photocard.</li>
    <li>The application form and photograph cannot be returned to you.</li>
    <li>To qualify for the Bus &amp; Tram Discount travel concession you must live in a London borough.</li>
    <li>If you do not live in a London borough and have been issued with a Bus &amp; Tram Discount photocard in error, TfL reserves the right to stop your Oyster card loaded with the Bus &amp; Tram Discount without notice</li>
    <li>You must be in receipt of the appropriate qualifying benefit when you apply for a Bus &amp; Tram Discount photocard. Once issued, you can continue to use the photocard and associated Oyster card to travel at discount rate until the photocard expires, even if you cease to be eligible for the benefit.</li>
    <li>To buy discount rate Bus &amp; Tram Passes and pay half adult Oyster fares on buses and trams, you must get the photocard number and expiry date loaded on at an Oyster card.</li>
    <li>Oyster cards can only be loaded with the Bus &amp; Tram Discount travel concession at Oyster Ticket Stops and Tube station ticket offices.</li>
    <li>To benefit from the Bus &amp; Tram Discount travel concession, you must carry both a valid Bus &amp; Tram Discount photocard and an associated Oyster card with a valid Bus &amp; Tram Discount travel concession loaded on it on each journey. Discount rate Oyster single fares and/or the Bus &amp; Tram Pass are not valid without the photocard.</li>
    <li>The Bus &amp; Tram Discount photocard is provided to you free of charge by TfL</li>
    <li>All photocards and tickets are the property of TfL and are issued in accordance with <a href="/corporate/terms-and-conditions/ticketing-and-travel-conditions-of-carriage">TfL's Conditions of Carriage</a>. Visit <a href="http://www.tfl.gov.uk/tickets">tfl.gov.uk/tickets</a> or call 0343 222 1234 for a copy.</li>
    <li>The Bus &amp; Tram Discount photocard remains the property of TfL. Ticket checking staff have the right to retain any photocard or Oyster card.</li>
    <li>Your Bus &amp; Tram Discount photocard bears your photograph and it and the associated Oyster card loaded with the Bus &amp; Tram Discount is for use by the named individual only. You cannot transfer it to anyone else.</li>
    <li>The expiry date of your photocard is printed on the front of the card and it must not be used after this date. If you attempt to use the photocard after its expiry date you may be subject to a penalty fare and/or prosecution</li>
    <li>The photocard is not valid if it is alerted or defaced in any way. If it is, you must re-apply and get a new Bus &amp; Tram Discount photocard. You must then update your Oyster card with the new photocard details before you can benefit from the travel concession.</li>
    <li>You must not be in possession of more than one valid Bus &amp; Tram Discount photocard or more than one valid Oyster card loaded with the Bus &amp; Tram Discount at any one time. TfL reserves the right to stop additional Oyster cards loaded with the Bus &amp; Tram Discount without notice.</li>
    <li>Your photocard should only be valid for six months. If your photocard has been issued for longer, TfL reserves the right to stop your concession and/or your Oyster card loaded with the Bus &amp; Tram Discount without notice.</li>
    <li>TfL monitors the Bus &amp; Tram Discount scheme to detect and prevent fraud. If there is any breach of these Terms and Conditions or TfL's Conditions of Carriage, TfL reserves the right to stop your Bus &amp; Tram Discount travel concession and/or your associated Oyster card loaded with the Bus &amp; Tram Discount without notice.</li>
    <li>If you allow anyone else to use your Bus &amp; Tram Discount travel concession then you may have your concession withdrawn, and the person using it may be subject to a penalty fare and/or prosecution.</li>
</ol>
<h2>Privacy Notice</h2>
<p>Transport for London (TfL), its subsidiaries and service providers, will use your personal information for the purposes of customer services and administration, the provision of travel related information, customer research and fraud prevention.</p>
<p>If you use your Oyster card in connection with National Rail products or services, you will also be authorising TfL to share your personal information with relevant Train Operating Companies (TOCs) so that they can use it for the same purposes.</p>
<p>Your personal information will be properly safeguarded and processed in accordance with the requirements of Data Protection legislation. Further information is available on our <a href="/corporate/privacy-and-cookies/index">Privacy and cookies</a> pages.</p>
<p>In certain circumstances, TfL, and relevant TOCs may share your personal information with the police and other law enforcement agencies for the purposes of the prevention or detection of crime.</p>
      
           
      
      
        
          
        
      
    
  </div>
  <div class="aside" role="complementary">

   
    
    
    
      <div data-set="sidenav-container" class="large">
        
        
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
                <a href="/corporate/terms-and-conditions/index" class="heading">
                    <h2 id="sub-menu-heading">Terms & conditions <span class="visually-hidden"> navigation</span></h2>
                </a>
                <ul>
                    
                                <li><div class="link-wrapper"><a href="/corporate/terms-and-conditions/competitions">Competitions</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/corporate/terms-and-conditions/ticketing-and-travel-conditions-of-carriage">Conditions of Carriage</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/corporate/terms-and-conditions/conveyancing-searches">Conveyancing searches</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/corporate/terms-and-conditions/live-bus-departure-information">Live Bus & River Bus arrivals</a></div></li>
                            
 
                                <li class="selected parent"><div class="link-wrapper"><a href="/corporate/terms-and-conditions/online-accounts">Online accounts</a></div>
                                <ul>
                                    
                                        <li class="selected"><div class="link-wrapper"><a href="/corporate/terms-and-conditions/online-ticketing-accounts/bus-and-tram-discount-scheme">Bus & Tram Discount scheme</a></div>
                                    </li>
 
                                </ul>
                            </li>
 
                                <li><div class="link-wrapper"><a href="/corporate/terms-and-conditions/pay-to-drive-in-london">Pay to drive in London</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/corporate/terms-and-conditions/pay-to-drive-in-london-app">Pay to drive in London app</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/corporate/terms-and-conditions/santander-cycles">Santander Cycles</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/corporate/terms-and-conditions/scrappage-scheme">Scrappage scheme</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/corporate/terms-and-conditions/social-media">Social media</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/corporate/terms-and-conditions/stars">STARS</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/corporate/terms-and-conditions/taxi-delicensing">Taxi delicensing</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/corporate/terms-and-conditions/tfl-call-charges">TfL call charges</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/corporate/terms-and-conditions/tfl-oyster-app">TfL Oyster and contactless app</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/corporate/terms-and-conditions/tfl-pension-fund">TfL Pension Fund</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/corporate/terms-and-conditions/transport-data-service">Transport Data Service </a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/corporate/terms-and-conditions/visitor-oyster-shop">Visitor Oyster shop</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/corporate/terms-and-conditions/webcat">WebCAT</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/corporate/terms-and-conditions/website">Website</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/corporate/terms-and-conditions/dlr-discovery">DLR Discovery</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/corporate/terms-and-conditions/direct-vision-standard-and-safety-permit-for-hgvs">Direct Vision Standard and Safety Permit for HGVs</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/corporate/terms-and-conditions/car-and-motorcycle-scrappage-scheme">ULEZ Car and motorcycle scrappage scheme</a></div></li>
                            
 
                </ul>
            
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
      </div>
    
    <div>




















<div class="advert-tile unsponsored-style google-ads" aria-hidden="true">
  <div class="advert-link">
    <div class="advert-content">
        <div class="medium-large" data-advert="/76889402/non-targeted" data-advert-sizes="300, 250"></div>
        <div class="small" data-advert="/76889402/non-targeted" data-advert-sizes="300, 250"></div>
    </div>
  </div>
</div>
@{
    ViewBag.AmazonSlot = "'amznslots'";
    ViewBag.AmazonAds = "'3199'"; // to add another value, this needs to be ViewBag.AmazonAds = "'3199','xx'";
}
      

 </div>
    
    <div data-set="sidenav-container" class="small-medium"></div>
  </div>
</div>
 
 
        
        
        
            @{ViewBag.Description = "Terms and conditions  for use of the Bus and Tram Discount scheme";}
        
            
        


 