
    
  



@{ViewBag.Title = "Announcements";}
@{ViewBag.Keywords = "TfL";}
@{ViewBag.Url = "/info-for/investors/announcements";}
@{ViewBag.Language = "en";}
        <!-- empty placeholder -->
 
        
        
<div class="r">
    <div class="breadcrumb-container" role="navigation">
        <span id="breadcrumb-label" class="visually-hidden">You are here:</span>
        <ol class="breadcrumbs clearfix" aria-labelledby="breadcrumb-label">
            <li class="home">
                <a href="/">
                    <span class="hide-text">Home</span>
                </a>
            </li>
            
                 <li><a href="/info-for/investors/index">Investors</a></li>
                
            
            
                <li><span class="last-breadcrumb">Announcements</span></li>
            
        
 
        
 
        </ol>
    </div>
</div>
     
 
<div class="r">
  <div class="headline-container plain">
    <h1>Announcements</h1>

  </div>
</div>
<div class="main-and-aside r">
  
  <div class="main content-container" role="main">
    
      <div class="article-teaser">
        Read the latest news and announcements for investors.
        
      </div>
    
    <div class="on-this-page">
      <h3>2019/20</h3>

<h3>24&nbsp;January 2020&nbsp;- Publication of Prospectus Supplement</h3>

<p>The following prospectus supplement has been approved by the United Kingdom Financial Conduct Authority and is available for viewing.</p>

<p>Prospectus Supplement dated 24 January 2020 (the "Supplement") relating to the Transport for London &pound;5,000,000,000 Euro Medium Term Note Programme.</p>

<p>Prospectus Supplement should be read and construed in conjunction with the base prospectus dated 12 July 2019 as supplemented by the first supplement dated 5 August 2019 (the "First Supplement") (together with the First Supplement and the Supplement, the "Base Prospectus").</p>

<p>&nbsp;A copy of the Supplement is available for viewing on the <a href="/info-for/investors/borrowing-program/borrowing-programme-documents">Borrowing programme documents page</a>.</p>

<h3>20 November 2019 - Crossrail revenue forecast update</h3>

<p>Further to Crossrail Limited ("CRL") recently advising TfL of projected delays in the opening of the Elizabeth line, TfL has been working on modelling scenarios in relation to potential passenger revenue impact.</p>

<p>On 8 November 2019, TfL announced that CRL's latest assessment was that the opening of the central section will not occur in 2020, but that the Elizabeth line will open as soon as practically possible in 2021. A more comprehensive update is expected early in 2020.</p>

<p>While awaiting further clarity on the opening dates, TfL has been modelling the potential impact on forecast revenues, consistent with the scenarios used for the additional capital costs announced on 8 November 2019. The approximate reduction in forecast revenues compared to TfL's 2018 Business Plan is expected to be between &pound;500m and &pound;750m spread across the next four financial years, with most of the impact forecast in 2021/22 and 2022/23. These current revenue impact assumptions will be fully addressed in TfL's 2019 update to its Business Plan, which is due to be published in December.</p>

<p>TfL continues to keep the Mayor of London and TfL Board regularly updated.</p>

<h3>8 November 2019 - Crossrail opening and cost forecast update</h3>

<p>Crossrail Limited ("CRL") advised TfL that there are some projected delays in the opening of the Elizabeth line and it is likely that additional funding would be required to cover the higher levels of risk contingency.</p>

<p>On 10 December 2018, TfL announced a financing package provided by the Department for Transport, the Greater London Authority and TfL to support the final stages of the Crossrail project and open the Elizabeth line to passengers (the "Financing Package").</p>

<p>On 18 September 2019, TfL announced a range of risk contingency provisions contained in CRL's cost forecasts, reflecting project uncertainties. The latest projections now show a central cost forecast (including risk contingency) of approximately &pound;15,363m, which is &pound;400m more than the funding committed under the Financing Package. Further modelling scenarios consider even higher levels of risk of &pound;650m more than the funding committed under the Financing Package.</p>

<p>TfL has agreed with the Department for Transport ("DfT") that the Financing Package will remain in place. TfL and DfT are in discussion regarding how funding of these additional costs will be resolved.</p>

<p>TfL has been advised by CRL that their latest assessment is that the opening of the central section will not occur in 2020 which was the first part of the previously declared opening window. The Elizabeth line will open as soon as practically possible in 2021. A more comprehensive update is expected early in 2020. In the meantime, any potential financial impacts to TfL's passenger revenues will be considered in TfL's 2019 update to its Business Plan.</p>

<p>TfL continues to keep the Mayor of London and TfL Board regularly updated.</p>

<h3>17 October 2019 - Commissioner of Transport for London (TfL)</h3>

<p>TfL today announces that Mike Brown MVO, Commissioner of TfL, has accepted the appointment of Chair of the Delivery Authority for the Restoration and Renewal of the Houses of Parliament. Mike Brown will continue to act as Commissioner of TfL until he starts his new role in May 2020. A full recruitment for a replacement Commissioner will commence in due course.</p>

<h3>18 September 2019 &#45; Crossrail opening and cost forecast remain on track</h3>

<p>Crossrail Limited ("CRL") today confirmed to the TfL Board that it remains on track to open the Elizabeth line within the October 2020 to March 2021 window previously identified, and that no additional funding is needed at this time.</p>

<p>On 10 December 2018, TfL announced a financing package provided by the Department for Transport, the Greater London Authority ("GLA") and TfL to support the final stages of the Crossrail project and open the Elizabeth line to passengers (the "Financing Package").</p>

<p>At the TfL Board meeting it was noted that CRL is now delivering against a new detailed delivery schedule that has been agreed by its Board, with significant recent milestones achieved including the handover of major assets to TfL such as Mile End Shaft and Victoria Dock Portal; and the removal of construction hoardings at Farringdon station. Significant and complex work is still necessary before the Elizabeth line can open to passengers and, while the project remains within the agreed delivery window, there is still a high level of uncertainty remaining in the Crossrail project programme.</p>

<p>To reflect this uncertainty, CRL's cost forecasts contain additional risk contingency provisions. Current projections show a central cost forecast (including risk contingency) of &pound;15,005m, which is &pound;42m more than the funding committed under the Financing Package. Additional modelling scenarios include a significantly higher level of risk contingency, up to &pound;394m more than the committed funding, and opening later in 2021. CRL has further work to do to fully develop its cost forecasts and risk mitigation actions including quantifying the potential savings that could arise from their implementation. No additional funding has been requested and through appropriate cost control and risk mitigation strategies, delivery can be achieved within the Financing Package.</p>

<p>TfL will work with the Department for Transport, as joint sponsors, and the GLA to conduct contingency planning for the event that the identified risks are not mitigated sufficiently and additional funding in excess of the Financing Package is required in due course and will continue to keep the Mayor of London and TfL Board regularly updated. Any potential material financial impact will be reflected in TfL's 2019 update to its Business Plan, which is due to be published later this autumn.</p>

<h3>5 August 2019 &#45; Publication of Prospectus Supplement</h3>

<p>The following prospectus supplement has been approved by the United Kingdom Financial Conduct Authority and is available for viewing: Prospectus Supplement dated 5 August 2019 (the "Supplement") relating to the Transport for London &pound;5,000,000,000 Euro Medium Term Note Programme.</p>

<p>Prospectus Supplement should be read and construed in conjunction with the base prospectus dated 12 July 2019 (together with the Supplement, the "Base Prospectus"). A copy of the Supplement is available for viewing on the <a href="/info-for/investors/borrowing-program/borrowing-programme-documents">Borrowing programme documents page</a>.</p>

<h3>1 August 2019 &#45; Publication of Annual Report and Statement of Accounts</h3>

<p>Transport for London ("TfL") has published its Annual Report and audited Statement of Accounts for the year ended 31 March 2019.</p>

<p>A copy of the Annual Report and Statement of Accounts is available for download on the <a href="/corporate/publications-and-reports/annual-report">Annual Report page</a>.</p>

<h3>12 July 2019 - Publication of Prospectus</h3>

<p>Base Prospectus dated 12 July 2019 (the "Base Prospectus") relating to the Transport for London &pound;5,000,000,000 Euro Medium Term Note Programme</p>

<p>A copy of the Base Prospectus is available for viewing on the <a href="https://tfl.gov.uk/forms/13798.aspx">Public market borrowing page</a>.</p>

<p>A copy of the Base Prospectus and the documents incorporated by reference therein have been submitted to the National Storage Mechanism and will shortly be available for inspection at: <a href="http://www.morningstar.co.uk/uk/NSM">http://www.morningstar.co.uk/uk/NSM</a></p>

<h3>25 April 2019 - Elizabeth Line Opening Programme</h3>

<p>Over the past few months Crossrail Limited (a wholly owned subsidiary of Transport for London (TfL)) has been reviewing the delivery programme for the Elizabeth line and developing the related cost profile.</p>

<p>TfL expects, based on the work undertaken to date by Crossrail Limited, to open the central section of the Elizabeth line within a six month window with a midpoint at the end of 2020. It is expected that all stations on the route will open except for Bond Street which will be delayed because of design and delivery challenges. Once the central section opens, full services across the Elizabeth line from Reading and Heathrow in the west to Abbey Wood and Shenfield in the east, will commence as soon as possible.</p>

<p>Crossrail Limited has advised TfL that at the date of this announcement the capital costs to complete the central section of the Elizabeth line are expected to remain within the available funding package agreed between the Department for Transport, the Greater London Authority and TfL in December 2018.</p>

<p>An opening date within the period outlined by Crossrail Limited is expected to have no material impact on TfL's revenues in the current financial year (2019/20). As Crossrail Limited continues to refine its plans for completing and opening the Elizabeth line, TfL will continue to assess the potential net impact on its financial position. Any potential material financial impact beyond 2019/20 will be reflected in TfL's 2019 update to its Business Plan, in accordance with TfL's legal requirement for a balanced budget.</p>

<h2>2018/19</h2>

<h3>26 February 2019 - Fitch has placed TfL on Ratings Watch Negative</h3>

<p>Transport for London ("TfL") announces that, reflecting the placement by Fitch Ratings Limited ("Fitch") of the United Kingdom's 'AA' Long-term Foreign- and Local-Currency Issuer Default Rating (IDRs) on Rating Watch Negative ("RWN") on 20 February 2019, Fitch has also placed TfL's 'AA-' Long-term Foreign and Local-Currency IDRs and 'AA-' senior unsecured long-term rating on RWN.</p>

<p>The RWN of the UK indicates a heightened probability of a downgrade in the near term. Fitch will look to resolve the RWN of the UK during the first half of this year, in light of the UK's scheduled exit from the EU. TfL expects its RWN to be resolved in a similar timeframe.</p>

<p>The action by Fitch on Transport for London reflects the application of Fitch's "Government-Related Entities Rating Criteria" (GRE) methodology, according to which when the assessment of support is strong or better, the primary driver of the GREs IDR will be that of the supporting government.</p>

<p>TfL's short-term IDR and senior unsecured short-term ratings of 'F1+' are unaffected.</p>

<h3>20 December 2018 - Credit Rating Affirmed by S&amp;P</h3>

<p>On 20 December 2018, S&amp;P Global Ratings (S&amp;P) affirmed its 'AA-/A-1+' issuer credit ratings on Transport for London (TfL) and changed the outlook to 'negative' from 'stable'.</p>

<p>S&amp;P put the ratings on CreditWatch negative on 5 September 2018, shortly after the announcement of the delay in opening of the Elizabeth Line. S&amp;P's decision to affirm the credit ratings and remove them from CreditWatch negative follows the recent announcement of a financing package to cover additional capital costs related to the delayed opening of the Elizabeth line and the publication of TfL's Business Plan.</p>

<p>Further information can be found in S&amp;P's Research Update on Transport for London published on 20 December 2018.</p>

<h3>11 December 2018 - 2018 Business Plan</h3>

<p>Transport for London (TfL) has today published its updated Business Plan, which covers the period from 2018/19 to 2023/24. The plan covers a number of changes compared to the 2017 Business Plan, including the financing agreement with government covering Crossrail Limited's cost overrun and the high level impact of the Elizabeth Line delay on TfL's expected income.</p>

<p>Pending the completion of the work to deliver a credible and robust schedule for the opening of the Elizabeth line, the plan includes a cautious planning assumption that the delay will reduce our previous revenue forecast by approximately &pound;0.2 billion in 2019/20, &pound;0.3 billion in 2020/21 and &pound;0.1 billion in 2021/22. This is expected to be offset by continuous savings and revenue growth programmes and allocating a small proportion of business rates funding to operating expenditure.</p>

<p>Because of the delay to the opening of the Elizabeth line, a subdued economy and the removal of Government operating grant, TfL is now forecasting to achieve a surplus on its net cost of operations in 2022/23, one year later than planned.</p>

<p>The Business Plan will be presented for approval to TfL's Finance Committee at a planned meeting on Thursday 13 December 2018.</p>

<p>A copy of the 2018 Business Plan is available for download from the <a href="/corporate/publications-and-reports/business-plan">Budget and Business Plan page</a>.</p>

<h3>10 December 2018 - New financing agreement for the Crossrail project</h3>

<p>New financing agreement for final stages of the Crossrail Project:</p>

<p>Transport for London ("TfL") announces that, after a period of negotiation, the financing package for Crossrail Limited has been agreed between TfL, the Greater London Authority ("GLA") and Her Majesty's Government, allowing completion of the Crossrail Project.</p>

<p>Crossrail Limited announced in August 2018 that it expects the Elizabeth line to open through central London in autumn 2019, rather than December 2018, with a revised delivery schedule needed to complete the final infrastructure and extensive testing to ensure the railway opens safely and reliably.</p>

<p>Independent reviews into Crossrail Limited's financial and governance arrangements to ensure the right scrutiny and oversight are in place as the project enters its final phase, and that Crossrail Limited's financial and schedule projections are robust, are nearing completion.</p>

<p>The emerging findings of the independent review into Crossrail Limited's finances indicate the likely capital cost impact of the delay to the project announced in August 2018 could be in the region of between &pound;1.6 billion and &pound;2.0 billion. That includes the &pound;300 million already contributed by TfL and the Department for Transport ("DfT") following an announcement in July 2018, leaving an estimated &pound;1.3 billion to &pound;1.7 billion to complete the project.&nbsp;</p>

<p>The agreed financing package has been designed to cover this as follows:</p>

<p>a)&nbsp;an initial &pound;1.4 billion will be funded by the GLA and passed to TfL as grant for the purposes of the Crossrail Project; and</p>

<p>b)&nbsp;a further contingency loan facility with a total value of between &pound;350 million and &pound;750 million will be made available to TfL directly by the DfT, should the higher end of the estimated cost range be realised.&nbsp;</p>

<p>TfL, the GLA and the DfT will continue to work together to finalise the documentation and terms required for the financing to be drawn. As part of the arrangements, and given this financing package is designed to support the project to completion, certain existing triggers for exercise of the Put and Call options, allowing for the transfer of the Crossrail Project from TfL to DfT in certain circumstances, will be removed.</p>

<p>The interim financing of &pound;350 million announced in October 2018 by Her Majesty's Government is superseded by this funding and financing package. DfT will continue to be responsible for the funding of the additional Network Rail works.</p>

<p>New management joined the Crossrail project in November and has been reviewing the work still required to complete the core stations and tunnel infrastructure and begin the critical safety testing. The opening date could not be currently committed to and will be confirmed once a comprehensive update to the overall work programme is completed.</p>

<p>As a result of the delay in the opening of the Elizabeth line services, TfL will see a reduction in its estimated passenger revenues. Pending the confirmation of the new opening date, the high level implications for TfL will be incorporated into its annual business plan document, which will be published later this month.</p>

<h3>26 October 2018 -&nbsp;Crossrail Delay</h3>

<p>Transport for London ("TfL") announces that on 26 October 2018 Her Majesty's Government issued an update on Crossrail by way of written statement to Parliament.</p>

<p>The statement confirms an interim financing package between the Government and the Mayor of London. The Department for Transport will provide a short-term loan of &pound;350m to London, which will enable Crossrail Limited to continue its construction work and vital testing at pace to open the Elizabeth line to passengers as quickly as possible.&nbsp;</p>

<p>The joint sponsors of the project have com missioned independent reviews into Crossrail Limited's governance and financing to ensure its projections are robust. These reviews are being carried out by KPMG and once this work is finalised a full financing agreement will be developed by the Government and Mayor of London.</p>

<p>In addition, as a result of the delay in the opening of the Elizabeth line services, TfL is likely to see a reduction in its estimated passenger revenues. The full implications for TfL will be set out as part of the annual business planning process at the end of 2018.</p>

<h3>31 August 2018 -&nbsp;Elizabeth Line services through central London</h3>

<p>Transport for London ("TfL") confirms that Elizabeth line services through central London are expected to open in autumn 2019. The revised schedule is needed by Crossrail Limited to complete the final infrastructure and testing required to ensure the Elizabeth line opens as a safe and reliable railway.</p>

<p>Crossrail Limited are working to establish any additional impact on funding from the revised schedule.</p>

<h3>31 July 2018 - TfL Annual Report 2017/18</h3>

<p>Transport for London ("TfL") has published its Annual Report and audited Statement of Accounts for the year ended 31 March 2018.</p>

<p>A copy of the Annual Report and Statement of Accounts is available for download on the <a href="/corporate/publications-and-reports/annual-reports-past-years">Annual Reports - past years page</a>.</p>

<h3>24 July 2018 - Annual Update on Crossrail 2018</h3>

<p>Transport for London ("TfL") announces that on 24 July 2018 Her Majesty's Government issued its Annual Update on Crossrail 2018 by way of written statement to Parliament.</p>

<p>The statement reports on progress made with the Crossrail project in the past year and sets out that an additional four per cent of funding will be provided to supplement the 2010 funding in order to complete the transformational project. TfL's contribution will be &pound;150m.</p>

<h2>2017/18</h2>

<h3>13 March 2018 - Credit Rating Action</h3>

<p>On 13 March 2018, S&amp;P Global Ratings (S&amp;P) lowered its long-term issuer credit rating of TfL to 'AA-' from 'AA' and changed the outlook to 'stable' from 'negative'. At the same time, S&amp;P affirmed its 'A-1+' short-term rating of TfL.</p>

<p>The stable outlook reflects their expectation that pressure on TfL's financial position will be balanced in the coming years by an increase in passenger journeys following the opening of the Elizabeth line and savings from its cost reduction programme.</p>

<h3>27 September 2017 - TfL Credit Rating</h3>

<p>On 26 September 2017, Moody's Public Sector Europe (Moody's) lowered its long-term issuer rating of TfL to 'Aa3' from 'Aa2' and changed the outlook to stable from negative. At the same time, Moody's affirmed its 'P-1' short-term issuer rating of TfL.</p>

<p>The rating action on TfL follows the downgrade by Moody's of the UK's long-term issuer rating to 'Aa2' from 'Aa1' and the change of the outlook to stable from negative on 22 September 2017. It reflects the close institutional, operational and financial linkages between TfL and the UK sovereign.</p>

<h3>26 September 2017 - TfL Annual Report and Statement of Accounts</h3>

<p>Transport for London ("TfL") has published its Annual Report and audited Statement of Accounts for the year ended 31 March 2017.</p>

<p>A copy of the Annual Report and Statement of Accounts is available for download on the <a href="/corporate/publications-and-reports/annual-reports-past-years">Annual Reports - past years page</a>.</p>

<h2>2016/17</h2>

<h3>31 March 2017 - TfL Funding Agreement</h3>

<p>TfL announces that it has received a revised funding agreement from the Secretary of State for Transport.</p>

<p>The revised funding agreement covers the period from 2017/18 to 2020/21 and replaces the previous funding agreement dated 2 March 2016.</p>

<p>The funding agreement may be found on TfL's website on the <a href="/info-for/investors/funding-letters">Funding letters page.</a></p>

<h3>19 July 2016 - TfL Annual Report and Statement of Accounts 2015/16</h3>

<p>Transport for London ("TfL") has published its Annual Report and audited Statement of Accounts for the year ended 31 March 2016.</p>

<p>A copy of the Annual Report and Statement of Accounts is available for download on the <a href="/corporate/publications-and-reports/annual-reports-past-years">Annual Reports - past years page</a>.</p>

<h3>4 July 2016 - Review of TfL's Credit Rating</h3>

<p>On 1 July 2016, Fitch Ratings (Fitch) lowered its long-term issuer credit rating of TfL to 'AA-' from 'AA' and revised the outlook to negative from stable. At the same time, Fitch affirmed its 'F1+' short-term issuer credit rating of TfL.</p>

<p>The rating action reflects the downgrade by Fitch on the UK's long-term issuer credit rating, which was lowered to 'AA' from 'AA+' and revision of the outlook to negative from stable on 27 June 2016.&nbsp; This action primarily reflects the UK referendum vote on 23 June 2016 to leave the European Union.</p>

<h3>30 June 2016 - Review of TfL's Credit Rating</h3>

<p>On June 29 2016, S&amp;P Global Ratings (S&amp;P) lowered its long-term issuer credit rating of TfL to 'AA' from 'AA+'. At the same time, S&amp;P affirmed its 'A-1+' short-term issuer credit rating of TfL. The outlook is negative.</p>

<p>The rating action on TfL follows the change to the UK's long-term credit rating, which was lowered to 'AA' from 'AAA' on 27 June 2016.</p>

<p>The negative outlook represents risks to the institutional framework for UK local and regional governments, and uncertainty arising from the UK's decision to leave the EU in the recent referendum.</p>

<p>Separately, on 29 June 2016, Moody's Public Sector Europe (Moody's) changed the outlook on TfL from stable to negative and affirmed TfL's Aa2 long-term rating. The action followed a referendum vote in favour of the UK leaving the European Union and the change in the outlook on the UK's Aa1 government bond rating to negative from stable on 24 June 2016. TfL's P-1 short-term rating by Moody's was affirmed.</p>

<h3>24 May 2016 - Chair of the Transport for London board</h3>

<p>In the context of its &pound;5,000,000,000 European Medium Term Note Programme and the Notes issued thereunder, Transport for London ("TfL") announces that the Mayor of London, Sadiq Khan, has taken up the role of chair of the TfL Board.</p>

<h2>2015/16</h2>

<h3>3 March 2016 - Spending Review 2015: TfL Funding Agreement</h3>

<p>TfL announces that following the 2015 Comprehensive Spending Review, TfL has now received a revised funding agreement from the Secretary of State for Transport.</p>

<p>The revised funding agreement covers the period from 2016/17 to 2020/21 and replaces the previous funding agreement of 2013.</p>

<p>The funding agreement may be found on TfL's website on the <a href="/info-for/investors/funding-letters">Funding letters page</a>.</p>

<h3>24 September 2015 - Commissioner of Transport For London</h3>

<p>The Mayor of London, Boris Johnson and the Board of TfL on 24 September 2015 have confirmed the appointment of Mike Brown MVO as the new Commissioner of Transport for London, following an international recruitment and selection process. Mike Brown, who has been Interim Commissioner since 16 July 2015 following the appointment of former Commissioner Sir Peter Hendy CBE as Chairman of Network Rail, will take up the post with immediate effect.</p>

<p>Mike Brown has been TfL's Managing Director of London Underground and Rail since 2010, where he has overseen record performance of the Tube, DLR and London Overground alongside the vital modernisation of the network and customer service.</p>

<h3>23 July 2015 - Publication of MTN Prospectus</h3>

<p>The following prospectus has been approved by the UK Listing Authority and is available for viewing:</p>

<p>Prospectus dated 23 July 2015 (the "Base Prospectus") relating to the Transport for</p>

<p>London &pound;5,000,000,000 Euro Medium Term Note Programme</p>

<p>A copy of the Base Prospectus and the documents incorporated by reference therein have been submitted to the National Storage Mechanism and will shortly be available for inspection at: <a href="http://www.morningstar.co.uk/uk/NSM">http://www.morningstar.co.uk/uk/NSM</a></p>

<h3>17 July 2015 - Managing Director, Finance of Transport for London</h3>

<p>Transport for London announces that Steve Allen Managing Director, Finance is stepping down from his role with effect from 1 October 2015 to take up a new position of Chief Financial Officer at HS2 Limited.</p>

<p>Ian Nunn, who is joining TfL as Chief Finance Officer on 1 September 2015, will be interim Managing Director, Finance until a permanent appointment is made. Ian is currently Chief Financial Officer at the Ordnance Survey and was previously the Chief Financial Officer of Eurostar.</p>

<h3>15 July 2015 - TfL Annual Report and Statement of Accounts 2014/15</h3>

<p>Transport for London ("TfL") has published its Annual Report and audited Statement of Accounts for the year ended 31 March 2015.</p>

<p>A copy of the Annual Report and Statement of Accounts is available for download on the <a href="/corporate/publications-and-reports/annual-reports-past-years">Annual Reports - past years page</a>.</p>

<h3>26 June 2015 - Commissioner of Transport for London</h3>

<p>The Secretary of State for Transport on 25 June 2015 announced that Sir Peter Hendy CBE, Commissioner of TfL, has accepted the appointment of Chair of Network Rail with effect from 16 July 2015. With effect from this date, Mike Brown MVO, currently Managing Director, London Underground and London Rail, will be acting Commissioner of TfL, pending a full recruitment process.</p>

<h3>22 April 2015 - TfL Publishes Final Terms for issue of &pound;400m 2.125% Notes due April 2025</h3>

<p>The following final terms (the &quot;Final Terms&quot;) are available for viewing:</p>

<p>Final Terms dated 22 April 2015 relating to the issue by Transport for London of &pound;400,000,000 2.125 per cent. Notes due April 2025 under the &pound;5,000,000,000 Euro Medium Term Note Programme.</p>
      
           
      
<div>





<div class="multi-document-download-container">
    

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/rns-apr-2025-bond-final-terms.pdf">
    <div class="document-download-text">
        <p>TfL publishes Final Terms for issue of &pound;400m 2.125% Notes due April 2025</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 20KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.02 -->
 
</div>

</div>
 
<div>




<h2>2014/15</h2>

<h3>11 December 2014 - 2014 Business Plan</h3>

<p>Transport for London (TfL) has today published its updated Business Plan, which covers the period from 2014/15 to 2020/21.</p>

<p>A copy of the 2014 Business Plan is available for download on the <a href="/corporate/publications-and-reports/budget-and-business-plan-past-years">Budget &amp; Business Plan - past years page</a>.</p>

<h3>16 July 2014 - TfL Annual Report and Statement of Accounts 2013/14</h3>

<p>Transport for London ("TfL") has published its Annual Report and audited Statement of Accounts for the year ended 31 March 2014.</p>

<p>A copy of the Annual Report and Statement of Accounts is available for download on the <a href="/corporate/publications-and-reports/annual-reports-past-years">Annual Reports - past years page</a>.</p>

<h3>14 May 2014 - TfL publishes Final Terms for &pound;130m tap of existing 4% Notes due April 2064</h3>

<p>Final Terms dated 12 March 2014 relating to the issue by Transport for London of &pound;370,000,000 4 per cent. Notes due April 2064 under the &pound;5,000,000,000 Euro Medium Term Note Programme.</p>

<p>A copy of the Final Terms has been submitted to the National Storage Mechanism and will shortly be available for inspection at: <a href="http://www.morningstar.co.uk/uk/NSM">http://www.morningstar.co.uk/uk/NSM</a></p>
<div class="multi-document-download-container">
    

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/rns-tfl-april-2064-bond-final-terms-14-05-2014.pdf">
    <div class="document-download-text">
        <p>TfL publishes Final Terms for &pound;130m tap of existing 4% Notes due April 2064</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 26KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.03 -->
 
</div>

</div>
 
      
        
          
            @this.ScriptBlock(
              @<script>
                queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
              </script>
            )
          
        
      
    </div>
  </div>
  <div class="aside" role="complementary">

   
    
    
    
      <div data-set="sidenav-container" class="large">
        
        
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
                <a href="/info-for/investors/index" class="heading">
                    <h2 id="sub-menu-heading">Investors<span class="visually-hidden"> navigation</span></h2>
                </a>
                <ul>
                    
                                <li><div class="link-wrapper"><a href="/info-for/investors/credit-highlights">Credit highlights</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/investors/Ratings">Ratings</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/investors/funding-sources">Funding sources</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/investors/borrowing-programme">Borrowing programme</a></div></li>
                            
 
                                <li class="selected"><div class="link-wrapper"><a href="/info-for/investors/announcements">Announcements</a></div>
                            </li>
 
                                <li><div class="link-wrapper"><a href="/info-for/investors/reports">Reports</a></div></li>
                            
 
                </ul>
            
 
 
 
 
 
 
 
 
 
 
 
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
      </div>
    
    <div></div>
    
    <div data-set="sidenav-container" class="small-medium"></div>
  </div>
</div>
 
 
        
        
        
            @{ViewBag.Description = " Read the latest news and announcements for investors";}
        
            
        


 