
    
  



@{ViewBag.Title = "Borrowing programme";}
@{ViewBag.Keywords = "TfL";}
@{ViewBag.Url = "/info-for/investors/borrowing-programme";}
@{ViewBag.Language = "en";}
        <!-- empty placeholder -->
 
        
        
<div class="r">
    <div class="breadcrumb-container" role="navigation">
        <span id="breadcrumb-label" class="visually-hidden">You are here:</span>
        <ol class="breadcrumbs clearfix" aria-labelledby="breadcrumb-label">
            <li class="home">
                <a href="/">
                    <span class="hide-text">Home</span>
                </a>
            </li>
            
                 <li><a href="/info-for/investors/index">Investors</a></li>
                
            
            
                <li><span class="last-breadcrumb">Borrowing programme</span></li>
            
        
 
        
 
        </ol>
    </div>
</div>
     
 
<div class="r">
  <div class="headline-container plain">
    <h1>Borrowing programme</h1>

  </div>
</div>
<div class="main-and-aside r">
  
  <div class="main content-container" role="main">
    
      <div class="article-teaser">
        Prudent borrowing is an important source of financing and supports our capital investment programme, enabling us to make vital improvements to our network
        
      </div>
    
    
      <h2>Public market borrowing programmes</h2>

<p>Investment in Transport for London can be made through either of our two public market borrowing programmes:</p>

<ul>
	<li>A &pound;5bn Medium Term Note (MTN)</li>
	<li>A &pound;2bn Commercial Paper (CP)</li>
</ul>

<p>Download documents related to the <a href="/info-for/investors/borrowing-program/borrowing-programme-documents">MTN and CP programmes.</a></p>

<p>&nbsp;</p>
      
           
      <div>

<h2>Green Financing</h2>

<p>We have a key role in shaping what life is like in London. We are committed to creating a fairer, greener, healthier and more prosperous city. The Mayor's Transport Strategy sets a target for 80 per cent of all journeys to be made on foot, by cycle or using public transport by 2041. By improving and expanding public transport, we can make people's lives easier and increase the appeal of sustainable travel.</p>

<p>We issued our debut sterling Green Bond in April 2015 to contribute to the financing of five eligible green project categories, as detailed in our 2015 Green Bond framework. DNV GL Business Assurance Services Limited (DNV GL) provided a second party opinion of the 2015 Green Bond framework, including an assessment of the alignment with the Green Bond principles and a review of the environmental benefits of the eligible green project categories.</p>

<p>We have since expanded on our 2015 Green Bond framework, publishing the new Green Bond framework in&nbsp;February 2020. This framework is in accordance with the ICMA Green Bond Principles 2018.</p>

<p>We engaged Sustainalytics to provide a Second Party Opinion on the new Green Bond framework to confirm its alignment with the ICMA Green Bond Principles 2018.</p>
</div>
 
<div>



<h2>Green Bond Framework 2020</h2>



<div class="multi-document-download-container">
    

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/tfl-green-bond-framework-2020.pdf">
    <div class="document-download-text">
        <p>TfL Green Bond Framework 2020</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 5.83MB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 5.83 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/tfl-green-bond-framework-2020-second-party-opinion.pdf">
    <div class="document-download-text">
        <p>TfL Green Bond Framework 2020 Second Party Opinion</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 383KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.37 -->
 
</div>
<p>Any reports issued in relation to the 2020 Green Bond framework will be published here.</p>
</div>
 
<div>



<h2>Green Bond Framework 2015</h2>



<div class="multi-document-download-container">
    

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/tfl-green-bond-framework-2015.pdf">
    <div class="document-download-text">
        <p>TfL Green Bond Framework 2015</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 232KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.23 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/dnv-gl-green-bond-opinion.pdf">
    <div class="document-download-text">
        <p>TfL Green Bond Framework 2015 Second Party Opinion</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 386KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.38 -->
 
</div>

</div>
 
<div>




<p>We publish a <a href="/corporate/publications-and-reports/health-safety-and-environment">TfL Health, Safety and Environment report&nbsp; </a>on an annual basis. We have also published a management assertion on the use of proceeds in relation to the TfL 2.125% Notes Due 24 April 2025. As of 31 March 2019 there have been no changes to the allocation of the proceeds from these Notes since 31 March 2016, as reported in the management assertion below.</p>
<div class="multi-document-download-container">
    

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/tfl-green-bond-management-assertion-2016.pdf">
    <div class="document-download-text">
        <p>Use of Proceeds management assertion (2016)</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 412KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.40 -->
 
</div>

</div>
 <div>


</div>
 
      
        
          
        
      
    
  </div>
  <div class="aside" role="complementary">

   
    
    
    
      <div data-set="sidenav-container" class="large">
        
        
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
                <a href="/info-for/investors/index" class="heading">
                    <h2 id="sub-menu-heading">Investors<span class="visually-hidden"> navigation</span></h2>
                </a>
                <ul>
                    
                                <li><div class="link-wrapper"><a href="/info-for/investors/credit-highlights">Credit highlights</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/investors/Ratings">Ratings</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/investors/funding-sources">Funding sources</a></div></li>
                            
 
                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/investors/borrowing-programme">Borrowing programme</a></div>
                                <ul>
                                    
                                <li><div class="link-wrapper"><a href="/info-for/investors/borrowing-program/borrowing-programme-documents">Borrowing programme documents</a></div></li>
                            
 
                                </ul>
                            </li>
 
                                <li><div class="link-wrapper"><a href="/info-for/investors/announcements">Announcements</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/investors/reports">Reports</a></div></li>
                            
 
                </ul>
            
 
 
 
 
 
 
 
 
 
 
 
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
      </div>
    
    <div></div>
    
    <div data-set="sidenav-container" class="small-medium"></div>
  </div>
</div>
 
 
        
        
        
            @{ViewBag.Description = "Investment in TfL can be made through our public market borrowing programmes";}
        
            
        


 