
    
  



@{ViewBag.Title = "Credit highlights";}
@{ViewBag.Keywords = "TfL";}
@{ViewBag.Url = "/info-for/investors/credit-highlights";}
@{ViewBag.Language = "en";}
        <!-- empty placeholder -->
 
        
        
<div class="r">
    <div class="breadcrumb-container" role="navigation">
        <span id="breadcrumb-label" class="visually-hidden">You are here:</span>
        <ol class="breadcrumbs clearfix" aria-labelledby="breadcrumb-label">
            <li class="home">
                <a href="/">
                    <span class="hide-text">Home</span>
                </a>
            </li>
            
                 <li><a href="/info-for/investors/index">Investors</a></li>
                
            
            
                <li><span class="last-breadcrumb">Credit highlights</span></li>
            
        
 
        
 
        </ol>
    </div>
</div>
     
 
<div class="r">
  <div class="headline-container plain">
    <h1>Credit highlights</h1>

  </div>
</div>
<div class="main-and-aside r">
  
  <div class="main content-container" role="main">
    
      <div class="article-teaser">
        Our principal activity is to provide safe, integrated, efficient and economic transport facilities and services within Greater London.
        
      </div>
    
    
      <h2>Critical for the London economy</h2>

<ul>
	<li>Monopoly provider of essential public transport services in London</li>
	<li>Four billion journeys per year, with capacity investments to increase ridership</li>
	<li>Total asset base of more than &pound;40bn</li>
	<li>Driving economic growth and supporting jobs across the UK</li>
</ul>

<h2>Consistent delivery of balanced Business Plan</h2>

<ul>
	<li>Transparent financial planning and commitment to fiscal discipline</li>
	<li>Strong track record of meeting operational goals and reducing costs by over &pound;1bn since 2015/16</li>
	<li>Continually seeking to diversify revenue streams and grow non-fare revenues</li>
</ul>

<h2>Central and local government support</h2>

<ul>
	<li>Key functional body of London's regional government (the GLA)</li>
	<li>&pound;1.9bn grant received from the GLA annually</li>
	<li>Direct access to liquidity from central government at 48 hours notice</li>
	<li>Borrowing treated as Public Sector Net Debt</li>
</ul>

<h2>Statutory framework</h2>

<ul>
	<li>Created by the Greater London Authority Act 1999</li>
	<li>Embedded in the local authority finance regime</li>
	<li>Legally required to maintain a balanced budget and have regard to CIPFAs Prudential Code</li>
</ul>
      
           
      
      
        
          
        
      
    
  </div>
  <div class="aside" role="complementary">

   
    
    
    
      <div data-set="sidenav-container" class="large">
        
        
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
                <a href="/info-for/investors/index" class="heading">
                    <h2 id="sub-menu-heading">Investors<span class="visually-hidden"> navigation</span></h2>
                </a>
                <ul>
                    
                                <li class="selected"><div class="link-wrapper"><a href="/info-for/investors/credit-highlights">Credit highlights</a></div>
                            </li>
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/investors/Ratings">Ratings</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/investors/funding-sources">Funding sources</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/investors/borrowing-programme">Borrowing programme</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/investors/announcements">Announcements</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/investors/reports">Reports</a></div></li>
                            
 
                </ul>
            
 
 
 
 
 
 
 
 
 
 
 
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
      </div>
    
    <div></div>
    
      <div class="module-grid clearfix">
                    
        <div class="related-links">

    <h3>Also on this site</h3>

<div class="vertical-button-container">

<a href="/corporate/about-tfl/what-we-do" class="plain-button">What we do</a>
    </div>
</div>
 
      </div>
    
    <div data-set="sidenav-container" class="small-medium"></div>
  </div>
</div>
 
 
        
        
        
            @{ViewBag.Description = "Several factors have helped to generate our solid credit ratings' performance";}
        
            
        


 