
    
  



@{ViewBag.Title = "Funding sources";}
@{ViewBag.Keywords = "TfL";}
@{ViewBag.Url = "/info-for/investors/funding-sources";}
@{ViewBag.Language = "en";}
        <!-- empty placeholder -->
 
        
        
<div class="r">
    <div class="breadcrumb-container" role="navigation">
        <span id="breadcrumb-label" class="visually-hidden">You are here:</span>
        <ol class="breadcrumbs clearfix" aria-labelledby="breadcrumb-label">
            <li class="home">
                <a href="/">
                    <span class="hide-text">Home</span>
                </a>
            </li>
            
                 <li><a href="/info-for/investors/index">Investors</a></li>
                
            
            
                <li><span class="last-breadcrumb">Funding sources</span></li>
            
        
 
        
 
        </ol>
    </div>
</div>
     
 
<div class="r">
  <div class="headline-container plain">
    <h1>Funding sources</h1>

  </div>
</div>
<div class="main-and-aside r">
  
  <div class="main content-container" role="main">
    
      <div class="article-teaser">
        We generate and receive more than &pound;10bn of income and funding each year.
        
      </div>
    
    
      <p>Our activities are funded from a range of sources, including:</p>

<ul>
	<li>Passenger income and other operating income</li>
	<li>Grants and third party funding</li>
	<li>Prudential borrowing</li>
</ul>

<p>Our Business Plan is financially balanced with planned funding sources meeting planned expenditure. We have a diverse mix of funding sources, with around half of our revenue coming from passenger income.&nbsp; We expect the proportion of funding from passenger income and commercial development to grow.</p>

<h2>Passenger income and other operating income</h2>

<p>Our passenger income is a strong revenue base. We forecast this income will continue to grow in the long term as a result of investment in new services and a growing population.</p>

<p>We also receive other operating income from road user charging (including the Congestion Charge and the Ultra-Low Emission Zone (ULEZ)) and commercial activities.&nbsp; We generate revenue from our large media and property estates.</p>

<h2>Grant income</h2>

<p>We receive grants from the Government and the Greater London Authority. These grants are used to fund both operating costs and investments. In line with the Government's devolution strategy, the majority of our grant funding comes from local business rates raised under the business rates retention scheme.</p>

<p><a href="/info-for/investors/funding-letters">Read a copy of the latest funding agreement letter and other Government correspondence.</a></p>

<p>Our grant funding includes additional grants for specific projects such as Crossrail and the Northern Line Extension. We also receive contributions from third parties for some projects.</p>

<h2>Prudential borrowing</h2>

<p>Our diverse portfolio of borrowing is governed by the Local Government Prudential Borrowing Regime. Incremental borrowing limits are set by the Mayor of London every year and are agreed with the Government as part of the Spending Review.</p>

<p>Our borrowing portfolio includes debt from the Public Works Loan Board, European Investment Bank and Export Development Canada as well as amounts outstanding under our Commercial Paper and Medium Term Note programmes.</p>

<p>To read more about our borrowing programme, please see the <a href="/info-for/investors/borrowing-programme">Borrowing programme page</a>.</p>
      
           
      
      
        
          
        
      
    
  </div>
  <div class="aside" role="complementary">

   
    
    
    
      <div data-set="sidenav-container" class="large">
        
        
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
                <a href="/info-for/investors/index" class="heading">
                    <h2 id="sub-menu-heading">Investors<span class="visually-hidden"> navigation</span></h2>
                </a>
                <ul>
                    
                                <li><div class="link-wrapper"><a href="/info-for/investors/credit-highlights">Credit highlights</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/investors/Ratings">Ratings</a></div></li>
                            
 
                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/investors/funding-sources">Funding sources</a></div>
                                <ul>
                                    
                                <li><div class="link-wrapper"><a href="/info-for/investors/funding-letters">Funding letters</a></div></li>
                            
 
                                </ul>
                            </li>
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/investors/borrowing-programme">Borrowing programme</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/investors/announcements">Announcements</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/investors/reports">Reports</a></div></li>
                            
 
                </ul>
            
 
 
 
 
 
 
 
 
 
 
 
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
      </div>
    
    <div></div>
    
    <div data-set="sidenav-container" class="small-medium"></div>
  </div>
</div>
 
 
        
        
        
            @{ViewBag.Description = "As well as fares and commercial operations, we get revenue from our government grant and a portion of business rates.";}
        
            
        


 