
    
  



@{ViewBag.Title = "Funding letters";}
@{ViewBag.Keywords = "TfL";}
@{ViewBag.Url = "/info-for/investors/funding-letters";}
@{ViewBag.Language = "en";}
        <!-- empty placeholder -->
 
        
        
<div class="r">
    <div class="breadcrumb-container" role="navigation">
        <span id="breadcrumb-label" class="visually-hidden">You are here:</span>
        <ol class="breadcrumbs clearfix" aria-labelledby="breadcrumb-label">
            <li class="home">
                <a href="/">
                    <span class="hide-text">Home</span>
                </a>
            </li>
            
                 <li><a href="/info-for/investors/index">Investors</a></li>
                
            
                 <li><a href="/info-for/investors/funding-sources">Funding sources</a></li>
                
            
            
                <li><span class="last-breadcrumb">Funding letters</span></li>
            
        
 
        
 
        
 
        </ol>
    </div>
</div>
     
 
<div class="r">
  <div class="headline-container plain">
    <h1>Funding letters</h1>

  </div>
</div>
<div class="main-and-aside r">
  
  <div class="main content-container" role="main">
    
      <div class="article-teaser">
        We receive part of our income in the form of a Government grant. Here you can find details of correspondence with Government over our funding settlements.
        
      </div>
    
    
      
      
           
      
<div>



<h2>Correspondence with Government</h2>



<div class="multi-document-download-container">
    

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/tfl-funding-agreement-letter-march-2017.pdf">
    <div class="document-download-text">
        <p>TfL funding agreement letter - March 2017</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 334KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.33 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/spending-review-2015-funding-agreement-letter-march-2016.pdf">
    <div class="document-download-text">
        <p>Spending Review 2015: TfL funding agreement letter - March 2016</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 632KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.62 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/letter-from-government-in-relation-to-transport-grant-november-2014.pdf">
    <div class="document-download-text">
        <p>Letter from Government relating to transport grant - November 2014</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 578KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.56 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/spending-review-2013-funding-agreement-letter-july-2013.pdf">
    <div class="document-download-text">
        <p>Spending Review 2013: TfL funding agreement letter - July 2013</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 148KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.14 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/letter-from-government-in-relation-to-gla-transport-grant-april-2013.pdf">
    <div class="document-download-text">
        <p>Letter from Government in relation to GLA transport grant - April 2013</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 48KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.05 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/letter-from-government-in-relation-to-gla-transport-grant-november-2012.pdf">
    <div class="document-download-text">
        <p>Letter from Government in relation to GLA transport grant - November 2012</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 261KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.25 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/letter-from-government-in-relation-to-local-government-resource-review.pdf">
    <div class="document-download-text">
        <p>Letter from Goverment in relation to local Government resource review - May 2012</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 40KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.04 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/gla-grant-re-profile-november-2011.pdf">
    <div class="document-download-text">
        <p>Letter from Goverment in relation to GLA transport grant - November 2011</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 1.44MB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 1.44 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/spending-review-2010-funding-agreement-letter.pdf">
    <div class="document-download-text">
        <p>Spending Review 2010: TfL funding agreement letter - October 2010</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 139KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.14 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/spending-review-clarification.pdf">
    <div class="document-download-text">
        <p>TfL 2007 Spending Review Settlement: Confirmation from Government</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 28KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.03 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/spending-review-settlement.pdf">
    <div class="document-download-text">
        <p>TfL 2007 Spending Review Settlement from Government - October 2007</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 54KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.05 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/spending-review-memorandum-of-understanding.pdf">
    <div class="document-download-text">
        <p>Memorandum of Understanding between Government and TfL - October 2007</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 23KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.02 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/debtreprofileagreementfromgov.pdf">
    <div class="document-download-text">
        <p>Letter from Government in relation to TfL's borrowing profile - March 2005</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 39KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.04 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/tfl2004spendingreviewsettlementfromgovernment.pdf">
    <div class="document-download-text">
        <p>TfL 2004 Spending Review Settlement from Government - July 2004</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 411KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.40 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/tflagreement2004spendingreviewsettlement.pdf">
    <div class="document-download-text">
        <p>Letter from TfL to Government accepting the 2004 Spending Review Settlement - July 2004</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 104KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.10 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/letterfromgovpppfunding.pdf">
    <div class="document-download-text">
        <p>Letter from Government in relation to PPP funding - February 2003</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 2.03MB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 2.03 -->
 
</div>

</div>
 
      
        
          
        
      
    
  </div>
  <div class="aside" role="complementary">

   
    
    
    
      <div data-set="sidenav-container" class="large">
        
        
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
                <a href="/info-for/investors/index" class="heading">
                    <h2 id="sub-menu-heading">Investors<span class="visually-hidden"> navigation</span></h2>
                </a>
                <ul>
                    
                                <li><div class="link-wrapper"><a href="/info-for/investors/credit-highlights">Credit highlights</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/investors/Ratings">Ratings</a></div></li>
                            
 
                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/investors/funding-sources">Funding sources</a></div>
                                <ul>
                                    
                                        <li class="selected"><div class="link-wrapper"><a href="/info-for/investors/funding-letters">Funding letters</a></div>
                                    </li>
 
                                </ul>
                            </li>
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/investors/borrowing-programme">Borrowing programme</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/investors/announcements">Announcements</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/investors/reports">Reports</a></div></li>
                            
 
                </ul>
            
 
 
 
 
 
 
 
 
 
 
 
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
      </div>
    
    <div>




















<div class="advert-tile unsponsored-style google-ads" aria-hidden="true">
  <div class="advert-link">
    <div class="advert-content">
        <div class="medium-large" data-advert="/76889402/non-targeted" data-advert-sizes="300, 250"></div>
        <div class="small" data-advert="/76889402/non-targeted" data-advert-sizes="300, 250"></div>
    </div>
  </div>
</div>
@{
    ViewBag.AmazonSlot = "'amznslots'";
    ViewBag.AmazonAds = "'3199'"; // to add another value, this needs to be ViewBag.AmazonAds = "'3199','xx'";
}
      

 </div>
    
    <div data-set="sidenav-container" class="small-medium"></div>
  </div>
</div>
 
 
        
        
        
            @{ViewBag.Description = "We receive part of our income in the form of a Government grant. Find the funding settlement from the UK Government as well as other relevant historic correspondence";}
        
            
        


 