
    
  


<!-- rhroot -->
@{ViewBag.Title = "Investors";}
@{ViewBag.Keywords = "TfL";}
@{ViewBag.Url = "/info-for/investors/index";}
@{ViewBag.Language = "en";}
        <!-- empty placeholder -->
 
        
        

  

<div class="r">
    <div class="breadcrumb-container" role="navigation">
        <span id="breadcrumb-label" class="visually-hidden">You are here:</span>
        <ol class="breadcrumbs clearfix" aria-labelledby="breadcrumb-label">
            <li class="home">
                <a href="/">
                    <span class="hide-text">Home</span>
                </a>
            </li>
            
            
                <li><span class="last-breadcrumb">Investors</span></li>
            
        
 
        </ol>
    </div>
</div>
     
 

  
  <div class="r">
    <div class="headline-container section-title section-landing-container ">
      <div class="section-title-wrap">
        <h1 class="hero-headline">Investors</h1>
        
      </div>
    </div>
  </div>



    
   
    <div class="r">
        <div class="main clearfix" role="main">
            
        
        
            <div class="section-overview full-width clearfix ">
                <div class="small-medium" data-set="section-intro"></div>
                <div>
                    <div class="large" data-set="section-intro">
                        
                    </div>
                <p>We are the integrated transport authority responsible for operating the Capital's public transport network and managing London's main roads.</p>
                </div>
            </div>
        
         
        
        
        
                
                <div class="clearfix">
                    <div>

<p><strong>Our long-term ratings are AA- with Standard &amp; Poor's, Aa3 with Moody's and AA- with Fitch.</strong></p>
<p>We represent an excellent opportunity for investors due to our status as a public sector body with close links to the UK Government, our strong statutory framework, the essential nature of our services to the London economy, and our strong operating and financial performance.</p>
</div>
 
                </div>
                <hr>
                
                
                <div class="module-grid clearfix">
                    
                    
                    
                    <div class="news-teaser">

    <a href="/info-for/investors/credit-highlights?intcmp=9438"  data-img="/cdn/static/cms/images/promos/big-ben-aerial_rdax_400x200.jpg" data-img-breakpoint="medium" data-img-alt="Big Ben tower from above">
        
        
        <div class="text-link">
             <h2>Credit highlights</h2>
            <p>Take a look at why investing in us is a prudent choice  </p>
        </div>
    </a>
</div>
 
 <div class="news-teaser">

    <a href="/info-for/investors/funding-sources?intcmp=9447"  data-img="/cdn/static/cms/images/promos/nbfl-row-of-buses_rdax_400x200.jpg" data-img-breakpoint="medium" data-img-alt="New Bus for London">
        
        
        <div class="text-link">
             <h2>Funding sources</h2>
            <p>Details of revenue streams and Government funding settlement.</p>
        </div>
    </a>
</div>
 
 <div class="news-teaser">

    <a href="/info-for/investors/Ratings?intcmp=13172" >
        
        
        <div class="text-link">
             <h2>Ratings</h2>
            <p>See how we are rated by the three leading international rating agencies</p>
        </div>
    </a>
</div>
 
 <div class="news-teaser">

    <a href="/info-for/investors/borrowing-programme?intcmp=9450" >
        
        
        <div class="text-link">
             <h2>Borrowing programme</h2>
            <p>Our Medium Term Note and Commercial Paper programmes</p>
        </div>
    </a>
</div>
 
 <div class="news-teaser">

    <a href="/info-for/investors/reports?intcmp=13705" >
        
        
        <div class="text-link">
             <h2>Reports</h2>
            <p>We publish a variety of financial reports and information for investors</p>
        </div>
    </a>
</div>
 
 <div class="news-teaser">

    <a href="/info-for/investors/announcements?intcmp=9441" >
        
        
        <div class="text-link">
             <h2>Announcements</h2>
            <p>Read our latest news and announcements </p>
        </div>
    </a>
</div>
 
 
                </div>
        
        
        
          
        
    </div>
    
      
      <div class="aside no-full-width-intro" role="complementary">
    
        <div data-set="sidenav-container" class="large">
          
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
                <a href="/info-for/investors/index" class="heading">
                    <h2 id="sub-menu-heading">Investors<span class="visually-hidden"> navigation</span></h2>
                </a>
                <ul>
                    
                                <li><div class="link-wrapper"><a href="/info-for/investors/credit-highlights">Credit highlights</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/investors/Ratings">Ratings</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/investors/funding-sources">Funding sources</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/investors/borrowing-programme">Borrowing programme</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/investors/announcements">Announcements</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/investors/reports">Reports</a></div></li>
                            
 
                </ul>
            
 
 
 
 
 
 
 
 
 
 
 
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>
        <div class="module-grid clearfix">
          
          <div>
    
    <div class="contact-info-box">
        <div class="contact-info-header">
            <h3>Contact us</h3>
        </div>
        
        
        
        
        <div class="content-group">
            
        <h4>Corporate Finance</h4>
        <a href="mailto:grouptreasury&#64;tfl.gov.uk">grouptreasury&#64;tfl.gov.uk</a>
            
        
        </div>
            
                
                 
        
        
        
        
        
        
        <div class="content-group">
            <p>Corporate Finance<br />
Transport for London<br />
197 Blackfriars Road<br />
Southwark<br />
London SE1 8NJ</p>
        </div>
        
    </div>
</div>
 
        </div>
        <div data-set="sidenav-container" class="small-medium"></div>
      </div>
  </div>
 
        
        
        
            @{ViewBag.Description = "Information for our investors includes ratings reports and details of our borrowing programme and funding sources";}
        
            
        


 