
    
  


<!-- rhroot -->
@{ViewBag.Title = "Ratings";}
@{ViewBag.Keywords = "TfL";}
@{ViewBag.Url = "/info-for/investors/Ratings";}
@{ViewBag.Language = "en";}
        <!-- empty placeholder -->
 
        
        
<div class="r">
    <div class="breadcrumb-container" role="navigation">
        <span id="breadcrumb-label" class="visually-hidden">You are here:</span>
        <ol class="breadcrumbs clearfix" aria-labelledby="breadcrumb-label">
            <li class="home">
                <a href="/">
                    <span class="hide-text">Home</span>
                </a>
            </li>
            
                 <li><a href="/info-for/investors/index">Investors</a></li>
                
            
            
                <li><span class="last-breadcrumb">Ratings</span></li>
            
        
 
        
 
        </ol>
    </div>
</div>
     
 
<div class="r">
  <div class="headline-container plain">
    <h1>Ratings</h1>

  </div>
</div>
<div class="main-and-aside r">
  
  <div class="main content-container" role="main">
    
      <div class="article-teaser">
        Our credit strengths are reflected by the fact we are rated within one notch of the UK Government by the three leading international rating agencies.
        
      </div>
    
    <div class="on-this-page">
      
      
           
      

<div class="table-container"><table>
	<thead>
	</thead>
	<tbody>
		<tr>
			<td colspan="1" rowspan="1">&nbsp;</td>
			<td colspan="1" rowspan="1"><strong>Standard &amp; Poor's</strong></td>
			<td colspan="1" rowspan="1"><strong>Moody's</strong></td>
			<td colspan="1" rowspan="1"><strong>Fitch</strong></td>
		</tr>
		<tr>
			<td headers="table_heading_0"><strong>Long-term rating</strong></td>
			<td headers="table_heading_1">AA-</td>
			<td headers="table_heading_2">Aa3</td>
			<td headers="table_heading_3">AA-</td>
		</tr>
		<tr>
			<td headers="table_heading_0"><strong>Outlook</strong></td>
			<td headers="table_heading_1">Negative</td>
			<td headers="table_heading_2">Stable&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>
			<td headers="table_heading_3">Stable&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>
		</tr>
		<tr>
			<td headers="table_heading_0"><strong>Short-term rating</strong></td>
			<td headers="table_heading_1">A-1+</td>
			<td headers="table_heading_2">P-1</td>
			<td headers="table_heading_3">F1+</td>
		</tr>
	</tbody>
</table></div>


 <div class="accordion">




<div class="expandable-box">




        <div class="content">
            <div class="always-visible" role="button" aria-controls="standard-and-poor-s-content" aria-expanded="false" tabindex="0">
                <div class="controls" data-tracking="prop36" data-tracking-value="Ratings-Standard and Poor's"><span class="visually-hidden">Toggle accordion</span></div>
                <div id="standard-and-poor-s-heading" class="accordion-heading">Standard and Poor's</div>
            </div>
            <div id="standard-and-poor-s-content" class="start-hidden" role="region" aria-labelledby="standard-and-poor-s-heading">


<div>





<div class="multi-document-download-container">
    

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/s-and-p-research-update-november-2019.pdf">
    <div class="document-download-text">
        <p>S&P research update - November 2019</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 135KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.13 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/s-and-p-research-update-december-2018.pdf">
    <div class="document-download-text">
        <p>S&P research update - December 2018</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 283KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.28 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/sp-research-update-september-2018.pdf">
    <div class="document-download-text">
        <p>S&P research update - September 2018</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 272KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.27 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/s-and-p-research-update-march-2018.pdf">
    <div class="document-download-text">
        <p>S&P research update - March 2018</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 195KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.19 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/s-and-p-research-update-march-2017.pdf">
    <div class="document-download-text">
        <p>S&P research update - March 2017</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 1.92MB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 1.92 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/sp-research-update-august-2016.pdf">
    <div class="document-download-text">
        <p>S&P research update - August 2016</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 215KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.21 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/sp-research-update-june-2016.pdf">
    <div class="document-download-text">
        <p>S&P research update - June 2016</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 189KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.18 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/sandp-research-update-april-2016.pdf">
    <div class="document-download-text">
        <p>S&P research update - April 2016</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 236KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.23 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/sandp-research-update-may-2015.pdf">
    <div class="document-download-text">
        <p>S&P research update - May 2015</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 209KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.20 -->
 
</div>

</div>
 
            </div>
        </div>
    </div>
 <div class="expandable-box">




        <div class="content">
            <div class="always-visible" role="button" aria-controls="moody-s-content" aria-expanded="false" tabindex="0">
                <div class="controls" data-tracking="prop36" data-tracking-value="Ratings-Moody's"><span class="visually-hidden">Toggle accordion</span></div>
                <div id="moody-s-heading" class="accordion-heading">Moody's</div>
            </div>
            <div id="moody-s-content" class="start-hidden" role="region" aria-labelledby="moody-s-heading">


<div>





<div class="multi-document-download-container">
    

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/moodys-credit-opinion-nov-2019.pdf">
    <div class="document-download-text">
        <p>Moody's credit opinion - November 2019</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 614KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.60 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/moodys-issuer-comment-may-2019.pdf">
    <div class="document-download-text">
        <p>Moody's issuer comment - May 2019</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 734KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.72 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/moodys-credit-opinion-march-2019.pdf">
    <div class="document-download-text">
        <p>Moody's credit opinion - March 2019</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 423KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.41 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/moodys-issuer-in-depth-november-2018.pdf">
    <div class="document-download-text">
        <p>Moody's issuer in-depth - November 2018</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 549KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.54 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/moodys-issuer-comment-july-2018.pdf">
    <div class="document-download-text">
        <p>Moody's issuer comment - July 2018</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 427KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.42 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/moodys-credit-opinion-march-2018.pdf">
    <div class="document-download-text">
        <p>Moody's credit opinion - March 2018</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 432KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.42 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/moodys-credit-opinion-october-2017.pdf">
    <div class="document-download-text">
        <p>Moody's credit opinion &#45; October 2017</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 484KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.47 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/moodys-press-release-september-2017.pdf">
    <div class="document-download-text">
        <p>Moody's press release - September 2017</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 67KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.07 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/moodys-credit-opinion-february-2017.pdf">
    <div class="document-download-text">
        <p>Moody's credit opinion - February 2017</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 538KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.53 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/moodys-credit-opinion-october-2016.pdf">
    <div class="document-download-text">
        <p>Moody's credit opinion - October 2016</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 534KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.52 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/moodys-credit-opinion-july-2016.pdf">
    <div class="document-download-text">
        <p>Moody's credit opinion - July 2016</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 128KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.13 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/moody-credit-opinion-march-2016.pdf">
    <div class="document-download-text">
        <p>Moody's credit opinion - March 2016</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 64KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.06 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/moodys-credit-opinion-march-2015.pdf">
    <div class="document-download-text">
        <p>Moody's credit opinion - March 2015</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 137KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.13 -->
 
</div>

</div>
 <div>


</div>
 
            </div>
        </div>
    </div>
 <div class="expandable-box">




        <div class="content">
            <div class="always-visible" role="button" aria-controls="fitch-content" aria-expanded="false" tabindex="0">
                <div class="controls" data-tracking="prop36" data-tracking-value="Ratings-Fitch"><span class="visually-hidden">Toggle accordion</span></div>
                <div id="fitch-heading" class="accordion-heading">Fitch</div>
            </div>
            <div id="fitch-content" class="start-hidden" role="region" aria-labelledby="fitch-heading">


<div>





<div class="multi-document-download-container">
    

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/fitch-press-release-december-2019.pdf">
    <div class="document-download-text">
        <p>Fitch Ratings press release - December 2019</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 118KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.12 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/fitch-rating-report-june-2019.pdf">
    <div class="document-download-text">
        <p>Fitch Ratings report - June 2019</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 567KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.55 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/fitch-press-release-april-2019.pdf">
    <div class="document-download-text">
        <p>Fitch Ratings press release - April 2019</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 119KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.12 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/fitch-press-release-february-2019.pdf">
    <div class="document-download-text">
        <p>Fitch Ratings press release - February 2019</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 158KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.15 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/fitch-rating-update-report-may-2018.pdf">
    <div class="document-download-text">
        <p>Fitch Ratings update report - May 2018</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 221KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.22 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/fitch-press-release-may-2018.pdf">
    <div class="document-download-text">
        <p>Fitch Ratings press release - May 2018</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 123KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.12 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/fitch-press-release-october-2017.pdf">
    <div class="document-download-text">
        <p>Fitch Ratings press release - October 2017</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 53KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.05 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/fitch-rating-report-february-2017.pdf">
    <div class="document-download-text">
        <p>Fitch Ratings report - February 2017</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 380KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.37 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/fitch-rating-report-july-2016-.pdf">
    <div class="document-download-text">
        <p>Fitch Ratings report - July 2016</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 94KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.09 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/fitch-report-november-2015.pdf">
    <div class="document-download-text">
        <p>Fitch Ratings report - November 2015</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 363KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.35 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/fitch-press-release-november-2015.pdf">
    <div class="document-download-text">
        <p>Fitch Ratings press release - November 2015</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 955KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.93 -->
 
</div>

</div>
 <div>


</div>
 
            </div>
        </div>
    </div>
 
</div>
 
      
        
          
            @this.ScriptBlock(
              @<script>
                queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
              </script>
            )
          
        
      
    </div>
  </div>
  <div class="aside" role="complementary">

   
    
    
    
      <div data-set="sidenav-container" class="large">
        
        
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
                <a href="/info-for/investors/index" class="heading">
                    <h2 id="sub-menu-heading">Investors<span class="visually-hidden"> navigation</span></h2>
                </a>
                <ul>
                    
                                <li><div class="link-wrapper"><a href="/info-for/investors/credit-highlights">Credit highlights</a></div></li>
                            
 
                <a href="/info-for/investors/Ratings" class="heading">
                    <h2 id="sub-menu-heading">Ratings<span class="visually-hidden"> navigation</span></h2>
                </a>
                <ul>
                    
                                <li><div class="link-wrapper"><a href="/info-for/investors/past-ratings-reports">Past ratings reports</a></div></li>
                            
 
                </ul>
            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/investors/funding-sources">Funding sources</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/investors/borrowing-programme">Borrowing programme</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/investors/announcements">Announcements</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/investors/reports">Reports</a></div></li>
                            
 
                </ul>
            
 
 
 
 
 
 
 
 
 
 
 
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
      </div>
    
    <div></div>
    
    <div data-set="sidenav-container" class="small-medium"></div>
  </div>
</div>
 
 
        
        
        
            @{ViewBag.Description = "Find out how we are rated by the three leading international rating agencies";}
        
            
        


 