
    
  



@{ViewBag.Title = "Bus and coach passenger rights";}
@{ViewBag.Keywords = "TfL";}
@{ViewBag.Url = "/corporate/terms-and-conditions/bus-and-coach-passenger-rights";}
@{ViewBag.Language = "en";}
        <!-- empty placeholder -->
 
        
        
<div class="r">
    <div class="breadcrumb-container" role="navigation">
        <span id="breadcrumb-label" class="visually-hidden">You are here:</span>
        <ol class="breadcrumbs clearfix" aria-labelledby="breadcrumb-label">
            <li class="home">
                <a href="/">
                    <span class="hide-text">Home</span>
                </a>
            </li>
            
                 <li><a href="/corporate/terms-and-conditions/index">Terms & conditions </a></li>
                
            
                 <li><a href="/corporate/terms-and-conditions/ticketing-and-travel-conditions-of-carriage">Conditions of Carriage</a></li>
                
            
            
                <li><span class="last-breadcrumb">Bus and coach passenger rights</span></li>
            
        
 
        
 
        
 
        </ol>
    </div>
</div>
     
 
<div class="r">
  <div class="headline-container plain">
    <h1>Bus and coach passenger rights</h1>

  </div>
</div>
<div class="main-and-aside r">
  
  <div class="main content-container" role="main">
    
      <div class="article-teaser">
        Passengers using London buses and Victoria Coach station have some rights which are guaranteed by law.
        
      </div>
    
    <div class="on-this-page">
      <h2>Bus passengers' rights</h2>
<p>These rights apply to people using London buses. They relate to:</p>
<ul>
    <li>Ticket conditions which do not discriminate by nationality</li>
    <li>Access to transport for disabled people and people with reduced mobility</li>
    <li>Financial compensation for the loss of or damage to wheelchairs and other mobility equipment, if we are responsible for the loss or damage</li>
    <li>Disability-related training for staff</li>
    <li>Travel information before and during the journey</li>
    <li>Information about passengers' rights</li>
    <li>Complaint handling</li>
</ul>
<h2>Coach terminal users' rights</h2>
<p>These rights apply to people using Victoria Coach station. They relate to:</p>
<ul>
    <li>Non-discriminatory access for disabled people and those with reduced mobility</li>
    <li>Providing assistance without charge to disabled people and those with reduced mobility</li>
    <li>Requests for assistance from disabled people and those with reduced mobility</li>
    <li>Disability-related training for staff</li>
    <li>Financial compensation for the loss of or damage to wheelchairs and other mobility equipment if we are responsible for the loss or damage</li>
    <li>Temporary replacement of lost or damaged wheelchairs or other mobility equipment if we are responsible for the loss or damage</li>
    <li>Information about cancelled or delayed services and alternative connections</li>
    <li>Travel information</li>
    <li>Information about passengers' rights</li>
    <li>Complaint handling</li>
</ul>
<p>These rights are in addition to our <a href="/corporate/about-tfl/how-we-work/our-customer-commitments">customer commitments</a>. They arise under EU Regulations 181/2011, the Rights of Passengers in Bus and Coach Transport (Exemptions and Enforcement) Regulations 2013 and the Rights of Passengers in Bus and Coach Transport (Exemptions and Enforcement) (Amendment) Regulations 2017.</p>
<p>See the <a href="http://eur-lex.europa.eu/legal-content/EN/TXT/?qid=1483522273493&amp;uri=CELEX:32011R0181">2011 Regulation</a>, the <a href="http://www.legislation.gov.uk/uksi/2013/1865/made">2013 Regulations</a> and the <a href="http://www.legislation.gov.uk/uksi/2017/99/contents/made">2017 Amendment Regulations</a> in full. </p>
<p>If you believe any of these rights have not been honoured, contact TfL customer services. </p>
<p>Online form: <a href="https://custserv.tfl.gov.uk/icss_csip/resetSession2.do?Standalone=yes&amp;showmodulename=false">Use our online form</a> <br />
Phone: 0343 222 1234 (<a href="/corporate/terms-and-conditions/tfl-call-charges">TfL call charges</a>)<br />
Textphone: 0800 112 3456<br />
Address:<br />
TfL Customer Services<br />
4th Floor<br />
14 Pier Walk<br />
SE10 0ES</p>
<p>You can view our formal complaints procedure on our <a href="/help-and-contact/index">Help &amp; contacts page</a>.</p>
<p>If you are unhappy with the response from TfL you can contact <a href="http://If you are unhappy with the response from TfL you can contact London TravelWatch. London TravelWatch is the independent, watchdog for transport users in and around London. ">London TravelWatch</a>. London TravelWatch is the independent watchdog for transport users in and around London.</p>
      
           
      
      
        
          
            @this.ScriptBlock(
              @<script>
                queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
              </script>
            )
          
        
      
    </div>
  </div>
  <div class="aside" role="complementary">

   
    
    
    
      <div data-set="sidenav-container" class="large">
        
        
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
                <a href="/corporate/terms-and-conditions/index" class="heading">
                    <h2 id="sub-menu-heading">Terms & conditions <span class="visually-hidden"> navigation</span></h2>
                </a>
                <ul>
                    
                                <li><div class="link-wrapper"><a href="/corporate/terms-and-conditions/competitions">Competitions</a></div></li>
                            
 
                                <li class="selected parent"><div class="link-wrapper"><a href="/corporate/terms-and-conditions/ticketing-and-travel-conditions-of-carriage">Conditions of Carriage</a></div>
                                <ul>
                                    
                                <li><div class="link-wrapper"><a href="/corporate/terms-and-conditions/byelaws">Byelaws</a></div></li>
                            
 
                                        <li class="selected"><div class="link-wrapper"><a href="/corporate/terms-and-conditions/bus-and-coach-passenger-rights">Bus and coach passenger rights</a></div>
                                    </li>
 
                                </ul>
                            </li>
 
                                <li><div class="link-wrapper"><a href="/corporate/terms-and-conditions/conveyancing-searches">Conveyancing searches</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/corporate/terms-and-conditions/live-bus-departure-information">Live Bus & River Bus arrivals</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/corporate/terms-and-conditions/online-accounts">Online accounts</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/corporate/terms-and-conditions/pay-to-drive-in-london">Pay to drive in London</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/corporate/terms-and-conditions/pay-to-drive-in-london-app">Pay to drive in London app</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/corporate/terms-and-conditions/santander-cycles">Santander Cycles</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/corporate/terms-and-conditions/scrappage-scheme">Scrappage scheme</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/corporate/terms-and-conditions/social-media">Social media</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/corporate/terms-and-conditions/stars">STARS</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/corporate/terms-and-conditions/taxi-delicensing">Taxi delicensing</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/corporate/terms-and-conditions/tfl-call-charges">TfL call charges</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/corporate/terms-and-conditions/tfl-oyster-app">TfL Oyster and contactless app</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/corporate/terms-and-conditions/tfl-pension-fund">TfL Pension Fund</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/corporate/terms-and-conditions/transport-data-service">Transport Data Service </a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/corporate/terms-and-conditions/visitor-oyster-shop">Visitor Oyster shop</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/corporate/terms-and-conditions/webcat">WebCAT</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/corporate/terms-and-conditions/website">Website</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/corporate/terms-and-conditions/dlr-discovery">DLR Discovery</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/corporate/terms-and-conditions/direct-vision-standard-and-safety-permit-for-hgvs">Direct Vision Standard and Safety Permit for HGVs</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/corporate/terms-and-conditions/car-and-motorcycle-scrappage-scheme">ULEZ Car and motorcycle scrappage scheme</a></div></li>
                            
 
                </ul>
            
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
      </div>
    
    <div>




















<div class="advert-tile unsponsored-style google-ads" aria-hidden="true">
  <div class="advert-link">
    <div class="advert-content">
        <div class="medium-large" data-advert="/76889402/non-targeted" data-advert-sizes="300, 250"></div>
        <div class="small" data-advert="/76889402/non-targeted" data-advert-sizes="300, 250"></div>
    </div>
  </div>
</div>
@{
    ViewBag.AmazonSlot = "'amznslots'";
    ViewBag.AmazonAds = "'3199'"; // to add another value, this needs to be ViewBag.AmazonAds = "'3199','xx'";
}
      

 </div>
    
      <div class="module-grid clearfix">
                    
        <div>

    <div class="contact-info-box">
         <div class="contact-info-header">
             <h3>Contact us</h3>
         </div>
        
        
        
        
        <div class="content-group">
            <p>
                
                
                <abbr title="Telephone number">Phone</abbr>: 0343 222 1234<br />
                
                
                
                
                <abbr title="Fax number">Fax</abbr>: 0343 222 7000<br />
                <abbr title="Textphone">Textphone</abbr>: 0800 112 3456
            </p>
            <p> </p>
<hr />
<p> </p>
        </div>
        
        <div class="content-group">
            <h4>TfL Customer Services</h4>
            
            <p>
                
                4th Floor<br />
                14 Pier Walk<br />
                SE10 0ES<br />
                
            </p>
            
            <p><a href="/corporate/terms-and-conditions/tfl-call-charges">TfL call charges</a> </p>
<p>08:00-20:00 Monday to Friday </p>
        </div>
        
        
    </div>
</div>
 
      </div>
    
    <div data-set="sidenav-container" class="small-medium"></div>
  </div>
</div>
 
 
        
        
        
            @{ViewBag.Description = "Passengers using TfL bus services and Victoria Coach station have certain rights which are guaranteed by law";}
        
            
        


 