
    
  



@{ViewBag.Title = "Byelaws";}
@{ViewBag.Keywords = "TfL";}
@{ViewBag.Url = "/corporate/terms-and-conditions/byelaws";}
@{ViewBag.Language = "en";}
        <!-- empty placeholder -->
 
        
        
<div class="r">
    <div class="breadcrumb-container" role="navigation">
        <span id="breadcrumb-label" class="visually-hidden">You are here:</span>
        <ol class="breadcrumbs clearfix" aria-labelledby="breadcrumb-label">
            <li class="home">
                <a href="/">
                    <span class="hide-text">Home</span>
                </a>
            </li>
            
                 <li><a href="/corporate/terms-and-conditions/index">Terms & conditions </a></li>
                
            
                 <li><a href="/corporate/terms-and-conditions/ticketing-and-travel-conditions-of-carriage">Conditions of Carriage</a></li>
                
            
            
                <li><span class="last-breadcrumb">Byelaws</span></li>
            
        
 
        
 
        
 
        </ol>
    </div>
</div>
     
 
<div class="r">
  <div class="headline-container plain">
    <h1>Byelaws</h1>

  </div>
</div>
<div class="main-and-aside r">
  
  <div class="main content-container" role="main">
    
      <div class="article-teaser">
        Byelaws ensure ease of travel and safety on the transport system. They should be observed by everyone, including passengers and staff, and apply to property and equipment.
        
      </div>
    
    <div class="on-this-page">
      
      
           
      
<div>



<h2>Tramlink (Variation) Byelaws</h2>


The Tramlink (Variation) Byelaws were made on 4 May 2018. They amend the Tramlink Byelaws by deleting a reference to ticket facilities at tram stops.
<div class="multi-document-download-container">
    

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/tramlink-variation-byelaws.pdf">
    <div class="document-download-text">
        <p>Tramlink (Variation) Byelaws</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 69KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.07 -->
 
</div>
<p>The Secretary of State for Transport will be asked to confirm the Tramlink (Variation) Byelaws. Anyone affected by these Byelaws may make representations about their confirmation to the Secretary of State for Transport by writing to him at the Department for Transport, Great Minster House, 76 Marsham Street, London SW1P 4DR or by email to <a href="mailto:London&#64;dft.gov.uk ">London&#64;dft.gov.uk</a> by 2 July 2018.</p>
</div>
 
<div>



<h2>TfL Railway Byelaws</h2>



        <p>The TfL Railway Byelaws were made under paragraph
        26 of Schedule 11 to the Greater London Authority Act 1999 and were confirmed by
        authority of the Secretary of State for Transport on 6 September 2011.</p>
         
        <p>The TfL Railway Byelaws apply to London
        Underground, Docklands Light Railway and London Overground services and regulate
        the use and working of, and travel on, the railway and railway premises and the
        conduct of all people while on those premises. Railway services operated by
        other train operating companies are subject to the National Railway Byelaws, a
        copy of which can be obtained from the relevant operators.</p>
         
         
    
<div class="multi-document-download-container">
    

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/railway-byelaws.pdf">
    <div class="document-download-text">
        <p>TfL Railway Byelaws</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 130KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.13 -->
 
</div>

</div>
 
<div>



<h2>TfL Road Transport Premises Byelaws</h2>



        <p>The TfL Road Transport Premises Byelaws were made under section 25 of the London
        Transport Act 1969 and were confirmed by authority of the Secretary of State for
        Transport on 6 September 2011.</p>
         
        <p>The TfL Road Transport Premises Byelaws apply to
        bus garages, stations, shelters, depots, and other premises used to provide
        London's bus services. The TfL Road Transport Premises Byelaws regulate the use
        and operation of road transport premises and approaches to premises and the
        conduct of all people while on those premises.</p>
         
         
    
<div class="multi-document-download-container">
    

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/road-transport-premises-byelaws.pdf">
    <div class="document-download-text">
        <p>TfL Road Transport Premises Byelaws</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 145KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.14 -->
 
</div>

</div>
 
<div>



<h2>Tramlink Byelaws</h2>



        <p>The Tramlink Byelaws were made under section 46 of the Croydon Tramlink Act 1994 and
        were confirmed by the Secretary of State for Transport on 13 April 2000.</p>
        <p>The Tramlink Byelaws regulate the use and working of,
        and conduct and travel upon, the Croydon Tramlink and associated premises or
        other facilities provided in connection with the Tramlink system and the conduct
        of persons while on those premises.</p>
    
<div class="multi-document-download-container">
    

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/tramlink-byelaws.pdf">
    <div class="document-download-text">
        <p>Tramlink Byelaws</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 145KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.14 -->
 
</div>

</div>
 <div>

<p>Copies of the TfL Railway, TfL Road Transport Premises and Croydon Tramlink
Byelaws can be viewed by members of public at:</p>
<p>Transport for London<br />
3rd Floor<br />
Petty France<br />
55 Broadway<br />
London SW1H 0BD</p>
<p>Please ask at reception for a member of the Public and Regulatory Law team.</p>
<p>&nbsp;</p>
</div>
 
      
        
          
            @this.ScriptBlock(
              @<script>
                queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
              </script>
            )
          
        
      
    </div>
  </div>
  <div class="aside" role="complementary">

   
    
    
    
      <div data-set="sidenav-container" class="large">
        
        
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
                <a href="/corporate/terms-and-conditions/index" class="heading">
                    <h2 id="sub-menu-heading">Terms & conditions <span class="visually-hidden"> navigation</span></h2>
                </a>
                <ul>
                    
                                <li><div class="link-wrapper"><a href="/corporate/terms-and-conditions/competitions">Competitions</a></div></li>
                            
 
                                <li class="selected parent"><div class="link-wrapper"><a href="/corporate/terms-and-conditions/ticketing-and-travel-conditions-of-carriage">Conditions of Carriage</a></div>
                                <ul>
                                    
                                        <li class="selected"><div class="link-wrapper"><a href="/corporate/terms-and-conditions/byelaws">Byelaws</a></div>
                                    </li>
 
                                <li><div class="link-wrapper"><a href="/corporate/terms-and-conditions/bus-and-coach-passenger-rights">Bus and coach passenger rights</a></div></li>
                            
 
                                </ul>
                            </li>
 
                                <li><div class="link-wrapper"><a href="/corporate/terms-and-conditions/conveyancing-searches">Conveyancing searches</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/corporate/terms-and-conditions/live-bus-departure-information">Live Bus & River Bus arrivals</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/corporate/terms-and-conditions/online-accounts">Online accounts</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/corporate/terms-and-conditions/pay-to-drive-in-london">Pay to drive in London</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/corporate/terms-and-conditions/pay-to-drive-in-london-app">Pay to drive in London app</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/corporate/terms-and-conditions/santander-cycles">Santander Cycles</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/corporate/terms-and-conditions/scrappage-scheme">Scrappage scheme</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/corporate/terms-and-conditions/social-media">Social media</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/corporate/terms-and-conditions/stars">STARS</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/corporate/terms-and-conditions/taxi-delicensing">Taxi delicensing</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/corporate/terms-and-conditions/tfl-call-charges">TfL call charges</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/corporate/terms-and-conditions/tfl-oyster-app">TfL Oyster and contactless app</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/corporate/terms-and-conditions/tfl-pension-fund">TfL Pension Fund</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/corporate/terms-and-conditions/transport-data-service">Transport Data Service </a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/corporate/terms-and-conditions/visitor-oyster-shop">Visitor Oyster shop</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/corporate/terms-and-conditions/webcat">WebCAT</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/corporate/terms-and-conditions/website">Website</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/corporate/terms-and-conditions/dlr-discovery">DLR Discovery</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/corporate/terms-and-conditions/direct-vision-standard-and-safety-permit-for-hgvs">Direct Vision Standard and Safety Permit for HGVs</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/corporate/terms-and-conditions/car-and-motorcycle-scrappage-scheme">ULEZ Car and motorcycle scrappage scheme</a></div></li>
                            
 
                </ul>
            
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
      </div>
    
    <div>




















<div class="advert-tile unsponsored-style google-ads" aria-hidden="true">
  <div class="advert-link">
    <div class="advert-content">
        <div class="medium-large" data-advert="/76889402/non-targeted" data-advert-sizes="300, 250"></div>
        <div class="small" data-advert="/76889402/non-targeted" data-advert-sizes="300, 250"></div>
    </div>
  </div>
</div>
@{
    ViewBag.AmazonSlot = "'amznslots'";
    ViewBag.AmazonAds = "'3199'"; // to add another value, this needs to be ViewBag.AmazonAds = "'3199','xx'";
}
      

 </div>
    
    <div data-set="sidenav-container" class="small-medium"></div>
  </div>
</div>
 
 
        
        
        
            @{ViewBag.Description = "The TfL Railway Byelaws regulate the use and working of, and travel on, the railway and railway premises and the conduct of all people while on those premises";}
        
            
        


 