
    
  



@{ViewBag.Title = "ULEZ Car and motorcycle scrappage scheme";}
@{ViewBag.Keywords = "TfL";}
@{ViewBag.Url = "/corporate/terms-and-conditions/car-and-motorcycle-scrappage-scheme";}
@{ViewBag.Language = "en";}
        <!-- empty placeholder -->
 
        
        
<div class="r">
    <div class="breadcrumb-container" role="navigation">
        <span id="breadcrumb-label" class="visually-hidden">You are here:</span>
        <ol class="breadcrumbs clearfix" aria-labelledby="breadcrumb-label">
            <li class="home">
                <a href="/">
                    <span class="hide-text">Home</span>
                </a>
            </li>
            
                 <li><a href="/corporate/terms-and-conditions/index">Terms & conditions </a></li>
                
            
            
                <li><span class="last-breadcrumb">ULEZ Car and motorcycle scrappage scheme</span></li>
            
        
 
        
 
        </ol>
    </div>
</div>
     
 
<div class="r">
  <div class="headline-container plain">
    <h1>ULEZ Car and motorcycle scrappage scheme</h1>

  </div>
</div>
<div class="main-and-aside r">
  
  <div class="main content-container" role="main">
    
      <div class="article-teaser">
        Terms and Conditions for Individuals and Sole Traders.
        
      </div>
    
    <div class="on-this-page">
      <p><strong>Please read the terms and conditions of this Agreement carefully.&nbsp;&nbsp;<strong>These terms set out the eligibility checks, your obligations, payment, State aid considerations (applicable to Sole Trader's only) and other important information.</strong></strong></p>

<p><strong>A. </strong>The terms and conditions set out in this Agreement apply to the scrappage Scheme provided by TfL. The terms and conditions are between TfL and the Recipient. TfL reserves the right to make changes to this Agreement from time to time.</p>

<p><strong>B. </strong>The Scheme is open to Recipients that meet the Initial Eligibility Checks.</p>

<p><strong>C.</strong> The Scheme will run while funding is in place and Applications will be accepted for assessment. The total available funding may increase and decrease at the discretion of TfL. No commitment is made around the duration of the funding term or the total funding available. TfL at its sole discretion may review from time to time the operation of the Scheme and make changes as it deems necessary outside of any applications which are being processed at the time of the relevant variation.</p>

<ul>
	<li><strong>Part A of these terms and Schedule&nbsp;1 applies to all Recipients, including Individuals and Sole Traders.</strong></li>
	<li><strong>Part B of these terms and Schedule 2 applies to Sole Traders only.</strong></li>
</ul>

<h2>Part A &#45; Applications made by all Recipients, including Individuals and Sole Traders</h2>

<p>TO INDIVIDUALS NOTHING IN THIS AGREEMENT WILL AFFECT YOUR LEGAL RIGHTS</p>

<h3>1. In this Agreement the following words have the meaning set out below:</h3>

<p><strong>Agreement </strong>means this agreement including the schedules and any documents referred to in this Agreement;<br />
<br />
<strong>Application </strong>means the application form and evidence submitted by the Recipient to TfL (whether in hard copy or using the LRUC Account), including the Initial Eligibility Checks and Secondary Eligibility Checks;<br />
<br />
<strong>Authorised Treatment Facility </strong>means authorised facilities where a Recipient's Vehicle(s) are destroyed. Details of such ATFs can be found at <a href="https://environment.data.gov.uk/public-register/view/search-elv">https://environment.data.gov.uk/public-register/view/search-elv</a>;<br />
<br />
<strong>Certificate of Destruction </strong>means the certificate provided by an Authorised Treatment Facility to the Recipient to confirm the Vehicle(s) have been destroyed;</p>

<p><strong>Data Protection Legislation</strong> means the Data Protection Act 2018 and Regulation (EU) 2016/679 the General Data Protection Regulation and any amended or re‑enactment from time to time or any national replacement for such legislation;</p>

<p><strong>Grant Payment</strong> means the financial payment paid to the Recipient by TfL in accordance with this Agreement;</p>

<p><strong>Individual </strong>means an individual acting for purposes which are wholly or mainly outside that individual's trade, business, craft or profession;</p>

<p style="margin-bottom:0.0001pt; margin-left:0cm; margin-right:0cm; margin-top:0cm"><strong>Ineligible Recipient</strong> means an applicant of TfL's Taxi Delicensing Scheme which either has (a) a current application in progress; and/or (b) a accepted &nbsp;application and has or will receive a payment from TfL in relation to the Taxi Delicensing Scheme is not permitted to apply to this Scheme;</p>

<p><strong>Initial Eligibility Checks</strong> means the initial checks the Recipient must successfully meet to be eligible to participate in this Scheme as set out in Schedule&nbsp;1;</p>

<p><strong>LRUC Account </strong>means the London Road User Charging account a Recipient is required to have to submit and manage their Application;</p>

<p><strong>Recipient</strong> means the Individual or Sole Trader submitting an application to TfL exclusing an Ineligible Recipient;</p>

<p><strong>Scheme </strong>means the Scrappage Scheme as further detailed on the TfL website - <a href="https://tfl.gov.uk/modes/driving/ultra-low-emission-zone/car-and-motorcycle-scrappage-scheme">https://tfl.gov.uk/modes/driving/ultra-low-emission-zone/car-and-motorcycle-scrappage-scheme</a>;</p>

<p><strong>Scrap or Scrapped</strong> means the Recipient's Vehicle(s) which are destroyed at the Authorised Treatment Facility;</p>

<p><strong>Secondary Eligibility Checks </strong>means the documentary evidence the Recipient has to provide as set out in Schedule&nbsp;1;</p>

<p><strong>Sole Trader</strong> means a self-employed person which owns and operates a business as an individual. There is no legal distinction between the owner and the business;</p>

<p><strong><span style="letter-spacing:-.1pt">Taxi delicensing Scheme </span></strong><span style="letter-spacing:-.1pt">means the TfL scheme as further described at </span><a href="https://tfl.gov.uk/info-for/taxis-and-private-hire/taxi-delicensing-scheme" style="text-decoration: underline;">https://tfl.gov.uk/info-for/taxis-and-private-hire/taxi-delicensing-scheme</a>;</p>

<p><strong>TfL </strong>means Transport for London;</p>

<p><strong>TfL's Cycle Scheme</strong> means the cycle scheme managed by TfL and sponsored by Santander and is subject to separate terms and conditions;</p>

<p><strong>V5C Registration Document,</strong> also known as the vehicle log book containing the details of a Vehicle(s);</p>

<p><strong>Vehicle </strong>means the Recipient's Vehicle as described in Schedule&nbsp;1 which is being Scrapped as part of the Application;</p>

<p><strong>ULEZ </strong>means the Ultra Low Emission Zone and further details can be found on the TfL website <a href="http://www.tfl.gov.uk/ulez">www.tfl.gov.uk/ulez</a>; and</p>

<p><strong>Working Days</strong> means any day excluding Saturdays, Sundays or public or bank holidays in England.</p>

<h3><strong>2. Eligibility Checks</strong></h3>

<p><strong>2.1 </strong>The Recipient must have:</p>

<p><strong>a. </strong>completed and signed (or in the case of an online Application, submitted) the Application form which must have been received by TfL;</p>

<p><strong>b.</strong> satisfied the Initial Eligibility Checks as set out in Schedule&nbsp;1 and such written confirmation of such provided to the Recipient by TfL; and</p>

<p><strong>c. </strong>complied with the Secondary Eligibility Checks to the satisfaction of TfL to be eligible to receive a Grant Payment.</p>

<p><strong>2.2 </strong>Once TfL has received the Application from the Recipient, the Application will be assessed to ensure it meets the Initial Eligibility Checks. TfL will confirm to the Recipient in writing if they have satisfied the Initial Eligibility Checks and the conditions to satisfy the Secondary Eligibility Checks to be eligible for a Grant Payment.</p>

<p><strong>2.3</strong> TfL may request additional documentation from the Recipient to ensure the Recipient meets the Initial Eligibility Checks and/or Secondary Eligibility Checks to TfL's satisfaction. The Recipient shall respond to TfL within ten (10) Working Days of TfL requesting such information.</p>

<p><strong>2.4 </strong>The Recipient can submit only one Application containing the maximum of one (1) Vehicle and shall not be awarded a Grant Payment of more than &pound;2000 in aggregate. No further Applications will be accepted unless the Recipient either; (i) withdraws the original Application prior to the Vehicle(s) being Scrapped in accordance with Clauses&nbsp;4.1 and 4.2 and commences the full process again; or (ii) the Recipient submits a new Application if the first Application is rejected.</p>

<p style="list-style-type:none"><strong>2.5</strong> An Ineligible Recipient can not submit an Application or apply to this Scheme.</p>

<h3>3. LRUC Account</h3>

<p><strong>3.1</strong> To submit an Application, the Recipient will need an LRUC Account available via the TfL website <a href="https://tfl.gov.uk/modes/driving/ultra-low-emission-zone/car-and-motorcycle-scrappage-scheme">https://tfl.gov.uk/modes/driving/ultra-low-emission-zone/car-and-motorcycle-scrappage-scheme</a>.&nbsp;Once registered the Recipient can submit their Application through their LRUC Account or alternatively call TfL Contact Centre on 0343 222 2222 to request a paper Application.</p>

<h3>4. Application</h3>

<p><strong>4.1 </strong>The Recipient may not amend their Application once it has been submitted to TfL. If the Recipient wishes to amend their Application, they must withdraw their Application in accordance with Clause&nbsp;4.2. The Application cannot be withdrawn once a Grant Payment has been made.</p>

<p><strong>4.2</strong> A Recipient may withdraw their Application at any time prior to the Vehicle(s) being Scrapped. To withdraw an Application, the Recipient should notify TfL via their LRUC Account (for online Applications), or via hard copy by post to: PO Box 552 Darlington DL1 9TY, or by contacting the TfL Contact Centre on 0343 222 2222. &nbsp;If a Recipient withdraws their Application and wishes to re‑apply at a later date, the Recipient must submit a new Application with all the required documentation which will be subject to the Initial Eligibility Checks and Secondary Eligibility Checks.</p>

<h3>5. Vehicle Scrappage Requirements</h3>

<p><strong>5.1 </strong>The Recipient must not Scrap their Vehicle(s) before TfL has confirmed to the Recipient in writing that the Recipient has met the Initial Eligibility Checks. TfL will not be liable for any costs incurred if the Recipient chooses to Scrap their Vehicle(s) without such confirmation from TfL.</p>

<p><strong>5.2</strong> The Vehicle(s) must be Scrapped at an Authorised Treatment Facility.</p>

<p><strong>5.3 </strong>Subject to Clause&nbsp;6.1, once TfL has received the Application and evidence of the Initial Eligibility Checks and TfL has provided written confirmation to the Recipient that TfL is satisfied with such evidence, if the Recipient has chosen to Scrap the Vehicle and satisfies the Secondary Eligibility Checks, TfL will make a Grant Payment in accordance with Clause&nbsp;7.</p>

<h3>6. Time Period to provide documentation</h3>

<p><strong>6.1 </strong>The Recipient has thirty (30) calendar days from the date of the communication sent by TfL confirming the Recipient has met the Initial Eligibility Checks to comply with the Secondary Eligibility Checks to qualify for a Grant Payment.&nbsp; The Recipient will notify TfL if they are unable to comply with the Secondary Eligibility Checks.</p>

<p><strong>6.2 </strong>If the Recipient does not comply with Clause&nbsp;6.1 within the time period, TfL may provide the Recipient with notice requesting the Recipient to comply with Clause&nbsp;6.1 within thirty (30) calendar days.&nbsp; If the Recipient does not comply, and such non‑compliance does not result from TfL's breach, this Agreement will terminate on expiry of such notice.&nbsp; The Recipient may re‑apply to this Scheme and submit a new Application if they wish to do so. Any obligation on TfL to pay the Recipient shall cease on termination and TfL will not be liable for any costs incurred by the Recipient arising from their failure to comply with this Clause&nbsp;6.</p>

<h3>7. Grant Payment</h3>

<p><strong>7.1</strong> The Scheme is subject to change at any time at TfL's sole discretion, save that no change shall be applied to any Application already submitted.</p>

<p><strong>7.2</strong> The Scheme is subject to change at any time at TfL's sole discretion, save that no change shall be applied to any Application already submitted.</p>

<p><strong>7.3 </strong>The Recipient shall promptly repay to TfL any money incorrectly paid to it either as a result of an administrative error or otherwise. This includes (without limitation) situations where either an incorrect sum of money has been paid or where the Grant Payment has been paid in error before all conditions attached to the Grant Payment have been complied with by the Recipient.&nbsp; To make a repayment to TfL the Recipient must send a cheque for the required amount to:</p>

<p>PO Box 552<br />
Darlington<br />
DL1 9TY</p>

<p><strong>7.4</strong> The Recipient acknowledges that some means-tested benefits are affected by the amount of savings they may have.&nbsp; The Grant Payment may be treated as savings for any means-tested benefits the Recipient claims and the Recipient accepts that any means‑tested benefits they receive may be affected.</p>

<p><strong>7.5</strong> Where the Recipient receives the Grant Payment, TfL will also provide a discounted Santander cycles membership code for one year free membership, where the Recipient can choose to participate in TfL's Cycle Scheme.</p>

<h3>8. Information provided by the Recipient</h3>

<p>The Recipient agrees that all information and documentation provided as part of the Application is accurate and complete and it may be relied upon by TfL for the purposes of assessing the Recipient's Application. The Recipient will inform TfL within five (5) Working Days if any part of the information provided is no longer correct.#</p>

<h3>9. Restrictions following a successful Application</h3>

<p><strong>9.1</strong> Once a Grant Payment has been confirmed to or received by the Recipient in accordance with this Agreement the Application cannot be withdrawn.</p>

<p><strong>9.2 </strong>Once a Grant Payment has been confirmed to or received by the Recipient in accordance with this Agreement the Application cannot be withdrawn.</p>

<p><strong>9.3</strong> Only one Grant Payment will be made to a Recipient per Application.&nbsp; For the avoidance of doubt, the Recipient can only submit one Application and receive one Grant Payment.</p>

<h3>10. Termination</h3>

<p><strong>10.1</strong> This Agreement may be terminated by TfL, with thirty (30) calendar days written notice to the Recipient if;</p>

<p><strong>a.</strong> the Recipient does not submit the required Second Eligibility Checks within the time period set out in Clause&nbsp;6.1 and Clause&nbsp;6.2, and such non‑compliance does not result from TfL's breach of this Agreement;</p>

<p><strong>b.</strong> the Recipient does not provide sufficient information or additional information as required by TfL including but not limited to the evidence required for the Secondary Eligibility Checks and any subsequent evidence required in accordance with Clause&nbsp;14;</p>

<p><strong>c.</strong> the Application submitted by the Recipient is found to be fraudulent;</p>

<p><strong>d.</strong> the Individual is declared bankrupt;</p>

<p><strong>e.</strong> the Individual is an Ineligible Recipient;</p>

<p><strong>f. </strong>any information provided to TfL by the Recipient which TfL considered when deciding whether or not to provide the Grant Payment or subsequent supporting documents or correspondence is found to be incorrect or incomplete to an extent which the Recipient reasonably should have known and TfL considers to be material; and/or</p>

<p><strong>g. </strong>the Recipient does not comply with the terms and conditions of this Agreement and in the case of a material breach that is capable of remedy fails to remedy such breach within thirty (30) Working Days or such other period as specified in writing by TfL.</p>

<h3>11. Reducing, Withholding, Suspending and Repayment of Grant Payment</h3>

<p><strong>11.1 </strong>TfL's intention is that that the Grant Payment will be paid to the Recipient in full if the Initial Eligibility Checks and Secondary Eligibility Checks are met. Without prejudice to TfL's other rights and remedies, TfL may at its absolute discretion reduce, suspend or withhold the Grant Payment, or require all or part of the Grant Payment to be repaid by the Recipient in the event that any of the circumstances in Clause&nbsp;10 arises.</p>

<p><strong>11.2 </strong>Where an Application is found to be in breach of this Agreement, including fraudulent applications, TfL shall seek recovery of the Grant Payment paid to the Recipient and may prosecute the Recipient.</p>

<p><strong>11.3</strong> Any repayment of the Grant Payment required under this Agreement must be made to TfL within six (6) months of notification by TfL to the Applicant.&nbsp; To make a repayment to TfL the Recipient must send a cheque for the required amount to:</p>

<p>PO Box 552<br />
Darlington<br />
DL1 9TY</p>

<p><strong>11.4</strong> If TfL becomes entitled to exercise its rights under Clause&nbsp;11 it may nevertheless decide not to exercise that right, or not to exercise them to the fullest extent possible, or to delay in exercising those rights. Any decision not to exercise TfL's rights under Clause&nbsp;11, or to exercise them only partially or to delay in exercising them, may be made on conditions which will be notified to the Recipient provided always that any such decision by TfL shall not prevent the subsequent enforcement of any subsequent breach of that provision, and shall not be deemed to be a waiver of any subsequent breach of that or any other provisions.</p>

<h3>12. Acknowledgement and Publicity</h3>

<p>TfL may request the Recipient to assist TfL in its promotional activities relating to the Scheme.</p>

<h3>13. Liability</h3>

<p><strong>13.1 </strong>Subject to Clause&nbsp;13.2, the Recipient is responsible for and must compensate TfL, its employees and agents against any expense, liability, loss, claim or proceedings whatsoever (&quot;Losses&quot;) in respect of the death of or injury to any person, loss of or damage to any property (including property belonging to TfL or for which it is responsible) and in respect of any other Losses which may arise out of or in the course of or by reason of any direct or indirect breach of contract, tort, breach of statutory duty, misrepresentation, misstatement, act, omission or default of the Recipient, its employees, or agents or as a result of participating in this Scheme.</p>

<p><strong>13.2</strong> The Recipient is not responsible for and shall not compensate TfL for Losses to the extent that such Losses are caused by any breach or negligent performance of any of its obligations under this Agreement by TfL, its employees or agents.</p>

<p><strong>13.3 </strong>TfL shall not be liable for any losses that the Recipient incurs if the Recipient does &nbsp;&nbsp;&nbsp;&nbsp; not comply with TfL's reasonable requirements of the Initial Eligibility Checks and the Secondary Eligibility Checks.</p>

<p><strong>13.4</strong> It is the responsibility of a Recipient to ensure that it is legally able to receive a Grant Payment made in accordance with this Agreement.&nbsp; TfL has no liability for losses, penalty or any other censure (or whatever nature) incurred by or applicable to the Recipient in respect of receipt by it of the Grant Payment including, but not limited to, any effect on the Recipient's means-tested benefits, any other financial status, tax or immigration status.</p>

<h3>14. Records and Evidence</h3>

<p><strong>14.1</strong> The Recipient shall keep accurate records of any documents submitted to TfL in relation to their Application and evidence of receipt of the Grant Payment received from TfL.&nbsp;&nbsp;</p>

<p><strong>14.2</strong> The Recipient shall provide such assistance to TfL as is reasonable in order for it to comply with all statutory requirements applicable to the Recipient and TfL.</p>

<p><strong>14.3 </strong>The Recipient confirms that if any information contained in the V5C Registration Documentation does not match the Recipient details contained in their Application, the Recipient will provide such documentary evidence as TfL requires enabling TfL to verify the information to TfL's satisfaction. If the evidence provided is not to TfL's satisfaction, TfL is entitled at its sole discretion to terminate this Agreement with immediate effect and not provide the Grant Payment.</p>

<h3>15. Data Protection</h3>

<p><strong>15.1 </strong>TfL, its subsidiaries and service providers will comply with all its obligations under the Data Protection Legislation and will only process the Recipient's personal data (as defined in the Data Protection Legislation) for the purposes of administering the Scheme, including assessing the Recipient's eligibility for the Scheme, and if successful, paying the Recipient the Grant Payment and providing the TfL Cycle Scheme discounted cycles membership code referred to at Clause 7.5.&nbsp; For more information please visit the Road User Charging page at <a href="http://www.tfl.gov.uk/privacy">www.tfl.gov.uk/privacy</a>.</p>

<p><strong>15.2 </strong>If the Recipient has applied to a specific third party to receive a service and/or product from that party which is being provided because the Recipient is using this Scheme then TfL may share sufficient Personal Data (as defined in the Data Protection Legislation) with that third party to confirm whether a successful application has been made to TfL. This Personal Data will be limited to the minimum necessary to confirm eligibility for the third party service/product.</p>

<h3>16. Assignment</h3>

<p><strong>16.1 </strong>The Recipient may not, without the prior written consent of TfL, assign or in any other way transfer this Agreement or transfer or pay to any other person any part of the Grant Payment.</p>

<p><strong>16.2 </strong>The Recipient is not permitted to transfer or assign the Grant Payment to any organisation or other Individual without the prior written consent from TfL.&nbsp; If the Recipient doesn't comply with this Clause&nbsp;13.2, TfL may at its absolute discretion be entitled to termination this Agreement with thirty (30) calendar days written notice and withhold, suspend or require the Recipient to repay the Grant Payment.</p>

<p><strong>16.3 </strong>TfL may transfer this Agreement (in whole or in part) with thirty (30) calendar days written notice to the Recipient.</p>

<h3>17. Survival</h3>

<p>Clauses&nbsp;1, 2‑7, 8, 9, 11‑16, 18, 22 and 23 shall survive (in whole or in part) the termination or expiry of this Agreement and continue in full force and effect, along with any other provisions of this Agreement necessary to give effect to them. In addition, any other provision of the Agreement, by its nature or implication (including in respect of accrued rights and liabilities) is required to survive the termination or expiry of the Agreement, shall survive such termination or expiry as aforesaid.</p>

<h3>18. Entire Agreement</h3>

<p><strong>18.1 </strong>This Agreement, including the Schedules, and all documents referred to in the Agreement constitutes the entire agreement between the parties and supersedes and extinguishes all previous agreements, promises, assurances, warranties, representations and understandings between them, whether written or oral, relating to its subject matter.</p>

<p><strong>18.2</strong> The Recipient is responsible for and shall make no claim against TfL in respect of any misunderstanding affecting the basis of Recipient's request in respect of this Agreement or any incorrect or incomplete information howsoever obtained.</p>

<p><strong>18.3</strong> Nothing in this Clause&nbsp;18 excludes any liability which one party would otherwise have in respect of any statement it has made fraudulently to the other party.</p>

<h3>19. Governing Law</h3>

<p>This Agreement is governed by the laws of England. The Courts of England have exclusive jurisdiction to settle any dispute which may arise out of or in connection with this Agreement.</p>

<h2>Part B &#45; Applications made by Sole Traders only</h2>

<p><strong>The following terms are applicable to Sole Trader's only and do not apply to Individuals who are not acting in the course of their business.</strong></p>

<h3><strong>20. </strong>In this Part&nbsp;B of this Agreement, the following words shall have the following meanings:</h3>

<p><strong>De Minimis Aid Allowance</strong> means the ceiling of two hundred thousand euros (&euro;200,000 or &euro;100,000 in the case of an entity operating in the road freight transport for hire or reward sector) of financial assistance provided under the De Minimis Aid Regulations to a Recipient as further described in Clause&nbsp;21 and Schedule 2 to this Agreement over a three (3) fiscal year period;</p>

<p><strong>De Minimis Aid Regulation </strong>means the Commission Regulation (EC) No. 1407/2013 of 18&nbsp;December 2013 on the application of Articles&nbsp;107 and 108 of the Treaty of the Functioning of the European Union to de minimis aid (OJ L 352,24.12.2013, p1 -8) and any amended or re‑enactment from time to time or any national replacement for such legislation.</p>

<h3>21. State Aid</h3>

<p><strong>21.1 </strong>Any and all Grant Payments will be based on compliance with the requirements of the De Minimis Aid Regulation and Grant Payments will be contingent (notwithstanding all other Initial Eligibility Checks or Secondary Eligibility Checks requirements being met) on the Sole Trader having sufficient level of its De Minimis Aid Allowance remaining for the proposed Grant Payments under this Scheme to fall within that allowance as further described in Schedule 2.</p>

<p><strong>21.2</strong> In accepting the Grant Payment, the Sole Trader shall comply with all applicable European Union rules on State aid or any national replacement for such rules including but not limited to the De Minimis Aid Regulation (the &quot;State Aid Rules&quot;). &nbsp;The Sole Trader shall fully cooperate with TfL in utilising the applicable approvals and procedures in relation to the State Aid Rules.</p>

<p><strong>21.3</strong> In the event that a Sole Trader is in breach of Clause&nbsp;21.2 above, or the provision of the Grant Payment itself is deemed (by an appropriate authority) to breach the State Aid Rules, TfL may at its absolute discretion reduce, suspend or withhold the Grant Payment, or require all or part of the Grant Payment (together with applicable interest) to be repaid by the Sole Trader, without prejudice to any other rights and remedies including its rights under Clause&nbsp;11.</p>

<h3>22. Grant Payments in relation to a Sole Trader</h3>

<p>Where the Recipient is a Sole Trader, if the Vehicle has been used for a business purpose and the Sole Trader has claimed capital allowances in respect of it, the Grant Payment may be treated as trading income for the purposes of some means-tested benefits.&nbsp; This will be the case (generally speaking) if the Grant Payment exceeds the written down value in the Sole Trader's relevant capital allowance pool.&nbsp; If the Sole Trader has used the Vehicle for a business purpose the Sole Trader accepts that it should seek appropriate tax advice.</p>

<h3>23. Termination in relation to a Sole Trader</h3>

<p>In addition to the rights under Clause&nbsp;10, this Agreement may be terminated by TfL, in its absolute discretion immediately upon giving notice to the Sole Trader if;</p>

<p><strong>a. </strong>the Sole Trader becomes insolvent, or it is placed into receivership, administration or liquidation, or a petition has been presented for its winding up, or it enters into any arrangement or composition for the benefit of its creditors, or it is unable to pay its debts as they fall due; or</p>

<p><strong>b. </strong>the provision of the Grant Payment itself is deemed (by an appropriate authority) to breach the State Aid Rules.</p>

<h2>Schedule&nbsp;1: Eligibility checks</h2>

<p>This Schedule&nbsp;1 applies to all Recipients, including Individuals and Sole Traders.</p>

<h3>Initial Eligibility Checks</h3>

<p><strong>Recipient</strong></p>

<p>The Recipient must be an Individual or Sole Trader. Applications from any other businesses or companies are not accepted.</p>

<p><strong>Ineligible Recipients</strong></p>

<p>An applicant to TfL's Taxi Delicensing Scheme which either has (a) a current application in progress; and/or (b) an accepted application and has or will receive a payment from TfL in relation to Taxi Delicensing Scheme is not permitted to apply to this Scheme;</p>

<h3>State Benefits Criteria</h3>

<p>The Recipient must be in receipt of at least one of the list of benefits below.</p>

<p>1. Means tested benefits criteria:</p>

<ul>
	<li>Pension credit</li>
	<li>Universal credit</li>
	<li>Child tax credit</li>
	<li>Housing benefit</li>
	<li>Income support</li>
	<li>Income-based jobseeker's allowance</li>
	<li>Income-related employment and support allowance</li>
	<li>Working tax credit</li>
</ul>

<p>2. Non means tested benefits criteria:</p>

<ul>
	<li>Personal Independence Payment</li>
	<li>Disability Living Allowance</li>
	<li>Attendance Allowance</li>
	<li>Armed Forces Independence Payment</li>
	<li>War Pensioners' Mobility Support</li>
	<li>Carers' Allowance</li>
	<li>Severe Disablement Allowance</li>
	<li>Industrial Injuries Disablement Benefits</li>
	<li>Constant Attendance Allowance</li>
</ul>

<p>The Recipient must provide either of the following evidence dated within twelve (12) months of their Application for Sections 1 and 2 above:</p>

<ul>
	<li>the benefits eligibility letter; or</li>
	<li>universal credit journal.</li>
</ul>

<h3>Exceptional Criteria</h3>

<p>If the Recipient is unable to satisfy the State Benefits Criteria above and has no recourse to public funds the Recipient shall submit an enquiry through the TfL webpage, <a href="https://tfl.gov.uk/modes/driving/ultra-low-emission-zone/car-and-motorcycle-scrappage-scheme">https://tfl.gov.uk/modes/driving/ultra-low-emission-zone/car-and-motorcycle-scrappage-scheme</a> or call TfL Contact Centre on 0343 222 2222. TfL will consider such Applications on a case by case basis.</p>

<h3>Residence Criteria</h3>

<p>The Recipient must live within a London Borough, please see (for further information) <a href="https://www.gov.uk/find-local-council">https://www.gov.uk/find-local-council</a>).&nbsp; If the evidence required does not show the Recipient's address then proof of address dated within the last three (3) months must be provided:</p>

<ul>
	<li>Utility bill;</li>
	<li>Bank Statement; or</li>
	<li>Council tax letter.</li>
</ul>

<h3>Vehicle Eligibility Criteria</h3>

<p>The Recipient's Vehicle(s) to be scrapped must be non‑compliant with the ULEZ scheme and either be:</p>

<ul>
	<li>M1 Car: car as set out in the V5c: euro standard must be less than Euro 6 for diesel and less than Euro 4 for petrol; or</li>
	<li>Class L Vehicle</li>
</ul>

<p>Motorcycles: euro standard for motorcycles, mopeds, motorised tricycles, quadricycles (L category) must be less than Euro 3 as set out in the V5C.</p>

<p>The Vehicle must have been owned for at least twelve (12) months prior to the commencement of the Scheme.</p>

<p>The Vehicle must be registered:</p>

<ul>
	<li>As the Recipient's Vehicle at the Recipient's home Address. V5C Registration Document must be submitted; or</li>
	<li>With an Individual who lives at the Recipients address. V5C Registration Document and proof of residency at the Recipients address must be submitted</li>
</ul>

<p>The Vehicle to be Scrapped must be insured, have a valid MOT and road tax at the date of the Recipient's Application and such evidence provided with the Application.</p>

<h3>Secondary Eligibility Checks&nbsp;</h3>

<p>The Recipient must within thirty (30) calendar days from receiving written confirmation from TfL that the Recipient meets the Initial Eligibility Checks provide the Certificate of Destruction from an Authorised Treatment Facility to receive a Grant Payment, either by post of via the LRUC Account.</p>

<h2>Schedule 2: State Aid De Minimis</h2>

<p>This Schedule 2 applies to Sole Trader's only.</p>

<p>TfL is considering giving the Sole Trader de minimis aid under Commission Regulation (EC) No. 1407/2013 of 18 December 2013 on the application of Articles 107 and 108 of the Treaty on the Functioning of the European Union to de minimis aid (OJ L 352 (&quot;the Regulation&quot;) up to a maximum Grant Payment of &pound;2000 applicable Euro/Sterling exchange rate as set out at <a href="http://ec.europa.eu/budget/contracts_grants/info_contracts/inforeuro/index_en.cfm">http://ec.europa.eu/budget/contracts_grants/info_contracts/inforeuro/index_en.cfm</a> at the date that TfL confirmed in writing that an offer of an Grant Payment has been made in relation to the Scheme.</p>

<p>Under the Regulation, TfL is required to check whether the Sole Trader will have received more than &euro;200,000 of de minimis aid within the Member State in question (i.e. the UK) in this fiscal year (based on your accounting year e.g. by reference to the Sole Trader's accounting reference date) and in the previous two (2) fiscal years when combined with the maximum sum detailed above which TfL is proposed as a maximum to provide as de minimis aid. Please note if you as the Sole Trader is part of a group of companies your declaration needs to relate to funds received by all entities within that group for these purposes</p>

<p>Please note the Sole Trader does not need to include funding that it may have received under a scheme or Individual award which has been notified to and approved by the European Commission or under the State aid General Block Exemption Regulation, unless such funding has been/is intended to be use by the Sole Trader in relation to the same costs as the proposed de minimis funding from the TfL.</p>

<p><strong>The Sole Trader needs to complete and sign the De Minimis declaration form once its Application has been submitted.</strong></p>
      
           
      
      
        
          
            @this.ScriptBlock(
              @<script>
                queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
              </script>
            )
          
        
      
    </div>
  </div>
  <div class="aside" role="complementary">

   
    
    
    
    <div>
















<div class="advert-tile unsponsored-style google-ads" aria-hidden="true">
  <div class="advert-link">
    <div class="advert-content">
        <div class="medium-large" data-advert="/76889402/non-targeted" data-advert-sizes="300, 250"></div>
        <div class="small" data-advert="/76889402/non-targeted" data-advert-sizes="300, 250"></div>
    </div>
  </div>
</div>
@{
    ViewBag.AmazonSlot = "'amznslots'";
    ViewBag.AmazonAds = "'3199'"; // to add another value, this needs to be ViewBag.AmazonAds = "'3199','xx'";
}
      

 </div>
    
    <div data-set="sidenav-container" class="small-medium"></div>
  </div>
</div>
 
 
        
        
        
            @{ViewBag.Description = "Terms and conditions for the ULEZ Car and motorbike scrappage scheme, for individuals and sole traders.";}
        
            
        


 