
    
  



@{ViewBag.Title = "Conveyancing searches";}
@{ViewBag.Keywords = "TfL,Conveyancing searchies terms and conditions";}
@{ViewBag.Url = "/corporate/terms-and-conditions/conveyancing-searches";}
@{ViewBag.Language = "en";}
        <!-- empty placeholder -->
 
        
        
<div class="r">
    <div class="breadcrumb-container" role="navigation">
        <span id="breadcrumb-label" class="visually-hidden">You are here:</span>
        <ol class="breadcrumbs clearfix" aria-labelledby="breadcrumb-label">
            <li class="home">
                <a href="/">
                    <span class="hide-text">Home</span>
                </a>
            </li>
            
                 <li><a href="/corporate/terms-and-conditions/index">Terms & conditions </a></li>
                
            
            
                <li><span class="last-breadcrumb">Conveyancing searches</span></li>
            
        
 
        
 
        </ol>
    </div>
</div>
     
 
<div class="r">
  <div class="headline-container plain">
    <h1>Conveyancing searches</h1>

  </div>
</div>
<div class="main-and-aside r">
  
  <div class="main content-container" role="main">
    
      <div class="article-teaser">
        These are our summary terms and conditions for carrying out conveyancing searches.
        
      </div>
    
    
      <ol>
	<li><strong>Search types</strong><br />
	1.1 We carry out 4 different types of conveyancing searches, as follows:
	<ul>
		<li><strong>Railway Search (Residential)</strong> - for existing and proposed railway services, on a single residential property</li>
		<li><strong>Railway Search (Commercial)</strong> - for existing and proposed railway services, on a site that is a multiple residential, commercial or development property</li>
		<li><strong>Railway Search (Proposed Services)</strong> - for proposed railway services only, on any property type</li>
		<li><strong>Highway Search</strong> - for existing and proposed highway services, on any property type</li>
	</ul>
	</li>
	<li><strong>Turnaround</strong><br />
	2.1 We aim to respond to instructions by return email, within 10 working days, and subject to consulting with our engineers and planners.
	<p>&nbsp;</p>
	</li>
	<li><strong>Information provided</strong><br />
	3.1 Search results are provided for conveyancing purposes only, and will include details of the proximity of the subject property to existing TfL services, relevant engineering information, as well as information on any TfL schemes or proposals in the vicinity.<br />
	3.2 We may also include an illustrative plan.<br />
	3.3 Please make all necessary enquiries before requesting a TfL conveyancing search, to ensure that the search you are requesting is relevant to subject property.
	<p>&nbsp;</p>
	</li>
	<li><strong>Fees</strong><br />
	4.1 Fees apply to all of the above search types, except 'Railway Search (Proposed)'.<br />
	4.2 VAT is chargeable.<br />
	4.3 Fees are reviewed periodically and are subject to change.<br />
	4.4 Check <a href="/info-for/urban-planning-and-construction/our-land-and-infrastructure/conveyancing-searches">current pricing</a>.<br />
	4.5 Search requests that incur a fee do so regardless of the search result.
	<p>&nbsp;</p>
	</li>
	<li><strong>Undertaking to pay fees</strong><br />
	5.1 We require an explicit undertaking that the relevant fees will be paid, before we can accept your instruction - we will not progress any requests without such an undertaking.<br />
	5.2 If you submit search requests regularly, please include a standard undertaking with your instruction, for example: <strong>'We undertake to pay the relevant fee for this conveyancing search instruction'</strong>.
	<p>&nbsp;</p>
	</li>
	<li><strong>Payment of fees</strong><br />
	6.1 Fees are payable <strong>in arrears</strong> and an invoice will be issued separately, and as appropriate, within 4 weeks of your instruction being accepted.<br />
	6.2 <strong>We are unable to accept payment by cheque in advance</strong>, but once an invoice has been issued then it may then be paid by cheque, BACS, etc.<br />
	6.3 Note that cheques issued before an invoice is raised will be either returned or securely destroyed.
	<p>&nbsp;</p>
	</li>
	<li><strong>Cancellations</strong><br />
	7.1 Search requests may be cancelled by the customer at any time before the search results have been issued by us.
	<p>&nbsp;</p>
	</li>
	<li><strong>More information</strong><br />
	8.1 Find more information about <a href="/info-for/urban-planning-and-construction/our-land-and-infrastructure/conveyancing-searches">TfL conveyancing searches</a>.<br />
	8.2 Please also see <a href="/modes/driving/red-routes/red-route-maps">TLRN Maps</a> to check that a property is within 200m of the TFL road network.</li>
</ol>

<h2>Privacy notice</h2>

<p>Transport for London (TfL), its subsidiaries and service providers, will use your personal information for the purpose of administering and conducting the conveyancing searches that you have requested. Your personal information will be properly safeguarded and processed in accordance with the requirements of privacy and data protection legislation. Further information is available on our <a href="/corporate/privacy-and-cookies/index">Privacy and cookies</a> pages.</p>

<p>&nbsp;&nbsp;&nbsp;</p>

<p>&nbsp;</p>

<p>&nbsp;</p>

<ol>
</ol>
      
           
      
      
        
          
        
      
    
  </div>
  <div class="aside" role="complementary">

   
    
    
    
      <div data-set="sidenav-container" class="large">
        
        
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
                <a href="/corporate/terms-and-conditions/index" class="heading">
                    <h2 id="sub-menu-heading">Terms & conditions <span class="visually-hidden"> navigation</span></h2>
                </a>
                <ul>
                    
                                <li><div class="link-wrapper"><a href="/corporate/terms-and-conditions/competitions">Competitions</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/corporate/terms-and-conditions/ticketing-and-travel-conditions-of-carriage">Conditions of Carriage</a></div></li>
                            
 
                                <li class="selected"><div class="link-wrapper"><a href="/corporate/terms-and-conditions/conveyancing-searches">Conveyancing searches</a></div>
                            </li>
 
                                <li><div class="link-wrapper"><a href="/corporate/terms-and-conditions/live-bus-departure-information">Live Bus & River Bus arrivals</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/corporate/terms-and-conditions/online-accounts">Online accounts</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/corporate/terms-and-conditions/pay-to-drive-in-london">Pay to drive in London</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/corporate/terms-and-conditions/pay-to-drive-in-london-app">Pay to drive in London app</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/corporate/terms-and-conditions/santander-cycles">Santander Cycles</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/corporate/terms-and-conditions/scrappage-scheme">Scrappage scheme</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/corporate/terms-and-conditions/social-media">Social media</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/corporate/terms-and-conditions/stars">STARS</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/corporate/terms-and-conditions/taxi-delicensing">Taxi delicensing</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/corporate/terms-and-conditions/tfl-call-charges">TfL call charges</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/corporate/terms-and-conditions/tfl-oyster-app">TfL Oyster and contactless app</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/corporate/terms-and-conditions/tfl-pension-fund">TfL Pension Fund</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/corporate/terms-and-conditions/transport-data-service">Transport Data Service </a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/corporate/terms-and-conditions/visitor-oyster-shop">Visitor Oyster shop</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/corporate/terms-and-conditions/webcat">WebCAT</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/corporate/terms-and-conditions/website">Website</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/corporate/terms-and-conditions/dlr-discovery">DLR Discovery</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/corporate/terms-and-conditions/direct-vision-standard-and-safety-permit-for-hgvs">Direct Vision Standard and Safety Permit for HGVs</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/corporate/terms-and-conditions/car-and-motorcycle-scrappage-scheme">ULEZ Car and motorcycle scrappage scheme</a></div></li>
                            
 
                </ul>
            
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
      </div>
    
    <div>
















<div class="advert-tile unsponsored-style google-ads" aria-hidden="true">
  <div class="advert-link">
    <div class="advert-content">
        <div class="medium-large" data-advert="/76889402/non-targeted" data-advert-sizes="300, 250"></div>
        <div class="small" data-advert="/76889402/non-targeted" data-advert-sizes="300, 250"></div>
    </div>
  </div>
</div>
@{
    ViewBag.AmazonSlot = "'amznslots'";
    ViewBag.AmazonAds = "'3199'"; // to add another value, this needs to be ViewBag.AmazonAds = "'3199','xx'";
}
      

 </div>
    
    <div data-set="sidenav-container" class="small-medium"></div>
  </div>
</div>
 
 
        
        
        
            @{ViewBag.Description = "Terms and conditions for carrying out conveyancing searches";}
        
            
        


 