
    
  



@{ViewBag.Title = "Cycle Hire promo codes";}
@{ViewBag.Keywords = "TfL";}
@{ViewBag.Url = "/corporate/terms-and-conditions/cycle-hire-promo-codes";}
@{ViewBag.Language = "en";}
        <!-- empty placeholder -->
 
        
        
<div class="r">
    <div class="breadcrumb-container" role="navigation">
        <span id="breadcrumb-label" class="visually-hidden">You are here:</span>
        <ol class="breadcrumbs clearfix" aria-labelledby="breadcrumb-label">
            <li class="home">
                <a href="/">
                    <span class="hide-text">Home</span>
                </a>
            </li>
            
                 <li><a href="/corporate/terms-and-conditions/index">Terms & conditions </a></li>
                
            
                 <li><a href="/corporate/terms-and-conditions/santander-cycles">Santander Cycles</a></li>
                
            
            
                <li><span class="last-breadcrumb">Cycle Hire promo codes</span></li>
            
        
 
        
 
        
 
        </ol>
    </div>
</div>
     
 
<div class="r">
  <div class="headline-container plain">
    <h1>Cycle Hire promo codes</h1>

  </div>
</div>
<div class="main-and-aside r">
  
  <div class="main content-container" role="main">
    
      <div class="article-teaser">
        Terms of purchase and use of promo codes.<BR>
        
      </div>
    
    <div class="on-this-page">
      <p>1.	<strong>Promoter's name and address</strong>: Transport Trading Limited of 55 Broadway, London, United Kingdom, SW1H 0BD (a subsidiary of Transport for London) ("<strong>TTL</strong>").</p>
<p>2.	In these terms and conditions for the purchase and use of Promo Codes some words have a special meaning as set out below.  Words not defined below shall have the meaning set out in the User Terms and Conditions:<br />
a.	<strong>"Promo Code"</strong> refers to the voucher for a "Daily" or "Yearly" Bike Access Period, which we offer you to purchase.<br />
b.	<strong>"we"</strong>, <strong>"our"</strong> and <strong>"us"</strong> refers to TTL;<br />
c.	<strong>&quot;you&quot;</strong> and <strong>"your"</strong> refers to the company, business or individual purchasing a Promo Code.</p>
<p>3.	<strong>Purchase of Promo Codes:</strong><br />
a.	You may purchase Promo Codes by telephoning our Contact Centre on 0343 2220066.<br />
b.	Once we have received payment for the Promo Code that you have purchased, we will send the Promo Code to the email address that you have provided</p>
<p>4.	<strong>Period of validity:</strong><br />
a.	Unless otherwise stated on the Promo Code, each Promo Code is valid for 12 months from the date of issue and will expire on the first anniversary of the date of issue (the <strong>"Expiry Date"</strong>).<br />
b.	You will not be able to redeem the Promo Code if you have not used it prior to the Expiry Date and you shall not be entitled to a refund of any monies paid for any Promo Codes that have not been used prior to the Expiry Date.</p>
<p>5.	<strong>Redeeming Promo Codes:</strong><br />
a.	The value of the Promo Code is for the Bike Access Period stated on the Promo Code.<br />
b.	Only one Promo Code can be used for a single Bike Access Period.<br />
c.	Promo Codes may be redeemed either:<br />
i.	online at <a href="/modes/cycling/santander-cycles">http://www.tfl.gov.uk/santandercycles;</a><br />
ii.	by telephone call to our Contact Centre on 0203 222 6666; or<br />
iii.	through the Santander Cycle App.</p>
<p>6.	<strong>Conditions of use of Promo Codes</strong>:<br />
a.	The Promo Code permits a person eligible to use a Cycle to access and use a Cycle during the relevant Bike Access Period.  Each single journey lasting no more than 30 minutes is free of charge.  Additional Charges may apply in respect of the use of the Cycle (see <a href="https://tfl.gov.uk/corporate/terms-and-conditions/santander-cycles#on-this-page-11">https://tfl.gov.uk/corporate/terms-and-conditions/santander-cycles#on-this-page-11</a> for full details of the Charges).  The person that redeems the Promo Code will be responsible for such Additional Charges.<br />
b.	You may give a Promo Code as a gift, reward or as part of a package of benefits offered by you to a person that is eligible to use a Cycle.<br />
c.	To use a Cycle the person redeeming the Promo Code must be aged 18 or over and agree to the User Terms and Conditions, which are available here <a href="/corporate/terms-and-conditions/santander-cycles">https://tfl.gov.uk/corporate/terms-and-conditions/santander-cycles</a>.<br />
d.	Promo Codes are not supplied on a sale or return basis.<br />
e.	Promo Codes may not be exchanged for cash.<br />
f.	We may refund the purchase price of the Promo Code to you at any time up to 8 weeks after the date of purchase (in accordance with our Refund Policy.  After this period, you may only cancel the Promo Code so that it cannot be redeemed.<br />
g.	Promo Codes may not be combined with any other promotional offer made by us or Santander in relation to the use of Santander Cycles.<br />
h.	Each Promo Code issued to you must be looked after by you with reasonable care. We take no responsibility for lost or stolen Promo Codes.  If a Promo Code issued to you is lost or stolen, you must notify us by telephoning our Contact Centre.</p>
<p>7.	<strong>Restrictions on your use of Promo Codes:</strong><br />
a.	You may not issue a Promo Code to anyone who is under the age of 18.<br />
b.	You may not resell a Promo Codes for more than its face value.  We reserve the right to cancel and/or refuse any Promo Code that has been wrongfully obtained, duplicated, resold or is being used fraudulently without payment of any refund or monies to you, in accordance with the User Policy.<br />
c.	Your purchase of a Promo Code does not entitle you to use any of our trademarks or intellectual property or to make any representations that we support or are working in association with you in the use of a Promo Code or promoting cycling in general.<br />
d.	We reserve the right to withdraw the Promo Codes or amend these terms and conditions at any time but, where practicable, will use all reasonable endeavours to provide you with prior notification of any such amendments.  In these circumstances, you may be eligible for a refund in accordance with our Refund Policy.</p>
<p>8.	<strong>Privacy</strong><br />
All personal data about you will be processed in accordance with our Privacy Notice, which will be presented for your review and acceptance before you submit any personal information to us. Further information on how personal data is processed by us is available at <a href="/corporate/privacy-and-cookies/index">www.tfl.gov.uk/privacy</a>.</p>
<p>9.	<strong>General</strong><br />
a.	These terms and conditions shall be governed by English law.<br />
b.	If any disputes arise between you and us and you want to take court proceedings, you must do so at a court in the United Kingdom.<br />
c.	Only you and we have rights under these terms and conditions.  No other person shall have any rights under these terms and conditions.<br />
d.	You may not transfer any of your rights under these terms and conditions to any other person.</p>
      
           
      
      
        
          
            @this.ScriptBlock(
              @<script>
                queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
              </script>
            )
          
        
      
    </div>
  </div>
  <div class="aside" role="complementary">

   
    
    
    
    <div>




















<div class="advert-tile unsponsored-style google-ads" aria-hidden="true">
  <div class="advert-link">
    <div class="advert-content">
        <div class="medium-large" data-advert="/76889402/non-targeted" data-advert-sizes="300, 250"></div>
        <div class="small" data-advert="/76889402/non-targeted" data-advert-sizes="300, 250"></div>
    </div>
  </div>
</div>
@{
    ViewBag.AmazonSlot = "'amznslots'";
    ViewBag.AmazonAds = "'3199'"; // to add another value, this needs to be ViewBag.AmazonAds = "'3199','xx'";
}
      

 </div>
    
    <div data-set="sidenav-container" class="small-medium"></div>
  </div>
</div>
 
 
        
        
        
            @{ViewBag.Description = "Terms of purchase and use of Cycle Hire promo codes";}
        
            
        


 