
    
  


<!-- rhroot -->
@{ViewBag.Title = "Terms & conditions ";}
@{ViewBag.Keywords = "TfL";}
@{ViewBag.Url = "/corporate/terms-and-conditions/index";}
@{ViewBag.Language = "en";}
        <!-- empty placeholder -->
 
        
        
<div class="r">
    <div class="breadcrumb-container" role="navigation">
        <span id="breadcrumb-label" class="visually-hidden">You are here:</span>
        <ol class="breadcrumbs clearfix" aria-labelledby="breadcrumb-label">
            <li class="home">
                <a href="/">
                    <span class="hide-text">Home</span>
                </a>
            </li>
            
            
                <li><span class="last-breadcrumb">Terms & conditions </span></li>
            
        
 
        </ol>
    </div>
</div>
     
 
<div class="r">
  <div class="headline-container plain">
    <h1>Terms & conditions </h1>

  </div>
</div>
<div class="main-and-aside r">
  
  <div class="main content-container" role="main">
    
      <div class="article-teaser">
        We have different terms and conditions for the services we offer. We may update these terms and conditions from time to time, so please review these pages regularly.
        
      </div>
    
    
      
    
      
           
      
<div class="module-grid clearfix">
<div class="news-teaser">

    <a href="/corporate/terms-and-conditions/competitions?intcmp=18248" >
        
        
        <div class="text-link">
             <h2>Competitions</h2>
            <p>From time to time we run competitions. You'll find the terms & conditions here</p>
        </div>
    </a>
</div>
 
 <div class="news-teaser">

    <a href="/corporate/terms-and-conditions/online-accounts?intcmp=3783" >
        
        
        <div class="text-link">
             <h2>Online ticketing accounts</h2>
            <p>Terms and conditions for using Oyster and contactless payment cards</p>
        </div>
    </a>
</div>
 
 <div class="news-teaser">

    <a href="/corporate/terms-and-conditions/ticketing-and-travel-conditions-of-carriage?intcmp=3774" >
        
        
        <div class="text-link">
             <h2>Conditions of Carriage</h2>
            <p>Your rights and duties as a transport user in London</p>
        </div>
    </a>
</div>
 
 <div class="news-teaser">

    <a href="/corporate/terms-and-conditions/santander-cycles?intcmp=1574" >
        
        
        <div class="text-link">
             <h2>Santander Cycles</h2>
            <p>Terms, conditions and insurance for the capital's bike sharing scheme</p>
        </div>
    </a>
</div>
 
 <div class="news-teaser">

    <a href="/corporate/terms-and-conditions/tfl-call-charges?intcmp=3942" >
        
        
        <div class="text-link">
             <h2>Call charges</h2>
            <p>Information about the call charges you can expect if you call us</p>
        </div>
    </a>
</div>
 
 <div class="news-teaser">

    <a href="/corporate/terms-and-conditions/pay-to-drive-in-london?intcmp=57454" >
        
        
        <div class="text-link">
             <h2>Pay to drive in London</h2>
            <p>Terms and conditions for London Road User Charging accounts</p>
        </div>
    </a>
</div>
 
 <div class="news-teaser">

    <a href="/corporate/terms-and-conditions/pay-to-drive-in-london-app?intcmp=57112" >
        
        
        <div class="text-link">
             <h2>Pay to drive in London app</h2>
            <p>Use our app to pay Congestion Charge/ULEZ/LEZ charges and penalties</p>
        </div>
    </a>
</div>
 
 <div class="news-teaser">

    <a href="/corporate/terms-and-conditions/website?intcmp=21793" >
        
        
        <div class="text-link">
             <h2>Website</h2>
            <p>We try to keep our website accurate but we disclaim responsibility for loss or damage</p>
        </div>
    </a>
</div>
 
 <div class="news-teaser">

    <a href="http://visitorshop.tfl.gov.uk/terms-and-conditions/?intcmp=23432" >
        
        
        <div class="text-link">
             <h2>Visitor Oyster shop</h2>
            <p>These terms and conditions apply to the use of the Transport for London Visitor Shop</p>
        </div>
    </a>
</div>
 
 <div class="news-teaser">

    <a href="/corporate/terms-and-conditions/social-media?intcmp=21815" >
        
        
        <div class="text-link">
             <h2>Social media</h2>
            <p>See our policies for Facebook and Twitter</p>
        </div>
    </a>
</div>
 
 <div class="news-teaser">

    <a href="/corporate/terms-and-conditions/conveyancing-searches?intcmp=47529" >
        
        
        <div class="text-link">
             <h2>Conveyancing searches</h2>
            <p>Our summary terms & conditions for carrying out conveyancing searches</p>
        </div>
    </a>
</div>
 
 <div class="news-teaser">

    <a href="/corporate/terms-and-conditions/tfl-oyster-app?intcmp=48707" >
        
        
        <div class="text-link">
             <h2>TfL Oyster and contactless app</h2>
            <p>Terms and conditions for the TfL Oyster and contactless app</p>
        </div>
    </a>
</div>
 
 
</div>
 
      
        
          
        
      
    
  </div>
  <div class="aside" role="complementary">

   
    
    
    
      <div data-set="sidenav-container" class="large">
        
        
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
                <a href="/corporate/terms-and-conditions/index" class="heading">
                    <h2 id="sub-menu-heading">Terms & conditions <span class="visually-hidden"> navigation</span></h2>
                </a>
                <ul>
                    
                                <li><div class="link-wrapper"><a href="/corporate/terms-and-conditions/competitions">Competitions</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/corporate/terms-and-conditions/ticketing-and-travel-conditions-of-carriage">Conditions of Carriage</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/corporate/terms-and-conditions/conveyancing-searches">Conveyancing searches</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/corporate/terms-and-conditions/live-bus-departure-information">Live Bus & River Bus arrivals</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/corporate/terms-and-conditions/online-accounts">Online accounts</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/corporate/terms-and-conditions/pay-to-drive-in-london">Pay to drive in London</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/corporate/terms-and-conditions/pay-to-drive-in-london-app">Pay to drive in London app</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/corporate/terms-and-conditions/santander-cycles">Santander Cycles</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/corporate/terms-and-conditions/scrappage-scheme">Scrappage scheme</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/corporate/terms-and-conditions/social-media">Social media</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/corporate/terms-and-conditions/stars">STARS</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/corporate/terms-and-conditions/taxi-delicensing">Taxi delicensing</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/corporate/terms-and-conditions/tfl-call-charges">TfL call charges</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/corporate/terms-and-conditions/tfl-oyster-app">TfL Oyster and contactless app</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/corporate/terms-and-conditions/tfl-pension-fund">TfL Pension Fund</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/corporate/terms-and-conditions/transport-data-service">Transport Data Service </a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/corporate/terms-and-conditions/visitor-oyster-shop">Visitor Oyster shop</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/corporate/terms-and-conditions/webcat">WebCAT</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/corporate/terms-and-conditions/website">Website</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/corporate/terms-and-conditions/dlr-discovery">DLR Discovery</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/corporate/terms-and-conditions/direct-vision-standard-and-safety-permit-for-hgvs">Direct Vision Standard and Safety Permit for HGVs</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/corporate/terms-and-conditions/car-and-motorcycle-scrappage-scheme">ULEZ Car and motorcycle scrappage scheme</a></div></li>
                            
 
                </ul>
            
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
      </div>
    
    <div>












<div class="advert-tile unsponsored-style google-ads" aria-hidden="true">
  <div class="advert-link">
    <div class="advert-content">
        <div class="medium-large" data-advert="/76889402/non-targeted" data-advert-sizes="300, 250"></div>
        <div class="small" data-advert="/76889402/non-targeted" data-advert-sizes="300, 250"></div>
    </div>
  </div>
</div>
@{
    ViewBag.AmazonSlot = "'amznslots'";
    ViewBag.AmazonAds = "'3199'"; // to add another value, this needs to be ViewBag.AmazonAds = "'3199','xx'";
}
      

 </div>
    
    <div data-set="sidenav-container" class="small-medium"></div>
  </div>
</div>
 
 
        
        
        
            @{ViewBag.Description = "Terms & conditions for ticketing, Congestion charge, Low Emission Zone, Live bus arrivals, Barclays Cycle Hire and other TfL services.";}
        
            
        


 