
    
  



@{ViewBag.Title = "Live Bus & River Bus arrivals";}
@{ViewBag.Keywords = "TfL";}
@{ViewBag.Url = "/corporate/terms-and-conditions/live-bus-departure-information";}
@{ViewBag.Language = "en";}
        <!-- empty placeholder -->
 
        
        
<div class="r">
    <div class="breadcrumb-container" role="navigation">
        <span id="breadcrumb-label" class="visually-hidden">You are here:</span>
        <ol class="breadcrumbs clearfix" aria-labelledby="breadcrumb-label">
            <li class="home">
                <a href="/">
                    <span class="hide-text">Home</span>
                </a>
            </li>
            
                 <li><a href="/corporate/terms-and-conditions/index">Terms & conditions </a></li>
                
            
            
                <li><span class="last-breadcrumb">Live Bus & River Bus arrivals</span></li>
            
        
 
        
 
        </ol>
    </div>
</div>
     
 
<div class="r">
  <div class="headline-container plain">
    <h1>Live Bus & River Bus arrivals</h1>

  </div>
</div>
<div class="main-and-aside r">
  
  <div class="main content-container" role="main">
    
      <div class="article-teaser">
        These terms and conditions cover live bus and river bus arrivals.<BR>
        
      </div>
    
    <div class="on-this-page">
      
      
           
      <div>

<p>Please read these Conditions carefully. They contain important information about how we provide the Service, what you will be charged for using the SMS Service and certain technical and other limitations associated with the Service. If you do not agree with these Conditions, please do not use, or continue to use, the Service. Your use or continued use of the Service shall be deemed as acceptance of these Conditions.</p>
<p>We may change these Conditions from time to time without notice. Your continued use of the Service will be deemed as acceptance of any change. </p>
<p>The 'SMS Service' is the information service delivered by short message service or 'SMS'.</p>
<p>The 'Web Service' is the service accessed through <a href="/travel-information/stations-stops-and-piers/index">tfl.gov.uk/stations-stops-and-piers</a>.</p>
<p>Transport for London is referred to as 'TfL', 'we', 'us' and 'our', and references to 'you', 'your' and 'user(s)' mean you, the user of the relevant Service.</p>
<ol>
    <li>
    <h2>About the Service</h2>
    <ol>
        <p>1.1 The Service aims to provide realtime bus and river bus arrival information to members of the public using SMS, web and mobile web services. </p>
    </ol>
    </li>
    <li>
    <h2>Charges for the SMS Service</h2>
    <ol>
        <p>2.1 We will provide the SMS Service to you at a charge of 12 pence per text over your standard network rate. This charge may change in the future, but any change will be noted here and publicised by TfL. Texts via overseas networks are charged at the network's standard roaming rate only, but are limited to five per day. Please see tfl.gov.uk/terms for more details. The overall cost of sending a text may vary depending on the contract you have with your mobile network operator. You should check with your operator if you are unsure of the amounts charged to you for sending and receiving texts.</p>
        <p>2.2 You will not be charged by us if:</p>
        <ul>
            <li>You do not receive a text from us using the SMS Service</li>
            <li>Our system is not working. Your mobile network operator may still charge the standard network rate for sending a text</li>
        </ul>
        <p>2.3 Each request you make for bus or river bus arrival information using this SMS Service will be treated as a one-off transaction. You will only be provided with bus/river bus arrival information relating to the specific text you send to us. The SMS Service is not an agreement to send to you further texts and does not operate as a subscription service.</p>
        <p>2.4 The SMS Service is provided by us for use only in the United Kingdom. You cannot use this service if you are outside of the United Kingdom.</p>
    </ol>
    </li>
    <li>
    <h2>About the Web Service </h2>
    <ol>
        <p>3.1 The Web Service provides bus and river bus arrival information via tfl.gov.uk/stations-stops-and-piers.</p>
        <p>3.2 You shall not:</p>
        <ul>
            <li>Reproduce, copy, distribute, transmit, sub-license, assign, lease, publish, edit, resell, publicly perform or display or otherwise exploit any portion of the Web Service in any medium, other than for your personal use or otherwise to the extent necessary to use the Web Service for its intended purposes</li>
            <li>Alter, adapt, translate, modify or create derivative work except to the extent necessary to use the Web Service for its intended purposes </li>
            <li>Attempt to gain unauthorised access to, or interfere with, or damage, impair or disable the operation of the Web Service, by any means, including, uploading or otherwise disseminating viruses, worms, spyware, adware, or other malicious code</li>
            <li>Remove, circumvent, disable, damage or otherwise interfere with any security-related features of the Web Service, features that prevent or restrict the use or copying of any part of the Web Service, or features that enforce limitations on the use of the Web Service</li>
            <li>  Use any robot, spider, scraper, or other automated means to access the Web Service for any purpose or bypass any robot exclusion headers or other measures used to prevent or restrict access to the Web Service</li>
            <li>Acquire any right, title, or interest to the Web Service.  However, it is acknowledged that any map tile data that you may obtain or access via the Web Service is licensed for use solely under the terms of the Creative Commons Attribution Share-Alike 2.0 License and/or</li>
            <li>Reverse engineer, decompile, disassemble or otherwise attempt to discover the source code of any software used to deliver the WebService or any part thereof, except and only to the extent that such activity is expressly permitted by applicable law notwithstanding this limitation</li>
        </ul>
    </ol>
    </li>
    <li>
    <h2>Your use of the Service</h2>
    <ol>
        <p>4.1 You agree that you will use the Service lawfully and in accordance with these Conditions.</p>
        <p>4.2 You agree that we are providing the Service to you for your own personal use and you shall not commercially exploit the service.</p>
        <p>4.3 You acknowledge that, unless expressly stated, we and our licensors own all intellectual and proprietary rights existing in the Service.</p>
    </ol>
    </li>
    <li>
    <h2>Charges for using the Web Service</h2>
    <ol>
        <p>5.1 We will provide the bus/river bus arrival information free of charge via our Web Service. The overall cost of using our Web Service may vary depending on the contract you have with your Internet Provider. You should check with your Internet Provider if you are unsure of the amounts charged to you for using internet services, especially when mobile. </p>
    </ol>
    </li>
    <li>
    <h2>Limitations of the Service</h2>
    <ol>
        <p>6.1 These Conditions do not exclude our liability to you (if any) for </p>
        <ul>
            <li>Personal injury or death resulting from our negligence</li>
            <li>Fraud; and/or</li>
            <li>Any matter for which it would be illegal for us to exclude or to attempt to exclude our liability</li>
        </ul>
        <p>6.2 TfL will take all reasonable steps to provide you with accurate bus/river bus arrival information and promptly following your text to us, or accessing our Web Service, however we draw your attention to the following limitations which apply at all times when using the Service</p>
        <ul>
            <li>We cannot always foresee technical, operational or other difficulties which may arise from time to time, including matters affecting the TfL system and buses/river buses. Such matters may include traffic, road works, general maintenance, accidents, bus stop/pier closures and other events which may cause delays, cancellations or other disruptions affecting the nature of the Service and the accuracy and timeliness of the information we provide to you</li>
            <li>The Service depends on the involvement of third parties (including the mobile network providers) who are not under TfL's control and whose acts and omissions we cannot be responsible for</li>
            <li>We are not responsible for the availability and performance of your handset or mobile network and we cannot guarantee that the SMS Service will be compatible with the same</li>
            <li>We are not responsible for the availability or performance of the service provided by your Internet Provider</li>
            <li>If you send a text which does not include the correct information or is in a format not consistent with the format requested in these Conditions or in any other TfL instructions, you may not be able to receive the SMS Service</li>
        </ul>
        <p>6.3 We, our agents and third party contractors we rely on to provide the Service, do not make any representations, guarantees or warranties that the Service will be error-free or fit for any particular purpose. We, our employees, agents and third party contractors we rely on to provide the Service, are not responsible for or liable to you for any loss or damage where</p>
        <ul>
            <li>There has been failure, interruption or delays to the Service caused by events outside our reasonable control</li>
            <li>We have ceased to provide the Service at, or removed, a particular bus stop or pier (although we will use reasonable efforts to update the TfL website and other sources of information relevant to the Service)</li>
            <li>You have failed to follow, negligently or otherwise, these Conditions or any other reasonable instructions which we may have provided to you</li>
            <li>There is no breach of a contractual obligation or legal duty of care owed to you by us or our employees or agents</li>
            <li>Such loss or damage is not a reasonably foreseeable and direct result of any breach (including any loss or damage incurred as a result of you relying on any arrival information provided using the Service) and</li>
            <li>To the extent that such loss or damage results from any breach by you of these Conditions</li>
        </ul>
        <p>6.4 The disclaimers set out above do not affect or prejudice any other TfL disclaimers or exclusions relating to the use of the Service, or your statutory rights as a consumer.</p>
    </ol>
    </li>
    <li>
    <h2>Your personal information</h2>
    <ol>
        <p>7.1 It is possible that your mobile phone number and basic contact details will be obtained in the course of delivering the Service to you, and/or if you contact us with queries or complaints about the Service. Some of this information may be classified as personal information. Personal information is information capable of identifying you as a living individual and is subject to protection under data protection laws.</p>
        <p>7.2 We will not hold or use your personal information for any purpose other than the following:</p>
        <ul>
            <li>To provide you with the Service</li>
            <li>For billing and record retention purposes</li>
            <li>To comply with any legal or regulatory obligation imposed on us</li>
            <li>To administer complaints and enquiries and</li>
            <li>To uphold and exercise TfL's legal rights</li>
        </ul>
        <p>7.3 We will only hold your personal information for as long as it is necessary for us to perform these activities. Further information on TfL's approach to handling personal information can be found on our <a href="/corporate/privacy-and-cookies/index">Privacy and cookies</a> pages.
        </p>
    </ol>
    </li>
    <li>
    <h2>General</h2>
    <ol>
        <p>These Conditions, and any other non-contractual obligations arising out of or in connection with them, will be governed by English law and subject to the exclusive jurisdiction of the English courts.</p>
    </ol>
    </li>
</ol>
</div>
 
      
        
          
            @this.ScriptBlock(
              @<script>
                queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
              </script>
            )
          
        
      
    </div>
  </div>
  <div class="aside" role="complementary">

   
    
    
    
      <div data-set="sidenav-container" class="large">
        
        
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
                <a href="/corporate/terms-and-conditions/index" class="heading">
                    <h2 id="sub-menu-heading">Terms & conditions <span class="visually-hidden"> navigation</span></h2>
                </a>
                <ul>
                    
                                <li><div class="link-wrapper"><a href="/corporate/terms-and-conditions/competitions">Competitions</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/corporate/terms-and-conditions/ticketing-and-travel-conditions-of-carriage">Conditions of Carriage</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/corporate/terms-and-conditions/conveyancing-searches">Conveyancing searches</a></div></li>
                            
 
                                <li class="selected"><div class="link-wrapper"><a href="/corporate/terms-and-conditions/live-bus-departure-information">Live Bus & River Bus arrivals</a></div>
                            </li>
 
                                <li class="parent"><div class="link-wrapper"><a href="/corporate/terms-and-conditions/online-accounts">Online accounts</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/corporate/terms-and-conditions/pay-to-drive-in-london">Pay to drive in London</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/corporate/terms-and-conditions/pay-to-drive-in-london-app">Pay to drive in London app</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/corporate/terms-and-conditions/santander-cycles">Santander Cycles</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/corporate/terms-and-conditions/scrappage-scheme">Scrappage scheme</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/corporate/terms-and-conditions/social-media">Social media</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/corporate/terms-and-conditions/stars">STARS</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/corporate/terms-and-conditions/taxi-delicensing">Taxi delicensing</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/corporate/terms-and-conditions/tfl-call-charges">TfL call charges</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/corporate/terms-and-conditions/tfl-oyster-app">TfL Oyster and contactless app</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/corporate/terms-and-conditions/tfl-pension-fund">TfL Pension Fund</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/corporate/terms-and-conditions/transport-data-service">Transport Data Service </a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/corporate/terms-and-conditions/visitor-oyster-shop">Visitor Oyster shop</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/corporate/terms-and-conditions/webcat">WebCAT</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/corporate/terms-and-conditions/website">Website</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/corporate/terms-and-conditions/dlr-discovery">DLR Discovery</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/corporate/terms-and-conditions/direct-vision-standard-and-safety-permit-for-hgvs">Direct Vision Standard and Safety Permit for HGVs</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/corporate/terms-and-conditions/car-and-motorcycle-scrappage-scheme">ULEZ Car and motorcycle scrappage scheme</a></div></li>
                            
 
                </ul>
            
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
      </div>
    
    <div>
















<div class="advert-tile unsponsored-style google-ads" aria-hidden="true">
  <div class="advert-link">
    <div class="advert-content">
        <div class="medium-large" data-advert="/76889402/non-targeted" data-advert-sizes="300, 250"></div>
        <div class="small" data-advert="/76889402/non-targeted" data-advert-sizes="300, 250"></div>
    </div>
  </div>
</div>
@{
    ViewBag.AmazonSlot = "'amznslots'";
    ViewBag.AmazonAds = "'3199'"; // to add another value, this needs to be ViewBag.AmazonAds = "'3199','xx'";
}
      

 </div>
    
    <div data-set="sidenav-container" class="small-medium"></div>
  </div>
</div>
 
 
        
        
        
            @{ViewBag.Description = "Terms & conditions for live bus and river bus arrivals";}
        
            
        


 