
    
  



@{ViewBag.Title = "Online accounts";}
@{ViewBag.Keywords = "TfL";}
@{ViewBag.Url = "/corporate/terms-and-conditions/online-accounts";}
@{ViewBag.Language = "en";}
        <!-- empty placeholder -->
 
        
        
<div class="r">
    <div class="breadcrumb-container" role="navigation">
        <span id="breadcrumb-label" class="visually-hidden">You are here:</span>
        <ol class="breadcrumbs clearfix" aria-labelledby="breadcrumb-label">
            <li class="home">
                <a href="/">
                    <span class="hide-text">Home</span>
                </a>
            </li>
            
                 <li><a href="/corporate/terms-and-conditions/index">Terms & conditions </a></li>
                
            
            
                <li><span class="last-breadcrumb">Online accounts</span></li>
            
        
 
        
 
        </ol>
    </div>
</div>
     
 
<div class="r">
  <div class="headline-container plain">
    <h1>Online accounts</h1>

  </div>
</div>
<div class="main-and-aside r">
  
  <div class="main content-container" role="main">
    
      <div class="article-teaser">
        These terms and conditions cover contactless and Oyster online, auto top-up, Oyster and web credits.
        
      </div>
    
    <div class="on-this-page">
      <h2>TfL Online account terms and conditions</h2>

<h3>Section 1 - Introduction</h3>

<ol>
	<li>These terms and conditions apply to customers creating and using a contactless or Oyster account.</li>
	<li>Creating and using your account is deemed acceptance of these terms and conditions.</li>
	<li>The most up to date terms and conditions will always be available at tfl.gov.uk/terms.</li>
	<li>Nothing in these terms and conditions affects your statutory rights.</li>
	<li>If you do not want to add your contactless payment card to a TfL online account, you can only see seven days of your journey and payment history on the TfL website. You must provide your contactless payment card number, the expiry date, the card security code and the card's billing address each time you check.</li>
</ol>

<h3>Section 2 - Setting up an account</h3>

<ol>
	<li>You can create a online account at <a href="http://account.tfl.gov.uk/Register">https://account.tfl.gov.uk/register</a></li>
	<li>As part of setting up your account we will email you using the address you provide. You will then need to sign into your email account and click on the link in the email to activate your account. If you do not do this your account will not be active.</li>
	<li>If you do not activate your account within 24 hours you will need to use the 'forgotten password' process to be sent a new email to activate your account.</li>
	<li>Once you have set up an account you can add both contactless and Oyster cards to it.</li>
	<li>To add a contactless card to your account you will need to provide the name as shown on the payment card, card number, expiry date, CVV number and billing address. Once you have provided this, your card will be added to your account. There is no limit to the number of contactless cards you can add to your account.</li>
	<li>Our system checks that the card is a valid payment card (ie hasn't expired or been stopped) but it does not check that the payment card is a contactless card. You need to make sure that the card that you add is a contactless payment card.</li>
	<li>You can add an Oyster card to your account. There is no limit to the amount of Oyster cards you can add to your account. You will need to either confirm a security question and answer if you completed a registration form or give us details of the last journey you made with the Oyster card. The journey must have been made within the last 8 weeks (not including that day's journeys).</li>
	<li>If the Oyster card you want to add is unregistered, you will be required to select a security question and add a security answer as well as give us details of the last journey you made.</li>
	<li>If you are unable to provide details of the last journey, you will need to make journeys and add the Oyster card at a later date.</li>
	<li>You must keep your account details secret and take all reasonable precautions to prevent unauthorised or fraudulent use of them.</li>
</ol>

<h3>Section 3 - What you can do with an Oyster card attached to a TfL online account</h3>

<ol>
	<li>When you sign in you can see your pay as you go balance and details of any Season tickets on your Oyster card.</li>
	<li>You can top up your pay as you go credit or buy Travelcards. You will need to select the amount or Travelcard you want.</li>
	<li>We use an encrypted secure payment mechanism to ensure your debit/credit card details are safe. We accept American Express, Maestro, MasterCard, Visa and Visa Electron payment cards.</li>
	<li>All debit/credit card payments are subject to authorisation by your card issuer.</li>
	<li>Your debit/credit card must be registered to a UK address.</li>
	<li>You can manage your Auto top-up settings (See section 5 for more information).</li>
	<li>You can view up to eight weeks' worth of journey history. After eight weeks your data journey will be disassociated from your Oyster card and will no longer be available.</li>
	<li>You can apply for an incomplete journey refund. You can complete up to 3 incomplete journeys in a calendar month. If the system is not showing you are eligible for an incomplete journey refund and you believe you are, you will need to phone us on 0343 222 1234 (8am - 8pm daily).</li>
	<li>You can update your personal details and account details when you sign in.</li>
	<li>You can apply for a refund of any pay as you go balance or Travelcards on your Oyster card. When you do this your Oyster card will be stopped and you will no longer be able to use it.</li>
	<li>You can set up how frequently you would like journey statements to be sent to you and in what format.</li>
	<li>You can collect your online order 30 minutes after purchase from any London bus, or at any Tube, DLR, London Overground, TfL Rail or National Rail station within the pay as you go area, tram stop or River Bus pier when you touch your card on a yellow card reader as part of your journey.</li>
	<li>You can choose to transfer any pay as you go balance or Travelcards to another Oyster card. To do this you will need to have details of the new Oyster card and you will need to physically have the new Oyster card for the transfer to be completed as you need to touch in as part of a journey for the transfer to complete. You will need to have made journeys on the Oyster card to add it to your account (see 2.7) before anything can be transferred to it if the Oyster card is unregistered. If is registered, you will need to confirm the security question.</li>
	<li>You can report your Oyster card as lost, stolen, damaged or failed via your account. If your Oyster card is lost or stolen, you must report it as soon as you become aware. You will not be liable for any journeys made from the time you report it as lost or stolen and we have verified your details to the time when it is stopped.</li>
	<li>You can apply for a service delay refund if your journey was delayed by 15 minutes or more on London Underground and DLR services or 30 minutes or more on London Overground and TfL Rail services. We will refund you the pay as you go fare for the delayed journey if the reason for the delay was within our control.</li>
	<li>You can order a new Oyster card and get it sent to your address. You will need to confirm your account security question and password to complete the order.</li>
	<li>If you have chosen 1st class delivery and it has not arrived, you need to let us know so we can stop the card. If we are satisfied that you have not received it a new Oyster card will then be sent to you. This will be sent by 1st class post, or you can request a refund of the original price paid.</li>
	<li>Where the Oyster card has been sent by Registered Delivery, we will aim to investigate the claim with the Delivery Service within 24 hours of you making us aware that you have not received it. If there is no proof that the Oyster card was delivered to you, the Oyster card will be stopped. A new Oyster card will then be sent to you by Registered Delivery, at no cost. Alternatively, you can request a refund of the original price paid, to include the cost of Registered Delivery.</li>
	<li>If there is proof that the Oyster card was delivered to your address we will let you know and investigate further. This does not affect your statutory rights.</li>
	<li>Use of pay as you go and Travelcards is subject to TfL's Conditions of Carriage. For more information visit <a href="http://tfl.gov.uk/terms">tfl.gov.uk/terms</a></li>
	<li>You will be asked whether you want to be contacted by TfL or its subsidiaries about offers or promotions. You will also be asked whether you want to be contacted by the Train Operating Companies or their subsidiaries about offers or promotions. From time to time, TfL may ask whether you would like to be contacted by other third parties about their offers and promotions. You can change your preferences at any time by signing into your account.</li>
</ol>

<ol>
</ol>

<h3>Section 4 - What you can do with a contactless card attached to a TfL online account</h3>

<ol>
	<li>To add a contactless payment card to your TfL online account you will need to provide your contactless payment card number, the expiry date, the card security code and the card's billing address.</li>
	<li>You can view your journey history and apply for an incomplete journey refund. You can complete up to 3 incomplete journeys in a calendar month. If the system is not showing you are eligible for an incomplete journey refund and you believe you are, you will need to phone us on 0343 222 1234 (8am - 8pm daily).</li>
	<li>You can check details of any refunds received. This data is available in your account for 12 weeks.</li>
	<li>You can update your personal details and account information when you sign in.</li>
	<li>Billing and journey history are available for up to 13 months. If your contactless payment card expires, you can 'hide' the expired card so it does not appear in your account overview, but you will still be able to view historical data.</li>
	<li>You can remove a contactless card from your account. However, if you remove your card and then lose your card and it is stopped by your bank you will not be able to add it to your account. So if you later need journey or payment history from your account and you removed your card and it has been stopped, we will not be able to provide this information.</li>
	<li>If you want to remove a card from your account and you have an outstanding service delay refund, you will need to wait until you receive the refund before removing the card.</li>
	<li>You can apply for a service delay refund if your journey was delayed by 15 minutes or more on London Underground and DLR services or 30 minutes or more on London Overground and TfL Rail services. We'll refund you the single fare for the delayed journey if the reason for the delay was within our control.</li>
	<li>Use of your Contactless payment card is subject to Contactless payment cards Conditions of Use. For more information visit <a href="http://www.tfl.gov.uk/terms">www.tfl.gov.uk/terms</a></li>
	<li>You will be asked whether you want to be contacted by TfL or its subsidiaries about offers or promotions. You will also be asked whether you want to be contacted by the Train Operating Companies or their subsidiaries about offers or promotions. You can change your preferences at any time by signing into your account.</li>
</ol>

<h3>Section 5 - Auto top-up</h3>

<ol>
	<li>You can set Auto top-up on your Oyster card. Once activated, whenever your pay as you go balance falls below &pound;20 when you touch your Oyster card on a yellow reader to start your journey, your Oyster card will automatically be topped up with either &pound;20 or &pound;40 (whichever you select).</li>
	<li>After your Oyster card has been automatically topped up, we will collect payment from the payment card assigned for Auto top-up payments.</li>
	<li>As part of setting up Auto top-up you will enter into a&nbsp;Continuous Payment Authority arrangement with us and your bank. This gives us permission to take Auto top-up payments from your debit/credit card on an ad hoc basis. Such payments are only to pay for Auto top-ups added to your Oyster card.</li>
	<li>Non-acceptance of your&nbsp;Continuous Payment Authority may be because we are unable to obtain authorisation from your bank for your payment or there is a system failure.</li>
	<li>Once you have successfully completed the Continuous Payment Authority and paid for pay as you go credit to be added to your Oyster card, you will need to activate your Auto top-up instruction.</li>
	<li>To activate your Auto top-up instruction, as part of a journey, touch your Oyster card on a yellow card reader on any London Bus or at any Tube, DLR, London Overground, TfL Rail or National Rail station within the pay as you go area, tram stop or River Bus pier after 30 minutes of making your order. You must do this within four days of making the order. Until you do this, your Auto top-up instruction and Continuous Payment Authority does not become live.</li>
	<li>If you do not activate your Auto top-up instruction within&nbsp;four days, you will need to set it up again.</li>
	<li>If you have ordered a new Oyster card and requested Auto top-up on it, it will arrive ready to use.</li>
	<li>We will send you an email within 48 hours each time a payment is taken from your account following an Auto top-up.</li>
	<li>Payments will show up on your bank statement as 'Oyster Auto top-up'.</li>
	<li>If your Oyster card is lost or stolen, your Oyster card (including any Auto top-up settings) will continue to operate as normal until you report it lost or stolen. You should therefore report any loss or theft as soon as possible.</li>
	<li>You can report your Oyster card lost or stolen by signing into your account or calling us on 0343 222 1234. We will stop your Oyster card and the Continuous Payment Authority.</li>
	<li>If your Oyster card has an Auto top-up setting and is lost or stolen and not reported, you will be liable for any ongoing top-up payments.</li>
	<li>Any pay as you go resulting from Auto top-ups applied once the Oyster card has been reported lost or stolen and we have verified your details will be refunded or replaced.</li>
	<li>You may cancel, amend or update your Auto top-up settings at any time online. If you want to cancel, or amend your settings, they will only become effective once you have touched on a yellow card reader on any London Bus or at any Tube, DLR, London Overground, TfL Rail or National Rail station within the pay as you go area, tram stop or River Bus pier You need to do this within four days of the amendment/cancellation or it will not take effect.</li>
	<li>If you do not do this within&nbsp;four days, your request will expire and you will need to submit a new request. Until you update your Oyster card, your original&nbsp;Auto&nbsp;Top-up instruction&nbsp;will remain in place and you will continue to be liable for any Auto top-ups made to your Oyster card.</li>
	<li>If your bank rejects a payment requested on the basis of your Continuous Payment Authority, we will email you within 24 hours.</li>
	<li>If you do not correct the failed payment within two days of us contacting you, we may stop your Oyster card.</li>
	<li>You cannot use any web credit balance to re-settle failed Auto top-up payments.</li>
	<li>We will contact you with updates about your Auto top-up instruction and&nbsp;Continuous Payment Authority using the email address you used to create your account.</li>
	<li>You are responsible for regularly checking for emails from us and to ensure our emails are not sent to a junk mail folder.</li>
	<li>You are responsible if you do not update your debit/credit card details and they have changed. If your payment fails, your Oyster card may be stopped.</li>
	<li>We will send you an email when your debit/credit card is within one month of its expiry date, so you have time to update your payment card&nbsp;details.</li>
	<li>We reserve the right to suspend, withdraw, amend, or terminate operation of the Auto top-up process at any time and we will use all reasonable endeavours to provide prior notification to you of such events.</li>
</ol>

<h3>Section 6 &#45; Web credits</h3>

<ol>
	<li>You can choose to have certain types of refund or goodwill payments credited to your account as web credits. Any balance accrued can be used as part or full payment when you buy pay as you go credit or Travelcards.</li>
	<li>You can view an itemised statement of your web account credits, along with your current credit balance, when you sign into your account.</li>
	<li>We reserve the right to determine which types of refund can be paid as a web credit, and this may vary from time to time. You will be offered the choice of web credit whenever it is available. The total balance of any credits will appear on your account statement as a 'Cash' balance.</li>
	<li>You can choose to have Service Delay Refunds as a web credit. However, your credit balance cannot be used for Auto top-up, which can only be paid for by debit or credit card. If you submit an order (excluding Auto top-up) and your total credit balance exceeds the total value of your order, your credit balance will be reduced by the value of your order, and no further payment will be due.</li>
	<li>If you submit an order (excluding Auto top-up) and your total credit balance is less than the total value of your order, your credit balance will automatically be used and reduced to &pound;0.00, and the remainder of the order value will be payable by debit or credit card.</li>
	<li>If you order a new Oyster card and opt for a chargeable delivery service (eg, special delivery, recorded delivery, etc), only credit from the 'Cash' balance will be offset against the delivery charge.</li>
	<li>You may redeem your web account balance at any time. You can get this paid into your bank account by entering your bank account number and sort code online. Only the entire 'cash' balance may be redeemed- you can't redeem part of it.</li>
	<li>No interest will be paid to you on the credit balance held on your account.</li>
</ol>

<h3>Section 7 - Privacy Notices</h3>

<h4>Online account Privacy Notice</h4>

<p>Transport for London (TfL), its subsidiaries and service providers, will use your personal information for the purposes of customer services and administration, the provision of travel related information, customer research and fraud prevention. Your personal information will be properly safeguarded and processed in accordance with the requirements of privacy and data protection legislation.</p>

<p>In certain circumstances, TfL may also share your personal information with the police and other law enforcement agencies for the purposes of the prevention or detection of crime.</p>

<p>Further information can be found on our <a href="/corporate/privacy-and-cookies/index">Privacy and cookies</a> pages.</p>

<h3>Oyster Privacy Notice</h3>

<p>Transport for London (TfL), its subsidiaries and service providers, will use your personal information for the purposes of customer services and administration, the provision of travel related information, customer research and fraud prevention. If you use your Oyster card in connection with National Rail products or services, or London river services you will also be authorising TfL to share your personal information with relevant Train Operating Companies (TOCs) and river service operators so that they can use it for the same purposes. Your personal information will be properly safeguarded and processed in accordance with the requirements of Data Protection legislation.</p>

<p>In certain circumstances, TfL, relevant TOCs and river service operators may also share your personal information with the police and other law enforcement agencies for the purposes of the prevention or detection of crime.</p>

<p>For further information, please visit <a href="http://www.tfl.gov.uk/privacy">www.tfl.gov.uk/privacy</a></p>

<h3>Contactless Privacy Notice</h3>

<p>Transport for London (TfL), its subsidiaries and service providers, will use your personal information for the purposes of customer services and administration, the provision of travel related information, customer research and fraud prevention. If you use your contactless payment card in connection with National Rail products or services, or London river services you will also be authorising TfL to share your personal information with relevant Train Operating Companies (TOCs) and river service operators so that they can use it for the same purposes. Your personal information will be properly safeguarded and processed in accordance with the requirements of Data Protection legislation.</p>

<p>In certain circumstances, TfL, relevant TOCs and river service operators may also share your personal information with the police and other law enforcement agencies for the purposes of the prevention or detection of crime.</p>

<p>For further information, please visit <a href="http://www.tfl.gov.uk/privacy ">www.tfl.gov.uk/privacy</a></p>

<h2>Zip Oyster photocards</h2>

<ul>
	<li><a href="https://photocard.tfl.gov.uk/tfl/terms.do">5-10 Zip Oyster photocard</a></li>
	<li><a href="https://photocard.tfl.gov.uk/tfl/terms.do">11-15 Zip Oyster photocard</a></li>
	<li><a href="https://photocard.tfl.gov.uk/tfl/terms.do">16+ Zip Oyster photocard</a></li>
</ul>

<h2>Adult discounts and concessions</h2>

<ul>
	<li><a href="https://photocard.tfl.gov.uk/tfl/terms.do">Veterans Concessionary Travel Scheme</a></li>
	<li><a href="https://photocard.tfl.gov.uk/tfl/terms.do">18+ student Oyster photocard</a></li>
	<li><a href="https://photocard.tfl.gov.uk/tfl/terms.do">Apprentice Oyster photocard</a></li>
	<li><a href="https://photocard.tfl.gov.uk/tfl/terms.do">60+ London Oyster photocard scheme</a></li>
</ul>

<ul>
</ul>

<p>&nbsp;</p>
      
           
      
      
        
          
            @this.ScriptBlock(
              @<script>
                queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
              </script>
            )
          
        
      
    </div>
  </div>
  <div class="aside" role="complementary">

   
    
    
    
      <div data-set="sidenav-container" class="large">
        
        
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
                <a href="/corporate/terms-and-conditions/index" class="heading">
                    <h2 id="sub-menu-heading">Terms & conditions <span class="visually-hidden"> navigation</span></h2>
                </a>
                <ul>
                    
                                <li><div class="link-wrapper"><a href="/corporate/terms-and-conditions/competitions">Competitions</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/corporate/terms-and-conditions/ticketing-and-travel-conditions-of-carriage">Conditions of Carriage</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/corporate/terms-and-conditions/conveyancing-searches">Conveyancing searches</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/corporate/terms-and-conditions/live-bus-departure-information">Live Bus & River Bus arrivals</a></div></li>
                            
 
                                <li class="selected parent"><div class="link-wrapper"><a href="/corporate/terms-and-conditions/online-accounts">Online accounts</a></div>
                                <ul>
                                    
                                <li><div class="link-wrapper"><a href="/corporate/terms-and-conditions/online-ticketing-accounts/bus-and-tram-discount-scheme">Bus & Tram Discount scheme</a></div></li>
                            
 
                                </ul>
                            </li>
 
                                <li><div class="link-wrapper"><a href="/corporate/terms-and-conditions/pay-to-drive-in-london">Pay to drive in London</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/corporate/terms-and-conditions/pay-to-drive-in-london-app">Pay to drive in London app</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/corporate/terms-and-conditions/santander-cycles">Santander Cycles</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/corporate/terms-and-conditions/scrappage-scheme">Scrappage scheme</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/corporate/terms-and-conditions/social-media">Social media</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/corporate/terms-and-conditions/stars">STARS</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/corporate/terms-and-conditions/taxi-delicensing">Taxi delicensing</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/corporate/terms-and-conditions/tfl-call-charges">TfL call charges</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/corporate/terms-and-conditions/tfl-oyster-app">TfL Oyster and contactless app</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/corporate/terms-and-conditions/tfl-pension-fund">TfL Pension Fund</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/corporate/terms-and-conditions/transport-data-service">Transport Data Service </a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/corporate/terms-and-conditions/visitor-oyster-shop">Visitor Oyster shop</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/corporate/terms-and-conditions/webcat">WebCAT</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/corporate/terms-and-conditions/website">Website</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/corporate/terms-and-conditions/dlr-discovery">DLR Discovery</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/corporate/terms-and-conditions/direct-vision-standard-and-safety-permit-for-hgvs">Direct Vision Standard and Safety Permit for HGVs</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/corporate/terms-and-conditions/car-and-motorcycle-scrappage-scheme">ULEZ Car and motorcycle scrappage scheme</a></div></li>
                            
 
                </ul>
            
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
      </div>
    
    <div>
















<div class="advert-tile unsponsored-style google-ads" aria-hidden="true">
  <div class="advert-link">
    <div class="advert-content">
        <div class="medium-large" data-advert="/76889402/non-targeted" data-advert-sizes="300, 250"></div>
        <div class="small" data-advert="/76889402/non-targeted" data-advert-sizes="300, 250"></div>
    </div>
  </div>
</div>
@{
    ViewBag.AmazonSlot = "'amznslots'";
    ViewBag.AmazonAds = "'3199'"; // to add another value, this needs to be ViewBag.AmazonAds = "'3199','xx'";
}
      

 </div>
    
    <div data-set="sidenav-container" class="small-medium"></div>
  </div>
</div>
 
 
        
        
        
            @{ViewBag.Description = "Terms & conditions for using online ticketing accounts";}
        
            
        


 