
    
  



@{ViewBag.Title = "Pay to drive in London app";}
@{ViewBag.Keywords = "TfL";}
@{ViewBag.Url = "/corporate/terms-and-conditions/pay-to-drive-in-london-app";}
@{ViewBag.Language = "en";}
        <!-- empty placeholder -->
 
        
        
<div class="r">
    <div class="breadcrumb-container" role="navigation">
        <span id="breadcrumb-label" class="visually-hidden">You are here:</span>
        <ol class="breadcrumbs clearfix" aria-labelledby="breadcrumb-label">
            <li class="home">
                <a href="/">
                    <span class="hide-text">Home</span>
                </a>
            </li>
            
                 <li><a href="/corporate/terms-and-conditions/index">Terms & conditions </a></li>
                
            
            
                <li><span class="last-breadcrumb">Pay to drive in London app</span></li>
            
        
 
        
 
        </ol>
    </div>
</div>
     
 
<div class="r">
  <div class="headline-container plain">
    <h1>Pay to drive in London app</h1>

  </div>
</div>
<div class="main-and-aside r">
  
  <div class="main content-container" role="main">
    
      <div class="article-teaser">
        Terms and conditions for using the Pay to drive in London app.
        
      </div>
    
    <div class="on-this-page">
      <p>The information is used for the operation of our London Road User Charging schemes, including the Congestion Charge, Ultra Low Emission Zone (ULEZ) and Low Emission Zone (LEZ). Also see our <a href="/corporate/privacy-and-cookies/road-user-charging">Road User Charging privacy page</a>.</p>

<p>You should not use or install this App on a jail-broken or rooted device - this may affect the security of the App.</p>

<h2>Terms of Use</h2>

<p>These Terms apply between you (the registered user of a charging scheme account, or user of the App) and Transport for London (TfL) when you use the Pay to drive in London App. They provide the Terms and Conditions that apply to our Pay to drive in London App Services, as well as providing access to the full Terms and Conditions of the Congestion Charge, ULEZ and LEZ schemes (the Schemes) which will apply to those Schemes, including our and your rights and responsibilities when using these Services.</p>

<p>By using the App, you agree to these Terms. If you do not agree with these Terms, please do not use this App. We may update these Terms from time to time. If we make any material changes to these Terms, we will let you know.</p>

<p>Please read these Terms carefully. If you have any questions about any of the Terms or any element of the Service, please:</p>

<ul>
	<li>Make an enquiry online</li>
	<li>Call customer services on 0343 222 2222 (<a href="/corporate/terms-and-conditions/tfl-call-charges">TfL call charges</a>)</li>
	<li>Write to: Customer Services, Congestion Charging and ULEZ, PO Box 344, Darlington DL1 9QE</li>
</ul>

<p>You must be 17 to accept these Terms and use the App. If you download the App onto any phone or other device not owned by you, you must have the owner's permission to do so. You will be responsible for complying with these Terms, whether or not you own the phone or other device.</p>

<p>Any information you provide via this App will be processed in accordance with our Privacy Policy.</p>

<h2>Our Services and their availability</h2>

<p>We, TfL, license you to use:</p>

<ul>
	<li>The Pay to drive in London mobile application software, the data supplied with the software, (the App) and any updates or supplements to it.</li>
	<li>The Service you connect to via the App and the content we provide to you through it (the Service) as permitted in these Terms.</li>
</ul>

<p>From time to time we may automatically update the App and change the Service to improve performance, enhance functionality, reflect changes to the operating system or address security issues. Alternatively we may ask you to update the App for these reasons.</p>

<p>If you choose not to install such updates or if you opt out of automatic updates you may not be able to continue using the App and the Services.</p>

<h2>Additional terms for specific services</h2>

<p>In addition the Services set out below will be governed by the following terms of use:</p>

<ul>
	<li>Congestion Charge (CC)</li>
	<li>Low Emission Zone (LEZ) charge</li>
	<li>Ultra Low Emission Zone (ULEZ) charge</li>
</ul>

<p>Apple App Store and Google Play's Terms also apply: These Terms do not govern your relationship with Apple and Google. The ways in which you can use the App may also be controlled by the <a href="https://www.apple.com/uk/legal/internet-services/itunes/uk/terms.html">Apple App Store's rules and policies</a> and <a href="https://play.google.com/intl/en-us_us/about/play-terms/index.html">Google Play's rules and policies</a>.</p>

<h2>Limitations of the Service</h2>

<p>The App is optimised to work with these operating system versions. Using any other non-optimised version may result in limited functionality or payments not being made:</p>

<ul>
	<li>Apple: iOS 10.0 or later</li>
	<li>Android: v4.4 or later</li>
</ul>

<p>The use and availability of our Pay to drive in London App system is highly dependent on the operation of for example your mobile device, your mobile data network and/or broadband internet connection, your GPS receiver and other resources you can use to access our services.</p>

<p>You will be responsible for any costs charged by your mobile network and/or internet service provider in relation to the provision of internet coverage necessary to use the Service. TfL is not responsible for any connectivity issues or data charges you incur when downloading, installing and using our App &#45; when downloading the App, we encourage you to use a Wi-Fi connection to minimise data usage and/or associated costs.</p>

<p>If you are unable to access and use our pay to drive payment systems for any reason, you must use alternative payment methods to pay to drive or there may be a risk that you could be liable for additional penalty charges under the Terms of the Schemes. A failure to access the App does not excuse you from paying charges due under the Schemes.</p>

<p>Payments can be made via the App for 'yesterday', 'today' or 'tomorrow'.&nbsp; It is not possible to use the App to pay for multiple days, or for future days after 'tomorrow'.&nbsp;To do this, visit <a href="/modes/driving/pay-to-drive-in-london">Pay to drive in London</a>.</p>

<h2>App ownership and TfL responsibilities</h2>

<p>We will make reasonable efforts to provide the App and the Services, however we are not liable for any failure to provide these Services, in part or in full. This includes any suspension of Service because of maintenance or upgrades to our or any third party systems. The App is provided 'as is' with no representation, guarantee or warranty of any kind as to its functionality.</p>

<p>The App belongs to TfL or its licensors. You must not:</p>

<ul>
	<li>Rent, lease, sub-license, loan, provide, or otherwise make available, the App or the Services in any form, in whole or in part to any person without prior written consent from us</li>
	<li>Copy the App or Services, except as part of the normal use of the App or where it is necessary for the purpose of back-up or operational security</li>
	<li>Translate, merge, adapt, vary, alter or modify, the whole or any part of the App or Services nor permit the App or the Services or any part of them to be combined with, or become incorporated in, any other programs, except as necessary to use the App and the Services on devices as permitted in these Terms</li>
	<li>Disassemble, de-compile, reverse engineer or create derivative works based on the whole or any part of the App or the Services nor attempt to do any such things, except to the extent that (by virtue of sections 50B and 296A of the Copyright, Designs and Patents Act 1988) such actions cannot be prohibited because they are necessary to decompile the App to obtain the information necessary to create an independent program that can be operated with the App or with another program (Permitted Objective), and provided that the information obtained by you during such activities:</li>
</ul>

<p>- is not disclosed or communicated without the Licensor's prior written consent to any third party to whom it is not necessary to disclose or communicate it in order to achieve the Permitted Objective; and<br />
- is not used to create any software that is substantially similar in its expression to the App;<br />
- is kept secure; and<br />
- is used only for the Permitted Objective;</p>

<ul>
	<li>Comply with all applicable technology control or export laws and regulations that apply to the technology used or supported by the App or any Service</li>
</ul>

<h2>Your responsibilities</h2>

<p>Please take note of the following:</p>

<ul>
	<li>If you have a Road Charging Account, you are responsible for providing us with correct account, registration and access details, which you should keep up‐to‐date</li>
	<li>You are responsible and liable for all activities initiated with or which occur whilst using your Road Charging Account or the App, whether or not such activities were initiated by you</li>
	<li>You must keep your account details secure and take all reasonable precautions to prevent unauthorised or fraudulent use of them</li>
	<li>You must let us know immediately using the contact details at the start of these Terms if you have any reason to believe that your account details have become known to someone else, or if they are being, or are likely to be, used in an unauthorised manner</li>
	<li>You must not copy, reproduce, alter, modify or adapt any part of the App</li>
	<li>If you change your mobile device or dispose of it, we suggest you delete the App first.</li>
	<li>You must not install or use the App on a jail-broken or rooted device</li>
</ul>

<p>You must not:</p>

<ul>
	<li>Use the App or any Service in any unlawful manner, for any unlawful purpose, or in any manner inconsistent with these Terms, or act fraudulently or maliciously, for example, by hacking into or inserting malicious code, such as viruses, or harmful data, into the App, any Service or any operating system</li>
	<li>Infringe our intellectual property rights or those of any third party in relation to your use of the App or any Service, including by the submission of any material (to the extent that such use is not licensed by these Terms)</li>
	<li>Transmit any material that is defamatory, offensive or otherwise objectionable in relation to your use of the App or any Service</li>
	<li>Use the App or any Service in a way that could damage, disable, overburden, impair or compromise our systems or security or interfere with other users; and</li>
	<li>Collect or harvest any information or data from any Service or our systems or attempt to decipher any transmissions to or from the servers running any Service</li>
</ul>

<h2>Legal Terms</h2>

<h3>Suspending use of the App</h3>

<p>We may, at any time, suspend your use of the App if we feel we have reasonable grounds to do so. This will usually be because we have concerns which relate to security or the suspected unauthorised or fraudulent use of the App, but it may also be because you have broken these Terms in a serious way. If what you have done can be put right we will give you a reasonable opportunity to do so.</p>

<p>We may also suspend your use of the App because of legal obligations that apply to us.</p>

<p>If we have suspended your use of the App you might not be able to use it in the future. Please contact us on 0343 222 2222 (<a href="/corporate/terms-and-conditions/tfl-call-charges">TfL call charges</a>).</p>

<h3>Ending your agreement with us</h3>

<p>You can end our agreement at any time by deleting the App from your mobile device. You can close your Road Charging Account in accordance with the Terms of that account.</p>

<p>We may end your agreement with us if we have suspended your use of the App, or for reasons including but not limited to situations where we know or suspect that:</p>

<ul>
	<li>You have broken any of these Terms or the Road User Charging Terms and Conditions</li>
	<li>You are acting fraudulently when using the account</li>
	<li>You have been abusive to any of our staff or agents when discussing the App or your Road User Charging account with us</li>
	<li>There has been suspicious activity on your account</li>
	<li>The App has been withdrawn by Apple Inc. or Google Inc. or we are stopping support for the App on your mobile device or the operating system it runs on</li>
</ul>

<p>Once your agreement with us ends, you must uninstall the App from your mobile device(s). All rights granted to you in respect of the App will immediately end.</p>

<h3>Using your data</h3>

<p>If you aren't signed in to a Road Charging Account, we don't store your contact details or payment information - when you make a payment the details are sent securely to the Road User Charging system.</p>

<p>If you sign into the App, your account details will be sent in a secure manner to your Road User Charging account. Only your account number and authentication token will be stored on your device.</p>

<p>If you use the zone map function, you will be asked to allow the App to access your location while using the App.&nbsp; This will&nbsp;allow us to&nbsp;show you&nbsp;if your current location is within the charging zone. You can still use the map without sharing&nbsp; your location, but the App will not know your location information. If you choose to allow the App to access your location, this data is stored locally on the device and is not shared with TfL.</p>

<p>Your payment card number is never stored on your mobile device. If you have a Road Charging Account, TfL may store a reference to your payment card, in compliance with the Payment Card Industry Data Security Standard, so you don't have to re-enter your card details every time you pay a charge.</p>

<p>The App uses technologies including web beacons and software development kits which are similar to cookies. TfL may allow third parties to provide analytics services using these technologies.</p>

<p>For further information on how TfL processes your personal data please visit the&nbsp;<a href="/corporate/privacy-and-cookies/index">Privacy &amp; cookies webpage</a>.</p>

<h3>Our responsibility for loss or damage suffered by you</h3>

<p>We are responsible to you for foreseeable loss and damage caused by us. If we fail to comply with these Terms, we are responsible for loss or damage you suffer that is a foreseeable result of our breaking these Terms or our failing to use reasonable care and skill, but we are not responsible for any loss or damage that is not foreseeable. Loss or damage is foreseeable if either it is obvious that it will happen or if, at the time you accepted these Terms, both we and you knew it might happen.</p>

<p>We do not exclude or limit in any way our liability to you where it would be unlawful to do so. This includes liability for death or personal injury caused by our negligence or the negligence of our employees, agents or subcontractors or for fraud or fraudulent misrepresentation.</p>

<p>When we are liable for damage to your property. If defective digital content that we have supplied damages a device or digital content belonging to you, we will either repair the damage or pay you compensation. However, we will not be liable for damage that you could have avoided by following our advice to apply an update offered to you free of charge or for damage that was caused by you failing to correctly follow installation instructions or to have in place the minimum system requirements advised by us.</p>

<p>We are not liable for business losses. The App is for domestic and private use. If you use the App for any commercial, business or resale purpose we will have no liability to you for any loss of profit, loss of business, business interruption, or loss of business opportunity.</p>

<p>We are not responsible for events outside our control. If our provision of the Services or support for the App or the Services is delayed by an event outside our control then we will contact you as soon as possible to let you know and we will take steps to minimise the effect of the delay. We will not be liable for delays or lack of availability caused by the event.</p>

<h3>We may transfer our agreement with you to someone else</h3>

<p>We may transfer our rights and obligations under these Terms to another organisation. We will tell you if this happens.</p>

<h3>If a court finds part of these Terms illegal, the rest will continue in force</h3>

<p>Each of the paragraphs of these Terms operates separately. If any court or relevant authority decides that any of them are unlawful, the remaining paragraphs will remain in full force and effect.</p>

<h3>Even if we delay in enforcing these Terms, we can still enforce them later</h3>

<p>Even if we delay in enforcing these Terms, we can still enforce them later. If we do not insist immediately that you do anything you are required to do under these Terms, or if we delay in taking steps against you in respect of your breaking these Terms, that will not mean that you do not have to do those things and it will not prevent us taking steps against you at a later date.</p>

<h3>Which laws apply to these Terms and where you may bring legal proceedings</h3>

<p>These Terms are governed by English law and you can bring legal proceedings in respect of the products in the English courts. If you live in Scotland you can bring legal proceedings in respect of the products in either the Scottish or the English courts. If you live in Northern Ireland you can bring legal proceedings in respect of the products in either the Northern Irish or the English courts.</p>

<h3>Questions or complaints</h3>

<p>If you have any questions or complaints, please contact us in the first instance by:</p>

<ul>
	<li><a href="/modes/driving/cc-contact-us-make-a-complaint-wizard-37746">Making a complaint online</a></li>
	<li>Phone by phone<br />
	UK: 0343 222 2222 (<a href="/corporate/terms-and-conditions/tfl-call-charges">TfL call charges</a>)<br />
	International : +44 20 7649 9122<br />
	Textphone: 020 7649 9123 if you have impaired hearing</li>
</ul>

<p>Please make sure you have all the relevant details to hand before calling.</p>

<p>Or in writing to: Customer Services Manager, Congestion Charging, PO Box 344, Darlington DL1 9QE</p>

<p>We try to resolve your complaint the first time you contact us. If you are not satisfied with our response, you can <a href="/modes/driving/congestion-charge/contact-us/complaints-procedure">find more about our complaints process</a>.</p>

<p>For unresolved complaints about online transactions, visit the <a href="https://webgate.ec.europa.eu/odr/main/index.cfm?event=main.home.show&amp;lng=EN">EU Online Dispute Resolution portal</a>. Our email address for use with this process only is <a href="mailto:EU-ODR&#64;tfl.gov.uk">EU-ODR&#64;tfl.gov.uk</a>. Dispute resolution is a process where an independent body considers the facts of a dispute and seeks to resolve it, without you having to go to court.</p>
      
           
      
      
        
          
            @this.ScriptBlock(
              @<script>
                queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
              </script>
            )
          
        
      
    </div>
  </div>
  <div class="aside" role="complementary">

   
    
    
    
      <div data-set="sidenav-container" class="large">
        
        
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
                <a href="/corporate/terms-and-conditions/index" class="heading">
                    <h2 id="sub-menu-heading">Terms & conditions <span class="visually-hidden"> navigation</span></h2>
                </a>
                <ul>
                    
                                <li><div class="link-wrapper"><a href="/corporate/terms-and-conditions/competitions">Competitions</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/corporate/terms-and-conditions/ticketing-and-travel-conditions-of-carriage">Conditions of Carriage</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/corporate/terms-and-conditions/conveyancing-searches">Conveyancing searches</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/corporate/terms-and-conditions/live-bus-departure-information">Live Bus & River Bus arrivals</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/corporate/terms-and-conditions/online-accounts">Online accounts</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/corporate/terms-and-conditions/pay-to-drive-in-london">Pay to drive in London</a></div></li>
                            
 
                                <li class="selected"><div class="link-wrapper"><a href="/corporate/terms-and-conditions/pay-to-drive-in-london-app">Pay to drive in London app</a></div>
                            </li>
 
                                <li class="parent"><div class="link-wrapper"><a href="/corporate/terms-and-conditions/santander-cycles">Santander Cycles</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/corporate/terms-and-conditions/scrappage-scheme">Scrappage scheme</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/corporate/terms-and-conditions/social-media">Social media</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/corporate/terms-and-conditions/stars">STARS</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/corporate/terms-and-conditions/taxi-delicensing">Taxi delicensing</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/corporate/terms-and-conditions/tfl-call-charges">TfL call charges</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/corporate/terms-and-conditions/tfl-oyster-app">TfL Oyster and contactless app</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/corporate/terms-and-conditions/tfl-pension-fund">TfL Pension Fund</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/corporate/terms-and-conditions/transport-data-service">Transport Data Service </a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/corporate/terms-and-conditions/visitor-oyster-shop">Visitor Oyster shop</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/corporate/terms-and-conditions/webcat">WebCAT</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/corporate/terms-and-conditions/website">Website</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/corporate/terms-and-conditions/dlr-discovery">DLR Discovery</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/corporate/terms-and-conditions/direct-vision-standard-and-safety-permit-for-hgvs">Direct Vision Standard and Safety Permit for HGVs</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/corporate/terms-and-conditions/car-and-motorcycle-scrappage-scheme">ULEZ Car and motorcycle scrappage scheme</a></div></li>
                            
 
                </ul>
            
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
      </div>
    
    <div>
















<div class="advert-tile unsponsored-style google-ads" aria-hidden="true">
  <div class="advert-link">
    <div class="advert-content">
        <div class="medium-large" data-advert="/76889402/non-targeted" data-advert-sizes="300, 250"></div>
        <div class="small" data-advert="/76889402/non-targeted" data-advert-sizes="300, 250"></div>
    </div>
  </div>
</div>
@{
    ViewBag.AmazonSlot = "'amznslots'";
    ViewBag.AmazonAds = "'3199'"; // to add another value, this needs to be ViewBag.AmazonAds = "'3199','xx'";
}
      

 </div>
    
    <div data-set="sidenav-container" class="small-medium"></div>
  </div>
</div>
 
 
        
        
        
            @{ViewBag.Description = "How we use the personal information collected on the Pay to drive in London app";}
        
            
        


 