
    
  



@{ViewBag.Title = "Santander Cycles";}
@{ViewBag.Keywords = "TfL";}
@{ViewBag.Url = "/corporate/terms-and-conditions/santander-cycles";}
@{ViewBag.Language = "en";}
        <!-- empty placeholder -->
 
        
        
<div class="r">
    <div class="breadcrumb-container" role="navigation">
        <span id="breadcrumb-label" class="visually-hidden">You are here:</span>
        <ol class="breadcrumbs clearfix" aria-labelledby="breadcrumb-label">
            <li class="home">
                <a href="/">
                    <span class="hide-text">Home</span>
                </a>
            </li>
            
                 <li><a href="/corporate/terms-and-conditions/index">Terms & conditions </a></li>
                
            
            
                <li><span class="last-breadcrumb">Santander Cycles</span></li>
            
        
 
        
 
        </ol>
    </div>
</div>
     
 
<div class="r">
  <div class="headline-container plain">
    <h1>Santander Cycles</h1>

  </div>
</div>
<div class="main-and-aside r">
  
  <div class="main content-container" role="main">
    
      <div class="article-teaser">
        Terms and conditions for registering and using the Cycle Hire bike sharing scheme.
        
      </div>
    
    <div class="on-this-page">
      
      
           
      <div>

<h2>Introduction</h2>
<p>1.1 These terms and conditions apply to your registration to, and/or use of, the cycle hire scheme provided by Transport Trading Limited ("TTL"). TTL is a subsidiary of Transport for London ("TfL"), which is a functional body of the Greater London Authority, reporting to the Mayor of London. The arrangements<br />
for your registration and use of Cycle Hire are with TTL. </p>
<p>1.2 If you have an enquiry or complaint, or experience a problem using Cycle Hire, please contact the Cycle Hire contact centre (the <strong>Contact Centre</strong>):
</p>
<p><strong>Tel: </strong>0343 222 6666  within the UK or +44 (0)343 222 6666 from a mobile telephone or outside the UK (<a href="/corporate/terms-and-conditions/tfl-call-charges">TfL call charges</a>)<br />
<strong>Post:</strong> <br />
TfL Customer Services<br />
4th Floor<br />
14 Pier Walk<br />
London SE10 0ES<br />
<strong>Website:</strong> <a href="http://www.tfl.gov.uk/cycle-hire">www.tfl.gov.uk/cycle-hire</a></p>
<h2>User terms and conditions</h2>
<p>1.3 In these terms and conditions some words have a special meaning as set out below:</p>
<p><strong>a) Additional User</strong> is a person as defined in paragraph, <a href="#Additional Users">Additional Users</a> of these terms and conditions and who is either an additional user of a User or a Casual User (as applicable) </p>
<strong>b) Bike Access Period</strong> is one of the following periods of time, to be purchased in accordance with paragraph 3 (<a href="#Bike Access Period">Bike Access Period</a>) below, during which you and each Additional User may use Cycle Hire: <br />
i) 24 consecutive hours (Daily); or<br />
<p>ii) in the case of Registered Users only, 8,760 consecutive hours or 365 days or (in respect of a leap year) 8,784 consecutive hours or 366 days (Yearly)</p>
<p>
c) <strong>Bike</strong> or <strong>Cycle</strong> is a Cycle Hire bicycle.<br />
d) <strong>Casual User</strong> is a person who uses Cycle Hire on a casual basis and provides their Payment Card or enters their Payment Card details as a method of identification.<br />
e) <strong>Charges</strong> are the Bike Access Fee(s), Key Issue Fee(s), Extra Ride Charge(s) and any other charges set out at paragraph 11 below (<a href="#Charges and payment">Charges and payment</a>).<br />
f) <strong>Docking Point</strong> is the equipment and mechanism at a Docking Station from which a Cycle is undocked/docked.<br />
g) <strong>Docking Station</strong> is a Cycle docking station including the Docking Points and Terminal.<br />
h) <strong>Key</strong> is the device that we provide Registered Users as a method of identification of the Registered User (and their Additional Users) to allow the undocking of a Cycle and the Registered User to obtain information about their web account from a Terminal.<br />
i) <strong>Key Use Policy</strong> is our policy on using Key(s) as set out at www.tfl.gov.uk/cycle-hire and as updated by us from time to time.<br />
j)<strong> Registered User</strong> is a person who has registered to use Cycle Hire by providing us with certain personal details and purchases a Key for their (and each Additional User's) use of Cycle Hire.<br />
k) <strong>Release Code</strong> is the unique code that we issue to you, as a Casual User, on presentation of your Payment Card at a Terminal each time that you and your Additional Users wish to undock and use a Cycle.<br />
l) <strong>Terminal</strong> is the computer terminal located at a Docking Station which enables you to register and pay for your use of Cycle Hire.<br />
m) <strong>Tips for Safer Cycling</strong> are the tips for safer cycling as set out on the Terminals and at <a href="http://www.tfl.gov.uk/cycle-hire">tfl.gov.uk/cycle-hire</a> and as updated by us from time to time.<br />
n) <strong>We</strong>, <strong>our</strong> and <strong>us</strong> refers to TTL; and<br />
o) <strong>you</strong> refers to a Registered User or Casual User(as applicable). </p>
<h2>Bike Access Period</h2>
<p>1.4 Our staff, contractors and agents have no authority to make individual exceptions or amendments to these terms and conditions.</p>
<p>1.5 In these terms and conditions we refer to various policies that we have established in connection with the operation of Cycle Hire.  These policies are available on request from us.</p>
<p>1.6 All personal data about you and any Additional User will be processed in accordance with our Privacy Notice, which will be presented for your review and acceptance before you submit any personal information to us.  Further information on how personal data is processed by us is available at <a href="/corporate/privacy-and-cookies/index">tfl.gov.uk/privacy</a>.</p>
<p>1.7 We may amend these terms and conditions, including the Charges, from time to time.  In these circumstances, you may be eligible for a refund of certain Charges that you have paid us in accordance with our Refund Policy.  A copy of the latest version of the terms and conditions can be obtained from <a href="https://tfl.gov.uk/cycle-hire">tfl.gov.uk/cycle-hire</a> or are available on request from us.</p>
<h2>Registration</h2>
<p>2.1 To register as a Registered User or to use Cycle Hire as a Casual User, you must:</p>
<p>(a) be aged 18 years or over;<br />
(b)	ensure that all data provided by you is accurate;<br />
(c)	select a Bike Access Period;<br />
(d)	in terms of Registered Users only, have a UK postal address that matches the billing address for the Payment Card; and<br />
(e)	agree to these terms and conditions.</p>
<p>2.2 We reserve the right to refuse your registration to Cycle Hire and use of a Cycle, in accordance with the provisions of our User Policy.</p>
<h2>Bike Access Period</h2>
<p>3.1 You will be required to purchase a Bike Access Period:<br />
a) when registering as a Registered User, for each Key on your account or
b) to use Cycle Hire as a Casual User, for you and each Additional User
and a Bike Access Fee shall apply to each Bike Access Period purchased.</p>
<p>3.2 The Bike Access Period shall commence:<br />
(a) if you are a Registered User, when you (or an Additional User) use the
Key to undock a Cycle from a Docking Point for the first time. If you have
purchased more than one Key, the Bike Access Period will commence on
first use of each Key; or<br />
(b) as a Casual User, when:<br />
(i) pre-purchasing a Bike Access Period on-line, when you first present
your Payment Card at the Terminal to retrieve any one of the
Release Code(s) to undock a Cycle(s) from a Docking Point(s) for the
first time; or<br />
(ii) registering at the Terminal, when you first present your Payment
Card at the Terminal to purchase a Bike Access Period.</p>
<p>3.3 Your (and each Additional User's) right to use Cycle Hire shall
automatically expire at the end of the relevant Bike Access Period.</p>
<p>3.4 When the Bike Access Period has expired:
<br />
(a) if you are a Registered User, the relevant Key will be unable to undock a
Cycle from a Docking Point, unless and until you purchase a new Bike Access
Period for such Key(s) or you have agreed to Pay As You Pedal; and<br />
(b) if you are a Casual User, you (and your Additional Users) will be unable to
undock a Cycle from a Docking Point, unless and until you purchase a new
Bike Access Period and retrieve a Release Code.</p>
<h2>Pay As You Pedal</h2>
<p>4.1 As a Registered User, you may authorise us to automatically renew the Bike Access Period for one or more Keys on your account for the same Daily or Yearly Bike Access Period that you last purchased in respect of the relevant Key(s) (&quot;Pay As You Pedal&quot;).</p>
<p>4.2 If you selected to Pay As You Pedal, we will deduct the relevant Bike Access Fee(s) for the relevant Key(s), either on the date that:<br />
(a) the Bike Access Period ends during your or an Additional User's use of a Cycle; or<br />
(b) you present the Key(s) at a Docking Point to undock a Cycle following expiry of the previous Bike Access Period.</p>
<h2>Keys and Release Codes</h2>
<p>5.1 If you register as a Registered User, you will be required to purchase a Key for yourself and each Additional User.</p>
<p>5.2 Each Key issued to you:<br />
a) is personal to you;<br />
b) should only be used by you (and your Additional Users) in accordance with the Key Use Policy<br />
c) must be looked after by you with reasonable care; and<br />
d) shall remain our property at all times</p>
<p>5.3 Unless you have agreed to Pay as You Pedal, your (and each Additional User's) Key cannot be used to undock a Cycle from a Docking Point once the Bike Access Period for the relevant Key(s) has expired, unless and until you purchase a new Bike Access Period for such Key(s) and following payment of the relevant Bike Access Fee for you and each Additional User (as applicable).</p>
<h3>Release Codes</h3>
<p>5.4 If you use Cycle Hire as a Casual User, you will be issued with a Release Code upon presentation of your Payment Card at the Terminal each time you (or an Additional User) wish to use a Cycle. The Release Code for each Cycle shall detail the time period that you (or an Additional User) will be able to undock a Cycle from the Docking Point at the Docking Station at which the Release Code was issued. Once that time period has lapsed, you will not be able to release a Cycle using that Release Code.</p>
<h2>Additional Users</h2>
6.1 When purchasing a Bike Access Period, you may purchase a Bike Access
Period for you and (if you are a Casual User) for up to 3 persons or (if
you are a Registered User) for each person with a Key on your account,
to use Cycle Hire during the relevant Bike Access Period,
provided that such persons are:<br />
a) Aged 14 years or over; and<br />
b) Authorised by you to use Cycle Hire, (each person being an Additional User).
<p>6.2 You are responsible for:
<br />
a) Each Additional User and any of their actions when using a
Cycle. This means that you must ensure that each Additional User
complies with these terms and conditions and all other published
requirements of Cycle Hire from time to time and that each
Additional User has due regard to the Tips for Safer Cycling<br />
b) ensuring that each Additional User understands that we may
require certain information about their use of a Cycle, in accordance
with paragraph <a href="#obligations">Your obligations</a> below and<br />
c) all Charges incurred by each Additional User
</p>
<h2>Period of Use and Extra Ride Charges</h2>
<p>7.1 Cycles should not be used for more than 24 consecutive hours (Maximum Period of Use).</p>
<p>7.2 You (and each Additional User) must return the Cycle to a Docking Station and securely dock the Cycle at a docking point prior to the expiry of the Maximum Period of Use.</p>
<p>7.3 The Extra Ride Charges, as set out in paragraph <a href="/corporate/terms-and-conditions/santander-cycles#charges">Charges and payment below</a>, shall vary according to the length of time that you (or an Additional User) have taken a Cycle from a Docking Point for use (Period of Use). The Period of Use for each Cycle shall commence when you (or an Additional User) undock that Cycle from a Docking Point and ends when you (or an Additional User) securely dock the Cycle, and receive a green light, at a Docking Point.</p>
<p>7.4 The Period of Use shall be determined using the data recorded on our systems and that data shall be proof of your (and each Additional User's) Period of Use.</p>
<p>7.5 A time interval, to be determined by us and as defined at www.tfl.gov.uk/cycle-hire, is required between the end of one journey and the commencement of a subsequent journey in order for the subsequent journey to qualify as a separate journey and enable us to calculate the relevant Extra Ride Charges. We reserve the right to prevent you from undocking a Cycle from a Docking Point until this time interval has expired.</p>
<p>7.6 Please note that you only have 120 days from the date that the relevant Charge is collected to either query the Charge or to claim a refund and any queries or claims submitted following the expiry of this period will not be processed or paid.</p>
<h2>Availability of Cycle Hire</h2>
<p>
8.1 We will always try to run a reliable service. Sometimes part or all of Cycle Hire will be unable to operate for reasons beyond our reasonable control. We reserve the right to change the advertised dates and hours of operation of Cycle Hire without giving you prior notice.</p>
<p>8.2 During certain periods, Cycle Hire may be heavily used so we cannot always guarantee to have a:<br />
a) cycle available for use at the Docking Station of your (or an Additional User's) choice or<br />
b) Docking Point available to dock a Cycle at the Docking Station of your (or an Additional User's) choice
</p>
<p>8.3 If you are unable to dock a Cycle(s) at the Docking Station of your choice due to the lack of an available Docking Point(s), you should:<br />
a) present your Payment Card (if you are a Casual User) or Key (if you are a Registered User) at the Terminal at the affected Docking Station and follow the on-screen instructions to receive information of alternative Docking Stations and<br />
b) dock the Cycle(s) at one of the alternative Docking Stations suggested at the Terminal or of your choice<br />
The Terminal will state the maximum period of time that you are allowed in order to dock the Cycle(s) at an alternative Docking Station without incurring any additional Charge.
</p>
<p>8.4 Where we are unable to provide you with a Cycle, you may be eligible for a refund of certain Charges that you have paid us, as determined in accordance with our Refund Policy. In accordance with our Refund Policy, we will not refund any of the Charges that you have paid us for any failure or delay due to an event beyond our reasonable control.</p>
<h2><a name="Your obligations"></a>Your obligations</h2>
9.1 You are personally responsible for:<br />
a) each Key and Release Code issued to you<br />
b) each Cycle that you and each Additional User uses<br />
c) all items that you and each Additional User transport on a Cycle or in the Cycle basket and<br />
d) the Charges that you and each Additional User incur from time to time, we may require information in respect of use of a Cycle by you and any Additional User. At our request, you agree to provide:
<p>9.2 From time to time, we may require information in respect of use of a Cycle by you<br />
and any Additional User. At our request, you agree to provide:<br />
a) your name and address and the name and address of each Additional User and<br />
b) details of each journey, including the date and time that you and each Additional User used a Cycle and route taken
</p>
9.3 When using a Cycle, you and each Additional User <strong>must</strong>:<br />
a) comply with these terms and conditions and all applicable laws<br />
b) have due regard to the Tips for Safer Cycling<br />
c) check that the Cycle (including, without limitation, the tyres, brakes, saddle and bell) is road worthy<br />
d) abide by the Highway Code<br />
e) observe all traffic signs and signals<br />
f) use the Cycle reasonably, considerately and responsibly<br />
g) take reasonable care of the Cycle<br />
h) when returning a Cycle to a Docking Station, securely dock the Cycle, as indicated by a green light, at an available Docking Point to end the Period of Use and avoid theft of and damage to the Cycle <br />
Securely dock the Cycle at a Docking Station (as indicated by a green light). If you do not receive a green light, you must contact our Contact Centre; otherwise you may incur additional Charges; and<br />
i) dock the Cycle in the same condition as it was undocked (except for fair wear and tear); and<br />
j) securely dock the Cycle at a Docking Station (as indicated by a green light). If you do not receive a green light, you must contact our Contact Centre; otherwise you may incur additional Charges.
<p>You <strong>must not</strong>;</p>
a) lock or secure the Cycle to any object or property during the Period of Use;<br />
b) leave a Cycle unattended<br />
c) use a Cycle to provide or operate a courier service or other business<br />
d) give, lend or sell the Cycle or any Key to any other person (other than giving a Key to an Additional User) or allow any other person (other than an Additional User) to use a Cycle or Key <br />
e) damage, deface or vandalise the Cycle, Docking Station, Docking Point, Terminal or any of our equipment or property in any way<br />
f) load the:<br />
<ul>
    <li>Cycle basket with a load of more than 10 kilograms or any object which overhangs the basket</li>
    <li>Cycle with a total weight of more than 115 kilograms</li>
    <li>Cycle with more than one person at a time or</li>
    <li>Cycle basket with any animals, children or persons</li>
</ul>
e) carry: <br />
<ul>
    <li>Dangerous, hazardous or flammable substances or </li>
    <li>Any object that is: <br />
    <ul>
        <li>Likely to cause injury to you (or an Additional User) or injury or offence to any other person </li>
        <li>Likely to cause damage to the Cycle, any other person or property or </li>
        <li>Prohibited at law </li>
    </ul>
    </li>
</ul>
<p>
f) use the Cycle for racing or stunt or trick-riding<br />
g) dismantle or tamper with the Cycle (or in any way attempt to do so)<br />
h) add or attach accessories or trailers to the Cycle or <br />
i) use the Cycle in an antisocial manner, i.e. a manner that causes or is likely to cause harassment, alarm or distress to others</p>
<p>9.4 If you (or an Additional User) experience any problem with a Cycle during the Period of Use that prevents you (or an Additional User) from continuing to use the Cycle or securely docking a Cycle at an available Docking Point (as indicated by a green light), please contact our Contact Centre. If you (or an Additional User) experience any problem and are able to safely continue to use the Cycle and return it to a Docking Station, please report the problem to us by pressing the &quot;fault&quot; button at the Docking Point when you (or an Additional User) dock the Cycle.</p>
<h2>Public Liability Insurance</h2>
<p>
10.1 We have arranged for the provision of public liability insurance, which insures you (and each Additional User) against liability you (or an Additional User) incur in respect of injury to a third party or accidental damage to the physical property of a third party arising from your (or an Additional User's) use of a Cycle (&quot;Public Liability Insurance&quot;). The Public Liability Insurance cover is limited in scope and amount and subject to various exceptions. For more information about the Public Liability Insurance, see <a href="/corporate/terms-and-conditions/santander-cycles-insurance">Cycle Hire insurance</a>. </p>
<p>10.2 The cost of the Public Liability Insurance is included in the Charges. Due to the way that we have arranged the insurance, it is not possible for you (or an Additional User) to opt out of the Public Liability Insurance.</p>
<p>10.3 It is important to note that, where you (or an Additional User) are eligible to benefit from the Public Liability Insurance in respect of a claim by a third party, you are required to pay (subject to certain exceptions) the excess detailed on our page on <a href="/corporate/terms-and-conditions/santander-cycles-insurance">Cycle Hire insurance</a>. </p>
<p>10.4 While using a Cycle, you (and each Additional User) must comply with these terms and conditions and cycle sensibly in order to avoid any events that could create a claim under the Public Liability Insurance.
</p>
<p>10.5 If you (or an Additional User) are involved in an accident or damage or injury is caused to someone or something while using a Cycle, you (or the Additional User) must:<br />
a) Stop cycling when safe to do so; and <br />
b) telephone the Contact Centre<br />
i) to notify us of the accident and any resulting damage to the Cycle and<br />
ii) for instructions as to who to contact in respect of any claim under the Public Liability Insurance</p>
<h2><a name="Charges and payment"></a><a name="charges"></a>Charges and payment</h2>
<p>
11.1 All of the Charges applicable to your (and each Additional User's) use of Cycle Hire are set out below:
</p>
<h3>Hire</h3>
<p><strong>Bike Access Fee </strong>- (the first 30 minutes of each journey are free)</p>
<p><strong>Bike Access Period Charge for you and each Additional User to access Cycle Hire</strong><br />
24 hours (Daily) &pound;2<br />
Yearly (available to Registered Users only) &pound;90</p>
<h3>Ride</h3>
<p><strong>Extra Ride Charges (for journeys over 30 minutes)</strong></p>
<p><strong>Period of Use Charge per Bike per journey</strong><br />
First 30 minutes Free</p>
<p><strong>For journeys over 30 minutes <br />
</strong>&pound;2 for each extra period of up to 30 minutes</p>
<h3>Return</h3>
<p>(You must return a bike within 24 hours)</p>
<p><strong>Non-Return and Damage Charges Charge per Bike</strong><br />
Non-Return Charge (if you or an Additional User fail to return a<br />
Bike) - Up to a maximum charge of &pound;300</p>
<p><strong>Damage Charge</strong> (if you or an Additional User damage a Bike)<br />
Up to a maximum charge of &pound;300</p>
<p><strong>Other Charges</strong><br />
Key Issue Fee Charge per Key<br />
Key Issue &pound;3</p>
<p><strong>Additional and/or Replacement Keys </strong>&pound;3</p>
<p><strong>Billing Preferences Charge per statement</strong><br />
Statements by post &pound;1.20</p>
<h3>Payment methods</h3>
<p>11. 2 We do not accept cash or Oyster cards. </p>
<p>
11.3 You need to provide a valid credit or debit card, which is either a VISA, Visa Electron, Mastercard, JCB or Amex and which is accepted by us and from which we can deduct the Charges (a "Payment Card"). </p>
<p>11.4 If you are a Registered User, you must ensure that the delivery address for dispatch of Key(s) is the same as the UK billing address of your Payment Card.</p>
<p>11.5 During the Bike Access Period, you agree not to cancel your Payment Card without first telling us and providing an alternative Payment Card from which we can collect the Charges.
</p>
<h3>Payment agreement</h3>
11.6 By purchasing a Bike Access Period with a Payment Card, you agree to allow us to collect from your account the relevant Charges for the Bike Access Period, including (without limitation) Extra Ride Charges, Late Return Charges and Non-Return Charges as set out in the <a href="#Charges and payment">Charges and payment table above</a> (a &quot;Payment Agreement&quot;). We will only seek payment for Charges in respect of actions initiated by you (or an Additional User). Such Charges will be payable at the times specified in paragraph <a href="#Payment of Charges">Payment of Charges</a> below. <br />
<p>
11. 7 Without prejudice to the paragraph 11.6, this Payment Agreement also applies to Registered Users who have agreed to auto-renew. </p>
<p>11.8 We reserve the right to amend these terms and conditions including the Charges at any time but, where practicable, will use all reasonable endeavours to provide you with prior notification of any such amendments.</p>
<p>
11.9 You have the right to cancel this Payment Agreement at any time by contacting the Contact Centre and cancelling your registration to Cycle Hire, provided there are no outstanding Charges which are payable by you under these terms and conditions.</p>
<p>11.10 We reserve the right to suspend or cancel this Payment Agreement at any time and will use all reasonable endeavours to provide Registered Users with prior notification of such action.</p>
<p>
11.11 You are responsible for ensuring that, in terms of Registered Users, your Registered User account details and Key(s), or in terms of Casual Users, your Release Code(s) are kept secure. In accordance with our Non-Return/Damage Policy, you may be liable for further Charges resulting from your failure to keep your Registered User account details and Key(s) or Release Code(s) (as applicable) secure.
</p>
<h3>Payment of Charges</h3>
<p>11.12 You will become liable for the Charges from the times set out below:<br />
a) The Bike Access Fee for you (and each Additional User) shall be payable on successful completion of the registration process<br />
b) The Key Issue Fee in respect of each Key that you have requested shall be payable on successful completion of the registration process<br />
(c) subject to paragraph 11.15 (Extra Ride Charge Limit) below, the Extra Ride Charge for your (and each Additional User's) use of a Cycle shall become payable either:<br />
i) in terms of Casual Users and Registered Users, at the end of the Bike Access Period, where you have selected a Daily Bike or weekly Access Period or<br />
ii) in terms of Registered Users that selected a Yearly Bike Access Period, on the date in each calendar month that you selected during the registration process<br />
d) the Non-Return Charge shall become payable in accordance with the Non-Return/Damage Policy and<br />
e) the Damage Charge shall become payable in accordance with the Non-Return/Damage Policy
</p>
<p>11.3 You may obtain a receipt for each of your (or an Additional User's) journey records from the Terminal.</p>
<h3>Extra Ride Charge Limit</h3>
<p>
11.15 We have a set a limit on Charges that can accrue in any Bike Access Period of &pound;50 (the &quot;Extra Ride Charge Limit&quot;). If you exceed the Extra Ride Charge Limit, you may continue to use Cycle Hire, however, we shall at the moment your Extra Ride Charge Limit is exceeded, or shortly after, deduct payment of the Charges due at that date from your Payment Card. Deduction of the Extra Ride Charge Limit does not in any way limit or reduce your obligations to pay us the Charges for your (and each Additional User's) use of a Cycle.</p>
<h3>Non-Return Charge and Damage Charge</h3>
<p>11.16 If a Cycle is returned after the Maximum Period of Use or is lost or stolen during the Period of Use, we may charge you a sum up to the maximum sum set out in paragraph 11.1 above for each Cycle that is returned late or that is lost or stolen within this period (&quot;Non-Return Charge&quot;).</p>
<p>11.17 If a Cycle is damaged during the Period of Use, then depending on the extent of the damage to the Cycle, we may charge you a sum up to the maximum sum set out in paragraph 11.1 above for each Cycle that is damaged within this period (&quot;Damage Charge&quot;).</p>
11.18 If you are liable for the Non-Return Charge or Damage Charge, you may not be required to pay the Extra Ride Charges for the Cycle(s).
<p>11.19 We will exercise our rights under this paragraph 11 in accordance with the Non-Return/Damage Policy</p>
<h3>Lost or stolen Payment Cards/Keys</h3>
12.1 If your Payment Card is lost or stolen during the Bike Access Period, you must<br />
telephone and notify the Payment Card issuer and us by telephoning the Contact Centre that your Payment Card has been lost or stolen.
<p>12.2 If you (or an Additional User) lose a Key or a Key is damaged or stolen, you must notify us by telephoning the Contact Centre. Until you notify us, you will be liable for all Charges incurred on a lost or stolen Key. Once notified, we will then arrange for your Key to be permanently deactivated to prevent any misuse of it. You may also request a replacement Key(s) to be issued. You may be required to pay an additional Key Issue Fee for each replacement Key in accordance with our key use policy.</p>
<h2>Key Use Policy</h2>
<p>12.3 If a Key that has been issued to you is used fraudulently to obtain a Cycle, you will not be responsible to us for any Charges from the time that you have notified us to report that the Key has been lost or stolen in accordance with the Key Use Policy. You may remain responsible for any losses that we may suffer up to the time that you have reported the Key to us as being lost or stolen.</p>
<p>12.4 In exercising our rights under this paragraph 12, and more generally in relation to<br />
the Keys, we will apply the Key Use Policy.</p>
<h2>Cancellation and amendment</h2>
<p>13.1 If you wish to cancel or amend your:<br />
(a) registration to Cycle Hire or relevant Bike Access Period;<br />
(b) Pay As You Pedal or Payment Agreement; or<br />
(c) payment method, Payment Card or any other personal details,<br />
you may telephone the Contact Centre.</p>
<p>13.2 If you are a Registered User with a web account, you may amend or update your registration details directly by accessing your account on-line.</p>
<p>13.3 If you cancel or amend your registration to Cycle Hire or a Bike Access Period, you may be eligible for a refund as determined in accordance with our Refund Policy.</p>
13.4 If you are a Registered User, you must notify us of a change of your address as soon as it is practical to do so.
<h2>Refunds</h2>
14.1 Any refunds payable to you in relation to your use of Cycle Hire will be governed by our Refund Policy.<br />
<h2>Exclusion and suspension</h2>
15.1 If at any time you (or an Additional User) do not comply with these terms and conditions and/or any applicable laws or fail to have due regard to the Tips for Safer Cycling while using a Cycle, we reserve the right to exclude or suspend you (and/or an Additional User) from using Cycle Hire in accordance with the User Policy.
<p>15.2 Information obtained by the police regarding non-compliance with these terms and conditions, any applicable laws and/or the Tips for Safer Cycling while you (or an Additional User) are using a Cycle may be disclosed to us and we may use such information to exclude or suspend you (or an Additional User) from using Cycle Hire.</p>
15.3 If you (or an Additional User) is excluded or suspended from using Cycle Hire or we have reason to believe that you (or an Additional User) have used or attempted to use a Payment Card or Key to defraud us, we may cancel your remaining Bike Access Period without payment of any refund to you, in accordance with the User Policy.<br />
<h2>Complaints and disputes</h2>
16.1 As part of our standard enquiry and complaints handling process, we will:<br />
(a) record details of all enquiries and complaints that we receive; and<br />
(b) consider and respond to each enquiry and complaint in accordance with our Complaints Handling Policy.
<p>16.2 These terms and conditions shall be governed by English law.</p>
16.3 If any disputes arise between you and us and you want to take court proceedings, you must do so at a court in the United Kingdom.<br />
<h2>Other information</h2>
<p>17.1 Only you and we have rights under these terms and conditions. No other person shall have any rights under these terms and conditions.</p>
<p>17.2 You may not transfer any of your rights under these terms and conditions to any other person.</p>
17.3 If there is a conflict between the English version and any translation of these terms and conditions, the English version shall apply.
</div>
 
<div>



<h2>Policies</h2>



<div class="multi-document-download-container">
    

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/santander-cycles-complaints-handling-policy.pdf">
    <div class="document-download-text">
        <p>Complaints handling policy</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 107KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.10 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/santander-cycles-key-use-policy.pdf">
    <div class="document-download-text">
        <p>Key use policy</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 176KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.17 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/santander-cycles-non-return-and-damage-policy.pdf">
    <div class="document-download-text">
        <p>Non-return and damage policy</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 106KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.10 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/santander-cycles-refund-policy.pdf">
    <div class="document-download-text">
        <p>Refund policy</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 187KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.18 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/santander-cycles-user-policy.pdf">
    <div class="document-download-text">
        <p>User policy</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 111KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.11 -->
 
</div>

</div>
 
      
        
          
            @this.ScriptBlock(
              @<script>
                queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
              </script>
            )
          
        
      
    </div>
  </div>
  <div class="aside" role="complementary">

   
    
    
    
      <div data-set="sidenav-container" class="large">
        
        
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
                <a href="/corporate/terms-and-conditions/index" class="heading">
                    <h2 id="sub-menu-heading">Terms & conditions <span class="visually-hidden"> navigation</span></h2>
                </a>
                <ul>
                    
                                <li><div class="link-wrapper"><a href="/corporate/terms-and-conditions/competitions">Competitions</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/corporate/terms-and-conditions/ticketing-and-travel-conditions-of-carriage">Conditions of Carriage</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/corporate/terms-and-conditions/conveyancing-searches">Conveyancing searches</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/corporate/terms-and-conditions/live-bus-departure-information">Live Bus & River Bus arrivals</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/corporate/terms-and-conditions/online-accounts">Online accounts</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/corporate/terms-and-conditions/pay-to-drive-in-london">Pay to drive in London</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/corporate/terms-and-conditions/pay-to-drive-in-london-app">Pay to drive in London app</a></div></li>
                            
 
                                <li class="selected parent"><div class="link-wrapper"><a href="/corporate/terms-and-conditions/santander-cycles">Santander Cycles</a></div>
                                <ul>
                                    
                                <li><div class="link-wrapper"><a href="/corporate/terms-and-conditions/santander-cycles-insurance">Santander Cycles insurance</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/corporate/terms-and-conditions/cycle-hire-business-accounts">Cycle Hire Business Accounts</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/corporate/terms-and-conditions/cycle-hire-promo-codes">Cycle Hire promo codes</a></div></li>
                            
 
                                </ul>
                            </li>
 
                                <li><div class="link-wrapper"><a href="/corporate/terms-and-conditions/scrappage-scheme">Scrappage scheme</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/corporate/terms-and-conditions/social-media">Social media</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/corporate/terms-and-conditions/stars">STARS</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/corporate/terms-and-conditions/taxi-delicensing">Taxi delicensing</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/corporate/terms-and-conditions/tfl-call-charges">TfL call charges</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/corporate/terms-and-conditions/tfl-oyster-app">TfL Oyster and contactless app</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/corporate/terms-and-conditions/tfl-pension-fund">TfL Pension Fund</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/corporate/terms-and-conditions/transport-data-service">Transport Data Service </a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/corporate/terms-and-conditions/visitor-oyster-shop">Visitor Oyster shop</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/corporate/terms-and-conditions/webcat">WebCAT</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/corporate/terms-and-conditions/website">Website</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/corporate/terms-and-conditions/dlr-discovery">DLR Discovery</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/corporate/terms-and-conditions/direct-vision-standard-and-safety-permit-for-hgvs">Direct Vision Standard and Safety Permit for HGVs</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/corporate/terms-and-conditions/car-and-motorcycle-scrappage-scheme">ULEZ Car and motorcycle scrappage scheme</a></div></li>
                            
 
                </ul>
            
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
      </div>
    
    <div>
















<div class="advert-tile unsponsored-style google-ads" aria-hidden="true">
  <div class="advert-link">
    <div class="advert-content">
        <div class="medium-large" data-advert="/76889402/non-targeted" data-advert-sizes="300, 250"></div>
        <div class="small" data-advert="/76889402/non-targeted" data-advert-sizes="300, 250"></div>
    </div>
  </div>
</div>
@{
    ViewBag.AmazonSlot = "'amznslots'";
    ViewBag.AmazonAds = "'3199'"; // to add another value, this needs to be ViewBag.AmazonAds = "'3199','xx'";
}
      

 </div>
    
    <div data-set="sidenav-container" class="small-medium"></div>
  </div>
</div>
 
 
        
        
        
            @{ViewBag.Description = "Terms and conditions for registering and using the Cycle Hire bike sharing scheme";}
        
            
        


 