
    
  



@{ViewBag.Title = "Santander Cycles insurance";}
@{ViewBag.Keywords = "TfL";}
@{ViewBag.Url = "/corporate/terms-and-conditions/santander-cycles-insurance";}
@{ViewBag.Language = "en";}
        <!-- empty placeholder -->
 
        
        
<div class="r">
    <div class="breadcrumb-container" role="navigation">
        <span id="breadcrumb-label" class="visually-hidden">You are here:</span>
        <ol class="breadcrumbs clearfix" aria-labelledby="breadcrumb-label">
            <li class="home">
                <a href="/">
                    <span class="hide-text">Home</span>
                </a>
            </li>
            
                 <li><a href="/corporate/terms-and-conditions/index">Terms & conditions </a></li>
                
            
                 <li><a href="/corporate/terms-and-conditions/santander-cycles">Santander Cycles</a></li>
                
            
            
                <li><span class="last-breadcrumb">Santander Cycles insurance</span></li>
            
        
 
        
 
        
 
        </ol>
    </div>
</div>
     
 
<div class="r">
  <div class="headline-container plain">
    <h1>Santander Cycles insurance</h1>

  </div>
</div>
<div class="main-and-aside r">
  
  <div class="main content-container" role="main">
    
      <div class="article-teaser">
        If you accidentally cause damage to someone or something while using a Santander Cycle you are covered by our third party liability insurance as long as you follow our terms and conditions. 
        
      </div>
    
    <div class="on-this-page">
      <h2>What's covered</h2>
<p>You are covered through the insurer if you accidentally cause damage to someone or something else while using the cycle.</p>
<ul>
    <li><strong>Cover: </strong>&pound;2,000,000 (cover for each incident)</li>
    <li><strong>Excess: </strong>You will be responsible for paying a &pound;250 excess for each claim</li>
</ul>
<h2>What's not covered </h2>
<p>Personal accident insurance is not included. You may wish to take out your own insurance for this. Some cycling organisations include it in their membership benefits.</p>
<p>To see the policy in full, call the Contact Centre on 0343 222 6666* (07:00-20:00 Monday to Friday, 09:00-19:00 Saturday and Sunday).</p>
<h2>Claims</h2>
<p>If you are a Santander Cycles user involved in an incident where damage is caused to a third party:</p>
<ol>
    <li>Report the incident to the police and ask for a crime reference number </li>
    <li>Call the Contact Centre on 0343 222 6666* or +44 (0)343 222 6666 (07:00-20:00 Monday to Friday, 09:00-19:00 Saturday and Sunday) </li>
</ol>
<p>For any other claims please call the Contact Centre on 0343 222 6666*. </p>
<p>*See <a href="/corporate/terms-and-conditions/tfl-call-charges">TfL call charges</a> for information about the cost of calls to TfL.</p>
<p>If you wish to make a claim after an incident with a Santander Cycles user, please contact RSA through their agreed intermediary company, Butterworth Spengler Commercial Limited.</p>
<p><strong>Post:</strong><br />
Butterworth Spengler Insurance Group<br />
20-24 Faraday Road<br />
Wavertree Technology Park<br />
Wavertree<br />
Liverpool L13 1EH</p>
<p><strong>Phone:</strong> 0151 494 4400</p>
<p><strong>Website:</strong>&nbsp;<a href="http://www.butterworthspengler.co.uk/">Butterworth Spengler Insurance Group</a></p>
      
           
      
      
        
          
            @this.ScriptBlock(
              @<script>
                queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
              </script>
            )
          
        
      
    </div>
  </div>
  <div class="aside" role="complementary">

   
    
    
    
      <div data-set="sidenav-container" class="large">
        
        
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
                <a href="/corporate/terms-and-conditions/index" class="heading">
                    <h2 id="sub-menu-heading">Terms & conditions <span class="visually-hidden"> navigation</span></h2>
                </a>
                <ul>
                    
                                <li><div class="link-wrapper"><a href="/corporate/terms-and-conditions/competitions">Competitions</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/corporate/terms-and-conditions/ticketing-and-travel-conditions-of-carriage">Conditions of Carriage</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/corporate/terms-and-conditions/conveyancing-searches">Conveyancing searches</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/corporate/terms-and-conditions/live-bus-departure-information">Live Bus & River Bus arrivals</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/corporate/terms-and-conditions/online-accounts">Online accounts</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/corporate/terms-and-conditions/pay-to-drive-in-london">Pay to drive in London</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/corporate/terms-and-conditions/pay-to-drive-in-london-app">Pay to drive in London app</a></div></li>
                            
 
                                <li class="selected parent"><div class="link-wrapper"><a href="/corporate/terms-and-conditions/santander-cycles">Santander Cycles</a></div>
                                <ul>
                                    
                                        <li class="selected"><div class="link-wrapper"><a href="/corporate/terms-and-conditions/santander-cycles-insurance">Santander Cycles insurance</a></div>
                                    </li>
 
                                <li><div class="link-wrapper"><a href="/corporate/terms-and-conditions/cycle-hire-business-accounts">Cycle Hire Business Accounts</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/corporate/terms-and-conditions/cycle-hire-promo-codes">Cycle Hire promo codes</a></div></li>
                            
 
                                </ul>
                            </li>
 
                                <li><div class="link-wrapper"><a href="/corporate/terms-and-conditions/scrappage-scheme">Scrappage scheme</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/corporate/terms-and-conditions/social-media">Social media</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/corporate/terms-and-conditions/stars">STARS</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/corporate/terms-and-conditions/taxi-delicensing">Taxi delicensing</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/corporate/terms-and-conditions/tfl-call-charges">TfL call charges</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/corporate/terms-and-conditions/tfl-oyster-app">TfL Oyster and contactless app</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/corporate/terms-and-conditions/tfl-pension-fund">TfL Pension Fund</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/corporate/terms-and-conditions/transport-data-service">Transport Data Service </a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/corporate/terms-and-conditions/visitor-oyster-shop">Visitor Oyster shop</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/corporate/terms-and-conditions/webcat">WebCAT</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/corporate/terms-and-conditions/website">Website</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/corporate/terms-and-conditions/dlr-discovery">DLR Discovery</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/corporate/terms-and-conditions/direct-vision-standard-and-safety-permit-for-hgvs">Direct Vision Standard and Safety Permit for HGVs</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/corporate/terms-and-conditions/car-and-motorcycle-scrappage-scheme">ULEZ Car and motorcycle scrappage scheme</a></div></li>
                            
 
                </ul>
            
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
      </div>
    
    <div>




















<div class="advert-tile unsponsored-style google-ads" aria-hidden="true">
  <div class="advert-link">
    <div class="advert-content">
        <div class="medium-large" data-advert="/76889402/non-targeted" data-advert-sizes="300, 250"></div>
        <div class="small" data-advert="/76889402/non-targeted" data-advert-sizes="300, 250"></div>
    </div>
  </div>
</div>
@{
    ViewBag.AmazonSlot = "'amznslots'";
    ViewBag.AmazonAds = "'3199'"; // to add another value, this needs to be ViewBag.AmazonAds = "'3199','xx'";
}
      

 </div>
    
    <div data-set="sidenav-container" class="small-medium"></div>
  </div>
</div>
 
 
        
        
        
            @{ViewBag.Description = "Public liability insurance for users of Barclays Cycle Hire ";}
        
            
        


 