
    
  



@{ViewBag.Title = "Scrappage scheme";}
@{ViewBag.Keywords = "TfL";}
@{ViewBag.Url = "/corporate/terms-and-conditions/scrappage-scheme";}
@{ViewBag.Language = "en";}
        <!-- empty placeholder -->
 
        
        
<div class="r">
    <div class="breadcrumb-container" role="navigation">
        <span id="breadcrumb-label" class="visually-hidden">You are here:</span>
        <ol class="breadcrumbs clearfix" aria-labelledby="breadcrumb-label">
            <li class="home">
                <a href="/">
                    <span class="hide-text">Home</span>
                </a>
            </li>
            
                 <li><a href="/corporate/terms-and-conditions/index">Terms & conditions </a></li>
                
            
            
                <li><span class="last-breadcrumb">Scrappage scheme</span></li>
            
        
 
        
 
        </ol>
    </div>
</div>
     
 
<div class="r">
  <div class="headline-container plain">
    <h1>Scrappage scheme</h1>

  </div>
</div>
<div class="main-and-aside r">
  
  <div class="main content-container" role="main">
    
      <div class="article-teaser">
        Please read the terms and conditions of this Agreement carefully. These terms set out the eligibility checks, your obligations, payment, State aid considerations and other important information.
        
      </div>
    
    <div class="on-this-page">
      <p>A. The terms and conditions set out in this Agreement apply to the scrappage scheme provided by TfL. The terms and conditions are between TfL and the Recipient. TfL reserves the right to make changes to this Agreement from time to time.</p>

<p>B. The Scheme was launched by the Mayor of London to help tackle London's air quality crisis. The Scheme is open to Recipients that meet the Initial Eligibility Checks.</p>

<p>C. The Scheme will run while funding is in place and Applications will be accepted for assessment. The total available funding may increase and decrease at the discretion of TfL. No commitment is made around the duration of the funding term or the total funding available. TfL at its sole discretion may review the operation of the Scheme and make changes as it deems necessary.</p>

<ol>
	<li>In this Agreement the following words have the meaning set out below:</li>
</ol>

<p><strong>Agreement</strong> means this agreement including the schedules and any documents referred to in this Agreement;</p>

<p><strong>Application</strong> means the application form submitted by the Recipient to TfL;</p>

<p><strong>Authorised Treatment Facility</strong> means authorised facilities where a Recipient's Vehicle(s) are destroyed. Details of such ATFs can be found at <a href="https://environment.data.gov.uk/public-register/view/search-elv">https://environment.data.gov.uk/public-register/view/search-elv</a></p>

<p><strong>Auto Pay Service</strong> means the TfL Congestion Charge service which automatically records the number of charging days a vehicle travels within the CCZ and ULEZ each month and TfL automatically debits from the customer's registered payment method;</p>

<p><strong>CCZ</strong> means the Congestion Charge Zone as further set out in https://tfl.gov.uk/modes/driving/congestion-charge ;</p>

<p><strong>Certificate of Destruction</strong> means the certificate provided by an Authorised Treatment Facility to the Recipient to confirm the Vehicle(s) have been destroyed;</p>

<p><strong>Charity</strong> means an entity registered with the Charity Commission;</p>

<p><strong>Data Protection Legislation</strong> means the Data Protection Act 2018 and Regulation (EU) 2016/679 the General Data Protection Regulation and any amended or re-enactment from time to time or any national replacement for such legislation;</p>

<p><strong>De Minimis Aid</strong> means the ceiling of two hundred thousand euros (&euro;200,000) of financial assistance provided under the Commission Regulation (EC) No. 1407/2013 of 18 December 2013 on the application of Articles 107 and 108 of the Treaty of the Functioning of the European Union to de minimis aid (OJ L352) and any amended or re-enactment from time to time or any national replacement for such legislation to a Recipient as further described in Clause 12 and Schedule 3 to this Agreement over a three fiscal year period;</p>

<p><strong>Electric Vehicle</strong> means a van or minibus with an original specification of being powered only by a battery charged from the electricity grid;</p>

<p><strong>Eligible Replacement Vehicle(s)</strong> means a (i) new or second hand Euro 6 van or minibus; or (ii) new or second hand Electric Vehicle purchased or leased by the Recipient;</p>

<p><strong>FOI Legislation</strong> means the Freedom of Information Act 2000, all regulations made under it and the Environmental Information Regulations 2004 and any amendment or re-enactment of any of them or any national replacement for such legislation; and any guidance issue by the Information Commissioner, the Department for Constitutional Affairs, or the Department for Environment Food and Rural Affairs (including in each case its successors or assigns) in relation to such legislation;</p>

<p><strong>Grant Payment</strong> means the financial payment paid to the Recipient by TfL in accordance with this Agreement</p>

<p><strong>Grant Payment Option 3</strong> means the payment option relating to Electric Vehicle(s) which the Recipient has chosen as set out in Schedule 1;</p>

<p><strong>Greater London</strong> means the London Boroughs and City of London as defined by Greater London Authority at <a href="https://www.gov.uk/find-local-council">https://www.gov.uk/find-local-council</a>;</p>

<p><strong>Information</strong> means information recorded in any form held by TfL or by the Recipient on behalf of TfL;</p>

<p><strong>Information Request</strong> means a request for any Information under the FOI Legislation;</p>

<p><strong>Initial Eligibility Checks</strong> means the initial checks the Recipient must successful meet to be eligible to participate in this Scheme as set out in Schedule 1;</p>

<p><strong>LRUC Account</strong> means the London Road User Charging account a Recipient is required to have to submit and manage their Application;</p>

<p><strong>Microbusiness</strong> means a business as described in Schedule 1;</p>

<p><strong>Minibus</strong> means the Recipient's Vehicle as described in Schedule 1;</p>

<p><strong>Organisation</strong> means either the Microbusiness or Charity applying to this Scheme;</p>

<p><strong>Proof of Evidence</strong> means the documents to be provided to TfL by the Recipient in relation to the Eligible Replacement Vehicle(s) as further described in paragraph 2 of Schedule 2; &nbsp;</p>

<p><strong>Recipient</strong> means the Organisation submitting as application to TfL;</p>

<p><strong>Refund Period</strong> means a three month period when the Recipient is eligible for a refund from the ULEZ Charges if the Recipient has chosen Grant Payment Option 3 as further set out in Clause 7;</p>

<p><strong>Retention Period</strong> means a period of at least six years which the Recipient is required to keep all relevant documents relating to the Grant Payment in accordance with Clause 14.2;</p>

<p><strong>Scheme</strong> means the Scrappage Scheme as further detailed on the TfL website- www.tfl.gov.uk/scrappage-scheme ;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</p>

<p><strong>Scrap or Scrapped</strong> means the Recipient's Vehicle(s) which are destroyed at the Authorised Treatment Facility;</p>

<p><strong>Secondary Eligibility Checks</strong> means the documentary evidence the Recipient has to provide as set out in Schedule 2;&nbsp;</p>

<p><strong>TfL</strong> means Transport for London;</p>

<p><strong>Van</strong> means the Recipient's Vehicle as described in Schedule 1;&nbsp;</p>

<p><strong>V5C Registration Document</strong>, also known as the vehicle log book containing the details of a Vehicle(s) or Eligible Replacement Vehicle(s);</p>

<p><strong>Vehicle(s)</strong> means the Recipient's non-compliant Van or Minibus which is being Scrapped as part of the Application;</p>

<p><strong>ULEZ</strong> means the Ultra Low Emission Zone commencing on 8 April 2019 and further details can be found on the TfL website www.tfl.gov.uk/ulez;</p>

<p><strong>ULEZ Charges</strong> means the charges that any driver who enters the ULEZ is subject to unless their vehicle meets certain emission standards as detailed at www.tfl.gov.uk/ulez; and</p>

<p><strong>Working Days</strong> means any day excluding Saturdays, Sundays or public or bank holidays in England. &nbsp;</p>

<h4>2. Eligibility Checks</h4>

<p>2.1&nbsp; The Recipient must have:</p>

<p>a. completed and signed the Application form and terms and conditions which must have been received by TfL and such written confirmation provided to the Recipient;</p>

<p>b. satisfied the Initial Eligibility Checks as set out in Schedule 1; and</p>

<p>c. complied with the Secondary Eligibility Checks</p>

<p>to the satisfaction of TfL to be eligible to receive a Grant Payment.</p>

<p>2.2 Once TfL has received the Application from the Recipient, the Application will be assessed to ensure it meets the Initial Eligibility Checks. TfL will confirm to the Recipient in writing if they have satisfied the Initial Eligibility Checks and the conditions to satisfy the Secondary Eligibility Checks to be eligible for a Grant Payment.</p>

<p>2.3 TfL may request additional documentation from the Recipient to ensure the Recipient meets the Initial Eligibility Checks and/or Secondary Eligibility Checks to TfL's satisfaction. The Recipient shall use reasonable endeavours to respond within ten Working Days of TfL requesting such information. &nbsp;</p>

<p>2.4 The Recipient can submit only one Application containing the maximum of three (3) Vehicles and shall not be awarded a Grant Payment of &nbsp;more than &pound;18,000 in aggregate. No further Applications will be accepted unless the Recipient withdraws the original Application in accordance with Clauses 3.1 and 3.2 and commences the full process again.</p>

<h4>3. Amending and Withdrawing Application by the Recipient</h4>

<p>3.1&nbsp; The Recipient may not amend their Application once it has been submitted to TfL. If the Recipient wishes to amend their Application, they must withdraw their Application in accordance with Clause 3.2. &nbsp;The Application cannot be amended once a Grant Payment has been made. &nbsp;</p>

<p>3.2&nbsp; A Recipient may withdraw their Application at any time prior to the Vehicle(s) being Scrapped. To withdraw an Application, the Recipient should notify TfL in writing via their LRUC Account. If a Recipient withdraws their Application and wishes to re-apply at a later date, the Recipient must submit a new Application with all the required documentation which will be subject to the Initial Eligibility Checks and Secondary Eligibility Checks.</p>

<p>3.3&nbsp; A Recipient may not reapply if TfL has already rejected the Recipient's Application.</p>

<h4>4. Vehicle Scrappage Requirements</h4>

<p>4.1 The Recipient must not Scrap their Vehicle(s) before TfL has confirmed to the Recipient in writing that the Recipient has met the Initial Eligibility Checks. TfL will not be liable for any costs incurred if the Recipient chooses to Scrap their Vehicle(s) without such confirmation from TfL.</p>

<p>4.2 The Vehicle(s) must be Scrapped at an Authorised Treatment Facility.</p>

<p>4.3&nbsp; Subject to Clause 5.1, once TfL has received the Proof of Evidence and TfL has provided written confirmation to the Recipient that TfL is satisfied with such evidence, if the Recipient has chosen to Scrap the Vehicle only, TfL will make a Grant Payment in accordance with Clause 6.</p>

<h4>5. Time Period to provide documentation</h4>

<p>5.1&nbsp; The Recipient has six (6) calendar months from the date of the letter sent by TfL confirming the Recipient has met the Initial Eligibility Checks to comply with the Secondary Eligibility Checks to qualify for a Grant Payment.</p>

<p>5.2 If the Recipient does not comply within such time period TfL can terminate this Agreement at TfL's sole discretion and the Recipient will have to re-apply to this Scheme and submit a new Application. Any obligation on TfL to pay the Recipient shall cease and TfL will not be liable for any costs incurred by the Recipient.</p>

<h4>6. Grant Payment</h4>

<p>6.1&nbsp; The Grant Payment amounts are dependent on which Grant Payment Option the Recipient chooses and is eligible for as set out in Schedule 1. The Grant Payment Option amounts are set out on the TfL website www.tfl.gov.uk/scrappage-scheme which may be amended from time to time.&nbsp;</p>

<p>6.2 The Grant Payments are subject to change at TfL's sole discretion and without prior notice.</p>

<p>6.3 The Grant Payments will be paid by one cheque once the Recipient has provided the documentation in accordance with Clause 5 and Schedule 2. &nbsp;</p>

<p>6.4 The Recipient shall promptly repay to TfL any money incorrectly paid to it either as a result of an administrative error or otherwise. This includes (without limitation) situations where either an incorrect sum of money has been paid or where the Grant Payment has been paid in error before all conditions attached to the Grant Payment have been complied with by the Recipient.</p>

<h4>7. ULEZ Charges and Refund Period</h4>

<p>7.1&nbsp; Recipients which have received written confirmation from TfL that they meet the Initial Eligibility Checks and are utilising the Grant Payment&nbsp;&nbsp; Option 3 are permitted a refund of all ULEZ Charges for the Refund Period. The Refund Period is for a total of three (3) consecutive calendar months from the date of their Application if they applied after 8 April 2019 or from the date ULEZ came into operation if they applied before 8 April 2019. &nbsp;</p>

<p>7.2 The Recipient will be charged on entering the ULEZ during the Refund Period but such ULEZ Charges will be refunded to the Recipient for the Vehicle(s) which are the subject of this Application.</p>

<p>7.3 TfL will refund such ULEZ Charges to the Recipient via their original payment card or if payment is made via direct debit such refund will be via cheque. &nbsp;</p>

<p>7.4 The Recipient will still be subject to all other road user charges including the Congestion Charges.</p>

<h4>8. Warranties</h4>

<p>8.1 The Recipient warrants, undertakes and agrees that:</p>

<p>a. it has full capacity and authority to enter into this Agreement with TfL;</p>

<p>b. the Application meets all the Initial Eligibility Checks at the time the Recipient submitted the Application and will inform TfL immediately if the situation changes within six (6) calendar months from TfL providing written confirmation to the Recipient that it meets the Initial Eligibility Checks; and</p>

<p>c. all information and documentation provided as part of the Application is accurate and complete and it may be relied upon by TfL for the purposes of assessing the Recipient's Application. The Recipient will inform TfL immediately if any part of the information provided is no longer correct. &nbsp;</p>

<h4>9. Restrictions following a successful Application</h4>

<p>9.1&nbsp; Once a Grant Payment has been paid to the Recipient in accordance with this Agreement the Application cannot be withdrawn.</p>

<p>9.2 Should Grant Payment levels made as part of the Scheme change, TfL will not compensate those Recipients already in receipt of a Grant Payment or who have written confirmation of a confirmed Grant Payment.&nbsp; All Grant Payments made or offered are final.</p>

<p>9.3 Only one Grant Payment will be made to a Recipient per Application.&nbsp;</p>

<h4>10. Termination&nbsp;</h4>

<p>10.1 This Agreement may be terminated by TfL, in its absolute discretion immediately upon giving notice to the Recipient if;</p>

<p>a. the Recipient does not submit the required Proof of Evidence within the time period set out in Clause 5.1;</p>

<p>b. the Recipient does not provide sufficient information or additional information as required by TfL including but not limited to the evidence required for the Secondary Eligibility Checks and any subsequent evidence required in accordance with Clause 14 ;</p>

<p>c. the Recipient attempts without the prior consent of TfL to transfer or assign the Grant Payment to any other organisation including when there is a change in ownership or structure of the Recipient;</p>

<p>d. the Recipient ceases to operate for any reason, or it passes a resolution (or any court of competent jurisdiction makes an order) that it would be wound up or dissolved (other than for the purpose of bona fide and solvent reconstruction or amalgamation which means the Recipient no longer complies with the Initial Eligibility Checks); &nbsp;&nbsp;&nbsp;</p>

<p>e. the Recipient becomes insolvent, or it is declared bankrupt, or it is placed into receivership, administration or liquidation, or a petition has been presented for its winding up, or it enters into any arrangement or composition for the benefit of its creditors, or it is unable to pay its debts as they fall due;</p>

<p>f. the Application submitted by the Recipient is found to be fraudulent;</p>

<p>g. any information provided to TfL by the Recipient which TfL considered when deciding whether or not to provide the Grant Payment or subsequent supporting documents or correspondence is found to be incorrect or incomplete to an extent which TfL reasonably considers to be material; and/or</p>

<p>h. the Recipient does not comply with the terms and conditions of this Agreement and in the case of a breach that is capable of remedy fails to remedy such breach within ten (10) Working Days or such other period as specified in writing by TfL.</p>

<p>10.2&nbsp;&nbsp;&nbsp; Without prejudice to TfL's right to terminate under Clause 10.1 or to terminate at common law, TfL may terminate this Agreement and any Grant Payment at any time prior to an Recipient Scrapping Vehicle(s) if required to do for financial restraints or for any other reason.</p>

<h4>11. Reducing, Withholding, Suspending and Repayment of Grant Payment</h4>

<p>11.1 TfL's intention is that that Grant Payment will be paid to the Recipient in full if the Initial Eligibility Checks and Secondary Eligibility Checks are met. Without prejudice to TfL's other right and remedies, TfL may at its absolute discretion reduce, suspend or withhold the Grant Payment, or require all or part of the Grant Payment to be repaid by the Recipient in the event that any of the circumstances in Clause 10 arises.</p>

<p>11.2 Where an Application is found to be in breach of this Agreement including fraudulent applications, TfL shall seek recovery of the Grant Payment paid to the Recipient and may prosecute the Recipient.</p>

<p>11.3 Any repayment of the Grant Payment required under this Agreement must be made to TfL within six (6) months of notification by TfL to the Applicant.</p>

<p>11.4 If TfL becomes entitled to exercise its rights under clause 11 it may nevertheless decide not to exercise that right, or not to exercise them to the fullest extent possible, or to delay in exercising those rights. Any decision not to exercise TfL's rights under Clause 11, or to exercise them only partially or to delay in exercising them, may be made on conditions which will be notified to the Recipient provided always that any such decision by TfL shall not prevent the subsequent enforcement of any subsequent breach of that provision, and shall not be deemed to be a waiver of any subsequent breach of that or any other provisions.</p>

<h4>12. Acknowledgement and Publicity</h4>

<p>TfL may request all reasonable requests from the Recipient to provide reports, statistics, photographs and case studies that will assist TfL in its activities relating to the Scheme.</p>

<h4>13. Liability</h4>

<p>13.1 Subject to Clause 13.2, the Recipient is responsible for and must indemnify, keep indemnified and hold harmless TfL, its employees and agents against any expense, liability, loss, claim or proceedings whatsoever (&quot;Losses&quot;) in respect of the death of or injury to any person, loss of or damage to any property (including property belonging to TfL or for which it is responsible) and in respect of any other Losses which may arise out of or in the course of or by reason of any direct or indirect breach of contract, tort, breach of statutory duty, misrepresentation, misstatement, act, omission or default of the Recipient, its employees, or agents or as a result of participating in this Scheme.</p>

<p>13.2 The Recipient is not responsible for and shall not indemnify TfL for Losses to the extent that such Losses are caused by any breach or negligent performance of any of its obligations under this Agreement by TfL, its employees or agents.</p>

<p>13.3 TfL shall not be liable for any Losses that the Recipient incurs if the Recipient does not comply with the requirements of the Initial Eligibility Checks and the Secondary Eligibility Checks.</p>

<h4>14. Records, Insurance and Evidence</h4>

<p>14.1 The Recipient shall keep separate, accurate and up-to-date records of the Recipient and expenditure of the Grant Payment received by it.</p>

<p>14.2 The Recipient shall keep all invoices, receipts, and accounts and any other relevant documents relating to the expenditure of the Grant Payment (including the running costs and insurance documentation of the Electric Vehicle if the Recipient is eligible for Payment Option 3) for the Retention Period following receipt of the Grant Payment to which they relate. TfL and any person nominated by TfL shall have the right to review, at TfL's reasonable request, the Recipient's account and records that relate to the expenditure of the Grant Payment and shall have the right to take copies of such accounts and records at any time during the Retention Period. The Recipient shall give all reasonable assistance to TfL or its nominee in conducting such review.</p>

<p>14.3 The Recipient shall comply and facilitate TfL's compliance with all statutory requirements as regards accounts, audit or examination of accounts, annual reports and annual returns applicable to itself and TfL.</p>

<p>14.4 The Recipient confirms that if any information contained in the V5C Registration Documentation does not match the Recipient details contained in their Application, the Recipient will provide such documentary evidence as TfL requires enabling TfL to verify the information to TfL's satisfaction. If the evidence provided is not to TfL's satisfaction, TfL is entitled at its sole discretion to terminate this Agreement with immediate effect and not provide the Grant Payment. &nbsp;</p>

<h4>15. State Aid</h4>

<p>15.1 Any and all Grant Payments will be based on compliance with the requirements of the De Minimis Aid and payments will be contingent (notwithstanding all other Initial Eligibility Checks or Secondary Eligibility Checks requirements being met) on the Recipient having sufficient level of its De Minimis Aid allowance remaining for the proposed Grant Payments under this Scheme to fall within that allowance as further described in Schedule 3.</p>

<p>15.2 In accepting the Grant Payment, the Recipient shall comply with all applicable European Union rules on State aid or any national replacement for such rules. The Recipient shall fully cooperate with TfL in utilising the applicable approvals and procedures in relation to State aid rules.</p>

<h4>16. Data Protection</h4>

<p>16.1 TfL, its subsidiaries and service providers will comply with all its obligations under the Data Protection Legislation and will only process the Recipient's personal data (as defined in the Data Protection Legislation) for the purposes of assessing the Recipient's eligibility for the Scheme and to contact the Recipient regarding the Application. For more information please visit the Road User Charging page at <a href="/corporate/privacy-and-cookies/road-user-charging">www.tfl.gov.uk/privacy</a>.</p>

<p>16.2 If the Recipient has applied to a specific third party to receive a service and/or product from that party which is being provided because the Recipient is using this Scheme then TfL may share sufficient Personal Data (as defined in the Data Protection Legislation) with that third party to confirm whether a successful application has been made to TfL. This Personal Data will be limited to the minimum necessary to confirm eligibility for the third party service/product.</p>

<h4>17. Freedom of Information</h4>

<p>17.1 The Recipient acknowledges that TfL:</p>

<p>a. is subject to the FOI Legislation and agrees to assist and co-operate with TfL to enable TfL to comply with its obligations under the FOI Legislation;</p>

<p>b. may be obliged under the FOI Legislation to disclose Information without consulting or obtaining consent from the Recipient; and</p>

<p>c. TfL shall be responsible for determining whether Information is exempt information under the FOI Legislation and for determining what Information will be disclosed in response to an Information Request in accordance with FOI Legislation.</p>

<h4>18. Jointly and Several Liability</h4>

<p>Where the Recipient is neither a company nor an incorporated entity with a distinct legal personality of its own, or a single individual, individuals who enter into and sign this Agreement on behalf of the Recipient shall be jointly and severally liable for the Recipient's obligations and liabilities under this Agreement.</p>

<h4>19. Assignment and Novation</h4>

<p>19.1 The Recipient may not, without the prior written consent of TfL, assign or in any other way make over to any third party the benefit and/or the burden or otherwise transfer any right or obligation of this Agreement or transfer or pay to any other person any part of the Grant Payment.</p>

<p>19.2 The Recipient is not permitted to transfer or assign the Grant Payment to any other organisation without prior written consent from TfL. If the Recipient doesn't comply with this Clause 19.2, TfL may at its absolute discretion be entitled to termination this Agreement and withhold, suspend or require the Grant Recipient to repay the Grant Payment.&nbsp;</p>

<p>19.3&nbsp; TfL may novate or otherwise transfers this Agreement (in whole or in part).</p>

<h4>20. Survival</h4>

<p>Clauses 1, 2-6, 8, 9, 11, 12, 13, 14-16, 17, 18, 19-22 shall survive (in whole or in part) the termination or expiry of this Agreement and continue in full force and effect, along with any other provisions of this Agreement necessary to give effect to them. In addition, any other provision of the Agreement, by its nature or implication (including in respect of accrued rights and liabilities) is required to survive the termination or expiry of the Agreement, shall survive such termination or expiry as aforesaid.&nbsp;</p>

<h4>21. Entire Agreement</h4>

<p>21.1 This Agreement, including the Schedules, and all documents referred to in the Agreement constitutes the entire agreement between the parties and supersedes and extinguishes all previous agreements, promises, assurances, warranties, representations and understandings between them, whether written or oral, relating to its subject matter.</p>

<p>21.2 The Recipient is responsible for and shall make no claim against TfL in respect of any misunderstanding affecting the basis of Recipient's request in respect of this Agreement or any incorrect or incomplete information howsoever obtained.</p>

<p>21.3 Nothing in this Clause 21 excludes any liability which one party would otherwise have in respect of any statement it has made fraudulently to the other party.</p>

<h4>22. Governing Law</h4>

<p>This Agreement is governed by the laws of England. The Courts of England have exclusive jurisdiction to settle any dispute which may arise out of or in connection with this Agreement.</p>

<h3>Schedule 1 - Initial Eligibility Checks</h3>

<h4>Organisation Eligibility Criteria</h4>

<p>The Recipient must be either:</p>

<p>1. a. a Microbusiness organisation which has 10 employees or fewer and satisfies one or more of the following requirements in the current and preceding financial year:<br />
- turnover of not more than &pound;632,000; and/or<br />
- balance sheet total of not more than &pound;316,000</p>

<p>b. registered with Companies House (including as an active company) or VAT registered; or</p>

<p>2. an entity registered with the Charity Commission (including being an active charity).</p>

<h4>Vehicle Eligibility Criteria</h4>

<p>The Recipient's Vehicle(s) to be Scrapped must be:</p>

<ul>
	<li>a pre Euro 6 non-compliant ULEZ Van if the Recipient is a Microbusiness; or</li>
	<li>a pre Euro 6 non-compliant ULEZ Van or Minibus if the Recipient is a Charity</li>
</ul>

<p><strong>Van</strong></p>

<p>A van is an Recipient's pre-Euro 6 light van as specified in category N1 as defined by United Nations Economic Commission for Europe, body type should reference van and the revenue weight must be 3500kg or less. &nbsp;</p>

<p>The Van(s) to be Scrapped must be registered to the Microbusiness, Charity or authorised employee, director or trustee of the Microbusiness or Charity for business purposes for not less than twelve (12) consecutive calendar months prior to 22 February 2019 as documented in the V5C Registration Document. &nbsp;</p>

<p>If the Van is registered with an authorised employee, director or trustee then documentary evidence in the form of a letter detailing proof of employment on the Organisation's letter head paper must be provided to TfL's satisfaction to demonstrate that the authorised employee, director or trustee is employed by the Microbusiness or Charity.</p>

<p>&nbsp;</p>

<p>The Van must be insured for business use, have a valid MOT and road tax at the date of the Recipient's Application and such evidence provided with the Application.</p>

<p><strong>Minibuses (only applies to a Charity)</strong></p>

<p>A minibus is the Recipient's pre-Euro 6 minibus as specified in category M2 as defined in United Nations Economic Commission for Europe, body type must be minibus, revenue weight must be 5000kg or less and number of seats must be nine (9) or more.</p>

<p>The Minibus(s) to be Scrapped must be registered by the Charity or authorised employee of the Charity for business purposes for not less than twelve (12) consecutive calendar months prior to 22 February 2019 as documented in the V5C Registration Document.</p>

<p>If the Minibus is registered with an authorised employee, director or trustee then documentary evidence in the form of a letter detailing proof of employment on the Organisation's letter head paper must be provided to TfL's satisfaction to demonstrate that the authorised employee, director or trustee is employed by the or Charity.</p>

<p>The Minibus must be insured for business use, have a valid MOT and road tax at the date of the Recipient's Application and such evidence provided with the Application.&nbsp;</p>

<h4>Grant Payment Options</h4>

<p><strong>Microbusiness</strong></p>

<p><strong>Option 1: Scrappage of pre-Euro 6 Vehicle for frequent users of the Congestion Charging Zone</strong></p>

<p>To be eligible the Recipient must meet all of the following requirements:</p>

<ul>
	<li>be a Microbusiness in accordance with the Organisation Eligibility Criteria above;</li>
	<li>have Vehicle(s) which satisfies the Vehicle Eligibility Criteria above;</li>
	<li>the registered address of the Microbusiness in the UK&nbsp; is with Companies House or VAT registered; and</li>
	<li>the Vehicle(s) must have entered the CCZ fifty two (52) times during the preceding six (6) months before the commencement of this Scheme (22 February 2019) and verified on the Recipient's Auto Pay Service.</li>
</ul>

<p><strong>Option 2: Scrapping of pre-Euro 6 Vehicle and purchase/lease of Euro 6 replacement vehicle for Greater London based organisations</strong></p>

<p>To be eligible the Recipient must meet all of the following requirements;</p>

<ul>
	<li>be a Microbusiness in accordance with the Organisation Eligibility Criteria above;</li>
	<li>have Vehicle(s) which satisfies the Vehicle Eligibility Criteria above; and</li>
	<li>the registered address of the Microbusiness in Greater London with Companies House or VAT registered.</li>
</ul>

<p><strong>Option 3: Scrappage of pre-Euro 6 Vehicle and contribution towards running costs (including insurance) of the Electric Vehicle</strong></p>

<p>To be eligible the Recipient must meet the following requirements;</p>

<ul>
	<li>be a Microbusiness in accordance with the Organisation Eligibility Criteria above;</li>
	<li>have Vehicle(s) which satisfies the Vehicle Eligibility Criteria above;</li>
	<li>Microbusiness registered in Greater London with Companies House or VAT registered or if the of the Microbusiness is not registered in Greater London, is registered in the United Kingdom with Companies House or VAT registered and the Vehicle(s) must have entered the CCZ fifty two (52) times during the preceding six (6) months before the commencing of this Scheme (22 February 2019) verified on the Recipient's Auto Pay Service.</li>
</ul>

<h4>Charity</h4>

<p><strong>Option 1: Scrappage of pre-Euro 6 Vehicle for frequent users of the Congestion Charging Zone</strong></p>

<p>To be eligible the Recipient must meet all the following requirements:</p>

<ul>
	<li>Be a Charity in accordance with the Organisation Eligibility Criteria;</li>
	<li>have Vehicle(s) which satisfies the Vehicle Eligibility Criteria above;</li>
	<li>the registered address is in the United Kingdom with the Charity Commission; &nbsp;and</li>
	<li>the Vehicle(s) must have entered the CCZ fifty two (52) times during the preceding six (6) months before the commencing of this Scheme (22 February 2019); verified on the Recipient's Auto Pay Service.</li>
</ul>

<p><strong>Option 2: Scrappage of pre-Euro 6 Vehicle and purchase/lease of Euro 6 replacement vehicle for Greater London based organisations</strong></p>

<p>To be eligible the Recipient must meet all of the following requirements;</p>

<ul>
	<li>be a Charity in accordance with the Organisation Eligibility Criteria;</li>
	<li>have Vehicle(s) which satisfies the Vehicle Eligibility Criteria above; and</li>
	<li>the registered address is in Greater London with the Charity Commission.</li>
</ul>

<p><strong>Option 3: Scrappage of pre-Euro 6 Vehicle and contribution towards running costs (including insurance) of an Electric Vehicle</strong></p>

<p>To be eligible the Recipient must meet the following requirements;</p>

<ul>
	<li>be a Charity in accordance with Organisation Eligibility Criteria;</li>
	<li>have Vehicle(s) which satisfies the Vehicle Eligibility Criteria above; and</li>
	<li>the registered address in Greater London with Companies House or VAT registered or the Charity is registered is registered in the United Kingdom with the Charity Commission and the Vehicle(s) must have entered the CCZ fifty two (52) times during the preceding six (6) months before the commencing of this Scheme, (22 February 2019) verified on the Recipient's Auto Pay Service.</li>
</ul>

<h3>Schedule 2- Secondary Eligibility Checks&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</h3>

<p>The Recipient must within six (6) months from receiving written confirmation from TfL that the Recipient meets the Initial Eligibility Checks provide via their LRUC Account the following documentation to receive a Grant Payment:</p>

<h4>1. Option 1: Scrappage of pre Euro 6 vehicle for frequent users of the Congestion Charging Zone</h4>

<ul>
	<li>Certificate of Destruction from Authorised Treatment Facility</li>
</ul>

<h4>Option 2: Scrappage of pre Euro 6 vehicle and purchase/lease of Euro 6 replacement vehicle for Greater London based organisations; and</h4>

<h4>&nbsp;&nbsp;&nbsp; Option 3: Scrappage of pre Euro 6 vehicle and contribution towards running &nbsp;&nbsp;&nbsp;costs (including insurance) of an Electric Vehicle</h4>

<p>The Recipient must provide to TfL the following documentation evidence:</p>

<p>a. Certificate of Destruction from Authorised Treatment Facility.</p>

<p>b. Evidence to show they purchased or leased the Eligible Replacement Vehicle(s) after the date of confirmation letter the Recipient received from TfL to confirm the Recipient meets the Initial Eligibility Checks;</p>

<p>c. Business insurance for the Eligible Replacement Vehicle(s);</p>

<p>d. Business insurance certificate, policy schedule and premium for Electric Vehicle (if applicable Grant Payment Option 3) to be in the name of the Organisation.</p>

<p>e. V5C registration document showing the vehicle fuel type is electric if applying for the Grant Payment Option 3 or that the Eligible Replacement Vehicle(s) meets the appropriate Euro 6 NOx and PM limits if applying for the Grant Payment Option 2.</p>

<p>f. V5C Registration Document showing the Eligible Replacement Vehicle(s) are registered to either;</p>

<p>(i) the Microbusiness or Charity; or</p>

<p>(ii) such documentary evidence provided to TfL's satisfaction that the Eligible Replacement Vehicle(s) are registered to an authorised employee, director or trustee of the Organisation for business purposes and that the authorised employee, director or trustee of the Organisation are employed by them in the form of proof of employment on the Organisation's letter headed paper.</p>

<p>g. If the Eligible Replacement Vehicle(s) are leased from a leasing company, the relevant lease business agreement for a minimum two (2) years lease, and V5C Registration Documentation which complies with paragraph f above.</p>

<p>h. Proof of purchase of the Eligible Replacement Vehicles(s) which is acceptable to TfL including but not limited to sales invoice.</p>

<h3>Schedule 3 - State Aid De Minimis</h3>

<p>TfL is considering giving the Recipient de minimis aid under Commission Regulation (EC) No. 1407/2013 of 18 December 2013 on the application of Articles 107 and 108 of the Treaty on the Functioning of the European Union to de minimis aid (OJ L 352 (&quot;the Regulation&quot;) up to a maximum Grant Payment of &pound;18,000 applicable Euro/Sterling exchange rate as set out at <a href="http://ec.europa.eu/budget/contracts_grants/info_contracts/inforeuro/index_en.cfm">http://ec.europa.eu/budget/contracts_grants/info_contracts/inforeuro/index_en.cfm</a> at the date that TfL confirmed in writing that an offer of an Grant Payment has been made in relation to the Scheme.</p>

<p>Under the Regulation, TfL is required to check whether the Recipient will have received more than &euro;200,000 of de minimis aid within the Member State in question (i.e. the UK) in this fiscal year (based on your accounting year e.g. by reference to the Recipient's accounting reference date) and in the previous two fiscal years when combined with the maximum sum detailed above which TfL is proposed as a maximum to provide as de minimis aid. Please note if you as the Recipient is part of a group of companies your declaration needs to relate to funds received by all entities within that group for these purposes</p>

<p>Please note the Recipient does not need to include funding that it may have received under a scheme or individual award which has been notified to and approved by the European Commission or under the State aid General Block Exemption Regulation, unless such funding has been/is intended to be use by the Recipient in relation to the same costs as the proposed de minimis funding from the TfL.</p>

<p><strong>The Recipient needs to complete the State Aid De Minimis Declaration form in the Application Form.</strong></p>

<p>&nbsp;</p>
      
           
      
      
        
          
            @this.ScriptBlock(
              @<script>
                queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
              </script>
            )
          
        
      
    </div>
  </div>
  <div class="aside" role="complementary">

   
    
    
    
      <div data-set="sidenav-container" class="large">
        
        
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
                <a href="/corporate/terms-and-conditions/index" class="heading">
                    <h2 id="sub-menu-heading">Terms & conditions <span class="visually-hidden"> navigation</span></h2>
                </a>
                <ul>
                    
                                <li><div class="link-wrapper"><a href="/corporate/terms-and-conditions/competitions">Competitions</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/corporate/terms-and-conditions/ticketing-and-travel-conditions-of-carriage">Conditions of Carriage</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/corporate/terms-and-conditions/conveyancing-searches">Conveyancing searches</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/corporate/terms-and-conditions/live-bus-departure-information">Live Bus & River Bus arrivals</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/corporate/terms-and-conditions/online-accounts">Online accounts</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/corporate/terms-and-conditions/pay-to-drive-in-london">Pay to drive in London</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/corporate/terms-and-conditions/pay-to-drive-in-london-app">Pay to drive in London app</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/corporate/terms-and-conditions/santander-cycles">Santander Cycles</a></div></li>
                            
 
                                <li class="selected"><div class="link-wrapper"><a href="/corporate/terms-and-conditions/scrappage-scheme">Scrappage scheme</a></div>
                            </li>
 
                                <li><div class="link-wrapper"><a href="/corporate/terms-and-conditions/social-media">Social media</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/corporate/terms-and-conditions/stars">STARS</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/corporate/terms-and-conditions/taxi-delicensing">Taxi delicensing</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/corporate/terms-and-conditions/tfl-call-charges">TfL call charges</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/corporate/terms-and-conditions/tfl-oyster-app">TfL Oyster and contactless app</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/corporate/terms-and-conditions/tfl-pension-fund">TfL Pension Fund</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/corporate/terms-and-conditions/transport-data-service">Transport Data Service </a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/corporate/terms-and-conditions/visitor-oyster-shop">Visitor Oyster shop</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/corporate/terms-and-conditions/webcat">WebCAT</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/corporate/terms-and-conditions/website">Website</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/corporate/terms-and-conditions/dlr-discovery">DLR Discovery</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/corporate/terms-and-conditions/direct-vision-standard-and-safety-permit-for-hgvs">Direct Vision Standard and Safety Permit for HGVs</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/corporate/terms-and-conditions/car-and-motorcycle-scrappage-scheme">ULEZ Car and motorcycle scrappage scheme</a></div></li>
                            
 
                </ul>
            
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
      </div>
    
    <div>
















<div class="advert-tile unsponsored-style google-ads" aria-hidden="true">
  <div class="advert-link">
    <div class="advert-content">
        <div class="medium-large" data-advert="/76889402/non-targeted" data-advert-sizes="300, 250"></div>
        <div class="small" data-advert="/76889402/non-targeted" data-advert-sizes="300, 250"></div>
    </div>
  </div>
</div>
@{
    ViewBag.AmazonSlot = "'amznslots'";
    ViewBag.AmazonAds = "'3199'"; // to add another value, this needs to be ViewBag.AmazonAds = "'3199','xx'";
}
      

 </div>
    
    <div data-set="sidenav-container" class="small-medium"></div>
  </div>
</div>
 
 
        
        
        
            @{ViewBag.Description = "Scrappage scheme terms and conditions";}
        
            
        


 