
    
  



@{ViewBag.Title = "Social media";}
@{ViewBag.Keywords = "TfL";}
@{ViewBag.Url = "/corporate/terms-and-conditions/social-media";}
@{ViewBag.Language = "en";}
        <!-- empty placeholder -->
 
        
        
<div class="r">
    <div class="breadcrumb-container" role="navigation">
        <span id="breadcrumb-label" class="visually-hidden">You are here:</span>
        <ol class="breadcrumbs clearfix" aria-labelledby="breadcrumb-label">
            <li class="home">
                <a href="/">
                    <span class="hide-text">Home</span>
                </a>
            </li>
            
                 <li><a href="/corporate/terms-and-conditions/index">Terms & conditions </a></li>
                
            
            
                <li><span class="last-breadcrumb">Social media</span></li>
            
        
 
        
 
        </ol>
    </div>
</div>
     
 
<div class="r">
  <div class="headline-container plain">
    <h1>Social media</h1>

  </div>
</div>
<div class="main-and-aside r">
  
  <div class="main content-container" role="main">
    
      <div class="article-teaser">
        Here we outline our policies for Twitter and Facebook. We review these policies from time to time. Please check this page periodically to make sure you are aware of any changes.
        
      </div>
    
    <div class="on-this-page">
      <p>You can find an up to date list of our social media accounts on the <a href="/travel-information/social-media-and-email-updates/index">Social media</a> pages of our website.</p>
<h2><a name="house-rules"></a>House rules</h2>
<p>We want to encourage an honest and forthright but polite and respectful conversation on social media. You can help make that happen by following our house rules.</p>
<ul>
    <li>Don't write anything discriminatory, racist, abusive, obscene, inflammatory, or unlawful </li>
    <li>Don't write anything defamatory</li>
    <li>Avoid talking about open court cases or police investigations </li>
    <li>Don't use copyright material without the owner's permission </li>
    <li>Don't use this forum for self-promotion or commercial gain </li>
</ul>
<h3>Make the social web a nice place to be: </h3>
<ul>
    <li>Aim to be fair, truthful and accurate </li>
    <li>Take issue with the opinion, not the person </li>
    <li>Be respective of other people's reputations</li>
    <li>Be gentle when pointing out someone else's error or misinterpretation </li>
    <li>Don't spam others - it makes it hard to have a real conversation </li>
    <li>Remember that tweets from TfL are written by TfL staff, who are people too</li>
</ul>
<h2>Comments and replies</h2>
<p>To maintain a safe and welcoming environment for others, we may ask users to stop sending tweets and remove or report posts or comments that break these rules. We may report patterns of disruptive activity or block users where we deem it necessary.</p>
<p>We welcome feedback and ideas from all our followers, and will join the conversation where we can contribute something useful.</p>
<p>We read all messages and comments and we reply to as many customer questions as we can. We don't guarantee to  reply individually to every message we receive via social media.</p>
<p>Please don't include personal information such as your Oyster card number, phone numbers or bank or payment card details in your message or comment.  If we need this information to resolve an issue, we will contact you privately.</p>
<h2>Sharing and copyright</h2>
<p>All content produced by TfL on our social media feeds and pages is protected by copyright. However, you are encouraged to share our updates provided that you acknowledge us as the source (and do not change the sense or misrepresent us).</p>
<p>We retweet content from partners and subsidiary organisations, and consider any requests to retweet content from others based on relevance and propriety. We reserve the right not to satisfy such requests at our discretion. Being retweeted by us does not imply endorsement of any kind.</p>
<h2>Third party platforms</h2>
<p>By using TfL social media feeds and pages, you are agreeing the terms and conditions of those third party platforms.</p>
<h3>Twitter</h3>
<p>
Twitter <a href="https://twitter.com/en/tos">Terms</a> and <a href="https://twitter.com/en/privacy">Privacy policy</a>.
</p>
<h3>Facebook</h3>
<p>
Facebook <a href="http://www.facebook.com/policies">Terms</a> and <a href="http://www.facebook.com/privacy/explanation">Privacy policy</a>
</p>
<h3>Linked In</h3>
<p>
Linked In User agreement <a href="http://www.linkedin.com/legal/user-agreement">User agreement</a> and <a href="http://www.linkedin.com/psettings/privacy">Privacy policy</a></p>
<h3>Instagram</h3>
<p>Instagram <a href="https://help.instagram.com/478745558852511">Terms of use</a> and <a href="https://help.instagram.com/155833707900388">Privacy policy </a></p>
<h2>Contacting TfL through social media</h2>
<p>
We use a third party tool called <a href="https://cxsocial.clarabridge.com">CX Social</a> to manage all the comments that customers send through social media. This tool records your data including your social media name and your comment. If we request any information to help answer your question &#45; for example, a phone number so that we can call you &#45; it is also recorded on the tool and any comment we provide in response.</p>
<h2>
Privacy policy</h2>
<p>We respect your privacy and handle all personal data in accordance with privacy and data protection legislation and our own information governance policies. Please visit our <a href="/corporate/privacy-and-cookies/index">Privacy and cookies</a> pages for further information about the ways TfL may collect and use your personal information.</p>
      
           
      
      
        
          
            @this.ScriptBlock(
              @<script>
                queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
              </script>
            )
          
        
      
    </div>
  </div>
  <div class="aside" role="complementary">

   
    
    
    
      <div data-set="sidenav-container" class="large">
        
        
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
                <a href="/corporate/terms-and-conditions/index" class="heading">
                    <h2 id="sub-menu-heading">Terms & conditions <span class="visually-hidden"> navigation</span></h2>
                </a>
                <ul>
                    
                                <li><div class="link-wrapper"><a href="/corporate/terms-and-conditions/competitions">Competitions</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/corporate/terms-and-conditions/ticketing-and-travel-conditions-of-carriage">Conditions of Carriage</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/corporate/terms-and-conditions/conveyancing-searches">Conveyancing searches</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/corporate/terms-and-conditions/live-bus-departure-information">Live Bus & River Bus arrivals</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/corporate/terms-and-conditions/online-accounts">Online accounts</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/corporate/terms-and-conditions/pay-to-drive-in-london">Pay to drive in London</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/corporate/terms-and-conditions/pay-to-drive-in-london-app">Pay to drive in London app</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/corporate/terms-and-conditions/santander-cycles">Santander Cycles</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/corporate/terms-and-conditions/scrappage-scheme">Scrappage scheme</a></div></li>
                            
 
                                <li class="selected"><div class="link-wrapper"><a href="/corporate/terms-and-conditions/social-media">Social media</a></div>
                            </li>
 
                                <li><div class="link-wrapper"><a href="/corporate/terms-and-conditions/stars">STARS</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/corporate/terms-and-conditions/taxi-delicensing">Taxi delicensing</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/corporate/terms-and-conditions/tfl-call-charges">TfL call charges</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/corporate/terms-and-conditions/tfl-oyster-app">TfL Oyster and contactless app</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/corporate/terms-and-conditions/tfl-pension-fund">TfL Pension Fund</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/corporate/terms-and-conditions/transport-data-service">Transport Data Service </a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/corporate/terms-and-conditions/visitor-oyster-shop">Visitor Oyster shop</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/corporate/terms-and-conditions/webcat">WebCAT</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/corporate/terms-and-conditions/website">Website</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/corporate/terms-and-conditions/dlr-discovery">DLR Discovery</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/corporate/terms-and-conditions/direct-vision-standard-and-safety-permit-for-hgvs">Direct Vision Standard and Safety Permit for HGVs</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/corporate/terms-and-conditions/car-and-motorcycle-scrappage-scheme">ULEZ Car and motorcycle scrappage scheme</a></div></li>
                            
 
                </ul>
            
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
      </div>
    
    <div>
















<div class="advert-tile unsponsored-style google-ads" aria-hidden="true">
  <div class="advert-link">
    <div class="advert-content">
        <div class="medium-large" data-advert="/76889402/non-targeted" data-advert-sizes="300, 250"></div>
        <div class="small" data-advert="/76889402/non-targeted" data-advert-sizes="300, 250"></div>
    </div>
  </div>
</div>
@{
    ViewBag.AmazonSlot = "'amznslots'";
    ViewBag.AmazonAds = "'3199'"; // to add another value, this needs to be ViewBag.AmazonAds = "'3199','xx'";
}
      

 </div>
    
    <div data-set="sidenav-container" class="small-medium"></div>
  </div>
</div>
 
 
        
        
        
            @{ViewBag.Description = "TfL policies for Twitter and Facebook";}
        
            
        


 