
    
  



@{ViewBag.Title = "STARS";}
@{ViewBag.Keywords = "TfL";}
@{ViewBag.Url = "/corporate/terms-and-conditions/stars";}
@{ViewBag.Language = "en";}
        <!-- empty placeholder -->
 
        
        
<div class="r">
    <div class="breadcrumb-container" role="navigation">
        <span id="breadcrumb-label" class="visually-hidden">You are here:</span>
        <ol class="breadcrumbs clearfix" aria-labelledby="breadcrumb-label">
            <li class="home">
                <a href="/">
                    <span class="hide-text">Home</span>
                </a>
            </li>
            
                 <li><a href="/corporate/terms-and-conditions/index">Terms & conditions </a></li>
                
            
            
                <li><span class="last-breadcrumb">STARS</span></li>
            
        
 
        
 
        </ol>
    </div>
</div>
     
 
<div class="r">
  <div class="headline-container plain">
    <h1>STARS</h1>

  </div>
</div>
<div class="main-and-aside r">
  
  <div class="main content-container" role="main">
    
      <div class="article-teaser">
        Terms of use for www.tfl.gov.uk/stars (the "Website")<BR>
        
      </div>
    
    <div class="on-this-page">
      <p>By signing up for an account and by your continued use of the Website you are deemed to have accepted and agree to abide by the terms set out below, and the general <a href="/corporate/terms-and-conditions/website">terms and conditions of the main TfL website</a>. If you do not agree with these terms then you should not sign up for an account or use the Website.
</p>
<p>The Website is a site operated by Transport for London (&quot;TfL&quot;). To contact us, please see the <a href="http://stars.tfl.gov.uk/Home/Contact">Contact  section of the Website</a>.</p>
<h2>Changes to these terms/the Website</h2>
<p>
We may amend these terms from time to time and you are responsible for ensuring that you are aware of what terms apply at the time of your use.</p>
<p>TfL may update and change the Website from time to time to reflect business changes, needs or for any other reason. TfL will try to give you as much notice as possible of any major changes.</p>
<p>Although TfL will make reasonable efforts to update the information on the Website, TfL make no representations, warranties or guarantees, whether expressed or implied, that the content of the Website is accurate, complete or up-to-date.</p>
<p>The content of the Website is provided for general information only. It is not intended to amount to advice on which you should rely. You must obtain professional or specialist advice before taking, or refraining from, any action on the basis of the content on the Website.</p>
<h2>Access to the Website</h2>
<p>
The Website is available free of charge and TfL do not guarantee that it, or any of the content will always be available or be uninterrupted. TfL may suspend or withdraw or restrict the availability of all or any part of the Website for business or operational reasons.</p>
<h2>Protecting usernames/passwords</h2>
<p>Once you have signed up for an account you must treat your username, password and any other sign in information as confidential and not disclose it to any third party.</p>
<p>TfL have the right to disable any user name or password whether chosen by you or allocated by us, at any time, if in the reasonable opinion of TfL you have failed to comply with any of the provisions of these terms of use.</p>
<p>If you know or suspect that anyone other than you knows your user name or password you must promptly <a href="http://stars.tfl.gov.uk/Home/Contact">notify us</a>.</p>
<h2>Third party information</h2>
<p>
Some of the information presented and/or used in the Website comes from third parties, such as Edubase. TfL is not responsible for any inaccuracies and/or mistakes in the information provided on the Website which is provided by third parties.</p>
<p>Where the Website contains links to other sites and resources provided by third parties, these links are provided for information only. Such links should not be interpreted as approval by us of those linked websites or information you may obtain from them. We have no control over the content of those sites or resources.</p>
<h2>TfL intellectual property rights</h2>
<p>TfL is the owner or the licensee of all the intellectual property rights in the Website, including the material published by TfL. Those works are protected by copyright laws and treaties around the world. All such rights are reserved.</p>
<p>If you wish to use in any way any of the materials published on the Website, you will need to seek written permission from TfL. TfL's contact details are available on the Contact Us pages of the Website.</p>
<p>TfL owns the &quot;STARS&quot; trademark, which is used in the Website and is registered in the UK with registration number UK3034141 and UK3031256. You may use the &quot;STARS&quot; trademark to promote awareness of the outcome of your STARS work and for your own internal business purpose. If you wish to use the &quot;STARS&quot; trademark in any other way then you will need to seek the written consent of TfL. TfL's contact details are available on the Contact Us pages of the Website.</p>
<h2>Viruses</h2>
<p>We do not guarantee that the Website will be secure or free from bugs or viruses.</p>
<p>You are responsible for configuring your information technology, computer programmes and platform to access the Website. You should use your own virus protection software. You must not misuse the Website by knowingly introducing viruses, worms, logic bombs or other material that is malicious or technologically harmful.</p>
<p>You must not attempt to gain unauthorised access to the Website, the servers on which the Website is stored or any server or computer or database connected to the Website. You must not attack the Website via a denial-of-service attack or a distributed denial-of-service attack.</p>
<p>By breaching this provision, you would commit a criminal offence under the Computer Misuse Act 1990. TfL will report any such breach to the relevant law enforcement authorities and TfL will cooperate with those authorities by disclosing your identity to them. In the event of such a breach, your right to use the Website will cease immediately.</p>
<h2>Linking to the Website</h2>
<p>You may link to the Website, provided that you do so in a way that is fair and legal and does not damage TfL's reputation or take advantage of it. You must not establish a link which suggests any form of association, approval or endorsement on TfL's part where none exists.</p>
<p>We reserve the right to withdraw linking permission without notice.</p>
<h2>Uploading content/rights you grant</h2>
<p>Whenever you make use of a feature that allows you to upload content to the Website, or to make contact with other users/organisations you warrant that: (i) you have the appropriate consent, which includes parental or guardian consent for images of children, to upload and publish the images, documents and text to the Website; (ii) the content uploaded to the public section of the Website can by placed in the public domain; and that you will be liable to and indemnify TfL for any breach of these warranties</p>
<p>You agree that any content you upload to the public section of the Website, or which you confirm can be included in the public section of the Website is non-confidential and non-proprietary.</p>
<p>TfL have the right to disclose your identity to any third party who is claiming that any content posted or uploaded by you to the Website constitutes a violation of their intellectual property rights or of their right to privacy.</p>
<p>TfL shall remove comments, or content uploaded to the Website if, in TfL's opinion, the comments or content is inappropriate, likely to cause offense to others or for such other reason as TfL may determine at its sole discretion.</p>
<p>If you are a school, you acknowledge that when you upload any content to the Website, TfL, Borough Officers for the borough in which your school is located and any third parties who your school partners with as part of STARS shall be able to view such content even when you have identified such content as being private and you grant the following rights of use for all uploaded content:</p>
<ul>
    <li>
    TfL may use any of the content for its own purpose of administering the STARS scheme, which shall include but not be limited to the internal and external promotion of the Website and the STARS scheme;</li>
    <li>Borough Officers may use any of the content for the purposes of administering the STARS programme and travel and road safety activities in your borough as part of their employment; and</li>
    <li>Any partners who you are working with may use any of the content solely for the purposes of the partnership which they are working with you on</li>
</ul>
<p>If you are a school, you grant to TfL, Borough Officers and partners who you are working with a royalty free, non-exclusive, perpetual, worldwide, irrevocable, licence to use the school's logo on the Website for their own non-commercial purposes.</p>
<p>If you are a Borough Officer, you acknowledge that when you upload any content to the Website, TfL, schools and partners working with schools in your borough shall be able to view such content even when you have identified such content as being private and you grant the following rights of use for all uploaded content:</p>
<ul>
    <li>
    TfL may use any of the content for its own purposes of administering the STARS scheme, which shall include but not be limited to the internal and external promotion of the Website, and the STARS scheme;</li>
    <li>Schools in your borough may use any of the content for the purpose of the participation in STARS;</li>
    <li>Partners working with schools in your borough may use any of the content for the purpose of working with the school as part of the partnership</li>
</ul>
<p>For the avoidance of doubt, schools which are not in your borough will only be able to view content which you have identified as 'public' information.</p>
<p>If you are a partner of a school who is participating in STARS, you acknowledge that when you upload any content to the Website, TfL and Schools you are working with, and Borough Officers of the Schools you are working with shall be able to view such content even when you have identified such content as being private and you grant the following rights of use for all uploaded content:</p>
<ul>
    <li>
    TfL may use any of the content for its own purposes of administering the STARS scheme, which shall include, but not be limited to the internal and external promotion of the Website and the STARS scheme;</li>
    <li>Schools you are working with may use any content for the purpose of the partnership with you; and</li>
    <li>Borough Officers may use any content for the purpose of administering the STARS programme and travel and road safety activities in your borough as part of their employment</li>
</ul>
<p>You agree that you will only use any content that is uploaded by other users only for the purposes granted by the user who uploaded the content.</p>
<p>TfL will not make public, except as set out in these terms and conditions, any content which you upload and identify as private information or information uploaded to protected areas of the Website.</p>
<h2>Governing law and jurisdiction</h2>
<p>These terms of use shall be governed by and construed in accordance with English Law and is subject to the exclusive jurisdiction of the English Courts.</p>
<h2>Privacy notice</h2>
<p>Transport for London (TfL), its subsidiaries and service providers, will user your personal information for the purposes of customer services and administration connected to the STARS School Travel Plan Accreditation Scheme.  Your personal information will be properly safeguarded and processed in accordance with the requirements of privacy and data protection legislation.  Further information can be found
on our <a href="/corporate/privacy-and-cookies/index">Privacy and cookies</a> pages.</p>
      
           
      
      
        
          
            @this.ScriptBlock(
              @<script>
                queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
              </script>
            )
          
        
      
    </div>
  </div>
  <div class="aside" role="complementary">

   
    
    
    
      <div data-set="sidenav-container" class="large">
        
        
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
                <a href="/corporate/terms-and-conditions/index" class="heading">
                    <h2 id="sub-menu-heading">Terms & conditions <span class="visually-hidden"> navigation</span></h2>
                </a>
                <ul>
                    
                                <li><div class="link-wrapper"><a href="/corporate/terms-and-conditions/competitions">Competitions</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/corporate/terms-and-conditions/ticketing-and-travel-conditions-of-carriage">Conditions of Carriage</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/corporate/terms-and-conditions/conveyancing-searches">Conveyancing searches</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/corporate/terms-and-conditions/live-bus-departure-information">Live Bus & River Bus arrivals</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/corporate/terms-and-conditions/online-accounts">Online accounts</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/corporate/terms-and-conditions/pay-to-drive-in-london">Pay to drive in London</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/corporate/terms-and-conditions/pay-to-drive-in-london-app">Pay to drive in London app</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/corporate/terms-and-conditions/santander-cycles">Santander Cycles</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/corporate/terms-and-conditions/scrappage-scheme">Scrappage scheme</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/corporate/terms-and-conditions/social-media">Social media</a></div></li>
                            
 
                                <li class="selected"><div class="link-wrapper"><a href="/corporate/terms-and-conditions/stars">STARS</a></div>
                            </li>
 
                                <li><div class="link-wrapper"><a href="/corporate/terms-and-conditions/taxi-delicensing">Taxi delicensing</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/corporate/terms-and-conditions/tfl-call-charges">TfL call charges</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/corporate/terms-and-conditions/tfl-oyster-app">TfL Oyster and contactless app</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/corporate/terms-and-conditions/tfl-pension-fund">TfL Pension Fund</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/corporate/terms-and-conditions/transport-data-service">Transport Data Service </a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/corporate/terms-and-conditions/visitor-oyster-shop">Visitor Oyster shop</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/corporate/terms-and-conditions/webcat">WebCAT</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/corporate/terms-and-conditions/website">Website</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/corporate/terms-and-conditions/dlr-discovery">DLR Discovery</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/corporate/terms-and-conditions/direct-vision-standard-and-safety-permit-for-hgvs">Direct Vision Standard and Safety Permit for HGVs</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/corporate/terms-and-conditions/car-and-motorcycle-scrappage-scheme">ULEZ Car and motorcycle scrappage scheme</a></div></li>
                            
 
                </ul>
            
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
      </div>
    
    <div>
















<div class="advert-tile unsponsored-style google-ads" aria-hidden="true">
  <div class="advert-link">
    <div class="advert-content">
        <div class="medium-large" data-advert="/76889402/non-targeted" data-advert-sizes="300, 250"></div>
        <div class="small" data-advert="/76889402/non-targeted" data-advert-sizes="300, 250"></div>
    </div>
  </div>
</div>
@{
    ViewBag.AmazonSlot = "'amznslots'";
    ViewBag.AmazonAds = "'3199'"; // to add another value, this needs to be ViewBag.AmazonAds = "'3199','xx'";
}
      

 </div>
    
    <div data-set="sidenav-container" class="small-medium"></div>
  </div>
</div>
 
 
        
        
        
            @{ViewBag.Description = "Terms and conditions of use for the STARS TfL website";}
        
            
        


 