
    
  



@{ViewBag.Title = "Taxi delicensing";}
@{ViewBag.Keywords = "TfL";}
@{ViewBag.Url = "/corporate/terms-and-conditions/taxi-delicensing";}
@{ViewBag.Language = "en";}
        <!-- empty placeholder -->
 
        
        
<div class="r">
    <div class="breadcrumb-container" role="navigation">
        <span id="breadcrumb-label" class="visually-hidden">You are here:</span>
        <ol class="breadcrumbs clearfix" aria-labelledby="breadcrumb-label">
            <li class="home">
                <a href="/">
                    <span class="hide-text">Home</span>
                </a>
            </li>
            
                 <li><a href="/corporate/terms-and-conditions/index">Terms & conditions </a></li>
                
            
            
                <li><span class="last-breadcrumb">Taxi delicensing</span></li>
            
        
 
        
 
        </ol>
    </div>
</div>
     
 
<div class="r">
  <div class="headline-container plain">
    <h1>Taxi delicensing</h1>

  </div>
</div>
<div class="main-and-aside r">
  
  <div class="main content-container" role="main">
    
      <div class="article-teaser">
        Please read these terms and conditions carefully. These terms set out the eligibility criteria, your obligations, payment, state aid considerations and other important information.
        
      </div>
    
    
      
      
           
      
<p>1. These terms and conditions apply to the Scheme provided by Transport for London (&quot;TfL&quot;). The terms and conditions are between TfL and the Legal Owner. TfL reserves the right to make changes to these terms and conditions from time to time.</p>

<p>2. The Scheme is part of the Taxi and Private Hire Action Plan launched jointly by the Mayor of London and TfL. The Scheme is open to Taxis that meet the eligibility criteria as set out in in the eligibility criteria section below. It allows the (i) Legal Owner (with permission from the Registered Keeper as applicable); or (ii) the Registered Keeper with permission of the Legal Owner of a Taxi to apply to have their Taxi Delicensed by TfL in return for a Payment from TfL, if the Application is successful. The Scheme will run while funding is in place and Applications are accepted for assessment. The total available funding may increase or decrease at the discretion of TfL. No commitment is made around the duration of the funding term or the total funding available.</p>

<p>3. In these terms and conditions, the following words shall have the meaning as set out below:</p>

<p><strong>Applicant</strong> means either the (i) Legal Owner (with permission from the Registered Keeper as applicable); or (ii) the Registered Keeper with permission of the Legal Owner of a Taxi to apply to have their Taxi Delicensed by TfL in return for a Payment from TfL if the Application is successful;</p>

<p><strong>Application</strong> means the application submitted by the Applicant to TfL to Delicence their vehicle from use as a Taxi in Greater London;</p>

<p><strong>Data Protection Legislation</strong> means the Data Protection Act 2018 and Regulation (EU) 2016/679 the General Data Protection Regulation as amended from time to time;</p>

<p><strong>Delicensing or &quot;Delicence&quot;</strong> is the process by which a Taxi is no longer licensed in Greater London by TfL in exchange for an agreed Payment;</p>

<p><strong>De Minimis Aid </strong>means the ceiling of two hundred thousand euros (&euro;200,000) which We assess as equivalent to c.&pound;170,000 of financial assistance, provided under the De Minimis Aid Regulation (EU) No 1407/2013 to a Legal Owner as further described in Clauses 36-37 and in the De Minimis Disclosure Form (please see Schedule 1 to this Agreement) over a three-year fiscal period;</p>

<p><strong>Delicensing Inspection</strong> is an inspection process of the Taxi and applicable documentation, conducted at a TfL inspection centre for the purpose of assessing eligibility for the Delicensing Scheme;</p>

<p><strong>Fleet Owner</strong> is a business in the United Kingdom owning two or more Taxis;</p>

<p><strong>Inspection Letter</strong> means a letter sent by TfL to the Applicant once TfL has approved an Application setting out the details of the Inspection;</p>

<p><strong>Legal Owner</strong> is the person able to demonstrate ownership of the vehicle by way of proof of purchase i.e. bill of sale or proof the vehicle was given as a gift;</p>

<p><strong>Payment</strong> is made to a Legal Owner by TfL in return for the Legal Owner and / or Registered Keeper's Taxi being Delicensed. A Payment will be made following the successful completion of an Application and Delicensing Inspection. Detail on the payments levels can be found at https://tfl.gov.uk/info-for/taxis-and-private-hire/taxi-delicensing-scheme ;</p>

<p><strong>Related Entities</strong> means any (i) business which the Legal Owner is an owner/shareholder of; and (ii) any group companies of (i); and/or (iii) family members related to the Legal Owner;</p>

<p><strong>Report</strong> is the report issued by TfL to the Legal Owner and / or Registered Keeper and/or authorised third party once a Delicensing Inspection has taken place;</p>

<p><strong>Registered Keeper</strong> is the person named in section five of the Taxi's V5C registration document. The registered keeper is usually the person who is actually using / keeping the Taxi and this is not necessarily the Legal Owner of the Taxi;</p>

<p><strong>Scheme</strong> means the taxi delicensing scheme as further described in clause 2 and detailed in https://tfl.gov.uk/info-for/taxis-and-private-hire/emissions-standards-for-taxis;</p>

<p><strong>Taxi</strong> is a vehicle licensed under section six of the Metropolitan Public Carriage Act 1869;</p>

<p><strong>Taxi Vehicle Licence</strong> is the vehicle taxi licence issued by TfL to enable the Legal Owner and/or Registered Keeper to use the Taxi for the carriage of fare paying passengers for a period of one year;</p>

<p><strong>Taxi Licensing Requirements</strong> is TfL's standard for licensing and re-licensing a vehicle for use as a Taxi in Greater London as per the TfL Condition of Fitness and Inspection Manual.</p>

<p><strong>Working Days</strong> means any day excluding Saturdays, Sunday or public or bank holidays in England;</p>

<p><strong>We</strong> refers to Transport for London (TfL).</p>

<p>Eligibility Criteria</p>

<p>4. One Application is required per Taxi. An application to Delicence multiple Taxis in one Application will be rejected.</p>

<p>5. Once the Application is submitted and the correct signed documentation is received by TfL, the Applicant will receive an Inspection Letter. The Applicant has <strong>14 Working Days from the date of an Inspection Letter to book a Delicensing Inspection. A further 14 Working Days will be permitted to present the Taxi at a TfL authorised test centre for a Delicensing Inspection to be carried out</strong>. The Applicant has a total of 28 Working Days from to the date of the Inspection Letter to delicense their Taxi.</p>

<p>6. There is no cost to the Applicant for the Delicensing Inspection to be carried out. TfL is not liable for any costs associated with the Delicensing Inspection including but not limited to fuel, drivers' wages, any issues that need to be rectified with the taxi and/or paperwork which are discovered during the Delicensing Inspection or the cost to relicense a Taxi with TfL if this is required.</p>

<p>7. If the Applicant's Taxi has not successfully passed the Delicensing Inspection within 28 Working Days from the date of the Inspection Letter, this will result in the withdrawal of the Application without notice by TfL. A new Application will need to be made if the Applicant wishes to be considered for the Scheme. The Applicant's Payment will be based on the new Application and not the previous Application.</p>

<p>8. An Application must be made by either the (i) Legal Owner (with permission from the Registered Keeper as applicable); or (ii) Registered Keeper acting with permission of the Legal Owner of the Taxi. Where the Registered Keeper is not the Legal Owner the Registered Keeper must ensure they have written and signed permission from the Legal Owner before applying to delicense (as set out in the Proof of Permission document) the Taxi and provide the Legal Owner with the Application. TfL may, at its sole discretion, require additional evidence from the Registered Keeper that the Legal Owner has given permission for this Application before processing the Application. TfL may verify any information directly with the Legal Owner using the contact information provided in the Proof of Permission.</p>

<p>9. The Scheme is split into two Payment structures:</p>

<p>9.1 Payment Band 1: the Taxi to be Delicensed must be no more than 13 years old, from its DVLA first date of registration (as stated on the V5C registration document), and have either a Euro three, four or five engine. The Taxi must not be more than 13 years old at the time it passes the Delicensing Inspection; or</p>

<p>9.2 Payment Band 2: the Taxi to be Delicensed must be at least 13 years old and less than 14 years old, from its DVLA first date of registration (as stated on the V5C registration document), and have either a Euro three, four or five engine. The Taxi must not be more than 13 years and 364 days old at the time it passes the Delicensing Inspection.</p>

<p>9.3 The Taxi age is determined with reference to the dates shown at 4(B) and (B1) of the Taxi's V5C registration document. The Taxi euro emissions output is determined with reference to the Taxi's V5C registration document. Subject to clause 18, the Applicant (or authorised third party) acting with permission of the Legal Owner will be required to bring the Taxi's V5C registration document to the Taxi Delicensing Inspection.</p>

<p>10. The Taxi must have a valid Taxi Vehicle Licence, issued by TfL to be eligible to apply for this Scheme. A successful Delicensing Inspection must take place before the Taxi Vehicle Licence expires. It is the responsibility of the Applicant to ensure they present the Taxi for the Delicensing Inspection before the Taxi Vehicle Licence expires. If the Taxi Vehicle Licence expires before the Taxi Delicensing Inspection, the Legal Owner or Registered Keeper (acting with permission of the Legal Owner) will need to relicense the Taxi prior to its Delicensing Inspection. The cost for a new Taxi Vehicle licence is at no cost to TfL.</p>

<p>11. At the time of submitting an Application and presenting the vehicle for a Delicensing Inspection, the Taxi must be roadworthy and have a valid MOT certificate which has been issued no more than six months prior to the Delicensing Inspection and must be provided as part of the documents provided at the Delicensing Inspection.</p>

<p>2. The Taxi must successfully pass the Delicensing Inspection, before the expiry of the Taxi Vehicle Licence in order to be eligible for a Payment.</p>

<p>13. The Applicant's Taxi shall not have more than three consecutive months (90 calendar days), within a rolling 12-month period, without a Taxi Vehicle Licence to be eligible for this Scheme. A longer period will only be considered and accepted at TfL's sole discretion in exceptional circumstances where it arose from circumstances outside of the Applicant's control.</p>

<p>14. The Applicant's Taxi must not have changed ownership six months prior to the date of submitting the Application including transferring ownership between Related Entities. Any shorter period will only be considered in exceptional circumstances at TfL's sole discretion.</p>

<p>15. The information provided by the Applicant in the Application must match up with the licensing records and documents held by TfL. If there are any discrepancies TfL will seek further information as necessary.</p>

<p>16. The Legal Owner must complete Schedule 1 to these Terms and Conditions. The Legal Owner and its Related Entities must not have exceeded in aggregate the De Minimis Aid level, as further set out in Clause 36-37, to be eligible for this Scheme.</p>

<p>17. TfL may request additional information and/or documentation from the Applicant to ensure the Legal Owner meets the eligibility criteria to TfL's satisfaction as set out above. The Applicant shall respond within 5 Working Days of TfL requesting such information.</p>

<p><strong>Delicensing Inspection</strong></p>

<p>18. The Legal Owner may appoint the Registered Keeper or an authorised third party to present the Taxi at the Delicensing Inspection only. The third party must provide sufficient evidence to satisfy TfL that the Registered Keeper or third party has applicable authority to manage the Delicensing Inspection on behalf of the Legal Owner. TfL in its absolute discretion may refuse a third party from undertaking this process if it not satisfied with the evidence provided.</p>

<p>19. The Legal Owner or Registered Keeper (acting with permission of the Legal Owner) or authorised third party must bring to the Delicensing Inspection all required documentation as set out in the Inspection Letter. Failure to provide all documentation will result in the Inspection either being unsuccessful, rescheduled or cancelled. Please note if the Taxi does not successfully pass the Delicensing Inspection within 28 Working Days from the date of the Inspection Letter this will result in the Application being withdrawn by TfL without notice to the Applicant.</p>

<p>20. As part of the Delicensing Inspection, TfL will retain the Taxi Vehicle Licence. The Legal Owner or Registered Keeper or authorised third party will surrender the Taxi Vehicle Licence on the day of the Delicensing Inspection. For the avoidance of doubt, regardless of the outcome of the Delicensing Inspection, the delicensed Taxi shall no longer operate in London and the delicensed Taxi shall not be used for the carriage of fare paying passengers from the date of the Delicensing Inspection.</p>

<p>21. Following the Delicensing Inspection, the Applicant or authorised third party will be issued with a Report informing them whether the Taxi has passed or failed the Inspection.</p>

<p>22. Once a Taxi successfully passes the Delicensing Inspection the Taxi shall not be used for the carriage of fare paying passengers in London nor be relicensed again by TfL from the date of the Delicensing Inspection.</p>

<p>23. Once the Taxi has been Delicensed or/and Taxi Vehicle Licence removed following a Delicensing Inspection, the delicensed Taxi will no longer be exempt from the London Congestion Charge, Ultra Low Emission Zone and any other applicable road user charges.</p>

<p><strong>Payment</strong></p>

<p>24. A Legal Owner's Taxi that meets the eligibility criteria as set out above in the eligibility criteria section above and passes the Delicensing Inspection is eligible for a Payment. The Applicant should not dispose of their delicensed Taxi until Payment has been received by the Applicant.</p>

<p>25. Applications will be allocated a temporary Application number based on the time and date stamp of the email received from the Applicant to TfL. A final Application number will only be assigned following the successful completion of the Application, Delicensing Inspection and We have verified all information has been provided following the Delicensing Inspection. A final Application number will determine the Payment that may be paid.</p>

<p>26. The Payment amount is determined by; (i) the Taxi age at the time of a successful Delicensing Inspection as set out in Clause 8; and (ii) the time and date the Application was received by TfL in relation to other Applications. The agreed level of payments can be found on the TfL website &#45; https://tfl.gov.uk/info-for/taxis-and-private-hire/taxi-delicensing-scheme. The Payment amounts are subject to change at TfL's sole discretion and without prior notice.</p>

<p>27. If a Taxi passes the Delicensing Inspection and the Legal Owner or Registered Keeper (acting with permission of the Legal Owner or authorised third party) has been issued with a Report confirming such outcome, the Payment amount will be confirmed by TfL in writing to the Legal Owner of the Taxi. Payment will only be made to the Legal Owner of the Taxi and to a UK bank account.</p>

<p>28. TfL will request bank details of a UK bank account from the Legal Owner and the Payment will be made by BACS within 21 Working Days of receiving bank details from the Legal Owner.</p>

<p><strong>Legal Owner's Obligations</strong></p>

<p>29. The Legal Owner warrants: a) they have full capacity and authority to enter into this Agreement with TfL and appropriate authority from the Registered Keeper as applicable; b) all information and documentation provided as part of the Application and Delicensing Inspection is accurate. The Applicant will inform TfL immediately if any part of the information provided is no longer correct; and c) that the Legal Owner or Registered Keeper (acting with permission of the Legal Owner) will not attempt to sell their Taxi after receiving a Payment if there is any outstanding finances or other charges on the Taxi. Restrictions following a successful Delicensing Application</p>

<p>30. Once a Payment has been paid to the Legal Owner in accordance with these terms and conditions the Application cannot be withdrawn and the following shall apply: a) the Taxi shall remain permanently delicensed in Greater London; b) the delicensed Taxi cannot be relicensed in Greater London; c) the delicensed Taxi is not permitted for use in Greater London as a Taxi; and d) delicensing of the Taxi cannot be reversed.</p>

<p>31. Should Payments levels made as part of the delicensing Scheme change, TfL will not compensate those Legal Owners already in receipt of a Payment or who have a written confirmation of a confirmed Payment. All Payments made or offered are final.</p>

<p><strong>Termination of the Application by TfL</strong></p>

<p>32. TfL, in its absolute discretion, can decline an Application if the Applicant does not; a) complete and submit the Proof of Permission, Terms and Conditions and complete the State Aid De Minimis Disclosure Form within 7 Working Days from receiving the Taxi Delicensing Scheme - Second Stage of Application Process letter; b) carry out a Delicensing Inspection within 28 Working Days from receiving the Inspection Letter; c) provide sufficient information or additional information as required by TfL within 5 Working Days from TfL requesting such information; d) attend the Delicensing Inspection on the time and date as referred to in the Inspection Letter (or alternative date as agreed); and/or e) act in accordance with these terms and conditions.</p>

<p>33. Where an Application is found to be in breach of these Terms and Conditions including submitting fraudulent or inaccurate applications, TfL shall seek recovery of the Payment paid to the Legal Owner and may bring legal proceedings the Legal Owner and or Registered Keeper and revoke the Legal Owner and / or Registered Keeper's Taxi Licence.</p>

<p><strong>Liability</strong></p>

<p>34. TfL is not liable and not responsible for any losses, costs, claims, damages, demands, expenses, liabilities, proceeding and judgments incurred by a Legal Owner, Registered Keeper or third party as a result of participating in this Scheme including but not limited to submitting the Application, attending the Delicensing Inspection and non-compliance with the rules on State aid.</p>

<p>35. TfL is not responsible or liable for any costs or action taken by a Legal Owner or Registered Keeper in relation to the sale, lease, financial arrangement, future use of a Taxi to which this Scheme applies including disposal, crushing or dismantling of a Taxi.</p>

<p><strong>State Aid</strong></p>

<p>36. In accepting the Payment, the Legal Owner shall comply with all applicable European Union rules on State aid. The Legal Owner shall fully cooperate with TfL in utilising the applicable approvals and procedures in relation to State aid rules.</p>

<p>37. If at any time the Applicant is found to have provided inaccurate or incomplete information in Schedule 1, TfL may either (i) decline to make a Payment; or (ii) recover any part or whole of a Payment from the Legal Owner.</p>

<p><strong>Data Protection</strong></p>

<p>38. TfL, its subsidiaries and service providers will comply with all its obligations under the Data Protection Legislation and will only process the Legal Owner and / or Registered Keeper's personal data (as defined in the Data Protection Legislation) for the purposes of assessing your eligibility for the Scheme and to contact you regarding your Application. Information the Applicant supplies about Related Entities will only be processed for the purpose of complying with TfL's legal obligations in relation to State aid rules. Further information can be found on how TfL processes personal data is available at https://tfl.gov.uk/corporate/privacy-and-cookies/taxi-and-private-hire .</p>

<p><strong>Governing Law</strong></p>

<p>39. This Agreement is governed by the laws of England. The Courts of England have exclusive jurisdiction to settle any dispute which may arise out of or in connection with this Agreement.</p>



 
      
        
          
        
      
    
  </div>
  <div class="aside" role="complementary">

   
    
    
    
      <div data-set="sidenav-container" class="large">
        
        
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
                <a href="/corporate/terms-and-conditions/index" class="heading">
                    <h2 id="sub-menu-heading">Terms & conditions <span class="visually-hidden"> navigation</span></h2>
                </a>
                <ul>
                    
                                <li><div class="link-wrapper"><a href="/corporate/terms-and-conditions/competitions">Competitions</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/corporate/terms-and-conditions/ticketing-and-travel-conditions-of-carriage">Conditions of Carriage</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/corporate/terms-and-conditions/conveyancing-searches">Conveyancing searches</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/corporate/terms-and-conditions/live-bus-departure-information">Live Bus & River Bus arrivals</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/corporate/terms-and-conditions/online-accounts">Online accounts</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/corporate/terms-and-conditions/pay-to-drive-in-london">Pay to drive in London</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/corporate/terms-and-conditions/pay-to-drive-in-london-app">Pay to drive in London app</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/corporate/terms-and-conditions/santander-cycles">Santander Cycles</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/corporate/terms-and-conditions/scrappage-scheme">Scrappage scheme</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/corporate/terms-and-conditions/social-media">Social media</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/corporate/terms-and-conditions/stars">STARS</a></div></li>
                            
 
                                <li class="selected"><div class="link-wrapper"><a href="/corporate/terms-and-conditions/taxi-delicensing">Taxi delicensing</a></div>
                            </li>
 
                                <li><div class="link-wrapper"><a href="/corporate/terms-and-conditions/tfl-call-charges">TfL call charges</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/corporate/terms-and-conditions/tfl-oyster-app">TfL Oyster and contactless app</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/corporate/terms-and-conditions/tfl-pension-fund">TfL Pension Fund</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/corporate/terms-and-conditions/transport-data-service">Transport Data Service </a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/corporate/terms-and-conditions/visitor-oyster-shop">Visitor Oyster shop</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/corporate/terms-and-conditions/webcat">WebCAT</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/corporate/terms-and-conditions/website">Website</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/corporate/terms-and-conditions/dlr-discovery">DLR Discovery</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/corporate/terms-and-conditions/direct-vision-standard-and-safety-permit-for-hgvs">Direct Vision Standard and Safety Permit for HGVs</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/corporate/terms-and-conditions/car-and-motorcycle-scrappage-scheme">ULEZ Car and motorcycle scrappage scheme</a></div></li>
                            
 
                </ul>
            
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
      </div>
    
    <div>
















<div class="advert-tile unsponsored-style google-ads" aria-hidden="true">
  <div class="advert-link">
    <div class="advert-content">
        <div class="medium-large" data-advert="/76889402/non-targeted" data-advert-sizes="300, 250"></div>
        <div class="small" data-advert="/76889402/non-targeted" data-advert-sizes="300, 250"></div>
    </div>
  </div>
</div>
@{
    ViewBag.AmazonSlot = "'amznslots'";
    ViewBag.AmazonAds = "'3199'"; // to add another value, this needs to be ViewBag.AmazonAds = "'3199','xx'";
}
      

 </div>
    
    <div data-set="sidenav-container" class="small-medium"></div>
  </div>
</div>
 
 
        
        
        
            @{ViewBag.Description = "Terms and conditions for applicatoins to the ULEZ taxi delicensing scheme";}
        
            
        


 