
    
  



@{ViewBag.Title = "TfL Oyster and contactless app";}
@{ViewBag.Keywords = "TfL";}
@{ViewBag.Url = "/corporate/terms-and-conditions/tfl-oyster-app";}
@{ViewBag.Language = "en";}
        <!-- empty placeholder -->
 
        
        
<div class="r">
    <div class="breadcrumb-container" role="navigation">
        <span id="breadcrumb-label" class="visually-hidden">You are here:</span>
        <ol class="breadcrumbs clearfix" aria-labelledby="breadcrumb-label">
            <li class="home">
                <a href="/">
                    <span class="hide-text">Home</span>
                </a>
            </li>
            
                 <li><a href="/corporate/terms-and-conditions/index">Terms & conditions </a></li>
                
            
            
                <li><span class="last-breadcrumb">TfL Oyster and contactless app</span></li>
            
        
 
        
 
        </ol>
    </div>
</div>
     
 
<div class="r">
  <div class="headline-container plain">
    <h1>TfL Oyster and contactless app</h1>

  </div>
</div>
<div class="main-and-aside r">
  
  <div class="main content-container" role="main">
    
      <div class="article-teaser">
        Terms and conditions for the TfL Oyster and contactless app. Download information: Version 1.3
        
      </div>
    
    <div class="on-this-page">
      <p>If you have an enquiry, or experience a problem using the app, please contact us:</p>
<ul>
    <li><a href="/help-and-contact/contact-us-about-the-tfl-oyster-app">Complete an online form</a></li>
    <li>Call TfL customer services on 0343 222 1115 (<a href="/corporate/terms-and-conditions/tfl-call-charges">TfL call charges</a>)</li>
    <li>Write to: Customer Services, 4th Floor, 14 Pier Walk, London, SE10 0ES</li>
</ul>
<h2>App ownership and responsibilities</h2>
<ol>
    <li>These terms and conditions apply to your registration to, and/or use of, the Transport for London (TfL) Oyster and contactless app (the app).</li>
    <li>We will make reasonable efforts to provide the app services, however we are not liable for any failure to provide these services, in part or in full. This includes any suspension of service because of maintenance or upgrades to our or any third party systems.</li>
    <li>The app is provided 'as is' with no presentation, guarantee or agreement of any kind of its functionality.</li>
    <li>iPhone, iPad, iPod Touch and Apple are trademarks of Apple Inc., registered in the United States of America and other countries. App Store is the service mark of Apple Inc.</li>
    <li>Android is the trademark of Google Inc.</li>
    <li>Neither Apple Inc. nor Google Inc. is under any obligation to provide any maintenance and support services for the app.</li>
    <li>Apple Inc., Google Inc., any mobile phone network provider or any intermediary making the app available for download has any responsibilities or obligations to you in relation to the app.</li>
    <li>We may use third parties to provide the app on our behalf.</li>
</ol>
<h2>User Terms and Conditions</h2>
<h3>Section 1- Technical information</h3>
<p>The app can:</p>
<ul>
    <li>Identify the device ID &amp; read the device status</li>
    <li>Send notifications by binding to a notification listener service and receive data from the Internet</li>
    <li>View network connections</li>
    <li>Read Google service configuration</li>
</ul>
<h3>Section 2 - Agreeing to use the app</h3>
<ol>
    <li>'We', 'us' and 'our' refer to TfL.</li>
    <li>If you install or use the app, you agree to these terms and conditions, and those for the contactless and Oyster online account.</li>
</ol>
<h3>Section 3 - Using the app</h3>
<ol>
    <li>The app is optimised to work with these operating versions:<br />
    a) Apple: iOS v 8.3 or later<br />
    b) Android: v5.0.1 or later<br />
    </li>
    <li>You must have a contactless and Oyster online account to use the app.</li>
    <li>The app will only work with contactless cards and/or Oyster cards; not Oyster photocards or other smartcards.</li>
    <li>You can only use the app if your Oyster card shows a 'D' symbol in the bottom left of the reverse side, as shown in the below image.</li>
</ol>
      
           
      <div class="clearfix">
    <div class="image-box right-float">
    
        
        
        <img src="/cdn/static/cms/images/oyster-first-gen_rdax_400x250.jpg" alt="First generation Oyster card - back view" />
        
        
        
    </div>
    <p>Compatible Oyster card </p>
 </div>
 <div>

5. When you first sign into the app you will be asked if you'll allow notifications. These alerts, sounds and icon badges will keep you informed about your Oyster and/or contactless card(s). Notifications include:
<ul>
    <li>Low pay as you go balance warning</li>
    <li>Advice that your Travelcard will expire soon</li>
</ul>
<p>6. Notifications can be delivered at any time, even if your device is locked or in sleep mode.<br />
7. You will need to set how often you sign in to the app. You can choose from once a day, every seven days or every 30 days.<br />
8. Once an Oyster card has been stopped it won't show in the app.<br />
9. If you want to remove a payment card from the app, you must do so via your TfL online account.</p>
<h3>Section 4 - Responsibilities of customer</h3>
<ol>
    <li>You must keep your contact details up to date so we can contact you when we need to.</li>
    <li>You must keep your contactless and Oyster online account details secure and take all reasonable precautions to prevent unauthorised or fraudulent use of them.</li>
    <li>In using the app, you agree to accept responsibility for all of your Oyster card and/or contactless card activities that occur whilst using the app or Oyster online account.</li>
    <li>You must let us know immediately if you have any reason to believe that your account details have become known to someone else, or if they are being, or are likely to be, used in an unauthorised manner.</li>
    <li>When you sign into the app your account details will be sent in a secure manner to your contactless and Oyster online account. No sign in details will be stored on your mobile device.</li>
    <li>You must not copy, reproduce, alter, modify or adapt any part of the app.</li>
    <li>If you change your mobile device or dispose of it, we suggest you delete the app first.</li>
    <li>You must not install or use the app on a jail-broken or rooted device.</li>
</ol>
<h3>Section 5 - Suspension from using the app</h3>
<ol>
    <li>We may, at any time, suspend your use of the app if we feel we have reasonable grounds to do so. This will usually be because we have concerns which relate to security or the suspected unauthorised or fraudulent use of the app.</li>
    <li>We may also suspend your use of the app because of national or European legal obligations that apply to us.</li>
    <li>If we have suspended your use of the app you might not be able to use it in the future. Please contact us on 0343 222 1115.</li>
</ol>
<h3>Section 6 - Ending your agreement with us</h3>
<ol>
    <li>You can end this agreement at any time by deleting the app from your mobile device.</li>
    <li>We may end your agreement with us for reasons including but not limited to; if we know or suspect that:</li>
</ol>
<ul>
    <li>You have broken any of these or the contactless and Oyster online terms and conditions</li>
    <li>You are acting fraudulently when using the account</li>
    <li>You have been abusive to any of our staff or agents when discussing the app or your contactless and Oyster online account with us</li>
    <li>There has been suspicious activity on your account</li>
    <li>The app has been withdrawn by Apple Inc. or Google Inc. or we are stopping support for the app on your mobile device or the operating system it runs on</li>
</ul>
<p>3. Once your agreement with us ends, you must uninstall the app from your mobile device(s). Note that all rights granted to you in respect of the app will immediately end.</p>
<h3>Section 7 - Using your data</h3>
<ol>
    <li>We don't store your contact details on your mobile device. The app will access them securely when required.</li>
    <li>Your Oyster data (the pay as you go balance, Oyster card number and details of any season tickets) and/or contactless card data (card status, last four digits, expiry date) is encrypted and stored locally on your mobile device. This allows summary information to be shown when you sign in even when no internet connection is available.</li>
    <li>Completed journey data is encrypted and stored on your device. All such data is removed after 56 days. All data transferred between the mobile app and TfL servers is secured in transit.</li>
    <li>Your payment card number is never stored on your mobile device or within TfL back office systems. TfL stores a reference to your payment card, in compliance with the Payment Card Industry Data Security Standard, so you don't have to re-enter your card details every time you top up or buy a ticket.</li>
    <li>All data stored by TfL relating to your use of the app or Oyster online account is stored within the European Economic Area (EEA) only.</li>
    <li>The app uses technologies including web beacons and software development kits which are similar to cookies. TfL may allow third parties to provide analytics services using these technologies. You can unsubscribe from these at <a href="https://www.appsflyer.com/optout">https://www.appsflyer.com/optout</a>. </li>
    <li>For further information on how TfL processes your personal data please visit the <a href="/corporate/privacy-and-cookies/oyster-card">Privacy &amp; cookies webpage</a>. </li>
</ol>
</div>
 
      
        
          
            @this.ScriptBlock(
              @<script>
                queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
              </script>
            )
          
        
      
    </div>
  </div>
  <div class="aside" role="complementary">

   
    
    
    
    <div>
















<div class="advert-tile unsponsored-style google-ads" aria-hidden="true">
  <div class="advert-link">
    <div class="advert-content">
        <div class="medium-large" data-advert="/76889402/non-targeted" data-advert-sizes="300, 250"></div>
        <div class="small" data-advert="/76889402/non-targeted" data-advert-sizes="300, 250"></div>
    </div>
  </div>
</div>
@{
    ViewBag.AmazonSlot = "'amznslots'";
    ViewBag.AmazonAds = "'3199'"; // to add another value, this needs to be ViewBag.AmazonAds = "'3199','xx'";
}
      

 </div>
    
    <div data-set="sidenav-container" class="small-medium"></div>
  </div>
</div>
 
 
        
        
        
            @{ViewBag.Description = "Terms and conditions for the TfL Oyster app";}
        
            
        


 