
    
  



@{ViewBag.Title = "TfL Pension Fund";}
@{ViewBag.Keywords = "TfL";}
@{ViewBag.Url = "/corporate/terms-and-conditions/tfl-pension-fund";}
@{ViewBag.Language = "en";}
        <!-- empty placeholder -->
 
        
        
<div class="r">
    <div class="breadcrumb-container" role="navigation">
        <span id="breadcrumb-label" class="visually-hidden">You are here:</span>
        <ol class="breadcrumbs clearfix" aria-labelledby="breadcrumb-label">
            <li class="home">
                <a href="/">
                    <span class="hide-text">Home</span>
                </a>
            </li>
            
                 <li><a href="/corporate/terms-and-conditions/index">Terms & conditions </a></li>
                
            
            
                <li><span class="last-breadcrumb">TfL Pension Fund</span></li>
            
        
 
        
 
        </ol>
    </div>
</div>
     
 
<div class="r">
  <div class="headline-container plain">
    <h1>TfL Pension Fund</h1>

  </div>
</div>
<div class="main-and-aside r">
  
  <div class="main content-container" role="main">
    
      <div class="article-teaser">
        The TfL Pension Fund website is provided for members, prospective members and beneficiaries of the TfL Pension Fund (referred to as the Fund) by TfL and the Trustee of the Fund.
        
      </div>
    
    <div class="on-this-page">
      <p>The Fund is governed by the Trust Deed and Rules of the Fund. A copy is available online or from:
</p>
<p>TfL Pension Fund<br />
Wing Over Station<br />
55 Broadway<br />
London<br />
SW1H 0BD</p>
<p>TfL and the Trustee of the Fund may at any time revise these Terms and Conditions without notice. It is up to the user to review regularly the Terms and Conditions in case there are any changes. Continued use of the TfL Pension Fund website after a change has been made is to be treated as acceptance of that change by the user.</p>
<h2>Disclaimer</h2>
<p>While TfL and the Trustee of the Fund try hard to ensure that this website is functioning correctly and is as accurate as possible, this will not always be achievable and therefore the following disclaimer applies.</p>
<p>The website is provided 'as is' without any representation or endorsement made and without warranty of any kind whether express or implied, including but not limited to the implied warranties of satisfactory quality, fitness for a particular purpose, compatibility, non-infringement, accuracy and security. TfL and the Trustee of the Fund do not guarantee or represent that the content and/or facilities available or accessible via the website will always be accurate, complete or current, or that access to the website will be uninterrupted.</p>
<p>TfL and the Trustee of the Fund expressly disclaim all liability for any direct, indirect or consequential loss or damage occasioned from the use or inability to use the website, whether directly or indirectly resulting from inaccuracies, defects, viruses, errors - whether typographical or otherwise, omissions, out of date information or otherwise.</p>
<p>Accessing the website and downloading material from it is done entirely at the user's own risk. The user, and neither TfL nor the Trustee of the Fund, will be entirely responsible for any resulting damage to software or computer systems and/or any resulting loss of data even if TfL and the Trustee of the Fund have been advised of the possibility of such damage.</p>
<h2>Website content</h2>
<p>Every effort has been made to keep this website up to date and correct, and to describe the provisions of the Fund accurately as they affect members and beneficiaries. However, if there are inconsistencies between the information on this website and the Trust Deed and Rules, the Trust Deed and Rules will prevail.</p>
<p>While we have provided links to other sites for your interest and convenience we have no responsibility for their content. Such links are supplied solely for the convenience of users. TfL and the Trustee of the Fund are not responsible for the contents or reliability of the linked websites and do not necessarily endorse the views expressed within them or the organisation or persons providing them in any way. TfL and the Trustee of the Fund do not guarantee that these links will work all of the time and we have no control over the availability of the linked pages.</p>
<h2>Member Self Service</h2>
<p>If you are eligible and register to use the Member Self Service facility, you will be issued with a username and password solely for your own use of the service. TfL and the Trustee of the Fund shall be entitled to assume that any person using a password is the person to whom the password was issued.</p>
<p>At its sole discretion TfL and the Trustee of the Fund may bar the use of your password from time to time due to security or other concerns or for general administration purposes. TfL and the Trustee of the Fund will inform you as soon as reasonably possible of such action. You may then request a new password following the procedures advised by TfL and the Trustee of the Fund.</p>
<p>TfL and the Trustee of the Fund reserve the right to change your password at any time and without giving reasons. TfL and the Trustee of the Fund will inform you as soon as reasonably practicable of any such change.</p>
<p>You must keep your password confidential and shall not permit any other person to use your password. If you become aware or suspect that another person knows your password or is using your password you must change your password immediately and notify TfL and the Trustee of the Fund.</p>
<p>TfL and the Trustee of the Fund reserve the right to introduce other security measures without notice, to withdraw the availability of the service to any individual and do anything else that is necessary to preserve the security of the information.</p>
<p>If you copy or download any of the information, you will assume responsibility for the security of any personal data contained in it.</p>
<p>Your right to use the service will terminate automatically if you cease to hold benefits under the Fund.</p>
<h2>Data protection</h2>
<p>Unless you use the email response forms or Member Self Service, we do not collect any personal information from you through this website. We store information on email response forms and Member Self Service under the normal data protection procedures used for all personal information.</p>
<p>The contents of this website are protected by UK and international copyright laws.</p>
<h2>Privacy notice</h2>
<p>Who we are<br />
TfL Trustee Company Limited is the trustee (&quot;the Trustee&quot;) of the TfL Pension Fund (&quot;the Fund&quot;).<br />
As the Trustee of the Fund, we hold certain personal information (known as &quot;personal data&quot;) about members and, where applicable, their dependants and beneficiaries.  Most of the information held about you and processed by the Trustee in running the Fund will be personal data.</p>
<p>For legal purposes, the Trustee is known as the &quot;data controller&quot;, as we decide the purposes for and the means by which the personal data we hold is processed.</p>
<h3>What information we collect about you</h3>
Depending on the circumstances and the stage of your membership, we may hold some or all of the following information about you:
<ul>
    <li>your name and date of birth</li>
    <li>your address</li>
    <li>your national insurance number</li>
    <li>details of your bank account (to pay benefits)</li>
    <li>details about your dependants and/or beneficiaries</li>
    <li>medical and other details about your health</li>
</ul>
<h3>How we use that information</h3>
<p>
The Trustee has a legitimate interest in holding and processing the above information about you as it is needed for us to properly administer the Fund and to calculate and pay benefits.  We also keep the above information in order to allow us to comply with our obligations towards members under the Fund governing documents, as well as under relevant legislation.</p>
<p>Personal data relating to the Fund is held on paper and on computer systems.  As the &quot;data controller&quot;, the Trustee must process this information fairly and lawfully.</p>
<p>As part of running the Fund, we may also need to hold and process particularly sensitive information about you and/or your dependants and beneficiaries (known as &quot;sensitive personal data&quot;).  Under the legislation, details relating to health, racial or ethnic origin, religious or other similar beliefs, sexual orientation and political affiliations are regarded as &quot;sensitive personal data&quot;.  Except where the legislation allows it, this information cannot be processed or passed to a third party without your explicit consent.</p>
<h3>Who we share it with</h3>
<p>We are not allowed to disclose personal data about you to other parties except:</p>
<ul>
    <li>when required for contractual or legal reasons or other specifically identified purposes; or</li>
    <li>where you have given your consent</li>
</ul>
<p>
However, as the Trustee needs help from various advisers to properly administer the Fund, we share personal data with the following:</p>
<ul>
    <li>your current, past or future employer</li>
    <li>the Trustee's professional advisers, including the Fund actuary, auditor, medical advisers, investment adviser and lawyers</li>
    <li>the third parties who are responsible for the day-to-day administration of the Fund on behalf of the Trustee (including the Fund Office)</li>
    <li>HM Revenue &amp; Customs and other statutory bodies (such as the Pensions Ombudsman and the Pensions Regulator) &#45; the Trustee can be fined and subject to other action if it fails to provide certain information to these authorities</li>
    <li>the advisers and printers who help us prepare various communications we send to you, such as the annual benefit statement</li>
    <li>our appointed insurance company or companies for the purposes of life insurance and additional voluntary contributions</li>
    <li>depending upon how we pay pensions, the personal data we have to supply in order to effect a BACS transfer (the Bankers' Automated Clearing Service) or CHAPS (the Clearing House Automated Payment System in the UK and/or a payment via Western Union the administrators' banking providers when pensions are being paid overseas</li>
    <li>mortality tracing agencies</li>
</ul>
<h2>How long we keep personal data for</h2>
<p>
We must keep all personal data safe and only hold it for as long as necessary.  To meet the requirements of both UK tax and pensions law, we must keep certain personal data for a minimum of 6 years.  But, given the nature of pension schemes, the Trustee may be required to keep some of your personal data for the rest of your life.</p>
<h3>Your rights</h3>
<ul>
    <li>Right of Access &#45; you have the right to see personal data that is held about you and a right to have a copy provided to you, or someone else on your behalf, in a machine readable (namely, digital) format</li>
    <li>Right to Rectification &#45; if at any point you believe that the personal data we hold about you is inaccurate/wrong, you can ask to have it corrected</li>
    <li>Right to Restrict processing &#45; you can require the Trustee to restrict the processing of your personal data in certain circumstances, for example, whilst a complaint about its accuracy is being resolved</li>
    <li>Right to object to processing &#45; as we are relying on legitimate interests as a reason for processing, you can object to your personal data being processed, although the Trustee can override this objection in certain circumstances. <br />
    Withdrawing consent &#45; where you have given us your consent to processing your personal data, you can withdraw that consent at any time by notifying us (see &quot;Who to contact&quot; below). However, withdrawing your consent will not affect the processing of any personal data which took place beforehand and it may be possible for the Trustee to continue processing your personal data where this is justified.</li>
    <li>Right to be forgotten &#45; you can request that your personal data is deleted altogether, although the Trustee can override this request in certain circumstances.</li>
</ul>
<p>You should be aware that taking any of the above steps could impact on the payment of your benefits, your participation in the Fund, and/or our ability to answer questions relating to your benefits.</p>
<p>The Trustee may charge a small fee to cover the administration costs involved in providing you with a copy of your personal data.
</p>
<h3>Who to contact about your personal data</h3>
<p>If you wish to:</p>
<ul>
    <li>see your personal data or to exercise any of the rights mentioned above</li>
    <li>request a hard copy of the notice</li>
    <li>make a complaint about how we have handled your personal data</li>
</ul>
<p>please contact the Head of Pensions at 4th Floor, Wing over Station, 55 Broadway, London SW1H 0BD.<br />
</p>
<h3>Making a complaint to the Information Commissioner's Office</h3>
<p>
If you are not satisfied with our response to any query you raise with us, or you believe we are processing your personal data in a way which is inconsistent with the law, you can complain to the Information Commissioner's Office whose helpline number is: 0303 123 1113.
</p>
<h3>Updates to this notice</h3>
<p>This notice is the latest version as at 31 March 2018. This notice will be updated from time to time and you can see the current version at any time on the Fund website at www.tfl.gov.uk/pensions . Alternatively, if you would prefer to receive a hard copy of the notice, please let us know (see &quot;Who to contact&quot; above).</p>
<h3>Scheme Actuary</h3>
<p>
This Scheme Actuary has a separate obligation to provide information to you about how your personal information is used in the provision of actuarial services &#45; you can see this at <a href="http://www.willistowerswatson.com/personal-data">www.willistowerswatson.com/personal-data</a></p>
<h2>Protecting your information</h2>
<p>We use up to date industry procedures to protect your personal information. We also protect the security of your data during transmission using Secure Sockets Layer (SSL) encryption software.</p>
<p>We have appropriate security measures in place in our physical facilities to protect against the loss, misuse or alteration of information that we have collected from you via our websites.</p>
<p>The internet is not a secure medium of communication. TfL and the Trustee of the Fund cannot guarantee the security of any information you input on this website or send to us on the internet.</p>
<p>TfL and the Trustee of the Fund are not, and will not be, responsible for any damages you or others may suffer as a result of the loss of confidentiality of any such information.</p>
      
           
      
      
        
          
            @this.ScriptBlock(
              @<script>
                queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
              </script>
            )
          
        
      
    </div>
  </div>
  <div class="aside" role="complementary">

   
    
    
    
      <div data-set="sidenav-container" class="large">
        
        
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
                <a href="/corporate/terms-and-conditions/index" class="heading">
                    <h2 id="sub-menu-heading">Terms & conditions <span class="visually-hidden"> navigation</span></h2>
                </a>
                <ul>
                    
                                <li><div class="link-wrapper"><a href="/corporate/terms-and-conditions/competitions">Competitions</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/corporate/terms-and-conditions/ticketing-and-travel-conditions-of-carriage">Conditions of Carriage</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/corporate/terms-and-conditions/conveyancing-searches">Conveyancing searches</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/corporate/terms-and-conditions/live-bus-departure-information">Live Bus & River Bus arrivals</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/corporate/terms-and-conditions/online-accounts">Online accounts</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/corporate/terms-and-conditions/pay-to-drive-in-london">Pay to drive in London</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/corporate/terms-and-conditions/pay-to-drive-in-london-app">Pay to drive in London app</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/corporate/terms-and-conditions/santander-cycles">Santander Cycles</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/corporate/terms-and-conditions/scrappage-scheme">Scrappage scheme</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/corporate/terms-and-conditions/social-media">Social media</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/corporate/terms-and-conditions/stars">STARS</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/corporate/terms-and-conditions/taxi-delicensing">Taxi delicensing</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/corporate/terms-and-conditions/tfl-call-charges">TfL call charges</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/corporate/terms-and-conditions/tfl-oyster-app">TfL Oyster and contactless app</a></div></li>
                            
 
                                <li class="selected"><div class="link-wrapper"><a href="/corporate/terms-and-conditions/tfl-pension-fund">TfL Pension Fund</a></div>
                            </li>
 
                                <li><div class="link-wrapper"><a href="/corporate/terms-and-conditions/transport-data-service">Transport Data Service </a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/corporate/terms-and-conditions/visitor-oyster-shop">Visitor Oyster shop</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/corporate/terms-and-conditions/webcat">WebCAT</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/corporate/terms-and-conditions/website">Website</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/corporate/terms-and-conditions/dlr-discovery">DLR Discovery</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/corporate/terms-and-conditions/direct-vision-standard-and-safety-permit-for-hgvs">Direct Vision Standard and Safety Permit for HGVs</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/corporate/terms-and-conditions/car-and-motorcycle-scrappage-scheme">ULEZ Car and motorcycle scrappage scheme</a></div></li>
                            
 
                </ul>
            
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
      </div>
    
    <div>
















<div class="advert-tile unsponsored-style google-ads" aria-hidden="true">
  <div class="advert-link">
    <div class="advert-content">
        <div class="medium-large" data-advert="/76889402/non-targeted" data-advert-sizes="300, 250"></div>
        <div class="small" data-advert="/76889402/non-targeted" data-advert-sizes="300, 250"></div>
    </div>
  </div>
</div>
@{
    ViewBag.AmazonSlot = "'amznslots'";
    ViewBag.AmazonAds = "'3199'"; // to add another value, this needs to be ViewBag.AmazonAds = "'3199','xx'";
}
      

 </div>
    
    <div data-set="sidenav-container" class="small-medium"></div>
  </div>
</div>
 
 
        
        
        
            @{ViewBag.Description = "Terms and conditions for the TfL Pension Fund website";}
        
            
        


 