
    
  



@{ViewBag.Title = "Transport Data Service ";}
@{ViewBag.Keywords = "TfL";}
@{ViewBag.Url = "/corporate/terms-and-conditions/transport-data-service";}
@{ViewBag.Language = "en";}
        <!-- empty placeholder -->
 
        
        
<div class="r">
    <div class="breadcrumb-container" role="navigation">
        <span id="breadcrumb-label" class="visually-hidden">You are here:</span>
        <ol class="breadcrumbs clearfix" aria-labelledby="breadcrumb-label">
            <li class="home">
                <a href="/">
                    <span class="hide-text">Home</span>
                </a>
            </li>
            
                 <li><a href="/corporate/terms-and-conditions/index">Terms & conditions </a></li>
                
            
            
                <li><span class="last-breadcrumb">Transport Data Service </span></li>
            
        
 
        
 
        </ol>
    </div>
</div>
     
 
<div class="r">
  <div class="headline-container plain">
    <h1>Transport Data Service </h1>

  </div>
</div>
<div class="main-and-aside r">
  
  <div class="main content-container" role="main">
    
      <div class="article-teaser">
        These terms and conditions apply to TfL's free Transport Data Service. 
        
      </div>
    
    <div class="on-this-page">
      <p>These licence terms and conditions apply to TfL's free transport data service and are based on version 2.0 of the Open Government Licence with specific amendments for Transport for London (the &quot;Licence&quot;).&nbsp; TfL may at any time revise this Licence without notice. It is up to you (&quot;You&quot;) to regularly review the Licence, which will be available on this website, in case there are any changes. Your continued use of the transport data feeds You have opted to receive (&quot;Information&quot;) after a change has been made to the Licence will be treated as Your acceptance of that change.</p>

<h2>Using Information under this Licence</h2>

<p>TfL grants You a worldwide, royalty-free, perpetual, non-exclusive Licence to use the Information subject to the conditions below (as varied from time to time).</p>

<p>This Licence does not affect Your freedom under fair dealing or fair use or any other copyright or database right exceptions and limitations.</p>

<p>This Licence shall apply from the date of registration and shall continue for the period the Information is provided to You or You breach the Licence. &nbsp;</p>

<h2>Rights</h2>

<p>You are free to:</p>

<ul>
	<li>Copy, publish, distribute and transmit the Information</li>
	<li>Adapt the Information and</li>
	<li>Exploit the Information commercially and non-commercially for example, by combining it with other Information, or by including it in Your own product or application</li>
</ul>

<h2>Requirements</h2>

<p>You must, where You do any of the above:</p>

<ul>
	<li>Acknowledge TfL as the source of the Information by including the following attribution statement 'Powered by TfL Open Data'</li>
	<li>Acknowledge that this Information contains Ordnance Survey derived data by including the following attribution statement: 'Contains OS data &copy; Crown copyright and database rights 2016' and Geomni UK Map data &copy; and database rights [2019]</li>
	<li>Ensure our intellectual property rights, including all logos, design rights, patents and trademarks, are protected by following our <a href="/info-for/open-data-users/design-and-branding">design and branding guidelines</a></li>
	<li>Limit traffic requests up to a maximum of 300 calls per minute per data feed. TfL reserves the right to throttle or limit access to feeds when it is believed the overall service is being degraded by excessive use and</li>
	<li>Ensure the information You provide on registration is accurate&nbsp;</li>
</ul>

<p>These are important conditions of this Licence and if You fail to comply with them the rights granted to You under this Licence, or any similar licence granted by TfL, will end automatically.</p>

<h2>Exemptions</h2>

<p>This Licence does not:</p>

<ul>
	<li>Transfer any intellectual property rights in the Information to You or any third party</li>
	<li>Include personal data in the Information</li>
	<li>Provide any rights to use the Information after this Licence has ended&nbsp;</li>
	<li>Provide any rights to use any other intellectual property rights, including patents, trade marks, and design rights or permit You to:
	<ul>
		<li>Use data from the Oyster, Congestion Charging and Santander Cycles websites to populate or update any other software or database or</li>
		<li>Use any automated system, software or process to extract content and/or data, including trawling, data mining and screen scraping<br />
		in relation to the Oyster, Congestion Charging and Santander Cycles websites, except where expressly permitted under a written licence agreement with TfL.</li>
	</ul>
	</li>
</ul>

<p>These are important conditions of this Licence and, if You fail to comply with them, the rights granted to You under this Licence, or any similar licence granted by TfL, will end automatically.</p>

<h2>Non-endorsement</h2>

<p>This Licence does not grant You any right to use the Information in a way that suggests any official status or that TfL endorses You or Your use of the Information.</p>

<h2>Non warranty</h2>

<p>The Information is licensed 'as is' and TfL excludes all representations, warranties, obligations and liabilities in relation to the Information to the maximum extent permitted by law.</p>

<p>TfL is not liable for any errors or omissions in the Information and shall not be liable for any loss, injury or damage of any kind caused by its use or any inability to use the Service. TfL does not guarantee the continued supply of the Information.</p>

<p>Nothing in this Licence shall limit either TfL's or Your liability for death or personal injury caused by negligence, and/or the negligence of either TfL's or Your respective employees or agents or for fraud.</p>

<h2>Governing Law</h2>

<p>This Licence is governed by the laws of England and Wales.</p>

<p>TfL's Privacy Policy will apply to all personal information collected in connection with Your use of the Service. Further information can be found on our <a href="/corporate/privacy-and-cookies/index">Privacy and cookies</a> pages.</p>
      
           
      
      
        
          
            @this.ScriptBlock(
              @<script>
                queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
              </script>
            )
          
        
      
    </div>
  </div>
  <div class="aside" role="complementary">

   
    
    
    
      <div data-set="sidenav-container" class="large">
        
        
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
                <a href="/corporate/terms-and-conditions/index" class="heading">
                    <h2 id="sub-menu-heading">Terms & conditions <span class="visually-hidden"> navigation</span></h2>
                </a>
                <ul>
                    
                                <li><div class="link-wrapper"><a href="/corporate/terms-and-conditions/competitions">Competitions</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/corporate/terms-and-conditions/ticketing-and-travel-conditions-of-carriage">Conditions of Carriage</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/corporate/terms-and-conditions/conveyancing-searches">Conveyancing searches</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/corporate/terms-and-conditions/live-bus-departure-information">Live Bus & River Bus arrivals</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/corporate/terms-and-conditions/online-accounts">Online accounts</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/corporate/terms-and-conditions/pay-to-drive-in-london">Pay to drive in London</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/corporate/terms-and-conditions/pay-to-drive-in-london-app">Pay to drive in London app</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/corporate/terms-and-conditions/santander-cycles">Santander Cycles</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/corporate/terms-and-conditions/scrappage-scheme">Scrappage scheme</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/corporate/terms-and-conditions/social-media">Social media</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/corporate/terms-and-conditions/stars">STARS</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/corporate/terms-and-conditions/taxi-delicensing">Taxi delicensing</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/corporate/terms-and-conditions/tfl-call-charges">TfL call charges</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/corporate/terms-and-conditions/tfl-oyster-app">TfL Oyster and contactless app</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/corporate/terms-and-conditions/tfl-pension-fund">TfL Pension Fund</a></div></li>
                            
 
                                <li class="selected"><div class="link-wrapper"><a href="/corporate/terms-and-conditions/transport-data-service">Transport Data Service </a></div>
                            </li>
 
                                <li><div class="link-wrapper"><a href="/corporate/terms-and-conditions/visitor-oyster-shop">Visitor Oyster shop</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/corporate/terms-and-conditions/webcat">WebCAT</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/corporate/terms-and-conditions/website">Website</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/corporate/terms-and-conditions/dlr-discovery">DLR Discovery</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/corporate/terms-and-conditions/direct-vision-standard-and-safety-permit-for-hgvs">Direct Vision Standard and Safety Permit for HGVs</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/corporate/terms-and-conditions/car-and-motorcycle-scrappage-scheme">ULEZ Car and motorcycle scrappage scheme</a></div></li>
                            
 
                </ul>
            
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
      </div>
    
    <div>
















<div class="advert-tile unsponsored-style google-ads" aria-hidden="true">
  <div class="advert-link">
    <div class="advert-content">
        <div class="medium-large" data-advert="/76889402/non-targeted" data-advert-sizes="300, 250"></div>
        <div class="small" data-advert="/76889402/non-targeted" data-advert-sizes="300, 250"></div>
    </div>
  </div>
</div>
@{
    ViewBag.AmazonSlot = "'amznslots'";
    ViewBag.AmazonAds = "'3199'"; // to add another value, this needs to be ViewBag.AmazonAds = "'3199','xx'";
}
      

 </div>
    
    <div data-set="sidenav-container" class="small-medium"></div>
  </div>
</div>
 
 
        
        
        
            @{ViewBag.Description = "Terms & conditions for using TfL transport data";}
        
            
        


 