
    
  



@{ViewBag.Title = "Visitor Oyster shop";}
@{ViewBag.Keywords = "TfL";}
@{ViewBag.Url = "/corporate/terms-and-conditions/visitor-oyster-shop";}
@{ViewBag.Language = "en";}
        <!-- empty placeholder -->
 
        
        

@{
    Response.Status = "301 Moved permanently";
    Response.AddHeader("Location", "http://visitorshop.tfl.gov.uk/terms-and-conditions/");   
}

 
<div class="r">
    <div class="breadcrumb-container" role="navigation">
        <span id="breadcrumb-label" class="visually-hidden">You are here:</span>
        <ol class="breadcrumbs clearfix" aria-labelledby="breadcrumb-label">
            <li class="home">
                <a href="/">
                    <span class="hide-text">Home</span>
                </a>
            </li>
            
                 <li><a href="/corporate/terms-and-conditions/index">Terms & conditions </a></li>
                
            
            
                <li><span class="last-breadcrumb">Visitor Oyster shop</span></li>
            
        
 
        
 
        </ol>
    </div>
</div>
     
 
<div class="r">
  <div class="headline-container plain">
    <h1>Visitor Oyster shop</h1>

  </div>
</div>
<div class="main-and-aside r">
  
  <div class="main content-container" role="main">
    
      <div class="article-teaser">
        These terms and conditions apply to the use of the Transport for London Visitor Shop.
        
      </div>
    
    <div class="on-this-page">
      
        <p>The
        Shop (<a href="http://visitorshop.tfl.gov.uk/">http://visitorshop.tfl.gov.uk/</a>) is run by Transport for London (TfL) and its affiliates in conjunction with
        VisitBritain.
        </p>
        <p>This website is
        operated by TfL and its affiliates (and by VisitBritain on behalf of TfL).
        TfL is a functional body of the Greater London Authority, reporting to the Mayor
        of London.&nbsp; </p>
        <h2>TfL contact details</h2>
        <p><strong>Telephone:&nbsp;</strong> 0343 222 1234 (<a href="/corporate/terms-and-conditions/tfl-call-charges">TfL call charges</a>) Customer
        Services 09:00-17:00, Travel Information - 24
        hours
        <br />
        <strong>Email:</strong> enquire&#64;tfl.gov.uk
        <br />
        <strong>Post:</strong>&nbsp; <br />
        TfL Customer Services<br />
        4th&nbsp; Floor<br />
        14 Pier Walk<br />
        London <br />
        SE10 0ES
        <br />
        <strong>TfL website:</strong> <a href="https://custserv.tfl.gov.uk/icss_csip/init.do">Help &amp; contact</a>
        </p>
        <p>Travel cards and
        tickets sold from the Shop are sold on behalf of TfL and its affiliates by
        VisitBritain, which is a statutory corporation incorporated under the
        Development of Tourism Act 1969 as the British Tourist Authority. </p>
        <h2>VisitBritain's
        contact details in the UK
        </h2>
        <p>Email: <a href="http://www.visitbritain.com">tfl.world&#64;visitbritainshop.com<br />
        VisitBritain website</a></p>
        <p><strong>Enquiries,
        notices or support requests about purchases from the Shop should be directed to
        VisitBritain, not TfL.</strong></p>
        <p><a href="mailto:tfl.world&#64;visitbritainshop.com "></a></p>
        In these Terms and Conditions "we" and "us" refers
        to TfL and its affiliates and/or VisitBritain, as applicable.
        <p>Please read through these terms and conditions and
        if you do not agree with them do not use this website.&nbsp; If you do access the
        website and/or place an order, by doing so you agree to be bound by these terms
        and conditions as set out below.
        </p>
        <h2>How to order
        </h2>
        <p>To purchase from the Shop you must be aged 18 or
        over.
        </p>
        <p>All orders for tickets from the Shop must be placed
        using the shopping basket facility provided on the website. </p>
        <p>When you submit
        your order, you are offering to purchase tickets at the prices indicated on this
        website.
        To make your order you will be directed to a secure
        website operated by our provider of on-line payment facilities where you can
        enter your payment information. </p>
        <p>Please do not e-mail your card details to us as
        we can only take payment via the website.
        </p>
        <p>Once you have entered your payment information and
        your payment has been confirmed, you will then be directed to a final
        confirmation screen displaying the details relating to your order.
        </p>
        <p>We will acknowledge receipt and acceptance of your
        order by email. The contract between us is not formed until we confirm that we
        have accepted your order.&nbsp;
        </p>
        <p>If you discover you have made a mistake with your
        order please contact us immediately.&nbsp; </p>
        <h2>Method of payment
        </h2>
        <p>The prices indicated in the Shop do not include
        taxes (including VAT in the UK or applicable sales tax in other countries) which
        may be payable in respect of the tickets unless otherwise stated.&nbsp; Payment is
        due in the currency shown on the website during the ordering process, which
        depends upon the country from which you are placing the order.</p>
        <p>You can pay for tickets from the Shop using the
        payment methods specified on the website. We are unable to accept payment by any
        other method, including cards that are not specified on the website and cheques,
        cash, or postal orders.
        </p>
        <p>We can only process your order if you enter the
        card holder's name as it is shown on the card being used for payment and the
        postcode that appears on the card statement. It is your responsibility to ensure
        that the payment details you enter on the website are correct and complete.
        Neither VisitBritain nor TfL is responsible for supplying tickets if the details
        you submit when making your order are incorrect or incomplete.
        </p>
        <p>No payment will be deemed to have been made until
        we have cleared funds and we will not accept your order or dispatch the tickets
        until we receive payment in full.
        </p>
        <h2>Postage
        </h2>
        <p>We aim to despatch your order within seven working days
        of receiving it, but we cannot give an exact delivery date.&nbsp; We will arrange for
        delivery of the tickets by the means specified on the website during the
        ordering process. Please refer to the delivery details on the website for
        further information and our delivery charges, which depend upon which country
        you are in.
        </p>
        <p>If you have not received the tickets you ordered
        within the period shown on the website during the ordering process please let us
        know as soon as possible.&nbsp; You may cancel the order and we will refund any money
        paid by you if we have not delivered your tickets in time for your departure to
        London as indicated during the ordering process.&nbsp; If the tickets ordered are
        subsequently delivered to you, these should be returned to us.
        </p>
        <p>The tickets will be delivered to the address of the
        holder of the credit or debit card used to make the purchase, or a different
        address if specified by you when making your order.&nbsp; If you order more than one
        ticket in a single order then they may be despatched separately and arrive with
        you at different times.
        </p>
        <h2>Pricing and availability of tickets
        </h2>
        <p>The prices on this website are checked regularly to
        ensure they are accurate and up-to-date.&nbsp; However, if we find they have changed
        when we receive your order we will contact you and ask if you wish to proceed.&nbsp;
        </p>
        <p>We do our best to ensure that all tickets shown
        on&nbsp;our website are available to order. If however any ticket you order is out of
        stock or unavailable we will endeavour to contact you to arrange a refund or
        alternative delivery date.&nbsp; In addition, if the tickets that you have ordered
        are no longer available, we may offer you substituted tickets of a similar
        nature.&nbsp; Again, in this case, we will contact you and ask if you wish to
        proceed.
        </p>
        <p>We cannot currently accept orders from and/or
        deliver to certain countries. The website will not permit you to place an order
        if you are in, or specify a delivery address in, one of those countries.
        </p>
        <h2>Other conditions </h2>
        <p>All tickets are sold subject to <a href="/corporate/terms-and-conditions/ticketing-and-travel-conditions-of-carriage">TfL's Conditions of carriage</a>.
        </p>
        <p>All Oyster Cards are sold subject to <a href="/corporate/terms-and-conditions/online-accounts">TfL's Oyster Terms and Conditions</a>.
        </p>
        <h2>Returns policy and your right to cancel
        </h2>
        <h3>Returns Policy</h3>
        <p>You should inspect the tickets when you receive
        them for defects or damage. If you find a defect or damage you must tell us as
        soon as possible and we will arrange for their return, at no cost to you. If
        the tickets are found to be damaged prior to delivery to you, or defective, we
        will replace them or if replacement is not possible (for example if there is
        insufficient time before your visit to London) refund the price paid by you.
        </p>
        <h3>Cancellation </h3>
        <p>If you are a consumer (i.e. you are not purchasing
        either wholly or in part for your business or you are not a business), in
        addition to your other legal rights you have the right to cancel any order and
        receive a full refund from us.&nbsp; You may choose to cancel within 14 working days,
        starting on the day after the date when we confirm acceptance of your order.&nbsp; If
        you wish to cancel your order please contact us stating your order reference
        number.&nbsp; If you choose to return any tickets under this right to cancel, you
        will be responsible for returning the tickets to us.&nbsp; However, we will cover the
        cost of you returning any tickets that we have provided as a substitute for
        defective tickets that you ordered.
        </p>
        <p>Please send all returns with a covering letter
        stating your order reference number and accompanied by the original delivery
        note to: </p>
        <p>VisitBritain Online Shop<br />
        E-Commerce Team - Tfl<br />
        Sanctuary Buildings<br />
        20 Great Smith Street<br />
        London SW1P 3BT<br />
        United Kingdom</p>
        <p>Whenever you return tickets to us as permitted by
        these Terms and Conditions, please ensure as far as possible that they are in
        their original packaging and accompanied by the original delivery note. We
        recommend that you return tickets by recorded delivery. All refunds will be
        made to the card which you originally used for the purchase.
        </p>
        <p>Nothing in these terms and conditions affects any
        other legal rights you may have to reject or return tickets.
        </p>
        <h2>Data protection and privacy
        </h2>
        <p>We take your right to privacy very seriously.&nbsp; We
        will treat any personal information that you provide to&nbsp; us via this website or
        in connection with an order in accordance with the Data Protection Act 1998 and
        other applicable UK privacy legislation.&nbsp;
        </p>
        <p>By submitting your details when making an order you
        allow us to use the personal information you provide for the purposes set out in
        these terms and conditions and in accordance with our Privacy Policy.&nbsp; We will
        only use your personal information in accordance with these terms and conditions
        and our Privacy Policy unless we have your consent to use it in any other
        ways.
        </p>
        <p>We will never disclose or sell your personal
        information to any other organisation without your express permission except to
        our relevant service providers for the purposes of carrying out maintenance of
        this website, to our provider of online payment facilities in connection with
        your processing your order, to couriers and other subcontractors for the purpose
        of supplying tickets.
        </p>
        <p>The types of personal information we collect from
        you are:
        </p>
        <ul>
            <li>Contact information for order fulfilment and
            customer services purposes (such as name, email address, delivery address and
            telephone number). This information may be used to contact you in case of
            difficulty in processing an order or to deal with customer services issues
            </li>
            <li>Financial information relating to your payment for
            tickets (such as credit card number and expiry date).&nbsp; We do not obtain any
            payment information from you. This is collected and held securely by our
            provider of online payment facilities on our behalf. Please ensure you read the
            privacy policy on their website in relation to the information you submit in
            relation to payments. This information is used for billing purposes and to
            fulfil your orders.&nbsp; No financial information is stored on our servers or those
            of our partner Internova
            </li>
        </ul>
        <p>We use the information you give us to fulfil your
        order and to contact you in case of issues with your order.&nbsp; We also use your
        personal details and contact information for:
        </p>
        <ul>
            <li>        Internal record keeping
            </li>
            <li>To improve the website and service provided by the
            Shop
            </li>
            <li>To respond to enquiries submitted by you
            </li>
            <li>To follow up as part of our customer care
            procedures, and
            </li>
            <li>To contact you for market research
            purposes
            </li>
        </ul>
        <p>We may contact you by e-mail, phone, fax or mail
        for these reasons, unless you have registered with the appropriate preference
        service.&nbsp; More information about Preference Services can be found at <a href="http://www.mpsonline.org.uk/mpsr/">http://www.mpsonline.org.uk/</a>.
        </p>
        <p>We will notify you of any changes to the ways we
        will treat your personal information by placing a notice on this website and by
        email. We will always give you the option whether or not you wish us to use
        your information for any new purposes before going ahead.
        </p>
        <p>We have in place security systems and encryption
        technology to help ensure the security of your personal information. The servers
        on which we collect and store personal information are kept in a secure
        environment.&nbsp;
        </p>
        <p>Please refer to our Privacy Policy for further
        details of how TfL uses and protects your personal information.
        </p>
        <h2>Our liability to you
        </h2>
        <p>        These terms and conditions do not exclude TfL's
        liability (if any) to you for:
        </p>
        <ul>
            <li>        Personal injury or death resulting from our
            negligence
            </li>
            <li>Fraud
            </li>
            <li>Any matter which it would be illegal for us to
            exclude or to attempt to exclude our liability
            </li>
        </ul>
        <p>We will make every effort to perform our
        obligations under these terms and conditions but we cannot be held responsible
        to you for any failure or delay, or for the consequences of any failure or
        delay, in the performance of our obligations due to any event beyond our
        reasonable control.&nbsp;
        </p>
        <p>We are only liable to you for losses which you
        suffer as a result of a breach of these terms and conditions by us. We are not
        responsible to you for any losses which you may incur which were not a
        foreseeable consequence of us breaching these terms and conditions - for
        example, if you and we could not have contemplated those losses before or when
        we enter into a contract.&nbsp;
        </p>
        <p>Our liability to you shall not in any circumstances
        include any business losses that you may incur, including but not limited to
        lost profits or business interruption.&nbsp;
        </p>
        <p>The information we make available on this website
        is given for general information and interest purposes only. While we try to
        ensure that the information we make available on the website is accurate and up
        to date, we cannot be responsible for any inaccuracies in this information.&nbsp;
        </p>
        <p>While we try to ensure that this website is
        functioning correctly this may not always be achievable. We do not guarantee
        that this website will be available all the time or at any specific time. We do
        not guarantee that this website will be compatible with all or any hardware and
        software which you may use.&nbsp;
        </p>
        <p>We take steps to ensure that this website is free
        from computer viruses or any other malicious or impairing computer program,
        however we cannot guarantee this due to the nature of the Internet.&nbsp; You are
        advised to use appropriate firewall and anti-virus software.
        </p>
        <h2>Linking to this website
        </h2>
        <p>This website may contain links to other websites
        over which TfL has no control. Such links are supplied solely for the
        convenience of users. TfL is not responsible for the contents or reliability of
        the linked websites and does not necessarily endorse the views expressed within
        them or the organisation or persons providing them in any way.&nbsp; TfL does not
        guarantee that these links will work all of the time and has no control over the
        availability of the linked pages.&nbsp; It is your responsibility to check the terms
        and conditions and privacy policy on any other website which you visit.
        </p>
        <p>If you make a contract with another person who is
        named or referred to on this website, this is entirely at your sole risk and it
        is your responsibility to ensure that you are comfortable with the terms of that
        contract and to take legal advice if necessary.
        </p>
        <p>You must not create links to this website without
        our prior written permission.&nbsp;</p>
        <h2>        Copyright &amp; intellectual property
        </h2>
        <p>        We have made this website available to you for your
        personal non-commercial use. We do not give you permission to do anything with
        this website except to browse its contents, order tickets and use any other
        facilities we expressly offer to you.
        </p>
        <p>This website and all the materials contained in it
        are protected by intellectual property rights, including copyright, and either
        belong to us or are licensed to us to use. Materials include, but are not
        limited to, the design, layout, look, appearance, graphics and documents on this
        website, as well as other content such as articles and other text. </p>
        <p>You must not copy, redistribute, republish or
        otherwise make the materials on this website available to anyone else without
        our written consent, except for your own personal non-commercial use.&nbsp;
        </p>
        <p>You may print or download materials we make
        available on this website for your own personal non-commercial use provided
        that:
        </p>
        <ul>
            <li>no materials are modified in any way
            </li>
            <li>no graphics are used separately from accompanying
            text
            </li>
            <li>our copyright and trade mark notices appear in all
            copies and you acknowledge this website as the source of the material
            </li>
            <li>        you obtain any necessary permissions before
            printing or downloading any materials made available on this website by a third
            party (for example, advertisers)
            </li>
        </ul>
        <p>Please note, any unauthorised use of TfL's
        copyright and trademarks is an infringement of TfL's intellectual property
        rights and may lead to legal action and other remedies, for example under the
        Trade Marks Act 1994 and the Copyright Design and Patents Act 1988.
        </p>
        <h2>Overseas orders
        </h2>
        <p>When ordering goods from this website for delivery
        overseas you may be subject to import requirements, duties and taxes. Any
        import charges must be borne by you - we have no control over these charges and
        cannot predict what they may be. Customs policies vary from country to country,
        so you should contact your local customs office for further information of any
        relevant charges. You are responsible for complying with all laws and
        regulations of the country in which you are importing the goods. Please be
        aware that cross-border deliveries are subject to opening and inspection by
        customs authorities and delivery times can be affected due to packages being
        inspected by customs.
        </p>
        <h2>        Other information you need to know</h2>
        <p>Nothing on this website is intended to be an offer
        to enter into a contractual relationship with you or anyone else, except for
        these terms and conditions and our <a href="/corporate/privacy-and-cookies/website-privacy">Privacy Policy</a>.
        </p>
        <p>We may modify this website at any time, for
        instance to comply with changes in the law or to add new features. We will try
        as far as possible to ensure that any modifications do not reduce the quality of
        the Shop.
        </p>
        <p>We reserve the right to withdraw, suspend or
        discontinue any functionality or feature on this website at any time.
        </p>
        <p>We advise you to keep a copy of these terms and
        conditions and your order details for your future reference.&nbsp;
        </p>
        <p>Any notices we send to you will be sent to the most
        recent email address or postal address provided to us by you.
        </p>
        <p>Neither of us intend that these terms and
        conditions will be enforceable by any other person by virtue of the Contracts
        (Rights of Third Parties) Act 1999.
        </p>
        <p>These terms and conditions and all communications
        between us will be conducted in the English language.
        </p>
        <h2>Jurisdiction
        </h2>
        <p>The laws of England and Wales apply to these terms
        and conditions.
        </p>
        <p>        If any disputes arise between you and us in
        relation to this website or your order(s) and you want to take court
        proceedings, you must do so in the courts of England and Wales.</p>
    
      
           
      
      
        
          
            @this.ScriptBlock(
              @<script>
                queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
              </script>
            )
          
        
      
    </div>
  </div>
  <div class="aside" role="complementary">

   
    
    
    
      <div data-set="sidenav-container" class="large">
        
        
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
                <a href="/corporate/terms-and-conditions/index" class="heading">
                    <h2 id="sub-menu-heading">Terms & conditions <span class="visually-hidden"> navigation</span></h2>
                </a>
                <ul>
                    
                                <li><div class="link-wrapper"><a href="/corporate/terms-and-conditions/competitions">Competitions</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/corporate/terms-and-conditions/ticketing-and-travel-conditions-of-carriage">Conditions of Carriage</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/corporate/terms-and-conditions/conveyancing-searches">Conveyancing searches</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/corporate/terms-and-conditions/live-bus-departure-information">Live Bus & River Bus arrivals</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/corporate/terms-and-conditions/online-accounts">Online accounts</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/corporate/terms-and-conditions/pay-to-drive-in-london">Pay to drive in London</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/corporate/terms-and-conditions/pay-to-drive-in-london-app">Pay to drive in London app</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/corporate/terms-and-conditions/santander-cycles">Santander Cycles</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/corporate/terms-and-conditions/scrappage-scheme">Scrappage scheme</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/corporate/terms-and-conditions/social-media">Social media</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/corporate/terms-and-conditions/stars">STARS</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/corporate/terms-and-conditions/taxi-delicensing">Taxi delicensing</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/corporate/terms-and-conditions/tfl-call-charges">TfL call charges</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/corporate/terms-and-conditions/tfl-oyster-app">TfL Oyster and contactless app</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/corporate/terms-and-conditions/tfl-pension-fund">TfL Pension Fund</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/corporate/terms-and-conditions/transport-data-service">Transport Data Service </a></div></li>
                            
 
                                <li class="selected"><div class="link-wrapper"><a href="/corporate/terms-and-conditions/visitor-oyster-shop">Visitor Oyster shop</a></div>
                            </li>
 
                                <li><div class="link-wrapper"><a href="/corporate/terms-and-conditions/webcat">WebCAT</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/corporate/terms-and-conditions/website">Website</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/corporate/terms-and-conditions/dlr-discovery">DLR Discovery</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/corporate/terms-and-conditions/direct-vision-standard-and-safety-permit-for-hgvs">Direct Vision Standard and Safety Permit for HGVs</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/corporate/terms-and-conditions/car-and-motorcycle-scrappage-scheme">ULEZ Car and motorcycle scrappage scheme</a></div></li>
                            
 
                </ul>
            
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
      </div>
    
    <div>
















<div class="advert-tile unsponsored-style google-ads" aria-hidden="true">
  <div class="advert-link">
    <div class="advert-content">
        <div class="medium-large" data-advert="/76889402/non-targeted" data-advert-sizes="300, 250"></div>
        <div class="small" data-advert="/76889402/non-targeted" data-advert-sizes="300, 250"></div>
    </div>
  </div>
</div>
@{
    ViewBag.AmazonSlot = "'amznslots'";
    ViewBag.AmazonAds = "'3199'"; // to add another value, this needs to be ViewBag.AmazonAds = "'3199','xx'";
}
      

 </div>
    
    <div data-set="sidenav-container" class="small-medium"></div>
  </div>
</div>
 
 
        
        
        
            @{ViewBag.Description = "Terms & conditions for the use of the Transport for London Visitor Shop at http://visitorshop.tfl.gov.uk/";}
        
            
        


 