
    
  



@{ViewBag.Title = "Website";}
@{ViewBag.Keywords = "TfL";}
@{ViewBag.Url = "/corporate/terms-and-conditions/website";}
@{ViewBag.Language = "en";}
        <!-- empty placeholder -->
 
        
        
<div class="r">
    <div class="breadcrumb-container" role="navigation">
        <span id="breadcrumb-label" class="visually-hidden">You are here:</span>
        <ol class="breadcrumbs clearfix" aria-labelledby="breadcrumb-label">
            <li class="home">
                <a href="/">
                    <span class="hide-text">Home</span>
                </a>
            </li>
            
                 <li><a href="/corporate/terms-and-conditions/index">Terms & conditions </a></li>
                
            
            
                <li><span class="last-breadcrumb">Website</span></li>
            
        
 
        
 
        </ol>
    </div>
</div>
     
 
<div class="r">
  <div class="headline-container plain">
    <h1>Website</h1>

  </div>
</div>
<div class="main-and-aside r">
  
  <div class="main content-container" role="main">
    
      <div class="article-teaser">
        We try hard to make sure that these websites are working correctly and that the information we publish is accurate. This is not always achievable so the following disclaimer applies.
        
      </div>
    
    <div class="on-this-page">
      
      
           
      <div>

<h2>Disclaimer
</h2>
<p>These websites are provided "as is" without any representation or
endorsement made and without warranty of any kind whether express or
implied, including but not limited to the implied warranties of
satisfactory quality, fitness for a particular purpose, compatibility,
non-infringement, accuracy and security. We do not guarantee or
represent that the content and/or facilities available or accessible via
these websites will always be accurate, complete or current or that
access to the websites will be uninterrupted.
</p>
<p>To the extent permitted by law we expressly disclaim all liability
for any direct, indirect or consequential loss or damage occasioned from
the use or inability to use these websites, whether directly or
indirectly resulting from inaccuracies, defects, viruses, errors -
whether typographical or otherwise, omissions, out of date information
or otherwise.
</p>
<p>Accessing these websites and the downloading of material from them is
done entirely at your own risk. You, and not TfL, will be
entirely responsible for any resulting damage to software or computer
systems and/or any resulting loss of data even if we have been advised
of the possibility of such damage.
</p>
<h2>Links
</h2>
<p>These websites may contain links to other websites over which we have
no control. Such links are supplied solely for the convenience of
users. We are not responsible for the contents or reliability of the
linked websites and do not necessarily endorse the views expressed
within them or the organisation or persons providing them in any way. We do not guarantee that these links will work all of the time and we
have no control over the availability of the linked pages.
</p>
<p>Providers of other websites may place text-based links to pages on
the TfL websites without seeking prior permission. However such links
must not open TfL website pages into frames within another website.
Pages from the TfL websites must be loaded into the user's entire
browser window. The use of the TfL logo or the logos of any associated
or subsidiary organisations must not be used for promotional or linking
purposes unless prior approval in writing has been given. Please contact <a href="/corporate/useful-contacts/index">TfL Customer Services</a> for further details on obtaining such approval.
</p>
<h2>Jurisdiction
</h2>
<p>These terms and conditions will be governed and construed in
accordance with the laws of England. The courts of England shall have
exclusive jurisdiction over disputes between a user and TfL arising out
of the access or use of these websites. Omission by us to exercise any
right under these terms and conditions will not constitute a waiver of
such right unless expressly stated by us in writing.
</p>
<h2>Copyright
</h2>
<p>Unless expressly stated the copyright and other intellectual property
rights (such as, design rights, trademarks, patents etc.) in any
material provided on the TfL websites remains our property (or as
the case may be another rightful owner). TfL owned material on these
websites including text and images, may not be printed, copied,
reproduced, republished, downloaded, posted, displayed, modified,
reused, broadcast or transmitted in any way, except for your own
personal non-commercial use. You must gain our permission for any other type of use. Contact <a href="/corporate/useful-contacts/index">TfL Customer Services</a> for details.  </p>
<h2>Privacy policy</h2>
<p>We respect your privacy and handle all personal data in accordance with privacy and data protection legislation and our own information governance policies. Please visit our <a href="/corporate/privacy-and-cookies/index">Privacy and cookies</a> pages for further information about the ways TfL may collect and use your personal information.</p>
</div>
 <div>

<h2>Specific terms of use </h2>
<p>The following are prohibited in relation to the <a href="http://oyster.tfl.gov.uk">Oyster</a>, <a href="http://congestioncharging.tfl.gov.uk">Congestion Charging</a> and <a href="https://web.barclayscyclehire.tfl.gov.uk/">Santander Cycles</a> websites, (with the exception of the <a href="https://web.barclayscyclehire.tfl.gov.uk/maps">Santander Cycles maps web page</a>),  except where expressly permitted under a written licence agreement with TfL:
</p>
<ol>
    <li>Use of data from the Oyster, Congestion Charging and Santander Cycles websites to populate or update any other software or database
    </li>
    <li>Use of any automated system, software or process to extract
    content and/or data, including trawling, data mining and screen
    scraping</li>
</ol>
</div>
 
      
        
          
            @this.ScriptBlock(
              @<script>
                queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
              </script>
            )
          
        
      
    </div>
  </div>
  <div class="aside" role="complementary">

   
    
    
    
      <div data-set="sidenav-container" class="large">
        
        
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
                <a href="/corporate/terms-and-conditions/index" class="heading">
                    <h2 id="sub-menu-heading">Terms & conditions <span class="visually-hidden"> navigation</span></h2>
                </a>
                <ul>
                    
                                <li><div class="link-wrapper"><a href="/corporate/terms-and-conditions/competitions">Competitions</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/corporate/terms-and-conditions/ticketing-and-travel-conditions-of-carriage">Conditions of Carriage</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/corporate/terms-and-conditions/conveyancing-searches">Conveyancing searches</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/corporate/terms-and-conditions/live-bus-departure-information">Live Bus & River Bus arrivals</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/corporate/terms-and-conditions/online-accounts">Online accounts</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/corporate/terms-and-conditions/pay-to-drive-in-london">Pay to drive in London</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/corporate/terms-and-conditions/pay-to-drive-in-london-app">Pay to drive in London app</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/corporate/terms-and-conditions/santander-cycles">Santander Cycles</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/corporate/terms-and-conditions/scrappage-scheme">Scrappage scheme</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/corporate/terms-and-conditions/social-media">Social media</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/corporate/terms-and-conditions/stars">STARS</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/corporate/terms-and-conditions/taxi-delicensing">Taxi delicensing</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/corporate/terms-and-conditions/tfl-call-charges">TfL call charges</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/corporate/terms-and-conditions/tfl-oyster-app">TfL Oyster and contactless app</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/corporate/terms-and-conditions/tfl-pension-fund">TfL Pension Fund</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/corporate/terms-and-conditions/transport-data-service">Transport Data Service </a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/corporate/terms-and-conditions/visitor-oyster-shop">Visitor Oyster shop</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/corporate/terms-and-conditions/webcat">WebCAT</a></div></li>
                            
 
                                <li class="selected"><div class="link-wrapper"><a href="/corporate/terms-and-conditions/website">Website</a></div>
                            </li>
 
                                <li><div class="link-wrapper"><a href="/corporate/terms-and-conditions/dlr-discovery">DLR Discovery</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/corporate/terms-and-conditions/direct-vision-standard-and-safety-permit-for-hgvs">Direct Vision Standard and Safety Permit for HGVs</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/corporate/terms-and-conditions/car-and-motorcycle-scrappage-scheme">ULEZ Car and motorcycle scrappage scheme</a></div></li>
                            
 
                </ul>
            
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
      </div>
    
    <div>
















<div class="advert-tile unsponsored-style google-ads" aria-hidden="true">
  <div class="advert-link">
    <div class="advert-content">
        <div class="medium-large" data-advert="/76889402/non-targeted" data-advert-sizes="300, 250"></div>
        <div class="small" data-advert="/76889402/non-targeted" data-advert-sizes="300, 250"></div>
    </div>
  </div>
</div>
@{
    ViewBag.AmazonSlot = "'amznslots'";
    ViewBag.AmazonAds = "'3199'"; // to add another value, this needs to be ViewBag.AmazonAds = "'3199','xx'";
}
      

 </div>
    
    <div data-set="sidenav-container" class="small-medium"></div>
  </div>
</div>
 
 
        
        
        
            @{ViewBag.Description = "Website disclaimer and terms of use";}
        
            
        


 