


@{ViewBag.Title = "&pound;36m contract to bring extra rail carriages for London Overground ";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>&pound;36m contract to bring extra rail carriages for London Overground </h1>
        <div class="content-page-press-release">
        04 July 2007
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">



 <div class="on-this-page">
<span class="right">
                    
                </span><p>Transport for London (TfL)&nbsp;has placed a &pound;36m order for an extra 36 rail carriages for the London Overground network. The carriages will be built by Bombardier Transportation at their plant in Derby.</p>        
            
                        
            
            
            
            <p>
<p>The order is in addition to the 44 new trains currently being built by Bombardier for London Overground, which are due to enter service on the North London Railway from 2009 and the East London Railway once open in 2010. </p>
<p>The extra carriages are due to enter service in early 2011. </p>
<p>London Overground services will start on the North London Railway from 11 November this year. The order for the extra rail cars comprises: </p>
<ul>
<li>Three, four-carriage units for services on the East London Railway</li>
<li>Twenty-four carriages to lengthen the three-carriage trains already in production for the North London Railway to four-carriage </li>
<li>The 36 extra rail carriages will provide an extra 24 per cent capacity on London Overground during peak hours and 33 per cent on the North London Railway alone</li></ul>
<p>The new trains are class 378 Electrostars, and are designed specifically to carry the high numbers of passengers who will use London Overground services. <br>&nbsp;&nbsp;&nbsp;&nbsp;<br>The Mayor of London, Ken Livingstone, said: "London Overground will set new standards of rail travel for passengers in London. </p>

<p>"This &pound;36m investment in new carriages will help do this, whilst meeting the growing demand for rail in the Capital.&nbsp;<br>&nbsp;&nbsp;&nbsp;&nbsp;<br>"We are investing &pound;1.4bn in London Overground which will form a key part of the transport legacy from the 2012 Games, serving communities and helping regeneration along its route."</p>
<p>The new trains will feature: </p>
<ul>
<li>Wider gangways to create more space and increase capacity</li>
<li>Better security with onboard CCTV and clear sightlines for passengers</li>
<li>Wider doors and aisles for quicker boarding and alighting</li>
<li>Better journey ambience; with air conditioning, wider seats and more handrails</li>
<li>Improved accessibility; with dedicated wheelchair bays</li>
<li>Real time information; with audio and visual announcements </li></ul>

<p>Howard Smith, Chief Operating Officer, Transport for London, London Rail, said: "The extra rail carriages are designed to carry high numbers of passengers in comfort and safety and will bring a noticeable improvement to rail travel for passengers.</p>
<p>"The new trains are key to the creation of London Overground. </p>

<p>"By replacing the existing 30-year-old trains and improving comfort, safety and reliability, they will help revitalise the North London Railway.<br>&nbsp;<br>"Importantly, by building extra rail carriages for London Overground, we will also help meet the increasing demand for rail in the Capital."<br>&nbsp;&nbsp;&nbsp;&nbsp;<br></p>
<p>&nbsp;</p>
            <p><strong>Notes to editors</strong>&nbsp;<br>
<ul>
<li>The contract includes provision for maintenance services </li>
<li>Funded by TfL's &pound;10bn Investment Programme, the new trains will operate on the North London Railway in 2009, and the&nbsp;extended East London Railway from 2010 </li>
<li>TfL signed a &pound;223m contract with Bombardier to build and maintain 44 new trains in August 2006 </li>
<li>London Overground is a new rail service, which will run through 20 of London's 33 boroughs. It is the latest addition to the TfL modes and will have its own orange and blue roundel </li>
<li>On 18 June, the Mayor confirmed MTR Laing as the operator chosen to run London Overground from 11 November </li>
<li>The London Overground network comprises the North London Railway and the East London Railway, once open in June 2010. The&nbsp; North London Railway includes:&nbsp;the North London Line (Richmond to Stratford); the London Euston to Watford Junction local line; the West London Line (Willesden Junction to Clapham Junction via Kensington Olympia) and the Gospel Oak to Barking line </li>
<li>London Overground services will be featured on the world famous Tube map from November </li>
<li><a href="http://www.tfl.gov.uk/tfl/corporate/media/photos/pressimages/">Images </a>are available online </li></ul>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "Transport for London (TfL)&nbsp;has placed a &pound;36m order for an extra 36 rail carriages for the London Overground network. The carriages will be built by Bombardier Transportation at their plant in Derby.The order is in addition to the 44 new trains";}
        
        


 