


@{ViewBag.Title = "Capital 95.8 and thelondonpaper back busking on the Tube";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>Capital 95.8 and thelondonpaper back busking on the Tube</h1>
        <div class="content-page-press-release">
        23 July 2007
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        London radio station and evening paper are new sponsors of London Underground's (LU's) world famous busking scheme
        
    </div>



<div class="pull-quote">
        <div class="quote-body">"The busking scheme has been an amazing success"</div>
        <div class="quote-footer">
            <div class="quotee-name">Rebecca Ford</div>
            <div class="quotee-job-title">LU Contract Manager</div>
        </div>
</div>

 <div class="on-this-page">
<div class="pullquote right">
                        <p>
                            The busking scheme has been an amazing success
                            
                        </p>
                    </div>
                
            
            
            <p>LU, Capital 95.8 and thelondonpaper have come together to make music on the Tube. </p>
<p>The leading London media brands are the new sponsors of&nbsp; LU's three-year-old busking scheme.</p>
<p>LU's licensed busking scheme provides 30 pitches across the network upon which licensed buskers can perform. </p>
<p>The recruitment, audition and management of buskers ensures a high level of both talent and variety.</p>
<p>Busking has been a big hit with both customers and buskers. </p>
<p>Surveys show that 82 per cent of customers are in favour of the scheme. </p>
<h2>Exciting programme</h2>
<p>Today, nearly 400 buskers, relying solely on donations from customers, provide over 3,000 hours of live music weekly.</p>
<p>The unique deal brings together LU and two of London's media brands, and will offer buskers the opportunity to become involved in an exciting programme of activities throughout the year. </p>
<p>A dedicated website (<a href="http://www.buskear.com/">http://www.buskear.com/</a>), an additional initiative by the two sponsors, will support the scheme and will enable buskers to upload their personal profiles and sample tracks. </p>
<p>Customers will also be able to view the roster of pitches so that they can find out when and where their favourite busker will be playing. </p>
<h2>New sponsors</h2>
<p>Rebecca Ford, Contract Manager at London Underground, said: "We are delighted to have thelondonpaper and Capital 95.8 onboard as the new sponsors of the LU busking scheme.</p>
<p>"The busking scheme has been an amazing success since it first started over three years ago and has received widespread support from our passengers.</p>
<p>"We are looking forward to working with our new sponsors to keep providing Tube passengers with a truly unique musical experience."</p>
<p>In line with both thelondonpaper and Capital 95.8's audiences, the deal will target 15 to 35-year-old Londoners who share a "central London" mindset, through 30 co-branded busking pitches on the Tube, additional multi-format campaigns on CBS Outdoor sites and editorial coverage for both brands across each other's platforms. </p>
<h2>Exciting opportunity</h2>
<p>Nicole Refson, Head of Marketing at&nbsp;thelondonpaper, said: "We teamed up with Capital 95.8 because we saw this sponsorship as a really exciting opportunity to associate ourselves with something so inherently "London". </p>
<p>"Both thelondonpaper and Capital 95.8 share a very similar outlook on London life - upbeat and positive. </p>
<p>"Working together on this sponsorship allows us not only to reach each other's audience, but also encourages readers and listeners to get involved with the busking activity. </p>
<p>"This deal holds enormous potential for us both as media owners and for buskers by offering them a new environment to promote themselves." </p>
<h2>Powerful sponsorship</h2>
<p>Nick Button, Marketing Director at Capital 95.8, added: "We want to establish buskers as individuals and champion the role they play in making everyone's journey more entertaining.</p>
<p>"We, along with thelondonpaper, will use our respective channels and audiences to raise the perception of busking above and below ground. </p>
<p>"Capital 95.8 and thelondonpaper are uniquely positioned to jointly deliver this exciting proposition which goes beyond busking backdrops to create a "living" brand with regularly updated content."</p>
<p>Donna Price, Sponsorship Manager at CBS Outdoor, commented: "This is a highly creative and powerful sponsorship that has brought together London Underground and two of London's premier media brands to create a campaign that will have massive impact."</p>
<p>Creative for the sponsorship was by DLKW, Capital 95.8's agency which has also created buskear.com, &nbsp;a co-branded website where users will be able to access information about the buskers, and take part in a range of competitions and activities throughout the year.<br></p>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "LU, Capital 95.8 and thelondonpaper have come together to make music on the Tube. The leading London media brands are the new sponsors of&nbsp; LU's three-year-old busking scheme.LU's licensed busking scheme provides 30 pitches across the network upon";}
        
        


 