


@{ViewBag.Title = "Central line travel advice";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>Central line travel advice</h1>
        <div class="content-page-press-release">
        05 July 2007
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">



 <div class="on-this-page">
<span class="right">
                    
                </span><p>Following the derailment of a Central Line train between Mile End and Bethnal Green on Thursday 5 July, the line remains closed between Liverpool Street and Leytonstone in both directions.</p>        
            
                        
            
            
            
            <p>
<p>London Underground is now working to rerail the train and to repair damage caused in the derailment.</p>
<p>At this stage it is very unlikely that full service will be resumed in time for Friday's evening&nbsp;peak. </p>
<p>A range of measures have therefore been put in place to deal with the disruption that will inevitably take place to customers' regular journeys:</p>
<ul>
<li>London Underground tickets will be accepted on all local bus services, alternative Underground routes, and on ONE, First Great Western, Chiltern Railways&nbsp;and Silverlink Metro train services via any reasonable routes<br><br></li>
<li>Four replacement bus services have been put in place</li></ul>
<blockquote>
<ul type="circle">
<li>Stratford - Leytonstone, calling at Leyton </li>
<li>Gants Hill - Ilford non stop </li>
<li>Walthamstow Central - Woodford non stop </li>
<li>Barking - Redbridge non stop </li></ul></blockquote>
<ul>
<li>The District line is operating normally</li></ul>
<p>Transport for London advises that there is likely to be congestion at several major stations in the surrounding area this evening and would ask passengers to expect a longer journey time than normal until Central Line services can be fully restored.</p>
<p><br>&nbsp;</p>
<ul></ul>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "Following the derailment of a Central Line train between Mile End and Bethnal Green on Thursday 5 July, the line remains closed between Liverpool Street and Leytonstone in both directions.London Underground is now working to rerail the train and to repair";}
        
        


 