


@{ViewBag.Title = "Congestion Charging four years on - traffic still down across central London ";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>Congestion Charging four years on - traffic still down across central London </h1>
        <div class="content-page-press-release">
        11 July 2007
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">



 <div class="on-this-page">
<span class="right">
                    
                </span><p>Congestion Charging has maintained reduced levels of traffic in central London and cut congestion in the western extension by up to 25 per cent, according to the Fifth Annual Impacts Monitoring Report.</p>        
            
                        
            
                    <div class="pullquote right">
                        <p>
                            In 2006, around 70,000 fewer vehicles entered the same area each day
                            
                        </p>
                    </div>
                
            
            
            <p>
<p>Traffic&nbsp;levels in the original zone remained stable in 2006, at 21 per cent lower than before the scheme was introduced in 2002, while traffic levels on boundary routes of the original zone have remained comparable to previous years. </p>
<p>Before charging began, some 334,000 vehicles entered the original zone each day. </p>
<p>In 2006, around 70,000 fewer vehicles entered the same area each day. </p>
<p>The western extension to the Congestion Charge scheme was introduced on February 19, 2007.</p>
<p>From the outset all major operational elements of the scheme have functioned smoothly, and there have been no traffic or other problems of significance. </p>
<h2>Western extension</h2>
<p>Over the first three months of operation, traffic in the western extension zone is typically down by 10 to 15 per cent on equivalent levels in 2006, in line with Transport for London's (TfL's)&nbsp;predictions.</p>
<p>The first comprehensive survey of congestion in the western extension indicates that congestion has been reduced by between 20 and 25 per cent against comparable values in 2005 and 2006.</p>
<p>Traffic on the free passage route running between the original and extended zones (Edgware Road to Vauxhall Bridge via Park Lane) is effectively unchanged by the extension, while the extension's boundary route has seen some small increases of up to five per cent, as anticipated by TfL.</p>
<p>Initial monitoring of the original charging zone suggests that congestion levels have not been affected as a result of the introduction of the western extension. </p>
<h2>Reduced congestion</h2>
<p>As reported in February 2007, congestion levels in central London are being adversely affected by an increase in road works, notably by utility companies, which reduce the capacity of the road network. </p>
<p>The impact of Congestion Charging therefore needs to be viewed in this context. </p>
<p>The reduced traffic levels mean that, when compared to conditions without the scheme, Congestion Charging is continuing to deliver congestion relief that is broadly in line with the 30 per cent reduction achieved in the first year of operation.</p>
<p>The continued comparison with 2002 levels is misleading. Nevertheless, carrying this comparison through, congestion was 8 per cent lower in 2006 and traffic is down&nbsp;21 per cent.&nbsp;</p>
<h2>Further improvements</h2>
<p>The Congestion Charge scheme generated provisional net revenues of &pound;123m in 2006/07, which will be spent on further improvements to transport across London, particularly bus services.</p>
<p>Further analysis of economic trend data continues to demonstrate that there have been no significant impacts from the original scheme on the London economy.</p>
<p>Indeed, the London economy has been particularly strong over recent years, with recent retail growth at&nbsp;roughly twice the national growth rate.</p>
<p>Mayor of London Ken Livingstone said: "Congestion Charging has meant that the number of cars entering the central area has been cut by some 70,000 vehicles a day.</p>
<p>"Put simply it has prevented London from grinding to a halt.&nbsp; </p>
<h2>Reduced emissions</h2>
<p>"The charge has meant real reductions in traffic emissions, reduced CO2 emissions, and enhanced safety for pedestrians and cyclists, and has also provided vital funds that have been reinvested in the Capital's transport network. </p>
<p>"This report shows that, despite the predictions of its opponents, the western extension of the charging zone has been a clear success. </p>
<p>"Now cities across the world are looking to London as an example in recognition of the fact that ours is the only major city in the world to have achieved a shift from the private car to public transport."</p>
<p>Mich&egrave;le Dix, Managing Director Planning for&nbsp;TfL, said: "Congestion Charging continues to reduce levels of traffic coming into central London, which is the key aim of the scheme. </p>
<p>"The early results from the western extension zone are highly encouraging and we will continue to monitor the impacts throughout 2007."</p>
<p>Since the Congestion Charge scheme started, London has seen: </p>
<ul>
<li>Traffic entering the zone reduced by 21 per cent </li>
<li>In comparison with 2002 conditions, congestion in 2006 was eight per cent lower, but this is increasingly misleading about the scheme's performance. When compared to conditions without charging, Congestion Charging is continuing to deliver congestion relief that is broadly in line with the 30 per cent reduction achieved in the first year </li>
<li>An increase in cycling within the zone of 43 per cent </li>
<li>Reductions in accidents and key traffic pollutants in and around the charging area </li>
<li>Public transport successfully accommodating displaced car users; and bus services continuing to benefit from reduced congestion and ongoing investment of scheme revenues </li>
<li>Retail footfall now outperforming the rest of the UK and returning to a pattern of year-on-year growth </li>
<li>No effect on property prices </li>
<li>&pound;123 million being raised, in the financial year 2006/07, to invest back into London's transport system</li></ul>
            <p><strong>Notes to editors: </strong>
<ul>
<li>A full copy of the <a href="http://www.tfl.gov.uk/assets/downloads/fifth-annual-impacts-monitoring-report-2007-07-07.pdf">Fifth Annual Monitoring Report (PDF 2,237KB)</a> is available online </li>
<li>The Mayor has called on the Government to accelerate the completion of regulations that would give powers to TfL and the London boroughs to better coordinate streetworks in the city</li></ul>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "Congestion Charging has maintained reduced levels of traffic in central London and cut congestion in the western extension by up to 25 per cent, according to the Fifth Annual Impacts Monitoring Report.Traffic&nbsp;levels in the original zone remained";}
        
        


 