


@{ViewBag.Title = "Department for Transport's rail plan announcement";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>Department for Transport's rail plan announcement</h1>
        <div class="content-page-press-release">
        24 July 2007
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">



<div class="pull-quote">
        <div class="quote-body">"This announcement recognises the importance of London to the national economy"</div>
        <div class="quote-footer">
            <div class="quotee-name">Ken Livingstone</div>
            <div class="quotee-job-title">Mayor of London</div>
        </div>
</div>

 <div class="on-this-page">
<div class="pullquote right">
                        <p>
                            This announcement recognises the importance of London to the national economy
                            
                        </p>
                    </div>
                
            
            
            <p>This press release was originally released by the press office of the <a href="http://www.london.gov.uk/">Greater London Authority</a>.</p>
<p>The Mayor of London, Ken Livingstone, and Transport for London (TfL) today warmly welcomed the publication of the Department for Transport's High Level Output Strategy (HLOS) setting out its rail priorities for the period 2009-2014.</p>
<p>The High Level Output Strategy sets out improved standards of safety, punctuality and capacity to be met by the rail industry, and has been published alongside the Statement of Funds Available (SoFA), which provides the necessary funding for the upgrade work.</p>
<p>The announcement brings billions of pounds of benefits to London in the form of longer trains at peak hours and station platforms lengthened on many London suburban routes.</p>
<p>The Thameslink expansion scheme has also been given the go-ahead and involves lengthening platforms to allow 12-car trains to operate along the route, plus a major infrastructure upgrade allowing for 24 trains an hour, tripling capacity on the major cross-London artery. </p>
<h2>Essential</h2>
<p>Ken Livingstone said: "Some two-thirds of all UK rail journeys start or finish in London, and Londoners account for 50 per cent of all UK rail journeys. </p>
<p>"This announcement recognises the importance of London to the national economy, and the vital role of rail services in the Capital's continued success.</p>
<p>"Transport for London's Transport 2025 strategy predicted an increase of 40 per cent in demand for rail services in London by 2025. This announcement will deliver around 90 per cent of the needed capacity, and will do so by 2014.</p>
<p>"The expansion of Thameslink, a vital north-south link, is particularly significant, and will work alongside the east-west link of Crossrail, the completion of which will be essential to maintaining London's position as a truly world-class city." </p>
<h2>Increasing demand</h2>
<p>The Managing Director of TfL London Rail, Ian Brown, said: "This commitment from the Department of Transport, along with Transport for London's Transport 2025 strategy, together make a major contribution to the ensuring that London's public transport network can cope with the increasing demand expected over the coming decades.</p>
<p>"The Department for Transport has worked closely with Transport for London and has accepted many of its recommendations, which will put passengers first by reducing delays, improving passenger safety and significantly increasing capacity on routes into, and across, London."</p>
            <p>
<p><strong>Notes to editors:</strong></p>
<ul>
<li>Rail 2025 is the rail section of TfL's strategy document, Transport 2025. It supports the Mayor's vision for London and is integrated with the national transport agenda.&nbsp; It is available on TfL's website.&nbsp; It forms TfL's submission to the Department for Transport on plans to accommodate London's growth, by improving service reliability and increasing capacity on both trains and stations</li>
<li>HLOS supports the development of the Thames Gateway by increasing capacity on the Tilbury route</li>
<li>The proposed increase in capacity in London rail termini must be matched by tube line upgrades so, once in London, passengers can move on easily through the city<br></li></ul>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "This press release was originally released by the press office of the Greater London Authority.The Mayor of London, Ken Livingstone, and Transport for London (TfL) today warmly welcomed the publication of the Department for Transport's High Level Output";}
        
        


 