


@{ViewBag.Title = "Disruption to be minimised during Christmas engineering works at Liverpool Street Station";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>Disruption to be minimised during Christmas engineering works at Liverpool Street Station</h1>
        <div class="content-page-press-release">
        02 July 2007
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">



 <div class="on-this-page">
<p>
<p>Transport for London (TfL) has today outlined plans for a vital engineering project to replace a dilapidated bridge near Liverpool Street station.</p>
<p>The 120-year-old iron and brick structure is so large it will take 10 days to carry out demolition, and means that Liverpool street station will need to close for the duration. </p>
<p>Liverpool Street Underground station will remain open during the 10-day period.</p>
<p>The work is being carried out as part of a &pound;1.4 billion investment that will see the huge improvements to London's rail network including the rebuilding and extension of the East London line as part of the new London Overground network.</p>
<p>The station will be closed from 23 December 2007 and will re-open at 4am on 2 January 2008, in time for people to get back to work after the Christmas break. </p>
<p>Closing the station at this time will affect fewer people than at any other time in the year, with passenger numbers typically between 40 and 80 per cent down compared to normal days.</p>
<p>A wide range of alternative travel arrangements will be available over the period to enable passengers to complete their journeys, and compensation packages will be offered to local residents affected by the work.</p>
<p>Where possible, TfL has sought to retain original structures when developing the East London line.</p>
<p>This has been possible in the case of the Victorian bridge at Kingsland, but is not feasible at Liverpool Street.</p>
<p>Engineers carried out a significant investigation into the retaining the bridge, but the structure is no longer fit for purpose and its position is unsuitable for the direction of the new East London line tracks.&nbsp;&nbsp;&nbsp; </p>
<p>When the East London line is complete, it will re-open in a hugely improved and extended form, running from Dalston in the north to West Croydon in the south. </p>
<p>Part of the integrated London Overground network, it will be linked to a revitalised North London Railway, and served by brand new high-fequency trains connecting 20 of the Capital's 33 boroughs. </p>
<p>Julie Dixon, Head of Stakeholder Engagement, TfL, said: 'This work is vital to the completion of the East London line that, as part of London Overground, will radically improve the Capital's transport network.&nbsp;</p>
<p>'We recognise that it will impact on passengers and local residents over these 10 days, but we will be going to every possible length to ensure that disruption is kept to a minimum. </p>
<p>'We are offering various alternative routes and are letting everyone know in good time. </p>
<p>'Residents affected by the work are being fully informed and consulted,&nbsp;and those affected will be offered temporary accommodation, double-glazing to protect them from noise and dust, and other forms of compensation.</p>
<p>'Although we try to retain existing structures, it is simply not possible in this case as the bridge is in a terrible state of disrepair and is in the wrong position for the East London line tracks.</p>
<p>'Unfortunately, the improvements can only be carried out when the station is shut, and the work has therefore been scheduled for over the Christmas period, when the smallest number of passengers will be affected.'</p>
<p>A Network Rail spokesperson said: 'We are working closely with Transport for London to minimise disruption and to give the travelling public the information that they need to plan their journeys this Christmas.</p>
<p>'We are keen to deliver the maximum benefit for passengers during the closure.</p>
<p>'Network Rail will therefore also be carrying out &pound;7m of other improvements, which will mean better train services in and out of Liverpool Street Station in the future.'</p>
<p>At the same time as these improvements, Network Rail will carry out a programme of upgrade work, including the renewal of overhead lines and track, which will mean better train services in and out of Liverpool Street station in the future. </p>
<p>
<hr>

<p>
<p><strong>Notes to Editors:</strong></p>
<ul>
<li>The bridge, known as GE19, is 120 years old and has been out of use for decades. This means that unlike many other great&nbsp;Victorian engineering structures it is no longer safe to use. It is also in the wrong position for the new East London line tracks </li>
<li>Demolition of the current bridge means removing some 12,000 tonnes of brickwork. The new bridge is the length of three Wimbledon Centre Courts. It will be put into place in Spring 2008 </li>
<li>When Christmas Eve falls on a Monday, train operators carry 40 per cent less passengers because many people have already left London during the weekend. During working days in the Christmas/New Year period passenger numbers are down 80 per cent on a &nbsp;normal working day. The timing of this work will also mean that people returning to work on January 2 after the holiday break, would &nbsp;not be disrupted </li>
<li>Demolition of the bridge by Network Rail will cost &pound;2m. Network Rail is also carrying out a further &pound;7m of upgrade work </li>
<li>Alternative routes:<br>
<ul>
<li>Train operator 'one' will be putting alternative travel arrangements in place and is notifying passengers by leaflets being distributed at stations and information on its website </li>
<li>West Anglia and Stansted Express will start/terminate at Tottenham Hale, Seven Sisters and Walthamstow Central stations to allow interchange with the London Underground. Some trains will terminate at Hackney Central with passengers being passed onto TfL buses to Liverpool Street station </li>
<li>Metro Services will terminate at Stratford with London Underground connections to London, which will include an enhanced service on the Central line. A shuttle train service will operate to Brentwood, with a bus operating between Brentwood and Shenfield </li>
<li>Southend Services will run as a train shuttle between Southend and Billericay with connecting buses to c2c services to Fenchurch Street </li>
<li>Mainline services will operate to Ingatestone where buses will run to and from Liverpool Street, with the exception of 27 and 28 December where a limited service to Stratford will operate.</li></ul></li>
<li>London Underground alternative routes: <br>
<ul>
<li>Victoria Line to Tottenham Hale to meet Stansted Express services. The Victoria Line will easily handle the increase in passenger numbers during this period </li>
<li>As a precaution, Central line services will be increased from 24 trains per hour to 30 trains per hour during the closure </li>
<li>Jubilee Line services to Stratford will run as usual - the line easily has the capacity to handle the extra passengers </li></ul></li></ul>
<p><br></p>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "Transport for London (TfL) has today outlined plans for a vital engineering project to replace a dilapidated bridge near Liverpool Street station.The 120-year-old iron and brick structure is so large it will take 10 days to carry out demolition, and means";}
        
        


 