


@{ViewBag.Title = "DLR on track for Stratford International as &pound;67m contract awarded";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>DLR on track for Stratford International as &pound;67m contract awarded</h1>
        <div class="content-page-press-release">
        02 July 2007
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">



 <div class="on-this-page">
<p>
<p>Docklands Light Railway (DLR), part of Transport for London (TfL), has awarded its main construction contract to build the &pound;238m DLR Stratford International extension to a Skanska and GrantRail joint venture.</p>
<p>The &pound;67m works, funded by TfL's Investment Programme and a contribution from the Olympic Delivery Authority, will play a key role in the transport plans for the 2012 Games and act as a catalyst for regeneration in East London.</p>
<p>The extension will run from Stratford International to Canning Town and be connected to the Beckton and future Woolwich Arsenal DLR routes.</p>
<p>It is expected that DLR services will commence on the extension in 2010.</p>
<p>Ken Livingstone, Mayor of London, said: 'This is a further step in delivering the transport legacy from the London Games and shows how the benefits for London will last for many years after 2012.</p>
<p>'As well as providing excellent transport links for athletes, workers and spectators for the Games,&nbsp; people in East London will benefit from 21st century rail connections with the rest of London and the wider transport network.'<br>&nbsp;<br>Olympic Delivery Authority Director of Transport Hugh Sumner said: 'The DLR will be an integral part of our transport plans for the Games which will help transform the Lower Lea Valley into one of the best connected areas in the capital.</p>
<p>'The award of this contract keeps us on track to ensure the London 2012 Games are the best connected ever and will bring economic and social benefits that go far beyond 2012, and far beyond sport.'</p>
<p>Jonathan Fox, Director Docklands Light Railway, said: 'This is a hugely significant contract and demonstrates Docklands Light Railway's commitment to 2012 delivery and local regeneration.</p>
<p>'Docklands Light Railway has developed an excellent working relationship with Skanska and GrantRail and we look forward to opening the extension in good time for the 2012 Games.</p>
<p>'With Docklands Light Railway passenger numbers continuing to grow and our other extension to Woolwich well underway these are exciting times for the railway.'</p>
<p>Bill Hocking, Managing Director of Skanska's Civil Engineering Operating Unit, said: 'We are pleased that our performance on package 8 and our relationship with GrantRail and DLR has contributed to our success on package 6.&nbsp;</p>
<p>'We look forward to continuing our excellent working relationship on this project.'</p>
<p>Andrew Richards, GrantRail's Southern Region Director, said: 'We are delighted to be awarded Package 6 with our joint venture partners Skanska to deliver the new Docklands Light Railway extension in time for the 2012 Games, this follows on closely from the joint venture's award of Package 8 earlier this year.</p>
<p>'This is a significant development for GrantRail's business, utilising all aspects of the GrantRail Group's resources and further establishing our credentials in the major projects market sector and further enhances the excellent links already established with Skanska.'</p>
<p>The contract involves:<br></p>
<ul>
<li>The conversion of the former North London Line railway tracks between Stratford and Canning Town to Docklands Light Railway technology</li>
<li>Upgrading existing stations to Docklands Light Railway standards</li>
<li>The construction of four new stations</li>
<li>The formation of a new Docklands Light Railway link between Stratford and Stratford International</li></ul>
<p>A separate &pound;39m contract comprising the extension's enabling works, which included track alignment and the construction of the foundations and shell of the Docklands Light Railway Stratford International station, was similarly awarded to a Skanska and GrantRail joint venture in January 2007.</p>
<p>The remaining funding for the extension will cover costs including a connection to the existing Docklands Light Railway network at Canning Town, signalling and power works.</p>
<p>
<hr>
</p>
<p><strong>Notes to Editors:</strong></p>
<ul>
<li>A route map and artists' impressions of the Stratford International Extension are available on request</li>
<li>The construction work for the Docklands Light Railway Stratford International Extension is divided into three work 'packages'. This latest contract award is package 6, the previous Skanska / GrantRail&nbsp;contract package 8&nbsp;and further junction works, package 7, were awarded to Taylor Woodrow in May 2007</li>
<li>When complete, the Docklands Light Railway extension will operate between Stratford International and Beckton/Woolwich Arsenal, serving existing stations at Canning Town, West Ham and Stratford and new stations at Star Lane, Abbey Road, Stratford High Street and Stratford International</li>
<li>A new interchange at Stratford International will connect the Docklands Light Railway with domestic and international rail services operating on the Channel Tunnel Rail Link. The Stratford International Docklands Light Railway station will be at the heart of the Stratford City development</li>
<li>Train services along the route will increase from the previous two per hour on the North London Line to at least six per hour on the Docklands Light Railway, with more at peak times. During the 2012 Games, Docklands Light Railway trains will run every two to three&nbsp;minutes on the extension with capacity for approximately 13,500 passengers per hour in each direction</li>
<li>The Docklands Light Railway Woolwich Arsenal extension will open in February 2009</li>
<li>Further information on Docklands Light Railway is available at <a href="http://www.dlr.co.uk">www.dlr.co.uk</a><br></li></ul>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "Docklands Light Railway (DLR), part of Transport for London (TfL), has awarded its main construction contract to build the &pound;238m DLR Stratford International extension to a Skanska and GrantRail joint venture.The &pound;67m works, funded by TfL's";}
        
        


 