


@{ViewBag.Title = "Docklands Light Railway to increase capacity by 50 per cent with three-car trains";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>Docklands Light Railway to increase capacity by 50 per cent with three-car trains</h1>
        <div class="content-page-press-release">
        31 July 2007
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">



<div class="pull-quote">
        <div class="quote-body">"This will boost the local economy and help deliver our transport plans"</div>
        <div class="quote-footer">
            <div class="quotee-name">Ken Livingstone</div>
            <div class="quotee-job-title">Mayor of London</div>
        </div>
</div>

 <div class="on-this-page">
<span class="right">
                    
                </span><p>Transport for London (TfL)&nbsp;today&nbsp;confirmed plans to introduce&nbsp;longer trains&nbsp;on&nbsp;the busiest parts of the&nbsp;Docklands Light Railway&nbsp;(DLR) from 2009, which will lead to a 50 per cent increase in capacity by 2010.</p>        
            
                        
            
                    <div class="pullquote right">
                        <p>
                            This will boost the local economy and help deliver our transport plans 
                            
                        </p>
                    </div>
                
            
            
            <p>
<p>This&nbsp;follows Department&nbsp;for&nbsp;Transport&nbsp;approval enabling&nbsp;the DLR to plan&nbsp;upgrades to all its routes.&nbsp;&nbsp;&nbsp;<br>&nbsp;<br>The planning approval&nbsp;will allow the&nbsp;lengthening&nbsp;of platforms, strengthening&nbsp;of viaducts and upgrading&nbsp;of railway infrastructure&nbsp;in order to allow the operation of three car trains. </p>
<p>Three-car services will start between Bank to Lewisham in 2009, and on&nbsp;other parts of the network from 2010*.&nbsp;&nbsp;<br>&nbsp;<br>Both the Woolwich Arsenal extension, which will open in 2009, and Stratford International extension, set to open in 2010, have been designed to operate three-car trains. </p>
<h2>Increased capacity</h2>
<p>The London City Airport extension, which opened in December 2005, was designed and built&nbsp;for three-car operation.&nbsp;&nbsp;<br>&nbsp;<br>Mayor of London, Ken Livingstone, said: "Longer platforms and trains on the Docklands Light Railway will deliver 50 per cent increased capacity, benefiting&nbsp;passengers and&nbsp;local&nbsp;communities. </p>
<p>"This&nbsp;will&nbsp;boost&nbsp;the local economy and help deliver&nbsp;our transport plans for the 2012&nbsp;Olympic&nbsp;Games."<br>&nbsp;<br>DLR Director Jonathan Fox said: "This decision is great news for our passengers because the Docklands Light Railway is now in a position to keep pace with its ever-increasing demand.<br>&nbsp;<br>"More and more passengers are using the Docklands Light Railway every day.&nbsp;&nbsp;It's a growing railway, bringing business, jobs and regeneration to&nbsp;all the&nbsp;areas it&nbsp;serves."<br>&nbsp;<br></p>
            <p>
<p><strong>Notes to editors:</strong>&nbsp;&nbsp;</p>
<ul>
<li>* Although the Beckton route has received the relevant upgrade permissions it has not yet achieved&nbsp;full&nbsp;funding; no platforms will be extended&nbsp;between Custom House and Beckton for the time being</li>
<li>Images of DLR three-carriage trains are available on request</li>
<li>Passenger numbers on the DLR grew strongly again this year with a record level of more than 60 million passengers carried and reliability continues to increase, to 97.8 per cent, playing a major role in both the regeneration of east London and the development of infrastructure for the 2012 Games</li>
<li>Planning approval was granted via a Transport and Works Act (TWA) application, which was submitted to Government on 31 August &nbsp;2006</li>
<li>TWA&nbsp;applications are made for powers to construct and operate railways, tramways and other guided transport schemes. DLR has &nbsp;achieved five TWA approvals in five years</li>
<li>Three-carriage trains will operate on the Bank-Lewisham route in 2009</li>
<li>The three-carriage works include a proposal to upgrade a major junction situated at the heart of the DLR network. This would remove a current capacity constraint which is caused by two main DLR routes crossing at a &nbsp;level junction. The upgrade will provide a new grade separated route and allow more frequent services to operate. The works could &nbsp;be completed by late 2009 to coincide with the start of three-carriage operation on the Bank - Lewisham route</li>
<li>Further information is available <a href="http://www.dlr.co.uk">online</a> </li></ul>
<p>&nbsp;</p>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "Transport for London (TfL)&nbsp;today&nbsp;confirmed plans to introduce&nbsp;longer trains&nbsp;on&nbsp;the busiest parts of the&nbsp;Docklands Light Railway&nbsp;(DLR) from 2009, which will lead to a 50 per cent increase in capacity by";}
        
        


 