


@{ViewBag.Title = "Docklands Light Railway draws up public arts strategy";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>Docklands Light Railway draws up public arts strategy</h1>
        <div class="content-page-press-release">
        03 July 2007
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">



 <div class="on-this-page">
<p>
<p>Docklands Light Railway (DLR), part of Transport for London (TfL), is today launching its first ever public arts strategy. The strategy sets in motion a series of activities to mark DLR's 20th anniversary in August.</p>
<p>Developed with Modus Operandi Art Consultants and building on the success of TfL's Platform for Art programme, the strategy will see permanent and temporary public art installed on DLR stations, trains, public spaces and trackside over the next few years. </p>
<p>DLR's Shadwell station and the future Langdon Park and Woolwich Arsenal stations have been earmarked as locations for new permanent art commissions, with others set to follow.</p>
<p>Jonathan Fox, Director of Docklands Light Railway, said: 'Since Docklands Light Railway became operational in 1987 it has had a hugely positive impact on the areas through which it runs and is often visible to the local communities it connects.</p>
<p>'Our Public Arts Programme will be a natural extension of this and will adding a visually striking element to the Docklands Light Railway.</p>
<p>'The launch of the strategy fittingly commences our 20th anniversary celebrations and presents the opportunity to mark our achievements, contribute to the rich diversity of the area we serve and add a strong cultural element to future work.</p>
<p>'We look forward to bringing the strategy to life and adding a new dimension to the passenger experience.'</p>
<p>Vivien Lovell, Director of Modus Operandi, said: 'The subject of art in public transport systems has a long and distinguished history, from early precedents such as the Moscow Underground and the Stockholm Metro to current programmes in Paris, Lisbon and New York. </p>
<p>'The Docklands Light Railway's Public Arts Strategy capitalises on the railway's unique qualities, its elevated viewpoint and its role as a key regenerative force in an area which houses the greatest concentration of artists in the capital, as well as the site of the 2012 Games.</p>
<p>'Permanent as well as temporary art will be commissioned: collaborations, artist-designed spaces, installations, light, sound, ecological and planting projects, sculpture, land art, poetry and performance.</p>
<p>'Projects that engage communities and cultural organisations will underpin the programme.</p>
<p>'We look forward to using our longstanding expertise on the Public Arts Programme for the benefit of the DLR and its public.'</p>
<p>Alan Williams, a celebrated London-based photographer, has been appointed to produce DLR's first temporary commission.</p>
<p>Entitled Sidetrack, the project reveals images of the ordinary and the extraordinary, in places often unfamiliar to passengers, along the route of the DLR.</p>
<p>The work will be displayed at a launch event being held today and can be seen on stations and trains across the DLR network during July and August. </p>
<p>For a copy of the strategy, or for more information, contact Naomi Spencer at DLR on 020 7363 9744 or <a href="mailto:nspencer&#64;dlr.tfl.gov.uk">nspencer&#64;dlr.tfl.gov.uk</a></p>
<p>
<hr>
</p>
<p><strong>Notes to Editors:</strong></p>
<ul>
<li>Four artists have been shortlisted for the permanent art commission for Shadwell station, while an artist has been selected for Woolwich Arsenal. Further details will be confirmed at a later date</li>
<li>A Docklands Light Railway public art website will soon be going live at <a href="http://www.dlrart.co.uk">www.dlrart.co.uk</a></li>
<li>For more information on Platform for Art, go to <a href="http://www.tfl.gov.uk/pfa">www.tfl.gov.uk/pfa</a></li>
<li>For more information on Modus Operandi Art Consultants, go to <a href="http://www.modusoperandi-art.com">www.modusoperandi-art.com</a></li>
<li>For more information on Alan Williams, go to <a href="http://www.alanwilliamsphotography.com">www.alanwilliamsphotography.com</a><br></li></ul>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "Docklands Light Railway (DLR), part of Transport for London (TfL), is today launching its first ever public arts strategy. The strategy sets in motion a series of activities to mark DLR's 20th anniversary in August.Developed with Modus Operandi Art";}
        
        


 