


@{ViewBag.Title = "Early closing Mondays to Thursdays on Victoria line";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>Early closing Mondays to Thursdays on Victoria line</h1>
        <div class="content-page-press-release">
        13 July 2007
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">



<div class="pull-quote">
        <div class="quote-body">"While planning the programme we have taken care to cause minimum disruption to passengers"</div>
        <div class="quote-footer">
            <div class="quotee-name">Howard Collins</div>
            <div class="quotee-job-title">Deputy Chief Operating Officer</div>
        </div>
</div>

 <div class="on-this-page">
<span class="right">
                    
                </span><p>The Victoria line will be closing early Mondays to Thursdays from 23 July for four months, for line upgrade works to be carried out during the night.<br></p>        
            
                        
            
                    <div class="pullquote right">
                        <p>
                            While planning the programme we have taken care to cause minimum disruption to passengers
                            
                        </p>
                    </div>
                
            
            
            <p>
<p>The Victoria line upgrade is one of London Underground's (LU) largest investment projects and is part of Transport for London's &pound;10bn Investment Programme.</p>
<p>Passengers should start their journeys by 9.50pm or use alternative routes via other Underground lines, existing local bus and National Rail routes. </p>
<p>Or they can use two dedicated Rail Replacement Bus services between Finsbury Park and Walthamstow Central, calling at Manor House for the Piccadilly line and all intermediate Victoria line stations, and between Victoria and Brixton, calling at Pimlico, Vauxhall and Stockwell. </p>
<p>The Rail Replacement Buses will run a service until the normal time the Victoria line usually closes. </p>
<p>Howard Collins, Deputy Chief Operating Officer said:&nbsp; "While planning the programme we have taken care to cause minimum disruption to passengers. </p><strong>
<h2>Leaflets available</h2>
<p></strong>&nbsp;"Leaflets are available at Victoria line stations to guide you round the affected areas and to make your journeys as easy as possible.</p>
<p>"The current Victoria line trains have been running for 40 years and carry 165 million passengers per year. </p>
<p>"By 2025 it is estimated that customer numbers will rise to 213 million per year. </p>
<p>"To meet the extra demand and provide faster, more reliable journeys both the trains and line are being upgraded. </p>
<h2>New trains</h2>
<p>"The new trains will gradually be introduced from autumn 2009. </p>
<p>"The carriages will have CCTV, wheelchair access, better ventilation, and improved visual audio customer information systems.</p>
<p>"In order to do this the track must be renewed, the power supply upgraded, and new signalling and control systems need to be installed. </p>
<p>"Before being introduced the trains must also be thoroughly tested to comply with all safety and operational standards.&nbsp; </p>
<h2>Full and partial line closures at weekends</h2>
<p>"There will also need to be full and partial line closures at weekends. </p>
<p>"This line upgrade work is being carried out by Metronet, who are responsible for maintenance and renewal on the Victoria line."</p>
<p>In addition to the leaflets there has been a full publicity campaign about the early closure with posters at Victoria line stations, station public address systems and electronic indicators giving advance warning of the early closure, newspaper and billboard advertising. <br></p>
<p><strong>As an indication the following last train times will apply:</strong> </p>
<p><strong>Walthamstow Central/Seven Sisters </strong><br>21:54 southbound all stations to Brixton (from Walthamstow Central)<br>22:02 southbound all stations to Brixton (from Seven Sisters)</p>
<p><strong>Oxford Circus</strong> <br>22:17 southbound all stations to Brixton&nbsp; <br>22:23 northbound all stations to Walthamstow Central<br>22:33 northbound all stations to Seven Sisters</p>
<p><strong>Brixton </strong><br>22:11 northbound all stations to Walthamstow Central<br>22:21 northbound all stations to Seven Sisters</p>
<p>Valid Underground tickets will be accepted on local bus services.</p>
<p><strong>The following National Rail services will also accept LU tickets:</strong></p>
<ul>
<li>Liverpool Street to and from Walthamstow Central - Tottenham Hale - Seven Sisters, operated by ONE </li>
<li>Victoria to and from Herne Hill via Brixton, operated by Southeastern </li>
<li>Elephant &amp; Castle to and from Herne Hill, operated by First Capital Connect </li>
<li>Waterloo to and from Vauxhall, operated by South West Trains</li></ul>
<p>Customers are advised to check the <a href="http://www.tfl.gov.uk/check">website</a>&nbsp;or ring the 24-hour Travel Help Line on 020 7222 1234 for up to date details of planned engineering work and Rail Replacement Bus service on the Tube, and to check National Rail Enquiries on 08457 48 49 50 or&nbsp;on their <a href="http://www.nationalrail.co.uk/">website</a>&nbsp; for details of National Rail engineering.<br></p>
<p>
<hr>

<p>
            <p><strong>Notes to editors<br></strong>
<ul>
<li>TfL is investing &pound;10 billion to improve and expand London's transport network,&nbsp;more than&nbsp;half of that of being spent on the Tube</li>
<li>Tube Lines is responsible for the maintenance and renewal of Jubilee, Northern and Piccadilly lines</li>
<li>Metronet Rail BCV is responsible for the maintenance and renewal of the Bakerloo, Central, Victoria and Waterloo &amp; City lines</li>
<li>Metronet Rail SSL is responsible for the maintenance and renewal of the sub surface lines - the Circle, District, Hammersmith &amp; City, Metropolitan and East London lines<br></li></ul>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "The Victoria line will be closing early Mondays to Thursdays from 23 July for four months, for line upgrade works to be carried out during the night.The Victoria line upgrade is one of London Underground's (LU) largest investment projects and is part of";}
        
        


 