


@{ViewBag.Title = "First Piccadilly line trains travel to Heathrow Terminal 5";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>First Piccadilly line trains travel to Heathrow Terminal 5</h1>
        <div class="content-page-press-release">
        18 July 2007
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">



<div class="pull-quote">
        <div class="quote-body">"This improved service will underline that public transport is the sensible choice for travel to and from Heathrow airport"</div>
        <div class="quote-footer">
            <div class="quotee-name">Ken Livingstone</div>
            <div class="quotee-job-title">Mayor of London</div>
        </div>
</div>

 <div class="on-this-page">
<div class="pullquote right">
                        <p>
                            This improved service will underline that public transport is the sensible choice for travel to and from Heathrow airport
                            
                        </p>
                    </div>
                
            
            
            <p>London Underground begins trial operations, with first passenger services due when T5 opens in March 2008. </p>
<p>The Piccadilly line extension to Heathrow Terminal 5 celebrated a major step today, as it was handed over by BAA to London Underground to start trial operations, on time and on budget. </p>
<p>Tube trains will now run to the station for the first time, to ensure that all aspects of the rail service can be operated safely and reliably, ahead of the first passenger services when Terminal 5 opens on 27 March 2008.&nbsp; </p>
<p>The trials will also allow staff training to take place. </p>
<p>The Piccadilly line extension to Heathrow Terminal 5 is the first on the Tube network since the extension of the Jubilee line to Stratford in 1999.&nbsp; </p>
<p>1.7km tunnels had to be constructed to carry the extended Piccadilly line to the site of the new Terminal 5.</p>
<p>Ken Livingstone, Mayor of London, said: "This is a major milestone in the delivery of the new Piccadilly Line extension to Heathrow Terminal 5. </p>
<p>"From March 2008, passengers will benefit from faster, more frequent services on the line along with increased capacity. </p>
<p>"This improved service will underline that public transport is the sensible choice for travel to and from Heathrow airport."</p>
<p>Mike Challis, Piccadilly line General Manager, said: "The extension of the Piccadilly line to Heathrow Terminal 5 is a key project. </p>
<p>"We will now test the trains to ensure they are ready for the opening of T5 in March next year. </p>
<p>"Once Heathrow T5 opens, a new service on the Piccadilly line will provide direct journeys to passengers between Heathrow T123 and Heathrow T5, bypassing Heathrow T4, whilst the service to Heathrow T4 will remain unchanged.</p>
<p>"Looking to the future, the Piccadilly line will be upgraded by 2014 as part of Transport for London's &pound;10bn Investment Programme. </p>
<p>"The upgrade will provide the line with a new signal control system, new trains and a new Line Control Centre."</p>
<p>Ian Fugeman, BAA Head of Rail and Tunnels said: "Seeing Tube trains inside the Terminal 5 station is hugely satisfying; it is the culmination of many years of hard work and successful project management by BAA. </p>
<p>"I am delighted to have worked in partnership with London Underground, Tube Lines and our many other consultants and contractors to deliver this rail extension which is an integral part of the public transport strategy for Terminal 5."&nbsp;&nbsp;&nbsp; </p>
<p>Ian Copeland, Director of Projects from Tube Lines said: "The signalling system for the new part of the Piccadilly line was a complex project involving extensive integration work at Earl's Court, Hatton Cross and the new part of the line, including additional capacity in London Underground's control room.</p>
<p>"Tube Lines was able to complete the bulk of the physical work in a short window after construction works were completed through meticulous planning, installing state-of-the-art equipment and using a sophisticated simulator which meant that testing and training were quicker. This integrated and innovative approach helped us deliver our work on time and below budget."</p>
<p>
<hr>

<p>
<p>&nbsp;</p>
            <p>
<p>Notes to Editors:<br></p>
<ul>
<li>When the Piccadilly line Extension opens, Piccadilly line services to Heathrow will operate as follows: 
<ul type="square">
<li>Central London - T4 (via T4 Loop) - T123 (northern platform) - Central London </li>
<li>Central London - T123 (southern platform) - T5 (this service then reverses as follows) </li>
<li>T5 - T123 (northern platform) - Central London</li></ul></li>
<li>The current service patterns are as follows: 
<ul type="square">
<li>Central London&nbsp;- Terminal 4 -Terminals 1,2,3&nbsp;- Central London</li></ul></li>
<li>The Piccadilly line extension to Heathrow Terminal 5 is wholly funded by Heathrow Airport Ltd, a subsidiary of BAA. The Terminal 5 station will be operated by BAA via the Heathrow Express Operating Company </li>
<li>The construction of both the tunnels and the new junction for the Piccadilly line extension has involved close working relationships between several different organisations and contractors, including:<br>&nbsp;&nbsp;-&nbsp; BAA<br>&nbsp;&nbsp;-&nbsp; London Underground<br>&nbsp;&nbsp;-&nbsp; Balfour Beatty<br>&nbsp;&nbsp;-&nbsp; Mott MacDonald<br>&nbsp;&nbsp;-&nbsp; Morgan Vinci Joint Venture<br>&nbsp;&nbsp;-&nbsp; Tube Lines<br>&nbsp;&nbsp;-&nbsp; Citylink Telecommunications<br>&nbsp;&nbsp;-&nbsp; EDF </li>
<li>&nbsp;From 13 January 2008, twelve trains per hour will operate each day at peak time from Central London to the Heathrow Branch of the Piccadilly Line </li>
<li>These services split at Hatton Cross: 
<ul type="square">
<li>Six trains per hour will travel to Terminal 4, where they will stand for approximately 7 minutes, before returning to Central London via Terminals 123 </li>
<li>The remaining 6 trains per hour will run from Hatton Cross to Terminals 123 and then onto Terminal 5. These return from Terminal 5 to Terminals 123 and then direct to Hatton Cross </li>
<li>Public service to Terminal 5 commences 27 March 2008</li></ul></li>
<li>The combination of these services will provide 6 trains per hour from Central London to Terminals 123 but 12 from Terminals 123 back to Central London.</li></ul>
<ul>
<li>Terminal 5 </li>
<li>Members of the public interested in seeing Terminal 5 before it opens can register to take part in proving trials. These will start in late September and will continue until March 2008. For more information go to: <a href="http://www.heathrowairport.com/terminal5">www.heathrowairport.com/terminal5</a> </li>
<li>BAA's &pound;4.3bn Terminal 5 project is 90 per cent complete and is on budget and on schedule to open in March 2008. From September 2007 a six month period of training and operational proving trials begins. When complete T5 will provide Heathrow Airport with the capacity for an additional 30 million passengers per annum. Heathrow currently handles 68 million passengers currently each year </li>
<li>For information about Terminal 5 please contact the Heathrow Airport Press Office on: 020 8745 7224</li></ul>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "London Underground begins trial operations, with first passenger services due when T5 opens in March 2008. The Piccadilly line extension to Heathrow Terminal 5 celebrated a major step today, as it was handed over by BAA to London Underground to start";}
        
        


 