


@{ViewBag.Title = "Heathway bus diversions starting 16 July 2007";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>Heathway bus diversions starting 16 July 2007</h1>
        <div class="content-page-press-release">
        13 July 2007
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">



 <div class="on-this-page">
<div class="pullquote right">
                        <p>
                            London Buses advises all passengers to plan their journeys in advance 
                            
                        </p>
                    </div>
                
            
            
            <p>
<p>From Monday 16 July 2007, the southbound service on routes 173, 174 and 175 will be diverted at The Heathway in Dagenham for four months.</p>
<p>The diversion is to allow for a complete road re-build on The Heathway as part of Barking and Dagenham Council's Heathway regeneration programme. </p>
<p>Due to the maintenance work being carried out between Reede Road and Church Elm Lane on The Heathway, the southbound bus stop outside Dagenham Heathway Station will not be served.&nbsp; </p>
<p>The northbound carriageway will remain open during this time. </p>

<p>Buses will not serve stops on the diversion apart from a bus stop opposite Dagenham East Station, providing passengers with a link to the Underground network.</p>
<p>This diversion is expected to add approximately 15 minutes to passengers' southbound journeys.&nbsp; </p>

<p>To alleviate pressure on services, London Buses will be providing a free temporary shuttle bus (route 574) which will run from The Bull Roundabout to New Road, via Church Elm Road.&nbsp; </p>
<p>London Buses advises all passengers to plan their journeys in advance and use alternative routes where possible. </p>
<p>&nbsp;</p>
<p>&nbsp;</p>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "From Monday 16 July 2007, the southbound service on routes 173, 174 and 175 will be diverted at The Heathway in Dagenham for four months.The diversion is to allow for a complete road re-build on The Heathway as part of Barking and Dagenham Council's";}
        
        


 