


@{ViewBag.Title = "Huge environmental benefits of the new Docklands Light Railway extension";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>Huge environmental benefits of the new Docklands Light Railway extension</h1>
        <div class="content-page-press-release">
        16 July 2007
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">



<div class="pull-quote">
        <div class="quote-body">"It has brought real environmental benefits with people opting to use the DLR when travelling to the airport, instead of relying on cars and taxis"</div>
        <div class="quote-footer">
            <div class="quotee-name">Richard De Cani</div>
            <div class="quotee-job-title">DLR Head of Development and Planning</div>
        </div>
</div>

 <div class="on-this-page">
<div class="pullquote right">
                        <p>
                            It has brought real environmental benefits with people opting to use the DLR when travelling to the airport, instead of relying on cars and taxis
                            
                        </p>
                    </div>
                
            
            
            <p>
<p>A new report has shown that&nbsp;the Docklands Light Railway (DLR) extension to London City Airport has brought huge environmental benefits with around 120,000 fewer taxi rides and 288,000 fewer car journeys having been necessary, reducing carbon dioxide emissions by over 156 tonnes. </p>
<p>The report, compiled by Innovacion, a business support consultancy, showed that of those passengers travelling to London City Airport 49 per cent had gone by the new&nbsp;DLR extension, and that this is the highest proportion carried by any airport rail link in the UK. </p>
<p>The extension, opened ahead of schedule and on budget in December 2005, runs from Canning Town via London City Airport to King George V, North Woolwich. </p>
<p>It was introduced to provide passengers with the first fixed public transport link to the airport and assist the regeneration of the surrounding area.</p>
<p>The extension is acting as a lifeline for the local community, which previously suffered from a lack of accessible, cost-effective public transport. </p>
<h2>Popular</h2>

<p>It has opened up access to jobs, education and leisure facilities and is expected to act as a trigger for improved accessibility for local residents. </p>
<p>The extension has proved far more popular with local communities and business passengers than ever predicted.</p>
<p>Just under one third of North Woolwich residents use the DLR and the number of people using King George V station at the end of the extension has doubled, according to the report. </p>
<p>Richard De Cani, DLR Head of Development and Planning, said: "This study has clearly demonstrated what a success the DLR London City Airport extension has been. </p>
<h2>Enormously encouraging</h2>
<p>"It has brought real environmental benefits with people opting to use the DLR when travelling to the airport, instead of relying on cars and taxis, and has therefore made a huge impact in cutting harmful carbon dioxide emissions.</p>

<p>"It is enormously encouraging to have achieved so much after only 12 months, and we eagerly anticipate the ongoing development of the extension and neighbouring community. </p>
<p>"The DLR has recently recorded its highest ever annual passenger numbers, at over 60 million, which has clearly been in part due to the success of the London City Airport route. </p>
<p>"We now look forward to the further extension of the DLR to Woolwich Arsenal from King George V, which will open in 2009."</p>
<p>
<hr>

<p>
            <p>
<p><strong>Notes to editors </strong></p>
<ul>
<li>Docklands Light Railway is part of Transport for London</li>
<li>Seventy per cent of those interviewed gave business and commuting as their reason for travel</li>
<li>Before the London City Airport extension opened only 31&nbsp;per cent&nbsp;of the airport's customers used public transport to make their journey</li>
<li>In total, 1.8m people travelled to London City Airport during the 12-month period December 2005/December 2006</li>
<li>A total of 4.2 million passengers used the extension during the year. This number was originally forecast to be reached only after three years of operation</li>
<li>Copies of the report, 'London City Airport Extension Monitoring Report Year One', are available by emailing <a href="mailto:planning&#64;dlr.tfl.gov.uk">planning&#64;dlr.tfl.gov.uk</a> &nbsp;or telephoning 020 7987 4244</li>
<li>In September 2006 London City Airport station won best 'Local Transport Integration Project' at the Community Rail Awards</li>
<li>Quicker journey times giving improved business efficiency with London City Airport-to-Canary Wharf journey time reduced from 23 &nbsp;minutes by road to 14 minutes, journey time to Bank reduced from 38 minutes by road to 22 minutes and journey time to Westminster &nbsp;reduced 48 minutes by road to 28 minutes</li></ul>
<p>&nbsp;</p>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "A new report has shown that&nbsp;the Docklands Light Railway (DLR) extension to London City Airport has brought huge environmental benefits with around 120,000 fewer taxi rides and 288,000 fewer car journeys having been necessary, reducing carbon dioxide";}
        
        


 