


@{ViewBag.Title = "London Underground responds to PPP Arbiter's Metronet BCV Extraordinary Review draft Interim Determination";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>London Underground responds to PPP Arbiter's Metronet BCV Extraordinary Review draft Interim Determination</h1>
        <div class="content-page-press-release">
        16 July 2007
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">



<div class="pull-quote">
        <div class="quote-body">"I am determined to make the case that the public should not be forced to pay a penny for Metronet's inefficiencies"</div>
        <div class="quote-footer">
            <div class="quotee-name">Tim O'Toole</div>
            <div class="quotee-job-title">LU Managing Director</div>
        </div>
</div>

 <div class="on-this-page">
<div class="pullquote right">
                        <p>
                            I am determined to make the case that the public should not be forced to pay a penny for Metronet's inefficiencies
                            
                        </p>
                    </div>
                
            
            
            <p>
<p>PPP Arbiter indicates award of &pound;121m, as London Underground reaffirms that Metronet's total cost overruns should be borne largely by company and its shareholders</p>
<p>London Underground today reaffirmed its view that Metronet's total projected cost overruns should be borne by the company and its shareholders, not Londoners.</p>
<p>Metronet originally submitted to the PPP Arbiter for an Interim Determination of &pound;400m, and last Thursday, July 12 added a request for an additional &pound;151m, making a total Interim Determination claim of &pound;551m.</p>
<p>The PPP Arbiter's draft determination is that Metronet should receive &pound;121m, a little more than a fifth of its claim, payable through the Infrastructure Service Charge after the company requested &pound;551m over the next year, as part of the Extraordinary Review of its Infraco BCV contract. </p>
<p>The Arbiter also stated that "if Metronet BCV had delivered in an efficient and economic way, its costs would have been lower than baseline in the first four years of the contract".&nbsp; </p>
<p>The Arbiter therefore directed that there should be no increase in Metronet's BCV Infrastructure Service Charge until January 2008 and made clear that it would only be paid if Metronet is able to fulfil its obligations.</p>
<p>The &pound;551m Interim Determination award was sought by Metronet as part of its total BCV Extraordinary Review submission of &pound;992m.</p>
<p>London Underground Managing Director, Tim O'Toole said:"We have consistently made clear that Metronet has failed to deliver in an efficient and economic way and that is why it has accumulated such a significant cost overrun over the four years of its contract to date.&nbsp; We believe the Arbiter's draft determination supports that view.</p>
<p>"It remains our belief, and is our submission to the PPP Arbiter, that Metronet's total projected cost overruns should be borne largely by the company and its shareholders.</p>
<p>"We shall now continue to make our case to the PPP Arbiter ahead of his final Interim Determination, which is due in two weeks time.&nbsp; I am determined to make the case that the public should not be forced to pay a penny for Metronet's inefficiencies.</p>
<p>"It is essential that this process must not divert Metronet and their shareholders from the need to radically improve their performance.&nbsp; The promised improvements to Tube track, trains, signals and stations must be delivered, on time and on budget." 
<hr>

            <p>Notes to Editors:<br>
<ul>
<li>Metronet Rail BCV is responsible for the maintenance and renewal of the Bakerloo, Central, Victoria and Waterloo &amp; City lines; and Metronet Rail SSL (Sub-Surface Lines) is responsible for the maintenance and renewal of the Circle, District, Hammersmith &amp; City, Metropolitan and East London lines</li></ul>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "PPP Arbiter indicates award of &pound;121m, as London Underground reaffirms that Metronet's total cost overruns should be borne largely by company and its shareholdersLondon Underground today reaffirmed its view that Metronet's total projected cost";}
        
        


 