


@{ViewBag.Title = "Massive success as up to 4 million turn out to watch Le Tour";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>Massive success as up to 4 million turn out to watch Le Tour</h1>
        <div class="content-page-press-release">
        08 July 2007
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">



 <div class="on-this-page">
<span class="right">
</span>
<p>As the first stage of the 2007 Tour de France nears its conclusion the Transport Commissioner for London, Peter Hendy, congratulated all involved in delivering a hugely successful event in the Capital.</p>
<p>
</p>
<p>With estimates of over 2 million spectators in London over the weekend, and initial estimates thought to number a further 2 million through Kent this has been a phenomenal success for all involved.  </p>
<p>It shows once again that the UK can not only attract large events but that we have the skills and infrastructure to deliver them to a world class standard.</p>
<p>This has also been a superb advertisement for cycling, not just at the elite sporting level but for the profile of cycling in general.  I believe that the Tour has helped in our push to see many more Londoners helping to accelerate and deepen the cycling renaissance that the capital is already experiencing.<br />
</p>
<p>
</p>
<p>1.      London Development Agency is the Mayor of London's agency for driving London's sustainable economic growth.  Its job is to make sure London remains a global success story - next year, the next decade and beyond, promoting London as the World City.</p>
<p>2.      The South East England Development Agency (SEEDA) is the Government funded Agency responsible for the sustainable economic development and regeneration of the South East of England - the driving force of the UK's economy. Our aim is to create a prosperous, dynamic and inspirational region by helping businesses compete more effectively, training a highly skilled workforce, supporting and enabling our communities while safeguarding our natural resources and cherishing our rich cultural heritage.</p>
<p>3.      The London Grand D&eacute;part of the Tour de France has been supported by UK Sport's National Lottery-funded World Class Events Programme, which aims to secure events of strategic importance that deliver a range of lasting benefits. These include economic, social and cultural benefits as well as improving sporting performance by home athletes, encouraging participation and leaving a legacy of facilities and development initiatives. Over 120 sporting events have been staged in the UK through the Programme since 1997. More at <a href="http://www.uksport.gov.uk/">http://www.uksport.gov.uk/</a>  </p>
<p>4.      British Cycling is the internationally recognised governing body of cycling in the UK: running the number one ranked GB cycling team; servicing 20,000 members; and providing thousands of sport and leisure cycling opportunities every year. Visit <a href="http://www.britishcycling.org.uk/">http://www.britishcycling.org.uk/</a>, <a href="http://www.everydaycycling.com/">http://www.everydaycycling.com/</a>   Or contact <a href="mailto:pressoffice&#64;britishcycling.org.uk">pressoffice&#64;britishcycling.org.uk</a> </p>
<p>5.      Visit London is the official visitor organisation for London. Our role is to promote London as the most exciting city on the planet, targeting domestic and overseas leisure and business visitors as well as Londoners. Visit London works in partnership with the Mayor, the London Development Agency and the tourism industry in London.  </p>
<p>6.            Canterbury is a world-class destination, with a perfect blend of historic features and modern facilities. To visitors the city is Simply Inspirational, while the rest of the Canterbury district offers fabulous coast and countryside, ensuring that modern-day pilgrims are bound to be spoilt for choice.</p>
<p>7.      Kent County Council is rated as a four star authority and is responsible for providing a wide range of services for Kent's 1.3 million residents. Services provided include roads, schools, social services, libraries, adult education centres, trading standards and planning which affect the daily lives of people living, visiting or working in Kent. Kent is one of the largest counties in England and is widely known as the Garden of England for its stunning countryside. For more information visit: <a href="http://www.kent.gov.uk/">http://www.kent.gov.uk/</a></p>
<p>8.      Medway is one of the biggest and most significant urban areas in the south-east outside London, made up of the towns of Strood, Rochester, Chatham, Gillingham and Rainham, and rural outlying areas. Medway Council works in partnership with private, public and voluntary sectors to serve the people of Medway. The council is responsible for an established and successful programme of events, reflecting the area's rich and diverse history. Medway is an integral part of the Thames Gateway and is striving to become the city of learning, culture, tourism and high technology for the gateway.</p>
<p>9.      The Royal Parks Agency manages eight Royal Parks across London, balancing the responsibility to conserve and enhance these unique environments with creative policies to encourage access and to increase opportunities for enjoyment, education, entertainment, sport and healthy recreation. These Royal Parks comprise 5000 acres of parkland hosting a rich diversity of wildlife, including many rare and endangered species. The Royal Parks Agency works hard to create living environments where insects, invertebrates, birds and mammals can flourish, as well as making wildlife as accessible as possible to all visitors. </p>
<p>10.     Sport England is a non-departmental public body and Lottery distributor which exists to sustain and increase participation in community sport. Through the Tour de France, Sport England is encouraging people to be inspired and get involved in cycling in their local communities. Simply log on to <a href="http://www.sportengland.org">www.sportengland.org</a> to find out more about opportunities to take part in cycling where you are.</p>
<p> </p>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "As the first stage of the 2007 Tour de France nears its conclusion the Transport Commissioner for London, Peter Hendy, congratulated all involved in delivering a hugely successful event in the Capital.With estimates of over 2 million spectators in London";}
        
        


 