


@{ViewBag.Title = "Mayor hails success of Saturday's Tour de France Prologue ";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>Mayor hails success of Saturday's Tour de France Prologue </h1>
        <div class="content-page-press-release">
        07 July 2007
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        Estimated one million spectators watch the start of the world's biggest annual sporting event
        
    </div>



 <div class="on-this-page">
<div class="pullquote right">
<p>
The Tour de France is a superb opportunity to promote London as a cycling city. The number of people taking to two wheels has soared by 83 per cent over the last seven years.
</p>
</div>
<p>The Mayor of London Ken Livingstone, has hailed the Prologue of the Tour de France in London a huge success after an estimated one million people packed the streets of the capital to cheer on the world's greatest cyclists. </p>
<p>The Mayor, who dropped the flag for the first rider, said: "The first day of the Tour de France in London has demonstrated that the capital is an unrivalled location for major international sporting events. Hundreds of thousands of spectators have enjoyed a thrilling, free day out today having seen world-class cyclists speed through the streets of London.   </p>
<p>"Congratulations to all the riders for putting on a magnificent sporting performance today, especially Fabian Cancellara, who stormed to victory winning the first Prologue staged in the capital. </p>
<p>"The Tour de France is a superb opportunity to promote London as a cycling city. The number of people taking to two wheels has soared by 83 per cent over the last seven years.  We want the excitement of this weekend to encourage even more people to take up cycling."</p>
<p>The route for the Prologue involved the riders speeding, one after the other, at one minute intervals, around some of London's best known landmarks situated around the 7.9km course.</p>
<p>From the starting ramp in Whitehall, the riders tore past Big Ben and around Parliament Square before hurtling up Victoria Street and turning towards Buckingham Palace. From there, they headed up Constitution Hill to Hyde Park Corner, entered the park and circled the Serpentine. On exiting the park, riders negotiated a tight corner at the bottom of Park Lane before heading back down Constitution Hill before reaching the finish line on The Mall.</p>
<p>Riders were cheered throughout by the crowds with the most noise being reserved for the final sprint towards the finish line. The fastest time of eight minutes and 50 seconds was recorded by Swiss rider Fabian Cancellara from Team CSC, who earns the right to wear the famous yellow jersey and lead the peloton out over Tower Bridge to the official start at Greenwich, as stage one of the Tour de France commences on Sunday morning.</p>
<p>Hours before the riders sped through the streets of London, the Tour de France Publicity Caravan set off through the Prologue route to build excitement for the race.</p>
<p>The Tour was welcomed to London with different activities throughout the city including the People's village - an event to celebrate and promote cycling in Hyde Park - and 18 giant screens throughout the capital where onlookers cheered the riders on.  An additional 11,000 cycle parking spaces were made available for spectators.</p>
<p>The Grand D&eacute;part continues tomorrow: <br />
<br />
<strong>Sunday 8 July Tour de France Stage One</strong> - A 203 km stage starting on the Mall in central London through South East London into Kent with the finish in Canterbury:</p>
<p>Caravan leaves the Mall at 8.40;<br />
Riders leave the Mall at 10.25. <br />
In addition, there will be a number of events taking place across London: </p>
<p><strong>The People's Village Hyde Park</strong> - A free entry event celebrating and promoting cycling.  Taking place on Friday, Saturday and Sunday and featuring French and British food and drink, information about how to get into cycling, entertainment and giant screens to watch the action. </p>
<p><strong>Hyde Park Cycling Festival</strong> - A free event on Sunday 8 July with cycling activities on a 3.5km section of the Tour de France Prologue course within Hyde Park. The programme includes over 300 elite, international athletes competing in a wide variety of races, from the London Youth Games finalists, to national level youth and women races, showcasing the best British talent. </p>
<p><strong>Festivals and Events</strong> - On Saturday 7 and Sunday 8 July there will be a huge range of free festivals and events taking place in Central London and along the Stage One route in London and Kent.  For more details visit http://www.tourdefrancelondon.com/ or call 020 7222 1234.<br />
</p>
<p>
</p>
<ol style="list-style-type: decimal;">
    <li>PDF maps of the route are available to media from TfL Press Office on request.</li>
    <li>Full details of the route for the Tour de France Prologue on Saturday 7 July and Stage One on Sunday 8 July are available at www.tourdefrancelondon.com.</li>
    <li>London Development Agency is the Mayor of London's agency for driving London's sustainable economic growth.  Its job is to make sure London remains a global success story - next year, the next decade and beyond, promoting London as the World City.</li>
    <li>The South East England Development Agency (SEEDA) is the Government funded Agency responsible for the sustainable economic development and regeneration of the South East of England - the driving force of the UK's economy. Our aim is to create a prosperous, dynamic and inspirational region by helping businesses compete more effectively, training a highly skilled workforce, supporting and enabling our communities while safeguarding our natural resources and cherishing our rich cultural heritage.</li>
    <li>The London Grand D&eacute;part of the Tour de France has been supported by UK Sport's National Lottery-funded World Class Events Programme, which aims to secure events of strategic importance that deliver a range of lasting benefits. These include economic, social and cultural benefits as well as improving sporting performance by home athletes, encouraging participation and leaving a legacy of facilities and development initiatives. Over 120 sporting events have been staged in the UK through the Programme since 1997. More at <a href="http://www.uksport.gov.uk">www.uksport.gov.uk</a>. </li>
    <li>British Cycling is the internationally recognised governing body of cycling in the UK: running the number one ranked GB cycling team; servicing 20,000 members; and providing thousands of sport and leisure cycling opportunities every year. Visit <a href="http://www.britishcycling.org.uk">www.britishcycling.org.uk</a>, <a href="http://www.everydaycycling.com">www.everydaycycling.com</a>   Or contact <a href="mailto:pressoffice&#64;britishcycling.org.uk">pressoffice&#64;britishcycling.org.uk</a>.</li>
    <li>Visit London is the official visitor organisation for London. Our role is to promote London as the most exciting city on the planet, targeting domestic and overseas leisure and business visitors as well as Londoners. Visit London works in partnership with the Mayor, the London Development Agency and the tourism industry in London. </li>
    <li>Canterbury is a world-class destination, with a perfect blend of historic features and modern facilities. To visitors the city is Simply Inspirational, while the rest of the Canterbury district offers fabulous coast and countryside, ensuring that modern-day pilgrims are bound to be spoilt for choice.</li>
    <li>Kent County Council is rated as a four star authority and is responsible for providing a wide range of services for Kent's 1.3 million residents. Services provided include roads, schools, social services, libraries, adult education centres, trading standards and planning which affect the daily lives of people living, visiting or working in Kent. Kent is one of the largest counties in England and is widely known as the Garden of England for its stunning countryside. For more information visit: <a href="http://www.kent.gov.uk">www.kent.gov.uk</a>.</li>
    <li>Medway is one of the biggest and most significant urban areas in the south-east outside London, made up of the towns of Strood, Rochester, Chatham, Gillingham and Rainham, and rural outlying areas. Medway Council works in partnership with private, public and voluntary sectors to serve the people of Medway. The council is responsible for an established and successful programme of events, reflecting the area's rich and diverse history. Medway is an integral part of the Thames Gateway and is striving to become the city of learning, culture, tourism and high technology for the gateway.</li>
    <li>The Royal Parks Agency manages eight Royal Parks across London, balancing the responsibility to conserve and enhance these unique environments with creative policies to encourage access and to increase opportunities for enjoyment, education, entertainment, sport and healthy recreation. These Royal Parks comprise 5000 acres of parkland hosting a rich diversity of wildlife, including many rare and endangered species. The Royal Parks Agency works hard to create living environments where insects, invertebrates, birds and mammals can flourish, as well as making wildlife as accessible as possible to all visitors.</li>
    <li>Sport England is a non-departmental public body and Lottery distributor which exists to sustain and increase participation in community sport. Through the Tour de France, Sport England is encouraging people to be inspired and get involved in cycling in their local communities. Simply log on to <a href="http://www.sportengland.org">www.sportengland.org</a> to find out more about opportunities to take part in cycling where you are.</li>
</ol>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "The Mayor of London Ken Livingstone, has hailed the Prologue of the Tour de France in London a huge success after&nbsp;an estimated&nbsp;one million people packed the streets of the capital to cheer on the world's&nbsp;greatest&nbsp;cyclists.&nbsp;The";}
        
        


 