


@{ViewBag.Title = "Mayor and Transport for London welcome &pound;18.5m funding for the Gospel Oak to Barking line ";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>Mayor and Transport for London welcome &pound;18.5m funding for the Gospel Oak to Barking line </h1>
        <div class="content-page-press-release">
        30 July 2007
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">



<div class="pull-quote">
        <div class="quote-body">"This investment will help us to push forward with improving suburban rail services"</div>
        <div class="quote-footer">
            <div class="quotee-name">Ken Livingstone</div>
            <div class="quotee-job-title">Mayor of London</div>
        </div>
</div>

 <div class="on-this-page">
<span class="right">
                    
                </span><p>Ken Livingstone, the Mayor of London, has welcomed the Government announcement of &pound;18.5m in funding to upgrade the Gospel Oak to Barking line in North London.<br></p>        
            
                        
            
                    <div class="pullquote right">
                        <p>
                            This investment will help us to push forward with improving suburban rail services 
                            
                        </p>
                    </div>
                
            
            
            <p>
<p>The line's signalling system will be overhauled so that Transport for London (TfL) can run a more reliable service and double the existing number of passenger trains, when it takes control of the North London line as part of the London Overground network in November this year.&nbsp; </p>
<p>The line will be served by new air-conditioned trains, with a more frequent service easing congestion and transforming the journeys of passengers along the route. </p>
<p>An upgrade to the track will also bring economic and environmental benefits, enabling new, larger, freight containers from ports in the South East to be carried more easily on this key cross-London route, and reducing the need to transport freight on London's roads.&nbsp;</p>
<p>The upgrade will also mean greater flexibility for the routing of freight traffic while work for the London 2012 Olympic and Paralympic Games is carried out on the North London line.</p>
<p>The Department for Transport's announcement follows a joint bid by&nbsp;TfL and Network Rail to the Transport Innovation Fund. </p>
<p>The Department's &pound;18.5m boost will be complemented by &pound;16.5m from Network Rail, which will also carry out the upgrade work. </p>
<h2>Fully integrated</h2>
<p>Ken Livingstone said: "This investment will help us to push forward with improving suburban rail services in London, raising standards to better integrate them with London Underground and bus services, with the goal of a fully integrated public transport network which is safe, secure and reliable.</p>
<p>"The investment will transform this particular line and give a boost to economic development along the route."</p>
<p>Ian Brown, Managing Director, TfL London Rail, said:&nbsp; "This is very good news for Londoners. </p>
<p>"The Department for Transport's funding will make a major contribution to improve the efficiency of London's rail network in time for the 2012 Games, and will accommodate the expected growth of freight from ports in the South East. </p>
<h2>Doubling capacity</h2>
<p>"The scheme allows Transport for London to provide four trains per hour on the Gospel Oak to Barking line where new trains are delivered, doubling the passenger capacity on the route". </p>
<p>Network Rail's Route Enhancement Manager John Wilson said: "This announcement further underlines the consensus behind investing in our rail network.</p>
<p>"Improving key routes like Gospel Oak to Barking will encourage more people and larger quantities of freight off of the roads and onto the railway. </p>
<p>"This will mean significant benefits for our economy and for the environment."</p>
<p>
<hr>

<p>
            <p>
<p><strong>Notes to editors:</strong></p>
<ul>
<li>Passenger train services on the Gospel Oak to Barking line are operated under the Silverlink Metro franchise until 11 November 2007 </li>
<li>On 11 November 2007, responsibility for passenger operations on the line will transfer to TfL and be part of the London Overground network, which will consist of the North and East London Railways</li>
<li>The North London Railway includes:&nbsp;the Gospel Oak to Barking line; the North London Line (Richmond to Stratford); the London Euston to Watford Junction local line; and the West London Line (Willesden Junction to Clapham Junction via Kensington Olympia)</li>
<li>The scheme will increase the gauge on the line to enable 'high cube' freight containers (9ft 6 inches in height) to be transported by rail on standard cost-effective wagons. This type of container is becoming the standard size for deep sea container ships</li>
<li>More support for rail freight was recommended by the recent Eddington Report ('Transport's role in sustaining UK's Productivity and Competitiveness: The Case for Action')</li></ul>
<p>&nbsp;</p>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "Ken Livingstone, the Mayor of London, has welcomed the Government announcement of &pound;18.5m in funding to upgrade the Gospel Oak to Barking line in North London.The line's signalling system will be overhauled so that Transport for London (TfL) can run";}
        
        


 