


@{ViewBag.Title = "Mayor and London Underground act to ensure smooth transition for Metronet lines";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>Mayor and London Underground act to ensure smooth transition for Metronet lines</h1>
        <div class="content-page-press-release">
        18 July 2007
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">



<div class="pull-quote">
        <div class="quote-body">"My message to all Tube users is that they should be assured that this will not undermine services and that all trains will continue to run and all stations will remain open"</div>
        <div class="quote-footer">
            <div class="quotee-name">Ken Livingstone</div>
            <div class="quotee-job-title">Mayor of London</div>
        </div>
</div>

 <div class="on-this-page">
<div class="pullquote right">
                        <p>
                            My message to all Tube users is that they should be assured that this will not undermine services and that all trains will continue to run and all stations will remain open
                            
                        </p>
                    </div>
                
            
            
            <p>
<p>Metronet Rail BCV Limited and Metronet Rail SSL Limited,&nbsp;the companies responsible for the maintenance and renewal of the Bakerloo, Central, Victoria, and Waterloo &amp; City lines and Circle, District, Hammersmith &amp; City, Metropolitan and East London lines, today entered Administration.</p>
<p>Under the terms of the Public Private Partnership (PPP) contracts and the Greater London Authority Act (1999), a PPP Administrator has now been appointed by the Courts.&nbsp;</p>
<p>The PPP Administrators are Alan Bloom, Maggie Mills, Roy Bailey and Stephen Harris of Ernst &amp; Young LLP.&nbsp;</p>
<p>Tube services will not be affected by the appointment of Administrators.</p>
<p>London Underground passengers and staff should be assured that all action necessary is being taken to ensure the continued safe and reliable operation of Underground services on the lines maintained by Metronet.</p>
<p>The purpose is to ensure the continuation of Metronet's maintenance and renewal activities pending the transfer of the Infraco's activities to a new operating company.</p>
<p>The Mayor of London, Ken Livingstone, said: "Today I have directed Transport for London, under the powers given to me under the Greater London Authority Act, to petition the courts to make a PPP administration order in relation to Metronet.</p>
<p>"My message to all Tube users is that they should be assured that this will not undermine services and that all trains will continue to run and all stations will remain open."</p>
<p>LU Managing Director, Tim O'Toole, said: "London Underground routinely carries out business continuity planning and treats failure of any of its key suppliers as a key business risk that it keeps under continuous review.</p>
<p>"Our priority is the delivery of a safe and reliable Tube service for passengers and therefore we had no option but to undertake considerable planning for the possibility that Metronet's financial difficulties would require it to enter Administration.</p>
<p>"It is also important that this issue does not distract from the ultimate objective here and that is the renewal of London Underground.&nbsp; </p>
<p>"We will be working with the Mayor, Government and the PPP Administrator to ensure that the renewal of the Tube is delayed as little as possible.&nbsp; </p>
<p>"The capacity enhancements that will be delivered by the upgrade of the Tube are absolutely essential for London's future prosperity and growth."</p>
<p>A press conference will be held later today.&nbsp;Newsdesks will be issued with an operational note advising on details later this morning.<br>
<hr>
<br>
<p>
            <p>
<p>Editors notes:</p>
<ul>
<li>Metronet have two London Underground Public Private Partnership (PPP) contracts, for the maintenance and renewal of the Tube's infrastructure - the trains, tracks, tunnels, signals and stations - Metronet Rail BCV Limited &amp; Metronet Rail SSL Limited </li>
<li>An "Infraco" is an infrastructure company, under the PPP structure </li>
<li>Metronet Rail BCV Limited is responsible for the maintenance and renewal of the Bakerloo, Central, Victoria and Waterloo &amp; City lines </li>
<li>Metronet Rail SSL Limited is responsible for the maintenance and renewal of the Sub-Surface Lines - the Circle, District, Metropolitan, Hammersmith &amp; City and East London lines </li>
<li>The remaining PPP contract for the Jubilee, Northern and Piccadilly lines is held by Tube Lines </li>
<li>For answers to common questions, go to <a href="http://www.tfl.gov.uk/metronetquestions">www.tfl.gov.uk/metronetquestions</a></li></ul>
<p>&nbsp;</p>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "Metronet Rail BCV Limited and Metronet Rail SSL Limited,&nbsp;the companies responsible for the maintenance and renewal of the Bakerloo, Central, Victoria, and Waterloo &amp; City lines and Circle, District, Hammersmith &amp; City, Metropolitan and East";}
        
        


 