


@{ViewBag.Title = "Nearly twice as many places to buy Oyster over next year";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>Nearly twice as many places to buy Oyster over next year</h1>
        <div class="content-page-press-release">
        24 July 2007
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">



<div class="pull-quote">
        <div class="quote-body">"Oyster is a huge success with more than 10 million cards issued since its launch in 2003"</div>
        <div class="quote-footer">
            <div class="quotee-name">Peter Hendy</div>
            <div class="quotee-job-title">TfL Commissioner</div>
        </div>
</div>

 <div class="on-this-page">
<span class="right">
                    
                </span><p>The Mayor has announced today that the number of places in London to buy Oyster is set to almost double to 4,000 over the next year.</p>        
            
                        
            
                    <div class="pullquote right">
                        <p>
                            Oyster is a huge success with more than 10 million cards issued since its launch in 2003
                            
                        </p>
                    </div>
                
            
            
            <p>
<p>Oyster machines will be issued to up to 1,900 new shops and newsagents across London. </p>
<p>Oyster is currently available at all Tube stations and more than 2,200 Oyster shops. </p>
<p>Less than three per cent of single Tube and bus tickets are now bought with cash in London. </p>
<p>Nearly three-quarters are by Oyster card.</p>
<p>Ken Livingstone, Mayor of London, said: 'Oyster fares are far cheaper than cash and they reduce queues at bus stops and ticket offices. </p>
<p>'I want all Londoners to save money by owning an Oyster card. Eighty five per cent of all Londoners already live within 400 metres of an Oyster outlet. </p>
<p>'This expansion will make using Oyster even more convenient.'</p>
<p>Transport for London (TfL)&nbsp;Commissioner, Peter Hendy, said: "Oyster is a huge success with more than 10 million cards issued since its launch in 2003. We want to build on this by making it even easier to buy and top-up across London.&nbsp; </p>
<h2>Top-up Oyster</h2>
<p>'With Oyster pay as you go expanding to National Rail services in London we aim to make the smartcard as widely available and accessible as possible for everyone.'</p>
<p>From November this year, customers will be able to buy and top-up Oyster cards at all overground rail stations on the services currently run by Silverlink Metro which will transfer to Transport for London.</p>
<p>The Mayor is also contributing &pound;20m to help fund the provision of Oyster facilities at national rail stations in London. </p>
<p>An outline agreement has been reached with London's Train Operating Companies to accept Oyster pay as you go on overland rail services into London. </p>
<p>Shashi Verma, Director of Fares and Ticketing, said: 'The machines will benefit the public making Oyster even more convenient and available. </p>
<p>'Oyster allows the transport network to run quicker and carry more passengers meeting the ever increasing demands.'</p>
<p>On the TfL website there is a facility where people can find their nearest Ticket Stop by typing in your postcode: <a href="http://ticketlocator.tfl.gov.uk/postcode-search.asp">http://ticketlocator.tfl.gov.uk/postcode-search.asp</a> <br></p>
            <p>
<p><strong>Notes to editors: </strong></p>
<ul>
<li>More than 10 million Oyster cards have now been issued and 38 million journeys a week are made each week using Oyster </li>
<li>As an example, with Oyster pay as you go you can place &pound;10 on your Oyster card and when you touch in and out at the yellow readers with your card on the Tube and DLR, the reader automatically deducts the correct fare. On buses and tram customers only need to touch in</li>
<li>Oyster is also available on-line at: <a href="http://www.tfl.gov.uk/oyster">www.tfl.gov.uk/oyster</a>, over the phone via 0845 330 9876 or at Travel Information Centres across London. You can find your nearest Oyster outlet through the TfL website</li>
<li>A returnable &pound;3 deposit is required for a pay as you go Oyster card but the money saved by switching to Oyster can cover this in just one day's travel</li>
<li>Passengers can also register the card so that the money is protected if the card is lost or stolen. Less ticket touts mean more secure stations</li>
<li>Passengers can store up to three different Travelcards or Bus Pass season tickets and pay as you go on the same Oyster card at the same time</li>
<li>Oyster cards are also used to provide free travel for Londoners aged over 60 or with an eligible disability through the Freedom Pass scheme and, on the buses and trams, under-18s in full-time education can also get Oyster photocards for free travel</li>
<li>When passengers use the Oyster card to touch in and out on the yellow readers on the bus, Tube, DLR and tram the system automatically works out the right fare for the journey within in a fifth of a second from up to 1.83 million permutations</li>
<li>Almost three times as many passengers can pass an Underground payment gate using Oyster card as can using printed tickets - 40 a minute compared to 15 a minute</li></ul>
<p><a href="http://www.tfl.gov.uk/oyster"></a>&nbsp;</p>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "The Mayor has announced today that the number of places in London to buy Oyster is set to almost double to 4,000 over the next year.Oyster machines will be issued to up to 1,900 new shops and newsagents across London. Oyster is currently available at all";}
        
        


 