


@{ViewBag.Title = "Red Bus Saver tickets are no longer valid on London Buses";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>Red Bus Saver tickets are no longer valid on London Buses</h1>
        <div class="content-page-press-release">
        01 July 2007
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">



 <div class="on-this-page">
<p>
<p>Transport for London has now (1 July) stopped accepting red Bus Saver tickets as payment for travel on all London Buses.</p>
<p>These tickets have been replaced by a new blue design as part of an ongoing anti-fraud operation. </p>
<p>&nbsp;It is believed that sophisticated counterfeits had penetrated at least 10 per cent of the red Bus Saver ticket circulation.</p>
<p>Nick Owen, Acting Head of Bus Enforcement for Transport for London (TfL), said: 'We have had to take this action to prevent the exploitation of our passengers by organised criminals. </p>
<p>'The new blue Bus Saver ticket design will work in exactly the same way as the old red tickets except they will have some clever anti-fraud measures designed to frustrate fraudsters. </p>
<p>&nbsp;'If anyone has any red tickets left at home that they wish to replace for the new design they should contact TfL - however, this process is likely to take some time as our anti-fraud teams will have to check for counterfeits.'</p>
<p>Anyone with queries about leftover red Bus Saver tickets should contact London Buses Customer Services Limited by calling 0845 300 7000 or writing to London Buses Customer Services, 84 Eccleston Square, London SW1V 1PX.</p>
<p>The new blue design of ticket has been on sale since 2 April. <br>&nbsp;</p>
<p>
<hr>

<p>
<p><strong>Notes to editors:</strong></p>
<ul>
<li>TfL funds the Metropolitan Police Service Transport&nbsp; Operational&nbsp; Command Unit, a team of more than 1,200 uniformed officers dedicated to policing the bus network, at a cost of more than &pound;70m a year </li>
<li>Officers from the Transport Operational Command Unit, working with TfL Fraud and Security, have made a number of arrests in connection with the suspected counterfeit operation </li>
<li>TfL will prosecute anyone it believes is knowingly travelling without a valid ticket for their journey </li>
<li>After 30 June any old red designs will have to be checked by TfL fraud investigators, so requests for blue ticket replacements could take some weeks to process </li>
<li>For more information, contact the TfL press office on 0845 604 4141</li></ul>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "Transport for London has now (1 July) stopped accepting red Bus Saver tickets as payment for travel on all London Buses.These tickets have been replaced by a new blue design as part of an ongoing anti-fraud operation. &nbsp;It is believed that";}
        
        


 