


@{ViewBag.Title = "Statement from Transport for London on Thames Gateway Bridge";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>Statement from Transport for London on Thames Gateway Bridge</h1>
        <div class="content-page-press-release">
        26 July 2007
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">



 <div class="on-this-page">
<div class="pullquote right">
                        <p>
                            TfL believes that the case for the Thames Gateway Bridge remains
                            
                        </p>
                    </div>
                
            
            
            <p>
<p>A TfL spokesperson said: "Transport for London&nbsp;is committed to the Thames Gateway Bridge and regrets the delay which will result from&nbsp;today's decision.&nbsp;&nbsp;</p>
<p>"Surveys conducted prior to the Inquiry showed local support for this project running at nearly 80 per cent and with just two per cent against it.</p>
<p>"TfL believes that the case for the Thames Gateway Bridge remains and is supported by the London Plan. </p>
<p>"It is a vital component of a package of new transport measures that will unlock the regeneration of the Thames Gateway. </p>
<p>"It would reduce local cross-river journey times by around 30 minutes and would create the potential for up to 42,000 new jobs in the region.</p>
<p>"The Bridge would provide an essential and overdue transport link for east London creating better access to employment opportunities and stimulating economic development. </p>
<p>"At present, there is a huge imbalance in river crossings in east London, with only three road crossings from Tower Bridge to Dartford in the east, compared to 16 road crossings between Vauxhall and the M25 in the west.</p>
<p>"The Thames Gateway's future communities and businesses must have a basic transport network that includes essential road and public transport linkages. </p>
<p>"In particularly it will prevent the build up of jobs north of the river, which will be strengthened by the 2012 Olympics, spilling over into south London. </p>
<p>"Without this, it is impossible to envisage how the Government's challenging long growth targets for 180,000 new jobs and 160,000 new houses in the entire Thames Gateway can be achieved. </p>
<p>"Transport infrastructure is already a major constraint to development.</p>
<p>"TfL will be examining in detail today's recommendations and will wish to ensure the reopened enquiry is completed as speedily as possible.</p>
<p>"We strongly believe this transport link remains a vital and integral part of the regeneration of the east London corridor."</p>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "A TfL spokesperson said: 'Transport for London&nbsp;is committed to the Thames Gateway Bridge and regrets the delay which will result from&nbsp;today's decision.&nbsp;&nbsp;'Surveys conducted prior to the Inquiry showed local support for this project";}
        
        


 