


@{ViewBag.Title = "Summer traffic campaign to improve safety urges motorists to follow the rules of the road";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>Summer traffic campaign to improve safety urges motorists to follow the rules of the road</h1>
        <div class="content-page-press-release">
        16 July 2007
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">



<div class="pull-quote">
        <div class="quote-body">"Average bus speeds are going up and journey times are going down"</div>
        <div class="quote-footer">
            <div class="quotee-name">David Brown</div>
            <div class="quotee-job-title">Director of TfL Surface Transport</div>
        </div>
</div>

 <div class="on-this-page">
<div class="pullquote right">
                        <p>
                            Average bus speeds are going up and journey times are going down
                            
                        </p>
                    </div>
                
            
            
            <p>
<p>Transport for London (TfL)&nbsp;has launched a summer marketing campaign to improve safety by urging motorists to follow the rules of the Highway Code. </p>
<p>The 'Know the rules' campaign aims to remind London drivers of the regulations and penalties involved in civil traffic offences. </p>
<p>It is part of&nbsp;TfL's aim to improve safety and reduce congestion on London's roads.</p>
<p>Campaign leaflets, roadside posters and press advertisements will remind people of the dos and don'ts of bus lanes, yellow box junctions, red routes, yellow lines and a number of other parking and traffic controls.</p>
<p>David Brown, Director of TfL Surface Transport, said: "If drivers follow road and parking regulations correctly, there are benefits to all road users. </p>

<p>"We have seen real improvements on London's roads, for example, average bus speeds are going up and journey times are going down.</p>

<p>"This campaign is designed to remind London's drivers of the regulations and penalties which exist to keep traffic on the capital's roads moving safely and efficiently."</p>
<p>Chairman of London Councils' Transport and Environment Committee, Councillor Daniel Moylan, said: "Parking and traffic enforcement can be an emotive issue with motorists. </p>

<p>"Local councils and TfL carry out parking and traffic enforcement to help all road users move around the capital as smoothly and as safely as possible.</p>
<p>"Helping people to have a better understanding of traffic regulations is a key part of our role. Not only does it help to improve people's journeys across the capital's already busy roads, but also helps drivers from contravening the rules and receiving a penalty." </p>
<p>The first phase of the campaign, which ran from October to December 2006 was welcomed by motorists. </p>

<p>Around 80 per cent of people surveyed both during and after the advertising campaign said the information had "really grabbed" their attention and had been easy to understand.</p>
<p>Crucially, 75 per cent of people said the adverts made them think about how they should act while driving; and 71 per cent of people said they would now be more likely to keep to the regulations.</p>
<p>Leaflets explaining the rules and penalties of the Moving Traffic Offences and parking regulations are currently being sent out with every Penalty Charge Notice issued by TfL. </p>
<p>They are available in large print, on audio CD and in the following foreign languages: Arabic, Bengali, Chinese, French, Greek, Gujurati, Hindi, Kurdish Kumanji, Punjabi, Spanish, Turkish, Urdu and Vietnamese. They are now also being printed in Polish.</p>
<p>For more information visit <a href="http://www.tfl.gov.uk/">tfl.gov.uk</a> </p>
<p>
<hr>

<p>
            <p>
<p>Notes to Editors: </p>
<ul>
<li>The "Know the Rules" campaign was launched this month (July 2) </li>
<li>TfL only enforces Moving Traffic Offences on the Transport for London Road Network (TLRN) </li>
<li>The UK's first city-wide two tier parking penalties scheme based on the seriousness of the contravention committed was introduced in London on July 1 </li>
<li>The scheme will mean drivers parking at bus stops, on pedestrian crossings, or in the safety zones outside schools will receive a higher penalty than those overstaying at a parking meter </li>
<li>The penalty charges for traffic and parking contraventions considered more likely to cause obstructions and congestion, including all taking place on the red route, have this month been increased from &pound;100 to &pound;120 </li>
<li>A &pound;120 penalty will be applied to serious contraventions in central London, while lesser contraventions will attract a penalty of &pound;80. In outer London the penalty will be &pound;100 and &pound;60. All penalties will be reduced by 50 per cent if paid within 14 days.&nbsp; </li>
<li>This new system will mean that motorists committing some parking contraventions will receive a &pound;20 lower penalty then they currently do </li>
<li>Motorists wrongly using bus lanes or committing moving traffic contraventions - including entering a box junction when their exits are blocked and going through a no entry sign - will receive a &pound;120 penalty wherever they are in London </li>
<li>The introduction of the scheme follows an extensive consultation with the public, motoring organisations and other interested parties carried out last year by London Councils and Transport for London (TfL) </li>
<li>The TLRN comprises 580km of London's busiest roads, many of them red routes. These roads make up around five per cent of the total London road network, but carry around 33 per cent of the capital's traffic </li>
<li>Compliance has gone up in some areas where bus mounted cameras have become a visible deterrent. At one site between July 2000 and July 2005 PCNs per hour of viewed footage reduced from 12 to 0.1 </li>
<li>Buses now travel 12.6 per cent faster in bus lanes than on normal road </li>
<li>Between the end of 2004 and the end of 2005 bus speed in bus lanes increased by five per cent </li>
<li>The results of the first phase of the Know the Rules campaign are as follows: </li>
<ul>
<li>People who said the adverts had "really grabbed their attention" were made up of 78 per cent referring to press advertisements; 82 per cent to roadside posters; and 77 per cent to radio advertisements </li>
<li>People who said the adverts were "clear and easy to understand" were made up of 84 per cent referring to press advertisements; 85per cent to roadside posters and 77per cent&nbsp;to radio advertisements</li></ul>
<li>London Councils is the organisation formerly known as the ALG. It represents the 32 London boroughs and the City of London.</li></ul>
<p>&nbsp;</p>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "Transport for London (TfL)&nbsp;has launched a summer marketing campaign to improve safety by urging motorists to follow the rules of the Highway Code. The 'Know the rules' campaign aims to remind London drivers of the regulations and penalties involved";}
        
        


 