


@{ViewBag.Title = "Tour de France weekend - what's on?";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>Tour de France weekend - what's on?</h1>
        <div class="content-page-press-release">
        05 July 2007
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">



 <div class="on-this-page">
<span class="right">
</span>
<p>The largest annual sporting event, the Tour de France, is coming to London - below is a guide to what is happening during the weekend.<br />
</p>
<p>
</p>
<p><strong>Friday 6 July </strong></p>
<ul>
    <li><strong>The People's Village Hyde Park open</strong> - A free entry event celebrating and promoting cycling<br />
    <br />
    Taking place on Friday, Saturday and Sunday and featuring French and British food and drink, information about how to get into cycling, entertainment and giant screens to watch the action<br />
    <br />
    </li>
    <li><strong>The Tour de France Opening Ceremony </strong>- A free event, from 18.15 marking the start of the Tour de France<br />
    <br />
    The Opening Ceremony will feature several highlights, including the presentation of the Tour de France riders, live entertainment and information about the Tour and the weekend's events<br />
    <br />
    A parade route where spectators can see their favourite cyclists will run from Cockspur Street, down Whitehall to the Cenotaph and back up through Admiralty Arch</li>
</ul>
<p ><br />
<strong>Saturday 7 July </strong></p>
<ul>
    <li> <strong>Tour de France Prologue</strong> - Free to view<br />
    <br />
    A 7.9km individual sprint around central London<br />
    <br />
    Riders leave at one minute intervals:<br />
    <br />
    <strong>13.00 </strong>Tour de France Publicity Caravan sets off<br />
    <strong>14.00 </strong>Riders warm up<br />
    <strong>15.00</strong> Race Start<br />
    <strong>18.20</strong> Race Ends</li>
</ul>
<p><strong>Sunday 8 July </strong></p>
<ul>
    <li><strong>Tour de France Stage One </strong>- Free to view<br />
    <br />
    A 203 km stage starting on the Mall in central London through South East London into Kent with the finish in Canterbury:<br />
    <br />
    <strong>08.35</strong> Caravan leaves the Mall <br />
    <strong>10.25</strong> Riders leave the Mall<br />
    <strong>10.40</strong> Ceremony at Tower Bridge <br />
    <strong>11.00</strong> Rolling race start - Meridian Line Greenwich <br />
    <strong>15.30 </strong>approx Race finish in Canterbury<br />
    <br />
    </li>
    <li><strong>Hyde Park Cycling Festival 11.00 - 17.30</strong><br />
    <br />
    A free event with cycling activities on a 3.5km section of the Tour de France Prologue course within Hyde Park.<br />
    <br />
    The programme includes over 300 elite, international athletes competing in a wide variety of races, from the London Youth Games finalists, to national level youth and women races, showcasing the best British talent. </li>
</ul>
<p ><br />
<strong>Festivals and Events</strong> - On Saturday 7 and Sunday 8 July there will be a huge range of free festivals and events taking place in Central London and along the Stage One route in London and Kent. </p>
<p>For more details visit the Tour de France website or call 020 7222 1234.</p>
<p>There will be a free bus and boat shuttle to transport media from Central London (Embankment Pier) to the ExCeL centre.</p>
<p>For more information and a timetable please contact TfL Press Office on 0845 604 4141.</p>
<p>
</p>
<hr />
<br />
<p> </p>
<p><strong>Notes to editors <br />
</strong>
</p>
<ul>
    <li>The publicity caravan is a huge carnival containing vehicles from the Tour de France's sponsors. The caravan contains more than 200 vehicles and floats playing music and giving out free gifts to the crowds. The caravan passes one hour before the race and goes everywhere the race goes </li>
    <li>Full details of the route for the Tour de France Prologue on Saturday 7 July and Stage One on Sunday 8 July are available by calling 020 7222 1234 </li>
    <li>London Development Agency is the Mayor of London's agency for driving London's sustainable economic growth. Its job is to make sure London remains a global success story - next year, the next decade and beyond, promoting London as a world city </li>
    <li>The South East England Development Agency (SEEDA) is the Government funded Agency responsible for the sustainable economic development and regeneration of the South East of England - the driving force of the UK's economy. Our aim is to create a prosperous, dynamic and inspirational region by helping businesses compete more effectively, training a highly skilled workforce, supporting and enabling our communities while safeguarding our natural resources and cherishing our rich cultural heritage </li>
    <li>The London Grand D&eacute;part of the Tour de France has been supported by UK Sport's National Lottery-funded World Class Events Programme, which aims to secure events of strategic importance that deliver a range of lasting benefits. These include economic, social and cultural benefits as well as improving sporting performance by home athletes, encouraging participation and leaving a legacy of facilities and development initiatives. Over 120 sporting events have been staged in the UK through the Programme since 1997. More at the <a href="http://www.uksport.gov.uk/ ">UK Sport</a> website</li>
    <li>British Cycling is the internationally recognised governing body of cycling in the UK: running the number one ranked GB cycling team; servicing 20,000 members; and providing thousands of sport and leisure cycling opportunities every year. Visit the <a href="http://www.britishcycling.org.uk/">British cycling </a>website, <a href="http://www.everydaycycling.com/ ">Every Day Cycling</a> Or contact <a href="mailto:pressoffice&#64;britishcycling.org.uk">pressoffice&#64;britishcycling.org.uk</a> </li>
    <li>Visit London is the official visitor organisation for London. Our role is to promote London as the most exciting city on the planet, targeting domestic and overseas leisure and business visitors as well as Londoners. Visit London works in partnership with the Mayor, the London Development Agency and the tourism industry in London </li>
    <li>Canterbury is a world-class destination, with a perfect blend of historic features and modern facilities. To visitors the city is Simply Inspirational, while the rest of the Canterbury district offers fabulous coast and countryside, ensuring that modern-day pilgrims are bound to be spoilt for choice </li>
    <li>Kent County Council is rated as a four star authority and is responsible for providing a wide range of services for Kent's 1.3 million residents. Services provided include roads, schools, social services, libraries, adult education centres, trading standards and planning which affect the daily lives of people living, visiting or working in Kent. Kent is one of the largest counties in England and is widely known as the Garden of England for its stunning countryside. For more information visit the <a href="http://www.kent.gov.uk/ ">Kent County Council </a>website </li>
    <li>Medway is one of the biggest and most significant urban areas in the south-east outside London, made up of the towns of Strood, Rochester, Chatham, Gillingham and Rainham, and rural outlying areas. Medway Council works in partnership with private, public and voluntary sectors to serve the people of Medway. The council is responsible for an established and successful programme of events, reflecting the area's rich and diverse history. Medway is an integral part of the Thames Gateway and is striving to become the city of learning, culture, tourism and high technology for the gateway </li>
    <li>The Royal Parks Agency manages eight Royal Parks across London, balancing the responsibility to conserve and enhance these unique environments with creative policies to encourage access and to increase opportunities for enjoyment, education, entertainment, sport and healthy recreation. These Royal Parks comprise 5000 acres of parkland hosting a rich diversity of wildlife, including many rare and endangered species. The Royal Parks Agency works hard to create living environments where insects, invertebrates, birds and mammals can flourish, as well as making wildlife as accessible as possible to all visitors </li>
    <li>Sport England is a non-departmental public body and Lottery distributor which exists to sustain and increase participation in community sport. Through the Tour de France, Sport England is encouraging people to be inspired and get involved in cycling in their local communities. Simply log on to <a href="http://www.sportengland.org">Sport England</a> to find out more about opportunities to take part in cycling where you are.<br />
    </li>
</ul>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "The largest annual sporting event, the Tour de France, is coming to London - below is a guide to what is happening during the weekend.Friday 6 July The People's Village Hyde Park open - A free entry event celebrating and promoting cyclingTaking place on";}
        
        


 