


@{ViewBag.Title = "Transport for London announces consultation over proposed change to Blackwall Tunnel overnight safety maintenance work";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>Transport for London announces consultation over proposed change to Blackwall Tunnel overnight safety maintenance work</h1>
        <div class="content-page-press-release">
        24 July 2007
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">



 <div class="on-this-page">
<div class="pullquote right">
                        <p>
                            We're considering revising this essential maintenance programme to take place at times when the tunnel is at its least busy
                            
                        </p>
                    </div>
                
            
            
            <p>
<p>Transport for London (TfL) has begun consulting with stakeholders on the weekly essential maintenance closure of the northbound Blackwall Tunnel. </p>
<p>Depending on the results of these discussions, TfL proposes carrying out the maintenance on Sunday mornings rather than Tuesday nights in order to improve safety and minimise disruption for motorists. </p>
<p>TfL believes that moving the closure from Tuesdays to Sundays, between 1am and 8am, would have a number of advantages:</p>
<ul>
<li>&nbsp;The closure would take place at a time when traffic using the road network in East London is low </li>
<li>Traffic disruption to weekday late evening travellers would be avoided, including local events at the O2&nbsp; Dome and ExCeL </li>
<li>Risks associated with operating contra-flow (two-way traffic) in the southbound tunnel would be removed. </li></ul>
<p>No changes to the timetable will be made until all stakeholders' views have been considered.</p>
<h2>Routine maintenance</h2>
<p>Should the maintenance change go ahead, Transport for London would review the change after six weeks, paying particular attention to whether the closure allows sufficient time for the necessary routine maintenance to be completed safely and to the overall impact on traffic. </p>
<p>The existing Blackwall Tunnel southbound regime of lane closure every Wednesday and Thursday night will not be affected.</p>
<p>TfL has previously closed the northbound Blackwall Tunnel every Tuesday night from 9pm till 5am the next morning. </p>
<p>This closure allows for essential routine maintenance of the tunnel and its equipment to be carried out. During this closure, contra-flow was implemented in the southbound Blackwall Tunnel.</p>
<p>The proposed weekly Sunday closure would operate without contra-flow. Traffic would be managed as follows:</p>
<ul>
<li>Northbound traffic would be allowed to continue their journey through the southbound tunnel </li>
<li>Southbound traffic would be diverted via Central London and Dartford Crossings </li>
<li>The 108 bus service which uses Blackwall Tunnel would not be diverted, but southbound buses would be individually escorted through the tunnel while northbound traffic is held at a red signal</li></ul>
<p>The Rotherhithe Tunnel would remain open during the Sunday closure times.</p>
<p>Peter Brown, Chief Operating Officer, Surface Transport, TfL said: "The northbound Blackwall Tunnel is 110 years old and the southbound tunnel is 40 years old. </p>
<p>"We're now speaking with key stakeholders, as we're considering revising this essential maintenance programme to take place at times when the tunnel is at its least busy, therefore inconveniencing the smallest possible number of road users. </p>
<p>"Regular and significant maintenance of the Blackwall Tunnel ensures the tunnel remains open at the busiest times and we continually re-examine these processes to ensure they provide the safest possible environment for the travelling public." 
<hr>
<br>
<p>........
            <p><strong>Editors Notes</strong>:</p>
<ul>
<li>TfL is proposing to stakeholders that the weekly northbound Blackwall Tunnel be changed from Tuesday nights to Sunday mornings between 1am and 8am. No changes to the timetable will be made until all stakeholders' views have been considered </li>
<li>TfL is responsible for maintaining and managing the 580km Transport for London Road Network, which, although comprising only five per cent of the Capital's roads, carries approximately 33 per cent of its traffic </li>
<li>TfL is responsible for implementing the Mayor's Transport Strategy on improving the movement of people and goods on London's streets by helping pedestrians, cyclists, bus passengers and people with disabilities</li></ul>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "Transport for London (TfL) has begun consulting with stakeholders on the weekly essential maintenance closure of the northbound Blackwall Tunnel. Depending on the results of these discussions, TfL proposes carrying out the maintenance on Sunday mornings";}
        
        


 