


@{ViewBag.Title = "Tunnel extending Docklands Light Railway to Woolwich completed";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>Tunnel extending Docklands Light Railway to Woolwich completed</h1>
        <div class="content-page-press-release">
        23 July 2007
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">



<div class="pull-quote">
        <div class="quote-body">"The Docklands Light Railway is a fantastic success story for London"</div>
        <div class="quote-footer">
            <div class="quotee-name">Ken Livingstone</div>
            <div class="quotee-job-title">Mayor of London</div>
        </div>
</div>

 <div class="on-this-page">
<div class="pullquote right">
                        <p>
                            The Docklands Light Railway is a fantastic success story for London
                            
                        </p>
                    </div>
                
            
            
            <p>
<p>The tunnel extending the Dockland Light Railway&nbsp;(DLR) under the River Thames to Woolwich Arsenal was completed on time today as the 540-tonne boring machine broke through the earth south of the Thames. <br>&nbsp;<br>The &pound;180 million, 2.5km extension will link Woolwich south of the river with&nbsp;DLR &nbsp;station, King George V, in North Woolwich, one stop away from London City Airport.&nbsp;</p>
<p>The extension will be important in improving the whole transport network in the run up to the 2012 Games.<br>&nbsp;<br>The extension will provide a direct link from Woolwich to central London (Bank station) in under half an hour, London City Airport in five minutes, Canary Wharf in 19 minutes and Stratford in 20 minutes. </p>
<p>In peak periods, trains could run every four minutes. <br>&nbsp;<br>There will also be an interchange with mainline services on the North Kent line. <br>&nbsp;<br>Ken Livingstone, Mayor of London, said: "This is another example of Transport for London (TfL)&nbsp;delivering major transport projects on time and within budget. </p>
<p>"The Docklands Light Railway is a fantastic success story for London with steadily rising passenger numbers and more and more areas being linked to improve access to new jobs and housing, helping to transform areas of East London. </p>
<p>"The extension to Woolwich will boost the local economy and completes another piece of the transport improvements the 2012 Games are already bringing to London."<br>&nbsp;<br>Nicky Gavron, Deputy Mayor of London, said: "This a major milestone in the Docklands Light Railway Woolwich Arsenal extension project, delivered on time and on budget. </p>
<p>"Once completed in 2009, this vital new transport link joins up communities across the Thames to support the regeneration of Woolwich and the southern Royal Docks, whilst forming a vital part of the 2012 Games transport legacy."<br>&nbsp;<br>Peter Hendy, London's TfL Commissioner said: "This is a crucially important day for the DLR, and local residents around here, who will benefit massively from this efficient, reliable, cross-river connection.<br>&nbsp;<br>"The DLR carried 60 million people last year and this extension is another example of how this gem of a railway is growing."<br>&nbsp;<br>Hugh Sumner, Director of Olympic Transport of the Olympic Delivery Authority, said: "The completion of this impressive tunnelling project marks a significant milestone on the road to the London 2012 Olympic and Paralympic Games.&nbsp; </p>
<p>"The Woolwich Arsenal extension will provide a fast and efficient link between the Olympic Park and the equestrian and shooting events.</p>
<p>"And it will leave an important legacy for the communities it will serve in the years after 2012."</p>

<p>
<hr>
</p>
            <p>Notes to Editors:<br>
<ul>
<li>The Woolwich Arsenal extension will open in 2009. The link to it is being designed and constructed for TfL by AMEC&nbsp; (for Woolwich Arsenal Rail Enterprises (WARE), a joint venture between AMEC and the Royal Bank of Scotland </li>
<li>The tunnel boring machine, nicknamed Carla after AMEC's site receptionist, has created two tunnels, corresponding to the two DLR tracks </li>
<li>The first was launched by the Mayor of London Ken Livingstone in April 2006, and completed in December 2006. The second tunnel finished today, was started in Febuary </li>
<li>Carla cost &pound;5 million and has removed about &nbsp;104,000 cubic metres of material - enough to fill around 1,100 double-decker buses or 40 Olympic-sized swimming pools </li>
<li>Docklands Light Railway is part of Transport for London <br>The Woolwich Arsenal extension tunnel runs as deep as 35m under the Thames </li>
<li>Woolwich Arsenal station will include step-free access, and have two entrances - Greens End and Woolwich New Road </li>
<li>The new link will connect Woolwich to London City Airport (5mins); Canary Wharf (19mins); Stratford (20mins); Bank (27mins) </li>
<li>There will be direct interchange at Woolwich Arsenal with mainline services on the North Kent line. </li>
<li>For more information on DLR visit <a href="http://www.tfl.gov.uk/dlr">http://www.tfl.gov.uk/dlr</a></li></ul>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "The tunnel extending the Dockland Light Railway&nbsp;(DLR) under the River Thames to Woolwich Arsenal was completed on time today as the 540-tonne boring machine broke through the earth south of the Thames. &nbsp;The &pound;180 million, 2.5km extension";}
        
        


 