
    
  


<!-- rhroot -->
@{ViewBag.Title = "Useful contacts";}
@{ViewBag.Keywords = "Public,TfL";}
@{ViewBag.Url = "/corporate/useful-contacts/index";}
@{ViewBag.Language = "en";}
        <!-- empty placeholder -->
 
        
        

@{
    Response.Status = "301 Moved permanently";
    Response.AddHeader("Location", "/help-and-contact/index");   
}

 
<div class="r">
    <div class="breadcrumb-container" role="navigation">
        <span id="breadcrumb-label" class="visually-hidden">You are here:</span>
        <ol class="breadcrumbs clearfix" aria-labelledby="breadcrumb-label">
            <li class="home">
                <a href="/">
                    <span class="hide-text">Home</span>
                </a>
            </li>
            
            
                <li><span class="last-breadcrumb">Useful contacts</span></li>
            
        
 
        </ol>
    </div>
</div>
     
 
<div class="r">
  <div class="headline-container plain">
    <h1>Useful contacts</h1>

  </div>
</div>
<div class="main-and-aside r">
  
  <div class="main content-container" role="main">
    
      <div class="article-teaser">
        This page includes contact information for all TfL services. For general enquiries, contact Customer Services.
        
      </div>
    
    <div class="on-this-page">
      <p>* <a href="/corporate/terms-and-conditions/tfl-call-charges">Find out about TfL call charges</a>.</p>

<h2>TfL Customer Services</h2>

<p>Contact Customer Services for all ticket enquiries including Oyster and contactless payment, travel information queries and journey planning on all methods of transport including roads. We can also help with lost property and complaints.</p>

<p><a href="https://custserv.tfl.gov.uk/icss_csip/SolutionDatabaseStart.do?nav=askQ">Search common questions or contact us online</a></p>

<p><strong>Phone: </strong>0343 222 1234*</p>

<p>You can reach all the departments below on this number but please note their opening hours:</p>

<p><strong>Travel Information and Journey Planning enquiries for all modes</strong> (24 hours)<br />
<strong>London Underground enquiries</strong> (08:00-20:00 seven days a week)<br />
<strong>DLR enquiries</strong> (08:00-20:00 seven days a week) - <a href="/help-and-contact/contact-dlr">Contact DLR online</a><br />
<strong>Buses enquiries</strong> (08:00-20:00 Monday to Friday)<br />
<strong>Street enquiries</strong> (24 hours)<br />
<strong>Emirates Air Line</strong> (08:00-20:00 seven days a week)<br />
<strong>Lost Property</strong> (08:30-16:00 Monday to Friday)</p>

<p><strong>Textphone:</strong> 0800 112 3456<br />
<strong>Fax: </strong>0343 222 6000<br />
<strong>Post:</strong><br />
TfL Customer Services<br />
4th Floor<br />
14 Pier Walk<br />
London SE10 0ES</p>

<h3>Automated Journey Planner</h3>

<p>Our Customer Services number also offers an automated service for A-to-B journeys. Just give the start and end point of any journey, and it will give you the quickest route. It can even text the journey details to your mobile phone.</p>

<p>This automated service works for:</p>

<ul>
	<li>Stations</li>
	<li>Hospitals</li>
	<li>Postcodes</li>
	<li>Points of interest and major landmarks</li>
</ul>

<p>If your journey is complicated, involves multiple locations or you have special requirements, you can still speak to one of our travel advisers.</p>

<p>If you request a text message, the average journey will usually be sent within a single message, however more complex journeys may take up to a maximum of two messages, charged at the price of a standard rate message.</p>

<h3>Tube works</h3>

<p>For concerns or queries about the impact of Tube works on your home or business:</p>

<p><strong>All London Underground lines:</strong> 0343 222 2424 *<br />
<strong>Tottenham Court Road station project or Crossrail:</strong> <a href="mailto:helpdesk&#64;crossrail.co.uk">helpdesk&#64;crossrail.co.uk</a></p>

<h2><a name="Congestion Charge"></a>Congestion Charge</h2>

<p>Pay the Congestion Charge or a Congestion Charge penalty, register for Auto Pay or a discount, ask about your account or make a general enquiry.</p>

<p><strong>Online: </strong><a href="/modes/driving/congestion-charge/contact-congestion-charge">Contact Congestion Charge</a><br />
<strong>Phone:</strong> 0343 222 2222 * (08:00-22:00 Monday to Friday or 09:00-15:00 Saturday)<br />
<strong>International:</strong> +44 (0)343 222 2222<br />
<strong>Post: </strong><br />
Congestion Charging<br />
PO Box 4782<br />
Worthing BN11 9PS</p>

<p><strong>Congestion Charge and Low Emission Zone enforcement<br />
Phone:</strong> 0333 200 1000 *</p>

<h2><a name="Dial-a-Ride"></a>Dial-a-Ride</h2>

<p>Contacts here are for general enquiries and feedback. Read full instructions for Dial-a-Ride <a href="/modes/dial-a-ride/bookings">bookings and cancellations</a>.</p>

<p><strong>Phone: </strong>0343 222 7777 *<br />
<strong>Email:</strong> <a href="mailto:DAR&#64;tfl.gov.uk">DAR&#64;tfl.gov.uk</a><br />
<strong>Fax: </strong>020 7394 5218&nbsp;<br />
<strong>Post:</strong><br />
Dial-a-Ride Passenger Services<br />
PO Box 68799&nbsp;&nbsp;&nbsp;<br />
London SE1P 4RD</p>

<h2><a name="London Overground"></a>London Overground</h2>

<p><strong>Online: </strong><a href="/help-and-contact/contact-london-overground">Contact London Overground</a><br />
<strong>Phone:</strong> 0343 222 1234 * (09:00-17:00 Monday to Friday)<br />
<strong>Email: </strong><a href="mailto:overgroundinfo&#64;tfl.gov.uk">overgroundinfo&#64;tfl.gov.uk</a><br />
<strong>Post: </strong><br />
Freepost RSTY-TJRK-JRUG<br />
London Overground Customer Services Team<br />
125 Finchley Road<br />
London NW3 6HY</p>

<h2><a name="Low Emission Zone"></a>Low Emission Zone</h2>

<p>Pay the Low Emission Zone charge, apply for an exemption or discount, pay a penalty charge or make a general enquiry.</p>

<p><strong>Online: </strong><a href="/modes/driving/low-emission-zone/contact-lez">Contact Low Emission Zone</a><br />
<strong>Phone:</strong> 0343 222 1111 * (08:00-22:00 Monday to Friday or 09:00-15:00 Saturday)<br />
<strong>International:</strong> +44 (0)343 222 1111<br />
<strong>Email:</strong> <a href="mailto:lezlondon&#64;tfl.gov.uk">lezlondon&#64;tfl.gov.uk</a><br />
<strong>Post:</strong><br />
Low Emission Zone<br />
PO Box 4784<br />
Worthing BN11 9PU</p>

<p><strong>Congestion Charge and Low Emission Zone enforcement<br />
Phone:</strong> 0333 200 1000 *</p>

<p>&nbsp;</p>

<p>&nbsp;</p>

<h2><a name="National Rail enquiries"></a>National Rail</h2>

<p>Please contact National Rail directly.</p>

<p><strong>Online: </strong><a href="http://www.nationalrail.co.uk/">National Rail</a><br />
<strong>Phone:</strong> 08457 48 49 50</p>

<h2><a name="Oyster and contactless payment enquiries"></a>Oyster and contactless payment</h2>

<p><strong>Phone: </strong>0343 222 1234 * (08:00-20:00 seven days a week)<br />
<strong>Textphone:</strong> 020 7027 8511</p>

<h2><a name="London River Services"></a>River Services</h2>

<p><strong>Phone: </strong>0343 222 1234 *<br />
<strong>Email: </strong><a href="mailto:river&#64;tfl.gov.uk">river&#64;tfl.gov.uk</a><br />
<strong>Post: </strong><br />
General Manager<br />
London River Services Limited<br />
Tower Pier<br />
Lower Thames Street<br />
London EC3N 4DT</p>

<h2><a name="Barclays Cycle Hire"></a>Santander Cycles</h2>

<p>For queries about docking station locations, assistance with registration, lost and stolen keys, general enquiries and complaints.</p>

<p><strong>Online: </strong><a href="https://web.barclayscyclehire.tfl.gov.uk/contact">Contact Santander Cycles</a><br />
<strong>Phone: </strong>0343 222 6666 *<br />
<strong>International: </strong>+44 (0)343 222 6666<br />
<strong>Post: </strong><br />
Santander Cycles<br />
PO Box 1214<br />
Enfield EN1 9ST</p>

<h2><a name="Taxis and private hire including minicabs"></a>Taxis and minicabs</h2>

<p><strong>Online:</strong></p>

<ul>
	<li><a href="/forms/12397.aspx">Comment about taxis</a></li>
	<li><a href="/forms/12396.aspx">Comment about private hire</a></li>
	<li><a href="/forms/12407.aspx">Taxi &amp; private hire comments</a></li>
</ul>

<p><strong>General queries</strong><br />
<strong>Email: </strong><a href="mailto:tph.enquiries&#64;tfl.gov.uk">tph.enquiries&#64;tfl.gov.uk</a></p>

<p><strong>Comments and complaints</strong><br />
<strong>Phone: </strong>0343 222 4444 * (08:00-18:00 Monday to Friday)<br />
<strong>Email:</strong> <a href="mailto:tph.comms&#64;tfl.gov.uk">tph.comms&#64;tfl.gov.uk</a><br />
<strong>Post:</strong><br />
Surface Transport Customer Services<br />
4th Floor, Palestra<br />
197 Blackfriars Road<br />
London SE1 8NJ</p>

<h2>Traffic Enforcement &#45; red routes</h2>

<p>Pay a red route penalty charge notice (parking, loading, moving traffic and bus lane contraventions), check the staus of a penalty charge, apply for a parking dispensation or make an enquiry or complaint.</p>

<p><strong>Online:</strong> <a href="/modes/driving/red-routes/contact-red-routes">Red routes</a><br />
<strong>Phone:</strong> 0343 222 3333 * (08:00-20:00 Monday to Friday and 09:00-15:00 Saturday)<br />
<strong>International:</strong> +44 (0)343 222 3333<br />
<strong>Post: </strong><br />
Transport for London<br />
PO Box 194<br />
Sheffield S98 1LZ</p>

<h2>Trams</h2>

<p><strong>Online: </strong>Contact Trams<br />
<strong>Phone:</strong> 0343 222 1234 * (09:00-17:00 Monday to Friday)<br />
<strong>Email: </strong><a href="mailto:tramlink&#64;tfl.gov.uk">tramlink&#64;tfl.gov.uk</a><br />
<strong>Post:</strong><br />
Tramlink House<br />
Tramlink Depot<br />
Coomber Way<br />
Croydon CR0 4TQ</p>

<h2>Victoria Coach Station</h2>

<p>Contact your <a href="/modes/coaches/coach-companies">Coach Operating Company</a></p>

<p><strong>Phone: </strong>0343 222 1234 *<br />
<strong>Post: </strong><br />
Victoria Coach Station<br />
164 Buckingham Palace Road<br />
London SW1W 9TP</p>

<p><strong>For mobility assistance: </strong><a href="http://www.tfl.gov.uk/gettingaround/23070.aspx">mobility assistance form</a></p>

<h2>Visitor Oyster cards</h2>

<p>Visit the <a href="http://visitorshop.tfl.gov.uk/help-centre/contact-us.html">Visitor tickets help centre</a> for contact details.</p>

<p>* <a href="/corporate/terms-and-conditions/tfl-call-charges">Find out about TfL call charges</a>.</p>
      
           
      
<div>



<h2>Contacts documents</h2>



<div class="multi-document-download-container">
    

<a class="document-download-wrap not-for-beta placeholder-image" href="/shared/DocumentComingSoon" data-pull-content="#body">
    <div class="document-download-text">
        <p>Contact centre operations customer promise</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!--  -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/unreasonable-persistent-complainants.pdf">
    <div class="document-download-text">
        <p>Unreasonable persistent complainants</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 63KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.06 -->
 
</div>

</div>
 
      
        
          
            @this.ScriptBlock(
              @<script>
                queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
              </script>
            )
          
        
      
    </div>
  </div>
  <div class="aside" role="complementary">

   
    
    
    
      <div data-set="sidenav-container" class="large">
        
        
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
                <a href="/corporate/useful-contacts/index" class="heading">
                    <h2 id="sub-menu-heading">Useful contacts<span class="visually-hidden"> navigation</span></h2>
                </a>
                <ul>
                    
                </ul>
            
 
 
 
 
 
 
 
 
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
      </div>
    
    <div>












<div class="advert-tile unsponsored-style google-ads" aria-hidden="true">
  <div class="advert-link">
    <div class="advert-content">
        <div class="medium-large" data-advert="/76889402/non-targeted" data-advert-sizes="300, 250"></div>
        <div class="small" data-advert="/76889402/non-targeted" data-advert-sizes="300, 250"></div>
    </div>
  </div>
</div>
@{
    ViewBag.AmazonSlot = "'amznslots'";
    ViewBag.AmazonAds = "'3199'"; // to add another value, this needs to be ViewBag.AmazonAds = "'3199','xx'";
}
      

 </div>
    
    <div data-set="sidenav-container" class="small-medium"></div>
  </div>
</div>
 
 
        
        
        
            @{ViewBag.Description = "TfL Customer Services. Tel: 0343 222 1234.  Find contact details for all TfL services on this page";}
        
            
        


 