


@{ViewBag.Title = "Competition for London bus contracts increases as NCP awarded two routes";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>Competition for London bus contracts increases as NCP awarded two routes</h1>
        <div class="content-page-press-release">
        23 March 2005
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        Competition for contracts in London's &pound;1.4 billion-a-year bus market is increasing as Transport for London (TfL) announces that National Car Parks (NCP) has been awarded its first contracts to operate London bus routes.
        
    </div>



 <div class="on-this-page">
More quality bus operators in London will increase competitiveness in the market which has expanded substantially in recent years.<br>The two five-year contracts, which begin in November, are for the 33 and 419 bus routes which run from Hammersmith in West London to Fulwell and Richmond. <br><br>Director of Performance at London Buses Clare Kavanagh said:<br><br>"The quality of London's bus services is at all time high and the number of people using the service has grown by 30% over the last three years. The challenge now is to continue to drive up quality and ensure value for money for Londoners. The introduction of NCP will increase the competitiveness of the market."<br><br>Bob Macnaughton, NCP Chief Executive, said, <br><br>"We are very excited to have won these TfL bus route contracts. It is an important development of the expertise we bring to traffic management throughout the capital. These contract awards are highly significant, representing our entry into a large market with many growth opportunities."<br><br>"This is a great endorsement from an existing client that NCP is a high quality service business." 
            The London bus network is one of the largest and most comprehensive urban systems in the world. Each weekday 8,000 London buses carry 6 million passengers on over 700 different routes. 20 operators currently run London's bus network. <br><br>Key points about expanding the London bus network: 
<ol>
<li>Bus use is up by 11% over the past year (03/04) - an extra 168 million passenger trips; 
</li><li>The number of passengers using buses is at its highest level since 1968; 
</li><li>Patronage is rising at its fastest rate since the Second World War; 
</li><li>Night bus use is up by 29% over the past year; and 
</li><li>London Buses is running the highest volume of service on London's roads than at any time since 1957. </li></ol>
<p>The news is a major development for NCP, which is UK market leader in car parking and parking enforcement, but has also successfully moved into other areas in the transport sector.<br><br>NCP already has bus expertise in park and ride contracts in Bristol and Nottingham. <br><br>NCP already provide enforcement and processing services for TfL's congestion charge operation.<br><br>For further information please contact Alun Shurmer at TfL on 020 7941 4141 or Tim Cowen at NCP on 020 7290 2345. </p>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "More quality bus operators in London will increase competitiveness in the market which has expanded substantially in recent years.The two five-year contracts, which begin in November, are for the 33 and 419 bus routes which run from Hammersmith in West";}
        
        


 