


@{ViewBag.Title = "Four police forces join the fight to beat London's robbers";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>Four police forces join the fight to beat London's robbers</h1>
        <div class="content-page-press-release">
        17 March 2005
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        As part of the Government's Street Crime Initiative and in an unprecedented operation across London, four police forces are pooling resources to tackle robbers operating on the capital's transport system.
        
    </div>



 <div class="on-this-page">
<p>British Transport Police, the Metropolitan Police, City of London Police and Surrey Police are involved in the 15 day initiative codenamed Operation Hastings. The operation began on Monday and in the first two days, 49 arrests have been made with more than 300 people checked against he Police National Computer.</p>
<p>Over 300 police officers are taking part with the aim of reducing, disrupting and detecting robberies on the rail and Underground systems, mainly in south and east London. Croydon Tramlink is also included in the operation.</p>
<p>'Robberies are a real problem for London,' commented British Transport Police Deputy Chief Constable Andy Trotter. 'They are very much part of the yob culture which causes many passengers stress and anxiety. There is a spectrum of anti-social behaviour that extends from alcohol fuelled loutish behaviour through to robberies and assaults on rail staff and passengers.</p>
<p>'There has been great success combating robberies in London (see below) supported by money from the Government's Street Crime Initiative and working with the train operators. This operation involving four forces and revenue protection staff is an important further step in that battle.'</p>
<p>Welcoming the latest police operation, Home Office Minister Hazel Blears said: 'The Home Office and the police have made great strides in tackling street crime since we launched the Street Crime Initiative, with robberies down by 24 per cent in the top 10 areas. That success is due to operations like this, where police forces work together to crack down on street crime.</p>
<p>'Street crime continues to plague the lives of too many in our capital and for victims it can be hugely distressing. I know this operation, which has already achieved some encouraging results, will help people in London feel and stay safe as they travel on public transport.'</p>
<p>'The Met are keen to support this multi force initiative aimed at restricting the criminals who use the transport networks to travel around and commit crime,' commented Commander Brian Moore, Territorial Policing, Metropolitan Police.</p>
<p>'We will continue working with our partners to drive crime down and make people feel safer as they travel in the capital.'</p>
<p>Operation Hastings has been set up as part of the Street Crime Initiative using a range of measures to crack down on robbers.</p>
<p>High profile patrols, drugs sniffer dogs (many robbers are also drug users), as well as partnership working with rail companies' Revenue Inspectors (the vast majority - about 80% - of those committing crime and causing trouble do not buy tickets) are some of the tactics in use.</p>
<p>In addition, specialist robbery squad officers are being supplemented by BTP detectives brought in from outside London.</p>
<p>In a parallel operation, the Metropolitan Police's Transport Operational Command Unit (TOCU - see below), funded by Transport for London, is committing up to 100 officers to ensure there is no displacement of crime from the rail system.</p>
<p>A special control room has been set up as well as a dedicated pan-London intelligence gathering operation covering all four forces. Robbery hotspots around London (see below) are being targeted and the intelligence cell is analysing information as it comes in, so that officers are briefed daily with the latest information based on sightings, stops, suspect interviews and searches.</p>
<p>Alongside the enforcement operation runs crime reduction activity based on stands at stations around London. A key element in this is to encourage passengers to register mobile phones, laptops and other devices with the Mobile Equipment National Database (MEND). As part of Operation Hastings, officers can conduct real time checks for stolen phones on the database.</p>
<p>'Tackling robberies on the rail system is a priority,' commented DCC Andy Trotter.</p>
<p>'These crimes are being committed mainly by young people. Young people are the victims too. Robberies are London's shame and we need London communities to fight back, to give us information on who is involved, and to help make our city's transport system much safer.'</p>
<p>
            <p><strong>Robbery figures</strong></p>
<ul>
<li>Robberies on the rail system in London were down 17% (year to February 2005 compared to 2003/04). 1,889 were reported </li>
<li>The detection rate rose three percentage points to 31% </li>
<li>40% of all robberies reported to police in England and Wales are in London (Home Office 2003/04 figures) </li>
<li>On the rail system, 85% of robberies are reported in London. </li></ul>
<p><strong>Robbery hotspots</strong><br>Police from Surrey are being deployed in areas neighbouring London. The Metropolitan Police's Transport Operational Command Unit (TOCU), which is funded by Transport for London and covers certain bus routes, is aligning its operations with Operation Hastings for the 15 day period to prevent displacement.</p>
<p><strong>Mobile phone security<br></strong>As many as 10,000 mobile phones are stolen every month. In half of all street robberies, a mobile phone is stolen.</p>
<p>The Mobile Equipment National Database (MEND) is the only UK police endorsed property registration system. It is free to use. The MEND Database is the biggest register of personal possessions such as mobile phones, laptops, ipods, PDA's etc. in the UK. See <a href="http://www.immobilise.com">www.immobilise.com</a></p>
<p><strong>Community intelligence</strong><br>Anyone with information about robbery or other crimes on the transport system can report it directly to the British Transport Police on Freefone 0800 40 50 40, or through Crimestoppers on 0800 555 111. Calls treated in strictest confidence.<br></p>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "British Transport Police, the Metropolitan Police, City of London Police and Surrey Police are involved in the 15 day initiative codenamed Operation Hastings. The operation began on Monday and in the first two days, 49 arrests have been made with more";}
        
        


 