


@{ViewBag.Title = "Improvement works at Dagenham Heathway station";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>Improvement works at Dagenham Heathway station</h1>
        <div class="content-page-press-release">
        10 March 2005
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        Work to improve the communications systems and refurbish the ticket office of Dagenham Heathway Tube station means it will close during three weekends in March, April and May.
        
    </div>



 <div class="on-this-page">
<p>The ticket hall will also close for one additional weekend later in the year.</p>
<p>The works will include improvements to CCTV and communications equipment, better lighting, new flooring in the ticket hall and redecoration.</p>
<p>The closures will take place during the following weekends:</p>
<ul>
<li>19/20 March 2005 - Ticket hall closure ONLY; </li>
<li>25/26/27/28 March 2005 (Easter weekend) - Full station closure; </li>
<li>9/10 April 2005 - Full station closure; </li>
<li>28/29/30 May 2005 (Bank Holiday weekend) - Full station closure. </li></ul>
<p>A rail replacement bus service will operate between Dagenham Heathway and Becontree Tube stations during the three weekend station closures. The bus services will meet the first and last Tube connections and run at 15 minute intervals.</p>
<p>Passengers are advised to allow more time for their journeys during this important improvement work. For more information, check out the <a href="http://www.tfl.gov.uk">TfL website </a>or call London Travel Information on <strong>020 7222 1234</strong>.<br></p>
            <ul>
<li>TfL is investing &pound;10 bn over the next 5 years to improve and expand London's transport network, more than half of that in the Tube. </li>
<li>Metronet are doing this improvement work and are responsible for the maintenance and renewal of the Circle, District, Metropolitan, Hammersmith and City and East London Line. <br></li></ul>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "The ticket hall will also close for one additional weekend later in the year.The works will include improvements to CCTV and communications equipment, better lighting, new flooring in the ticket hall and redecoration.The closures will take place during";}
        
        


 