


@{ViewBag.Title = "Kilburn track improvements";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>Kilburn track improvements</h1>
        <div class="content-page-press-release">
        10 March 2005
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        Due to the improvement works at Wembley Park Underground Station and track work at Kilburn, buses will replace trains on the Jubilee line between Kingsbury and Finchley Road on Saturday and Sunday 19 & 20 March.
        
    </div>



 <div class="on-this-page">
<p>Kevin Bootle, Jubilee line Manager said: "TfL is investing &pound;10 billion over the next five years to improve and expand London's transport network, more than half of that in the Tube.</p>
<p>"As part of that investment, Wembley Park Station is undergoing a major reconstruction. This will not only make the station more pleasant to use, but it will increase the station's capacity so that it will be ready for the opening of the new National Stadium.</p>
<p>"In addition the track is being renewed in the Kilburn area. After this is completed passengers will have a more comfortable journey because the quality of the ride will be better.</p>
<p>"I apologise for the inconvenience caused, but when this work is completed it will bring real benefits to passengers."</p>
<p>A Rail Replacement Bus service, known as Service A will operate between Kingsbury and Finchley Road calling at all intermediate stations.</p>
<p>A 15 minute train service will operate between Stanmore and Kingsbury.</p>
<p>A 6 minute train service will operate between Stratford and Finchley Road</p>
<p>The Metropolitan line train service will also be suspended south of Harrow-on-the-Hill on the same dates.</p>
<p>The Jubilee line will replace certain Metropolitan line early morning services from Baker Street with departures to Finchley Road at 0517 and 0532 on Saturday,19 March and at 0659, 0711 and 0729 on Sunday, 29 March.</p>
<p>Passengers travelling from Jubilee line stations in central London (east of Baker Street) to Harrow-on-the Hill and beyond are advised to travel by Chiltern Railways train services from Marylebone.</p>
<p>Passengers should allow plenty of extra time for their journeys, as they are likely to be increased by up to an hour and 15 minutes depending on the length of their journeys.</p>
<p>For 24-hour information on all London travel, please call <strong>020 7222 1234</strong> or visit <a href="http://www.tfl.gov.uk">TfL's website</a>.<br></p>
            <p>Tube Lines are responsible for the maintenance and renewal of the Jubilee, Northern and Piccadilly lines.</p>
<p>Metronet are responsible for the maintenance and renewal of the sub-surface lines, the Circle, District, Hammersmith & City, Metropolitan and East London lines.<br></p>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "Kevin Bootle, Jubilee line Manager said: 'TfL is investing &pound;10 billion over the next five years to improve and expand London's transport network, more than half of that in the Tube.'As part of that investment, Wembley Park Station is undergoing a";}
        
        


 