


@{ViewBag.Title = "LU plans for mobile phones in Tube stations";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>LU plans for mobile phones in Tube stations</h1>
        <div class="content-page-press-release">
        22 March 2005
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        The Mayor Ken Livingstone today (March 22) announced that London Underground (LU) is seeking proposals from suppliers to provide mobile phone use and associated technologies on Tube stations.
        
    </div>



 <div class="on-this-page">
<p>A notice has been placed in the Official Journal of the European Union seeking expressions of interest. Following this consultation with suppliers, LU may undertake a trial of mobile phone service at one station in 2006. Mobile phone services could be available to Tube passengers on all underground stations from the summer of 2008.</p>
<p>The Mayor Ken Livingstone said: "We know that many Londoners would like the convenience of being able to use their mobile phones at Tube stations throughout the Underground network. We also want to see how the technology could be taken even further, for instance wireless Internet so passengers could receive up-to-the-minute travel information via their laptop or mobile phone.</p>
<p>LU Director of Strategy &amp; Service Development, Richard Parry said: "Our research has shown that there is strong support amongst Tube customers for the provision of mobile phone services within Tube stations. "Of course, passengers can already use mobile phones on the overground sections of the Tube, which accounts for over half of the total network.</p>
<p>"We also know that there are many potential suppliers interested in working with us. The process we launch today is to start getting information from the market about how we could best provide a mobile phones service."</p>
<p>LU does not currently intend to provide coverage on Tube trains underground but, if feasible, mobile phone services could be extended across the network to include tunnels and moving trains at a later date.</p>
<p>In addition to mobile phone services, LU also intends to explore the scope for the possible introduction of associated technologies using the same infrastructure on the Tube, such as DAB digital radio, DVB digital video broadcasting and wireless Internet. It is hoped that it may be possible to introduce such new technologies primarily for Tube passengers, although LU would also like to explore the possibility of exploiting such technologies for operational purposes.</p>
<p>The development of a wireless Internet network could potentially allow passengers to access real-time Tube and London travel information on the move through their mobile phone or laptop. Passengers could access information on travel disruption before they arrive at affected stations and could amend their journey as appropriate.</p>
<p>Richard Parry continued: "We're investing billions and working hard to improve the Tube, to make it safer, cleaner and more reliable. But this will inevitably mean some disruption for passengers.</p>
<p>"We want to empower our passengers with information, and have already boosted its provision through more announcements on trains and the 'Good Service' boards at stations.</p>
<p>"This new technology would have the potential, in future, to provide passengers with real-time Tube and London travel information when they are at, or travelling through, our stations. We are very interested in exploring this potential."</p>
<p>LU will now seek the views of the private sector to identify the best solutions to meet LU and the travelling public's needs, potentially leading to a trial in 2006.</p>
<p>The Underground environment presents unique practical challenges, most notably space, power and ventilation constraints. Proposals must take these challenges into account.</p>
<p>LU is open to proposals from the market as to how revenues could be generated and shared. Income generated for LU by this venture would be re-invested in the Tube network, to fund further improvements for passengers.<br></p>
            <p>TfL is investing &pound;10bn over the next five years to improve and expand London's transport infrastructure, over half of that in the Tube. Interested parties have until the end of April 2005 to submit expressions of interest. Dependent on the market interest and proposals, LU will then decide whether to embark on a comprehensive tender exercise.</p>
<p>Peter MacLennan <strong>Senior Press Officer</strong> Email: <a href="mailto:petermaclennan&#64;tfl.gov.uk">petermaclennan&#64;tfl.gov.uk</a> Direct line: 020-7941 4425<br></p>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "A notice has been placed in the Official Journal of the European Union seeking expressions of interest. Following this consultation with suppliers, LU may undertake a trial of mobile phone service at one station in 2006. Mobile phone services could be";}
        
        


 