


@{ViewBag.Title = "Mayor announces results of the public consultation on the West London Tram";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>Mayor announces results of the public consultation on the West London Tram</h1>
        <div class="content-page-press-release">
        01 March 2005
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        Mayor announces results of the public consultation.
        
    </div>



 <div class="on-this-page">
<p>The Mayor of London today announced the results of the West London Tram public consultation - the largest local consultation ever undertaken by Transport for London. </p>
<p>The consultation demonstrates TfL's commitment to ensuring everyone with an interest in the Tram had the chance to have their say. </p>
<p>Market research shows three to one support for the proposed West London Tram.<br>The main concerns of people who sent in submissions include displacement of traffic on to residential streets, loss of trees, congestion, cost and disruption to shops. TfL will take these and other issues raised into account to help refine and improve design of the scheme. <br><br>The Mayor of London said:<br>&quot;With three times as many people supporting the tram as oppose it (54 per cent compared to 18 per cent) in west London, it is clear that this major transport investment has strong local support. </p>
<p>"The comprehensive and transparent nature of the public consultation ensured everyone with an interest in the proposed West London Tram had the opportunity to have their say. The process confirmed there is strong support for the project but there are also significant issues and we will be looking in more detail at all the concerns and issues raised to see what can be done to take account of these." </p>
<p>The research also showed strong support for the tram in every borough along its route. This ranged from very strong support in Hammersmith and Fulham where 69 per cent were in favour and eight per cent against, through to Hillingdon where 43 per cent supported the tram and 21 per cent were opposed, while in Ealing 39 per cent were in favour and 32 per cent against. The findings are in line with previous polls which have consistently shown strong support for the tram.</p>
            <ol>
<li>TfL will engage further with businesses and residents over the next few months on issues raised in the public consultation. </li>
<li>TfL will be reporting back to West London residents later this year to update on progress of the scheme. Full details of the scheme will be publicised widely if TfL decides to apply for powers to build the Tram. </li>
<li>The full market research and consultation results will be available in early March. </li>
<li>54% of public consultation respondents and 65% of market research interviewees agree that there is a serious need to tackle congestion and improve public transport on the Uxbridge Road. </li>
<li>Two-thirds of people who submitted their views in the public consultation were opposed to the scheme and this opposition was stronger along the Uxbridge Road. </li>
<li>Market research, which allowed TfL to gauge the views of a representative sample of West London people. This showed strong support (three to one) for the proposal, in line with previous polls which have consistently shown strong support. <br></li></ol>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "The Mayor of London today announced the results of the West London Tram public consultation - the largest local consultation ever undertaken by Transport for London. The consultation demonstrates TfL's commitment to ensuring everyone with an interest in";}
        
        


 