


@{ViewBag.Title = "New Tube uniform - blue and improved";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>New Tube uniform - blue and improved</h1>
        <div class="content-page-press-release">
        21 March 2005
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        London Underground (LU) today unveiled a new blue and improved uniform, being delivered to all Tube staff from next month. The new uniform is darker blue in colour and features design improvements implemented following consultation with LU's train and station staff.
        
    </div>



 <div class="on-this-page">
<p>Every five years a new LU uniform is produced. The latest update takes advantage of new and improved fabrics, as well as incorporating modern clothing classics, such as a fleece and polo shirt.</p>
<p><strong>A photocall to unveil the new LU uniforms to media for the first time will be held on Monday, March 21 at 11am at Canary Wharf Tube station.</strong></p>
<p>LU Managing Director Tim O'Toole said:<br>"London Underground is working hard to improve the Tube, to make it safer, cleaner and more reliable. Our customer service surveys tell us that passenger satisfaction is on the up, although we know there is still much work to do.</p>
<p>"We value our staff at London Underground. I know how hard they work, every day, to provide a 'Good Service' to Tube passengers.</p>
<p>"So I'm delighted that we were able to work with them to improve the uniform. It is in a new, darker blue colour, which I think makes Tube staff look very smart and professional. I am sure it will be appreciated by staff and passengers alike."</p>
<p>The new uniforms will be phased into use across the Tube's different lines in the coming months. The first staff to wear the uniforms will be on the Central, Waterloo and City and Bakerloo lines on April 25. The uniform change will be completed by July 4.</p>
<p>The new uniform will be distributed to all of LU's 8,500 front-line train and station staff.</p>
<p><strong>Photo Opportunity for the New Uniforms<br></strong>When: 11am, March 21, 2005<br>Where: Canary Wharf Tube Station</p>
            <ul>
<li>LU distributes a new uniform to each staff member every two years, therefore there is no additional cost in issuing this new uniform. LU is bringing forward the programme of uniform distribution to speed up the change over. </li>
<li>TfL is investing &pound;10 bn over the next 5 years to improve and expand London's transport network, more than half of that in the Tube. </li>
<li>For travel information, check out the TfL website or call London Travel Information on <strong>020 7222 1234</strong>. <br></li></ul>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "Every five years a new LU uniform is produced. The latest update takes advantage of new and improved fabrics, as well as incorporating modern clothing classics, such as a fleece and polo shirt.A photocall to unveil the new LU uniforms to media for the";}
        
        


 