


@{ViewBag.Title = "Pint of milk and top up my Oyster card please";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>Pint of milk and top up my Oyster card please</h1>
        <div class="content-page-press-release">
        04 March 2005
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        TfL unveils plans for e-money on Oyster.
        
    </div>



 <div class="on-this-page">
<p>Customers could soon be using Oyster to pay for newspapers, milk and car-parking as Transport for London begins exploring the possibility of small payments as a feature on the smartcard. </p>
<p>Mayor of London Ken Livingstone said: <br>"Oyster is already making travel in London quicker and easier, by speeding up the bus service, cutting queues at Tube stations and helping to take cash off the buses. Now the smartcard technology can make Londoners' lives even easier - Oyster users will be able to pay for their car parking or for a pint of milk in the local shop with their Oyster card, instead of using cash."</p>
<p>Oyster has the largest customer base of all smartcards in the UK, with more than 2.2 million users. It also has the highest level of daily use, with more than 3 million journeys made every day using Oyster. </p>
<p>Jay Walder, Managing Director of Finance and Planning at TfL said:<br>"This is a significant step towards extending the convenience of Oyster even further. The dash to the cash point and worrying about small change for parking could be things of the past. Oyster will become a quick and easy alternative for these kinds of purchases. </p>
<p>"Oyster already delivers greater security and convenience than traditional travel tickets. Stolen or lost Oyster cards can be stopped so no one else can use them, and the card will soon be able to be topped-up automatically. Similar schemes such as Octopus in Hong Kong have shown customers appreciate the speed and ease this form of payment brings to the many small purchases people make every day." </p>
<p>The plan to extend Oyster from travel to small money purchases demonstrates TfL's commitment to provide greater convenience for passengers and generate additional revenue for the transport network. <br></p>
            <ol>
<li>TfL placed a prior information notice (PIN) in the Official Journal of the European Union (OJEU), the PIN can be found at: <a href="http://ted.publications.eu.int">http://ted.publications.eu.int</a></li>
<li>A pilot programme with LB's Greenwich, Newham, Croydon and Lewisham has seen local borough cards, used for library and leisure services, extended to incorporate Oyster smartcard capabilities. </li>
<li>TfL introduced daily price capping on Oyster on Sunday 27 February 2005 finalising the phased roll-out of ticket products. <br></li></ol>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "Customers could soon be using Oyster to pay for newspapers, milk and car-parking as Transport for London begins exploring the possibility of small payments as a feature on the smartcard. Mayor of London Ken Livingstone said: 'Oyster is already making";}
        
        


 