


@{ViewBag.Title = "Queensway station to close as lifts are replaced";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>Queensway station to close as lifts are replaced</h1>
        <div class="content-page-press-release">
        30 March 2005
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        Works to replace the lifts and improve facilities at London Underground's Queensway station will commence on Sunday 8 May, meaning the station will be closed for 12 months. The works will be undertaken by Metronet BCV.
        
    </div>



 <div class="on-this-page">
<p>During the station closure, modernisation works including improving facilities for mobility impaired passengers, better lighting and signage and congestion relief work, will take place. </p>
<p>Passengers are advised to use Notting Hill Gate station during the Queensway station closure, which is within walking distance or local bus routes where valid London Underground tickets will be accepted.</p>
<p>The works to replace the lifts are necessary as they have been failing more frequently and this has led to the station being closed at short notice. </p>
<p>Jeff Ellis, General Manager of the Central line, said: "Customers will benefit from the works in the long term with safer more reliable lifts and improved station facilities. However, in order for these works to be carried out the station will be closed for around a year.</p>
<p>"The lifts at Queensway station are nearly 50 years old and on average are failing 17 times every month. In 2003 there were 34 station closures due to lift failure. These unplanned station closures at short notice are a major inconvenience to our passengers. </p>
<p>"Replacing the two lifts involves removing them and their supporting structures and building the new lifts on site. So, without working lifts, we would be unable to run the station safely.</p>
<p>"While the station is closed, modernisation works to further improve station facilities will be brought forward so that they will run in tandem with the lift replacement works, minimising disruption to passengers. The works are due to be completed in summer 2006."</p>
<p>For 24-hour information on all London travel, please call: 020 7222 1234 or visit TfL's website: <a href="http://www.tfl.gov.uk">www.tfl.gov.uk</a><br></p>
            <ul>
<li>Metronet BCV are responsible for the maintenance and renewal of the Bakerloo, Central, Victoria and Waterloo &amp; City lines. </li>
<li>TfL is investing &pound;10 billion over the next 5 years to improve and expand London's transport network, over half of that in the Tube.</li></ul>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "During the station closure, modernisation works including improving facilities for mobility impaired passengers, better lighting and signage and congestion relief work, will take place. Passengers are advised to use Notting Hill Gate station during the";}
        
        


 