


@{ViewBag.Title = "Should the Tube run later at weekends?";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>Should the Tube run later at weekends?</h1>
        <div class="content-page-press-release">
        23 March 2005
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        Consultation one month on, one month to go.<BR>Please click here to have your say.
        
    </div>



 <div class="on-this-page">
<p>Over 30,000 people have responded in the month since London Underground (LU) asked Londoners, Tube users and all interested parties for their views on whether the Tube should run one hour later at weekends.</p>
<p>LU has received a wide range of views both for and against a later weekend Tube, but there is still another month to register a view before the consultation ends on April 22.</p>
<p>The proposal would see Tube run an hour later on Friday and Saturday nights, meaning the last trains would leave central London around 1.30am. In order to maintain the Tube's engineering hours, essential for safety checks and maintenance, the Tube would also start an hour later on Saturday and Sunday mornings.</p>
<p>LU Director of Strategy & Service Development, Richard Parry said: &quot;With over 30,000 responses in just one month, the proposal to run the Tube later at the weekends is clearly one that interests Londoners. But for those who still want to register their view, there's still a month to do so.&quot; Research undertaken by TfL shows that an estimated 140,000 passengers would benefit if the Tube were to run for an hour extra on Friday and Saturday nights.</p>
<p>However, if the Tube were to close an hour later, it would have to start an hour later the following morning to allow essential maintenance to track, trains, signals and stations that can only be carried out when the network is closed. This could affect an estimated 55,000 people who use the Tube during the first hour at weekends.</p>
<p>In the early responses, people enjoying London's night life have said that they would lengthen their evenings and spend more time in establishments with a late licence until they needed to depart for the last Tube.</p>
<p>Those travelling to work or London's mainline rail stations and airports on Saturday and Sunday mornings could potentially be adversely affected by the proposals and this has been reflected in responses received so far.</p>
<p>A number of people have asked why we can't have a 24-hour service when the New York Subway system can operate these longer hours. The simple answer to this is that, unlike the New York Subway, the Tube does not have double tracks running in each direction. This means that train operations and track maintenance can continue simultaneously in New York, which is not possible on the Tube.</p>
<p>Anyone can make their views known by completing leaflets available from all Tube stations, by logging on to the <a href="http://www.tfl.gov.uk ">TfL website </a>or by emailing <a href="mailto:onehourlater&#64;tfl.gov.uk">onehourlater&#64;tfl.gov.uk</a>. The leaflet can also be obtained by ringing the helpline on Freephone <strong>0800 1060122</strong> (Textphone <strong>0800 106027</strong>).<br></p>
            <ul>
<li>Consultation finishes on 22 April 2005. </li>
<li>We are unable to state how many responses are in favour or against later weekend Tube services until after the public consultation concludes. </li>
<li>The Mayor made a commitment in his manifesto to investigate later Tube services on Fridays and Saturday nights. </li>
<li>Currently, the last trains from the West End at weekends are around 12.30am and reach their termini between 1.00am and 1.30am depending on location. Services begin again at around 6.00am on Saturday and 7.30am on Sunday. </li>
<li>Under the new proposal, first trains would arrive at Central London stations at around 7am on Saturdays and 8.30am on Sundays; last trains would depart from the West End on Friday and Saturday nights at around 1:30am. </li>
<li>There is a small group of stations on the network which close earlier than this time, and would continue to do so, as their local demand does not justify late night operation and these are detailed below. </li>
<li>The following stations currently close early; last trains from the West End to these stations are set out below and will not change as a result of this proposal: Roding Valley, Chigwell and Grange Hill: 19:33, </li>
<li>Heathrow Terminal Four (currently closed due to construction of Terminal 5): 23:07, Shoreditch: 20:00 (closed all day Saturdays), Kensington Olympia: 23:09, Cannon Street (closed until April 2005): 20:50 (Fridays) 19:20 (Saturdays). </li>
<li>As the proposal has an obvious impact on Tube working patterns, London Underground is also consulting with trade unions. </li>
<li>If longer hours on Friday and Saturday were given the go-ahead then changes could be introduced in late 2006 at the earliest. <br></li></ul>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "Over 30,000 people have responded in the month since London Underground (LU) asked Londoners, Tube users and all interested parties for their views on whether the Tube should run one hour later at weekends.LU has received a wide range of views both for";}
        
        


 