


@{ViewBag.Title = "Still time to have your say on Chesham service";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>Still time to have your say on Chesham service</h1>
        <div class="content-page-press-release">
        08 March 2005
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">



 <div class="on-this-page">
<p>The deadline for public consultation on London Underground's proposals for the Chesham peak through service has been extended to Thursday 31 March.</p>
<p>To improve the reliability of the Metropolitan line service, London Underground are proposing to withdraw the peak through service from central London and offer an improved service on the shuttle between Chesham and Chalfont and Latimer.</p>
<p>Paul Kilius-Smith, General Manager of the Metropolitan line said: "We have already had an excellent response to our public consultation. Passengers in the Chesham area have very strong views on this issue and we welcome their comments. If you have not already done so please let us have your opinion on our proposals by 31 March.<br></p>
            <p>Members of the public who wish to comment on the proposals should write to:<br>London Underground<br>Public Affairs Department<br>55 Broadway<br>London SW1 H OBD</p>
<p>Or</p>
<p>Email: <a href="mailto:Andrew.kennard&#64;tube.tfl.gov.uk">Andrew.kennard&#64;tube.tfl.gov.uk</a></p>
<p>For more information on the proposal please visit the <a href="http://www.tfl.gov.uk">TfL website</a>.<br></p>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "The deadline for public consultation on London Underground's proposals for the Chesham peak through service has been extended to Thursday 31 March.To improve the reliability of the Metropolitan line service, London Underground are proposing to withdraw";}
        
        


 