


@{ViewBag.Title = "Tamworth Road Tram Stop Opening Delayed";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>Tamworth Road Tram Stop Opening Delayed</h1>
        <div class="content-page-press-release">
        30 March 2005
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        Transport for London and Tramtrack Croydon Limited today confirmed that the planned opening of a new tram stop in Tamworth Road Croydon had been delayed.
        
    </div>



 <div class="on-this-page">
<p>Phil Hewitt, Head of London Trams, said: "TfL has secured funding for the capital works to provide the new stop. We are however dependent upon TCL to design, build and operate the stop and to demonstrate that they have obtained best value for the investment of public money.</p>
<p>Significant progress has been made towards establishing a new timetable and an agreed scope of works. There are however, due to the nature of the system, some areas that TCL have been unable to resolve either to their satisfaction or ours. Accordingly we have jointly concluded that the stop opening will be delayed.</p>
<p>We are continuing to work closely with TCL to ensure that the new stop is brought in to use as soon as possible taking account of safety requirements and TCL's business needs. We recognise however that, due to TCL's planned maintenance rectification works in the summer, it may be sensible to defer the introduction of the new timetable until they are completed."<br></p>
            <ol>
<li>TfL's business plan includes funding for the capital works to introduce a new tram stop and for the procurement of an additional tram. 
</li><li>Critical to the opening of the tram stop is the introduction of a new timetable. Consultation on the proposed restructuring of the Tramlink timetable is currently underway. 
</li><li>Tramlink is operated on a 99 year Concession Agreement under the Private Finance Initiative. Tramtrack Croydon Limited are responsible for all design, construction, operation and maintenance on the system.<br></li></ol>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "Phil Hewitt, Head of London Trams, said: 'TfL has secured funding for the capital works to provide the new stop. We are however dependent upon TCL to design, build and operate the stop and to demonstrate that they have obtained best value for the";}
        
        


 