


@{ViewBag.Title = "TfL gives &pound;3 million boost to rail passenger safety and security in south London";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>TfL gives &pound;3 million boost to rail passenger safety and security in south London</h1>
        <div class="content-page-press-release">
        15 March 2005
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        Rail passengers across south London will receive a boost today with the launch of a new CCTV Control Centre at Streatham Hill Station.
        
    </div>



 <div class="on-this-page">
<p>The Centre will be opened at 10.00am by Ian Brown, Managing Director of TfL London Rail and Charles Horton, Managing Director of Southern. It is part of a &pound;3.1 million package of measures in passenger safety and security, funded by TfL with train operating company Southern. </p>
<p>These measures will provide reassurance to passengers travelling on Southern's Metro train services and support TfL's aim to make rail travel safer and easier across the capital. The package includes:</p>
<ul>
<li><strong>New CCTV Control Centre at Streatham Hill</strong> will be staffed 24 hours a day, 365 days a year by highly trained staff and will cover 38 stations across South London. The centre will also reassure passengers by providing accurate information and the facility to speak to a member of staff by activating a Help Point. 
</li><li><strong>Installation of CCTV Cameras</strong> at 38 stations in the Southern Metro area. CCTV aims to prevent both real crime and the perception of crime so that passengers feel safe to use stations. 
</li><li><strong>Installation of Help Point with induction loops</strong> at 38 stations in the Southern Metro area, providing immediate audio and visual link with the new Control Centre at Streatham Hill station. 
</li><li><strong>Customer Information Systems</strong> will be enhanced at Clapham High Street, Peckham Rye and Queens Road stations. 
</li><li><strong>Installation of canopy lighting</strong> to give high visibility at Battersea Park station 
</li><li><strong>New anti-vandal shelters</strong> will be provided at Wandsworth Road, Wandsworth Common and Clapham High Street stations which give hi-visibility shelter for passengers on platforms. 
</li><li><strong>Improved signage</strong> at 24 stations in the Southern Metro area. </li></ul>
<p><strong>Ian Brown, TfL London Rail's Managing Director said:</strong> </p>
<p>"Passenger safety is of paramount importance to TfL. Although not part of the TfL network, improving security on rail in London is a top priority as we want to encourage greater use of public transport. We have developed this initiative with Southern to provide better security at rail stations across south London. The work is part of TfL's &pound;10bn, 5-year Investment Programme". </p>
<p><strong>Charles Horton, Southern Managing Director said:</strong> </p>
<p>"The new Control Centre is an important part of Southern's work to improve station safety and security for our passengers. Southern has already made a significant investment on safety and security across our network and this support from TfL will only add to the benefits for passenger safety in the Metro area."</p>
<p><strong>Superintendent Mark Newton, BTP said:</strong> </p>
<p>"This is a welcome investment in the security of the network. The CCTV will help protect passengers and be a great help in police investigations, whilst the environmental improvements will make the 38 stations fell much safer". </p>
<p>The improvements will be completed in April and will enhance Southern's already robust strategy to tackle anti-social behaviour and improve customer service levels for passengers. As part of this commitment, Southern will pay the running costs of the new Control Centre. </p>
            <ol>
<li>The following stations will receive: </li></ol>
<p><strong>New CCTV cameras, Help Points and will be covered by the CCTV Control and Customer Information Centre:</strong><br>Anerley, Balham, Battersea Park, Birbeck, Brockley, Carshalton, Carshalton Beeches, Clapham High Street, Crystal Palace, East Croydon, East Dulwich, Forest Hill, Gypsy Hill, Hackbridge, Honor Oak Park, Mitcham Junction, New Cross Gate, Norbury, Norwood Junction, North Dulwich, Peckham Rye, Penge West, Queens Road Peckham, Selhurst, South Bermondsey ,Streatham Hill, Streatham ,Streatham Common, Sutton, Sydenham, Thornton Heath, Tulse Hill, Waddon, Wallington, Wandsworth Common, Wandsworth Road, West Croydon, West Norwood </p>
<p>The Help Points feature an induction loop which help deaf people who use a hearing aid or loop listener to hear sounds more clearly by cutting out background noise.</p>
<p>The CCTV system includes a direct transmission link from the control centre at Streatham Hill to the British Transport Police which enables easy data retrieval to respond to any incidents.</p>
<p><strong>Improved signage:</strong><br>Anerley, Birbeck,Brockley,Carshalton Beeches,Crystal Palace, East Dulwich,Forest Hill,Gypsy Hill, Honor Oak Park, North Dulwich, New Cross Gate, Norwood Junction, Peckham Rye, Penge West, Queens Road Peckham, South Bermondsey, Streatham Hill, Streatham, Sutton, Sydenham,Tulse Hill, Waddon, West Norwood </p>
<p><strong>New anti-vandal shelters:</strong><br>Are made from transparent UV stabilised polycarbonate sheeting which makes it more difficult to vandalise and is relatively easy to replace. </p>
<p>For further information on Southern and for press imagery in digital formats, please contact the Southern press office on Tel: 020 8929 8673</p>
<p>For information on TfL, London Rail please contact TfL press office on Tel: 020 7941 4141<br></p>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "The Centre will be opened at 10.00am by Ian Brown, Managing Director of TfL London Rail and Charles Horton, Managing Director of Southern. It is part of a &pound;3.1 million package of measures in passenger safety and security, funded by TfL with train";}
        
        


 