


@{ViewBag.Title = "Tower Bridge closure - Wednesday 23 March 2005: diversions into the congestion charging zone";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>Tower Bridge closure - Wednesday 23 March 2005: diversions into the congestion charging zone</h1>
        <div class="content-page-press-release">
        23 March 2005
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        Tower Bridge was closed to traffic for a few hours today due to a technical problem, and some vehicles were therefore diverted into the congestion charging zone.
        
    </div>



 <div class="on-this-page">
<p>Vehicles following a diversion into the zone should leave by the nearest available route as soon as possible. If they do so, they should not receive a penalty charge notice (PCN) and there is no need for them to pay the &pound;5 daily charge.</p>
<p>However, should drivers go further into the zone or stay in the zone for a prolonged period they will be expected to pay the charge.</p>
<p>Any driver wishing to contest a PCN should follow the representations process as outlined on the PCN. <br></p>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "Vehicles following a diversion into the zone should leave by the nearest available route as soon as possible. If they do so, they should not receive a penalty charge notice (PCN) and there is no need for them to pay the &pound;5 daily charge.However,";}
        
        


 