


@{ViewBag.Title = "Transport for London Easter services";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>Transport for London Easter services</h1>
        <div class="content-page-press-release">
        21 March 2005
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        Transport for London today announced details of London travel arrangements over the Easter weekend.
        
    </div>



 <div class="on-this-page">
<p>London Underground will operate a Saturday service on Good Friday. Normal services will then operate on Easter Saturday and Sunday. On Easter Monday a Saturday service will operate. </p>
<p>However due to engineering work the following services will be suspended over the Easter weekend. </p>
<p><strong>Circle line<br></strong>There will be no service, due to engineering work at Sloane Square. </p>
<p><strong>District line<br></strong>Services will be suspended between Earl's Court and Whitechapel due to track replacement work between South Kensington and Sloane Square. A replacement bus service will operate between South Kensington and Aldgate East, late night only. </p>
<p><strong>Metropolitan line</strong><br>On going refurbishment works at Wembley Park will mean no service between Harrow-on-the-Hill and Aldgate, replacement buses will operate between Harrow-on-the-Hill and Willesden Green. </p>
<p><strong>Jubilee line</strong> <br>There will be no service between Neasden and Kingsbury, due to refurbishment works at Wembley Park. Replacement bus services will operate between Neasden and Kingsbury.</p>
<p><strong>Waterloo &amp; City line</strong><br>There will be no service on Easter Saturday due to engineering work. The line is normally closed on Sundays and Bank holidays. </p>
<p>The <strong>Hammersmith &amp; City</strong> line will operate an enhanced service between Barking and Hammersmith throughout the Easter weekend due to engineering works taking place at Sloane Square affecting the Circle and District lines. </p>
<p>The following stations will be closed on both Good Friday and Easter Monday: Borough, Cannon Street, Chancery Lane, Mornington Crescent, Shoreditch and Temple. Due to refurbishment works Dagenham Heathway and Bayswater will have no train service throughout the weekend but will be open for ticket sales and travel advice. </p>
<p>On <strong>London Buses</strong>, a Saturday service will operate on Good Friday. However bus routes 311, 409, 500, 514, 515, 551, 610 and 614 will not run and bus routes 8W and 351 will operate a Sunday service. Bus route 477 will operate to a Public Holiday timetable. Link here for more Buses travel information and timetables. </p>
<p>For the rest of the holiday weekend, there will be normal services on Easter Saturday and Easter Sunday. On Easter Monday a Sunday service will operate. Mobility buses will operate a normal service on Friday but there will be no service on Easter Monday. Night buses will be operating normally throughout the Easter break. </p>
<p>A Saturday service will operate on Good Friday on the <strong>Docklands Light Railway </strong>and also on Easter Monday. Normal services will run on the Easter Saturday and Sunday. </p>
<p>Routes 1 and 2 on <strong>Croydon Tramlink</strong> will run a Saturday service on Good Friday. Normal services will operate on both Easter Saturday and Sunday. On Easter Monday a Sunday service will be in operation.&nbsp; However due to remedial work, buses replace trams on route 3 (New Addington branch) calling at all intermediate tram stops. Link here for more Tram travel information and timetables.</p>
<p>All <strong>River services</strong> will run a normal service throughout the weekend. </p>
<p>For 24-hour information on all London travel, please call <strong>020 7222 1234</strong> or visit TfL's website. </p>
            <ul>
<li>TfL is investing &pound;10 billion over the next 5 years to improve and expand London's transport network, over half of that in the Tube. </li>
<li>Realtime travel information on the TfL website.</li></ul>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "London Underground will operate a Saturday service on Good Friday. Normal services will then operate on Easter Saturday and Sunday. On Easter Monday a Saturday service will operate. However due to engineering work the following services will be suspended";}
        
        


 