


@{ViewBag.Title = "Transport boost at White City development";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>Transport boost at White City development</h1>
        <div class="content-page-press-release">
        07 March 2005
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">



 <div class="on-this-page">
<p>In connection with works at the White City development, there will be no London Underground Central line service between North Acton and Marble Arch on the weekends of 12 &amp; 13 and 19 &amp; 20 March.</p>
<p>Two replacement buses will operate as follows:<br>Service A: Between North Acton and Willesden Junction<br>Service B: Between North Acton and Shepherd's Bush calling at all intermediate stations</p>
<p>Jeff Ellis, Central line General Manager, said: "Transport for London is investing &pound;10 billion in the next five years to improve London's transport, more than half of that in the Tube."</p>
<p>"The development at White City will comprise of a 1.3 million square feet regional shopping centre and include a new public transport infrastructure which will benefit customers.</p>
<p>"It will include a new station on the Hammersmith &amp; City line, a new bus station and a remodelled ticket hall for Shepherd's Bush station on the Central line."</p>
<p>There will be no replacement bus service between Marble Arch and Shepherd's Bush, except for very early and late journeys. Customers are advised to use the alternative services that are listed below.</p>
<p>Passengers travelling from central London to North Acton and beyond are advised to take the Central line at Oxford Circus station and change onto the Bakerloo line and then connect with service A.</p>
<p>Customers should allow at least an extra 30 minute to complete their journeys especially those wishing to make last train connections.</p>
<p>Alternatively passengers may wish to use the following services where valid LUL tickets will be accepted:</p>
<ul>
<li><strong>West Ruislip</strong> Chiltern line services to/from Marylebone (LUL tickets will be valid) </li>
<li><strong>South Ruislip</strong> Chiltern line services to/from Marylebone </li>
<li><strong>Greenford</strong> First Great Western Link services to/from Paddington. The service runs on Saturdays until 21.31 ex Paddington, 22.02 ex Greenford. There is no Sunday service</li>
<li><strong>Hanger Lane</strong> Piccadilly line services to/from Park Royal </li>
<li><strong>Ealing Broadway</strong> District line services. First Great Western Link services To/from Paddington (LUL tickets will be valid) </li>
<li><strong>West Acton</strong> Piccadilly line services to/from North Ealing </li>
<li><strong>Notting Hill Gate</strong> District and Circle line services </li>
<li><strong>Queensway</strong> District and Circle line services </li>
<li><strong>Lancaster Gate</strong> is a short walk to Paddington station </li>
<li><strong>Marble Arch</strong> is a short walk to Bond Street station. </li></ul>
<p>For 24-hour information on all London travel, please call <strong>020 7222 1234</strong> or visit <a href="http://www.tfl.gov.uk">TfL's website</a>.<br></p>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "In connection with works at the White City development, there will be no London Underground Central line service between North Acton and Marble Arch on the weekends of 12 &amp; 13 and 19 &amp; 20 March.Two replacement buses will operate as follows:Service";}
        
        


 