


@{ViewBag.Title = "Tube trials ";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>Tube trials </h1>
        <div class="content-page-press-release">
        07 March 2005
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        London Underground is hatching a plan to encourage Tube passengers to give up their seats to mothers-to-be without being asked.
        
    </div>



 <div class="on-this-page">
<p>Opinions on a new badge proudly declaring that the wearer has a "Baby on Board" are being tested at International Women's Day 2005 events and at the Capital Woman conference in London. If the idea proves popular, the badges will be offered to all pregnant Tube passengers.</p>
<p>Research shows that Londoners agree that pregnant women should be offered a seat but also reveals that men are afraid to act on their chivalrous instincts in case they give offence. The badges give pregnant women the opportunity to identify themselves to other passengers and it is hoped that they will give them the confidence to ask for a seat if they need one.</p>
<p>London Underground's Elizabeth Norris said: "It is sad but true that passengers who need to sit down feel that they cannot ask fellow passengers for a seat. Priority Seats on the Tube are clearly marked and anyone who really needs to sit down, including pregnant women, should ask.</p>
<p>"We want to find out if pregnant women will find these badges empowering, encouraging them to ask for the seat they need. We also want to find out how their fellow Tube passengers will react when they see the badges, encouraging them to offer a seat when they know it will be appreciated."</p>
<p>London Underground has conducted some preliminary research into the issue of pregnant women and seats on the Tube. The research showed:</p>
<ul>
<li>92% thought that people sitting down should offer the seat to a pregnant woman without having to be asked; </li>
<li>85% think pregnant women should ask for a seat if she needs one; </li>
<li>78% of currently pregnant women stated that they never ask for a seat when they need one. </li></ul>
<p>A final decision on the greater distribution of the "Baby on Board" badges will be taken once reaction has been gauged following this trial.<br></p>
            <ul>
<li>International Women's Day 2005 is on Tuesday March 8. </li>
<li>The badges were offered at London's Capital Woman event on March 5 and at The Queen Elizabeth Centre, SW1. <br></li></ul>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "Opinions on a new badge proudly declaring that the wearer has a 'Baby on Board' are being tested at International Women's Day 2005 events and at the Capital Woman conference in London. If the idea proves popular, the badges will be offered to all pregnant";}
        
        


 