


@{ViewBag.Title = "Tube managers of tomorrow receive awards";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>Tube managers of tomorrow receive awards</h1>
        <div class="content-page-press-release">
        02 March 2005
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        The next generation of station managers and signallers has been recognised for their achievements in the London Underground Apprentice of Year Awards.
        
    </div>



 <div class="on-this-page">
<p>The annual awards celebrate the high standards of the London Underground apprenticeship scheme, which gives new staff broad experience in the different aspects of running the Tube, from managing stations to running the trains and operating signals.</p>
<p>18 year old Andy Jeffrey has been named as this year's Apprentice of the Year, and his colleague Chris Wakley, who is also 18, has received the award for Most Improved Apprentice.</p>
<p>The apprenticeship scheme is the only one of its kind in the UK that offers training in railway operation. Each year 12 applicants are chosen for the training programme.</p>
<p>London Underground's Apprenticeship Scheme Manager Steve Pickering said:<br>"These awards give the Tube's future managers an excellent start to their career with a broad range of experience.</p>
<p>"This year's apprentices have been of a particularly high standard and I congratulate every one of them, particularly Apprentice of the Year Andy Jeffrey who has shown excellent leadership potential and no doubt has a sterling career ahead of him at London Underground."</p>
<p>Apprentice of the Year Andy Jeffrey said:<br>"To be picked as the best of 12 people is pretty special and it will help me build my career. I would like to thank my colleagues and my manager."</p>
<p>Most Improved Apprentice Chris Wakley said:<br>"The award really means a lot to me. I have enjoyed being on the scheme from day one and had great fun. It's definitely the best thing I've done since I left school."</p>
<p>Mr Pickering said:<br>"Many of these apprentices will go on to become train operators, station managers and signal operators."</p>
<p>Applications for the next London Underground apprenticeships are now being invited. Candidates can apply at <a href="http://www.tfl.gov.uk/jobs">www.tfl.gov.uk/jobs</a> or phone <strong>08712 100 012</strong>.<br></p>
            Andy Jeffrey is from Bromley in Kent and Chris Wakley is from Tring, in Hertfordshire.<br>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "The annual awards celebrate the high standards of the London Underground apprenticeship scheme, which gives new staff broad experience in the different aspects of running the Tube, from managing stations to running the trains and operating signals.18 year";}
        
        


 