


@{ViewBag.Title = "Are you a woman with drive?";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>Are you a woman with drive?</h1>
        <div class="content-page-press-release">
        29 November 2004
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        Driving a busthat's a man's job isn't it? Well no times are changing and London Buses and the bus companies are helping to change them. The appeal of driving a bus for a living is growing and London United Bus Company want to recruit more women into the role.
        
    </div>



 <div class="on-this-page">
<p>If you're a woman who needs a challenge or change of career and have a hankering to be behind the wheel of a large vehicle, then come along to Stamford Brook Garage, 74 Chiswick High Road in west London on December 4, where London United will be holding a recruitment open day from 10am - 2pm. </p>
<p>To drive a bus you need to be over 21 and have a clean driving licence. London United will pay for the training for your PCV licence. You can be confident that the skills you gain will always be in demand. </p>
<p>London United operates a fleet of over 650 buses on 60 routes in central, southwest London and Surrey so there may be local opportunities. </p>
<p>Transport for London (TfL) are investing &pound;10billion in the capital's transport network over the next 5 years, you could be part of London's future.</p>
<p>For more information or to confirm your attendance call </p>
<p>FREEPHONE <br>0800 694 0112 before December 4.<br></p>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "If you're a woman who needs a challenge or change of career and have a hankering to be behind the wheel of a large vehicle, then come along to Stamford Brook Garage, 74 Chiswick High Road in west London on December 4, where London United will be holding a";}
        
        


 