


@{ViewBag.Title = "Award-winning campaign drives down death toll";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>Award-winning campaign drives down death toll</h1>
        <div class="content-page-press-release">
        11 November 2004
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        Road safety figures released by Transport for London (TfL) showing a 10% decline in the number of casualties in London have been hailed as a result of successful road safety campaigns in the Capital.
        
    </div>



 <div class="on-this-page">
<p>TfL's campaign to raise road safety awareness amongst teenagers, 'Don't die before you've lived', has won awards for creative advertising. The TV campaign, based on MTV's 'Cribs' series, has made it to the Advertising Producers Association's top 50 UK ads of the year list for its innovative way of getting its message across to teens. The two accompanying radio advertisements also came first and second in the monthly Aerial Awards.</p>
<p>Alison Naylor, Transport for London's Advertising and Promotions Manager, said: </p>
<p>"The teens road safety campaign set out to reduce the number of killed and seriously injured young people on London's roads. We were thrilled that our TV and radio ad's have won these prestigious awards and show that these hard hitting ad's are effective ways to strike a cord with youngsters."</p>
<p>In 2003, 717 young pedestrians were involved in accidents in London. Road casualty statistics show that approximately a quarter of all teenage pedestrian casualties occur on the way to or from school. Boys aged between 11-14 are at most risk from being hit by a vehicle when crossing roads. </p>
            <li>Screen grabs of the TV advert are available on request 
</li><li><strong>Casualty reduction targets - progress towards the year 2010.</strong> In March 2000 the Government announced a new national road safety strategy and casualty reduction targets for 2010 in Tomorrow's roads - safer for everyone. By the year 2010, the casualty reduction targets to be achieved, compared with the 1994-98 average are:<br>
<ul>
<li>a 40 percent reduction in the number of people killed or seriously injured 
</li><li>a 50 percent reduction in the number of children killed or seriously injured 
</li><li>a 10 percent reduction in the slight casualty rate, expressed as the number of people slightly injured per 100 million vehicle kilometres.</li></ul>

            
            

        </li>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "TfL's campaign to raise road safety awareness amongst teenagers, 'Don't die before you've lived', has won awards for creative advertising. The TV campaign, based on MTV's 'Cribs' series, has made it to the Advertising Producers Association's top 50 UK ads";}
        
        


 