


@{ViewBag.Title = "Bus Police to stop crime on route 57";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>Bus Police to stop crime on route 57</h1>
        <div class="content-page-press-release">
        08 November 2004
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        Bus route 57, which runs through Kingston, Merton, Wandsworth and Lambeth, is to be the focus of an ongoing police crackdown on crime and antisocial behaviour.
        
    </div>



 <div class="on-this-page">
<p>Police figures show that there have been a significant number of incidents on the route in recent months involving antisocial behaviour and motorists blocking bus lanes.</p>
<p>Transport for London and the Metropolitan Police Service are determined to crackdown on offenders, and will be launching a dedicated team from the Transport Operational Command Unit (TOCU) to run regular patrols on the 57 from Monday 15th November.</p>
<p>TOCU has over 900 officers policing the bus and transport network across London, and teams currently patrol a number of other routes running through south west London, including the 9,10, 28, 328, 211 and 220. TOCU is funded by TfL and operated by the MPS.</p>
<p>A recent review of the area identified route 57 as one that would benefit from additional policing. London United, which operates route 57, is working closely with TfL and the MPS to put these new measures in place.</p>
<p>TOCU has 61 police and 68 police community support officers in the south west area undertaking regular patrols, as well as responding to individual incidents and to crime and disorder problems highlighted by police intelligence. Their high visibility presence provides reassurance to passengers as well as acting as a deterrent to criminals. </p>
<p>Jeroen Weimar, Transport for London's Director of Transport Policing and Enforcement said: &quot;TfL is doing its utmost to maintain the safety and comfort of London's buses for our passengers and staff and we will not tolerate anti-social behaviour on our services. Through our close relationship with the Metropolitan Police Service and the dedicated TOCU unit, we will work with local bus operators and communities to prevent crime and disorder on and around the local transport system. Any incidents that do occur will be relentlessly followed up and perpetrators brought to justice. Our priority is to ensure that every passenger has a right to a safe journey, free from crime and the fear of crime."</p>
<p>Derek Lott, Chief Operating Officer for London United, said: &quot;We welcome any initiative which improves the safety and security of bus passengers and bus staff in London. We are delighted to be working in partnership with the Metropolitan Police and TOCU in supporting this objective.&quot; </p>
            <ul>
<li>TOCU has 965 police officers, police community support officers, traffic wardens and police staff working across London. TOCU was created in 2002 specifically to tackle bus crime and bus flow issues. TOCU officers patrol buses along 28 major bus routes, and the areas around them, reducing crime and the fear of crime and keeping bus lanes congestion-free. In addition, TOCU is responsible for enforcing the law relating to private hire vehicles and dealing with congestion at priority locations. 
</li><li>In September TOCU teams across London (including bus, cab and congestion teams) made 573 arrests. 
</li><li>In September, 1097 incidents were reported by bus drivers in the south west area, including 443 for anti-social behaviour and 480 for congestion; 81 arrests were made. 
</li><li>75 per cent of London's bus fleet is now fitted with inward-facing CCTV cameras. The entire network will be covered by the end of 2005. 
</li><li>Route 57 Roadshows will be taking place on Friday 12th and 19th November at Fairfield North Bus station in Kingston from 08.00hrs -16.00hrs. The Roadshows are an opportunity for London United staff to find out more about TOCU. </li></ul>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "Police figures show that there have been a significant number of incidents on the route in recent months involving antisocial behaviour and motorists blocking bus lanes.Transport for London and the Metropolitan Police Service are determined to crackdown";}
        
        


 