


@{ViewBag.Title = "Capitals road death toll tumbles but total still too high";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>Capitals road death toll tumbles but total still too high</h1>
        <div class="content-page-press-release">
        09 November 2004
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        Statistics released today by Transport for London (TfL) show a sharp reduction in road deaths in London in the first 6 months of 2004.
        
    </div>



 <div class="on-this-page">
<p>The figures compare the first six months of 2004 with the equivalent period in 2003 and also show that almost 17,000 people have already been hurt or killed on London's roads this year, (including 3169 pedestrians and 1535 children under 16 years). These figures have though registered significant improvements, showing that TfL's road safety campaigns are proving effective with the number of children fatally or seriously injured down by 10 per cent. </p>
<p>However the numbers killed and injured are still too high. TfL is providing major investment to fund improved road safety, new crossings are being installed, cycle networks enhanced and street lighting improved. </p>
<p>Key findings are:
</p>
<ul>
    <li>The total number of collisions decreased by 10% compared with 2003
    </li>
    <li>Fatalities have fallen by 28%, from 135 to 97
    </li>
    <li>Pedestrians accounted for 43% of all fatalities, but overall pedestrian fatalities fell by 29%
    </li>
    <li>Pedal cyclist casualties decreased by 3%; within this fatalities fell by 60%, from 10 to 4 5
    </li>
    <li>0% of casualties under sixteen years old were pedestrians
    </li>
    <li>The total number of casualties decreased by 11% in inner London and 10% in outer London
    </li>
    <li>Men accounted for 61% of casualties and women 39% </li>
</ul>
<p>Mayor of London Ken Livingstone said: ' Each life lost on our roads is one life too many. These figures show that our road safety messages are starting to work and TfL will continue to work hard to bring these numbers down.'</p>
<p>Jenny Jones, the Mayor's Road Safety Ambassador, said:<br />
"These figures show that road safety works. Less Londoners are ending up in hospital because more money has been spent on 20mph zones, cinema adverts, cycling facilities and training for bikers. We still have a lot of work to do, but we are proving that the deaths and injuries on London roads are not just individual twists of fate, but something that we can stop. With nearly four people a week still being killed on London's roads, we need action across the whole of London. It will be a tragedy if some people continue to die, or to be seriously injured, just because there wasn't the determination to do what was needed."</p>
<p>Managing Director of Surface Transport at TfL, Peter Hendy, said of the latest results;<br />
"I am delighted that figures for the first six months of 2004 show that our road safety message is getting across to all road users and that collisions are still falling. However we can't be complacent, already this year nearly 17,000 people were hurt and killed on our roads and we need to ensure that this downward trend continues."</p>
<p>Chris Lines, Head of the London Road Safety Unit, added;<br />
"We are delighted that the numbers of those killed and injured continues to fall. But we will continue to work hard to bring these numbers down further to stop needless injuries and loss of life."<br />
</p>
<li><strong>Casualty reduction targets - progress towards the year 2010.</strong> In March 2000 the Government announced a new national road safety strategy and casualty reduction targets for 2010 in Tomorrow's roads - safer for everyone. By the year 2010, the casualty reduction targets to be achieved, compared with the 1994-98 average are:
</li>
<li>a 40 percent reduction in the number of people killed or seriously injured
</li>
<li>a 50 percent reduction in the number of children killed or seriously injured
</li>
<li>a 10 percent reduction in the slight casualty rate, expressed as the number of people slightly injured per 100 million vehicle kilometres.
</li>
<li>In addition a <em>Road Safety Plan for London</em> was produced by Transport for London in 2001. This plan supports the national targets and recommends further targets for reducing the numbers of pedestrians, pedal cyclists and powered two-wheeler riders who are killed or seriously injured by 40 percent by 2010.
</li>
<li>The full report is available, including borough figures.
</li>
<li>This week ( 8th - 12th November 2004) is National Road Safety Week </li>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "The figures compare the first six months of 2004 with the equivalent period in 2003 and also show that almost 17,000 people have already been hurt or killed on London's roads this year, (including 3169 pedestrians and 1535 children under 16 years). These";}
        
        


 