


@{ViewBag.Title = "Choose Health: Choose Cycling";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>Choose Health: Choose Cycling</h1>
        <div class="content-page-press-release">
        16 November 2004
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        Transport for London's Cycling Centre for Excellence today welcomed the Government's White Paper on Public Health, which will help further promote cycling in the capital as a means of tackling the increasing obesity levels in both children and adults. The paper supports TfL's calls for new National Standards for cycle training, and could provide an improved cycling environment so as to help further increase cyclist numbers in London.
        
    </div>



 <div class="on-this-page">
<p>In London, TfL has been working in partnership with the Boroughs and cycling groups to successfully promote cycling in the capital, achieving a 23% increase in cycling across TfL roads in London last year. In sharp contrast with the decline in cycling across the UK over the last 25 years, over 330,000 journeys are made by bicycle in the capital every day.</p>
<p>TfL has made vast improvements to the cycling infrastructure in London, with measures including: 
<ul>
<li>increased number and quality of cycle routes in the city 
</li><li>more cycling parking facilities - TfL has committed to providing an additional 5,000 spaces in London schools alone by the end of 2005. </li></ul>In addition, those new to cycling need not be intimidated by cycling in the city, with cycle training on offer from experienced instructors. 
<p>
<p>Rose Ades, Head of TfL's Cycling Centre of Excellence, said: &quot;This is truly excellent news, which allows us to continue our work in improving the cycling infrastructure in London and promoting cycling as a great way to get around our city. We look forward to the introduction of a new health bill which would provide TfL and our London partners with further resources to fund our planned improvements and attract ever more Londoners to cycling.&quot;</p>
            <ul>
<li>The Recommended Daily Amount (RDA) of physical activity (defined as any bodily movement produced by skeletal muscles that result in energy expenditure) for adults is 30 minutes on five or more days of the week, or one hour for children 
</li><li>Physical activity levels are low in the UK: 
</li><li>Only 37% of men and 25% of women meet the current guidelines suggested by the Government 
</li><li>46,000 people are estimated to die of sedentary lifestyles, compared to the 3,500 road user deaths each year (Dr Alison Hill, All-Party Parliamentary Cycling Group 2004/5) 
</li><li>According to BUPA, 70% of the adult population is sufficiently inactive to be classed as &quot;sedentary&quot;. Being sedentary increases the risk of a heart attack or stroke by the same amount as smoking. People who cycle on a regular basis are 2-4 times less likely to have a stroke. 
</li><li>9% of deaths are estimated to be avoidable each year if sedentary people adopted a moderate level of physical exercise equivalent to 30 minutes walking or cycling a day </li></ul>
<div align="left">
<p><strong>Economic benefits</strong> 
<ul>
<li>If 0.5 - 3% of Londoners took up more exercise, 3 to 16 deaths per year could be prevented, with a saving of &pound;4 to &pound;20 million per year for the economy 
</li><li>Regular cycling has a direct positive effect on health and fitness. Stress levels are often lower for cyclists as they are able to avoid traffic queues and over-crowded public transport. Accordingly cycling reduces short and long term absence from the workplace. For every 10,000 people who cycle to work and become more physically active, the UK workplace will save around &pound;1 million per year due to reduced absenteeism 
</li><li>Health officials estimate that every commuter who cycles to work (cycling on average 3 hrs per week) saves the health services an estimated &pound;500, thus justifying the government's investment in cycling infrastructure</li></ul></div>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "In London, TfL has been working in partnership with the Boroughs and cycling groups to successfully promote cycling in the capital, achieving a 23% increase in cycling across TfL roads in London last year. In sharp contrast with the decline in cycling";}
        
        


 