


@{ViewBag.Title = "Consultation ends on West London Tram";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>Consultation ends on West London Tram</h1>
        <div class="content-page-press-release">
        03 November 2004
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        The three month public Consultation on the West London Tram (WLT) proposal to build a tramway between Shepherd's Bush and Uxbridge, finished on 8 October.
        
    </div>



 <div class="on-this-page">
<p>Nearly 9,000 people turned up to the roadshows to find out more about the scheme and to give their views about the proposed route, and over 17,000 questionnaire responses were received from people living, working and travelling through the area. </p>
<p>Seventeen thousand people also visited the relevant section of the TfL website.</p>
<p>In order to target hard to reach groups, the consultation materials were available in Braille and 11 languages in addition to English, and interpreters were available at the some of the roadshow events.</p>
<p>The consultation was widely publicised at tube stations, bus shelters, on roadside poster sites and through door-to-door distribution of the consultation materials to over 400,000 households and businesses in west London.</p>
<p>A full report about the consultation will be produced in the New Year once all of the responses have been analysed and a summary will be sent to everyone who gave their views about WLT to Transport for London.<br></p>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "Nearly 9,000 people turned up to the roadshows to find out more about the scheme and to give their views about the proposed route, and over 17,000 questionnaire responses were received from people living, working and travelling through the area. Seventeen";}
        
        


 