


@{ViewBag.Title = "Cracking down on illegal parking on Londons red routes";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>Cracking down on illegal parking on Londons red routes</h1>
        <div class="content-page-press-release">
        15 November 2004
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        As of today (Monday 15th November), Transport for London and the Metropolitan Police Service will be working together to crack down on drivers who park illegally on London's red routes.
        
    </div>



 <div class="on-this-page">
<p>Irresponsible drivers can cause congestion and delays for other motorists and road users when they park or stop on double red lines. To help drivers keep moving in London, TfL and the MPS will be stepping up enforcement, targeting particular hotspots and increasing the level of the fine.</p>
<p>Metropolitan Police traffic wardens and traffic police community support officers (TPCSOs) will continue to undertake high visibility patrols at known bottlenecks and pinchpoints on the red route network. From now on they will issue &pound;100 Penalty Charge Notices instead of the previous &pound;60 Fixed Penalty Notice. However, any revenue generated will be used to increase visible transport policing across London's transport system.</p>
<p>The MPS wardens and TPCSOs will work under a special services agreement between TfL and MPS. TfL will ensure that parking restrictions are enforceable and that wardens and TPCSOs are guided to priority locations. In the near future TfL will also be introducing CCTV enforcement to supplement the activities of police personnel.</p>
<p>Jeroen Weimar, TfL's Director of Transport Policing and Enforcement, said: "Just one driver blocking a red route can cause major congestion and delays for other drivers. TfL's aim is to ease congestion and further improve road safety for all road users through effective enforcement of red route regulations.</p>
<p>"Robust enforcement is aimed at those few selfish drivers who break the law, cause congestion for other road users and drive dangerously. This move will greatly benefit the majority of drivers who drive in accordance with the Highway Code and lead to safer and more reliable journeys."</p>
<p>The MPS wardens and TPCSOs who patrol the red routes are highly trained to help manage London's traffic system. As well as enforcing important traffic and parking regulations they can direct traffic, deal with emergencies and liaise directly with the police. The wardens and TPCSOs attached to the joint TfL/MPS Transport Operational Command Unit (TOCU) over the past two years have been instrumental in keeping key routes moving as well as tackling crime and disorder on and around the transport system.</p>
<p>TOCU Chief Superintendent Mike Humphrey said: "Our TPCSOs and traffic wardens not only help to keep traffic flowing smoothly but also act as the eyes and ears for the police. Our aim is to make car and bus journeys in London as safe and reliable as possible, while challenging crime and disorder wherever we work."</p>
<p>These new measures are expected to increase levels of compliance with parking restrictions and lead to improved traffic flow and reduced congestion, thereby improving journey times and reliability of road traffic.</p>
<p>A marketing campaign with the message that it only takes one driver to clog up London's roads was launched by TfL at the beginning of November. The campaign includes radio, roadside ads, buses, bus-stop posters, online banners, billboards, TfL web content, leaflets and press.</p>
<ul>
    <li><strong>Red routes by borough:</strong> </li>
</ul>
<div class="table-container"><table width="100%" class="datatable2">
    <tbody>
        <tr>
            <th width="37%" valign="top">
            <p><strong>Borough</strong></p>
            </th>
            <th width="63%" valign="top">
            <p><strong>Red routes</strong></p>
            </th>
        </tr>
        <tr>
            <td valign="top" style="width: 37%;">
            <p>Barking &amp; Dagenham</p>
            </td>
            <td valign="top" style="width: 63%;">
            <p>A13, A12</p>
            </td>
        </tr>
        <tr>
            <td valign="top" style="width: 37%;">
            <p>Barnet</p>
            </td>
            <td valign="top" style="width: 63%;">
            <p>A406, A1, A41</p>
            </td>
        </tr>
        <tr>
            <td valign="top" style="width: 37%;">
            <p>Bexley</p>
            </td>
            <td valign="top" style="width: 63%;">
            <p>A2, A20</p>
            </td>
        </tr>
        <tr>
            <td valign="top" style="width: 37%;">
            <p>Brent</p>
            </td>
            <td valign="top" style="width: 63%;">
            <p>A406</p>
            </td>
        </tr>
        <tr>
            <td valign="top" style="width: 37%;">
            <p>Bromley</p>
            </td>
            <td valign="top" style="width: 63%;">
            <p>A20, A21, A232</p>
            </td>
        </tr>
        <tr>
            <td valign="top" style="width: 37%;">
            <p>Camden</p>
            </td>
            <td valign="top" style="width: 63%;">
            <p>A41, A503, A400, A501</p>
            </td>
        </tr>
        <tr>
            <td valign="top" style="width: 37%;">
            <p>City of London</p>
            </td>
            <td valign="top" style="width: 63%;">
            <p>A10, A201, A3211, A1210, A3</p>
            </td>
        </tr>
        <tr>
            <td valign="top" style="width: 37%;">
            <p>Croydon</p>
            </td>
            <td valign="top" style="width: 63%;">
            <p>A232, A23, A22</p>
            </td>
        </tr>
        <tr>
            <td valign="top" style="width: 37%;">
            <p>Ealing</p>
            </td>
            <td valign="top" style="width: 63%;">
            <p>A40, A406, A312, A4180</p>
            </td>
        </tr>
        <tr>
            <td valign="top" style="width: 37%;">
            <p>Enfield</p>
            </td>
            <td valign="top" style="width: 63%;">
            <p>A10, A406</p>
            </td>
        </tr>
        <tr>
            <td valign="top" style="width: 37%;">
            <p>Greenwich</p>
            </td>
            <td valign="top" style="width: 63%;">
            <p>A2, A102, A205, A2213, A20, A210</p>
            </td>
        </tr>
        <tr>
            <td valign="top" style="width: 37%;">
            <p>Hackney</p>
            </td>
            <td valign="top" style="width: 63%;">
            <p>A10, A107, A102, A503, A12, A501, A1202, A5201</p>
            </td>
        </tr>
        <tr>
            <td valign="top" style="width: 37%;">
            <p>Hammersmith &amp; Fulham</p>
            </td>
            <td valign="top" style="width: 63%;">
            <p>A40, A3220, A4</p>
            </td>
        </tr>
        <tr>
            <th width="37%" valign="top">
            <p><strong>Borough</strong></p>
            </th>
            <th width="63%" valign="top">
            <p><strong>Red routes</strong></p>
            </th>
        </tr>
        <tr>
            <td valign="top" style="width: 37%;">
            <p>Haringey</p>
            </td>
            <td valign="top" style="width: 63%;">
            <p>A503, A10</p>
            </td>
        </tr>
        <tr>
            <td valign="top" style="width: 37%;">
            <p>Harrow</p>
            </td>
            <td valign="top" style="width: 63%;">
            <p>None</p>
            </td>
        </tr>
        <tr>
            <td valign="top" style="width: 37%;">
            <p>Havering</p>
            </td>
            <td valign="top" style="width: 63%;">
            <p>A12, A127</p>
            </td>
        </tr>
        <tr>
            <td valign="top" style="width: 37%;">
            <p>Hillingdon</p>
            </td>
            <td valign="top" style="width: 63%;">
            <p>A30, A4, A312, A40, A4180</p>
            </td>
        </tr>
        <tr>
            <td valign="top" style="width: 37%;">
            <p>Hounslow</p>
            </td>
            <td valign="top" style="width: 63%;">
            <p>A316, A312, A30, A4, A406, A315, A205</p>
            </td>
        </tr>
        <tr>
            <td valign="top" style="width: 37%;">
            <p>Islington</p>
            </td>
            <td valign="top" style="width: 63%;">
            <p>A501, A1, A503, A201</p>
            </td>
        </tr>
        <tr>
            <td valign="top" style="width: 37%;">
            <p>Kensington &amp; Chelsea</p>
            </td>
            <td valign="top" style="width: 63%;">
            <p>A4, A3220, A3212, A40</p>
            </td>
        </tr>
        <tr>
            <td valign="top" style="width: 37%;">
            <p>Kingston-Upon-Thames</p>
            </td>
            <td valign="top" style="width: 63%;">
            <p>A243, A3, A240</p>
            </td>
        </tr>
        <tr>
            <td valign="top" style="width: 37%;">
            <p>Lambeth</p>
            </td>
            <td valign="top" style="width: 63%;">
            <p>A3036, A3204, A202, A3, A23, A203, A205, A24, A3200, A3203</p>
            </td>
        </tr>
        <tr>
            <td valign="top" style="width: 37%;">
            <p>Lewisham</p>
            </td>
            <td valign="top" style="width: 63%;">
            <p>A202, A2, A20, A21, A205</p>
            </td>
        </tr>
        <tr>
            <td valign="top" style="width: 37%;">
            <p>Merton</p>
            </td>
            <td valign="top" style="width: 63%;">
            <p>A24, A297, A3</p>
            </td>
        </tr>
        <tr>
            <td valign="top" style="width: 37%;">
            <p>Newham</p>
            </td>
            <td valign="top" style="width: 63%;">
            <p>A13, A117, A1020, A406</p>
            </td>
        </tr>
        <tr>
            <td valign="top" style="width: 37%;">
            <p>Redbridge</p>
            </td>
            <td valign="top" style="width: 63%;">
            <p>A12, A406, A1400</p>
            </td>
        </tr>
        <tr>
            <td valign="top" style="width: 37%;">
            <p>Richmond-Upon-Thames</p>
            </td>
            <td valign="top" style="width: 63%;">
            <p>A316, A205</p>
            </td>
        </tr>
        <tr>
            <td valign="top" style="width: 37%;">
            <p>Southwark</p>
            </td>
            <td valign="top" style="width: 63%;">
            <p>A202, A200, A2, A3, A100, A205, A201</p>
            </td>
        </tr>
        <tr>
            <td valign="top" style="width: 37%;">
            <p>Sutton</p>
            </td>
            <td valign="top" style="width: 63%;">
            <p>A232, A24, A217, A297</p>
            </td>
        </tr>
        <tr>
            <td valign="top" style="width: 37%;">
            <p>Tower Hamlets</p>
            </td>
            <td valign="top" style="width: 63%;">
            <p>A11, A13, A1203, A1202, A1205, A12, A1261, A3211, A100</p>
            </td>
        </tr>
        <tr>
            <td valign="top" style="width: 37%;">
            <p>Waltham Forest</p>
            </td>
            <td valign="top" style="width: 63%;">
            <p>A406, A12</p>
            </td>
        </tr>
        <tr>
            <td valign="top" style="width: 37%;">
            <p>Wandsworth</p>
            </td>
            <td valign="top" style="width: 63%;">
            <p>A3205, A3220, A205, A3, A214, A24, A306</p>
            </td>
        </tr>
        <tr>
            <td valign="top" style="width: 37%;">
            <p>Westminster</p>
            </td>
            <td valign="top" style="width: 63%;">
            <p>A3212, A202, A3213, A302, A4, A4202, A5, A41, A3211</p>
            </td>
        </tr>
    </tbody>
</table></div>
<li>TfL is responsible for operating and improving conditions for all road users on 580km of London's most important roads - the red routes, which can be identified by the red road markings or signs at the side of the road. Also known as the Transport for London Road Network (TLRN), red routes comprise only 5 per cent of the Capital's roads but carry approximately 33 per cent of its traffic.
</li>
<li>There are 350 MPS traffic wardens and 450 traffic police community support officers patrolling London's red routes.
</li>
<li>The penalty charge notice for illegally parking on a red route will now be &pound;100, reduced to &pound;50 if the fine is paid within two weeks.
</li>
<li>Any motorist receiving a fine they feel is unjust can appeal against it in the same way as they would a parking ticket.
</li>
<li>TOCU has 926 police officers, police community support officers, traffic wardens and police staff working across London. TOCU was created in 2002 specifically to tackle bus crime and bus flow issues; it is funded by TfL and operated by the MPS. TOCU officers patrol buses along 28 major bus routes, and the areas around them, reducing crime and the fear of crime and keeping bus lanes congestion-free. In addition, TOCU is responsible for enforcing the law relating to private hire vehicles and dealing with congestion at priority locations.
</li>
<li>TfL's Transport Policing and Enforcement Directorate (TPED) aims to deliver world class transport policing and enforcement services to support a safe, reliable and socially inclusive transport system for London. </li>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "Irresponsible drivers can cause congestion and delays for other motorists and road users when they park or stop on double red lines. To help drivers keep moving in London, TfL and the MPS will be stepping up enforcement, targeting particular hotspots and";}
        
        


 