


@{ViewBag.Title = "Local Mayor welcomes new buses on route 28";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>Local Mayor welcomes new buses on route 28</h1>
        <div class="content-page-press-release">
        04 November 2004
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        The Mayor of Hammersmith and Fulham has welcomed the arrival of new low floor, double deck buses on busy local route 28.
        
    </div>



 <div class="on-this-page">
<p>Commenting on the recently completed delivery of the new buses, Cllr Treloggan said:</p>
<p>"The new buses have been very well received in Fulham. There's more room to move around, they have all the latest features to assist accessibility, and they're more smoothly driven too"</p>
<p>Route 28, which provides a vital north-south link across the borough from Wandsworth through Fulham Broadway and on to Olympia, Kensington and Notting Hill, has used single deckers for some years. However the increasing popularity of the route justified the recent return to double deckers. A new style contract also provides incentives for good performance.</p>
<p>Clare Kavanagh, TfL's Director of Performance for Surface Transport said: </p>
<p>"Bus services in Hammersmith and Fulham have been transformed in the last two years. Every route into Central London has been improved, with frequency increases on most services and two brand new routes. Nearly all routes in the borough now use fully accessible vehicles. The new buses and extra capacity on route 28 help to complete this transformation"<br />
</p>
<p>For more information about London Bus Services check out <a href="https://tfl.gov.uk/modes/buses/" el="https://tfl.gov.uk/modes/buses/" lid="https://tfl.gov.uk/modes/buses/">tfl.gov.uk/modes/buses/</a></p>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "Commenting on the recently completed delivery of the new buses, Cllr Treloggan said:'The new buses have been very well received in Fulham. There's more room to move around, they have all the latest features to assist accessibility, and they're more";}
        
        


 