


@{ViewBag.Title = "Mayor announces record five-year &pound;758 million funding programme for local transport improvements";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>Mayor announces record five-year &pound;758 million funding programme for local transport improvements</h1>
        <div class="content-page-press-release">
        23 November 2004
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        Sustained local transport investment aims to improve journeys from 'the moment Londoners leave their front door'
        
    </div>



 <div class="on-this-page">
<p>Ken Livingstone, Mayor of London today announced over &pound;758m of funding for London Boroughs to spend on local transport improvements over the next five years, delivered as part of Transport for London's (TfL's) &pound;10bn 5-Year Investment Programme.</p>
<p>TfL will provide &pound;155m for borough schemes in 2005/6, exceeding the record &pound;147m commitment made by the Mayor for 2004, with borough transport funding then set at over &pound;150m each year until 2009/10. </p>
<p>Based on bids submitted by the boroughs through <a href="/corporate/about-tfl/boroughpartnerships/1474.aspx" lid="Borough Spending Plans (BSPs)">Borough Spending Plans (BSPs)</a>, this settlement will provide funding for a range of local initiatives including cycling, walking, safer routes to schools, environment, road safety and town-centre schemes and will benefit all London boroughs.</p>
<p>Speaking at City Hall, the Mayor said: "Funding for borough transport schemes has increased every year since 2000 and we're now improving on the three-year, &pound;140m a year commitment I made back in 2002. </p>
<p>"Our ground-breaking funding deal with the Government means that we can build on this commitment and under-pin the major projects in TfL's 5-year &pound;10bn investment programme with a sustained package for local transport improvements across London.</p>
<p>"My aim is to improve the journeys we all make every day, whether it's a short walk to the local shop or bus stop or a bike ride to local stations and schools. </p>
<p>"We're working with the boroughs to provide every Londoner with safer, more accessible trips from the moment they leave their front door."</p>
<p>Highlights of the 2005/6 BSP include <a href="/corporate/about-tfl/boroughpartnerships/1474.aspx" lid="spending allocations">spending allocations</a> aimed at:</p>
<ul>
<li>Reducing social exclusion - increased funding for walking from &pound;3m to &pound;4.9m and for cycling from &pound;8.5m to &pound;12.1m; </li>
<li>Reducing road casualties - increased road safety funding from &pound;21.2m to &pound;28.7m; </li>
<li>Town centre regeneration and accessibility - increased funding for station access, town centres and Streets for People from &pound;16.8m to &pound;18.7m; </li>
<li>Tackling the school run - Increased funding for Safer Routes to School and Travel Awareness from &pound;8.2m to &pound;10.3m. </li>
<li>The environment - Increased funding for mitigating environmental impacts of transport up from &pound;1m to &pound;1.5m. </li></ul>
<p>Bob Kiley, London's Transport Commissioner said: "London thrives because of the diversity and dynamism of its local communities. </p>
<p>"It is important not to forget that over half of all journeys made in London are local trips and under 2km in length. These local trips are as important, if not more so, than major transport projects that often grab the headlines.</p>
<p>"By making it easier and safer to travel on foot, by bike or by bus, we can make a huge difference to the local environment, to social inclusion, to the vitality of local town centres and perhaps most importantly, reducing the number of deaths and injuries on our roads.</p>
<p>"I am pleased to announce TfL's comprehensive Business Plan means a commitment of over &pound;758m of funding to the Borough Spending Plan programme over the next five years."</p>
<p>Richard Rogers, Chief Advisor to the Mayor of London on Architecture and Urbanism said: "This programme makes a positive contribution to the revival of London's civic spaces, notably through the Mayor's 100 Public Spaces project but also through a series of schemes which will improve every Londoner's experience of the city. </p>
<p>"This work is critical to London's urban renaissance and development as a humane and liveable city, the ultimate aim of urban design."</p>
            <p>Click on the following to see how your borough fared.</p>
<ul>
<li><a href="/assets/downloads/pn1262.01_-_Barking__Dagenham_BSP_2005_.pdf">Barking &amp; Dagenham (PDF 82 kb)</a></li>
<li><a href="/assets/downloads/pn1262.02_-_Barnet_BSP_2005.pdf">Barnet (PDF 78 kb)</a></li>
<li><a href="/assets/downloads/pn1262.04_-_Brent_BSP_2005_.pdf">Brent (PDF 80 kb)</a></li>
<li><a href="/assets/downloads/pn1262.03_-_Bexley_BSP_2005.pdf">Bexley (PDF 78 kb)</a></li>
<li><a href="/assets/downloads/pn1262.05_-_Bromley_BSP_2005.pdf">Bromley (PDF 78 kb)</a></li>
<li><a href="/assets/downloads/pn1262.06_-_Camden_BSP_2005.pdf">Camden (PDF 79 kb)</a></li>
<li></li>
<li><a href="/assets/downloads/pn1262.07_-_Croydon_BSP_2005.pdf">Croydon (PDF 78 kb)</a></li>
<li><a href="/assets/downloads/pn1262.08_-_Ealing_BSP_2005.pdf">Ealing (PDF 81 kb)</a></li>
<li><a href="/assets/downloads/pn1262.10_-_Enfield_BSP_2005.pdf">Enfield (PDF 78 kb)</a></li>
<li><a href="/assets/downloads/pn1262.11_-_Greenwich_BSP_2005.pdf">Greenwich (PDF 79 kb)</a></li>
<li><a href="/assets/downloads/pn1262.12_-_Hackney_BSP_2005.pdf">Hackney (PDF 77 kb)</a></li>
<li></li>
<li><a href="/assets/downloads/pn1262.14_-_Haringey_BSP_2005.pdf">Haringey (PDF 78 kb)</a></li>
<li><a href="/assets/downloads/pn1262.15_-_Harrow_BSP_2005.pdf">Harrow (PDF 78 kb)</a></li>
<li><a href="/assets/downloads/pn1262.16_-_Havering_BSP_2005.pdf">Havering (PDF 78 kb)</a></li>
<li><a href="/assets/downloads/pn1262.17_-_Hillingdon_BSP_2005.pdf">Hillingdon (PDF 79 kb)</a></li>
<li><a href="/assets/downloads/pn1262.18_-_Hounslow_BSP_2005.pdf">Hounslow (PDF 79 kb)</a></li>
<li><a href="/assets/downloads/pn1262.19_-_Islington_BSP_2005.pdf">Islington (PDF 78 kb)</a></li>
<li><a href="/assets/downloads/pn1262.20_-_KC_BSP_2005.pdf">Kensington &amp; Chelsea (PDF 84 kb)</a></li>
<li><a href="/assets/downloads/pn1262.21_-_Kingston_BSP_2005.pdf">Kingston Upon Thames (PDF 79 kb)</a></li>
<li><a href="/assets/downloads/pn1262.21_-_Kingston_BSP_2005.pdf">Lambeth (PDF 86 kb)</a></li>
<li><a href="/assets/downloads/pn1262.23_-_Lewisham_BSP_2005.pdf">Lewisham (PDF 80 kb)</a></li>
<li><a href="/assets/downloads/pn1262.24_-_Merton_BSP_2005.pdf">Merton (PDF 78 kb)</a></li>
<li><a href="/assets/downloads/pn1262.24_-_Newham_BSP_2005.pdf">Newham (PDF 80 kb)</a></li>
<li><a href="/assets/downloads/pn1262.25_-_Redbridge_BSP_2005.pdf">Redbridge (PDF 79 kb)</a></li>
<li><a href="/assets/downloads/pn1262.26_-_Richmond_BSP_2005.pdf">Richmond upon Thames (PDF 79 kb)</a></li>
<li><a href="/assets/downloads/pn1262.27_-_Southwark_BSP_2005.pdf">Southwark (PDF 84 kb)</a></li>
<li><a href="/assets/downloads/pn1262.28_-_Sutton_BSP_2005.pdf">Sutton (PDF 76 kb)</a></li>
<li></li>
<li></li>
<li><a href="/assets/downloads/pn1262.31_-_Wandsworth_BSP_2005.pdf">Wandsworth (PDF 77 kb)</a></li>
<li><a href="/assets/downloads/pn1262.32_-_Westminster_BSP_2005.pdf">Westminster (PDF 77 kb) </a></li></ul>
<p>The BSP programme provides funding for range of local borough transport improvements with boroughs submitting annual bids to TfL in the form of their BSPs. BSPs apply for scheme funding under the following Transport Topics: </p>
<ul>
<li>Infrastructure (Principal Road Renewal; Bridge Assessment and Strengthening) </li>
<li>Road Safety (Local Safety Schemes; 20mph Zones; Education, Training &amp; publicity schemes) </li>
<li>Walking &amp; Cycling (Walking; London Cycle Network (LCN); Non LCN) </li>
<li>Bus Stop Accessibility </li>
<li>Bus Priority </li>
<li>Area Based Schemes (Town Centres; Station Access; Streets for People) </li>
<li>Safer Routes to Schools; Travel Awareness </li>
<li>Freight </li>
<li>Regeneration Area schemes </li>
<li>Air Quality/ Environment </li>
<li>Controlled Parking Zones </li>
<li>Local Accessibility </li></ul>
<p>Total figures for 2005/06 BSP funding over the term of the TfL 5-Year Investment Programme </p>2004/05<br>&pound;m147<br><br>2005/06<br>&pound;m155<br><br>2006/07 <br>&pound;m150<br><br>2007/08 <br>&pound;m151<br><br>2008/09<br>&pound;m150<br><br>2009/10<br>&pound;m152<br><br>Total 05/06 - 09/10<br>&pound;m758 <br><br>
<p>Adi Frost <br>Media Manager <br>Email: adifrost&#64;tfl.gov.uk <br>Direct line: 020 7941 4881 </p>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "Ken Livingstone, Mayor of London today announced over &pound;758m of funding for London Boroughs to spend on local transport improvements over the next five years, delivered as part of Transport for London's (TfL's) &pound;10bn 5-Year Investment";}
        
        


 