


@{ViewBag.Title = "More resources, more cyclists - the chain reaction continues";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>More resources, more cyclists - the chain reaction continues</h1>
        <div class="content-page-press-release">
        08 November 2004
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        Transport for London has welcomed the publication of the London Cycle Network+ (LCN+) annual report, outlining the significant improvements made by TfL and the 33 London Boroughs in the past year.Improved processes allowed TfL and the Boroughs to make the most of their budget to upgrade the cycling infrastructure in London, investing over &pound;6 million to improve not only the quantity but also the quality of cycle routes across the city. The enhanced infrastructure aims to accommodate the needs of the increasing number of cyclists, up 23% since last year.
        
    </div>



 <div class="on-this-page">
<p>In 2003/04, the cycling network grew 58km to 350km, and TfL introduced the London-wide cycle action plan (LCAP) to ensure quality targets are met. Improvements on the network include the widening of cycle lanes, e.g. on the King's Road in Hammersmith, joint bus/cycle schemes, e.g. Ealing, and town centre access improvements, e.g. Harrow, to name but a few.</p>
<p>Rose Ades, Head of TfL's Cycling Centre of Excellence, said: &quot;TfL are pleased to be working closely with the London Boroughs to improve conditions for cyclists in the city. We are well on the way to improving the cycling environment as set out in the Mayor's manifesto by 2010. Our challenges for next year will include implementation of an upgrade programme along the LCN+ network as well as the continued expansion of the cycle route network. </p>
<p>&quot;We are committed to making cycling an increasingly attractive transport option for those who live in, work in or visit London.&quot; </p>
            <ul>
<li>Regular cycling improves strength, stamina and posture. 
</li><li>On an average journey of four miles in Central London, cycling is the fastest mode of transport. 
</li><li>You can park your bike almost anywhere. 
</li><li>It takes eight bicycles to occupy the space taken by just one car. 
</li><li>People in cars are exposed to four times more air pollution than pedestrians or cyclists. 
</li><li>The more people cycle, the more aware drivers become and the safer the roads are for cyclists. 
</li><li>And more people cycling means fewer cars on the road, making it safer for cyclists. 
</li><li>Six out of ten men and seven out of ten women are not physically active enough to benefit their health. 
</li><li>Cycling increases calorie consumption and raises the metabolic rate, which can help weight loss. 
</li><li>TfL's Cycling Centre of Excellence (CCE) provides the following: 
<ul>
<li>Improvements to cycling infrastructure - over 350km links, junctions and access 
</li><li>Nearly 5000 additional cycle parking spaces, on street, at stations and at schools 
</li><li>Free cycle maps showing quiet routes and bike shops 
</li><li>Free cyclist training across London </li></ul></li></ul>
<div align="left">
<p>The London Cycling Network (LCN) is managed jointly by the LCN+ team at London Borough of Camden and TfL's CCE. <br>By introducing a strategic network of high demand routes it is envisaged that more Londoners will have a realistic option of cycling for some of their journeys. These routes will be safe, comfortable, and easy to use with enhanced access and priority for cyclists at junctions. This network of facilities is being constructed to a higher design standard and new accountability procedures are in place to ensure best practice and increased safety.</p></div>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "In 2003/04, the cycling network grew 58km to 350km, and TfL introduced the London-wide cycle action plan (LCAP) to ensure quality targets are met. Improvements on the network include the widening of cycle lanes, e.g. on the King's Road in Hammersmith,";}
        
        


 