


@{ViewBag.Title = "Speed cameras to enforce roadworks 20mph zone";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>Speed cameras to enforce roadworks 20mph zone</h1>
        <div class="content-page-press-release">
        24 November 2004
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        From Monday 29 November construction works for Walbrook Wharf, by the Corporation of London (CoL) on Upper Thames Street, between London Bridge and Southwark Bridge, will have temporary speed cameras enforcing a 20mph zone.
        
    </div>



 <div class="on-this-page">
<p>During the 18 months of roadworks, the London Safety Camera Partnership (LSCP) will operate four pairs of digital cameras in the temporary 20mph zone. These cameras will enforce the lower speed limit in order to protect vulnerable road users on the temporary road layout and construction site workers. </p>
<p>Tom Duckham, Project Manager, LSCP, said: "We want to encourage drivers and riders to keep within the reduced speed limit for the safety of all road users on that busy stretch of road. Message signs will alert drivers if they travel over the speed limit so they can reduce their speed before reaching the zone. Our primary aim is reduce speed related collisions and to protect vulnerable road users." </p>
<p>Peter Hendy, TfL's Managing Director, Surface Transport, said: "In 2003, pedestrians and cyclists accounted for over a quarter of all casualties on London's roads. As Upper Thames Street is exposed to high volumes of both groups, we must ensure their safety is paramount. Research proves that a 1mph reduction in average speed results in a reduction of 6% in the number of collisions, and we will endeavour to mitigate collisions at this site over the next 18 months".</p>
<p>Sergeant Alan Rickwood, Traffic Management, City of London Police, said: "The cameras will enforce speeds in both directions and the scheme will be supported by variable message signs, to warn drivers in advance of their speed so they have the opportunity to slow down."</p>
<p>For further information, please email to <a href="mailto:lscp&#64;streetmanagement.org.uk" lid="lscp&#64;streetmanagement.org.uk">lscp&#64;streetmanagement.org.uk</a></p>
            <ol>
<li>This development (Walbrook Wharf) will take place on the westbound carriageway between London Bridge and Southwark Bridge starting 29 November 2004. The construction requires the westbound nearside lane to be closed for the duration of the works. The effect of which means that carriageway alterations are required in order to maintain two running lanes in each direction. Lane widths and lines of sight will be altered to such an extent that in order to ensure that the area is safe for construction site workers, and vulnerable road users (the narrower lanes will pose a greater risk to cyclists, and for pedestrians, the existing crossing points will have a restricted view of approaching traffic) a 20mph limit through the construction area will be imposed. 
</li><li>The SPECS digital cameras read the number plate for every vehicle on entry to, and exit from the speed-managed zone. An average speed is recorded by calculating the time taken for the vehicle to travel the distance between entry and exit cameras. If a vehicle is travelling over the speed limit a violation record will be stored for enforcement by the City of London Police. The cameras do not flash and all the data is stored digitally so there is no need for film in the cameras. <br>
</li><li>Speed activated variable message signs are used on roads where speed control is required. If a vehicle is over the speed limit this information is transmitted to a LED screen. They are effective at encouraging drivers to decrease their speeds whilst travelling through road works without the involvement of the Police and to reinforce the speed deterrent message. <br>
</li><li>There were 38,430 casualties on London's roads in 2003 - made up of 22,484 vehicle drivers or riders (58.5%), 8,819 vehicle passengers (22.9%) 7,127 pedestrians (18.5%) and 3,056 pedal cyclists (8%). Statistics sourced from the London Road Safety Unit, TfL. 
</li><li>The members of the London Safety Camera Partnership (LSCP) are Transport for London, the Association of London Government, the Metropolitan and City of London Police, with the Greater London Magistrates Courts Authority. 
</li><li>The Partnership, formed in March 2001, uses London's existing network of c.700 speed and red light cameras to reduce speeds and casualties on London's roads. The partnership had to meet the DfT's strict criteria for the use of cameras before being allowed to join the National initiative, which allows it to use some of the revenue from camera enforcement fines and reinvest it into enforcement of existing speed limits. 
</li><li>Approved by the DfT in April 2002, the Partnership is targeting to reduce deaths and serious injuries on the capital's road. It uses an intelligence-led approach focusing enforcement at camera sites with a demonstrable history of road casualties. Data has been gathered from these sites, supported by statistics from Transport for London's London Accident Analysis Unit and the DfT Statistical unit, Stats 19.</li></ol>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "During the 18 months of roadworks, the London Safety Camera Partnership (LSCP) will operate four pairs of digital cameras in the temporary 20mph zone. These cameras will enforce the lower speed limit in order to protect vulnerable road users on the";}
        
        


 