


@{ViewBag.Title = "Sutton wins bus garage of the year";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>Sutton wins bus garage of the year</h1>
        <div class="content-page-press-release">
        19 November 2004
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        Sutton bus garage, operated by London General, was revealed as the winner of Transport for London, Bus Garage of the year at the Bus Industry Awards yesterday.
        
    </div>



 <div class="on-this-page">
<p>Bus industry 'Oscars' are awarded annually to bus and coach operators nationwide. Transport for London gives a special prize to the garage operating TfL bus route contracts that has offered the best quality of service to the travelling public. </p>
<p>Sutton (London General) was the winner, followed by runner-up Bromley (Stagecoach). They will receive cash prizes, which will be used to improve staff facilities.</p>
<p>Transport for London, Managing Director of Surface Transport, Peter Hendy said:</p>
<ul>
    <p>"Congratulations to all the staff at Sutton garage and thank you for all your hard work. London Buses now carry six million passenger trips each weekday so the quality of service is under constant scrutiny. Winning this award is a credit to everyone who works at Sutton garage."</p>
</ul>
<p>Seven garages were short-listed based on their overall performance in the year to July 2004. These were judged on a submission from each garage covering staff training, customer service and employee relations, together with information on a range of performance criteria. The judges looked for the garage that offered the best quality of service to the travelling public and which, in their opinion, has the best practice and policies to sustain this level of service.</p>
The London bus network is one of the largest and most comprehensive urban systems in the world. Each weekday 8,000 London buses carry 6 million passengers on over 700 different routes.<br />
Key points about expanding the London bus network:<br />
<ul>
    <li>Bus use is up by 11 per cent over the past year (03/04) - an extra 168 million passenger trips;
    </li>
    <li>The number of passengers using buses is at its highest level since 1968;
    </li>
    <li>Patronage is rising at its fastest rate since the Second World War;
    </li>
    <li>Night bus use is up by 29 per cent over the past year; and
    </li>
    <li>London Buses is running the highest volume of service on London's roads than at any time since 1957. </li>
</ul>
<p>For more information about London Bus Services check out <a href="http://www.tfl.gov.uk/buses">www.tfl.gov.uk/buses</a></p>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "Bus industry 'Oscars' are awarded annually to bus and coach operators nationwide. Transport for London gives a special prize to the garage operating TfL bus route contracts that has offered the best quality of service to the travelling public. Sutton";}
        
        


 