


@{ViewBag.Title = "TfL London Rail Improves Rail Safety in South East London";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>TfL London Rail Improves Rail Safety in South East London</h1>
        <div class="content-page-press-release">
        08 November 2004
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        Rail passengers travelling on the Hayes Line to the south east of the Capital will benefit from a safer and more pleasant environment thanks to &pound;600,000 of funding from London Rail, part of Transport for London (TfL).
        
    </div>



 <div class="on-this-page">
<p>The investment will help improve a route that has previously caused concern with regards to personal safety and security and, in line with the Mayor's transport strategy, will include:</p>
<ul>
<li>Installation of CCTV coverage linked to a central control centre and digitally monitored at all stations on the line of route; 
</li><li>Installation of Help Points with induction loops at all stations - (these loops assist people who use a hearing aid or loop listener to hear sounds more clearly by cutting out background noise). </li></ul>
<p>In addition, other station improvements will be carried out in partnership with South Eastern Trains and will include deep cleaning, painting and work to improve the safety in areas that can encourage anti-social behaviour.<br>Following the successful implementation of a pilot scheme at three stations on the same line earlier this year, Ladywell, Catford Bridge and Lower Sydenham, this latest funding will provide a package of works to complete the line and will include stations at Hayes, West Wickham, Eden Park, Elmers End, Clock House, and New Beckenham.</p>
<p>SELTRANS, the sub-regional local authority partnership, is also contributing to the project by prioritising the line for funding to improve the station approaches.</p>
<p>&quot;We are delighted to announce this funding initiative alongside South Eastern Trains and SELTRANS,&quot; said Ian Brown, managing director of TfL London Rail.</p>
<p>&quot;We are now being given an increasing role in developing and improving the Capital's rail network. This gives us a new opportunity to improve rail services even further, as part of TfL's &pound;1.5bn investment programme for London's railways over the next five years.&quot;<br></p>
            <ol>
<li>For further information regarding TfL London Rail, please contact Brian Abbott, Head of Communications on 020 7941 7681 
</li><li>For further information regarding SELTRANS, please contact John Barkley on 020 84621789 
</li><li>For further information regarding South Eastern Trains, please contact Sarah Boundy on 020 7620 5080 <br></li></ol>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "The investment will help improve a route that has previously caused concern with regards to personal safety and security and, in line with the Mayor's transport strategy, will include:Installation of CCTV coverage linked to a central control centre and";}
        
        


 