


@{ViewBag.Title = "TfL receives award for reducing motorcycle casualties";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>TfL receives award for reducing motorcycle casualties</h1>
        <div class="content-page-press-release">
        25 November 2004
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        Transport for London today received an award from the Prince Michael International Road Safety Awards (PMIRSA) for its innovative work in reducing motorcycle casualties in the Capital.
        
    </div>



 <div class="on-this-page">
<p>Over the last few years, TfL has produced a package of initiatives aimed at reducing the high proportion of motorcycle collisions in London. These include BikeSafe London, a series of motorcycle safety publicity campaigns, including television and cinema advertisements, a bus lane access trial and powered two-wheeler exemption from the congestion charge. TfL have also set up a working group, with representatives from the Metropolitan Police Service, motorcycling organisations and the London Boroughs which has been key to the success.</p>
<p>Peter Brown, Chief Operating Officer of Street Management, said:</p>
<p>'The safety of road users and passengers on our services is of paramount importance to Transport for London. We will continue to make improvements to London's transport system as one life lost on London's roads is one too many. I am honoured to receive this award on behalf of all those who have worked hard to make motorcycling safer in London.'</p>
<p>The award was presented at TfL's headquarters at Windsor House, Victoria Street, by Geoff Sherley, Chief Executive of the Motorcycle Industry Association (MCIA). The official ceremony will take place on Tuesday 7 December 2004 at Savoy Hotel, where Peter Brown, TfL's Chief Operating Officer Streets and Chris Lines, TfL's Head of London Road Safety Unit, will be congratulated by Prince Michael of Kent. <br></p>
            20% of crashes in Greater London involve injury to motorcyclists, twice the national average. 
<p>The Prince Michael International Road Safety Awards (PMIRSA) is run by RoadSafe, a road safety partnership of leading companies in the motor and transport industries in Britain, the Government and road safety professionals. It aims to reduce deaths and injuries caused by road accidents and promote safer driving. The award is sponsored by the Motor Cycle Industry Association (MCIA).</p>
<p>BikeSafe London invites riders of powered two wheel riders to attend Skills days. These days combine observed rides, led by serving police officers on marked police motorcycles, with presentations looking at the system of motorcycle control, filtering and the common causes of motorcycle collisions in London.</p>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "Over the last few years, TfL has produced a package of initiatives aimed at reducing the high proportion of motorcycle collisions in London. These include BikeSafe London, a series of motorcycle safety publicity campaigns, including television and cinema";}
        
        


 