


@{ViewBag.Title = "UKTram - The National Tramways Forum";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>UKTram - The National Tramways Forum</h1>
        <div class="content-page-press-release">
        01 November 2004
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        A new National Tramways Forum, &quot;UKTram&quot; has been established following discussions between the Passenger Transport Executive Group (PTEG), Confederation of Passenger Transport (CPT), Light Rapid Transit Forum (LRTF) and TfL London Trams (LT).
        
    </div>



 <div class="on-this-page">
<p>UKTram has been formed following a year long consultation within the tramway and light rail industry on the necessity for establishing a body to represent tramways and, in particular, to address many of the issues that were raised in the National Audit Office Report 'Improving Public Transport in England Through Light Rail.' </p>
<p>UKTram will be managed jointly by the public and private sectors and will initially concentrate on four main areas:-</p>
<ul>
<li>Development of national guidelines, codes of practice and standards based upon experience in the UK and overseas. 
</li><li>Development of a body of technical excellence to provide a peer review function for project promoters 
</li><li>To review emerging national and EU legislative proposals and to identify changes in legislation that would benefit the safe and economic development of tramways 
</li><li>To work with the Government to establish alternative methods of procuring and funding tramway projects to deliver best value for the public sector and reasonable returns for private investors. </li></ul>
<p>A meeting of the Management Board of UKTram will take place in late November to confirm the working arrangements and structure of the new organisation. Before then, further consultation is taking place within the industry to determine any short term actions which UKTram could take to assist current and future scheme proposals. </p>
<p>Phil Hewitt, Head of London Trams, in welcoming the adoption of the UKTram proposals stated </p>
<p>&quot;The agreement to establish UKTram demonstrates the desire of both public and private sectors to join together to ensure that, in appropriate circumstances, tramways can continue to play an important role in the future of public transport in the UK.&quot;</p>
<p>As the trade association for the bus, coach and light rail industries, CPT represents the promoters and operators of the principal UK light rail and tramway systems. </p>
<p>Commenting on the establishment of UK Tram, Brian Nimick (CPT Director-General) said:</p>
<p>&quot;We welcome the establishment of UK Tram as a body bringing together all sides of the tramway industry. In the right location, tramways are a key component in supplying quality public transport and reducing dependence on cars. We look forward to working through UK Tram to help the development of tramways in our major cities.&quot;</p>
<p>Tim Larner, Director of the PTEG Support Unit said:</p>
<p>&quot;As Britain's largest bloc of tram and light rail promoters we look forward <br>to playing an active role in UK Tram. UK Tram will provide both the platform and the forum that light rail needs. It will also enable both the private and the public sector to deliver on the recommendations of the National Audit Office report on light rail. Light rail is the best solution for some of our busiest urban corridors. UK Tram will help us to ensure that we deliver those light rail schemes faster, better and cheaper.&quot;</p>
<p>The LRT Forum which represents private sector participants in LRT - operators, contractors, suppliers, funders, programme managers and consultants supports the aims of UKTram. </p>
<p>LRTF Steering Group member Roger Harding said:</p>
<p>&quot;It is particularly encouraging that the public and private sectors intend to work together to create an efficient and affordable tram industry in the UK.&quot;</p>
<p>For further information regarding UKTram contact:-</p>
<p>Phil Hewitt, <br>Head of London Trams, <br>Transport for London, <br>25 Wilton Road, London<br>SW1V 1LW. </p>
<p>email - <a href="mailto:londontrams&#64;tfl.gov.uk" lid="londontrams&#64;tfl.gov.uk">londontrams&#64;tfl.gov.uk</a>.</p>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "UKTram has been formed following a year long consultation within the tramway and light rail industry on the necessity for establishing a body to represent tramways and, in particular, to address many of the issues that were raised in the National Audit";}
        
        


 