


@{ViewBag.Title = "Veteran Bus Driver honours fellow comrades";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>Veteran Bus Driver honours fellow comrades</h1>
        <div class="content-page-press-release">
        11 November 2004
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        Retired Bus Driver Ian Aitchison will lay the Transport for London wreath at the Cenotaph, Whitehall to honour First World War servicemen on Sunday 14th November, Transport for London announced today.
        
    </div>



 <div class="on-this-page">
<p>Mr Aitchison is a member of the London Transport Old Comrades who are the only civilian group to be allowed to lay a wreath at the Cenotaph on Remembrance Sunday. </p>
<p>From 1942, Mr Aitchison served in the Royal Signals who were attached to the 53rd Heavy Regiment RA. During that time, he was based in Normandy and survived the heavy bombing of Calais, before moving on to Belgium and finally on to Germany on New Years Day 1945. He returned home in 1947. </p>
<p>Following his war years, Mr Aitchison joined Walworth Garage as a Bus Driver and later moved to Camberwell Green garage working on the route 45. In 1988, feigning retirement from his beloved bus driving, he moved to Wandsworth Garage where he drove sightseeing buses for the millions of tourists that visit the Capital each year. He finally succumbed to retirement last year at the age of 79 and lives in Elephant and Castle.</p>
<p>Retired Bus Driver and World War II Veteran Ian Aitchison said:</p>
<p>&quot;It's a true honour to be laying the wreath on behalf of Transport for London, particularly as 2004 is the 60th anniversary of the Normandy landings&quot;<br></p>
            <ol>
<li>London Transport Old Comrades were given the right to march by King George V who granted this honour to the London General Omnibus company in 1920 in recognition of the services rendered by the men who drove buses to the front line in France 1915. 
</li><li>The laying of the wreath follows the Remembrance service held at Whitehall on Sunday 14 November 2004. 
</li><li>Photographs available.</li></ol>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "Mr Aitchison is a member of the London Transport Old Comrades who are the only civilian group to be allowed to lay a wreath at the Cenotaph on Remembrance Sunday. From 1942, Mr Aitchison served in the Royal Signals who were attached to the 53rd Heavy";}
        
        


 