


@{ViewBag.Title = "Work starts to make Putney Bridge bus station safer and more accessible";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>Work starts to make Putney Bridge bus station safer and more accessible</h1>
        <div class="content-page-press-release">
        29 November 2004
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        Putney Bridge bus station is to be given a &pound;400,000 makeover that will include more accessible paving and CCTV technology for safer travel, Transport for London announced today.
        
    </div>



 <div class="on-this-page">
<p>Putney Bridge bus station will also benefit from resurfaced flooring and a new drainage system. The bus station will be closed from Monday 29th November until March 2005 during construction works. Bus passengers are advised to go to nearby bus stops that are publicised around the station to catch their bus during this period. </p>
<p>Transport for London, Head of Infrastructure, Chris Kershaw said:</p>
<ul>&quot;Putney Bridge station is used by thousands of bus passengers every day, and the new facilities will offer a securer and more pleasant environment for people to wait for buses.&quot; </ul>
            Bus routes affected by refurbishing of Putney Bridge bus station are 39, 85, 93, 265, 270, 414. <br><br>The London bus network is one of the largest and most comprehensive urban systems in the world. Each weekday 8,000 London buses carry 6 million passengers on over 700 different routes.<br><br>Key points about expanding the London bus network: 
<ul>
<li>Bus use is up by 11 per cent over the past year (03/04) - an extra 168 million passenger trips; 
</li><li>The number of passengers using buses is at its highest level since 1968; 
</li><li>Patronage is rising at its fastest rate since the Second World War; 
</li><li>Night bus use is up by 29 per cent over the past year; and 
</li><li>London Buses is running the highest volume of service on London's roads than at any time since 1957.</li></ul>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "Putney Bridge bus station will also benefit from resurfaced flooring and a new drainage system. The bus station will be closed from Monday 29th November until March 2005 during construction works. Bus passengers are advised to go to nearby bus stops that";}
        
        


 