


@{ViewBag.Title = "Crossrail Ltd outlines plan to complete the Elizabeth line";}
        
        
<div class="r">
    <div class="breadcrumb-container" role="navigation">
        <span id="breadcrumb-label" class="visually-hidden">You are here:</span>
        <ol class="breadcrumbs clearfix" aria-labelledby="breadcrumb-label">
            <li class="home">
                <a href="/">
                    <span class="hide-text">Home</span>
                </a>
            </li>
            
                <li>
                    <a href="/info-for/media/index">Media</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases">Press releases</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases/2019">2019</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases/2019/april">April</a>
                </li>
                
                <li>
                    <span class="last-breadcrumb">Crossrail Ltd outlines plan to complete the Elizabeth line</span>
                </li>
            
 
            
 
            
 
            
 
            
 
        </ul>
    </div>
</div>
     
 
<div class="r">
    <div class="headline-container plain">
        <h1>Crossrail Ltd outlines plan to complete the Elizabeth line</h1>
        <div class="content-page-press-release">
        25 April 2019
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        New leadership team outlines new plan to put Crossrail project back on track
        
    </div>



<div class="pull-quote">
        <div class="quote-body">"This new plan will get us there and allow this fantastic new railway to open around the end of next year

 "</div>
        <div class="quote-footer">
            <div class="quotee-name">Mark Wild</div>
            <div class="quotee-job-title">Chief Executive, Crossrail Ltd</div>
        </div>
</div>

 <div class="on-this-page">
<p style="margin-bottom:0.0001pt; margin-left:0cm; margin-right:0cm; margin-top:0cm">This press release, issued by Crossrail Ltd, was first published on <a href="[ioID]#http://www.crossrail.co.uk/news/articles/crossrail-ltd-outlines-plan-to-complete-the-elizabeth-line">crossrail.co.uk</a></p>

<ul>
	<li style="margin: 0cm 0cm 0.0001pt;">Robust and realistic plan follows a detailed audit of the programme</li>
	<li>Due to the complexity of the remaining work, Crossrail Ltd has identified a six-month window for delivery of the central section, with a midpoint at the end of 2020</li>
	<li>As the programme to complete and test the railway progresses, Crossrail Ltd will be able to provide increasing certainty about when the Elizabeth line will open</li>
</ul>

<p>A new plan to complete the outstanding works and bring the Elizabeth line into passenger service at the earliest possible date has been developed by the new Crossrail leadership team and agreed by the Crossrail Ltd Board.</p>

<p>Following a detailed audit of the programme, including what went wrong in the past, the new team has produced a robust and realistic plan to put Europe's most ambitious and complex infrastructure project back on track. The new plan has required identifying and re-sequencing over 100,000 interdependent tasks and takes full account of exactly what is to be done and how long it will take.</p>

<p>As many risks and uncertainties remain in the development and testing of the train and signalling systems, Crossrail Ltd has identified a six-month delivery window with a midpoint at the end of 2020. Crossrail will be making every effort to deliver the service as early as possible.</p>

<p>The central section of the Elizabeth line will open between Paddington and Abbey Wood and link the West End, the City of London, Canary Wharf and southeast London with initially 12 trains per hour during the peak.</p>

<p>It is expected that all stations on the route will open except for Bond Street which is delayed because of design and delivery challenges. Crossrail Ltd is working closely with Costain Skanska Joint Venture to ensure the station is ready to open at the earliest opportunity.</p>

<p>Once the central section opens, full services across the Elizabeth line from Reading and Heathrow in the west to Abbey Wood and Shenfield in the east, will commence as soon as possible.</p>

<p>As the completion work proceeds Crossrail Ltd will be providing Londoners with regular progress reports, and increasingly specific estimates of when the Elizabeth line will open. Crossrail Ltd has put in place a new visual management system to monitor progress by our contractors and their supply chains so that issues are addressed as quickly as possible.</p>

<p>There are four major tasks that must be completed:</p>

<ul>
	<li>Build and test the software to integrate the train operating system with three different signalling systems</li>
	<li>Install and test vital station systems</li>
	<li>Complete installation of the equipment in the tunnels and test communications systems</li>
	<li>And when this is done, trial run the trains over many thousands of miles on the completed railway to shake out any problems and ensure the highest levels of safety and reliability when passenger service begins</li>
</ul>

<p>Crossrail expects that the remaining fit-out and systems installation in the stations and tunnels will be completed this year. This will allow the new stations and rail infrastructure to be integrated with the rest of the railway. Crossrail also expects that Bombardier Transportation and Siemens will complete development of the train and signalling software this year allowing the train control system to be fully tested.</p>

<p>The central section works are expected to be delivered within the funding package agreed by the Mayor, Government and Transport for London in December 2018.</p>

<p><strong>Mark Wild, Chief Executive, Crossrail Ltd, said:</strong></p>

<p>'I share the frustration of Londoners that the huge benefits of the Elizabeth line are not yet with us. But this plan allows Crossrail Ltd and its contractors to put the project back on track to deliver the Elizabeth line. Crossrail is an immensely complex project and there will be challenges ahead particularly with the testing of the train and signalling systems but the Elizabeth line is going to be incredible for London and really will be worth the wait. This new plan will get us there and allow this fantastic new railway to open around the end of next year.'</p>

<p><strong>Tony Meggs, Chairman, Crossrail Ltd, said:</strong></p>

<p>'Both the Crossrail Board and the Crossrail leadership team fully recognise the seriousness of the challenges we face. The Crossrail Board is pleased with the progress by the new Crossrail leadership team to get a grip on the project and pull together a robust and realistic plan to complete the Elizabeth line. An enhanced governance structure has been put in place to strengthen the Crossrail programme. The Crossrail Board will be holding the leadership team to account as they work to complete the railway. We will be open and transparent about our progress and will be providing Londoners and London businesses with regular updates as we seek to rebuild trust with all our stakeholders.'<br />
&nbsp;<br />
Everyone involved in the Crossrail project is fully focused on ensuring the Elizabeth line is completed as quickly as possible and brought into service for passengers. At many stations, work is underway to complete the final fit-out and testing of key systems. Each Elizabeth line station has over 50 km of communications cabling, 200 CCTV cameras, 66 information displays, 200 radio antennas, 750 loudspeakers and 50 help points. All this technology needs to be fully installed, tested and integrated.</p>

<p>Dynamic testing of the trains in the tunnels is now underway with intensive work to increase the reliability of the train software to enable trains to successfully operate across the three signalling systems on the Elizabeth line. Trains have been operating at line speed (100 kph / 62 mph) in the central section using the new automatic signalling system and multi-train testing will soon get underway.<br />
&nbsp;</p>

<hr />
<p>&nbsp;<br />
Notes to Editors:<br />
&nbsp;<br />
When the Elizabeth line opens the railway will operate as follows:</p>

<ul>
	<li>Paddington (Elizabeth line station) to Abbey Wood via central London</li>
	<li>Liverpool Street (main line station) to Shenfield</li>
	<li>Paddington (main line station) to Heathrow and Reading</li>
</ul>

<p>TfL Rail services between Paddington and Reading will commence in December 2019 with a frequency of 4 trains per hour in the peak. Testing of the signalling system continues to allow the new class 345 trains to be extended from Hayes &amp; Harlington to Heathrow.<br />
&nbsp;<br />
Nine new Elizabeth line stations are being constructed as part of the Crossrail programme &#45; Paddington, Bond Street, Tottenham Court Road, Farringdon, Liverpool Street, Whitechapel, Canary Wharf, Custom House and Woolwich. The existing National Rail station at Abbey Wood has been extensively redeveloped by Network Rail to be the major terminus for the Elizabeth line in southeast London.</p>

<p>&nbsp;</p>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
                <a href="/info-for/media/index" class="heading">
                    <h2 id="sub-menu-heading">Media<span class="visually-hidden"> navigation</span></h2>
                </a>
                <ul>
                    
                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases">Press releases</a></div>
                                <ul>
                                    
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2020">2020</a></div></li>
                            
 
                                        <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019">2019</a></div>
                                        <ul>
                                            
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019/january">January</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019/february">February</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019/march">March</a></div></li>
                                    
 
                                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019/april">April</a></div>
                                                <ul>
                                                    
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
                                                </ul>
                                            
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019/may">May</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019/june">June</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019/july">July</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019/august">August</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019/september">September</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019/october">October</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019/november">November</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019/december">December</a></div></li>
                                    
 
                                        </ul>
                                    </li>
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018">2018</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017">2017</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016">2016</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015">2015</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014">2014</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2013">2013</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2012">2012</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2011">2011</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2010">2010</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2009">2009</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2008">2008</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2007">2007</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2006">2006</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2005">2005</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2004">2004</a></div></li>
                            
 
                                </ul>
                            </li>
 
                                <li><div class="link-wrapper"><a href="/info-for/media/photos">Photos</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/media/contact-the-press-office">Contact the Press Office</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/filming-and-photography">Filming & photography</a></div></li>
                            
 
                </ul>
            
 
 
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype: -Home-Media-Media-Press releases-2019-April-Crossrail Ltd outlines plan to complete the Elizabeth line -->

 
 
        
        
            @{ViewBag.Description = "Crossrail Ltd outlines plan to complete the Elizabeth line";}
        
        


 