


@{ViewBag.Title = "GLA - World's first 24 hour Ultra Low Emission Zone";}
        
        
<div class="r">
    <div class="breadcrumb-container" role="navigation">
        <span id="breadcrumb-label" class="visually-hidden">You are here:</span>
        <ol class="breadcrumbs clearfix" aria-labelledby="breadcrumb-label">
            <li class="home">
                <a href="/">
                    <span class="hide-text">Home</span>
                </a>
            </li>
            
                <li>
                    <a href="/info-for/media/index">Media</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases">Press releases</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases/2019">2019</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases/2019/april">April</a>
                </li>
                
                <li>
                    <span class="last-breadcrumb">GLA - World’s first 24 hour Ultra Low Emission Zone</span>
                </li>
            
 
            
 
            
 
            
 
            
 
        </ul>
    </div>
</div>
     
 
<div class="r">
    <div class="headline-container plain">
        <h1>GLA - World’s first 24 hour Ultra Low Emission Zone</h1>
        <div class="content-page-press-release">
        08 April 2019
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        Toughest Global emission standard, operating 24 hours, seven days a week, launches in Central London today to help reduce toxic air pollution
        
    </div>



<div class="pull-quote">
        <div class="quote-body">"This is a landmark day for our city. Our toxic air is an invisible killer responsible for one of the biggest national health emergencies of our generation. I simply refuse to be yet another politician who ignores it. The ULEZ is the centrepiece of our plans to clean up London's air

 "</div>
        <div class="quote-footer">
            <div class="quotee-name">Sadiq Khan</div>
            <div class="quotee-job-title">The Mayor of London</div>
        </div>
</div>

 <div class="on-this-page">
<p>This press release, issued by the Mayor of London, was first published on <a href="[ioID]#https://tfl.gov.uk/info-for/media/press-releases/2019/february/gla---mayor-opens-23m-van-scrap-for-cash-fund">london.gov.uk</a></p>

<ul>
	<li>ULEZ is already having an impact: a 55 per cent increase in the proportion of vehicles driving into the Zone daily that meet the new emission standard&nbsp; &nbsp;</li>
	<li>Mayor confirms 6,950 buses (75 per cent of all TfL buses) &#45; including all buses operating in the ULEZ zone &#45; now meet or exceed the emission standard &nbsp;</li>
	<li>ULEZ has already led to a reduction of approximately 20 per cent in NO2 concentrations measured at roadside monitoring sites in the zone&nbsp; &nbsp;</li>
	<li>Millions of Londoners will breathe cleaner air with NOx road transport emissions estimated to fall by 45 per cent in ULEZ zone &nbsp;</li>
</ul>

<p>The Mayor of London, Sadiq Khan, has today (8 April 2019) introduced the world's toughest vehicle emissions standard in central London to help reduce toxic air pollution and protect public health. &nbsp;</p>

<p>The Central London ULEZ will operate in the same area as the current Congestion Charge zone 24 hours a day, seven days a week, 365 days a year. It replaces the T-Charge and operates alongside the Congestion Charge.</p>

<p>Polluting vehicles account for around 50 per cent of London's harmful NOx air emissions. Air pollution has an economic cost to the capital of up to &pound;3.7 billion every year, and &pound;20 billion cost to the country every year. The Ultra Low Emission Zone (ULEZ) will help address London's toxic air health crisis that currently leads to thousands of premature deaths annually, and increases the risk of asthma, cancer and dementia.</p>

<p>Motorists who drive into the zone in a vehicle that does not meet the new emission standard (petrol vehicles that do not meet Euro 4 standards and diesel vehicles that do not meet Euro 6) will have to pay a daily charge. Petrol vehicles that meet the standard have been widely available since 2006. There will be two ULEZ charge levels: &pound;12.50 a day for cars, vans and motorbikes and &pound;100 a day for lorries, buses and coaches. &nbsp;</p>

<p>Thousands of motorists have already started to change their behaviour as they prepare for ULEZ by driving less polluting vehicles into the area, and using cleaner transport alternatives including walking or cycling, and public transport, it can be revealed today. A major awareness campaign has been underway for more than nine months to ensure drivers and businesses are ready for the ULEZ, with TfL's online vehicle checker being used more than 3.2 million times during this period. &nbsp;</p>

<p>Since February 2017, when the Mayor announced the introduction of the T-charge as a stepping stone for the ULEZ, there has been: &nbsp;</p>

<ul>
	<li>A reduction in the total number of vehicles seen in the Central London ULEZ zone (around 11,000 fewer vehicles per day)</li>
	<li>A 38 per cent rise in the total number of compliant vehicles in the zone between February 2017 and March 2019 &nbsp;</li>
	<li>An increase in the proportion of compliant vehicles in the Central London ULEZ zone from 39 per cent in February&nbsp; 2017 to 61 per cent in March 2019 &nbsp;</li>
</ul>

<p>This represents a 55 per cent increase in the proportion of compliant vehicles in the Central London ULEZ zone since February&nbsp; 2017 and illustrates the impact that the ULEZ has already had on improving vehicle emissions standards in Central London.* &nbsp;</p>

<p>The ULEZ is the centrepiece of a range of hard-hitting measures the Mayor has implemented to tackle London's toxic air. From today 6,950 buses (75 per cent of all TfL buses) &#45; including all buses operating in the ULEZ zone &#45; meet or exceed the new emission standards. By October 2020 every bus in London - all 9,200 of TfL's fleet - will meet or exceed the ULEZ standards &#45; an unprecedented transformation to make London's famous red buses go green.</p>

<p>The most recent data on air pollution in London reveals that more than two million Londoners still live in areas that exceed legal limits for NO2, 400,000 of whom are children under the age of 18. King's College London research has found that, if the Mayor had not implemented a series of hard-hitting measures to tackle pollution, London's air would not come into compliance with legal limits for another 193 years. &nbsp;</p>

<p>However, with the Mayor's air pollution measures, King's College analysis indicates that London's air will reach legal limits in six years. The number of schools exceeding the legal limit for NO2 is expected to fall from over 450 in 2016 to 5 in 2020 and zero in 2025. &nbsp;</p>

<p>The Mayor of London, Sadiq Khan said:</p>

<p>'This is a landmark day for our city. Our toxic air is an invisible killer responsible for one of the biggest national health emergencies of our generation. I simply refuse to be yet another politician who ignores it. The ULEZ is the centrepiece of our plans to clean up London's air &#45; the boldest plans of any city on the planet, and the eyes of the world are on us. &nbsp;</p>

<p>'This is also about social justice - people in the most deprived parts of London, who are least likely to own a car, suffer the worst effects of harmful air pollution. I will not stand by and watch children grow up with under-developed lungs in our city. The ULEZ is a vital step towards helping combat London's illegal air.'</p>

<p>Professor Jonathan Grigg of the Royal College of Paediatrics and Child Health (RCPCH), said:</p>

<p>'Air pollution can have major health implications on the developing child, with early exposure proven to increase the risk of asthma and lung infections, and these can be life-threatening. Approximately 50 per cent of air pollution comes from road transport and 45 per cent comes from diesel, so the introduction of London's Ultra Low Emissions Zone on 8 April is extremely welcome. Coupled with this move, we need to see employers and schools encouraging and facilitating better use of public transport and active travel options like walking and cycling. London has some active travel networks which, if utilised, not only reduce air pollution but also improve family fitness which has many positive health benefits.'</p>

<p>Alex Williams, Transport for London's Director of City Planning, said:</p>

<p>'The introduction of the Ultra Low Emission Zone is a central and crucial part of the fight to improve London's air for the benefit of everyone's health, and it is great to see that so many drivers and businesses have already taken action to make sure their vehicles are compliant. The ULEZ will nearly halve road-based NOx emissions in central London, reducing air pollution which has led to thousands of premature deaths in the capital and stunted the development of children's lungs. We are also doing our bit to reduce road transport emissions across London. We have upgraded our bus fleet so that all buses in central London meet the ULEZ standard, with all buses across London ULEZ compliant by October 2020. We have already reduced NOx road transport emissions in the most polluted areas by introducing Low Emission Bus Zones and are encouraging the taxi industry to switch to cleaner vehicles, with more than 1,400 electric taxis now serving London's roads.'</p>

<p>Jemima Hartshorn, founder of parent campaign group Mums for Lungs said:</p>

<p>'The ULEZ is a fantastic step towards tackling London's filthy air, and one that we hope will encourage a change in many people's behaviour. We're pleased that the Mayor Sadiq Khan is showing leadership in this public health crisis and we believe that all Londoners will soon feel the benefits of being able to breathe easier.'</p>

<p>The Mayor launched the ULEZ as he visited young patients and specialist doctors at Evelina London Children's Hospital in Westminster. Evelina cares for 95,000 children and young people every year, with a range of illnesses, and is part of Guy's and St Thomas's NHS Foundation. It is in the Central London ULEZ, off the busy Lambeth Palace Road. The Mayor is funding air quality monitors at the hospital, which celebrates its 150th anniversary this year. &nbsp;</p>

<p>Claire Lemer, Clinical Director, Evelina London said:</p>

<p>'Sadly, there's not a day that goes by when we don't see a child with asthma on our wards. This initiative will help to improve the lives of children in the city, reducing unnecessary visits to hospital and helping them to lead healthier lives.'</p>

<p>Despite the lack of Government support, the Mayor has recently launched a &pound;48m scrappage scheme for microbusinesses and charities, as well as people on low income who may struggle to pay ULEZ charges and want to scrap older, more polluting vehicles. &nbsp;</p>

<p>Bruce Bratley from recycling business First Mile said: &quot;We're committing to minimising our environmental footprint and have introduced a number of measures over the past three years to meet ULEZ emissions standards, including the use of cargo bikes and electric vehicles. We need to use a number of heavy goods vehicles for our collections, but we've significantly invested in our fleet to ensure that these are the greenest they can possibly be and are fully compliant with ULEZ."&nbsp;</p>

<hr />
<p>Notes to Editors:</p>

<p>* This is based on average unique vehicles detected during Congestion Charge hours per charging day.</p>

<ul>
	<li>A summary of vehicle compliance data from TfL is available below.</li>
</ul>

<div class="table-container"><table border="1" cellpadding="1" cellspacing="1" style="height:213px; width:804px">
	<tbody>
		<tr>
			<td>&nbsp;</td>
			<td colspan="2" rowspan="1">
			<p><strong>Number of vehicles driving in the charging zone per day</strong></p>
			</td>
			<td colspan="3" rowspan="1" style=""><strong>Proportions of vehicles driving in the charging zone</strong></td>
		</tr>
		<tr>
			<td style=""><strong>Date</strong></td>
			<td style="">Total number of vehicles</td>
			<td style="">
			<p>Non-compliant vehicles</p>
			</td>
			<td style="">
			<p>Compliant vehicles</p>
			</td>
			<td style="">
			<p>Non-compliant vehicles</p>
			</td>
			<td style="">Compliant vehicles</td>
		</tr>
		<tr>
			<td style="">Feb-17</td>
			<td style="">102,493</td>
			<td style="">62,310</td>
			<td style="">40,184</td>
			<td style="">60.8%</td>
			<td style="">39.2%</td>
		</tr>
		<tr>
			<td style="">Mar-19</td>
			<td style="">91,035</td>
			<td style="">35,578</td>
			<td style="">55,457</td>
			<td style="">39.1%</td>
			<td style="">60.9%</td>
		</tr>
		<tr>
			<td style="">Change</td>
			<td style="">-11,458</td>
			<td style="">-26,732</td>
			<td style="">+15,273</td>
			<td style="">-</td>
			<td style="">-</td>
		</tr>
		<tr>
			<td style="">% change</td>
			<td style="">-11%</td>
			<td style="">-43%</td>
			<td style="">
			<p>+38%</p>
			</td>
			<td style="">-35.7%</td>
			<td style="">55.4%</td>
		</tr>
	</tbody>
</table></div>

<p><br />
As the table above indicates, the proportion of compliant vehicles in the Central London ULEZ zone has risen from 39 per cent to 61 per cent since the Mayor confirmed the introduction of the T-charge in February 2017. This represents a 55 per cent increase in the proportion of compliant vehicles. This 55 per cent increase also reflects the fact that there has been an 11 per cent decrease in the total number of vehicles driving within the zone since February 2017.<br />
&nbsp;<br />
- The Mayor confirmed the introduction of the T-charge in February 2017 as a stepping stone for the ULEZ. He also announced his intention to consult on bringing forward the start date for the central London ULEZ by 17 months to 8 April.<br />
- TfL's ULEZ vehicle compliance checker is available at: <a href="[ioID]#https://tfl.gov.uk/ulez">https://tfl.gov.uk/ulez</a><br />
&nbsp;<br />
- All double-deck buses operating on routes that go into central London are Euro 6 hybrids.&nbsp; By October 2020 all single-deck buses operating in the zone will be zero-exhaust emission<br />
&nbsp;<br />
- ULEZ Discounts and exemptions are limited to the following vehicle types:</p>

<ul>
	<li>Military vehicles;</li>
	<li>Specialist vehicles designed and built for mainly off-road use, such as tractors, mobile cranes etc;</li>
	<li>Historic Tax class vehicles;</li>
	<li>Vehicles constructed prior to 1 Jan 1973;</li>
	<li>Showman's vehicles;</li>
	<li>Taxis. We are no longer licencing new diesel taxis since 2018 and we are supporting the trade to upgrade to much cleaner 'zero emission capable' vehicles through targeted scrappage schemes</li>
</ul>

<p>&nbsp;<br />
Grace periods (time-limited 100 per cent discounts) are available for the following:</p>

<ul>
	<li>Residents of the Congestion Charging Zone (until October 2021);</li>
	<li>Minibuses operated by not-for-profit organisations eg charities (from October 2021 until October 2023);</li>
	<li>Vehicles with a disabled or disabled passenger vehicle tax class (Until October 2025);</li>
	<li>Private Hire Vehicles converted to be wheelchair accessible (Until October 2025).</li>
</ul>

<p>&nbsp;</p>

<ul>
	<li>TfL has worked with the NHS so that patients that are immune-compromised can have ULEZ charges reimbursed. This is the same as the current arrangement for the Congestion Charge.</li>
	<li>Polling shows 90 per cent of drivers know something about the ULEZ scheme</li>
	<li>Transport for London (TfL) continues to work hard to ensure as many Londoners are aware of ULEZ as possible. It has already sent 3.3 million emails, 600,000 letters to drivers who have driven within the central London Congestion Charge Zone since last October, installed more than 300 road signs at entry points to the zone and rolled out a major advertising campaign across the entire TfL network (which will continue beyond the ULEZ launch date).</li>
	<li>New and retrofitted buses have already delivered a significant impact on air quality along some of London's most polluted streets. In Putney the Low Emission Bus Zone has reduced annual Nitrogen Dioxide (NO2) concentrations by 47 per cent and hourly NO2 exceedances by 99 per cent since 2016. TfL is spending over &pound;800 million improving air quality, significantly more than the income they will receive from the ULEZ, which will be reinvested into improving the transport network and making London's air cleaner.</li>
	<li>Concentration reductions are based on initial GLA analysis. A comprehensive report on the impacts of the ULEZ will be published in due course.</li>
</ul>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
                <a href="/info-for/media/index" class="heading">
                    <h2 id="sub-menu-heading">Media<span class="visually-hidden"> navigation</span></h2>
                </a>
                <ul>
                    
                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases">Press releases</a></div>
                                <ul>
                                    
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2020">2020</a></div></li>
                            
 
                                        <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019">2019</a></div>
                                        <ul>
                                            
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019/january">January</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019/february">February</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019/march">March</a></div></li>
                                    
 
                                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019/april">April</a></div>
                                                <ul>
                                                    
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
                                                </ul>
                                            
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019/may">May</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019/june">June</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019/july">July</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019/august">August</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019/september">September</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019/october">October</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019/november">November</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019/december">December</a></div></li>
                                    
 
                                        </ul>
                                    </li>
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018">2018</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017">2017</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016">2016</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015">2015</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014">2014</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2013">2013</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2012">2012</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2011">2011</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2010">2010</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2009">2009</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2008">2008</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2007">2007</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2006">2006</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2005">2005</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2004">2004</a></div></li>
                            
 
                                </ul>
                            </li>
 
                                <li><div class="link-wrapper"><a href="/info-for/media/photos">Photos</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/media/contact-the-press-office">Contact the Press Office</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/filming-and-photography">Filming & photography</a></div></li>
                            
 
                </ul>
            
 
 
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype: -Home-Media-Media-Press releases-2019-April-GLA - World’s first 24 hour Ultra Low Emission Zone -->

 
 
        
        
            @{ViewBag.Description = "World’s first 24 hour Ultra Low Emission Zone starts in London  ";}
        
        


 