


@{ViewBag.Title = "Log-on as you hop on at North Greenwich bus station";}
        
        
<div class="r">
    <div class="breadcrumb-container" role="navigation">
        <span id="breadcrumb-label" class="visually-hidden">You are here:</span>
        <ol class="breadcrumbs clearfix" aria-labelledby="breadcrumb-label">
            <li class="home">
                <a href="/">
                    <span class="hide-text">Home</span>
                </a>
            </li>
            
                <li>
                    <a href="/info-for/media/index">Media</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases">Press releases</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases/2019">2019</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases/2019/april">April</a>
                </li>
                
                <li>
                    <span class="last-breadcrumb">Log-on as you hop on at North Greenwich bus station</span>
                </li>
            
 
            
 
            
 
            
 
            
 
        </ul>
    </div>
</div>
     
 
<div class="r">
    <div class="headline-container plain">
        <h1>Log-on as you hop on at North Greenwich bus station</h1>
        <div class="content-page-press-release">
        15 April 2019
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        Free Wi-Fi is now available at one of London's busiest bus stations for the first time
        
    </div>



<div class="pull-quote">
        <div class="quote-body">"London's buses keep people connected across this city, and it is great that now the tens of thousands of customers who use North Greenwich bus station can be confident they can connect to the internet too"</div>
        <div class="quote-footer">
            <div class="quotee-name">Helen Lee</div>
            <div class="quotee-job-title">Head of Bus Operations at TfL</div>
        </div>
</div>

 <div class="on-this-page">
<p>Customers who change at North Greenwich bus station can now access free Wi-Fi. It will help them plan onward journeys, check on any disruption to their journeys or simply surf the web.</p>

<p>This is part of TfL's broader work to improve services on the network to make travelling on public transport an even more attractive option for Londoners.</p>

<p>Helen Lee, Head of Bus Operations at TfL, said: 'London's buses keep people connected across this city, and it is great that now the tens of thousands of customers who use North Greenwich bus station can be confident they can connect to the internet too.</p>

<p>'This means that customers will have better access to travel updates, entertainment and news - making travel by bus even easier and more attractive.'</p>

<h2>Grown and developed</h2>

<p>The North Greenwich area has grown and developed significantly in recent years, and now nearly 75,000 passengers use the bus station every day.</p>

<p>This key transport hub - with eight bus routes, the Jubilee line and the Emirates Air Line &#45; supports the area as an entertainment destination.</p>

<p>The area is set to get even more popular with the recent opening of Ikea, which is served by seven bus routes from the station. Free Wi-Fi will ensure that customers can remain connected despite the temporary strain on the mobile network during peak times.</p>

<p>Helen Aylett, Store Manager at IKEA Greenwich, said: 'IKEA Greenwich is our leading sustainable store and we're encouraging as many people as possible to visit us by using public transport.</p>

<p>'We're delighted to hear that TfL has introduced free Wi-Fi at North Greenwich bus station, which is just a short 10min bus ride from our store and will make our customers' journeys even more convenient.'</p>

<p>David Panayiotou, Head of Transport at The O2, said: 'With nine million visitors to The O2 each year, the North Greenwich bus station is a key hub for fans travelling to and from the venue. It's great that they too can now stay connected and share their experiences with ease.'</p>

<h2>Easy as possible</h2>

<p>Installing free Wi-Fi at North Greenwich bus station is just part of TfL's continuing work to make customers' journeys across London as easy as possible.</p>

<p>Last year, TfL launched the free Oyster and Contactless mobile app that allows customers to check their journey history as well as top up their Oyster card or purchase travelcards.</p>

<p>Since September 2016, bus and tram customers have also been able to take advantage of the Mayor's Hopper fare, which allows unlimited bus and tram journeys within an hour for just &pound;1.50. More than 300 million hops have been made since the fare launched.</p>

<hr />
<p><strong>Notes to editors</strong></p>

<ul>
	<li>Customers can connect to the bus station Wi-Fi similar to how they connect to the Wi-Fi service on the Tube network</li>
	<li>For more information on how to connect to the Wi-Fi service, please visit <a href="https://tfl.gov.uk/campaign/station-wifi">https://tfl.gov.uk/campaign/station-wifi</a></li>
	<li>TfL has recently launched a consultation on proposals for a new bus route from North Greenwich to Kidbrooke. More information here: <a href="https://consultations.tfl.gov.uk/buses/route-335/?cid=route-335">tfl.gov.uk/route-335 &nbsp;</a></li>
</ul>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
                <a href="/info-for/media/index" class="heading">
                    <h2 id="sub-menu-heading">Media<span class="visually-hidden"> navigation</span></h2>
                </a>
                <ul>
                    
                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases">Press releases</a></div>
                                <ul>
                                    
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2020">2020</a></div></li>
                            
 
                                        <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019">2019</a></div>
                                        <ul>
                                            
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019/january">January</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019/february">February</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019/march">March</a></div></li>
                                    
 
                                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019/april">April</a></div>
                                                <ul>
                                                    
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
                                                </ul>
                                            
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019/may">May</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019/june">June</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019/july">July</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019/august">August</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019/september">September</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019/october">October</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019/november">November</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019/december">December</a></div></li>
                                    
 
                                        </ul>
                                    </li>
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018">2018</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017">2017</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016">2016</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015">2015</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014">2014</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2013">2013</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2012">2012</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2011">2011</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2010">2010</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2009">2009</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2008">2008</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2007">2007</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2006">2006</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2005">2005</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2004">2004</a></div></li>
                            
 
                                </ul>
                            </li>
 
                                <li><div class="link-wrapper"><a href="/info-for/media/photos">Photos</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/media/contact-the-press-office">Contact the Press Office</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/filming-and-photography">Filming & photography</a></div></li>
                            
 
                </ul>
            
 
 
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype: -Home-Media-Media-Press releases-2019-April-Log-on as you hop on at North Greenwich bus station -->

 
 
        
        
            @{ViewBag.Description = "Log-on as you hop on at North Greenwich bus station";}
        
        


 