


@{ViewBag.Title = "London's Lane Rental scheme saves &pound;100m in lost travel time by funding innovative projects";}
        
        
<div class="r">
    <div class="breadcrumb-container" role="navigation">
        <span id="breadcrumb-label" class="visually-hidden">You are here:</span>
        <ol class="breadcrumbs clearfix" aria-labelledby="breadcrumb-label">
            <li class="home">
                <a href="/">
                    <span class="hide-text">Home</span>
                </a>
            </li>
            
                <li>
                    <a href="/info-for/media/index">Media</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases">Press releases</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases/2019">2019</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases/2019/april">April</a>
                </li>
                
                <li>
                    <span class="last-breadcrumb">London’s Lane Rental scheme saves £100m in lost travel time by funding innovative projects</span>
                </li>
            
 
            
 
            
 
            
 
            
 
        </ul>
    </div>
</div>
     
 
<div class="r">
    <div class="headline-container plain">
        <h1>London’s Lane Rental scheme saves £100m in lost travel time by funding innovative projects</h1>
        <div class="content-page-press-release">
        25 April 2019
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        Investment from TfL's Lane Rental scheme is funding innovative solutions to minimise the impact of roadworks
        
    </div>



<div class="pull-quote">
        <div class="quote-body">"Funding for roads is essential and we're making the most of every penny available to us, maintaining a safe road network despite the loss of our operating grant and no long term funding for the maintenance of our roads"</div>
        <div class="quote-footer">
            <div class="quotee-name">Glynn Barton</div>
            <div class="quotee-job-title">TfL's Director of Network Management</div>
        </div>
</div>

 <div class="on-this-page">
<p>TfL has today set out how money raised from utility companies for digging up London's roads is funding innovative solutions to tackle congestion and minimise the impact of roadworks &#45; saving &pound;100m in lost travel time.</p>

<p>TfL has invested &pound;6.1m in London's road network in the past year using funding raised through its pioneering 'Lane Rental' scheme.</p>

<p>This includes &pound;350,000 awarded to innovation challenge RoadLab which aims to develop products that make roadworks safer, smarter and more inclusive for people's travel needs.</p>

<p>Suppliers selected for the programme - which is being run in partnership with Plexal, an innovation centre based in London's Olympic Park - include a smart roadwork barrier that can detect when it has been moved and the use of artificial intelligence to scan social media and gain real-time insights into potential disruption on the road network.</p>

<h2>Safer, smarter and inclusive</h2>

<p>Funding from the Lane Rental scheme, which charges utility companies for carrying out roadworks on TfL's busiest roads, has also been used to develop CISBOT, a robot capable of fixing joints in large cast iron gas pipes.</p>

<p>The robot can work in a live gas main without disrupting the gas supply to nearby properties and significantly reduces the amount of road closures required.</p>

<p>The robot is set to be used in upcoming gas work at Clapham Common North Side, where it could help to save up to 33 weeks of disruption on local roads.</p>

<p>Other projects which have been awarded Lane Rental funding include:</p>

<ul>
	<li>Updates to traffic signals to reduce congestion. Trials of new sensors will track people walking and cycling at crossings, and re-time signals to give them priority</li>
	<li>Improved mapping of the capital's roads, which will help to reduce the possibility of larger vehicles using unsuitable routes and causing disruption</li>
	<li>New fire suppression equipment for utilities tunnels in Camden</li>
</ul>

<h2>Promote efficiency</h2>

<p>Since Lane Rental was introduced in 2012, there has been a 65% increase in companies working at the same site, at the same time, and a 30% rise in planned utility works at night.</p>

<p>Almost 73 schemes, such as mapping below-ground utility services, robotic technology and training to promote efficiency in on-site working practices have already received a share of &pound;19m in Lane Rental funding allocated to date.</p>

<p>Meanwhile, &pound;2.7 million of separate funding from the Department for Transport (DfT), allocated last year, has been used to make 22km of TfL's roads safer at 30 locations across the capital.</p>

<p>TfL used data from its inspections to identify the locations across London that would most benefit from resurfacing, fixing any existing road defects and helping to prevent them occurring in future.</p>

<p>Work to improve the road condition is now complete at each stretch of road, including sections of the A406 North Circular Road, A2 Old Kent Road and A40 Western Avenue.</p>

<p>Roads are the backbone of the London's transport system, with 80% of trips and 90% of freight movements made by road. Historically, TfL spent between &pound;100-150m per annum proactively renewing the TfL and strategic borough road network.</p>

<p>However as a result of an average reduction of around &pound;700m per year in government grant, TfL has had to pause non-safety critical renewal work on London's road network since April last year.</p>

<p>Unlike the rest of the UK, 99.6% of London's road network receives no sustained central Government funding for maintenance, with just those managed by Highways England receiving funding.</p>

<h2>Proactive maintenance</h2>

<p>While TfL continues to ensure that the safety of London's roads is maintained, proactive maintenance ensures the maximum value and productivity from existing assets, whereas reactive, emergency works like fixing potholes are far more disruptive to traffic and more expensive.</p>

<p><strong>Glynn Barton, TfL's Director of Network Management, said</strong>: 'Funding for roads is essential and we're making the most of every penny available to us, maintaining a safe road network despite the loss of our operating grant and no long term funding for the maintenance of our roads.</p>

<p>Schemes such as Lane Rental contribute vital extra funding, which we are carefully investing to help keep Londoners safe and to keep the capital moving.'</p>

<p><strong>Cllr Julian Bell, Chair of London Councils' Transport and Environment Committee, said</strong>: 'TfL and London boroughs have been quick to invest additional funding announced in last year's Budget on filling in potholes and other repairs to our hard-working road network.</p>

<p>'However, the funding available for road maintenance continues to fall short of what is needed, with the backlog in London alone being estimated to be more than &pound;900 million.</p>

<p>'We need sustainable long-term funding for local government to ensure London roads will be fit for the future, alongside the devolution of Vehicle Excise Duty paid by London drivers to London government.'</p>

<hr />
<p><strong>Notes to editors</strong></p>

<ul>
	<li>The full list of resurfaced roads is available on the TfL website at <a href="http://content.tfl.gov.uk/allocation-of-maintenance-fund-report.pdf">http://content.tfl.gov.uk/allocation-of-maintenance-fund-report.pdf</a></li>
	<li>Organisations are invited to submit bids for TfL's Lane Rental funding for projects and must give evidence to show that the specific project will reduce the impact of roadworks</li>
	<li>More details on London RoadLab, TfL's open innovation challenge, can be found at <a href="https://www.plexal.com/london-roadlab/">https://www.plexal.com/london-roadlab/</a></li>
	<li>For further information on Lane rental please visit &#45; <a href="https://tfl.gov.uk/info-for/urban-planning-and-construction/lane-rental-scheme?cid=lanerental">tfl.gov.uk/lanerental</a></li>
</ul>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
                <a href="/info-for/media/index" class="heading">
                    <h2 id="sub-menu-heading">Media<span class="visually-hidden"> navigation</span></h2>
                </a>
                <ul>
                    
                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases">Press releases</a></div>
                                <ul>
                                    
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2020">2020</a></div></li>
                            
 
                                        <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019">2019</a></div>
                                        <ul>
                                            
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019/january">January</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019/february">February</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019/march">March</a></div></li>
                                    
 
                                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019/april">April</a></div>
                                                <ul>
                                                    
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
                                                </ul>
                                            
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019/may">May</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019/june">June</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019/july">July</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019/august">August</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019/september">September</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019/october">October</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019/november">November</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019/december">December</a></div></li>
                                    
 
                                        </ul>
                                    </li>
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018">2018</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017">2017</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016">2016</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015">2015</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014">2014</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2013">2013</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2012">2012</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2011">2011</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2010">2010</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2009">2009</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2008">2008</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2007">2007</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2006">2006</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2005">2005</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2004">2004</a></div></li>
                            
 
                                </ul>
                            </li>
 
                                <li><div class="link-wrapper"><a href="/info-for/media/photos">Photos</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/media/contact-the-press-office">Contact the Press Office</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/filming-and-photography">Filming & photography</a></div></li>
                            
 
                </ul>
            
 
 
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype: -Home-Media-Media-Press releases-2019-April-London’s Lane Rental scheme saves £100m in lost travel time by funding innovative projects -->

 
 
        
        
            @{ViewBag.Description = "London’s Lane Rental scheme saves £100m in lost travel time by funding innovative projects to cut congestion";}
        
        


 