


@{ViewBag.Title = "Mothercare and BABYZEN to sponsor TfL's Baby on Board badge";}
        
        
<div class="r">
    <div class="breadcrumb-container" role="navigation">
        <span id="breadcrumb-label" class="visually-hidden">You are here:</span>
        <ol class="breadcrumbs clearfix" aria-labelledby="breadcrumb-label">
            <li class="home">
                <a href="/">
                    <span class="hide-text">Home</span>
                </a>
            </li>
            
                <li>
                    <a href="/info-for/media/index">Media</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases">Press releases</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases/2019">2019</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases/2019/april">April</a>
                </li>
                
                <li>
                    <span class="last-breadcrumb">Mothercare and BABYZEN to sponsor TfL’s Baby on Board badge</span>
                </li>
            
 
            
 
            
 
            
 
            
 
        </ul>
    </div>
</div>
     
 
<div class="r">
    <div class="headline-container plain">
        <h1>Mothercare and BABYZEN to sponsor TfL’s Baby on Board badge</h1>
        <div class="content-page-press-release">
        26 April 2019
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        Mothercare and BABYZEN named as new sponsors of Baby on Board badge
        
    </div>



<div class="pull-quote">
        <div class="quote-body">"We are really excited to welcome Mothercare and BABYZEN as the new sponsors of our Baby on Board badge

 "</div>
        <div class="quote-footer">
            <div class="quotee-name">Chris Macleod</div>
            <div class="quotee-job-title">Commercial and Revenue Director, TfL</div>
        </div>
</div>

 <div class="on-this-page">
<ul>
	<li>Three year deal will generate vital revenue to be reinvested back into the transport network</li>
	<li>Pioneering badge remains free and will now also be available in Mothercare stores</li>
</ul>

<p>Mothercare, the UK's number one specialist retailer for babies and expectant mothers, and BABYZEN, the innovative brand behind the YOYO+ stroller have been announced as the new sponsors of Transport for London's (TfL's) pioneering 'Baby on Board' badge for the next three years.</p>

<p>The badge, welcomed by mums-to-be, encourages passengers to help make pregnant women feel more comfortable when they are travelling by offering them a seat. The badges have become a familiar sight on the transport network.</p>

<p>Expectant mothers will now be able to collect their Baby on Board badge instore at selected Mothercare outlets. In addition the free badge can be ordered on TfL's website, <a href="[ioID]#www.tfl.gov.uk">www.tfl.gov.uk</a>, or by asking station staff across the network.</p>

<p>Chris Macleod, TfL's Commercial and Revenue Director, said:</p>

<p>'We are really excited to welcome Mothercare and BABYZEN as the new sponsors of our Baby on Board badge. It's a great collaboration on an iconic badge that helps thousands of expectant mothers travel more comfortably on the network.'</p>

<p>The sponsorship deal will generate more than &pound;100,000 that will be reinvested back into improving London's public transport network for everyone.</p>

<p>Liz Day, parenting consultant at Mothercare said:</p>

<p>'Mothercare supports all expectant mothers and we are delighted to be sponsoring TfL's Baby on Board badges. Mums will be able to gain access to a badge at more than 30 Mothercare stores in and around London, which will hopefully lead to a safer, more comfortable journey.'</p>

<p>Audrey Mizrahi, owner of Whitestep, BABYZEN UK distributor said:</p>

<p>'We wanted to extend our support to mums-to-be beyond our innovative YOYO+ stroller, the first stroller accepted as cabin luggage on board of planes. This partnership is a great way of doing that as it helps parents to embrace the ease of travel with children, and encourages them to continue active lifestyles throughout parenthood, without the worry of travel limitations.'</p>

<hr />
<p>Notes to editors:</p>

<p><strong>About Baby on Board</strong></p>

<p>The Baby on Board badge can be used on all Transport for London services &#45; London Underground, London Overground, TfL Rail, London Buses, Docklands Light Railway, Tramlink and River Services &#45; as well as on station platforms and waiting areas. Approximately 130,000 badges are issued every year.</p>

<p>To request a Baby on Board badge go to <a href="[ioID]#https://tfl.gov.uk/transport-accessibility/baby-on-board ">https://tfl.gov.uk/transport-accessibility/baby-on-board </a>&nbsp;</p>

<p><strong>About Mothercare</strong></p>

<p>Mothercare is a global retailer that has been caring for parents for 50 years.&nbsp; With more than 1,000 stores in 48 countries, Mothercare provides parents and parents-to-be with everything they need in one place, offering the best quality and most innovative products, from pregnancy to 6 years. &nbsp;</p>

<p><strong>About BABYZEN YOYO+</strong></p>

<p>BABYZEN's YOYO+ unique lightweight and foldable features, takes away the fuss and stress of carrying heavy strollers down stairs or fitting bulky strollers in confined areas when using the transport network. With a YOYO+ stroller it's never been easier to travel with a baby whether you use the tube, bus or train.</p>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
                <a href="/info-for/media/index" class="heading">
                    <h2 id="sub-menu-heading">Media<span class="visually-hidden"> navigation</span></h2>
                </a>
                <ul>
                    
                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases">Press releases</a></div>
                                <ul>
                                    
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2020">2020</a></div></li>
                            
 
                                        <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019">2019</a></div>
                                        <ul>
                                            
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019/january">January</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019/february">February</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019/march">March</a></div></li>
                                    
 
                                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019/april">April</a></div>
                                                <ul>
                                                    
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
                                                </ul>
                                            
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019/may">May</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019/june">June</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019/july">July</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019/august">August</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019/september">September</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019/october">October</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019/november">November</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019/december">December</a></div></li>
                                    
 
                                        </ul>
                                    </li>
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018">2018</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017">2017</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016">2016</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015">2015</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014">2014</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2013">2013</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2012">2012</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2011">2011</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2010">2010</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2009">2009</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2008">2008</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2007">2007</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2006">2006</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2005">2005</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2004">2004</a></div></li>
                            
 
                                </ul>
                            </li>
 
                                <li><div class="link-wrapper"><a href="/info-for/media/photos">Photos</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/media/contact-the-press-office">Contact the Press Office</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/filming-and-photography">Filming & photography</a></div></li>
                            
 
                </ul>
            
 
 
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype: -Home-Media-Media-Press releases-2019-April-Mothercare and BABYZEN to sponsor TfL’s Baby on Board badge -->

 
 
        
        
            @{ViewBag.Description = "Mothercare and BABYZEN get on board as sponsors of TfL’s Baby on Board badge";}
        
        


 