


@{ViewBag.Title = "A316 Country Way to be given a new lease of life";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>A316 Country Way to be given a new lease of life</h1>
        <div class="content-page-press-release">
        09 May 2008
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        Refurbishment will reduce need for future maintenance work
        
    </div>



 <div class="on-this-page">
<p>
<p>Transport for London (TfL)&nbsp;will begin work this month to make the A316 Country Way viaduct a safer and more durable carriageway for motorists coming in and out of south-west London.</p>
<p>The work will start on 19 May 2008 over the viaduct between Apex Corner and Sunbury Cross roundabouts in Hanworth, Hounslow.</p>
<p>Safety improvements to the carriageway will include:</p>
<ul>
<li>Installing new safety barriers</li>
<li>Additional street lighting</li>
<li>Improved signage and road markings</li></ul>
<p>Other work planned to prolong the life of the viaduct will include:</p>
<ul>
<li>Waterproofing and resurfacing of the viaduct</li>
<li>Replacement of the bridge bearings</li></ul>
<p>These works will ensure the viaduct is able to safely accommodate heavy traffic for decades to come, and will also minimise any future disruption for motorists as there will be less need for closures for routine maintenance work.</p>
<p>TfL has worked closely with the London Borough of Hounslow and the Highways Agency throughout the design of the scheme, taking into consideration the needs of all roads users when planning closures and disruptions.</p>
<p>The project has been designed to allow the road to stay open to traffic during the busiest times of the day - at least two lanes of traffic in both directions will be kept open between 06:00 and 20:30 while the work takes place.</p>
<p>It will also be necessary to carry out some night time works and on these occasions traffic will go down to one lane in each direction between 20:30 and 06:00.</p>
<p>The highways element of this project is scheduled to be complete by the end of 2008, with the overall scheme due for completion in Spring 2009.</p>
<p>Carillion plc has been awarded the contract to undertake this scheme.</p>
<p>
<hr>
</p>
<p><strong>Notes to editors:</strong></p>
<ul>
<li>TfL is responsible for maintaining and managing the 580km TfL Road Network (TLRN), which, although comprising only 5 per cent of the Capital's roads, carries approximately 33 per cent of its traffic</li>
<li>Carillion plc is one of the UK's largest support service and construction companies, working on a range of highways maintenance and road improvement schemes across the UK. <a href="http://www.carillionplc.com">www.carillionplc.com</a><br></li></ul>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "Transport for London (TfL)&nbsp;will begin work this month to make the A316 Country Way viaduct a safer and more durable carriageway for motorists coming in and out of south-west London.The work will start on 19 May 2008 over the viaduct between Apex";}
        
        


 