


@{ViewBag.Title = "Alcohol ban comes into force on the Tube, trams and buses from this Sunday, 1 June ";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>Alcohol ban comes into force on the Tube, trams and buses from this Sunday, 1 June </h1>
        <div class="content-page-press-release">
        30 May 2008
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        Transport for London (TfL) is today issuing a reminder to Londoners that alcohol will be banned from the Tube, buses, Docklands Light Railway, tram services and stations across the Capital from 1 June.
        
    </div>



<div class="pull-quote">
        <div class="quote-body">"I'm determined to improve the safety and security of public transport in London"</div>
        <div class="quote-footer">
            <div class="quotee-name">Boris Johnson</div>
            <div class="quotee-job-title">Mayor of London</div>
        </div>
</div>

 <div class="on-this-page">
<div class="pullquote right">
                        <p>
                            I'm determined to improve the safety and security of public transport in London
                            
                        </p>
                    </div>
                
            
            
            <p>
<p>From Sunday, drinking from and carrying open containers of alcohol will be banned, making travelling on London's public transport network a safer and more pleasant experience for passengers.</p>
<p>The Mayor announced the ban, a key manifesto commitment, earlier this month and information posters advising passengers of the ban have been carried across the transport network.</p>
<p>Mayor of London, Boris Johnson, said: 'I'm determined to improve the safety and security of public transport in London and create a better environment for the millions of Londoners who rely on it.</p>

<h2>Police support</h2>
<p>'That's why from this Sunday 1 June the drinking of alcohol will be banned from the Tube, tram, buses and Docklands Light Railway, with the full support of the Metropolitan Police and British Transport Police.&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </p>
<p>'I firmly believe that banning the drinking of alcohol on London's public transport will create a better travelling environment for all Londoners and that if we drive out antisocial behaviour and so called minor crime then we will be able to get a firm grip on more serious crime.'</p>
<p>Jeroen Weimar, Chief Operating Officer of Surface Transport, said:&nbsp; 'From Sunday, we will be asking people not to drink or open any alcohol while travelling on our services. </p>
<p>'Passengers fully supported the smoking ban on the Tube and buses when it was introduced some years ago and I am sure they will be on board with this change which is designed to make travelling around this Capital a safer and more pleasant experience.'<br>
<hr>

<p>
<p><strong>Notes to editors:<p>
<ul>
<li></li></ul></strong>TfL intends to implement the policy through a change to the Conditions of Carriage relating to Underground and Bus services 
<li>The Docklands Light Railway has rules for using tickets which are similar to the Conditions of Carriage, and can be amended in the same way. These will specify that alcohol cannot be consumed or carried in open containers on any service </li>
<li>Existing bye-laws will also be used to further enforce the ban where necessary once legal notices are in place on the network </li>
<li>The ban will also come into force on London Overground later next month </li>
<li>Relevant bye-laws are already in place for Croydon Tramlink </li>
<li>Both the Metropolitian Police Service&nbsp;and British Transport Police will support TfL staff in enforcing this ban.&nbsp;Any person suspected of committing a public disorder offence in refusing to comply with this ban may therefore be arrested</li>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "From Sunday, drinking from and carrying open containers of alcohol will be banned, making travelling on London's public transport network a safer and more pleasant experience for passengers.The Mayor announced the ban, a key manifesto commitment, earlier";}
        
        


 