


@{ViewBag.Title = "Awards celebrate cycling in the Capital";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>Awards celebrate cycling in the Capital</h1>
        <div class="content-page-press-release">
        23 May 2008
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        Community groups and members of the 999 emergency cycling teams gathered last night for Transport for London's (TfL's) Cycling Community Awards.
        
    </div>



 <div class="on-this-page">
<div class="pullquote right">
                        <p>
                            I'd like to congratulate the winners and nominees
                            
                        </p>
                    </div>
                
            
            
            <p>
<p>Last night saw the 2nd annual Cycling Community Awards to celebrate local cycling initiatives from across the Capital.</p>
<p>The awards recognise the vital role these initiatives play in making cycling open and accessible to all Londoners.</p>
<p>The awards also recognise the important work that London's 999 emergency service cyclists do throughout London. </p>
<p>Several awards were presented by Chris Boardman MBE, British Olympic cycling gold medallist and three-time world record holder.<br>&nbsp;<br>Winners included:</p>
<ul>
<li>The St Bernard's Bike Project in Ealing, which provides cycling facilities for mental health service users </li>
<li>Parents for Pedal Power scheme in Richmond has seen mums and dads swapping their family car trips for Dutch cargobikes, particularly for the school run.&nbsp;The bikes can carry a rider and up to three young children and are also great for carrying large amounts of shopping </li></ul>
<h2>Initiative</h2>
<p>In addition, two of London's Primary schools stole the limelight with their successful initiatives to get more children on bikes:</p>
<ul>
<li>Ride 'n' Swim at John Ball Primary School in Lewisham, has children cycling four miles to and from swimming lessons </li>
<li>Newham's Curwen Primary School has set up a Family Cycling Club which gets more than 20 children and their families out on a cycle ride once a week</li></ul>
<p>Both these inspirational schemes have led to an increase in the number of children cycling to school.</p>
<p>Some inspiring 999 awards for cycling emergency service teams and projects were also recognised for their work on two wheels:</p>
<ul>
<li>Mark Phillips, Station Manager at Hounslow for the London Fire Brigade won the Cycling Advocate award for introducing the innovative idea of placing fire fighters on bikes to help reduce the number of deliberate fires in the borough of Hounslow.&nbsp;After a 14 week pilot the number of deliberate fires in the borough decreased by 49 per cent and the scheme is now being rolled out across the Capital </li>
<li>The Metropolitan's Police Shooters Hill Safer Neighbourhood Team won the Cycling Works Award.&nbsp;Since getting the 999 Cycling Award in 2004 the team have gone from strength to strength, with a notable success in their cycle patrols including two awards for saving lives whilst undertaking cycle journeys</li></ul>
<h2>Growth</h2>
<p>David Brown, Managing Director of TfL's Surface Transport, said: 'I'd like to congratulate the winners and nominees of the Community Cycling awards.</p>
<p>'The time and effort they have put in, often over many years, has played an important role in the cycling renaissance we are seeing in London today.</p>
<p>'Grants funded by TfL are available to help start small scale projects that will encourage and help cycling grow within London's many diverse communities.</p>
<p>'Anyone interested in these should contact the London Cycling Campaign for further information.'</p>
<h2>Diversity</h2>
<p>Other winners on the night included:</p>
<p>Special awards</p>
<ul>
<li>Charlie Irvine from the Metropolitan Police Service </li>
<li>Snow Hill Division, from the City of London Police, Snow Hill Corporation</li></ul>
<p>Beyond the Call of Duty award</p>
<ul>
<li>Eme Nwaofidel, PCSO for the Metropolitan Police</li></ul>
<p>Cycling Development award</p>
<ul>
<li>The Metropolitan Police Service</li></ul>
<p>
<hr>
<strong>Note to editors: 
<p>
<ul>
<li></li></ul></strong>Photographs and case studies for interviews are available upon request 
<li>The 2008 Cycling Community Awards combines the former 999 London&nbsp;Cycling Awards for emergency service cycle teams with the Community&nbsp;Cycling Fund for London's (CCFfL) grants scheme </li>
<li>The CCFfL is managed by the London Cycle Campaign (LCC) and funded by TfL and works in partnerships with key members such as Sustrans and the Greater London Authority.&nbsp;The CCFfL grants scheme provided over &pound;200,000 in grants in 2007 to London's community groups </li>
<li>The next chance to apply for the Community Cycling Fund for London will be&nbsp;in February 2009.&nbsp;For further information about the grants and how to apply, visit <a href="http://www.lcc.org.uk/">London Cycle Campaign's website</a> </li>
<li>London has seen a dramatic rise in the number of people cycling, with an 83 per cent increase on London's major roads since 2000. It is estimated that&nbsp;there are now approximately 480,000 cycle journeys a day across London as&nbsp;a whole </li>
<li>To see and example of a Dutch cargobike please visit the <a href="http://www.dutchbike.co.uk/">Dutch Bike</a> website</li>
<p><strong>Cycling Communities Award categories and winners:</strong></p>
<p><strong>Cycling for Young People <br></strong>Winner: Family Cycling Club, Curwen Primary School Newham</p>
<ul>
<li>For the best cycling project to promote cycling among young people</li></ul>
<p><strong>Cycling for Adults<br></strong>Winner: St Bernard's Bike Project, West London Mental Health Trust, Ealing</p>
<ul>
<li>For the best cycling project to promote cycling among adults</li></ul>
<p><strong>Creative Solutions</strong><br>Winner: Ride 'n' swim, John Ball Primary School, Lewisham</p>
<ul>
<li>For the most innovative cycling project</li></ul>
<p><strong>Cycling Legacy<br></strong>Winner: Parents for Pedal Power, Cargobike Project, Richmond</p>
<ul>
<li>For the cycling project which has led to the most long-lasting and significant changes to a community</li></ul>
<p><strong>Emergency Services (999) award categories and winners:</strong></p>
<p><strong>Cycling Advocate</strong><br>Winner: Mark Phillips, Station Manger, Hounslow, London Fire Brigade</p>
<ul>
<li>Awarded to a high level officer who has have helped make the biggest change in cycling within their organisation this year</li></ul>
<p><strong>Cycling Works</strong> <br>Winner: The Metropolitan's Police Shooters Hill Safer Neighbourhood Team</p>
<ul>
<li>Awarded to a cyclist or cycle team who has demonstrated excellence in the use of bicycles in day-to-day duties</li></ul>
<p><strong>Beyond the Call of Duty<br></strong>Winner: Eme Nwaofidel, PCSO, Metropolitan Police Service</p>
<ul>
<li>Awarded to a cyclist or cycle team who has demonstrated excellence in improving community relations through the use of the bicycle in his/her profession and whose achievements have displayed innovation, initiative, leadership and actions beyond the daily requirements of the job</li></ul>
<p><strong>Cycling Development</strong><br>Winner: The Metropolitan Police Service</p>
<ul>
<li>Awarded to the emergency services organisation which has done the most to develop cycling within their organisation in the last year</li></ul>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "Last night saw the 2nd annual Cycling Community Awards to celebrate local cycling initiatives from across the Capital.The awards recognise the vital role these initiatives play in making cycling open and accessible to all Londoners.The awards also";}
        
        


 