


@{ViewBag.Title = "Bus diversions in Thamesmead as Crossway bridge maintenance enters second phase";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>Bus diversions in Thamesmead as Crossway bridge maintenance enters second phase</h1>
        <div class="content-page-press-release">
        20 May 2008
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        The second phase of bridge maintenance works on Crossway, Thamesmead begins on 27 May 2008 and will result in diversions on a number of bus routes.
        
    </div>



 <div class="on-this-page">
<p>The works are being carried out by Tilfen Land, a local developer.</p> <p>They are expected to last three months and will affect routes 177, 229, 401, 472, 601, 602&nbsp;and N1.</p> <p>These will be diverted as follows:</p> <ul> <li>Buses from Thamesmead will follow the northern arm of Crossway to the Summerton Way roundabout, where they will double back, returning along the northern arm of Crossway to Carlyle Road  </li><li>From the Carlyle Road/Bentham Road roundabout all routes will continue with their journey as usual  </li><li>Buses travelling in the other direction (towards Thamesmead) will follow the same diversion in reverse</li></ul> <p>Due to these diversions, buses will be unable to serve the stops located on the southern arm of Crossway.</p> <p>Passengers are advised to check posters on local bus stops for more information about the diversions.</p> <p>These arrangements ensure that residents around Crossway continue to be served as effectively as possible while maintaining through buses for all other users.</p> <p>Other parts of the routes are unaffected.</p> <p> <hr>  <p> <p><strong>Notes to editors:<p> <ul> <li></li></ul></strong>The first phase of works on Crossway began on 10 March 2008 and involved maintenance on the Eastern bridge  <li>The second phase will begin on 27 May 2008 and involve works on the Southern bridge  </li><li>For more information on the maintenance works along Crossway contact Tilfen Land on 01322 528580  </li><li>The Crossway works will continue to impact on bus services in the area over the coming months. Transport for London will continue to provide information on any diversions</li> <p>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "The works are being carried out by Tilfen Land, a local developer. They are expected to last three months and will affect routes 177, 229, 401, 472, 601, 602&nbsp;and N1. These will be diverted as follows:Buses from Thamesmead will follow the northern arm";}
        
        


 