


@{ViewBag.Title = "Check the Tube on your iGoogle homepage with Transport for London";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>Check the Tube on your iGoogle homepage with Transport for London</h1>
        <div class="content-page-press-release">
        12 May 2008
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        Transport for London (TfL) has created a number of internet gadgets to help Londoners plan journeys or get live travel news direct to their desktop.
        
    </div>



<div class="pull-quote">
        <div class="quote-body">"These simple to use gadgets will make it easier for Londoners and visitors to the capital to get the travel information they need"</div>
        <div class="quote-footer">
            <div class="quotee-name">Caroline Little</div>
            <div class="quotee-job-title">Head of Group New Media for TfL</div>
        </div>
</div>

 <div class="on-this-page">
<div class="pullquote right">
                        <p>
                            These simple to use gadgets will make it easier for Londoners and visitors to the capital to get the travel information they need
                            
                        </p>
                    </div>
                
            
            
            <p>The&nbsp;gadgets, which can be added to&nbsp;your iGoogle homepage, allow the user to access live transport&nbsp;information about London's transport network without having to search the internet for the information. </p>
<p>iGoogle, Google's customizable homepage, allows internet users to personalise their web experience, choosing the content they're interested in seeing and having it right at their fingertips.</p>
<p>From today, there will be three new gadgets available:</p>
<ul>
<li>Journey Planner, which can be customised to automatically&nbsp;start or finish your&nbsp;journey at your&nbsp;home address </li>
<li>A London Underground map, which the user can move around by dragging with their mouse </li>
<li>A gadget showing live travel news for the London Underground, updated every minute</li></ul>
<p>Caroline Little, Head of Group New Media for TfL said: 'More and more people are turning to the internet when looking for travel information, with <a href="http://www.tfl.gov.uk/">tfl.gov.uk</a> getting over seven million visits every month. </p>
<p>'These simple to use gadgets will make it easier for Londoners and visitors to the capital to get the travel information they need.'<br>&nbsp;<br>Web users can add the gadgets to their iGoogle page by visiting <a href="http://www.tfl.gov.uk/widgets">tfl.gov.uk/widgets</a> </p>
<hr>

            <p>
<p>Notes to Editors:</p>
<ul>
<li>TfL is one of the world's largest transport authorities providing transport and services for more than 10 million people across the Capital every day</li>
<li>Among the areas managed by TfL are London Underground, which carried a record 1.1 billion journeys last year, and the London bus network, which carried 1.9 billion passengers last year, up 45 per cent since 2000</li>
<li>The TfL website allows Londoners to get up to the minute specifically tailored journey information simply and swiftly, as well as top up their Oyster card or pay the London Congestion Charge</li>
<li>In the future, TfL plans to roll out versions of these gadgets for different online platforms</li>
<li>The TfL website has over 7,000,000 visits per month</li>
<li>To find out more about iGoogle, go to <a href="http://www.google.co.uk/ig">www.google.co.uk/ig</a></li></ul>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "The&nbsp;gadgets, which can be added to&nbsp;your iGoogle homepage, allow the user to access live transport&nbsp;information about London's transport network without having to search the internet for the information. iGoogle, Google's customizable";}
        
        


 