


@{ViewBag.Title = "Crime is cut by 11 per cent on the Underground";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>Crime is cut by 11 per cent on the Underground</h1>
        <div class="content-page-press-release">
        28 May 2008
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        Mayor welcomes results but says more must be done to reassure passengers.
        
    </div>



<div class="pull-quote">
        <div class="quote-body">"We have made tackling transport crime one of our number one priorities"</div>
        <div class="quote-footer">
            <div class="quotee-name">Boris Johnson</div>
            <div class="quotee-job-title">Mayor of London</div>
        </div>
</div>

 <div class="on-this-page">
<div class="pullquote right">
                        <p>
                            We have made tackling transport crime one of our number one priorities
                            
                        </p>
                    </div>
                
            
            
            <p>
<p>Transport for London (TfL) has welcomed the announcement that crime on the Underground and Docklands Light Railway (DLR) have gone down by 11 per cent this year with robberies on the network cut by more than 50 per cent.</p>
<p>Continued investment in safety and security on the Tube network have helped to deliver the cut in recorded crime, shown by statistics released by the British Transport Police (BTP) today.</p>
<p>There have also been reductions in pick pocketing, criminal damage, violent crime and public disorder offences in the past year.</p>
<p>With more than one billion passenger journeys every year on the Tube, there are now just 14 crimes for every million passenger journeys taken.</p>

<h2>Tackling transport crime</h2>
<p>Mayor of London, Boris Johnson, has welcomed the news but has acknowledged that more needs to be done to improve Londoners' sense of safety.</p>
<p>The Mayor said: 'The reported cut in crime on the Tube and Docklands Light Railway is very encouraging, and is a trend that I fully intend to build upon as Mayor.</p>
<p>'Unfortunately many Londoners do not feel as safe as they should do when using the network, which is why we have made tackling transport crime one of our number one priorities.</p>
<p>'The transport network plays an important role in the lives of millions of Londoners, and it is essential that the tubes and trains are places where we can all go without the fear of crime.</p>

<h2>Policing investment increased</h2>
<p>'I have made a commitment to increase investment in policing across the transport network, and will be working with the British Transport Police and TfL to further reduce crime and restore Londoners' confidence in the safety of public transport.'</p>
<p>Tim O'Toole, Managing Director of London Underground, said: 'The British Transport Police have been doing an excellent job of policing the Tube and DLR network, and our passengers should feel reassured by these encouraging statistics.</p>
<p>'Robbery has gone down by more than 50 per cent, which is a real achievement, and much of the proactive work of the BTP on the Underground has helped to make it an unwelcoming environment for criminals.</p>
<p>'Crime is low on the Tube, but is important that our passengers also feel safe as they are travelling around London and we will continue to invest in safety and security across the system as we refurbish stations and upgrade the network.'</p><strong>
<p>
<hr>

<p>
<p>Notes to editors:</p>
<p></strong>Figures released by the BTP show that for 2007/8:</p>
<ul>
<li>Crime on the London Underground/DLR network is down 11 per cent while passenger numbers continue to increase (from 18,486 to 16,445). There is less than one crime on the network for every 60,000 passenger journeys taken </li>
<li>Robbery has gone down by 51.9 per cent (from 399 to 192) </li>
<li>Violent crime has been cut by 11.2 per cent (from 2,494 to 2,215) </li>
<li>Criminal damage has gone down by 29 per cent (from 2,704 to 1,921) </li>
<li>Theft of passenger property, or pick-pocketing has gone down by 6.3 per cent (from 7,988 to 7,481) </li>
<li>Theft of railway property, including cable theft, has gone down by 27.7 per cent (from 819 to 592) </li>
<li>Public disorder offences have gone down 3.4 per cent (from 2,050 to 1,981) </li>
<li>Sexual offences have gone down by 15.5 per cent (from 393 to 332) </li>
<li>Proactive operations by BTP officers have seen the number of recorded drugs-related offences have gone up from 687 to 881 in 2007/8 </li>
<li>Fraud offences, including tampering with cash and ticket machines on LU property have increased from 167 in 2006/7 to 264 in 2007/8 </li>
<li>In 2006/7 there was a 2.1 per cent drop in crime, according to BTP statistics </li>
<li>London Underground carried more than a billion passengers in 2007/8</li></ul>
<p>&nbsp;</p>
<ul>
<li>In 2003, there were 450 BTP officers for London Underground. Over the last few years this has increased to more than 700 officers. BTP deployment patterns have been designed to be random to provide reassurance and to act as an additional deterrent. BTP also conduct random passenger searches using sniffer dogs </li>
<li>There are approximately 8,500 CCTV cameras on the Tube network which will rise to 12,000 over the next four years as part of the ongoing station modernisation programme. This will see the upgrading and expansion of CCTV facilities from analogue to digital and the recording of high quality images to hard drive rather than magnetic tape. This will ultimately mean that no one will be able to enter the Underground network without their face being recorded by CCTV camera. CCTV coverage also extends to trains and will be expanded as new rolling stock arrives on the network. Footage from CCTV cameras is not only able to viewed and monitored locally by a specific station but can also be accessed remotely by the Network Operation Centre at London Underground HQ and by the BTP. This does not cover all stations </li>
<li>Information Points are being installed at every station as it undergoes refurbishment with as many as 26 installed at some of the busiest stations. These information points give passengers and staff access to the station supervisor's office at the touch of a button. If there is no member of staff in the station control room, for any reason, the Information Point will automatically connect to the 999 emergency services help line </li>
<li>Additional improvements to Tube security in recent decades have seen the introduction of clear lines of sight and improved lighting on platforms as stations are upgraded and refurbished<br></li></ul>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "Transport for London (TfL) has welcomed the announcement that crime on the Underground and Docklands Light Railway (DLR) have gone down by 11 per cent this year with robberies on the network cut by more than 50 per cent.Continued investment in safety and";}
        
        


 