


@{ViewBag.Title = "Discover your London next weekend at the Open Garden Squares Weekend (7 - 8 June)";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>Discover your London next weekend at the Open Garden Squares Weekend (7 - 8 June)</h1>
        <div class="content-page-press-release">
        27 May 2008
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        Why not leave the stress of traffic at home and walk your way to discovery this weekend courtesy of Transport for London's (TfL's) Open Garden Squares Weekend. Tickets are now on sale for the weekend which takes place on Saturday 7 and Sunday 8 June 2008.
        
    </div>



<div class="pull-quote">
        <div class="quote-body">"London is full of beautiful parks and gardens"</div>
        <div class="quote-footer">
            <div class="quotee-name">Peter McBride</div>
            <div class="quotee-job-title">Head of Cycling Walking and Accessibility at TfL</div>
        </div>
</div>

 <div class="on-this-page">
<div class="pullquote right">
                        <p>
                            London is full of beautiful parks and gardens
                            
                        </p>
                    </div>
                
            
            
            <p>This year is the 10th Anniversary of Open Garden Squares Weekend, which is organised by London Parks &amp; Gardens Trust and sponsored by TfL.</p> <p>It is anticipated that approximately 10,000 people will visit the vast range of gardens.</p> <p>Of the 170 gardens throughout London from Enfield in the North to Croydon in the South, 120 of the gardens are not usually open to the public and these range from private residential squares to allotments and prisons.</p> <p>This year 20 new gardens will also be participating and many will be offering a range of activities suitable for the whole family from face-painting and balloon modelling to plant sales and talks.</p> <p>So why not unearth the hidden gems of your borough and begin your voyage to discovery at the Open Garden Squares Weekend?</p> <p>Peter McBride, Head of Cycling, Walking and Accessibility at TfL, said: 'London is full of beautiful parks and gardens and the Open Garden Squares Weekend gives people the chance to reacquaint themselves with some old favourites and also discover some that you might not be so familiar with.</p> <p>'What better way to discover these wonderful spaces than on foot?</p> <p>'Most are easily walkable from train stations or bus stops allowing people to travel at their own pace and at their convenience.</p> <p>'It's good exercise too.'</p> <p>Here are some of the hidden gardens that you can visit this weekend:</p> <p><strong>Eaton Square<br>Opening Hours - Sunday 8 June, 10:00-17:00<br>Nearest Stations: Victoria, Sloane Square</strong></p> <p>Eaton Square is one of London's premier addresses and was built in 1826-55 by Thomas Cubitt for the Grosvener Estate.</p> <p>It is divided into six gardens, one of which will be open for Open Garden Squares Weekend.</p> <p>In 2007 the perfectly manicured gardens were highly commended in the London Garden Society's competition for large private squares.</p> <p>Famous past residents of Grosvener Estate include Prime Minister Neville Chamberlain and actress Vivien Leigh.</p> <p>On the day there will be live music, an exhibition and a tree guide. </p> <p><strong>Lambeth Palace<br>Opening Hours - Saturday 7 June, 10:00-17:00<br>Nearest Stations: Vauxhall, Westminster, Waterloo, Lambeth North</strong></p> <p>Lambeth Palace Garden is one of the oldest and largest private gardens in London.</p> <p>The site has been occupied by the Archbishops of Canterbury since the end of the 12th century.</p> <p>The garden includes formal courtyards, a parkland-style garden with copper beech, black walnut planted by Queen Mary, tulip trees, mulberries, woodland, a pond and native planting, a formal rose terrace, a summer gravel garden, beehives and more.</p> <p>On the day tea and biscuits will be available and visitors will have the opportunity to buy souveniers and garden honey.</p> <p><strong>HM Prison Wormwood Scrubs<br>Opening hours - Saturday 7 June, 10:30-16:00 and Sunday 8 June, 14:30-16:00<br>Nearest Station: East Acton</strong></p> <p>HM Prison Wormwood Scrubs was the last major prison of the 19th century, built by Sir Edmund du Cane between 1875 and 1891.</p> <p>Bounded on three sides by cell blocks and on the fourth by a fine Portland stone chapel, the central garden strongly resembles a traditional London square, laid out with paths, lawns, flower beds, trees and park benches.</p> <p>Hanging baskets and planters provide a colourful spectacle in summer.</p> <p>Visitors will have the opportunity to go on guided tours between 10:30-14.30 on Saturday and at 14:30 on Sunday to see large displays of visual arts from UK prisons, young offender institutions, high-security psychiatric hospitals, secure units and probation services.</p> <p>Special conditions apply to all visitors and details can be found on the Open Garden Squares website.</p> <p><strong>Branch Hill Allotments <br>Opening Hours - Saturday 7 June and Sunday 8 June, 14:00-17:00<br>Nearest Station: Hampstead</strong></p> <p>Only a few hundred yards from Hampstead tube station is an unexpected, different little world, encircled by trees and a stout fence.</p> <p>Today about 40 people from the local community enjoy having their own plots to garden.</p> <p>On entering, you are surrounded by plants, shrubs and dozens of little vegetable gardens each with its own character reflecting that of its cultivator. </p> <p><strong>Royal College of Physicians' Medicinal Garden <br>Opening Hours - Saturday 7 June and Sunday 8 June, 10:00-17:00<br>Nearest Stations: Great Portland Street, Regent's Park</strong></p> <p>The Royal College of Physicians of London is a registered charity that aims to ensure high-quality care for patients by promoting the highest standards of medical practice.</p> <p>The college's medicinal garden has been extensively replanted since 2005.</p> <p>There are nearly one thousand different medicinal plants represented in the gardens, plants from different cultures and geographical regions of the world, plants identified by famous physicians, ancient plants, poisonous plants, edible plants and those representing the long history of plants and medical beliefs.</p> <p>With tours throughout the day this really is a beautiful and truly insightful experience.</p> <p>&nbsp;</p> <p>Tickets bought in advance of the weekend, cost just &pound;6 and allow visitors to go to as many gardens as they like over the two days.</p> <p>These can be purchased up until 2 June from the Advance Ticket Hotline on 020 8347 3230 (Mon to Fri 9:00 to 18:00) - provided by Capital Gardens; Britain and London Visitor Centre (1 Regent Street, SW1Y 4XT) and Capital Garden Centres in Hampstead; Alexandra Palace; Morden Hall; Wandsworth; Finchley and Berkhamstead.</p> <p>Tickets can be bought during the weekend for &pound;7.50 from the Britain and London Visitor Centre and selected gardens.</p> <p>Children under the age of 12 go free as do companions to those in a wheelchair.</p> <p>For further media information and images please contact Assistant Press Officer Susanne Singh at <a href="mailto:susannesingh&#64;tfl.gov.uk">susannesingh&#64;tfl.gov.uk</a> or on 020 7126 1466.</p> <p> <hr>  <p> <p><strong>Notes to editors:</strong></p> <ul> <li>Full details about all the participating gardens and squares are included in the guide which is given free with tickets. Information can also be found at <a href="http://www.opensquares.org">www.opensquares.org</a> along with the latest on special events  </li><li>Open Garden Squares Weekend is organised by the London Parks &amp; Gardens Trust to raise awareness of the significant social, cultural, environmental and economic contribution that squares make to the capital and its inhabitants. The Trust provides a centre for education, research, and creative projects for the improvement and conservation of London's green urban spaces. <a href="http://www.londongardenstrust.org">www.londongardenstrust.org</a>  </li><li>To plan your visit to the gardens on the day by foot, visit <a href="http://www.tfl.gov.uk/walkingjourneyplanner">tfl.gov.uk/walkingjourneyplanner</a>  </li><li>In 2008 Open Garden Squares Weekend celebrates its 10th Anniversary. Originally Open Squares Day,&nbsp; it was initiated in 1998 by a local resident who imagined a day 'when all the gardens could be open to the public when local communities could celebrate the day with fetes and fairs'. 40 private garden squares participated in the first year  </li><li>The London garden square is one of the Capital's most popular and valuable features, with a rich history stretching back to 1631 when the Covent Garden Piazza was completed.&nbsp; By the late 18th century the square design had been perfected, with Bedford Square, W1, a shining example  </li><li>In addition to private and limited access gardens and squares, a selection of public gardens will also participate in the event<br></li></ul>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "This year is the 10th Anniversary of Open Garden Squares Weekend, which is organised by London Parks &amp; Gardens Trust and sponsored by TfL. It is anticipated that approximately 10,000 people will visit the vast range of gardens. Of the 170 gardens";}
        
        


 