


@{ViewBag.Title = "DNA kits issued to all London bus drivers as specialist police unit is set up to combat attacks ";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>DNA kits issued to all London bus drivers as specialist police unit is set up to combat attacks </h1>
        <div class="content-page-press-release">
        23 May 2008
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        London's bus drivers have been issued with DNA spit kits that will be used to help prosecute passengers guilty of assaults involving spitting.
        
    </div>



<div class="pull-quote">
        <div class="quote-body">"We are determined to make public transport a safer place"</div>
        <div class="quote-footer">
            <div class="quotee-name">Boris Johnson</div>
            <div class="quotee-job-title">Mayor of London</div>
        </div>
</div>

 <div class="on-this-page">
<div class="pullquote right">
                        <p>
                            We are determined to make public transport a safer place 
                            
                        </p>
                    </div>
                
            
            
            <p>If an incident involving spitting happens on a bus the driver will be able to use the kit to take a DNA sample of the suspect. </p> <p>Last year there were more than 1,000 recorded incidents of spitting on London's buses and many of these were attacks on drivers.</p> <p>These kits have been used in Tube stations for a number of years and have helped to identify around seventy per cent of assailants whose saliva samples were sent off to the Police National Database for analysis. </p> <p>At the same time, the Metropolitan Police Service's Transport Operational Command unit is setting up a work place violence unit to investigate workplace violence against bus drivers across London. </p> <p>This team of officers will compliment the work of the successful London Underground Workplace Violence Unit, which has increased the detection of people who have abused members of staff.</p> <p>New guidelines for the courts have recommended tougher sentences for those who assault people working in the public sector or provide a service to the public such as bus drivers and Tube staff.</p> <h2>Finest bus drivers</h2> <p>The Mayor of London, Boris Johnson, said: 'We have the finest bus drivers in the world in London and it saddens me that they may find themselves the victims of this disgusting activity. </p> <p>'These kits will increase the likelihood of being able to track down perpetrators and sends them a clear message that this foul behaviour will not be tolerated.</p> <p>'The vast majority of passengers on our buses are fine individuals who are a pleasure to carry. But I want our drivers to be aware that we are determined to take action against any passenger that displays unacceptable behaviour towards them. </p> <p>'We are determined to make public transport a safer place through measures such as the the ban on passengers carrying open containers of alcohol and I am aware that this will ask more of our drivers. </p> <p>'However I hope they will agree that by providing support such as the new workplace violence unit we are fulfilling our pledge to protect them.'</p> <h2>DNA evidence</h2> <p>Steve Burton, Director of Community Safety and Enforcement at TfL, said: 'While bus drivers are not often subjected to serious assaults in the course of their work, there is far too much low level abuse and incidents such as spitting from members of the public. </p> <p>'Spitting at drivers is unacceptable and will not be tolerated and with these DNA kits, which have been successfully used on the Underground, London's bus drivers can collect the DNA evidence needed for a successful prosecution.'</p> <p>Superintendent Derrick Griffiths, of the Transport Operational Command Unit, said: 'We are working together to keep London moving safely. </p> <p>'The introduction of both the DNA kits and our new workplace violence unit means that we will be far more effective in identifying offenders for these crimes. </p> <p>'These efforts will be backed up by a robust prosecution service.'</p> <p>Aidan Harris, Manager of London Underground's Workplace Violence Unit said: "Workplace violence occurs in all areas of public duty, and we welcome new guidelines for the courts, which have recommended tougher sentences for those who assault people working in the public sector.</p> <p>'We have been lobbying for this because our staff have to put up with daily abuse from the public, and when a case reaches court the tougher the sentence, the stronger the message will be that this is not acceptable.'<br></p> <hr>
            <p>
<p><strong>Notes to editors:</strong></p>
<ul>
<li>Transport for London (TfL)&nbsp;is distributing the DNA kits to all London Buses operators and is providing training to each operator so that bus drivers are properly briefed on how to use the kits </li>
<li>London's bus drivers are not employed by TfL, but by the various bus operating companies that are contracted to run services. This is with the exception of East Thames Buses, which is owned by TfL and currently employs 339 drivers. There are around 22,500 bus drivers in all working for 18 different operating companies, operating over 700 routes in London </li>
<li>The Metropolitan Police Service will be processing any samples handed in by bus drivers at police stations, and the kits themselves contain sterile collection swabs, rubber gloves and an evidence bag</li></ul>
<p><strong>Crime on London Buses is low and getting lower</strong></p>
<ul>
<li>The latest figures (April to September 2007/08) show that bus related crime is down by 11 per cent on the previous year, and youth bus related crime has fallen 19 per cent over the same period </li>
<li>By the end of 2005, TfL fitted all of London's 8,000 buses with fully recording CCTV and there are now as many as 60,000 cameras fitted on the fleet </li>
<li>&nbsp;London's buses carry 6.3m passengers a day on 700 routes across the Capital, and are a low crime environment - only 15 crimes for every million passenger journeys </li>
<li>In 2007 there were around 1,000 reported incidents of spitting on London's buses, although all these may not have been directed at bus drivers </li>
<li>Obviously, all assaults on bus staff are considered to be serious as TfL recognises that they can all have a serious impact on their daily lives. That said, for recording purposes a serious assault is defined as one in which hospital treatment is required or sickness/lost time is more than&nbsp;three days. Those not classified as serious will include all reported verbal assaults, threats and spitting</li></ul>
<p><strong>Table 1: Attacks on bus drivers, not classified as serious</strong><br>&nbsp;<br>Year&nbsp;&nbsp;&nbsp; No. of assaults&nbsp;&nbsp;&nbsp; <br>2006&nbsp;&nbsp;&nbsp; 866&nbsp;&nbsp;&nbsp; <br>2007&nbsp;&nbsp;&nbsp; 998&nbsp; <br>Source: London Buses</p>
<p><strong>Table 2: Serious assaults on bus drivers </strong><br>&nbsp;<br>Year&nbsp;&nbsp;&nbsp; No. of assaults&nbsp;&nbsp;&nbsp; <br>2006&nbsp;&nbsp;&nbsp; 135&nbsp;&nbsp;&nbsp; <br>2007&nbsp;&nbsp;&nbsp; 118&nbsp; <br>Source: London Buses</p>
<p><strong>Table 3: reported non physical abuse on bus drivers<br></strong>&nbsp;<br>Year&nbsp;&nbsp;&nbsp; No. of assaults&nbsp;&nbsp;&nbsp; <br>2006&nbsp;&nbsp;&nbsp; 958&nbsp;&nbsp;&nbsp; <br>2007&nbsp;&nbsp;&nbsp; 758&nbsp; <br>Source London buses</p>
<p><strong>Transport Operational Command Unit Summary</strong>:</p>
<ul>
<li>The Metropolitan Police Transport Operational Command Unit (TOCU) was set up in 2002 to fight crime on buses, tackle illegal taxi touts; and assist with the control of traffic congestion </li>
<li>There are now more than 1,200 uniformed officers in the unit, which is funded by Transport for London, at a cost of around &pound;70m a year. A further 440 officers were deployed to London's outer boroughs last year in Safer Transport Teams </li>
<li>A review of the TOCU was announced earlier this month, and it is as a result of this review of the deployment of existing staff that a specialist workplace violence unit for the bus network is being set up </li>
<li>This workplace violence unit will consist of approximately 10-12 members of staff including police officers and bus company representatives dedicated to investigating staff abuse. It is expected to be in place from August 2008</li></ul>
<p><strong>London Underground Workplace Violence Unit</strong></p>
<ul>
<li>The Workplace Violence Unit (WVU) was set up in 2006 to focus on physical violence, threats and abuse against Tube staff by passengers. The unit is a joint initiative with London Undergground (LU) and the British Transport Police (BTP) to make the Tube network a safer place for staff </li>
<li>TfL currently have DNA Collection Kits at every&nbsp;LU &nbsp;station, where they have been used in around 100 prosecutions last year against people who assault Tube staff </li>
<li>LU&nbsp;has invested heavily in training staff at managing challenging behaviour in recent years and to develop appropriate skills to defuse and counter violent incidents </li>
<li>LU&nbsp;has actively encouraged its staff to report all assaults, no matter how minor, in order to develop effective preventative measures. This has been effective and the reporting of all types of assaults, threats and verbal abuse provides both the BTP and London Underground's Workplace Violence Unit with valuable intelligence </li>
<li>Examples of recent prosecutions are available on request<br></li></ul>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "If an incident involving spitting happens on a bus the driver will be able to use the kit to take a DNA sample of the suspect.Last year there were more than 1,000 recorded incidents of spitting on London's buses and many of these were attacks on drivers.";}
        
        


 