


@{ViewBag.Title = "Engineering works suspend DLR services between Westferry and West India Quay";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>Engineering works suspend DLR services between Westferry and West India Quay</h1>
        <div class="content-page-press-release">
        26 May 2008
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        Canary Wharf DLR passengers advised to plan journey
        
    </div>



 <div class="on-this-page">
<p>
<p>There will be no Docklands Light Railway (DLR) service between Westferry and West India Quay stations from Tuesday 27 May so that additional engineering works can be undertaken. Services are expected to return to normal next week.</p>
<p>During the Bank Holiday weekend, DLR services were suspended between Bank / Tower Gateway and Poplar / Canary Wharf to enable engineering works to prepare the DLR for three-carriage trains.</p>
<p>Engineers have identified that a bridge at Poplar requires more work than was originally scheduled.</p>
<p>Howard Smith, Chief Operating Officer, London Rail said: "During engineering works over the weekend to prepare the DLR network for three carriage trains, engineers working on a bridge at Poplar identified additional works would be needed this week.</p>
<p>"We are working hard to ensure that these works are completed as soon as possible and would like to apologise to passengers for any disruption that passengers will experience."</p>
<p>Passengers are advised that trains will run to and from:</p>
<ul>
<li>Stratford - Lewisham every 5 mins</li>
<li>Canary Wharf - Lewisham every 10 mins</li>
<li>Tower Gateway - Beckton every 7 mins</li>
<li>Bank - King George V via London City Airport every 4 mins</li></ul>
<p>Passengers travelling to Canary Wharf from Bank are advised to walk from the nearby Westferry station, while those travelling further south towards Lewisham from Bank should change at Poplar. Passengers may wish to use the Jubilee line to and from Canary Wharf and Stratford, or South Eastern services to and from Greenwich and Lewisham.</p>
<p>For more information call DLR Customer Services on 020 7363 9700. For alternative routes during this disruption call 020 7222 1234, visit <a href="http://www.tfl.gov.uk">www.tfl.gov.uk</a> or use the TfL Journey Planner. Passengers are advised to allow extra time for their journey.</p>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "There will be no Docklands Light Railway (DLR) service between Westferry and West India Quay stations from Tuesday 27 May so that additional engineering works can be undertaken. Services are expected to return to normal next week.During the Bank Holiday";}
        
        


 