


@{ViewBag.Title = "Have your say on local bus services in Kensington and Chelsea";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>Have your say on local bus services in Kensington and Chelsea</h1>
        <div class="content-page-press-release">
        23 May 2008
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        TfL is inviting passengers and local residents to give their comments on proposals for a new bus route, 228, and plans to extend route 316.
        
    </div>



<div class="pull-quote">
        <div class="quote-body">"We are very keen to hear passengers' views on our proposals for local bus services"</div>
        <div class="quote-footer">
            <div class="quotee-name">Peter Bradley</div>
            <div class="quotee-job-title">Head of Stakeholder Engagement</div>
        </div>
</div>

 <div class="on-this-page">
<div class="pullquote right">
                        <p>
                            We are very keen to hear passengers' views on our proposals for local bus services
                            
                        </p>
                    </div>
                
            
            
            <p>The proposed route 228 has been developed in partnership with Hammersmith &amp; Fulham Council and the Royal Borough of Kensington &amp; Chelsea, meeting long-standing requests for new transport links.&nbsp; </p>
<p>The proposed route would operate between Central Middlesex Hospital (in Park Royal) and Elgin Avenue, via White City, Ladbroke Grove and Harrow Road.</p>
<h2>Route 316</h2>
<p>An associated change is proposed for the route 316, which currently operates between Cricklewood (Edgware Road) and St Charles Hospital. </p>
<p>There are plans to extend the route from St Charles Hospital to White City along St Mark's Road and St Ann's Road. </p>
<p>The extension will provide a high frequency link between North Kensington and the areas around Latimer Road, and White City, as well as providing links from Queen's Park, Kilburn High Road, Brondesbury and Cricklewood.</p>
<p>Both routes will use single-deck buses and provide new bus links to White City and the new Westfield Development. </p>
<p>Peter Bradley, Head of Stakeholder Engagement, said: 'London's bus network is constantly under review to ensure we continue to meet passenger needs.</p>
<p>'We are very keen to hear passengers' views on our proposals for local bus services.'</p>
<p>Further information about the proposals can be accessed through <a href="/corporate/projectsandschemes/2033.aspx">Bus&nbsp;route consultations</a>&nbsp;and also from London Buses Customer Services. The consultation will run from 26 May until 11 July 2008.<br>
<hr>

<p>
<h3>Notes to editors</h3>
<p>Leaflets with details of the proposals will be sent out to around 30,000 local residents, including residents in and around new roads to be served in White City and Ladbroke Grove </p>
<p>London Buses Customer Services contact details:</p>
<ul>
<li><strong>Tel:</strong> 0845 300 7000 </li>
<li><strong>Email:</strong> <a href="mailto:customerservices&#64;tfl-buses.co.uk">customerservices&#64;tfl-buses.co.uk</a> </li>
<li><strong>Post:</strong> London Buses Customer Services, 4th floor, Zone G7, Palestra, 197 Blackfriars Road, London SE1 8NJ</li>
<li><strong>Textphone:</strong> 020 7 918 4435 </li></ul>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "The proposed route 228 has been developed in partnership with Hammersmith &amp; Fulham Council and the Royal Borough of Kensington &amp; Chelsea, meeting long-standing requests for new transport links.&nbsp; The proposed route would operate between";}
        
        


 