


@{ViewBag.Title = "Last chance for thousands of young Londoners to sign-up for free travel";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>Last chance for thousands of young Londoners to sign-up for free travel</h1>
        <div class="content-page-press-release">
        08 May 2008
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        Applications at Post Offices must be made by this Saturday 10 May for new Oyster photocards to be issued in time for 1 June.
        
    </div>



<div class="pull-quote">
        <div class="quote-body">"enjoy travelling around London for free"</div>
        <div class="quote-footer">
            <div class="quotee-name">Boris Johnson</div>
            <div class="quotee-job-title">Mayor of London</div>
        </div>
</div>

 <div class="on-this-page">
<div class="pullquote right">
                        <p>
                            enjoy travelling around London for free
                            
                        </p>
                    </div>
                
            
            
            <p> <p>Transport for London (TfL) is today&nbsp;issuing a final call to the families of up to 35,000 11 to 13-year-olds in London to act before they lose their privilege of free travel on buses and trams this summer.</p> <p>To continue to qualify for Free Travel 11 to 13-year-olds must apply for a concessionary Oyster photocard for the first time - by this Saturday, 10 May - in order to be sure of receiving their cards in time for 1 June.</p> <p>Application forms are available at Post Offices across the capital.</p> <p>From 1 June everyone aged 11 and over must touch in with a valid Oyster photocard when boarding a bus or at a tram stop to continue travelling for free.</p> <h2>Civility</h2> <p>Mayor of London, Boris Johnson said: 'It is very important for young people to realise they cannot use the bus without touching in first.</p> <p>'Photocards for all young people over the age of 11 will be the first step in restoring civility on our buses.</p> <p>'The need for all under-18s to carry an Oyster photocard will make enforcement of the free travel scheme easier and prepares the way for Payback London.</p> <p>'Payback London will see those under-18s who have their bus passes withdrawn for breaking the young persons' free travel Behaviour Code given the opportunity to earn them back by engaging in Community Service.</p> <p>'For those 11 and over who are just getting their cards - my message to them is to treat it like the privilege it is and enjoy travelling around London for free'.</p> <h2>Benefits</h2> <p>Steve Burton, Director of Community Safety, Policing and Enforcement at TfL said:&nbsp;'There are just two days left for thousands of families to ensure their children continue to benefit from free travel from 1 June.</p> <p>"We will do our best to process any late applications, but we will not be able to guarantee your Zip Oyster photocard by 1 June unless we receive your application by Saturday.'</p> <p>Fourteen and fifteen year-olds have been using Oyster photocards to qualify for free travel since the scheme was first introduced in September 2005, and those who still hold valid passes do not need to apply for a replacement.</p> <p>The new 11+ Zip Oyster photocard has been available since January.</p> <h2>Awareness</h2> <p>Since then, posters have been displayed on the bus network about the scheme and schools have been contacted to spread awareness of the changes to free travel regulations, which include mandatory validation of Oystercard on every journey.</p> <p>In addition, London Buses Revenue Protection Inspectors (RPIs) have been issuing warning letters to thousands of young people travelling on the bus network without the relevant photocard in April and May.</p> <p>Anyone without a concessionary Oyster photocard will have to pay the adult fare for their journey, and anyone found travelling without a valid pass or ticket for their journey may be liable for a &pound;20 penalty fare.</p> <p>Further details are available at <a href="http://www.tfl.gov.uk/zip">www.tfl.gov.uk/zip</a></p> <p> <hr>  <p> <p>&nbsp;<strong>Notes to editors:</strong></p> <ul> <li>A new name, Zip, has been given to all concessionary travel schemes for young people and this is the first time that 11 to 13-year-olds have had to carry a pass to qualify for free travel on London's buses  </li><li>115,000 applications have already been received from 11 to 13-year-olds across London  </li><li>Payback London will see those under-18s who have their bus passes withdrawn for breaking the Behaviour Code given the opportunity earn them back by engaging in Community Service</li></ul> <p><strong>Who travels free:</strong></p> <p>Free bus and tram travel is available to:&nbsp;</p> <ul> <li>All children aged 11 and over will need to have an Oyster photocard at all times to qualify for free bus and tram travel from 1 June 2008  </li><li>Young people aged 16 to 18 on 31 August prior to the start of the academic year qualify for free bus and tram travel with an Oyster photocard if they are in full time further education or on a work-based learning scheme and live in a London borough  </li><li>Young people who already have an Oyster concessionary photocard, that will still be valid on 1 June, do not need to apply for a replacement Zip Oyster photocard  </li><li>All young people aged 11 and over also must continue to touch in and out with their Oyster photocard on the Tube, DLR and London Overground to travel at the child rate.</li></ul> <p><strong>Applications:<p> <ul> <li></li></ul></strong>Applications for a 'first' Oyster photocard are processed free of charge at the Post Office using 11 to 15 and 16+ Oyster photocard application forms. Applicants will need to provide a photograph and proof of age at time of application.16+ applicants for free travel will need to have their forms validated by their school, college or training provider and show proof that they live in a London borough  <li>Applications received by 10 May&nbsp;are guaranteed to receive their Oyster photocard in time for the introduction of new changes on 1 June to the free travel scheme</li> <p><strong>Behaviour code:</strong></p> <p>If you are using an Oyster photocard with free bus and tram travel concession on one of our services, it may be withdrawn if you:</p> <ul> <li>do not follow&nbsp;TfL's Behaviour Code or  </li><li>commit a crime on one of our vehicles</li></ul> <p>The Behaviour Code states that:</p> <ul> <li>When on London's public transport network or premises, you should always act sensibly and treat others as you would like to be treated  </li><li>Your travel concession may be withdrawn if we believe that you have behaved in an antisocial way</li></ul> <p><strong>Penalties</strong>:</p> <p>Revenue Protection Inspector actions prior to 1 June 2008:</p> <ul> <li>Reminder cards issued to young people (11-13) travelling without an Oyster photocard  </li><li>Reminder cards issued to young people (11-16) travelling without touching in. Passenger warned that failing to validate from 1 June will cause them to receive a warning letter and could result in them losing their concession  </li><li>Penalty fare issued to any young person aged 14 and over travelling without an Oyster photocard (or other ticket) </li></ul> <p>Revenue Protection Inspector actions after 1 June 2008:</p> <ul> <li>Children over 11 travelling without an Oyster photocard (or other ticket) will receive a penalty fare  </li><li>Children over 11 travelling with an unvalidated Oyster photocard will have their details recorded so a written warning can be sent to their parent/guardian, as well as a verbal warning issued on the spot. Those caught twice in any rolling year will have their concession withdrawn for six months. Should they be caught travelling without a ticket during this suspension period they will lose the concession for the life of the scheme (i.e. a maximum of 5 years).</li></ul> <p>Information is also available in Bengali, Chinese, Czech, French, Greek, Gujarati, Hindi, Punjabi, Spanish, Turkish and Vietnamese.<br></p>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "Transport for London (TfL) is today&nbsp;issuing a final call to the families of up to 35,000 11 to 13-year-olds in London to act before they lose their privilege of free travel on buses and trams this summer. To continue to qualify for Free Travel 11 to";}
        
        


 