


@{ViewBag.Title = "London businesses urged to get on their bikes";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>London businesses urged to get on their bikes</h1>
        <div class="content-page-press-release">
        19 May 2008
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        Registration opens for Transport for London's (TfL's) Workplace Cycle Challenge, to encourage London's commuters to take to two wheels.
        
    </div>



<div class="pull-quote">
        <div class="quote-body">"there has never been a better time to take to two wheels"</div>
        <div class="quote-footer">
            <div class="quotee-name">Ben Plowden</div>
            <div class="quotee-job-title">Director of TfL's Smarter Travel Unit</div>
        </div>
</div>

 <div class="on-this-page">
<div class="pullquote right">
                        <p>
                            there has never been a better time to take to two wheels
                            
                        </p>
                    </div>
                
            
            
            <p> <p>Increasing numbers of Londoners have taken to two wheels and are cycling to work, including the Capital's new Mayor, Boris Johnson.</p> <p>Now TfL is asking cyclists to register for the Workplace Cycle Challenge to encourage even more Londoners to cycle to work.</p> <p>Cyclists from workplaces across the Capital are being asked to form teams and compete against other businesses in the challenge, which will take place during June. </p> <p>The Mayor of London, Boris Johnson, said: 'There is no better way of getting to work in this City.</p> <p>'It's good for the cyclist, good for the city and good for the planet.</p> <p>'The first few trips might feel tough, but the summer is clearly the best time to take this up, so I encourage anyone who can ride to work to give it a go.'</p> <h2>Challenge</h2> <p>Companies will need to nominate a 'Team Manager' to coordinate the challenge within their organisation.</p> <p>Participating teams will be asked to register their progress, by logging the miles that they cycle on the challenge website.</p> <p>The results will then be compared against the results of other organisations of similar sizes to their own and the winners will be awarded at a VIP reception during this year's London Freewheel on 21 September.&nbsp; </p> <p>Participating businesses will compete in the following three challenges:</p> <ul> <li>Best Organisation - for the team that registers the highest percentage of their employees logging cycle trips during June  </li><li>Overall Best Team - for the team registering the highest number of people who are either new to cycling or who haven't cycled recently  </li><li>Highest Mileage - for the team that logs the most miles per person during the challenge</li></ul> <h2>Benefit</h2> <p>Ben Plowden, Director of TfL's Smarter Travel Unit said: 'Not only will the challenge be a fun and healthy team-building experience but with summer on the way and thousands more cyclists on the Capital's streets, there has never been a better time to take to two wheels.</p> <p>'As a regular commuter cyclist I know cycling is a great way to travel to work - it's cheap, convenient, healthy and quick.</p> <p>'It also has great benefits for businesses as it can increase productivity and reduce absenteeism as well as saving costs on parking facilities.</p> <p>'It is a great way of looking after the environment, and can really help to reduce a company's carbon footprint.'</p> <h2>Win</h2> <p>Individuals that sign-up and complete the online questionnaire will automatically be entered into a prize draw to win a &pound;150 Evans Cycle Shop Voucher, and the first 150 inexperienced cyclists who sign up will be offered free cycle training.</p> <p>Teams that log their cycle journeys on a weekly basis will also be entered into a further weekly prize draw for a &pound;100 Evans Cycle Shop Voucher.</p> <p>Organisations that want to take part should register at <a href="http://www.tfl.gov.uk/cyclechallenge">www.tfl.gov.uk/cyclechallenge</a> before the challenge starts on 1 June.</p> <p>They can also sign up to the challenge or add new team members at any point throughout June.</p> <p> <hr>  <p> <p><strong>Notes to editors:</strong></p> <ul> <li>For further information or to join the London Cycle Challenge 2008 please visit <a href="http://www.tfl.gov.uk/cyclechallenge">www.tfl.gov.uk/cyclechallenge</a>  </li><li>TfL offer a range of incentives through its workplace travel programme to help organisations encourage their staff to travel to and from work more sustainably, and to reduce their car use.  </li><li>These initiatives include supporting companies to implement flexible working practices, promoting car sharing, and encouraging cycling and walking by providing funding or match funding for initiatives such as secure cycle parking, showers and drying rooms. For further information please visit <a href="http://www.anewwaytowork.org">www.anewwaytowork.org</a> </li><li>The number of cycle journeys on London's major roads has increased by 83 per cent since TfL was created in 2000. It is estimated that there are now around 480,000 cycle journeys a day across London  </li><li>The London Freewheel will take place on Sunday 21 September.&nbsp;For further information please visit <a href="http://www.londonfreewheel.com">www.londonfreewheel.com</a><br></li></ul>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "Increasing numbers of Londoners have taken to two wheels and are cycling to work, including the Capital's new Mayor, Boris Johnson. Now TfL is asking cyclists to register for the Workplace Cycle Challenge to encourage even more Londoners to cycle to work.";}
        
        


 