


@{ViewBag.Title = "Major works to Aldgate East gyratory begin today";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>Major works to Aldgate East gyratory begin today</h1>
        <div class="content-page-press-release">
        12 May 2008
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        TffL will begin work today on a privately funded project in Aldgate East to remove the one-way gyratory system and re-introduce two-way traffic on Whitechapel High Street.
        
    </div>



<div class="pull-quote">
        <div class="quote-body">"Removing this urban blight will restore this historic area for business and personal use"</div>
        <div class="quote-footer">
            <div class="quotee-name">Koy Thomson</div>
            <div class="quotee-job-title">Chief Executive of the London Cycling Campaign</div>
        </div>
</div>

 <div class="on-this-page">
<div class="pullquote right">
                        <p>
                            Removing this urban blight will restore this historic area for business and personal use
                            
                        </p>
                    </div>
                
            
            
            <p>The new road layout will make it easier and safer for cyclists to travel through the area and bus passengers will also benefit from newly located west and eastbound bus stops that will improve accessibility.</p>
<p>The introduction of pedestrian crossing facilities across all of the junctions will make the area much more pedestrian friendly.</p>
<p>A new public open space will be created by closing off the western half of Braham Street, between Mansell Street and Leman Street, which will play an important role in regenerating Aldgate for the whole community.</p>
<p>Braham Street will also be closed off at the eastern end for a private development.</p>
<p>Work is scheduled to be completed on the highway project by the end of the year and will complement other major building developments due to take place in the Aldgate area. </p>
<h2>Accessible</h2>
<p>The public open space is scheduled to be completed in 2009.</p>
<p>Dana Skelley,&nbsp;TfL's Interim Director of Road Network Management, said: 'The changes we are making to the Aldgate gyratory system have been welcomed by all of the road users we've spoken to, particularly cyclists.</p>
<p>'The scheme will not only improve the accessibility and safety of the road network in the area, but with the creation of the new public space we will be contributing to the overall regeneration of Aldgate.'</p>
<p>Koy Thomson, Chief Executive of the London Cycling Campaign (LCC), said: 'The Aldgate one-way road system has always been a barrier to safe pedestrian and cycle movement in and out of the City of London.</p>
<p>'Removing this urban blight will restore this historic area for business and personal use.</p>
<p>'The LCC's local group have been campaigning for this improvement for over a decade.'</p>
<p>Disruption to the public during the construction work will be minimised, with works taking place overnight and at weekends when possible.</p>
<p>
<hr>

<p>
<p><strong>Notes to editors :</strong> </p>
<ul>
<li>The project schedule, including night time and weekend works, for the Aldgate East gyratory project have been agreed with the London Borough of Tower Hamlets Environmental Health Officer </li>
<li>TfL is responsible for maintaining and managing the 580km TfL Road Network (TLRN), which, although comprising only&nbsp;five per cent of the Capital's roads, carries approximately 33 per cent of its traffic<br></li></ul>
<p>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "The new road layout will make it easier and safer for cyclists to travel through the area and bus passengers will also benefit from newly located west and eastbound bus stops that will improve accessibility.The introduction of pedestrian crossing";}
        
        


 