


@{ViewBag.Title = "Mayor to chair Transport for London";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>Mayor to chair Transport for London</h1>
        <div class="content-page-press-release">
        14 May 2008
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        This press release was originally issued by the Greater London Authority.
        
    </div>



 <div class="on-this-page">
<p> <p>The Mayor of London, Boris Johnson, has today confirmed that he will chair the Board of Transport for London, assuming the position with immediate effect. &nbsp; </p> <p>The long-term leadership of the Board will be considered over time. </p> <p>The Mayor has also asked Steven Norris to join the Board, and to sit on the Board of the London Development Agency.&nbsp; </p> <p>He has asked Mr Norris to carry out the specific task of coordinating work between the two bodies. </p> <p>Boris Johnson said: 'Steven Norris will bring a wealth of knowledge and experience of both transport and business to these important roles and is therefore uniquely placed to coordinate their work. &nbsp; </p> <p>'He has also proved, time and time again, that he has a passionate commitment to London, which I applaud.' <br></p> <p> <hr>  <p> <p><strong>Notes to editors:</strong> </p> <ul> <li>Steven Norris became a Member of Parliament, representing Oxford East, in 1983. He has served as Parliamentary Under Secretary of State for Transport and Minister for Transport in London, where he was responsible for the Jubilee line extension, the largest extension of the London Underground network to date. He has chaired the National Cycling Strategy Board, been the Director General of the Road Haulage Association and President of the Motor Cycle Industry Association and a patron of the cyclists charity, Sustrans and of the Campaign for Better Transport (UK) Trust  </li><li>Dave Wetzel is no longer the Vice Chair of&nbsp; Transport for London<br></li></ul>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "The Mayor of London, Boris Johnson, has today confirmed that he will chair the Board of Transport for London, assuming the position with immediate effect. &nbsp;The long-term leadership of the Board will be considered over time.The Mayor has also asked";}
        
        


 