


@{ViewBag.Title = "Metronet Rail transfers to TfL control";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>Metronet Rail transfers to TfL control</h1>
        <div class="content-page-press-release">
        27 May 2008
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        Metronet Rail today transferred to Transport for London (TfL) control at one minute past midnight.
        
    </div>



<div class="pull-quote">
        <div class="quote-body">"We can ensure that the crucial upgrade work is continued and delivered on time"</div>
        <div class="quote-footer">
            <div class="quotee-name">Boris Johnson</div>
            <div class="quotee-job-title">Mayor of London</div>
        </div>
</div>

 <div class="on-this-page">
<div class="pullquote right">
                        <p>
                            We can ensure that the crucial upgrade work is continued and delivered on time
                            
                        </p>
                    </div>
                
            
            
            <p>TfL pledged to focus investment on new trains and signalling systems, as well as station renewals, to deliver the greater reliability and capacity that Londoners and Tube users want and need.</p> <p>Over the coming financial year, TfL's investment in trains, signalling and stations on the eight Tube lines that were formerly the responsibility of Metronet is forecast to be around &pound;1.4bn - the equivalent of almost &pound;27m each week.</p> <p>The first new trains and signalling systems to be delivered on these lines will be as part of the &pound;900m Victoria line upgrade.&nbsp;</p> <p>The new trains are currently being tested and are due to enter passenger service for the first time next year.</p> <p>They will have CCTV, wheelchair access, better ventilation and improved audio-visual customer information systems.</p> <p>The full upgrade is contractually due to be delivered by 2013, but with the 2012 Olympic and Paralympic Games only four years away, the upgrade is currently on course to deliver this major transport boost by late 2011.</p> <h2>Continuing improvements</h2> <p>Station works continue with 39 stations already completed and work currently underway at a further 22.</p> <p>Design work is being progressed at the same number again.</p> <p>The Mayor of London, Boris Johnson, said: 'Since Metronet went into administration there has been a protracted period of uncertainty, resulting in the millions who rely on the Tube not knowing when the needed improvements would be delivered.</p> <p>'With Metronet now out of administration and under the control of TfL we can ensure that the crucial upgrade work is continued and delivered on time, while representing good value for the Capital.</p> <p>'Londoners deserve nothing less, and I will be working closely with TfL to make sure that the improvements are delivered.'</p> <p>London Underground Managing Director, Tim O'Toole, said: 'The Tube's importance to London has never been greater.</p> <p>'More and more people are travelling with us every day and there is no sign of this slowing down, so providing additional capacity to meet demand through the upgrade of the Tube is paramount.</p> <p>'We're working hard to deliver our renewal program efficiently.</p> <h2>Programme of renewal</h2> <p>'We have already overseen the restructure of a number of contracts, particularly the train and signalling contracts for the sub-surface lines, and track maintenance across all these eight Tube lines.</p> <p>'This has saved hundreds of millions now with the potential to save hundreds of millions more in future.</p> <p>'Metronet Rail is now out of Administration and under TfL control, meaning we can focus on our priorities.</p> <p>'These are continued good day-to-day maintenance leading to reliable train services, the delivery of the line upgrades, and putting in place with the Mayor and Government an efficient and effective long-term structure that can deliver Tube improvements in future.'</p> <p>Working more closely with London Underground over the period of Administration, real improvements in performance have already been delivered.</p> <p>A new management team has been put in place, led by Chief Executive Andie Harper, which is helping to deliver the improved performance on these eight lines, including:</p> <ul> <li>A 10 per cent&nbsp;reduction in passenger disruption year on year  </li><li>Engineering overruns halved through better management</li></ul> <h2>Maintaining service</h2> <p>Furthermore, 114km of track has been renewed with a further 38km scheduled by April 2009.</p> <p>As part of the upgrade of the Circle, District, Hammersmith &amp; City and Metropolitan lines, the manufacture of 190 new air-conditioned trains to enter passenger service from 2010 will continue at Bombardier's plant in Derby.</p> <p>New Chief Executive, Andie Harper, said: 'I'm proud of our staff who have made great progress improving the Tube service.</p> <p>'We remain focused on maintaining and renewing the Tube.</p> <p>'The transfer to TfL provides us with the stability and direction we need while the long-term future is agreed.</p> <p>'We have agreed an ambitious but achievable investment programme with London Underground for the coming year that will ultimately deliver real and major improvements for passengers on the Tube.'</p> <p> <hr>  <p> <p><strong>Notes to editors:<p> <ul> <li></li></ul></strong>Metronet Rail BCV Ltd and Metronet Rail SSL Ltd went into PPP Administration on 18 July 2007. Since then, London Underground has been working with Metronet Rail and the PPP Administrators to transfer the Metronet Rail business to TfL control and to ensure the continued safe operation and renewal of the Tube  <li>All Metronet Rail staff have now transferred to the nominee companies under their existing terms and conditions and in accordance with TUPE regulations  </li><li>Metronet Rail BCV was responsible for the maintenance and renewal of the Bakerloo, Central, Victoria and Waterloo &amp; City lines  </li><li>Metronet Rail SSL was responsible for the maintenance and renewal of the sub surface lines - the Circle, District, Hammersmith &amp; City and Metropolitan lines  </li><li>Following transfer, the Metronet Rail name and brand will continue to remain in existence. The nominee companies, LUL Nominee BCV Limited and LUL Nominee SSL Limited, will trade as Metronet Rail BCV and Metronet Rail SSL respectively  </li><li>The current Victoria line trains have been running for 40 years and carry 165 million passengers per year. By 2025 it is estimated that customer numbers will rise to 213 million per year. To meet the extra demand and provide faster, more reliable journeys Metronet Rail is upgrading the trains, track and signalling</li>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "TfL pledged to focus investment on new trains and signalling systems, as well as station renewals, to deliver the greater reliability and capacity that Londoners and Tube users want and need. Over the coming financial year, TfL's investment in trains,";}
        
        


 