


@{ViewBag.Title = "Motorists warned of disruption to A40 London-bound on 27 May due to fuel duty demonstration";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>Motorists warned of disruption to A40 London-bound on 27 May due to fuel duty demonstration</h1>
        <div class="content-page-press-release">
        23 May 2008
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        TfL is warning motorists that part of the A40 London-bound carriageway will be closed on 27 May between 10:00 and 15:00 due to a planned fuel duty protest being held at Marble Arch.
        
    </div>



 <div class="on-this-page">
<p>Following consultation with the Metropolitan Police, the London-bound carriageway between White City and Edgware Road will be closed as protestors use it to park their HGVs and other large vehicles while they attend the central London rally. </p>
<p>The decision to close the carriageway was made jointly to avoid any potential major traffic disruption in central London.</p>
<p>The A40 will be closed from the northern roundabout (junction of A40 and A3220 West Cross Route) to the junction with the A5 Edgware Road. The westbound carriageway, going out of London, will remain open.</p>
<h2>Alternative routes</h2>
<p>London-bound traffic will be diverted onto the A3220 West Cross Route; however, motorists are advised to find other alternative routes, including public transport, to avoid any unnecessary disruption to their journey. </p>
<p>Warning signs will be displayed on the major roads leading up to the affected areas, including the M40 and M25, and TfL will work with the police to manage traffic on the day.</p>
<p>The road will be re-opened in the early afternoon, to ensure it is clear in time for evening peak traffic.</p>
<p>The A40 Westway is part of a free route through the Congestion Charging zone. </p>

<p>Drivers who enter the zone because of the diversions in place on this day should leave it as soon as possible by the nearest available exit. </p>
<p>TfL&nbsp;makes every effort to ensure that penalty charge notices are not issued as a result of a diversion; but should motorists receive a penalty charge they can appeal it by following the instructions on the notice.</p>
<p>For more detail on the road closures, and for up-to-date information on traffic in London, call the TfL traffic line on 020 7222 1234, go to Traffic news or tune into Traffic Radio on DAB digital radio.</p>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "Following consultation with the Metropolitan Police, the London-bound carriageway between White City and Edgware Road will be closed as protestors use it to park their HGVs and other large vehicles while they attend the central London rally. The decision";}
        
        


 