


@{ViewBag.Title = "Paradise lost and found on the Tube";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>Paradise lost and found on the Tube</h1>
        <div class="content-page-press-release">
        28 May 2008
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        London Underground celebrates 400 years of poet John Milton.
        
    </div>



 <div class="on-this-page">
<p>London Underground is celebrating the 400th anniversary of the birth of poet John Milton by displaying his poems on trains across the network from 2 June.</p> <p>This is part of a year-long international celebration of his writings with exhibitions taking place from Cambridge to New York.</p> <p>The new series of Poems on the Underground features The Expulsion from Eden - the final lines from Paradise Lost, Book 12 by Milton, which is considered by many as one of the greatest poems written in the English language.</p> <p>Works by other poets, both classical and contemporary, are also part of the series, and have been chosen to add a varied literary point of interest to passengers' journeys.</p> <p>Verses by romantic poet William Wordsworth, author Elizabeth Smart, popular performance poet John Hegley, and Frances Leviston who offers a view of our post-Paradise world have been selected to offer commuters a few moments of contemplation away from their daily routine.</p> <p>Tamsin Dillon, Head of Art on the Underground, said: 'This group of poems by John Milton and other more modern poets who have been inspired by him, shows how important and far reaching this great poet's influence remains.</p> <p>'An advocate of free speech his words are just as relevant today as they ever were.'</p><strong> <p> <hr>  <p> <p>Notes to editors:</p> <ul> <li></li></ul></strong>Poems on the Underground was founded in 1986  <li>The programme is supported by London Underground and Arts Council England  </li><li>Poems are selected and the programme administered by writer Judith Chernaik and poets Gerard Benson and Cicely Herbert  </li><li>Praised for their elegance, clarity and simplicity, Poems on the Underground has inspired similar programmes on public transport in Dublin, Paris, New York, Vienna, Stockholm, Helsinki, Athens, Barcelona, Moscow, St Petersburg and, most recently, Shanghai  </li><li>The best selling anthologies Poems on the Underground, Cassell 2001, and New Poems on the Underground 2006, Cassell 2006, and our children's book Carnival of the Animals, Walker 2006, are available from good bookshops and London Transport Museum  </li><li>The posters, designed by Tom Davidson, are available from London Transport Museum and are distributed by the Poetry Society and the British Council to schools and libraries here and abroad; and<br>Forthcoming events "Milton and Music" Tuesday 8 July 19:30, at St Giles Cripplegate (opposite the Barbican Centre).&nbsp;Poems on the Underground, readers Gerard Benson and Cicely Herbert, will present extracts from Milton's works in St Giles Cripplegate, the City church where Milton is buried.&nbsp;Musical settings of Milton's poems, by Henry Lawes, Handel, and others will be performed by Lorna Anderson, soprano, Richard Edgar-Wilson, tenor, and the Apollo Chamber Orchestra, conducted by David Chernaik. Promoted by the Barbican Library. Tickets &pound;15 (concessioins &pound;12) from Barbican Box Office.<br>On Wednesday 9 July, 14:15, at St Giles Cripplegate, Poems on the Underground presents a reading of Milton's great 'lyrical drama' Samson Agonistes.&nbsp;Tickets &pound;8 (concessions &pound;6) on the door </li><li>John Milton was born in the City of London<br></li> <p><strong></strong>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "London Underground is celebrating the 400th anniversary of the birth of poet John Milton by displaying his poems on trains across the network from 2 June. This is part of a year-long international celebration of his writings with exhibitions taking place";}
        
        


 