


@{ViewBag.Title = "Passengers benefit from new Northern line timetable";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>Passengers benefit from new Northern line timetable</h1>
        <div class="content-page-press-release">
        20 May 2008
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        Customers on London's busiest Tube line now have a more reliable service due to the introduction of a new timetable.
        
    </div>



<div class="pull-quote">
        <div class="quote-body">"disruption to customer journeys has been reduced"</div>
        <div class="quote-footer">
            <div class="quotee-name">Jeff Ellis</div>
            <div class="quotee-job-title">General Manager for the Northern line</div>
        </div>
</div>

 <div class="on-this-page">
<div class="pullquote right">
                        <p>
                            disruption to customer journeys has been reduced
                            
                        </p>
                    </div>
                
            
            
            <p>A series of changes to the Northern line schedule, the product of over a year of detailed study, has resulted in more trains running on time.</p> <p>Modifying the service in response to increasing customer demand has led to increased reliability and has reduced journey times by around a minute.</p> <p>The Northern line carries around three quarters of a million people daily.</p> <p>Rising passenger numbers mean that trains take longer to complete their journeys as they have to stop for longer at busy stations to allow time for the extra people to get on and off.&nbsp;</p> <h2>Recovery</h2> <p>The timetable was changed in January 2008 to reflect this, meaning that trains now run to time more often.</p> <p>The new service can also recover more quickly if there are delays.</p> <p>London Underground has also boosted the frequency of trains on the Bank branch to help with passenger demand through the City and improve performance across the rest of the line.&nbsp; </p> <p>Jeff Ellis, General Manager for the Northern line, said: 'Changes to our Northern line timetable have really made a difference to customers' journeys.</p> <p>'Since the introduction of the new timetable London's busiest line has been far more reliable.<br>&nbsp;<br>'Fewer delays are occurring, as a result of trains running to time. </p> <h2>Reliability</h2> <p>'When minor delays do arise the line has recovered much more quickly and disruption to customer journeys has been reduced.</p> <p>'It has also allowed us to carry around 1,400 more passengers an hour on the Bank branch in the peak - the busiest section of the line.'</p> <p>Work has also begun to upgrade the line, which will be completed in 2012.</p> <p>The installation of modern signalling together with a new automatic train control system will further increase capacity and reliability.</p> <p>Once the renewal of the line is finished London Underground will be able to transport 20 per cent more passengers on parts of the line and journeys will be 18 per cent faster.</p> <p> <hr>  <p> <p><strong>Notes to editors:</strong></p> <ul> <li>Transport for London is investing &pound;10billion to improve and expand London's transport network, over half of that being spent on the Tube  </li><li>Tube Lines is responsible for the maintenance and renewal of the Jubilee, Northern and Piccadilly lines  </li><li>The Northern line is the most complex and challenging manually driven railway in Europe, with services operating on six branches<br></li></ul>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "A series of changes to the Northern line schedule, the product of over a year of detailed study, has resulted in more trains running on time. Modifying the service in response to increasing customer demand has led to increased reliability and has reduced";}
        
        


 