


@{ViewBag.Title = "Phase two of Low Emission Zone starts in two months - operators urged to act now";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>Phase two of Low Emission Zone starts in two months - operators urged to act now</h1>
        <div class="content-page-press-release">
        08 May 2008
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        The next stage affecting lorries over 3.5 tonnes, buses and coaches starts on 7 July 2008.
        
    </div>



<div class="pull-quote">
        <div class="quote-body">"the aim of the Low Emission Zone is to improve London's air quality"</div>
        <div class="quote-footer">
            <div class="quotee-name">Nick Fairholme</div>
            <div class="quotee-job-title">Head of the London Low Emission Zone</div>
        </div>
</div>

 <div class="on-this-page">
<div class="pullquote right">
                        <p>
                            the aim of the Low Emission Zone is to improve London's air quality
                            
                        </p>
                    </div>
                
            
            
            <p>
<p>With two months to go until the introduction of the second phase of the Low Emission Zone, Transport for London (TfL) is urging lorry, bus and coach operators who drive within London to take action now to ensure they are ready.</p>
<p>From 7 July 2008 lorries over 3.5 tonnes, and buses and coaches over 5 tonnes with nine or more seats, will be required to meet strict emissions standards if they wish to continue to drive within Greater London without paying a daily charge.</p>
<p>The emissions standards will also apply to motor caravans, motorised horseboxes and other diesel-engined vehicles over 3.5 tonnes including Luton and box vans, as well as the very largest minibuses over 5 tonnes with 9 or more seats.</p>
<p>The Low Emission Zone, which aims to improve air quality in London, commenced on 4 February 2008 and already applies to lorries over 12 tonnes. </p>
<h2>Air quality</h2>
<p>It is the first scheme of its type in the UK and the largest Low Emission Zone in the world.</p>
<p>The zone aims to cut harmful emissions from the most polluting lorries, coaches and buses.</p>
<p>It operates 24 hours a day, seven days a week, every day of the year and covers most of Greater London.</p>
<p>Cars and motorcycles are not affected by the scheme.</p>
<p>The capital has the worst air pollution in the UK and among the worst in Europe.</p>
<p>Poor air quality worsens asthma and causes the premature death of an estimated 1,000 people each year in London. </p>
<h2>Alternative</h2>
<p>Operators of vehicles that do not meet the required Euro III emissions standards for particulate matter will need to take action to comply with the scheme, for example by fitting pollution abatement equipment, or pay a &pound;200 daily charge to drive within Greater London.</p>
<p>If this charge is not paid and the vehicle does not meet the required standards, owners risk a penalty charge of &pound;1,000.</p>
<p>Vehicles registered as new on or after 1 October 2001, when the Euro III standard becames mandatory for new heavy vehicles, are assumed to already meet the emissions standards of the Zone.</p>
<p>Owners of older vehicles have a number of options to ensure that their vehicles comply with the requirements of the Low Emission Zone including fitting pollution abatement equipment, converting them to an approved alternative fuel such as compressed natural gas, re-organising their fleet or purchasing a newer compliant vehicle. </p>
<h2>Inform</h2>
<p>An extensive public and operator information campaign, which began in June 2007, includes press and radio advertising, using poster sites on main arterial routes into London, at Eurotunnel and on diesel pumps, and direct mail activity targeting operators of non-compliant vehicles seen driving within the Zone.</p>
<p>TfL&nbsp;is giving operators of non-compliant vehicles a 28-day warning period from the date they are first seen driving within the Zone during which time they will not be issued with a penalty charge. This warning period will be in place throughout the life of the scheme. </p>
<h2>Take action</h2>
<p>Nick Fairholme, Head of the London Low Emission Zone, said: 'Many operators affected by phase two have already taken action to ensure that they comply with the emissions standards of the Zone.</p>
<p>'We would urge operators and owners of the remaining non-compliant vehicles to take appropriate action now if they wish to avoid having to pay the daily charge or incur penalty charges.</p>
<p>'Because the aim of the Low Emission Zone is to improve London's air quality, TfL would much prefer operators of non-compliant vehicles to meet the emissions standards rather than pay a daily charge.'</p>
<p>To check whether a vehicle meets the Low Emission Zone emissions standards log on to <a href="http://www.tfl.gov.uk/lezlondon">www.tfl.gov.uk/lezlondon</a> or call 0845 607 0009.</p>
<p><br>&nbsp;</p>
<p>
<hr>

<p>
<p><strong>Notes to editors:</strong></p>
<ul>
<li>The Low Emission Zone operates by using cameras to identify registration numbers of vehicles driving within Greater London </li>
<li>It does not include the M25 motorway, even when it passes within the boundary of the zone. The M25 can be used by drivers as a diversionary route, should they wish to avoid the zone. However, some other motorways within Greater London are included in the scheme </li>
<li>A map is available at <a href="http://www.tfl.gov.uk/lezlondon">www.tfl.gov.uk/lezlondon</a> so drivers can check the boundaries of the zone </li>
<li>Operators of affected vehicles which do not meet the Low Emission Zone emissions standards (unless exempt or registered for a 100 per cent discount) will have to pay a daily charge of &pound;200 </li>
<li>A charging day runs from midnight to midnight </li>
<li>The level of the charge has been set in order to encourage operators to clean up their fleets rather than to encourage regular payment of the charge </li>
<li>Operators that do not pay the daily charge and whose vehicles are identified as not meeting the emissions standards will be liable for a Penalty Charge Notice </li>
<li>The penalty charge is &pound;1,000 which is reduced to &pound;500 if paid within 14 days </li>
<li>Non-GB registered vehicles that meet the Low Emission Zone emissions standards will need to be registered with TfL in order to avoid a penalty charge </li>
<li>Some Euro II and a few Euro I certified vehicles registered before 1 October 2001 may have sufficiently low particulate matter emissions that they meet the Low Emission Zone emissions standards in 2008 without modification </li>
<li>Only certain specific models of engine will comply </li>
<li>Evidence that these engines meet the required emissions standards will have to be submitted to TfL </li>
<li>For GB-registered vehicles this will be a Low Emission Certificate issued by the Vehicle and Operator Services Agency after the vehicle has undergone a test </li>
<li>For non-GB vehicles this will be an engine type approval certificate</li></ul>
<p>The Low Emission Zone is being introduced in a number of stages, as follows: </p>

<p><strong>Heavier Lorries</strong></p>
<p>From 4 February 2008, diesel-engined lorries over 12 tonnes have had to meet the Euro III standard for particulate matter.</p>
<p>This includes heavy diesel-engined vehicles exceeding 12 tonnes Gross Vehicle Weight, including goods vehicles, motor caravans, motorised horseboxes and other specialist vehicles.</p>

<p><strong>Buses, coaches and lighter lorries</strong></p>

<p>From 7 July 2008 the Euro III for particulate matter emissions standards will be extended to all diesel-engined vehicles between 3.5 and 12 tonnes Gross Vehicle Weight, including goods vehicles, motor caravans, motorised horseboxes and other specialist vehicles.</p>
<p>The emissions standard will also apply to buses and coaches, defined as: diesel-engined passenger vehicles with nine or more seats, exceeding 5 tonnes Gross Vehicle Weight.</p>

<p><strong>Larger vans and minibuses</strong></p>

<p>From October 2010 the Euro III for particulate matter standard will be extended to diesel-engined vehicles between 1.205 tonnes unladen and 3.5 tonnes Gross Vehicle Weight and motor caravans between 2.5 tonnes and 3.5 tonnes Gross Vehicle Weight.</p>
<p>In addition, minibuses, defined as: diesel-engined passenger vehicles with more than eight seats, plus the driver's seat, below 5 tonnes Gross Vehicle Weight, will be affected.</p>

<p><strong>Euro IV</strong></p>

<p>From January 2012 all diesel-engined lorries, buses and coaches will be required to meet an emissions standard of Euro IV for particulate matter in order to drive within the Low Emission Zone at no charge.<br></p>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "With two months to go until the introduction of the second phase of the Low Emission Zone, Transport for London (TfL) is urging lorry, bus and coach operators who drive within London to take action now to ensure they are ready.From 7 July 2008 lorries";}
        
        


 