


@{ViewBag.Title = "Spring into summer next weekend (31 May - 1 June)";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>Spring into summer next weekend (31 May - 1 June)</h1>
        <div class="content-page-press-release">
        21 May 2008
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        On 31 May - 1 June, Walk London will be holding the third set of walks in a series of walking weekends that encourage people to get out and explore sections of the Capital's Strategic Walking Network.
        
    </div>



 <div class="on-this-page">
<p>
<p>The weekend, which is funded by Transport for London (TfL), will give locals the opportunity to discover a&nbsp;different side to their boroughs&nbsp;by unveiling some of&nbsp;their&nbsp;areas'&nbsp;hidden depths. </p>
<p>'Spring into summer' is a weekend of 39 free guided walks that take in London's famous - and not so famous - sites along the way.<br>&nbsp;<br>Many of the walks have been made shorter and story walks have been introduced in some areas of the walking network with walk leaders revealing the stories behind their walking routes,&nbsp;making this a fun activity for everyone to participate in. </p>
<h2>Open spaces</h2>
<p>The walks will all start and finish at Tube stations, bus stops or railway stations. </p>
<p>They follow mainly traffic-free routes and connect some of London's best attractions, parks and open spaces, as well as a number of rivers. </p>
<p>So why not 'Spring into summer' and join your local walking weekend?<br>&nbsp;<br>Peter McBride, Head of Cycling Walking and Accessibility&nbsp;at Transport for London (TfL), said:&nbsp;'Walking is a great way to get around and the Walking Weekend celebrates the fact that it will be National Walking Day on Friday 30 May. </p>
<h2>Stepping out</h2>
<p>'Over the weekend people will be invited to use the Strategic Walks Network to see London in all its glory; from riverside paths to city centre boulevards, to green and open spaces. TfL funds&nbsp;the network,&nbsp;making&nbsp;sure that it's well signposted and easy to use and follow. </p>
<p>'Try it and you might decide that there are lots of other places where walking is a quicker, healthier and more enjoyable option.'<br>&nbsp;<br>Here are TfL's top five fantastic feature walks to try out on 31 May - 1 June:&nbsp;</p>
<h2>Oxleas Wood Circular Walk</h2>
<p>Meeting&nbsp;at&nbsp;the signpost by the gate to Oxleas Cafe at 2pm on 31 May.<br>&nbsp;<br>This walk is suitable for adults and children over 10years plus. Led by story teller Rich Sylvester this walk will take you on a fantastical journey revealing tales of pirates and highwaymen that once lived and worked in the London borough of Greenwich as you walk through the magical places of Oxleas Woods.</p>
<h2>Abbey Wood to Thamesmead and Woolwich Arsenal</h2>
<p>Meeting at Abbey Wood station at 11am on 31 May.<br>&nbsp;<br>Walking from Abbey Wood, via Lesnes Abbey, Thamesmead, Thames Path and ending at Woolwich Arsenal for afternoon tea.&nbsp;</p>
<p>Highly historical in its nature, this walk will offer a wide variety of interest including cutting edge award-winning architecture of the 1960s, film sets (such as Clockwork Orange), huge water spaces, leafy garden suburbs and disused and converted industrial complexes.&nbsp;</p>
<h2>Lower Lea Valley</h2>
<p>Meeting at Tottenham Hale station at 11am on 31 May.<br>&nbsp;<br>This walk will follow the River Lee towpath below Spring Hill, along Walthamstow and Hackney Marshes and across the Olympic Park to Britain's largest tidal mill! </p>
<p>Full of magnificent views this certainly isn't one to be missed.</p>
<h2>Upper Lea Valley</h2>
<p>Meeting outside Waltham Cross Railway station at 11.15am on 1 June.<br>&nbsp;<br>Waterside walking along the Lee Navigation, our group will be joined by expert birders who will point out the amazing wildlife to be found in the area.</p>
<p>Walking from historic Waltham Abbey,&nbsp;where Harold the last Saxon king is buried, past&nbsp;important Ponders End, where plastics and the light bulb were invented.&nbsp;The walk finishes at Tottenham Hale.&nbsp;</p>
<h2>City Walk</h2>
<p>Meeting outside the EAT caf&eacute; next to the Tower of London ticket office at 11am on 31 May.<br>&nbsp;<br>See London in a way that you've never seen before, and enjoy a guided tour round the heart of the City of London. </p>
<p>From Tower Hill to Ludgate Hill, you'll walk&nbsp;past many distinctive buildings that demonstrate the City's ability to constantly renew both itself and its institutions. </p>
<p>A walk that takes in the Gherkin, the Monument, the Bank of England, Mansion House, and St. Paul's Cathedral and the Central Criminal Court. </p>
<p>....................................................................................<br>&nbsp;<br>Currently half of all trips made in suburban London are less than two kilometres and carried out by a means of transport other than walking&nbsp;despite the fact that this is a distance that can easily be walked by most people in around 20 minutes. </p>
<p>London Walking Weekend aims to get Londoners to take a fresh look at their travel habits and discover the many easy and attractive walking routes around the Capital. <br>&nbsp;<br>James Bidwell, Chief Executive of Visit London, said: 'London is the number one city destination in the world. </p>
<p>'One third of the&nbsp;Capital is green space and from iconic attractions to hidden gems, the best way to discover London is on foot. </p>
<p>'Spring into summer Walking Weekend is a fantastic initiative and I would urge Londoners and visitors alike to take part in this great experience.'<br>&nbsp;<br>For more information is available at online at <a href="http://www.walklondon.org.uk/">Walk London. </a><br></p>
<p>
<hr>

<p>
<p><strong>Notes to editors:</strong></p>
<ul>
<li>London has six strategic walking routes, which are supported by TfL: Capital Ring, Jubilee Walkway, Lee Valley Walk, London Outer Orbital Path, Southeast Green Chain and Thames Path </li>
<li>TfL's <a href="http://www.legiblelondon.info/">Legible London</a> project aims to create a simple, reliable and consistent wayfinding system to encourage more people to walk for short journeys or as part of longer trips. For more details on the project </li>
<li>TfL is in the middle of a three-year &pound;126m investment programme to <a href="http://www.tfl.gov.uk/tfl/corporate/projectsandschemes/roadsandpublicspaces/walkImprovements/default.asp">improve conditions </a>for pedestrians in London. TfL is investing this money in both local borough schemes and on London's major roads, for infrastructure improvements such as new pedestrian crossings, lowered kerbs and improved signage, and on local walking maps, promotion and education </li>
<li>Case study - Walking Guides</li></ul>
<blockquote>South London born Jill Green and Stanley Silburn from East Ham will be two of the walking guides to lead the 'Spring into summer' walks (31 May - 1 June).&nbsp; Eighty-five-year-old Stanley clocks up an average of twenty miles a week and believes walking is the key to both his good health and youthful persona.&nbsp;He first began walking in his early childhood when he would go with his father (then a newsagent) selling newspapers door-to-door. Since 2000, Stanley has been going on local walks with the Newham Striders, later successfully taking a walk leader course and is very much looking forward to the walking weekend.<br>&nbsp;<br>Jill, on the other hand, is 66 and led her first walk in 1953 aged just 11 for the Croydon Christian Holiday Association (CHA) and joined a number of walking clubs in her teenage years. It was not until 1985, once Jill had raised her family, that she found the time to begin walking again.&nbsp;Since then she has more than made up for her absence and last year became the first lady in history aged over 65 to complete a centurion walk (100-mile walk) in less than 24 hours.&nbsp;She also completed the 210 miles of the Paris to Colmar walk non-stop in 1993, and between 1992-2003 became one of only two people in the world to have completed centurion walks in all six places across the world that hold them: the United Kingdom, the Continent, America, Australia, New Zealand and Malaysia.&nbsp; <br>&nbsp;<br>Interviews are available upon request with Stanley Silburn and Jill Green.&nbsp;Contact TfL on 020 7126 1466.</blockquote>
<p>&nbsp;</p>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "The weekend, which is funded by Transport for London (TfL), will give locals the opportunity to discover a&nbsp;different side to their boroughs&nbsp;by unveiling some of&nbsp;their&nbsp;areas'&nbsp;hidden depths. 'Spring into summer' is a weekend of 39";}
        
        


 