


@{ViewBag.Title = "Touch in with Oyster or lose out";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>Touch in with Oyster or lose out</h1>
        <div class="content-page-press-release">
        06 May 2008
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        From 1 June, touching in with an Oyster photocard is compulsory for all young people to continue receiving free travel on buses and trams in London.
        
    </div>



<div class="pull-quote">
        <div class="quote-body">"It is very important for young people to realise they cannot use the bus without touching in first"</div>
        <div class="quote-footer">
            <div class="quotee-name">Boris Johnson</div>
            <div class="quotee-job-title">Mayor of London</div>
        </div>
</div>

 <div class="on-this-page">
<div class="pullquote right">
                        <p>
                            It is very important for young people to realise they cannot use the bus without touching in first
                            
                        </p>
                    </div>
                
            
            
            <p>
<p>Transport for London today reminded parents and school children that the new rules for young people aged 11-15 who qualify for free bus and tram fares in the Capital come into force in under one month.&nbsp; </p>
<p>From 1 June, everyone aged 11 and over must touch in with a valid Oyster photocard when boarding a bus or at a tram stop to continue travelling for free.</p>
<p>Currently only those aged 14 and over need to do so. </p>
<p>All young people aged 11 and over must continue to touch in and out with their Oyster photocard on the Tube, Docklands Light Railway and London Overground to travel at child-rate.&nbsp;&nbsp;</p>
<h2>Apply now</h2>
<p>A new name, Zip, has been given to all concessionary travel schemes for young people. </p>
<p>If you already have an Oyster concessionary photocard you do not need to apply for a Zip Oyster photocard.&nbsp;&nbsp; </p>
<p>The new scheme means that young people aged 11 upwards will need to use an Oyster photocard or Zip Oyster photocard. </p>
<p>Anyone without one will be unable to travel free on buses and trams and will have to pay the adult fare. </p>
<h2>Touch in</h2>
<p>Your first Zip Oyster photocard is free and can be applied at Post Offices. More information is available at <a href="http://www.tfl.gov.uk/zip">www.tfl.gov.uk/zip</a>. </p>
<p>Applications to meet the 1 June rule change must be received by 10 May. </p>
<p>Young people who do not apply by this date must pay the full adult fare until they get one. </p>
<p>A 'Countdown to June 1' campaign is also running on the internet reminding everyone to 'touch in or lose out'. </p>
<h2>Changes</h2>
<p>Nick Owen, Head of Bus Enforcement, said: 'Young people who want to benefit from free travel on buses and trams must make sure they have an Oyster photocard card and must touch in on every journey.</p>
<p>'It is important that parents, carers and young people are aware of these changes. </p>
<p>'While we are working closely with schools to ensure all young people are prepared for 1 June, everyone must take individual responsibility to manage the changes.'</p>
<p>Commenting on this development, the new Mayor of London, Boris Johnson, said: 'It is very important for young people to realise they cannot use the bus without touching in first. </p>
<h2>Privilege</h2>
<p>'Photocards for all young people over the age of 11 will be the first step in restoring civility on our buses. </p>
<p>'I am encouraged that plans are already being worked on for the introduction of Payback London and I hope to be able to announce shortly the roll-out of the scheme.</p>
<p>'For those 11 and over who are just getting their cards - my message to them is to treat it like the privilege it is and enjoy travelling around London for free.'</p>
<p><br>&nbsp;</p>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "Transport for London today reminded parents and school children that the new rules for young people aged 11-15 who qualify for free bus and tram fares in the Capital come into force in under one month.&nbsp; From 1 June, everyone aged 11 and over must";}
        
        


 