


@{ViewBag.Title = "Transport for London begins online sponsorship trial";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>Transport for London begins online sponsorship trial</h1>
        <div class="content-page-press-release">
        12 May 2008
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        TfL today begins a three-month trial that will see limited sponsorship on its website, tfl.gov.uk, for the first time.
        
    </div>



<div class="pull-quote">
        <div class="quote-body">"This trial will help us appraise the potential revenue generation opportunities for TfL"</div>
        <div class="quote-footer">
            <div class="quotee-name">Giles Bailey</div>
            <div class="quotee-job-title">TfL's Head of Group Marketing Strategy and Integration</div>
        </div>
</div>

 <div class="on-this-page">
<div class="pullquote right">
                        <p>
                            This trial will help us appraise the potential revenue generation opportunities for TfL 
                            
                        </p>
                    </div>
                
            
            
            <p>
<p>The trial is believed to be a first on a public sector organisation's website and will see Yell.com content placed on high-traffic, relevant pages of the TfL website through Yell.com netReach, Yell's new ad syndication product.&nbsp;</p>
<p>Yell.com netReach will deliver geographically relevant Yell.com content onto TfL's website. </p>
<p>A second phase of the online sponsorship deal will see an interactive Yell.com banner, with in-built search functionality, introduced onto TfL's homepage.</p>
<p>The decision to deliver content from Yell is part of a wider partnership with the international directories publisher, which started with the inclusion of TfL content within Yellow Pages directories in 2005. </p>
<p>Giles Bailey, TfL's Head of Group Marketing Strategy and Integration, said: 'The trial sponsorship partnership between Transport for London and Yell.com is a good fit for both parties and will add useful functionality for our passengers.&nbsp; </p>
<p>'There are over&nbsp;seven million visits to <a href="http://www.tfl.gov.uk/">tfl.gov.uk</a> every month, and this trial will help us appraise the potential revenue generation opportunities for TfL as we consider online sponsorship offerings.</p>
<p>'This is revenue that will be ploughed back into improvements to the Capital's transport system.'</p>
<p>Ian Bowen-Morris, Head of Advertising Syndication at Yell.com, said: 'We are delighted to deepen our partnership with Transport for London, and are confident that Yell.com netReach will provide TfL's website visitors with relevant, trusted content which will be extremely useful to them. </p>
<p>'As well as the forthcoming interactive banners, we have also added links to TfL's Journey Planner on Yell.com's London location pages.</p>
<p>'In the future we hope to collaborate more closely to integrate functionality between the sites, adding value to both sets of website visitors.'</p>
<p>Transport for London will analyse the commercial viability of continuing to allow online sponsorship, as well as customer reaction, before taking the option further.</p>
<p>&nbsp;</p>
            <p>
<p><strong>Notes to editor's:</strong></p>
<ul>
<li>TfL is one of the world's largest transport authorities, providing transport and services for more than 10 million people across the Capital every day </li>
<li>Among the areas managed by TfL are London Underground, which carried a record 1.1 billion journeys last year, and the London bus network which carried 1.9 billion passengers last year, up 45 per cent&nbsp;since 2000 </li>
<li>The TfL website allows Londoners to get up-to-the minute specifically tailored journey information simply and swiftly, as well as top up their Oyster card or pay the London Congestion Charge </li>
<li>TfL has received a prestigious Webby People's Voice Award&nbsp;for the best Government website on 6 May, after people around the world voted for their favourite websites</li></ul>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "The trial is believed to be a first on a public sector organisation's website and will see Yell.com content placed on high-traffic, relevant pages of the TfL website through Yell.com netReach, Yell's new ad syndication product.&nbsp;Yell.com netReach will";}
        
        


 