


@{ViewBag.Title = "Visitors to London to receive better access to Oyster cards";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>Visitors to London to receive better access to Oyster cards</h1>
        <div class="content-page-press-release">
        29 May 2008
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        Oyster cards are to be available to visitors before they arrive in London, with Oyster cards sold through the Oxford Tube Coach Service.
        
    </div>



<div class="pull-quote">
        <div class="quote-body">"This arrangement with Oxford Tube is a great development"</div>
        <div class="quote-footer">
            <div class="quotee-name">Boris Johnson</div>
            <div class="quotee-job-title">Mayor of London</div>
        </div>
</div>

 <div class="on-this-page">
<div class="pullquote right">
                        <p>
                            This arrangement with Oxford Tube is a great development
                            
                        </p>
                    </div>
                
            
            
            <p>
<p>Transport for London (TfL) and Oxford Tube have joined forces so that passengers on the dedicated London to Oxford coach service can buy Oyster cards before they even reach the Capital, and be ready to travel on the Tube and buses as soon as they arrive.</p>
<p>Thanks to this new partnership, from June Visitor Oyster cards will be available for passengers to buy in Oxford from ticket offices at Gloucester Green Coach Station and Thornhill Park and Ride.</p>
<p>Boris Johnson, Mayor of London, said: 'This arrangement with Oxford Tube is a great development for visitors to London who need to get around the city.</p>
<p>'More people can now arrive ready to travel, and use Oyster as the quickest, cheapest and easiest way of getting around London.'</p>
<h2>Ready to travel</h2>
<p>The premier express coach service has been operating for 21 years and currently carries over two million passengers per year into the Capital, with 75 services between Oxford and London every day.</p>
<p>The Oxford Tube is a popular choice with visitors, commuters and students.</p>
<p>The Visitor Oyster card is pre-loaded with pay as you go and is ready to use on the system for passengers as soon as they arrive in central London.</p>
<p>Martin Sutton, Managing Director of&nbsp;Oxford Tube, said: 'Oxford Tube is Europe's most frequent express coach service and we are delighted to be able to offer this new option to the thousands of customers travelling to London with us every day.</p>
<p>'It will allow fast and easy onward travel in the Capital and make public transport even more accessible to passengers.'</p>
<h2>Enjoying the visit</h2>
<p>Visit London's Chief Executive, James Bidwell, says: 'London welcomes 10 million staying visitors and 150 million day trippers from other parts of the UK each year.</p>
<p>'Making the cards available to passengers before they even arrive in London will save time on queuing for tickets and leave them more relaxed, with more time to enjoy their visit.'</p>
<p>The announcement is part of TfL's strategy to ensure that visitors to London have access to the quicker and easier way of travelling in the Capital available with Oyster. </p>
<p>Instead of buying a paper ticket, visitors can work out how often they will use public transport in London and top-up their Oyster card for visitors accordingly.</p>
<p>The pay as you go money on the card is timeless so people can use any money left over for future visits to London or give it to someone else who is visiting London.</p>
<p>
<hr>

<p>
<p><strong>Note to editors:</strong></p>
<ul>
<li>More than 17 million Oyster cards have now been issued and 38 million journeys a week are made each week using Oyster </li>
<li>Around 78 per cent&nbsp;of all Tube and bus payments in London are now by Oyster card </li>
<li>As an example, with Oyster pay as you go you can load &pound;10 onto your Oyster card and when you touch in and out at the yellow card readers on the Tube, Docklands Light Railway and London Overground or touch in on the bus or tram, the reader automatically deducts the correct fare </li>
<li>When passengers use the Oyster card to touch in and out on the yellow card readers on the Tube, Docklands Light Railway, London Overground and touch in on buses and trams, the system automatically works out the right fare for the journey within in a fifth of a second from up to 1.83 million permutations </li>
<li>Almost three times as many passengers can pass through a Tube station entrance/exit gate using an Oyster card as can using printed tickets - 40 a minute compared to 15 a minute </li>
<li>More information on Oyster is available at <a href="http://www.tfl.gov.uk/oyster">tfl.gov.uk/oyster</a></li></ul>
<p><strong>About Oxford Tube<p>
<ul>
<li></li></ul></strong>Oxford Tube is a luxury coach service running from Oxford to London, which allows passengers to relax in comfort with onboard Wi-Fi, power points, washrooms and air conditioning 
<li>Oxford Tube was launched in 1987 with a 30-minute frequency and since 1993 has run 24 hours-a-day. It runs every day of the year, including Christmas Day </li>
<li>Annual passenger volumes have grown from 230,000 in 1987 to nearly 2 million today </li>
<li>On average a passenger boards the Oxford Tube every 20 seconds </li>
<li>The Oxford Tube fleet of coaches travels the equivalent of nearly three times around the globe every week<br></li>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "Transport for London (TfL) and Oxford Tube have joined forces so that passengers on the dedicated London to Oxford coach service can buy Oyster cards before they even reach the Capital, and be ready to travel on the Tube and buses as soon as they";}
        
        


 