


@{ViewBag.Title = "Drivers, how safe is the child behind you?";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>Drivers, how safe is the child behind you?</h1>
        <div class="content-page-press-release">
        21 June 2004
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        Probably not as safe as you think. Shockingly almost 80% of child car seats in London are not installed correctly, leaving the children in them vulnerable in an accident, Transport for London (TfL) revealed today.
        
    </div>



 <div class="on-this-page">
<p>To combat this problem TfL is supporting demonstrations around London to show parents how to check their car seats are correctly installed as part of Child Accident Prevention Week.</p>
<p>Managing Director for Surface Transport at TfL, Peter Hendy, said:</p>
<blockquote>
<p>&quot;This is a horrific statistic and so easily preventable. With a bit of knowledge parents can keep their children safer in the family car. TfL is working with the borough Road Safety Officers to show parents the safest way to buckle in their children.&quot; </p></blockquote>
<p>Every parent should follow these tips for installing a car seat safely:</p>
<ul>
<li>Take time to get your child comfortably strapped in 
</li><li>Never modify the seat or adult seatbelt to make it fit 
</li><li>The adult buckle should not be bent over, or rest on, the child seat frame 
</li><li>Never fit a rear-facing seat with an active airbag in front of it 
</li><li>Never tuck the seatbelt under the child's arm or behind their back 
</li><li>Beware of second hand seats. They could have been damaged and may not meet modern standards. The fitting instructions may also be missing </li></ul>
<p>Kevin Clinton, Head of Road Safety at RoSPA said:</p>
<blockquote>
<p>"A badly fitted child seat may fail to protect a child in a crash. We know that many parents find it difficult to fit child seats properly and are often uncertain if they have done it right. Go along to one of TfL's car seat demonstrations to find out how to be sure you are giving your child the best protection by fitting their child seat correctly"</p></blockquote>
            Almost 80% of child car seats are incorrectly fitted, figures by RoSPA<br>Contact your town hall for the local Road Safety Officer in your area
<blockquote>
<p><strong>Car seat demonstrations:</strong><br>Monday 21 June at Asda in Beckton from 10am until 4pm<br>Tuesday 22 June at Safeways in Stratford from 10am until 4pm<br>Friday 25 June at Mothercare World in Romford from 10am until 1pm, and 2pm - 4pm<br>Saturday 26 June at Asda in Leyton from 10am - 4pm</p>
<p><strong>Choosing Child Seats</strong><br>The most important thing is to make sure that the seat you choose is suitable for your child and for your car. If you use the child seat in more than one car, follow the advice below for each car.</p>
<p><strong>Before You Buy</strong><br>Don't rush the decision. Look through the manufacturer's catalogues, or on their websites or in shops that sell child seats to assess a range of seats. <br>Think about how you will use the seat. For example, if you will be constantly taking it in and out of the car, a lighter weight seat might be preferable. Or, if you do a lot of long journeys, a seat that reclines may be more comfortable for your child and help him or her sleep.<br>Choose a seat that is suitable for your child's weight and height. <br>Babies should be in rearward-facing baby seats. Do not move your child to a forward-facing seat until they weigh at least 9 kgs and can sit up unaided, but keep them in a rearward-facing seat for as long as possible. Once your child is above the maximum weight for a rearward-facing seat or the top of their head is above the top of the seat , they should be moved into a forward-facing seat. It is not important if their knees are bent in the seat, provided they are still within the seat's weight range.<br>Contact the child seat manufacturer to check if the seat will fit your car. If you are considering a Britax seat, you can enter the details of the seat and your car on their 'fit finder' website to check it fits your car and the best position.</p>
<p><strong>When Buying</strong><br>Ask the retailer if the child seat is suitable for your child and car. Try to find a retailer who will let you (or even better, help you) try the seat in your car before you buy it. <br>If this is not possible, make sure that you can return the seat if it is not suitable, and replace it or get a refund. <br>Avoid buying a child seat by mail order, unless you are sure that it will fit your car.<br>Check that the seat meets the United Nations standard Regulation 44.03 - look for the 'E' mark.<br>Do not buy a second hand seat, you cannot be certain of its history (it may have been involved in an accident and been seriously weakened - the damage may not be visible) and often the instructions are missing. Second-hand seats are likely to be older and not designed to current standards.<br>Only accept a child seat from a family member or friend, if you are absolutely certain that you know its history, it comes with the original instructions and it is not too old.</p></blockquote>
<p>As London's population continues to grow there will be increasing demands placed on our public transport system and TfL aims to deliver the improvements that will match London's future needs. This can only be achieved with continued support from Government. TfL will balance its budget whatever happens but without additional funding essential sustained improvement to the road network will not take place.</p>
<p>Press Office - Telephone: 020 7941 4141 <br></p>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "To combat this problem TfL is supporting demonstrations around London to show parents how to check their car seats are correctly installed as part of Child Accident Prevention Week.Managing Director for Surface Transport at TfL, Peter Hendy,";}
        
        


 