


@{ViewBag.Title = "On your bikes, get set, go!";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>On your bikes, get set, go!</h1>
        <div class="content-page-press-release">
        08 June 2004
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        To kick start celebrations for Bike Week 2004 Transport for London (TfL) is hosting a fun-filled cycling festival in Trafalgar Square on Sunday 13 June.
        
    </div>



 <div class="on-this-page">
<p>BikeFest in the Square will demonstrate to everyone, young and old, those who've never cycled, those who haven't cycled since moving to London and those already converted to the benefits of two wheels that cycling is great fun, and a great way to get around London.</p>
<p>The event will include a wide range of bike-themed entertainment and activities including:</p>
<ul>
<li>The Half Pipe Show - a spectacular BMX stunt bike show 
</li><li>Street theatre performances 
</li><li>Bollywood on Bikes - a choreographed dance piece with all the glamour and allure of Bollywood 
</li><li>The chance for the public to learn to ride a bike, a tandem or try your hand at a recumbent bike 
</li><li>Junk funk band Weapons of Sound - with music made by instruments created from bicycle parts 
</li><li>The LifeCycle marquee - find out all you need to know to get started with cycling in London. </li></ul>
<p>TfL's Managing Director of Surface Transport, Peter Hendy, says;</p>
<p>"Cycling makes sense as part of city-life. The average four-mile journey in Central London takes just 22 minutes by bicycle and cyclists can park for free and don't have to pay the congestion charge. BikeFest in the Square will show people that cycling in London is fun, enjoyable and open to everyone.&quot;</p>
<p>National Bike Week co-ordinator, Nick Harvey, says:</p>
<p>&quot;Cycling enables people to have fun, get fit and feel free, especially in the capital where the number of people riding bikes is rising faster than anywhere else in the UK. BikeFest in the Square is a great new flagship event for Bike Week and Londoners can look forward to more than 100 other events and organised rides during the week.&quot;</p>
            <ul>
<li>BikeFest in the Square takes place from 1pm to 5pm. 
</li><li>Bike Week is the UK's annual 'celebration of cycling'. It runs from 12 to 20 June with over 1,500 local events nationwide. See www.bikeweek.org.uk for more information on events and activities happening around London. 
</li><li>The London Cycling Action Plan aims to achieve an 80% increase in cycling levels by 2010 and a 200% increase by 2020 compared to cycling levels in 2000. BikeFest in the Square is London's first flagship promotional event. Marketing and promotion are central elements of TfL's commitment to optimise investment in cycling and secure lasting improvements in the level of cycling. </li></ul>
<p>Some cycling facts:</p>
<ul>
<li>Regular cycling improves strength, stamina and posture 
</li><li>On an average journey of four miles in Central London, cycling is the fastest mode of transport 
</li><li>You can park your bike almost anywhere 
</li><li>It takes eight bicycles to occupy the space taken by just one car 
</li><li>People in cars are exposed to four times more air pollution than pedestrians or cyclists 
</li><li>The more people cycle, the more aware drivers become and the safer the roads are for cyclists 
</li><li>And more people cycling means fewer cars on the road, making it safer for cyclists 
</li><li>In London, on average, it rains only 12 times a year during commuting hours 
</li><li>Six out of ten men and seven out of ten women are not physically active enough to benefit their health 
</li><li>Regular cycling improves strength, stamina and posture Cycling increases calorie consumption and raises the metabolic rate, which can help to lose weight </li></ul>
<p><strong>For media enquiries contact the TfL press office on 020 7941 4141/4881.</strong></p>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "BikeFest in the Square will demonstrate to everyone, young and old, those who've never cycled, those who haven't cycled since moving to London and those already converted to the benefits of two wheels that cycling is great fun, and a great way to get";}
        
        


 