


@{ViewBag.Title = "TfL and London boroughs take on new powers to keep London's traffic moving";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>TfL and London boroughs take on new powers to keep London's traffic moving</h1>
        <div class="content-page-press-release">
        17 June 2004
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        From June 21st TfL and six London boroughs will be piloting new powers in order to prevent drivers blocking London's roads and help keep London's traffic moving.
        
    </div>



 <div class="on-this-page">
<p>The London Local Authorities and Transport for London Act 2003 enables TfL and London boroughs to enforce regulations such as the blocking of yellow box junctions, ignoring no left or right turn signs, and driving the wrong way down one way streets. </p>
<p>A nine month pilot of these new powers will begin on June 21st, with TfL working in conjunction with the Association of London Government (ALG) and six London Boroughs. Drivers who break these laws will receive a penalty charge of &pound;100, reduced to &pound;50 if paid within 14 days.</p>
<p>Jeroen Weimar, TfL's Director of Transport Policing and Enforcement said:</p>
<p>&quot;TfL welcomes the introduction of these new powers. They will enable us to work with the Boroughs and the police to keep London's traffic moving. We will initially undertake a nine month pilot to develop these measures and ensure they work effectively to tackle dangerous and illegal driving at key locations.</p>
<p>&quot;TfL's aim is to ease congestion and further improve road safety for all users. Robust enforcement is aimed at those few selfish drivers who break the law and drive dangerously on our roads. Those who drive in accordance with the Highway Code should benefit from safer and more reliable journeys.'</p>
<p>Cllr Phillip Portwood, Chair of the ALG's Transport and Environment Committee, said:<br>&quot;With hundreds of people being killed on London's roads each year and thousands more being injured it is important that we make our roads as safe as possible for everyone.<br>&quot;These new powers will help us to ensure we are able to do this and will also help make roads less congested.<br>&quot;No-one should believe they have the right to break the law, which is there to protect people. A simple way of not getting a fine is not to break the law in the first place.&quot;</p>
            <ol>
<li>The six boroughs taking part in the pilots are Camden, Ealing, Newham Croydon, Hammersmith and Fulham, Wandsworth. The boroughs will be starting their trials now and over the next few months. 
</li><li>Any motorist receiving a fine they feel is unjust can appeal against it in the same way as they would a parking ticket. 
</li><li>The pilot of the scheme is designed to help iron out any issues that need to be addressed before it is introduced across the capital. 
</li><li>TfL's Transport Policing and Enforcement Directorate (TPED) aims to deliver world class transport policing and enforcement services to support a safe, reliable and socially inclusive transport system for London. </li></ol>
<p>The Directorate's objectives include:</p>
<ul>
<li>improved personal security on and around the public transport network 
</li><li>improved bus journey times and decreased network congestion 
</li><li>increased compliance with fare regulations on buses 
</li><li>increased patronage of equalities target groups on the public transport network </li></ul>
<ol>
<li>TfL reports to the Mayor, Ken Livingstone and is responsible for maintaining and managing the 580km Transport for London Road Network (TLRN), which, although comprising only 5 per cent of the Capital's roads, carries approximately 33 per cent of its traffic. 
</li><li>The Association of London Government is committed to fighting for more resources for London and getting the best possible deal for London's 33 councils. Part think-tank, part lobbying organisation and part service provider, the ALG formulates policies, organises campaigns and runs a range of services all designed to make life better for Londoners. </li></ol>
<p><strong>For more information:<br>TfL enquires - please telephone 020 7941 4141. For ALG enquiries - please telephone 020 7934 9620.</strong><br></p>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "The London Local Authorities and Transport for London Act 2003 enables TfL and London boroughs to enforce regulations such as the blocking of yellow box junctions, ignoring no left or right turn signs, and driving the wrong way down one way streets. A";}
        
        


 