


@{ViewBag.Title = "TfL Travel Information re Tube strike - No 5";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>TfL Travel Information re Tube strike - No 5</h1>
        <div class="content-page-press-release">
        30 June 2004
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        Transport for London (TfL) is providing a series of media travel information bulletins throughout the period of the RMT Tube strike. The RMT strike began at 1830hrs on Tuesday, June 29 and is due to last 24hrs, but Tube services will be severely disrupted throughout the whole of today (Wednesday, June 30).
        
    </div>



 <div class="on-this-page">
<p>TfL Travel Info media bulletins are due to be issued as information becomes available and at the following times:<br>1130hrs, June 30;<br>1500hrs, June 30;<br>1730hrs, June 30;<br>2100hrs, June 30.</p>
<p>Our advice to those wishing to travel in London today, June 30 is as follows:<br>Allow extra time for your journey and, if possible, travel outside rush hours;<br>Please consider walking as an alternative where possible, particularly short distances from national rail stations;<br>There will be no additional parking in London and the &pound;5 daily Congestion Charge will still apply from 0700-1830hrs;<br>Check our website, travel information line or the media for the latest on how services are running before you travel.<br>London Underground:<br>Line Service<br>Bakerloo 8 minute service between Elephant &amp; Castle to Paddington calling Paddington, Oxford Circus, Charing Cross, Embankment and Elephant and Castle. (Lambeth North, Waterloo, Piccadilly Circus, Regent's Park, Baker Street, Marylebone, Edgware Road closed)<br>Central 10 minute service between Epping to Stratford. <br>30 minute service between West Ruislip and White City. <br>20 minute service between Leytonstone to Woodford via Newbury Park.<br>Circle No service.<br>District 20 min service between Richmond - Gunnersbury, <br>10 minute service between Upminster - Whitechapel (Bow Road closed)<br>East London 6 minute service (Wapping &amp; Shadwell closed)<br>Hammersmith &amp; City 15 minute service Baker Street - Whitechapel<br>Jubilee No Service<br>Metropolitan Service running between Amersham - Aldgate <br>20 minute service between Amersham - Harrow on the Hill. <br>10 minute service between Harrow on the Hill - Baker Street<br>10 minute service between Baker Street - Aldgate.<br>Northern 10 minute service between Morden - Stockwell (Collier's Wood and Clapham South stations closed) <br>15 minute service between Edgware - Moorgate and High Barnet - Moorgate.<br>13 minute service between Golders Green - Moorgate <br>Piccadilly 7 minute service between Arnos Grove - Cockfosters<br>Victoria 5 minute service between Seven Sisters - Brixton<br>Waterloo and City 10 minute service</p>
<p><strong>London Buses:</strong></p>
<p>Enhanced service levels with dozens of extra buses are operating on fourteen bus Routes - C1, 2, 10, 25, 38, 42, 52, 73, 94, 108, 133, 155, 205 and 257.</p>
<p>The bus network is busier than normal but services are coping well. Our entire bus fleet of almost 8000 buses are out this morning, with maintenance schedules having been changed to allow buses over and above our regular peak vehicle requirement to be available for service. </p>
<p><strong>National Rail:</strong></p>
<p>The strike by Network Rail staff has been called off, so national rail services are running as normal. TfL staff will be on hand at major rail stations and transport interchanges to provide advice to those travelling into central London by train.</p>
<p><strong>Docklands Light Railway:</strong></p>
<p>DLR services are running as normal, but again services are much busier than normal. Please be patient and allow more time for your journey.</p>
<p><strong>Streets and Congestion Charge:</strong></p>
<p>We are urging people not to drive into central London. There is no extra parking provision and the &pound;5 daily Congestion Charge still applies from 0700-1830hrs on Wednesday, June 30 in order to keep the streets moving and allow bus services to move as freely as possible.</p>
<p><strong>River Services:</strong></p>
<p>A free River service, paid for by London Underground, will run in the morning and evening rush hours on June 30 as follows:</p>
<p>Morning peak hour service:<br>Tower Pier - Blackfriars Pier - Embankment Pier - Westminster Pier - Waterloo Pier - Blackfriars Pier - Tower Pier;<br>Services will run from 0600hrs at Tower Pier and run around every 10-15 minutes. Last boat from Tower Pier departs at 1000hrs;</p>
<p>Evening peak hour service:<br>Tower Pier - Blackfriars Pier - Waterloo Pier - Westminster Pier - Embankment Pier - Blackfriars Pier - Tower Pier;<br>Services will run from 1620hrs at Tower Pier and run around every 10-15 minutes. Last boat from Tower Pier departs at 2000hrs.</p>
<p><strong>Croydon Tramlink:</strong></p>
<p>Is running as normal.</p>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "TfL Travel Info media bulletins are due to be issued as information becomes available and at the following times:1130hrs, June 30;1500hrs, June 30;1730hrs, June 30;2100hrs, June 30.Our advice to those wishing to travel in London today, June 30 is as";}
        
        


 