


@{ViewBag.Title = "Transport for London buoyant after pier wins awards";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>Transport for London buoyant after pier wins awards</h1>
        <div class="content-page-press-release">
        17 June 2004
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        Millbank Millennium Pier has won two prestigious awards for its design, Transport for London announced today.
        
    </div>



 <div class="on-this-page">
<p>The pier has received a Royal Institute of British Architects (RIBA) Award for its high architectural standard, contribution to its local environment and design excellence. As a recipient of an RIBA Award this year the Pier becomes part of the longlist to be considered for the UK's top architecture award, The Stirling Prize, which is presented in October. </p>
<p>Millbank Pier has also won a 'Yellow Pencil award' from Design &amp; Art Direction (D&amp;AD) in the Environmental Design &amp; Architecture - Design for Industry, Transport and the workplace category. </p>
<p>Transport for London's Surface Transport Head of Operations Mike Weston said: </p>
<blockquote>
<p>&quot;It is great news that the river can benefit from innovative design and go on to win two prestigious awards for it. I hope this success will inspire more people to take a trip to the Tate galleries by river when visiting central London.&quot; </p></blockquote>
            <p>1. Millbank pier is served by Thames Clippers who also call at Bankside pier, thus creating a 'Tate to Tate' link. This is the first direct link between the two galleries.</p>
<p>2. London River Services' (LRS') new Millbank Pier, located near to Tate Britain, was opened on 22 May 2003 by Mayor Ken Livingstone. The pier has been praised by the Institution of Civil Engineers for showing a 'fusion of imagination and functionality of design'.</p>
<p>3. Beckett Rankine Partnership, the Engineering Consultants, working with Marks Barfield Architects - designers of the London Eye - created a 'functional floating sculpture'. Enhancing the magnificent and unusual design at night is Angela Bulloch's 'Flash and Tidal' lighting scheme which has been incorporated into the pier and changes colour with the tide.</p>
<p>4. The pier itself was constructed at a total cost of &pound;1.8m with contributions made from Tishman Speyer, The Millennium Commission, City of Westminster, Cross River Partnership and Tate.</p>
<p>5. The completion of this pier marked the end of the Thames 2000 project which has also seen new piers built at Blackfriars and Waterloo (BA London Eye) and the replacement of Tower and Westminster piers, along with new riverboat services on the Thames.</p>
<p>6. For more information on the RIBA Awards and The Stirling Prize contact Melanie Mayfield in the RIBA Press Office on 020 7307 3662 or <a href="mailto:melanie.mayfield&#64;inst.riba.org" lid="melanie.mayfield&#64;inst.riba.org">melanie.mayfield&#64;inst.riba.org</a> or Marie Clements on 020 7307 3761 or <a href="mailto:marie.clements&#64;inst.riba.org" lid="marie.clements&#64;inst.riba.org">marie.clements&#64;inst.riba.org</a>.</p>
<p>7. Images of Millbank Pier are available <a href="http://www.dandad.org/awards" target="_new" lid="here" el="http://www.dandad.org/awards">here</a>.</p>
<p><br>Lisa Rooney<br>Press Officer<br>Direct line: 020 7941 4141</p>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "The pier has received a Royal Institute of British Architects (RIBA) Award for its high architectural standard, contribution to its local environment and design excellence. As a recipient of an RIBA Award this year the Pier becomes part of the longlist to";}
        
        


 