


@{ViewBag.Title = "Travel advice during RMT Tube strike";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>Travel advice during RMT Tube strike</h1>
        <div class="content-page-press-release">
        28 June 2004
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        The RMT union is taking strike action on London Underground from 1830hrs on Tuesday, June 29 for 24hrs.
        
    </div>



 <div class="on-this-page">
<p>Tube services will be severely disrupted as a result, from 1830hrs on June 29 and throughout the whole of Wednesday, June 30.</p>
<p>Transport for London (TfL) will be doing all it can to keep London moving throughout the strike (see information on services below). However, our advice to passengers is:</p>
<ul>
    <li>If you are travelling, allow extra time for your journey and if possible, try and travel outside the rush hours;
    </li>
    <li>Please consider walking as an alternative where possible, particularly short distances from national rail stations;
    </li>
    <li>There will be no additional parking in London and the &pound;5 daily Congestion Charge will still apply from 0700-1830hrs;
    </li>
    <li>Check our website, travel information line or the media for the latest on how services are running before you travel. </li>
</ul>
<p>On Tuesday, June 29, we strongly recommend that Tube passengers try to complete their journeys before strike action begins at 1830hrs.</p>
<p>Travel information bulletins will be issued to the media via email throughout the strike, at approximately the following times:</p>
<ul>
    <li>1500hrs, June 29;
    </li>
    <li>2100hrs, June 29;
    </li>
    <li>0600hrs, June 30;
    </li>
    <li>1130hrs, June 30;
    </li>
    <li>1500hrs, June 30;
    </li>
    <li>1730hrs, June 30;
    </li>
    <li>2100hrs, June 30. </li>
</ul>
<h2>TfL intends to provide the following services, listed by transport mode.</h2>
<h3>London Underground:</h3>
<p> (also see the<a href="http://www.tfl.gov.uk/tube" lid="London Underground website">London Underground website</a>)</p>
<p>Passengers should check on how services are running before commencing their journey. LU hopes to run some services, although they will be very limited and passengers should seek alternative transport if possible.</p>
<p>Information on how Tube services are running will be updated by TfL's media bulletins throughout the strike.</p>
<h3>National Rail:</h3>
<p>The strike by Network Rail staff has been called off, so national rail services should run as normal. TfL staff will be on hand at major rail termini and transport interchanges to provide advice to those travelling into central London by train.</p>
<h3>London Buses:</h3>
<p>Bus services will run as normal, with some service enhancements on key routes serving central London. Although due to the strike, services are likely to be much busier than normal and we would ask that passengers please be patient and allow more time for their journeys.</p>
<h3>Docklands Light Railway:</h3>
<p>DLR services will run as normal, but again services are likely to be much busier than normal. Please be patient and allow more time for your journey.</p>
<h3>Streets and Congestion Charge:</h3>
<p>We would urge people not to drive into central London. There will be no extra parking provision and the &pound;5 daily Congestion Charge will still apply from 0700-1830hrs on Wednesday, June 30 in order to keep the streets moving and allow bus services to move as freely as possible.</p>
<h3>River Services:</h3>
<p>A free River service, paid for by London Underground, will run in the morning and evening rush hours on <strong>Wednesday 30 June only</strong> as follows:</p>
<h4>Morning peak hour service:</h4>
<ul>
    <li>Tower Pier - Blackfriars Pier - Embankment Pier - Westminster Pier - Waterloo Pier - Blackfriars Pier - Tower Pier;
    </li>
    <li>Services will run from 0600hrs at Tower Pier and run around every 10-15 minutes. Last boat from Tower Pier departs at 1000hrs; </li>
</ul>
<h4>Evening peak hour service:</h4>
<ul>
    <li>Tower Pier - Blackfriars Pier - Waterloo Pier - Westminster Pier - Embankment Pier - Blackfriars Pier - Tower Pier;
    </li>
    <li>Services will run from 1620hrs at Tower Pier and run around every 10-15 minutes. Last boat from Tower Pier departs at 2000hrs. </li>
</ul>
<h3>Croydon Tramlink:</h3>
<p>Will run as normal.</p>
<h2>Passenger Information - Central London:</h2>
<p>TfL staff will be on hand at major rail termini and transport interchanges to provide travel advice to passengers. Two central London maps have been produced and will be available:</p>
<ul>
    <li>A central London walking map;
    </li>
    <li>A central London bus services map. </li>
</ul>
<h2>Passenger Information - Outer London:</h2>
<p>Local travel information maps, including bus services, have been prepared for every Zone 2-6 London Underground station and will be available at stations as leaflets.</p>
<p>For the latest travel information, visit our website <a href="http://www.tfl.gov.uk/" lid="http://www.tfl.gov.uk">www.tfl.gov.uk</a>, phone the Travel Information line on 020-7222 1234 or check media updates.</p>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "Tube services will be severely disrupted as a result, from 1830hrs on June 29 and throughout the whole of Wednesday, June 30.Transport for London (TfL) will be doing all it can to keep London moving throughout the strike (see information on services";}
        
        


 