


@{ViewBag.Title = "Tube map and Journey Planner go mobile";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>Tube map and Journey Planner go mobile</h1>
        <div class="content-page-press-release">
        15 June 2004
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        Orange mobile phone users will be able to download fully interactive Tube maps, request travel alerts, plan journeys and check for the latest travel news as Transport for London (TfL) travel information goes live on Orange serviced mobile phones.
        
    </div>



 <div class="on-this-page">
<p>Chris Townsend, Director of Group Marketing at TfL, said: "These new services make real time travel information even more accessible to Londoners while on the move. </p>
<p>"People can make better informed travel decisions, using personalised information services which let the traveler know about delays or incidents affecting their usual route to work or home."</p>
<p>To download a completely free, interactive Tube map, simply text 'Tubemap' to 60835.</p>
<p>A full colour, fully navigable Tube map will arrive straight to the user's mobile. </p>
<p>The map lets the user find a station and even offers a Tube Journey Planner, which tells you how to get from any Tube station to another.</p>
<p>To find out how a particular Tube line is running simply text 'Tube' followed by a space and then the name of the Tube line (eg 'Jubilee') and send to 60835. </p>
<p>Orange mobile phone users will also be able to request travel alerts, plan journeys and check for the latest travel news all on their mobile. </p>
<p>A host of other information is available (cost of these services depends on the tariff, set by the mobile operator), including information on the congestion charge, Oyster, and how to phone for a licensed mini cab. </p>
<p>TfL hopes to extend these services to all major mobile phone service providers by the end of 2004.</p>
            <ul>
<li>TfL and Orange signed a three-year, non exclusive agreement on 18 March 2004</li>
<li>The agreement reflects TfL's desire to work closely with the mobile industry, recognising the opportunity to deliver timely and accurate travel information to the traveller in London. </li></ul>
<p><strong></strong></p>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "Chris Townsend, Director of Group Marketing at TfL, said: 'These new services make real time travel information even more accessible to Londoners while on the move. 'People can make better informed travel decisions, using personalised information services";}
        
        


 