


@{ViewBag.Title = "Finding the next generation of engineers";}
        
        
<div class="r">
    <div class="breadcrumb-container" role="navigation">
        <span id="breadcrumb-label" class="visually-hidden">You are here:</span>
        <ol class="breadcrumbs clearfix" aria-labelledby="breadcrumb-label">
            <li class="home">
                <a href="/">
                    <span class="hide-text">Home</span>
                </a>
            </li>
            
                <li>
                    <a href="/info-for/media/index">Media</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases">Press releases</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases/2014">2014</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases/2014/june">June</a>
                </li>
                
                <li>
                    <span class="last-breadcrumb">Finding the next generation of engineers</span>
                </li>
            
 
            
 
            
 
            
 
            
 
        </ul>
    </div>
</div>
     
 
<div class="r">
    <div class="headline-container plain">
        <h1>Finding the next generation of engineers</h1>
        <div class="content-page-press-release">
        27 June 2014
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        Transport for London (TfL), London Transport Museum and Crossrail held a series of events this week to encourage more women to consider a future in engineering.
        
    </div>



<div class="pull-quote">
        <div class="quote-body">"As the upgrade and modernisation of our bustling transport network continues apace, London is on course to deliver Europe's most ambitious infrastructure project. This is a fantastic time to pursue a career in engineering and our economy owes a lot to the hugely important contribution of female engineers at TfL and Crossrail"</div>
        <div class="quote-footer">
            <div class="quotee-name">Boris Johnson</div>
            <div class="quotee-job-title">Mayor of London</div>
        </div>
</div>

 <div class="on-this-page">

        <p>Over 370 girls and 70 boys from schools around the capital attended, with the majority saying they inspired them to consider a future in engineering.</p>
        <p>Zarina Bell-Gam, a Year 8 pupil at Preston Manor School, in Brent said:</p>
        <p>'I think more girls should get involved in engineering. The job is more about using your mind than it is about using your physical strength. The event has changed my mind about engineering. I used to think it was a man's job, but there are so many different types of engineering and different roles, many are suitable for women.'</p>
        <p>This year also marks 100 years of women working in transport with the first women taking on roles in the First World War and being involved in building landmarks such as Waterloo Bridge, often dubbed the 'Ladies Bridge' which opened in December 1945.</p>
        <p>Every year, TfL and London Transport Museum hold 15 Inspire Engineering Days aimed at encouraging young people to consider careers in Engineering and Transport Planning. </p>
        <p>This year, to celebrate the inaugural National Women in Engineering Day (23 June 2014), a special Inspire Engineering Week was organised at the Museum's Acton Depot where more than 400 pupils from schools around the capital attended. </p>
        <p>The pupils took part in a series of activities, including hands-on engineering challenges. </p>
        <p>They also interviewed engineers from across TfL to find out more about their jobs and the projects they work on. </p>
        <p>The pupils were also joined by ten women engineers who work on projects including the Tube upgrade, Crossrail and TfL's road network.</p>
        <p>The Mayor of London, Boris Johnson, said: </p>
        <p>'As the upgrade and modernisation of our bustling transport network continues apace, London is on course to deliver Europe's most ambitious infrastructure project. This is a fantastic time to pursue a career in engineering and our economy owes a lot to the hugely important contribution of female engineers at TfL and Crossrail. It is only right that we should recognise and applaud their remarkable work, while acknowledging that there is much more to be done to encourage more women into what historically has been a male-dominated field.'</p>
        <p>Dana Skelley, Director of Asset Management for Surface Transport at TfL, said: </p>
        <p>'As an engineer, it's heartening for me to see that our events are encouraging more women and girls to consider a future in engineering. </p>
        <p>'Increasing changing the gender mix in a male dominated industry for the better is something that we at TfL have been at the forefront of. Women make up 22.8 per cent of TfL employees with 22.5 per cent in senior management roles and we are committed to increasing these numbers. We also include equality and inclusion requirements in all our tenders for contracts to ensure our supply chain is also representative.'</p>
        <p>Since 2011, 4,000 students from across London have taken part in the Inspire Engineering programme. </p>
        <p>Since 2009, more than 5,000 apprenticeship roles have been created directly and through TfL's supply chain. </p>
        <p>TfL also takes on more than 100 graduates each year.</p>
        <p>Elizabeth Poulter, Inspire Engineering Officer at London Transport Museum, said: </p>
        <p>'London Transport Museum is committed to inspiring the next generation of engineers and we actively promote engineering as a career that is accessible for all and attempt to break down stereotypes, particularly around women in engineering. It has been great to see so many pupils get actively involved in our events this week. We are fortunate to be supported by an active group of women engineers who are dedicated to encourage more young girls in the profession.'</p>
        <p>On Monday, Crossrail hosted the Engineer Your Future challenge where young people have been tasked with developing innovative ways to attract young women to engineering. Thirty finalists joined leading Crossrail female engineers at the project's new Canary Wharf station to gain first-hand experience of an engineering project. </p>
        <p>Andrew Wolstenholme, Crossrail CEO, said: </p>
        <p>'Crossrail is working with local schools across London to help raise the profile of engineering as an exciting, challenging and rewarding career. Attracting more young people and, in particular, young women to engineering is key to ensuring we have the engineering skills to deliver future infrastructure projects such as HS2, Crossrail 2 and Thames Tideway.'</p>
        <p>TfL has also joined the Government's Your Life Campaign, which aims to make the most of all talents and to grow the number of women in science, technology and engineering.</p>
        <p>Demonstrating a commitment to the future of transport workers and engineers, TfL is one of the sponsors of the Royal Greenwich University Technical College (UTC). </p>
        <p>TfL is a non-financial engineering sponsor of the college and is working directly with them to provide time and technical expertise through demonstrations and supporting the curriculum for students. </p>
        <p>A decommissioned Hammersmith &amp; City line (C77 Stock) Tube carriage and two Barclays Cycle Hire Bikes have been donated to the UTC for the students to work on.</p>
        <p>TfL has also updated its Skills and Employment Strategy which further demonstrates its commitment to women in science, technology, engineering and mathematics. </p>
        <p>The updated strategy demonstrates TfL's commitment to its staff and Londoners by ensuring it has the skills needed for the future to keep the capital moving. </p>
        <p>As part of this, TfL will be supporting Network Rail in sponsoring the new Westminster UTC, as well as providing 20 work placements for Royal Greenwich UTC students to give them real hands on experience in the transport sector. </p>
        <p>It is also supporting other organisations in sponsoring UTCs across London and promotes volunteering amongst exiting TfL engineers through the Science, Technology, Engineering and Maths Ambassador Scheme in UTCs and Schools across London. </p>
         
        <hr />
         
        <p>Notes to Editors:</p>
        <p>•&nbsp;&nbsp; &nbsp;For more information about the Inspire Engineering days, visit: <a href="http://www.ltmuseum.co.uk/learning/schools/key-stage-3">http://www.ltmuseum.co.uk/learning/schools/key-stage-3</a></p>
        <p>•&nbsp;&nbsp; &nbsp;TfL's Skills and Employment Strategy is published at: <a href="http://www.tfl.gov.uk/cdn/static/cms/documents/skills-and-employment-strategy.pdf">http://www.tfl.gov.uk/cdn/static/cms/documents/skills-and-employment-strategy.pdf</a> &nbsp;</p>
    

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
                <a href="/info-for/media/index" class="heading">
                    <h2 id="sub-menu-heading">Media<span class="visually-hidden"> navigation</span></h2>
                </a>
                <ul>
                    
                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases">Press releases</a></div>
                                <ul>
                                    
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2020">2020</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019">2019</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018">2018</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017">2017</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016">2016</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015">2015</a></div></li>
                            
 
                                        <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014">2014</a></div>
                                        <ul>
                                            
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/december">December</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/november">November</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/october">October</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/september">September</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/august">August</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/july">July</a></div></li>
                                    
 
                                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/june">June</a></div>
                                                <ul>
                                                    
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
                                                </ul>
                                            
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/may">May</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/april">April</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/march">March</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/february">February</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/january">January</a></div></li>
                                    
 
                                        </ul>
                                    </li>
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2013">2013</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2012">2012</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2011">2011</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2010">2010</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2009">2009</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2008">2008</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2007">2007</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2006">2006</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2005">2005</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2004">2004</a></div></li>
                            
 
                                </ul>
                            </li>
 
                                <li><div class="link-wrapper"><a href="/info-for/media/photos">Photos</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/media/contact-the-press-office">Contact the Press Office</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/filming-and-photography">Filming & photography</a></div></li>
                            
 
                </ul>
            
 
 
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype: -Home-Media-Media-Press releases-2014-June-Finding the next generation of engineers -->

 
 
        
        
            @{ViewBag.Description = "Finding the next generation of engineers";}
        
        


 