


@{ViewBag.Title = "ALL ABOARD - Get in line at the LEGO Bus Stop";}
        
        
<div class="r">
    <div class="breadcrumb-container" role="navigation">
        <span id="breadcrumb-label" class="visually-hidden">You are here:</span>
        <ol class="breadcrumbs clearfix" aria-labelledby="breadcrumb-label">
            <li class="home">
                <a href="/">
                    <span class="hide-text">Home</span>
                </a>
            </li>
            
                <li>
                    <a href="/info-for/media/index">Media</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases">Press releases</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases/2014">2014</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases/2014/june">June</a>
                </li>
                
                <li>
                    <span class="last-breadcrumb">ALL ABOARD - Get in line at the LEGO Bus Stop</span>
                </li>
            
 
            
 
            
 
            
 
            
 
        </ul>
    </div>
</div>
     
 
<div class="r">
    <div class="headline-container plain">
        <h1>ALL ABOARD - Get in line at the LEGO Bus Stop</h1>
        <div class="content-page-press-release">
        20 June 2014
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">



 <div class="on-this-page">

        <p>Passengers
        waiting for a bus near Hamleys on Regent Street over the next four weeks should
        take a close look at the bus shelter &#45; all is not as it appears, this is no
        ordinary bus stop!
        &nbsp;
        </p>
        <p>To
        celebrate Transport for London's (TfL) 'Year of the Bus', LEGO has recreated a
        full size bus-shelter and bus stop out of LEGO bricks.&nbsp; Passengers are
        advised not to start counting them &#45; as they might miss their bus &#45; more than
        100,000 LEGO bricks were used in this build.
        &nbsp;
        </p>
        <p>Bus Stop Vital Statistics</p>
        <ul>
            <li>It is built with around 100,000 LEGO Bricks</li>
            <li>It has been created by the UK's only
            Certified LEGO Professional, Duncan Titmarsh</li>
            <li>It took 14 days to build;
            -&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            </li>
            <li>The LEGO Bus Stop can be found in Regent
            Street, London W1 close to Hamleys, from 19 June until 15 July</li>
            <li>The shell and installation has been provided
            by Trueform.
            &nbsp;
            </li>
        </ul>
        <p>The bus network is part of the
        fabric of London, providing a vital role in the city for residents, commuters
        and visitors.&nbsp; </p>
        <p>2014 marks a number of important bus-related anniversaries
        including the 60th anniversary of the iconic Routemaster and 75th
        anniversary of the RT-type bus.&nbsp; </p>
        <p>It's also 100 years since hundreds of
        London buses were sent to the
        Western Front to play a
        crucial role during the First World War.
        &nbsp;
        </p>
        <p>The
        bus stop has been installed ahead of one of the key events being celebrated
        during the 'Year of the Bus' &#45; the 'Regent Street Bus Cavalcade' - which takes
        place on Sunday 22 June and will see fifty buses from the earliest horse-drawn
        model of the 1820s right up to the New Routemasters of today. </p>
        <p>The event will
        allow visitors free, unprecedented access to the most celebrated London buses
        of the last 185 years.
        &nbsp;</p>
        <p>
        Emma Owen, PR Manager at LEGO
        comments: &quot;LEGO is all about stretching your imagination and using bricks to
        build whatever your mind desires &#45; there are no limits!&nbsp; We hope visitors
        to Regent Street enjoy this fantastic build, it truly shows that with LEGO you
        can build anything!&quot;
        &nbsp;
        </p>
        <p>
        Leon Daniels, TfL's Managing
        Director of Surface Transport, said: &quot;We are delighted to team up with LEGO and
        Trueform to offer our passengers a bit of fun on their journey.&nbsp; Many
        thousands of people pass along Regent Street each day and we hope the new
        shelter will bring a smile to the face of even a hardened commuter.&quot;
        &nbsp;
        </p>
        <p>Jonathan
        Morley, Group Managing Director, Trueform added: &quot;Trueform are delighted to be
        able to support Transport for London and the Year of the Bus initiative. As the
        manufacturers and installers of TfL's non advertising bus shelters, we are
        pleased to have been able to assist in this exciting and innovative LEGO bus
        shelter project.</p>
         
        <p>Year of
        the Bus</p>
        <ul>
            <li>Images
            available here https://www.flickr.com/photos/tflpress/sets/72157644852050587/</li>
            <li>Throughout 2014,
            TfL &#45; working in partnership with London
            Transport Museum &#45; is hosting a number
            of engaging events, exhibitions, recreations and other activities aimed
            at re-connecting Londoners with their bus network and reminding the world of the role that London buses, the bus
            drivers and the staff who support them, play in keeping this great city moving
            24 hours a day throughout the year. For further
            information log on to www.tfl.gov.uk/yearofthebus and www.ltmuseum.co.uk</li>
            <li>Buses&nbsp;are a
            vital daily service for millions and one that is very local, with the vast
            majority of Londoners (95 per cent) never more than 400 metres from a bus
            stop.&nbsp; Buses link homes to jobs, schools and hospitals in every part of
            the capital.&nbsp; They are the backbone, and often the forgotten workhorses,
            of London's transport network</li>
            <li>Trueform
            Engineering are Transport for London's (TfL) contractor responsible for the
            supply, installation and maintenance of bus stops, shelters and&nbsp; roadside
            Real Time Bus Information signs called 'Countdown'. They have been working for
            and behalf of TfL since 1993 providing design, development, manufacturing,
            installation and maintenance services, including 24 hour emergency cover 365
            days a year.</li>
        </ul>
    

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
                <a href="/info-for/media/index" class="heading">
                    <h2 id="sub-menu-heading">Media<span class="visually-hidden"> navigation</span></h2>
                </a>
                <ul>
                    
                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases">Press releases</a></div>
                                <ul>
                                    
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2020">2020</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019">2019</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018">2018</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017">2017</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016">2016</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015">2015</a></div></li>
                            
 
                                        <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014">2014</a></div>
                                        <ul>
                                            
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/december">December</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/november">November</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/october">October</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/september">September</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/august">August</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/july">July</a></div></li>
                                    
 
                                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/june">June</a></div>
                                                <ul>
                                                    
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
                                                </ul>
                                            
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/may">May</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/april">April</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/march">March</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/february">February</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/january">January</a></div></li>
                                    
 
                                        </ul>
                                    </li>
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2013">2013</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2012">2012</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2011">2011</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2010">2010</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2009">2009</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2008">2008</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2007">2007</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2006">2006</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2005">2005</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2004">2004</a></div></li>
                            
 
                                </ul>
                            </li>
 
                                <li><div class="link-wrapper"><a href="/info-for/media/photos">Photos</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/media/contact-the-press-office">Contact the Press Office</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/filming-and-photography">Filming & photography</a></div></li>
                            
 
                </ul>
            
 
 
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype: -Home-Media-Media-Press releases-2014-June-ALL ABOARD - Get in line at the LEGO Bus Stop -->

 
 
        
        
            @{ViewBag.Description = "Press releases and news articles from Transport for London";}
        
        


 