


@{ViewBag.Title = "Casualties on London's roads at lowest level ever";}
        
        
<div class="r">
    <div class="breadcrumb-container" role="navigation">
        <span id="breadcrumb-label" class="visually-hidden">You are here:</span>
        <ol class="breadcrumbs clearfix" aria-labelledby="breadcrumb-label">
            <li class="home">
                <a href="/">
                    <span class="hide-text">Home</span>
                </a>
            </li>
            
                <li>
                    <a href="/info-for/media/index">Media</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases">Press releases</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases/2014">2014</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases/2014/june">June</a>
                </li>
                
                <li>
                    <span class="last-breadcrumb">Casualties on London’s roads at lowest level ever</span>
                </li>
            
 
            
 
            
 
            
 
            
 
        </ul>
    </div>
</div>
     
 
<div class="r">
    <div class="headline-container plain">
        <h1>Casualties on London’s roads at lowest level ever</h1>
        <div class="content-page-press-release">
        11 June 2014
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        Number of people killed and seriously injured on London's roads at lowest level ever
        
    </div>

<div class="on-this-page">

        <ul>
            <li>Number of people killed and seriously injured on London's roads at lowest level ever</li>
            <li>Number of people killed and seriously injured (KSI) on London's roads falls 23 per cent during 2013 to lowest levels since records began</li>
            <li>Pedestrian KSIs significantly down during 2013 with the total number down 25 per cent compared to 2012</li>
            <li>Total number of casualties in London down five per cent to lowest level ever</li>
            <li>Mayor and TfL committed to continue the long term trend of improved road safety by delivering &quot;Safe Streets for London&quot; road safety plan and Mayor's Cycle Vision</li>
            <li>Casualty data from 2005-13 made freely available on the TfL website to help people to carry out analysis on almost a decade of accurate collision data.</li>
        </ul>
        <p>The number of people killed and seriously injured on London's roads fell 23 per cent during 2013 to its lowest level since records began, the Mayor and Transport for London (TfL) announced today (Wednesday, 11 June)</p>
        <p>The figures, which cover the period between January and December 2013, also show that the total number of road casualties in London also fell by around five per cent to its lowest ever level.A new road safety plan &quot;Safe Streets for London&quot;, published in June last year, set out a clear path towards helping to reduce death and serious injury on the capital's roads.</p>
        <p> Earlier this year, The Mayor and TfL made six key commitments which, working with a range of partners, are guiding a programme of work to improve road safety across London.Last year TfL carried out a wide range of road safety initiatives across London, including providing safety training for children at hundreds of schools, upgrading key junctions for all road users and funding enforcement activity with the Metropolitan Police. </p>
        <p>This included working closely with the Met to enforce road safety through Operation Safeway, which will continue this year and run twice a month on unannounced days, with up to 1,000 police officers stationed simultaneously at around 100 junctions.Earlier this year, </p>
        <p>TfL also announced world leading trials of pedestrian detection technology at crossings in Central London. </p>
        <p>With 550 pedestrian crossings at 200 locations across 30 London boroughs already equipped with 'Pedestrian Countdown' technology, later this summer TfL will be trialling 'Pedestrian Scoot' - state-of-the-art video camera technology to automatically detect how many pedestrians are waiting at crossings. </p>
        <p>TfL is also set to roll out trials of detection equipment on London buses to help drivers be more aware of pedestrians and cyclists near their vehicles, which if successful could be rolled out across London's 8,700 buses.</p>
        <p>The reduction in the total number of people killed and seriously injured during 2013 now means that London remains on track to achieve the Mayor's road safety target to reduce the number of people killed or seriously injured on London's roads by 40 per cent by 2020 (from a 2005-09 baseline), with 2013 progress meaning that London is now 36 per cent below the 2005-09 average.</p>
        <p>The road safety data from 2013 also shows</p>
        <ul>
            <li>There were 132 fatalities on London's roads in 2013, the second lowest number since records began, with fatalities involving pedestrians down six per cent (65 down from 69 in 2012)</li>
            <li>Deaths involving powered two-wheeled riders also fell by 19 per cent (22 down from 27 in 2012), while cyclist deaths remained the same at 14</li>
            <li>During 2013 there were 489 killed and serious injuries to cyclists, compared with 671 in 2012 &#45; this 27 per cent reduction means that around one in every 434,000 cycle journeys made in London end in the cyclist being killed or seriously injured (KSI)</li>
            <li>Pedestrian KSIs were also significantly down during 2013 with the total number down 25 per cent compared to 2012 (838 down from 1,123). This is also 31 per cent down when compared to the 2005-2009 baseline and 55 per cent down when compared to the year 2000 (838 down from 1,870)</li>
            <li>The number of children killed and seriously injured continued to fall across London in 2013, with a 31 per cent reduction to 187 (down from 270 in 2012). This is also a reduction of around three quarters when compared to the year 2000, showing the continuing long-term progress in London in making its streets safer for all.</li>
        </ul>
        <p>The Mayor of London, Boris Johnson, said: &quot;These latest road casualty statistics are hugely encouraging, but they are by no means the end of the story. Our ultimate goal is to see a London where roads are free from death and serious injury, which is why we're investing significant funding to make the road network fit for the 21st century. From overhauling the most notorious junctions, to investing in the latest technology, TfL is pushing hard on all fronts to make London's roads as safe as they can possibly be for all users.&quot;</p>
        <p>Leon Daniels, Managing Director of Surface Transport at TfL said: &quot;Improving road safety remains a top priority for us and our partners. While there has been a welcome reduction in the number of people killed or seriously injured, there remains an enormous amount of work to do to achieve our long-term goal of removing all such instances from London's roads. We have a huge programme of investment underway to improve the road network and public spaces as London continues its rapid growth. Much of this work includes radical steps to improve road safety, including segregated cycling lanes and much improved junctions. We will also make more data openly available to enable others to help us make progress. This work is simply vital to making London a better place in which to live and work and we are getting on with its delivery as quickly as possible."</p>
        <p>The Mayor, TfL, the Police and London boroughs, continue to be engaged in a wide range of activity designed to reduce road casualties further still. </p>
        <p>These include:</p>
        <p>Doubling the investment into London's road network during the next ten years from &pound;2bn to &pound;4bn, with all new schemes built to our stringent safety standards and taking into account improved pedestrian and cycling design guidance</p>
        <p>Carrying out a range of major improvements to the capital's roads which will deliver further safety benefits to all road users. For example, later this year TfL will begin public consultation on new segregated cycle lanes as part of Cycle Superhighway 5 at Vauxhall, improvements to Archway and Old Street roundabout, and the new East-West cycle-route along Victoria Embankment, with a look to deliver all these as quickly as possible</p>
        <p>Working with the police, the London boroughs and key stakeholders to deliver the Pedestrian and Motorcycle Safety Action Plans which outline the actions required to further reduce collisions involving vulnerable road users. A revised draft Cycle Safety Action Plan, as well as draft new London Cycle Design Standards, will also be published later this month for consultation, building on the ideas outlined in the Mayor's Cycling Vision to make London's roads safer for cyclists</p>
        <p>Working to make more road safety data open and available to all stakeholders and developers. The 2013 casualty data will be freely available on the TfL website, along with datafiles going back to 2005, allowing people to carry out analysis on almost a decade of accurate collision data. A new Digital Speed Map, which shows the current speed limit of every road in London, will also be made freely available to developers later this year</p>
        <p>Ramping up enforcement against all road users who act in an unsafe manner. Earlier this year,&nbsp; the Mayor confirmed that regular road safety police operations, based on the original &quot;Operation Safeway&quot; which ran at the end of last year, will continue to operate across London for two days every month, on unannounced days. The multi-agency Industrial HGV Task Force also continues to operate across London, targeting non-compliant heavy goods (particularly construction-related) vehicles, drivers and operators using the capital's roads;•&nbsp;&nbsp; </p>
        <p>Working with London Councils to deliver the Mayor's plans for a Safer Lorry Scheme across London, which would see dangerous vehicles not fitted with sideguards or mirrors giving the driver a better view of cyclists and pedestrians around their vehicles, banned from London. Subject to a formal consultation and legal procedures, which will start later this month, the scheme could be introduced by the end of the year.To find out more about what TfL is doing to tackle road safety more widely, please visit: www.tfl.gov.uk/roadsafetyENDS</p>
         
         
        <hr />
         
        <ul>
            <li>The 2013 Road Safety factsheet can be found <a href="http://www.tfl.gov.uk/cdn/static/cms/documents/casualties-in-greater-london-2013.pdf">here</a> </li>
            <li>Open Data files with the casualty data can be found <a href="http://tfl.gov.uk/corporate/publications-and-reports/road-safety">here</a></li>
            <li>'Safe Streets for London &#45; London's Road Safety Plan' can be downloaded <a href="http://www.tfl.gov.uk/cdn/static/cms/documents/safe-streets-for-london.pdf">here</a>: </li>
            <li>'Safe London Streets &#45; Our Six Road Safety Commitments'- can be downloaded <a href="http://www.tfl.gov.uk/corporate/safety-and-security/road-safety/safe-streets-for-london">here</a></li>
        </ul>
        <p>The six key commitments as stated are:</p>
        <p>1.&nbsp;&nbsp;&nbsp; To lead the way in achieving a 40 per cent reduction in the number of people killed or seriously injured on the capital's roads by 2020 &#45; with a longer term ambition of freeing London's roads from death and serious injury;</p>
        <p>2.&nbsp;&nbsp;&nbsp; To prioritise safety of the most vulnerable groups &#45; pedestrians, cyclists and motorcyclists &#45; which make up around 80 per cent of serious and fatal collisions;</p>
        <p>3.&nbsp;&nbsp;&nbsp; To provide substantial funding for road safety, invested in the most effective and innovative schemes;</p>
        <p>4.&nbsp;&nbsp;&nbsp; To increase efforts with the police, boroughs and enforcement agencies in tackling illegal, dangerous and careless road user behaviour that puts people at risk;</p>
        <p>5.&nbsp;&nbsp;&nbsp; To campaign for changes in national and EU law to make roads, vehicles and drivers safer;</p>
        <p>6.&nbsp;&nbsp;&nbsp; To work in partnership with boroughs and London's road safety stakeholders to spread best practice and share data and information</p>
        <ul>
            <li>In May 2011, the Department for Transport (DfT) announced a new national baseline for analysing road safety statistics as part of the DfT's Strategic Framework for Road Safety, based on the average casualty figures from 2005 to 2009 &#45; <a href="http://www.dft.gov.uk/publications/strategic-framework-for-road-safety/">link</a> </li>
            <li>Around 30 per cent of KSI collisions during 2013 occurred on the TfL Road Network, with the remaining 70 per cent occurring on borough roads. TfL continues to work closely with boroughs to focus road safety measures in areas with high casualty rates.&nbsp; A programme of training and best practice sharing for borough road safety teams is now in place to ensure that the skills needed to make this step change in road safety in London are available. TfL will also be hosting an annual road safety conference in July with the London Road Safety Council to help further share best practice with boroughs across London.</li>
            <li>Slight injuries are incidents which are recorded by the Metropolitan Police but do not necessarily require hospital treatment. Examples of slight injuries are sprains, neck whiplash, bruises, slight cuts and slight shock</li>
        </ul>
    

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       


            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype: -Home-Media-Media-Press releases-2014-June-Casualties on London’s roads at lowest level ever -->

 
 
        
        
            @{ViewBag.Description = "Number of people killed and seriously injured on London’s roads at lowest level ever";}
        
        


 