


@{ViewBag.Title = "Celebrating the Tour de France returning to London";}
        
        
<div class="r">
    <div class="breadcrumb-container" role="navigation">
        <span id="breadcrumb-label" class="visually-hidden">You are here:</span>
        <ol class="breadcrumbs clearfix" aria-labelledby="breadcrumb-label">
            <li class="home">
                <a href="/">
                    <span class="hide-text">Home</span>
                </a>
            </li>
            
                <li>
                    <a href="/info-for/media/index">Media</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases">Press releases</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases/2014">2014</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases/2014/june">June</a>
                </li>
                
                <li>
                    <span class="last-breadcrumb">Celebrating the Tour de France returning to London</span>
                </li>
            
 
            
 
            
 
            
 
            
 
        </ul>
    </div>
</div>
     
 
<div class="r">
    <div class="headline-container plain">
        <h1>Celebrating the Tour de France returning to London</h1>
        <div class="content-page-press-release">
        24 June 2014
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        Pupils across London took part in four Tour de France art competitions
        
    </div>



<div class="pull-quote">
        <div class="quote-body">"The return of the Tour de France to the capital has clearly really inspired London's school children. I'm sure when everyone gets to see the world's best cyclists ride through the capital on Monday 7 July we will have ourselves a real legacy"</div>
        <div class="quote-footer">
            <div class="quotee-name">Leon Daniels</div>
            <div class="quotee-job-title">Managing Director, Surface Transport</div>
        </div>
</div>

 <div class="on-this-page">

        <ul>
            <li>The Tour de France, the world's largest annual sporting event, returns to London on Monday 7 July 2014</li>
            <li>Alexandria Noon from Havering, Aleena Khan from Redbridge, Serafina Chew Siegel from Ealing, and Lottie Short from Harrow submitted the winning designs</li>
        </ul>
        <p>With less than two weeks to go until the world's greatest cycling race returns to the capital on Monday 7 July, Lloyd Warbey, presenter of Disney's Art Attack, and Transport for London (TfL) have selected the best of the best artwork submitted by school children from across London to celebrate the arrival of the Tour. </p>
        <p>The capital's students were challenged to craft cycling creations in four separate competitions, taking inspiration from the excitement of the world's best cyclists rolling through the city's streets. </p>
        <p>Children from across London entered the competitions to design a banner, jersey and poster, as well as creating cycling inspired art which will be displayed at City Hall this summer. </p>
        <p>The winners of the competitions will also be invited to City Hall at the Top Schools Travel Award event in early November.</p>
        <p>Lloyd Warbey, presenter of Disney's Art Attack, said: </p>
        <p>'The quality of submissions was fantastic. I had a hard time selecting the winners. All the entries really show how excited London's school children are for the Tour.'</p>
        <p>Leon Daniels, Managing Director of Surface Transport at TfL, said: </p>
        <p>'The return of the Tour de France to the capital has clearly really inspired London's school children. I'm sure when everyone gets to see the world's best cyclists ride through the capital on Monday 7 July we will have ourselves a real legacy.'</p>
        <p>The world's largest annual sporting event comes to London on Monday 7 July after two stages in Yorkshire. </p>
        <p>Around 200 elite cyclists will travel from Cambridge, through Essex, into London before a spectacular finish on The Mall. </p>
        <p>The iconic Tour de France will draw people onto the streets of London from near and far, and help to inspire more people out onto their saddles across London.An extensive programme of public engagement and communication around the arrival of the Tour de France in the capital is underway to help businesses and the public plan and get around on the day. </p>
        <p>The engagement activities include leaflet drops to residents and businesses along the route, work with the local boroughs, local business engagement events and public information sessions. </p>
        <p>Last month, TfL published detailed travel advice to help Londoners prepare for the Tour, including maps showing affected roads. </p>
        <p>For more information, detailed maps and a range of advice, go <a href="http://tfl.gov.uk/tourdefranc">here</a>.</p>
         
        <hr />
         
        <p>Notes to Editors:</p>
        <ul>
            <li>Photographs of Lloyd with a selection of the winners are available from TfL Press Office;</li>
            <li>Lloyd Warbey stars in Disney's Art Attack. Art Attack is a unique and inspirational Arts and Craft show designed to spark imagination and creativity, with broad appeal that encourages self expression and individuality, demonstrating to kids of all abilities that anyone can be an artist. More information on Art Attack can be found <a href="http://www.disney.co.uk/disney-junior/art-attack/">here</a></li>
            <li>The detailed Tour de France route is available on the TfL website at tfl.gov.uk/tourdefrance. To avoid delays drivers are advised to, wherever possible, avoid areas near the event routes in the affected parts of Cambridgeshire, Essex and London. For up to date information on how transport services are operating, check before you travel at tfl.gov.uk and follow &#64;TfLTravelAlerts (Tube, DLR and London Overground) &#64;TfLTrafficNews (roads) and &#64;TfLBusAlerts (bus);</li>
            <li>Spectators will be able to watch the elite cycling action along the route and also at the official Tour de France fan parks sites at Green Park and Trafalgar Square and spectator hub at QEOP. The fan park sites will feature a wide range of different activities such as live Tour de France racing on the big screen, a French-style food market, a Tour de France Museum, interactive cycling activities, an outdoor cinema, live music, celebrity appearances and shops showcasing all of the latest bike equipment and accessories. Team London volunteers will also be on hand across all the fan park sites to help spectators with local travel information and directions;</li>
            <li>Tube and Rail will be the best way to get around the affected areas of London, with the vast majority of services in central London running as normal. The Circle and District lines are expected to be extremely busy as will stations along the route, particularly in Zone 1 from midday until around 18:00;</li>
            <li>The Tour de France will kick off a spectacular summer of cycling in London, with the exciting event followed by Prudential RideLondon on the 9 and 10 August and then the Tour of Britain, which will finishes in the capital on 14th September;</li>
            <li>This summer's cycling windfall is likely to inspire thousands more Londoners to take to two wheels, building on the Mayor's ambition for cycling to be an integral part of the transport network. As part of his cycling vision, the Mayor is already engaging in a vast &pound;1billion programme of improvements - creating a series of enhanced cycling superhighways, urban 'quietways' for more cautious cyclists, and turning some outer boroughs into mini-Hollands;</li>
            <li>The Tour de France is the world's largest annual sporting event and covers approximately 3,500kms. A worldwide television audience of 3.5billion people watch the event annually. 190 countries around the world broadcast the Tour de France and there are 5,000 hours of TV coverage annually. The last time the Tour visited England was in 2007 when London hosted the Grand Depart, which is the opening of the race;</li>
            <li>For more information on the Mayor's Vision for Cycling visit <a href="http://www.tfl.gov.uk/corporate/about-tfl/how-we-work/planning-for-the-future/vision-for-cycling">here</a> </li>
            <li>The competitions were judged by a panel, including Lloyd, and will win a range of fantastic prizes to inspire and encourage more cycling including: cycling equipment, official Tour de France merchandise, framed artwork and the chance to have the art displayed at London landmarks and City Hall;</li>
            <li>The Mayor is committed to ensuring London retains its status as the world capital of sport, and has set up the Major Events Oversight Board to advise the Mayor on major events in the capital. The board is chaired by Sir Edward Lister, and comprises of TfL, the emergency services and other key partner agencies to provide strategic direction and advice to the Mayor in the approach to bidding, staging and evaluating major events in London. The board will ensure that all major road events continue to be carefully considered and tightly managed to ensure that we get the full benefit from the event without undue impact on Londoners and London's transport. Further, this Board will look at ways to ensure that there is effective communication of the major events programme with Londoners, visitors, businesses and stakeholders alike, to allow sufficient notice and forward planning for everyone.</li>
        </ul>
    

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
                <a href="/info-for/media/index" class="heading">
                    <h2 id="sub-menu-heading">Media<span class="visually-hidden"> navigation</span></h2>
                </a>
                <ul>
                    
                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases">Press releases</a></div>
                                <ul>
                                    
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2020">2020</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019">2019</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018">2018</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017">2017</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016">2016</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015">2015</a></div></li>
                            
 
                                        <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014">2014</a></div>
                                        <ul>
                                            
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/december">December</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/november">November</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/october">October</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/september">September</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/august">August</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/july">July</a></div></li>
                                    
 
                                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/june">June</a></div>
                                                <ul>
                                                    
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
                                                </ul>
                                            
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/may">May</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/april">April</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/march">March</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/february">February</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/january">January</a></div></li>
                                    
 
                                        </ul>
                                    </li>
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2013">2013</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2012">2012</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2011">2011</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2010">2010</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2009">2009</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2008">2008</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2007">2007</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2006">2006</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2005">2005</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2004">2004</a></div></li>
                            
 
                                </ul>
                            </li>
 
                                <li><div class="link-wrapper"><a href="/info-for/media/photos">Photos</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/media/contact-the-press-office">Contact the Press Office</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/filming-and-photography">Filming & photography</a></div></li>
                            
 
                </ul>
            
 
 
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype: -Home-Media-Media-Press releases-2014-June-Celebrating the Tour de France returning to London -->

 
 
        
        
            @{ViewBag.Description = "Celebrating the Tour de France returning to London";}
        
        


 