


@{ViewBag.Title = "Crime on London's transport system at lowest ever level";}
        
        
<div class="r">
    <div class="breadcrumb-container" role="navigation">
        <span id="breadcrumb-label" class="visually-hidden">You are here:</span>
        <ol class="breadcrumbs clearfix" aria-labelledby="breadcrumb-label">
            <li class="home">
                <a href="/">
                    <span class="hide-text">Home</span>
                </a>
            </li>
            
                <li>
                    <a href="/info-for/media/index">Media</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases">Press releases</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases/2014">2014</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases/2014/june">June</a>
                </li>
                
                <li>
                    <span class="last-breadcrumb">Crime on London’s transport system at lowest ever level</span>
                </li>
            
 
            
 
            
 
            
 
            
 
        </ul>
    </div>
</div>
     
 
<div class="r">
    <div class="headline-container plain">
        <h1>Crime on London’s transport system at lowest ever level</h1>
        <div class="content-page-press-release">
        04 June 2014
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">



 <div class="on-this-page">

        <ul>
            <li>Crime down by over 11 per cent compared
            to previous year</li>
            <li>Rate of transport crime has fallen to
            under eight crimes per million passenger journeys during 2013/14
            &nbsp;
            </li>
        </ul>
        <p>In a year when both London
        Underground and London Buses saw record passenger numbers, new annual crime
        figures from the Metropolitan Police Service and British Transport Police (BTP)
        show that crime on Transport for London's (TfL's) transport system fell 11.3
        per cent compared to the year before.
        &nbsp;
        </p>
        <p>The figures, which cover 2013/14 (1
        April 2013 to 31 March 2014), show that there are now just 7.7 crimes per
        million passenger journeys on the transport system, down from 8.9 in 2012/13.
        &nbsp;
        </p>
        <p>The reduction
        also means that the rate of crime for London Underground, Docklands Light
        Railway, London Tramlink, London Overground and buses remain at their lowest
        level since recording began. Crime on the bus network has continued to fall
        every year for the last eight years, with just 7.5 crimes per million passenger
        journeys in 2013/14 &#45; down from 8.6 in 2012/13. This is less than half the
        crime rate in 2007/8 when levels were at a rate of 15.2 crimes per million
        passenger journeys. On London Underground/Docklands Light Railway, the rate of
        crime has nearly halved since 2007/8, when levels were at a rate of 14.4 crimes
        per million passenger journeys.
        </p>
        <p>
        Last year,
        London Tramlink also saw a 16.5 per cent fall in crime, bringing the rate of
        crime down to just 10.3 crimes per million journeys. These successes build on
        the massive reductions seen over recent years and reflect the continuing work
        carried out by TfL and its policing partners to improve transport safety and
        security ensuring that the transport network remains a safe and low crime
        environment.
        </p>
        <p>Despite the low levels of crime
        across London's transport system, increases have been seen in some crime types
        on some parts of the network. On London Underground and Docklands Light
        Railway, violence against the person offences rose by 9.5 per cent compared to
        the previous year. Offences resulting in injury reduced by 3.4 per cent. More
        than half of these additional offences were as a direct result of proactive
        policing by BTP. Passenger numbers on the Tube have risen by three per cent
        over the period and the rate of being a victim of crime remains low. London
        Underground recently described its vision for the future of the network, which
        includes deploying even more staff to the public areas of stations - on platforms,
        in ticket halls and at ticket gates &#45; to help passengers get around and keep
        them safe and secure.
        &nbsp;
        </p>
        <p>London Overground saw a very small
        increase in crime of 1.1 per cent (one additional offence), in the context of a
        significant increase in passenger journeys of around 8.6 per cent. With just
        6.2 crimes per million journeys, crime on London Overground remains at a very
        low level with the service remaining one of safest rail services in the
        capital.
        &nbsp;
        </p>
         
        <p>This year TfL, the Metropolitan
        Police Service and the BTP also launched Project Guardian to raise public
        awareness of unwanted sexual behaviour on the transport network. This
        initiative focuses on encouraging victims to report these types of crimes -
        historically significantly underreported - alongside more proactive police
        enforcement and engagement.&nbsp; Our approach has been widely supported by
        stakeholders such as Everyday Sexism, End Violence Against Women Coalition and
        HollaBack UK, and has resulted in a 16 per cent increase in the reports of unwanted
        sexual behaviour on the transport network, and a 25 per cent increase in the
        detection of crimes of this nature.&nbsp; Project Guardian is set to continue
        throughout 2014 and beyond.
        &nbsp;
        </p>
        <p>Mayor of London, Boris Johnson
        said: &quot;When I was elected as Mayor I made a firm pledge to make travelling in
        the capital safer for Londoners and visitors to our city. Thanks to the
        sterling efforts of the Metropolitan Police, British Transport Police and
        Transport for London we've seen crime steadily reducing year on year and it now
        stands at its lowest ever level. Of course there is more that needs to be done
        and there can be no room for complacency, but these latest numbers show that we
        are heading in the right direction when it comes to tackling crime on our
        buses, Tube and trains.&quot;
        &nbsp;
        </p>
         
        <p>Steve Burton, Director of
        Enforcement and On-street Operations at TfL said: &quot;The safety and security of
        customers is our top priority. Working with our policing partners across
        London, our transport network continues to be a safe, low crime environment,
        with crime levels at their lowest ever level. Any crime is, of course, one too
        many and we continue to take action to keep our customers safe and secure,
        including through making our staff more visible and accessible to all our
        customers.&nbsp; We want all users of our services to travel safely and with
        confidence and we will continue to work tirelessly to ensure the network
        remains a safe and low crime environment.&quot;
        &nbsp;
        </p>
        <p>Superintendent Rob Revill, MPS
        Safer Transport Command, said: &quot;This continual drop in bus related crime is
        thanks to robust policing, quality engagement with the public and strong
        partnership working with our policing colleagues, and partners, TfL. Together
        we shall continue to tackle and reduce bus related crime and instil even more
        confidence in the public who use the transport network.
        &nbsp;
        </p>
        <p>&quot;Our message is clear: if you
        commit crime on the transport network you will be caught, using all available
        tactics and brought to justice."
        &nbsp;
        </p>
        <p>Chief Constable Paul Crowther, of
        British Transport Police, said: &quot;Recorded crime on TfL's rail networks (London
        Underground/Docklands Light Railway, London Tramlink and London Overground)
        continues to fall, with crime down by 16 per cent&nbsp;compared to 2009/10.
        Partnership work has been key to this success and we continue to develop new
        initiatives with TfL and the Metropolitan Police Service to tackle those crimes
        which have the greatest impact on rail staff and the travelling public.
        &nbsp; In the past year, as well as
        launching Project Guardian, we focussed our attention on the theft of passenger
        property through Operation Magnum. This initiative, which aimed to make
        passengers more aware of the tactics used by criminals to steal luggage,
        resulted in a 30 per cent reduction in this type of crime during 2013/14 &#45;
        which means 2,180 fewer victims of crime. Despite this excellent work, we
        know there is more to be done to make staff and passengers feel even more
        secure and we will continue to work with our partners to ensure we are
        addressing the needs of the networks.&quot;
        &nbsp;
        </p>
        <p>For more information on what TfL is
        doing to reduce crime on London's public transport network, please call http://tfl.gov.uk/corporate/safety-and-security/</p>
         
        <hr />
         
        <ul>
            <li>Link to
            annual crime statistics bulletin: http://www.tfl.gov.uk/corporate/publications-and-reports/crime-and-incident-bulletins </li>
        </ul>
    

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
                <a href="/info-for/media/index" class="heading">
                    <h2 id="sub-menu-heading">Media<span class="visually-hidden"> navigation</span></h2>
                </a>
                <ul>
                    
                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases">Press releases</a></div>
                                <ul>
                                    
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2020">2020</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019">2019</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018">2018</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017">2017</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016">2016</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015">2015</a></div></li>
                            
 
                                        <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014">2014</a></div>
                                        <ul>
                                            
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/december">December</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/november">November</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/october">October</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/september">September</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/august">August</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/july">July</a></div></li>
                                    
 
                                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/june">June</a></div>
                                                <ul>
                                                    
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
                                                </ul>
                                            
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/may">May</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/april">April</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/march">March</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/february">February</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/january">January</a></div></li>
                                    
 
                                        </ul>
                                    </li>
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2013">2013</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2012">2012</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2011">2011</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2010">2010</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2009">2009</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2008">2008</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2007">2007</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2006">2006</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2005">2005</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2004">2004</a></div></li>
                            
 
                                </ul>
                            </li>
 
                                <li><div class="link-wrapper"><a href="/info-for/media/photos">Photos</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/media/contact-the-press-office">Contact the Press Office</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/filming-and-photography">Filming & photography</a></div></li>
                            
 
                </ul>
            
 
 
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype: -Home-Media-Media-Press releases-2014-June-Crime on London’s transport system at lowest ever level -->

 
 
        
        
            @{ViewBag.Description = "Press releases and news articles from Transport for London";}
        
        


 