


@{ViewBag.Title = "DfT and TfL publish report setting out options for step free Crossrail";}
        
        
<div class="r">
    <div class="breadcrumb-container" role="navigation">
        <span id="breadcrumb-label" class="visually-hidden">You are here:</span>
        <ol class="breadcrumbs clearfix" aria-labelledby="breadcrumb-label">
            <li class="home">
                <a href="/">
                    <span class="hide-text">Home</span>
                </a>
            </li>
            
                <li>
                    <a href="/info-for/media/index">Media</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases">Press releases</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases/2014">2014</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases/2014/june">June</a>
                </li>
                
                <li>
                    <span class="last-breadcrumb">DfT and TfL publish report setting out options for step free Crossrail</span>
                </li>
            
 
            
 
            
 
            
 
            
 
        </ul>
    </div>
</div>
     
 
<div class="r">
    <div class="headline-container plain">
        <h1>DfT and TfL publish report setting out options for step free Crossrail</h1>
        <div class="content-page-press-release">
        03 June 2014
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">



<div class="pull-quote">
        <div class="quote-body">"Providing an accessible transport network is a priority for TfL
and we have already made significant improvements to make travelling in London
easier for customers with disabilities"</div>
        <div class="quote-footer">
            <div class="quotee-name">Mike Brown MVO</div>
            <div class="quotee-job-title">Managing Director, London Underground</div>
        </div>
</div>

 <div class="on-this-page">

        <p>The
        joint sponsors of Crossrail, the Department for Transport (DfT) and Transport for
        London (TfL), have reaffirmed their aim of making the entire route accessible
        and published options to make the remaining seven stations step free.
        &nbsp;
        </p>
        <p>The
        route will serve 40 stations from Reading and Maidenhead in the west and
        Shenfield and Abbey Wood in the east. </p>
        <p>Eight stations are already step free and
        work is underway to upgrade or build 25 more to give step free access for the
        first time. The joint sponsors are working on plans for the remaining
        seven.&nbsp;&nbsp;
        &nbsp;
        </p>
        <p>
        The
        report sets out practical, workable solutions that could be
        implemented at Seven Kings, Maryland, Manor Park, Hanwell, Iver, Taplow and
        Langley. </p>
        <p>Further work will be undertaken to verify technical and engineering
        assumptions as well as further develop the plans. TfL and the DfT are currently
        looking at funding options to pay for these improvements.&nbsp;&nbsp;&nbsp;&nbsp;
        &nbsp;
        </p>
        <p>The
        Mayor of London, Boris Johnson, said: &quot;London now has one of the most
        accessible public transport networks in the world, with further improvements
        underway at stations, bus stops and on our trains. </p>
        <p>It is therefore only right
        that Crossrail is also part of that accessible future. This report sets out
        workable solutions for step-free access at all Crossrail stations and I will
        continue working alongside the DfT and TfL to help deliver that.&quot;
        &nbsp;
        </p>
        <p>
        Transport Minister Stephen Hammond said: &quot;World class transport
        networks are a vital part in the national economic plan but they have to be
        accessible to all. This is why everyone in the Crossrail family supports the
        aim of making all of the route accessible. The publication of this study is a
        step in the right direction.&quot;&nbsp;
        &nbsp;
        </p>
        <p>Mike Brown MVO, the Managing Director of London Underground and London
        Rail, said: &quot;Crossrail is going to transform how people travel in and across
        London and we are committed to making the entire railway open to
        everyone.&nbsp; Providing an accessible transport network is a priority for TfL
        and we have already made significant improvements to make travelling in London
        easier for customers with disabilities.&nbsp; The provision of 40 step free
        stations for Crossrail is an important part of that work so that London can
        continue to deliver greater accessibility.&quot;
        &nbsp;
        </p>
         
        <p>The new Crossrail train
        fleet will be built to the latest standards of accessibility. Crossrail trains
        will have dedicated, clearly distinguished priority seats and space for
        wheelchairs. Each carriage will provide both visual and audio information about
        the train's journey.
        &nbsp;
        </p>
        <p>Crossrail will be fully
        operational by the end of 2019. The line will boost London's rail-based capacity
        by 10 per cent connecting Reading and Heathrow in the west and Shenfield and
        Abbey Wood in the east. It is connecting people and places, providing faster
        journey times and up to 24 trains per hour&nbsp;between Paddington and
        Whitechapel during the peak.
        &nbsp;
        </p>
        <p>It is estimated that Crossrail
        will generate at least 75,000 business opportunities and support the equivalent
        of 55,000 full time jobs right around the UK. Three out of five businesses
        currently winning work on the project are based outside London and over half
        are small and medium-size companies (SMEs). </p>
         
         
        <hr />
         
         
         
         
         
         
         
         
        <br />
    

     
<div>





        <p>See a copy of the report: </p>
    
<div class="multi-document-download-container">
    

<a class="document-download-wrap " href="/cdn/static/cms/documents/accessibility-summary-report.pdf">
    <div class="document-download-text">
        <p>Accessibility at Crossrail stations &#45; Summary of preferred options</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 586KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

 
</div>

         
        <p>The preferred option at each location is
        </p>
        <ul>
            <li>Seven Kings: A new
            footbridge with three lifts and stairs, accessed from a walkway on the embankment
            south of platform one</li>
            <li>Maryland: Three lifts
            inside the existing building</li>
            <li>Manor Park: A new
            footbridge with three lifts and stairs</li>
            <li>Hanwell: Lifts to both
            platforms with the final scheme under review with Ealing and English Heritage</li>
            <li>Iver: Two new lifts
            on existing footbridge with a long ramp to platform one which is occasionally
            used by Crossrail services</li>
            <li>Langley: A new
            footbridge with three lifts and stairs </li>
            <li>
            Taplow: A
            new footbridge with two lifts and stairs&nbsp;</li>
        </ul>
         
    
</div>



 
        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
                <a href="/info-for/media/index" class="heading">
                    <h2 id="sub-menu-heading">Media<span class="visually-hidden"> navigation</span></h2>
                </a>
                <ul>
                    
                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases">Press releases</a></div>
                                <ul>
                                    
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2020">2020</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019">2019</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018">2018</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017">2017</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016">2016</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015">2015</a></div></li>
                            
 
                                        <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014">2014</a></div>
                                        <ul>
                                            
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/december">December</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/november">November</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/october">October</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/september">September</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/august">August</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/july">July</a></div></li>
                                    
 
                                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/june">June</a></div>
                                                <ul>
                                                    
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
                                                </ul>
                                            
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/may">May</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/april">April</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/march">March</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/february">February</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/january">January</a></div></li>
                                    
 
                                        </ul>
                                    </li>
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2013">2013</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2012">2012</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2011">2011</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2010">2010</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2009">2009</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2008">2008</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2007">2007</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2006">2006</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2005">2005</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2004">2004</a></div></li>
                            
 
                                </ul>
                            </li>
 
                                <li><div class="link-wrapper"><a href="/info-for/media/photos">Photos</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/media/contact-the-press-office">Contact the Press Office</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/filming-and-photography">Filming & photography</a></div></li>
                            
 
                </ul>
            
 
 
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype: -Home-Media-Media-Press releases-2014-June-DfT and TfL publish report setting out options for step free Crossrail -->

 
 
        
        
            @{ViewBag.Description = "Press releases and news articles from Transport for London";}
        
        


 