


@{ViewBag.Title = "Essential escalator works to take place at Paddington station ";}
        
        
<div class="r">
    <div class="breadcrumb-container" role="navigation">
        <span id="breadcrumb-label" class="visually-hidden">You are here:</span>
        <ol class="breadcrumbs clearfix" aria-labelledby="breadcrumb-label">
            <li class="home">
                <a href="/">
                    <span class="hide-text">Home</span>
                </a>
            </li>
            
                <li>
                    <a href="/info-for/media/index">Media</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases">Press releases</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases/2014">2014</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases/2014/june">June</a>
                </li>
                
                <li>
                    <span class="last-breadcrumb">Essential escalator works to take place at Paddington station </span>
                </li>
            
 
            
 
            
 
            
 
            
 
        </ul>
    </div>
</div>
     
 
<div class="r">
    <div class="headline-container plain">
        <h1>Essential escalator works to take place at Paddington station </h1>
        <div class="content-page-press-release">
        18 June 2014
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">



 <div class="on-this-page">

        <ul>
            <li>Works will take place from 29 June until 22
            August and will mean the Bakerloo line will be 'exit only' at the station</li>
            <li>All other lines at the station will operate a
            normal service
            &nbsp;
            </li>
        </ul>
        <p>Essential
        escalator maintenance will take place at Paddington station between 29 June and
        22 August as engineers remove and replace hundreds of mechanical and electrical
        parts to ensure that the escalators continue to run reliably.
        &nbsp;
        </p>
        <p>
        Escalators on
        the Underground are longer and more heavy duty than most. They carry huge
        volumes of people and run for approximately 20 hours a day.&nbsp; </p>
        <p>The two
        escalators at Paddington station that lead down to the Bakerloo line platforms
        are used by 88,000 people a day and now need an extended period of work in
        order to continue working effectively.&nbsp; Not doing the works at this time
        could mean the escalators failing in service, which would cause significant
        disruption for customers.
        &nbsp;
        </p>
        <p>The work
        involves replacing major components, overhauling every step on both escalators
        and replacing worn equipment. </p>
        <p>The planned works will be done one escalator at a
        time to enable the other escalator to run in the up position, allowing
        customers to exit the Bakerloo line from the station.
        &nbsp;
        While the
        escalator work is taking place the Bakerloo line will be &quot;exit only&quot;, with all
        other lines operating a normal service. </p>
        <p>Customers are advised to use
        alternative lines from Paddington, such as the Circle and Hammersmith &amp;
        City lines to Baker Street to connect with the Bakerloo line. </p>
        <p>Alternatively
        Edgware Road (Bakerloo) station is&nbsp;within walking distance of Paddington.
        &nbsp;
        </p>
        <p>The work is part
        of the continuing Tube investment programme with major stations, trains, track
        and signalling being modernised or replaced to provide more capacity for a
        growing city and better journeys for customers. A huge range of improvements
        are being made at Paddington, including the creation of a Crossrail station,
        which will add a 24 train an hour peak service that connects Paddington with
        Heathrow, the West End, the City and Canary Wharf.&nbsp;</p>
        <p>On the Underground, new
        lifts have been installed from a new ticket hall to the Circle and Hammersmith
        &amp; City line platforms, and a new entrance with a spacious new station
        concourse has been added from the Paddington Basin side of the station, along
        with improved CCTV and other features throughout.
        &nbsp;
        </p>
        <p>Phil Hufton,
        LU's Chief Operating Officer, said: &quot;Paddington is benefitting from huge
        investment as we modernise the Underground station, replace outdated equipment
        and prepare for Crossrail. The escalator work is vital to ensure their
        continued safe and reliable operation, we're doing everything possible to
        minimise the disruption and to provide customers with the information they need
        to make their journeys in slightly different ways whilst the work is carried
        out.&quot;
        &nbsp;
        </p>
         
        <hr />
        <ul>
            <li>London
            Underground (LU) is undertaking a major programme of renewal which will
            inevitably result in some disruption for customers, but TfL is working hard to
            provide information and alternative travel options.&nbsp; </li>
            <li>The work is essential
            to provide for London's growing transport needs now, and into the future</li>
            <li>TfL
            is urging all Londoners and Tube, London Overground, London Tramlink and DLR
            customers to &quot;check before you travel&quot; at weekends, allowing extra journey time
            where necessary. Weekend travel news is available at www.tfl.gov.uk</li>
        </ul>
    

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
                <a href="/info-for/media/index" class="heading">
                    <h2 id="sub-menu-heading">Media<span class="visually-hidden"> navigation</span></h2>
                </a>
                <ul>
                    
                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases">Press releases</a></div>
                                <ul>
                                    
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2020">2020</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019">2019</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018">2018</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017">2017</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016">2016</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015">2015</a></div></li>
                            
 
                                        <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014">2014</a></div>
                                        <ul>
                                            
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/december">December</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/november">November</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/october">October</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/september">September</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/august">August</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/july">July</a></div></li>
                                    
 
                                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/june">June</a></div>
                                                <ul>
                                                    
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
                                                </ul>
                                            
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/may">May</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/april">April</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/march">March</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/february">February</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/january">January</a></div></li>
                                    
 
                                        </ul>
                                    </li>
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2013">2013</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2012">2012</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2011">2011</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2010">2010</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2009">2009</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2008">2008</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2007">2007</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2006">2006</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2005">2005</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2004">2004</a></div></li>
                            
 
                                </ul>
                            </li>
 
                                <li><div class="link-wrapper"><a href="/info-for/media/photos">Photos</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/media/contact-the-press-office">Contact the Press Office</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/filming-and-photography">Filming & photography</a></div></li>
                            
 
                </ul>
            
 
 
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype: -Home-Media-Media-Press releases-2014-June-Essential escalator works to take place at Paddington station  -->

 
 
        
        
            @{ViewBag.Description = "Press releases and news articles from Transport for London";}
        
        


 