


@{ViewBag.Title = "Formal process underway for High Court ruling on taximeters";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>Formal process underway for High Court ruling on taximeters</h1>
        <div class="content-page-press-release">
        03 June 2014
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        Transport for London (TfL), which regulates and licenses the taxi and private hire trades in the capital in the interests of passengers, has now begun the formal process for securing a High Court ruling on taximeters
        
    </div>



<div class="pull-quote">
        <div class="quote-body">"We hope that London's taxi drivers and private hire drivers and operators recognise that this is the sensible approach and will work with us"</div>
        <div class="quote-footer">
            <div class="quotee-name">Leon Daniels</div>
            <div class="quotee-job-title">Managing Director of Surface Transport, TfL</div>
        </div>
</div>

 <div class="on-this-page">

        <p>Formal 'letters before action' have now been issued to Uber and the main trade bodies - the Licensed Taxi Drivers Association and the Licensed Private Hire Car Association - proposing that they will be called to take part in the action being brought by TfL.</p>
        <p>TfL is seeking a High Court ruling on whether smart phones that use GPS technology to measure the time and distance of a journey and then receive information about fares comply with current law on 'taximeters', which can only be used in London by taxis.&nbsp;</p>
        <p>The rapid pace at which smart phone based technology has been developing in recent years has led to a need for clarity about what is required in order for apps to comply with the regulatory framework in London and to ensure there is a level playing field for all operators.&nbsp;</p>
        <p>TfL set out its provisional view that smart phones used by private hire drivers do not constitute the equipping of a vehicle with a 'taximeter'. </p>
        <p>However, given the level of concern among the trade, and the fact that some of the legislation in this area is unclear and able to be interpreted in various ways, TfL is inviting the High Court to give a binding determination on this issue.</p>
        <p>This move has been welcomed by the pre-eminent authority on taxi law in England and Wales, James Button.James Button said: </p>
        <p>'The law on this issue is currently uncertain and open to interpretation. It is therefore a sensible approach to seek a binding ruling from the High Court, where all parties can present their views and the Court will clarify the position.'</p>
        <p>Leon Daniels, TfL's Managing Director of Surface Transport, said: </p>
        <p>'The process for securing a High Court ruling on the issue of taximeters is now underway. We hope that London's taxi drivers and private hire drivers and operators recognise that this is the sensible approach and will work with us.'</p>
        <p>We welcome developments that make life easier for passengers.&nbsp; As in many other areas of transport and retail services apps can offer passengers the potential of better and more convenient services, but their use must be legal and on the issue of taximeters the law is unclear.&nbsp; We have taken a provisional view, and a binding High Court ruling will bring clarity on this issue for all parties.'</p>
         
         
        <hr />
        Notes to Editors:
         
        <ul>
            <li>A wide range of action is being taken by TfL to ensure that taxi and private hire passengers can benefit from new technology whilst being assured that the highest safety standards are being maintained. </li>
            <li>This includes consulting the trades on what amendments may be necessary to the regulations on recording particulars of private hire bookings, including journey destinations, to keep them clear and relevant in a changing world and to promote public safety.</li>
            <li>TfL has also carried out its largest ever compliance investigation - scrutinising Uber's record keeping and business model. </li>
            <li>TfL has found that Uber meets the current requirements on record keeping, including in relation to ensuring its drivers hold the relevant licenses and insurance. </li>
            <li>TfL remains concerned about certain technical aspects of Uber's operating model and this is being addressed with the operator.&nbsp;</li>
        </ul>
    

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">
<div class="share-widget-wrapper"></div>
       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype: -Formal process underway for High Court ruling on taximeters -->

 
 
        
        
            @{ViewBag.Description = "Formal process underway for High Court ruling on taximeters";}
        
        


 