


@{ViewBag.Title = "Innovative trials to further improve cycle safety across London";}
        
        
<div class="r">
    <div class="breadcrumb-container" role="navigation">
        <span id="breadcrumb-label" class="visually-hidden">You are here:</span>
        <ol class="breadcrumbs clearfix" aria-labelledby="breadcrumb-label">
            <li class="home">
                <a href="/">
                    <span class="hide-text">Home</span>
                </a>
            </li>
            
                <li>
                    <a href="/info-for/media/index">Media</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases">Press releases</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases/2014">2014</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases/2014/june">June</a>
                </li>
                
                <li>
                    <span class="last-breadcrumb">Innovative trials to further improve cycle safety across London</span>
                </li>
            
 
            
 
            
 
            
 
            
 
        </ul>
    </div>
</div>
     
 
<div class="r">
    <div class="headline-container plain">
        <h1>Innovative trials to further improve cycle safety across London</h1>
        <div class="content-page-press-release">
        13 June 2014
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        Innovative trials and new design standards to further improve cycle safety across London
        
    </div>



 <div class="on-this-page">

        <p>As it embarks on an unprecedented programme of improvement to
        cycling infrastructure, Transport for London (TfL) has outlined a range of
        innovative trials and initiatives, which will begin later this year as part of
        the continuing work to make the capital's roads safer for everyone.&nbsp;
        </p>
        <p>The
        work, which will include making bicycles more easily visible and vehicle
        braking systems more responsive, forms part of TfL's revised Cycle Safety
        Action Plan which was published for public comment today.
        &nbsp;
        </p>
        <p>The fully updated London Cycling Design Standards, which inform
        the work of those designing cycling infrastructure in the capital, have also
        been published for public consultation today to help further transform London's
        streets with world leading cycling provision.
        &nbsp;
        </p>
        <p>
        One of TfL's top priorities is to reduce by 40 per cent the number
        of people killed or seriously injured on London's roads by 2020. Recently, the
        Mayor and TfL published six commitments that are guiding initiatives to deliver
        this, and action is being taken to prioritise the safety of the most vulnerable
        road users:&nbsp; pedestrians, cyclists and motorcyclists.
        &nbsp;
        </p>
        <p>The revised Cycle Safety Action Plan builds on the previous plan
        published in 2010, and contains 32 new actions which TfL, the police, London
        boroughs and all organisations involved in making cycling safer will work
        together to deliver between now and 2020. &nbsp;New actions within the Plan
        include:
        &nbsp;
        &middot;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        </p>
        <p>Helping to reduce HGV traffic
        during peak hours by trialling innovative quiet vehicle technology to help expand
        off-peak delivery. This would remove conflicts between cyclists and lorries
        during morning and evening rush hours</p>
        <p>Working with manufacturers to
        develop better designs for side guards in order to further prevent fatal and
        serious injuries, as well as delivering the Safer Lorry Scheme this year</p>
        <p>Carrying out trials of detection
        equipment on London buses to help drivers be more aware of pedestrians and
        cyclists near their vehicles, which if successful could be rolled out across
        London's bus fleet. TfL will also look to trial Intelligent Speed Adaptation
        (ISA), which would monitor and potentially restrict the top speed of buses</p>
        <p>Working with the automotive
        industry to explore how improvements to car design could further protect
        cyclists, such as Autonomous Emergency Braking Systems, which could help make
        vehicles stop more quickly, and the introduction of a EuroNCAP safety rating
        system for cyclists so that car buyers can assess the cycle safety credentials
        of any new vehicle</p>
        <p>Working with cycle manufacturers
        to improve how easy it is to see bicycles by building lights or
        retro-reflective equipment into bike frames</p>
        <p>Continuing to develop and deliver
        the Safer Urban Driving CPC course to help put more than 10,000 freight and
        fleet drivers a year through essential safety training </p>
        <p>Doubling the number of adult
        cyclists receiving advanced skills training by creating a dedicated London
        Virtual Skills Hub. This will allow online booking of cycle training and
        advanced safety skills across London to attract more commuter cyclists to take
        up training.
        &nbsp;
        </p>
        <p>The London Cycling Design Standards have also been comprehensively
        updated to highlight best practice, as well as the lessons from TfL's recent
        trials of innovative measures such as methods of segregation and low-level cycle
        signals. The new design standards reflect the Mayor's Roads Task Force
        'street-types' approach, and are geared towards helping planners and designers
        deliver the ambitions of the Mayor's Vision for Cycling.
        &nbsp;
        </p>
        <p>Andrew Gilligan, The Mayors Cycling Commissioner said: &quot;The Mayor
        is spending hundreds of millions of pounds on better bike infrastructure to
        cater for the vast growth in cycling on London's roads. This document aims to
        see that those projects are delivered to higher standards. We do not expect perfection,
        and the best must not be the enemy of the good. But as the Mayor has said,
        everything we pay for must be done at least adequately, or not at all.
        &nbsp;
        &quot;At the same time, we know that TfL and City Hall have no monopoly
        of wisdom. The standards will be consulted on before they become final by the
        end of the year. We welcome ideas, and we know that many of the ideas which
        people liked most in the cycle vision were pioneered in the London boroughs.&quot;
        &nbsp;
        </p>
        <p>Leon Daniels, Managing Director of Surface Transport at TfL said:
        &quot;Cycling in London is now commonplace on our roads with around 600,000 cycle
        journeys taking place every day across the capital, the equivalent to almost
        ten per cent of daily bus journeys and about a fifth of trips made by tube
        passengers. These proposed revisions to the London Cycling Design Standards, as
        well as the revised Cycle Safety Action Plan, will help us further encourage
        more to take to two wheels, while ensuring that they can do so in the safest
        and most direct way possible.&quot;
        &nbsp;
        </p>
        <p>TfL is also formally responding to the Department for Transport
        (DfT)'s consultation on changes to the national regulations governing roadsigns
        and markings. The proposed new document by the DfT includes a number of changes
        which have been heavily lobbied for by the Mayor and TfL during 2013, including
        the ability to install low level, cycle-specific traffic lights; improvements
        to pedestrian and cyclist crossings and relaxation of requirements for traffic
        regulation orders for many cycle friendly facilities such as mandatory cycle
        lanes. To support these steps, the London Cycling Design Standards includes the
        regulatory innovations proposed by DfT.
        &nbsp;
        </p>
        <p>For more information on the work TfL is carrying out to improve
        cycle safety across London, visit www.tfl.gov.uk/cyclesafety</p>
         
        <hr />
         
        <ul>
            <li>In March 2013, the Mayor launched his Vision for Cycling in
            London, which detailed his &pound;913m programme to improve infrastructure and safety
            for cyclists in the capital</li>
            <li>Public comment on the London Cycling Design Standards opens on 13
            June and runs until 25 July - <a href="https://consultations.tfl.gov.uk/cycling/draft-london-cycling-design-standards">https://consultations.tfl.gov.uk/cycling/draft-london-cycling-design-standards</a></li>
            <li>Public comment on the Cycle Safety Action Plan opens on 13 June
            and runs until 25 July -&nbsp; <a href="https://consultations.tfl.gov.uk/cycling/draft-safety-action-plan/consult_view">https://consultations.tfl.gov.uk/cycling/draft-safety-action-plan/consult_view</a></li>
            <li>TfL will shortly begin public consultation on new segregated cycle
            lanes as part of Cycle Superhighway 5 at Vauxhall, improvements to Archway and
            Old Street roundabout, and the new East-West cycle-route along Victoria
            Embankment, with a look to deliver all these as quickly as possible. All these
            schemes will be built to the new stringent design standards, ensuring that the
            right approach is taken when making improvements at locations</li>
            <li>In June 2013, the Mayor and Transport for London published Safe
            Streets for London: an ambitious and comprehensive plan to reduce further the
            number of people killed or seriously injured in London by 40 per cent by 2020: http://www.tfl.gov.uk/cdn/static/cms/documents/safe-streets-for-london.pdf</li>
            <li>In December 2013, TfL published plans for a Central London Grid &#45;
            a massive network of fully-segregated main road cycle routes and back-street
            'Quietway' cycle routes that will make cycling in Zone 1 easier and less
            intimidating. Many of them will run in parallel with the Tube lines. In March
            2014, the winners of the 'Mini-Holland' competition will be announced &#45; where
            four outer London boroughs will receive &pound;100 million between them for dramatic
            and transformational pro-cycling change</li>
            <li>In February 2014 the Mayor and TfL published six safety
            commitments, which supports the plan and brings focus to the range of actions
            needed by us and our partners to make our streets safer: <a href="http://www.tfl.gov.uk/cdn/static/cms/documents/safe-london-streets-our-six-road-safety-commitments.pdf">http://www.tfl.gov.uk/cdn/static/cms/documents/safe-london-streets-our-six-road-safety-commitments.pdf</a>&nbsp;&nbsp;&nbsp;
            </li>
            <li>The six key commitments are:</li>
        </ul>
        <ol>
            <li>To lead the way in achieving a 40 per cent reduction in the number
            of people killed or seriously injured on the capital's roads by 2020 - with a
            longer term ambition of freeing London's roads from death and serious injury
            </li>
            <li>To prioritise safety of the most vulnerable groups - pedestrians,
            cyclists and motorcyclists - which make up 80 per cent of serious and fatal
            collisions
            </li>
            <li>To provide substantial funding for road safety, invested in the
            most effective and innovative schemes
            </li>
            <li>To increase efforts with the police and enforcement agencies in
            tackling illegal, dangerous and careless road user behaviour that puts people
            at risk
            </li>
            <li>To campaign for changes in national and EU law to make roads,
            vehicles and drivers safer</li>
            <li>To work in partnership with boroughs and London's road safety
            stakeholders to spread best practice and share data and information</li>
        </ol>
        <ul>
            <li>Earlier this year, &nbsp;the Mayor confirmed that regular road
            safety police operations, based on the original &quot;Operation Safeway&quot; which ran
            at the end of last year, will continue to operate across London for two days
            every month, on unannounced days. The multi-agency Industrial HGV Task Force also
            continues to operate across London, targeting non-compliant heavy goods
            (particularly construction-related) vehicles, drivers and operators using the
            capital's roads</li>
            <li>TfL is working with London Councils to deliver the Mayor's plans
            for a Safer Lorry Scheme across London, which would see dangerous vehicles not
            fitted with sideguards or mirrors giving the driver a better view of cyclists
            and pedestrians around their vehicles, banned from London. Subject to a formal
            consultation and legal procedures, which will start later this month, the
            scheme could be introduced by the end of the year.</li>
        </ul>
    

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
                <a href="/info-for/media/index" class="heading">
                    <h2 id="sub-menu-heading">Media<span class="visually-hidden"> navigation</span></h2>
                </a>
                <ul>
                    
                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases">Press releases</a></div>
                                <ul>
                                    
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2020">2020</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019">2019</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018">2018</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017">2017</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016">2016</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015">2015</a></div></li>
                            
 
                                        <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014">2014</a></div>
                                        <ul>
                                            
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/december">December</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/november">November</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/october">October</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/september">September</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/august">August</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/july">July</a></div></li>
                                    
 
                                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/june">June</a></div>
                                                <ul>
                                                    
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
                                                </ul>
                                            
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/may">May</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/april">April</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/march">March</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/february">February</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/january">January</a></div></li>
                                    
 
                                        </ul>
                                    </li>
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2013">2013</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2012">2012</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2011">2011</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2010">2010</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2009">2009</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2008">2008</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2007">2007</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2006">2006</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2005">2005</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2004">2004</a></div></li>
                            
 
                                </ul>
                            </li>
 
                                <li><div class="link-wrapper"><a href="/info-for/media/photos">Photos</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/media/contact-the-press-office">Contact the Press Office</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/filming-and-photography">Filming & photography</a></div></li>
                            
 
                </ul>
            
 
 
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype: -Home-Media-Media-Press releases-2014-June-Innovative trials to further improve cycle safety across London -->

 
 
        
        
            @{ViewBag.Description = "Innovative trials and new design standards to further improve cycle safety across London";}
        
        


 