


@{ViewBag.Title = "Keeping passengers moving during Putney Bridge works";}
        
        
<div class="r">
    <div class="breadcrumb-container" role="navigation">
        <span id="breadcrumb-label" class="visually-hidden">You are here:</span>
        <ol class="breadcrumbs clearfix" aria-labelledby="breadcrumb-label">
            <li class="home">
                <a href="/">
                    <span class="hide-text">Home</span>
                </a>
            </li>
            
                <li>
                    <a href="/info-for/media/index">Media</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases">Press releases</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases/2014">2014</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases/2014/june">June</a>
                </li>
                
                <li>
                    <span class="last-breadcrumb">Keeping passengers moving during Putney Bridge works</span>
                </li>
            
 
            
 
            
 
            
 
            
 
        </ul>
    </div>
</div>
     
 
<div class="r">
    <div class="headline-container plain">
        <h1>Keeping passengers moving during Putney Bridge works</h1>
        <div class="content-page-press-release">
        24 June 2014
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        Buses will terminate at either end of bridge with passengers needing to make their way across the bridge to complete their journey 
        
    </div>



<div class="pull-quote">
        <div class="quote-body">"During Wandsworth's forthcoming works, we will be working hard to ensure that any bus passengers affected by the works can continue their journey in the quickest and easiest way possible. By providing these transfer tickets to users of Oyster and contactless pay as you go, all passengers will only have to pay once to complete their journey"</div>
        <div class="quote-footer">
            <div class="quotee-name">Mike Weston</div>
            <div class="quotee-job-title">Director of London Buses</div>
        </div>
</div>

 <div class="on-this-page">

        <ul>
            <li>Passengers affected by bridge closure will only have to pay once</li>
            <li>For more information on the works visit www.wandsworth.gov.uk/putneybridge </li>
        </ul>
        <p>In advance of Wandsworth Council beginning essential repair works to Putney Bridge from 14 July, Transport for London (TfL) has set out plans to ensure that bus passengers don't lose out or pay twice when their journeys are affected by the bridge closure.</p>
        <p>Vehicles, including buses, will not be able to use the bridge during the works and will need to use alternative routes to complete their journey. </p>
        <p>Pedestrians will still be able to cross the bridge, as will cyclists - although they will need to dismount. </p>
        <p>London Buses will operate services from both ends of the bridge, and bus passengers who would usually cross the bridge will need to make their way across to the other side to continue their journey. </p>
        <p>Bus passengers from affected routes who cross the bridge on foot will be able to continue their journey on to appropriate services from the other side.</p>
        <p>These works will affect journeys over a wider area than the immediate vicinity of the works. </p>
        <p>Traffic is expected to be congested around the works especially during morning and evening peaks, with alternative river crossings expected to be most disrupted. </p>
        <p>Drivers are therefore advised to allow extra time for your journey and, where possible, change their route to avoid disruption. </p>
        <p>Variable messaging signs will be placed advising drivers of the closures, and TfL will be providing up to date information through the &#64;tfltrafficnews twitter feed and <a href="http://www.tfl.gov.uk/trafficnews">website</a> to help drivers plan their journey.</p>
        <p>Passengers with Travelcards or who travel for free under a concession (around 90 per cent of passengers) will be able to walk across the bridge and continue their journey as normal. </p>
        <p>Anyone using Oyster pay as you go (PAYG) or a contactless payment card (who make up around 10 per cent of affected passengers) will be able to obtain a &quot;transfer voucher&quot; from the bus driver or a special &quot;transfer card&quot; from dedicated members of staff, which will mean that they also will not have to pay for the second leg of their journey. </p>
        <p>Transfer cards and vouchers can be used in conjunction with an Oyster PAYG or Contactless payment cards which are validated within 60 minutes on a previous bus journey on routes 14, 22, 39, 74, 85, 93, 220, 265, 270, 424, 430, N22 and N74. </p>
        <p>Passengers who have a transfer card can use it throughout the closure and will not need to obtain a transfer voucher from the driver on each occasion.</p>
        <p>During the works, the frequency of the Route 72 between Roehampton and Hammersmith will be doubled (from around 7 to 15 buses an hour Monday to Saturday daytime and from 5 to 10 buses an hour on Sunday daytime) to provide an alternative link to the London Underground (LU) network from that part of London. </p>
        <p>TfL will also have additional staff in place on either side of Putney Bridge to help direct passengers, issue &quot;transfer cards&quot; and answer any questions about where to get buses from.</p>
        <p>Mike Weston, Director of London Buses, said: &quot;During Wandsworth's forthcoming works, we will be working hard to ensure that any bus passengers affected by the works can continue their journey in the quickest and easiest way possible. </p>
        <p>By providing these transfer tickets to users of Oyster and contactless pay as you go, all passengers will only have to pay once to complete their journey.&quot; </p>
        <p>Details of bus routes affected by the closure of Putney Bridge can be found <a href="http://www.tfl.gov.uk/putney-bridge-closure">here</a>.</p>
         
        <hr />
         
        <p>Notes to Editors:</p>
        <ul>
            <li>For more information about the works taking place on Putney bridge &#45; please visit Wandsworth Councils website - <a href="http://wandsworth.gov.uk/putneybridge">http://wandsworth.gov.uk/putneybridge</a> </li>
            <li>From 6 July you will no longer be able to use cash to pay for your fare on London buses.&nbsp; You will be able to use an Oyster or a contactless payment card to pay as you go &#45; www.tfl.gov.uk/waystopay</li>
            <li>During the closure of Putney Bridge, customers travelling during the morning peak time (07:00-10:00) can expect additional traffic on across Kew Bridge towards Chiswick Roundabout, along the A316 across Chiswick bridge towards Hogarth roundabout, eastbound on the south circular towards and through the Wandsworth one way system, northbound journeys across Hammersmith Bridge, and around Clapham Junction.&nbsp;</li>
        </ul>
    

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
                <a href="/info-for/media/index" class="heading">
                    <h2 id="sub-menu-heading">Media<span class="visually-hidden"> navigation</span></h2>
                </a>
                <ul>
                    
                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases">Press releases</a></div>
                                <ul>
                                    
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2020">2020</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019">2019</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018">2018</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017">2017</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016">2016</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015">2015</a></div></li>
                            
 
                                        <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014">2014</a></div>
                                        <ul>
                                            
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/december">December</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/november">November</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/october">October</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/september">September</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/august">August</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/july">July</a></div></li>
                                    
 
                                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/june">June</a></div>
                                                <ul>
                                                    
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
                                                </ul>
                                            
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/may">May</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/april">April</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/march">March</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/february">February</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/january">January</a></div></li>
                                    
 
                                        </ul>
                                    </li>
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2013">2013</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2012">2012</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2011">2011</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2010">2010</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2009">2009</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2008">2008</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2007">2007</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2006">2006</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2005">2005</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2004">2004</a></div></li>
                            
 
                                </ul>
                            </li>
 
                                <li><div class="link-wrapper"><a href="/info-for/media/photos">Photos</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/media/contact-the-press-office">Contact the Press Office</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/filming-and-photography">Filming & photography</a></div></li>
                            
 
                </ul>
            
 
 
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype: -Home-Media-Media-Press releases-2014-June-Keeping passengers moving during Putney Bridge works -->

 
 
        
        
            @{ViewBag.Description = "Keeping passengers moving during Putney Bridge works";}
        
        


 