


@{ViewBag.Title = "Last day in service for the C-stock as modern air-conditioned trains introduced";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>Last day in service for the C-stock as modern air-conditioned trains introduced</h1>
        <div class="content-page-press-release">
        03 June 2014
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">



<div class="pull-quote">
        <div class="quote-body">"There is still much to do but, with each
improvement that we are making, we are building a Tube network truly fit for
the future"</div>
        <div class="quote-footer">
            <div class="quotee-name">Phil Hufton</div>
            <div class="quotee-job-title">London Underground's Chief Operating Officer</div>
        </div>
</div>

 <div class="on-this-page">

        <p>After 40 years of service, old trains on the
        Edgware Road to Wimbledon branch bow out</p>
        <p>Brand new&nbsp;walk through air-conditioned
        trains now serving the branch
        &nbsp;
        </p>
        <p>One of the Tube's oldest trains bowed out of the commuter run
        today (Tuesday 3 June) when the last of the old C-stock trains on the Edgware
        Road to Wimbledon branch took commuters to and from work for the final time.
        &nbsp;
        &nbsp;
        </p>
        <p>The C-stock trains have&nbsp;operated on the Circle, Hammersmith
        &amp; City and on the District line between Edgware Road and Wimbledon for over
        40 years, but have become increasingly unreliable and costly to maintain as
        time has gone on. </p>
        <p>Since 2010,&nbsp;new modern walk through air-conditioned
        trains have been introduced to the Metropolitan, Hammersmith and City and
        Circle lines - bringing increased capacity and more pleasant and reliable
        journeys to millions of passengers. </p>
        <p>The new trains are more accessible,
        spacious, better
        audio and visual information systems, CCTV and an&nbsp;energy efficient braking
        system.
        &nbsp;
        </p>
        <p>Phil Hufton, LU's
        Chief Operating Officer, said:&nbsp; &quot;These old trains have been great servants
        to the millions of people who have used the branch over the years. But&nbsp;
        after more than 40 years in service, it is now time for the next generation of
        &nbsp;trains that are walk through, air conditioned and more accessible to
        transport commuters for the next 40 years.
        &nbsp; We
        are carrying more passengers today than ever before, with more than 1.265
        billion journeys made in the last year.&nbsp; Much work has already been done
        with the completion of the Victoria and Jubilee lines upgrades, which have
        provided increased reliability and capacity, and the Northern line
        modernisation will be completed later this year. However we need to continue
        with investing and modernising the network to meet the growing demand&nbsp;of a rapidly
        increasing population.&nbsp;There is still much to do but, with each
        improvement that we are making, we are building a Tube network truly fit for
        the future.&quot;
        &nbsp;
        </p>
        <p>In total, 191 trains are being introduced on the
        Circle, District, Hammersmith &amp; City and Metropolitan lines, which together
        represent 40 per cent of the Tube network.&nbsp;</p>
        <p>The District line is the last of the four
        sub-surface lines to have the new trains introduced, starting with the
        Wimbledon to Edgware Road branch, which commenced earlier this year. </p>
        <p>The full
        fleet will be in place in 2016. The new trains will be complemented by a brand new signalling
        system, which will boost capacity and make journeys faster and even more
        reliable.
        &nbsp;
        </p>
        <p>The new trains
        are part of a huge programme of modernisation being carried out by London
        Underground, with major stations, trains, track and
        signalling being modernised or replaced to provide more capacity for a growing
        city. LU's plans to improve customer service will also see the public areas of
        stations &#45; ticket halls, ticket gates and platforms &#45; become personalised
        customer service centres, replicating the standards of service offered during
        the London 2012 Games.
        &nbsp;
        </p>
         
        <hr />
         
        <ul>
            <li>There will be a heritage run of the C-stock train on Sunday 29th
            June. This is a ticketed event with money being raised for The Railway Children
            charity</li>
            <li>The final C-stock service left Wimbledon at 09:05hrs this morning</li>
            <li>As well as air conditioning, the new
            trains&nbsp;also have CCTV coverage in each carriage and improved
            accessibility</li>
            <li>The SSR lines carry one third of the Underground's passengers and
            covers 300km of track</li>
            <li>The upgrade of the Sub-Surface Railway will deliver substantial
            increases in capacity: 65 per cent on the Circle and Hammersmith &amp; City
            lines; 24 per cent on the District line; and 27 per cent on the Metropolitan
            line</li>
            <li>The sub-surface fleet is being built by Bombardier Transportation
            in Derby who will deliver a total of 191 trains</li>
        </ul>
    

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">
<div class="share-widget-wrapper"></div>
       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype: -Last day in service for the C-stock as modern air-conditioned trains introduced -->

 
 
        
        
            @{ViewBag.Description = "Press releases and news articles from Transport for London";}
        
        


 