


@{ViewBag.Title = "One week to go! London glows yellow for the return of Tour de France ";}
        
        
<div class="r">
    <div class="breadcrumb-container" role="navigation">
        <span id="breadcrumb-label" class="visually-hidden">You are here:</span>
        <ol class="breadcrumbs clearfix" aria-labelledby="breadcrumb-label">
            <li class="home">
                <a href="/">
                    <span class="hide-text">Home</span>
                </a>
            </li>
            
                <li>
                    <a href="/info-for/media/index">Media</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases">Press releases</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases/2014">2014</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases/2014/june">June</a>
                </li>
                
                <li>
                    <span class="last-breadcrumb">One week to go! London glows yellow for the return of Tour de France </span>
                </li>
            
 
            
 
            
 
            
 
            
 
        </ul>
    </div>
</div>
     
 
<div class="r">
    <div class="headline-container plain">
        <h1>One week to go! London glows yellow for the return of Tour de France </h1>
        <div class="content-page-press-release">
        30 June 2014
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">



<div class="pull-quote">
        <div class="quote-body">"We proved in 2012 what a fantastic show our city is capable of putting on and with the anticipation building I'm in no doubt that Le Tour in London will be a triumph"</div>
        <div class="quote-footer">
            <div class="quotee-name">Boris Johnson</div>
            <div class="quotee-job-title">Mayor of London</div>
        </div>
</div>

 <div class="on-this-page">

        <ul>
            <li>Landmarks across London turn yellow in
            the build up to the Tour de France's return to the capital</li>
            <li>Roads will be closed from 10am for the
            Tour's return</li>
            <li>Tube and Rail will be the best way to
            get around and enjoy the day.&nbsp; Stations along the route will be busy
            during the evening peak
            </li>
            <li>Detailed
            travel advice available at tfl.gov.uk/tourdefrance</li>
        </ul>
        <p>Landmarks across the capital are glowing yellow in celebration of the
        Tour de France's return on Monday 7 July.&nbsp;
        </p>
        <p>Prominent London landmarks such as Tower 42, BT Tower, Marble Arch, King's
        Cross Station Concourse and Hungerford Bridge have all gone jaune to showcase
        the capital as the eyes of the world turn to London. </p>
        <p>Two special edition train
        carriages on the Docklands Light Railway (DLR) have also been wrapped, one in
        yellow and one in green, to celebrate the tour whizzing through east
        London.&nbsp;
        </p>
        <p>The Mayor of London, Boris Johnson, said: &quot;With only one week to go until the
        Tour de France reaches London, we are bringing some jaune of our own to
        proceedings. Landmarks from Marble Arch, the BT Tower and even DLR trains are
        turning bright yellow to welcome the world's elite cyclists to the capital. We
        proved in 2012 what a fantastic show our city is capable of putting on and with
        the anticipation building I'm in no doubt that Le Tour in London will be a
        triumph.&quot;
        </p>
        <p>The Tour de France &#45; the world's largest annual sporting event &#45; comes to
        London on Monday 7 July after two stages in Yorkshire. Around 200 elite
        cyclists will travel from Cambridge, through Essex and into London before a
        spectacular finish on The Mall. </p>
        <p>The iconic Tour de France will draw people onto
        the streets of London from near and far, and help to inspire more people to
        take up cycling.
        Transport for London (TfL) has been undertaking an extensive programme of
        public engagement&nbsp;and communication regarding the arrival of the Tour.
        </p>
        <p>This is designed to ensure people living and working in London can understand
        the potential impacts of the Tour and plan ahead to avoid unnecessary
        inconvenience.
        </p>
        <p>On Monday 7 July, road closures for the event through north, east, and central
        London will begin after the morning peak at 10:00, with roads reopening as
        quickly as possible once the Tour has passed through and it is safe to do so.
        </p>
        <p>TfL anticipates that all roads will be reopened by 18:00.&nbsp;
        Closures will affect the boroughs of Redbridge, Waltham Forest, Hackney,
        Newham, Tower Hamlets, City, Westminster, Lambeth and Southwark. Tower,
        Southwark and Westminster Bridges will be closed for much of the day however
        there are no planned closures on any other major river crossings in Central
        London. </p>
        <p>Maps showing the areas inside the M25 that will be affected by the race
        are available at tfl.gov.uk/tourdefrance, along with a range
        of advice.
        Pedestrians will be able to cross the route at key crossing points and we are
        working with local businesses close to the route to ensure that disruption is
        kept to a minimum. Tube and rail services will be the best way to get around
        and enjoy the day. </p>
        <p>Stations along the route, and particularly in Zone 1 are
        expected to be busy from midday until around 18:00.
        </p>
        <p>To avoid delays drivers are advised to, wherever possible, avoid areas near the
        event routes in the affected parts of Cambridgeshire, Essex and London. </p>
        <p>For up
        to date information on how transport services are operating, Londoners are
        advised to check before they travel at tfl.gov.uk and follow &#64;TfLTravelAlerts
        (Tube, DLR and London Overground), &#64;TfLTrafficNews (roads) and &#64;TfLBusAlerts
        (buses).
        </p>
        <p>
        Garrett Emmerson, Chief Operating Officer of Surface Transport at TfL, said:
        &quot;In one week's time the world's greatest cycling race will make its exciting
        return to the streets of London. We've been working long and hard to plan for
        the return of the Tour to the capital and now we are asking Londoners to start
        their planning too.
        "London will be open for business as usual and we will help by keeping the
        capital moving, however, roads around the race route will be extremely busy, so
        we're asking people to plan ahead and preferably use public transport to make
        the most of what I'm sure will be an amazing day, helping to further cement
        London's growing reputation as a major cycling city.&quot;
        </p>
        <p>Hosting world renowned events such as the Tour reinforces London's reputation
        as a world-class host of cultural, sporting and business events. Visitors, both
        domestic and overseas, are brought to the capital by major events, delivering
        direct and indirect economic benefits, and showcasing London to a much wider audience.
        </p>
        <p>There will be a range of ways for Londoners and visitors to get into the spirit
        of the event. Spectators will be able to watch the action pass through local
        roads along the route with the Tour's Publicity Caravan providing entertainment
        and some promotional goodies in the hours before the riders pass through.
        </p>
        <p>
        Alternatively, they can go to a spectator hub in London. These include Hopkins
        Field at Queen Elizabeth Olympic Park and Tour de France official Fan Parks
        located at Green Park and Trafalgar Square, which will be open between Saturday
        5 and Monday 7 July, and will host a variety of activities. </p>
        <p>The spectator hubs
        will be free to attend and an ideal location to watch the race live on giant
        screens and get in the Tour de France spirit.&nbsp;
        Hundreds of volunteers will be hitting the streets of the capital to help
        ensure the success of the third stage of the Tour de France on Monday 7 July.
        These include&nbsp;TfL Ambassadors, Team London Ambassadors and Tour de France
        Hub Tour Makers all providing key advice and assistance to Londoners and
        visitors across London.
        For more information, please visit tfl.gov.uk/tourdefrance</p>
         
         
        <p>
        </p>
        <hr />
         
        <ul>
            <li>Leaflet
            drops to residents and businesses along the route have been carried out, and
            TfL and partners are working with the local boroughs and businesses as well as
            hosting public information sessions to ensure that everyone who wants to can
            enjoy the event and Londoners can plan their journeys and continue to get
            around the city on the day</li>
            <li>The
            Tour de France will kick off a spectacular summer of cycling in London, with
            the exciting event followed by Prudential RideLondon on the 9 and 10 August and
            then the Tour of Britain, which finishes in the capital on 14 September</li>
            <li>The
            Tour de France is the world's largest annual sporting event and covers
            approximately 3,500kms. A worldwide television audience of 3.5billion people
            watch the event annually. There will be 190 countries broadcasting the Tour de
            France and there are 5,000 hours of TV coverage annually. The last time the
            Tour visited England was in 2007 when London hosted the Grand D&eacute;part, which is
            the opening of the race</li>
            <li>This
            summer's cycling events are likely to inspire thousands more Londoners to take
            to two wheels, building on the Mayor's ambition for cycling to be an integral
            part of the transport network. As part of his cycling vision, the Mayor is
            already engaging in a vast &pound;1billion programme of improvements&nbsp; - creating
            a series of enhanced cycling superhighways, urban 'quietways' for more cautious
            cyclists, and turning some outer boroughs into mini-Hollands</li>
            <li>For
            more information on the Mayor's Vision for Cycling visit&nbsp;http://www.tfl.gov.uk/corporate/about-tfl/how-we-work/planning-for-the-future/vision-for-cycling</li>
            <li>Pedestrians
            and cyclists will be able to cross the route at designated crossings, where
            marshals will ensure safety of all. Once the roads close, cyclists will not be
            able to ride on the route roads</li>
            <li>Spectators
            will be able to watch the elite cycling action along the route and also at the
            official Tour de France Fan Parks sites at Green Park and Trafalgar Square and
            spectator hub at Queen Elizabeth Olympic Park. The Fan Park sites will feature
            a wide range of different activities such as live Tour de France racing on the
            big screen, a French-style food market, a Tour de France Museum, interactive
            cycling activities, an outdoor cinema, live music, celebrity appearances and
            shops showcasing all of the latest bike equipment and accessories. Team London
            volunteers will also be on hand across all the Fan Park sites to help
            spectators with local travel information and directions</li>
            <li>The
            Mayor is committed to ensuring London retains its status as the world capital
            of sport, and has set up the Major Events Oversight Board. The board is chaired
            by Sir Edward Lister, and comprises of TfL, the emergency services and other
            key partner agencies. It provides strategic direction and advice to the Mayor
            on the approach to bidding, staging and evaluating major events in London. The
            board ensures that all major road events continue to be carefully considered
            and tightly managed to ensure everyone gets full benefit from the event without
            undue impact on Londoners and London's transport. The board also looks at ways
            to ensure the major events programme is effectively communicated with Londoners,
            visitors, businesses and stakeholders to allow sufficient notice and forward
            planning for everyone.
            &nbsp;
            Events like these
            appeal to Londoners, bring in domestic and overseas visitors and, through media
            coverage, showcase London to a much wider audience across the world. They
            deliver direct and indirect economic benefits. Prudential RideLondon 2013
            delivered &pound;13m spend in its first year. </li>
        </ul>
    

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
                <a href="/info-for/media/index" class="heading">
                    <h2 id="sub-menu-heading">Media<span class="visually-hidden"> navigation</span></h2>
                </a>
                <ul>
                    
                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases">Press releases</a></div>
                                <ul>
                                    
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2020">2020</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019">2019</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018">2018</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017">2017</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016">2016</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015">2015</a></div></li>
                            
 
                                        <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014">2014</a></div>
                                        <ul>
                                            
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/december">December</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/november">November</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/october">October</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/september">September</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/august">August</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/july">July</a></div></li>
                                    
 
                                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/june">June</a></div>
                                                <ul>
                                                    
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
                                                </ul>
                                            
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/may">May</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/april">April</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/march">March</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/february">February</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/january">January</a></div></li>
                                    
 
                                        </ul>
                                    </li>
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2013">2013</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2012">2012</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2011">2011</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2010">2010</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2009">2009</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2008">2008</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2007">2007</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2006">2006</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2005">2005</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2004">2004</a></div></li>
                            
 
                                </ul>
                            </li>
 
                                <li><div class="link-wrapper"><a href="/info-for/media/photos">Photos</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/media/contact-the-press-office">Contact the Press Office</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/filming-and-photography">Filming & photography</a></div></li>
                            
 
                </ul>
            
 
 
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype: -Home-Media-Media-Press releases-2014-June-One week to go! London glows yellow for the return of Tour de France  -->

 
 
        
        
            @{ViewBag.Description = "Press releases and news articles from Transport for London";}
        
        


 