


@{ViewBag.Title = "TfL's live bus arrival data helps keep millions of Londoners moving every day";}
        
        
<div class="r">
    <div class="breadcrumb-container" role="navigation">
        <span id="breadcrumb-label" class="visually-hidden">You are here:</span>
        <ol class="breadcrumbs clearfix" aria-labelledby="breadcrumb-label">
            <li class="home">
                <a href="/">
                    <span class="hide-text">Home</span>
                </a>
            </li>
            
                <li>
                    <a href="/info-for/media/index">Media</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases">Press releases</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases/2014">2014</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases/2014/june">June</a>
                </li>
                
                <li>
                    <span class="last-breadcrumb">TfL’s live bus arrival data helps keep millions of Londoners moving every day</span>
                </li>
            
 
            
 
            
 
            
 
            
 
        </ul>
    </div>
</div>
     
 
<div class="r">
    <div class="headline-container plain">
        <h1>TfL’s live bus arrival data helps keep millions of Londoners moving every day</h1>
        <div class="content-page-press-release">
        10 June 2014
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

<div class="on-this-page">

        <ul>
            <li>Over 60 smart phone apps now powered by
            TfL's free API data feed</li>
            <li>Live bus arrival information available
            for all 19,500 bus stops</li>
            <li>'Countdown' Digital Sign service
            delivering live bus arrival information to a range of public locations
            including hospitals and schools</li>
            <li>Ongoing installation of live bus arrival
            information screens at bus stations
            </li>
        </ul>
        <p>Transport for London's
        (TfL's) live bus information API data feed, a free open data resource that
        currently powers over 60 of the most popular smart phone bus travel apps, is
        two years old.
        &nbsp;
        </p>
        <p>In total 1,914 subscribers
        have requested access to this free open data during the last two years which, alongside
        app developers, is used by academics and universities for scientific research.
        &nbsp;
        </p>
        <p>
        Live bus arrival information
        has helped revolutionise bus travel in the capital, taking away the uncertainty
        about when the next bus is due and allowing passengers to time their arrival at
        the bus stop to perfection.
        &nbsp;
        </p>
        <p>With live bus arrival
        information available at all 19,500 bus stops across the capital, TfL research
        shows that around 13 per cent of all the 6.5 million bus journeys each day
        start with a passenger checking the 'Countdown' service.&nbsp; </p>
        <p>This is
        complimented by 2,500 'Countdown' roadside signs, which now feature easier to
        read amber text on a black background that is of particular help to visually
        impaired passengers.
        &nbsp;
        </p>
        <p>Looking at innovative ways
        to deliver live bus arrival information at a new range of public locations,
        TfL's 'Countdown' Digital Sign service continues to expand and help to make
        London's extensive bus service even more accessible for passengers.&nbsp; </p>
        <p>The
        technology uses existing IT infrastructure and display screens, making it ideal
        for doctors and hospital waiting rooms, schools or retail outlets.&nbsp; </p>
        <p>It is
        already available in locations such as IKEA Wembley, The Royal Marsden NHS
        Foundation Trust and the Royal Borough of Greenwich offices in Eltham and
        Woolwich.&nbsp;
        </p>
        <p>Large digital screens
        providing 'Countdown' live bus arrival information have already been installed
        at Vauxhall and Harrow Bus Stations, with Hammersmith to follow shortly.
        </p>
        <p>Additional sites are being considered following this successful trial.
        &nbsp;
        </p>
        <p>Simon Reed, TfL's Head of
        Technical Services Group, said: &quot;Live bus arrival information has helped
        Londoners make the most of the capital's extensive bus network.&nbsp; Gone is
        the uncertainty of when the next bus is due as our passengers continue to make
        the most of the 'Countdown' service and embrace new delivery methods such as
        apps, digitals signs and improved bus station information which are all enabled
        by the API data feed. These improvements in customer information are all
        designed to put passengers at the heart of the service we provide.&quot;</p>
         
        <hr />
         
        <ul>
            <li>Access
            to TfL's data feeds, including the Live Bus Arrivals API, can be made at www.tfl.gov.uk/developer </li>
            <li>Access
            to smartphone apps developed using our Live Bus Arrivals API can be made at any
            of the leading smartphone app stores</li>
            <li>Passengers
            without smartphones can access Live Bus Arrival information via the TfL
            website, from a fixed computer or web enabled phone, simply visit www.tfl.gov.uk and select 'Live
            Departures'. Passengers without access to the internet can simply text the bus
            stop code to 87287 for detailed bus information at a small charge of 12p plus
            the network operator's standard SMS charge.</li>
            <li>Businesses
            or organisations interested in learning more about the 'Countdown' Digital Sign
            service should email Digisign.countdown&#64;tfl.gov.uk</li>
        </ul>
    

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
                <a href="/info-for/media/index" class="heading">
                    <h2 id="sub-menu-heading">Media<span class="visually-hidden"> navigation</span></h2>
                </a>
                <ul>
                    
                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases">Press releases</a></div>
                                <ul>
                                    
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2020">2020</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019">2019</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018">2018</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017">2017</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016">2016</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015">2015</a></div></li>
                            
 
                                        <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014">2014</a></div>
                                        <ul>
                                            
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/december">December</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/november">November</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/october">October</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/september">September</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/august">August</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/july">July</a></div></li>
                                    
 
                                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/june">June</a></div>
                                                <ul>
                                                    
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
                                                </ul>
                                            
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/may">May</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/april">April</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/march">March</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/february">February</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/january">January</a></div></li>
                                    
 
                                        </ul>
                                    </li>
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2013">2013</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2012">2012</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2011">2011</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2010">2010</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2009">2009</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2008">2008</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2007">2007</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2006">2006</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2005">2005</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2004">2004</a></div></li>
                            
 
                                </ul>
                            </li>
 
                                <li><div class="link-wrapper"><a href="/info-for/media/photos">Photos</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/media/contact-the-press-office">Contact the Press Office</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/filming-and-photography">Filming & photography</a></div></li>
                            
 
                </ul>
            
 
 
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype: -Home-Media-Media-Press releases-2014-June-TfL’s live bus arrival data helps keep millions of Londoners moving every day -->

 
 
        
        
            @{ViewBag.Description = "Press releases and news articles from Transport for London";}
        
        


 