


@{ViewBag.Title = "TfL seeks new sponsor for iconic Cycle Hire scheme";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>TfL seeks new sponsor for iconic Cycle Hire scheme</h1>
        <div class="content-page-press-release">
        02 June 2014
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        Unique opportunity for the private sector to be associated with London's internationally recognisable Cycle Hire scheme
        
    </div>



<div class="pull-quote">
        <div class="quote-body">"This is a unique opportunity for a commercial partner to put their stamp on a mode of London transport that is now as recognisable as our iconic black cabs and red buses"</div>
        <div class="quote-footer">
            <div class="quotee-name">Boris Johnson</div>
            <div class="quotee-job-title">Mayor of London</div>
        </div>
</div>

 <div class="on-this-page">

        <ul>
            <li>New sponsor would gain unprecedented exposure across London and on the TfL network - one of the busiest transport networks in the world</li>
        </ul>
        <ul>
            <li>Sponsorship to include naming the scheme and having branding on the 10,000&nbsp; iconic bikes that have seen 30 million journeys since the launch </li>
        </ul>
        <p>Transport for London (TfL) is today, Monday 2 June, asking for expressions of interest to sponsor the London Cycle Hire scheme. </p>
        <p>This is a unique and exciting chance for the private sector to be associated with one of London's internationally recognisable forms of transport and to gain unprecedented exposure across London. &nbsp;</p>
        <p>This opportunity would see a commercial partner playing a fundamental role in the future development of the scheme, which has fast become part of the fabric of London. </p>
        <p>Sponsorship encompasses a range of naming and branding opportunities, including naming the scheme and having the sponsor's branding on the iconic bikes.&nbsp;</p>
        <p>The scheme has had a fantastic four years with the current sponsor, Barclays, and has seen many exciting developments since the launch with an expansion to east London in 2012 and south west London last year. </p>
        <p>The current sponsorship ends in summer 2015 but a new sponsor could be in place early next year. </p>
        <p>The scheme, which is already the second largest cycle hire system in Europe, recently celebrated 30 million journeys since its launch in 2010 and remains a popular and affordable way to travel around London for work or leisure. </p>
        <p>There are over 10,000 Cycle Hire bikes available across London with everyone from tourists, Hollywood film stars, Premier League footballers, musicians and high profile comedians using the scheme. </p>
        <p>The Mayor of London, Boris Johnson, said: </p>
        <p>'With more than 30 million hires since its launch there can be no doubt that our trusty bicycles have changed the way people get around our great city. </p>
        <p>This is a unique opportunity for a commercial partner to put their stamp on a mode of London transport that is now as recognisable as our iconic black cabs and red buses. </p>
        <p>We are looking for a sponsor whose aspiration matches our own, one with the passion to take the scheme to the next level and get even more people pedalling.'</p>
        <p>TfL's Director of Commercial Development, Graeme Craig, said: </p>
        <p>'Sponsorship of the Cycle Hire scheme offers a unique and exciting opportunity for a leading company to be entwined within the fabric of London. </p>
        <p>The Cycle Hire scheme is already part of London's iconic transport network and will give a new commercial partner an exceptional level of exposure for their brand as we develop the scheme further.'</p>
        <p>A commercial partner would receive a range of unique high visibility opportunities for their brand including:</p>
        <ul>
            <li>Naming the scheme</li>
            <li>Opportunity to select a colour for the scheme &#45; which would also go on the renowned Cycle Hire roundel </li>
            <li>Branding and adding the scheme colour to all street property including vehicles, docking points and pay terminals, as well as staff uniforms and membership keys </li>
            <li>Having the brand on extensive public facing communication materials including pan-London marketing campaigns, press releases and promotional events</li>
        </ul>
        <p>Documents setting out the full range of rights on offer will be available at www.tfl.gov.uk/cyclehiresponsorship. </p>
        <p>Interested parties are encouraged to register their interest now via <a href="mailto:londoncyclehire2015&#64;tfl.gov.uk">londoncyclehire2015&#64;tfl.gov.uk</a>. </p>
        <p>It is anticipated that an official Cycle Hire commercial partner will be announced early next year. </p>
        <p>This summer will see a series of cycling events in London which include the first ever Cycle Hire race in at London Nocturne on Saturday 7 June, the return of the Tour de France, Prudential RideLondon and the Tour of Britain - together they will help to cement London's reputation as a true cycling city and will inspire thousands more Londoners to take to two wheels, building on the Mayor's ambition for cycling to be an integral part of the transport network. </p>
        <p>The Mayor is already delivering a vast &pound;1billion programme of improvements as part of his cycling vision - creating a series of major new segregated cycle routes, enhanced cycling superhighways, urban quietways and turning some outer London boroughs into Mini-Hollands.</p>
         
         
        <hr />
        Notes to Editors:
         
        <ul>
            <li>The sponsorship contract would be over a seven year period with a minimum &pound;5.5 million investment from the sponsor per year;</li>
            <li>A formal tender document setting out the full range of rights on offer will be available on 8 July <a href="http://www.tfl.gov.uk/cyclehiresponsorship">here</a>. Interested parties are encouraged to register their interest now via <a href="mailto:londoncyclehire2015&#64;tfl.gov.uk">londoncyclehire2015&#64;tfl.gov.uk</a>.</li>
        </ul>
    

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">
<div class="share-widget-wrapper"></div>
       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype: -TfL seeks new sponsor for iconic Cycle Hire scheme -->

 
 
        
        
            @{ViewBag.Description = "TfL seeks new sponsor for iconic Cycle Hire scheme";}
        
        


 