


@{ViewBag.Title = "TfL makes it simpler for customers to get a refund for a delayed journey";}
        
        
<div class="r">
    <div class="breadcrumb-container" role="navigation">
        <span id="breadcrumb-label" class="visually-hidden">You are here:</span>
        <ol class="breadcrumbs clearfix" aria-labelledby="breadcrumb-label">
            <li class="home">
                <a href="/">
                    <span class="hide-text">Home</span>
                </a>
            </li>
            
                <li>
                    <a href="/info-for/media/index">Media</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases">Press releases</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases/2014">2014</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases/2014/june">June</a>
                </li>
                
                <li>
                    <span class="last-breadcrumb">TfL makes it simpler for customers to get a refund for a delayed journey</span>
                </li>
            
 
            
 
            
 
            
 
            
 
        </ul>
    </div>
</div>
     
 
<div class="r">
    <div class="headline-container plain">
        <h1>TfL makes it simpler for customers to get a refund for a delayed journey</h1>
        <div class="content-page-press-release">
        20 June 2014
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">



 <div class="on-this-page">

        <ul>
            <li>Latest
            step to&nbsp; improve customer service</li>
            <li>Customers
            can now get a refund for service delays through an online Oyster account
            instead of form filling&nbsp;&nbsp;&nbsp;&nbsp;
            </li>
            <li>Refunds
            processed faster and more conveniently for customers
            </li>
        </ul>
        <p>Transport for
        London (TfL) is making it simpler for customers to get a refund through their
        Oyster online account if their journey is delayed.
        </p>
        <p>Available from Monday (23 June), the new service delay refund process can be
        used by all customers who have experienced a delay to their journey within
        TfL's control of 15 minutes or more on London Underground and DLR or 30 minutes
        or more on London Overground.
        Online service delay refunds replace the lengthy online and paper charter refund
        forms that previously needed to be completed each time a delay was experienced.
        </p>
        <p>After signing up for an online account, customers will only need to enter the
        details of their delayed journey, rather than all of their personal and Oyster
        or Travelcard details each time they apply.
        </p>
        <p>This simpler process will also speed up payment, with most refunds now being
        paid within seven days instead of 28 days.
        </p>
        <p>All customers, including those travelling with magnetic paper tickets, will be
        able to take advantage of this new service.
        </p>
        <p>Customers unable to sign up for an online account can call TfL Customer
        Services (0343 222 1234) where an account will be set up on their behalf and
        used to apply for refunds.
        </p>
        <p>This will also create a consistent process across London Underground, DLR and
        London Overground services, reducing the print and administration costs of
        manual forms and paying refunds directly back to customers' Oyster cards as pay
        as you go credit or to a bank account.
        </p>
        <p>Shashi Verma, TfL's Director of Customer Experience, said: &quot;Our transport
        services are becoming ever more reliable, but we want to make the process for
        getting a refund simpler and easier for those occasions when there has been a
        delay within our control.
        </p>
        <p>
        "We recommend that all customers sign up for an online account, which also
        allows Oyster customers to view their journey history, fares paid and get a
        refund for an incomplete journey. Customers will be also able to see the status
        of their refund."
        </p>
        <p>Customers are eligible for a refund of the single pay as you go fare for a
        journey, or single cash fare if they bought a single or return paper ticket, if
        it is delayed for a reason within TfL's control.
        When acceptance of contactless
        payment cards is launched across the Tube and rail network later in the year,
        customers will follow the same process to get a service delay refund.
        For major disruption, TfL routinely issues automatic refunds to Oyster
        customers affected which are collected by customers when they next touch in at
        their regular station.
        &nbsp;
        Registering an Oyster
        card&nbsp;also provides the additional benefit of having the Travelcard or
        balance protected if the card is lost or stolen</p>
         
        <hr />
         
        <ul>
            <li>There
            is no change to the eligibility criteria for a refund. More detail on service
            delay refunds can be found at this link www.tfl.gov.uk/service-delay-refunds
            which goes live on Monday 23 June</li>
            <li>Factors
            that are not within TfL's control and are therefore not eligible for a refund
            include security alerts, a customer incident eg person ill on a train,
            industrial action, planned engineering works and adverse weather conditions</li>
            <li>Contactless
            payments on the Tube, DLR and London Overground will be launched later this
            year. A pilot of around 5,000 customers is currently running, allowing them to
            use their contactless payment cards on the network ahead of the launch.
            &nbsp; </li>
        </ul>
    

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
                <a href="/info-for/media/index" class="heading">
                    <h2 id="sub-menu-heading">Media<span class="visually-hidden"> navigation</span></h2>
                </a>
                <ul>
                    
                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases">Press releases</a></div>
                                <ul>
                                    
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2020">2020</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019">2019</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018">2018</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017">2017</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016">2016</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015">2015</a></div></li>
                            
 
                                        <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014">2014</a></div>
                                        <ul>
                                            
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/december">December</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/november">November</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/october">October</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/september">September</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/august">August</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/july">July</a></div></li>
                                    
 
                                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/june">June</a></div>
                                                <ul>
                                                    
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
                                                </ul>
                                            
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/may">May</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/april">April</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/march">March</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/february">February</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/january">January</a></div></li>
                                    
 
                                        </ul>
                                    </li>
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2013">2013</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2012">2012</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2011">2011</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2010">2010</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2009">2009</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2008">2008</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2007">2007</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2006">2006</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2005">2005</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2004">2004</a></div></li>
                            
 
                                </ul>
                            </li>
 
                                <li><div class="link-wrapper"><a href="/info-for/media/photos">Photos</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/media/contact-the-press-office">Contact the Press Office</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/filming-and-photography">Filming & photography</a></div></li>
                            
 
                </ul>
            
 
 
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype: -Home-Media-Media-Press releases-2014-June-TfL makes it simpler for customers to get a refund for a delayed journey -->

 
 
        
        
            @{ViewBag.Description = "Press releases and news articles from Transport for London";}
        
        


 