


@{ViewBag.Title = "TfL Annual Report 2013-14 published";}
        
        
<div class="r">
    <div class="breadcrumb-container" role="navigation">
        <span id="breadcrumb-label" class="visually-hidden">You are here:</span>
        <ol class="breadcrumbs clearfix" aria-labelledby="breadcrumb-label">
            <li class="home">
                <a href="/">
                    <span class="hide-text">Home</span>
                </a>
            </li>
            
                <li>
                    <a href="/info-for/media/index">Media</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases">Press releases</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases/2014">2014</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases/2014/june">June</a>
                </li>
                
                <li>
                    <span class="last-breadcrumb">TfL Annual Report 2013-14 published</span>
                </li>
            
 
            
 
            
 
            
 
            
 
        </ul>
    </div>
</div>
     
 
<div class="r">
    <div class="headline-container plain">
        <h1>TfL Annual Report 2013-14 published</h1>
        <div class="content-page-press-release">
        11 June 2014
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        TfL Annual Report 2013-14: TfL carries more passengers than ever as customer satisfaction reaches all-time high
        
    </div>



 <div class="on-this-page">

        <p>Transport
        for London (TfL) has published its draft Annual Report and Statement of
        Accounts for the year ending 31 March 2014, which will be considered by the TfL
        Board at its next meeting on Thursday 3 July.
        &nbsp;
        </p>
        <p>This has
        been another record-breaking year, with London Underground, DLR and London
        Overground all carrying record numbers of passengers more safely and reliably
        than ever before.&nbsp;
        </p>
        <p>The
        number of passengers on the bus network also continued to rise, recording the
        highest number since 1959, with 40 per cent of passengers receiving free or
        discounted travel.
        &nbsp;
        London
        Underground carried a record 1.26 billion passengers, meaning that the network
        carried a third more passengers than it did a decade ago.&nbsp;
        &nbsp;
        </p>
        <p>
        Customers
        are already benefiting from massive improvements and investment to the Tube
        network.&nbsp; </p>
        <p>The first air-conditioned walk-through trains are now serving
        customers on the Metropolitan, Circle, District and Hammersmith &amp; City
        lines, modern signalling on the Victoria and Jubilee lines is delivering faster
        and more frequent services and a focus on further improving reliability has
        reduced delays to passengers by 10 per cent compared to last year.
        &nbsp;
        </p>
        <p>Following
        the extension of London Overground from Clapham Junction to Surrey Quays last
        year, London Overground carried 135 million passengers.&nbsp; </p>
        <p>Capacity will be
        boosted next year with the introduction of 57 new carriages, increasing
        capacity by 25 per cent.
        &nbsp;
        </p>
        <p>Customer
        satisfaction across London Underground, DLR, tram, London Overground and buses
        also reached record levels.
        &nbsp;
        On the
        roads, the lane rental scheme has cut disruption at traffic hotspots on the TfL
        road network by 46 per cent.&nbsp; </p>
        <p>Around 99 per cent of TfL road improvement
        works and 90 per cent of planned utility works now take place outside peak
        hours, compared to 30 per cent before the scheme was introduced, where it
        applies.
        &nbsp;
        </p>
        <p>TfL is
        delivering these improvements while continuing to deliver huge savings. The
        &pound;16bn savings and efficiencies programme to 2020/21 saved &pound;188m this year
        against a target of &pound;137m, bringing the total secured savings to &pound;12bn.&nbsp;
        </p>
        <p>This programme is central to helping to meet the challenge of operating one of
        the world's oldest and most extensive transport networks while, at the same
        time, upgrading and modernising it to accommodate London's rapid growth.
        &nbsp;
        </p>
        <p><strong>Operating
        performance</strong>:</p>
        <ul>
            <li>Victoria and Jubilee
            lines on the Tube are now among the most advanced metro services in the world,
            running trains every two minutes or less at peak times</li>
            <li>The DLR achieved
            record scores for punctuality with 99.3 per cent of trains on time</li>
            <li>London Overground
            carried a record 135 million passenger journeys and received an 89 per cent
            satisfaction rating by independent rail watchdog, Passenger Focus</li>
            <li>The TfL 'Lane rental
            scheme' cut disruption at traffic hotspots by 44 per cent. Around 99 per cent
            of TfL works and 90 per cent of planned utility works took place outside peak
            hours, compared to 30 per cent before the scheme was introduced, where it
            applies</li>
            <li>Bus passenger
            satisfaction reached a record high of 83 and 97.7 per cent of scheduled bus
            services operated</li>
            <li>90 per cent of Oyster
            queries from customers were resolved within 24 hours compared with the customer
            service industry standard of five to 10 days</li>
        </ul>
         
        <p><strong>Delivery of service improvements and upgrade</strong>s</p>
        <ul>
            <li>Continued progress was
            made on the Northern line upgrade, which will increase line capacity by 20 per
            cent by the end of 2014 and with far fewer closures than previous upgrades</li>
            <li>'Turn up and go'
            assistance extended to cover all London Overground stations, so that disabled
            people needing assistance can arrive at stations and have staff help them
            without needing to book in advance</li>
            <li>Accessible boarding
            ramps introduced at 19 more Tube stations, continuing LU's programme of
            accessibility work so that by 2016 a third of Tube platforms will have level
            access, up from 15 per cent last year</li>
            <li>Major progress on the
            construction of Crossrail, reaching the halfway point in January, on time and
            to budget</li>
            <li>
            Expansion of Barclays
            Cycle Hire into southwest London to give more Londoners the opportunity to
            cycle</li>
            <li>Extended the Barclays
            Cycle Superhighway between Bow and Stratford, with a segregated lane for
            cyclists</li>
            <li>Began work to improved
            key junctions such as Euston Circus and Bow Roundabout to make them safer for
            all road users</li>
            <li>Set up an Industrial
            HGV Task Force to focus on the risks heavy, particularly construction, vehicles
            pose to cyclists</li>
            <li>Launched Operation
            Safeway, a joint initiative with the Metropolitan Police Service, deploying
            officers at key junctions across the capital, enforcing road safety and giving
            advice to all road users.&nbsp; Over 14,000 fixed penalty notices were issued
            in the initial seven week pilot</li>
            <li>Published 'Safer
            Streets for London', our new road safety plan, to cut death and serious
            injuries on the capital's streets. We also described our six key commitments
            which continue to work towards our target of a 40 per cent reduction in the
            number of people killed or seriously injured by 2020</li>
            <li>Announced trials for
            the introduction of Pedestrian Split Cycle Offset Optimisation Technique, or
            'pedestrian SCOOT' &#45; the first of its kind the world which will use technology
            to detect how many pedestrians are waiting to cross the road</li>
            <li>Launched a new website
            with new innovative features to make journey planning easier for our customers
            on desktop and mobile devices</li>
            <li>New technology fitted
            to 900 buses to reduce their nitrogen oxide (NOx) emissions by up to 88 per
            cent</li>
            <li>200 new Routemaster
            buses in service on seven routes</li>
            <li>Final system testing
            on extending contactless payment to Tube and rail services later this year</li>
            <li>Plans for new 24-hour
            weekend Tube on core lines from 2015 and proposals for significantly better
            customer service at London Underground stations by bringing staff out of
            underused ticket offices and locating them at ticket machines, ticket gates and
            platforms</li>
        </ul>
         
         
        <p>The Mayor of London, Boris Johnson,
        said:
        &quot;Over the past year Transport for
        London (TfL) has carried a staggering number of customers on our Tube, trains
        and buses.&nbsp; We've also seen record numbers travelling on the River Thames
        and the Barclays Cycle Hire scheme has surpassed 30 million hires.</p>
        <p>"A relentless focus on efficiency
        meant that we were able to freeze fares in real terms, while carrying on with
        the vital job of modernisation.&nbsp; We're investing in new trains and buses,
        Crossrail is progressing at an amazing pace, we're overhauling our roads and
        making them safer for cyclists and pedestrians, as well as improving
        accessibility to ensure more people can get around the capital more
        easily.&nbsp; All this work is essential if London is to continue keep up with
        the phenomenal pace of change in our city and the challenge of huge population
        growth.&nbsp; That's why I will continue to act as a champion for the capital
        and fight for vital investment in transport.&nbsp; London is the motor of the
        UK economy and improving our transport network isn't just in the interest of
        our great city, but the rest of the UK too.&quot;
        &nbsp;
        </p>
        <p>Baroness Tanni Grey-Thompson DBE,
        Chair of TfL's Remuneration Committee, said:
        &quot;TfL has to deliver on stringent
        operational and strategic targets and the management team and TfL staff are to
        be congratulated on another successful and record breaking year.&nbsp;
        &nbsp;
        &quot;Customers are benefiting from
        massive improvements and investment to the transport network which is
        carrying&nbsp;record numbers of&nbsp;passengers more safely and reliably than
        ever before.&nbsp; It's great to see customer satisfaction across virtually all
        transport services also at an all time high this year.&quot;
        &nbsp;
        </p>
        <p>London's Transport Commissioner, Sir Peter Hendy CBE, said:
        &quot;Over the
        last year we carried record numbers of passengers across our services in line
        with burgeoning population and employment growth and further improved
        reliability to reduce delays to passengers.&nbsp; We've also carried forward a
        massive programme of transport investment and focused on delivering our savings
        and efficiencies programme, saving &pound;188m against a target of &pound;137m.&nbsp; We
        will continue to work hard at delivering greater value for money for fare and
        tax payers than ever before.&quot;</p>
         
        <p><strong>Remuneration:
        </strong></p>
        <p>The base
        pay of the Commissioner and most of the Chief Officers was frozen for a fifth
        consecutive year.
        &nbsp;
        </p>
        <p>The base
        pay and the total remuneration of the Commissioner and all of the Chief
        Officers remains significantly lower than that paid in comparable transport
        operations, infrastructure and engineering companies where TfL competes for
        high quality staff.
        &nbsp;
        </p>
        <p>Research
        by remuneration consultants Towers Watson shows that the base pay of all TfL's
        Chief Officers is on average 77 per cent of that market rate and that their
        total compensation is on average 50 per cent of that market rate.
        &nbsp;
        </p>
        <p>The total
        remuneration of the Commissioner and most of the Chief Officers in 2013/14 was
        significantly lower than was the case in 2012/13.&nbsp; This is because, under
        one-off arrangements put in place in respect of targets set for the London 2012
        Games, Performance Related Pay awards for targets achieved in 2010/11 and
        2011/12 were both paid in 2012/13.
        &nbsp;
        </p>
        <p>The
        number of TfL staff (excluding Crossrail) who received total remuneration over
        &pound;100,000, including those paid above this amount due to severance payments, was
        326 in 2013/14 compared to 298 in 2012/13.&nbsp; The number of Crossrail staff
        who received total remuneration of over &pound;100,000 was 40 in 2013/14 compared to
        30 in 2012/13.&nbsp;
        </p>
        <p>This is
        largely due to a significant increase during the year in work to modernise the
        London Underground and build Crossrail.&nbsp;
        &nbsp;
        On the
        Tube, major stations, trains, track and signalling are being totally replaced
        or upgraded to provide more transport capacity for a rapidly growing city and
        to provide our customers with more reliable services.&nbsp; There was a sharp
        increase in the work underway to build Crossrail, which will add 10 per cent to
        London's rail-based public transport capacity when it opens in 2018.
        &nbsp;
        </p>
        <p>Both
        programmes are among the biggest capital investments in Europe and required the
        employment of further highly qualified engineers and project specialists to
        carry out the work.&nbsp; In addition, existing project staff who earn a base
        salary of less than &pound;100,000 have worked additional overtime as work to
        modernise the Tube has stepped up, taking their total remuneration to over
        &pound;100,000. </p>
    

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
                <a href="/info-for/media/index" class="heading">
                    <h2 id="sub-menu-heading">Media<span class="visually-hidden"> navigation</span></h2>
                </a>
                <ul>
                    
                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases">Press releases</a></div>
                                <ul>
                                    
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2020">2020</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019">2019</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018">2018</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017">2017</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016">2016</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015">2015</a></div></li>
                            
 
                                        <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014">2014</a></div>
                                        <ul>
                                            
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/december">December</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/november">November</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/october">October</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/september">September</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/august">August</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/july">July</a></div></li>
                                    
 
                                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/june">June</a></div>
                                                <ul>
                                                    
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
                                                </ul>
                                            
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/may">May</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/april">April</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/march">March</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/february">February</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/january">January</a></div></li>
                                    
 
                                        </ul>
                                    </li>
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2013">2013</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2012">2012</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2011">2011</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2010">2010</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2009">2009</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2008">2008</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2007">2007</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2006">2006</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2005">2005</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2004">2004</a></div></li>
                            
 
                                </ul>
                            </li>
 
                                <li><div class="link-wrapper"><a href="/info-for/media/photos">Photos</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/media/contact-the-press-office">Contact the Press Office</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/filming-and-photography">Filming & photography</a></div></li>
                            
 
                </ul>
            
 
 
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype: -Home-Media-Media-Press releases-2014-June-TfL Annual Report 2013-14 published -->

 
 
        
        
            @{ViewBag.Description = "TfL Annual Report 2013-14: TfL carries more passengers than ever as customer satisfaction reaches all-time high";}
        
        


 