


@{ViewBag.Title = "TfL and Amazon team up to introduce Amazon Lockers";}
        
        
<div class="r">
    <div class="breadcrumb-container" role="navigation">
        <span id="breadcrumb-label" class="visually-hidden">You are here:</span>
        <ol class="breadcrumbs clearfix" aria-labelledby="breadcrumb-label">
            <li class="home">
                <a href="/">
                    <span class="hide-text">Home</span>
                </a>
            </li>
            
                <li>
                    <a href="/info-for/media/index">Media</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases">Press releases</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases/2014">2014</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases/2014/june">June</a>
                </li>
                
                <li>
                    <span class="last-breadcrumb">TfL and Amazon team up to introduce Amazon Lockers</span>
                </li>
            
 
            
 
            
 
            
 
            
 
        </ul>
    </div>
</div>
     
 
<div class="r">
    <div class="headline-container plain">
        <h1>TfL and Amazon team up to introduce Amazon Lockers</h1>
        <div class="content-page-press-release">
        25 June 2014
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        Shopping with Amazon today (25 June 2014) became even more convenient for thousands of London Underground customers as Transport for London (TfL) and Amazon announced a partnership to install Amazon Lockers at London Underground station car parks.<BR>
        
    </div>



<div class="pull-quote">
        <div class="quote-body">"London Underground's click and collect revolution is going from strength to strength, attracting some of the most recognisable names in retail. Amazon is a fantastic addition to a cast of top brands who are reaching out to their customers in new ways and enabling TfL to generate vital revenue for improvements to our transport network"</div>
        <div class="quote-footer">
            <div class="quotee-name">Boris Johnson</div>
            <div class="quotee-job-title">Mayor of London</div>
        </div>
</div>

 <div class="on-this-page">

        <p>Amazon Lockers will be located at two Tube station car parks &#45; Finchley Central and Newbury Park &#45; and customers will be able to have orders delivered to the Lockers from Monday 30 June. </p>
        <p>Deliveries made to Amazon Lockers nationally have more than doubled in the last year as customers continue to enjoy the flexibility the service provides. </p>
        <p>Amazon Lockers located in Tube station car parks are ideal for Londoners who want to place orders online and collect their shopping on their commute, at a time that is convenient for them.</p>
        <p>TfL has been reviewing opportunities to improve the services on offer to customers across the public transport network, which is responsible for an average of over 11 million journeys every day. </p>
        <p>Over the past seven months, TfL has worked with local and national retailers to introduce a number of click and collect services as well as pop-up shops, bringing new and innovative retailers to customers using the transport network. &nbsp;</p>
        <p>Mayor of London, Boris Johnson, said: </p>
        <p>'London Underground's click and collect revolution is going from strength to strength, attracting some of the most recognisable names in retail. Amazon is a fantastic addition to a cast of top brands who are reaching out to their customers in new ways and enabling TfL to generate vital revenue for improvements to our transport network.'</p>
        <p>Graeme Craig, Director of Commercial Development at TfL, said: </p>
        <p>'We're delighted to have Amazon on board as they bring their Amazon Lockers service to our customers. Our click and collect partnerships have been extremely successful and we look forward to bringing more of the services our customers want to our network.'</p>
        <p>With the rise in smartphone devices and the availability of Wi-Fi at 137 London Underground stations, customers can also make their purchases as they travel around the network and collect their items at a time and location which is suitable for them. </p>
        <p>'Some of our first Lockers in the world were launched in London and they have become the preferred delivery option for many in the capital,' said Christopher North, Managing Director of Amazon.co.uk Ltd. </p>
        <p>'We are delighted to have teamed up with TfL to bring the convenience of Amazon Lockers to an even greater number of London commuters.'</p>
        <p>Amazon customers select a Locker location when they get to the checkout and are then given a unique pick-up code in order to retrieve their items from that Amazon Locker. </p>
        <p>The number of Amazon Locker locations across the UK is now approaching 300. </p>
        <p>They are positioned in convenient locations across the UK such as shopping centres, supermarkets, universities and libraries. </p>
        <p>The vast majority of products directly sold by Amazon.co.uk are available for delivery to an Amazon Locker and Amazon Prime members get One-Day delivery to these locations as part of their membership. </p>
        <p>Customers who aren't members of Amazon Prime can receive One-Day delivery for &pound;1.99 or get free standard delivery on orders over &pound;10.</p>
        <p>The partnership will help secure income for reinvestment in London's transport network as part of a wider commercial strategy that is currently forecast to generate &pound;3.5bn over the coming years. </p>
        <p>It follows announcements earlier this year to bring click and collect services from major retailers as well as the introduction of pop-up shops to the London Underground network.</p>
         
        <hr />
         
        <p>Notes to Editors:</p>
        <ul>
            <li>Images are available <a href="https://www.flickr.com/photos/tflpress/sets/72157644943567139/ ">here</a> </li>
            <li>Finchley Central is on the Northern line and Newbury Park is on the Central line. </li>
            <li>On its busiest day in the run up to Christmas (Monday 2nd December 2013), 4.1 million items were ordered on Amazon.co.uk - a rate of around 47 items ordered per second. Amazon has invested over &pound;1billion in its UK Operations. Amazon also supports the British economy by purchasing goods and services from British suppliers, over the last 5 years more than &pound;1billion has been paid to delivery companies like Royal Mail to deliver packages across the UK. </li>
            <li>Amazon offers 'Fulfilment by Amazon' where sellers can send their inventory to Amazon and products are picked, packed, delivered on the seller's behalf. With FBA, sellers are able to offer fast delivery to customers all over Europe, including Amazon Lockers.&nbsp; Thousands of small and medium sized businesses are creating and building their business on Amazon in this way. </li>
            <li>Amazon.co.uk offers a range of convenient delivery options including&nbsp; Amazon Prime which gives customers unlimited One-Day Delivery on millions of eligible items for an annual fee of just &pound;79. Amazon.co.uk also now offers Evening Delivery (same-day) in 19 cities across the UK.</li>
        </ul>
        <p>About Amazon.co.uk</p>
        <p>Amazon.co.uk opened its virtual doors in October 1998 and strives to be Earth's most customer-centric company, where customers can find and discover anything they might want to buy online, and endeavours to offer its customers the lowest possible prices.Amazon.co.uk and other sellers offer millions of new, refurbished and used items in categories such as Baby, Books, Car &amp; Motorbike, Clothing, DIY &amp; Tools, DVD, Electronics &amp; Photo, Grocery, Health &amp; Beauty, Home &amp; Garden, Jewellery, MP3, Music, Musical Instruments &amp; DJ, Office, PC, Pet Supplies, Shoes, Software, Sports &amp; Leisure, Toys &amp; Games, Video Games and Watches.Kindle is the world's bestselling e-reader family and Kindle Paperwhite is our most advanced e-reader. It features new display technology with higher contrast, the next generation built-in light, a faster processor, the latest touch technology, and exclusive new features designed from the ground up for readers. Kindle, the lightest and smallest Kindle, features improved fonts and faster page turns. The new Kindle Fire HDX features a stunning exclusive 7" or 8.9" HDX display, a quad-core 2.2 GHz processor, 2x more memory, and 11 hours of battery life, as well as exclusive new features of Fire OS 3.0. The all-new Kindle Fire HD includes an HD display, high-performance processor and dual speakers at a breakthrough price. Amazon Web Services provides Amazon's developer customers with access to in-the-cloud infrastructure services based on Amazon's own back-end technology platform, which developers can use to enable virtually any type of business.Amazon.co.uk is a trading name for Amazon EU S.&agrave;.r.l, Amazon Services Europe S.&agrave;.r.l and Amazon Media EU S.&agrave;.r.l. All three are wholly owned subsidiaries of global online retailer Amazon.com, Inc (NASDAQ:AMZN), located in Seattle, Washington. Amazon and its affiliates operate websites, including www.amazon.com, www.amazon.co.uk, www.amazon.de, www.amazon.co.jp, www.amazon.fr, www.amazon.ca, www.amazon.cn, www.amazon.it, www.amazon.es, www.amazon.com.br, www.amazon.in, and www.amazon.com.mx. As used herein, &quot;Amazon.com,&quot; &quot;we,&quot; &quot;our&quot; and similar terms include Amazon.com, Inc., and its subsidiaries, unless the context indicates otherwise. </p>
        <p>Forward-Looking Statements</p>
        <p>This announcement contains forward-looking statements within the meaning of Section 27A of the Securities Act of 1933 and Section 21E of the Securities Exchange Act of 1934. Actual results may differ significantly from management's expectations. These forward-looking statements involve risks and uncertainties that include, among others, risks related to competition, management of growth, new products, services and technologies, potential fluctuations in operating results, international expansion, outcomes of legal proceedings and claims, fulfillment centre optimization, seasonality, commercial agreements, acquisitions and strategic transactions, foreign exchange rates, system interruption, inventory, government regulation and taxation, payments and fraud. More information about factors that potentially could affect Amazon.com's financial results is included in Amazon.com's filings with the Securities and Exchange Commission, including its most recent Annual Report on Form 10-K and subsequent filings."Safe Harbor" Statement under the Private Securities Litigation Reform Act of 1995: Statements in this press release regarding Amazon.Co.UK Ltd's business which are not historical facts are "forward-looking statements" that involve risks and uncertainties. For a discussion of such risks and uncertainties, which could cause actual results to differ from those contained in the forward-looking statements, see "Risk Factors" in the Company's Annual Report or Form 10-K for the most recently ended fiscal year.</p>
         
    

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
                <a href="/info-for/media/index" class="heading">
                    <h2 id="sub-menu-heading">Media<span class="visually-hidden"> navigation</span></h2>
                </a>
                <ul>
                    
                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases">Press releases</a></div>
                                <ul>
                                    
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2020">2020</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019">2019</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018">2018</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017">2017</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016">2016</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015">2015</a></div></li>
                            
 
                                        <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014">2014</a></div>
                                        <ul>
                                            
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/december">December</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/november">November</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/october">October</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/september">September</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/august">August</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/july">July</a></div></li>
                                    
 
                                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/june">June</a></div>
                                                <ul>
                                                    
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
                                                </ul>
                                            
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/may">May</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/april">April</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/march">March</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/february">February</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/january">January</a></div></li>
                                    
 
                                        </ul>
                                    </li>
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2013">2013</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2012">2012</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2011">2011</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2010">2010</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2009">2009</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2008">2008</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2007">2007</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2006">2006</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2005">2005</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2004">2004</a></div></li>
                            
 
                                </ul>
                            </li>
 
                                <li><div class="link-wrapper"><a href="/info-for/media/photos">Photos</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/media/contact-the-press-office">Contact the Press Office</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/filming-and-photography">Filming & photography</a></div></li>
                            
 
                </ul>
            
 
 
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype: -Home-Media-Media-Press releases-2014-June-TfL and Amazon team up to introduce Amazon Lockers -->

 
 
        
        
            @{ViewBag.Description = "TfL and Amazon team up to introduce Amazon Lockers";}
        
        


 