


@{ViewBag.Title = "TfL & ESPNFC team up to deliver football updates";}
        
        
<div class="r">
    <div class="breadcrumb-container" role="navigation">
        <span id="breadcrumb-label" class="visually-hidden">You are here:</span>
        <ol class="breadcrumbs clearfix" aria-labelledby="breadcrumb-label">
            <li class="home">
                <a href="/">
                    <span class="hide-text">Home</span>
                </a>
            </li>
            
                <li>
                    <a href="/info-for/media/index">Media</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases">Press releases</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases/2014">2014</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases/2014/june">June</a>
                </li>
                
                <li>
                    <span class="last-breadcrumb">TfL & ESPNFC team up to deliver football updates</span>
                </li>
            
 
            
 
            
 
            
 
            
 
        </ul>
    </div>
</div>
     
 
<div class="r">
    <div class="headline-container plain">
        <h1>TfL & ESPNFC team up to deliver football updates</h1>
        <div class="content-page-press-release">
        10 June 2014
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        Commuters will see news, results and score updates from ESPNFC's team of global football experts in Brazil
        
    </div>



<div class="pull-quote">
        <div class="quote-body">"This is a great way to keep our passengers up to date on the football and we are really pleased to be teaming up with ESPNFC to deliver this"</div>
        <div class="quote-footer">
            <div class="quotee-name">Mike Brown, MVO</div>
            <div class="quotee-job-title">Managing Director of London Underground and Rail</div>
        </div>
</div>

 <div class="on-this-page">

        <ul>
            <li>Updates to be displayed in more than 140 stations across the London Underground network</li>
        </ul>
        <p>England legend John Barnes today launched a partnership between Transport for London (TfL) and global football website ESPNFC to bring live football updates to London's commuters this summer. </p>
        <p>The partnership will see ESPNFC and TfL bring news, results and score updates from Brazil to commuters via overhead platform Dot Matrix Indicators (DMIs), and on 400 Electronic Service Update Boards (ESUBs) located at the entrances of London Underground stations. </p>
        <p>The DMI updates will be displayed at more than 140 stations including the entire Central line, Northern line, Bakerloo line and Jubilee line.</p>
        <p>The service will begin on Thursday 12 June with live updates from the Brazil and Croatia game in Sao Paolo, and will continue until Monday 14 July. </p>
        <p>With matches in Brazil kicking off in the afternoon and evening, fans will be able to stay up to date during rush hour and on their way home from a night out. </p>
        <p>In addition, each morning ESPNFC will deliver recap news and results from overnight, and provide all the latest news from Brazil through the day.</p>
        <p>ESPNFC ambassador John Barnes, who lived in London from the age of 12, and played for England in two World Cups, commented: </p>
        <p>'This is a great way to keep fans up to date during the big games. There will be plenty of people who have to travel while matches are being played, or may have missed the results from matches the night before &#45; ESPNFC is ensuring they won't miss out. There are often debates about the use of technology in football, but I think everyone will agree this is a good one.'</p>
        <p>Mike Brown MVO, Managing Director of London Underground and Rail, said: </p>
        <p>'This is a great way to keep our passengers up to date on the football and we are really pleased to be teaming up with ESPNFC to deliver this. It also generates a bit of money to allow us to keep investing in further improvements to the tube network.'</p>
        <p>Alan Fagan, Group Director, ESPN EMEA, said: </p>
        <p>'ESPNFC is dedicated to going the extra mile to keep fans updated wherever they are, so we are delighted to reach this innovative agreement with TfL. Bringing football scores and news to the London Underground's passenger information services is an industry first, and reflects the kind of creative, fan focused approach we have to covering sport. This initiative together with the coverage on our sites means that fans in London won't need to miss a thing.'</p>
        <p>The partnership will help secure income for reinvestment in London's transport network as part of a wider commercial strategy that is currently forecast to generate &pound;3.5bn over the coming years. </p>
        <p>It follows announcements earlier this year to bring 'click and collect' services from major retailers as well as the introduction of pop-up shops to the London Underground network.</p>
        <p>The collaboration follows the recent relaunch of ESPNFC.com and the ESPNFC App. </p>
        <p>The site has undergone a comprehensive redesign making it fully responsive across all devices &#45; mobile, tablet, desktop, laptop and other devices &#45; to bring fans unrivalled coverage of football in the UK and around the world.</p>
        <p>As part of the partnership, ESPNFC will run an advertising campaign on the home page and journey planner section of the TfL.gov.uk website, as well as experiential activity involving football freestylers at Stratford, Charing Cross and Tottenham Court Road stations later this week. &nbsp;</p>
         
        <hr />
         
        <p>Notes to Editors:</p>
        <p>Images of John Barnes, Nigel Holness (Operations Director JNP and SSL, London Underground) and Alan Fagan (Group Director, ESPN EMEA) are available <a href="https://www.flickr.com/photos/tflpress/sets/72157645052966516/">here</a>. </p>
    

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
                <a href="/info-for/media/index" class="heading">
                    <h2 id="sub-menu-heading">Media<span class="visually-hidden"> navigation</span></h2>
                </a>
                <ul>
                    
                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases">Press releases</a></div>
                                <ul>
                                    
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2020">2020</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019">2019</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018">2018</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017">2017</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016">2016</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015">2015</a></div></li>
                            
 
                                        <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014">2014</a></div>
                                        <ul>
                                            
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/december">December</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/november">November</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/october">October</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/september">September</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/august">August</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/july">July</a></div></li>
                                    
 
                                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/june">June</a></div>
                                                <ul>
                                                    
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
                                                </ul>
                                            
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/may">May</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/april">April</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/march">March</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/february">February</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/january">January</a></div></li>
                                    
 
                                        </ul>
                                    </li>
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2013">2013</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2012">2012</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2011">2011</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2010">2010</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2009">2009</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2008">2008</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2007">2007</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2006">2006</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2005">2005</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2004">2004</a></div></li>
                            
 
                                </ul>
                            </li>
 
                                <li><div class="link-wrapper"><a href="/info-for/media/photos">Photos</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/media/contact-the-press-office">Contact the Press Office</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/filming-and-photography">Filming & photography</a></div></li>
                            
 
                </ul>
            
 
 
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype: -Home-Media-Media-Press releases-2014-June-TfL & ESPNFC team up to deliver football updates -->

 
 
        
        
            @{ViewBag.Description = "TfL & ESPNFC team up to deliver football updates";}
        
        


 