


@{ViewBag.Title = "Thousands of spectators view first ever Barclays Cycle Hire race ";}
        
        
<div class="r">
    <div class="breadcrumb-container" role="navigation">
        <span id="breadcrumb-label" class="visually-hidden">You are here:</span>
        <ol class="breadcrumbs clearfix" aria-labelledby="breadcrumb-label">
            <li class="home">
                <a href="/">
                    <span class="hide-text">Home</span>
                </a>
            </li>
            
                <li>
                    <a href="/info-for/media/index">Media</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases">Press releases</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases/2014">2014</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases/2014/june">June</a>
                </li>
                
                <li>
                    <span class="last-breadcrumb">Thousands of spectators view first ever Barclays Cycle Hire race </span>
                </li>
            
 
            
 
            
 
            
 
            
 
        </ul>
    </div>
</div>
     
 
<div class="r">
    <div class="headline-container plain">
        <h1>Thousands of spectators view first ever Barclays Cycle Hire race </h1>
        <div class="content-page-press-release">
        08 June 2014
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">



 <div class="on-this-page">

        <p>Ryan Carus from Wimbledon was
        crowned the winner of the thrilling first ever Barclays Cycle Hire race as part
        of the Jupiter London Nocturne.
        &nbsp;
        </p>
        <p>Thirty riders, including UK
        boy-band Rough Copy, former Olympian Jeanette Kwakye, rapper Mikill Pane, radio
        presenter Jade Avia, TV presenter Andy Samuels and competition winners from
        across the capital, peddled their way around the 1.5km course in an exciting
        race on Saturday evening. </p>
        <p>The five lap Barclays Cycle Hire race was carried out
        on iconic blue bikes and special edition yellow cycle hire bikes released to
        celebrate the Tour de France coming to London.
        &nbsp;
        </p>
        <p>Speaking after winning the race,
        Ryan Carus, said: &quot;Thanks to
        TfL, Barclays Cycle Hire and the Jupiter London Nocturne for the race
        yesterday. </p>
        <p>The atmosphere was completely surreal and it was such an incredible
        event. I'm currently training with my club, the Kingston Wheelers, for my next
        challenge - the Prudential RideLondon 100.&quot;
        &nbsp;
        </p>
        <p>TfL's General Manager for Barclays
        Cycle Hire, Nick Aldworth, said: &quot;From the first corner to the exciting final
        lap, the Barclays Cycle Hire race on Saturday night was thrilling from start to
        finish. Although Ryan Carus was a worthy winner, all 30 competitors deserve
        praise for providing such a pulse-racing event!&quot;
        &nbsp;
        &quot;The Jupiter London Nocturne was
        just the first of a host of fantastic cycling events taking place across the
        capital this summer, including the return of the Tour de France and Prudential
        RideLondon, helping to cement London's reputation as a true cycling city.&quot;
        &nbsp;
        </p>
        <p>FACE Partnership MD and organiser,
        James Pope, said: &quot;The Barclays Cycle Hire Race at the Jupiter London Nocturne
        created a huge buzz and it was a fantastic addition to our race programme.
        Added to the folding bikes, Penny Farthings, track bikes and retro bikes racing
        around Smithfield Market, it all made a great spectacle for the fans.&quot;
        &nbsp;
        </p>
        <p>The Jupiter London Nocturne took
        place exactly one month before the Tour de France &#45; the world's largest annual
        sporting event &#45; returns to London on Monday 7 July. After two stages in
        Yorkshire, around 200 elite cyclists will travel from Cambridge, through Essex,
        into London before a spectacular finish on The Mall. The Tour de France will
        draw people onto the streets of London from near and far, and help to inspire
        more people to take up cycling in the capital.
        &nbsp;
        </p>
        <p>The Tour de France is followed by
        two more exciting cycling events in London - Prudential RideLondon on 9 and 10
        August and the Tour of Britain, which takes place between 7 and 14 September
        and traditionally finishes in the capital.
        &nbsp;
        </p>
        <p>This summer's cycling events are
        likely to inspire thousands more Londoners to take to two wheels, building on
        the Mayor's ambition for cycling to be an integral part of the transport
        network&nbsp; As part of his cycling vision, the Mayor is already engaging in a vast
        &pound;1billion programme of improvements - creating a series of major new segregated
        cycle routes, enhanced cycling superhighways, urban quietways and turning some
        outer boroughs into mini-Hollands.
        &nbsp;
        </p>
        <p>There are currently over 10,000
        Barclays Cycle Hire bikes across London with over 19,000 docking points
        available. The scheme, which is already the second largest cycle hire system in
        Europe, last month celebrated 30 million journeys since its launch and remains
        an affordable and enjoyable way to travel around London.
        &nbsp;
        </p>
        <p>A Barclays Cycle Hire membership
        key costs just &pound;3 with membership costs at &pound;2 for a 24-hour access period.&nbsp; The
        first 30 minutes of every journey is free. Around 93 per cent of all journeys
        made by Barclays Cycle Hire members have been under 30 minutes, which means
        that the vast majority of people using the scheme aren't paying any more than
        their access fees.</p>
         
        <p>
        </p>
        <hr />
         
        <ul>
            <li>Leo
            Tong came second in the race followed closely by Massimo Saetta</li>
            <li>Three
            images are attached to this email, more images are available from the TfL Press
            Office</li>
            <li>Large parts of southwest London are now
            accessible by Barclays Cycle Hire after the area covered by the scheme expanded
            by more than 50 per cent in December 2013</li>
            <li>Over 500 new docking points have also been added
            in the last year to improve availability of the scheme in existing areas where
            demand is particularly high</li>
            <li>Full
            details of road closures are available at www.tfl.gov.uk/tourdefrance. Drivers are urged to
            plan ahead or to consider re-timing their journey to avoid disruption,
            particularly if people are planning to travel to or from airports or to a
            special event</li>
            <li>Spectators will be able to watch the elite
            cycling action along the Tour de France route and also at the official Tour de
            France fan parks sites. The fan park sites will feature a wide range of
            different activities such as live Tour de France racing on a big screen, a
            French-style food market, a Tour de France Museum, interactive cycling
            activities, an outdoor cinema, live music, celebrity appearances and shops
            showcasing all of the latest bike equipment and accessories. Team London
            volunteers will also be on hand at all of the fan park sites to help spectators
            with local travel information and directions</li>
            <li>Tube and rail services will be the best way to
            get around affected areas of London on the day of Tour de France, although
            stations along and around the route, particularly the finish at the Mall, are
            expected to be extremely busy</li>
            <li>For up to date information on how transport
            services are operating, Londoners are advised to check before they travel at
            tfl.gov.uk and follow &#64;TfLTravelAlerts (Tube, DLR and London Overground),
            &#64;TfLTrafficNews (roads) and &#64;TfLBusAlerts (buses)</li>
        </ul>
         
        <hr />
         
    

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
                <a href="/info-for/media/index" class="heading">
                    <h2 id="sub-menu-heading">Media<span class="visually-hidden"> navigation</span></h2>
                </a>
                <ul>
                    
                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases">Press releases</a></div>
                                <ul>
                                    
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2020">2020</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019">2019</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018">2018</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017">2017</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016">2016</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015">2015</a></div></li>
                            
 
                                        <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014">2014</a></div>
                                        <ul>
                                            
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/december">December</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/november">November</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/october">October</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/september">September</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/august">August</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/july">July</a></div></li>
                                    
 
                                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/june">June</a></div>
                                                <ul>
                                                    
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
                                                </ul>
                                            
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/may">May</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/april">April</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/march">March</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/february">February</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/january">January</a></div></li>
                                    
 
                                        </ul>
                                    </li>
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2013">2013</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2012">2012</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2011">2011</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2010">2010</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2009">2009</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2008">2008</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2007">2007</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2006">2006</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2005">2005</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2004">2004</a></div></li>
                            
 
                                </ul>
                            </li>
 
                                <li><div class="link-wrapper"><a href="/info-for/media/photos">Photos</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/media/contact-the-press-office">Contact the Press Office</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/filming-and-photography">Filming & photography</a></div></li>
                            
 
                </ul>
            
 
 
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype: -Home-Media-Media-Press releases-2014-June-Thousands of spectators view first ever Barclays Cycle Hire race  -->

 
 
        
        
            @{ViewBag.Description = "Press releases and news articles from Transport for London";}
        
        


 