


@{ViewBag.Title = "Tour de France road closures and bus diversions in Hackney";}
        
        
<div class="r">
    <div class="breadcrumb-container" role="navigation">
        <span id="breadcrumb-label" class="visually-hidden">You are here:</span>
        <ol class="breadcrumbs clearfix" aria-labelledby="breadcrumb-label">
            <li class="home">
                <a href="/">
                    <span class="hide-text">Home</span>
                </a>
            </li>
            
                <li>
                    <a href="/info-for/media/index">Media</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases">Press releases</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases/2014">2014</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases/2014/june">June</a>
                </li>
                
                <li>
                    <span class="last-breadcrumb">Tour de France road closures and bus diversions in Hackney</span>
                </li>
            
 
            
 
            
 
            
 
            
 
        </ul>
    </div>
</div>
     
 
<div class="r">
    <div class="headline-container plain">
        <h1>Tour de France road closures and bus diversions in Hackney</h1>
        <div class="content-page-press-release">
        13 June 2014
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        Plan ahead for Tour de France road closures and bus diversions in Hackney on Monday 7 July
        
    </div>



 <div class="on-this-page">

        <ul>
            <li>Road closures in Hackney on
            Monday 7 July from 10am</li>
            <li>More information available at
            local drop in session in Hackney Town Hall on 17 June </li>
            <li>Details of road closures and
            bus diversions are available at tfl.gov.uk/tourdefrance
            &nbsp;
            </li>
        </ul>
        <p>With less than a month to go until the world's largest annual
        sporting event comes to Hackney, Transport for London (TfL) is holding a local
        information session to keep Londoners informed about the event.
        &nbsp;
        </p>
        <p>The iconic Tour de France will roll onto the streets of London on
        Monday 7 July bringing out hundreds of thousands of Londoners and visitors to
        see this spectacle.
        &nbsp;
        </p>
        <p>On
        the day, a large number of road closures around the route will be in place so
        people are advised to plan their&nbsp; travel in advance. Road closures for the event will begin after the morning peak at
        10:00, with roads reopening as quickly as possible once the Tour has passed
        through and it is safe to do so. TfL anticipates that all roads will be
        reopened by 18:00. Pedestrians will be able to cross the route at key crossing
        points and we are working with local businesses close to the route to ensure
        that disruption is kept to a minimum.
        &nbsp;
        </p>
        <p>The
        A106 Ruckholt Road will be closed between Orient Way and Eastway, Waterden Road
        will be closed, the A12 will be open all day, although there will be no access
        to or from the Lea Interchange junction while the race route is closed to
        traffic. Tower, Southwark and Westminster Bridges
        will be closed for much of the day but there are no planned closures on any
        other major river crossings in central London.
        &nbsp;
        </p>
        <p>An
        extensive programme of public engagement&nbsp;and communication around the
        arrival of the Tour de France in the capital is now underway similar to that
        developed during the London 2012 Olympics, to help businesses and the public plan and get around
        on the day and make the most of the return of the prestigious event.
        &nbsp;
        </p>
        <p>Residents of Hackney are invited to attend a public information
        session at Hackney Town Hall on 17 June between 16:30 and 19:30 which will allow members of the community
        to talk through the event and its impact on the local area with representatives
        from TfL.
        &nbsp;
        </p>
        <p>Hackney
        will be a great place to see the world's best riders as they pass well known
        local attractions like Hackney Marshes and the Queen Elizabeth Olympic Park.
        &nbsp;
        </p>
        <p>
        The
        borough will be well and truly open for business, and people are encouraged to
        enjoy the atmosphere on their own roads that the riders and the publicity
        caravanne will create.
        &nbsp;
        </p>
        <p>The Tour de
        France &#45; the world's largest annual sporting event &#45; comes to London on
        Monday 7 July after the first two stages in Yorkshire. Around 200 elite
        cyclists will travel from Cambridge, through Essex,
        into London through Epping Forest before a spectacular finish on The Mall.
        &nbsp;
        </p>
        <p>The Tour de
        France will draw people onto the streets of London from near and far, and help
        to inspire more people to take up cycling. Hosting world renowned events such
        as the Tour reinforces London's reputation as a world-class host of cultural,
        sporting and business events. Visitors, both domestic and overseas, are brought
        to the capital by major events, delivering direct and indirect economic
        benefits, and showcasing London to a much wider audience.
        &nbsp;
        </p>
        <p>Garrett
        Emmerson, Chief Operating Officer for Surface Transport at TfL, said: &quot;We've
        been working long and hard to plan for the return of the Tour to the capital
        and now we are asking Londoners to start their planning too.
        &nbsp;
        "We will keep the capital moving, and roads around the race
        route will, of course, be extremely busy.&nbsp; So we're asking people to plan
        ahead and preferably use public transport to make the most of what I'm sure
        will be an amazing day, helping to&nbsp; cement London's growing reputation as
        a major cycling city and encourage more Londoners to travel by bike.&quot;
        &nbsp;
        </p>
        <p>Full
        details of road closures are available at tfl.gov.uk/tourdefrance. Drivers
        are urged to plan ahead or to consider re-timing their journey to avoid
        disruption, particularly if people are planning to travel to or from airports
        or to a special event.
        &nbsp;
        Bus
        services around the route will be affected. Affected routes include: 48, 55,
        56, 78, 308, 344, 388, W15.
        &nbsp;
        </p>
        <p>Full
        details can be found at tfl.gov.uk/tourdefrance
        &nbsp;
        </p>
         
        <ul>
            <li><hr />
            Session
            address Hackney Town Hall: Assembly Room 3, Hackney Town Hall, Mare
            Street, E8 1EA</li>
            <li>The
            detailed Tour de France route is available on the TfL website at
            tfl.gov.uk/tourdefrance. To avoid delays drivers are advised to, wherever
            possible, avoid areas&nbsp;near the event routes in the affected parts of
            Cambridgeshire, Essex and London. For up to date information on how transport
            services are operating, check before you travel at tfl.gov.uk
            and follow &#64;TfLTravelAlerts (Tube, DLR and London Overground), &#64;TfLTrafficNews
            (roads) and &#64;TfLBusAlerts (bus)</li>
            <li>
            Tube and Rail will be the best way to get around the
            affected areas of London, with the vast majority of services in central
            London running as normal. The Circle and District lines are expected to be
            extremely busy as will stations along the route, particularly in Zone 1
            from midday until around 18:00</li>
            <li>The
            Tour de France will kick off a spectacular summer of cycling in London, with
            the exciting event followed by Prudential RideLondon on the 9 and 10 August and
            then the Tour of Britain, which finishes in the capital on 14 September</li>
            <li>The
            Tour de France is the world's largest annual sporting event and covers
            approximately 3,500kms. A worldwide television audience of 3.5billion people
            watch the event annually. There will be 190 countries broadcasting the Tour de
            France and there are 5,000 hours of TV coverage annually. The last time the
            Tour visited England was in 2007 when London hosted the Grand D&eacute;part,
            which is the opening of the race</li>
            <li>This
            summer's cycling events are likely to inspire thousands more Londoners to take
            to two wheels, building on the Mayor's ambition for cycling to be an integral
            part of the transport network. As part of his cycling vision, the Mayor is
            already engaging in a vast &pound;1billion programme of improvements&nbsp; - creating
            a series of enhanced cycling superhighways, urban 'quietways' for more cautious
            cyclists, and turning some outer boroughs into mini-Hollands</li>
            <li>For
            more information on the Mayor's Vision for Cycling visit http://www.tfl.gov.uk/corporate/about-tfl/how-we-work/planning-for-the-future/vision-for-cycling</li>
            <li>The
            Mayor is committed to ensuring London retains its status as the world capital
            of sport, and has recently set up the Major Events Oversight Board. The board
            is chaired by Sir Edward Lister, and comprises of TfL, the emergency services
            and other key partner agencies. It provides strategic direction and advice to
            the Mayor on the approach to bidding, staging and evaluating major events in
            London. The board ensures that all major road events continue to be carefully
            considered and tightly managed to ensure everyone gets full benefit from the
            event without undue impact on Londoners and London's transport. The board also
            looks at ways to ensure the major events programme is effectively communicated
            with Londoners, visitors, businesses and stakeholders to allow sufficient
            notice and forward planning for everyone</li>
        </ul>
    

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
                <a href="/info-for/media/index" class="heading">
                    <h2 id="sub-menu-heading">Media<span class="visually-hidden"> navigation</span></h2>
                </a>
                <ul>
                    
                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases">Press releases</a></div>
                                <ul>
                                    
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2020">2020</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019">2019</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018">2018</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017">2017</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016">2016</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015">2015</a></div></li>
                            
 
                                        <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014">2014</a></div>
                                        <ul>
                                            
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/december">December</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/november">November</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/october">October</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/september">September</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/august">August</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/july">July</a></div></li>
                                    
 
                                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/june">June</a></div>
                                                <ul>
                                                    
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
                                                </ul>
                                            
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/may">May</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/april">April</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/march">March</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/february">February</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/january">January</a></div></li>
                                    
 
                                        </ul>
                                    </li>
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2013">2013</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2012">2012</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2011">2011</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2010">2010</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2009">2009</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2008">2008</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2007">2007</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2006">2006</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2005">2005</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2004">2004</a></div></li>
                            
 
                                </ul>
                            </li>
 
                                <li><div class="link-wrapper"><a href="/info-for/media/photos">Photos</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/media/contact-the-press-office">Contact the Press Office</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/filming-and-photography">Filming & photography</a></div></li>
                            
 
                </ul>
            
 
 
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype: -Home-Media-Media-Press releases-2014-June-Tour de France road closures and bus diversions in Hackney -->

 
 
        
        
            @{ViewBag.Description = "Tour de France road closures and bus diversions in Hackney";}
        
        


 