


@{ViewBag.Title = "Tour de France road closures and bus diversions in Tower Hamlets";}
        
        
<div class="r">
    <div class="breadcrumb-container" role="navigation">
        <span id="breadcrumb-label" class="visually-hidden">You are here:</span>
        <ol class="breadcrumbs clearfix" aria-labelledby="breadcrumb-label">
            <li class="home">
                <a href="/">
                    <span class="hide-text">Home</span>
                </a>
            </li>
            
                <li>
                    <a href="/info-for/media/index">Media</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases">Press releases</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases/2014">2014</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases/2014/june">June</a>
                </li>
                
                <li>
                    <span class="last-breadcrumb">Tour de France road closures and bus diversions in Tower Hamlets</span>
                </li>
            
 
            
 
            
 
            
 
            
 
        </ul>
    </div>
</div>
     
 
<div class="r">
    <div class="headline-container plain">
        <h1>Tour de France road closures and bus diversions in Tower Hamlets</h1>
        <div class="content-page-press-release">
        13 June 2014
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        Plan ahead for Tour de France road closures and bus diversions in Tower Hamlets on Monday 7 July
        
    </div>

<div class="on-this-page">

        <ul>
            <li>Road
            closures in Tower Hamlets on Monday 7 July from 10am</li>
            <li>More
            information available at local drop in sessions in St Paul's Shadwell on 19
            June and Docklands Sailing and Watersports Centre on 25 June</li>
            <li>Details
            of road closures and bus diversions are available at tfl.gov.uk/tourdefrance
            &nbsp;
            </li>
        </ul>
        <p>With less than a month to go until the world's largest annual
        sporting event comes to Tower Hamlets, Transport for London (TfL) is holding a
        local information session to keep Londoners informed about the event.</p>
        <p>The iconic Tour de France will roll onto the streets of London on
        Monday 7 July bringing out hundreds of thousands of Londoners and visitors to
        see this spectacle.
        &nbsp;
        </p>
        <p>On the day, a large number of road closures around
        the route will be in place so people are advised to plan their travel in
        advance. Road closures for the event will begin after
        the morning peak at 10:00, with roads reopening as quickly as possible once the
        Tour has passed through and it is safe to do so. TfL anticipates that all roads
        will be reopened by 18:00. </p>
        <p>Pedestrians will be able to cross the route at key
        crossing points and we are working with local businesses close to the route to
        ensure that disruption is kept to a minimum.</p>
        <p>Tower, Southwark and Westminster Bridges
        will be closed for much of the day but there are no planned closures on any
        other major river crossings in central London. Bus services around the route will be affected.</p>
        <p>An
        extensive programme of public engagement&nbsp;and communication around the
        arrival of the Tour de France in the capital is now underway similar to that
        developed during the London 2012 Olympics, to help businesses and the public plan and get
        around on the day and make the most of the return of the prestigious event.
        &nbsp;
        Residents of Tower Hamlets are invited to attend public
        information sessions at St Paul's Shadwell on 19 June between 1600
        and 1900 and Docklands Sailing and Watersports Centre on 25 June between 1100
        and 1400 which will allow members of the community to
        talk through the event and its impact on the local area with representatives
        from TfL.
        </p>
        <p>Tower
        Hamlets will be well and truly open for business, and people are encouraged to
        enjoy the atmosphere that the riders and the publicity caravanne bring and a
        chance to see the Tour de France on their own roads.
        &nbsp;
        </p>
        <p>The
        borough will be a great place to see the world's best riders as they race along
        the roads surrounding Canary Wharf, St Katharine Docks and Billingsgate Market.
        &nbsp;
        It
        will also pass through the site of Team GB's 2012 triumph, Queen Elizabeth
        Olympic Park (QEOP), where spectators will be able to catch the action in the
        TfL spectator hub. It will feature a wide range of different activities such as
        live racing on the big screen, a French-style food market, interactive cycling
        activities and live music.</p>
        <p>The Tour de
        France &#45; the world's largest annual sporting event &#45; comes to London on Monday
        7 July after the first two stages in Yorkshire. Around 200 elite cyclists will
        travel from Cambridge, through Essex, into London before a spectacular finish
        on The Mall.
        &nbsp;
        </p>
        <p>The Tour de
        France will draw people onto the streets of London from near and far, and help
        to inspire more people to take up cycling. Hosting world renowned events such
        as the Tour reinforces London's reputation as a world-class host of cultural,
        sporting and business events. Visitors, both domestic and overseas, are brought
        to the capital by major events, delivering direct and indirect economic
        benefits, and showcasing London to a much wider audience.
        &nbsp;
        </p>
        <p>Garrett
        Emmerson, Chief Operating Officer for Surface Transport at TfL, said: &quot;We've
        been working long and hard to plan for the return of the Tour to the capital
        and now we are asking Londoners to start their planning too.
        &nbsp;
        </p>
        <p>"We will keep the capital moving, and roads around the race
        route will, of course, be extremely busy.&nbsp; So we're asking people to plan
        ahead and preferably use public transport to make the most of what I'm sure
        will be an amazing day, helping to&nbsp; cement London's growing reputation as
        a major cycling city and encourage more Londoners to travel by bike.&quot;&nbsp;
        &nbsp;
        </p>
        <p>Mayor
        of Tower Hamlets, Lutfur Rahman, said: &quot;The Tour de France will be a fantastic
        spectacle and celebration of cycling to be enjoyed in the borough. But it will
        bring with it travel disruption. I urge everyone to think about their travel
        requirements and journeys on July 7 and plan in advance.&quot;
        &nbsp;
        </p>
        <p>
        Affected bus routes include: 15, 25, 100, 108, 277,
        339, D3 and D8. Some stops may also be temporarily relocated or suspended.
        &nbsp;
        </p>
        <p>Full details of road closures are available at <a href="http://tfl.gov.uk/tourdefrance">tfl.gov.uk/tourdefrance</a>. </p>
        <p>Drivers are urged to plan ahead or to consider
        re-timing their journey to avoid disruption, particularly if people are
        planning to travel to or from airports or to a special event.
        &nbsp;
        </p>
        <p>Full details can be found at <a href="http://tfl.gov.uk/tourdefrance">tfl.gov.uk/tourdefrance</a>
        &nbsp;
        </p>
         
        <hr />
         
        <ul>
            <li>Session
            addresses are Lower Room, St Paul's Shadwell,
            302 The Highway, E1N 3DH and Docklands Sailing and Watersports Centre,
            235a Westferry Rd, E14 3QS</li>
            <li>The
            detailed Tour de France route is available on the TfL website at
            tfl.gov.uk/tourdefrance. To avoid delays drivers are advised to, wherever
            possible, avoid areas&nbsp;near the event routes in the affected parts of
            Cambridgeshire, Essex and London. For up to date information on how transport
            services are operating, check before you travel at tfl.gov.uk and follow
            &#64;TfLTravelAlerts (Tube, DLR and London Overground), &#64;TfLTrafficNews (roads) and
            &#64;TfLBusAlerts (bus).
            &nbsp;
            </li>
            <li>
            Tube
            and Rail will be the best way to get around the affected areas of London,
            with the vast majority of services in central London running as normal.
            The Circle and District lines are expected to be extremely busy as will
            stations along the route, particularly in Zone 1 from midday until around
            18:00</li>
            <li>The
            Tour de France will kick off a spectacular summer of cycling in London, with
            the exciting event followed by Prudential RideLondon on the 9 and 10 August and
            then the Tour of Britain, which finishes in the capital on 14 September</li>
            <li>The
            Tour de France is the world's largest annual sporting event and covers
            approximately 3,500kms. A worldwide television audience of 3.5billion people
            watch the event annually. There will be 190 countries broadcasting the Tour de
            France and there are 5,000 hours of TV coverage annually. The last time the
            Tour visited England was in 2007 when London hosted the Grand D&eacute;part,
            which is the opening of the race</li>
            <li>This
            summer's cycling events are likely to inspire thousands more Londoners to take
            to two wheels, building on the Mayor's ambition for cycling to be an integral
            part of the transport network. As part of his cycling vision, the Mayor is
            already engaging in a vast &pound;1billion programme of improvements&nbsp; - creating
            a series of enhanced cycling superhighways, urban 'quietways' for more cautious
            cyclists, and turning some outer boroughs into mini-Hollands</li>
            <li>For
            more information on the Mayor's Vision for Cycling visit <a href="http://www.tfl.gov.uk/corporate/about-tfl/how-we-work/planning-for-the-future/vision-for-cycling">http://www.tfl.gov.uk/corporate/about-tfl/how-we-work/planning-for-the-future/vision-for-cycling</a></li>
            <li>The
            Mayor is committed to ensuring London retains its status as the world capital
            of sport, and has recently set up the Major Events Oversight Board. The board
            is chaired by Sir Edward Lister, and comprises of TfL, the emergency services
            and other key partner agencies. It provides strategic direction and advice to
            the Mayor on the approach to bidding, staging and evaluating major events in
            London. The board ensures that all major road events continue to be carefully
            considered and tightly managed to ensure everyone gets full benefit from the
            event without undue impact on Londoners and London's transport. The board also
            looks at ways to ensure the major events programme is effectively communicated
            with Londoners, visitors, businesses and stakeholders to allow sufficient
            notice and forward planning for everyone.&nbsp;
            </li>
        </ul>
    

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       


            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype: -Home-Media-Media-Press releases-2014-June-Tour de France road closures and bus diversions in Tower Hamlets -->

 
 
        
        
            @{ViewBag.Description = "Tour de France road closures and bus diversions in Tower Hamlets";}
        
        


 