


@{ViewBag.Title = "Travel advice ahead of the Pride in London events";}
        
        
<div class="r">
    <div class="breadcrumb-container" role="navigation">
        <span id="breadcrumb-label" class="visually-hidden">You are here:</span>
        <ol class="breadcrumbs clearfix" aria-labelledby="breadcrumb-label">
            <li class="home">
                <a href="/">
                    <span class="hide-text">Home</span>
                </a>
            </li>
            
                <li>
                    <a href="/info-for/media/index">Media</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases">Press releases</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases/2014">2014</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases/2014/june">June</a>
                </li>
                
                <li>
                    <span class="last-breadcrumb">Travel advice ahead of the Pride in London events</span>
                </li>
            
 
            
 
            
 
            
 
            
 
        </ul>
    </div>
</div>
     
 
<div class="r">
    <div class="headline-container plain">
        <h1>Travel advice ahead of the Pride in London events</h1>
        <div class="content-page-press-release">
        27 June 2014
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        TfL will lay London's first ever Rainbow Crossing for the event
        
    </div>



 <div class="on-this-page">

        <ul>
            <li>75 Barclays Cycle Hire bikes carrying a special 'Ride with Pride' logo </li>
        </ul>
        <p>Transport for London (TfL) is encouraging customers attending this year's Pride in London events to use public transport to get there. </p>
        <p>Motorists are advised that there will be a number of road closures in central London for the events, and are encouraged to check before they travel and to plan ahead.</p>
        <p>This year's Pride in London parade will take place on Saturday 28 June, and as part of TfL's support for the event, London is set to see its first ever rainbow zebra crossing . </p>
        <p>The rainbow crossing, similar to ones that have appeared in Tel Aviv, Brighton and Sydney, will be in place for one day only during the parade at the junction of Pall Mall East and Suffolk Street, on the site of an existing pedestrian crossing. </p>
        <p>TfL has also branded 75 Barclays Cycle Hire bikes with a special 'Ride with Pride' logo during Pride week.</p>
        <p>Leon Daniels, Managing Director of Surface Transport at TfL, said: </p>
        <p>'We're delighted that for this year's Pride in London event, we will be installing the first ever rainbow zebra crossing in London to celebrate the event, and as we continue our Year of the Bus celebrations, it's only fitting that we continue with the tradition of our iconic open top bus transporting our staff around in the parade.'</p>
        <p> This year's Pride in London event will include a parade and event on Trafalgar Square. </p>
        <p>The parade will start from Baker Street and go to Whitehall Place via Oxford Street, Regent Street, Lower Regent Street, Cockspur Street and Whitehall. Crowds will disperse on Northumberland Avenue. </p>
        <p>There will be full road closures, including Piccadilly eastbound at Hyde Park Corner, Oxford Street from Marble Arch to Oxford Circus, Regent Street and Whitehall. To help the event on Trafalgar Square, Pall Mall East will be closed and all traffic will be diverted through the Cockspur Street bus lane from 7am on Saturday.</p>
        <p>As a result of the road closures the following bus routes will be diverted for much of the day: 2, 3, 6, 7, 9, 9H, 10, 11, 12, 13, 14, 15, 15H, 19, 22, 23, 24, 25, 29, 30, 38, 53, 55, 73, 74, 82, 87, 88, 91, 94, 98, 113, 137, 139, 159, 189, 176, 274,388, 390, 453, C2.</p>
        <p>The nearest Tube stations to the parade route are Baker Street, Green Park, Leicester Square, Regent's Park, Piccadilly Circus, Charing Cross and Embankment.</p>
        <p>This weekend, there will be no Jubilee line services between Finchley Road and Waterloo due to engineering works. </p>
        <p>Rail replacement buses will operate between Finchley Road and Baker Street. </p>
        <p>Customers are encouraged to allow for extra time during journeys or to use alternative services where possible if planning on heading to Pride using this route. </p>
        <p>Customers can plan ahead by visiting tfl.gov.uk/journeyplanner.</p>
        <p>Pride in London, one the largest lesbian, gay, bisexual, &amp; transgender (LGBT) events in the world, is funded by the Mayor of London and this year will see TfL's iconic open-top bus at the head of the parade. </p>
        <p>TfL's LGBT+ Network has also commissioned 200 limited edition posters in conjunction with London Transport Museum, which are on sale during Pride to celebrate Year of the Bus.</p>
        <p>Around 100 TfL staff, their partners, family and friends will be taking part in this year's event and will be on the second bus at the head of the parade.</p>
         
        <hr />
         
        <p>Notes to Editors:</p>
        <ul>
            <li>Images of the Ride with Pride Barclays Cycle Hire bikes are available <a href="https://www.flickr.com/photos/tflpress/sets/72157644740102380/">here</a></li>
            <li>This year's parade will make its way along closed roads from Baker Street to Whitehall Place via Oxford Street, Regent Street, Lower Regent Street, Cockspur Street and Whitehall. There will be road closures in place between 07:00 and 19:30, and roads will reopen as soon as possible after the parade has passed.</li>
            <li>The nearest Tube stations to the parade route are Baker Street, Green Park, Leicester Square, Regent's Park, Piccadilly Circus, Charing Cross and Embankment. </li>
            <li>To make the most of the day's festivities, plan ahead at <a href="http://tfl.gov.uk/journeyplanner">tfl.gov.uk/journeyplanner</a></li>
            <li>For full festival details, visit <a href="http://www.prideinlondon.org/guide">www.prideinlondon.org/guide</a>&nbsp;</li>
        </ul>
    

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
                <a href="/info-for/media/index" class="heading">
                    <h2 id="sub-menu-heading">Media<span class="visually-hidden"> navigation</span></h2>
                </a>
                <ul>
                    
                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases">Press releases</a></div>
                                <ul>
                                    
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2020">2020</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019">2019</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018">2018</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017">2017</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016">2016</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015">2015</a></div></li>
                            
 
                                        <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014">2014</a></div>
                                        <ul>
                                            
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/december">December</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/november">November</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/october">October</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/september">September</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/august">August</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/july">July</a></div></li>
                                    
 
                                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/june">June</a></div>
                                                <ul>
                                                    
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
                                                </ul>
                                            
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/may">May</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/april">April</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/march">March</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/february">February</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/january">January</a></div></li>
                                    
 
                                        </ul>
                                    </li>
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2013">2013</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2012">2012</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2011">2011</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2010">2010</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2009">2009</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2008">2008</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2007">2007</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2006">2006</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2005">2005</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2004">2004</a></div></li>
                            
 
                                </ul>
                            </li>
 
                                <li><div class="link-wrapper"><a href="/info-for/media/photos">Photos</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/media/contact-the-press-office">Contact the Press Office</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/filming-and-photography">Filming & photography</a></div></li>
                            
 
                </ul>
            
 
 
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype: -Home-Media-Media-Press releases-2014-June-Travel advice ahead of the Pride in London events -->

 
 
        
        
            @{ViewBag.Description = "Travel advice ahead of the Pride in London events";}
        
        


 