


@{ViewBag.Title = "Virgin Media and unsafe McNicholas fined for unsafe working practices";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>Virgin Media and unsafe McNicholas fined for unsafe working practices</h1>
        <div class="content-page-press-release">
        03 June 2014
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        Virgin Media and contractor McNicholas fined for unsafe working practices causing danger and delays to London's road users
        
    </div>



 <div class="on-this-page">

        <ul>
            <li>Transport for London (TfL) successfully prosecutes
            utility company for causing danger to London's road users and breaching permit
            conditions</li>
            <li>Virgin Media and McNicholas made to pay more than &pound;11,000
            after pleading guilty to all three offences
            &nbsp;
            </li>
        </ul>
        <p>
        Transport
        for London (TfL) has yet again successfully defended the rights of all of
        London's road users from unsafe working and unnecessary delays and disruption
        caused by utility companies.
        &nbsp;
        </p>
        <p>On
        21 May 2014, Westminster Magistrate's Court fined Virgin Media and its contractor
        McNicholas over &pound;6,500 following a guilty plea to three offences on Chertsey
        Road in the London Borough of Richmond. </p>
        <p>The seriousness of the offences led the
        court to issue the maximum possible fines. As well as the maximum fine, Virgin
        Media and McNicholas were made to pay the legal costs of &pound;5,040, bringing the
        total to &pound;11,705.
        &nbsp;
        </p>
        <p>Virgin
        Media pleaded guilty to two offences committed on Chertsey Road, Twickenham in
        February 2014. </p>
        <p>These included carrying out unsafe working practices and
        breaching permit conditions, namely excavating the entire width of Chertsey
        Road. Virgin Media's contractor, McNicholas, also pleaded guilty to a breach of
        permit conditions. </p>
        <p>In passing sentence the judge stated she was &quot;…horrified by
        the sloppiness of the works, and the danger and severe disruption that they
        caused'.
        &nbsp;
        </p>
        <p>It
        is the latest in a series of successful prosecutions by TfL as it works to
        reduce unnecessary roadworks to improve traffic flow and conditions for all
        London's road users. </p>
        <p>Earlier this month, TfL successfully prosecuted Virgin
        Media for five offences on Croydon Road in the London Borough of Sutton,
        including unsafe working practices and permit breaches.
        &nbsp;
        </p>
        <p>Leon
        Daniels, Managing Director of Surface Transport at TfL, said: &quot;In a frustrating
        case of d&eacute;j&agrave; vu, this is the second successful prosecution of Virgin Media in
        as many months.
        &nbsp; Utility
        companies must ensure that any disruption caused by roadworks is minimised and
        the most stringent safety is upheld. As we have demonstrated time and time
        again, we will prosecute those who flout this.&quot;
        </p>
        <p>The
        prosecution of Virgin Media is one of a number of ways TfL is improving
        conditions for all of London's road users. </p>
        <p>As of April 2013, firms undertaking
        work anywhere in London have to apply for a permit before they can begin
        digging up the roads thanks to the London Permit Scheme.
        &nbsp;
        </p>
        <p>
        London's
        Lane Rental Scheme, launched by the Mayor of London and TfL on 11 June 2012,
        reduces road users delays by encouraging utility companies to avoid digging up
        the busiest roads at peak traffic times.</p>
        <p> Since then, there has been over a 50
        per cent reduction in peak-time utility roadworks at traffic hotspots.
        &nbsp;
        </p>
        <p>TfL
        is leading the way for works promoters, including utility companies, by
        avoiding incurring Lane Rental charges on 99 per cent of its works undertaken
        in Lane Rental locations.
        &nbsp;
        </p>
        <p>Last
        year, TfL successfully prosecuted Thames Water for nine road works offences and
        Cable &amp; Wireless for one offence of working in breach of permit conditions
        and causing significant road disruption as a result.
        </p>
         
        <hr />
        <ul>
            <li>
            The London permit scheme also enables TfL to monitor
            the number of roadworks taking place on its roads at any one time and
            ensure that they don't exceed the agreed limit. In 2010, the cap was put
            in place to reduce the maximum number of works taking place by 20 per
            cent; the limit has since been further revised to reduce the maximum
            number of works by a further 10 per cent. Traffic Police Community Support
            Officers (TPCSOs) are also used to clamp down on roadworks that are
            outside of their permit
            </li>
            <li>Londoners can report disruptive or badly managed
            roadworks, as well as road defects such as potholes and damaged footpaths,
            by visiting https://reportit.tfl.gov.uk. Any enquiries received will be sent directly to the
            relevant Highway Authority (TfL or a London borough) responsible, ensuring
            that direct and fast action can be taken</li>
            <li>Since the beginning of the London Permit Scheme, TfL
            has issued Virgin Media a total of 323 Fixed Penalty Notices (FPN) for
            various streetworks offences </li>
            <li>In October 2013, Transport for London successfully
            prosecuted Thames Water for causing unnecessary disruption. <a href="http://www.tfl.gov.uk/info-for/media/press-releases/2013/november/thames-water-fined-for-causing-unnecessary-disruption-to-london-road-users ">http://www.tfl.gov.uk/info-for/media/press-releases/2013/november/thames-water-fined-for-causing-unnecessary-disruption-to-london-road-users</a> </li>
            <li>In April 2014, Transport for London successfully
            prosecuted Virgin Media for unsafe working practices <a href="http://www.tfl.gov.uk/info-for/media/press-releases/2014/may/virgin-media-fined-for-unsafe-working-practices-causing-danger-to-london-s-road-users">http://www.tfl.gov.uk/info-for/media/press-releases/2014/may/virgin-media-fined-for-unsafe-working-practices-causing-danger-to-london-s-road-users</a> </li>
        </ul>
    

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">
<div class="share-widget-wrapper"></div>
       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype: -Virgin Media and unsafe McNicholas fined for unsafe working practices -->

 
 
        
        
            @{ViewBag.Description = "Virgin Media and contractor McNicholas fined for unsafe working practices causing danger and delays to London’s road users";}
        
        


 