


@{ViewBag.Title = "Year of the Bus celebrates two centuries of buses with Regent Street Bus Cavalcade";}
        
        
<div class="r">
    <div class="breadcrumb-container" role="navigation">
        <span id="breadcrumb-label" class="visually-hidden">You are here:</span>
        <ol class="breadcrumbs clearfix" aria-labelledby="breadcrumb-label">
            <li class="home">
                <a href="/">
                    <span class="hide-text">Home</span>
                </a>
            </li>
            
                <li>
                    <a href="/info-for/media/index">Media</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases">Press releases</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases/2014">2014</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases/2014/june">June</a>
                </li>
                
                <li>
                    <span class="last-breadcrumb">Year of the Bus celebrates two centuries of buses with Regent Street Bus Cavalcade</span>
                </li>
            
 
            
 
            
 
            
 
            
 
        </ul>
    </div>
</div>
     
 
<div class="r">
    <div class="headline-container plain">
        <h1>Year of the Bus celebrates two centuries of buses with Regent Street Bus Cavalcade</h1>
        <div class="content-page-press-release">
        12 June 2014
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">



 <div class="on-this-page">

        <ul>
            <li>DATE: SUNDAY 22 JUNE 2014
            </li>
            <li>TIME: 11:30-18:00
            </li>
            <li>LOCATION: REGENT STREET, LONDON W1
            </li>
            <li>ADMISSION: FREE &#45; JUST TURN UP
            </li>
        </ul>
        <p>Almost fifty buses from the
        earliest horse-drawn model of the 1820s right up to the New Routemasters of the
        present day will transform Regent Street in the heart of London's West End on
        Sunday 22 June in celebration of the Year of the Bus.
        &nbsp;
        </p>
        <p>The Regent
        Street Bus Cavalcade, which will allow visitors free, unprecedented access to
        the most celebrated London buses of the last 185 years, will be held along the
        entire length of Regent Street which will be closed to traffic for the day.
        </p>
        <p>There will also be a variety of free family activities on offer including Lego
        workshops, a children's theatre show and the chance to have a personalised
        message recorded by the voice of London buses, Emma Hignett.&nbsp;
        &nbsp;
        </p>
        <p>
        The most modern buses &#45;
        including those powered by hydrogen, electricity and hybrid technology &#45; will
        be stationed near Oxford Circus, with vehicles increasing in age as visitors
        make their way towards Piccadilly Circus.&nbsp; Buses on display from a bygone
        era will include an example of the earliest horse-drawn bus, motor buses &#45;
        including London Transport Museum's recently restored B-type bus, a trolley bus
        and the original and iconic Routemaster.
        &nbsp;
        </p>
        <p>Visitors
        to the Regent Street Bus Cavalcade will also get the chance to</p>
        <p>Visit a bus shelter and bus stop made
        entirely out of Lego outside Hamleys toy shop.&nbsp; Lego will also be holding
        workshops for children throughout the day where
        they can make Lego bus stops to take home</p>
        <p>View theatre performances throughout the day
        &#45; full of fun, feathers and laughter - of the much-loved children's book Don't
        Let the Pigeon Drive the Bus!</p>
        <p>Take home a personalised announcement
        recorded for you by Emma Hignett &#45; the voice of London's buses</p>
        <p>Visit the Battle Bus exhibition and find out
        about London Transport Museum's newly restored B-type bus which will be on
        display at the event. These buses were commandeered in large numbers during the
        First World War and converted into 'Battle Buses' to carry soldiers to the
        frontline and were also used as ambulances and even mobile pigeon lofts</p>
        <p>Visit the London-based contemporary jewellery
        company Tatty Devine's stall which is launching a bus-inspired jewellery range
        created especially for the Year of the Bus. Tatty Devine will also hold
        jewellery making workshops on board a London bus</p>
        <p>
        Browse London Transport Museum's pop-up shop
        selling exclusive Year of the Bus gifts inspired by London's classic red
        buses.&nbsp; Shops along the length of Regent Street will open at noon</p>
        <p>Re-fuel at the London Transport Pop-Up
        Canteen.
        &nbsp;
        The Regent Street Bus
        Cavalcade, which is supported by the Regent Street Association and The Crown
        Estate, is part of Transport for London (TfL's) celebrations to mark the Year
        of the Bus which is organised in partnership with London Transport Museum and
        the capital's bus operators.
        &nbsp;</p>
        <p>
        Leon Daniels, TfL's Managing
        Director of Surface Transport, said: &quot;I'm delighted that Regent Street will
        play host to fifty buses from across almost two centuries in what will be a
        hugely memorable tribute to the humble London bus.&nbsp; The cavalcade will
        give Londoners and visitors to the city a unique chance to clamber aboard an
        exciting array of vehicles from the 1820s to the present day with lots of other
        free activities on offer to keep the whole family entertained. Buses have
        always been a key part of transport in London and this flagship Year of the Bus
        event will ensure that London buses, the bus drivers and the staff who support
        them get their richly deserved moment in the spotlight.&quot;
        &nbsp;
        </p>
        <p>David Shaw, Head of the
        Regent Street Portfolio at The Crown Estate, said: &quot;Over 90 per cent of those
        who come to Regent Street arrive by the great public transport delivered by
        TfL. We have partnered successfully with TfL on the Oxford Circus diagonals and
        the Piccadilly two way scheme. The Regent Street Bus Cavalcade is an important
        part of the Regent Street event programme and will be great fun."
        &nbsp;
        </p>
        <p>Events and activities are
        being held throughout 2014 to celebrate the role that London buses play in
        keeping the capital moving, and mark a number of important anniversaries.&nbsp;
        These include 60 years since the creation of the original and iconic
        Routemaster, 75 years since the launch of its predecessor the RT-type bus, and
        100 years since hundreds of London buses were sent to the Western Front to play
        a crucial role during the First World War.
        &nbsp;
        </p>
        <p>Buses&nbsp;are a vital daily
        service for millions and one that is very local, with the vast majority of
        Londoners (95 per cent) never more than 400 metres from a bus stop.&nbsp; Buses
        link homes to jobs, schools and hospitals in every part of the capital.&nbsp;
        They are the backbone, and often the forgotten workhorses, of London's
        transport network.
        &nbsp;
        </p>
        <p>Further information about
        the Year of the Bus can be found at www.tfl.gov.uk/yearofthebus and
        www.ltmuseum.co.uk
        &nbsp;
        The
        Year of the Bus is supported by and delivered in partnership with Exterion
        Media, Abellio, Arriva London, Clear Channel UK, Go-Ahead London, Metroline,
        RATP Dev UK, Stagecoach, Wrightbus, Optare and Telent Technology Services.
        &nbsp;
        </p>
         
        <hr />
        <ul>
            <li>For more details about the Year of the Bus Cavalcade and
            other Year of the Bus events, log on to http://www.tfl.gov.uk/campaign/our-events and www.ltmuseum.co.uk</li>
            <li>Special
            theatre performances of Don't Let the Pigeon Drive the Bus! performed by
            the Big Wooden Horse Theatre Company and aimed at children age 3 and up will be
            held at 12:00, 12:45, 13:30, 15:00, 15:45 and 16:30. Performances last
            approximately 10 minutes with a 10 minute photo opportunity for families after
            each performance</li>
            <li>Emma
            Hignett, the voice of London buses, will be available to record personalised
            announcements for 20 minutes at 12:45, 13:45, 14:45 and 15:45</li>
            <li>More
            information about Tatty Devine's jewellery making workshops is available at www.tattydevine.com/events</li>
            <li>Further
            information about London Transport Museum's recently restored B-type bus can be
            found at http://blog.ltmuseum.co.uk</li>
        </ul>
         
    

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
                <a href="/info-for/media/index" class="heading">
                    <h2 id="sub-menu-heading">Media<span class="visually-hidden"> navigation</span></h2>
                </a>
                <ul>
                    
                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases">Press releases</a></div>
                                <ul>
                                    
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2020">2020</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019">2019</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018">2018</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017">2017</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016">2016</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015">2015</a></div></li>
                            
 
                                        <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014">2014</a></div>
                                        <ul>
                                            
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/december">December</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/november">November</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/october">October</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/september">September</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/august">August</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/july">July</a></div></li>
                                    
 
                                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/june">June</a></div>
                                                <ul>
                                                    
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
                                                </ul>
                                            
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/may">May</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/april">April</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/march">March</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/february">February</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/january">January</a></div></li>
                                    
 
                                        </ul>
                                    </li>
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2013">2013</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2012">2012</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2011">2011</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2010">2010</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2009">2009</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2008">2008</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2007">2007</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2006">2006</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2005">2005</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2004">2004</a></div></li>
                            
 
                                </ul>
                            </li>
 
                                <li><div class="link-wrapper"><a href="/info-for/media/photos">Photos</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/media/contact-the-press-office">Contact the Press Office</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/filming-and-photography">Filming & photography</a></div></li>
                            
 
                </ul>
            
 
 
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype: -Home-Media-Media-Press releases-2014-June-Year of the Bus celebrates two centuries of buses with Regent Street Bus Cavalcade -->

 
 
        
        
            @{ViewBag.Description = "Press releases and news articles from Transport for London";}
        
        


 