


@{ViewBag.Title = "A406 North Circular Bounds Green - TfL announces dates for public exhibition of new plans";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>A406 North Circular Bounds Green - TfL announces dates for public exhibition of new plans</h1>
        <div class="content-page-press-release">
        12 April 2005
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        Following recent approval by the Transport for London (TfL) board of &pound;27m of road improvements for the A406 North Circular Road at Bounds Green, dates for a public exhibition of plans for the new scheme have been announced.
        
    </div>



 <div class="on-this-page">
<p>The scheme will create a predominantly two lane dual carriageway addressing congestion whilst improving road safety and the local environment and is part of the improvements planned for London's transport network under TfL's &pound;10bn 5 Year Investment Programme.</p>
<p>The exhibition will run from 9-14 June at the Trinity-at-Bowes Methodist Church in Palmerston Road and will be open: weekdays from 12-8pm; on Saturday from 10am-5pm; and will be closed on the Sunday. </p>
<p>It is an important opportunity for the local community to see the changes made to plans following feedback from the formal consultation conducted by TfL in 2002 and the event will be staffed by a TfL team in order to answer questions about the details of the proposals.</p>
<p>A brochure detailing the event and the plans for the scheme will be distributed widely to local residents and the exhibition will be advertised in local media, both in the run up to the event. <br></p>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "The scheme will create a predominantly two lane dual carriageway addressing congestion whilst improving road safety and the local environment and is part of the improvements planned for London's transport network under TfL's &pound;10bn 5 Year Investment";}
        
        


 