


@{ViewBag.Title = "Business on the move: travel planning is the smart choice for London businesses";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>Business on the move: travel planning is the smart choice for London businesses</h1>
        <div class="content-page-press-release">
        25 April 2005
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        Businesses in central London could make significant cost savings by introducing travel plans, guests at the Business on the move conference on 28 April will be told.
        
    </div>



 <div class="on-this-page">
<p>The event, organised by Central London Partnership (CLP) and Transport for London (TfL) in association with the British Council for Offices, will concentrate on the importance of using travel plans to create a sustainable environment for London businesses in both economic and environmental terms. </p>
<p>Travel planning is an effective business management tool which can be used to generate cost savings, lending companies a competitive advantage, and which has additional benefits for the environment and the health of employees.</p>
<p>Recognising the value of creating a sustainable business environment, the public and private sectors can work in partnership to create and maintain effective business travel plans. </p>
<p>Ken Livingstone, Mayor of London, said: "London is the fastest growing major city in Europe. That is a testament to our dynamism and success. To sustain London's growth and prosperity we have to expand the city's transport system and are working to ensure that those assets we already have are used with the maximum efficiency. Business travel plans can make a big difference to ensuring we get the most out of our transport system and that businesses start the day efficiently by helping employees plan the most reliable and healthy journey to work."</p>
<p>Travel planning can involve developing policies to promote walking and cycling, encouraging car sharing, introducing flexible working arrangements and making a company's vehicles and those of its suppliers more environmentally friendly. Benefits include increased accessibility on site for employees, visitors and deliveries, more efficient use of resources, and greater reliability for business travel. In the long term, making better use of the transport network will allow London to continue to thrive as a profitable economic centre. </p>
<p>Patricia Brown, Chief Executive of Central London Partnership, said: "Transport is a key concern for businesses in central London. Both the public and private sectors need to recognise the benefits of effective travel planning and incorporate it into their business plans. Making the most of the range of travel options available will not only reduce the pressure on public transport, it can also bring about important financial benefits for a company and health benefits for staff."</p>
<p>
            
<ol>
<li>Case study - BAA<br>BAA Heathrow introduced workplace travel planning in 
2000 to ease congestion and car parking constraints and help reduce air 
emissions. The schemes have not only proved successful in meeting the business 
needs but have also enabled BAA Heathrow to make significant savings. These 
include: 
<ul>
<li>&pound;8 million saved in 2002/03 by deferring building a multi-deck car park and 
by reducing demand for staff car parking spaces by 500 daily at Heathrow 
</li><li>Video conferencing was introduced across the BAA Group, and in less than one 
year the initial investment cost of &pound;150,000 has already been recouped 
</li><li>Alternative work styles, e.g. using hot desking, etc., has allowed the 
release of accommodation with a cost saving of circa &pound;400,000 per annum 
</li></ul>
<p>The Airport Carshare initiative has been a resounding success. Since the 
scheme was introduced in April 2001 across the seven BAA UK airports: </p>
<ul>
<li>4,816,561 litres of fuel have been saved, equating to &pound;4,938 per person 
</li><li>7,835 members of staff have registered on the scheme, from 436 different 
companies 
</li><li>45,840,400 km reduction in the distance driven by staff 
</li><li>9,538,595 kg reduction in the amount of CO2 produced </li></ul>
<p>(These figures are based on two people sharing 3 days a week and making a 
roundtrip of 69km) </p>
<li>For free advice on setting up travel plans, businesses can contact their Sub 
Regional Travel Plan Coordinator. <br>
<ul>
<li>North Central Travel Plan Network - Tim Slack, 020 7974 2629, <a href="mailto:tim.slack&#64;camden.gov.uk">tim.slack&#64;camden.gov.uk</a> 
</li><li>West London Transport Strategy - Tim Forrester, 020 8937 5181, <a href="mailto:tim.forrester&#64;brent.gov.uk">tim.forrester&#64;brent.gov.uk</a> 
</li><li>South East London Transport Network (SELTRANS) - Charles Tucker, 020 8461 
7995, <a href="mailto:charles.tucker&#64;bromley.gov.uk">charles.tucker&#64;bromley.gov.uk</a> 
</li><li>South and West London Transport Conference (SWELTRAC) - Liz Carne, 020 8487 
5039, <a href="mailto:l.carne&#64;richmond.gov.uk">l.carne&#64;richmond.gov.uk</a> 
</li><li>East - Thames Gateway London Partnership - Darren Little, 020 8227 3943, <a href="mailto:Darren.little&#64;lbbd.gov.uk">Darren.little&#64;lbbd.gov.uk</a> or Ida 
Bermingham, 01708 432 626, <a href="mailto:ida.bermingham&#64;havering.gov.uk">ida.bermingham&#64;havering.gov.uk</a> 
</li></ul><br>
<li>The Business on the Move Conference will be held on 28 April 2005 at 18.00 
at the Old Library, Guildhall.<br>Speakers will include: <br>
<ul>
<li>Richard Kauntze, Chief Executive, British Council for Offices 
</li><li>John Rider, Transport Planning and Policy Manager, BAA 
</li><li>Jenny Jones, Member of the London Assembly 
</li><li>Andrew Fullerton, Head of Environmental Planning, BBC 
</li></ul></li></li></li></ol><strong>For further information on TfL, its Workplace Travel 
Plan scheme or on BAA's scheme, contact:<br></strong>Judith Adams, TfL Press 
Officer - 020 7941 4376 
<p>
<p><strong>For further information on the Central London Partnership, 
contact:</strong><br>James Jones, CLP Communications Manager - 020 7478 
8474<br></p>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "The event, organised by Central London Partnership (CLP) and Transport for London (TfL) in association with the British Council for Offices, will concentrate on the importance of using travel plans to create a sustainable environment for London businesses";}
        
        


 