


@{ViewBag.Title = "Congestion charge to increase to &pound;8; fleet and regular users to receive discounts";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>Congestion charge to increase to &pound;8; fleet and regular users to receive discounts</h1>
        <div class="content-page-press-release">
        01 April 2005
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        Press release from the Mayor's office
        
    </div>



 <div class="on-this-page">
<p>The Mayor of London Ken Livingstone today confirmed a number of major changes to the congestion charging scheme following public consultation.</p>
<p>The Mayor has decided to make the following major changes:</p>
<ul>
<li>Increase the congestion charge from &pound;5 to &pound;8. </li>
<li>Increase the congestion charge for vehicles on the fleet scheme from &pound;5.50 to &pound;7. </li>
<li>Introduce three charge-free days for a monthly payment and 40 charge-free days for an annual payment of the congestion charge. </li></ul>
<p>The Mayor said: "Congestion charging has been in place for just over two years. It has achieved its key objective of reducing congestion and has also provided an additional stream of revenue to help the funding of other transport measures within my Transport Strategy.</p>
<p>"The charge increase will maintain the benefits currently witnessed in the zone and build upon its success, cutting congestion even further, and raising more revenue to be invested in London's transport system. Ninety per cent of people entering the zone do so by public transport. This will build on what has already been achieved in terms of extended bus provision, and in due course by providing additional underground capacity. At the same time, a number of measures will reduce the hassle of paying the charge.</p>
<p>"In response to requests from business and fleet operators to make the charge easier to pay and to reduce the impact of the charge on business, the daily charge for vehicles on the fleet scheme will be set at &pound;7.</p>
<p>"In addition, large discounts on monthly and annual payments will make the charge easier to pay for regular users and should lead to fewer penalty charge notices being incurred by drivers who forget to pay the charge."</p>
<p>These changes will come into effect on July 4 2005.</p>
<p><a href="http://www.tfl.gov.uk/congestioncharging">For more information please see our Congestion Charging pages.<br></a></p>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "The Mayor of London Ken Livingstone today confirmed a number of major changes to the congestion charging scheme following public consultation.The Mayor has decided to make the following major changes:Increase the congestion charge from &pound;5 to";}
        
        


 