


@{ViewBag.Title = "Garage Performance Statistics";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>Garage Performance Statistics</h1>
        <div class="content-page-press-release">
        05 April 2005
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        For some time the PCO has collected statistical information relating to the performance of garages involved in the presentation of taxis to the PCO for the purpose of licensing. This information has been used as a management tool to identify the first-time pass rate of garages that present 10 or more taxis in a given quarter.
        
    </div>



 <div class="on-this-page">
<p>Over the past three years it has been identified that the overall first-time pass rate has been deteriorating, reaching an all time low in December 2004. This is an unacceptable situation being wasteful of PCO and garage resources and the PCO would seek to work with those involved in the repair, maintenance and preparation of taxis for licensing to address this matter with a degree of urgency.</p>
<p>In response to this situation the PCO intends to publish factual data relating to any garage concerned with the presentation of 10 or more taxis each quarter, identifying how many cabs they have presented, and the subsequent first-time pass rate. It is hoped that the publication of such data will encourage those involved to prepare taxis to the appropriate standards prior to presentation for licensing.</p>
<p>Cabs are being presented in such a poor condition that the inspection is having to be terminated due to the lack of time to identify all the faults. During the period 1 April 04 to 30 June 04 a total of 109 cabs had to be presented 4 or more times each before a licence could be issued. PCO Notices 07/05 and 10/05 recently announced a new fee structure which is aimed at encouraging garages to ensure vehicles are prepared to an appropriate standard before being presented for licensing.</p>
<p>The PCO has already commenced a programme of visits to poor performing garages to encourage an improvement in standards and to offer advice and guidance on the PCO licensing requirements. </p>
<p>PCO on-site supervision at Penton Street has also been enhanced to ensure that consistent standards continue to be applied.</p>
<p>Any person and/or business involved in the repair and preparation of taxis for licensing by the PCO can contact the Senior Vehicle Inspections Manager for more information on 020 7941 7964.</p>
<p>The first published data will be for the period 1 April to 30 June 2005. </p>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "Over the past three years it has been identified that the overall first-time pass rate has been deteriorating, reaching an all time low in December 2004. This is an unacceptable situation being wasteful of PCO and garage resources and the PCO would seek";}
        
        


 