


@{ViewBag.Title = "Get on your bike, TfL urges Londoners";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>Get on your bike, TfL urges Londoners</h1>
        <div class="content-page-press-release">
        18 April 2005
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        As the days get longer and cycling becomes a more attractive way to travel around the city, Transport for London (TfL) is launching a new campaign (Monday 18 April) to get Londoners out on their bikes.
        
    </div>



 <div class="on-this-page">
<p>As part of its campaign to promote cycling in the spring and summer, TfL has commissioned three 'infomercials' which will screen on ITV, Channel 4 and Channel 5 during the next two weeks. The one minute films are about different types of cyclists; families, young professionals and young people and their positive experiences of cycling in London.</p>
<p>The aim of the infomercials is to get Londoners to dust down their bikes and get out and about to enjoy the capital. Recent research shows that cycling in London is growing faster than anywhere in the UK, but there are hundreds of thousands of unused bikes on balconies, gardens, sheds and garages.</p>
<p>Rose Ades, Head of London's Cycling Centre of Excellence, said:<br>"Cycling is a great way to enjoy the parks and get a fresh view of London, particularly now that facilities are improving and there are many more cyclists around.</p>
<p>"Unfortunately there are lots of bikes around that have not been out for a spin in years. Spring is the perfect time to get your bike out, explore the city and improve your health."</p>
<p>TfL is committed to making London a safe and cycle friendly city and is increasing investment in cycling by 40% in 2005/06 to improve the safety and convenience of cycling. This investment adds to the improvement and support programmes that are already underway, including:</p>
<ul>
<li>On-road cycle training by experienced instructors so that those new to cycling need not be intimidated by cycling in the city 
</li><li>900km of 'fast, safe, comfortable' cycle routes - LCN + - to be completed by 2009 
</li><li>150km of paths in parks and along side the canals upgraded to year round use by 2008 
</li><li>More secure cycling parking facilities - 5000 spaces on street, 5000 spaces at schools - by end 2005/6 
</li><li>State of the art cycle interchange at stations - including Walthamstow, Surbiton (2004) Finsbury Park (2005) 
</li><li>Major revamp of TfL website cycling pages to find all the information and incentives to get out and about on a bike 
</li><li>Action packed summer of cycling events and activities </li></ul>
<p>On Monday TfL is also launching a community fund to provide support for community groups, schools and businesses to promote bike rides and cycling events in their area.</p>
<p>&nbsp;</p>
<object id="shell_tfl_16x9_trans_happy" codebase="http://download.macromedia.com/pub/shockwave/cabs/flash/swflash.cab#version=6,0,0,0" height="492" width="330" align="middle" classid="clsid:d27cdb6e-ae6d-11cf-96b8-444553540000"><param name="_cx" value="8731"><param name="_cy" value="13018"><param name="FlashVars" value="8731"><param name="Movie" value="http://www.streamcity.co.uk/clients/transport/shell_tfl_16x9_trans_happy.swf"><param name="Src" value="http://www.streamcity.co.uk/clients/transport/shell_tfl_16x9_trans_happy.swf"><param name="WMode" value="Window"><param name="Play" value="0"><param name="Loop" value="-1"><param name="Quality" value="High"><param name="SAlign" value=""><param name="Menu" value="-1"><param name="Base" value=""><param name="AllowScriptAccess" value="always"><param name="Scale" value="ShowAll"><param name="DeviceFont" value="0"><param name="EmbedMovie" value="0"><param name="BGColor" value=""><param name="SWRemote" value="">
<embed src="http://www.streamcity.co.uk/clients/transport/shell_tfl_16x9_trans_happy.swf" quality="high" bgcolor="#ffffff" width="330" height="492" name="shell_tfl_16x9_trans_happy" align="middle" allowscriptaccess="sameDomain" type="application/x-shockwave-flash" pluginspage="http://www.macromedia.com/go/getflashplayer">
</object>
            <ol>
<li>Groups interested in bidding for funds to promote bike rides or events should contact Adrian Bell tel 020 7941 7539 email <a href="mailto:adrianbell&#64;tfl.gov.uk">adrianbell&#64;tfl.gov.uk</a> </li></ol>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "As part of its campaign to promote cycling in the spring and summer, TfL has commissioned three 'infomercials' which will screen on ITV, Channel 4 and Channel 5 during the next two weeks. The one minute films are about different types of cyclists;";}
        
        


 