


@{ViewBag.Title = "Hard hitting campaign targets teen road deaths";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>Hard hitting campaign targets teen road deaths</h1>
        <div class="content-page-press-release">
        15 April 2005
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        The death and injuries of teenage boys on the capital's roads is set to be tackled in a new hard hitting television advertising campaign from Transport for London (TfL), which starts today.
        
    </div>



 <div class="on-this-page">
<p><a href="#ad">View the advertisement below</a></p>
<p><a href="/corporate/projectsandschemes/roadsandpublicspaces/2297.aspx">Click here for campaign details</a></p>
<p>The advertisement is based on a trailer for blockbuster action movie "The Betrayal" starring fictional British action hero Scott Smith who has made it in Hollywood. The 12-year-old boy who would have grown up to be the movie's star is killed in a road accident before he makes it past his teens.</p>
<p>Boys in London aged between 11 and 14 are the group most at risk of being hit by a vehicle when crossing a road. The campaign called "Don't die before you've lived" is aimed at reducing the number of boys killed or seriously injured on London's roads every year by warning them of the dangers.</p>
<p>Chris Lines, Head of London Road Safety Unit, Transport for London, said:<br>"Teenage boys are most at risk on our roads and distractions such as mobile phones, texting and personal stereos increase the dangers.</p>
<p>"Two teenagers are killed or injured in pedestrian accidents every day in the capital. Many of these could be avoided if victims were aware of the dangers on the roads. Boys are difficult to communicate the message of road safety to, by targeting them through television and cinema I hope lives will be saved."</p>
<p>The campaign follows the success of TfL's award winning advertisements targeted at teenage girls which were first broadcast in April 2004.</p>
<p>The advertisement will be broadcast on ITV, Channel 4 and Channel 5 for a month. It will then be shown on cinema screens across the capital during the summer months.<br></p><a name="ad"></a>
<object id="shell_tfl_blockbuster" codebase="http://download.macromedia.com/pub/shockwave/cabs/flash/swflash.cab#version=6,0,0,0" height="390" width="330" align="middle" classid="clsid:d27cdb6e-ae6d-11cf-96b8-444553540000"><param name="_cx" value="8731"><param name="_cy" value="10319"><param name="FlashVars" value=""><param name="Movie" value="http://www.streamcity.co.uk/clients/transport/shell_tfl_blockbuster.swf"><param name="Src" value="http://www.streamcity.co.uk/clients/transport/shell_tfl_blockbuster.swf"><param name="WMode" value="Window"><param name="Play" value="0"><param name="Loop" value="-1"><param name="Quality" value="High"><param name="SAlign" value=""><param name="Menu" value="-1"><param name="Base" value=""><param name="AllowScriptAccess" value="always"><param name="Scale" value="ShowAll"><param name="DeviceFont" value="0"><param name="EmbedMovie" value="0"><param name="BGColor" value="FFFFFF"><param name="SWRemote" value=""><param name="MovieData" value=""><param name="SeamlessTabbing" value="1"><param name="Profile" value="0"><param name="ProfileAddress" value=""><param name="ProfilePort" value="0"><param name="AllowNetworking" value="all"><param name="AllowFullScreen" value="false">
				<embed src="http://www.streamcity.co.uk/clients/transport/shell_tfl_blockbuster.swf" quality="high" bgcolor="#ffffff" width="330" height="390" name="shell_tfl_blockbuster" align="middle" allowscriptaccess="sameDomain" type="application/x-shockwave-flash" pluginspage="http://www.macromedia.com/go/getflashplayer">	</object>
            <ol>
<li>Advance copies of the advertisement are available for broadcast 
</li><li>Screen shots are available for publication </li></ol>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "View the advertisement belowClick here for campaign detailsThe advertisement is based on a trailer for blockbuster action movie 'The Betrayal' starring fictional British action hero Scott Smith who has made it in Hollywood. The 12-year-old boy who would";}
        
        


 