


@{ViewBag.Title = "Live in Bromley? Want to be healthier or save money? Why not discuss TravelOptions with TfL?";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>Live in Bromley? Want to be healthier or save money? Why not discuss TravelOptions with TfL?</h1>
        <div class="content-page-press-release">
        28 April 2005
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        From 27 April Transport for London (TfL) will be rolling out a new project, TravelOptions, in partnership with the London Borough of Bromley. TravelOptions aims to inform people of travel choices available, with viable public transport alternatives to jumping in the car. Information given will be tailored specifically to their needs.
        
    </div>



 <div class="on-this-page">
<p>With the summer months approaching and good weather on the horizon, this is a perfect opportunity to try getting around by bicycle or walking to the nearest stop or station and using public transport. If people want to do their bit for the environment, or just lead a healthier lifestyle -TravelOptions can give them specific advice on bus routes, train timetables or walking and cycling maps.</p>
<p>A pilot of the TravelOptions project in Kingston, south west London resulted in a 14% drop in the amount of car users, a 15% rise in walking and two-thirds more people choosing to cycle as a way of travelling.</p>
<p>Peter Hendy, TfL Managing Director of Surface Transport, said:</p>
<p>"We've found that many people want to change the way they get about, but aren't sure how to. After talking to us about travel choices many people have decided to leave the car at home and get try getting on a bike, walking or taking a bus to their destination. Cycling regularly, for example, can cut the chances of heart disease by up to 50%, increase lifespan by 10 years and reduce stress levels. We've also improved the buses, they're now almost 100% fully accessible, safer, much more reliable and very popular with passengers all over London"</p>
<p>Using the bus is the cheapest motorised mode of transport, with single fares set at &pound;1.00 at peak times and 80p during the off-peak when using Oyster Pre-Pay. By using Journey Planner <a href="http://www.tfl.gov.uk/journeyplanner">www.tfl.gov.uk/journeyplanner</a>, passengers can plan their journey in advance and work out the best route before setting off. The national rail network is perfect for those who need to travel longer distances, there is a regular service to many central London stations from Bromley, running all day and well past the rush hour.</p>
<p>TfL will be sending information packs to schools, bars, leisure centres and local shops. Anyone who wishes to receive information directly can call 0800 32 88 237.</p>
<p>Any journalists who wish to try out cycling can borrow a TfL bicycle and/or attend cycle training by calling the TfL Press Office.</p>
            <p>The Mayor and TfL seek to encourage the use of every type of transport available to London's residents. Cutting congestion, and the related social, business and health benefits associated with it are top priorities.</p>
<p><strong>Cycling in Bromley:</strong></p>
<p>There are 50 miles of cycling routes, 120 public rights of way and 30 miles of green belt in Bromley, walking and cycling are a fantastic way of getting to know the area better. The local council also offers free cycling training to all its residents.</p>
<p><strong>Buses in Bromley:</strong></p>
<ul>
<li>Bromley bus garage is the current 'Bus Garage of the Year' runner-up. The competition is judged on staff training, customer service and employee relations, together with information on a range of performance criteria. The judges looked for the garages that offer the best quality of service to the travelling public and which, in their opinion, have the best practice and policies to sustain this level of service. </li></ul>
<p><strong>London's bus network:</strong></p>
<p>The London bus network is one of the largest and most comprehensive urban systems in the world. Each weekday 8,000 London buses carry 6 million passengers on over 700 different routes.</p>
<p><strong>Key points about expanding the London bus network:</strong></p>
<ul>
<li>Bus use is up by 11 per cent over the past year (03/04) - an extra 168 million passenger trips; </li>
<li>The number of passengers using buses is at its highest level since 1968; </li>
<li>Patronage is rising at its fastest rate since the Second World War; </li>
<li>Night bus use is up by 29 per cent over the past year; and</li>
<li>London Buses is running the highest volume of service on London's roads than at any time since 1957.</li></ul>
<p><strong>The future for cycling in London:</strong></p>
<p>TfL is committed to making London a safe and cycle friendly city and is increasing investment in cycling by 40% in 2005/06 to improve the safety and convenience of cycling. This investment adds to the improvement and support programmes that are already underway, including:</p>
<ul>
<li>On-road cycle training by experienced instructors so that those new to cycling need not be intimidated by cycling in the city </li>
<li>900km of 'fast, safe, comfortable' cycle routes - LCN + - to be completed by 2009 </li>
<li>150km of paths in parks and along side the canals upgraded to year round use by 2008 </li>
<li>More secure cycling parking facilities - 5000 spaces on street, 5000 spaces at schools - by end 2005/6 </li>
<li>State of the art cycle interchanges at stations - including Walthamstow, Surbiton (2004) Finsbury Park (2005) </li>
<li>Major revamp of TfL website cycling pages to find all the information and incentives to get out and about on a bike - <a href="http://www.tfl.gov.uk/cycles">www.tfl.gov.uk/cycles</a></li>
<li>Action packed summer of cycling events and activities </li></ul>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "With the summer months approaching and good weather on the horizon, this is a perfect opportunity to try getting around by bicycle or walking to the nearest stop or station and using public transport. If people want to do their bit for the environment, or";}
        
        


 