


@{ViewBag.Title = "New uniform means smarter working on the Tube";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>New uniform means smarter working on the Tube</h1>
        <div class="content-page-press-release">
        25 April 2005
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        New London Underground (LU) staff uniforms will be worn for the first time today, beginning with the Central, Bakerloo and Waterloo and City lines.
        
    </div>



 <div class="on-this-page">
<p>The new uniform is darker blue in colour and features design improvements implemented following consultation with LU's train and station staff. It is being delivered to all 8,500 front-line staff across the network and will roll-out on all Tube lines between now and the beginning of July.</p>
<p>Every five years a new LU uniform is produced. The latest update takes advantage of new and improved fabrics, as well as incorporating modern clothing classics, such as a fleece and polo shirt.</p>
<p>Media wishing to film / photograph / the first day of staff wearing the new uniforms can do so at Holborn Tube station on Monday 25 April at 10am. </p>
<p>LU Managing Director Tim O'Toole said:</p>
<p>"London Underground is working hard to improve the Tube, to make it safer, cleaner and more reliable. Our customer service surveys tell us that passenger satisfaction is on the up, although we know there is still much work to do.</p>
<p>"We value our staff at London Underground. I know how hard they work, every day, to provide a 'Good Service' to Tube passengers.</p>
<p>"It is essential that our staff are easily recognisable so passengers can seek help and assistance when needed, but they also need a uniform that looks good, is hard wearing and is comfortable to wear in all types of weather wherever they work on the Underground.</p>
<p>"So I'm delighted that we were able to work with them to improve the uniform. It is in a new, darker blue colour, which I think makes Tube staff look very smart and professional. I am sure it will be appreciated by staff and passengers alike."</p>
<p>The new uniforms will be phased into use across the Tube's different lines over the next two months. The uniform change will be completed by July 4.<br></p>
            <ul>
<li>The uniform change will be complete by 4 July 2005. </li>
<li>The lines to benefit from the uniform change will Victoria (2 May), Piccadilly (16 May), Metropolitan, Hammersmith and City and Circle (30 May), Jubilee, East London (6 June), Northern (27 June) and District (4 July). </li>
<li>LU distributes a new uniform to each staff member every two years, therefore there is no additional cost in issuing this new uniform. </li>
<li>TfL is investing &pound;10 billion over the next 5 years to improve and expand London's transport network, more than half of that in the Tube.</li></ul>
<p>For travel information, check out the TfL website at <a href="http://www.tfl.gov.uk">www.tfl.gov.uk</a> or call London Travel Information on 020 7222 1234.<br></p>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "The new uniform is darker blue in colour and features design improvements implemented following consultation with LU's train and station staff. It is being delivered to all 8,500 front-line staff across the network and will roll-out on all Tube lines";}
        
        


 