


@{ViewBag.Title = "New life for old train";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>New life for old train</h1>
        <div class="content-page-press-release">
        22 April 2005
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        A redundant Jubilee line carriage is to be given a new lease of life as a studio for Radio Lollipop at London's Great Ormond Street Hospital.
        
    </div>



 <div class="on-this-page">
<p>Radio Lollipop will use part of the carriage to broadcast music and chat to Great Ormond Street's young patients who will also take part in broadcasting to the hospital. The remaining space will be used as an activity centre away from the wards.</p>
<p>The carriage, which originally weighed 26 tonnes, has been cut down in size to fit into the hospital's courtyard. However, getting it into position will prove a challenge.</p>
<p>The 32 feet long carriage will be installed in its new home on Sunday 24 April. After negotiating the narrow streets around the hospital on an articulated lorry, the carriage will be attached to a crane and lifted between hospital buildings before being lowered into its final position. The operation is expected to take eight hours.</p>
<p>London Underground's Sales Manager, Barry Wilkinson said: "Redundant Tube trains are sometimes put to new uses but Great Ormond Street's idea is the most original we have ever heard of.</p>
<p>"It has been quite a challenge to adapt the carriage for its new use. As well as reducing the length, we have stripped out the interior, installed cabling for new lighting and heating systems and made some adaptation to the door mechanisms. </p>
<p>"After travelling millions of miles on the Jubilee line the carriage was due for retirement but it is good to know that it will have a new lease of life and we hope it will give great pleasure to the patients at Great Ormond Street."</p>
<p>Penny Howard, a Sister at Great Ormond Street said: "The Tube carriage will be a great treat for the patients. Not only will the children be able to have fun and relax in the carriage but it will allow them a break from hospital life. It's also a practical idea as we are now rebuilding two thirds of the hospital so the Tube carriage will give our radio station a permanent, interesting home. I'm sure that the carriage will quickly become a favourite with patients."<br></p>
            <p>Photo Opportunity: The process of craning the train into position will begin at 1030. Press photographers are welcome and should report to Reception at Great Ormond Street Hospital, Great Ormond Street, London WC1N. On arrival please contact Great Ormond Street Press Officer, Joanna Robert on: 07976 602 033. </p>
<p>&nbsp;</p>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "Radio Lollipop will use part of the carriage to broadcast music and chat to Great Ormond Street's young patients who will also take part in broadcasting to the hospital. The remaining space will be used as an activity centre away from the wards.The";}
        
        


 