


@{ViewBag.Title = "Should the Tube run later at weekends? Consultation closes tomorrow";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>Should the Tube run later at weekends? Consultation closes tomorrow</h1>
        <div class="content-page-press-release">
        21 April 2005
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">



 <div class="on-this-page">
<span class="right">
                    
                </span><p><a href="/tfl/initiatives-projects/onehourlater/forms/questionnaire.asp">Please click here to have your say.</a></p>
<p>        
            
                        
            
            
            
            <p>Tomorrow (Friday 22 April) is the last opportunity to have your say on whether you think the Tube should run later at the weekend.<br></p>
<p>Over 40,000 people have already responded in the two months since London Underground (LU) asked Londoners, Tube users and all interested parties for their views on whether the Tube should run one hour later at weekends. This is one of the highest responses LU and Transport for London has ever had to a public consultation.</p>
<p>LU has received a wide range of views about a later weekend Tube. A decision about whether to go ahead with the changes will be made later this year. If later hours on Friday and Saturday are given the go-ahead then the changes could be introduced in late 2006 at the earliest.</p>
<p>The proposal would see last trains leaving central London around 1.30am rather than the current 12.30am. In order to maintain the Tube's engineering hours, essential for safety checks and maintenance, the Tube would also start an hour later on Saturday and Sunday mornings. <br></p>
            <ul>
<li>Consultation started on 22 February and finished on 22 April 2005. </li>
<li>A further announcement will be made when a decision has been taken. </li></ul>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "Please click here to have your say.Tomorrow (Friday 22 April) is the last opportunity to have your say on whether you think the Tube should run later at the weekend.Over 40,000 people have already responded in the two months since London Underground (LU)";}
        
        


 