


@{ViewBag.Title = "Statement on new Metronet Chief Executive";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>Statement on new Metronet Chief Executive</h1>
        <div class="content-page-press-release">
        13 April 2005
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        TfL Commissioner, Bob Kiley said:<BR>"I said last week that Metronet was 'bordering on disaster right now'.
        
    </div>



 <div class="on-this-page">
<p>Today's announcement does not resolve the fundamental issue, which is that London's Tube users are paying the price for Metronet's failure to deliver.</p>
<p>"This will be Metronet's third CEO since the PPP contracts were signed. They can dismiss one CEO and appoint another, but that will not in itself fix the problem.</p>
<p>"I would like the new CEO and Metronet shareholders, who together are the ones responsible for the delivery of its maintenance and renewal work on trains, track, signals and stations, to answer some serious questions."In light of the fact that Metronet has fallen well behind their original projections for delivery of their works, what can you do to ensure that you will deliver all the commitments of the PPP on time and on budget?</p>
<p>"Will Metronet ensure that TfL is provided with full and complete disclosure of financial information and on their performance against their programme of maintenance and renewal work, which they have so far failed to do?</p>
<p>"What immediate steps will the new Metronet CEO take to address their record of weak management performance and inadequate investment in proper equipment to do the job?" <br></p>
            <ul>
<li>Metronet are responsible for the maintenance and renewal of two-thirds of the Tube's infrastructure - trains, tracks, signals, stations and civils - through two companies - Metronet BCV and Metronet SSL; </li>
<li>Metronet BCV are responsible for the maintenance and renewal of the Bakerloo, Central, Victoria and Waterloo &amp; City lines; </li>
<li>Metronet SSL are responsible for the maintenance and renewal of the Circle, District, Hammersmith &amp; City, Metropolitan and East London lines; </li>
<li>Under Metronet's business structure, their five shareholders own 20% equity each and are also their supply chain companies, responsible for the delivery of the maintenance and renewal work; </li>
<li>The Metronet shareholders (together with their key areas of responsibility) are Balfour Beatty (track), Atkins (stations), Bombardier (trains), RWE Thames Water and EDF Energy.<br></li></ul>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "Today's announcement does not resolve the fundamental issue, which is that London's Tube users are paying the price for Metronet's failure to deliver.'This will be Metronet's third CEO since the PPP contracts were signed. They can dismiss one CEO and";}
        
        


 