


@{ViewBag.Title = "Track improvement works on the Central line";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>Track improvement works on the Central line</h1>
        <div class="content-page-press-release">
        22 April 2005
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        Due to track replacement works, being carried out by Metronet BCV, London Underground Central line services will be suspended between Newbury Park and Woodford from Saturday 30 April through to Bank holiday Monday, 2 May.
        
    </div>



 <div class="on-this-page">
<p>A rail replacement bus service will operate between Woodford and Newbury Park calling at all intermediate stations. </p>
<p>Customers travelling from Roding Valley, Chigwell or Grange Hill to Woodford or to central London are advised to travel via Woodford. </p>
<p>Customers travelling from Hainault, Fairlop or Barkingside to Newbury Park or to central London are advised to travel via Newbury Park. </p>
<p>Customers are advised to allow at least an extra 20 minutes to complete their journeys, especially those wishing to make last train connections. <br></p>
            <ul>
<li>Metronet Rail BCV is responsible for the maintenance and renewal of the Bakerloo, Central, Victoria and Waterloo &amp; City lines. </li>
<li>TfL is investing &pound;10 billion over the next 5 years to improve and expand London's transport network, over half of that in the Tube. <br></li></ul>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "A rail replacement bus service will operate between Woodford and Newbury Park calling at all intermediate stations. Customers travelling from Roding Valley, Chigwell or Grange Hill to Woodford or to central London are advised to travel via Woodford.";}
        
        


 