


@{ViewBag.Title = "Tube crime fighters win top transport Oscar";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>Tube crime fighters win top transport Oscar</h1>
        <div class="content-page-press-release">
        01 April 2005
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        A revolutionary and innovative crime-fighting partnership between London Underground (LU) and the British Transport Police (BTP) has been recognised through a major award at the London Transport 'Oscars'.
        
    </div>



 <div class="on-this-page">
<p>LU and BTP won the Most Innovative Transport Project award for the joint Crime and Disorder Partnership unit at the London Transport Awards 2005, London's transport industry 'Oscars', held at the Hilton Hotel on March 30. </p>
<p>The Mayor and TfL have also funded an extra 200 BTP officers specifically for the Tube over the past two years, an increase of 50 per cent.</p>
<p>The BTP / LU Crime & Disorder Partnership unit is unique in the transport industry. The judges recognised the excellent progress the Partnership has made in tackling and reducing crime and anti-social behaviour on the Tube, particularly through the use of Anti Social Behaviour Orders (ASBOs).</p>
<p>John Strutton, Crime and Disorder Partnership Manager, said:&quot;The safety of Tube passengers and staff is our top priority. This award is an acknowledgement of the real working Partnership developed between London Underground and British Transport Police and the results it has achieved.</p>
<p>&quot;Through working together, we've made great strides towards reducing crime on the Tube and providing a safer and more welcoming environment for customers and staff.&quot;</p>
<p>Chief Inspector Dave Dickason BTP, said: &quot;One of the most effective ways the Partnership has been able to make an impact is through the issuing of ASBOs. Over 50 were issued last year, bringing the total to 125 that are currently in operation.</p>
<p>&quot;ASBOs are a real deterrent and have proved their worth combating the more serious and persistent anti social offenders. Any breach of an ASBO would attract severe penalties, ranging up to five years imprisonment.&quot;</p>
<p>The BTP / LU Crime and Disorder Partnership unit was set up in 2000 using an innovative partnership approach to reduce crime on the Tube. The unit consists of dedicated LU managers and revenue staff working alongside specialist BTP staff.<br></p>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "LU and BTP won the Most Innovative Transport Project award for the joint Crime and Disorder Partnership unit at the London Transport Awards 2005, London's transport industry 'Oscars', held at the Hilton Hotel on March 30. The Mayor and TfL have also";}
        
        


 