


@{ViewBag.Title = "Underground wins prestigious Equality Award";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>Underground wins prestigious Equality Award</h1>
        <div class="content-page-press-release">
        29 April 2005
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        London Underground's (LU) ground breaking approach to equality issues and, in particular, to including more women in the workforce has been recognised through a major award at the prestigious Opportunity Now public sector awards.
        
    </div>



 <div class="on-this-page">
<p>LU was overall winner in the public sector category at last night's awards held at the London Hilton Hotel, Park Lane.</p>
<p>LU's Managing Diversity Competence Programme (MDCP) is a key part of LU's efforts to understand and meet the needs of its female customers and to transform the organisational culture and workforce composition to one which welcomes and includes women in all jobs, at all levels.</p>
<p>Already, female staff report that LU's Managing Diversity programme has led to changed behaviour in male staff. </p>
<p>Penny Hazell, LU General Manager, Bakerloo Line said: "I've seen a huge amount of change in the attitude and response of my male colleagues. Lots more sympathy, lots more understanding, lots more awareness of the issues that staff are faced with both at work and at home."</p>
<p>Historically, LU like other railway companies has been characterised by a predominantly male workforce. Much effort has already been made to re-dress this balance by employing greater numbers of women. While this has achieved considerable success, this did not necessarily lead to instant acceptance by fellow workers.</p>
<p>A key focus of LU's Managing Diversity programme is to change the behaviour and attitudes of managers. Starting with the most senior managers, an in-depth development programme is being rolled-out to all managers. When the programme is completed in March 2008, over 1,000 managers will have been through it. One benefit of this approach is that managers in LU are able to set standards of agreed acceptability in the workplace and can tackle straightaway any incidents they believe fall below organisation-wide standards.</p>
<p>The aim for LU is to create a workplace culture where we prevent harassment and create a culture of respect which is intolerant to prejudice and discrimination. </p>
<p>Along with other equality action programmes, MDCP has contributed to significant increases in women in the LU workforce. Latest employment figures show that between 2000 and January 2005:</p>
<p><br>Women Customer Service Assistants increased from 18.6% to 23.3% </p>
<ul>
<li>Women Train Operators from 2.6% to 6.9% </li>
<li>Women Signal Operators from 4% to 7.4% </li>
<li>Women in first line management from 15.6% to 17.9% </li>
<li>Women in middle management from 17.2% to 22.6% </li>
<li>Women in senior management from 13% to 20.1%</li></ul>
<p>LU Managing Director, Tim O'Toole said:</p>
<p>"Considerable progress has been made but there is still much to do. I believe that LU is presently the leading UK train operator in the field of diversity and equality training. I would very much like to see the percentage of female employees in LU's workforce continue to increase and the Managing Diversity programme has gone a long way to making this a reality. The ultimate aim is to create a workplace that reflects the diversity of London." <br></p>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "LU was overall winner in the public sector category at last night's awards held at the London Hilton Hotel, Park Lane.LU's Managing Diversity Competence Programme (MDCP) is a key part of LU's efforts to understand and meet the needs of its female";}
        
        


 