


@{ViewBag.Title = "World-class Tour of Britain cycle race returns to London";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>World-class Tour of Britain cycle race returns to London</h1>
        <div class="content-page-press-release">
        12 April 2005
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        Today, the 2005 Tour of Britain professional cycle race was officially launched at London's City Hall. A world-class sporting event, featuring many of the stars of the Tour de France and the 2004 Athens Olympics, the tour will climax in central London on Sunday 4 September having first completed five stages around the country.
        
    </div>



 <div class="on-this-page">
<p>Large crowds are expected to watch the final stage of the race as the cyclists compete against a backdrop of iconic central London landmarks. The London course will be 45 laps around a one mile circuit starting and finishing in Whitehall, following a route through Trafalgar Square, Northumberland Avenue, Victoria Embankment and Parliament Square.</p>
<p>Mayor of London, Ken Livingstone said: 'In the year that London bids to host the 2012 Olympic Games, we are delighted to once again welcome the final stage of the Tour of Britain. This important national event will further showcase London's ability to promote a world-class sporting fixture to a global audience. </p>
<p>'The Tour of Britain will be a fantastic spectacle and a fun day out. It will help to highlight the health benefits and enjoyment that cycling can offer Londoners and will illustrate the first rate facilities and experiences that London has for all tourists and visitors.''</p>
<p>The race comes as Londoners are showing an increasing enthusiasm for cycling in the capital for recreation and transport. London-wide cycling increased 23% to May last year compared with 2003/4 and it has increased 62% on Transport for London's road network since 2001. This is the fastest growth in cycling of anywhere in the UK.</p>
<p>To help achieve this, TfL's cycling budget is rising from &pound;12 million in 2004 to &pound;19.2 million in 2005/06. </p>
<p>Peter Hendy, Managing Director of Surface Transport at Transport for London said:</p>
<p>"TfL welcomes the Tour of Britain to the streets of central London. We are strongly committed to promoting cycling as an enjoyable, healthy and relaxed way of getting around the capital. This race provides a great opportunity for Londoners and other visitors to be inspired by the sport and encouraged to take it up." </p>
<p>With an estimated 100,000 people expected to watch the last stage of the tour, it is also a major boost for tourism in the capital. </p>
<p>The thousands of spectators can also enjoy a host of cultural events also taking place. The activities will give an added economic boost to the capital. According to Visit London, in 2004 65 per cent of spectators came from outside London and went on to visit other attractions spending around &pound;30 per head.</p>
<p>London Development Agency Head of Tourism, Anita Thornberry, said: "The Tour of Britain is a fantastic sporting spectacle and a highly popular free tourist event, bringing thousands of extra visitors to London. It also strengthens London's Olympic bid showing that the capital, working with partners around the country, is able to deliver major events and underlining our passion for sport. This is part of our work to bring more high-profile events to London to make the capital an even more exciting, dynamic tourist destination."</p>
<p>&nbsp;</p>
            <ul>
<li>The Tour of Britain 2005 is being supported by Transport for London (TfL), the London Development Agency (LDA), the Mayor of London and Visit London the official visitor organisation for the capital. </li>
<li>The six stages of the race will also be supported by private sector partners in the various regions </li>
<li>The race will feature some of the world's top cyclists including Roger Hammond ranked number 1 in Britain and Chris Newton 2004 Athens Silver Medalist. </li>
<li>Tour of Britain 2005 is the second consecutive year for the race, race since its re launch in 2004 after a five year absence. </li></ul>
<p>For further information about cycling in London go to <a href="http://www.tfl.gov.uk/cycling">www.tfl.gov.uk/cycling</a><br>For the official guide to what's on in London go to <a href="http://www.visitlondon.com">www.visitlondon.com</a></p>
<p>For further information please contact Edith Djin, press office TfL on 020 7941 4112; Hilary Merrett press office GLA on 020 7983 4753; Vincent Burke, press office LDA on 020 7954 4682.<br></p>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "Large crowds are expected to watch the final stage of the race as the cyclists compete against a backdrop of iconic central London landmarks. The London course will be 45 laps around a one mile circuit starting and finishing in Whitehall, following a";}
        
        


 