


@{ViewBag.Title = "X26, a new, accessible and more reliable service";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>X26, a new, accessible and more reliable service</h1>
        <div class="content-page-press-release">
        12 April 2005
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        From 16 April route X26, a new express service, will be running from Croydon to Heathrow Airport.
        
    </div>



 <div class="on-this-page">
<p>The service will run from East Croydon station to Heathrow Airport, calling at all major centres and transport interchanges including national rail at West Croydon, Sutton, Worcester Park, Kingston and the Tube at Hatton Cross. X26 will replace route 726.</p>
<p>Clare Kavanagh, Director of Performance at London Buses, said:</p>
<p>"The changes we have made to create the new X26 will provide a more reliable link with Heathrow Airport for bus passengers throughout south London."</p>
<p>Passengers wishing to use the service can find connecting bus routes using TfL's Journey Planner - <a href="http://www.tfl.gov.uk/journeyplanner">www.tfl.gov.uk/journeyplanner</a>. People living in Bromley for example, can easily connect with the X26 at East Croydon by using the Tramlink at Beckenham Junction or bus routes 119 and 194.</p>
<p>&nbsp;</p>
            The X26 will call at: East Croydon, West Croydon, Wallington Green, Carshalton, Sutton, Cheam, North Cheam, Worcester Park, New Malden, Kingston, Teddington, Hatton Cross, Heathrow Airport<br>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "The service will run from East Croydon station to Heathrow Airport, calling at all major centres and transport interchanges including national rail at West Croydon, Sutton, Worcester Park, Kingston and the Tube at Hatton Cross. X26 will replace route";}
        
        


 