


@{ViewBag.Title = "21st century communications for London Buses";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>21st century communications for London Buses</h1>
        <div class="content-page-press-release">
        19 May 2005
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        Further improvements to the reliability of bus services in London will be one of the key results from a new &pound;120m technology contract to upgrade the radio and information systems on London Buses' 8,000-strong fleet.
        
    </div>



 <div class="on-this-page">
<p>Funded by Transport for London's (TfL's) 5-year &pound;10bn investment programme, the new systems will also deliver further benefits to passengers through better real-time passenger information.</p>
<p>After assessing 120 expressions of interest as part of a detailed EU procurement process, TfL has selected global services and solutions company, Siemens to deliver this project, the largest of its kind in the world, having decided their bid provided the most innovative, flexible and best value-for-money solution.</p>
<p>The contract will run from April 2005 for 10 years. </p>
<p>Siemens will provide a managed service, including operations management, support and maintenance services, installation and decommissioning of equipment, data centre hosting, fault management and training.</p>
<p>London Buses' current system is based on technology implemented in the early 1990s, and was designed to support a fleet much smaller than the one in operation today. </p>
<p>An upgrade of the system is required to replace obsolete equipment and provide a system that is responsive to growing passenger numbers and operational needs.</p>
<p>The first buses to be installed with new systems will roll out in 2007.</p>
            <p>About <a href="http://www.tfl.gov.uk/buses/">London Buses</a>:</p>
<ul>
<li>The London bus network is one of the largest and most comprehensive urban systems in the world. Each weekday 8,000 London buses carry 6 million passengers on over 700 different routes 
</li><li>Bus use is up by 11 per cent over the past year (03/04) - an extra 168 million passenger trips 
</li><li>The number of passengers using buses is at its highest level since 1968 
</li><li>Night bus use is up by 29 per cent over the past year 
</li><li>London Buses is running the highest volume of service on London's roads than at any time since 1957.</li></ul>
<p>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "Funded by Transport for London's (TfL's) 5-year &pound;10bn investment programme, the new systems will also deliver further benefits to passengers through better real-time passenger information.After assessing 120 expressions of interest as part of a";}
        
        


 