


@{ViewBag.Title = "BikeFest rides into Trafalgar Square";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>BikeFest rides into Trafalgar Square</h1>
        <div class="content-page-press-release">
        17 May 2005
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        London's annual cycle-themed extravaganza BikeFest in the Square will be held for the second time on Sunday 12 June.
        
    </div>



 <div class="on-this-page">
<p>
<p><strong>Event:</strong> BikeFest in the Square<br><strong>Date:</strong> Sunday 12 June<br><strong>Time:</strong> Starts 1pm, ends 5pm<br><strong>Location: </strong>Trafalgar Square</p>
<p>BikeFest, hosted by Transport for London (TfL), kicks off this year's Bike Week. </p>
<p>The event will offer great entertainment for the whole family, including those who have never been near a saddle. </p>
<p dir="ltr">The event will have an array of bike themed activities including:</p>
<ul>
<li>
<div>Bike try out area for all ages and abilities</div></li>
<li>
<div>Kids workshops to create accessories and badges</div></li>
<li>
<div>Games and competitions</div></li>
<li>
<div>Sculpture</div></li>
<li>
<div>Theatre performances on bikes</div></li>
<li>
<div>Puppet shows </div></li>
<li>
<div>Guided bike rides around central London</div></li>
<li>
<div>Street dance</div></li>
<li>
<div>A style show and much more</div></li></ul>
<p>TfL's Bike Doctor clinic will be on hand to offer free health check for bikes. </p>
<p>A team of mechanics will advise on minor bike ailments, from checking the gears to tightening up the brakes. </p>
<p>
<h2>'Explore the city'</h2>
<p>
<p>Free supervised cycle parking will also be available at the event and there will be a prize draw to win a brand new bike courtesy of TfL and Evans Cycles.</p>
<p>TfL's Managing Director of Surface Transport, Peter Hendy, said:<br>"During the summer we want as many people as possible to hop on a bike to explore the city. </p>
<p>"BikeFest in the Square will show people that cycling in London is fun, enjoyable and a great way to get around.</p>
<p>"There will be some great family entertainment on offer, including bikes for hire and I hope people will take the chance to experience for themselves the buzz and benefits of cycling in London."</p>
            <ul>
<li>For further information about cycling in London, visit TfL's <a href="http://www.tfl.gov.uk/cycles/">cycling site </a>
</li><li>Bike Week and Bike2Work Week run from 11 June-19 June. For more information visit the <a href="http://www.bikeweek.org.uk">Bike Week website </a><br></li></ul>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "Event: BikeFest in the SquareDate: Sunday 12 JuneTime: Starts 1pm, ends 5pmLocation: Trafalgar SquareBikeFest, hosted by Transport for London (TfL), kicks off this year's Bike Week. The event will offer great entertainment for the whole family, including";}
        
        


 