


@{ViewBag.Title = "Capitals road deaths drop by 21 per cent";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>Capitals road deaths drop by 21 per cent</h1>
        <div class="content-page-press-release">
        30 May 2005
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        The number of people killed on London's roads fell by 21 per cent last year new figures out today reveal.
        
    </div>



 <div class="on-this-page">
<p>The figures published by Transport for London (TfL) show that 216 people lost their lives in 2004, 56 fewer than in 2003. </p>
<p>There were 939 fewer serious injuries compared to 2003, down to 3,953. </p>
<p>These results mean that the Capital has almost reached the Mayor's target to cut death and serious injury on the roads by 40 per cent by 2010.</p>
<p>Mayor of London Ken Livingstone said: "We are now almost within touching distance of our 2010 targets a full five years early, however, 216 deaths is totally unacceptable and I believe the time is now right to raise the bar. </p>
<p>"I am asking Transport for London to start work with the boroughs and the police with a view to establishing an even more challenging target of a 50 per cent reduction by 2010 in the number of deaths and serious injuries on the Capital's roads."</p>
<p>Jenny Jones, the Mayor's Road Safety Ambassador, said: "Road safety is working in London, because we have spent more and more money on doing the things which we know save lives. </p>
<p>
<h2>'Amazing success story'</h2>
<p>
<p>"London now has the chance to go beyond the Government targets for casualty reduction and to dramatically reduce the daily toll of unnecessary bloodshed on our streets. </p>
<p>"This is an amazing success story, but while there are still people being killed or injured, we need the local authorities and the police to do everything they can to make our streets safe for all road users."</p>
<p>Other key figures include:</p>
<ul>
<li>Cyclist deaths and injuries down by 23 per cent<br>
</li><li>Government's 2010 reduction target for cyclists killed and seriously injured (340 people) already reached - six years early<br>
</li><li>Car occupants killed or seriously injured down by 24 per cent<br>
</li><li>Power two-wheeler riders killed or seriously injured down by 22 per cent</li></ul>
<p>Peter Hendy, Managing Director Surface Transport, TfL, said:"Today's figures demonstrate the progress that has been made in London in reducing unnecessary deaths on the roads, 56 lives saved is a huge achievement. </p>
<p>"Measures such as 20mph zones, improved road layouts and the further roll out of safety cameras mean that we are making great progress. </p>
<p>"However, we must not be complacent, only by continuing to work with boroughs and the police, and pressing the message of road safety home can we help to ensure lives aren't needlessly lost."</p>
            <ul>
<li>A&nbsp;document with a full break down of the 2004 London casualty statistics including a borough by borough list is <a href="/assets/downloads/Collision-Casualty-2004.pdf">attached</a>.</li></ul>
<p><br></p>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "The figures published by Transport for London (TfL) show that 216 people lost their lives in 2004, 56 fewer than in 2003. There were 939 fewer serious injuries compared to 2003, down to 3,953. These results mean that the Capital has almost reached the";}
        
        


 