


@{ViewBag.Title = "Congestion charge consultation roadshows to visit Kensington and Chelsea - have your say";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>Congestion charge consultation roadshows to visit Kensington and Chelsea - have your say</h1>
        <div class="content-page-press-release">
        12 May 2005
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        Public consultation has begun on the detailed proposals to extend the congestion charge westward.
        
    </div>



 <div class="on-this-page">
<div class="pullquote right">
<p>
The 10-week public consultation is due to end on 15 July
</p>
</div>
<p>Three exhibitions and six road shows will be touring the Royal Borough of Kensington and Chelsea during consultation period until 15 July. </p>
<p>They will provide detailed information on the westward extension proposals and people will be able to meet and talk to Transport for London staff.</p>
<p>The exhibitions will be open from 10am to 7pm Mondays to Fridays and from 10am to 5pm on Saturdays. </p>
<p>They will be held at the following dates and venues: </p>
<p><strong>Exhibitions</strong></p>
<ul>
    <li>30 May to 11 June, Holiday Inn, Kensington Forum, 97 Cromwell Road, SW7 4DN</li>
    <li>4 to 7 July, Old Chelsea Town Hall, Kings Road, SW3 5EE</li>
    <li>4 to 6 July, Westbourne Grove (junction with Colville Road), W11</li>
</ul>
<p><strong>Road shows</strong></p>
<ul>
    <li>12 to 14 May &amp; 30 June to 2 July, Fulham Road (junction with Pelham Crescent), SW7</li>
    <li>9 to 11 May &amp; 27 to 29 June, Kings Road (Junction with Anns Lane), SW3</li>
    <li>16 to 18 May, Old Brompton Road (junction with Earls Court Road), SW5</li>
    <li>9 to 11 June, Kensington High Street (near number 281), W8</li>
    <li>19 to 21 May, Clarendon Road, Ladbroke Grove, W11</li>
    <li>6 to 8 June, Sainsbury's, Ladbroke Grove, W10<br />
    </li>
</ul>
<ul>
    <li>In spring 2004, public consultation took place on a revision to the Mayor's Transport Strategy to allow a Western Extension of the Central London Congestion Charging Scheme. That consultation concentrated on the principle of a Western Extension. TfL has now made a detailed proposal for the scheme reflecting many of the comments previously received </li>
    <li>Changes made to the proposals from the original consultation include a modified boundary for the charging zone, the residents discount sector extended to include some particular areas that would otherwise experience parking and severance problems and a proposal that the charging hours will also end at 6pm instead of 6.30pm. The 10 week public consultation will end on 15 July </li>
    <li>Effects of an extended zone would include:
    <ul>
        <li>10-14% less traffic within the zone during charging hours meaning that a vehicle making a journey into and back out of the extended zone would typically save 5 minute</li>
        <li>Congestion in the extended zone would reduce by 15-20%</li>
        <li>Residents would find car journeys easier and they would only pay a 90% discounted charge</li>
        <li>Bus passengers, taxi occupants, motorcyclists, cyclists and pedestrians would all benefit from reduced congestion in and around the enlarged zone at no cost</li>
        <li>Many vehicles in the western extension area are also used in the existing charging zone; their drivers or users would experience less congestion in the extended area at no extra charge</li>
        <li>Fewer vehicles and less congestion could lead to fewer personal personal injury accidents</li>
        <li>Fewer vehicles would result in lower emissions and fuel consumption</li>
        <li>With less congestion there would be better overall access to the area and scope for better street management. The area would be more attractive to visitors and tourists</li>
        <li>Additional buses and other planned public transport improvements would be a benefit to the extension area</li>
        <li>Parking should be easier, though Boroughs and car park operators would lose some revenue </li>
        <li>Businesses would benefit from deliveries being more reliable (though they would have the extra cost of the charge). Most customers in the extension area come in by public transport; many of those who use a car are local residents, eligible for the residents' discount.</li>
    </ul>
    </li>
    <li>The net revenues from the western extension are predicted to be around &pound;30-&pound;50m per year and these would be spent on further transport improvements in London. </li>
    <li>A leaflet explaining the proposal and a questionnaire are being sent to almost 700,000 households and 65,000 businesses within the proposed extended zone and an area adjacent to the enlarged zone. </li>
    <li>The consultation is also being advertised in the press, on the radio and posters and via the web. TfL hope to encourage anybody with comments to make on the proposals to respond to the consultation process. In addition, exhibitions and roadshows will tour London to gather people's views.<br />
    </li>
</ul>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "Three exhibitions and six road shows will be touring the Royal Borough of Kensington and Chelsea during consultation period until 15 July. They will provide detailed information on the westward extension proposals and people will be able to meet and talk";}
        
        


 