


@{ViewBag.Title = "Dial-a-Rides biggest ever image change";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>Dial-a-Rides biggest ever image change</h1>
        <div class="content-page-press-release">
        24 May 2005
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        The Mayor of London, Ken Livingstone, today announced the launch of 33 new Dial-a-Ride vehicles, the biggest design change to the fleet since the service began 25 years ago.
        
    </div>



 <div class="on-this-page">
<div class="pullquote right">
<p>
The vehicles have been custom-built to offer passengers a far greater level of comfort and safety
</p>
</div>
<p>At least another 50 of these vehicles will enter service later this year.</p>
<p>Mr Livingstone said: "These newly designed Dial-a-Ride vehicles will significantly improve the quality of transport service we can offer disabled people in London. </p>
<p>"The vehicles have been custom-built to offer passengers a far greater level of comfort and safety. </p>
<p>"This increased investment in Dial-a-Ride is part of our commitment to improve accessibility across the Capital's entire public transport network."</p>
<p>Dial-a-Ride's Managing Director, Jeff Chamberlain, said: "We developed the new design to meet Dial-a-Ride passengers' requirements for a vehicle that is easier to use and smarter to travel in, and a smoother, more comfortable ride."</p>
<p>Existing customers tested prototype vehicles and suggested improvements, making the final design custom-built for London's disabled passengers.</p>
<p>The new vehicles have: </p>
<ul>
    <li>Brand new silver livery with Dial-a-Ride logo
    </li>
    <li>Better suspension and more space between seats
    </li>
    <li>Electric swivelling height-adjustable seats at the sides so passengers do not have to negotiate steps
    </li>
    <li>A hinged floor at the back which raises and lowers on airbags, to allow wheelchair users to travel on a horizonal floor.</li>
</ul>
<p>As the new vehicles are smaller and made for individual journeys, they are more flexible and more appropriate for the way people actually use the service - most Dial-a-Ride journeys just have one or two passengers per trip.</p>
<p>The new people carriers will join 321 minibuses already in existence.</p>
<p>These minibuses will stay in the fleet while demand for the service is assessed and passengers give feedback on the new design. </p>
<p>The next step will be to consult customers on the part the larger vehicles should play and how they should be redesigned. </p>
<ul>
    <li>Dial-a-Ride is available in all London boroughs and is a door-to-door transport service for disabled people who cannot use buses, trains orthe Tube, or for them to use to connect with accessible public transport services
    </li>
    <li>Dial-a-Ride started in London 25 years ago. Transport for London has been running it since April 2002
    </li>
    <li>Launch date: 1000 on 24 May at the Mayor's Press Conference at City Hall.<br />
    </li>
    <li><strong>Quotes:<br />
    </strong>"A tremendous amount of time and effort has gone into pioneering this new and very valuable vehicle. The new powered passenger seats are unique on a public transport vehicle and will be an absolute boon to thousands of Londoners. <br />
    <br />
    "In addition, for the first time since the early 1980s, Dial-a-Ride isnow operating vehicles that are really meant for just one or two passengers, bringing Dial-a-Ride back to its original purpose - to give individual disabled people public transport journeys that are similar in all important ways to those made by non-disabled people."<br />
    Bryan Heiser, Special Adviser on Disability to the TfL Board<br />
    <br />
    "If people have been put off using Dial-a-Ride because of its image, they should reconsider. The new design is a world away from a 'social services' style bus."<br />
    Rosie Grewal, Dial-a-Ride customer<br />
    <br />
    "It's a lovely smooth ride the new vehicle is intimate, instead of intimidating"<br />
    Gohar Haigh, Dial-a-Ride customer<br />
    <br />
    "We are very impressed with the final version of the new Dial-a-Ride people carrier, and we are not easily impressed. Our reservations about the prototypes have been met in their entirety and this illustrates the importance of listening to users because Dial-a-Ride now has a vehicle it can be extremely proud of and which passengers will be very happy to use." <br />
    Peter Scott Presland, Director, Transport for All<br />
    (Transport for All represents the London-based users of door to door transport and has 5,000 individual members)</li>
</ul>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "At least another 50 of these vehicles will enter service later this year.Mr Livingstone said: 'These newly designed Dial-a-Ride vehicles will significantly improve the quality of transport service we can offer disabled people in London. 'The vehicles have";}
        
        


 