


@{ViewBag.Title = "District line industrial action suspended";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>District line industrial action suspended</h1>
        <div class="content-page-press-release">
        19 May 2005
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        Following talks between London Underground (LU) management and trades unions today, the Aslef industrial action planned to begin on Monday 23 May - which would have disrupted services on the East end of the District line - has been postponed for one week.
        
    </div>



 <div class="on-this-page">
<div class="pullquote right">
                        <p>
                            The safety of our staff and passengers is always LU's top priority
                            
                        </p>
                    </div>
                
            
            
            <p>Further talks are planned next week.</p>
<p>A spokesman for LU said: "We have had very productive talks with Aslef and the RMT today, and we are very pleased that the industrial action has been postponed. </p>
<p>"We hope that we will be able to resolve the issue with further talks.</p>
<p>"The safety of our staff and passengers is always LU's top priority and we will continue to work with the British Transport Police and local authorites to improve safety and security on the Underground."</p>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "Further talks are planned next week.A spokesman for LU said: 'We have had very productive talks with Aslef and the RMT today, and we are very pleased that the industrial action has been postponed. 'We hope that we will be able to resolve the issue with";}
        
        


 