


@{ViewBag.Title = "East London Line appoints programme managers";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>East London Line appoints programme managers</h1>
        <div class="content-page-press-release">
        11 May 2005
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        Delivery of Phase 1 of the East London Line extension took another step forward today with the appointment of Parsons Brinckerhoff as programme managers.
        
    </div>



 <div class="on-this-page">
<div class="pullquote right">
                        <p>
                            We are committed to delivering this important project on time and on budget
                            
                        </p>
                    </div>
                
            
            
            <p>Parsons Brinckerhoff were selected by TfL London Rail from a panel of five bidders to oversee the construction of the &pound;900m project. </p>
<p>The project is being funded by TfL's &pound;10bn 5-Year Investment Programme and is key to triggering significant regeneration in the east and south of London.</p>
<p>Ian Brown, Managing Director of TfL London Rail said: "The award of this contract is further evidence of our progress with this scheme since it transferred to TfL in November 2004. </p>
<p>"We are committed to delivering this important project on time and on budget to make a real difference to rail passengers in south and east London. </p>
<p>"In the coming weeks we hope to make further announcements regarding civil engineering works along the Kingsland Viaduct and the placement of an OJEU notice for the main works contract."</p>
<p>
<p>Parsons Brinckerhoff has an impressive history in managing the delivery of major infrastructure projects through out the world, including: </p>
<ul>
<li>Train Protection and Warning System in the UK in 2002 
</li><li>The Bay Area Rapid Transport (BART) in San Francisco, for which they received the Grand Award - American Council of Engineering Companies - 2004 
</li><li>Cairo Metro 
</li><li>Delhi Metro 
</li><li>Taiwan High Speed Line <br></li></ul>
<p>Phase 1 will extend existing services north to Dalston Junction and south to New Cross, Crystal Palace and West Croydon. </p>
<p>These major improvements to London's transport network will be delivered by June 2010 - in plenty of time to support London's Olympic bid. <br></p>
            <ul>
<li>Parsons Brinckerhoff contract will run from May 2005 to December 2010</li>
<li>Parsons Brinckerhoff will manage the work to replace the existing railway structure currently operated as a Tube line. This will involve installing new track and signalling systems and building stations to take overland Metro-style services. Some bridges, viaducts and crossings will also require upgrading.<br></li></ul>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "Parsons Brinckerhoff were selected by TfL London Rail from a panel of five bidders to oversee the construction of the &pound;900m project. The project is being funded by TfL's &pound;10bn 5-Year Investment Programme and is key to triggering significant";}
        
        


 