


@{ViewBag.Title = "Fare dodger sees the light";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>Fare dodger sees the light</h1>
        <div class="content-page-press-release">
        12 May 2005
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        A fare dodger who moved to New Zealand and became a born-again Christian has anonymously forwarded &pound;400 in cash to London Underground (LU) as repayment for unpaid tickets.
        
    </div>



 <div class="on-this-page">
<div class="pullquote right">
                        <p>
                            I can't stand the thought of stealing and therefore I enclose &pound;400 to cover my fare
                            
                        </p>
                    </div>
                
            
            
            <p>LU has decided to donate the money to Great Ormond Street Hospital for Sick Children. </p>
<p><!-- #EndEditable -->On Tuesday 10 May, Mayor of London Ken Livingstone announced that the penalty for travelling without a valid ticket on London Underground will rise from &pound;10 to &pound;20 on 12 June 2005 as a further deterrent to fare dodgers.</p>
<p>Mike Challis, General Manager for the Piccadilly Line, was amazed to receive the letter with a New Zealand postmark containing eight &pound;50 notes. </p>
<p>In his letter, the anonymous former fare dodger - who signed his letter as A. Christian - apologised and asked LU to accept the money as payment. </p>
<p>He realised that since becoming a born-again Christian his years of persistent fare dodging on London Underground were wrong and that he had deprived London Underground of much-needed income. </p>
<p>The letter states: "While living in London I often travelled on the Underground. </p>
<p>
<p>"Occasionally the train would be about to leave the station and there was no time to buy a ticket from the ticket machine, so I usually paid at the other end when asked for my ticket by ticket collectors. </p>
<p>"In some of these cases there was no-one collecting tickets at the other end so sometimes I would buy a ticket from the machine at the other end of my journey, then rip it up and put it in the bin. Other times I did not pay for the ride at all. 
<p>"My life is radically different to what it was then. </p>
<p>"I can't stand the thought of stealing and therefore I enclose &pound;400 to cover my fare."</p>
<p>Mr Challis said: "I receive correspondence from the public on a frequent basis but this has to be the most unusual letter I have ever received. </p>
<p>"It is not every day that you receive &pound;400 in the post from a former fare dodger. </p>
<p>"London Underground accepts his apology and is delighted that he has seen the error of his ways. </p>
<p>"Fare dodging is basically stealing and we strongly condemn anyone who engages in this activity. </p>
<p><h2>Officers on patrol</h2></p>
<p>"By fare dodging you are depriving London Underground of much-needed income which can be used to fund improvements to our trains and stations. </p>
<p>
<p>"We would encourage anyone else who engages in such activity to think twice before doing so again.</p>
<p>"London Underground takes the issue of fare dodging very seriously. </p>
<p>"There are more Revenue Protection Officers patrolling the network than ever before so if you do travel without a ticket for your entire journey then you are now more likely to get caught."</p>
<p>London Underground has decided that the most appropriate thing to do is to donate the money to the Great Ormond Street Hospital for Sick Children. </p>
<p>The hospital is located near to the Piccadilly line and LU recently donated a redundant train carriage to be used as a studio for Radio Lollipop.</p>
<p>Ros Freeborn of Great Ormond Street Hospital Children's Charity said: "We are delighted to accept this contribution and are very grateful to London Underground for thinking of us with regard to such an unusual source of funding. </p>
<p>"We hope that the mysterious donor will be pleased to know that the money will be put to good use and go towards rebuilding the hospital."</p>
            <ul>
<li>There are currently around 240 ticket inspectors working on the Tube supported by 600 operational police personnel</li>
<li>The penalty for travelling without a valid ticket on London Underground will rise from &pound;10 to &pound;20 on 12 June 2005</li>
<li>Around 40,000 penalties for travelling without a valid ticket are issues each year on London Underground, about 1 for every 26,000 passenger journeys</li>
<li>Transport for London estimates fare evasion on London's buses, Underground and trams amounts to over &pound;60m a year</li>
<li>The introduction of the pre-payment Oystercard in 2003 has meant that customers are less likely to dodge fares if they do not have the correct amount for their journey.<br></li></ul>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "LU has decided to donate the money to Great Ormond Street Hospital for Sick Children. <!-- #EndEditable -->On Tuesday 10 May, Mayor of London Ken Livingstone announced that the penalty for travelling without a valid ticket on London Underground will rise";}
        
        


 