


@{ViewBag.Title = "LU finds that its good to talk";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>LU finds that its good to talk</h1>
        <div class="content-page-press-release">
        31 May 2005
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        Seventy organisations have formally registered interest in the provision of mobile phone and new technology services at London Underground (LU) stations from mid-2008.
        
    </div>



 <div class="on-this-page">
<div class="pullquote right">
                        <p>
                            Mobile phone services could be available to Tube passengers on Underground stations from the summer of 2008
                            
                        </p>
                    </div>
                
            
            
            <p>The closing date for receipt of expressions of interest was the end of April but due to a high level of response, LU decided to extend the deadline by a further month.</p>
<p>In March, Ken Livingstone, the Mayor of London, announced LU's intention to approach the market seeking interest in the possible introduction of mobile phone and new technology services such as DAB digital radio, DVB digital video broadcasting and wireless Internet on the Tube.</p>
<p>Income generated for LU by this venture would be re-invested in the Tube network, to fund further improvements for passengers.</p>
<p>Organisations that have expressed interest and complied with LU's confidentiality requirements will now be forwarded a market consultation document for response by 30 June 2005. </p>
<p>The market consultation document outlines background issues that need to be taken into account, such as the Tube's physical and environmental constraints, as well as LU's current thinking on the operational framework for mobile and new technology services. </p>
<p>LU wants to hear from the market with views on these issues with the aim of assisting LU to define the extent of this project and to provide the framework around which the most appropriate technological solution can be applied. </p>
<p>Following this consultation with suppliers, LU may undertake a trial of mobile phone service and the additional new technologies at one station in 2006.</p>
<p>
<h2>Best services, best value</h2>
<p>
<p>LU will then review the information received and decide the most appropriate operational and commercial characteristics for mobile phone and new technology service provision on the Tube.</p>
<p>Because of all the services this project could possibly deliver, LU will engage in a full OJEU tendering process rather than engage in contractual negotiations now with a limited number of suppliers. </p>
<p>This is intended to ensure the best services and best value for LU and its customers and ultimately deliver mobile and new technology services that our customers want.</p>
<p>It is envisaged that this process could commence in mid-2006 with the issuing of an OJEU notice followed by a prequalification stage. </p>
<p>The invitation to tender could potentially be issued at the beginning of 2007, with a contract being awarded in late 2007. </p>
<p>Mobile phone services could then be available to Tube passengers on Underground stations from the summer of 2008.</p>
<p>LU does not currently intend to provide coverage on Tube trains underground but, if feasible, mobile phone services and the additional technologies could be extended across the network to include tunnels and moving trains at a later date.</p>
<p>LU Director of Strategy and Service Development Richard Parry said: "We have received an excellent initial response from the market, who have demonstrated considerable interest in providing both mobile phone services and other exciting technologies for LU customers. </p>
<p>"We intend to now issue a consultation document for those who have expressed interest so that we can get further information from the market about how we could best provide these services."</p>
<p>The development of a wireless internet network could potentially allow passengers to access real-time Tube and London travel information on the move through their mobile phones or laptops. </p>
<p>Passengers could access information on travel disruptions before they arrive at affected stations and could amend their journey as appropriate.</p>
<p>These services are primarily aimed at Tube passengers, although LU would also like to explore the possibility of exploiting such technologies for operational purposes.</p>
            <ul>
<li>TfL is investing &pound;10bn over the next five years to improve and expand London's transport infrastructure, over half of that in the Tube 
</li><li>Passengers can already use mobile phones on the overground sections of the Tube, which accounts for over half of the total network 
</li><li>The Underground environment presents unique practical challenges, most notably space, power and ventilation constraints. Proposals must take these challenges into account 
</li><li>Income generated for LU by this venture would be re-invested in the Tube network, to fund further improvements for passengers.<br></li></ul>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "The closing date for receipt of expressions of interest was the end of April but due to a high level of response, LU decided to extend the deadline by a further month.In March, Ken Livingstone, the Mayor of London, announced LU's intention to approach the";}
        
        


 