


@{ViewBag.Title = "Lust on the Underground";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>Lust on the Underground</h1>
        <div class="content-page-press-release">
        25 May 2005
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        Lust, love, the dreams of innocence and the lessons of experience will be on display on the Underground for the next eight weeks.
        
    </div>



 <div class="on-this-page">
<p>The latest series of Poems on the Underground features six poems that illustrate and explore the cause and effect of human passion, unchanging from the 16th century to the present day. </p>
<p>Any Tube traveller whose fancy has been lightly turned to thoughts of love by the spring will find much to enjoy in: </p>
<ul>
<li>Lines from <em>Doctor Faustus,</em> by Christopher Marlowe 
</li><li><em>When I was One and Twenty,</em> from AE Housman's <br><em>A Shropshire Lad</em> 
</li><li><em>Animals </em>by American poet Frank O'Hara 
</li><li><em>I Stepped from Plank to Plank</em> by Emily Dickinson 
</li><li><em>Tides </em>by Jenny Joseph 
</li><li><em>Canticle</em> by John F Deane</li></ul>
<p>Poems on the Underground will be more visible than ever in this series. </p>
<p>The poems will appear on 3,000 advertising spaces, an increase of a third over previous series.</p>
            <ul>
<li>Poems on the Underground is produced in association with Platform for Art, London Underground's Public Art programme
</li><li>The poems are selected and the programme is administered by writer Judith Chernaik and poets Gerard Benson and Cicely Herbert 
</li><li>Poems on the Underground is supported by London Underground, Arts Council England and the British Council which distributes the posters to its offices throughout the world.<br></li></ul>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "The latest series of Poems on the Underground features six poems that illustrate and explore the cause and effect of human passion, unchanging from the 16th century to the present day. Any Tube traveller whose fancy has been lightly turned to thoughts of";}
        
        


 