


@{ViewBag.Title = "Major boost for Jubilee line";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>Major boost for Jubilee line</h1>
        <div class="content-page-press-release">
        24 May 2005
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        The Jubilee line is set to receive a real boost with longer trains, together with a host of improvements across the line, Mayor of London Ken Livingstone announced today.
        
    </div>



 <div class="on-this-page">
<div class="pullquote right">
<p>
This extra seventh car will be a real boost to all Jubilee line passengers, increasing capacity by nearly a fifth across the whole line
</p>
</div>
<p>From January 2006, an extra seventh carriage is to be added to all Jubilee line trains, boosting passenger capacity by 17 per cent. </p>
<p>Four new trains will also be added, increasing the train fleet from 59 to 63 trains. </p>
<p>The improvements are due to be delivered by Tube Lines.</p>
<p>The news follows improved performance figures published last week by London Underground (LU), which show that last year the Tube carried more passengers than ever before, reliability reached a seven-year high and LU's best customer satisfaction scores yet were recorded.</p>
<p>All the improvements are part of Transport for London's (TfL) &pound;10bn 5-year Investment Programme, to improve and expand London's transport network. </p>
<p>The Mayor said: "This extra seventh car will be a real boost to all Jubilee line passengers, increasing capacity by nearly a fifth across the whole line, or an extra 3,000 passengers every morning and evening peak.</p>
<p>"London Underground is improving and the Jubilee line is safer, cleaner and more reliable than it has been for many years. </p>
<p>"But we know there is much more to do. </p>
<p>"That's why the Jubilee line will also receive a full line upgrade to increase capacity by 45 per cent, due for delivery by Tube Lines in 2009."</p>
<p>In order to ensure a safe and reliable introduction of the new seven-carriage trains, LU will have to gradually reduce the existing Jubilee line six-carriage service throughout December 2005, and close the line entirely for five days between December 25-30.</p>
<p>This is because six- and seven-carriage trains cannot be run at the same time and to ensure rigorous testing of the trains and the improved signalling system prior to their introduction into passenger service. The new seven-carriage train Jubilee line service will then be gradually introduced in early January 2006.</p>
<p>George McInulty, LU Service Director for the Jubilee, Northern and Piccadilly lines (JNP), said: "We ask passengers to understand that we need to reduce the Jubilee line service in December 2005, to help us ensure a smooth, safe and reliable delivery of the improved seven-carriage service in January 2006.</p>
<p>"We've chosen to reduce the service in December and close the line over Christmas as this is the time of the year when the Tube is most lightly used. </p>
<p>"Replacement bus services will be in operation when the line is closed."</p>
<p>Currently, the Jubilee line capacity is approximately 16,500 people per hour when running 24 trains per hour. </p>
<p>With the introduction of seven-carriage trains and an extra four trains, LU will be introducing a new timetable in January 2006. </p>
<p>
</p>
<h2>Special timetable</h2>
<p>
</p>
<p>This will allow it to meet rising Jubilee line passenger demand and enable 19,500 passengers per hour to be carried.</p>
<p>Bus replacement services will be provided during the five-day closure.</p>
<p>A special Jubilee line timetable will be operated during December 2005 and January 2006 as follows:</p>
<ul>
    <li><strong>4-24 December 2005:<br />
    </strong>The peak service offered on the Jubilee line will be reduced as six-carriage trains are progressively withdrawn from service to be converted into seven-carriage trains. All trains in passenger service during this period will be six-carriage trains. </li>
    <li><strong>25-30 December 2005:<br />
    </strong>During Christmas Day, when the whole of the Tube network is closed, and for the rest of that week, when fewer people use the Tube, the entire Jubilee line will be closed to customers.<br />
    <br />
    This is to allow the completion of infrastructure works necessary for seven-carriage trains to run. Intensive testing of the seven-carriage trains and other infrastructure work will also take place over these days across the entire Jubilee line. The extra train carriages will be incorporated into the existing fleet at Stratford Market Depot by Tube Lines. </li>
    <li><strong>31 December 2005-early January 2006:</strong></li>
</ul>
<ul>
    <li>TfL is investing &pound;10bn over the next five years to improve and expand London's transport network, more than half of that in the Tube </li>
    <li>Tube Lines is responsible for the maintenance and renewal of the Jubilee, Northern and Piccadilly lines </li>
    <li>Tube Lines recently completed the modernisation and refurbishment of seven stations across London Underground, including Kilburn and West Hampstead stations on the Jubilee line </li>
    <li>The modernised and refurbished station improvements include:
    <ul>
        <li>Structural repairs and fresh paintwork throughout</li>
        <li>New information indicator boards on platforms and in ticket halls</li>
        <li>Better lighting</li>
        <li>New CCTV security systems</li>
        <li>Upgraded PA systems and Help Points</li>
        <li>Improved seating</li>
    </ul>
    </li>
    <li>LU has exercised a Specified Right in the PPP contracts to get from Tube Lines the delivery of a seven-car Jubilee line train service in 2006, rather than as part of the full line upgrade in 2009 </li>
    <li>Tube Lines is due to deliver a full line upgrade of the Jubilee line in 2009, increasing its capacity by 45 per cent </li>
    <li>The extra Jubilee line carriages are currently being constructed by Alstom at its Barcelona factory </li>
    <li>LU achieved record performance figures in 2004/5, as follows:
    <ul>
        <li>Passengers carried: LU carried 976 million passengers in 2004/5, an increase of 3 per cent on 2003/4 and the highest ever figure, beating the previous best of 970 million set in 2000/1</li>
        <li>Train kms operated: LU operated 69.4 million train kms, again the best ever figure, up by 2.5 per cent, from 67.7 million kms in 2003/4</li>
        <li>Per cent of schedule operated: LU operated 95.3 per cent of all scheduled train services - a seven-year high - up by 2.2 per cent on the 93.1 per cent figure in 2003/4, and by 4.2 per cent on the 91.1 per cent figure recorded in 2002/3</li>
        <li>Customer satisfaction survey: LU recorded an overall customer satisfaction score of 78 out of 100, up from 76 in 2003/4 and the highest annual score achieved since recording began in 1990/1.</li>
    </ul>
    </li>
</ul>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "From January 2006, an extra seventh carriage is to be added to all Jubilee line trains, boosting passenger capacity by 17 per cent. Four new trains will also be added, increasing the train fleet from 59 to 63 trains. The improvements are due to be";}
        
        


 