


@{ViewBag.Title = "Mobile phone services on Tube generates considerable market interest";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>Mobile phone services on Tube generates considerable market interest</h1>
        <div class="content-page-press-release">
        13 May 2005
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        The announcement that London Underground (LU) is seeking expressions of interest for the provision of mobile phone and new technology services at Tube stations has generated considerable market interest.
        
    </div>



 <div class="on-this-page">
<div class="pullquote right">
                        <p>
                            Over 60 organisations have formally expressed interest in providing mobile phone and new technology services
                            
                        </p>
                    </div>
                
            
            
            <p>Over 60 organisations have formally expressed interest in providing mobile phone and new technology services on Tube stations from mid-2008, and is beyond the number that LU expected to receive.</p>
<p>The closing date for receipt of expressions of interest was the end of April but due to the continued high level of response, LU has decided to extend the deadline to 24 May 2005. </p>
<p>A notice has been placed in the Official Journal of the European Union (OJEU) advising of the new closing date.</p>
<p>In March, Ken Livingstone, the Mayor of London, announced LU's intention to approach the market seeking interest in the possible introduction of mobile phone services and new technology services such as DAB digital radio, DVB digital video broadcasting and wireless internet on the Tube.  </p>
<p>Income generated for LU by this venture would be re-invested in the Tube network, to fund further improvements for passengers.</p>
<p>LU does not currently intend to provide coverage on Tube trains underground but, if feasible, mobile phone services and the additional technologies could be extended across the network to include tunnels and moving trains at a later date.</p>
<p><h2>'Excellent initial response'</h2></p>
<p>Because of all the services this project could possibly deliver, LU will engage in a full OJEU tendering process rather than engage in contractual negotiations now with a limited number of suppliers. </p>
<p>This is intended to ensure the best services and best value for LU and its customers and ultimately deliver mobile and new technology services that our customers want.</p>
<p>LU Director of Strategy & Service Development, Richard Parry said: "We have received an excellent initial response from the market, who have demonstrated considerable interest in providing both mobile phone services and other exciting technologies for LU customers. </p>
<p>"Once the extended deadline for receipt has passed we intend to issue a consultation document to those who have expressed interest so that we can get further information from the market about how we could best provide these services."</p>
            <ul>
<li>TfL is investing &pound;10bn over the next five years to improve and expand London's transport infrastructure, over half of that in the Tube </li>
<li>Passengers can already use mobile phones on the overground sections of the Tube, which accounts for over half of the total network</li>
<li>The Underground environment presents unique practical challenges for the provision of mobile phone and new technology services, most notably space, power and ventilation constraints. Proposals must take these challenges into account</li>
<li>Income generated for LU by this venture would be re-invested in the Tube network, to fund further improvements for passengers.<br> </li></ul>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "Over 60 organisations have formally expressed interest in providing mobile phone and new technology services on Tube stations from mid-2008, and is beyond the number that LU expected to receive.The closing date for receipt of expressions of interest was";}
        
        


 