


@{ViewBag.Title = "New, blue and improved Piccadilly line";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>New, blue and improved Piccadilly line</h1>
        <div class="content-page-press-release">
        16 May 2005
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        Starting week this week (16 May), London Underground (LU) employees working on the Piccadilly line will be wearing a new, blue and improved uniform.
        
    </div>



 <div class="on-this-page">
<div class="pullquote right">
                        <p>
                            Changes in the uniform reflect feedback we have received from customers and staff
                            
                        </p>
                    </div>
                
            
            
            <p>The new uniform is darker blue and features design improvements implemented following consultation with LU's train and station staff. </p>
<p>Every five years a new LU uniform is produced. </p>
<p>The latest update takes advantage of improved fabrics, as well as incorporating modern designs, such as a fleece and polo shirt.</p>
<p>Piccadilly line General Manager Mike Challis said: "London Underground is working hard to improve the Tube, to make it safer, cleaner and more reliable. </p>
<p>"Customer surveys suggest that customer satisfaction is on the increase, although we accept that there is still room for improvement.</p>
<p>"We value our staff at London Underground. I know how hard Piccadilly line staff work, every day, to provide a 'Good Service' to Tube passengers.</p>
<p>"Changes in the uniform reflect feedback we have received from customers and staff. </p>
<p>"I am very pleased that we were able to work closely to produce a new, smart and professional look for Tube staff. </p>
<p>"I hope the new look is appreciated by both passengers and staff alike."</p>
<p>The new uniform will be distributed to all of LU's 8,500 front-line train and station staff by July 4.</p>
            <ul>
<li>LU distributes a new uniform to each staff member every two years, therefore there is no additional cost in issuing this new uniform. LU is bringing forward the programme of uniform distribution to speed up the change over 
</li><li>TfL is investing &pound;10bn over the next 5 years to improve and expand London's transport network, more than half of that in the Tube 
</li><li>For travel information, check out the <a href="http://www.tfl.gov.uk">TfL website</a> or call London Travel Information on 020 7222 1234.</li></ul>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "The new uniform is darker blue and features design improvements implemented following consultation with LU's train and station staff. Every five years a new LU uniform is produced. The latest update takes advantage of improved fabrics, as well as";}
        
        


 