


@{ViewBag.Title = "Penalty for fare dodgers set to double to GBP20 on Tube and buses";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>Penalty for fare dodgers set to double to GBP20 on Tube and buses</h1>
        <div class="content-page-press-release">
        10 May 2005
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        London Mayor Ken Livingstone announced today that the penalty for travelling without a valid ticket on London's buses, London Underground and the Docklands Light Railway will double to &pound;20.
        
    </div>



 <div class="on-this-page">
<div class="pullquote right">
                        <p>
                            We are sending out a clear message that freeloading will not be tolerated
                            
                        </p>
                    </div>
                
            
            
            <p>The move is intended to create a stronger deterrent to fare dodgers and will bring London into line with the national rail network, which is due to make a similar increase.</p>
<p>Ken Livingstone said: "Only a tiny minority of passengers fail to pay fares but those who do are cheating the vast majority of honest travellers. </p>
<p>"By doubling the penalty for travelling without a valid ticket to &pound;20, and increasing the number of inspectors, we are sending out a clear message that freeloading will not be tolerated."</p>
<p>TfL has over 240 Revenue Protection Inspectors patrolling the bus and tram network. </p>
<p>This will rise to 290 by the middle of 2005. </p>
<p>They are supported by 1300 members of the Transport Operational Command Unit, which is funded by the Mayor and TfL and provided by the Metropolitan Police. </p>
<p>There are currently around 240 ticket inspectors working on the Tube supported by 750 operational police personnel.</p>
            <ul>
<li>The penalty for travelling without a valid ticket on London buses, London Underground and the Docklands Light railway will rise from &pound;10 to &pound;20 on 12 June 2005 </li>
<li>Around 50,000 penalty fares for travelling without a valid ticket are issued each year on London's buses plus another 42,000 prosecution notices for more serious fraud and fare irregularity offences. Together they represent about one for every 19,000 passenger journeys</li>
<li>Around 40,000 penalties for travelling without a valid ticket are issued each year on London Underground, about 1 for every 26,000 passenger journeys. There are another 6,000 prosecutions</li>
<li>On Croydon Tramlink the penalty fare will increase from &pound;15 to &pound;20 if paid within 21 days and from &pound;25 to &pound;30 if paid later</li>
<li>TfL estimates fare evasion on London's buses, Underground, DLR and trams amounts to over &pound;60m a year<br></li></ul>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "The move is intended to create a stronger deterrent to fare dodgers and will bring London into line with the national rail network, which is due to make a similar increase.Ken Livingstone said: 'Only a tiny minority of passengers fail to pay fares but";}
        
        


 