


@{ViewBag.Title = "Public Consultation on detail of proposed extension to congestion charging zone begins";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>Public Consultation on detail of proposed extension to congestion charging zone begins</h1>
        <div class="content-page-press-release">
        09 May 2005
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        Consultation on congestion charge extension.
        
    </div>



 <div class="on-this-page">
<div class="pullquote right">
                        <p>
                            The 10-week public consultation is due to end on 15 July
                            
                        </p>
                    </div>
                
            
            
            <p>Public consultation begins today on detailed proposals to extend the congestion charge westward.</p>
<p>In Spring 2004, public consultation took place on a revision to the Mayor's Transport Strategy to allow a Western Extension of the Central London Congestion Charging Scheme. </p>
<p>That consultation concentrated on the principle of a Western Extension. </p>
<p>TfL has now made a detailed proposal for the scheme reflecting many of the comments previously received.</p>
<p>Changes made to the proposals from the original consultation include a modified boundary for the charging zone, the residents' discount sector extended to include some particular areas that would otherwise experience parking and severance problems, and a proposal that the charging hours will also end at 6pm instead of 6.30pm. </p>
<p>The 10-week public consultation will end on 15 July.<br><br>Effects of an extended zone would include:</p>
<ul>
<li>10-14 per cent less traffic within the zone during charging hours, meaning that a vehicle making a journey into and back out of the extended zone would typically save 5 minutes 
</li><li>Congestion in the extended zone would reduce by 15-20 per cent 
</li><li>Residents would find car journeys easier and they would only pay a 90 per cent discounted charge 
</li><li>Bus passengers, taxi occupants, motorcyclists, cyclists and pedestrians would all benefit from reduced congestion in and around the enlarged zone at no cost 
</li><li>Many vehicles in the western extension area are also used in the existing charging zone; their drivers or users would experience less congestion in the extended area at no extra charge 
</li><li>Fewer vehicles and less congestion could lead to fewer personal personal injury accidents 
</li><li>Fewer vehicles would result in lower emissions and fuel consumption 
</li><li>With less congestion there would be better overall access to the area and scope for better street management. The area would be more attractive to visitors and tourists 
</li><li>Additional buses and other planned public transport improvements would be a benefit to the extension area 
</li><li>Parking should be easier, though boroughs and car park operators would lose some revenue 
</li><li>Businesses would benefit from deliveries being more reliable (though they would have the extra cost of the charge). Most customers in the extension area come in by public transport; many of those who use a car are local residents, eligible for the residents' discount. </li></ul>
<p>The net revenues from the western extension are predicted to be around &pound;30m-&pound;50m per year, and these would be spent on further transport improvements in London.</p>
<p>A leaflet explaining the proposal and a questionnaire are being sent to almost 700,000 households and 65,000 businesses within the proposed extended zone and an area adjacent to the enlarged zone. </p>
<p>The consultation is also being advertised in the press, on the radio an posters and via the web. </p>
<p>TfL hope to encourage anybody with comments to make on the proposals to respond to the consultation process. </p>
<p>In addition, exhibitions and roadshows will tour London to gather people's views.<br></p>
            <p><br>&nbsp;</p>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "Public consultation begins today on detailed proposals to extend the congestion charge westward.In Spring 2004, public consultation took place on a revision to the Mayor's Transport Strategy to allow a Western Extension of the Central London Congestion";}
        
        


 