


@{ViewBag.Title = "Speed limit changes on A40 between Polish War Memorial roundabout and Target roundabout";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>Speed limit changes on A40 between Polish War Memorial roundabout and Target roundabout</h1>
        <div class="content-page-press-release">
        26 May 2005
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        On the night of 27/28 May, the speed limit on the A40 between the Polish War Memorial and the Target roundabouts will be reduced from 70mph to 50mph in both directions.
        
    </div>



 <div class="on-this-page">
<div class="pullquote right">
                        <p>
                            With 51 accidents resulting in personal injury in a three-year period at this junction, it was decided that improvements were required
                            
                        </p>
                    </div>
                
            
            
            <p>The speed limit on the off-slips to the Polish War Memorial roundabout will be reduced from 70mph to 30mph. </p>
<p>The new speed limits will be clearly signposted. </p>
<p>This is the last in a series of measures undertaken to improve safety at and under the Polish War Memorial roundabout, where the A40 Western Avenue and the A4180 West End Road meet. </p>
<p>Transport for London (TfL) monitors accident levels on the TfL Road Network, and with 51 accidents resulting in personal injury in a three-year period at this junction, it was decided that improvements were required. </p>
<p>Work has been undertaken to re-align the entry arms, provide anti-skid road surfacing, and improve the signage, lighting and road markings on this part of the network. </p>
<p>Coupled with the reduced speed limit, TfL predicts these measures will result in five fewer personal injury accidents each year over the next three-year period. </p>
            <ul>
<li>Transport for London (TfL) is the integrated body responsible for the Capital's transport system. Its role is to implement the Mayor's Transport Strategy for London and manage the transport services across the capital for which the Mayor has responsibility</li>
<li>Preventing five personal injury accidents in one year represents a financial saving to the community of &pound;330,000 per annum.<br></li></ul>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "The speed limit on the off-slips to the Polish War Memorial roundabout will be reduced from 70mph to 30mph. The new speed limits will be clearly signposted. This is the last in a series of measures undertaken to improve safety at and under the Polish War";}
        
        


 