


@{ViewBag.Title = "Streets ahead - Transport for London is crowned Highway Authority of the Year";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>Streets ahead - Transport for London is crowned Highway Authority of the Year</h1>
        <div class="content-page-press-release">
        26 May 2005
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        Transport for London (Tfl) has scooped the prestigious Highway Authority of the Year award at the recent Streetworks 2005 conference.
        
    </div>



 <div class="on-this-page">
<p>The award, sponsored by conference organisers, The Surveyor and HAUC (UK), recognises the advancements TfL has made in realising the Traffic Management Act and Network Management Duty (NMD). </p>
<p>Since the Traffic Management Act became law in July last year, TfL has rolled out a series of initiatives that facilitate its enforcement in 2006. </p>
<p>These include:</p>
<ul>
<li>Modification of the organisational structure of the business to enable delivery of the NMD - the aim of which is to speed up traffic flow (pedestrians and vehicles) 
</li><li>Managing the introduction of permits to work in the road to ensure co-ordination of works by all agencies 
</li><li>Agreeing the designation of a Strategic Road Network, operated by boroughs, for which TfL has strategic oversight 
</li><li>Drawing together boroughs, utilities and TfL departments to ensure co-ordination and sharing of information.</li></ul>
<p>One scheme identified as central to TfL's success was its LondonWorks system. </p>
<p>At the heart of this is a central register which will collate all information about planned works and permit applications from the boroughs, utilities, TfL itself and even event organisers.</p>
<p>Collecting the award was Nick Morris, TfL's Director of Road Network Performance. </p>
<p>He said: "Receiving this award is a great achievement of which we are extremely proud. </p>
<p>"Such great work would not have been possible without joined-up working practices between ourselves, the boroughs and the utilities. </p>
<p>"We're all delighted that the benefits of working in partnership with all the relevant agencies to understand and respond to the challenges of complex legislation have been recognised."</p>
<p>London Mayor Ken Livingstone said: "Helping to keep some of the UK's busiest and most important roads moving is a critical task for London's status as a world city. </p>
<p>"I'm delighted that the pioneering work being undertaken at Transport for London in keeping London moving has been recognised."</p>
<p>Last Wednesday's Streetworks Conference - <em>New Rules, New Technology, A New Tomorrow </em>- was the fourth annual awards ceremony and exhibition of its kind. </p>
<p>At last year's ceremony, TfL's Head of Road and Streetworks, Bob Bailey, was named Highway Man of the Year.</p>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "The award, sponsored by conference organisers, The Surveyor and HAUC (UK), recognises the advancements TfL has made in realising the Traffic Management Act and Network Management Duty (NMD). Since the Traffic Management Act became law in July last year,";}
        
        


 