


@{ViewBag.Title = "TfL invest in passenger safety and security on First Great Western Link services";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>TfL invest in passenger safety and security on First Great Western Link services</h1>
        <div class="content-page-press-release">
        24 May 2005
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        Today, rail passengers in west London received a boost from Transport for London (TfL) and First Great Western Link with the launch of a new &pound;400,000 package of security and safety improvements.
        
    </div>



 <div class="on-this-page">
<div class="pullquote right">
                        <p>
                            Passenger safety is of paramount importance to Transport for London
                            
                        </p>
                    </div>
                
            
            
            <p>Over one-third (109 of 304) of London stations have now been improved as part of TfL's policy of making rail travel safer across the Capital. </p>
<p style="MARGIN-RIGHT: 0px">The latest raft of measures will provide reassurance to passengers travelling on First Great Western Link train services. The package includes:</p>
<ul>
<li>
<div style="MARGIN-RIGHT: 0px">New CCTV cameras providing full 24-hour coverage for nine stations on this service. CCTV aims to prevent real crime and the perception of crime so that passengers feel safe to use rail in London<br></div>
</li><li>
<div style="MARGIN-RIGHT: 0px">Installation of new Help Points at nine stations on the route, with induction loops at stations providing immediate audio and visual link with the First Great Western Link control centre at Reading 24-hours a day <br></div>
</li><li>
<div style="MARGIN-RIGHT: 0px">New anti-vandal shelters providing high visibility shelter have been installed at Acton Main Line, West Ealing, Castle Bar Park, South Greenford and West Drayton</div></li></ul>
<p style="MARGIN-RIGHT: 0px">The measures were launched today during a train journey along the Greenford branch by Ian Brown, Managing Director of TfL London Rail and Alison Forster, Managing Director First Great Western Link.<br><br>Mr Brown said: "Passenger safety is of paramount importance to TfL. </p>
<p style="MARGIN-RIGHT: 0px">"Although not part of the TfL network, improving security on rail in London is a top priority as we want to encourage greater public transport use.</p>
<p style="MARGIN-RIGHT: 0px">"We have developed this initiative with First Great Western Link to provide better safety and security improvements at stations."</p>
<p>Chief Inspector Willie Baker, Western Sector Commander British Transport Police, said: "We very much welcome this investment in improved passenger security. </p>
<p>"The new CCTV will help deter criminals and anti-social elements and assist the police in detecting crime. </p>
<p>"This, the Help Points and shelters are a real contribution to making passengers feel safer on the network."</p>
            <ul>
<li>New and enhanced CCTV cameras and Help Points at:<br>Castle Bar Park, Drayton Green, Ealing Broadway, Hanwell, Hayes & Harlington, Southall, South Greenford, West Ealing and West Drayton<br></li>
<li>Each Help Point has an induction loop feature which help deaf people who use a hearing aid or loop listener to hear sounds more clearly by cutting out background noise<br></li>
<li>New anti-vandal shelters are made from toughened laminated glass set in a shock proof glazing system and stainless steel which makes them more difficult to vandalise. They are also easier to clean and the glass is relatively easy to replace<br></li>
<li>For further information on First Great Western Link, please contact the First Great Western Link press office on Tel: 01793 515854<br></li>
<li>For information on TfL, London Rail and press imagery in digital formats please contact the TfL press office on Tel: 020 7941 4141. </li></ul>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "Over one-third (109 of 304) of London stations have now been improved as part of TfL's policy of making rail travel safer across the Capital. The latest raft of measures will provide reassurance to passengers travelling on First Great Western Link train";}
        
        


 