


@{ViewBag.Title = "TfL Board gives approval for next step for DLR Stratford extension";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>TfL Board gives approval for next step for DLR Stratford extension</h1>
        <div class="content-page-press-release">
        18 May 2005
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        The planned extension of the Docklands Light Railway (DLR) to Stratford International took an important step forward today as the Transport for London (TfL) Board approved plans for DLR to submit an application for a Transport and Works Act (TWA) Order.
        
    </div>



 <div class="on-this-page">
<div class="pullquote right">
                        <p>
                            We will continue to push this project forward and have it up and running by the end of 2009
                            
                        </p>
                    </div>
                
            
            
            <p>The TWA would secure the powers needed to build the extension, which will run from Canning Town to integrate with the Channel Tunnel Rail Link station at Stratford International, due to be finished by late 2009 - in good time for a successful London 2012 Olympics. </p>
<p>The &pound;110m project is funded as part of TfL's five-year &pound;10bn Investment Programme. </p>
<p>Welcoming the Board's decision, Jonathan Fox, DLR's Director, said: "This is an important step forward in bringing further transport improvements to east London. </p>
<p>"This extension will help meet the growing demand for quality public transport in the Lower Lea Valley, bringing vital regeneration benefits to the area. </p>
<p>"We will continue to push this project forward and have it up and running by the end of 2009."</p>
<p>The 5km extension - which is the conversion of the North London Line between Canning Town and Stratford - will link with DLR's Beckton and London City Airport routes. </p>
<p>There will be new stations built at Star Lane (formerly designated as Cody Road), Abbey Road and Stratford High Street (formerly designated as Stratford Market).</p>
<p>Existing North London line stations at Canning Town, West Ham and Stratford would be modified and a new station will be opened at Stratford International, which will be the main rail interchange from Eurostar into the TfL network. </p>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "The TWA would secure the powers needed to build the extension, which will run from Canning Town to integrate with the Channel Tunnel Rail Link station at Stratford International, due to be finished by late 2009 - in good time for a successful London 2012";}
        
        


 