


@{ViewBag.Title = "TfL trebles revenue as Clear Channel wins London bus shelter contract";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>TfL trebles revenue as Clear Channel wins London bus shelter contract</h1>
        <div class="content-page-press-release">
        19 May 2005
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        Transport for London (TfL) today announced the award of the new contract for its bus shelter advertising concession in a new deal with outdoor ad specialist Adshel.
        
    </div>



 <div class="on-this-page">
<div class="pullquote right">
                        <p>
                            Trebling and guaranteeing the annual return from the bus shelter business is unprecedented
                            
                        </p>
                    </div>
                
            
            
            <p>Following a highly competitive tender the 10-year contract will more than treble the annual revenue TfL currently receives from the business. </p>
<p>It will also guarantee the income received by the Capital's transport authority, as well as additional benefits to TfL should the market grow substantially.</p>
<p>The new concession covers the sale of media space and the maintenance and design of street furniture across half of TfL's portfolio of London-wide bus shelters. </p>
<p>It replaces the current partnership arrangement with Adshel, who will also manage the remaining 50 per cent of TfL's estate under the terms of a separate deal. </p>
<p>This is the first of a series of advertising concessions that TfL is renegotiating during 2005, with the lucrative London Underground and Docklands Light Railway (DLR) tenders concluding later this year. </p>
<p>Chris Townsend, TfL's Director of Group Marketing, said: "Trebling and guaranteeing the annual return from the bus shelter business is unprecedented and demonstrates our ability to maximise revenues from our valuable advertising estates. </p>
<p>"This is good news for London, with the extra income funding further improvements to London's transport system as part of TfL's &pound;10bn 5-Year Investment Programme."</p>
            <p><strong>The outdoor sector</strong></p>
<ul>
<li>Outdoor has consistently outperformed all other media sectors, with a total rise of around 75 per cent in gross national outdoor spend over the last 10 years. Of this, London's share has remained at around 40 per cent over the same period</li>
<li>Sector gross revenue rose to &pound;309m in 2003, from &pound;225.2m in 1998, reflecting an average seven per cent year-on-year rise for the last six years and an impressive 37 per cent rise in total, well in advance of other sectors </li>
<li>This upward trend is set to continue with the Advertising Association predicting an eight per cent rise for 2004 and seven per cent for 2005.<br></li></ul>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "Following a highly competitive tender the 10-year contract will more than treble the annual revenue TfL currently receives from the business. It will also guarantee the income received by the Capital's transport authority, as well as additional benefits";}
        
        


 