


@{ViewBag.Title = "Thameslink passengers to benefit from &pound;1.2m safety and security improvements";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>Thameslink passengers to benefit from &pound;1.2m safety and security improvements</h1>
        <div class="content-page-press-release">
        10 May 2005
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        Rail passengers received a boost today with the launch of a &pound;1.2m package of security and safety improvements at Thameslink stations funded by Transport for London (TfL) and Thameslink.
        
    </div>



 <div class="on-this-page">
<div class="pullquote right">
                        <p>
                            These improvements will enable passengers to enjoy enhanced levels of security and comfort
                            
                        </p>
                    </div>
                
            
            
            
<p>"The measures will provide reassurance to passengers travelling on Thameslink 
train services and support TfL's aim to improve London's public transport 
network through its &pound;10bn, 5-year Investment Programme. </p>
<p>The package includes:</p>
<ul>
<li>Forty-one new CCTV cameras at Elephant &amp; Castle station, giving the 
station full CCTV coverage for the first time. CCTV aims to prevent real crime 
and reduce the perception of crime 
</li><li>Installation of enhanced CCTV at six other Thameslink stations<br>A CCTV 
monitoring system at Elephant &amp; Castle station (positioned in the ticket 
office) allowing the duty staff to monitor the station via the 41 new CCTV 
cameras around the station 
</li><li>Installation of Help Points with induction loops at six stations, providing 
immediate audio and visual link with the Thameslink CCTV control centres at 
Tooting, Kings Cross and Luton.</li></ul>
<p>Ian Brown, Managing Director of London Rail, said: "Passenger 
safety is of paramount importance to TfL. </p>
<p>"Although not part of the TfL network, improving security on rail in London 
is a top priority as we want to encourage greater public transport use. </p>
<p>We have developed this initiative with Thameslink to provide better security 
and environmental improvements at stations.</p>
<p>"The work is part of TfL's &pound;10bn, 5-year Investment Programme."</p>
<p>Mark Causebrook, Managing Director of Thameslink, said: "We greatly value the 
partnership with TfL on this important project.</p>
<p>"These improvements will enable passengers at these stations to enjoy 
enhanced levels of security and comfort. </p>
<p>"We look forward to working closely with TfL on similar initiatives in the 
future."</p>
<p>Val Shawcross, London Assembly Member, said: "Too many women feel forced to 
travel by car in the evening because we don't feel safe on public transport - 
especially on trains. </p>
<h2>'Boost for women'</h2>
<p>"With this major upgrading of security on overground stations in Lambeth and 
Southwark, I hope we can start the upward spiral of more women travelling by 
train and the network feeling much busier and safer."</p>
<p>Chief Superintendent Peter Hilton, British Transport Police said: "We are 
aware that personal security is one of the most important priorities for railway 
passengers. </p>
<p>"This investment by TfL in better CCTV and an improved station environment is 
very welcome. </p>
<p>"British Transport Police will be playing their full part in supporting TfL 
in their efforts to improve passengers' security."</p>
<p>Further improvements include:</p>
<ul>
<li>Customer Information Systems to give up to date travel information at six 
stations including Elephant &amp; Castle 
</li><li>New Auto PA tannoy system at Elephant &amp; Castle providing consistent 
travel, security and safety messages 
</li><li>Improved lighting has been installed at Loughborough Junction and Mill Hill 
Broadway stations 
</li><li>New anti-vandal shelters will be provided at Hendon and West Hampstead which 
give hi-visibility shelter for passengers on platforms 
</li><li>Improved signage has been installed at Elephant &amp; Castle and 
Loughborough stations providing useful information for passengers to find their 
destination 
</li><li>Platform seating has been installed at five stations, including Elephant 
&amp; Castle 
</li><li>Environmental improvements such as anti-slip on stairs and footbridges have 
been made at six stations.</li></ul>
            <ul>
<li>New and Enhanced CCTV Cameras and Help Points at: Elephant & Castle, Loughborough Junction, Kentish Town, West Hampstead, Hendon, Cricklewood and Mill Hill Broadway </li>
<li>Each Help Point has an induction loop feature which help deaf people who use a hearing aid or loop listener to hear sounds more clearly by cutting out background noise</li>
<li>Customer Information Systems installed at Elephant & Castle, Kentish Town, West Hampstead, Hendon, Cricklewood and Mill Hill Broadway </li>
<li>New Platform seating at Kentish Town, West Hampstead, Elephant & Castle, Cricklewood and Hendon</li>
<li>Environmental improvements have been made at Elephant & Castle, Mill Hill Broadway, Hendon, Cricklewood, West Hampstead and Kentish Town </li>
<li>New anti-vandal shelters: These are made from transparent UV stabilised polycarbonated sheeting which makes it more difficult to vandalise and is relatively easy to replace</li>
<li>For further information on Thameslink, please contact the Thameslink press office on Tel: 020 7620 5253.</li>
<li>For information on TfL, London Rail and press imagery in digital formats please contact the TfL press office on 020 7941 4141. </li></ul>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "'The measures will provide reassurance to passengers travelling on Thameslink train services and support TfL's aim to improve London's public transport network through its &pound;10bn, 5-year Investment Programme. The package includes:Forty-one new CCTV";}
        
        


 