


@{ViewBag.Title = "Tipple but dont topple on the Tube";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>Tipple but dont topple on the Tube</h1>
        <div class="content-page-press-release">
        11 May 2005
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        In a bid to reduce escalator accidents at its Canary Wharf Tube station, London Underground is launching its first ever "washroom wall" advertising campaign.
        
    </div>



 <div class="on-this-page">
<div class="pullquote right">
                        <p>
                            We are very concerned by the number and seriousness of alcohol-linked accidents that have occurred
                            
                        </p>
                    </div>
                
            
            
            <p>From 15 May, posters bearing a powerful image of an escalator fall will be installed in the washrooms of six bars and pubs in the Canary Wharf area. </p>
<p>The poster's message is to remind travellers to take care when they have had a drink or two.</p>
<p>In a single year, 37 accidents occurred on the station's 20 escalators. </p>
<p>Many resulted in injuries serious enough to require hospital treatment. Alcohol was identified as a contributing factor in a number of these accidents.</p>
<p>London Underground Strategic Marketing Manager Elizabeth Norris said: "Canary Wharf is not only a thriving business centre but a great place to spend the evening.</p>
<p>"We are taking our safety message out of the station for the first time because we are very concerned by the number and seriousness of alcohol-linked accidents that have occurred on the escalators at our station. </p>
<p>"The longest escalators on the Tube network are at Angel but, compared to Canary Wharf, passengers have fewer accidents - 12 in a year compared with 37 at Canary Wharf.</p>
<p>"We certainly don't want to be killjoys. </p>
<p>"Our aim is to remind people before they set off for home to take extra care after a drink so that we can reduce the number accidents on escalators."</p>
            <ul>
<li>Poster image can be obtained from the LU Press Desk: 020 7941 4434</li>
<li>The Posters will be on display at: <br>Hope & Anchor       <br>Drummonds Bar  <br>Puzzle<br>Cat & Canary<br>Davy's, Canary Wharf<br>Slug and Lettuce  <br></li></ul>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "From 15 May, posters bearing a powerful image of an escalator fall will be installed in the washrooms of six bars and pubs in the Canary Wharf area. The poster's message is to remind travellers to take care when they have had a drink or two.In a single";}
        
        


 