


@{ViewBag.Title = "Track improvement between Wimbledon and Putney Bridge";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>Track improvement between Wimbledon and Putney Bridge</h1>
        <div class="content-page-press-release">
        18 May 2005
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        Essential track improvement work will be taking place on the Wimbledon branch of the District line on Saturday and Sunday 21 and 22 May.
        
    </div>



 <div class="on-this-page">
<p>The work is being undertaken by Metronet SSL.</p>
<p>There will be no District line service between Putney Bridge and Wimbledon on either day but two special bus services will operate:</p>
<ul>
<li><strong>Saturday 21 May<br></strong><strong><br>Service A <br></strong>Between East Putney and Putney Bridge<br><strong>Service B <br></strong>Towards Wimbledon: Parsons Green to Wimbledon via Southfields and Wimbledon Park<br>Towards Central London: Wimbledon to Fulham Broadway via Wimbledon Park and Southfields <br><br>
</li><li><strong>Sunday 22 May<br><br>Service A <br></strong>Between East Putney and Putney Bridge<br><strong>Service B<br></strong>Putney Bridge to Wimbledon via Southfields and Wimbledon Park</li></ul>
<p>Passengers for Putney and Wimbledon may find it more convenient to use South West Trains services from Waterloo. </p>
<p>Passengers for Southfields, Wimbledon Park and Wimbledon should change onto the replacement bus service at Putney Bridge.</p>
<p>Valid Underground tickets will be accepted on local bus route numbers: 39,93,156/N77 and 493.</p>
<p>Passengers should allow an extra 30 minutes to complete their journeys.</p>
            <ul>
<li>Metronet SSL is responsible for the maintenance and renewal of the Circle, District, East London, Hammersmith & City and Metropolitan lines.    <br></li></ul>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "The work is being undertaken by Metronet SSL.There will be no District line service between Putney Bridge and Wimbledon on either day but two special bus services will operate:Saturday 21 MayService A Between East Putney and Putney BridgeService B Towards";}
        
        


 