


@{ViewBag.Title = "Transport features at Londons first green lifestyle show";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>Transport features at Londons first green lifestyle show</h1>
        <div class="content-page-press-release">
        26 May 2005
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        As part of the first London Green Lifestyle Show at Greenwich Park on 5 June 2005, Transport for London (TfL) and good going will host several exhibits showing Londoners how small changes to their lifestyles can make a real contribution towards a sustainable future.
        
    </div>



 <div class="on-this-page">
<div class="pullquote right">
                        <p>
                            Transport has a vital role to play in making London a greener city
                            
                        </p>
                    </div>
                
            
            
            <p>The Transport Zone will feature advice and information on making travelling around the city more environmentally friendly, cheaper, quicker and more convenient. </p>
<p>The London Green Lifestyle Show, organised by the Mayor of London, will give Londoners assistance and everyday tips on how they can make their lifestyle more environmentally sustainable.</p>
<p>Transport has been the biggest single energy user in the UK for the past 17 years. </p>
<p>It accounted for 34 per cent of final energy use in 2003, according to a Department for Trade and Industry Report.</p>
<p>Highlights will include:</p>
<ul>
<li>Free health check for bikes with TfL's Bike Doctor clinic - A team of mechanics will advise on minor bike ailments, from checking the gears to tightening up the brakes 
</li><li>Test and Try at the cycle try out area - This will cater for all ages and abilities, with two-, three- and four-wheel bicycles 
</li><li>Alternative fuel vehicle display, including a Hydrogen Fuel Cell bus, electric cars and scooters 
</li><li>Free travel information and accessories, plus gifts that will help you make your journey as part of TfL's Transport Options project 
</li><li>Free supervised cycle parking</li></ul>
<p>Peter Hendy, Managing Director of Surface Transport at TfL, said: "Transport has a vital role to play in making London a greener city and TfL is doing a great deal to ensure Londoners have more sustainable transport options. </p>
<p>
<h2>'Greener lifestyle'</h2>
<p>
<p>"The Mayor's green lifestyle show is the perfect time to experience what London has to offer for cyclists, walkers and public transport users, and to encourage more and more people to walk for short journeys or to jump on their bikes or use public transport."</p>
<p>Mayor of London Ken Livingstone said: "There will be something for all the family to enjoy at the London Green Lifestyle Show in Greenwich park, and I hope that Londoners will be able to go away with some good tips on how to leader a greener lifestyle.</p>
<p>"Transport is an essential part of leading a more environmentally friendly lifestyle, so come along and find out about the newest technologies we are now using in London's transport network."</p>
            <ul>
<li>good going is a campaign promoting sustainable travel alternatives to car travel, such as walking, cycling, using public transport or car sharing with friends and colleagues</li>
<li>The London Green Lifestyle Show is organised by the Mayor of London and supported by the Environment Agency, Transport for London, London Development Agency, Greenwich Council and The Royal Parks</li>
<li>The London Green Lifestyle Show will showcase the work of the Mayor, the London Development Agency, Transport for London, the Environment Agency and the London boroughs to make London a sustainable city</li>
<li>The London Green Lifestyle Show is the first event of the London Sustainability Weeks events. For further information on events taking place across London as part of <a href="http://www.lsw2005.org">London Sustainability Weeks 2005</a>, contact Christopher Harris on 020 7359 0452, 07949 592 512 or <a href="mailto:Christopher.harris&#64;lsw2005.org">Christopher.harris&#64;lsw2005.org</a>. </li>
<li>The event is co-ordinated by the green event production company, Green Futures Festivals Ltd.</li></ul>
<p> </p>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "The Transport Zone will feature advice and information on making travelling around the city more environmentally friendly, cheaper, quicker and more convenient. The London Green Lifestyle Show, organised by the Mayor of London, will give Londoners";}
        
        


 