


@{ViewBag.Title = "Tube hails employee in final of BBCs The Apprentice";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>Tube hails employee in final of BBCs The Apprentice</h1>
        <div class="content-page-press-release">
        04 May 2005
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        London Underground (LU) today hailed its own Tim Campbell and wished him every success in tonight's final of BBC reality programme 'The Apprentice', screened on BBC2, Wednesdays at 9pm.
        
    </div>



 <div class="on-this-page">
<div class="pullquote right">
                        <p>
                            The Graduate Recruitment Scheme gave me great foundations and the business knowledge that has helped me get this far
                            
                        </p>
                    </div>
                
            
            
            <p>Tim, a <a href="/graduates">Graduate Scheme</a> recruit and Senior Planner at LU, is facing fierce competition from programme rival Saira Khan. </p>
<p>All will be revealed tonight, when one of the contestants is to be awarded a post as Sir Alan Sugar's lieutenant, with an annual salary of &pound;100,000.</p>
<p>LU Director of Strategy Richard Parry said: "It's great to see that the business skills and acumen Tim learned at London Underground have helped to put him in the frame to win 'The Apprentice'.</p>
<p>"We would be sorry to seem him go but Tim is one of a strong team of dedicated, motivated and professional people now working at London Underground.</p>
<p>"We are delighted with Tim's success and will be rooting for him tonight."</p>
<p>Tim joined LU as a station assistant while studying for a BSc in psychology. </p>
<p>He then applied for the Transport for London (TfL) Graduate Development Scheme, a highly competitive and sought after programme which receives thousands of applications each year. </p>
<p>Tim was among the 20 candidates chosen and joined the Human Resources department. </p>
<p>After two years, he went on to work within the Marketing and Project Services function of LU, part of the TfL Group.</p>
<p>
<h2>Unique opportunity</h2>
<p>
<p>Tim said: "I joined London Underground through the Graduate Recruitment Scheme - competition was fierce but I made it. </p>
<p>"The scheme gave me the opportunity to work in different departments within the Underground and gave me great foundations and the business knowledge that has helped me get this far in the BBC's 'The Apprentice'."</p>
<p>The TfL Graduate Scheme offers participants a unique opportunity to work across TfL or in a specific area of the business such as LU, Surface Transport or corporate functions such as Finance and Planning or Marketing. </p>
<p>Participants go on to be employed in a wide range of positions within TfL, working to plan, procure and deliver the transport services that carry millions of Londoners and visitors to the capital every day.</p>
<p>The TfL Graduate programme currently offers 11 training programmes. To apply, please visit TfL's <a href="/corporate/jobs/currentcampaigns/1681.aspx">Graduate Programme</a> site.</p>
            <ul>
<li>London Underground carries 3 million passengers every day and almost 1 billion every year 
</li><li>The whole TfL network carries around 10 million people every day, on the Tube, buses, DLR and Croydon Tramlink. TfL also operates the central London Congestion Charge and delivers Streets, Cycling, Pedestrian and accessible transport strategies for London.</li></ul>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "Tim, a Graduate Scheme recruit and Senior Planner at LU, is facing fierce competition from programme rival Saira Khan. All will be revealed tonight, when one of the contestants is to be awarded a post as Sir Alan Sugar's lieutenant, with an annual salary";}
        
        


 