


@{ViewBag.Title = "Tube boss visits Waltham Forest stations";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>Tube boss visits Waltham Forest stations</h1>
        <div class="content-page-press-release">
        31 May 2005
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        Tim O'Toole, London Underground (LU) Managing Director, visited Waltham Forest Tube stations on 18 May to meet local borough officials - including Leader Councillor Clyde Loakes - view improvement works and discuss future plans for the Tube.
        
    </div>



 <div class="on-this-page">
<div class="pullquote right">
                        <p>
                            TfL is investing &pound;10bn over the next five years to improve and expand London's transport network, more than half of that will be spent on the Tube
                            
                        </p>
                    </div>
                
            
            
            <p>The tour took in the Central line stations at Leyton and Leytonstone, and the Victoria line at Walthamstow Central and Blackhorse Road.</p>
<p>Tim O'Toole said: "TfL is investing &pound;10bn over the next five years to improve and expand London's transport network, more than half of that will be spent on the Tube. </p>
<p>"I want to see for myself how some of that investment will be spent in Waltham Forest.</p>
<p>"I'm also delighted to be here today to meet borough officials and local Underground staff. </p>
<p>"I know they are working hard to improve the Tube to make it safer, cleaner and more reliable."</p>
<p>Mr O'Toole was joined by Jeff Ellis, Central line General Manager at first stop, Leyton Station. </p>
<p>
<p>They discussed potential future development works, such as step-free access to the station, initiatives to ease congestion at the station and the reinstalling of a previously closed entrance at Langthorne Road. </p>
<p>Leyton is due to be modernised next year in 2006.</p>
<p>Jeff Ellis said: "London Underground, and particularly the Central and Victoria lines, is vital to Waltham Forest. </p>
<p>"We've now begun the long job of renewing the Tube.</p>
<p>"Most stations are due to be refurbished or modernised over the next decade. </p>
<p>"The work includes modernisation of lifts and escalators, as well as station accessibility projects.</p>
<p>
<h2>'Enhanced service'</h2>
<p>
<p>"The Central line's improvements programme is already underway. </p>
<p>"Passengers already enjoy an enhanced service during peak times between central London and Leyton/Leytonstone. </p>
<p>"The frequency of trains will also be further improved from July 2006 as more trains will run during off peak times.</p>
<p>"The works on the Central and Victoria lines are undertaken by Metronet BCV."</p>
<p>John Doyle, General Manager of the Victoria line, said: "More trains will appear on the Victoria line in 2006, one train will be added during peak times and two during off-peak times. </p>
<p>"Door opening and closing times will also be improved. These changes may result in a 5 per cent increase in capacity in 2006.</p>
<p>"Forty-seven new trains are due to be provided by Metronet BCV in 2009. </p>
<p>"The new trains will be bigger, longer and taller than the current ones, therefore able to hold more people. </p>
<p>"The new Victoria trains will provide designated wheelchair spaces in the middle two cars of the eight-car train. </p>
<p>
<p>"Other enhancements to the Victoria line include new signalling, control room and general infrastructure improvements. </p>
<p>"These changes are likely to lead to a 20 per cent improvement in reliability and eight per cent improvement in journey time within three years."</p>
<p>At Leytonstone station, Mr O'Toole viewed new facilities, including a secure bike shed in Church Lane Car Park. </p>
<p>They also discussed the removal of a bench outside of the station often used by violent street drinkers while they tout. </p>
<p>Leytonstone is due to be refurbished and made fully accessible by Metronet in 2007.</p>
<p>
<p>Walthamstow Central station is due to be modernised in 2006.</p>
<p>
<p>Improvement works will include the installation of new CCTV cameras, PA equipment, signage, painting, tiling and the building of lifts from the railway station to the Underground.</p>
<p><h2>'Exciting' improvements</h2></p>
<p>Blackhorse Road is due to be modernised in 2010, including the renewal of the escalators, and discussions at the station included proposals associated with the Blackhorse Lane regeneration area.</p>
<p>At Blackhorse Road and Walthamstow Central, ticket touts were also cited as a problem. </p>
<p>LU has recruited an extra 200 British Transport Police Officers to patrol the Tube, an increase of 50 per cent. </p>
<p>They are now being deployed in local teams and should help Underground staff to tackle ticket touts.</p>
<p>Cllr Clyde Loakes, Leade
            <ul>
<li>Metronet Rail BCV is responsible for the maintenance and renewal of the Bakerloo, Central, Victoria and Waterloo & City lines</li>
<li>London Underground carried more Tube passengers (976 million) in a single year (2005) than ever before and also that more trains ran than ever in the past (nearly 70m kms).</li></ul>
<p> </p>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "The tour took in the Central line stations at Leyton and Leytonstone, and the Victoria line at Walthamstow Central and Blackhorse Road.Tim O'Toole said: 'TfL is investing &pound;10bn over the next five years to improve and expand London's transport";}
        
        


 