


@{ViewBag.Title = "Tube and bus plans to help beat the heat this summer";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>Tube and bus plans to help beat the heat this summer</h1>
        <div class="content-page-press-release">
        19 May 2005
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        Londoners are set to enjoy another summer and all this great city has to offer during the long, hot summer days and nights.
        
    </div>



 <div class="on-this-page">
<div class="pullquote right">
                        <p>
                            This summer, LU will again be issuing its annual 'Beat the Heat' advice to passengers
                            
                        </p>
                    </div>
                
            
            
            <p>Transport for London (TfL) knows that when summer temperatures return to London and top the mid-20 degrees C, travelling can feel hot and uncomfortable, especially on the deep-level Tube lines.</p>
<p>Today, TfL announced plans to help Tube and bus passengers "Beat the Heat" this summer and in future, including:</p>
<ul>
<li>&pound;1m of promised investment to tackle heat on the buses this summer 
</li><li>London Underground's (LU) annual "Beat the Heat" campaign 
</li><li>Continued investment in the Tube network and ongoing dialogue with Metronet and Tube Lines to identify long-term solutions to tackle heat and improve ventilation 
</li><li>The conclusion of the "Cooling the Tube" competition.</li></ul>
<p>London Buses has invested &pound;1m since summer 2004 to begin the task of making the Capital's buses more comfortable in warm summer weather. </p>
<p>Over 150 buses have been fitted with new ventilation and air cooling systems, and over 1,000 buses have been instantly improved by the simple measure of retro-fitting more windows that open on the upper decks.</p>
<p>Various cooling methods were successfully trialled last year, and all newly ordered buses must now have heat reflective white painted roof panels, body insulation, more opening windows on the upper deck, tinted glass and heaters which switch off automatically when the bus gets too warm.</p>
<p>Mike Weston, Operations Director for London Buses, said: "We're aware that hot weather can make journeys uncomfortable for passengers on the top deck of a bus, particularly on the busiest routes in the centre of London. </p>
<p>"Our trials last year showed that these improvements can really make a difference to passengers' comfort."</p>
<p>
<p>This summer, LU will again be issuing its annual "Beat the Heat" advice to passengers. </p>
<p>
<h2>Poster campaign</h2>
<p>
<p>Posters will be displayed at all stations, bearing the following advice. Announcements will also be made at stations.</p>
<p>"We know the Tube can be uncomfortable in hot weather. Here are a few tips, which will help to take the edge off the heat and minimise delays:</p>
<ul>
<li>Always carry a bottle of water with you 
</li><li>Please don't board a train if you feel unwell 
</li><li>If you begin to feel unwell please get off at the next stop and seek help from our staff 
</li><li>Please avoid pulling the passenger alarm between stations."</li></ul>
<p>TfL is investing tens of millions of pounds through its 5-year &pound;10bn investment programme to address the issue of heat on the Tube. </p>
<p>New trains to be delivered on the sub-surface lines (Circle, District, Hammersmith and City and Metropolitan) will come with air-cooling. </p>
<p>The first air-cooled trains are due to arrive in 2009.</p>
<p>
<h2>Long-term solutions</h2>
<p>
<p>
<p>But it is not just a question of getting heat off the trains, it is about cooling the Tube by getting the heat out of the system. </p>
<p>We are working with Metronet and Tube Lines to implement long-term solutions. </p>
<p>This includes works on the 140 vent shafts on the Tube network and the provision of 30 per cent more fan capacity.</p>
<p>Research also continues into innovative solutions, including a research project with South Bank University that uses cold ground water as a cooling agent. </p>
<p>LU is now investigating the possibility of a full trial at a Tube station.</p>
<p>LU Managing Director Tim O'Toole said: "We know the Tube can feel hot in summer. </p>
<p>"Once again we'll be issuing tips to Tube users on how to 'Beat the Heat' this summer. </p>
<p>"London Underground takes the issue of heat on the Tube very seriously. </p>
<p>"That's why we're now investing more than ever to tackle the issue. </p>
<p>"However, none of these projects will be quick, cheap or easy to implement."</p>
<p>
<p>LU also confirmed today the conclusion of the Cooling the Tube competition. </p>
<p>In July 2003 - during the hottest European summer for
            <ul>
<li>Summer 2003 was the hottest European summer for 500 years, according to a 
study by scientists at the University of Bern, Switzerland and published in the 
March 5, 2004 issue of the journal <a href="http://www.sciencemag.org">Science</a>. See the <a href="http://news.bbc.co.uk/1/hi/world/europe/3536819.stm" target="_blank">BBC News Online 
report</a> on the University of Bern study. 
</li><li>The Cooling the Tube competition closed to entries on 12 September 2003. All 
entries had to:<br>- Work in both the above- and below-ground sections of the 
network<br>- Address environmental issues: temperature, humidity, air 
quality<br>- Demonstrate economic viability<br>- Work within the limited space 
available and considering the restricted works access underground<br>- Comply 
with the Underground's stringent codes of safety and material acceptability<br>- 
Work with an annual energy input to the Tube network from power and passenger 
loading of 656GW hrs<br>- The competition criteria stated that LU reserved the 
right not to consider any entrants where the material submitted was similar or 
identical to any material outside of this competition which LU, its affiliates, 
employees, agents, partners, advisers, consultants and contractors are aware of 
or have created independently of this competition.<br></li></ul>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "Transport for London (TfL) knows that when summer temperatures return to London and top the mid-20 degrees C, travelling can feel hot and uncomfortable, especially on the deep-level Tube lines.Today, TfL announced plans to help Tube and bus passengers";}
        
        


 