


@{ViewBag.Title = "Tube breaks passenger and train records";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>Tube breaks passenger and train records</h1>
        <div class="content-page-press-release">
        18 May 2005
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        London Underground (LU) announced today that last year it carried more Tube passengers in a single year - 976 million - than ever before, more than the previous high of 970 million set four years ago.
        
    </div>



 <div class="on-this-page">
<div class="pullquote right">
                        <p>
                            TfL is investing &pound;10bn over the next five years to improve transport in London, more than half of that in the Tube
                            
                        </p>
                    </div>
                
            
            
            <p>LU also ran more trains then ever before, clocking up a huge total of nearly 70m kms - That's the equivalent of 1,735 times round the world, or 90 trips to the moon and back.</p>
<p> Ken Livingstone, Mayor of London, said: "I want to congratulate Tim O'Toole, his management team and all of the staff of London Underground. </p>
<p>"We all know that years of neglect have taken an enormous toll on the Tube's performance, but these figures show the new management team are starting to make real progress."</p>
<p>LU Managing Director, Tim O'Toole said: "TfL is investing &pound;10bn over the next five years to improve transport in London, more than half of that in the Tube. </p>
<p>"These improvements are being delivered thanks to that investment and the hard work and dedication of Tube staff.</p>
<p>"The figures show that, despite the constraints imposed on London Underground by the PPP, last year the Tube carried more passengers on more trains than ever before."</p>
<p>Overall, LU ran over 95 per cent of all scheduled Tube services in 2004/5, the first full year under TfL's control, up by over 2 per cent on the previous year and the highest figure for seven years.</p>
<p>In addition to providing more Tube service, the quality of service has also improved, for example by giving passengers more information on how the Tube is running. </p>
<p>Passengers have clearly noticed, as LU customer satisfaction scores have improved and are also at record levels.</p>
<p>
<h2>'Record levels'</h2>
<p>
<p>Tim O'Toole said: "As the figures show, we've made real progress in many areas, but we know there is much more to do. </p>
<p>"Too many passengers still suffer too many delays as a result of train, track or signal failures. Passengers on the Northern line, in particular, will hope to see a better service this year.</p>
<p>"We continue to demand improvements from Metronet and Tube Lines in their maintenance and renewal of the Tube's trains, tracks, signals and stations. </p>
<p>"For the Underground to continue to deliver the real step-change improvements that are needed in future, it is essential they deliver the better maintenance, new trains, renewed stations and line upgrades promised to Tube passengers, on time and on budget."</p>
<p> The record LU figures were attained despite an increase in the amount of planned engineering work being carried out on the Tube and engineering overruns. </p>
<p>Last year, engineering works accounted for the equivalent of 2.1m train kms being lost to LU, compared to just 0.8m kms in the previous year.</p>
<p>Much of the improved performance is down to factors under the direct control of LU, including a real increase in the number of train services operated by LU and a reduction in the delays for which LU is responsible.</p>
<p>Since July 2003, LU has introduced 15 new timetables and dramatically cut the number of Operators Not Available (drivers not available for Tube trains), which accounted for just 0.1 per cent of peak train cancellations last year.</p>
<p>After LU transferred to TfL in July 2003, Tim O'Toole appointed a new management team, led by a Chief Operating Officer, three Service Directors and a General Manager for each Tube line. </p>
<p>Their role is to work with the train and station staff to focus, relentlessly, on train performance and the delivery of a 'Good Service' for passengers.</p>
<p>Work by the PPP infracos on rolling stock has improved the reliability of trains on nearly all Underground lines. </p>
<p>But LU continues to demand improved performance from the PPP infracos, including an increase in investment in maintenance to reduce the number of delays due to track and signal failures.</p>
            <ul>
<li>TfL is investing &pound;10bn over the next five years to improve and expand London's transport network, more than half of that in the Tube</li>
<li>LU measures performance figures over the financial year, ending March 31</li>
<li>To summarise the record LU performance in 2004/5:<br>- Passengers Carried: LU carried 976 million passengers in 2004/5, an increase of 3% on 2003/4 and the highest ever figure, beating the previous best of 970m set in 2000/1<br>- Train Kms Operated: LU operated 69.4m train Kms, again the best ever figure, up by 2.5% from 67.7m Kms in 2003/4<br>- Per cent of Schedule Operated: LU operated 95.3% of all scheduled train services - a seven year high - up by 2.2% on the 93.1% figure in 2003/4 and by 4.2% on the 91.1% figure recorded in 2002/3<br>- Customer Satisfaction Survey:  LU recorded an overall customer satisfaction score of 78 out of 100, up from 76 in 2003/4 and the highest annual score yet achieved since recording began in 1990/1</li>
<li> LU transferred from the control of the Government to TfL on July 15, 2003</li>
<li>Under the PPP structure, LU is responsible for the operation of trains and staffing of Tube stations and private sector consortia Metronet and Tube Lines are responsible for the maintenance and renewal of the Tube's infrastructure - the trains, tracks, tunnels, signals and stations</li>
<li>Metronet SSL is responsible for the Circle, District, Hammersmith & City, Metropolitan and East London lines</li>
<li>Metronet BCV is responsible for the Bakerloo, Central, Victoria and Waterloo & City lines</li>
<li>Tube Lines are responsible for the Jubilee, Northern & Piccadilly lines</li>
<li>A full report on the performance of LU, Metronet and Tube Lines under the PPP structure during 2004/5 will be published later this year.</li></ul>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "LU also ran more trains then ever before, clocking up a huge total of nearly 70m kms - That's the equivalent of 1,735 times round the world, or 90 trips to the moon and back. Ken Livingstone, Mayor of London, said: 'I want to congratulate Tim O'Toole, his";}
        
        


 