


@{ViewBag.Title = "Underground hails employee winner of BBCs The Apprentice";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>Underground hails employee winner of BBCs The Apprentice</h1>
        <div class="content-page-press-release">
        05 May 2005
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        London Underground (LU) today hailed former employee Tim Campbell, winner of BBC2's 'The Apprentice' screened on Wednesday 4 May 2005 at 9pm.
        
    </div>



 <div class="on-this-page">
<p>Tim Campbell, former Senior Planner at London Underground (LU), defeated programme competitor Saira Khan during the final showdown of BBC2's 'The Apprentice'. </p>
<p>Tim passed with flying colours the last of a series of trying business tests. </p>
<p>Both finalists were in charge of planning an upmarket event, recruiting all necessary staff and designing a venue in just two days. </p>
<p>Richard Parry, LU Director of Strategy said: "We are all delighted here at Transport for London as Tim was a valued member of staff and we have been rooting for him.</p>
<p>"I know Tim personally, he is a very talented young man with lots to offer and I had no doubt he would succeed.</p>
<p>"I speak on behalf of everyone here in bidding him a fond farewell and wishing him the very best of luck for the future."</p>
<p>Tim is starting a new career as one of Sir Alan Sugar's lieutenants, with an annual salary of &pound;100,000.</p>
<p>Tim joined LU as a station assistant while studying for a BSc in Psychology. </p>
<p>
<h2>Highly competitive scheme</h2>
<p>
<p>He then applied for the Transport for London (TfL) <a href="/graduates">Graduate Development Scheme</a>, a highly competitive and sought after programme which receives thousands of applications each year. <strong><p></strong>
<p>
<p>Tim was among the 20 candidates chosen and joined the Human Resources department. </p>
<p>After two years, he went on to work within the Marketing and Project Services function of LU, part of the TfL Group.</p>
<p>The TfL Graduate Scheme offers participants a unique opportunity to work across TfL or in a specific area of the business such as LU, Surface Transport or corporate functions such as Finance and Planning or Marketing. </p>
<p>Participants go on to be employed in a wide range of positions within TfL, working to plan, procure and deliver the transport services that carry millions of Londoners and visitors to the capital every day.</p>
<p>The TfL Graduate programme currently offers 11 training programmes. To apply to, please visit TfL's <a href="http://www.tfl.gov.uk/tfl/corporate/jobs/currentcampaigns/graduates/">Graduate Programme</a> site.</p>
            <ul>
<li>London Underground carries 3 million passengers every day and almost 1 billion every year 
</li><li>The whole TfL network carries around 10 million people every day, on the Tube, buses, DLR and Croydon Tramlink. It also operates the central London Congestion Charge and delivers Streets, Cycling, Pedestrian and accessible transport strategies for London.</li></ul>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "Tim Campbell, former Senior Planner at London Underground (LU), defeated programme competitor Saira Khan during the final showdown of BBC2's 'The Apprentice'. Tim passed with flying colours the last of a series of trying business tests. Both finalists";}
        
        


 