


@{ViewBag.Title = "Wembley Park improvements in May";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>Wembley Park improvements in May</h1>
        <div class="content-page-press-release">
        05 May 2005
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        Due to the improvement works at Wembley Park Underground Station, buses will <BR>replace trains on the Jubilee line between Neasden and Kingsbury on <BR>Saturday and Sunday on 14-15 and 21-22 May.
        
    </div>



 <div class="on-this-page">
<p>The work is being undertaken by Tube Lines.</p>
<p>Kevin Bootle, Jubilee line General Manager, said: "Wembley Park Station is undergoing a major reconstruction. </p>
<p>"This will make it more pleasant to use and increase the station's capacity so that it will be ready for the opening of the new Wembley Stadium.<br><br>"I hope customers will bear with us, but when this work is completed it will bring real benefits to passengers."<br><br>A Rail Replacement Bus service will operate between Neasden and Kingsbury, calling at Wembley Park.<br><br>A 15-minute train service will operate between Stanmore and Kingsbury.</p>
<p>Passengers should allow an extra 40 minutes for their journeys.</p>
<p>For 24-hour information on all London travel, please call: 020 7222 1234 or visit <a href="http://www.tfl.gov.uk">www.tfl.gov.uk</a>. </p>
            <ul>
<li>TfL is investing &pound;10 billion over the next 5 years to improve and expand London's transport network, over half of that in the Tube. 
</li><li>Tube Linesis responsible for the maintenance and renewal of the Jubilee, Northern and Piccadilly lines.</li></ul>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "The work is being undertaken by Tube Lines.Kevin Bootle, Jubilee line General Manager, said: 'Wembley Park Station is undergoing a major reconstruction. 'This will make it more pleasant to use and increase the station's capacity so that it will be ready";}
        
        


 