


@{ViewBag.Title = "How to access published information";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>How to access published information</h1>
    </div>
</div>

<div class="main-and-aside r">
    <div class="main">

<div class="on-this-page">


     
<div>


        <p>Published information belonging to each of the classes described in TfL's Publication Schemes can be obtained via the TfL website or, on request, from Transport for London.</p>
        <table width="100%">
            <tbody>
                <tr>
                    <td colspan="2">Transport for London can be contacted at:</td>
                </tr>
                <tr>
                    <td>Address:</td>
                    <td>Transport for London<br />
                    Windsor House<br />
                    42-50 Victoria Street<br />
                    London<br />
                    SW1H 0TL </td>
                </tr>
                <tr>
                    <td>Website:</td>
                    <td><a href="http://www.tfl.gov.uk/">http://www.tfl.gov.uk/</a> </td>
                </tr>
                <tr>
                    <td>Telephone:</td>
                    <td>020 7222 5600 (Office hours)<br />
                    0843 222 1234 (Travel Information - 24 hours) </td>
                </tr>
                <tr>
                    <td>Email: </td>
                    <td><a href="mailto:enquire&#64;tfl.gov.uk">enquire&#64;tfl.gov.uk</a> </td>
                </tr>
            </tbody>
        </table>
    
</div>



 
        
        
        
        @this.ScriptBlock(
        @<script>
        queue.push("@Html.ScriptPath("modules/M020-on-this-page.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside">
        
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>

<div class="share-widget-wrapper"></div>

<div></div>

        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>
 


 