
    
  



@{ViewBag.Title = "Design & branding";}
@{ViewBag.Keywords = "Online developers,TfL";}
@{ViewBag.Url = "/info-for/open-data-users/design-and-branding";}
@{ViewBag.Language = "en";}
        <!-- empty placeholder -->
 
        
        
<div class="r">
    <div class="breadcrumb-container" role="navigation">
        <span id="breadcrumb-label" class="visually-hidden">You are here:</span>
        <ol class="breadcrumbs clearfix" aria-labelledby="breadcrumb-label">
            <li class="home">
                <a href="/">
                    <span class="hide-text">Home</span>
                </a>
            </li>
            
                 <li><a href="/info-for/open-data-users/index">Open data users</a></li>
                
            
            
                <li><span class="last-breadcrumb">Design & branding</span></li>
            
        
 
        
 
        </ol>
    </div>
</div>
     
 
<div class="r">
  <div class="headline-container plain">
    <h1>Design & branding</h1>

  </div>
</div>
<div class="main-and-aside r">
  
  <div class="main content-container" role="main">
    
      <div class="article-teaser">
        This page covers guidelines for using TfL branding when developing third party apps and services.
        
      </div>
    
    
      <h2>Use our data - not our brand</h2>
<p>If people see our brand, such as an app in TfL font, something named 'official' or using our logo (the roundel), they'll think that we've produced or endorsed the app. This means that we get the credit for all your hard work - as well as the blame if something goes wrong.</p>
      
           
      <div class="clearfix">
    <div class="image-box right-float">
    
        
        
        <img src="/cdn/static/cms/images/app-design-guidelines_rdax_400x250.jpg" alt="Examples of how NOT to use our branding" />
        
        
        
    </div>
    <h2>Please don't</h2>
<ul>
    <li>Use our brands, including the TfL roundel</li>
    <li>Use our trademarks</li>
    <li>Use the Oyster logo or colour schema</li>
    <li>Use our maps without a licence</li>
    <li>Use New Johnston font without a license</li>
    <li>Edit or alter our logo or trademarks</li>
    <li>Use any terms that imply a commercial
    partnership with TfL (like  'official' or
    'in partnership')</li>
    <li>Remove or change any file paths to logos
    or the official colour scheme within feeds</li>
</ul>
 </div>
 <div>

<h2>Please do:</h2>
<ul>
    <li>Follow our design standards if using our logos in a map. <a href="/info-for/suppliers-and-contractors/design-standards">Read the design standards</a></li>
    <li>Use the words 'London Underground', 'Tube','London Buses', 'DLR', 'London Overground', 'London River Services' and 'Emirates Air Line'</li>
    <li>Call the cycle hire scheme 'Santander Cycles' - they're the sponsor, so it's part of the deal</li>
    <li>Include any branding supplied by feeds</li>
</ul>
</div>
 
<div>




<h2>Service updates</h2>
<p>We have created a style guide to show you how we display live Tube travel information and provide guidance on how to reproduce this.</p>
<div class="multi-document-download-container">
    

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/tube-status-presentation-user-guide.pdf">
    <div class="document-download-text">
        <p>User guide for the presentation of service updates</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 85KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.08 -->
 
</div>

</div>
 
      
        
          
        
      
    
  </div>
  <div class="aside" role="complementary">

   
    
    
    
      <div data-set="sidenav-container" class="large">
        
        <div class="login-widget option-one moving-source-order">

    <h3>Sign in or register for data feeds</h3>
    <a href="https://api-portal.tfl.gov.uk/" class="primary-button">Sign in</a>
    <a href="https://api.tfl.gov.uk">See detailed developer documentation</a>
</div>
 
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
                <a href="/info-for/open-data-users/index" class="heading">
                    <h2 id="sub-menu-heading">Open data users<span class="visually-hidden"> navigation</span></h2>
                </a>
                <ul>
                    
                                <li><div class="link-wrapper"><a href="/info-for/open-data-users/open-data-policy">Open data policy</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/open-data-users/unified-api">Unified API</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/open-data-users/our-open-data">Our open data</a></div></li>
                            
 
                                <li class="selected"><div class="link-wrapper"><a href="/info-for/open-data-users/design-and-branding">Design & branding</a></div>
                            </li>
 
                </ul>
            
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
      </div>
    
    <div>
















<div class="advert-tile unsponsored-style google-ads" aria-hidden="true">
  <div class="advert-link">
    <div class="advert-content">
        <div class="medium-large" data-advert="/76889402/non-targeted" data-advert-sizes="300, 250"></div>
        <div class="small" data-advert="/76889402/non-targeted" data-advert-sizes="300, 250"></div>
    </div>
  </div>
</div>
@{
    ViewBag.AmazonSlot = "'amznslots'";
    ViewBag.AmazonAds = "'3199'"; // to add another value, this needs to be ViewBag.AmazonAds = "'3199','xx'";
}
      

 </div>
    
      <div class="module-grid clearfix">
                    
        <div class="related-links">

    <h3>Also on this site</h3>

<div class="vertical-button-container">

<a href="/info-for/suppliers-and-contractors/design-standards-and-licensing" class="plain-button">Design standards</a>
<a href="/info-for/suppliers-and-contractors/digital-toolkit" class="plain-button">Digital toolkit</a>
<a href="/corporate/terms-and-conditions/transport-data-service" class="plain-button">Terms &amp; conditions</a>
    </div>
</div>
 <div class="related-links">

    <h3>Related websites</h3>

<div class="vertical-button-container">

<a href="http://www.nationalarchives.gov.uk/doc/open-government-licence/version/2/" class="plain-button">Open Government Licence</a>
    </div>
</div>
 
      </div>
    
    <div data-set="sidenav-container" class="small-medium"></div>
  </div>
</div>
 
 
        
        
        
            @{ViewBag.Description = "Branding guidelines for using TfL open data ";}
        
            
        


 