
    
  



@{ViewBag.Title = "Open data policy";}
@{ViewBag.Keywords = "Online developers,TfL";}
@{ViewBag.Url = "/info-for/open-data-users/open-data-policy";}
@{ViewBag.Language = "en";}
        <!-- empty placeholder -->
 
        
        
<div class="r">
    <div class="breadcrumb-container" role="navigation">
        <span id="breadcrumb-label" class="visually-hidden">You are here:</span>
        <ol class="breadcrumbs clearfix" aria-labelledby="breadcrumb-label">
            <li class="home">
                <a href="/">
                    <span class="hide-text">Home</span>
                </a>
            </li>
            
                 <li><a href="/info-for/open-data-users/index">Open data users</a></li>
                
            
            
                <li><span class="last-breadcrumb">Open data policy</span></li>
            
        
 
        
 
        </ol>
    </div>
</div>
     
 
<div class="r">
  <div class="headline-container plain">
    <h1>Open data policy</h1>

  </div>
</div>
<div class="main-and-aside r">
  
  <div class="main content-container" role="main">
    
      <div class="article-teaser">
        Our digital strategy hinges around an integrated presence across digital media, including open data.
        
      </div>
    
    <div class="on-this-page">
      
      
           
      <div>

<p>We've committed to making our open data freely available to third parties and to engaging developers to deliver new products, apps and services for our customers.</p>

<p>Over 17,000 developers have registered for our open data, consisting of our unified API (Application Programming Interface) that powers over 600 travel apps in the UK with over 42% of Londoners using apps powered by our data.</p>

<p>This enables millions of journeys in London each day, giving customers the right information at the right time through their channel of choice.</p>

<h2>Why are we committing to open data?</h2>

<ul>
	<li>Public data - As a public body, our data is publically owned</li>
	<li>Reach - Our goal is to ensure any person needing travel information about London can get it wherever and whenever they wish, in any way they wish</li>
	<li>Economic benefit - Open data facilitates the development of technology enterprises, small and medium businesses, generating employment and wealth for London and beyond</li>
	<li>Innovation - By having thousands of developers working on designing and building applications, services and tools with our data and APIs, we are effectively crowdsourcing innovation</li>
</ul>
</div>
 
<div>



<h2>Deloitte's report on value of our open data</h2>


<p>Research by Deloitte shows that the release of open data by TfL is generating annual economic benefits and savings of up to &pound;130m a year. Read the report:</p>
<div class="multi-document-download-container">
    

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/deloitte-report-tfl-open-data.pdf">
    <div class="document-download-text">
        <p>Assessing the value of TfL's open data and digital partnerships</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 4.42MB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 4.42 -->
 
</div>

</div>
 <div>

<h2>How is our open data presented?</h2>
<p>Data is presented in three main ways:</p>
<ul>
    <li>Static data files - Data files which rarely change</li>
    <li>Feeds - Data files refreshed at regular intervals</li>
    <li>API (Application Programming Interface) - Enabling a query from an application to receive a bespoke response, depending on the parameters supplied. <a href="https://api.tfl.gov.uk/">Find out more about our unified API</a>. </li>
</ul>
<p>Our Unified API is available in JSON and XML. Other data feeds and data sets are provided in a number of different formats.</p>
</div>
 
      
        
          
            @this.ScriptBlock(
              @<script>
                queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
              </script>
            )
          
        
      
    </div>
  </div>
  <div class="aside" role="complementary">

   
    
    
    
      <div data-set="sidenav-container" class="large">
        
        <div class="login-widget option-one moving-source-order">

    <h3>Sign in or register for data feeds</h3>
    <a href="https://api-portal.tfl.gov.uk/" class="primary-button">Sign in</a>
    <a href="https://api.tfl.gov.uk">See detailed developer documentation</a>
</div>
 
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
                <a href="/info-for/open-data-users/index" class="heading">
                    <h2 id="sub-menu-heading">Open data users<span class="visually-hidden"> navigation</span></h2>
                </a>
                <ul>
                    
                                <li class="selected"><div class="link-wrapper"><a href="/info-for/open-data-users/open-data-policy">Open data policy</a></div>
                            </li>
 
                                <li><div class="link-wrapper"><a href="/info-for/open-data-users/unified-api">Unified API</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/open-data-users/our-open-data">Our open data</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/open-data-users/design-and-branding">Design & branding</a></div></li>
                            
 
                </ul>
            
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
      </div>
    
    <div>
















<div class="advert-tile unsponsored-style google-ads" aria-hidden="true">
  <div class="advert-link">
    <div class="advert-content">
        <div class="medium-large" data-advert="/76889402/non-targeted" data-advert-sizes="300, 250"></div>
        <div class="small" data-advert="/76889402/non-targeted" data-advert-sizes="300, 250"></div>
    </div>
  </div>
</div>
@{
    ViewBag.AmazonSlot = "'amznslots'";
    ViewBag.AmazonAds = "'3199'"; // to add another value, this needs to be ViewBag.AmazonAds = "'3199','xx'";
}
      

 </div>
    
      <div class="module-grid clearfix">
                    
        <div class="related-links">

    <h3>Related websites</h3>

<div class="vertical-button-container">

<a href="http://www.nationalarchives.gov.uk/doc/open-government-licence/version/2/" class="plain-button">Open Government Licence</a>
    </div>
</div>
 
      </div>
    
    <div data-set="sidenav-container" class="small-medium"></div>
  </div>
</div>
 
 
        
        
        
            @{ViewBag.Description = "Our digital strategy and approach to open data";}
        
            
        


 