


@{ViewBag.Title = "Construction of major new Cycleway in east London set to begin this winter";}
        
        
<div class="r">
    <div class="breadcrumb-container" role="navigation">
        <span id="breadcrumb-label" class="visually-hidden">You are here:</span>
        <ol class="breadcrumbs clearfix" aria-labelledby="breadcrumb-label">
            <li class="home">
                <a href="/">
                    <span class="hide-text">Home</span>
                </a>
            </li>
            
                <li>
                    <a href="/info-for/media/index">Media</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases">Press releases</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases/2019">2019</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases/2019/october">October</a>
                </li>
                
                <li>
                    <span class="last-breadcrumb">Construction of major new Cycleway in east London set to begin this winter</span>
                </li>
            
 
            
 
            
 
            
 
            
 
        </ul>
    </div>
</div>
     
 
<div class="r">
    <div class="headline-container plain">
        <h1>Construction of major new Cycleway in east London set to begin this winter</h1>
        <div class="content-page-press-release">
        03 October 2019
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        New 5km Cycleway between Hackney and Westferry will transform roads for walking and cycling, creating new segregated cycle lanes and pedestrian crossings
        
    </div>



<div class="pull-quote">
        <div class="quote-body">"The overwhelming support for the plans during the public consultation shows there is great demand for walking and cycling improvements which enable many more people to get around on foot or by bike as part of their everyday routine"</div>
        <div class="quote-footer">
            <div class="quotee-name">Will Norman</div>
            <div class="quotee-job-title">London's Walking and Cycling Commissioner</div>
        </div>
</div>

 <div class="on-this-page">
<p>Construction work on a major new Cycleway in east London is set to begin this winter, as TfL outlines the next steps for plans which would transform neighbourhoods between Hackney and Westferry and enable thousands more journeys to be made on foot and by cycle.</p>

<p>In May, TfL invited people to have their say on the plans, which would reduce danger to people walking and cycling and add 2km of protected space to London's growing network of cycle routes.</p>

<p>The proposed Cycleway was the first new cycling route to be consulted on from TfL's Strategic Cycling Analysis, which used data to identify 25 areas which showed the best potential for growing cycling numbers.</p>

<h2>Best potential</h2>

<p>More than 1,800 people took part in the consultation and 91% thought that the proposals would boost the number of people cycling in the area. Nearly three quarters also thought that the changes would enable more people to make journeys in the area on foot.</p>

<p>The upgrades will include:</p>

<ul>
	<li>Segregated cycle tracks on Burdett Road and West India Dock Road, providing a dedicated space for people who want to cycle</li>
	<li>Safety improvements along the route including improvements at junctions, traffic calming and a new 20mph speed limit along Burdett Road</li>
	<li>Two new signal-controlled pedestrian crossings and upgrades to existing pedestrian crossings along the route, making it easier and safer to cross the road</li>
	<li>New and improved public and green spaces, including new paving, trees and planting</li>
	<li>Links to existing cycling routes in Hackney and Tower Hamlets including Cycleways 2 and 3</li>
	<li>Changes to some bus stop layouts and locations, including introduction of new bus stop bypasses for people cycling</li>
	<li>Changing entry to and exit from some side roads along the route</li>
	<li>Road resurfacing providing improvements for people walking and cycling as well as for buses and general traffic</li>
	<li>Upgrading pavements to improve comfort for people walking</li>
</ul>

<p>TfL has listened to people's feedback on the proposals and made changes to the designs at two locations in response to comments.</p>

<p>Subject to the approvals process, construction work on the first section of the route is set to begin this winter.</p>

<h2>Major new Cycleway</h2>

<p>Will Norman, London's Walking and Cycling Commissioner, said: 'I'm delighted that construction work on this major new Cycleway is set to begin this winter.</p>

<p>'The overwhelming support for the plans during the public consultation shows there is great demand for walking and cycling improvements which enable many more people to get around on foot or by bike as part of their everyday routine.</p>

<p>'By reducing car use we will improve air quality for everyone, and reduce congestion.'</p>

<p>David Hughes, TfL's Director of Investment Delivery Planning, said: 'Our plans in the area will transform local roads for walking and cycling, reducing road danger and helping to clean up London's toxic air.</p>

<p>'We'd like to thank everybody who took part in our consultation for their invaluable feedback and are looking forward to construction work starting later this winter.'</p>

<h2>Millions more journeys</h2>

<p>TfL is investing &pound;2.3bn to enable millions more journeys to be made by walking and cycling as part of the Mayor's plans to tackle some of the biggest challenges facing the capital, including the global climate emergency, toxic air and obesity.</p>

<p>In September, four new Cycleways were launched across London and construction on a number of major new routes is either under way or set to begin this year.</p>

<p>Work on Cycleway 4 between Tower Bridge and Greenwich began in June, whilst work on Cycleway 9 between Brentford and Olympia is planned to start later this year.</p>

<p>Construction work also continues on Cycleway 34 between North Acton and Wood Lane.</p>

<hr />
<p><strong>Notes to editors</strong></p>

<ul>
	<li>The consultation report is available on the TfL website at <a href="http://tfl.gov.uk/cycleway">tfl.gov.uk/cycleway</a></li>
	<li>At this time TfL will not be making a decision on the access restrictions on Grove Road within Victoria Park. TfL will continue to coordinate proposals with those developed by Tower Hamlets Council for Bow Liveable Neighbourhood, and intends to undertake further modelling on both proposals together, the results of which would be included in a further consultation</li>
	<li>Isle of Dogs: Further work on options for the Isle of Dogs section is being led by Tower Hamlets Council and they are currently investigating alternative alignment options. TfL will continue working with Tower Hamlets Council to develop plans for an improved cross-river ferry service to consider how cyclists can quickly and conveniently travel between Rotherhithe, Canary Wharf and beyond. This route will now finish at on West India Dock Road, connecting to CS3</li>
	<li>Hackney Council is still finalising plans for section one (Frampton Park Road, Ainsworth Road and Skipworth Road) and discussing next steps internally. A decision on section one will be made later this year</li>
</ul>

<p>Changes to the design include:</p>

<ul>
	<li>A pedestrian refuge island has been added just north of the junction to the leisure centre to help pedestrians cross Burdett Road</li>
	<li>A gap in the cycle segregation will be provided to assist cyclists wishing to access the Lidl supermarket from the new two-way track</li>
	<li>Bus stop MA St Paul's Way (northbound on Burdett Road) was proposed to be removed but will now be maintained in its original position</li>
</ul>

<p>&nbsp;</p>

<ul>
	<li>The pedestrian crossing near Eric Street will be upgraded to a toucan crossing as it is next to a cycle hire stand and links into the cycle track</li>
</ul>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
                <a href="/info-for/media/index" class="heading">
                    <h2 id="sub-menu-heading">Media<span class="visually-hidden"> navigation</span></h2>
                </a>
                <ul>
                    
                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases">Press releases</a></div>
                                <ul>
                                    
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2020">2020</a></div></li>
                            
 
                                        <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019">2019</a></div>
                                        <ul>
                                            
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019/january">January</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019/february">February</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019/march">March</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019/april">April</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019/may">May</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019/june">June</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019/july">July</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019/august">August</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019/september">September</a></div></li>
                                    
 
                                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019/october">October</a></div>
                                                <ul>
                                                    
 
 
 
 
 
 
 
 
 
 
 
 
 
 
                                                </ul>
                                            
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019/november">November</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019/december">December</a></div></li>
                                    
 
                                        </ul>
                                    </li>
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018">2018</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017">2017</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016">2016</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015">2015</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014">2014</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2013">2013</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2012">2012</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2011">2011</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2010">2010</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2009">2009</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2008">2008</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2007">2007</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2006">2006</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2005">2005</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2004">2004</a></div></li>
                            
 
                                </ul>
                            </li>
 
                                <li><div class="link-wrapper"><a href="/info-for/media/photos">Photos</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/media/contact-the-press-office">Contact the Press Office</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/filming-and-photography">Filming & photography</a></div></li>
                            
 
                </ul>
            
 
 
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype: -Home-Media-Media-Press releases-2019-October-Construction of major new Cycleway in east London set to begin this winter -->

 
 
        
        
            @{ViewBag.Description = "Construction of major new Cycleway in east London set to begin this winter";}
        
        


 