


@{ViewBag.Title = "GLA - Mayor launches scheme to revolutionise lorry safety";}
        
        
<div class="r">
    <div class="breadcrumb-container" role="navigation">
        <span id="breadcrumb-label" class="visually-hidden">You are here:</span>
        <ol class="breadcrumbs clearfix" aria-labelledby="breadcrumb-label">
            <li class="home">
                <a href="/">
                    <span class="hide-text">Home</span>
                </a>
            </li>
            
                <li>
                    <a href="/info-for/media/index">Media</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases">Press releases</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases/2019">2019</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases/2019/october">October</a>
                </li>
                
                <li>
                    <span class="last-breadcrumb">GLA - Mayor launches scheme to revolutionise lorry safety</span>
                </li>
            
 
            
 
            
 
            
 
            
 
        </ul>
    </div>
</div>
     
 
<div class="r">
    <div class="headline-container plain">
        <h1>GLA - Mayor launches scheme to revolutionise lorry safety</h1>
        <div class="content-page-press-release">
        29 October 2019
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        The first lorry safety scheme of its kind launches in London this week
        
    </div>



<div class="pull-quote">
        <div class="quote-body">"Today the scheme has gone live and operators now have 12 months to upgrade their fleets, helping make our streets much safer for people walking and cycling"</div>
        <div class="quote-footer">
            <div class="quotee-name">Sadiq Khan</div>
            <div class="quotee-job-title">The Mayor of London</div>
        </div>
</div>

 <div class="on-this-page">
<p>This press release, issued by the Mayor of London, was first published on <a href="[ioID]#https://www.london.gov.uk/press-releases/mayoral/mayor-launches-world-leading-lorry-safety-scheme">london.gov.uk</a></p>

<ul>
	<li>The Direct Vision Standard seeks to eliminate dangerous Heavy Goods Vehicle blind spots, proven to be the cause of pedestrian and cyclist deaths and serious injuries</li>
	<li>HGVs that fail to meet new minimum safety standards will be issued a penalty charge for driving in the capital.</li>
</ul>

<p>&nbsp;<br />
A world-leading scheme to remove the most dangerous Heavy Goods Vehicles (HGVs) from London's streets has been launched today by the Mayor Sadiq Khan, Transport for London (TfL) and London Councils.&nbsp;</p>

<p>The first of its kind, the Direct Vision Standard tackles road danger at its source by minimising HGV blind spots which contribute to many tragic deaths and life-changing injuries. Based on how much a driver can see directly through their cab windows, the&nbsp; unique star system rates HGVs over 12 tonnes from zero (lowest) to five (highest). HGVs will need to meet a minimum 'one-star' rating by the time enforcement begins to enable them to operate in London, or will need to fit 'Safe System' measures to improve the vehicle's safety.</p>

<p>Big lorries are disproportionately involved in fatal collisions. Whilst they account for just four per cent of the overall miles driven in the capital, between 2015 and 2017, HGVs were involved in 63 per cent of fatal collisions involving cyclists and 25 per cent involving pedestrians.</p>

<p>From this week, operators can apply for a HGV Safety Permit ahead of enforcement beginning on 26 October 2020. HGV operators who fail to meet these new minimum safety standards and obtain a permit will be issued a penalty charge for driving in the capital. The Direct Vision Standard will operate 24 hours a day, seven days a week and will be enforced within the Greater London Boundary.</p>

<p><strong>The Mayor of London, Sadiq Khan, said: </strong></p>

<p>'I'm proud of our world-leading plans to remove the most dangerous lorries from London's streets. So many of the tragic deaths on our roads involve HGVs and this new scheme will help save lives.</p>

<p>'Forward-looking businesses have already been choosing safer vehicles in the run up to HGV safety permits becoming available. Today the scheme has gone live and operators now have 12 months to upgrade their fleets, helping make our streets much safer for people walking and cycling.'</p>

<p>Today Sadiq visited CEMEX's Stepney Concrete Plant to see DVS lorries in action. All of the vehicles that CEMEX operates in London meet or exceed the minimum DVS requirements in place until 2024.</p>

<p>Owners of vehicles rated zero-star will need to improve the overall safety of their vehicle by fitting a 'Safe System' to reduce the risk it presents to people walking, cycling and riding motorcycles before enforcement begins. These include a camera monitoring system, a noise alert when turning left and sensors. Fitting the 'Safe System' will not improve a vehicle's DVS star rating but will bring the safety standard of the vehicle up to allow operators to apply for a Safety Permit.</p>

<p>TfL worked closely with manufacturers, operators and stakeholders - including RoadPeace and Living Streets - to develop the Direct Vision Standard.</p>

<p>At the same time as the Direct Vision Standard is brought into force, requirements for the London-wide Low Emission Zone will be tightened so that heavy vehicles across the capital are subject to the tough ULEZ standards. These changes show the vital role the freight industry will play in both tackling road danger and cleaning up the capital's toxic air.&nbsp;&nbsp;&nbsp;</p>

<p><strong>Christina Calderato, Head of Transport Strategy and Planning, said: </strong></p>

<p>'Today we have reached a major milestone in a scheme that will save people's lives and play a significant role in helping us achieve Vision Zero. Transforming the safety of HGVs will dramatically reduce road danger for people walking and cycling, helping us to ensure that everyone gets home safely every day. We would like to encourage all operators to check the star rating of their vehicles and take action today, by applying for a permit or fitting a Safe System.'</p>

<p><strong>Councillor Julian Bell, Chair of the London Councils Transport and Environment Committee, said:&nbsp;</strong></p>

<p>'London boroughs support the launch of Direct Vision Standard Safety Permits for HGVs using London's roads. This is a huge step forward for road safety in the capital.&nbsp;</p>

<p>'Ensuring lorry drivers have good levels of visibility will better protect vulnerable road users such as pedestrians and cyclists. Increasing the number of people who walk and cycle in the capital is vital to improving our air quality and reducing congestion. We look forward to the new scheme having a positive impact on the safety of London's road network.'</p>

<p><strong>Victoria Lebrec, Campaign Coordinator for RoadPeace, the national charity for road crash victims, said: </strong></p>

<p>'I lost my leg in a crash with a lorry in 2014 because the driver didn't see me. Since then there have been many people killed and even more seriously injured because the lorries currently driving on London roads are not fit for purpose. It is madness to have huge, heavy vehicles with poor visibility on roads that are filled with people. Transport for London should be commended for their Safety Permit scheme. I look forward to October 2020 when the most dangerous vehicles will be off the roads &#45; and in the meantime encourage operators to consider thinking ahead, and making their vehicles five stars.'</p>

<p><strong>Stephen Edwards, Director of Policy and Communications, Living Streets said: </strong></p>

<p>'Despite making up just four per cent of London's motor traffic, HGVs are involved in more than a fifth of pedestrian fatalities. The threat they pose to our safety has not been acceptable for a long time.</p>

<p>'The Direct Vision Standard is a much-needed scheme which stands to save many lives. By implementing this world-first innovation, the Mayor of London demonstrates his commitment to creating a city safer for walking and ensures London remains one of the world's leading cities.'</p>

<p><strong>David Hart, CEMEX's Supply Chain Director for UK, commented: </strong></p>

<p>'We were honoured to welcome Sadiq Khan and the TfL team to our Stepney site today, as the Direct Vision Standard is launched. DVS is a landmark scheme that will ensure that all road users and pedestrians are safe as they come across HGVs while moving around the city. We fully support the programme; safety is CEMEX's number one priority and informs all aspects of our operation. We are committed to investing in, and developing, our fleet so that it continues to reflect the latest advancements in safety features. We look forward to continuing to work with the Mayor, TfL and London councils for safer roads and streets here in London and beyond.'</p>

<p>Loughborough University researchers have been instrumental in bringing the Direct Vision Standard to where it is today, having defined and tested the scheme.&nbsp;</p>

<p><strong>Dr Steve Summerskill, Senior Lecturer at Loughborough University, said: </strong></p>

<p>'This successful project is the result of the efforts of a number of staff in the Loughborough Design School, who have worked as a team to produce an innovate and accurate testing technique that has been validated by vehicle manufacturers. The result will have a beneficial effect on the safety of vulnerable road users (VRUs) in the UK capital and further afield. An impact assessment performed by TRL (Transport Research Laboratory) on behalf of the EU showed that European adoption would save hundreds of lives per year.'</p>

<p>TfL is working with the UK Government, European Commission and the United Nations Economic Commission for Europe to develop international regulations on vehicle design standards.</p>

<p>The Direct Vision Standard is part of TfL's Vision Zero commitment to tackle the number of people being killed and seriously injured on London's roads.</p>

<hr />
<p>Notes to editors:</p>

<ul>
	<li>Operators can apply for Safety Permits through the TfL portal here: www.tfl.gov.uk/direct-vision-permit</li>
	<li>It is possible to apply for multiple vehicle permits in a single application, making it easier for operators with larger fleets</li>
	<li>Vehicles rated between one star and five star will be compliant until 2024, when vehicles two star and below will require a 'Progressive Safe System' in order to operate in London (subject to consultation).</li>
	<li>Permits will be electronic and enforced by Automatic Number Plate Recognition cameras, and non-compliant HGVs will be issued with a Penalty Charge Notice of &pound;550 per day, which will be reduced by 50 per cent if paid within 14 days</li>
	<li>Operators can check the star rating of their vehicles here: <a href="[ioID]#https://tfl.gov.uk/modes/driving/dvs-safety-permit-application/">https://tfl.gov.uk/modes/driving/dvs-safety-permit-application/</a></li>
	<li>Operators should contact their vehicle manufacturer to confirm their star rating if their vehicle is not yet rated in the database. Vehicles without permits once enforcement begins will be assumed to have a zero star rating.</li>
	<li>TfL research shows that between 2015 and 2017, HGVs were disproportionately involved in fatal collisions, with 63 per cent of those involving people cycling and 25 per cent of those involving people walking <a href="[ioID]#https://consultations.tfl.gov.uk/roads/direct-vision-standard-phase2b/user_uploads/dvs-phase-2b-consultation-report-1.pdf">https://consultations.tfl.gov.uk/roads/direct-vision-standard-phase2b/user_uploads/dvs-phase-2b-consultation-report-1.pdf</a></li>
	<li>More information about the Direct Vision Standard is available here: <a href="[ioID]#tfl.gov.uk/info-for/deliveries-in-london/delivering-safely/direct-vision-in-heavy-goods-vehicles">tfl.gov.uk/info-for/deliveries-in-london/delivering-safely/direct-vision-in-heavy-goods-vehicles</a></li>
	<li>The Vision Zero Action Plan is available here: <a href="[ioID]#tfl.gov.uk/corporate/safety-and-security/road-safety/vision-zero-for-london">tfl.gov.uk/corporate/safety-and-security/road-safety/vision-zero-for-london</a></li>
</ul>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
                <a href="/info-for/media/index" class="heading">
                    <h2 id="sub-menu-heading">Media<span class="visually-hidden"> navigation</span></h2>
                </a>
                <ul>
                    
                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases">Press releases</a></div>
                                <ul>
                                    
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2020">2020</a></div></li>
                            
 
                                        <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019">2019</a></div>
                                        <ul>
                                            
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019/january">January</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019/february">February</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019/march">March</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019/april">April</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019/may">May</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019/june">June</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019/july">July</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019/august">August</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019/september">September</a></div></li>
                                    
 
                                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019/october">October</a></div>
                                                <ul>
                                                    
 
 
 
 
 
 
 
 
 
 
 
 
 
 
                                                </ul>
                                            
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019/november">November</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019/december">December</a></div></li>
                                    
 
                                        </ul>
                                    </li>
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018">2018</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017">2017</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016">2016</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015">2015</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014">2014</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2013">2013</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2012">2012</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2011">2011</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2010">2010</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2009">2009</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2008">2008</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2007">2007</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2006">2006</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2005">2005</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2004">2004</a></div></li>
                            
 
                                </ul>
                            </li>
 
                                <li><div class="link-wrapper"><a href="/info-for/media/photos">Photos</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/media/contact-the-press-office">Contact the Press Office</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/filming-and-photography">Filming & photography</a></div></li>
                            
 
                </ul>
            
 
 
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype: -Home-Media-Media-Press releases-2019-October-GLA - Mayor launches scheme to revolutionise lorry safety -->

 
 
        
        
            @{ViewBag.Description = "Mayor launches world-leading scheme to revolutionise lorry safety in the capital";}
        
        


 