


@{ViewBag.Title = "Major work to transform Highbury Corner is complete";}
        
        
<div class="r">
    <div class="breadcrumb-container" role="navigation">
        <span id="breadcrumb-label" class="visually-hidden">You are here:</span>
        <ol class="breadcrumbs clearfix" aria-labelledby="breadcrumb-label">
            <li class="home">
                <a href="/">
                    <span class="hide-text">Home</span>
                </a>
            </li>
            
                <li>
                    <a href="/info-for/media/index">Media</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases">Press releases</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases/2019">2019</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases/2019/october">October</a>
                </li>
                
                <li>
                    <span class="last-breadcrumb">Major work to transform Highbury Corner is complete</span>
                </li>
            
 
            
 
            
 
            
 
            
 
        </ul>
    </div>
</div>
     
 
<div class="r">
    <div class="headline-container plain">
        <h1>Major work to transform Highbury Corner is complete</h1>
        <div class="content-page-press-release">
        02 October 2019
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        The Mayor of London, Sadiq Khan, has opened the newly transformed Highbury Corner junction
        
    </div>



<div class="pull-quote">
        <div class="quote-body">"Whether you're commuting into central London, or heading to the local shops, the transformation of Highbury Corner will make the area safer for everyone
 

 

 "</div>
        <div class="quote-footer">
            <div class="quotee-name">Sadiq Khan</div>
            <div class="quotee-job-title">Mayor of London</div>
        </div>
</div>

 <div class="on-this-page">
<ul>
	<li>Major project has completely overhauled the junction for walking, cycling and public transport</li>
	<li>Upgrades include segregated cycle lanes throughout, new pedestrian crossings, a new station forecourt, and a new public space with access to the arboretum for the first time</li>
	<li>Part of the Mayor's &pound;2.3bn investment in creating Healthy Streets across the capital</li>
</ul>

<p>&nbsp;<br />
The Mayor of London, Sadiq Khan, Transport for London and Islington Council have officially opened the new Highbury Corner junction, which has been transformed from one of London's most intimidating roundabouts into a junction that is much safer and more welcoming for people.</p>

<p>The Mayor and TfL are investing record amounts across London to eradicate death and serious injury from the capital's roads and enable more people to walk, cycle and use public transport.</p>

<p>Construction work to remove the intimidating 1960s roundabout and replace it with two-way roads began in June 2018. Traffic switched to two-way operation for the first time in 60 years in April this year whilst work continued on the new junction.</p>

<p>The transformation is now complete, with improvements including:</p>

<ul>
	<li>Segregated cycle lanes on all three sides of the new junction</li>
	<li>A new green public space for everybody in the area to enjoy, including a new Highbury &amp; Islington station forecourt</li>
	<li>New, wider and 'straight across' pedestrian crossings, which are easier to use than the old two-stage crossings</li>
	<li>More green space by partially opening the arboretum to public access</li>
	<li>A new shared pedestrian/cycle toucan crossing across St Paul's Road to allow two-way cycling to and from Corsica Street</li>
</ul>

<p><strong>&nbsp;Mayor of London, Sadiq Khan, said: </strong></p>

<p>'I'm delighted that our work to transform Highbury Corner is complete. It has overhauled the junction from three lanes of busy motor traffic into an area safer for walking and cycling, with a new public space for everyone to enjoy.&nbsp; Whether you're commuting into central London, or heading to the local shops, the transformation of Highbury Corner will make the area safer for everyone.<br />
&nbsp;<br />
'With thousands of people dying prematurely every year as a result of our dirty air and our continuing inactivity crisis, it is essential other boroughs follow the lead of Islington in getting more Londoners walking and cycling as part of their everyday routine.'<br />
&nbsp;<br />
<strong>Cllr Claudia Webbe, Islington Council's Executive Member for Environment and Transport, said: </strong></p>

<p>'The transformation of Highbury Corner is a vital part of our bold action to make Islington a safer and easier place to walk and cycle.<br />
&nbsp;<br />
'With the support of residents we campaigned hard to change a dangerous and outdated junction into a much more welcoming and pleasant place for people, and have worked together with the Mayor of London and Transport for London to make this happen. Now we have much better, wider pavements outside the station, a smart new area for people to walk and sit, new access to a botanical collection of trees and green space previously cut off behind traffic, and high-quality segregated cycle lanes.<br />
&nbsp;<br />
'We will keep working to make transport in Islington healthy, fair, accessible and enjoyable as a central part of our commitment to further reducing car use, tackling air pollution and helping Islington become carbon neutral by 2030.'<br />
&nbsp;<br />
<strong>Simon Munk, Infrastructure Campaigner for LCC, said: </strong></p>

<p>'We welcome the Mayor and Islington Council taking bold action to make Highbury Corner far safer and better for walking and cycling. It is vital we press ahead in civilising the most dangerous junctions in London, on TfL and borough roads, to reduce road danger - the single biggest barrier to more people, and a wider range of people, cycling.'<br />
&nbsp;<br />
<strong>Nick Fairholme, TfL's Director of Project and Programme Delivery, said: </strong></p>

<p>'The new junction at Highbury Corner is already making a huge difference to the safety of thousands of people who move through this busy area each day. I'd like to thank everyone in their area for their patience, whilst these vital works have taken place and we hope that local residents enjoy their new public space.'</p>

<p>The work to transform Highbury Corner is part of TfL's Safer Junction's programme, which is reducing danger by overhauling London's most intimidating and dangerous junctions. Work has now been completed at 31 junctions across the capital, with another ten set to be complete by May next year. Major work to remove another outdated and intimidating roundabout at Old Street, in partnership with Islington and Hackney Councils, is progressing well and is set to be completed next year.</p>

<p>TfL is working to enable millions more journeys to be made by walking and cycling as part of the Mayor's plans to tackle some of the biggest challenges facing the capital, including the global climate emergency, toxic air and obesity.</p>

<p>In September, four new Cycleways were launched across London and construction on a number of major new routes is either under way or set to begin this year. Work on Cycleway 4 between Tower Bridge and Greenwich began in June, whilst work on Cycleway 9 between Brentford and Olympia is planned to start later this year. Construction work also continues on Cycleway 34 between North Acton and Wood Lane.</p>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
                <a href="/info-for/media/index" class="heading">
                    <h2 id="sub-menu-heading">Media<span class="visually-hidden"> navigation</span></h2>
                </a>
                <ul>
                    
                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases">Press releases</a></div>
                                <ul>
                                    
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2020">2020</a></div></li>
                            
 
                                        <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019">2019</a></div>
                                        <ul>
                                            
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019/january">January</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019/february">February</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019/march">March</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019/april">April</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019/may">May</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019/june">June</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019/july">July</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019/august">August</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019/september">September</a></div></li>
                                    
 
                                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019/october">October</a></div>
                                                <ul>
                                                    
 
 
 
 
 
 
 
 
 
 
 
 
 
 
                                                </ul>
                                            
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019/november">November</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019/december">December</a></div></li>
                                    
 
                                        </ul>
                                    </li>
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018">2018</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017">2017</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016">2016</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015">2015</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014">2014</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2013">2013</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2012">2012</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2011">2011</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2010">2010</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2009">2009</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2008">2008</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2007">2007</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2006">2006</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2005">2005</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2004">2004</a></div></li>
                            
 
                                </ul>
                            </li>
 
                                <li><div class="link-wrapper"><a href="/info-for/media/photos">Photos</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/media/contact-the-press-office">Contact the Press Office</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/filming-and-photography">Filming & photography</a></div></li>
                            
 
                </ul>
            
 
 
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype: -Home-Media-Media-Press releases-2019-October-Major work to transform Highbury Corner is complete -->

 
 
        
        
            @{ViewBag.Description = "Major work to transform Highbury Corner is complete";}
        
        


 