


@{ViewBag.Title = "Mike Brown MVO set to leave TfL";}
        
        
<div class="r">
    <div class="breadcrumb-container" role="navigation">
        <span id="breadcrumb-label" class="visually-hidden">You are here:</span>
        <ol class="breadcrumbs clearfix" aria-labelledby="breadcrumb-label">
            <li class="home">
                <a href="/">
                    <span class="hide-text">Home</span>
                </a>
            </li>
            
                <li>
                    <a href="/info-for/media/index">Media</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases">Press releases</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases/2019">2019</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases/2019/october">October</a>
                </li>
                
                <li>
                    <span class="last-breadcrumb">Mike Brown MVO set to leave TfL</span>
                </li>
            
 
            
 
            
 
            
 
            
 
        </ul>
    </div>
</div>
     
 
<div class="r">
    <div class="headline-container plain">
        <h1>Mike Brown MVO set to leave TfL</h1>
        <div class="content-page-press-release">
        17 October 2019
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        New role will oversee restoration of historic Houses of Parliament
        
    </div>



<div class="pull-quote">
        <div class="quote-body">"Mike deserves huge thanks for the exceptional service he has given to London, both for the excellent job he has done as TfL Commissioner, but also for all the work he has done for the capital since starting at TfL in 1989

 "</div>
        <div class="quote-footer">
            <div class="quotee-name">Sadiq Khan</div>
            <div class="quotee-job-title">Mayor of London</div>
        </div>
</div>

 <div class="on-this-page">
<p>Transport for London (TfL) today announced that London's Transport Commissioner, Mike Brown MVO, will be leaving the organisation to take up the role of Chair of the Delivery Authority for the Restoration &amp; Renewal of the Houses of Parliament.</p>

<p>Mike became Transport Commissioner in July 2015, and has led TfL's delivery of the Mayor's Transport Strategy and multi-billion pound transport investment programme.</p>

<p>He has transformed the efficiency of the organisation and has overseen a step-change in TfL's focus on tackling safety on London's roads, improving London's air quality and encouraging a shift to public transport, cycling and walking.</p>

<p>Mike first joined London Underground (LU) in 1989 and became Chief Operating Officer in 2003. He left to run Heathrow Airport during a massive transformation and passenger improvement programme, and later returned as the Managing Director of LU.&nbsp; There he was responsible for operating services with more than one billion journeys every year and for leading the largest line upgrade and investment programme in the Underground's history.</p>

<p>He also improved reliability across the Underground, oversaw huge station redevelopment projects and led the successful delivery of the services to support the Olympic and Paralympic Games in 2012.</p>

<p>Mike's new role will see him Chair the Delivery Authority that will carry out the internationally-significant programme to restore and renew the Houses of Parliament.</p>

<p>The Programme at the UNESCO World Heritage site is designed to tackle the significant work that needs to be done to protect the Palace of Westminster and ensure it can continue to serve as home to the UK Parliament in the 21st century and beyond.</p>

<p>Mike Brown, who will continue in his role for the remainder of Sadiq Khan's current term as Mayor, said:</p>

<p>'Every day, thousands of unsung women and men go to work to keep London moving and to make this city better, cleaner and safer for everyone. I am inspired by them and I will miss them, but it's the right time for me to move on to a new challenge after more than 30 years in the transport industry and what will have been nearly five years as Commissioner.</p>

<p>'I'm proud of what has been achieved at TfL and I'm proud of having served and delivered for the Mayor.&nbsp; In spite of the challenges that London has experienced at times over the years, TfL is an organisation full of the energy, ability and passion to make this an even better city for all.</p>

<p>'I look forward to this new change of direction, and to bringing the experience I have gained throughout my career to the job of restoring and renewing the iconic architectural jewel that lies at the heart of London and at the heart of our country's democracy.'</p>

<p>Mayor of London, Sadiq Khan, said:</p>

<p>'Mike deserves huge thanks for the exceptional service he has given to London, both for the excellent job he has done as TfL Commissioner, but also for all the work he has done for the capital since starting at TfL in 1989.</p>

<p>'The recent transformation of the London's public transport network into one of the very best in the world is testament to Mike's expertise, and much of the exciting investment we're continuing to see in transport across the capital is a result of Mike's leadership and vision.</p>

<p>'I wish him the best of luck for everything in the future.'</p>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
                <a href="/info-for/media/index" class="heading">
                    <h2 id="sub-menu-heading">Media<span class="visually-hidden"> navigation</span></h2>
                </a>
                <ul>
                    
                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases">Press releases</a></div>
                                <ul>
                                    
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2020">2020</a></div></li>
                            
 
                                        <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019">2019</a></div>
                                        <ul>
                                            
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019/january">January</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019/february">February</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019/march">March</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019/april">April</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019/may">May</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019/june">June</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019/july">July</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019/august">August</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019/september">September</a></div></li>
                                    
 
                                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019/october">October</a></div>
                                                <ul>
                                                    
 
 
 
 
 
 
 
 
 
 
 
 
 
 
                                                </ul>
                                            
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019/november">November</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019/december">December</a></div></li>
                                    
 
                                        </ul>
                                    </li>
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018">2018</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017">2017</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016">2016</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015">2015</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014">2014</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2013">2013</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2012">2012</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2011">2011</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2010">2010</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2009">2009</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2008">2008</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2007">2007</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2006">2006</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2005">2005</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2004">2004</a></div></li>
                            
 
                                </ul>
                            </li>
 
                                <li><div class="link-wrapper"><a href="/info-for/media/photos">Photos</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/media/contact-the-press-office">Contact the Press Office</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/filming-and-photography">Filming & photography</a></div></li>
                            
 
                </ul>
            
 
 
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype: -Home-Media-Media-Press releases-2019-October-Mike Brown MVO set to leave TfL -->

 
 
        
        
            @{ViewBag.Description = "Mike Brown MVO set to leave TfL for new role overseeing restoration of historic Houses of Parliament";}
        
        


 