


@{ViewBag.Title = "New London Overground ticket machines make it easier to support Railway Children charity";}
        
        
<div class="r">
    <div class="breadcrumb-container" role="navigation">
        <span id="breadcrumb-label" class="visually-hidden">You are here:</span>
        <ol class="breadcrumbs clearfix" aria-labelledby="breadcrumb-label">
            <li class="home">
                <a href="/">
                    <span class="hide-text">Home</span>
                </a>
            </li>
            
                <li>
                    <a href="/info-for/media/index">Media</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases">Press releases</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases/2019">2019</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases/2019/october">October</a>
                </li>
                
                <li>
                    <span class="last-breadcrumb">New London Overground ticket machines make it easier to support Railway Children charity</span>
                </li>
            
 
            
 
            
 
            
 
            
 
        </ul>
    </div>
</div>
     
 
<div class="r">
    <div class="headline-container plain">
        <h1>New London Overground ticket machines make it easier to support Railway Children charity</h1>
        <div class="content-page-press-release">
        25 October 2019
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        Railway Children is an international charity working to help vulnerable children sheltering in and around railway stations
        
    </div>



<div class="pull-quote">
        <div class="quote-body">"Hundreds of young people across the capital are supported by the charity each year, offering hope and helping to provide positive changes in their lives. So whether you are able to donate a few pence or a few pounds it will all go towards supporting the great work this charity does all year round"</div>
        <div class="quote-footer">
            <div class="quotee-name">Rory O'Neill</div>
            <div class="quotee-job-title">TfL's General Manager of London Overground</div>
        </div>
</div>

 <div class="on-this-page">
<p>Customers at London Overground stations are now able to make donations to help support the Railway Children international charity after a new feature was added to ticket machines across the network.</p>

<p>People using ticket machines at 81 stations now have the option to add a donation when topping up Oyster cards, with 100% of the donation paid directly to the charity.</p>

<p>The feature has been developed in partnership with Railway Children, Arriva Rail London (operators of the London Overground network) and ticket machine manufacturer Worldline.</p>

<p>The charity Railway Children fights for children at risk of abuse and exploitation on the streets in the UK as well as in Africa and India.</p>

<p>Their work in this country focuses on young, vulnerable people finding themselves in danger in and around the transport network, making sure they are kept safe working closely with the British Transport Police.</p>

<p>Rory O'Neill, TfL's General Manager of London Overground, said: 'This new feature on the Worldline ticket vending machine will really help support the work of the Railway Children by making it easier to donate money to support this good cause.</p>

<p>'Hundreds of young people across the capital are supported by the charity each year, offering hope and helping to provide positive changes in their lives.</p>

<p>'So whether you are able to donate a few pence or a few pounds it will all go towards supporting the great work this charity does all year round.'</p>

<h2>Offering hope</h2>

<p>Dave Ellis, Corporate Partnerships Manager for Railway Children, said: 'Railway Children are incredibly proud of&nbsp;our partnership with TfL and this new scheme is such an innovative and accessible way to raise both funds and awareness for our essential work.</p>

<p>'The money donated will have a very real impact on the lives of vulnerable children, not only in London but throughout the UK as well as around the world.</p>

<p>'When you consider that just &pound;20 could fund an hour of support work for a UK runaway child or young person and their family, you get a real sense of just how life changing&nbsp;this initiative will really be.'</p>

<p>Stella Rogers, Arriva Rail London Customer Experience Director, said: 'Our new Worldline ticket vending machines not only make paying for travel easier, but the Railway Children donation feature has the potential to make a real difference to so many vulnerable children's lives across the world.</p>

<p>'With thousands of generous customers taking journeys on the London Overground every day, this is a great opportunity to harness technology for social good. We're looking forward to seeing the positive impact that this has on a charity that is close to our railway family.'</p>

<p>Lisa Coleman, Chief Executive Officer for Worldline said: 'I have been privileged to visit the Railway Children projects and see first-hand the amazing work that the Railway Children Charity do on behalf of children who find themselves vulnerable and alone on the UK streets and around the world.</p>

<p>'The team at Worldline are very pleased and proud to be able to support TfL to enable charitable donations across the London Overground fleet of Ticket vending machines.'</p>

<p>The charity started working in London in 2018, alongside the British Transport Police and the main transport hubs in the capital.</p>

<p>Railway Children has been working on the ground in India and East Africa for more than 20 years and in 2017 launched its first UK-based project in Manchester, where an average of 15 reports are received each week of children considered to be in a vulnerable position in and around the city's rail stations.</p>

<h2>Long lasting</h2>

<p>Last year Railway Children's London project supported 163 young people referred from BTP by providing information, advice and guidance, one to one support and family work.</p>

<p>The main reasons for referral were for young people who had runaway, at risk or being exploited or abused and those who were victims or suspects of crime.</p>

<p>Railway Children project workers support these children for as long as is necessary to address the complex issues they face in order to make long lasting, positive changes in their lives.</p>

<p>In the UK, scores of vulnerable children and young people end up at railway stations every day. These children are not necessarily homeless or living on the streets, but they are often away from their family, out of school and are falling through the cracks in the system.</p>

<p>Without the support they need to grow, thrive and reach their full potential, vulnerable youngsters can find themselves caught up in illegal activity, including the growing endemic of 'county lines' drug dealing.</p>

<p>A huge focus of Railway Children's work in the UK is on building a relationship with vulnerable children, earning their trust and that of their family or carers and helping to make sure they stop putting themselves in danger.</p>

<p>The charity relies solely on donations and fundraising with this new ticket machine feature is hoped to raise even more money to support all the hard work it does.</p>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
                <a href="/info-for/media/index" class="heading">
                    <h2 id="sub-menu-heading">Media<span class="visually-hidden"> navigation</span></h2>
                </a>
                <ul>
                    
                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases">Press releases</a></div>
                                <ul>
                                    
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2020">2020</a></div></li>
                            
 
                                        <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019">2019</a></div>
                                        <ul>
                                            
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019/january">January</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019/february">February</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019/march">March</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019/april">April</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019/may">May</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019/june">June</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019/july">July</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019/august">August</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019/september">September</a></div></li>
                                    
 
                                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019/october">October</a></div>
                                                <ul>
                                                    
 
 
 
 
 
 
 
 
 
 
 
 
 
 
                                                </ul>
                                            
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019/november">November</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019/december">December</a></div></li>
                                    
 
                                        </ul>
                                    </li>
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018">2018</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017">2017</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016">2016</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015">2015</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014">2014</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2013">2013</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2012">2012</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2011">2011</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2010">2010</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2009">2009</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2008">2008</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2007">2007</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2006">2006</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2005">2005</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2004">2004</a></div></li>
                            
 
                                </ul>
                            </li>
 
                                <li><div class="link-wrapper"><a href="/info-for/media/photos">Photos</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/media/contact-the-press-office">Contact the Press Office</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/filming-and-photography">Filming & photography</a></div></li>
                            
 
                </ul>
            
 
 
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype: -Home-Media-Media-Press releases-2019-October-New London Overground ticket machines make it easier to support Railway Children charity -->

 
 
        
        
            @{ViewBag.Description = "New London Overground ticket machines make it easier to support Railway Children charity";}
        
        


 