


@{ViewBag.Title = "New consultation on Bakerloo line extension opens today";}
        
        
<div class="r">
    <div class="breadcrumb-container" role="navigation">
        <span id="breadcrumb-label" class="visually-hidden">You are here:</span>
        <ol class="breadcrumbs clearfix" aria-labelledby="breadcrumb-label">
            <li class="home">
                <a href="/">
                    <span class="hide-text">Home</span>
                </a>
            </li>
            
                <li>
                    <a href="/info-for/media/index">Media</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases">Press releases</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases/2019">2019</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases/2019/october">October</a>
                </li>
                
                <li>
                    <span class="last-breadcrumb">New consultation on Bakerloo line extension opens today</span>
                </li>
            
 
            
 
            
 
            
 
            
 
        </ul>
    </div>
</div>
     
 
<div class="r">
    <div class="headline-container plain">
        <h1>New consultation on Bakerloo line extension opens today</h1>
        <div class="content-page-press-release">
        14 October 2019
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        New 10-week consultation reveals latest detailed proposals for line extension
        
    </div>



<div class="pull-quote">
        <div class="quote-body">"The extension of the Bakerloo line could make a huge difference to the lives of thousands of south Londoners by creating a new direct route into central London and by giving a substantial boost to the local economy"</div>
        <div class="quote-footer">
            <div class="quotee-name">Heidi Alexander</div>
            <div class="quotee-job-title">Deputy Mayor for Transport</div>
        </div>
</div>

 <div class="on-this-page">
<p>TfL has today (Monday 14 October) invited the public to give their views on the most detailed proposals yet for an extension of the Bakerloo line.</p>

<p>This latest consultation follows feedback given in previous public consultations in 2014, which focused on a comprehensive analysis of the route options, and in 2017 which highlighted potential station and shaft locations.</p>

<p>The extension, proposed to run from Elephant &amp; Castle to Lewisham via Old Kent Road and New Cross Gate, is vital to improving public transport capacity for south east London by providing a high frequency Tube service directly into central London.</p>

<p>It will help meet the needs of the capital's growing population, which is forecast to increase by more than 10 million people by 2030, and will help deliver more than 5,000 new jobs and at least 25,000 new homes when built.</p>

<h2>Shorter, quicker route</h2>

<p>TfL is now seeking views, as part of a 10-week consultation, on the following proposals:</p>

<ul>
	<li><strong>A new integrated station entrance at Elephant &amp; Castle </strong>which would see the ticket halls for the Bakerloo and Northern lines combined. It would be built as part of the planned upgrade of the Northern line ticket hall, and delivered as part of the proposed new shopping centre development</li>
	<li><strong>The route of the proposed tunnels from Lambeth North to Elephant &amp; Castle, and Elephant &amp; Castle to Lewisham</strong>. Now that TfL has decided on the preferred location of the proposed stations and shafts, there is a better understanding of the alignment of the tunnels. TfL's tunnel route proposals, which include a shorter, quicker route between Lambeth North and Elephant &amp; Castle, are included in this consultation for the first time</li>
	<li><strong>The location of the primary and secondary tunnelling work sites</strong>. Having considered a number of options, TfL's preferred primary work site is at New Cross Gate. TfL is also proposing a new secondary work site as part of the 'Old Kent&nbsp;Road 1' station site</li>
	<li><strong>A possible further extension of the route beyond Lewisham to Hayes and Beckenham Junction in Bromley</strong>, involving the conversion of a Network Rail line</li>
</ul>

<p>In addition, TfL is asking people for their views on names for the two proposed new Bakerloo line stations on the Old Kent Road. The proposed locations of these two new stations were carefully selected following the 2017 consultation to support plans for redevelopment in the area.</p>

<p>The first proposed new station is at the junction of Old Kent Road and Dunton Road, and could be named Old Kent Road or Burgess Park. Old Kent Road or Asylum have been suggested as names for the second station, which will be located at the junction of Old Kent Road and Asylum Road.</p>

<h2>Boost to local economy</h2>

<p>Heidi Alexander, Deputy Mayor for Transport, said: 'The extension of the Bakerloo line could make a huge difference to the lives of thousands of south Londoners by creating a new direct route into central London and by giving a substantial boost to the local economy.</p>

<p>'I encourage everyone who lives and works in the area to take part in the latest consultation and to have their say on some vital aspects of the scheme, including the names of the two new stations.'</p>

<p>Alex Williams, TfL's Director of City Planning, said: 'This consultation will help us further shape our plans for the Bakerloo line extension which will play a vital part in supporting London's population growth by providing capacity for at least 60,000 extra journeys in both the morning and evening peak periods.</p>

<p>'We have taken on board the views of thousands of people in the previous two consultations. This latest consultation is a further opportunity for people to have their say on a scheme which would unlock growth and radically improve customer journeys in south east London.'</p>

<p>Cllr Johnson Situ, cabinet member for growth, development and planning at Southwark Council, said: 'The extension of the Bakerloo line in Southwark will help deliver our vision for the Old Kent Road, including hundreds of affordable new homes, jobs and facilities for local people.</p>

<p>'This is an opportunity for people to see the proposals in detail, have their say and maybe even come up with names for the new stations that will be created along the Old Kent Road.'</p>

<h2>Better connectivity</h2>

<p>Damien Egan, Mayor of Lewisham, said: 'The Bakerloo line extension would be transformational for Lewisham residents, providing better connectivity to the city and helping to deliver thousands of new social homes and jobs across the borough.</p>

<p>'We are delighted that TfL is considering the extension to Hayes in its consultation, which would unlock the vast potential of the south of the borough.'</p>

<p>Jasmine Whitbread, Chief Executive of London First, said: 'This consultation is a welcome step towards making the Bakerloo line extension a reality.</p>

<p>'If London is to maintain its position as the best place in the world to do business, it is critical that we tackle our challenges, particularly housing supply and bolstering our transport infrastructure.</p>

<p>'The extension of the Bakerloo line is essential to south east London's future growth and quality of life, adding capacity and unlocking thousands of new homes.</p>

<p>'Infrastructure projects like the Bakerloo line extension, Crossrail 2 and Piccadilly line upgrades are essential to keeping London globally competitive and better connected.'</p>

<p>To give your views on TfL's proposals, please visit <a href="https://consultations.tfl.gov.uk/tube/bakerloo-extension/?cid=bakerloo-extension">tfl.gov.uk/bakerloo-extension</a>. The consultation will close on Sunday 22 December 2019.</p>

<hr />
<p><strong>Notes to editors</strong></p>

<ul>
	<li>TfL is holding 11 public exhibitions to support the public consultation. More details of these exhibitions are available at <a href="https://consultations.tfl.gov.uk/tube/bakerloo-extension/?cid=bakerloo-extension">tfl.gov.uk/bakerloo-extension</a></li>
	<li>The public consultation in 2014 saw over 95% of the 15,000 respondents supporting the principle of an extension to the Bakerloo line. More than 4,800 responses were received in the consultation held in spring 2017. This consultation asked for feedback on proposals for stations at Elephant &amp; Castle, New Cross Gate, Lewisham and two entirely new stations along the Old Kent Road</li>
</ul>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
                <a href="/info-for/media/index" class="heading">
                    <h2 id="sub-menu-heading">Media<span class="visually-hidden"> navigation</span></h2>
                </a>
                <ul>
                    
                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases">Press releases</a></div>
                                <ul>
                                    
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2020">2020</a></div></li>
                            
 
                                        <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019">2019</a></div>
                                        <ul>
                                            
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019/january">January</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019/february">February</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019/march">March</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019/april">April</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019/may">May</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019/june">June</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019/july">July</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019/august">August</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019/september">September</a></div></li>
                                    
 
                                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019/october">October</a></div>
                                                <ul>
                                                    
 
 
 
 
 
 
 
 
 
 
 
 
 
 
                                                </ul>
                                            
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019/november">November</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019/december">December</a></div></li>
                                    
 
                                        </ul>
                                    </li>
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018">2018</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017">2017</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016">2016</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015">2015</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014">2014</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2013">2013</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2012">2012</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2011">2011</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2010">2010</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2009">2009</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2008">2008</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2007">2007</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2006">2006</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2005">2005</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2004">2004</a></div></li>
                            
 
                                </ul>
                            </li>
 
                                <li><div class="link-wrapper"><a href="/info-for/media/photos">Photos</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/media/contact-the-press-office">Contact the Press Office</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/filming-and-photography">Filming & photography</a></div></li>
                            
 
                </ul>
            
 
 
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype: -Home-Media-Media-Press releases-2019-October-New consultation on Bakerloo line extension opens today -->

 
 
        
        
            @{ViewBag.Description = "New consultation on Bakerloo line extension opens today";}
        
        


 