


@{ViewBag.Title = "TfL invites feedback on proposals for building above Southwark Tube station";}
        
        
<div class="r">
    <div class="breadcrumb-container" role="navigation">
        <span id="breadcrumb-label" class="visually-hidden">You are here:</span>
        <ol class="breadcrumbs clearfix" aria-labelledby="breadcrumb-label">
            <li class="home">
                <a href="/">
                    <span class="hide-text">Home</span>
                </a>
            </li>
            
                <li>
                    <a href="/info-for/media/index">Media</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases">Press releases</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases/2019">2019</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases/2019/october">October</a>
                </li>
                
                <li>
                    <span class="last-breadcrumb">TfL invites feedback on proposals for building above Southwark Tube station</span>
                </li>
            
 
            
 
            
 
            
 
            
 
        </ul>
    </div>
</div>
     
 
<div class="r">
    <div class="headline-container plain">
        <h1>TfL invites feedback on proposals for building above Southwark Tube station</h1>
        <div class="content-page-press-release">
        15 October 2019
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        Proposals include the creation of new commercial and retail space above and beside Southwark Tube station
        
    </div>



 <div class="on-this-page">
<p>Transport for London (TfL) is inviting the local community to feedback on its proposals for an over-station development at Southwark Tube station, following previous consultation on its vision for the area in June earlier this year.</p>

<p>The proposals for the over-station development include the provision of around 180,000 sq. ft. of commercial space and 7,500 sq. ft. of retail space, creating a landmark for the area. This follows on from feedback from an initial public consultation earlier this year that there is a need for a community hub and a focal point in order for Southwark to be recognised as a vibrant destination. The proposals will also incorporate affordable office space, which could be used by local or small businesses, while also improving pedestrian access to the existing independent businesses in the surrounding area, supporting them to grow and succeed.</p>

<p>Allford Hall Monaghan Morris, which has been involved in previous design work on a development above Southwark station, has been chosen as the architecture practice to deliver the proposals. The building has been innovatively designed in order to take on board comments from the local community &#45; with a staggered structure that at its lowest is of a comparable height to the nearby Styles House in the westerly section. The development will also retain the much-loved station entrance, ticket hall and lightwells down to the Jubilee line platforms. It will also be set further back from the homes by its side with the area in between being used as a shared space for neighbouring residents and occupants of the new buildings.</p>

<p>The development also has a particular focus on sustainability with a diverse range of plants being incorporated across the terraces and a commitment to construct the building using cross-laminated timber, which consumes less energy than reinforced concrete. The building will also be assessed under the highest sustainability standards &#45; known as the BREEAM assessment &#45; that take into account its environmental, social and economic sustainability performance. The proposals also look to improve the environment around the station by providing more trees and foliage on Isabella Street.</p>

<p><strong>Graeme Craig, Director of Commercial Development at TfL, said: </strong>&quot;Our plans offer the opportunity to create a new sustainable landmark for Southwark and a focal point for the community, which will help it be recognised as a vibrant and attractive destination in the capital. Reflecting the entrepreneurial spirit of the surrounding area, we are providing retail and commercial opportunities, while also delivering improvements for the local community, making the space greener and more accessible. We have taken on board the feedback from our initial consultation and invite the local community to again share their views on our designs, so that we can work together on our vision for Southwark.&quot;</p>

<p><strong>Paul Monaghan, founding director of Allford Hall Monaghan Morris, said</strong> &quot;We are delighted to be working on this landmark project for TfL. They have provided us with an inspired brief that this building should set new standards in wellbeing and sustainability, as well as being an exemplary piece of architecture that draws inspiration from TfL's rich commissioning history. Our approach aims to provide a strong gateway along Blackfriars Road, while responding to the intimate scale at street level along The Cut and Isabella Street. We look forward to developing our proposals in the coming months.&quot;</p>

<p><strong>Cllr Leo Pollak, Cabinet Member for Great Estates, New Homes and Social Regeneration, said</strong>: &quot;Southwark Council has worked closely with TfL to ensure that any development around Southwark Tube station enables the neighbouring residents at Styles House to shape their evolution of their estate and design new council homes on the adjacent site. The strength of our partnership with TfL has always been in putting residents first, and I'm confident the emerging plans for the wider site will do exactly that.&quot;</p>

<p>The proposals have been enabled by an agreed land exchange with the London Borough of Southwark, which will also allow for the creation of more than twenty new council homes.</p>

<p>The consultation will last for six weeks until 26 November 2019. More information about the project, please visit <a href="http://www.tfl.gov.uk/southwark-station-development">http://www.tfl.gov.uk/southwark-station-development</a>,</p>

<p>Notes to editors</p>

<p>TfL will be hosting exhibitions events at The Platform Building, 1 Joan Street, Southwark on the following dates:</p>

<p>17 October 2019 (from 1400 to 2000)</p>

<p>19 October 2019 (from 1200 to 1600)</p>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
                <a href="/info-for/media/index" class="heading">
                    <h2 id="sub-menu-heading">Media<span class="visually-hidden"> navigation</span></h2>
                </a>
                <ul>
                    
                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases">Press releases</a></div>
                                <ul>
                                    
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2020">2020</a></div></li>
                            
 
                                        <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019">2019</a></div>
                                        <ul>
                                            
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019/january">January</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019/february">February</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019/march">March</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019/april">April</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019/may">May</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019/june">June</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019/july">July</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019/august">August</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019/september">September</a></div></li>
                                    
 
                                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019/october">October</a></div>
                                                <ul>
                                                    
 
 
 
 
 
 
 
 
 
 
 
 
 
 
                                                </ul>
                                            
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019/november">November</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019/december">December</a></div></li>
                                    
 
                                        </ul>
                                    </li>
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018">2018</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017">2017</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016">2016</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015">2015</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014">2014</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2013">2013</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2012">2012</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2011">2011</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2010">2010</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2009">2009</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2008">2008</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2007">2007</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2006">2006</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2005">2005</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2004">2004</a></div></li>
                            
 
                                </ul>
                            </li>
 
                                <li><div class="link-wrapper"><a href="/info-for/media/photos">Photos</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/media/contact-the-press-office">Contact the Press Office</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/filming-and-photography">Filming & photography</a></div></li>
                            
 
                </ul>
            
 
 
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype: -Home-Media-Media-Press releases-2019-October-TfL invites feedback on proposals for building above Southwark Tube station -->

 
 
        
        
            @{ViewBag.Description = "TfL invites feedback on proposals for building above Southwark Tube station";}
        
        


 