


@{ViewBag.Title = "Two thirds of car passengers have felt uncomfortable with speed when driven by a friend or family member";}
        
        
<div class="r">
    <div class="breadcrumb-container" role="navigation">
        <span id="breadcrumb-label" class="visually-hidden">You are here:</span>
        <ol class="breadcrumbs clearfix" aria-labelledby="breadcrumb-label">
            <li class="home">
                <a href="/">
                    <span class="hide-text">Home</span>
                </a>
            </li>
            
                <li>
                    <a href="/info-for/media/index">Media</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases">Press releases</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases/2019">2019</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases/2019/october">October</a>
                </li>
                
                <li>
                    <span class="last-breadcrumb">Two thirds of car passengers have felt uncomfortable with speed when driven by a friend or family member</span>
                </li>
            
 
            
 
            
 
            
 
            
 
        </ul>
    </div>
</div>
     
 
<div class="r">
    <div class="headline-container plain">
        <h1>Two thirds of car passengers have felt uncomfortable with speed when driven by a friend or family member</h1>
        <div class="content-page-press-release">
        18 October 2019
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        New research, commissioned by TfL, also shows that almost 30 per cent of car passengers, would feel uncomfortable asking a friend or family member to slow down
        
    </div>



<div class="pull-quote">
        <div class="quote-body">"I would urge drivers to slow down and also encourage people who feel uncomfortable with the speed they're being driven at to speak up"</div>
        <div class="quote-footer">
            <div class="quotee-name">Stuart Reid</div>
            <div class="quotee-job-title">TfL's Director of Vision Zero</div>
        </div>
</div>

 <div class="on-this-page">
<p>Car passengers often feel uncomfortable with the speeds driven by friends or family members and many are quietly hiding their concerns, TfL revealed today.</p>

<p>The new research, carried out by YouGov, showed that of 524 people who have travelled as a passenger in a friend or family member's car at least once a month, 61% felt uncomfortable about the speed they were driven.</p>

<p>Also 29% felt uncomfortable telling a friend or family member to slow down. This worrying statistic suggests that many drivers may be driving in London unaware that they are driving at an unsafe speed and that their passengers feel uncomfortable about this.</p>

<p>103 people have tragically died on London's roads already this year and analysis by TfL of historical casualty figures recorded by the Police suggests that speed accounts for 37% of all deaths and serious injuries.</p>

<p>Collision data from around the world is very clear. It shows that the faster a vehicle is travelling; the more likely a collision will occur because the driver has less time to react, stop or avoid the collision; and the more severe an injury resulting from the collision will be.</p>

<p>While many people driving may feel they are driving safely by adhering to speed limits, their speed may be considered unsafe due to other factors, such as being near to a school, a busy location with many other road users, weather conditions, turning at a junction or driving over or through speed restrictions too quickly.</p>

<h2>Generate understanding</h2>

<p>As part of the YouGov research, passengers who travel at least once a month were asked about various driving behaviours and how they feel about them.</p>

<p>These showed that more than half of people surveyed feel that behaviours such as not slowing down when there are multiple hazards in the area, including by schools or on the approach to zebra crossings, both of which are easily avoidable by drivers, make them feel uncomfortable.</p>

<p>To help tackle unsafe speed across London, TfL has launched a powerful new marketing campaign which is designed to generate understanding amongst drivers that the speed at which they travel has a wider impact.</p>

<p>Also that speeds that they may feel comfortable with behind the wheel can be unsafe for passengers and other road users.</p>

<p>The campaign, 'Watch Your Speed', which includes a new TV advert that premieres this evening, illustrates how driving at speed is perceived through the perspective of friends and family and encourages drivers to ensure they drive appropriately for the road and their passengers.</p>

<p>The campaign supports TfL's wider work on reducing speed-related collisions across London, which includes new 20mph speed limits to be introduced in central London early next year, increased speed enforcement by the Metropolitan Police and fitting more than 700 buses with Intelligent Speed Assistance to limit the speed at which they can travel.</p>

<p>Stuart Reid, TfL's Director of Vision Zero said: 'People are seriously injured or die on our roads each day. It seems that driving at an unsafe speed has now sadly become socially acceptable and many people simply don't think of it as a risk.</p>

<p>'Nobody gets behind the wheel intending to kill or harm someone but all too often, the way people choose to drive results in death or serious injury.</p>

<p>'This has devastating consequences for the victim, the driver and their families.&nbsp; I would urge drivers to slow down and also encourage people who feel uncomfortable with the speed they're being driven at to speak up.</p>

<p>'Human life is so precious and we are committed to working to reduce this suffering but we all have a part to play. Through our wider Vision Zero programme we are targeting the root causes or road casualties.</p>

<p>'By doing so, we can make London's roads safer and achieve our goal that, by 2041, all deaths and serious injuries will be eliminated from London's transport network.'</p>

<h2>Vision Zero</h2>

<p>Chief Superintendent Colin Wingrove, in charge of the Met's Road and Transport Policing Command, said: 'Excess speed is a usual factor in more than 30% of collisions.</p>

<p>'Exceeding the speed limit has dangerous and serious consequences; and is an offence under the Road Traffic Act. People who do so are not properly in control of their vehicle and are more likely to be involved in a collision that can seriously harm the driver, passengers and other road users.</p>

<p>'It takes seconds to remind a driver that they are exceeding the speed limit, and in return could save multiple lives.'</p>

<p>Nick Simmons, CEO Roadpeace: 'Our members and victims tell us that speed is too often a key factor in serious crashes and that it can have a devastating impact.</p>

<p>'RoadPeace would always urge passengers to speak up when they feel uncomfortable as a result of unacceptable driver behaviour and we strongly support this TfL campaign.'</p>

<p>Sam Bird is a British racing driver in the all-electric Formula E championship for the Envision Virgin Racing team. The 32-year-old is no stranger to the capital's roads being a former winner of the London E-Prix and will be aiming to repeat this feat when the series returns next summer to London's ExCeL.</p>

<p>Speaking in support of the new road danger reduction initiative, Bird said: 'As a professional racing driver, you develop the skills to be able to control a vehicle at high speed but, more importantly, you are fully aware that there is a time and a place for driving fast and a time not to.</p>

<p>'Driving inappropriately is dangerous regardless where it happens and no-one should be made to feel unsafe by someone else's driving.'</p>

<p>All figures, unless otherwise stated, are from YouGov Plc.&nbsp; Total sample size was 1005 adults. Fieldwork was undertaken between 3rd - 7th October 2019.&nbsp; The survey was carried out online. The figures have been weighted and are representative of all London adults (aged 18+).</p>

<hr />
<p><strong>Notes to editors</strong></p>

<p><strong>About Vision Zero</strong></p>

<p>In July 2018 the Mayor, TfL and Metropolitan Police launched a bold Vision Zero Action Plan to end the toll of deaths and serious injuries on London's streets. Each year more than 4,000 people are killed or seriously injured on London's streets, taking a devastating toll on the people involved, their families and communities across the capital.</p>

<p>Working with the Met Police and London boroughs, TfL's radical 'Vision Zero' approach starts from the premise that no death or serious injury on London's roads is acceptable or inevitable. To get closer to our Vision Zero ambition, a number of challenging interim targets have been set. By 2022, the aim is to reduce the number of people killed or seriously injured on London's roads by 65% with no-one being killed on or by a bus by 2030, on the road to Vision Zero in 2041.</p>

<p>Work to achieve Vision Zero includes:</p>

<ul>
	<li>Safer Junctions scheme - TfL's Safer Junctions programme, is making life-saving changes to 73 junctions across the capital and work has been completed at 30 junctions already, resulting in a 26% reduction in collisions so far. Consultations on six more opened in the last month, which TfL hopes to begin work on in the coming year. Around 75% of collisions happen at junctions, which is why this scheme is so important</li>
	<li>Junior Roadwatch - A road safety scheme, which sees speeding drivers questioned by schoolchildren, alongside the police, launched in early June with 32 motorists stopped for speeding in just 90 minutes. Further details available here: <a href="https://tfl.gov.uk/info-for/media/press-releases/2019/june/kids-take-action-on-speeding-drivers-as-part-of-child-safety-week">https://tfl.gov.uk/info-for/media/press-releases/2019/june/kids-take-action-on-speeding-drivers-as-part-of-child-safety-week</a></li>
	<li>Policing activity - In the last year, the police have ramped up enforcement against drivers who cause risk on the road by speeding, driving while using a mobile phone, driving carelessly or in unsafe vehicles. This has resulted in hundreds of arrests and thousands of cars seized</li>
	<li>Direct Vision Standard - TfL is working to remove the most dangerous lorries from London's roads. Direct Vision has been incorporated into the European Commission's General Safety Review, meaning it will be required across Europe. In three months' time, the first Safety Permits as part of the scheme, will become available</li>
	<li>Bus Safety Standard - Buses with additional and enhanced safety requirements, such a safe speed-limiting technology and additional mirrors and cameras, will be entering London's fleet later this year as part of TfL's Bus Safety Standard</li>
	<li>Cycling infrastructure - In just three years since 2016, TfL and the Mayor have doubled the amount of protected cycling infrastructure built in the capital, with 116 kilometres of protected cycle lanes now complete or under construction in London</li>
	<li>20mph - TfL will be lowering speeds on 8.9km of TfL roads in central London by next year and has begun working with boroughs and local communities on next phase of lower speeds for outer London. Further details here: <a href="https://tfl.gov.uk/info-for/media/press-releases/2019/september/plans-for-20mph-speed-limit-in-central-london-given-the-green-light">https://tfl.gov.uk/info-for/media/press-releases/2019/september/plans-for-20mph-speed-limit-in-central-london-given-the-green-light</a></li>
</ul>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
                <a href="/info-for/media/index" class="heading">
                    <h2 id="sub-menu-heading">Media<span class="visually-hidden"> navigation</span></h2>
                </a>
                <ul>
                    
                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases">Press releases</a></div>
                                <ul>
                                    
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2020">2020</a></div></li>
                            
 
                                        <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019">2019</a></div>
                                        <ul>
                                            
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019/january">January</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019/february">February</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019/march">March</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019/april">April</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019/may">May</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019/june">June</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019/july">July</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019/august">August</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019/september">September</a></div></li>
                                    
 
                                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019/october">October</a></div>
                                                <ul>
                                                    
 
 
 
 
 
 
 
 
 
 
 
 
 
 
                                                </ul>
                                            
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019/november">November</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019/december">December</a></div></li>
                                    
 
                                        </ul>
                                    </li>
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018">2018</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017">2017</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016">2016</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015">2015</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014">2014</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2013">2013</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2012">2012</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2011">2011</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2010">2010</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2009">2009</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2008">2008</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2007">2007</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2006">2006</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2005">2005</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2004">2004</a></div></li>
                            
 
                                </ul>
                            </li>
 
                                <li><div class="link-wrapper"><a href="/info-for/media/photos">Photos</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/media/contact-the-press-office">Contact the Press Office</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/filming-and-photography">Filming & photography</a></div></li>
                            
 
                </ul>
            
 
 
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype: -Home-Media-Media-Press releases-2019-October-Two thirds of car passengers have felt uncomfortable with speed when driven by a friend or family member -->

 
 
        
        
            @{ViewBag.Description = "Two thirds of car passengers have felt uncomfortable with speed when driven by a friend or family member, new research reveals";}
        
        


 