


@{ViewBag.Title = "Work starts on site to deliver affordable homes at Beechwood Avenue";}
        
        
<div class="r">
    <div class="breadcrumb-container" role="navigation">
        <span id="breadcrumb-label" class="visually-hidden">You are here:</span>
        <ol class="breadcrumbs clearfix" aria-labelledby="breadcrumb-label">
            <li class="home">
                <a href="/">
                    <span class="hide-text">Home</span>
                </a>
            </li>
            
                <li>
                    <a href="/info-for/media/index">Media</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases">Press releases</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases/2019">2019</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases/2019/october">October</a>
                </li>
                
                <li>
                    <span class="last-breadcrumb">Work starts on site to deliver affordable homes at Beechwood Avenue</span>
                </li>
            
 
            
 
            
 
            
 
            
 
        </ul>
    </div>
</div>
     
 
<div class="r">
    <div class="headline-container plain">
        <h1>Work starts on site to deliver affordable homes at Beechwood Avenue</h1>
        <div class="content-page-press-release">
        25 October 2019
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">



<div class="pull-quote">
        <div class="quote-body">"Working with a variety of different partners, we are building the homes that London desperately needs, while also generating revenue to reinvest into the transport network"</div>
        <div class="quote-footer">
            <div class="quotee-name">Graeme Craig</div>
            <div class="quotee-job-title">Director of Commercial Development at Transport for London</div>
        </div>
</div>

 <div class="on-this-page">
<p>TfL has announced today that the London-based property developer and construction company, Kuropatwa Limited, has started work on the first of TfL's small sites at Beechwood Avenue, following Barnet Council giving the proposals full planning permission in July this year.</p>

<p>The project will deliver 97 homes, of which 50% will be affordable.</p>

<p>The affordable homes at Beechwood include a high proportion of housing with more than one bedroom, making them more suitable for families, and will be a balance of Shared Ownership and affordable homes for rent, including those at social rent levels.</p>

<p>Having rapidly achieved planning in under a year from exchange,&nbsp;Kuropatwa is on track to deliver the project in 2021&nbsp;and the striking design, led by Peter Barber Architects, has already been recognised as the winner in the Unbuilt Housing category of the 2019 New London Architecture awards.</p>

<h2>'Small Sites, Small Builders'</h2>

<p>Following an open competition, Kuropatwa Limited was selected to develop this site, as well as three of TfL's small sites in Wapping that will deliver more than 50 homes, including 50% affordable housing, as part of the Mayor of London's 'Small Sites, Small Builders' programme.</p>

<p>This programme was set up in response to London's homebuilding sector being dominated by a small number of large developers that build the vast majority of homes across the capital.</p>

<p>The number of small builders has halved over the last 10 years, and the Mayor of London wants to make small plots of publicly owned land more accessible to London's small and medium-sized builders, including community-led housing groups, through a simple bidding process with standardised legal contracts.</p>

<p>Graeme Craig, Director of Commercial Development at Transport for London, said: 'We are unlocking development on dozens of sites to support the Mayor's ambitions to create thousands of new homes for Londoners.</p>

<p>'It's exciting to be working with award-winning small and medium sized developers like Kuropatwa Limited and see work begin on the first of our sites through the GLA's programme at Beechwood Avenue in Barnet.</p>

<p>'Working with a variety of different partners, we are building the homes that London desperately needs, while also generating revenue to reinvest into the transport network.'</p>

<p>Oliver Kuropatwa, Director of Land, Planning and Finance Origination for Kuropatwa, said: 'We are delighted to have commenced construction after achieving planning on this complex site in under a year.</p>

<p>'It is a pleasure to work with TfL and the GLA and we look forward to continuing to work with them on delivering the homes that the Capital desperately needs.'</p>

<p>Councillor Daniel Thomas, Leader of Barnet Council, said: 'I'm very pleased to see work has started on this project to construct a number of affordable homes in Barnet.</p>

<p>'With the continued need for additional housing in London it is extremely important that we all look for new ways of ensuring those much needed homes are built.'</p>

<h2>Ambitious housing programme</h2>

<p>TfL&nbsp;has already put 18 small sites through the programme in two phases. The first phase of small TfL sites, including Beechwood Avenue, were located in seven different boroughs, and launched in February last year as part of the pilot.</p>

<p>Partners for the second phase of eight sites - which are located in Richmond, Ealing, Newham, Bexley, Hounslow, Lambeth and Waltham Forest - have been selected subject to contracts and will be announced shortly.</p>

<p>These proposals form part of TfL's ambitious housing programme that has a target to start on TfL sites, which will provide 10,000 homes, by March 2021 as well as a commitment to deliver 50% affordable housing across all sites brought to the market since May 2016.</p>

<p>Construction has already started on more than 650 homes as the programme continues to build momentum, with up to 1,000 homes expected to be started by the end of this financial year. The majority of schemes are expected to start in 2020/21.</p>

<p>'Small Sites, Small Builders' is a &pound;13.4 million initiative of the London Economic Action Partnership and the Mayor of London.</p>

<p>Last June, the Mayor announced an extra &pound;3.8 million of funding for the programme, and further investment over the next four years. TfL will continue to bring forward small sites on a rolling basis, with Boroughs and other public landholders encouraged to take part.</p>

<hr />
<p><strong>Notes to editors</strong></p>

<ul>
	<li>The level of affordable housing Beechwood Avenue is calculated according to habitable room. For planning purposes a habitable room is usually defined as any room used or intended to be used for sleeping, cooking, living or eating purposes.</li>
</ul>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
                <a href="/info-for/media/index" class="heading">
                    <h2 id="sub-menu-heading">Media<span class="visually-hidden"> navigation</span></h2>
                </a>
                <ul>
                    
                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases">Press releases</a></div>
                                <ul>
                                    
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2020">2020</a></div></li>
                            
 
                                        <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019">2019</a></div>
                                        <ul>
                                            
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019/january">January</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019/february">February</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019/march">March</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019/april">April</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019/may">May</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019/june">June</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019/july">July</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019/august">August</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019/september">September</a></div></li>
                                    
 
                                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019/october">October</a></div>
                                                <ul>
                                                    
 
 
 
 
 
 
 
 
 
 
 
 
 
 
                                                </ul>
                                            
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019/november">November</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019/december">December</a></div></li>
                                    
 
                                        </ul>
                                    </li>
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018">2018</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017">2017</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016">2016</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015">2015</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014">2014</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2013">2013</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2012">2012</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2011">2011</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2010">2010</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2009">2009</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2008">2008</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2007">2007</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2006">2006</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2005">2005</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2004">2004</a></div></li>
                            
 
                                </ul>
                            </li>
 
                                <li><div class="link-wrapper"><a href="/info-for/media/photos">Photos</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/media/contact-the-press-office">Contact the Press Office</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/filming-and-photography">Filming & photography</a></div></li>
                            
 
                </ul>
            
 
 
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype: -Home-Media-Media-Press releases-2019-October-Work starts on site to deliver affordable homes at Beechwood Avenue -->

 
 
        
        
            @{ViewBag.Description = "Work starts on site to deliver affordable homes at Beechwood Avenue";}
        
        


 