


@{ViewBag.Title = "Bank Holiday travel advice ahead of Notting Hill Carnival and vital transport upgrades";}
        
        
<div class="r">
    <div class="breadcrumb-container" role="navigation">
        <span id="breadcrumb-label" class="visually-hidden">You are here:</span>
        <ol class="breadcrumbs clearfix" aria-labelledby="breadcrumb-label">
            <li class="home">
                <a href="/">
                    <span class="hide-text">Home</span>
                </a>
            </li>
            
                <li>
                    <a href="/info-for/media/index">Media</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases">Press releases</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases/2017">2017</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases/2017/august">August</a>
                </li>
                
                <li>
                    <span class="last-breadcrumb">Bank Holiday travel advice ahead of Notting Hill Carnival and vital transport upgrades</span>
                </li>
            
 
            
 
            
 
            
 
            
 
        </ul>
    </div>
</div>
     
 
<div class="r">
    <div class="headline-container plain">
        <h1>Bank Holiday travel advice ahead of Notting Hill Carnival and vital transport upgrades</h1>
        <div class="content-page-press-release">
        24 August 2017
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">



 <div class="on-this-page">
<p>This Bank Holiday weekend will be busy in London with events such as Notting Hill Carnival and several football matches, alongside vital work to upgrade the rail network.</p>
<p>Although much of the transport network will be running as normal, Transport for London (TfL) is strongly advising Londoners and visitors to the Capital to plan their journeys on road, Tube and rail services.</p>
<ul>
    <li>Key locations and days to plan ahead for include:<br />No DLR between Stratford and Bow Church due to Crossrail construction work at Pudding Mill Lane (Sunday 27 August and Monday 28 August)</li>
    <li>No London Overground between Euston and Watford Junction for Network Rail track work (Saturday 26 and Sunday 27 August)</li>
    <li>No London Overground between Romford and Upminster for Crossrail construction work (Sunday 27 and Monday 28 August)</li>
    <li>No TfL Rail service on the entire line between Liverpool Street and Shenfield for Network Rail track and station work as well as Crossrail construction work (Sunday 27 August and Monday 28 August)</li>
    <li>No London Overground service between South Tottenham and Barking on Saturday 26 August until 7pm due to Network Rail work</li>
    <li>No London Overground service between Gospel Oak and Barking from 7pm Saturday 26 August until 3.30pm Sunday 27 August due to Network Rail work</li>
    <li>Chelsea vs Everton and Crystal Palace vs Swansea City (Saturday 26 August)</li>
    <li>Tottenham Hotspur vs Burnley at Wembley Stadium (Sunday 27 August)</li>
    <li>Notting Hill Carnival (Sunday 27 August and Monday 28 August)</li>
    <li>Closures and changes to National Rail services all weekend &#45; more information can be found at <a href="http://nationalrail.co.uk‎">nationalrail.co.uk‎</a></li>
</ul>
<p>Nigel Holness, Director of Network Operations for London Underground, said: `This will be a busy Bank Holiday weekend in London, with events going on across the city including, of course, the iconic Notting Hill Carnival celebrations. Carnival is an incredible celebration of different cultures and we are proud of all that our staff do every year in helping customers enjoy the festivities safely.</p>
<p>`I encourage all those who plan to take part in Carnival, or any of the other events across London this weekend, to check travel information before starting their journeys. Our website and real-time Twitter accounts will feature all the information customers will need to plan an enjoyable weekend.'</p>
<p>The annual celebration of Caribbean culture and tradition will take place this weekend Sunday 28 and Monday 29 August. It includes a selection of live music, from reggae and soul to dub and house, alongside steel bands and soca floats.</p>
<p>TfL services will continue to keep the Capital moving during the annual three-day event. Its dedicated Carnival webpage has details on how transport services will run, including a map showing the nearest stations and bus routes.</p>
<p>Motorists are advised to avoid driving in the Notting Hill area and West London across the Bank Holiday weekend, as a number of road closures will be in place from Sunday 27 August to early morning on Tuesday 29 August.</p>
<p>The easiest ways to travel to and from the Carnival will be by Tube, bus, cycling or walking. However, some stations close to the Carnival will be closed or will be exit only, and some bus routes will be diverted or stop short of their journey.</p>
<p>Public transport and road users are advised to plan their journeys in advance at <a href="http://tfl.gov.uk/notting-hill-carnival">tfl.gov.uk/notting-hill-carnival</a> or by contacting the 24-hour London Travel Information line on 0343 222 1234.</p>
<p>Due to road closures and the demand on public transport, customers are encouraged to consider walking part of their journey to and from the Carnival.</p>
<p>Customers can plan their walking journey at <a href="http://tfl.gov.uk/journeyplanner.">tfl.gov.uk/journeyplanner.</a></p>
<p>Follow &#64;TfLTrafficNews, &#64;TfLBusAlerts and &#64;TfLTravelAlerts on Twitter for all the latest information.</p>
<p>The clear advice is to regularly check before travelling by using TfL's Journey Planner and visiting tfl.gov.uk/major-works-and-events. Real-time information is also available by following &#64;TfLTrafficNews and &#64;TfLBusAlerts. The page tfl.gov.uk/major-works-and-events will show major future planned events and work in the Capital.</p>
<p>Passengers planning to travel by rail are reminded to check before they travel this weekend as Network Rail carries out improvements as part of its railway upgrade plan.  For more information visit <a href="http://nationalrail.co.uk">nationalrail.co.uk</a> or follow #AugustBHworks</p>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
                <a href="/info-for/media/index" class="heading">
                    <h2 id="sub-menu-heading">Media<span class="visually-hidden"> navigation</span></h2>
                </a>
                <ul>
                    
                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases">Press releases</a></div>
                                <ul>
                                    
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2020">2020</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019">2019</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018">2018</a></div></li>
                            
 
                                        <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017">2017</a></div>
                                        <ul>
                                            
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017/january">January</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017/february">February</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017/march">March</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017/april">April</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017/may">May</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017/june">June</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017/july">July</a></div></li>
                                    
 
                                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017/august">August</a></div>
                                                <ul>
                                                    
 
 
 
 
 
 
 
 
 
 
 
 
 
 
                                                </ul>
                                            
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017/september">September</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017/october">October</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017/november">November</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017/december">December</a></div></li>
                                    
 
                                        </ul>
                                    </li>
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016">2016</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015">2015</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014">2014</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2013">2013</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2012">2012</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2011">2011</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2010">2010</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2009">2009</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2008">2008</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2007">2007</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2006">2006</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2005">2005</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2004">2004</a></div></li>
                            
 
                                </ul>
                            </li>
 
                                <li><div class="link-wrapper"><a href="/info-for/media/photos">Photos</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/media/contact-the-press-office">Contact the Press Office</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/filming-and-photography">Filming & photography</a></div></li>
                            
 
                </ul>
            
 
 
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype: -Home-Media-Media-Press releases-2017-August-Bank Holiday travel advice ahead of Notting Hill Carnival and vital transport upgrades -->

 
 
        
        
            @{ViewBag.Description = "Bank Holiday travel advice ahead of Notting Hill Carnival and vital transport ";}
        
        


 