


@{ViewBag.Title = "Funding boost for London's electric vehicle charging infrastructure ";}
        
        
<div class="r">
    <div class="breadcrumb-container" role="navigation">
        <span id="breadcrumb-label" class="visually-hidden">You are here:</span>
        <ol class="breadcrumbs clearfix" aria-labelledby="breadcrumb-label">
            <li class="home">
                <a href="/">
                    <span class="hide-text">Home</span>
                </a>
            </li>
            
                <li>
                    <a href="/info-for/media/index">Media</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases">Press releases</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases/2017">2017</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases/2017/august">August</a>
                </li>
                
                <li>
                    <span class="last-breadcrumb">Funding boost for London’s electric vehicle charging infrastructure </span>
                </li>
            
 
            
 
            
 
            
 
            
 
        </ul>
    </div>
</div>
     
 
<div class="r">
    <div class="headline-container plain">
        <h1>Funding boost for London’s electric vehicle charging infrastructure </h1>
        <div class="content-page-press-release">
        03 August 2017
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">



 <div class="on-this-page">
<p>Transport for London (TfL), London Councils and the Greater London Authority (GLA) today announced that almost &pound;4.5 million has been allocated to London boroughs to install electric vehicle charging infrastructure on London's streets.</p>
<p>A total of 25 boroughs, each receiving up to &pound;300,000, will install up to 1,500 standard-speed on-street charging points in residential areas, bringing Mayor of London Sadiq Khan's long-term vision for zero-carbon transport in the Capital another step closer.</p>
<p>The new funding will provide residential charge points to assist those without access to off-street parking to make the switch from polluting vehicles to zero-emission vehicles. They will be in addition to the network of rapid charge points TfL is installing by the end of 2020.</p>
<p>The &pound;4.48 million allocated to boroughs forms part of an award London received from the government's Office for Low Emission Vehicles' Go Ultra Low City Scheme, a nationwide competition to give several areas funding to increase electric vehicle use.</p>
<p>The boroughs have sought funding allocations based on perceived demand and electric vehicle take-up. Borough teams will now work to identify sites where charging points could be installed to support local residents to make the switch to greener vehicles. The funding will also support innovative new approaches such as using lamp posts as the base and power supply for charge points. This is cheaper, quicker and easier to install with less impact on the streetscape.</p>
<p>The Mayor's draft Transport Strategy aims for all taxis and Private Hire Vehicles (PHVs) to be zero-emission capable by 2033, for all buses to be zero emission by 2037, for all new road vehicles driven in London to be zero emission by 2040, and for London's entire transport system to be zero emission by 2050.</p>
<p>TfL and the Mayor of London are encouraging the use of electric vehicles to lower emissions and tackle London's polluted air.  Air pollution contributes to 40,000 premature deaths across the country with more than 9000 in London every year.</p>
<p>Mayor of London, Sadiq Khan, said: `This substantial investment in electric charging points will make a real difference, making electric vehicles an easier and more practical option for Londoners across our city. We have a bold ambition to make London's transport system zero emission by 2050, and working with boroughs to roll out more charging infrastructure is a vital part of making this a reality.</p>
<p>`But we need to be more ambitious in tackling emissions at all levels of Government. That's why I'm calling on Ministers not only to introduce a fully-funded diesel scrappage fund to get polluting vehicles off our streets immediately, but they must also step up their investment in charging infrastructure to ensure every Londoner can look at moving to electric vehicles over the coming years.'</p>
<p>Cllr Julian Bell, Chair of London Councils' Transport and Environment Committee and Chair of the GULCS Steering Group, said: `Improving London's air quality by reducing emissions is a real priority for our city. It is unacceptable that 9,000 people a year die early in London due to air pollution. So it is great to see London boroughs bidding to invest in conveniently located electric vehicle charging points. This will help to ensure we have infrastructure in the right places to make it easier for people across the capital to choose electric vehicles.'</p>
<p>Lilli Matson, TfL's Head of Strategy and Outcome Planning, said: `We're delighted to be awarding this funding to these boroughs all of whom, like us, are determined to make London's transport greener and its air quality better.  We'd also like to thank these boroughs for being at the absolute forefront of the move to electric vehicles.'</p>
<p>Natasha Robinson, Head of the Office for Low Emission Vehicles (OLEV), said: `It's fantastic to see the funding from the Government's Go Ultra Low City Scheme being used to help the residents of Boroughs across London make the transition to ultra low emission vehicles. This helps to support the Government's ambition that almost all cars and vans should be zero emission by 2050.'</p>
<p>The boroughs given funding under the award are:</p>
<p>Barnet<br />
Bexley<br />
Brent<br />
Camden<br />
Croydon<br />
Ealing<br />
Greenwich<br />
Hackney<br />
Hammersmith and Fulham<br />
Haringey<br />
Havering<br />
Hounslow<br />
Islington<br />
Kensington and Chelsea<br />
Lambeth<br />
Lewisham<br />
Merton<br />
Newham<br />
Redbridge<br />
Richmond<br />
Southwark<br />
Tower Hamlets<br />
Waltham Forest<br />
Wandsworth<br />
Westminster</p>
The funding will allow Londoners to benefit from innovative new types of charging points. Those delivered using this funding will be either specially constructed 'freestanding' ones, or fixed to existing lampposts.
<p>Further funding will be allocated to interested boroughs in 2018/19 once TfL, London Councils and the GLA are happy with progress being made on the current allocation.</p>
<p>This latest boost to pave the way for the introduction of electric vehicles comes just weeks after TfL appointed the suppliers who will provide the rapid charging points that the Capital needs to make it easier than ever before to use electric vehicles.</p>
<p>After a competitive bidding process, the Centrica Consortium, BluepointLondon, Chargemaster, Electricity Supply Board (ESB) and Fastned were successful. They will fund, maintain, operate and install the rapid charge network.<br />
ends</p>
<p>Notes to editors</p>
<ul>
    <li>For individual funding allocations for each borough, please refer to the relevant local council press office.</li>
    <li>The Mayor's draft Transport Strategy is open to public consultation until 2 October 2017 and can be accessed by visiting tfl.gov.uk/mayors-transport-strategy It sets out a long-term ambition to transform the capital's transport network and deliver a fairer, greener, healthier and more prosperous city for all Londoners. This includes investment in new and improved services for passengers, an unprecedented focus on walking and cycling and a pledge to make the entire transport system zero emission by 2050.</li>
    <li>The Mayor has already announced plans to introduce the central London Ultra Low Emission Zone in 2019; the zone would be expanded London-wide for heavy vehicles by 2020 and to Inner London for all other vehicles by 2021.</li>
    <li>TfL and the Mayor launched a &pound;42m fund in July to encourage the owners of the oldest, most polluting diesel black cabs to retire them from the Capital's fleet.</li>
    <li>In other measures, TfL and the Mayor have announced three more electric-only bus routes London already boasts the largest electric bus fleet in Europe with more than 2,500 hybrid electric buses running across the Capital. The addition of new fully electric buses on routes 46, 153 and 214 will bring the total number of electric buses in London to over 170.  This includes route 360, which will convert to fully electric buses later this year, and routes 70 and C1 are set to follow in spring 2018.</li>
</ul>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
                <a href="/info-for/media/index" class="heading">
                    <h2 id="sub-menu-heading">Media<span class="visually-hidden"> navigation</span></h2>
                </a>
                <ul>
                    
                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases">Press releases</a></div>
                                <ul>
                                    
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2020">2020</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019">2019</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018">2018</a></div></li>
                            
 
                                        <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017">2017</a></div>
                                        <ul>
                                            
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017/january">January</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017/february">February</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017/march">March</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017/april">April</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017/may">May</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017/june">June</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017/july">July</a></div></li>
                                    
 
                                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017/august">August</a></div>
                                                <ul>
                                                    
 
 
 
 
 
 
 
 
 
 
 
 
 
 
                                                </ul>
                                            
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017/september">September</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017/october">October</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017/november">November</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017/december">December</a></div></li>
                                    
 
                                        </ul>
                                    </li>
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016">2016</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015">2015</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014">2014</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2013">2013</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2012">2012</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2011">2011</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2010">2010</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2009">2009</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2008">2008</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2007">2007</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2006">2006</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2005">2005</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2004">2004</a></div></li>
                            
 
                                </ul>
                            </li>
 
                                <li><div class="link-wrapper"><a href="/info-for/media/photos">Photos</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/media/contact-the-press-office">Contact the Press Office</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/filming-and-photography">Filming & photography</a></div></li>
                            
 
                </ul>
            
 
 
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype: -Home-Media-Media-Press releases-2017-August-Funding boost for London’s electric vehicle charging infrastructure  -->

 
 
        
        
            @{ViewBag.Description = "Funding boost for London’s electric vehicle charging infrastructure ";}
        
        


 