


@{ViewBag.Title = "GLA - Night Tube boosts London's economy by &pound;171m";}
        
        
<div class="r">
    <div class="breadcrumb-container" role="navigation">
        <span id="breadcrumb-label" class="visually-hidden">You are here:</span>
        <ol class="breadcrumbs clearfix" aria-labelledby="breadcrumb-label">
            <li class="home">
                <a href="/">
                    <span class="hide-text">Home</span>
                </a>
            </li>
            
                <li>
                    <a href="/info-for/media/index">Media</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases">Press releases</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases/2017">2017</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases/2017/august">August</a>
                </li>
                
                <li>
                    <span class="last-breadcrumb">GLA - Night Tube boosts London’s economy by £171m</span>
                </li>
            
 
            
 
            
 
            
 
            
 
        </ul>
    </div>
</div>
     
 
<div class="r">
    <div class="headline-container plain">
        <h1>GLA - Night Tube boosts London’s economy by £171m</h1>
        <div class="content-page-press-release">
        18 August 2017
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        More than 3,600 jobs are supported by the service
        
    </div>



<div class="pull-quote">
        <div class="quote-body">"It's significantly boosted our night-time economy, supported thousands of jobs and helped millions of people travel around our city at night safer and quicker than ever before
"</div>
        <div class="quote-footer">
            <div class="quotee-name">Sadiq Khan, </div>
            <div class="quotee-job-title">The Mayor of London</div>
        </div>
</div>

 <div class="on-this-page">
This press release, issued by the Mayor of London, was first published on <a href="https://www.london.gov.uk/press-releases/mayoral/night-tube-boosts-londons-economy-by-171m">london.gov.uk</a><br />
<ul>
    <li>Now predicted to add &pound;138m to the capital's economy annually for 30 years</li>
    <li>This anniversary weekend will see the eight millionth journey</li>
</ul>
<p>The Mayor of London, Sadiq Khan, has hailed the huge success of the Night Tube after economic and passenger numbers for the first year far exceeded predictions.</p>
<p>Figures released to mark the service's one-year anniversary this weekend show that the Night Tube has had nearly eight million journeys, boosted London's economy by &pound;171m in its first year alone and is supporting more than 3,600 jobs.</p>
<p>New research by London First and EY has also predicted that the Night Tube will be even more beneficial to the economy than previously forecast, with latest estimates indicating that over the next 30 years it will add &pound;138m of value to London's economy every year. This is significantly more than the &pound;77m a year previously forecast.</p>
<p>The Night Tube has proved extremely popular with Londoners and visitors to the capital, with the eight millionth journey expected to take place this weekend &#45; exceeding predictions by around 15 per cent.</p>
<p>It has helped millions get to work or get home at night quickly, safely and affordably. It has also cut late-night journey times by an average of 20 minutes and, in some cases, by up to an hour.</p>
<p>Some of the most popular Night Tube stations with late-night travellers have been central London destinations like Leicester Square and Tottenham Court Road, as well as Brixton, Liverpool Street and Stratford.</p>
<p>The Mayor of London, Sadiq Khan, said: </p>
<p>'The Night Tube has been a huge success ever since the first train rolled out of Brixton station 12 months ago. I remember the excitement of all the passengers boarding the train that night and I'm so pleased that the enthusiasm of Londoners has stayed strong ever since. No one could have predicted just how successful the Night Tube would be for our city. It's significantly boosted our night-time economy, supported thousands of jobs and helped millions of people travel around our city at night safer and quicker than ever before. It truly demonstrates how London is open at all times of day and night.'</p>
<p>Amy Lam&eacute;, London's Night Czar, said: </p>
<p>'The Night Tube has firmly established London's position as one of the most vibrant cities in the world after dark. You only have to talk to businesses, bars and venues to see what a boost it provides for them. It's been great for workers getting to and from night shifts, and great for Londoners and visitors who are making the most of everything our diverse nightlife has to offer.'</p>
<p>Julian Bird, Chief Executive of the Society of London Theatre, said: </p>
<p>'In its first year the Night Tube has been an invaluable asset to Theatreland, helping our staff, performers and millions of theatregoers get home in the safest and quickest way. The Night Tube runs through the heart of the West End and with a 24 hour service, audiences are able to continue exploring everything our world famous theatre district has to offer long after the curtain has come down on their show.'</p>
<p>Richard Shaw, Director of Marketing, Communications and Audiences at the BFI, said: </p>
<p>'The Tube has had enormous role in the South Bank becoming such an iconic cultural destination which is hugely exciting for both Londoners and visitors and the introduction of all night Tubes have only built on this success. We certainly feel more confident in programming late night events and screenings at BFI Southbank and BFI IMAX, which are all proving more popular than ever with people enjoying this amazing 24-hour city.'</p>
<p>Later this year there will be even more weekend 24-hour services when London Overground night services start operating along the East London route between New Cross Gate and Dalston Junction in December. It will then be extended to Highbury &amp; Islington next year.</p>
<p>In the future, the Night Tube will be extended to parts of the, Circle, District, Hammersmith &amp; City and Metropolitan lines once the modernisation of their signalling system is completed in 2023.</p>
<p>Mark Wild, London Underground's Managing Director, said:</p>
<p>'The Night Tube has been hugely successful in its first year, helping people travel for work and leisure more quickly and reliably than ever late at night. This 24-hour service has played a massive role in opening up the city to a host of opportunities and supporting its night life, from the bars and restaurants in Soho, to the arts and culture in the West End, to sport and music venues such as Wembley Stadium and the O2.'</p>
<p>Caroline Artis, Senior London Partner at EY, said: </p>
<p>'London's Night Tube has been a stand-out success and the move towards 24-hour transport is a key step in transforming the global view of London from old world, where transport stops at midnight, to new world where the city never sleeps. London's 24-hour economy has also made it more attractive to foreign investors, with EY's 2016 Attractiveness Survey ranking London as the best city for foreign direct investment in Europe.'</p>
<p>John Dickie, director of strategy and policy at London First, said: </p>
<p>'The Night Tube is delivering a great boost for business and for all the Londoners and visitors who are making the most of the service. We need to build on this success with a clear approach for licensing and planning, freight and road use - helping to make London a truly 24-hour city and delivering jobs and billions of pounds for the economy.'</p>
<p>&nbsp;</p>
<hr />
<p>Notes to Editors:</p>
<p>The Night Tube runs on the following lines on Friday and Saturday nights and the early hours of Saturday and Sunday mornings:</p>
<ul>
    <li>Central line - between Ealing Broadway and Loughton / Hainault</li>
    <li>Victoria line - entire line</li>
    <li>Jubilee line - entire line</li>
    <li>Northern line - from High Barnet and Edgware to Morden via the Charing Cross branch</li>
    <li>Piccadilly line &#45; between Cockfosters and Heathrow Terminal five.</li>
</ul>
<p>The Central and Victoria lines began operating Night Tube services on 19 August 2016, the Jubilee line on 7 October, the Northern line on 18 November and the Piccadilly line on 16 December.</p>
<p>&nbsp;</p>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
                <a href="/info-for/media/index" class="heading">
                    <h2 id="sub-menu-heading">Media<span class="visually-hidden"> navigation</span></h2>
                </a>
                <ul>
                    
                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases">Press releases</a></div>
                                <ul>
                                    
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2020">2020</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019">2019</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018">2018</a></div></li>
                            
 
                                        <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017">2017</a></div>
                                        <ul>
                                            
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017/january">January</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017/february">February</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017/march">March</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017/april">April</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017/may">May</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017/june">June</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017/july">July</a></div></li>
                                    
 
                                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017/august">August</a></div>
                                                <ul>
                                                    
 
 
 
 
 
 
 
 
 
 
 
 
 
 
                                                </ul>
                                            
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017/september">September</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017/october">October</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017/november">November</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017/december">December</a></div></li>
                                    
 
                                        </ul>
                                    </li>
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016">2016</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015">2015</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014">2014</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2013">2013</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2012">2012</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2011">2011</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2010">2010</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2009">2009</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2008">2008</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2007">2007</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2006">2006</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2005">2005</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2004">2004</a></div></li>
                            
 
                                </ul>
                            </li>
 
                                <li><div class="link-wrapper"><a href="/info-for/media/photos">Photos</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/media/contact-the-press-office">Contact the Press Office</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/filming-and-photography">Filming & photography</a></div></li>
                            
 
                </ul>
            
 
 
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype: -Home-Media-Media-Press releases-2017-August-GLA - Night Tube boosts London’s economy by £171m -->

 
 
        
        
            @{ViewBag.Description = "Night Tube beats all predictions as it boosts London’s economy by £171m in its first year ";}
        
        


 