


@{ViewBag.Title = "London Overground extension to Barking Riverside gets the green light ";}
        
        
<div class="r">
    <div class="breadcrumb-container" role="navigation">
        <span id="breadcrumb-label" class="visually-hidden">You are here:</span>
        <ol class="breadcrumbs clearfix" aria-labelledby="breadcrumb-label">
            <li class="home">
                <a href="/">
                    <span class="hide-text">Home</span>
                </a>
            </li>
            
                <li>
                    <a href="/info-for/media/index">Media</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases">Press releases</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases/2017">2017</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases/2017/august">August</a>
                </li>
                
                <li>
                    <span class="last-breadcrumb">London Overground extension to Barking Riverside gets the green light </span>
                </li>
            
 
            
 
            
 
            
 
            
 
        </ul>
    </div>
</div>
     
 
<div class="r">
    <div class="headline-container plain">
        <h1>London Overground extension to Barking Riverside gets the green light </h1>
        <div class="content-page-press-release">
        08 August 2017
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">



 <div class="on-this-page">
<p>The Mayor of London, Sadiq Khan, and Transport for London (TfL) have welcomed the news that the Government has given the green light for a vital new extension of the London Overground to Barking Riverside.</p>
<p>Transport for London (TfL) has received powers from the Secretary of State for Transport to start construction on the 4.5 kilometre extension of the Gospel Oak to Barking line, a project that will help support one of east London's largest new housing developments. The extension will deliver London Overground services to a new station at the heart of the Barking Riverside community, with construction beginning in summer 2018 and train services commencing in late 2021.</p>
<p>The delivery of this extension will unlock a wide range of benefits for people in the local area and beyond, including 10,800 new homes, along with a new school and healthcare facilities and the construction of a new district centre with commercial and leisure facilities. Mayor Sadiq Khan gave his consent to the masterplan for Barking Riverside, a 180-hectare brownfield site on the northern banks of the River Thames, last September. As many as 50 per cent of these homes could be affordable.</p>
<p>The Overground extension will deliver a sustainable public transport alternative to car travel and link Barking Riverside into London's public transport network through connections at Barking, with District and Hammersmith &amp; City services and c2c services to London Fenchurch Street and Essex.</p>
<p>Operating with four trains an hour, it will feature the latest state-of- the-art electric London Overground trains that feature air-conditioning and walk-through carriages for added customer comfort.</p>
<p>The London Overground extension to Barking Riverside is an important part of the draft Mayor's Transport Strategy, which was recently published and details plans to create a fairer, greener, healthier and more prosperous city by improving public transport and encouraging active travel.</p>
<p>The extension is fully funded, with &pound;172m of the &pound;263m cost of the scheme being met by the developers, Barking Riverside Limited. The remainder will partially come from TfL's Growth Fund, which funds schemes that have direct impact on unlocking housing and employment growth.</p>
<p>Sadiq Khan, Mayor of London, said: `This is wonderful news for east London. Barking Riverside has huge potential to deliver thousands of much-needed affordable homes, and the extension of the Overground will ensure residents have the high-quality transport links they need, both to the surrounding area and commuting into central London. Barking Riverside will deliver new homes, schools, healthcare facilities and much more, and the Overground extension is a vital part  of making these exciting plans a reality.'</p>
<p>Alex Williams, TfL Director for City Planning, said: `Being given the green light by Government for this London Overground extension is fantastic news for the Barking Riverside development, helping breathe new life into the area and enabling up to 10,800 vital new homes, along with the creation of new healthcare and leisure services.'</p>
<p>Matthew Carpen, Project Director of Barking Riverside London, said: `This is a momentous moment for the project.  Gaining formal consent from the Government for the Overground Extension to Barking Riverside is not only a huge milestone for the development but also crucial in connecting this new neighbourhood to the City, which will support the delivery of 600 homes a year.  It is a result of true partnership working between Transport for London, London Borough of Barking and Dagenham and Barking Riverside London's shareholders L&amp;Q and the GLA.'</p>
<p>Cllr Darren Rodwell, Leader of Barking and Dagenham Council, said: `This is fantastic news and shows Barking Riverside is on track to become Barcelona on Thames. It's also yet another sign that Barking and Dagenham is at the epicentre of London's eastward shift.'</p>
<p>Ends</p>
<p>Notes to Editors:</p>
<ul>
    <li>Images are available here but please note these are only illustrative - <a href="https://www.flickr.com/photos/tflpress/albums/72157684659464594">https://www.flickr.com/photos/tflpress/albums/72157684659464594</a></li>
    <li>The Barking Riverside Extension is being part-funded through TfL's Growth Fund, which looks to fund transport schemes that have a direct impact on unlocking housing and employment growth. The &pound;555m fund, as part of TfL's five-year Business Plan, currently supports the delivery of over 55,000 new homes and thousands of new jobs</li>
    <li>The current Gospel Oak to Barking route, which is already part of London Overground, is being electrified by Network Rail. The new four-carriage electric trains will run on the route from 2018 replacing the current two-carriage diesel trains, and will provide improved journey times and more capacity</li>
    <li>Barking Riverside Limited is a new Joint Venture between the GLA (49%) and London &amp; Quadrant New Homes (51%). This is a reformed joint venture following the sale of former partner Bellway Homes shares to L&amp;Q. The new partnership has committed to unlock this stalled development site by providing cash injection to fund a significant proportion of the rail infrastructure cost alongside TfL.</li>
    <li>The contract to construct the railway is expected to be awarded spring 2018.</li>
    <li>The Order, as made by the Secretary of State, will come into force 21 days after publication. There is also a 42 day period following the announcement of the Order where there decisions to grant Powers can be challenged. <a href="https://www.gov.uk/government/collections/twa-inspector-reports-and-decision-letters">https://www.gov.uk/government/collections/twa-inspector-reports-and-decision-letters</a></li>
</ul>
<p>&nbsp;</p>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
                <a href="/info-for/media/index" class="heading">
                    <h2 id="sub-menu-heading">Media<span class="visually-hidden"> navigation</span></h2>
                </a>
                <ul>
                    
                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases">Press releases</a></div>
                                <ul>
                                    
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2020">2020</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019">2019</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018">2018</a></div></li>
                            
 
                                        <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017">2017</a></div>
                                        <ul>
                                            
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017/january">January</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017/february">February</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017/march">March</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017/april">April</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017/may">May</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017/june">June</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017/july">July</a></div></li>
                                    
 
                                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017/august">August</a></div>
                                                <ul>
                                                    
 
 
 
 
 
 
 
 
 
 
 
 
 
 
                                                </ul>
                                            
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017/september">September</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017/october">October</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017/november">November</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017/december">December</a></div></li>
                                    
 
                                        </ul>
                                    </li>
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016">2016</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015">2015</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014">2014</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2013">2013</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2012">2012</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2011">2011</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2010">2010</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2009">2009</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2008">2008</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2007">2007</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2006">2006</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2005">2005</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2004">2004</a></div></li>
                            
 
                                </ul>
                            </li>
 
                                <li><div class="link-wrapper"><a href="/info-for/media/photos">Photos</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/media/contact-the-press-office">Contact the Press Office</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/filming-and-photography">Filming & photography</a></div></li>
                            
 
                </ul>
            
 
 
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype: -Home-Media-Media-Press releases-2017-August-London Overground extension to Barking Riverside gets the green light  -->

 
 
        
        
            @{ViewBag.Description = "London Overground extension to Barking Riverside gets the green light ";}
        
        


 