


@{ViewBag.Title = "GLA - New team to help homeless people sleeping on transport";}
        
        
<div class="r">
    <div class="breadcrumb-container" role="navigation">
        <span id="breadcrumb-label" class="visually-hidden">You are here:</span>
        <ol class="breadcrumbs clearfix" aria-labelledby="breadcrumb-label">
            <li class="home">
                <a href="/">
                    <span class="hide-text">Home</span>
                </a>
            </li>
            
                <li>
                    <a href="/info-for/media/index">Media</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases">Press releases</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases/2017">2017</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases/2017/august">August</a>
                </li>
                
                <li>
                    <span class="last-breadcrumb">GLA - New team to help homeless people sleeping on transport</span>
                </li>
            
 
            
 
            
 
            
 
            
 
        </ul>
    </div>
</div>
     
 
<div class="r">
    <div class="headline-container plain">
        <h1>GLA - New team to help homeless people sleeping on transport</h1>
        <div class="content-page-press-release">
        29 August 2017
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        Mayor funds outreach team to help homeless people sleeping on Night Buses, the Tube and Overground with accommodation and support services
        
    </div>



<div class="pull-quote">
        <div class="quote-body">"I'll continue to work closely with councils, homeless organisations, and Government to make sure there is a way off the street for every rough sleeper in London"</div>
        <div class="quote-footer">
            <div class="quotee-name">Sadiq Khan</div>
            <div class="quotee-job-title">The Mayor of London</div>
        </div>
</div>

 <div class="on-this-page">
<p>This press release, issued by the Mayor of London, was first published on <a href="https://www.london.gov.uk/press-releases/mayoral/help-for-rough-sleepers-on-transport-network">london.gov.uk</a>&nbsp;</p>
<ul>
    <li>Sadiq also announces funding for seven new projects through his new million-pound Rough Sleeping Innovation Fund, including an online tool to link rough sleepers to the Missing People database</li>
</ul>
<p>The Mayor of London, Sadiq Khan, today announced the creation of a new team dedicated to helping the rising number of homeless people who use Night Buses and Tubes as a place to sleep. The team will help find accommodation, provide access to support services, or reconnect people with family and friends to prevent them from ending up sleeping on the streets.</p>
<p>Sadiq announced his plans for the team, which will initially receive &pound;300,000 funding for 18 months, alongside a series of new projects from his million-pound Rough Sleeping Innovation Fund. This forms part of the &pound;9 million he has committed to spending each year on rough sleeping services, and is in addition to the &pound;50 million he is using to invest in accommodation to help people to move on from hostels and refuges.</p>
<p>Transport for London data has revealed that the number of homeless people sleeping on Night Buses in winter 2015/2016 was 121 per cent greater than the same period in 2012/13. This reflects a trend of rising homelessness seen more widely across the capital in recent years &#45; though a sharper focus on rough sleeping at City Hall in the last year has begun to show signs of progress. Latest statistics show the rise in rough sleeping has halted for the first time since 2009 &#45; with 8,108 people seen on the streets last year, virtually unchanged from 8,096 the year before.</p>
<p>City Hall warned that improved services may mean the number of rough sleepers rises in the short term as more people engage with new offers of support, whilst following the recent expansion of the Night Tube, a pilot of eight night-time outreach shifts found 164 homeless people on the Night Tube and Buses. This is a common issue in major international cities that offer late-night transport with recent statistics in New York showing over 1,700 people sleep on their subways each night. The Mayor wants to prevent people using transport as a bed for the night and ensure they receive immediate help to access the accommodation and range of services they need.</p>
<p>Alongside the new night outreach team, the Mayor's new million-pound Rough Sleeping Innovation Fund will support projects including:</p>
<ul>
    <li>a new web-based tool to cross-check key details from the Missing People database with those on the Mayor's CHAIN database of rough sleepers in London;</li>
    <li>two projects helping female rough sleepers access services &#45; one by the charity Groundswell to help improve female rough sleepers' physical and mental health, and the other by Thames Reach to help with domestic violence and substance abuse issues;</li>
    <li>a training and skills support programme to help former rough sleepers into work run by charitable giving project 'BEAM'.</li>
</ul>
<p>The announcement of these projects comes ahead of the launch of the Mayor's draft London Housing Strategy for consultation in early September, which will set out the Mayor's central aim to ensure there is a route off the streets for every rough sleeper in London.</p>
<p>The Mayor of London, Sadiq Khan, said: 'Over the last year, we've seen the rise in rough sleeping halted for the first time in nearly a decade &#45; but even one person ending up in this position is too many, and I am determined to make sure homeless people get the support they need.</p>
<p>'My new night-time transport team will work across our buses and Tubes to help people before they end up sleeping rough on the streets. I'll continue to work closely with councils, homeless organisations, and Government to make sure there is a way off the street for every rough sleeper in London.'</p>
<p>The new night-time transport team will work as part of the Mayor's London Street Rescue outreach team and focus on transport routes which homeless people are known to frequent, or that bus and Tube drivers have referred the team to.<br />
Members of the public can help alert the outreach team to anyone needing their help by using the online Streetlink service (<a href="http://www.streetlink.org.uk">www.streetlink.org.uk</a>). The teams will connect people with services, including No Second Night Out which provides three 24-hour assessment hubs, to ensure people get a wide range of help immediately.</p>
<p>London's Transport Commissioner, Mike Brown MVO, said: </p>
<p>'The Mayor's new night-time transport team will be working hard to ensure homeless people on the transport system get the help they need. TfL is committed to doing more to help and support homeless Londoners and we have a long history of working alongside homeless charities and outreach projects.'</p>
<p>In addition to funding services, the Mayor has set up the 'No Nights Sleeping Rough' taskforce - a group that brings together key partners to work together and identify what new interventions are needed to help rough sleepers, lobbying Government for support where necessary.</p>
<p>Jeremy Swain, Chief Executive of Thames Reach and member of Mayor's No Nights Sleeping Rough Task Force said: </p>
<p>'As a member of the Mayor's No Nights Sleeping Rough Task Force I greatly welcome the news that the Rough Sleeping Innovation Fund is funding exciting new initiatives aimed at reducing rough sleeping in the capital. Crucially these projects have a strong focus on specific groups; for example homeless women, people with multiple needs and rough sleepers with brain injuries and will be delivered by a encouragingly wide range of organisations.</p>
<p>'I am thrilled too that, through a partnership between the Mayor and Transport for London new night transport outreach team has been funded which will be managed by Thames Reach. This gives us much needed capacity to reach out to transient rough sleepers forced to travel the buses and tube system at night who deserve the same help and support to escape homelessness as the person sleeping rough in a shop doorway.'</p>
<hr />
<p>Notes to Editors:</p>
<ol>
    <li>Figures on rough sleepers - the Combined Homelessness and Information Network (CHAIN) is a multi-agency database recording information about rough sleepers and the wider street population in London. CHAIN is commissioned and funded by the Mayor of London and managed by St Mungo's, represents the UK's most detailed and comprehensive source of information about rough sleeping. Latest CHAIN statistics show 8,108 people were seen sleeping rough during Sadiq's first year as Mayor (2016/17), which is virtually the same as 2015/16 when the number was 8,096. In 2010/11 the number was 3,975.</li>
    <li>Information on homeless people sleeping on transport in New York is taken from the New York Mayor's office website: <a href="http://www1.nyc.gov/site/operations/projects/HomeStat-Quarterly.page">http://www1.nyc.gov/site/operations/projects/HomeStat-Quarterly.page</a>.</li>
    <li>TfL internal data on Night Buses showed 213 bus driver incident reports of rough sleepers between 1st November 2015 and 24th January 2016 &#45; an increase from 97 over the same period in 2012/13.</li>
</ol>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
                <a href="/info-for/media/index" class="heading">
                    <h2 id="sub-menu-heading">Media<span class="visually-hidden"> navigation</span></h2>
                </a>
                <ul>
                    
                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases">Press releases</a></div>
                                <ul>
                                    
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2020">2020</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019">2019</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018">2018</a></div></li>
                            
 
                                        <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017">2017</a></div>
                                        <ul>
                                            
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017/january">January</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017/february">February</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017/march">March</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017/april">April</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017/may">May</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017/june">June</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017/july">July</a></div></li>
                                    
 
                                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017/august">August</a></div>
                                                <ul>
                                                    
 
 
 
 
 
 
 
 
 
 
 
 
 
 
                                                </ul>
                                            
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017/september">September</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017/october">October</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017/november">November</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017/december">December</a></div></li>
                                    
 
                                        </ul>
                                    </li>
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016">2016</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015">2015</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014">2014</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2013">2013</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2012">2012</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2011">2011</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2010">2010</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2009">2009</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2008">2008</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2007">2007</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2006">2006</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2005">2005</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2004">2004</a></div></li>
                            
 
                                </ul>
                            </li>
 
                                <li><div class="link-wrapper"><a href="/info-for/media/photos">Photos</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/media/contact-the-press-office">Contact the Press Office</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/filming-and-photography">Filming & photography</a></div></li>
                            
 
                </ul>
            
 
 
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype: -Home-Media-Media-Press releases-2017-August-GLA - New team to help homeless people sleeping on transport -->

 
 
        
        
            @{ViewBag.Description = "Mayor’s new night team to help homeless people sleeping on buses and tubes";}
        
        


 