


@{ViewBag.Title = "Londoners invited to take TfL's walking challenge this weekend";}
        
        
<div class="r">
    <div class="breadcrumb-container" role="navigation">
        <span id="breadcrumb-label" class="visually-hidden">You are here:</span>
        <ol class="breadcrumbs clearfix" aria-labelledby="breadcrumb-label">
            <li class="home">
                <a href="/">
                    <span class="hide-text">Home</span>
                </a>
            </li>
            
                <li>
                    <a href="/info-for/media/index">Media</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases">Press releases</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases/2017">2017</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases/2017/august">August</a>
                </li>
                
                <li>
                    <span class="last-breadcrumb">Londoners invited to take TfL’s walking challenge this weekend</span>
                </li>
            
 
            
 
            
 
            
 
            
 
        </ul>
    </div>
</div>
     
 
<div class="r">
    <div class="headline-container plain">
        <h1>Londoners invited to take TfL’s walking challenge this weekend</h1>
        <div class="content-page-press-release">
        01 August 2017
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">



 <div class="on-this-page">
<p>Londoners can put their knowledge of the city's walking routes to the test this weekend in an urban navigational challenge celebrating 10 years of Legible London signs and 50 years of British Orienteering.</p>
<p>Transport for London (TfL) has partnered with British Orienteering to celebrate the milestones by challenging Londoners to walk to as many locations as possible in three hours using Legible London signs.</p>
<p>The Legible London signage system was developed in 2007 to make Londoners more confident in their ability to navigate the city on foot, and to encourage people to walk as part of their daily routine. There are over 1,700 Legible London signs across the Capital, in almost every London borough, and new signs are being installed each year.</p>
<p>On Saturday 5 August, all are invited to take part in the fun competition. All you have to do is download the free Sporteering smartphone app and travel to the Legible London sign next to the bridge outside Royal Festival Hall, to start the competition at any time. The app contains a map of several Legible London locations within the area and once the QR code on the Royal Festival Hall sign has been scanned, participants then have three hours to visit as many locations as possible and return to the start point before the timer runs out.</p>
<p>It is an exercise of skill rather than speed &#45; with participants planning their own route to find the most effective way to navigate between points around London.</p>
<p>After the event, certificates will be sent to participants. The top three high-scorers will also win a pair of tickets to see the new musical version of The Wind in the Willows at the London Palladium.</p>
<p>Encouraging more people to walk is a vital part of the Mayor's draft Transport Strategy, which last month detailed plans to create a fairer, greener, healthier and more prosperous city by making London's streets more welcoming and encouraging active travel and public transport.</p>
<p>Will Norman, Walking and Cycling Commissioner, said: `The Legible London signs have been a wonderful way of encouraging Londoners and visitors to walk around our city. Walking is the best way of exploring everything that our great city offers and I hope this novel challenge will inspire even more people to get out and enjoy our streets.'</p>
<p>Ben Plowden, Director of Surface Strategy and Planning at TfL, said: `For 10 years our Legible London signs have been making it easier for Londoners and visitors to the Capital to find their way while walking. This event is a great way to show everyone who lives, works or visits the city how walkable it is, and encourage active travel.'</p>
<p>Jennie Taylor, Communications Officer for British Orienteering, said: `We are delighted to partner with TfL to celebrate the 10th anniversary of the Legible London wayfinding system in British Orienteering's Golden Jubilee year. We are very excited about the Know London Walking activity, this urban navigation challenge based on the principles of orienteering. Our aim is to raise the profile of orienteering skills across the country and encourage people to get involved in orienteering related activities in a new and exciting way.  We hope participants enjoy taking part in the Know London Walking orienteering challenge.'</p>
<p>Walking is a great way to get around London &#45; it's free, environmentally friendly, and often the quickest option. Walking for just 10 minutes twice a day improves health and wellbeing, and reduces the risk of diseases like heart disease, type 2 diabetes, and certain cancers.</p>
<p>To promote walking in the Capital TfL created the Walking Tube map, showing how long it takes to walk between stations. TfL also sponsors three walking weekends each year promoting the city's best walking routes. For more information about walking in London and to download the Walking Tube map visit <a href="http://tfl.gov.uk/walking">tfl.gov.uk/walking</a>.</p>
<p>To find out more about TfL's events in London this summer sign up to the events bulletin here: tfl.gov.uk/emailupdates.</p>
<p>For more information about British Orienteering visit <a href="http://www.britishorienteering.org.uk.">www.britishorienteering.org.uk.</a></p>
<p>ENDS</p>
<p>Notes to editors:</p>
<div style="text-align: left;">
<p>The Sporteering app can be downloaded for free at</p>
<ul>
    <li>iPhone:<a href="https://itunes.apple.com/gb/app/polaris-challenge/id1226450328?mt=8">https://itunes.apple.com/gb/app/polaris-challenge/id1226450328?mt=8</a></li>
    <li>Android: <a href="https://play.google.com/store/apps/details?id=com.clr.polaris&amp;hl=en">https://play.google.com/store/apps/details?id=com.clr.polaris&amp;hl=en</a></li>
</ul>
</div>
<ul>
    <li>To begin the challenge participants should register in the app, go to the &quot;events&quot; page and select &quot;Know London Walking&quot;.</li>
    <li>The competition start/finish location is the Legible London sign on South Bank, next to the Golden Jubilee Bridge and outside Royal Festival Hall. QR codes are on the side of the signs.</li>
    <li>For Legible London images, visit <a href="http://flickr.com/gp/tflpress/064Fe7">flickr.com/gp/tflpress/064Fe7</a></li>
    <li>Whilst taking part in the challenge participants should respect the Highway Code and be considerate of other path and road users.</li>
    <li>'Healthy Streets for London' sets out an important new approach for the Mayor and TfL, working with its partners and stakeholders to make London's streets better for everyone. Read more about Healthy Streets <a href="http://tfl.gov.uk/corporate/about-tfl/corporate-and-social-responsibility/transport-and-healthcare">here</a>:</li>
    <li>British Orienteering is the National Governing Body for Orienteering in the UK with the vision that Orienteering is the 'go to' outdoor sport for people wanting to test themselves physically and mentally.  With approximately 109 clubs across the UK and 10,800 individual members British Orienteering provide and support events and activities from urban town centres to country parks and forests.</li>
    <li>The Wind in the Willows is a new musical by Oscar-winning screenwriter Julian Fellowes and Olivier-Award winning composer and lyricist George Stiles and Anthony Drewe. The Wind in the Willows is playing at the London Palladium until 2 September 2017. For more information and to book tickets visit <a href="http://www.willowsmusical.com">www.willowsmusical.com</a></li>
</ul>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
                <a href="/info-for/media/index" class="heading">
                    <h2 id="sub-menu-heading">Media<span class="visually-hidden"> navigation</span></h2>
                </a>
                <ul>
                    
                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases">Press releases</a></div>
                                <ul>
                                    
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2020">2020</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019">2019</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018">2018</a></div></li>
                            
 
                                        <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017">2017</a></div>
                                        <ul>
                                            
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017/january">January</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017/february">February</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017/march">March</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017/april">April</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017/may">May</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017/june">June</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017/july">July</a></div></li>
                                    
 
                                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017/august">August</a></div>
                                                <ul>
                                                    
 
 
 
 
 
 
 
 
 
 
 
 
 
 
                                                </ul>
                                            
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017/september">September</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017/october">October</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017/november">November</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017/december">December</a></div></li>
                                    
 
                                        </ul>
                                    </li>
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016">2016</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015">2015</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014">2014</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2013">2013</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2012">2012</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2011">2011</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2010">2010</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2009">2009</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2008">2008</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2007">2007</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2006">2006</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2005">2005</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2004">2004</a></div></li>
                            
 
                                </ul>
                            </li>
 
                                <li><div class="link-wrapper"><a href="/info-for/media/photos">Photos</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/media/contact-the-press-office">Contact the Press Office</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/filming-and-photography">Filming & photography</a></div></li>
                            
 
                </ul>
            
 
 
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype: -Home-Media-Media-Press releases-2017-August-Londoners invited to take TfL’s walking challenge this weekend -->

 
 
        
        
            @{ViewBag.Description = "Londoners invited to take TfL’s walking challenge this weekend";}
        
        


 