


@{ViewBag.Title = "A smarter way to travel in Richmond upon Thames";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>A smarter way to travel in Richmond upon Thames</h1>
        <div class="content-page-press-release">
        30 March 2009
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        Three year, &pound;4.2million sustainable transport programme launched.
        
    </div>



<div class="pull-quote">
        <div class="quote-body">"This scheme will help make Richmond upon Thames an even greener, healthier place for people to live and work"</div>
        <div class="quote-footer">
            <div class="quotee-name">Boris Johnson</div>
            <div class="quotee-job-title">Mayor of London</div>
        </div>
</div>

 <div class="on-this-page">
<div class="pullquote right">
                        <p>
                            This scheme will help make Richmond upon Thames an even greener, healthier place for people to live and work
                            
                        </p>
                    </div>
                
            
            
            <p>Transport for London (TfL) and the London Borough of Richmond upon Thames have joined forces to launch Smarter Travel Richmond, a three year, &pound;4.2million initiative to help people change the way they travel in the borough.&nbsp; </p>
<p>The scheme aims to encourage greater use of sustainable travel options, such as walking, cycling or using public transport, as well as reducing traffic congestion and improving the local environment.&nbsp; </p>
<h2>Greener travel options</h2>
<p>TfL and Richmond Council will make greener travel options more easily available in the borough through a range of new facilities and projects, including:</p>
<ul>
<li>450 new cycle parking spaces, of which 200 have already been installed to mark the launch of the programme </li>
<li>Two new cycle routes </li>
<li>New cycling facilities and car club bays </li>
<li>Cycle training sessions for new or returning cyclists, families, and in every major school and workplace in the borough </li>
<li>Improving signage and mapping for pedestrians in Richmond and Twickenham town centres </li>
<li>The roll-out of Walk on Wednesday to all primary schools in the borough, an incentive scheme that encourages children to walk to school once a week </li>
<li>Development of travel plans, and the provision of more information on sustainable transport to residents, schools and businesses in the borough</li></ul>
<p>Mayor of London, Boris Johnson, said: 'Despite its leafy image, Richmond faces the same challenges in terms of congestion and air pollution as other parts of London.&nbsp; </p>
<p>'This scheme will help make Richmond upon Thames an even greener, healthier place for people to live and work.&nbsp; </p>
<h2>Cut carbon dioxide emissions</h2>
<p>'It will also contribute towards cutting the Capital's carbon dioxide emissions, which we intend to reduce by 60 per cent by 2025, and will help set the standard for boosting cycling and walking in the outer boroughs.</p>
<p>'I can imagine nothing better than cycling through parts of Richmond, but this will mean that people across the borough will find it much easier to take to two wheels.'</p>
<p>Peter Hendy, London's Transport Commissioner, said: 'Smarter Travel Richmond is all about providing people with the tools they need to feel confident about walking, cycling and using public transport.&nbsp; </p>
<p>'That might include information on public transport and car club services, for example, or it could be cycle training giving people the confidence to dust off their bikes and cycle to work or to the park at the weekend.</p>
<h2>Most convenient options</h2>
<p>'Cycling, walking or travelling by public transport are not just the greenest options - they're often the quickest, cheapest and most convenient options too.&nbsp; </p>
<p>'The Smarter Travel programme has already proven to be hugely influential in Sutton and I look forward to seeing similar successes in Richmond upon Thames.' </p>
<p>Richmond upon Thames Councillor David Trigg said: 'Whenever we carry out a survey of our residents, reducing traffic congestion and air pollution comes very high on people's priorities.&nbsp; </p>
<p>'We think this project will strike a chord among very many of our residents who statistics also show to be among the most environmentally concerned in the Capital.</p>
<p>'This is important because the one sure thing about the Smarter Travel Project is that Richmond Council and TfL will not achieve much on our own - we need the support of local people.'</p>
<p>Richmond upon Thames currently has the second highest level of transport-related carbon dioxide emissions in the Capital, and 88 per cent of its residents find traffic to be a problem in the borough.&nbsp; </p>
<h2>Greenest in London by 2012</h2>
<p>Through the Smarter Travel programme, the borough aims to be the greenest in London by 2012.&nbsp; </p>
<p>By the end of the programme, TfL and Richmond Council expect:</p>
<ul>
<li>To deliver a 5 per cent increase in the proportion of trips in the borough made on foot, by bike or public transport, saving the equivalent of 23 tonnes of carbon dioxide every day.&nbsp; This will include doubling the number of cycling journeys made every day in Richmond upon Thames </li>
<li>To boost car club membership by 125 per cent, to 2,250 members </li>
<li>All major employers (250 plus employees) and most medium and small businesses in the borough to have workplace travel plans in place, benefiting 20,000 employees </li>
<li>Over half the schools in the borough to have a Silver or Gold rated travel plan in TfL's accreditation scheme - just two schools are currently accredited&nbsp; </li></ul>
<p>
<hr>
</p>
<p><strong>Notes to editors</strong></p>
<ul>
<li>TfL's first partner in delivering a borough-wide Smarter Travel programme was Sutton.&nbsp; Smarter Travel Sutton, a &pound;5million project, is now in its third and final year.&nbsp; The projects successes to date include delivering a 50 per cent increase in cycling in the borough in the second year - for more details please <a href="http://www.tfl.gov.uk/corporate/media/newscentre/archive/11211.aspx">visit the TfL website</a> </li>
<li>TfL and Richmond Upon Thames have already delivered a number of improvements in the borough to mark the launch of the Smarter Travel programme, including<br>70 new car club bays and&nbsp;200 new cycle parking spaces.&nbsp;A further 250 will be installed before the end of the programme </li>
<li>Currently, the trips made in Richmond upon Thames break down as: 45 per cent&nbsp;car; 6 per cent&nbsp;cycling; 20 per cent&nbsp;walking; 29 per cent&nbsp;public transport.&nbsp; By the end of the programme, it is aimed that the share of trips will have moved to: 40 per cent&nbsp;car; 9 per cent&nbsp;cycling; 21 per cent&nbsp;walking; 30 per cent&nbsp;public transport </li>
<li>Across London, schools that have implemented school travel plans have seen an average six per cent reduction in the share of journeys to school made by car </li>
<li>Work places that have implemented work place travel plans have recorded an average 13 per cent reduction in the share of commuter journeys by car and a 17 per cent increase in public transport use<br></li></ul>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "Transport for London (TfL) and the London Borough of Richmond upon Thames have joined forces to launch Smarter Travel Richmond, a three year, &pound;4.2million initiative to help people change the way they travel in the borough.&nbsp; The scheme aims to";}
        
        


 