


@{ViewBag.Title = "&pound;1m package to enable more Londoners to access car clubs";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>&pound;1m package to enable more Londoners to access car clubs</h1>
        <div class="content-page-press-release">
        03 March 2009
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        Transport for London (TfL) today announced a &pound;1m investment package to support the growth of car clubs across London over the next two years, to bring around a third of London residents within just a five minute walk of a car club vehicle.
        
    </div>



<div class="pull-quote">
        <div class="quote-body">"Car clubs are a fantastic way for Londoners to cut their motoring costs and help cut CO2 in the Capital"</div>
        <div class="quote-footer">
            <div class="quotee-name">Boris Johnson</div>
            <div class="quotee-job-title">Mayor of London</div>
        </div>
</div>

 <div class="on-this-page">
<div class="pullquote right">
                        <p>
                            Car clubs are a fantastic way for Londoners to cut their motoring costs and help cut CO2 in the Capital
                            
                        </p>
                    </div>
                
            
            
            <p>The funding will be used to identify and install on-street parking bay locations and signage, and help promote car clubs in London. </p>

<p>This will result in 726 new parking spaces for car club vehicles across 19&nbsp;London boroughs during the next two years</p>
<p>Car clubs offer pay as you go access to a car and are a cost effective way to give people all the benefits of using a car when they need to while reducing the number of vehicles on London's roads, easing pressure on parking, and reducing congestion.</p>
<h2>Convenient and affordable</h2>
<p>Almost 53,000 Londoners are now members of a car club*. Members typically save nearly &pound;3,500** a year by joining a car club and reduce their car mileage by an average of 36 per cent***. This in turn helps reduce carbon emissions in the Capital.&nbsp; </p>
<p>Mayor of London, Boris Johnson, said: 'Car clubs are a fantastic way for Londoners to cut their motoring costs and help cut CO2 in the Capital. </p>

<p>For each car club vehicle on the streets it's estimated that six privately owned cars are taken off the road.&nbsp; </p>
<p>That's why we are making this investment, which will help raise awareness of car clubs and make it easier for Londoners to join.</p>
<h2>Car clubs continue to grow</h2>
<p>'As the number of car club cars continues to grow, more and more people in London will discover this useful way of having the benefits of access to a car without the environmental or financial expense of owning one.'</p>
<p>Ben Plowden, Programme Director of Smarter Travel at TfL, said: 'While many journeys can be easily completed by public transport, on bike or by foot, there are some journeys that can be difficult to make without a car - which is why car clubs are such a great solution. </p>
<p>'As a member of a car club myself, I know firsthand how convenient - and affordable - it is to know that you've always got a choice of car club cars close by to help you make the journeys that would otherwise be difficult to do.'</p>
<p>
<hr>
<strong></strong><strong></strong>&nbsp; <strong>Notes to Editors</strong> 
<ul>
<li>*52,719 members in London (Carplus accreditation membership data, Dec 2008)&nbsp; ** Research from carplus.org.uk *** TfL research on Attitudes towards Car Clubs (Synovate, April 2007) </li>
<li>19 boroughs submitted bids to TfL for a share of the &pound;500,000 funding available for 2009/10 and a further &pound;500,000 for 2010/11 </li>
<li>Transport for London research shows each car club typically results in six privately owned vehicles being sold </li>
<li>Londoners typically save up to &pound;3,500 a year by becoming a car club member </li>
<li>Vehicles can be booked as little as half an hour at a time using telephone or internet and are located in dedicated bays and accessed via the member's smart card.&nbsp; Details of all car club vehicles in London and the UK can be found at <a class="external-site" title=" (Opens in new window)" href="http://www.carclubs.org.uk/" jquery1236082505493="6">http://www.carclubs.org.uk/</a><br></li></ul>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "The funding will be used to identify and install on-street parking bay locations and signage, and help promote car clubs in London. This will result in 726 new parking spaces for car club vehicles across 19&nbsp;London boroughs during the next two";}
        
        


 