


@{ViewBag.Title = "Consultation begins on London Permit Scheme aimed at smoothing traffic flow";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>Consultation begins on London Permit Scheme aimed at smoothing traffic flow</h1>
        <div class="content-page-press-release">
        12 March 2009
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        Coordinated street works, and an end to unnecessary disruption, move a step closer.
        
    </div>



<div class="pull-quote">
        <div class="quote-body">"I am working with the utilities to get them to pull up their socks on this frustrating issue"</div>
        <div class="quote-footer">
            <div class="quotee-name">Boris Johnson</div>
            <div class="quotee-job-title">Mayor of London</div>
        </div>
</div>

 <div class="on-this-page">
<div class="pullquote right">
                        <p>
                            I am working with the utilities to get them to pull up their socks on this frustrating issue
                            
                        </p>
                    </div>
                
            
            
            <p>As part of the commitment by Mayor of London, Boris Johnson, to smooth traffic flow in the Capital,&nbsp; Transport for London (TfL) and 18 London boroughs today begin a three month consultation on the proposed new London Permit Scheme, which aims to regulate street works.</p>
<p>The permit scheme would help to ensure that any company that wants to dig up London roads causes as little disruption to Londoners as possible.</p>
<p>More than 500 organisations will be given the opportunity to feed back on the proposals for the Scheme over the next three months, before an application is submitted to the Department for Transport for scheme approval.</p>
<h2>Improving traffic flow</h2>
<p>TfL and the 18 boroughs involved in setting up the scheme, which could be in place in late 2009 at the earliest, will be seeking to ensure that street works are undertaken as quickly as possible and at the same time as other necessary works at the location, wherever practical.</p>
<p>It is estimated there are around one million holes dug in London's roads each year, with little or no regulation. </p>
<p>Currently, the more than 100 utilities are only required to give short notice of upcoming works - 90 per cent of works are carried out with less than ten days notice to the highway authority.</p>
<p>Mayor of London, Boris Johnson said: 'Londoners are fed up with being stuck in queues while the traffic cones and work sites litter the streets without a workman in sight. </p>
<h2>Coordinating road works</h2>
<p>'Currently utility companies can dig up the roads with reckless abandon. </p>
<p>'I made a pledge that I would put an end to this archaic system, and this process will bring us a step closer. </p>
<p>'There is a real desire for action - I am working with the utilities to get them to pull up their socks on this frustrating issue and I'm urging all of them to get on board and take part.'</p>
<p>David Brown, Managing Director of Surface Transport at TfLsaid: 'This scheme will help to bring an end to the situation where the same stretch of road is dug up repeatedly by different companies.</p>
<p>'Organisations will have to properly plan and coordinate their works with others and display notices explaining what they are doing and when they will be finished, and our job, along with the other highway authorities, will be to ensure that this takes place.'</p>
<p>
<hr>
<strong>Notes to editors:<p>
<ul>
<li></li></ul></strong>The transport authorities involved in this stage of the scheme are: TfL, City of London, Westminster City Council, The Royal Borough of Kensington and Chelsea and the London Boroughs of Barnet, Brent, Bromley, Camden, Ealing, Enfield, Hackney, Hammersmith &amp; Fulham, Haringey, Hounslow, Islington, Lewisham, Redbridge and Wandsworth
<li>The London Borough of Hammersmith &amp; Fulham is conducting the consultation</li>
<li>The permit scheme is 'designed to control the carrying out of specified works in specified streets in a specified area. It replaces the 'notice system' under the New Roads and Street Works Act 1991 (NRSWA) whereby utility companies inform highway authorities of their intentions to carry out works in their areas'</li>
<li>Applications to carry out major planned works (those which are expected to last 11 days or more) will require three months notice</li>
<li>Emergency works will require a permit application to be made within two working hours of the start of the works</li>
<li>Permits may be granted subject to conditions which will be set by the transport authority taking into account environmental impact as well as the potential disruption to traffic</li>
<li>Companies which apply to do works at the same time on the same site will have the normal permit fee waived. Fees will be between &pound;40 and &pound;240 depending on the extent and potential disruption of the works planned</li>
<li>Transport authorities may refuse a permit if it considers the works can be completed more speedily, or if the dates and times may clash with other proposed activities or events in the area which it is deemed will then result in unacceptable disruption to the road network. Alternative dates for works to be carried out would be offered</li>
<li>This scheme will give companies confidence that the road space is 'booked' for their planned works</li>
<li>Sites will be inspected to ensure companies leave roads in an acceptable state</li>
<li>Companies which overrun their works will be issued with Fixed Penalty Notices of up to &pound;500 or may be prosecuted. A daily levy may also be applied</li>
<li>The revenue from the permits will be used to fund the scheme</li>
<li>TfL is working with the Mayor on a range of measures to ease traffic flow, including:</li>
<ul>
<li>Re-phasing traffic signals to get traffic flowing more smoothly, without affecting the safety of pedestrians and vulnerable road users. Benefit is being derived from improvements to the coordination of adjacent signals which reduces the amount of stopping and starting between traffic signal junctions</li>
<li>Motorcycles are being allowed in the majority of TfL-controlled bus lanes. Motorcyclists are able to share red route bus lanes with buses, cyclists and licensed black taxis on a trial basis for 18 months</li>
<li>Work is already underway with Thames Water focused on reducing the impact of the works they need to do to repair and replace the miles of Victorian water mains in the Capital. TfL is now working closely with them on the use of steel plating to cover excavations when work is not in progress and a joint project team has been formed to work on its implementation</li>
<li>TfL has invited companies interested in running a cycle hire scheme to get in touch. From May 2010 people will be able to pick up and drop off hire bikes at 400 locations across London's zone one travel area</li>
<li>TfL is reviewing all major schemes that could reduce the capacity of the road network, with a view to minimizing the impact on traffic flow. Some schemes, for example Parliament Square, have now been cancelled because of the negative impact on journey times and traffic congestion they would have had in the area</li>
<li>TfL is setting up a task force with external experts to review further ways in which traffic flows can be smoothed<br></li></ul>
<p>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "As part of the commitment by Mayor of London, Boris Johnson, to smooth traffic flow in the Capital,&nbsp; Transport for London (TfL) and 18 London boroughs today begin a three month consultation on the proposed new London Permit Scheme, which aims to";}
        
        


 