


@{ViewBag.Title = "Don't let your friendship die on the road";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>Don't let your friendship die on the road</h1>
        <div class="content-page-press-release">
        20 March 2009
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        Stark road safety campaign from Transport for London urges teenagers 'Think! Look out for your mates'.
        
    </div>



<div class="pull-quote">
        <div class="quote-body">"This year Transport for London is spending &pound;57m on further safety measures on the Capital's roads"</div>
        <div class="quote-footer">
            <div class="quotee-name">Chris Lines</div>
            <div class="quotee-job-title">Head of the TfL London Road Safety Unit</div>
        </div>
</div>

 <div class="on-this-page">
<div class="pullquote right">
                        <p>
                            This year Transport for London is spending &pound;57m on further safety measures on the Capital's roads
                            
                        </p>
                    </div>
                
            
            
            <p>Transport for London&nbsp;(TfL)&nbsp;is launching its latest advertising campaign aimed at encouraging road safety amongst the Capital's teenagers. </p>
<p>The new 'Don't let your friendship die on the road' theme is based on the insight that friendship is one of the most important things in young people's lives.</p>
<p>Stark posters show young actors who appear to be lying against a wall, however a second glance reveals them to be actually lying on the road as a result of a road collision.&nbsp;The message is a clear call to action, 'Think! Look out for your mates'.&nbsp; </p>
<h2>Young loss</h2>
<p>Young teenagers are more likely to be involved in a road collision than any other age group. Boys and young people from deprived backgrounds are particularly vulnerable. Posters will be placed in close proximity to schools and in areas of high footfall across London. Figures from 2007 show that incidents are more likely to occur between 15:00 and 17:00. Statistics for 2008 will be published in the coming months. </p>
<p>In addition to the poster adverts, a moving radio advert dramatises the effects of young loss as a teenager reads a eulogy for a best friend at their funeral while a series of online banners will appear on popular websites including Bebo and MSN messenger.</p>
<p>Chris Lines, Head of the TfL London Road Safety Unit, said: 'Everyday a teenager is killed or seriously injured on London roads. </p>
<p>'While this number is steadily falling, one injury is still one too many. </p>
<h2>Stark reminder</h2>
<p>'This year Transport for London is spending &pound;57m on further safety measures on the Capital's roads. These adverts serve as a stark reminder to young people of the importance of taking care when using or nearby London roads.'</p>
<p>The teen road safety initiative is part of a long-term TfL road safety campaign that continues to work to reduce the number of young road users who are killed or seriously injured in the Capital. </p>
<p>The 'Don't let your friendship die on the road' adverts can be seen across London from today.</p>
<p>
<p>
<hr>
<br><strong>Notes to editors</strong> </p>
<ul>
<li><a href="/corporate/projectsandschemes/roadsandpublicspaces/2840.aspx">TfL Road Casualties in Greater London</a>&nbsp;publications are available online </li>
<li>In March 2000, the Government announced a new national road safety strategy and casualty reduction targets for 2010 in 'Tomorrow's roads - safer for everyone'</li>
<ul>
<li>By the year 2010, the casualty reduction targets to be achieved, compared with the 1994/98 average are: a 40 per cent reduction in the number of people killed or seriously injured; a 50 per cent reduction in the number of children killed or seriously injured; a 10 per cent reduction in the slight casualty rate, expressed as the number of people slightly injured per 100 million vehicle kilometres</li>
<li>London has already exceeded the 2010 targets set by the Government for children killed or seriously injured (50 per cent reduction) and the total number of people killed or seriously injured (40 per cent reduction) three years early.&nbsp;London has achieved this and also met a more stringent target, a 60 per cent reduction in the number of children killed or seriously injured</li></ul></ul>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "Transport for London&nbsp;(TfL)&nbsp;is launching its latest advertising campaign aimed at encouraging road safety amongst the Capital's teenagers. The new 'Don't let your friendship die on the road' theme is based on the insight that friendship is one of";}
        
        


 