


@{ViewBag.Title = "New bus lane to speed up bus journeys into Mitcham Town Centre";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>New bus lane to speed up bus journeys into Mitcham Town Centre</h1>
        <div class="content-page-press-release">
        03 March 2009
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        From Monday 16 March Transport for London (TfL) and Merton Council will begin works to install a northbound contra-flow bus lane and improved pedestrian crossing facilities on London Road, Mitcham.
        
    </div>



<div class="pull-quote">
        <div class="quote-body">"Bus users in the area can expect faster journey times once the new contra-flow lane has been completed"</div>
        <div class="quote-footer">
            <div class="quotee-name">Scott Lester</div>
            <div class="quotee-job-title">Head of Responsive Bus Priority</div>
        </div>
</div>

 <div class="on-this-page">
<div class="pullquote right">
                        <p>
                            Bus users in the area can expect faster journey times once the new contra-flow lane has been completed 
                            
                        </p>
                    </div>
                
            
            
            <p>The works are due to last between eight to ten weeks. </p>
<p>The new contra-flow bus lane will allow northbound buses to run straight along London Road instead of diverting via Lower Green West. </p>
<p>It will help to speed up bus journeys on routes 118, 127, 201 and 280. </p>
<p>Scott Lester, Head of Responsive Bus Priority at Transport for London, said: 'TfL and Merton have worked together to introduce this significant bus priority scheme for Mitcham. </p>
<h2>Faster journey times</h2>
<p>'Bus users in the area can expect faster journey times once the new contra-flow lane has been completed in mid-spring, as routes 118, 127, 201 and 280 will be able to use the new bus lane instead of having to go around Lower Green West.</p>
<p>'We will carefully monitor the impact of these changes to ensure we continue to provide the best possible bus services for people in this area.'</p>

<h2>A new bus stop</h2>
<p>Because of the installation of the new bus lane, from Saturday 7 March, routes 118, 127, 201 and 280 will no longer use the bus stop on Lower Green West, instead they will use a new stop on London Road.</p>

<p>There will also be some local stop changes for routes 270, 355 and S1. From Saturday 7 March, routes 270 and 355 will no longer serve Cricket Green instead they will be diverted at the town centre to serve Commonside West. </p>
<p>Passengers for London Road and Cricket Green will be able to use route 280 to and from Cricket Green. </p>
<p>Also, from Saturday 7 March, route S1 will continue to serve Cricket Green but will now terminate at the stop on Lower Green West (north arm). 
<hr>
&nbsp; <strong>Notes to editors:</strong> 
<p>
<ul>
<li>Merton council previously consulted stakeholders and the public on these changes </li>
<li>The bus route frequencies remain unchanged<br></li></ul>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "The works are due to last between eight to ten weeks. The new contra-flow bus lane will allow northbound buses to run straight along London Road instead of diverting via Lower Green West. It will help to speed up bus journeys on routes 118, 127, 201 and";}
        
        


 