


@{ViewBag.Title = "Revamped Tower Gateway station to open early ";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>Revamped Tower Gateway station to open early </h1>
        <div class="content-page-press-release">
        02 March 2009
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        Docklands Light Railway (DLR) today (Monday 2 March) reopened its refurbished Tower Gateway station,  two months ahead of schedule.
        
    </div>



 <div class="on-this-page">
<p>&pound;13m of improvements have been made to the station, which had been closed for eight months, including: </p>
<ul>
<li>The construction of a horseshoe-style platform, which makes it easier and faster for passengers to get on or off trains </li>
<li>Platform and track remodelling, to allow longer three-car trains to operate from early 2010 </li>
<li>The installation of new canopies that will provide better protection from adverse weather conditions </li>
<li>New energy-efficient escalators</li></ul>
<p>The Mayor of London, Boris Johnson, said: 'Plaudits must be accorded to everyone involved with this project. </p>
<h2>Direct service</h2>
<p>'Regular DLR users will have missed the station while it was shut but I know they will be pleased to discover an improved service upon their return.' </p>
<p>The re-opening of Tower Gateway also means DLR can now operate more trains to and from its new Woolwich Arsenal station. </p>
<p>During peak times there will be a train from Woolwich every five minutes, on average, instead of every seven.&nbsp; </p>
<p>Passengers will also be able to take a direct service from Tower Gateway to Beckton via the ExCeL exhibition and conference centre and the University of East London.</p>
<p>Jonathan Fox, Director DLR, said: 'Our new look Tower Gateway station includes many benefits for passengers and I am confident they will be impressed by its improved facilities and better accessibility. </p>
<h2>Improvements</h2>
<p>'Furthermore passengers travelling to Woolwich via London City Airport will enjoy a more frequent peak service, while those heading to Beckton via ExCeL and the University of East London can take advantage of a swift, direct journey.</p>
<p>'It is particularly pleasing to see DLR once again maintain its record of delivering major projects ahead of schedule.'</p>
<p>Ian Brown, Managing Director London Rail, said: 'This is the first of a series of improvements being finished this year to pave the way for the introduction of three-carriage DLR trains before the London 2012 Olympic and Paralympic Games.</p>
<p>'Finishing Tower Gateway is key to our planning for growth on the DLR in the future.'</p>
<p>
<hr>

<p>
<p><br><strong>Notes to editors: </strong></p>
<ul>
<li>Docklands Light Railway is part of Transport for London </li>
<li>The DLR Woolwich Arsenal extension was opened by the Mayor of London, Boris Johnson, on 12 January, seven weeks ahead of schedule </li>
<li>Off-peak trains will continue to travel to and from Woolwich Arsenal every 10 minutes </li>
<li>The Bank-Lewisham branch of the DLR network will begin running three-carriage trains early next year. The rest of the network will be able to run longer trains from 2011</li></ul>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "&pound;13m of improvements have been made to the station, which had been closed for eight months, including: The construction of a horseshoe-style platform, which makes it easier and faster for passengers to get on or off trains Platform and track";}
        
        


 