


@{ViewBag.Title = "Rotherhithe Tunnel will be closed this weekend for DLR station upgrade works";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>Rotherhithe Tunnel will be closed this weekend for DLR station upgrade works</h1>
        <div class="content-page-press-release">
        30 March 2009
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        Rotherhithe Tunnel and Branch Road in Tower Hamlets will be closed from midnight on Friday 3 April until 05:00 on Monday 6 April  to facilitate  Docklands Light Railway (DLR) platform extension works at Limehouse station.
        
    </div>



 <div class="on-this-page">
<p>Work needs to be carried out on the railway bridge above Branch Road, which means the road will need to be closed. </p>
<p>Rotherhithe tunnel will also be closed because Branch Road provides access to and from the tunnel for both south and northbound traffic.</p>
<p>Transport for London (TfL) will use this opportunity to carry out maintenance work in the Rotherhithe tunnel while it is closed. </p>
<p>To minimise the disruption to journeys, motorists are encouraged to check before they travel at <a href="http://www.tfl.gov.uk/trafficnews">www.tfl.gov.uk/trafficnews</a> or through Traffic Radio on DAB radio, to determine alternative routes. </p>
<p>Roadside message boards will also display diversion routes towards Tower Bridge.<br></p>
<p>
<hr>

<p>
<p><strong>Notes to editors:</strong></p>
<ul>
<li>Limehouse station will be closed during the platform extension works.&nbsp;Travellers are recommended to <a href="http://www.tfl.gov.uk/tfl/livetravelnews/realtime/road/default.asp">check before they travel</a> </li>
<li>This is the second time Rotherhithe Tunnel has been closed to facilitate the DLR platform works. The first phase of these works was carried out on the weekend of 27 and 28 February 2009 </li>
<li>DLR's contractor will be carrying out platform extension works at Limehouse station as part of their programme to lengthen platforms at stations on the Bank-Lewisham line. Once complete, DLR will be able to run trains which are three carriages long, thereby increasing capacity by 50 per cent<br></li></ul>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "Work needs to be carried out on the railway bridge above Branch Road, which means the road will need to be closed. Rotherhithe tunnel will also be closed because Branch Road provides access to and from the tunnel for both south and northbound";}
        
        


 