


@{ViewBag.Title = "Services on London Underground's Circle line to be extended to Hammersmith";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>Services on London Underground's Circle line to be extended to Hammersmith</h1>
        <div class="content-page-press-release">
        05 March 2009
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        London Underground (LU) has announced that Circle line services will be extended to Hammersmith from December 2009.
        
    </div>



 <div class="on-this-page">
<div class="pullquote right">
                        <p>
                            The added benefit will be the improved service from Edgware Road round to Hammersmith, almost doubling the frequency on this route
                            
                        </p>
                    </div>
                
            
            
            <p>The changes, which are part of the LU Investment Programme, will almost double the frequency of trains between Hammersmith and Edgware Road as well as increasing reliability and capacity on the Circle, District, Hammersmith &amp; City and Metropolitan lines.</p>
<p>On the Tube map the Circle line is shown as a single line. However it shares tracks with the District, Hammersmith &amp; City (H &amp; C) and Metropolitan lines and any disruption on these lines can cause delays to the Circle. </p>
<p>As Circle line trains currently move around the line without a fixed terminus, any delays are compounded over time, and make it harder to offer a regular or reliable service. </p>
<h2>Improved Service</h2>
<p>By giving the Circle line a start and end point LU will be able to recover the service quicker if there is disruption on the Circle or any of the lines that it shares tracks with. </p>
<p>The new service will run from Hammersmith (H &amp; C station) to Edgware Road station and then join the current Circle at Edgware Road and make a single loop, terminating at Edgware Road station. It will then reverse and do the full circle anti-clockwise, returning to Hammersmith.</p>
<p>Howard Collins, Chief Operating Officer, London Underground, said: 'The Circle line shares tracks with the District, Hammersmith &amp; City and Metropolitan lines and if there are service problems the Circle line inevitably becomes disrupted.</p>
<h2>Added benefits</h2>
<p>'The changes to service patterns on the Circle line will come into effect in December 2009 and will improve the reliability of the line, enabling services to recover more quickly if there is a disruption. </p>

<p>'It will still be called the Circle line and shown as a circle on the Tube map but with the additional extended service out to Hammersmith.</p>
<p>'The added benefit will be the improved service on the Hammersmith &amp; City line from Edgware Road round to Hammersmith, almost doubling the frequency on that route.'</p>
<p>This is the first phase of the Sub Surface lines upgrade, which will include a new fleet of air conditioned and accessible trains and a new state of the art signalling system.&nbsp; </p>
<p>
<hr>

<p>
<p>Notes to editors: </p>
<ul>
<li>The Sub Surface lines (Circle, District, Hammersmith &amp; City and Metropolitan) carry one third of the Underground's passengers and cover 300km of track </li>
<li>The first section of the Tube opened in 1863 between Paddington and Farringdon, and is still served in whole or in part by all four lines - the Circle, District, Hammersmith &amp; City and Metropolitan lines </li>
<li>The first of the new air conditioned, walkthrough trains - which will run on the Circle, District, Hammersmith &amp; City and Metropolitan Lines - will be delivered for testing in 2009 and start serving the Metropolitan line from 2010, the Circle and Hammersmith &amp; City lines from 2011 and the District from 2013<br></li></ul>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "The changes, which are part of the LU Investment Programme, will almost double the frequency of trains between Hammersmith and Edgware Road as well as increasing reliability and capacity on the Circle, District, Hammersmith &amp; City and Metropolitan";}
        
        


 