


@{ViewBag.Title = "Service changes during London Overground improvements";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>Service changes during London Overground improvements</h1>
        <div class="content-page-press-release">
        23 March 2009
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        London Overground is to change the frequency of services on some parts of the network as it presses ahead with ambitious plans to upgrade the railway.
        
    </div>



<div class="pull-quote">
        <div class="quote-body">"These are vital works to allow us to provide the benefits we promised to our passengers"</div>
        <div class="quote-footer">
            <div class="quotee-name">Howard Smith</div>
            <div class="quotee-job-title">TfL London Rail's Chief Operating Officer</div>
        </div>
</div>

 <div class="on-this-page">
<div class="pullquote right">
                        <p>
                            These are vital works to allow us to provide the benefits we promised to our passengers
                            
                        </p>
                    </div>
                
            
            
            <p>During the latest stage of the &pound;326 million upgrade of London Overground from 20 April until December 2009, there will be a number of changes to services: </p>
<ul>
<li>All peak time trains from Clapham Junction will now continue on to Stratford, instead of some terminating at Willesden Junction </li>
<li>A reduction of one train per hour for passengers travelling between Richmond and Stratford during peak times. There will be four trains an hour again when the work finishes </li>
<li>Passengers between Willesden Junction and Stratford will have six trains an hour in the peak times calling at their station, which for many stations is an increased service </li>
<li>On most Sundays, the Richmond to Stratford line will be closed but there will be a replacement bus service available </li>
<li>There will also be no service on most Sundays between Shepherd's Bush and Willesden Junction, however a shuttle train service will run between Clapham Junction and Shepherd's Bush</li></ul>
<p>The work, being carried out for London Overground by Network Rail between Camden Road and Dalston, will enable London Overground to run as many as eight trains per hour from 2011.&nbsp; </p>
<h2>Fantastic network</h2>

<p>TfL London Rail's Chief Operating Officer, Howard Smith said he sympathised with passengers, and asked them to be patient: 'We hope that passengers will bear with us, while the upgrade is delivered.&nbsp; </p>
<p>'These are vital works to allow us to provide the benefits we promised to our passengers.</p>
<p>'This major investment now will result in a fantastic network well in time for the London 2012 Olympic and Paralympic Games.'</p>
<p><strong>Notes to editors</strong></p>
<ul>
<li>The work is the next stage of a massive programme to improve the network costing &pound;326m </li>
<li>It includes replacing ageing signalling, communications systems (such as information boards for passengers) and track, as well extensive revamps of stations, and the introduction of brand new state-of-the art trains </li>
<li>London Overground Rail Operations Limited runs the network for Transport for London, which took over management responsibility for&nbsp; the old Silverlink Metro in November 2007 </li></ul>
<p><strong>Now</strong></p>
<ul>
<li>During peak hours, there are currently two trains an hour between Clapham Junction and Willesden Junction, with two more trains in the busiest period running through to Stratford </li>
<li>There are currently four trains an hour between Richmond and Stratford</li></ul>
<p><strong>During the work (April 20th to December)</strong></p>
<ul>
<li>There will be three trains an hour from Clapham Junction to Stratford. No trains will terminate at Willesden Junction </li>
<li>There will be three trains an hour between Richmond and Stratford, and one train, at the busiest period , between Richmond and Willesden Junction</li></ul>
<p><strong>By 2011</strong></p>
<ul>
<li>There will be two trains every hour between Clapham Junction and Stratford all day and including weekends </li>
<li>There will also be two trains an hour, all day and including weekends, between Clapham Junction and Willesden<br></li></ul>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "During the latest stage of the &pound;326 million upgrade of London Overground from 20 April until December 2009, there will be a number of changes to services: All peak time trains from Clapham Junction will now continue on to Stratford, instead of some";}
        
        


 