


@{ViewBag.Title = "TfL launches spring campaign to cut motorcycle deaths, as thousands return to commuting by bike";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>TfL launches spring campaign to cut motorcycle deaths, as thousands return to commuting by bike</h1>
        <div class="content-page-press-release">
        06 March 2009
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        Adverts warn drivers of dangerous 'optical effect' that can lead to collisions with motorcyclists.
        
    </div>



<div class="pull-quote">
        <div class="quote-body">"In 2007, there were 4,856 collisions in greater London involving powered two-wheelers"</div>
        <div class="quote-footer">
            <div class="quotee-name">Chris Lines</div>
            <div class="quotee-job-title">Head of the London Road Safety Unit at TfL</div>
        </div>
</div>

 <div class="on-this-page">
<div class="pullquote right">
                        <p>
                            In 2007, there were 4,856 collisions in greater London involving powered two-wheelers
                            
                        </p>
                    </div>
                
            
            
            <p>Transport for London (TfL) has launched a spring campaign to reduce the number of motorcyclists killed or injured in the Capital.</p>
<p>As the days get longer and the weather improves, thousands of people will be bringing their motorcycles out of winter hibernation for the daily commute into London. </p>
<p>The TV ads, which remind drivers to 'give motorcyclists a second thought', highlight an optical effect that psychologists believe could put motorcyclists at risk. <strong>*</strong></p>
<p>In tests, which used footage of vans, cars and motorcycles approaching at identical speeds, psychologists found that participants regularly estimated that motorcycles would take longer to reach them than larger vehicles. </p>
<h2>A second look</h2>
<p>This optical effect, caused by the way the brain assesses approaching objects, could cause drivers to underestimate how much time and space they have available when pulling out in front of approaching motorcycles. </p>
<p>Known by psychologists as the 'size-arrival effect', the phenomenon has now been demonstrated in a number of independent studies.&nbsp; </p>
<p>With the growing number of motorcycles on London's roads, TfL is asking drivers to ensure they take that all-important second look before performing any manoeuvre around motorcycles.</p>
<h2>Collisions</h2>
<p>Chris Lines, Head of the London Road Safety Unit at TfL, said: 'Motorcyclists are amongst the most vulnerable of London's road users. In 2007 there were 4,856 collisions in greater London involving powered two-wheelers. </p>
<p>'A total of 944 of these collisions resulted in a death or serious injury.</p>
<p>'This campaign highlights just one of the ways in which drivers can come into contact with motorcyclists. </p>
<p>'However, drivers should look out for motorcyclists in all situations, especially during the commuting hours, when a high proportion of collisions occur.</p>
<p>'Encouraging the use of bikes, whether they are the powered or pedal variety, is important to reduce congestion and keep London moving. </p>
<p>'Safer roads and more considerate driving will make it an easier choice for any Londoner wishing to make the switch to two wheels.'</p>
<h2>Timely campaign</h2>
<p>Kulveer Ranger, the Mayor of London's Transport Director, said:<br>&nbsp;<br>'As a car driver and a motorcyclist I am always conscious of the need for good visibility between all road users. </p>
<p>'This timely campaign demonstrates how important it is for drivers to take that extra little bit of time to ensure that, when they make a manoeuvre, they are not going to put motorcyclists at risk. </p>
<p>'This is one of the many ways that we will continue to bear down on accidents and make our roads safer for all Londoners.'</p>
<p><strong>*</strong> 'Motorcycle accident risk could be inflated by a time to arrival illusion' - Horswill, Helman, Ardiles &amp; Wann. Optometry and Vision Science, August 2005</p>
<p>
<hr>

<p>
<p><strong>Notes to editors:</strong> &nbsp; 
<ul>
<li>TfL's motorcycle safety adverts can be seen on ITV, C4 and Five, and heard on radio stations throughout the Capital, until 31 March 2009<br></li></ul>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "Transport for London (TfL) has launched a spring campaign to reduce the number of motorcyclists killed or injured in the Capital.As the days get longer and the weather improves, thousands of people will be bringing their motorcycles out of winter";}
        
        


 