


@{ViewBag.Title = "TfL launches new London Coach Parking Map for 2009";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>TfL launches new London Coach Parking Map for 2009</h1>
        <div class="content-page-press-release">
        11 March 2009
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        Transport for London (TfL) today launched a new Coach Map for 2009 to help coach drivers and operators get around London with ease.
        
    </div>



<div class="pull-quote">
        <div class="quote-body">"The London Coach Parking map is an indispensable guide for all coach drivers"</div>
        <div class="quote-footer">
            <div class="quotee-name">David Brown</div>
            <div class="quotee-job-title">Managing Director for TfL's Surface Transport</div>
        </div>
</div>

 <div class="on-this-page">
<div class="pullquote right">
                        <p>
                            The London Coach Parking map is an indispensable guide for all coach drivers 
                            
                        </p>
                    </div>
                
            
            
            <p>TfL has also for the first time launched a coach driver's helpline, which will provide an information service to drivers, operators and other tourist organisations seeking advice on coach parking facilities, prices, parking locations and regulations. </p>
<p>The new helpline reflects the Mayor of London's desire to improve coach parking as he is aware that many Londoners, particularly older and young people from the outer boroughs, rely on coaches to get into town to enjoy London's cultural life.</p>
<p>Now in its seventh year, the map, produced jointly by TfL and the Confederation of Passenger Transport (CPT), details the location, availability, cost and booking requirements of coach facilities in central London, Docklands, Greenwich and Woolwich.&nbsp; </p>
<h2>Tourist attractions</h2>
<p>This year the map has a theme of Royalty and features the locations of the parking facilities near London's iconic tourist attractions including the Tower of London, Buckingham Palace, Royal Observatory and Hampton Court Palace.</p>
<p>&nbsp;An interactive version of the map is available on TfL's website with other functions like live real-time traffic information and advice on planned road works. </p>
<p>As well as the Coach Parking Map and traffic information, there is information on the Low Emission Zone, parking regulations, special regulations near key places of interest and who to call if a coach has been towed or clamped.</p>
<p>A new dedicated bay to allow coaches to set down and pick up passengers on the westbound carriageway opposite Natural History Museum has been introduced in Cromwell Road this week. </p>
<h2>Guide for drivers</h2>
<p>The two vehicle facility (30 metres) is located outside the Lyc&eacute;e Fran&ccedil;ais Charles de Gaulle School and is operational 24 hours a day. </p>
<p>This facility was created to meet demand at this popular tourist attraction and follows an extensive consultation process.&nbsp; </p>
<p>David Brown, Managing Director for TfL's Surface Transport, said: 'The London Coach Parking map is an indispensable guide for all coach drivers and operators bringing groups into London. </p>
<p>'Coach operators and drivers will be able to access the most relevant information and confidently navigate the streets of London. </p>
<p>'We recognise the valuable contribution coaches make to London's economy and are keen to further improve facilities for coaches in the Capital.&nbsp; </p>
<h2>Coach facilities</h2>
<p>'The Coach Drivers' Helpline is also a fantastic new initiative which will provide the coach industry with easy access to information and make travel in London more straightforward.'</p>
<p>CPT Chief Executive, Simon Posner, added: 'Making coach travel to tourist attractions throughout the UK as attractive and uncomplicated as possible is of great importance to both operators and passengers. </p>
<p>'The latest version of the London Coach Parking Map, which places particular emphasis on the City's Royal attractions, goes a long way to achieving this.</p>
<p>'We are extremely grateful to TfL for all the work they have done in providing the key coach park and facilities information detailed within this map, and we look forward to working with them on all future initiatives.'</p>
<p>
<hr>
<strong>Notes to editors:<p>
<ul>
<li></li></ul></strong>An interactive version of the Coach Parking Map 2009, along with real time information on road works, public events, traffic information and CCTV images can be viewed at <a href="http://www.tfl.gov.uk/coachparking">tfl.gov.uk/coachparking</a>. Hard copies of the map are available from TfL by emailing <a href="mailto:coaches&#64;tfl.gov.uk">coaches&#64;tfl.gov.uk</a>
<li>CPT is the national trade association representing bus, coach and light rail operators</li>
<li>The Coach Driver's Helpline can be reached on 0845 604 0770. The line will initially be opened during office hours. It is not designed to deal with Penalty Charge Notices or appeals</li>
<li>Coaches make an important contribution to London's economy. There are over 3,000 coach movements in the Capital every day. One in three is on private hire/charter work bringing in visitors and tourists which pump over &pound;300m into London's economy</li>
<li>TfL is directly responsible for the Transport for London Road Network (TLRN) otherwise known as Red Routes - 580km of roads which make up 5 per cent of London's entire road network but carry 35 per cent of the city's traffic. Those routes must be kept clear to keep London moving, so there are limitations as to what on-street facilities like parking bays can be provided</li>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "TfL has also for the first time launched a coach driver's helpline, which will provide an information service to drivers, operators and other tourist organisations seeking advice on coach parking facilities, prices, parking locations and regulations. The";}
        
        


 