


@{ViewBag.Title = "TfL sets out &pound;9.2bn 2009/2010 budget to deliver major improvements this year";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>TfL sets out &pound;9.2bn 2009/2010 budget to deliver major improvements this year</h1>
        <div class="content-page-press-release">
        31 March 2009
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        Step change increase in investment to deliver major milestones for Tube upgrades, Crossrail, the East London Line, DLR and Cycle Hire scheme.
        
    </div>



<div class="pull-quote">
        <div class="quote-body">"Smoothing traffic flows will help get the most from our road system and we will revolutionise cycling"</div>
        <div class="quote-footer">
            <div class="quotee-name">Boris Johnson</div>
            <div class="quotee-job-title">Mayor of London</div>
        </div>
</div>

 <div class="on-this-page">
<div class="pullquote right">
                        <p>
                            Smoothing traffic flows will help get the most from our road system and we will revolutionise cycling
                            
                        </p>
                    </div>
                
            
            
            <p>Transport for London (TfL) today announced a &pound;9.2bn budget for 2009/2010 which will fund the delivery of a series of major transport improvements as part of its multi-billion pound Investment Programme.</p>
<h2>Major transport improvements</h2>
<p>The &pound;9.2bn budget, up from &pound;8.1bn last year, reflects the delivery of all of the Mayor's transport initiatives and manifesto commitments including on-going investment to upgrade the Tube, build Crossrail, extend the East London Line and DLR and implement major cycling initiatives including the new Cycle Hire scheme and Cycle Highways.</p>
<h2>Efficiency savings</h2>
<p>The budget, which includes both operating costs and capital investment, is underpinned by a drive to deliver better tax and fare payer value through at least &pound;2.4bn of efficiency savings that will be delivered over the nine year term of TfL's Business Plan. <br><br>The year ahead includes:</p>
<ul>
<li>The completion of the upgrade of the Jubilee line, delivering a 33 per cent&nbsp;increase in capacity to serve an extra 10,000 passengers an hour </li>
<li>The commencement of the redevelopment of Tottenham Court Road Underground station to provide vital additional capacity and serve Crossrail </li>
<li>The start of works at the new Isle of Dogs Crossrail station </li>
<li>Intensification of the work to extend the East London line&nbsp; - as part of London Overground -&nbsp; and the DLR, in preparation for the 2012 Games </li>
<li>Works to deliver the Mayor's Cycle Hire Scheme and the first Cycle Highways </li>
<li>A host of initiatives to help smooth traffic flow</li></ul>
<p>Mayor Boris Johnson, who Chairs TfL, said: 'We are committed to transforming our transport infrastructure, and are investing billions to create a network that Londoners will recognise as vastly improved from the one we have now.</p>
<p>'We will continue to upgrade the Tube, build Crossrail, prepare for the 2012 Games and create the thousands of jobs so vital to steering us through this period of economic turbulence.</p>
<h2>Revolutionise cycling</h2>
<p>'Smoothing traffic flows will help get the most from our road system and we will revolutionise cycling. </p>
<p>'We will sustain my increased investment in transport policing so that we deliver not only a bigger and better network, but also a safer one - making London an even better place in which to live and work.'</p>
<p>London's Transport Commissioner, Peter Hendy, said: 'Alongside this massive investment is the need to deliver clear value for money for London's taxpayers and farepayers.</p>
<p>'TfL has responded to this challenge by identifying at least &pound;2.4bn in savings and efficiencies, which we are making excellent progress in delivering. </p>
<p>'Our costs will also be subject to further on-going review.'</p>
<p>However, lower projections for future fare revenue caused by the deterioration in the wider economy and the drain on TfL's resources caused by the collapse of Metronet means that some work planned for 2009/10 must be cancelled or deferred until a later date.</p>
<h2>Deferral of works</h2>
<p>This means deferral of works at some Tube stations including the project to install step free access to the Circle and Metropolitan lines at Baker Street. </p>
<p>In addition, the Greenwich Waterfront Transit Scheme will be cancelled given the Mayor's earlier decision not to proceed with the Thames Gateway Bridge.</p>
<p>Boris Johnson said: 'TfL have done their best to balance their books in an extremely tough economic climate. </p>
<p>'At the same time as the downturn, the ramifications of the failure of the beast that was Metronet have also become increasingly clear. </p>
<p>'We are doing all we can, but we also need the Government to play its part by taking responsibility for the PPP that it inflicted on London, and providing the necessary support to improve London's transport system. </p>
<p>'Transport projects provide a fantastic opportunity to help London and the UK recover from the recession. </p>
<p>'The collapse of Metronet already means that some work must be put back or cancelled, so I will be relentless in making the case to the Government that they should not let other projects falter.'<br>
<hr>

<p>
<p><strong>Notes to editors:</strong></p>
<ul>
<li>The 2009/10 TfL Budget will be published on-line at <a href="http://www.tfl.gov.uk/corporate">www.tfl.gov.uk/corporate</a> </li>
<li>Copies of the Budget can be requested from the TfL Press Office<br></li></ul>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "Transport for London (TfL) today announced a &pound;9.2bn budget for 2009/2010 which will fund the delivery of a series of major transport improvements as part of its multi-billion pound Investment Programme.Major transport improvementsThe &pound;9.2bn";}
        
        


 