


@{ViewBag.Title = "Transport for London prosecutes Southern Gas Networks for street works violations";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>Transport for London prosecutes Southern Gas Networks for street works violations</h1>
        <div class="content-page-press-release">
        25 March 2009
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        Utility company has been successfully prosecuted for breaking rules on street works.
        
    </div>



<div class="pull-quote">
        <div class="quote-body">"These road works caused a real safety hazard for pedestrians"</div>
        <div class="quote-footer">
            <div class="quotee-name">Nick Morris</div>
            <div class="quotee-job-title">Transport for London's Director of Road Network Performance</div>
        </div>
</div>

 <div class="on-this-page">
<div class="pullquote right">
                        <p>
                            These road works caused a real safety hazard for pedestrians
                            
                        </p>
                    </div>
                
            
            
            <p>Transport for London (TfL) has successfully prosecuted Southern Gas Networks (SGN) for operating unsafe street works when a footpath was closed off in Bromley last year. </p>
<p>The closure forced pedestrians into the road and restricted access for local residents. </p>
<p>SGN was fined a total of &pound;9,000, plus &pound;2,452.50 in court costs after pleading guilty last week to four charges of badly managing their street works. </p>
<h2>Safety concern</h2>
<p>During a hearing at Westminster Magistrates' Court the presiding judge said SGN had failed to demonstrate concern for public safety in the course of these works, thereby placing road users at risk.</p>
<p>The prosecution has further illustrated the reasons that the Mayor of London, Boris Johnson, is championing a permit scheme as part of his campaign on reducing the impact of road works in the Capital. </p>
<p>This would help to ensure that any company that wants to dig up London roads takes appropriate steps to minimise the associated disruption and can be fined when they do not do so. </p>
<p>In this case SGN had completely closed off around 100m of footpath without providing a safe alternative walkway for pedestrians or provision for residents to access their adjacent properties. </p>
<h2>Minimise disruption</h2>
<p>As the Street Authority TfL requested that a safe pedestrian walkway was provided immediately. </p>
<p>However at site visits on 29 August, 2 September and 3 September this had not been done safely or adequately and further measures had to be requested. </p>
<p>Nick Morris, Transport for London's Director of Road Network Performance said: 'These road works caused a real safety hazard for pedestrians, not to mention the inconvenience to those residents living alongside.</p>
<p>'It is this kind of poor works management which illustrates the need for a London Permit Scheme so that we can properly regulate the companies that are digging up our roads.</p>
<h2>Coordinating works</h2>
<p>'Nevertheless, this level of fine shows that the courts understand the serious safety implications of this case, and the frustration this kind of behaviour causes to thousands of Londoners.'</p>
<p>The works took place outside around 20 properties along the A21 Bromley Hill, which is part of the TfL Road Network (TLRN).</p>
<p>In an effort to better coordinate street works and ensure they are undertaken quickly and with consideration to the local community, </p>
<p>TfL and 18 London boroughs have begun a three month consultation on the proposed new London Permit Scheme. </p>
<p>The permit scheme, championed by the Mayor of London as part of his pledge to smooth traffic flow in the Capital, would help to ensure that any company that wants to dig up London roads takes appropriate steps to minimise the associated disruption.</p>
<p>
<hr>
<strong>Notes to editors: <p>
<ul>
<li></li></ul></strong>SGN appeared before Westminster Magistrates Court on Thursday 19 March. They pleaded guilty to the following charges:
<ul>
<li>Failure to cooperate with the street authority (TfL) in the course of executing streetworks</li>
<li>Three offences of Failure to execute streetworks in a safe manner thereby placing public safety at risk on 29 August, 2 September and 3 September 2008</li></ul>
<li>TfL took action through the courts under Section 65 of the New Roads and Streetworks Act 1991 - failure to sign and guard their site adequately; and under Section 60 - failure to cooperate with the street authority in the interests of safety</li>
<li>TfL, as street authority for the TLRN, has a duty to ensure that any works that are carried out on these roads is done in a safe and efficient way, and can direct utilities or other companies digging up the roads to adhere to Streetworks Act requirements accordingly</li>
<li>TfL is responsible for the management and maintenance of the 580km&nbsp;TLRN which although comprising just 5 per cent of all roads in London, carries over 30 per cent of the Capital's traffic</li>
<li>The London Permit Scheme is 'designed to control the carrying out of specific works in specific streets in a specific area. It replaces the 'notice system' under the New Roads and Street Works Act 1991 (NRSWA) whereby utility companies inform highway authorities of their intentions to carry out works in their areas</li>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "Transport for London (TfL) has successfully prosecuted Southern Gas Networks (SGN) for operating unsafe street works when a footpath was closed off in Bromley last year. The closure forced pedestrians into the road and restricted access for local";}
        
        


 