


@{ViewBag.Title = "Troubadour for Tube Map Cover";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>Troubadour for Tube Map Cover</h1>
        <div class="content-page-press-release">
        12 March 2009
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        From this week Tube customers will be able to pick up a brand new art work from stations across the London Underground network.
        
    </div>



 <div class="on-this-page">
<p>'Troubadour Carrying a Cytiole' by celebrated British artist Paul Noble is the latest cover design for the Pocket Tube Map, commissioned by Art on the Underground.</p>
<p>Celebrating the Tube's many renowned buskers, Noble's work depicts a troubadour, or travelling musician and storyteller, rendered in pencil, accompanied by this intriguing medieval instrument. </p>
<h2>The Troubadours</h2>
<p>This whimsical illustration draws a parallel between the lives of the troubadours who, in the Middle Ages, would travel from court to court to perform poetry and song and the experience of Tube customers who make their journeys across the city each day.</p>
<p>The pencil drawing is of a character from a much larger work that Noble is currently developing and so refers to the Tube system itself as an architectural environment of a fantastical and maze-like nature.&nbsp; </p>
<h2>International recognition</h2>

<p>This is something he famously explored in his monumental eight-year project - the meticulous depiction of a fictional city called Nobson Newtown, for which he received widespread international recognition.</p>
<p>His work is the latest in a long series of commissions by Art on the Underground for the Pocket Tube Map cover. </p>
<p>These have included works by some of the most exciting artists making work today, including Jeremy Deller, David Shrigley, Cornelia Parker and Gary Hume.&nbsp; </p>
<p>
<hr>

<p>
<p><strong>Notes to editors</strong></p>
<ul>
<li>The Pocket Tube Map covers form the basis of a permanent collection of unique works by world class artists and, as such, are becoming collectors' items as the portfolio grows. Available from stations across the network, the map has one of the largest print runs for any organisation in Europe, with over 5 million printed per design and almost 15 million per year </li>
<li>Paul Noble was born in the UK in 1963.&nbsp; After completion of his degree at Humberside College of Higher Education in 1986 he moved to London. He became one of the founding members of the not-for-profit gallery City Racing in Kennington, which built a reputation as a supportive environment for artists.&nbsp; His work explores themes of hopelessness and social malfunction, creating highly detailed, yet bleak and despairing, fantastical landscapes in graphite and paint.&nbsp; The work in Noble's 2004 solo show at the Whitechapel Gallery, 'Nobson Newtown', took 8 years to complete, and included a series of large scale detailed aerial drawings of a fictional city. In 2007 he showed at the Gagosian Gallery in New York </li>
<li>Art on the Underground is London Underground's art programme, producing high calibre artworks throughout the network, enhancing the millions of journeys made every day. It aims to promote a greater understanding of the Tube as a cultural and social environment through the creative commissioning of artworks. With between three and a half to four million passengers using the network per day, Art on the Underground projects are exposed to one of the largest and diverse audiences in Europe </li>
<li>For more information about Art on the Underground, please visit <a href="http://www.tfl.gov.uk/art">www.tfl.gov.uk/art</a> </li>
<li>An image of Paul Noble's new artwork 'Troubadour Carrying a Cytiole', is available at <a href="http://www.theresasimon.com/press">www.theresasimon.com/press</a> - just log in with your name and email address, click next, and choose the link from the project menu </li>
<li>All London Underground buskers have to pass an audition and be talented musicians before they are allowed to entertain passengers on designated pitches at Tube stations </li>
<li>London Underground (LU) is undertaking a major programme of renewal as part of Transport for London's Investment Programme.&nbsp; This will inevitably result in some disruption for passengers, but TfL is working hard to provide information and alternative travel options.&nbsp; The work is essential to provide for London's growing transport needs now, and into the future.&nbsp; TfL is urging all Londoners and Tube, London Overground and DLR passengers to "check before you travel" at weekends, allowing extra journey time where necessary. Weekend travel news is available at <a href="http://www.tfl.gov.uk/">http://www.tfl.gov.uk/</a><br></li></ul>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "'Troubadour Carrying a Cytiole' by celebrated British artist Paul Noble is the latest cover design for the Pocket Tube Map, commissioned by Art on the Underground.Celebrating the Tube's many renowned buskers, Noble's work depicts a troubadour, or";}
        
        


 