


@{ViewBag.Title = "Visit Oyster online and beat the queues";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>Visit Oyster online and beat the queues</h1>
        <div class="content-page-press-release">
        02 March 2009
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        Visit Oyster online during March and enter a Prize Draw to win one of 120 Apple iPod touches
        
    </div>



<div class="pull-quote">
        <div class="quote-body">"Oyster remains the quickest, easiest and most convenient way to get around London"</div>
        <div class="quote-footer">
            <div class="quotee-name">Shashi Verma</div>
            <div class="quotee-job-title">TfL Director of Fares and Ticketing</div>
        </div>
</div>

 <div class="on-this-page">
<div class="pullquote right">
                        <p>
                            Oyster remains the quickest, easiest and most convenient way to get around London 
                            
                        </p>
                    </div>
                
            
            
            <p>
<p>Transport for London (TfL) is encouraging people to visit its <a href="http://www.tfl.gov.uk/oyster">Oyster online shop </a>to find out about the benefits of managing Oyster via the web.</p>
<p>The Oyster online shop enables you to purchase pay as you go credit, Travelcard and Bus Pass season tickets from the comfort of your home or workplace, whenever is convenient for you - enabling you to beat the queues at ticket offices or ticket machines. </p>
<p>Online customers can also access a range of services, including: checking their pay as you go balance, protecting their card if it is lost or stolen and setting up Auto top-up so that their pay as you go credit automatically tops up whenever their balance drops below &pound;5.&nbsp; </p>
<h2>Win an iPod touch</h2>
<p>First time customers can also purchase an Oyster card online and have it sent to their home.</p>

<p>Visit the <a href="http://www.tfl.gov.uk/oyster">Oyster online shop </a>over the next three weeks and you could win one of 120 iPod touch portable media players with Internet capabilities, which can keep you up-to-date with travel in London, including <a href="http://www.journeyplanner.org/user/XSLT_TRIP_REQUEST2?language=en">TfL's Journey Planner</a>.</p>
<p>To give yourself a chance of winning go to <a href="http://www.tfl.gov.uk/oyster">www.tfl.gov.uk/oyster</a> and click on the 'win an iPod touch' icon.&nbsp; The competition will run from Monday 2 March until Sunday 22 March.&nbsp; Each week 40 iPod touches will be given away.&nbsp; </p>
<p>Shashi Verma, TfL Director of Fares and Ticketing, said: 'Oyster remains the quickest, easiest and most convenient way to get around London and accessing Oyster online makes life even easier.&nbsp; Why queue up on a Monday morning to buy your weekly Travelcard?</p>
<p>'With Oyster you can get on board the train, tram or bus having bought your ticket sitting on your sofa over the weekend.&nbsp; The Oyster online shop offers a range of products and services and if you decide to register your card it will protect the balance and any travel product if the card is lost or stolen.'</p>
<p>
<hr>

<p>
<p><strong>Notes to editors:</strong></p>
<ul>
<li>For further information on Oyster products and the Prize Draw, please visit <a href="http://www.tfl.gov.uk/oyster">www.tfl.gov.uk/oyster</a> </li>
<li>The Prize Draw offer starts on Monday 02 March and ends at midnight on Sunday 22 March 2009. One entry per person per week </li>
<li>The Oyster card has been a huge success since its introduction across the TfL network in 2003 </li>
<li>There are now over&nbsp;six million cards in regular use saving passengers time and money.&nbsp; Last year three billion journeys were made with Oyster </li>
<li>Oyster is accepted across Tube, bus, tram, DLR, London Overground and on selected National Rail services </li>
<li>Up to three different Travelcards or Bus Pass season tickets and up to &pound;90 pay as you go credit can be stored on the same Oyster card at the same time </li>
<li>Registered Oyster cards - in the event of loss or theft - have any annual, monthly, 7-day Travelcard or Bus Pass products or pay as you go value protected</li></ul>
<p>&nbsp;</p>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "Transport for London (TfL) is encouraging people to visit its Oyster online shop to find out about the benefits of managing Oyster via the web.The Oyster online shop enables you to purchase pay as you go credit, Travelcard and Bus Pass season tickets from";}
        
        


 