


@{ViewBag.Title = "Westbound carriageway of the A406 North Circular Road, between Green Lanes and Telford Road, will be reduced to a single lane until early June ";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>Westbound carriageway of the A406 North Circular Road, between Green Lanes and Telford Road, will be reduced to a single lane until early June </h1>
        <div class="content-page-press-release">
        16 March 2009
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        Lane closure is to facilitate gas works.
        
    </div>



 <div class="on-this-page">
<p>Transport for London (TfL) is advising motorists using the westbound A406 North Circular Road between Green Lanes and Telford Road in Bounds Green, Enfield, to consider alternative routes for the next three months as one westbound lane will be closed to facilitate National Grid gas main works.</p>
<h2>Delays expected</h2>
<p>The works will be undertaken in phases with the first phase of restrictions in place on the inside westbound lane between Brownlow Road and Telford Road&nbsp; starting on Tuesday 17 March 09 until early May 09.&nbsp; The second phase will be from Green Lanes to Brownlow Road between early May 09 and mid June 09, weather permitting.&nbsp;&nbsp; </p>
<p>The A406 will remain open in both directions during this time, however with westbound traffic restricted between these two junctions, delays are expected. </p>
<h2>Check before you travel</h2>
<p>To minimise the disruption to journeys, motorists are encouraged to check before they travel at <a href="http://www.tfl.gov.uk/trafficnews">www.tfl.gov.uk/trafficnews</a> or through Traffic Radio on DAB radio, to determine alternative routes.</p>
<p>The works are a part of National Grid Group's gas pipe upgrade programme. </p>
<p>TfL has been working with National Grid to notify residents and other stakeholders of the upcoming works and motorists will also be made aware through roadside message boards.</p>
<p><strong>Notes to Editors:</strong></p>
<ul>
<li>As part of the commitment by Mayor of London, Boris Johnson, to smooth traffic flow in the Capital, TfL and 18 London boroughs have begun a three month consultation on the proposed new London Permit Scheme, which aims to regulate street works. The permit scheme would help to ensure that any company that wants to dig up London roads causes as little disruption to Londoners as possible </li>
<li>While National Grid carries out its works, TfL will take every opportunity to carry out any other necessary works in the area to minimise any future disruption. Other utilities will also be encouraged to coordinate and carry out any planned works they may have on this section of carriageway at the same time </li>
<li>The A406 North Circular Road is part of the Transport for London Road Network (TLRN) which constitutes 5 per cent of all roads in London<br></li></ul>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "Transport for London (TfL) is advising motorists using the westbound A406 North Circular Road between Green Lanes and Telford Road in Bounds Green, Enfield, to consider alternative routes for the next three months as one westbound lane will be closed to";}
        
        


 