


@{ViewBag.Title = "Better bus information on the way";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>Better bus information on the way</h1>
        <div class="content-page-press-release">
        03 September 2009
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        Transport for London (TfL) today announced that within the next two years, Londoners will be able to find out exactly when their next bus is due by using their mobile phone or the internet.
        
    </div>



<div class="pull-quote">
        <div class="quote-body">"Londoners will be able to find out exactly when their bus is due to arrive at their stop before they have even stepped outside their front door"</div>
        <div class="quote-footer">
            <div class="quotee-name">Boris Johnson</div>
            <div class="quotee-job-title">The Mayor of London</div>
        </div>
</div>

 <div class="on-this-page">
<div class="pullquote right">
                        <p>
                            Londoners will be able to find out exactly when their bus is due to arrive at their stop before they have even stepped outside their front door
                            
                        </p>
                    </div>
                
            
            
            <p>Brand new Countdown signs will also provide bus arrival time predictions at 2,500 key stops across the Capital.</p>
<p>The Mayor of London, Boris Johnson, said: 'This terrific technology means anyone with a mobile or internet connection will be able to get up to the minute information about London's buses as they work their way around the Capital. </p>
<p>'Londoners will be able to find out exactly when their bus is due to arrive at their stop before they have even stepped outside their front door.'</p>
<p>Three contracts to develop and deliver these improvements have been awarded to telent, ACIS and Trueform.&nbsp; </p>
<p>Mobile and web information should be available by the beginning of 2011, and the roll out of new Countdown signs will begin a few months later.</p>
<p>Clare Kavanagh, London Buses' Director of Performance, said: 'These improvements will mean you'll never have to run for a bus again - with accurate, reliable information on bus services at your fingertips, you'll be able to find out exactly when the next bus is due to arrive at your stop.</p>
<p>'This builds on the success of iBus, which already provides on board journey information on every bus in the fleet, and it demonstrates our commitment to using the latest technology to make the bus service even easier to use.'</p>
<p>&nbsp;</p>
<p>
<hr>
<strong>Notes to editors:</strong><strong> </strong>
<ul>
<li>The contract to develop the software and deliver web and mobile content has been awarded to telent. Two contracts to supply, install and maintain bus stop signs have been awarded to ACIS and Trueform </li>
<li>All three contracts will run for 12 years</li></ul>
<p>&nbsp;</p>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "Brand new Countdown signs will also provide bus arrival time predictions at 2,500 key stops across the Capital.The Mayor of London, Boris Johnson, said: 'This terrific technology means anyone with a mobile or internet connection will be able to get up to";}
        
        


 