


@{ViewBag.Title = "Boost for West London as Mayor opens new Imperial Wharf station";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>Boost for West London as Mayor opens new Imperial Wharf station</h1>
        <div class="content-page-press-release">
        29 September 2009
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        Thousands of local residents directly connected to London Overground and rail network for first time.
        
    </div>



<div class="pull-quote">
        <div class="quote-body">"This stylish new station is an example of what can be achieved when private investment and local government work together"</div>
        <div class="quote-footer">
            <div class="quotee-name">Boris Johnson</div>
            <div class="quotee-job-title">Mayor of London</div>
        </div>
</div>

 <div class="on-this-page">
<div class="pullquote right">
                        <p>
                            This stylish new station is an example of what can be achieved when private investment and local government work together
                            
                        </p>
                    </div>
                
            
            
            <p>Thousands of West Londoners will benefit from rail access to the Capital's transport system, as Mayor Boris Johnson today opened a new London Overground station at Imperial Wharf. <br>&nbsp;<br>The &pound;7.8m Imperial Wharf station in the new Imperial Wharf development provides residents in Hammersmith and Fulham, Chelsea, and West Brompton with high frequency rail connections to the major transport interchanges of Clapham Junction and Willesden Junction. </p>
<h2>Station facilities</h2>
<p>The station, partially funded by Transport for London (TfL), features Oyster ticketing, a staffed ticket office, step-free access, CCTV, and the latest security and information features.&nbsp;</p>
<p>It is served by London Overground's new air-conditioned trains, which have increased capacity, walk-through carriages and driver-monitored CCTV for improved security.</p>
<p>From 2011, it will be served by four London Overground trains per hour, all day, every day. Southern trains also call at the station. </p>
<h2>Working together</h2>
<p>Boris Johnson said: 'The building of this stylish new station is an example of what can be achieved when private investment and local government work together for a common goal.&nbsp;</p>
<p>'It can only serve to encourage inward investment and help bring new businesses and jobs to an area that, although a neighbour to the high-fliers of Chelsea Harbour, has long been in need of the regeneration that is now taking place.</p>
<p>'The station gives people in this part of London, hitherto poorly served by the rail network, fast connections to the rest of the transport network, and puts Imperial Wharf well and truly on the map.'</p>
<p>Tony Carey, Managing Director of St George PLC, the company which built the station, said: 'St George is proud to have enabled the new Imperial Wharf station to be built by taking both the responsibility for project management and constructing the station as well as providing a substantial &pound;4.8m towards the cost of this &pound;7.8m station. </p>
<h2>Helping commuters</h2>
<p>'Working closely with national, regional and local organisations we have delivered the station ahead of schedule demonstrating how public and private sector cooperation can provide significant new public transport infrastructure for the benefit of the local community, residents and businesses in Hammersmith&nbsp;and Fulham and southern Kensington&nbsp;and Chelsea.'</p>
<p>Cllr Stephen Greenhalgh, Leader of Hammersmith&nbsp;and Fulham Council which co-funded the station, said: 'Imperial Wharf station will make the lives of thousands of commuters in Fulham and Chelsea much easier. It has taken a while to get here but after a lot of hard work by everyone involved there is light at the end of the tunnel. </p>
<h2>Linking the borough</h2>
<p>'We aim to make Hammersmith&nbsp;and Fulham the Borough of Opportunity and great transport links are vital to achieving this. I am delighted that the north and south of the borough are now linked by Overground for the first time since the Second World War.'</p>
<p>Cllr Merrick Cockell, Leader of Kensington and Chelsea Council, which also co-funded the project, said: 'This station will be a real boost to south Chelsea residents.&nbsp; </p>
<p>'It's taken a while, but thanks to Hammersmith&nbsp;and Fulham and my own Council forging a strong partnership with TfL and the private sector we have been able to improve public transport in an area where residents for many years have been calling for better links.'<br>
<hr>
<strong>Notes to editors</strong> 
<p>
<ul>
<li>The new Imperial Wharf railway station has been constructed and delivered months ahead of schedule by developer St George in partnership with London Borough of Hammersmith&nbsp;and Fulham, Network Rail, TfL, British Transport Police and Royal Borough of Kensington and Chelsea </li>
<li>Imperial Wharf was funded as follows:<br>-&nbsp;&nbsp;&nbsp;&nbsp; &pound;4.8m from St George<br>-&nbsp;&nbsp;&nbsp;&nbsp; &pound;1m from TfL<br>-&nbsp;&nbsp;&nbsp;&nbsp; &pound;650,000 from Royal Borough of Kensington&nbsp;and Chelsea<br>-&nbsp;&nbsp;&nbsp;&nbsp; &pound;1,350,000 met from London Borough of Hammersmith&nbsp;and Fulham </li>
<li>The station is only&nbsp;nine minutes by train to Shepherd's Bush for Westfield Shopping centre </li>
<li>The Imperial Wharf Station incorporates a new contemporary station plaza - a well planned, integrated urban space, with granite paving, seating, lighting and mature trees </li>
<li>Its platforms are designed for London Overground's longer, four-car trains due for delivery in 201</li></ul>
<p>&nbsp;</p>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "Thousands of West Londoners will benefit from rail access to the Capital's transport system, as Mayor Boris Johnson today opened a new London Overground station at Imperial Wharf. &nbsp;The &pound;7.8m Imperial Wharf station in the new Imperial Wharf";}
        
        


 