


@{ViewBag.Title = "Central London roads close as weekend of cycling comes to London";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>Central London roads close as weekend of cycling comes to London</h1>
        <div class="content-page-press-release">
        17 September 2009
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        Tour of Britain on 19 September brings professional cycling to London's streets. Mayor of London's Skyride on 20 September gives cyclists traffic-free access to central London roads.
        
    </div>



 <div class="on-this-page">
<p>
<p>Final preparations are now underway to bring a weekend of cycling to the streets of central London on 19 and 20 September.</p>
<p>On Saturday 19 September, the Tour of Britain will finish in the Capital with the 96 professional cyclists racing for 86km on a central London circuit that takes in some of the city's most iconic landmarks.</p>
<p>Then, on Sunday 20 September, the Mayor of London's Skyride will be held in central London. </p>
<p>The mass-participation bike ride will take in some of London's most famous landmarks on a 15km traffic-free course and is part of the Mayor of London and Transport for London's commitment to making London a city that cycles.</p>
<h2>Weekend of cycling</h2>
<p>To facilitate these events, roads will be closed in the City of Westminster and the City of London across the weekend to make way for the thousands of spectators and cyclists expected to watch the Tour of Britain final and take part in the Mayor of London's Skyride event. </p>
<p>A number of bus routes will also be placed on diversion in central London.</p>
<p>For details of diversions and for further travel information, please&nbsp;use <a href="http://www.tfl.gov.uk/journeyplanner">Journey Planner</a> or call the Travel Information Center on 020 7222 1234.</p>
<p>For more information on the Tour of Britain, please visit the <a href="http://www.tourofbritain.co.uk/">website</a>. </p>
<p>For more information about the Mayor of London's Skyride visit&nbsp;the <a href="http://www.goskyride.com/london">website</a>.</p>
<p>
<hr>

<p>
<p><strong>Notes to editors:</strong></p>
<p>The following roads will be closed over the weekend.</p>
<p><strong>Friday 18 September:<p>
<ul>
<li></li></ul></strong>From 23:00: Victoria Embankment will be closed northbound from Bridge Street
<p><strong>Saturday 19 September:</strong></p>
<ul>
<li>From 00:01: Upper Thames Street will be closed westbound at Queen Street place. There will be additional closures westbound on Victoria Embankment at Temple Place, Northumberland Avenue and Horse Guards Avenue</li>
<li>From 04:00: Horse Guards Avenue will be closed westbound at Whitehall Court</li>
<li>From 06:00: Victoria Embankment, Upper Thames Street, Lower Thames Street, Tower Hill, Westminster Bridge, Parliament Square, Whitehall and Horse Guards Parade will be closed. There will be a contraflow on the west side of Parliament Square for traffic</li>
<li>From 13:00: The Mall between Horse Guards Road and Spur, Marlborough Road will be closed</li>
<li>From 18:00: There will be no access to The Mall from Admiralty Arch. Horse Guards Road will be closed between Great George Street and The Mall</li></ul>
<p><strong>Sunday 20 September:</strong></p>
<ul>
<li>Northumberland Avenue, Victoria Embankment, Upper Thames Street, Lower Thames Street, Byward Street, Tower Hill, Southwark Bridge, Puddle Dock Lane, Queen Victoria Street, Goodman Street, St Pauls Churchyard, New Change and Cheapside will be closed. Trafalgar Square will be open to eastbound traffic only</li></ul>
<p>The following bus routes will be on diversion throughout the weekend.</p>
<p><strong>Saturday 19 September: </strong></p>
<ul>
<li>Routes 3, 11, 12, 15, 15H, 24, 25, 29, 53, 87, 88, 91, 148, 159, 211, 344, 388, 453, N2, N3, N5, N11, N15, N18, N20, N21, N26, N29, N41, N44, N47, N52, N87, N89, N91, N97, N136, N155, N159, N279, N343, N381, N550 and&nbsp;N551</li></ul>
<p><strong>Sunday 20 September:</strong></p>
<ul>
<li>Routes 3, 4, 6, 8, 9, 9H, 11, 12, 13, 15, 15H, 17, 23, 24, 25, 26, 29, 53, 76, 87, 88, 91, 100, 139, 159, 172, 176, 242, 344 and&nbsp;453</li></ul>
<ul>
<li>There will be six pit stop hubs for the Skyride route located at Canada Water, Oval, Ravenscourt Park, Swiss Cottage, Highbury &amp; Islington and Mile End</li>
<li>The number of cycle journeys made on London's major roads has increased by 107 per cent since 2000, and it is hoped that the events over the weekend will inspire even more Londoners to get on their bikes</li>
<li>Restrictions apply to taking bicycles on public transport. For more information, go <a href="http://www.tfl.gov.uk/roadusers/cycling/11701.aspx ">online</a></li>
<li>Engineering works will be taking place on a number of London Underground services over the weekend and some train services will be replaced by buses. People wishing to participate in The Mayor of London's Skyride are advised that only folding bikes may be taken on replacement buses and should check whether their journey will be affected&nbsp;using <a href="http://www.tfl.gov.uk/journeyplanner">Journey Planner</a>&nbsp;or calling the Travel Information Centre on 020 7222 1234</li></ul>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "Final preparations are now underway to bring a weekend of cycling to the streets of central London on 19 and 20 September.On Saturday 19 September, the Tour of Britain will finish in the Capital with the 96 professional cyclists racing for 86km on a";}
        
        


 