


@{ViewBag.Title = "Giant eye warns drug drivers to stay away from the wheel";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>Giant eye warns drug drivers to stay away from the wheel</h1>
        <div class="content-page-press-release">
        09 September 2009
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        The pupil of a giant eye has been placed on the back of buses by Transport for London (TfL) as part of its latest campaign.
        
    </div>



<div class="pull-quote">
        <div class="quote-body">"Transport for London is delighted to be able to use this eye catching way to remind Londoners about the dangers of drug driving"</div>
        <div class="quote-footer">
            <div class="quotee-name">Chris Lines</div>
            <div class="quotee-job-title">Head of London Road Safety Unit TfL</div>
        </div>
</div>

 <div class="on-this-page">
<div class="pullquote right">
                        <p>
                            Transport for London is delighted to be able to use this eye catching way to remind Londoners about the dangers of drug driving
                            
                        </p>
                    </div>
                
            
            
            <p>The adverts, appearing on ten buses across London, are part of the latest TfL/THINK! anti-drug driving campaign 'Your Eyes Will Give You Away'. </p>
<p>The 'mega-rear' follows hot on the heels of a brand new television commercial that aims to reduce the number of people who make the decision to drive after consuming illegal drugs.</p>
<p>The image and strapline refers to the medical fact that drugs have an involuntary effect on the eyes that can't be controlled. This is one of a number of effects that can be spotted by the Police. </p>
<p>Anyone convicted of driving while unfit through drugs will get a minimum 12-month driving ban, a criminal record and a fine of up to &pound;5000.</p>
<p>TfL is leading the THINK! campaign approach in the Capital.</p>
<p>Chris Lines, Head of London Road Safety Unit at TfL said: 'Transport for London is delighted to be able to use this eye catching way to remind Londoners about the dangers of drug driving.&nbsp;</p>
<p>'The police can spot the signs that someone is driving under the influence of drugs and - as the new campaign highlights - once a driver has been stopped their eyes will give them away because of the obvious and involuntary effects drugs have on the body.&nbsp;</p>
<p>'This message is outstanding and clear, your eyes will give you away.'</p>
<p>The campaign includes a TV advertisement, online and poster advertising and face to face work across the country.</p>
<p>
<hr>
<strong>Notes to editors:</strong>
<ul>
<li>Visit the <a title="Opens in a new window" href="http://www.dft.gov.uk/think/drugdrive">THINK! </a>website&nbsp;for more information </li>
<li>Television adverts airing nationally until 13 September 2009 </li>
<li>THINK! has been promoting the 'Don't drug drive' message since 2003, The primary audience is&nbsp; young men aged between 17 and 29 who are most at risk of driving while on illegal drugs, with a secondary audience of passengers who may be able to influence such drivers </li>
<li>Penalties for drug driving are the same as for drink driving:<br>-&nbsp;On conviction, a minimum 12 month disqualification and a maximum fine of &pound;5,000<br>-&nbsp;As with drink-drivers, the record of disqualification remains on a licence for 11 years, which can mean problems for those who drive for a living<br>-&nbsp;Convictions can mean difficulties in renting cars or getting visas for some countries<br></li></ul>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "The adverts, appearing on ten buses across London, are part of the latest TfL/THINK! anti-drug driving campaign 'Your Eyes Will Give You Away'. The 'mega-rear' follows hot on the heels of a brand new television commercial that aims to reduce the number of";}
        
        


 