


@{ViewBag.Title = "Introduction of pink Oyster route validators at selected stations ";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>Introduction of pink Oyster route validators at selected stations </h1>
        <div class="content-page-press-release">
        04 September 2009
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        From 6 September, new Oyster readers will enable some passengers to benefit from cheaper fares. The latest improvement is part of a &pound;40m Transport for London (TfL) upgrade to prepare for Oyster roll-out on National Rail.
        
    </div>



<div class="pull-quote">
        <div class="quote-body">"Some passengers may actually get cheaper fares"</div>
        <div class="quote-footer">
            <div class="quotee-name">Shashi Verma</div>
            <div class="quotee-job-title">Director of Fares and Ticketing at TfL</div>
        </div>
</div>

 <div class="on-this-page">
<div class="pullquote right">
                        <p>
                            Some passengers may actually get cheaper fares
                            
                        </p>
                    </div>
                
            
            
            today announced that Oyster pay as you go customers could get cheaper fares by touching in mid way through their journeys at nine key London Overground and Tube stations dependent on the route they take. <p> <p>From Sunday 6 September 2009, all Oyster pay as you go passengers should touch their cards on new pink Oyster route validators when they change between services at Gospel Oak, Gunnersbury, Highbury &amp; Islington, Kensington Olympia, Rayners Lane, Stratford, West Brompton, Willesden Junction and Blackhorse Road. </p> <h2>The appropriate fare</h2> <p>The introduction of Oyster route validators will mean that the Oyster system will identify when passengers have avoided travelling through Zone 1 for those journeys where there are several different choices of route. </p> <p>This will mean that passengers who use the new readers, and touch in and out at the start and end of their journeys, will show that they have avoided Zone 1, and will be charged the appropriate fare.</p> <p>The improvement is part of a &pound;40m upgrade of Oyster that will enable the roll-out of pay as you go on National Rail services in London from January 2010.&nbsp; </p> <p>The upgrade will also mean that Oyster can now charge a more accurate fare for journeys that have several different choices of route. </p> <h2>The best deal</h2> <p>Kulveer Ranger, the Mayor of London's Transport Adviser, said: 'This latest improvement again shows the Mayor's commitment to delivering Oyster on National Rail and also ensuring that fare paying passengers get the best deal when using Oyster.'</p> <p>Shashi Verma, Director of Fares and Ticketing at TfL, said: 'From 6 September, all Oyster pay as you go passengers should touch on a new pink Oyster route validator reader when changing between services at nine key London Overground and Tube stations. </p> <p>'By touching the pink reader en route - in addition to touching in and out at either end of your journey - you will be charged the appropriate Oyster single fare for your journey based on the route you take. </p> <p>'In doing so, some passengers may actually get cheaper fares.&nbsp; </p> <h2>Information campaign</h2> <p>'The change comes as part of TfL's &pound;40m upgrade of the Oyster system to enable the roll out on National Rail.&nbsp; Look out for posters and leaflets at stations and check online at <a href="http://www.tfl.gov.uk/">tfl.gov.uk</a> for details.'</p> <p>The introduction of the new Oyster route validators will be supported by a customer information campaign including posters, leaflets, on-platform and on-train announcements and face-to-face activity at all nine stations. </p> <p>The pink Oyster route validators are similar in appearance to existing passenger validators but have pink rather than the traditional yellow card readers. </p> <p>Oyster route validators have been installed where passengers will naturally change trains or services.&nbsp; </p> <p> <hr> <strong>Notes to editors:</strong>  <ul> <li>Passengers changing services at these stations to avoid travelling through Zone 1 will be charged according to the route they take.&nbsp;Example journeys include:  <ul type="circle"> <li>Watford Junction to Richmond - &pound;7 peak and &pound;4 off-peak via Zone 1, cut to &pound;3.50 and &pound;1.10 respectively by changing trains at Willesden Junction  </li><li>Peak fares from Wembley Central to Canary Wharf via Zone 1 can be cut from &pound;2.80 to &pound;2 by changing services at Willesden Junction  </li><li>Peak fares from Epping to Richmond could be cut from &pound;3.80 to &pound;2 by changing services at Stratford</li></ul> <li>Oyster has been a huge success since its introduction in 2003.&nbsp;More than six million Oyster cards are regularly used in London.&nbsp;More than two billion passenger journeys were made with Oyster last year  </li><li>When passengers use Oyster pay as you go they must touch in and out on the yellow card readers on the Tube, Docklands Light Railway and London Overground, the system automatically calculates the appropriate fare for the journey within a fifth of a second from up to 1.83 million permutations  </li><li>Almost three times as many passengers can pass through a Tube station gateline using an Oyster card, compared to those using paper tickets - 40 a minute compared to 15 a minute  </li><li>Daily Price Capping with Oyster pay as you go ensures that passengers who make multiple journeys on public transport in a day in London will never be charged more than the price of the equivalent Day Travelcard or One Day Bus Pass  </li><li>Auto Top-up ensures that passengers never run out of cash to pay as they go. By signing up for Auto Top-up at <a href="http://www.tfl.gov.uk/oyster">tfl.gov.uk/oyster</a>, you can ensure that when your balance drops below &pound;5, it will automatically be topped up with either &pound;20 or &pound;40 the next time you touch in on any yellow card reader on Tube, bus, Tramlink, London Overground or Docklands Light Railway  </li><li>Oyster is available from <a href="http://www.tfl.gov.uk/oyster">Oyster Online</a>; from 3,800 Oyster Ticket Stops across London - <a href="http://ticketstoplocator.tfl.gov.uk/LocationLocator/">find the nearest one to you</a>; or call 0845 330 9876;&nbsp;Tube and London Overground ticket offices and ticket machines;&nbsp;the following Travel Information Centres across London (open seven days a week):  <ul type="circle"> <li>Liverpool Street Tube station  </li><li>Piccadilly Circus Tube station  </li><li>Euston Mainline station  </li><li>Victoria Mainline station  </li><li>Heathrow Terminals 1,2,3 Tube station  </li><li>Camden Town Hall - opposite King's Cross station (Monday-Friday only)</li></ul></li></li></ul>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "today announced that Oyster pay as you go customers could get cheaper fares by touching in mid way through their journeys at nine key London Overground and Tube stations dependent on the route they take.From Sunday 6 September 2009, all Oyster pay as you";}
        
        


 