


@{ViewBag.Title = "London Underground staff turn the Tube green, purple and pink";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>London Underground staff turn the Tube green, purple and pink</h1>
        <div class="content-page-press-release">
        11 September 2009
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        Everything's coming up roses on the Tube as winners of the London Underground (LU) in Bloom gardening competition are announced.
        
    </div>



<div class="pull-quote">
        <div class="quote-body">"I have been bowled over by the enthusiasm and effort that has been put in"</div>
        <div class="quote-footer">
            <div class="quotee-name">Howard Collins</div>
            <div class="quotee-job-title">LU Chief Operating Officer</div>
        </div>
</div>

 <div class="on-this-page">
<div class="pullquote right">
                        <p>
                            I have been bowled over by the enthusiasm and effort that has been put in
                            
                        </p>
                    </div>
                
            
            
            <p>The work of green-fingered Tube staff to grow flowers and plants on the network has been honoured at this year's Underground in Bloom. </p>
<p>The LU staff gardening awards aim to recognise employees who have gone beyond the call of duty to add splashes of colourful flowers and plants to the network.</p>
<p>Some of the winners included:</p>
<ul>
<li>Rickmansworth on the Metropolitan line scooped a double win of the prestigious Best Overall Entry, the first time the station has won this prize, and Tubs. The station will now also receive an award from the London in Bloom Awards to acknowledge them as the Best Overall Station Garden in London </li>
<li>District line Upminster Train Crew were awarded the Best Cultivated Garden prize </li>
<li>Central line stations Woodford and Newbury Park scooped Best Newcomer and Hanging Baskets respectively </li>
<li>Entries were also received from some of London's most famous stations such as Oxford Circus, Sloane Square and Victoria</li></ul>
<h2>Green fingers</h2>
<p>Howard Collins, LU Chief Operating Officer, said: 'I have been bowled over by the enthusiasm and effort that has been put in by London Underground staff for this year's Underground in Bloom. </p>
<p>'Passenger feedback has told us time and time again that our staff's work really lifts and improves their travelling experience.</p>
<p>'That our employees have given so much of their own time, money and resources to brighten up the Tube is a testament to their dedication to the service and London as a whole.'</p>
<p>The competition also helped to strengthen links between staff and passengers. </p>
<p>Some entrants, like staff from West Kensington and Newbury Park stations, teamed up with locals to create their oasis of floral splendor within a traditionally urban environment. </p>
<p>Others like Sloane Square opened up their station garden for local schools to visit and help tend to.&nbsp; </p>
<h2>Local imput</h2>
<p>This year was the biggest Underground in Bloom competition ever with more than a quarter of the network taking part. </p>
<p>The standard of entries also increased with some teams growing a variety of fruit and vegetables like juicy tomatoes and sweet strawberries in various nooks and crannies on the Tube.</p>
<p>There are eight categories in the competition - Best Newcomer, Cultivated Garden, Hanging Baskets - the John Knight award, Trains and Service Control, Tubs, the Dennis Sanger special award, Best Overall Garden and an art category called Gardens in Bloom. </p>
<p>Further details on Underground in Bloom and 2009 winners and entrants can be found at <a href="http://www.tfl.gov.uk/undergroundinbloom">tfl.gov.uk/undergroundinbloom</a></p>
<p>
<hr>

<p>
<p><strong>Notes to editors:</strong>&nbsp;</p>
<p>Underground in Bloom</p>
<ul>
<li>Underground in Bloom aims to recognise staff that go beyond the call of duty to enhance their station environment through plants and flowers </li>
<li>This year was the biggest ever Underground in Bloom competition as almost a quarter of stations, train depots and service control rooms across the network entered. Inner London entrants included Bayswater, Clapham North, Oxford Circus, Victoria and South Kensington. Outer London entrants included Harrow &amp; Wealdstone, Neasden, Sudbury Hill and Rickmansworth </li>
<li>Last year's Overall Best Garden winner was Sudbury Hill, with Northwood Hills in second place, and High Barnet and Newbury Park stations joint third </li>
<li>Judging took place from 27 July&nbsp;to 7 August with the announcement of winners on 10 September. The judges were senior LU officials including LU's Chief Operating Officer Howard Collins </li>
<li>Winners and runners for each category are as follows: 
<ul>
<li>Overall Best: 1st: Rickmansworth, 2nd: High Barnet and 3rd Upminster Train Crew Accommodation </li>
<li>Best Newcomer:&nbsp;1st: Woodford, 2nd: Colindale and joint 3rd: Preston Road and High Barnet </li>
<li>Cultivated Garden: 1st: Upminster Train Crew Accommodation, 2nd: Finchley Central and joint 3rd: Northwood Hills and Sudbury Town&nbsp; </li>
<li>Hanging Baskets: 1st: Newbury Park, 2nd: Stratford Market Train Depot, and joint 3rd: Rickmansworth and West Ruislip Train Crew Accommodation </li>
<li>Tubs: 1st: Rickmansworth, 2nd: Greenford and joint 3rd: Cockfosters and Neasden Train Crew Accommodation </li>
<li>Train and Service Control: 1st: Stratford Market Train Depot, 2nd: Upminster Train Crew Accommodation and joint 3rd: West Ruislip Train Crew Accommodation and Stratford Train Crew Accommodation (Fleet House) </li>
<li>The Dennis Sanger special award: Joint 1st: Gill Hilgner and Edgware Group&nbsp;Garden Project (stations in this group are Brent Cross, Colindale and Hendon Central) and 3rd: Maida Vale&nbsp;&nbsp; </li></ul></li></ul>
<p>Bio-diversity and LU</p>
<ul>
<li>LU trains run across 220kms of overground track on 10 different lines </li>
<li>LU is one of the biggest landowners in London </li>
<li>Around 55 per cent of the LU network is above ground and we manage approximately 10 per cent of the wildlife habitat in London </li>
<li>Over 1,000 different species of plants and animals have been recorded on LU land since 1999 </li>
<li>200 sites on the Tube network have been identified as Sites of Importance for Nature Conservation by many of London's local authorities </li>
<li>For more information on the biodiversity protection projects that are being carried out on the Tube, see London Underground's <a class="new-window filetype-pdf" title=" (Opens in new window)" href="http://www.tfl.gov.uk/assets/downloads/LU-Biodiversity-Action-Plan-final.pdf" jquery1252675499570="6">Biodiversity Action Plan</a> </li>
<li>LU is currently undergoing a massive investment programme to upgrade lines, increase capacity, decrease journey times and provide a great environment for our passengers. By doing this we can continue to provide a strong alternative to higher carbon modes of transport to meet the needs of London's growing population</li></ul>
<p>London in Bloom</p>
<ul>
<li>London in Bloom supports and encourages gardening, horticulture and environmental sustainability across the 31 boroughs and two cities of Greater London </li>
<li>It is one of 17 regional campaigns which make up the Royal Horticultural Society's Britain in Bloom - Europe's largest horticultural campaign </li>
<li>Entries are invited from local authorities, who can run their own local in Bloom competition. Entries are also invited from community groups and schools across the region who wish to improve their local environment </li>
<li>In 2008 tens of thousands of Londoners helped to enhance London's green spaces, private and public gardens, businesses as part of London in Bloom </li>
<li>This engagement with neighbourhoods, towns, boroughs and cities helps to promote to the wider community the benefits of gardening as a healthy and beneficial pastime for people of all ages and experience</li></ul>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "The work of green-fingered Tube staff to grow flowers and plants on the network has been honoured at this year's Underground in Bloom. The LU staff gardening awards aim to recognise employees who have gone beyond the call of duty to add splashes of";}
        
        


 