


@{ViewBag.Title = "London's rail chief receives major award";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>London's rail chief receives major award</h1>
        <div class="content-page-press-release">
        22 September 2009
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        Ian Brown, the Managing Director of Transport for London's (TfL) London Rail directorate and Chairman of Docklands Light Railway received an award for making 'an outstanding personal contribution to the rail industry' at London's National Rail Awards.
        
    </div>



<div class="pull-quote">
        <div class="quote-body">"It was very pleasing that TfL's rail team involvement in the rail industry was recognised at the National Rail Awards"</div>
        <div class="quote-footer">
            <div class="quotee-name">Ian Brown</div>
            <div class="quotee-job-title">Managing Director of Transport for London's London Rail</div>
        </div>
</div>

 <div class="on-this-page">
<div class="pullquote right">
                        <p>
                            It was very pleasing that TfL's rail team involvement in the rail industry was recognised at the National Rail Awards
                            
                        </p>
                    </div>
                
            
            
            <p>Presenting him with the Senior Executive Outstanding Contribution for 2009, Judges' Chairman John Swift QC, said Mr Brown had helped secure unprecedented investment in&nbsp;London's rail network.</p>
<p>'None of this would have been happened without Ian Brown's vision, direction, determination, skills - and inspired leadership,' he added.</p>
<p>The other judges added that Mr Brown's contribution to the railway industry in London over the last eight to 10 years had been 'exceptional and of very considerable impact.'</p>
<p>Following the awards, known as the rail industry's 'Oscars', Mr Brown said: 'It was very pleasing that TfL's rail team involvement in the rail industry was recognised at the National Rail Awards.'</p>
<p>He is responsible for implementing the Mayor's strategy to provide a full integration of National Rail services with London's transport network and taking forward major National Rail projects in London, including the introduction of the London Overground and major rail service infrastructure upgrades.</p>
<p>Prior to joining TfL, Mr Brown had a wide range of experience in the rail industry; he was Managing Director of Railfreight Distribution for eight years where he introduced Channel Tunnel rail freight services.</p>
<p>He was previously a member of the Chairman's Policy Unit at the British Railway's Board.</p>
<p>Other British Rail positions included InterCity Manager, West Coast Main Line, and Chief Passenger Manager at London Midland Region.<br></p>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "Presenting him with the Senior Executive Outstanding Contribution for 2009, Judges' Chairman John Swift QC, said Mr Brown had helped secure unprecedented investment in&nbsp;London's rail network.'None of this would have been happened without Ian Brown's";}
        
        


 