


@{ViewBag.Title = "London to Disneyland on a Magical Taxi Tour";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>London to Disneyland on a Magical Taxi Tour</h1>
        <div class="content-page-press-release">
        30 September 2009
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        London's taxi drivers take a large group of seriously ill children on a trip of a lifetime.
        
    </div>



<div class="pull-quote">
        <div class="quote-body">"The cabbies who give up their time and their earnings to take part in this annual armada are London's unsung heroes"</div>
        <div class="quote-footer">
            <div class="quotee-name">Boris Johnson</div>
            <div class="quotee-job-title">The Mayor of London</div>
        </div>
</div>

 <div class="on-this-page">
<div class="pullquote right">
                        <p>
                            The cabbies who give up their time and their earnings to take part in this annual armada are London's unsung heroes
                            
                        </p>
                    </div>
                
            
            
            <p>On Friday 2 October 2009, a convoy of around 100 licensed London taxis will set off with 170 children with serious illnesses on a magical trip of a lifetime to Disneyland Paris.&nbsp; </p>
<p>Since it began in 1994, around 3,200 sick children have enjoyed the annual Children's Magical Taxi Tour, organised by the Worshipful Company of Hackney Carriage Drivers.&nbsp;</p>
<h2>Wonderful break</h2>
<p>This year's event will begin on 2 October when taxi drivers will pick up their young charges and their carers from their homes or hospitals, and take them to Canary Wharf for a big breakfast send off.</p>
<p>With everybody gathered and the excitement building, the Lord Mayoress of the City of London, Lin Luder, will cut a ribbon to mark the start of the trip. </p>
<p>The escorted convoy, which is expected to stretch to around three miles, will head off towards Dover and the Channel crossing at around 08:15. </p>
<p>The Mayor of London, Boris Johnson, said: 'The cabbies who give up their time and their earnings to take part in this annual armada are London's unsung heroes. </p>
<p>'Thanks to their hard work thousands of very ill children have enjoyed a quite wonderful break from their troubles. I doff my cap to everyone involved with this incredible event.' </p>
<h2>Worthwhile effort</h2>
<p>Phil Davis, Chairman of the Disney Organising Committee, said: 'Every year the smiles on the children's faces make all the hard work and effort worthwhile.&nbsp;</p>
<p>'And it doesn't just make the children smile - our drivers, support staff, ambulance drivers and paramedics, together with everyone involved in making the Magical Taxi Tour a success, smile too. </p>
<p>'Some of the licensed taxi drivers will be making this trip for the 16th time - such is the dedication of everyone involved in the event.'</p>
<p>The Public Carriage Office's (PCO's) recently appointed Director of Taxi and Private Hire, John Mason, said: 'We are delighted to support this great event, which has in the past brought a lot of joy to thousands of children.&nbsp; </p>
<p>'For some of these children it will have been their first time in a cab and their first time to go abroad, which makes it even more special. </p>
<h2>Great time for all</h2>
<p>'This year we've sponsored a taxi with a member of the PCO staff driving the children, their families and carers all the way to the magical world of Disney and back.&nbsp;I am sure they will all have a great time.'</p>
<p>The Children's Magical Taxi Tour is paid for entirely by sponsorship and fundraising, and the taxi drivers are giving up their time and their vehicles without charge.&nbsp; </p>
<p>All of the vehicles will be liveried with advertising and sponsors' details, clearly marking them as part of the convoy.</p>
<p>Travelling with the convoy will be City of London and Metropolitan Police escorts, London Ambulance NHS Trust vehicles, a group of AA breakdown trucks to help out if there are any mechanical problems en route, and a contingency from the Gendarmarie Nationale, who are responsible for public safety in France.</p>
<p><br></p>
<p>
<hr>

<p>
<p><strong>Notes to editors:</strong></p>
<ul>
<li>The Public Carriage Office (PCO) is responsible for regulating London's taxi and private hire services </li>
<li>Since this event began in 1994, 1,500 taxis have taken almost 3,200 children to Disneyland </li>
<li>Some of the drivers have been involved in the Children's Magic Taxi Tour every year since the beginning, clocking up over 10,000 unpaid miles of driving </li>
<li>For more information&nbsp;visit the&nbsp;<a title="Miagical Taxi Tour" href="http://www.magicaltaxitour.com/">Magical Taxi Tour website </a></li></ul>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "On Friday 2 October 2009, a convoy of around 100 licensed London taxis will set off with 170 children with serious illnesses on a magical trip of a lifetime to Disneyland Paris.&nbsp; Since it began in 1994, around 3,200 sick children have enjoyed the";}
        
        


 