


@{ViewBag.Title = "Mike Brown named as new Managing Director of London Underground";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>Mike Brown named as new Managing Director of London Underground</h1>
        <div class="content-page-press-release">
        14 September 2009
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        Transport Commissioner, Peter Hendy today announced that Mike Brown will be the new Managing Director of London Underground (LU).
        
    </div>



<div class="pull-quote">
        <div class="quote-body">"Mike is an experienced leader and will make a superb boss of the Tube"</div>
        <div class="quote-footer">
            <div class="quotee-name">Boris Johnson</div>
            <div class="quotee-job-title">Mayor of London</div>
        </div>
</div>

 <div class="on-this-page">
<div class="pullquote right">
                        <p>
                            Mike is an experienced leader and will make a superb boss of the Tube
                            
                        </p>
                    </div>
                
            
            
            <p>Mike returns to LU in early 2010, having previously been its Chief Operating Officer.&nbsp; </p>
<p>Transport Commissioner, Peter Hendy said: 'Mike has an impressive track record of leadership and delivery and takes the reins at one of the most important times in the Tube's 146-year history. </p>
<h2>Transforming the Tube</h2>
<p>'After decades of neglect, the system is literally being rebuilt.&nbsp;We now stand on the cusp of delivering huge improvements for passengers which will enable London's long-term growth and prosperity.&nbsp;Mike will bring all of this to fruition while demonstrating clear value for every pound spent.'</p>
<p>Mayor of London, Boris Johnson said: 'Mike is an experienced leader, and will make a superb boss of the Tube.&nbsp;</p>
<p>'These are tough times, but we're investing billions in transforming our network - reducing overcrowding, running more frequent and reliable services and making journeys more agreeable through modern, air-conditioned trains. </p>
<h2>Value for money</h2>
<p>'I know that Mike will lead from the front. He'll help to deliver value for money and maintain staff pride in working for the oldest metro system in the world and in providing exceptional customer service.'</p>
<p>Mike Brown said: 'It is a privilege to have been offered this chance to lead London Underground.&nbsp;</p>
<p>'Millions of passengers rely on the Tube every day and I look forward to working collaboratively with LU's staff and all our partners to deliver the improvements so vital to London's future.'</p>
<p>Peter Hendy continued: 'Richard Parry, as interim Managing Director, has done and is doing a superb job running LU.&nbsp;I am delighted he will continue in that position until Mike arrives and work with him thereafter as part of the senior management team.'<br><br></p><strong>
<hr>
Notes to editors:</strong> 
<p>
<p>Biography:</p>
<p>Mike Brown first joined London Underground in 1989 and worked in various operational manager roles before becoming the company's Chief Operating Officer in 2003.&nbsp;In 2008, he joined BAA with responsibility for running Heathrow, the world's busiest international airport.&nbsp;His focus at the airport has been to improve performance and reduce costs while a multi billion pound rebuilding programme was underway. </p>
<p>London Underground - Key facts and figures:</p>
<ul>
<li>The Tube is the oldest metro system in the world.&nbsp;The first line running from Farringdon to Paddington was built in 1863 </li>
<li>Last year, LU carried more than a billion passengers for the third year running. 1,089 million passengers travelled on the Tube in 2008/9, the highest in its 146-year history </li>
<li>The Tube carries around 3.5 million passengers a day </li>
<li>Number of miles/km travelled by each Tube train each year: 76,800 miles/123,600km </li>
<li>Length of network: 402km/249 miles </li>
<li>Total number of stations served: 270&nbsp; </li></ul>
<p>&nbsp;</p>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "Mike returns to LU in early 2010, having previously been its Chief Operating Officer.&nbsp; Transport Commissioner, Peter Hendy said: 'Mike has an impressive track record of leadership and delivery and takes the reins at one of the most important times in";}
        
        


 