


@{ViewBag.Title = "New Travel Information Centre opens at Euston ";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>New Travel Information Centre opens at Euston </h1>
        <div class="content-page-press-release">
        25 September 2009
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        Passengers using bus, National Rail and Tube services at Euston can now benefit from a new Travel Information Centre which opened today.
        
    </div>



 <div class="on-this-page">
<div class="pullquote right">
                        <p>
                            Customers can now benefit from a fully accessible walk in centre 
                            
                        </p>
                    </div>
                
            
            
            <p>The new centre, situated on the concourse of Euston mainline station, is bigger and more welcoming than its predecessor which was just a small kiosk.&nbsp; </p>
<p>Customers can now walk into the new centre for advice on the best way to get around the Capital or to get information to help them with their onward journey.&nbsp; </p>
<p>Transport for London (TfL) Travel Information Centres are a one-stop shop for information about transport services in London including fares and maps.&nbsp; </p>
<p>The travel centres also sell tickets to many of London's top venues including fast track admission to London's main visitor attractions, theatres, and London sightseeing tours.</p>

<h2>Getting around</h2>
<p>The new centre is also fully accessible which means that wheelchair users, parents with buggies as well as those with heavy luggage can easily access the services provided.&nbsp; </p>
<p>Bryan Chapman, Customer Service Manager, TfL Travel Information Centres said: 'This new larger Travel Information Centre will make a huge difference to all our customers at Euston. </p>
<p>'Customers can now benefit from a fully accessible walk in centre to obtain any transport and visitor information they need from our staff.'</p>
<p>In recent years the previous structure, an old portacabin right opposite platform eight had become outdated and far too small to meet growing demand with only two customer service windows.&nbsp; </p>

<h2>Visitor information</h2>
<p>This meant that long queues could develop which was an inconvenience to customers and other users of the central concourse. </p>
<p>Jo Kaye, Network Rail Route Director, said: 'More than 70 million passengers use our station each year and Euston is the main gateway to London for people from Birmingham, Manchester, Liverpool and Glasgow.&nbsp; </p>
<p>'We're delighted to have worked with TfL to deliver their new Travel Information Centre, which will provide an invaluable service to rail passengers who have arrived in London for the first time or visit only once or twice year.'</p>
<p>Richard Smith, a customer who uses the new Travel Information Centre said: 'The new centre is much nicer as you can just walk in and talk to staff to find out about the transport and visitor information you need, plus the staff are really friendly and helpful.&nbsp; </p>

<h2>Seven days a week</h2>
<p>'It's a great way to get information.'</p>
<p>There are six Travel Information Centres across London, open&nbsp;seven days a week from 07:15 to 21:00.&nbsp; </p>
<p>The Centres are situated at Liverpool Street Tube station, Euston mainline station, Victoria mainline station and Heathrow Terminals 1, 2, 3 Tube station.</p>
<p>Piccadilly Circus Tube station is open from 09:15 to 19:00, 7 days a week, and Camden Town Hall is open from 09:00 to 17:00, Monday to Friday.</p>
<p>
<hr>
Notes to editors: 
<p>
<blockquote>
<li>Last year, over 2 million customers visited TfL's Travel Information Centres across London at; Liverpool Street, Piccadilly Circus, Euston, Victoria, Heathrow and Camden </li>
<li>Travel Information Centres have been giving advice on travel for nearly 70 years </li>
<li>The first centre opened in 1940 to help people get round London during the London Blitz (World War II), as most station signs outside central London had been removed and bus, Tube and rail services were restricted. These Travel Information Centres were easy to assemble and could therefore be moved to locations where&nbsp;they were most needed </li>
<li>Tourist Information Centres took on a tourism role in 1944 to help American/Commonwealth troops in London make the most of their time in the Capital </li>
<li>Today the centres provide a one-stop-shop for tickets and information. A list of some of the services include: 
<ul>
<li>Advice and sale of tickets including: Oyster pay as you go, Travelcards and Bus passes </li>
<li>Congestion Charge payments </li>
<li>Information and booking of Heathrow and Gatwick Express services and Southern train services between London Victoria and Gatwick Airport </li>
<li>Fast-track admission tickets to some of London's most popular tourist attractions, such as The Tower of London and Madam Tussauds </li>
<li>Booking and advice on rail and coach tours in Britain, Paris, Brussels and Brugge </li>
<li>Advice on any access requirements<br></li></ul></li></blockquote>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "The new centre, situated on the concourse of Euston mainline station, is bigger and more welcoming than its predecessor which was just a small kiosk.&nbsp; Customers can now walk into the new centre for advice on the best way to get around the Capital or";}
        
        


 