


@{ViewBag.Title = "New edition of 'Poems on the Underground' hits bookstores ";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>New edition of 'Poems on the Underground' hits bookstores </h1>
        <div class="content-page-press-release">
        28 September 2009
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        The latest Poems on the Underground book called 'Best Poems on the Underground' will be available to buy in bookshops from 1 October.
        
    </div>



<div class="pull-quote">
        <div class="quote-body">"The new book Best of Poems on the Underground has 300 poems which over the years have proved particularly popular with passengers"</div>
        <div class="quote-footer">
            <div class="quotee-name">Judith Chernaik</div>
            <div class="quotee-job-title">founder of Poems on the Underground</div>
        </div>
</div>

 <div class="on-this-page">
<div class="pullquote right">
                        <p>
                            The new book Best of Poems on the Underground has 300 poems which over the years have proved particularly popular with passengers
                            
                        </p>
                    </div>
                
            
            
            <p>This edition has many of the poems that have appeared on Tube trains between 1986 and 2009.&nbsp; </p>
<p>A new set of six poems taken from the book will also appear on the network from Monday 5 October. </p>
<p>Four poems about love and loss have been chosen from the first year of the programme. </p>
<p>These include: Sonnet 18 by William Shakespeare, Her Anxiety by W.B Yeats, This Is Just to Say by William Carlos Williams and Everyone Sang by Siegfried Sassoon. </p>
<p>The current Poet Laureate Carol Ann Duffy's Prayer and Indian Cooking by Moniza Alvi also feature. </p>
<p>Judith Chernaik, founder of Poems on the Underground, said: 'The new book Best of Poems on the Underground has 300 poems which over the years have proved particularly popular with passengers. </p>
<h2>Valued contemplation</h2>
<p>'The verses are drawn from past and present, British and world poetry and reflect the special multi-cultural character of London.'</p>
<p>Tamsin Dillon, Head of Art on the Underground, said: 'Poems on the Underground have been a huge success with the millions of customers that travel on the Tube everyday and I hope that this most recent set of poems will add a moment of valued contemplation to their journeys.'</p>
<p>In support of the new edition a reading will take place at the <a href="http://www.lrbshop.co.uk/">London Review Book Shop</a> on Tuesday 6 October at 7pm, with Wendy Cope, Jo Shapcott and George Szirtes.</p>
<p>A second reading will be hosted at the <a href="http://www.troubadour.co.uk/">Troubadour Coffee House</a> on Monday 2 November at 8pm, with John Hegley, Dannie Abse, Moniza Alvi and Grace Nichols.</p>
<hr>

<p>
<p><strong>Notes to editors:</strong></p>
<ul>
<li>Best Poems on the Underground is published by Weidenfeld &amp; Nicolson in hardback on 1 October 2009 and will cost &pound;16.99 </li>
<li>Poems on the Underground was founded in 1986 </li>
<li>The programme is supported by London Underground (<a href="http://www.tfl.gov.uk/tfl/corporate/projectsandschemes/artmusicdesign/pfa/default.asp">Art on the Underground</a>), Arts Council England and the British Council </li>
<li>Poems are selected and the programme administered by Judith Chernaik and poets Gerard Benson and Cicely Herbert </li>
<li>Praised for their elegance, clarity and simplicity, Poems on the Underground has inspired similar programmes on public transport in Dublin, Paris, New York, Vienna, Stockholm, Helsinki, Athens, Barcelona, Moscow, St Petersburg and, most recently, Shanghai </li>
<li>The best selling anthologies Poems on the Underground 2001 (10th edition), New Poems on the Underground 2006 and the Poems on the Underground Audiobook (Cassell 2006) are available from most bookshops and London's Transport Museum gift shop </li>
<li>London Underground (LU) is undertaking a major programme of renewal as part of Transport for London's multi-billion pound Investment Programme.&nbsp; This will inevitably result in some disruption for passengers, but TfL is working hard to provide information and alternative travel options.&nbsp; The work is essential to provide for London's growing transport needs now, and into the future.&nbsp; TfL is urging all Londoners and Tube, London Overground and DLR passengers to "check before you travel" at weekends, allowing extra journey time where necessary. <a href="http://www.tfl.gov.uk/plannedworks">Weekend travel news</a> is available online </li>
<li>To obtain a copy of Best Poems on the Underground please, contact Elizabeth Allen on 020 7520 4474<br></li></ul>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "This edition has many of the poems that have appeared on Tube trains between 1986 and 2009.&nbsp; A new set of six poems taken from the book will also appear on the network from Monday 5 October. Four poems about love and loss have been chosen from the";}
        
        


 