


@{ViewBag.Title = "Strike threat lifted as RMT leadership accepts Victoria line working patterns";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>Strike threat lifted as RMT leadership accepts Victoria line working patterns</h1>
        <div class="content-page-press-release">
        29 September 2009
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        RMT agrees working patterns proposed before strike action was threatened.
        
    </div>



<div class="pull-quote">
        <div class="quote-body">"Once again, we have demonstrated that these issues can and should be ironed out by continuing to talk"</div>
        <div class="quote-footer">
            <div class="quotee-name">Howard Collins</div>
            <div class="quotee-job-title">LU Chief Operating Officer</div>
        </div>
</div>

 <div class="on-this-page">
<div class="pullquote right">
                        <p>
                            Once again, we have demonstrated that these issues can and should be ironed out by continuing to talk
                            
                        </p>
                    </div>
                
            
            
            <p>London Underground (LU) today welcomed the RMT leadership's decision to abandon the completely unnecessary threat of a one-day strike on the Victoria line over changed working patterns for drivers.</p>
<p>LU met with the union on Monday to clarify the working arrangements, which the RMT had claimed would lead to an increase in workload. </p>
<p>Following that meeting, the union has accepted that no drivers will work longer hours and has signed up to the same working patterns accepted with ASLEF last week. </p>
<h2>Never any reason</h2>
<p>Under the new plans, designed to improve efficiency and service for Tube passengers, some drivers will do five round trips in the course of a weekday shift as opposed to the current four, a working pattern already in place at weekends.&nbsp;But there will be no increase in working hours.</p>
<p>LU Chief Operating Officer, Howard Collins, said: 'There was never any reason for this strike threat.&nbsp; </p>
<p>'No driver is being asked to work longer hours.&nbsp;We will simply be asking some drivers to do another round trip, so five round trips are undertaken, as they already are at weekends.</p>
<p>'The change in working patterns, which had already been accepted by ASLEF, follows improvements we have made to working conditions, including air cooling in drivers' cabs. </p>
<h2>Ironed out</h2>
<p>'The threat of strike action was entirely unnecessary and achieved nothing.</p>
<p>'Once again, we have demonstrated that these issues can and should be ironed out by continuing to talk.'</p>
<p>Drivers on all LU lines work a maximum eight and a half hour shift, including breaks.&nbsp; </p>
<p>By working five round trips, Victoria line drivers are expected to operate a train for around just six and a quarter hours of their shift.&nbsp; </p>
<h2>Unchanged</h2>
<p>Only a quarter of drivers on weekday duty are expected to have to undertake five round trips and the length of the shift is unchanged.&nbsp; </p>
<p>Furthermore, drivers already do five round trips at weekends, which has never been an issue.</p>
<p>
<hr>
<br><strong>Notes to editors:</strong> 
<p>
<ul>
<li>A round trip of the line (Brixton to Walthamstow and back, for example) takes around an hour and a quarter</li></ul>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "London Underground (LU) today welcomed the RMT leadership's decision to abandon the completely unnecessary threat of a one-day strike on the Victoria line over changed working patterns for drivers.LU met with the union on Monday to clarify the working";}
        
        


 