


@{ViewBag.Title = "Ten rail stations to be managed by Transport for London";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>Ten rail stations to be managed by Transport for London</h1>
        <div class="content-page-press-release">
        16 September 2009
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        Transport for London's (TfL) London Overground operation is taking over 10 stations between Surrey Quays and West Croydon from Sunday 20 September to prepare for the completion of its new East London line.
        
    </div>



<div class="pull-quote">
        <div class="quote-body">"This is good news for passengers using these stations who will enjoy the benefits London Overground delivers"</div>
        <div class="quote-footer">
            <div class="quotee-name">Ian Brown</div>
            <div class="quotee-job-title">TfL London Rail Managing Director</div>
        </div>
</div>

 <div class="on-this-page">
<div class="pullquote right">
                        <p>
                            This is good news for passengers using these stations who will enjoy the benefits London Overground delivers
                            
                        </p>
                    </div>
                
            
            
            <p>New Cross Gate, Brockley, Honor Oak Park, Forest Hill, Sydenham, Crystal Palace, Penge, West Anerley, Norwood Junction, and West Croydon, will all come under TfL control.</p>
<p>Transport for London's management of these stations will bring a host of benefits to passengers as they are brought up to TfL standards. </p>
<h2>Multiple benefits</h2>
<p>These include the installation of Oyster ticketing and validation gates, a higher level staff presence, longer operating hours and, from Spring 2010 when the East London Line reopens, a more frequent train service. </p>
<p>The changeover is taking place because the new East London line, which will form part of a revitalised and expanded London Overground network, will run more trains through these stations than Southern Railways, who previously managed them.&nbsp;&nbsp; <br>&nbsp;<br>Kulveer Ranger, the Mayor's Transport Advisor, said: 'Where London Overground have taken control of rail stations, passengers have benefited from real improvements with security, information, and levels of service all getting a boost. </p>
<p>'The Mayor is keen to see these improvements being delivered by TfL at the additional&nbsp;10 stations, benefitting many South London rail passengers. </p>
<h2>East London line</h2>
<p>'This will be a precursor to the significant improvements passengers can look forward to next year when we open the extended East London line as part of the London Overground network.'</p>
<p>TfL London Rail Managing Director, Ian Brown, said, 'This is good news for passengers using these stations who will enjoy the benefits which London Overground delivers including staffed stations and enhanced safety and security features.</p>
<p>'When the East London Line reopens in 2010 they will also enjoy the benefit of a more frequent train service.'</p>
<p>The stations will not be used exclusively by London Overground. Southern, whose franchise has recently been renewed by the Department for Transport, will continue to run longer distance services that also call at these stations.<br>&nbsp;<br>London Overground and Southern will share the use of the tracks on this section of the network, when London Overground services start to operate between West Croydon and the City next year.<br></p>
<p>
<hr>
<strong>Notes to editors</strong>&nbsp; 
<p>
<ul>
<li>The stations will remain the property of Network Rail who will lease them to LOROL, which runs London Overground and is, in turn, managed by TfL </li>
<li>The East London line extension will form part of London Overground when it opens next year and will run from Dalston Junction to West Croydon </li>
<li>TfL has increased staff presence at stations during train operating hours and raised security levels through the installation of Oyster gates and CCTV at all 44 London Overground managed stations </li>
<li>London Overground will include four new stations: Dalston Junction, Shoreditch High Street, Hoxton and Haggerston and 20 brand new trains </li>
<li>The new fleet of trains are more comfortable, accessible, have more capacity and the latest security features on London Rail </li>
<li>TfL are investing &pound;1.4bn in modernising London Overground and expanding it to incorporate a newly extended East London line </li>
<li>The East London line will be linked to the Richmond to Stratford branch of the current London Overground network in 2011 when a spur will be completed between Dalston Junction and Canonbury to Highbury and Islington </li>
<li>In 2012, in time of for the Olympics, the so-called Phase&nbsp;two of the East London line project will be completed between Clapham Junction and Surrey Quays forming a fully orbital railway.<br></li></ul>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "New Cross Gate, Brockley, Honor Oak Park, Forest Hill, Sydenham, Crystal Palace, Penge, West Anerley, Norwood Junction, and West Croydon, will all come under TfL control.Transport for London's management of these stations will bring a host of benefits to";}
        
        


 