


@{ViewBag.Title = "TfL campaign urges drivers to 'give motorcyclists a second thought' and cut road deaths";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>TfL campaign urges drivers to 'give motorcyclists a second thought' and cut road deaths</h1>
        <div class="content-page-press-release">
        15 September 2009
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        As riders return to work, TfL warns road users of optical effect that can lead to collisions with motorcyclists.
        
    </div>



<div class="pull-quote">
        <div class="quote-body">"This campaign will make the roads safer for any Londoner wishing to make the switch to two wheels"</div>
        <div class="quote-footer">
            <div class="quotee-name">Chris Lines</div>
            <div class="quotee-job-title">Head of the London Road Safety Unit at TfL</div>
        </div>
</div>

 <div class="on-this-page">
<div class="pullquote right">
                        <p>
                            This campaign will make the roads safer for any Londoner wishing to make the switch to two wheels
                            
                        </p>
                    </div>
                
            
            
            <p>Transport for London (TfL) has launched its latest campaign to cut the number of motorcyclists killed or injured on London's roads.</p>
<p>Launching today, TfL's BikeSafe London team's TV campaign will run throughout the autumn, timed to coincide with the return to work of thousands of Londoners and a rise in the number of casualties among motorbike and scooter riders. </p>
<h2>The optical effect</h2>
<p>The TV ads, created by renowned designer Peter Saville, highlight an optical effect that psychologists believe could put motorcyclists at risk, and the campaign urges drivers to 'give motorcyclists a second thought', particularly when making right turns. </p>
<p>The optical effect is caused by the way the brain assesses approaching objects. </p>
<p>Drivers can underestimate the time that small vehicles take to reach them - causing risk of collision when pulling out in front of approaching motorcycles. </p>
<h2>Commuters at risk</h2>
<p>Riders commuting to work are a vulnerable group, with&nbsp;the majority of casualties occurring in the morning or evening. </p>
<p>Last year there were 4,890 collisions in Greater London involving motorcycles and/or scooters with other road users. </p>
<p>Of these collisions 848 resulted in a death or serious injury&nbsp;and 94 per cent occurred on roads subject to a 30mph speed limit. </p>
<h2>Safer roads</h2>
<p>Chris Lines, Head of the London Road Safety Unit at TfL, said:</p>
<p>'This optical illusion campaign highlights just one of the ways in which drivers can come into contact with motorcyclists. </p>
<p>'Drivers should look out for motorcyclists in all situations, especially during the commuting hours, when a high proportion of collisions occur.</p>
<p>'Encouraging the use of bikes, whether they are the powered or pedal variety, is important to reduce congestion and keep London moving. </p>
<p>'Hopefully this campaign will encourage more considerate riding and make the roads safer for any Londoner wishing to make the switch to two wheels.'</p>
<p>Watch&nbsp;the ad on&nbsp;on <a title="You Tube" href="http://www.youtube.com/watch?v=4xW-VAvQvSk">YouTube</a>. </p>
<p><br>
<hr>
<strong>Notes to editors:</strong> 
<p>
<ul>
<li>Peter Saville is one of the most influential designers of our time. He is at the forefront of developments in conceptual design and has had a profound effect on the interaction between art, design and advertising. He now exhibits his work in museums and art galleries internationally and is playing a leading strategic role in the economic regeneration and cultural renaissance of his home city of Manchester as consultant creative director to Manchester City Council </li>
<li>In tests, which used footage of vans, cars and motorcycles approaching at identical speeds, psychologists found that participants regularly estimated that motorcycles would take longer to reach them than larger vehicles. This optical effect, caused by the way the brain assesses approaching objects, could cause drivers to underestimate how much time and space they have available when pulling out in front of approaching motorcycles </li>
<li>TfL's motorcycle safety adverts can be seen on ITV, C4 and Five, and heard on radio stations throughout the Capital, until 31 October 2009 </li>
<li>About BikeSafe-London<br>-&nbsp;BikeSafe-London and ScooterSafe-London offer Rider Skill Days which educate riders to become safer road users. The Rider Skills Days combine observed rides with interactive presentations, discussions and advice on rider safety. The skills days are run by highly qualified traffic police officers<br>-&nbsp;BikeSafe-London is a partnership between TfL, the Metropolitan Police Service and the City of London Police. BikeSafe-London and ScooterSafe-London are funded by TfL<br>- The Rider Skills Days run from the Ace Cafe Wembley or The Warren in Bromley, costing &pound;30 for the whole day including refreshment and lunch<br>-&nbsp;More information available from <a title="bikesafe-london" href="http://www.bikesafe-london.co.uk">bikesafe-london</a> or <a title="scootersafe-london" href="http://www.scootersafe-london.co.uk">scootersafe-london</a>.&nbsp;&nbsp;<br></li></ul>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "Transport for London (TfL) has launched its latest campaign to cut the number of motorcyclists killed or injured on London's roads.Launching today, TfL's BikeSafe London team's TV campaign will run throughout the autumn, timed to coincide with the return";}
        
        


 