


@{ViewBag.Title = "TfL calls on PPP Arbiter to set a fair price for Tube Lines contract";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>TfL calls on PPP Arbiter to set a fair price for Tube Lines contract</h1>
        <div class="content-page-press-release">
        23 September 2009
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        Progress made to agree Tube Lines future work programme, however Tube Lines' costs remain 'unacceptably high' in some areas.
        
    </div>



<div class="pull-quote">
        <div class="quote-body">"Improvements must be delivered at a price which is clear value for money and acceptable to us, the Mayor, Government and passengers"</div>
        <div class="quote-footer">
            <div class="quotee-name">Richard Parry</div>
            <div class="quotee-job-title">Interim Managing Director London Underground</div>
        </div>
</div>

 <div class="on-this-page">
<div class="pullquote right">
                        <p>
                            Improvements must be delivered at a price which is clear value for money and acceptable to us, the Mayor, Government and passengers
                            
                        </p>
                    </div>
                
            
            
            <p>Transport for London (TfL) today asked the Public Private Partnership (PPP) Arbiter to set a fair price for the works to improve the Jubilee, Northern and Piccadilly lines on behalf of London's fare payers and taxpayers, as London Underground (LU) referred the issue to the PPP Arbiter.</p>
<p>Tube Lines responded to LU's Restated Contract Terms, which set the scope of the improvement works, in June this year.&nbsp;</p>
<h2>Transforming the tube</h2>
<p>Since then, LU and Tube Lines have made good progress on determining this future work programme and in reducing some of their costs.&nbsp;However, Tube Lines' costs remain unacceptably high in some areas.</p>
<p>Richard Parry, Interim Managing Director of London Underground, said: 'Billions are being invested to transform the Tube.&nbsp; </p>
<p>'Over the next few years, we'll see faster and more frequent Tube journeys, thanks to new trains and signalling systems which deliver big increases in reliability and capacity.&nbsp;</p>
<p>'But the improvements must be delivered at a price which is clear value for money and acceptable to us, the Mayor, Government and passengers. </p>
<h2>Value for money</h2>
<p>'Tube Lines therefore have two key challenges.&nbsp;First, to deliver promised improvements on time.&nbsp;Second, they must deliver the improvements in a way that is economic and efficient, ensuring value for money for London's fare payers and taxpayers.</p>
<p>'While we have had constructive talks on their future work programme which have seen some of their cost demands come down, Tube Lines' price remains unacceptably high in some areas.</p>
<p>'The PPP Arbiter will now undertake his independent review.&nbsp;In doing so, he will take into account his own initial guidance published last year, and the sensible measures taken by TfL to reduce scope and costs since then.</p>
<p>'We will continue our constructive discussions with Tube Lines, alongside the PPP Arbiter process.'</p>
<h2>The PPP Periodic Review Process:</h2>
<p>The following section explains the PPP Periodic Review process in more detail.</p>
<p>The LU referral to the PPP Arbiter is part of the PPP Periodic Review process, which will determine the funding of the upgrade and maintenance of the Jubilee, Northern and Piccadilly (JNP) lines during the Second Period of the PPP contract from mid-2010 to 2017.</p>
<p>LU provided Tube Lines with restated contract terms, which set the scope of the track, trains, station and signalling improvements required, at the end of December 2008.&nbsp;</p>
<p>Tube Lines responded to LU at the end of June, but with a price significantly in excess of LU's &pound;4.2bn evaluation and which was also much higher than the price indicated by the PPP Arbiter in his guidance undertaken last year (see below).</p>
<p>Since then, Tube Lines' costs have come down, but their price remains unacceptably high and does not represent value for money.</p>
<p>As a result, LU has today made a referral to the Arbiter who will conduct an independent review and provide his determination on price and other questions relevant to the process.</p>
<p>At LU's request, the PPP Arbiter provided initial guidance on the likely costs of the JNP Second Period works last September.&nbsp; </p>
<p>At that time, the Arbiter's view was that 'costs are likely to be in the range of &pound;5.1-5.5bn for the second&nbsp;seven and&nbsp;a half&nbsp;years of the contract.'&nbsp; </p>
<p>However, he also made clear that 'It is vital, therefore, that lessons are learned from the work that has been undertaken.'</p>
<p>Since then, LU has taken a number of sensible steps to change the scope of work, in many instances with Tube Lines' agreement.&nbsp; </p>
<p>The changes in scope retain the necessary maintenance and renewal of track, train, station and signals which deliver the improvements in Tube capacity and reliability London desperately needs.&nbsp;</p>
<p>This work has significantly reduced LU's costs, which is reflected in the current &pound;4.2bn evaluation.&nbsp; </p>
<p>In responding to LU's Restated Contract Terms, Tube Lines has not taken the same approach.&nbsp; </p>
<p>It is vital that the Arbiter recognises the work undertaken by LU on changes in scope and reductions in cost to make the right determination on price for London's fare payers and taxpayers.</p>
<p>It is anticipated that the Arbiter will publish his draft conclusion on second period costs in December 2009.</p>
<p>
<hr>
<strong>Notes to editors: </strong><strong></strong>
<ul>
<li>London Underground (LU) is part of Transport for London (TfL) </li>
<li>Tube Lines is responsible for the maintenance and renewal of the Jubilee, Northern and Piccadilly lines </li>
<li>The remaining London Underground lines were to have been maintained and upgraded by Metronet Rail, which went into PPP Administration in July 2007. The businesses subsequently transferred to Transport for London </li>
<li>View the <a title="Press notice PPP Annual Report" href="http://www.tfl.gov.uk/corporate/media/newscentre/12435.aspx">press notice </a>which accompanied LU's 2009 PPP Annual Report&nbsp; </li>
<li><a title="LU PPP Annual Report  2009" href="http://www.tfl.gov.uk/assets/downloads/london-underground-ppp-performance-report-2008-2009.pdf">Download LU's 2009 PPP Annual Report</a> <br></li></ul>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "Transport for London (TfL) today asked the Public Private Partnership (PPP) Arbiter to set a fair price for the works to improve the Jubilee, Northern and Piccadilly lines on behalf of London's fare payers and taxpayers, as London Underground (LU)";}
        
        


 