


@{ViewBag.Title = "TfL agrees &pound;1bn loan for Crossrail from European Investment Bank";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>TfL agrees &pound;1bn loan for Crossrail from European Investment Bank</h1>
        <div class="content-page-press-release">
        08 September 2009
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        The Crossrail project received a major boost today as Transport for London (TfL) announced that it has agreed a &pound;1bn loan with the European Investment Bank (EIB) to finance part of their contribution to Europe's largest construction project.
        
    </div>



<div class="pull-quote">
        <div class="quote-body">"Our good friends at the EIB have provided us with a billion more reasons to proceed with the unstoppable force that is Crossrail"</div>
        <div class="quote-footer">
            <div class="quotee-name">Boris Johnson</div>
            <div class="quotee-job-title">The Mayor of London</div>
        </div>
</div>

 <div class="on-this-page">
<div class="pullquote right">
                        <p>
                            Our good friends at the EIB have provided us with a billion more reasons to proceed with the unstoppable force that is Crossrail
                            
                        </p>
                    </div>
                
            
            
            <p>For the European Investment Bank (EIB) to agree to the loan facility provides international recognition of Crossrail's importance and is a further milestone in the delivery of the project.</p>
<p>The Mayor of London, Boris Johnson, said: 'Our good friends at the EIB have provided us with a billion more reasons to proceed with the unstoppable force that is Crossrail. </p>
<h2>Largest loan ever</h2>
<p>'It is one of the largest loans ever secured for a transport project and I am especially pleased to have this backing for our drive to provide London with the facilities required to keep the Capital one of the world's leading cities.'</p>
<p>Simon Brooks, Vice-President, European Investment Bank said: 'Crossrail is the largest construction project in Europe and will make an important contribution to London's economy. </p>
<p>'By providing a much-needed boost to rail capacity in London and the South East, Crossrail will help to develop London as a sustainable world city by reducing congestion and pollution for the benefit of Londoners, commuters and visitors. </p>
<h2>Linking London</h2>
<p>'It will also link London more efficiently into the European and global transport networks. We at the EIB are delighted to support the project with this loan.'</p>
<p>When Crossrail opens in 2017 its high capacity and high frequency trains will increase London's rail capacity by 10 per cent. </p>
<p>Crossrail will connect the key business districts of the West End, City and Docklands with the outer suburbs and relieve congestion on other lines. </p>

<p>The project will employ 14,000 people at its peak and support 7,000 further jobs linked to the project, providing a crucial boost to London and the UK's economy. </p>
<h2>Major redevelopment</h2>
<p>The first construction work for Crossrail began on 15 May at Canary Wharf. </p>

<p>Demolition works are continuing at Tottenham Court Road to enable a major redevelopment of the station and tunnel boring machines will be launched in 2011. </p>
<p>The major Programme Partner and Project Delivery Partner contracts that will oversee the delivery of Crossrail were awarded earlier this year and more than half the design contracts have now been let.<br><br><strong>
<hr>
Notes to editors </strong><strong></strong>
<ul>
<li>Photographs of the Mayor meeting Simon Brooks, EIB Vice-President at City Hall earlier today are available from the TfL Press Office </li>
<li>The European Investment Bank (EIB) is the long-term financing institution of the European Union, providing loans for projects that help EU economic objectives </li>
<li>These include supporting construction and upgrading of transport infrastructure in urban areas, and improving international links. Other examples include investment in projects that combat climate change and protect the environment, ensure secure energy supplies as well as in human capital (such as hospitals, schools and universities) and in technological development and small and medium sized enterprises. The EIB is owned by the 27 EU Member States </li>
<li>TfL and the Greater London Authority are responsible for &pound;7.7bn of Crossrail's &pound;15.9bn funding. Out of the &pound;7.7bn TfL / GLA funding &pound;2.4bn will be funded from TfL borrowing linked to future Crossrail fares revenue </li>
<li>The &pound;1bn EIB loan facility will be drawn down over the next six years </li>
<li>The &pound;1bn loan facility with the EIB is a contractual agreement between TfL and the EIB. TfL will subsequently provide funding to Crossrail Limited as per the Crossrail funding agreement </li>
<li>TfL already has two corporate loan agreements with the EIB. A &pound;450 million loan agreed in December 2005 to finance the East London Line Extension and a &pound;200 million loan agreed in March 2007 to finance part of the Docklands Light Railway three-car capacity upgrade and Stratford International Extension</li></ul>
<p>
<p>&nbsp;</p>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "For the European Investment Bank (EIB) to agree to the loan facility provides international recognition of Crossrail's importance and is a further milestone in the delivery of the project.The Mayor of London, Boris Johnson, said: 'Our good friends at the";}
        
        


 