


@{ViewBag.Title = "TfL's Lost Property Office celebrates 75 years";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>TfL's Lost Property Office celebrates 75 years</h1>
        <div class="content-page-press-release">
        30 September 2009
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        Transport for London's (TfL's) Lost Property Office (LPO), one of the largest lost property offices in the UK, is this year celebrating 75 years of service.
        
    </div>



<div class="pull-quote">
        <div class="quote-body">"I love being reminded how honest Londoners are when they hand in lost property"</div>
        <div class="quote-footer">
            <div class="quotee-name">Julie Haley</div>
            <div class="quotee-job-title">Lost Property Office Manager</div>
        </div>
</div>

 <div class="on-this-page">
<div class="pullquote right">
                        <p>
                            I love being reminded how honest Londoners are when they hand in lost property
                            
                        </p>
                    </div>
                
            
            
            <p>The LPO handles almost 200,000 items a year left behind on buses, London Underground, London Overground, DLR, licensed taxis or in the Victoria Coach Station. </p>
<h2>Books and bags</h2>
<p>Last year the most commonly forgotten objects were books (36,852), bags (28,550) and items of clothing (27,174). </p>
<p>Over the last seven and a half decades, the LPO has seen more than its fair share of unusual items too - a stuffed puffer fish, human skulls, breast implants and a lawnmower are just a few of the stranger items handed in.</p>
<p>Located on Baker Street, the LPO takes pride in its link to its famous fictional neighbour Sherlock Holmes, even naming the computer system staff use to log all lost items 'Sherlock'. </p>
<h2>Property detectives</h2>
<p>Staff at the LPO use their own detective skills to try and reunite lost property with its rightful owner, directly contacting them if any form of identification is found with the object.&nbsp;</p>
<p>There have been occasions where staff have gone a step further to return items, managing to track down the next of kin for two urns of ashes that had been in the LPO for years, even though there were just a few words written on the urns. </p>
<p>Julie Haley, TfL's Lost Property Office Manager, said: 'It is great to be celebrating 75 years of the LPO.&nbsp; I have been here for five years and love being reminded how honest Londoners are when they hand in lost property.&nbsp;</p>
<p>'The look on customers' faces when they get back something they thought was lost forever is very rewarding. </p>
<h2>All items important</h2>
<p>'Reuniting two urns of ashes with the families who had lost them was particularly heart-warming - it was very emotional for all of us.&nbsp; </p>
<p>'Having said that, all items are important to their owners and returning even the smallest of items can make a big difference.&nbsp;</p>
<p>'I know some people think if they've lost something on public transport they'll never get it back but I'd like to encourage them to give us a call. </p>
<p>'You never know - we might just have it here, and 'Sherlock' will help us find it.'</p>
<p>
<hr>
<strong>Notes to editors</strong><strong></strong> 
<ul>
<li>If a name and address, email address or telephone number is found with the item of property, the potential owner is contacted and told that the LPO may have an item of their property </li>
<li>The success rate for reuniting lost items such as bags, wallets/purses and mobile phones with their rightful owner is on average one in three. One of the biggest barriers to returning property is that people simply don't get in touch with the LPO when they have lost something on public transport </li>
<li>Property normally takes a minimum of two working days to arrive at the LPO </li>
<li>After two days, people can enquire about lost property in several ways<br>- by calling 0845 330 9882 between 08.30 and 16.00, Monday to Friday (except Bank Holidays)<br>- by filling in the <a title="Online enquiry form" href="/tfl/contact/lostproperty/default.asp">online enquiry form</a> <br>-&nbsp;by faxing 020 7918 1028<br>-&nbsp;in person, or by writing to:<br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Lost Property Office<br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 200 Baker Street<br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; London <br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; NW1 5RZ </li>
<li>Positively identified lost property is returned to the owner (in person or by post) once a restoration fee, postage and (for property lost in taxis) a driver's award has been paid </li>
<li>Property not claimed after three months, and not containing any personal data, is either donated to charity or sold at auction, with all revenue generated contributing towards the cost of running the LPO service</li></ul>
<p>&nbsp;</p>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "The LPO handles almost 200,000 items a year left behind on buses, London Underground, London Overground, DLR, licensed taxis or in the Victoria Coach Station. Books and bagsLast year the most commonly forgotten objects were books (36,852), bags (28,550)";}
        
        


 