


@{ViewBag.Title = "Transport for London tightens guidelines for licensing taxi and private hire drivers in London";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>Transport for London tightens guidelines for licensing taxi and private hire drivers in London</h1>
        <div class="content-page-press-release">
        24 September 2009
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        Transport for London (TfL) today announced plans to tighten the guidelines for licensing taxi and private hire drivers in the Capital.
        
    </div>



<div class="pull-quote">
        <div class="quote-body">"'Taxi and private hire drivers are in a position of trust, and it's our job to ensure they deserve that trust"</div>
        <div class="quote-footer">
            <div class="quotee-name">Jeroen Weimar</div>
            <div class="quotee-job-title">Chief Operating Officer for TfL Surface Transport</div>
        </div>
</div>

 <div class="on-this-page">
<div class="pullquote right">
                        <p>
                            'Taxi and private hire drivers are in a position of trust, and it's our job to ensure they deserve that trust
                            
                        </p>
                    </div>
                
            
            
            <p>In future, taxi and private hire licences will not be granted to applicants who have been convicted for serious or violent offences, unless there are exceptional mitigating circumstances.&nbsp; </p>
<p>This clarification comes as a result of recent public interest in the case of an individual with a conviction for manslaughter who was licensed as a private hire driver and accepted on to the Knowledge of London programme.</p>
<p>As a result of concerns raised about this case, TfL's Public Carriage Office (PCO) ordered a full review of the licensing decision.&nbsp;</p>
<h2>Position of trust</h2>
<p>That review is now complete and has concluded that insufficient weight was given to the applicant's criminal history when a decision to grant them a private hire licence was made.</p>
<p>As a result, the individual's private hire licence is being revoked, and they will not continue to study the Knowledge.</p>
<p>Jeroen Weimar, the Chief Operating Officer for TfL Surface Transport, said: 'We understand why this case caused concern and I would like to reiterate that safety is always our top priority.&nbsp;</p>
<p>'Taxi and private hire drivers are in a position of trust, and it's our job to ensure they deserve that trust.&nbsp; </p>
<h2>Robust processes</h2>

<p>'This was a difficult case, but following a thorough review, we believe that insufficient weight was given to the applicant's criminal history when the decision to grant them a private hire licence was made.&nbsp; </p>
<p>'We have therefore revoked this individual's licence and they will no longer be allowed to study the Knowledge.&nbsp; </p>
<p>'The PCO has robust processes in place to determine whether or not individuals are fit to become licensed taxi or private hire drivers, and in the overwhelming majority of cases I am confident the right decision is made.&nbsp; </p>
<p>'However, we have tightened our guidelines with regards to applicants' criminal histories as we seek to prevent such cases in the future.'</p>
<h2>Case-by-case</h2>
<p>The PCO has a long established, robust process in place for vetting would-be taxi or private hire drivers in London.&nbsp; </p>
<p>Anyone with a history of violence would not have been licensed until they had a clean record for a minimum of three years, more if the original offence was of a serious nature, if it was racially motivated or if the individual had more than one conviction for a violent offence.&nbsp; </p>
<p>The Licensing Authority made decisions on a case-by-case basis, in line with the Rehabilitation of Offenders Act, 1974.&nbsp; </p>
<p>The change in guidelines aims to make the licensing decision more robust when considering individuals with criminal histories. </p>
<p>The PCO is also carrying out a wider review of the licensing guidelines, and will use a panel of experts to advise on difficult cases in future.&nbsp;The panel will include experts in the fields of criminal justice as well as senior representatives from the PCO. </p>
<p>
<hr>

<p>
<p><strong>Notes to editors:</strong></p>
<ul>
<li>The PCO, part of TfL, is responsible for licensing and regulating London's taxi and private hire services </li>
<li>The Rehabilitation of Offenders Act, 1974, enables criminal convictions to become 'spent', or forgotten, after a rehabilitation period.&nbsp;The rehabilitation period depends on the penalty imposed.&nbsp;After this period, an ex-offender is not normally obliged to mention the conviction when applying for a job 
<ul type="circle">
<li>However, Section 7(3) of the Act allows the Licensing Authority to take into consideration certain spent convictions in deciding whether or not to license an individual as a taxi or private hire driver, eg sexual offences, convictions for aggravated assault, etc </li>
<li>The new PCO guidelines take this a step further and set out explicitly a set of offences which will, following conviction, rule out an individual's being considered for a licence</li></ul></li>
<li>The PCO is putting together a list of those crimes for which a previous conviction will lead to a refusal unless there are exceptional mitigating circumstances.&nbsp;This will not be an exhaustive list but will indicate the type of crimes for which a previous conviction will lead to a refusal </li>
<li>In order to become a licensed taxi driver in London, candidates must pass the Knowledge of London, commonly referred to as the Knowledge, to prove they have an in-depth understanding of the complex road network and places of interest in the city</li></ul>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "In future, taxi and private hire licences will not be granted to applicants who have been convicted for serious or violent offences, unless there are exceptional mitigating circumstances.&nbsp; This clarification comes as a result of recent public";}
        
        


 