


@{ViewBag.Title = "Urgent utility works in Victoria for next eight weeks";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>Urgent utility works in Victoria for next eight weeks</h1>
        <div class="content-page-press-release">
        17 September 2009
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        Southbound traffic along Congestion Charge-free through route will be diverted while BT Openreach works take place.
        
    </div>



<div class="pull-quote">
        <div class="quote-body">"We will do our best to ensure that disruption is kept to a minimum"</div>
        <div class="quote-footer">
            <div class="quotee-name">Alan Bristow</div>
            <div class="quotee-job-title">TfL's Director of Traffic Operations</div>
        </div>
</div>

 <div class="on-this-page">
<div class="pullquote right">
                        <p>
                            We will do our best to ensure that disruption is kept to a minimum
                            
                        </p>
                    </div>
                
            
            
            <p>From 21 September, the right-turn junction from Bressenden Place into Victoria Street in Westminster will be closed for up to eight weeks while Openreach, a BT business, carries out essential maintenance works.&nbsp; </p>
<p>During this period, two traffic diversions will be in place for vehicles wishing to use the southbound Congestion Charge-free through route:</p>
<ul>
<li>General traffic, excluding Heavy Goods Vehicles, for Victoria and Victoria station will be diverted up Buckingham Palace Road and then down Buckingham Gate across Victoria Street, into and down Rochester Row to Vauxhall Bridge Road </li>
<li>General traffic, including Heavy Goods Vehicles, will continue to use Bressenden Place before being diverted left into Victoria Street to Parliament Square and then along Millbank to Vauxhall Bridge </li></ul>
<p>Drivers using the Congestion Charge-free through route who follow one of the clearly signposted diversion routes will not need to pay the charge. </p>
<h2>Local diversions</h2>
<p>However, drivers who deviate from the diversion routes will need to pay the Congestion Charge or risk receiving a Penalty Charge Notice. </p>
<p>Drivers wishing to use the northbound Congestion Charge-free through route will not be affected by the works on Victoria Street.</p>
<p>In addition, buses travelling westbound on route 507 (towards Victoria) will also be placed on diversion to help reduce congestion along Victoria Street while the works are taking place.</p>
<p>Transport for London (TfL) is working closely with Openreach and Westminster Council to ensure that disruption is kept to a minimum, and will keep motorists informed of closures and diversions through roadside message boards and local radio broadcasts. </p>
<h2>Essential works</h2>
<p>Alan Bristow, TfL's Director of Traffic Operations, said: 'We have liaised with Openreach over these urgent works and they have assured us that they will complete the work as quickly as possible. </p>
<p>'We ask motorists to bear with us while these works are carried out and we will do our best to ensure that disruption is kept to a minimum.'</p>
<p>Jerome De Chassey, Openreach Director in London, said: 'We are working closely with TfL to reduce the impact on traffic while we carry out this essential work and apologise for any inconvenience that these works will cause road-users in London.'</p>
<p>
<hr>

<p>
<p><strong>Notes to editors:<p>
<ul>
<li></li></ul></strong>Buses travelling westbound on route 507 will be diverted while the works are taking place. The route will cross the junction at Victoria Street, from Artillery Row to Buckingham Gate, proceed along Buckingham Palace Road and terminate at Victoria bus station. A temporary bus stop will be located along Artillery Row during this diversion. Eastbound buses will continue to run along their normal route

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "From 21 September, the right-turn junction from Bressenden Place into Victoria Street in Westminster will be closed for up to eight weeks while Openreach, a BT business, carries out essential maintenance works.&nbsp; During this period, two traffic";}
        
        


 