


@{ViewBag.Title = "Walking towards the Games: Free Guided Walks 26-27 September 2009";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>Walking towards the Games: Free Guided Walks 26-27 September 2009</h1>
        <div class="content-page-press-release">
        22 September 2009
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        With the arrival of Autumn what better way to enjoy the colourful changes in nature and explore some of London's great places, meet new people and keep fit by taking part in one of over 40 free guided walks across the Capital.
        
    </div>



<div class="pull-quote">
        <div class="quote-body">"London has an extraordinary abundance of walking routes that lend themselves to exploration during Autumn"</div>
        <div class="quote-footer">
            <div class="quotee-name">Kulveer Ranger</div>
            <div class="quotee-job-title">Mayor's Transport Advisor</div>
        </div>
</div>

 <div class="on-this-page">
<div class="pullquote right">
                        <p>
                            London has an extraordinary abundance of walking routes that lend themselves to exploration during Autumn
                            
                        </p>
                    </div>
                
            
            
            <p>Autumn Ambles takes place on 26-27 September 2009 and is the seventh free led walking weekend, organised by Walk London and funded by Transport for London (TfL). </p>
<p>The seasonal walks are a further step towards making London one of the most walking friendly cities in Europe by 2012. </p>
<p>Designed largely to be away from traffic, the free walks connect some of London's best attractions, parks, woodlands, rivers and open spaces.&nbsp;</p>
<h2>Walk yourself fit </h2>
<p>As London 2012 gets ever closer, health and fitness is rising up the agenda. Walking is one of the best and easiest ways to get fit and see the city at the same time.&nbsp; </p>
<p>With over 40 walks on all seven routes of London's 350 miles of Strategic Walk Network, there is something for everyone.&nbsp; </p>
<p>With three years to go until the Games come to London, Autumn Ambles has a special focus on East London and along the routes that will lead in to the Olympic Park.&nbsp;</p>
<p>Look out for the nine walks flagged as 'Walking towards the Games'.&nbsp;Walkers will be able to see for themselves how easy it will be to walk to the site.&nbsp; </p>
<p>The Lea Valley Walk along the Lee Navigation forms the central spine alongside the Park, which provide important links into and across the valley. </p>
<p>The walks will cover aspects of the Lea Valley's industrial heritage and countryside, the regeneration of the Lower Lea and its sustainable development, the Thames Path and points of interest on the way.&nbsp;</p>
<h2>Connecting the Games</h2>
<p>There is also a walk along the Thames Path at Woolwich that will host the shooting events at the Royal Arsenal, all of which will be of interest to people excited about the forthcoming events.</p>
<p>The Jubilee Greenway is the latest addition to London's Strategic Walk Network. Designed by the Jubilee Walkway Trust to celebrate Her Majesty the Queen's anticipated Diamond Jubilee in 2012, the 60km route connects all of the London venues for the Games. </p>
<p>Kulveer Ranger, the Mayor's Transport Advisor, said: 'From parks to riverside walkways, woodlands to canalside paths, London has an extraordinary abundance of walking routes that lend themselves to exploration during Autumn.'</p>
<p>Peter McBride, Head of Cycling, Walking and Accessibility at TfL, said: 'London's great landmarks and green areas are best explored on foot.&nbsp; </p>
<p>'This is why we are investing &pound;17m this year to make walking in London as attractive and enjoyable as possible.&nbsp;</p>
<h2>Discover local wildlife</h2>
<p>'Seasonal events like the Autumn Ambles are a great way to inspire Londoners to enjoy their surroundings and encourage them to make more journeys by foot.'</p>
<p>All of the walks are led by experienced guides and some special walks will be joined by local history and wildlife experts.</p>
<p>The walks start and finish either at or within easy reach of public transport and a free colour guide will be handed out along with a pin badge of the route logo as a keepsake.</p>
<p>For further information on Walk London visit <a href="http://www.walklondon.org.uk/">http://www.walklondon.org.uk/</a> or call 0870 240 6094.</p>
<p><br>
<hr>
<strong>Notes to editors: </strong>
<ul>
<li>Walk London is a cross-borough partnership led by the City of London and managed on its behalf by The Access Company, funded by Transport for London.&nbsp; It works in partnership with all the London boroughs to make walking a pleasure with the provision of a network of quality routes throughout the Capital - the Strategic Walk Network </li>
<li>London's Strategic Walk Network is made up of seven long distance routes laid out in easily manageable sections: London Loop (24 sections in total 150 miles); Capital Ring (15 sections in total 75 miles); Lea Valley (four sections in total 13 miles); Thames Path (four sections in total 67 miles); SE Green Chain (10 sections in total 40 miles); Jubilee Walk (three sections in total 15 miles); Jubilee Greenway (12 sections in total 35 miles) </li>
<li>With 2012 around the corner, this year Walk London has nine routes with a special focus on 'walking towards the games' and the London 2012 venues </li>
<li>Each route has sectional free colour leaflets, available to download from <a href="http://www.walklondon.org.uk/">http://www.walklondon.org.uk/</a>, or by emailing <a href="mailto:info&#64;walklondon.org.uk">info&#64;walklondon.org.uk</a> or calling 0870 240 6094. They are also available on audio, to download on mP3 or mobile phones </li>
<li>Guided walking weekends are also planned for the last weekend in January, May and September 2010 </li>
<li>Just over three in ten trips in London are made by foot. The Mayor has a target to increase daily walking trips by 1m by 2025</li></ul>
<p>&nbsp;</p>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "Autumn Ambles takes place on 26-27 September 2009 and is the seventh free led walking weekend, organised by Walk London and funded by Transport for London (TfL). The seasonal walks are a further step towards making London one of the most walking friendly";}
        
        


 