


@{ViewBag.Title = "Wanstead station re-opens following major works";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>Wanstead station re-opens following major works</h1>
        <div class="content-page-press-release">
        01 September 2009
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        London Underground's (LU) Wanstead station re-opened on Bank Holiday Monday 31 August, following major structural works as part of its ongoing modernisation.
        
    </div>



<div class="pull-quote">
        <div class="quote-body">"When all station works are complete, customers will get a completely modernised station"</div>
        <div class="quote-footer">
            <div class="quotee-name">Peter Tollington</div>
            <div class="quotee-job-title">Central line General Manager</div>
        </div>
</div>

 <div class="on-this-page">
<div class="pullquote right">
                        <p>
                            When all station works are complete, customers will get a completely modernised station
                            
                        </p>
                    </div>
                
            
            
            <p>Wanstead station, which is on the Central line, will close early daily and trains will not stop after 21:00 for seven weeks until Monday 12 October while works continue.</p>
<p>It is being modernised as part of the London Underground Investment Programme. </p>
<p>When complete customers will benefit from improved security and customer service information including a new state-of-the-art station control room, upgrading the existing CCTV system, improved PA system, Help Points and electronic information boards. </p>
<h2>Improving safety and service</h2>
<p>While the station was completely closed major structural works, including the demolition of a large concrete slab which overhung the top of the station escalators, was undertaken.&nbsp; </p>
<p>Peter Tollington, Central line General Manager, said: 'When all station works are complete, customers will get a completely modernised station with improved security and communication facilities.</p>
<p>'We had to close Wanstead station completely for the safety of our customers and staff while we demolished the ceiling which is above the station escalators and carry out structural alterations in the ticket hall area to create the new station control point. </p>
<h2>Extensive modernisation</h2>
<p>'While extensive modernisation work continues, the station will close early and trains will not stop at Wanstead after 21:00.'</p>
<p>Customers are advised to use nearby Leytonstone, Snaresbrook and Redbridge stations which are approximately a 10-15 minute walk away. </p>
<p>Valid Underground tickets will be accepted on the following bus routes during the closures:</p>
<ul>
<li>To Leytonstone station - take bus routes 145, W13 or W14 </li>
<li>To Redbridge station - take bus route 145 </li>
<li>Snaresbrook station is approximately a 15 minute walk from Wanstead station along the High Street. Follow directional signs </li>
<li>The station modernisation is scheduled to be complete in November 2009<br></li></ul>
<p>
<hr>
<strong>Notes to editors</strong><strong> 
<ul>
<li></li></ul></strong>London Underground (LU) is undertaking a major programme of renewal as part of Transport for London's Investment Programme.&nbsp;This will inevitably result in some disruption for passengers, but TfL is working hard to provide information and alternative travel options.&nbsp;The work is essential to provide for London's growing transport needs now, and into the future.&nbsp;TfL is urging all Londoners and Tube, London Overground, London Tramlink and DLR passengers to 'check before you travel' at weekends and <a title="Travel news" href="http://www.tfl.gov.uk/">weekend travel news</a>, allowing extra journey time where necessary. 
<p>&nbsp;</p>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "Wanstead station, which is on the Central line, will close early daily and trains will not stop after 21:00 for seven weeks until Monday 12 October while works continue.It is being modernised as part of the London Underground Investment Programme. When";}
        
        


 