


@{ViewBag.Title = "Work progressing on Hanger Lane bridges";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>Work progressing on Hanger Lane bridges</h1>
        <div class="content-page-press-release">
        17 September 2009
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        Foundations being laid for the new Waldegrave Road Bridge and South Bridge on the A406 Hanger Lane.
        
    </div>



 <div class="on-this-page">
<p>The first phases of work on Transport for London's (TfL) scheme to replace Waldegrave Road Bridge and South Bridge in Ealing have now been completed, and the next phase is about to begin - the construction of the foundations for the two new road bridges.</p>
<p>TfL is undertaking a massive project to upgrade the two 100-year-old bridges on the A406 Hanger Lane. </p>
<p>These Victorian structures have, over the years, been subjected to far greater loads than they were originally built for and need to be replaced. </p>
<p>Once complete, the two bridges will have new road layouts which will improve traffic flows. </p>
<p>New pedestrian crossings, footways and cycle lanes are also part of the scheme to make this area more pleasant for all road users.</p>
<p>Work began on the project in September 2008 and already new cycle lanes and footways have been constructed between Uxbridge Road and Hamilton Road, Madeley Road and Ealing Village, Freeland Road and Gatcombe Mews and from Gatcombe Mews to Inglis Road.</p>
<p>The first phase of the necessary utility diversion works has now been completed, which has enabled an updated completion date to be confirmed:</p>
<ul>
<li>The construction of the foundations for the new bridges started this month and the construction and assembly of the bridges, along with the demolition of the old bridges, is expected to take until early 2011</li>
<li>More cycle lanes and footways are still to be completed, in addition to two new signalised pedestrian crossings and landscaping to make the area more attractive and safer for pedestrians and cyclists to use</li>
<li>The full scheme is currently scheduled to be complete by summer 2011</li></ul>
<p><strong>
<hr>
Notes to editors:</strong></p>
<ul>
<li>The A406 Hanger Lane bridges project is being carried out on behalf of TfL by UK based civil engineers, Norwest Holst. The site is registered with the Considerate Constructors Scheme</li>
<li>For more information on the project go to&nbsp;<a href="http://www.tfl.gov.uk/a406hangerlanebridges">www.tfl.gov.uk/a406hangerlanebridges</a><br></li></ul>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "The first phases of work on Transport for London's (TfL) scheme to replace Waldegrave Road Bridge and South Bridge in Ealing have now been completed, and the next phase is about to begin - the construction of the foundations for the two new road";}
        
        


 