


@{ViewBag.Title = "Writer Sarah Butler discovers Underground literary talent";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>Writer Sarah Butler discovers Underground literary talent</h1>
        <div class="content-page-press-release">
        01 September 2009
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        The latest project in London Underground's (LU's) pioneering Art on the Underground programme has resulted in a new booklet containing a selection of stories inspired by the Central line and its staff.
        
    </div>



<div class="pull-quote">
        <div class="quote-body">"We hope customers will enjoy reading the stories written by Sarah and our staff"</div>
        <div class="quote-footer">
            <div class="quotee-name">Louise Coysh</div>
            <div class="quotee-job-title">Art on the Underground's Community Projects Curator</div>
        </div>
</div>

 <div class="on-this-page">
<div class="pullquote right">
                        <p>
                            We hope customers will enjoy reading the stories written by Sarah and our staff
                            
                        </p>
                    </div>
                
            
            
            <p>Customers can pick up a copy with some of the Central line stories from stations on the line from 12 September. </p> <p>Sarah Butler was commissioned by Art on the Underground to undertake a six-month residency on the Central line.&nbsp; </p> <p>During her stay she created new writing with Tube staff. It involved 45 stations, over one hundred frontline employees and thousands of stories. </p> <p>Sarah found that many London Underground (LU) workers had a natural flair for the written word and story-telling. </p> <h2>Unexpected connections</h2> <p>With 45 Central line-managed stations spread across six zones, the 1,550 Central line employees do not always have time or opportunity to interact with each other. </p> <p>The writing project offered a chance for many of them to work together, telling personal stories that can now be enjoyed by passengers. </p> <p>Chance meetings and unexpected connections fascinate writer Sarah Butler. She likes to explore the public spaces where such meetings are daily occurrences - like the Underground.&nbsp; </p> <p>Four distinct texts were developed during the residency:&nbsp; </p> <p><strong>What's in a name?</strong> - Sarah collected stories attached to names, unearthing a goldmine of anecdotes about how staff got their names. </p> <p><strong>Meetings with drivers</strong> - empathising with the sometimes solitary life of Tube drivers, who can spend as much time alone as writers, Sarah travelled with them in their cabs and used their conversation as the basis for new short stories. </p> <p><strong>Central line whispers</strong> - Sarah visited each of the Central line stations in turn, collecting stories as she went. 56 staff took part in all: After inventing two characters who meet on the Central line, Sarah would describe the story so far and, like the game 'Consequences', ask the next member of staff to continue the plot.</p> <p><strong>Across:&nbsp;3. to search for (4)</strong> - Sarah set herself a challenge to create a story mirroring the shape of the Central line, with 45 paragraphs (for the 45 stations) that each contain 45 words and begin with the first letter of a station name. The paragraphs can be read in any order and the story contains a puzzle, as the title suggests.</p> <p>Speaking about her residency, Sarah said: 'Travelling by Tube offers - sometimes - a strange, contemplative slice of time during our day; it witnesses innumerable dramas, and brings together a phenomenal diversity of people. </p> <p>'Ultimately, it connects: people to people, people to places, places to places. </p> <p>'I used to take the Central line from Bethnal Green to White City every day, across the width of the city. </p> <p>'I was struck by the difference between these two places - and the fact that that journey I took everyday made a connection between them. </p> <h2>A unique and special place</h2> <p>'The Central line draws an invisible line across London - connecting East to West, rising up like the edges of a smile at each end.'</p> <p>Art on the Underground's Community Projects Curator Louise Coysh said: 'We hope customers will enjoy reading the stories written by Sarah and our staff. </p> <p>'This project shows that people are what make the Underground such a unique and special place.'</p> <p>The full collection of Central line stories will also be available to read and hear online.</p> <p> <hr>  <p> <p><strong>Notes to editors:</strong></p> <ul> <li>The residency programme is commissioned by Art on the Underground, LU's art programme, producing high calibre artworks throughout the network, enhancing the millions of journeys made every day. It aims to promote a greater understanding of the Tube as a cultural and social environment through the creative commissioning of artworks. With between three and a half to four million passengers using the network per day, Art on the Underground projects are exposed to one of the largest and diverse audiences in Europe  </li><li>Find out more about <a href="http://www.tfl.gov.uk/tfl/corporate/projectsandschemes/artmusicdesign/pfa/">Art on the Underground</a>  </li><li>Sarah Butler writes novels and short stories. She runs a literature consultancy called UrbanWords that explores the connections between place and writing. She manages creative writing projects that challenge and strengthen people's relationship with place  </li><li>What's in a name? will be distributed in leaflet format at key Central line stations from 12 September 2009.&nbsp;The entire Central line stories project will be available to download <a href="http://www.tfl.gov.uk/tfl/corporate/projectsandschemes/artmusicdesign/pfa/">online</a> later this autumn, as will audio excerpts of a selection of the stories, recorded&nbsp; by staff and professional actors  </li><li>Central line stories,&nbsp;will be available <a href="http://www.tfl.gov.uk/tfl/corporate/projectsandschemes/artmusicdesign/pfa/">online</a> from and on the Central line from September 2009 </li><li>LU is undertaking a major programme of renewal as part of Transport for London's <a href="/corporate/projectsandschemes/10127.aspx">Investment Programme</a>.&nbsp;This will inevitably result in some disruption for passengers, but TfL is working hard to provide information and alternative travel options.&nbsp;The work is essential to provide for London's growing transport needs now, and into the future.&nbsp;TfL is urging all Londoners and Tube, London Overground and DLR passengers to <a href="http://www.tfl.gov.uk/tfl/livetravelnews/realtime/tube/default.html">check before travelling</a> at weekends, allowing extra journey time where necessary. <br></li></ul>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "Customers can pick up a copy with some of the Central line stories from stations on the line from 12 September.Sarah Butler was commissioned by Art on the Underground to undertake a six-month residency on the Central line.&nbsp;During her stay she created";}
        
        


 