


@{ViewBag.Title = "Armed Forces and TfL service veterans deliver war poetry on the Tube  ";}
        
        
<div class="r">
    <div class="breadcrumb-container" role="navigation">
        <span id="breadcrumb-label" class="visually-hidden">You are here:</span>
        <ol class="breadcrumbs clearfix" aria-labelledby="breadcrumb-label">
            <li class="home">
                <a href="/">
                    <span class="hide-text">Home</span>
                </a>
            </li>
            
                <li>
                    <a href="/info-for/media/index">Media</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases">Press releases</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases/2015">2015</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases/2015/november">November</a>
                </li>
                
                <li>
                    <span class="last-breadcrumb">Armed Forces and TfL service veterans deliver war poetry on the Tube  </span>
                </li>
            
 
            
 
            
 
            
 
            
 
        </ul>
    </div>
</div>
     
 
<div class="r">
    <div class="headline-container plain">
        <h1>Armed Forces and TfL service veterans deliver war poetry on the Tube  </h1>
        <div class="content-page-press-release">
        05 November 2015
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">



 <div class="on-this-page">
<p>Transport for London (TfL) and the Ministry of Defence have united to bring serving personnel from the Royal Navy, the Army and the Royal Air Force, as well as TfL ex-service members together to record famous war poems. The poems will be played at seven London Underground stations on Remembrance Sunday and Armistice Day.</p>
<p>The poems will be played at Westminster, Covent Garden, Knightsbridge, Oval, Victoria, Waterloo and Charing Cross London Underground stations and have been recorded by:
</p>
<ul>
    <li>Major Sartaj Singh Gogna from the British Army has recorded - When I Go From Hence by Rabindranath Tagore</li>
    <li>Captain Beth Gray from the British Army has recorded - Everyone Sang by Siegfried Sassoon</li>
    <li>Sub-Lieutenant James (Jimmy) Still from the Royal Navy has recorded - Bach and the Sentry by Ivor Gurney</li>
    <li>Able Seaman Jennifer Wright from the Royal Navy has recorded - For the Fallen by Robert Laurence Binyon</li>
    <li>Warrant Officer Shobha Earl from the RAF has recorded - Gift of India by Sarojini Naidu</li>
    <li>Senior Aircraftman Adam Bruerton from the RAF has recorded  - Maire Macrae's Song by Kathleen Raine</li>
    <li>Senior Aircraftman Joe Wrigglesworth from the RAF has recorded - In The Time of Breaking Nations by Thomas Hardy</li>
    <li>Peter Orchard a retired London buses Area Manager for Operations in Stratford who served in the Royal Navy between 1977 and 1983 has recorded &#45; Tommy by Rudyard Kipling</li>
    <li>Pauline Cottam, a retired London Underground Signal Operator who served in the RAF as an Aircraft Mechanic Airframes between 1968 and 1974 has recorded &#45; High Flight by John Gillespie Magee, Jr</li>
</ul>
<p>Nick Brown, Managing Director of London Underground and Rail, said: `The remembrance period is always a poignant time for us to remember all those who have made the ultimate sacrifice to give us the freedoms we have today. I hope customers appreciate and reflect upon the war poetry that the serving personnel and our very own ex-service members have recorded.'</p>
<p>TfL has a longstanding relationship with the Forces dating back to the First World War when transport workers joined the Armed Forces. Buses and coaches moved troops and were also converted to Battle Buses to help those injured during the War. 1,500 transport workers died in the First World War.</p>
<p>Transport workers also made a huge contribution during World War Two, with 20,488 employees joining the forces. So many workers signed up that London Transport had its own regiment &#45; the '84th'.  Buses and coaches moved troops, were converted to ambulances and helped to evacuate inner city children, hospital patients and expectant mothers. More than 1.35 million people were carried to safety.</p>
<p>Major Sartaj Singh Gogna, Chair of the British Armed Forces Sikh Association, is a Senior instructor of Officer training for the Royal Electrical and Mechanical Engineers. He has served with the Army for 15 years and has deployed to both Iraq and Afghanistan. On Remembrance Sunday Sartaj will be escorting veterans from the Undivided Indian Ex-Serviceman's Association as they march past the Cenotaph.</p>
<p>Major Sartaj Singh Gogna, said: `To me Remembrance is an opportunity to reflect on the sacrifices made by the whole Service community and a time to consider how we can live up to the examples of bravery and valour shown by so many courageous individuals.  Service personnel continue to serve our Nation across the globe and their families and friends often face hardships and sacrifices that few can relate to.</p>
<p>`While writing poetry allows us to express feelings and thoughts we may seldom share, the reading of it enables us to sit and reflect on our experiences. On this day let us take a moment to not only honour those who gave the ultimate sacrifice, but also celebrate the strength of character and resolve shown by their families and friends. Sicut Leonis &#45; Be like lions.'</p>
<p>In 1920, London Transport Old Comrades were given the right to march by King George V in recognition of the unique contribution of hundreds of transport workers who went with their buses to the front line from 1914 to 1918. The Old Comrades will take part in the annual Remembrance Sunday parade and will be led by John Norris, a retired London bus driver who served in the Royal Engineers from 1964 to 1967. Eric Reeve, a Customer Service Manager on the London Underground network will lay the London Transport Old Comrades Association wreath at the Cenotaph.</p>
<hr />
<p>Images of the serving personnel and TfL ex-service member are available at <a href="https://www.flickr.com/photos/tflpress/albums/72157658539237883">https://www.flickr.com/photos/tflpress/albums/72157658539237883</a></p>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
                <a href="/info-for/media/index" class="heading">
                    <h2 id="sub-menu-heading">Media<span class="visually-hidden"> navigation</span></h2>
                </a>
                <ul>
                    
                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases">Press releases</a></div>
                                <ul>
                                    
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2020">2020</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019">2019</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018">2018</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017">2017</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016">2016</a></div></li>
                            
 
                                        <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015">2015</a></div>
                                        <ul>
                                            
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015/december">December</a></div></li>
                                    
 
                                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015/november">November</a></div>
                                                <ul>
                                                    
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
                                                </ul>
                                            
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015/october">October</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015/september">September</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015/august">August</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015/july">July</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015/june">June</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015/may">May</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015/april">April</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015/march">March</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015/february">February</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015/january">January</a></div></li>
                                    
 
                                        </ul>
                                    </li>
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014">2014</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2013">2013</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2012">2012</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2011">2011</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2010">2010</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2009">2009</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2008">2008</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2007">2007</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2006">2006</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2005">2005</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2004">2004</a></div></li>
                            
 
                                </ul>
                            </li>
 
                                <li><div class="link-wrapper"><a href="/info-for/media/photos">Photos</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/media/contact-the-press-office">Contact the Press Office</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/filming-and-photography">Filming & photography</a></div></li>
                            
 
                </ul>
            
 
 
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype: -Home-Media-Media-Press releases-2015-November-Armed Forces and TfL service veterans deliver war poetry on the Tube   -->

 
 
        
        
            @{ViewBag.Description = "Press releases and news articles from Transport for London";}
        
        


 