


@{ViewBag.Title = "Black Cab tops the list of London's transport 'Design Icons'";}
        
        
<div class="r">
    <div class="breadcrumb-container" role="navigation">
        <span id="breadcrumb-label" class="visually-hidden">You are here:</span>
        <ol class="breadcrumbs clearfix" aria-labelledby="breadcrumb-label">
            <li class="home">
                <a href="/">
                    <span class="hide-text">Home</span>
                </a>
            </li>
            
                <li>
                    <a href="/info-for/media/index">Media</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases">Press releases</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases/2015">2015</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases/2015/november">November</a>
                </li>
                
                <li>
                    <span class="last-breadcrumb">Black Cab tops the list of London’s transport ‘Design Icons’</span>
                </li>
            
 
            
 
            
 
            
 
            
 
        </ul>
    </div>
</div>
     
 
<div class="r">
    <div class="headline-container plain">
        <h1>Black Cab tops the list of London’s transport ‘Design Icons’</h1>
        <div class="content-page-press-release">
        04 November 2015
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">



 <div class="on-this-page">
<p>The world famous black cab, the ground-breaking work of Frank Pick and Harry Beck's iconic Tube map have been named as London's favourite transport 'Design Icons'.</p>
<p>The three topped the vote after more than 10,000 Londoners took part in the Transport for London (TfL) and London Transport Museum search.</p>
<p>Sponsored by Exterion Media, the 'Design Icons' search is part of 'Transported by Design', an 18-month programme of events, exhibitions and competitions that celebrate the role of good design on the Capital's transport network.</p>
<p>Londoners voted for two months from a shortlist of 100 transport designs that had been carefully chosen by industry experts, staff and the London Transport Museum.  </p>
<p>&nbsp;The 10 most popular designs are:</p>
<ol>
    <li>Black cab</li>
    <li>The work of Frank Pick &#45; who commissioned classic Tube posters and the Johnston typeface</li>
    <li>Harry Beck's original Tube map</li>
    <li>Baker Street Underground station platforms</li>
    <li>Iconic Roundel logo</li>
    <li>Original Routemaster bus</li>
    <li>Mark Wallinger's Labyrinth artwork found in every Tube station</li>
    <li>RT type bus which ran from the 1930s to the 1970s</li>
    <li>New walk-through S-stock Tube trains</li>
    <li>Westminster Underground station</li>
</ol>
<p>Mike Brown MVO, London's Transport Commissioner, said: `It is fantastic to see that the world famous design of black cabs has been selected as London's favourite transport design. The shortlist was so strong that even iconic designs such as our Moquette seating or the Johnston typeface missed out on a top ten position. Through our Design Icons search we want to showcase how, from the Tube map to the smallest detail of the new Routemaster bus, S-stock trains and our multi-billion pound upgrade projects, everything we design is with our customers in mind.'</p>
<p>Speaking about his favourite Design Icon, the Roundel, Wayne Hemingway MBE, said: `It is a testament to the powerfully simple, eminently British and timeless design, along with the love of what the London Underground does for the city, that the Roundel is an icon.'</p>
<p>Other items in the 100-strong shortlist include: TfL's Johnston typeface, Cycle Hire bikes and St John's Wood Underground station. A selection of the 100 'Design Icons' will be showcased in a special event in early 2016.</p>
<p>Sam Mullins, Director of London Transport Museum, said: `Good design is at the heart of everything that TfL and its predecessor organisations deliver; from the golden age of the publicity posters in the early 20th century, to the technological developments and innovation that have led to London's public transport system becoming a world leader. At London Transport Museum visitors can see hundreds of examples of this design excellence &#45; from graphics and architecture through to engineering and classic vehicle design, as well as the many of the Design Icons voted for by the public.'</p>
<p>Other highlights of the 'Transported by Design' programme will include:</p>
<ul>
    <li>'London by Design', a season of events at the London Transport Museum which includes Night Shift &#45; an exhibition about London after dark; a new design gallery opening on 6 November; and Pioneering Design &#45; a temporary exhibition opening on 20 May 2016 <a href="http://www.ltmuseum.co.uk">www.ltmuseum.co.uk</a></li>
    <li>A major design festival in Regent Street, summer 2016</li>
    <li>Activities to celebrate the 100th anniversary of the iconic Johnston typeface, summer 2016</li>
    <li>Unveiling of a commemoration at Piccadilly Circus station to former London Transport Chief Executive, Frank Pick, autumn 2016</li>
</ul>
<p>To see the full list of 100 Designs Icons and for more information on why they were nominated visit here &#45; <a href="http://www.transportedbydesign.tumblr.com">www.transportedbydesign.tumblr.com</a></p>
<p>Download images here -&nbsp;<a href="https://flic.kr/s/aHskoDLuEe">https://flic.kr/s/aHskoDLuEe</a></p>
<hr />
<ol>
    <li>The search to find London's transport Design Icons launched on 1 August 2015 and closed on 1 October 2015.</li>
    <li>This summer, Transport for London (TfL) and London Transport Museum (LTM) launched Transported by Design, a joint 18-month programme to celebrate the role of good design in London's transport network.</li>
    <li>'London by Design' at London Transport Museum: Visitors to London Transport Museum can enjoy an 18-month programme of exhibitions and events to celebrate the design legacy of London's transport which dates back over 150 years.</li>
    <li>Transported by Design is sponsored by Exterion Media.</li>
</ol>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
                <a href="/info-for/media/index" class="heading">
                    <h2 id="sub-menu-heading">Media<span class="visually-hidden"> navigation</span></h2>
                </a>
                <ul>
                    
                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases">Press releases</a></div>
                                <ul>
                                    
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2020">2020</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019">2019</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018">2018</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017">2017</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016">2016</a></div></li>
                            
 
                                        <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015">2015</a></div>
                                        <ul>
                                            
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015/december">December</a></div></li>
                                    
 
                                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015/november">November</a></div>
                                                <ul>
                                                    
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
                                                </ul>
                                            
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015/october">October</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015/september">September</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015/august">August</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015/july">July</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015/june">June</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015/may">May</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015/april">April</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015/march">March</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015/february">February</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015/january">January</a></div></li>
                                    
 
                                        </ul>
                                    </li>
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014">2014</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2013">2013</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2012">2012</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2011">2011</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2010">2010</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2009">2009</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2008">2008</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2007">2007</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2006">2006</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2005">2005</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2004">2004</a></div></li>
                            
 
                                </ul>
                            </li>
 
                                <li><div class="link-wrapper"><a href="/info-for/media/photos">Photos</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/media/contact-the-press-office">Contact the Press Office</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/filming-and-photography">Filming & photography</a></div></li>
                            
 
                </ul>
            
 
 
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype: -Home-Media-Media-Press releases-2015-November-Black Cab tops the list of London’s transport ‘Design Icons’ -->

 
 
        
        
            @{ViewBag.Description = "Press releases and news articles from Transport for London";}
        
        


 