


@{ViewBag.Title = "Funding in place for Metropolitan line extension ";}
        
        
<div class="r">
    <div class="breadcrumb-container" role="navigation">
        <span id="breadcrumb-label" class="visually-hidden">You are here:</span>
        <ol class="breadcrumbs clearfix" aria-labelledby="breadcrumb-label">
            <li class="home">
                <a href="/">
                    <span class="hide-text">Home</span>
                </a>
            </li>
            
                <li>
                    <a href="/info-for/media/index">Media</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases">Press releases</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases/2015">2015</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases/2015/november">November</a>
                </li>
                
                <li>
                    <span class="last-breadcrumb">Funding in place for Metropolitan line extension </span>
                </li>
            
 
            
 
            
 
            
 
            
 
        </ul>
    </div>
</div>
     
 
<div class="r">
    <div class="headline-container plain">
        <h1>Funding in place for Metropolitan line extension </h1>
        <div class="content-page-press-release">
        23 November 2015
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        Course set for extension of the Metropolitan line as funding package now complete
        
    </div>



<div class="pull-quote">
        <div class="quote-body">"By 2020 we will have built a 400m viaduct, two completely new stations and numerous new and reconstructed bridges along the route, transforming transport links in Watford. With the funding package complete we're now turning all our attention to appointing contractors, finalising designs and beginning construction in 2016"</div>
        <div class="quote-footer">
            <div class="quotee-name">Nick Brown</div>
            <div class="quotee-job-title">Managing Director of London Underground</div>
        </div>
</div>

 <div class="on-this-page">
<ul>
    <li>London Underground aims to complete line extension and two new stations in 2020</li>
    <li>New Tube link will create over 6,500 jobs and benefit local economy by 2bn</li>
    <li>Work due to commence next year</li>
</ul>
<p>London Underground (LU) today confirmed that plans are in place to start construction work on the extension of the Metropolitan line next year, with the aim of completing the transformative new link in 2020.</p>
<p>Over 6,500 permanent jobs and a 2bn boost to the local economy will be created as two new stations are built at Cassiobridge and Watford Vicarage Road, served by new walk-through air-conditioned trains every ten minutes to and from central London during peak hours.</p>
<p>The Metropolitan Line Extension will support growth and regeneration in and around Watford by making journeys to and from London easier. The Underground will be connected to the West Coast Mainline via the station at Watford Junction, and the two new stations will also provide new connections to Watford General Hospital and new Health Campus, Croxley Business Park and Cardiff Road Industrial Estate.</p>
<p>A full funding package for the extension has now been agreed between the Department for Transport (DfT), Hertfordshire County Council and Transport for London (TfL), and the work will be delivered by LU. The existing Watford Metropolitan station will close to the public following the opening of the new stations, but will be retained as sidings for the extended railway.</p>
<p>Nick Brown, Managing Director of LU, said: </p>
<p>'For 100 years, the Tube has been enabling growth in 'Metro-land' and this new part of the Underground network will support further rapid development in the area. By 2020 we will have built a 400m viaduct, two completely new stations and numerous new and reconstructed bridges along the route, transforming transport links in Watford. With the funding package complete we're now turning all our attention to appointing contractors, finalising designs and beginning construction in 2016.'</p>
<p>Derrick Ashley, Hertfordshire County Council Cabinet Member for Transport, said: </p>
<p>'Hertfordshire County Council is a proud partner in the development of the Metropolitan Line Extension, which will make travel in and out of central London much easier for people in Watford and the surrounding areas. The line extension, alongside development in the area, presents a raft of fresh opportunities for Hertfordshire, including the potential for thousands of new jobs and a boost to the local economy. As one of the funding partners for this project, it is positive to see this exciting project come to fruition.'</p>
<p>Hertfordshire Local Enterprise Partnership has committed 87.85m to the new Tube link, which is 40 per cent of its total Growth Deal funding from Government. Chairman John Gourd said: &quot;We have worked hard with our partners including Hertfordshire County Council and Watford Borough Council and are delighted to have now reached this exciting stage. </p>
<p>The Metropolitan Line Extension will unlock investment in brownfield sites, revitalise existing employment areas and bring considerable job opportunities and economic benefits to Watford and the wider community. As the second largest funder this demonstrates the huge importance that we attach to this project which will help realise our priority to deliver at least 1,400 jobs in the M1/M25 area by 2021.&quot;</p>
<p>Manny Lewis, Managing Director for Watford Borough Council, said: </p>
<p>'The Metropolitan Line Extension to Watford is a key transformational project for the town - its residents, visitors, businesses and investors.  As well as providing significantly improved transport choices for local people, the project is absolutely critical to unlocking Watford's future economic and regeneration potential.  The extended Metropolitan Line will bring over 1.4bn of investment into the town, helping create thousands of jobs by supporting the delivery of major projects like the Watford Health Campus, Watford Business Park, Ascot Road and the redevelopment of Charter Place Shopping Centre. We have worked really hard behind the scenes with key stakeholders and funding partners to help make this happen and look forward to supporting London Underground Ltd as they work towards physically delivering the project on the ground.'</p>
<p>Steven Halls, Chief Executive, Three Rivers District Council, said: </p>
<p>'Three Rivers has formally supported the Croxley Rail Link since 1996 because excellent rail and Underground links are a vital part of the economic success of the district. The expansion of the Metropolitan line will give a powerful boost to businesses and for creating jobs in Croxley Green as well providing extra travel options for residents, reducing carbon emissions and congestion on our roads. We are working very closely with the partnership and will do our best to make sure that the inevitable disruption to local residents, businesses and the environment will be kept to a minimum.'</p>
<hr />
<p>&nbsp;</p>
<p>Notes to Editors:</p>
<ul>
    <li>Until now the Metropolitan Line Extension has been known as the Croxley Rail Link and has been managed by Hertfordshire County Council.</li>
    <li>The Secretary of State for Transport approved the Transport and Works Act Order in July 2013, which provided the necessary powers to acquire land, construct and operate the extension.</li>
    <li>In November 2015 the Mayor of London formally decided that TfL would provide total funding of 49.23m for the project. The funding package for the project amounts to 284.4m, including local funding of 125.35 million, DfT providing 109.82 million and TfL providing	the remaining 49.23 million.</li>
    <li>The research into the economic benefits was undertaken by Hertfordshire County Council and Watford Borough Council.</li>
</ul>
<p>&nbsp;</p>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
                <a href="/info-for/media/index" class="heading">
                    <h2 id="sub-menu-heading">Media<span class="visually-hidden"> navigation</span></h2>
                </a>
                <ul>
                    
                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases">Press releases</a></div>
                                <ul>
                                    
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2020">2020</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019">2019</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018">2018</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017">2017</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016">2016</a></div></li>
                            
 
                                        <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015">2015</a></div>
                                        <ul>
                                            
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015/december">December</a></div></li>
                                    
 
                                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015/november">November</a></div>
                                                <ul>
                                                    
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
                                                </ul>
                                            
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015/october">October</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015/september">September</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015/august">August</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015/july">July</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015/june">June</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015/may">May</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015/april">April</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015/march">March</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015/february">February</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015/january">January</a></div></li>
                                    
 
                                        </ul>
                                    </li>
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014">2014</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2013">2013</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2012">2012</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2011">2011</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2010">2010</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2009">2009</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2008">2008</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2007">2007</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2006">2006</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2005">2005</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2004">2004</a></div></li>
                            
 
                                </ul>
                            </li>
 
                                <li><div class="link-wrapper"><a href="/info-for/media/photos">Photos</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/media/contact-the-press-office">Contact the Press Office</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/filming-and-photography">Filming & photography</a></div></li>
                            
 
                </ul>
            
 
 
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype: -Home-Media-Media-Press releases-2015-November-Funding in place for Metropolitan line extension  -->

 
 
        
        
            @{ViewBag.Description = "Course set for extension of the Metropolitan line as funding package now complete";}
        
        


 