


@{ViewBag.Title = "Major safety improvements on Westminster Bridge proposed";}
        
        
<div class="r">
    <div class="breadcrumb-container" role="navigation">
        <span id="breadcrumb-label" class="visually-hidden">You are here:</span>
        <ol class="breadcrumbs clearfix" aria-labelledby="breadcrumb-label">
            <li class="home">
                <a href="/">
                    <span class="hide-text">Home</span>
                </a>
            </li>
            
                <li>
                    <a href="/info-for/media/index">Media</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases">Press releases</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases/2015">2015</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases/2015/november">November</a>
                </li>
                
                <li>
                    <span class="last-breadcrumb">Major safety improvements on Westminster Bridge proposed</span>
                </li>
            
 
            
 
            
 
            
 
            
 
        </ul>
    </div>
</div>
     
 
<div class="r">
    <div class="headline-container plain">
        <h1>Major safety improvements on Westminster Bridge proposed</h1>
        <div class="content-page-press-release">
        11 November 2015
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">



 <div class="on-this-page">
<p>Improved cycle facilities, with an option for segregated lanes on Westminster Bridge, a new crossing for pedestrians and a new cycle and pedestrian-friendly junction at the southern end of the bridge are included in plans being consulted on by Transport for London (TfL).</p>
<p>The improvements would open up safer cycle links from Waterloo station and south London to the new East-West Cycle Superhighway, currently under construction.</p>
<p>It would give cyclists a high quality route from Waterloo to Parliament Square, the Embankment, Marble Arch, Paddington, Blackfriars and the City.</p>
<p>There would also be a link to the new &quot;Central London Grid&quot; cycle route along the South Bank.</p>
<p>Almost a third of morning peak-hour traffic on the bridge is bikes, according to TfL's 2013 cycle census.</p>
<p>Leon Daniels, Managing Director of Surface Transport at TfL, said: `London is rapidly changing and that is why we are modernising our roads to keep pace with it. We can turn a potentially hazardous junction into a safer place for cyclists and pedestrians by redesigning this area. Our proposed safety improvements would benefit Londoners and commuters of London's busiest railway station, Waterloo, who would have better walking and cycling links to and from the station.'</p>
<p>The proposed changes would create a new pedestrian crossing on the south-east arm of the Westminster Bridge South roundabout by the Park Plaza hotel, segregated cycle lanes, and separate traffic signals for cyclists at the junction, reducing conflict with motor vehicles, where most serious cyclist collisions occur.</p>
<p>A new trial 20mph limit for all traffic is also proposed on the bridge, on part of Westminster Bridge Road, Addington Street and York Road.</p>
<p>The existing bus and general traffic lanes on the bridge would remain.</p>
<p>Andrew Gilligan, the Mayor's cycling commissioner, said: `This is one of the Mayor's Better Junction schemes to vastly improve another of London's trickiest big junctions.</p>
<p>`After completion of this scheme, our intention is segregated lanes on Westminster Bridge Road to fill the short quarter-mile gap between it and the North-South Superhighway on St George's Road.</p>
<p>`You would then be able to cycle on fully-segregated or traffic-free routes from Paddington, Marble Arch and Hyde Park Corner to Elephant and Castle.'</p>
<p>Councillor Jennifer Brathwaite, Cabinet member for the Environment at Lambeth Council, said: `Anything that makes cycling and walking in London safer is to be welcomed. It's better for our health, better for our city and better for our streets which for too long have been dominated by the car.'</p>
<p>The work forms part of TfL's Road Modernisation Plan, a &pound;4billion investment in the Capital's vital road network which will ensure London's roads are able to meet the needs of a growing population. It complements other proposed local improvement schemes from Lambeth Council and other organisations.</p>
<p>Subject to the results of the public consultation, which is now open, work could begin as early as summer 2016.</p>
<hr />
<p>The public can respond to the Westminster Bridge South consultation here: <a href="http://tfl.gov.uk/Westminster-bridge-south">tfl.gov.uk/Westminster-bridge-south</a></p>
<p>TfL will be holding public exhibitions at the following locations and dates:</p>
<ul>
    <li>Tuesday 24 November 11:00-17:00 Waterloo Library, 114-118 Lower Marsh, SE1 7AE</li>
    <li>Saturday 28 November  11:00-16:00 St Thomas' Hospital, Bird song corridor (between the North and South Wings)</li>
    <li>Tuesday 1 December  16:00-20:00 St Thomas' Hospital, Bird song corridor (between the North and South Wings)</li>
</ul>
<ul>
    <li>The improved pedestrian and cycling facilities on Westminster Bridge form part of TfL's continuing &pound;4bn Road Modernisation Plan, which represents the biggest investment in London's roads in a generation, including hundreds of transformational projects within the existing road network. Using radical ideas and innovative designs, the plan will make London's roads greener, safer and more attractive for the benefit of all Londoners.</li>
    <li>In March 2013, the Mayor launched his Vision for Cycling in London, which detailed his &pound;913m programme to improve infrastructure and safety for cyclists in the Capital <a href="http://www.tfl.gov.uk/cyclingvision">www.tfl.gov.uk/cyclingvision</a></li>
    <li>Almost 25 per cent of all London roads are now 20mph and, earlier this year, plans were outlined for eight new pilots of 20mph speed limits on the TfL Road Network: <a href="https://tfl.gov.uk/info-for/media/press-releases/2015/march/tfl-outlines-new-sites-for-potential-20mph-speed-limits">https://tfl.gov.uk/info-for/media/press-releases/2015/march/tfl-outlines-new-sites-for-potential-20mph-speed-limits</a></li>
</ul>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
                <a href="/info-for/media/index" class="heading">
                    <h2 id="sub-menu-heading">Media<span class="visually-hidden"> navigation</span></h2>
                </a>
                <ul>
                    
                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases">Press releases</a></div>
                                <ul>
                                    
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2020">2020</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019">2019</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018">2018</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017">2017</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016">2016</a></div></li>
                            
 
                                        <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015">2015</a></div>
                                        <ul>
                                            
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015/december">December</a></div></li>
                                    
 
                                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015/november">November</a></div>
                                                <ul>
                                                    
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
                                                </ul>
                                            
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015/october">October</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015/september">September</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015/august">August</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015/july">July</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015/june">June</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015/may">May</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015/april">April</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015/march">March</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015/february">February</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015/january">January</a></div></li>
                                    
 
                                        </ul>
                                    </li>
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014">2014</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2013">2013</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2012">2012</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2011">2011</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2010">2010</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2009">2009</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2008">2008</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2007">2007</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2006">2006</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2005">2005</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2004">2004</a></div></li>
                            
 
                                </ul>
                            </li>
 
                                <li><div class="link-wrapper"><a href="/info-for/media/photos">Photos</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/media/contact-the-press-office">Contact the Press Office</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/filming-and-photography">Filming & photography</a></div></li>
                            
 
                </ul>
            
 
 
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype: -Home-Media-Media-Press releases-2015-November-Major safety improvements on Westminster Bridge proposed -->

 
 
        
        
            @{ViewBag.Description = "Press releases and news articles from Transport for London";}
        
        


 