


@{ViewBag.Title = "Mayor and TfL confirm card and contactless payments will be accepted by London taxis";}
        
        
<div class="r">
    <div class="breadcrumb-container" role="navigation">
        <span id="breadcrumb-label" class="visually-hidden">You are here:</span>
        <ol class="breadcrumbs clearfix" aria-labelledby="breadcrumb-label">
            <li class="home">
                <a href="/">
                    <span class="hide-text">Home</span>
                </a>
            </li>
            
                <li>
                    <a href="/info-for/media/index">Media</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases">Press releases</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases/2015">2015</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases/2015/november">November</a>
                </li>
                
                <li>
                    <span class="last-breadcrumb">Mayor and TfL confirm card and contactless payments will be accepted by London taxis</span>
                </li>
            
 
            
 
            
 
            
 
            
 
        </ul>
    </div>
</div>
     
 
<div class="r">
    <div class="headline-container plain">
        <h1>Mayor and TfL confirm card and contactless payments will be accepted by London taxis</h1>
        <div class="content-page-press-release">
        26 November 2015
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        Plans to mandate card and contactless payments in taxis from October next year
        
    </div>



 <div class="on-this-page">
<p>Travelling by taxi is set to become even more convenient after the Mayor and Transport for London (TfL) confirmed they will take forward proposals requiring all London taxis to accept card payments, including contactless, from October 2016.</p>
<p>The plans have been drawn up after a consultation earlier this year found that an overwhelming 86% of respondents backed proposals for card acceptance, with 68% agreeing that passengers should also be able to pay using contactless payments.</p>
<p>To ensure customers and cabbies don't pay over the odds, TfL has negotiated with the credit card industry to bring down the cost for drivers of accepting card payments. This will reduce transaction fees paid by cabbies from up to 10% to three per cent or less of the transaction.</p>
<p>Under the plans customers will also not pay any surcharge on their fare. Instead, taxi drivers will recoup their transaction costs through a proposed 20p increase on the basic fare (the minimum fare that shows on the meter at the start of the journey which, at &pound;2.40, is currently amongst the lowest in the country).</p>
<p>This will mean that passengers will only ever pay what is shown on the meter, no matter how they choose to pay.</p>
<p>If approved by the TfL Board in February as part of the annual taxi fares revision, the fare change will come into force in April next year and all cabbies will need to accept card payments from October 2016.</p>
<p>The Mayor of London, Boris Johnson MP, said: `This is great news for the millions of people who use London's world famous black cabs. This move will boost business for cabbies and bring the trade into the 21st century by enabling quicker and more convenient journeys for customers.'</p>
<p>Garrett Emmerson, TfL's Chief Operating Officer for Surface Transport, said: `This is a very positive change for taxi drivers and for our customers. London is increasingly a cashless city, with people using cards to pay for all aspects of their daily life &#45; including transport. We are seeing more and more people use contactless payments on our network, and mandating card payments in taxis will mean customers no longer have to consider how they might pay for a journey before getting into a taxi. It will also benefit drivers, who will see their services opened up to potential new business.'</p>
<p>Richard Koch, Head of Policy at The UK Cards Association, said: `Consumers are increasingly choosing to pay with cards as a convenient and secure alternative to cash. It's great news for Londoners, and visitors to the Capital, that they'll always have the option of using a debit or credit card in taxis now too. With the number of contactless payments trebling in just a year, many passengers will also welcome the ability simply to touch and pay for their cab journey.'</p>
<p>ENDS</p>
<p>Notes to Editors</p>
<ul>
    <li>Under the proposals all card equipment will be approved by TfL and must be available for customers to use conveniently. This will ensure that drivers will have a wide range of options to choose from when deciding which equipment to install in their taxi.</li>
    <li>A number of card payment operators are already working on devices that would allow passengers to pay for their journeys:</li>
</ul>
<ul>
    <li>VeriFone</li>
    <li>Taxipay</li>
    <li>Dashtaxi</li>
    <li>CCIPS</li>
    <li>Ingenico</li>
    <li>iZettle</li>
    <li>Muria 010</li>
    <li>PayPal</li>
</ul>
<ul>
    <li>The plans follow on from a TfL Board decision last September to review whether credit card acceptance in cabs should become mandatory</li>
    <li>The consultation received more than one thousand responses from a wide range of stakeholders, including taxi trade organisations, passenger safety groups, card industry representatives and the London Assembly Transport Committee</li>
    <li>A copy of the consultation report is available on our website: <a href="https://consultations.tfl.gov.uk/taxis/card-payment">https://consultations.tfl.gov.uk/taxis/card-payment</a></li>
</ul>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
                <a href="/info-for/media/index" class="heading">
                    <h2 id="sub-menu-heading">Media<span class="visually-hidden"> navigation</span></h2>
                </a>
                <ul>
                    
                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases">Press releases</a></div>
                                <ul>
                                    
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2020">2020</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019">2019</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018">2018</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017">2017</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016">2016</a></div></li>
                            
 
                                        <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015">2015</a></div>
                                        <ul>
                                            
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015/december">December</a></div></li>
                                    
 
                                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015/november">November</a></div>
                                                <ul>
                                                    
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
                                                </ul>
                                            
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015/october">October</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015/september">September</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015/august">August</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015/july">July</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015/june">June</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015/may">May</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015/april">April</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015/march">March</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015/february">February</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015/january">January</a></div></li>
                                    
 
                                        </ul>
                                    </li>
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014">2014</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2013">2013</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2012">2012</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2011">2011</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2010">2010</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2009">2009</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2008">2008</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2007">2007</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2006">2006</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2005">2005</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2004">2004</a></div></li>
                            
 
                                </ul>
                            </li>
 
                                <li><div class="link-wrapper"><a href="/info-for/media/photos">Photos</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/media/contact-the-press-office">Contact the Press Office</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/filming-and-photography">Filming & photography</a></div></li>
                            
 
                </ul>
            
 
 
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype: -Home-Media-Media-Press releases-2015-November-Mayor and TfL confirm card and contactless payments will be accepted by London taxis -->

 
 
        
        
            @{ViewBag.Description = "Plans to mandate card and contactless payments in taxis from October next year";}
        
        


 