


@{ViewBag.Title = "Retired bus driver to lead the LT Old Comrades on Remembrance Day";}
        
        
<div class="r">
    <div class="breadcrumb-container" role="navigation">
        <span id="breadcrumb-label" class="visually-hidden">You are here:</span>
        <ol class="breadcrumbs clearfix" aria-labelledby="breadcrumb-label">
            <li class="home">
                <a href="/">
                    <span class="hide-text">Home</span>
                </a>
            </li>
            
                <li>
                    <a href="/info-for/media/index">Media</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases">Press releases</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases/2015">2015</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases/2015/november">November</a>
                </li>
                
                <li>
                    <span class="last-breadcrumb">Retired bus driver to lead the LT Old Comrades on Remembrance Day</span>
                </li>
            
 
            
 
            
 
            
 
            
 
        </ul>
    </div>
</div>
     
 
<div class="r">
    <div class="headline-container plain">
        <h1>Retired bus driver to lead the LT Old Comrades on Remembrance Day</h1>
        <div class="content-page-press-release">
        04 November 2015
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">



 <div class="on-this-page">
<p>Fifty members of the London Transport Old Comrades Association will take part in the annual Remembrance Sunday parade to the Cenotaph on Sunday 8 November in honour of the 4,500 transport workers who died in the two World Wars and other conflicts.</p>
<p>This year marks the 92nd year of the London Transport Old Comrades Association. The group was first given the right to march by King George V in honour of the men of the London General Omnibus Company who drove buses to the front line in France from 1914 to 1918.</p>
<p>This year the Old Comrades will be led out at the parade by John Norris, a retired London bus driver who served in the Royal Engineers from 1964 to 1967. He then joined London Transport as a guard on the Tube and was based at Acton Town, Baker Street, Barking and Upminster London Underground Stations.  In 1979, John became a bus driver working at West Ham and Barking Bus Garage, and served London for a further 31 years until retirement in 2010.</p>
<p>John Norris said: `It is an absolute honour for me to be given the privilege to lead the TfL contingent again, at this year's Remembrance Parade. As we march towards the Cenotaph, we will remember all our fallen colleagues who gave their lives in both World Wars and other conflicts.'</p>
<p>London's Transport Commissioner, Mike Brown MVO, said: &quot;I've had the privilege of conducting the send off of the Old Comrades before they join the parade on a number of occasions. It is an honour that we are given this opportunity to not only take part in the march, but to lay a wreath at the Cenotaph in remembrance of all the transport staff who lost their lives in the Great Wars and other conflicts.&quot;</p>
<p>Many of London's transport workers joined directly from a career in the armed forces and continue their association through active involvement with the reserve forces. In recent years this has included deployments in Afghanistan and Iraq with the Territorial Army (TA).</p>
<p>This year, Eric Reeve, a Customer Service Manager on the London Underground network will lay the London Transport Old Comrades Association wreath at the Cenotaph. Eric joined the Army as a Junior Soldier and Bandsman at the age of 17.</p>
<p>He spent time in Cyprus, Kenya, Israel and Turkey. In 1974 Eric became a Reserve and then a TA Reserve in 1977, with the post taking him all over Europe and Saudi Arabia. He now works with the Army Cadet Force in Cambridgeshire teaching music and bugle in the Corps of Drums.</p>
<p>Eric is celebrating his 40th year at TfL, having started out as a train Guard in 1975. He is also a member of the Royal British Legion, where he is a committee member and Standard Bearer of his local branch in Peterborough.</p>
<p>Eric Reeve said: `I feel honoured and proud to be laying the wreath on behalf of TfL and the London Transport Old Comrades Association. Remembrance Sunday is a particularly special time to pay our respects to those who made the ultimate sacrifice for us to be free to do what we want.'</p>
<p>Since November 2008, war veterans have been able to travel on the Tube, DLR, Overground, TfL, National Rail services within London, London buses and Trams for free with a Veterans Oyster Photocard as part of the Mayor's voluntary concessionary travel scheme. Over 7,500 veterans currently benefit from the Veteran Oyster photocards. This scheme is particularly beneficial to veterans who live in London and are not yet eligible for a 60+ London Oyster Photocard or Freedom Pass.</p>
<p>Continuing their annual tradition, groups of black cab drivers will be offering a free taxi service to Veterans called, 'Poppy Cabs', to take them to and from Westminster Bridge to a number of Veterans' clubs in London on Remembrance Sunday.</p>
<hr />
<ul>
    <li>Images of London Transport Old Comrades are available at - <a href="https://www.flickr.com/photos/tflpress/albums/72157660830512235">https://www.flickr.com/photos/tflpress/albums/72157660830512235</a></li>
    <li>Further information about the Veterans Oyster photocard can be found at <a href="http://www.tfl.gov.uk/veterans ">www.tfl.gov.uk/veterans</a> .</li>
    <li>The London Transport Old Comrades Association was formed in 1923</li>
    <li>1,500 transport workers died in World War I and 3000 lost their lives in World War II</li>
</ul>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
                <a href="/info-for/media/index" class="heading">
                    <h2 id="sub-menu-heading">Media<span class="visually-hidden"> navigation</span></h2>
                </a>
                <ul>
                    
                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases">Press releases</a></div>
                                <ul>
                                    
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2020">2020</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019">2019</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018">2018</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017">2017</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016">2016</a></div></li>
                            
 
                                        <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015">2015</a></div>
                                        <ul>
                                            
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015/december">December</a></div></li>
                                    
 
                                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015/november">November</a></div>
                                                <ul>
                                                    
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
                                                </ul>
                                            
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015/october">October</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015/september">September</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015/august">August</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015/july">July</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015/june">June</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015/may">May</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015/april">April</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015/march">March</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015/february">February</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015/january">January</a></div></li>
                                    
 
                                        </ul>
                                    </li>
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014">2014</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2013">2013</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2012">2012</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2011">2011</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2010">2010</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2009">2009</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2008">2008</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2007">2007</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2006">2006</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2005">2005</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2004">2004</a></div></li>
                            
 
                                </ul>
                            </li>
 
                                <li><div class="link-wrapper"><a href="/info-for/media/photos">Photos</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/media/contact-the-press-office">Contact the Press Office</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/filming-and-photography">Filming & photography</a></div></li>
                            
 
                </ul>
            
 
 
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype: -Home-Media-Media-Press releases-2015-November-Retired bus driver to lead the LT Old Comrades on Remembrance Day -->

 
 
        
        
            @{ViewBag.Description = "Press releases and news articles from Transport for London";}
        
        


 