


@{ViewBag.Title = "Temporary measures seek to ease pressure on taxi and private hire drivers";}
        
        
<div class="r">
    <div class="breadcrumb-container" role="navigation">
        <span id="breadcrumb-label" class="visually-hidden">You are here:</span>
        <ol class="breadcrumbs clearfix" aria-labelledby="breadcrumb-label">
            <li class="home">
                <a href="/">
                    <span class="hide-text">Home</span>
                </a>
            </li>
            
                <li>
                    <a href="/info-for/media/index">Media</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases">Press releases</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases/2015">2015</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases/2015/november">November</a>
                </li>
                
                <li>
                    <span class="last-breadcrumb">Temporary measures seek to ease pressure on taxi and private hire drivers</span>
                </li>
            
 
            
 
            
 
            
 
            
 
        </ul>
    </div>
</div>
     
 
<div class="r">
    <div class="headline-container plain">
        <h1>Temporary measures seek to ease pressure on taxi and private hire drivers</h1>
        <div class="content-page-press-release">
        10 November 2015
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">



 <div class="on-this-page">
<p>Transport for London (TfL) has today announced that, from late November, it will introduce temporary measures for existing taxi and private hire drivers if their Disclosure and Barring Service (DBS) results have still not been returned.  The measures are a response to the impact that current delays at the DBS can have on drivers waiting for their licence to be renewed.</p>
<p>Disclosure and Barring Service (DBS) checks are the responsibility of the Home Office and individual police services.  ‎The Mayor is ensuring every effort is made to reduce waiting times for these important safety checks, with the Met drafting in around 60 additional members of staff to help.</p>
<p>TfL has already taken a number of steps to ensure that licenced drivers aren't stopped from driving because of delays, discussing the issue with the Home Office and seconding a number of staff to the Metropolitan Police Service to help process applications.  The new measures will further ease pressure, whilst ensuring that the high standards required from drivers are maintained.</p>
<p>To be eligible for the temporary measures, drivers will have had to apply for their DBS at least three months prior to the expiry of their previous licence.  Drivers receive a renewal pack, which contains details of how to apply for the enhanced DBS check necessary to continue their work as a licenced driver, from TfL four months before the expiry of their licence.</p>
<p>The temporary measures will only be available to drivers applying to renew their licence &#45; as these drivers will have previously undergone a DBS check &#45; and will initially be limited to two weeks in length.  In the unlikely event that their DBS certificate is delayed further, drivers can apply for a renewal.  Drivers from both trades who are applying for a licence for the first time will not be eligible, however TfL will continue to escalate these cases on their behalf.</p>
<p>The Mayor of London, Boris Johnson, said: `The last thing we want to see is London's taxi drivers out of work.  These temporary measures are the most effective way of tackling the immediate issue, alongside a dramatic boost to staffing levels at the Met.  I am confident that this approach will ensure that drivers are able to get back to work as soon as possible while maintaining public safety.'</p>
<p>Garrett Emmerson, TfL's Chief Operating Officer for Surface Transport, said: `We are aware that a number of drivers have been unable to work due to the delays in receiving their DBS certificate, and that these delays are affecting them and their families.</p>
<p>&quot;These new measures will help these drivers while ensuring that the high standards required of drivers are maintained.'</p>
<p>While the temporary measures are in place, TfL will continue to work with colleagues in the Home Office, the Metropolitan Police Service and the DBS to address the waiting times for DBS checks.  As a condition of the temporary measures, drivers will be required to sign up to the DBS update service in order to prevent a similar situation occurring in future.  As well as these efforts to minimise delays in the DBS system, TfL also launched a counter service earlier this year in order to assist drivers with any licensing queries or problems.</p>
<hr />
<ul>
    <li>
    Since September, six members of TfL staff have been seconded from to speed up the DBS application process for cab drivers.
    </li>
    <li>The Met has introduced additional evening shifts with eight new staff members. A further 12 full time staff members have been recruited and are now being trained, and an extra 38 new recruits are planned by January.</li>
</ul>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
                <a href="/info-for/media/index" class="heading">
                    <h2 id="sub-menu-heading">Media<span class="visually-hidden"> navigation</span></h2>
                </a>
                <ul>
                    
                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases">Press releases</a></div>
                                <ul>
                                    
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2020">2020</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019">2019</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018">2018</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017">2017</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016">2016</a></div></li>
                            
 
                                        <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015">2015</a></div>
                                        <ul>
                                            
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015/december">December</a></div></li>
                                    
 
                                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015/november">November</a></div>
                                                <ul>
                                                    
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
                                                </ul>
                                            
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015/october">October</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015/september">September</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015/august">August</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015/july">July</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015/june">June</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015/may">May</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015/april">April</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015/march">March</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015/february">February</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015/january">January</a></div></li>
                                    
 
                                        </ul>
                                    </li>
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014">2014</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2013">2013</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2012">2012</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2011">2011</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2010">2010</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2009">2009</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2008">2008</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2007">2007</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2006">2006</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2005">2005</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2004">2004</a></div></li>
                            
 
                                </ul>
                            </li>
 
                                <li><div class="link-wrapper"><a href="/info-for/media/photos">Photos</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/media/contact-the-press-office">Contact the Press Office</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/filming-and-photography">Filming & photography</a></div></li>
                            
 
                </ul>
            
 
 
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype: -Home-Media-Media-Press releases-2015-November-Temporary measures seek to ease pressure on taxi and private hire drivers -->

 
 
        
        
            @{ViewBag.Description = "Press releases and news articles from Transport for London";}
        
        


 