


@{ViewBag.Title = "Mayor and TfL launch new team to crack down on congestion";}
        
        
<div class="r">
    <div class="breadcrumb-container" role="navigation">
        <span id="breadcrumb-label" class="visually-hidden">You are here:</span>
        <ol class="breadcrumbs clearfix" aria-labelledby="breadcrumb-label">
            <li class="home">
                <a href="/">
                    <span class="hide-text">Home</span>
                </a>
            </li>
            
                <li>
                    <a href="/info-for/media/index">Media</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases">Press releases</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases/2015">2015</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases/2015/november">November</a>
                </li>
                
                <li>
                    <span class="last-breadcrumb">Mayor and TfL launch new team to crack down on congestion</span>
                </li>
            
 
            
 
            
 
            
 
            
 
        </ul>
    </div>
</div>
     
 
<div class="r">
    <div class="headline-container plain">
        <h1>Mayor and TfL launch new team to crack down on congestion</h1>
        <div class="content-page-press-release">
        30 November 2015
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">



 <div class="on-this-page">
<p>A new team of Road and Transport Enforcement Officers is being deployed to key traffic routes across London to crack down on illegal or inconsiderate behaviour and other problems that cause congestion.</p>
<p>The new 40-strong Transport for London (TfL) team - that will rise to 80 by next Spring - will help deal with problems such as illegal stopping or unloading of deliveries, which can cause delays to drivers and bus passengers.</p>
<p>It will work closely with the TfL-funded Metropolitan Police Roads and Transport Policing Command, which was launched by the Mayor in January and with 2,300 officers, is the largest policing command anywhere in the country. The team will help to move unlawfully stopped vehicles, issue Penalty Charge Notices to illegally parked vehicles and clear unnecessary or poorly set-up roadworks.</p>
<p>It is the first time that TfL will have its own officers who will have the power to direct traffic around congestion on London's roads. This includes issues such as breakdowns and collisions. They will also access real time information and data and send intelligence back from the street to TfL's control room.</p>
<p>Mayor of London, Boris Johnson MP, said: `This is one of a number of targeted actions we're taking to tackle congestion and reduce delays on the roads. In January we launched the Met's Roads and Transport Policing Command and this new team will work closely with them to help keep London moving. They will play a key role in tackling problems that lead to tailbacks and take a zero-tolerance approach towards inconsiderate or illegal behaviour that can cause unnecessary gridlock.'</p>
<p>The ten key locations the team will be deployed are on roads that between them carry 110 different bus routes and are used by half a million bus passengers, in addition to 300,000 car and taxi passenger journeys every day.</p>
<p>The team will be alerted to congestion build ups both through TfL's network of traffic cameras and through utilising the 'eyes and ears' of the almost 25,000 bus drivers, who are calling in any issues to the TfL control room so that they can be reacted to swiftly and intelligence can be analysed to prevent problems from recurring.</p>
<p>In addition, they will work with businesses along the routes to help improve the way they receive and manage deliveries, giving advice on re-timing or consolidation to reduce the impact of deliveries during peak times.</p>
<p>Leon Daniels, TfL's Managing Director of Surface Transport, said: 'This new team of officers is being deployed to actively solve the problems that cause delays for drivers and bus passengers. These are often caused by inconsiderate behaviour, like illegal stopping or parking in bus lanes, and the new team will tackle this head on &#45; adopting a zero tolerance approach to obstructions that cause congestion.</p>
<p>'We work hard to keep London's traffic moving every day, through our state of the art traffic signal technology, Traffic Control Centre and innovations in social media. Having more people on the ground will deliver an even better service to all of London's road users.'</p>
<p>The new team is complemented by the up to the minute real-time journey information TfL provides to advise road users of congestion and to suggest alternative routes. The &#64;TfLTrafficNews Twitter feed, which this week gained its 500,000th follower, is an immediate source of information about traffic conditions across London. The TfL website continues to be updated regularly with month-by-month breakdowns of the build programmes for all TfL schemes, showing the locations of different phases of the builds and the areas where traffic may be affected.</p>
<p>TfL is already taking a similar zero tolerance approach to issues that cause congestion at the Blackwall Tunnel. In 2010, alongside the Metropolitan Police and Driver and Vehicle Standards Agency (DVSA), a dedicated enforcement presence was established as well as additional over-height vehicle detection equipment and penalties for drivers running out of fuel and causing unnecessary delays. Since starting the initiative, there has been a 32% reduction in collisions, incidents and events causing congestion at Blackwall Tunnel.</p>
<p>TfL's open data policy also enables app developers to access real time data feeds on current disruptions and planned works, as well as traffic cameras across the road network, to produce travel information apps to help road users be able to plan their journeys and avoid disruption.</p>
<hr />
<p>The 10 key corridors that the Roads and Transport Enforcement Officers will be focusing their attention on initially, are:</p>
<ul>
    <li>Gracechurch Street, Bank</li>
    <li>Eastcheap to Leadenhall, Bank</li>
    <li>Gosport Street to Hoe Street, Walthamstow</li>
    <li>Hackney Road to Ball Pond Road, Dalston</li>
    <li>Ladywell to Loampit Vale, Lewisham</li>
    <li>Highshore Road to Heaton Road, Peckham</li>
    <li>Manor Park Road/Craven Park to Manor Park Road/High Street, Harlsden</li>
    <li>Kensington High Street to Notting Hill Gate, Kensington</li>
    <li>Columbia Avenue to Balmoral Road, Worcester Park</li>
    <li>Gatton Road to Trevelyn Road, Tooting</li>
</ul>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
                <a href="/info-for/media/index" class="heading">
                    <h2 id="sub-menu-heading">Media<span class="visually-hidden"> navigation</span></h2>
                </a>
                <ul>
                    
                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases">Press releases</a></div>
                                <ul>
                                    
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2020">2020</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019">2019</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018">2018</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017">2017</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016">2016</a></div></li>
                            
 
                                        <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015">2015</a></div>
                                        <ul>
                                            
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015/december">December</a></div></li>
                                    
 
                                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015/november">November</a></div>
                                                <ul>
                                                    
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
                                                </ul>
                                            
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015/october">October</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015/september">September</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015/august">August</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015/july">July</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015/june">June</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015/may">May</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015/april">April</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015/march">March</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015/february">February</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015/january">January</a></div></li>
                                    
 
                                        </ul>
                                    </li>
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014">2014</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2013">2013</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2012">2012</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2011">2011</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2010">2010</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2009">2009</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2008">2008</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2007">2007</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2006">2006</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2005">2005</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2004">2004</a></div></li>
                            
 
                                </ul>
                            </li>
 
                                <li><div class="link-wrapper"><a href="/info-for/media/photos">Photos</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/media/contact-the-press-office">Contact the Press Office</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/filming-and-photography">Filming & photography</a></div></li>
                            
 
                </ul>
            
 
 
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype: -Home-Media-Media-Press releases-2015-November-Mayor and TfL launch new team to crack down on congestion -->

 
 
        
        
            @{ViewBag.Description = "Press releases and news articles from Transport for London";}
        
        


 