


@{ViewBag.Title = "The Snowman™ and The Snowdog fly high on Emirates Air Line ";}
        
        
<div class="r">
    <div class="breadcrumb-container" role="navigation">
        <span id="breadcrumb-label" class="visually-hidden">You are here:</span>
        <ol class="breadcrumbs clearfix" aria-labelledby="breadcrumb-label">
            <li class="home">
                <a href="/">
                    <span class="hide-text">Home</span>
                </a>
            </li>
            
                <li>
                    <a href="/info-for/media/index">Media</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases">Press releases</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases/2015">2015</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases/2015/november">November</a>
                </li>
                
                <li>
                    <span class="last-breadcrumb">The Snowman™ and The Snowdog fly high on Emirates Air Line </span>
                </li>
            
 
            
 
            
 
            
 
            
 
        </ul>
    </div>
</div>
     
 
<div class="r">
    <div class="headline-container plain">
        <h1>The Snowman™ and The Snowdog fly high on Emirates Air Line </h1>
        <div class="content-page-press-release">
        27 November 2015
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">



 <div class="on-this-page">
<p>This winter, passengers travelling on the Emirates Air Line will be treated to a fun festive experience aimed at all ages. The Snowman™ and The Snowdog return to the Emirates Air Line cable car terminals with special adaptations of the film playing in the cabins again this year.</p>
<p>Visitors to the Emirates Air Line will see the cable car transformed into a magical Christmas experience. There will be opportunities to have photographs with a life-size Snowman or become part of a unique wintery scene on a replica ski chairlift with snowfall, as well as taking selfies with The Snowman, The Snowdog and Father Christmas inside the cabins.
</p>
<p>Footage from the classic film has been given an exciting twist designed especially to play in Emirates Air Line cabins. The iconic 'flying' sequence now sees The Snowman and The Snowdog characters flying over London landmarks such as The O2, the Emirates Air Line, Queen Elizabeth Olympic Park, Greenwich Royal Naval College and the Thames Barrier. This magical sequence is really brought to life as passengers fly over the Thames themselves.
</p>
<p>Danny Price, TfL's Head of the Emirates Air Line, said: `Everyone loved The Snowman and The Snowdog experience last year and I'm delighted we can bring the story to life again in this unique way for a second year. It is an iconic Christmas film and the experience will provide our customers the opportunity to become part of the story with a magical flight over London. We now open later so there is even more time available to see the lights of London with a Night Flight this Christmas period.'
</p>
<p>Damian Treece, Brand Manager at Snowman Enterprises Ltd, said: `We were thrilled with the feedback from visitors to the Emirates Air Line last year and are delighted that The Snowman and The Snowdog will be returning once again this winter.  Emirates Air Line have created a truly magical and immersive experience, tapping into the unique qualities of The Snowman brand and bringing it to life for families to enjoy this winter.'</p>
<p>There are 15,000 goody bags for children with great treats inside. These include Snowman or Snowdog character masks, in-flight binoculars and chocolates.</p>
<p>Discovery Experience tickets are also available which include entry to the Emirates Aviation Experience.</p>
<p>The Emirates Air Line is open Monday to Thursday from 7am - 9pm, from 7am -11pm on Fridays, 8am - 11pm on Saturdays and 9am-9pm on Sundays. Visitors may like to come in the evening to experience the film and the exciting lights of London at night for an extra festive treat.</p>
Customers can book their tickets in advance at: <a href="https://emiratesairline.theo2.co.uk">https://emiratesairline.theo2.co.uk/</a><br />
<hr />
<p>Notes to editors:</p>
<ul>
    <li>This experience is open until Monday 4 January 2016, apart from Christmas Day (25 December) when the Emirates Air Line is closed</li>
    <li>The Emirates Air Line will operate an extended Saturday timetable on Boxing Day (26 December) and New Year's Day (1 January) open from 08:00-23:00.</li>
    <li>There is no additional cost for The Snowman &amp; The Snowdog flight experience</li>
    <li>The Discovery Experience Package includes a non-stop return trip, souvenir guide and free entrance to the Emirates Aviation Experience. Prices are from &pound;8.40 for adults and &pound;5.00 for children.</li>
    <li>A standard return ticket with Oyster discount is &pound;6.80 for adults and &pound;3.40 for children</li>
    <li>Goody bags are available on a first come first serve basis</li>
    <li>Festive food will be available to buy at the Emirates Aviation Experience Caf&eacute; beside the Emirates Greenwich Peninsula Terminal from Tuesday 1 December. This will include speciality Christmas tea and coffee, Shortbread Stars, Gingerbread Snowmen and Chocolate Santas.</li>
    <li>Activity sheets can be downloaded in advance of visits from: <a href="http://www.thesnowman.com/activity">www.thesnowman.com/activity</a></li>
    <li>More information on the experience and tickets are available here:<a href="https://tfl.gov.uk/campaign/snowman-and-snowdog-experience"> https://tfl.gov.uk/campaign/snowman-and-snowdog-experience</a></li>
</ul>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
                <a href="/info-for/media/index" class="heading">
                    <h2 id="sub-menu-heading">Media<span class="visually-hidden"> navigation</span></h2>
                </a>
                <ul>
                    
                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases">Press releases</a></div>
                                <ul>
                                    
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2020">2020</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019">2019</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018">2018</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017">2017</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016">2016</a></div></li>
                            
 
                                        <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015">2015</a></div>
                                        <ul>
                                            
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015/december">December</a></div></li>
                                    
 
                                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015/november">November</a></div>
                                                <ul>
                                                    
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
                                                </ul>
                                            
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015/october">October</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015/september">September</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015/august">August</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015/july">July</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015/june">June</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015/may">May</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015/april">April</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015/march">March</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015/february">February</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015/january">January</a></div></li>
                                    
 
                                        </ul>
                                    </li>
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014">2014</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2013">2013</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2012">2012</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2011">2011</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2010">2010</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2009">2009</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2008">2008</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2007">2007</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2006">2006</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2005">2005</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2004">2004</a></div></li>
                            
 
                                </ul>
                            </li>
 
                                <li><div class="link-wrapper"><a href="/info-for/media/photos">Photos</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/media/contact-the-press-office">Contact the Press Office</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/filming-and-photography">Filming & photography</a></div></li>
                            
 
                </ul>
            
 
 
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype: -Home-Media-Media-Press releases-2015-November-The Snowman™ and The Snowdog fly high on Emirates Air Line  -->

 
 
        
        
            @{ViewBag.Description = "Press releases and news articles from Transport for London";}
        
        


 