


@{ViewBag.Title = "Update on DLR services affected by RMT strike action - 0700";}
        
        
<div class="r">
    <div class="breadcrumb-container" role="navigation">
        <span id="breadcrumb-label" class="visually-hidden">You are here:</span>
        <ol class="breadcrumbs clearfix" aria-labelledby="breadcrumb-label">
            <li class="home">
                <a href="/">
                    <span class="hide-text">Home</span>
                </a>
            </li>
            
                <li>
                    <a href="/info-for/media/index">Media</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases">Press releases</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases/2015">2015</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases/2015/november">November</a>
                </li>
                
                <li>
                    <span class="last-breadcrumb">Update on DLR services affected by RMT strike action - 0700</span>
                </li>
            
 
            
 
            
 
            
 
            
 
        </ul>
    </div>
</div>
     
 
<div class="r">
    <div class="headline-container plain">
        <h1>Update on DLR services affected by RMT strike action - 0700</h1>
        <div class="content-page-press-release">
        03 November 2015
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        48 hour strike called by the RMT leadership in a dispute with KeolisAmey Docklands
        
    </div>



 <div class="on-this-page">
<p>Transport for London (TfL) has advised customers that journeys on the DLR will be severely disrupted today (Tuesday 3 November) and tomorrow (Wednesday 4 November) due to a 48-hour strike called by the leadership of the RMT union.</p>
<p>The union is in dispute with KeolisAmey Docklands, who operate the DLR on behalf of TfL, and the action means that there is no service on the DLR network. Customers are strongly advised to check the TfL website and seek alternative routes for both days.</p>
<p>The Jubilee, Central, District and Hammersmith &amp; City lines in east London, and London Overground between Highbury and Surrey Quays, are expected to be much busier than usual due to the strike.</p>
<p>Stations that interchange with the DLR and other key stations on the network - Canning Town, Bank, Stratford, Canary Wharf, Canada Water, West Ham and Shadwell - will be exceptionally busy.</p>
<p>There will be extra buses on existing bus routes  that operate along the DLR network and staff are being deployed to help customers get around.</p>
<p>Rory O'Neill, TfL's Director of DLR, said: `We are disappointed that strike action called by the RMT leadership is causing disruption to DLR customers. The only way to resolve their dispute with KeolisAmey Docklands, who operate the DLR on our behalf, is through meaningful discussion rather than unnecessary strike action.</p>
<p>`We have put on extra buses, on existing bus routes, that operate along the DLR route and staff will also be available to help. Other TfL services are operating but will be busier than normal particularly at key interchanges with the DLR network. We ask customers who are able to, to consider avoiding the busiest times if they can.'</p>
<p>TfL staff are on hand to provide travel information and advice and customers can keep up-to-date on the status of their services in a range of ways, including</p>
<ul>
    <li>Up-to-date information on the TfL website at <a href="http://www.tfl.gov.uk">www.tfl.gov.uk</a></li>
    <li>Travel alerts will be provided through Twitter on &#64;TfL, &#64;TfLTravelAlerts and &#64;LondonDLR</li>
    <li>TfL will also be providing information to radio and television broadcasts for use in news bulletins</li>
</ul>
<p>&nbsp;The strike officially  ends  at 03:58am on Thursday 5 November however it is likely that  start of services may be affected. Customers are advised to check the TfL website for service updates.
</p>
<hr />
Notes to Editors:<br />
<p>
Customers are asked to remember:</p>
<ul>
    <li>Pay as you go with an Oyster or contactless payment card can be made on all TfL services</li>
    <li>Pay as you go is accepted for almost all National Rail journeys within Greater London</li>
    <li>Travelcards are also valid for travel on National Rail within the zones purchased</li>
</ul>
<p>Customers are advised that the following will apply:</p>
<ul>
    <li>Single/return printed tickets valid on DLR services issued on the day are bought at the customer's risk and will not be reimbursed</li>
    <li>These single/return printed tickets will be accepted on bus services (reasonable routes only) to allow people to complete their journeys</li>
    <li>They will not be valid on other Tube or rail services. Customers switching to other services must buy a ticket for the journey they intend to make</li>
    <li>Travelcard season tickets will be accepted on alternative services within their zone validity, as normal. Customers travelling outside their zones will be charged a pay as you go fare. This will not be refunded</li>
    <li>Day Travelcards bought in advance may be refunded if surrendered before the day of validity - otherwise no refunds will be given</li>
    <li>PAYG users will be charged the appropriate fare for the journey for the service(s) used, whether that's bus, Tube, London Overground, TfL Rail, National Rail or river bus services</li>
    <li>Valid travel tickets will be accepted on the Emirates Air Line. Emirates Air Line services will be extended, running between 0600-2100 on Tuesday 3rd and between 0600-2200 on Wednesday 4th</li>
</ul>
<p>Please remember that service delay refunds are suspended during strike action.</p>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
                <a href="/info-for/media/index" class="heading">
                    <h2 id="sub-menu-heading">Media<span class="visually-hidden"> navigation</span></h2>
                </a>
                <ul>
                    
                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases">Press releases</a></div>
                                <ul>
                                    
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2020">2020</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019">2019</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018">2018</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017">2017</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016">2016</a></div></li>
                            
 
                                        <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015">2015</a></div>
                                        <ul>
                                            
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015/december">December</a></div></li>
                                    
 
                                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015/november">November</a></div>
                                                <ul>
                                                    
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
                                                </ul>
                                            
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015/october">October</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015/september">September</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015/august">August</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015/july">July</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015/june">June</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015/may">May</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015/april">April</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015/march">March</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015/february">February</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015/january">January</a></div></li>
                                    
 
                                        </ul>
                                    </li>
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014">2014</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2013">2013</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2012">2012</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2011">2011</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2010">2010</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2009">2009</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2008">2008</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2007">2007</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2006">2006</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2005">2005</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2004">2004</a></div></li>
                            
 
                                </ul>
                            </li>
 
                                <li><div class="link-wrapper"><a href="/info-for/media/photos">Photos</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/media/contact-the-press-office">Contact the Press Office</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/filming-and-photography">Filming & photography</a></div></li>
                            
 
                </ul>
            
 
 
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype: -Home-Media-Media-Press releases-2015-November-Update on DLR services affected by RMT strike action - 0700 -->

 
 
        
        
            @{ViewBag.Description = "48 hour strike called by the RMT leadership in a dispute with KeolisAmey Docklands";}
        
        


 