
    
  



@{ViewBag.Title = "Visitor Pass";}
@{ViewBag.Keywords = "TfL,Visitor, London, Travel, Visiting London, visitor fares, visitor tickets, visit London, Visitor Pass, Transport for London";}
@{ViewBag.Url = "/travel-information/visiting-london/getting-around-london/best-ways-for-visitors-to-pay/visitor-pass";}
@{ViewBag.Language = "en";}
        <!-- empty placeholder -->
 
        
        
<div class="r">
    <div class="breadcrumb-container" role="navigation">
        <span id="breadcrumb-label" class="visually-hidden">You are here:</span>
        <ol class="breadcrumbs clearfix" aria-labelledby="breadcrumb-label">
            <li class="home">
                <a href="/">
                    <span class="hide-text">Home</span>
                </a>
            </li>
            
                 <li><a href="/travel-information/visiting-london/index">Visiting London </a></li>
                
            
                 <li><a href="/travel-information/visiting-london/getting-around-london">Getting around London</a></li>
                
            
                 <li><a href="/travel-information/visiting-london/getting-around-london/best-ways-for-visitors-to-pay">Best ways for visitors to pay</a></li>
                
            
            
                <li><span class="last-breadcrumb">Visitor Pass</span></li>
            
        
 
        
 
        
 
        
 
        </ol>
    </div>
</div>
     
 
<div class="r">
  <div class="headline-container plain">
    <h1>Visitor Pass</h1>

  </div>
</div>
<div class="main-and-aside r">
  
  <div class="main content-container" role="main">
    
      <div class="article-teaser">
        Whether it's your first time visiting London, or you've been before, our new Visitor Pass gives you the freedom to travel as much as you want on bus, Tube, tram, DLR, London Overground and TfL Rail.
        
      </div>
    
    
      <h2>Why buy a Visitor Pass?</h2>
<ul>
    <li>You can buy a 2 Day or 3 Day Visitor Pass for unlimited off-peak travel in <a href="http://content.tfl.gov.uk/standard-tube-map.pdf">Zones 1-6</a></li>
    <li>You don't need to pre-order, you can buy your Visitor Pass at a number of Tube stations and Visitor Centres across London, or you can buy it one week in advance from Visitor Centres</li>
    <li>You don't need to top up your Visitor Pass, once you've bought it, you can travel as much as you want</li>
    <li>If you're <a href="/travel-information/visiting-london/getting-to-london/london-airports">travelling to London from Heathrow Airport</a>, your Visitor Pass is valid for travel on TfL Rail to Paddington station</li>
</ul>
<h2>Buying your pass</h2>
      
           
      <div class="clearfix">
    <div class="image-box right-float">
    
        
        
        <img src="/cdn/static/cms/images/visitor-pass_rdax_400x250.jpg" alt="Hand holding a Visitor Pass with Big Ben, the Houses of Parliament and a London bus in the background." />
        
        
        
    </div>
    <p>Our Visitor Pass is available for adults and children (age 11-15):</p>

<ul>
	<li>2 Day Adult - &pound;27.00</li>
	<li>2 Day Child - &pound;13.40</li>
	<li>3 Day Adult - &pound;40.50</li>
	<li>3 Day Child - &pound;20.10</li>
</ul>

<p>You can buy your pass at a number of <a href="/modes/tube/index">Tube stations</a> and <a href="/travel-information/visiting-london/getting-around-london/visitor-centres">Visitor Centres</a>:</p>
 </div>
 

<div class="table-container"><table>
	<thead>
	</thead>
	<tbody>
		<tr>
			<td><strong>Tube stations</strong>&nbsp;</td>
			<td><strong>Visitor Centres</strong></td>
		</tr>
		<tr>
			<td>&nbsp;Baker Street</td>
			<td>Heathrow Terminals 2 &amp; 3</td>
		</tr>
		<tr>
			<td>&nbsp;Bayswater</td>
			<td>King's Cross&nbsp;</td>
		</tr>
		<tr>
			<td>&nbsp;Earl's Court</td>
			<td>Liverpool Street</td>
		</tr>
		<tr>
			<td>&nbsp;Euston</td>
			<td>Piccadilly Circus</td>
		</tr>
		<tr>
			<td>&nbsp;Gloucester Road</td>
			<td>Victoria</td>
		</tr>
		<tr>
			<td>&nbsp;Heathrow Terminals 2&nbsp;&amp;&nbsp;3</td>
			<td>&nbsp;</td>
		</tr>
		<tr>
			<td>&nbsp;Heathrow Terminal 4</td>
			<td>&nbsp;</td>
		</tr>
		<tr>
			<td>&nbsp;King's Cross</td>
			<td>&nbsp;</td>
		</tr>
		<tr>
			<td>&nbsp;Liverpool Street</td>
			<td>&nbsp;</td>
		</tr>
		<tr>
			<td>&nbsp;London Bridge</td>
			<td>&nbsp;</td>
		</tr>
		<tr>
			<td>&nbsp;Marble Arch</td>
			<td>&nbsp;</td>
		</tr>
		<tr>
			<td>&nbsp;Paddington</td>
			<td>&nbsp;</td>
		</tr>
		<tr>
			<td>&nbsp;Queensway</td>
			<td>&nbsp;</td>
		</tr>
		<tr>
			<td>&nbsp;Russell Square</td>
			<td>&nbsp;</td>
		</tr>
		<tr>
			<td>&nbsp;South Kensington</td>
			<td>&nbsp;</td>
		</tr>
		<tr>
			<td>&nbsp;Victoria</td>
			<td>&nbsp;</td>
		</tr>
		<tr>
			<td>&nbsp;Waterloo</td>
			<td>&nbsp;</td>
		</tr>
	</tbody>
</table></div>
<h2>Off-peak travel </h2>
<p>Your Visitor Pass is only valid for off-peak travel which starts from 09:30 Monday to Friday, and for journeys starting before 04:30 the following day. It's also valid anytime on Saturdays, Sundays and bank holidays. </p>
<p>You can travel in Zones 1-6 on each day from the start date printed on your pass, to the expiry date.</p>
<p>Your Visitor Pass isn't valid for travel, or to buy discounted fares on National Rail, <a href="/modes/emirates-air-line/index">Emirates Air Line</a> or <a href="/modes/river/about-river-bus">River Bus services</a>.</p>

 
<div class="module-grid clearfix">
<div class="news-teaser">

    <a href="https://londonblog.tfl.gov.uk/2018/06/25/9-great-things-to-see-when-visiting-london-for-the-first-time/?intcmp=53693" >
        <img src="/cdn/static/cms/images/promos/history-musuem-whale_rdax_400x200.jpg" alt="Skeleton of blue whale hanging from ceiling of Natural History Museum" />
        
        <div class="text-link">
             <h2>Sights to see</h2>
            <p>Read about nine great things to see when visiting London for the first time</p>
        </div>
    </a>
</div>
 
 <div class="news-teaser">

    <a href="/travel-information/visiting-london/getting-around-london/best-ways-for-visitors-to-pay?intcmp=27718" >
        <img src="/cdn/static/cms/images/promos/009-visiting-london-visitor-oyster_rdax_400x200.jpg" alt="Tickets you cant put on Oyster" />
        
        <div class="text-link">
             <h2>Ways to pay for visitors</h2>
            <p>Find out about other ways you can pay for travel when you visit London</p>
        </div>
    </a>
</div>
 
 <div class="related-links">

    <h3>Experience London blog</h3>
<p>Read about London's hidden gems, new cycling and walking routes and other exciting&nbsp;things to do&nbsp;on our blog.</p>
<div class="vertical-button-container">

<a href="https://londonblog.tfl.gov.uk/" class="plain-button">Read our blog</a>
    </div>
</div>
 
</div>
 
      
        
          
        
      
    
  </div>
  <div class="aside" role="complementary">

   
    
    
    
      <div data-set="sidenav-container" class="large">
        
        
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
 
 
 
                <a href="/travel-information/visiting-london/index" class="heading">
                    <h2 id="sub-menu-heading">Visiting London <span class="visually-hidden"> navigation</span></h2>
                </a>
                <ul>
                    
                                <li><div class="link-wrapper"><a href="/travel-information/visiting-london/visitor-oyster-card">Visitor Oyster card</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/travel-information/visiting-london/experience-london">Experience London</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/travel-information/visiting-london/getting-to-london">Getting to London</a></div></li>
                            
 
                <a href="/travel-information/visiting-london/getting-around-london" class="heading">
                    <h2 id="sub-menu-heading">Getting around London<span class="visually-hidden"> navigation</span></h2>
                </a>
                <ul>
                    
                                <li class="parent"><div class="link-wrapper"><a href="/travel-information/visiting-london/getting-around-london/visitor-information">Visitor information</a></div></li>
                            
 
                                <li class="selected parent"><div class="link-wrapper"><a href="/travel-information/visiting-london/getting-around-london/best-ways-for-visitors-to-pay">Best ways for visitors to pay</a></div>
                                <ul>
                                    
                                        <li class="selected"><div class="link-wrapper"><a href="/travel-information/visiting-london/getting-around-london/best-ways-for-visitors-to-pay/visitor-pass">Visitor Pass</a></div>
                                    </li>
 
                                </ul>
                            </li>
 
                                <li><div class="link-wrapper"><a href="/travel-information/visiting-london/getting-around-london/visitor-maps">Visitor maps</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/travel-information/visiting-london/getting-around-london/visitor-centres">Visitor Centres</a></div></li>
                            
 
                </ul>
            
 
                </ul>
            
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
      </div>
    
    <div>
























<div class="advert-tile unsponsored-style google-ads" aria-hidden="true">
  <div class="advert-link">
    <div class="advert-content">
        <div class="medium-large" data-advert="/76889402/non-targeted" data-advert-sizes="300, 250"></div>
        <div class="small" data-advert="/76889402/non-targeted" data-advert-sizes="300, 250"></div>
    </div>
  </div>
</div>
@{
    ViewBag.AmazonSlot = "'amznslots'";
    ViewBag.AmazonAds = "'3199'"; // to add another value, this needs to be ViewBag.AmazonAds = "'3199','xx'";
}
      

 </div>
    
    <div data-set="sidenav-container" class="small-medium"></div>
  </div>
</div>
 
 
        
        
        
            @{ViewBag.Description = "Find out about our new Visitor Pass which gives you the choice to buy a 2 Day or 3 Day pass to travel off-peak in Zones 1-6 around London.";}
        
            
        


 