


@{ViewBag.Title = "Bikes for Londoners from the cities of Holland";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>Bikes for Londoners from the cities of Holland</h1>
        <div class="content-page-press-release">
        13 September 2004
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        The cities of Holland are donating 20 orange bikes to the people of London to support the good going campaign and to bring a little bit of Dutch lifestyle to London.
        
    </div>



 <div class="on-this-page">
<p>The bikes will be officially handed over to GLA member Jenny Jones by Andrew van der Feltz of the Netherlands Board of Tourism &amp; Conventions at a Bikes 4 Londoners - <strong>good going</strong> roadshow to be held in Trafalgar Square on Thursday 16 September 2004 at 10.30. </p>
<p>The Bikes 4 Londoners initiative is one of the first partnership promotions in London's new <strong>good going</strong> travel awareness campaign. The bikes will be used to promote cycling as a healthy and relaxed way of getting around the capital and will also bring some of the Dutch lifestyle characteristics to London. </p>
<p><strong>When</strong>: Thursday 16 September 2004 at 11.00 </p>
<p><strong>Where</strong>: Trafalgar Square, London SW1 </p>
<p><strong>With</strong>: Jenny Jones, Green Party, and representatives of the Netherlands Board of Tourism &amp; Conventions </p>
<p>Most of the bikes will be used for the future Bikes 4 Londoners initiative, a planned London wide cycle loan and share scheme being launched through the <strong>good going</strong> campaign. </p>
<p>The remainder will be used as competition prizes for those signing the <strong>good going</strong> pledge on the day. </p>
<p>The <strong>good going </strong>campaign will also be inviting visitors to make their <strong>good going </strong>pledge to reduce traffic congestion and vehicle emissions by cycling, walking and using public transport, when possible, and car sharing or using low emission vehicles when this is an option. </p>
<p>Everyone making the <strong>good going</strong> pledge will receive campaign information and a loyalty card giving them the chance to win one of the Dutch bikes. </p>
<p>Evans Cycles, London's largest cycle retailer and Best British Bike Shop of the Year 2004 will be on site with a comprehensive range of bikes and a mechanic will be on site to provide free safety checks for all cyclists. The company's staff will also be on hand to provide advice and information about getting into cycling and choosing the best bike. </p>
<p>The Cycling Centre of Excellence (CCE) and the London Cycling Campaign will also be in attendance to offer information and advice on cycling. The CCE's priorities are to address the needs of those already cycling and encourage new cyclists by raising the status of cycling and removing the barriers to cycling. <br></p>
            <p><strong>good going - travel awareness in London</strong>, is a London wide campaign which will enable London's Mayor (through Transport for London), the 32 London Boroughs and a range of cross sector partners to come together in promoting sustainable transport and travel in the Capital.</p>
<p>The <strong>good going</strong> campaign stresses that we can really improve the health and quality of life for everyone living, working, visiting or being educated in London by reducing traffic congestion and vehicle emissions in the Capital. </p>
<p>The Netherlands Board of Tourism and Conventions </p>
<p>The Netherlands Board of Tourism &amp; Conventions (NBTC) promotes Holland as a tourist destination and is promoting city breaks to Holland. The gift of the bikes is to reflect the relaxing, hip nature of a Dutch city break. <br>For more information please visit: <a href="http://www.holland.com/" el="http://www.holiand.com" lid="http://www.holiand.com">http://www.holland.com/</a></p>
<p><strong>Cycle facts </strong></p>
<ul>
<li>Almost 50% of car journeys are short enough to be made by bicycle </li>
<li>650,000 people currently cycle around London, 11 % of Londoners cycle </li>
<li>The number of journeys made by foot has fallen by 13% in the last ten years -The average UK resident spends about 9 days of the year in a car </li>
<li>People in cars are exposed to 4 times more air pollution than pedestrians or cyclists -It takes 8 bicycles to occupy the space taken by just one car </li></ul>
<p>TfL Press Office <br><br>Direct line: 7941 4141 </p>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "The bikes will be officially handed over to GLA member Jenny Jones by Andrew van der Feltz of the Netherlands Board of Tourism &amp; Conventions at a Bikes 4 Londoners - good going roadshow to be held in Trafalgar Square on Thursday 16 September 2004 at";}
        
        


 