


@{ViewBag.Title = "Cycling safety comes first in children's competition";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>Cycling safety comes first in children's competition</h1>
        <div class="content-page-press-release">
        23 September 2004
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        Transport for London today announced the winners of its Cyclesafer Challenge at the International Cycle Show at the Business Design Centre in Islington.
        
    </div>



 <div class="on-this-page">
<p>The Cyclesafer Challenge is a fun competition aimed at the serious issue of raising cycle safety awareness in children. The competition was piloted in three schools this year, but will be expanded to cover all London's schools. Junior school children are asked to design cycling safety equipment from three categories: visibility, clothing and safety attachments. </p>
<p>Rose Ades, Head of TfL's Cycling Centre of Excellence, said:</p>
<p>'The Cyclesafer Challenge has been a big success. We've seen some inspired drawings from the children and they have shown us that cyclists' safety can be fun. It is clear that clothing and safety equipment for young cyclists are too important to leave to adults, and that children are the best judge of what will encourage them to cycle. I look forward to seeing the competition develop with entries from schools across London next year'</p>
<p>The backdrop for the awards will be the International Cycle Show, which will be officially opened at 11.15am by Charlotte Atkins, the Minister of Cycling and Walking. Visitors will be able to try out a new range of bikes on a track, see all the latest cycling clothes at a fashion show and watch the experts showcase their skills in the International Bike Trials Competition.</p>
<p>Chloe Scott, Cycle Editor for Metro, who was one of the judges, said, </p>
<p>"This great competition gets children to think about their own welfare when cycling. And getting children to be creative will help improve the image of cycling - and so increase its popularity."</p>
<p>Jon Snow, Channel 4 News Presenter, who will judge the London-wide competition added, </p>
<p>"The Cyclesafer Challenge is a fantastic initiative and most of us that commute in urban areas know the risks and the safety issues. The more new designs that address these issues and help increase awareness, the better. I wholeheartedly support the Cyclesafer Challenge."</p>
<p>During the summer term TfL conducted a market research study with children and teachers to find out their attitudes towards cycling. 31% of primary school children said that different, more stylish safety equipment and clothing would make them cycle more.<br /><br />This year's contestants are Year 5 pupils from three London schools taking part in a special pilot scheme. The awards will see the competition launched London-wide in order to encourage more people to cycle safely in the Capital .</p>
<p>The Cyclesafer Challenge 2005 aims to make Year Five students across London become more confident and competent road users by encouraging them to think about the hazards faced by cyclists and asking them to come up with creative solutions in the form of a picture with annotation. The judges are looking for the best designs for protective clothing, safety attachments or lighting to make bicycles safer. </p>
<p>The winners of the Cyclesafer Challenge are:</p>
<ul>
    <li>Category: Lighting or any product which will make cyclists visible to other road users - Sophie Coxon from Brooklands Primary School in Blackheath, for a helmet with lights
    </li>
    <li>Category: Protective clothing to wear whilst cycling - Nour Alkhajaji from Montem Primary School in Islington, for a 'cool clothing range'
    </li>
    <li>Category: A safety attachment for bicycles - Saracha Healy from St Agatha's Catholic Primary School in Kingston upon Thames, for a heat sensitive helmet reminder. </li>
</ul>
<p>For information about the winners please contact the TfL Press Office on the number below.</p>
<p>Nathan Fletcher <br />Press Officer <br />Email: nathanfletcher&#64;tfl.gov.uk <br />Direct line: 7941 4141 </p>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "The Cyclesafer Challenge is a fun competition aimed at the serious issue of raising cycle safety awareness in children. The competition was piloted in three schools this year, but will be expanded to cover all London's schools. Junior school children are";}
        
        


 