


@{ViewBag.Title = "Finsbury Park: the new cycling Capital of London";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>Finsbury Park: the new cycling Capital of London</h1>
        <div class="content-page-press-release">
        21 September 2004
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        Finsbury Park will soon be home to central London's largest cycle parking facility as the next phase of the Finsbury Park Transport Interchange (FPTI) project starts. Following the commitment made by the Mayor during his visit earlier this year, construction of a state of the art cycle park begins this week with facilities expected to open to cyclists in March 2005. No major disruptions to road or pedestrian traffic are expected during the construction period.
        
    </div>



 <div class="on-this-page">
<p>With 125 lockable cycle racks in a secure, twenty-four hour access facility, the cycle park will improve the lives of committed free-wheelers whilst encouraging the would-be cyclists of N4 to bike it for parts of their daily commute and make more use of the London Cycle Network (LCN). </p>
<p>Situated off Stroud Green Road opposite the main tube, rail and bus stations exit at Station Place (see accompanying site plan), the park will access the LCN via the existing improved cycle lane connections to Stroud Green and Seven Sisters Roads. As a result of joint funding from TfL, Haringey and Islington borough councils, the Finsbury Park Partnership (FPP) and the Heritage Lottery Fund, cyclists can also look forward to:</p>
<ul>
<li>24 hour access parking, covered by CCTV cameras, sheltered from the elements and staffed during peak hours week-days and weekends for a maximum parking fee of 50 pence for 24 hours; </li>
<li>A smartcard pre-payment facility, later planned to be compatible with Oystercard, that can be topped up by on duty cycle park attendants. </li></ul>
<p>In addition pedestrian access to the park itself will be re-opened and a new cycle path connection will join the Finsbury Park Parkland Walk offering a long, leisurely pedal through the greenery.</p>
<p>Barry Broe, TfL Director of Group Transport Planning &amp; Policy said: "As the Mayor has made clear, Finsbury Park is a key interchange station and the next phase of the FPTI, the cycle park and new path will make cycle journeys a real option for more Londoners by providing better cycling links to local public transport options."</p>
<p>Members of the public seeking further information should consult the <a>TfL website</a>.</p>
            <p><strong>TfL Interchange Programme</strong></p>
<p>TfL's Interchange Programme is part of Transport for London and the Mayor's commitment to improving the quality, security, convenience and accessibility of transport services for London residents and visitors. </p>
<p>TfL is committed to the funding and co-ordination of a range of interchange improvement projects in common with which the FPTI improvements will contribute to increasing the efficiency of London's transport network, attract more passengers and improve the quality of their journeys.</p>
<p>Since the summer of 2002, TfL has successfully lead the diverse FPTI working group in the delivery of improvements to the station environment and the building of central London's largest Cycle Park and has provided &pound;1.3m of project funding to date.<br>The FPTI project is a joint initiative of TfL, Islington and Haringey councils, the Heritage Lottery Fund and the Finsbury Park Partnership and consults with the relevant transport estate owners, London Underground, Network Rail, WAGN, SRA and London Buses.</p>
<p><strong>TfL London Cycle Action Plan</strong></p>
<p>Through the London Cycling Action Plan, TfL aims to provide better links to train and main bus stations improving the viability of off-peak services and complimenting other schemes such as congestion charging. Promoting cycle links and interchange schemes means that cycling and public transport combined become a real alternative to the car on longer journeys.</p>
<p>Working together, TfL, the London boroughs and many key stakeholders will implement the Action Plan measures to deliver a step change in cycling in the Capital. The overall aim is a trebling of cycle use with a target of an 80% increase in cycling by 2010.</p>
<p>For further information on TfL, the Finsbury Park Transport Interchange and the London Cycle Action Plan please visit <a href="http://www.tfl.gov.uk/" lid="http://www.tfl.gov.uk">http://www.tfl.gov.uk/</a> .</p>
<p>Adi Frost <br>Media Manager <br>Email: <a href="mailto:adifrost&#64;tfl.gov.uk">mailto:adifrost&#64;tfl.gov.uk</a> <br>Direct line: 020 7941 4881</p>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "With 125 lockable cycle racks in a secure, twenty-four hour access facility, the cycle park will improve the lives of committed free-wheelers whilst encouraging the would-be cyclists of N4 to bike it for parts of their daily commute and make more use of";}
        
        


 