


@{ViewBag.Title = "London-wide travel awareness campaign launched";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>London-wide travel awareness campaign launched</h1>
        <div class="content-page-press-release">
        07 September 2004
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        The Mayor of London, Ken Livingstone, officially launched good going - travel awareness in London at a central London morning press conference today.
        
    </div>



 <div class="on-this-page">
<p><strong>good going - travel awareness in London</strong>, is a London wide campaign which brings together the Mayor (through Transport for London), the 32 London Boroughs and a range of cross sector partners to promote sustainable transport and travel in the Capital.</p>
<p>A good going week of events, from 15 to 22 September, are being organised by the London boroughs throughout the Capital. Then a rolling programme of London-wide events, initiatives and activities will create and reinforce the importance of reducing traffic congestion and vehicle emissions. Individuals and organisations will play their part in the campaign by formally signing the good going pledge (to walk, cycle, use public transport, when possible, and to car share or use low emission vehicles when this is an option).</p>
<p>Mayor Ken Livingstone, said:</p>
<p>"I am committed to providing more opportunities for walking, cycling and other forms of sustainable transport in the capital. Improving the health and quality of life of Londoners is vital and I'm delighted to be supporting the good going campaign.</p>
<p>"Over the last four years, we have cut congestion and pollution in central London dramatically through the introduction of the congestion charge. By simultaneously radically improving the bus service and investing heavily to improve other transport services, Londoners have real alternatives to travelling by car. A key part of this is to improve our environment so as to encourage people to walk and cycle more. This includes the launch this year of the Walking Plan for London - the first of its kind in the UK; taking forward plans to create the London Cycle Network Plus by 2009/10; publishing the highly popular London Cycle Guides and improving cycle facilities at mainline rail stations."</p>
<p>TfL's Managing Director of Surface Transport, Peter Hendy, said of the campaign:</p>
<p>"The good going campaign stresses that we really can improve the health and quality of life for everyone living, working, visiting or being educated in London by reducing traffic congestion and vehicle emissions in the Capital. good going initiatives, which will support other traffic reduction and air quality measures being introduced in London, are all designed to encourage us to walk, cycle or to use public transport instead of the car, when possible, and to car share or use low emission vehicles when this is an option."</p>
<p>Everyone who signs the good going pledge will receive a loyalty card giving them London wide and borough specific offers and incentives and ongoing campaign information. There will also be regular 'lottery style' prize draws for pledge card holders. </p>
<p>The junior version of the campaign is gogo, which will get the message across to primary school age children in a way that is informative, educational and fun.<br />The gogo campaign will be 'fronted' by the Go Go Crew (<a href="http://www.gogocrew.co.uk/" el="http://www.gogocrew.co.uk" lid="http://www.gogocrew.co.uk)">http://www.gogocrew.co.uk/</a>, a cartoon band specially created to provide positive life-style role models for primary school aged children. </p>
<p>The Greater London Authority is supporting the aims of good going with a wide range on initiatives including: </p>
<ul>
    <li>Improving buses by making them safer, more accessible and more environmentally friendly, further investment in the Tube and control over London rail.
    </li>
    <li>Completion of the London Cycle Network Plus (LCN+) by 2009/10.
    </li>
    <li>Improving cycle parking and cycle access at main rail stations (Surbiton is a success story).
    </li>
    <li>A 23% increase in cycling across London to May this year compared with last May.
    </li>
    <li>Earlier this year we released the latest version of the highly popular London cycling maps.
    </li>
    <li>Walking initiatives, with the release of the Walking Plan for London earlier this year, includes Safer Routes to School, town centre improvements, and a commitment to better facilities for pedestrians as well as Home Zones and 20mph zones around schools.
    </li>
    <li>Further commitments include workplace travel plans to help individuals find the healthiest and most efficient transport option for their journey to work. </li>
</ul>
<ul>
    <li>With the largest commuter volume of any UK region and 90% of air pollution being caused by transport, there is a real need to encourage more efficient use of the car in London and all the alternative transport options. Good going encourages Londoners to think about the best way to travel in the city</li>
    <li>Did you know that sitting in a vehicle in heavy traffic, you inhale more pollution than someone walking on the street beside you or sitting on the bus?</li>
    <li>Almost 50% of car journeys are short enough to be made by bicycle</li>
    <li>650,000 people currently cycle around London, 11% of Londoners cycle</li>
    <li>There are 5 500,000 walking trips made a day in London</li>
    <li>200,000 taxi trips per day in London</li>
    <li>Nearly 6 million bus trips per day in London</li>
    <li>26 million trips are made in London per day, 43% by car and motorcycle; 34% by public transport, walking accounts for a fifth (21%)</li>
    <li>The number of journeys made by foot has fallen by 13% in the last ten years </li>
    <li>The average number of miles traveled on foot has fallen by 18% in the last ten years.</li>
    <li>The average UK resident spends about 9 days of the year in a car</li>
    <li>People in cars are exposed to 4 times more air pollution than pedestrians or cyclists</li>
    <li>It takes 8 bicycles to occupy the space taken by just one car</li>
</ul>
<p><strong>Cycling for better health:</strong></p>
<ul>
    <li>Six out of ten men and seven out of ten women are not physically active enough to enjoy health benefits</li>
    <li>People who cycle enjoy the same level of fitness as non-cyclists who are ten years younger</li>
</ul>
<p><strong>For further information please contact:</strong></p>
<p>Ashley Gibbins <br />0776 419 8286 <br />ashley&#64;williamjack.co.uk </p>
<p>Anita Marron <br />020 7364 6793 <br />anita.marron&#64;towerhamlets.gov.uk</p>
<p>TfL Press Office <br /><br />Direct line: 7941 4141 </p>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "good going - travel awareness in London, is a London wide campaign which brings together the Mayor (through Transport for London), the 32 London Boroughs and a range of cross sector partners to promote sustainable transport and travel in the Capital.A";}
        
        


 