


@{ViewBag.Title = "Mayor: New fares policy will secure &pound;3bn investment in transport";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>Mayor: New fares policy will secure &pound;3bn investment in transport</h1>
        <div class="content-page-press-release">
        21 September 2004
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        London Mayor Ken Livingstone today set out his new Tube and bus fares package and said rises were essential to secure an unprecedented &pound;3bn investment programme in London's transport. At the same time free travel on buses for children under 11 will be extended to all under-16s.
        
    </div>



 <div class="on-this-page">
<p>The new package will mean that in real terms, when inflation is taken into account, average bus fares are no higher than when Ken Livingstone took office more than four years ago. Passengers would benefit from a new 'early bird' discount for Oyster Pre Pay users to promote off-peak travel and get cash off the transport network.</p>
<p>Speaking at City Hall, the Mayor said: "In my first term we carried through the transformation of London's bus services. In the second we will start the improvement of the Tube and the investment programmes necessary to give London a 21st century transport system.</p>
<p>"That requires making tough choices now to seize the once-in-a-generation opportunity we have been given to invest nearly &pound;3bn over the next five years. If we want to make that investment we will need to raise fares now to help meet the costs of servicing the additional debt.</p>
<p>"I have no doubt that is the decision which is in the best interests of London. We are embarking on a course which will reverse generations of neglect.</p>
<p>"At the same time, I am announcing today that all under-16s will travel free on the bus system starting in the next academic year, building on my current policy of free bus travel for under-11s."</p>
<p>The new fares package, which will raise an additional &pound;125m for investment in the transport network and comes into force in January 2005, includes: </p>
<ul>
<li>Inflation plus 1% rise on the Tube, and average rise of inflation plus 10% on bus fares; 
</li><li>Oyster Pre Pay and 'early-bird' discounts to get cash off the buses and promote off-peak travel; 
</li><li>A reduction in the number of single fares and 'zone-grouping' to simplify journeys and; 
</li><li>Free travel on the buses for all under 16s by September 2005 rolled out to under- 18s in full time education in September 2006 . </li></ul>
<p>The Mayor continued:</p>
<p>"In real terms, bus passengers will still be paying the same average fares as when I was first elected. But they now receive a much better service and more and more school age children will travel free. Our investment in buses is paying off. Now we need to extend those improvements to the Tube and railways."</p>
<p>The cash fare for single bus journeys will rise from &pound;1.00 to &pound;1.20. but passengers who use Oyster Pre Pay or Saver tickets will pay &pound;1 - the same as today's cash price.</p>
<p>Oyster Pre Pay users travelling off-peak on the bus will pay just 80p. This discount aims to encourage the 15 percent of bus passengers who continue to pay cash to switch to pre-paid tickets or Travelcards to get cash off the bus network by 2006.</p>
<p>One day bus passes will increase from &pound;2.50 to &pound;3.00, the same price as 2000, with weekly bus passes increasing from &pound;9.50 to &pound;11.00 compared to &pound;11.50 in 2000 for the<br>equivalent tickets.</p>
<p>On the Tube, the Zone 1 and Zone 1-6 single cash fare are frozen and passengers using Oyster Pre Pay can travel in Zone 1 for &pound;1.70 and Zones 2-6 for &pound;1.80 per trip. Other fares are rising by RPI+1%, with further discounts available for Oyster Pre Pay off-peak travel - before 6.30am, after 7pm and all day at weekends.</p>
<p>A weekly adult Zone 1 Travelcard will rise from &pound;17.00 to &pound;18.50 and an all Zone Travelcard will increase from &pound;38.30 to &pound;39.50. A Zone 1-2 off-peak Travelcard will increase by 40p to &pound;4.70 and a Zone 1-2 all-day adult Travelcard will rise from &pound;5.30 to &pound;6.00. </p>
<p>Following groundbreaking talks with the train operating companies, a simpler pricing structure will be introduced for rail/Tube journeys which will reduce the cost of some<br>trips.</p>
            <p>1. The new fares package is expected to raise an additional &pound;80m on the buses and &pound;45m on the Tube.</p>
<p>2. Off-peak Pre Pay travel on the London Underground after January will be defined as before 0630 and after 1900 on weekdays and all day at weekends. On the buses, off-peak Pre Pay travel will be before 0630 and after 0930 on weekdays and all day at weekends. </p>
<p>3. Free travel for under 18s in full-time education will be in force by September 2006 under a phased programme. </p>
<p>4. Single and Pre Pay fares on the Croydon Tramlink will move in line with bus fares. DLR fares will match rises on the Tube. </p>
<p>5. Every weekday, there are around 6m passenger trips on London Buses and around 3m trips on the Tube. The DLR carries over 150,000 and Tramlink 65,000. </p>
<p>6. The Visitor Travelcard and weekend Travelcard will be replaced by the three-day and weekly Travelcards. </p>
<p>7. Fare tables are available from the London Travel Information on 020 7222 1234.</p>
<p>For further information contact Sam Hart in the Mayor's Press Office on 020 7983 4714 or Transport for London's press office on 020 7941 4141.</p>
<p>For out of hours media enquiries please call 020 7983 4000 </p>
<p>For non-media enquiries please call the Public Liaison Unit on 020 7983 4100 </p>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "The new package will mean that in real terms, when inflation is taken into account, average bus fares are no higher than when Ken Livingstone took office more than four years ago. Passengers would benefit from a new 'early bird' discount for Oyster Pre";}
        
        


 