


@{ViewBag.Title = "Mayor Encourages Britain to Get On Board the Olympic Bid";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>Mayor Encourages Britain to Get On Board the Olympic Bid</h1>
        <div class="content-page-press-release">
        14 September 2004
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        The Mayor of London, Ken Livingstone, was today joined at City Hall by London 2012 Chairman Sebastian Coe, Transport Minister Tony McNulty and Olympic rowing medallists James Cracknell and Rebecca Romero to officially launch Transport for London's (TfL's) 'back the bid' bus - part of a publicity campaign demonstrating TfL and the Mayor's total commitment to bring the Olympic Games to London in 2012.
        
    </div>



 <div class="on-this-page">
<p>The bus is just one of the 40 highly visible buses 'wrapped' in London 2012 branding that will be in service on London streets from the end of September. </p>
<p>Ken Livingstone said: &quot;These buses visibly demonstrate London's commitment to host the Olympic Games in 2012 and will ensure that everyone who lives in or visits the capital knows that London is a serious contender. This colourful campaign will provide a unique platform to help build support for the bid in the run up to the IOC's final decision next year. </p>
<p>&quot;This is the largest public awareness campaign TfL has ever run. The sheer scale of what TfL is delivering shows the importance that London places on succeeding in this bid.&quot;</p>
<p>The branded buses are the latest phase in a campaign of activity that aims to raise awareness of the bid. By the end of September posters and leaflets will be on display at nearly 35,000 sites on buses, at bus shelters, on Tubes and at Underground stations. Half a million leaflets outlining the case for bringing the Games to London are being distributed at transport related locations.</p>
<p>Bid Chairman, Sebastian Coe, said: &quot;We are very grateful to TfL for providing this level of support in such a visible manner. This is all part of our campaign to create a growing and lasting image of London as an Olympic city that gets people excited about backing the bid. I want to see our images all over the city and the country to demonstrate to the IOC that we are serious about winning the right to host the greatest event on earth here in London. </p>
<p>&quot;This level of support is phenomenal and will be crucial to the Bid's success. Everyone across London and the UK can do their bit to make our bid for 2012 a winner. That's why we are encouraging the public to register their support and help bring the Games to London.&quot; </p>
<p>Transport will play an important role in helping London win the bid. London already has a well-run and effective transport network with 20 million journeys made each day. With the planned extra investment of &pound;3bn over five years TfL will deliver an even more efficient system that will make London more than adequate to stage a successful Olympics over the four weeks of 2012.</p>Transport Minister Tony McNulty said: "I am delighted that London's transport network is playing such a crucial role in generating excitement and support for our bid. The Transport system is one of the huge strengths of our bid with the Olympic Park being served by 10 railway lines and 15 bus routes. 
<p>&quot;I am confident that we can deliver the greatest Games ever but we must now all take every available opportunity to let the International Olympic<br>Committee know that."</p>
<p>Register your support at www.london2012.org <a href="http://www.london2012.org/" target="_blank" lid="http://www.london2012.org" el="http://www.london2012.org">http://www.london2012.org</a>. Mobile users can register their support by texting LONDON to 82012.</p>
<p><strong>For further information please contact:</strong><br><br>Emily O'Regan <br><strong>TfL Communications </strong><br>Email: <a href="mailto:emilyoregan&#64;tfl.gov.uk" lid="emilyoregan&#64;tfl.gov.uk">emilyoregan&#64;tfl.gov.uk</a> <br>Direct line: 020 7941 4313 Or <br>Mobile: 07785 397 117 <br>Fran Edwards <strong>London 2012 Press Offic</strong>e 020 7093 5100</p>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "The bus is just one of the 40 highly visible buses 'wrapped' in London 2012 branding that will be in service on London streets from the end of September. Ken Livingstone said: &quot;These buses visibly demonstrate London's commitment to host the Olympic";}
        
        


 