


@{ViewBag.Title = "More cycle spaces for London's schools";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>More cycle spaces for London's schools</h1>
        <div class="content-page-press-release">
        15 September 2004
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        Safe and secure cycle parking facilities at 76 schools around the Capital will be provided by Transport for London by Spring 2005. Transport for London has announced that it will meet the Mayor's target of 5000 new school cycle spaces by the end of 2005 ahead of schedule.
        
    </div>



 <div class="on-this-page">
<p>The provision of secure parking facilities for more than 2,500 cycles will be completed between October 2004 and March 2005 throughout greater London as part of a wider plan to encourage young Londoners to cycle. The London Cycle Action Plan published by TfL earlier this year set out bold targets including a 200 per cent increase in cycling by 2020 and 5,000 new cycle spaces installed by the end of 2005. </p>
<p>Managing Director of Surface Transport at TfL Peter Hendy said:</p>
<p>"I'm delighted at the success of this project and the enthusiastic support of the boroughs and schools. Secure and good quality cycle parking is a key element in delivering the Mayor's Cycling Action Plan. Getting children out of their parents' cars and on to their bikes is not only good for their health, but will also help improve London's environment, and help free-up our roads.</p>
<p>"It's great to see so many schools now properly geared up for the future and I'm confident that this initiative, combined with TfL's commitment to cycle training, will help parents, teachers and children to view cycling as a safe, affordable and viable option for school travel."</p>
<ul>
    <li>The Mayor has identified a long-term target to increase cycling by 200% by 2020 (on year 2000 levels)
    </li>
    <li>Creating a Chain Reaction - The London Cycling Action Plan was launched on 25 February 2004
    </li>
    <li>The Mayor launched the Partnership behind the Cycle Parking Programme initiative on 19 June 2003
    </li>
    <li>The Cycle Parking Programme is open to schools and colleges located in the Greater London area and which come under one or more of the following categories: Primary/Junior school; secondary school; special needs schools; 6th form colleges; and colleges of further education and Universities offering full-time courses to students aged 25 years and under.
    </li>
    <li>TfL's research with children and teachers benefiting from the first stage of the programme shows that it has encouraged more children to cycle to school, increased cycling generally, and given teachers the incentive to make school a hub of cycling activity with training, basic bike checks and bikers breakfasts.
    </li>
    <li>Half of all journeys made in London are less than 2 miles; a distance easily cycled. However the level of cycling in London is relatively low compared to many other European cities. Targeting children and young people will help to reduce the number of unnecessary short car journeys and with the availability of new cycle parking facilities, cycling will now be a viable alternative to driving
    </li>
    <li>A 23% increase in the number of cycle journeys has been witnessed on the Transport for London Road Network in the past year. </li>
</ul>
<p>The following schools will benefit from the new facilities:<br />
</p>
<div class="table-container"><table width="578" border="1" cellspacing="1" cellpadding="2">
    <tbody>
        <tr>
            <th valign="top" style="width: 33%;">
            <p><span>Name of Borough</span></p>
            </th>
            <th valign="top" style="width: 67%;">
            <p><span>Name of School</span></p>
            </th>
        </tr>
        <tr>
            <td valign="top" style="width: 33%;">
            <p><span>Bexley (LB)</span></p>
            </td>
            <td valign="top" style="width: 67%;">
            <p><span>Hurstmere School</span></p>
            </td>
        </tr>
        <tr>
            <td valign="top" style="width: 33%;">
            <p><span>Brent (LB)</span></p>
            </td>
            <td valign="top" style="width: 67%;">
            <p><span>St Robert Southwell Primary School</span></p>
            </td>
        </tr>
        <tr>
            <td valign="top" style="width: 33%;">
            <p><span>Brent (LB)</span></p>
            </td>
            <td valign="top" style="width: 67%;">
            <p><span>Claremont High School</span></p>
            </td>
        </tr>
        <tr>
            <td valign="top" style="width: 33%;">
            <p><span>Brent (LB)</span></p>
            </td>
            <td valign="top" style="width: 67%;">
            <p><span>Oakington Manor Primary School</span></p>
            </td>
        </tr>
        <tr>
            <td valign="top" style="width: 33%;">
            <p><span>Bromley (LB)</span></p>
            </td>
            <td valign="top" style="width: 67%;">
            <p><span>Hayes Secondary School</span></p>
            </td>
        </tr>
        <tr>
            <td valign="top" style="width: 33%;">
            <p><span>Camden (LB)</span></p>
            </td>
            <td valign="top" style="width: 67%;">
            <p><span>Brecknock Primary</span></p>
            </td>
        </tr>
        <tr>
            <td valign="top" style="width: 33%;">
            <p><span>Camden (LB)</span></p>
            </td>
            <td valign="top" style="width: 67%;">
            <p><span>Camden School For Girls</span></p>
            </td>
        </tr>
        <tr>
            <td valign="top" style="width: 33%;">
            <p><span>Camden (LB)</span></p>
            </td>
            <td valign="top" style="width: 67%;">
            <p><span>Birkbeck College</span></p>
            </td>
        </tr>
        <tr>
            <td valign="top" style="width: 33%;">
            <p><span>Ealing (LB)</span></p>
            </td>
            <td valign="top" style="width: 67%;">
            <p><span>St. Benedict's School</span></p>
            </td>
        </tr>
        <tr>
            <td valign="top" style="width: 33%;">
            <p><span>Ealing (LB)</span></p>
            </td>
            <td valign="top" style="width: 67%;">
            <p><span>Lady Margaret Primary School</span></p>
            </td>
        </tr>
        <tr>
            <td valign="top" style="width: 33%;">
            <p><span>Ealing (LB)</span></p>
            </td>
            <td valign="top" style="width: 67%;">
            <p><span>Grange Primary School</span></p>
            </td>
        </tr>
        <tr>
            <td valign="top" style="width: 33%;">
            <p><span>Greenwich (LB)</span></p>
            </td>
            <td valign="top" style="width: 67%;">
            <p><span>Montbelle Primary School</span></p>
            </td>
        </tr>
        <tr>
            <td valign="top" style="width: 33%;">
            <p><span>Greenwich (LB)</span></p>
            </td>
            <td valign="top" style="width: 67%;">
            <p><span>James Wolfe Primary School With Unit For The Hearing</span></p>
            </td>
        </tr>
        <tr>
            <td valign="top" style="width: 33%;">
            <p><span>Greenwich (LB)</span></p>
            </td>
            <td valign="top" style="width: 67%;">
            <p><span>Blackheath Nursery &amp; Preparatory</span></p>
            </td>
        </tr>
        <tr>
            <td valign="top" style="width: 33%;">
            <p><span>Hackney (LB)</span></p>
            </td>
            <td valign="top" style="width: 67%;">
            <p><span>London Fields School</span></p>
            </td>
        </tr>
        <tr>
            <td valign="top" style="width: 33%;">
            <p><span>Hackney (LB)</span></p>
            </td>
            <td valign="top" style="width: 67%;">
            <p><span>Colvestone Primary School</span></p>
            </td>
        </tr>
        <tr>
            <td valign="top" style="width: 33%;">
            <p><span>Hackney (LB)</span></p>
            </td>
            <td valign="top" style="width: 67%;">
            <p><span>Benthal Junior School</span></p>
            </td>
        </tr>
        <tr>
            <td valign="top" style="width: 33%;">
            <p><span>Hammersmith &amp; Fulham (LB)</span></p>
            </td>
            <td valign="top" style="width: 67%;">
            <p><span>Old Oak Primary School</span></p>
            </td>
        </tr>
        <tr>
            <td valign="top" style="width: 33%;">
            <p><span>Hammersmith &amp; Fulham (LB)</span></p>
            </td>
            <td valign="top" style="width: 67%;">
            <p><span>Woodlane High School</span></p>
            </td>
        </tr>
        <tr>
            <td valign="top" style="width: 33%;">
            <p><span>Haringey (LB)</span></p>
            </td>
            <td valign="top" style="width: 67%;">
            <p><span>St Michaels Primary School</span></p>
            </td>
        </tr>
        <tr>
            <td valign="top" style="width: 33%;">
            <p><span>Harrow (LB)</span></p>
            </td>
            <td valign="top" style="width: 67%;">
            <p><span>Newton Farm Nursery, First And Middle School</span></p>
            </td>
        </tr>
        <tr>
            <td valign="top" style="width: 33%;">
            <p><span>Harrow (LB)</span></p>
            </td>
            <td valign="top" style="width: 67%;">
            <p><span>St. Anselm's Roman Catholic Primary School</span></p>
            </td>
        </tr>
        <tr>
            <td valign="top" style="width: 33%;">
            <p><span>Harrow (LB)</span></p>
            </td>
            <td valign="top" style="width: 67%;">
            <p><span>St. John Fisher School</span></p>
            </td>
        </tr>
        <tr>
            <td valign="top" style="width: 33%;">
            <p><span>Harrow (LB)</span></p>
            </td>
            <td valign="top" style="width: 67%;">
            <p><span>Belmont Middle School</span></p>
            </td>
        </tr>
        <tr>
            <td valign="top" style="width: 33%;">
            <p><span>Harrow (LB)</span></p>
            </td>
            <td valign="top" style="width: 67%;">
            <p><span>Hatch End High School</span></p>
            </td>
        </tr>
        <tr>
            <td valign="top" style="width: 33%;">
            <p><span>Harrow (LB)</span></p>
            </td>
            <td valign="top" style="width: 67%;">
            <p><span>Harrow High School &amp; Sports College</span></p>
            </td>
        </tr>
        <tr>
            <td valign="top" style="width: 33%;">
            <p><span>Hillingdon (LB)</span></p>
            </td>
            <td valign="top" style="width: 67%;">
            <p><span>Charville Primary School</span></p>
            </td>
        </tr>
        <tr>
            <td valign="top" style="width: 33%;">
            <p><span>Hillingdon (LB)</span></p>
            </td>
            <td valign="top" style="width: 67%;">
            <p><span>Northwood School</span></p>
            </td>
        </tr>
        <tr>
            <td valign="top" style="width: 33%;">
            <p><span>Hounslow (LB)</span></p>
            </td>
            <td valign="top" style="width: 67%;">
            <p><span>Feltham Community College</span></p>
            </td>
        </tr>
        <tr>
            <td valign="top" style="width: 33%;">
            <p><span>Hounslow (LB)</span></p>
            </td>
            <td valign="top" style="width: 67%;">
            <p><span>St Mark's</span></p>
            </td>
        </tr>
        <tr>
            <td valign="top" style="width: 33%;">
            <p><span>Hounslow (LB)</span></p>
            </td>
            <td valign="top" style="width: 67%;">
            <p><span>Brentford School For Girls</span></p>
            </td>
        </tr>
        <tr>
            <td valign="top" style="width: 33%;">
            <p><span>Islington (LB)</span></p>
            </td>
            <td valign="top" style="width: 67%;">
            <p><span>Hanover Primary School</span></p>
            </td>
        </tr>
        <tr>
            <td valign="top" style="width: 33%;">
            <p><span>Islington (LB)</span></p>
            </td>
            <td valign="top" style="width: 67%;">
            <p><span>Elizabeth Garrett Anderson School</span></p>
            </td>
        </tr>
        <tr>
            <td valign="top" style="width: 33%;">
            <p><span>Islington (LB)</span></p>
            </td>
            <td valign="top" style="width: 67%;">
            <p><span>St Pauls Steiner School</span></p>
            </td>
        </tr>
        <tr>
            <td valign="top" style="width: 33%;">
            <p><span>Kensington &amp; Chelsea ((RB)</span></p>
            </td>
            <td valign="top" style="width: 67%;">
            <p><span>Oxford Gardens Primary School</span></p>
            </td>
        </tr>
        <tr>
            <td valign="top" style="width: 33%;">
            <p><span>Kingston upon Thames (RB)</span></p>
            </td>
            <td valign="top" style="width: 67%;">
            <p><span>Green Lane Primary School</span></p>
            </td>
        </tr>
        <tr>
            <td valign="top" style="width: 33%;">
            <p><span>Kingston upon Thames (RB)</span></p>
            </td>
            <td valign="top" style="width: 67%;">
            <p><span>Latchmere Junior School</span></p>
            </td>
        </tr>
        <tr>
            <td valign="top" style="width: 33%;">
            <p><span>Kingston upon Thames (RB)</span></p>
            </td>
            <td valign="top" style="width: 67%;">
            <p><span>Fern Hill Primary School</span></p>
            </td>
        </tr>
        <tr>
            <td valign="top" style="width: 33%;">
            <p><span>Kingston upon Thames (RB)</span></p>
            </td>
            <td valign="top" style="width: 67%;">
            <p><span>Malden Manor Primary School</span></p>
            </td>
        </tr>
        <tr>
            <td valign="top" style="width: 33%;">
            <p><span>Lambeth (LB)</span></p>
            </td>
            <td valign="top" style="width: 67%;">
            <p><span>Stockwell Primary School</span></p>
            </td>
        </tr>
        <tr>
            <td valign="top" style="width: 33%;">
            <p><span>Lewisham (LB)</span></p>
            </td>
            <td valign="top" style="width: 67%;">
            <p><span>Sedgehill School</span></p>
            </td>
        </tr>
        <tr>
            <td valign="top" style="width: 33%;">
            <p><span>Lewisham (LB)</span></p>
            </td>
            <td valign="top" style="width: 67%;">
            <p><span>Tidemill Primary School</span></p>
            </td>
        </tr>
        <tr>
            <td valign="top" style="width: 33%;">
            <p><span>Lewisham (LB)</span></p>
            </td>
            <td valign="top" style="width: 67%;">
            <p><span>Merlin School</span></p>
            </td>
        </tr>
        <tr>
            <td valign="top" style="width: 33%;">
            <p><span>Lewisham (LB)</span></p>
            </td>
            <td valign="top" style="width: 67%;">
            <p><span>Sir Francis Drake School</span></p>
            </td>
        </tr>
        <tr>
            <td valign="top" style="width: 33%;">
            <p><span>Lewisham (LB)</span></p>
            </td>
            <td valign="top" style="width: 67%;">
            <p><span>Myatt Garden</span></p>
            </td>
        </tr>
        <tr>
            <td valign="top" style="width: 33%;">
            <p><span>Lewisham (LB)</span></p>
            </td>
            <td valign="top" style="width: 67%;">
            <p><span>St Michael's CofE Primary School</span></p>
            </td>
        </tr>
        <tr>
            <td valign="top" style="width: 33%;">
            <p><span>Lewisham (LB)</span></p>
            </td>
            <td valign="top" style="width: 67%;">
            <p><span>Prendergast School</span></p>
            </td>
        </tr>
        <tr>
            <td valign="top" style="width: 33%;">
            <p><span>Merton (LB)</span></p>
            </td>
            <td valign="top" style="width: 67%;">
            <p><span>Hollymount School</span></p>
            </td>
        </tr>
        <tr>
            <td valign="top" style="width: 33%;">
            <p><span>Merton (LB)</span></p>
            </td>
            <td valign="top" style="width: 67%;">
            <p><span>Links Primary</span></p>
            </td>
        </tr>
        <tr>
            <td valign="top" style="width: 33%;">
            <p><span>Merton (LB)</span></p>
            </td>
            <td valign="top" style="width: 67%;">
            <p><span>Sacred Heart Catholic Primary School</span></p>
            </td>
        </tr>
        <tr>
            <td valign="top" style="width: 33%;">
            <p><span>Merton (LB)</span></p>
            </td>
            <td valign="top" style="width: 67%;">
            <p><span>Wimbledon High School</span></p>
            </td>
        </tr>
        <tr>
            <td valign="top" style="width: 33%;">
            <p><span>Newham (LB)</span></p>
            </td>
            <td valign="top" style="width: 67%;">
            <p><span>Lister</span></p>
            </td>
        </tr>
        <tr>
            <td valign="top" style="width: 33%;">
            <p><span>Newham (LB)</span></p>
            </td>
            <td valign="top" style="width: 67%;">
            <p><span>Scott Wilkie Primary School</span></p>
            </td>
        </tr>
        <tr>
            <td valign="top" style="width: 33%;">
            <p><span>Newham (LB)</span></p>
            </td>
            <td valign="top" style="width: 67%;">
            <p><span>North Beckton Primary School</span></p>
            </td>
        </tr>
        <tr>
            <td valign="top" style="width: 33%;">
            <p><span>Newham (LB)</span></p>
            </td>
            <td valign="top" style="width: 67%;">
            <p><span>Eastlea Community School</span></p>
            </td>
        </tr>
        <tr>
            <td valign="top" style="width: 33%;">
            <p><span>Newham (LB)</span></p>
            </td>
            <td valign="top" style="width: 67%;">
            <p><span>Carpenters Primary School</span></p>
            </td>
        </tr>
        <tr>
            <td valign="top" style="width: 33%;">
            <p><span>Redbridge (LB)</span></p>
            </td>
            <td valign="top" style="width: 67%;">
            <p><span>Woodbridge High School</span></p>
            </td>
        </tr>
        <tr>
            <td valign="top" style="width: 33%;">
            <p><span>Richmond (LB)</span></p>
            </td>
            <td valign="top" style="width: 67%;">
            <p><span>St. Elizabeth's Catholic Primary School</span></p>
            </td>
        </tr>
        <tr>
            <td valign="top" style="width: 33%;">
            <p><span>Richmond (LB)</span></p>
            </td>
            <td valign="top" style="width: 67%;">
            <p><span>Waldegrave</span></p>
            </td>
        </tr>
        <tr>
            <td valign="top" style="width: 33%;">
            <p><span>Southwark (LB)</span></p>
            </td>
            <td valign="top" style="width: 67%;">
            <p><span>St Peters CofE Primary School</span></p>
            </td>
        </tr>
        <tr>
            <td valign="top" style="width: 33%;">
            <p><span>Southwark (LB)</span></p>
            </td>
            <td valign="top" style="width: 67%;">
            <p><span>Bredinghurst School</span></p>
            </td>
        </tr>
        <tr>
            <td valign="top" style="width: 33%;">
            <p><span>Southwark (LB)</span></p>
            </td>
            <td valign="top" style="width: 67%;">
            <p><span>St John's RC Primary School</span></p>
            </td>
        </tr>
        <tr>
            <td valign="top" style="width: 33%;">
            <p><span>Southwark (LB)</span></p>
            </td>
            <td valign="top" style="width: 67%;">
            <p><span>St Saviour's &amp; St Olave's School</span></p>
            </td>
        </tr>
        <tr>
            <td valign="top" style="width: 33%;">
            <p><span>Sutton (LB)</span></p>
            </td>
            <td valign="top" style="width: 67%;">
            <p><span>Abbey Primary School</span></p>
            </td>
        </tr>
        <tr>
            <td valign="top" style="width: 33%;">
            <p><span>Sutton (LB)</span></p>
            </td>
            <td valign="top" style="width: 67%;">
            <p><span>Carshalton High School For Boys</span></p>
            </td>
        </tr>
        <tr>
            <td valign="top" style="width: 33%;">
            <p><span>Sutton (LB)</span></p>
            </td>
            <td valign="top" style="width: 67%;">
            <p><span>Sutton Grammar School For Boys</span></p>
            </td>
        </tr>
        <tr>
            <td valign="top" style="width: 33%;">
            <p><span>Tower Hamlets (LB)</span></p>
            </td>
            <td valign="top" style="width: 67%;">
            <p><span>Third Base (Tower Hamlets Pupil Referral Unit)</span></p>
            </td>
        </tr>
        <tr>
            <td valign="top" style="width: 33%;">
            <p><span>Tower Hamlets (LB)</span></p>
            </td>
            <td valign="top" style="width: 67%;">
            <p><span>Sir John Cass Foundation And Red Coat CofE Secondary School</span></p>
            </td>
        </tr>
        <tr>
            <td valign="top" style="width: 33%;">
            <p><span>Tower Hamlets (LB)</span></p>
            </td>
            <td valign="top" style="width: 67%;">
            <p><span>John Scurr School</span></p>
            </td>
        </tr>
        <tr>
            <td valign="top" style="width: 33%;">
            <p><span>Tower Hamlets (LB)</span></p>
            </td>
            <td valign="top" style="width: 67%;">
            <p><span>Morpeth School</span></p>
            </td>
        </tr>
        <tr>
            <td valign="top" style="width: 33%;">
            <p><span>Wandsworth (LB)</span></p>
            </td>
            <td valign="top" style="width: 67%;">
            <p><span>Roehampton Church</span></p>
            </td>
        </tr>
        <tr>
            <td valign="top" style="width: 33%;">
            <p><span>Wandsworth (LB)</span></p>
            </td>
            <td valign="top" style="width: 67%;">
            <p><span>St Mary's CofE School</span></p>
            </td>
        </tr>
        <tr>
            <td valign="top" style="width: 33%;">
            <p><span>Wandsworth (LB)</span></p>
            </td>
            <td valign="top" style="width: 67%;">
            <p><span>Battersea Technology College</span></p>
            </td>
        </tr>
        <tr>
            <td valign="top" style="width: 33%;">
            <p><span>Wandsworth (LB)</span></p>
            </td>
            <td valign="top" style="width: 67%;">
            <p><span>Hurlingham School</span></p>
            </td>
        </tr>
        <tr>
            <td valign="top" style="width: 33%;">
            <p><span>Wandsworth (LB)</span></p>
            </td>
            <td valign="top" style="width: 67%;">
            <p><span>Newton Prep</span></p>
            </td>
        </tr>
        <tr>
            <td valign="top" style="width: 33%;">
            <p><span>Wandsworth (LB)</span></p>
            </td>
            <td valign="top" style="width: 67%;">
            <p><span>Chestnut Grove</span></p>
            </td>
        </tr>
    </tbody>
</table></div>
<p> </p>
<p><strong>For further information please contact:</strong></p>
<p>Alun Shurmer <br />
<strong>Senior Press Officer </strong><br />
Email: <a href="mailto:alunshurmer&#64;tfl.gov.uk " lid="alunshurmer&#64;tfl.gov.uk">alunshurmer&#64;tfl.gov.uk </a><br />
Direct line: 020 7941 4386 </p>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "The provision of secure parking facilities for more than 2,500 cycles will be completed between October 2004 and March 2005 throughout greater London as part of a wider plan to encourage young Londoners to cycle. The London Cycle Action Plan published by";}
        
        


 