


@{ViewBag.Title = "TfL funds Earlsfield station improvements";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>TfL funds Earlsfield station improvements</h1>
        <div class="content-page-press-release">
        17 September 2004
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        Transport for London (TfL) today announced a &pound;50,000 award to the London Borough of Wandsworth (LBW) to carry out a number of interchange improvements to Earlsfield station, as part of the continued improvement of South London rail services.
        
    </div>



 <div class="on-this-page">
<p>Addressing key areas of the station exterior's poor passenger environment the project will commence in Autumn 2004 with completion expected in March 2005. The planned improvements were developed by the LBW in consultation with South West Trains and will include:</p>
<ul>
<li>Improved access to the station 
</li><li>relocated and expanded cycle parking 
</li><li>improved signage </li></ul>
<p>Barry Broe, TfL Director of Group Transport Planning &amp; Policy said:</p>
<blockquote>
<p>"I'm delighted that TfL are able to continue to improve London's transport facilities through working with our local authority partners. This funding will mean rail passengers at Earlsfield benefit from improved security, station access and cycling facilities. By better integrating the local rail service with the rest of TfL's network, passengers will also get more up-to-date travel information which will help them plan their journeys."</p></blockquote>
<p>Station improvements are an important part of TfL's commitment to the delivery of the Mayor's Transport Strategy for London. On-going enhancements to key interchange stations contribute to the better integration of the buses, tube, rail and trams enabling potential increases both in the efficiency of the network and the number of passengers carried. </p>
<p>The Earlsfield project also continues the successful promotion of cycling as an alternative means of transport, which has seen a 23% rise in the number of cycling journeys between the May/June of 2003 and 2004 on those roads managed by TfL, the Transport for London Road Network (TLRN).</p>
            <p>Works will be carried out by LBW who will receive the TfL grant via the South West London Transport Conference (SWELTRAC). SWELTRAC is a London sub-regional partnership of 12 local authorities, bus and train operators, transport authorities, passenger and business interest groups whose principle objective is to improve London's transport integration. </p>
<p>TfL's interchange station funding is intended to enable local Borough councils to undertake improvements to trains, services and stations, in addition to work carried out by the regional Train Operating Companies (TOCs) and follows the allocation of &pound;387,000 by TFL in 2003/2004 for similar improvements at eight station interchanges.</p>
<p>In 2004/2005 at least six key South London interchange stations will benefit from this TfL station improvement initiative: Earlsfield, Tulse Hill, Hayes, West Wickham, Eden Park and Norwood Junction. </p>
<p>TfL will award a total of &pound;147 million in 2004/2005 through Borough Spending Plan (BSP) applications, submitted by the Boroughs to fund a range of local transport improvements. Over &pound;4m of this funding will go to improve station access facilities through this and other TfL/Borough joint initiatives.</p>
<p>Further funding applications for similar projects are expected to be submitted by the Boroughs through the Borough Spending Plan (BSP) process for the financial year 2005/2006.</p>
<p>Adi Frost <br>Media Manager <br>Email: <a href="mailto:adifrost&#64;tfl.gov.uk " target="_blank" lid="adifrost&#64;tfl.gov.uk">adifrost&#64;tfl.gov.uk </a><br>Direct line: 020 7941 4881 </p>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "Addressing key areas of the station exterior's poor passenger environment the project will commence in Autumn 2004 with completion expected in March 2005. The planned improvements were developed by the LBW in consultation with South West Trains and will";}
        
        


 