


@{ViewBag.Title = "TfL funds Norwood Junction station improvements";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>TfL funds Norwood Junction station improvements</h1>
        <div class="content-page-press-release">
        17 September 2004
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        Transport for London (TfL) today announced a &pound;125,000 award to the London Borough of Croydon (LBC) to carry out a number of improvements to the key rail interchange station at Norwood Junction. As part of the continued improvements to South London rail services works will start in Autumn 2004 and are expected to complete in March 2005. Benefits will include:
        
    </div>



 <div class="on-this-page">
<ul>
<li>an increased number of cycle tracks on the station site 
</li><li>improved information signage and footpath surfacing 
</li><li>better traffic calming with a speed table across Station Road 
</li><li>enhanced station security and personal safety with a new CCTV camera at the east end of Station Road and improved 
</li><li>lighting between station and Portland Road. </li></ul>
<p>Barry Broe, TfL Director of Group Transport Planning &amp; Policy said:</p>
<blockquote>
<p>"I'm delighted that TfL are able to continue to improve London's transport facilities through our work with our local authority partners. This funding will mean rail passengers at Norwood Junction will benefit from improved security, station access and cycling facilities. By better integrating the local rail service with the rest of TfL's network, passengers will also get more up-to-date travel information which will help them plan their journeys."</p></blockquote>
<p>Station improvements are an important part of TfL's commitment to the delivery of the Mayor's Transport Strategy for London. On-going enhancements to key interchange stations contribute to the better integration of the buses, tube, rail and trams enabling potential increases both in the efficiency of the network and the number of passengers carried. </p>
<p>The Norwood Junction project also continues the successful promotion of cycling as an alternative means of transport, which has seen a 23% rise in the number of cycling journeys between the May/June of 2003 and 2004 on those roads managed by TfL, the Transport for London Road Network (TLRN).</p>
            <p>Works will be carried out by LBC who will receive the TfL grant via South East London Transport Strategy (SELTRANS). SELTRANS was established in 1998 with the principle objective of improving London's transport integration and is a London sub-regional partnership between the seven southeast London boroughs of Bexley, Bromley, Croydon, Greenwich, Lambeth, Lewisham and Southwark, transport providers and operators, and groups representing the interests of businesses and passengers</p>
<p>TfL's interchange station funding is intended to enable local Borough councils to undertake improvements to trains, services and stations, in addition to work carried out by the regional Train Operating Companies (TOCs) and follows the allocation of &pound;387,000 by TFL in 2003/2004 for similar improvements at eight station interchanges.</p>
<p>In 2004/2005 at least six key South London interchange stations will benefit from similar station improvements: Earlsfield, Tulse Hill, Hayes, West Wickham, Eden Park and Norwood Junction. </p>
<p>In 2004/2005 TfL will award a total of &pound;147 million through Borough Spending Plan (BSP) applications, submitted by the Boroughs to fund a range of local transport improvements. Over &pound;4m of this funding will go to improve station access facilities through this and other TfL initiatives.</p>
<p>Further funding applications for similar projects are expected to be submitted by the BSP process for the financial year 2005/2006. </p>
<p>Adi Frost <br>Media Manager <br>Email: <a href="mailto:adifrost&#64;tfl.gov.uk " target="_blank" lid="adifrost&#64;tfl.gov.uk">adifrost&#64;tfl.gov.uk </a><br>Direct line: 020 7941 4881 </p>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "an increased number of cycle tracks on the station site improved information signage and footpath surfacing better traffic calming with a speed table across Station Road enhanced station security and personal safety with a new CCTV camera at the east end";}
        
        


 