


@{ViewBag.Title = "The future for road safety";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>The future for road safety</h1>
        <div class="content-page-press-release">
        21 September 2004
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        The future for road safety policy in the Capital will be discussed at the forthcoming Pan London Road Safety Conference on Thursday 23 September.
        
    </div>



 <div class="on-this-page">
<p>Hosted by Transport for London, the conference will address key issues affecting road safety policy like the influence of the new Traffic Management Act and the impact of speed humps.</p>
<p>This year's conference will update the industry on the latest thinking and good practice within Road Safety and give the chance to question and debate the latest policies and how they will affect the push to drive down the numbers of those hurt on our roads.</p>
<p>The speakers attending the conference include Tony McNulty MP, speaking on the Traffic Management Act; Jenny Jones, London Road Safety Ambassador; Peter Hendy, Managing Director of Surface Transport at TfL; Gary Austin, Chief Executive of DSA, talking on changes to driver training; Oliver Carsten, Director of Research and Professor of Transport Safety at Leeds University Institute for Transport Studies talking about intelligent speed adaptation and its role in road safety; and Lynne Featherstone, London Assembly Transport Committee taking forward the issue of speed humps.</p>
            <ul>
<li>The Pan London Road Safety Event takes place at One Great George Street, on Thursday 23 September 2004 at 9.30am 
</li><li>Press must register with the press office before attending. </li></ul>
<p><strong>P R O G R A M M E</strong></p>
<div class="table-container"><table width="95%" border="0">
<tbody>
<tr valign="top">
<td width="74%">9.30 am Registration - Tea and Coffee</td>
<td width="26%"> </td></tr>
<tr valign="top">
<td>9.55 am Introduction: Chris Lines, Head of London Road Safety Unit</td>
<td> </td></tr>
<tr valign="top">
<td>10.00 am Keynote Speech. Jenny Jones, London Road Safety</td>
<td>Ambassador</td></tr>
<tr valign="top">
<td>10.15 am Road Safety Plan overview. Bernie Hewing. </td>
<td> </td></tr>
<tr valign="top">
<td>10.45 am Gary Austin. Chief Executive DSA. Changes to Driver Training.</td>
<td> </td></tr>
<tr valign="top">
<td>11.30 am Tea and Coffee</td>
<td> </td></tr>
<tr valign="top">
<td>11.45am Peter Hendy. Managing Director, Surface Transport TfL</td>
<td> </td></tr>
<tr valign="top">
<td>11.50 am Traffic Management Act. Tony McNulty. Parliamentary Under-Secretary, Department for<br>Transport</td>
<td> </td></tr>
<tr valign="top">
<td>12.30 pm Lunch</td>
<td> </td></tr>
<tr valign="top">
<td>13.40 pm Alan Duddy. Qwizdom</td>
<td> </td></tr>
<tr valign="top">
<td>14.15 pm Lynne Featherstone. London Assembly Transport Committee. Report on Speed Humps</td>
<td>Taking the issues forward</td></tr>
<tr valign="top">
<td>15.00 pm Tea and Coffee</td>
<td> </td></tr>
<tr valign="top">
<td>15.20 pm Oliver Carsten. Director of Research and Professor of Transport Safety at Leeds University Intelligent Speed Adaptation and its role in Road Safety</td>
<td>Institute for Transport Studies.</td></tr>
<tr valign="top">
<td>16.00 pm Close</td>
<td> </td></tr></tbody></table></div>
<p><br><strong>TfL Press Office </strong><br>Telephone: 7941 4141<br></p>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "Hosted by Transport for London, the conference will address key issues affecting road safety policy like the influence of the new Traffic Management Act and the impact of speed humps.This year's conference will update the industry on the latest thinking";}
        
        


 