


@{ViewBag.Title = "London's long-term cycling potential mapped out";}
        
        
<div class="r">
    <div class="breadcrumb-container" role="navigation">
        <span id="breadcrumb-label" class="visually-hidden">You are here:</span>
        <ol class="breadcrumbs clearfix" aria-labelledby="breadcrumb-label">
            <li class="home">
                <a href="/">
                    <span class="hide-text">Home</span>
                </a>
            </li>
            
                <li>
                    <a href="/info-for/media/index">Media</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases">Press releases</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases/2017">2017</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases/2017/june">June</a>
                </li>
                
                <li>
                    <span class="last-breadcrumb">London’s long-term cycling potential mapped out</span>
                </li>
            
 
            
 
            
 
            
 
            
 
        </ul>
    </div>
</div>
     
 
<div class="r">
    <div class="headline-container plain">
        <h1>London’s long-term cycling potential mapped out</h1>
        <div class="content-page-press-release">
        16 June 2017
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        25 corridors across London identified as having the greatest potential for cycling
        
    </div>



<div class="pull-quote">
        <div class="quote-body">"This exciting analysis will help to transform cycling in all four corners of our great city, making London greener, healthier and less congested"</div>
        <div class="quote-footer">
            <div class="quotee-name">Ben Plowden</div>
            <div class="quotee-job-title">Director of Surface Strategy and Planning at TfL</div>
        </div>
</div>

 <div class="on-this-page">
<ul>
    <li>Unprecedented data analysis identifies where to expand the cycling network</li>
    <li>New figures show Cycle Superhighways and Quietways have increased cycling by up to 56%</li>
    <li>Future cycling routes will be designed to provide benefits for pedestrians and public transport users</li>
</ul>
<p>London's Walking and Cycling Commissioner, Will Norman, has today named the 25 corridors in London with the greatest potential for cycling as he revealed the unprecedented analysis being used to map out the future of the capital's cycling network.</p>
<p >Innovative data analysis is being used by TfL to identify where the next generation of cycling provision could make the biggest impact on the capital. The ongoing approach, based on growth forecasts, population growth, safety data and existing demand, is a completely new way of identifying where to invest in new schemes including Cycle Superhighways, Quietways and Liveable Neighbourhoods.</p>
<p >The wide-ranging analysis has seen 25 corridors across London identified for investment priority. These corridors spread from Brentford to Heathrow in the west, to Dagenham Dock to Ilford in the east, Highgate to North Finchley in the north, and Streatham to Oval in the south.</p>
<p >TfL will now work with London boroughs to conduct feasibility studies in these areas and develop cycling schemes that will help to deliver a long-term Strategic Cycle Network for London, as part of the Mayor's forthcoming Transport Strategy. Future cycling routes will also provide benefits for pedestrians and public transport users as part of the Mayor's Healthy Streets Approach.</p>
<p >This Strategic Cycling Analysis has been published today with new data that shows the dramatic growth in cycling that new routes have provided. This includes a 54% increase in cycling along the East-West Cycle Superhighway from Parliament Square to Tower Hill, a 32% increase along the entire North-South Cycle Superhighway, and 56% increase in cycling along Quietway 1 from Greenwich and Waterloo, since 2014, before the routes were established.</p>
<p >In total, more than half a million kilometres are ridden by cyclists on the average day within central London, a rise of seven per cent in three years, and across London there are 670,000 trips made &#45; the same number as on the Victoria line. At the busiest spot on the network, at Temple on the East-West Cycle Superhighway, a total of 12,572 bikes were counted each day. Kennington Park on CS7 saw 11,155 cycles and Blackfriars Bridge on the North-South Cycle Superhighway saw 10,276. There were 16 more locations where more than 5,000 cycles per day were counted.</p>
<p >This data forms a key part of the analysis to ensure that the growth in cycling continues at pace, the Mayor's record &pound;154 million per year investment is used most effectively, and that the network grows strategically across London throughout the Mayor's transport strategy. It will also help direct a new Cycling Delivery Plan to be launched in the winter.</p>
<p >The Mayor's record cycling budget currently includes funding for the completion of phase two of the North-South Cycle Superhighway from Farringdon to King's Cross, an extension of the East-West Cycle Superhighway to Acton and work to deliver Cycle Superhighway 11 from Swiss Cottage to the West End, Cycle Superhighway 4 from Tower Bridge to Greenwich and Cycle Superhighway 9 from Olympia towards Hounslow. Working with London boroughs, three 'Mini Hollands' in Enfield, Kingston and Waltham Forest and at least 20 more Quietway routes are also planned, making cycling safer and easier across London.</p>
<p ><strong>Will Norman, London's Walking and Cycling Commissioner, said</strong>: &quot;We're committed to improving cycling provision right across the capital as we work to make physical activity a bigger part of Londoners' everyday lives. And while we are working hard to build new Cycle Superhighways and Quietways now, it's also important that we look ahead to expand the cycling network and create the next generation of routes. That's why we've using this ground-breaking analysis to identify the areas of greatest potential for cycling, and why we'll be working closely with the boroughs to deliver schemes that help continue this spectacular growth in cycling for many years to come.&quot;</p>
<p ><strong>Ben Plowden, Director of Surface Strategy and Planning at TfL, said</strong>: &quot;This exciting analysis will help to transform cycling in all four corners of our great city, making London greener, healthier and less congested. The latest cycling statistics and the data on future cycling demand shows there is no stopping London's rapid cycling growth and we will work closely with the boroughs to help fuel this growth further by fixing the most dangerous junctions and delivering on major cycling improvements.&quot;</p>
<p ><strong>Ashok Sinha, CEO of London Cycling Campaign, said</strong>: &quot;Cycling is taking off in London and TfL's new figures prove that Londoners flock to high quality cycle lanes and routes where they're built. By clearly showing where cycling potential is highest, this new analysis enables the Mayor to implement his promises to triple the extent of protected space for cycling, and make sure every borough can access Liveable Neighbourhood funding in the most effective way possible. Londoners will get a great return on this investment in the form of reduced congestion and pollution, cheaper travel, better public health, and more high quality public spaces.&quot;</p>
<p>&nbsp;</p>
<hr />
<p >Notes to Editors:</p>
<ul>
    <li>**The Strategic Cycling Analysis can be downloaded from <a href="http://www.tfl.gov.uk/corporate/publications-and-reports/cycling">https://tfl.gov.uk/corporate/publications-and-reports/cycling</a></li>
    <li>The Mayor of London's Healthy Streets Approach is putting increasing levels of physical activity at the centre of a wide range of policies, setting out how it could transform the lives of millions of Londoners. In addition to the substantial physical health benefits, the Healthy Streets Approach aims to reduce air and noise pollution, minimise road danger and help tackle congestion to benefit cyclists, pedestrians and public transport users alike. It will also bring economic benefits to local high streets across the Capital.</li>
    <li>It is the ambition of the Mayor that Londoners walk or cycle for at least 20 minutes every day &#45; currently only 34% of Londoners manage to do this on any given day. If every Londoner walked or cycled for 20 minutes a day it would save the NHS &pound;1.7bn over the next 25 years. This includes 85,000 fewer people being treated for hip fractures, 19,200 fewer people suffering from dementia and an estimated 18,800 fewer Londoners suffering from depression.</li>
    <li>A daily average of more than 500,000km were cycled in the congestion charging zone in 2016. This is 4.2% higher than in 2015, when 480,000km were cycled per day, and 7.2% higher than in 2014 when 467,000km were cycled in the congestion charging zone per day.</li>
    <li>The busiest period of cycling in central London last year was from July to September, with an average of 560,000km were cycled every day. But data from October to December 2016 also shows a 7.2% increase since the same period in 2014, revealing that people continued to cycle during the colder months in greater numbers than ever before.</li>
    <li>In 2016, a daily average of 35,000km were cycled along the East West Cycle Superhighway from Parliament Square to Tower Hill. This is a 54% increase since 2014, when 22,500km per day were cycled along this 4.6km section of the route.</li>
    <li>In 2016, a daily average of 17,000km were cycled along the North South Cycle Superhighway from Elephant and Castle to Stonecutter Street. This is a 32% increase since baseline in 2014, when 13,000km per day were cycled along this 3km section of the route.</li>
    <li>The average day in 2016 for Quietway 1 saw 15,000km ridden between Greenwich and Waterloo. In 2014, 9,500kms were cycled along the route each day</li>
    <li>Baseline counts on the Quietways and Superhighways took place in autumn 2014. The counts will be repeated again in autumn this year and on an annual basis to track the performance of new routes.</li>
    <li>The annual number of journeys cycled in London is reported in 'Travel in London' report 9 which can be downloaded from the TfL website: <a href="http://www.tfl.gov.uk/corporate/publications-and-reports/travel-in-london-reports">https://tfl.gov.uk/corporate/publications-and-reports/travel-in-london-reports</a></li>
</ul>
<p>&nbsp;</p>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
                <a href="/info-for/media/index" class="heading">
                    <h2 id="sub-menu-heading">Media<span class="visually-hidden"> navigation</span></h2>
                </a>
                <ul>
                    
                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases">Press releases</a></div>
                                <ul>
                                    
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2020">2020</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019">2019</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018">2018</a></div></li>
                            
 
                                        <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017">2017</a></div>
                                        <ul>
                                            
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017/january">January</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017/february">February</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017/march">March</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017/april">April</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017/may">May</a></div></li>
                                    
 
                                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017/june">June</a></div>
                                                <ul>
                                                    
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
                                                </ul>
                                            
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017/july">July</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017/august">August</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017/september">September</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017/october">October</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017/november">November</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017/december">December</a></div></li>
                                    
 
                                        </ul>
                                    </li>
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016">2016</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015">2015</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014">2014</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2013">2013</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2012">2012</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2011">2011</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2010">2010</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2009">2009</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2008">2008</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2007">2007</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2006">2006</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2005">2005</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2004">2004</a></div></li>
                            
 
                                </ul>
                            </li>
 
                                <li><div class="link-wrapper"><a href="/info-for/media/photos">Photos</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/media/contact-the-press-office">Contact the Press Office</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/filming-and-photography">Filming & photography</a></div></li>
                            
 
                </ul>
            
 
 
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype: -Home-Media-Media-Press releases-2017-June-London’s long-term cycling potential mapped out -->

 
 
        
        
            @{ViewBag.Description = "London’s long-term cycling potential mapped out";}
        
        


 