


@{ViewBag.Title = "London students create artwork to celebrate the launch of Elizabeth line trains";}
        
        
<div class="r">
    <div class="breadcrumb-container" role="navigation">
        <span id="breadcrumb-label" class="visually-hidden">You are here:</span>
        <ol class="breadcrumbs clearfix" aria-labelledby="breadcrumb-label">
            <li class="home">
                <a href="/">
                    <span class="hide-text">Home</span>
                </a>
            </li>
            
                <li>
                    <a href="/info-for/media/index">Media</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases">Press releases</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases/2017">2017</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases/2017/june">June</a>
                </li>
                
                <li>
                    <span class="last-breadcrumb">London students create artwork to celebrate the launch of Elizabeth line trains</span>
                </li>
            
 
            
 
            
 
            
 
            
 
        </ul>
    </div>
</div>
     
 
<div class="r">
    <div class="headline-container plain">
        <h1>London students create artwork to celebrate the launch of Elizabeth line trains</h1>
        <div class="content-page-press-release">
        30 June 2017
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">



 <div class="on-this-page">
<p>Design students from East London have helped create a new advertising campaign that has been launched on board Transport for London's (TfL's) new Elizabeth line trains to explain to customers the benefits they will enjoy while on-board.</p>
<p>Students from Barking &amp; Dagenham College and Redbridge College, which are close to the TfL Rail line where the new trains will initially run, were picked to create the designs. The artwork selected, by Hayden Shields, Egle Lenceviciute and Jesse Thraves from Redbridge College, and Jelizaveta Sergejeva and Inga Tenyte from Barking &amp; Dagenham College, comprises five posters. Each reflects the individual artistic style of the students, and brings the benefits of the Elizabeth line to life.</p>
<p>These include walk-through carriages, improved accessibility, CCTV and air-conditioning. The trains also feature three sets of double doors along each carriage for quicker and easier boarding and alighting and improved travel information for passengers to plan their onward journeys.</p>
<p>Eleven of 66 new trains will be introduced on the route by the autumn and will initially be 160 metres long and made up of seven carriages. They will later be extended to nine carriages and the full length of 200 metres to carry up to 1,500 people. The trains will begin running through central London when the tunnels open in December 2018 and the Elizabeth line opens, transforming travel across the city.</p>
<p>The campaign will progress as London's newest railway opens in stages, with the next key moment coming in May 2018 when TfL takes over Heathrow Connect services between Paddington and Heathrow. Students from colleges along this section of the route will be asked to create artwork for this phase of the launch.</p>
<p>Miranda Leedham, TfL's Head of Marketing Operations, said: `We wanted to recognise a new generation of Londoners and the part they play in the city's creative life. The young people who have created this artwork will be enjoying the benefits of the Elizabeth line for many years to come. They represent the city's future, and I hope they enjoy seeing their artwork when out and about on the network as the trains and new Elizabeth line services begin to make a real difference to the lives of millions of people.'</p>
<p>The Elizabeth line will transform travel across the city, providing for London's growing population by reducing journey times and serving the West End, The City and Docklands. When fully open it will run from Reading and Heathrow in the west across to Shenfield and Abbey Wood in the east.</p>
<p>When the route is fully completed in December 2019, the trains will carry 200 million passengers a year, bringing an extra 1.5 million people to within 45 minutes of central London.</p>
<p>Ends</p>
<p>Notes to editors</p>
<p>Download images <a href="https://www.flickr.com/photos/tflpress/albums/72157683576524910">here</a></p>
<p>The Elizabeth line will open in phases, with the campaign launching alongside the first phase:</p>
<ul>
    <li>June 2017: The first new train enters passenger service between Liverpool Street Main Line and Shenfield.</li>
    <li>May 2018: TfL Rail service opens between Paddington Main Line and Heathrow Terminal 4, replacing the existing Heathrow Connect service and part of the Great Western inner suburban service.</li>
    <li>December 2018: The Elizabeth line opens between Paddington and Abbey Wood, Liverpool Street Main Line to Shenfield, Paddington Main Line to Heathrow Terminal 4.</li>
    <li>May 2019: The Elizabeth line through service extends from Shenfield to Paddington.</li>
    <li>December 2019: The Elizabeth line is fully open, extending to Reading and Heathrow Terminal 4.</li>
</ul>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
                <a href="/info-for/media/index" class="heading">
                    <h2 id="sub-menu-heading">Media<span class="visually-hidden"> navigation</span></h2>
                </a>
                <ul>
                    
                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases">Press releases</a></div>
                                <ul>
                                    
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2020">2020</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019">2019</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018">2018</a></div></li>
                            
 
                                        <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017">2017</a></div>
                                        <ul>
                                            
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017/january">January</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017/february">February</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017/march">March</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017/april">April</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017/may">May</a></div></li>
                                    
 
                                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017/june">June</a></div>
                                                <ul>
                                                    
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
                                                </ul>
                                            
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017/july">July</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017/august">August</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017/september">September</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017/october">October</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017/november">November</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017/december">December</a></div></li>
                                    
 
                                        </ul>
                                    </li>
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016">2016</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015">2015</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014">2014</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2013">2013</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2012">2012</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2011">2011</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2010">2010</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2009">2009</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2008">2008</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2007">2007</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2006">2006</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2005">2005</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2004">2004</a></div></li>
                            
 
                                </ul>
                            </li>
 
                                <li><div class="link-wrapper"><a href="/info-for/media/photos">Photos</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/media/contact-the-press-office">Contact the Press Office</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/filming-and-photography">Filming & photography</a></div></li>
                            
 
                </ul>
            
 
 
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype: -Home-Media-Media-Press releases-2017-June-London students create artwork to celebrate the launch of Elizabeth line trains -->

 
 
        
        
            @{ViewBag.Description = "London students create artwork to celebrate the launch of Elizabeth line trains";}
        
        


 