


@{ViewBag.Title = "Mayor launches plan to improve air quality on the Tube";}
        
        
<div class="r">
    <div class="breadcrumb-container" role="navigation">
        <span id="breadcrumb-label" class="visually-hidden">You are here:</span>
        <ol class="breadcrumbs clearfix" aria-labelledby="breadcrumb-label">
            <li class="home">
                <a href="/">
                    <span class="hide-text">Home</span>
                </a>
            </li>
            
                <li>
                    <a href="/info-for/media/index">Media</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases">Press releases</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases/2017">2017</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases/2017/june">June</a>
                </li>
                
                <li>
                    <span class="last-breadcrumb">Mayor launches plan to improve air quality on the Tube</span>
                </li>
            
 
            
 
            
 
            
 
            
 
        </ul>
    </div>
</div>
     
 
<div class="r">
    <div class="headline-container plain">
        <h1>Mayor launches plan to improve air quality on the Tube</h1>
        <div class="content-page-press-release">
        23 June 2017
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        More testing, more cleaning and more information for passengers ordered by the Mayor
        
    </div>



<div class="pull-quote">
        <div class="quote-body">"Air quality is one of the biggest health challenges of this generation and I'm committed to doing everything in my power to tackle it both above and below ground"</div>
        <div class="quote-footer">
            <div class="quotee-name">Sadiq Khan</div>
            <div class="quotee-job-title">Mayor of London</div>
        </div>
</div>

 <div class="on-this-page">
<p>The Mayor of London, Sadiq Khan, has instigated a new review of air pollution levels on the Tube, introducing a series of measures to minimize dust levels on the Underground to ensure staff and passengers breathe the cleanest air possible.</p>
<p>The work is part of a wide-ranging review the Mayor is undertaking across planning, housing, construction, transport and river services to tackle London's filthy air and to protect Londoners from the damaging health impacts of air pollution.</p>
<p>The Mayor and TfL have more than doubled investment in tackling air quality to &pound;875 million over the next five years. The far-reaching programme includes reducing toxic vehicle emissions, with a &pound;10 Toxicity-Charge (T-Charge) which will start in October this year, the introduction of the world's first Ultra Low Emission Zone (ULEZ) in 2019 (subject to consultation), and the cleaning up of London's public transport fleets such as buses and taxis so that they lead the way in ultra-low emission technology.</p>
<p>As part of this major programme, the Mayor is working with London Underground  to ensure the millions of passengers and staff who use the Tube each day breathe the cleanest air possible at all times.</p>
<p>A combination of the friction from Tube trains against their rails, air ventilated into the Tube network from above ground and skin particles from passengers all contribute to dust in the Tube system. Previous independent scientific research funded by TfL in 2004 found that the composition of dust particles on the Tube was different from that above ground, and concluded that the dust did not contain components at levels which are likely to pose a risk to the health of passengers or staff.</p>
<p>Given that more than a decade has passed since then, the Mayor has now asked TfL to commission an updated review of the evidence. The findings of this review will help prioritise action to ensure that London's Tube system is as clean and healthy as possible.</p>
<p>TfL has requested independent support and advice from the Department of Health's independent expert Committee on the Medical Effects of Air Pollutants (COMEAP), which provides advice on the health effects of air pollutants.</p>
<p>As well as the evidence review, TfL has launched a new air quality action plan on the Underground to deliver improvements straight away. This includes:</p>
<ul>
    <li>An enhanced air quality monitoring programme on the Tube network, with information made easily and publicly available on the TfL website.</li>
    <li>Testing will be carried out at more than a dozen stations, and involve dozens of staff and simulated passenger journeys to monitor how dust levels change at different times and locations. Testing equipment installed on the Tube will take much larger samples than ever before to inform London Underground's approach to minimizing dust.</li>
    <li>An expanded cleaning regime will be introduced, with increased cleaning of the Tube network's tunnels, stations and other locations wherever needed. Over the summer nearly 50 stations and five tunnel sections will be cleaned, with industrial vacuum cleaners and magnetic  'wands' being used each night in tunnels.  These will collect metal particles and ensure tunnel walls are left clear of accumulations of dust, oil and grease. Air quality monitoring will be carried out at these new locations before and after cleaning to ensure it is effective, with the results informing the frequency of future cleaning programmes. This enhanced regime will work alongside TfL's current regular deep cleaning of every line, vent shaft, station, machine room and switch room across the Tube network.</li>
    <li>Learning from the best examples of dust management in metros around the world, and implementing these on the Underground wherever possible.</li>
    <li>Further improvements as the Tube modernisation programme continues, including requiring all new trains to use high tech regenerative/rheostatic braking which recaptures energy to reduce friction on rails thereby reducing dust, sealed windows on trains, and the use of more platform safety doors.</li>
    <li>Expanding the use of a replacement fuel for diesel generators that are used to power tools used in maintenance and upgrade work underground. The fuel has the potential to significantly reduce CO, NO and NOx emissions, and following a trial it will now be used to power all motorised work platforms being used on the signalling modernisation on 40 per cent of the Tube network.‎</li>
    <li>Exploring and expanding the use of specialist dust suppressants across the network.  These are already used at some locations where dust is more common, and are now being considered for more widespread use.</li>
</ul>
<p>Sadiq Khan said: </p>
<p>'Air quality is one of the biggest health challenges of this generation and I'm committed to doing everything in my power to tackle it both above and below ground. I've introduced new measures to lower emissions from cars and buses, and it is now time to focus on wider sources of pollution including the Tube, river transport and construction sites.</p>
<p>'Tube staff and the millions of passengers who use the Underground regularly deserve to breathe the cleanest air possible. TfL's new Underground air quality programme will help ensure dust and particles are kept to an absolute minimum. But I want to leave no stone unturned and I've also asked for an updated scientific analysis of pollution on the Tube so we can fully assess the air quality levels and take appropriate measures to ensure that the air is clean.'</p>
<p>Mark Wild, Managing Director of London Underground, said: </p>
<p>'We have been monitoring dust levels on the Tube for many years and, through a wide range of measures, have ensured that particle levels are well within Health &amp; Safety Executive guidelines. But as scientific understanding of the effects of particles develops, we are ensuring that we're both using the very latest research and that we're doing everything possible to keep the air underground clean for our customers and staff.'</p>
<p>This summer the Mayor will launch new plans to help tackle pollution at construction sites and funding for greener, less polluting vessels on the River Thames. He will also launch new air quality rules for the housing sector and other developments in the forthcoming London Plan.</p>
<p>&nbsp;</p>
<hr />
<p>&nbsp;</p>
<p>Notes to Editors:</p>
<p>&nbsp;</p>
<ol>
    <li>The Mayor wants to ensure that the air that Londoners breathe is clean no matter where they are in the city. Particles on London Underground are mainly caused by factors including friction of trains on rails, ventilation air from above ground and historic dust. However, these are well within HSE guidelines. A TfL-commissioned study by the Institute of Occupational Medicine (IOM) in 2004 found that the particles on the Underground were very different from those above ground, and have a far higher iron content. The IOM report found that due to the size, nature and the exposure times of underground particles, there is very low risk of affecting the health of workers or customers.</li>
    <li>TfL carries out a range of measures to limit the production and movement of dust. These include:</li>
</ol>
<p>Regenerative and rheostatic braking:</p>
<ul>
    <li>Rheostatic and regenerative braking, which returns energy back to power supply and reduces heat and dust through reduced friction braking , has been progressively introduced over the last 15 years and is the most significant reduction measure available.</li>
    <li>The entire passenger fleet is now fitted with rheostatic technology, and 80 per cent of the passenger fleet is regenerative. The remaining 20 per cent will be replaced with regenerative rolling stock as part of the modernisation of the Piccadilly, Central, and Bakerloo lines.</li>
</ul>
<p>Reducing ballast dust:</p>
<ul>
    <li>All ballast used on the Tube network is damped down at LU depots and at site, minimising dust.</li>
    <li>All ballast removed from sites is damped down before removal.</li>
    <li>On completion, work surfaces, including rails, are cleaned with industrial vacuums.</li>
</ul>
<p>Rail Grinding:</p>
<ul>
    <li>LU carries out a deep clean of sections of track ahead of grinding.</li>
    <li>Track is dampened before work is carried out.</li>
    <li>On completion, any loose metallic dust is collected manually.</li>
</ul>
<p>Reduced exposure to concrete dust:</p>
<ul>
    <li>Concrete bursting is used where possible, significantly reducing dust and noise.</li>
    <li>Where concrete breaking is needed, extensive damping down is carried out.</li>
    <li>A controlled process is used for concrete mixing, reducing air-borne concrete dust.</li>
</ul>
<p>Each project has its own dust management plan:</p>
<ul>
    <li>Each task has monitoring and suppression management.</li>
    <li>Consideration is given to building materials used, as well as methods to reduce dust generation.</li>
    <li>Monitoring is carried out via hand held monitors to ensure below Health and Safety Executive action limits and to check suppression effectiveness.</li>
</ul>
<p>Industry best practice techniques:</p>
<ul>
    <li>Areas are contained or sealed to suppress dust, followed by thorough cleaning.</li>
    <li>Vacuum cleaners and high efficiency particulate air filters are used instead of sweeping.</li>
    <li>On-tool extraction is used where practicable with extraction systems to collect dust</li>
    <li>Dampening down to reduce airborne particles</li>
    <li>Local exhaust ventilation where mixing is taking place</li>
    <li>Restricted access areas</li>
    <li>Regular monitoring to ensure systems are in use</li>
    <li>Respiratory protection depending on location and type of work being done.</li>
</ul>
<p>Tunnel cleaning:</p>
<ul>
    <li>Vacuum cleaners and magnetic wands are used to collect metal particles.</li>
    <li>Tunnel walls are left clear of accumulations of dust, fluff, oil and grease</li>
    <li>Regular deep cleaning of every line, vent shaft, station, machine room and switch room.</li>
</ul>
<p>Reduced diesel fumes:</p>
<ul>
    <li>Alternative tools to diesel are used wherever possible.</li>
    <li>A replacement fuel for diesel generators is under trial with the aim of significantly reducing CO, NO and NOx emissions.</li>
</ul>
<p>&nbsp;</p>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
                <a href="/info-for/media/index" class="heading">
                    <h2 id="sub-menu-heading">Media<span class="visually-hidden"> navigation</span></h2>
                </a>
                <ul>
                    
                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases">Press releases</a></div>
                                <ul>
                                    
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2020">2020</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019">2019</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018">2018</a></div></li>
                            
 
                                        <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017">2017</a></div>
                                        <ul>
                                            
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017/january">January</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017/february">February</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017/march">March</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017/april">April</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017/may">May</a></div></li>
                                    
 
                                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017/june">June</a></div>
                                                <ul>
                                                    
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
                                                </ul>
                                            
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017/july">July</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017/august">August</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017/september">September</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017/october">October</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017/november">November</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017/december">December</a></div></li>
                                    
 
                                        </ul>
                                    </li>
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016">2016</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015">2015</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014">2014</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2013">2013</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2012">2012</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2011">2011</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2010">2010</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2009">2009</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2008">2008</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2007">2007</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2006">2006</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2005">2005</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2004">2004</a></div></li>
                            
 
                                </ul>
                            </li>
 
                                <li><div class="link-wrapper"><a href="/info-for/media/photos">Photos</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/media/contact-the-press-office">Contact the Press Office</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/filming-and-photography">Filming & photography</a></div></li>
                            
 
                </ul>
            
 
 
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype: -Home-Media-Media-Press releases-2017-June-Mayor launches plan to improve air quality on the Tube -->

 
 
        
        
            @{ViewBag.Description = "Mayor launches new plan to improve air quality on the Tube";}
        
        


 