


@{ViewBag.Title = "Ticket offers three unique ways to get around London";}
        
        
<div class="r">
    <div class="breadcrumb-container" role="navigation">
        <span id="breadcrumb-label" class="visually-hidden">You are here:</span>
        <ol class="breadcrumbs clearfix" aria-labelledby="breadcrumb-label">
            <li class="home">
                <a href="/">
                    <span class="hide-text">Home</span>
                </a>
            </li>
            
                <li>
                    <a href="/info-for/media/index">Media</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases">Press releases</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases/2017">2017</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases/2017/june">June</a>
                </li>
                
                <li>
                    <span class="last-breadcrumb">Ticket offers three unique ways to get around London</span>
                </li>
            
 
            
 
            
 
            
 
            
 
        </ul>
    </div>
</div>
     
 
<div class="r">
    <div class="headline-container plain">
        <h1>Ticket offers three unique ways to get around London</h1>
        <div class="content-page-press-release">
        27 June 2017
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        Explore London ticket will unlock the Emirates Air Line, MBNA Thames Clippers and Santander Cycles for Londoners and visitors
        
    </div>



<div class="pull-quote">
        <div class="quote-body">"Whether you're a visitor to the city or a Londoner you'll enjoy a high-speed trip along the River Thames, a relaxing ride on a Santander Cycle and the breath-taking views from the Emirates Air Line cable car"</div>
        <div class="quote-footer">
            <div class="quotee-name">Leon Daniels</div>
            <div class="quotee-job-title">Managing Director of Surface Transport, TfL</div>
        </div>
</div>

 <div class="on-this-page">
<p>A unique ticket will offer visitors to London three exciting ways to travel around the city, using the Emirates Air Line, MBNA Thames Clippers and Santander Cycles for less.</p>
<p>Visitors can now enjoy an all-day ticket that offers scenic trips on MBNA Thames Clippers' high speed vessels along the River Thames, relaxing rides on Santander Cycles and a breath-taking flight on the Emirates Air Line cable car. Customers will save money by buying these combined offers as opposed to buying the tickets individually.</p>
<p>Visitors will be able to glide along the River Thames on an MBNA Thames Clippers catamaran with a hop-on, hop-off ticket, cycle round the city on a Santander Cycles and soar 100m above the river for stunning views of London, for a combined price of &pound;25 offering a total saving of 20 per cent. The ticket offering Santander Cycles and MBNA Thames Clippers only will cost &pound;16.70, which is also a saving of 20 per cent.</p>
<p>Leon Daniels, Managing Director of Surface Transport at TfL, said: </p>
<p>'The Explore London ticket combines three superb ways to travel around the city and enjoy the sights, all at a discounted price.</p>
<p>'Whether you're a visitor to the city or a Londoner you'll enjoy a high-speed trip along the River Thames, a relaxing ride on a Santander Cycle and the breath-taking views from the Emirates Air Line cable car.'</p>
<p>Tickets will be available via the MBNA Thames Clippers site for six months from 27 June, visit <a href="http://tfl.gov.uk/explore-london-tickets">tfl.gov.uk/explore-london-tickets</a> for more information.</p>
<p>&nbsp;</p>
<hr />
<p>Notes to Editors:</p>
<ul>
    <li>The Explore London combined tickets includes:</li>
</ul>
<ul>
    <li>An Emirates Air Line cable car Discovery Experience ticket (this includes a 360 round-trip, in-flight guide and free entry to the Emirates Aviation Experience exhibition)</li>
    <li>An all-day hop-on, hop-off MBNA Thames Clippers River Roamer ticket</li>
    <li>A Santander Cycles promo code which gives you unlimited Santander Cycles rides of up to 30 minutes for 24 hours so you can make the most of exploring London by bike</li>
</ul>
<ul>
    <li>Every bike journey up to 30 minutes is free</li>
    <li>Longer journeys cost an extra &pound;2 for each additional 30 minutes</li>
</ul>
<ul>
    <li>The Explore London joint ticket includes:</li>
</ul>
<ul>
    <li>An all-day hop-on hop-off MBNA Thames Clippers River Roamer ticket</li>
    <li>A Santander Cycles promo code which gives you unlimited Santander Cycles rides of up to 30 minutes for 24 hours so you can make the most of exploring London by bike</li>
</ul>
<ul>
    <li>Every bike journey up to 30 minutes is free</li>
    <li>Longer journeys cost an extra &pound;2 for each additional 30 minutes (or less) you hire a bike</li>
</ul>
<ul>
    <li>One ticket is required per adult (minimum age 16 years). No concessions are available.</li>
    <li>TfL also has launched a range of travel tip films, which can be viewed with subtitles in English, Spanish, Italian, French, German and Dutch, to help visitors navigate the transport network. These films can be viewed here: <a href="http://tfl.gov.uk/travel-information/visiting-london/getting-around-london/visitor-information/top-travel-tips">tfl.gov.uk/travel-information/visiting-london/getting-around-london/visitor-information/top-travel-tips</a></li>
    <li>Visitors will find it easier to take advantage of everything that London has to offer after the creation of three new travel itineraries by TfL. To see the itineraries, visit: <a href="http://tfl.gov.uk/travel-information/visiting-london/experience-london/itineraries">tfl.gov.uk/travel-information/visiting-london/experience-london/itineraries</a></li>
</ul>
<p><strong>About Santander Cycles</strong><br />
Santander Cycles now covers 100 square kilometres of London, making it the second largest cycle hire scheme in Europe. Since launching in July 2010, more than 60 million journeys have been made, with 2016 breaking all records, with hires reaching an unprecedented 10.3m - 4.4 per cent up on 2015. Santander Cycles can be hired from as little as &pound;2 a day for an unlimited number of 30 minute journeys.</p>
<p>For more info visit <a href="http://tfl.gov.uk/modes/cycling/santander-cycles">tfl.gov.uk/modes/cycling/santander-cycles</a> or follow &#64;SantanderCycles</p>
<p><strong>About Emirates Air Line</strong><br />
The Emirates Air Line is the UK's first and only urban cable car and has welcomed over 8.3m visitors since it opened in June 2012.  Spanning just over 1km across the Thames between the Greenwich Peninsula (near The O2) and the Royal Docks (near ExCeL London), it takes around 10 minutes for a single crossing and offers unique views of the city. Passengers can enjoy spectacular views of the capital including St Paul's Cathedral, the Gherkin, Thames Barrier, Maritime Greenwich and the Olympic Park as they fly 90 metres above the River Thames.</p>
<p>For more info visit <a href="http://tfl.gov.uk/modes/emirates-air-line/">tfl.gov.uk/modes/emirates-air-line/</a> or follow &#64;EmiratesAirLDN</p>
<p><strong>About MBNA Thames Clippers</strong><br />
MBNA Thames Clippers is the leading River Bus service on the River Thames running a 20 minute frequency between key London piers including North Greenwich for The O2, Greenwich, Canary Wharf, Tower, London Bridge, Westminster and London Eye for Waterloo, as well as several residential piers, a total of 21 piers across the capital.</p>
<p>Co-founded in 1999 by Sean Collins (CEO) and Alan Woods (former Chairman), the company began with one boat servicing 80 passengers a day between Greenland and Savoy piers. Now 18 years on, numbers have significantly risen to over 4 million passengers in 2016. Making travel by river even easier, passengers are able to use contactless payment and Oyster pay as you go with MBNA Thames Clippers.</p>
<p>In 2006 AEG, owners and operators of The O2, acquired the majority stake in the company and since then the fleet has substantially grown to 15 vessels. River Bus Express for The O2 is an additional fast direct service between London Eye, and London Bridge to The O2 at North Greenwich on arena event nights.</p>
<p>For more info visit the website <a href="http://mbnathamesclippers.com">mbnathamesclippers.com</a> or follow &#64;ThamesClippers</p>
<p>&nbsp;</p>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
                <a href="/info-for/media/index" class="heading">
                    <h2 id="sub-menu-heading">Media<span class="visually-hidden"> navigation</span></h2>
                </a>
                <ul>
                    
                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases">Press releases</a></div>
                                <ul>
                                    
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2020">2020</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019">2019</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018">2018</a></div></li>
                            
 
                                        <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017">2017</a></div>
                                        <ul>
                                            
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017/january">January</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017/february">February</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017/march">March</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017/april">April</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017/may">May</a></div></li>
                                    
 
                                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017/june">June</a></div>
                                                <ul>
                                                    
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
                                                </ul>
                                            
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017/july">July</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017/august">August</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017/september">September</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017/october">October</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017/november">November</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017/december">December</a></div></li>
                                    
 
                                        </ul>
                                    </li>
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016">2016</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015">2015</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014">2014</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2013">2013</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2012">2012</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2011">2011</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2010">2010</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2009">2009</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2008">2008</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2007">2007</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2006">2006</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2005">2005</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2004">2004</a></div></li>
                            
 
                                </ul>
                            </li>
 
                                <li><div class="link-wrapper"><a href="/info-for/media/photos">Photos</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/media/contact-the-press-office">Contact the Press Office</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/filming-and-photography">Filming & photography</a></div></li>
                            
 
                </ul>
            
 
 
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype: -Home-Media-Media-Press releases-2017-June-Ticket offers three unique ways to get around London -->

 
 
        
        
            @{ViewBag.Description = "New combined ticket offers visitors three unique ways to get around London";}
        
        


 