


@{ViewBag.Title = "Transport for London wraps up in rainbows to celebrate Pride ";}
        
        
<div class="r">
    <div class="breadcrumb-container" role="navigation">
        <span id="breadcrumb-label" class="visually-hidden">You are here:</span>
        <ol class="breadcrumbs clearfix" aria-labelledby="breadcrumb-label">
            <li class="home">
                <a href="/">
                    <span class="hide-text">Home</span>
                </a>
            </li>
            
                <li>
                    <a href="/info-for/media/index">Media</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases">Press releases</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases/2017">2017</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases/2017/june">June</a>
                </li>
                
                <li>
                    <span class="last-breadcrumb">Transport for London wraps up in rainbows to celebrate Pride </span>
                </li>
            
 
            
 
            
 
            
 
            
 
        </ul>
    </div>
</div>
     
 
<div class="r">
    <div class="headline-container plain">
        <h1>Transport for London wraps up in rainbows to celebrate Pride </h1>
        <div class="content-page-press-release">
        22 June 2017
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">



 <div class="on-this-page">
<p>Transport for London (TfL) is celebrating Pride by transforming parts of the transport network with a new rainbow design, which has been created especially to raise awareness and show support for the LGBT+ community, as part of a range of activities taking place this month.</p>
<p>The bold new design highlighting #loveislove can be seen above the Oxford Street entrance of Tottenham Court Road station and has been incorporated into a number of rainbow roundels at Tottenham Court Road, Oxford Circus and Piccadilly Circus Tube stations.</p>
<p>Anyone hiring a Santander Cycle has the chance to ride on one of the fifty cycles that have been decorated with rainbow livery on their rear mudguards, demonstrating and celebrating how proud the capital is of its diversity.</p>
<p>On the day of the parade, TfL will also mark the occasion with rainbow flags at several bus stops, including two in the Charing Cross area which will be kept permanently after the Pride celebrations to serve as a symbol of the organisation's support for the LGBT+ community.</p>
<p>Sadiq Khan, Mayor of London, said: `Here in London, you're free to love whoever you want to love and be whoever you want to be. That's just one of the reasons why our city is seen as a beacon for the LGBT+ community and has such a vibrant, thriving scene &#45; one that is bursting with colour, and contributes hugely to the life and soul of London.</p>
<p>`As commuters make their way across the capital, they'll be greeted by rainbow colours taking pride of place at Underground stations, bus stops and Santander Cycles around Soho, sending a strong message of support to London's lesbian, gay, bisexual and transgender community. This Pride, I look forward to celebrating the capital's diversity and showing that London is open to all people, regardless of background, religion, race, gender, disability, age or sexuality.'</p>
<p>Ben Lyon, Chair of OUTbound, TfL's LGBT+ Staff Network Group, said: `We are delighted to be part of the Pride celebrations by decorating the transport network with our beautiful rainbow design at Tube stations, bus stops and on bikes.  The capital is one of the most diverse cities in the world and we are extremely proud to be part of the message to the world that, whatever your sexual orientation, London is open and welcomes you.'</p>
<p>Sigga Sigurdardottir, Chief Innovation and Customer Officer at Santander, said: 'London is a city that has long championed diversity and inclusion. We are really excited to be a part of the celebrations and hope that local residents and visitors to the city enjoy exploring London on one of our rainbow Santander Cycles.</p>
<p>'This is just one piece of activity we have planned to celebrate Pride. We have a host of other celebrations going on throughout the rest of UK, from taking part in Pride marches and decorating a number of branches to creating rainbow themed menus in our staff restaurants.'</p>
<p>This year's initiatives build on TfL's strong legacy of promoting Pride follow the installation of the diversity traffic signals last year and a range of rainbow-wrapped vehicles, including a London bus, black taxi and DLR train.</p>
<p>Additional Information<br />
•	Please find images here:  <a href="https://www.flickr.com/photos/tflpress/albums/72157683067719831">https://www.flickr.com/photos/tflpress/albums/72157683067719831</a></p>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
                <a href="/info-for/media/index" class="heading">
                    <h2 id="sub-menu-heading">Media<span class="visually-hidden"> navigation</span></h2>
                </a>
                <ul>
                    
                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases">Press releases</a></div>
                                <ul>
                                    
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2020">2020</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019">2019</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018">2018</a></div></li>
                            
 
                                        <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017">2017</a></div>
                                        <ul>
                                            
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017/january">January</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017/february">February</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017/march">March</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017/april">April</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017/may">May</a></div></li>
                                    
 
                                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017/june">June</a></div>
                                                <ul>
                                                    
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
                                                </ul>
                                            
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017/july">July</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017/august">August</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017/september">September</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017/october">October</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017/november">November</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017/december">December</a></div></li>
                                    
 
                                        </ul>
                                    </li>
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016">2016</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015">2015</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014">2014</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2013">2013</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2012">2012</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2011">2011</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2010">2010</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2009">2009</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2008">2008</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2007">2007</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2006">2006</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2005">2005</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2004">2004</a></div></li>
                            
 
                                </ul>
                            </li>
 
                                <li><div class="link-wrapper"><a href="/info-for/media/photos">Photos</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/media/contact-the-press-office">Contact the Press Office</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/filming-and-photography">Filming & photography</a></div></li>
                            
 
                </ul>
            
 
 
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype: -Home-Media-Media-Press releases-2017-June-Transport for London wraps up in rainbows to celebrate Pride  -->

 
 
        
        
            @{ViewBag.Description = "Transport for London wraps up in rainbows to celebrate Pride ";}
        
        


 