


@{ViewBag.Title = "December";}
        
        
<div class="r">
    <div class="breadcrumb-container" role="navigation">
        <span id="breadcrumb-label" class="visually-hidden">You are here:</span>
        <ol class="breadcrumbs clearfix" aria-labelledby="breadcrumb-label">
            <li class="home">
                <a href="/">
                    <span class="hide-text">Home</span>
                </a>
            </li>
            
                <li>
                    <a href="/info-for/media/index">Media</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases">Press releases</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases/2011">2011</a>
                </li>
                
                <li>
                    <span class="last-breadcrumb">December</span>
                </li>
            
 
            
 
            
 
            
 
        </ul>
    </div>
</div>
     
 
<div class="r">
    <div class="headline-container plain">
        <h1>December</h1>
    </div>
</div>

<div class="main-and-aside r">
    <div class="main" role="main">

<div class="on-this-page">


     


<div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2011/december/hammersmith-flyover-to-remain-closed-next-week">Hammersmith flyover to remain closed next week<br />30 Dec 2011</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2011/december/london-underground-welcomes-suspension-of-aslef-strike-action">London Underground welcomes suspension of ASLEF strike action<br />30 Dec 2011</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2011/december/edgware-road-signal-improvements-delivered-early-paving-way-for-longer-accessible-aircon-trains">Edgware Road signal improvements delivered early, paving way for longer, accessible, air-con trains<br />30 Dec 2011</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2011/december/reminder-that-new-fares-for-tfl-services-will-come-into-effect-from-monday-2-january-2012">Reminder that new fares for TfL services will come into effect from Monday 2 January 2012<br />29 Dec 2011</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2011/december/make-sure-you-get-home-safely-this-new-year">Make sure you get home safely this New Year<br />29 Dec 2011</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2011/december/partygoers-reminded-of-free-travel-this-new-years-eve-sponsored-by-diageo">Partygoers reminded of free travel this New Year's Eve sponsored by Diageo<br />29 Dec 2011</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2011/december/update-from-transport-for-london-on-the-hammersmith-flyover">Update from Transport for London on the Hammersmith flyover <br />28 Dec 2011</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2011/december/bumper-christmas-for-barclays-cycle-hire">Bumper Christmas for Barclays Cycle Hire <br />28 Dec 2011</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2011/december/tfl-vows-to-keep-london-moving-despite-strike-called-by-aslef-leadership">TfL vows to keep London moving despite strike called by ASLEF leadership<br />26 Dec 2011</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2011/december/tfl-keeps-london-moving-despite-strike-called-by-aslef-leadership">TfL keeps London moving despite strike called by ASLEF leadership<br />26 Dec 2011</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2011/december/mayor-announces-trial-to-cut-harmful-pollution-at-industrial-and-construction-sites-across-london">Mayor announces trial to cut harmful pollution at industrial and construction sites across London <br />23 Dec 2011</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2011/december/tfl-statement-on-the-hammersmith-flyover">TfL statement on the Hammersmith flyover <br />23 Dec 2011</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2011/december/tfl-sets-out-services-to-keep-london-moving-on-boxing-day-despite-strike-called-by-aslef-leadership">TfL sets out services to keep London moving on Boxing Day despite strike called by ASLEF leadership<br />22 Dec 2011</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2011/december/tfl-responds-to-high-court-ruling-on-aslef-ballot">TfL responds to High Court ruling on Aslef ballot<br />22 Dec 2011</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2011/december/interim-operator-for-putney-to-blackfriars-river-bus-service">Interim operator for Putney to Blackfriars River Bus service<br />22 Dec 2011</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2011/december/tfl-to-carry-out-a-strategic-review-of-the-kings-cross-road-network-during-2012">TfL to carry out a strategic review of the Kings Cross road network during 2012<br />22 Dec 2011</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2011/december/tfl-ramps-up-safety-efforts-on-london-tramlink">TfL ramps up safety efforts on London Tramlink<br />21 Dec 2011</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2011/december/motorcycles-to-be-allowed-permanent-access-to-bus-lanes">Motorcycles to be allowed permanent access to bus lanes<br />21 Dec 2011</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2011/december/bus-services-during-the-london-2012-games">Bus services during the London 2012 Games <br />21 Dec 2011</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2011/december/major-crackdown-on-dangerous-pedicabs-in-central-london">Major crackdown on dangerous pedicabs in central London<br />20 Dec 2011</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2011/december/major-engineering-works-planned-to-take-advantage-of-christmas-day-closure">Major engineering works planned to take advantage of Christmas Day closure<br />20 Dec 2011</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2011/december/london-underground-issues-legal-challenge-to-aslef-leaderships-boxing-day-strike">London Underground issues legal challenge to Aslef leadership's Boxing Day strike<br />19 Dec 2011</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2011/december/emirates-air-line-lands-on-iconic-tube-map-as-first-tower-completed">Emirates Air Line lands on iconic Tube map as first tower completed <br />19 Dec 2011</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2011/december/mayor-heralds-the-arrival-of-the-new-bus-for-london">Mayor heralds the arrival of the new bus for London<br />16 Dec 2011</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2011/december/london-prepares-for-cold-weather">London prepares for cold weather<br />16 Dec 2011</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2011/december/mayor-announces-over-andpound5m-for-local-transport-improvements-in-lambeth">Mayor announces over &pound;5m for local transport improvements in Lambeth<br />15 Dec 2011</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2011/december/mayor-announces-over-andpound41m-for-local-transport-improvements-in-the-royal-borough-of-kingston-upon-thames">Mayor announces over &pound;4.1m for local transport improvements in the Royal Borough of Kingston upon Thames<br />15 Dec 2011</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2011/december/mayor-announces-over-andpound16m-for-local-transport-improvements-in-the-city-of-london">Mayor announces over &pound;1.6m for local transport improvements in the City of London<br />15 Dec 2011</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2011/december/mayor-announces-over-andpound54m-for-local-transport-improvements-in-lewisham">Mayor announces over &pound;5.4m for local transport improvements in Lewisham<br />15 Dec 2011</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2011/december/mayor-announces-over-andpound18m-for-local-transport-improvements-in-sutton">Mayor announces over &pound;1.8m for local transport improvements in Sutton<br />15 Dec 2011</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2011/december/mayor-announces-more-than-andpound24m-for-local-transport-improvements-in-harrow">Mayor announces more than &pound;2.4m for local transport improvements in Harrow<br />15 Dec 2011</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2011/december/mayor-announces-over-andpound51m-for-local-transport-improvements-in-redbridge">Mayor announces over &pound;5.1m for local transport improvements in Redbridge<br />15 Dec 2011</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2011/december/mayor-announces-over-andpound22m-for-local-transport-improvements-in-barking-and-dagenham">Mayor announces over &pound;2.2m for local transport improvements in Barking and Dagenham<br />15 Dec 2011</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2011/december/mayor-announces-over-andpound47m-for-local-transport-improvements-in-wandsworth">Mayor announces over &pound;4.7m for local transport improvements in Wandsworth<br />15 Dec 2011</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2011/december/mayor-announces-more-than-andpound47m-for-local-transport-improvements-in-havering">Mayor announces more than &pound;4.7m for local transport improvements in Havering<br />15 Dec 2011</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2011/december/mayor-announces-over-andpound29m-for-local-transport-improvements-in-tower-hamlets">Mayor announces over &pound;2.9m for local transport improvements in Tower Hamlets<br />15 Dec 2011</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2011/december/mayor-announces-over-andpound47m-for-local-transport-improvements-in-ealing">Mayor announces over &pound;4.7m for local transport improvements in Ealing<br />15 Dec 2011</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2011/december/mayor-announces-over-andpound55m-for-local-transport-improvements-in-bexley">Mayor announces over &pound;5.5m for local transport improvements in Bexley<br />15 Dec 2011</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2011/december/mayor-announces-over-andpound59m-for-local-transport-improvements-in-westminster">Mayor announces over &pound;5.9m for local transport improvements in Westminster<br />15 Dec 2011</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2011/december/mayor-announces-more-than-andpound34m-for-local-transport-improvements-in-greenwich">Mayor announces more than &pound;3.4m for local transport improvements in Greenwich<br />15 Dec 2011</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2011/december/mayor-announces-over-andpound147m-for-transport-improvements-across-londons-boroughs">Mayor announces over &pound;147m for transport improvements across London's boroughs<br />15 Dec 2011</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2011/december/mayor-announces-more-than-andpound46m-for-local-transport-improvements-in-hillingdon">Mayor announces more than &pound;4.6m for local transport improvements in Hillingdon<br />15 Dec 2011</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2011/december/mayor-announces-more-than-andpound26m-for-local-transport-improvements-in-hackney">Mayor announces more than &pound;2.6m for local transport improvements in Hackney<br />15 Dec 2011</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2011/december/mayor-announces-over-andpound44m-for-local-transport-improvements-in-waltham-forest">Mayor announces over &pound;4.4m for local transport improvements in Waltham Forest<br />15 Dec 2011</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2011/december/mayor-announces-more-than-andpound42m-for-local-transport-improvements-in-enfield">Mayor announces more than &pound;4.2m for local transport improvements in Enfield<br />15 Dec 2011</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2011/december/mayor-announces-over-andpound52m-for-local-transport-improvements-in-newham">Mayor announces over &pound;5.2m for local transport improvements in Newham<br />15 Dec 2011</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2011/december/major-facelift-of-london-bridge-bus-station-continues">Major facelift of London Bridge bus station continues<br />15 Dec 2011</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2011/december/mayor-announces-over-andpound4m-for-local-transport-improvements-in-southwark">Mayor announces over &pound;4m for local transport improvements in Southwark<br />15 Dec 2011</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2011/december/mayor-announces-over-andpound34m-for-local-transport-improvements-in-camden">Mayor announces over &pound;3.4m for local transport improvements in Camden<br />15 Dec 2011</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2011/december/mayor-announces-more-than-andpound27m-for-local-transport-improvements-in-hammersmith-and-fulham">Mayor announces more than &pound;2.7m for local transport improvements in Hammersmith & Fulham<br />15 Dec 2011</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2011/december/mayor-announces-more-than-andpound37m-for-local-transport-improvements-in-haringey">Mayor announces more than &pound;3.7m for local transport improvements in Haringey<br />15 Dec 2011</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2011/december/mayor-announces-over-andpound39m-for-local-transport-improvements-in-brent">Mayor announces over &pound;3.9m for local transport improvements in Brent<br />15 Dec 2011</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2011/december/mayor-announces-over-andpound26m-for-local-transport-improvements-in-islington">Mayor announces over &pound;2.6m for local transport improvements in Islington<br />15 Dec 2011</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2011/december/mayor-announces-over-andpound58m-for-local-transport-improvements-in-croydon">Mayor announces over &pound;5.8m for local transport improvements in Croydon<br />15 Dec 2011</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2011/december/mayor-announces-more-than-andpound33m-for-local-transport-improvements-in-hounslow">Mayor announces more than &pound;3.3m for local transport improvements in Hounslow<br />15 Dec 2011</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2011/december/mayor-announces-over-andpound23m-for-local-transport-improvements-in-merton">Mayor announces over &pound;2.3m for local transport improvements in Merton<br />15 Dec 2011</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2011/december/mayor-announces-over-andpound38m-for-local-transport-improvements-in-richmond-upon-thames">Mayor announces over &pound;3.8m for local transport improvements in Richmond upon Thames<br />15 Dec 2011</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2011/december/mayor-announces-over-andpound23m-for-local-transport-improvements-in-the-royal-borough-of-kensington-and-chelsea">Mayor announces over &pound;2.3m for local transport improvements in the Royal Borough of Kensington and Chelsea<br />15 Dec 2011</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2011/december/mayor-announces-over-andpound52m-for-local-transport-improvements-in-bromley">Mayor announces over &pound;5.2m for local transport improvements in Bromley<br />15 Dec 2011</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2011/december/mayor-announces-over-andpound47m-for-local-transport-improvements-in-barnet">Mayor announces over &pound;4.7m for local transport improvements in Barnet<br />15 Dec 2011</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2011/december/aslef-leadership-urged-to-abandon-threatened-strike-action">Aslef leadership urged to abandon threatened strike action<br />14 Dec 2011</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2011/december/positive-tube-reliability-trend-continues-as-passenger-numbers-keep-rising">Positive Tube reliability trend continues as passenger numbers keep rising<br />12 Dec 2011</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2011/december/tfl-publishes-annual-festive-travel-guide-with-free-travel-for-new-year-revellers-sponsored-by-diageo">TfL publishes annual Festive Travel Guide with free travel for New Year revellers sponsored by Diageo<br />09 Dec 2011</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2011/december/mayor-and-dft-announce-andpound10-million-to-cut-pollution-from-capitals-bus-fleet">Mayor and DfT announce &pound;10 million to cut pollution from Capital's bus fleet <br />08 Dec 2011</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2011/december/vibrant-london-life-captured-in-yayoi-kusamas-new-artwork-for-the-pocket-tube-map">Vibrant London life captured in Yayoi Kusama's new artwork for the Pocket Tube Map<br />08 Dec 2011</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2011/december/mayor-hails-successful-bid-to-make-more-london-overground-stations-step-free">Mayor hails successful bid to make more London Overground stations step free <br />08 Dec 2011</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2011/december/touts-warned-as-enforcement-activity-is-stepped-up-over-the-festive-season">Touts warned as enforcement activity is stepped up over the festive season<br />08 Dec 2011</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2011/december/district-line-timetable-improvements-from-this-weekend">District line timetable improvements from this weekend<br />05 Dec 2011</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2011/december/lewis-hamilton-toasts-free-travel-on-london-transport-to-welcome-in-the-new-year">Lewis Hamilton toasts free travel on London transport to welcome in the New Year<br />02 Dec 2011</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2011/december/mayor-announces-revised-fares-for-2012-after-securing-additional-andpound136m-government-funding">Mayor announces revised fares for 2012 after securing additional &pound;136m government funding<br />02 Dec 2011</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2011/december/london-river-services-unveils-its-autumnwinter-river-guide">London River Services unveils its autumn/winter River Guide <br />02 Dec 2011</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2011/december/real-time-digital-bus-information-proves-a-hit-with-londoners">Real time digital bus information proves a hit with Londoners<br />01 Dec 2011</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2011/december/tfl-signs-the-pledge-to-stop-stigma">TfL signs the pledge to stop stigma<br />01 Dec 2011</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2011/december/outofhours-deliveries-during-london-2012-games-are-viable-trials-show">Out-of-hours deliveries during London 2012 Games are viable, trials show <br />01 Dec 2011</a></div>


        
        
        
        @this.ScriptBlock(
        @<script>
        queue.push("@Html.ScriptPath("modules/M020-on-this-page.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">
        
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
                <a href="/info-for/media/index" class="heading">
                    <h2 id="sub-menu-heading">Media<span class="visually-hidden"> navigation</span></h2>
                </a>
                <ul>
                    
                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases">Press releases</a></div>
                                <ul>
                                    
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2020">2020</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019">2019</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018">2018</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017">2017</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016">2016</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015">2015</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014">2014</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2013">2013</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2012">2012</a></div></li>
                            
 
                                        <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2011">2011</a></div>
                                        <ul>
                                            
                                                <li class="selected"><div class="link-wrapper"><a href="/info-for/media/press-releases/2011/18648">December</a></div>
                                            
 
                                        <li><div class="link-wrapper"><a href="/info-for/media/press-releases/2011/18948">November</a></div></li>
                                    
 
                                        <li><div class="link-wrapper"><a href="/info-for/media/press-releases/2011/19052">October</a></div></li>
                                    
 
                                        <li><div class="link-wrapper"><a href="/info-for/media/press-releases/2011/19144">September</a></div></li>
                                    
 
                                        <li><div class="link-wrapper"><a href="/info-for/media/press-releases/2011/19292">August</a></div></li>
                                    
 
                                        <li><div class="link-wrapper"><a href="/info-for/media/press-releases/2011/19408">July</a></div></li>
                                    
 
                                        <li><div class="link-wrapper"><a href="/info-for/media/press-releases/2011/19528">June</a></div></li>
                                    
 
                                        <li><div class="link-wrapper"><a href="/info-for/media/press-releases/2011/19660">May</a></div></li>
                                    
 
                                        <li><div class="link-wrapper"><a href="/info-for/media/press-releases/2011/19772">April</a></div></li>
                                    
 
                                        <li><div class="link-wrapper"><a href="/info-for/media/press-releases/2011/19848">March</a></div></li>
                                    
 
                                        <li><div class="link-wrapper"><a href="/info-for/media/press-releases/2011/19948">February</a></div></li>
                                    
 
                                        <li><div class="link-wrapper"><a href="/info-for/media/press-releases/2011/20036">January</a></div></li>
                                    
 
                                        </ul>
                                    </li>
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2010">2010</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2009">2009</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2008">2008</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2007">2007</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2006">2006</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2005">2005</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2004">2004</a></div></li>
                            
 
                                </ul>
                            </li>
 
                                <li><div class="link-wrapper"><a href="/info-for/media/photos">Photos</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/media/contact-the-press-office">Contact the Press Office</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/filming-and-photography">Filming & photography</a></div></li>
                            
 
                </ul>
            
 
 
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>


<div></div>

        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>
 
        
        
            @{ViewBag.Description = "Press releases and news articles from Transport for London";}
        
        


 