


@{ViewBag.Title = "November";}
        
        
<div class="r">
    <div class="breadcrumb-container" role="navigation">
        <span id="breadcrumb-label" class="visually-hidden">You are here:</span>
        <ol class="breadcrumbs clearfix" aria-labelledby="breadcrumb-label">
            <li class="home">
                <a href="/">
                    <span class="hide-text">Home</span>
                </a>
            </li>
            
                <li>
                    <a href="/info-for/media/index">Media</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases">Press releases</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases/2011">2011</a>
                </li>
                
                <li>
                    <span class="last-breadcrumb">November</span>
                </li>
            
 
            
 
            
 
            
 
        </ul>
    </div>
</div>
     
 
<div class="r">
    <div class="headline-container plain">
        <h1>November</h1>
    </div>
</div>

<div class="main-and-aside r">
    <div class="main" role="main">

<div class="on-this-page">


     


<div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2011/november/dialaride-vehicles-trialling-biodiesel">Dial-a-Ride vehicles trialling biodiesel<br />30 Nov 2011</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2011/november/business-welcomes-games-transport-hot-spot-information-to-ensure-london-is-open-for-business-in-2012">Business welcomes Games transport 'hot spot' information to ensure London is 'open for business' in 2012<br />30 Nov 2011</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2011/november/stunning-green-wall-unveiled-at-edgware-road-tube-station-to-deliver-cleaner-air">Stunning green wall unveiled at Edgware Road Tube station to deliver cleaner air<br />28 Nov 2011</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2011/november/woolwich-ferry-returns-to-normal-sailing-times">Woolwich Ferry returns to normal sailing times<br />28 Nov 2011</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2011/november/tfl-to-restructure-the-financing-arrangements-of-dlrs-city-airport-and-woolwich-arsenal-extensions">TfL to restructure the financing arrangements of DLR's City Airport and Woolwich Arsenal extensions <br />25 Nov 2011</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2011/november/penultimate-bendy-bus-routes-29-and-n29-are-converted">Penultimate bendy bus routes 29 and N29 are converted<br />25 Nov 2011</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2011/november/tower-bridge-closed-to-traffic-this-weekend-2528-november-as-installation-of-new-state-of-the-art-led-lighting-begins">Tower Bridge closed to traffic this weekend (25-28 November) as installation of new state of the art LED lighting begins<br />24 Nov 2011</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2011/november/northern-line-platforms-to-reopen-at-tottenham-court-road">Northern line platforms to reopen at Tottenham Court Road<br />22 Nov 2011</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2011/november/tfls-lost-property-office-brings-christmas-joy-to-hundreds-of-children">TfL's Lost Property Office brings Christmas joy to hundreds of children<br />22 Nov 2011</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2011/november/paddington-says-goodbye-to-bendies-on-route-436">Paddington says goodbye to bendies on route 436 <br />21 Nov 2011</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2011/november/latest-figures-show-continued-trend-of-improved-tube-reliability-as-passenger-numbers-grow">Latest figures show continued trend of improved Tube reliability as passenger numbers grow <br />21 Nov 2011</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2011/november/central-line-trains-overhauled-for-the-2012-games-and-beyond">Central line trains overhauled for the 2012 Games and beyond<br />18 Nov 2011</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2011/november/bus-stops-alter-at-victoria-while-station-is-upgraded">Bus stops alter at Victoria while station is upgraded<br />17 Nov 2011</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2011/november/crime-on-londons-transport-network-falls-again">Crime on London's transport network falls again<br />16 Nov 2011</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2011/november/stratford-bus-station-reopens-following-improvements-for-passengers">Stratford bus station reopens following improvements for passengers<br />13 Nov 2011</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2011/november/new-acts-of-kindness-artwork-now-on-tube-seats-and-trains">New Acts of Kindness artwork now on Tube seats and trains<br />10 Nov 2011</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2011/november/london-charges-ahead-with-wireless-electric-vehicle-technology">London charges ahead with wireless electric vehicle technology<br />10 Nov 2011</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2011/november/mayor-and-tfl-set-out-action-to-make-londons-streets-safer-for-cyclists">Mayor and TfL set out action to make London's streets safer for cyclists<br />09 Nov 2011</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2011/november/tfl-calls-for-taxi-demo-to-be-cancelled">TfL calls for taxi demo to be cancelled <br />09 Nov 2011</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2011/november/london-transport-veterans-to-take-part-in-the-annual-remembrance-sunday-parade">London Transport Veterans to take part in the annual Remembrance Sunday parade <br />08 Nov 2011</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2011/november/london-underground-unveils-proposals-to-boost-bank-capacity">London Underground unveils proposals to boost Bank capacity<br />07 Nov 2011</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2011/november/route-12-converts-to-double-deck-with-improved-weekend-night-bus-services">Route 12 converts to double deck with improved weekend night bus services<br />05 Nov 2011</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2011/november/mayor-drives-first-new-bus-for-london-off-production-line">Mayor drives first New Bus for London off production line<br />04 Nov 2011</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2011/november/london-2012-olympic-and-paralympic-games-mascots-join-last-leg-of-monthlong-games-themed-walking-relay">London 2012 Olympic and Paralympic Games mascots join last leg of month-long Games themed walking relay <br />03 Nov 2011</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2011/november/northbound-blackwall-tunnel-safety-improvements-completed-more-than-a-year-early">Northbound Blackwall Tunnel safety improvements completed more than a year early<br />03 Nov 2011</a></div>


        
        
        
        @this.ScriptBlock(
        @<script>
        queue.push("@Html.ScriptPath("modules/M020-on-this-page.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">
        
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
                <a href="/info-for/media/index" class="heading">
                    <h2 id="sub-menu-heading">Media<span class="visually-hidden"> navigation</span></h2>
                </a>
                <ul>
                    
                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases">Press releases</a></div>
                                <ul>
                                    
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2020">2020</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019">2019</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018">2018</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017">2017</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016">2016</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015">2015</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014">2014</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2013">2013</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2012">2012</a></div></li>
                            
 
                                        <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2011">2011</a></div>
                                        <ul>
                                            
                                        <li><div class="link-wrapper"><a href="/info-for/media/press-releases/2011/18648">December</a></div></li>
                                    
 
                                                <li class="selected"><div class="link-wrapper"><a href="/info-for/media/press-releases/2011/18948">November</a></div>
                                            
 
                                        <li><div class="link-wrapper"><a href="/info-for/media/press-releases/2011/19052">October</a></div></li>
                                    
 
                                        <li><div class="link-wrapper"><a href="/info-for/media/press-releases/2011/19144">September</a></div></li>
                                    
 
                                        <li><div class="link-wrapper"><a href="/info-for/media/press-releases/2011/19292">August</a></div></li>
                                    
 
                                        <li><div class="link-wrapper"><a href="/info-for/media/press-releases/2011/19408">July</a></div></li>
                                    
 
                                        <li><div class="link-wrapper"><a href="/info-for/media/press-releases/2011/19528">June</a></div></li>
                                    
 
                                        <li><div class="link-wrapper"><a href="/info-for/media/press-releases/2011/19660">May</a></div></li>
                                    
 
                                        <li><div class="link-wrapper"><a href="/info-for/media/press-releases/2011/19772">April</a></div></li>
                                    
 
                                        <li><div class="link-wrapper"><a href="/info-for/media/press-releases/2011/19848">March</a></div></li>
                                    
 
                                        <li><div class="link-wrapper"><a href="/info-for/media/press-releases/2011/19948">February</a></div></li>
                                    
 
                                        <li><div class="link-wrapper"><a href="/info-for/media/press-releases/2011/20036">January</a></div></li>
                                    
 
                                        </ul>
                                    </li>
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2010">2010</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2009">2009</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2008">2008</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2007">2007</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2006">2006</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2005">2005</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2004">2004</a></div></li>
                            
 
                                </ul>
                            </li>
 
                                <li><div class="link-wrapper"><a href="/info-for/media/photos">Photos</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/media/contact-the-press-office">Contact the Press Office</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/filming-and-photography">Filming & photography</a></div></li>
                            
 
                </ul>
            
 
 
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>


<div></div>

        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>
 
        
        
            @{ViewBag.Description = "Press releases and news articles from Transport for London";}
        
        


 