


@{ViewBag.Title = "September";}
        
        
<div class="r">
    <div class="breadcrumb-container" role="navigation">
        <span id="breadcrumb-label" class="visually-hidden">You are here:</span>
        <ol class="breadcrumbs clearfix" aria-labelledby="breadcrumb-label">
            <li class="home">
                <a href="/">
                    <span class="hide-text">Home</span>
                </a>
            </li>
            
                <li>
                    <a href="/info-for/media/index">Media</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases">Press releases</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases/2011">2011</a>
                </li>
                
                <li>
                    <span class="last-breadcrumb">September</span>
                </li>
            
 
            
 
            
 
            
 
        </ul>
    </div>
</div>
     
 
<div class="r">
    <div class="headline-container plain">
        <h1>September</h1>
    </div>
</div>

<div class="main-and-aside r">
    <div class="main" role="main">

<div class="on-this-page">


     


<div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2011/september/london-underground-achieves-multiyear-pay-settlement">London Underground achieves multi-year pay settlement<br />30 Sep 2011</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2011/september/tfl-to-begin-essential-work-on-a4-hammersmith-flyover-in-november-2011">TfL to begin essential work on A4 Hammersmith Flyover in November 2011<br />30 Sep 2011</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2011/september/safer-travel-at-night-tfl-warns-of-dangers-of-unbooked-minicabs-as-new-students-arrive-in-london">Safer Travel at Night: TfL warns of dangers of unbooked minicabs as new students arrive in London<br />30 Sep 2011</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2011/september/london-underground-confirms-results-of-district-line-consultation">London Underground confirms results of District line consultation <br />28 Sep 2011</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2011/september/chart-toppers-rizzle-kicks-team-up-with-tfl-to-help-reduce-teenage-road-casualties-in-london">Chart toppers Rizzle Kicks team up with TfL to help reduce teenage road casualties in London<br />26 Sep 2011</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2011/september/green-wall-for-edgware-road-tube-station-to-trap-harmful-pollution">Green wall for Edgware Road Tube station to trap harmful pollution <br />26 Sep 2011</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2011/september/new-docklands-light-railway-extension-an-instant-hit-with-passengers">New Docklands Light Railway extension an instant hit with passengers<br />23 Sep 2011</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2011/september/new-london-2012-games-travel-hotspot-info-to-help-businesses-plan-ahead-and-avoid-transport-disruption">New London 2012 Games travel 'hotspot' info to help businesses plan ahead and avoid transport disruption<br />22 Sep 2011</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2011/september/operators-urged-to-take-action-now-to-meet-tougher-london-low-emission-zone-standards-to-improve-air-quality-or-risk-fines">Operators urged to take action now to meet tougher London Low Emission Zone standards to improve air quality, or risk fines <br />21 Sep 2011</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2011/september/expert-guides-help-uncover-the-treasures-of-london-this-autumn-on-60-awesome-ambles">Expert guides help uncover the treasures of London this autumn on 60 awesome ambles <br />19 Sep 2011</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2011/september/piccadilly-line-services-at-earls-court-restored-after-escalator-maintenance-work-is-completed-ahead-of-schedule">Piccadilly line services at Earl's Court restored after escalator maintenance work is completed ahead of schedule<br />19 Sep 2011</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2011/september/bus-diversions-affecting-services-in-the-city">Bus diversions affecting services in the City<br />18 Sep 2011</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2011/september/vital-road-improvements-along-park-lane-from-19-september-until-8-october">Vital road improvements along Park Lane from 19 September until 8 October <br />16 Sep 2011</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2011/september/apply-for-your-zip-or-student-oyster-photocard-soon-to-avoid-paying-more">Apply for your Zip or Student Oyster photocard soon to avoid paying more<br />16 Sep 2011</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2011/september/tour-of-britain-the-uks-biggest-professional-cycle-race-returns-to-the-capital">Tour of Britain, the UK's biggest professional cycle race, returns to the Capital<br />16 Sep 2011</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2011/september/mayor-confirms-fares-increase-for-2012-to-support-unprecedented-andpound12bn-investment-in-londons-transport-network">Mayor confirms fares increase for 2012 to support unprecedented &pound;12bn investment in London's transport network<br />14 Sep 2011</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2011/september/drivers-urged-to-join-the-150000-benefitting-from-auto-pay">Drivers urged to join the 150,000 benefitting from Auto Pay<br />13 Sep 2011</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2011/september/lu-reaches-agreement-with-drivers-unions-over-olympics-and-paralympics-working-arrangements">LU reaches agreement with drivers' unions over Olympics and Paralympics working arrangements<br />13 Sep 2011</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2011/september/latest-figures-confirm-trend-of-longterm-improvements-in-tube-performance">Latest figures confirm trend of long-term improvements in Tube performance<br />13 Sep 2011</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2011/september/uk-power-network-chaos-deeply-frustrating-and-wholly-unacceptable">UK Power Network chaos 'deeply frustrating and wholly unacceptable'<br />12 Sep 2011</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2011/september/new-online-resource-launched-to-help-freight-industry-plan-for-london-2012-games">New online resource launched to help freight industry plan for London 2012 Games<br />12 Sep 2011</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2011/september/piccadilly-line-nonstopping-at-earls-court-for-a-week-from-wednesday-morning">Piccadilly line non-stopping at Earl's Court for a week from Wednesday morning<br />12 Sep 2011</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2011/september/going-to-westfield-stratford-city">Going to Westfield Stratford City<br />12 Sep 2011</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2011/september/london-awaits-great-river-race-2011">London awaits Great River Race 2011<br />12 Sep 2011</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2011/september/new-bus-routes-to-serve-stratford-and-surrounding-area">New bus routes to serve Stratford and surrounding area<br />12 Sep 2011</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2011/september/new-escalators-for-custom-house-station">New escalators for Custom House station<br />09 Sep 2011</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2011/september/weekend-closures-at-london-bridge-station-bus-station">Weekend closures at London Bridge Station bus station <br />09 Sep 2011</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2011/september/blooming-marvellous--tube-garden-competition-winners-announced">Blooming marvellous - Tube garden competition winners announced<br />08 Sep 2011</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2011/september/mayor-announces-olympic-park-electric-charging-network-creating-air-quality-legacy">Mayor announces Olympic Park electric charging network, creating air quality legacy<br />08 Sep 2011</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2011/september/mayor-of-london-and-transport-for-london-act-to-save-812-plusbus-route">Mayor of London and Transport for London act to save 812 PlusBus route<br />07 Sep 2011</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2011/september/transformation-of-green-park-station-nears-completion">Transformation of Green Park station nears completion <br />06 Sep 2011</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2011/september/plan-for-paralympics-too-businesses-urged">'Plan for Paralympics too' businesses urged<br />05 Sep 2011</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2011/september/transport-for-london-secures-further-improvements-to-coach-parking">Transport for London secures further improvements to coach parking<br />05 Sep 2011</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2011/september/bendy-buses-banished-from-route-73">Bendy buses banished from route 73 <br />05 Sep 2011</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2011/september/all-aboard-londons-river-services-for-the-mayors-thames-festival">All aboard London's river services for The Mayor's Thames Festival <br />05 Sep 2011</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2011/september/new-oyster-system-to-help-customers-pay-the-correct-fare">New Oyster system to help customers pay the correct fare<br />05 Sep 2011</a></div>


        
        
        
        @this.ScriptBlock(
        @<script>
        queue.push("@Html.ScriptPath("modules/M020-on-this-page.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">
        
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
                <a href="/info-for/media/index" class="heading">
                    <h2 id="sub-menu-heading">Media<span class="visually-hidden"> navigation</span></h2>
                </a>
                <ul>
                    
                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases">Press releases</a></div>
                                <ul>
                                    
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2020">2020</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019">2019</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018">2018</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017">2017</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016">2016</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015">2015</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014">2014</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2013">2013</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2012">2012</a></div></li>
                            
 
                                        <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2011">2011</a></div>
                                        <ul>
                                            
                                        <li><div class="link-wrapper"><a href="/info-for/media/press-releases/2011/18648">December</a></div></li>
                                    
 
                                        <li><div class="link-wrapper"><a href="/info-for/media/press-releases/2011/18948">November</a></div></li>
                                    
 
                                        <li><div class="link-wrapper"><a href="/info-for/media/press-releases/2011/19052">October</a></div></li>
                                    
 
                                                <li class="selected"><div class="link-wrapper"><a href="/info-for/media/press-releases/2011/19144">September</a></div>
                                            
 
                                        <li><div class="link-wrapper"><a href="/info-for/media/press-releases/2011/19292">August</a></div></li>
                                    
 
                                        <li><div class="link-wrapper"><a href="/info-for/media/press-releases/2011/19408">July</a></div></li>
                                    
 
                                        <li><div class="link-wrapper"><a href="/info-for/media/press-releases/2011/19528">June</a></div></li>
                                    
 
                                        <li><div class="link-wrapper"><a href="/info-for/media/press-releases/2011/19660">May</a></div></li>
                                    
 
                                        <li><div class="link-wrapper"><a href="/info-for/media/press-releases/2011/19772">April</a></div></li>
                                    
 
                                        <li><div class="link-wrapper"><a href="/info-for/media/press-releases/2011/19848">March</a></div></li>
                                    
 
                                        <li><div class="link-wrapper"><a href="/info-for/media/press-releases/2011/19948">February</a></div></li>
                                    
 
                                        <li><div class="link-wrapper"><a href="/info-for/media/press-releases/2011/20036">January</a></div></li>
                                    
 
                                        </ul>
                                    </li>
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2010">2010</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2009">2009</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2008">2008</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2007">2007</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2006">2006</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2005">2005</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2004">2004</a></div></li>
                            
 
                                </ul>
                            </li>
 
                                <li><div class="link-wrapper"><a href="/info-for/media/photos">Photos</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/media/contact-the-press-office">Contact the Press Office</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/filming-and-photography">Filming & photography</a></div></li>
                            
 
                </ul>
            
 
 
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>


<div></div>

        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>
 
        
        
            @{ViewBag.Description = "Press releases and news articles from Transport for London";}
        
        


 