


@{ViewBag.Title = "August";}
        
        
<div class="r">
    <div class="breadcrumb-container" role="navigation">
        <span id="breadcrumb-label" class="visually-hidden">You are here:</span>
        <ol class="breadcrumbs clearfix" aria-labelledby="breadcrumb-label">
            <li class="home">
                <a href="/">
                    <span class="hide-text">Home</span>
                </a>
            </li>
            
                <li>
                    <a href="/info-for/media/index">Media</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases">Press releases</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases/2011">2011</a>
                </li>
                
                <li>
                    <span class="last-breadcrumb">August</span>
                </li>
            
 
            
 
            
 
            
 
        </ul>
    </div>
</div>
     
 
<div class="r">
    <div class="headline-container plain">
        <h1>August</h1>
    </div>
</div>

<div class="main-and-aside r">
    <div class="main" role="main">

<div class="on-this-page">


     


<div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2011/august/docklands-light-railway-extension-marks-one-year-to-go-to-the-london-2012-paralympic-games">Docklands Light Railway extension marks one year to go to the London 2012 Paralympic Games<br />31 Aug 2011</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2011/august/all-my-lines-in-the-palm-of-your-hand-a-new-artwork-for-the-pocket-tube-map-cover-by-michael-landy">All my lines in the palm of your hand: A new artwork for the Pocket Tube Map cover by Michael Landy<br />31 Aug 2011</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2011/august/victoria-line-services-this-evening">Victoria line services this evening<br />30 Aug 2011</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2011/august/zip-through-the-new-academic-year-with-your-16-zip-oyster-photocard">Zip through the new academic year with your 16+ Zip Oyster photocard<br />26 Aug 2011</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2011/august/businesses-kept-on-track-with-free-london-2012-support-package">Businesses kept on track with free London 2012 support package<br />26 Aug 2011</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2011/august/consultation-begins-on-proposed-changes-to-south-kensington-station">Consultation begins on proposed changes to South Kensington station<br />26 Aug 2011</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2011/august/reminder-the-best-way-to-get-to-notting-hill-carnival-sunday-28bank-holiday-monday-29-august-2011">Reminder: The best way to get to Notting Hill Carnival: Sunday 28-Bank Holiday Monday 29 August 2011<br />25 Aug 2011</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2011/august/circle-and-district-line-works-completed-on-schedule-after-fourweek-upgrade-closure">Circle and District line works completed on schedule after four-week upgrade closure<br />24 Aug 2011</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2011/august/a-lock-is-a-gate--young-people-of-hackney-create-album-of-songs-as-a-gift-for-central-line-passengers">A lock is a gate - young people of Hackney create album of songs as a gift for Central line passengers<br />24 Aug 2011</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2011/august/consultation-begins-on-lane-rental-scheme-to-tackle-roadworks">Consultation begins on lane rental scheme to tackle roadworks<br />22 Aug 2011</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2011/august/the-best-way-to-get-to-notting-hill-carnival-sunday-28--bank-holiday-monday-29-august-2011">The best way to get to Notting Hill Carnival: Sunday 28 - Bank Holiday Monday 29 August 2011<br />19 Aug 2011</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2011/august/new-competition-gives-bikesafelondon-riders-chance-to-win-their-dream-motorcycle-or-scooter">New competition gives BikeSafe-London riders chance to win their dream motorcycle or scooter<br />19 Aug 2011</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2011/august/new-online-facility-to-report-illegal-taxi-touting">New online facility to report illegal taxi touting<br />19 Aug 2011</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2011/august/enhanced-voice-recognition-technology-and-text-service-on-tfl-information-line">Enhanced voice recognition technology and text service on TfL information line<br />18 Aug 2011</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2011/august/london-buses-announces-suppliers-for-nox-pilot-to-improve-air-quality">London Buses announces suppliers for NOx pilot to improve air quality<br />18 Aug 2011</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2011/august/tramlink-to-aid-regeneration-of-croydon">Tramlink to aid regeneration of Croydon<br />18 Aug 2011</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2011/august/be-safe-week-at-london-transport-museum">Be Safe Week at London Transport Museum<br />16 Aug 2011</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2011/august/transport-for-london-unveils-innovative-measures-to-tackle-pollution">Transport for London unveils innovative measures to tackle pollution<br />16 Aug 2011</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2011/august/love-is-back-on-track">Love is back on track<br />15 Aug 2011</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2011/august/work-continues-in-london-bridge-station-area">Work continues in London Bridge Station area<br />15 Aug 2011</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2011/august/woolwich-ferry-service-on-monday-15-august">Woolwich Ferry service on Monday 15 August  <br />12 Aug 2011</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2011/august/tfl-urges-check-before-you-travel-ahead-of-140km-cycle-road-race-on-sunday-14-august">TfL urges 'check before you travel' ahead of 140km cycle road race on Sunday 14 August<br />11 Aug 2011</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2011/august/tfl-urges-check-before-you-travel-ahead-of-140km-cycle-road-race-on-sunday-14-august">TfL urges 'check before you travel' ahead of 140km cycle road race on Sunday 14 August<br />05 Aug 2011</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2011/august/plans-set-out-to-help-transform-central-london-into-major-2012-games-venue">Plans set out to help transform central London into major 2012 Games venue<br />04 Aug 2011</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2011/august/london-underground-makes-multiyear-pay-offer">London Underground makes multi-year pay offer<br />04 Aug 2011</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2011/august/update-on-woolwich-ferry-service">Update on Woolwich Ferry service <br />03 Aug 2011</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2011/august/new-trains-mark-progress-on-the-victoria-line">New trains mark progress on the Victoria line<br />02 Aug 2011</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2011/august/traffic-around-hyde-park-corner-on-diversion-as-worlds-best-triathletes-race-this-weekend">Traffic around Hyde Park Corner on diversion as world's best triathletes race this weekend<br />02 Aug 2011</a></div>


        
        
        
        @this.ScriptBlock(
        @<script>
        queue.push("@Html.ScriptPath("modules/M020-on-this-page.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">
        
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
                <a href="/info-for/media/index" class="heading">
                    <h2 id="sub-menu-heading">Media<span class="visually-hidden"> navigation</span></h2>
                </a>
                <ul>
                    
                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases">Press releases</a></div>
                                <ul>
                                    
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2020">2020</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019">2019</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018">2018</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017">2017</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016">2016</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015">2015</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014">2014</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2013">2013</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2012">2012</a></div></li>
                            
 
                                        <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2011">2011</a></div>
                                        <ul>
                                            
                                        <li><div class="link-wrapper"><a href="/info-for/media/press-releases/2011/18648">December</a></div></li>
                                    
 
                                        <li><div class="link-wrapper"><a href="/info-for/media/press-releases/2011/18948">November</a></div></li>
                                    
 
                                        <li><div class="link-wrapper"><a href="/info-for/media/press-releases/2011/19052">October</a></div></li>
                                    
 
                                        <li><div class="link-wrapper"><a href="/info-for/media/press-releases/2011/19144">September</a></div></li>
                                    
 
                                                <li class="selected"><div class="link-wrapper"><a href="/info-for/media/press-releases/2011/19292">August</a></div>
                                            
 
                                        <li><div class="link-wrapper"><a href="/info-for/media/press-releases/2011/19408">July</a></div></li>
                                    
 
                                        <li><div class="link-wrapper"><a href="/info-for/media/press-releases/2011/19528">June</a></div></li>
                                    
 
                                        <li><div class="link-wrapper"><a href="/info-for/media/press-releases/2011/19660">May</a></div></li>
                                    
 
                                        <li><div class="link-wrapper"><a href="/info-for/media/press-releases/2011/19772">April</a></div></li>
                                    
 
                                        <li><div class="link-wrapper"><a href="/info-for/media/press-releases/2011/19848">March</a></div></li>
                                    
 
                                        <li><div class="link-wrapper"><a href="/info-for/media/press-releases/2011/19948">February</a></div></li>
                                    
 
                                        <li><div class="link-wrapper"><a href="/info-for/media/press-releases/2011/20036">January</a></div></li>
                                    
 
                                        </ul>
                                    </li>
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2010">2010</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2009">2009</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2008">2008</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2007">2007</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2006">2006</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2005">2005</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2004">2004</a></div></li>
                            
 
                                </ul>
                            </li>
 
                                <li><div class="link-wrapper"><a href="/info-for/media/photos">Photos</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/media/contact-the-press-office">Contact the Press Office</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/filming-and-photography">Filming & photography</a></div></li>
                            
 
                </ul>
            
 
 
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>


<div></div>

        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>
 
        
        
            @{ViewBag.Description = "Press releases and news articles from Transport for London";}
        
        


 