


@{ViewBag.Title = "July";}
        
        
<div class="r">
    <div class="breadcrumb-container" role="navigation">
        <span id="breadcrumb-label" class="visually-hidden">You are here:</span>
        <ol class="breadcrumbs clearfix" aria-labelledby="breadcrumb-label">
            <li class="home">
                <a href="/">
                    <span class="hide-text">Home</span>
                </a>
            </li>
            
                <li>
                    <a href="/info-for/media/index">Media</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases">Press releases</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases/2011">2011</a>
                </li>
                
                <li>
                    <span class="last-breadcrumb">July</span>
                </li>
            
 
            
 
            
 
            
 
        </ul>
    </div>
</div>
     
 
<div class="r">
    <div class="headline-container plain">
        <h1>July</h1>
    </div>
</div>

<div class="main-and-aside r">
    <div class="main" role="main">

<div class="on-this-page">


     


<div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2011/july/full-fleet-of-brand-new-victoria-line-trains-now-in-service">Full fleet of brand new Victoria line trains now in service <br />30 Jul 2011</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2011/july/mayors-flagship-barclays-cycle-hire-celebrates-first-birthday-with-additional-andpound25m-investment-from-barclays">Mayor's flagship Barclays Cycle Hire celebrates first birthday with additional &pound;25m investment from Barclays<br />28 Jul 2011</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2011/july/fruit-and-veg-sprout-up-all-over-the-tube">Fruit and veg sprout up all over the Tube <br />28 Jul 2011</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2011/july/a-very-special-delivery-on-route-145-in-dagenham">A very special delivery on route 145 in Dagenham<br />27 Jul 2011</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2011/july/firms-race-to-get-2012-games-travel-plans-in-place">Firms race to get 2012 Games travel plans in place<br />26 Jul 2011</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2011/july/stratford-bus-station-prepares-for-a-new-and-improved-look">Stratford bus station prepares for a new and improved look<br />26 Jul 2011</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2011/july/save-time-get-your-oyster-card-from-a-ticket-machine">Save time, get your Oyster card from a ticket machine<br />26 Jul 2011</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2011/july/tfl-demands-explanation-as-tens-of-thousands-of-londoners-are-inconvenienced-again-by-pointless-thames-water-works">TfL demands explanation as tens of thousands of Londoners are inconvenienced again by 'pointless' Thames Water works<br />25 Jul 2011</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2011/july/temporary-changes-to-bus-stopping-arrangements-around-putney-bridge-bus-station">Temporary changes to bus stopping arrangements around Putney Bridge Bus Station<br />25 Jul 2011</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2011/july/unzip-the-summer-holidays-and-make-the-most-of-your-1115-zip-oyster-photocard">Unzip the summer holidays and make the most of your 11-15 Zip Oyster photocard<br />25 Jul 2011</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2011/july/works-begin-on-blackfriars-bridge-junction-to-support-stateoftheart-station-development">Works begin on Blackfriars bridge junction to support state-of-the-art station development <br />25 Jul 2011</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2011/july/london-cycle-challenge-circles-the-globe-69-times">London Cycle Challenge circles the globe 69 times<br />22 Jul 2011</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2011/july/coach-parking-facilities-in-london-increase-by-25-per-cent">Coach parking facilities in London increase by 25 per cent <br />22 Jul 2011</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2011/july/dialaride-completes-record-number-of-trips">Dial-a-Ride completes record number of trips<br />21 Jul 2011</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2011/july/after-one-year-in-the-saddle-the-mayors-cycle-task-force-celebrates-safety-and-security-successes">After one year in the saddle, the Mayor's Cycle Task Force celebrates safety and security successes <br />21 Jul 2011</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2011/july/two-further-barclays-cycle-superhighways-now-open">Two further Barclays Cycle Superhighways now open<br />19 Jul 2011</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2011/july/transport-for-londons-response-to-coroners-recommendations-following-77-inquest">Transport for London's response to Coroner's recommendations following 7/7 Inquest<br />19 Jul 2011</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2011/july/congestion-on-key-london-road-to-be-cut-as-part-of-mayors-clampdown-on-roadworks">Congestion on key London road to be cut as part of Mayor's clampdown on roadworks<br />15 Jul 2011</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2011/july/new-public-art-at-hampstead-heath-station">New public art at Hampstead Heath station <br />14 Jul 2011</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2011/july/transport-for-london-seeks-your-views-on-proposed-changes-to-routes-206-224-and-pr2-wembley-and-park-royal-area">Transport for London seeks your views on proposed changes to routes 206, 224 and PR2 Wembley and Park Royal area<br />13 Jul 2011</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2011/july/london-underground-makes-revised-multiyear-pay-offer">London Underground makes revised multi-year pay offer<br />13 Jul 2011</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2011/july/reminder-to-customers-of-four-week-closure-for-improvement-works-on-most-delayed-part-of-circle-and-district-lines">Reminder to customers of four week closure for improvement works on most delayed part of Circle and District lines <br />13 Jul 2011</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2011/july/new-programmes-launched-to-help-businesses-of-all-sizes-keep-on-running-during-2012-games">New programmes launched to help businesses of all sizes keep on running during 2012 Games<br />13 Jul 2011</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2011/july/light-at-the-end-of-the-tunnel-as-tfl-confirms-no-more-weekend-closures-for-blackwall-tunnel-refurbishment-works">Light at the end of the tunnel as TfL confirms no more weekend closures for Blackwall Tunnel refurbishment works<br />12 Jul 2011</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2011/july/transport-for-london-publish-draft-accessibility-action-plan-for-comments">Transport for London publish draft accessibility action plan for comments <br />08 Jul 2011</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2011/july/works-starts-on-innovative-cable-car-to-boost-regeneration-in-east-london">Works starts on innovative cable car to boost regeneration in east London<br />06 Jul 2011</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2011/july/six-months-to-go-before-tougher-low-emission-zone-standards-introduced-to-improve-air-quality">Six months to go before tougher Low Emission Zone standards introduced to improve air quality <br />04 Jul 2011</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2011/july/new-way-to-avoid-tube-stairs">New Way to Avoid Tube Stairs <br />04 Jul 2011</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2011/july/transport-for-london-employee-wins-national-apprentice-of-the-year">Transport for London employee wins National Apprentice of the Year<br />01 Jul 2011</a></div>


        
        
        
        @this.ScriptBlock(
        @<script>
        queue.push("@Html.ScriptPath("modules/M020-on-this-page.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">
        
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
                <a href="/info-for/media/index" class="heading">
                    <h2 id="sub-menu-heading">Media<span class="visually-hidden"> navigation</span></h2>
                </a>
                <ul>
                    
                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases">Press releases</a></div>
                                <ul>
                                    
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2020">2020</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019">2019</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018">2018</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017">2017</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016">2016</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015">2015</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014">2014</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2013">2013</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2012">2012</a></div></li>
                            
 
                                        <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2011">2011</a></div>
                                        <ul>
                                            
                                        <li><div class="link-wrapper"><a href="/info-for/media/press-releases/2011/18648">December</a></div></li>
                                    
 
                                        <li><div class="link-wrapper"><a href="/info-for/media/press-releases/2011/18948">November</a></div></li>
                                    
 
                                        <li><div class="link-wrapper"><a href="/info-for/media/press-releases/2011/19052">October</a></div></li>
                                    
 
                                        <li><div class="link-wrapper"><a href="/info-for/media/press-releases/2011/19144">September</a></div></li>
                                    
 
                                        <li><div class="link-wrapper"><a href="/info-for/media/press-releases/2011/19292">August</a></div></li>
                                    
 
                                                <li class="selected"><div class="link-wrapper"><a href="/info-for/media/press-releases/2011/19408">July</a></div>
                                            
 
                                        <li><div class="link-wrapper"><a href="/info-for/media/press-releases/2011/19528">June</a></div></li>
                                    
 
                                        <li><div class="link-wrapper"><a href="/info-for/media/press-releases/2011/19660">May</a></div></li>
                                    
 
                                        <li><div class="link-wrapper"><a href="/info-for/media/press-releases/2011/19772">April</a></div></li>
                                    
 
                                        <li><div class="link-wrapper"><a href="/info-for/media/press-releases/2011/19848">March</a></div></li>
                                    
 
                                        <li><div class="link-wrapper"><a href="/info-for/media/press-releases/2011/19948">February</a></div></li>
                                    
 
                                        <li><div class="link-wrapper"><a href="/info-for/media/press-releases/2011/20036">January</a></div></li>
                                    
 
                                        </ul>
                                    </li>
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2010">2010</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2009">2009</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2008">2008</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2007">2007</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2006">2006</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2005">2005</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2004">2004</a></div></li>
                            
 
                                </ul>
                            </li>
 
                                <li><div class="link-wrapper"><a href="/info-for/media/photos">Photos</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/media/contact-the-press-office">Contact the Press Office</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/filming-and-photography">Filming & photography</a></div></li>
                            
 
                </ul>
            
 
 
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>


<div></div>

        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>
 
        
        
            @{ViewBag.Description = "Press releases and news articles from Transport for London";}
        
        


 