


@{ViewBag.Title = "May";}
        
        
<div class="r">
    <div class="breadcrumb-container" role="navigation">
        <span id="breadcrumb-label" class="visually-hidden">You are here:</span>
        <ol class="breadcrumbs clearfix" aria-labelledby="breadcrumb-label">
            <li class="home">
                <a href="/">
                    <span class="hide-text">Home</span>
                </a>
            </li>
            
                <li>
                    <a href="/info-for/media/index">Media</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases">Press releases</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases/2011">2011</a>
                </li>
                
                <li>
                    <span class="last-breadcrumb">May</span>
                </li>
            
 
            
 
            
 
            
 
        </ul>
    </div>
</div>
     
 
<div class="r">
    <div class="headline-container plain">
        <h1>May</h1>
    </div>
</div>

<div class="main-and-aside r">
    <div class="main" role="main">

<div class="on-this-page">


     


<div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2011/may/research-shows-pedestrian-countdown-technology-brings-benefits-to-london">Research shows Pedestrian Countdown technology brings benefits to London<br />31 May 2011</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2011/may/london-underground-celebrates-polish-poetry">London Underground celebrates Polish poetry<br />31 May 2011</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2011/may/mayor-switches-on-new-electric-vehicle-scheme-source-london">Mayor switches on new electric vehicle scheme 'Source London' <br />27 May 2011</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2011/may/mayor-puts-lean-green-and-ravishing-machine-through-its-paces">Mayor puts 'lean, green and ravishing machine' through its paces<br />27 May 2011</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2011/may/route-488-extended-to-dalston">Route 488 extended to Dalston <br />27 May 2011</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2011/may/tfl-urban-realm-designer-scoops-the-alan-cherry-award-for-placemaking">TfL urban realm designer scoops the Alan Cherry Award for Placemaking<br />26 May 2011</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2011/may/london-tramlink-to-run-more-trams-in-the-evening">London Tramlink to run more trams in the evening <br />25 May 2011</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2011/may/walk-with-a-spring-into-summer-in-2011-by-taking-part-in-free-guided-walks-around-london">Walk with a 'Spring into Summer' in 2011 by taking part in free guided walks around London<br />23 May 2011</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2011/may/safer-travel-at-night-over-1300-drivers-arrested-last-year-as-part-of-crackdown-on-unbooked-minicabs">Safer Travel at Night: Over 1,300 drivers arrested last year as part of crackdown on unbooked 'minicabs'<br />23 May 2011</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2011/may/huge-boost-to-train-services-on-key-olympic-rail-route">Huge boost to train services on key Olympic rail route <br />23 May 2011</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2011/may/blooming-marvellous-river-boat-service-to-rhs-chelsea-flower-show">Blooming marvellous river boat service to RHS Chelsea Flower Show<br />19 May 2011</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2011/may/contract-awarded-to-complete-london-overgrounds-orbital-railway">Contract awarded to complete London Overground's orbital railway <br />19 May 2011</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2011/may/london-cycle-challenge-is-back-for-2011">London Cycle Challenge is back for 2011<br />19 May 2011</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2011/may/temporary-changes-to-bus-stopping-arrangements-at-waltham-cross-bus-station">Temporary changes to bus stopping arrangements at Waltham Cross bus station<br />18 May 2011</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2011/may/consultation-on-exemptions-to-taxi-and-private-hire-vehicle-age-limits">Consultation on exemptions to taxi and private hire vehicle age limits<br />18 May 2011</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2011/may/cyclists-concerns-accounted-for-in-revised-plans-for-blackfriars-junction">Cyclists' concerns accounted for in revised plans for Blackfriars junction<br />18 May 2011</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2011/may/tfl-community-cycling-grants-to-boost-cycling-projects-across-the-capital">TfL community cycling grants to boost cycling projects across the Capital<br />17 May 2011</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2011/may/set-sail-this-spring-and-summer-with-london-river-services">Set sail this spring and summer with London River Services<br />17 May 2011</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2011/may/london-underground-makes-revised-multiyear-pay-offer">London Underground makes revised multi-year pay offer<br />13 May 2011</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2011/may/mayor-hails-huge-improvements-to-road-safety-in-london-during-last-decade">Mayor hails huge improvements to road safety in London during last decade <br />12 May 2011</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2011/may/partnership-awarded-excellence-in-technology-and-innovation-at-the-london-transport-awards">Partnership awarded Excellence in Technology and Innovation at the London Transport Awards<br />10 May 2011</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2011/may/docklands-light-railway-ready-for-2012-games-with-threecar-upgrade-completed">Docklands Light Railway ready for 2012 Games with three-car upgrade completed<br />10 May 2011</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2011/may/proposed-northern-line-extension-public-consultation-begins">Proposed Northern line extension public consultation begins <br />09 May 2011</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2011/may/transport-for-london-responds-to-77-inquest-findings">Transport for London responds to 7/7 Inquest findings<br />06 May 2011</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2011/may/transport-for-london-response-to-the-employment-tribunal-decision-in-respect-of-eamonn-lynch">Transport for London response to the Employment Tribunal decision in respect of Eamonn Lynch<br />06 May 2011</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2011/may/further-discounts-for-operators-of-vehicles-affected-by-new-lez-standards">Further discounts for operators of vehicles affected by new LEZ standards<br />05 May 2011</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2011/may/temporary-changes-to-bus-services-in-the-victoria-area">Temporary changes to bus services in the Victoria area<br />03 May 2011</a></div>


        
        
        
        @this.ScriptBlock(
        @<script>
        queue.push("@Html.ScriptPath("modules/M020-on-this-page.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">
        
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
                <a href="/info-for/media/index" class="heading">
                    <h2 id="sub-menu-heading">Media<span class="visually-hidden"> navigation</span></h2>
                </a>
                <ul>
                    
                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases">Press releases</a></div>
                                <ul>
                                    
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2020">2020</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019">2019</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018">2018</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017">2017</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016">2016</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015">2015</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014">2014</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2013">2013</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2012">2012</a></div></li>
                            
 
                                        <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2011">2011</a></div>
                                        <ul>
                                            
                                        <li><div class="link-wrapper"><a href="/info-for/media/press-releases/2011/18648">December</a></div></li>
                                    
 
                                        <li><div class="link-wrapper"><a href="/info-for/media/press-releases/2011/18948">November</a></div></li>
                                    
 
                                        <li><div class="link-wrapper"><a href="/info-for/media/press-releases/2011/19052">October</a></div></li>
                                    
 
                                        <li><div class="link-wrapper"><a href="/info-for/media/press-releases/2011/19144">September</a></div></li>
                                    
 
                                        <li><div class="link-wrapper"><a href="/info-for/media/press-releases/2011/19292">August</a></div></li>
                                    
 
                                        <li><div class="link-wrapper"><a href="/info-for/media/press-releases/2011/19408">July</a></div></li>
                                    
 
                                        <li><div class="link-wrapper"><a href="/info-for/media/press-releases/2011/19528">June</a></div></li>
                                    
 
                                                <li class="selected"><div class="link-wrapper"><a href="/info-for/media/press-releases/2011/19660">May</a></div>
                                            
 
                                        <li><div class="link-wrapper"><a href="/info-for/media/press-releases/2011/19772">April</a></div></li>
                                    
 
                                        <li><div class="link-wrapper"><a href="/info-for/media/press-releases/2011/19848">March</a></div></li>
                                    
 
                                        <li><div class="link-wrapper"><a href="/info-for/media/press-releases/2011/19948">February</a></div></li>
                                    
 
                                        <li><div class="link-wrapper"><a href="/info-for/media/press-releases/2011/20036">January</a></div></li>
                                    
 
                                        </ul>
                                    </li>
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2010">2010</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2009">2009</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2008">2008</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2007">2007</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2006">2006</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2005">2005</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2004">2004</a></div></li>
                            
 
                                </ul>
                            </li>
 
                                <li><div class="link-wrapper"><a href="/info-for/media/photos">Photos</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/media/contact-the-press-office">Contact the Press Office</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/filming-and-photography">Filming & photography</a></div></li>
                            
 
                </ul>
            
 
 
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>


<div></div>

        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>
 
        
        
            @{ViewBag.Description = "Press releases and news articles from Transport for London";}
        
        


 