


@{ViewBag.Title = "April";}
        
        
<div class="r">
    <div class="breadcrumb-container" role="navigation">
        <span id="breadcrumb-label" class="visually-hidden">You are here:</span>
        <ol class="breadcrumbs clearfix" aria-labelledby="breadcrumb-label">
            <li class="home">
                <a href="/">
                    <span class="hide-text">Home</span>
                </a>
            </li>
            
                <li>
                    <a href="/info-for/media/index">Media</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases">Press releases</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases/2011">2011</a>
                </li>
                
                <li>
                    <span class="last-breadcrumb">April</span>
                </li>
            
 
            
 
            
 
            
 
        </ul>
    </div>
</div>
     
 
<div class="r">
    <div class="headline-container plain">
        <h1>April</h1>
    </div>
</div>

<div class="main-and-aside r">
    <div class="main" role="main">

<div class="on-this-page">


     


<div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2011/april/final-set-of-partial-jubilee-line-closures-to-pave-way-for-completion-of-upgrade-and-faster-more-frequent-services">Final set of partial Jubilee line closures to pave way for completion of upgrade and faster, more frequent services<br />28 Apr 2011</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2011/april/traffic-restrictions-introduced-on-wilton-road-for-victoria-station-upgrade">Traffic restrictions introduced on Wilton Road for Victoria Station Upgrade<br />28 Apr 2011</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2011/april/tube-upgrade-plan--check-before-you-travel">Tube upgrade plan - check before you travel<br />28 Apr 2011</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2011/april/travel-advice-for-the-royal-wedding--29-april">Travel advice for the royal wedding - 29 April <br />27 Apr 2011</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2011/april/tour-of-britain-cycle-race-to-return-to-central-london-this-september">Tour of Britain cycle race to return to central London this September<br />21 Apr 2011</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2011/april/essential-works-on-a406-redbridge-flyover-to-begin-30-april">Essential works on A406 Redbridge Flyover to begin 30 April <br />20 Apr 2011</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2011/april/london-underground-racks-up-record-ridership-figures">London Underground racks up record ridership figures <br />19 Apr 2011</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2011/april/mayor-announces-worldclass-consortium-to-construct-londons-cable-car">Mayor announces world-class consortium to construct London's cable car<br />18 Apr 2011</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2011/april/london-buses-trial-new-equipment-to-tackle-air-pollution">London Buses trial new equipment to tackle air pollution<br />15 Apr 2011</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2011/april/london-underground-offers-new-multiyear-pay-deal">London Underground offers new multi-year pay deal<br />14 Apr 2011</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2011/april/going-for-gold--tfl-announce-updated-details-of-fors-membership">Going for Gold - TfL announce updated details of FORS membership <br />14 Apr 2011</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2011/april/new-barclays-cycle-superhighways-herald-safer-and-easier-cycling-across-the-city">New Barclays Cycle Superhighways herald safer and easier cycling across the city<br />12 Apr 2011</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2011/april/new-major-signalling-contract-will-mean-faster-more-frequent-and-more-reliable-tube-services">New major signalling contract will mean faster, more frequent and more reliable Tube services<br />12 Apr 2011</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2011/april/blackwall-tunnel-closed-to-southbound-traffic-next-weekend">Blackwall Tunnel closed to southbound traffic next weekend<br />12 Apr 2011</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2011/april/transport-for-london-ready-to-keep-the-city-running-through-the-2011-virgin-london-marathon">Transport for London ready to keep the city running through the 2011 Virgin London Marathon<br />07 Apr 2011</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2011/april/taxi-and-private-hire-licence-fees-frozen">Taxi and private hire licence fees frozen<br />05 Apr 2011</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2011/april/reminder--northern-line-wont-stop-at-tottenham-court-road-as-station-upgrade-moves-into-new-phase">Reminder - Northern line won't stop at Tottenham Court Road as station upgrade moves into new phase<br />01 Apr 2011</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2011/april/taximeter-updates-required-by-2-may">Taximeter updates required by 2 May<br />01 Apr 2011</a></div>


        
        
        
        @this.ScriptBlock(
        @<script>
        queue.push("@Html.ScriptPath("modules/M020-on-this-page.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">
        
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
                <a href="/info-for/media/index" class="heading">
                    <h2 id="sub-menu-heading">Media<span class="visually-hidden"> navigation</span></h2>
                </a>
                <ul>
                    
                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases">Press releases</a></div>
                                <ul>
                                    
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2020">2020</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019">2019</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018">2018</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017">2017</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016">2016</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015">2015</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014">2014</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2013">2013</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2012">2012</a></div></li>
                            
 
                                        <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2011">2011</a></div>
                                        <ul>
                                            
                                        <li><div class="link-wrapper"><a href="/info-for/media/press-releases/2011/18648">December</a></div></li>
                                    
 
                                        <li><div class="link-wrapper"><a href="/info-for/media/press-releases/2011/18948">November</a></div></li>
                                    
 
                                        <li><div class="link-wrapper"><a href="/info-for/media/press-releases/2011/19052">October</a></div></li>
                                    
 
                                        <li><div class="link-wrapper"><a href="/info-for/media/press-releases/2011/19144">September</a></div></li>
                                    
 
                                        <li><div class="link-wrapper"><a href="/info-for/media/press-releases/2011/19292">August</a></div></li>
                                    
 
                                        <li><div class="link-wrapper"><a href="/info-for/media/press-releases/2011/19408">July</a></div></li>
                                    
 
                                        <li><div class="link-wrapper"><a href="/info-for/media/press-releases/2011/19528">June</a></div></li>
                                    
 
                                        <li><div class="link-wrapper"><a href="/info-for/media/press-releases/2011/19660">May</a></div></li>
                                    
 
                                                <li class="selected"><div class="link-wrapper"><a href="/info-for/media/press-releases/2011/19772">April</a></div>
                                            
 
                                        <li><div class="link-wrapper"><a href="/info-for/media/press-releases/2011/19848">March</a></div></li>
                                    
 
                                        <li><div class="link-wrapper"><a href="/info-for/media/press-releases/2011/19948">February</a></div></li>
                                    
 
                                        <li><div class="link-wrapper"><a href="/info-for/media/press-releases/2011/20036">January</a></div></li>
                                    
 
                                        </ul>
                                    </li>
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2010">2010</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2009">2009</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2008">2008</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2007">2007</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2006">2006</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2005">2005</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2004">2004</a></div></li>
                            
 
                                </ul>
                            </li>
 
                                <li><div class="link-wrapper"><a href="/info-for/media/photos">Photos</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/media/contact-the-press-office">Contact the Press Office</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/filming-and-photography">Filming & photography</a></div></li>
                            
 
                </ul>
            
 
 
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>


<div></div>

        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>
 
        
        
            @{ViewBag.Description = "Press releases and news articles from Transport for London";}
        
        


 