


@{ViewBag.Title = "March";}
        
        
<div class="r">
    <div class="breadcrumb-container" role="navigation">
        <span id="breadcrumb-label" class="visually-hidden">You are here:</span>
        <ol class="breadcrumbs clearfix" aria-labelledby="breadcrumb-label">
            <li class="home">
                <a href="/">
                    <span class="hide-text">Home</span>
                </a>
            </li>
            
                <li>
                    <a href="/info-for/media/index">Media</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases">Press releases</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases/2011">2011</a>
                </li>
                
                <li>
                    <span class="last-breadcrumb">March</span>
                </li>
            
 
            
 
            
 
            
 
        </ul>
    </div>
</div>
     
 
<div class="r">
    <div class="headline-container plain">
        <h1>March</h1>
    </div>
</div>

<div class="main-and-aside r">
    <div class="main" role="main">

<div class="on-this-page">


     


<div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2011/march/engineering-works-on-london-overground-and-bakerloo-line-services-over-easter-and-may-bank-holidays">Engineering works on London Overground and Bakerloo line services over Easter and May Bank Holidays<br />31 Mar 2011</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2011/march/travel-advice-during-the-royal-wedding--29-april-2011">Travel advice during the royal wedding - 29 April 2011<br />29 Mar 2011</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2011/march/mayor-unveils-design-of-the-royal-wedding-oyster-card">Mayor unveils design of the royal wedding Oyster card <br />29 Mar 2011</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2011/march/london-underground-announces-plan-for-new-district-line-timetable">London Underground announces plan for new District line timetable<br />29 Mar 2011</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2011/march/biggest-investment-in-londons-transport-in-80-years-as-tfl-publishes-business-plan">Biggest investment in London's transport in 80 years as TfL publishes Business Plan <br />28 Mar 2011</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2011/march/ninety-cleaner-hybrid-buses-to-hit-londons-streets">Ninety cleaner hybrid buses to hit London's streets<br />28 Mar 2011</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2011/march/lets-get-digital--tube-passengers-could-be-checking-their-emails-at-stations-by-the-2012-games">Let's get digital - Tube passengers could be checking their emails at stations by the 2012 Games <br />25 Mar 2011</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2011/march/mayor-announces-shortlisted-bidders-for-additional-trams-in-croydon">Mayor announces shortlisted bidders for additional trams in Croydon<br />24 Mar 2011</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2011/march/taxi-fares-to-increase-by-27-per-cent-on-2-april">Taxi fares to increase by 2.7 per cent on 2 April<br />24 Mar 2011</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2011/march/travel-advice-during-tuc-march-and-rally--saturday-26-march">Travel advice during TUC march and rally - Saturday 26 March<br />23 Mar 2011</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2011/march/gateway-to-the-games-opens-as-stratford-regional-station-upgrade-nears-completion">Gateway to the Games opens as Stratford Regional Station upgrade nears completion <br />21 Mar 2011</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2011/march/congestion-charge-auto-pay-account-membership-reaches-100000">Congestion Charge Auto Pay account membership reaches 100,000<br />21 Mar 2011</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2011/march/tfl-reminds-teenagers-to-take-care-on-the-roads-as-clocks-change-this-weekend">TfL reminds teenagers to take care on the roads as clocks change this weekend<br />21 Mar 2011</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2011/march/tfls-undercover-inspectors-crack-down-on-fare-evasion">TfL's undercover inspectors crack down on fare evasion<br />18 Mar 2011</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2011/march/main-works-on-henlys-corner-to-begin-in-april-2011">Main works on Henlys Corner to begin in April 2011<br />16 Mar 2011</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2011/march/travelling-with-oyster-to-be-simpler-than-ever">Travelling with Oyster to be simpler than ever<br />14 Mar 2011</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2011/march/oyster-extension-permits-no-longer-needed-as-mayor-and-train-companies-make-travel-in-london-easier-than-ever">Oyster Extension Permits no longer needed as Mayor and train companies make travel in London easier than ever<br />11 Mar 2011</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2011/march/teen-road-safety-message-returns-for-2011">Teen road safety message returns for 2011<br />09 Mar 2011</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2011/march/mayor-hails-measures-to-tackle-congestion">Mayor hails measures to tackle congestion<br />09 Mar 2011</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2011/march/staff-recognised-at-dialaride-awards-2011">Staff recognised at Dial-a-Ride Awards 2011<br />04 Mar 2011</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2011/march/phenomenal-progress-means-only-three-more-weekend-closures-of-blackwall-tunnel-required-as-safety-upgrade-continues">Phenomenal progress means only three more weekend closures of Blackwall Tunnel required as safety upgrade continues<br />02 Mar 2011</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2011/march/essential-escalator-works-at-holborn">Essential escalator works at Holborn<br />01 Mar 2011</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2011/march/staff-recognised-at-london-bus-awards-2011">Staff recognised at London Bus Awards 2011<br />01 Mar 2011</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2011/march/new-trams-to-help-boost-croydons-economy-a-step-closer">New trams to help boost Croydon's economy a step closer<br />01 Mar 2011</a></div>


        
        
        
        @this.ScriptBlock(
        @<script>
        queue.push("@Html.ScriptPath("modules/M020-on-this-page.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">
        
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
                <a href="/info-for/media/index" class="heading">
                    <h2 id="sub-menu-heading">Media<span class="visually-hidden"> navigation</span></h2>
                </a>
                <ul>
                    
                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases">Press releases</a></div>
                                <ul>
                                    
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2020">2020</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019">2019</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018">2018</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017">2017</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016">2016</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015">2015</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014">2014</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2013">2013</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2012">2012</a></div></li>
                            
 
                                        <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2011">2011</a></div>
                                        <ul>
                                            
                                        <li><div class="link-wrapper"><a href="/info-for/media/press-releases/2011/18648">December</a></div></li>
                                    
 
                                        <li><div class="link-wrapper"><a href="/info-for/media/press-releases/2011/18948">November</a></div></li>
                                    
 
                                        <li><div class="link-wrapper"><a href="/info-for/media/press-releases/2011/19052">October</a></div></li>
                                    
 
                                        <li><div class="link-wrapper"><a href="/info-for/media/press-releases/2011/19144">September</a></div></li>
                                    
 
                                        <li><div class="link-wrapper"><a href="/info-for/media/press-releases/2011/19292">August</a></div></li>
                                    
 
                                        <li><div class="link-wrapper"><a href="/info-for/media/press-releases/2011/19408">July</a></div></li>
                                    
 
                                        <li><div class="link-wrapper"><a href="/info-for/media/press-releases/2011/19528">June</a></div></li>
                                    
 
                                        <li><div class="link-wrapper"><a href="/info-for/media/press-releases/2011/19660">May</a></div></li>
                                    
 
                                        <li><div class="link-wrapper"><a href="/info-for/media/press-releases/2011/19772">April</a></div></li>
                                    
 
                                                <li class="selected"><div class="link-wrapper"><a href="/info-for/media/press-releases/2011/19848">March</a></div>
                                            
 
                                        <li><div class="link-wrapper"><a href="/info-for/media/press-releases/2011/19948">February</a></div></li>
                                    
 
                                        <li><div class="link-wrapper"><a href="/info-for/media/press-releases/2011/20036">January</a></div></li>
                                    
 
                                        </ul>
                                    </li>
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2010">2010</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2009">2009</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2008">2008</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2007">2007</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2006">2006</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2005">2005</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2004">2004</a></div></li>
                            
 
                                </ul>
                            </li>
 
                                <li><div class="link-wrapper"><a href="/info-for/media/photos">Photos</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/media/contact-the-press-office">Contact the Press Office</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/filming-and-photography">Filming & photography</a></div></li>
                            
 
                </ul>
            
 
 
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>


<div></div>

        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>
 
        
        
            @{ViewBag.Description = "Press releases and news articles from Transport for London";}
        
        


 