


@{ViewBag.Title = "Celebrate National Walking month this May with TfL's free guided walks";}
        
        
<div class="r">
    <div class="breadcrumb-container" role="navigation">
        <span id="breadcrumb-label" class="visually-hidden">You are here:</span>
        <ol class="breadcrumbs clearfix" aria-labelledby="breadcrumb-label">
            <li class="home">
                <a href="/">
                    <span class="hide-text">Home</span>
                </a>
            </li>
            
                <li>
                    <a href="/info-for/media/index">Media</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases">Press releases</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases/2016">2016</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases/2016/april">April</a>
                </li>
                
                <li>
                    <span class="last-breadcrumb">Celebrate National Walking month this May with TfL’s free guided walks</span>
                </li>
            
 
            
 
            
 
            
 
            
 
        </ul>
    </div>
</div>
     
 
<div class="r">
    <div class="headline-container plain">
        <h1>Celebrate National Walking month this May with TfL’s free guided walks</h1>
        <div class="content-page-press-release">
        25 April 2016
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">



 <div class="on-this-page">
<p>Enjoy spectacular views of London in bloom on one of Transport for London's (TfL's) 'Spring into Summer' free guided walks, on Saturday 21 and Sunday 22 May.</p>
<p>There are 45 free guided walks across the Capital, organised by Walk London and TfL, which explore London's hidden gems, famous landmarks, parks and canals. There is something to suit all ages and walking abilities, whether you fancy a short stroll or a challenging trek. Many of the walks are family friendly with Animal I-Spy in the City, a gentle stroll searching for dragons, lions and unicorns and Goodnight Mister Tom, inspired by the much loved book, particularly popular with children.</p>
<p>There's also a new design themed walk following the Bakerloo line above ground - featuring Oscar Wilde, Arthur Conan Doyle and the Marlboro Man. This is a special walk to celebrate TfL's 'Transported by Design' programme.</p>
<p>The walks, which have been running since 2007, have grown significantly in popularity as Londoners have embraced walking. To cope with the increased demand there is a new online booking system for the 'Spring into Summer' walks. It is quick and simple to book a free place by simply visiting the Walk London website, <a href="http://www.walklondon.org.uk">www.walklondon.org.uk</a></p>
<p>The 'Spring into Summer' weekend will include walks such as:</p>
<p>Saturday 21 May</p>
<ul>
    <li>Royal Parks and Palaces - Buckingham Palace to Little Venice at 11.00 (4 miles) this walk goes through three Royal Parks, past royal palaces, over hidden rivers and along lakes, ponds and canals. Discover where Wookey the Witch lives, where Peter Pan was created and where Paddington Bear arrived from 'darkest Peru.' Find out where the address 'Number one, London' is, where the 'Crystal Palace' stood and where the first ever Underground train started its journey.</li>
    <li>Animal I-Spy in the City at 10:30 (1.5 miles) this family-friendly stroll takes you through the streets of the city, where you'll discover where dragons, lions and even unicorns may be hiding. Perfect for children aged between four and seven years old, but younger or older children are also welcome.</li>
    <li>Scenes on Screen - Film and TV in London at 14:00 (1.7 miles) takes in locations used for films, TV series and commercials and offers insights into some of the famous former local residents.</li>
    <li>Goodnight Mister Tom - London in the Blitz at 14:00 (1.6 miles) this family-focused walk is inspired by Michelle Magorian's much loved book &quot;Goodnight Mister Tom&quot;, which tells the story of Willy Beech who is evacuated from London during World War II. The walk explores the City of London and hears what life was like for those who remained in the Capital during the Blitz.</li>
</ul>
<p>Sunday 22 May</p>
<ul>
    <li>The Bakerloo line - featuring Oscar Wilde, Arthur Conan Doyle and the Marlboro Man at 11:00 (2.2 miles) this is a special new design-led walk above the Bakerloo line, which celebrates TfL's Transported by Design programme. Discover the beautiful architecture of the Tube stations along the Bakerloo line as well as what happened when Oscar Wilde had dinner with Arthur Conan Doyle, and how the supposedly all-American Marlboro man actually owes his name to Soho.</li>
    <li>London's Hidden Treasures - Waterloo to London Bridge at 11:30 (2 miles) this stroll along both sides of the River Thames will reveal some of the secrets that lie beneath the streets and under the river. The walk starts at Waterloo and the iconic London Eye before moving directly on to the river where the history is over 2,000 years old.</li>
    <li>Gleaming Spires - Architecture and public art in the City of London at 13:00 (1.5 miles) explore the art and architecture in the vibrant City of London and experience its ever-changing skyline.</li>
    <li>Twin Peaks on the Capital Ring at 13:30 (4.5 miles) come along on this new walk through nature reserves and along the canal to cross Horsenden Hill and then Harrow on the Hill (one of the hilliest sections of the Capital Ring). There are fine views over West London and be ready for some strenuous climbs.</li>
</ul>
<p>Ben Plowden, Director of Surface Strategy and Planning at TfL, said: `May is National Walking Month and we hope that our 45 free guided walks will inspire people to walk more around our beautiful and vibrant city. Walking is not only good for your health and wellbeing, but it is also the perfect way to explore new places and we are committed to making London the most walkable city in the world.'</p>
<p>The walks are led by experienced Walk London guides who provide fascinating facts that highlight London's curiosities, history and culture. The walks are free and all you need to do is book your place and come along.</p>
<p>Visit <a href="http://walklondon.org.uk">walklondon.org.uk</a> to book your free place on a 'Spring into Summer' walk. All walks start and finish within easy reach of public transport.</p>
<p>For more information about walking in the Capital and to download TfL's Walking Tube map, visit tfl.gov.uk/walking</p>
<p>Ends</p>
<p>Notes to Editors</p>
<ul>
    <li>TfL sponsor three walking weekends each year to help Londoners enjoy the city's best walking routes and motivate people to walk more often &#45; 'Winter Wanders', 'Spring into Summer' and 'Autumn Ambles'.</li>
    <li>All walks are accompanied by a trained Walk Leader and experienced Back Marker.</li>
    <li>Over 40,000 people have attended Walk London's walking weekends since November 2007.</li>
    <li>The Walk London Network is made up of seven top walking routes that embrace more than 390 miles / 628km and pass through every borough. Maps and guides are available to download from the TfL website <a href="http://tfl.gov.uk/walking">tfl.gov.uk/walking</a></li>
    <li>The seven top walking routes in London cover long distances, but are designed to be completed in sections that are accessible by public transport. The routes are:</li>
</ul>
<ul>
    <li>The LOOP Walk = 152 miles / 245 km</li>
    <li>The Capital Ring Walk = 78 miles / 126 km</li>
    <li>The Green Chain Walk = 50 miles / 80 km</li>
    <li>The Lea Valley Walk = 18 miles / 29 km</li>
    <li>The Thames Path Walk = 40 miles / 64 km</li>
    <li>The Jubilee Walkway = 15 miles / 24 km</li>
    <li>The Jubilee Greenway Walk = 37 miles / 60 km</li>
</ul>
<p>About Transported by Design</p>
<ul>
    <li>TfL's 'Transported by Design' programme is a series of events, exhibitions and competitions sponsored by Exterion Media, that celebrate the role of good design on London's transport network.</li>
    <li>More information on TfL's 'Transported by Design' programme can be found at <a href="http://tfl.gov.uk/campaign/transported-by-design">tfl.gov.uk/campaign/transported-by-design</a></li>
</ul>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
                <a href="/info-for/media/index" class="heading">
                    <h2 id="sub-menu-heading">Media<span class="visually-hidden"> navigation</span></h2>
                </a>
                <ul>
                    
                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases">Press releases</a></div>
                                <ul>
                                    
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2020">2020</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019">2019</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018">2018</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017">2017</a></div></li>
                            
 
                                        <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016">2016</a></div>
                                        <ul>
                                            
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016/january">January</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016/february">February</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016/march">March</a></div></li>
                                    
 
                                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016/april">April</a></div>
                                                <ul>
                                                    
 
 
 
 
 
 
 
 
 
 
 
 
 
 
                                                </ul>
                                            
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016/may">May</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016/june">June</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016/july">July</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016/august">August</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016/september">September</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016/october">October</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016/november">November</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016/december">December</a></div></li>
                                    
 
                                        </ul>
                                    </li>
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015">2015</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014">2014</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2013">2013</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2012">2012</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2011">2011</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2010">2010</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2009">2009</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2008">2008</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2007">2007</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2006">2006</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2005">2005</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2004">2004</a></div></li>
                            
 
                                </ul>
                            </li>
 
                                <li><div class="link-wrapper"><a href="/info-for/media/photos">Photos</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/media/contact-the-press-office">Contact the Press Office</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/filming-and-photography">Filming & photography</a></div></li>
                            
 
                </ul>
            
 
 
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype: -Home-Media-Media-Press releases-2016-April-Celebrate National Walking month this May with TfL’s free guided walks -->

 
 
        
        
            @{ViewBag.Description = "Press releases and news articles from Transport for London";}
        
        


 