


@{ViewBag.Title = "Drop-in sessions on Gospel Oak to Barking line ahead of phased closure";}
        
        
<div class="r">
    <div class="breadcrumb-container" role="navigation">
        <span id="breadcrumb-label" class="visually-hidden">You are here:</span>
        <ol class="breadcrumbs clearfix" aria-labelledby="breadcrumb-label">
            <li class="home">
                <a href="/">
                    <span class="hide-text">Home</span>
                </a>
            </li>
            
                <li>
                    <a href="/info-for/media/index">Media</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases">Press releases</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases/2016">2016</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases/2016/april">April</a>
                </li>
                
                <li>
                    <span class="last-breadcrumb">Drop-in sessions on Gospel Oak to Barking line ahead of phased closure</span>
                </li>
            
 
            
 
            
 
            
 
            
 
        </ul>
    </div>
</div>
     
 
<div class="r">
    <div class="headline-container plain">
        <h1>Drop-in sessions on Gospel Oak to Barking line ahead of phased closure</h1>
        <div class="content-page-press-release">
        06 April 2016
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">



 <div class="on-this-page">
<p>Customers and local residents are being reminded that major upgrade work to the London Overground route between Gospel Oak and Barking will start from June 2016 as part of Network Rail's Railway Upgrade Plan. An eight month closure of the railway is needed to carry out this vital work.</p>
<p>Ahead of the closure, staff will be holding a series of drop-in sessions from Monday 18 April to Thursday 5 May. Staff will be at a different station every evening peak (16:00-19:00) to meet passengers, answer questions and explain the works and what benefits they will bring, as well as details of alternative travel arrangements.</p>
<p>Network Rail is delivering the project, which is funded by the Department for Transport and Transport for London (TfL). The project will see TfL introduce new four-carriage electric trains to replace the existing two-carriage diesel trains from January 2018, helping to meet growing passenger demand.</p>
<p>Network Rail will be carrying out major work to electrify the line in two phases. From Saturday 4 June to Sunday 25 September 2016 there will be no service between South Tottenham and Barking. Trains will run on weekdays between Gospel Oak and South Tottenham, however not at weekends. TfL will be providing rail replacement buses which will operate along the route.</p>
<p>From Monday 26 September to February 2017, a full closure from Gospel Oak to Barking is required.</p>
<p>Network Rail's route managing director, Richard Schofield, said: `We know this is a big change for people as we carry out the improvements and that's why we wanted to get out and have staff at every station to meet passengers and local residents and answer any questions they may have. We'll also explain the complexity of the work and the need for an eight month closure.</p>
<p>`This investment will transform the service on this route, doubling capacity with cleaner, quieter electric trains and is a key element of our wider Railway Upgrade Plan.'</p>
<p>Mike Stubbs, TfL's Director of London Overground, said: `This work will allow us to run new longer walk-through trains on the line from January 2018, doubling capacity along the route. We recognise that there will be disruption to customers while the upgrade work is carried out and I'd like to thank them for their patience in advance. We will continue to work closely with Network Rail to see if the timescales they set out can be reduced.'</p>
<p>In addition to these drop-in sessions TfL will provide detailed station specific advice to help get customers around throughout the closure. Information will be made available via email alerts, Twitter <a href="http://&#64;LDNOverground">&#64;LDNOverground</a>, posters and announcements in stations.</p>
<p>In order to electrify the railway, overhead wires and structures to support them need to be installed as well as the construction of three new switching stations. To make room for this new infrastructure, four sections of the track will be lowered, four bridges will be rebuilt and a further six modernised. TfL will also be lengthening platforms and enhancing stations to accommodate the longer trains. Network Rail has already started work on the foundations for the structures that will carry the overhead wires.</p>
<p>From February 2017 onwards further works to have the line ready for electric trains will take place during evenings and weekends only and will be completed by the end of June 2017.</p>
<p>Notes to Editors:</p>
<p>TfL and Network Rail have organised a number of drop-in sessions at stations along the Gospel Oak to Barking route in April and May. Staff will be available to answer questions at the following stations and times:</p>
<ul>
    <li>Barking, Monday 18 April, 16:00 to 19:00</li>
    <li>Woodgrange Park, Tuesday 19 April, 16:00 to 19:00</li>
    <li>Wanstead Park, Wednesday 20 April, 16:00 to 19:00</li>
    <li>Leytonstone High Road, Thursday 21 April, 16:00 to 19:00</li>
    <li>Leyton Midland Road, Friday 22 April, 16:00 to 19:00</li>
    <li>Walthamstow Queens Road, Monday 25 April, 16:00 to 19:00</li>
    <li>Blackhorse Road, Tuesday 26 April, 16:00 to 19:00</li>
    <li>South Tottenham, Wednesday 27 April, 16:00 to 19:00</li>
    <li>Harringay Green Lanes, Thursday 28 April, 16:00 to 19:00</li>
    <li>Crouch Hill, Tuesday 3 May, 16:00 to 19:00</li>
    <li>Upper Holloway, Wednesday 4 May, 16:00 to 19:00</li>
    <li>Gospel Oak, Thursday 5 May, 16:00 to 19:00</li>
</ul>
<ul>
    <li>For more information on changes to journeys between Gospel Oak to Barking, please visit <a href="http://www.tfl.gov.uk/london-overground-closure">www.tfl.gov.uk/london-overground-closure</a>.</li>
    <li>Railway neighbours who would like more information on how the work will impact their home can call Network Rail's helpline on 0345 7 11 41 41 or visit www.networkrail.co.uk/contactus.</li>
    <li>More information on work carried out by Network Rail on this route can also be found at <a href="http://www.networkrail.co.uk/gobe">www.networkrail.co.uk/gobe</a>.</li>
    <li>Follow Network Rail's progress on Twitter <a href="http://&#64;NetworkRailGOBE">&#64;NetworkRailGOBE</a></li>
</ul>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
                <a href="/info-for/media/index" class="heading">
                    <h2 id="sub-menu-heading">Media<span class="visually-hidden"> navigation</span></h2>
                </a>
                <ul>
                    
                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases">Press releases</a></div>
                                <ul>
                                    
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2020">2020</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019">2019</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018">2018</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017">2017</a></div></li>
                            
 
                                        <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016">2016</a></div>
                                        <ul>
                                            
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016/january">January</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016/february">February</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016/march">March</a></div></li>
                                    
 
                                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016/april">April</a></div>
                                                <ul>
                                                    
 
 
 
 
 
 
 
 
 
 
 
 
 
 
                                                </ul>
                                            
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016/may">May</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016/june">June</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016/july">July</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016/august">August</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016/september">September</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016/october">October</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016/november">November</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016/december">December</a></div></li>
                                    
 
                                        </ul>
                                    </li>
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015">2015</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014">2014</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2013">2013</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2012">2012</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2011">2011</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2010">2010</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2009">2009</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2008">2008</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2007">2007</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2006">2006</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2005">2005</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2004">2004</a></div></li>
                            
 
                                </ul>
                            </li>
 
                                <li><div class="link-wrapper"><a href="/info-for/media/photos">Photos</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/media/contact-the-press-office">Contact the Press Office</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/filming-and-photography">Filming & photography</a></div></li>
                            
 
                </ul>
            
 
 
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype: -Home-Media-Media-Press releases-2016-April-Drop-in sessions on Gospel Oak to Barking line ahead of phased closure -->

 
 
        
        
            @{ViewBag.Description = "Press releases and news articles from Transport for London";}
        
        


 