


@{ViewBag.Title = "New live Tram information to make travelling around south London easier";}
        
        
<div class="r">
    <div class="breadcrumb-container" role="navigation">
        <span id="breadcrumb-label" class="visually-hidden">You are here:</span>
        <ol class="breadcrumbs clearfix" aria-labelledby="breadcrumb-label">
            <li class="home">
                <a href="/">
                    <span class="hide-text">Home</span>
                </a>
            </li>
            
                <li>
                    <a href="/info-for/media/index">Media</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases">Press releases</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases/2016">2016</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases/2016/april">April</a>
                </li>
                
                <li>
                    <span class="last-breadcrumb">New live Tram information to make travelling around south London easier</span>
                </li>
            
 
            
 
            
 
            
 
            
 
        </ul>
    </div>
</div>
     
 
<div class="r">
    <div class="headline-container plain">
        <h1>New live Tram information to make travelling around south London easier</h1>
        <div class="content-page-press-release">
        25 April 2016
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">



 <div class="on-this-page">
<p>Using London's Tram network is now even easier following Transport for London making live service information available to customers at the touch of a button.</p>
<p>Customers now have up-to-the-minute information about when their service will arrive and its destination along with the status of the service, both through TfL's website and on Electronic Service Update Boards across other parts of the TfL transport network.</p>
<p>The data, which is also being made available free to app developers at http://tfl.gov.uk/developers , forms part of TfL's wider commitment to make the information it holds openly available to help Londoners and visitors get around.</p>
<p>Around 8,200 developers are now registered for TfL's Unified API open data. As smartphone usage for travel information continues to increase, almost 500 apps are now being directly powered through this data - providing Londoners with a wide range of useful up-to-the-minute information about public transport and the road network.</p>
<p>Rory O'Neill, TfL's Director of Trams, said: `The Tram network is a vital transport link in south London and much has been done to improve it, including introducing extra services to help meet growing demand. Making live service information easily available to our customers will make using the tram network even easier, and shows how we're harnessing technology to give people better journeys.'</p>
<p>The availability of live travel data follows recent improvements to the Tram service, including increasing services by 50 per cent between Wimbledon and Croydon after work to build an additional train platform at Wimbledon was completed last year. Four additional trams have also been introduced.</p>
<p>More frequent and faster journeys for customers have also been delivered between Mitcham Junction and Beddington Lane by adding new track to allow trams to travel in both directions simultaneously.</p>
<p>The Tram network has experienced rapid growth in passenger numbers since it opened in 2000, from 18.5 million passengers in its first year of operation to over 32 million in 2014/15, and demand is forecast to increase to around 60 million by 2030.</p>
<p>For more information about how TfL is making its open data free and accessible for all, please visit <a href="http://www.tfl.gov.uk/developers">www.tfl.gov.uk/developers</a></p>
<p>Ends<br />
Notes to editors:</p>
<p>Tram network</p>
<ul>
    <li>London Tramlink has 28km of track, 34 trams in the fleet and 39 stops</li>
    <li>It links in with seven National Rail stations and more than 50 bus routes</li>
    <li>The Wimbledon line Enhancement Programme is a &pound;30 million scheme that has increased the capacity on the line of the tram network by 50 per cent</li>
    <li>An additional platform at Wimbledon allows trams to arrive and depart Wimbledon more often</li>
    <li>Installation of additional ticket validators and a new passenger information display on the Wimbledon platforms</li>
    <li>Increased frequency of trams between Wimbledon and Croydon from eight to 12 trams per hour, boosting capacity by 50 per cent, as well as:</li>
    <li>Reducing waiting times;</li>
    <li>Improved service reliability;</li>
    <li>Improved connectivity between Wimbledon and Croydon Town Centre;</li>
    <li>Encouraging car owners to leave their vehicles at home, helping to reduce carbon emissions.</li>
</ul>
<p>TfL Open Data</p>
<ul>
    <li>Additional live data feeds will be added to TfL's API by the end of May.</li>
    <li>For technical briefings on TfL's open data and how it could be used by developers, please contact the TfL Press Office.</li>
    <li>Local businesses and organisations can apply for bespoke &quot;Digital signs&quot; which uses live bus arrival data to display up to four bus stops and a map of the local area - <a href="https://tfl.gov.uk/info-for/business-and-commercial/commercial-opportunities/digital-signs">https://tfl.gov.uk/info-for/business-and-commercial/commercial-opportunities/digital-signs</a></li>
    <li>To get TfL's open data developers can sign up for free at <a href="http://api.tfl.gov.uk">api.tfl.gov.uk</a></li>
</ul>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
                <a href="/info-for/media/index" class="heading">
                    <h2 id="sub-menu-heading">Media<span class="visually-hidden"> navigation</span></h2>
                </a>
                <ul>
                    
                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases">Press releases</a></div>
                                <ul>
                                    
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2020">2020</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019">2019</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018">2018</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017">2017</a></div></li>
                            
 
                                        <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016">2016</a></div>
                                        <ul>
                                            
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016/january">January</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016/february">February</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016/march">March</a></div></li>
                                    
 
                                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016/april">April</a></div>
                                                <ul>
                                                    
 
 
 
 
 
 
 
 
 
 
 
 
 
 
                                                </ul>
                                            
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016/may">May</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016/june">June</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016/july">July</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016/august">August</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016/september">September</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016/october">October</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016/november">November</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016/december">December</a></div></li>
                                    
 
                                        </ul>
                                    </li>
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015">2015</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014">2014</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2013">2013</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2012">2012</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2011">2011</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2010">2010</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2009">2009</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2008">2008</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2007">2007</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2006">2006</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2005">2005</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2004">2004</a></div></li>
                            
 
                                </ul>
                            </li>
 
                                <li><div class="link-wrapper"><a href="/info-for/media/photos">Photos</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/media/contact-the-press-office">Contact the Press Office</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/filming-and-photography">Filming & photography</a></div></li>
                            
 
                </ul>
            
 
 
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype: -Home-Media-Media-Press releases-2016-April-New live Tram information to make travelling around south London easier -->

 
 
        
        
            @{ViewBag.Description = "Press releases and news articles from Transport for London";}
        
        


 