


@{ViewBag.Title = "TfL signs contract with Arriva as new operator for London Overground ";}
        
        
<div class="r">
    <div class="breadcrumb-container" role="navigation">
        <span id="breadcrumb-label" class="visually-hidden">You are here:</span>
        <ol class="breadcrumbs clearfix" aria-labelledby="breadcrumb-label">
            <li class="home">
                <a href="/">
                    <span class="hide-text">Home</span>
                </a>
            </li>
            
                <li>
                    <a href="/info-for/media/index">Media</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases">Press releases</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases/2016">2016</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases/2016/april">April</a>
                </li>
                
                <li>
                    <span class="last-breadcrumb">TfL signs contract with Arriva as new operator for London Overground </span>
                </li>
            
 
            
 
            
 
            
 
            
 
        </ul>
    </div>
</div>
     
 
<div class="r">
    <div class="headline-container plain">
        <h1>TfL signs contract with Arriva as new operator for London Overground </h1>
        <div class="content-page-press-release">
        14 April 2016
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">



 <div class="on-this-page">
<p>Transport for London (TfL) has today confirmed that it has now signed a contract with Arriva Rail London Limited as the new London Overground operator. The &pound;1.5 billion contract will cover seven and a half years with an option to extend for up to two additional years.</p>
<p>Arriva will take over from existing operator LOROL in November 2016, and will support TfL in delivering further improvements for customers on the already hugely popular network. These will include modernised stations and more frequent services, the first of which will be on the North London line. New trains will also be introduced in 2018, transforming journeys on London Overground routes out of Liverpool Street and on the Gospel Oak to Barking line.</p>
<p>Under the new concession, customers on some routes will benefit from extended operating hours, and new services will be introduced on some routes on Boxing Day. Arriva will also be expected to deliver sustained improvements in performance levels, which have improved hugely since TfL took responsibility for London Overground routes in 2007. To support this, new incentives have been incorporated into the new contract including financially penalising Arriva should incidents caused by Network Rail, train and freight operators impact on London Overground services. Along with the tightening of the rail industry standard measurement for punctuality for commuter services to three minutes within the scheduled arrival time. These measures are being implemented to encourage closer working with Network Rail and Bombardier, who build and maintain the London Overground trains, to continue to improve reliability and provide high quality services for customers.</p>
<p>Gareth Powell, TfL's Chief Operating Officer, London Rail, said: `We look forward to working with Arriva to bring about further improvements to the London Overground network including extending operating hours, improving frequencies and introducing new trains. I would also like to take this opportunity to thank the existing operator LOROL for their work that has helped make London Overground the huge success story it is today.`</p>
<p>Chris Burchell, Managing Director of Arriva's UK trains division, said: `We have been proud to play our part in the London Overground success story so far and look forward to working closely with Transport for London to improve services further, introduce more new trains and deliver a further step-change in customer service quality. London Overground is one of the capital's success stories and from November our role is to ensure this success continues and customer satisfaction levels remain high &#45; helped by 1,400 employees who understand the network inside out.'</p>
<p>Arriva will operate all London Overground routes, including those that TfL took over last year from Liverpool Street station to Enfield Town, Cheshunt (via Seven Sisters) and Chingford, as well as services between Romford and Upminster.</p>
<p>TfL is proposing to extend the London Overground to Barking Riverside as part of its work to create better rail services to accommodate a rapidly growing population and to support new jobs, homes and economic growth. Subject to consents the extension could see train services commencing in 2021. The transformation of London Overground has seen passenger numbers rise by 400 per cent since 2007 and the network has become one of the most reliable in the UK.</p>
<p>Ends</p>
<p>Notes to Editors:</p>
<ul>
    <li>The contract has now been signed following the completion of the required standstill period.</li>
    <li>The rail industry punctuality measure is trains arriving at their terminating destination within five minutes of their scheduled time. TfL believes that trains on the London Overground network should arrive within three minutes.</li>
    <li>Current operator LOROL (London Overground Rail Operations Ltd) is a joint venture between MTR and Arriva.</li>
    <li>LOROL currently operate London Overground services and will continue to do so until their concession ends on 13 November 2016.</li>
    <li>London Overground now carries over 184 million customers a year, equating to more than 585,000 a day.</li>
    <li>Capacity on other London Overground services has been increased by a further 25 per cent through the introduction of a fifth car to trains across the network which was completed at the end of 2015.</li>
    <li>A fleet of 45 new trains will be introduced from 2018 on the Liverpool Street to Enfield Town, Cheshunt (via Seven Sisters) and Chingford routes, as well as on the routes between Barking and Gospel Oak and between Romford and Upminster. The new trains, to be built by Bombardier, will transform the service experienced by customers on these routes and support hundreds of UK jobs and more than 20 apprenticeships.</li>
    <li>Under the new contract, TfL will continue to be responsible for setting the fares and marketing the services and will retain the revenue generated by ticket sales to be reinvested in improving the transport network. TfL will also retain all non-ticket revenue at stations including advertising, retail and car parks. The operator will be responsible for ticket retailing and for undertaking revenue protection activities.</li>
</ul>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
                <a href="/info-for/media/index" class="heading">
                    <h2 id="sub-menu-heading">Media<span class="visually-hidden"> navigation</span></h2>
                </a>
                <ul>
                    
                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases">Press releases</a></div>
                                <ul>
                                    
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2020">2020</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019">2019</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018">2018</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017">2017</a></div></li>
                            
 
                                        <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016">2016</a></div>
                                        <ul>
                                            
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016/january">January</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016/february">February</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016/march">March</a></div></li>
                                    
 
                                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016/april">April</a></div>
                                                <ul>
                                                    
 
 
 
 
 
 
 
 
 
 
 
 
 
 
                                                </ul>
                                            
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016/may">May</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016/june">June</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016/july">July</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016/august">August</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016/september">September</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016/october">October</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016/november">November</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016/december">December</a></div></li>
                                    
 
                                        </ul>
                                    </li>
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015">2015</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014">2014</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2013">2013</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2012">2012</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2011">2011</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2010">2010</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2009">2009</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2008">2008</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2007">2007</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2006">2006</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2005">2005</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2004">2004</a></div></li>
                            
 
                                </ul>
                            </li>
 
                                <li><div class="link-wrapper"><a href="/info-for/media/photos">Photos</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/media/contact-the-press-office">Contact the Press Office</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/filming-and-photography">Filming & photography</a></div></li>
                            
 
                </ul>
            
 
 
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype: -Home-Media-Media-Press releases-2016-April-TfL signs contract with Arriva as new operator for London Overground  -->

 
 
        
        
            @{ViewBag.Description = "Press releases and news articles from Transport for London";}
        
        


 