


@{ViewBag.Title = "Contact the Press Office";}
        
        
<div class="r">
    <div class="breadcrumb-container" role="navigation">
        <span id="breadcrumb-label" class="visually-hidden">You are here:</span>
        <ol class="breadcrumbs clearfix" aria-labelledby="breadcrumb-label">
            <li class="home">
                <a href="/">
                    <span class="hide-text">Home</span>
                </a>
            </li>
            
                <li>
                    <a href="/info-for/media/index">Media</a>
                </li>
                
                <li>
                    <span class="last-breadcrumb">Contact the Press Office</span>
                </li>
            
 
            
 
        </ul>
    </div>
</div>
     
 
<div class="r">
    <div class="headline-container plain">
        <h1>Contact the Press Office</h1>
    </div>
</div>

<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        The following contact details are for journalist enquiries only.         
        
            
        
    </div>

<div class="on-this-page">

    

     
<div>

<p>The Press Office is open between 07:45 and 19:00 on weekdays.</p>
<p>An out-of-hours press officer can be contacted for urgent enquiries outside of these hours and at weekends on the general Press Office number below.</p>
<p>Please note, the Press Office is unable to help with general queries or complaints. For general enquiries, please see <a href="https://tfl.gov.uk/help-and-contact/">TfL's help &amp; contacts page</a>.</p>
<p><strong>Telephone (for media enquiries only)</strong></p>
<p>0343 222 4141 (<a href="https://tfl.gov.uk/corporate/terms-and-conditions/tfl-call-charges">TfL call charges</a>)</p>
<p><strong>Email</strong></p>
<p><a href="mailto:pressoffice&#64;tfl.gov.uk">pressoffice&#64;tfl.gov.uk</a></p>
</div>



 
        
        
        
        @this.ScriptBlock(
        @<script>
        queue.push("@Html.ScriptPath("modules/M020-on-this-page.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">
        
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
                <a href="/info-for/media/index" class="heading">
                    <h2 id="sub-menu-heading">Media<span class="visually-hidden"> navigation</span></h2>
                </a>
                <ul>
                    
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases">Press releases</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/media/photos">Photos</a></div></li>
                            
 
                                <li class="selected"><div class="link-wrapper"><a href="/info-for/media/contact-the-press-office">Contact the Press Office</a></div>
                            </li>
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/filming-and-photography">Filming & photography</a></div></li>
                            
 
                </ul>
            
 
 
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>


<div></div>

        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>
 
        
        
            @{ViewBag.Description = "The TfL press office is on hand to answer questions from the media only. ";}
        
        


 