


@{ViewBag.Title = "Filming & photography";}
        
        

<div class="r">
    <div class="breadcrumb-container" role="navigation">
        <span id="breadcrumb-label" class="visually-hidden">You are here:</span>
        <ol class="breadcrumbs clearfix" aria-labelledby="breadcrumb-label">
            <li class="home">
                <a href="/">
                    <span class="hide-text">Home</span>
                </a>
            </li>
            
                <li>
                    <a href="/info-for/media/index">Media</a>
                </li>
                
                <li>
                    <span class="last-breadcrumb">Filming & photography</span>
                </li>
            
 
            
 
        </ul>
    </div>
</div>
     
 


<div class="r">
    <div class="headline-container section-title section-landing-container ">
         <div class="section-title-wrap">
            <h1 class="hero-headline">Filming & photography</h1>
            
        </div>
    </div>
</div>






            


<div class="r">
    <div class="main clearfix">
    
        <div class="section-overview full-width clearfix">
            <div class="small-medium" data-set="section-intro"></div>
            <div>
                <div class="large" data-set="section-intro">
                    <h2 class="moving-source-order"></h2>
                </div>

        <p>Look here for guidance on filming on London's transport modes or the River Thames.</p>
        <p><strong>Please note: </strong>News crews who need to film or get access to rushes of our network should <a href="/info-for/media/contact-the-press-office">contact the Press office</a>.</p>
    
            </div>
        </div>
    


        <div class="module-grid clearfix">
            
            <div class="news-teaser">


    <a href="/info-for/media/filming-and-photography/filming-and-photography-on-tfl?intcmp=1594"  data-img="/cdn/static/cms/images/promos/x001-00099-filming_rdax_400x200.jpg" data-img-breakpoint="medium" data-img-alt="A production crew film on the Tube">
        
        
        <div class="text-link">
             <h2>Filming & photography on TfL</h2>
            <p>Everything you need to know about filming or taking photos on the Tube, Overground and other places on our network</p>
        </div>
    </a>
</div>




 <div>

<div class="news-teaser driving">


    <a href="/info-for/media/filming-and-photography/filming-and-photography-on-the-roads?intcmp=4562" >
        
        
        <div class="text-link">
             <h2>Filming & photography on the roads</h2>
            <p>Contact us before filming on roads, pavements, bus stops or parking bays</p>
        </div>
    </a>
</div>




 <div class="news-teaser bus">


    <a href="/info-for/media/filming-and-photography/filming-and-photography-on-buses?intcmp=1597" >
        
        
        <div class="text-link">
             <h2>Filming & photography on buses</h2>
            <p>Check your script with us before hiring a London bus to film on</p>
        </div>
    </a>
</div>




 
</div>
        </div>
    </div>


    <div class="aside no-full-width-intro">

        <div data-set="sidenav-container" class="large">
            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
                <a href="/info-for/media/index" class="heading">
                    <h2 id="sub-menu-heading">Media<span class="visually-hidden"> navigation</span></h2>
                </a>
                <ul>
                    
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases">Press releases</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/media/photos">Photos</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/media/contact-the-press-office">Contact the Press Office</a></div></li>
                            
 
                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/filming-and-photography">Filming & photography</a></div>
                                <ul>
                                    
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/filming-and-photography/filming-and-photography-on-tfl">Filming & photography on TfL</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/media/filming-and-photography/filming-and-photography-on-buses">Filming & photography on buses</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/media/filming-and-photography/filming-and-photography-on-the-roads">Filming & photography on the roads</a></div></li>
                            
 
                                </ul>
                            </li>
 
                </ul>
            
 
 
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>
        <div class="clearfix">
            
            
        </div>
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>
 
        
        
            @{ViewBag.Description = "Guidance on making films or taking photographs on TfL's modes of transport";}
        
        


 