

<!-- rhroot -->
@{ViewBag.Title = "Media";}
        
        

<div class="r">
    <div class="breadcrumb-container" role="navigation">
        <span id="breadcrumb-label" class="visually-hidden">You are here:</span>
        <ol class="breadcrumbs clearfix" aria-labelledby="breadcrumb-label">
            <li class="home">
                <a href="/">
                    <span class="hide-text">Home</span>
                </a>
            </li>
            
                <li>
                    <span class="last-breadcrumb">Media</span>
                </li>
            
 
        </ul>
    </div>
</div>
     
 


<div class="r">
    <div class="headline-container section-title section-landing-container ">
         <div class="section-title-wrap">
            <h1 class="hero-headline">Media</h1>
            
        </div>
    </div>
</div>






            


<div class="r">
    <div class="main clearfix">
    
        <div class="section-overview full-width clearfix">
            <div class="small-medium" data-set="section-intro"></div>
            <div>
                <div class="large" data-set="section-intro">
                    <h2 class="moving-source-order"></h2>
                </div>

        <p>Our Press Office manages requests from journalists, news photographers and crews, and our Film Offices help filmmakers, photographers and students/non-professionals work on our transport networks.</p>
    
            </div>
        </div>
    


        <div class="module-grid clearfix">
            
            <div class="news-teaser">


    <a href="/info-for/media/photos?intcmp=1426"  data-img="/cdn/static/cms/images/promos/photography-on-tfl_rdax_400x200.jpg" data-img-breakpoint="medium" data-img-alt="Photographer on the Tube">
        
        
        <div class="text-link">
             <h2>Photos</h2>
            <p>License our photography for use and access our image gallery</p>
        </div>
    </a>
</div>




 <div class="news-teaser">


    <a href="/info-for/media/filming-and-photography?intcmp=1425"  data-img="/cdn/static/cms/images/promos/filming-on-tube-700x350_rdax_400x200.jpg" data-img-breakpoint="medium" data-img-alt="Filming on the Tube">
        
        
        <div class="text-link">
             <h2>Filming & photography</h2>
            <p>Get permission before commercial filming on our networks</p>
        </div>
    </a>
</div>




 <div class="news-teaser">


    <a href="/info-for/media/press-releases?intcmp=4536" >
        
        
        <div class="text-link">
             <h2>Press releases</h2>
            <p>See our latest press releases and browse the archive</p>
        </div>
    </a>
</div>




 <div class="news-teaser">


    <a href="/info-for/suppliers-and-contractors/map-licensing?intcmp=4521" >
        
        
        <div class="text-link">
             <h2>Map licensing </h2>
            <p>Did you know the world famous Underground map is copyrighted?</p>
        </div>
    </a>
</div>




 <div class="news-teaser">


    <a href="/info-for/suppliers-and-contractors/design-standards?intcmp=4530" >
        
        
        <div class="text-link">
             <h2>Design standards </h2>
            <p>License our fonts and logos and apply our design guidelines</p>
        </div>
    </a>
</div>




 
        </div>
    </div>


    <div class="aside no-full-width-intro">

        <div data-set="sidenav-container" class="large">
            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
                <a href="/info-for/media/index" class="heading">
                    <h2 id="sub-menu-heading">Media<span class="visually-hidden"> navigation</span></h2>
                </a>
                <ul>
                    
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases">Press releases</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/media/photos">Photos</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/media/contact-the-press-office">Contact the Press Office</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/filming-and-photography">Filming & photography</a></div></li>
                            
 
                </ul>
            
 
 
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>
        <div class="clearfix">
            
            <div>
    
    <div class="contact-info-box">
        <div class="contact-info-header">
            <h3>Press office contacts</h3>
        </div>
        
        
            
        
        
            
                
        
        
        <div class="content-group">
            <p>
                <abbr title="Chat">Chat</abbr><br />
                 
        On <a href="https://m.me/transportforlondon">Facebook</a> or <a href="https://twitter.com/tfl">Twitter</a>
        
        
            </p>
        </div>
        
        
        <div class="content-group">
            <p>
                <abbr title="Telephone number">Call</abbr>&nbsp;<a href="https://tfl.gov.uk/corporate/terms-and-conditions/tfl-call-charges">Charges apply</a><br />
                0343 222 4141 (For journalists only)
            </p>
        </div>
        
        
        
        <div class="content-group">
            <p>
                <abbr title="Address">Write</abbr>
            </p>
            <p><a href="/info-for/media/contact-the-press-office"></a>Email <a href="mailto:pressoffice&#64;tfl.gov.uk">pressoffice&#64;tfl.gov.uk</a> </p>
<p><a href="/info-for/media/contact-the-press-office">Contact details for journalists</a></p>
        </div>
        
        
    </div>
</div>
 <div class="follow-social twitter">

    <div class="social-image">
        
    </div>
    <div class="social-text">
        <h3>TfL news on Twitter</h3>
        <p>News and latest information</p>
    </div>
    <div class="social-button">
        <a class="secondary-button" href="https://twitter.com/TfL">Follow &#64;TfL</a>
    </div> 
</div>
 <div class="follow-social facebook">

    <div class="social-image">
        
    </div>
    <div class="social-text">
        <h3>News on Facebook</h3>
        <p>Get updates about London's transport system</p>
    </div>
    <div class="social-button">
        <a class="secondary-button" href="http://www.facebook.com/transportforlondon">Like</a>
    </div> 
</div>
 
        </div>
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>
 
        
        
            @{ViewBag.Description = "Information aimed primarily at journalists and filmmakers, including press releases and news articles.";}
        
        


 