
    
  



@{ViewBag.Title = "A406 Angel Road flyover closures";}
@{ViewBag.Keywords = "TfL";}
@{ViewBag.Url = "/status-updates/major-works-and-events/a406-angel-road-flyover-closures";}
@{ViewBag.Language = "en";}
        <!-- empty placeholder -->
 
        
        
<div class="r">
    <div class="breadcrumb-container" role="navigation">
        <span id="breadcrumb-label" class="visually-hidden">You are here:</span>
        <ol class="breadcrumbs clearfix" aria-labelledby="breadcrumb-label">
            <li class="home">
                <a href="/">
                    <span class="hide-text">Home</span>
                </a>
            </li>
            
                 <li><a href="/status-updates/index">Status updates</a></li>
                
            
                 <li><a href="/status-updates/major-works-and-events">Major works & events</a></li>
                
            
            
                <li><span class="last-breadcrumb">A406 Angel Road flyover closures</span></li>
            
        
 
        
 
        
 
        </ol>
    </div>
</div>
     
 
<div class="r">
  <div class="headline-container plain">
    <h1>A406 Angel Road flyover closures</h1>

  </div>
</div>
<div class="main-and-aside r">
  
  <div class="main content-container" role="main">
    
      <div class="article-teaser">
        We need to do safety work on the A406 near Tottenham (Angel Road flyover). We will carry out the work at weekends, closing the road in a different direction each weekend.
        
      </div>
    
    <div class="on-this-page">
      <p>From 22:00 Saturday 23 November to 00:01 (morning)&nbsp;Monday 25 November 2019 there will be an eastbound closure of the A406 near Tottenham (at the Angel Road flyover). One westbound lane will also be closed</p>
      
           
      
<div>





<div class="multi-document-download-container">
    
</div>
<h2>Driving</h2>

<p>Traffic will be diverted around the closure using slip roads. These have lower capacity, and traffic lights, so there are likely to be long delays for anyone using this route.</p>

<h3>Journeys across London</h3>

<ul>
	<li>There will be significant delays in the area</li>
	<li>Use another route (such as the M25) if possible</li>
</ul>

<h3>Journeys to the area</h3>

<ul>
	<li>If you have to drive, allow more time for your journey</li>
	<li>All main approach roads and surrounding local roads will be extremely busy.&nbsp;There will be&nbsp;delays to road journeys</li>
	<li>We will maintain local access via the slip road</li>
	<li>Use alternatives to driving if at all possible (the best ways of reaching this area include London Overground and National Rail)</li>
</ul>

<h3>Deliveries and servicing</h3>

<p>Delivery and servicing&nbsp;trips will be affected by the closures and&nbsp;delays.</p>

<ul>
	<li>If you are a local business, consider <a href="/info-for/deliveries-in-london/delivering-efficiently">retiming your deliveries</a></li>
	<li>If you are making delivery trips across London, use&nbsp;the M25 if possible</li>
</ul>

<h2>Buses</h2>

<p>All bus stops will remain open.</p>

<ul>
	<li>Bus services 34 and 444&nbsp;will be diverted around the closure via the slip road and severely delayed</li>
	<li>Buses on local roads around the Angel Road flyover may be delayed by heavy traffic</li>
</ul>

<p>Find out how your bus may be affected at <a href="http://www.tfl.gov.uk/bus/status">www.tfl.gov.uk/bus/status</a></p>

<h2>Coaches</h2>

<p>Coaches will be diverted around the closures via the slip roads and&nbsp; severely delayed. Contact your coach operator for details and allow plenty of time for your journey.</p>

<h2>Other services</h2>

<p>These works do not affect other&nbsp;TfL or transport services, including London Overground services from Liverpool Street to Enfield Town / Cheshunt, and Greater Anglia National Rail services.</p>
</div>
 
      
        
          
            @this.ScriptBlock(
              @<script>
                queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
              </script>
            )
          
        
      
    </div>
  </div>
  <div class="aside" role="complementary">

   
    
    
    
    <div>




















<div class="advert-tile unsponsored-style google-ads" aria-hidden="true">
  <div class="advert-link">
    <div class="advert-content">
        <div class="medium-large" data-advert="/76889402/non-targeted" data-advert-sizes="300, 250"></div>
        <div class="small" data-advert="/76889402/non-targeted" data-advert-sizes="300, 250"></div>
    </div>
  </div>
</div>
@{
    ViewBag.AmazonSlot = "'amznslots'";
    ViewBag.AmazonAds = "'3199'"; // to add another value, this needs to be ViewBag.AmazonAds = "'3199','xx'";
}
      

 </div>
    
    <div data-set="sidenav-container" class="small-medium"></div>
  </div>
</div>
 
 
        
        
        
            @{ViewBag.Description = "A406 Angel Road part closure";}
        
            
        


 