
    
  



@{ViewBag.Title = "Reimagine event for World Car Free Day";}
@{ViewBag.Keywords = "TfL";}
@{ViewBag.Url = "/status-updates/major-works-and-events/car-free-day-2019";}
@{ViewBag.Language = "en";}
        <!-- empty placeholder -->
 
        
        

@{
    Response.Status = "302 Moved temporarily";
    Response.AddHeader("Location", "/status-updates/major-works-and-events");   
}

 
<div class="r">
    <div class="breadcrumb-container" role="navigation">
        <span id="breadcrumb-label" class="visually-hidden">You are here:</span>
        <ol class="breadcrumbs clearfix" aria-labelledby="breadcrumb-label">
            <li class="home">
                <a href="/">
                    <span class="hide-text">Home</span>
                </a>
            </li>
            
                 <li><a href="/status-updates/index">Status updates</a></li>
                
            
                 <li><a href="/status-updates/major-works-and-events">Major works & events</a></li>
                
            
            
                <li><span class="last-breadcrumb">Reimagine event for World Car Free Day</span></li>
            
        
 
        
 
        
 
        </ol>
    </div>
</div>
     
 
<div class="r">
  <div class="headline-container plain">
    <h1>Reimagine event for World Car Free Day</h1>

  </div>
</div>
<div class="main-and-aside r">
  
  <div class="main content-container" role="main">
    
      <div class="article-teaser">
        Reimagine is a new event to celebrate World Car Free Day on Sunday 22 September 2019. London's biggest celebrations will take place on more than 20 kilometres of closed roads around Tower Bridge, London Bridge and the City of London.
        
      </div>
    
    <div class="on-this-page">
      <p>Find out more&nbsp;about <a href="http://www.london.gov.uk/reimagine">taking part in celebrations</a>.</p>

<h2>Travelling in London</h2>

<p>If you are planning to travel into or within&nbsp;central London, use public transport, walk or cycle. Avoid driving unless absolutely necessary.</p>

<p>Long queues and delays are expected in the areas around the closures.</p>

<h2>Road closures</h2>

<p>There will be extensive road closures and restrictions in the City of London, Southwark and Tower Hamlets between 07:00 to 19:00 on Sunday 22 September.</p>

<p>London Bridge and Tower Bridge will be closed to general traffic. Buses will still run across London Bridge and there will be access for emergency services.</p>

<p>Southwark Bridge may need to be closed to northbound traffic at short notice on the day to help manage traffic.</p>

<p><a href="/status-updates/major-works-and-events/westminster-bridge-works">Westminster Bridge is closed westbound</a> to general traffic for works. Access to Blackfriars Bridge is restricted due to emergency Cadent gas works.</p>

<p>Roads in the surrounding areas will be extremely busy.</p>

<p>There will be significant delays to road journeys.</p>
      
           
      
<div>





<div class="multi-document-download-container">
    

<a class="document-download-wrap xlsx" href="/cdn/static/cms/documents/closed-roads-for-car-free-day-imagine-event-2019.xlsx">
    <div class="document-download-text">
        <p>List of closed roads for Reimagine event 2019</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            XLSX 14KB
            
        </p>
    </div>
    <div class="document-download-icon download-spread">
    </div>

</a>

<!-- 0.01 -->
 
</div>

</div>
 
<div>





<div class="multi-document-download-container">
    

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/central-london-river-crossing-closures-22-sept-2019.pdf">
    <div class="document-download-text">
        <p>Central London river crossing closures on Sunday 22 September 2019</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 520KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.51 -->
 
</div>

</div>
 
<div>





<div class="multi-document-download-container">
    

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/car-free-day-2019-impacted-area.pdf">
    <div class="document-download-text">
        <p>Impacted area - Reimagine event for World Car Free Day 2019</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 1.52MB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 1.52 -->
 

<a class="document-download-wrap xls" href="/cdn/static/cms/documents/affected-postcodes-roads-closed-to-traffic.xls">
    <div class="document-download-text">
        <p>Affected postcodes - Roads closed to traffic</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            XLS 86KB
            
        </p>
    </div>
    <div class="document-download-icon download-spread">
    </div>

</a>

<!-- 0.08 -->
 

<a class="document-download-wrap xls" href="/cdn/static/cms/documents/affected-postcodes-roads-busier-than-usual.xls">
    <div class="document-download-text">
        <p>Affected postcodes - Roads busier than usual</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            XLS 526KB
            
        </p>
    </div>
    <div class="document-download-icon download-spread">
    </div>

</a>

<!-- 0.51 -->
 
</div>
<h2>Driving</h2>

<p>Vehicles will not be able to&nbsp;drive in&nbsp;the closed-roads area.</p>

<p>Avoid driving in central London unless absolutely necessary. For journeys across the capital, avoid central London and use alternative routes such as the A406 or the A205</p>

<p>For the latest information on how London roads are operating, check our <a href="https://tfl.gov.uk/traffic/status/?dateTypeSelect=Now">traffic status updates</a> before you travel.</p>

<h3>Deliveries and servicing</h3>

<p>The road closures (see above) apply to delivery and servicing&nbsp;vehicles.&nbsp;</p>

<p>If your business is in the closed roads area, you should <a href="/info-for/deliveries-in-london/delivering-efficiently">change your deliveries and servicing </a>to&nbsp;a different day or retime them before roads close (at 07:00) or after they reopen (at&nbsp;19.00).</p>

<h2>Buses</h2>

<p>Buses will be affected by the road closures, restrictions and congestion.</p>

<ul>
	<li>Some&nbsp;bus routes will be on diversion or will stop short of their normal destination from 07.00</li>
	<li>Some central London bus routes will not serve their usual stops</li>
	<li>Some bus stops will be temporarily moved or suspended</li>
</ul>

<p>These bus routes will be affected: 4, 8, 11, 15, 17, 21, 25, 26, 42, 43, 47, 76, 78, 133, 141, 343, 344, 381.</p>

<p>Bus routes 35, 43, 48, 141, 149 or 344 will be able to use London Bridge and Bishopsgate but they will not be able to drive on any of the other the closed roads. They may be delayed by congestion.</p>

<p>Find out <a href="http://tfl.gov.uk/bus/status">how your bus will&nbsp;be affected</a>.</p>

<h2>Taxis and private hire</h2>

<p>Taxis and private hire vehicles are not allowed in the closed-road area. You will not be able to get a cab in this area, or travel through it in a cab.</p>

<p>Specific areas for taxi drop off and pick up will be available at the perimeter.</p>

<h2>Cycling</h2>

<p>Cycling is allowed and encouraged in the closed-road area.</p>

<p>Santander Cycles will be free to hire across the whole of London on the day of the event. Use code CarFreeDay2019 to get 24 hours access for free, with all 30 minute journeys included.</p>

<p>There will be staff on hand at Tower Gardens docking station to create more space to dock and provide more bikes to use.</p>

<p>Cycle hire customers are advised to check cycle and space availability on the day using the live, online docking station map &#45; <a href="http://tfl.gov.uk/santandercycles">tfl.gov.uk/santandercycles</a> or the Santander Cycles App.</p>

<h2>Other closures</h2>

<p>There are <a href="/status-updates/planned-track-closures">planned engineering works and closures</a>&nbsp;on the London Underground and overground this weekend.</p>

<h2>Getting to the event</h2>

<p>Events in the City of London will take place between 10:30 and 17:00.</p>

<p>Cycle or use public transport to travel to the event as surrounding roads will be extremely busy and delays are expected.&nbsp; There is no parking for event goers.</p>

<p>The following stations are within the event area&nbsp;or a short walk away</p>

<ul>
	<li><a href="https://tfl.gov.uk/tube/stop/940GZZLUADE/aldgate-east-underground-station/?Input=Aldgate+East+Underground+Station">Aldgate East</a> (District and Hammersmity &amp; City)</li>
	<li><a href="https://tfl.gov.uk/hub/stop/HUBBAN/bank/?Input=Bank">Bank</a> (Central, Northern and DLR)</li>
	<li><a href="https://tfl.gov.uk/hub/stop/HUBBFR/blackfriars/?Input=Blackfriars">Blackfriars</a> (District and National Rail)</li>
	<li><a href="https://tfl.gov.uk/hub/stop/HUBCST/cannon-street/?Input=Cannon+Street">Cannon Street</a> (District and National Rail)</li>
	<li><a href="https://tfl.gov.uk/hub/stop/HUBLST/liverpool-street/?Input=Liverpool+Street">Liverpool Street</a> (Central, Hammersmith &amp; City, London Overground, TfL Rail and National Rail)</li>
	<li><a href="https://tfl.gov.uk/bus/stop/490000139A/london-bridge-station/">London Bridge</a> (Jubilee, Northern and National Rail)</li>
	<li><a href="https://tfl.gov.uk/tube/stop/940GZZLUMSH/mansion-house-underground-station/?Input=Mansion+House+Underground+Station">Mansion House</a> (District)</li>
	<li><a href="https://tfl.gov.uk/hub/stop/940GZZLUMMT/monument-underground-station">Monument (District)</a></li>
	<li><a href="https://tfl.gov.uk/hub/stop/HUBZMG/moorgate/">Moorgate</a> (Northern and National Rail)</li>
	<li><a href="https://tfl.gov.uk/tube/stop/940GZZLUSPU/st-pauls-underground-station/?Input=St.+Paul%27s+Underground+Station">St Paul's</a> (Central)</li>
	<li><a href="https://tfl.gov.uk/dlr/stop/940GZZDLTWG/tower-gateway-dlr-station">Tower Gateway</a> (DLR)</li>
	<li><a href="https://tfl.gov.uk/tube/stop/940GZZLUTWH/tower-hill-underground-station/">Tower Hill</a> (District)</li>
</ul>

<p>River services will be running as normal; <a href="https://tfl.gov.uk/disambiguation?Input=bankside&amp;DataSetsJson=%5B%5B%22stopPoints%22%2C%22%2F%7B%7Bmode%7D%7D%2Fstop%2F%7B%7BnaptanId%7D%7D%2F%7B%7BstopName%7D%7D%2F%22%5D%2C%5B%22routes%22%2C%22%2F%7B%7Bmode%7D%7D%2Froute%2F%7B%7BlineIds%7D%7D%2F%22%5D%5D&amp;Modes=bus%2Ctube%2Cdlr%2Coverground%2Ctflrail%2Criver-bus%2Criver-tour%2Ctram%2Ccable-car%2Cnational-rail&amp;PlaceHolderText=Station%2C+bus+route+or+stop+name">Bankside</a>, <a href="https://tfl.gov.uk/hub/stop/930GTMP/tower-pier/">Tower</a>, <a href="https://tfl.gov.uk/river-bus/stop/930GLBR/london-bridge-city-pier/">London Bridge</a> and <a href="https://tfl.gov.uk/river-tour/stop/930GSTC/st-katharines-pier/?Input=St.+Katharine%27s+Pier">St Katherine's Pier</a> are a short walk from the event area.</p>

<p>London Bridge and Bishopsgate will be open to buses. You will be able to catch routes 35, 43, 48, 141, 149 or 344 to the event area.</p>

<p>Specific areas for taxi drop off and pick up will be available at the perimeter.</p>

<h2>Travel tools</h2>

<p>Our&nbsp;travel tools will help you&nbsp;keep up-to-date with the latest service information.</p>

<ul>
	<li>Use the <a href="http://m.me/tfltravelbot">TfL TravelBot</a> on Facebook Messenger</li>
	<li><a href="https://tfl.gov.uk/plan-a-journey/">Plan a journey</a>&nbsp;can help you plan your route by public transport, cycling or walking</li>
	<li>Check our latest status updates&nbsp;for <a href="https://tfl.gov.uk/traffic/status/">traffic</a>, <a href="https://tfl.gov.uk/bus/status/">buses</a>, and&nbsp;<a href="https://tfl.gov.uk/tube-dlr-overground/status/">Tube and rail services</a>.</li>
	<li><a href="https://tfl.gov.uk/maps?Input=Current+location+">Nearby</a>&nbsp;uses your current location or a postcode or address of your choice and places you on a map, showing you Tube, bus, river, London Overground, DLR, TfL Rail and Santander Cycles locations around you</li>
	<li>Sign up for our <a href="https://tfl.gov.uk/travel-information/social-media-and-email-updates/email-updates">email updates</a></li>
</ul>
</div>
 
      
        
          
            @this.ScriptBlock(
              @<script>
                queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
              </script>
            )
          
        
      
    </div>
  </div>
  <div class="aside" role="complementary">

   
    
    
    
    <div>




















<div class="advert-tile unsponsored-style google-ads" aria-hidden="true">
  <div class="advert-link">
    <div class="advert-content">
        <div class="medium-large" data-advert="/76889402/non-targeted" data-advert-sizes="300, 250"></div>
        <div class="small" data-advert="/76889402/non-targeted" data-advert-sizes="300, 250"></div>
    </div>
  </div>
</div>
@{
    ViewBag.AmazonSlot = "'amznslots'";
    ViewBag.AmazonAds = "'3199'"; // to add another value, this needs to be ViewBag.AmazonAds = "'3199','xx'";
}
      

 </div>
    
    <div data-set="sidenav-container" class="small-medium"></div>
  </div>
</div>
 
 
        
        
        
            @{ViewBag.Description = "Travel advice for Car Free Day";}
        
            
        


 