
    
  


<!-- rhroot -->
@{ViewBag.Title = "Christmas travel";}
@{ViewBag.Keywords = "TfL";}
@{ViewBag.Url = "/status-updates/major-works-and-events/christmas-travel";}
@{ViewBag.Language = "en";}
        <!-- empty placeholder -->
 
        
        

@{
    Response.Status = "301 Moved permanently";
    Response.AddHeader("Location", "/status-updates/major-works-and-events/major-works-and-events");   
}

 
<div class="r">
    <div class="breadcrumb-container" role="navigation">
        <span id="breadcrumb-label" class="visually-hidden">You are here:</span>
        <ol class="breadcrumbs clearfix" aria-labelledby="breadcrumb-label">
            <li class="home">
                <a href="/">
                    <span class="hide-text">Home</span>
                </a>
            </li>
            
                 <li><a href="/status-updates/index">Status updates</a></li>
                
            
                 <li><a href="/status-updates/major-works-and-events">Major works & events</a></li>
                
            
            
                <li><span class="last-breadcrumb">Christmas travel</span></li>
            
        
 
        
 
        
 
        </ol>
    </div>
</div>
     
 
<div class="r">
  <div class="headline-container plain">
    <h1>Christmas travel</h1>

  </div>
</div>
<div class="main-and-aside r">
  
  <div class="main content-container" role="main">
    
      <div class="article-teaser">
        As Christmas approaches, London becomes busier with shoppers and party-goers. Between Monday 23 December 2019 and Thursday 2 January 2020, most of our services will be running. However, there will be some service changes and planned work on parts of the public transport and road networks.
        
      </div>
    
    <div class="on-this-page">
      
      
           
      <div>

<h2>Travel changes and information</h2>

<p>Between Monday 23 December 2019 and Thursday 2 January 2020, planned works and service changes may affect your journey.</p>

<ul>
	<li>The&nbsp;only transport running on Christmas Day will be taxis and private hire;&nbsp;Santander Cycles; and coaches</li>
	<li>There are planned closures on Tube and&nbsp;TfL Rail routes over the festive season</li>
	<li>There are changes to timetables&nbsp;on all TfL services</li>
	<li>Although most major roadworks will be on hold over the Christmas and New Year period, there will be some lane closures for <a href="/status-updates/major-works-and-events/cycleway-9">Cycleway 9</a> construction near Kew Bridge</li>
	<li>Use <a href="/modes/cycling/santander-cycles">Santander Cycles</a> for free over Christmas. Make as many 30-minute journeys as you like within 24 hours free of charge. Use code SCXMAS19</li>
	<li>Planned works and timetable changes also affect National Rail services. Visit <a href="https://nationalrail.co.uk/christmas">nationalrail.co.uk/christmas</a> for more information</li>
</ul>

<p>In the lead up to Christmas, shoppers and party-goers make central London busier.</p>

<h2>Busy stations</h2>

<p>Stations in the area of the <a href="https://hydeparkwinterwonderland.com/getting-here/">Winter Wonderland</a>&nbsp;event in Hyde Park will be very busy and are likely to be exit-only at the busiest times. The following Tube stations will have restricted access:</p>

<h4>Marble Arch and Hyde Park Corner</h4>

<p>Fridays: exit-only 19:00-23:00</p>

<p>Weekends and bank holidays: exit-only 11:00-23:00</p>

<h4>Knightsbridge</h4>

<p>Exit-only -&nbsp;busy times on Friday evenings, weekends and bank holidays.</p>

<h4>Green Park</h4>

<p>Exceptionally busy&nbsp;with queues to use lifts. You could be asked to move around the station differently. Allow extra time, especially if changing lines.</p>

<h4>Travel advice</h4>

<ul>
	<li>Travelling outside the busiest times or using other routes is likely to be&nbsp;quicker and more comfortable</li>
	<li>Consider walking to your destination or other nearby stations</li>
</ul>
</div>
     <div class="image-box">
    
        <img src="/cdn/static/cms/images/hyde-park-corner-map-700x800.jpg" alt="Hyde Park Corner map" />
        <span class="caption">Walking routes to Hyde Park avoiding Hyde Park Corner station</span>
    </div>
 <div>

<p>Walking times to key destinations on the Piccadilly line:</p>

<ul>
	<li>Piccadilly Circus to Tottenham Court Road - 13 minutes</li>
	<li>Leicester Square to Tottenham Court Road - 8 minutes</li>
	<li>Piccadilly Circus to Hyde Park Corner - 22 minutes</li>
</ul>

<p>To help plan your journey, visit the&nbsp;<a href="https://tfl.gov.uk/plan-a-journey/">TfL journey</a>&nbsp;planner.</p>

<h2>New Year events</h2>

<p>Other planned events include the <a href="https://www.london.gov.uk/events/2019-12-31/london-new-years-eve-fireworks-2019">London New Year's Eve Fireworks</a> and the <a href="https://lnydp.com/">London New Year's Day Parade 2020</a>.</p>

<p>Get travel advice for <a href="/status-updates/major-works-and-events/new-year-s-eve-2019">New Year's Eve</a>.</p>

<h2>Information</h2>

<p>Check before you travel and plan ahead using our travel tools. See:</p>

<ul>
	<li>The latest <a href="https://tfl.gov.uk/tube-dlr-overground/status/">status updates</a> for Tube, rail, DLR and Trams</li>
	<li><a href="http://tfl.gov.uk/traffic/status/">Status updates</a> for roads</li>
	<li><a href="https://tfl.gov.uk/plan-a-journey/">Plan a journey</a>, which can help you plan your route by public transport, cycling or walking</li>
	<li>The <a href="http://m.me/tfltravelbot">TfL Travelbot</a> on Facebook Messenger</li>
	<li>Our <a href="https://tfl.gov.uk/travel-information/social-media-and-email-updates/email-updates">email updates</a></li>
	<li><a href="https://tfl.gov.uk/maps?Input=Current+location+">Nearby</a> places you on a map, showing Tube, bus, river, London Overground, DLR, TfL Rail and Santander Cycles locations. It can use your current location, a postcode or an address of your choice</li>
</ul>
</div>
 <div>

<h2>Daily travel advice</h2>

<p>Find out more about travelling on the following days:</p>

<ul>
	<li><a href="/status-updates/major-works-and-events/monday-23-december-2019">Monday 23 December</a></li>
	<li><a href="/status-updates/major-works-and-events/christmas-eve-2019">Christmas Eve</a></li>
	<li><a href="/status-updates/major-works-and-events/christmas-day-2019">Christmas Day</a></li>
	<li><a href="/status-updates/major-works-and-events/boxing-day-2019">Boxing Day</a></li>
	<li><a href="/status-updates/major-works-and-events/friday-27-december-2019">Friday 27 December</a></li>
	<li><a href="/status-updates/major-works-and-events/saturday-28-december-2019">Saturday 28 December</a></li>
	<li><a href="/status-updates/major-works-and-events/sunday-29-december-2019">Sunday 29 December</a></li>
	<li><a href="/status-updates/major-works-and-events/monday-30-december-2019">Monday 30 December</a></li>
	<li><a href="/status-updates/major-works-and-events/new-year-s-eve-2019">New Year's Eve</a></li>
	<li><a href="/status-updates/major-works-and-events/new-year-s-day-2020">New Year's Day</a></li>
	<li><a href="/status-updates/major-works-and-events/thursday-2-january-2020">Thursday 2 January</a></li>
</ul>

<h2>Updates</h2>

<p>All information is subject to change. We'll be updating this page regularly with more detail of what's running over Christmas and New Year.</p>
</div>
 
      
        
          
            @this.ScriptBlock(
              @<script>
                queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
              </script>
            )
          
        
      
    </div>
  </div>
  <div class="aside" role="complementary">

   
    
    
    
    <div>




















<div class="advert-tile unsponsored-style google-ads" aria-hidden="true">
  <div class="advert-link">
    <div class="advert-content">
        <div class="medium-large" data-advert="/76889402/non-targeted" data-advert-sizes="300, 250"></div>
        <div class="small" data-advert="/76889402/non-targeted" data-advert-sizes="300, 250"></div>
    </div>
  </div>
</div>
@{
    ViewBag.AmazonSlot = "'amznslots'";
    ViewBag.AmazonAds = "'3199'"; // to add another value, this needs to be ViewBag.AmazonAds = "'3199','xx'";
}
      

 </div>
    
    <div data-set="sidenav-container" class="small-medium"></div>
  </div>
</div>
 
 
        
        
        
            @{ViewBag.Description = "Travel over Christmas and New Year's 2017/2018 in London may be affected by planned works, events and service changes";}
        
            
        


 