
    
  



@{ViewBag.Title = "Cycleway 4";}
@{ViewBag.Keywords = "TfL";}
@{ViewBag.Url = "/status-updates/major-works-and-events/cycleway-4";}
@{ViewBag.Language = "en";}
        <!-- empty placeholder -->
 
        
        
<div class="r">
    <div class="breadcrumb-container" role="navigation">
        <span id="breadcrumb-label" class="visually-hidden">You are here:</span>
        <ol class="breadcrumbs clearfix" aria-labelledby="breadcrumb-label">
            <li class="home">
                <a href="/">
                    <span class="hide-text">Home</span>
                </a>
            </li>
            
                 <li><a href="/status-updates/index">Status updates</a></li>
                
            
                 <li><a href="/status-updates/major-works-and-events">Major works & events</a></li>
                
            
            
                <li><span class="last-breadcrumb">Cycleway 4</span></li>
            
        
 
        
 
        
 
        </ol>
    </div>
</div>
     
 
<div class="r">
  <div class="headline-container plain">
    <h1>Cycleway 4</h1>

  </div>
</div>
<div class="main-and-aside r">
  
  <div class="main content-container" role="main">
    
      <div class="article-teaser">
        Cycleway 4 will create a continuous segregated cycle route between Tower Bridge and Greenwich. We will be working on a new phase of construction at the junction of Deptford Church Street and Creek Road from 20 November 2019.
        
      </div>
    
    <div class="on-this-page">
      <p>Work&nbsp;to create Cycleway 4 is underway&nbsp;along Tooley Street and&nbsp;Jamaica Road&nbsp;to the Rotherhithe Roundabout.</p>

<p>Find out more&nbsp;<a href="/travel-information/improvements-and-projects/cycle-superhighway-4">about the project</a>.</p>

<h2>Road changes</h2>

<p>Roads will be closed and traffic, including buses, will be on diversion at the following times:</p>

<h3>16-24 February between 21:00 and 05:00 every night</h3>

<p>Rotherhithe Tunnel and roundabout will be closed.</p>

<h3>16 February to 19 February 2020 between 21:00 and 05:00 every night</h3>

<p>Jamaica Road will be closed eastbound from Southwark Park Road to Rotherhithe Roundabout. The road will remain open to westbound traffic</p>

<h3>20 February to 24 February 2020 between 21:00 and 05:00 every night</h3>

<p>&nbsp;Jamaica Road will be closed westbound between Rotherhithe Roundabout and Southwark Park Road. Eastbound traffic will be diverted at Rotherhithe Roundabout via Brunel Road.</p>

<h3>Until&nbsp;April 2020</h3>

<p>Sections of the A200 Tooley Street and Jamaica Road&nbsp;are&nbsp;reduced to one lane in each direction.</p>

<h3>20 November to summer 2020</h3>

<p>Lane restrictions will be in place near the junction of Deptford Church Street and Creek Road junction.</p>

<p>Expect delays:</p>

<ul>
	<li>on the A200 Creek Road, Tooley Street and Jamaica Road</li>
	<li>approaching Rotherhithe roundabout from the A101 Rotherhithe Tunnel&nbsp;and from the A200 Lower Road</li>
</ul>
      
           
      <div class="clearfix">
    <div class="image-box light-box">
    
        
        
        <a href="/cdn/static/cms/images/cycleway4-impact-area.jpg" class="modal-launch" target="_blank">
        <img src="/cdn/static/cms/images/cycleway4-impact-area-700x438.jpg" alt="Cycleway 4 traffic impact map" />
        
        </a>
        
        
    </div>   
 </div>
 
<div>





<div class="multi-document-download-container">
    

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/cycleway4-impact-area.pdf">
    <div class="document-download-text">
        <p>Traffic impact map</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 646KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.63 -->
 
</div>

</div>
 <div>

<h2>Driving</h2>

<p>For a quicker and easier journey use an&nbsp;alternative route or travel outside peak periods. Otherwise you should&nbsp;allow more time for your journey.</p>

<p>If you are travelling westbound north of the river and need to cross, stay&nbsp;on the north bank and use Tower Bridge to avoid the work sites.</p>

<p>If you are already south of the river, use alternative roads such as the Old Kent Road (A2) or A2206 to make your journey to central London.</p>

<p>During the works there will be lane closures, parking restrictions&nbsp;and turning restrictions at different times on Creek Road, Tooley Street, Jamaica Road and borough roads.</p>

<p>When driving in the area please be aware of <a href="https://tfl.gov.uk/modes/driving/rotherhithe-tunnel-restrictions">restrictions on travelling through Rotherhithe Tunnel</a>.</p>

<p>Where possible, use public transport &#45; tube and rail services will not be affected by the works.</p>

<p>For the latest information on how London roads are operating, check our <a href="https://tfl.gov.uk/traffic/status/">traffic status updates</a>.</p>

<h3>Deliveries</h3>

<p>Delivery and servicing trips will be affected by delays.</p>

<p>If you are a local business, consider <a href="/info-for/deliveries-in-london/delivering-efficiently/retiming-deliveries">retiming your deliveries</a>.</p>

<p>If your business makes journeys&nbsp;through the area,&nbsp;consider re-routing.</p>

<h2>Buses</h2>

<p>Buses in the area&nbsp;are maintaining their routes. However,&nbsp;there may be delays.</p>

<p>These&nbsp;routes may be delayed: 47, 188, 199,343, 381, C10, P12, N1, N199, 381 and&nbsp;N381.</p>

<p>Check our <a href="https://tfl.gov.uk/bus/status">bus status updates</a> to find out how your bus may be affected.</p>

<h2>Cycling</h2>

<p>There&nbsp;are signs&nbsp;in place to help cyclists through the roadworks and we regularly review traffic management to make the area as safe as possible.</p>

<p>Use&nbsp;our <a href="https://tfl.gov.uk/maps/cycle">cycle route map</a> to find alternative routes for your journey (eg Quietway 1 - Waterloo to Greenwich).</p>

<h2>Walking</h2>

<p>Footpaths and pedestrian crossings will be open wherever possible, although there may be some temporary closures or diversions.</p>

<p>There are signs&nbsp;to safely guide you through the works area. Shops and businesses in the area will be open throughout the works, and pedestrian access will be maintained.</p>

<h2>Other transport</h2>

<p>Tube and rail services in the area are not affected.&nbsp;</p>

<h2>Use our travel tools</h2>

<p>Keep up-to-date with the latest travel information.</p>

<ul>
	<li>Use the <a href="http://m.me/tfltravelbot">TfL TravelBot</a> on Facebook Messenger</li>
	<li><a href="https://tfl.gov.uk/plan-a-journey/">Plan a journey</a>&nbsp;can help you plan your route by public transport, cycling or walking</li>
	<li>Check our latest status updates&nbsp;for <a href="https://tfl.gov.uk/traffic/status/">traffic</a>, <a href="https://tfl.gov.uk/bus/status/">buses</a>, and&nbsp;<a href="https://tfl.gov.uk/tube-dlr-overground/status/">Tube and rail services</a>.</li>
	<li><a href="https://tfl.gov.uk/maps?Input=Current+location+">Nearby</a>&nbsp;uses your current location or a postcode or address of your choice and places you on a map, showing you Tube, bus, river, London Overground, DLR, TfL Rail and Santander Cycles locations around you</li>
	<li>Sign up for our <a href="https://tfl.gov.uk/travel-information/social-media-and-email-updates/email-updates">email updates</a></li>
</ul>
</div>
 
      
        
          
            @this.ScriptBlock(
              @<script>
                queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
              </script>
            )
          
        
      
    </div>
  </div>
  <div class="aside" role="complementary">

   
    
    
    
    <div>




















<div class="advert-tile unsponsored-style google-ads" aria-hidden="true">
  <div class="advert-link">
    <div class="advert-content">
        <div class="medium-large" data-advert="/76889402/non-targeted" data-advert-sizes="300, 250"></div>
        <div class="small" data-advert="/76889402/non-targeted" data-advert-sizes="300, 250"></div>
    </div>
  </div>
</div>
@{
    ViewBag.AmazonSlot = "'amznslots'";
    ViewBag.AmazonAds = "'3199'"; // to add another value, this needs to be ViewBag.AmazonAds = "'3199','xx'";
}
      

 </div>
    
    <div data-set="sidenav-container" class="small-medium"></div>
  </div>
</div>
 
 
        
        
        
            @{ViewBag.Description = "Travel advice page for construction of Cycleway 4";}
        
            
        


 