
    
  



@{ViewBag.Title = "Cycle Superhighway 11";}
@{ViewBag.Keywords = "TfL,Cycle Superhighway 11 CS11 construction travel advice maps";}
@{ViewBag.Url = "/status-updates/major-works-and-events/cycle-superhighway-11";}
@{ViewBag.Language = "en";}
        <!-- empty placeholder -->
 
        
        

@{
    Response.Status = "302 Moved temporarily";
    Response.AddHeader("Location", "/travel-information/improvements-and-projects/cycle-superhighway-11");   
}

 
<div class="r">
    <div class="breadcrumb-container" role="navigation">
        <span id="breadcrumb-label" class="visually-hidden">You are here:</span>
        <ol class="breadcrumbs clearfix" aria-labelledby="breadcrumb-label">
            <li class="home">
                <a href="/">
                    <span class="hide-text">Home</span>
                </a>
            </li>
            
                 <li><a href="/status-updates/index">Status updates</a></li>
                
            
                 <li><a href="/status-updates/major-works-and-events">Major works & events</a></li>
                
            
            
                <li><span class="last-breadcrumb">Cycle Superhighway 11</span></li>
            
        
 
        
 
        
 
        </ol>
    </div>
</div>
     
 
<div class="r">
  <div class="headline-container plain">
    <h1>Cycle Superhighway 11</h1>

  </div>
</div>
<div class="main-and-aside r">
  
  <div class="main content-container" role="main">
    
      <div class="article-teaser">
        Until September 2019 roads around Swiss Cottage will be busy while we build Cycle Superhighway 11. Here's how your journey may be affected.
        
      </div>
    
    <div class="on-this-page">
      
      
           
      
<div>




<p>View the construction area and live traffic conditions on our <a href="https://tfl.gov.uk/traffic/status/?disruptionIds=TIMS-156219">traffic status map</a>. View the map below for the impact of the works on traffic in the coming months or download the PDF.
</p>
<div class="multi-document-download-container">
    

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/cs11trafficimpact.pdf">
    <div class="document-download-text">
        <p>Cycle Superhighway 11 traffic impact map</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 2.28MB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 2.28 -->
 
</div>

</div>
 <div>

<h2>How your journey could be affected</h2>
<h3>Driving</h3>
<h4>From 30 July 2018 to December 2018</h4>
<p>Drivers should expect some delays while travelling on the A41 Finchley Road through Swiss Cottage. Plan ahead and allow more time for your journey.</p>
<p>Lane closures, parking, and turning restrictions will be in place at different times during works. This will include parking restrictions on Finchley Road and borough roads.</p>
<p>The left- turn into College Crescent will be banned at times to facilitate works and will be permanently banned from mid-October 2018. Please follow signs.</p>
<p>For safety reasons, speed limits will be reduced to 20mph near work areas during construction.</p>
<h4>From January 2019 to May 2019</h4>
<p>Drivers should expect significant delays while travelling along Adelaide Road. If possible, you should consider using the tube, rail or bus to complete your journey through the area.</p>
<p>For the latest information on how London roads are operating, <a href="http://www.tfl.gov.uk/trafficnews">check before you travel</a> and follow <a href="https://twitter.com/TfLTrafficNews">&#64;TfLTrafficNews</a> on Twitter for the latest updates.</p>
<h3>Buses</h3>
<p>From 30 July 2018, buses serving the area may experience delays while works are in place at Swiss Cottage. This could affect routes 13, 31, 46, 113, 187, 268, 603, C11, N28, N31 and N113. Please plan ahead and allow more time for your journey.</p>
<p>The following bus stops will be temporarily suspended with temporary stops nearby. Signs will be in place to direct you to the temporary stops:</p>
<h4>September 2018</h4>
<ul>
    <li>Bus stop B on Finchley Road</li>
</ul>
<h4>October 2018</h4>
<ul>
    <li>Bus stop B on Finchley Road and bus stop F on College Crescent</li>
</ul>
<h4>November 2018</h4>
<ul>
    <li>Bus stop G and bus stop F on College Crescent</li>
</ul>
<p>We are doing all that we can to ensure your bus journey remains reliable, including:</p>
<ul>
    <li>temporary bus stops to make your journey easier</li>
    <li>Hopper fare - unlimited bus journeys in one hour for the price of one (using pay-as-you-go contactless or Oyster)</li>
</ul>
<p>Find out how your bus may be affected by visiting <a href="http://tfl.gov.uk/bus/status">tfl.gov.uk/bus/status</a>. You can also follow <a href="https://twitter.com/TfLBusAlerts">&#64;TfLBusAlerts</a> on Twitter for the latest updates.</p>
<h3>Freight, deliveries and servicing</h3>
<p>If you make or receive deliveries in the area, consider talking to your customers and suppliers now to see if there are changes you need to make, such as retiming to outside the busiest periods. Visit <a href="http://www.tfl.gov.uk/freight">our freight page</a> for more information.</p>
<p>Loading bays will need to be suspended at times to facilitate works. These temporary changes will be clearly signed.</p>
<p>The project's Public Liaison Officer will visit businesses and other organisations along the route to keep them informed as the works progress and discuss alternative loading arrangements.</p>
<h3>Pedestrians</h3>
<p>Footpaths and pedestrian crossings will remain open wherever possible, although some temporary closures<br />
or diversions may be needed. Signs will be in place to safely guide you through the works area.</p>
<p>Shops and businesses in the area will be open throughout the works, and pedestrian access will be maintained.</p>
<h3>Cyclists</h3>
<p>Signage will be in place to help cyclists during works. We will also carry out regular reviews of our traffic management to provide the safest environment possible for road users.</p>
<h2>What we're doing</h2>
<p>As part of a network of Cycle Superhighways across London, Cycle Superhighway 11 (CS11) will give cyclists a clearer, safer route from Swiss Cottage to the West End. More information about the overall scheme can be found on the <a href="/travel-information/improvements-and-projects/cycle-superhighway-11">project webpage</a>.</p>
<h2>Related works</h2>
<p>Works are currently in progress to convert Baker Street and Gloucester Place to two-way traffic. The Wigmore Street pedestrian improvement works are being coordinated with the Baker Street two-way scheme to minimise impacts in the area.</p>
<p>For more information about the scheme, visit our <a href="https://tfl.gov.uk/status-updates/major-works-and-events/baker-street-roadworks">Baker Street roadworks</a> page.</p>
<p>Find out about all major roadworks in London by visiting our <a href="https://tfl.gov.uk/status-updates/major-works-and-events/travel-advice-for-road-users">travel advice for road users</a> page.</p>
</div>
 
      
        
          
            @this.ScriptBlock(
              @<script>
                queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
              </script>
            )
          
        
      
    </div>
  </div>
  <div class="aside" role="complementary">

   
    
    
    
      <div data-set="sidenav-container" class="large">
        
        
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
                <a href="/status-updates/major-works-and-events" class="heading">
                    <h2 id="sub-menu-heading">Major works & events<span class="visually-hidden"> navigation</span></h2>
                </a>
                <ul>
                    
                                <li><div class="link-wrapper"><a href="/status-updates/major-works-and-events/a406-angel-road-flyover-closures">A406 Angel Road flyover closures</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/status-updates/major-works-and-events/christmas-travel">Christmas travel</a></div></li>
                            
 
                                <li class="selected"><div class="link-wrapper"><a href="/status-updates/major-works-and-events/cycle-superhighway-11">Cycle Superhighway 11</a></div>
                            </li>
 
                                <li><div class="link-wrapper"><a href="/status-updates/major-works-and-events/cycleway-4">Cycleway 4</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/status-updates/major-works-and-events/cycleway-9">Cycleway 9</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/status-updates/major-works-and-events/euston-road-works">Euston Road works</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/status-updates/major-works-and-events/easter-travel-2019">Easter travel 2019</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/status-updates/major-works-and-events/hammersmith-bridge-closure">Hammersmith Bridge closure</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/status-updates/major-works-and-events/highbury-corner-roundabout">Highbury Corner roundabout</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/status-updates/major-works-and-events/improvements-between-acton-and-wood-lane">Improvements between Acton and Wood Lane</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/status-updates/major-works-and-events/london-bridge-works">London Bridge works</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/status-updates/major-works-and-events/old-street-roundabout">Old Street roundabout</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/status-updates/major-works-and-events/ride-london-2019">Prudential RideLondon 2019</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/status-updates/major-works-and-events/car-free-day-2019">Reimagine event for World Car Free Day</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/status-updates/major-works-and-events/ridelondon">RideLondon</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/status-updates/major-works-and-events/road-changes-at-victoria-embankment">Road changes at Victoria Embankment</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/status-updates/major-works-and-events/travel-advice-for-road-users">Travel advice for road users</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/status-updates/major-works-and-events/victoria-embankment">Victoria Embankment</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/status-updates/major-works-and-events/west-end-project">West End Project</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/status-updates/major-works-and-events/westminster-bridge-works">Westminster Bridge works</a></div></li>
                            
 
                </ul>
            
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
      </div>
    
    <div>




















<div class="advert-tile unsponsored-style google-ads" aria-hidden="true">
  <div class="advert-link">
    <div class="advert-content">
        <div class="medium-large" data-advert="/76889402/non-targeted" data-advert-sizes="300, 250"></div>
        <div class="small" data-advert="/76889402/non-targeted" data-advert-sizes="300, 250"></div>
    </div>
  </div>
</div>
@{
    ViewBag.AmazonSlot = "'amznslots'";
    ViewBag.AmazonAds = "'3199'"; // to add another value, this needs to be ViewBag.AmazonAds = "'3199','xx'";
}
      

 </div>
    
    <div data-set="sidenav-container" class="small-medium"></div>
  </div>
</div>
 
 
        
        
        
            @{ViewBag.Description = "Cycle Superhighway 11 construction - travel advice and maps";}
        
            
        


 