
    
  



@{ViewBag.Title = "Easter travel 2019";}
@{ViewBag.Keywords = "TfL";}
@{ViewBag.Url = "/status-updates/major-works-and-events/easter-travel-2019";}
@{ViewBag.Language = "en";}
        <!-- empty placeholder -->
 
        
        
<div class="r">
    <div class="breadcrumb-container" role="navigation">
        <span id="breadcrumb-label" class="visually-hidden">You are here:</span>
        <ol class="breadcrumbs clearfix" aria-labelledby="breadcrumb-label">
            <li class="home">
                <a href="/">
                    <span class="hide-text">Home</span>
                </a>
            </li>
            
                 <li><a href="/status-updates/index">Status updates</a></li>
                
            
                 <li><a href="/status-updates/major-works-and-events">Major works & events</a></li>
                
            
            
                <li><span class="last-breadcrumb">Easter travel 2019</span></li>
            
        
 
        
 
        
 
        </ol>
    </div>
</div>
     
 
<div class="r">
  <div class="headline-container plain">
    <h1>Easter travel 2019</h1>

  </div>
</div>
<div class="main-and-aside r">
  
  <div class="main content-container" role="main">
    
      <div class="article-teaser">
        From Good Friday 19 until Easter Monday 22 April, the vast majority of our services, including TfL Rail, will be open. There will be some service changes and planned work on parts of the public transport and road networks.
        
      </div>
    
    <div class="on-this-page">
      
      
           
      <div>

<h2>Travel changes and information</h2>

<p>Over the Easter Bank Holiday (Good Friday 19&nbsp;to Easter&nbsp;Monday 22 April 2019), planned works and service changes may affect your journey.</p>

<p>The main service changes will be:</p>

<ul>
	<li>planned closures on the Circle, District and Hammersmith &amp; City lines, and on DLR and London Overground services</li>
	<li>a nine-day major closure on London Trams</li>
	<li>major road works, including switches to two-way traffic&nbsp;in the <a href="/status-updates/major-works-and-events/west-end-project">West End</a> and around <a href="/status-updates/major-works-and-events/highbury-corner-roundabout">Highbury Corner</a>&nbsp;roundabout</li>
	<li>changes to the&nbsp;frequency and timetabling of services</li>
</ul>

<p>Track closures are subject to change. For the latest information, check our six month look aheads for track and stations.</p>

<p>There will be no Congestion Charge (CC) over the bank holiday, but the new Ultra Low Emission Zone (ULEZ) remains in operation 24/7 throughout the Easter Bank Holiday.</p>

<p>There will be special <a href="/modes/dial-a-ride/index">Dial-a-Ride</a> arrangements over Easter.</p>

<p>Check before you travel and plan ahead using our&nbsp;travel tools.&nbsp;See:</p>

<ul>
	<li><a href="http://tfl.gov.uk/traffic/status/">Status updates</a> for roads</li>
	<li><a href="https://tfl.gov.uk/maps?Input=Current+location+">Nearby</a>, which&nbsp;uses your current location or a postcode or address of your choice and places you on a map, showing you Tube, bus, river, London Overground, DLR, TfL Rail and Santander Cycles locations around you</li>
	<li><a href="http://twitter.com/tfltravelalerts">&#64;TfLTravelalerts</a> and <a href="http://twitter.com/tfltrafficnews">&#64;TfLTrafficNews</a> as well as the <a href="http://m.me/tfltravelbot">TfL Travelbot</a> on Facebook Messenger</li>
	<li>Our <a href="https://tfl.gov.uk/travel-information/social-media-and-email-updates/email-updates">email updates</a></li>
</ul>
</div>
 

<p>This page is updated as information becomes available.</p>

<h2>Buses</h2>

<p>A Saturday service will run on Good Friday (19 April) and Easter Monday (22 April).</p>

<p>The 246 bus will extend to Chartwell House on Easter Monday (22 April).</p>

<p>Highbury Corner roundabout will be removed and replaced with two-way roads overnight from 00:01 to 07:00 in the morning on Easter Monday (22 April)</p>

<ul>
	<li>Bus services will continue but some buses will stop short of their route or be on diversion during the closures. Impacted routes include 4, 19, 30, 43, 263, 271, 277, 393, N19, N41, N277</li>
</ul>

<p>Tottenham Court Road will also be changing to two-way traffic on Saturday (20 April).</p>

<ul>
	<li>Some buses will be re-routed, including 14, 19, 24, 29, 38, 73, 134, 390, N5, N19, N20, N29, N38, N41, N73, N253 and N279</li>
</ul>

<p>If you are walking, cycling and driving in these areas please take extra care. Check both ways for traffic when crossing the road and use pedestrian crossings.</p>

<p>For the latest information on how buses are running, see our <a href="https://tfl.gov.uk/bus/status">bus status updates</a>.</p>

<p>Follow <a href="https://twitter.com/TfLBusAlerts">&#64;TfLBusAlerts</a> for news and service information.</p>

<h2>Tube</h2>

<p>There are planned service changes and closures&nbsp;over the Easter Bank Holiday weekend.</p>

<ul>
	<li>There are planned part-closures on the Circle, District and Hammersmith &amp; City lines</li>
	<li>All other lines are running a Saturday service on Good Friday (19 April)&nbsp;and Easter Monday (21 April)&nbsp;except:
	<ul>
		<li>Jubilee, Northern, Piccadilly and Victoria lines: first trains at weekday times</li>
		<li>Central line: Saturday service with first trains at weekday times (first trains between Hainault and Woodford via Grange Hill&nbsp;at Saturday times)</li>
		<li>Bakerloo line: enhanced service to/from Harrow &amp; Wealdstone to help National Rail customers affected by works at London Euston</li>
	</ul>
	</li>
	<li>Night Tube is running on Good Friday (21 April)&nbsp;and Saturday (20 April)</li>
</ul>

<h3>Circle line</h3>

<ul>
	<li>No service between Edgware Road and Aldgate&nbsp;(via Victoria)&nbsp;on Good Friday (19 April)&nbsp;and Easter Monday (22 April)</li>
</ul>

<h3>District line</h3>

<h4>Good Friday (19 April) and Easter Monday (22 April)</h4>

<ul>
	<li>No service between Hammersmith and Barking</li>
	<li>No service between Edgware Road and Wimbledon / Kensington (Olympia)</li>
</ul>

<h4>Saturday (20 April) and Easter Sunday (21 April)</h4>

<ul>
	<li>No service between Aldgate East and Barking</li>
	<li>No service between Earl's Court&nbsp;and Wimbledon</li>
	<li>Rail replacement buses will run between Hammersmith/Earl's Court and Wimbledon, and between Tower Hill / Canning Town and Barking</li>
</ul>

<h3>Hammersmith &amp; City line</h3>

<h4>Good Friday (19 April) and Easter Monday (22 April)</h4>

<ul>
	<li>No service between Aldgate East and Barking</li>
</ul>

<h4>Saturday (20 April) and Easter Sunday (21 April)</h4>

<ul>
	<li>No service between Liverpool Street and Barking</li>
	<li>Rail replacement buses will run between Tower Hill / Canning Town and Barking</li>
</ul>

<p>See how the Tube is running on our <a href="https://tfl.gov.uk/tube-dlr-overground/status/">status updates</a> page.</p>

<h2>London Overground</h2>

<p>There are service changes and part-closures on London Overground over the Easter Bank Holiday.</p>

<p>From Good Friday (19 April) until Easter Monday (22 April):</p>

<ul>
	<li>There will be no service between Gospel Oak and Barking. Rail replacement buses will run between Gospel Oak and Seven Sisters (for South Tottenham) and between Walthamstow Central and Barking. Use the Victoria line or local bus services between Seven Sisters (for South Tottenham) and Walthamstow Central</li>
	<li>There will be no service between Euston and Kilburn High Road</li>
	<li>There will be a reduced service between Richmond/Willesden Junction and Stratford</li>
	<li>Trains will not stop at Whitechapel station. Use local buses to/from Shoreditch High Street or Shadwell</li>
</ul>

<p>On Good Friday (19 April) and Easter Monday (22 April), a Saturday service will run between Romford and Upminster.</p>

<p>On Saturday (20 April) 20 and Sunday (21 April), there will be no service between Willesden Junction and Clapham Junction.</p>

<p>On Sunday (21 April), there will be no service between:</p>

<ul>
	<li>Liverpool Street and Enfield Town / Cheshunt (via Seven Sisters) and Chingford until 10:15. Use Tube or local bus services between Liverpool Street and Seven Sisters. Rail replacement buses will run between Seven Sisters and Enfield Town / Cheshunt and between Hackney Downs and Chingford</li>
	<li>Sydenham and Crystal Palace. Rail replacement buses will run</li>
</ul>

<p>On Easter Monday (22 April)</p>

<ul>
	<li>There will be no service between Hackney Downs and Enfield Town / Cheshunt (via Seven Sisters) after 22:30. Northbound trains from Liverpool Street to Chingford will call additionally at Cambridge Heath and London Fields after 22:30. Rail replacement buses will run between Liverpool Street and Enfield Town / Cheshunt</li>
</ul>

<p>From Easter Monday (22 April) until Thursday 25 April</p>

<ul>
	<li>There will be no service between Hackney Downs and Enfield Town / Cheshunt (via Seven Sisters) after 22:30 on Easter Monday (22 April), and after 22:45 on Tuesday, Wednesday and Thursday. Rail replacement buses will run</li>
</ul>

<p>See how the London Overground is running on our <a href="https://tfl.gov.uk/tube-dlr-overground/status/">status updates</a> page.</p>

<p>Follow <a href="http://twitter.com/LDNOverground">&#64;LDNOverground</a> on Twitter for news and service information.</p>

<h2>DLR</h2>

<p>There are&nbsp;service changes and&nbsp;part-closures on the DLR over the Easter&nbsp;Bank Holiday.</p>

<ul>
	<li>No service will run&nbsp;between Bank / Tower Gateway and Poplar / West India Quay from Good Friday (19 April) to Easter Monday (22 April)</li>
	<li>Some trains will be diverted to other destinations</li>
	<li>A rail replacement bus service will run: Canary Wharf - Westferry - Limehouse - Shadwell - Tower Gateway - Gracechurch Street (for Monument/Bank)</li>
</ul>

<p>See how the DLR is running on our <a href="https://tfl.gov.uk/tube-dlr-overground/status/">status updates</a> page.</p>

<p>Follow <a href="https://twitter.com/LondonDLR"> &#64;LondonDLR</a> for news and service information.</p>

<h2>Trams</h2>

<p>There will be a nine-day closure affecting some tram routes from Sunday 14 April - Easter Sunday (21 April).</p>

<p>For details see our trams closures page.</p>

<ul>
	<li>On Good Friday (19 April), Saturday (20 April) and Sunday (21 April) April there is no service between Addiscombe and Elmers End / Birkbeck. Replacement buses will run between East Croydon and Birkbeck via Elmers End</li>
	<li>A Saturday service will run between New Addington and West Croydon. There will be a reduced service on all other routes</li>
</ul>

<p>See how trams are running on our <a href="https://tfl.gov.uk/tube-dlr-overground/status/"> status updates</a> page.</p>

<p>Follow&nbsp;<a href="https://twitter.com/TramsLondon">&#64;TramsLondon</a> for news and service information</p>

<h2>TfL Rail</h2>

<p>There are service changes on TfL Rail over the Bank Holiday weekend.</p>

<h3>Liverpool Street-Shenfield</h3>

<ul>
	<li>A Saturday service will run on Good Friday (19 April), Saturday (20 April) and Easter Monday (22 April) - there will be trains about every 10 minutes along the entire line</li>
	<li>A normal Sunday service will run on Easter Sunday (21 April). Trains will run about&nbsp;every 15 minutes between Liverpool Street and Gidea Park. Trains will run about every 30 minutes between Gidea Park and Shenfield</li>
</ul>

<h3>Paddington-Heathrow</h3>

<ul>
	<li>A normal service will run between Paddington and Heathrow throughout the bank holiday weekend</li>
</ul>

<p>See how&nbsp;TfL Rail&nbsp;is running on our <a href="https://tfl.gov.uk/tube-dlr-overground/status/">status updates</a> page.</p>

<p>Follow <a href="http://twitter.com/TfLRail">&#64;TfLRail</a> for news and service information.</p>

<h2>Driving</h2>

<ul>
	<li>There is no <a href="/modes/driving/congestion-charge">Congestion Charge</a> from Good Friday (19 April) to Easter Monday (22 April). The charge resumes as normal on Tuesday 23 April</li>
	<li>The <a href="/modes/driving/ultra-low-emission-zone">Ultra Low Emission Zone (ULEZ)</a>&nbsp; operates in the same area as the Congestion Charge and&nbsp;(unlike the Congestion Charge) remains in operation 24/7 throughout the Easter Bank Holiday</li>
	<li><a href="/status-updates/major-works-and-events/highbury-corner-roundabout">Highbury Corner </a>roundabout and Tottenham Court Road will switch to two-way traffic over the Easter weekend. If you are walking, cycling or driving in these areas please take extra care.</li>
</ul>

<p>See our <a href="https://tfl.gov.uk/traffic/status ">traffic status updates map</a>.</p>

<h2>Cycling</h2>

<p>Highbury Corner roundabout and Tottenham Court Road will switch to two-way traffic over the Easter weekend. If you are cycling or walking&nbsp;in these areas please take extra care.</p>

<h3>Santander cycles</h3>

<p>Santander Cycles will be available throughout the Easter weekend but the following docking stations will be out of service:</p>

<ul>
	<li>&nbsp;Rodney Street, Angel</li>
	<li>&nbsp;Bancroft Road, Bethnal Green</li>
	<li>&nbsp;Baldwin Street, St. Luke's</li>
	<li>&nbsp;Cardinal Place, Victoria</li>
	<li>&nbsp;Rathbone Street, Fitzrovia,</li>
	<li>&nbsp;Howick Place, Westminster</li>
	<li>&nbsp;Wardour Street, Soho</li>
	<li>&nbsp;Tavistock Street, Covent Garden</li>
	<li>&nbsp;Portugal Street, Holborn</li>
	<li>&nbsp;Whiteley's, Bayswater</li>
</ul>

<p>If you want to hire a Santander Cycle, you can check availability using the <a href="/modes/cycling/santander-cycles/find-a-docking-station">online docking station map</a> or use the Santander Cycles App. Follow <a href="https://twitter.com/SantanderCycles">&#64;SantanderCycles</a> for news and customer service.</p>

<h2>Walking</h2>

<p>Highbury Corner roundabout and Tottenham Court Road will switch to two-way traffic over the Easter weekend. If you are walking or&nbsp;cycling in these areas please take extra care. Check both ways for traffic when crossing the road and use pedestrian crossings.</p>

<h2>Emirates Air Line</h2>

<p>The cable car is open over the Bank Holiday weekend.</p>

<p>Services run as normal except on Easter Monday (22 April), when&nbsp;services&nbsp;run from 09:00-22:00.</p>

<p>See our <a href="https://tfl.gov.uk/cable-car/status">Status updates for Emirates&nbsp;Air Line</a>.&nbsp;</p>

<p>Follow&nbsp;<a href="https://twitter.com/EmiratesAirLDN">&#64;EmiratesAirLine </a> for news and service information.</p>

<h2>River</h2>

<p>River services are running over the bank holiday weekend.</p>

<ul>
	<li>A&nbsp;weekend service will run on Thames Clippers on&nbsp;Good Friday (19 April)&nbsp;and Easter Monday (22 April)</li>
	<li>The Woolwich Ferry will run&nbsp;a&nbsp;one-ferry service on Good Friday (19 April)&nbsp;and Easter Monday (22 April)</li>
</ul>

<p>See our <a href="https://tfl.gov.uk/river/status">Status updates</a> for river services.</p>

<p>Follow<a href="https://twitter.com/tflriver">&nbsp;&#64;TfLRiver</a> for news and service information.</p>

<h2>Dial-a-Ride</h2>

<p>Services will run throughout the bank holiday weekend (for registered members only), but no regular bookings will operate on Good Friday (19 April)&nbsp;or Easter Monday (22 April).</p>

<p><a href="/modes/dial-a-ride/bookings">Advanced booking </a>is required for travel from Good Friday (19 April) until Tuesday 23 April.</p>


 
      
        
          
            @this.ScriptBlock(
              @<script>
                queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
              </script>
            )
          
        
      
    </div>
  </div>
  <div class="aside" role="complementary">

   
    
    
    
    <div>




















<div class="advert-tile unsponsored-style google-ads" aria-hidden="true">
  <div class="advert-link">
    <div class="advert-content">
        <div class="medium-large" data-advert="/76889402/non-targeted" data-advert-sizes="300, 250"></div>
        <div class="small" data-advert="/76889402/non-targeted" data-advert-sizes="300, 250"></div>
    </div>
  </div>
</div>
@{
    ViewBag.AmazonSlot = "'amznslots'";
    ViewBag.AmazonAds = "'3199'"; // to add another value, this needs to be ViewBag.AmazonAds = "'3199','xx'";
}
      

 </div>
    
    <div data-set="sidenav-container" class="small-medium"></div>
  </div>
</div>
 
 
        
        
        
            @{ViewBag.Description = "Travel advice for Easter 2019";}
        
            
        


 