
    
  



@{ViewBag.Title = "Euston Road works";}
@{ViewBag.Keywords = "TfL";}
@{ViewBag.Url = "/status-updates/major-works-and-events/euston-road-works";}
@{ViewBag.Language = "en";}
        <!-- empty placeholder -->
 
        
        
<div class="r">
    <div class="breadcrumb-container" role="navigation">
        <span id="breadcrumb-label" class="visually-hidden">You are here:</span>
        <ol class="breadcrumbs clearfix" aria-labelledby="breadcrumb-label">
            <li class="home">
                <a href="/">
                    <span class="hide-text">Home</span>
                </a>
            </li>
            
                 <li><a href="/status-updates/index">Status updates</a></li>
                
            
                 <li><a href="/status-updates/major-works-and-events">Major works & events</a></li>
                
            
            
                <li><span class="last-breadcrumb">Euston Road works</span></li>
            
        
 
        
 
        
 
        </ol>
    </div>
</div>
     
 
<div class="r">
  <div class="headline-container plain">
    <h1>Euston Road works</h1>

  </div>
</div>
<div class="main-and-aside r">
  
  <div class="main content-container" role="main">
    
      <div class="article-teaser">
        We will be carrying out work at the A501 Euston Road junction with Churchway and Duke's Road. This will cause long delays on Euston Road.
        
      </div>
    
    <div class="on-this-page">
      <p>We&nbsp;need to&nbsp;close lanes on the A501 Euston Road,&nbsp;starting on Tuesday 11 February 2020. Work will&nbsp;be completed by the end of March.</p>

<p>We plan to:</p>

<ul>
	<li>install pelican crossings on the side roads of the junction</li>
	<li>Permenantly ban the left turn into Churchway from the A501 Euston Road. The right turn will be temporarily banned to reduce congestion during works</li>
	<li>We will have to close lanes on the A501 Euston Road from Tuesday 11 February 2020</li>
</ul>
      
           
      <div class="clearfix">
    <div class="image-box light-box">
    
        
        
        <a href="/cdn/static/cms/images/euston-road-works-map.jpg" class="modal-launch" target="_blank">
        <img src="/cdn/static/cms/images/euston-road-700x438.jpg" alt="Euston Road works - traffic impact map" />
        
        </a>
        
        
    </div>   
 </div>
 
<div>





<div class="multi-document-download-container">
    

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/euston-road-works-map.pdf">
    <div class="document-download-text">
        <p>Euston Road works - traffic impact map</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 824KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.80 -->
 
</div>
<h2>Driving</h2>

<p>During the most impactful phases and during peak hours we expect long queues that will add significant delays to your journey</p>

<ul>
	<li>from Regents Park going east</li>
	<li>beyond the Kings Cross Gyratory&nbsp;going west</li>
</ul>

<h3>11 February to end of&nbsp;March&nbsp;2020</h3>

<ul>
	<li>There will be lane restrictions on the A501 Euston Road at the junction with Churchway and Duke's Road</li>
	<li>For a period of approximately eight days, Euston&nbsp;Road will be&nbsp;reduced will be to one lane in each direction</li>
	<li>There will be severe delays to journeys across central London</li>
	<li>Euston Road will stay open (apart from two overnight closures, each in one direction only)</li>
	<li>We will&nbsp;keep two lanes out of three open&nbsp;most of the time.</li>
</ul>

<h3>Access to Churchway</h3>

<p>You can no longer&nbsp;turn left into Churchway from the A501 Euston Road.</p>

<p>We have also temporarily&nbsp;banned the right turn into Churchway&nbsp;to help manage congestion.</p>

<p>To get to Churchway follow the signed diversion route.</p>

<h3>Local journeys</h3>

<p>If you need to get to destinations along the A501, Euston Road, it&nbsp;is likely to be quicker and easier on foot, by cycling or&nbsp;on the Tube.</p>

<h3>Driving&nbsp;to&nbsp;central London</h3>

<p>You will be able to drive to central London on the Euston Road (except for two overnight closures).&nbsp;</p>

<p>There will be long queues and lengthy delays. Euston Road is likely to be less busy if you are able to travel early (before 06:00) or late (after 22:00). Alternatively,&nbsp;use a different route.</p>

<h3>Road journeys outside central London</h3>

<p>If you do not need&nbsp;to get&nbsp;to central London, these&nbsp;routes are likely to be quicker and easier:</p>

<ul>
	<li>Inner Ring Road south of the river</li>
	<li>A406 North Circular&nbsp;</li>
	<li>A205 South Circular</li>
</ul>

<h3>Deliveries and loading</h3>

<p>Road deliveries along the Euston Road will be delayed from February until mid March 2020. Consider how you can <a href="/info-for/deliveries-in-london/delivering-efficiently">reduce, retime or revise your deliveries</a>.</p>

<p>If you are running haulage trips through the area&nbsp;consider re routing your journey to avoid delays and disruption &nbsp;(see <strong>Road journeys outside central London</strong>)&nbsp;.</p>

<h2>Buses</h2>

<p>Where possible we will keep the westbound bus lane open to minimise the impact&nbsp;on bus journey times.</p>

<p>Expect delays -&nbsp;plan ahead and allow more time for your journey.</p>

<ul>
	<li>Bus routes <a href="https://tfl.gov.uk/bus/status/?input=30&amp;lineIds=30&amp;&amp;direction=outbound">30</a>, <a href="https://tfl.gov.uk/bus/status/?input=73&amp;lineIds=73&amp;&amp;direction=outbound">73</a>, <a href="https://tfl.gov.uk/bus/status/?Input=91+towards+Trafalgar+Square&amp;lineIds=91&amp;direction=outbound">91</a>, <a href="https://tfl.gov.uk/bus/status/?input=205&amp;lineIds=205&amp;&amp;direction=outbound">205</a>, <a href="https://tfl.gov.uk/bus/status/?Input=390+towards+Archway&amp;lineIds=390&amp;direction=inbound">390</a>, <a href="https://tfl.gov.uk/bus/status/?Input=N73+towards+Walthamstow+Central&amp;lineIds=n73&amp;direction=outbound">N73</a>, <a href="https://tfl.gov.uk/bus/status/?Input=N91+towards+Cockfosters&amp;lineIds=n91&amp;direction=inbound">N91</a>, <a href="https://tfl.gov.uk/bus/status/?Input=N205+towards+Leyton%2C+Downsell+Road&amp;lineIds=n205&amp;direction=outbound">N205</a> will be delayed and disruped on Euston Road from Saturday 15 February to mid March 2020</li>
	<li>Bus route <a href="https://tfl.gov.uk/bus/status/?input=18&amp;lineIds=18&amp;&amp;direction=outbound">18</a> will have revised stopping arrangements at Euston Station. Buses towards Sudbury will now start at Bus Stop E instead of Stop F but continue to serve Stop H in Euston Road near the Friends Meeting House</li>
	<li>Buses will be on diversion for two overnight directional closures of the Euston Road in late March</li>
</ul>

<p>Find out how your bus may be affected by visiting our <a href="https://tfl.gov.uk/bus/status/">bus status updates page</a>.</p>

<h2>Walking</h2>

<p>The scheme will improve safety for people crossing the road on foot.</p>

<p>During works, you will be able to walk to your destination as normal -&nbsp;when necessary a safe route through the works will be clearly signposted.</p>

<p>There will be safe temporary crossings with signals&nbsp;in use at all&nbsp;times on the side roads at the junction. There will be clear signs to the&nbsp;permanent crossing at Upper Woburn place junction, which is less than 100m to the west.</p>

<h2>Cycling</h2>

<p>There is no special provision for cyclists&nbsp;along this stretch of road. There will be significant delays to traffic.</p>

<p>Check out <a href="https://tfl.gov.uk/maps/cycle?intcmp=40402">our cycle route ma</a>p&nbsp;to find an alternative route.</p>

<h2>Other modes of travel</h2>

<p>Other modes of travel are not affected by the works.</p>

<p>Use the Circle and Hammersmith and City lines&nbsp;for fast and reliable links across London from east to west.</p>
</div>
 
      
        
          
            @this.ScriptBlock(
              @<script>
                queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
              </script>
            )
          
        
      
    </div>
  </div>
  <div class="aside" role="complementary">

   
    
    
    
    <div>




















<div class="advert-tile unsponsored-style google-ads" aria-hidden="true">
  <div class="advert-link">
    <div class="advert-content">
        <div class="medium-large" data-advert="/76889402/non-targeted" data-advert-sizes="300, 250"></div>
        <div class="small" data-advert="/76889402/non-targeted" data-advert-sizes="300, 250"></div>
    </div>
  </div>
</div>
@{
    ViewBag.AmazonSlot = "'amznslots'";
    ViewBag.AmazonAds = "'3199'"; // to add another value, this needs to be ViewBag.AmazonAds = "'3199','xx'";
}
      

 </div>
    
    <div data-set="sidenav-container" class="small-medium"></div>
  </div>
</div>
 
 
        
        
        
            @{ViewBag.Description = "Travel advice for Euston Road pedestrian scheme";}
        
            
        


 