
    
  



@{ViewBag.Title = "Friday 27 December 2019";}
@{ViewBag.Keywords = "TfL";}
@{ViewBag.Url = "/status-updates/major-works-and-events/friday-27-december-2019";}
@{ViewBag.Language = "en";}
        <!-- empty placeholder -->
 
        
        
<div class="r">
    <div class="breadcrumb-container" role="navigation">
        <span id="breadcrumb-label" class="visually-hidden">You are here:</span>
        <ol class="breadcrumbs clearfix" aria-labelledby="breadcrumb-label">
            <li class="home">
                <a href="/">
                    <span class="hide-text">Home</span>
                </a>
            </li>
            
                 <li><a href="/status-updates/index">Status updates</a></li>
                
            
                 <li><a href="/status-updates/major-works-and-events">Major works & events</a></li>
                
            
                 <li><a href="/status-updates/major-works-and-events/christmas-travel">Christmas travel</a></li>
                
            
            
                <li><span class="last-breadcrumb">Friday 27 December 2019</span></li>
            
        
 
        
 
        
 
        
 
        </ol>
    </div>
</div>
     
 
<div class="r">
  <div class="headline-container plain">
    <h1>Friday 27 December 2019</h1>

  </div>
</div>
<div class="main-and-aside r">
  
  <div class="main content-container" role="main">
    
      <div class="article-teaser">
        Over the Christmas and New Year period, most of TfL public transport is open. However, planned works and service changes will affect public transport and road travel.
        
      </div>
    
    <div class="on-this-page">
      <p>See our <a href="https://tfl.gov.uk/tube-dlr-overground/status/?Input=&amp;lineIds=&amp;dateTypeSelect=Future date&amp;direction=&amp;startDate=2019-12-27T00%3a00%3a00&amp;endDate=2019-12-27T23%3a59%3a59">Status updates map</a> for Tube, Overground, TfL Rail, DLR and London Trams services for&nbsp;27 December.</p>

<p>There are changes and planned works on the following services today.</p>

<h2>Buses</h2>

<ul>
	<li>Day routes - Saturday service</li>
	<li>24-hour and night routes - normal weekday service</li>
	<li><a href="https://tfl.gov.uk/bus/route/507/?direction=outbound">507</a>&nbsp;route - enhanced Saturday service</li>
	<li><a href="https://tfl.gov.uk/bus/route/521/?direction=outbound">521</a> and <a href="https://tfl.gov.uk/bus/route/68/?direction=outbound">X68</a> - special service</li>
</ul>

<h2>Tube</h2>

<ul>
	<li>Saturday service on all lines&nbsp;except Waterloo &amp; City line</li>
	<li>First trains at weekday times</li>
	<li>No District line service between Earl's Court and Kensington (Olympia)</li>
	<li>Waterloo &amp; City line&nbsp;- reduced service with first and last trains at weekday times</li>
	<li>Central line - first trains between Hainault and Woodford via Grange Hill at Saturday times</li>
	<li>Night Tube running as normal</li>
</ul>

<h2>London Overground</h2>

<ul>
	<li>Weekday service between Highbury &amp; Islington/Dalston Junction&nbsp;and New Cross, Clapham Junction, Crystal Palace and West Croydon</li>
	<li>Friday Night Service trains will not stop at Whitechapel</li>
	<li>Saturday service on all other routes</li>
</ul>

<h2>DLR</h2>

<ul>
	<li>Saturday service</li>
</ul>

<h2>TfL Rail</h2>

<h3>East</h3>

<ul>
	<li>Saturday service between Liverpool Street and Shenfield</li>
	<li>Trains run every 10 minutes&nbsp;between Stratford and Shenfield</li>
</ul>

<h3>West</h3>

<ul>
	<li>No service between Paddington and slough/Heathrow Terminal 4</li>
	<li>Rail replacement buses running between Ealing Broadway, Slough and Hillingdon (not stopping at Acton Main Line, West Ealing and Hanwell)</li>
	<li>Services continue to&nbsp;run&nbsp;between Slough and Reading</li>
	<li>Transfer service between Heathrow terminals</li>
</ul>

<h2>London Trams</h2>

<ul>
	<li>Saturday service</li>
</ul>

<h2>Dial-a-Ride</h2>

<ul>
	<li>Limited regular bookings for today. Book your journeys for today&nbsp;from Friday 13&nbsp;December</li>
	<li>Dial-a-Ride services are for registered members only</li>
</ul>

<h2>River</h2>

<h3>Woolwich Ferry</h3>

<ul>
	<li>Single boat service</li>
</ul>

<h2>Taxi and Private Hire</h2>

<p>Until 06:00 today:</p>

<ul>
	<li>Black cabs will charge an extra &pound;4 per journey</li>
	<li>There may be an extra charge for private hire vehicles (including minicabs) - check when you book&nbsp;</li>
</ul>

<h2>Santander Cycles</h2>

<p>Santander Cycles are available throughout December, including today.</p>

<ul>
	<li>Cycle for free this December. Make as many 30-minute journeys as you like within 24 hours free of charge. Use code SCXMAS19</li>
	<li>Check availability of Santander Cycles using the <a href="/modes/cycling/santander-cycles/find-a-docking-station">online docking station map</a></li>
	<li>Download the Santander Cycles app from the <a href="https://itunes.apple.com/gb/app/santander-cycles/id974792287?mt=8">App Store</a> or <a href="https://play.google.com/store/apps/details?id=uk.gov.tfl.cyclehire&amp;hl=en_GB">Google Play</a></li>
</ul>

<h2>Driving</h2>

<ul>
	<li>The <a href="https://tfl.gov.uk/modes/driving/congestion-charge">Congestion Charge</a> does not apply today. Charges resume&nbsp;on Thursday 2 January</li>
	<li><a href="https://tfl.gov.uk/modes/driving/ultra-low-emission-zone">ULEZ charges</a> apply today</li>
	<li>See our <a href="https://tfl.gov.uk/traffic/status/?Input=&amp;lineIds=&amp;dateTypeSelect=Future%20date&amp;direction=&amp;startDate=2019-12-27T00%3A00%3A00&amp;endDate=2019-12-27T23%3A59%3A59">traffic status updates map</a> for 23 December</li>
</ul>

<h2>Other services</h2>

<p>All our other services are planned to run normally.</p>
      
           
      
      
        
          
            @this.ScriptBlock(
              @<script>
                queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
              </script>
            )
          
        
      
    </div>
  </div>
  <div class="aside" role="complementary">

   
    
    
    
    <div>
























<div class="advert-tile unsponsored-style google-ads" aria-hidden="true">
  <div class="advert-link">
    <div class="advert-content">
        <div class="medium-large" data-advert="/76889402/non-targeted" data-advert-sizes="300, 250"></div>
        <div class="small" data-advert="/76889402/non-targeted" data-advert-sizes="300, 250"></div>
    </div>
  </div>
</div>
@{
    ViewBag.AmazonSlot = "'amznslots'";
    ViewBag.AmazonAds = "'3199'"; // to add another value, this needs to be ViewBag.AmazonAds = "'3199','xx'";
}
      

 </div>
    
    <div data-set="sidenav-container" class="small-medium"></div>
  </div>
</div>
 
 
        
        
        
            @{ViewBag.Description = "Travel advice for Friday 27 December 2019";}
        
            
        


 