
    
  



@{ViewBag.Title = "Improvements between Acton and Wood Lane";}
@{ViewBag.Keywords = "TfL";}
@{ViewBag.Url = "/status-updates/major-works-and-events/improvements-between-acton-and-wood-lane";}
@{ViewBag.Language = "en";}
        <!-- empty placeholder -->
 
        
        
<div class="r">
    <div class="breadcrumb-container" role="navigation">
        <span id="breadcrumb-label" class="visually-hidden">You are here:</span>
        <ol class="breadcrumbs clearfix" aria-labelledby="breadcrumb-label">
            <li class="home">
                <a href="/">
                    <span class="hide-text">Home</span>
                </a>
            </li>
            
                 <li><a href="/status-updates/index">Status updates</a></li>
                
            
                 <li><a href="/status-updates/major-works-and-events">Major works & events</a></li>
                
            
            
                <li><span class="last-breadcrumb">Improvements between Acton and Wood Lane</span></li>
            
        
 
        
 
        
 
        </ol>
    </div>
</div>
     
 
<div class="r">
  <div class="headline-container plain">
    <h1>Improvements between Acton and Wood Lane</h1>

  </div>
</div>
<div class="main-and-aside r">
  
  <div class="main content-container" role="main">
    
      <div class="article-teaser">
        We are building 3.5km of shared use and cycle track on the southern side of the A40/Western Avenue from Acton (Kathleen Avenue) to Wood Lane (near White City). Work started on 18 March 2019 and will be completed early in 2020. Here's how your journey could be affected.
        
      </div>
    
    <div class="on-this-page">
      
      
           
      
<div>



<h2>Traffic impact</h2>



<div class="multi-document-download-container">
    

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/improvement-works-wood-lane-to-acton-july-to-nov2019-v2.pdf">
    <div class="document-download-text">
        <p>Traffic impact map for the area</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 819KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.80 -->
 
</div>

</div>
 <div>

<h2>Travel tools</h2>

<p>Our&nbsp;travel tools will help you&nbsp;keep up-to-date with the latest service information.</p>

<ul>
	<li>Use the <a href="http://m.me/tfltravelbot">TfL TravelBot</a> on Facebook Messenger</li>
	<li><a href="https://tfl.gov.uk/plan-a-journey/">Plan a journey</a>&nbsp;can help you plan your route by public transport, cycling or walking</li>
	<li>Check our latest status updates&nbsp;for <a href="https://tfl.gov.uk/traffic/status/">traffic</a>, <a href="https://tfl.gov.uk/bus/status/">buses</a>, and&nbsp;<a href="https://tfl.gov.uk/tube-dlr-overground/status/">Tube and rail services</a>.</li>
	<li><a href="https://tfl.gov.uk/maps?Input=Current+location+">Nearby</a>&nbsp;uses your current location or a postcode or address of your choice and places you on a map, showing you Tube, bus, river, London Overground, DLR, TfL Rail and Santander Cycles locations around you</li>
	<li>Sign up for our <a href="https://tfl.gov.uk/travel-information/social-media-and-email-updates/email-updates">email updates</a></li>
</ul>

<hr />
<h2>Driving</h2>

<p>Until early 2020, the A40 will be reduced from three lanes to two lanes for westbound traffic, 24 hours a day during works.</p>

<p>From 26 October to 24 November, the left turn slip from the westbound A40 into Leamington Park will be closed.</p>

<p>Queueing is expected to be longer, and impacts to traffic more pronounced, in the PM peak periods for westbound traffic.</p>

<p>View the construction area and live traffic conditions on our <a href="https://tfl.gov.uk/traffic/status?Input=&amp;lineIds=&amp;dateTypeSelect=Future%20date&amp;direction=&amp;startDate=2019-03-18T00%3A00%3A00&amp;endDate=2019-03-18T23%3A59%3A59&amp;corridorIds=a40">traffic status map</a>.</p>

<h3>Driving through the area</h3>

<p>Expect delays while travelling westbound on the A40 until early 2020, especially during PM peak periods (weekdays&nbsp;14:00 &#45; 18:00pm). Plan ahead, travel outside peak periods, and leave extra time for your journey.&nbsp;</p>

<p>Consider alternative ways of travelling, especially the Tube.</p>

<h3>Local traffic</h3>

<p>If you&nbsp;are driving, plan ahead, travel outside peak periods, and allow more time for your journey.</p>

<p>Consider alternative ways of travelling, especially the Tube and cycling.</p>

<h3>Deliveries and servicing</h3>

<p>Speak to your supplier about whether they can re-time deliveries and servicing trips to outside PM peak hours.</p>

<p>Find out more about <a href="/info-for/deliveries-in-london/delivering-efficiently">changing deliveries</a>.</p>

<p>For news about traffic in London, follow <a href="https://twitter.com/TfLTrafficNews">&#64;TfLTrafficNews</a>.</p>

<hr />
<h2>Buses</h2>

<p>Westbound services 95, 260, 283, and 487 will continue as usual on the A40. Bus stops will be maintained.</p>

<p>Some stops will be temporarily relocated at times. Changes to stops will be signed.</p>

<p>Westbound bus services on the A40 may experience delays during PM peak hours. Please plan ahead, allow more time for your journey and, if possible, travel outside peak periods.</p>

<p>For the latest information on how buses are running, see our <a href="https://tfl.gov.uk/bus/status">bus status updates</a>.</p>

<p>Follow <a href="https://twitter.com/TfLBusAlerts">&#64;TfLBusAlerts</a> for news and service information.</p>

<hr />
<h2>Tube</h2>

<p>Tube services are unaffected by the works.</p>

<p>The Tube will be one of the best ways of making journeys to and from the area during these works.</p>

<hr />
<h2>Walking</h2>

<p>Footpaths and pedestrian crossings will remain open wherever possible, although some temporary closures or diversions may apply.&nbsp;There will be signs to guide you safely through the works area.</p>

<p>See our map showing <a href="/cdn/static/cms/documents/walking-tube-map.pdf">walking times between stations</a> on the same Tube line.</p>

<hr />
<h2>Cycling</h2>

<p>Signs will be in place to help cyclists during works.</p>

<p>There are a number of Santander Cycle docking stations near White City.</p>

<p>If you want to hire a Santander Cycle, you can check availability using the <a href="/modes/cycling/santander-cycles/find-a-docking-station">online docking station map</a>.</p>

<p>Follow <a href="https://twitter.com/SantanderCycles">&#64;SantanderCycles</a> for news and customer service.</p>

<p>Find information on <a href="/modes/cycling/index">cycling and nearby cycle routes</a>.</p>

<hr />
<h2>Coaches</h2>

<p>Westbound coach services may&nbsp;be delayed&nbsp;while travelling on the A40.</p>

<h3>Coach operators</h3>

<p>Consider a change to your route if possible to give you a more consistent journey time.&nbsp;</p>

<h3>Coach customers</h3>

<p>Check with your operator before travel.</p>

<hr />
<h2>About the scheme</h2>

<p>The <a href="/travel-information/improvements-and-projects/acton-to-wood-lane-improvements">Acton to Wood Lane improvement project</a>&nbsp;will create more space for cyclists and pedestrians by widening the existing shared-use&nbsp;path on the southern side of the A40.&nbsp;It will also provide a two-way cycle track&nbsp;next to the&nbsp;path between Savoy Circus and Kathleen Avenue.&nbsp;</p>
</div>
 
      
        
          
            @this.ScriptBlock(
              @<script>
                queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
              </script>
            )
          
        
      
    </div>
  </div>
  <div class="aside" role="complementary">

   
    
    
    
    <div>




















<div class="advert-tile unsponsored-style google-ads" aria-hidden="true">
  <div class="advert-link">
    <div class="advert-content">
        <div class="medium-large" data-advert="/76889402/non-targeted" data-advert-sizes="300, 250"></div>
        <div class="small" data-advert="/76889402/non-targeted" data-advert-sizes="300, 250"></div>
    </div>
  </div>
</div>
@{
    ViewBag.AmazonSlot = "'amznslots'";
    ViewBag.AmazonAds = "'3199'"; // to add another value, this needs to be ViewBag.AmazonAds = "'3199','xx'";
}
      

 </div>
    
    <div data-set="sidenav-container" class="small-medium"></div>
  </div>
</div>
 
 
        
        
        
            @{ViewBag.Description = "Cycling and walking improvements on A40 between Wood Lane and Acton";}
        
            
        


 