
    
  



@{ViewBag.Title = "London Bridge works";}
@{ViewBag.Keywords = "TfL";}
@{ViewBag.Url = "/status-updates/major-works-and-events/london-bridge-works";}
@{ViewBag.Language = "en";}
        <!-- empty placeholder -->
 
        
        
<div class="r">
    <div class="breadcrumb-container" role="navigation">
        <span id="breadcrumb-label" class="visually-hidden">You are here:</span>
        <ol class="breadcrumbs clearfix" aria-labelledby="breadcrumb-label">
            <li class="home">
                <a href="/">
                    <span class="hide-text">Home</span>
                </a>
            </li>
            
                 <li><a href="/status-updates/index">Status updates</a></li>
                
            
                 <li><a href="/status-updates/major-works-and-events">Major works & events</a></li>
                
            
            
                <li><span class="last-breadcrumb">London Bridge works</span></li>
            
        
 
        
 
        
 
        </ol>
    </div>
</div>
     
 
<div class="r">
  <div class="headline-container plain">
    <h1>London Bridge works</h1>

  </div>
</div>
<div class="main-and-aside r">
  
  <div class="main content-container" role="main">
    
      <div class="article-teaser">
        London Bridge is closed in both directions to all traffic except buses, licensed taxis and cyclists.
        
      </div>
    
    <div class="on-this-page">
      <p>The City of London is carrying out <a href="http://www.cityoflondon.gov.uk/londonbridgewaterproofing">essential maintenance works to London Bridge</a>.</p>

<p>Until the end of October 2020 London Bridge will be closed in both directions to all traffic except buses, licensed taxis and cyclists.</p>

<p>There are diversions over Tower Bridge and Blackfriars Bridge. These river crossings&nbsp;are&nbsp;extremely busy&nbsp;- seek alternative routes across the river&nbsp;if possible.</p>

<p>You will still be able to walk across the bridge throughout the works,&nbsp;but there is less space than usual as we&nbsp;need need to close one&nbsp;pavement until early August.</p>

<p>Check <a href="https://tfl.gov.uk/traffic/status/?Input=&amp;lineIds=&amp;dateTypeSelect=Future%20date&amp;direction=&amp;startDate=2020-03-16T00%3A00%3A00&amp;endDate=2020-03-16T23%3A59%3A59&amp;disruptionIds=TIMS-96546">Status updates</a> for roads around London Bridge.</p>

<h2>Driving</h2>

<ul>
	<li>There are clear signs for diversions to cross the river&nbsp;via Blackfriars Bridge and Tower Bridge</li>
	<li>These diversions are very busy</li>
	<li>Roads on both approaches to London Bridge&nbsp;are extremely busy especially between 06:00 and 09:00 and 16:00 and 19:00 - retime your journey if possible</li>
	<li>If you are trying to cross the river from the north and your destination is not the immediate Southwark area, please remain on the Victoria Embankment and cross and use any other suitable river crossing</li>
</ul>

<h3>Freight</h3>

<ul>
	<li>Only vehicles less than 18 tonnes are permitted to use Tower Bridge</li>
	<li>If you are running haulage trips through the area, consider re routing to avoid delays and disruption</li>
</ul>

<h3>Tour buses and coach drivers</h3>

<ul>
	<li>Tour buses and coaches&nbsp;are able to use London Bridge as usual throughout the works - journey times will be longer</li>
</ul>

<h2>Cycling</h2>

<ul>
	<li>You can&nbsp;to cycle across&nbsp;London Bridge as usual throughout the works</li>
	<li>There is only&nbsp;one lane open in each direction</li>
	<li>You may have a better journey&nbsp;if you&nbsp;use a different route such as Southwark Bridge or travel outside the busiest times</li>
</ul>

<h2>Buses</h2>

<ul>
	<li>Buses are still be able to travel across London Bridge</li>
	<li>They don't&nbsp;pick up or drop off passengers on the bridge itself</li>
	<li>The northbound (Q, M)&nbsp;and southbound (P,Y)&nbsp;bus stops&nbsp;at either end of the bridge are closed</li>
</ul>

<p>Check <a href="https://tfl.gov.uk/bus/status/">Status updates</a> for buses.</p>

<h2>Other ways of travelling</h2>

<p>The closure does&nbsp;not affect the Tube, London Overground, TfL Rail or the DLR.</p>

<p>Check <a href="https://tfl.gov.uk/tube-dlr-overground/status/">Status updates</a> for the Tube, London Overground TfL Rail, the DLR and trams.</p>

<h2>Advice for businesses</h2>

<p>We advise businesses in the area to:</p>

<ul>
	<li>Communicate travel advice about the works to your employees, visitors and suppliers</li>
	<li>Consider how you can <a href="/info-for/deliveries-in-london/delivering-efficiently">reduce, retime or revise deliveries</a>&nbsp;to your business</li>
	<li>See our&nbsp;<a href="/info-for/deliveries-in-london/delivering-efficiently/deliveries-toolkits">toolkits for reducing&nbsp;and retiming&nbsp;deliveries</a></li>
</ul>
      
           
      <div>

<h2>Use our travel tools</h2>

<p>Check before you travel and plan ahead using our travel tools. Keep up-to-date with the latest service information.</p>

<ul>
	<li>The <a href="http://m.me/tfltravelbot">TfL TravelBot</a> on Facebook Messenger</li>
	<li><a href="https://tfl.gov.uk/plan-a-journey/">Plan a journey</a>, which can help you plan your route by public transport, cycling or walking</li>
	<li>The latest status updates for&nbsp;<a href="https://tfl.gov.uk/traffic/status/?Input=&amp;lineIds=&amp;dateTypeSelect=Future%20date&amp;direction=&amp;startDate=2020-03-16T00%3A00%3A00&amp;endDate=2020-03-16T23%3A59%3A59&amp;disruptionIds=TIMS-96546">roads</a>&nbsp;in the area around London Bridge</li>
	<li><a href="https://tfl.gov.uk/maps?Input=Current+location+">Nearby</a>, which&nbsp;uses your current location or a postcode or address of your choice and places you on a map, showing you Tube, bus, river, London Overground, DLR, TfL Rail and Santander Cycles locations around you</li>
	<li>Our <a href="https://tfl.gov.uk/travel-information/social-media-and-email-updates/email-updates">email updates</a></li>
</ul>
</div>
 
      
        
          
            @this.ScriptBlock(
              @<script>
                queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
              </script>
            )
          
        
      
    </div>
  </div>
  <div class="aside" role="complementary">

   
    
    
    
    <div>




















<div class="advert-tile unsponsored-style google-ads" aria-hidden="true">
  <div class="advert-link">
    <div class="advert-content">
        <div class="medium-large" data-advert="/76889402/non-targeted" data-advert-sizes="300, 250"></div>
        <div class="small" data-advert="/76889402/non-targeted" data-advert-sizes="300, 250"></div>
    </div>
  </div>
</div>
@{
    ViewBag.AmazonSlot = "'amznslots'";
    ViewBag.AmazonAds = "'3199'"; // to add another value, this needs to be ViewBag.AmazonAds = "'3199','xx'";
}
      

 </div>
    
    <div data-set="sidenav-container" class="small-medium"></div>
  </div>
</div>
 
 
        
        
        
            @{ViewBag.Description = "Travel advice for works on London Bridge including closure to traffic";}
        
            
        


 