
    
  



@{ViewBag.Title = "New Year's Day 2020";}
@{ViewBag.Keywords = "TfL";}
@{ViewBag.Url = "/status-updates/major-works-and-events/new-year-s-day-2020";}
@{ViewBag.Language = "en";}
        <!-- empty placeholder -->
 
        
        
<div class="r">
    <div class="breadcrumb-container" role="navigation">
        <span id="breadcrumb-label" class="visually-hidden">You are here:</span>
        <ol class="breadcrumbs clearfix" aria-labelledby="breadcrumb-label">
            <li class="home">
                <a href="/">
                    <span class="hide-text">Home</span>
                </a>
            </li>
            
                 <li><a href="/status-updates/index">Status updates</a></li>
                
            
                 <li><a href="/status-updates/major-works-and-events">Major works & events</a></li>
                
            
                 <li><a href="/status-updates/major-works-and-events/christmas-travel">Christmas travel</a></li>
                
            
            
                <li><span class="last-breadcrumb">New Year's Day 2020</span></li>
            
        
 
        
 
        
 
        
 
        </ol>
    </div>
</div>
     
 
<div class="r">
  <div class="headline-container plain">
    <h1>New Year's Day 2020</h1>

  </div>
</div>
<div class="main-and-aside r">
  
  <div class="main content-container" role="main">
    
      <div class="article-teaser">
        Over the Christmas and New Year period, most of TfL public transport is open. However, planned works and service changes will affect public transport and road travel.
        
      </div>
    
    <div class="on-this-page">
      <p>For travel in the early hours of New Year's Day, see our New Year's Eve page. This page covers travel <strong>after 04:30 </strong>on 1 January 2020.</p>

<p>See our <a href="https://tfl.gov.uk/tube-dlr-overground/status/?Input=&amp;lineIds=&amp;dateTypeSelect=Future date&amp;direction=&amp;startDate=2020-01-01T00%3a00%3a00&amp;endDate=2020-01-01T23%3a59%3a59">Status updates map</a> for Tube, Overground, TfL Rail, DLR and London Trams services for&nbsp;New Year's Day.</p>

<h2>Buses</h2>

<ul>
	<li>Sunday service</li>
	<li>Due to road closures for the New Year's Day Parade, some buses in central London will be diverted or stopped short of their final destination until about 18:00</li>
</ul>

<h2>Tube</h2>

<ul>
	<li>Reduced service on all lines</li>
	<li>First and last trains running at weekday times</li>
	<li>No District&nbsp;line&nbsp;service between Earl's Court and Kensington (Olympia)</li>
	<li>No Metropolitan line service between Baker Street and Aldgate until 10:45</li>
</ul>

<h3>For most lines</h3>

<ul>
	<li>Central London -&nbsp;before 11:00:&nbsp;trains every 7-10 mins. After 11:00: every 3-10 mins</li>
	<li>Outer areas/branches - &nbsp;before 11:00:&nbsp;trains every 20-30 mins. After 11:00: every&nbsp;10-30 mins</li>
</ul>

<h3>There are some exceptions</h3>

<ul>
	<li>District line: no service between Earl's Court and Kensington Olympia all day</li>
	<li>Central line (04:30-11:00): every 40 minutes between Hainault and Woodford</li>
	<li>Hammersmith &amp; City line: (04:30-11:00) every 20 minutes</li>
	<li>Circle line: (04:30-11:00) every 20 minutes</li>
	<li>Metropolitan line:&nbsp;(before 19:00)&nbsp;every 40 minutes to/from Amersham via Watford. (After 19:00)&nbsp;every 40 minutes to/from Chesham, every 40 mins to/from Amersham</li>
	<li>Piccadilly line: no service between Rayners Lane and Uxbridge until 10:45. From 11:00: trains every 20 mins to/from Heathrow Terminal 4</li>
	<li>Waterloo &amp; City line: every 6-10 mins. Saturday first and last&nbsp;train times</li>
</ul>

<h2>London Overground</h2>

<ul>
	<li>Sunday service between Romford and Upminster</li>
	<li>Saturday service on all other&nbsp;routes</li>
	<li>Sunday start time</li>
	<li>No service between Hackney Downs and Enfield Town/Cheshunt (via Seven Sisters) after 22:45</li>
</ul>

<h2>DLR</h2>

<ul>
	<li>Saturday service from 08:00</li>
	<li>Normal finish times</li>
</ul>

<h2>Tfl Rail</h2>

<h3>East</h3>

<ul>
	<li>Saturday service</li>
	<li>Trains every 10 minutes</li>
</ul>

<h3>West</h3>

<ul>
	<li>Paddington-Heathrow Terminal 4 - Saturday service</li>
	<li>Trains every 30 minutes&nbsp;to stations between Paddington, Reading and Heathrow Terminal 4</li>
</ul>

<h2>London Trams</h2>

<ul>
	<li>Sunday service</li>
</ul>

<h2>Dial-a-Ride</h2>

<ul>
	<li>No regular bookings</li>
	<li>Dial-a-Ride services are for registered members only</li>
</ul>

<h2>River</h2>

<h3>Thames Clipper</h3>

<ul>
	<li>No service</li>
</ul>

<h3>Woolwich Ferry</h3>

<ul>
	<li>No service</li>
</ul>

<h2>Emirates Air Line</h2>

<ul>
	<li>Running 09:00-21:00</li>
</ul>

<h2>Taxi and Private Hire</h2>

<p>Until 06:00 on Thursday 2 January</p>

<ul>
	<li>Black cabs will charge an extra &pound;4 per journey</li>
	<li>There may be an extra charge for private hire vehicles (including minicabs) - check when you book</li>
</ul>

<h2>Driving</h2>

<ul>
	<li>The <a href="https://tfl.gov.uk/modes/driving/congestion-charge">Congestion Charge</a> does not apply today.&nbsp;Charges resume on Thursday 2 January</li>
	<li><a href="https://tfl.gov.uk/modes/driving/ultra-low-emission-zone">ULEZ charges</a> apply today</li>
	<li>See our <a href="https://tfl.gov.uk/traffic/status/?Input=&amp;lineIds=&amp;dateTypeSelect=Future date&amp;direction=&amp;startDate=2020-01-01T00%3a00%3a00&amp;endDate=2020-01-01T23%3a59%3a59">traffic status updates map</a> for 1 January</li>
</ul>

<h2>Other services</h2>

<p>All our other services are planned to run normally.</p>
      
           
      
      
        
          
            @this.ScriptBlock(
              @<script>
                queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
              </script>
            )
          
        
      
    </div>
  </div>
  <div class="aside" role="complementary">

   
    
    
    
    <div>
























<div class="advert-tile unsponsored-style google-ads" aria-hidden="true">
  <div class="advert-link">
    <div class="advert-content">
        <div class="medium-large" data-advert="/76889402/non-targeted" data-advert-sizes="300, 250"></div>
        <div class="small" data-advert="/76889402/non-targeted" data-advert-sizes="300, 250"></div>
    </div>
  </div>
</div>
@{
    ViewBag.AmazonSlot = "'amznslots'";
    ViewBag.AmazonAds = "'3199'"; // to add another value, this needs to be ViewBag.AmazonAds = "'3199','xx'";
}
      

 </div>
    
    <div data-set="sidenav-container" class="small-medium"></div>
  </div>
</div>
 
 
        
        
        
            @{ViewBag.Description = "Travel advice for 1 January 2020";}
        
            
        


 