
    
  



@{ViewBag.Title = "New Year's Eve 2019";}
@{ViewBag.Keywords = "TfL";}
@{ViewBag.Url = "/status-updates/major-works-and-events/new-year-s-eve-2019";}
@{ViewBag.Language = "en";}
        <!-- empty placeholder -->
 
        
        
<div class="r">
    <div class="breadcrumb-container" role="navigation">
        <span id="breadcrumb-label" class="visually-hidden">You are here:</span>
        <ol class="breadcrumbs clearfix" aria-labelledby="breadcrumb-label">
            <li class="home">
                <a href="/">
                    <span class="hide-text">Home</span>
                </a>
            </li>
            
                 <li><a href="/status-updates/index">Status updates</a></li>
                
            
                 <li><a href="/status-updates/major-works-and-events">Major works & events</a></li>
                
            
                 <li><a href="/status-updates/major-works-and-events/christmas-travel">Christmas travel</a></li>
                
            
            
                <li><span class="last-breadcrumb">New Year's Eve 2019</span></li>
            
        
 
        
 
        
 
        
 
        </ol>
    </div>
</div>
     
 
<div class="r">
  <div class="headline-container plain">
    <h1>New Year's Eve 2019</h1>

  </div>
</div>
<div class="main-and-aside r">
  
  <div class="main content-container" role="main">
    
      <div class="article-teaser">
        There are changes to transport on New Year's Eve, with many services running all night and free travel on TfL public transport from 23:45 on New Year's Eve until 04:30 on New Year's Day.
        
      </div>
    
    <div class="on-this-page">
      <p>This page covers travel&nbsp;for the whole of&nbsp;New Year's Eve and the early hours of New Year's Day. For travel after 04:30 on 1 January, see our <a href="/status-updates/major-works-and-events/new-year-s-day-2020">New Year's Day page</a>.</p>

<p>It includes changes to roads and public transport for the London New Year's Eve Fireworks.</p>

<p>You must have a ticket to attend the London New Year's Eve&nbsp;Fireworks.&nbsp;For more information&nbsp;visit <a href="http://www.london.gov.uk/nye">www.london.gov.uk/nye</a></p>

<p>See our <a href="https://tfl.gov.uk/tube-dlr-overground/status/?Input=&amp;lineIds=&amp;dateTypeSelect=Future date&amp;direction=&amp;startDate=2019-12-31T00%3a00%3a00&amp;endDate=2019-12-31T23%3a59%3a59">Status updates map</a> for Tube, Overground, TfL Rail, DLR and London Trams services for 31&nbsp;December.</p>
      
           
      <div class="video-gallery-wrapper">

    <div class="ytplayer"></div>

    <div class="gallery-carousel-wrap">
       
  
  
 @this.ScriptBlock(
     @<script>
          queue.push(
            "@Html.ScriptPath("plugins/gallery-media.min.js")", null,
        
            function() {
                var videoPlayer = $(".ytplayer");

                if (videoPlayer.length){
                    videoPlayer.gallery({ videoMode: true });
                }
            }
    );
     </script>
 )
        
  
   <ul class="gallery-carousel">
  
    <!--  -->
    
    
     <li class="gallery-thumb" data-youtubeid="9apiFRQjyVQ" data-video-caption="New Year's Eve travel"></li>
  
  </ul>
</div>
</div>
 

<h2>Road and bridge closures</h2>

<p>From early afternoon, you will not be able to walk, drive or cycle&nbsp;through parts of central London as roads and bridges close for the London New Year's Eve Fireworks.</p>

<div class="table-container"><table border="1" cellpadding="1" cellspacing="1" style="width:500px">
	<tbody>
		<tr>
			<td><strong>Bridge</strong></td>
			<td><strong>Closed from</strong></td>
		</tr>
		<tr>
			<td>Westminster Bridge</td>
			<td>14:00</td>
		</tr>
		<tr>
			<td>Jubilee Footbridge (towards Embankment station)</td>
			<td>14:00</td>
		</tr>
		<tr>
			<td>Jubilee Footbridge (towards South Bank)</td>
			<td>15:00</td>
		</tr>
		<tr>
			<td>Waterloo Bridge</td>
			<td>
			<p>16:00 (pedestrians)</p>

			<p>19:00 (traffic)</p>
			</td>
		</tr>
		<tr>
			<td>Blackfriars Bridge</td>
			<td>
			<p>20:00 (traffic)</p>

			<p>Will close to pedestrians if necessary</p>
			</td>
		</tr>
		<tr>
			<td>Lambeth Bridge</td>
			<td>
			<p>20:00 (traffic)</p>

			<p>Will close to pedestrians if necessary</p>
			</td>
		</tr>
		<tr>
			<td>Southwark Bridge</td>
			<td>Will close if necessary</td>
		</tr>
		<tr>
			<td>Millennium Footbridge</td>
			<td>20:00</td>
		</tr>
		<tr>
			<td>Vauxhall Bridge (pavements only - bridge will remain open to vehicles)</td>
			<td>Police to decide</td>
		</tr>
	</tbody>
</table></div>

<p>If you need to cross the river in central London, use Tube and bus services, which run all night and are free to use from 23:45 until 04:30.</p>

<h2>Travel changes</h2>

<p>There are changes and planned works on the following services today. All our other services are running normally.</p>

<h2>Buses</h2>

<ul>
	<li>From 14:00 some&nbsp;bus routes in central London diverted or stop short of their destination because of&nbsp;road and bridge&nbsp;closures</li>
	<li><a href="https://tfl.gov.uk/bus/route/507/?direction=outbound">507</a>&nbsp;route - enhanced Saturday service</li>
	<li><a href="https://tfl.gov.uk/bus/route/521/?direction=outbound">521</a> and <a href="https://tfl.gov.uk/bus/route/68/?direction=outbound">X68</a> - special service</li>
</ul>

<h2>Tube</h2>

<h3>Daytime and evening</h3>

<ul>
	<li>Reduced service on all lines</li>
	<li>First trains at weekday times</li>
	<li>First Central line trains between Hainault and Woodford via Grange Hill at Saturday times</li>
	<li>No Piccadilly line service between Uxbridge and Rayners Lane</li>
	<li>No District line service between Earl's Court and Kensington (Olympia)</li>
</ul>

<h3>Special all-night service</h3>

<ul>
	<li>Free travel from 23:45 on New Year's Eve to 04:30 on New Year's Day</li>
	<li>Waterloo &amp; City line&nbsp;runs until around 02:40</li>
	<li>No Piccadilly line service between Uxbridge and Rayners Lane</li>
	<li>No District line service between Earl's Court and Kensington (Olympia)</li>
	<li>Trains run all night on all other routes</li>
</ul>

<h3>Tube station closures</h3>

<p>Underground stations near the fireworks event and in busy areas will be&nbsp;exit-only or&nbsp;interchange-only at times to help manage crowds safely. Stations will re-open when it is safe to do so.</p>

<p>Camden Town and Waterloo will use a queuing system.</p>

<div class="table-container"><table border="1" cellpadding="1" cellspacing="1" style="width:500px">
	<tbody>
		<tr>
			<td><strong>Station</strong></td>
			<td><strong>Closure information</strong></td>
		</tr>
		<tr>
			<td>Blackfriars</td>
			<td>Closed from 23:30</td>
		</tr>
		<tr>
			<td>Chalk Farm</td>
			<td>Closed from 22:00</td>
		</tr>
		<tr>
			<td>Charing Cross</td>
			<td>Closed from 23:30</td>
		</tr>
		<tr>
			<td>Covent Garden</td>
			<td>Exit only from 19:00</td>
		</tr>
		<tr>
			<td>Embankment</td>
			<td>Closed from 23:30</td>
		</tr>
		<tr>
			<td>Lambeth North</td>
			<td>Closed from 23:30</td>
		</tr>
		<tr>
			<td>Leicester Square</td>
			<td>
			<p>Exit only from 20:00<br />
			Closed from 23:30</p>
			</td>
		</tr>
		<tr>
			<td>Piccadilly Circus</td>
			<td>Closed from 23:30</td>
		</tr>
		<tr>
			<td>Southwark</td>
			<td>Exit-only from 23:30</td>
		</tr>
		<tr>
			<td>Temple</td>
			<td>Closed from 23:30</td>
		</tr>
		<tr>
			<td>Westminster</td>
			<td>Closed from 21:30</td>
		</tr>
	</tbody>
</table></div>

<h2>London Overground</h2>

<ul>
	<li>Weekday service between Highbury &amp; Islington/Dalston Junction&nbsp;and New Cross, Clapham Junction, Crystal Palace and West Croydon</li>
	<li>Saturday service on all other routes</li>
	<li>Extra northbound trains from Euston to Queen's Park at 01:01 and from Euston to Watford Junction at 01:45</li>
	<li>Special late night services running&nbsp;every 30 minutes between:
	<ul>
		<li>Liverpool Street and Enfield Town until 02:00</li>
		<li>Liverpool Street and&nbsp;Cheshunt (via Seven Sisters) until 01:30</li>
		<li>Liverpool Street and&nbsp;Chingford (southbound&nbsp;until 01:30, northbound until 02:30)</li>
	</ul>
	</li>
	<li>Special overnight services running every 20 minutes&nbsp;between:
	<ul>
		<li>Richmond, Clapham Junction and Stratford</li>
		<li>Highbury &amp; Islington and West Croydon</li>
		<li>Late trains from Euston to Watford Junction until 01:45</li>
	</ul>
	</li>
</ul>

<h2>DLR</h2>

<ul>
	<li>Saturday service until 00:30 on New Year's Day</li>
	<li>15-minute service from 00:30 through the night until 08:00</li>
</ul>

<h2>TfL Rail</h2>

<h3>East</h3>

<ul>
	<li>Trains will run approximately every 15 minutes&nbsp;throughout the night</li>
</ul>

<h3>West</h3>

<ul>
	<li>Reduced service between Paddington and Hayes &amp; Harlington.</li>
	<li>Trains every 30 mins all day and throughout night.</li>
	<li>Trains will not stop at Heathrow Terminals all night</li>
	<li>Trains not stopping at Acton Main Line, West Ealing or Hanwell</li>
</ul>

<h2>London Trams</h2>

<ul>
	<li>Saturday service</li>
	<li>Special all-night service every 30 mins between Wimbledon and Beckenham Junction/New Addington</li>
</ul>

<h2>River</h2>

<h3>Thames Clipper</h3>

<ul>
	<li>Services finish early</li>
	<li>Last stop at London Eye Pier at 15:19</li>
</ul>

<h3>Woolwich Ferry</h3>

<ul>
	<li>Single boat&nbsp;service</li>
</ul>

<h2>Dial-a-Ride</h2>

<ul>
	<li>There will be limited regular bookings for today. Book journeys for today from Tuesday 17&nbsp;December</li>
	<li>Dial-a-Ride services are for registered members only</li>
</ul>

<h2>Taxi and Private Hire</h2>

<p>From 20:00 today until 06:00 on Thursday 2 January:</p>

<ul>
	<li>Black cabs will charge an extra &pound;4 per journey</li>
	<li>There may be an extra charge for private hire vehicles (including minicabs) - check when you book</li>
</ul>

<h2>Cycling</h2>

<ul>
	<li>From early afternoon, you will not be able to cycle through parts of central London as roads and bridges close for the London New Year's Eve Fireworks</li>
	<li>Some sections of the East&#45;West Cycle Superhighway (CS3) and the North&#45;South Cycle Superhighway (CS6) will be closed</li>
	<li>Some Santander Cycles docking stations&nbsp;in central London will be out of service today</li>
</ul>

<h3>Closed docking stations</h3>

<p>Belvedere Road 1 &amp; 2, Bouverie Street, Colombo Street, Concert Hall Approach 1 &amp; 2, Craven Street, Embankment (Savoy), Jubilee Gardens, Lambeth Palace Road, Lower Marsh, Milroy Walk, Northumberland Avenue, Somerset House, Southwark Station 1 &amp; 2, Stamford Street, Storey's Gate, Strand, Tallis Street, Waterloo Bridge, Waterloo Road, Waterloo Station 1, 2 &amp; 3 and Whitehall Place.</p>

<p>Docking stations will be reopened from around 18:00 on Thursday 2 January.</p>

<p>Check availability using the <a href="/modes/cycling/santander-cycles/find-a-docking-station">online docking station map</a>.</p>

<h2>Driving</h2>

<ul>
	<li>The <a href="https://tfl.gov.uk/modes/driving/congestion-charge">Congestion Charge</a> does not apply today. Charges&nbsp;resume&nbsp;on Thursday 2 January</li>
	<li><a href="https://tfl.gov.uk/modes/driving/ultra-low-emission-zone">ULEZ charges</a> apply today and throughout the festive season</li>
	<li>See our <a href="https://tfl.gov.uk/traffic/status/?Input=&amp;lineIds=&amp;dateTypeSelect=Future%20date&amp;direction=&amp;startDate=2019-12-31T00%3A00%3A00&amp;endDate=2019-12-31T23%3A59%3A59">traffic status updates map</a> for&nbsp;31&nbsp;December</li>
</ul>

<p>&nbsp;</p>

<ul>
</ul>

<ul>
</ul>

<ul>
</ul>

<ul>
</ul>


 
      
        
          
            @this.ScriptBlock(
              @<script>
                queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
              </script>
            )
          
        
      
    </div>
  </div>
  <div class="aside" role="complementary">

   
    
    
    
    <div>
























<div class="advert-tile unsponsored-style google-ads" aria-hidden="true">
  <div class="advert-link">
    <div class="advert-content">
        <div class="medium-large" data-advert="/76889402/non-targeted" data-advert-sizes="300, 250"></div>
        <div class="small" data-advert="/76889402/non-targeted" data-advert-sizes="300, 250"></div>
    </div>
  </div>
</div>
@{
    ViewBag.AmazonSlot = "'amznslots'";
    ViewBag.AmazonAds = "'3199'"; // to add another value, this needs to be ViewBag.AmazonAds = "'3199','xx'";
}
      

 </div>
    
    <div data-set="sidenav-container" class="small-medium"></div>
  </div>
</div>
 
 
        
        
        
            @{ViewBag.Description = "Travel advice for New Year's Eve 2019";}
        
            
        


 