
    
  



@{ViewBag.Title = "Old Street roundabout";}
@{ViewBag.Keywords = "TfL";}
@{ViewBag.Url = "/status-updates/major-works-and-events/old-street-roundabout";}
@{ViewBag.Language = "en";}
        <!-- empty placeholder -->
 
        
        
<div class="r">
    <div class="breadcrumb-container" role="navigation">
        <span id="breadcrumb-label" class="visually-hidden">You are here:</span>
        <ol class="breadcrumbs clearfix" aria-labelledby="breadcrumb-label">
            <li class="home">
                <a href="/">
                    <span class="hide-text">Home</span>
                </a>
            </li>
            
                 <li><a href="/status-updates/index">Status updates</a></li>
                
            
                 <li><a href="/status-updates/major-works-and-events">Major works & events</a></li>
                
            
            
                <li><span class="last-breadcrumb">Old Street roundabout</span></li>
            
        
 
        
 
        
 
        </ol>
    </div>
</div>
     
 
<div class="r">
  <div class="headline-container plain">
    <h1>Old Street roundabout</h1>

  </div>
</div>
<div class="main-and-aside r">
  
  <div class="main content-container" role="main">
    
      <div class="article-teaser">
        We're carrying out work to make the junction of Old Street and City Road  more pedestrian- and cycle-friendly.
        
      </div>
    
    <div class="on-this-page">
      <p>We have switched the roundabout to two-way traffic. <a href="/travel-information/improvements-and-projects/old-street-roundabout">More about the project</a>.</p>

<p>Here is how transport is affected.</p>

<h2>Bus</h2>

<h3><strong>Until autumn 2020</strong></h3>

<ul>
	<li>Buses are running on their normal routes, but may be delayed at the Old Street junction</li>
</ul>

<p>For the latest information on how buses are running, see our <a href="https://tfl.gov.uk/bus/status">bus status updates</a>.</p>

<p>Follow <a href="https://twitter.com/TfLBusAlerts">&#64;TfLBusAlerts</a> for news and service information.</p>

<h2>Driving</h2>

<h3>Until spring 2020</h3>

<ul>
	<li>Old Street is two-way&nbsp;and the south-eastern section of the junction is closed to vehicles</li>
	<li>&nbsp;Delays are expected in all directions on the approach to the Old Street junction - allow more time for your journey. Alternatively, you may wish to consider making your local journey by cycling or walking&nbsp;</li>
</ul>
      
           
      <div>

<h2>Congestion Charging&nbsp;&amp; Ultra Low Emission Zone</h2>

<p>From 26 May 2019 TfL amended the Congestion Charging (CC) &amp; Ultra Low Emission Zone (ULEZ) boundary at Old Street&nbsp;roundabout.</p>

<ul>
	<li>For most drivers, the change will make&nbsp;little difference&nbsp; - you can still avoid the zone by using the A501 Old Street and City Road</li>
	<li>Traffic flow on the Old Street Station service road has been reversed to exit into the CC &amp; ULEZ zones.</li>
</ul>

<h2>Local businesses receiving delivery and servicing trips</h2>

<p>Delays are expected during construction works at the Old Street roundabout until autumn 2020.</p>

<ul>
	<li>Consider taking action to minimise the impact of any delivery or servicing trips made to your premises by:
	<ul>
		<li>Talking to your supplier about whether they can re-time their trips to outside of peak hours</li>
		<li>Reducing trips by streamlining your suppliers and the number of visits they make to your premises</li>
	</ul>
	</li>
	<li>We are running a programme of support for local businesses around Old Street to help minimise the impact of the works on delivery and servicing trips. For more information, email <a href="mailto:tdm&#64;tfl.gov.uk?subject=Old%20Street%20freight">tdm&#64;tfl.gov.uk</a> with 'Old Street Freight' in the subject line</li>
</ul>

<p>For the latest information on how London roads are operating, see our <a href="https://tfl.gov.uk/traffic/status">traffic status updates map.</a></p>

<p>For news about traffic in London, follow <a href="https://twitter.com/TfLTrafficNews">&#64;TfLTrafficNews</a> on Twitter.</p>

<h2>Cycling</h2>

<h3>Until spring 2020</h3>

<ul>
	<li>Some segregated cycle lanes and dedicated cycle signals are in place at the Old Street junction</li>
	<li>We also have signed cycle routes in place to help guide you through the area</li>
	<li>Take care as you travel through the new two-way system, and be aware of pedestrians and other traffic</li>
</ul>
</div>
 <div class="clearfix">
    <div class="image-box light-box">
    
        
        
        <a href="/cdn/static/cms/images/old-street-cycle-routes-from-27-may.jpg" class="modal-launch" target="_blank">
        <img src="/cdn/static/cms/images/old-street-cycle-routes-from-27-may-small.jpg" alt="Old Street roundabout cycle routes" />
        <span class="caption">Segregated cycle route</span>
        </a>
        
        
    </div>   
 </div>
 
<div>





<div class="multi-document-download-container">
    

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/old-street-works-alternative-cycling-routes.pdf">
    <div class="document-download-text">
        <p>Alternative cycling routes</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 383KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.37 -->
 
</div>

</div>
 <div>

<p>There are a number of Santander cycle docking stations in the area. Check availability using the <a href="/modes/cycling/santander-cycles/find-a-docking-station">online docking station map</a>. You can download the Santander Cycles app from the <a href="https://itunes.apple.com/gb/app/santander-cycles/id974792287?mt=8">App Store</a> or <a href="https://play.google.com/store/apps/details?id=uk.gov.tfl.cyclehire&amp;hl=en_GB">Google Play</a>.</p>

<p>Follow <a href="https://twitter.com/SantanderCycles">&#64;SantanderCycles</a> for news and customer service.</p>

<h2>Walking</h2>

<h3>7 May 2019&nbsp;- early 2020</h3>

<ul>
	<li>The pedestrian subway on Cowper Street (subway 2) is closed</li>
	<li>There is no access to subway 2, which may mean you have a longer walk into or out of&nbsp;the station</li>
	<li>There are signs to guide you through the area&nbsp;</li>
</ul>

<h2>Tube and rail</h2>

<p>Tube and rail services are not affected by the Old Street roundabout works.&nbsp;It may take longer than usual to get into and out of&nbsp;Old Street station during construction works - allow extra time.</p>

<h2>Information</h2>

<p>Check before you travel and plan ahead using our&nbsp;travel tools.&nbsp;See:</p>

<ul>
	<li><a href="http://tfl.gov.uk/traffic/status/">Status updates</a> for roads</li>
	<li><a href="https://tfl.gov.uk/plan-a-journey/">Plan a journey</a>, which can help you plan your route</li>
	<li><a href="https://tfl.gov.uk/maps?Input=Current+location+">Nearby</a>, which&nbsp;uses your current location or a postcode or address of your choice and places you on a map, showing you Tube, bus, river, London Overground, DLR, TfL Rail and Santander Cycles locations around you</li>
	<li><a href="http://twitter.com/tflbusalerts">&#64;TfLBusAlerts</a> and <a href="http://twitter.com/tfltrafficnews">&#64;TfLTrafficNews</a> as well as the <a href="http://m.me/tfltravelbot">TfL Travelbot</a> on Facebook Messenger</li>
	<li>Our <a href="https://tfl.gov.uk/travel-information/social-media-and-email-updates/email-updates">email updates</a></li>
</ul>
</div>
 
      
        
          
            @this.ScriptBlock(
              @<script>
                queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
              </script>
            )
          
        
      
    </div>
  </div>
  <div class="aside" role="complementary">

   
    
    
    
      <div data-set="sidenav-container" class="large">
        
        
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
                <a href="/status-updates/major-works-and-events" class="heading">
                    <h2 id="sub-menu-heading">Major works & events<span class="visually-hidden"> navigation</span></h2>
                </a>
                <ul>
                    
                                <li><div class="link-wrapper"><a href="/status-updates/major-works-and-events/a406-angel-road-flyover-closures">A406 Angel Road flyover closures</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/status-updates/major-works-and-events/christmas-travel">Christmas travel</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/status-updates/major-works-and-events/cycle-superhighway-11">Cycle Superhighway 11</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/status-updates/major-works-and-events/cycleway-4">Cycleway 4</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/status-updates/major-works-and-events/cycleway-9">Cycleway 9</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/status-updates/major-works-and-events/euston-road-works">Euston Road works</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/status-updates/major-works-and-events/easter-travel-2019">Easter travel 2019</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/status-updates/major-works-and-events/hammersmith-bridge-closure">Hammersmith Bridge closure</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/status-updates/major-works-and-events/highbury-corner-roundabout">Highbury Corner roundabout</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/status-updates/major-works-and-events/improvements-between-acton-and-wood-lane">Improvements between Acton and Wood Lane</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/status-updates/major-works-and-events/london-bridge-works">London Bridge works</a></div></li>
                            
 
                                <li class="selected"><div class="link-wrapper"><a href="/status-updates/major-works-and-events/old-street-roundabout">Old Street roundabout</a></div>
                            </li>
 
                                <li class="parent"><div class="link-wrapper"><a href="/status-updates/major-works-and-events/ride-london-2019">Prudential RideLondon 2019</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/status-updates/major-works-and-events/car-free-day-2019">Reimagine event for World Car Free Day</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/status-updates/major-works-and-events/ridelondon">RideLondon</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/status-updates/major-works-and-events/road-changes-at-victoria-embankment">Road changes at Victoria Embankment</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/status-updates/major-works-and-events/travel-advice-for-road-users">Travel advice for road users</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/status-updates/major-works-and-events/victoria-embankment">Victoria Embankment</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/status-updates/major-works-and-events/west-end-project">West End Project</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/status-updates/major-works-and-events/westminster-bridge-works">Westminster Bridge works</a></div></li>
                            
 
                </ul>
            
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
      </div>
    
    <div>




















<div class="advert-tile unsponsored-style google-ads" aria-hidden="true">
  <div class="advert-link">
    <div class="advert-content">
        <div class="medium-large" data-advert="/76889402/non-targeted" data-advert-sizes="300, 250"></div>
        <div class="small" data-advert="/76889402/non-targeted" data-advert-sizes="300, 250"></div>
    </div>
  </div>
</div>
@{
    ViewBag.AmazonSlot = "'amznslots'";
    ViewBag.AmazonAds = "'3199'"; // to add another value, this needs to be ViewBag.AmazonAds = "'3199','xx'";
}
      

 </div>
    
    <div data-set="sidenav-container" class="small-medium"></div>
  </div>
</div>
 
 
        
        
        
            @{ViewBag.Description = "Travel advice for Old Street Roundabout switch";}
        
            
        


 