
    
  



@{ViewBag.Title = "Prudential RideLondon 2018";}
@{ViewBag.Keywords = "TfL,RideLondon, Prudential RideLondon";}
@{ViewBag.Url = "/status-updates/major-works-and-events/ridelondon";}
@{ViewBag.Language = "en";}
        <!-- empty placeholder -->
 
        
        

@{
    Response.Status = "302 Moved temporarily";
    Response.AddHeader("Location", "/status-updates/major-works-and-events");   
}

 

  <div class="section-image-container medium-large" data-highlight-image="/cdn/static/cms/images/promos/webpageheader1.png" data-highlight-for=".section-image-container" data-highlight-size="medium-large" style="background-image: url(/cdn/static/cms/images/promos/webpageheader1.png)"> </div>

<div class="r">
    <div class="breadcrumb-container" role="navigation">
        <span id="breadcrumb-label" class="visually-hidden">You are here:</span>
        <ol class="breadcrumbs clearfix" aria-labelledby="breadcrumb-label">
            <li class="home">
                <a href="/">
                    <span class="hide-text">Home</span>
                </a>
            </li>
            
                 <li><a href="/status-updates/index">Status updates</a></li>
                
            
                 <li><a href="/status-updates/major-works-and-events">Major works & events</a></li>
                
            
            
                <li><span class="last-breadcrumb">Prudential RideLondon 2018</span></li>
            
        
 
        
 
        
 
        </ol>
    </div>
</div>
     
 

  
  <div class="r">
    <div class="headline-container section-title section-landing-container ">
      <div class="section-title-wrap">
        <h1 class="hero-headline">RideLondon</h1>
        
      </div>
    </div>
  </div>



    
   
    <div class="r">
        <div class="main clearfix" role="main">
            
        
        
            <div class="section-overview full-width clearfix ">
                <div class="small-medium" data-set="section-intro"></div>
                <div>
                    <div class="large" data-set="section-intro">
                        
                    </div>
                <p>The Prudential RideLondon cycling events return on Saturday 28 July on closed roads in central London and on Sunday 29 July on closed roads in east, central and south-west London, and in parts of Surrey.</p>
                </div>
            </div>
        
         
        
        
        
                
                <div class="clearfix">
                    <div>

<p>You can view the event route maps on the <a href="https://www.prudentialridelondon.co.uk/">Prudential RideLondon&nbsp;website</a>. See below for travel advice for Saturday 28 July. <a href="/status-updates/major-works-and-events/ridelondon-sunday-29-july">Click here</a>&nbsp;for travel advice for Sunday 29 July</p>

<h2>Travel disruption and advice</h2>

<h3>Drivers</h3>

<p>Road closures will impact more than the immediate Prudential RideLondon event routes, which cannot be crossed by vehicles. Drivers are advised to, wherever possible, avoid areas near and around the event routes as follows:</p>

<ul>
	<li>On Saturday 28 July between 05:00 and 19:30&nbsp; in central London</li>
	<li>On Sunday 29 July between 04:00 to 20:00 in east, central and south west London and in the affected parts of Surrey</li>
</ul>

<p>Roads between Tower Bridge and Commercial Street will be busier than usual and your journey may take up to twice as long, especially between 16:00 and 20:00 on Saturday.</p>

<p>There will also be significant disruption on London's roads on Sunday, in particular around Battersea Park Road, the A308 in Kingston and the A13 Newham Way, where journey times are anticipated to double.</p>

<p>Drivers will be unable to cross the route and journeys from west to south or southwest London will need to be made via the M25.&nbsp; If you must drive, please ensure you allow plenty of time and prepare to take a longer route than usual.</p>

<h3>Buses</h3>

<p>Bus routes will be on diversion or will finish early due to the road closures on both event days. Many central London bus routes will not serve their usual stops. You are advised to plan ahead and check publicity for more information.</p>

<h3>Tube</h3>

<p>Tube &amp; Rail will be the best way to get around central London on the day. Please plan ahead and check before you travel.</p>

<p>Please <a href="https://tfl.gov.uk/plan-a-journey/">plan your journey</a> ahead of the event.</p>
</div>
 
<h2>Spectators</h2>

<p>On Saturday 28 July, spectators will be able to watch the following events in London:</p>

<ul>
	<li>Prudential RideLondon FreeCycle &#45; up to 70,000 cyclists exploring an 8-mile traffic-free loop in central London.</li>
	<li>Prudential RideLondon Classique &#45; see the world's best female cyclists compete in this UCI World Tour race.</li>
	<li>Brompton World Championships &#45; The 11th Brompton World Championship Final will take place on closed roads around St James's Park.</li>
</ul>

<p>Other areas to watch the action along the route and nearest stations include:</p>
<div class="table-container"><table border="1" cellpadding="1" cellspacing="1" style="height:158px; width:440px">
	<tbody>
		<tr>
			<td style="width: 141px;"><strong>Spectator points</strong></td>
			<td style="width: 121px;"><strong>Stations</strong></td>
			<td style="width: 167px;"><strong>Lines</strong></td>
		</tr>
		<tr>
			<td style="width: 141px;">St James's Park</td>
			<td style="width: 121px;">St James's Park</td>
			<td style="width: 167px;">Circle &amp; District</td>
		</tr>
		<tr>
			<td style="width: 141px;">Green Park</td>
			<td style="width: 121px;">Green Park</td>
			<td style="width: 167px;">Jubilee, Piccadilly &amp; Victoria</td>
		</tr>
		<tr>
			<td style="width: 141px;">Westminster</td>
			<td style="width: 121px;">Westminster</td>
			<td style="width: 167px;">Circle, District &amp; Jubilee</td>
		</tr>
		<tr>
			<td style="width: 141px;">Piccadilly Circus</td>
			<td style="width: 121px;">Piccadilly Circus</td>
			<td style="width: 167px;">Bakerloo &amp; Piccadilly</td>
		</tr>
		<tr>
			<td style="width: 141px;">Leicester Square</td>
			<td style="width: 121px;">Leicester Square</td>
			<td style="width: 167px;">Northern &amp; Piccadilly</td>
		</tr>
	</tbody>
</table></div>
<p>For spectator advice for Sunday 29 July, <a href="/status-updates/major-works-and-events/ridelondon-sunday-29-july">click here</a>.</p>

<h3>Road users</h3>

<p>Closures will be in place in and around St James's Park to prepare for the weekend events.</p>

<h4>Road closures from 07:30 on Friday 27 July &#45; 06:00 on Monday 30 July</h4>

<ul>
	<li>The Mall (between Horse Guards Road and Queens Gardens)</li>
	<li>Marlborough road</li>
</ul>

<h4>Road closures in central London</h4>

<p><strong>Saturday 28 July</strong></p>

<p>Prudential RideLondon FreeCycle follows an 8-mile circuit of closed roads in Westminster and the City of London. If you are driving in the vicinity of these road closures you will experience additional delays. Please allow more time for your journey.</p>

<p><strong>Road closures from 05:00 &#45; 18:00:</strong></p>

<ul>
	<li>St Paul's Churchyard</li>
</ul>

<p><strong>From 06:00 &#45; 18:00:</strong></p>

<ul>
	<li>Aldwych</li>
	<li>Angel Street</li>
	<li>Cannon Street</li>
	<li>Cheapside</li>
	<li>Cornhill</li>
	<li>Fenchurch Street</li>
	<li>Gresham Street</li>
	<li>Holborn</li>
	<li>Holborn Viaduct</li>
	<li>King Edward Street</li>
	<li>King Street</li>
	<li>King William Street</li>
	<li>Kingsway</li>
	<li>Leadenhalll Street</li>
	<li>Lime Street</li>
	<li>Lincolns Inn Fields</li>
	<li>Lombard Street</li>
	<li>Lothbury, Bartholomew Lane</li>
	<li>New Change</li>
	<li>Newgate Street</li>
	<li>Newman's Row</li>
	<li>Puddle Dock</li>
	<li>Queen Victoria Street</li>
	<li>St Martin's Le Grand</li>
	<li>Threadneedle Street</li>
	<li>White Lion Hill</li>
</ul>

<p><strong>From 07:00 &#45; 18:00:</strong></p>

<ul>
	<li>Upper Thames Street</li>
	<li>Victoria Embankment</li>
	<li>Aldwych</li>
	<li>Kingsway southbound</li>
	<li>Waterloo Bridge</li>
</ul>

<p><strong>From 07:00 &#45; 19:30:</strong></p>

<ul>
	<li>The Strand</li>
	<li>Horse Guards Avenue</li>
	<li>Whitehall</li>
	<li>Parliament Square (north side)</li>
	<li>Trafalgar Square</li>
	<li>Cockspur Street</li>
	<li>Duncannon Street</li>
	<li>Pall Mall East</li>
</ul>

<p><strong>From 04:00 on Saturday 28 July &#45; 06:00 on Monday 30 July:</strong></p>

<ul>
	<li>Constitution Hill</li>
	<li>Horse Guards Road</li>
	<li>Birdcage Walk</li>
	<li>Spur Road</li>
	<li>Great George Street</li>
</ul>

<p><a href="/status-updates/major-works-and-events/ridelondon-sunday-29-july">Click here</a>&nbsp;for details of Sunday 29 June road closures.</p>

<h3>RideLondon live road closure tool</h3>

<p>To help plan your travel, road closure information for Saturday 28 and Sunday 29 July can be viewed prior to the event and live on the day by <a href="http://PrudentialRideLondon.co.uk/road-closures">clicking here</a>.</p>

 

 @this.ScriptBlock(
     @<script>
          queue.push(
            "@Html.ScriptPath("plugins/gallery-media.min.js")", null,
            function() {
                var galleryLite = $(".gallery-lite");

                if (galleryLite.length) {
                    galleryLite.gallery();
                }
            }
        );
     </script>
 )
      
<div class="gallery-lite-wrap">
    <ul class="gallery-lite no-borders">
    
    
      <!--  -->
      
      
      
        <li class="gallery-item">
            <figure>
                <img src="/cdn/static/cms/images/prudential-ride-london-traffic-impact8.png" alt="" />
                <figcaption>


                </figcaption>
            </figure>
        </li>
    
  </ul>
</div>
 
                </div>
                <hr>
                
                
                <div class="module-grid clearfix">
                    
                    
                    
                    
                </div>
        
        
        
          
        
    </div>
    
      
      <div class="aside no-full-width-intro" role="complementary">
    
        <div data-set="sidenav-container" class="large">
          
        </div>
        <div class="module-grid clearfix">
          




















<div class="advert-tile unsponsored-style google-ads" aria-hidden="true">
  <div class="advert-link">
    <div class="advert-content">
        <div class="medium-large" data-advert="/76889402/non-targeted" data-advert-sizes="300, 250"></div>
        <div class="small" data-advert="/76889402/non-targeted" data-advert-sizes="300, 250"></div>
    </div>
  </div>
</div>
@{
    ViewBag.AmazonSlot = "'amznslots'";
    ViewBag.AmazonAds = "'3199'"; // to add another value, this needs to be ViewBag.AmazonAds = "'3199','xx'";
}
      

 
          
        </div>
        <div data-set="sidenav-container" class="small-medium"></div>
      </div>
  </div>
 
        
        
        
            @{ViewBag.Description = "Travel advice and information for Prudential RideLondon, Saturday 28 and Sunday 29 July 2018";}
        
            
        


 