
    
  



@{ViewBag.Title = "Road changes at Victoria Embankment";}
@{ViewBag.Keywords = "TfL";}
@{ViewBag.Url = "/status-updates/major-works-and-events/road-changes-at-victoria-embankment";}
@{ViewBag.Language = "en";}
        <!-- empty placeholder -->
 
        
        
<div class="r">
    <div class="breadcrumb-container" role="navigation">
        <span id="breadcrumb-label" class="visually-hidden">You are here:</span>
        <ol class="breadcrumbs clearfix" aria-labelledby="breadcrumb-label">
            <li class="home">
                <a href="/">
                    <span class="hide-text">Home</span>
                </a>
            </li>
            
                 <li><a href="/status-updates/index">Status updates</a></li>
                
            
                 <li><a href="/status-updates/major-works-and-events">Major works & events</a></li>
                
            
            
                <li><span class="last-breadcrumb">Road changes at Victoria Embankment</span></li>
            
        
 
        
 
        
 
        </ol>
    </div>
</div>
     
 
<div class="r">
  <div class="headline-container plain">
    <h1>Road changes at Victoria Embankment</h1>

  </div>
</div>
<div class="main-and-aside r">
  
  <div class="main content-container" role="main">
    
      <div class="article-teaser">
        Tideway is building a new 25km-long sewer under the Thames, as London's sewage is now at capacity. Two of their construction sites, along Victoria Embankment between Northumberland Avenue and Horse Guards Avenue, and at Blackfriars will affect drivers, cyclists and pedestrians until around 2021. Here's how your journey could be affected.
        
      </div>
    
    <div class="on-this-page">
      <h2>Map of changes</h2>
<p>View the layout changes on the image below, or you can also download this map as a PDF.</p>
      
           
      
<div class="module-grid clearfix">
<div class="clearfix">
    <div class="image-box light-box left-float">
    
        
        
        <a href="/cdn/static/cms/images/thames-tideway-cycling-large.png" class="modal-launch" target="_blank">
             <img src="/cdn/static/cms/images/thames-tideway-cycling-v16-small_rdax_400x250.png" alt="Tideway at Blackfriars" />
             <span class="caption">Layout changes - click for larger image</span>
        </a>
        
        
    </div>
    
 </div>
 
</div>
 
<div>





<div class="multi-document-download-container">
    

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/thames-tideway-cycling-v16.pdf">
    <div class="document-download-text">
        <p>Layout changes from Mon 20 February 2017</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 594KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.58 -->
 
</div>

</div>
 <div class="video-gallery-wrapper">

    <div class="ytplayer"></div>

    <div class="gallery-carousel-wrap">
       
  
  
 @this.ScriptBlock(
     @<script>
          queue.push(
            "@Html.ScriptPath("plugins/gallery-media.min.js")", null,
        
            function() {
                var videoPlayer = $(".ytplayer");

                if (videoPlayer.length){
                    videoPlayer.gallery({ videoMode: true });
                }
            }
    );
     </script>
 )
        
  
   <ul class="gallery-carousel">
  
    <!--  -->
    
    
     <li class="gallery-thumb" data-youtubeid="vnsDNcjoKxU" data-video-caption="Tideway - road layout for cyclists"></li>
  
  </ul>
</div>
</div>
 <div>

<hr />
<h2>Cycling</h2>

<p><strong>Northumberland Avenue to Horse Guards Avenue</strong></p>

<p>Cyclists will still have segregated, two-way cycle lanes throughout the works.</p>

<p><strong>Blackfriars</strong></p>

<p>The works at Blackfriars affect the East-West (CS3) and North-South (CS6) cycle superhighways.</p>

<ul>
	<li>The layout shown above is in effect throughout the works</li>
	<li>You'll still have segregated two-way cycle lanes on the Victoria Embankment slip-road. This will link East-West and North-South</li>
</ul>

<p>Check availability of Santander Cycles using the <a href="/modes/cycling/santander-cycles/find-a-docking-station">online docking station map</a>, or visit our <a href="/modes/cycling/index">cycling section</a> for full information on cycling in London.</p>

<hr />
<h2>Driving</h2>

<p><strong>Northumberland Avenue to Horse Guards Avenue</strong></p>

<p>Two-way traffic along Victoria Embankment will be maintained throughout the works.</p>

<p>Some overnight lane closures will be required throughout &#45; dates will be confirmed once they are known. Two way access will be maintained at all times.</p>

<p><strong>Blackfriars</strong></p>

<p>The changes to the Cycle Superhighways at Blackfriars will mean that on the Victoria Embankment slip road, westbound traffic is diverted.</p>

<p>A signed diversion route is in place. For westbound access to Victoria Embankment:</p>

<ul>
	<li>Travelling north on Blackfriars Road: use Stamford Street, IMAX roundabout, Waterloo Bridge, Strand, Arundel Street and Temple Place</li>
	<li>Travelling south on New Bridge Street: use Fleet Street, Strand, Arundel Street and Temple Place</li>
</ul>

<p><strong>Traffic in the area</strong></p>

<p>Throughout the works, roads in the surrounding area will be busier than usual. Please plan ahead and allow extra time for your journey.</p>

<p>For the latest information on how roads are operating, see our <a href="https://tfl.gov.uk/traffic/status/">traffic status updates page</a> or <a href="https://twitter.com/tfltrafficnews">follow &#64;TfLTrafficNews on Twitter</a>.</p>

<hr />
<h2>Buses</h2>

<p><strong>Blackfriars</strong></p>

<p>The <strong>N550</strong> is diverted in both directions until Tideway works at Blackfriars are complete. The diversion will take the bus via Fleet Street, Strand and Ludgate Hill.</p>

<p>For the latest information on how buses are operating, see our <a href="https://tfl.gov.uk/bus/status/">bus status updates</a> or follow <a href="https://twitter.com/TfLBusAlerts">&#64;TfLBusAlerts on Twitter</a>.</p>

<hr />
<h2>Taxis &amp; minicabs</h2>

<p>No taxi ranks will be suspended, but journey times will be affected by traffic and diversions in the area - please plan your journey in advance and leave more time to travel.</p>

<p>For up-to-date information for the taxi and private hire industry, visit our <a href="/modes/taxis-and-minicabs/index">taxis and minicabs section</a> or <a href="https://twitter.com/TfLTPH">follow &#64;TfLTPH on Twitter</a>.</p>

<hr />
<h2>Coaches</h2>

<p><strong>Northumberland Avenue to Horse Guards Avenue</strong></p>

<p>Part of one of the coach bays along Victoria Embankment, near the Royal Air Force Memorial, will be used as a shared loading bay until the works are completed. Loading will be available until 11am, after which time it will revert back to coach parking only.</p>

<p><strong>Blackfriars</strong></p>

<p>Coaches travelling through the affected area may be diverted and not stop at Blackfriars station.</p>

<p>Contact your <a href="/modes/coaches/coach-companies">coach operator</a> for details about possible changes to services, and allow plenty of time to travel.</p>

<hr />
<h2>Deliveries in London</h2>

<p>Part of the coach bays along Victoria Embankment near the Royal Air Force Memorial is now used as a loading bay. Loading will be available until 11am, after which time it will revert back to coach parking only.</p>

<p><strong>Blackfriars</strong></p>

<ul>
	<li>Freight drivers should familiarise themselves with the new road layout</li>
	<li>There are no height, weight or width restrictions on the diversion route, but here is a length restriction on Fleet Street of 40 feet. Large vehicles should use Stamford Street</li>
	<li>Temple Avenue/Victoria Embankment - loading bay along the westbound lane will not be in use</li>
</ul>

<p>If you make or receive deliveries around Blackfriars or Victoria Embankment, talk to your customers and suppliers ahead of time. You may want to consider changing the times of your deliveries to avoid road closures, or using alternative routes that avoid busy areas.</p>

<p>You can also:</p>

<ul>
	<li><a href="mailto:freight&#64;tfl.gov.uk?Subject=TfL%20Roads%20travel%20update">Sign up to the TfL road travel update</a> for regular information and advice</li>
	<li>Find out <a href="/corporate/publications-and-reports/freight">how other businesses have changed the way they plan deliveries</a> in London.</li>
</ul>

<hr />
<h2>Walking</h2>

<p><strong>Northumberland Avenue to Horse Guards Avenue</strong></p>

<p>Part of the riverside walk (Thames Path), between Northumberland Avenue and Horse Guards Avenue is closed until works are completed. Pedestrians will still be able to use the footpath on the opposite side of the road alongside Whitehall Gardens. This alternative walking route&nbsp;is signposted.</p>

<p>View the route by downloading this PDF.</p>
</div>
 
<div>





<div class="multi-document-download-container">
    

<a class="document-download-wrap landscape-download-image with-image pdfpdf" href="/cdn/static/cms/documents/tideway-pedestrian.pdf">
    <div class="document-download-text">
        <p>Pedestrian and cycle route at Victoria Embankment - March 2017 to 2021</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 256KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

    <div class="document-download-image">
        <img src="/cdn/static/cms/images/tideway-pedestrian-thumb.png" alt="Pedestrian cycle changes at Victoria Embankment" />
    </div>

</a>

<!-- 0.25 -->
 
</div>

</div>
 <div>

<h3>Blackfriars</h3>
<p>From late March, part of the Riverside Walk (Thames Path), between Blackfriars Bridge and Temple Avenue will be closed.</p>
<p>Download the new pedestrian route below. </p>
</div>
 
<div>





<div class="multi-document-download-container">
    

<a class="document-download-wrap landscape-download-image with-image pdfpdf" href="/cdn/static/cms/documents/thames-tideway-pedestrian.pdf">
    <div class="document-download-text">
        <p>Pedestrian route at Blackfriars - March 2017 to 2021</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 801KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

    <div class="document-download-image">
        <img src="/cdn/static/cms/images/thames-tideway-pedestrian.jpg" alt="Pedestrian diversion" />
    </div>

</a>

<!-- 0.78 -->
 
</div>

</div>
 <div>

<p>To keep access for everyone,  there is a lift to street level near Blackfriars Bridge and you'll still be able to use the footpath on the Victoria Embankment slip road. It will be clearly signed as an alternative walking option.</p>
<hr />
<h2>Why this is happening </h2>
<p>London's sewage system is now at capacity meaning that millions of tonnes of sewage have to be released into the River Thames every year.</p>
<p>To tackle these overflows from the Capital's Victorian sewers for at least the next 120 years Tideway is building a new 25 kilometre long sewer under the River Thames between 2017 and 2023.</p>
<p>There will be 24 construction sites across London, some of which have the potential to disrupt transport at certain times.</p>
<p>After construction, more than four acres of new public space will be created next to the River Thames and the new tunnel will allow the UK to meet European environmental standards.</p>
<p>Works will take around four years to complete. Find out more on the <a href="https://www.tideway.london/the-tunnel/construction-sites/blackfriars-bridge-foreshore-city-of-london/">Tideway site</a>.</p>
<hr />
</div>
 
      
        
          
            @this.ScriptBlock(
              @<script>
                queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
              </script>
            )
          
        
      
    </div>
  </div>
  <div class="aside" role="complementary">

   
    
    
    
      <div data-set="sidenav-container" class="large">
        
          

<div><a class="twitter-timeline" data-tweet-limit="3" href="https://twitter.com/TfLTrafficNews">Tweets by TfLTrafficNews</a> <script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script></div>

      </div>
    
    <div>




















<div class="advert-tile unsponsored-style google-ads" aria-hidden="true">
  <div class="advert-link">
    <div class="advert-content">
        <div class="medium-large" data-advert="/76889402/non-targeted" data-advert-sizes="300, 250"></div>
        <div class="small" data-advert="/76889402/non-targeted" data-advert-sizes="300, 250"></div>
    </div>
  </div>
</div>
@{
    ViewBag.AmazonSlot = "'amznslots'";
    ViewBag.AmazonAds = "'3199'"; // to add another value, this needs to be ViewBag.AmazonAds = "'3199','xx'";
}
      

 </div>
    
    <div data-set="sidenav-container" class="small-medium"></div>
  </div>
</div>
 
 
        
        
        
            @{ViewBag.Description = "Travel advice for road changes and changes to Cycle Superhighway 3 around Victoria Embankment at Blackfriars";}
        
            
        


 