
    
  



@{ViewBag.Title = "Travel advice for road users";}
@{ViewBag.Keywords = "TfL";}
@{ViewBag.Url = "/status-updates/major-works-and-events/travel-advice-for-road-users";}
@{ViewBag.Language = "en";}
        <!-- empty placeholder -->
 
        
        
<div class="r">
    <div class="breadcrumb-container" role="navigation">
        <span id="breadcrumb-label" class="visually-hidden">You are here:</span>
        <ol class="breadcrumbs clearfix" aria-labelledby="breadcrumb-label">
            <li class="home">
                <a href="/">
                    <span class="hide-text">Home</span>
                </a>
            </li>
            
                 <li><a href="/status-updates/index">Status updates</a></li>
                
            
                 <li><a href="/status-updates/major-works-and-events">Major works & events</a></li>
                
            
            
                <li><span class="last-breadcrumb">Travel advice for road users</span></li>
            
        
 
        
 
        
 
        </ol>
    </div>
</div>
     
 
<div class="r">
  <div class="headline-container plain">
    <h1>Travel advice for road users</h1>

  </div>
</div>
<div class="main-and-aside r">
  
  <div class="main content-container" role="main">
    
      <div class="article-teaser">
        As London's economy and population booms, the number of works needed for London's modernisation is also growing. We will do everything we can to minimise disruption during construction works, but some people will experience increased congestion at times. Find out how we plan to keep the Capital moving, and how you can help improve your journey.
        
      </div>
    
    <div class="on-this-page">
      <h2>Live traffic information</h2>

<p>For live information on traffic conditions in London, you can:</p>

<ul>
	<li>Check our <a href="http://tfl.gov.uk/traffic/status/">traffic status tool</a></li>
	<li><a href="https://twitter.com/tfltrafficnews">Follow &#64;TfLTrafficNews on Twitter</a></li>
	<li>For the latest information on how buses are running, see our <a href="https://tfl.gov.uk/bus/status/">bus status updates</a> or follow <a href="https://twitter.com/TfLBusAlerts">&#64;TfLBusAlerts on Twitter</a></li>
	<li>Check cycle hire availability using the <a href="/modes/cycling/santander-cycles/find-a-docking-station"> live docking station map</a>, and follow <a href="http://www.twitter.com/santandercycles">&#64;SantanderCycles </a>on Twitter</li>
</ul>

<h2>Major works on our network</h2>

<p>To help you plan your journey, we regularly estimate the impact of&nbsp;construction works on your journey time.</p>
      
           
      
       
@{Html.RenderAction("MajorWorkEvent", "Plans", new { disruptionId = ""} );}
        







 <div>

<h3>Downloads</h3>
</div>
 
<div>





<div class="multi-document-download-container">
    

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/major-works-v133-jan2020.pdf">
    <div class="document-download-text">
        <p>All-London traffic impact map &#45; January 2020</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 845KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.83 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/major-works-v133-feb2020.pdf">
    <div class="document-download-text">
        <p>All-London traffic impact map &#45; February 2020</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 844KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.82 -->
 

<a class="document-download-wrap xls" href="/cdn/static/cms/documents/postcodes-january-and-february-2020.xls">
    <div class="document-download-text">
        <p>Areas affected by postcode &#45; January and February 2020</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            XLS 1.03MB
            
        </p>
    </div>
    <div class="document-download-icon download-spread">
    </div>

</a>

<!-- 1.03 -->
 
</div>

</div>
 <div>

<h3>Major roadworks</h3>

<p>Find out specific travel advice for current projects in London:</p>

<p><strong>Central London works</strong></p>

<ul>
	<li><a href="/status-updates/major-works-and-events/victoria-embankment">Victoria Embankment</a></li>
</ul>

<h2>Blackwall Tunnel</h2>

<ul>
	<li>In 2015, there were 350 breakdowns in or on the approach to the tunnel. Make sure your vehicle is well maintained and check your fuel before you travel</li>
	<li>The maximum height of the northbound tunnel is 4.0m/13&quot;. The maximum height of the southbound tunnel is 4.7m/15.4&quot;. Check your vehicle &#45; if exceeds this, you'll need to use an alternative route</li>
	<li>Pedestrians and cyclists are not allowed to enter the Blackwall Tunnel for safety reasons</li>
</ul>

<h3>Peak times</h3>

<p>Journey times are increasing in the tunnel. You could have a quicker journey if you're able to avoid the busiest times.</p>
</div>
 
<div class="module-grid clearfix">
<div class="clearfix">
    <div class="image-box light-box left-float">
    
        
        
        <a href="/cdn/static/cms/images/busiest-graph-weekday-large.png" class="modal-launch" target="_blank">
             <img src="/cdn/static/cms/images/busiest-graph-weekday-nort_rdax_400x250.png" alt="Blackwall Tunnel busiest times - weekdays northbound" />
             <span class="caption">Busiest times on weekdays - click for larger image</span>
        </a>
        
        
    </div>
    
 </div>
 <div class="clearfix">
    <div class="image-box light-box left-float">
    
        
        
        <a href="/cdn/static/cms/images/busiest-graph-weekend-large.png" class="modal-launch" target="_blank">
             <img src="/cdn/static/cms/images/busiest-graph-weekend-nort_rdax_400x250.png" alt="Blackwall Tunnel - busiest times northbound" />
             <span class="caption">Busiest times at the weekend - click for larger image</span>
        </a>
        
        
    </div>
    
 </div>
 
</div>
 <div>

<h2>Castelnau</h2>

<h3>Peak times</h3>

<p>Journey times are increasing during peak times at Castelnau. The following charts highlight the busiest times of the day to drive through Castelnau on weekdays and weekends.You could have a quicker journey if you can avoid the busiest times.</p>
</div>
 
<div class="module-grid clearfix">
<div class="clearfix">
    <div class="image-box light-box right-float">
    
        
        
        <a href="/cdn/static/cms/images/cnauweeklarge.jpg" class="modal-launch" target="_blank">
             <img src="/cdn/static/cms/images/cnauweek_rdax_400x250.jpeg" alt="jpeg" />
             <span class="caption">Busiest times on weekdays - click for larger image</span>
        </a>
        
        
    </div>
    
 </div>
 <div class="clearfix">
    <div class="image-box light-box right-float">
    
        
        
        <a href="/cdn/static/cms/images/cnausatlarge.jpg" class="modal-launch" target="_blank">
             <img src="/cdn/static/cms/images/cnausat_rdax_400x250.jpeg" alt="jpeg" />
             <span class="caption">Busiest times on Saturday - click for larger image</span>
        </a>
        
        
    </div>
    
 </div>
 <div class="clearfix">
    <div class="image-box light-box right-float">
    
        
        
        <a href="/cdn/static/cms/images/cnausunlarge.jpg" class="modal-launch" target="_blank">
             <img src="/cdn/static/cms/images/cnausun_rdax_400x250.jpeg" alt="jpeg" />
             <span class="caption">Busiest times on Sunday - click for larger image</span>
        </a>
        
        
    </div>
    
 </div>
 
</div>
 <div>

<h2>A2 New Cross Road</h2>

<h3>Peak times</h3>

<p>Journey times are increasing at A2 New Cross Road eastbound. The following charts highlight the busiest times of the day to drive through A2 New Cross Road eastbound&nbsp;on weekdays and weekends. You could have a quicker journey if you can avoid the busiest times.</p>
</div>
 
<div class="module-grid clearfix">
<div class="clearfix">
    <div class="image-box light-box right-float">
    
        
        
        <a href="/cdn/static/cms/images/a2ncweeklarge.jpg" class="modal-launch" target="_blank">
             <img src="/cdn/static/cms/images/a2ncrweek_rdax_400x250.jpeg" alt="jpeg" />
             <span class="caption">Busiest times on weekdays - click for larger image</span>
        </a>
        
        
    </div>
    
 </div>
 <div class="clearfix">
    <div class="image-box light-box right-float">
    
        
        
        <a href="/cdn/static/cms/images/a2ncsatlarge.jpg" class="modal-launch" target="_blank">
             <img src="/cdn/static/cms/images/a2ncrsat.jpeg_rdax_400x250.jpeg" alt="jpeg" />
             <span class="caption">Busiest times on Saturday - click for larger image</span>
        </a>
        
        
    </div>
    
 </div>
 <div class="clearfix">
    <div class="image-box light-box right-float">
    
        
        
        <a href="/cdn/static/cms/images/a2ncsunlarge.jpg" class="modal-launch" target="_blank">
             <img src="/cdn/static/cms/images/a2ncrsun.jpeg_rdax_400x250.jpeg" alt="jpeg" />
             <span class="caption">Busiest times on Sunday - click for larger image</span>
        </a>
        
        
    </div>
    
 </div>
 
</div>
 
      
        
          
            @this.ScriptBlock(
              @<script>
                queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
              </script>
            )
          
        
      
    </div>
  </div>
  <div class="aside" role="complementary">

   
    
    
    
      <div data-set="sidenav-container" class="large">
        
          

<div><a class="twitter-timeline" data-tweet-limit="3" href="https://twitter.com/TfLTrafficNews">Tweets by TfLTrafficNews</a> <script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script></div>

      </div>
    
    <div>




















<div class="advert-tile unsponsored-style google-ads" aria-hidden="true">
  <div class="advert-link">
    <div class="advert-content">
        <div class="medium-large" data-advert="/76889402/non-targeted" data-advert-sizes="300, 250"></div>
        <div class="small" data-advert="/76889402/non-targeted" data-advert-sizes="300, 250"></div>
    </div>
  </div>
</div>
@{
    ViewBag.AmazonSlot = "'amznslots'";
    ViewBag.AmazonAds = "'3199'"; // to add another value, this needs to be ViewBag.AmazonAds = "'3199','xx'";
}
      

 </div>
    
    <div data-set="sidenav-container" class="small-medium"></div>
  </div>
</div>
 
 
        
        
        
            @{ViewBag.Description = "Road travel advice: how we plan to keep the Capital moving, and what you can do to help improve your journey";}
        
            
        


 