
    
  



@{ViewBag.Title = "Victoria Embankment";}
@{ViewBag.Keywords = "TfL,Victoria Embankment, Tideway";}
@{ViewBag.Url = "/status-updates/major-works-and-events/victoria-embankment";}
@{ViewBag.Language = "en";}
        <!-- empty placeholder -->
 
        
        

@{
    Response.Status = "301 Moved permanently";
    Response.AddHeader("Location", "/status-updates/major-works-and-events/road-changes-at-victoria-embankment");   
}

 
<div class="r">
    <div class="breadcrumb-container" role="navigation">
        <span id="breadcrumb-label" class="visually-hidden">You are here:</span>
        <ol class="breadcrumbs clearfix" aria-labelledby="breadcrumb-label">
            <li class="home">
                <a href="/">
                    <span class="hide-text">Home</span>
                </a>
            </li>
            
                 <li><a href="/status-updates/index">Status updates</a></li>
                
            
                 <li><a href="/status-updates/major-works-and-events">Major works & events</a></li>
                
            
            
                <li><span class="last-breadcrumb">Victoria Embankment</span></li>
            
        
 
        
 
        
 
        </ol>
    </div>
</div>
     
 
<div class="r">
  <div class="headline-container plain">
    <h1>Victoria Embankment</h1>

  </div>
</div>
<div class="main-and-aside r">
  
  <div class="main content-container" role="main">
    
      <div class="article-teaser">
        Victoria Embankment is now open following excavations at Blackfriars Underpass that closed it to westbound vehicles. Cadent (formerly National Grid Gas) were replacing two gas mains for the Tideway Blackfriars project.
        
      </div>
    
    <div class="on-this-page">
      <p>Here's how your journey could be affected.</p>
<h2>Driving</h2>
<p>Until 6am on Sunday 26 August 2018, there will be no access to Victoria Embankment for westbound vehicles beyond Southwark Bridge. Local access to properties west of Southwark Bridge will be available via Puddle Dock.</p>
<p>TfL are working closely with Cadent and Tideway to manage the impact but severe delays to your journey across central London are expected.</p>
<p>This map shows the impact we expect while the works are in place.</p>
      
           
      <div class="clearfix">
    <div class="image-box">
    
        
        
        <img src="/cdn/static/cms/images/trafficimpactgraphicnewjun18.png" alt="Traffic impact Victoria Embankment" />
        
        
        
    </div>   
 </div>
 
<div>





<div class="multi-document-download-container">
    

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/tideway-victoria-embankment-westbound-closure-impact-and-diversion-v4.pdf">
    <div class="document-download-text">
        <p>Traffic impact and alternative routes</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 1.07MB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 1.07 -->
 
</div>

</div>
 
       
@{Html.RenderAction("MajorWorkEvent", "Plans", new { disruptionId = ""} );}
        







 
<div>





<div class="multi-document-download-container">
    

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/tideway-at-victoria-embankment-and-nearby-major-road-works-v119.pdf">
    <div class="document-download-text">
        <p>Tideway at Victoria Embankment traffic impact map - August and September 2018</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 3.08MB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 3.08 -->
 
</div>

</div>
 <div>

<h2>Local journeys</h2>
<p>If your destination is along Victoria Embankment, local access for vehicles will still be available west of Blackfriars Underpass (where the initial works will be located).</p>
<p>Alternatively, access to locations along Victoria Embankment is likely to be quicker and easier <a href="http://content.tfl.gov.uk/walking-tube-map.pdf">on foot</a>, <a href="https://tfl.gov.uk/modes/cycling/santander-cycles/find-a-docking-station?intcmp=2321">by cycle</a> or <a href="https://tfl.gov.uk/plan-a-journey/">by Tube</a>.</p>
<p>This map shows alternative local access options while the works are in place.</p>
</div>
 <div class="clearfix">
    <div class="image-box light-box">
    
        
        
        <a href="/cdn/static/cms/images/tideway-victoria-embankment-westbound-closure-local-travel-options-v3.png" class="modal-launch" target="_blank">
        <img src="/cdn/static/cms/images/tideway-victoria-embankment-westbound-closure-local-travel-options-v3-small.png" alt="Local travel options map" />
        
        </a>
        
        
    </div>   
 </div>
 
<div>





<div class="multi-document-download-container">
    

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/tideway-victoria-embankment-westbound-closure-local-travel-options-v3.pdf">
    <div class="document-download-text">
        <p>Local travel options</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 774KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.76 -->
 
</div>

</div>
 <div>

<h2>Journeys within central London</h2>
<p>If you normally use Victoria Embankment for destinations beyond Westminster Bridge, you will need to take an alternative route such as the Inner Ring Road north towards Euston Road or south towards Vauxhall Bridge.</p>
<p>Signed diversions will be in place at Tower Bridge and Southwark Bridge for westbound access south of the river.</p>
<ul>
    <li>Via Southwark Bridge, Southwark Street, Stamford Street (Waterloo Bridge for West End), York Road and Westminster Bridge (inside the Congestion Charge zone)</li>
    <li>Via Tower Bridge Road, New Kent Road, Elephant &amp; Castle, Kennington Lane and Vauxhall Bridge (outside the Congestion Charge zone)</li>
</ul>
<h2>Journeys outside Central London</h2>
<p>If you do not need access to Central London, using routes such as the A406 North Circular, the A205 South Circular or the M25 could mean a quicker journey.</p>
<p>For the latest updates on how London's roads are operating, check our <a href="http://tfl.gov.uk/trafficnews">traffic news page</a>  before you travel and follow <a href="https://twitter.com/TfLTrafficNews">&#64;TfLTrafficNews</a> on Twitter.</p>
<h2>Cycling</h2>
<p>East-West (CS3) and North-South (CS6) Cycle Superhighways will remain open at all times.</p>
<p>There are a number of Santander cycle docking stations in the area. Cycle Hire customers can check availability using the <a href="https://tfl.gov.uk/modes/cycling/santander-cycles">live docking station map</a> and follow <a href="https://twitter.com/SantanderCycles">&#64;SantanderCycles</a> on Twitter for the latest updates.</p>
<h2>Buses</h2>
<p>The N550 is currently on diversion via Fleet Street, Strand and Ludgate Hill in both directions. This will be made permanent from 1 September.</p>
<p>There will be disruption caused by additional traffic on surrounding roads while the works are in place.</p>
<h2>Taxis and minicabs</h2>
<p>No taxi ranks will be suspended but journey times will be affected by the westbound closure of Victoria Embankment. Please plan your journey in advance and leave more time to travel.</p>
<p>For up-to-date information for the taxi and private hire industry, visit our <a href="https://tfl.gov.uk/modes/taxis-and-minicabs/">taxis and minicabs</a> section  or follow <a href="https://twitter.com/TfLTPH">&#64;TfLTPH</a> on Twitter.</p>
<h2>Coaches and tour buses</h2>
<p>Coach and tour bus services will be subject to delays and diversions as a result of the westbound closure of the Victoria Embankment.</p>
<p>Coach and tour bus customers should contact their coach operator for full details.</p>
<p>More information for coach drivers can be found <a href="http://tfl.gov.uk/coachdrivers">here</a>.</p>
<h2>Walking</h2>
<p>Part of the Riverside Walk (Thames Path), between Blackfriars Bridge and Temple Avenue is currently closed as part of Tideway works. Pedestrians can use the footpath on the Victoria Embankment slip road, which is clearly signed.</p>
<h2>Why this is happening?</h2>
<p>Cadent Gas need to replace a large gas main underneath Blackfriars Underpass before Tideway can carry on with excavation works for their connection shaft at <a href="/status-updates/major-works-and-events/road-changes-at-victoria-embankment">Blackfriars Foreshore</a>.</p>
<p>This gas main was installed in the 1850s and analysis has shown that if these works are not carried out it will fail, affecting up to 50,000 customers.</p>
<p>The works this year are trials ahead of full gas main replacement next year. Further details of next year's work will be available once this summer's works have been completed.</p>
</div>
 
      
        
          
            @this.ScriptBlock(
              @<script>
                queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
              </script>
            )
          
        
      
    </div>
  </div>
  <div class="aside" role="complementary">

   
    
    
    
      <div data-set="sidenav-container" class="large">
        
        
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
                <a href="/status-updates/major-works-and-events" class="heading">
                    <h2 id="sub-menu-heading">Major works & events<span class="visually-hidden"> navigation</span></h2>
                </a>
                <ul>
                    
                                <li><div class="link-wrapper"><a href="/status-updates/major-works-and-events/a406-angel-road-flyover-closures">A406 Angel Road flyover closures</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/status-updates/major-works-and-events/christmas-travel">Christmas travel</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/status-updates/major-works-and-events/cycle-superhighway-11">Cycle Superhighway 11</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/status-updates/major-works-and-events/cycleway-4">Cycleway 4</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/status-updates/major-works-and-events/cycleway-9">Cycleway 9</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/status-updates/major-works-and-events/euston-road-works">Euston Road works</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/status-updates/major-works-and-events/easter-travel-2019">Easter travel 2019</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/status-updates/major-works-and-events/hammersmith-bridge-closure">Hammersmith Bridge closure</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/status-updates/major-works-and-events/highbury-corner-roundabout">Highbury Corner roundabout</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/status-updates/major-works-and-events/improvements-between-acton-and-wood-lane">Improvements between Acton and Wood Lane</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/status-updates/major-works-and-events/london-bridge-works">London Bridge works</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/status-updates/major-works-and-events/old-street-roundabout">Old Street roundabout</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/status-updates/major-works-and-events/ride-london-2019">Prudential RideLondon 2019</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/status-updates/major-works-and-events/car-free-day-2019">Reimagine event for World Car Free Day</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/status-updates/major-works-and-events/ridelondon">RideLondon</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/status-updates/major-works-and-events/road-changes-at-victoria-embankment">Road changes at Victoria Embankment</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/status-updates/major-works-and-events/travel-advice-for-road-users">Travel advice for road users</a></div></li>
                            
 
                                <li class="selected"><div class="link-wrapper"><a href="/status-updates/major-works-and-events/victoria-embankment">Victoria Embankment</a></div>
                            </li>
 
                                <li><div class="link-wrapper"><a href="/status-updates/major-works-and-events/west-end-project">West End Project</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/status-updates/major-works-and-events/westminster-bridge-works">Westminster Bridge works</a></div></li>
                            
 
                </ul>
            
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
      </div>
    
    <div>




















<div class="advert-tile unsponsored-style google-ads" aria-hidden="true">
  <div class="advert-link">
    <div class="advert-content">
        <div class="medium-large" data-advert="/76889402/non-targeted" data-advert-sizes="300, 250"></div>
        <div class="small" data-advert="/76889402/non-targeted" data-advert-sizes="300, 250"></div>
    </div>
  </div>
</div>
@{
    ViewBag.AmazonSlot = "'amznslots'";
    ViewBag.AmazonAds = "'3199'"; // to add another value, this needs to be ViewBag.AmazonAds = "'3199','xx'";
}
      

 </div>
    
    <div data-set="sidenav-container" class="small-medium"></div>
  </div>
</div>
 
 
        
        
        
            @{ViewBag.Description = "Initial trial hole works for eventual replacement of gas mains near Blackfriars";}
        
            
        


 