
    
  



@{ViewBag.Title = "Westminster Bridge works";}
@{ViewBag.Keywords = "TfL";}
@{ViewBag.Url = "/status-updates/major-works-and-events/westminster-bridge-works";}
@{ViewBag.Language = "en";}
        <!-- empty placeholder -->
 
        
        

@{
    Response.Status = "302 Moved temporarily";
    Response.AddHeader("Location", "https://tfl.gov.uk/traffic/status");   
}

 
<div class="r">
    <div class="breadcrumb-container" role="navigation">
        <span id="breadcrumb-label" class="visually-hidden">You are here:</span>
        <ol class="breadcrumbs clearfix" aria-labelledby="breadcrumb-label">
            <li class="home">
                <a href="/">
                    <span class="hide-text">Home</span>
                </a>
            </li>
            
                 <li><a href="/status-updates/index">Status updates</a></li>
                
            
                 <li><a href="/status-updates/major-works-and-events">Major works & events</a></li>
                
            
            
                <li><span class="last-breadcrumb">Westminster Bridge works</span></li>
            
        
 
        
 
        
 
        </ol>
    </div>
</div>
     
 
<div class="r">
  <div class="headline-container plain">
    <h1>Westminster Bridge works</h1>

  </div>
</div>
<div class="main-and-aside r">
  
  <div class="main content-container" role="main">
    
      <div class="article-teaser">
        Until late November 2019, Westminster Bridge is closed to westbound traffic and Bridge Street will be closed in both directions. The bridge will remain open for cyclists, buses and licensed taxis (not private hire vehicles).
        
      </div>
    
    <div class="on-this-page">
      <p>The road and bridge are being closed so that Westminster City Council can replace the temporary barriers on Bridge Street and install security gates across Bridge Street.</p>
      
           
      <div class="clearfix">
    <div class="image-box light-box">
    
        
        
        <a href="/cdn/static/cms/images/bridge-street-impact-area.jpg" class="modal-launch" target="_blank">
        <img src="/cdn/static/cms/images/bridge-street-impact-area-700x438-image.jpg" alt="Bridge Street works - impact map" />
        
        </a>
        
        
    </div>   
 </div>
 
<div>





<div class="multi-document-download-container">
    

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/bridge-street-impact-area.pdf">
    <div class="document-download-text">
        <p>Westminster Bridge works - impact mp</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 650KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.63 -->
 
</div>

</div>
 <div>

<h2>Driving</h2>

<p>Westminster Bridge&nbsp;is closed to westbound traffic (traffic crossing to the North side of the river&nbsp;from south London). Bridge Street is closed in both directions.</p>

<ul>
	<li>There are delays on the approaches to Westminster Bridge, Parliament Square and the surrounding areas</li>
	<li>Use Vauxhall Bridge and the Inner Ring Road south of the river&nbsp;for a quicker journey across London</li>
	<li>There is often disruption in and around Parliament Square due to planned works, events and protests. Consider alternatives to driving if possible</li>
</ul>

<h3>Deliveries and servicing</h3>

<ul>
	<li>There are marshals at the site around the clock to help with deliveries to businesses within the area of the works</li>
	<li>The roadworks and closures are causing&nbsp;delays to deliveries</li>
	<li>Find out more about <a href="/info-for/deliveries-in-london/delivering-efficiently">how changing your deliveries</a> can improve the efficiency of your business.</li>
</ul>

<p>See our <a href="http://tfl.gov.uk/traffic/status/?Input=&amp;lineIds=&amp;dateTypeSelect=Future%20date&amp;direction=&amp;startDate=2018-12-14T00%3A00%3A00&amp;endDate=2018-12-14T23%3A59%3A59&amp;disruptionIds=TIMS-202397&amp;intcmp=56354">status updates for the works</a>. Follow <a href="https://twitter.com/TfLTrafficNews">&#64;TfLTrafficNews</a> on Twitter for the latest updates.</p>

<h2>Buses</h2>

<p>Buses are continuing&nbsp;to use&nbsp;Westminster Bridge in both directions, but&nbsp;are on diversion around the Bridge Street closure.</p>

<ul>
	<li><a href="https://tfl.gov.uk/bus/route/12/?direction=outbound">Route 12</a> is shortened. It&nbsp;does not serve stops between Whitehall/Trafalgar Square and Oxford Circus between 06:00 and 23:59</li>
	<li><a href="https://tfl.gov.uk/bus/route/159">Route&nbsp;159</a> is shortened. It&nbsp;does not serve stops between Oxford Circus and Marble Arch between 06:00 and 23:59</li>
	<li><a href="http://tfl.gov.uk/bus/route/148/?direction=outbound">Route 148</a> and <a href="http://tfl.gov.uk/bus/route/211/?direction=outbound">Route 211</a> is on diversion via Lambeth Bridge</li>
	<li>Use <a href="https://tfl.gov.uk/bus/route/159/">Route 159</a> or <a href="https://tfl.gov.uk/bus/route/453/?direction=outbound">Route 453</a> for Oxford Circus</li>
	<li>Catching a&nbsp;bus is still be a better option than driving for local trips</li>
</ul>

<p>Find out how your bus may be affected by visiting <a href="http://tfl.gov.uk/bus/status">tfl.gov.uk/bus/status</a>. Follow &#64;TfLBusAlerts on Twitter for the latest bus updates.</p>

<h2>Cycling</h2>

<p>You can cycle on Bridge Street and across Westminster Bridge throughout the works.</p>

<ul>
	<li>There are temporary segregated cycle lines on Bridge Street and across Westminster Bridge</li>
	<li>Please follow the advice of marshals and the signs</li>
	<li>There are several signed&nbsp;<a href="https://tfl.gov.uk/maps/cycle?intcmp=40402">alternative cycle routes in the area</a></li>
</ul>

<h2>Walking</h2>

<p>Pavements and pedestrian crossings on Bridge Street and Westminster Bridge remain open.</p>

<ul>
	<li>There are signs to help guide you safely through the works area</li>
	<li>Please follow the advice of marshals and the signs</li>
</ul>

<h2>Taxi and private hire</h2>

<p>Licensed taxis (black cabs) but not private hire vehicles are able to cross Westminster Bridge westbound.&nbsp;All traffic will be diverted around the&nbsp;Bridge Street closure</p>

<ul>
	<li>There are delays on the approaches to Westminster Bridge, Parliament Square and the surrounding areas</li>
	<li>Use&nbsp;Vauxhall Bridge and the Inner Ring Road south of the river may mean a quicker journey for trips across London</li>
</ul>

<p>For trips starting at Waterloo Station</p>

<ul>
	<li>For north London, use Waterloo Bridge</li>
	<li>For south London, take Waterloo Road</li>
</ul>

<p>Wheelchair-accessible licensed taxis continue to have access to Westminster Bridge (westbound) because of their important&nbsp;role in transporting the public, especially at times and in places where other modes of transport may not be available.</p>

<h2>Other transport</h2>

<p>Tube and rail services are not affected by the works. Westminster station remains open.</p>

<h2>Travel tools</h2>

<p>Check before you travel and plan ahead using our&nbsp;travel tools.&nbsp;See:</p>

<ul>
	<li>The latest <a href="http://tfl.gov.uk/traffic/status/?Input=&amp;lineIds=&amp;dateTypeSelect=Future%20date&amp;direction=&amp;startDate=2018-12-14T00%3A00%3A00&amp;endDate=2018-12-14T23%3A59%3A59&amp;disruptionIds=TIMS-202397&amp;intcmp=56354">status updates</a>&nbsp;for these works</li>
	<li><a href="https://tfl.gov.uk/plan-a-journey/">Plan a journey</a>, which can help you plan your route by public transport, cycling or walking</li>
	<li><a href="https://tfl.gov.uk/maps?Input=Current+location+">Nearby</a>, which&nbsp;uses your current location or a postcode or address of your choice and places you on a map, showing you Tube, bus, river, London Overground, DLR, TfL Rail and Santander Cycles locations around you</li>
	<li><a href="http://twitter.com/tfltrafficnews">&#64;TfLTrafficNews</a> as well as the <a href="http://m.me/tfltravelbot">TfL Travelbot</a> on Facebook Messenger</li>
	<li>Our <a href="https://tfl.gov.uk/travel-information/social-media-and-email-updates/email-updates">email updates</a></li>
</ul>
</div>
 
      
        
          
            @this.ScriptBlock(
              @<script>
                queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
              </script>
            )
          
        
      
    </div>
  </div>
  <div class="aside" role="complementary">

   
    
    
    
      <div data-set="sidenav-container" class="large">
        
        
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
                <a href="/status-updates/major-works-and-events" class="heading">
                    <h2 id="sub-menu-heading">Major works & events<span class="visually-hidden"> navigation</span></h2>
                </a>
                <ul>
                    
                                <li><div class="link-wrapper"><a href="/status-updates/major-works-and-events/a406-angel-road-flyover-closures">A406 Angel Road flyover closures</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/status-updates/major-works-and-events/christmas-travel">Christmas travel</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/status-updates/major-works-and-events/cycle-superhighway-11">Cycle Superhighway 11</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/status-updates/major-works-and-events/cycleway-4">Cycleway 4</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/status-updates/major-works-and-events/cycleway-9">Cycleway 9</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/status-updates/major-works-and-events/euston-road-works">Euston Road works</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/status-updates/major-works-and-events/easter-travel-2019">Easter travel 2019</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/status-updates/major-works-and-events/hammersmith-bridge-closure">Hammersmith Bridge closure</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/status-updates/major-works-and-events/highbury-corner-roundabout">Highbury Corner roundabout</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/status-updates/major-works-and-events/improvements-between-acton-and-wood-lane">Improvements between Acton and Wood Lane</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/status-updates/major-works-and-events/london-bridge-works">London Bridge works</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/status-updates/major-works-and-events/old-street-roundabout">Old Street roundabout</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/status-updates/major-works-and-events/ride-london-2019">Prudential RideLondon 2019</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/status-updates/major-works-and-events/car-free-day-2019">Reimagine event for World Car Free Day</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/status-updates/major-works-and-events/ridelondon">RideLondon</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/status-updates/major-works-and-events/road-changes-at-victoria-embankment">Road changes at Victoria Embankment</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/status-updates/major-works-and-events/travel-advice-for-road-users">Travel advice for road users</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/status-updates/major-works-and-events/victoria-embankment">Victoria Embankment</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/status-updates/major-works-and-events/west-end-project">West End Project</a></div></li>
                            
 
                                <li class="selected"><div class="link-wrapper"><a href="/status-updates/major-works-and-events/westminster-bridge-works">Westminster Bridge works</a></div>
                            </li>
 
                </ul>
            
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
      </div>
    
    <div>




















<div class="advert-tile unsponsored-style google-ads" aria-hidden="true">
  <div class="advert-link">
    <div class="advert-content">
        <div class="medium-large" data-advert="/76889402/non-targeted" data-advert-sizes="300, 250"></div>
        <div class="small" data-advert="/76889402/non-targeted" data-advert-sizes="300, 250"></div>
    </div>
  </div>
</div>
@{
    ViewBag.AmazonSlot = "'amznslots'";
    ViewBag.AmazonAds = "'3199'"; // to add another value, this needs to be ViewBag.AmazonAds = "'3199','xx'";
}
      

 </div>
    
    <div data-set="sidenav-container" class="small-medium"></div>
  </div>
</div>
 
 
        
        
        
            @{ViewBag.Description = "Westminster Bridge closure travel advice";}
        
            
        


 