
    
  



@{ViewBag.Title = "West End Project";}
@{ViewBag.Keywords = "TfL";}
@{ViewBag.Url = "/status-updates/major-works-and-events/west-end-project";}
@{ViewBag.Language = "en";}
        <!-- empty placeholder -->
 
        
        
<div class="r">
    <div class="breadcrumb-container" role="navigation">
        <span id="breadcrumb-label" class="visually-hidden">You are here:</span>
        <ol class="breadcrumbs clearfix" aria-labelledby="breadcrumb-label">
            <li class="home">
                <a href="/">
                    <span class="hide-text">Home</span>
                </a>
            </li>
            
                 <li><a href="/status-updates/index">Status updates</a></li>
                
            
                 <li><a href="/status-updates/major-works-and-events">Major works & events</a></li>
                
            
            
                <li><span class="last-breadcrumb">West End Project</span></li>
            
        
 
        
 
        
 
        </ol>
    </div>
</div>
     
 
<div class="r">
  <div class="headline-container plain">
    <h1>West End Project</h1>

  </div>
</div>
<div class="main-and-aside r">
  
  <div class="main content-container" role="main">
    
      <div class="article-teaser">
        Until spring 2020, roads around the West End, especially Tottenham Court Road, Gower Street/Bloomsbury Street, and High Holborn, will be busy. This is because of building work for the West End Project.
        
      </div>
    
    <div class="on-this-page">
      <p>The West End Project is being built by the&nbsp;London Borough of Camden. TfL have part-funded this scheme.</p>

<p>Tottenham Court Road was switched two-way traffic in April 2019.</p>

<hr />
<h2>Driving</h2>

<p>These are the main changes that affect drivers:</p>

<ul>
	<li>Tottenham Court Road is now two-way</li>
	<li>The new&nbsp;southbound lane will be for buses and cyclists only at all times until spring 2020</li>
	<li>All traffic can continue to travel northbound until the entire scheme is completed in spring 2020</li>
</ul>
      
           
      
<div>





<div class="multi-document-download-container">
    

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/tottenham-court-road-restrictions-to-spring-2020.pdf">
    <div class="document-download-text">
        <p>Map - restrictions on Tottenham Court Road throughout the project</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 250KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.24 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/moving-around-tottenham-court-road-from-spring-2020.pdf">
    <div class="document-download-text">
        <p>Permanent changes on Tottenham Court Road from spring 2020 </p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 312KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.31 -->
 
</div>

</div>
 <div>

<p>There are more details and maps on <a href="https://www3.camden.gov.uk/westendproject/maps">Camden's project website</a>.</p>

<hr />
<h2>Cycling</h2>

<p>Key changes that affect cyclists from 20 April 2019:</p>

<ul>
	<li>Tottenham Court Road is now two-way</li>
	<li>The new southbound lane is for buses and cyclists only at all times until spring 2020</li>
	<li>All traffic can continue to travel northbound until the entire scheme is completed in spring 2020</li>
</ul>

<p>If you want to hire a Santander Cycle, you can check availability&nbsp; using the <a href="/modes/cycling/santander-cycles/find-a-docking-station">online docking station map</a>. Follow <a href="https://twitter.com/SantanderCycles">&#64;SantanderCycles</a> for news and customer service.</p>

<p>Download the Santander Cycles app from the <a href="https://itunes.apple.com/gb/app/santander-cycles/id974792287?mt=8">App Store</a> or <a href="https://play.google.com/store/apps/details?id=uk.gov.tfl.cyclehire&amp;hl=en_GB">Google Play</a>.</p>

<hr />
<h2>Buses</h2>

<p>Both northbound and southbound buses now use Tottenham Court Road. Buses no longer run along Gower Street/Bloomsbury Street. This is a permanent change.</p>

<p>Find out how your bus may be affected&nbsp;on our <a href="https://tfl.gov.uk/bus/status">Bus status updates map</a>.</p>

<p>Follow <a href="https://twitter.com/TfLBusAlerts">&#64;TfLBusAlerts</a> for news and service information.</p>

<hr />
</div>
 
<div>



<h2>New bus arrangements from 20 April 2019</h2>



<div class="multi-document-download-container">
    

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/tottenham-court-road-buses.pdf">
    <div class="document-download-text">
        <p>New bus arrangements from 20 April 2019</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 82KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.08 -->
 
</div>
<hr />
<h2>Pedestrians</h2>

<p>Tottenham Court Road is now two-way &#45; take care crossing.</p>

<hr />
<h2>Freight, deliveries and servicing</h2>

<p>Loading bays will need to be suspended at times for works. These temporary changes will be clearly signed.</p>

<p>The project team is continuing to work with local businesses to provide advice and to ensure that you can make and receive deliveries during construction.</p>

<p>If you make or receive deliveries in the area,&nbsp;talk to your customers and suppliers now to see if there are changes you need to make to your deliveries or collections, such as&nbsp;moving them&nbsp;to outside the restricted periods. Find out more about <a href="/info-for/deliveries-in-london/index">changing your deliveries</a>.</p>

<hr />
<h2>About the scheme</h2>

<p>Work will be completed in spring 2020.</p>

<p>Find out more&nbsp;about the scheme on Camden's <a href="http://www3.camden.gov.uk/westendproject">project webpage</a>.</p>
</div>
 
      
        
          
            @this.ScriptBlock(
              @<script>
                queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
              </script>
            )
          
        
      
    </div>
  </div>
  <div class="aside" role="complementary">

   
    
    
    
    <div>




















<div class="advert-tile unsponsored-style google-ads" aria-hidden="true">
  <div class="advert-link">
    <div class="advert-content">
        <div class="medium-large" data-advert="/76889402/non-targeted" data-advert-sizes="300, 250"></div>
        <div class="small" data-advert="/76889402/non-targeted" data-advert-sizes="300, 250"></div>
    </div>
  </div>
</div>
@{
    ViewBag.AmazonSlot = "'amznslots'";
    ViewBag.AmazonAds = "'3199'"; // to add another value, this needs to be ViewBag.AmazonAds = "'3199','xx'";
}
      

 </div>
    
    <div data-set="sidenav-container" class="small-medium"></div>
  </div>
</div>
 
 
        
        
        
            @{ViewBag.Description = "Travel advice for West End Project";}
        
            
        


 