


@{ViewBag.Title = "Accessibility improvements continue apace with more step-free stations, more staff available to assist and an extension of 'turn up and go' services ";}
        
        
<div class="r">
    <div class="breadcrumb-container" role="navigation">
        <span id="breadcrumb-label" class="visually-hidden">You are here:</span>
        <ol class="breadcrumbs clearfix" aria-labelledby="breadcrumb-label">
            <li class="home">
                <a href="/">
                    <span class="hide-text">Home</span>
                </a>
            </li>
            
                <li>
                    <a href="/info-for/media/index">Media</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases">Press releases</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases/2014">2014</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases/2014/february">February</a>
                </li>
                
                <li>
                    <span class="last-breadcrumb">Accessibility improvements continue apace with more step-free stations, more staff available to assist and an extension of 'turn up and go' services </span>
                </li>
            
 
            
 
            
 
            
 
            
 
        </ul>
    </div>
</div>
     
 
<div class="r">
    <div class="headline-container plain">
        <h1>Accessibility improvements continue apace with more step-free stations, more staff available to assist and an extension of 'turn up and go' services </h1>
        <div class="content-page-press-release">
        04 February 2014
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        The journeys of millions of disabled and older Londoners are set to become even easier as Transport for London (TfL) today outlined further measures being taken to improve the accessibility of the transport network.
        
    </div>



<div class="pull-quote">
        <div class="quote-body">"'London has one of the most accessible transport networks in the world. But it is not perfect - that's why we have set out a clear action plan to improve things further with more staff visible and available in ticket halls and platforms to help passengers"</div>
        <div class="quote-footer">
            <div class="quotee-name">Michele Dix</div>
            <div class="quotee-job-title">TfL Equalities Lead and Managing Director of Planning</div>
        </div>
</div>

 <div class="on-this-page">
<div class="pullquote right">
                        <p>
                            'London has one of the most accessible transport networks in the world. But it is not perfect - that's why we have set out a clear action plan to improve things further with more staff visible and available in ticket halls and platforms to help passengers
                            
                        </p>
                    </div>
                
            
            
            <p>Staff already work hard to help all our passengers, particularly disabled customers with London Underground's 'turn up and go' assistance service.&nbsp; </p>
<p>In future, there will be more staff available in ticket halls and on platforms to help customers buy the right ticket, plan their journeys and to keep them safe and secure.&nbsp; </p>
<p>All Tube stations will remain staffed at all times when services are operating, and a 24-hour service on core parts of the network at weekends will be introduced during 2015. </p>
<p>Hundreds of millions of pounds are already being invested, with huge improvements being made to transport infrastructure such as stations, bus stops and trains. </p>
<p>TfL is currently delivering a programme of work, outlined today in an update to the Your Accessible Transport Network action plan, that builds on this - making travelling around London much easier for many people and radically improving the information available to disabled passengers as they plan and make journeys. </p>
<p>On the Tube alone, the number of journeys made by step-free routes each year will almost treble, from 67 million at present to 189 million in 2021.</p>
<p>To support this, the Mayor and TfL are delivering a huge range of improvements, continuing to embed the legacy of accessible travel promised after the 2012 Games. </p>
<p>By this spring the 'turn up and go' assistance service that has been so successful on London Underground will be emulated on London Overground. </p>
<p>This means that passengers who need staff assistance will no longer be asked to book in advance, although they will be welcome to continue to do so if they wish. </p>
<p>As with London Underground, all London Overground stations are staffed at all times that services are running and this will remain the case - with staff available in public areas of the stations to help passengers get around.</p>
<p>During 2014 and 2015, several new step-free station projects will also be completed, including Brockley, Honor Oak Park, Hampstead Heath, Kensal Rise, Queens Road Peckham and South Tottenham. </p>
<p>London will see at least 25 London Underground and London Overground stations become step-free over the next 10 years - as well as dozens of National Rail stations and accessible Crossrail stations in the heart of the city. </p>
<p>Other improvements include:</p>
<ul>
<li>As part of the additional &pound;18 million investment announced last year to make bus stops more accessible, 75 per cent of all stops will be accessible by April this year,&nbsp; with at least 95 per cent accessible by the end of 2016 - bringing even greater ease of use to a bus network that is already the most accessible in the country; </li>
<li>By the end of this year, the fleet of 53 Hammersmith &amp; City and Circle line trains will have been transformed with new low-floor accessible air-conditioned trains;</li>
<li>Work is underway on a new Manual Boarding Ramp that can be used at stations where the trains are lower than the platform, meaning that ramps will be installed at more stations this year, on top of the existing 33 that already have them;</li>
<li>The remaining 5 per cent of pedestrian crossings yet to be brought up to accessibility standards will be upgraded with tactile paving and rotating cones or audible alerts as appropriate. A total of 39 sites will be upgraded by March, as we progress towards making 100 per cent accessible by 2016;</li>
<li>Following the success of the accessibility training at a number of London Underground 'Centre of Excellence' stations, enhanced accessibility training will be introduced at more stations and for staff on London Overground. This is on top of the huge improvements that are being made to bus staff training;</li>
<li>Within weeks, a new and better website will be available with a fully redeveloped section on accessibility. Later in the year further improvements will be made so that the Journey Planner tool can plan and suggest journeys based on real time information on the availability of lifts and escalators.</li></ul>
<p>Michele Dix, TfL's Equalities Lead and Managing Director of Planning, said: </p>
<p>'London has one of the most accessible transport networks in the world. But it is not perfect - that's why we have set out a clear action plan to improve things further with more staff visible and available in ticket halls and platforms to help passengers.</p>
<p>'At the heart of these improvements are our staff.&nbsp; </p>
<p>The fact that our stations are staffed at all times while services are operating means that we can extend the 'turn up and go' service from London Underground to London Overground.&nbsp; </p>
<p>Moreover, we are moving more staff out to the public areas of stations where customers most need their help.&nbsp; </p>
<p>Our plans also mean more step-free stations and accessible bus stops, accessible trains,&nbsp; manual boarding ramps, as well as transforming our website and signage, all designed to help people move around the city more easily. </p>
<p>We will also continue to make the case to Government to help us make more improvements.'</p>
<p>Rob Harris, Guide Dogs' London Engagement Manager said: </p>
<p>'There are lots of new proposals within this document that will help improve the journeys that blind and partially sighted people make in London daily. </p>
<p>We welcome pledges such as reducing clutter on our streets, upgrading and improving pedestrian crossings and a new turn up and go assistance service on the London Overground. </p>
<p>'We will not rest until all blind and partially sighted people have the same freedom of movement as everyone else. </p>
<p>We are not there yet, but our continued engagement with TfL is essential if we are to one day make this a reality.'</p>
<p>Many large-scale accessibility improvements are underway including TfL investing &pound;250 million in step-free projects at Bond Street, Finsbury Park, Greenford, Tottenham Court Road, Vauxhall and Victoria. More step-free projects are being progressed with third party developers and additional stations are being made partially step free.</p>
<p>As well as the new trains being introduced on the Hammersmith &amp; City and Circle lines, an additional 80 new trains will be introduced to the District line from now until 2016, meaning that 40 per cent of the network will be served by air-conditioned trains with high standards of accessibility such as dedicated wheelchair space, low floors and wider doors. </p>
<p>Nearly 40 per cent of all stops and stations across London's rail-based public transport network (including National Rail, Tube, DLR and Tramlink) are currently step-free, up from around 30 per cent in 2008. </p>
<p>This includes 175 stations on the TfL network, with all DLR and nearly half of London Overground stations step-free. In addition, all 22,000 of London's black cabs have wheelchair access.</p>
<p>All 8,700 London buses are low-floor wheelchair accessible with ramps checked each day to ensure they are working. </p>
<p>More than 90 per cent of London residents live within 400 metres of a bus stop, and the vast majority of these can be used by all bus passengers, including wheelchair users.</p>
<p>TfL also operates Dial-a-Ride - a free door-to-door service for disabled and older passengers who can't use public transport.<br></p>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
                <a href="/info-for/media/index" class="heading">
                    <h2 id="sub-menu-heading">Media<span class="visually-hidden"> navigation</span></h2>
                </a>
                <ul>
                    
                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases">Press releases</a></div>
                                <ul>
                                    
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2020">2020</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019">2019</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018">2018</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017">2017</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016">2016</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015">2015</a></div></li>
                            
 
                                        <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014">2014</a></div>
                                        <ul>
                                            
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/december">December</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/november">November</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/october">October</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/september">September</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/august">August</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/july">July</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/june">June</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/may">May</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/april">April</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/march">March</a></div></li>
                                    
 
                                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/february">February</a></div>
                                                <ul>
                                                    
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
                                                </ul>
                                            
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/january">January</a></div></li>
                                    
 
                                        </ul>
                                    </li>
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2013">2013</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2012">2012</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2011">2011</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2010">2010</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2009">2009</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2008">2008</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2007">2007</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2006">2006</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2005">2005</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2004">2004</a></div></li>
                            
 
                                </ul>
                            </li>
 
                                <li><div class="link-wrapper"><a href="/info-for/media/photos">Photos</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/media/contact-the-press-office">Contact the Press Office</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/filming-and-photography">Filming & photography</a></div></li>
                            
 
                </ul>
            
 
 
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype: -Home-Media-Media-Press releases-2014-February-Accessibility improvements continue apace with more step-free stations, more staff available to assist and an extension of 'turn up and go' services  -->

 
 
        
        
            @{ViewBag.Description = "Staff already work hard to help all our passengers, particularly disabled customers with London Underground's 'turn up and go' assistance service.&nbsp; In future, there will be more staff available in ticket halls and on platforms to help customers buy";}
        
        


 