


@{ViewBag.Title = "Contract signed for Bombardier to deliver Crossrail rolling stock and depot";}
        
        
<div class="r">
    <div class="breadcrumb-container" role="navigation">
        <span id="breadcrumb-label" class="visually-hidden">You are here:</span>
        <ol class="breadcrumbs clearfix" aria-labelledby="breadcrumb-label">
            <li class="home">
                <a href="/">
                    <span class="hide-text">Home</span>
                </a>
            </li>
            
                <li>
                    <a href="/info-for/media/index">Media</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases">Press releases</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases/2014">2014</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases/2014/february">February</a>
                </li>
                
                <li>
                    <span class="last-breadcrumb">Contract signed for Bombardier to deliver Crossrail rolling stock and depot</span>
                </li>
            
 
            
 
            
 
            
 
            
 
        </ul>
    </div>
</div>
     
 
<div class="r">
    <div class="headline-container plain">
        <h1>Contract signed for Bombardier to deliver Crossrail rolling stock and depot</h1>
        <div class="content-page-press-release">
        19 February 2014
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        Transport for London (TfL) today confirmed that, following the completion of a 10 day standstill period, it has now signed a contract with Bombardier for the delivery of rolling stock and a new depot for Crossrail
        
    </div>



<div class="pull-quote">
        <div class="quote-body">"The manufacture of these new trains will not only revolutionise rail travel in London, they will deliver jobs and economic growth in their birthplace in Derby and across the UK"</div>
        <div class="quote-footer">
            <div class="quotee-name">Boris Johnson</div>
            <div class="quotee-job-title">Mayor of London</div>
        </div>
</div>

 <div class="on-this-page">
<div class="pullquote right">
                        <p>
                            The manufacture of these new trains will not only revolutionise rail travel in London, they will deliver jobs and economic growth in their birthplace in Derby and across the UK
                            
                        </p>
                    </div>
                
            
            
            <p>The contract between TfL and Bombardier covers the supply, delivery and maintenance of 65 new trains and a depot at Old Oak Common.&nbsp; </p>
<p>TfL will run Crossrail as part of its integrated transport services for London, including ticketing and customer travel information.&nbsp; </p>
<p>The new trains will be manufactured and assembled at Bombardier's plant in Derby. </p>
<p>TfL will be working with Bombardier on the final design for the trains with the first due to be delivered in May 2017. </p>
<p>This will support 760 UK manufacturing jobs plus 80 apprenticeships. </p>
<p>An estimated 74 per cent of contract spend will remain in the UK economy. </p>
<p>The new fleet of trains will be progressively introduced to the existing rail network well in advance of services commencing through Crossrail's central section in December 2018.</p>
<p>The construction of the maintenance depot at Old Oak Common will support 244 jobs, plus 16 apprenticeships. </p>
<p>When fully operational the depot will support 80 jobs to maintain the new fleet of trains.&nbsp; </p>
<p>Mike Brown MVO, Managing Director London Underground and London Rail, said: </p>
<p>'The award of this contract sees Crossrail begin to move from construction project to new railway, serving London and boosting the economy of the UK as a whole. </p>
<p>Bombardier is already supplying London Underground with 191 new air-con trains for the Metropolitan, Hammersmith &amp; City, Circle and District lines, as well as extra carriages for London Overground increasing trains from four to five cars in length, boosting capacity by 25 per cent. </p>
<p>We look forward to working closely with Bombardier on the delivery of all these new trains, as we continue to invest in larger, more frequent and reliable trains for our customers.'</p>
<p>Dr. Francis Paonessa, Managing Director of Bombardier Transportation UK said: </p>
<p>'We would like to take this opportunity to thank TfL as we embark on this flagship contract and look forward to working together with Crossrail to deliver these iconic new trains for London.'</p>
<p>Mayor of London, Boris Johnson, said: </p>
<p>'The Crossrail project is now rolling on full-steam ahead. </p>
<p>The manufacture of these new trains will not only revolutionise rail travel in London, they will deliver jobs and economic growth in their birthplace in Derby and across the UK. </p>
<p>With a firm on board to deliver a fleet of 21st Century trains and the tunnelling more than halfway complete, we're on track to deliver a truly world-class railway for the capital.'</p>
<p>Transport Secretary Patrick McLoughlin said: </p>
<p>'Derby has a deserved reputation for quality train building and I am delighted Bombardier can write the latest chapter in this success story. </p>
<p>The deal is a win for the employees of Bombardier and British manufacturing, supporting 760 new jobs and 80 apprenticeships. </p>
<p>For commuters it will mean new state-of-the-art trains that deliver quicker and more comfortable journeys and boost capacity across the capital.'</p>
<p>Andrew Wolstenholme, Crossrail Chief Executive said: </p>
<p>'Crossrail will transform rail services in London and the South East. </p>
<p>The new rolling stock is an essential component of Crossrail. </p>
<p>We look forward to working with Bombardier to ensure the delivery of the new trains as the project continues to make progress on time and on budget.'</p>
<p>Each Crossrail train is just over 200 metres long, made up of nine carriages and able to carry up to 1,500 passengers. </p>
<p>Key features of the new high-capacity Crossrail trains include air conditioning and inter-connecting walk-through carriages. </p>
<p>On-train passenger information systems will deliver real-time travel information to allow passengers to plan their onward journeys. </p>
<p>The new lightweight Crossrail trains will be built with an emphasis on energy efficiency and use of intelligent on-train energy management systems.</p>
<p>Crossrail will boost London's rail-based capacity by 10 per cent connecting Maidenhead and Heathrow in the west and Shenfield and Abbey Wood in the east. </p>
<p>It will connect people and places, providing faster journey times and up to 24 trains per hour between Paddington and Whitechapel during the peak.</p>
<p>In addition to the jobs created through the rolling stock and depot contract it is estimated that Crossrail will generate at least 75,000 business opportunities and support the equivalent of 55,000 full time jobs right around the UK. </p>
<p>Three out of five businesses currently winning work on the project are based outside London and over half are small and medium-size companies (SMEs).<br></p>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
                <a href="/info-for/media/index" class="heading">
                    <h2 id="sub-menu-heading">Media<span class="visually-hidden"> navigation</span></h2>
                </a>
                <ul>
                    
                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases">Press releases</a></div>
                                <ul>
                                    
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2020">2020</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019">2019</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018">2018</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017">2017</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016">2016</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015">2015</a></div></li>
                            
 
                                        <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014">2014</a></div>
                                        <ul>
                                            
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/december">December</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/november">November</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/october">October</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/september">September</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/august">August</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/july">July</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/june">June</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/may">May</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/april">April</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/march">March</a></div></li>
                                    
 
                                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/february">February</a></div>
                                                <ul>
                                                    
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
                                                </ul>
                                            
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/january">January</a></div></li>
                                    
 
                                        </ul>
                                    </li>
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2013">2013</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2012">2012</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2011">2011</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2010">2010</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2009">2009</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2008">2008</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2007">2007</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2006">2006</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2005">2005</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2004">2004</a></div></li>
                            
 
                                </ul>
                            </li>
 
                                <li><div class="link-wrapper"><a href="/info-for/media/photos">Photos</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/media/contact-the-press-office">Contact the Press Office</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/filming-and-photography">Filming & photography</a></div></li>
                            
 
                </ul>
            
 
 
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype: -Home-Media-Media-Press releases-2014-February-Contract signed for Bombardier to deliver Crossrail rolling stock and depot -->

 
 
        
        
            @{ViewBag.Description = "The contract between TfL and Bombardier covers the supply, delivery and maintenance of 65 new trains and a depot at Old Oak Common.&nbsp; TfL will run Crossrail as part of its integrated transport services for London, including ticketing and customer";}
        
        


 