


@{ViewBag.Title = "London buses to go cashless from mid 2014";}
        
        
<div class="r">
    <div class="breadcrumb-container" role="navigation">
        <span id="breadcrumb-label" class="visually-hidden">You are here:</span>
        <ol class="breadcrumbs clearfix" aria-labelledby="breadcrumb-label">
            <li class="home">
                <a href="/">
                    <span class="hide-text">Home</span>
                </a>
            </li>
            
                <li>
                    <a href="/info-for/media/index">Media</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases">Press releases</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases/2014">2014</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases/2014/february">February</a>
                </li>
                
                <li>
                    <span class="last-breadcrumb">London buses to go cashless from mid 2014</span>
                </li>
            
 
            
 
            
 
            
 
            
 
        </ul>
    </div>
</div>
     
 
<div class="r">
    <div class="headline-container plain">
        <h1>London buses to go cashless from mid 2014</h1>
        <div class="content-page-press-release">
        03 February 2014
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        Transport for London (TfL) has today announced that it is to stop accepting cash fares on London buses from summer this year.
        
    </div>



<div class="pull-quote">
        <div class="quote-body">"'Paying with Oyster or a contactless payment card is not only the cheapest option, but also speeds up boarding times at bus stops and reduces delays"</div>
        <div class="quote-footer">
            <div class="quotee-name">Leon Daniels</div>
            <div class="quotee-job-title">Managing Director for TfL Surface Transport</div>
        </div>
</div>

 <div class="on-this-page">
<div class="pullquote right">
                        <p>
                            'Paying with Oyster or a contactless payment card is not only the cheapest option, but also speeds up boarding times at bus stops and reduces delays
                            
                        </p>
                    </div>
                
            
            
            <p>Cash fares make up one per cent of bus journeys - down from around 25 per cent a decade ago.&nbsp; </p>
<p>Since launching on the bus network in December 2012, over 8 million journeys have now been made using a contactless payment card.&nbsp; </p>
<p>With the acceptance of contactless payment cards to be extended to London Underground and London Rail services from later this year, the use of cash is expected to continue to fall.&nbsp; </p>
<p>A recent public consultation, which sought customers' views on proposals to withdraw cash fare payments, attracted over 37,000 responses.&nbsp; </p>
<p>Around a third of respondents agreed with the proposal to remove cash fares.&nbsp; </p>
<p>Around three quarters of responses to the consultation came from people who indicated that they do not themselves pay cash fares on the bus.</p>
<p>We have taken into account all of the views expressed in consultation responses and have used these to shape a range of measures that will ensure a smooth transition to the new arrangements.&nbsp; </p>
<p>These measures include:<br></p>
<ul>
<li>Introducing a new 'one more journey' feature on Oyster that will allow passengers with less than the single bus fare (currently &pound;1.45) but who have a positive balance on their card to make one more bus journey before they have to add credit to their card </li>
<li>A review of the Oyster Ticket Stop network to see if additional locations can be identified, particularly in outer London </li>
<li>Refreshed guidance for all 24,500 London bus drivers to ensure a consistent approach is taken when dealing with vulnerable passengers </li>
<li>A public information campaign to increase awareness of the benefits of contactless payment cards and Oyster pay as you go, which offer a single bus fare for 95p less than the current cash fare</li></ul>
<p>This change will not affect 99 per cent of bus passengers who already pay for their journeys using Oyster, prepaid tickets, contactless payment cards or concessionary tickets.</p>
<p>The latter group represents a third of passengers and includes children and young people, older and disabled people and the unemployed.&nbsp;&nbsp; </p>
<p>Our research shows this change is also unlikely to affect tourists as the vast majority use a prepaid ticket, such as Oyster, to get around the capital.&nbsp; </p>
<p>Leon Daniels, Managing Director for TfL Surface Transport said: </p>
<p>'The decision to stop accepting cash fares on London buses reflects the changing way that people pay for goods and services in our city, including journeys on the bus network.</p>
<p>'We are introducing a range of measures, including a new 'one more journey'&nbsp; feature on Oyster cards, which will ensure that people can still make a journey and then top up their card when they don't have the full fare. </p>
<p>'Paying with Oyster or a contactless payment card is not only the cheapest option, but also speeds up boarding times at bus stops and reduces delays.&nbsp; </p>
<p>It costs &pound;24 million a year to accept cash on London's buses and by removing this option we will generate significant savings which, like all of our income, will be reinvested in improvements to the transport network.'</p>

<p>
<hr>
<br></p>
            <p>Notes to Editors:</p>
<ol type="1">
<li>The public consultation on proposals to withdraw cash fare payments on London buses ran from 19 August until 11 October 2013 and attracted over 37,000 responses. The consultation report can be viewed <a href="https://consultations.tfl.gov.uk/buses/cashless">here</a></li>
<li>To ensure the correct card is charged for the journey, customers should ensure they present their Oyster or contactless payment card separately when touching in. Any customer with queries about the fare they have been charged should contact our Customer Services team on 0343 222 1234 or <a href="mailto:oysterenquiries&#64;tfl.gov.uk">oysterenquiries&#64;tfl.gov.uk</a>. <br></li></ol>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
                <a href="/info-for/media/index" class="heading">
                    <h2 id="sub-menu-heading">Media<span class="visually-hidden"> navigation</span></h2>
                </a>
                <ul>
                    
                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases">Press releases</a></div>
                                <ul>
                                    
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2020">2020</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019">2019</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018">2018</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017">2017</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016">2016</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015">2015</a></div></li>
                            
 
                                        <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014">2014</a></div>
                                        <ul>
                                            
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/december">December</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/november">November</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/october">October</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/september">September</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/august">August</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/july">July</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/june">June</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/may">May</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/april">April</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/march">March</a></div></li>
                                    
 
                                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/february">February</a></div>
                                                <ul>
                                                    
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
                                                </ul>
                                            
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/january">January</a></div></li>
                                    
 
                                        </ul>
                                    </li>
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2013">2013</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2012">2012</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2011">2011</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2010">2010</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2009">2009</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2008">2008</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2007">2007</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2006">2006</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2005">2005</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2004">2004</a></div></li>
                            
 
                                </ul>
                            </li>
 
                                <li><div class="link-wrapper"><a href="/info-for/media/photos">Photos</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/media/contact-the-press-office">Contact the Press Office</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/filming-and-photography">Filming & photography</a></div></li>
                            
 
                </ul>
            
 
 
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype: -Home-Media-Media-Press releases-2014-February-London buses to go cashless from mid 2014 -->

 
 
        
        
            @{ViewBag.Description = "Cash fares make up one per cent of bus journeys - down from around 25 per cent a decade ago.&nbsp; Since launching on the bus network in December 2012, over 8 million journeys have now been made using a contactless payment card.&nbsp; With the acceptance";}
        
        


 