


@{ViewBag.Title = "London Underground begins search for supplier to build the 'New Tube for London'";}
        
        
<div class="r">
    <div class="breadcrumb-container" role="navigation">
        <span id="breadcrumb-label" class="visually-hidden">You are here:</span>
        <ol class="breadcrumbs clearfix" aria-labelledby="breadcrumb-label">
            <li class="home">
                <a href="/">
                    <span class="hide-text">Home</span>
                </a>
            </li>
            
                <li>
                    <a href="/info-for/media/index">Media</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases">Press releases</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases/2014">2014</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases/2014/february">February</a>
                </li>
                
                <li>
                    <span class="last-breadcrumb">London Underground begins search for supplier to build the 'New Tube for London'</span>
                </li>
            
 
            
 
            
 
            
 
            
 
        </ul>
    </div>
</div>
     
 
<div class="r">
    <div class="headline-container plain">
        <h1>London Underground begins search for supplier to build the 'New Tube for London'</h1>
        <div class="content-page-press-release">
        28 February 2014
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        First ever air-cooled trains for the deep-level Piccadilly, Central, Bakerloo and Waterloo & City lines.
        
    </div>



<div class="pull-quote">
        <div class="quote-body">"This is a hugely important step in the continued evolution of our world-famous Tube and one that will see an iconic new fleet of trains to keep London and its economy moving"</div>
        <div class="quote-footer">
            <div class="quotee-name">Boris Johnson</div>
            <div class="quotee-job-title">Mayor of London</div>
        </div>
</div>

 <div class="on-this-page">
<div class="pullquote right">
                        <p>
                            This is a hugely important step in the continued evolution of our world-famous Tube and one that will see an iconic new fleet of trains to keep London and its economy moving
                            
                        </p>
                    </div>
                
            
            
            <p>250 new walk-through trains and modern signalling system will boost capacity, supporting London's population growth and economy.</p>
<p>London Underground (LU) will today begin the search for a supplier to build the 'New Tube for London' - the next generation of deep-level, energy efficient, walk-through and air-cooled Tube trains.</p>
<h2>More frequent and reliable services</h2>
<p>The new trains, capable of full automation, will enable more frequent and reliable services, boosting capacity and making journeys better and more comfortable for customers.</p>
<p>The New Tube for London will operate on the Bakerloo, Central, Piccadilly and Waterloo &amp; City lines.</p>
<p>250 new trains will include air-cooling for the first time on deep-level sections of the Tube, a challenge thought to be almost impossible to overcome until now.</p>
<p>LU will place a notice today with the Official Journal of the European Union (OJEU) seeking expressions of interest to build the new trains.A formal Invitation to Tender is expected to be issued in early 2015.<br>&nbsp;<br>Alongside new modern signalling systems, the new trains will help LU meet the challenge of London's growing population - set to increase from 8.4 million today to around 10m by 2030 - by increasing capacity on:</p>
<ul>
<li>the Central line by 25 per cent; </li>
<li>the Bakerloo line by 25 per cent; </li>
<li>the Waterloo &amp; City line by 50 per cent; and, </li>
<li>the Piccadilly line by 60 per cent.</li></ul>
<h2>Vital modernisation</h2>
<p>The Mayor of London, Boris Johnson, said: 'This vital modernisation of our trains and signalling will ensure an even more comfortable, frequent and reliable service for hardworking commuters and visitors to the capital.</p>
<p>'Much like our Victorian forebears, we will make what was once thought impossible possible when 250 brand-new, air-cooled, walk-through trains are introduced to the network.</p>
<p>'This is a hugely important step in the continued evolution of our world-famous Tube and one that will see an iconic new fleet of trains to keep London and its economy moving.'</p>
<p>Mike Brown MVO, Managing Director of London Underground said: 'Londoners have already seen huge improvements on the Underground.</p>
<p>'The modernisation of the Victoria and Jubilee lines has delivered faster, more frequent and reliable journeys and this year we'll also complete the upgrade of the Northern line ahead of schedule.</p>
<p>'New walk-through, air-cooled trains are already running on the Circle, Hammersmith &amp; City and Metropolitan lines and will soon be on the District line too.</p>
<p>'However, we can't stand still and must continue to invest to meet the needs of London's rapidly growing population.</p>
<p>'Alongside modern signalling, these new trains will modernise and drastically improve capacity on the Bakerloo, Central, Piccadilly and Waterloo &amp; City lines, allowing us to run more frequent and reliable trains, faster and closer together.<br>&nbsp;<br>'Working with the rail industry, we want the New Tube for London to encompass the very latest technology as well as respecting our design heritage.</p>
<p>'Our new trains will be energy efficient, walk-through and provide air-cooling for the first time on the deep level lines, which are unique to London.'</p>

<p>
<hr>

<p>
<p>New Tube for London programme will see approximately:</p>
<ul>
<li>100 trains for the Piccadilly line;</li>
<li>100 trains for the&nbsp;Central line;</li>
<li>40 trains for the Bakerloo line;</li>
<li>10 trains for the&nbsp;Waterloo &amp; City&nbsp;line.<br></li></ul>
<p>Further details on the New Tube for London and deep-level Tube modernisation programme can be found here, in the paper considered by the Transport for London Board at its February 5 meeting: <a href="http://www.tfl.gov.uk/assets/downloads/corporate/Board-20140205-Part-1-Item10-New-Tube-for-London.pdf">http://www.tfl.gov.uk/assets/downloads/corporate/Board-20140205-Part-1-Item10-New-Tube-for-London.pdf</a></p>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
                <a href="/info-for/media/index" class="heading">
                    <h2 id="sub-menu-heading">Media<span class="visually-hidden"> navigation</span></h2>
                </a>
                <ul>
                    
                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases">Press releases</a></div>
                                <ul>
                                    
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2020">2020</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019">2019</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018">2018</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017">2017</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016">2016</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015">2015</a></div></li>
                            
 
                                        <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014">2014</a></div>
                                        <ul>
                                            
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/december">December</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/november">November</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/october">October</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/september">September</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/august">August</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/july">July</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/june">June</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/may">May</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/april">April</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/march">March</a></div></li>
                                    
 
                                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/february">February</a></div>
                                                <ul>
                                                    
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
                                                </ul>
                                            
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/january">January</a></div></li>
                                    
 
                                        </ul>
                                    </li>
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2013">2013</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2012">2012</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2011">2011</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2010">2010</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2009">2009</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2008">2008</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2007">2007</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2006">2006</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2005">2005</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2004">2004</a></div></li>
                            
 
                                </ul>
                            </li>
 
                                <li><div class="link-wrapper"><a href="/info-for/media/photos">Photos</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/media/contact-the-press-office">Contact the Press Office</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/filming-and-photography">Filming & photography</a></div></li>
                            
 
                </ul>
            
 
 
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype: -Home-Media-Media-Press releases-2014-February-London Underground begins search for supplier to build the 'New Tube for London' -->

 
 
        
        
            @{ViewBag.Description = "250 new walk-through trains and modern signalling system will boost capacity, supporting London's population growth and economy.London Underground (LU) will today begin the search for a supplier to build the 'New Tube for London' - the next generation of";}
        
        


 