


@{ViewBag.Title = "'Not too late to call strike off and continue talking', LU's boss says to unions";}
        
        
<div class="r">
    <div class="breadcrumb-container" role="navigation">
        <span id="breadcrumb-label" class="visually-hidden">You are here:</span>
        <ol class="breadcrumbs clearfix" aria-labelledby="breadcrumb-label">
            <li class="home">
                <a href="/">
                    <span class="hide-text">Home</span>
                </a>
            </li>
            
                <li>
                    <a href="/info-for/media/index">Media</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases">Press releases</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases/2014">2014</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases/2014/february">February</a>
                </li>
                
                <li>
                    <span class="last-breadcrumb">'Not too late to call strike off and continue talking', LU's boss says to unions</span>
                </li>
            
 
            
 
            
 
            
 
            
 
        </ul>
    </div>
</div>
     
 
<div class="r">
    <div class="headline-container plain">
        <h1>'Not too late to call strike off and continue talking', LU's boss says to unions</h1>
        <div class="content-page-press-release">
        04 February 2014
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        London Underground's (LU) Managing Director, Mike Brown has again called on the leaderships of the RMT and TSSA unions to lift their threat of strike action and return to talks about modernising the future of the Tube.
        
    </div>



<div class="pull-quote">
        <div class="quote-body">"My message to the union leaderships is that it is not too late to suspend strike action and instead keep talking to us about modernising London's Tube service"</div>
        <div class="quote-footer">
            <div class="quotee-name">Mike Brown MVO</div>
            <div class="quotee-job-title">London Underground Managing Director</div>
        </div>
</div>

 <div class="on-this-page">
<div class="pullquote right">
                        <p>
                            My message to the union leaderships is that it is not too late to suspend strike action and instead keep talking to us about modernising London's Tube service
                            
                        </p>
                    </div>
                
            
            
            <p>Mike Brown repeated the offer of an intensive period of talks made at conciliation service ACAS yesterday, during which LU would not move forward with the implementation of its plans for the future of the Tube and would extend the formal consultation period to 5 March. </p>
<p>LU offered continuous talks at ACAS to try to resolve the dispute, avert strike action and unnecessary disruption to Londoners.</p>
<p>The offer to the unions came as LU said that there have been over 1,000 enquiries about Voluntary Severance terms as it looks to reduce a net 750 roles which, given advances in technology and the way in which customers now use the service, no longer need to be performed.&nbsp; </p>
<p>Over 450 firm expressions of interest have been received.</p>
<p>LU's plans would see staff moved out of underused ticket offices into ticket halls, on to gate lines and platforms, with more staff visible and available to help customers buy the right ticket, plan their journeys and keep them safe and secure. </p>
<p>Less than three per cent of all Tube journeys now involve a visit to a ticket office.</p>
<p>LU Managing Director, Mike Brown MVO said:</p>
<p>'My message to the union leaderships is that it is not too late to suspend strike action and instead keep talking to us about modernising London's Tube service.&nbsp; </p>
<p>I repeat the offer made at ACAS.&nbsp; </p>
<p>If you lift the threat of strike action then we will extend consultation on our plans for the future of the Tube and continue talks at ACAS.&nbsp; </p>
<p>I remain committed to provide genuine and positive responses to the unions constructive ideas and proposals.<br>&nbsp;<br>'I repeat my promise that all Tube stations will remain staffed and controlled at all times when services are operating.&nbsp; </p>
<p>In future, there will be more staff in ticket halls and on platforms to help customers buy the right ticket, plan their journeys and to keep them safe and secure.<br>&nbsp;<br>'We will implement these changes without compulsory redundancies and, already, there have been over 1,000 enquiries about voluntary severance. </p>
<p>There will be a job for everyone at LU who wants to work for us and be flexible.'<br>&nbsp;<br>In setting out its vision for the future of the Tube, LU has made the following commitments to Londoners:</p>
<ul>
<li>All stations will remain staffed and controlled at all times, with more staff visible and available to help customers</li>
<li>We'll introduce a new 24-hour service at weekends from 2015</li>
<li>We'll provide more frequent and reliable services with better, more accessible stations</li>
<li>We'll introduce simpler ticketing - such as contactless bank card payment</li>
<li>We'll provide the best possible value for the fare you pay</li></ul>
<p>The trend of ticket sales away from ticket offices has surged over recent years and today less than three per cent of all Tube journeys involve a visit to a ticket office.&nbsp; </p>
<p>In future therefore, rather than being remote from customers behind closed doors or glass windows, Tube station staff will not be based in ticket offices, but in ticket halls, on gate lines and on platforms, ready and available to give the best face-to-face service for customers. </p>
<p>All Tube stations will continue to be staffed and controlled in future, with more staff visible and available than today in ticket halls and on gate lines and with the same number of staff on platforms.&nbsp; </p>
<p>Staff equipped with the latest mobile technology, such as tablet computers, will be able to monitor and manage stations on the move.<br>&nbsp;<br>From 2015, Londoners and visitors to the capital will be able to take the Tube home at any hour of the night on Fridays and Saturdays, supporting London's vibrant night-time economy and boosting businesses, jobs and leisure opportunities. </p>
<p>The new 'Night Tube' network has been made possible because significant parts of the LU network have been successfully modernised.</p>
<p>From 2015, weekend services will run through the night on core parts of the system - initially comprised of the Northern, Piccadilly, Victoria, Central and Jubilee lines.&nbsp; </p>
<p>This network, which will be expanded to include other lines in subsequent years, will link in with existing 24 hour and Night Bus services to give passengers an extensive and integrated service throughout the night.<br></p>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
                <a href="/info-for/media/index" class="heading">
                    <h2 id="sub-menu-heading">Media<span class="visually-hidden"> navigation</span></h2>
                </a>
                <ul>
                    
                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases">Press releases</a></div>
                                <ul>
                                    
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2020">2020</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019">2019</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018">2018</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017">2017</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016">2016</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015">2015</a></div></li>
                            
 
                                        <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014">2014</a></div>
                                        <ul>
                                            
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/december">December</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/november">November</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/october">October</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/september">September</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/august">August</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/july">July</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/june">June</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/may">May</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/april">April</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/march">March</a></div></li>
                                    
 
                                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/february">February</a></div>
                                                <ul>
                                                    
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
                                                </ul>
                                            
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/january">January</a></div></li>
                                    
 
                                        </ul>
                                    </li>
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2013">2013</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2012">2012</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2011">2011</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2010">2010</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2009">2009</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2008">2008</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2007">2007</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2006">2006</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2005">2005</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2004">2004</a></div></li>
                            
 
                                </ul>
                            </li>
 
                                <li><div class="link-wrapper"><a href="/info-for/media/photos">Photos</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/media/contact-the-press-office">Contact the Press Office</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/filming-and-photography">Filming & photography</a></div></li>
                            
 
                </ul>
            
 
 
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype: -Home-Media-Media-Press releases-2014-February-'Not too late to call strike off and continue talking', LU's boss says to unions -->

 
 
        
        
            @{ViewBag.Description = "Mike Brown repeated the offer of an intensive period of talks made at conciliation service ACAS yesterday, during which LU would not move forward with the implementation of its plans for the future of the Tube and would extend the formal consultation";}
        
        


 