


@{ViewBag.Title = "Passengers' poems to change travel etiquette now on show at Tube stations across the capital";}
        
        
<div class="r">
    <div class="breadcrumb-container" role="navigation">
        <span id="breadcrumb-label" class="visually-hidden">You are here:</span>
        <ol class="breadcrumbs clearfix" aria-labelledby="breadcrumb-label">
            <li class="home">
                <a href="/">
                    <span class="hide-text">Home</span>
                </a>
            </li>
            
                <li>
                    <a href="/info-for/media/index">Media</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases">Press releases</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases/2014">2014</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases/2014/february">February</a>
                </li>
                
                <li>
                    <span class="last-breadcrumb">Passengers' poems to change travel etiquette now on show at Tube stations across the capital</span>
                </li>
            
 
            
 
            
 
            
 
            
 
        </ul>
    </div>
</div>
     
 
<div class="r">
    <div class="headline-container plain">
        <h1>Passengers' poems to change travel etiquette now on show at Tube stations across the capital</h1>
        <div class="content-page-press-release">
        21 February 2014
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        Winning poems featured on latest TfL adverts to improve travel behaviour
        
    </div>



 <div class="on-this-page">
<p>Two poems by passengers about travel etiquette have been chosen to feature on posters in Tube stations across the capital as part of Transport for London's latest campaign.</p>
<p>'Travel Better London' aims to highlight the travel behaviours than can cause delay to our journeys including dropping litter, pulling the passenger alarm, holding the doors open and not letting passengers off before they get on.</p>
<p>The new posters are the result of a competition asking passengers to submit their poems about helping to improve the environment for fellow travellers by making small changes to their travel habits. </p>
<p>Yesterday, the winners saw their rhymes transformed into posters for the first time. Alex Bishop, winner in the over-18 category wrote about the effects that playing loud music has on fellow passengers. </p>
<p>Rock 'n' roll may stir the soul<br>And drum 'n' bass may have its place<br>But down that urban rabbit hole<br>It leaves a more divisive taste<br>That tinny blare, we're forced to bear it<br>Please turn it down, no need to share it</p>
<p>Under-18 category winner Toni Omitogun wrote about travelling in crowded areas.<br>You should try not to push or squeeze,<br>For sometimes all you have to do is say please.<br>Although your delays might be slight,<br>You may stop people getting to their families that night.<br>Even if you are trying to be polite,<br>Try not to make spaces too tight.</p>
<p>Other behaviours targeted include wearing rucksacks on crowded vehicles and eating smelly food.</p>
<p>Mike Brown MVO, Managing Director, London Underground, said:<br>`We've been working hard to meet the Mayor's commitment of reducing delays by a further 30 per cent by 2015 but there is still work to do. </p>
<p>`While we are making improvements across the network, passengers can also play a key role in helping us to deliver an even more efficient service. </p>
<p>`Some 400 hours of delays last year could have been avoided with just a few small changes to customer travelling habits. `The winners of the Travel Better London competition show that Londoners have got behind the campaign.`Littering, pulling the passenger alarm, holding the doors open and not letting passengers off the train are small actions that cause larger effects on the transport network. </p>
<p>`The campaign uses poetry as a way to advise our customers on simple steps they can take to help reduce incidents that delay services and impact upon everyone.'</p>Alex Bishop, Winner of Travel Better London Poetry Competition said:<br>`I'm really pleased my poem won the competition. It is great to see it on the big poster at Baker Street station every morning. &nbsp; `Listening to feedback from other people's music when I'm travelling is one of those things that doesn't happen often but it's really irritating when it does. &nbsp; `My messages, especially as a fan of heavy metal, play whatever you like just keep it down!' 
<hr>

<ul>
<li>The Travel Better London poetry competition ran from 30 September until 13 October 2013. The poems must be 4-6 lines long and based on one of the travel behaviours shown in the campaign. The entries and winning poems can be found at <a href="http://www.tfl.gov.uk/travelbetterlondon">www.tfl.gov.uk/travelbetterlondon</a> </li>
<li>Delays to customers' journeys have been reduced by 37 per cent since 2008/09 and 53 per cent since 2003. The continuing trend of long-term improvement follows the success of the London Underground Reliability Programme.&nbsp; </li>
<li>Data from London Underground performance information database, a corporate record of incidents that cause disruption from July 2012 - August 2013 </li>
<li>The travel habits highlighted in the campaign are: </li>
<li>Litter left on the Tube and in stations </li>
<li>Inappropriate use of passenger alarms and passengers falling ill on trains </li>
<li>Playing loud music </li>
<li>Eating smelly food on board vehicles </li>
<li>Holding train doors open </li>
<li>Moving down the platform </li>
<li>Moving down inside the carriage to allow room for other passengers </li>
<li>Putting feet on seat </li>
<li>When the emergency alarm on a train is pulled, it will only stop when it is in the station. In other cases it will proceed directly to the next station and stop there where it is quicker and easier to get medical help. Last year there were 369 incidents, each lasting approximately 4 and a half minutes caused by unwanted use of the emergency alarms on trains. </li>
<li>Newspapers can be blown onto the track, blocking lights which can lead to signal failures. Newspapers can also become trapped in train doors. Last year there were 469 incidents involving litter that led to delays with 81 per cent due to litter being caught in train doors. </li>
<li>The adverts will be displayed across the transport network including bus, Tube, rail, tram and Docklands Light Railway.<br></li></ul>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
                <a href="/info-for/media/index" class="heading">
                    <h2 id="sub-menu-heading">Media<span class="visually-hidden"> navigation</span></h2>
                </a>
                <ul>
                    
                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases">Press releases</a></div>
                                <ul>
                                    
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2020">2020</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019">2019</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018">2018</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017">2017</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016">2016</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015">2015</a></div></li>
                            
 
                                        <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014">2014</a></div>
                                        <ul>
                                            
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/december">December</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/november">November</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/october">October</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/september">September</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/august">August</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/july">July</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/june">June</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/may">May</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/april">April</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/march">March</a></div></li>
                                    
 
                                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/february">February</a></div>
                                                <ul>
                                                    
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
                                                </ul>
                                            
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/january">January</a></div></li>
                                    
 
                                        </ul>
                                    </li>
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2013">2013</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2012">2012</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2011">2011</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2010">2010</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2009">2009</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2008">2008</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2007">2007</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2006">2006</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2005">2005</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2004">2004</a></div></li>
                            
 
                                </ul>
                            </li>
 
                                <li><div class="link-wrapper"><a href="/info-for/media/photos">Photos</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/media/contact-the-press-office">Contact the Press Office</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/filming-and-photography">Filming & photography</a></div></li>
                            
 
                </ul>
            
 
 
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype: -Home-Media-Media-Press releases-2014-February-Passengers' poems to change travel etiquette now on show at Tube stations across the capital -->

 
 
        
        
            @{ViewBag.Description = "Two poems by passengers about travel etiquette have been chosen to feature on posters in Tube stations across the capital as part of Transport for London's latest campaign.'Travel Better London' aims to highlight the travel behaviours than can cause delay";}
        
        


 