


@{ViewBag.Title = "Record numbers travel on the River Thames as Action Plan delivers improvements in its first year";}
        
        
<div class="r">
    <div class="breadcrumb-container" role="navigation">
        <span id="breadcrumb-label" class="visually-hidden">You are here:</span>
        <ol class="breadcrumbs clearfix" aria-labelledby="breadcrumb-label">
            <li class="home">
                <a href="/">
                    <span class="hide-text">Home</span>
                </a>
            </li>
            
                <li>
                    <a href="/info-for/media/index">Media</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases">Press releases</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases/2014">2014</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases/2014/february">February</a>
                </li>
                
                <li>
                    <span class="last-breadcrumb">Record numbers travel on the River Thames as Action Plan delivers improvements in its first year</span>
                </li>
            
 
            
 
            
 
            
 
            
 
        </ul>
    </div>
</div>
     
 
<div class="r">
    <div class="headline-container plain">
        <h1>Record numbers travel on the River Thames as Action Plan delivers improvements in its first year</h1>
        <div class="content-page-press-release">
        26 February 2014
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        Record passenger numbers carried on River Buses and River Tours
        
    </div>



 <div class="on-this-page">
<p>The Mayor and Transport for London (TfL), along with members of the River Concordat, today marked the key achievements of the first year of the River Action Plan, while planning ahead to get even more people making commuter and leisure journeys&nbsp; on the Thames. </p>
<p>The River Action Plan, launched in February last year, details a host of measures designed to increase the number of river passengers to 12 million by 2020, and figures from last year already show very positive signs as passenger numbers increased to 8.5 million. </p>
<p>The record year for passenger numbers on the River Thames saw significant growth in both River Bus and River Tours services.&nbsp; </p>
<p>The Putney to Blackfriars River Bus service has seen a 130 per cent increase in passenger numbers since its re-launch in April 2013. </p>
<p>In response to this increase in passenger demand an additional two morning and three evening sailings have been introduced.</p>
<p>Meanwhile River Tours has seen growth of approximately 20 per cent in journeys on the Thames during 2013/14.&nbsp;&nbsp; </p>
<p>The Mayor of London, Boris Johnson, said: `The River Thames plays an integral role as both a key artery for commuters and a wonderful avenue for tourists too. </p>
<p>`That is why I am delighted that a record number of passengers used the river last year, benefitting from our clearer timetables and improved routes. </p>
<p>`We are nevertheless looking to the future with plans to build further new piers and to expand existing facilities, remaining on course to reach 12 million passengers travelling on the Thames by 2020.'</p>
<p>Garrett Emmerson, TfL's Surface Chief Operating Officer, said: `River transportation is going from strength to strength, with ambitious plans supported by the commitment of TfL, the River Concordat and the River Action Plan.&nbsp; </p>
<p>`As more riverside developments include the river in their plans I am sure we will see continued growth in passenger numbers.&nbsp; </p>
<p>`This is an exciting time for river services and future collaborative working will ensure the capital's most famous waterway remains at the heart of London's growth.'</p>
<p>To ensure that continued growth in demand is matched by pier capacity, work is being progressed to extend three existing central London piers. </p>
<p>Findings from a recent marine engineers' study has identified viable options for increasing berthing and passenger capacity at three central London piers - Bankside, Embankment and Westminster - by 2015. </p>
<p>A number of new pier infrastructure projects are also progressing well as new riverside developers move forward with their plans. </p>
<p>These include new piers at Battersea Power Station and Plantation Wharf, which are due to open later this year. </p>
<p>Plans for piers at Convoys Wharf in Deptford, Enderby Wharf in Greenwich and the western side of North Greenwich Peninsula are also underway.</p>
<p>Better passenger information continues to be rolled out at all river piers, with clearer transport interchange information to ensure the river is better integrated with the rest of the transport network. </p>
<p>Real time boat information is also now available for River Bus services at all piers, online and via text messaging.&nbsp; </p>
<p>A pilot project upgrading the look and feel of piers is being delivered at two piers, Embankment and Westminster, to make the piers more visible and to improve passengers' experience when using river services, including the delivery of clearer signage, better flooring and improved lighting.</p>
<p>Promotional activity around the river has also increased with passengers benefiting from clearer timetables and a 'Tube style' route map providing clearer destination and attraction information.&nbsp; </p>
<p>The &#64;TfLRiver twitter feed provides passengers with Real Time River updates through social media, and TfL is working with London and Partners to market the river as part of their international 'London Story' campaign.</p>
<p>Building on the last 12 months' success TfL and the River Concordat are planning on maintaining the momentum gained since the launch of the River Action Plan last year. </p>
<p>Efforts to improve integration with the rest of the transport network will continue through the progression of contactless ticketing on river bus services and the introduction of cycle facilities at the minority of piers where these are not already in place. </p>
<p>The River Concordat Steering Group will continue to address strategic issues on the River Thames that impact on river passenger services, including boatyard capacity. </p>
<p>The Mayor brought together over 40 organisations to form a River Concordat in 2009 and appointed Richard Tracey AM as the Mayor's Ambassador for River Transport, charged with boosting its growth. </p>
<p>It is an agreement between the Port of London Authority (PLA), boat operators, pier owners, boroughs, TfL and the Greater London Authority that sees all organisations working together to improve passenger services and increase the number of people travelling on the River Thames. </p>
<p>
<hr>
</p>
<ul>
<li>TfL's River Action Plan is available to view at <a href="http://www.tfl.gov.uk/assets/downloads/river-action-plan.pdf">http://www.tfl.gov.uk/assets/downloads/river-action-plan.pdf</a> </li>
<li>For more information on London's river services, visit <a href="http://www.tfl.gov.uk/river">www.tfl.gov.uk/river</a> or pick up one of the new guides from some London River Services' piers, London Underground stations and Transport for London Travel Information Centres</li>
<li>There is a third off standard adult and child fares on most river services for passengers with valid Travelcards. Oyster pay as you go is accepted on River Bus services and passengers using it to pay for their fare receive a ten per cent discount on most River Bus services.&nbsp; For regular passengers there is a range of competitive season tickets available on a weekly, monthly and yearly basis</li>
<li>London River Services is responsible for managing eight piers on the river: Westminster, Festival, Embankment, Millbank, Blackfriars, Bankside, Tower and Greenwich</li>
<li>All London River Services piers are step-free at all states of the tide, allowing access for mobility impaired passengers.&nbsp; Most river boats are accessible - passengers should contact boat operators for comprehensive accessibility information when planning their journeys.&nbsp; The relevant contact information is included in the new guide and is available at <a href="http://www.tfl.gov.uk/river">www.tfl.gov.uk/river</a><br></li></ul>
<p><br>&nbsp;</p>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
                <a href="/info-for/media/index" class="heading">
                    <h2 id="sub-menu-heading">Media<span class="visually-hidden"> navigation</span></h2>
                </a>
                <ul>
                    
                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases">Press releases</a></div>
                                <ul>
                                    
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2020">2020</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019">2019</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018">2018</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017">2017</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016">2016</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015">2015</a></div></li>
                            
 
                                        <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014">2014</a></div>
                                        <ul>
                                            
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/december">December</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/november">November</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/october">October</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/september">September</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/august">August</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/july">July</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/june">June</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/may">May</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/april">April</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/march">March</a></div></li>
                                    
 
                                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/february">February</a></div>
                                                <ul>
                                                    
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
                                                </ul>
                                            
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/january">January</a></div></li>
                                    
 
                                        </ul>
                                    </li>
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2013">2013</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2012">2012</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2011">2011</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2010">2010</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2009">2009</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2008">2008</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2007">2007</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2006">2006</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2005">2005</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2004">2004</a></div></li>
                            
 
                                </ul>
                            </li>
 
                                <li><div class="link-wrapper"><a href="/info-for/media/photos">Photos</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/media/contact-the-press-office">Contact the Press Office</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/filming-and-photography">Filming & photography</a></div></li>
                            
 
                </ul>
            
 
 
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype: -Home-Media-Media-Press releases-2014-February-Record numbers travel on the River Thames as Action Plan delivers improvements in its first year -->

 
 
        
        
            @{ViewBag.Description = "The Mayor and Transport for London (TfL), along with members of the River Concordat, today marked the key achievements of the first year of the River Action Plan, while planning ahead to get even more people making commuter and leisure journeys&nbsp; on";}
        
        


 