


@{ViewBag.Title = "TfL and Google work together to crack down on misleading Congestion Charge sites";}
        
        
<div class="r">
    <div class="breadcrumb-container" role="navigation">
        <span id="breadcrumb-label" class="visually-hidden">You are here:</span>
        <ol class="breadcrumbs clearfix" aria-labelledby="breadcrumb-label">
            <li class="home">
                <a href="/">
                    <span class="hide-text">Home</span>
                </a>
            </li>
            
                <li>
                    <a href="/info-for/media/index">Media</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases">Press releases</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases/2014">2014</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases/2014/february">February</a>
                </li>
                
                <li>
                    <span class="last-breadcrumb">TfL and Google work together to crack down on misleading Congestion Charge sites</span>
                </li>
            
 
            
 
            
 
            
 
            
 
        </ul>
    </div>
</div>
     
 
<div class="r">
    <div class="headline-container plain">
        <h1>TfL and Google work together to crack down on misleading Congestion Charge sites</h1>
        <div class="content-page-press-release">
        25 February 2014
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        Around 1,000 people per day have been paying up to &pound;8 extra for non-existent "additional services"
        
    </div>



 <div class="on-this-page">
<p>Transport for London (TfL) and Google have taken further action to protect customers from using misleading and unofficial congestion charge payment sites.&nbsp; </p>
<p>TfL has provided further guidance to enable Google to implement their advertising policy in this area. In particular, even more information has been provided on why the so-called "additional services" that many unofficial sites purport to offer are either non-existent or are already provided by TfL's official payment channel for free. </p>
<p>The unofficial sites charge up to &pound;8 on top of the Congestion Charge fee for so-called "additional services". </p>
<p>Google has used this guidance to take action against those who breach its strict 'sale of free items' policy. </p>
<p>There have also been a number of cases where these unofficial sites have failed to pay the Congestion Charge on behalf of their customers, resulting in drivers receiving a Penalty Charge Notice (PCN) from TfL for non-payment of the Congestion Charge.</p>
<p>Some of these unofficial sites have also accepted payments from customers when the congestion charge has not been in operation. </p>
<p>The Congestion Charge operates 07:00 to 18:00 Monday to Friday. </p>
<p>There is no charge on weekends, public holidays or between Christmas day and New Year's Day inclusive.</p>
<p>Garrett Emmerson, TfL's Chief Operating Officer for Surface Transport, said: `We have taken further action with Google which means the removal of misleading advertisements for congestion charge payments from Google. </p>
<p>`This has radically reduced the number of customers who have fallen victim to exorbitant fees for so-called additional services that either don't exist or are already provided by TfL for free. </p>
<p>`We will keep the situation under continuous review and are also urgently examining other ways in which we can protect our customers from unofficial sites. </p>
<p>`Our advice remains that customers should only ever use our official website to pay the Congestion Charge.'</p>
<p>Theo Bertram, Head of Policy, Google UK, said: `We have always had a strict set of policies which govern what types of ads appear on Google and when we are notified that an advertiser is breaching those policies, we move swiftly to take action. </p>
<p>`Thanks to the further guidance provided by TfL, it is now easier to ensure London's motorists are protected from misleading sites.'</p>
<p>By paying via the official TfL website, customers will avoid any unnecessary charges imposed by unofficial websites and will remove the risk of receiving a PCN.&nbsp; </p>
<p>Customers can avoid paying via unofficial websites by registering with TfL for the automatic payment service, CC Auto Pay. </p>
<p>Under this, TfL automatically records the number of charging days a vehicle travels within the charging zone and bills the customer's debit or credit card monthly.&nbsp; </p>
<p>With CC Auto Pay, registered customers never need to remember to pay the charge again and they pay a reduced daily charge of &pound;9 instead of &pound;10. </p>
<p>This also protects customers from receiving Penalty Charge Notices as long as the vehicle is registered with TfL and the CC Auto Pay account is active.<br>
<hr>
For customers who wish to pay via phone the official TfL number is 0343 222 2222.<br>For details of other official payment methods please go <a href="http://www.tfl.gov.uk/roadusers/congestioncharging/6744.aspx">here</a>. The price of the Congestion Charge if paying in advance of, or on, the day of travel is &pound;10.<br>TfL is currently consulting on a number of proposed changes to the Congestion Charge scheme.&nbsp; Further details can be found at: <a href="http://www.tfl.gov.uk/ccyourviews">www.tfl.gov.uk/ccyourviews</a>.&nbsp; The consultation closes on Friday 14 March.<br>In January TfL renewed its warning to customers about unofficial payment sites that take payments for the Congestion Charge from unsuspecting customers.&nbsp; The warning followed a damning ruling from the Advertising Standards Agency - that branded one of the sites - paylondoncongestion.co.uk - misleading.&nbsp; In its ruling the ASA stated the website was "likely to lead consumers to believe that the web page was an official method of paying the London congestion charge and was affiliated with TfL.Full details of the ruling can be found <a href="http://www.asa.org.uk/Rulings/Adjudications/2014/1/TAD-Services/SHP_ADJ_245584.aspx ">here</a> 
<p>
<p>Unofficial sites make a number of misleading claims.&nbsp; These misleading claims are explained below:</p>
<ul>
<li>Misleading "instant" email confirmation of payment of the Congestion Charge<br>The confirmation you may receive from unofficial websites is worthless as it does not provide any assurance that the Congestion Charge has been paid to TfL, irrespective of what is claimed on the email confirmation.<br>TfL offers immediate email confirmation that payment of the Congestion Charge has been accepted by TfL and this email is usually issued within a few minutes of the payment being received by TfL. </li>
<li>Misleading mobile phone text message (SMS) notification claims<br>TfL customers who have registered to pay the Congestion Charge by mobile phone text message receive an immediate text message (SMS) confirmation that payment of the Congestion Charge itself has been accepted.<br>Receiving a mobile phone SMS text from unofficial sites stating that your payment has been received is not confirmation that the Congestion Charge has been paid to TfL. </li>
<li>Misleading claims that a website will check your vehicle registration details<br>The TfL website will not accept payment unless all of the vehicle registration information required to make a Congestion Charge payment is entered.&nbsp; The unofficial website offers no greater "check" on an application than that which would be provided by the TfL website. <br>The TfL website provides a postcode search tool and an interactive map which allows motorists to check free of charge whether or not their journey and destination are or were located within the Congestion Charge zone.&nbsp; The websites do not offer any better means of checking this.&nbsp; </li>
<li>Misleading claims of penalty charge reimbursement/Guarantee of Payment<br>Unofficial websites claim they will pay a fine on your behalf if the incorrect vehicle registration details have been supplied such as an '0' instead of an 'O' or 'I' instead of '1'.<br>However the small print on these websites usually places the onus on you to ensure that you have entered the correct details and will not pay a PCN if you have paid the Congestion Charge for the incorrect vehicle in error (e.g. by making a mistake in entering your vehicle registration details). This is a complete contradiction of the offers made by these websites.<br></li></ul>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
                <a href="/info-for/media/index" class="heading">
                    <h2 id="sub-menu-heading">Media<span class="visually-hidden"> navigation</span></h2>
                </a>
                <ul>
                    
                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases">Press releases</a></div>
                                <ul>
                                    
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2020">2020</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019">2019</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018">2018</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017">2017</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016">2016</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015">2015</a></div></li>
                            
 
                                        <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014">2014</a></div>
                                        <ul>
                                            
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/december">December</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/november">November</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/october">October</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/september">September</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/august">August</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/july">July</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/june">June</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/may">May</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/april">April</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/march">March</a></div></li>
                                    
 
                                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/february">February</a></div>
                                                <ul>
                                                    
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
                                                </ul>
                                            
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/january">January</a></div></li>
                                    
 
                                        </ul>
                                    </li>
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2013">2013</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2012">2012</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2011">2011</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2010">2010</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2009">2009</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2008">2008</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2007">2007</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2006">2006</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2005">2005</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2004">2004</a></div></li>
                            
 
                                </ul>
                            </li>
 
                                <li><div class="link-wrapper"><a href="/info-for/media/photos">Photos</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/media/contact-the-press-office">Contact the Press Office</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/filming-and-photography">Filming & photography</a></div></li>
                            
 
                </ul>
            
 
 
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype: -Home-Media-Media-Press releases-2014-February-TfL and Google work together to crack down on misleading Congestion Charge sites -->

 
 
        
        
            @{ViewBag.Description = "Transport for London (TfL) and Google have taken further action to protect customers from using misleading and unofficial congestion charge payment sites.&nbsp; TfL has provided further guidance to enable Google to implement their advertising policy in";}
        
        


 