


@{ViewBag.Title = "TfL Board agrees lowest taxi fares rise in more than 10 years";}
        
        
<div class="r">
    <div class="breadcrumb-container" role="navigation">
        <span id="breadcrumb-label" class="visually-hidden">You are here:</span>
        <ol class="breadcrumbs clearfix" aria-labelledby="breadcrumb-label">
            <li class="home">
                <a href="/">
                    <span class="hide-text">Home</span>
                </a>
            </li>
            
                <li>
                    <a href="/info-for/media/index">Media</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases">Press releases</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases/2014">2014</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases/2014/february">February</a>
                </li>
                
                <li>
                    <span class="last-breadcrumb">TfL Board agrees lowest taxi fares rise in more than 10 years</span>
                </li>
            
 
            
 
            
 
            
 
            
 
        </ul>
    </div>
</div>
     
 
<div class="r">
    <div class="headline-container plain">
        <h1>TfL Board agrees lowest taxi fares rise in more than 10 years</h1>
        <div class="content-page-press-release">
        21 February 2014
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        Taxi fares to increase by only 0.7 per cent, which equates to just nine pence on an average fare
        
    </div>



 <div class="on-this-page">
<p>Transport for London's (TfL) Board has agreed a well below inflation taxi fare increase for the coming financial year (2014/15). </p>
<p>The 0.7 per cent average increase is the lowest since TfL took over responsibility for licensing taxis in 2000 and will take effect from Saturday 5 April 2014.</p>
<p>The new fares seek a balance between maintaining income levels for drivers while ensuring passengers still get a fair price for the high quality service provided by the capital's taxi drivers. </p>
<p>The Board approved the changes following consultation by TfL with the taxi trade and others, including London TravelWatch, London Boroughs, London Assembly and London MPs.</p>
<p>Helen Chapman, TfL's General Manager of Taxi and Private Hire, said: `This year's increase in taxi fares is the lowest since TfL took on responsibility for licensing taxis and seeks to cover any changes in the costs of running a black cab while continuing to provide passengers with value for money.</p>
<p>`As part of our ongoing commitment to licensing a world-class taxi service, we will be conducting a number of reviews over the coming year, including whether increases in taxi fares and tariffs should be introduced at the start of each year, in line with London's Tube, rail and bus network.'</p>
<p>There will continue to be no extra charges for additional passengers or luggage and all taxis will continue to carry assistance dogs at no extra cost.&nbsp; </p>
<p>The Board also approved the extension of a special provision linked to diesel prices.&nbsp; </p>
<p>Since July 2008 a special provision has been in place to allow taxi fares to be increased if diesel costs increase drastically.&nbsp; </p>
<p>The Board approved an extension of this provision for the coming year and a 40 pence increase to all taxi fares will be implemented if diesel reaches 175.48 pence per litre.&nbsp; </p>
<p>Taxi journeys booked by telephone can be subject to a &pound;2.00 maximum surcharge which has been extended to cover taxi journeys booked using mobile phones, smart phones, mobile applications and online services.&nbsp; </p>
<p>This is to ensure consistency for passengers and stops any excessive charges for taxi booking services.&nbsp; </p>
<p>A further change will see the &pound;4.00 Christmas extra charge automatically added to fares over the festive period from December 2016, which is currently added manually by the driver.&nbsp; </p>
<p>The Board also endorsed a review of card acceptance in taxis as TfL research has indicated that an overwhelming majority of passengers feel that they should be able to pay for any a taxi journey by debit or credit card.&nbsp; </p>
<p>There is currently no requirement for all licensed taxis to accept card payments.&nbsp; </p>
<p>In addition to the review the existing card payment surcharge will be reduced from the current 12.5 per cent to 10 per cent or &pound;1.00, whichever is greater, to reduce costs to passengers</p>
<p>The Board agreed to review the date when taxi fares and tariffs are reviewed with the possibility of aligning changes with those made on London's bus, rail and Tube network - so from January each year, rather than April. 
<hr>

<p>
<p>
<p>
<ul>
<li>Transport for London's Taxi and Private Hire is responsible for licensing and regulating London's taxi and private hire services </li>
<li>Taxi fares are calculated according to one of three tariffs. </li>
<li>These are:&nbsp;&nbsp; </li>
<li>Tariff 1: Monday to Friday, between 06.00 and 20.00<br>Tariff 2: Monday to Friday, between 20.00 and 22.00, and weekends between 06.00 and 22.00<br>Tariff 3: Nightly between 22.00 and 06.00 and on public holidays </li>
<li>Taxi fares are reviewed annually and calculated by TfL based on a cost index that has been used since 1981. </li>
<li>The 2016 timescale for the Christmas extra to be added to the meter automatically has been set to tie in with other changes to meters required by European legislation to ensure fares are calculated accurately. </li>
<li>There will continue to be no extra charges for additional passengers or luggage and all taxis will continue to carry assistance dogs at no extra cost. The Board also approved the extension of a special provision linked to diesel prices. Since July 2008 a special provision has been in place to allow taxi fares to be increased if diesel costs increase drastically.&nbsp; The Board approved an extension of this provision for the coming year and a 40 pence increase to all taxi fares will be implemented if diesel reaches 175.48 pence per litre. </li>
<li>The TfL Board paper that was considered can be found at: <a href="http://www.tfl.gov.uk/corporate/about-tfl/boardandchiefofficers/papers/1436.aspx">www.tfl.gov.uk/corporate/about-tfl/boardandchiefofficers/papers/1436.aspx</a>&nbsp; </li>
<li>TARIFF CHANGES - 0.7 PER CENT AVERAGE FARE INCREASE</li></ul>
<div class="table-container"><table height="250" cellspacing="1" cellpadding="1" width="334" align="left" border="1">
<tbody>
<tr>
<td>&nbsp;</td>
<td>Current average </td>
<td>New average </td>
<td>Increase (&pound;)</td>
<td>Increase (%)</td></tr>
<tr>
<td>Tariff 1</td>
<td>&pound;11.43 </td>
<td>&nbsp;&pound;11.51</td>
<td>&nbsp;&pound;0.08</td>
<td>&nbsp;0.7%</td></tr>
<tr>
<td>Tariff 2</td>
<td>&pound;13.25</td>
<td>&nbsp;&pound;13.34</td>
<td>&nbsp;&pound;0.10</td>
<td>&nbsp;0.7%</td></tr>
<tr>
<td>Tariff 3</td>
<td>&pound;15.57</td>
<td>&nbsp;&pound;15.67</td>
<td>&nbsp;&pound;0.10</td>
<td>&nbsp;0.7%</td></tr>
<tr>
<td>All Week</td>
<td>&pound;12.63</td>
<td>&nbsp;&pound;12,72</td>
<td>&nbsp;&pound;0.09</td>
<td>0.7%</td></tr></tbody></table></div>&nbsp;
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
                <a href="/info-for/media/index" class="heading">
                    <h2 id="sub-menu-heading">Media<span class="visually-hidden"> navigation</span></h2>
                </a>
                <ul>
                    
                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases">Press releases</a></div>
                                <ul>
                                    
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2020">2020</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019">2019</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018">2018</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017">2017</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016">2016</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015">2015</a></div></li>
                            
 
                                        <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014">2014</a></div>
                                        <ul>
                                            
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/december">December</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/november">November</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/october">October</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/september">September</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/august">August</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/july">July</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/june">June</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/may">May</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/april">April</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/march">March</a></div></li>
                                    
 
                                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/february">February</a></div>
                                                <ul>
                                                    
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
                                                </ul>
                                            
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/january">January</a></div></li>
                                    
 
                                        </ul>
                                    </li>
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2013">2013</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2012">2012</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2011">2011</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2010">2010</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2009">2009</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2008">2008</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2007">2007</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2006">2006</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2005">2005</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2004">2004</a></div></li>
                            
 
                                </ul>
                            </li>
 
                                <li><div class="link-wrapper"><a href="/info-for/media/photos">Photos</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/media/contact-the-press-office">Contact the Press Office</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/filming-and-photography">Filming & photography</a></div></li>
                            
 
                </ul>
            
 
 
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype: -Home-Media-Media-Press releases-2014-February-TfL Board agrees lowest taxi fares rise in more than 10 years -->

 
 
        
        
            @{ViewBag.Description = "Transport for London's (TfL) Board has agreed a well below inflation taxi fare increase for the coming financial year (2014/15). The 0.7 per cent average increase is the lowest since TfL took over responsibility for licensing taxis in 2000 and will take";}
        
        


 