


@{ViewBag.Title = "TfL publishes world's first transport health action plan";}
        
        
<div class="r">
    <div class="breadcrumb-container" role="navigation">
        <span id="breadcrumb-label" class="visually-hidden">You are here:</span>
        <ol class="breadcrumbs clearfix" aria-labelledby="breadcrumb-label">
            <li class="home">
                <a href="/">
                    <span class="hide-text">Home</span>
                </a>
            </li>
            
                <li>
                    <a href="/info-for/media/index">Media</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases">Press releases</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases/2014">2014</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases/2014/february">February</a>
                </li>
                
                <li>
                    <span class="last-breadcrumb">TfL publishes world's first transport health action plan</span>
                </li>
            
 
            
 
            
 
            
 
            
 
        </ul>
    </div>
</div>
     
 
<div class="r">
    <div class="headline-container plain">
        <h1>TfL publishes world's first transport health action plan</h1>
        <div class="content-page-press-release">
        26 February 2014
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        Transport for London (TfL) has published the world's first transport health action plan, which sets out how it is working to improve the health of people in London
        
    </div>



<div class="pull-quote">
        <div class="quote-body">"We're investing &pound;4bn over 10 years to make our streets and roads greener, safer and more inviting for pedestrians and cyclists as part of their daily lives"</div>
        <div class="quote-footer">
            <div class="quotee-name">Sir Peter Hendy CBE</div>
            <div class="quotee-job-title">London's Transport Commissioner</div>
        </div>
</div>

 <div class="on-this-page">

        <div class="pullquote right">
        <p>
        We're investing &pound;4bn over 10 years to make our streets and roads greener, safer and more inviting for pedestrians and cyclists as part of their daily lives
        </p>
        </div>
        <p>As the capital's integrated transport authority, TfL keeps London moving, contributing to its success as a world city. </p>
        <p>It also has an important role to play in the quality of life of Londoners and helping tackle some of the public health challenges London faces.</p>
        <p>Enabling people to be more physically active is a public health priority for London, as it can help to prevent some of our biggest health challenges including type 2 diabetes, obesity, heart disease and some cancers. </p>
        <p>The choices people make for getting around the capital impact upon health and the action plan shows that transport is the main way that people stay physically active. </p>
        <p>More than two-thirds of all public transport trips involve walking five minutes or more and a quarter of adults in London get all of the physical activity they need to stay healthy through their everyday travel. </p>
        <p>More people travelling by bike is a key outcome in The Mayor's Vision for Cycling, which aims to double cycling in London by 2020 and to help grow the number of people benefiting from the health aspects of cycling. </p>
        <p>TfL has more than trebled spending on cycling, the growth which is set to deliver &pound;250m in health benefits each year.</p>
        <p>More than half of all potentially cyclable trips are in outer London. </p>
        <p>Outer London will see an increase in spending from &pound;3m to more than &pound;100m, delivering the greatest possible impact through areas of concentrated high spending known as 'mini-Hollands', for a genuinely transformational impact. </p>
        <p>TfL is committed to improving air quality, reducing death and injury on London's roads, as well as encouraging people to get more physically active. </p>
        <p>The Mayor, TfL and London boroughs are also working to transform London to make it a city that is easier and more pleasurable to enjoy on foot. </p>
        <p>A number of measures are being introduced to achieve this, including new and improved public spaces, better walking routes that link places people walk to, and more routes away from traffic. </p>
        <p>TfL and partners are also expanding the coverage of Legible London pedestrian signs to help people easily find their way around the city.</p>
        <p>London's Transport Commissioner, Sir Peter Hendy CBE, said: </p>
        <p>'Transport has a significant role to play in helping to tackle the major public health challenges our city faces.&nbsp; </p>
        <p>If we can make the environment and our public spaces more inviting, then that will also encourage people to be more physically active. </p>
        <p>That's why we're investing &pound;4bn over 10 years to make our streets and roads greener, safer and more inviting for pedestrians and cyclists as part of their daily lives.'</p>
        <p>The TfL Health Action Plan sets out ten actions to be delivered over the next three years to demonstrate the important role that transport plays in the health of Londoners</p>
        <p>Tom Platt, Living Streets' London Manager, said: </p>
        <p>'Living Streets welcomes the publication of Transport for London's first health action plan. </p>
        <p>How people spend their travelling time impacts on their health and the health of others - and for most people, walking is the easiest way to meet physical activity recommendations. </p>
        <p>The plan highlights the huge health benefits to be gained through encouraging more people to walk by creating a more inviting environment for pedestrians.'</p>
        <p>Sustrans London Director, German Dector-Vega said: </p>
        <p>'Joining up Transport for London's work with health professionals is extremely important. </p>
        <p>Only by working together and taking the 'whole street approach' can we begin to understand the importance of street design to our health.</p>
        <p>'It highlights how one of the easiest ways for us Londoners to get the huge health benefits of an active lifestyle is to improve the conditions on our streets for walking and cycling. </p>
        <p>We now look forward to seeing this visionary plan put into practice.'</p>
        <p>Notes to Editors:</p>
        <p>TfL's Health Action Plan is available&nbsp;<a href="http://www.tfl.gov.uk/cdn/static/cms/documents/improving-the-health-of-londoners-transport-action-plan.pdf">here</a>&nbsp;</p>
        <p>Under the ten actions, TfL will:</p>
        <ul>
            <li>quantify and where possible monetise the health impacts of TfL's projects and policies; </li>
            <li>explicitly build health into the development and assessment of policies and projects; </li>
            <li>evaluate the health impacts of its programmes; </li>
            <li>assess what TfL is doing against the public health evidence base; </li>
            <li>strengthen TfL's Health Impact Assessment processes; </li>
            <li>support staff to be more physically active as part of their daily travel; </li>
            <li>support boroughs to improve the health of their populations through their transport plans and investment; </li>
            <li>work with public health intelligence specialists and academics; </li>
            <li>work with the National Health Service to encourage travel analysis in the earliest stages of planning for changes to healthcare provision; and </li>
            <li>urge central government to support our role in increasing the physical activity levels of Londoners. </li>
        </ul>
    

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
                <a href="/info-for/media/index" class="heading">
                    <h2 id="sub-menu-heading">Media<span class="visually-hidden"> navigation</span></h2>
                </a>
                <ul>
                    
                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases">Press releases</a></div>
                                <ul>
                                    
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2020">2020</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019">2019</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018">2018</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017">2017</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016">2016</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015">2015</a></div></li>
                            
 
                                        <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014">2014</a></div>
                                        <ul>
                                            
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/december">December</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/november">November</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/october">October</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/september">September</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/august">August</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/july">July</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/june">June</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/may">May</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/april">April</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/march">March</a></div></li>
                                    
 
                                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/february">February</a></div>
                                                <ul>
                                                    
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
                                                </ul>
                                            
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/january">January</a></div></li>
                                    
 
                                        </ul>
                                    </li>
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2013">2013</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2012">2012</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2011">2011</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2010">2010</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2009">2009</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2008">2008</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2007">2007</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2006">2006</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2005">2005</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2004">2004</a></div></li>
                            
 
                                </ul>
                            </li>
 
                                <li><div class="link-wrapper"><a href="/info-for/media/photos">Photos</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/media/contact-the-press-office">Contact the Press Office</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/filming-and-photography">Filming & photography</a></div></li>
                            
 
                </ul>
            
 
 
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype: -Home-Media-Media-Press releases-2014-February-TfL publishes world's first transport health action plan -->

 
 
        
        
            @{ViewBag.Description = "As the capital's integrated transport authority, TfL keeps London moving, contributing to its success as a world city. It also has an important role to play in the quality of life of Londoners and helping tackle some of the public health challenges London";}
        
        


 