


@{ViewBag.Title = "TfL and Capco set to form new joint venture to bring forward the first phases of Earls Court Masterplan";}
        
        
<div class="r">
    <div class="breadcrumb-container" role="navigation">
        <span id="breadcrumb-label" class="visually-hidden">You are here:</span>
        <ol class="breadcrumbs clearfix" aria-labelledby="breadcrumb-label">
            <li class="home">
                <a href="/">
                    <span class="hide-text">Home</span>
                </a>
            </li>
            
                <li>
                    <a href="/info-for/media/index">Media</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases">Press releases</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases/2014">2014</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases/2014/february">February</a>
                </li>
                
                <li>
                    <span class="last-breadcrumb">TfL and Capco set to form new joint venture to bring forward the first phases of Earls Court Masterplan</span>
                </li>
            
 
            
 
            
 
            
 
            
 
        </ul>
    </div>
</div>
     
 
<div class="r">
    <div class="headline-container plain">
        <h1>TfL and Capco set to form new joint venture to bring forward the first phases of Earls Court Masterplan</h1>
        <div class="content-page-press-release">
        05 February 2014
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        Transport for London (TfL) and Capital & Counties Properties PLC ("Capco") are set to agree terms for a joint venture to bring forward the first phases of the Earls Court Masterplan.
        
    </div>



<div class="pull-quote">
        <div class="quote-body">"This joint venture reflects our new approach of retaining and investing in our assets, working with leading developers to deliver real long-term value for fare and taxpayers."</div>
        <div class="quote-footer">
            <div class="quotee-name">Graeme Craig</div>
            <div class="quotee-job-title">Director of Commercial Development at TfL</div>
        </div>
</div>

 <div class="on-this-page">
<div class="pullquote right">
                        <p>
                            This joint venture reflects our new approach of retaining and investing in our assets, working with leading developers to deliver real long-term value for fare and taxpayers.
                            
                        </p>
                    </div>
                
            
            
            <p>Transport for London (TfL) and Capital &amp; Counties Properties PLC ("Capco") are set to agree terms for a joint venture to bring forward the first phases of the Earls Court Masterplan, following approval to proceed by TfL's Board on Wednesday 5 February 2014.</p>
<p>TfL owns the freehold to the exhibition centres known as Earls Court 1 &amp; 2, and Capco is the current leaseholder of both sites. The agreement will enable the two organisations to establish a joint entity which will own new 999 year leases over the sites, as well as other land owned by Capco adjacent to the exhibition centres. The joint venture agreement is expected to be finalised and signed shortly and ownership of the new entity will be split 63 per cent to Capco and 37 per cent to TfL.</p>
<p>The joint venture will employ Capco as development manager to enable a comprehensive approach to be taken for the implementation of Sir Terry Farrell's Masterplan for the wider Earls Court and West Kensington Opportunity Area. </p>
<p>The Earls Court Masterplan represents a unique opportunity to regenerate a substantial part of central London, creating 7,500 homes, 12,000 jobs and new health, cultural and community facilities as well as 23 acres of green space including the five acre Lost River Park. It received planning consent from the London Borough of Hammersmith &amp; Fulham ("LBHF") and the Royal Borough of Kensington &amp; Chelsea ("RBKC") in November 2013. </p>
<p>Graeme Craig, Director of Commercial Development at TfL, said: "We are delighted to reach the final stages of the deal for the development of Earls Court 1 and 2 with Capco. The realisation of the Masterplan will see the creation of much needed jobs and homes for London. The revenue generated from the development of Earls Court 1 and 2 will be reinvested back into the transport network to improve services for our customers.</p>
<p>"This joint venture reflects our new approach of retaining and investing in our assets, working with leading developers to deliver real long-term value for fare and taxpayers."</p>
<p>Gary Yardley, Investment Director of Capco, said: "We are delighted that Transport for London's Board has approved entering into a joint venture to develop the Earls Court land. Following the land agreement we reached with Hammersmith &amp; Fulham Council last year and the outline planning consent we have in place, the reimagination of Earls Court is now moving forward.</p>
<p>"Working with TfL and Hammersmith and Fulham Council, I believe we can create a remarkable new part of London where Kensington, Chelsea and Fulham meet; delivering thousands of new homes and thousands of new jobs that will benefit London and the local area alike."</p>
<p>
<hr>
<br><strong>Notes to editor</strong>
<p>
<p><strong>Transport for London:</strong></p>
<p><strong>Public relations:<br></strong>Sylvia Quagraine <br>Tel: 0203 054 7182 <br>Email: <a href="mailto:sylviaquagraine&#64;tfl.gov.uk">sylviaquagraine&#64;tfl.gov.uk</a> </p>
<p><strong>Transport for London (TfL):<br></strong>TfL is responsible for 27 million journeys a day. It operates the Tube network, as well as five per cent of London's road network, buses, the DLR, London Overground, London Tramlink, Barclays Cycle Hire, the Emirates Air Line and River Services. </p>
<p><strong>Capital &amp; Counties <br>General media enquiries:<br></strong>Sarah Hagan <br>Tel: +44 (0)20 3214 9185 +44 (0)7884 655045 </p>
<p><strong>Financial Public relations:<br></strong>UK: Michael Sandler/Wendy Baker, Hudson Sandler&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; +44 (0)20 7796 4133<br>SA:&nbsp; Frederic Cornet, Instinctif&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; +27 (0)11 447 3030</p>
<p><strong>About Capital &amp; Counties Properties PLC (Capco): <br></strong>Capital &amp; Counties Properties PLC is one of the largest investment and development property companies that specialises in central London real estate and is a constituent of the FTSE-250 Index. Capco holds 2.7 million square feet of assets valued at &pound;2.1 billion (as at 30 June 2013) in two landmark London estates: Covent Garden, which has assets valued at &pound;1.1 billion including the historic Market Building, and EC Properties including the Empress State Building together with the Venues business amounting to aggregate property assets of &pound;970 million. The company is listed on the London Stock Exchange and the JSE, Johannesburg. </p>
<p>"Capco" represents Capital &amp; Counties Properties PLC and all its subsidiary companies. </p>
<p><strong>About the Earls Court Masterplan:<br></strong>The Earls Court Masterplan has outline planning consent and is one of the largest regeneration projects in London. The Masterplan covers 77 acres of land, known as the Earls Court &amp; West Kensington Opportunity Area, owned by Capco, TfL and LBHF. The Earls Court Masterplan covers 10.1 million square feet of space and was designed by Sir Terry Farrell who was inspired by the best of London to create 'Four new Urban Villages and a 21st Century High Street.' The Masterplan will deliver 7,500 new homes, 12,000 new jobs as well as new open green space, health facilities, new schools, community and cultural space and improvements to the transport and infrastructure of the local area. Earls Court 1 and 2 will be part of the first phase of the Earls Court Opportunity Area with further phases being brought forward which will incorporate the West Kensington &amp; Gibbs Green estates and LUL's Lillie Bridge Depot if and when it is operationally feasible to do so.</p>
<p>On 4 July 2013, the Mayor of London approved the planning application for the development of the Masterplan. </p>
<p>On 15 November 2013, LBHF, the RBKC, TfL and Capco reached an agreement on a &pound;452 million package of benefits for the area as part of the Section 106 agreement.</p>
<p>Details of the community benefit package include:</p>
<ul>
<li>1,500 affordable and replacement homes out of a total of 7500 new homes to be built in the development as a whole - &pound;315 million </li>
<li>Improvements to streets and public realm and the creation of 23 acres of green space, including garden squares, communal gardens and a new five acre park - &pound;35 million </li>
<li>Improvements to local amenities as well as a new primary school, community centre, leisure centre, health centre, cultural space and money towards a cultural fund for the area. - &pound;41 million </li>
<li>Up to 10,000 permanent jobs are expected to be created and there will be &pound;8 million worth of employment and skills training in the local area </li>
<li>There will also be significant transport improvements. &pound;38 million will be spent on improving the tube stations in the area. &pound;65 million will be spent on new and improved bus lanes, bus stops and service improvements and &pound;3 million will be spent on new and improved cycle lanes, three new cycle hire hubs plus over 11,000 cycle parking spaces and other sustainable transport initiatives.</li></ul>
<p><br><strong>Additional detail about the planned Joint Venture:<br></strong>At present, Capco holds two long-leasehold interests at Earls Court as well as ownership of the Northern Access Road site and the air rights over the West London Line. Earls Court 1 covers an area of 12 acres and is subject to a lease that expires in 2041, and Earls Court 2 covers an area of 8 acres and is subject to a lease that expires in 2115. TfL has the freehold interest in Earls Court 1 and 2. Under the Heads of Terms, Capco will surrender its existing leases to TfL and the freehold of the Northern Access Road site and TfL will then grant the Joint Venture new 999 year leases with development rights over the same land.</p>
<p>Capco is assembling the various underlying land interests across the Earls Court Masterplan area which includes freehold ownership of Empress State Building; Seagrave Road car park site (50%); and the Conditional Land Sale Agreement which provides a long-dated option to purchase the Gibbs Green and West Kensington Estates (100%); and the proposed arrangement above with TfL in relation to the exhibition centres land.<br><a href="http://www.myearlscourt.com">www.myearlscourt.com</a> <br></p>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
                <a href="/info-for/media/index" class="heading">
                    <h2 id="sub-menu-heading">Media<span class="visually-hidden"> navigation</span></h2>
                </a>
                <ul>
                    
                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases">Press releases</a></div>
                                <ul>
                                    
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2020">2020</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019">2019</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018">2018</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017">2017</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016">2016</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015">2015</a></div></li>
                            
 
                                        <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014">2014</a></div>
                                        <ul>
                                            
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/december">December</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/november">November</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/october">October</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/september">September</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/august">August</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/july">July</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/june">June</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/may">May</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/april">April</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/march">March</a></div></li>
                                    
 
                                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/february">February</a></div>
                                                <ul>
                                                    
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
                                                </ul>
                                            
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/january">January</a></div></li>
                                    
 
                                        </ul>
                                    </li>
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2013">2013</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2012">2012</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2011">2011</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2010">2010</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2009">2009</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2008">2008</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2007">2007</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2006">2006</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2005">2005</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2004">2004</a></div></li>
                            
 
                                </ul>
                            </li>
 
                                <li><div class="link-wrapper"><a href="/info-for/media/photos">Photos</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/media/contact-the-press-office">Contact the Press Office</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/filming-and-photography">Filming & photography</a></div></li>
                            
 
                </ul>
            
 
 
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype: -Home-Media-Media-Press releases-2014-February-TfL and Capco set to form new joint venture to bring forward the first phases of Earls Court Masterplan -->

 
 
        
        
            @{ViewBag.Description = "Transport for London (TfL) and Capital &amp; Counties Properties PLC ('Capco') are set to agree terms for a joint venture to bring forward the first phases of the Earls Court Masterplan, following approval to proceed by TfL's Board on Wednesday 5 February";}
        
        


 