


@{ViewBag.Title = "Thursday 6 February: 11:30 Travel Update: Nearly 75 per cent of stations open despite unnecessary strike over Tube modernisation";}
        
        
<div class="r">
    <div class="breadcrumb-container" role="navigation">
        <span id="breadcrumb-label" class="visually-hidden">You are here:</span>
        <ol class="breadcrumbs clearfix" aria-labelledby="breadcrumb-label">
            <li class="home">
                <a href="/">
                    <span class="hide-text">Home</span>
                </a>
            </li>
            
                <li>
                    <a href="/info-for/media/index">Media</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases">Press releases</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases/2014">2014</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases/2014/february">February</a>
                </li>
                
                <li>
                    <span class="last-breadcrumb">Thursday 6 February: 11:30 Travel Update: Nearly 75 per cent of stations open despite unnecessary strike over Tube modernisation</span>
                </li>
            
 
            
 
            
 
            
 
            
 
        </ul>
    </div>
</div>
     
 
<div class="r">
    <div class="headline-container plain">
        <h1>Thursday 6 February: 11:30 Travel Update: Nearly 75 per cent of stations open despite unnecessary strike over Tube modernisation</h1>
        <div class="content-page-press-release">
        06 February 2014
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        Nearly 75 per cent of stations open despite unnecessary strike over Tube modernisation. Some train services got up and running before 05:30, and 91 per cent of regular oyster customers have been travelling in London this morning.
        
    </div>



<div class="pull-quote">
        <div class="quote-body">"We're committed to implement these changes without compulsory redundancies and there'll be a job for everyone at LU who wants to work for us and be flexible"</div>
        <div class="quote-footer">
            <div class="quotee-name">Mike Brown MVO</div>
            <div class="quotee-job-title">London Underground Managing Director</div>
        </div>
</div>

 <div class="on-this-page">
<div class="pullquote right">
<p>
We're committed to implement these changes without compulsory redundancies and there'll be a job for everyone at LU who wants to work for us and be flexible
</p>
</div>
<p>More trains are running to more destinations and more stations are open than yesterday and this, along with a range of other transport options, is keeping London moving and open for business. </p>
<p>Yesterday LU ran over a third of services, with 70 per cent of stations open. </p>
<p>Some 86 per cent of regular Oyster customers travelled in London and Barclays Cycle Hire journeys were up by 50 per cent, as they are today.</p>
<p>Mike Brown MVO, London Underground's Managing Director, said today:</p>
<p>'Many thousands of LU and TfL staff are working hard again today to keep customers informed and to keep London moving and open for business.  </p>
<p>I am grateful to our customers for their patience, and we will be doing everything we can to run as many services as possible. </p>
<p>I'm pleased that more staff have come to work today than yesterday and that we've been able to get nearly 75 per cent of stations open.</p>
<p>'My message to the leadership of the RMT and TSSA is why wait to sit down with us until Friday? </p>
<p>They should do the right thing, meet us at ACAS today, and suspend this completely unnecessary strike.</p>
<p>'Our plans will see all Tube stations will remain staffed and controlled at all times when services are operating, and we'll be introducing a 24-hour service at weekends during 2015. </p>
<p>In future, there will be more staff in ticket halls and on platforms to help customers buy the right ticket, plan their journeys and to keep them safe and secure.</p>
<p>'We're committed to implement these changes without compulsory redundancies and there'll be a job for everyone at LU who wants to work for us and be flexible.'</p>
<p>The strikes have been called by the leadership of the RMT and TSSA unions over LU's plans to modernise and improve customer service.  </p>
<p>LU Managing Director, Mike Brown has made the following commitments to Londoners:</p>
<ul>
    <li>All stations will remain staffed and controlled at all times, with more staff visible to help customers</li>
    <li>We'll introduce a new 24-hour service at weekends from 2015</li>
    <li>We'll provide more frequent and reliable services with better, more accessible stations</li>
    <li>We'll introduce simpler ticketing - such as contactless bank card payment</li>
    <li>We'll provide the best possible value for the fare you pay</li>
</ul>
<p>The RMT and TSSA unions have agreed to talks at the conciliation service ACAS on Friday, but LU is urging them not to wait until then, but to come to talks today aimed at avoiding any more unnecessary disruption to Londoners.</p>
<p><strong>Latest Travel advice to customers (11:30):<br /></strong>The situation may change throughout the day and buses and the transport network will be very busy. TfL is urging all customers to plan ahead and to check before they travel at tfl.gov.uk and by following &#64;TfLTravelAlerts, &#64;TfLTrafficNews and &#64;TfLBusAlerts on Twitter. <br /> <br /><strong>London Underground<br /></strong>Services are currently operating as follows:<br /></p>
<p>Please check for the latest updates before you travel</p>
<p>
<div class="table-container"><table width="75%" border="1" cellspacing="1" cellpadding="1">
    <tbody>
        <tr>
            <td>
            </p>
            <p> Bakerloo line</p>
            <p>
            </p>
            <p>&#64;bakerlooline<br /></p>
            <p></td>
            <td>
            </p>
            <p> Services are operating between Queen's Park and Elephant &amp; Castle around every ten minutes in both directions.</p>
            <p>
            </p>
            <p>These trains are not stopping at Edgware Road, Kilburn Park, Lambeth North, Maida Vale, Piccadilly Circus or Regent's Park stations and Paddington (Bakerloo). It is possible that some other stations may also need to close at times.<br /></p>
            <p></td>
        </tr>
        <tr>
            <td>
            </p>
            <p> Central line</p>
            <p>
            </p>
            <p>&#64;centralline<br /></p>
            <p></td>
            <td>
            </p>
            <p> Services are running:</p>
            <p>
            <ul>
                <li>between Epping / Hainault and Marble Arch around every 10 minutes in both directions </li>
                <li>between West Ruislip / Ealing Broadway and White City around every 10 minutes in both directions.</li>
            </ul>
            </p>
            <p>These trains are not stopping at Bethnal Green, Bond Street, Chancery Lane or Redbridge stations. It is possible that some other stations may also need to close at times. <br /></p>
            <p></td>
        </tr>
        <tr>
            <td>
            </p>
            <p> District line</p>
            <p>
            </p>
            <p>&#64;districtline<br /></p>
            <p></td>
            <td>
            </p>
            <p> Services running:</p>
            <p>
            <ul>
                <li>between High street Kensington and Wimbledon in both directions</li>
                <li>Upminster to Ealing Broadway in both directions</li>
            </ul>
            </p>
            <p>District line trains will not stop at Aldgate East, Fulham Broadway, Gloucester Road, Sloane Square, Stepney Green or Temple stations.  It is possible that some other stations may also need to close at times.<br /></p>
            <p></td>
        </tr>
        <tr>
            <td>
            </p>
            <p> Hammersmith &amp; City line</p>
            <p>
            </p>
            <p>&#64;hamandcityline<br /></p>
            <p></td>
            <td>
            </p>
            <p> Services running between Hammersmith and Moorgate around every ten minutes in both directions. </p>
            <p>
            </p>
            <p>These trains will  not stop at Barbican, Euston Square, Great Portland Street or Ladbroke Grove stations.  It is possible that some other stations may also need to close at times.<br /></p>
            <p></td>
        </tr>
        <tr>
            <td>
            </p>
            <p> Jubilee line</p>
            <p>
            </p>
            <p>&#64;jubileeline<br /></p>
            <p></td>
            <td>
            </p>
            <p> Services are running:</p>
            <p>
            <ul>
                <li>between Stanmore and Finchley Road around every five minutes in both directions</li>
                <li>between Waterloo and Stratford around every five minutes in both directions. </li>
            </ul>
            </p>
            <p>These trains will not stop at Bermondsey, Canada Water and Southwark stations.  It is possible that some other stations may also need to close at times.<br /></p>
            <p></td>
        </tr>
        <tr>
            <td>
            </p>
            <p> Metropolitan line</p>
            <p>
            </p>
            <p>&#64;metline<br /></p>
            <p></td>
            <td>
            </p>
            <p> Running trains between Harrow-on-the-Hill and Aldgate around every ten minutes in both directions. </p>
            <p>
            </p>
            <p>These trains will not stop at Barbican or Great Portland Street stations.  It is possible that some other stations may also need to close at times.<br /></p>
            <p></td>
        </tr>
        <tr>
            <td>
            </p>
            <p> Northern line</p>
            <p>
            </p>
            <p>&#64;northernline<br /></p>
            <p></td>
            <td>
            </p>
            <p> Services are running over the whole line with a train around every five minutes via both the Bank and Charing Cross branches in both directions.</p>
            <p>
            </p>
            <p>These trains will not stop at Angel, Borough, Chalk Farm, Clapham North, Clapham South, Embankment, Goodge Street, Leicester Square, Mornington Crescent, Oval, Tufnell Park and Warren Street stations.  It is possible that some other stations may also need to close at times.<br /></p>
            <p></td>
        </tr>
        <tr>
            <td>
            </p>
            <p> Piccadilly line</p>
            <p>
            </p>
            <p>&#64;piccadillyline</p>
            <p>
            </p>
            <p> </p>
            <p></td>
            <td>
            </p>
            <p> No service would operate through the central area.  </p>
            <p>
            </p>
            <p>Services are running:</p>
            <p>
            <ul>
                <li>between Hammersmith and Heathrow Terminals 1,2,3 around every 20  minutes in both directions</li>
                <li>between Cockfosters and Arnos Grove</li>
            </ul>
            </p>
            <p>These trains will not stop at Heathrow Terminal 4, Hounslow West  or Southgate stations.  It is possible that some other stations may also need to close at times.<br /></p>
            <p></td>
        </tr>
        <tr>
            <td>
            </p>
            <p> Victoria line</p>
            <p>
            </p>
            <p>&#64;victorialine<br /></p>
            <p></td>
            <td>
            </p>
            <p> Services are running Seven Sisters to Brixton around every five minutes in both directions.  </p>
            <p>
            </p>
            <p>These trains will not stop at Pimlico or Warren Street stations.  It is possible that some other stations may also need to close at times.<br /></p>
            <p></td>
        </tr>
    </tbody>
</table></div>
</p>
<p>As previously announced, services will not be operating on the Waterloo &amp; City or Circle lines today, but most of their stations are served by other lines.</p>
<p><strong>Other transport services<br /></strong>Good services are operating this morning on the bus network, Docklands Light Railway (DLR), London Overground and London Tramlink.  <br />Extra bus services are being provided, alongside enhanced river and coach services and marshalled taxi ranks at key London national rail termini. There is a free river service running from Westminster Pier to Canary Warf Pier in both directions between 0600 and 1030 this morning.</p>
<p><strong>Further Information on alternative travel options:<br /></strong> <br /><strong>DLR</strong></p>
<ul>
    <li>A normal service is operating. Some stations where there is an interchange with London Underground may be affected today. </li>
</ul>
<p><strong>Buses</strong></p>
<ul>
    <li>London buses operate around 700 routes and services are being boosted with around 200 extra buses on key routes - more than planned;</li>
    <li>TfL Ambassadors and volunteers are being deployed to bus stations and hubs to provide customers with travel information and advice on the ground.</li>
</ul>
<p><strong>London Overground</strong></p>
<ul>
    <li>A normal service is operating. Some stations where there is an interchange with London Underground may be affected, and services may be subject to alterations to minimise overcrowding and move people as effectively as possible</li>
</ul>
<p><strong>Tramlink</strong></p>
<ul>
    <li>A normal service is operating.</li>
</ul>
<p><strong>Emirates Air Line</strong></p>
<ul>
    <li>A normal service is operating. LU tickets will be accepted on Emirates Air Line services on Wednesday 5 and Thursday 6 February and on Wednesday 12 and Thursday 13 February. </li>
</ul>
<p><strong>Cycling</strong></p>
<ul>
    <li>Barclays Cycle Hire will be available to members and casual users, although demand is likely to be high, and cycles harder to access, during peak times;</li>
    <li>Londoners who own a bike are encouraged to cycle to work, and a Cycle Journey Planner is provided at <a href="tfl.gov.uk/cyclejourneyplanner">tfl.gov.uk/cyclejourneyplanner</a>;</li>
    <li>TfL has written to hundreds of businesses across London to ask them to be flexible and make it easy for staff to cycle to work, and to allow staff to wear casual clothes on the day.</li>
</ul>
<p><strong>River Services</strong></p>
<ul>
    <li>Enhanced River services are in place, including on Route RB1 between Greenland (Surrey Quays) / Canary Wharf and London Bridge; and;</li>
    <li>An additional centre London service (Tower/ Bankside / Westminster / London Eye) during the AM and PM peaks;</li>
    <li>In combination with the normal timetabled service, this will provide a 10 to 15 minute frequency on most central London piers during the morning and evening peaks.</li>
</ul>
<p><strong>Taxis &amp; Private Hire</strong></p>
<ul>
    <li>Between 7.00am and 11.00am on Wednesday 5 February, Thursday 6, Wednesday 12 and Thursday 13 February, a marshalled taxi service will operate at seven major London rail termini - Waterloo, Liverpool St, London Bridge, King's Cross, Victoria, Charing Cross, and Marylebone. The marshals will manage taxi and  passenger queues and provide advice and assistance to taxi passengers and other members of the public;</li>
    <li>Private hire and minicab services will be running as normal. Details for licensed private hire and minicab operators in London are available at tfl.gov.uk/cabwise </li>
</ul>
<p><strong>National Rail</strong></p>
<ul>
    <li>Oyster Pay As You Go is accepted for all National Rail journeys within Greater London;</li>
    <li>Travelcards are also valid for travel on National Rail within the zones purchased.</li>
</ul>
<p><strong>Walking</strong></p>
<ul>
    <li>Walking maps will be provided online, in bus, rail, and Tube stations in Zone 1 and other key outer London stations, with TfL Ambassadors and volunteers helping people plan their routes around the city;</li>
    <li>People are urged to consider walking for short journeys, where possible.</li>
</ul>
<p><strong>Roads and the Congestion Charge<br /></strong></p>
<ul>
    <li>To help keep traffic flowing, the Congestion Charge will remain in operation throughout the strike;</li>
    <li>TfL will be delaying or curtailing road works on major London roads wherever possible and has encouraged all London boroughs to take similar measures on their network. TfL will also work with the Metropolitan Police to minimise the impact of congestion;</li>
    <li>TfL will be working to keep traffic flowing around major transport hubs;</li>
    <li>Londoners and commuters are encouraged to keep journeys by car to a minimum to enable public transport to move freely.</li>
</ul>
<p><strong>Coaches<br /></strong>Several coach operators, including National Express and Green Line, offer services that stop in a number of locations throughout London. Some of the core coach routes are as follows:<br />Golders Green - Finchley Road - Baker Street - Marble Arch - Victoria Coach Station (National Express) <br />Brent Cross - Finchley Road - Baker Street - Marble Arch - Victoria (Green Line) <br />Hillingdon - Shepherd's Bush/Baker Street - Marble Arch - Victoria (Oxford Tube &amp; X90) <br />Hammersmith - Kensington - Hyde park Corner - Victoria (Green Line) <br />Stratford - Bow - Aldgate - Victoria Coach Station (National Express) <br />Bexley - Canary Wharf - Aldgate - Embankment - Victoria Street (Commuter Services) <br />Coulsdon - Wallington - Streatham - Stockwell - Victoria Coach Station (National Express) <br />Sutton - Wallington - Streatham - Stockwell - Victoria Coach Station (National Express) <br />Eltham - Lewisham - Walworth - Elephant &amp; Castle - Victoria Coach Station (National Express)</p>
<p>Tickets can be purchased in advance from the Victoria Coach Station ticket hall, or on the operators websites:<br /><a href="http://www.nationalexpress.com">http://www.nationalexpress.com</a> for main site and bookings.<br /><a href="http://coach.nationalexpress.com/nxbooking/stop-finder">http://coach.nationalexpress.com/nxbooking/stop-finder</a> to find where the coach stops are in London<br /><a href="http://www.greenline.co.uk">http://www.greenline.co.uk</a> for main site and bookings<br /><a href="http://www.greenline.co.uk/timetables-search/">http://www.greenline.co.uk/timetables-search/</a> for location of stops in London<br /><a href="http://www.oxfordtube.com">www.oxfordtube.com</a> <br /><a href="http://x90.oxfordbus.co.uk/">http://x90.oxfordbus.co.uk/</a><br /></p>
<p> </p>
<p> </p>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
                <a href="/info-for/media/index" class="heading">
                    <h2 id="sub-menu-heading">Media<span class="visually-hidden"> navigation</span></h2>
                </a>
                <ul>
                    
                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases">Press releases</a></div>
                                <ul>
                                    
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2020">2020</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019">2019</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018">2018</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017">2017</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016">2016</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015">2015</a></div></li>
                            
 
                                        <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014">2014</a></div>
                                        <ul>
                                            
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/december">December</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/november">November</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/october">October</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/september">September</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/august">August</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/july">July</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/june">June</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/may">May</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/april">April</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/march">March</a></div></li>
                                    
 
                                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/february">February</a></div>
                                                <ul>
                                                    
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
                                                </ul>
                                            
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/january">January</a></div></li>
                                    
 
                                        </ul>
                                    </li>
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2013">2013</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2012">2012</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2011">2011</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2010">2010</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2009">2009</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2008">2008</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2007">2007</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2006">2006</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2005">2005</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2004">2004</a></div></li>
                            
 
                                </ul>
                            </li>
 
                                <li><div class="link-wrapper"><a href="/info-for/media/photos">Photos</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/media/contact-the-press-office">Contact the Press Office</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/filming-and-photography">Filming & photography</a></div></li>
                            
 
                </ul>
            
 
 
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype: -Home-Media-Media-Press releases-2014-February-Thursday 6 February: 11:30 Travel Update: Nearly 75 per cent of stations open despite unnecessary strike over Tube modernisation -->

 
 
        
        
            @{ViewBag.Description = "More trains are running to more destinations and more stations are open than yesterday and this, along with a range of other transport options, is keeping London moving and open for business. Yesterday LU ran over a third of services, with 70 per cent of";}
        
        


 