


@{ViewBag.Title = "Crossrail 2 developed further in response to community comments";}
        
        
<div class="r">
    <div class="breadcrumb-container" role="navigation">
        <span id="breadcrumb-label" class="visually-hidden">You are here:</span>
        <ol class="breadcrumbs clearfix" aria-labelledby="breadcrumb-label">
            <li class="home">
                <a href="/">
                    <span class="hide-text">Home</span>
                </a>
            </li>
            
                <li>
                    <a href="/info-for/media/index">Media</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases">Press releases</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases/2016">2016</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases/2016/july">July</a>
                </li>
                
                <li>
                    <span class="last-breadcrumb">Crossrail 2 developed further in response to community comments</span>
                </li>
            
 
            
 
            
 
            
 
            
 
        </ul>
    </div>
</div>
     
 
<div class="r">
    <div class="headline-container plain">
        <h1>Crossrail 2 developed further in response to community comments</h1>
        <div class="content-page-press-release">
        07 July 2016
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">



 <div class="on-this-page">
<p>Transport for London (TfL) and Network Rail have today published their initial response to a range of the issues raised during the recent public consultation on Crossrail 2.</p>
<p>The consultation was launched jointly by TfL and Network Rail last year. It received nearly 21,000 responses on 40 issues including:</p>
<ul>
    <li>Station locations, entrances and exits for the tunnelled section of the proposed route</li>
    <li>Locations of ventilation shafts for the tunnelled section</li>
    <li>Construction sites required to build the scheme</li>
    <li>Service patterns and changes to existing National Rail services</li>
</ul>
<p>TfL and Network Rail are still working on some of the complex challenges, including tackling some of the issues that attracted the most feedback in the consultation and in light of the recommendations made from the National Infrastructure Commission &#45; set up by the Government to review the scheme, and subsequent Government response.  No final decisions have yet been made on the proposed route for Crossrail 2 and this work will help to continue to develop proposals and inform that decision. At several locations &#45; Wimbledon, Balham, Tooting Broadway, King's Road Chelsea, and the decisions on which stations should be served on the New Southgate Branch&#45; more work needs to be done to work through the issues, which include complex engineering challenges. Plans for these areas will be published later this year.</p>
<p>Today's report shows how TfL and Network Rail are taking on board the comments expressed during the consultation to try and find solutions that have less impact on local communities.  They include:</p>
<ul>
    <li>Dalston &#45;Concerns were raised about the impact of works on Bradbury Street and Ridley Road market. TfL is assessing the feasibility of an option which could integrate the Crossrail 2 entrance into the Kingsland Shopping Centre, reducing the impact on Bradbury Street</li>
    <li>Angel - Residents raised concerns about the loss of important buildings in the area. Crossrail 2 engineers have updated the design to reduce the size of a planned worksite at Chapel Market/White Lion Street. TfL is also investigating an option to improve pedestrian access around the station, specifically creating a link to the station via Torrens Street.</li>
    <li>Clapham Junction &#45; Following people's suggestions, TfL is looking at the possibility of an additional entrance on St John's Hill, which would improve access.</li>
    <li>Alexandra Park &#45; People voiced concerns about the loss of green space and the impact on Avenue Gardens. Crossrail 2 engineers have now found a solution to make the worksite concerned smaller.</li>
</ul>
<p>Mich&egrave;le Dix, TfL's Managing Director for Crossrail 2, said: `Taking into account the views of people along the length of the proposed route is an integral part of our design process for Crossrail 2. It helps ensure we can design a railway that not only meets the strategic needs of the scheme but the local needs of the people it will serve.</p>
<p>`Crossrail 2 is absolutely vital to meet the increasing demands of the rapidly growing population of London and the South East. It will also help support hundreds of thousands of new homes and jobs across the region. We will continue to work in partnership with local communities in the months and years ahead so that we maximise these benefits and preserve and enhance areas along the proposed route.'</p>
<p>Chris Curtis, Network Rail's Head of Crossrail 2, said: `The responses to the consultation are helping us develop our proposals further. This work will continue to make sure that the benefits of Crossrail 2 spread right out across London, Surrey, Hertfordshire and beyond.'</p>
<p>Crossrail 2 will connect National Rail networks in Surrey and Hertfordshire with an underground tunnel beneath central London between Wimbledon and Tottenham Hale and New Southgate.  It will relieve pressure on the transport network across London and the South East, enabling 270,000 more people to enter central London every morning at peak time, and will drive the development of 200,000 homes and 200,000 new jobs.</p>
<p>TfL and Network Rail are now working with the Department for Transport to develop Crossrail 2 ahead of further public consultation expected to take place this autumn.  Subject to delivering on key recommendations made from the National Infrastructure Commission, a Hybrid Bill could be submitted in 2019 which could enable construction starting in the early 2020s, with the first Crossrail 2 service running in 2033.‎</p>
<p>The full report into responses to issues raised in the latest Crossrail 2 consultation can be viewed here <a href="https://consultations.tfl.gov.uk/crossrail2/october2015/user_uploads/rtir.pdf">https://consultations.tfl.gov.uk/crossrail2/october2015/user_uploads/rtir.pdf</a><br /></p>
<p>Ends<br />Notes to editors:</p>
<ul>
    <li>In March 2016 government committed &pound;80m (along with match funding from TfL) to take Crossrail 2 to the next stage of development with the aim of depositing a Hybrid Bill in 2019</li>
    <li>Crossrail 2 proposes to link in with the National Rail network serving destinations as far apart as Broxbourne, Epsom, Chessington South, Hampton Court and Shepperton.</li>
    <li>60,000 full-time jobs will also be supported through the construction of Crossrail 2 and across the UK in engineering, construction and manufacturing through its supply chain, driving hundreds of millions of pounds to regional and local economies.</li>
</ul>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
                <a href="/info-for/media/index" class="heading">
                    <h2 id="sub-menu-heading">Media<span class="visually-hidden"> navigation</span></h2>
                </a>
                <ul>
                    
                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases">Press releases</a></div>
                                <ul>
                                    
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2020">2020</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019">2019</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018">2018</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017">2017</a></div></li>
                            
 
                                        <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016">2016</a></div>
                                        <ul>
                                            
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016/january">January</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016/february">February</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016/march">March</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016/april">April</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016/may">May</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016/june">June</a></div></li>
                                    
 
                                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016/july">July</a></div>
                                                <ul>
                                                    
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
                                                </ul>
                                            
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016/august">August</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016/september">September</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016/october">October</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016/november">November</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016/december">December</a></div></li>
                                    
 
                                        </ul>
                                    </li>
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015">2015</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014">2014</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2013">2013</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2012">2012</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2011">2011</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2010">2010</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2009">2009</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2008">2008</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2007">2007</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2006">2006</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2005">2005</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2004">2004</a></div></li>
                            
 
                                </ul>
                            </li>
 
                                <li><div class="link-wrapper"><a href="/info-for/media/photos">Photos</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/media/contact-the-press-office">Contact the Press Office</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/filming-and-photography">Filming & photography</a></div></li>
                            
 
                </ul>
            
 
 
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype: -Home-Media-Media-Press releases-2016-July-Crossrail 2 developed further in response to community comments -->

 
 
        
        
            @{ViewBag.Description = "Press releases and news articles from Transport for London";}
        
        


 