


@{ViewBag.Title = "TfL teams up with Danone to hand out free bottles of evian to Tube passengers ";}
        
        
<div class="r">
    <div class="breadcrumb-container" role="navigation">
        <span id="breadcrumb-label" class="visually-hidden">You are here:</span>
        <ol class="breadcrumbs clearfix" aria-labelledby="breadcrumb-label">
            <li class="home">
                <a href="/">
                    <span class="hide-text">Home</span>
                </a>
            </li>
            
                <li>
                    <a href="/info-for/media/index">Media</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases">Press releases</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases/2016">2016</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases/2016/july">July</a>
                </li>
                
                <li>
                    <span class="last-breadcrumb">TfL teams up with Danone to hand out free bottles of evian to Tube passengers </span>
                </li>
            
 
            
 
            
 
            
 
            
 
        </ul>
    </div>
</div>
     
 
<div class="r">
    <div class="headline-container plain">
        <h1>TfL teams up with Danone to hand out free bottles of evian to Tube passengers </h1>
        <div class="content-page-press-release">
        18 July 2016
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">



 <div class="on-this-page">
<p>Transport for London (TfL) has teamed up with Danone Waters UK &amp; Ireland Ltd, for the third year in a row, to hand out free bottles of evian natural mineral water to commuters, helping to encourage customers to carry water while travelling on the Underground during the summer.</p>
<p>Danone has provided London Underground with 250,000 bottles of evian water, which will be given out for free from tomorrow at some of London's Tube stations in support of TfL's ongoing Travel Better London campaign.</p>
<p>The campaign aims to raise awareness of how passengers can help to reduce delays and improve journeys for everyone by making small changes to travel habits such as by carrying water while travelling, which can prevent people being taken ill on trains.</p>
<p>The giveaway supports London Underground's ongoing efforts to cool the network and marks the third summer in a three year partnership between evian and TfL in which water is distributed across the Tube network. To date a number of measures have been introduced through a Cooling the Tube programme including; air conditioned trains on the Metropolitan, Circle, Hammersmith and City and District lines, upgraded station ventilation and portable fans installed in ticket and concourse areas.</p>
<p>Mark Evers, Director Customer Experience, London Underground, said: `Through our partnership with Danone we want to encourage customers to carry water when they travel during the summer, which can help prevent people being taken ill on trains and reduce delays.</p>
<p>`This partnership complements our ongoing investment in cooling the Tube, which includes improving ventilation systems at our stations and introducing new air conditioned trains, which will serve 40 per cent of the Underground network by the end of this year.'</p>
<p>Bryan Martins, evian Marketing Director, said: `We are delighted to have the chance to help commuters keep cool this summer once again and deliver some much needed 'Live Young' refreshment.'</p>
<p>TfL gives the following advice to customers travelling on the Tube during the summer months</p>
<ul>
    <li>Carry water with you at all times, to stay hydrated</li>
    <li>Don't board a train or bus if you feel unwell</li>
    <li>If you feel unwell please get off at the next stop and seek help from our staff as help can be more easily obtained on a platform.</li>
</ul>
<p>Ends</p>
<p>Notes to Editors:</p>
<p>For further information please contact: Ruben Govinden at the TfL Press office on 020 3054 7218 or <a href="http://RubenGovinden&#64;TfL.gov.uk">RubenGovinden&#64;TfL.gov.uk</a></p>
<p>Further information on London Underground's Cooling the Tube programme:<br /></p>
<ol>
    <li>The New Tube for London will bring the first walk-through air-cooled trains on to the deep-level Tube network with the first trains due to be introduced in the 2020s</li>
    <li>Until then, London Underground continues to seek innovative solutions to reducing temperatures during the summer months on the deep-level lines.</li>
</ol>
<p>Other measures currently aimed at cooling the Tube include<br /></p>
<ul>
    <li>An innovative fan chiller system at St Paul's Tube station that pulls fresh air in from the street and is then cooled by a water chiller system before the cooler air it is blown onto the platform;</li>
    <li>New air conditioned trains on the Circle, District, Hammersmith &amp; City and Metropolitan lines, with 40 per cent of the network covered by 2016;</li>
    <li>The capacity of the station ventilation fan network has been doubled and 83 fans restored;<br />Portable fans installed within ticket and concourse areas, to increase air circulation at a number of stations;</li>
    <li>The creation of a Cooling Innovation Centre to explore new efficient and environmentally friendly methods to cool the Tube.</li>
</ul>
<p>Further information on TfL's Travel Better London campaign:<br /></p>
<ol>
    <li>TfL's Travel Better London campaign was launched in September 2013, more information can be found at <a href="http://www.tfl.gov.uk/travelbetterlondon">www.tfl.gov.uk/travelbetterlondon</a></li>
    <li>The campaign aims to raise awareness of how passengers can help to reduce transport delays and improve the environment for fellow travellers by making small changes to their travel habits.</li>
    <li>The latest campaign features characters from Roger Hargreaves' Mr Men series and highlights the following travel habits:<br />•	Inappropriate use of passenger alarms and passengers falling ill on trains<br />•	Having your ticket ready before boarding<br />•	Holding the train doors open<br />•	Making space for wheelchair users<br />•	Moving down inside the bus or train carriage to allow room for other passengers<br />•	Litter left on the bus, Tube and in stations</li>
    <li>When the emergency alarm on a train is pulled, it will only stop when it is in the station. In other cases it will proceed directly to the next station and stop there where it is quicker and easier to get medical help.</li>
</ol>
<p>About evian&reg;<br />Each drop of evian&reg; Natural Mineral Water falls as rain or snow high on the pristine peaks of the French Alps. It then travels through a vast mineral aquifer deep within the mountains before emerging at the spring in Evian-Les-Bains. This amazing journey is the secret to evian&reg;'s purity and it takes over 15 years.<br /><a href="https://www.facebook.com/evianUK">https://www.facebook.com/evianUK</a><br /><a href="http://www.twitter.com/evianwater">www.twitter.com/evianwater</a><br /><a href="http://www.evian.com">www.evian.com</a></p>
<p ><br />About Danone Waters (UK &amp; Ireland) Limited (DWUK)<br />DWUK is the parent company of the bottled waters and beverages produced by evian&reg;, Volvic&reg; and BADOIT&reg;.<br />DWUK is a member of the Worldwide Groupe Danone family which also includes Danone Ltd, Danone Baby Nutrition and Nutricia Medical.<br />For more information visit our UK website www.danone.co.uk or global website <a href="http://www.danone.com">www.danone.com</a>.</p>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
                <a href="/info-for/media/index" class="heading">
                    <h2 id="sub-menu-heading">Media<span class="visually-hidden"> navigation</span></h2>
                </a>
                <ul>
                    
                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases">Press releases</a></div>
                                <ul>
                                    
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2020">2020</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019">2019</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018">2018</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017">2017</a></div></li>
                            
 
                                        <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016">2016</a></div>
                                        <ul>
                                            
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016/january">January</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016/february">February</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016/march">March</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016/april">April</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016/may">May</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016/june">June</a></div></li>
                                    
 
                                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016/july">July</a></div>
                                                <ul>
                                                    
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
                                                </ul>
                                            
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016/august">August</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016/september">September</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016/october">October</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016/november">November</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016/december">December</a></div></li>
                                    
 
                                        </ul>
                                    </li>
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015">2015</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014">2014</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2013">2013</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2012">2012</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2011">2011</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2010">2010</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2009">2009</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2008">2008</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2007">2007</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2006">2006</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2005">2005</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2004">2004</a></div></li>
                            
 
                                </ul>
                            </li>
 
                                <li><div class="link-wrapper"><a href="/info-for/media/photos">Photos</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/media/contact-the-press-office">Contact the Press Office</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/filming-and-photography">Filming & photography</a></div></li>
                            
 
                </ul>
            
 
 
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype: -Home-Media-Media-Press releases-2016-July-TfL teams up with Danone to hand out free bottles of evian to Tube passengers  -->

 
 
        
        
            @{ViewBag.Description = "Press releases and news articles from Transport for London";}
        
        


 