


@{ViewBag.Title = "GLA - Mayor calls for TfL to take charge of key rail infrastructure";}
        
        
<div class="r">
    <div class="breadcrumb-container" role="navigation">
        <span id="breadcrumb-label" class="visually-hidden">You are here:</span>
        <ol class="breadcrumbs clearfix" aria-labelledby="breadcrumb-label">
            <li class="home">
                <a href="/">
                    <span class="hide-text">Home</span>
                </a>
            </li>
            
                <li>
                    <a href="/info-for/media/index">Media</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases">Press releases</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases/2019">2019</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases/2019/march">March</a>
                </li>
                
                <li>
                    <span class="last-breadcrumb">GLA - Mayor calls for TfL to take charge of key rail infrastructure</span>
                </li>
            
 
            
 
            
 
            
 
            
 
        </ul>
    </div>
</div>
     
 
<div class="r">
    <div class="headline-container plain">
        <h1>GLA - Mayor calls for TfL to take charge of key rail infrastructure</h1>
        <div class="content-page-press-release">
        26 March 2019
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        New calls for transferring responsibility for rail infrastructure to TfL would pave way towards a metro-style service in south and southeast London
        
    </div>



<div class="pull-quote">
        <div class="quote-body">"Transferring responsibility for key rail assets to TfL would be the first step towards a long-overdue transformation of the transport network in south and southeast London

 "</div>
        <div class="quote-footer">
            <div class="quotee-name">Heidi Alexander</div>
            <div class="quotee-job-title">Deputy Mayor for Transport</div>
        </div>
</div>

 <div class="on-this-page">
<p>This press release, issued by the Mayor of London, was first published on <a href="[ioID]#https://www.london.gov.uk/press-releases/mayoral/mayor-calls-for-tfl-to-control-rail-infrastructure">london.gov.uk</a></p>

<ul>
	<li>A third of people in South and Southeast London with a nearby rail station don't have a frequent train service</li>
	<li>Increased capacity, reduced journey times and improved reliability among potential benefits of rail devolution</li>
</ul>

<p>The Mayor of London has today called on the Government to make TfL the rail infrastructure manager for its devolved suburban services &#45; helping pave the way for a metro-style service in south and southeast London.</p>

<p>The call comes as TfL publishes its strategic case for 'metroisation,' which outlines a plan for how existing rail lines could be transformed into frequent, reliable services for commuters.</p>

<p>It is the first time that calls have been made to transfer responsibility and funding for key rail assets such as tracks and stations from Network Rail to TfL, and would enable TfL to prioritise investment where it is most needed, whether new tracks or improved signalling, with rail infrastructure being used more intensively. Too often passengers have suffered from delayed or cancelled services because of a lack of coordination between the rail operators and the providers of the infrastructure.</p>

<p>As the maintenance and upkeep of rail infrastructure could be run by the same organisation as the trains, the new plans would ensure a fully joined-up and integrated rail network for Londoners, and TfL would be devolved funding currently given to Network Rail to run rail infrastructure.</p>

<p>The Mayor has repeatedly said that the current rail franchise system is broken beyond repair, with large dysfunctional franchises simply not suited to the high-volume, high-frequency suburban metro service London's commuters need and deserve. The author of the Government's own Rail Review, Keith Williams, also said last month that Britain's current rail franchise system doesn't deliver clear benefits to taxpayers and commuters, and cannot continue as it is.</p>

<p>If responsibility was transferred to TfL and additional funding was made available, train services in south and south eastern London could become almost as frequent as the Tube. TfL's strategic case for 'metroisation' outlines that with additional investment a flagship route between Balham and Victoria which could feature up to 18 trains per hour and trains every 7 to 8 minutes from Tulse Hill to London Bridge.</p>

<p>Currently a third of people in South and Southeast London with a nearby rail station do not have a frequent train service &#45; well above the London average of 20 per cent. This leads to many commuters bypassing their local rail station to travel to get more reliable and regular Tube service into central London. For example, each day the equivalent of 33 double-deck bus-loads of Londoners living within a 10 minute walk of West Norwood station take the bus to get to Brixton Tube station.</p>

<p>Current systems for ticket payment are also overcomplicated, with differences in payment systems creating confusion and deterring use of public transport.</p>

<p>Poor transport links limit housing development and economic growth. Areas around National Rail stations have historically not delivered housing to the same extent as stations operated by TfL. Following the transfer of rail services to TfL in 2007 to form the London Overground network, whole areas of east London were unlocked with more frequent and reliable trains.</p>

<p>Speaking at Lewisham Station today, Deputy Mayor for Transport, Heidi Alexander, said 'the case for greater devolution of our rail services has never been more urgent or more clear'.</p>

<p>Heidi Alexander, Deputy Mayor for Transport, said:</p>

<p>'Transferring responsibility for key rail assets to TfL would be the first step towards a long-overdue transformation of the transport network in south and southeast London. The current rail franchise system is broken beyond repair, with large dysfunctional franchises not fit for purpose, and a lack of coordination between the rail operators and the providers of the infrastructure.</p>

<p>'The time has come for the whole of London to have an integrated, frequent and reliable rail service fit for a global capital city with a high-quality suburban metro which would also stimulate economic growth, new jobs and homes.'</p>

<p>TfL's strategic case for 'metroisation' shows how a transfer of responsibility for infrastructure and additional investment could enable the following improvements to South and Southeast London rail services:</p>

<ul>
	<li>A flagship route between Balham and Victoria with up to 18 trains per hour, turn-up-and-go direct links to west London via the West London line and more frequent services from Wallington to Croydon, and Cheam to Sutton</li>
	<li>Predictable all day services every 10 minutes from Victoria to Herne Hill and Lewisham, between town centres in south east London such as Orpington and Bromley, and on the Greenwich, Bexleyheath and Sidcup lines</li>
	<li>Tube-level service on the East London and Sydenham lines, trains every 7-8 minutes from London Bridge to Tulse Hill, and every 15 minutes on the Crystal Palace and Hackbridge lines</li>
	<li>Simpler all-day turn-up-and-go services on the Wimbledon Loop</li>
	<li>New Streatham Common and Brockley interchanges, allowing customers to change easily between services to different central London termini and orbital lines</li>
</ul>

<hr />
<p>Notes to Editors:</p>

<ul>
	<li>Link to 'A strategic case for Metroisation' document: <a href="[ioID]#http://content.tfl.gov.uk/strategic-case-for-metroisation.pdf">http://content.tfl.gov.uk/strategic-case-for-metroisation.pdf</a></li>
	<li>The Mayor of London's ambitions for metroisation are set out in Proposal 65 of the Mayor's Transport Strategy (MTS): 'The Mayor, through TfL, will work with Network Rail, train operating companies and stakeholders to seek the modification of the planning of local train services from Moorgate, Victoria and London Bridge to create a London suburban metro, offering improved frequencies, journey times and interchange opportunities by the late 2020s.'</li>
	<li>TfL has today also published its response to the Williams Review which calls on the Government to transfer responsibility for rail infrastructure to TfL <a href="[ioID]#http://content.tfl.gov.uk/evidence-to-williams-rail-review-final.pdf">http://content.tfl.gov.uk/evidence-to-williams-rail-review-final.pdf</a></li>
</ul>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
                <a href="/info-for/media/index" class="heading">
                    <h2 id="sub-menu-heading">Media<span class="visually-hidden"> navigation</span></h2>
                </a>
                <ul>
                    
                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases">Press releases</a></div>
                                <ul>
                                    
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2020">2020</a></div></li>
                            
 
                                        <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019">2019</a></div>
                                        <ul>
                                            
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019/january">January</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019/february">February</a></div></li>
                                    
 
                                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019/march">March</a></div>
                                                <ul>
                                                    
 
 
 
 
 
 
 
 
 
 
 
 
 
 
                                                </ul>
                                            
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019/april">April</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019/may">May</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019/june">June</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019/july">July</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019/august">August</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019/september">September</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019/october">October</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019/november">November</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019/december">December</a></div></li>
                                    
 
                                        </ul>
                                    </li>
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018">2018</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017">2017</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016">2016</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015">2015</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014">2014</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2013">2013</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2012">2012</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2011">2011</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2010">2010</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2009">2009</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2008">2008</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2007">2007</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2006">2006</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2005">2005</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2004">2004</a></div></li>
                            
 
                                </ul>
                            </li>
 
                                <li><div class="link-wrapper"><a href="/info-for/media/photos">Photos</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/media/contact-the-press-office">Contact the Press Office</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/filming-and-photography">Filming & photography</a></div></li>
                            
 
                </ul>
            
 
 
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype: -Home-Media-Media-Press releases-2019-March-GLA - Mayor calls for TfL to take charge of key rail infrastructure -->

 
 
        
        
            @{ViewBag.Description = "Mayor of London calls for TfL to take charge of key rail infrastructure as a first step to transforming services in south London";}
        
        


 