


@{ViewBag.Title = "Gospel Oak to Barking Update";}
        
        
<div class="r">
    <div class="breadcrumb-container" role="navigation">
        <span id="breadcrumb-label" class="visually-hidden">You are here:</span>
        <ol class="breadcrumbs clearfix" aria-labelledby="breadcrumb-label">
            <li class="home">
                <a href="/">
                    <span class="hide-text">Home</span>
                </a>
            </li>
            
                <li>
                    <a href="/info-for/media/index">Media</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases">Press releases</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases/2019">2019</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases/2019/march">March</a>
                </li>
                
                <li>
                    <span class="last-breadcrumb">Gospel Oak to Barking Update</span>
                </li>
            
 
            
 
            
 
            
 
            
 
        </ul>
    </div>
</div>
     
 
<div class="r">
    <div class="headline-container plain">
        <h1>Gospel Oak to Barking Update</h1>
        <div class="content-page-press-release">
        04 March 2019
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        New Class 710 trains not yet ready for passenger service as software development continues but initial driver familiarisation has begun
        
    </div>



 <div class="on-this-page">
<p>From Monday 18 March, services on the London Overground Gospel Oak to Barking line will operate at 30 minute intervals with three four-car electric trains.</p>

<p>This is because the new Class 710 electric trains are not yet ready for passenger service and the last diesel trains being used on the line need to be released for use elsewhere in the country.</p>

<p>The new trains were due to be in service last year, however the manufacturer Bombardier Transportation, are continuing to solve software issues and complete mileage testing before they can be certified and handed over for passenger use.</p>

<p>Bombardier are being pressed to do everything they can to deliver a fully operating train as soon as possible to end the disruption to customers on the line.</p>

<p>The trains currently being used on the Gospel Oak to Barking line are a mix of the two-car diesel units and four-car modified electric trains that are normally used on other London Overground lines.</p>

<p>TfL has twice extended the lease on the diesel trains since last summer but they now need to be released.&nbsp; This means only three four-car trains will be available for use and a reduced frequency will temporarily be in place.</p>

<p>Trains will service stations at regular 30 minute intervals and by using the four-car electric trains, overall capacity on the line will remain the same as at the beginning of the year.</p>

<p>Supplementary buses will give customers an alternative option, alongside local bus routes. Regular customers who choose to take alternative routes via Zone 1 as a result of the temporary timetable change will be automatically refunded the additional cost.</p>

<p>Customers will be kept informed of the travel options during this period via the TfL website and at stations. Station staff will have up-to-the-minute information and be able to help customers with journey planning.</p>

<p>A new dedicated webpage will also provide station-by-station travel advice and other information on Gospel Oak to Barking services, <a href="https://tfl.gov.uk/modes/london-overground/gospel-oak-to-barking-improvements?cid=gospel-oak-barking-trains">www.tfl.gov.uk/gospel-oak-barking-trains</a></p>

<p>Jon Fox, TfL's Director of Rail and Sponsored Services, said: 'We are very sorry for the continuing delay to the introduction of the new fleet of electric trains on the Gospel Oak to Barking line and share our customers' frustration.</p>

<p>'The manufacturer continue to solve software issues and we hope that driver training will start in earnest soon, which will bring us an important step closer to introducing the new trains.</p>

<p>'Regrettably, despite our efforts, we need to release the last three diesel trains currently being used on the line. So from Monday 18 March we will need to temporarily reduce the weekday service to a half-hourly service.</p>

<p>'Despite the reduction in frequency, by continuing to use the modified four-car trains overall capacity will remain the same.</p>

<p>'We strongly advise customers to check before they travel and re-time their journeys where possible to avoid disruption.</p>

<p>'We are providing detailed station-by-station travel advice on our website and station staff will have up-to-the-minute information to help customers plan their journeys.'</p>

<p>Initial driver familiarisation on the new trains has begun, so customers will start to see them along the line during service hours.</p>

<p>Once software issues are resolved, driver training will start in earnest and once substantially progressed there will be more certainty on when the new trains can enter passenger service.</p>

<hr />
<p><strong>Notes to editors</strong></p>

<ul>
	<li>The Mayor of London, Sadiq Khan, has secured from Bombardier, manufacturer of the new Class 710 trains, a month's free travel for customers on the Gospel Oak to Barking line once the new trains are fully introduced. The details of this are being developed and will be communicated closer to the time</li>
	<li>Travel via Zone 1 refunds will be made automatically for Oyster and contactless users within two weeks of travel as long as the same card or device is used for each journey. Paper season ticket users can contact TfL Customer Services on 0343 222 1234 for a refund. Paper tickets will also be accepted on local buses via any reasonable routes</li>
	<li>A date for when the new trains will enter passenger service will be clearer once the driver training programme has been sufficiently progressed</li>
	<li>New webpage published to give customer travel advice: <a href="https://tfl.gov.uk/modes/london-overground/gospel-oak-to-barking-improvements?cid=gospel-oak-barking-trains">www.tfl.gov.uk/gospel-oak-barking-trains </a></li>
</ul>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
                <a href="/info-for/media/index" class="heading">
                    <h2 id="sub-menu-heading">Media<span class="visually-hidden"> navigation</span></h2>
                </a>
                <ul>
                    
                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases">Press releases</a></div>
                                <ul>
                                    
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2020">2020</a></div></li>
                            
 
                                        <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019">2019</a></div>
                                        <ul>
                                            
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019/january">January</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019/february">February</a></div></li>
                                    
 
                                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019/march">March</a></div>
                                                <ul>
                                                    
 
 
 
 
 
 
 
 
 
 
 
 
 
 
                                                </ul>
                                            
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019/april">April</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019/may">May</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019/june">June</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019/july">July</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019/august">August</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019/september">September</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019/october">October</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019/november">November</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019/december">December</a></div></li>
                                    
 
                                        </ul>
                                    </li>
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018">2018</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017">2017</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016">2016</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015">2015</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014">2014</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2013">2013</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2012">2012</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2011">2011</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2010">2010</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2009">2009</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2008">2008</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2007">2007</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2006">2006</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2005">2005</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2004">2004</a></div></li>
                            
 
                                </ul>
                            </li>
 
                                <li><div class="link-wrapper"><a href="/info-for/media/photos">Photos</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/media/contact-the-press-office">Contact the Press Office</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/filming-and-photography">Filming & photography</a></div></li>
                            
 
                </ul>
            
 
 
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype: -Home-Media-Media-Press releases-2019-March-Gospel Oak to Barking Update -->

 
 
        
        
            @{ViewBag.Description = "Gospel Oak to Barking Update";}
        
        


 