


@{ViewBag.Title = "Major breakthrough completed at complex Bank Station Upgrade";}
        
        
<div class="r">
    <div class="breadcrumb-container" role="navigation">
        <span id="breadcrumb-label" class="visually-hidden">You are here:</span>
        <ol class="breadcrumbs clearfix" aria-labelledby="breadcrumb-label">
            <li class="home">
                <a href="/">
                    <span class="hide-text">Home</span>
                </a>
            </li>
            
                <li>
                    <a href="/info-for/media/index">Media</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases">Press releases</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases/2019">2019</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases/2019/march">March</a>
                </li>
                
                <li>
                    <span class="last-breadcrumb">Major breakthrough completed at complex Bank Station Upgrade</span>
                </li>
            
 
            
 
            
 
            
 
            
 
        </ul>
    </div>
</div>
     
 
<div class="r">
    <div class="headline-container plain">
        <h1>Major breakthrough completed at complex Bank Station Upgrade</h1>
        <div class="content-page-press-release">
        18 March 2019
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        New station entrance on Cannon Street now linked to Tube tunnels for first time
        
    </div>



 <div class="on-this-page">
<p style="margin-left:0cm; margin-right:0cm"><span style="font-size:12pt"><span style="line-height:21pt">The modernisation of Bank Tube Station has reached a significant new milestone, with the first breakthrough between a new entrance on Cannon Street and the newly constructed Northern line Tube tunnel made on Friday (15 March). The breakthrough will make further construction work easier, helping to ensure the hugely important upgrade is delivered by 2022.</span></span></p>

<p style="margin-left:0cm; margin-right:0cm"><span style="font-size:12pt"><span style="line-height:21pt">The project to upgrade Bank Tube station, which is being delivered alongside contractor Dragados, will increase capacity by 40 per cent by 2022, making journeys quicker and easier for the 120 million customers who use the station every year.</span></span></p>

<p style="margin-left:0cm; margin-right:0cm"><span style="font-size:12pt"><span style="line-height:21pt">Bank and Monument stations are interlinked, with an incredibly complex array of tunnels underground and surrounded by a number of historically important buildings above ground, making upgrade work difficult and complicated. Engineering and construction teams have been working at two separate sites, 24 hours a day underground, since 2016 to excavate over 1000m of tunnels and build a new station entrance. An escalator will run through the tunnel that was broken through today, enabling customers to enter and exit the station more easily.</span></span></p>

<p style="margin-left:0cm; margin-right:0cm"><span style="font-size:12pt"><span style="line-height:21pt">All the tunnels have been excavated using two diggers as the confined tunnel space prevented the use of a tunnel boring machine. In some instances, tunnelling has been undertaken by hand, using traditional mining techniques used on the Tube for over 100 years. The tunnelling has produced nearly 200,000 tonnes of material, equivalent to nearly 16,000 New Routemaster buses and capable of filling 52 Olympic-sized swimming pools. This material has been repurposed and transported to Dartford, where it is being used as part of a housing development. At the site of the new entrance, the project has excavated an area 30m deep in order to connect to the tunnels below.</span></span></p>

<p style="margin-left:0cm; margin-right:0cm"><span style="font-size:12pt"><span style="line-height:21pt"><strong>Stuart Harvey, Transport for London's Director of Major Projects, said</strong>: `Bank Tube station is one of the busiest and most important stations on the network. The area around the station has a high concentration of important infrastructure both above and below ground, including a number of historic, significant buildings in the local area, making the upgrade work incredibly complex. The hard work done by the project team will result in real improvements in the journeys of hundreds of thousands of customers every day.'</span></span></p>

<p style="margin-left:0cm; margin-right:0cm"><span style="font-size:12pt"><span style="line-height:21pt">A new southbound tunnel has been constructed in order to convert the existing tunnel into customer concourse. A new entrance to the Waterloo &amp; City line on Walbrook is already easing congestion on the key route between the City and Waterloo station every morning. The upgrade project will also deliver 12 new escalators, with a new link between the Central and Northern lines, as well as the DLR. Two new lifts will open, providing step-free access to the Northern line for the first time and improved step-free access to the DLR. Direct routes will be created between the Northern and Central lines, with two new moving walkways helping to cut journey times.</span></span></p>

<p style="margin-left:0cm; margin-right:0cm"><span style="font-size:12pt"><span style="line-height:21pt"><strong>Eddie Curzon, CBI London Director, said</strong>: `The capacity increase delivered by the Bank Station Upgrade will be crucial for both commuters and businesses in the City. As such, milestones like those which we are seeing today continue to instil confidence in the future of London's transport network.'</span></span></p>

<p><span style="font-size:12.0pt">The interchange between Bank and Monument Tube station is one of the busiest on the Tube network; each weekday morning around 120,000 customers use the stations, of which over 50,000 are changing lines. Demand has risen by around a quarter since 2008 and its complex network of pedestrian tunnels and escalators between the Central, Northern, District, Circle and Waterloo &amp; City lines, as well as the DLR, regularly causes congestion and delays to customer journeys</span></p>

<ul>
	<li style="margin:0cm 0cm 0.0001pt"><span style="font-size:12pt"><span style="line-height:21.0pt"><span style="tab-stops:list 36.0pt">A closure of the Bank branch of the Northern line between Kennington and Moorgate in 2021 will allow the tunnelling to be completed, as the new Northern line southbound tunnel is connected to the existing railway.</span></span></span></li>
</ul>

<p><span style="font-size:12.0pt">Link to Dragados/TfL timelapse video of breakthrough - <a href="https://vimeo.com/user25873713/review/324211968/217c866dad" style="text-decoration: none;">https://vimeo.com/user25873713/review/324211968/217c866dad</a></span></p>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
                <a href="/info-for/media/index" class="heading">
                    <h2 id="sub-menu-heading">Media<span class="visually-hidden"> navigation</span></h2>
                </a>
                <ul>
                    
                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases">Press releases</a></div>
                                <ul>
                                    
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2020">2020</a></div></li>
                            
 
                                        <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019">2019</a></div>
                                        <ul>
                                            
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019/january">January</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019/february">February</a></div></li>
                                    
 
                                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019/march">March</a></div>
                                                <ul>
                                                    
 
 
 
 
 
 
 
 
 
 
 
 
 
 
                                                </ul>
                                            
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019/april">April</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019/may">May</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019/june">June</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019/july">July</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019/august">August</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019/september">September</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019/october">October</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019/november">November</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019/december">December</a></div></li>
                                    
 
                                        </ul>
                                    </li>
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018">2018</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017">2017</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016">2016</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015">2015</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014">2014</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2013">2013</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2012">2012</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2011">2011</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2010">2010</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2009">2009</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2008">2008</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2007">2007</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2006">2006</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2005">2005</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2004">2004</a></div></li>
                            
 
                                </ul>
                            </li>
 
                                <li><div class="link-wrapper"><a href="/info-for/media/photos">Photos</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/media/contact-the-press-office">Contact the Press Office</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/filming-and-photography">Filming & photography</a></div></li>
                            
 
                </ul>
            
 
 
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype: -Home-Media-Media-Press releases-2019-March-Major breakthrough completed at complex Bank Station Upgrade -->

 
 
        
        
            @{ViewBag.Description = "Major breakthrough completed at complex Bank Station Upgrade";}
        
        


 