


@{ViewBag.Title = "New projects to receive &pound;50 million to create healthy streets across London";}
        
        
<div class="r">
    <div class="breadcrumb-container" role="navigation">
        <span id="breadcrumb-label" class="visually-hidden">You are here:</span>
        <ol class="breadcrumbs clearfix" aria-labelledby="breadcrumb-label">
            <li class="home">
                <a href="/">
                    <span class="hide-text">Home</span>
                </a>
            </li>
            
                <li>
                    <a href="/info-for/media/index">Media</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases">Press releases</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases/2019">2019</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases/2019/march">March</a>
                </li>
                
                <li>
                    <span class="last-breadcrumb">New projects to receive £50 million to create healthy streets across London</span>
                </li>
            
 
            
 
            
 
            
 
            
 
        </ul>
    </div>
</div>
     
 
<div class="r">
    <div class="headline-container plain">
        <h1>New projects to receive £50 million to create healthy streets across London</h1>
        <div class="content-page-press-release">
        05 March 2019
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        The Mayor and TfL's Liveable Neighbourhoods programme is funding transformational projects to reduce car use and improve London's environment
        
    </div>



<div class="pull-quote">
        <div class="quote-body">"Our &pound;50 million investment will transform neighbourhoods and local town centres in inner and outer London, making them cleaner, greener and more pleasant places to spend time"</div>
        <div class="quote-footer">
            <div class="quotee-name">Sadiq Khan</div>
            <div class="quotee-job-title">Mayor of London</div>
        </div>
</div>

 <div class="on-this-page">
<p>The Mayor of London and TfL have announced&nbsp;11 new successful bids in their multi-million pound Liveable Neighbourhoods programme.</p>

<p>The funding, which has increased from &pound;33 million in November 2017 to &pound;53.4 million this year, will be used to transform local neighbourhoods in inner and outer London, with new walking and cycling infrastructure, new pedestrian crossings and rat runs closed to motor traffic.</p>

<p>New pocket parks and revamped public spaces will improve air quality and make local streets more attractive places, helping to support local high streets.</p>

<p>The London boroughs of Bromley, Camden, Croydon, Enfield, Hounslow, Lambeth, Newham, Southwark, Tower Hamlets and Redbridge and the City of London Corporation have all been successful in being awarded funding.</p>

<h2>Liveable Neighbourhoods</h2>

<p>On top of the &pound;33 million funding awarded last year, this means that 18 boroughs have now received Liveable Neighbourhoods money to reduce car use and turn local areas into safer, greener and healthier places for Londoners to live.</p>

<p>Liveable Neighbourhoods is part of the Mayor's record &pound;2.3bn overall investment to create Healthy Streets across the capital, with the aim of increasing the proportion of people walking, cycling and taking public transport to 80% by 2041, and cut the damaging impact of air pollution in the capital.</p>

<p>Recent TfL research has highlighted the economic benefits of walking and cycling in local areas, with infrastructure improvements such as new cycle routes leading to increased retail spending of up to 30%.</p>

<p>Mayor of London, Sadiq Khan, said: 'For too long streets around London have been designed solely around cars and motor traffic. Our &pound;50 million investment will transform neighbourhoods and local town centres in inner and outer London, making them cleaner, greener and more pleasant places to spend time.</p>

<p>'Working with these boroughs to make our streets more welcoming for walking and cycling is vital for our health and wellbeing, but also essential for the future vibrancy and success of London's local high streets.'</p>

<p>Gareth Powell, TfL's Managing Director for Surface Transport, said: 'Some of London's streets can be unwelcoming places that feel threatening to the most vulnerable road users, making walking, cycling and using public transport difficult and unattractive. We're working closely with residents, businesses and boroughs across London to change this.</p>

<p>'Our funding will help to boost health, reduce road danger, clean up some of the capital's pollution hot spots and revitalise local communities by making streets places where people want to spend time with their friends, families and neighbours.'</p>

<h2>Economic benefits</h2>

<p>The projects awarded funding this year include:</p>

<ul>
	<li><strong>Shortlands, Bromley</strong>: This project will improve travel connections for pedestrians and cyclists to Shortlands station and beyond from the surrounding area with new protected cycle lanes on Bromley Road and Valley Road and new pedestrian crossings across the busy A222.&nbsp;New public spaces will be created around the Shortlands war memorial and Shortlands village centre along with pocket parks and improvements for walking throughout the scheme area, thereby improving the sense of place. Station Road will be significantly improved for pedestrians crossing with the introduction of a new pocket park and a new cycle hub will be built at Shortlands station. School Streets will make it easier for pupils to get to school without cars and three low traffic neighbourhoods will be created, dramatically reducing the impact of traffic on residential streets</li>
	<li><strong>Holborn, Camden</strong>:&nbsp;The Holborn area is currently dominated by a highly traffic-congested and polluted gyratory and main road network, and suffers from high numbers of collisions, inadequate footway space and poor cycling facilities. This ambitious project will seek to remove the gyratory, reduce severance, significantly improve the public realm and introduce protected cycle lanes along High Holborn and Theobalds Road. Sections of New Oxford Street and Great Russell Street are proposed to be closed to motor vehicles and a section of Bloomsbury Way is proposed for buses and cycles only.&nbsp;Plans to pedestrianise Great Russell Street would dramatically improve the setting for the British Museum, and an enhanced pedestrian environment around Holborn station will deliver a much improved gateway to the area. A freight reduction scheme will be delivered in partnership with the local Business Improvement District, BeeMidtown, who will also be closely involved, along with other partners in the development of the project</li>
	<li><strong>Old Town, Croydon</strong>:&nbsp;Neighbourhoods in Croydon's Old Town area, including Wandle Park and Minster Green, will see significant growth in the coming years but are divided by the traffic-dominated Croydon Flyover and Ring Road. This project will reduce speeds on the flyover, transform subways at Old Town roundabout, reallocate road space to cycling and turn an unhealthy major road into a Healthy Boulevard with new green infrastructure, improving connectivity between Croydon's communities</li>
	<li><strong>Enfield Town, Enfield</strong>: Investment in Enfield Town Centre will focus on Church Street, reducing traffic dominance by narrowing the carriageway, connecting Market Square and the shopping centre and making it safer to walk to the train station. Junctions will be redesigned to be safer for pedestrians and cyclists and segregated cycle tracks built on Cecil Road, connecting with existing routes built as part of Enfield's mini-Holland programme. Little Park Gardens and Town Park will be revitalised and new 20mph speed limits will reduce danger while sustainable drainage on roads will help to reduce flood risk in the area</li>
	<li><strong>South Chiswick, Hounslow</strong>:&nbsp;Investment in South Chiswick will provide a new pedestrian bridge under Barnes railway bridge to fill a missing link in to the Thames Path at Dukes Meadow. New cycle connections will be made between the Thames Path and the upcoming Cycleway 9. Grove Park piazza will be redesigned, school streets introduced and low-traffic neighbourhoods developed in the residential areas south of the A4</li>
	<li><strong>Brixton, Lambeth</strong>: This project is focused around Atlantic Road in Brixton, which will transformed for people walking, cycling and using the bus. Local freight access will be maintained with technology utilised to better manage loading and servicing. Investment will overhaul public spaces, widen footways and add a number of new pedestrian crossings, creating a much more welcoming environment for the area's many visitors, residents and businesses. The project will build high-quality infrastructure on three key strategic cycle routes: Brixton to Clapham Common, Brixton to Camberwell and Brixton to Herne Hill. Low traffic neighbourhoods will be created in the Ferndale and Railton neighbourhoods and a new, fully segregated cycle route will link to the Loughborough neighbourhood</li>
	<li><strong>Freemasons Road, Newham</strong>: This project will transform the Custom House Area of Newham for walking and cycling, building on the Elizabeth line investment in the area. A high-quality cycling link will be built between Custom House Interchange and Cycleway 3 on Newham Way and a network of local routes developed to enable sustainable travel across the wider station catchment area. A new town square and arrival point from the Elizabeth line stations staircase will be created by reclaiming carriageway space from Freemasons Road. General traffic will be removed from the New Barn Street underpass, restricting it to buses and bikes only</li>
	<li><strong>South Bermondsey,&nbsp;Southwark</strong>:&nbsp;Investment at the Bramcote Park estate will reduce car use by make walking and cycling much easier for local residents and connect the area with the future Cycleway&nbsp;4 and Old Kent Road. Roads will be closed to through traffic, junctions re-designed and streets made easier to cross on foot. Links will also be improved to the Deptford Parks Liveable Neighbourhood, for which Lewisham Council was awarded funding last year</li>
	<li><strong>Bow, Tower Hamlets</strong>: Traffic management in Roman Road will be revised, dramatically reducing through traffic flow; bus priority improvements will be made at St Stephens Road/ Roman Road to improve the reliability of bus services and reduce the congestion experienced on St Stephens Road. St. Stephen's Road improvements will feature continuous footways while plans for Old Ford Road include&nbsp;improved road safety and cycling measures. Modal filters will reduce traffic on residential streets throughout the area, and a key aspect is to remove the potential for rat running through Coborn Road and Tredegar Road</li>
	<li><strong>Ilford, Redbridge</strong>: The project will transform access to Ilford Town Centre by breaking down the severance of the A406 North Circular Road and the river Roding. New segregated cycle lanes will enable people to cycle around the area safely. New bridges will be built over the River Roding and Alders Brook, enabling more people to walk and cycle to neighbourhoods north of Ilford Town Centre. The project will enable the thousands of new residents of the future Ilford Housing Zone to access good quality open space along the river Roding valley and cycle links to Wanstead, Stratford, Barking and Essex. A new walking and cycling route will be provided to the Tunneling and Underground Construction Academy (TUCA)</li>
	<li><strong>City Cluster, City of London</strong>: This project aims to reduce traffic passing through the 'City Cluster', in the east of the City of London, an area with the highest density of business activity in the Square Mile. A zero-emission zone will also be created with innovative technology developed to implement and manage the zone. Reductions in traffic will enable streets to be transformed in line with the Mayor's Healthy Streets Approach to create a quality environment for people walking, spending time and moving through the area. This will be coupled with a programme of activity to open streets as public spaces, initially with lunchtime closures extending to permanent traffic restrictions in the busiest streets</li>
</ul>

<h2>Create healthy streets</h2>

<p>This year's Liveable Neighbourhoods investment follows on from the last round of funding in late 2017, when seven boroughs shared up to &pound;33 million in funding for schemes to transform neighbourhoods and create healthy streets.</p>

<p>Ealing, Greenwich, Hackney, Haringey, Havering, Lewisham and Waltham Forest boroughs were all awarded funding last year and are making good progress on their schemes, with consultations on a number of these set to begin later this year.</p>

<p>Cllr Julian Bell, Chair of London Councils' Transport and Environment Committee, said:&nbsp;'London's boroughs work hard to maintain and improve neighbourhoods across the capital, working closely with our local residents.</p>

<p>'Boroughs will welcome this funding, which will support our work to create beautiful and &#45; crucially - functional spaces where we can promote sustainable methods of transport, such as walking and cycling, and reduce the impact of pollution.'</p>

<p>Last year, TfL also published action plans about how they will increase the number of people walking and cycling, as well as outlining the Vision Zero commitment to eliminate death and serious injuries from London's roads.</p>

<p>TfL's &pound;2.3bn record Healthy Streets funding also includes investment in London's growing cycling network. TfL is set to begin construction of the Cycleway 9 and Cycleway 4 routes in west and south east London later this year.</p>

<p>Construction work on a further two routes, between Hackney and the Isle of Dogs and between Tottenham Hale and Camden could also begin later in the year, subject to consultation.</p>

<h2>Growing cycling network</h2>

<p>The Mayor's Cycling Action Plan, launched in January, sets out how TfL and the Mayor will double the number of cycle trips in the capital over the next six years.</p>

<p>Fran Graham, Campaigns Coordinator at London Cycling Campaign said: 'These bold proposals to make greener, healthier neighbourhoods, where far more journeys can be walked and cycled, and where car use is reduced are great news.</p>

<p>'They come as a result of Mayor Sadiq Khan's promise to London Cycling Campaign's 'Sign for Cycling' campaign, to provide funding for such schemes in every borough.</p>

<p>'We look forward to working with the new Liveable Neighbourhoods boroughs to turn their plans into a reality and to help the remaining boroughs without funding to bring forward suitably radical plans to improve their boroughs as well.</p>

<p>Matt Winfield, London Director at Sustrans, said: 'The Liveable Neighbourhoods programme is transforming London's neighbourhoods and town centres, enabling more everyday trips on foot and bike. Being ambitious for walking &amp; cycling will help to make London a safer, healthier and happier city for all.</p>

<p>'We are delighted to have helped write Bromley's successful bid and are particularly excited about the opportunity for positive and ambitious change in outer London that this round of awards offers.'</p>

<h2>Overwhelmingly positive impact</h2>

<p>Vanessa Griffiths, Ramblers CEO, said: 'There can be no doubt about it now - we've seen where the Mayor and local boroughs have invested in this way in places like Walthamstow, the overwhelmingly positive impact it can have on the lives of people living and working there.</p>

<p>'By improving people's access to green spaces and enabling more people to go about their everyday lives on foot, we not only improve their health and wellbeing, but also the quality of life of their neighbours.'</p>

<p>Stephen Edwards, Director of Policy and Communications at Living Streets, said: 'Motor traffic is having a serious impact on the health and safety of people living and working in London. These imaginative plans will help make our capital city a healthier, happier place for everyone.</p>

<p>'We're delighted that more communities are set to benefit from cleaner, safer and more attractive streets. Not only will this ensure that people who currently walk and cycle are protected but it stands to enable and encourage more people to choose healthier, more sustainable ways to carry out their everyday journeys.'</p>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
                <a href="/info-for/media/index" class="heading">
                    <h2 id="sub-menu-heading">Media<span class="visually-hidden"> navigation</span></h2>
                </a>
                <ul>
                    
                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases">Press releases</a></div>
                                <ul>
                                    
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2020">2020</a></div></li>
                            
 
                                        <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019">2019</a></div>
                                        <ul>
                                            
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019/january">January</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019/february">February</a></div></li>
                                    
 
                                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019/march">March</a></div>
                                                <ul>
                                                    
 
 
 
 
 
 
 
 
 
 
 
 
 
 
                                                </ul>
                                            
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019/april">April</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019/may">May</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019/june">June</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019/july">July</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019/august">August</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019/september">September</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019/october">October</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019/november">November</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019/december">December</a></div></li>
                                    
 
                                        </ul>
                                    </li>
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018">2018</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017">2017</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016">2016</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015">2015</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014">2014</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2013">2013</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2012">2012</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2011">2011</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2010">2010</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2009">2009</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2008">2008</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2007">2007</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2006">2006</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2005">2005</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2004">2004</a></div></li>
                            
 
                                </ul>
                            </li>
 
                                <li><div class="link-wrapper"><a href="/info-for/media/photos">Photos</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/media/contact-the-press-office">Contact the Press Office</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/filming-and-photography">Filming & photography</a></div></li>
                            
 
                </ul>
            
 
 
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype: -Home-Media-Media-Press releases-2019-March-New projects to receive £50 million to create healthy streets across London -->

 
 
        
        
            @{ViewBag.Description = "Eleven new projects to receive £50 million investment to create healthy streets across London";}
        
        


 