


@{ViewBag.Title = "TfL's budget shows operating deficit almost halved as Mayor calls for Government investment in transport";}
        
        
<div class="r">
    <div class="breadcrumb-container" role="navigation">
        <span id="breadcrumb-label" class="visually-hidden">You are here:</span>
        <ol class="breadcrumbs clearfix" aria-labelledby="breadcrumb-label">
            <li class="home">
                <a href="/">
                    <span class="hide-text">Home</span>
                </a>
            </li>
            
                <li>
                    <a href="/info-for/media/index">Media</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases">Press releases</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases/2019">2019</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases/2019/march">March</a>
                </li>
                
                <li>
                    <span class="last-breadcrumb">TfL’s budget shows operating deficit almost halved as Mayor calls for Government investment in transport</span>
                </li>
            
 
            
 
            
 
            
 
            
 
        </ul>
    </div>
</div>
     
 
<div class="r">
    <div class="headline-container plain">
        <h1>TfL’s budget shows operating deficit almost halved as Mayor calls for Government investment in transport</h1>
        <div class="content-page-press-release">
        20 March 2019
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        Operating deficit of &pound;968m in 2018/19 now forecast to be almost halved to &pound;500m by the end of 2018/19 as a result of tight financial management. This is one third of the &pound;1.5bn deficit of 2015/16 if the former Government operating grant is excluded
        
    </div>



 <div class="on-this-page">
<p style="margin-left:0cm; margin-right:0cm"><span style="font-size:12pt"><span style="line-height:21pt">Transport for London (TfL) has today published its draft budget for financial year 2019/20 which continues the organisation's progress towards breaking even on the cost of day-to-day operations by 2022/23, for the first time in its history, while investing billions in vital transport improvements in London.</span></span></p>

<p style="margin-left:0cm; margin-right:0cm"><span style="font-size:12pt"><span style="line-height:21pt">TfL's balanced five-year Business Plan, published in December last year, set out a fully funded plan for delivering the Mayor's Transport Strategy up until 2024.</span></span></p>

<p style="margin-left:0cm; margin-right:0cm"><span style="font-size:12pt"><span style="line-height:21pt">Improvements are being made despite TfL having experienced unprecedented cuts to its operational funding from the Government over the last five years. Unlike the rest of the UK, local authorities within London are generally excluded from Government funding schemes. For example, 99.6 per cent of London's road network receives no sustained central Government funding for maintenance, with just those managed by Highways England receiving funding.</span></span></p>

<p style="margin-left:0cm; margin-right:0cm"><span style="font-size:12pt"><span style="line-height:21pt">TfL's budget, which is being presented to the TfL Board for approval next week, has been written in the context of a very uncertain economic environment, with the latest data from the Office for National Statistics and the Bank of England showing the British economy had its worst performance in the last quarter since the financial crisis. The budget covers the first year of TfL's Business Plan and shows how TfL will continue to invest in the vital transport improvements London needs, despite a number of significant challenges, including an average &pound;700m per year reduction in government funding, a subdued economy and the financial impact of the delay to the Crossrail project.</span></span></p>

<p style="margin-left:0cm; margin-right:0cm"><span style="font-size:12pt"><span style="line-height:21pt">It demonstrates that TfL's previously budgeted operating deficit of &pound;968m in 2018/19 has been significantly reduced and is now forecast to be almost halved to &pound;500m by the end of 2018/19 as a result of tight financial management.</span></span></p>

<p style="margin-left:0cm; margin-right:0cm"><span style="font-size:12pt"><span style="line-height:21pt">For the next financial year, due to improved ridership in recent months as well as further savings across the business, TfL has now revised its expected operating deficit for 2019/20 - from &pound;897m in its Business Plan to &pound;742m. This compares to a deficit excluding the former Government operating grant of almost &pound;1.5bn in 2015/16.</span></span></p>

<p style="margin-left:0cm; margin-right:0cm"><span style="font-size:12pt"><span style="line-height:21pt">TfL has a proven track record of delivering against its savings targets and will work to further reduce its operating deficit during the next financial year. Further changes will be made to ensure the organisation is delivering as efficiently as possible, including reducing back and middle office costs by 30 per cent.</span></span></p>

<p style="margin-left:0cm; margin-right:0cm"><span style="font-size:12pt"><span style="line-height:21pt">Throughout 2019/20, TfL will deliver a range of transport improvements across London, including:</span></span></p>

<ul>
	<li style="margin: 0cm 0cm 0.0001pt;"><span style="font-size:12pt"><span style="line-height:21.0pt"><span style="tab-stops:list 36.0pt">Introducing the new Ultra Low Emission Zone in central London on 8 April, marking a major step forward in the battle to clean up London's toxic air;</span></span></span></li>
	<li style="margin: 0cm 0cm 0.0001pt;"><span style="font-size:12pt"><span style="line-height:21.0pt"><span style="tab-stops:list 36.0pt">Continuing to work with Crossrail Limited to introduce the transformational Elizabeth line as soon as possible;</span></span></span></li>
	<li style="margin: 0cm 0cm 0.0001pt;"><span style="font-size:12pt"><span style="line-height:21.0pt"><span style="tab-stops:list 36.0pt">Pursuing the Mayor's vision of eradicating death and serious injury from London's roads through major safety and improvement projects including at Old Street and Highbury Corner junctions;</span></span></span></li>
	<li style="margin: 0cm 0cm 0.0001pt;"><span style="font-size:12pt"><span style="line-height:21.0pt"><span style="tab-stops:list 36.0pt">Continuing to modernise significant parts of the Tube network, including Bank station and new signalling on the Circle, District, Hammersmith &amp; City and Metropolitan lines;</span></span></span></li>
	<li style="margin: 0cm 0cm 0.0001pt;"><span style="font-size:12pt"><span style="line-height:21.0pt"><span style="tab-stops:list 36.0pt">Continuing to make the transport network more accessible, with eight more London Underground stations on track to be step-free by March 2020, and work well under way across London at a further seven;</span></span></span></li>
	<li style="margin: 0cm 0cm 0.0001pt;"><span style="font-size:12pt"><span style="line-height:21.0pt"><span style="tab-stops:list 36.0pt">Record cycling investment enabling construction to start on eight major new routes, including Brentford to Olympia, Tottenham to Camden and Hackney to Isle of Dogs;</span></span></span></li>
	<li style="margin: 0cm 0cm 0.0001pt;"><span style="font-size:12pt"><span style="line-height:21.0pt"><span style="tab-stops:list 36.0pt">Rebalancing London's bus network by moving capacity away from over-congested areas in Central London to outer London where it is needed most;</span></span></span></li>
	<li style="margin: 0cm 0cm 0.0001pt;"><span style="font-size:12pt"><span style="line-height:21.0pt"><span style="tab-stops:list 36.0pt">Unlocking land for affordable homes as part of TfL's wider commitment to deliver 10,000 homes across 300 acres of London, all of which will have started construction by 2021.</span></span></span></li>
</ul>

<p style="margin-left:0cm; margin-right:0cm"><span style="font-size:12pt"><span style="line-height:21pt">TfL has had to manage the impact of an average reduction of around &pound;700m per year in government grant. Since March 2018, TfL has become one of the only transport authorities in the world not to receive a direct Government operational grant for day-to-day running costs. Despite achieving record efficiencies, the absence of adequate central Government funding has meant that, since April 2018, TfL has had to pause non safety-critical renewal work on London's road network.</span></span></p>

<p style="margin-left:0cm; margin-right:0cm"><span style="font-size:12pt"><span style="line-height:21pt">In addition, there is currently no certainty of Government capital funding beyond 2020/21. This clearly poses significant challenges for TfL when planning the pipeline of investment London requires to keep the city growing and succeeding. While TfL is planning to follow the introduction of new trains on the Piccadilly line with new signalling, and then to upgrade the rest of the deep Tube lines, such large-scale investment will not be possible without capital funding from the Government.</span></span></p>

<p style="margin-left:0cm; margin-right:0cm"><span style="font-size:12pt"><span style="line-height:21pt">Ahead of this year's spending review, TfL is making the case for long-term steady and sustained investment to ensure critical infrastructure projects can continue and London's transport network can support the demands of all those who live and work in, or visit, the city. The Mayor has called on the Government to quickly accept that London gets its fair share of the National Infrastructure Commission's recommended spend on infrastructure of 1.2 per cent of total gross domestic product, which would provide long-term funding to step-up the modernisation of its public transport network.</span></span></p>

<p style="margin-left:0cm; margin-right:0cm"><span style="font-size:12pt"><span style="line-height:21pt"><strong>Mayor of London, Sadiq Khan, said:</strong> `By making TfL more efficient and almost halving its operating deficit, we are able to continue our vital work to transform the Tube network, take radical action to clean up our toxic air and freeze fares, making transport more affordable for millions of Londoners.</span></span></p>

<p style="margin-left:0cm; margin-right:0cm"><span style="font-size:12pt"><span style="line-height:21pt">`But there is only so much that TfL can do when its government funding is slashed, it's locked out of funding for road maintenance and faces no certainty over future Government capital investment. At the spending review this year, it is vital that the Government listens to its own National Infrastructure Commission and ensures that London gets the funding it needs to continue to operate a world-class, affordable and sustainable transport network that serves Londoners across our city.'</span></span></p>

<p style="margin-left:0cm; margin-right:0cm"><span style="font-size:12pt"><span style="line-height:21pt">TfL's latest figures show that, against a cautious set of forecasts in its last annual budget, its overall fare revenue is up more than two per cent compared to last year, just above expectations. Throughout the next financial year, TfL expects ridership on London buses to continue to decline, as has been seen across the UK in recent years, but also expects total ridership on the London Underground to increase by three million journeys.</span></span></p>

<p style="margin-left:0cm; margin-right:0cm"><span style="font-size:12pt"><span style="line-height:21pt"><strong>Simon Kilonback, Chief Finance Officer at Transport for London said:</strong> `Our Business Plan, which was published in December 2018, set out the key financial challenges we face over the next five years, including absorbing the loss of operating grant, particularly for maintaining our roads, ongoing economic uncertainty and the delay to opening the Elizabeth Line.&nbsp;</span></span></p>

<p style="margin-left:0cm; margin-right:0cm"><span style="font-size:12pt"><span style="line-height:21pt">`Despite this, our net cost of operations in 2018/19 is one third of what it was in 2015/16, excluding operating grant.</span></span></p>

<p style="margin-left:0cm; margin-right:0cm"><span style="font-size:12pt"><span style="line-height:21pt">This has helped us halve our projected operating deficit to &pound;500m for 2018/19.'</span></span></p>

<p><span style="font-size:12.0pt">TfL's draft budget will be considered by the Board on 27 March and is published on the TfL website here - <a href="https://tfl.gov.uk/corporate/publications-and-reports/board-papers" style="text-decoration: none;">https://tfl.gov.uk/corporate/publications-and-reports/board-papers</a></span></p>

<ul>
	<li style="margin:0cm 0cm 0.0001pt"><span style="font-size:12pt"><span style="line-height:21.0pt"><span style="tab-stops:list 36.0pt">The Net Cost of Operations is ‎the difference between TfL's Total Income (including passenger income, business rates and other revenue grants), and TfL's operating costs, capital renewals and net financing costs</span></span></span></li>
	<li style="margin:0cm 0cm 0.0001pt"><span style="font-size:12pt"><span style="line-height:21.0pt"><span style="tab-stops:list 36.0pt">TfL has also today published its Capital Strategy, which details its plans for capital spend in five year buckets up to 2037/38. The strategy is fully aligned to the Mayor's Transport Strategy and also outlines expected funding over the same period based on the recommendations of the National Infrastructure Commission, which are being considered by the Government &#45; <a href="http://content.tfl.gov.uk/board-20190327-agenda-pt1.pdf" style="text-decoration: none;">http://content.tfl.gov.uk/board-20190327-agenda-pt1.pdf</a> (p.433)</span></span></span></li>
	<li style="margin:0cm 0cm 0.0001pt"><span style="font-size:12pt"><span style="line-height:21.0pt"><span style="tab-stops:list 36.0pt">TfL has a proven track record of delivering against its savings targets - its over-delivery of savings in 2016/17 meant it reduced year-on-year operating costs by more than &pound;150m, further reduced like-for-like costs in 2017/18 and is on track to reduce like-for-like costs again in 2018/19. Prior to 2016/17, TfL's operating costs had increased every year.</span></span></span></li>
</ul>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
                <a href="/info-for/media/index" class="heading">
                    <h2 id="sub-menu-heading">Media<span class="visually-hidden"> navigation</span></h2>
                </a>
                <ul>
                    
                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases">Press releases</a></div>
                                <ul>
                                    
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2020">2020</a></div></li>
                            
 
                                        <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019">2019</a></div>
                                        <ul>
                                            
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019/january">January</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019/february">February</a></div></li>
                                    
 
                                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019/march">March</a></div>
                                                <ul>
                                                    
 
 
 
 
 
 
 
 
 
 
 
 
 
 
                                                </ul>
                                            
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019/april">April</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019/may">May</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019/june">June</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019/july">July</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019/august">August</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019/september">September</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019/october">October</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019/november">November</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019/december">December</a></div></li>
                                    
 
                                        </ul>
                                    </li>
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018">2018</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017">2017</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016">2016</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015">2015</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014">2014</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2013">2013</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2012">2012</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2011">2011</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2010">2010</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2009">2009</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2008">2008</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2007">2007</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2006">2006</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2005">2005</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2004">2004</a></div></li>
                            
 
                                </ul>
                            </li>
 
                                <li><div class="link-wrapper"><a href="/info-for/media/photos">Photos</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/media/contact-the-press-office">Contact the Press Office</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/filming-and-photography">Filming & photography</a></div></li>
                            
 
                </ul>
            
 
 
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype: -Home-Media-Media-Press releases-2019-March-TfL’s budget shows operating deficit almost halved as Mayor calls for Government investment in transport -->

 
 
        
        
            @{ViewBag.Description = " TfL's budget shows operating deficit almost halved as Mayor calls for Government investment in transport";}
        
        


 