


@{ViewBag.Title = "The Mayor and TfL launch major plan to help freight deliver for Londoners";}
        
        
<div class="r">
    <div class="breadcrumb-container" role="navigation">
        <span id="breadcrumb-label" class="visually-hidden">You are here:</span>
        <ol class="breadcrumbs clearfix" aria-labelledby="breadcrumb-label">
            <li class="home">
                <a href="/">
                    <span class="hide-text">Home</span>
                </a>
            </li>
            
                <li>
                    <a href="/info-for/media/index">Media</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases">Press releases</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases/2019">2019</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases/2019/march">March</a>
                </li>
                
                <li>
                    <span class="last-breadcrumb">The Mayor and TfL launch major plan to help freight deliver for Londoners</span>
                </li>
            
 
            
 
            
 
            
 
            
 
        </ul>
    </div>
</div>
     
 
<div class="r">
    <div class="headline-container plain">
        <h1>The Mayor and TfL launch major plan to help freight deliver for Londoners</h1>
        <div class="content-page-press-release">
        07 March 2019
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">



 <div class="on-this-page">
<p style="margin-left:0cm; margin-right:0cm"><span style="font-size:12pt"><span style="line-height:21pt">The Mayor of London and Transport for London (TfL) have unveiled an ambitious plan to work with boroughs, businesses and the freight and servicing industry to transform how deliveries are made in the capital, reducing road danger and helping to clean up London's toxic air.</span></span></p>

<p style="margin-left:0cm; margin-right:0cm"><span style="font-size:12pt"><span style="line-height:21pt">A key part of the plan includes offering more click and collect points at Tube stations, with TfL launching a tender to bid for space in their stations and open more parcel lockers across the transport network. TfL will make land available for micro-distribution centres in key locations to support sustainable last mile deliveries in neighbourhoods across the capital, including by bike. TfL will also work with businesses to encourage them to offer 'green' delivery slots, which enable shoppers to choose a delivery window when drivers are already in their area.</span></span></p>

<p style="margin-left:0cm; margin-right:0cm"><span style="font-size:12pt"><span style="line-height:21pt">Lorries and vans are vital for London's economy. Half of the value of household expenditure, around &pound;79 billion per year, relies on road freight. However, the movements of goods vehicles in the capital have increased by around 20 per cent since 2010, contributing to poor air quality, congestion and road danger.</span></span></p>

<p style="margin-left:0cm; margin-right:0cm"><span style="font-size:12pt"><span style="line-height:21pt">Lorries and vans currently account for around one fifth of road traffic in London and about one third in central London during the morning peak, when more people use public transport, walk and cycle. TfL research shows that heavy goods vehicles are involved in 63 per cent of fatal collisions with cyclists, and 25 per cent of fatal collisions with pedestrians, despite only making up four per cent of the overall miles driven in the capital. Lorries and vans also account for around a third of all nitrogen oxide emissions in the capital, having a damaging impact on the health of Londoners.</span></span></p>

<p style="margin-left:0cm; margin-right:0cm"><span style="font-size:12pt"><span style="line-height:21pt">As London grows, the volume of lorry and van trips will continue to grow unless action is taken.&nbsp;</span></span></p>

<p style="margin-left:0cm; margin-right:0cm"><span style="font-size:12pt"><span style="line-height:21pt">The Mayor's Freight and Servicing Action, unveiled today, outlines a bold programme to help address these challenges. It sets out how the industry can continue to meet the freight and servicing needs of London's growing population and economy, while reducing the number of lorries and vans entering central London during the morning peak by 10 per cent by 2026.&nbsp;</span></span></p>

<p style="margin-left:0cm; margin-right:0cm"><span style="font-size:12pt"><span style="line-height:21pt">Encouraging Londoners to choose more sustainable delivery options is key as sales online have doubled since 2012. Between 200,000 and 400,000 personal deliveries are made to offices in central London every day, with every parcel having an impact on air quality and congestion.&nbsp;</span></span></p>

<p style="margin-left:0cm; margin-right:0cm"><span style="font-size:12pt"><span style="line-height:21pt"><strong>Key actions in the plan include:</strong></span></span></p>

<ul>
	<li style="margin: 0cm 0cm 0pt;"><span style="font-size:12pt"><span style="line-height:21pt"><span style="tab-stops:list 36.0pt">Working with boroughs to better coordinate the control of freight movements on London's roads, including supporting London Councils' review of the London Lorry Control Scheme, which helps manage noise nuisance from the largest lorries during unsocial hours and allow more deliveries where appropriate to take place during off-peak hours</span></span></span></li>
	<li style="margin: 0cm 0cm 0pt;"><span style="font-size:12pt"><span style="line-height:21pt"><span style="tab-stops:list 36.0pt">Supporting increased use of water and rail by protecting and reactivating wharves and working with Network Rail to take advantage of opportunities to grow rail freight where possible</span></span></span></li>
	<li style="margin: 0cm 0cm 0pt;"><span style="font-size:12pt"><span style="line-height:21pt"><span style="tab-stops:list 36.0pt">Reducing harmful emissions caused by lorry and van movements by launching the central London Ultra Low Emission Zone next month, which will bring in stricter exhaust emission standards for most vehicles, including vans and lorries, and supporting boroughs in introducing local zero emission zones. TfL guidance will set out a clear process to boroughs for introducing zones to tackle pollution hot spots across the capital</span></span></span></li>
	<li style="margin: 0cm 0cm 0pt;"><span style="font-size:12pt"><span style="line-height:21pt"><span style="tab-stops:list 36.0pt">Making freight vehicles safer by launching the HGV Safety Permit Scheme, incorporating the world's first Direct Vision Standard for HGVs, with the first permits under the scheme to be issued later this year. TfL will also work with regulators to bring in additional mandatory safety equipment for vehicles where appropriate, including new technology to prevent vehicles being driven under the influence of alcohol and autonomous braking systems to reduce the risk of collisions with pedestrians</span></span></span></li>
</ul>

<p style="margin-left:0cm; margin-right:0cm"><span style="font-size:12pt"><span style="line-height:21pt"><strong>Sadiq Khan, Mayor of London, said:</strong> `Freight is essential for London's economy but for our future health and prosperity we need to be smarter about how we manage the millions of van and lorry journeys each week. By creating a pan-London network of micro-distribution centres and rolling out innovative click and collect points at more Tube stations, we will enable more commuters to collect packages near their home &#45; helping reduce congestion across our city. Together with the introduction of our world-leading Direct Vision Standard and supporting businesses to switch to electric vans and cargo bikes, we will make freight more efficient while also reducing road danger and cleaning up London's toxic air.`</span></span></p>

<p style="margin-left:0cm; margin-right:0cm"><span style="font-size:12pt"><span style="line-height:21pt"><strong>Alex Williams, TfL's Director of City Planning, said</strong>: `Freight and servicing are the lifeblood of London's economy and without the industry, London would seize up. As London continues to grow, we all need to think about how we can keep freight moving whilst tackling toxic air and congestion and reducing danger to vulnerable road users. Whether through using click and collect points for online shopping, or shifting vehicle fleets to greener alternatives, we all have a part to play in making London a healthy and attractive place to live and work. We will continue to work closely with our partners and people across the capital to make our vision for cleaner and safer freight a reality.'</span></span></p>

<p style="margin-left:0cm; margin-right:0cm"><span style="font-size:12pt"><span style="line-height:21pt"><strong>Natalie Chapman, FTA's Head of South of England and Urban Policy, said</strong>: `The freight industry delivers for London's businesses, residents, workers and visitors to ensure they have everything they need, when they need it. But as London's population continues to grow, the demands placed upon the freight industry grow in tandem; FTA hopes that the measures outlined in the Freight Action Plan will enable and support the industry to be as efficient as possible. And with residents of London encouraged to become less reliant on private cars, we can help to take those vehicles off the road, replacing them with fewer vehicles and better consolidated deliveries.&nbsp;</span></span></p>

<p style="margin-left:0cm; margin-right:0cm"><span style="font-size:12pt"><span style="line-height:21pt">`Many of the actions within the plan will be delivered at a borough level, so we need to see strong leadership and guidance to ensure they are implemented holistically and consistently. Without this, London's 33 boroughs may end up introducing schemes in slightly different ways, which would make the regulatory environment even more complex than it currently is for the logistics industry, a sector which underpins the capital's entire economy.'</span></span></p>

<p style="margin-left:0cm; margin-right:0cm"><span style="font-size:12pt"><span style="line-height:21pt"><strong>Victoria Lebrec, lorry crash victim and RoadPeace Campaign Coordinator, said:</strong> `Being smart about the way freight travels through London is important as reducing the number of journeys will likely lead to fewer collisions. The impact of serious injuries and fatalities on victims and their loved ones is devastating. RoadPeace supports crash victims, but ultimately reducing road danger is the only way to tackle the problem. We welcome the Mayor's plan and hope to see positive effects in conjunction with safer vehicles and safer roads.'</span></span></p>

<p style="margin-left:0cm; margin-right:0cm"><span style="font-size:12pt"><span style="line-height:21pt">Delivery company DPD has recently opened a pioneering all-electric depot in central London on TfL land. The depot is completely zero emission for both incoming parcels, served by two 7.5t fully-electric lorries, and for last-mile deliveries, carried out by a fleet of 10 electric vans and eight micro-vehicles. DPD has invested &pound;500,000 in the site, including extensive charging infrastructure, and the depot serves a two-square mile delivery radius in the heart of Westminster.</span></span></p>

<p style="margin-left:0cm; margin-right:0cm"><span style="font-size:12pt"><span style="line-height:21pt"><strong>Justin Pegg, DPD's Chief Operating Officer, said:</strong> `DPD's entire central London van fleet already meets the ULEZ standard, but we are looking to go further and create an all-electric fleet and a new network of micro depots across the capital.&nbsp;Micro depots mean shorter journeys, fewer vans on the road and zero emissions.</span></span></p>

<p style="margin-left:0cm; margin-right:0cm"><span style="font-size:12pt"><span style="line-height:21pt">&quot;While we already have two all-electric micro depots open and a third site agreed, there are still challenges to be overcome in terms of electrical infrastructure upgrades, site availability and the supply of electric vehicles on the scale we need for an all-electric fleet across the whole of central London.&nbsp;But by working in partnership with TfL, landlords and the other major stakeholders, we are well on the way to making deliveries more sustainable and safer.'</span></span></p>

<p style="margin-left:0cm; margin-right:0cm"><span style="font-size:12pt"><span style="line-height:21pt">The plan also outlines how the most unsafe HGVs will be removed from London's roads as part of the Mayor's Vision Zero approach to reduce road danger. TfL's Direct Vision Standard for Heavy Goods Vehicles will tackle road danger at its source by eliminating blind spots that are the cause of so many tragic deaths and life-changing injuries.</span></span></p>

<p style="margin-left:0cm; margin-right:0cm"><span style="font-size:12pt"><span style="line-height:21pt">This will be the first initiative of its kind in the world to categorise HGVs depending on the level of a driver's direct vision from a cab. This scheme is due to be introduced in 2020 to improve vehicle safety and increase visibility of vulnerable road users. HGVs will be given a rating between 'zero-star' (lowest) and 'five-star' (highest), with only those vehicles rated 'three-star' and above, or which have comprehensive safety systems, able to operate in London from 2024.</span></span></p>

<p><span style="font-size:12pt">TfL recently awarded six business groups a share of &pound;230,000 funding for innovative projects that make freight and deliveries more efficient. The funding from TfL's Healthy Streets Fund for Business was matched by the business groups themselves and will be invested in schemes ranging from an electric freight consolidation centre at Borough Market, to underground waste storage containers in Vauxhall and the promotion of cycle freight in the London Bridge area. TfL is currently accepting applications from BIDs and Business Partnerships for another round of funding from the scheme, with applications closing on 19 March 2019.</span></p>

<ul>
	<li style="margin: 0cm 0cm 0pt;"><span style="font-size:12pt"><span style="line-height:21pt"><span style="tab-stops:list 36.0pt">The Mayor's Transport Strategy is transforming London's streets to make them safer and better for people walking, cycling and using public transport. It's important that essential delivery and servicing supports this</span></span></span></li>
	<li style="margin: 0cm 0cm 0pt;"><span style="font-size:12pt"><span style="line-height:21pt"><span style="tab-stops:list 36.0pt">The Freight and Servicing Action Plan is available at <a href="https://tfl.gov.uk/corporate/about-tfl/the-mayors-transport-strategy" style="text-decoration: none;">https://tfl.gov.uk/corporate/about-tfl/the-mayors-transport-strategy</a></span></span></span></li>
	<li style="margin: 0cm 0cm 0pt;"><span style="font-size:12pt"><span style="line-height:21pt"><span style="tab-stops:list 36.0pt">More information on how to apply for the Healthy Streets Fund for Business is available at <a href="https://tfl.gov.uk/info-for/deliveries-in-london/delivering-efficiently" style="text-decoration: none;">https://tfl.gov.uk/info-for/deliveries-in-london/delivering-efficiently</a> </span></span></span></li>
	<li style="margin: 0cm 0cm 0pt;"><span style="font-size:12pt"><span style="line-height:21pt"><span style="tab-stops:list 36.0pt">TfL's freight and servicing toolkits for businesses are available at <a href="https://tfl.gov.uk/info-for/deliveries-in-london/delivering-efficiently/deliveries-toolkits" style="text-decoration: none;">https://tfl.gov.uk/info-for/deliveries-in-london/delivering-efficiently/deliveries-toolkits</a></span></span></span></li>
	<li style="margin: 0cm 0cm 0pt;"><span style="font-size:12pt"><span style="line-height:21pt"><span style="tab-stops:list 36.0pt">The full range of toolkits available to businesses include:</span></span></span></li>
	<li style="margin: 0cm 0cm 0pt;"><span style="font-size:12pt"><span style="line-height:21pt"><span style="tab-stops:list 36.0pt">TfL's Personal Deliveries and Waste Consolidation Toolkits which can help businesses reduce the deliveries and servicing trips</span></span></span></li>
	<li style="margin: 0cm 0cm 0pt;"><span style="font-size:12pt"><span style="line-height:21pt"><span style="tab-stops:list 36.0pt">TfL's Retiming Toolkit, which encourages businesses to think about retiming their deliveries and servicing trips. So far, the toolkit has removed more than 160,000 deliveries annually from peak times to less congested times</span></span></span></li>
	<li style="margin: 0cm 0cm 0pt;"><span style="font-size:12pt"><span style="line-height:21pt"><span style="tab-stops:list 36.0pt">The Water Freight Toolkit highlights the options for transporting freight by boat, showing wharves and jetties along the Thames and London's canal system which are suitable for freight</span></span></span></li>
</ul>

<p><span style="font-size:12pt">London Councils represents London's 32 boroughs and the City of London. It is a cross-party organisation that works on behalf of all of its member authorities regardless of political persuasion. More about London Councils here:&nbsp;<a href="http://www.londoncouncils.gov.uk" style="text-decoration: none;">londoncouncils.gov.uk</a></span></p>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
                <a href="/info-for/media/index" class="heading">
                    <h2 id="sub-menu-heading">Media<span class="visually-hidden"> navigation</span></h2>
                </a>
                <ul>
                    
                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases">Press releases</a></div>
                                <ul>
                                    
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2020">2020</a></div></li>
                            
 
                                        <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019">2019</a></div>
                                        <ul>
                                            
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019/january">January</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019/february">February</a></div></li>
                                    
 
                                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019/march">March</a></div>
                                                <ul>
                                                    
 
 
 
 
 
 
 
 
 
 
 
 
 
 
                                                </ul>
                                            
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019/april">April</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019/may">May</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019/june">June</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019/july">July</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019/august">August</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019/september">September</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019/october">October</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019/november">November</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019/december">December</a></div></li>
                                    
 
                                        </ul>
                                    </li>
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018">2018</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017">2017</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016">2016</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015">2015</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014">2014</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2013">2013</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2012">2012</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2011">2011</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2010">2010</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2009">2009</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2008">2008</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2007">2007</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2006">2006</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2005">2005</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2004">2004</a></div></li>
                            
 
                                </ul>
                            </li>
 
                                <li><div class="link-wrapper"><a href="/info-for/media/photos">Photos</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/media/contact-the-press-office">Contact the Press Office</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/filming-and-photography">Filming & photography</a></div></li>
                            
 
                </ul>
            
 
 
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype: -Home-Media-Media-Press releases-2019-March-The Mayor and TfL launch major plan to help freight deliver for Londoners -->

 
 
        
        
            @{ViewBag.Description = "The Mayor and TfL launch major plan to help freight deliver for Londoners";}
        
        


 