


@{ViewBag.Title = "Below inflation increase to taxi fares";}
        
        
<div class="r">
    <div class="breadcrumb-container" role="navigation">
        <span id="breadcrumb-label" class="visually-hidden">You are here:</span>
        <ol class="breadcrumbs clearfix" aria-labelledby="breadcrumb-label">
            <li class="home">
                <a href="/">
                    <span class="hide-text">Home</span>
                </a>
            </li>
            
                <li>
                    <a href="/info-for/media/index">Media</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases">Press releases</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases/2013">2013</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases/2013/16906">February</a>
                </li>
                
                <li>
                    <span class="last-breadcrumb">Below inflation increase to taxi fares</span>
                </li>
            
 
            
 
            
 
            
 
            
 
        </ul>
    </div>
</div>
     
 
<div class="r">
    <div class="headline-container plain">
        <h1>Below inflation increase to taxi fares</h1>
        <div class="content-page-press-release">
        06 February 2013
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        Lowest fare increase since TfL began licensing taxis in 2002
        
    </div>



 <div class="on-this-page">
<p>Transport for London's (TfL's) board today agreed a below-inflation taxi fare increase for the coming financial year (2013/14).&nbsp; </p>
<p>The 1.7 per cent average increase is the lowest in the decade that TfL has been licensing taxis.&nbsp;&nbsp; </p>
<p>The new fares seek a balance between maintaining income levels for drivers while ensuring passengers still get a fair price for the high quality and unique service provided by the Capital's taxi drivers.&nbsp; </p>
<p>This year both fuel prices and operating costs have increased, raising the costs associated with driving a taxi.</p>
<p>The Board approved the new fares following consultation by TfL with the taxi trade and others, including London TravelWatch, Age UK, London Boroughs, London Assembly and London MPs.</p>
<p>John Mason, TfL's Director of Taxi &amp; Private Hire, said: `Taxi fares are reviewed annually and in making a recommendation we take into account a range of factors that include taxi drivers' running costs including vehicle costs, parts and fuel.&nbsp; </p>
<p>'This year's increase is the lowest for ten years and seeks to cover increases in the cost of running a black cab while continuing to provide passengers with value for money.`</p>
<p>The Board also approved changes to taxi fares for journeys starting at Heathrow and the extension of a special provision linked to diesel prices.</p>
<p>To help compensate the upfront charge that drivers have to pay when entering the Heathrow feeder ranks, which is increasing in April, an additional charge known as the 'Heathrow Extra' is added to passenger's Heathrow fares.&nbsp; </p>
<p>This 'Heathrow Extra' will increase by 80 pence, taking it from &pound;2.40 to &pound;3.20. </p>
<p>Since July 2008 a special provision has been in place to allow taxi fares to be increased if diesel costs reach a specified level.&nbsp; </p>
<p>To date this provision has not been implemented.&nbsp; </p>
<p>The Board approved an extension of this provision for the coming year.&nbsp; </p>
<p>Therefore a 40 pence increase to all taxi fares will be implemented if diesel reaches 179.7 pence per litre.</p>
<p>A final change will see the automation of the &pound;4.00 charge added to fares over the festive period (20:00 on 24 December to 06:00 on 27 December, and 20:00 on 31 December to 06:00 on 2 January) - previously this set charge was added manually by the driver. </p>
<p>Taxi fares are reviewed annually and calculated by TfL based on a cost index that has been used since 1981.&nbsp; </p>
<p>The new fares will come into effect from Saturday 6 April 2013.</p>
<p>
<hr>

<p>
<p><strong>Notes to editors:</strong></p>
<ul>
<li>TfL's Taxi and Private Hire is responsible for licensing and regulating London's taxi and private hire services </li>
<li>Taxi fares are calculated according to one of three tariffs. These are: 
<ul>
<li>Tariff 1: Monday to Friday, between 06:00 and 20:00 </li>
<li>Tariff 2: Monday to Friday, between 20:00 and 22:00, and weekends between 06:00 and 22:00 </li>
<li>Tariff 3: Nightly between 22:00 and 06:00 and on public holidays</li></ul></li>
<li>Read the <a href="http://www.tfl.gov.uk/assets/downloads/corporate/Part-1-Item12-Taxi-Fares-and-Tariffs-Annual-Review.pdf">TfL Board paper</a> that was considered today </li>
<li>Tariff changes:</li></ul>
<p>
<div class="table-container"><table cellspacing="1" cellpadding="1" width="99%" border="1">
<tbody>
<tr>
<td>&nbsp;<strong> </strong></td>
<td><strong>&nbsp;Current average (&pound;)</strong></td>
<td><strong>&nbsp;New average (&pound;)</strong></td>
<td><strong>&nbsp;Increase (&pound;)</strong></td>
<td><strong>&nbsp;Increase (%)</strong></td></tr>
<tr>
<td>&nbsp;<strong>Tariff 1</strong> </td>
<td>&nbsp;11.24 </td>
<td>&nbsp;11.43</td>
<td>&nbsp;0.19</td>
<td>&nbsp;1.7</td></tr>
<tr>
<td>&nbsp;<strong>Tariff 2</strong></td>
<td>&nbsp;13.02 </td>
<td>&nbsp;13.25</td>
<td>&nbsp;0.22</td>
<td>&nbsp;1.7</td></tr>
<tr>
<td>&nbsp;<strong>Tariff&nbsp;3</strong> </td>
<td>&nbsp;15.30 </td>
<td>&nbsp;15.57</td>
<td>&nbsp;0.27</td>
<td>&nbsp;1.7</td></tr>
<tr>
<td>&nbsp;<strong>All week</strong></td>
<td>&nbsp;12.42 </td>
<td>&nbsp;12.63</td>
<td>&nbsp;0.21</td>
<td>&nbsp;1.7</td></tr></tbody></table></div><br></p>
<p>&nbsp;</p>
<p><br>&nbsp;</p>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
                <a href="/info-for/media/index" class="heading">
                    <h2 id="sub-menu-heading">Media<span class="visually-hidden"> navigation</span></h2>
                </a>
                <ul>
                    
                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases">Press releases</a></div>
                                <ul>
                                    
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2020">2020</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019">2019</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018">2018</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017">2017</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016">2016</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015">2015</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014">2014</a></div></li>
                            
 
                                        <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2013">2013</a></div>
                                        <ul>
                                            
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2013/15890">December</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2013/november">November</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2013/october">October</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2013/september">September</a></div></li>
                                    
 
                                        <li><div class="link-wrapper"><a href="/info-for/media/press-releases/2013/august">August</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2013/july">July</a></div></li>
                                    
 
                                        <li><div class="link-wrapper"><a href="/info-for/media/press-releases/2013/june">June</a></div></li>
                                    
 
                                        <li><div class="link-wrapper"><a href="/info-for/media/press-releases/2013/16598">May</a></div></li>
                                    
 
                                        <li><div class="link-wrapper"><a href="/info-for/media/press-releases/2013/16698">April</a></div></li>
                                    
 
                                        <li><div class="link-wrapper"><a href="/info-for/media/press-releases/2013/march">March</a></div></li>
                                    
 
                                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2013/16906">February</a></div>
                                                <ul>
                                                    
 
 
 
 
 
 
 
 
 
 
 
 
                                                </ul>
                                            
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2013/16962">January</a></div></li>
                                    
 
                                        </ul>
                                    </li>
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2012">2012</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2011">2011</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2010">2010</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2009">2009</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2008">2008</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2007">2007</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2006">2006</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2005">2005</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2004">2004</a></div></li>
                            
 
                                </ul>
                            </li>
 
                                <li><div class="link-wrapper"><a href="/info-for/media/photos">Photos</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/media/contact-the-press-office">Contact the Press Office</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/filming-and-photography">Filming & photography</a></div></li>
                            
 
                </ul>
            
 
 
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype: -Home-Media-Media-Press releases-2013-February-Below inflation increase to taxi fares -->

 
 
        
        
            @{ViewBag.Description = "Transport for London's (TfL's) board today agreed a below-inflation taxi fare increase for the coming financial year (2013/14).&nbsp; The 1.7 per cent average increase is the lowest in the decade that TfL has been licensing taxis.&nbsp;&nbsp; The new";}
        
        


 