


@{ViewBag.Title = "London Overground introduces five-car trains to meet increasing demand";}
        
        
<div class="r">
    <div class="breadcrumb-container" role="navigation">
        <span id="breadcrumb-label" class="visually-hidden">You are here:</span>
        <ol class="breadcrumbs clearfix" aria-labelledby="breadcrumb-label">
            <li class="home">
                <a href="/">
                    <span class="hide-text">Home</span>
                </a>
            </li>
            
                <li>
                    <a href="/info-for/media/index">Media</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases">Press releases</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases/2013">2013</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases/2013/16906">February</a>
                </li>
                
                <li>
                    <span class="last-breadcrumb">London Overground introduces five-car trains to meet increasing demand</span>
                </li>
            
 
            
 
            
 
            
 
            
 
        </ul>
    </div>
</div>
     
 
<div class="r">
    <div class="headline-container plain">
        <h1>London Overground introduces five-car trains to meet increasing demand</h1>
        <div class="content-page-press-release">
        06 February 2013
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        A programme to introduce five-car trains on the majority of London Overground routes and increase the capacity of the railway by 25 cent, to meet rapidly increasing demand for the network's services, was announced by Transport for London (TfL) today.
        
    </div>



 <div class="on-this-page">
<p>The &pound;320m programme includes the construction of longer platforms and the delivery of an extra 57 carriages by the end of 2015. </p>
<p>The Mayor of London, Boris Johnson said: 'Passenger numbers on our London Overground services have been going through the roof, but this important programme of investment will enable us to provide the extra carriages required for Londoners to take advantage of what has become the most popular suburban railway in the country.'</p>
<p>Transport for London's Chief Operating Officer for Rail, Howard Smith, said: 'Demand for London Overground - the UK's most punctual rail service - is growing at an incredible pace.&nbsp; </p>
<p>'By the end of 2012, London Overground carried 120 million passengers - nearly four times the number carried when we launched in 2007.&nbsp; </p>
<p>'To enable this positive trend to continue and maintain our high levels for safe, reliable and frequent travel, we need to deliver more capacity by adding more carriages.'</p>

<p>Stephen Locke, Chair of London TravelWatch, said: 'Passengers have seen many improvements since TfL took over London Overground services five years ago. </p>

<p>'We welcome this latest investment to provide longer trains. </p>

<p>'London TravelWatch strongly supports London's Mayor having a greater say in running the Capital's national rail services and these recent improvements are just one example of how passengers can benefit when this happens.'</p>
<p>The increased capacity will help London's transport network accommodate the predicted 810,000 new residents expected to move into London by 2021.<br>&nbsp;<br>To accommodate the longer five-car trains some infrastructure upgrades will be required. </p>
<p>They are:</p>
<ul>
<li>Additional capacity for stabling trains overnight at Silwood Sidings, south east London and also at Willesden depot in north west London </li>
<li>Reconfiguration of the New Cross Gate and Willesden depots </li>
<li>Platform extensions at some stations on the former North and East London lines and associated signalling and power works</li></ul>
<p>
<hr>

<p>
<p><strong>Notes to editors:</strong></p>
<ul>
<li>TfL is entering into negotiations to finalise the delivery and leasing arrangements of the new carriages </li>
<li>Enabling works for the infrastructure improvements are due to begin from March 2013 at Silwood (subject to receiving planning approval) </li>
<li>Since TfL took over the former Silverlink Metro franchise in November 2007, demand on London Overground has grown by 160 per cent&nbsp;in the five years (to autumn 2012) on the 'original' network (more than doubling from 2.57m per four weekly period to 6.78m). When the former East London line is included the demand has increased 280 per cent&nbsp;(quadrupling from 2.57m to 9.83m per four weekly period). A total of 120 million&nbsp;passengers have been carried in the last year (2012).&nbsp;The Clapham extension is forecast to add a further 12 million (circa) passengers per year </li>
<li>Each new carriage has the capacity to carry approximately 150 passengers </li>
<li>The London Plan forecasts that employment will grow by 670,000 jobs from 2007 to 2021, and population by 810,000 people over the same period. With the impact of schemes such as Crossrail also taken into account, this will mean that growth in Overground demand is predicted to have increased by 400 per cent&nbsp;between 2007 and 2021 (33 million&nbsp;passengers a year increasing to 165 million&nbsp;passengers a year - about a third more than existing passenger numbers)</li></ul>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
                <a href="/info-for/media/index" class="heading">
                    <h2 id="sub-menu-heading">Media<span class="visually-hidden"> navigation</span></h2>
                </a>
                <ul>
                    
                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases">Press releases</a></div>
                                <ul>
                                    
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2020">2020</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019">2019</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018">2018</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017">2017</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016">2016</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015">2015</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014">2014</a></div></li>
                            
 
                                        <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2013">2013</a></div>
                                        <ul>
                                            
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2013/15890">December</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2013/november">November</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2013/october">October</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2013/september">September</a></div></li>
                                    
 
                                        <li><div class="link-wrapper"><a href="/info-for/media/press-releases/2013/august">August</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2013/july">July</a></div></li>
                                    
 
                                        <li><div class="link-wrapper"><a href="/info-for/media/press-releases/2013/june">June</a></div></li>
                                    
 
                                        <li><div class="link-wrapper"><a href="/info-for/media/press-releases/2013/16598">May</a></div></li>
                                    
 
                                        <li><div class="link-wrapper"><a href="/info-for/media/press-releases/2013/16698">April</a></div></li>
                                    
 
                                        <li><div class="link-wrapper"><a href="/info-for/media/press-releases/2013/march">March</a></div></li>
                                    
 
                                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2013/16906">February</a></div>
                                                <ul>
                                                    
 
 
 
 
 
 
 
 
 
 
 
 
                                                </ul>
                                            
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2013/16962">January</a></div></li>
                                    
 
                                        </ul>
                                    </li>
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2012">2012</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2011">2011</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2010">2010</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2009">2009</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2008">2008</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2007">2007</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2006">2006</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2005">2005</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2004">2004</a></div></li>
                            
 
                                </ul>
                            </li>
 
                                <li><div class="link-wrapper"><a href="/info-for/media/photos">Photos</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/media/contact-the-press-office">Contact the Press Office</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/filming-and-photography">Filming & photography</a></div></li>
                            
 
                </ul>
            
 
 
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype: -Home-Media-Media-Press releases-2013-February-London Overground introduces five-car trains to meet increasing demand -->

 
 
        
        
            @{ViewBag.Description = "The &pound;320m programme includes the construction of longer platforms and the delivery of an extra 57 carriages by the end of 2015. The Mayor of London, Boris Johnson said: 'Passenger numbers on our London Overground services have been going through the";}
        
        


 