


@{ViewBag.Title = "London Overground stations now offer WiFi";}
        
        
<div class="r">
    <div class="breadcrumb-container" role="navigation">
        <span id="breadcrumb-label" class="visually-hidden">You are here:</span>
        <ol class="breadcrumbs clearfix" aria-labelledby="breadcrumb-label">
            <li class="home">
                <a href="/">
                    <span class="hide-text">Home</span>
                </a>
            </li>
            
                <li>
                    <a href="/info-for/media/index">Media</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases">Press releases</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases/2013">2013</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases/2013/16906">February</a>
                </li>
                
                <li>
                    <span class="last-breadcrumb">London Overground stations now offer WiFi</span>
                </li>
            
 
            
 
            
 
            
 
            
 
        </ul>
    </div>
</div>
     
 
<div class="r">
    <div class="headline-container plain">
        <h1>London Overground stations now offer WiFi</h1>
        <div class="content-page-press-release">
        15 February 2013
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        London Overground passengers will be WiFi-connected at 50 stations on the Capital's orbital rail network from 15 February with the final seven stations covered by the end of June.
        
    </div>



 <div class="on-this-page">
<p>The free service, from Wi-Fi provider The Cloud, will allow passengers to use their mobile devices to browse the internet, use social networks and get free, real-time travel information from Transport for London (TfL). </p>
<p>The first 60 minutes are free.</p>
<p>Peter Austin, Managing Director of London Overground Rail Operations Limited, which delivers London Overground services on behalf of Transport for London (TfL) and has signed the contract with The Cloud, said: 'We are always looking for ways to make the London Overground even more convenient than it already is and believe the introduction of free WiFi can only improve and enhance our passenger journeys. </p>
<p>'It complements the modern commuting railway service we already offer and is also fitting for what is one of the best performing railways in the UK.'</p>
<p>Vince Russell, Managing Director at The Cloud, said: 'London Overground stations are a hive of activity for people travelling in and out of London. </p>
<p>'This is especially true of workers commuting into the city. </p>
<p>'For these people, the ability to check emails or perhaps access work documents on the go is vital. </p>
<p>'Relying on 3G or 4G connection in locations where network traffic comes in peaks means that passengers are sometimes left frustrated at slow connection times during busier periods. </p>
<p>'We're delighted to be working with London Overground to provide this service which will offer a fast, reliable internet connection to people as they wait for their trains.'</p>
<p>Howard Smith, Chief Rail Operating Officer for TfL London Rail, which manages the London Overground service, said: 'We have modernised many areas of London Overground - the train fleet, the stations and the signalling. </p>
<p>'It is now one of the best performing railways in the UK.</p>
<p>'TfL supports the introduction of this new facility as we see direct communications between passengers as perfectly complementing our own information services. </p>
<p>'In recent years the value of passenger-to-passenger communication during service disruptions has been well demonstrated and we are happy to further enable and support that phenomenon as an enhancement to our modern, 21st- century railway in the Capital.'</p>
<p>London Overground passengers will have 60 minutes free internet access each day, at each station, through a one-time registration process available at all 57 London Overground-operated sites. </p>
<p>The WiFi service will begin to go live from today. </p>
<p>Major stations on the network that will now be WiFi-enabled include:</p>
<ul>
<li><strong>North London</strong>: Willesden Junction and West Hampstead</li>
<li><strong>South London</strong>: New Cross Gate, Forest Hill, West Croydon and&nbsp; Norwood Junction</li>
<li><strong>East London</strong>: Surrey Quays, Dalston, Wapping and Hackney Central</li>
<li><strong>West London</strong>: Kensington Olympia and Shepherd's Bush</li></ul>
<p>Sixty-six per cent of UK 16 to 24-year-olds now own a smartphone and 19 per cent of UK households own a tablet - Ofcom figures.&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </p>
<p>
<hr>
</p>
<p><strong>Notes to editors:</strong></p>
<ul>
<li>Access is free for the first 60 minutes every 24 hour at each station. After this 60-minute period, users will be offered the following WiFi charges if they wish to continue:</li>
<ul>
<li>&pound;2.99 for 30 minutes</li>
<li>&pound;4.50 for&nbsp;one hour</li>
<li>&pound;9.99 for 24 hours</li>
<li>&pound;11.99 for&nbsp;seven days</li></ul>
<li>TfL travel news and information will be free at all times the user is logged on</li>
<li>WiFi is available in ticket halls, corridors and on platforms but not on London Overground trains</li>
<li>Haggerston, Shoreditch and Shadwell stations will have coverage by the end of this month. Caledonian and Barnsbury station will have coverage by the end of April. The delay is due to some technical problems with installation</li>
<li>Crystal Palace station's ticket hall will have coverage on 15 February and complete coverage on all areas of the station when lift and walkway works are completed by the end of April</li>
<li>Clapham High Street and Wandsworth Road stations will provide coverage from June. Both stations only became part of the London Overground network in December and equipment has still to be installed</li>
<li>There is coverage in the ticket hall at Wapping Station but none on the platforms owing to the depth of the station and the width of the platforms posing health and safety issues with the installation of WiFi equipment</li>
<li>Find out more about <a href="https://www.thecloud.net/free-wifi/support/faqs/">logging in</a></li></ul>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
                <a href="/info-for/media/index" class="heading">
                    <h2 id="sub-menu-heading">Media<span class="visually-hidden"> navigation</span></h2>
                </a>
                <ul>
                    
                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases">Press releases</a></div>
                                <ul>
                                    
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2020">2020</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019">2019</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018">2018</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017">2017</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016">2016</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015">2015</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014">2014</a></div></li>
                            
 
                                        <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2013">2013</a></div>
                                        <ul>
                                            
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2013/15890">December</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2013/november">November</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2013/october">October</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2013/september">September</a></div></li>
                                    
 
                                        <li><div class="link-wrapper"><a href="/info-for/media/press-releases/2013/august">August</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2013/july">July</a></div></li>
                                    
 
                                        <li><div class="link-wrapper"><a href="/info-for/media/press-releases/2013/june">June</a></div></li>
                                    
 
                                        <li><div class="link-wrapper"><a href="/info-for/media/press-releases/2013/16598">May</a></div></li>
                                    
 
                                        <li><div class="link-wrapper"><a href="/info-for/media/press-releases/2013/16698">April</a></div></li>
                                    
 
                                        <li><div class="link-wrapper"><a href="/info-for/media/press-releases/2013/march">March</a></div></li>
                                    
 
                                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2013/16906">February</a></div>
                                                <ul>
                                                    
 
 
 
 
 
 
 
 
 
 
 
 
                                                </ul>
                                            
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2013/16962">January</a></div></li>
                                    
 
                                        </ul>
                                    </li>
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2012">2012</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2011">2011</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2010">2010</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2009">2009</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2008">2008</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2007">2007</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2006">2006</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2005">2005</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2004">2004</a></div></li>
                            
 
                                </ul>
                            </li>
 
                                <li><div class="link-wrapper"><a href="/info-for/media/photos">Photos</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/media/contact-the-press-office">Contact the Press Office</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/filming-and-photography">Filming & photography</a></div></li>
                            
 
                </ul>
            
 
 
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype: -Home-Media-Media-Press releases-2013-February-London Overground stations now offer WiFi -->

 
 
        
        
            @{ViewBag.Description = "The free service, from Wi-Fi provider The Cloud, will allow passengers to use their mobile devices to browse the internet, use social networks and get free, real-time travel information from Transport for London (TfL). The first 60 minutes are free.Peter";}
        
        


 