


@{ViewBag.Title = "Mark Wallinger unveils largest art commission ever for the Underground's 150th anniversary ";}
        
        
<div class="r">
    <div class="breadcrumb-container" role="navigation">
        <span id="breadcrumb-label" class="visually-hidden">You are here:</span>
        <ol class="breadcrumbs clearfix" aria-labelledby="breadcrumb-label">
            <li class="home">
                <a href="/">
                    <span class="hide-text">Home</span>
                </a>
            </li>
            
                <li>
                    <a href="/info-for/media/index">Media</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases">Press releases</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases/2013">2013</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases/2013/16906">February</a>
                </li>
                
                <li>
                    <span class="last-breadcrumb">Mark Wallinger unveils largest art commission ever for the Underground's 150th anniversary </span>
                </li>
            
 
            
 
            
 
            
 
            
 
        </ul>
    </div>
</div>
     
 
<div class="r">
    <div class="headline-container plain">
        <h1>Mark Wallinger unveils largest art commission ever for the Underground's 150th anniversary </h1>
        <div class="content-page-press-release">
        07 February 2013
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        A total of 270 art works to be displayed at Tube stations. First ten artworks to go on display from 7 February.
        
    </div>



 <div class="on-this-page">
<p>In the largest ever commission of its kind, Mark Wallinger today unveiled Labyrinth, 270 unique works one for each of the 270 stations on the London Underground network.</p>
<p>The commission, from Art on the Underground, is one of the highlights of a series of special events and commissions in 2013 to celebrate the 150th anniversary of the Underground.</p>
<p>Inspired by the lexicon of the symbols of London Underground that have become some of the most recognised in the world, Mark Wallinger chose the ancient symbol of the labyrinth with its single path as the theme of the work. </p>
<p>Each station will have its own unique Labyrinth design, emblazoned in black and white on a single 600mm&sup2; vitreous enamel panel, located in a prominent position, representing the journey through the network taken by millions of individuals each year from that place. </p>
<p>Labyrinth will launch on 7 February with the first 10 central London stations: Baker Street, Bank, Embankment, Green Park, King's Cross St. Pancras, Oxford Circus, St James's Park, Tottenham Court Road, Victoria and Westminster. </p>
<p>Labyrinth will be installed across the whole network during the next few months, completing the permanent installation in all 270 stations in the summer.</p>

<h2>Legacy of art</h2>
<p>Boris Johnson, the Mayor of London, said: 'The greatest Underground system in the world has inspired a formidable legacy of art, including Beck's timeless map and the inventive poster designs that provide traveller information. </p>
<p>'With Art on the Underground some of the best artists around have been able to use the Tube as a starting point for exciting new commissions that add to the passenger experience and underline London's status as a great world city for culture.'</p>
<p>Artist, Mark Wallinger, said: 'It's an honour to have received this commission from London Underground to mark its 150th anniversary. </p>
<p>'The Underground has been part of my life since childhood. </p>
<p>'It's surely every artist's dream to create a permanent work that will be encountered by so many of people and this opportunity is especially close to my heart. </p>
<p>'The journeys we take on the Underground are unique to each of us. </p>
<p>'I hope Labyrinth can perhaps reflect that individual yet universal experience.'</p>

<h2>Focus on the future</h2>
<p>Tamsin Dillon, Head of Art of the Underground, said: 'Ground breaking art and design has always been part of London Underground.&nbsp; </p>
<p>'These striking, permanent black and white artworks are the perfect way to celebrate the Tube's 150th anniversary.</p>
<p>'I am sure that the 270 individual labyrinths especially created for each station will capture the imaginations of the millions of Tube customers that use the network every day. </p>
<p>'Art on the Underground, like London Underground, is always focused on the future and our commissioning of cutting edge contemporary artists very much reflects this forward-looking vision.'</p>
<p>Alongside the commission, Art on the Underground will continue its programme of collaborations between artists and young people, working with schools and over 30 boroughs to enable teachers, students and their communities to inspire their own creative responses which will be shared on the Labyrinth online microsite. </p>
<p>A special project with young people in partnership with Youth Support Development Service in the Royal Borough of Kensington and Chelsea will lead to new artworks and exhibitions at selected Tube stations.</p>
<p>
<hr>

<p>
<p><strong>Notes to editors:</strong></p>
<ul>
<li>Mark Wallinger, born in Chigwell in 1959, is one of the UK's leading contemporary artists. Among his works are Ecce Homo, the first commission for the Fourth Plinth in Trafalgar Square (1999), State Britain (2007) at Tate Britain, the proposed Ebbsfleet Landmark Commission White Horse (2009), Via Dolorosa in the crypt of the Duomo in Milan, and Sinema Amnesia (2012) for Turner Contemporary in Margate (2012). Among his solo shows are the Serpentine Gallery, London, Tate Liverpool, Vienna Secession, Museum for Gegenwartskunst, Basel, Palais Des Beaux Arts, Brussels, Museum de Pont, Tilburg. His latest solo exhibition, SITE, took place in 2012 at Baltic, Gateshead. He was one of three artists commissioned for Metamorphosis: Titian 2012 at the National Gallery in&nbsp;London as part of the London 2012 Cultural Olympiad. His work is in the collections of leading international museums including the Tate, MoMA New York, and Centre Pompidou Paris. Wallinger represented Great Britain at the 2001 Venice Biennale. He was awarded the Turner Prize in 2007 </li>
<li>London Underground established Art on the Underground in 2000 initially under the title Platform for Art, with the purpose of producing and presenting new artworks that enrich the journeys of millions on the Tube every day. From single-site, large-scale commissions at sites such as Gloucester Road station, to pocket-size commissions for the cover of the Tube map, Art on the Underground has commissioned a roll-call of the best artists in the last 13 years, maintaining art as a central element of London Underground's identity and engaging passengers and staff in a strong sense of shared ownership. Artists include Cindy Sherman, Tracey Emin, Michael Landy, Jeremy Deller, Susan Hiller, Barbara Kruger, Liam Gillick, Eva Rothschild, Yinka Shonibare, Richard Long, Gary Hume, Richard Wentworth, Gavin Turk and Peter Blake </li>
<li>Mark Wallinger's Labyrinth is one of a series of special commissions for the Underground's 150th anniversary. Other commissions to leading contemporary artists will be announced in 2013 including a special edition of artists' posters </li>
<li>Labyrinth is supported by the National Lottery through Arts Council England, and sponsored by J C Decaux </li>
<li>Find out more about <a href="http://www.tfl.gov.uk/art">Mark Wallinger's Labyrinth</a> </li>
<li>The Tube is undergoing a huge and essential programme to modernise its ageing infrastructure - vital to cope with a growing population and to support the economic development and growth of the Capital and the UK. This includes the introduction of new track and signalling and the rebuilding of some of our most important stations. By the end of the current programme there will be 30 per cent&nbsp;more capacity</li></ul>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
                <a href="/info-for/media/index" class="heading">
                    <h2 id="sub-menu-heading">Media<span class="visually-hidden"> navigation</span></h2>
                </a>
                <ul>
                    
                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases">Press releases</a></div>
                                <ul>
                                    
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2020">2020</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019">2019</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018">2018</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017">2017</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016">2016</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015">2015</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014">2014</a></div></li>
                            
 
                                        <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2013">2013</a></div>
                                        <ul>
                                            
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2013/15890">December</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2013/november">November</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2013/october">October</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2013/september">September</a></div></li>
                                    
 
                                        <li><div class="link-wrapper"><a href="/info-for/media/press-releases/2013/august">August</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2013/july">July</a></div></li>
                                    
 
                                        <li><div class="link-wrapper"><a href="/info-for/media/press-releases/2013/june">June</a></div></li>
                                    
 
                                        <li><div class="link-wrapper"><a href="/info-for/media/press-releases/2013/16598">May</a></div></li>
                                    
 
                                        <li><div class="link-wrapper"><a href="/info-for/media/press-releases/2013/16698">April</a></div></li>
                                    
 
                                        <li><div class="link-wrapper"><a href="/info-for/media/press-releases/2013/march">March</a></div></li>
                                    
 
                                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2013/16906">February</a></div>
                                                <ul>
                                                    
 
 
 
 
 
 
 
 
 
 
 
 
                                                </ul>
                                            
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2013/16962">January</a></div></li>
                                    
 
                                        </ul>
                                    </li>
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2012">2012</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2011">2011</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2010">2010</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2009">2009</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2008">2008</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2007">2007</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2006">2006</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2005">2005</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2004">2004</a></div></li>
                            
 
                                </ul>
                            </li>
 
                                <li><div class="link-wrapper"><a href="/info-for/media/photos">Photos</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/media/contact-the-press-office">Contact the Press Office</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/filming-and-photography">Filming & photography</a></div></li>
                            
 
                </ul>
            
 
 
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype: -Home-Media-Media-Press releases-2013-February-Mark Wallinger unveils largest art commission ever for the Underground's 150th anniversary  -->

 
 
        
        
            @{ViewBag.Description = "In the largest ever commission of its kind, Mark Wallinger today unveiled Labyrinth, 270 unique works one for each of the 270 stations on the London Underground network.The commission, from Art on the Underground, is one of the highlights of a series of";}
        
        


 