


@{ViewBag.Title = "Update on road closures around Vauxhall following the helicopter crash on 16 January";}
        
        
<div class="r">
    <div class="breadcrumb-container" role="navigation">
        <span id="breadcrumb-label" class="visually-hidden">You are here:</span>
        <ol class="breadcrumbs clearfix" aria-labelledby="breadcrumb-label">
            <li class="home">
                <a href="/">
                    <span class="hide-text">Home</span>
                </a>
            </li>
            
                <li>
                    <a href="/info-for/media/index">Media</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases">Press releases</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases/2013">2013</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases/2013/16906">February</a>
                </li>
                
                <li>
                    <span class="last-breadcrumb">Update on road closures around Vauxhall following the helicopter crash on 16 January</span>
                </li>
            
 
            
 
            
 
            
 
            
 
        </ul>
    </div>
</div>
     
 
<div class="r">
    <div class="headline-container plain">
        <h1>Update on road closures around Vauxhall following the helicopter crash on 16 January</h1>
        <div class="content-page-press-release">
        01 February 2013
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        Nine Elms Lane remains closed between Battersea Park Road as well as the Vauxhall one way system in both directions. Closure of the Gyratory rescheduled for between 9 and 11 February to allow works to be completed.
        
    </div>



 <div class="on-this-page">
<ul>
<li>TfL and Brookfield Multiplex, the construction company, continue to work to complete these repairs and reopen the road as quickly and safely as possible</li></ul>
<p>Following the helicopter crash in Vauxhall on 16 January, Transport for London (TfL), its contractors, the emergency services and Brookfield Multiplex, the construction company whose crane was damaged in the incident, have been working hard to carry out repairs and reinstate normal operation of the roads as quickly as possible.<br>&nbsp;<br>Nine Elms Lane remains closed between Battersea Park Road and the Vauxhall one way system in both directions, whilst work continues to replace sections of the damaged crane.<br>&nbsp;<br>Constructing a crane of this size and nature is a slow and intricate process which severe weather can have a huge affect on progress. </p>
<p>Due to recent high winds, some of which have reached in excess of 35 kilometres per hour, and heavy fog around the Vauxhall area, Brookfield Multiplex's work to repair the 190m crane on St Georges Tower is now behind schedule. </p>
<p>This has meant that the planned closure of the Vauxhall Gyratory system to remove the 800 tonne temporary crane can not take place this weekend and will now be rescheduled to take place between 9 and 11 February.<br>&nbsp;<br>During this closure, diversions will be temporarily reinstated to direct traffic away from the area and drivers informed through a range of channels, including via the Transport for London (TfL)&nbsp;website, Twitter feeds and on-street signs.<br>&nbsp;<br>In light of the extended closure of Nine Elms Lane, TfL has coordinated a number of additional works which were scheduled for the coming months to take place next week, to help reduce disruption to the area in the future. </p>
<p>This includes utility and resurfacing associated with the US Embassy works and maintenance works to the TfL Road Network.<br>&nbsp;<br>Leon Daniels, Managing Director of Surface Transport at TfL said: 'Our staff and contractors continue to work around the clock to minimise disruption to people travelling through the Vauxhall area following the recent terrible incident. </p>
<p>'While I can appreciate the frustration that local businesses and road users are feeling about these prolonged road closures, the nature of these works means that they need to be carried out with the highest level of safety. </p>
<p>'We continue to work closely with all involved to complete these works as quickly and as safely as possible.'</p>
<p>Up to the minute travel information is available on the TfL website or by following &#64;tfltravelalerts, &#64;tfltrafficnews and &#64;tflbusalerts on Twitter.</p>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
                <a href="/info-for/media/index" class="heading">
                    <h2 id="sub-menu-heading">Media<span class="visually-hidden"> navigation</span></h2>
                </a>
                <ul>
                    
                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases">Press releases</a></div>
                                <ul>
                                    
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2020">2020</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019">2019</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018">2018</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017">2017</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016">2016</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015">2015</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014">2014</a></div></li>
                            
 
                                        <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2013">2013</a></div>
                                        <ul>
                                            
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2013/15890">December</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2013/november">November</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2013/october">October</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2013/september">September</a></div></li>
                                    
 
                                        <li><div class="link-wrapper"><a href="/info-for/media/press-releases/2013/august">August</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2013/july">July</a></div></li>
                                    
 
                                        <li><div class="link-wrapper"><a href="/info-for/media/press-releases/2013/june">June</a></div></li>
                                    
 
                                        <li><div class="link-wrapper"><a href="/info-for/media/press-releases/2013/16598">May</a></div></li>
                                    
 
                                        <li><div class="link-wrapper"><a href="/info-for/media/press-releases/2013/16698">April</a></div></li>
                                    
 
                                        <li><div class="link-wrapper"><a href="/info-for/media/press-releases/2013/march">March</a></div></li>
                                    
 
                                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2013/16906">February</a></div>
                                                <ul>
                                                    
 
 
 
 
 
 
 
 
 
 
 
 
                                                </ul>
                                            
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2013/16962">January</a></div></li>
                                    
 
                                        </ul>
                                    </li>
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2012">2012</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2011">2011</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2010">2010</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2009">2009</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2008">2008</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2007">2007</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2006">2006</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2005">2005</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2004">2004</a></div></li>
                            
 
                                </ul>
                            </li>
 
                                <li><div class="link-wrapper"><a href="/info-for/media/photos">Photos</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/media/contact-the-press-office">Contact the Press Office</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/filming-and-photography">Filming & photography</a></div></li>
                            
 
                </ul>
            
 
 
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype: -Home-Media-Media-Press releases-2013-February-Update on road closures around Vauxhall following the helicopter crash on 16 January -->

 
 
        
        
            @{ViewBag.Description = "TfL and Brookfield Multiplex, the construction company, continue to work to complete these repairs and reopen the road as quickly and safely as possibleFollowing the helicopter crash in Vauxhall on 16 January, Transport for London (TfL), its contractors,";}
        
        


 