


@{ViewBag.Title = "Victoria line customers have most intensive train service in the country ";}
        
        
<div class="r">
    <div class="breadcrumb-container" role="navigation">
        <span id="breadcrumb-label" class="visually-hidden">You are here:</span>
        <ol class="breadcrumbs clearfix" aria-labelledby="breadcrumb-label">
            <li class="home">
                <a href="/">
                    <span class="hide-text">Home</span>
                </a>
            </li>
            
                <li>
                    <a href="/info-for/media/index">Media</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases">Press releases</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases/2013">2013</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases/2013/16906">February</a>
                </li>
                
                <li>
                    <span class="last-breadcrumb">Victoria line customers have most intensive train service in the country </span>
                </li>
            
 
            
 
            
 
            
 
            
 
        </ul>
    </div>
</div>
     
 
<div class="r">
    <div class="headline-container plain">
        <h1>Victoria line customers have most intensive train service in the country </h1>
        <div class="content-page-press-release">
        04 February 2013
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        Passengers on the Victoria line are now benefitting from the most intensive train service in the UK, with 33 trains per hour and less than two minutes between trains during the vital morning and evening rush hours.
        
    </div>



<div class="pull-quote">
        <div class="quote-body">"During the busy morning and evening rush hours there is now less than two minutes between trains."</div>
        <div class="quote-footer">
            <div class="quotee-name">Mike Brown</div>
            <div class="quotee-job-title">Managing Director of London Underground</div>
        </div>
</div>

 <div class="on-this-page">
<div class="pullquote right">
                        <p>
                            During the busy morning and evening rush hours there is now less than two minutes between trains.
                            
                        </p>
                    </div>
                
            
            
            <ul>
<li>Victoria line passengers now have 33 trains per hour at the busiest times - less than two minutes between trains </li>
<li>Delays have been cut by a third in four years and halved since 2003 </li>
<li>Additional trains for thousands of extra passengers during peak hours, with 21 per cent capacity increase now delivered </li>
<li>Accessibility improvements make using the line easier for passengers with disabilities&nbsp;</li></ul>
<p>Following London Underground's (LU's) modernisation of the Victoria line, which has seen the introduction of new signalling and trains, delays to customers have been reduced by a third in four years.&nbsp;</p>
<h4>Faster journeys</h4>
<p>The upgrade has delivered a 33 trains per hour service and is giving customers faster and more reliable journeys. </p>
<p>The improvements brought about by the works mean that since 2003 the service is over 50 per cent better than it was previously.<br>&nbsp;<br>As well as more frequent services, the 200 million passengers who use the line each year have a full fleet of new trains. </p>
<h4>More accessible</h4>
<p>The new trains are more accessible with wider doors and more spaces for wheelchair users, on-board audio and visual electronic information for hard of hearing and visually impaired passengers and CCTV in every carriage.<br>&nbsp;<br>Platform humps - platform sections raised for the full length of a carriage - have been installed at Victoria line stations to give level access between the platform and the train. </p>
<p>These make it easier for wheelchair users, parents with buggies and passengers with luggage to board and alight trains.</p>
<h4>Growth in demand</h4>
<p>Mike Brown, Managing Director of London Underground, said: 'The Victoria line has seen enormous growth in demand in recent years and passengers are now experiencing even more benefits with more frequent and more reliable services and a huge number of accessibility improvements.&nbsp; </p>
<p>'During the busy morning and evening rush hours there is now less than two minutes between trains which will speed up journeys on the line. </p>
<p>'On top of this, our engineers have been working extremely hard making the line more reliable. </p>
<p>'This work is already paying off, but we are not complacent and will leave no stone unturned in our effort to further improve the service all day, every day.'</p>
<h4>Tube upgrade</h4>
<p>The Tube modernisation overall will deliver a 30 per cent increase in capacity. </p>
<p>Work on upgrades to the Northern, Circle, District, Hammersmith &amp; City and Metropolitan lines is already well underway too. </p>
<p>Increasing capacity at key stations like Victoria, Tottenham Court Road and Bond Street is also an important part of the plan.&nbsp;<br>&nbsp;<br></p>
<p>
<hr>

<p>
<p><br>Notes to editors:</p>
<ul>
<li>For more information on the Tube upgrade plan go to <a href="http://www.tfl.gov.uk/tubeupgradeplan">tfl.gov.uk/tubeupgradeplan</a> </li>
<li>TfL is working hard to keep disruption to a minimum and to provide information and alternative travel options. Londoners and visitors to the city are urged to "check before you travel", particularly at weekends, and to allow extra journey time where necessary </li>
<li>TfL's range of Travel Tools help passengers plan journeys, get travel information on the move and work out the best way home <a href="http://www.tfl.gov.uk/tfl/traveltools">tfl.gov.uk/tfl/traveltools</a>&nbsp; The website also provides full information on bus replacement services during works </li>
<li>Apart from the TfL website <a href="http://www.tfl.gov.uk/check">tfl.gov.uk/check</a> passengers can check before travelling via the following options: 
<ul type="square">
<li>The London Travel Info 24hrs telephone helpline: 0843 222 1234 </li>
<li>Information on posters, leaflets and "service information" boards at Tube stations via free mobile and email alerts, available from the TfL website</li></ul></li>
<li>All Victoria line stations have platform humps apart from Pimlico<br></li></ul>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
                <a href="/info-for/media/index" class="heading">
                    <h2 id="sub-menu-heading">Media<span class="visually-hidden"> navigation</span></h2>
                </a>
                <ul>
                    
                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases">Press releases</a></div>
                                <ul>
                                    
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2020">2020</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019">2019</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018">2018</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017">2017</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016">2016</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015">2015</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014">2014</a></div></li>
                            
 
                                        <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2013">2013</a></div>
                                        <ul>
                                            
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2013/15890">December</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2013/november">November</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2013/october">October</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2013/september">September</a></div></li>
                                    
 
                                        <li><div class="link-wrapper"><a href="/info-for/media/press-releases/2013/august">August</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2013/july">July</a></div></li>
                                    
 
                                        <li><div class="link-wrapper"><a href="/info-for/media/press-releases/2013/june">June</a></div></li>
                                    
 
                                        <li><div class="link-wrapper"><a href="/info-for/media/press-releases/2013/16598">May</a></div></li>
                                    
 
                                        <li><div class="link-wrapper"><a href="/info-for/media/press-releases/2013/16698">April</a></div></li>
                                    
 
                                        <li><div class="link-wrapper"><a href="/info-for/media/press-releases/2013/march">March</a></div></li>
                                    
 
                                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2013/16906">February</a></div>
                                                <ul>
                                                    
 
 
 
 
 
 
 
 
 
 
 
 
                                                </ul>
                                            
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2013/16962">January</a></div></li>
                                    
 
                                        </ul>
                                    </li>
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2012">2012</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2011">2011</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2010">2010</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2009">2009</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2008">2008</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2007">2007</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2006">2006</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2005">2005</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2004">2004</a></div></li>
                            
 
                                </ul>
                            </li>
 
                                <li><div class="link-wrapper"><a href="/info-for/media/photos">Photos</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/media/contact-the-press-office">Contact the Press Office</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/filming-and-photography">Filming & photography</a></div></li>
                            
 
                </ul>
            
 
 
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype: -Home-Media-Media-Press releases-2013-February-Victoria line customers have most intensive train service in the country  -->

 
 
        
        
            @{ViewBag.Description = "Victoria line passengers now have 33 trains per hour at the busiest times - less than two minutes between trains Delays have been cut by a third in four years and halved since 2003 Additional trains for thousands of extra passengers during peak hours,";}
        
        


 