


@{ViewBag.Title = "A very special delivery on route 145 in Dagenham";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>A very special delivery on route 145 in Dagenham</h1>
        <div class="content-page-press-release">
        27 July 2011
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        A London bus doubled as a delivery room on Saturday (23 July) when a woman gave birth to a baby boy on board.
        
    </div>



 <div class="on-this-page">
<p>The baby was born on a Stagecoach London-operated route 145 bus in Hedgemans Road, Dagenham at about 18:50.&nbsp; </p>
<p>Driver Keith Emmery was on his last run of the day when the woman, who was sitting in a seat at the back of the bus, went into labour.&nbsp; </p>
<p>He was alerted to the woman's plight by the wife of another Stagecoach London bus driver, Sharon Eve, who was a passenger on the bus at the time.&nbsp; </p>
<p>He pulled over into the next stop, called for emergency help and ushered the 20 passengers off the bus. </p>
<p>Mr Emmery, who has been driving buses for 25 years, said: 'It really took me by surprise, it all happened so quickly.&nbsp; </p>
<p>'It was all very calm and was quite exciting in a way.&nbsp; </p>
<p>'The lady who delivered the baby, Mrs Eve, deserves all the credit.&nbsp; </p>
<p>'She did an amazing job.&nbsp; </p>

<h2>Born on board</h2>
<p>'I made the call at 18:35 and the baby was born at around 18:50.&nbsp; </p>
<p>'We wrapped the baby in a cardigan, he was quite tiny.&nbsp; </p>
<p>'They're all calling me 'baby man' at work now.&nbsp; </p>
<p>'I'm waiting for my little granddaughter to be born this week too I think we must have started off a baby boom.'</p>
<p>Mr Emmery said the woman had told him the baby was a week overdue.&nbsp; </p>
<p>The ambulance arrived a couple of minutes after the baby was born and transported the mother and baby to a local hospital.&nbsp; </p>
<p>It is only the second time a baby has been born on a bus in London.&nbsp; </p>
<p>In October 2009, Emiloju Fatimah Lawal gave birth to a baby boy on a route 394 bus in Hackney.</p>
<p>Transport for London's Managing Director of Surface Transport, Leon Daniels, said: 'We would like to extend our congratulations to the mother and her family on the birth of their baby.&nbsp; </p>
<p>'It's not every day a woman gives birth on a London bus, but she was in great hands by all accounts.&nbsp; </p>
<p>'Mr Emmery and Mrs Eve both did an outstanding job of helping deliver this new arrival.'</p>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "The baby was born on a Stagecoach London-operated route 145 bus in Hedgemans Road, Dagenham at about 18:50.&nbsp; Driver Keith Emmery was on his last run of the day when the woman, who was sitting in a seat at the back of the bus, went into labour.&nbsp;";}
        
        


 