


@{ViewBag.Title = "After one year in the saddle, the Mayor's Cycle Task Force celebrates safety and security successes ";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>After one year in the saddle, the Mayor's Cycle Task Force celebrates safety and security successes </h1>
        <div class="content-page-press-release">
        21 July 2011
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        London's team of police officers on bikes have already pedalled their way to over 200 arrests, and cycle security marked over 12,000 bicycles as they celebrate their first anniversary this summer.
        
    </div>



<div class="pull-quote">
        <div class="quote-body">"These guys are out there day in, day out, working for cycling and for cyclists in London, preventing and solving cycle crime"</div>
        <div class="quote-footer">
            <div class="quotee-name">Charlotte Barnes</div>
            <div class="quotee-job-title">victim of cycle crime</div>
        </div>
</div>

 <div class="on-this-page">
<div class="pullquote right">
<p>
These guys are out there day in, day out, working for cycling and for cyclists in London, preventing and solving cycle crime
</p>
</div>
<p>The 30-strong, Transport for London (TfL) funded  Metropolitan Police Cycle Task Force hit the Capital's streets in June 2010, investigating and tackling cycle theft and criminal damage to bicycles. </p>
<p>Of the 200 arrests made by the Cycle Task Force in their first year, 175 have been for offences related to theft, with 74 per cent of those resulting in a positive outcome. </p>
<p>The Cycle Task Force is part of the Mayor's Cycling Revolution, whereby the Mayor and TfL have worked closely with the police to drive down theft and make cycling safer and more secure. </p>
<h2>Various tactics</h2>
<p>In the 12 months since the Cycle Task Force launched, the Capital has seen a three per cent reduction in the number of bikes stolen in London, compared to the previous 12 months. </p>
<p>Cycle Task Force officers use various tactics to deter cycle crime in London. </p>
<p>They gather valuable intelligence on suspected cycle theft-related cases, conduct high-visibility patrols and advise cyclists on issues such as security, safety and how to protectively mark their bikes. </p>
<p>In September 2010, 10 additional traffic officers who hold advanced driving and riding qualifications became part of the Cycle Task Force. </p>
<h2>Better understanding</h2>
<p>These officers focus on road user behaviour and breaches of traffic regulations, including cyclists who go through red lights and motorists who encroach past advanced stop lines (ASLs) which are reserved for cyclists.</p>
<p>As part of their efforts to raise awareness of safety issues involving cyclists, the Cycle Task Force have also engaged with over 6,000 people through 'Exchanging Places' events. </p>
<p>These events allow people to sit in the driver's seat of an HGV (heavy goods vehicle) or bus to get a better understanding of what the driver can and can't see, especially in regards to cyclists on the nearside and directly in front of the vehicle. </p>
<p>During a recent Cycle Task Force investigation, officers returned eight stolen bikes to their rightful owner after the bikes were spotted for sale online. </p>
<h2>Search warrant</h2>
<p>The Cycle Task Force officers collaborated with Ealing's MPS burglary squad after a report from the victim that her unique bikes, which had been stolen during a burglary, where listed on an auction site. </p>
<p>The Cycle Task Force made enquiries with the website and as a result carried out a search warrant at a house in Sutton in March this year. A total of 14 bikes were found at the location, including the eight stolen during the burglary. </p>
<p>The victim, Charlotte Barnes, said: 'We are profoundly grateful to the Metropolitan Police Service... My biggest vote of thanks though, goes out to the fabulous members of the Cycle Task Force. These guys are out there day in, day out, working for cycling and for cyclists in London, preventing and solving cycle crime.'</p>
<p>In addition to the successful introduction of the Cycle Task Force, TfL has also been working with road safety and cycling organisations and the freight industry to develop and deliver a Cycle Safety Action Plan. </p>
<h2>Range of actions</h2>
<p>The safety of London's cyclists is a key priority for the Mayor and TfL and they are committed to making cycling in London as safe as possible. </p>
<p>The Cycle Safety Action Plan sets out a range of actions to improve cycle safety in London. </p>
<p>One initiative is to work with the freight industry to identify the most appropriate cycle safety devices for a variety of heavy goods vehicles (HGVs). </p>
<p>TfL has completed a technology trial with products designed specifically to alert HGV drivers to the presence of cyclists in close proximity of their vehicles. </p>
<h2>Discounts offered</h2>
<p>The final report documenting the results of the trial will be published later this summer, and is intended to be used as a guide for freight operators when selecting safety devices. </p>
<p>TfL offers discounts for Freight Operator Recognition Scheme (FORS) members for various technology devices including side-scan sensors and close proximity camera systems.</p>
<p>Kulveer Ranger, the Mayor of London's Director for Environment, said: 'Our Cycle Task Force has made a real impact and I'm delighted with the progress they've made in tackling bike thefts and road safety so far. </p>
<p>'They are playing a key part in the cycle revolution the Mayor is bringing to the Capital and I believe their efforts will give even more Londoners the confidence to take to two wheels.' </p>
<h2>Bike marking</h2>
<p>Cycle Task Force Chief Inspector Ian Vincent said: 'Since the introduction of the Cycle Task Force, London has seen a reduction in bike thefts and an increased awareness of cycle safety and security. </p>
<p>'However, we are not complacent and we will continue to create an environment where all cyclists and potential cyclists feel safe and secure to enjoy cycling in the Capital.'</p>
<p>Siwan Hayward, Deputy Director of Community Safety, Enforcement and Policing at TfL, said: 'The hard work by the MPS Cycle Task Force unit over the past year shows that TfL, the Metropolitan Police and the Mayor take cycle theft seriously, and will continue to make cycle safety and security a priority as numbers continue to grow in the Capital.'</p>
<p>The MPS have recently selected BikeRegister as the preferred cycle register and bike marking product for London. BikeRegister, run by Selectamark will now supply police officers and local councils in London's 32 boroughs with its bike marking kits and secure online registration service - <a href="http://www.bikeregister.com">www.bikeregister.com</a>. </p>
<h3>The three Rs:</h3>
<p>There are three simple steps that all cyclists should take so that if their bike is stolen they stand a good chance of being reunited with it:</p>
<h3>Record </h3>
<ul>
    <li>Keep a record for yourself of the frame number, make and any other marks that can identify your bike if it is stolen. The Cycle Taskforce run a number of bike marking events.</li>
</ul>
<h3>Register </h3>
<ul>
    <li>There are a number of websites where cyclists can register the details of their bikes and any distinguishing features/ frame numbers etc. The MPS have recently selected BikeRegister as the preferred cycle online registration service - <a href="http://www.bikeregister.com">www.bikeregister.com</a></li>
</ul>
<h3>Report</h3>
<ul>
    <li>If your bike is stolen then please make sure that you report it to the police. Bike theft is a significantly under reported crime. Reporting the theft will enable us to check databases and contact the owner once the bike is recovered.</li>
</ul>
<p>As part of the continuing campaign against cycle theft, TfL and the MPS Safer Transport Command have produced a video that advises cyclists on how to protect their bike, available from the TfL and MPS YouTube pages. </p>
<p>You can also find the 'Exchanging Places' video on the MPS YouTube page, which raises awareness of the dangers of collisions between cyclists and large vehicles.</p>
<p>
</p>
<hr />
<p>
</p>
<p><strong>Notes to editors:</strong></p>
<ul>
    <li>The Cycle Task Force is funded by TfL and forms part of the MPS's Safer Transport Command team </li>
    <li>The Cycle Task Force team work alongside the 32 local borough Safer Transport and Safer Neighbourhoods teams, who also run sessions on bike safety, marking and registration and give London's cyclists advice on how to lock up their bikes securely in order to deter cycle theft </li>
    <li>Between June 2010 and May 2011 there were 22,536 bikes reported as stolen in the Capital; with 23,245 reported stolen between June 2009 and May 2010 </li>
    <li>The MPS Safer Transport Command fights crime on buses, tackles illegal taxi touts and assists with the control of traffic congestion. There are now around 2,000 uniformed officers in the unit, which is part funded by TfL </li>
    <li>Members of the public can contact the team by emailing <a href="mailto:CycleTaskForce&#64;met.police.uk">CycleTaskForce&#64;met.police.uk</a> </li>
    <li>The Cycle Safety Action Plan is now published on <a href="/corporate/projectsandschemes/15480.aspx">TfL's website</a> </li>
    <li>Additionally, The Mayor and TfL's Cycle Security Plan is also available on the <a href="/corporate/projectsandschemes/15704.aspx">TfL website</a></li>
    <li>The Mayor and TfL are investing &pound;116m in cycling in 2010/11. That money is being spent on improving safety for cyclists, Barclays Cycle Hire, Barclays Cycle Superhighways, infrastructure, promotion and education<br /></li>
</ul>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "The 30-strong, Transport for London (TfL) funded&nbsp; Metropolitan Police Cycle Task Force hit the Capital's streets in June 2010, investigating and tackling cycle theft and criminal damage to bicycles. Of the 200 arrests made by the Cycle Task Force in";}
        
        


 