


@{ViewBag.Title = "Congestion on key London road to be cut as part of Mayor's clampdown on roadworks";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>Congestion on key London road to be cut as part of Mayor's clampdown on roadworks</h1>
        <div class="content-page-press-release">
        15 July 2011
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        Disruption at Henlys Corner on the A406 North Circular to be cut by up to 45 per cent during peak hours.
        
    </div>



 <div class="on-this-page">
<p>The 94,000 drivers who use Henlys Corner junction on the A406 North Circular road each day, and thousands of residents in the surrounding area, should see less disruption from ongoing roadworks in the area when Transport for London (TfL) introduces a new way of working designed to cut congestion at the junction by 45 per cent during peak hours.</p>
<p>Major works have been being carried out at this busy junction of the North Circular, the A1 and the A598 since May. </p>
<p>The purpose of the scheme is to dramatically improve traffic flow and journey times, however, the roadworks to construct it have caused significant traffic disruption at peak hours since they started.<br>&nbsp; <br>Concerns about the disruption have been raised by Barnet residents and councillors; in response, TfL has been working with its contractor, Tarmac, to review the operating hours of the works and investigate how traffic flows could be improved.</p>
<p>From 16 July a new approach will be taken to management of the roadworks, with two lanes north and south on the A598 Finchley Road/Regent's Park Road remaining open during peak hours (06:00-10:00 and 15:00-21:00), making it easier for local residents to cross the A406. </p>
<p>From 23 July, three lanes on the A406 will remain open during the same peak periods, smoothing the flow of traffic across the busy junction. </p>
<p>Outside of peak traffic hours the A598 will remain at one lane and the A406 at two lanes. </p>
<p>As a result of this TfL projects congestion and delay will reduce by 45 per cent during peak periods. </p>
<p>London's Deputy Mayor for Transport, Isabel Dedring, said: 'Londoners rightly expect the Mayor to do everything in his power to make their journeys as painless as possible. </p>
<p>'We hope this better way of working at Henlys Corner will improve journeys for thousands of drivers using the North Circular, as well as make it much easier for local residents to get across the road. </p>
<p>'There have clearly been problems in the area, and improving the way we work to reduce congestion is exactly the approach the Mayor wants TfL to take. </p>
<p>'We are very aware of the impact roadworks continue to have on Londoners and are looking urgently at a range of measures to reduce disruption further for the Capital's road users.'</p>
<p>Garrett Emmerson, Chief Operating Officer, TfL London Streets, said: 'The works at Henlys Corner will bring huge benefits to all road users along the A406 North Circular Road, but while we carry them out it is essential that every effort be made to reduce disruption and make life easier for local residents. </p>
<p>'This new way of working at the junction will do just that - reducing congestion at peak times by an expected 45 per cent. </p>
<p>'We are working with the new Deputy Mayor for Transport to review road works on a regular basis - pinpointing where improvements can be made, and bearing down on disruption wherever possible.'</p>
<p>In order to allow these changes to take place, Tarmac will be carrying out overnight resurfacing works on the A406 from 16-23 July between 23:00 and 05:00.</p>
<p>All efforts will be made to keep the noisy works to a minimum during the night time operating hours. </p>
<p>The changes to working practices have also meant that the completion date for the scheme is now scheduled for November 2011.</p>
<p>The improved way of working at Henlys Corner is part of a wider effort to tackle congestion and delay on the Capital's roads. </p>
<p>London's Deputy Mayor for Transport, Isabel Dedring, is now leading a renewed effort to address the problem, working with top TfL officials to pinpoint problematic road works and find imaginative ways to lessen delays.&nbsp; </p>
<p>Work is under way to improve the information available to London's roads users about works taking place and a range of measures are being pursued to smooth traffic, including:</p>
<ul>
<li>Introducing a lane rental scheme, so that utilities and other companies are incentivised to carry out roadworks during the less busy periods of the day through being charged according to amount of time they work during busier times. Department for Transport will undertake consultation for new lane rental regulations later this summer, which, if approved, will allow the Mayor and TfL to apply to have the country's first lane rental scheme up and running during the first half of 2012</li>
<li>Building on the code of conduct for roadworks - created by the Mayor - and working to sign more boroughs up to the London roadworks permit scheme. These are already improving the management and coordination of works, with utility companies now sharing lane closures and working at the same time to avoid stretches of road being repeatedly dug up</li>
<li>Reviewing the timings of 1,000 sets of traffic signals each year, and working with the boroughs to identify sites where they can be removed if they serve no purpose</li>
<li>Installing advanced computer technology at traffic signals that allows the lights to adjust their timings to best suit the flow of traffic</li>
<li>Examining innovative engineering techniques which could see utilities use temporary road surfacing methods and fast-setting replacement road surfaces - allow roads to re-open more quickly when works have been carried out </li></ul>
<p>
<hr>
</p>
<p><strong>Notes to editors:&nbsp;</strong></p>
<ul>
<li>The Mayor of London and TfL are committed to reducing congestion in London. Roadworks account for a third of the Capital's most serious and severe traffic delay and can cost the economy almost &pound;1b a year. Therefore it is essential that adequate and innovative steps are taken to help reduce the levels of congestion</li>
<li>TfL has full operational responsibility for the TfL Road Network (TLRN) - the Capital's red routes -&nbsp;which makes up around five per cent (580km) of London's total road length but carry&nbsp;more than 30 per cent of London's traffic and account for up to 40 per cent of the total economic value of traffic movement across the city</li>
<li>London has around 20 per cent of the UK's traffic congestion, which analysis by TfL shows can cost the UK economy at least &pound;2bn a year. Three-quarters of this congestion is on either the TLRN or the Borough Principal Road Network (BPRN). No less than 15 per cent of the UK's traffic congestion is therefore concentrated on less than 0.5 per cent of the country's 400,000km of roads</li>
<li>Residents in the area around Henlys Corner can contact TfL Customer Services on 0845 305 1234 or go to <a href="http://www.tfl.gov.uk/contact">tfl.gov.uk/contact</a>&nbsp; or visit the <a href="http://www.tfl.gov.uk/henlyscorner">TfL website </a>for further information</li>
<li>Alternatively the contractor, Tarmac, can be contacted on 0800 756 1406</li></ul>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "The 94,000 drivers who use Henlys Corner junction on the A406 North Circular road each day, and thousands of residents in the surrounding area, should see less disruption from ongoing roadworks in the area when Transport for London (TfL) introduces a new";}
        
        


 