


@{ViewBag.Title = "Dial-a-Ride completes record number of trips";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>Dial-a-Ride completes record number of trips</h1>
        <div class="content-page-press-release">
        21 July 2011
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        Dial-a-Ride has provided more trips in the past year than any other year since the service began in the 1980s.
        
    </div>



<div class="pull-quote">
        <div class="quote-body">"We know from members' feedback that the service is very much appreciated and independent surveys record high overall customer satisfaction. Last year 91 out of 100 people said they were satisfied with our service."</div>
        <div class="quote-footer">
            <div class="quotee-name">Paul Blackwell</div>
            <div class="quotee-job-title">Dial-a-Ride General Manager</div>
        </div>
</div>

 <div class="on-this-page">
<div class="pullquote right">
                        <p>
                            We know from members' feedback that the service is very much appreciated and independent surveys record high overall customer satisfaction. Last year 91 out of 100 people said they were satisfied with our service.
                            
                        </p>
                    </div>
                
            
            
            <p>Dial-a-Ride is a multi-passenger door-to-door service for people with long term or permanent disabilities and is free to its 49,066 members.&nbsp; </p>
<p>Last year the service provided 1,345,152 trips, a 7.2 per cent increase on the previous year with 90,000 more journeys.&nbsp; </p>
<p>Paul Blackwell, Dial-a-Ride General Manager, said: 'We fully appreciate how much of a lifeline this service is for many of our members.&nbsp;That's why we have worked extremely hard over the last few years to modernise and improve it.&nbsp; </p>
<p>'We know from members' feedback that the service is very much appreciated and independent surveys record high overall customer satisfaction. Last year 91 out of 100 people said they were satisfied with our service.&nbsp; </p>
<p>We will continue to deliver improvements to the service and ensure we maintain the high standards we have set ourselves.'</p>
<p>Dial-a-Ride provides a door-to-door service for people with a permanent or long term disability.&nbsp;</p>
<p>Many members are unable to access mainstream public transport and rely heavily on the service.&nbsp;</p>
<p>People must register to use the service: They can then book trips to go shopping, visit family and friends or for other recreational trips such as the theatre.&nbsp; </p>
<p>The service is free to members and is ideal for trips of five miles or less.</p>
<p>Companions, carers and children can travel with members and drivers are specially trained to help passengers and will even take members shopping to their front door.</p>
<p>Dial-a-Ride has a fleet of 370 vehicles, including more than 160 new state of the art low floor minibuses with a further 48 expected this year.&nbsp;</p>
<p>These buses feature tip and fold seats which allow wheelchair users to manoeuvre around the vehicle much more easily.&nbsp;</p>
<p>They also provide greater flexibility to allow for individual passengers' needs.&nbsp; </p>
<p>In addition, Dial-a-Ride also offers a Travel Mentoring Service for disabled people who want to use mainstream public transport.&nbsp;</p>
<p>The service provides a mentor to help them gain knowledge and confidence on the transport system and become an independent traveller.</p>
<p>
<hr>
<strong>Notes to editors</strong></p>
<ul>
<li>Londoners can obtain more information or register to use Dial-a-Ride by visiting the TfL website on <a href="http://www.tfl.gov.uk/dialaride">tfl.gov.uk/dialaride</a> or by phone on 0845 999 1 999</li>
<li>Statistics for Dial-a-Ride membership and journeys for individual boroughs are available on request</li>
<li>Images of Dial-a-Ride vehicles are also available on request</li></ul>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "Dial-a-Ride is a multi-passenger door-to-door service for people with long term or permanent disabilities and is free to its 49,066 members.&nbsp; Last year the service provided 1,345,152 trips, a 7.2 per cent increase on the previous year with 90,000";}
        
        


 