


@{ViewBag.Title = "Firms race to get 2012 Games travel plans in place";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>Firms race to get 2012 Games travel plans in place</h1>
        <div class="content-page-press-release">
        26 July 2011
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        Bankers, lawyers and retailers sign up to more 2012 Games travel advice than other sectors and industries.
        
    </div>



<div class="pull-quote">
        <div class="quote-body">"We've looking forward to taking advantage of the one-on-one sessions in order to feel more prepared for the Games"</div>
        <div class="quote-footer">
            <div class="quotee-name">Hamleys</div>
            <div class="quotee-job-title">Andrew Evenden</div>
        </div>
</div>

 <div class="on-this-page">
<div class="pullquote right">
                        <p>
                            We've looking forward to taking advantage of the one-on-one sessions in order to feel more prepared for the Games
                            
                        </p>
                    </div>
                
            
            
            <p>Firms representing more than 370,000 employees are already receiving free one-to-one travel advice from London 2012 and Transport for London (TfL) - a 100 per cent increase in the past six weeks. </p>
<p>Firms are being urged to put day three in their diaries - the first Monday of the Games and one of the busiest for businesses.</p>
<p>
<hr>

<p>
<p>Bankers, lawyers and retailers are leading the charge when it comes to preparing for the transport challenges posed by the 2012 Games, according to new figures from London 2012 and TfL.&nbsp; </p>
<p>Employers are being urged to follow their lead by putting travel plans in place ahead of the 2012 Olympic and Paralympic Games.</p>
<p>Sixty-one firms in the banking and finance sectors, which represent more than 180,000 employees, have signed up for free travel advice from dedicated London 2012 travel advisors, followed by 28 law firms (representing more than 28,000 employees) and 13 retailers (more than 20,000 employees).&nbsp; </p>
<p>Nine management consultants have also followed suit, representing more than 29,000 employees alone.</p>
<p>However, with only one firm currently signed up in sectors including charities, manufacturing and telecoms, organisations in the third sector and across business are being urged to access the specialist support available and prepare for the Games.</p>
<p>In total, more than 200 firms across London, which account for more than 370,000 employees, have signed up for the travel advice sessions.&nbsp; </p>
<p>In the last six weeks alone, there has been a 100 per cent increase in sign-ups as firms begin to ramp up their preparations ahead of the Games.</p>
<p>The Site-Specific Advice (SSA) programme is available to firms located in an area affected by the Games and that employ more than 200 staff.&nbsp; </p>
<p>The free one-to-one travel advice sessions help organisations plan for next summer, when increased demand caused by the Games will see transport networks severely affected and much busier than usual.&nbsp; </p>
<h2>Planning ahead</h2>
<p>Run by London 2012 and TfL, the sessions cover:</p>
<ul>
<li>Optimising deliveries, servicing and freight </li>
<li>Planning staff business travel during busy periods </li>
<li>Forecasting customer and visitor movements during the Games </li>
<li>Tips to help firms maintain service continuity </li>
<li>Sharing best practice: assessing what firms are already doing</li></ul>
<p>Businesses of all sizes who wish to sign up for the free travel advice simply need to email <a href="mailto:keeponrunning&#64;london2012.com">keeponrunning&#64;london2012.com</a> or visit <a href="http://www.london2012.com/traveladviceforbusiness">www.london2012.com/traveladviceforbusiness</a> for more information and advice.</p>
<p>'Day three of the Olympics is one of the most important days for employers,' said Mark Evers, Director of Games Transport at TfL.</p>
<p>'It's the first Monday of the Games, when employers and employees will feel the effects of the increased demand on the transport network.&nbsp; </p>
<p>'That's why we're urging firms to access the free support on offer like Site Specific Advice.&nbsp; </p>
<p>'This will help them plan ahead, keep running smoothly and take advantage of the excellent business opportunities the Games will bring.'</p>
<p>The SSA sessions form part of a free 'travel advice for business' support package to help British businesses run smoothly in the run up to, and during, the 2012 Olympic and Paralympic Games.&nbsp; </p>
<p>In addition to SSA, the package consists of 50 travel advice workshops for small and medium sized enterprises (SMEs).&nbsp; </p>
<h2>Sign up now</h2>
<p>Furthermore, more than 100 one-to-one sessions are available for multi-site businesses, which include retail outlets and restaurant chains.</p>
<p>Andrew Evenden from Hamleys, which signed up for free SSA sessions in July, said: 'We employ 300 people in the Capital and although the Games will offer us some great opportunities, we need to plan for any impact on transport that could work against us.&nbsp; </p>
<p>'After signing up for Site Specific Advice we're looking forward to taking advantage of the one-on-one sessions in order to feel more prepared for the Games.&nbsp; </p>
<p>'Our main aim now is to develop a comprehensive action plan to enhance the experience of our customers and maximise every 2012 opportunity.'</p>
<p>Hugh Sumner, Director of Transport for the Olympic Delivery Authority, said: 'We have seen strong interest in Site Specific Advice from London's big business community, which bodes well for their ability to cope with the impact on day three and through the Games.&nbsp; </p>
<p>'The banking and finance sector has been especially responsive.&nbsp; </p>
<p>'With just a year to go until the Games, I urge all businesses, big and small, to visit the <a href="http://www.london2012.com">www.london2012.com</a> website, see if they're affected and plan ahead to keep on running during the summer of 2012.'</p>
<p>
<hr>

<p>
<p><strong>Notes to editors:</strong></p>
<p>SSA - If a business is in an affected area and has more than 200 staff located at one site, it may be eligible for free assistance from a dedicated 2012 travel advisor.</p>
<p>For further information, please email <a href="mailto:keeponrunning&#64;london2012.com">keeponrunning&#64;london2012.com</a> with contact details, the organisation's address and number of staff employed at the organisation.</p>
<p>SSA registrations: The table below outlines the number of businesses and employees that have registered for SSA, split by business sector. </p>
<p>
<div class="table-container"><table cellspacing="1" cellpadding="1" width="100%" border="1">
<tbody>
<tr>
<td>&nbsp;<strong>Sector</strong></td>
<td><strong>&nbsp;No. of employees</strong></td>
<td><strong>&nbsp;No. of companies</strong></td></tr>
<tr>
<td>&nbsp;Banking and finance</td>
<td>&nbsp;184,340</td>
<td>&nbsp;65</td></tr>
<tr>
<td>&nbsp;Management consultants</td>
<td>&nbsp;29,720</td>
<td>&nbsp;9</td></tr>
<tr>
<td>&nbsp;Law</td>
<td>&nbsp;29,240</td>
<td>&nbsp;29</td></tr>
<tr>
<td>&nbsp;Health</td>
<td>&nbsp;26,100</td>
<td>&nbsp;6</td></tr>
<tr>
<td>&nbsp;Media and broadcast</td>
<td>&nbsp;25,605</td>
<td>&nbsp;14</td></tr>
<tr>
<td>&nbsp;Retail</td>
<td>&nbsp;20,161</td>
<td>&nbsp;13</td></tr>
<tr>
<td>&nbsp;Education</td>
<td>&nbsp;14,000</td>
<td>&nbsp;6</td></tr>
<tr>
<td>&nbsp;Commodities</td>
<td>&nbsp;9,180</td>
<td>&nbsp;6</td></tr>
<tr>
<td>&nbsp;Misc (multi-tenanted businesses in one location)</td>
<td>&nbsp;5,090</td>
<td>&nbsp;6</td></tr>
<tr>
<td>&nbsp;Telecommunication</td>
<td>&nbsp;3,000</td>
<td>&nbsp;1</td></tr>
<tr>
<td>&nbsp;Entertainment and leisure</td>
<td>&nbsp;3,680</td>
<td>&nbsp;7</td></tr>
<tr>
<td>&nbsp;Hotel</td>
<td>&nbsp;2,670</td>
<td>&nbsp;5</td></tr>
<tr>
<td>&nbsp;IT</td>
<td>&nbsp;2,600</td>
<td>&nbsp;2</td></tr>
<tr>
<td>&nbsp;Transport</td>
<td>&nbsp;2,470</td>
<td>&nbsp;5</td></tr>
<tr>
<td>&nbsp;Recruitment</td>
<td>&nbsp;1,000</td>
<td>&nbsp;1</td></tr>
<tr>
<td>&nbsp;Real estate investment</td>
<td>&nbsp;700</td>
<td>&nbsp;2</td></tr>
<tr>
<td>&nbsp;Research</td>
<td>&nbsp;650</td>
<td>&nbsp;1</td></tr>
<tr>
<td>&nbsp;Managed services</td>
<td>&nbsp;590</td>
<td>&nbsp;2</td></tr>
<tr>
<td>&nbsp;Manufacturing</td>
<td>&nbsp;400</td>
<td>&nbsp;1</td></tr>
<tr>
<td>&nbsp;Charity</td>
<td>&nbsp;200</td>
<td>&nbsp;1</td></tr></tbody></table></div></p>
<p>With a year to go, London 2012 and TfL are committed to making sure that all businesses in London are prepared for the impact that the Games will have on the Capital and make the most of all the opportunities on offer.</p>
<p>As a result of the Games, London 2012 and TfL expect the transport network in London and around venues across the country to be severely affected and much busier than usual, which could affect employees, customers, contractors, visitors and suppliers for up to six weeks.</p>
<p>London 2012 and TfL are therefore offering free travel advice to businesses to ensure their staff, customers and suppliers can get around and they can make and receive important deliveries during the Games.&nbsp; As part of this advice they are asking businesses to consider ways which will help reduce their overall need to travel including:</p>
<ul>
<li>Staggering the start and finish times of working days </li>
<li>Providing the facilities for staff to work from home </li>
<li>Stocking up on non-perishable materials well before the Games </li>
<li>Arranging earlier or later deliveries </li>
<li>Managing annual leave </li>
<li>Temporarily relocating employees or altering their working hours </li>
<li>Helping staff re-plan their travel </li>
<li>Using conference/video/web calls </li>
<li>Encouraging and enabling staff to cycle and walk</li></ul>
<p>More detailed information is being prepared for release to businesses during 2011, including:</p>
<ul>
<li>Updated forecasts of the impact on public transport, giving more detail on the times and range of effects on particular services, for each day of the Games </li>
<li>Updated advice on likely effects on the highway network, and the resultant impacts on road users, incorporating the latest planning of the Olympic Route Network, crowd and traffic-management measures in central London and planned traffic management around venues </li>
<li>The further effects on highways of road events, on those days for which they are scheduled</li></ul>
<p>It is planned to release this information in Autumn 2011. </p>
<p>The content and format of information released is currently in development in conjunction with business stakeholders.</p>
<p>For more information contact TfL's Press Office on 0845 604 4141.</p>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "Firms representing more than 370,000 employees are already receiving free one-to-one travel advice from London 2012 and Transport for London (TfL) - a 100 per cent increase in the past six weeks. Firms are being urged to put day three in their diaries -";}
        
        


 