


@{ViewBag.Title = "Fruit and veg sprout up all over the Tube ";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>Fruit and veg sprout up all over the Tube </h1>
        <div class="content-page-press-release">
        28 July 2011
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        London Underground staff have been battling it out to grow the best and most succulent fruit and vegetables at stations across the Tube system.
        
    </div>



<div class="pull-quote">
        <div class="quote-body">"It is fantastic that these talented London Underground staff have created these horticultural delights bursting with flowers, fruit and veg and all done by volunteering in their spare time."</div>
        <div class="quote-footer">
            <div class="quotee-name">Boris Johnson</div>
            <div class="quotee-job-title">Mayor of London</div>
        </div>
</div>

 <div class="on-this-page">
<div class="pullquote right">
                        <p>
                            It is fantastic that these talented London Underground staff have created these horticultural delights bursting with flowers, fruit and veg and all done by volunteering in their spare time. 
                            
                        </p>
                    </div>
                
            
            
            <p>As part of this year's annual Underground in Bloom competition employees have been tending corn on the cob at Northolt, runner beans at Greenford and strawberries at Hampstead - with all this green-fingered work done in their own time. </p>
<p>Entries for the fruit and veg category - which was launched last year as part of the Mayor's Capital Growth programme to encourage organisations and communities to grow their own produce - have doubled this summer. Beetroot, carrots, tomatoes, broad beans, cucumbers, chillies, peanuts and mint are just some of the mouth-watering treats that staff have been nurturing at stations.</p>
<p>As well as cultivating edible produce staff have been adding colour to stations with a variety of flowers and plants for customers to enjoy. </p>
<p>Beautiful blooms have sprung up on platforms at Croxley, near the station exit at North Acton and in a car park at Perivale transforming these busy urban environments into lush oases. </p>
<p>The categories, which include hanging baskets, tubs and best overall garden are currently being judged, with the awards evening taking place on 7 September at City Hall. </p>
<p>Judges will give extra points to 'greener' gardens that use water wisely or recycle. </p>
<p>For example some stations, such as Hampstead, have a wormery bin which provides rich environmentally-friendly liquid fertilizer to help plants grow, while North Acton has used old wooden train sleepers to create flower beds. </p>
<p>Boris Johnson, the Mayor of London, said: 'I want to bring the best of the village into the city and a well-tended local station is a quintessential feature of this vision. </p>

<p>'It is fantastic that these talented London Underground staff have created these horticultural delights bursting with flowers, fruit and veg and all done by volunteering in their spare time. </p>
<p>'I'd like to congratulate everybody who has worked hard to transform these stations, adding a splash of colour to the daily commute of passengers. They are a credit to this city and their efforts will help ensure London is looking amazing when we welcome the world in 2012.'</p>
<p>Howard Collins, Chief Operating Officer for London Underground, said: 'I'm really proud that our staff have spent so much of their own time making our Tube stations brighter places for our customers.&nbsp;</p>

<p>'The effort that has gone into creating these beautiful oases proves just how much London Underground staff care about their customers and colleagues. </p>
<p>'With so many impressive entries I think it's going to be a difficult decision for the judges to choose the winners this year.'</p>
<p>Over 70 stations, depots and service control rooms have entered the competition. </p>
<p>
<hr>
<strong>Editor's notes</strong> 
<p>
<ul>
<li>Capital Growth is a partnership initiative between London Food Link, the Mayor of London Boris Johnson, and the Big Lottery's Local Food Fund. It is championed by the Chair of the London Food Board Rosie Boycott and aims to create 2012 new community food growing spaces across London by the end of 2012.&nbsp;Capital Growth offers practical help, grants, training and support to groups wanting to establish community food growing projects as well as advice to landowners. Capital Growth is also working with large organisations such as Transport for London and British Waterways along with borough food growing programmes such as Edible Islington </li>
<li>&nbsp;The Tube is undergoing a huge and essential programme to upgrade its ageing infrastructure - vital to cope with a growing population and to support the economic development and growth of the capital and the UK. This includes the introduction of new track and signalling and the rebuilding of some of our most important stations. By the end of the current programme there will be 30 per cent&nbsp;more capacity. This will inevitably result in some disruption for passengers, but TfL is working hard to provide information and alternative travel options. The work is essential to provide for London's growing transport needs now, and into the future. TfL is urging all Londoners and Tube, London Overground, London Tramlink and DLR passengers to "check before you travel" at weekends, allowing extra journey time where necessary. Weekend travel news is available at <a href="http://www.tfl.gov.uk">tfl.gov.uk</a> </li>
<li>The stations below have entered the following categories in the 2011 Underground in Bloom competition. </li></ul>
<p><strong>Jubilee line</strong> <br>1.&nbsp;Neasden - Best newcomer, Fruit and Veg, Hanging Baskets, Tubs<br>2.&nbsp;Willesden Green - Cultivated Garden<br>3.&nbsp;Dollis Hill -&nbsp; Tubs&nbsp; <br>4.&nbsp;St. John's Wood - Cultivated Garden<br>5.&nbsp;Kilburn - Best Newcomer, Fruit and Veg, Tubs <br>6.&nbsp;West Hampstead - Best Newcomer, Tubs</p>
<p><strong>Northern line</strong> <br>7.&nbsp;Finchley Central - Cultivated Garden, Tubs<br>8.&nbsp;West Finchley - Best Newcomer<br>9.&nbsp;East Finchley - Tubs<br>10.&nbsp;Highgate - Hanging baskets<br>11.&nbsp;Colindale - Cultivated Garden<br>12.&nbsp;Totteridge &amp; Whetstone - Hanging Baskets<br>13.&nbsp;High Barnet - Cultivated Garden, Hanging Baskets, Tubs<br>14.&nbsp;Mill Hill East - Best Newcomer, Hanging Baskets<br>15.&nbsp;Brent Cross - Cultivated Garden, Fruit and Veg<br>16.&nbsp;Hendon Central - Cultivated Garden<br>17.&nbsp;Hampstead - Fruit and Veg<br>18.&nbsp;Old Street - Best Newcomer, Fruit and Veg<br>19.&nbsp;Golders Green - Best Newcomer, Hanging Baskets, Tubs<br>20.&nbsp;Clapham North - Hanging Baskets</p>
<p><strong>Piccadilly line<br></strong>21.&nbsp;Cockfosters - Hanging baskets, Tubs<br>22.&nbsp;Arnos Grove depot - Best Newcomer, Fruit and Veg, Hanging Basket, Tubs<br>23.&nbsp;Sudbury Town - Cultivated Garden<br>24.&nbsp;Northfields - Cultivated Garden, Tubs<br>25.&nbsp;Acton Town - Cultivated Garden, Tubs</p>
<p><strong>District line</strong>&nbsp; <br>26.&nbsp;Southfields - Cultivated Garden, Hanging Baskets, Tubs<br>27.&nbsp;Putney Bridge - Fruit and Veg, Tubs<br>28.&nbsp;East Putney - Hanging Baskets, Tubs<br>29.&nbsp;Wimbledon Park - Hanging Baskets<br>30.&nbsp;West Brompton - Cultivated Garden, Tubs<br>31.&nbsp;Parsons Green - Hanging Baskets, Tubs<br>32.&nbsp;West Kensington - Cultivated Garden<br>33.&nbsp;Bromley-by-Bow - Hanging Baskets, Tubs<br>34.&nbsp;Barking - Hanging Baskets, Tubs</p>
<p><strong>Metropolitan line <br></strong>35.&nbsp;Croxley - Hanging Baskets<br>36.&nbsp;Watford - Fruit and Veg<br>37.&nbsp;Rickmansworth - Tubs <br>38.&nbsp;West Harrow - Best Newcomer<br>39.&nbsp;Northwood Hills - Cultivated Garden<br>40.&nbsp;Preston Road - Cultivated Garden, Tubs</p>
<p><strong>Circle &amp; Hammersmith lines <br></strong>41.&nbsp;South Kensington - Hanging Baskets, Tubs<br>42.&nbsp;Edgware Road - Tubs<br>43.&nbsp;Goldhawk Road - Cultivated Garden, Fruit and Veg, Hanging Baskets, Tubs<br>44.&nbsp;Bayswater - Hanging Baskets, Tubs</p>
<p><strong>Bakerloo line <br></strong>45.&nbsp;Maida Vale - Cultivated Garden, Hanging Baskets, Tubs<br>46.&nbsp;Marylebone - Hanging Baskets, Tubs<br>47.&nbsp;Warwick Avenue - Best Newcomer, Fruit and Veg, Tubs<br>48.&nbsp;Elephant and Castle - Best Newcomer, Tubs</p>
<p><strong>Central line</strong> <br>49.&nbsp;Newbury Park - Hanging Baskets, Tubs<br>50.&nbsp;Theydon Bois - Cultivated Garden <br>51.&nbsp;Chigwell - Best Newcomer, Hanging Basket, Tubs<br>52.&nbsp;Roding Valley - Cultivated Garden, Tubs<br>53.&nbsp;Greenford - Fruit and Veg, Hanging Baskets, Tubs<br>54.&nbsp;Northolt - Cultivated Garden, Fruit and Veg, Hanging Baskets, Tubs<br>55.&nbsp;Perivale - Hanging Baskets, Tubs<br>56.&nbsp;East Acton - Cultivated Garden, Hanging Baskets, Tubs<br>57.&nbsp;North Acton - Cultivated Garden, Fruit and Veg, Hanging Baskets, Tubs<br>58.&nbsp;Leytonstone - Best Newcomer</p>
<p><strong>Victoria line <br></strong>59.&nbsp;Tottenham Hale - Fruit and Veg, Tubs<br>60.&nbsp;Seven Sisters Depot - Cultivated Garden, Fruit and Veg, Tubs</p>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "As part of this year's annual Underground in Bloom competition employees have been tending corn on the cob at Northolt, runner beans at Greenford and strawberries at Hampstead - with all this green-fingered work done in their own time. Entries for the";}
        
        


 