


@{ViewBag.Title = "London Cycle Challenge circles the globe 69 times";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>London Cycle Challenge circles the globe 69 times</h1>
        <div class="content-page-press-release">
        22 July 2011
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        Thousands of cyclists have made this year's London Cycle Challenge the biggest to date.
        
    </div>



<div class="pull-quote">
        <div class="quote-body">"We have definitely enjoyed competing in the Cycle Challenge and we will return next year to defend our title."</div>
        <div class="quote-footer">
            <div class="quotee-name">James Holt</div>
            <div class="quotee-job-title">team leader of eCouriers</div>
        </div>
</div>

 <div class="on-this-page">
<div class="pullquote right">
                        <p>
                            We have definitely enjoyed competing in the Cycle Challenge and we will return next year to defend our title.
                            
                        </p>
                    </div>
                
            
            
            <p>Over 12,500 cyclists entered the London Cycle Challenge this year, forming nearly 900 teams.</p>
<p>The month-long competition was free to enter and encouraged people to make the most of the cycling opportunities in the city for commuting and leisure.</p>
<p>Between 18 June and 15 July participants recorded online all the miles they cycled and saw how they were performing against other teams on the leaderboard.</p>
<h2>Racking up the miles</h2>
<p>Plenty of friendly rivalries were formed and the combined effort of participants was the equivalent of cycling around the globe 69 times.</p>
<p>This year, 59 school teams took part in the Challenge along with 58 NHS teams.</p>
<p>The Mayor of London's Director for Environment, Kulveer Ranger said: 'My congratulations go to the winners but I hope everyone who took to two wheels enjoyed taking part. </p>
<p>'Londoners are tremendously passionate about cycling and the numbers taking part in this superb event are testament to that.'</p>
<p>There were four team categories, with the winners in each scooping hampers of cycling goodies.</p>
<p>This year's champions are:</p>
<p>
<div class="table-container"><table cellspacing="1" cellpadding="1" width="98%" border="1">
<tbody>
<tr>
<td><strong>Category</strong></td>
<td><strong>Winner</strong></td>
<td><strong>Miles cycled</strong></td>
<td><strong>Points</strong></td></tr>
<tr>
<td>2 - 10</td>
<td>eCourier.co.uk</td>
<td>8,868</td>
<td>20,406</td></tr>
<tr>
<td>11 - 50</td>
<td>Barclays Capital Cyclists</td>
<td>15,083</td>
<td>43,079</td></tr>
<tr>
<td>51 - 100</td>
<td>Silly Commuter Racers</td>
<td>3,5476</td>
<td>94,557</td></tr>
<tr>
<td>100+</td>
<td>Metropolitan Police</td>
<td>6,5624</td>
<td>20,5410</td></tr></tbody></table></div></p>
<p>James Holt, team leader of eCouriers, winners in the 2-10 category said: 'We have definitely enjoyed competing in the Cycle Challenge and we will return next year to defend our title.'</p>
<p>'Our prize will be donated to charity to further encourage others, less fortunate to enjoy cycling.'</p>
<h2>Take to the Superhighway</h2>
<p>The London Cycle Challenge is one of the many initiatives coordinated by Transport for London to encourage cycling in the Capital.</p>
<p>As this year's competition comes to a close there is yet another great reason to climb into the saddle with the launch of two more Barclays Cycle Superhighways.</p>
<p>Barclays Cycle Superhighway (CS2) runs from Aldgate to Bow and CS8 runs from Westminster to Wandsworth.</p>
<p>Barclays Cycle Superhighways are a series of cycle routes into central London from outer London which provide cyclists with safer, faster and more direct journeys into the city.</p>

<p>
<hr>
</p>
<p><strong>Notes to editor</strong></p>
<ul>
<li>The London Cycle Challenge had four categories of awards:<br>Best performing Category 1 team (2-10 members)<br>Best performing Category 2 team (11-50 members)<br>Best performing Category 3 team (50-100 members)<br>Best performing Category 4 (101+ members) </li>
<li>The number of cycle journeys made each day have increased by around 150 per cent since 2000 on the Transport for London Road Network (TLRN), which are roads owned and maintained by TfL </li>
<li>Around half a million cycle journeys are now made on London's major roads every day </li>
<li>Barclays Cycle Hire operates across central London. Docking stations and hire bicycles are currently available in Camden, City of London, Hackney, Islington, Lambeth, Kensington &amp; Chelsea, Southwark, Tower Hamlets, Westminster and several of the Royal Parks </li>
<li>The creation of an easy to use cycle hire scheme was a key pledge of the Mayor's manifesto. Barclays Cycle Hire is now transforming the way that people make short trips around central London </li>
<li>There are 12 Barclays Cycle Superhighways planned for the Capital. The first two routes were launched in July 2010, running from Merton to the City via the A24 and A3 (CS7), and Barking to Tower Gateway via the A13 and Cable Street (CS3) </li>
<li>Routes CS2 and CS8 opened this July - CS2 runs from Aldgate to Bow and CS8 runs from Westminster to Wandsworth. The remaining 8 routes will be up and running by the end of 2015 </li>
<li>More information about cycling in London, including cycle training and ordering your free cycle guides, go to <a href="http://www.tfl.gov.uk/cycling">tfl.gov.uk/cycling</a> </li></ul>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "Over 12,500 cyclists entered the London Cycle Challenge this year, forming nearly 900 teams.The month-long competition was free to enter and encouraged people to make the most of the cycling opportunities in the city for commuting and leisure.Between 18";}
        
        


 