


@{ViewBag.Title = "London Underground makes revised multi-year pay offer";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>London Underground makes revised multi-year pay offer</h1>
        <div class="content-page-press-release">
        13 July 2011
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        London Underground (LU) has made a revised five-year pay offer to trade unions which would see staff get a 4.75  per cent pay increase this year, followed by a rise of inflation (RPI) plus 0.25 per cent in the four subsequent years.
        
    </div>



 <div class="on-this-page">
<p>A further guarantee has also been given that LU would not take into account negative RPI, should such a situation occur, so staff would be guaranteed a minimum 0.25 per cent pay increase each year.</p>
<p>The five-year offer was made to all trade unions at this week's meeting of LU's Company Council&nbsp;on Wednesday 13 July.</p>

<p>During previous discussions, LU asked the trades unions to take into account that the basic pay offer could be improved if their claims for changes to other terms and conditions could be limited to those which did not incur extra costs and it is on this basis that this revised package has now been offered.</p>
<p>LU has also sought to meet some of the unions suggestions by making the system for allocating shifts on&nbsp;Bank Holidays more responsive to local need and by making it easier for qualified drivers already on career breaks to return to work.</p>

<p>&nbsp;LU will also be looking to whether the latter proposal can be extended to other operational parts of the business. </p>
<p>Howard Collins, Chief Operating Officer, LU said: 'We met with the unions today and have made what we believe is a&nbsp; very fair and affordable multi-year pay offer to the trade unions that will enable our employees' salaries to keep pace with the cost of living and guarantees an increase in real terms over the life of the deal.&nbsp;At the same time it is realistic given the current economic situation and the pressure on TfL's finances.</p>
<p>'We look forward to working with the unions to reach an agreement as soon as possible.'</p>
<p>The proposed deal would cover the period from April 2011 to April 2016, which also includes the London 2012 Games. </p>
<p>The previous agreed pay deal, which saw staff get a 1.5 per cent increase in year one and RPI+0.5 per cent in year two, expired in March.</p>
<p>Separate discussions with trade unions on working arrangements over the period of the London 2012 Games continue.</p>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "A further guarantee has also been given that LU would not take into account negative RPI, should such a situation occur, so staff would be guaranteed a minimum 0.25 per cent pay increase each year.The five-year offer was made to all trade unions at this";}
        
        


 