


@{ViewBag.Title = "Mayor's flagship Barclays Cycle Hire celebrates first birthday with additional &pound;25m investment from Barclays";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>Mayor's flagship Barclays Cycle Hire celebrates first birthday with additional &pound;25m investment from Barclays</h1>
        <div class="content-page-press-release">
        28 July 2011
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        This release was originaly issued by the Greater London Authority.
        
    </div>



 <div class="on-this-page">
<ul>
<li>Barclays agrees to extend sponsorship until 2018</li>
<li>Barclays sponsorship to see further expansion to west London</li>
<li>Barclays Cycle Hire will be at Westfield London Shopping Centre by spring 2012</li>
<li>More than six million hires within the first year</li></ul>
<p>The Mayor of London's flagship Barclays Cycle Hire scheme celebrates its first birthday this week, and to mark the occasion today (28 July), the Mayor has confirmed that Barclays has agreed to provide another &pound;25m sponsorship. </p>
<p>The extra funding will help the scheme to expand throughout west and south west London by the summer of 2013, and also sees Barclays sponsorship extended by three years to 2018. </p>
<p>The additional &pound;25m takes Barclays total investment in the scheme to &pound;50m.</p>
<p>The Mayor has asked Transport for London (TfL) to prepare plans for a westward expansion of the scheme through the boroughs of Wandsworth, Hammersmith &amp; Fulham, Lambeth and Kensington &amp; Chelsea. </p>
<p>It has also been confirmed that Westfield London shopping centre is to provide funding that will allow an early taster of the western expansion by extending Barclays Cycle Hire to the shopping centre by spring 2012. </p>
<p>Approximately twelve new docking stations will connect the existing cycle hire zone to Westfield White City and six docking stations will potentially be on the grounds of Westfield London itself.</p>
<p>Boris Johnson, the Mayor of London, said: 'One year ago I launched a glorious new form of public transport in London. </p>
<p>'Today it is testament to the huge impact of Barclays Cycle Hire and to the rapidly increasing popularity of pedal power in London that I can announce we are now planning to swathe a huge chunk of the west of our city with our beautiful blue bikes. </p>
<p>'My thanks go to Barclays for the benevolence they have demonstrated with their latest bestowal of funds and that we can confirm the extension of their sponsorship agreement. By working together we are putting thousands more Londoners on two wheels. </p>
<p>'My thanks also go to the boroughs who have been champing at the bit for an expansion of this scheme, and to Westfield London for providing an investment that from next year will enable hordes of shoppers to make the journey to their glittering halls by the cleanest, greenest and most enjoyable form of transport available.'</p>
<p>Last year the Mayor announced that by spring 2012 the Barclays Cycle Hire area will extend beyond central London to include all of the Borough of Tower Hamlets as well as North Shoreditch in the Borough of Hackney. </p>
<p>People living in Bethnal Green, Bow, Canary Wharf, Mile End and Poplar will also see docking stations built in their communities.</p>
<p>Altogether 2,000 more cycles and 4,200 extra docking points will be installed across the existing and new Barclays Cycle Hire area when the second phase of expansion is complete. </p>
<p>At that stage the scheme will cover around 65km&sup2; of the Capital and around 8,000 hire bikes will be available from 14,400 docking points at hundreds of locations across central and east London.</p>
<p>Bob Diamond, Chief Executive, Barclays Bank PLC, said: 'Barclays Cycle Hire has undoubtedly been a huge success so far. </p>
<p>'Now even more people across London will benefit from this pioneering scheme, which makes a positive difference to everyday life in London, its people and its economy. </p>
<p>'Barclays commitment to citizenship, including the role we play in the communities we serve, is one of Barclays four execution priorities. </p>
<p>'Barclays Cycle Hire is a visible example of that commitment, and we are proud to be associated with the scheme&nbsp;and its further expansion.'</p>
<p>Michael Gutman, European Managing Director for Westfield, said: 'We are pleased to support Barclays Cycle Hire which will compliment the extensive public transport and road network surrounding Westfield London. </p>
<p>'The initiative has been a huge success in its first year and the extension will make London's top destinations even more accessible.'</p>
<p>Councillor Russell King, Wandsworth's transport spokesman, said: 'These bikes have revolutionised the way people travel around London and we look forward to seeing the benefits extended south west.'</p>
<p>Councillor Harry Phibbs, Hammersmith &amp; Fulham's Council's cabinet member for community engagement, says: 'Rolling out Barclays Cycle Hire westwards is the best transport news the borough has enjoyed since the extension of the congestion charge was scrapped. </p>
<p>'Pedal power promises to relieve some of the pressure on our congested roads and jam-packed tubes, reduce pollution and give residents another option when choosing how to get around. </p>
<p>'The Barclays Cycle Hire scheme will also make it easier for visitors to get to our major attractions.'</p>
<p>Londoners using the Mayor's flagship scheme, Barclays Cycle Hire, have made more than six million cycle journeys since it launched just one year ago. </p>
<p>On its busiest day of operation so far more than 29,200 cycle journeys were made using Barclays Cycle Hire. </p>
<p>More than 128,000 people are now Barclays Cycle Hire members and casual customers have already made more than one million cycle journeys since the scheme was launched to casual customers just seven months ago. </p>
<p>TfL's Managing Director of Surface Transport, Leon Daniels, said: 'Barclays Cycle Hire users have clearly embraced the scheme since we launched just one year ago.&nbsp; </p>
<p>'The bikes are now an increasingly popular sight across central London and have transformed they way people make short trips around the Capital. </p>
<p>'Work is already well underway for the eastern extension which will be completed by spring 2012.'</p>
<p>Becoming a Barclays Cycle Hire member still remains the fastest way to access a bike with no queuing at the on street terminals.&nbsp; </p>
<p>UK residents can start using the cycle hire scheme as a member for just &pound;4 - the cost of buying the membership key (&pound;3) and their first 24-hour access period (&pound;1). </p>
<p>TfL has also released their top five tips and reminders for cycle hire users:&nbsp;</p>
<ul>
<li>Lift the back of the bike when taking it from a docking point for the smoothest possible release</li>
<li>Don't forget that if there are no spaces at a docking station you can use the terminal to access 15 more minutes of use free of charge to allow you to cycle to the nearest docking station with a space</li>
<li>Terminals are able to print your recent journey history using Barclays Cycle Hire bikes</li>
<li>The red button is only for reporting a fault and does not need to be pushed at the end of every journey</li>
<li>The <a href="http://www.tfl.gov.uk/barclayscyclehire">Barclays Cycle Hire section</a> on TfL's&nbsp;website&nbsp;is able to tell you how many bikes are at every docking station before you pick up a bike. A range of digital applications have also been developed for use on a variety of mobile phones that will be able to give you the very latest information on the numbers of bikes at docking stations</li></ul>
<p>
<hr>
</p>
<p><strong>Notes to editors:&nbsp;</strong></p>
<ul>
<li>Full details of the numbers of extra docking stations for the Westfield expansion will be confirmed subject to planning permission</li>
<li>Barclays have agreed to invest a further &pound;25m to extend its sponsorship to 2018, including the phase three western expansion from 2013</li>
<li>Barclays Cycle Hire awards achieved so far: </li>
<ul>
<li>2010 UK Corporate Entrepreneur Award</li>
<li>London Cycling Campaign 2010 Best Facility Award </li>
<li>Institute of Civil Engineers London Awards 2011 Infrastructure Award </li>
<li>Brit Insurance Designs of the Year 2011 Transport Award </li>
<li>Worshipful Company of Carmen 2010 Transport Environmental Award</li>
<li>2011 London Transport Awards 'Most Innovative Transport Project' </li>
<li>MAN Everywoman in Transport &amp; Logistics Awards 2011 Abby Taylor, Rising Star of the Year</li>
<li>International Visual Communications Association 2011 Awards Practical Training Gold Award for the BCH 'How It Works' film</li>
<li>Marketing Society 2011 Awards for Excellence 'Marketing for Sustainable Consumption' award</li>
<li>2011 New London Architecture Awards Travelling Award</li></ul>
<li>The TfL Board will need to confirm the go ahead for phase three of Barclays Cycle Hire scheme at their next meeting on 21 September</li>
<li>Barclays Cycle Hire accepts Visa and Mastercard credit and debit cards and Visa Electron</li>
<li>The creation of an easy-to-use cycle hire scheme was a key pledge of the Mayor's manifesto. Barclays Cycle Hire is now transforming the way that people make short trips around central London</li>
<li>Around 95 per cent of all journeys made by Barclays Cycle Hire members have been under 30 minutes, which means that the vast majority of people using the scheme aren't paying any more than their 24-hour &pound;1, seven-day &pound;5 or annual &pound;45 access fees</li>
<li>Anti-skimming devices have been fitted to all Barclays Cycle Hire terminals; this additional measure ensures card readers are not tampered with. The anti-skimming devices use industry leading software, designed to prevent anyone placing a skimming device on a terminal</li>
<li>A membership key costs &pound;3 with membership costs at &pound;1 for a 24-hour membership, &pound;5 for seven days and &pound;45 for annual membership.&nbsp;The first 30 minutes of every journey is free. Find out&nbsp;how to become a member of <a href="http://www.tfl.gov.uk/barclayscyclehire ">Barclays Cycle Hire </a>and advice on how to use the scheme</li>
<li>Members of the scheme must be at least 18 years old, and you need to be at least 14 years old to use the scheme</li>
<li>Barclays Cycle Hire and Barclays Cycle Superhighways are building on the massive 117 per cent growth in cycle journeys on London's major roads since TfL was created in 2000</li>
<li>Barclays Cycle Hire currently operates across central London. Docking stations and hire bicycles are currently available in Camden, City of London, Hackney, Islington, Lambeth, Kensington &amp; Chelsea, Southwark, Tower Hamlets, Westminster and several of the Royal Parks</li></ul>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "Barclays agrees to extend sponsorship until 2018Barclays sponsorship to see further expansion to west LondonBarclays Cycle Hire will be at Westfield London Shopping Centre by spring 2012More than six million hires within the first yearThe Mayor of";}
        
        


 