


@{ViewBag.Title = "New public art at Hampstead Heath station ";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>New public art at Hampstead Heath station </h1>
        <div class="content-page-press-release">
        14 July 2011
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        Passengers using Hampstead Heath station will now be greeted by the second artwork commissioned through the London Overground Public Art Programme - Evenings' Hill, created by artist Clare Woods.
        
    </div>



<div class="pull-quote">
        <div class="quote-body">"We are very excited to have completed the second new art installation for our network at the same time as delivering a much improved station for the passengers of Hampstead Heath."</div>
        <div class="quote-footer">
            <div class="quotee-name">Julie Dixon</div>
            <div class="quotee-job-title">Head of Marketing and Communications at TfL London Rail</div>
        </div>
</div>

 <div class="on-this-page">
<div class="pullquote right">
                        <p>
                            We are very excited to have completed the second new art installation for our network at the same time as delivering a much improved station for the passengers of Hampstead Heath.
                            
                        </p>
                    </div>
                
            
            
            <p>Known for her dramatic, large-scale paintings of landscapes, the artist has developed a site-specific, permanent artwork in porcelain tiles, extending the entire length of the station platform, visible to visitors to the station and passengers alike. </p>
<p>The artwork complements other improvements at the station since it became part of the London Overground network, including new lighting, CCTV, PA systems, information screens, station re-painting and improved signage.</p>
<p>Julie Dixon, Head of Marketing and Communications at TfL London Rail, which manages London Overground said: 'We are very excited to have completed the second new art installation for our network at the same time as delivering a much improved station for the passengers of Hampstead Heath. </p>
<p>'We were able to capitalise on the opportunity to incorporate this impressive artwork onto the platform wall during the large scale refurbishment of the station, which is part of a network wide programme of station improvements.&nbsp; </p>
<p>'Clare's painting, coupled with the recent introduction of more frequent services and the significant improvements to lighting, passenger information and waiting areas within the station, should positively improve passenger journeys to and from Hampstead Heath for years to come.'</p>
<p>Clare's work takes its inspiration from the local surroundings, in particular the popular pools of Hampstead Heath. </p>
<p>Woods examined historic maps of Hampstead dating from 1866 to 1915 and identified that the pools were the one geographical constant throughout this time of rapid urban development. </p>
<p>Clare is not alone in depicting the pools - they have been the subject matter for many artists, most famously in landscapes by the English Romantic painter John Constable. </p>
<p>Today, the Heath and its pools are still as much a refuge from the city as they were when Constable painted them in the 1820's. </p>
<p>Woods has chosen to evoke this feeling of open space and fresh air in her artwork, echoing Constable's desire to make paintings in which he could feel the wind blowing on his face, rather than a realistic representation of the landscape. </p>
<p>The depiction of water and reflection is central to the composition. </p>
<p>It features a landscape without horizon, in which the pools become voids or portals to another place.</p>
<p>'I wanted to get a 'feel' of the Heath in my work - this open space in the heart of a city' said Clare Woods.&nbsp; </p>
<p>'This is a more abstracted notion of the landscape, creating a sense of a place, or a feel of an expanse.'</p>
<p>Producing the project has taken many months of painstaking work. Woods began by making photographic studies of the pools, which were translated into drawings and then a large watercolour painting.&nbsp;</p>
<p>Digital transfers of her painting were fired onto the porcelain tiles, which retain the quality of brushwork of the original watercolour.</p>
<p>Tod Hanson's 'The Elliptical Switchback' at Haggerston, on London Overground's East London route, was the first permanent artwork to be commissioned by London Overground.&nbsp;<br>
<hr>
<strong>Notes to Editors </strong>
<p>
<ul>
<li>London Overground's art programme is being managed for Transport for London by art consultants Modus Operandi and will use artworks to inspire, amuse and entertain passengers on its network </li>
<li>Clare Woods was born in 1972 and graduated from Goldsmith's College in 1999. She has exhibited widely in the UK, Europe and America and was shortlisted for the Beck's Futures prize in 2001 </li>
<li>Photographs of the artwork are available on request from the TfL Press Office<br></li></ul>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "Known for her dramatic, large-scale paintings of landscapes, the artist has developed a site-specific, permanent artwork in porcelain tiles, extending the entire length of the station platform, visible to visitors to the station and passengers alike. The";}
        
        


 