


@{ViewBag.Title = "New Way to Avoid Tube Stairs ";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>New Way to Avoid Tube Stairs </h1>
        <div class="content-page-press-release">
        04 July 2011
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        A new Tube guide has been added to the TfL website which shows customers how to avoid stations with stairs.
        
    </div>



 <div class="on-this-page">
<p>See the map at <a href="http://www.tfl.gov.uk/accessguides">tfl.gov.uk/accessguides</a>.&nbsp;</p>
<p>London Underground, which started in 1863, is the oldest metro system in the world and many of its stations were built in Victorian and Edwardian times when passengers who had mobility problems were not a priority. <br><br>Putting lifts into existing Tube stations is often extremely difficult and expensive but Transport for London (TfL) has invested hundreds of millions of pounds in doing this, as well as building new Tube, London Overground and DLR stations which are all step-free. </p>
<p>TfL has increased the number of Tube stations which are step-free to 62 and this will rise to 65 when lifts are installed at Green Park, Blackfriars and Farringdon before the 2012 Games.&nbsp; The Tube Upgrade Plan will continue redeveloping key stations and installing lifts.</p>
<p>In the meantime London Underground has issued a new 'Avoiding Stairs Tube guide', which will be useful for anyone who may have difficulty using stairs but can manage escalators. </p>
<p>This will include older people, customers with heavy luggage, parents with pushchairs and people with physical disabilities who do not use a wheelchair.<br><br>The map highlights stations where customers can reach the platforms or change trains via escalators, lifts or ramps, or where the platforms are already at street level.</p>
<p>Stations where this access is not possible are greyed out on the map.<br><br>The map differs to the 'Step-Free Tube map' which shows step-free stations suitable for wheelchair users, which have lifts from street to platform level or ramps; and includes more detailed information including the size of steps and gaps between train and platform.<br><br>Wayne Trevor, London Underground's Accessibility &amp; Inclusion Manager said: 'With the funding we have we are installing lifts to make as many Tube stations free of steps as we can, currently 62 increasing to 65 by next year.&nbsp;<br><br>'However, we know that many people have difficulties in walking up and down long flights of stairs, but can manage escalators and have produced the 'Avoiding Stairs Tube Guide' to reflect these needs. These are very different to the difficulties faced by wheelchair users and so we wanted to provide a map that more accurately reflected these needs.'</p>
<p>At <a href="http://www.tfl.gov.uk/accessguides">tfl.gov.uk/accessguides</a>&nbsp;there is also an Audio Tube map, Tube toilet map, a large print Tube map and the Step-Free Tube map. </p>
<p>
<hr>
<strong>Notes to Editors<br><br></strong>The Tube is undergoing a huge and essential programme to upgrade its ageing infrastructure - vital to cope with a growing population and to support the economic development and growth of the capital and the UK. 
<p>
<p>The benefits for Londoners will be great, with more trains - many with air-conditioning - delivering faster, more frequent and reliable journeys. The Tube upgrade will mean a big increase in capacity of around 30 per cent.</p>
<p>We know that closures are frustrating, so TfL is working hard to keep disruption to a minimum and to provide information and alternative travel options. <br><br>Londoners and visitors to the city are urged to "check before you travel", particularly at weekends, and to allow extra journey time where necessary.<br><br>TfL's range of Travel Tools help passengers plan journeys, get travel information on the move and work out the best way home <a href="http://www.tfl.gov.uk/tfl/traveltools">tfl.gov.uk/tfl/traveltools</a>.&nbsp; </p>
<p>The website also provides full information on bus replacement services during works.</p>
<p>Apart from the TfL website <a href="http://www.tfl.gov.uk/check">tfl.gov.uk/check</a> passengers can check before travelling via the following options:</p>
<ul>
<li>The London Travel Info 24hrs telephone helpline: 0843 222 1234 </li>
<li>Information on posters, leaflets and "service information" boards at Tube stations<br></li></ul>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "See the map at tfl.gov.uk/accessguides.&nbsp;London Underground, which started in 1863, is the oldest metro system in the world and many of its stations were built in Victorian and Edwardian times when passengers who had mobility problems were not a";}
        
        


 