


@{ViewBag.Title = "New programmes launched to help businesses of all sizes keep on running during 2012 Games";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>New programmes launched to help businesses of all sizes keep on running during 2012 Games</h1>
        <div class="content-page-press-release">
        13 July 2011
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        Transport for London (TfL) and London 2012 determined to ensure businesses can make the most of all opportunities Games will bring.
        
    </div>



 <div class="on-this-page">
<p>Businesses and organisations of all sizes in 2012 transport hotspot areas now eligible for free Travel Advice for Business workshops. </p>
<p>New online tool at <a href="http://www.london2012.com/traveladviceforbusiness">www.london2012.com/traveladviceforbusiness</a> launched to help businesses of all sizes plan for the 2012 Olympic and Paralympic Games.</p>
<p>
<hr>
</p>
<p>The 2012 Games will provide fantastic opportunities for businesses in the Capital and across the UK.&nbsp; </p>
<p>TfL and London 2012 are determined to ensure that businesses can take advantage of all these opportunities and have today announced two new programmes to help small and medium sized enterprises (SMEs) and multi-site businesses run smoothly - and minimise any transport challenges - during the 2012 Games. </p>
<p>From August, multi-site companies employing more than 200 people, such as retail outlets, restaurant chains and financial institutions, can receive bespoke advice to help them devise and implement travel action plans for their organisations during the summer of 2012. </p>
<p>Each session will help firms manage the impact of the Games on staff and business operations and optimise deliveries, servicing and freight during Games time. </p>
<p>This new programme, which is seeking to work with at least 100 multi-site companies, mirrors the support already available to organisations that employ more than 200 people at a single location.</p>
<p>Also from next month, and until summer next year, more than 50 free workshops will be rolled out across the country.&nbsp; </p>
<p>These will be for firms with less than 200 employees that are based in areas set to be most impacted by the 2012 Games. </p>
<p>The drop-in sessions will help small and medium-sized enterprises prepare for any travel disruption that may affect their business, and will cover topics such as how local roads will be managed, optimising deliveries and offering flexible working during Games time. </p>
<h2>Free workshops</h2>
<p>Businesses of all sizes wanting to sign up for the free workshops and one-to-one sessions simply need to email <a href="mailto:keeponrunning&#64;london2012.com">keeponrunning&#64;london2012.com</a> or visit <a href="http://www.london2012.com/traveladviceforbusiness">www.london2012.com/traveladviceforbusiness</a> for more information and advice. </p>
<p>In addition, a new online planning tool has been developed which helps businesses of all sizes think about the key issues that will affect them during the Games. </p>
<p>The tool asks a series of questions about staff and business travel, customers, visitors, suppliers and deliveries. </p>
<p>After answering the questions, the travel planning tool provides companies with suggested actions and the considerations they will need to take into account. </p>
<p>Any business can start planning now by visiting the website and selecting 'Make your Plan'.</p>
<p>Leon Daniels, Managing Director of Surface Transport at TfL, said: 'TfL and all partners are fully focused on delivering what will undoubtedly be a fantastic London 2012 Games and legacy for the Capital and UK and ensuring businesses are ready to make the most of all the opportunities on offer.&nbsp; </p>
<p>'Millions of additional trips are expected in the Capital during the summer of 2012, and the transport network will be severely affected. </p>
<p>'TfL is working with London 2012 to offer a range of free travel advice to businesses of all types and sizes, to ensure their staff, customers and suppliers can get around and that they can make and receive important deliveries during the Games.</p>
<p>'Our new free travel advice programmes greatly enhance the support available for companies set to be affected by the London 2012 Games, whether they are a large restaurant chain or a local corner shop. I'd like to urge all businesses to take advantage of the tools that are available to them now, so that they can plan ahead and make the most of the London 2012 Games.'</p>
<h2>Massive opportunity</h2>
<p>Daniel Ritterband, the Mayor of London's Director of Marketing and 2012 Communications, said: 'The 2012 Games are a massive opportunity for businesses in the Capital and we expect international visitors to spend more than &pound;700m during this time. </p>
<p>'That is why we are offering firms the chance to take part in a range of programmes that will help them manage the impact of the Games on their operations and at the same time make the most of this wonderful occasion.'</p>
<p>David Waterman from I. Waterman (Box Makers) Ltd, a company formed in 1897 that is based in east London and employs 16 staff, said:&nbsp;'These workshops are just what small businesses like mine are after. </p>
<p>'Face-to-face sessions like these are the best way to get instant answers to questions and work through any issues to ensure our business is ready for the Games. </p>
<p>'Doing nothing is not an option - businesses need to understand what the ramifications of the 2012 Games will be, and the sooner companies plan the better.'</p>
<p>
<hr>
</p>
<p><strong>Notes to editors:</strong></p>
<ul>
<li>Details of case studies are available upon request</li>
<li>Businesses are advised to visit the <a href="http://www.london2012.com/traveladviceforbusiness">London 2012 website</a> where they can register for regular email bulletins, view maps of affected areas, download documents to help plan and view hints and tips on how to create an action plan.&nbsp;Businesses can email the team on <a href="mailto:keeponrunning&#64;london2012.com">keeponrunning&#64;london2012.com</a> to register for the SME and multi-site workshops, and to find out more</li>
<li>The SME workshops will take place in a range of venues, once a fortnight until the Games begin, with the first one taking place in early August. The SME workshops are open to the owners, managers or decision makers from participating companies</li>
<li>The multisite sessions will take place as and when agreed with the individual organisations participating</li>
<li>London 2012 and TfL are offering free travel advice to businesses to ensure their staff, customers and suppliers can get around and they can make and receive important deliveries during the Games.&nbsp; As part of this advice they are asking businesses to consider ways which will help reduce their overall need to travel including:</li>
<ul>
<li>Staggering the start and finish times of working days</li>
<li>Providing the facilities for staff to work from home</li>
<li>Stocking up on non-perishable materials well before the Games</li>
<li>Arranging earlier or later deliveries</li>
<li>Managing annual leave</li>
<li>Temporarily relocating employees or altering their working hours</li>
<li>Helping staff re-plan their travel</li>
<li>Using conference/video/web calls</li>
<li>Encouraging and enabling staff to cycle and walk</li></ul>
<li>All transport improvements are on track to be delivered well ahead of the Games, including the new Javelin rail service, Tube upgrades on the Central and Jubilee lines, new Docklands Light Railway carriages and extensions, new and improved London Overground and national rail links, bigger and better stations and accessibility improvements across the transport network</li>
<li>Alongside infrastructure improvements, there will be national coach and bus networks for the Games, 'park and ride' for those who wish to use cars for a part of their journey and millions invested in new walking, cycling and river routes</li></ul>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "Businesses and organisations of all sizes in 2012 transport hotspot areas now eligible for free Travel Advice for Business workshops. New online tool at www.london2012.com/traveladviceforbusiness launched to help businesses of all sizes plan for the 2012";}
        
        


 