


@{ViewBag.Title = "Reminder to customers of four week closure for improvement works on most delayed part of Circle and District lines ";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>Reminder to customers of four week closure for improvement works on most delayed part of Circle and District lines </h1>
        <div class="content-page-press-release">
        13 July 2011
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        - Closure between 23 July and 23 August between High Street Kensington and Edgware Road to improve reliability
        
    </div>



<div class="pull-quote">
        <div class="quote-body">"The block closure will result in improved reliability and a head start in our preparations for new higher capacity trains."</div>
        <div class="quote-footer">
            <div class="quotee-name">David Waboso</div>
            <div class="quotee-job-title">LU's Capital Programmes Director</div>
        </div>
</div>

 <div class="on-this-page">
<div class="pullquote right">
                        <p>
                            The block closure will result in improved reliability and a head start in our preparations for new higher capacity trains.
                            
                        </p>
                    </div>
                
            
            
            <p>- London Underground (LU) will take advantage of closure to prepare for longer trains on the Circle and Hammersmith &amp; City lines. </p>
<p>Upgrade works to improve the reliability of service, renew old infrastructure, and prepare for new trains are set to take place on one of the oldest sections of the Tube. </p>
<p>It will mean that the District and Circle lines will be suspended between High Street Kensington and Edgware Road from 23 July to 23 August.</p>
<p>Throughout the closure, various transport options will be available for passengers wishing to access the area. <a href="/assets/downloads/circle-district-jul-aug-part-closure.pdf">See details&nbsp;of alternative travel arrangements. (PDF 639KB)</a></p>
<h2>Air-conditioned trains</h2>
<p>Bayswater station is within easy walking distance of Queensway on the Central line, which will remain open throughout. </p>
<p>In addition to local buses, passengers for High Street Kensington will still be able to access the station via District line trains from Earl's Court or Circle line trains from Gloucester Road. </p>
<p>Passengers for Notting Hill Gate will be able to access the station via the Central line. </p>
<p>Passengers for Paddington and Edgware Road will be able to use the Bakerloo line, and passengers for Baker Street will be able to use the Bakerloo and Jubilee lines.</p>
<p>The works will include track and drainage renewal and enabling works to accommodate the new longer air-conditioned trains (from six carriages to seven - with room for an additional 143 passengers per train), which will start operating on the Hammersmith &amp; City and Circle lines from the end of 2012. </p>
<h2>Excess water</h2>
<p>They will also include power upgrade works to support the new trains coming into service.</p>
<p>Signal and track failures make up around 70 per cent of the delays between Notting Hill Gate and Paddington as the poor condition of drainage means that excess water results in track circuits failing and therefore leads to signal failures.</p>
<p>The block closure means that the work can be carried out during a quieter period on the network, when around 25,000 fewer passengers a day use the District and Circle lines between High Street Kensington and Edgware Road. </p>
<p>Completing the work using weekend track closures only would mean at least 20 weekend closures spread across six months or more. </p>
<p>David Waboso, Capital Programmes Director, LU, said: 'We are determined to carry out this work in a way that keeps disruption to passengers to an absolute minimum. </p>
<h2>Major engineering task</h2>
<p>'But we do hope any disruption caused by this block closure will be significantly outweighed by the huge overall benefits of this essential improvement work. </p>
<p>'The block closure will result in improved reliability and a head start in our preparations for new higher capacity trains.</p>
<p>'Replacing the track, ballast and drainage is a major engineering task, particularly as most of the work takes place in tunnels. </p>
<p>'By carrying out these works during a block closure we will be able to complete the job in four weeks that would otherwise have required at least 20 weekends of disruption spread across six months or more. </p>
<p>'The combination of track, ballast and other equipment needing to be moved will exceed 20,000 tonnes, so this approach will mean that there will be no time lost due to set-up and hand-back of works, which minimises working time and helps to significantly reduce the cost - saving some &pound;6.5m.' </p>
<h2>Additional works</h2>
<p>During the month, the closure will need to be extended at weekends to include the whole of the Circle line, and the District line between Earl's Court and Gloucester Road. </p>
<p>Part or all the Hammersmith &amp; City line will also need to close at weekends. </p>
<p>On two weekends part of the Metropolitan line would also need to close.</p>
<p>These weekend extensions to the closure will also enable additional works to be carried out for the upgrade of the Hammersmith &amp; City, Circle, Metropolitan and District lines. </p>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "- London Underground (LU) will take advantage of closure to prepare for longer trains on the Circle and Hammersmith &amp; City lines. Upgrade works to improve the reliability of service, renew old infrastructure, and prepare for new trains are set to take";}
        
        


 