


@{ViewBag.Title = "Save time, get your Oyster card from a ticket machine";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>Save time, get your Oyster card from a ticket machine</h1>
        <div class="content-page-press-release">
        26 July 2011
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        Upgrade across London Underground means new Oyster cards can be dispensed from ticket machines. Greater convenience for passengers.
        
    </div>



 <div class="on-this-page">
<p>Transport for London is making it much faster and easier for passengers to buy and use Oyster, by upgrading ticket machines that will sell Oyster cards directly, with credit loaded.</p>
<p>By the end of July, most stations across the London Underground network will have at least one ticket machine equipped to vend Oyster cards. </p>
<p>Passengers will be able to get their new cards at any time of the day from the clearly marked machines, and will be able to do so quickly and conveniently. </p>
<p>The new service is particularly useful for busy Londoners who may have forgotten or lost their old Oyster and need a quick replacement. </p>
<p>Passengers should always consider registering their Oyster to benefit from having their credit balances protected if they lose their card.</p>
<p>Since the ticket machine upgrade began in May, the new service has been an instant hit with&nbsp;passengers.</p>
<p>Already more than 25 per cent of all new Oyster cards are bought from a ticket machine. </p>
<h2>Quick and easy</h2>
<p>Currently, more than half of all new Oyster card purchases at Aldgate East, Holland Park and Lambeth North have been from the machines. </p>
<p>At other stations, including Euston, King's Cross, Belsize Park and Putney Bridge, more than a third of new Oyster card purchasers have chosen to do so by using the quick and easy ticket machines.</p>
<p>Richard Parry, London Underground's Strategy &amp; Commercial Director, said: 'We have long known that the way customers use the Tube is changing, and we're adapting to those changes. </p>
<p>'Customers have embraced Oyster in recent years, with just one in 20 Tube journeys now starting with a ticket office purchase. </p>
<p>'The ability to vend Oyster cards is a natural progression for the self-service machines across the Tube network which were also upgraded in 2010 to allow customers to buy tickets to a greater range of National Rail destinations, as well as with Railcard discounts.'</p><strong>
<p>
<hr>
</p>
<p>Notes to editors:</strong><p>
<ul>
<li>Oyster is the world's most popular transport smartcard. Since 2003, more than 43 million cards have been issued and around eight&nbsp;million are in regular circulation</li>
<li>In the majority of cases, Oyster offers the cheapest fare for journeys on London's transport network</li>
<li>Around 400 ticket machines at Underground stations have been upgraded to vend Oyster cards</li>
<li>Every&nbsp;Tube station, except Roding Valley (owing to ticket hall size) and ex-Silverlink stations (which have different ticket machines) now has at least one of the upgraded ticket machines</li>
<li>As standard, the &pound;5 deposit and minimum &pound;5 pay as you go credit or weekly Travelcard will be required on the purchase of all new Oyster cards. Passengers can also add up to &pound;90 pay as you go credit and weekly Travelcards to their Oyster card at any other ticket machine</li></ul>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "Transport for London is making it much faster and easier for passengers to buy and use Oyster, by upgrading ticket machines that will sell Oyster cards directly, with credit loaded.By the end of July, most stations across the London Underground network";}
        
        


 