


@{ViewBag.Title = "Six months to go before tougher Low Emission Zone standards introduced to improve air quality ";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>Six months to go before tougher Low Emission Zone standards introduced to improve air quality </h1>
        <div class="content-page-press-release">
        04 July 2011
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        Transport for London (TfL) is calling on the owners and operators of vehicles set to be affected when new emissions standards come in to effect in January 2012 to take action now and avoid fines.
        
    </div>



 <div class="on-this-page">
<p>The owners of around 150,000 vehicles will need to upgrade their vehicles to ensure they meet the new Low Emission Zone (LEZ) standards in a little over six months.&nbsp;</p>
<p>The Mayor of London, Boris Johnson, recently announced he has secured significant discounts off new vans and minibuses in an unprecedented package of financial deals for drivers set to be affected by these changes. </p>
<p>Air pollution is a serious health issue in London contributing to an estimated 4,300 premature deaths in a year with many more people, especially children and the elderly, having their quality of life adversely impacted by it.&nbsp;</p>
<p>London also has to meet European legal standards for air quality. </p>
<p>The LEZ was introduced in 2008 and has been successful in delivering significant reductions in harmful vehicle emissions but the scheme now needs to go further to ensure London meets legally required air quality standards.&nbsp;</p>
<p>The LEZ covers most of Greater London and operates 7 days a week, 365 days a year.&nbsp;&nbsp;&nbsp; </p>
<p>From 3 January 2012, the emissions standards for vehicles already affected by the LEZ will be tightened.&nbsp; Lorries, buses and coaches, and other specialist heavy vehicles will be required to meet a Euro IV standard for particulate matter (PM) to drive within the LEZ without paying a daily charge.&nbsp;</p>
<p>Lorries, buses and coaches registered as new on or after 1 October 2006 will already meet the LEZ standards from 2012.</p>
<p>Also from 3 January 2012, larger vans, minibuses and other specialist vehicles will have to meet a Euro 3 standard for particulate matter in order to drive within the LEZ without charge.&nbsp; </p>
<p>Vans and minibuses registered on or after 1 January 2002 will already meet the LEZ standards. </p>
<p>TfL estimates that the changes to the LEZ will broadly double the impact of earlier phases in reducing harmful particulate matter pollution in the Capital. <br>&nbsp; <br>Kulveer Ranger, the Mayor of London's director of the environment, said: 'These changes to the Low Emission Zone are being implemented to cut pollution from road transport for the benefit of Londoners' health, but we are making every effort to minimise the economic impact on the small number of drivers whose vehicle are not yet compliant.&nbsp; </p>

<p>'The Mayor has bought together the leading van and minibus manufacturers to offer significant deals for drivers to help them upgrade their vehicles and avoid fines.'</p>
<p>With six months to go until the changes take effect, TfL is urging affected vehicle operators to take action now, to ensure their vehicles meet the new standards in time either by cashing in on the upgrade deals available or taking other action such as&nbsp; buying a newer second hand compliant vehicle.&nbsp; </p>
<p>Alternatively, a wide-range of approved abatement equipment is available, meaning operators do not have to replace their vehicle.&nbsp;</p>
<p>However, TfL advice is to act soon as it can take up to three months to order and fit approved filters that ensure vehicles meet the new LEZ standards. </p>
<p>Owners of HGVs, buses and coaches that do not meet the required emissions standards by 3 January 2012, and who drive within Greater London will have to pay a &pound;200 daily charge or risk a &pound;1,000 penalty.&nbsp;</p>
<p>Owners of larger vans and minibuses who do not comply with the new emissions standards will have to pay a &pound;100 daily charge or risk a &pound;500 penalty if they drive within Greater London.&nbsp;</p>
<p>TfL would much prefer vehicle operators to meet the required standards, rather than have to pay a daily charge or risk a fine.</p>
<p>The Mayor has brought together major manufacturers (see below) to provide the owners of affected larger vans and minibuses with discounts or finance deals to make the purchase of new, cleaner vehicles more affordable.&nbsp;</p>
<p>Eighty per cent of vehicles affected by the LEZ for the first time in 2012 are vans and offers from manufacturers in some cases amount to thousands of pounds off a new vehicle.&nbsp; </p>
<p>DAF has also come forward and offered to provide the owners of 7.5 tonne HGVs a discount on purchase of a new, cleaner vehicle.<br></p>
<ul>
<li>Ashwoods: A substantial discount off any Ford Transit, Ford Transit Connect, or Ford Transit minibus.&nbsp; All are fitted with Ashwoods' proprietary EcoDrive technology, which reduces the vehicle's fuel consumption by up to 10 per cent.&nbsp; Furthermore, they also receive up to &pound;500 cash back for trading in their non-compliant vehicle </li>
<li>Citro&euml;n: A 'Go Green &amp; Clean Allowance' of up to &pound;3,500 towards a new Citro&euml;n LCV </li>
<li>Fiat: a combination of VAT only deposit, coupled with a six-month payment holiday and a low rate (1.1 per cent&nbsp;APR) of interest.&nbsp; The deal applies to the following models: Fiorino; Doblo' Cargo; Scudo; Ducato; Ducato Minibus </li>
<li>Ford: Scrappage programme in which owners of vans that are ten, or more, years old will qualify for up to &pound;3,000 off a new Ford van.&nbsp; This scrappage scheme programme is available on Ford Fiesta Van, Ford Transit Connect and the iconic Ford Transit </li>
<li>Mercedes-Benz: van swappage scheme which is based around a weekly payment of &pound;60, allowing operators to swap into a new Mercedes-Benz Vito </li>
<li>Peugeot: Peugeot are offering, a customer who has been mailed by Transport for London a cash-back payment if they purchase and register a new Peugeot van.&nbsp; The payments are, Bipper &pound;500, Partner &pound;750, Expert &pound;1,500 and &pound;2,000 on Boxer </li>
<li>Renault: offers as follows, depending on the model: up to &pound;2,900 off the Kangoo Van range; up to &pound;4,600 off the Trafic Van and Passenger range; up to &pound;6,000 off the Master range </li>
<li>Vauxhall: Vauxhall are offer savings of up to &pound;7,500 with their Vauxhall swappage scheme across the Vauxhall Commercial vehicle range </li>
<li>Volkswagen: Volkswagen Commercial will be offering a deposit contribution towards finance offers on new vehicles and preferential servicing packages for used vehicles </li>
<li>DAF: discounted offers on various DAF models including a &pound;5,000 discount on the 7.5-tonner LF45.&nbsp; Should existing DAF customers choose to keep their existing Euro 3 and older trucks, they can take their vehicle into any official DAF dealer and have a new particulate filter fitted</li></ul>
<p>
<hr>

<p>
<p><strong>Notes to Editors: </strong></p>
<ul>
<li>TfL is running a year-long operator information campaign, which started in January 2011, to remind them to prepare their vehicles for changes in London's LEZ in 2012 </li>
<li>Vehicles affected for the first time are: larger vans and other specialist vehicles such as horse boxes and light utility vehicles (between 1.205 tonnes unladen and 3.5 tons Gross Vehicle Weight); minibuses (5 tonnes or less Gross Vehicle Weight with more than 8 passenger seats); and motorcaravans and minibuses (between 2.5 and 3.5 tonnes Gross Vehicle Weight), which will have to meet a Euro 3 standard for PM to drive in the zone without charge </li>
<li>Vehicles already affected by the LEZ: HGVs and other specialist vehicles including horseboxes and motorcaravans over 3.5 tonnes Gross Vehicle Weight; and buses and coaches over 5 tonnes Gross Vehicle Weight with more than 8 passenger seats will have to meet a Euro IV standard for PM to drive in the zone without charge </li>
<li>The LEZ affects all vehicles of the relevant weight and age even if they are used for private purposes </li>
<li>Larger vans and minibuses were originally due to be included in the LEZ from 4 October 2010, however, the Mayor took the decision, following public consultation, to defer the introduction of these new standards in tough economic times to give the owners and operators of the estimated 72,000 non-compliant vehicles, more time to make the necessary changes </li>
<li>Vehicle owners can check online at tfl.gov.uk/lezlondon and use a vehicle checker tool to check whether their vehicle meets the emissions standards and find advice on what steps they can take to make their vehicle compliant </li>
<li>Cars, motorcycles and vans weighing under 1.205 tonnes unladen are not affected by the LEZ.&nbsp;Owners can check their V5 to confirm their vehicle weight and TfL can provide advice via its website or a dedicated call centre </li>
<li>In London, road transport is the single biggest source of PM10 and NOx emissions causing air quality-related health problems, worsening symptoms of asthma and other respiratory conditions </li>
<li>Road transport emissions are the largest source of dangerous particulate matter air pollution (tiny airborne particles coming from vehicles) in the Capital.&nbsp;The current LEZ scheme is working well and is estimated to have stopped 28 tonnes of PM from polluting London's air but further action is now needed to cut pollution </li>
<li>The LEZ aims to reduce emissions of PM and NOx by encouraging the take-up of cleaner vehicles and the fitting of approved abatement equipment </li>
<li>Operators with vehicles that do not meet the specified emissions standards for the LEZ have a number of options to comply with the scheme including: 1) fitting an approved filter to the vehicle to improve the emissions - a list of approved filters is published on the TfL website; 2) purchasing a new or compliant second hand vehicle; 3) reorganising a fleet so that only vehicles which meet the required emissions standards drive within the LEZ; 4) infrequent visitors may consider renting a compliant vehicle&nbsp; 5) paying a daily charge.&nbsp;TfL would much prefer operators to meet the required standards rather than pay a daily charge or risk a fine </li>
<li>The Mayor's Air Quality Strategy, published in December 2010, sets out a wide range of policies to further reduce the emissions from various sectors, including road transport.&nbsp;For example a package of local measures to tackle air pollution at priority locations, incentivising the adoption of the cleanest vehicles and new technologies including electric and electric-hybrid cars.&nbsp; It identifies that with these measures London is on track to meet PM10 legal limits by 2011 and outlines steps to tackle NOx emissions</li></ul>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "The owners of around 150,000 vehicles will need to upgrade their vehicles to ensure they meet the new Low Emission Zone (LEZ) standards in a little over six months.&nbsp;The Mayor of London, Boris Johnson, recently announced he has secured significant";}
        
        


 