


@{ViewBag.Title = "Stratford bus station prepares for a new and improved look";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>Stratford bus station prepares for a new and improved look</h1>
        <div class="content-page-press-release">
        26 July 2011
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        Work to transform Stratford bus station in time for the 2012 Games begins on 1 August.
        
    </div>



 <div class="on-this-page">
<div class="pullquote right">
                        <p>
                            TfL and Newham Council will work closely together to ensure the disruption to passengers is minimal.
                            
                        </p>
                    </div>
                
            
            
            <p>Transport for London (TfL) and Newham Council are working closely together to improve the station; replacing the bus shelters, installing better lighting and improving footpaths - allowing passengers to move more easily around the station.</p>
<p>The bus station will be thoroughly spruced-up from top to bottom including a full repair and resurface of all roadways.</p>
<p>The works will benefit the 20 million passengers using the bus station every year.</p>
<h2>Close to the Olympic Park</h2>
<p>In addition, many thousands of extra passengers will use Stratford bus station during the London 2012 Games because of its close proximity to the Olympic Park and easy interchange with the Central and Jubilee Lines, London Overground, Docklands Light Railway and mainline services.</p>
<p>Mike Weston, Operations Director, London Buses said:&nbsp; 'Stratford bus station is already a very important transport hub in East London and as we move closer to the London 2012 Games it will have an ever bigger part to play ensuring visitors have easy access to the Olympic Park.&nbsp;</p>
<p>'With this in mind it is important we provide world class facilities for the travelling public and to do this we need to close the bus station for several weeks to make important improvements.&nbsp;TfL and Newham Council will work closely together to ensure the disruption to passengers is minimal.'</p>
<h2>Temporary changes</h2>
<p>The bus station will close from 1 August 2011 until the end October 2011, with temporary changes to local stopping arrangements for bus services.</p>
<p>Buses will use other bus stops around Stratford town centre while the works are undertaken, and TfL will have Customer Service Assistants readily available to help minimise any passenger disruption and assist passengers with their onward journeys.&nbsp;</p>
<p>Full details of revised stopping arrangements will also be on display locally and on the TfL website <a href="http://www.tfl.gov.uk/livetravelnews">tfl.gov.uk/livetravelnews</a> </p>
<p>TfL and Newham Council will work hard to ensure any disruption is kept to a minimum during these improvements. </p>
<p>Work will be carried out on a phased basis and is due to be fully completed by February 2012.</p>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "Transport for London (TfL) and Newham Council are working closely together to improve the station; replacing the bus shelters, installing better lighting and improving footpaths - allowing passengers to move more easily around the station.The bus station";}
        
        


 