


@{ViewBag.Title = "TfL demands explanation as tens of thousands of Londoners are inconvenienced again by 'pointless' Thames Water works";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>TfL demands explanation as tens of thousands of Londoners are inconvenienced again by 'pointless' Thames Water works</h1>
        <div class="content-page-press-release">
        25 July 2011
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        Transport for London's MD of Surface Transport, Leon Daniels, today demanded an explanation from Thames Water after their works on the Marylebone Road again inconvenienced tens of thousands of Londoners for no purpose.
        
    </div>



 <div class="on-this-page">
<p>The works, to deal with a leaking water main, closed two Westbound lanes of the Marylebone Road throughout Saturday night and Sunday until 14:00 - causing long queues as traffic was reduced to a single lane.</p>
<p>Whilst Thames Water discovered in the early hours of Sunday morning that the excavation work being carried out was not in the right place to locate and repair the leak, it then took them over nine hours to completely re-open the road to traffic. </p>
<p>This was the ninth time in 16 months that Thames Water has dug up parts of the Marylebone Road in unsuccessful attempts to locate a leak, which is also affecting Baker Street Underground station.&nbsp;</p>
<p>&nbsp;Worse still, Thames Water's lack of planning and disregard for the effect of their works has meant that Londoners have faced completely unnecessary delays for the fourth time.&nbsp; </p>
<p>Not only have Thames Water's contractors previously dug up the road in completely the wrong place, on three separate occasions Thames Water have failed to get their contractors to site as soon as repairs have been completed.&nbsp;</p>
<p>Instead, sites have sat idle when the road could have been reinstated and completely reopened to traffic far earlier.&nbsp; </p>
<p>Leon Daniels, Managing Director of Surface Transport at TfL, said: 'The tens of thousands of Londoners who have been inconvenienced by these repeatedly pointless works will rightly be exasperated.</p>
<p>'We have had another busy summer Sunday with long delays whilst the problem with the leaking water main remains unsolved.</p>
<p>'I contacted Thames Water on Sunday to draw their attention to this unacceptable failure and to demand an explanation. </p>
<p>'I have tasked my team with exercising the closest possible scrutiny over subsequent Thames Water works and through this we will - on behalf of Londoners - apply pressure to ensure that Thames Water do everything they can to limit further disruption.'<br></p>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "The works, to deal with a leaking water main, closed two Westbound lanes of the Marylebone Road throughout Saturday night and Sunday until 14:00 - causing long queues as traffic was reduced to a single lane.Whilst Thames Water discovered in the early";}
        
        


 