


@{ViewBag.Title = "Transport for London publish draft accessibility action plan for comments ";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>Transport for London publish draft accessibility action plan for comments </h1>
        <div class="content-page-press-release">
        08 July 2011
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        Londoners are being asked what they think about plans to make public transport in the Capital more accessible in the future at stakeholder meetings to be held over the next few months.
        
    </div>



<div class="pull-quote">
        <div class="quote-body">"Our aim is to provide passengers with more confidence to travel through better information and physical improvements to our transport system. I hope anyone with a view on this in the capital will come back to us with their comments."</div>
        <div class="quote-footer">
            <div class="quotee-name">Michele Dix</div>
            <div class="quotee-job-title">Managing Director for Planning at TfL</div>
        </div>
</div>

 <div class="on-this-page">
<div class="pullquote right">
                        <p>
                             Our aim is to provide passengers with more confidence to travel through better information and physical improvements to our transport system. I hope anyone with a view on this in the capital will come back to us with their comments.
                            
                        </p>
                    </div>
                
            
            
            <p>With funding for improvements currently limited they are being asked what projects they would prioritise in the Mayor's <a href="/assets/downloads/taking-forward-the-mts-accessibility-implementation-plan-report.pdf">Accessibility Implementation Plan</a>.</p>
<p>Their opinions will also help Transport for London (TfL) to make the best possible case when they make future bids for Government funding to support accessibility projects. </p>
<p>The Mayor of London's Transport Strategy includes an Accessibility Implementation Plan that sets out what is being done to make transport services accessible, what is due to be delivered and what TfL's priorities should be. </p>
<p>A report providing further detail on the existing accessibility proposals in the Mayor's strategy is now open for consultation and TfL will be engaging directly with accessibility groups. One potential long term aim the report sets out is to reduce extra journey time taken by passengers with mobility problems by as much as half by 2031.</p>
<p>TfL hopes the report will generate a discussion of options and priorities for accessibility improvements on London's transport system beyond the current programme of improvements. </p>
<p>Michele Dix, Managing Director for Planning at TfL, said: 'We want to continue to improve the experience of public transport for those with accessibility needs. Our aim is to provide passengers with more confidence to travel through better information and physical improvements to our transport system. I hope anyone with a view on this in the capital will come back to us with their comments.'</p>
<p>The Mayor and TfL are determined to ensure that London's transport network is as accessible as possible and a great deal of progress has been made over the last 10 years, including:</p>
<ul>
<li>All of London's 8,500 buses are now low floor and provide audio and visual announcements </li>
<li>The DLR and Croydon Tramlink networks are step-free and provide visual and audible information </li>
<li>New trains on London Overground meet the latest accessibility specifications&nbsp;- by 2012 a total of 30 station will have step-free access </li>
<li>As London Underground stations are refurbished they are fitted with accessible features including tactile strips and contrasting rails and hand poles. 62 LU stations provide step-free access from street to platform, with a total of 65 due to be step-free ahead of the London 2012 Games </li>
<li>The new trains currently being introduced on the Victoria and sub-surface lines meet the latest accessibility requirements including easier boarding and alighting, improved lighting, visual and audible information, and more space for pushchairs and wheelchairs</li></ul>
<p>TfL continues to invest in making London's transport network more accessible, with projects funded in TfL's Business Plan prioritising step-free access at strategic interchanges, improving street accessibility in town centres and around accessible stations. </p>
<p>However, TfL recognises there is more to do and would like to hear from people and stakeholder groups on how the existing proposals in the Mayor's Transport Strategy should be prioritised. </p>
<p>Early involvement from stakeholders will help provide the best possible focus on areas that will provide the biggest improvement for passengers; and build the case for ongoing investment in accessible transport beyond the period of TfL's current Business Plan and funding settlement with Government to 2014/15.<br><br>The report takes major programmes such as Crossrail and Thameslink into account and looks at a 'whole journey approach' for passengers in London by working with Network Rail, train operating companies and local authorities. </p>
<p>This should provide a more consistent approach when travelling around the Capital and provide those with mobility difficulties the confidence in travelling independently.</p>
<p>The consultation will run until the end of October 2011 and a final report is due to be published in December. </p>
<p>This report will inform the development of other planning documents including the five sub-regional transport plans, TfL's planning for the period of its next five year Business Plan, 2015-2020, and TfL's recommendations for step-free schemes at National Rail stations.</p>
<p><strong>
<hr>
</strong>
<p>
<p><strong>Notes to Editors </strong></p>
<ul>
<li>See the Mayor's <a href="/assets/downloads/taking-forward-the-mts-accessibility-implementation-plan-report.pdf">Transport Strategy Accessibility Implementation Plan</a> including&nbsp;a full report and consultation materials </li>
<li>The report shows how the Accessibility Implementation Plan in the 2010 Mayor's Transport Strategy is proposed to be implemented. It does not propose any alterations to the policies and proposals concerning mobility access outlined in the Mayor's Transport Strategy and does not amount to a revision of the MTS </li>
<li>See an <a href="http://www.london.gov.uk/publication/transport-strategy-integrated-impact-assessment">Integrated Impact Assessment</a> which included an equalities impact assessment of the policies and proposals contained in the Mayor's Transport Strategy, including those in its Accessibility Implementation Plan.</li></ul>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "With funding for improvements currently limited they are being asked what projects they would prioritise in the Mayor's Accessibility Implementation Plan.Their opinions will also help Transport for London (TfL) to make the best possible case when they";}
        
        


 