


@{ViewBag.Title = "Transport for London's response to Coroner's recommendations following 7/7 Inquest";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>Transport for London's response to Coroner's recommendations following 7/7 Inquest</h1>
        <div class="content-page-press-release">
        19 July 2011
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        A statement from London's Transport Commissioner Peter Hendy following the publication of the responses to the recommendations of the 7/7 Inquest today.
        
    </div>



 <div class="on-this-page">
<p>'We will never forget the events of 7th July 2005 and our thoughts are with the victims of the attacks, those injured and their families once again at this time. </p>

<p>'The actions of our staff and the emergency services that day were often nothing short of heroic - going above and beyond the call of duty to help and comfort those affected.</p>

<p>'A great deal has already been done since 7 July 2005 to improve our equipment, capabilities and preparedness for such major incidents. </p>

<p>'This includes the installation of new multi-million pound communications systems CONNECT and Airwave, which enable London Underground and emergency services radios to work on the deepest parts of the network.</p>

<p>'We have also established closer working with other agencies, enhanced staff training and increased medical supplies at stations.</p>

<p>'Transport for London (TfL) has accepted and responded to Lady Justice Hallett's recommendations, recognising that everything practicable should be done to ensure that TfL and its partner agencies are able to respond in the most effective way possible should similar events ever happen again.'</p>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "'We will never forget the events of 7th July 2005 and our thoughts are with the victims of the attacks, those injured and their families once again at this time. 'The actions of our staff and the emergency services that day were often nothing short of";}
        
        


 