


@{ViewBag.Title = "Transport for London seeks your views on proposed changes to routes 206, 224 and PR2 Wembley and Park Royal area";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>Transport for London seeks your views on proposed changes to routes 206, 224 and PR2 Wembley and Park Royal area</h1>
        <div class="content-page-press-release">
        13 July 2011
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        Transport for London (TfL) London Buses is seeking the views of the local community on proposed changes to routes 206, 224 and PR2 in the Wembley and Park Royal area.
        
    </div>



 <div class="on-this-page">
<p>Under the proposed changes route 224 would be re-routed to serve St Raphael's Estate.&nbsp; </p>
<p>This would replace route 206 which would be extended to the Paddocks and operate along the roads used by the current PR2 service.&nbsp; </p>
<p>As a result route PR2 would no longer run. </p>
<p>These changes would provide a direct link to Central Middlesex Hospital from St Raphael's Estate. </p>
<p>This would also provide many users along the existing PR2 route with a Sunday service for the first time. </p>
<p>Route 224 and 206 will operate every 15 minutes during the day, Monday to Saturday, and every 20 to 30 minutes on Sundays. </p>
<p>Peter Bradley, Head of Consultation and Engagement, said: 'We believe these proposed change to bus routes will offer a better service to residents and visitors in the Wembley and Park Royal area.&nbsp; </p>
<p>'However we would like to know the local community's views before making a decision about whether to go ahead with these changes.'</p>
<p>The consultation is now open and will run until 19 August 2011.&nbsp; </p>
<p>Full details are available on the <a href="http://www.tfl.gov.uk/busrouteconsultation">TfL website</a>. </p>
<p>Details are also available from London Buses Customer Services on 0845 300 7000 or email <a href="mailto:STengagement&#64;tfl.gov.uk">STengagement&#64;tfl.gov.uk</a>.</p>
<p>The proposed changes, depending on the views expressed during consultation, would be introduced in October 2011.</p>
<p>
<hr>
</p>
<p><strong>Notes to editors:</strong></p>
<ul>
<li>London Buses Customer Services can be contacted by:</li>
<ul>
<li>Telephone on 0845 300 7000</li>
<li>Email at <a href="mailto:STengagement&#64;tfl.gov.uk">STengagement&#64;tfl.gov.uk</a></li>
<li>By post to Consultation and Engagement Centre, 11th Floor, Palestra, 197 Blackfriars Road, London SE1 8NJ</li></ul></ul>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "Under the proposed changes route 224 would be re-routed to serve St Raphael's Estate.&nbsp; This would replace route 206 which would be extended to the Paddocks and operate along the roads used by the current PR2 service.&nbsp; As a result route PR2 would";}
        
        


 