


@{ViewBag.Title = "Transport for London employee wins National Apprentice of the Year";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>Transport for London employee wins National Apprentice of the Year</h1>
        <div class="content-page-press-release">
        01 July 2011
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        Transport for London (TfL) is proud to announce that eighteen year old Shauni O'Neill has been awarded the National Apprentice of the Year Award.
        
    </div>



<div class="pull-quote">
        <div class="quote-body">"I'm proud that Transport for London can offer such opportunities and we are committed to ensuring others can follow in Shauni's footsteps"</div>
        <div class="quote-footer">
            <div class="quotee-name">Peter Hendy</div>
            <div class="quotee-job-title">London's Transport Commissioner</div>
        </div>
</div>

 <div class="on-this-page">
<div class="pullquote right">
                        <p>
                            I'm proud that Transport for London can offer such opportunities and we are committed to ensuring others can follow in Shauni's footsteps
                            
                        </p>
                    </div>
                
            
            
            <p>Having already been named London Apprentice of the Year in May, Shauni, who lives in Borehamwood, went on to scoop the top prize at the National Apprenticeship Awards at a ceremony in London on Wednesday (29 June) night that recognised apprentices throughout the country. </p>
<p>TfL was also recognised by the National Apprenticeship Service, featuring in their Top 100 Apprenticeships Employers list as part of the GLA Group. Tube Lines, which carries out essential maintenance and upgrade work for London Underground, also features in the top 100.</p>
<p>Shauni began her Rail Transport Operation Apprenticeship with London Underground in September 2009 and completes the course in two weeks (mid July) she will then take up her new role as a Customer Service Assistant at Hendon Central Tube station.</p>
<p>She has become a role model and ambassador for both TfL and the apprenticeship scheme, featuring on London Underground's recruitment website and attending events to promote apprenticeships.</p>
<p>Shauni said: 'I'm ecstatic to have received this award and to have been given the opportunity by London Underground to become an apprentice, learn new skills and get the experience that matters when it comes to getting a full time job. I would like to thank everyone at London Underground who has invested their time in helping me to get where I am today.'</p>
<p>The Mayor of London, Boris Johnson, said: 'It is absolutely fantastic to see that London apprentices such as Shauni are forging a national reputation for themselves by scooping top awards like these. Many congratulations go to Shauni for her important work on the London Underground and to all of the other winners who have triumphed. </p>
<p>'The National Apprenticeship Awards show that there are some really great things being achieved by apprentices and their employers across the country and it is vitally important we recognise them.'</p>
<p>Peter Hendy, London's Transport Commissioner said: 'This is such terrific news and huge congratulations go from us all to Shauni. Apprenticeship schemes within TfL are vitally important and give youngsters the chance to learn a new trade, build their experience and increase their chances of going straight into full time employment. </p>
<p>'I'm proud that TfL can offer such opportunities and we are committed to ensuring others can follow in Shauni's footsteps.'</p>
<p>As an apprenticeships champion, TfL provides an array of opportunities in engineering, operations and maintenance functions. </p>
<p>In support of the Mayor of London's apprenticeship campaign TfL has committed to deliver more than 2,500 apprenticeship positions - internally and through its suppliers by 2012.&nbsp;&nbsp;&nbsp; </p>
<p>
<hr>
<strong>Notes to editors:</strong>
<ul>
<li>The Operational Apprenticeship is aimed at addressing the under-representation 16 to 18-year-olds in LU operational roles </li>
<li>London Underground offers this apprenticeship opportunity to 16 to 18-year-olds as those under the age of 18 cannot apply for any other operational roles in LU due to the nature of the work and the age restrictions on the required licenses </li>
<li>At the end of the scheme apprentices will move into an operational position, if available, within the LU Network </li>
<li>TfL's Supplier Skills Team (SST) is dedicated to working with TfL suppliers to address skills shortages in the transportation and engineering sector by maximising training, apprenticeship and employment opportunities arising from its contracts </li>
<li>The SST is currently working with London bus operators, Barclays Cycle Hire contractor, Serco and TfL's three Highways Maintenance Work Contractors on implementing and developing apprenticeship schemes </li>
<li>TfL works with partners City and Guilds of London Institute and Four Counties Training to deliver the apprenticeship schemes<br></li></ul>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "Having already been named London Apprentice of the Year in May, Shauni, who lives in Borehamwood, went on to scoop the top prize at the National Apprenticeship Awards at a ceremony in London on Wednesday (29 June) night that recognised apprentices";}
        
        


 