


@{ViewBag.Title = "Two further Barclays Cycle Superhighways now open";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>Two further Barclays Cycle Superhighways now open</h1>
        <div class="content-page-press-release">
        19 July 2011
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        Two brand new Barclays Cycle Superhighways routes have been declared fully open and ready for use today. It was also announced that cycling has increased dramatically on two pilot routes opened last summer.
        
    </div>



<div class="pull-quote">
        <div class="quote-body">"Our pilot routes have proved a great success with lots more Londoners leaping into the saddle, and telling us they feel safer on the road. I'm confident our new cycle superhighways will prove just as popular."</div>
        <div class="quote-footer">
            <div class="quotee-name">Kulveer Ranger</div>
            <div class="quotee-job-title">the Mayor of London's Director for Environment</div>
        </div>
</div>

 <div class="on-this-page">
<div class="pullquote right">
                        <p>
                            Our pilot routes have proved a great success with lots more Londoners leaping into the saddle, and telling us they feel safer on the road. I'm confident our new cycle superhighways will prove just as popular.
                            
                        </p>
                    </div>
                
            
            
            <p>The two new routes run from Bow to Aldgate and Wandsworth to Westminster. </p>
<p>They will contribute to the Mayor's aim of bringing a cycle revolution to the capital by making it easier and safer for cyclists to commute into central London on direct and continuous cycle routes.</p>
<p>Considerable improvements have been made to infrastructure along both of the new routes to benefit both cyclists and other road users. </p>
<p>On the Wandsworth to Westminster route dedicated cycle only lanes have been introduced along Grosvenor Road and Millbank and a new off-road cycle path has been created alongside Wandsworth Bridge roundabout. </p>
<p>On the Bow to Aldgate route major improvements have been made to the junction of Cambridge Heath Road and Whitechapel Road to make the area easier for cyclists, motorists and pedestrians to use. </p>
<p>Significant improvements have also been made at Bow roundabout and a number of other junctions to assist cyclists and to provide a continuous and navigable route along the Superhighway. </p>
<p>Last year the Mayor of London, Boris Johnson, launched the first two pilot routes, which run from Merton to the City and Barking to Tower Gateway. </p>
<p>New data released by Transport for London today indicates that since the pilot Superhighways were introduced cycling has increased by 46 per cent along the Merton to City route, and by 83 per cent along the Barking to Tower Gateway route.</p>
<p>&nbsp;On some sections of the route cycling increased by more than 100 per cent, and over three quarters of cyclists on the routes use them for travelling to and from work. </p>
<p>The new research also revealed that 80 per cent of users surveyed felt Barclays Cycle Superhighways improved safety for cyclists. </p>
<p>Two thirds of users claimed the blue surfacing helps them to feel safer on the road, and that the general public gives more space to cyclists because of the blue surfacing, especially at junctions and roundabouts. </p>
<p>Kulveer Ranger, the Mayor of London's Director for Environment, said: 'These vivid blue routes make the world of difference for cyclists on the streets of London, and prove a powerful and visible statement on our roads that assert to every Londoner, whether on two wheels or four, that the capital is a cycling city. </p>
<p>'Our pilot routes have proved a great success with lots more Londoners leaping into the saddle, and telling us they feel safer on the road. I'm confident our new cycle superhighways will prove just as popular.'</p>
<p>Part of the new Barclays Cycle Superhighways package is funding for the five London boroughs and local businesses along each route to increase cycle parking and to provide cycle safety checks and cycle training. </p>
<p>581 businesses have expressed interest in the funding and 71 have already registered for it. </p>
<p>With more and more cyclists taking to the road in the capital, Transport for London and the Mayor are working hard to make sure cycling in London continues to get safer. TfL offers free cycle training which we would encourage new and experienced cyclists to take full advantage of. For further information visit: <a href="http://www.tfl.gov.uk/cycling">www.tfl.gov.uk/cycling</a></p>
<p>It is important that cyclists are aware of key cycle safety tips such as wearing bright clothing and never going up the left-hand side of lorries at junctions. </p>

<p>Drivers are also reminded that cyclists are 'vehicles' on the road and just like any other vehicle they require space, consideration and awareness.</p>

<p>Ben Plowden, TfL Director of Better Routes and Places, said: 'We now have four Barclays Cycle Superhighway routes in operation which is a great achievement over a relatively short period of time.</p>

<p>'Our pilot route research indicates that more and more people are using the routes to cycle to and from work which goes to show that Londoners are recognising that cycling is not only good for your health and fitness but it is also extremely good for your wallet. </p>
<p>'I'm sure like the pilot routes, our new cycle superhighways will be popular with residents that live near the Barclays Cycle Superhighways so they are able to take full advantage of the benefits of cycling in London.'</p>
<p>The Mayor and TfL are investing record amounts in cycling for the Barclays Cycle Superhighways, Barclays Cycle Hire, cycle infrastructure, training and education. </p>
<p>Over the last year cycling has increased by 15 per cent along the TLRN and by 150 per cent since 2000. This equates to around half a million cycle journeys across London each day. </p>
<p><br>Deanna Oppenheimer, Vice-Chair, Retail and Business Banking at Barclays, said: 'Over the course of the last 12 months, research has shown how thousands of Londoners have used the first two Barclays Cycle Superhighways. The additional routes launched today will provide further options for people to get around the Capital in an environmentally friendly and healthy way. </p>
<p>'Together with Barclays Cycle Hire, both schemes are having a positive impact on London and the lives of Londoners.'<br></p>
<p><strong>
<hr>
</strong>
<p>
<p><strong>Notes to Editor</strong></p>
<p>Five boroughs; City, Tower Hamlets, Kensington &amp; Chelsea, Westminster and Wandsworth, have bid for a share of &pound;625,000 of funding in order to provide cycle parking, cycle training and cycle safety checks. Businesses can visit the following address for further information: <a href="http://www.tfl.gov.uk/cyclingworkplaces">www.tfl.gov.uk/cyclingworkplaces</a></p>
<ul>
<li>The two new Barclays Cycle Superhighways routes run from Bow to Aldgate (CS2) and Wandsworth to Westminster (CS8) </li>
<li>The two pilot Barclays Cycle Superhighways routes run from Merton to the City (CS7) and Barking to Tower Gateway (CS3) and launched on 19 July 2010 </li>
<li>Key route improvements for each route include: <br> &nbsp;CS2 - Bow to Aldgate: <br>-&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 12 junctions modified to improve conditions for cyclists (and pedestrians) <br>-&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 37 new or improved Advanced Stop Lines (ASLs) <br>-&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 23 road-side safety mirrors installed at junctions <br>-&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 27,000 m2 of road has been resurfaced <br>-&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 3000 m2 of pavement has been re-laid <br>-&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 9 km of new and improved cycle lanes, cycle track and blue surfacing <br> &nbsp;CS8 - Wandsworth to Westminster: <br>-&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 3.6 km of new mandatory cycle lanes (1.5m to 2.5m wide) <br>-&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 8.0 km total of new or improved cycle lanes <br>-&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 17 junctions modified to improve conditions for cyclists (and other users) <br>-&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 3 crossings improved for cyclists, 1 pedestrian crossing upgraded <br>-&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 46 new or improved Advanced Stop Lines (ASLs) <br>-&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 31 road-side safety mirrors installed at junction <br>-&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; c. 22,000 m2 of road has been resurfaced </li>
<li>Counts of cyclists were taken at points along each route (11 locations on CS7 and 7 locations on CS3) pre launch in June, August and October 2010, and post launch in August and October 2010 and June 2011. The average counts before introduction compared with the average counts after introduction show increases of 100 per cent or more in cycle journeys on some sections </li>
<li>Scheme user research was conducted in October and November 2010 with people using the routes to understand the characteristics of trips made on the routes and of people making them, and the experiences/satisfaction and attitudes of those using the routes. 80 per cent of respondents of this research said they cyclists feel that Barclays Cycle Superhighways help to improve safety for cyclists. The fact that the routes make people feel safer is backed by qualitative research with users undertaken in May 2011 </li>
<li>The Barclays Cycle Superhighways are a set of 12 radial routes aimed at delivering benefits to cyclists by making it safer and easier to commute by bike between outer and inner London on direct and continuous cycle routes </li>
<li>The Mayor and TfL have a target to increase cycling by 400 per cent across London by 2026 (compared to 2000 levels) </li>
<li>The Mayor and TfL are investing a record &pound;116m in cycling in 2010/11 with the money spent on Barclays Cycle Superhighways, Barclays Cycle Hire, infrastructure, training, promotion and education</li></ul>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "The two new routes run from Bow to Aldgate and Wandsworth to Westminster. They will contribute to the Mayor's aim of bringing a cycle revolution to the capital by making it easier and safer for cyclists to commute into central London on direct and";}
        
        


 