


@{ViewBag.Title = "Unzip the summer holidays and make the most of your 11-15 Zip Oyster photocard";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>Unzip the summer holidays and make the most of your 11-15 Zip Oyster photocard</h1>
        <div class="content-page-press-release">
        25 July 2011
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        Young Londoners can explore the Capital on public transport without breaking the bank with a Zip Oyster photocard.
        
    </div>



 <div class="on-this-page">
<div class="pullquote right">
                        <p>
                            I hope that all parents and young people in London are aware of the benefits of the Zip Oyster photocard schemes
                            
                        </p>
                    </div>
                
            
            
            <p>Parents and young Londoners are being encouraged to make the most of their summer holidays by using Transport for London's (TfL's) 11-15 Zip Oyster photocard scheme. </p>
<p>They can apply online at <a href="http://www.tfl.gov.uk/Photocards">tfl.gov.uk/photocards</a> or collect an application form from a Post Office in London.</p>
<p>The 11-15 scheme gives eligible young people free travel on buses and trams in the Capital - freeing up their wallets for summer fun. </p>
<p>It also gives 11-15 Oyster photocard holders child-rate travel on the Tube, Docklands Light Railway (DLR), London Overground and National Rail services. </p>
<p>The scheme is also available to those living outside London.</p>
<p>The Zip card gives the young people of London the opportunity to make the most of the Capital. </p>
<p>At the moment, more than half a million young Londoners are using the scheme which gives every young Londoner the chance to travel around the city they live in. </p>
<h2>Make the most of the Capital</h2>
<p>Steve Burton, TfL's Director of Community Safety, Enforcement and Policing, said:&nbsp;'Many young Londoners already have a Zip Oyster photocard. </p>
<p>'However, with the summer holidays about to start, we want to encourage those who do not have one to apply so they can save on travel costs, and also make the most of our Capital. </p>
<p>'To access the Zip schemes, parents and their children need to make sure that they apply, and I urge them all to do so.</p>
<p>'Summer can be an expensive time for families as young people have so much free time to fill during the holidays. </p>
<p>'I hope that all parents and young people in London are aware of the benefits of the Zip Oyster photocard schemes and that they remember to apply.'</p>
<p>All Zip Oyster photocard applications made at the Post Office must be supported by proof of identity of the parent or guardian signing the application form and proof of age of the applicant. </p>
<p>It may take up to two weeks to process applications. </p>
<p>11-15 year olds who do not have a valid Zip Oyster photocard must pay the adult cash fare on buses and trams. </p>
<h2>Apply now</h2>
<p>Proof of application will not be accepted by bus drivers as a valid ticket for travel. </p>
<p>This year, parents or guardians can make applications for the 5-10 and 11-15 Zip Oyster photocard online at <a href="http://www.tfl.gov.uk/photocard">tfl.gov.uk/photocard</a>.&nbsp;</p>
<p>Applications can also continue to be made at Post Offices in London.</p>
<p>&nbsp;Zip Oyster photocard holders must adhere to the Behaviour Code, treating other passengers with respect.&nbsp; </p>
<p>It's also important they remember to always touch in when boarding buses and trams, and touch in and out on Tube, DLR, London Overground and National Rail (in London) journeys.</p>
<p>Further details are available at <a href="http://www.tfl.gov.uk/zip">tfl.gov.uk/zip</a></p><strong>
<p>
<hr>
</p>
<p>Notes to editors:</strong><p>
<ul>
<li>Parents or guardians can make applications for their child's 11-15 Zip Oyster photocard up to one month before their 11th birthday</li>
<li>All Zip Oyster photocard applications made at the Post Office must be supported by proof of identity of the parent or guardian signing the application form and proof of age of the applicant.&nbsp;It must be one of the following and should be dated in the last three months:</li>
<ul>
<li>Residential utility bill, Council tax bill, Bank, building society or credit card statement, Council or housing association rent book or statement, Driving licence (full or provisional)</li>
<li>Proof of age of the applicant, either: Passport, ID card from a European Economic Area country, birth certificate&nbsp; or driving licence (full or provisional)</li></ul>
<li>There are currently 537,359 cardholders on the under-16 Oyster photocard schemes as of 27 June 2011</li>
<li>There are three different categories for the Zip Oyster photocards. They are categorised by ages:&nbsp; 5-10, 11-15 and 16+</li>
<li>Over-16s can also be eligible for concessionary travel with the 16+ Zip or 18+ Student Oyster photocard. As of 27 June 2011, there are 176,988 16+ Oyster photocard holders that have the free bus and tram concession and 15,040 that have the half-rate travel concession</li>
<li>Eligible 16+ Oyster photocard holders aged 16 or 17 and holders of 11-15 or Child Oyster photocards should apply for their cards in September. A partly completed application form will be sent to eligible applicants in August</li>
<li>Applications for the 16+ card will be available from and accepted at Post Offices from 1 September.&nbsp;These must be submitted by 15 September to ensure they receive their new 16+ Oyster photocards by 30 September</li>
<li>All 16+ Oyster photocard holders can buy 7 Day, monthly or longer period Travelcard and Bus &amp; Tram Pass season tickets at child-rate and pay as you go at half the adult rate, even if they don't qualify for free bus and tram travel</li>
<li>Under-16s can buy child-rate and Day Travelcards and on Tube services pay the cash single fare without a Zip Oyster photocard.&nbsp;The Zip Oyster photocard allows child-rate pay as you go which is cheaper than cash fares. They can also buy child-rate Travelcard season tickets with an Oyster photocard</li>
<li>11-15-year-olds and those eligible for the 16+ scheme who do not have a valid Oyster photocard must pay the full adult cash fare on buses and trams until they get one</li>
<li>A non-refundable &pound;10 administration fee will be payable for all applications for Zip Oyster photocards. The administration fee for the 18+ Student Oyster photocard is also &pound;10. The &pound;10 charge is to contribute to TfL's administration costs of the concessionary schemes, including processing application forms, photocard production and postage</li>
<li>Zip applications need to be supported by proof of identity for the parent or guardian signing the application form, proof of age of the applicant, a photograph of the applicant and &pound;10 fee. 16+ applicants for free travel need to have their forms validated by their school, college or training provider and provide proof that they live in a London borough</li>
<li>If an Oyster photocard has been lost, stolen or damaged the cardholder will have to reapply to get a replacement and pay a non-refundable fee of &pound;10</li>
<li>Information is also available in Bengali, Chinese, Czech, French, Greek, Gujarati, Hindi, Punjabi, Spanish, Turkish and Vietnamese</li>
<li>Non-London residents can apply for a Zip Oyster photocard online at <a href="http://www.tfl.gov.uk">tfl.gov.uk</a> photocard (for children aged between five and 17) and are also subject to the &pound;10 administration fee</li>
<li>Application forms for Zip Oyster photocards can be obtained from Post Offices in London. Online applications for the 5-10 and 11-15 Oyster photocard can be made at <a href="http://www.tfl.gov.uk/photocard">tfl.gov.uk/photocard</a></li></ul>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "Parents and young Londoners are being encouraged to make the most of their summer holidays by using Transport for London's (TfL's) 11-15 Zip Oyster photocard scheme. They can apply online at tfl.gov.uk/photocards or collect an application form from a Post";}
        
        


 