


@{ViewBag.Title = "Works begin on Blackfriars bridge junction to support state-of-the-art station development ";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>Works begin on Blackfriars bridge junction to support state-of-the-art station development </h1>
        <div class="content-page-press-release">
        25 July 2011
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        Work is set to start on an essential new road layout on Blackfriars Bridge that will be capable of handling the 40,000 passengers expected to leave the upgraded Blackfriars station every day.
        
    </div>



 <div class="on-this-page">
<p>The first stage of work begins on the evening of 29 July and should be completed by the early morning of 1 August.</p>
<p>Blackfriars station will reopen later this year following a &pound;550 million, three year upgrade project. </p>
<p>The upgraded station is expected to be used by more than 40,000 passengers every day - a 60 per cent increase on the 25,000 that were previously using the station prior to its refurbishment.</p>
<p>When the new station is at full capacity, more than 24,000 pedestrians will enter and exit during the morning peak. </p>
<p>That is ten times the number of pedestrians that used the surface entrance in 2008 before station redevelopment works began.</p>
<p>&nbsp;The current and previous road layouts would simply not be able to handle the extra pedestrians that will need to negotiate the space around and across the junction adjacent to the new station entrance.</p>
<p>The new design accommodates the huge increase in demand from pedestrians whilst improving facilities for the estimated six per cent of people who travel through the junction by bicycle. </p>
<p>That has been achieved without severely affecting other modes of travel, such as the bus and taxi passengers who will account for around a fifth of those using the junction (11 per cent and&nbsp;eight per cent respectively). </p>
<p>Analysis by TfL shows that usage by cyclists through this junction is predominantly for travelling to and from work and is therefore concentrated during traditional 'rush hour' periods, particularly in the morning heading northbound and in the afternoon heading southbound. </p>
<p>Vehicular speeds are predicted to be at their lowest through the junction during peak time, at an estimated speed of just 12mph, creating a much improved and safer environment for cyclists to pass through.</p>
<p>From the evening of 29 July to the early morning of 1 August one lane northbound and one lane southbound will be restricted, with work continuing throughout the night to complete the works as quickly as possible. </p>
<p>This first phase of works is due to completed by 5am on 1 August so that peak weekday traffic is not affected. </p>
<p>Further phases of work to the bridge layout will follow later on in the Summer, timed to avoid other substantive works to bridges in central London.</p>
<p>Leon Daniels, Managing Director of Surface Transport at TfL, said: 'Following the completion of Network Rail's upgrade of Blackfriars station in December, more than 24,000 pedestrians will enter and exit the station at surface level during the morning peak - a ten-fold increase compared to before the redevelopment works began.</p>
<p>'This huge increase means that the current junction layout is simply no longer suitable, which is why - following extensive consultation, including with cyclist groups - we have designed a new layout that allows all road users, especially cyclists and pedestrians, to use the junction safely.</p>
<p>'In order to keep disruption to Londoners to an absolute minimum our contractor will be working 24 hours a day from the evening of 29 July to the morning of 1 August, thereby getting the work done in the shortest possible amount of time and avoiding clashing with other planned bridge works in central London.'</p>
<p>In order to deliver the best solution to the new requirements at the junction, Transport for London (TfL) engaged extensively with the public on its proposals. </p>
<p>A large number of responses were received, with the fundamental concerns being the safety of cyclists travelling through the junction during the peak periods.</p>
<p>Following this engagement, TfL made changes to further improve the junction design.</p>

<p>
<hr>
<strong>Notes to Editors&nbsp;</strong> </p>
<p>
<ul>
<li>Works currently underway that affect access to and from Westminster Bridge are due to complete on 25 July. BT works at Waterloo Bridge, which have been timed for the quieter summer period when traffic is at its lightest, begin on 25 July. These will require one lane of the northbound section to be closed for 6 weeks. The timing of the works at Blackfriars mean that TfL has avoided having works at both Blackfriars and Waterloo bridges simultaneously on any weekday</li></ul>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "The first stage of work begins on the evening of 29 July and should be completed by the early morning of 1 August.Blackfriars station will reopen later this year following a &pound;550 million, three year upgrade project. The upgraded station is expected";}
        
        


 