


@{ViewBag.Title = "Works starts on innovative cable car to boost regeneration in east London";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>Works starts on innovative cable car to boost regeneration in east London</h1>
        <div class="content-page-press-release">
        06 July 2011
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        The Mayor's plans to regenerate east London received a boost today with the start of construction works for the Capital's innovative cable car.
        
    </div>



<div class="pull-quote">
        <div class="quote-body">"This stunning new landmark will cut existing journey times, link two popular destinations and draw visitors from across the globe"</div>
        <div class="quote-footer">
            <div class="quotee-name">Boris Johnson</div>
            <div class="quotee-job-title">Mayor of London</div>
        </div>
</div>

 <div class="on-this-page">
<div class="pullquote right">
                        <p>
                            This stunning new landmark will cut existing journey times, link two popular destinations and draw visitors from across the globe
                            
                        </p>
                    </div>
                
            
            
            <p>Work has now begun on both sides of the river on the two stations passengers will be using for the cable car; this includes piles being driven deep into the ground to support the construction of the building foundations.&nbsp; </p>
<p>Work to install the piles for the new north station in the Royal Victoria Dock is taking place from a barge rig moored in the dock and on the Greenwich Peninsula for the south station.&nbsp; </p>
<p>Work in the river is also progressing to probe for obstructions prior to the river piling.&nbsp; </p>
<p>The new transport link is set to give a once-in-a-lifetime boost to the economic regeneration of east London, providing an essential addition to a newly created Enterprise Zone.</p>
<p>This supports the Mayor's vision to transform this area into a new metropolitan quarter boasting new businesses, tourist attractions, homes and job opportunities. </p>
<p>The scheme will provide a quicker link between the O2 and ExCeL - two of the biggest entertainment and exhibition venues in Europe, cutting travel times to five minutes.&nbsp; </p>
<p>Scheduled for completion in summer 2012 the airborne link will provide spectacular views across the Thames, and a new and unique addition to London's transport network for thousands of commuters and visitors to London. </p>
<h2>Boosting regeneration</h2>
<p>Mayor of London, Boris Johnson, said: 'London's cable car will boost the ongoing renaissance of this easterly quarter of the Capital, helping to secure a massive legacy for Londoners coming from the 2012 Games. </p>
<p>'This stunning new landmark will cut existing journey times, link two popular destinations and draw visitors from across the globe.'</p>
<p>Howard Smith, one of Transport for London's (TfL's) Chief Operating Officer's, said: 'TfL is proud that in such a short period of time we've been able to start main works for the cable car. </p>
<p>'This scheme offers a great opportunity not only to boost the number of river crossings in London but also promote the regeneration of this part of east London and to support tourism to the Capital.'</p>
<p>In order to get the link off the ground TfL has agreed to provide the upfront costs for the cable car. </p>
<p>TfL will recoup its costs from a range of sources including the appointed commercial partner, fare revenue and advertising. </p>
<p>As part of this process, TfL opened an Invitation to Tender for sponsors in June 2011. </p>
<p>The tender closes next week (mid-July) and the winning partner is expected to be announced later this year.</p>
<p>A team of expert sub-contractors, working&nbsp;for Mace, is constructing the scheme for TfL.</p>
<p>
<hr>

<p>
<p><strong>Notes to editors:</strong></p>
<ul>
<li>An exhibition will be held at the&nbsp;NLA the centre for London's built environment&nbsp;centre in Store Street, this will open on Friday 8 July and provides further detail about the cable car. The exhibition is open to the public and will include models of the design and computer generated images showing what the cable car will look like when it is fully operational next year. For&nbsp;more information, visit: <a href="http://www.newlondonarchitecture.org">www.newlondonarchitecture.org</a>&nbsp;</li>
<li>Mace has been selected as principal contractor to build the cable car and operate it for three years. Mace will lead a team of experts, including the cable car specialists, Dopplemayr, and Watson Steel, URS Scott Wilson, Buro Happold and Aedas. The cable car has been designed to the highest standards by Wilkinson Eyre Architects </li>
<li>The cable car will be the UK's first urban cable car with a crossing every 30 seconds carrying up to 2,500 passengers per hour in each direction </li>
<li>The cable car will be fully accessible and will be designed so it can be used by those with reduced mobility including wheelchair users and people with pushchairs, in addition bicycles will be allowed onto the link </li>
<li>In addition to regeneration the cable car could bring a number of additional benefits including: 
<ul>
<li>Cutting journey times between the Greenwich Peninsula and Royal Docks </li>
<li>Increase transport capacity and provide an alternative for local journeys in the area&nbsp; </li>
<li>Improve resilience in the transport network, something much needed in this area </li>
<li>Attract new visitors to east London with spectacular views along the Thames from the cabins </li>
<li>Provide a low-emission mode of public transport allowing the river to be crossed with no impact on air quality</li></ul></li>
<li>There are three other cable cars in the UK, including the Nevis Range in Scotland and the Heights of Abraham in Derbyshire. The cable car for London will operate as a mass transport scheme similar to those found in Barcelona, Lisbon, New York and Singapore </li>
<li>Travelling at a height similar to the O2 Arena it will stretch over 1km across the Thames providing a unique view of London and cut travel times between the O2 and ExCeL centre </li>
<li>There is potential for the project to be delivered in time for the 2012 Olympic Games, however this is a challenging timeline for such a complex project. The cable car is not a part of the Olympics Transport Plan so completion in time for the Games is not required </li>
<li>The Mayor is currently pursuing a package of measures to increase the number of additional river crossings as part of his Transport Plan. These are: 
<ul>
<li>A new road crossing at Silvertown would be better placed to relieve south and east London of the congestion at Blackwall and provide the resilience that is needed </li>
<li>An upgraded Woolwich Ferry </li>
<li>Consideration of a new vehicle ferry service at Gallions Reach </li>
<li>Improvement of local links for pedestrians and cyclists </li>
<li>Consideration of a long term link at Gallions Reach </li>
<li>Encourage of modal shift from private cars to public transport&nbsp; </li>
<li>Support Government proposals to reduce congestion at the Dartford crossing</li></ul></li></ul>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "Work has now begun on both sides of the river on the two stations passengers will be using for the cable car; this includes piles being driven deep into the ground to support the construction of the building foundations.&nbsp; Work to install the piles";}
        
        


 