
    
  



@{ViewBag.Title = "Bus safety";}
@{ViewBag.Keywords = "TfL";}
@{ViewBag.Url = "/corporate/safety-and-security/road-safety/bus-safety";}
@{ViewBag.Language = "en";}
        <!-- empty placeholder -->
 
        
        
<div class="r">
    <div class="breadcrumb-container" role="navigation">
        <span id="breadcrumb-label" class="visually-hidden">You are here:</span>
        <ol class="breadcrumbs clearfix" aria-labelledby="breadcrumb-label">
            <li class="home">
                <a href="/">
                    <span class="hide-text">Home</span>
                </a>
            </li>
            
                 <li><a href="/corporate/safety-and-security/index">Safety & security</a></li>
                
            
                 <li><a href="/corporate/safety-and-security/road-safety">Reducing road danger</a></li>
                
            
            
                <li><span class="last-breadcrumb">Bus safety</span></li>
            
        
 
        
 
        
 
        </ol>
    </div>
</div>
     
 
<div class="r">
  <div class="headline-container plain">
    <h1>Bus safety</h1>

  </div>
</div>
<div class="main-and-aside r">
  
  <div class="main content-container" role="main">
    
      <div class="article-teaser">
        There are fewer than three injuries for every million journeys on London's buses. But, it is not inevitable or acceptable that anyone should be killed or seriously injured when travelling in London. Our goal is that, by 2041, there will be no deaths or serious injuries on London's transport network.
        
      </div>
    
    <div class="on-this-page">
      <p>The Mayor's Transport Strategy sets out the goal for Vison Zero for London that, by 2041, all deaths and serious injuries will be eliminated from London's transport network.</p>

<p>We have set specific bus&nbsp;targets through Vision Zero for London:</p>

<ul>
	<li>A 70% reduction in people killed or seriously injured involving London buses against 2005-09 levels by 2022</li>
	<li>No one to be killed in, or by, a London bus by 2030</li>
</ul>

<h2>The Bus Safety Programme</h2>

<p>As part of this commitment, our Bus Safety Programme continuously drives major safety improvements across our network. We fund specific interventions to reduce collisions and improve existing safety processes and data collection.</p>

<ul>
	<li><strong>Safe speeds: </strong>Speed is one of the most important factors in whether a collision occurs and how severe the collision is. Ensuring that <a href="#safe speeds">speeds are appropriate</a> for the conditions is fundamental to creating a safe system</li>
	<li><strong>Safe streets: </strong>Streets must be designed, built and maintained to support a mix of safe walking, cycling and public transport use</li>
	<li><strong>Safe vehicles:</strong> Large vehicles are disproportionately involved in collisions with people who walk and cycle, and therefore these <a href="#bus-safety-standard">vehicles should be made as safe as possible</a></li>
	<li><strong>Safe behaviour: </strong>All road users are responsible for safe driving, especially drivers of large vehicles who have the most potential to cause danger to others</li>
	<li><strong>Post-collision response:</strong> Developing <a href="/corporate/publications-and-reports/bus-safety-data#fatal-incident-investigations">systematic information sharing and learning</a>, along with improving <a href="/campaign/incident-support-service">support for the victims of traffic incidents</a></li>
</ul>

<h2><a id="safe speeds" name="safe speeds"></a>Safe speeds</h2>

<p>Intelligent Speed Assistance (ISA) has already been fitted onto some vehicles in our fleet and will continue to be rolled out on new vehicles from 2019.</p>

<p>We are also developing a speed compliance tool which can be used to monitor the speed of buses across our network and help in the identification of hotspot areas for which we can focus our efforts to prevent speeding.</p>

<h2>Safe vehicles</h2>

<h3><a id="bus-safety-standard" name="bus-safety-standard"></a>The Bus Safety Standard</h3>

<p>We have developed a world-leading Bus Safety Standard which&nbsp;is now a part of bus operator route contracts.</p>

<p>The Bus Safety Standard includes:</p>

<ul>
	<li>Mandating the fitting of speed limiting technology (ISA) to all buses</li>
	<li>Trialling technologies such as Autonomous Emergency Braking (AEB), which detects other road users in a vehicle's path and brakes automatically</li>
	<li>Improving direct and indirect vision for drivers</li>
	<li>Redesigning the front of buses to help reduce the impact of a collision</li>
	<li>Use of audible warnings to alert pedestrians and other road users to the presence of buses</li>
	<li>New designs in bus interiors to reduce customer injuries</li>
</ul>

<p>Not all technologies trialled as part of the development of the bus safety standard are available immediately and some will require development time. Our <a href="/cdn/static/cms/documents/bus-safety-road-map-for-new-build-buses.pdf">Bus Safety Road Map document</a>&nbsp;sets out the future of bus vehicle safety in London as we work towards achieving Vision Zero.</p>

<p>For more information see our&nbsp;<a href="/corporate/publications-and-reports/bus-safety-data#executive-summary">Bus Safety standard executive summary.</a></p>

<h3>Bus Safety Innovation Challenge</h3>

<p>In 2018, our Bus Safety Innovation Fund supported London's bus operators to develop innovative ideas that will contribute towards a reduction in the number of people seriously injured or killed on the bus network. The fund helped develop eight projects that included new technologies, research projects and training programmes.</p>

<p>We are continuing to invest in supporting safety technology innovation in 2019 through the new Bus Safety Innovation Challenge.&nbsp;Please note, applications for the Innovation Challenge have now closed and we will be in touch with successful applicants shortly.</p>

<h2>Safe behaviours</h2>

<h3>Bus driver training</h3>

<p>We are currently developing a new Vision Zero bus driver training course. The one day course, incorporating virtual reality film, will be rolled out to all 25,000 London bus drivers from April 2019.</p>

<p>The training will teach new skills in hazard perception, better understanding of the risks to pedestrians, cyclists, motorcyclists and passengers as well as ways of preventing driver fatigue. The course will help create the safety culture and attitudes that will help us achieve Vision Zero for London.</p>

<h2>Post-collision response</h2>

<h3>Sarah Hope Line</h3>

<p>For customers affected by incidents where someone is killed or seriously injured, our specially trained Sarah Hope Line support service staff can provide guidance and helps solve practical problems resulting from the incident. <a href="/campaign/incident-support-service">Find out more about The Sarah Hope Line.</a></p>

<h3>Investigating collisions</h3>

<p>We take active role in investigating serious bus incidents with local authorities and bus operators, aiming to find the root cause of each incident. This is different from police investigations, which seek to determine if a crime has been committed.</p>

<h3>Bus collision investigation and data analysis</h3>

<p>The entire bus safety programme is evidence-led and we are continuously adding to this evidence base. We've committed to publishing this data and investigation reports where possible on our <a href="/corporate/publications-and-reports/bus-safety-data">Bus safety data page.</a></p>

<h3>Bus collision data analysis</h3>

<p>We publish two sets of bus safety data related to collisions and casualties:</p>

<ul>
	<li><strong>IRIS </strong>records bus incidents as reported by our operators. <a href="/corporate/publications-and-reports/bus-safety-data#quarterly-reports">This data is published on our website as quarterly reports</a></li>
	<li><strong>Police-recorded </strong>data for all injury collisions. This is released on a quarterly basis. Each year's annual data is published in June <a href="/corporate/publications-and-reports/bus-safety-data">on our website</a></li>
</ul>

<h2>Working in Partnership</h2>

<p>Delivering Vision Zero for buses relies on us working in close partnership, not only with operators, but also with a range of other local and national stakeholders. We work together with the Metropolitan Police Service and other partners on a day-to-day basis to improve safety in London.</p>

<p>All of us, whether we are travelling in London or managing the transport network, share a responsibility and a moral obligation to reduce danger and the fear it creates.</p>

<p>Find out more about <a href="/corporate/safety-and-security/road-safety/vision-zero-for-london">Vision Zero for London</a> and how you can help.</p>
      
           
      
      
        
          
            @this.ScriptBlock(
              @<script>
                queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
              </script>
            )
          
        
      
    </div>
  </div>
  <div class="aside" role="complementary">

   
    
    
    
      <div data-set="sidenav-container" class="large">
        
        
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
                <a href="/corporate/safety-and-security/road-safety" class="heading">
                    <h2 id="sub-menu-heading">Reducing road danger<span class="visually-hidden"> navigation</span></h2>
                </a>
                <ul>
                    
                                <li class="parent"><div class="link-wrapper"><a href="/corporate/safety-and-security/road-safety/vision-zero-for-london">Vision Zero for London</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/corporate/safety-and-security/road-safety/london-collision-map">London collision map</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/corporate/safety-and-security/road-safety/safety-enforcement-cameras">Safety cameras</a></div></li>
                            
 
                                <li class="selected"><div class="link-wrapper"><a href="/corporate/safety-and-security/road-safety/bus-safety">Bus safety</a></div>
                            </li>
 
                                <li class="parent"><div class="link-wrapper"><a href="/corporate/safety-and-security/road-safety/cycle-safety">Cycle safety</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/corporate/safety-and-security/road-safety/driver-safety">Driver safety</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/corporate/safety-and-security/road-safety/community-roadwatch">Community Roadwatch</a></div></li>
                            
 
                </ul>
            
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
      </div>
    
    <div>




















<div class="advert-tile unsponsored-style google-ads" aria-hidden="true">
  <div class="advert-link">
    <div class="advert-content">
        <div class="medium-large" data-advert="/76889402/non-targeted" data-advert-sizes="300, 250"></div>
        <div class="small" data-advert="/76889402/non-targeted" data-advert-sizes="300, 250"></div>
    </div>
  </div>
</div>
@{
    ViewBag.AmazonSlot = "'amznslots'";
    ViewBag.AmazonAds = "'3199'"; // to add another value, this needs to be ViewBag.AmazonAds = "'3199','xx'";
}
      

 </div>
    
    <div data-set="sidenav-container" class="small-medium"></div>
  </div>
</div>
 
 
        
        
        
            @{ViewBag.Description = "A bus safety programme to drive improvements across London's bus network";}
        
            
        


 