
    
  



@{ViewBag.Title = "Driver safety";}
@{ViewBag.Keywords = "Drivers,Safety and security,Driving,TfL";}
@{ViewBag.Url = "/corporate/safety-and-security/road-safety/driver-safety";}
@{ViewBag.Language = "en";}
        <!-- empty placeholder -->
 
        
        
<div class="r">
    <div class="breadcrumb-container" role="navigation">
        <span id="breadcrumb-label" class="visually-hidden">You are here:</span>
        <ol class="breadcrumbs clearfix" aria-labelledby="breadcrumb-label">
            <li class="home">
                <a href="/">
                    <span class="hide-text">Home</span>
                </a>
            </li>
            
                 <li><a href="/corporate/safety-and-security/index">Safety & security</a></li>
                
            
                 <li><a href="/corporate/safety-and-security/road-safety">Reducing road danger</a></li>
                
            
            
                <li><span class="last-breadcrumb">Driver safety</span></li>
            
        
 
        
 
        
 
        </ol>
    </div>
</div>
     
 
<div class="r">
  <div class="headline-container plain">
    <h1>Driver safety</h1>

  </div>
</div>
<div class="main-and-aside r">
  
  <div class="main content-container" role="main">
    
      <div class="article-teaser">
        Drivers are responsible for keeping themselves, their passengers and vulnerable road users such as cyclists and pedestrians safe. On average 11 people are killed or seriously injured on London's streets every day, devastating the lives of those people involved.
        
      </div>
    
    
      
      
           
      <div>

<p>In 2018, 767 people walking in London were killed or seriously injured in a collision that involved a person driving a car. 35 of those collisions were fatal.</p>

<p>Cars were also involved in the death or serious injury of 442 people cycling and 748 motorcyclists.</p>

<p>Human error is responsible for over 90% of all collisions on London's street. Going too fast while driving, not looking properly and making risky manoeuvers without due care or attention, are the most common causes of collisions. Over three quarters of collisions happen on or near junctions and crossings.</p>

<h2>Think! Slow down</h2>

<p>The driver's speed is directly responsible for over a third of all collisions and is a contributing factor to many more. We are doing our best to reduce speed across London with new 20mph zones, increased police enforcement and speed cameras.</p>

<p>The speed limit is not a target to aim for and can still be too fast for certain situations. For example, if it's the end of a school day, there will be more children walking or cycling so you should slow down to improve your reaction time and reduce the risk of a collision that could kill or seriously injure someone.</p>

<p>This rule should also apply to bad weather, busy traffic, built up areas and parked cars.</p>
</div>
 <div class="video-gallery-wrapper">

    <div class="ytplayer"></div>

    <div class="gallery-carousel-wrap">
       
  
  
 @this.ScriptBlock(
     @<script>
          queue.push(
            "@Html.ScriptPath("plugins/gallery-media.min.js")", null,
        
            function() {
                var videoPlayer = $(".ytplayer");

                if (videoPlayer.length){
                    videoPlayer.gallery({ videoMode: true });
                }
            }
    );
     </script>
 )
        
  
   <ul class="gallery-carousel">
  
    <!--  -->
    
    
     <li class="gallery-thumb" data-youtubeid="AFH_AR437pY" data-video-caption=""></li>
  
  </ul>
</div>
</div>
 <div>

<h2>Dangerous manoeuvers</h2>

<p>A vehicle turning right across the path of a person cycling or motorcyclist is the most dangerous manoeuvre, causing death or serious injury every day.</p>

<p>Drivers should look twice before they turn right. Sometimes cyclists can be in a blind spot or drivers can misjudge the speed of an approaching motorcyclist.</p>

<h2>Illegal Behaviour and enforcement</h2>

<p>There are over 2000 uniformed officers in the Met Police Roads and Transport Command. They will be deployed in key areas across London at all times to increase the enforcement of road traffic offences. We will also we using data-led intelligence to focus on high risk areas or issues for example mobile phone use and speeding. Finally we will be identifying and prosecuting high-risk drivers and riders who are repeat offenders.</p>

<h2>Vision Zero for London</h2>

<p>Transport for London is committed to reducing road danger, by working in partnership with the police, London boroughs and stakeholders to achieve the Vision Zero ambition of creating a road network free from death and serious injury by 2041. <a href="/corporate/safety-and-security/road-safety/vision-zero-for-london">Read more information on Vision Zero.</a></p>
</div>
 
      
        
          
        
      
    
  </div>
  <div class="aside" role="complementary">

   
    
    
    
      <div data-set="sidenav-container" class="large">
        
        
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
                <a href="/corporate/safety-and-security/road-safety" class="heading">
                    <h2 id="sub-menu-heading">Reducing road danger<span class="visually-hidden"> navigation</span></h2>
                </a>
                <ul>
                    
                                <li class="parent"><div class="link-wrapper"><a href="/corporate/safety-and-security/road-safety/vision-zero-for-london">Vision Zero for London</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/corporate/safety-and-security/road-safety/london-collision-map">London collision map</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/corporate/safety-and-security/road-safety/safety-enforcement-cameras">Safety cameras</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/corporate/safety-and-security/road-safety/bus-safety">Bus safety</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/corporate/safety-and-security/road-safety/cycle-safety">Cycle safety</a></div></li>
                            
 
                                <li class="selected"><div class="link-wrapper"><a href="/corporate/safety-and-security/road-safety/driver-safety">Driver safety</a></div>
                            </li>
 
                                <li><div class="link-wrapper"><a href="/corporate/safety-and-security/road-safety/community-roadwatch">Community Roadwatch</a></div></li>
                            
 
                </ul>
            
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
      </div>
    
    <div>




















<div class="advert-tile unsponsored-style google-ads" aria-hidden="true">
  <div class="advert-link">
    <div class="advert-content">
        <div class="medium-large" data-advert="/76889402/non-targeted" data-advert-sizes="300, 250"></div>
        <div class="small" data-advert="/76889402/non-targeted" data-advert-sizes="300, 250"></div>
    </div>
  </div>
</div>
@{
    ViewBag.AmazonSlot = "'amznslots'";
    ViewBag.AmazonAds = "'3199'"; // to add another value, this needs to be ViewBag.AmazonAds = "'3199','xx'";
}
      

 </div>
    
      <div class="module-grid clearfix">
                    
        <div class="related-links">

    <h3>Also on this site</h3>

<div class="vertical-button-container">

<a href="/travel-information/safety/road-safety-advice/motorcycling-in-london" class="plain-button">Motorcycle safety</a>
    </div>
</div>
 <div class="related-links">

    <h3>Related websites</h3>

<div class="vertical-button-container">

<a href="http://think.direct.gov.uk/" class="plain-button">THINK!</a>
<a href="https://www.gov.uk/government/organisations/department-for-transport" class="plain-button">Department for Transport</a>
<a href="http://content.met.police.uk/Home" class="plain-button">Metropolitan Police</a>
    </div>
</div>
 
      </div>
    
    <div data-set="sidenav-container" class="small-medium"></div>
  </div>
</div>
 
 
        
        
        
            @{ViewBag.Description = "Developing measures to ensure drivers are safe on London's roads";}
        
            
        


 