

<div class="acc-stats-severity-description" style="display:none;">
 <h3>Fatal injury</h3>
 <p class="not-last-p">
 A 'fatal' injury includes only those cases where death occurs in less than 30 days as a result of the collision. 'Fatal' does not include death from natural causes or suicide.
 </p>
 <h3>Serious injury</h3>
 <p class="not-last-p">
 An injury for which a person is detained in hospital as an 'in-patient', or any of the following injuries whether or not they are detained in hospital: fractures, concussion, internal injuries, crushings, burns (excluding friction burns), severe cuts, severe general shock requiring medical treatment and injuries causing death 30 or more days after the collison.
 </p>
 <h3>Slight injury</h3>
 <p>
 An injury of a minor character such as a sprain (including neck whiplash injury), bruise or cut which are not judged to be severe, or slight shock requiring roadside attention. This definition includes injuries not requiring medical treatment.
 </p>
</div>