

<div> 

<p class="not-last-p"> 

Discover where road traffic collisions have happened in London since 2005; then filter by year, road user, collision severity and age group. 

<br /> 

The map shows traffic collisions that resulted in personal injury and were reported to the police. 

</p> 

<h2>Collision statistics</h2> 

<p> 

From September 2016 onwards, the police have used a new method of assessing injuries and figures for serious and slight injuries are not directly comparable with previous years. 

</p> 

<p> 

TfL's collision data guide – found by following the Road Danger Reports link below and exploring the Data Extracts tab - provides more information about the data used to create this website. All datasets can be downloaded in CSV format. 
</p> 

<div class="multi-document-download-container"> 

<a class="document-download-wrap link-button boxed-link" href="/corporate/publications-and-reports/road-safety"> 

Road Danger Reports 
</a> 

</div> 


<div class="multi-document-download-container"> 

<a class="document-download-wrap link-button boxed-link" href="https://tfl.gov.uk/info-for/open-data-users/our-open-data"> 

More about our data feeds 
</a> 

</div> 


<h2>Reducing danger on London's roads</h2> 

<p> 
The Mayor's Transport Strategy (MTS) sets out the Mayor’s policies and proposals to reshape transport in London over the next 25 years. The Mayor, through TfL, the boroughs, police and enforcement authorities, will adopt a Vision Zero for road danger approach in London. The Mayor’s aim is for no one to be killed in or by a London bus by 2030, and for all deaths and serious injuries from road collisions to be eliminated from London’s streets by 2041. 
</p> 

<ul class="vertical-button-container stacked-cta-list"> 

<li class="stacked-cta"> 

<a class="link-button boxed-link" href="/corporate/about-tfl/the-mayors-transport-strategy" id="autopay-info"> 

The Mayor's Transport Strategy (MTS) 

</a> 

</li> 

<li class="stacked-cta"> 

<a class="link-button boxed-link" href="/corporate/safety-and-security/road-safety/vision-zero-for-london" id="autopay-info"> 

London's Vision Zero Action Plan 

</a> 

</li> 

</ul> 


<p>You can read more information about the work TfL is carrying out to make London's roads safer by following the Road Danger Reports link above and exploring the Progress reports tab.</p> 

<ul class="vertical-button-container stacked-cta-list"> 

<li class="stacked-cta"> 

<a class="link-button boxed-link" href="/travel-information/safety/road-safety-advice" id="register-for-autopay"> 

Road Safety Advice 

</a> 

</li> 

</ul> 

</div>