
    
  



@{ViewBag.Title = "Safety cameras";}
@{ViewBag.Keywords = "Coach drivers,Drivers,Freight industry,Taxi and private hire,Safety and security,Driving,TfL";}
@{ViewBag.Url = "/corporate/safety-and-security/road-safety/safety-enforcement-cameras";}
@{ViewBag.Language = "en";}
        <!-- empty placeholder -->
 
        
        
<div class="r">
    <div class="breadcrumb-container" role="navigation">
        <span id="breadcrumb-label" class="visually-hidden">You are here:</span>
        <ol class="breadcrumbs clearfix" aria-labelledby="breadcrumb-label">
            <li class="home">
                <a href="/">
                    <span class="hide-text">Home</span>
                </a>
            </li>
            
                 <li><a href="/corporate/safety-and-security/index">Safety & security</a></li>
                
            
                 <li><a href="/corporate/safety-and-security/road-safety">Reducing road danger</a></li>
                
            
            
                <li><span class="last-breadcrumb">Safety cameras</span></li>
            
        
 
        
 
        
 
        </ol>
    </div>
</div>
     
 
<div class="r">
  <div class="headline-container plain">
    <h1>Safety cameras</h1>

  </div>
</div>
<div class="main-and-aside r">
  
  <div class="main content-container" role="main">
    
      <div class="article-teaser">
        Safety cameras help us stop drivers from speeding and causing unacceptable risk to other road users.
        
      </div>
    
    
      <p>Our streets need to be safe for all. The <a href="/corporate/safety-and-security/road-safety/vision-zero-for-london">Vision Zero action plan</a> shows that the faster people drive, the more likely they are to cause a collision, and for that to be fatal or with a serious outcome.</p>

<p>Speed is the single most important factor in the likelihood and severity of a collision.</p>

<p>The plan outlines how we are determined to tackle speed and other dangerous behaviours to reduce the number of people killed and seriously injured on our streets.</p>

<p>Safety cameras are one of the ways we can use to effectively manage and enforce speed limits in London.</p>

<p>A mixture of different types of safety cameras including speed cameras, red light cameras and average camera systems, are used in London. These cameras are&nbsp;installed at sites where people have been killed or seriously injured (KSI) due to a driver going too fast or running a red light.</p>

<p>We are currently upgrading approximately 700 spot speed and red light safety cameras from wet film to digital. This will be finished in 2019.</p>

<p>We want to be more proactive&nbsp;identifying areas of speed risk across London and are now working with the police and boroughs to develop a new criteria for safety camera installations.&nbsp;</p>

<h2>On-street enforcement</h2>

<p>Police officers are responsible for the on-street enforcement of speed limits. In London, enforcement is usually carried out by the Metropolitan Police Services (MPS), Roads and Transport Policing Command and the City of London Police.</p>

<p>We provide funding for:</p>

<ul>
	<li>On-street speed enforcement carried out by the Roads and Transport Policing Command and the City of London Police</li>
	<li>Safety cameras operated by the MPS and Roads and Transport Policing Command</li>
</ul>

<p>As promised in the Vision Zero action plan, the MPS will carry out more speed enforcement activity, in more places, by using mobile speed enforcement technology and changes in powers.</p>

<p>By covering more of London and identifying repeat offenders, they will deter drivers from speeding.</p>

<h2>Community Roadwatch</h2>

<p>Safety cameras are only one of the ways to tackle speed related deaths and serious injuries on our roads. We work in partnership with the Metropolitan Police on many other speed management initiatives, including <a href="/corporate/safety-and-security/road-safety/community-roadwatch">Community Roadwatch</a>.</p>

<p>Community Roadwatch aims to reduce speeding in residential areas, and gives local residents the opportunity to work side by side with their local police teams, and use speed detection equipment to identify speeding vehicles in their communities.</p>

<p>To take part in Community Roadwatch, or to suggest a residential area where there are community concerns around speeding, email <a href="mailto:CommunityRoadwatch&#64;met.police.uk">CommunityRoadwatch&#64;met.police.uk</a>&nbsp;and tell them which borough you live in.&nbsp;The relevant local MPS Safer Transport Team will be in touch.</p>

<h2>RoadSafeLondon</h2>

<p>The public can report dangerous, illegal, or antisocial road user behaviour directly to the police with their online reporting tool, <a href="https://www.met.police.uk/roadsafelondon/">RoadSafe London</a>. Every report helps the police and TfL to understand where and when bad road user behaviour takes place.</p>

<p>The information and intelligence gathered may lead to a prosecution.&nbsp;</p>

<h2>Average camera system trials</h2>

<p>Four average speed camera trial routes were installed across London as a part of the upgrade programme. The trial routes include:</p>

<ol>
	<li>A40 (between the Polish War Memorial and Paddington Slip Road)</li>
	<li>A406 North Circular Road (between Hanger Lane and Bounds Green Road)</li>
	<li>A316 (between the M3 and Staveley Road)</li>
	<li>A2 (between the Blackwall Tunnel and Dartford Heath)</li>
</ol>
      
           
      


  
    @{ Html.RenderAction("EmbeddedMap", "Maps", new
      {                     
        layers="gla-boundary,congestion-charging-zone,low-emissions-zone,station-stop,cycle-hire,jam-cam,red-light-cam,speed-cam,variable-message-sign,coach-ban-areas,coach-parking", 
        layersVisibleAtLoad="jam-cam,red-light-cam,speed-cam",
        centreLat="",
        centreLng="",
        allowNationalBounds="0",
        zoom="14",
        showSatelliteMap="0",
        showUserLocation="1", 
        kmlUrl=""
      });
    }
  
 
 <div>

<h2>Diversionary courses</h2>

<p>When a driver is caught breaking the speed limit they may be offered the opportunity to attend a Speed Awareness Course. This gives drivers training and guidance on the importance of driving within the speed limit.</p>

<p>Studies show that these are effective methods of changing behaviour among&nbsp;low level offenders. Diversionary courses may also be offered to offenders who commit red light offences.</p>

<p><a href="https://www.drivetech.co.uk/driver-awareness-courses/courses">Find out more on the DriveTech website.</a></p>
</div>
 
      
        
          
        
      
    
  </div>
  <div class="aside" role="complementary">

   
    
    
    
      <div data-set="sidenav-container" class="large">
        
        
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
                <a href="/corporate/safety-and-security/road-safety" class="heading">
                    <h2 id="sub-menu-heading">Reducing road danger<span class="visually-hidden"> navigation</span></h2>
                </a>
                <ul>
                    
                                <li class="parent"><div class="link-wrapper"><a href="/corporate/safety-and-security/road-safety/vision-zero-for-london">Vision Zero for London</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/corporate/safety-and-security/road-safety/london-collision-map">London collision map</a></div></li>
                            
 
                                <li class="selected"><div class="link-wrapper"><a href="/corporate/safety-and-security/road-safety/safety-enforcement-cameras">Safety cameras</a></div>
                            </li>
 
                                <li><div class="link-wrapper"><a href="/corporate/safety-and-security/road-safety/bus-safety">Bus safety</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/corporate/safety-and-security/road-safety/cycle-safety">Cycle safety</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/corporate/safety-and-security/road-safety/driver-safety">Driver safety</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/corporate/safety-and-security/road-safety/community-roadwatch">Community Roadwatch</a></div></li>
                            
 
                </ul>
            
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
      </div>
    
    <div>




















<div class="advert-tile unsponsored-style google-ads" aria-hidden="true">
  <div class="advert-link">
    <div class="advert-content">
        <div class="medium-large" data-advert="/76889402/non-targeted" data-advert-sizes="300, 250"></div>
        <div class="small" data-advert="/76889402/non-targeted" data-advert-sizes="300, 250"></div>
    </div>
  </div>
</div>
@{
    ViewBag.AmazonSlot = "'amznslots'";
    ViewBag.AmazonAds = "'3199'"; // to add another value, this needs to be ViewBag.AmazonAds = "'3199','xx'";
}
      

 </div>
    
      <div class="module-grid clearfix">
                    
        <div class="related-links">

    <h3>Related websites</h3>

<div class="vertical-button-container">

<a href="http://think.direct.gov.uk/" class="plain-button">THINK!</a>
<a href="https://www.gov.uk/government/organisations/department-for-transport" class="plain-button">Department for Transport</a>
<a href="http://content.met.police.uk/Home" class="plain-button">Metropolitan Police</a>
    </div>
</div>
 
      </div>
    
    <div data-set="sidenav-container" class="small-medium"></div>
  </div>
</div>
 
 
        
        
        
            @{ViewBag.Description = "How we aim to stop drivers speeding and make our roads safer";}
        
            
        


 