
    
  



@{ViewBag.Title = "Safe speeds";}
@{ViewBag.Keywords = "TfL";}
@{ViewBag.Url = "/corporate/safety-and-security/road-safety/safe-speeds";}
@{ViewBag.Language = "en";}
        <!-- empty placeholder -->
 
        
        
<div class="r">
    <div class="breadcrumb-container" role="navigation">
        <span id="breadcrumb-label" class="visually-hidden">You are here:</span>
        <ol class="breadcrumbs clearfix" aria-labelledby="breadcrumb-label">
            <li class="home">
                <a href="/">
                    <span class="hide-text">Home</span>
                </a>
            </li>
            
                 <li><a href="/corporate/safety-and-security/index">Safety & security</a></li>
                
            
                 <li><a href="/corporate/safety-and-security/road-safety">Reducing road danger</a></li>
                
            
                 <li><a href="/corporate/safety-and-security/road-safety/vision-zero-for-london">Vision Zero for London</a></li>
                
            
            
                <li><span class="last-breadcrumb">Safe speeds</span></li>
            
        
 
        
 
        
 
        
 
        </ol>
    </div>
</div>
     
 
<div class="r">
  <div class="headline-container plain">
    <h1>Safe speeds</h1>

  </div>
</div>
<div class="main-and-aside r">
  
  <div class="main content-container" role="main">
    
      <div class="article-teaser">
        Speed is a factor in at least 37% of collisions where a person is killed or is seriously injured on London's streets. This is why we're lowering speed limits across London.
        
      </div>
    
    <div class="on-this-page">
      <h2>Watch your speed. The limit's changing</h2>

<p>From&nbsp;2 March 2020, the roads we operate and manage within the central London Congestion Charging Zone will have a new speed limit of 20mph. Some of these have an existing speed limit of 20 mph, however 19 of 37 of these will be new.</p>
      
           
      <div class="clearfix">
    <div class="image-box">
    
        
        
        <img src="/cdn/static/cms/images/20mph-roads-inner-london.jpg" alt="Map showing new and existing 20 mph roads in Central London" />
        
        
        
    </div>   
 </div>
 <div>

<ol>
	<li>Albert Embankment</li>
	<li>Millbank</li>
	<li>Lambeth Bridge</li>
	<li>Lambeth Palace Road</li>
	<li>Westminster Bridge</li>
	<li>Victoria Embankment</li>
	<li>York Road</li>
	<li>Stamford Street</li>
	<li>Blackfriars Bridge</li>
	<li>Farringdon Street</li>
	<li>Farringdon Road</li>
	<li>Kings Cross Road</li>
	<li>Blackfriars Road</li>
	<li>Westminster Bridge Rd</li>
	<li>St Georges Road</li>
	<li>London Road</li>
	<li>Elephant and Castle</li>
	<li>Southwark Street</li>
	<li>Upper Thames Street</li>
	<li>Lower Thames Street</li>
	<li>Borough High Street</li>
	<li>Great Dover Street</li>
	<li>London Bridge</li>
	<li>Gracechurch Street</li>
	<li>Bishopsgate</li>
	<li>Byward Street</li>
	<li>Tower Hill</li>
	<li>Aldgate gyratory including: Leman Street, Prescot Street, Mansell Street, Shorter Street, Minories and Goodman's Yard</li>
	<li>Whitechapel High Street</li>
	<li>Tower Bridge</li>
	<li>St Thomas's Street</li>
	<li>Part of Druid Street (between Crucifix Lane and Tower Bridge Road)</li>
	<li>Crucifix Lane</li>
	<li>Part of Bermondsey Street (between Crucifix Lane and Tooley Street)</li>
	<li>Part of Queen Elizabeth Street (between Tooley Street and Tower Bridge Road)</li>
	<li>Part of Tooley Street (between Duke Street Hill and Tower Bridge Road)</li>
	<li>Duke Street Hill</li>
</ol>
</div>
 <div class="clearfix">
    <div class="image-box">
    
        
        
        <img src="/cdn/static/cms/images/safe-speed-20mph.jpg" alt="TfL road with 20mph speed limit" />
        
        
        
    </div>   
 </div>
 <div>

<h2>20mph roads for London</h2>

<p>Collision data from around the world is very clear. It shows that the faster a vehicle is travelling:</p>

<ul>
	<li>The more likely a collision will occur because the driver has less time to react, stop or avoid the collision</li>
	<li>The more severe an injury resulting from the collision will be</li>
</ul>

<p>For example, if you hit someone at 30mph they're five times more likely to die than if you hit them at 20mph. That's why this new limit is so important and why we ask for you as a driver to watch your speed as you're driving through central London.</p>
</div>
 <div class="clearfix">
    <div class="image-box">
    
        
        
        <img src="/cdn/static/cms/images/20mph-vehicle-speed-injury.jpg" alt="Diagram shows increased vehicle speed from 20mph to 30mph results in five times more fatal injuries" />
        
        
        
    </div>   
 </div>
 <div>

<p><a href="/corporate/safety-and-security/road-safety/driver-safety">Read tips on how to drive safely in London.</a></p>

<h2>Speed limit enforcement in London</h2>

<p>The Metropolitan Police enforce all speed limits in London. They do this using on-street officers, mobile speed cameras and fixed speed cameras. In 2018, 154,785 people were caught and penalised for speeding related offences, including 38,878 on 20mph limit roads.</p>

<p>The Metropolitan Police will continue enforcing all speed limits across London, including where new speed limits are in place.</p>

<h2>What happens next</h2>

<p>The second phase will look at&nbsp;a further 140 kilometres of our road network in inner and outer London, including on the inner ring road, high-risk roads and roads in town centres.</p>

<p>We've completed a risk analysis to identify roads in inner and outer London where speeds should be lowered to reduce the risk of road users being killed and seriously injured, focusing on town centres and roads with the highest risk of a collision occurring.</p>

<p>The risk analysis considers:</p>

<ul>
	<li>The number of deaths and serious injuries that have occurred on the road</li>
	<li>Current levels of walking and cycling</li>
	<li>Predicted future levels of walking and cycling</li>
	<li>Speed limit of surrounding streets</li>
	<li>If the road has a town centre, or another location with high volumes of people walking or cycling</li>
	<li>If lower speeds on TfL roads would increase traffic in local streets&nbsp;</li>
</ul>

<p>This might mean speeds will be lowered along some roads from 50mph to 40mph, or from 40mph to 30mph.</p>

<p>We'll be engaging with local communities and road users about how we introduce these limits as we lower speeds across the city.</p>

<h2>Lowering speeds with self-enforcing speed limits</h2>

<p>There are many different ways to encourage people to&nbsp;drive at lower speeds, but evidence shows that self-enforcing speed limits are the most successful way to reduce speeds.</p>

<p>A self-enforcing speed limit means that people are more likely to drive within the signed speed limit because they feel it's the easiest and safest speed to drive along that road. This is generally because of the way the road looks and has been designed.</p>

<p>Some of the design and engineering measures used to lower speeds are:</p>

<ul>
	<li>Signs</li>
	<li>Road markings</li>
	<li>Speed cushions</li>
	<li>Speed bumps</li>
	<li>Raising pedestrian crossings</li>
	<li>Widening footways for people walking</li>
	<li>Giving more space to people cycling</li>
	<li>Removing the white line in the centre of a road</li>
	<li>Changing the surface of the road</li>
	<li>Creating curves&nbsp;along the road that requires vehicles travelling in different directions have to slow down or give way</li>
	<li>Introducing more traffic islands in the centre of the road</li>
	<li>Placing trees, planters and parklets along the roadside or in the centre of the road</li>
</ul>

<p>There's no 'one size fits all' approach to reducing vehicle speeds. We use different measures depending on the type of road, who uses the road and the road space available.</p>

<p>We'll continue to monitor the effectiveness of these measures in lowering speeds, so we can determine if more design changes are needed.</p>
</div>
 <div>

<h2>Effect on traffic and pollution</h2>

<p>Imperial University's evaluation of 20mph zones in London shows they have no net negative impact on exhaust emissions.</p>

<p>It also shows that in 20mph zones vehicles move more smoothly, with fewer accelerations and decelerations, than in 30mph zones. This smoother driving style actually reduces particulate emissions from tyre and brake wear.</p>

<p><a href="/cdn/static/cms/documents/speed-emissions-and-health.pdf">Read a summary of Imperial University's research (PDF).</a></p>

<p>We closely monitor changes we make to our roads. This may include looking at possible effects on nearby roads as needed. You can see more of our work and research to into reducing road danger on&nbsp;the <a href="/corporate/publications-and-reports/road-safety">Road Safety&nbsp;Publications and Reports page.</a></p>
</div>
 
<div>



<h2>Achieving lower speeds: the toolkit</h2>


<p>We've published a toolkit outlining the various speed reduction measures that can be used when designing streets in London.</p>

<p>It&nbsp;can be used by anyone seeking to make our streets safer, healthier and more attractive for walking and cycling. However, it will be of particular relevance to those responsible for implementing specific speed reduction programmes on the Transport for London (TfL) Road Network and local roads managed by the London boroughs.</p>
<div class="multi-document-download-container">
    

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/achieving-lower-speeds-toolkit.pdf">
    <div class="document-download-text">
        <p>Achieving lower speeds: the toolkit</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 4.87MB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 4.87 -->
 
</div>

</div>
 
      
        
          
            @this.ScriptBlock(
              @<script>
                queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
              </script>
            )
          
        
      
    </div>
  </div>
  <div class="aside" role="complementary">

   
    
    
    
      <div data-set="sidenav-container" class="large">
        
        
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
                <a href="/corporate/safety-and-security/road-safety" class="heading">
                    <h2 id="sub-menu-heading">Reducing road danger<span class="visually-hidden"> navigation</span></h2>
                </a>
                <ul>
                    
                                <li class="selected parent"><div class="link-wrapper"><a href="/corporate/safety-and-security/road-safety/vision-zero-for-london">Vision Zero for London</a></div>
                                <ul>
                                    
                                        <li class="selected"><div class="link-wrapper"><a href="/corporate/safety-and-security/road-safety/safe-speeds">Safe speeds</a></div>
                                    </li>
 
                                </ul>
                            </li>
 
                                <li><div class="link-wrapper"><a href="/corporate/safety-and-security/road-safety/london-collision-map">London collision map</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/corporate/safety-and-security/road-safety/safety-enforcement-cameras">Safety cameras</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/corporate/safety-and-security/road-safety/bus-safety">Bus safety</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/corporate/safety-and-security/road-safety/cycle-safety">Cycle safety</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/corporate/safety-and-security/road-safety/driver-safety">Driver safety</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/corporate/safety-and-security/road-safety/community-roadwatch">Community Roadwatch</a></div></li>
                            
 
                </ul>
            
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
      </div>
    
    <div>
























<div class="advert-tile unsponsored-style google-ads" aria-hidden="true">
  <div class="advert-link">
    <div class="advert-content">
        <div class="medium-large" data-advert="/76889402/non-targeted" data-advert-sizes="300, 250"></div>
        <div class="small" data-advert="/76889402/non-targeted" data-advert-sizes="300, 250"></div>
    </div>
  </div>
</div>
@{
    ViewBag.AmazonSlot = "'amznslots'";
    ViewBag.AmazonAds = "'3199'"; // to add another value, this needs to be ViewBag.AmazonAds = "'3199','xx'";
}
      

 </div>
    
    <div data-set="sidenav-container" class="small-medium"></div>
  </div>
</div>
 
 
        
        
        
            @{ViewBag.Description = "Speed is a factor in at least 37 per cent of collisions where a person is killed or is seriously injured on London's streets. This is why we're lowering speed limits across London.";}
        
            
        


 