
    
  



@{ViewBag.Title = "Vision Zero for London";}
@{ViewBag.Keywords = "TfL";}
@{ViewBag.Url = "/corporate/safety-and-security/road-safety/vision-zero-for-london";}
@{ViewBag.Language = "en";}
        <!-- empty placeholder -->
 
        
        

  <div class="section-image-container medium-large" data-highlight-image="/cdn/static/cms/images/promos/vision-zero-background-05.jpg" data-highlight-for=".section-image-container" data-highlight-size="medium-large" style="background-image: url(/cdn/static/cms/images/promos/vision-zero-background-05.jpg)"> </div>

<div class="r">
    <div class="breadcrumb-container" role="navigation">
        <span id="breadcrumb-label" class="visually-hidden">You are here:</span>
        <ol class="breadcrumbs clearfix" aria-labelledby="breadcrumb-label">
            <li class="home">
                <a href="/">
                    <span class="hide-text">Home</span>
                </a>
            </li>
            
                 <li><a href="/corporate/safety-and-security/index">Safety & security</a></li>
                
            
                 <li><a href="/corporate/safety-and-security/road-safety">Reducing road danger</a></li>
                
            
            
                <li><span class="last-breadcrumb">Vision Zero for London</span></li>
            
        
 
        
 
        
 
        </ol>
    </div>
</div>
     
 

  
  <div class="r">
    <div class="headline-container section-title section-landing-container ">
      <div class="section-title-wrap">
        <h1 class="hero-headline">Vision Zero for London</h1>
        
      </div>
    </div>
  </div>



    
   
    <div class="r">
        <div class="main clearfix" role="main">
            
        
        
            <div class="section-overview full-width clearfix ">
                <div class="small-medium" data-set="section-intro"></div>
                <div>
                    <div class="large" data-set="section-intro">
                        <h2 class="moving-source-order">Vision Zero for London</h2>
                    </div>
                Together we can eradicate deaths and serious injuries from our roads and make London a safer, healthier and greener place.
                </div>
            </div>
        
         
        
        
        
                
                <div class="clearfix">
                    <div>

<p>Major cities around the world are taking a stand to end the toll of deaths and injury seen on their roads and transport networks by committing to Vision Zero. London is at the forefront of this approach and the <a href="/corporate/about-tfl/the-mayors-transport-strategy">Mayor's Transport Strategy</a> sets out the goal that, by 2041, all deaths and serious injuries will be eliminated from London's transport network.</p>
<p>It is neither inevitable nor acceptable that anyone should be killed or seriously injured when travelling in London. When we leave our homes each day, we should feel safe and confident about the journey ahead.</p>
</div>
 <div class="clearfix">
    <div class="image-box left-float">
    
        
        
        <img src="/cdn/static/cms/images/vision-zero-content-02_rdax_400x250.jpg" alt="Intersection with pedestrians crossing safely in front of a heavy goods vehicle" />
        
        
        
    </div>
    <p>While work continues to make our wider transport network even safer, the <a href="/corporate/about-tfl/the-mayors-transport-strategy">Vision Zero action plan</a> focuses on the areas where our greatest challenges lie — London's streets.</p>
<p>It will demonstrate to everyone who uses our streets the commitment of the Mayor, TfL, London boroughs, the police and other partners to taking bold action and putting the Vision Zero ambition at the heart of everything we do. While the Vision Zero strategy is being set by The Mayor of London, Transport for London and the Metropolitan Police, the responsibility for its success is shared by all, including those who have a role in designing, building, operating and managing our transport network as well as everyone that uses it.</p>
 </div>
 <div>

<h2>The Vision Zero Action Plan</h2>

<ul>
	<li><strong>Safe speeds: </strong> Encouraging speeds appropriate to the streets of a busy and populated city through the <a href="/corporate/safety-and-security/road-safety/safe-speeds">widespread introduction of new lower speed limits</a></li>
	<li><strong>Safe streets: </strong> Designing an environment that is forgiving of mistakes by transforming junctions, which see the majority of collisions, and ensuring safety is at the forefront of all design schemes</li>
	<li><strong>Safe vehicles: </strong> Reducing risk posed by the most dangerous vehicles by introducing a world-leading Bus Safety Standard across London's entire bus fleet and a new '<a href="/info-for/deliveries-in-london/delivering-safely/direct-vision-in-heavy-goods-vehicles">Direct Vision Standard</a>' for Heavy Goods Vehicles</li>
	<li><strong>Safe behaviours: </strong> Reducing the likelihood of road users making mistakes or behaving in a way that is risky for themselves and other people through targeted enforcement, marketing campaigns, <a href="https://stars.tfl.gov.uk/">education programmes</a> and safety training for <a href="/modes/cycling/cycle-skills">cyclists</a>, <a href="/travel-information/safety/road-safety-advice/motorcycling-in-london">motorcycle and moped riders</a></li>
	<li><strong>Post-collision response: </strong> Developing systematic information sharing and learning, along with improving justice and care for the victims of traffic incidents</li>
</ul>
</div>
 <div>

<h2>A shared responsibility</h2>
All of us, whether we are travelling in London or managing the transport network, share a responsibility and a moral obligation to reduce danger and the fear it creates.
<a href="/travel-information/safety/road-safety-advice/driving-at-safe-speeds">Find out how you can support Vision Zero as a road user by driving at safe speeds.</a>
</div>
 
                </div>
                <hr>
                
                
                <div class="module-grid clearfix">
                    
                    
                    
                    
                </div>
        
        
        
          
        
    </div>
    
      
      <div class="aside no-full-width-intro" role="complementary">
    
        <div data-set="sidenav-container" class="large">
          
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
                <a href="/corporate/safety-and-security/road-safety" class="heading">
                    <h2 id="sub-menu-heading">Reducing road danger<span class="visually-hidden"> navigation</span></h2>
                </a>
                <ul>
                    
                                <li class="selected parent"><div class="link-wrapper"><a href="/corporate/safety-and-security/road-safety/vision-zero-for-london">Vision Zero for London</a></div>
                                <ul>
                                    
                                <li><div class="link-wrapper"><a href="/corporate/safety-and-security/road-safety/safe-speeds">Safe speeds</a></div></li>
                            
 
                                </ul>
                            </li>
 
                                <li><div class="link-wrapper"><a href="/corporate/safety-and-security/road-safety/london-collision-map">London collision map</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/corporate/safety-and-security/road-safety/safety-enforcement-cameras">Safety cameras</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/corporate/safety-and-security/road-safety/bus-safety">Bus safety</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/corporate/safety-and-security/road-safety/cycle-safety">Cycle safety</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/corporate/safety-and-security/road-safety/driver-safety">Driver safety</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/corporate/safety-and-security/road-safety/community-roadwatch">Community Roadwatch</a></div></li>
                            
 
                </ul>
            
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>
        <div class="module-grid clearfix">
          




















<div class="advert-tile unsponsored-style google-ads" aria-hidden="true">
  <div class="advert-link">
    <div class="advert-content">
        <div class="medium-large" data-advert="/76889402/non-targeted" data-advert-sizes="300, 250"></div>
        <div class="small" data-advert="/76889402/non-targeted" data-advert-sizes="300, 250"></div>
    </div>
  </div>
</div>
@{
    ViewBag.AmazonSlot = "'amznslots'";
    ViewBag.AmazonAds = "'3199'"; // to add another value, this needs to be ViewBag.AmazonAds = "'3199','xx'";
}
      

 
          
        </div>
        <div data-set="sidenav-container" class="small-medium"></div>
      </div>
  </div>
 
        
        
        
            @{ViewBag.Description = "The Mayor's Transport Strategy sets out the goal that, by 2041, all deaths and serious injuries will be eliminated from London's transport network";}
        
            
        


 