


@{ViewBag.Title = "100 artists celebrate 100 years of Tube logo";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>100 artists celebrate 100 years of Tube logo</h1>
        <div class="content-page-press-release">
        04 September 2008
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        100 Years, 100 Artists, 100 Works of Art
        
    </div>



 <div class="on-this-page">
<div class="pullquote right">
                        <p>
                            Nothing quite says London like the Roundel
                            
                        </p>
                    </div>
                
            
            
            <p>From Friday 5 September passengers on the Underground will be able to see the first of one hundred brand new artworks specially commissioned to celebrate the 100th anniversary of the iconic Tube logo, the Roundel.</p>
<p>To mark the centenary of one of the world's most recognised brands one hundred artists, including Yinka Shonibare, Bob &amp; Roberta Smith, Cornelia Parker, Thomas Helbig, Jeremy Deller, Catherine Yass, Pae White, Roger Hiorns and Matthew Higgs, have been invited by Art on the Underground to produce an artwork inspired by the Roundel for a unique public exhibition, which will run from 8-30 October at Rochelle School in Shoreditch.</p>
<p>A stunning monochrome artwork by Liam Gillick will be the first of a selection of the new works that will be displayed as posters across the Tube network in the run up to the exhibition launch.</p>
<h2>Celebration of heritage</h2>
<p>Throughout the exhibition there will be a range of activities for audiences to take part in including a chance to buy your own work of art and hear the artists talking about their approach to making their posters.</p>
<p>Tim O'Toole, Managing Director of London Underground (LU), said: 'The Roundel is one of the world's most well known and successful logos.</p>
<p>'It emerged from a heritage of good design management and represents the world class reputation of the Tube.</p>
<p>'As part of that heritage and the promotion of enlightened design, the Tube has commissioned world class artists to communicate its messages and delight its passengers.</p>
<p>'I'm delighted that we are celebrating 100 years of our logo in this way.'</p>
<h2>Future vision</h2>
<p>Tamsin Dillon, Head of Art on the Underground, said: 'The ambition for this project is to open the doors to a broad spectrum of interpretations of the famous Tube brand, aiming to be both a celebration of its heritage and a vision for its future.</p>
<p>'The response to this very particular brief has been dynamic and overwhelming and the exhibition is testament to the exceptional skill of many of the best artists working today.'</p>
<p>Moira Sinclair, Executive Director of Arts Council England, London, said: 'Nothing quite says London like the Roundel, and we are delighted to support this project with its 100 commissions to celebrate its 100th birthday.</p>
<p>'We hope that the work will help put art at the centre of London life and add an artistic treat to our daily commutes.</p>
<p>'We look forward to seeing these new posters reacting to one of the world's most recognisable, and best loved, icons.'</p>
<p>
<hr>
<strong>Notes to editors: 
<p>
<ul>
<li></li></ul></strong>All one hundred works will be on display between 8 to 30 October at the Rochelle School in London's East End, as well as a selection exhibited on the Underground throughout September and October as posters and leaflets 
<li>Artists who have agreed to take part in the project include Polly Apfelbaum, Marcus Amm, Steve Claydon, Jeremy Deller, Liam Gillick, Brian Griffiths, Henrik Hakansson, Thomas Helbig, Lothar Hempel, Susan Hiller, Jim Isermann, Paul Noble, Cornelia Parker, Paola Pivi, Olivia Plander, Joelle Tuerlincx, Sophie Von Hellerman, Richard Wentworth, Pae White and Catherine Yass </li>
<li>A full list of participating artists will be posted at <a class="external-site" title=" (Opens in new window) (Opens in new window)" href="http://www.tfl.gov/art" jquery1220515991542="6" jquery1220517126030="6">tfl.gov/art</a> and a commemorative catalogue of the project, illustrating all the works, will be published in 2009 </li>
<li>Art on the Underground is LU's art programme, producing high calibre artworks across the entire LU network, enhancing the millions of journeys made every day. Focusing on different aspects of artistic production, historical or architectural features of the stations, trains and rail networks, as well as looking at the unique social make up of the world's oldest Underground system, it aims to promote a greater understanding of the Tube as a cultural and social environment through the creative commissioning of artworks </li>
<li>For more information about Art on the Underground, please visit <a href="http://www.tfl.gov.uk/art">tfl.gov.uk/art</a> </li>
<li>The Roundel Centenary exhibition is partly funded by Arts Council England.&nbsp;Arts Council England works to get great art to everyone by championing, developing and investing in artistic experiences that enrich people's lives.&nbsp;As the national development agency for the arts, it supports a range of artistic activities from theatre to music, literature to dance, photography to digital art and carnival to crafts.&nbsp;Between 2008 and 2011, it will invest &pound;1.3 billion of public money from government and a further &pound;0.3 billion from the National Lottery to create these experiences for as many people as possible across the country </li>
<li>Art on the Underground is very pleased to be hosting this special event at the A Foundation's Rochelle School venue in the heart of London's East End. The School is home to a thriving community of artists and creative industries housed in studios created from the School's former classrooms. Club Row, Rochelle's gallery is a flexible project space used to host multi-artform exhibitions, events, performances and installations. <a href="http://www.afoundation.org.uk">www.afoundation.org.uk</a><br></li>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "From Friday 5 September passengers on the Underground will be able to see the first of one hundred brand new artworks specially commissioned to celebrate the 100th anniversary of the iconic Tube logo, the Roundel.To mark the centenary of one of the";}
        
        


 