


@{ViewBag.Title = "All aboard London River Services to the Thames Festival";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>All aboard London River Services to the Thames Festival</h1>
        <div class="content-page-press-release">
        11 September 2008
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        This weekend, Saturday 13 and Sunday 14 September 2008, London's river services will be providing a frequent service between Westminster and London Bridge to help move visitors to the annual Mayor's Thames Festival on London's Southbank.
        
    </div>



<div class="pull-quote">
        <div class="quote-body">"The events taking place this weekend are a great opportunity for visitors and Londoners alike to come to the Thames, relax on the riverside and see London from a different angle..."</div>
        <div class="quote-footer">
            <div class="quotee-name">Andy Griffiths</div>
            <div class="quotee-job-title">Head of London River Services</div>
        </div>
</div>

 <div class="on-this-page">
<div class="pullquote right">
                        <p>
                            The events taking place this weekend are a great opportunity for visitors and Londoners alike to come to the Thames, relax on the riverside and see London from a different angle...
                            
                        </p>
                    </div>
                
            
            
            <p>The festival, which celebrates London's world famous river, will see a number of events line the Southbank between Westminster and Tower Bridge. </p> <p>As well as activities on land, London River Services' piers will be in operation throughout the weekend, helping to provide fast and picturesque journeys along the river, passing the London Eye, The Royal Festival Hall and Shakespeare's Globe Theatre along the way. </p> <h2>Service schedule</h2> <p>London River Services will operate normally throughout the weekend, except during the final stage of the Great Trafalgar River Race on Saturday 13 September, when it will be necessary for Bankside, Festival, London Bridge and London Eye piers to close for river services between&nbsp;16:00 and 18:00.</p> <p>Services from Westminster Millennium, Embankment, St. Katharine's, and Tower Millennium piers will operate as normal. </p> <p>Andy Griffiths, Head of London River Services, said: 'Although there will be some closures on Saturday, they will only be for a short period of time.&nbsp; </p> <p>'The events taking place this weekend are a great opportunity for visitors and Londoners alike to come to the Thames, relax on the riverside and see London from a different angle by taking a boat trip.'  <hr>  <p>
            <p><strong>Notes to editors:</strong></p>
<ul type="circle">
<li>London River Services is responsible for managing eight piers on the river: Westminster Millennium, Festival, Embankment, Millbank Millennium, Blackfriars Millennium, Bankside, Tower Millennium and Greenwich </li>
<li>People wishing to travel on the river can benefit from a third off the normal advertised adult and child fares if they produce a valid Travelcard or Oyster card loaded with a valid Travelcard when purchasing a ticket. Oyster cards will pay as you go and are not accepted on London River Services </li>
<li>All London River Services' piers are accessible and step-free at all states of the tide, allowing easy access for mobility impaired passengers.&nbsp; Most river boats are accessible - passengers should contact boat operators for comprehensive accessibility information when planning their journeys&nbsp; </li>
<li>The relevant contact information is included in the <a title="London River Service's guide" href="http://www.tfl.gov.uk/assets/downloads/river-guide-08.pdf">London River Services' guide</a> or from Tube stations along the river<br></li></ul>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "The festival, which celebrates London's world famous river, will see a number of events line the Southbank between Westminster and Tower Bridge.As well as activities on land, London River Services' piers will be in operation throughout the weekend,";}
        
        


 