


@{ViewBag.Title = "Are you sitting comfortably?";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>Are you sitting comfortably?</h1>
        <div class="content-page-press-release">
        04 September 2008
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        Nearly three quarters of London's cyclists are not, according to new research from Transport for London (TfL).
        
    </div>



 <div class="on-this-page">
<p>Research conducted for TfL suggests that 71 per cent of London's cyclists are riding badly-fitting bikes.</p>
<p>With an increasing number of people taking to two wheels, TfL is encouraging cyclists to ensure that their bikes are set up in the correct way for an efficient, safe and comfortable ride.</p>
<p>Cyclists are being invited to attend a special workshop at Tower Hill this weekend where they will be able to have their bikes checked.</p>
<p>A snapshot survey, conducted for TfL by cycling ergonomics specialist CycleFit, found that having the wrong saddle height is the most common mistake.</p>
<h2>On your bikes</h2>
<p>Only one in five cyclists' saddles were found to be at the correct height; with a large number of people positioning their seat too low (43 per cent).</p>
<p>Women are twice as likely as men to make this mistake, which can lead to fatigued thigh muscles and sore knees.</p>
<p>TfL will host BikeJam, a family-friendly celebration of all things cycling-related at Tower Hill as part of this weekend's Tour of Britain celebrations.</p>
<p>BikeJam will offer Londoners a free consultation with CycleFit as well as advice about cycling in the Capital.</p>
<p>1,000 handy bike adjustment tools will also be given away to help cyclists maintain their bikes in the optimum position.</p>
<p>Visit <a class="external-site" title=" (Opens in new window) (Opens in new window)" href="http://www.tflbikejam.com/" jquery1220544680269="6" jquery1220544486564="6">http://www.tflbikejam.com/</a> for more information.</p>
<h2>Summer of two wheels</h2>
<p>The Tour of Britain is the next event in the Mayor's Summer of Cycling campaign, which culminates on 21 September with the Sky Sports London Freewheel.</p>
<p>CycleFit, use a number of measures to assess cyclists' riding positions.</p>
<p>These included handlebar reach, saddle height, inside leg and leg extension angle.</p>
<p>In total, just 29 per cent of the cyclists participating in the research were riding in a good overall position.</p>
<h2>Cycling positions</h2>
<p>The following tips will help cyclists get the most from their bikes:</p>
<ul>
<li>Saddle height: People have many methods for selecting their own saddle height, quite often passed down by parents or suggested by friends. In order to achieve the correct set up, follow this simple method: 
<ul>
<li>Measure your inside leg in centimeters (remember to take off your shoes for an accurate measurement) </li>
<li>Subtract 10cm, giving you a new figure </li>
<li>The distance from the top of the saddle to the point where the pedals are attached to the bike frame should be equal to this new figure </li>
<li>Once the adjustment has been made, your leg extension angle should be 33 degrees (just short of straight) at the bottom of the pedal &nbsp;stroke. If your saddle is too low, cycling can be hard on your thighs and knees. If it is too high, you will not be able apply maximum &nbsp;power through each pedal stroke</li></ul></li></ul>
<h2>Test your Bike</h2>
<ul>
<li><strong>Reach:</strong> When sitting on your bike, your upper body should be relaxed and your back straight. If you have to reach too far forwards (or down) to the handlebars, you may experience soreness in your arms, shoulders or back. Both the saddle and handlebars can be adjusted to help you achieve a relaxed cycling position </li>
<li><strong>Cycling speed:</strong> For maximum efficiency, it is best to use a gear that allows your legs to rotate at around 80-100 rpm. Some bike computers can measure cadence, otherwise, to give you a rough idea, count your pedal revolutions for 15 seconds and then multiply by four </li>
<li><strong>Buying new:</strong> When buying a new bike, it is best to buy it from a specialist cycling shop that offers a fitting service</li></ul>
<p>Peter McBride, Head of Cycling, Walking and Accessibility at TfL, said: 'We carried out this research to raise awareness of the benefits of having the right bike fit.</p>
<h2>The right fit</h2>
<p>'More and more people are cycling in the Capital and we're keen that they maximise the benefits of cycling while remaining comfortable and safe.</p>
<p>'People who visit BikeJam at Tower Hill on Sunday will be able to have a free cycle fitting assessment from the experts.</p>
<p>'After a few quick adjustments, they really will be better off by bike.'</p>
<p>Julian Wall from CycleFit concludes: 'Having a well set-up bike can make a real difference to people's comfort, fitness and confidence levels.</p>
<p>'As well as giving greater control, a properly adjusted bike enables people to cycle more often and for longer distances.</p>
<p>'In our experience, a comfortable cyclist is much more likely to become a regular cyclist.'</p>
<p><strong>
<hr>
Notes for editors:</strong> 
<p>
<p>TfL is investing &pound;55m in cycling this year - up from &pound;36m last year.</p>
<p>The money is being invested in cycle routes, cycle parking facilities, a bike hire scheme to encourage even more cycling in the Capital, adult and child cycle training and a number of cycling events.</p>
<p><strong>About </strong><a class="external-site" title=" (Opens in new window) (Opens in new window)" href="http://www.cyclefit.co.uk/" jquery1220544680269="7" jquery1220544486564="7"><strong>CycleFit</strong></a>: Cyclefit's raison d'etre is to ensure that cyclists ride their bikes comfortably, efficiently and injury free.</p>
<p>Cyclefit was conceived by Julian Wall and Philip Cavell in 2003, they were dissatisfied with the then 'back of a fag packet' method of fitting a human to a bicycle, they travelled to the USA to learn the latest techniques and skills for proper 'bike fitting'.</p>
<p>Cyclefit has fitted thousands of cyclists over the last five years from professional cyclists to beginners.</p>
<p>Research was carried out among 51 cyclists in London's Hyde Park on 27 August 2008.<br></p>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "Research conducted for TfL suggests that 71 per cent of London's cyclists are riding badly-fitting bikes.With an increasing number of people taking to two wheels, TfL is encouraging cyclists to ensure that their bikes are set up in the correct way for an";}
        
        


 