


@{ViewBag.Title = "Back to school - but will you be getting free travel?";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>Back to school - but will you be getting free travel?</h1>
        <div class="content-page-press-release">
        01 September 2008
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        Families in London are being reminded to take advantage of free bus and tram travel for their children with the new school year about to begin.
        
    </div>



<div class="pull-quote">
        <div class="quote-body">"'One of the aims of the Zip scheme was to improve the level of behaviour on the capital's buses and I have been pleased to hear feedback that this is now happening"</div>
        <div class="quote-footer">
            <div class="quotee-name">Boris Johnson</div>
            <div class="quotee-job-title">Mayor of London</div>
        </div>
</div>

 <div class="on-this-page">
<div class="pullquote right">
                        <p>
                            'One of the aims of the Zip scheme was to improve the level of behaviour on the capital's buses and I have been pleased to hear feedback that this is now happening
                            
                        </p>
                    </div>
                
            
            
            <p>While take up of free travel among eligible 11 to 15-year-olds is at around 80 per cent, there are still thousands of young people yet to take advantage of this scheme.</p>
<p>Free travel concessions have now been grouped under the umbrella name 'Zip'. The Zip Oyster photocard gives 11 to 15-year-olds and eligible 16 to 18 year-olds free travel on London's buses and trams. This could save families over &pound;300 a year.&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </p>
<h2>Free travel</h2>

<p>It is estimated that around 100,000 children in each secondary school year (11-15) could benefit from a Zip card, and that around 140,000 young Londoners in full-time education or work-based learning are eligible for the 16+ free bus and tram travel concession.</p>
<p>The Zip travel concession has also benefited some of London's most disadvantaged families by giving 11 to15-year-old Oyster photocard holders child-rate travel on the Tube, DLR and London Overground, with a daily cap of just &pound;1 (Zones 1-6). </p>
<p>All 16+ Oyster photocard holders can buy 7 Day, monthly or longer period Travelcards at child-rate and pay as you go at half the adult-rate, even if they don't qualify for free bus and tram travel. These savings are designed to enable children and young people to explore everything the capital has to offer, no matter where they live in London. </p>
<p>The Mayor of London, Boris Johnson, said: 'With the new school year just around the corner, young people need to make sure they get signed up to the Zip scheme so that they can take advantage of free travel. When the scheme launched, some parents voiced concern that they had not been kept fully in the loop.&nbsp; </p>
<p>'I&nbsp;have therefore asked Transport for London to do everything possible to make as many young people, schools and parents aware of the Zip scheme and how to benefit from it. </p>

<h2>Improving behaviour</h2>
<p>'One of the aims of the Zip scheme was to improve the level of behaviour on the capital's buses and I have been pleased to hear feedback that this is now happening, which is obviously good news for every passenger.'</p>
<p>TfL Director of Community Safety, Enforcement and Protection, Steve Burton said: 'This scheme is to help the families in London that need it most and may be especially valuable during the so-called "credit crunch" - we don't want anyone to miss out. </p>
<p>'Since June, validating Oyster photocards on every journey has been compulsory for anyone qualifying for free travel and we are already hearing back from passengers and bus drivers that behaviour among school children is significantly improving.</p>
<p>'Parents and guardians should make sure that children carry the card every day if they take the bus to school, because any child without it will have to pay for their journey.'</p>
<p>Anne Longfield OBE, Chief Executive of 4Children said: '4Children welcomes Transport for London's Zip travel scheme for its capacity to provide greater freedom for young people and improve their access to sporting, social and cultural activities. </p>
<p>'It has powerful potential to support families and young people growing up in and around London, particularly those whose activities may be limited due to financial restrictions.'</p>
<p>Zip Oyster photocard application forms are available from Post Offices within London.&nbsp;It may take up to two weeks to process your application. Those 11 to 18-year-olds who do not have a valid Oyster photocard must pay the full adult cash fare. Proof of application will not be accepted by bus drivers as a valid ticket for travel. </p>
<p>Further details are available at <a href="http://www.tfl.gov.uk/zip">www.tfl.gov.uk/zip</a></p>
<p>
<hr>

<p>
<h3>Notes to editors </h3>
<p>You can apply up to one month before your 11th birthday for your 11-15 Zip Oyster photocard. </p>
<p>Holders of 16+ Oyster photocards moving into a second year of education or training, and holders of under 16s Oyster photocards that are due to expire on 30 September 2008, will be sent an application form, with a reply envelope to send the form directly back to TfL. </p>
<p>For any other applicants, 16+ Oyster photocard applications for the free bus and tram concession will be available from and accepted at Post Offices from 1 September.&nbsp;&nbsp; Forms are also being sent to schools.</p>
<p>Applicants should ensure that applications are submitted at the Post Office by 13 September to ensure they receive their 16+ Oyster photocards by 30 September. </p>
<p>Compared with child fares of half the adult rate (which is normal outside London), the free travel concession is worth up to &pound;6.50 per week, saving over &pound;300 in a full year (the adult rate 7 Day Bus Pass currently costs &pound;13). </p>
<p>There are currently more than 485,000 cardholders on the Under-16s Oyster photocard schemes and around 150,000 on the 16+ free Bus and Tram travel scheme.</p>
<p>Since 1 June 11 to13-year-olds have had to carry an Oyster photocard to qualify for free travel on London's buses and trams.</p>
<p>First applications for an Oyster photocard are processed free of charge. Applicants will need to provide a photograph and proof of age at the time of application. 16+ applicants for free travel will need to have their forms validated by their school, college or training provider and show proof that they live in a London borough.</p>
<p>If an Oyster photocard has been lost, stolen or damaged the cardholder will have to reapply to get a duplicate and pay a non-refundable fee of &pound;10. </p>
<h3>Who travels free?&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </h3>
<p>Free bus and tram travel is available to: </p>
<ul>
<li>All children aged 11 and over need to have an Oyster photocard to benefit from free bus and tram travel </li>
<li>Under-11s do not need to carry an Oyster photocard to travel free on London's buses and trams </li>
<li>Young people aged 16 to18 on 31 August prior to the start of the academic year qualify for free bus and tram travel with an Oyster photocard if they are in qualifying full time education (at level 3 or below) or on a work-based learning scheme and live in a London borough </li>
<li>If they are not in full-time education and do not live in a London borough, 16 to17-year-olds can apply for a 16+ Oyster photocard to get half adult-rate travel on bus, tube, tram, DLR and London Overground services</li></ul>
<h3>Behaviour code</h3>
<p>In applying for an Oyster photocard the applicant also signs up to TfL's Behaviour Code. If a young person breaks the Behaviour Code they run the risk of losing their travel concession. The Behaviour Code states that:</p>
<ul>
<li>When on London's public transport network or premises, you should always act sensibly and treat others as you would like to be treated. </li></ul>
<p>Your travel concession may be withdrawn if we believe that you have behaved in an antisocial way. </p>
<h3>Penalties</h3>
<ul>
<li>Children over 11 travelling without an Oyster photocard (or other ticket) will receive a penalty fare </li>
<li>Children over 11 travelling with an unvalidated Oyster photocard will have their details recorded so a written warning can be sent to their parent/guardian, as well as a verbal warning issued on the spot. Those caught twice in any rolling year will have their concession withdrawn for six months (or permanently in the case of 16+ concession holders). Should they be caught travelling without a ticket during this suspension period they will lose the concession for the life of the scheme (ie,. a maximum of 5 years)</li></ul>
<p>In addition, TfL is working with the Mayor of London Boris Johnson to develop the Payback London scheme which will see those under-18s who have their free travel concession withdrawn for breaking the Behaviour Code given the opportunity to earn it back by engaging in Community Service.</p>
<p>Information is also available in Bengali, Chinese, Czech, French, Greek, Gujarati, Hindi, Punjabi, Spanish, Turkish and Vietnamese.<br></p>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "While take up of free travel among eligible 11 to 15-year-olds is at around 80 per cent, there are still thousands of young people yet to take advantage of this scheme.Free travel concessions have now been grouped under the umbrella name 'Zip'. The Zip";}
        
        


 