


@{ViewBag.Title = "Bus diversions continue as Crossway bridge maintenance enters third phase";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>Bus diversions continue as Crossway bridge maintenance enters third phase</h1>
        <div class="content-page-press-release">
        19 September 2008
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        Bus diversions in Crossway are set to continue as the third phase of bridge maintenance work begins on Monday 29 September.
        
    </div>



 <div class="on-this-page">
<p>The diversions are the same as those in place for the second phase of works, which has been underway since 27 May 2008. </p>
<h2>Diversion details</h2>
<p>The diversions affect routes 177, 229, 401, 472, 601, 602 and N1. </p>

<p>Buses from Thamesmead follow the northern arm of Crossway to the Summerton Way roundabout, where they double back and then return&nbsp;along the northern arm of Crossway to Carlyle Road.</p>
<p>From the Carlyle Road/Bentham Road roundabout all routes will continue with their journey as usual.</p>
<p>Buses travelling in the other direction (towards Thamesmead) follow the same diversion in reverse.</p>
<p>Due to these diversions, buses are unable to serve the stops located on the southern arm of Crossway. </p>
<h2>Information on the works</h2>
<p>The works are being carried out by Tilfen Land, a local developer, and phase three will involve the bridge between Nickleby Close and Manor Close.&nbsp; </p>
<p>The works are expected to last approximately six weeks.</p>
<p>Once phase three is completed the bus routes will return to their original routing.&nbsp; </p>
<p>Passengers are advised to check posters on local bus stops for more information about the diversions. 
<hr>
<br>
<p>
            <p><strong>Notes to editors:</strong></p>
<ul type="circle">
<li>The first phase of works on Crossway began on 10 March 2008 and involved maintenance on the Eastern bridge </li>
<li>The second phase began on 27 May 2008 and involved works on the Southern bridge </li>
<li>For more information on the maintenance works along Crossway contact Tilfen Land on 01322 528580 </li>
<li>The Crossway works will be completed in approximately six weeks </li>
<li>Transport for London&nbsp;will provide information regarding when the diversions will come to an end when the finish date for the works has been confirmed<br></li></ul>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "The diversions are the same as those in place for the second phase of works, which has been underway since 27 May 2008. Diversion detailsThe diversions affect routes 177, 229, 401, 472, 601, 602 and N1. Buses from Thamesmead follow the northern arm of";}
        
        


 