


@{ViewBag.Title = "Docklands Light Railway regenerates North Woolwich";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>Docklands Light Railway regenerates North Woolwich</h1>
        <div class="content-page-press-release">
        02 September 2008
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        The Docklands Light Railway (DLR) is proving to be a key factor in making life better for North Woolwich residents according to a new report.
        
    </div>



<div class="pull-quote">
        <div class="quote-body">"We promised local people that the DLR would deliver benefits directly to them and they are now seeing those improvements"</div>
        <div class="quote-footer">
            <div class="quotee-name">Jonathan Fox</div>
            <div class="quotee-job-title">Director of the Docklands Light Railway</div>
        </div>
</div>

 <div class="on-this-page">
<div class="pullquote right">
                        <p>
                            We promised local people that the DLR would deliver benefits directly to them and they are now seeing those improvements 
                            
                        </p>
                    </div>
                
            
            
            <p>The report into the impact of the Docklands Light Railway (DLR) London City Extension reveals that almost 90 per cent of locals believe it has improved access to jobs, shopping and central London; and also attracted new people to move into the area. <br>&nbsp;<br>The report is the second to look at the impact of DLR in North Woolwich since the extension opened in December 2005.</p>
<p>The first report, produced in 2006, found residents had little confidence in their community and low expectations of getting better jobs or education.</p>
<p>But two years after the extension opened, the results are much more optimistic and 74 per cent&nbsp;of respondents felt that the DLR had improved things for them personally.</p>
<h2>Community confidence</h2>
<p>More people thought the area generally will improve or was improving (2006: 38 per cent,&nbsp;and 2008: 53 per cent). <br>&nbsp;<br>Others gave examples of people getting better jobs or carrying on to higher education because of better transport access.</p>
<p>Some people mentioned the DLR as a key factor in their decision to move into the area.</p>
<p>Positive comments made to researchers compiling a report included:&nbsp;<br>&nbsp;<br><strong>'[The DLR provides] much better access - we had nothing at one time, it was like an island here'; </strong>and&nbsp;<br><strong>&nbsp;<br>'People are coming into the area, and local people are getting different jobs outside the area.'</strong></p>
<h2>Regeneration</h2>
<p>Director of the Docklands Light Railway, Jonathan Fox, said: 'I'm enormously pleased with these comments which reflect exactly what the DLR is all about.</p>
<p>'We promised local people that the DLR would deliver benefits directly to them and they are now seeing those improvements in action.<br>&nbsp;<br>'We expect the effects of regeneration to become even more pronounced when the Woolwich Arsenal extension is completed next year.<br>&nbsp;<br>'However, we know we can always do more.</p>
<p>'Our current &pound;300m three-car upgrade programme across the network will deliver a more reliable service and greater capacity to ensure DLR remains a key factor in the regeneration of North Woolwich and other communities on the network.'<br>&nbsp;<br>
<hr>
<strong>Notes to editors: 
<p>
<ul>
<li></li></ul></strong>Four stations on the extension give locals access to the line. They are: West Silvertown, Pontoon Dock, London City Airport and King George V Station 
<li>The line is now being extended further via the DLR Woolwich Arsenal extension. This is a link from the King George V station under the River Thames into the heart of Woolwich town centre. It is due to open early next year and is expected to increase the effects of regeneration on North and South Woolwich </li>
<li>In 2010, another DLR extension currently under construction will give residents a direct link to Stratford International </li>
<li>The report was compiled by <a class="external-site" title=" (Opens in new window)" href="http://www.sraltd.co.uk/" jquery1220366515971="8">Social Research Associates Ltd</a> </li>
<li><a class="new-window filetype-pdf" title=" (Opens in new window)" href="http://www.tfl.gov.uk/assets/downloads/north-woolwich-research-report.pdf" jquery1220366515971="6">Download a coy of the report</a>&nbsp;now.<br></li>
<p>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "The report into the impact of the Docklands Light Railway (DLR) London City Extension reveals that almost 90 per cent of locals believe it has improved access to jobs, shopping and central London; and also attracted new people to move into the area.";}
        
        


 