


@{ViewBag.Title = "Exhibition showcases plans for Woolwich town centre bus routes";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>Exhibition showcases plans for Woolwich town centre bus routes</h1>
        <div class="content-page-press-release">
        15 September 2008
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        Transport for London (TfL) will hold a two-day exhibition in Woolwich town centre on Friday 19 and Saturday 20 September to provide information on proposed changes to bus routes in the area.
        
    </div>



 <div class="on-this-page">
<p>Significant changes to the bus network in the town centre are being proposed to complement the new Woolwich Arsenal DLR station which opens in February 2009.</p>
<p>The exhibition will take place in General Gordon Place where a marquee will be open to the public between 11:00 and 19:00 on both days.&nbsp;</p>
<p>It will provide local residents and bus users with an opportunity to view the proposals, with TfL staff on hand to explain the planned changes.</p>
<p>Under the proposals, Woolwich New Road would no longer be one way, allowing buses to serve Woolwich Arsenal DLR from both directions.&nbsp; </p>
<h2>Proposed changes</h2>
<p>A number of changes are also proposed for bus routes to the south of the town centre.</p>
<p>Peter Bradley, Head of Stakeholder Engagement, said: 'The exhibition provides a great opportunity for local residents and bus users to find out about planned changes to the bus network in Woolwich and give us their feedback.</p>
<p>'The opening of Woolwich Arsenal DLR in February will have a great impact on public transport in Woolwich and we want to ensure that bus services complement this.'</p>
<p>Information on the consultation can be requested via London Buses Customer Services, who will also welcome feedback or comments on the proposals.&nbsp;</p>
<p>A link to the consultation, which closes on 31 October 2008, will be available on the TfL website (tfl.gov.uk/buses)</p>
<p>
<hr>

<p>
<p><strong>Notes to editors:</strong></p>
<ul>
<li>London Buses Customer Services can be contacted by:&nbsp;<br>a.&nbsp;Telephone on 0845 300 7000<br>b.&nbsp;email on <a href="mailto:customerservices&#64;tfl-buses.co.uk">customerservices&#64;tfl-buses.co.uk</a><br>c.&nbsp;Writing to London Buses Customer Services, 4th floor, Palestra, 197 Blackfriars Road, London SE1 8NJ </li>
<li>The following changes are proposed for bus routes in Woolwich town centre:<br>a.&nbsp;Buses towards Plumstead would be able to turn right from Woolwich New Road into Plumstead Road instead of using Vincent Road and Burrage Road<br>b.&nbsp;Buses towards Plumstead Common would access Vincent Road via Thomas Street and Woolwich New Road rather than Greens End and General Gordon Place<br>c.&nbsp;Greens End and General Gordon Place would be pedestrianised and buses would use Thomas Street in both directions<br>d.&nbsp;Route 54 would terminate at Plumstead Road instead of Monk Street<br>e.&nbsp;Route 386 would terminate at Monk Street instead of Beresford Square </li>
<li>The following changes are proposed for bus routes to the South of Woolwich town centre<br>a.&nbsp;Route 178 would use Grand Depot Road/Woolwich New Road instead of Nightingale Place and Sandy Hill Road<br>b.&nbsp;Route 244 would use Grand Depot Road/Woolwich New Road instead of Sandy Hill Road<br>c.&nbsp;Route 291 would use Repository Road instead of Grand Depot Road and Ha Ha Road<br>d.&nbsp;Route 386 would use Sandy Hill Road/Bloomfield Road, Crescent Road and Burrage Road/Vincent Road instead of Grand Depot Road/Woolwich New Road</li></ul>
<p><br>&nbsp;</p>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "Significant changes to the bus network in the town centre are being proposed to complement the new Woolwich Arsenal DLR station which opens in February 2009.The exhibition will take place in General Gordon Place where a marquee will be open to the public";}
        
        


 