


@{ViewBag.Title = "Hackney Carriage licence for all TX4 taxis with a 56 registration suspended";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>Hackney Carriage licence for all TX4 taxis with a 56 registration suspended</h1>
        <div class="content-page-press-release">
        19 September 2008
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        Taxi owners and drivers are advised that TX4s with a 56 registration cannot be used in passenger service in London until further notice.
        
    </div>



<div class="pull-quote">
        <div class="quote-body">"I would like to reassure passengers that the vast majority of London's 21,000 taxis are not affected and are safe to use"</div>
        <div class="quote-footer">
            <div class="quotee-name">Ed Thompson</div>
            <div class="quotee-job-title">Director of Taxi & Private Hire at the Public Carriage Office</div>
        </div>
</div>

 <div class="on-this-page">
<div class="pullquote right">
                        <p>
                            I would like to reassure passengers that the vast majority of London's 21,000 taxis are not affected and are safe to use
                            
                        </p>
                    </div>
                
            
            
            <p>The Public Carriage Office (PCO) is suspending the Hackney Carriage licence of all TX4 taxis with a 56 registration (reg.).</p>
<p>Previously, only 56 reg. TX4s which had not been inspected by the manufacturer, London Taxis International (LTI), had their licence suspended.</p>
<p>Following a week-long investigation during which around 200 56 reg. TX4 taxis were inspected, LTI has not yet been able to identify the fault causing some of these vehicles to catch fire.</p>
<p>As a result, they cannot be certain that the safety checks carried out on a number of 56 reg. TX4s this week are addressing the problem.</p>
<p>On that basis, the PCO has no choice but to suspend the licence of all 56 reg. TX4s until the manufacturer can confirm this model is safe.</p>
<p>Ed Thompson, Director of Taxi &amp; Private Hire at the PCO, said: 'On the basis of information received from LTI today, we simply have no choice but to suspend the licence of all TX4 taxis with a 56 registration until LTI can confirm this model is safe.</p>
<p>'They are working to resolve this issue as soon as possible.</p>
<p>'This isn't a step we have taken lightly and we know it will be a blow for taxi drivers.</p>
<p>Although nobody has been hurt to date, we just can't take any chances with the lives of taxi drivers, passengers and other road users.'&nbsp; </p>
<p>He added: 'I would like to reassure passengers that the vast majority of London's 21,000 taxis are not affected and are safe to use.'</p>
<p>A PCO notice will be sent to the owners concerned.</p>
<p>Owners and drivers can call an enquiry line (020 7126 1980) over the weekend from 10:00 - 16:00 and from 09:00 - 16:00 throughout the week.</p>
<p>
<hr>

            <p><strong>Notes to editors:</strong></p>
<ul type="circle">
<li>The Public Carriage Office, part of Transport for London, is responsible for licensing and regulating the taxi and private hire industries in the Capital </li>
<li>There are more than 21,000 licensed taxis and almost 25,000 licensed taxi drivers in London </li>
<li>The TX4 was first approved for use as a taxi in London on 16 October 2006, and there are currently around 3,000 licensed TX4s in the Capital. This suspension only affects 56 reg. TX4s, of which there are around 600 in London </li>
<li>There have been eight fires on 56 reg. TX4s in London since July this year. We are aware of 12 fires nationwide since May. The steps we have taken to date are as follows: </li></ul>
<ol type="a">
<li>The PCO contacted LTI having received reports on 31 July of two vehicle fires. LTI advised they were investigating the earlier fires and informed the PCO that initial investigations did not suggest there was a fault with the vehicle </li>
<li>Following the seventh fire on Friday 12 September, LTI recalled all 56 reg. TX4s for a detailed inspection </li>
<li>The PCO appointed an independent fire safety expert to examine some of the burnt out vehicles </li>
<li>Following the eighth fire on Wednesday 17 September, the PCO suspended the cab licence of all 56 reg. TX4s which had not yet been inspected </li>
<li>Today, Friday 19 September, LTI has informed the PCO they had not yet identified the cause of the fires. Our own fire safety expert has also been unable to identify the cause. LTI have advised us they cannot guarantee the safety of those cabs which have been inspected, and so the PCO has had to suspend the licence of all TX4s with a 56 registration<br></li></ol>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "The Public Carriage Office (PCO) is suspending the Hackney Carriage licence of all TX4 taxis with a 56 registration (reg.).Previously, only 56 reg. TX4s which had not been inspected by the manufacturer, London Taxis International (LTI), had their licence";}
        
        


 