


@{ViewBag.Title = "Hanger Lane bridges to be given a revamp";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>Hanger Lane bridges to be given a revamp</h1>
        <div class="content-page-press-release">
        12 September 2008
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        Works will improve traffic flows and make the area more pleasant for pedestrians and cyclists.
        
    </div>



 <div class="on-this-page">
<div class="pullquote right">
                        <p>
                            These two bridges were built at the beginning of the last century, when there was only a fraction of the number of vehicles using it each day
                            
                        </p>
                    </div>
                
            
            
            <p>Transport for London (TfL) has begun work to replace Waldegrave Road Bridge and South Bridge in Ealing to make the two one-hundred-year-old crossings meet current safety standards, improve access for motorists along this section of the A406 and make the area more pleasant for pedestrians and cyclists.</p> <p>The two new bridges, which carry the A406 Hanger Lane over London Underground and Network Rail lines, will have new road layouts to improve traffic flows and will be strengthened to protect the rail lines underneath. </p> <p>The work is scheduled to take 18 months and is being carried out on behalf of TfL by UK based civil engineers, Norwest Holst. The site is registered with the Considerate Constructors Scheme.</p> <h2>Traffic flow improved</h2> <p>The bridges have been in place since the early 1900s and are nearing the end of their useful lives. 50,000 vehicles cross over these bridges each day, including two busy bus routes. </p> <p>The existing Waldegrave Road Bridge will be dismantled and removed and a new wider bridge built in its place, with new dedicated turning lanes that will improve traffic flow.</p> <p>The new South Bridge will meet all current safety standards and will be built alongside the existing South Bridge.</p> <p>The existing bridge which will be converted into a public space with landscaping, walkways and a cycle path.</p> <p>A new toucan crossing, serving both pedestrians and cyclists, will be built near Ealing Village Road and vehicle access between Hangar lane and Inglis Road will be closed off to reduce rat-running and improve overall safety at the junction.</p> <h2>Boosting safety</h2> <p>TfL has worked closely with Ealing Council to plan these works to ensure disruption is kept to a minimum, including keeping this section of the busy A406 open for the duration of the project.</p> <p>Access to properties in the area will also be maintained while work takes place.</p> <p>As a safety measure, temporary pedestrian diversions may be used at some stages and these will be clearly signed.</p> <p>Dana Skelley, Director of Road Network Management, TfL London Streets, said 'Hanger Lane is a vital link of the A406 and fifty thousand vehicles use it every day.</p> <p>'These two bridges were built at the beginning of the last century, when there was only a fraction of the number of vehicles using it each day, and it's time we upgraded them to meet today's demands.</p> <p>'Not only will these works make a difference to traffic flows in the area, but they'll mean better facilities for pedestrians and cyclists too, transforming the old road bridges into a public space that can be enjoyed by all.'</p> <p> <hr> <strong>Notes to editors:  <p> <ul> <li></li></ul></strong>The Considerate Constructors Scheme is a national initiative, set up by the construction industry, to improve its image. Sites registered to the scheme are monitored against a Code of Considerate Practice, designed to encourage best practice beyond statutory requirements. <a class="external-site" title=" (Opens in new window)" href="http://www.considerateconstructorsscheme.org.uk" jquery1221473472285="6">www.considerateconstructorsscheme.org.uk</a>  <li>Transport for London is responsible for maintaining and managing the 580km Transport for London Road Network (TLRN), which, although comprising only 5 per cent of the Capital's roads, carries approximately 33 per cent of its traffic<br></li> <p>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "Transport for London (TfL) has begun work to replace Waldegrave Road Bridge and South Bridge in Ealing to make the two one-hundred-year-old crossings meet current safety standards, improve access for motorists along this section of the A406 and make the";}
        
        


 