


@{ViewBag.Title = "Latest 'Safer Travel at Night' campaign to tackle illegal cabs and touting";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>Latest 'Safer Travel at Night' campaign to tackle illegal cabs and touting</h1>
        <div class="content-page-press-release">
        23 September 2008
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        The proportion of women using illegal cabs is at an all time low, but some are still putting themselves at risk.
        
    </div>



<div class="pull-quote">
        <div class="quote-body">"The dangers of taking an illegal minicab should never be underestimated"</div>
        <div class="quote-footer">
            <div class="quotee-name">Chief Superintendent Joe Royle</div>
            <div class="quotee-job-title">Transport Operational Command Unit</div>
        </div>
</div>

 <div class="on-this-page">
<div class="pullquote right">
                        <p>
                            The dangers of taking an illegal minicab should never be underestimated
                            
                        </p>
                    </div>
                
            
            
            <p>The Mayor of London, Transport for London (TfL) and the Metropolitan Police Service today launched the latest phase of the Safer Travel at Night campaign to raise awareness of the dangers of using illegal cabs. </p>
<p>The award-winning campaign has been very successful to date, with cab-related sexual offences down 44 per cent since 2002*. </p>
<p>The proportion of women using illegal cabs to get home late at night has also fallen from 19 per cent in 2003 to three per cent in 2008**.&nbsp; </p>
<p>However, 104 cab-related sexual attacks were committed in 2007* and recent research shows that around half (48 per cent) of late night travellers incorrectly believe that minicabs can pick up passengers that approach them in the street**.</p>
<p>&nbsp;</p>
<h2>Illegal cabs</h2>
<ul type="circle">
<li>Any minicab journey that is not booked through a licensed minicab operator is illegal, uninsured and unsafe. It is a criminal offence for drivers to carry out a journey that has not been booked with a licensed operator.</li></ul>
<p>
<p>
<ul type="circle">
<li>Booking guarantees that your trip will be carried out by a licensed driver in a licensed vehicle. It also means that a record will be kept of your journey, your driver and the vehicle used. In the event of any problems, the driver can be traced. </li></ul>
<p>
<p>
<ul type="circle">
<li>Only licensed taxis (black cabs) can be hailed in the street or picked up at a rank without a booking.</li></ul>
<p>&nbsp;</p>
<h2>Safer Travel at Night</h2>
<p>The Safer Travel at Night campaign launches at a time that sees an influx of university students to the Capital, many of whom are unfamiliar with London's late night travel options. </p>
<p>It includes outdoor poster and radio advertising and will continue with TV ads in the run up to Christmas, complementing police work which targets 'touting hotspots'.</p>
<p>&nbsp;</p>
<h2>The dangers of illegal cabs</h2>
<p>Mayor of London Boris Johnson said: 'If there's one message I want to get across, it's that women should never travel in an illegal cab - it is just not safe. </p>
<p>'Unlicensed touts could pose a real danger, so if you don't have the number for a licensed cab company in the area, you can use the excellent Cabwise text service wherever you are in London. </p>
<p>'To get two numbers for local licensed minicab firms and a black cab company you just need to text HOME to 60835. </p>
<p>'Simply, it is a number that all those going out in London should save on their mobiles.'</p>
<p>Steve Burton, TfL's Director of Community, Safety and Policy (CSEP) said: 'While we're pleased to see a drop in the proportion of women using illegal cabs, there is still a lot of work to be done. </p>
<p>'Only ever use a booked licensed minicab, and when you make your booking, be sure to give the operator your name and ask for details of the driver and car that will turn up. </p>
<p>'When the car arrives, check that it is the right vehicle and ask the driver to confirm their name and your destination.'</p>
<p>Chief Superintendent Joe Royle, of the Transport Operational Command Unit (TOCU) said: 'The dangers of taking an illegal minicab should never be underestimated.</p>
<p>'Working with our partners to raise public awareness, and continuing our dedicated anti-tout initiatives, the Metropolitan Police Service is committed to clamping down on illegal cabs. </p>
<p>'Our Cab Enforcement Unit's dedicated anti-tout initiatives help to reduce crime while at the same time improving the safety of passengers who use cabs.'</p>
<p>&nbsp;</p>
<h2>What's being done?</h2>
<p>Mayor Boris Johnson has taken a tough line on touting, and any licensed driver convicted of touting will now lose their Public Carriage Office (PCO) driver's licence. </p>
<p>He also announced earlier this year that the number of dedicated cab enforcement officers in the Capital would be doubled to 68. </p>
<p>The Cab Enforcement Unit, which is part of the TfL-funded TOCU, has made over 4,000 arrests for touting and cab-related offences since 2003.</p>
<p>Transport for London is continuing to work with boroughs to look at new locations in outer London for marshalled taxi or private hire ranks, at which people can pick up a licensed taxi or book a licensed minicab before waiting in a safe environment. </p>
<p>Late night marshalled taxi or private hire ranks have been established in areas of London which are particularly busy late at night, including Bromley, Beckenham, Kingston and Romford in outer London, and Cranbourn Street (near Leicester Square) and Liverpool Street in central London.</p>
<p>* Metropolitan Police Service statistics <br>** Research conducted for TfL by Synovate. 703 interviews conducted in January 2008. </p>
<p>
<hr>
<br>
<p>
            <p><strong>Notes to editors:</strong> </p>
<ul type="circle">
<li>Safer Travel at Night is a partnership between the Mayor of London, Transport for London (TfL) and the Metropolitan Police Service (MPS), who are working together with organisations across the capital to help make London safer at night by offering more safe travel options - key to this has been the licensing of the private hire and minicab industry</li>
<li>The Safer Travel at Night project was awarded the 14th annual Goldstein Award for Problem Orientated Policing for 2006. The award, which receives entries from a number of countries around the world, is given to a project that best reflects excellence in problem-orientated policing.&nbsp; TfL's entry was based on the Safer Travel at Night project partnership. The project's successes include the 'Know what you're getting into' public awareness campaign, more night buses than ever before, the licensing of all minicabs vehicles and operators, making taxi touting a recordable offence, marshalled taxi ranks and, by the end of 2005, all buses in the capital were fitted with CCTV</li></ul>
<p><strong>Late night travel options in London:</strong></p>
<ul type="circle">
<li>London Underground: The last Tubes leave central London at around 00:30 from Monday to Saturday</li>
<li>London Buses: There are more than 100 night bus routes across London</li>
<li>Since 2005 every London bus has had CCTV installed and there are now around 60,000 cameras on the fleet of 8,000 vehicles</li>
<li>Taxis and licensed private hire vehicles (including minicabs): There are nearly 25,000 licensed taxi drivers and over 50,000 licensed private hire drivers in London</li>
<li>Marshalled taxi ranks and private hire schemes: Late night marshalled taxi ranks or private hire schemes have been established in areas of London which are particularly busy late at night</li>
<li>Marshalled taxi ranks are situated in Bromley, Beckenham, Cranbourn Street, Kingston, Liverpool Street and Romford and there are late night marshalled private hire schemes operating in Kingston</li>
<li><a title="Cabwise" href="http://www.tfl.gov.uk/cabwise">Cabwise</a>:&nbsp;A text service which can provide the numbers of two local licensed minicab operators and a taxi operator wherever you are in London</li>
<li>Texting HOME to 60835 costs 35p plus standard network charges</li>
<li>Customers on the 3 network can access the service by texting their location (street name and partial post code, eg Victoria Street SW1) to 07797 800 000</li>
<li>Findaride: Passengers can visit tfl.gov.uk/findaride to search for licensed minicab operators in any part of London and book a licensed minicab for later on in the evening</li>
<li>TfL's Travel Information Centre: TfL's 24-hour travel information call centre can be phoned 24 hours a day on 020 7222 1234 and can provide information and phone numbers for taxi and private hire services in London</li>
<li>Visit <a title="Travel tools" href="http://www.tfl.gov.uk/traveltools ">Travel tools</a> for information on Findaride, Cabwise, Journey Planner and travel information in London<br></li></ul>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "The Mayor of London, Transport for London (TfL) and the Metropolitan Police Service today launched the latest phase of the Safer Travel at Night campaign to raise awareness of the dangers of using illegal cabs. The award-winning campaign has been very";}
        
        


 