


@{ViewBag.Title = "London Buses consults on extension to route R7";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>London Buses consults on extension to route R7</h1>
        <div class="content-page-press-release">
        15 September 2008
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        London Buses is consulting local residents and bus users on proposals to extend route R7 to serve the Aquila housing development in Bickley.
        
    </div>



 <div class="on-this-page">
<p>If extended, the bus would provide residents in the 300 houses on the estate with a bus service within five minutes' walk of their homes.</p>
<p>Route R7 currently runs from the Walnuts Centre in Orpington to Bickley Station via Petts Wood.</p>
<p>The proposed changes would see the route continuing from Bickley Station to the Aquila housing development via Hawthorne Road and Golf Road.</p>
<p>The service would continue to run once an hour between 6:00 and 22:00 Monday to Saturday.</p>
<p>Peter Bradley, Head of Stakeholder Engagement, said: 'London's bus network is constantly under review to ensure we continue to meet the needs of passengers.</p>
<p>'We are very keen to hear passengers' views on our proposals for route R7.'</p>
<p>Information on the consultation can be requested via London Buses Customer Services, who will also welcome feedback or comments on the proposals.</p>
<p>A link to the consultation, which closes on 31 October 2008, will be available on the Transport for London website (<a href="http://www.tfl.gov.uk/buses">tfl.gov.uk/buses</a>).</p>
<p>
<hr>
<strong>Notes to editors:<p>
<ul>
<li></li></ul></strong>London Buses Customer Services can be contacted by:
<ul>
<li>Telephone on 0845 300 7000</li>
<li>Email on <a href="mailto:customerservices&#64;tfl-buses.co.uk">customerservices&#64;tfl-buses.co.uk</a></li>
<li>Writing to London Buses Customer Services, 4th floor, Palestra, 197 Blackfriars Road, London SE1 8NJ</li></ul>
<p>&nbsp;</p>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "If extended, the bus would provide residents in the 300 houses on the estate with a bus service within five minutes' walk of their homes.Route R7 currently runs from the Walnuts Centre in Orpington to Bickley Station via Petts Wood.The proposed changes";}
        
        


 