


@{ViewBag.Title = "Mayor announces fair and affordable fares package to sustain massive investment in London's transport";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>Mayor announces fair and affordable fares package to sustain massive investment in London's transport</h1>
        <div class="content-page-press-release">
        04 September 2008
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        This press release was originally issued by the press office at the Greater London Authority.
        
    </div>



<div class="pull-quote">
        <div class="quote-body">"This fares package is designed to be fair to all Londoners, commuters and visitors"</div>
        <div class="quote-footer">
            <div class="quotee-name">Boris Johnson</div>
            <div class="quotee-job-title">The Mayor of London</div>
        </div>
</div>

 <div class="on-this-page">
<div class="pullquote right">
                        <p>
                            This fares package is designed to be fair to all Londoners, commuters and visitors 
                            
                        </p>
                    </div>
                
            
            
            <ul> <li>Older people&nbsp;to benefit from 24-hour Freedom Pass  </li><li>New Income Support Scheme and off-peak fares benefits lower incomes  </li><li>But 'tough choices' necessary to tackle 'the unfunded legacy of Livingstone's largesse'</li></ul> <p>The Mayor of London, Boris Johnson, today announced an affordable fares package for 2009 to help sustain the massive investment necessary to increase capacity and reliability across London's transport network.</p> <p>The billions being invested in London's transport network will support the transformation of the Tube, preparations for 2012, deliver Crossrail, the extension of the London Overground network and Docklands Light Railway, an even better bus network and sustainable schemes to get more people cycling and walking.</p> <p>Working with London's boroughs older people will benefit through the extension of the Freedom Pass to 24-hours.</p> <p>There will be a new half-price travel scheme for those on Income Support, now funded by the Mayor and Transport for London (TfL) rather than the people of Venezuela.</p> <p>And across the TfL network, Oyster will remain the cheapest way to travel.</p> <p>Many Londoners and visitors will benefit from the introduction of a new daytime off-peak reduced fare on the Tube, from 9:30 to 16:00, Monday to Friday.</p> <p>In some cases, a journey from zone 6 to central London will be &pound;1.60 cheaper.</p> <p>For example, using Oyster Pay As You Go to travel from zone 6 to zone 1 between 9:30 am and 16:00 will fall from &pound;3.80 to &pound;2.20.</p> <p>War veterans in receipt of a pension under the War Pensions Scheme or the Armed Forces Compensation Scheme, including war widows and widowers and eligible dependents, will be continue to travel for free following the Mayor's announcement early this year. </p> <p>However, Mayor Johnson warned of the consequences of former Mayor Livingstone's unsustainable fares policy and pursuit of unfunded transport schemes, including the hugely unpopular West London Tram project that consumed &pound;30m of public money before being scrapped.</p> <p>It is estimated that Livingstone's policies in his last year alone are estimated to have removed over &pound;80m from the funds available to TfL this year, translating into a huge gap over the ten year investment period.</p> <p>Overall, fares will have to rise one per cent above inflation and there will be tough choices around some unfunded transport projects, to be reviewed as part of TfL's Business Plan published later this year.</p> <p>Mayor of London Boris Johnson said: 'This fares package is designed to be fair to all Londoners, commuters and visitors.</p> <p>Some of us will pay a little more but I have ensured fares will remain affordable, especially for people who rely on public transport most, including older people, disabled veterans and those on lower incomes.</p> <p>'I have been left to tackle the unfunded legacy of Livingstone's largesse.</p> <p>'Put simply, the previous Mayor's cynical and irresponsible pre-election fares freeze and support for unfunded transport schemes is unsustainable, and has produced a gap that has to be plugged.</p> <p>'I'm determined to deliver value for money for London's farepayers and taxpayers and that will mean some tough choices.</p> <p>'But let no-one be in any doubt.</p> <p>'We're investing billions to improve transport in London, prepare for 2012 and deliver Crossrail.</p> <p>'This is a fares package that will sustain the investment needed to deliver the extra capacity and reliability that is vital for London.'</p> <p>Fares will rise next year based on the July 2008 Retail Price Index (RPI) plus one per cent overall.</p> <p>'This means an overall increase of six per cent in 2009, sustaining the funds necessary for investment in the transport network.</p> <p>TfL will also need to keep under review the impact of higher oil prices and other global and national economic pressures.</p> <p>London's Transport Commissioner, Peter Hendy said: 'The Mayor's emphasis on taxpayer value means we are taking action on costs across the whole of TfL, minimising overheads and focusing on service delivery and capacity improvement in every area.</p> <p>'In the Autumn, we will demonstrate how further savings, together with fares income and government grant, will produce a balanced budget in 2009/10, and the capacity for major investment in Crossrail and other schemes in the years ahead.'</p> <h2>Notes to editors</h2> <p>Details of the 2009 fares package:</p><strong> <h2>Tube peak / off-peak times </h2></strong>Visitors and Londoners on lower incomes will also benefit from the introduction of a new daytime off-peak and reduced fare on the Tube, from 9:30 to 16:00 Monday to Friday.<strong>  <h2>Bus</h2></strong> <p>The Oyster&nbsp;pay as you go&nbsp;bus single fare increases from 90p to &pound;1, returning to 2007 levels.</p> <p>The bus and tram cash single fare is unchanged at &pound;2. </p> <p>The One Day Bus and Tram&nbsp;pay as you go&nbsp;cap rises from &pound;3 to &pound;3.30.</p> <p>The additional charge for the printed One Day Bus Pass remains at 50p.</p> <p>The Weekly Bus and Tram Pass rises from &pound;13 to &pound;13.80.</p> <p>Other Bus Pass season tickets rise in proportion to the weekly Pass.</p> <p>A new half price Bus and Tram discount scheme is proposed for London residents in receipt of Income Support.</p> <p>Terms and Conditions for customers will be the same as the previous scheme that ended in August 2008.</p><strong> <h2>London Underground, DLR and London Overground </h2></strong>The &pound;4 adult cash fare via Zone 1 is frozen, while the &pound;3 non-Zone 1 fare rises to &pound;3.20.&nbsp;  <p>The minimum adult cash fare of &pound;1.50 on the DLR and Overground rises to &pound;1.60.&nbsp; </p> <p>Oyster pay as you go fares on the Tube are revised as shown in Table 3.</p> <p>The One Day Price Cap will continue to offer a 50p saving on the cost of a One Day Travelcard.</p> <p>A new off peak period on the Tube between 9:30 and 16:00 has been introduced with fares reduced by over 35 per cent&nbsp;on the existing peak price.</p> <p><strong>Table 3: Proposed 2009 Underground/DLR/Overground adult Oyster pay as you go fares </strong></p> <p><strong>2008 fares&nbsp; January 2009</strong></p> <p>(including Zone 1)</p> <p> <div class="table-container"><table cellspacing="1" cellpadding="1" width="100%" border="1"> <tbody> <tr> <td>&nbsp;</td> <td>Standard</td> <td>Discount</td> <td>Peak</td> <td>Off-peak</td></tr> <tr> <td> <p>1 zone</p></td> <td>&pound;1.50</td> <td>&pound;1.50</td> <td>&pound;1.60</td> <td>&pound;1.60</td></tr> <tr> <td>2 zones</td> <td>&pound;2</td> <td>&pound;1.50</td> <td>&pound;2.20</td> <td>&pound;1.60</td></tr> <tr> <td>3 zones</td> <td>&pound;2.50</td> <td>&pound;2&nbsp;</td> <td>&pound;2.70</td> <td>&pound;2.20</td></tr> <tr> <td>4 zones</td> <td>&pound;2.50</td> <td>&pound;2</td> <td>&pound;2.80</td> <td>&pound;2.20</td></tr> <tr> <td>5 zones</td> <td>&pound;3.50</td> <td>&pound;2</td> <td>&pound;3.70</td> <td>&pound;2.20</td></tr> <tr> <td>6 zones</td> <td>&pound;3.50</td> <td>&pound;2</td> <td>&pound;3.80</td> <td>&pound;2.20</td></tr></tbody></table></div> <p> <p>(not including Zone 1)</p> <p><strong></strong></p> <p> <div class="table-container"><table cellspacing="1" cellpadding="1" width="100%" border="1"> <tbody> <tr> <td>&nbsp;</td> <td>Standard</td> <td>Discount</td> <td>Peak</td> <td>Off-peak</td></tr> <tr> <td>2 zones</td> <td>&pound;1</td> <td>&pound;1</td> <td>&pound;1.10&nbsp;</td> <td>&pound;1.10&nbsp;</td></tr> <tr> <td>3 zones</td> <td>&pound;1.80</td> <td>&pound;1</td> <td>&pound;2</td> <td>&pound;1.10 &nbsp;</td></tr> <tr> <td>4 zones</td> <td>&pound;1.80</td> <td>&pound;1</td> <td>&pound;2</td> <td>&pound;1.10 </td></tr> <tr> <td>5 zones</td> <td>&pound;1.80</td> <td>&pound;1</td> <td>&pound;2</td> <td>&pound;1.10 </td></tr></tbody></table></div> <p><strong> <h2>Travelcards</h2></strong> <p>Travelcard prices are set in agreement with the Train Operating Companies who operate services within Greater London.</p> <p>Revised prices for adult tickets covering Zones 1-6 are set out below.</p> <p><strong>Table 1: 2009 adult Travelcard season prices</strong></p> <p>(including Zone 1)</p> <p> <div class="table-container"><table cellspacing="1" cellpadding="1" width="100%" border="1"> <tbody> <tr> <td>&nbsp;</td> <td>Current price</td> <td>January 2009 price</td></tr> <tr> <td>2 zones</td> <td>&pound;24.20</td> <td>&pound;25.80</td></tr> <tr> <td>3 zones</td> <td>&pound;28.40</td> <td>&pound;30.20</td></tr> <tr> <td>4 zones</td> <td>&pound;34.60</td> <td>&pound;36.80</td></tr> <tr> <td>5 zones</td> <td>&pound;41.40</td> <td>&pound;44</td></tr> <tr> <td>6 zones</td> <td> <p>&pound;44.60</p></td> <td>&pound;47.60</td></tr></tbody></table></div> <p> <p>(not including Zone 1)</p> <p> <div class="table-container"><table cellspacing="1" cellpadding="1" width="100%" border="1"> <tbody> <tr> <td>&nbsp;</td> <td>Current price</td> <td>January 2009 price</td></tr> <tr> <td>2 zones</td> <td>&pound;15.60</td> <td>&pound;16.60&nbsp;</td></tr> <tr> <td>3 zones</td> <td>&pound;20.20</td> <td>&pound;21.40</td></tr> <tr> <td>4 zones</td> <td>&pound;24.20</td> <td>&pound;25.60</td></tr> <tr> <td>5 zones</td> <td>&pound;30.40</td> <td>&pound;32.40</td></tr></tbody></table></div> <p> <p><strong>Table 2: 2009 adult Day Travelcard prices</strong></p> <p>Day Travelcard (Off-Peak) </p> <p> <div class="table-container"><table cellspacing="1" cellpadding="1" width="100%" border="1"> <tbody> <tr> <td>&nbsp;</td> <td>Current price</td> <td>January 2009 price</td></tr> <tr> <td>Zones 1-2</td> <td>&pound;5.30</td> <td>&pound;5.60&nbsp;</td></tr> <tr> <td>Zones 1-4</td> <td>&pound;5.90</td> <td>&pound;6.30</td></tr> <tr> <td>Zones 1-6</td> <td>&pound;7</td> <td>&pound;7.50</td></tr> <tr> <td>Zones 2-6</td> <td>&pound;4.80</td> <td>&pound;5.10</td></tr></tbody></table></div> <p> <p>Day Travelcard (Peak)</p> <p> <div class="table-container"><table cellspacing="1" cellpadding="1" width="100%" border="1"> <tbody> <tr> <td>&nbsp;</td> <td>Current price</td> <td>January 2009 price</td></tr> <tr> <td>Zones 1-2</td> <td>&pound;6.80</td> <td>&pound;7.20</td></tr> <tr> <td>Zones 1-3</td> <td>&pound;8</td> <td>&pound;8.60</td></tr> <tr> <td>Zones 1-4 </td> <td>&pound;9.40</td> <td>&pound;10</td></tr> <tr> <td>Zones 1-5 </td> <td>&pound;11.80</td> <td>&pound;12.60</td></tr> <tr> <td>Zones 1-6 </td> <td>&pound;13.80</td> <td>&pound;14.80</td></tr> <tr> <td>Zones 2-6 </td> <td>&pound;8.40</td> <td>&pound;9</td></tr></tbody></table></div> <p><strong> <h2>Child and discounted fares for young people </h2></strong>Most child and discounted fares on the Underground are set as 50 per cent&nbsp;or 70 per cent&nbsp;of the adult fare.  <p>These reduced fares will increase pro-rata to the adult fares.</p> <p>The pay as you go flat fare for 11 to 15s on the Tube increases from 50p to 55p in line with the increase in the pay as you go minimum adult fare from &pound;1 to &pound;1.10.</p> <p>The child One Day cap remains at 100p.&nbsp; Child off-peak One Day Travelcard prices remain at 100p and 200p.&nbsp; Travel by the under 11s will remain free on the Tube at all times.&nbsp; </p><strong> <h2>Zones 7 to 9 outside Greater London </h2></strong>The overall increase in fares beyond Zone 6 is consistent with the PRI&nbsp;plus one&nbsp;per cent&nbsp;overall fares target.  <p>Revised fares to Zone 1 from Zones 7 to 9 are shown in Table 4.</p> <p>Travelcard season prices increase by almost exactly six per cent.&nbsp; Increases for other fares range from zero to 9.8 per cent.&nbsp; </p> <p><strong>Table 4: Proposed 2009 Underground/Overground adult prices beyond Zone 6</strong></p> <p> <div class="table-container"><table cellspacing="1" cellpadding="1" width="100%" border="1"> <tbody> <tr> <td>&nbsp;</td> <td>&nbsp;2008 fares</td> <td>&nbsp;</td> <td>&nbsp;</td></tr> <tr> <td>Zone 1 to Zone: </td> <td>7</td> <td>8</td> <td>9&nbsp;</td></tr> <tr> <td>Cash single </td> <td>&pound;5.50</td> <td>&pound;7&nbsp;</td> <td>&pound;7</td></tr> <tr> <td>Pay as you go - Standard / peak</td> <td>&pound;4.50</td> <td>&pound;5.50&nbsp;</td> <td>&pound;5.50 </td></tr> <tr> <td>Discount / off-peak</td> <td>&pound;3</td> <td>&pound;3</td> <td>&pound;3</td></tr> <tr> <td>Travelcards-7 Day&nbsp; </td> <td>&pound;48</td> <td>&pound;56</td> <td>&pound;65</td></tr> <tr> <td>Day (peak)&nbsp; </td> <td>-</td> <td>-</td> <td>&pound;15</td></tr> <tr> <td>Day (off peak)</td> <td>-</td> <td>-</td> <td>&pound;8.20</td></tr></tbody></table></div> <p> <div class="table-container"><table width="100%" border="1"> <tbody> <tr> <td>&nbsp;</td> <td>January 2009&nbsp;</td> <td>&nbsp;</td> <td>&nbsp;</td></tr> <tr> <td>Zone 1 to Zone: </td> <td>7&nbsp;</td> <td>8&nbsp;</td> <td>9&nbsp;</td></tr> <tr> <td>Cash single </td> <td>&pound;5.50</td> <td>&pound;7</td> <td>&pound;7</td></tr> <tr> <td>Pay as you go - Standard / peak</td> <td>&pound;4.70&nbsp;&nbsp;</td> <td>&pound;5.80</td> <td>&pound;6</td></tr> <tr> <td>Discount / off-peak</td> <td>&pound;3&nbsp;</td> <td>&pound;3</td> <td>&pound;3</td></tr> <tr> <td>Travelcards-7 Day&nbsp; </td> <td>&pound;50.80</td> <td>&pound;59.40</td> <td>&pound;69</td></tr> <tr> <td>Day (peak)&nbsp; </td> <td>-</td> <td>-</td> <td>&pound;16.20</td></tr> <tr> <td>Day (off peak)</td> <td>-</td> <td>-</td> <td>&pound;9</td></tr></tbody></table></div> <p> <p><strong>Bus saver tickets </strong> <p>TfL will be phasing out Bus Saver Ticket, with tickets ceasing to be sold from 7 September 2008.</p> <p>The huge success and convenience of the Oyster card has seen falling numbers of Saver Ticket users and there are now very low numbers in use.</p> <p>Existing Bus Saver tickets will be accepted for bus travel for the foreseeable future.</p>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "Older people&nbsp;to benefit from 24-hour Freedom PassNew Income Support Scheme and off-peak fares benefits lower incomesBut 'tough choices' necessary to tackle 'the unfunded legacy of Livingstone's largesse' The Mayor of London, Boris Johnson, today";}
        
        


 