


@{ViewBag.Title = "One week left to have your say on future of Congestion Charge Western Extension ";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>One week left to have your say on future of Congestion Charge Western Extension </h1>
        <div class="content-page-press-release">
        29 September 2008
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        Mayor urges Londoners to give their views before consultation closes.
        
    </div>



<div class="pull-quote">
        <div class="quote-body">"I'd urge anyone with an opinion on the Western Extension to take up this opportunity"</div>
        <div class="quote-footer">
            <div class="quotee-name">Boris Johnson</div>
            <div class="quotee-job-title">Mayor of London</div>
        </div>
</div>

 <div class="on-this-page">
<div class="pullquote right">
                        <p>
                            I'd urge anyone with an opinion on the Western Extension to take up this opportunity 
                            
                        </p>
                    </div>
                
            
            
            <p>Londoners have just under one week left to give their views on the future of the Western Extension of the Congestion Charging zone, with&nbsp;the five-week public consultation ending on Sunday 5 October.&nbsp;</p>
<p>The consultation was an election pledge made by Mayor&nbsp;Boris Johnson&nbsp;and although the consultation is open to all, the Mayor is particularly keen to hear from those within or on the borders of the Western Extension.</p>
<p><a href="http://www.tfl.gov.uk/westernextension">An information leaflet and questionnaire </a>are available online, or by calling 0844 415 4425.</p>
<p>The Mayor of London, Boris Johnson, said: 'As we enter the final week of the public consultation, I'd urge anyone with an opinion on the Western Extension to take up this opportunity to have their say. </p>
<h2>Possible changes</h2>
<p>'Whenever I&nbsp;visit&nbsp;west&nbsp;London I meet people who want to talk to me about the extension. This is a chance for Londoners to tell me what they think of it and help&nbsp;influence the future of the scheme.'</p>
<p>Transport for London (TfL) is asking those taking part in the consultation if they want the Western Extension kept as it is, removed, or whether they want certain aspects of it changed to address specific concerns.</p>
<p>Possible changes to the scheme include: </p>
<ul>
<li>Making the Congestion Charge easier to pay by introducing accounts (this would apply to the Western Extension and original charging zone) </li>
<li>Introducing a charge-free period in the Western Extension in the middle of the day </li>
<li>Increasing the residents' discount from 90 to 100 per cent (this would apply to the Western Extension and original charging zone)</li></ul>
<p>Anyone taking part in the consultation can also suggest any other changes that they think could improve the scheme.</p>
<p>Alongside the consultation, there will be a survey of Londoners to gauge how representative the consultation responses are. </p>
<p>Details of this survey will be included in a report to the Mayor that will contain a full analysis of the consultation results. </p>
<p>The Mayor will then make a decision on how he wishes to proceed.</p>
<p>
<hr>

<p>
<p><strong>Notes to editors</strong></p>
<ul>
<li>The Congestion Charge was introduced on 17 February 2003 and extended westwards to cover the boroughs of Kensington and Chelsea and parts of Westminster on 19 February 2007 </li>
<li>More information on the impact of the Western Extension of the <a href="http://www.tfl.gov.uk/corporate/media/newscentre/archive/8948.aspx">Congestion Charging zone </a>is available&nbsp;online </li>
<li>If the Mayor wishes to remove or make significant changes to the way that the Western Extension operates, his Transport Strategy&nbsp;would be revised to reflect this. A further 12 week consultation would be necessary and&nbsp;would&nbsp;provide a second opportunity for the public to express their views.&nbsp;TfL would also then need to consult the public and stakeholders on variations to the Congestion Charging Scheme Order before any changes could be implemented</li></ul>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "Londoners have just under one week left to give their views on the future of the Western Extension of the Congestion Charging zone, with&nbsp;the five-week public consultation ending on Sunday 5 October.&nbsp;The consultation was an election pledge made";}
        
        


 