


@{ViewBag.Title = "Only three weeks left to design a new bus for London";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>Only three weeks left to design a new bus for London</h1>
        <div class="content-page-press-release">
        01 September 2008
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        Budding bus designers have just three weeks left to submit designs for a new bus for London.
        
    </div>



 <div class="on-this-page">
<p>The competition to design a bus inspired by the classic Routemaster was one of the Mayor's key manifesto pledges. </p>
<p>The Mayor of London, Boris Johnson, said: 'There has been a lot of interest in the competition but I am sure that there are still many people out there with cracking ideas for our new bus.&nbsp; </p>

<p>'There are just three weeks to go and I hope even more people - be they professional designers, bus passengers, drivers or even kids on their holidays - take the time to submit their ideas.'</p>

<h2>History of innovation</h2>
<p>Transport Commissioner Peter Hendy said: 'We're looking for a modern, accessible, environmentally-friendly design that will be an asset to London. We have a history of innovation in public transport and design and we will marry our expertise with the best ideas from the competition to produce a brand new icon for London.'</p>
<p>Entrants are encouraged to submit their designs in one of two categories:&nbsp;</p>
<ul>
<li>Design a bus for London: entrants will have the option of submitting a design for a specific part of the bus or a 'whole bus' design. In this category, designs will have to be quite detailed and must comply with guideline specifications as provided by TfL</li>
<li>Imagine a bus for London: in this category, entrants can submit single design concepts for particular features of the bus, or a sketch of the overall look. The judges will be looking for the best ideas rather than detailed technical designs</li>
<li>Designers have until Friday 19 September to submit their entries. As well as potentially seeing their design on the streets of London, the best designer could pocket a first prize of &pound;25,000</li></ul>

<p>Further details and full terms and conditions of the competition can be found on the <a href="tfl.gov.uk/anewbusforlondon">TfL website</a>. The Mayor will announce the winning designs at the end of October. </p>
<p>
<hr>
</p>

<h3>Notes to editors</h3>
<ul>
<li>A first prize of &pound;25,000 and two runner up prizes of &pound;10,000 are available for the best 'whole bus' designs submitted in the 'design' category.&nbsp; Merit prizes will be available for the best ideas submitted for specific parts of the new bus</li>
<li>There will be a range of prizes awarded for the best entries in each age group in the 'imagine' category</li>
<li>This is the first stage in the process of designing a new bus for London. The best ideas will be taken to the major bus manufacturers as part of a separate, competitive tendering process for the detailed design, prototyping and eventual manufacture of the new bus.&nbsp; </li></ul>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "The competition to design a bus inspired by the classic Routemaster was one of the Mayor's key manifesto pledges. The Mayor of London, Boris Johnson, said: 'There has been a lot of interest in the competition but I am sure that there are still many people";}
        
        


 