


@{ViewBag.Title = "Oyster pay as you go now accepted at all First Great Western stations in London";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>Oyster pay as you go now accepted at all First Great Western stations in London</h1>
        <div class="content-page-press-release">
        25 September 2008
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        Thousands of Ealing and Hillingdon residents to benefit from latest extension of Oyster.
        
    </div>



<div class="pull-quote">
        <div class="quote-body">"We are committed to make travelling in London as easy as possible"</div>
        <div class="quote-footer">
            <div class="quotee-name">Kulveer Ranger</div>
            <div class="quotee-job-title">the Mayor's Transport Advisor</div>
        </div>
</div>

 <div class="on-this-page">
<div class="pullquote right">
                        <p>
                            We are committed to make travelling in London as easy as possible
                            
                        </p>
                    </div>
                
            
            
            <p>Thousands of passengers using First Great Western services within London are now able to enjoy the greater convenience and speed of Oyster pay as you go at stations from West Drayton and Greenford into Paddington.&nbsp;</p>
<p>Zonal fares the equivalent of those on the Tube will apply for journeys from these stations.</p>
<p>This follows the announcement in May by Mayor of London, Boris Johnson, of the deal between Transport for London and First Great Western to extend Oyster pay as you go to all its London stations. </p>
<h2>Excellent news</h2>
<p>This means that Oyster pay as you go is now accepted on First Great Western services into Paddington from West Drayton, Hayes &amp; Harlington, Southall, Hanwell, West Ealing, Acton Main Line, South Greenford, Castle Bar Park and Drayton Green.<br>&nbsp;&nbsp;<br>The Mayor of London, Boris Johnson said: 'This is excellent news for First Great Western customers, and takes us one step closer to making Oyster the only ticket you'll need to travel anywhere in London.</p>
<p>'Thousands of residents in Ealing and Hillingdon will now be able to use Oyster pay as you go to travel from their local First Great Western station and also on Transport for London (TfL) services including the Tube, London Buses, London Overground and the Docklands Light Railway. </p>
<p>'TfL is investing &pound;40m in new Oyster equipment and I will shortly be meeting with the other Train Operating Companies to urge them to get on board and make Oyster available to all Londoners.' </p>
<h2>Accepting Oyster</h2>
<p>Kulveer Ranger, the Mayor's Transport Advisor, said: 'Passengers on the National Rail network who commute into central London have consistently told us that one of the main things that would make their journeys more convenient would be the ability to use Oyster pay as you go.&nbsp; </p>
<p>'We are committed to make travelling in London as easy as possible, so it is great news that First Great Western have now come on board and are accepting Oyster pay as you go. </p>
<p>'The Mayor and I will continue to work with the Train Operating companies to bring Oyster to their passengers as quickly as possibly, and will press for the best deal for all Londoners and all those who commute in to the capital.'</p>
<p>Acting Commercial Director, First Great Western, Neil Micklethwaite, said: 'The convenience of being able to use Oyster at all First Great Western stations in the Greater London area is great news for our customers. </p>
<h2>Seamless travel</h2>
<p>'The extension of Oyster onto the First Great Western network fits in with our considerable investment in the refurbishment of the ticket office and new ticket machines at Ealing Broadway, and plans are in place for other stations, including Paddington. &nbsp;</p>
<p>'We're also spending &pound;6.1m on refurbishing all our London and Thames Valley trains and fitting CCTV to increase the level of security for our customers.'<br>&nbsp;&nbsp;<br>Alison Hanscombe, First Great Western Station Manager for Ealing and Hillingdon, said: 'Since we've been trialling the service, the response from customers has been great. It means that instead of paper tickets, customers can now travel seamlessly into central London using a single card.</p>
<p>'This is great news for our local users who will welcome the convenience and ease of travel which Oyster offers.'</p>
<p>
<hr>

<p>
<p><strong>Notes to editors:</strong></p>
<ul>
<li>Oyster PAYG is now accepted across TfL's London Overground network, at all London stations served by Chiltern and C2C and by National Express East Anglia on their Hackney area services and on Southern between Clapham Junction and Watford Junction. It is also valid on First Capital Connect services between Elephant &amp; Castle/Moorgate/London Bridge and West Hampstead </li>
<li>Around 78 per cent of all Tube and bus payments in London are now by Oyster card </li>
<li>In the five years since the introduction of Oyster card, the proportion of cash payments on the Tube and buses has fallen to just three per cent </li>
<li>As an example, with Oyster pay as you go you can load &pound;10 onto your Oyster card and when you touch in and out at the yellow card readers on the Tube, Docklands Light Railway and London Overground or touch in on the bus or tram the reader automatically deducts the correct fare </li>
<li>Oyster is also available on-line at: <a href="http://www.tfl.gov.uk/oyster">www.tfl.gov.uk/oyster</a>, over the phone via 0845 330 9876 or at Travel Information Centres across London. </li>
<li>Passengers can register the card so that the money is protected if the card is lost or stolen. Fewer ticket touts mean more secure stations </li>
<li>Passengers can store up to three different Travelcard or Bus Pass season tickets and cash to pay as they go on the same Oyster card at the same time. Oyster cards are also used to provide free travel for Londoners aged 60 or over or with an eligible disability through the Freedom Pass scheme and, on the buses and trams, under-18s in full-time education can also get Oyster photocards for free travel </li>
<li>When passengers use the Oyster card to touch in and out on the yellow card readers on the Tube, Docklands Light Railway, London Overground and on National Rail services where applicable and touch in on buses and trams the system automatically works out the right fare for the journey within a fifth of a second from up to 1.83 million permutations </li>
<li>Almost three times as many passengers can pass through a Tube station entrance/exit gate using an Oyster card as can using printed tickets - 40 a minute compared to 15 a minute </li>
<li>Auto Top-up can be set up online to ensure that passengers never run out of cash to pay as they go. When your balance drops below &pound;5, it will automatically be topped up with either &pound;20 or &pound;40 the next time you touch in on any yellow card reader on Tube, bus, tram, London Overground or Docklands Light Railway<br></li></ul>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "Thousands of passengers using First Great Western services within London are now able to enjoy the greater convenience and speed of Oyster pay as you go at stations from West Drayton and Greenford into Paddington.&nbsp;Zonal fares the equivalent of those";}
        
        


 