


@{ViewBag.Title = "Poems for peace go on display on the Tube";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>Poems for peace go on display on the Tube</h1>
        <div class="content-page-press-release">
        19 September 2008
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        London Underground (LU) will commemorate the 90th anniversary of the signing of the Armistice in 1918 with a set of poems arising from recent wars.
        
    </div>



 <div class="on-this-page">
<p>The new series will be displayed on Tube trains across London from 22 September 2008.&nbsp; </p>
<p>The collection includes poems such as 'On Receiving News of the War' by Isaac Rosenberg, who was killed in action just before the end of the first World War, 'Parting in Wartime' by Frances Cornford, whose son John was killed in the Spanish Civil War, and a poem by an Afghani poet, Partaw Naderi, who has returned to Kabul after many years in exile following the decades-long turmoil in his country. </p>
<p>Also on show are 'The River Road', on the theme of memory and loss, by award-winning poet Sean O'Brien; and two contrasting views of love, four centuries apart: 'She Tells Her Love' by Robert Graves and 'They Flee from Me' by Sir Thomas Wyatt. </p>
<p>Tamsin Dillon, Head of Art on the Underground, said: 'We hope that passengers will like the poems we've chosen and that they will add interest to their journey.</p>
<p>'In the lead up to remembrance day these war poems will offer the chance for reflection about the consequences of war while the verses on memory, loss and love were chosen because these are universal themes that touch us all.'&nbsp; </p>
<p>
<hr>

<p>
<p><br><strong>Notes to editors:</strong></p>
<ul>
<li>Poems on the Underground was founded in 1986 </li>
<li>The programme is supported by London Underground (Art on the Underground), Arts Council England and the British Council </li>
<li>Poems are selected and the programme administered by Judith Chernaik and poets Gerard Benson and Cicely Herbert </li>
<li>Praised for their elegance, clarity and simplicity, Poems on the Underground has inspired similar programmes on public transport in Dublin, Paris, New York, Vienna, Stockholm, Helsinki, Athens, Barcelona, Moscow, St Petersburg and, most recently, Shanghai </li>
<li>The best selling anthologies 'Poems on the Underground' and 'New Poems on the Underground', as well as 'New Books on the Underground 2006' and the Poems on the Underground Audiobook (Cassell 2006) are available from most bookshops and London's Transport Museum gift shop </li>
<li>The posters, designed by Tom Davidson, are available from London's Transport Museum and the Poetry Society </li>
<li>The Armistice anniversary will be marked by a concert on Thursday 13 November, 'the pity of war', at St John's Wood Church, with guest poet George Szirtes and music by Barber, Shostakovich, Takemitsu and Strauss performed by the Apollo Chamber Orchestra, conducted by David Chernaik. The concert is supported by the European Commission in the UK as part of the International Year of Cultural Dialogue </li>
<li>LU is undertaking a major programme of renewal as part of Transport for London's &pound;39bn Investment Programme.&nbsp;This will inevitably result in some disruption for passengers, but TfL is working hard to provide information and alternative travel options.&nbsp; The work is essential to provide for London's growing transport needs now, and into the future.&nbsp;TfL is urging all Londoners and Tube, London Overground and DLR passengers to <a href="http://www.tfl.gov.uk/livetravelnews">check before they travel </a>at weekends, allowing extra journey time where necessary. </li></ul>
<p>&nbsp;</p>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "The new series will be displayed on Tube trains across London from 22 September 2008.&nbsp; The collection includes poems such as 'On Receiving News of the War' by Isaac Rosenberg, who was killed in action just before the end of the first World War,";}
        
        


 