


@{ViewBag.Title = "Roads to close as the Capital opens up for the Sky Sports London Freewheel mass cycle ride";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>Roads to close as the Capital opens up for the Sky Sports London Freewheel mass cycle ride</h1>
        <div class="content-page-press-release">
        12 September 2008
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        Final preparations are now underway for next Sunday's Sky Sports London Freewheel - a mass participation bike ride that will take in some of London's most famous landmarks and give cyclists traffic-free access to central London roads
        
    </div>



 <div class="on-this-page">
<div class="pullquote right">
                        <p>
                            The number of cycle journeys made on London's major roads has already increased by 91 per cent since 2000
                            
                        </p>
                    </div>
                
            
            
            <p>The Sky Sports London Freewheel is part of the Mayor of London and Transport for London's commitment to making London a city that cycles. </p>
<p>The number of cycle journeys made on London's major roads has already increased by 91 per cent since 2000, and it is hoped that this event will inspire even more Londoners to get on their bikes. </p>
<p>A number of roads in central London will be closed on Sunday 21 September so that cyclists of all ages can follow a traffic-free 14km route past Buckingham Palace, Trafalgar Square, St Paul's Cathedral and the Tower of London. </p>
<h2>Road closures and times</h2>
<p>Roads will be closed in the City of Westminster, City of London and London Boroughs of Southwark and Tower Hamlets between 07.00 and 20.00 on the day to make way for the expected 45,000 cyclists expected to take part, while some roads will be closed earlier for preparations for the event.</p>
<p>A number of bus routes will also be on diversion on the day.</p>
<p>For details of diversions and for further travel information, please visit <a href="http://www.tfl.gov.uk/journeyplanner">Journey Planner</a> or call 020 7222 1234. 
<hr>
<br>
<p>
            <p><strong>Notes to editors:</strong></p>
<ul type="circle">
<li>Early closures - Roads closed from 13.00 Saturday 20 September: The Mall, Horse Guards Parade; roads closed from 06.00 Sunday 21 September: Marlborough Road, Birdcage Walk, Constitution Hill, Spur Road </li>
<li>Roads in the City of Westminster - closed from 07.00 to 20.00 Sunday 21 September: Buckingham Palace Road between Bressenden Place and Palace Street, Buckingham Gate between Palace Street and Spur Road, Parliament Street, Horse Guards Parade, Whitehall Court, Scotland Place, Whitehall, Whitehall Place, Great Scotland Yard (eastbound), Victoria Embankment, Northumberland Avenue, Charing Cross (King Charles Island), The Strand (westbound) between Aldwych and Trafalgar Square, Charing Cross Road (southbound) between Shaftesbury Avenue and St Martin's Place (southbound), Cockspur Street, Savoy Place, Arundel Street, Temple Place </li>
<li>Roads in the City of London - closed from 07.00 to 20.00 Sunday 21 September: Temple Avenue (southbound), Upper Thames Street, Blackfriars Underpass, Blackfriars Bridge (westbound down slip), Victoria Embankment, Lower Thames Street, Southwark Bridge, Queen Street Place, Byward Street, Blackfriars Passage, Puddle Dock (southbound), White Lion Hill, Castle Baynard Street </li>
<li>Roads in the London Borough of Southwark - closed from 07.00 - 20.00 Sunday 21 September: Southwark Bridge, Southwark Bridge Road (northbound) between Southwark Bridge and Sumner Street </li>
<li>Roads in the London Borough of Tower Hamlets - closed from 07.00 - 20.00 Sunday 21 September: Tower Hill between Byward Street and Minories</li>
<li>The following bus routes will be on diversion: 3, 6, 9, 9H, 11, 12, 13, 15, 15H, 23, 24, 25, 29, 42, 53, 78, 87, 88, 91, 139, 159, 176, 344, 453 </li>
<li>There will be four start/finish hubs onto the route, located at Clapham Common, Ravenscourt Park, Emirates Stadium and Victoria Park </li>
<li>Restrictions apply to talking bicycles on public transport. For more information, see&nbsp;<a href="http://www.tfl.gov.uk/roadusers/cycling/9049.aspx">Cycling</a> </li>
<li>Major engineering works will be taking place on London Overground services on 21 September and many train services will be replaced by buses. Participants are advised that only folding bikes may be taken on replacement buses and people should check whether their journey on the day will be affected by going to <a href="http://www.tfl.gov.uk/journeyplanner">Journey Planner</a> or calling 020 7222 1234<br></li></ul>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "The Sky Sports London Freewheel is part of the Mayor of London and Transport for London's commitment to making London a city that cycles. The number of cycle journeys made on London's major roads has already increased by 91 per cent since 2000, and it is";}
        
        


 