


@{ViewBag.Title = "Shepherd's Bush Overground station welcomes passengers ";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>Shepherd's Bush Overground station welcomes passengers </h1>
        <div class="content-page-press-release">
        29 September 2008
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        The new Shepherd's Bush Overground station has now opened - the first new station on the line since London Overground started operating last year.
        
    </div>



<div class="pull-quote">
        <div class="quote-body">"This new station will give the people of west London a great new connection to the transport system"</div>
        <div class="quote-footer">
            <div class="quotee-name">Boris Johnson</div>
            <div class="quotee-job-title">Mayor of London</div>
        </div>
</div>

 <div class="on-this-page">
<div class="pullquote right">
                        <p>
                            This new station will give the people of west London a great new connection to the transport system
                            
                        </p>
                    </div>
                
            
            
            <p>Transport for London (TfL) is investing &pound;1.4bn in the London Overground (LO) network, and Shepherd's Bush on the Clapham Junction to Willesden Junction line is the first in a series of new and refurbished stations to be opened. <br>&nbsp;<br>Shepherd's Bush Overground is&nbsp;a fully accessible station with low height ticket office windows and two lifts providing step-free access to both platforms. </p>
<p>The contemporary design of the station offers passengers a light and airy environment and they will also benefit from being able to use Oyster pay as you go.<br>&nbsp;<br>Like all other Overground stations, Shepherd's Bush will be staffed at all times during train operating hours.&nbsp;</p>
<h2>High standards</h2>
<p>The station also has CCTV so that passengers are safe and secure.&nbsp;<br>&nbsp;&nbsp;<br>Mayor of London, Boris Johnson, said:&nbsp;'There have clearly been some issues with&nbsp;delivering the station on time, but now that it has become part of the Transport for London operation I'm sure that it will prove to be a much-valued addition to the transport network.&nbsp;</p>
<p>'London Overground, in which we are investing &pound;1.4bn, will connect 20 of London's 33 boroughs,&nbsp;so this new station will give the people of west London a great new connection to the transport&nbsp;system, which I'm sure will prove invaluable for many.&nbsp; </p>
<p>'The station has also&nbsp;been built to high standards, with accessibility, safety, and security&nbsp;in mind, so that everyone can use it with confidence.'&nbsp;</p>
<h2>Frequent service</h2>
<p>Ian Brown, Managing Director of London Rail, said: 'This step-free station will provide passengers with easy access to the new Westfield London shopping centre and other local job and leisure opportunities.'</p>
<p>Brand new and fully air-conditioned trains, with greater capacity than those now running, will operate on the LO network from 2009. </p>
<p>From 2011, station users can look forward to a more frequent service with four trains an hour all day. <br>&nbsp;<br>These improvements are part of a programme of works across parts of the Overground network to deliver a more reliable and efficient service to passengers.<br>&nbsp;<br>
<hr>
<br><strong>&nbsp;<br>Notes to editors:</strong> 
<p>
<ul>
<li>LO will run through 20 of London's 33 boroughs and all stations will be staffed during the operational hours </li>
<li>Oyster pay as you go ticketing is accepted at all stations.&nbsp;All stations have been fitted with Oyster gates or validators and ticket machines to reduce fare evasion </li>
<li>The LO network comprises the Richmond to Stratford, London Euston to Watford Junction, Willesden Junction to Clapham Junction (via Kensington Olympia) and Gospel Oak to Barking lines </li>
<li>Other transport improvements in the area include: a new fully accessible Underground station on the Hammersmith and City line at Wood Lane; a newly refurbished and remodelled Shepherd's Bush Underground station on the Central line consisting of a new ticket hall, new escalators and station modernisation; a new fully accessible bus station on the north west corner of the site - White City bus station; cycle routes and cycle parking facilities, taxi bays with bays for customers with reduced mobility, new crossings and a step free pedestrian route. These improvements will be delivered soon </li>
<li>The station was developed by Network Rail and Westfield, the developer responsible for the new Westfield shopping complex, as part of the 'White City development'<br>&nbsp;<br></li></ul>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "Transport for London (TfL) is investing &pound;1.4bn in the London Overground (LO) network, and Shepherd's Bush on the Clapham Junction to Willesden Junction line is the first in a series of new and refurbished stations to be opened. &nbsp;Shepherd's Bush";}
        
        


 