


@{ViewBag.Title = "Special Needs Cycling Exhibition and Seminar";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>Special Needs Cycling Exhibition and Seminar</h1>
        <div class="content-page-press-release">
        01 September 2008
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        Transport for London (TfL), through the London Cycling Campaign (LCC) has funded the WiZZBiKE foundation to set up a cycling centre in West London to make cycling in the Capital more accessible and enjoyable for people with special needs.
        
    </div>



 <div class="on-this-page">
<p>The WiZZBiKE foundation will be celebrating its launch with an exhibition of specially adapted cycling equipment and an opportunity to hear discussions on further developments in this important area. </p>
<p>The event will bring together children and families of people with special needs to promote cycling as a family activity.</p>
<p>Media area invited to attend.<br>&nbsp;<br><strong>When</strong>: Wednesday 10 September 2008 </p>
<p><strong>Where</strong>: Lindon Bennett School (Main Street, Hanworth TW13 6ST)</p>
<p><strong>Time</strong>: 11:30 -15:00</p>
<p><strong>Exhibition</strong>: Cycles/accessories for Special Needs<br>&nbsp;<br>13:00 -14:00 Special Needs Cycling talk and discussion</p>
<p>Please confirm attendance before the event with:</p>
<p>Patricia Mulenga<br>Press Officer, TfL&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<br>Email: <a href="mailto:Patriciamulenga&#64;tfl.gov.uk">Patriciamulenga&#64;tfl.gov.uk</a><br>Direct Line: 0207126 1468</p>
<p>Or</p>
<p>Sandra Reed <br>WiZZBiKE<br>Email: <a href="mailto:sandra&#64;wizzbike.com">sandra&#64;wizzbike.com</a><br>Office: 020 8569 8088<br>Mobile: 07733 438349</p>
<p>
<hr>
<strong>Notes to editors:<p>
<ul>
<li></li></ul></strong>The Community Cycling Fund for London (CCFfL), which is managed by the LCC and funded by TfL, supports groups who want to help increase the number of people cycling in their area. Grants are available to help run local rides, events or other small scale projects that will encourage and grow cycling within London's many diverse communities
<li>The CCFfL works in partnership with four key members - TfL, LCC, Sustrans and the Greater London Authority</li>
<li>For further information about the grants and how to apply please visit&nbsp;<a href="http://www.lcc.org.uk">www.lcc.org.uk</a></li>
<li>The WiZZBiKE Foundation is a not-for-profit organisation established to improve the provision of cycling for individuals with special needs and provide services to the community</li>
<li>Figures from TfL show an impressive 91 per cent increase in the amount of cycling in the Capital since 2000, with an estimated 500,000 cycle journeys now being made in the Capital every day</li>
<li>In order to ensure that cycling remains safe and enjoyable, cycle training is now offered throughout London. So whether you're a beginner or an established rider, or if you just need a confidence boost visit <a href="http://www.tfl.gov.uk/cycletraining">tfl.gov.uk/cycletraining </a>for further information on training in your borough<br></li>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "The WiZZBiKE foundation will be celebrating its launch with an exhibition of specially adapted cycling equipment and an opportunity to hear discussions on further developments in this important area. The event will bring together children and families of";}
        
        


 