


@{ViewBag.Title = "Sutton residents urged to take active steps to improve their health";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>Sutton residents urged to take active steps to improve their health</h1>
        <div class="content-page-press-release">
        10 September 2008
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        10,000 adults in Sutton to be invited to take part in the largest active travel health programme of its kind in the UK.
        
    </div>



<div class="pull-quote">
        <div class="quote-body">"Cycling and walking are the perfect way to become more active because they can be so easily integrated into daily routes"</div>
        <div class="quote-footer">
            <div class="quotee-name">Ben Plowden</div>
            <div class="quotee-job-title">Director of Smarter Travel at TfL</div>
        </div>
</div>

 <div class="on-this-page">
<div class="pullquote right">
                        <p>
                            Cycling and walking are the perfect way to become more active because they can be so easily integrated into daily routes
                            
                        </p>
                    </div>
                
            
            
            <p>Active Steps, a groundbreaking initiative to improve the health of Sutton residents by helping them to change their travel habits, has been launched today by the local NHS, Sutton Council and Transport for London (TfL).</p>
<p>By encouraging people to leave their cars at home and cycle and walk more often, the programme aims to help improve people's health and wellbeing and reduce traffic congestion at the same time.</p>
<p>Figures from Sport England reveal that approximately 112,000 Sutton residents could potentially benefit from increased physical activity of the kind proposed by Active Steps - that's more than 80 per cent of the borough's adult population.</p>
<p>The initiative could equate to a health benefit of more than &pound;1m a year in Sutton as an estimated five per cent of total NHS expenditure is due to people not doing enough exercise.</p>
<h2>Improving wellbeing</h2>
<p>Patients who could benefit from more exercise will be directed to the scheme by a health practitioner such as a GP.</p>
<p>During a 12 week programme they will meet with a specially trained NHS advisor who will help them to overcome barriers to walking or cycling, create personal goals and provide them with information such as cycle maps or access to free cycle training.</p>
<p>They will also be sent weekly messages of support by text or mail and be interviewed at the end of the course to see how they have got on.</p>
<p>Delivered by Sutton and Merton NHS Primary Care Trust, the 12 month initiative has been created in partnership with Smarter Travel Sutton, a three year, &pound;5m programme between Sutton Council and TfL to reduce car use in Sutton and increase the number of people using public transport, walking and cycling in the borough.</p>
<p>Government guidelines recommend 30 minutes of moderate exercise five days a week.</p>
<h2>Maintain your health</h2>
<p>As more than half the car journeys in London are less than two kilometres in length, short walking or cycling journeys are a great way to work exercise into your daily routine.</p>
<p>Ben Plowden, Director of Smarter Travel at TfL, said: 'Cycling and walking are the perfect way to become more active because they can be so easily integrated into daily routes.</p>
<p>'By swapping a car trip for a bike ride or a walk, the Active Steps programme will help people to improve their health, travel in an environmentally friendly way and save money on rising fuel costs, as well as helping to reduce congestion and air pollution in the borough.'</p>
<p>Local GP, Dr Brendan Hudson, said: 'Just half an hour of moderate exercise five times a week is hugely beneficial to people's health, reducing their chances of getting heart disease, hypertension, diabetes and many other diseases'.</p>
<p>Dr Martyn Wake, Medical Director of Sutton and Merton Primary Care Trust, said: 'Cycling and walking can reduce your chances of heart disease, high blood pressure, obesity and diabetes.</p>
<h2>Avoiding heart disease</h2>
<p>'It can help you maintain a healthy weight and can even reduce depression and stress.</p>
<p>'Active Steps is a great way of improving health which fits into your daily routine, so does not mean giving up lots of time.'</p>
<p>Raymond Sturdy, local businessman (Tower Elevators Ltd), said: 'I was diagnosed with diabetes in July 2007 following my second heart attack.</p>
<p>'At that time I became worried and stopped all physical exercise.</p>
<p>'I don't have much time for exercise but I do really want to increase my levels of activity to help control my diabetes and improve my quality of life.</p>
<p>'The Active Steps programme sounds right for someone in my position because it can really work through the issues that stop me from doing all the exercise I should.'</p>
<p>
<hr>
<strong>Notes to editor: 
<ul>
<li></li></ul></strong><a class="external-site" title=" (Opens in new window)" href="http://www.sportengland.org/index/get_resources/research/active_people/active_people_survey_headline_results.htm" jquery1220972173550="6">Sport England's Active People Survey 2005-2006</a> revealed that approximately 112,000 Sutton residents could potentially benefit from increased physical activity of the kind proposed by Active Steps - more than 80 per cent of the adult population 
<li>Smarter Travel Sutton aims to reduce car journeys by at least five per cent in three years. At the end of the first year of the programme, there was a two per cent shift away from car journeys towards public transport trips in the borough </li>
<li>Increasing physical activity levels contribute to the prevention and management of over 20 conditions and diseases, including heart disease, diabetes and cancer, positive mental health and weight management (Chief Medical Officer) </li>
<li>Dr Brendan Hudson is a Borough Councillor and Mayor of Sutton for 2008-09</li>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "Active Steps, a groundbreaking initiative to improve the health of Sutton residents by helping them to change their travel habits, has been launched today by the local NHS, Sutton Council and Transport for London (TfL).By encouraging people to leave their";}
        
        


 