


@{ViewBag.Title = "Thousands of older and disabled Londoners to gain as Mayor introduces new Dial-a-Ride vehicles";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>Thousands of older and disabled Londoners to gain as Mayor introduces new Dial-a-Ride vehicles</h1>
        <div class="content-page-press-release">
        05 September 2008
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        The Mayor of London Boris Johnson today announced 61 new, custom-built Dial-a-Ride minibuses that will be introduced across London this year.
        
    </div>



 <div class="on-this-page">
<div class="pullquote right">
                        <p>
                            Dial-a-Ride really is a lifeline for tens of thousands of Londoners for whom getting around the city is a challenge
                            
                        </p>
                    </div>
                
            
            
            <p>It will improve door to door transport services for tens of thousands of older or disabled Londoners who cannot easily use public transport.</p>
<p>Transport for London (TfL) has already begun replacing the ageing fleet of Dial-a-Ride vehicles, but these are the first to be purpose-built for the fleet.</p>
<p>Dial-a-Ride passengers and drivers have been closely involved in developing the new bus, manufactured by Bluebird, to ensure it meets passengers' diverse needs.</p>
<p>The &pound;3.9m TfL has invested in these vehicles is part of a long-term programme to improve door to door services in the Capital.&nbsp; </p>
<p>Mayor Boris Johnson said: 'Dial-a-Ride really is a lifeline for tens of thousands of Londoners for whom getting around the city is a challenge, and these custom-built buses will help to change for the better the service that we offer.</p>
<h2>Travel lifeline</h2>
<p>'The forthcoming Paralympics will remind us of just some of the fantastic achievements of disabled people, and prompt us to think about how we can make our city accessible for everyone to enjoy.'</p>
<p>Mike Weston, Operations Director for TfL Surface Transport, said: 'Dial-a-Ride provides a vital service to those people who can't access mainstream public transport in London.</p>
<p>'These new vehicles should make our customers' journeys much more pleasant.&nbsp; </p>
<p>'Having involved passengers and drivers in developing and customising the new Dial-a-Ride vehicle, we know we're providing what our customers want.</p>
<p>'We hope the promise of more comfortable trips will encourage new passengers to try Dial-a-Ride in 2008 and beyond.'</p>
<h2>Improvements to vehicles</h2>
<p>The new vehicle from Bluebird is a purpose-built, small bus with a totally flat low floor and dual access at the side and rear of the vehicle.</p>
<p>Tip and fold seats will allow wheelchair users to manoeuvre around the vehicle much more easily; they will also provide greater flexibility for accommodating individual passengers' needs.</p>
<p>The new bus also offers a much improved interior, including high levels of interior lighting, tinted windows and air conditioning, plus onboard CCTV for added safety and security.&nbsp; </p>
<p>Older Dial-a-Ride vehicles will be phased out as the new vehicles go into service.</p>
<p>With the older models, customers found the seats narrow, the seatbelts difficult to use, and they found there wasn't enough legroom, particularly for those with arthritis or restricted movement.</p>
<p>
<hr>
<strong>Notes to editors: 
<p>
<ul>
<li></li></ul></strong>Photos will be available from the TfL Press Office from late afternoon on 5 September 
<li>Dial-a-Ride is a multi occupancy door-to-door transport service run by London Buses (part of TfL) for older or disabled people who cannot easily use public transport in the Capital. It is available in all London boroughs, and uses specially adapted vehicles to take people on pre-booked, mainly local journeys </li>
<li>Free fares were introduced on Dial-a-Ride from 1 January 2008 </li>
<li>There are currently around 50,000 users of the service making 1.2 million&nbsp;journeys per year </li>
<li>TfL has already begun replacing the ageing Dial-a-Ride fleet, having bought 120 Mercedes Vito people carriers between 2004 and 2007.&nbsp;These 61 Bluebird vehicles are the first of the new, custom-built buses to join the Dial-a-Ride fleet, and TfL plans to purchase more of these in the coming years </li>
<li>The new bus from Bluebird is based on their Tucana model, using a Volkswagen T5 chassis.&nbsp;It is fully compliant with the Low Emission Zone environmental standards in London<br></li>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "It will improve door to door transport services for tens of thousands of older or disabled Londoners who cannot easily use public transport.Transport for London (TfL) has already begun replacing the ageing fleet of Dial-a-Ride vehicles, but these are the";}
        
        


 