


@{ViewBag.Title = "Transport for London awarded highest equality rating";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>Transport for London awarded highest equality rating</h1>
        <div class="content-page-press-release">
        23 September 2008
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        More accessible transport services and better employment practices recognised by award of Local Government Equality Standard Level 5 rating.
        
    </div>



<div class="pull-quote">
        <div class="quote-body">"Our work does not end here and we will seek further improvements as we improve the accessibility of London's transport."</div>
        <div class="quote-footer">
            <div class="quotee-name">Peter Hendy</div>
            <div class="quotee-job-title">London's Transport Commissioner</div>
        </div>
</div>

 <div class="on-this-page">
<div class="pullquote right">
                        <p>
                            Our work does not end here and we will seek further improvements as we improve the accessibility of London's transport.
                            
                        </p>
                    </div>
                
            
            
            <p>Transport for London (TfL) has become the first transport authority in the UK to achieve a Level 5 rating for equality standards. </p> <p>The award was achieved by demonstrating real equality improvements in the delivery of its passenger services as well as its employment practices.</p> <p>The achievement of the highest possible rating results from work across the organisation to promote equality and diversity in the workplace, the continued delivery of major improvements to the accessibility of London's transport system and an innovative approach to ensuring that these best practice principles are enshrined in our procurement contracts.&nbsp;</p> <h2>Equality training</h2> <p>Improvements to the transport system include the operation of an entire fleet of low-floor buses and the continued investment in step-free access for Tube stations.</p> <p>TfL has also introduced dedicated equality training for all its employees and staff network groups have developed a more active support and development role.</p> <p>The Mayor of London, Boris Johnson, said: 'By achieving a five star equality rating, Transport for London has demonstrated its commitment to improving the accessibility of its transport services for all. </p> <p>'This achievement also acknowledges the importance TfL places on good employment practices for its staff whose hard work and dedication we rely on everyday.' </p> <h2>Fully inclusive</h2> <p>London's Transport Commissioner, Peter Hendy, said: 'We are proud to be recognised for the progress we have made towards ensuring our services and employment practices are fully inclusive.</p> <p>'Our work does not end here and we will seek further improvements as we improve the accessibility of London's transport, make TfL a better place to work for all and ensure that our suppliers carry these practices forward.'</p> <p>On presenting the award, Lucy De Groot, Executive Director, Improvement and Development Agency, said: 'Transport for London is to be congratulated on reaching Level 5 of the Equality Standard and the award of the Equality Mark.&nbsp; </p> <p>'Its work on equality has demonstrated how embedding equality in the core business can add real value to the service it provides for London's diverse population and to create a representative work force where there are opportunities for all. </p> <h2>Good practice</h2> <p>'I hope that they will go on to work with IDeA and others in the public sector to share their learning and good practice.'</p> <p>At the beginning of 2008, Britain's leading gay equalities organisation, Stonewall, rated TfL sixth in the top 100 employers for lesbian, gay and bisexual staff in the country in their 2008 Workplace Equality Index.</p> <p>The annual Stonewall Workplace Equality Index is the definitive national benchmark of Britain's top employers of lesbian, gay and bisexual staff. </p> <p>It ranks the top 100 employers according to criteria including implementation of effective equality policies and how lesbian and gay staff, customers and service users are engaged with. </p> <p>In addition, TfL is regularly cited as an example of best practice for its supplier diversity procurement programme, which ensures all its suppliers have measures in place that promote diversity, equality and inclusion. </p> <p> <hr> <br><strong>Notes to editors: </strong> <p> <ul> <li>The Local Government Equality Standard comprises 5 levels and relates to all areas of an authority's work including service delivery and employment practice.&nbsp;It has four specific areas of activity:  <ul type="circle"> <li>Leadership and Corporate Commitment  </li><li>Consultation and Community Development and Scrutiny  </li><li>Service Delivery and Customer Care  </li><li>Employment and Training </li></ul> <li>To achieve Level 5, an authority must show that:  <ul type="circle"> <li>It has achieved progress towards the targets that it set at Level 3  </li><li>It can demonstrate real outcomes that have improved equality&nbsp;in services and employment  </li><li>Outcomes have been verified through&nbsp;self assessment and scrutiny and have been validated externally through an accredited assessor  </li><li>It has&nbsp;reviewed and revised targets, monitoring and consultation systems with designated community, staff and stakeholder groups  </li><li>It has initiated a new round of action planning and target setting  </li><li>Through its achievements it can be seen as an example of good practice for other local authorities and agencies </li></ul> <li>TfL has achieved the standard after a rigorous process of self assessment followed by independent review and verification carried out by the Centre for Local Policy Studies  </li><li>The comprehensive assessment process included a review of written evidence; face-to-face interviews with Chief Officers, senior managers and employees at all levels of the organisation as well as focus groups with customers and staff  </li><li>TfL attained Level 3 of the Equality Standard in March 2005<br></li></li></li></ul>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "Transport for London (TfL) has become the first transport authority in the UK to achieve a Level 5 rating for equality standards.The award was achieved by demonstrating real equality improvements in the delivery of its passenger services as well as its";}
        
        


 