


@{ViewBag.Title = "Transport for London receives Government approval for A406 Bounds Green Improvement Scheme";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>Transport for London receives Government approval for A406 Bounds Green Improvement Scheme</h1>
        <div class="content-page-press-release">
        17 September 2008
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        A scheme to improve a vital section of the A406 has been given the go ahead by the Secretary of State for Transport following a public inquiry.
        
    </div>



<div class="pull-quote">
        <div class="quote-body">"It really is good news that Transport for London and the Borough councils can now get on with the much-needed improvements that promise to have a positive impact for the whole community"</div>
        <div class="quote-footer">
            <div class="quotee-name">Boris Johnson</div>
            <div class="quotee-job-title">Mayor of London</div>
        </div>
</div>

 <div class="on-this-page">
<div class="pullquote right">
                        <p>
                            It really is good news that Transport for London and the Borough councils can now get on with the much-needed improvements that promise to have a positive impact for the whole community
                            
                        </p>
                    </div>
                
            
            
            <p>The A406 Bounds Green Safety and Environmental Improvement Scheme will widen the A406 to create a predominantly two-lane dual carriageway and include junction improvements to ease traffic flow. </p>
<h2>Key benefits</h2>
<p>Better pedestrian crossings and cycling facilities will bring about much needed safety and environmental improvements.</p>
<p>Improvements on this stretch of the North Circular Road to improve safety and the urban environment for local residents are long overdue. </p>
<p>The proposed scheme is expected to reduce road collisions by up to one third by providing better pedestrian crossing facilities and improvements to traffic signalled junctions. </p>
<p>Local residents will also benefit as the scheme seeks to reduce the level of rat-running traffic on residential roads.</p>
<p>Mayor of London, Boris Johnson, said: 'Residents of this part of London have been living in limbo for years whilst the scheme has been pored over, so it really is good news that Transport for London and the Borough councils can now get on with the much-needed improvements that promise to have a positive impact for the whole community.'</p>
<p>David Brown, MD of Surface Transport, TfL, said: 'We are very pleased to have received this decision from the Secretary of State to enable us to move forward with our plans to improve the A406 North Circular Road in Bounds Green. </p>
<p>'This scheme will not only make a big difference to traffic flow in the area and improve the safety of the road for motorists, cyclists and pedestrians, but will also enhance the urban environment and break down the divide between communities either side of the A406.' </p>
<h2>Moving forward</h2>

<p>To go ahead with the scheme, Transport for London (TfL) needed approval on Compulsory Purchase and Side Road Orders from the Secretary of State for Transport.</p>
<p>Now that the orders have been confirmed, TfL is able to plan with more certainty how the scheme will progress. </p>
<p>It will also allow for firm decisions to be made, in consultation with Enfield Council, about the future of the surplus TfL-owned properties along the route.</p>
<p>Subject to having all necessary statutory consents, work on the A406 Bounds Green scheme is scheduled to begin in 2009, with completion in 2011.
<hr>
<br></p>
            <p><strong>Notes to editors:</strong></p>
<ul type="circle">
<li>TfL&nbsp;has liaised with the London Boroughs of Enfield, Haringey and Barnet on the scheme proposals and provided funds to each of them to support their initiatives to implement traffic calming measures on the roads next to the A406 to complement the scheme </li>
<li>Scheme maps and further information can be found at&nbsp;<a href="http://www.tfl.gov.uk/corporate/projectsandschemes/2251.aspx">A406 Bounds Green</a><br></li></ul>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "The A406 Bounds Green Safety and Environmental Improvement Scheme will widen the A406 to create a predominantly two-lane dual carriageway and include junction improvements to ease traffic flow. Key benefitsBetter pedestrian crossings and cycling";}
        
        


 