


@{ViewBag.Title = "Transport for London responds to PPP Arbiter's Guidance on Tube Lines second period funding";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>Transport for London responds to PPP Arbiter's Guidance on Tube Lines second period funding</h1>
        <div class="content-page-press-release">
        09 September 2008
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">



<div class="pull-quote">
        <div class="quote-body">"Over the next few years, we will begin to see new trains and signalling systems delivering big increases in reliability and capacity"</div>
        <div class="quote-footer">
            <div class="quotee-name">Tim O'Toole</div>
            <div class="quotee-job-title">LU Managing Director</div>
        </div>
</div>

 <div class="on-this-page">
<div class="pullquote right">
                        <p>
                            Over the next few years, we will begin to see new trains and signalling systems delivering big increases in reliability and capacity
                            
                        </p>
                    </div>
                
            
            
            <p>Transport for London (TfL) today responded to the Public Private Partnership (PPP) Arbiter's Guidance on Tube Lines second period costs, covering the funding of their maintenance and renewal works on the Jubilee, Northern and Piccadilly lines from 2010 to 2017.</p>
<p>The Arbiter's Guidance gives a rough estimate of the demand that Tube Lines can be expected to make for their work over the period, and this suggests a potential shortfall in funding in excess of &pound;1bn from that currently available.</p>
<p>Given this extraordinary circumstance, TfL expects such a shortfall to be met by the Government, which imposed the PPP structure on the Tube and Londoners.</p>
<p>The PPP contract states that such additional funding may be obtained through outside financing, as was done in the first phase of the programme.&nbsp;</p>
<h2>Investing billions</h2>
<p>TfL requested the PPP Arbiter's Guidance due to a lack of detailed information being provided by Tube Lines, to enable TfL to fully understand their costs.&nbsp;&nbsp; </p>
<p>London Underground (LU) Managing Director, Tim O'Toole said: 'Billions are being invested to transform the Tube.</p>
<p>'Over the next few years, we will begin to see new trains and signalling systems delivering big increases in reliability and capacity.</p>
<p>'It is vital that these improvements are delivered for Londoners and Tube users when they were promised, especially given the record growth in ridership.</p>
<p>'Today's Guidance is the start of a process.</p>
<h2>Increased capacity</h2>
<p>'No bill has been delivered today, but the PPP requires that we issue restated contract terms later this year.</p>
<p>'We do not have the option of scaling back the works to offset this expected demand because the Tube will become less reliable and its capacity will shrink at a time of growing demand, and, in any event, the PPP contract produces an increase in operating charges as a result of any reduction in capital spending, thereby frustrating attempts to cut funding demands.'</p>
<p>'The difference in the costs budgeted for by TfL and those produced by the Arbiter are in large part in the inscrutable areas of so-called 'central costs', differential inflation and risk.</p>
<p>'The premiums to be paid in these areas are a result of the PPP structure.</p>
<h2>Budgeted costs</h2>
<p>'Any funding required above TfL's budget should be met by continuing support by Government, who imposed this PPP structure on the Tube and Londoners.</p>
<p>'I am frustrated that despite requesting this Guidance from the Arbiter he remains unable to provide us with the detailed information and analysis on costs and expected performance we require to make informed decisions.</p>
<p>'This provides a basis for the Periodic Review process, but there is a long way to go.'</p>
<p>The Arbiter's Guidance marks the first stage in agreeing a contract price for the second period of the Tube Lines PPP contract.</p>
<h2>Agreeing new terms</h2>
<p>The next stage will see LU set the scope of the contract and restated terms.</p>
<p>Tube Lines will then offer TfL a contract price next summer.&nbsp;</p>
<p>Should TfL and Tube Lines fail to agree on the contract price, then the PPP Arbiter will be called upon to resolve the issue, which is why this guidance is significant.&nbsp;</p>
<p>The prices must be agreed ahead of the start of the second period in the summer of 2010.</p>
<p>
<hr>
<strong>Notes to editors: 
<p>
<ul>
<li></li></ul></strong>Tube Lines is responsible for the maintenance and renewal of the Jubilee, Northern and Piccadilly lines 
<li>The Arbiter's Guidance can be viewed online at <a href="http://www.ppparbiter.org.uk">www.ppparbiter.org.uk</a><br></li>
<p>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "Transport for London (TfL) today responded to the Public Private Partnership (PPP) Arbiter's Guidance on Tube Lines second period costs, covering the funding of their maintenance and renewal works on the Jubilee, Northern and Piccadilly lines from 2010 to";}
        
        


 