


@{ViewBag.Title = "Transport for London unveils new air-conditioned Tube trains";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>Transport for London unveils new air-conditioned Tube trains</h1>
        <div class="content-page-press-release">
        25 September 2008
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        The Mayor of London joined Transport Commissioner Peter Hendy today to unveil the new air-conditioned trains that will serve the Metropolitan line from 2010 and the Circle, District and Hammersmith & City lines from 2011.
        
    </div>



<div class="pull-quote">
        <div class="quote-body">"London is the coolest city on the planet and now we're getting the coolest trains too"</div>
        <div class="quote-footer">
            <div class="quotee-name">Boris Johnson</div>
            <div class="quotee-job-title">Mayor of London</div>
        </div>
</div>

 <div class="on-this-page">
<div class="pullquote right">
                        <p>
                            London is the coolest city on the planet and now we're getting the coolest trains too
                            
                        </p>
                    </div>
                
            
            
            <p>The new trains are part of Transport for London's (TfL) Investment programme.</p> <p>A mock-up of the new trains, which will serve around 40 per cent of the Tube network, will be on display at Euston Square Gardens for the public to view from Saturday 27 September to Thursday 2 October. </p> <p>Passengers will benefit from air conditioning, walk-through carriages, CCTV coverage in each carriage and improved accessibility. </p> <p>The Mayor of London, Boris Johnson, said: 'London is the coolest city on the planet and now we're getting the coolest trains too. </p> <h2>Superb trains</h2> <p>'After decades spent sweltering in tropical conditions on the Tube, in just two years time Londoners on the sub-surface lines will be able to use the first of these superb trains.</p> <p>'I can assure passengers who will use them that we hope rather than arriving at their destinations drenched in perspiration they will emerge cool as cucumbers and ready to enjoy all that the capital offers. </p> <p>'As well as keeping passengers cooler the new trains feel far more spacious, boast the latest CCTV systems and have been designed to make life much easier for disabled passengers. </p> <p>'When the full upgrade of our sub surface lines is complete, including the work improving signaling, capacity on these lines will be increased by over 45 per cent, which will mean less crowding and also mean we can cope with the continuing increase in passenger numbers.' </p> <h2>Vital upgrade</h2> <p>Peter Hendy, Transport for London Commissioner, said: 'The new air-conditioned trains are part of vital upgrade works which will transform the oldest and complex lines on the Tube network - the Circle, District, Hammersmith &amp; City and the Metropolitan lines. </p> <p>'When works are completed passengers will see faster, more reliable journeys and more trains per hour. </p> <p>'The new air-conditioned trains will be common to all the Underground's sub-surface lines and will help us deliver a better service to passengers, with improved accessibility, more space and enhanced security.'</p> <p> <hr> <br><strong>Notes to editors:&nbsp;&nbsp; </strong> <p> <ul> <li>Photos/ footage of the trains being built are available on request  </li><li>The new S-Stock train (for Sub Surface lines Metropolitan, District, Hammersmith &amp; City, Circle lines) will be on show at Euston Square Gardens in front&nbsp;of&nbsp;&nbsp;Euston&nbsp;mainline&nbsp;station, and available for the public to view from Saturday 27 September to Thursday 2 October (except Sunday 28 September)  </li><li>The new sub-surface fleet is being built by Bombardier Transportation in Derby who will deliver a total of 191 trains  </li><li>The SSR lines carry one third of the Underground's passengers and covers 300km of track  </li><li>The first section of the Tube opened in 1863 between Paddington and Farringdon, and is still served in whole or in part by all four lines- the Circle, District, Hammersmith &amp; City and Metropolitan lines  </li><li>The District line upgrade has already delivered a full refurbishment of 75 of the existing ('D-stock')trains with renewed interiors, CCTV cameras inside the cars, passenger information displays, fire retardant seats and flooring and improved accessibility features such as tip-up seats to accommodate wheelchairs, buggies and luggage. This was completed in March 2008.The new fully air-conditioned and more accessible trains will operate on the line from 2013, with the full capacity increase of 47 per cent due to be delivered by 2018. Trains on the Wimbledon branch will be extended from six to&nbsp;seven cars by this date  </li><li>The first of the S-Stock trains will be delivered for testing in 2009 and the will start serving the Metropolitan line from 2010, with the full capacity increase of 49 per cent delivered by 2016  </li><li>New S-Stock trains will operate on the Circle and Hammersmith &amp; City lines from 2011. The increase in peak capacity is 49 per cent for both lines and is due to be completed by 2016</li></ul> <p>&nbsp;</p>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "The new trains are part of Transport for London's (TfL) Investment programme. A mock-up of the new trains, which will serve around 40 per cent of the Tube network, will be on display at Euston Square Gardens for the public to view from Saturday 27";}
        
        


 