
    
  



@{ViewBag.Title = "Best ways for visitors to pay";}
@{ViewBag.Keywords = "TfL";}
@{ViewBag.Url = "/travel-information/visiting-london/getting-around-london/best-ways-for-visitors-to-pay";}
@{ViewBag.Language = "en";}
        <!-- empty placeholder -->
 
        
        
<div class="r">
    <div class="breadcrumb-container" role="navigation">
        <span id="breadcrumb-label" class="visually-hidden">You are here:</span>
        <ol class="breadcrumbs clearfix" aria-labelledby="breadcrumb-label">
            <li class="home">
                <a href="/">
                    <span class="hide-text">Home</span>
                </a>
            </li>
            
                 <li><a href="/travel-information/visiting-london/index">Visiting London </a></li>
                
            
                 <li><a href="/travel-information/visiting-london/getting-around-london">Getting around London</a></li>
                
            
            
                <li><span class="last-breadcrumb">Best ways for visitors to pay</span></li>
            
        
 
        
 
        
 
        </ol>
    </div>
</div>
     
 
<div class="r">
  <div class="headline-container plain">
    <h1>Best ways for visitors to pay</h1>

  </div>
</div>
<div class="main-and-aside r">
  
  <div class="main content-container" role="main">
    
      <div class="article-teaser">
        There are different ways to pay for your travel. For most people, using a contactless payment or Oyster card to pay as you go is the best option for value, flexibility and convenience.
        
      </div>
    
    <div class="on-this-page">
      <h2>Pay as you go</h2>

<p>Pay as you go (paying only for the trips you make), is the easiest way to pay for travel in London. You can pay as you go on bus, Tube, tram, DLR, London Overground, TfL Rail, Emirates Air Line cable car, River Bus and most National Rail services in London. You won't have to plan the cost of your journeys in advance - we'll work it out for you. Find out more about <a href="/fares/how-to-pay-and-where-to-buy-tickets-and-oyster/pay-as-you-go">using pay&nbsp;as you go</a>.</p>

<p>Make sure you always use the same card to touch in and out to pay the right fare (touch in only on buses and trams).</p>

<p>London's rail network is divided into 9 zones so your fare will depend on which zones you travel in. Zone 1-9 fares are cheaper with pay as you go than buying paper single tickets. If you make a lot of journeys in one day the total cost of your daily travel will be capped (daily capping), so you'll pay less than the equivalent Day Travelcard. If you use contactless, you can also benefit from weekly capping (up to 7 days travel ending on a Sunday).</p>

<p>You can pay as you go using a contactless payment card, an Oyster card or a Visitor Oyster card.</p>

<h3>Contactless payment cards</h3>
      
           
      <div class="clearfix">
    <div class="image-box campaign-graphic right-float">
    
        <img src="/cdn/static/cms/images/contactless-symbol.jpg" alt="Contactless payment symbol" />
    </div>
    <p>Most credit, debit and charge cards displaying the contactless symbol can be used for adult rate pay as you go travel on London's public transport.&nbsp;Google Pay and Apple Pay are also accepted. &nbsp;</p> 
</div>
 <div class="clearfix">
    <div class="image-box right-float">
    
        
        
        <img src="/cdn/static/cms/images/contactless-visit-london_rdax_400x250.jpg" alt="Contactless visit London image" />
        
        
        
    </div>
    <p><strong>Benefits of contactless</strong></p>

<ul>
	<li>It's quick and easy &#45; there's no need to queue to buy a ticket</li>
	<li>It offers great value &#45; pay as you go with contactless is cheaper than buying single tickets and you can benefit from both daily and weekly (Monday to Sunday) capping</li>
</ul>

<p>Overseas transaction fees or charges may apply for non-UK cards. This will be one charge per day, not each time you travel. Please check with your card issuer.</p>

<p>Find out more about <a href="/fares/how-to-pay-and-where-to-buy-tickets-and-oyster/pay-as-you-go/contactless-and-mobile-pay-as-you-go">contactless payment cards</a>.</p>

<h2>Visitor Oyster card</h2>

<p>A Visitor Oyster card is a smartcard that's pre-loaded with pay as you go credit you can use to pay for travel on London's public transport.</p>
 </div>
 <div class="clearfix">
    <div class="image-box right-float">
    
        
        
        
    </div>
    
 </div>
 <div class="clearfix">
    <div class="image-box right-float">
    
        
        
        <img src="/cdn/static/cms/images/visitor-centres-oyster-card3_rdax_400x250.jpg" alt="Visitor Centre card" />
        
        
        
    </div>
    <p>You can buy a Visitor Oyster card online from the <a href="https://visitorshop.tfl.gov.uk/tfl/london-visitor-oyster-card/?utm_medium=referral&amp;utm_source=tfl.gov.uk&amp;utm_campaign=tfl">TfL Visitor Shop</a> or from <a href="https://www.visitbritainshop.com/world/london-visitor-oyster-card/">VisitBritain shops</a> in several languages and currencies, or through approved <a href="/fares/how-to-pay-and-where-to-buy-tickets-and-oyster/buying-tickets-and-oyster/buying-tickets-from-abroad">travel agents.</a> Visitor Oyster cards are only available to buy <strong>before </strong>you arrive in London.</p>

<p><strong>Benefits of Visitor Oyster</strong></p>

<ul>
	<li>It's quick and easy &#45; there's no need to queue to buy a ticket</li>
	<li>It offers great value &#45; pay as you go is cheaper than buying single tickets and you can benefit from daily capping</li>
	<li>It comes with exclusive offers and discounts in London restaurants, shops, museums and entertainment venues - find out more about the <a href="/travel-information/visiting-london/experience-london/special-offers">full list of offers</a></li>
</ul>

<p>Find out more about <a href="/travel-information/visiting-london/visitor-oyster-card">Visitor Oyster cards</a>.</p>
 </div>
 <div>

<h3>Oyster&nbsp;card&nbsp;</h3>

<p>If you don't have a contactless payment&nbsp;card or a Visitor Oyster card, you can get a standard Oyster card in London. You pay &pound;5 and then add pay as you go credit or a Travelcard to pay for your journeys.</p>
</div>
 <div class="clearfix">
    <div class="image-box right-float">
    
        
        
        <img src="/cdn/static/cms/images/oyster-card_rdax_400x250.jpg" alt="Oyster card" />
        
        
        
    </div>
    <p>You can get an Oyster card from:</p>

<ul>
	<li>Tube, London Overground, TfL Rail (except West Drayton to Reading) and some National Rail stations</li>
	<li>Around 3,900 local shops in London, known as Oyster Ticket Stops. Find your nearest one</li>
	<li><a href="/travel-information/visiting-london/getting-around-london/visitor-centres">TfL Visitor Centres</a></li>
	<li><a href="https://oyster.tfl.gov.uk/oyster/entry.do">Online</a>&nbsp;(UK visitors only)</li>
</ul>

<p><strong>Benefits of Oyster</strong></p>

<ul>
	<li>It offers great value &#45; pay as you go is cheaper than buying single tickets and you can benefit from daily capping</li>
	<li>It's convenient - if you are staying for a week or longer and using public transport every day, you can add a Travelcard to your Oyster card, which can save you time and money<br />
	Find out more about <a href="/fares/how-to-pay-and-where-to-buy-tickets-and-oyster/pay-as-you-go/oyster-pay-as-you-go">Oyster cards</a>.</li>
</ul>

<h2>Visitor Pass</h2>

<p>Our new 2 Day or 3 Day <a href="/travel-information/visiting-london/getting-around-london/best-ways-for-visitors-to-pay/visitor-pass">Visitor Pass</a> gives you the freedom to travel off-peak as much as you want on bus, Tube, tram, DLR, London Overground and TfL Rail. You don't need to pre-order or top up and the pass is available for adults and children.</p>

<h2>Travelcards</h2>
 </div>
 <div>

<p>Travelcards allow you to make as many journeys as you like on bus, Tube, tram, DLR, London Overground, TfL Rail and National Rail services in London.</p>

<p>Day Travelcards, Group Day Travelcards and 7 Day Travelcards are available:</p>

<ul>
	<li>Online from the <a href="https://visitorshop.tfl.gov.uk/tfl/london-travelcard/?utm_medium=referral&amp;utm_source=tfl.gov.uk&amp;utm_campaign=tfl">TfL Visitor Shop</a> or from <a href="https://www.visitbritainshop.com/world/london-travelcard/">VisitBritain </a>shops before you arrive in London</li>
	<li>From Tube station ticket machines</li>
	<li>At London Overground and TfL Rail station ticket offices</li>
	<li>Most National Rail stations</li>
	<li>TfL <a href="/travel-information/visiting-london/getting-around-london/visitor-centres">Visitor Centres</a></li>
</ul>

<h3>Day Travelcard</h3>

<p><br />
Day Travelcards are issued as paper tickets and allow unlimited travel in a single day within the zones they are valid for.</p>

<p>Depending on the time of day you travel, different types of Day Travelcard are available:</p>

<ul>
	<li>Anytime Day Travelcards - can be used for the whole day (using the date printed on the ticket), and for journeys starting before 04:30 the following day</li>
	<li>Off-peak Day Travelcards - valid from 09:30 (Mondays to Fridays) or any time on weekends and public holidays on the day of travel (using the date printed on the ticket), and for journeys starting before 04:30 the following day</li>
</ul>

<p><strong>Day Travelcard or pay as you go?</strong></p>

<p>Pay as you go with daily capping is cheaper than buying a Day Travelcard when you travel in Zones 1-9.</p>

<p>Find out more about <a href="/fares/how-to-pay-and-where-to-buy-tickets-and-oyster/travelcards-and-group-tickets">Day Travelcards</a></p>

<h3>Group Day Travelcard</h3>

<p>For groups of 10 or more fare-paying passengers Group Day Travelcards are available. They are paper tickets that allow you to travel as much as you like from 09:30 Monday to Friday and any time on weekends and public holidays. Group Day Travelcards can be used on Tube, DLR, London Overground, TfL Rail and most National Rail services within the zones paid for. They can also be used on all London bus services and on trams.</p>

<p>You have to be travelling in a group of 10 or more at all times when using a Group Day Travelcard.</p>

<p>Find out more about <a href="/fares/how-to-pay-and-where-to-buy-tickets-and-oyster/travelcards-and-group-tickets">Group Day Travelcards</a></p>

<h3>7 Day Travelcard</h3>

<p>7 Day Travelcards are valid for a week and can be issued as paper tickets (when bought online/or from most National Rail stations), &nbsp;or loaded to an Oyster card. They can be used at any time of day during the period of validity and for any journey that starts before 04:30 on the day after the expiry date.</p>

<p><strong>7 Day Travelcard or pay as you go?</strong></p>

<p>When you pay as you go using contactless, weekly capping means you won't pay more than the cost of the equivalent 7 Day Travelcard &#45; though you may pay less depending on the number of journeys you make. Remember, always touch in and out using the same card to pay the right fare (touch in only on buses and trams).</p>

<p>Find out more about <a href="/fares/how-to-pay-and-where-to-buy-tickets-and-oyster/travelcards-and-group-tickets">7 Day Travelcards</a></p>

<h2>Travelling with children</h2>

<p>If your child is under 11, they can travel free:</p>

<ul>
	<li>On buses and trams</li>
	<li>On Tube, DLR, London Overground, TfL Rail and some National Rail services when travelling with an adult who is using pay as you go, or has a valid ticket (excluding Group Day Travelcards). Up to four children per adult</li>
</ul>

<p>If your child is aged 11-15, you can ask a member of staff to set a <a href="/fares/free-and-discounted-travel/11-15-zip-oyster-photocard">Young Visitor discount</a> on an Oyster or Visitor Oyster card, allowing them to pay as you go at half-adult rate for up to 14 days. Staff can do this at:</p>

<ul>
	<li>Any Tube station</li>
	<li>London Overground and TfL Rail station ticket offices</li>
	<li>Visitor Centres (except Gatwick Airport South Terminal)</li>
	<li>National Rail ticket offices at Victoria station, Gatwick Airport South Desk (arrivals) and East Croydon station</li>
</ul>

<p>You can also buy child rate Day Travelcards, 7 Day Travelcards and Group Day Travelcards (as part of a group of 10 or more) online before you leave home, from the <a href="https://visitorshop.tfl.gov.uk/tfl/london-travelcard/?utm_medium=referral&amp;utm_source=tfl.gov.uk&amp;utm_campaign=tfl">TfL Visitor Shop</a> or from <a href="https://www.visitbritainshop.com/world/london-travelcard/">VisitBritain</a> shops.</p>
</div>
 
      
        
          
            @this.ScriptBlock(
              @<script>
                queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
              </script>
            )
          
        
      
    </div>
  </div>
  <div class="aside" role="complementary">

   
    
    
    
      <div data-set="sidenav-container" class="large">
        
        
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
 
 
 
                <a href="/travel-information/visiting-london/index" class="heading">
                    <h2 id="sub-menu-heading">Visiting London <span class="visually-hidden"> navigation</span></h2>
                </a>
                <ul>
                    
                                <li><div class="link-wrapper"><a href="/travel-information/visiting-london/visitor-oyster-card">Visitor Oyster card</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/travel-information/visiting-london/experience-london">Experience London</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/travel-information/visiting-london/getting-to-london">Getting to London</a></div></li>
                            
 
                <a href="/travel-information/visiting-london/getting-around-london" class="heading">
                    <h2 id="sub-menu-heading">Getting around London<span class="visually-hidden"> navigation</span></h2>
                </a>
                <ul>
                    
                                <li class="parent"><div class="link-wrapper"><a href="/travel-information/visiting-london/getting-around-london/visitor-information">Visitor information</a></div></li>
                            
 
                                <li class="selected parent"><div class="link-wrapper"><a href="/travel-information/visiting-london/getting-around-london/best-ways-for-visitors-to-pay">Best ways for visitors to pay</a></div>
                                <ul>
                                    
                                <li><div class="link-wrapper"><a href="/travel-information/visiting-london/getting-around-london/best-ways-for-visitors-to-pay/visitor-pass">Visitor Pass</a></div></li>
                            
 
                                </ul>
                            </li>
 
                                <li><div class="link-wrapper"><a href="/travel-information/visiting-london/getting-around-london/visitor-maps">Visitor maps</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/travel-information/visiting-london/getting-around-london/visitor-centres">Visitor Centres</a></div></li>
                            
 
                </ul>
            
 
                </ul>
            
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
      </div>
    
    <div>




















<div class="advert-tile unsponsored-style google-ads" aria-hidden="true">
  <div class="advert-link">
    <div class="advert-content">
        <div class="medium-large" data-advert="/76889402/non-targeted" data-advert-sizes="300, 250"></div>
        <div class="small" data-advert="/76889402/non-targeted" data-advert-sizes="300, 250"></div>
    </div>
  </div>
</div>
@{
    ViewBag.AmazonSlot = "'amznslots'";
    ViewBag.AmazonAds = "'3199'"; // to add another value, this needs to be ViewBag.AmazonAds = "'3199','xx'";
}
      

 </div>
    
      <div class="module-grid clearfix">
                    
        

                <div class="widget-wrapper">
                    <div class="expandable-box">
                        <div class="content">
                            <div class="always-visible widget-heading">
                                <div class="controls">&nbsp;</div>
                                <div class="widget-title">
                                    <h2>Plan a journey</h2>
                                </div>
                            </div>
                            <div class="start-hidden widget-content journey-planner-widget clearfix">
                                @{Html.RenderAction("Index", "JourneyPlanner", new
                                    { jptype = "publictransport" } 
                                );}
                            </div>
                        </div>
                    </div>
                </div>
            
 <div class="related-links">

    <h3>Related websites</h3>

<div class="vertical-button-container">

<a href="http://visitorshop.tfl.gov.uk/tfl/london-visitor-oyster-card/?utm_medium=referral&utm_source=tfl.gov.uk&utm_campaign=tfl" class="plain-button">Buy a Visitor Oyster card</a>
<a href="https://www.visitbritainshop.com/" class="plain-button">VisitBritain shop</a>
<a href="http://www.ltmuseum.co.uk/" class="plain-button">London Transport Museum</a>
<a href="https://shop.tfl.gov.uk/" class="plain-button">TfL souvenirs</a>
<a href="http://www.visitlondon.com/" class="plain-button">Visit London</a>
    </div>
</div>
 
      </div>
    
    <div data-set="sidenav-container" class="small-medium"></div>
  </div>
</div>
 
 
        
        
        
            @{ViewBag.Description = "A page for visitors to London aobut the best ways to pay for travel.";}
        
            
        


 