
    
  



@{ViewBag.Title = "Visitor Centres";}
@{ViewBag.Keywords = "Bus passengers,DLR passengers,London Overground passengers,Tram passengers,Tube passengers,TfL";}
@{ViewBag.Url = "/travel-information/visiting-london/getting-around-london/visitor-centres";}
@{ViewBag.Language = "en";}
        <!-- empty placeholder -->
 
        
        
<div class="r">
    <div class="breadcrumb-container" role="navigation">
        <span id="breadcrumb-label" class="visually-hidden">You are here:</span>
        <ol class="breadcrumbs clearfix" aria-labelledby="breadcrumb-label">
            <li class="home">
                <a href="/">
                    <span class="hide-text">Home</span>
                </a>
            </li>
            
                 <li><a href="/travel-information/visiting-london/index">Visiting London </a></li>
                
            
                 <li><a href="/travel-information/visiting-london/getting-around-london">Getting around London</a></li>
                
            
            
                <li><span class="last-breadcrumb">Visitor Centres</span></li>
            
        
 
        
 
        
 
        </ol>
    </div>
</div>
     
 
<div class="r">
  <div class="headline-container plain">
    <h1>Visitor Centres</h1>

  </div>
</div>
<div class="main-and-aside r">
  
  <div class="main content-container" role="main">
    
      <div class="article-teaser">
        Our Visitor Centres give you advice on tickets, travelling around London and attractions so you can make the most of your trip.
        
      </div>
    
    
      <h2>How can we help?</h2>
      
           
      <div>

<ul>
	<li>Offers and tickets to London's key attractions such as Madame Tussauds, London Eye, London Dungeon, View from the Shard, London Sea Life centre, Sightseeing tours, theatre shows and much more</li>
	<li>How to travel on our network and advice on anything that may affect your journey</li>
	<li>Choosing and buying the right <a href="/fares/how-to-pay-and-where-to-buy-tickets-and-oyster/whats-the-best-ticket-for-me">travel tickets</a></li>
	<li>Booking and advice on rail and coach tours in Britain and Paris</li>
	<li>Travelling to Heathrow, Stansted or Gatwick airport and other transport services between central London and airports</li>
	<li>How to use our <a href="/transport-accessibility/index">accessibility services</a> and tools for your journey</li>
	<li>How to <a href="/fares/refunds-and-replacements">apply for refunds</a></li>
</ul>
</div>
 
<h2>Locations&nbsp;and opening hours</h2>
<div class="table-container"><table>
	<tbody>
		<tr>
			<td headers="table_heading_0" style="width:235px"><strong>Visitor Centre</strong></td>
			<td headers="table_heading_1" style="width:399px"><strong>Sunday to Wednesday<br />
			(plus bank holidays)</strong></td>
			<td headers="table_heading_1" style="width:399px"><strong>Thursday to Saturday</strong></td>
		</tr>
		<tr>
			<td headers="table_heading_0" style="width:235px">
			<p><strong>Liverpool Street</strong><br />
			Liverpool Street Underground station</p>
			</td>
			<td headers="table_heading_1" style="width:399px">
			<p>08:30-17:00</p>
			</td>
			<td headers="table_heading_1" style="width:399px">08:30-18:30</td>
		</tr>
		<tr>
			<td headers="table_heading_0" style="width:235px">
			<p><strong>Piccadilly Circus</strong><br />
			Piccadilly Circus Underground station</p>
			</td>
			<td headers="table_heading_1" style="width:399px">
			<p>09:30-16:00</p>
			</td>
			<td headers="table_heading_1" style="width:399px">09:30-16:00</td>
		</tr>
		<tr>
			<td headers="table_heading_0" style="width:235px"><strong>Victoria</strong><br />
			Opposite platform 8<br />
			Victoria rail station</td>
			<td headers="table_heading_1" style="width:399px">08:30-18:00</td>
			<td headers="table_heading_1" style="width:399px">08:30-18:30</td>
		</tr>
		<tr>
			<td headers="table_heading_0" style="width:235px"><strong>King's Cross </strong><br />
			King's Cross Underground station<br />
			Western Ticket Hall near St Pancras</td>
			<td headers="table_heading_1" style="width:399px">
			<p>08:30-18:00</p>
			</td>
			<td headers="table_heading_1" style="width:399px">08:30-18:30</td>
		</tr>
		<tr>
			<td style="width:235px">
			<p><strong>Gatwick Airport North Terminal</strong><br />
			Arrivals hall</p>
			</td>
			<td style="width:399px">
			<p>08:00-16:30</p>
			</td>
			<td style="width:399px">
			<p>08:00-16:30</p>
			</td>
		</tr>
		<tr>
			<td style="width:235px">
			<p><strong>Gatwich Airport South Terminal</strong><br />
			Arrivals hall</p>
			</td>
			<td style="width:399px">08:00-18:00</td>
			<td style="width:399px">08:00-18:00</td>
		</tr>
		<tr>
			<td style="width:235px"><strong>Heathrow</strong><br />
			Heathrow Terminals 2 &amp; 3 Underground station</td>
			<td style="width:399px">
			<p>08:00-19:30</p>
			</td>
			<td style="width:399px">08:00-19:30</td>
		</tr>
	</tbody>
</table></div>


 
      
        
          
        
      
    
  </div>
  <div class="aside" role="complementary">

   
    
    
    
      <div data-set="sidenav-container" class="large">
        
        
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
 
 
 
                <a href="/travel-information/visiting-london/index" class="heading">
                    <h2 id="sub-menu-heading">Visiting London <span class="visually-hidden"> navigation</span></h2>
                </a>
                <ul>
                    
                                <li><div class="link-wrapper"><a href="/travel-information/visiting-london/visitor-oyster-card">Visitor Oyster card</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/travel-information/visiting-london/experience-london">Experience London</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/travel-information/visiting-london/getting-to-london">Getting to London</a></div></li>
                            
 
                <a href="/travel-information/visiting-london/getting-around-london" class="heading">
                    <h2 id="sub-menu-heading">Getting around London<span class="visually-hidden"> navigation</span></h2>
                </a>
                <ul>
                    
                                <li class="parent"><div class="link-wrapper"><a href="/travel-information/visiting-london/getting-around-london/visitor-information">Visitor information</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/travel-information/visiting-london/getting-around-london/best-ways-for-visitors-to-pay">Best ways for visitors to pay</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/travel-information/visiting-london/getting-around-london/visitor-maps">Visitor maps</a></div></li>
                            
 
                                <li class="selected"><div class="link-wrapper"><a href="/travel-information/visiting-london/getting-around-london/visitor-centres">Visitor Centres</a></div>
                            </li>
 
                </ul>
            
 
                </ul>
            
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
      </div>
    
    <div>




















<div class="advert-tile unsponsored-style google-ads" aria-hidden="true">
  <div class="advert-link">
    <div class="advert-content">
        <div class="medium-large" data-advert="/76889402/non-targeted" data-advert-sizes="300, 250"></div>
        <div class="small" data-advert="/76889402/non-targeted" data-advert-sizes="300, 250"></div>
    </div>
  </div>
</div>
@{
    ViewBag.AmazonSlot = "'amznslots'";
    ViewBag.AmazonAds = "'3199'"; // to add another value, this needs to be ViewBag.AmazonAds = "'3199','xx'";
}
      

 </div>
    
    <div data-set="sidenav-container" class="small-medium"></div>
  </div>
</div>
 
 
        
        
        
            @{ViewBag.Description = "What Visitor Centres in London can help you with, and location and opening hours detials";}
        
            
        


 