
    
  



@{ViewBag.Title = "Visitor maps";}
@{ViewBag.Keywords = "TfL";}
@{ViewBag.Url = "/travel-information/visiting-london/getting-around-london/visitor-maps";}
@{ViewBag.Language = "en";}
        <!-- empty placeholder -->
 
        
        
<div class="r">
    <div class="breadcrumb-container" role="navigation">
        <span id="breadcrumb-label" class="visually-hidden">You are here:</span>
        <ol class="breadcrumbs clearfix" aria-labelledby="breadcrumb-label">
            <li class="home">
                <a href="/">
                    <span class="hide-text">Home</span>
                </a>
            </li>
            
                 <li><a href="/travel-information/visiting-london/index">Visiting London </a></li>
                
            
                 <li><a href="/travel-information/visiting-london/getting-around-london">Getting around London</a></li>
                
            
            
                <li><span class="last-breadcrumb">Visitor maps</span></li>
            
        
 
        
 
        
 
        </ol>
    </div>
</div>
     
 
<div class="r">
  <div class="headline-container plain">
    <h1>Visitor maps</h1>

  </div>
</div>
<div class="main-and-aside r">
  
  <div class="main content-container" role="main">
    
      <div class="article-teaser">
        Whether you're taking the bus or the Tube, exploring the city on two wheels or by boat, we have the right map to help you get to where you want to be. 
        
      </div>
    
    <div class="on-this-page">
      
      
           
      
<div>



<h2>London Underground maps (Tube)</h2>



<div class="multi-document-download-container">
    

<a class="document-download-wrap portrait-download-image with-image pdfpdf" href="/cdn/static/cms/documents/standard-tube-map.pdf">
    <div class="document-download-text">
        <p>Download the Tube map</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 617KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

    <div class="document-download-image">
        <img src="/cdn/static/cms/images/tube-map.jpg" alt="Tube map" />
    </div>

</a>

<!-- 0.60 -->
 
</div>

</div>
 
<div class="module-grid clearfix">

<div>




<h3>Walking times between stations </h3>
<p>Get our map of station-to-station walking times in central London</p>
<div class="multi-document-download-container">
    

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/walking-tube-map.pdf">
    <div class="document-download-text">
        <p>Walking times between Tube stations</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 621KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.61 -->
 
</div>

</div>
 
</div>
 <div>

<h3>Tube maps in other languages</h3>
<ul>
    <li><a href="/cdn/static/cms/documents/arabic-tube-map1.pdf">Tube map in Arabic</a></li>
    <li><a href="/cdn/static/cms/documents/bengali-tube-map1.pdf">Tube map in Bengali</a></li>
    <li><a href="/cdn/static/cms/documents/chinese-tube-map1.pdf">Tube map in Chinese</a></li>
    <li><a href="/cdn/static/cms/documents/french-tube-map1.pdf">Tube map in French</a></li>
    <li><a href="/cdn/static/cms/documents/german-tube-map1.pdf">Tube map in German</a></li>
    <li><a href="/cdn/static/cms/documents/greek-tube-map1.pdf">Tube map in Greek</a></li>
    <li><a href="/cdn/static/cms/documents/gujarati-tube-map1.pdf">Tube map in Gujarati</a></li>
    <li><a href="/cdn/static/cms/documents/hindi-tube-map1.pdf">Tube map in Hindi</a></li>
    <li><a href="/cdn/static/cms/documents/italian-tube-map1.pdf">Tube map in Italian</a></li>
    <li><a href="/cdn/static/cms/documents/polish-tube-map1.pdf">Tube map in Polish</a></li>
    <li><a href="/cdn/static/cms/documents/portuguese-tube-map1.pdf">Tube map in Portuguese</a></li>
    <li><a href="/cdn/static/cms/documents/punjabi-tube-map1.pdf">Tube map in Punjabi</a></li>
    <li><a href="/cdn/static/cms/documents/spanish-tube-map1.pdf">Tube map in Spanish</a></li>
    <li><a href="/cdn/static/cms/documents/tamil-tube-map1.pdf">Tube map in Tamil</a></li>
    <li><a href="/cdn/static/cms/documents/turkish-tube-map1.pdf">Tube map in Turkish</a></li>
    <li><a href="/cdn/static/cms/documents/urdu-tube-map1.pdf">Tube map in Urdu</a></li>
</ul>
<p>You can translate this website into your own language using the Google Translate option at the bottom of the page.</p>
<ul>
</ul>
</div>
 
<div>



<h2>Bus maps</h2>



<div class="multi-document-download-container">
    

<a class="document-download-wrap portrait-download-image with-image pdfpdf" href="/cdn/static/cms/documents/key-bus-routes-in-central-london.pdf">
    <div class="document-download-text">
        <p>Central London bus and tourist attractions map</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 717KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

    <div class="document-download-image">
        <img src="/cdn/static/cms/images/bus-map-thumbnail.jpg" alt="Bus and tourist attractions thumbnail" />
    </div>

</a>

<div>
<p>You can also find out more about night travel on our <a href="/maps_/bus-route-maps">Central London night bus map</a></p>

<h2>Overground, DLR, Tram and National Rail maps</h2>

<ul>
	<li><a href="http://www.tfl.gov.uk/maps/track/overground">London Overground map</a></li>
	<li><a href="http://www.tfl.gov.uk/maps/track/dlr">DLR map</a></li>
	<li><a href="http://www.tfl.gov.uk/maps/track/tram">Tramlink map</a></li>
	<li><a href="http://www.tfl.gov.uk/maps/track/national-rail">National Rail and Tube services map</a></li>
</ul>

<h2>River maps</h2>

<p><a href="https://tfl.gov.uk/maps/river">River services maps</a></p>

<h2>Cycle maps</h2>

<ul>
	<li><a href="http://www.tfl.gov.uk/maps/cycle-hire">Docking stations live map</a></li>
	<li><a href="/maps/cycle">Cycle map</a></li>
	<li><a href="/modes/cycling/routes-and-maps/leisure-routes">Leisure routes</a></li>
</ul>

<h2>Accessibility</h2>

<p><a href="/transport-accessibility/accessibility-guides-and-maps">Toilet facilities, step-free Tube map and other accessibility guides and maps</a></p>

<h2>Other maps</h2>

<p>Find other useful <a href="/maps_/maps">maps</a></p>
</div>

<!-- 0.70 -->
 
</div>

</div>
 
      
        
          
            @this.ScriptBlock(
              @<script>
                queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
              </script>
            )
          
        
      
    </div>
  </div>
  <div class="aside" role="complementary">

   
    
    
    
      <div data-set="sidenav-container" class="large">
        
        
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
 
 
 
                <a href="/travel-information/visiting-london/index" class="heading">
                    <h2 id="sub-menu-heading">Visiting London <span class="visually-hidden"> navigation</span></h2>
                </a>
                <ul>
                    
                                <li><div class="link-wrapper"><a href="/travel-information/visiting-london/visitor-oyster-card">Visitor Oyster card</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/travel-information/visiting-london/experience-london">Experience London</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/travel-information/visiting-london/getting-to-london">Getting to London</a></div></li>
                            
 
                <a href="/travel-information/visiting-london/getting-around-london" class="heading">
                    <h2 id="sub-menu-heading">Getting around London<span class="visually-hidden"> navigation</span></h2>
                </a>
                <ul>
                    
                                <li class="parent"><div class="link-wrapper"><a href="/travel-information/visiting-london/getting-around-london/visitor-information">Visitor information</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/travel-information/visiting-london/getting-around-london/best-ways-for-visitors-to-pay">Best ways for visitors to pay</a></div></li>
                            
 
                                <li class="selected"><div class="link-wrapper"><a href="/travel-information/visiting-london/getting-around-london/visitor-maps">Visitor maps</a></div>
                            </li>
 
                                <li><div class="link-wrapper"><a href="/travel-information/visiting-london/getting-around-london/visitor-centres">Visitor Centres</a></div></li>
                            
 
                </ul>
            
 
                </ul>
            
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
      </div>
    
    <div>




















<div class="advert-tile unsponsored-style google-ads" aria-hidden="true">
  <div class="advert-link">
    <div class="advert-content">
        <div class="medium-large" data-advert="/76889402/non-targeted" data-advert-sizes="300, 250"></div>
        <div class="small" data-advert="/76889402/non-targeted" data-advert-sizes="300, 250"></div>
    </div>
  </div>
</div>
@{
    ViewBag.AmazonSlot = "'amznslots'";
    ViewBag.AmazonAds = "'3199'"; // to add another value, this needs to be ViewBag.AmazonAds = "'3199','xx'";
}
      

 </div>
    
      <div class="module-grid clearfix">
                    
        

                <div class="widget-wrapper">
                    <div class="expandable-box">
                        <div class="content">
                            <div class="always-visible widget-heading">
                                <div class="controls">&nbsp;</div>
                                <div class="widget-title">
                                    <h2>Plan a journey</h2>
                                </div>
                            </div>
                            <div class="start-hidden widget-content journey-planner-widget clearfix">
                                @{Html.RenderAction("Index", "JourneyPlanner", new
                                    { jptype = "publictransport" } 
                                );}
                            </div>
                        </div>
                    </div>
                </div>
            
 <div class="related-links">

    <h3>Also on this site</h3>

<div class="vertical-button-container">

<a href="/travel-information/visiting-london/getting-around-london/visitor-information/top-travel-tips" class="plain-button">Travel tips</a>
    </div>
</div>
 
      </div>
    
    <div data-set="sidenav-container" class="small-medium"></div>
  </div>
</div>
 
 
        
        
        
            @{ViewBag.Description = "Whether you're taking the bus or the Tube, exploring the city on two wheels or by boat, we have the right map to help you get to where you want to be. ";}
        
            
        


 