
    
  



@{ViewBag.Title = "Visitor information";}
@{ViewBag.Keywords = "TfL";}
@{ViewBag.Url = "/travel-information/visiting-london/getting-around-london/visitor-information";}
@{ViewBag.Language = "en";}
        <!-- empty placeholder -->
 
        
        
<div class="r">
    <div class="breadcrumb-container" role="navigation">
        <span id="breadcrumb-label" class="visually-hidden">You are here:</span>
        <ol class="breadcrumbs clearfix" aria-labelledby="breadcrumb-label">
            <li class="home">
                <a href="/">
                    <span class="hide-text">Home</span>
                </a>
            </li>
            
                 <li><a href="/travel-information/visiting-london/index">Visiting London </a></li>
                
            
                 <li><a href="/travel-information/visiting-london/getting-around-london">Getting around London</a></li>
                
            
            
                <li><span class="last-breadcrumb">Visitor information</span></li>
            
        
 
        
 
        
 
        </ol>
    </div>
</div>
     
 
<div class="r">
  <div class="headline-container plain">
    <h1>Visitor information</h1>

  </div>
</div>
<div class="main-and-aside r">
  
  <div class="main content-container" role="main">
    
      <div class="article-teaser">
        There are many ways to get around London and lots of ways to make your journeys easier, quicker and more fun. 
        
      </div>
    
    <div class="on-this-page">
      
      
           
      
<div>



<h2>Welcome to London</h2>


<p>We run one of the largest public transport networks in the world. Our transport services are fully integrated, so it's easy to switch between them to get around. Buying a <a href="/travel-information/visiting-london/visitor-oyster-card">Visitor Oyster card</a> before you leave home or using your <a href="/fares/how-to-pay-and-where-to-buy-tickets-and-oyster/pay-as-you-go/contactless-and-mobile-pay-as-you-go">contactless card</a>&nbsp;to pay for your fares makes it even easier.</p>

<p>You can plan your visit to London&nbsp;by downloading our <strong>Welcome to London leaflet</strong>:&nbsp;an essential brochure with key information about our transport network, getting to and from central London, and discovering the city.</p>
<div class="multi-document-download-container">
    

<a class="document-download-wrap portrait-download-image with-image pdfpdf" href="/cdn/static/cms/documents/visitor-leaflet-welcome-to-london-nov16.pdf">
    <div class="document-download-text">
        <p>Welcome to London </p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 2.74MB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

    <div class="document-download-image">
        <img src="/cdn/static/cms/images/welcome-to-london-thumbnail.jpg" alt="Welcome to London thumbnail" />
    </div>

</a>

<!-- 2.74 -->
 
</div>

</div>
 
<div class="module-grid clearfix">

</div>
 <div>

<h2><a name="services"></a>Transport services</h2>
<p>There are a variety of ways to get around London, depending on where you want to go and how you want to travel:</p>
</div>
 <div class="clearfix">
    <div class="image-box campaign-graphic left-float">
    
        <img src="/cdn/static/cms/images/underground-roundel-thumbnail.jpg" alt="Tube roundel thumbnail" />
    </div>
    <h3>London Underground (Tube) </h3>
<p>There are 11 colour-coded Underground lines. Services run regularly from around 05:00 to 00:30 on most routes. Night Tube services run on the Jubilee, Victoria, Piccadilly and most of the Central and Northern lines all night on Fridays and Saturdays. Find out more about <a href="/modes/tube/index">Tube services</a><strong>. </strong></p> 
</div>
 <div class="clearfix">
    <div class="image-box campaign-graphic left-float">
    
        <img src="/cdn/static/cms/images/bus-roundel-thumbnail.jpg" alt="Bus roundel thumbnail" />
    </div>
    <h3>Bus</h3>
<p>A cost-effective and easy way to travel around London, buses generally run from 05:00 to 00:30. Night buses operate on many major routes from around midnight to 05:00, and some operate a 24-hour service. Please note that it is not possible to pay for your London bus fare in cash. Find out more about our&nbsp;<a href="/modes/buses/index">bus services</a>.</p> 
</div>
 <div class="clearfix">
    <div class="image-box campaign-graphic left-float">
    
        <img src="/cdn/static/cms/images/dlr-roundel-thumbnail.jpg" alt="DLR roundel thumbnail" />
    </div>
    <h3>DLR (Docklands Light Railway)</h3>
<p>DLR trains in east London run from 05:30 to 00:30 Monday to Saturday and from 07:00 to 23:30 on Sunday. Take the DLR to Canary Wharf, Cutty Sark for&nbsp;Maritime Greenwich, ExCel London, London City Airport, or Woolwich Arsenal. Find out more about <a href="/modes/dlr/index">DLR services</a>.</p> 
</div>
 <div class="clearfix">
    <div class="image-box campaign-graphic left-float">
    
        <img src="/cdn/static/cms/images/rivers-roundel-thumbnail.jpg" alt="Rivers roundel thumbnail" />
    </div>
    <h3>London river services</h3>
<p>A relaxing way to see the sights. River Buses are a great alternative to the Tube or bus, while River Tours offer a variety of experiences from sightseeing trips with commentary to high speed adventure. Find out more about <a href="/modes/river/index">river services</a>. </p> 
</div>
 <div class="clearfix">
    <div class="image-box campaign-graphic left-float">
    
        <img src="/cdn/static/cms/images/london-overground-thumnail-roundel.jpg" alt="London Overground thumbnail" />
    </div>
    <h3>London Overground (LO)</h3>
<p>Orbital line serving London's suburbs. These local trains run from around 05:00 to midnight Monday to Saturday and from around 07:00 to midnight on Sunday. They're a great way to see hidden parts of London. Find out more about <a href="/modes/london-overground/index">London Overground services</a>.
</p>
<p>&nbsp;</p> 
</div>
 <div class="clearfix">
    <div class="image-box campaign-graphic left-float">
    
        <img src="/cdn/static/cms/images/tram-roundel-thumbnail.jpg" alt="Tram roundel thumbnail" />
    </div>
    <h3>Tram</h3>
<p>Tram services run in south London between Wimbledon, Croydon, Beckenham and New Addington from around 05:00 to 00:30 Monday to Saturday and from 07:00 to 00:30 on Sunday. Find out more about <a href="/modes/trams/index">Tram services</a>. </p> 
</div>
 <div class="clearfix">
    <div class="image-box campaign-graphic left-float">
    
        <img src="/cdn/static/cms/images/tfl-rail-roundel-thumbnail.jpg" alt="TfL Rail roundel thumbnail" />
    </div>
    <h3>TfL Rail</h3>

<p>Services run between Liverpool Street&nbsp;to Shenfield and Paddington to Heathrow and Reading from around 05:20 to 00:30 Monday to Sunday. These services will form part of the Elizabeth line when it is completed. Find out more about <a href="/modes/tfl-rail/index">TfL Rail</a>.</p> 
</div>
 <div class="clearfix">
    <div class="image-box campaign-graphic left-float">
    
        <img src="/cdn/static/cms/images/taxi-roundel-thumbnail.jpg" alt="Taxi roundel thumbnail" />
    </div>
    <h3>Taxis &amp; minicabs</h3>
<p>London's famous taxis (or black cabs), can be hailed on the street, booked in advance or picked up from designated taxi ranks. Find out more about <a href="/modes/taxis-and-minicabs/index">taxi and minicab services in London</a>.</p> 
</div>
 <div class="clearfix">
    <div class="image-box campaign-graphic left-float">
    
        <img src="/cdn/static/cms/images/emirates-icon-thumbnail.jpg" alt="Emirates icon roundel thumbnail" />
    </div>
    <h3>Emirates Air Line cable car</h3>
<p>Offering unique city views, the cable car is the highest observation point over the Thames. It connects The O2 and ExCeL London via terminals at North Greenwich (Jubilee line) and Royal Victoria (DLR). Open seven days a week, it's a great way to see London.&nbsp;Find out more about <a href="/modes/emirates-air-line/index">Emirates Air Line cable car</a>. </p>
<p>&nbsp;</p> 
</div>
 <div class="clearfix">
    <div class="image-box campaign-graphic left-float">
    
        <img src="/cdn/static/cms/images/santander-icon-thumbnail.jpg" alt="Santander icon thumbnail" />
    </div>
    <h3>Santander Cycles</h3>
<p>London's self-service bike hire scheme for short journeys. There are over 10,000 bikes for hire and 700 docking stations. It costs &pound;2 to access the bikes for 24 hours, and the first 30 minutes of every bike journey you make in that 24-hour period is free. Find out more about <a href="/modes/cycling/santander-cycles">Santander Cycles</a>. </p> 
</div>
 <div>

<h2>Fare zones</h2>
<p>London's transport network is divided into nine fare zones. Zones 1 and 2 are in central London, and Zones 6-9 are on the outskirts of the city. Heathrow airport is in Zone 6. Find out more about<a href="http://visitorshop.tfl.gov.uk/help/travel-zones/"> fare zones</a>. </p>
<h2>Travel times - peak and off-peak</h2>
<p>Travel fares vary depending on the transport service you use, the zone(s) you travel in, the day you travel and the time of day you travel - peak or off-peak. </p>
<ul>
    <li>Peak travel is between 06:30-09:30 and 16:00-19:00 Monday to Friday; travel is more expensive during peak hours.</li>
    <li>Off-peak travel is at all other times (including bank holidays). Travel is cheaper during off-peak. </li>
</ul>
<h2>Maps</h2>
<p>Whether you're taking the bus or Tube, on two wheels or by boat, we've got the right map to help you get to where you want to be. Visit our <a href="/travel-information/visiting-london/getting-around-london/visitor-maps">Maps</a> page to find out more.
</p>
<h2>Top travel tips </h2>
<p>No other city is as defined by its transport system as London: with its instantly recognisable red buses, black cabs and Tube trains.</p>
<p>Millions of journeys are made on London's transport network every day which can make travelling a bit challenging for visitors. Follow our<a href="/travel-information/visiting-london/getting-around-london/visitor-information/top-travel-tips"> travel tips </a>to make the most of your experience, and save time and money. </p>
<h2>Visitor Centres</h2>
<p>Want to know how to make the most of your trip to London? Visit one of our eight Visitor Centres to get advice on travel, places to visit and buying travel, attractions and tour tickets. Find <a href="/travel-information/visiting-london/getting-around-london/visitor-centres">Visitor Centres and opening times</a>.
</p>
<h2>Travel information in your language</h2>
<p>Choose your language on the Google Translate menu at the bottom of this page. Then navigate our website and find the information you need in your own language.</p>
<p>&nbsp;</p>
</div>
 
      
        
          
            @this.ScriptBlock(
              @<script>
                queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
              </script>
            )
          
        
      
    </div>
  </div>
  <div class="aside" role="complementary">

   
    
    
    
      <div data-set="sidenav-container" class="large">
        
        
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
 
 
 
                <a href="/travel-information/visiting-london/index" class="heading">
                    <h2 id="sub-menu-heading">Visiting London <span class="visually-hidden"> navigation</span></h2>
                </a>
                <ul>
                    
                                <li><div class="link-wrapper"><a href="/travel-information/visiting-london/visitor-oyster-card">Visitor Oyster card</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/travel-information/visiting-london/experience-london">Experience London</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/travel-information/visiting-london/getting-to-london">Getting to London</a></div></li>
                            
 
                <a href="/travel-information/visiting-london/getting-around-london" class="heading">
                    <h2 id="sub-menu-heading">Getting around London<span class="visually-hidden"> navigation</span></h2>
                </a>
                <ul>
                    
                                <li class="selected parent"><div class="link-wrapper"><a href="/travel-information/visiting-london/getting-around-london/visitor-information">Visitor information</a></div>
                                <ul>
                                    
                                <li><div class="link-wrapper"><a href="/travel-information/visiting-london/getting-around-london/visitor-information/top-travel-tips">Top travel tips</a></div></li>
                            
 
                                </ul>
                            </li>
 
                                <li class="parent"><div class="link-wrapper"><a href="/travel-information/visiting-london/getting-around-london/best-ways-for-visitors-to-pay">Best ways for visitors to pay</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/travel-information/visiting-london/getting-around-london/visitor-maps">Visitor maps</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/travel-information/visiting-london/getting-around-london/visitor-centres">Visitor Centres</a></div></li>
                            
 
                </ul>
            
 
                </ul>
            
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
      </div>
    
    <div>




















<div class="advert-tile unsponsored-style google-ads" aria-hidden="true">
  <div class="advert-link">
    <div class="advert-content">
        <div class="medium-large" data-advert="/76889402/non-targeted" data-advert-sizes="300, 250"></div>
        <div class="small" data-advert="/76889402/non-targeted" data-advert-sizes="300, 250"></div>
    </div>
  </div>
</div>
@{
    ViewBag.AmazonSlot = "'amznslots'";
    ViewBag.AmazonAds = "'3199'"; // to add another value, this needs to be ViewBag.AmazonAds = "'3199','xx'";
}
      

 </div>
    
      <div class="module-grid clearfix">
                    
        

                <div class="widget-wrapper">
                    <div class="expandable-box">
                        <div class="content">
                            <div class="always-visible widget-heading">
                                <div class="controls">&nbsp;</div>
                                <div class="widget-title">
                                    <h2>Plan a journey</h2>
                                </div>
                            </div>
                            <div class="start-hidden widget-content journey-planner-widget clearfix">
                                @{Html.RenderAction("Index", "JourneyPlanner", new
                                    { jptype = "publictransport" } 
                                );}
                            </div>
                        </div>
                    </div>
                </div>
            
 <div class="related-links">

    <h3>Related websites</h3>

<div class="vertical-button-container">

<a href="http://visitorshop.tfl.gov.uk/tfl/london-visitor-oyster-card/?utm_medium=referral&utm_source=tfl.gov.uk&utm_campaign=tfl" class="plain-button">Buy a Visitor Oyster card</a>
<a href="https://www.visitbritainshop.com/" class="plain-button">VisitBritain shop</a>
<a href="http://www.ltmuseum.co.uk/" class="plain-button">London Transport Museum</a>
<a href="https://shop.tfl.gov.uk/" class="plain-button">TfL souvenirs</a>
<a href="http://www.visitlondon.com/" class="plain-button">Visit London</a>
    </div>
</div>
 
      </div>
    
    <div data-set="sidenav-container" class="small-medium"></div>
  </div>
</div>
 
 
        
        
        
            @{ViewBag.Description = "There are many ways to get around London and lots of ways to make your journeys easier, quicker and more fun. ";}
        
            
        


 