


@{ViewBag.Title = "Consultation begins today on Emissions Related Congestion Charging ";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>Consultation begins today on Emissions Related Congestion Charging </h1>
        <div class="content-page-press-release">
        10 August 2007
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">



<div class="pull-quote">
        <div class="quote-body">"Londoners are becoming increasingly aware of the need to tackle climate change"</div>
        <div class="quote-footer">
            <div class="quotee-name">Mayor of London</div>
            <div class="quotee-job-title">Ken Livingstone</div>
        </div>
</div>

 <div class="on-this-page">
<div class="pullquote right">
                        <p>
                            Londoners are becoming increasingly aware of the need to tackle climate change
                            
                        </p>
                    </div>
                
            
            
            <p>
<p>Transport for London (TfL) has announced that public consultation will begin today on proposals to charge cars with the highest greenhouse gas emissions &pound;25 to drive in the present central London Congestion Charging Zone, combined with a 100 per cent discount for the cars with the lowest emissions.</p>
<p>The proposals, part of the Mayor's programme to tackle climate change, would see drivers of cars which make the biggest contribution to global warming, those in Vehicle Excise Duty Band 'G' and equivalent such as some of the so-called 'Chelsea tractors', some high powered sports cars and expensive luxury vehicles,&nbsp;pay &pound;25 to drive in the zone. </p>
<p>The affected zone will be the existing congestion charge zone in central London.</p>
<p>The lowest C02 emitting vehicles would qualify for a 100 per cent discount. </p>
<p>The great majority of drivers within the zone would be unaffected, and would continue to pay the standard &pound;8 charge. </p>
<p>The new charges would be as follows: </p>
<ul>
<li>Low-CO2 emitting cars - 100 per cent discount (&pound;0). Includes cars in Vehicle Excise Duty (VED) Bands A and B (up to and including 120g CO2 per km) which also meet Euro 4 air quality standard </li>
<li>The majority of cars - VED Bands C, D, E and those in F with emissions up to 225g CO2 per km, as well as those registered pre 2001 with engines up to and including 3,000 cc, will continue to pay exactly the same daily charge as at present - &pound;8 </li>
<li>The highest CO2 emitting cars - VED Band G and equivalent vehicles (above 225g CO2 per km), as well as those registered pre March 2001 with engines larger than 3,000 cc, will pay &pound;25 a day </li></ul>
<p>Transport - excluding aviation - accounts for 22 per cent of London's CO2 emissions, with cars accounting for nearly half of this. </p>
<p>According to a poll conducted by MORI for the Mayor, 64 per cent of Londoners think the most polluting cars should pay a higher congestion charge.*</p>
<p>The consultation starts today (10 August) and ends on 19 October. It will help inform the Mayor's decision on whether to confirm these proposals.</p>
<p>Mayor of London, Ken Livingstone said: "Today marks the start of a period of consultation over this proposal, which aims to reduce the harmful emissions that cause global warming. </p>
<h2>Choice of car</h2>
<p>"By proposing these changes to the congestion charging scheme we are encouraging people to take into account the impact on the environment of their choice of car. </p>
<p>"Londoners are becoming increasingly aware of the need to tackle climate change. </p>
<p>"The highest CO2 emitting cars - like some of the so-called Chelsea tractors, high powered sports cars and luxury executive cars - can produce twice as much carbon dioxide emissions as the kind of car driven by the average Londoner.</p>
<p>"We are already cleaning up London's fleet of public vehicles through measures like the introduction of hybrid buses.</p>
<h2>Leading the way</h2>
<p>"These new proposals seek to tackle emissions from private vehicles, and ensure that London is leading the way in the fight against catastrophic climate change."</p>
<p>TfL Director of Planning, Mich&egrave;le Dix, said: "The Congestion Charge has already contributed to reduced CO2 emissions in the charging zone as a result of reduced congestion and fewer vehicles making trips to central London. </p>
<p>"This proposal seeks to further reduce emissions by encouraging the use of lower CO2 emission vehicles."<br></p>
<p>Subject to the Mayor confirming the scheme order, the proposed timeline is as follows:</p>
<p><strong>4 February 2008 </strong>- Introduction of the discount for low CO2 emitting cars. The Alternative Fuel Discount would be closed to new registrations on this date.</p>
<p><strong>6 July 2008 </strong>- The last day an annual or monthly charge can be bought at the daily charge rate of &pound;8 (albeit discounted for the annual or monthly purchase) for high CO2 emitting vehicles (for charging days beyond 6 October 2008). </p>
<p><strong>6 October 2008 </strong>- Introduction of the &pound;25 daily rate high CO2 emitting cars. People currently entitled to the residents' discount, who continue to drive Band G cars, would no longer be entitled to this discount and would be required to pay the full &pound;25 daily charge.&nbsp; </p>
<p><strong>July 2009</strong> - Withdrawal of the Alternative Fuel Discount for existing vehicles registered with TfL.</p>
<p><strong>Exemptions and discounts</strong></p>
<p>There will be a 100% discount for vehicles with the lowest CO2 emissions - those in VED bands A and B. </p>
<p>This will replace the existing Alternative Fuel Discount. Drivers already registered for the Alternative Fuel Discount would continue to receive the discount until July 2009, unless the vehicle changed ownership.&nbsp; </p>
<p>The current discounts and exemptions for Blue Badge holders and Taxis &amp; Licensed Private Hire Vehicles would be unaffected by these proposals.</p>
<p>Under the Congestion Charging NHS reimbursement scheme, eligible claimants are reimbursed the &pound;8 daily charge.&nbsp; This scheme would continue for the &pound;8 standard daily charge; however those drivers of Band G vehicles would only be eligible for &pound;8 reimbursement rather than &pound;25. </p>
<p><strong>Older Vehicles</strong></p>
<p>The Driver and Vehicle Licensing Agency (DVLA) did not start recording CO2 data until 2001 so the Band G level is not appropriate for these vehicles. </p>
<p>Cars first registered before 1 March 2001 and which have an engine capacity over 3,000cc would be subject to the higher daily charge of &pound;25 as they have CO2 emissions comparable with Band G vehicles.<br>&nbsp;<br><strong>Cars Registered before 1 March 2001&nbsp;&nbsp;&nbsp; </strong></p>
<div class="table-container"><table cellspacing="1" cellpadding="1" width="75%" border="1">
<tbody>
<tr>
<td>Engine size (cc)</td>
<td>&nbsp;Up to 3,000cc </td>
<td>&nbsp;Above 3,000cc&nbsp;&nbsp;&nbsp; </td></tr>
<tr>
<td>Proposed level of Congestion Charge </td>
<td>&nbsp;&pound;8</td>
<td>&nbsp;&pound;25</td></tr>
<tr>
<td>Date</td>
<td>&nbsp;As now</td>
<td>&nbsp;6 October 2008</td></tr></tbody></table></div>
<p>*Poll conducted by IPSOS/MORI, July 2006 </p>

<p>
<hr>
</p>
            <p>
<p><strong>Notes to editors </strong></p>
<ul>
<li>Should the Emissions Related Congestion Charging proposals be implemented, TfL would monitor the impacts and the entire scheme would be reviewed by 2010 to ensure that the decongestion and CO2 benefits of the scheme are being maintained </li>
<li>Copies of the consultation leaflet and information on Emissions Related Congestion Charging are available online or by phoning 0845 050 7845 </li>
<li>More information on initiatives to reduce London's carbon footprint and the Mayor's Climate Change Action Plan can be found on the <a href="http://www.london.gov.uk/">Greater London Authority's</a> website </li>
<li>The proposals of Emissions Related Congestion Charging apply to extended-cab pick-up trucks. For more information see TfL's CO2 charging page.<br></li></ul>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "Transport for London (TfL) has announced that public consultation will begin today on proposals to charge cars with the highest greenhouse gas emissions &pound;25 to drive in the present central London Congestion Charging Zone, combined with a 100 per";}
        
        


 