


@{ViewBag.Title = "DLR to run special competitor trains for London Triathlon ";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>DLR to run special competitor trains for London Triathlon </h1>
        <div class="content-page-press-release">
        01 August 2007
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">



 <div class="on-this-page">
<span class="right">
                    
                </span><p>Docklands Light Railway (DLR) is putting on extra trains to carry triathletes and their bicycles during the London Triathlon weekend, on&nbsp; 4-5 August.</p>        
            
                        
            
                    <div class="pullquote right">
                        <p>
                            Normal services will not be affected
                            
                        </p>
                    </div>
                
            
            
            <p>The 'competitor train' will run every 20 minutes&nbsp;non-stop from DLR Tower Gateway to&nbsp;Custom House for ExCeL stations, and back, during both days of the event. 
<p>No other DLR stations will be served by the competitor train. 
<p>Normal services will not be affected. 
<p>The trains are limited to a maximum of 50 competitors and their bicycles only, and will not be available to any other passengers - non-competitors and spectators should use standard passenger service trains. 
<p>DLR director Jonathan Fox, said: "We're delighted to be supporting the London Triathlon in this way. 
<p>"Our special trains will mean an easy journey for competitors travelling to the event with their bikes." 
<p>The competitor train service will run on a 'first come first served' basis from 09.00&nbsp;- 18.00 on Saturday 4 August and 05.30&nbsp;- 19.00 on Sunday 5 August. 
<p>This information will be communicated by the event organisers to the 12,000 registered competitors. 
<p>Competitors can travel using standard TfL one-day travel tickets, or purchase tickets direct from the above mentioned stations.<br>
<p>
            <p>
<p><strong>Notes to editors:</strong></p>
<ul>
<li>Bikes are carried at competitor's risk</li>
<li>This is a special DLR service; competitors and spectators using other rail services should check the operators conditions of carriage</li>
<li>Boarding will be supervised by DLR staff </li>
<li>Folded bicycles in bags can be taken free of charge on all sections of the network at all times</li>
<li>Bikes are not normally allowed on the DLR, in much the same way they are not allowed on most London Underground lines. This is because they could make evacuation of trains hazardous</li></ul>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "Docklands Light Railway (DLR) is putting on extra trains to carry triathletes and their bicycles during the London Triathlon weekend, on&nbsp; 4-5 August.The 'competitor train' will run every 20 minutes&nbsp;non-stop from DLR Tower Gateway to&nbsp;Custom";}
        
        


 