


@{ViewBag.Title = "Docklands Light Railway celebrates 20 years of service ";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>Docklands Light Railway celebrates 20 years of service </h1>
        <div class="content-page-press-release">
        30 August 2007
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">



<div class="pull-quote">
        <div class="quote-body">"The steady expansion of the Docklands Light Railway is helping wider and wider areas of east London share in the prosperity of the rest of the city"</div>
        <div class="quote-footer">
            <div class="quotee-name">Ken Livingstone</div>
            <div class="quotee-job-title">Mayor of London</div>
        </div>
</div>

 <div class="on-this-page">
<span class="right">
                    
                </span><p>The Docklands Light Railway (DLR), Britain's most reliable rail network, turns 20 tomorrow, marking two decades of service supporting the growth and regeneration of London's East End. </p>        
            
                        
            
                    <div class="pullquote right">
                        <p>
                            The steady expansion of the Docklands Light Railway is helping wider and wider areas of east London share in the prosperity of the rest of the city
                            
                        </p>
                    </div>
                
            
            
            <p>
<p>The first passenger train left Tower Gateway for Island Gardens on August 31, 1987. </p>
<p>Today, the DLR is carrying 60 million people a year. </p>
<p>Customer satisfaction lies at an extraordinary 96 per cent, and reliability tops all British rail networks at 97 per cent. </p>
<p>More than 150,000 jobs and 200,000 homes have been attracted to areas where the DLR runs. </p>
<p>As the railway gears up to celebrate its birthday, Transport for London (TfL) and the Mayor of London, Ken Livingstone, hailed the achievements of DLR and thanked everyone who has contributed to its success. </p>
<p>Ken Livingstone said: "The steady expansion of the Docklands Light Railway is helping wider and wider areas of east London share in the prosperity of the rest of the city by making it possible for people to get to new jobs and homes. </p>
<p>"I am committed to providing the transport links which can help end decades of deprivation in the east end of London. And this is delivering tangible results." </p>
<h2>Strength to strength</h2>
<p>Ian Brown, Managing Director of TfL London Rail, said: "DLR's success is no coincidence thanks to the dedication and forward-thinking of DLR staff past and present.</p>
<p>"The development of the railway has been remarkable since its inception and shows no sign of slowing down as we enter our third decade.</p>
<p>"I am proud to be part of one of public transport's genuine success stories and look forward to DLR continuing to go from strength to strength."<br></p>
            <p>
<p><strong>Notes to editors:</strong></p>
<ul>
<li>The TfL press office can arrange media trips around the network and behind-the-scenes visits, and has extensive archive photographs and maps</li>
<li>DLR is part of TfL</li>
<li>Growth in Docklands approximates to that of South East Asia. Delegations from China and Taiwan are currently seeking guidance from the DLR about how their light rail systems can keep pace with growth too</li>
<li>The original DLR network encompassed 15 stations and was used by 6.7 million passengers in its first year; today it comprises 38 stations and is used by well over 60 million people</li>
<li>Over &pound;1bn has been spent upgrading and extending DLR since it began operating</li>
<li>The original railway cost &pound;77m</li>
<li>Since 1987 the DLR network has extended to Bank, Beckton, Lewisham and London City Airport. Further extensions to Woolwich Arsenal and Stratford International will open in 2009 and 2010 respectively</li>
<li>The railway plays a vital role in the diverse and multicultural Docklands area, serving everyone from small local communities to international travellers using London City Airport. It transports millions of commuters into the heart of Canary Wharf and Bank, the business centres of London</li>
<li>The busiest DLR station is Bank, which is used by an average of over 70,000 passengers per weekday</li>
<li>The DLR stations at Bank, Island Gardens and Cutty Sark for Maritime Greenwich are located underground. The future Woolwich Arsenal station, set to open in 2009, is similarly being constructed below ground</li>
<li>DLR trains are capable of speeds up to 50mph, although they rarely travel above 40mph</li>
<li>DLR trains have travelled a total of over 50 million miles since the railway opened in 1987, which is equivalent to travelling around the Earth 2,008 times</li>
<li>A viaduct in the Limehouse / Westferry area is one of the oldest structures on the DLR, dating back to 1840. It is a listed viaduct that originally formed part of the London and Blackwall rope-hauled railway</li>
<li>DLR is the only driverless rail system in the UK. Its trains are operated remotely in a futuristic control centre</li>
<li>The longest stretch of track between DLR stations is 2,377m, from Bank - Shadwell</li>
<li>Since opening in 1987, over half a billion journeys have been made on the DLR</li></ul>
<p>&nbsp;</p>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "The Docklands Light Railway (DLR), Britain's most reliable rail network, turns 20 tomorrow, marking two decades of service supporting the growth and regeneration of London's East End. The first passenger train left Tower Gateway for Island Gardens on";}
        
        


 