


@{ViewBag.Title = "First ever branded Oyster Card set to transport visitors to ancient Egypt ";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>First ever branded Oyster Card set to transport visitors to ancient Egypt </h1>
        <div class="content-page-press-release">
        29 August 2007
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">



<div class="pull-quote">
        <div class="quote-body">"Oyster is a great success for Londoners and we also want visitors to take advantage of the cheaper, faster travel it offers"</div>
        <div class="quote-footer">
            <div class="quotee-name">Nigel Marson</div>
            <div class="quotee-job-title">TfL's Interim Managing Director of Marketing and Communications</div>
        </div>
</div>

 <div class="on-this-page">
<span class="right">
                    
                </span><p>Transport for London (TfL) has teamed up with the organisers of the 'Tutankhamun and the Golden Age of the Pharaohs' exhibition to create a limited edition Visitor Oyster card&nbsp;which will&nbsp;also help&nbsp;tourists to access cheaper travel. &nbsp;</p>        
            
                        
            
                    <div class="pullquote right">
                        <p>
                            Oyster is a great success for Londoners and we also want visitors to take advantage of the cheaper, faster travel it offers
                            
                        </p>
                    </div>
                
            
            
            <p>
<p>This first-ever branded Oyster will feature an eye-catching image of the boy king Tutankhamun in celebration of the exhibition coming to The O2 in November. </p>
<p>Some of the treasures from Tutankhamun's tomb were last displayed in the UK in 1972 and attracted some 1.7 million visitors, setting travelling exhibition attendance records. <br>&nbsp;<br>The special edition Tutankhamun Oyster Card&nbsp;went on sale to O2 customers on Tuesday 28 August and to the wider public on 12 September. </p>
<p>The card works in the same way as a normal pay as you go Visitor Oyster Card offering the lowest fares available, and will be sold in conjunction with tickets to the show through Visit London, TicketMaster, See tickets and Seatem.</p>
<p>It will be available pre-loaded with money&nbsp;so passengers can travel using&nbsp;pay as you go&nbsp;as soon as they arrive in London. <br>&nbsp;<br>Nigel Marson,&nbsp;TfL's Interim Managing Director of Marketing and Communications, said: "Oyster&nbsp;is&nbsp;a great success&nbsp;for Londoners&nbsp;and we&nbsp;also&nbsp;want&nbsp;visitors to take advantage of the cheaper, faster travel it offers. </p>
<h2>Travel more easily</h2>
<p>"It&nbsp;makes sense to&nbsp;link&nbsp;the&nbsp;Oyster&nbsp;visitor card with the&nbsp;Tutankhamun exhibition at The O2&nbsp;in this way, so people can travel more easily&nbsp;to what promises to be a hugely popular exhibition, and then keep hold of the card for future visits to the Capital."<br>&nbsp;<br>James Bidwell, Chief Executive of Visit London, said: "London's position as the number one destination city in the world can only be reinforced by adding to the range of visitor experiences. </p>
<p>"In 1972 over 1.7 million people went to see Tutankhamun's treasures when the exhibition visited London and it was the most successful exhibition in the Capital's history.</p>
<p>"Now, after more than 30 years, this stunning exhibit is returning and no doubt will be bigger and better than before. </p>
<h2>Timeless</h2>
<p>"The Tutankhamun exhibition will be a unique experience for Londoners and visitors alike."<br>&nbsp;<br>The&nbsp;branded&nbsp;Oyster card can be used time and again for visitors taking trips to London as the money stored on the card will not expire, and the card itself is timeless.<br>&nbsp;<br>The announcement is part of TfL's strategy to ensure that visitors to London have access to the cheaper options available with Oyster. </p>
<p>By making the cards easy to obtain before a passenger even arrives in London it saves time on queuing for tickets leaving people more time to enjoy their visit. <br>&nbsp;<br>Instead of buying a paper ticket, visitors can work out how often they will use public transport in London and top-up their Tutankhamun Visitor Oyster Card accordingly.</p>
            <p>
<p><strong>Note to editors: </strong></p>
<ul>
<li>Pre-purchased Oyster cards became available for visitors in September last year when a partnership was launched to sell Oyster cards through VisitBritain's overseas offices and on-line shops, allowing passengers to pre-purchase Oyster pay as you go&nbsp;before they&nbsp;arrive in the UK</li>
<li>The Oyster card has been a huge technological advance for London. More than 10 million Oyster cards have been issued since its launch in 2003 and 38 million journeys are made each week using Oyster</li>
<li>As an example, with Oyster pay as you go you can place &pound;10 on your Oyster card and when you touch in and out at the yellow readers with your card on the Tube, DLR, tram or touch in on the bus, the reader automatically deducts the correct fare</li>
<li>When passengers use the Oyster card to touch in and out on the yellow readers on the bus, Tube, DLR and tram the system automatically works out the right fare for the journey within a fifth of a second from up to 1.83 million permutations<br>&nbsp;</li></ul>
<p><strong>About the Exhibition:</strong></p>
<ul>
<li>The exhibition, organized by National Geographic, Arts and Exhibitions International and AEG Exhibitions, with cooperation from the Egyptian Supreme Council of Antiquities, will include 50 major objects excavated from Tutankhamun's tomb</li>
<li>More than 70 objects from other royal graves of the 18th Dynasty (1555 B.C.-1305 B.C.) will be showcased as well</li>
<li>Unique to the London-based exhibition will be a dedicated gallery to Howard Carter, the British archaeologist who discovered Tutankhamun's tomb</li>
<li>All of the artefacts in the exhibit are between 3,300 and 3,500 years old</li>
<li>The exhibition runs from 15 November 2007 to 30 August 2008 at The O2.&nbsp;More than 180,000 tickets have been sold or reserved to-date.&nbsp; Tickets and information is available at <a href="http://www.visitlondon.com/tut">www.visitlondon.com/tut</a> or <a href="http://www.kingtut.org">www.kingtut.org</a>. <br></li></ul>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "Transport for London (TfL) has teamed up with the organisers of the 'Tutankhamun and the Golden Age of the Pharaohs' exhibition to create a limited edition Visitor Oyster card&nbsp;which will&nbsp;also help&nbsp;tourists to access cheaper travel.";}
        
        


 