


@{ViewBag.Title = "Lane changes on the A40 Western Avenue";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>Lane changes on the A40 Western Avenue</h1>
        <div class="content-page-press-release">
        28 August 2007
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">



 <div class="on-this-page">
<span class="right">
                    
                </span><p>Major scheme to replace bridges on key road to begin.</p>        
            
                        
            
            
            
            <p>
<p>The next stage of a major scheme to allow for the replacement of two bridges on the A40, which cross over the railway lines at Wales Farm Road and Perryn Road in Acton, will begin on 1 September 2007.&nbsp; </p>
<p>The work is part of ongoing investment by Transport for London. </p>
<p>Due to these vital works, there will be a number of changes to the lane layout on the A40 Western Avenue.<br>&nbsp;<br>The bridges, which were originally built during the late 1920s, were not designed to manage today's traffic levels of more than 100,000 vehicles a day. </p>
<h2>Safer highway</h2>
<p>The two new bridges will help secure the structural safety for the next 120 years and provide a modern carriageway and safer highway layout for drivers, as well as ensure the safety of the railway tracks below the bridges that handle all rail networks in and out of Paddington. </p>
<p>These include the Heathrow Express and First Great Western trains, with more than 800 trains, transporting 145,000 passengers a day. </p>
<p>Minimising disruption to local residents has been a key priority in the development of the scheme.</p>
<p>The new bridges have been designed so that traffic on the A40 and rail services can continue running across and beneath the bridges while work is carried out. </p>
<h2>New bridge</h2>
<p>The first traffic switch is planned from 1 September 2007, and will see the two eastbound lanes diverted from the Wales Farm Road Bridge onto the new bridge in early September 2007, with the two westbound lanes being transferred in later that month. </p>
<p>At the Perryn Road Bridge, the inside eastbound lane will be moved onto the new bridge section in mid September 2007, with the outside eastbound lane and the two westbound lanes being transferred from early October 2007. </p>
<p>The transfer from the old bridges to the new bridge sections should be complete by mid- to late-October 2007, and will signal the end of a key phase of the project.</p>
<p>It is scheduled that the whole bridge replacement project will be completed by summer 2009. </p>
<h2>Work overnight</h2>
<p>While the work is being carried out, it is anticipated that there will be little or no effect on traffic flow along the A40, although the speed limit will be reduced from 40mph to 30mph when the lane switches take place. </p>
<p>Most of the work will be carried out during the daytime, however for safety reasons, some work over the railway can only be carried out overnight when trains are not operating.</p>
<p>For more information about the scheme, visit <a href="http://www.tfl.gov.uk/a40actonbridges">www.tfl.gov.uk/a40actonbridges</a> </p>
            <p>
<p><strong>Notes to editors</strong></p>
<ul>
<li>TfL is responsible for maintaining and managing the 580km Transport for London Road Network (TLRN), which, although comprising only&nbsp;five per cent of the Capital's roads, carries approximately 33 per cent of its traffic</li>
<li>TfL is responsible for implementing the Mayor's Transport Strategy on improving the movement of people and goods on London's streets by helping pedestrians, cyclists, bus passengers and people with disabilities<br></li></ul>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "Major scheme to replace bridges on key road to begin.The next stage of a major scheme to allow for the replacement of two bridges on the A40, which cross over the railway lines at Wales Farm Road and Perryn Road in Acton, will begin on 1 September";}
        
        


 