


@{ViewBag.Title = "London Underground and Film London join forces to celebrate film-making in London";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>London Underground and Film London join forces to celebrate film-making in London</h1>
        <div class="content-page-press-release">
        15 August 2007
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">



<div class="pull-quote">
        <div class="quote-body">"London Underground has a long history of association with film-making"</div>
        <div class="quote-footer">
            <div class="quotee-name">Kate Reston</div>
            <div class="quotee-job-title">Head of the Film Office at LU</div>
        </div>
</div>

 <div class="on-this-page">
<div class="pullquote right">
<p>
London Underground has a long history of association with film-making
</p>
</div>
<p>
</p>
<p>London Underground's (LU) passengers are used to being treated to an inspiring selection of world poetry on the Tube, thanks to Poems on the Underground. </p>
<p>But they will now also enjoy some of the cinema's most famous lines, thanks to a new initiative in partnership with Film London. </p>
<p>The scheme entitled Know Your Lines aims to celebrate film-making in London and its association with the Tube by bringing memorable movie lines to Underground passengers.  </p>
<p>The series of posters combines recognisable quotes from classic London films such as Alfie, The Italian Job and The Long Good Friday, with details of corresponding London locations and their nearest Tube station.</p>
<h3>View the posters (PDF 80KB)</h3>
<ul>
    <li><a href="/assets/downloads/know-your-lines-alfie.pdf">Alfie</a> </li>
    <li><a href="/assets/downloads/know-your-lines-italian-job.pdf">The Italian Job</a> </li>
    <li><a href="/assets/downloads/know-your-lines-bridget-jones.pdf">Bridget Jones: The Edge Of Reason</a> </li>
    <li><a href="/assets/downloads/know-your-lines-long-good-friday.pdf">The Long Good Friday</a> </li>
    <li><a href="/assets/downloads/know-your-lines-love-actually.pdf">Love Actually</a></li>
</ul>
<h2>Internationally recognised </h2>
<p>The selection features lines such as, "I think I may have made a terrible mistake inviting you and your folding underpants into my life," from Bridget Jones: The Edge of Reason which was filmed around London Bridge; and, "We may be a small country but we're a great one too - the country of Shakespeare, Churchill, The Beatles, Sean Connery, Harry Potter, David Beckham's right foot...David Beckham's left foot, come to that" from Love Actually, filmed in Westminster.</p>
<p>Kate Reston, Head of the Film Office at LU said: "London Underground has a long history of association with film-making. </p>
<p>"Classics such as Bulldog Jack, romantic comedies like Sliding Doors, hi-tech thrillers (Mission Impossible and the James Bond Die Another Day), horror movies such as Creep and 28 Days Later; the world phenomenon Harry Potter, Hitchcock's Blackmail and Oscar&reg;-winner The Constant Gardener have all been partly shot on the Underground, an internationally recognised British symbol.</p>
<h2>Pivotal role</h2>
<p>"The Know Your Lines initiative is a great reminder of the UK and London's pivotal role in world cinema; a role that we endeavour to support and further whilst at the same time entertaining our passengers as they travel on the network."</p>
Adrian Wootton, CEO of Film London said: "As one of the most distinctive and widely used film locations in the world, London has inspired many truly memorable movies.
<p>"Using famous and classic quotations from some of our best films, this partnership with London Underground is an excellent way to recognise a selection of great film-making talent, celebrate how the capital is reflected on the big screen, and remind Londoners of our fantastic film heritage."</p>
<p>
</p>
<hr />
<p><strong>Notes to editors</strong><br />
</p>
<ul>
    <li>The scheme utilises vacant advertising spaces on the Underground at no cost to Film London</li>
    <li>Bridget Jones: The Edge of Reason &copy; 2017 Universal Studios and StudioCanal and Miramax Film Corp.All rights reserved; and Love Actually &copy; 2017 WT Venture LLC.All rights reserved</li>
    <li>The other film lines on display are:</li>
    <ul style="list-style-type: square;">
        <li>"There are places governor, that to an Englishman are sacred." (The Italian Job)</li>
        <li>"What I am looking for is someone who can contribute to what England has given the world: culture, sophistication, genius. A little more than a hotdog, know what I mean?" (The Long Good Friday)</li>
        <li>"It seems to me if they ain't got you one way they've got you another. So what's the answer?" (Alfie)</li>
    </ul>
</ul>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "London Underground's (LU) passengers are used to being treated to an inspiring selection of world poetry on the Tube, thanks to Poems on the Underground. But they will now also enjoy some of the cinema's most famous lines, thanks to a new initiative in";}
        
        


 