


@{ViewBag.Title = "One last lift to return Westminster Bridge to former glory";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>One last lift to return Westminster Bridge to former glory</h1>
        <div class="content-page-press-release">
        22 August 2007
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">



 <div class="on-this-page">
<span class="right">
                    
                </span><p>Difficult part of work to restore historic bridge reaches completion <br></p>        
            
                        
            
                    <div class="pullquote right">
                        <p>
                            Westminster Bridge is one of the busiest in the Capital and the works are vital to ensure it can meet modern demands
                            
                        </p>
                    </div>
                
            
            
            <p>
<p>The last of 14 restored cast iron fascias will be lifted back onto Westminster Bridge this week, marking the end of a significant phase in the refurbishment and restoration of one of London's busiest foot and road bridges.</p>
<p>The fascia restoration, the largest phase in Transport for London's (TfL) project to preserve the historic nature of Westminster Bridge, has seen the 15 tonne fascias lifted by a 35 metre floating crane from the river.</p>
<p>Westminster Bridge is the oldest bridge still in use in London and is in one of the most historic and photographed parts of the Capital.</p>
<p>TfL has used modern engineering techniques to ensure that the features of the bridge are restored to meet the demands of its 21st century use while retaining its original character.</p>
<p>The existing decorative spandrels and shields have adorned the bridge since it first opened in 1862.</p>
<p>TfL took the decision to restore them while at the same time replacing the cast iron fascias that had suffered from being exposed to knocks from river traffic for many decades.</p>
<h2>Iconic sites </h2>
<p>David Brown, Managing Director, Surface Transport, TfL, said: "London's bridges are iconic sites in themselves and have played an important role in London's history and growth.&nbsp; </p>
<p>"Westminster Bridge is one of the busiest in the Capital and the works are vital to ensure it can meet modern demands.</p>
<p>"The fascias are a key part of the bridge's structure and it was important we restored them in what is one of London's most visited and photographed areas."</p>
<p>The work has been undertaken by contractors Interserve, designers Tony Gee and Partners and consultants Hyder.</p>
<h2>Minimising disruption</h2>
<p>The restoration of the fascias, including the spandrels and shields, began in 2003 and is part of TfL's &pound;10bn Investment Programme.</p>
<p>Minimising disruption at this key location has been essential to the project's success.</p>
<p>A number of consultant parties have cooperated on the programme, including Lambeth Council, City of Westminster and English Heritage, which has advised on the historic nature of the Grade II* listed structure. </p>
<p>
<hr>
            <p><strong>Notes to editors</strong></p>
<ul>
<li>The last Westminster Bridge fascia lift will take place on Thursday 23 August </li>
<li>Westminster Bridge was opened to traffic on Queen Victoria's birthday, 24 March 1862 </li>
<li>Transport for London is responsible for maintaining and managing the 580km Transport for London Road Network (TLRN), which although comprising only 5 per cent of the Capital's roads, carries approximately 33 per cent of its traffic<br></li></ul>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "Difficult part of work to restore historic bridge reaches completion The last of 14 restored cast iron fascias will be lifted back onto Westminster Bridge this week, marking the end of a significant phase in the refurbishment and restoration of one of";}
        
        


 