


@{ViewBag.Title = "Re-route for N133 bus service from 1 September 2007";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>Re-route for N133 bus service from 1 September 2007</h1>
        <div class="content-page-press-release">
        22 August 2007
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">



 <div class="on-this-page">
<span class="right">
                    
                </span><p>Residents of Streatham Vale will benefit from a night service for the first time, thanks to a re-routing of the N133 night bus service, starting on Saturday 1 September.<br></p>        
            
                        
            
            
            
            <p>
<p>The route currently goes from Liverpool Street bus station to Tooting Broadway.</p>
<p>The night service is to be re-routed at Streatham High Road via Greyhound Lane, Streatham Vale, Greyhound Terrace, Rowan Road, Manor Road, Commonside East, Upper Green East, London Road and Raleigh Gardens, terminating at Mitcham. </p>
<p>The N133 will provide a new direct link between Mitcham and Central London, via Streatham. </p>
<p>Passengers travelling to Tooting Broadway are advised to use route 57 which began operating throughout the night on 30 June 2007. </p>
<p>&nbsp;</p>
            <p>
<p><strong>Notes to editors:</strong></p>
<ul>
<li>Route 133, which operates during the day, remains unchanged</li>
<li>The N133 night service runs two buses per hour, operating from 00:45 to 03:45</li>
<li>Route 57 operates 24 hours a day, with two buses per hour at night</li></ul>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "Residents of Streatham Vale will benefit from a night service for the first time, thanks to a re-routing of the N133 night bus service, starting on Saturday 1 September.The route currently goes from Liverpool Street bus station to Tooting Broadway.The";}
        
        


 