


@{ViewBag.Title = "Smart posters show passengers the way";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>Smart posters show passengers the way</h1>
        <div class="content-page-press-release">
        22 August 2007
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">



<div class="pull-quote">
        <div class="quote-body">"This trial is a European first for providing customer in-journey information via NFC"</div>
        <div class="quote-footer">
            <div class="quotee-name">Mike Beizsley</div>
            <div class="quotee-job-title">Group Marketing RTIP Technical Design Authority</div>
        </div>
</div>

 <div class="on-this-page">
<span class="right">
                    
                </span>An innovative pilot scheme that will see maps, directions and real-time travel advice transmitted to mobile phones begins this week. 
<p>        
            
                        
            
                    <div class="pullquote right">
                        <p>
                            This trial is a European first for providing customer in-journey information via NFC
                            
                        </p>
                    </div>
                
            
            
            <p>
<p>The three-month trial, centered around Blackfriars London Underground (LU) station, will see Near Field Communication (NFC) technology embedded in a number of 'touchpoint' posters.</p>
<p>When a NFC-enabled mobile phoned is placed against the smart poster, even if deep underground, it will pinpoint the exact location of the passenger and then transmit detailed information including where to go to make the next stage of the journey, how to get there, how long the transfer will take and when the next service will arrive. </p>
<p>This information includes all modes of transport in the vicinity of Blackfriars: Tube; National Rail; buses and river services. </p>
<p>The project, named VORTIX (Visualization of Real-time Transport Interchange), is a collaboration between Transport for London (TfL), Imperial College London and Kizoom (a transport intelligence company), and has received funding from a Department for Trade and Industry (DTI) technology development award, that a TfL-led consortium won in the 2006 DTI Spring Competition for its Real-time Integration Programme (RTIP). </p>
<p>The trial will involve the installation of 19 smart posters in and around Blackfriars LU station, including the underpasses, and will be trialled in the first instance by a small number of specially enabled handsets. </p>
<p>As the pilot progresses the number of handsets will increase and by the end of the year there will be up to 500 handsets in use. </p>
<h2>Specially-designed software</h2>
<p>A passenger taking part in the trial will input a destination into their NFC enabled phone and then, when changing modes at Blackfriars station, will be able to use a touchpoint poster. </p>
<p>Within a second, specially-designed software will give detailed travel information on the phone handset's screen, including a map of the station and surrounding area and real-time travel information.</p>
<p>A passenger who has not entered a destination into their phone can touch the poster and receive travel information to visit local attractions and landmarks. </p>
<p>The touchpoint posters are also environmentally sound as they do not require a power source, but instead are powered by induction from the mobile phone handset.&nbsp;</p>
<h2>Best connection</h2>
<p>Dr Janko Mrsic-Flogel, TfL Head of Mobile Innovation, said: "The main aim of this trial is to ease the transition from one mode of public transport to another by giving passengers directions of where to go next and up-to-date travel connection details so that they are better informed. </p>
<p>"We are integrating positions of Underground trains, buses, railway and even riverboats to give the user accurate information on their best connection to their destination." </p>
<p>Mike Beizsley, Group Marketing RTIP Technical Design Authority and VORTIX Project Lead, said: "This trial is a European first for providing customer in-journey information via NFC. </p>
<p>"This is an exciting step for TfL's real-time programme's aim of delivering a new generation of timely, multi-modal and personalised information to its passengers." </p>
<h2>Innovative</h2>
<p>Mike Short, Chairman of the Mobile Data Association, said: "NFC technology is now maturing and we will see many new uses of NFC as mobiles become touch aware." </p>
<p>Professor John Darlington, Director of the Imperial College Internet Centre, said: "The Imperial College Internet Centre is delighted to be part of this innovative project which is demonstrating the sort of integrated and helpful services that can be developed as part of the emerging mobile and Internet infrastructures."</p>
<p>Nick Knowles, Technical Director of Kizoom, said: "NFC gives users simple triggers in their physical environment with which to engage with mobile services highly relevant to where they are and what they are doing. </p>
<p>"This makes it ideal for bringing new forms of personalised, real-time information and decision support to travellers."</p>
<p>Steffen Steinmeyer, Head of Global Business Development NFC, of NXP Semiconductors, said: "This trial shows that London is again leading the way in using technology to make passengers' lives easier. </p>
<p>"We are confident that the ease-of-use, the speed and the convenience of the NFC will appeal to the people of London."</p>
<p>&nbsp;</p>
            <p>
<p><strong>Notes to editors:</strong></p>
<ul>
<li>For further information please contact James Simpson or Dan Maskell, TfL Press Office, on 0845 604 4141</li>
<li>Developed jointly by NXP Semiconductors and Sony, Near Field Communication (NFC) is a new, short-range wireless connectivity technology that evolved from a combination of existing contactless identification and interconnection technologies. Products with built-in NFC will dramatically simplify the way consumer devices 'talk' to one another, helping people receive and share information, and even make fast and secure payments. Because the transmission range is so short (four centimetres), NFC-enabled transactions are inherently secure. Also, physical proximity of the device to the reader gives users the reassurance of being in control of the process. Operating at 13.56 MHz and transferring data at up to 424 Kbits/second, NFC provides intuitive, simple, and safe communication between electronic devices. NFC is both a 'read' and 'write' technology. A simple wave or touch can establish an NFC connection, which is then compatible with other known wireless technologies such as Bluetooth or Wi-Fi</li>
<li>The passenger information software being trialled was developed by Imperial College London's Internet Centre as part of the DTI project and is a downloadable mobile Java application. After touching the NFC-enabled mobile phone to the touchpoint poster, the phone application will inform the passenger of their current location, position them on a map that is displayed on their mobile phone handset, and show the journey times of the most appropriate connection to their ultimate travel destination. The software can also point the passenger to useful travel and local Mobile Internet sites, such as TFL's Journey Planner and also provide useful phone numbers</li></ul>
<p>&nbsp;</p>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "An innovative pilot scheme that will see maps, directions and real-time travel advice transmitted to mobile phones begins this week. The three-month trial, centered around Blackfriars London Underground (LU) station, will see Near Field Communication";}
        
        


 