


@{ViewBag.Title = "TfL appoints Joint Legal Panel ";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>TfL appoints Joint Legal Panel </h1>
        <div class="content-page-press-release">
        28 August 2007
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">



<div class="pull-quote">
        <div class="quote-body">"Our priority is to help TfL deliver its Investment Programme and other initiatives for London"</div>
        <div class="quote-footer">
            <div class="quotee-name">Gareth John</div>
            <div class="quotee-job-title">TfL Director of Legal & Compliance</div>
        </div>
</div>

 <div class="on-this-page">
<span class="right">
                    
                </span><p>Transport for London (TfL) and its group company London Underground Ltd (LUL) have recently completed a review of their retained law firms and have appointed a new combined panel of twelve firms to support their major projects and LUL's mainstream work.&nbsp; </p>        
            
                        
            
                    <div class="pullquote right">
                        <p>
                            Our priority is to help TfL deliver its Investment Programme and other initiatives for London
                            
                        </p>
                    </div>
                
            
            
            <p>
<p>This includes the appointment of Eversheds to support TfL's mainstream operational work.&nbsp; </p>
<p>The new arrangements take effect immediately and will be reviewed after a period of four years. </p>
<p>The twelve firms retained are: Ashurst, Berwin Leighton Paisner, Bird &amp; Bird, Clifford Chance, Eversheds, Freshfields Bruckhaus Deringer, Herbert Smith, KL Gates, Manches, Simmons &amp; Simmons, Travers Smith and Wragge &amp; Co.</p>
<p>This review has streamlined the number of firms engaged by TfL/LUL and is designed to deepen the relationships with the appointed firms and increase efficiency.&nbsp; </p>
<p>TfL and LUL are committed to the Mayor's economic, social and environmental strategies for London through achieving best value, diversity and sustainable procurement.&nbsp; </p>
<p>The appointed firms are being asked to demonstrate their commitment to these values and reflect the wider interests of the TfL group and the GLA group in their advice and training.</p>
<h2>Major projects </h2>

<p>TfL Legal plays an essential role in supporting the delivery of major projects in TfL's Investment Programme for London.&nbsp; </p>
<p>Such projects range from the extension of the East London Line, the transfer and consolidation of the North London Railway, and the development of Crossrail, through to the extension of the Congestion Charging scheme, the raising of finance in the corporate markets, and the commercial development of real estate for transport integration.&nbsp; </p>
<p>The department also supports various transport projects that will help make the London 2012 Olympic Games and Paralympic Games a success. </p>
<p>The work is diverse, technically complex and innovative demanding a range of corresponding skills and attributes from its in-house and external lawyers.</p>
<h2>Legal management</h2>

<p>LUL Legal's portfolio of Public Private Partnership (PPP) and Private Finance Initiative (PFI) contracts includes managing the legal aspects of the PPP contracts with Tube Lines and Metronet.&nbsp; </p>
<p>The administration of Metronet requires a high level of support from both legal teams.&nbsp; </p>
<p>The complex nature of the PPP contracts demands the highest quality legal management.&nbsp; </p>
<p>Supporting LUL's involvement in delivering key projects for London, as well as managing the interface between LUL and the national rail network, are also within the new panel's remit.</p>
<h2>Defining moments </h2>

<p>Sarah Atkins, Director of Legal for LUL, said: "We are at defining moments in many of our key contractual relationships in situations with no obvious precedents.&nbsp; </p>
<p>"We have selected advisers who can think laterally but who also have the pragmatism needed to support the successful delivery of construction projects."</p>
<p>Gareth John, TfL Director of Legal &amp; Compliance, said: "Our priority is to help TfL deliver its Investment Programme and other initiatives for London.&nbsp;</p>
<p>"This has been an opportunity to clarify our expectations, ensure that we have the right mix of expertise and resource, and to drive best value and efficiencies for TfL.&nbsp; </p>
<p>"We also encourage our firms to reflect the values of diversity and sustainable procurement - all in-house counsel have a responsibility to do this."</p>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "Transport for London (TfL) and its group company London Underground Ltd (LUL) have recently completed a review of their retained law firms and have appointed a new combined panel of twelve firms to support their major projects and LUL's mainstream";}
        
        


 