


@{ViewBag.Title = "Transport for London welcomes crime reduction on the Underground";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>Transport for London welcomes crime reduction on the Underground</h1>
        <div class="content-page-press-release">
        24 August 2007
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">



<div class="pull-quote">
        <div class="quote-body">"The chances of being a victim of crime on the Underground remain very low"</div>
        <div class="quote-footer">
            <div class="quotee-name">Howard Collins</div>
            <div class="quotee-job-title">Deputy Chief Operating Officer for London Underground</div>
        </div>
</div>

 <div class="on-this-page">
<span class="right">
                    
                </span><p>Crimes on the Underground and Docklands Light Railway have gone down by 2.1 per cent&nbsp;this year despite ever increasing numbers of passengers on the network.<br></p>        
            
                        
            
                    <div class="pullquote right">
                        <p>
                            The chances of being a victim of crime on the Underground remain very low
                            
                        </p>
                    </div>
                
            
            
            <p>
<p>Taking passenger figures into account, the real rate of crime per passenger journey has fallen seven per cent over the last year.</p>
<p>There were fewer robberies and fewer violent crimes on the network, as well as a substantial reduction in anti-social behaviour, according to statistics released by the British Transport Police (BTP), today (Friday).</p>
<p>Howard Collins, Deputy Chief Operating Officer for London Underground said: "The Tube is a low crime environment and these results should reassure passengers that the chances of being a victim of crime on the Underground remain very low.</p>
<p>"It is a significant achievement to reduce the number of crimes on the network in the first year that the Tube carried more than a billion passenger journeys.</p>
<p>"Nevertheless, we understand that the fear of crime is very real, which is why we continue to invest in CCTV in stations and on trains, we have more BTP officers patrolling the Tube than ever before and we are always looking at new ways to improve passenger safety and security."</p>
<p>Deputy Chief Constable of the BTP, Andy Trotter, said: "The increased industry investment in BTP is paying dividends and has helped to make the railway network safer."</p>
<p>Offences which disrupt services, such as trespassing and throwing objects at moving trains have also gone down by more than 40 per cent.<br></p>
            <p>
<p><strong>Notes to editors</strong><strong><p>
<ul>
<li></li></ul></strong>Figures released by the British Transport Police (BTP) show that for 2006/7: 
<ul type="circle">
<li>Crime on the London Underground (LU)/Docklands Light Railway (DLR)&nbsp;network is down 2.1 per cent&nbsp;and passenger numbers up by approximately&nbsp;five per cent. There is one crime on the network for every 58,000 passenger journeys taken </li>
<li>Robberies are down 21.1 per cent&nbsp;(from 506 to 399) </li>
<li>Theft of railway property is down 36.8 per cent&nbsp;(from 1,295 to 819) </li>
<li>Anti-social behaviour incidents, which include less serious public disorder offences, public order offences not including bomb hoaxes, and a small number of criminal damage offences has gone down by 11.3 per cent&nbsp;(from 5358 to 4752) </li>
<li>Recorded incidents of public disorder offences are up by 32.3 per cent&nbsp;due to targeted policing activity </li>
<li>Recorded incidents of criminal damage are up 36.9 per cent&nbsp;largely due to a change in reporting procedures where staff and maintenance contractors have been encouraged to report every incidence of graffiti they find </li>
<li>Line of route offences are down 41.6 per cent </li>
<li>Theft has seen a 0.7 per cent&nbsp;increase</li></ul>
<li>LU carried more than a billion passenger journeys for the first time last year </li>
<li>In 2003, there were 450 BTP officers for LU. Over the last few years this has increased to more than 700 officers </li>
<li>There are approximately 8,500 CCTV cameras on the Tube network which will rise to 12,000 over the next four to five years as part of the ongoing station modernisation programme. This will see the upgrading and expansion of CCTV facilities from analogue to digital and the recording of high quality images to hard drive rather than magnetic tape. This will ultimately mean that no one will be able to enter the Underground network without their face being recorded by CCTV camera </li>
<li>Information points are being installed at every station as it undergoes refurbishment with as many as 26 installed at some of the busiest stations. These information points give passengers and staff access to the station supervisor's office at the touch of a button. If there is no member of staff in the station control room, for any reason, the information point will automatically connect to the 999 emergency services help line<br></li>
<ul></ul>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "Crimes on the Underground and Docklands Light Railway have gone down by 2.1 per cent&nbsp;this year despite ever increasing numbers of passengers on the network.Taking passenger figures into account, the real rate of crime per passenger journey has fallen";}
        
        


 