


@{ViewBag.Title = "Transport for London goes green with Amey";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>Transport for London goes green with Amey</h1>
        <div class="content-page-press-release">
        03 August 2007
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">



<div class="pull-quote">
        <div class="quote-body">"We can make a positive impact by using green power efficiently"</div>
        <div class="quote-footer">
            <div class="quotee-name">Graham Vowles</div>
            <div class="quotee-job-title">TfL's Head of Road Network Management North</div>
        </div>
</div>

 <div class="on-this-page">
<span class="right">
                    
                </span><p>Transport for London (TfL) has warmly welcomed the green initiatives undertaken by Amey, the company appointed to undertake routine and emergency maintenance on TfL's North London road network.</p>        
            
                        
            
                    <div class="pullquote right">
                        <p>
                            We can make a positive impact by using green power efficiently
                            
                        </p>
                    </div>
                
            
            
            <p>
<p>Amey commenced the TfL Highway Maintenance Works contract for the north area in April 2007, and since then has introduced a number of environmentally friendly measures to demonstrate its commitment to London's quest to reduce carbon emissions.</p>
<p>Amey is joining TfL in helping to improve London's air quality and reduce the impact on climate change by introducing a fleet of environmentally friendly vehicles for use throughout its contract.</p>
<p>This fleet includes ten Modec electric vehicles and four electric smart cars that have zero CO2 emissions. </p>
<p>In addition to these vehicles, Amey will have a further 14 low emission vehicles (four Toyota Prius and 10 Astra LPG powered cars) out on the road for TfL. </p>
<h2>Green measures</h2>
<p>Amey is also looking at other ways to adopt best practice in their green measures, including encouraging the use of bicycles and electric quad bikes. </p>
<p>Amey employees currently have the opportunity to lease bikes through the company without having to pay the taxes on them, through the Amey Cycle2work scheme. </p>
<p>This encourages staff to consider cycling to work instead of using the car, an initiative that TfL strongly supports.</p>
<p>Graham Vowles, TfL's Head of Road Network Management North, said: "Reducing the Capital's carbon footprint is one of the biggest challenges facing us today. </p>
<h2>Positive impact</h2>
<p>"It is vital that in carrying out maintenance and improvement work on North London's Red Routes that we think carefully about the way we do things.<br>&nbsp;<br>"We can make a positive impact by using green power efficiently.<br>&nbsp;<br>"It is great to see the environmental initiatives being implemented by Amey. </p>
<p>"In taking these initiatives forward throughout their contract they will not only play an important part in keeping London moving, but also contribute to improving our local environment along the way." </p>
<h2>Reducing emissions</h2>
<p>Chris Webster, Amey's Executive Director, said: "Amey is passionate about the environment and it is important for us to be at the forefront of innovation when it comes to delivering services. </p>
<p>"Ensuring that we are environmentally friendly means not only meeting the requirements but going above and beyond what is expected to demonstrate that Amey is contributing to the global effort to reduce CO2 emissions. </p>
<p>"We hope that through our work with TfL we are not only improving the roads in north London but also the environment."</p>
<p>Amey is also currently looking at introducing bio fuel, using eight-seater electric buses for transporting staff to jobs, and is working with Mercedes to provide Euro V vehicles.<br></p>
            <p>
<p><strong>Notes to editors</strong></p>
<ul>
<li>TfL is responsible for maintaining and managing the 580km Transport for London Road Network (TLRN), which, although comprising only 5 per cent of the Capital's roads, carries approximately 33 per cent of its traffic</li>
<li>The Highways Maintenance Works Contracts (HMWC) cover routine highway maintenance (agreed in advance), reactive operations and additional maintenance and improvement capital works as instructed by TfL</li>
<li>Amey is responsible for highways maintenance works in Hillingdon, Hounslow, Ealing, Harrow, Brent, Hammersmith &amp; Fulham, Barnet, Haringey, Enfield, Waltham Forest, Newham, Redbridge, Barking &amp; Dagenham and Havering</li>
<li>Amey is a leading provider of integrated business and infrastructure services to the public and private sector and works closely with central and local government to develop major projects in the education, health, transport and defence sectors. Since 2003, Amey has been part of Grupo Ferrovial, one of the largest services and construction groups in Europe. In February 2006, Amey acquired professional support services provider, Owen Williams, providing professional engineering and consultancy services for clients in strategic highways and transportation, railways, operational services and local government sectors.<br></li></ul>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "Transport for London (TfL) has warmly welcomed the green initiatives undertaken by Amey, the company appointed to undertake routine and emergency maintenance on TfL's North London road network.Amey commenced the TfL Highway Maintenance Works contract for";}
        
        


 