


@{ViewBag.Title = "Transport for London goes green with Ringway Jacobs";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>Transport for London goes green with Ringway Jacobs</h1>
        <div class="content-page-press-release">
        03 August 2007
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">



<div class="pull-quote">
        <div class="quote-body">"Reducing the capital's carbon footprint is one of the biggest challenges facing us today"</div>
        <div class="quote-footer">
            <div class="quotee-name">Nick Atkinson</div>
            <div class="quotee-job-title">TfL's Head of Road Network Management Central</div>
        </div>
</div>

 <div class="on-this-page">
<span class="right">
                    
                </span><p>Transport for London (TfL) has warmly welcomed the green initiatives undertaken by Ringway Jacobs, the company appointed to undertake routine and emergency maintenance on TfL's Central London road network.</p>        
            
                        
            
                    <div class="pullquote right">
                        <p>
                            Reducing the capital's carbon footprint is one of the biggest challenges facing us today
                            
                        </p>
                    </div>
                
            
            
            <p>
<p>Ringway Jacobs commenced the TfL Highway Maintenance Works contract for the central area in April 2007, and since then has introduced a number of environmentally friendly measures to demonstrate its commitment to London's quest to reduce carbon emissions.</p>
<p>Ringway Jacobs is joining TfL in helping to improve London's air quality and reduce the impact on climate change by introducing a fleet of environmentally friendly vehicles for use throughout its contract. </p>
<p>Fully liveried in the Ringway Jacobs logo, the company will be introducing one of the first fleets in the UK that fully meet the Euro V standard on emissions, to make site visits and get from one depot to another. </p>
<p>Environmental management plans, including recycling initiatives, are also being developed for each of the three Ringway Jacobs depots, at Bow, Wandsworth and Tulse Hill. </p>
<p>In a further demonstration of environmental awareness, nobody at Ringway Jacobs has a company car.&nbsp; </p>
<h2>Sustainable travel</h2>
<p>Instead, staff are encouraged to consider more sustainable modes of travel and an Oyster card for travel on public transport is offered to staff in return for not taking up a company car allowance. </p>
<p>Smart cars are available as pool cars for transport to and from a depot should no other option be available.</p>
<p>Nick Atkinson, TfL's Head of Road Network Management Central, said: "Reducing the capital's carbon footprint is one of the biggest challenges facing us today. </p>
<p>"It is vital that in carrying out maintenance and improvement work on central London's Red Routes that we think carefully about the way we do things. </p>
<h2>Environmental initiatives</h2>
<p>"We can make a positive impact by using green power efficiently.</p>
<p>"It is great to see the environmental initiatives being implemented by Ringway Jacobs. </p>
<p>"In taking these initiatives forward throughout their contract they will not only play an important part in keeping London moving, but also contribute to improving our local environment along the way."</p>
<p>Ringway Jacobs Contract Manager Dean Cronk said: "People think of the vehicles used in highways contracts as always being enormous gas-guzzling trucks, but we've taken the conscious decision to move away from that image as much as we can. </p>
<h2>Cleaner, greener capital</h2>
<p>"Everything that can be done to help the environment is being done at Ringway Jacobs.</p>
<p>"From recycling anything we can through to finding more environmentally friendly forms of transport.</p>
<p>"'Encouraging staff to give up company cars in favour of this new system has been surprisingly easy, everyone can see the benefits associated with using less cars, and only on necessary journeys, and we hope it helps go towards doing our bit for a cleaner, greener capital."</p>
            <p>
<p><strong>Notes to editors:</strong></p>
<ul>
<li>TfL&nbsp;is responsible for maintaining and managing the 580km Transport for London Road Network (TLRN), which, although comprising only 5 per cent of the capital's roads, carries approximately 33 per cent of its traffic</li>
<li>The Highways Maintenance Works Contracts cover routine highway maintenance (agreed in advance), reactive operations and additional maintenance and improvement capital works as instructed by TfL</li>
<li>Ringway Jacobs is responsible for highway maintenance works in Camden, Islington, Hackney, Kensington &amp; Chelsea, City of Westminster, City of London, Tower Hamlets, Wandsworth, Lambeth and Southwark</li>
<li>Ringway Jacobs is a fully incorporated 50:50 joint venture between Ringway and Jacobs Babtie set up specifically to provide integrated highway infrastructure services in England and Wales</li></ul>
<p><br>&nbsp;</p>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "Transport for London (TfL) has warmly welcomed the green initiatives undertaken by Ringway Jacobs, the company appointed to undertake routine and emergency maintenance on TfL's Central London road network.Ringway Jacobs commenced the TfL Highway";}
        
        


 