


@{ViewBag.Title = "Transport for London goes green with AccordMP";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>Transport for London goes green with AccordMP</h1>
        <div class="content-page-press-release">
        03 August 2007
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">



<div class="pull-quote">
        <div class="quote-body">"It is great to see the environmental initiatives being implemented by AccordMP"</div>
        <div class="quote-footer">
            <div class="quotee-name">Stuart Ogden</div>
            <div class="quotee-job-title">TfL's Head of Road Network Management South</div>
        </div>
</div>

 <div class="on-this-page">
<span class="right">
                    
                </span><p>Transport for London (TfL) has warmly welcomed the green initiatives undertaken by AccordMP, the company appointed to undertake routine and emergency maintenance on TfL's south London road network.</p>        
            
                        
            
                    <div class="pullquote right">
                        <p>
                            It is great to see the environmental initiatives being implemented by AccordMP
                            
                        </p>
                    </div>
                
            
            
            <p>
<p>AccordMP commenced the TfL Highway Maintenance Works contract for the south area in April 2007, and since then has introduced a number of environmentally friendly measures to demonstrate its commitment to London's quest to reduce carbon emissions.</p>
<p>AccordMP is joining TfL in helping to improve London's air quality and reduce the impact on climate change by introducing a fleet of environmentally friendly vehicles for use throughout its contract.</p>
<p>This fleet will include ten battery powered electric vehicles that have zero emissions and are 98 per cent recyclable.</p>
<p>They will be based at AccordMP's main depots in Croydon and Greenwich. </p>
<h2>Turn off the light</h2>
<p>Both of these depots are also continuing AccordMP's green ethos as they are powered entirely from renewable and sustainable energy sources. </p>
<p>Low energy light bulbs have been installed throughout the depots and staff are encouraged to 'turn off the light' wherever possible.</p>
<p>Stuart Ogden, TfL's Head of Road Network Management South, said: "Reducing the Capital's carbon footprint is one of the biggest challenges facing us today. </p>
<p>"It is vital that in carrying out maintenance and improvement work on south London's Red Routes that we think carefully about the way we do things. </p>
<h2>Green power</h2>
<p>"We can make a positive impact by using green power efficiently.</p>
<p>"It is great to see the environmental initiatives being implemented by AccordMP. </p>
<p>"In taking these initiatives forward throughout their contract they will not only play an important part in keeping London moving, but also contribute to improving our local environment along the way."</p>
<p>Dave Wright, deputy managing director at Accord MP and sustainability director, said: "After a great start, we will continue in making AccordMP as green as possible in south London and throughout the company's projects in the UK. </p>
<h2>Carbon neutral</h2>
<p>"'The vision is for AccordMP to become carbon neutral and we are researching, learning and investing in ways to reach our goal as soon as possible."</p>
<p>In addition to green transport and energy initiatives, AccordMP also has further plans to make itself one of the most environmentally friendly highways service providers, including recycling water from the roof of its buildings, and adopting environmental training and best practice programmes for its staff.</p>
            <p>
<p><strong>Notes to editors:</strong></p>
<ul>
<li>TfL is responsible for maintaining and managing the 580km Transport for London Road Network (TLRN), which, although comprising only 5 per cent of the Capital's roads, carries approximately 33 per cent of its traffic</li>
<li>The Highways Maintenance Works Contracts cover routine highway maintenance (agreed in advance), reactive operations and additional maintenance and improvement capital works as instructed by TfL</li>
<li>AccordMP is responsible for highway maintenance works in Richmond Upon Thames, Kingston Upon Thames, Merton, Sutton, Croydon, Bromley, Lewisham, Greenwich and Bexley</li>
<li>AccordMP is an integrated highways services company that is equally owned by two of the leading highways service providers: Accord Operations Limited&nbsp; and Mouchel Parkman Services Limited. It has been set up to deliver integrated highways management and maintenance contracts for TfL, local authorities and the Highways Agency</li></ul>
<p>&nbsp;</p>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "Transport for London (TfL) has warmly welcomed the green initiatives undertaken by AccordMP, the company appointed to undertake routine and emergency maintenance on TfL's south London road network.AccordMP commenced the TfL Highway Maintenance Works";}
        
        


 