


@{ViewBag.Title = "Transport for London makes cycling easier with 14 new cycle maps";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>Transport for London makes cycling easier with 14 new cycle maps</h1>
        <div class="content-page-press-release">
        21 August 2007
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">



<div class="pull-quote">
        <div class="quote-body">"Londoners are realising that cycling is fun as well as efficient"</div>
        <div class="quote-footer">
            <div class="quotee-name">Jenny Jones</div>
            <div class="quotee-job-title">the Mayor's Green transport adviser</div>
        </div>
</div>

 <div class="on-this-page">
<span class="right">
                    
                </span><p>Transport for London (TfL) has today launched the latest edition of its popular free bike maps covering the whole of London.<br></p>        
            
                        
            
                    <div class="pullquote right">
                        <p>
                            Londoners are realising that cycling is fun as well as efficient
                            
                        </p>
                    </div>
                
            
            
            <p>
<p>The new set of 14 maps, developed with the London Cycle Campaign, are double-sided, hard-wearing and contain a wealth of information about 4,000km of routes.&nbsp; </p>
<p>This includes the London Cycle Network Plus (a network of signed routes for cyclists across the Capital), the National Cycle Network and routes through parks and canal towpaths. </p>
<p>The easy-to-use maps help cyclists to identify quick or quiet routes wherever they want to travel in the Capital.</p>
<p>The cycle routes featured have all been ridden and recommended by experienced cyclists. </p>
<p>The cycle maps are available to order a month ahead of the <a href="http://www.londonfreewheel.com/">Hovis London Freewheel</a>, a fun, free bike ride open to all Londoners taking place on Sunday 23 September. </p>
<h2>Easier cycling</h2>
<p>Tens of thousands of riders are expected to cycle into a 14km central London route free of non-cycle traffic passing some of the Capital's most iconic sights. </p>
<p>For more information and to register for the event, visit the London Freewheel website.</p>
<p>Ken Livingstone, the Mayor of London, said: "Cycling is the fastest, cheapest, most healthy and environmentally friendly way to get around London. </p>
<p>"These new cycle maps will make cycling in London easier and help cyclists explore a whole new side to the Capital by discovering literally thousands of short cuts and little known paths." </p>
<h2>Fun as well as efficient</h2>
<p>Jenny Jones, the Mayor's Green transport adviser, said: "Londoners are realising that cycling is fun as well as efficient.&nbsp; </p>
<p>"These new maps and the Hovis London Freewheel will give everyone a chance to find that out for themselves."</p>
<p>Charlie Lloyd, London Cycling Campaign, said: "The London Cycle Guide maps have proven to be the most useful aid for anyone cycling in London. </p>
<p>"They provide all you need to make cycling the quickest, most effective way of getting around London. </p>
<p>"The wider coverage of the new edition Cycle Guides is exactly what we need. Discovering new areas and new routes is easier than ever."</p>
<p>The <a href="http://www.tfl.gov.uk/cycling">maps can be requested </a>online, or by calling TfL's customer service helpline on 020 7222 1234.&nbsp; </p>
<p>They are also available in cycle shops throughout the Capital.<br></p>
            <p>
<p><strong>Notes to editors: </strong></p>
<ul>
<li>Photographs are available upon request </li>
<li>The local cycling guides cover all 33 of London boroughs over a series of 14 maps. They show the 500km of the London Cycle Network + (routes signposted for cyclists) that have already been completed, along with other 3,500km of other quiet routes, both on and off road, that are recommended by cyclists </li>
<li>The maps also indicate the areas in London that the Sustrans national cycle networks pass through. National Route 4 runs from London (along the Thames) to St David's on the west coast of Wales. National Route 1 goes all the way from Dover to London (through Hackney Wick and Walthamstow Marshes) and then up the east coast of the country to Edinburgh and on to John O'Groats, the Orkneys and the Shetlands. See <a href="http://www.sustrans.org.uk/">http://www.sustrans.org.uk/</a> for more details </li>
<li><a href="http://www.lcc.org.uk">London Cycling Campaign </a>originally developed London cycling maps over 20 years ago, and has been working with Transport for London on the London Cycle Guides since their conception, providing support and introducing routes recommended by cyclists to the maps. London Cycling Campaign is a volunteer-led, community based charity working to make London a world-class cycling city. Since 1978, they've been improving facilities, providing information and raising the profile of cycling across London. With over 10,000 members, they are the largest urban cycling organisation in the world.&nbsp; </li>
<li>TfL's investment in cycling has risen from &pound;5.5m in 2000 to &pound;36m in 2007/08. TfL is investing this money in cycling infrastructure, training, promotion and education </li>
<li>The number of cycle journeys on the Transport for London Road Network has risen by 83 per cent since 2000 </li>
<li>It is estimated that there are now approximately 480,000 cycle journeys a day across London as a whole </li>
<li>The London Cycle Network Plus is a planned network of over 900kms of cycle routes across the Capital. More than 500km of cycle routes are already in place </li>
<li>The number of cyclists killed or seriously injured on London's roads has fallen by 28 per cent compared with the Government's baseline figures from the mid to late 1990s </li>
<li>The Hovis London Freewheel will take place on Sunday 23 September and is aimed at cyclists of every age and ability. A 14km traffic-free route in central London&nbsp;will allow thousands of riders to take over the streets and enjoy the Capital's most iconic sights including the London Eye, Victoria Embankment, Westminster and St Paul's Cathedral, and the Mall. Londoners must register for the event in advance at <a href="http://www.londonfreewheel.com/">http://www.londonfreewheel.com/</a> <br></li></ul>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "Transport for London (TfL) has today launched the latest edition of its popular free bike maps covering the whole of London.The new set of 14 maps, developed with the London Cycle Campaign, are double-sided, hard-wearing and contain a wealth of";}
        
        


 