


@{ViewBag.Title = "Tune in to Traffic Radio for great Bank Holiday getaway";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>Tune in to Traffic Radio for great Bank Holiday getaway</h1>
        <div class="content-page-press-release">
        22 August 2007
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">



<div class="pull-quote">
        <div class="quote-body">"A partnership with the Highways Agency makes sense to ensure that road users get a complete picture of traffic conditions"</div>
        <div class="quote-footer">
            <div class="quotee-name">Phil Davies</div>
            <div class="quotee-job-title">TfL's Director of Traffic Operations</div>
        </div>
</div>

 <div class="on-this-page">
<span class="right">
                    
                </span><p>People across London will be able to plan their bank holiday getaway better from today, as the Capital's version of Traffic Radio is launched.</p>        
            
                        
            
                    <div class="pullquote right">
                        <p>
                            A partnership with the Highways Agency makes sense to ensure that road users get a complete picture of traffic conditions
                            
                        </p>
                    </div>
                
            
            
            <p>
<p>Transport for London (TfL) has worked with Traffic Radio, a new Highways Agency initiative, to bring information to listeners in London and the Home Counties about traffic disruption and major road works on the Transport for London Road Network.</p>
<p>TfL will play a vital role in providing London-specific information about road conditions from the London Traffic Control Centre.</p>
<p>Available over digital radio and on the internet, Traffic Radio broadcasts continuous traffic news 24 hours a day. </p>
<p>The information will be updated every ten minutes in peak time and every twenty minutes at other times. </p>
<p>Road users can dip in and out of the streaming broadcast and pick up detailed information on road conditions to make decisions on which routes to follow and best times for travel. </p>
<h2>Better travel option</h2>
<p>TfL's London Traffic Control Centre constantly monitors London's main roads and will provide a live feed of information to the broadcaster. </p>
<p>In addition to traffic news, short 'infomercials' will be broadcast, bringing listeners messages about safety and journey advice, including how to access TfL's Journey Planner in the event that public transport may be a better travel option.</p>
<p>Road users can access Traffic Radio at&nbsp; <a href="http://www.trafficradio.org.uk/">http://www.trafficradio.org.uk/</a> or by tuning in to the 'Traffic Radio' station on a DAB (Digital Audio Broadcasting) radio.</p>
<p>The service will complement TfL's online Traffic News service, currently available at <a href="http://www.tfl.gov.uk/trafficnews">www.tfl.gov.uk/trafficnews</a> </p>
<h2>Planning journeys</h2>
<p>Phil Davies, TfL's Director of Traffic Operations, said: "Traffic Radio is a great way to get news from the London Traffic Control Centre out to road users quickly. </p>
<p>"When motorists are planning to leave the house, office or depot, they can tune in to hear the latest traffic disruptions to plan their journey accordingly.</p>
<p>"A partnership with the Highways Agency makes sense to ensure that road users get a complete picture of traffic conditions, wherever they are travelling."<br></p>
            <p>
<p><strong>Notes to editors:</strong></p>
<ul>
<li>The Highways Agency launched the national Traffic Radio in July 2007, communicating information about England's motorways and trunk roads</li>
<li>Any London-based events or incidents that have a wider significant to road users will also be included in Traffic Radio's national news broadcasts</li>
<li>London's roads are managed by 35 highway authorities: 33 boroughs, the Highways Agency and TfL</li>
<li>TfL is responsible for maintaining and managing the 580km Transport for London Road Network, which although comprising only five per cent of the Capital's roads, carries approximately 33 per cent of its traffic</li>
<li>The London Traffic Control Centre&nbsp;is the central operations hub of London's traffic management, constantly monitoring traffic and coordinating responses to congestion, 24 hours a day, 365 days a year. It manages traffic during major London events and incidents by proactively and reactively managing traffic signal timings, closely liaising with the Metropolitan Police</li>
<li>TfL's online Traffic News is a real-time interactive map based on live traffic information. Travellers can make informed journey plans using real time information and future events and road works<br></li></ul>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "People across London will be able to plan their bank holiday getaway better from today, as the Capital's version of Traffic Radio is launched.Transport for London (TfL) has worked with Traffic Radio, a new Highways Agency initiative, to bring information";}
        
        


 