


@{ViewBag.Title = "Victoria Coach Station opens new Mobility Assistance Lounge";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>Victoria Coach Station opens new Mobility Assistance Lounge</h1>
        <div class="content-page-press-release">
        08 August 2007
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">



<div class="pull-quote">
        <div class="quote-body">"Timely assistance from qualified staff really can make the difference between a pleasant journey and a nightmare"</div>
        <div class="quote-footer">
            <div class="quotee-name">Bryan Heiser</div>
            <div class="quotee-job-title">Special Advisor to the TfL Board</div>
        </div>
</div>

 <div class="on-this-page">
<span class="right">
                    
                </span><p>Victoria Coach Station has opened a new 'Mobility Assistance Lounge' for elderly and disabled passengers who need help getting around the station.&nbsp; <br></p>        
            
                        
            
                    <div class="pullquote right">
                        <p>
                            Timely assistance from qualified staff really can make the difference between a pleasant journey and a nightmare
                            
                        </p>
                    </div>
                
            
            
            <p>
<p>The Assistance Lounge or "Help Point" is located opposite Gate 21 in the east departures terminal, making it much more accessible than the previous specialist waiting area which was located outside the main terminal building.&nbsp;</p>
<p>The new lounge is almost twice as large as the old facility, catering for up to 25 people with luggage at any one time, and also offers toilet facilities.&nbsp; </p>
<p>Victoria Coach Station General Manager, Malcolm Wildridge, said: "Around 5,500 coach passengers requested some form of mobility assistance while using Victoria Coach Station last year, and we expect that number to increase this year.</p>
<p>"This new facility will ensure we continue to provide the best possible service to those of our customers who need it most.&nbsp; </p>
<p>"This is just part of our ongoing work to improve access and comfort for disabled passengers here at Victoria Coach Station." </p>
<h2>Confidence to travel</h2>
<p>Bryan Heiser, Special Advisor to the TfL Board, said: "This is a welcome development and is further proof of TfL's commitment to making public transport more accessible to all.&nbsp; </p>
<p>"Timely assistance from qualified staff really can make the difference between a pleasant journey and a nightmare; and the knowledge that help is at hand can allay passengers' fears and give them the confidence to travel independently."</p>
<p>Bill Cahill, Service Delivery Director at National Express, said: "During the past year National Express has increased the number of easy access coaches to the network.&nbsp; </p>
<p>"Excellent facilities like these help to continually improve the service for our customers, and we hope it encourages more people to travel the UK by coach."</p>
<p>Anyone who wishes to pre-book mobility assistance at the Help Point may do so by calling 020 7824 0000 or completing an <a href="http://www.tfl.gov.uk/tfl/gettingaround/vcs-mobilityassistance">online request form </a>through the TfL website.</p>
<p>
<hr>
</p>
            <p>
<p><strong>Notes to editors:</strong></p>
<ul>
<li>Images are available upon request from the TfL Press Office</li>
<li>Victoria Coach Station celebrated its 75th anniversary in March 2007</li>
<li>Victoria Coach Station was built in 1932 and refurbished in 1993 with additional minor refurbishments since then </li>
<li>The station has 21 departure gates, 36 coach bays and six arrival bays. It covers 3.3 acres </li>
<li>The Help Point is free of charge, but self-employed porters, who will expect payment for their services, are available for carrying luggage</li>
<li>Customers can arrange to be set down or picked up by taxi, minicab, or private car near the Help Point </li>
<li>The Mobility Assistance Lounge is available between 7am and 10pm every day</li>
<li>Other services found inside the coach station are: <br>o&nbsp;Bureaux de Change <br>o&nbsp;Travel information points <br>o&nbsp;Hotel and taxi booking offices <br>o&nbsp;Retail outlets for newspapers and magazines, together with several varieties of catering</li></ul>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "Victoria Coach Station has opened a new 'Mobility Assistance Lounge' for elderly and disabled passengers who need help getting around the station.&nbsp; The Assistance Lounge or 'Help Point' is located opposite Gate 21 in the east departures terminal,";}
        
        


 