


@{ViewBag.Title = "Bus services affected by Unite strike action 0730hrs";}
        
        
<div class="r">
    <div class="breadcrumb-container" role="navigation">
        <span id="breadcrumb-label" class="visually-hidden">You are here:</span>
        <ol class="breadcrumbs clearfix" aria-labelledby="breadcrumb-label">
            <li class="home">
                <a href="/">
                    <span class="hide-text">Home</span>
                </a>
            </li>
            
                <li>
                    <a href="/info-for/media/index">Media</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases">Press releases</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases/2015">2015</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases/2015/february">February</a>
                </li>
                
                <li>
                    <span class="last-breadcrumb">Bus services affected by Unite strike action 0730hrs</span>
                </li>
            
 
            
 
            
 
            
 
            
 
        </ul>
    </div>
</div>
     
 
<div class="r">
    <div class="headline-container plain">
        <h1>Bus services affected by Unite strike action 0730hrs</h1>
        <div class="content-page-press-release">
        05 February 2015
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        Disruption to bus services across London, but 47 per cent of buses currently running
        
    </div>



<div class="pull-quote">
        <div class="quote-body">"I am very sorry that the leadership of Unite is intent on disrupting the journeys of London's 6.5 million daily bus passengers, especially given that only 16 per cent of bus drivers voted for strike action."</div>
        <div class="quote-footer">
            <div class="quotee-name">Mike Weston</div>
            <div class="quotee-job-title">Director of Buses, TfL</div>
        </div>
</div>

 <div class="on-this-page">
<ul>
    <li>Passengers should check before travelling at www.tfl.gov.uk/campaign/bus-strike</li>
    <li>Customers with a Bus &amp; Tram Pass season ticket will be able to use it on the Underground, DLR, London Overground and London Tramlink*</li>
    <li>Affected passengers urged to use other transport services, walk or cycle where possible</li>
</ul>
<p>Transport for London (TfL) is warning bus passengers that their journey will be disrupted today (Thursday 5 February) due to strike action called by the leadership of the Unite the Union (Unite).</p>
<p>Almost half (47 per cent) of the buses which normally operate at this time are currently running.  This is more than at this time during the last strike in January when 30 per cent were running.  Bus customers are being encouraged to check before they travel at <a href="http://www.tfl.gov.uk/campaign/bus-strike">www.tfl.gov.uk/campaign/bus-strike</a>.</p>
<p>Customers will be kept informed throughout the day through regular website updates and the usual electronic signs at around 2,500 bus stops.  It is very difficult to predict in advance the level of service that will operate today on London's 700 specific bus routes, so customers are advised to check the TfL website regularly for updates.</p>
<p>Mike Weston, TfL's Director of Buses, said: </p>
<p>'I am very sorry that the leadership of Unite is intent on disrupting the journeys of London's 6.5 million daily bus passengers, especially given that only 16 per cent of bus drivers voted for strike action.</p>
<p>'Bus driver rates of pay have been negotiated and agreed between Unite and the bus companies individually under a long-standing and jointly agreed process.  This has regularly resulted in pay rises above the rate of inflation.</p>
<p>'As in all professions, bus drivers have different levels of experience and it is only right that this can be reflected in pay.  A 'levelling up' of pay to the highest rates would result in higher fares and cuts to bus services for passengers and fewer jobs for bus drivers.</p>
<p>'Today's strike is likely to mean significant disruption to bus services and I urge customers to please check our website for the latest news.  We are getting up-to-date information to customers as quickly as possible to ensure that they can continue to get around the city.'</p>
<p>The strike is affecting services from around 4am this morning and will affect night bus services operating tonight into Friday morning.  Bus services during the day on Friday 6 February should operate as normal.</p>
<p>The strike is over a dispute between Unite and a number of private bus companies over bus driver pay and conditions.  Less than 16 per cent of the bus drivers in London voted in favour of industrial action.</p>
<p>Customers will be kept informed of the status of their bus services in a range of ways, including:</p>
<ul>
    <li>Up-to-date information on bus services by route, which can be found at <a href="http://www.tfl.gov.uk/campaign/bus-strike">www.tfl.gov.uk/campaign/bus-strike</a></li>
    <li>Check for bus arrival times using the Countdown next bus arrival service online, on their mobile devices or via our SMS text service;</li>
    <li>A range of easily available Apps for handheld devices use TfL's live bus information;</li>
    <li>Travel alerts through Twitter on &#64;TfL and &#64;TfLBusAlerts &#45; look out for #BusStrike;</li>
    <li>TfL are providing information to radio and television broadcasts for use in news bulletins;</li>
    <li>TfL has a number of additional staff across the network and at key locations to provide advice to passengers.</li>
</ul>
<p>All other TfL services are operating as normal this morning and Bus and Tram Pass season tickets will be accepted on other TfL services via reasonable routes.  The average bus journey is around 2.2 miles so some journeys could be completed by walking or cycling.  Our staff will be on hand to help customers with onward journeys at larger stations.  </p>
<p>As always, if customers have the flexibility to do so, they are advised to consider timing their journey outside of the busiest times.</p>
<p>To help people get around TfL are:</p>
<ul>
    <li>Operating a good service across the Tube, Docklands Light Railway, London Tramlink and London Overground networks;</li>
    <li>Barclays Cycle Hire, with 10,000 bikes at over 700 docking stations, will continue to be available although demand is likely to be high &#45; additional staff will be in place to re-distribute cycles to where they are needed most, along with additional bikes and docking point availability at Walworth Road, Wellington Street and Butler Place docking stations;</li>
    <li>Londoners who own a bike are encouraged to cycle to work, and a Cycle Journey Planner is provided at www.tfl.gov.uk/cycling;</li>
    <li>Taxi Marshals will be deployed at key taxi ranks to assist passengers and encourage taxi sharing;</li>
    <li>MBNA Thames Clippers will operate additional services on RB1 River Bus services, that operate between Woolwich and Embankment pier, during the morning (06:00-10:00) and evening peak (16:00-19:00);</li>
    <li>TfL has also emailed registered bus users, who regularly travel on affected routes, advising them of the likely disruption and urging them to check before they travel.</li>
</ul>
<p>&nbsp;</p>
<hr />
<p >Notes to Editors: </p>
<p>&nbsp;</p>
<p>* The following ticket acceptance arrangements will apply:</p>
<ul>
    <li>Bus &amp; Tram Pass season ticket, 11-15 Zip Oyster photocard or 16+ Zip Oyster photocard with free bus &amp; tram travel <strong>will </strong>be accepted on Tube, DLR and London Overground services on reasonable routes only. Passengers should show their Oyster card to a member of staff and ask to be let through the gates. Customers should not touch in or out as they will be charged a pay as you go, which will not be refunded;</li>
    <li>Bus &amp; Tram Pass season tickets <strong>will </strong>also be accepted on MBNA Thames Clippers RB1 River Bus service between 06:00-10:00 and 16:00-19:00;</li>
    <li>Bus &amp; Tram Pass season tickets <strong>will not </strong>be accepted on National Rail services or the Emirates Air Line;</li>
    <li>One Day Bus &amp; Tram Passes <strong>will not</strong> be accepted on any alternative services and refunds will not be given;</li>
    <li>Pay as you go users will be charged the appropriate fare for the journey for the service(s) and zones used and these fares will not be refunded. <a href="http://www.tfl.gov.uk/fares">Find out pay as you go fares</a>.</li>
</ul>
<p>A number of bus routes are not affected by today's strike action and should run a normal service:</p>
<ul>
    <li>66 - Romford Station to Leytonstone bus station</li>
    <li>142 - Watford Junction to Brent Cross Shopping Centre</li>
    <li>160 - Catford to Sidcup Station</li>
    <li>258 - Watford Junction to South Harrow Station</li>
    <li>268 - Golders Green Station to Finchley Road</li>
    <li>288 - Queensbury to Broadfields Estate</li>
    <li>298 - Arnos Grove to Potters Bar</li>
    <li>303 - Edgware Station to Colindale</li>
    <li>305 - Edgware Station to Kingsbury Circle</li>
    <li>340 - Edgware Station to Harrow Bus Station</li>
    <li>346 - Upminster Station to Upminster Park Estate</li>
    <li>370 - Romford to Lakeside Shopping Centre</li>
    <li>375 - Romford Station to Passingford Bridge</li>
    <li>404 - Coulsdon to Caterham-on-the-Hill</li>
    <li>406 - Kingston to Epsom</li>
    <li>411 - Kingston to West Molsey</li>
    <li>418 - Kingston to Epsom</li>
    <li>428 - Erith to Bluewater Shopping Centre</li>
    <li>463 - Coulsdon South Station to Pollards Hill</li>
    <li>465 - Kingston to Dorking</li>
    <li>467 - Hook to Epsom</li>
    <li>470 - Colliers Wood Station to Epsom</li>
    <li>492 - Sidcup Station to Bluewater Shopping Centre</li>
    <li>499 - Gallows Corner to Heath Park Estate</li>
    <li>626 - Finchley Central Station to Potters Bar</li>
    <li>628 - Kingsbury to Southgate Station</li>
    <li>631 - Golders Green Station to Henrietta Barnett School</li>
    <li>641 - West Molesey to Teddington School</li>
    <li>642 - West Hendon Broadway/Edgware Station to London Academy</li>
    <li>653 - Muswell Hill Broadway to Kingsbury</li>
    <li>683 - Friern Barnet to Kingsbury</li>
    <li>688 - Southgate Station to Kingsbury</li>
    <li>B12 - Erith to Joydens Wood</li>
    <li>B13 - Bexleyheath Shopping Centre to New Eltham Station</li>
    <li>B15 - Bexleyheath Shopping Centre to Horn Park</li>
    <li>E10 - Northolt to Ealing Broadway Statio</li>
    <li>H2 - Golders Green Station circular (via Hampstead Garden Suburb)</li>
    <li>H3 - Golders Green Station to East Finchley, Hilltop</li>
    <li>H18 - Harrow Bus Station circular (via Pinner &amp; Wealdstone)</li>
    <li>H19 - Harrow Bus Station circular (via Wealdstone &amp; Pinner)</li>
    <li>K5 - Ham to Morden Station</li>
    <li>S1 - Banstead to Lavender Fields</li>
    <li>S3 - Sutton Hospital to Malden Manor Station</li>
    <li>X26 - West Croydon to Heathrow Airport</li>
</ul>
<p>&nbsp;</p>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
                <a href="/info-for/media/index" class="heading">
                    <h2 id="sub-menu-heading">Media<span class="visually-hidden"> navigation</span></h2>
                </a>
                <ul>
                    
                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases">Press releases</a></div>
                                <ul>
                                    
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2020">2020</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019">2019</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018">2018</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017">2017</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016">2016</a></div></li>
                            
 
                                        <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015">2015</a></div>
                                        <ul>
                                            
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015/december">December</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015/november">November</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015/october">October</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015/september">September</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015/august">August</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015/july">July</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015/june">June</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015/may">May</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015/april">April</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015/march">March</a></div></li>
                                    
 
                                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015/february">February</a></div>
                                                <ul>
                                                    
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
                                                </ul>
                                            
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015/january">January</a></div></li>
                                    
 
                                        </ul>
                                    </li>
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014">2014</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2013">2013</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2012">2012</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2011">2011</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2010">2010</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2009">2009</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2008">2008</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2007">2007</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2006">2006</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2005">2005</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2004">2004</a></div></li>
                            
 
                                </ul>
                            </li>
 
                                <li><div class="link-wrapper"><a href="/info-for/media/photos">Photos</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/media/contact-the-press-office">Contact the Press Office</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/filming-and-photography">Filming & photography</a></div></li>
                            
 
                </ul>
            
 
 
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype: -Home-Media-Media-Press releases-2015-February-Bus services affected by Unite strike action 0730hrs -->

 
 
        
        
            @{ViewBag.Description = "Bus services affected by Unite strike action 0730hrs";}
        
        


 