


@{ViewBag.Title = "Cycling in London now highest since records began";}
        
        
<div class="r">
    <div class="breadcrumb-container" role="navigation">
        <span id="breadcrumb-label" class="visually-hidden">You are here:</span>
        <ol class="breadcrumbs clearfix" aria-labelledby="breadcrumb-label">
            <li class="home">
                <a href="/">
                    <span class="hide-text">Home</span>
                </a>
            </li>
            
                <li>
                    <a href="/info-for/media/index">Media</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases">Press releases</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases/2015">2015</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases/2015/february">February</a>
                </li>
                
                <li>
                    <span class="last-breadcrumb">Cycling in London now highest since records began</span>
                </li>
            
 
            
 
            
 
            
 
            
 
        </ul>
    </div>
</div>
     
 
<div class="r">
    <div class="headline-container plain">
        <h1>Cycling in London now highest since records began</h1>
        <div class="content-page-press-release">
        02 February 2015
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        Cycle use grew by 10 per cent last year and is forecast to grow by 12 per cent over financial year
        
    </div>



 <div class="on-this-page">
<p>London's cycling revolution accelerated last year, with 2014 seeing new records for usage of the capital's Cycle Hire scheme and overall cycling on the Transport for London (TfL) road network.</p>
<p>Across the TfL road network, London's main roads, cycling levels in Quarter 3 of 2014/15 (14 September to 6 December) were 10% higher than in the same quarter the previous year, and the highest since records began in 2000. It was the fifth record quarter in a row. By the end of 2014/15, TfL forecasts a 12% rise from the previous financial year.</p>
<p>Last year was also a record for hires on London's Cycle Hire scheme, with 10,023,987 journeys made &#45; up 5% on 2012 (the previous highest year) and 25% on 2013. At Hyde Park Corner, one of the most popular docking stations, the total number of hires in 2014 was 37% higher (102,267) than in 2012 (74,515), despite Hyde Park being a major sporting venue during the London 2012 Games. Furthermore, total hires from Waterloo station were up 12% (158,494) compared to 2013 (141,518), suggesting more people are now using the scheme as a viable commuting option.</p>
<p>Customer satisfaction with Cycle Hire has also continued to go up, with over 80% of members intending to renew their membership &#45; the highest proportion since the scheme began  in 2010 &#45; and highest ever levels of satisfaction (81%) and advocacy (84%).</p>
<p>The Mayor of London, Boris Johnson, said: `Last week I announced my final intentions for the new East-West and North-South superhighways. These amazing numbers show how cyclists are becoming ubiquitous in London and prove, if further proof were needed, why we need to crack on with catering for them. Barclays Cycle Hire continues to grow in popularity and there can be no doubt that our trusty bicycles have changed the way people get around our great city.'</p>
<p>In addition to these figures, last year TfL began monitoring the number of cycle journeys made within the central London Congestion Charge (CC) zone. Analysis from the first year of this monitoring indicates that over 170,000 journeys are now being made each day in the CC zone, equivalent to the number of people that cycle each day to work or educational institutions in the City of Copenhagen. Bikes now make up around 16% of traffic in Central London, rising to around a quarter or even half of all journeys on some routes during peak hours.</p>
<p>On 25 December, Christmas Day, almost 40,000 cycle hire journeys were made, beating the previous year's Christmas Day record by 41% and marking the second highest day ever for non-member hires.</p>
<p>Ben Plowden, Director of Strategy and Planning for Surface Transport at TfL, said: 'Our aim is to make cycling an integral part of London's transport network and to be normalised so that anyone can jump on a bike to get to work, to the shops or to discover London. Seeing these continuously record breaking numbers of cyclists in London is a great demonstration that our work to make cycling easier and safer, including unprecedented levels of investment, is achieving this aim.'</p>
<p>Record investment is helping to make cycling an integral part of London's transport network. The Mayor of London's Vision for Cycling details the &pound;913million programme to improve infrastructure and safety for cyclists and build on the boom in cycling from the last decade, which has seen cycling numbers double. Work is set to progress on the centre-piece of the vision &#45; the East-West and North-South Cycle Superhighways &#45; which will become Europe's longest substantially-segregated cycle routes.</p>
<p>The significant increase in ridership of London's Cycle Hire scheme has in part been made possible because of the addition of more docking stations across the 100km2 area of the scheme, including at Clapham, Wandsworth, Hammersmith and Fulham, and Kensington and Chelsea. There are now more than 10,000 bikes available from over 700 docking stations, up from 6,600 bikes and 400 docking stations when the scheme launched in July 2010.</p>
<p>Even more docking stations are already planned for near Putney Pier, Vauxhall and Tower Bridge, bringing around 100 additional docking points to the scheme in the next few months, with more currently being considered across central London. Working with London boroughs, TfL is identifying further sites for docking stations to help intensify the scheme within its current footprint, providing greater opportunity to hire and dock bikes. Close to 1,000 new docking point locations have now been identified that could be delivered across London, subject to planning permission, by early 2016.</p>
<hr />
<ul>
    <li> The Cycle Hire Customer Satisfaction and Usage Survey for Quarter 3 can be found here: http://www.tfl.gov.uk/corporate/publications-and-reports/cycling-and-walking</li>
    <li>Levels of advocacy in the Customers Satisfaction and Usage Survey are determined by the answer to 'How likely would you be to recommend Cycle Hire to friends or family'.</li>
    <li>Details of the Mayor's Vision for Cycling can be found here: <a href="http://www.tfl.gov.uk/cyclingvision">www.tfl.gov.uk/cyclingvision.</a></li>
</ul>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
                <a href="/info-for/media/index" class="heading">
                    <h2 id="sub-menu-heading">Media<span class="visually-hidden"> navigation</span></h2>
                </a>
                <ul>
                    
                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases">Press releases</a></div>
                                <ul>
                                    
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2020">2020</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019">2019</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018">2018</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017">2017</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016">2016</a></div></li>
                            
 
                                        <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015">2015</a></div>
                                        <ul>
                                            
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015/december">December</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015/november">November</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015/october">October</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015/september">September</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015/august">August</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015/july">July</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015/june">June</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015/may">May</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015/april">April</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015/march">March</a></div></li>
                                    
 
                                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015/february">February</a></div>
                                                <ul>
                                                    
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
                                                </ul>
                                            
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015/january">January</a></div></li>
                                    
 
                                        </ul>
                                    </li>
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014">2014</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2013">2013</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2012">2012</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2011">2011</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2010">2010</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2009">2009</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2008">2008</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2007">2007</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2006">2006</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2005">2005</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2004">2004</a></div></li>
                            
 
                                </ul>
                            </li>
 
                                <li><div class="link-wrapper"><a href="/info-for/media/photos">Photos</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/media/contact-the-press-office">Contact the Press Office</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/filming-and-photography">Filming & photography</a></div></li>
                            
 
                </ul>
            
 
 
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype: -Home-Media-Media-Press releases-2015-February-Cycling in London now highest since records began -->

 
 
        
        
            @{ViewBag.Description = "Cycle use grew by 10 per cent last year and is forecast to grow by 12 per cent over financial year";}
        
        


 