


@{ViewBag.Title = "Dating event with a difference";}
        
        
<div class="r">
    <div class="breadcrumb-container" role="navigation">
        <span id="breadcrumb-label" class="visually-hidden">You are here:</span>
        <ol class="breadcrumbs clearfix" aria-labelledby="breadcrumb-label">
            <li class="home">
                <a href="/">
                    <span class="hide-text">Home</span>
                </a>
            </li>
            
                <li>
                    <a href="/info-for/media/index">Media</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases">Press releases</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases/2015">2015</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases/2015/february">February</a>
                </li>
                
                <li>
                    <span class="last-breadcrumb">Dating event with a difference</span>
                </li>
            
 
            
 
            
 
            
 
            
 
        </ul>
    </div>
</div>
     
 
<div class="r">
    <div class="headline-container plain">
        <h1>Dating event with a difference</h1>
        <div class="content-page-press-release">
        02 February 2015
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        Unique event invites singles and their trusted friends to see the sights of London by water and air on MBNA Thames Clippers and the Emirates Air Line
        
    </div>



 <div class="on-this-page">
<p>Transport for London (TfL) and MySingleFriend.com are hosting a free dating event on board MBNA Thames Clippers and the Emirates Air Line on Thursday 12 February. Singles and their loyal wingmen and wingwomen are invited to take to the river and skies to find a date for their single friends in two romantic settings.<br />
Registration for the event is free at mysinglefriend.com/wingman. On the night, singletons and their friends will enjoy a moonlit boat ride on a MBNA Thames Clippers before embarking on speed-dating with a twist on the Emirates Air Line &#45; London's only cable car.</p>
<p>The evening kicks off at 6.45pm at the London Eye Pier. Daters will travel along the river to North Greenwich on board MBNA Thames Clippers, with host and comedian Matt Reed on hand to entertain the crowd and get them ready for a memorable night.</p>
<p>After disembarking at North Greenwich, singles and their wingmen and wingwomen will take to the skies on the Emirates Air Line, spending the twenty minute trip mingling with other pairs and taking in the views of the London skyline at night. Guests can then continue their evening getting to know each other in The O2 at All Bar One, where they will get discounted beverages and promotions.</p>
<p>Danny Price, TfL's Head of the Emirates Air Line said: `Romance isn't the first thing that comes to mind when most people think of transport, yet a boat trip along the Thames and a cable car flight above it are two very romantic ways to experience inspiring views of London after dark. In fact, both have seen a couple of marriage proposals before. We hope the evening provides a dating event with a difference and the sparkling lights of London set the mood for romance.'</p>
<p>Sarah Beeny, MySingleFriend.com's founder, said: `We wanted to offer a completely unique dating event which people would never forget. What could set the scene for romance more than a boat ride before taking to the skies and admiring the view below? Experiencing something completely different makes people more open to new possibilities, so it's the perfect environment for meeting people. Plus with a wingman in tow, it makes it even more fun. Our wingmen might not have Cupid's wings, but London's only cable car comes a pretty close second.'</p>
<p>To register for this free event, and for full details visit <a href="http://www.MySingleFriend.com/wingman">www.MySingleFriend.com/wingman</a></p>
<p><a href="http://www.MySingleFriend.com/wingman"></a></p>
<p>Notes to Editors</p>
<ul>
    <li>A recent survey of MySingleFriend.com members highlighted 86 per cent of singles believe it is important their friends like the person they are dating, and 72 per cent said they would enjoy a dating event more if they attended with a friend.</li>
    <li>The Emirates Air Line will be opening later over the Valentine's Day period with complementary chocolates on offer to celebrate the romantic occasion - Thursday 12th until 9pm, Friday 13th and Saturday 14th until 10pm, and Sunday 15th until 9pm.</li>
    <li>TfL has not contributed to the cost of the event. It has been covered by MBNA Thames Clippers and My Single Friend.</li>
</ul>
<p>About MBNA Thames Clippers</p>
<ul>
    <li>MBNA Thames Clippers is the leading River Bus service on the River Thames running a 20 minute frequency between key London piers including North Greenwich for The O2, Greenwich, Canary Wharf, Tower, London Bridge, Embankment and London Eye for Waterloo, as well as several residential piers. In April 2013 the company won a five-year contract to run a River Bus service from Putney to Blackfriars which allows the boats to now additionally stop at Putney, Wandsworth Riverside, Chelsea Harbour and Cadogan Pier, a total of 19 piers across the capital.</li>
    <li>Co-founded in 1999 by Sean Collins (Managing Director) and Alan Woods (former Chairman), the company began with one boat servicing 80 passengers a day between Greenland and Savoy piers. Fifteen years on numbers have significantly risen to over 3.8 million in 2014.</li>
    <li>In 2006 AEG, owners and operators of The O2, acquired the majority stake in the company and since then the fleet has substantially grown to 13 vessels. River Bus Express for The O2 is an additional fast direct service between London Eye, London Bridge and Canary Wharf to The O2 at North Greenwich on arena event nights.</li>
</ul>
<p>About Mysinglefriend.com</p>
<ul>
    <li>Mysinglefriend.com is the brainchild of TV presenter Sarah Beeny. Sarah is notorious for setting her friends up, and it occurred to her that if we could all describe our single friends on a website, then they could all check each other out, cutting out the middleman, and extinguishing the stigma attached to online dating.</li>
</ul>
<ul>
    <li>For more information about the event please contact:</li>
    <li>Manifest<br />
    Helen Kenny &amp; Harriet Evans<br />
    t. 0203 1379270<br />
    m. 0738715079<br />
    e. MSF&#64;manifestlondon.co.uk</li>
</ul>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
                <a href="/info-for/media/index" class="heading">
                    <h2 id="sub-menu-heading">Media<span class="visually-hidden"> navigation</span></h2>
                </a>
                <ul>
                    
                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases">Press releases</a></div>
                                <ul>
                                    
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2020">2020</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019">2019</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018">2018</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017">2017</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016">2016</a></div></li>
                            
 
                                        <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015">2015</a></div>
                                        <ul>
                                            
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015/december">December</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015/november">November</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015/october">October</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015/september">September</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015/august">August</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015/july">July</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015/june">June</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015/may">May</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015/april">April</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015/march">March</a></div></li>
                                    
 
                                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015/february">February</a></div>
                                                <ul>
                                                    
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
                                                </ul>
                                            
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015/january">January</a></div></li>
                                    
 
                                        </ul>
                                    </li>
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014">2014</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2013">2013</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2012">2012</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2011">2011</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2010">2010</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2009">2009</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2008">2008</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2007">2007</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2006">2006</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2005">2005</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2004">2004</a></div></li>
                            
 
                                </ul>
                            </li>
 
                                <li><div class="link-wrapper"><a href="/info-for/media/photos">Photos</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/media/contact-the-press-office">Contact the Press Office</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/filming-and-photography">Filming & photography</a></div></li>
                            
 
                </ul>
            
 
 
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype: -Home-Media-Media-Press releases-2015-February-Dating event with a difference -->

 
 
        
        
            @{ViewBag.Description = "Unique event invites singles and their trusted friends to see the sights of London by water and air on MBNA Thames Clippers and the Emirates Air Line";}
        
        


 