


@{ViewBag.Title = "Drivers reminded to avoid Fore Street Tunnel 13-16 Feb";}
        
        
<div class="r">
    <div class="breadcrumb-container" role="navigation">
        <span id="breadcrumb-label" class="visually-hidden">You are here:</span>
        <ol class="breadcrumbs clearfix" aria-labelledby="breadcrumb-label">
            <li class="home">
                <a href="/">
                    <span class="hide-text">Home</span>
                </a>
            </li>
            
                <li>
                    <a href="/info-for/media/index">Media</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases">Press releases</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases/2015">2015</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases/2015/february">February</a>
                </li>
                
                <li>
                    <span class="last-breadcrumb">Drivers reminded to avoid Fore Street Tunnel 13-16 Feb</span>
                </li>
            
 
            
 
            
 
            
 
            
 
        </ul>
    </div>
</div>
     
 
<div class="r">
    <div class="headline-container plain">
        <h1>Drivers reminded to avoid Fore Street Tunnel 13-16 Feb</h1>
        <div class="content-page-press-release">
        03 February 2015
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        Tunnel will be closed in both directions from 22:00 Friday 13 February  until 05:30 Monday 16 February to allow improvement work to be carried out around the clock
        
    </div>



 <div class="on-this-page">
<p>Transport for London (TfL) will be continuing major maintenance work to the Fore Street Tunnel during the weekend of the 13-16 February as part of its &pound;4 billion Road Modernisation Plan.</p>
<p>The work to the tunnel, which forms part of the A406 North Circular Road, follows weekend closures in November 2014 and January 2015. Throughout the weekend closure, which will run from 22:00 on Friday 13 February until 05:30 on Monday 16 February, engineers will work 24 hours a day to complete the installation of new concrete plinths within the tunnel. This work, which cannot be undertaken while traffic is using the tunnel due to the length of time the concrete takes to set, will help extend the tunnel's life and improve safety, ensuring this vital part of the road network can continue serving London for years to come.</p>
<p>Drivers are advised to use the M25 instead of the A406 to complete their journeys. Local traffic will still be able to use the roads directly above the tunnel, but drivers and bus passengers making local trips are advised to allow extra time for their journeys as severe delays are expected throughout the weekend.  TfL's network of roadside message signs will alert drivers to the closure both in advance and during the work to help them avoid delays. Drivers are advised to check for disruption by visiting <a href="http:// www.tfl.gov.uk/trafficnews">www.tfl.gov.uk/trafficnews</a> or following <a href="http://&#64;tfltrafficnews">&#64;tfltrafficnews</a>, and bus users can find out how their journey might be affected by going to www.tfl.gov.uk/bus/status.</p>
<p>Dana Skelley, Director of Asset Management for Surface Transport at TfL, said: `During previous weekends, we managed to complete huge amounts of work that could only be carried out while the tunnel was fully closed to traffic. This forthcoming closure will allow us to complete the installation of new concrete plinths within the tunnel, which is a major part of this scheme. We are committed to keeping delays caused by this closure to a minimum, and apologise in advance for any disruption caused.'</p>
<p>Since April last year, TfL has been carrying out overnight works to Fore Street Tunnel to bring the tunnel, which forms part of the A406 North Circular Road and runs underneath Silver Street station, into a good state of repair. Work has progressed well, with upgrades to the electrics and a new fire main installed, as well as new waterproofing to the walls. Temporary cabling for new, energy efficient lighting and improved CCTV cameras has also been installed, allowing for the systems to be fully upgraded during 2015. Later this year, TfL will carry out further weekend closures to carry out more refurbishment and complete resurfacing throughout the tunnel, and weekday overnight closures will continue to take place between 22:00 and 05:00 throughout the year. The full improvement work to the tunnel remains on track to be completed by October 2015.</p>
<p>The work to refurbish the Fore Street Tunnel forms part of TfL's Road Modernisation Plan. With a budget of over &pound;4 billion from now until 2021/22, this overarching plan represents the biggest investment in London's roads in a generation, including hundreds of transformational projects within the existing road network. Using radical ideas and innovative designs, the plan will make London's roads greener, safer and more attractive for the benefit of all Londoners.</p>
<p>For more information about the planned work, please visit:  <a href="http://www.tfl.gov.uk/forestreettunnel">www.tfl.gov.uk/forestreettunnel</a></p>
<p>Notes to editors:</p>
<ul>
    <li>Since the Fore Street Tunnel opened in 1998, ground water has continually leaked into it from the surrounding ground. TfL took over ownership of the tunnel in 2000 and regular maintenance has been carried out since then to minimise the damage caused by the groundwater.</li>
    <li>The work will also see the existing lighting upgraded to LEDs, lowering energy consumption and the need for future maintenance, as well as helping to make the tunnel safer.</li>
    <li>TfL has worked with key partners, including the local boroughs, to minimise disruption as far as possible during the Fore Street Tunnel improvement works. The diversion route will be clearly signed and the works and local traffic will be closely monitored over the weekends.</li>
    <li>TfL manages and maintains twelve tunnels, as well as more than 1,800 structures on the TfL Road Network, including bridges, flyovers, footbridges, retaining walls, subways and culverts.</li>
</ul>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
                <a href="/info-for/media/index" class="heading">
                    <h2 id="sub-menu-heading">Media<span class="visually-hidden"> navigation</span></h2>
                </a>
                <ul>
                    
                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases">Press releases</a></div>
                                <ul>
                                    
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2020">2020</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019">2019</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018">2018</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017">2017</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016">2016</a></div></li>
                            
 
                                        <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015">2015</a></div>
                                        <ul>
                                            
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015/december">December</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015/november">November</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015/october">October</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015/september">September</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015/august">August</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015/july">July</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015/june">June</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015/may">May</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015/april">April</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015/march">March</a></div></li>
                                    
 
                                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015/february">February</a></div>
                                                <ul>
                                                    
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
                                                </ul>
                                            
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015/january">January</a></div></li>
                                    
 
                                        </ul>
                                    </li>
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014">2014</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2013">2013</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2012">2012</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2011">2011</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2010">2010</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2009">2009</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2008">2008</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2007">2007</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2006">2006</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2005">2005</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2004">2004</a></div></li>
                            
 
                                </ul>
                            </li>
 
                                <li><div class="link-wrapper"><a href="/info-for/media/photos">Photos</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/media/contact-the-press-office">Contact the Press Office</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/filming-and-photography">Filming & photography</a></div></li>
                            
 
                </ul>
            
 
 
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype: -Home-Media-Media-Press releases-2015-February-Drivers reminded to avoid Fore Street Tunnel 13-16 Feb -->

 
 
        
        
            @{ViewBag.Description = "Tunnel will be closed in both directions from 22:00 Friday 13 February  until 05:30 Monday 16 February to allow improvement work to be carried out around the clock";}
        
        


 