


@{ViewBag.Title = "Grade II Chiswick Bridge restoration enters final stage";}
        
        
<div class="r">
    <div class="breadcrumb-container" role="navigation">
        <span id="breadcrumb-label" class="visually-hidden">You are here:</span>
        <ol class="breadcrumbs clearfix" aria-labelledby="breadcrumb-label">
            <li class="home">
                <a href="/">
                    <span class="hide-text">Home</span>
                </a>
            </li>
            
                <li>
                    <a href="/info-for/media/index">Media</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases">Press releases</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases/2015">2015</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases/2015/february">February</a>
                </li>
                
                <li>
                    <span class="last-breadcrumb">Grade II Chiswick Bridge restoration enters final stage</span>
                </li>
            
 
            
 
            
 
            
 
            
 
        </ul>
    </div>
</div>
     
 
<div class="r">
    <div class="headline-container plain">
        <h1>Grade II Chiswick Bridge restoration enters final stage</h1>
        <div class="content-page-press-release">
        10 February 2015
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        Extensive concrete repairs and refurbishment work within the bridge structure are now completed
        
    </div>



 <div class="on-this-page">
<p>Work to fully strengthen and refurbish the Grade II listed Chiswick Bridge, restoring the 80 year old structure, will be delivered by May 2015, with the major work completed in time for this year's annual Oxford and Cambridge Boat Race, Transport for London (TfL) confirmed today.</p>
<p>The bridge, which crosses the River Thames in west London, was opened in July 1933 and carries around 40,000 vehicles, as well as hundreds of cyclists and pedestrians each day. While it remained safe to use, some sections of the bridge parapet and internal structures were showing signs of deterioration and needed to be replaced to ensure that the structure remains usable for many more years to come.</p>
<p>Since April 2014, TfL has worked with key partners to deliver a programme that has seen the structure of the bridge repaired, as well as its heritage features restored. Extensive concrete repairs and refurbishment work has now been completed within the bridge structure and the strengthening of bridge parapets is also more than 90 per cent complete.</p>
<p>The existing stonework that formed the parapets was thoroughly inspected and, where possible, highly skilled stonemasons re-instated the stonework to its original position. Where stone had deteriorated beyond repair, replacements were sourced from the same quarry that supplied the original Portland stone back in the 1930s - maintaining TfL's firm commitment to retaining the heritage value of the structure.</p>
<p>Waterproofing of the footpaths is now underway, helping to protect the internal structure of the bridge and improve drainage. Once this work is completed, the footpaths will be fully re-opened with a new segregated walkway and cycleway. New heritage lighting will also be installed to the bridge deck and staircases during March 2015.</p>
<p>In order to complete the remaining works, three weekend closures of the bridge are required to replace the expansion joints, which are buried within the bridge, as well as fully resurface the road. These closures are planned to take place from Saturday morning at 01.00 until Monday morning at 04.00 on the following dates:</p>
<ul>
    <li>Saturday 21 February until Monday 23 February 2015</li>
    <li>Saturday 28 February until Monday 2 March 2015</li>
    <li>Saturday 7 March until Monday 9 March 2015</li>
</ul>
<p>During this work, pedestrians and cyclists will still be able to cross the river by one of the footpaths, but a signed diversion route will be in place for road traffic. The route 190 bus, which runs between Richmond Bus Station and West Brompton Station, will also be diverted over Kew Bridge.</p>
<p>TfL appreciates this is a major river crossing in West London and its state of the art 24/7 traffic control centre will monitor this location during the works to ensure that any delays are kept to a minimum. Letters have also been sent to local residents advising them of the works and live traffic information will be put on the TfL website to allow people to plan their journeys before they start.</p>
<p>Roadside message signs will also alert drivers to the closure both in advance and during the works, to help them avoid delays and seek alternative routes, such as via Kew Bridge. Drivers are strongly advised to plan alternative routes to avoid delays across these weekends. TfL will work hard to minimise disruption and will be providing live travel information at www.tfl.gov.uk/trafficnews and on Twitter at &#64;tfltrafficnews and &#64;tflbusalerts</p>
<p>Following these weekend closures, TfL will be on track to have the refurbishment work completed and all footpaths re-opened in time for the BNY Mellon Oxford and Cambridge Boat race on Saturday 11 April 2015, providing a fantastic viewing platform of the finish line.</p>
<p>Nick Fairholme, TfL's Director of Projects &amp; Programmes for Surface Transport, said: `Chiswick Bridge is a much loved heritage structure in west London, providing a vital river crossing as well as an excellent viewing point for the annual Boat Race. The important refurbishment work we are carrying out is progressing extremely well - however, there are some aspects that, unfortunately, just cannot be completed without full weekend closures. We are committed to keeping the disruption caused by these closures to a minimum.'</p>
<p>Stephen Senior, English Heritage Assistant Inspector of Historic Buildings and Areas for London said: `Although the scale of the works has been extensive, we have been heartened by the conservation minded approach taken by TfL and all their contractors, enabling them to deliver a refurbished structure which retains all of the historic characteristics for which it was originally listed.'</p>
<p>The restoration of Chiswick Bridge forms part of TfL's continuing &pound;4bn Road Modernisation Plan, which represents the biggest investment in London's roads in a generation, including hundreds of transformational projects within the existing road network. Using radical ideas and innovative designs, the plan will make London's roads greener, safer and more attractive for the benefit of all Londoners.</p>
<p>More detail about the refurbishment is available on TfL's website at <a href="http://www.tfl.gov.uk/chiswickbridge">www.tfl.gov.uk/chiswickbridge</a></p>
<p>Notes to Editors:<br />
•	A selection of images from the refurbishment works are available from the TfL Press Office.</p>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
                <a href="/info-for/media/index" class="heading">
                    <h2 id="sub-menu-heading">Media<span class="visually-hidden"> navigation</span></h2>
                </a>
                <ul>
                    
                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases">Press releases</a></div>
                                <ul>
                                    
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2020">2020</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019">2019</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018">2018</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017">2017</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016">2016</a></div></li>
                            
 
                                        <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015">2015</a></div>
                                        <ul>
                                            
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015/december">December</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015/november">November</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015/october">October</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015/september">September</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015/august">August</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015/july">July</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015/june">June</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015/may">May</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015/april">April</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015/march">March</a></div></li>
                                    
 
                                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015/february">February</a></div>
                                                <ul>
                                                    
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
                                                </ul>
                                            
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015/january">January</a></div></li>
                                    
 
                                        </ul>
                                    </li>
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014">2014</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2013">2013</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2012">2012</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2011">2011</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2010">2010</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2009">2009</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2008">2008</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2007">2007</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2006">2006</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2005">2005</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2004">2004</a></div></li>
                            
 
                                </ul>
                            </li>
 
                                <li><div class="link-wrapper"><a href="/info-for/media/photos">Photos</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/media/contact-the-press-office">Contact the Press Office</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/filming-and-photography">Filming & photography</a></div></li>
                            
 
                </ul>
            
 
 
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype: -Home-Media-Media-Press releases-2015-February-Grade II Chiswick Bridge restoration enters final stage -->

 
 
        
        
            @{ViewBag.Description = "Extensive concrete repairs and refurbishment work within the bridge structure are now completed";}
        
        


 