


@{ViewBag.Title = "New safer HGV cabs showcased";}
        
        
<div class="r">
    <div class="breadcrumb-container" role="navigation">
        <span id="breadcrumb-label" class="visually-hidden">You are here:</span>
        <ol class="breadcrumbs clearfix" aria-labelledby="breadcrumb-label">
            <li class="home">
                <a href="/">
                    <span class="hide-text">Home</span>
                </a>
            </li>
            
                <li>
                    <a href="/info-for/media/index">Media</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases">Press releases</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases/2015">2015</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases/2015/february">February</a>
                </li>
                
                <li>
                    <span class="last-breadcrumb">New safer HGV cabs showcased</span>
                </li>
            
 
            
 
            
 
            
 
            
 
        </ul>
    </div>
</div>
     
 
<div class="r">
    <div class="headline-container plain">
        <h1>New safer HGV cabs showcased</h1>
        <div class="content-page-press-release">
        26 February 2015
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        Potentially lifesaving vehicles on show at CLOCS progress event at ExCeL
        
    </div>



<div class="pull-quote">
        <div class="quote-body">"The new vehicles on show today, with massively reduced blind-spots, show what can be done if people join together for a common good to solve a simple problem. We will continue our work to improve freight road safety in all aspects, be it collaboration, regulation, enforcement and lobbying, to create a Capital fit for freight, and freight fit for the Capital"</div>
        <div class="quote-footer">
            <div class="quotee-name">Sir Peter Hendy CBE</div>
            <div class="quotee-job-title">London's Transport Commissioner</div>
        </div>
</div>

 <div class="on-this-page">
<ul>
    <li>New designs will help tackle HGV's disproportionate involvement in cyclist fatalities</li>
    <li>TfL in the middle of its biggest ever focus on freight road safety</li>
</ul>
<p>New, safer designs for a range of construction vehicles are today on show at a major event as part of the freight industry's efforts to improve road safety and better protect cyclists and pedestrians.</p>
<p>More than a dozen HGV's are on display at the Construction Logistics and Cycle Safety (CLOCS) event at ExCeL, which is being supported by Transport for London (TfL). The event will see manufacturers such as Mercedes-Benz, DAF Trucks, Scania, Volvo and MAN showcasing new vehicles that reduce deadly blind-spots.</p>
<p>London currently sees 23 per cent of the country's construction output and as construction levels rise an increased focus is being placed on making industry vehicles safer. Between 2008 and 2013, 55 per cent of cyclist fatalities in the Capital involved a HGV, a disproportionate number of which were construction vehicles.</p>
<p>CLOCS, which is supported and part-funded by TfL, has seen progress in improving freight safety with the design of safer urban construction vehicles, reducing deadly blind-spots and improving drivers' direct vision giving maximum visibility of vulnerable road users. The vehicles exhibited this week will be trialled and evaluated by operators and the manufacturers in the coming months. This clearly demonstrates the rapid achievements of CLOCS and TfL and the industry's desire to tackle this issue.</p>
<p>TfL is working hard to improve freight and fleet road safety both in London, as well as setting an example for other highways authorities across the UK. The Mayor and TfL recently announced that the UK's first Safer Lorry Scheme will begin operation in September and will see lorries without safety equipment to protect cyclists and pedestrians banned from the Capital. The Mayor, TfL and Transport &amp; Environment have also successfully lobbied the European Union on the issue of safer HGV designs. As a result, Members of the European Parliament recently voted to allow longer vehicles across the continent paving the way for lower driving cabs and improved direct vision of the driver.</p>
<p>London's Transport Commissioner, Sir Peter Hendy CBE, said: </p>
<p>'Every death and injury on our roads is a tragedy and ruins lives. At TfL we are reducing these wherever possible, and are proud to be a supporter and funder of CLOCS, which has been making great progress to make all road users safer.</p>
<p>'The new vehicles on show today, with massively reduced blind-spots, show what can be done if people join together for a common good to solve a simple problem. We will continue our work to improve freight road safety in all aspects, be it collaboration, regulation, enforcement and lobbying, to create a Capital fit for freight, and freight fit for the Capital.'</p>
<p>CLOCS was created in February 2013 following a TfL commissioned review into the causes of, and the prevention of, collisions between cyclists and the construction sector's transport.</p>
<p>More than 80 organisations from across the industry are members of the programme, demonstrating a clear drive for improved road safety. In the first two years of CLOCS, breakthroughs have been made on lorry design and a common national standard for Construction Logistics has been created and implemented nationally. CLOCS has demonstrated how ownership, commitment and ambition throughout construction supply chains can improve the safety of all road users.</p>
<p>For more information about the wide range of work that TfL is carrying out to improve road safety in the freight industry, please visit <a href="http://www.tfl.gov.uk/freight">www.tfl.gov.uk/freight</a></p>
<p>&nbsp;</p>
<hr />
Note to Editors:
<ul>
    <li>Launched in 2013 as an industry response to a TfL commissioned report, the Construction Logistics and Cyclist Safety (CLOCS) programme has brought together developers, construction companies, operators, vehicle manufacturers and regulatory bodies to ensure a road safety culture is embedded across the construction industry. Due to CLOCS, over 20 major construction clients across the UK require FORS accreditation as part of their contracts to help reduce collisions between trucks and all vulnerable road users. Further information about CLOCS is available at: <a href="http://www.clocs.org.uk">www.clocs.org.uk</a>.</li>
    <li>Vehicles affected by the Safer Lorry Scheme can easily be retrofitted to comply. Side guards can be fitted from approximately &pound;500 and blind-spot safety mirrors can be fitted for approximately &pound;300 per mirror.</li>
    <li>Contravention of the Safer Lorry Scheme requirements will result in a fine of up to &pound;1000 and a referral to the relevant Transport Operator</li>
    <li>The Safer Lorry Scheme requirements have been a prerequisite for the FORS Bronze award since earlier last year. FORS was recognised with a Prince Michael International Road Safety Award for its continuing work to improve fleet and freight safety across the UK.</li>
    <li>Earlier this year, TfL announced that AECOM, in partnership with the Chartered Institute of Logistics and Transport and Fleet Source, will manage, develop and grow FORS as it expands across the country into a truly national accreditation scheme.</li>
    <li>The Safer Lorry Scheme will form one part of the continuing work that is already underway across London to improve road safety involving freight vehicles, in particular construction vehicles. Regular road safety police operations continue to be carried out by the Industrial HGV Task Force and the MPS Commercial Vehicle Unit across London, targeting non-compliant heavy goods vehicles, drivers and operators using the Capital's roads.</li>
    <li>The IHTF is funded by TfL and the Department for Transport (DfT) and formed of the Metropolitan Police Service, the Driver and Vehicle Standards Agency and the City of London Police. It has been deterring non-compliant operators by conducting targeted, intelligence led enforcement operations since October 2013.</li>
    <li>Since October 2013, the IHTF has resulted in more than 4000 vehicles being stopped, with 47 vehicles being seized, 2000 roadworthiness prohibitions given to drivers and more than 1,000 fixed penalty notices issued.</li>
    <li>In 2014 the MPS Commercial Vehicle Unit stopped over 5000 vehicles, issued 811 PG9s, 866 FPNs and seized 46 vehicles seized</li>
    <li>In November 2014, MEPs voted an exception to Weights and Dimensions regulations to allow vehicle manufacturers to exceed the current maximum lengths of HGVs as long as they comply with new environmental and safety standards. This will allow lower driving cabs with increased direct vision.</li>
    <li>The Cycle Safety Action Plan can be downloaded here: <a href="http://www.tfl.gov.uk/corporate/publications-and-reports/road-safety">www.tfl.gov.uk/corporate/publications-and-reports/road-safety</a></li>
    <li>In March 2013, the Mayor launched his Vision for Cycling in London, which detailed his &pound;913m programme to improve infrastructure and safety for cyclists in the Capital.</li>
    <li>In February 2014 the Mayor and TfL published six safety commitments, which supports the Safe Streets for London plan to reduce further the number of people killed or seriously injured in London by 40 per cent by 2020; and brings focus to the range of actions needed by us and our partners to make our streets safer: http://www.tfl.gov.uk/cdn/static/cms/documents/safe-london-streets-our-six-road-safety-commitments.pdf</li>
    <li>The six key commitments are:</li>
</ul>
<ol>
    <li>To lead the way in achieving a 40 per cent reduction in the number of people killed or seriously injured on the Capital's roads by 2020 - with a longer term ambition of freeing London's roads from death and serious injury;</li>
    <li>To prioritise safety of the most vulnerable groups - pedestrians, cyclists and motorcyclists - which make up 80 per cent of serious and fatal collisions;</li>
    <li>To provide substantial funding for road safety, invested in the most effective and innovative schemes;</li>
    <li>To increase efforts with the police and enforcement agencies in tackling illegal, dangerous and careless road user behaviour that puts people at risk;</li>
    <li>To campaign for changes in national and EU law to make roads, vehicles and drivers safer;</li>
    <li>To work in partnership with boroughs and London's road safety stakeholders to spread best practice and share data and information.</li>
</ol>
<ul>
    <li>Last year, the Mayor confirmed that regular road safety police operations, based on the original &quot;Operation Safeway&quot; which ran at the end of 2013, will continue to operate across London for two days every month, on unannounced days. The MPS Commercial Vehicle Unit and the Driver and Vehicle Standards Agency also continue to enforce against non-compliant and dangerous commercial vehicles and drivers.</li>
    <li>Earlier this year, TfL also expanded the award-winning Fleet Operators Recognition Scheme (FORS) to grow and provide its benefits across the country. Between 2012 and 2013, FORS accredited operators reduced injury collisions by 41 per cent and total collisions by a quarter.</li>
    <li>Last year showed an increase in construction output across the country, with London taking the lead. 23 per cent of the value of the UK's construction in 2014 took place in the Capital. The Capital's population has hit its highest ever figure of 8.6 million, and with the population projected to reach 10 million by 2030, these the vitality of construction logistics to the Capital will grow further, and so to will the need for a continued focus on road safety.</li>
</ul>
<p>&nbsp;</p>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
                <a href="/info-for/media/index" class="heading">
                    <h2 id="sub-menu-heading">Media<span class="visually-hidden"> navigation</span></h2>
                </a>
                <ul>
                    
                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases">Press releases</a></div>
                                <ul>
                                    
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2020">2020</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019">2019</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018">2018</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017">2017</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016">2016</a></div></li>
                            
 
                                        <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015">2015</a></div>
                                        <ul>
                                            
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015/december">December</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015/november">November</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015/october">October</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015/september">September</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015/august">August</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015/july">July</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015/june">June</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015/may">May</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015/april">April</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015/march">March</a></div></li>
                                    
 
                                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015/february">February</a></div>
                                                <ul>
                                                    
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
                                                </ul>
                                            
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015/january">January</a></div></li>
                                    
 
                                        </ul>
                                    </li>
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014">2014</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2013">2013</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2012">2012</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2011">2011</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2010">2010</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2009">2009</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2008">2008</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2007">2007</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2006">2006</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2005">2005</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2004">2004</a></div></li>
                            
 
                                </ul>
                            </li>
 
                                <li><div class="link-wrapper"><a href="/info-for/media/photos">Photos</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/media/contact-the-press-office">Contact the Press Office</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/filming-and-photography">Filming & photography</a></div></li>
                            
 
                </ul>
            
 
 
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype: -Home-Media-Media-Press releases-2015-February-New safer HGV cabs showcased -->

 
 
        
        
            @{ViewBag.Description = "New safer HGV cabs showcased at major construction and cycle safety event ";}
        
        


 