


@{ViewBag.Title = "New Cycle Superhighway will be 'A10 bypass'";}
        
        
<div class="r">
    <div class="breadcrumb-container" role="navigation">
        <span id="breadcrumb-label" class="visually-hidden">You are here:</span>
        <ol class="breadcrumbs clearfix" aria-labelledby="breadcrumb-label">
            <li class="home">
                <a href="/">
                    <span class="hide-text">Home</span>
                </a>
            </li>
            
                <li>
                    <a href="/info-for/media/index">Media</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases">Press releases</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases/2015">2015</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases/2015/february">February</a>
                </li>
                
                <li>
                    <span class="last-breadcrumb">New Cycle Superhighway will be 'A10 bypass'</span>
                </li>
            
 
            
 
            
 
            
 
            
 
        </ul>
    </div>
</div>
     
 
<div class="r">
    <div class="headline-container plain">
        <h1>New Cycle Superhighway will be 'A10 bypass'</h1>
        <div class="content-page-press-release">
        17 February 2015
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        New Cycle Superhighway will provide safer, faster and more convenient journeys than main road
        
    </div>



<div class="pull-quote">
        <div class="quote-body">"This is exactly what the cycling revolution is all about &#45; making it simpler and safer for ordinary people to choose to get on the saddle and enjoy London by bike"</div>
        <div class="quote-footer">
            <div class="quotee-name">Boris Johnson</div>
            <div class="quotee-job-title">The Mayor of London</div>
        </div>
</div>

 <div class="on-this-page">
<p>The Mayor and TfL have launched a consultation on a new 11km backstreet Cycle Superhighway between Tottenham, Stoke Newington, Dalston and the City of London.</p>
<p>Cycle Superhighway 1 (CS1) would run on quiet side streets just parallel to the A10 &#45; while linking to the heart of the communities along the route. Journeys on it would be substantially faster, safer and more pleasant than using the main road.</p>
<h2>The City to Tottenham only 30 minutes</h2>
<p>The new Cycle Superhighway would have only eight sets of traffic lights, compared to 54 along the main road. A journey from the City to Tottenham would take around 30 minutes, compared to about 42 minutes on the main road.</p>
<p>The Mayor of London, Boris Johnson, said: 'Our research shows that well over 100,000 journeys in this area could be made by bike instead. This Cycle Superhighway will provide cyclists with a direct, protected route along quiet streets, making it even easier for people to hop on a bike rather than getting in their cars. This is exactly what the cycling revolution is all about &#45; making it simpler and safer for ordinary people to choose to get on the saddle and enjoy London by bike.'</p>
<h2>More pleasant and convenient</h2>
The Cycling Commissioner, Andrew Gilligan, said: 'As we made clear in the Mayor's Vision for Cycling, superhighways need not be on main roads where better, more direct alternatives exist. Some of the most successful stretches of the current network, such as Cable Street and Narrow Street on CS3, are on side streets. This route will be quicker to deliver, more pleasant to use and more convenient for cyclists than anything we could do on the main road &#45; including full segregation.'
<p>The scheme includes:</p>
<ul>
    <li>Major enhancements to the busy 'Apex Junction' (Great Eastern Street and Old Street) to allow cyclists to cross more safely</li>
    <li>Road closures to reduce traffic on some streets (eg Pitfield Street) where it is not quiet enough</li>
    <li>New segregated tracks on short stretches where the route has to use a busy road</li>
    <li>New segregated tracks to link the scheme to the Old Street roundabout</li>
    <li>Safer crossings for pedestrians</li>
    <li>Improved public spaces along the route, including 1000 square metres of new footway and 60 new trees</li>
</ul>
<p>Subject to the outcome of the six week consultation, work could begin this summer and be completed by early 2016.</p>
<h2>Clear and safe </h2>
<p>
Leon Daniels, Managing Director of Surface Transport at TfL, said: 'Cycling in London has more than doubled in the last decade. However, many existing and potential cyclists are not aware of direct cycle routes along quieter streets, such as the route that CS1 would follow. These plans will provide a clear and safe cycling route into central London, as well as see the major transformation of the 'Apex Junction'. We look forward to hearing from Londoners about these designs and, subject to the comments receive, will look to deliver these improvements as quickly as we can to help more people take to two wheels.'
</p>
<p>On Balls Pond Road, traffic counts show that the vast majority of buses do not use the existing bus lane. TfL is therefore considering two options for replacing the bus lane with better facilities for cyclists. One option would see new cycle lanes and traffic islands provided between Culford Road and Kingsbury Road, the other proposes a new two-way segregated cycle track. Along Tottenham High Road, a new 700 metre two-way cycle track would also be installed within the western footway, separating cyclists from traffic on the busy A10.</p>
<p>For more information about the consultation, which closes on 29 March 2015, please visit <a href="http://www.tfl.gov.uk/cs1">www.tfl.gov.uk/cs1</a>.</p>
<p><strong></strong></p>
<hr />
<strong>Notes to Editors:</strong>
<ul>
    <li>
    On 4 February 2015, the Transport for London (TfL) Board approved plans for the construction of four new Cycle Superhighways (East-West, North-South, CS1 (subject to the outcome of the consultation) and the inner section of CS5) and upgrades to the four existing Cycle Superhighway routes (CS2, CS3, CS7 and CS8) as part of the Mayor's Cycling Vision &#45; <a href="http://www.tfl.gov.uk/corporate/publications-and-reports/board-papers">www.tfl.gov.uk/corporate/publications-and-reports/board-papers</a></li>
    <li>The creation of Cycle Superhighway 1 would form part of TfL's continuing &pound;4bn Road Modernisation Plan, which represents the biggest investment in London's roads in a generation, including hundreds of transformational projects within the existing road network. Using radical ideas and innovative designs, the plan will make London's roads greener, safer and more attractive for the benefit of all Londoners</li>
    <li>In March 2013, the Mayor launched his Vision for Cycling in London, which detailed his &pound;913m programme to improve infrastructure and safety for cyclists in the capital</li>
</ul>
<p>&nbsp;</p>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
                <a href="/info-for/media/index" class="heading">
                    <h2 id="sub-menu-heading">Media<span class="visually-hidden"> navigation</span></h2>
                </a>
                <ul>
                    
                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases">Press releases</a></div>
                                <ul>
                                    
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2020">2020</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019">2019</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018">2018</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017">2017</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016">2016</a></div></li>
                            
 
                                        <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015">2015</a></div>
                                        <ul>
                                            
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015/december">December</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015/november">November</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015/october">October</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015/september">September</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015/august">August</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015/july">July</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015/june">June</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015/may">May</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015/april">April</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015/march">March</a></div></li>
                                    
 
                                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015/february">February</a></div>
                                                <ul>
                                                    
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
                                                </ul>
                                            
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015/january">January</a></div></li>
                                    
 
                                        </ul>
                                    </li>
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014">2014</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2013">2013</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2012">2012</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2011">2011</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2010">2010</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2009">2009</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2008">2008</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2007">2007</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2006">2006</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2005">2005</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2004">2004</a></div></li>
                            
 
                                </ul>
                            </li>
 
                                <li><div class="link-wrapper"><a href="/info-for/media/photos">Photos</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/media/contact-the-press-office">Contact the Press Office</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/filming-and-photography">Filming & photography</a></div></li>
                            
 
                </ul>
            
 
 
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype: -Home-Media-Media-Press releases-2015-February-New Cycle Superhighway will be 'A10 bypass' -->

 
 
        
        
            @{ViewBag.Description = "New Cycle Superhighway will provide safer, faster and more convenient journeys than main road";}
        
        


 