


@{ViewBag.Title = "Safer Travel at Night campaign - 2014 successes";}
        
        
<div class="r">
    <div class="breadcrumb-container" role="navigation">
        <span id="breadcrumb-label" class="visually-hidden">You are here:</span>
        <ol class="breadcrumbs clearfix" aria-labelledby="breadcrumb-label">
            <li class="home">
                <a href="/">
                    <span class="hide-text">Home</span>
                </a>
            </li>
            
                <li>
                    <a href="/info-for/media/index">Media</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases">Press releases</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases/2015">2015</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases/2015/february">February</a>
                </li>
                
                <li>
                    <span class="last-breadcrumb">Safer Travel at Night campaign - 2014 successes</span>
                </li>
            
 
            
 
            
 
            
 
            
 
        </ul>
    </div>
</div>
     
 
<div class="r">
    <div class="headline-container plain">
        <h1>Safer Travel at Night campaign - 2014 successes</h1>
        <div class="content-page-press-release">
        24 February 2015
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">



 <div class="on-this-page">
<p>Transport for London's (TfL) Safer Travel at Night (STaN) campaign, which aims to eradicate illegal touting, produced successful results in 2014 by tailoring tactics to hotspot areas and using more public engagement and higher visibility.</p>
<p>During last year's two main periods of STaN campaign activity &#45; around the start of the university academic year in September and over the festive period in December &#45; the Metropolitan Police Service (MPS), City of London Police (CoLP) and TfL's Taxi and Private Hire Compliance Teams stepped up their activity to help raise awareness of the dangers that the public face if they use unbooked minicabs.</p>
<p>Last year's tactics focused on providing more police officers in high visibility roles in locations that have been historically known for persistent touting. Over 400 police officers are regularly mobilised for major operations such as STaN, and TfL directly funds 68 dedicated police cab enforcement officers, 41 TfL compliance officers and 32 vehicle inspection staff.</p>
<p>A group of 290 female police officers are also called upon as part of covert anti-touting operations. Officers were out and about late at night and in the early hours of the morning, to prevent touting in the first instance and to engage with the public &#45; particularly those who may be tempted to take an unbooked minicab after a night out.</p>
<p>In addition to these tactics, throughout STaN the MPS committed greater emphasis on combating repeat touts through intelligence led operations involving Automatic Number Plate Recognition cameras (ANPR).</p>
<p>During the two main STaN phases in 2014, the MPS and CoLP made a total of 94 arrests for touting, with over 3,600 minicabs and taxis stopped and checked. This is in addition to the regular enforcement operations carried out throughout the course of the year.</p>
<p>More than 700 arrests were made in 2013/14 for illegal plying for hire, and more than 8,000 arrests have been made since 2003.  This work has seen the proportion of women aged 16 - 44 approached by a tout at the end of a night falling from 66% in 2003 to 16% in 2014.</p>
<p>Alongside policing activity, TfL's Taxi and Private Hire Compliance Officers continued their on-going activity throughout the STaN campaign to protect the legitimate taxi and private hire industry by conducting checks on drivers, vehicles and operators across the Capital.</p>
<p>Over 100 checks were undertaken throughout December 2014, with 91 various offences reported by the team. These included two private hire operators reported for trading from premises without a valid licence, 23 private hire drivers reported for working without being in possession of their licence and plying for hire illegally, and 64 taxis reported for operating outside of their designated 'yellow badge' licence area and driving without the correct insurance.</p>
<p>TfL's engagement with the public as part of STaN included teams visiting 494 bars, pubs and clubs in hotspot locations, handing out approximately 132,000 leaflets and engaging with over 50,000 members of the public to provide advice on how to get home safely. During the September phase of the campaign, the engagement team also visited over 29 university 'Freshers' Fayres', speaking with around 50,000 students.</p>
<p>Siwan Hayward, TfL's Deputy Director of Enforcement and On-Street Operations, said: `The safety and security of the travelling public is a priority for us. We want everyone who uses a minicab to ensure it is pre booked through a licensed operator. It can be tempting at the end of a night out to jump into the first car that approaches you, but we want people to know any minicab that is not pre booked is acting illegally and is essentially just a stranger's car.</p>
<p>`We, alongside our policing partners, are committed to cracking down on this illegal and unsafe behavior and do so by hitting hotspot locations. We will continue to push for the toughest penalties possible for anyone caught.`</p>
<p>Chief Superintendent Matt Bell, Roads and Transport Policing Command, said: `The Roads and Transport Policing Command is committed to reducing cab-related sexual offences as a priority. These results show the importance we place on stopping and tackling illegal cab drivers operating in London.</p>
<p>`The dangers of using unlicensed and unbooked minicabs should never be underestimated. Any minicab journey that is not booked is not safe.`</p>
<p>The Safer Travel at Night partnership is a joint initiative with TfL, the Mayor, MPS and CoLP. It launched in 2002 and aims to improve safety at night through the regulation and licensing of the private hire industry, enforcement and education.</p>
<p>The communications campaign, in particular, has been successful in raising public awareness of the dangers of using unbooked minicabs, improving understanding that any minicab picked up off the street without a booking is dangerous, and providing information on safer travel options.</p>
<p>The key campaign messages are:</p>
<ul>
    <li>If you approach a minicab driver directly, or they approach you, it doesn't mean your minicab is booked. Minicab drivers who accept a fare this way are acting illegally</li>
    <li>If a bouncer, or somebody with a high vis jacket and clipboard, hails you a minicab on the street, it doesn't mean they have booked it</li>
    <li>Even if your minicab has a licence sticker, your minicab is illegal and unsafe unless you have booked it with a licensed minicab company</li>
</ul>
<p>ENDS<br />
Note to Editors:</p>
<ul>
    <li>In 2013/14 the number of cab related sexual offences in London fell by 15% compared to the previous year, with rape offences down 30%. However, any incident is one too many and the STaN initiative is dedicated to driving this down further</li>
    <li>Over six hundred joint operations are carried out every year, including vehicle and driver licensing checks and intelligence-led, anti-touting activity. Evening patrols in hotspot locations, plain clothes anti-touting operations and high visibility enforcement activities help to detect and deter illegal activity</li>
    <li>What is a booked minicab or private hire vehicle?</li>
    <li>The only way to know your minicab is safe is to book it directly with the minicab company via phone, online or in person</li>
    <li>It guarantees that your trip will be carried out by a licensed, insured driver in a licensed, insured vehicle</li>
    <li>It also means that a record is kept of your journey, your driver and the vehicle used, so in the event of any problems the driver can be traced</li>
</ul>
<p>Only black cabs:</p>
<ul>
    <li>Can be approached on the street or at black cab ranks</li>
    <li>Can be flagged by the road</li>
    <li>Do not need to be booked but you can choose to do so using a smart phone app. There are taxi (black cab) apps available in the app stores</li>
    <li>Can be hailed by customers on the street</li>
</ul>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
                <a href="/info-for/media/index" class="heading">
                    <h2 id="sub-menu-heading">Media<span class="visually-hidden"> navigation</span></h2>
                </a>
                <ul>
                    
                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases">Press releases</a></div>
                                <ul>
                                    
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2020">2020</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019">2019</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018">2018</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017">2017</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016">2016</a></div></li>
                            
 
                                        <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015">2015</a></div>
                                        <ul>
                                            
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015/december">December</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015/november">November</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015/october">October</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015/september">September</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015/august">August</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015/july">July</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015/june">June</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015/may">May</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015/april">April</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015/march">March</a></div></li>
                                    
 
                                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015/february">February</a></div>
                                                <ul>
                                                    
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
                                                </ul>
                                            
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015/january">January</a></div></li>
                                    
 
                                        </ul>
                                    </li>
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014">2014</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2013">2013</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2012">2012</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2011">2011</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2010">2010</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2009">2009</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2008">2008</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2007">2007</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2006">2006</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2005">2005</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2004">2004</a></div></li>
                            
 
                                </ul>
                            </li>
 
                                <li><div class="link-wrapper"><a href="/info-for/media/photos">Photos</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/media/contact-the-press-office">Contact the Press Office</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/filming-and-photography">Filming & photography</a></div></li>
                            
 
                </ul>
            
 
 
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype: -Home-Media-Media-Press releases-2015-February-Safer Travel at Night campaign - 2014 successes -->

 
 
        
        
            @{ViewBag.Description = "Press releases and news articles from Transport for London";}
        
        


 