


@{ViewBag.Title = "Bank DLR platforms to close for upgrade works";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>Bank DLR platforms to close for upgrade works</h1>
        <div class="content-page-press-release">
        09 October 2009
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        Track and signalling upgrade will increase capacity.
        
    </div>



<div class="pull-quote">
        <div class="quote-body">"We are investing millions in upgrading the DLR and this is the next step in providing more capacity on the network"</div>
        <div class="quote-footer">
            <div class="quotee-name">Jonathan Fox</div>
            <div class="quotee-job-title">Director of the DLR</div>
        </div>
</div>

 <div class="on-this-page">
<div class="pullquote right">
                        <p>
                            We are investing millions in upgrading the DLR and this is the next step in providing more capacity on the network
                            
                        </p>
                    </div>
                
            
            
            <p>Transport for London (TfL) today advised its passengers that the Docklands Light Railway (DLR) platforms at Bank station will close on December 24 for a month to allow the completion of engineering work for the network's three-car upgrade between Bank and Lewisham. </p>
<p>Three-car trains, which will provide 50 per cent more on-board capacity, will run between Bank and Lewisham - DLR's busiest route - from early 2010. </p>
<p>The work is being carried out during this time because this period traditionally sees the smallest number of passengers on the DLR, meaning fewer people's journeys will be affected than if the work was carried out at other times in the year. </p>
<h2>Upgrading the track</h2>
<p>A full replacement bus service will be in operation, to minimise disruption.</p>
<p>The last DLR train from Bank station will run at the close of service on 23 December. </p>
<p>The DLR platforms there are scheduled to re-open at the end of January 2010.</p>
<p>The work involves upgrading the track and signalling systems at Royal Mint Street junction, which is situated just outside the tunnel leading down to Bank station. </p>
<h2>Minimise disruption</h2>
<p>The junction, which splits the Bank and Tower Gateway lines, will be remodelled during the closure to provide a more efficient train service to these destinations in future. During the closure, other heavy maintenance work at Bank will be undertaken. </p>
<p>Director of the DLR Jonathan Fox said: 'We apologise for the disruption caused by this service suspension but it is essential that the work is done so that we can increase the capacity of the railway, allowing us to run three-car trains more efficiently.&nbsp; </p>
<p>'We'll be trying to minimise disruption to our passengers by providing replacement bus services.</p>
<p>'We are investing millions in upgrading the DLR and this is the next step in providing more capacity on the network. </p>

<h2>Demonstrated the benefits</h2>

<p>'By 2010, the DLR's busiest route, the Bank to Lewisham branch, will be served by three-car trains delivering a 50 per cent increase in capacity.'</p>
<p>The track works are funded by the Olympic Delivery Authority (ODA).&nbsp;&nbsp; </p>
<p>ODA Director of Transport, Hugh Sumner, said: 'The works are critical to allow DLR to keep pace with passenger numbers before, during and after 2012. </p>
<p>'By providing the funding that allows these upgrades to take place the ODA has again demonstrated the benefits and legacy the Games will bring, almost three years before they begin.' </p>
<h2>High-frequency service</h2>
<p>On 24 December, trains will not run between Bank and Canary Wharf or between Tower Gateway and Poplar. </p>
<p>Bus replacement services will operate.&nbsp; </p>
<p>From 26 December, Tower Gateway will operate a high-frequency train service to DLR destinations including Lewisham via Canary Wharf. </p>
<p>Further details of the closures will be made available in good time before Christmas.<br></p>
<p>
<hr>
<br><strong>Notes to editors:</strong> 
<p>
<ul>
<li>The ODA has contributed &pound;6.4m for the work at Royal Mint Street junction </li>
<li>The suspension of services between Bank and Canary Wharf and Tower Gateway and Poplar on 24 December will allow engineering equipment and materials to be moved into place, as well changes made to the signalling system to allow a frequent train service to operate to and from Tower Gateway during the Bank closure&nbsp; </li></ul>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "Transport for London (TfL) today advised its passengers that the Docklands Light Railway (DLR) platforms at Bank station will close on December 24 for a month to allow the completion of engineering work for the network's three-car upgrade between Bank and";}
        
        


 