


@{ViewBag.Title = "Be the first to try out London's Cycle Hire scheme";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>Be the first to try out London's Cycle Hire scheme</h1>
        <div class="content-page-press-release">
        08 October 2009
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        Try the hire bikes and take a spin on a Cycle Superhighway at the Earl's Court Cycle Show this weekend.
        
    </div>



<div class="pull-quote">
        <div class="quote-body">"Mayor and TfL want to make cycling a safer and more attractive option for everyone in London"</div>
        <div class="quote-footer">
            <div class="quotee-name">Kulveer Ranger</div>
            <div class="quotee-job-title">the Mayor's transport adviser</div>
        </div>
</div>

 <div class="on-this-page">
<div class="pullquote right">
                        <p>
                            Mayor and TfL want to make cycling a safer and more attractive option for everyone in London
                            
                        </p>
                    </div>
                
            
            
            <p>Londoners are set to get their first glimpse of the 6,000 hire bicycles the Mayor will bring to the streets of the Capital next summer. </p>
<p>Visitors to this weekend's London Cycle show will be able to take four prototype bikes for a spin around a test track and take a simulator ride along one of the Mayor's Cycle Superhighways. </p>
<p>The London Cycle Hire scheme and Cycle Superhighways are two of the key programmes being introduced by Transport for London (TfL) as part of the Mayor's cycling revolution. </p>

<h2>Cracking machines</h2>
<p>Both are due to launch next summer with the aim of achieving a 400 per cent increase in the number of cycle journeys made in London by 2025. </p>
<p>Cycle journeys in London have more than doubled in the past decade, with a nine per cent increase in cycle journeys on the city's major roads in the past year alone. </p>
<p>The Mayor of London, Boris Johnson, said: 'I am thrilled that Londoners can finally clap their eyes on these cracking machines. </p>
<p>'With its funky design and sturdy handling this is a bike that will encourage thousands more Londoners to use two wheels to get from A to B.' </p>
<h2>Attractive options</h2>
<p>From summer next year, people will be able to pick up and drop off 6,000 hire bikes at around 400 locations across the nine London boroughs and several Royal Parks that make up London's zone one travel area. </p>
<p>Kulveer Ranger, the Mayor's transport adviser, said: 'The Mayor and TfL want to make cycling a safer and more attractive option for everyone in London. </p>
<p>'The 6,000 bikes in our hire scheme will make cycling more accessible and the Cycle Superhighways will provide cyclists with the reassurance of cycling in numbers. </p>
<p>'TfL is working hard to deliver the Mayor's cycling revolution, which will help make the Capital one of the world's great cycling cities.' </p>
<h2>24-hour transport system</h2>
<p>Cycle Superhighways will be a set of highly visible radial routes that will provide a safe, fast and efficient way into central London from the outer boroughs. </p>
<p>By summer 2010, the first two pilot routes, Merton to the City (A24 and A3) and Barking to Tower Gateway (A13) will be completed.</p>
<p>David Brown, Managing Director of Surface Transport at TfL, said: 'The London Cycle Hire scheme will effectively be a brand new, 24-hour public transport system for central London.&nbsp; </p>
<p>'Combined with the two pilot Cycle Superhighways, easy to follow routes that are designed to help people start cycle commuting, or to cycle to work or college more often, the two programmes are expected to deliver an additional 62,000 cycle journeys a day.'</p>
<p>
<hr>

<p>
<p><strong>Notes to editors: </strong></p>
<ul>
<li>The London Cycle Hire scheme, which will be operated by Serco Limited on behalf of TfL, will be the most sustainable, environmentally friendly form of public transport ever seen in the Capital. An initial 6,000 hire bicycles are expected to generate around 40,000 extra cycle trips a day in central London </li>
<li>Cycle Superhighways will be easy to recognise and follow, and will help Londoners commute to work by bicycle or to access the local cycle network. Together, the two pilot routes (which currently have 5,000 cycle journeys a day) are expected to deliver 27,000 cycle journeys a day within three years of their launch </li>
<li>Safety issues on the Cycle Superhighway routes will be addressed through specific measures, such as the provision of advance stop boxes and providing continuous lanes through junctions as appropriate. In addition, obstructions will be minimized and improvements made to road surfaces to ensure a smoother ride </li>
<li>TfL will fund additional cycle training in the London boroughs where Cycle Hire or Cycle Superhighways will be based. This is in addition to funding already provided to support cycle training in London (&pound;3m in 2009-2010) </li>
<li>In addition, TfL will work with businesses on the Cycle Superhighway routes to provide cycle parking, grants for facilities such as showers and lockers, and help with cycle maintenance. More details of the schemes and initiatives will be announced nearer the completion date for the two pilot routes </li>
<li>The two pilot routes will link residential areas like Tooting, Clapham, Poplar and Canning Town to central London and will run on a combination of the Transport for London Road Network&nbsp;and roads owned and managed by the London boroughs </li>
<li>For more information on the work the Mayor and TfL are doing to revolutionise cycling in the Capital, visit their <a href="http://www.tfl.gov.uk/">website</a> </li>
<li>The Cycle Show is at Earl's Court exhibition centre from 8-11 October. Thursday 8 October is press and trade day and the show is open to the public on Friday 9 and Saturday 10 October between 10.00 - 18.000 and Sunday 11 October between 10.00 and 17.00. Find out more about the <a href="http://www.cycleshow.co.uk/">Cycle Show</a> </li></ul>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "Londoners are set to get their first glimpse of the 6,000 hire bicycles the Mayor will bring to the streets of the Capital next summer. Visitors to this weekend's London Cycle show will be able to take four prototype bikes for a spin around a test track";}
        
        


 