


@{ViewBag.Title = "Changes to night bus services in southeast London";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>Changes to night bus services in southeast London</h1>
        <div class="content-page-press-release">
        09 October 2009
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        Changes will be introduced to bus route N21 and route 321 will become a 24-hour service from Saturday 10 October 2009.
        
    </div>



 <div class="on-this-page">
<div class="pullquote right">
                        <p>
                            The changes to the night services on routes N21 and 321 will provide passengers with better overall bus links 
                            
                        </p>
                    </div>
                
            
            
            <p>Route N21, which currently runs between Trafalgar Square and Foots Cray via New Cross, Lewisham, Eltham, Blackfen and Sidcup will be re-routed at Blackfen to run between Trafalgar Square and Bexleyheath.&nbsp;</p> <p>It will provide a new night service for Blendon and Bexley Village and additional night links to Bexleyheath.&nbsp; </p> <p>As route N21 will no longer serve Sidcup and Foots Cray, a new 24 hour service will be provided on route 321 between New Cross Gate and Foots Cray via Lewisham, Eltham, New Eltham and Sidcup. </p> <h2>Review</h2> <p>The part of current route N21 between Blackfen and Sidcup via Willersley Avenue will no longer be served overnight.&nbsp;</p> <p>However, route 51 will continue to run over this section from early morning until after midnight, seven days a week. </p> <p>John Barry, Head of Network Development, London Buses, said: 'The changes to the night services on routes N21 and 321 will provide passengers with better overall bus links when travelling around southeast London at night.'</p> <p>The changes have been introduced following a review of the routes and consultation with stakeholders. </p> <h2>24-hours a day</h2> <p>Buses on route N21 will operate every 30 minutes every night.</p> <p>Route 321 will operate 24 hours a day, running every 30 minutes overnight, with no change to daytime frequencies.&nbsp; </p> <hr>  <p><strong>Notes to editors:</strong></p> <ul> <li>Route N21 will be re-routed to Bexleyheath via Blackfen Road, Blendon Road, Bridgen Road, Parkhill Road, Bexley High Street, Bourne Road and Gravel Hill to terminate at Bexleyheath Broadway  </li><li>Route N21 will continue to be run by London Central and will use double-deck buses  </li><li>Route 321 will continue to be run by London Central and will use double-deck buses.&nbsp;Frequencies during the day will remain unchanged, with buses operating every eight minutes Mondays to Saturdays during the day and every 12 minutes on Sundays and in the evenings</li></ul>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "Route N21, which currently runs between Trafalgar Square and Foots Cray via New Cross, Lewisham, Eltham, Blackfen and Sidcup will be re-routed at Blackfen to run between Trafalgar Square and Bexleyheath.&nbsp; It will provide a new night service for";}
        
        


 