


@{ViewBag.Title = "Cycle parking boost for Liverpool Street station";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>Cycle parking boost for Liverpool Street station</h1>
        <div class="content-page-press-release">
        30 October 2009
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        Installation of new two-tier racks doubles cycle parking spaces at the station.
        
    </div>



<div class="pull-quote">
        <div class="quote-body">"By 2012 we aim to have provided 66,000 new cycle parking spaces across London"</div>
        <div class="quote-footer">
            <div class="quotee-name">Kulveer Ranger</div>
            <div class="quotee-job-title">the Mayor's transport adviser</div>
        </div>
</div>

 <div class="on-this-page">
<div class="pullquote right">
                        <p>
                            By 2012 we aim to have provided 66,000 new cycle parking spaces across London
                            
                        </p>
                    </div>
                
            
            
            <p>Double-deck racks providing 233 cycle parking spaces have been installed at Liverpool Street station to provide cyclists who want to combine rail travel and pedal power with a secure place to leave their bikes.</p>
<p>The installation of the two-tier, double-deck stands, which were funded by Transport for London (TfL) and will be maintained and managed by Network Rail, has doubled the number of cycle parking spaces at the station from 116 to 233. </p>
<p>It follows the installation of 138 additional cycle parking spaces at Euston Station earlier this year. </p>
<h2>Cycle revolution</h2>
<p>Cycle journeys in London have more than doubled in the past decade, with a nine per cent increase in cycle journeys on the city's major roads in the past year alone. </p>
<p>The new facilities will provide for growing cyclist demand and also help to promote cycling as an easy and convenient way to get around the Capital.</p>
<p>Kulveer Ranger, the Mayor's transport adviser, said: 'If we are to deliver a cycle revolution in the Capital we must ensure Londoners can park their bikes where and when they want to. </p>
<p>'The availability of cycle parking plays a major role in helping people decide whether it is convenient to take to two wheels or not. </p>
<h2>Pedal power</h2>
<p>'That's why we provided an extra 11,000 spaces last year and why we are spending &pound;1.5m this year on installing more cycle parking in stations such as Liverpool Street. </p>
<p>'By 2012 we aim to have provided 66,000 new cycle parking spaces across London.'</p>
<p>Ben Plowden, Director of Integrated Programme Delivery at TfL, said: 'We know that many people are keen to incorporate the freedom of cycling into their daily journeys. </p>
<p>'The doubling of cycle parking spaces at both Euston and Liverpool Street stations will help people combine rail travel with pedal power and is part of our commitment, working with partners like Network Rail, to provide cycle parking at the places where people really need it.' </p>
<h2>Continue to explore</h2>
<p>Robin Gisby, Director of Operations and Customer Services at Network Rail, said: 'The new double-decker racks are safe, secure and simple to use giving more people the cleaner, greener option of cycling to and from Liverpool Street. </p>
<p>'We're pleased to have worked with TfL on this and the recent project at Euston, and will continue to explore ways to increase the provision of cycle racks at stations across the Capital and beyond.'</p>
<p>The new cycle parking racks at Liverpool Street station are located in easily visible areas, with CCTV coverage for extra security. </p>
<p>
<hr>

<p>
<p><strong>Notes to editors:</strong></p>
<ul>
<li>The double-tier cycle racks at Liverpool Street station are located on platform 10 (189 spaces) and at the Bishopsgate entrance/exit (44 spaces) and cost &pound;61,000. The 138 new stands at Euston station cost &pound;37,500. Both were funded by TfL </li>
<li>Cycle journeys on London's major roads have increased by 107 per cent since 2000, with an estimated 545,000 cycle journeys made every day across London as a whole </li>
<li>In 2008/09, TfL installed almost 11,000 new cycle parking spaces across London</li></ul>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "Double-deck racks providing 233 cycle parking spaces have been installed at Liverpool Street station to provide cyclists who want to combine rail travel and pedal power with a secure place to leave their bikes.The installation of the two-tier, double-deck";}
        
        


 