


@{ViewBag.Title = "DLR station 'moves' at the weekend ";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>DLR station 'moves' at the weekend </h1>
        <div class="content-page-press-release">
        26 October 2009
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        An extraordinary feat of engineering on the Docklands Light Railway (DLR) has effectively moved a whole station without any disruption to passengers.
        
    </div>



<div class="pull-quote">
        <div class="quote-body">"The new South Quay station is an example of our ability to carry out complicated engineering work with as little disruption as possible"</div>
        <div class="quote-footer">
            <div class="quotee-name">Ian Brown</div>
            <div class="quotee-job-title">DLR chairman</div>
        </div>
</div>

 <div class="on-this-page">
<div class="pullquote right">
                        <p>
                            The new South Quay station is an example of our ability to carry out complicated engineering work with as little disruption as possible
                            
                        </p>
                    </div>
                
            
            
            <p>South Quay station closed on Friday evening and a state-of-the-art replacement opened this morning 125 metres away, after being tested over the weekend.</p>
<p>The station, which cost &pound;30m, had to be rebuilt further down the line where the track is straight, so that platforms could be extended to accommodate three-carriage-long DLR trains next year. </p>
<h2>Clever engineering</h2>
<p>The old station was on a curve, where platforms could not be lengthened. But clever engineering techniques by contractors Taylor Woodrow meant the replacement station was constructed without the line, or the old station, once being closed.&nbsp;</p>
<p>Complex supporting structures were built either side of the track, allowing work to go on within a metre of the live railway line.</p>
<p>The move was paid for by Transport for London (TfL) and the London borough of Tower Hamlets. It is part of TfL's &pound;1bn investment scheme for the DLR. </p>
<h2>No disruption</h2>
<p>The DLR chairman, Ian Brown, said, 'The new South Quay station is a prime example of our ability to carry out complicated engineering work with as little disruption as possible.&nbsp; </p>
<p>'Passengers used the former station until the close of service on Friday night, and then walked into a brand new station this morning, after we'd successfully tested it over the weekend.</p>
<p>'It means the way will soon be clear for us to start running DLR trains which are three-carriages long, and therefore able to carry half as many passengers again as the current two-carriage vehicles.'</p>
<p>Councillor Abdal Ullah, Chair of Tower Hamlets Transport Committee, said: 'We welcome this new station as an important part of Tower Hamlets' public transport network. </p>
<p>'It's a great example of how Section 106 funding can create ongoing community benefits.' </p>
<h2>Passenger facilities</h2>
<p>The new station includes a full-length canopy to provide weather protection for waiting passengers and two ground level concourses. </p>
<p>The eastern concourse houses two fully-enclosed staircases to each platform. Ticket machines, Oyster validators and five cycle stands are provided at ground level.</p>
<p>The western concourse covers a larger area and provides the bulk of the station facilities including a passenger lift, two energy-efficient escalators and fully-enclosed staircases to each platform. </p>
<p>As with the eastern concourse, ticket machines, Oyster validators and five cycle stands are provided at ground level.<br><br>
<hr>
<strong>Notes to editors </strong>
<p>
<ul>
<li>The Bank-Lewisham branch of the DLR network, which comprises South Quay, will begin running three-car trains early next year. The rest of the network will run longer trains when sufficient demand is in place </li>
<li>DLR is lengthening its trains from two to three carriages in order to more comfortably transport passengers and to ensure a frequent and reliable service is in place. As part of the project major construction works are being carried out across DLR including extending platforms, strengthening viaducts and improving junctions </li>
<li>In total there have been four South Quay stations, with the first opened in 1987 as part of the original DLR network. It was rebuilt in January 1994 after a comprehensive upgrade programme. The station was rebuilt again in 1996 after an IRA half-tonne bomb was detonated underneath it on 9 February. The station and the nearby buildings were severely damaged at an estimated cost of &pound;85m. Despite the damage South Quay was reopened on 22 April 1996, a little over two months after the explosion </li>
<li>Marsh Wall, which runs adjacent to South Quay, has now fully reopened. One lane of the road had been closed to allow station construction to take place. </li>
<li>London Borough of Tower Hamlets secured &pound;7m in Section 106 contributions from developers involved in the nearby Millennium Quarter for South Quay station. Under planning legislation, Section 106 enables funding for works of public benefit to be obtained from developers by the local authority<br></li></ul>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "South Quay station closed on Friday evening and a state-of-the-art replacement opened this morning 125 metres away, after being tested over the weekend.The station, which cost &pound;30m, had to be rebuilt further down the line where the track is";}
        
        


 