


@{ViewBag.Title = "Don't be in the dark about autumn road risks, TfL warns teenagers";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>Don't be in the dark about autumn road risks, TfL warns teenagers</h1>
        <div class="content-page-press-release">
        22 October 2009
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        Darker evenings can mean more young people injured on London's roads.
        
    </div>



<div class="pull-quote">
        <div class="quote-body">"Our relentless campaigning on the road safety issues aims to make teenagers more aware and ultimately save lives"</div>
        <div class="quote-footer">
            <div class="quotee-name">Chris Lines</div>
            <div class="quotee-job-title">Head of TfL London Road Safety Unit</div>
        </div>
</div>

 <div class="on-this-page">
<div class="pullquote right">
                        <p>
                            Our relentless campaigning on the road safety issues aims to make teenagers more aware and ultimately save lives
                            
                        </p>
                    </div>
                
            
            
            <p>Sunday 26 October marks the end of British Summer Time and signals the start of a new danger for teenage pedestrians - the dark. </p>
<p>The warning comes as Transport for London's (TfL) launches the latest phase of its road safety campaign to reduce the number of teenagers killed or seriously injured on London roads. </p>
<h2>Clocks go back</h2>
<p>The clock change, moving one hour backwards, sees the sun rise earlier to ensure we wake up in the light. </p>
<p>However, the change also brings forward sunset which may see teenagers making their way home from after school activities in the dark.</p>
<p>Road collisions involving teenagers typically occur on weekdays at peak travelling times when teenagers are going to and from school, between 7am and 9am and 3pm and 7pm. </p>
<p>Between 2006 and 2008 25 per cent&nbsp;of all collisions involving teenagers took place between October and December. </p>
<h2>Look out for friends</h2>
<p>To remind teenagers of the need to stay visible when nearby or using London roads,&nbsp;TfL has produced a limited edition reflective wristband with the slogan 'THINK! Don't let your friendship die on the road'. </p>
<p>The 'must have' band will be given out at exclusive concerts and among London youth centres to get teenagers talking and subtly bring road safety to the forefront of their minds.</p>
<p>Chris Lines, Head of the TfL London Road Safety Unit said: 'The changing of the clocks is a critical time for everyone, particularly teenagers, to take more care on the roads. </p>
<h2>Stay visible</h2>
<p>'Statistically the risks of road crashes are higher at this time of year as you're less visible. This is a call to action for teenagers to make sure they stay visible during the darker months.</p>
<p>'Everyday a teenager is killed or seriously injured on London roads. While this number is steadily falling, even one injury is one too many. </p>
<p>'Our relentless campaigning on the road safety issues aims to make teenagers more aware and ultimately save lives.'<br><br>
<hr>
<strong>Notes to editors</strong> <strong></strong>
<ul>
<li>In March 2000 the Government announced a new national road safety strategy and casualty reduction targets for 2010 in 'Tomorrow's roads - safer for everyone' </li>
<li>By the year 2010, the casualty reduction targets to be achieved, compared with the 1994-98 average are: <br>-&nbsp;a 40 per cent reduction in the number of people killed or seriously injured; <br>-&nbsp;a 50 per cent reduction in the number of children killed or seriously injured; <br>-&nbsp;a 10 per cent reduction in the slight casualty rate, expressed as the number of people slightly injured per 100 million vehicle kilometres </li>
<li>London has already exceeded the 2010 targets set by the Government for children killed or seriously injured (50 per cent reduction) and the total number of people killed or seriously injured (40 per cent reduction) three years early.&nbsp;London has achieved this and also met a more stringent target, a 60 per cent reduction in the number of children (age 15 years and younger) killed or seriously injured</li></ul>
<p>
<p>&nbsp;</p>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "Sunday 26 October marks the end of British Summer Time and signals the start of a new danger for teenage pedestrians - the dark. The warning comes as Transport for London's (TfL) launches the latest phase of its road safety campaign to reduce the number";}
        
        


 