


@{ViewBag.Title = "First air-con Tube train arrives as TfL Board approves Business Plan to safeguard critical transport investment";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>First air-con Tube train arrives as TfL Board approves Business Plan to safeguard critical transport investment</h1>
        <div class="content-page-press-release">
        21 October 2009
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        The first air-conditioned Tube train arrives in London this week.
        
    </div>



<div class="pull-quote">
        <div class="quote-body">"It is essential that we keep investing in London's critical transport projects, and continue giving Londoners the transport network that they need"</div>
        <div class="quote-footer">
            <div class="quotee-name">Boris Johnson</div>
            <div class="quotee-job-title">Mayor of London</div>
        </div>
</div>

 <div class="on-this-page">
<div class="pullquote right">
                        <p>
                            It is essential that we keep investing in London's critical transport projects, and continue giving Londoners the transport network that they need
                            
                        </p>
                    </div>
                
            
            
            <p>London's first air-conditioned Tube train arrived in the early hours of this morning. </p>

<p>The new train, which will serve the Metropolitan Line from summer next year, is the first step in the replacement of the line's fleet, with 58 new trains rolling out by 2011.</p>

<p>The milestone in the upgrade of the Tube comes on the same day (21 October) that the Transport for London Board approved TfL's updated Business Plan. </p>
<h2>Key&nbsp;projects</h2>

<p>The Plan sets out how investment in front line services and London's critical transport projects will be maintained up to 2018, safeguarding the investment needed to boost the city's transport capacity, create thousands of new jobs and ensure London's future competitiveness and global position. </p>

<p>TfL will continue to focus on delivering the major upgrades of eight Tube lines, building Crossrail, extensions to the DLR and London Overground networks, preparing for and securing a legacy from the 2012 Games, smoothing traffic flows, leading a revolution in cycling and walking and delivering a greener, cleaner new bus fit for 21st century London. </p>

<p>In the next year TfL will complete several key projects, each bringing major improvements to passenger services across London. </p>

<p>These include:</p>
<ul>
<li>The opening of the new &pound;1.4bn extension and upgrade of the East London line as part of the London Overground network, bringing Tube-frequency services to South East London </li>
<li>Completion of the upgrade of the Jubilee line, bringing a 33 per cent increase in capacity, 5,000 more passengers an hour and a 22 per cent reduction in journey times </li>
<li>Delivery of the Mayor's new Cycle Hire scheme with 6,000 hire bicycles across 400 central London locations </li>
<li>Completion of the DLR Canning Town to Stratford International extension and the introduction of an extra third carriage on the DLR Bank branch, part of an overall 50 per cent&nbsp;increase in the capacity of the DLR network</li></ul>
<h2>Investing in London </h2>
<p>Mayor of London and Chair of the Transport for London Board, Boris Johnson said: 'It is essential that we keep investing in London's critical transport projects, and continue along the track toward giving Londoners the transport network that they want and need. </p>
<p>'TfL's Business Plan is designed for this purpose - making a huge multi-billion pound investment in the future, which brings major improvements for all Londoners now.&nbsp; </p>
<p>'This week, London's first air-conditioned Tube train arrives - the next milestone in the rebuilding of our transport system. </p>
<p>'Next year we will see the opening of the new East London line extension, a new 6,000 strong Cycle Hire scheme, and the completion of the upgrade of the Jubilee line. </p>
<p>'Most important of all, the Plan safeguards the Tube upgrades and Crossrail, both of which are key to creating thousands of jobs and securing London's future competitiveness.' </p>
<h2>Cost-saving initiatives</h2>
<p>In light of the current financial pressures on TfL, including a drop in Tube passenger numbers due to the economy and the impact of the collapse of Metronet, the Plan also confirms that a continuous search for efficiencies will more than double savings from TfL's budget to over &pound;5bn by 2018. </p>
<p>Delivery is well underway with 1,000 back office jobs reduced at London Underground saving &pound;570m, &pound;400m to be saved from IT projects and &pound;130m coming from moving to cheaper offices outside central London. </p>
<p>Transport Commissioner Peter Hendy said: 'The Mayor's top priorities are to maintain and improve services whilst safeguarding London's huge transport investment programme. </p>
<p>'It is the job of everyone at TfL to deliver both and it is essential that we do so by saving at least &pound;5bn from our budget and Business Plan.</p>
<p>&nbsp;'Progress is being made with around 1,000 back office roles having gone at London Underground, reductions in the number of consultants, through better value commercial contracts and by re-locating offices out of central London.</p>
<h2>Value for money</h2>
<p>'We will remain focused on providing even better fare and tax payer value whilst striving to deliver improved services for all of London.'</p>
<p>The Plan confirms delivery against the Mayor's transport priorities:</p>
<ul>
<li><strong>To expand public transport capacity:&nbsp;</strong>completing the transformation of the Tube, including new air-conditioned trains, improved reliability and faster journeys, and building Crossrail, the single largest transport project seen in the UK in generations that on its own will provide an extra 10 per cent capacity to the rail-based public transport network </li>
<li><strong>To smooth traffic flows:</strong>&nbsp;making the best use of London's limited road space by re-phasing traffic lights and tackling the disruption caused by unplanned roadworks </li>
<li><strong>To lead a revolution in cycling and walking in London: </strong>facilitating a step change increase in the numbers of people travelling by these most environmentally friendly modes, including the Mayor's Cycle Hire and Cycling Super Highways projects </li>
<li><strong>To deliver London's 2012 transport projects and secure a lasting legacy:&nbsp;</strong>completing the East London line extension to the London Overground network and increasing capacity on an extended DLR </li>
<li><strong>To improve further the safety and security of the travelling public: </strong>building on the increased numbers of uniformed officers patrolling the buses and Tube </li>
<li><strong>To dramatically improve the experience of travelling in London:</strong>&nbsp;through, for example, the development and further roll-out to National Rail of the Oyster card, giving passengers better information, making buses safer, improving the urban realm, and introducing a 21st Century Routemaster bus</li></ul>
<p>The <a title="Business Plan" href="/corporate/about-tfl/investorrelations/1462.aspx">TfL Business Plan </a>is available on the TfL website.<br>&nbsp; </p>
<p>
<hr>
<strong>Notes to editors</strong> <strong></strong><br>Metropolitan Line, S Stock trains &nbsp; 
<ul>
<li>By 2015, the entire sub surface fleet will have been replaced with new rolling stock known as S stock.&nbsp;The Metropolitan line will be the first to receive the new trains, followed by the Circle and Hammersmith &amp; City lines, and finally the District line </li>
<li>The new trains will have a number of new features equipping them to run on the network for the next 30 to 40 years, including air conditioning, walk-through carriages, wheelchair areas, wider doors and walkways, better audio and visual information systems, CCTV and an energy efficient braking system </li>
<li>There will not be a need for early closures on sub surface railway for testing of the trains out of passenger hours. The majority of testing has been done at London Underground's test track at Old Dalby, enabling final testing to be carried out in normal engineering hours</li></ul>
<p>Achievements of the Plan: <br>By 2012, the TfL Business Plan will have delivered: </p>
<ul>
<li>The first of the large-scale Tube upgrades on the Jubilee, Victoria and Northern lines, each providing between 20 and 30 per cent more capacity into central London </li>
<li>The first ever air-conditioned trains on the Metropolitan, Circle, District and Hammersmith &amp; City lines </li>
<li>Three-car trains on the DLR providing a 50 per cent increase in capacity </li>
<li>The transformation of the London Overground network, which includes the East London line and North London line, with improved reliability and a doubling of capacity </li>
<li>Improvements to London's traffic flow, such as through the optimisation of traffic lights and co-ordination of roadworks </li>
<li>A new Routemaster fit for 21st Century London </li>
<li>A London cycle hire scheme and other major initiatives, such as cycle highways, to revolutionise cycling in London </li>
<li>A complete vision for the increased use of the Thames</li></ul>
<p>By 2018, this programme will have delivered: </p>
<ul>
<li>Crossrail, providing a 10 per cent increase in London's rail-based public transport capacity </li>
<li>Remaining Tube upgrades on the Piccadilly, District, Circle, Hammersmith &amp; City and Metropolitan lines - providing a 28 per cent increase in Tube capacity </li>
<li>Major improvements at key transport interchanges at Tottenham Court Road, Victoria, Bond Street and Paddington, relieving congestion and improving the environment for passengers </li>
<li>One million more people cycling and walking in London </li>
<li>A significant transport and regeneration legacy to follow a successful 2012 Games<br></li></ul>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "London's first air-conditioned Tube train arrived in the early hours of this morning. The new train, which will serve the Metropolitan Line from summer next year, is the first step in the replacement of the line's fleet, with 58 new trains rolling out by";}
        
        


 