


@{ViewBag.Title = "Future of Greenwich to Woolwich Arsenal river service guaranteed until 2013 ";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>Future of Greenwich to Woolwich Arsenal river service guaranteed until 2013 </h1>
        <div class="content-page-press-release">
        14 October 2009
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        &pound;269,000 deal between TfL, Greenwich Council and Thames Clippers sees river services to Woolwich Arsenal pier continue for a further four years.
        
    </div>



<div class="pull-quote">
        <div class="quote-body">"The service is proving to be an increasingly popular alternative"</div>
        <div class="quote-footer">
            <div class="quotee-name">Cllr Chris Roberts</div>
            <div class="quotee-job-title">Leader of Greenwich Council</div>
        </div>
</div>

 <div class="on-this-page">
<div class="pullquote right">
                        <p>
                            The service is proving to be an increasingly popular alternative 
                            
                        </p>
                    </div>
                
            
            
            <p>Transport for London (TfL) today announced that it has agreed to continue subsidising the Thames Clipper river service between The O2 in Greenwich and Woolwich Arsenal. <br>&nbsp; <br>The deal, which will be jointly funded by TfL and Greenwich Council, is worth &pound;269,000 over four years.</p>
<p>The funding means that the current levels of service between the QEII and Woolwich Arsenal pier will be maintained. <br>&nbsp; <br>Thames Clippers has served the Woolwich Arsenal pier since June 2005. </p>
<h2>New deal</h2>
<p>The route was originally subsidised by TfL, Greenwich Council and Berkeley Homes, however, this contract ended in January 2009.</p>
<p>Following discussions between TfL, Greenwich Council and Thames Clippers, a new deal has been agreed which has secured the river service until 2013.<br>&nbsp; <br>Kulveer Ranger, the Mayor of London's transport advisor, said: 'The Mayor's River Concordat group is working hard to maximise the use of the Thames to move Londoners around our city. </p>
<p>'The latest example being the good news that this important service will continue for a further four years.' </p>
<h2>Frequent and relaxing</h2>
<p>Mike Weston, Manager Director of London River Services, said: 'The Thames Clipper commuter service has grown in popularity over the last few years. </p>
<p>'This deal to secure the future of the service to Woolwich Arsenal pier means that Londoners can continue to benefit from a fast, frequent and relaxing service to and from the centre of London.'<br>&nbsp; <br>Cllr Chris Roberts, Leader of Greenwich Council, said: 'Greenwich Council's Clipper campaign earlier this year showed the strength of support that exists locally for a regular riverboat service. </p>
<p>'The service is proving to be an increasingly popular alternative with commuters and I'm delighted that Greenwich Council and TfL have been able to attract the funds to keep this service running to Woolwich for a further four years. </p>
<h2>Long-term benefit</h2>
<p>'Greenwich Council will continue to work for improved public transport links, which bring long-term benefit to the local economy, and which are vital to the borough's ongoing regeneration.'</p>
<p>Sean Collins, Managing Director and founder of Thames Clippers, commented: 'Thames Clippers is delighted that an agreement has been reached to ensure our current service to Woolwich will continue. </p>
<p>'We have always respected the development possibilities in this area and beyond into the Thames Gateway for fast ferry service to central London. </p>
<p>'This support by TfL and Greenwich Council will enable us to further demonstrate the potential Thames Clippers has in the future of London's transport network.'<br>&nbsp; <br>For further information about river services in London, visit <a href="http://www.tfl.gov.uk/rivers">www.tfl.gov.uk/rivers</a>&nbsp;&nbsp;<br>&nbsp;<br>Fnd out more about <a href="http://www.thamesclippers.com/">Thames Clippers</a>&nbsp;&nbsp; <br>
<hr>
&nbsp;&nbsp; <br><strong>Notes to editors:</strong> 
<ul>
<li>London River Services, a division of Transport for London, owns and operates eight passenger piers along the River Thames between Millbank and Greenwich and is responsible for integrating London's river transport services with the rest of the city's transport network </li>
<li>Since its creation in 2000, TfL has invested in promoting and expanding river services in London, with passenger numbers for 2009 currently up 11 per cent compared to 2008 </li>
<li>Thames Clippers is the fastest commuter river boat service on the Thames, running a 20-minute frequency between key London piers </li>
<li>Between January 2009 and October 2009, additional support, split equally by TfL and Greenwich Council, was paid to Thames Clippers to maintain the service while discussions regarding the subsidy were ongoing </li>
<li>Greenwich Council's contribution to the subsidy is drawn from sums that were paid to the Council under legal agreements by two housing developers - these were ringfenced for public transport improvements. In addition to the cash subsidy, Greenwich Council is also supporting the Clipper service by continuing to provide free use of the pier at Woolwich Arsenal </li>
<li>In April 2009, the Mayor of London signed a River Concordat with a number of boat operators along the Thames to help promote river services in London. As part of this agreement, TfL is working with Thames Clippers to introduce pay as you go Oyster on its passenger river services by late 2009</li></ul>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "Transport for London (TfL) today announced that it has agreed to continue subsidising the Thames Clipper river service between The O2 in Greenwich and Woolwich Arsenal. &nbsp; The deal, which will be jointly funded by TfL and Greenwich Council, is worth";}
        
        


 