


@{ViewBag.Title = "London moves a step closer to hydrogen buses";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>London moves a step closer to hydrogen buses</h1>
        <div class="content-page-press-release">
        29 October 2009
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        A major milestone has been reached in bringing a fleet of five hydrogen fuel cell buses to the Capital.
        
    </div>



<div class="pull-quote">
        <div class="quote-body">"Hydrogen has massive potential to cut carbon emissions and improve air quality in the Capital to enhance Londoners' quality of life"</div>
        <div class="quote-footer">
            <div class="quotee-name">Kit Malthouse</div>
            <div class="quotee-job-title">Chair of the London Hydrogen Partnership and Deputy Mayor for Policing</div>
        </div>
</div>

 <div class="on-this-page">
<div class="pullquote right">
                        <p>
                            Hydrogen has massive potential to cut carbon emissions and improve air quality in the Capital to enhance Londoners' quality of life
                            
                        </p>
                    </div>
                
            
            
            <p>The Olympic Delivery Authority has granted planning permission for a hydrogen refuelling facility to be built in east London.&nbsp;&nbsp; </p>
<p>First, who will operate the five hydrogen buses, were granted the planning permission for the facility to be located at their bus garage on Temple Mills Lane, Leyton. </p>
<p>Work is due to begin early in the New Year and should be complete by summer 2010.&nbsp;</p>
<h2>Tackle climate change </h2>
<p>The five hydrogen hybrid fuel cell buses are due to join Transport for London's (TfL) bus fleet next year operating on route RV1 which runs between Covent Garden and Tower Gateway.&nbsp;</p>
<p>The buses will be refuelled and maintained at the Temple Mills Lane site. </p>
<p>Hydrogen buses will help the Mayor and TfL in their bid to tackle climate change and reduce CO2 in the Capital.&nbsp;</p>
<p>The buses emit nothing but water vapour, helping to improve air quality and traffic noise in the areas they are operating.&nbsp;</p>
<h2>Cleaner energy</h2>
<p>Kit Malthouse, Chair of the London Hydrogen Partnership and Deputy Mayor for Policing, said: 'This is excellent news which secures the arrival of five zero-polluting hydrogen buses on London's streets next year.&nbsp;</p>
<p>'With the right refuelling structure, we can expand our use of hydrogen technology to provide cleaner fuel for transport and greener energy to heat homes and businesses.</p>
<p>'Hydrogen has massive potential to cut carbon emissions and improve air quality in the Capital to enhance Londoners' quality of life.'</p>
<p>David Brown, Managing Director of Surface Transport, said: 'The Mayor and TfL are committed to reducing the impact of public transport on the environment.&nbsp;</p>
<p>'Gaining planning permission for the refuelling station means we are one step closer to operating hydrogen buses in London.' </p>
<h2>Plans to increase fleet</h2>
<p>Adrian Jones, Managing Director of First in London, said: 'First continually seeks to find ways to reduce carbon emissions in its delivery of transport services.&nbsp;</p>
<p>'Working in partnership with TfL to operate five hydrogen buses in London should deliver significant improvements and we welcome the planning permission.'</p>
<p>Air Products will supply the hydrogen and refuelling equipment.&nbsp;</p>
<p>They will also provide specialist maintenance equipment. </p>
<p>TfL is also applying for additional funding from the Europe Union to increase the hydrogen bus fleet to eight buses. </p>
<p><br></p>
<p>
<hr>

<p>
<p><strong>Notes to editors: </strong></p>
<ul>
<li>TfL is a member of the Hydrogen Bus Alliance, an international partnership whose members are committed to supporting the continued and rapid development and commercialisation of hydrogen technology in the transport sector </li>
<li>First submitted a planning application to build hydrogen bus maintenance and refuelling facilities in their bus garage on Temple Mills Lane, Waltham Forest, in August 2008 </li>
<li>First's bus garage on Temple Mills Lane also houses diesel buses </li>
<li>There are currently 56 hybrid buses operating in London's bus fleet.&nbsp;TfL is committed to increasing the number of diesel electric hybrid buses and expects every new bus entering the fleet to be a hybrid from 2012.</li></ul>
<p>&nbsp;</p>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "The Olympic Delivery Authority has granted planning permission for a hydrogen refuelling facility to be built in east London.&nbsp;&nbsp; First, who will operate the five hydrogen buses, were granted the planning permission for the facility to be located";}
        
        


 