


@{ViewBag.Title = "London Underground pay offer accepted by TSSA union";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>London Underground pay offer accepted by TSSA union</h1>
        <div class="content-page-press-release">
        12 October 2009
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        Eight out of ten voting in referendum opt for above-inflation pay increase
        
    </div>



<div class="pull-quote">
        <div class="quote-body">"I welcome TSSA members' acceptance of our very fair pay offer"</div>
        <div class="quote-footer">
            <div class="quotee-name">Richard Parry</div>
            <div class="quotee-job-title">Managing Director of LU</div>
        </div>
</div>

 <div class="on-this-page">
<div class="pullquote right">
                        <p>
                            I welcome TSSA members' acceptance of our very fair pay offer
                            
                        </p>
                    </div>
                
            
            
            <p>London Underground (LU) has welcomed the news that TSSA union members have voted to accept the above inflation, two-year pay offer which the company has put to all unions.&nbsp; </p>
<p>Eighty-five per cent of those who voted were in favour of the offer.</p>
<p>LU&nbsp;has tabled a two-year offer to all unions which would see staff pay increase by 1.5 per cent this year and RPI + 0.5 per cent in spring 2010.</p>
<p>Richard Parry, Managing Director of LU, said: 'I welcome TSSA members' acceptance of our very fair pay offer, and their leadership's willingness to put the offer to those members.' </p>
<h2>Fair and affordable</h2>LU also condemned the news from the RMT that they will be balloting their members for strike action on pay. 
<p>
<p>Richard Parry said: 'We have made a final, fair and affordable pay offer which would give our staff above-inflation pay rises for two years, in a challenging economic climate.&nbsp; </p>
<p>'It is extremely disappointing that the RMT is now threatening unnecessary and damaging strike action. </p>
<p>'I urge all of our unions to put this offer to their members with a recommendation to accept.'</p>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "London Underground (LU) has welcomed the news that TSSA union members have voted to accept the above inflation, two-year pay offer which the company has put to all unions.&nbsp; Eighty-five per cent of those who voted were in favour of the";}
        
        


 