


@{ViewBag.Title = "London Buses seeks your views on changes to route 354";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>London Buses seeks your views on changes to route 354</h1>
        <div class="content-page-press-release">
        01 October 2009
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        London Buses is seeking the views of local residents and bus users on proposed changes to route 354 to provide a direct link with train services from Ravensbourne Station.
        
    </div>



<div class="pull-quote">
        <div class="quote-body">"The proposed amendments to route 354 would provide a more direct service for passengers and a bus link to Ravensbourne Station"</div>
        <div class="quote-footer">
            <div class="quotee-name">Peter Bradley</div>
            <div class="quotee-job-title">Head of Consultation and Engagement</div>
        </div>
</div>

 <div class="on-this-page">
<div class="pullquote right">
                        <p>
                            The proposed amendments to route 354 would provide a more direct service for passengers and a bus link to Ravensbourne Station
                            
                        </p>
                    </div>
                
            
            
            <p>London Buses is seeking the views of local residents and bus users on proposed changes to route 354 to provide a direct link with train services from Ravensbourne Station.</p>
<p>The proposed change is between Foxgrove Road and Farnaby Road where the amended route would run along Ravensbourne Avenue and Crab Hill.&nbsp;</p>
<p>Buses would no longer serve Downs Hill and Ravensbourne Avenue (south of Farnaby Road) and bus stops and shelters on these roads would be removed. </p>
<h2>Station access</h2>
<p>The proposals would mean the route would now stop at Ravensbourne Station, providing better links with train services.&nbsp;</p>
<p>They would also reduce bus journey times for passengers along this section of the route. </p>
<p>Peter Bradley, Head of Consultation and Engagement, said: 'The proposed amendments to route 354 would provide a more direct service for passengers and a bus link to Ravensbourne Station. </p>
<h2>Have your say</h2>
<p>'We're keen to hear the views of passengers and local residents on the proposals and I would encourage them to respond to the consultation.'</p>
<p>The service would continue to use single deck buses and run every 20 minutes Monday to Saturday during the day and every 30 minutes in the evenings.&nbsp; </p>
<p>There is no Sunday service on the route. </p>
<p>The consultation opens on 2 October 2009, information on the proposals will be available on the Transport for London (TfL) website from that date.&nbsp;</p>
<p>The consultation closes on 27 November 2009.</p>
<p>Those who wish to respond to the consultation can do so via the TfL website (tfl.gov.uk/busrouteconsultation) or by contacting London Buses Customer Services on 0845 300 7000.</p>
<p>
<hr>

<p>
<p><strong>Notes to editors:</strong></p>
<ul>
<li>The proposed locations for the new bus stops are;<br>Towards Beckenham<br>-&nbsp;Crab Hill outside Ravensbourne Station<br>-&nbsp;Ravensbourne Avenue opposite junction with Ravensmead Road<br>Towards Bromley<br>-&nbsp;Crab Hill outside Ravensbourne Station, just east of the railway bridge<br>-&nbsp;Ravensbourne Avenue south of junction with Ravensmead Road </li>
<li>Six bus stops and shelters on Ravensbourne Avenue (south of Farnaby Road) and Downs Hill would be removed: three towards Penge and three towards Bromley </li>
<li>London Buses Customer Services can be contacted by:<br>-&nbsp;telephone on 0845 300 7000&nbsp;<br>-&nbsp;email at <a href="mailto:customerservices&#64;tfl-buses.co.uk">customerservices&#64;tfl-buses.co.uk</a>&nbsp;<br>-&nbsp;post at London Buses Customer Services, 4th floor, Palestra, 197 Blackfriars Road, London SE1 8NJ<br></li></ul>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "London Buses is seeking the views of local residents and bus users on proposed changes to route 354 to provide a direct link with train services from Ravensbourne Station.The proposed change is between Foxgrove Road and Farnaby Road where the amended";}
        
        


 