


@{ViewBag.Title = "Mayor outlines Congestion Charge overhaul";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>Mayor outlines Congestion Charge overhaul</h1>
        <div class="content-page-press-release">
        15 October 2009
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        This press release was originally issued by the Greater London Authority press office under reference GLA/2009/517.
        
    </div>



<div class="pull-quote">
        <div class="quote-body">"Drivers registering for CC Auto Pay can rest assured they'll never receive a penalty charge again"</div>
        <div class="quote-footer">
            <div class="quotee-name">Boris Johnson</div>
            <div class="quotee-job-title">Mayor of London</div>
        </div>
</div>

 <div class="on-this-page">
<div class="pullquote right">
                        <p>
                            Drivers registering for CC Auto Pay can rest assured they'll never receive a penalty charge again
                            
                        </p>
                    </div>
                
            
            
            <ul>
<li>New automated payment system proposed to make it easier to pay the Charge </li>
<li>An end to fines for those who opt in</li></ul>

<p>The Mayor of London, Boris Johnson, today honoured his election pledge to make the Congestion Charge fairer and easier as he announced plans for a number of changes to the scheme next year.&nbsp; </p>
<p>Proposals include the introduction of an automated account system to make it easier for customers to pay the charge and to avoid having to pay fines, and an increase in the Congestion Charge designed to maintain the benefits of reduced traffic in central London.</p>
<p>These measures would sit alongside the proposed removal of the Western Extension of the Zone and a range of mitigation measures, and would all be introduced by December 2010 subject to legal processes.</p>
<p>The proposed changes, subject to the necessary consultations on the Mayor's Transport Strategy and any subsequent Variation Order, are as follows: </p>
<ul>
<li>Removal of the Western Extension of the Congestion Charging zone </li>
<li>Introduction of automated payment account system, provisionally entitled CC Auto Pay </li>
<li>Increase of the daily charge to &pound;9 for CC Auto Pay customers </li>
<li>Increase of the daily charge to &pound;10 for customers who do not take up CC Auto Pay and continue to pay through existing payment channels </li>
<li>Removal of the &pound;1 fleet discount so that fleet operators will pay the same per vehicle as customers using CC Auto Pay&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </li></ul>
<p>Mayor of London, Boris Johnson said: 'I pledged to make the Congestion Charge fairer and easier to pay and these measures will make that a reality. Once introduced, drivers registering for CC Auto Pay can rest assured they'll never receive a penalty charge again.&nbsp; </p>
<p>'The proposed increase in the Charge will ensure that the system remains effective in controlling traffic levels in central London, and the revenue will also help us fund the vital improvements to London's transport network that all Londoners want to see.'</p>
<p>The automated payment account system will mean that motorists who register for an account can pay the Congestion Charge by debit or credit card, or by Direct Debit and avoid the possibility of ever receiving a penalty charge.&nbsp;</p>
<p>The new system, provisionally entitled CC Auto Pay, would calculate the number of journeys a vehicle makes within the zone each week, and debit customers' accounts on a weekly basis.&nbsp;Motorists who continue to use existing payment methods would be charged &pound;10 per day.&nbsp; </p>
<p>Should they go ahead, these proposed changes would come into effect by December 2010.&nbsp;</p>
<p>This is to allow for the necessary public and stakeholder consultations and the other statutory processes involved, and to ensure Transport for London (TfL) can introduce all the changes at the same time and put in place mitigation measures should the Western Extension be removed (see notes to editors for more detail on these and on the consultation process).</p>
<p>
<hr>
<br>
<p>
            <p><strong>Notes to editors:</strong></p>
<ul>
<li>The Congestion Charge is currently &pound;8 per day</li>
<li>Operators of fleets with&nbsp;10 or more vehicles can currently apply for a fleet discount, in which they receive a &pound;1 discount on the &pound;8 charge.&nbsp;The new automated payment system would enable everyone to share the reduced hassle of automated payment currently enjoyed only by larger fleet operators</li></ul>
<p><strong>Proposed removal of the Western Extension of the Congestion Charge by December 2010:</strong></p>
<ul>
<li>The Mayor has made clear he is minded to remove the Western Extension of the Congestion Charge zone, following overwhelming public support during a consultation on it in 2008.&nbsp;Earlier this week (Monday 12 October), a three month public and stakeholder consultation began on the Mayor's revised draft Transport Strategy. This includes a proposal to remove the Western Extension and sets out his reasons supporting the proposal</li>
<li>The Mayor will carefully consider all representations received in response to that consultation, and will comply with his legal obligations before making a decision on the removal of the Western Extension.&nbsp;The final version of the Transport Strategy is due to be published in spring 2010</li>
<li>If the Mayor decides to remove the Western Extension, then a variation order to the Congestion Charge scheme will be made by TfL.&nbsp;Further statutory public consultation will then take place on the detail and the Mayor will decide whether or not to confirm its removal (as originally proposed or modified)</li></ul>
<p><strong>Mitigation measures for removing the Western Extension:</strong></p>
<p>TfL will seek to minimise the impact of removing the Western Extension of the Congestion Charge zone. A number of schemes are being introduced or have been proposed, which should help to keep traffic moving in west London.&nbsp;These include: </p>
<ul>
<li>TfL intends to install SCOOT (split, cycle and offset optimisation technique), at 51 junctions within the Western Extension Zone.&nbsp;SCOOT is a highly sophisticated method of traffic control using sensors buried in the road to change traffic signal timings according to current traffic demand.&nbsp;These should all be operational by the end of 2010</li>
<li>Re-phasing of traffic signals to get traffic flowing more smoothly, without affecting the safety of pedestrians and vulnerable road users. Benefit is being derived from improvements to the coordination of adjacent signals which reduces the amount of stopping and starting between traffic signal junctions</li>
<li>The introduction of the London Cycle Hire scheme in summer 2010 will encourage more people to cycle in London</li>
<li>The proposed London Permit Scheme, awaiting approval from the Secretary of State, has the potential to significantly improve the management (and therefore reduce the impact) of roadworks in the area</li>
<li>Almost every school in the Western Extension area will have a school travel plan in place by the end of 2009. TfL is also working with a number of businesses in the area to develop workplace travel plans<br></li></ul>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "New automated payment system proposed to make it easier to pay the Charge An end to fines for those who opt inThe Mayor of London, Boris Johnson, today honoured his election pledge to make the Congestion Charge fairer and easier as he announced plans for";}
        
        


 