


@{ViewBag.Title = "Mayor takes action to sustain vital investment and front line services for London transport network";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>Mayor takes action to sustain vital investment and front line services for London transport network</h1>
        <div class="content-page-press-release">
        15 October 2009
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        This press release was originally issued by the Greater London Authority press office under reference GLA/2009/518.
        
    </div>



<div class="pull-quote">
        <div class="quote-body">"With this package we can protect the elderly, the young, the poorest, and disabled Londoners, and can go forward to deliver the vital improvements that Londoners deserve"</div>
        <div class="quote-footer">
            <div class="quotee-name">Boris Johnson</div>
            <div class="quotee-job-title">Mayor of London</div>
        </div>
</div>

 <div class="on-this-page">
<div class="pullquote right">
                        <p>
                            With this package we can protect the elderly, the young, the poorest, and disabled Londoners, and can go forward to deliver the vital improvements that Londoners deserve
                            
                        </p>
                    </div>
                
            
            
            <ul>
<li>TfL finances hit hard by PPP firm Metronet and falling Tube passenger numbers </li>
<li>Focus on value for money delivers large savings at TfL&nbsp; </li>
<li>Mayor protects elderly, young people, those on low incomes and reaffirms commitment to tackle delays and overcrowding on the transport system</li></ul>
<p>Mayor of London, Boris Johnson today acted to ensure that vital improvements to London's transport system continue to be delivered and front line services protected in the face of huge financial pressures on Transport for London (TfL) caused by factors including the collapse of Metronet, a recession-linked fall in Tube ridership, and the fares policy of the former administration.</p>
<p>Announcing his plans for Tube and bus fares, the Mayor said he had protected free and concessionary fares for London's elderly, young people and those on low incomes.&nbsp;</p>
<p>A total of 40 per cent&nbsp;of bus passengers will continue to travel free or at a substantial concessionary rate and the Freedom Pass will continue to be valid for travel 24hrs a day on all TfL services. The Mayor also made clear that his approach to fares and investment would bring stability to TfL's financial position, in sharp contrast to the damaging volatility and uncertainty brought about by the previous administration's approach.</p>
<p>The fares package for 2010 means that, overall, bus fares will rise by 12.7 per cent and Tube fares by 3.9 per cent.&nbsp; This is comparable to fare increases introduced in 2005 and 2006, when bus and Tube fares increased by 12.7 per cent and&nbsp;4 per cent, and then by 12.9 per cent and 3.9 per cent respectively.</p>
<p>The Mayor also set out changes to the operation of London's Congestion Charge scheme, including plans to make it easier to pay and avoid penalty charge notices through the introduction of payment on account in 2010. </p>
<p>The Mayor said: 'Nobody wants to make an announcement like this, especially when Londoners are feeling the effects of the recession. </p>
<p>'It is not a decision that I have taken lightly.&nbsp;Indeed, I have been persuaded of the need for fare rises only after ensuring that every efficiency possible, at least &pound;5bn in total, is being made at TfL.</p>
<p>'However the mistakes of the past and the current economic climate have conspired to present us with a huge challenge. </p>
<p>'The crucial thing is that we safeguard the investment in our city's future and that's why I'm asking Londoners to accept this difficult decision. </p>
<p>'With this package we can protect the elderly, the young, the poorest, and disabled Londoners, and can go forward to deliver the vital improvements that Londoners deserve - including Crossrail, the upgrade of eight Tube lines, new trains, the cycling revolution, and a host of other improvements ahead of the 2012 Games.</p>
<p>'I know that Londoners value hugely the expansion of, and improvements to, the buses and Tube and the free or concessionary fares available for many passengers.&nbsp;I share that view.&nbsp;Yet it is now clear to everyone that the era of ever-rising funding from the taxpayer is now firmly at an end.&nbsp;</p>
<p>'I will need to take this into account when it comes to setting fares in future years.&nbsp;But I am determined to ensure that fares in London will continue to deliver excellent value for money, particularly when compared to the fares charged in other UK cities.'</p>
<p>The full fares package is set out separately, but the main elements are:</p>
<ul>
<li>Oyster pay as you go bus fare from &pound;1.00 to &pound;1.20 </li>
<li>A seven day bus pass from &pound;13.80 to &pound;16.60 </li>
<li>On the Tube, the Zone 1 Oyster pay as you go fare from &pound;1.60 to &pound;1.80 </li>
<li>Most other Oyster pay as you go fares on Tube also increase by 20p, with larger increases in some longer distance peak fares </li>
<li>While there is no set formula by which fares are decided, TfL's planning assumption will be that fares will rise RPI+2 percent&nbsp;each year.&nbsp; However, the actual level of fares will be decided by the Mayor </li>
<li>The vast majority of Travelcard prices will be frozen across the network </li>
<li>By using Oyster, Londoners will continue to receive best value single journey and daily prices across the TfL network, including the daily price cap </li>
<li>Plans to ensure Oyster, including pay as you go, can be used on all national rail services within Greater London are progressing, and the Mayor expects to be able to make an announcement on this shortly</li></ul>
<p>While all of the major schemes to deliver increases in transport capacity and reliability go ahead, the Mayor also set out further steps which are included in TfL's Business Plan, which is to be considered by the TfL Board next week. </p>
<p>These include the deferral by three years of all remaining former Metronet Tube station renewals, the work to upgrade Victoria Tube station now to be complete in 2018, available resources for step-free access schemes on the Tube targeted at the stations where they can deliver the greatest benefit for the largest number of passengers, and some limited bus service reductions, and minor reductions in service on a few sections of the Tube, to reflect changes in passenger demand.
<hr>
<br></p>
            <p><strong>Notes to editors:</strong></p>
<ul>
<li>The full fares package is set out in the accompanying <a href="/assets/downloads/TfL_2010_Fares_-_Media_Briefing_Note_151009.pdf">TfL 2010 Fares - Media Briefing Note (PDF 65KB)</a>, but see below key facts and figures on London average fares, including comparisons with previous years and other major UK cities </li>
<li>Around 40 per cent&nbsp;of London's bus passengers will continue to travel free or at a substantial concessionary rate.&nbsp;Average bus fares will remain around 10 per cent&nbsp;lower in real terms than in 2000 and continue to be materially lower when compared to other major cities in the UK.&nbsp;Even allowing for the rise in 2010, TfL calculates that the average price paid per bus trip in London will be 69 pence (excluding all free travel inc. for the young and elderly), compared to an average of up to 98p pence for other major UK cities. Weekly London Bus Pass holders in practice make nearly 30 bus trips a week and so will pay around 60p for each trip.&nbsp; This remains good value for money for one of the most comprehensive, frequent and accessible bus services anywhere </li>
<li>The average TfL fare paid per bus trip is calculated by comparing all ticket types - including Oyster PAYG, single cash fares Bus Pass seasons and Travelcards - with total bus passenger numbers </li>
<li>Both TfL and UK average fares exclude all free travel. The UK average bus fare has been calculated using the average UK Passenger Transport Executive fares at 2006/7 prices published in the 'Public Transport Statistics Bulletin', and then factoring for inflation in subsequent years </li>
<li>The new fares package will preserve the vast improvements that have been made on the bus service, while also tackling the ever-escalating, and ultimately unsustainable, level of taxpayer subsidy which has risen from &pound;24m in 2000 to &pound;602m in this financial year </li>
<li>Passenger numbers are up by 64 per cent&nbsp;since 2001 to well over 2bn, their highest levels since the 1960s. The Mayor is determined to maintain improvements to the network, on which many Londoners rely, while bringing public subsidy of the bus network back under control.&nbsp; However, any further improvements to the bus network will only be implemented through efficiencies delivered elsewhere </li>
<li>On the Tube, public subsidy has grown to around &pound;700m whereas Tube fares have increased by only 5 per cent&nbsp;in real terms since 2000 and are cheaper when the rise in average earnings is taken into account.&nbsp; The current Zone 1 Oyster pay as you go fare at &pound;1.60 is the same as the single cash fare in 2000.&nbsp; At the same time, passenger numbers have risen to over one billion a year and an unprecedented programme of renewal and improvement is underway </li>
<li>TfL has now more than doubled its savings to a total of &pound;5bn over the period to 2018 and TfL's management are now working on detailed plans to deliver this </li>
<li>Changes to the London Congestion Charge Scheme are detailed in the accompanying press release<br><br></li></ul>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "TfL finances hit hard by PPP firm Metronet and falling Tube passenger numbers Focus on value for money delivers large savings at TfL&nbsp; Mayor protects elderly, young people, those on low incomes and reaffirms commitment to tackle delays and";}
        
        


 