


@{ViewBag.Title = "New report shows Countdown could be solution to pedestrian confusion at traffic lights";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>New report shows Countdown could be solution to pedestrian confusion at traffic lights</h1>
        <div class="content-page-press-release">
        07 October 2009
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        New research reveals two-thirds of pedestrians are&nbsp;confused about the amount of time they have to cross road safely.
        
    </div>



<div class="pull-quote">
        <div class="quote-body">"We are keen to look into whether an innovative Countdown system could improve pedestrian's safety"</div>
        <div class="quote-footer">
            <div class="quotee-name">Kulveer Ranger</div>
            <div class="quotee-job-title">the Mayor of London's transport adviser</div>
        </div>
</div>

 <div class="on-this-page">
<div class="pullquote right">
                        <p>
                            We are keen to look into whether an innovative Countdown system could improve pedestrian's safety
                            
                        </p>
                    </div>
                
            
            
            <p>The report's findings support the Mayor's desire to consider introducing countdown systems on crossings in the Capital.</p>
<p>Electronic countdown systems, at pedestrian traffic signals could give people clearer information about how long they have to cross the road after the green man has gone out, according to a new study for Transport for London (TfL). </p>
<p>Countdown could have great benefits for everyone on London's roads, helping pedestrians to feel safer by removing any uncertainty they may have when crossing and helping to smooth traffic flow.&nbsp; </p>
<h2>Right of way</h2>
<p>Results from the research support TfL's belief that many pedestrians assume the green man displayed at junctions is the only safe time to cross the road. </p>
<p>In fact, the green man signals the invitation to start crossing the road.&nbsp; </p>
<p>The blackout period that follows the green man at junctions then continues to give people the right of way to complete their crossings before the red light is displayed and vehicles are given their green light to move. </p>
<p>Even if a pedestrian steps off the kerb as the green man signal goes out and the blackout period begins, they will still have enough time, based on Department for Transport (DfT) guidelines, to safely make it to the other side of the road before vehicle traffic moves off. </p>
<h2>Time to cross</h2>
<p>During a two month TfL study, which specifically looked at the effect on road users of reducing the green man, the behaviour of pedestrians was monitored and recorded, including their understanding of the different phases of pedestrian traffic signals.&nbsp; </p>
<p>Some pedestrians, and in particular those with mobility problems and other impairments, felt more rushed or on occasion even stopped half way across the road when the green man signal was reduced, even though they still had sufficient time to cross the road during the blackout period. </p>
<p>Kulveer Ranger, the Mayor of London's transport adviser, said: 'These initial findings indicate that pedestrians are playing a guessing game when they consider how much time they have to cross the road.</p>
<p>'We are keen to look into whether an innovative Countdown system could improve pedestrian's safety by easing the uncertainty they feel when the green man disappears and split second decisions are made about whether it is still safe to cross. </p>
<h2>No measurable impact</h2>
<p>'TfL is now testing electronic countdown systems and I look forward to seeing a full report when that work is complete.'</p>
<p>The TfL study, which was conducted by road safety researchers TRL, showed that while there was no measurable impact on safety when reducing the green man time within the DfT limits on crossing time, there was an increase in the number of pedestrians who chose not to comply with signals at traffic lights, and made their own assessment of whether to cross during the red man phase. </p>
<p>TfL is working hard on ways to encourage Londoners to use the roads more safely, including ensuring that children are taught life-lasting road safety lessons from a young age.</p>
<p>Alan Bristow, TfL's Director of Traffic Operations, said: 'The current signalling system for pedestrians provides enough time to get across the road safely and without rushing, however, this important research shows that many pedestrians do not fully understand how much time is given to them to cross. </p>
<h2>Building Countdown</h2>
<p>'The countdown system that we are investigating would give people much more certainty about how much time they have to cross, helping them feel safer and smoothing traffic flow.'</p>
<p>Trials are currently being carried out by TfL to test the feasibility of building countdown into London's traffic signals. </p>
<p>Discussions are ongoing with the DfT to provide the evidence required before they can consider approving its use.</p>
<p>If found to be suitable for the Capital, and if approved by the DfT, electronic countdown could be installed at many of London's junctions with signalised crossings, providing an electronic countdown after the green man, to indicate how much time remains before the red man is displayed.&nbsp; </p>
<p>The Capital could become the first major city in England to introduce it.</p>
<p>
<hr>

<p>
<p><strong>Notes to editors:</strong></p>
<ul>
<li>Read:&nbsp;&nbsp;</li>
<ul type="circle">
<li><a href="http://londonroadsafety.tfl.gov.uk/www/downloads/publications/report_retimed-signals-research-summary_oct-09.pdf">'The effect of re-timed invitation to cross periods on road user behaviour at signalised junctions in London'</a> </li>
<li><a href="http://londonroadsafety.tfl.gov.uk/www/downloads/publications/report_retiming-signals_oct-09.pdf">TfL's research summary</a>&nbsp; </li></ul>
<li>Significant findings of the study included:&nbsp;&nbsp;&nbsp; 
<ul type="circle">
<li>Overall, around half of all pedestrians cross against the red man signal </li>
<li>60 per cent of pedestrians did not correctly understand the purpose of the blackout period </li>
<li>67 per cent of impaired pedestrians interviewed did not understand the blackout period </li>
<li>90 per cent of conflicts at crossings - pedestrian or vehicle braking or changing direction, or physical contact (of which there were zero during the study) - involved a pedestrian crossing during the red man</li></ul></li>
<li>During the experimental re-timing of the green man invitation to cross period, the overall signal cycle times did not change and so the time taken from the green man was re-allocated to the green light for vehicular traffic. This resulted in an increase in vehicle throughput through the junctions of 6.5 per cent. Pedestrian countdown technology would help to give pedestrians more confidence and certainty in how long they have to cross the road by displaying the explicit countdown information, which could then provide the potential at some junctions to re-allocate 'un-used' green man time back to traffic and help to smooth traffic flow in London </li>
<li>TfL is working with the Mayor of London on a range of measures to smooth traffic flow in the Capital, including: 
<ul type="circle">
<li>Working with utility companies to reduce the impact of the works they do to repair and replace ageing infrastructure across the Capital through measures such as introducing a permit scheme, using plating to cover excavations when work is not in progress, maximising off peak working, and limiting the amount of excavation for essential works </li>
<li>Motorcyclists are being allowed in the majority of TfL-controlled bus lanes. Motorcyclists are able to share red route bus lanes with buses, cyclists and licensed black taxis on a trial basis for 18 months (began January 2009)</li></ul></li></ul>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "The report's findings support the Mayor's desire to consider introducing countdown systems on crossings in the Capital.Electronic countdown systems, at pedestrian traffic signals could give people clearer information about how long they have to cross the";}
        
        


 