


@{ViewBag.Title = "Revised P13 route to improve reliability for passengers";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>Revised P13 route to improve reliability for passengers</h1>
        <div class="content-page-press-release">
        02 October 2009
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        Changes will be introduced to bus route P13 from Saturday, 10 October 2009.
        
    </div>



 <div class="on-this-page">
<p>Buses on route P13 will no longer run along Asylum Road and Old Kent Road between Peckham and New Cross Gate.&nbsp; </p>
<p>Instead, the route will run direct along Queens Road.</p>
<p>The changes to route P13 will help improve the overall reliability of the service.&nbsp; </p>
<p>Most journeys on the route will be quicker as a result, and while some existing direct links will no longer be available, all stops on Asylum Road will continue to be served by route P12.&nbsp; </p>
<p>There are also several high frequency bus services that run along the Old Kent Road. </p>
<p>John Barry, Head of Network Development, London Buses, said: 'The changes to route P13 should help improve the reliability of the service and make many passengers' journeys quicker.'</p>
<p>The changes have been introduced following a review of the route and consultation with stakeholder groups in February 2009. </p>
<p>Route P13 will continue to be run by Travel London and will use single deck buses.&nbsp; </p>
<p>The frequency will remain at a bus every 20 minutes during the day and 30 minutes evenings and Sundays. </p>
<p>
<hr>
<strong>Notes to editors:<p>
<ul>
<li></li></ul></strong>Buses on route P13 will run on the current route between Streatham and Queens Road Station via Dulwich Common, East Dulwich and Peckham.&nbsp;Between Queens Road Station and New Cross Gate (Sainsbury's), they will run direct along Queens Road. They will no longer serve Asylum Road and Old Kent Road
<li>Alternative bus routes on Old Kent Road are: 21, 53, 172 and 45</li>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "Buses on route P13 will no longer run along Asylum Road and Old Kent Road between Peckham and New Cross Gate.&nbsp; Instead, the route will run direct along Queens Road.The changes to route P13 will help improve the overall reliability of the";}
        
        


 