


@{ViewBag.Title = "Statement on the resignation of Ian Morbin";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>Statement on the resignation of Ian Morbin</h1>
        <div class="content-page-press-release">
        26 October 2009
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        Transport for London (TfL) today issued the following statement about the resignation of Ian Morbin, a Customer Service Assistant at Holborn Tube station.
        
    </div>



 <div class="on-this-page">
<p>Mr Morbin was involved in an incident with a customer at Holborn Tube station on 15 October 2009.</p>
<p>A TfL spokesperson said:&nbsp; 'Mr Ian Morbin, a Customer Service Assistant at Holborn Tube station, has advised London Underground that he wishes to resign for personal reasons.&nbsp; </p>

<p>'He has informed us he would like to apologise for the incident involving a passenger at Holborn Tube station on Thursday 15 October and hopes that his actions have not detracted from the professional job done by hundreds of London Underground staff every day.</p>
<p>'We have accepted Mr Morbin's resignation with immediate effect.&nbsp; </p>

<p>'As we made clear from the moment this incident was brought to our attention this kind of behaviour is totally unacceptable and does not represent the way our staff go about their jobs helping millions of customers every day.'</p>
<p>&nbsp;</p>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "Mr Morbin was involved in an incident with a customer at Holborn Tube station on 15 October 2009.A TfL spokesperson said:&nbsp; 'Mr Ian Morbin, a Customer Service Assistant at Holborn Tube station, has advised London Underground that he wishes to resign";}
        
        


 