


@{ViewBag.Title = "TfL starts consultation on removing Tottenham Hale gyratory";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>TfL starts consultation on removing Tottenham Hale gyratory</h1>
        <div class="content-page-press-release">
        26 October 2009
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        Proposed transport scheme would return gyratory system to two-way traffic and create a new bus station and public square for the area.
        
    </div>



<div class="pull-quote">
        <div class="quote-body">"This scheme should make the area more pleasant and safer for pedestrians, cyclists, road users and the local community"</div>
        <div class="quote-footer">
            <div class="quotee-name">Brian Haley</div>
            <div class="quotee-job-title">Cabinet Member for Environment and Conservation at Haringey Council</div>
        </div>
</div>

 <div class="on-this-page">
<div class="pullquote right">
                        <p>
                            This scheme should make the area more pleasant and safer for pedestrians, cyclists, road users and the local community
                            
                        </p>
                    </div>
                
            
            
            <p>Transport for London (TfL) has begun a six week public consultation on proposed improvements to the road layout around Tottenham Hale.</p>
<p>The proposals include:</p>
<ul>
<li>Converting the gyratory system to two-way traffic </li>
<li>Better facilities and access for pedestrians and cyclists </li>
<li>Reduced volume of traffic on Broad Lane </li>
<li>New larger bus station at Tottenham Hale station, and more convenient bus stops </li>
<li>New public square at Tottenham Hale station </li>
<li>Improved access to properties for residents and businesses. </li></ul>
<p>The existing one-way system in Tottenham Hale currently has high volumes of traffic and few pedestrian crossings. </p>
<h2>Reduced traffic</h2>
<p>The proposed scheme will look to reduce the impact of traffic on the local area while still allowing for potential future traffic growth from local developments.</p>
<p>Dick Halle, Director of Strategy at TfL, said: 'TfL's transport plans for Tottenham Hale would create a new public square and a safer environment for pedestrians, cyclists, road users and the local community, and make a major contribution to the continued regeneration of the area.&nbsp;</p>
<p>'As well as converting the gyratory to a two-way road system, the scheme would also provide a new, larger, more accessible bus station at Tottenham Hale.&nbsp; </p>
<p>'More convenient bus stops, particularly at Seven Sisters station, and a range of cycling improvements for local residents are also key to the scheme.' </p>
<h2>Safer for pedestrians</h2>
<p>Cllr Brian Haley, Cabinet Member for Environment and Conservation at Haringey Council, said: 'The existing one-way system has high volumes of traffic and few pedestrian crossings, creating a barrier to properties within the one way system.</p>
<p>'This new scheme should make the area more pleasant and safer for pedestrians, cyclists, road users and the local community.</p>
<p>'I hope residents will carefully consider the information sent to them and visit the library to get even more information about this.' </p>
<h2>Public exhibition</h2>
<p>TfL will be holding a public exhibition at the Marcus Garvey Library from 2 November to 4 December.&nbsp; </p>
<p>TfL staff will be available to discuss the scheme and answer questions on Thursday 5 November and Friday 6 November, 10:00 until 19:00 and Saturday 7 November, 10:00 until 17:00.</p>
<p>If the proposals are approved, they would be jointly funded by TfL, Haringey Council and the London Development Agency. TfL would begin construction work on the scheme in autumn 2012. </p>
<p>The consultation will run until 4 December 2009. For more information on the proposals, visit <a href="http://www.tfl.gov.uk/tottenhamhalescheme">www.tfl.gov.uk/tottenhamhalescheme</a> </p>
<p>&nbsp;</p>
<p>
<hr>
<strong>Notes to editors:</strong></p>
<ul>
<li>Once started, the improvement works will take 18 months to complete</li>
<li>The project is part of the TfL Investment programme, which funds works that improves London's transport system and enhance the urban environment</li>
<li>TfL manages the red routes - a network of 580km of London's roads, which carry over 33 per cent of the Capital's traffic <br></li></ul>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "Transport for London (TfL) has begun a six week public consultation on proposed improvements to the road layout around Tottenham Hale.The proposals include:Converting the gyratory system to two-way traffic Better facilities and access for pedestrians and";}
        
        


 