
    
  



@{ViewBag.Title = "Bus leisure routes";}
@{ViewBag.Keywords = "TfL";}
@{ViewBag.Url = "/travel-information/visiting-london/experience-london/bus-leisure-routes";}
@{ViewBag.Language = "en";}
        <!-- empty placeholder -->
 
        
        
<div class="r">
    <div class="breadcrumb-container" role="navigation">
        <span id="breadcrumb-label" class="visually-hidden">You are here:</span>
        <ol class="breadcrumbs clearfix" aria-labelledby="breadcrumb-label">
            <li class="home">
                <a href="/">
                    <span class="hide-text">Home</span>
                </a>
            </li>
            
                 <li><a href="/travel-information/visiting-london/index">Visiting London </a></li>
                
            
                 <li><a href="/travel-information/visiting-london/experience-london">Experience London</a></li>
                
            
            
                <li><span class="last-breadcrumb">Bus leisure routes</span></li>
            
        
 
        
 
        
 
        </ol>
    </div>
</div>
     
 
<div class="r">
  <div class="headline-container plain">
    <h1>Bus leisure routes</h1>

  </div>
</div>
<div class="main-and-aside r">
  
  <div class="main content-container" role="main">
    
      <div class="article-teaser">
        Routes and maps to help you explore the city on an iconic red London bus. Click on the attractions on the online versions of the PDFs to find out more about them, or print out the print-friendly A4 versions to take with you on your day out.
        
      </div>
    
    <div class="on-this-page">
      
      
           
      <div class="clearfix">
    <div class="image-box">
    
        
        
        <img src="/cdn/static/cms/images/bus-route-page-image.jpg" alt="Cartoon of buses exploring London landmarks" />
        
        
        
    </div>   
 </div>
 
<div>



<h2>Bus leisure route 9: London's Museums and Palaces</h2>


<p>Take bus route 9 to explore several royal palaces including St James's Palace, Clarence House and Kensington Palace, as well as interesting museums such as the London Transport Museum and the Natural History Museum. The route also includes other famous London landmarks, such as Trafalgar Square, and parks to explore and relax in. </p>
<p>The route stops at or near:</p>
<ul>
    <li>Somerset House</li>
    <li>Covent Garden Market</li>
    <li>London Transport Museum</li>
    <li>Trafalgar Square</li>
    <li>St James's Palace and Clarence House</li>
    <li>Green Park</li>
    <li>Wellington Arch and Hyde Park Corner</li>
    <li>Natural History Museum</li>
    <li>The Albert Memorial</li>
    <li>Kensington Palace</li>
    <li>The Design Museum</li>
    <li>Holland Park</li>
</ul>
<div class="multi-document-download-container">
    

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/bus-leisure-route-9.pdf">
    <div class="document-download-text">
        <p>Bus leisure route 9 - online version</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 16.40MB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 16.40 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/bus-leisure-route-9-a4-print-friendly.pdf">
    <div class="document-download-text">
        <p>Bus leisure route 9 - print-friendly A4 version</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 12.63MB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 12.63 -->
 
</div>

</div>
 
<div>



<h2>Bus leisure route 17: Heritage and Pubs</h2>


<p>Take bus route 17 and visit some of the oldest pubs in London, the Charles Dickens Museum and St Paul's Cathedral, amongst other historical highlights.</p>
<p>The route stops at or near:</p>
<ul>
    <li>King's Cross St Pancras Station</li>
    <li>Charles Dickens Museum</li>
    <li>Grays Inn Road, Square and Chapel</li>
    <li>Cittie of Yorke Pub</li>
    <li>Ye Olde Mitre</li>
    <li>Ye Olde Cheshire Cheese</li>
    <li>Old Bailey</li>
    <li>St Paul's Cathedral</li>
    <li>Monument to the Great Fire of London</li>
    <li>George Inn</li>
</ul>
<div class="multi-document-download-container">
    

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/bus-leisure-route-17.pdf">
    <div class="document-download-text">
        <p>Bus leisure route 17 - online version</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 5.70MB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 5.70 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/bus-leisure-route-17-a4-print-friendly.pdf">
    <div class="document-download-text">
        <p>Bus leisure route 17 - print-friendly A4 version</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 5.03MB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 5.03 -->
 
</div>

</div>
 
<div>



<h2>Bus leisure route 22: Antiques and Curios</h2>


<p>Take bus route 22 and explore various antiques shops, art galleries and markets, as well as one of London's most famous shops, Fortnum &amp; Mason. Break up shopping with a palace or park visit.</p>
<p>The route stops at or near:</p>
<ul>
    <li>Fulham Palace</li>
    <li>New King's Road antique shops and art galleries</li>
    <li>Furniture and Arts Building</li>
    <li>Lots Road Auctions</li>
    <li>Wellington Arch</li>
    <li>Green Park</li>
    <li>The Ritz</li>
    <li>St James Street</li>
    <li>Old Bond Street</li>
    <li>Fortnum &amp; Mason</li>
    <li>Royal Academy of Arts</li>
    <li>Piccadilly arts, craft and food market</li>
</ul>
<div class="multi-document-download-container">
    

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/bus-leisure-route-22.pdf">
    <div class="document-download-text">
        <p>Bus leisure route 22 - online version</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 11.64MB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 11.64 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/bus-leisure-route-22-a4-print-friendly.pdf">
    <div class="document-download-text">
        <p>Bus leisure route 22 - print-friendly A4 version</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 10.27MB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 10.27 -->
 
</div>

</div>
 
<div>



<h2>Bus leisure route 35: London's Markets</h2>


<p>Take bus route 35 and spend a day exploring markets across London, which sell everything from food and flowers, to clothing and gifts.</p>
<p>The route stops at or near:</p>
<ul>
    <li>Brixton Market</li>
    <li>Borough Market</li>
    <li>Leadenhall Market</li>
    <li>Lloyd's of London</li>
    <li>Spitalfields Market</li>
    <li>Brick Lane Market</li>
    <li>Columbia Road Flower Market</li>
</ul>
<div class="multi-document-download-container">
    

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/bus-leisure-route-35.pdf">
    <div class="document-download-text">
        <p>Bus leisure route 35 - online version</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 4.42MB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 4.42 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/bus-leisure-route-35-a4-print-friendly.pdf">
    <div class="document-download-text">
        <p>Bus leisure route 35 - print-friendly A4 version</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 4.28MB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 4.28 -->
 
</div>

</div>
 
<div>



<h2>Bus leisure route 139: Classic London</h2>


<p>Take bus route 139 and see some of the most iconic London attractions, including Piccadilly Circus and Trafalgar Square, and famous shops such as Hamleys Toy Store and Selfridges &amp; Co.</p>
<p>The route stops at or near:</p>
<ul>
    <li>Somerset House</li>
    <li>Covent Garden Market</li>
    <li>London Transport Museum</li>
    <li>Trafalgar Square</li>
    <li>Piccadilly Circus</li>
    <li>Hamleys Toy Store</li>
    <li>Bond Street</li>
    <li>Selfridges &amp; Co</li>
    <li>Lord's Cricket Ground</li>
    <li>Abbey Road and Abbey Road Studios</li>
</ul>
<div class="multi-document-download-container">
    

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/bus-leisure-route-139.pdf">
    <div class="document-download-text">
        <p>Bus leisure route 139 - online version</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 6.60MB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 6.60 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/bus-leisure-route-139-a4-print-friendly.pdf">
    <div class="document-download-text">
        <p>Bus leisure route 139 - print-friendly A4 version</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 5.21MB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 5.21 -->
 
</div>
<h2>Using our buses</h2>

<p>For a more enjoyable bus journey, travel outside the peak times (between 06:30 and 09:30, and between 16:00 and 19:00, Monday to Friday).</p>

<p>Children under 11 travel for free on London buses.</p>

<p>You can't use cash to pay for your bus fare. Instead, you can <a href="/fares/how-to-pay-and-where-to-buy-tickets-and-oyster/pay-as-you-go">pay as you go</a>&nbsp;using a contactless, Oyster or Visitor Oyster&nbsp;card, or you can use&nbsp;a <a href="/fares/how-to-pay-and-where-to-buy-tickets-and-oyster/travelcards-and-group-tickets">Travelcard or Bus &amp; Tram Pass</a>.</p>

<h3>Unlimited journeys within one hour</h3>

<p>Our Hopper fare lets you make unlimited bus journeys within one hour for &pound;1.50, when you use <a href="/fares/how-to-pay-and-where-to-buy-tickets-and-oyster/pay-as-you-go">pay as you go</a>&nbsp;(an Oyster, Visitor Oyster or contactless card) to pay for your travel. You can hop on and off as many buses as you like within the hour and only pay for the first bus.</p>

<p>Bus journeys are also capped at &pound;4.50 a day, so this is the most you will have to pay to travel by bus for a whole day.</p>

<p>Make sure you touch in on the yellow reader when you get on a bus each time. You don't need to touch out when you get off.</p>

<h3>Travelcards and Bus &amp; Tram Passes</h3>

<p>If you're using a <a href="/fares/how-to-pay-and-where-to-buy-tickets-and-oyster/travelcards-and-group-tickets">Travelcard or Bus &amp; Tram Pass</a>&nbsp;(a paper ticket or on your Oyster card), you can use this to travel on our buses as many times as you like.</p>
</div>
 
      
        
          
            @this.ScriptBlock(
              @<script>
                queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
              </script>
            )
          
        
      
    </div>
  </div>
  <div class="aside" role="complementary">

   
    
    
    
      <div data-set="sidenav-container" class="large">
        
        
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
 
 
 
                <a href="/travel-information/visiting-london/index" class="heading">
                    <h2 id="sub-menu-heading">Visiting London <span class="visually-hidden"> navigation</span></h2>
                </a>
                <ul>
                    
                                <li><div class="link-wrapper"><a href="/travel-information/visiting-london/visitor-oyster-card">Visitor Oyster card</a></div></li>
                            
 
                                <li class="selected parent"><div class="link-wrapper"><a href="/travel-information/visiting-london/experience-london">Experience London</a></div>
                                <ul>
                                    
                                <li><div class="link-wrapper"><a href="/travel-information/visiting-london/experience-london/itineraries">Itineraries</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/travel-information/visiting-london/experience-london/special-offers">Special offers</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/travel-information/visiting-london/experience-london/visit-london-image-gallery">Visiting London image gallery</a></div></li>
                            
 
                                        <li class="selected"><div class="link-wrapper"><a href="/travel-information/visiting-london/experience-london/bus-leisure-routes">Bus leisure routes</a></div>
                                    </li>
 
                                </ul>
                            </li>
 
                                <li class="parent"><div class="link-wrapper"><a href="/travel-information/visiting-london/getting-to-london">Getting to London</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/travel-information/visiting-london/getting-around-london">Getting around London</a></div></li>
                            
 
                </ul>
            
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
      </div>
    
    <div>




















<div class="advert-tile unsponsored-style google-ads" aria-hidden="true">
  <div class="advert-link">
    <div class="advert-content">
        <div class="medium-large" data-advert="/76889402/non-targeted" data-advert-sizes="300, 250"></div>
        <div class="small" data-advert="/76889402/non-targeted" data-advert-sizes="300, 250"></div>
    </div>
  </div>
</div>
@{
    ViewBag.AmazonSlot = "'amznslots'";
    ViewBag.AmazonAds = "'3199'"; // to add another value, this needs to be ViewBag.AmazonAds = "'3199','xx'";
}
      

 </div>
    
    <div data-set="sidenav-container" class="small-medium"></div>
  </div>
</div>
 
 
        
        
        
            @{ViewBag.Description = "Bus leisure routes to help you explore London's attractions.";}
        
            
        


 