
    
  



@{ViewBag.Title = "Itineraries";}
@{ViewBag.Keywords = "TfL";}
@{ViewBag.Url = "/travel-information/visiting-london/experience-london/itineraries";}
@{ViewBag.Language = "en";}
        <!-- empty placeholder -->
 
        
        
<div class="r">
    <div class="breadcrumb-container" role="navigation">
        <span id="breadcrumb-label" class="visually-hidden">You are here:</span>
        <ol class="breadcrumbs clearfix" aria-labelledby="breadcrumb-label">
            <li class="home">
                <a href="/">
                    <span class="hide-text">Home</span>
                </a>
            </li>
            
                 <li><a href="/travel-information/visiting-london/index">Visiting London </a></li>
                
            
                 <li><a href="/travel-information/visiting-london/experience-london">Experience London</a></li>
                
            
            
                <li><span class="last-breadcrumb">Itineraries</span></li>
            
        
 
        
 
        
 
        </ol>
    </div>
</div>
     
 
<div class="r">
  <div class="headline-container plain">
    <h1>Itineraries</h1>

  </div>
</div>
<div class="main-and-aside r">
  
  <div class="main content-container" role="main">
    
      <div class="article-teaser">
        If you don't know where to start, we've put together a few itineraries and routes to showcase some of London's most famous landmarks and attractions. <BR>
        
      </div>
    
    <div class="on-this-page">
      
      
           
      <div class="clearfix">
    <div class="image-box right-float">
    
        
        
        <img src="/cdn/static/cms/images/soho2_rdax_400x250.jpg" alt="Visiting London bus 94 graphic" />
        
        
        
    </div>
    <h2>Bus route 94</h2>
Travel along bus route 94 from central to west London to discover some of London's most popular and iconic neighbourhoods. When using an Oyster or contactless card, you can also take advantage of the new Hopper bus fare.
 </div>
 
<div>





<div class="multi-document-download-container">
    

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/bus-route-94-visitor-itinerary.pdf">
    <div class="document-download-text">
        <p>Bus route 94 itinerary</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 4.67MB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 4.67 -->
 
</div>

</div>
 <div class="clearfix">
    <div class="image-box right-float">
    
        
        
        <img src="/cdn/static/cms/images/somerset_rdax_400x250.jpg" alt="Visiting London attractions graphic" />
        
        
        
    </div>
    <h2>Top London attractions</h2>
<p>This itinerary outlines the quietest times to visit London's 10 most popular attractions, and the quietest times at their nearest Underground stations; as well as alternative transport modes to get you there.</p>
 </div>
 
<div>





<div class="multi-document-download-container">
    

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/top-london-attractions-visitor-itinerary.pdf">
    <div class="document-download-text">
        <p>Top London attractions visitor itinerary</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 4.15MB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 4.15 -->
 
</div>

</div>
 <div class="clearfix">
    <div class="image-box light-box right-float">
    
        
        
        <a href="/cdn/static/cms/images/itineraries-river-and-emirates.jpg" class="modal-launch" target="_blank">
             <img src="/cdn/static/cms/images/baker-street2_rdax_400x250.jpg" alt="Visiting London transport design itinerary" />
             
        </a>
        
        
    </div>
    <h2>Transport design icons</h2>
<p>For over 150 years, design on our transport network has shaped how London looks. Discover some of London's most popular transport design icons and the best times to visit the stations where you can find them.</p>
 </div>
 
<div>





<div class="multi-document-download-container">
    

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/visiting-london-transport-design.pdf">
    <div class="document-download-text">
        <p>Transport design icons visitor itinerary</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 3.80MB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 3.80 -->
 
</div>

</div>
 <div>

<h2>Other cycling tours and routes</h2>
<p>These easy-to-follow routes will help you discover London's hidden gems by bike. Why not hire a <a href="/modes/cycling/santander-cycles">Santander Cycles</a> bike?</p>
<ul>
    <li><a href="/modes/cycling/routes-and-maps/leisure-routes/sporting-sights">Sporting sights</a></li>
    <li><a href="/modes/cycling/routes-and-maps/leisure-routes/londons-secret-gardens">London's secret gardens</a></li>
    <li><a href="/modes/cycling/routes-and-maps/leisure-routes/quirky-london">Quirky London</a></li>
    <li><a href="/modes/cycling/routes-and-maps/leisure-routes/saturday-markets">Saturday markets</a></li>
</ul>
<h2>Other walking tours and routes</h2>
<p>Getting to see what London has to offer is easy, especially if you walk - there's lots to explore and some great walks like these connecting famous sights and attractions.</p>
<ul>
    <li><a href="/modes/walking/jubilee-walkway">Jubilee Walkway</a></li>
    <li><a href="/modes/walking/jubilee-greenway">Jubilee Greenway</a></li>
    <li><a href="/modes/walking/thames-path">Thames Path</a></li>
    <li><a href="/modes/walking/lea-valley">Lea Valley</a></li>
    <li><a href="/modes/walking/capital-ring">Capital Ring</a></li>
</ul>
<h2>Other itineraries</h2>
<p>For the perfect day out in the city, try the great selection of inspirational ideas on  <a href="http://www.visitlondon.com/things-to-do/sightseeing/one-day-itineraries">visitlondon.com</a>. </p>
<h2>London area guides</h2>
<p>There's a wealth of hidden gems to be found outside central London. Travel a little further to see more of the city with insider guides written by locals. </p>
</div>
 
<div class="module-grid clearfix">
<div class="news-teaser">

    <a href="http://www.visitlondon.com/things-to-do/london-areas?intcmp=41156" >
        <img src="/cdn/static/cms/images/promos/visit-london-image_rdax_400x200.jpg" alt="Visit Britain image" />
        
        <div class="text-link">
             <h2>Guides</h2>
            <p>Find out more</p>
        </div>
    </a>
</div>
 
 
</div>
 
      
        
          
            @this.ScriptBlock(
              @<script>
                queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
              </script>
            )
          
        
      
    </div>
  </div>
  <div class="aside" role="complementary">

   
    
    
    
      <div data-set="sidenav-container" class="large">
        
        
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
 
 
 
                <a href="/travel-information/visiting-london/index" class="heading">
                    <h2 id="sub-menu-heading">Visiting London <span class="visually-hidden"> navigation</span></h2>
                </a>
                <ul>
                    
                                <li><div class="link-wrapper"><a href="/travel-information/visiting-london/visitor-oyster-card">Visitor Oyster card</a></div></li>
                            
 
                                <li class="selected parent"><div class="link-wrapper"><a href="/travel-information/visiting-london/experience-london">Experience London</a></div>
                                <ul>
                                    
                                        <li class="selected"><div class="link-wrapper"><a href="/travel-information/visiting-london/experience-london/itineraries">Itineraries</a></div>
                                    </li>
 
                                <li><div class="link-wrapper"><a href="/travel-information/visiting-london/experience-london/special-offers">Special offers</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/travel-information/visiting-london/experience-london/visit-london-image-gallery">Visiting London image gallery</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/travel-information/visiting-london/experience-london/bus-leisure-routes">Bus leisure routes</a></div></li>
                            
 
                                </ul>
                            </li>
 
                                <li class="parent"><div class="link-wrapper"><a href="/travel-information/visiting-london/getting-to-london">Getting to London</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/travel-information/visiting-london/getting-around-london">Getting around London</a></div></li>
                            
 
                </ul>
            
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
      </div>
    
    <div>




















<div class="advert-tile unsponsored-style google-ads" aria-hidden="true">
  <div class="advert-link">
    <div class="advert-content">
        <div class="medium-large" data-advert="/76889402/non-targeted" data-advert-sizes="300, 250"></div>
        <div class="small" data-advert="/76889402/non-targeted" data-advert-sizes="300, 250"></div>
    </div>
  </div>
</div>
@{
    ViewBag.AmazonSlot = "'amznslots'";
    ViewBag.AmazonAds = "'3199'"; // to add another value, this needs to be ViewBag.AmazonAds = "'3199','xx'";
}
      

 </div>
    
      <div class="module-grid clearfix">
                    
        

                <div class="widget-wrapper">
                    <div class="expandable-box">
                        <div class="content">
                            <div class="always-visible widget-heading">
                                <div class="controls">&nbsp;</div>
                                <div class="widget-title">
                                    <h2>Plan a journey</h2>
                                </div>
                            </div>
                            <div class="start-hidden widget-content journey-planner-widget clearfix">
                                @{Html.RenderAction("Index", "JourneyPlanner", new
                                    { jptype = "publictransport" } 
                                );}
                            </div>
                        </div>
                    </div>
                </div>
            
 <div class="related-links">

    <h3>Related sites</h3>

<div class="vertical-button-container">

<a href="http://visitorshop.tfl.gov.uk/tfl/london-visitor-oyster-card/" class="plain-button">Buy a Visitor Oyster card</a>
<a href="http://www.ltmuseum.co.uk/" class="plain-button">London Transport Museum</a>
<a href="https://shop.tfl.gov.uk/" class="plain-button">TfL souvenirs</a>
<a href="http://www.visitlondon.com/" class="plain-button">Visit London</a>
<a href="http://www.visitbritain.com/en/EN/" class="plain-button">Visit Britain</a>
    </div>
</div>
 <div class="related-links">

    <h3>Also on this site</h3>

<div class="vertical-button-container">

<a href="/travel-information/visiting-london/getting-around-london/best-ways-for-visitors-to-pay" class="plain-button">Best ways for visitors to pay</a>
<a href="/travel-information/visiting-london/getting-around-london/visitor-information/top-travel-tips" class="plain-button">Travel tips</a>
    </div>
</div>
 
      </div>
    
    <div data-set="sidenav-container" class="small-medium"></div>
  </div>
</div>
 
 
        
        
        
            @{ViewBag.Description = "A page, aimed at tourists, providing iteneraries to see London's iconic sights. ";}
        
            
        


 