
    
  



@{ViewBag.Title = "Special offers";}
@{ViewBag.Keywords = "TfL";}
@{ViewBag.Url = "/travel-information/visiting-london/experience-london/special-offers";}
@{ViewBag.Language = "en";}
        <!-- empty placeholder -->
 
        
        
<div class="r">
    <div class="breadcrumb-container" role="navigation">
        <span id="breadcrumb-label" class="visually-hidden">You are here:</span>
        <ol class="breadcrumbs clearfix" aria-labelledby="breadcrumb-label">
            <li class="home">
                <a href="/">
                    <span class="hide-text">Home</span>
                </a>
            </li>
            
                 <li><a href="/travel-information/visiting-london/index">Visiting London </a></li>
                
            
                 <li><a href="/travel-information/visiting-london/experience-london">Experience London</a></li>
                
            
            
                <li><span class="last-breadcrumb">Special offers</span></li>
            
        
 
        
 
        
 
        </ol>
    </div>
</div>
     
 
<div class="r">
  <div class="headline-container plain">
    <h1>Special offers</h1>

  </div>
</div>
<div class="main-and-aside r">
  
  <div class="main content-container" role="main">
    
      <div class="article-teaser">
        Offers, promotions and discounts in leading London restaurants, bars, shops, theatres, galleries and more. 
        
      </div>
    
    
      
      
           
      <div class="clearfix">
    <div class="image-box right-float">
    
        
        
        <img src="/cdn/static/cms/images/visitor-oyster-card-cut-out_rdax_400x250.jpg" alt="Visitor Oyster card cut-out image" />
        
        
        
    </div>
    <h2>Visitor Oyster card offers</h2>

<p>With a <a href="/travel-information/visiting-london/visitor-oyster-card">Visitor Oyster</a> card you can enjoy fantastic offers and discounts in London. You only need to show your card to benefit from these offers:</p>

<ul>
	<li>Food and drink discounts at a range of selected London restaurants</li>
	<li>Discounted and 2 for 1 entry at selected museums</li>
	<li>Discounts on merchandise at some of London's top attractions including Madame Tussauds, Kew Gardens and The London Dungeon</li>
	<li>15% discount at a world-famous chocolate shop</li>
	<li>Up to 26% discount on the&nbsp;Emirates Air Line and discounts on&nbsp;Thames River Services sightseeing cruises</li>
</ul>

<p><a href="http://visitorshop.tfl.gov.uk/tfl/london-visitor-oyster-card/?utm_medium=referral&amp;utm_source=tfl.gov.uk&amp;utm_campaign=tfl">Buy a Visitor Oyster card</a> before you leave home to take advantage of these great offers and discounts. It is not possible to buy a Visitor Oyster card in London.</p>
 </div>
 
<div>





<div class="multi-document-download-container">
    

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/visitor-oyster-special-offers.pdf">
    <div class="document-download-text">
        <p>Visitor Oyster card special offers</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 1.90MB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 1.90 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/visitor-oyster-offers-french.pdf">
    <div class="document-download-text">
        <p>Visitor Oyster card special offers - French</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 1.60MB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 1.60 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/visitor-oyster-offers-german.pdf">
    <div class="document-download-text">
        <p>Visitor Oyster card special offers - German</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 1.58MB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 1.58 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/visitor-oyster-offers-italian.pdf">
    <div class="document-download-text">
        <p>Visitor Oyster card special offers - Italian</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 1.56MB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 1.56 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/visitor-oyster-offers-spanish.pdf">
    <div class="document-download-text">
        <p>Visitor Oyster card special offers - Spanish</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 1.57MB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 1.57 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/visitor-oyster-offers-dutch.pdf">
    <div class="document-download-text">
        <p>Visitor Oyster card special offers - Dutch</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 2.07MB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 2.07 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/voc-portuguese.pdf">
    <div class="document-download-text">
        <p>Visitor Oyster card special offers - Portuguese</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 2.20MB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 2.20 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/visitor-oyster-offers-chinese.pdf">
    <div class="document-download-text">
        <p>Visitor Oyster card special offers - Chinese</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 2.25MB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 2.25 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/visitor-oyster-offers-japanese.pdf">
    <div class="document-download-text">
        <p>Visitor Oyster card special offers - Japanese</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 1.87MB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 1.87 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/visitor-oyster-offers-arabic.pdf">
    <div class="document-download-text">
        <p>Visitor Oyster card special offers - Arabic</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 1.91MB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 1.91 -->
 
</div>

</div>
 
      
        
          
        
      
    
  </div>
  <div class="aside" role="complementary">

   
    
    
    
      <div data-set="sidenav-container" class="large">
        
        
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
 
 
 
                <a href="/travel-information/visiting-london/index" class="heading">
                    <h2 id="sub-menu-heading">Visiting London <span class="visually-hidden"> navigation</span></h2>
                </a>
                <ul>
                    
                                <li><div class="link-wrapper"><a href="/travel-information/visiting-london/visitor-oyster-card">Visitor Oyster card</a></div></li>
                            
 
                                <li class="selected parent"><div class="link-wrapper"><a href="/travel-information/visiting-london/experience-london">Experience London</a></div>
                                <ul>
                                    
                                <li><div class="link-wrapper"><a href="/travel-information/visiting-london/experience-london/itineraries">Itineraries</a></div></li>
                            
 
                                        <li class="selected"><div class="link-wrapper"><a href="/travel-information/visiting-london/experience-london/special-offers">Special offers</a></div>
                                    </li>
 
                                <li><div class="link-wrapper"><a href="/travel-information/visiting-london/experience-london/visit-london-image-gallery">Visiting London image gallery</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/travel-information/visiting-london/experience-london/bus-leisure-routes">Bus leisure routes</a></div></li>
                            
 
                                </ul>
                            </li>
 
                                <li class="parent"><div class="link-wrapper"><a href="/travel-information/visiting-london/getting-to-london">Getting to London</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/travel-information/visiting-london/getting-around-london">Getting around London</a></div></li>
                            
 
                </ul>
            
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
      </div>
    
    <div>




















<div class="advert-tile unsponsored-style google-ads" aria-hidden="true">
  <div class="advert-link">
    <div class="advert-content">
        <div class="medium-large" data-advert="/76889402/non-targeted" data-advert-sizes="300, 250"></div>
        <div class="small" data-advert="/76889402/non-targeted" data-advert-sizes="300, 250"></div>
    </div>
  </div>
</div>
@{
    ViewBag.AmazonSlot = "'amznslots'";
    ViewBag.AmazonAds = "'3199'"; // to add another value, this needs to be ViewBag.AmazonAds = "'3199','xx'";
}
      

 </div>
    
      <div class="module-grid clearfix">
                    
        

                <div class="widget-wrapper">
                    <div class="expandable-box">
                        <div class="content">
                            <div class="always-visible widget-heading">
                                <div class="controls">&nbsp;</div>
                                <div class="widget-title">
                                    <h2>Plan a journey</h2>
                                </div>
                            </div>
                            <div class="start-hidden widget-content journey-planner-widget clearfix">
                                @{Html.RenderAction("Index", "JourneyPlanner", new
                                    { jptype = "publictransport" } 
                                );}
                            </div>
                        </div>
                    </div>
                </div>
            
 
      </div>
    
    <div data-set="sidenav-container" class="small-medium"></div>
  </div>
</div>
 
 
        
        
        
            @{ViewBag.Description = "Offers, promotions and discounts in leading London restaurants, bars, shops, theatres, galleries and more. ";}
        
            
        


 