


@{ViewBag.Title = "April";}
        
        
<div class="r">
    <div class="breadcrumb-container" role="navigation">
        <span id="breadcrumb-label" class="visually-hidden">You are here:</span>
        <ol class="breadcrumbs clearfix" aria-labelledby="breadcrumb-label">
            <li class="home">
                <a href="/">
                    <span class="hide-text">Home</span>
                </a>
            </li>
            
                <li>
                    <a href="/info-for/media/index">Media</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases">Press releases</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases/2014">2014</a>
                </li>
                
                <li>
                    <span class="last-breadcrumb">April</span>
                </li>
            
 
            
 
            
 
            
 
        </ul>
    </div>
</div>
     
 
<div class="r">
    <div class="headline-container plain">
        <h1>April</h1>
    </div>
</div>

<div class="main-and-aside r">
    <div class="main" role="main">

<div class="on-this-page">


     


<div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2014/april/travel-update---some-services-are-operating-on-all-11-tube-lines">Some services  operating on all Tube lines despite strike (8:00)<br />30 Apr 2014</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2014/april/52-per-cent-of-tube-services-operating-despite-rmt-strike-16">52 per cent of Tube services operating despite RMT strike (1630)<br />30 Apr 2014</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2014/april/52-per-cent-of-tube-services-operating-despite-rmt-strike-12">52 per cent of Tube services operating despite RMT strike (1245)<br />30 Apr 2014</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2014/april/tube-services-operating-on-ten-of-eleven-lines-despite-rmt-strike">Tube services operating on ten of eleven lines despite RMT strike (1045)<br />30 Apr 2014</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2014/april/services-operating-on-ten-lines-despite-strike-16-">Services operating on ten lines despite strike (16:30)<br />29 Apr 2014</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2014/april/tube-services-operating-on-nine-lines-despite-strike">Tube services operating on nine lines despite strike<br />29 Apr 2014</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2014/april/tube-services-operating-on-nine-lines-despite-strike-10-">Tube services operating on nine lines despite strike (10:30)<br />29 Apr 2014</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2014/april/50-of-tube-services-operating-despite-rmt-strike">50% of Tube services operating despite RMT strike (1200)<br />29 Apr 2014</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2014/april/new-dlr-station-opens-at-pudding-mill-lane">New DLR station opens at Pudding Mill Lane<br />28 Apr 2014</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2014/april/tfl-sets-out-plans-to-keep-capital-moving-during-strikes">TfL sets out plans to keep capital moving during strikes<br />28 Apr 2014</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2014/april/lu-invites-thales-to-tender-for-new-signalling-system">LU invites Thales to tender for new signalling system<br />25 Apr 2014</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2014/april/contactless-payment-moves-a-step-closer-to-transforming-services">Contactless payment moves a step closer<br />24 Apr 2014</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2014/april/route-10-to-operate-new-routemasters-from-saturday">Route 10 to operate New Routemasters from Saturday<br />24 Apr 2014</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2014/april/tfl-sets-out-plans-to-keep-capital-moving">TfL sets out plans to keep capital moving<br />24 Apr 2014</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2014/april/new-hgv-technology-trial-to-improve-road-safety">New HGV  technology trial to improve road safety<br />24 Apr 2014</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2014/april/not-a-single-member-of-staff-forced-out-of-a-job-during-modernisation-underground-boss-promises">LU guarantee of fairness to staff<br />24 Apr 2014</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2014/april/tube-modernisation-set-to-improve-customer-service">Tube modernisation set to improve customer service<br />22 Apr 2014</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2014/april/pop-up-shops-arrive-at-old-street-tube-station-to-reflect-the-vibrancy-of-tech-city">Pop-up shops arrive at Old Street Tube station<br />22 Apr 2014</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2014/april/new-energy-efficient-lifts-to-be-installed-at-gloucester-road-station">New energy efficient lifts to be installed at Gloucester Road<br />22 Apr 2014</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2014/april/rmt-leaders-urged-to-return-to-tube-talks-as-they-reject-significant-changes-proposed-by-london-underground">RMT leaders urged to return to Tube talks as they reject significant changes proposed by London Underground<br />17 Apr 2014</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2014/april/london-overground-s-hampstead-heath-station-rebuilt">London Overground's Hampstead Heath station rebuilt<br />17 Apr 2014</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2014/april/make-the-most-of-the-river-thames-this-easter">Make the most of the River Thames this Easter<br />15 Apr 2014</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2014/april/work-gears-up-to-deliver-a-bigger-and-better-pudding-mill-lane-station-after-easter">Work gears up to deliver a bigger and better Pudding Mill Lane station after Easter<br />15 Apr 2014</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2014/april/latest-digital-technology-utilised-to-make-millions-of-bus-passengers-journeys-easier">Latest digital technology utilised to make millions of bus passengers' journeys easier<br />14 Apr 2014</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2014/april/tottenham-hale-improvement-scheme-nears-completion">Tottenham Hale improvement scheme nears completion<br />13 Apr 2014</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2014/april/successful-sixmonth-trial-leads-to-continuation-of-the-industrial-hgv-task-force-on-londons-streets">Successful six-month trial leads to continuation of the Industrial HGV Task Force on London's streets<br />11 Apr 2014</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2014/april/lavender-fields-area-gets-its-first-bus-service-as-route-s1-is-extended">Lavender Fields area gets its first bus service as route S1 is extended<br />10 Apr 2014</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2014/april/mayors-lane-rental-scheme-cuts-roadwork-disruption-by-almost-50-per-cent-at-traffic-hotspots">Mayor's lane rental scheme cuts roadwork disruption by almost 50 per cent at traffic hotspots<br />10 Apr 2014</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2014/april/tfl-confirms-introduction-of-cash-free-bus-travel-from-sunday-6-july">TfL confirms introduction of cash free bus travel from Sunday 6 July<br />09 Apr 2014</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2014/april/tfl-invites-trades-to-help-shape-regulatory-framework-for-taxi-and-private-hire-apps">TfL invites trades to help shape regulatory framework for taxi and private hire apps<br />09 Apr 2014</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2014/april/tfl-begins-search-for-supplier-to-provide-new-trains-on-new-and-existing-london-overground-routes">TfL begins search for supplier to provide new trains on new and existing London Overground routes<br />09 Apr 2014</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2014/april/year-of-the-bus-celebrates-75-years-of-the-rttype-double-deck-bus">Year of the Bus celebrates 75 years of the RT-Type double deck bus<br />08 Apr 2014</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2014/april/london-undergrounds-330-million-pound-stations-programme-set-to-make-70-stations-fit-for-the-next-decade">London Underground's 330 million pound stations programme set to make 70 stations fit for the next decade <br />08 Apr 2014</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2014/april/tube-delays-continue-to-fall-yearonyear">Tube delays continue to fall year-on-year<br />07 Apr 2014</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2014/april/bus-passengers-in-brent-benefit-from-a-more-frequent-route-206-bus-service">Bus passengers in Brent benefit from a more frequent route 206 bus service<br />04 Apr 2014</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2014/april/bond-street-tube-station-to-transform-access-to-londons-west-end">Bond Street Tube station to transform access to London's West End<br />03 Apr 2014</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2014/april/restoration-of-grade-ii-listed-chiswick-bridge-set-to-begin">Restoration of Grade II listed Chiswick Bridge set to begin<br />02 Apr 2014</a></div>


        
        
        
        @this.ScriptBlock(
        @<script>
        queue.push("@Html.ScriptPath("modules/M020-on-this-page.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">
        
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
                <a href="/info-for/media/index" class="heading">
                    <h2 id="sub-menu-heading">Media<span class="visually-hidden"> navigation</span></h2>
                </a>
                <ul>
                    
                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases">Press releases</a></div>
                                <ul>
                                    
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2020">2020</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019">2019</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018">2018</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017">2017</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016">2016</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015">2015</a></div></li>
                            
 
                                        <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014">2014</a></div>
                                        <ul>
                                            
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/december">December</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/november">November</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/october">October</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/september">September</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/august">August</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/july">July</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/june">June</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/may">May</a></div></li>
                                    
 
                                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/april">April</a></div>
                                                <ul>
                                                    
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
                                                </ul>
                                            
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/march">March</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/february">February</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/january">January</a></div></li>
                                    
 
                                        </ul>
                                    </li>
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2013">2013</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2012">2012</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2011">2011</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2010">2010</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2009">2009</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2008">2008</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2007">2007</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2006">2006</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2005">2005</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2004">2004</a></div></li>
                            
 
                                </ul>
                            </li>
 
                                <li><div class="link-wrapper"><a href="/info-for/media/photos">Photos</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/media/contact-the-press-office">Contact the Press Office</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/filming-and-photography">Filming & photography</a></div></li>
                            
 
                </ul>
            
 
 
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>


<div></div>

        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>
 
        
        
            @{ViewBag.Description = "Press releases from April 2014";}
        
        


 