


@{ViewBag.Title = "December";}
        
        
<div class="r">
    <div class="breadcrumb-container" role="navigation">
        <span id="breadcrumb-label" class="visually-hidden">You are here:</span>
        <ol class="breadcrumbs clearfix" aria-labelledby="breadcrumb-label">
            <li class="home">
                <a href="/">
                    <span class="hide-text">Home</span>
                </a>
            </li>
            
                <li>
                    <a href="/info-for/media/index">Media</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases">Press releases</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases/2014">2014</a>
                </li>
                
                <li>
                    <span class="last-breadcrumb">December</span>
                </li>
            
 
            
 
            
 
            
 
        </ul>
    </div>
</div>
     
 
<div class="r">
    <div class="headline-container plain">
        <h1>December</h1>
    </div>
</div>

<div class="main-and-aside r">
    <div class="main" role="main">

<div class="on-this-page">


     


<div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2014/december/central-line-trains-not-stopping-at-tottenham-court-road-station-until-december-2015">Central line trains not stopping at Tottenham Court Road station until December 2015<br />31 Dec 2014</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2014/december/have-your-say-on-proposed-ultra-low-emission-zone">Have your say on proposed Ultra Low Emission Zone<br />30 Dec 2014</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2014/december/essential-works-on-woolwich-ferry-loading-bridges">Essential works on Woolwich Ferry loading bridges<br />30 Dec 2014</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2014/december/advice-to-bus-passengers-monday-5-january">Advice to bus passengers: Monday 5 January<br />31 Dec 2014</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2014/december/dr-mich-le-dix-recognised-with-a-cbe">Dr Mich&egrave;le Dix recognised with a CBE<br />30 Dec 2014</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2014/december/use-black-taxis-or-pre-booked-minicabs-new-year-s-eve">Use black taxis or pre-booked minicabs New Year's Eve<br />30 Dec 2014</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2014/december/new-year-fares-come-into-effect-on-2-january">New Year fares come into effect on 2 January<br />30 Dec 2014</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2014/december/plan-ahead-and-use-free-travel-to-get-home-safely">Plan ahead and use free travel to get home safely<br />29 Dec 2014</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2014/december/taskforce-takes-action-to-improve-road-safety">Taskforce takes action to improve road safety<br />29 Dec 2014</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2014/december/aldgate-bus-station-to-close-for-gyratory-removal-works">Aldgate bus station to close for gyratory removal works<br />29 Dec 2014</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2014/december/advice-to-bus-passengers-29-december-16-45-bulletin">Advice to bus passengers: 29 December 16:45 bulletin<br />29 Dec 2014</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2014/december/advice-to-bus-passengers-29-december-13-30-bulletin">Advice to bus passengers: 29 December 13:30 bulletin<br />29 Dec 2014</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2014/december/advice-to-bus-passengers-29-december-09-30-bulletin">Advice to bus passengers: 29 December 09:30 bulletin<br />29 Dec 2014</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2014/december/advice-to-bus-passengers-during-industrial-action">Advice to bus passengers during industrial action<br />23 Dec 2014</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2014/december/four-more-rogue-minicab-drivers-prosecuted">Four more rogue minicab drivers prosecuted<br />22 Dec 2014</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2014/december/barclays-cycle-hire-is-just-around-the-corner-this-christmas">Barclays Cycle Hire is just around the corner this Christmas<br />22 Dec 2014</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2014/december/londoners-show-overwhelming-support-for-safer-segregated-upgrade-of-barclays-cycle-superhighway-2">Londoners show overwhelming support for upgrade of Barclays Cycle Superhighway 2<br />19 Dec 2014</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2014/december/-36m-upgrade-of-vauxhall-tube-station-reaches-half-way">&pound;36m upgrade of Vauxhall Tube station reaches half way<br />18 Dec 2014</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2014/december/londoners-reminded-to-plan-their-road-journeys">Londoners reminded to plan their road journeys<br />17 Dec 2014</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2014/december/lu-breaks-olympic-record-for-weekly-passenger-numbers">LU breaks Olympic record for weekly passenger numbers<br />17 Dec 2014</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2014/december/tackling-bogus-congestion-charge-websites">Tackling bogus Congestion Charge websites<br />17 Dec 2014</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2014/december/passengers-urged-to-stay-safe-this-festive-season">Passengers urged to stay safe this festive season<br />16 Dec 2014</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2014/december/plan-ahead-this-festive-season">Plan ahead this festive season<br />16 Dec 2014</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2014/december/london-underground-announces-latest-performance-figures">London Underground announces latest performance figures<br />15 Dec 2014</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2014/december/london-cable-car-hosts-the-snowman-and-the-snowdog-film">London cable car hosts The Snowman and The Snowdog film<br />15 Dec 2014</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2014/december/cycle-hire-charges-to-be-simplified-in-the-new-ye">Cycle Hire charges to be simplified in the New Year<br />15 Dec 2014</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2014/december/improved-sunday-service-for-london-tramlink-passenge">Improved Sunday service for London Tramlink passengers <br />12 Dec 2014</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2014/december/south-london-to-benefit-from-mayor-and-tfl-s-148m-fund">South London to benefit from Mayor and TfL's &pound;148m fund<br />12 Dec 2014</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2014/december/west-london-to-benefit-from-mayor-and-tfl-s-148m-fund">West London to benefit from Mayor and TfL's &pound;148m fund<br />12 Dec 2014</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2014/december/east-london-to-benefit-from-mayor-and-tfl-s-148m-fund">East London to benefit from Mayor and TfL's &pound;148m fund<br />12 Dec 2014</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2014/december/north-london-to-benefit-from-mayor-and-tfl-s-148m-fund">North London to benefit from Mayor and TfL's &pound;148m fund<br />12 Dec 2014</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2014/december/-148m-for-transport-improvements-across-london">&pound;148m for transport improvements across London<br />12 Dec 2014</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2014/december/tfl-s-lost-property-office-share-festive-cheer">TfL's Lost Property Office share festive cheer<br />11 Dec 2014</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2014/december/piccadilly-line-trains-now-stopping-at-gloucester-road">Piccadilly line trains now stopping at Gloucester Road<br />10 Dec 2014</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2014/december/croydon-s-first-pure-electric-buses-hit-the-streets">Croydon's first pure electric buses hit the streets<br />10 Dec 2014</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2014/december/first-quietways-to-open-early-next-year">First Quietways to open early next year<br />10 Dec 2014</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2014/december/rainbow-crossing-marks-same-sex-marriage">Rainbow crossing marks same-sex marriage<br />09 Dec 2014</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2014/december/year-of-the-bus-sculpture-trail-unveiled-in-croydon">Croydon Year of the Bus Sculpture Trail unveiled<br />08 Dec 2014</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2014/december/further-improvements-to-docklands-light-railway">Further improvements to Docklands Light Railway<br />08 Dec 2014</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2014/december/tfl-seeks-public-views-on-its-approach-to-transparency">TfL seeks public views on its approach to transparency<br />08 Dec 2014</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2014/december/bond-street-tube-station-open-ahead-of-schedu">Bond Street Tube station open ahead of schedule <br />05 Dec 2014</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2014/december/tfl-supports-small-business-saturday">TfL supports Small Business Saturday<br />05 Dec 2014</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2014/december/modernisation-of-london-underground-on-track">Modernisation of London Underground on track<br />04 Dec 2014</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2014/december/mbna-sponsors-iconic-tube-map">MBNA sponsors iconic Tube map<br />03 Dec 2014</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2014/december/road-bridge-at-highbury-corner-to-be-replac">Road bridge at Highbury Corner to be replaced <br />03 Dec 2014</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2014/december/charing-cross-road-junction-reopens">Charing Cross Road junction reopens<br />03 Dec 2014</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2014/december/mayor-s-plans-to-boost-london-s-bus-services">Mayor's plans to boost London's bus services<br />02 Dec 2014</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2014/december/lu-breaks-record-for-passenger-numbers-for-second-time">LU sets new record for passengers carried<br />01 Dec 2014</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2014/december/london-overground-customers-to-see-improved-services">London Overground customers to see improved services<br />01 Dec 2014</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2014/december/route-137-to-be-served-by-new-routemaster-buses">Route 137 to be served by New Routemaster buses<br />01 Dec 2014</a></div>


        
        
        
        @this.ScriptBlock(
        @<script>
        queue.push("@Html.ScriptPath("modules/M020-on-this-page.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">
        
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
                <a href="/info-for/media/index" class="heading">
                    <h2 id="sub-menu-heading">Media<span class="visually-hidden"> navigation</span></h2>
                </a>
                <ul>
                    
                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases">Press releases</a></div>
                                <ul>
                                    
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2020">2020</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019">2019</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018">2018</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017">2017</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016">2016</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015">2015</a></div></li>
                            
 
                                        <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014">2014</a></div>
                                        <ul>
                                            
                                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/december">December</a></div>
                                                <ul>
                                                    
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
                                                </ul>
                                            
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/november">November</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/october">October</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/september">September</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/august">August</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/july">July</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/june">June</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/may">May</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/april">April</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/march">March</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/february">February</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/january">January</a></div></li>
                                    
 
                                        </ul>
                                    </li>
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2013">2013</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2012">2012</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2011">2011</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2010">2010</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2009">2009</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2008">2008</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2007">2007</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2006">2006</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2005">2005</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2004">2004</a></div></li>
                            
 
                                </ul>
                            </li>
 
                                <li><div class="link-wrapper"><a href="/info-for/media/photos">Photos</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/media/contact-the-press-office">Contact the Press Office</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/filming-and-photography">Filming & photography</a></div></li>
                            
 
                </ul>
            
 
 
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>


<div></div>

        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>
 
        
        
            @{ViewBag.Description = "Press releases from December 2014";}
        
        


 