


@{ViewBag.Title = "January";}
        
        
<div class="r">
    <div class="breadcrumb-container" role="navigation">
        <span id="breadcrumb-label" class="visually-hidden">You are here:</span>
        <ol class="breadcrumbs clearfix" aria-labelledby="breadcrumb-label">
            <li class="home">
                <a href="/">
                    <span class="hide-text">Home</span>
                </a>
            </li>
            
                <li>
                    <a href="/info-for/media/index">Media</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases">Press releases</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases/2014">2014</a>
                </li>
                
                <li>
                    <span class="last-breadcrumb">January</span>
                </li>
            
 
            
 
            
 
            
 
        </ul>
    </div>
</div>
     
 
<div class="r">
    <div class="headline-container plain">
        <h1>January</h1>
    </div>
</div>

<div class="main-and-aside r">
    <div class="main" role="main">

<div class="on-this-page">


     


<div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2014/january/londoners-back-mayor-and-lus-vision-for-the-future-of-the-tube">Londoners back Mayor and LU's vision for the future of the Tube<br />31 Jan 2014</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2014/january/tfl-sets-out-plans-to-keep-capital-moving-during-strikes-over-modernisation-of-london-underground">TfL sets out plans to keep capital moving during strikes over modernisation of London Underground<br />30 Jan 2014</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2014/january/major-retailers-to-bring-click-and-collect-revolution-to-the-london-underground-network">Major retailers to bring 'click and collect' revolution to the London Underground network<br />29 Jan 2014</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2014/january/more-than-170-drivers-arrested-as-part-of-illegal-cab-touting-crackdown">More than 170 drivers arrested as part of illegal cab touting crackdown<br />29 Jan 2014</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2014/january/contractor-appointed-to-extend-london-overgrounds-willesden-junction-depot">Contractor appointed to extend London Overground's Willesden Junction Depot<br />28 Jan 2014</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2014/january/mayor-launches-the-year-of-the-bus-to-celebrate-vital-part-of-londons-transport-network">Mayor launches the 'Year of the Bus' to celebrate vital part of London's transport network<br />27 Jan 2014</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2014/january/uks-first-low-level-signals-for-cyclists-installed-at-bow-roundabout">UK's first low level signals for cyclists installed at Bow Roundabout<br />27 Jan 2014</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2014/january/lu-urges-tssa-leadership-to-abandon-unnecessary-strike-threat-and-to-work-with-us-to-modernise-the-tube">LU urges TSSA leadership to abandon unnecessary strike threat and to work with us to modernise the Tube<br />27 Jan 2014</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2014/january/mayor-awards-london-boroughs-additional-andpound173m-for-cycling-improvements">Mayor awards London boroughs additional &pound;17.3m for cycling improvements<br />23 Jan 2014</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2014/january/tfl-ambassadors-set-to-help-londoners-beat-totally-unnecessary-industrial-action-on-the-tube">TfL Ambassadors set to help Londoners beat totally unnecessary industrial action on the Tube<br />23 Jan 2014</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2014/january/london-overground-scores-high-for-passenger-satisfaction">London Overground scores high for passenger satisfaction<br />22 Jan 2014</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2014/january/following-improvements-to-taxicard-service-tfl-seeks-to-simplify-subsidised-transport-options-for-mobility-impaired-londoners">Following improvements to Taxicard service, TfL seeks to simplify subsidised transport options for mobility impaired Londoners<br />21 Jan 2014</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2014/january/piccadilly-line-services-to-stop-at-turnham-green-following-line-upgrade">Piccadilly line services to stop at Turnham Green following line upgrade<br />21 Jan 2014</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2014/january/cashless-payment-for-london-underground-car-parks-frozen-for-2014">Cashless payment for London Underground car parks frozen for 2014<br />21 Jan 2014</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2014/january/grab-your-hat-scarf-and-gloves-and-take-advantage-of-a-free-guided-walk-this-weekend">Grab your hat, scarf and gloves and take advantage of a free guided walk this weekend<br />21 Jan 2014</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2014/january/transport-for-london-teams-up-with-local-businesses-to-increase-cycling-in-the-capital">Transport for London teams up with local businesses to increase cycling in the capital<br />20 Jan 2014</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2014/january/key-partners-join-forces-to-make-the-most-of-the-huge-investment-in-crossrail-and-modernised-tube-stations">Key partners join forces to make the most of the huge investment in Crossrail and modernised Tube stations <br />20 Jan 2014</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2014/january/transport-for-london-makes-improvements-to-bus-route-308">Transport for London makes improvements to bus route 308<br />20 Jan 2014</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2014/january/tssa-leadership-urged-to-abandon-strike-ballot-as-unions-passenger-charter-is-revealed-to-match-lus-commitments-to-londoners">TSSA leadership urged to abandon strike ballot as union's 'Passenger Charter' is revealed to match LU's Commitments to Londoners<br />20 Jan 2014</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2014/january/dlr-welcomes-cyclists-aboard-following-successful-trial">DLR welcomes cyclists aboard following successful trial<br />17 Jan 2014</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2014/january/mayor-announces-that-all-new-london-taxis-will-need-to-be-zero-emission-capable-from-2018">Mayor announces that all new London taxis will need to be zero emission capable from 2018<br />16 Jan 2014</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2014/january/transport-for-london-announces-new-congestion-charge-and-low-emission-zone-service-provider">Transport for London announces new Congestion Charge and Low Emission Zone service provider<br />14 Jan 2014</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2014/january/reminder-that-tfls-new-year-fares-come-into-effect-on-sunday-19-january">Reminder that TfL's new year fares come into effect on Sunday 19 January<br />14 Jan 2014</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2014/january/tfl-renews-warning-to-motorists-to-avoid-unofficial-congestion-charge-websites-following-damning-asa-ruling">TfL renews warning to motorists to avoid unofficial Congestion Charge websites following damning ASA ruling<br />13 Jan 2014</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2014/january/major-works-to-replace-lifts-at-covent-garden-station-to-increase-capacity">Major works to replace lifts at Covent Garden station to increase capacity<br />13 Jan 2014</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2014/january/transport-for-london-makes-improvements-to-bus-route-183">Transport for London makes improvements to bus route 183<br />13 Jan 2014</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2014/january/rmt-leaders-urged-not-to-threaten-londoners-with-disruption-but-to-work-with-lu-to-modernise-the-tube">RMT leaders urged not to threaten Londoners with disruption, but to work with LU to modernise the Tube <br />10 Jan 2014</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2014/january/time-capsule-to-be-opened-in-2063-seals-london-undergrounds-extraordinary-150th-anniversary-year">Time Capsule to be opened in 2063 seals London Underground's extraordinary 150th anniversary year <br />08 Jan 2014</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2014/january/views-sought-on-proposed-changes-to-congestion-charging-scheme">Views sought on proposed changes to Congestion Charging scheme<br />06 Jan 2014</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2014/january/investment-programme-advisory-panel-publishes-third-annual-report">Investment programme advisory panel publishes third annual report<br />03 Jan 2014</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2014/january/find-inspiration-to-walk-off-the-christmas-culinary-excess">Find inspiration to walk off the Christmas culinary excess<br />02 Jan 2014</a></div>


        
        
        
        @this.ScriptBlock(
        @<script>
        queue.push("@Html.ScriptPath("modules/M020-on-this-page.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">
        
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
                <a href="/info-for/media/index" class="heading">
                    <h2 id="sub-menu-heading">Media<span class="visually-hidden"> navigation</span></h2>
                </a>
                <ul>
                    
                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases">Press releases</a></div>
                                <ul>
                                    
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2020">2020</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019">2019</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018">2018</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017">2017</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016">2016</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015">2015</a></div></li>
                            
 
                                        <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014">2014</a></div>
                                        <ul>
                                            
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/december">December</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/november">November</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/october">October</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/september">September</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/august">August</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/july">July</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/june">June</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/may">May</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/april">April</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/march">March</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/february">February</a></div></li>
                                    
 
                                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/january">January</a></div>
                                                <ul>
                                                    
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
                                                </ul>
                                            
 
                                        </ul>
                                    </li>
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2013">2013</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2012">2012</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2011">2011</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2010">2010</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2009">2009</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2008">2008</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2007">2007</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2006">2006</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2005">2005</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2004">2004</a></div></li>
                            
 
                                </ul>
                            </li>
 
                                <li><div class="link-wrapper"><a href="/info-for/media/photos">Photos</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/media/contact-the-press-office">Contact the Press Office</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/filming-and-photography">Filming & photography</a></div></li>
                            
 
                </ul>
            
 
 
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>


<div></div>

        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>
 
        
        
            @{ViewBag.Description = "Press releases from January 2014";}
        
        


 