


@{ViewBag.Title = "July";}
        
        
<div class="r">
    <div class="breadcrumb-container" role="navigation">
        <span id="breadcrumb-label" class="visually-hidden">You are here:</span>
        <ol class="breadcrumbs clearfix" aria-labelledby="breadcrumb-label">
            <li class="home">
                <a href="/">
                    <span class="hide-text">Home</span>
                </a>
            </li>
            
                <li>
                    <a href="/info-for/media/index">Media</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases">Press releases</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases/2014">2014</a>
                </li>
                
                <li>
                    <span class="last-breadcrumb">July</span>
                </li>
            
 
            
 
            
 
            
 
        </ul>
    </div>
</div>
     
 
<div class="r">
    <div class="headline-container plain">
        <h1>July</h1>
    </div>
</div>

<div class="main-and-aside r">
    <div class="main" role="main">

<div class="on-this-page">


     


<div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2014/july/free-barclays-cycle-hire-weekend">Free Barclays Cycle Hire Weekend<br />31 Jul 2014</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2014/july/first-british-built-electric-buses-enter-service">First British built electric buses enter service<br />30 Jul 2014</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2014/july/contract-signed-for-mtr-to-run-crossrail-services">Contract signed for MTR to run Crossrail services<br />30 Jul 2014</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2014/july/tfl-and-cubic-continue-partnership">TfL and Cubic continue partnership<br />29 Jul 2014</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2014/july/safer-lorries-scheme-consultation">Safer Lorries Scheme Consultation<br />29 Jul 2014</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2014/july/iconic-london-buses-at-le-tour-finish-in-paris">Iconic London buses at Le Tour finish in Paris<br />28 Jul 2014</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2014/july/contactless-payments-set-to-launch">Contactless payments set to launch<br />25 Jul 2014</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2014/july/three-new-barclays-cycle-hire-docking-stations-for-sw-london">Three new Barclays Cycle Hire docking stations for SW London<br />23 Jul 2014</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2014/july/lu-station-capacity-programme-wins-major-award">Plan ahead and get ready for Prudential RideLondon on 9 and 10 August<br />23 Jul 2014</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2014/july/tfl-joins-danone-in-giving-out-bottles-of-evian-on-the-tube">TfL joins  Danone in giving out bottles of evian on the Tube<br />23 Jul 2014</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2014/july/lu-station-capacity-programme-wins-major-award">LU Station Capacity Programme wins major award<br />22 Jul 2014</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2014/july/route-263-is-extended-to-highbury-barn">Route 263 extended to Highbury Barn<br />22 Jul 2014</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2014/july/essential-roadworks-on-a406-southend-rd-this-summ">Essential roadworks on A406 Southend Rd this summer <br />21 Jul 2014</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2014/july/world-s-largest-bus-retrofit-programme-compjeted">World's largest bus retrofit programme completed<br />21 Jul 2014</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2014/july/changes-to-bus-services-due-to-southall-broadway-works">Changes to bus services due to Southall Broadway works<br />21 Jul 2014</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2014/july/delivering-the-future-of-london-s-traffic-signals">Delivering the future of London's traffic signals<br />18 Jul 2014</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2014/july/tfl-announces-mtr-to-run-crossrail-servic">TfL announces MTR to run Crossrail services <br />18 Jul 2014</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2014/july/plans-for-year-of-the-bus-sculpture-trail-unveiled">Plans for Year of the Bus Sculpture Trail unveiled<br />17 Jul 2014</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2014/july/euros-on-the-tube">Euros on the Tube<br />15 Jul 2014</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2014/july/tfl-shortlists-bidders-for-trains">TfL shortlists bidders for trains<br />15 Jul 2014</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2014/july/air-quality-headlines-crossrail-sustainability-report">Air quality headlines Crossrail sustainability report<br />15 Jul 2014</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2014/july/summer-poems-on-the-underground">Summer Poems on the Underground<br />15 Jul 2014</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2014/july/get-your-office-onto-two-wheels-with-the-launch-of-the-workplace-cycle-challenge">Get your office onto two wheels with the launch of the Workplace Cycle Challenge<br />14 Jul 2014</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2014/july/willesden-junction-work-to-enable-25-capacity-increase">Willesden Junction work to enable 25% capacity increase<br />14 Jul 2014</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2014/july/first-ever-pedestrian-safety-action-plan-for-london">First ever Pedestrian Safety Action Plan for London<br />11 Jul 2014</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2014/july/tfl-asks-londoners-to-share-the-ro">TfL asks Londoners to 'Share the Road'<br />11 Jul 2014</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2014/july/tfl-appoints-barber-and-osgerby-to-work-on-design-of-crossrail-train">TfL appoints Barber & Osgerby to work on design of Crossrail train<br />11 Jul 2014</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2014/july/the-warren-school-launches-green-wall-as-part-of-mayor-s-air-quality-fu">The Warren School launches green wall as part of Mayor's Air Quality Fund <br />11 Jul 2014</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2014/july/tfl-to-help-keep-londoners-moving-during-putney-bridge-essential-repair-works">TfL to help keep Londoners moving during Putney Bridge essential repair works<br />11 Jul 2014</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2014/july/london-holds-inaugural-car-club-event">London holds inaugural Car Club event<br />10 Jul 2014</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2014/july/new-segregated-cycle-superhighway-plans-publish">New segregated Cycle Superhighway plans published <br />09 Jul 2014</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2014/july/essential-road-improvement-works-to-hogarth-flyover-this-summ">Essential road improvement works to Hogarth Flyover this summer <br />09 Jul 2014</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2014/july/walworth-bus-garage-open-day---19-july">Walworth Bus Garage Open Day - 19 July<br />09 Jul 2014</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2014/july/search-for-a-new-sponsor-of-london-s-iconic-cycle-hire-scheme-steps-up-a-gear">Search for a new sponsor of London's iconic Cycle Hire scheme steps up a gear<br />08 Jul 2014</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2014/july/have-your-say-on-vital-new-river-crossings-for-east-london">Have your say on vital new river crossings for east London<br />07 Jul 2014</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2014/july/london-prepares-to-welcome-the-return-of-the-to">London prepares to welcome the return of the Tour!<br />07 Jul 2014</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2014/july/le-tour-a-success-in-london-as-a-million-spectators-line-the-route-for-stage-3">Le Tour a success in London as a million spectators line the route for Stage 3<br />07 Jul 2014</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2014/july/24-hours-until-london-welcomes-the-tour-de-france">24 hours until London welcomes the Tour de France<br />06 Jul 2014</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2014/july/london-gets-ready-to-welcome-back-the-tour-de-france-on-monday">London gets ready to welcome back the Tour de France on Monday<br />04 Jul 2014</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2014/july/tfl-names-keolis-amey-docklands-as-docklands-light-railway-operator-until-2021">TfL names Keolis Amey Docklands as Docklands Light Railway operator until 2021<br />04 Jul 2014</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2014/july/lifetime-achievement-award-for-tfl-planner-mich-le-d">Lifetime achievement award for TfL planner Mich&egrave;le Dix <br />03 Jul 2014</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2014/july/major-refurbishment-will-make-euston-escalators-more-reliable-for-customers">Major refurbishment will make Euston escalators more reliable for customers<br />03 Jul 2014</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2014/july/route-8-and-38-now-served-by-new-routemaster-buses">Route 8 and 38 now served by New Routemaster buses<br />02 Jul 2014</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2014/july/volunteers-gear-up-for-the-arrival-of-the-tour-de-france-in-london-on-monday">Volunteers gear up for the arrival of the Tour de France in London on Monday<br />02 Jul 2014</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2014/july/london-s-buses-go-cash-free-from-this-sunday">London's buses go cash free from this Sunday<br />01 Jul 2014</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2014/july/view-london-with-emirates-air-line-and-thames-clippers">View London with Emirates Air Line and Thames Clippers<br />01 Jul 2014</a></div>


        
        
        
        @this.ScriptBlock(
        @<script>
        queue.push("@Html.ScriptPath("modules/M020-on-this-page.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">
        
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
                <a href="/info-for/media/index" class="heading">
                    <h2 id="sub-menu-heading">Media<span class="visually-hidden"> navigation</span></h2>
                </a>
                <ul>
                    
                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases">Press releases</a></div>
                                <ul>
                                    
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2020">2020</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019">2019</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018">2018</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017">2017</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016">2016</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015">2015</a></div></li>
                            
 
                                        <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014">2014</a></div>
                                        <ul>
                                            
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/december">December</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/november">November</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/october">October</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/september">September</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/august">August</a></div></li>
                                    
 
                                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/july">July</a></div>
                                                <ul>
                                                    
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
                                                </ul>
                                            
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/june">June</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/may">May</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/april">April</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/march">March</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/february">February</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/january">January</a></div></li>
                                    
 
                                        </ul>
                                    </li>
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2013">2013</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2012">2012</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2011">2011</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2010">2010</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2009">2009</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2008">2008</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2007">2007</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2006">2006</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2005">2005</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2004">2004</a></div></li>
                            
 
                                </ul>
                            </li>
 
                                <li><div class="link-wrapper"><a href="/info-for/media/photos">Photos</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/media/contact-the-press-office">Contact the Press Office</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/filming-and-photography">Filming & photography</a></div></li>
                            
 
                </ul>
            
 
 
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>


<div></div>

        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>
 
        
        
            @{ViewBag.Description = "Press releases from July 2014";}
        
        


 