


@{ViewBag.Title = "June";}
        
        
<div class="r">
    <div class="breadcrumb-container" role="navigation">
        <span id="breadcrumb-label" class="visually-hidden">You are here:</span>
        <ol class="breadcrumbs clearfix" aria-labelledby="breadcrumb-label">
            <li class="home">
                <a href="/">
                    <span class="hide-text">Home</span>
                </a>
            </li>
            
                <li>
                    <a href="/info-for/media/index">Media</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases">Press releases</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases/2014">2014</a>
                </li>
                
                <li>
                    <span class="last-breadcrumb">June</span>
                </li>
            
 
            
 
            
 
            
 
        </ul>
    </div>
</div>
     
 
<div class="r">
    <div class="headline-container plain">
        <h1>June</h1>
    </div>
</div>

<div class="main-and-aside r">
    <div class="main" role="main">

<div class="on-this-page">


     


<div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2014/june/one-week-to-go-london-glows-yellow-for-the-return-of-tour-de-fran">One week to go! London glows yellow for the return of Tour de France <br />30 Jun 2014</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2014/june/victoria-line-upgrade-helps-to-deliver-most-frequent-train-service-in-uk">Victoria line upgrade helps to deliver most frequent train service in UK<br />30 Jun 2014</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2014/june/travel-advice-ahead-of-the-pride-in-london-events">Travel advice ahead of the Pride in London events<br />27 Jun 2014</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2014/june/01-base-page-36993">Finding the next generation of engineers<br />27 Jun 2014</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2014/june/overground-passenger-satisfaction-continues-to-rise">Overground passenger satisfaction continues to rise<br />26 Jun 2014</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2014/june/work-to-transform-bond-street-tube-station">Work to transform Bond Street Tube station<br />26 Jun 2014</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2014/june/tfl-and-amazon-team-up-to-introduce-amazon-lockers">TfL and Amazon team up to introduce Amazon Lockers<br />25 Jun 2014</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2014/june/boost-with-more-services-between-epsom-and-kingston">Buses Boost with more services between Epsom and Kingston<br />25 Jun 2014</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2014/june/keeping-passengers-moving-during-putney-bridge-works">Keeping passengers moving during Putney Bridge works<br />24 Jun 2014</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2014/june/celebrating-the-tour-de-france-returning-to-london">Celebrating the Tour de France returning to London<br />24 Jun 2014</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2014/june/night-bus-services-to-shoreditch-get-a-further-boo">Night bus services to Shoreditch get a further boost <br />23 Jun 2014</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2014/june/bus-passengers-on-bus-route-w19-benefit-from-a-more-regular-service">Bus passengers on bus route W19 benefit from a more regular service<br />20 Jun 2014</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2014/june/all-aboard---get-in-line-at-the-lego-bus-stop">ALL ABOARD - Get in line at the LEGO Bus Stop<br />20 Jun 2014</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2014/june/tfl-makes-it-simpler-for-customers-to-get-a-refund-for-a-delayed-journey">TfL makes it simpler for customers to get a refund for a delayed journey<br />20 Jun 2014</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2014/june/a-more-regular-n26-night-bus-servi">A more regular N26 night bus for Shoreditch and Hackney's social scene<br />19 Jun 2014</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2014/june/central-line-trains-are-stopping-at-bond-street-tube-station">Central line trains are stopping at Bond Street Tube station<br />18 Jun 2014</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2014/june/essential-escalator-works-to-take-place-at-paddington-stati">Essential escalator works to take place at Paddington station <br />18 Jun 2014</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2014/june/explore-london-s-sporting-sights-by-barclays-cycle-hire">Explore London's sporting sights by Barclays Cycle Hire<br />18 Jun 2014</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2014/june/tour-de-france-road-closures-and-bus-diversions-in-westminster-on-7-july">Tour de France road closures & bus diversions in Westminster on 7 July<br />16 Jun 2014</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2014/june/suppliers-selected-for-250m-modernisation-of-lu-s-power-systems">Suppliers selected for modernisation of LU's power systems<br />16 Jun 2014</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2014/june/tour-de-france-road-closures-and-bus-diversions-in-newham-on-7-july">Tour de France road closures and bus diversions in Newham on 7 July<br />16 Jun 2014</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2014/june/tour-de-france-road-closures-and-bus-diversions---city-of-london-on-7-ju">Tour de France road closures & bus diversions - City of London on 7 July <br />16 Jun 2014</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2014/june/transport-workers-recognised-in-queen-s-birthday-honours">Transport workers recognised in Queen's Birthday Honours<br />14 Jun 2014</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2014/june/tfl-paves-the-way-with-a-rainbow-crossing-for-pride-in-london-2014">TfL paves the way with a rainbow crossing for Pride in London 2014<br />13 Jun 2014</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2014/june/tour-de-france-road-closures-and-bus-diversions-in-redbridge-on-7-ju">Tour de France road closures & bus diversions in Redbridge on 7 July<br />13 Jun 2014</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2014/june/tour-de-france-road-closures-and-bus-diversions-in-hackney">Tour de France road closures and bus diversions in Hackney<br />13 Jun 2014</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2014/june/innovative-trials-to-further-improve-cycle-safety-across-london">Innovative trials to further improve cycle safety across London<br />13 Jun 2014</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2014/june/tour-de-france-road-closures-and-bus-diversions-in-tower-hamlets-on-7-july">Tour de France road closures and bus diversions in Tower Hamlets<br />13 Jun 2014</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2014/june/year-of-the-bus-celebrates-two-centuries-of-buses-with-regent-street-bus-cavalcade">Year of the Bus celebrates two centuries of buses with Regent Street Bus Cavalcade<br />12 Jun 2014</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2014/june/major-refurbishment-for-euston-escalators">Major refurbishment for Euston escalators<br />12 Jun 2014</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2014/june/london-transport-museum-unveils-restored-early-b-type-bus">London Transport Museum unveils restored early B-type bus<br />12 Jun 2014</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2014/june/tfl-annual-report-2013-14-published">TfL Annual Report 2013-14 published<br />11 Jun 2014</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2014/june/casualties-on-london-s-roads-at-lowest-level-ever">Casualties on London's roads at lowest level ever<br />11 Jun 2014</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2014/june/tfl-s-live-bus-arrival-data-helps-keep-millions-of-londoners-moving-every-day">TfL's live bus arrival data helps keep millions of Londoners moving every day<br />10 Jun 2014</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2014/june/tfl-and-espnfc-team-up-to-deliver-football-updates">TfL & ESPNFC team up to deliver football updates<br />10 Jun 2014</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2014/june/traffic-disruption-caused-by-taxi-protest-on-wednesday-11-june">Traffic disruption caused by taxi protest on Wednesday 11 June<br />09 Jun 2014</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2014/june/have-your-say-on-crossrail-2">Have your say on Crossrail 2<br />09 Jun 2014</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2014/june/thousands-of-spectators-view-first-ever-barclays-cycle-hire-ra">Thousands of spectators view first ever Barclays Cycle Hire race <br />08 Jun 2014</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2014/june/rejuvenated-lift-shaft-revolutionises-track-engineeri">Rejuvenated lift shaft revolutionises track engineering <br />06 Jun 2014</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2014/june/crime-on-london-s-transport-system-at-lowest-ever-level">Crime on London's transport system at lowest ever level<br />04 Jun 2014</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2014/june/tfl-introduces-oyster-one-more-journey-on-london-s-buses">TfL introduces Oyster 'One More Journey' on London's buses<br />04 Jun 2014</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2014/june/virgin-media-and-unsafe-mcnicholas-fined-for-unsafe-working-practices">Virgin Media and unsafe McNicholas fined for unsafe working practices<br />03 Jun 2014</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2014/june/last-day-in-service-for-the-c-stock-as-modern-air-conditioned-trains-introduced">Last day in service for the C-stock as modern air-conditioned trains introduced<br />03 Jun 2014</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2014/june/dft-and-tfl-publish-report-setting-out-options-for-step-free-crossrail">DfT and TfL publish report setting out options for step free Crossrail<br />03 Jun 2014</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2014/june/celebrate-le-tour-de-france-with-the-london-cycle-challenge">Celebrate Le Tour de France with the London Cycle Challenge<br />03 Jun 2014</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2014/june/formal-process-underway-for-high-court-ruling-on-taximeters">Formal process underway for High Court ruling on taximeters<br />03 Jun 2014</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2014/june/tfl-seeks-new-sponsor-for-iconic-cycle-hire-scheme">TfL seeks new sponsor for iconic Cycle Hire scheme<br />02 Jun 2014</a></div>


        
        
        
        @this.ScriptBlock(
        @<script>
        queue.push("@Html.ScriptPath("modules/M020-on-this-page.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">
        
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
                <a href="/info-for/media/index" class="heading">
                    <h2 id="sub-menu-heading">Media<span class="visually-hidden"> navigation</span></h2>
                </a>
                <ul>
                    
                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases">Press releases</a></div>
                                <ul>
                                    
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2020">2020</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019">2019</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018">2018</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017">2017</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016">2016</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015">2015</a></div></li>
                            
 
                                        <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014">2014</a></div>
                                        <ul>
                                            
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/december">December</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/november">November</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/october">October</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/september">September</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/august">August</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/july">July</a></div></li>
                                    
 
                                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/june">June</a></div>
                                                <ul>
                                                    
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
                                                </ul>
                                            
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/may">May</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/april">April</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/march">March</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/february">February</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/january">January</a></div></li>
                                    
 
                                        </ul>
                                    </li>
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2013">2013</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2012">2012</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2011">2011</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2010">2010</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2009">2009</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2008">2008</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2007">2007</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2006">2006</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2005">2005</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2004">2004</a></div></li>
                            
 
                                </ul>
                            </li>
 
                                <li><div class="link-wrapper"><a href="/info-for/media/photos">Photos</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/media/contact-the-press-office">Contact the Press Office</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/filming-and-photography">Filming & photography</a></div></li>
                            
 
                </ul>
            
 
 
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>


<div></div>

        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>
 
        
        
            @{ViewBag.Description = "Press releases from June 2014";}
        
        


 