


@{ViewBag.Title = "May";}
        
        
<div class="r">
    <div class="breadcrumb-container" role="navigation">
        <span id="breadcrumb-label" class="visually-hidden">You are here:</span>
        <ol class="breadcrumbs clearfix" aria-labelledby="breadcrumb-label">
            <li class="home">
                <a href="/">
                    <span class="hide-text">Home</span>
                </a>
            </li>
            
                <li>
                    <a href="/info-for/media/index">Media</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases">Press releases</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases/2014">2014</a>
                </li>
                
                <li>
                    <span class="last-breadcrumb">May</span>
                </li>
            
 
            
 
            
 
            
 
        </ul>
    </div>
</div>
     
 
<div class="r">
    <div class="headline-container plain">
        <h1>May</h1>
    </div>
</div>

<div class="main-and-aside r">
    <div class="main" role="main">

<div class="on-this-page">


     


<div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2014/may/series-of-bus-garage-open-days-to-celebrate-the-year-of-the-b">Series of bus garage open days to celebrate the Year of the Bus <br />28 May 2014</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2014/may/london-s-preparations-for-tour-de-france-get-into-ge">London's preparations for Tour de France get into gear <br />28 May 2014</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2014/may/london-s-new-routemaster-immortalised-in-print">London's New Routemaster immortalised in print<br />29 May 2014</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2014/may/tfl-to-invite-high-court-to-rule-on-taximeters">TfL to invite High Court to rule on taximeters<br />29 May 2014</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2014/may/congestion-charge-changes-to-improve-customer-service">Congestion Charge changes to improve customer service<br />28 May 2014</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2014/may/tfl-appoints-london-overground-operator-to-run-additional-services">TfL appoints London Overground operator to run additional services<br />28 May 2014</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2014/may/first-ever-barclays-cycle-hire-race-to-be-held">First ever Barclays Cycle Hire race to be held<br />23 May 2014</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2014/may/services-increased-as-record-journeys-made-on-tube">Services increased as record journeys made on Tube<br />28 May 2014</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2014/may/exhibition-and-consultation-on-bank-stn-upgrade-pla">Exhibition and consultation on Bank Stn upgrade plans <br />27 May 2014</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2014/may/new-campaign-warns-young-drivers-of-the-consequences-of-speeding">New campaign warns young drivers of the consequences of speeding<br />23 May 2014</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2014/may/school-children-s-artwork-exhibited-across-the-tube-network">School children's artwork exhibited across the Tube network<br />20 May 2014</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2014/may/west-croydon-bus-station-transformation-to-begin-this-year">West Croydon bus station transformation to begin this year<br />20 May 2014</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2014/may/new-routemaster-brings-live-rock-roll-n-soul-to-londoners-this-weekend">New Routemaster brings live rock, roll 'n' soul to Londoners this weekend<br />16 May 2014</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2014/may/lu-unveils-innovative-new-boarding-ramps-for-a-more-accessible-tube">LU unveils new boarding ramps for a more accessible Tube<br />16 May 2014</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2014/may/one-way-weekend-resurfacing-works-on-hammersmith-flyover-from-30-may">One-way weekend resurfacing works on Hammersmith Flyover from 30 May<br />16 May 2014</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2014/may/tfl-appoints-tatehindle-to-undertake-works-on-55-broadway">TfL appoints TateHindle to undertake works on 55 Broadway<br />01 May 2014</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2014/may/putney-to-blackfriars-river-bus-service-has-record-year">Putney to Blackfriars River Bus service has record year<br />15 May 2014</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2014/may/annual-passenger-journeys-on-london-s-buses-top-2-4-billion">Annual passenger journeys on London's buses top 2.4 billion<br />14 May 2014</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2014/may/competitions-launched-to-celebrate-le-tour-coming-to-london">Competitions launched to celebrate Le Tour coming to London<br />12 May 2014</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2014/may/bus-passngers-in-peckham-to-get-extended-route-136">Route 136 extended in North Peckham<br />09 May 2014</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2014/may/virgin-media-fined-for-unsafe-working-practices-causing-danger-to-london-s-road-users">Virgin Media fined for unsafe working practices causing danger to London's road users<br />08 May 2014</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2014/may/tfl-helps-secure-three-year-asbo-for-prolific-offender">TfL helps secure three year ASBO for prolific offender<br />06 May 2014</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2014/may/london-underground-statement-as-rmt-leadership-confirm-tube-strike-is-suspend">London Underground statement as RMT leadership confirm Tube strike is suspended <br />05 May 2014</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2014/may/statement-from-lu-in-response-to-confirmation-of-rmt-strike">Tube Modernisation: Statement from LU in response to confirmation of RMT strike<br />02 May 2014</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2014/may/tfl-sets-out-plans-to-keep-capital-moving-during-unnecessary-rmt-strike-action">TfL sets out plans to keep capital moving during unnecessary RMT strike action<br />02 May 2014</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2014/may/full-tube-services-in-operation-after-rmt-strike">Full Tube services in operation after RMT strike<br />01 May 2014</a></div>


        
        
        
        @this.ScriptBlock(
        @<script>
        queue.push("@Html.ScriptPath("modules/M020-on-this-page.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">
        
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
                <a href="/info-for/media/index" class="heading">
                    <h2 id="sub-menu-heading">Media<span class="visually-hidden"> navigation</span></h2>
                </a>
                <ul>
                    
                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases">Press releases</a></div>
                                <ul>
                                    
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2020">2020</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019">2019</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018">2018</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017">2017</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016">2016</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015">2015</a></div></li>
                            
 
                                        <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014">2014</a></div>
                                        <ul>
                                            
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/december">December</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/november">November</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/october">October</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/september">September</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/august">August</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/july">July</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/june">June</a></div></li>
                                    
 
                                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/may">May</a></div>
                                                <ul>
                                                    
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
                                                </ul>
                                            
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/april">April</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/march">March</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/february">February</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/january">January</a></div></li>
                                    
 
                                        </ul>
                                    </li>
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2013">2013</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2012">2012</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2011">2011</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2010">2010</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2009">2009</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2008">2008</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2007">2007</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2006">2006</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2005">2005</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2004">2004</a></div></li>
                            
 
                                </ul>
                            </li>
 
                                <li><div class="link-wrapper"><a href="/info-for/media/photos">Photos</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/media/contact-the-press-office">Contact the Press Office</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/filming-and-photography">Filming & photography</a></div></li>
                            
 
                </ul>
            
 
 
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>


<div></div>

        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>
 
        
        
            @{ViewBag.Description = "Press releases from May 2014";}
        
        


 