


@{ViewBag.Title = "September";}
        
        
<div class="r">
    <div class="breadcrumb-container" role="navigation">
        <span id="breadcrumb-label" class="visually-hidden">You are here:</span>
        <ol class="breadcrumbs clearfix" aria-labelledby="breadcrumb-label">
            <li class="home">
                <a href="/">
                    <span class="hide-text">Home</span>
                </a>
            </li>
            
                <li>
                    <a href="/info-for/media/index">Media</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases">Press releases</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases/2014">2014</a>
                </li>
                
                <li>
                    <span class="last-breadcrumb">September</span>
                </li>
            
 
            
 
            
 
            
 
        </ul>
    </div>
</div>
     
 
<div class="r">
    <div class="headline-container plain">
        <h1>September</h1>
    </div>
</div>

<div class="main-and-aside r">
    <div class="main" role="main">

<div class="on-this-page">


     


<div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2014/september/london-overground-extension-plans">London Overground extension plans<br />08 Sep 2014</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2014/september/tfl-welcomes-opinion-of-advocate-general">TfL welcomes opinion of Advocate General<br />25 Sep 2014</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2014/september/-google-celebrates-year-of-the-bus"> Google celebrates Year of the Bus<br />24 Sep 2014</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2014/september/silwood-sidings-open-for-business">Silwood Sidings open for business<br />16 Sep 2014</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2014/september/bakerloo-line-extension-vital-for-south-london">Bakerloo line extension 'vital' for South London<br />30 Sep 2014</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2014/september/redevelopment-of-west-croydon-bus-stati">Redevelopment of West Croydon bus station <br />29 Sep 2014</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2014/september/data-on-tfl-public-toilets-now-available">Data on TfL public toilets now available<br />26 Sep 2014</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2014/september/over-one-million-contactless-journeys-since-launch">Over one million contactless journeys since launch<br />25 Sep 2014</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2014/september/route-n55-frequency-increases-in-shoreditch">Route N55 in Shoreditch to increase in frequency<br />25 Sep 2014</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2014/september/share-a-homesafeselfie---safer-travel-at-night">Share a #HomeSafeSelfie - Safer Travel at Night<br />25 Sep 2014</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2014/september/new-research-points-to-improved-hgv-safety">New research points to improved HGV safety<br />24 Sep 2014</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2014/september/-historic-new-night-tube-service">'Historic' new Night Tube service<br />24 Sep 2014</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2014/september/old-oak-common-consultation">Old Oak Consultation<br />22 Sep 2014</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2014/september/tfl-upgrades-london-s-safety-cameras">TfL upgrades London's safety cameras<br />17 Sep 2014</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2014/september/more-than-128-000-contactless-payments-made">More than 128,000 contactless payments made<br />18 Sep 2014</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2014/september/mayor-and-tfl-expand-europe-s-greenest-bus-fleet">Mayor & TfL expand Europe's greenest bus fleet<br />19 Sep 2014</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2014/september/tfl-welcome-suspension-of-bus-industrial-action">TfL welcomes suspension of bus industrial action<br />18 Sep 2014</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2014/september/indra-appointed-to-upgrade-tunnels-control-centre">Indra appointed to upgrade Tunnels Control Centre<br />16 Sep 2014</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2014/september/free-film-screenings-for-year-of-the-bus">Free film screenings for Year of the Bus<br />17 Sep 2014</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2014/september/advice-to-bus-passengers-in-south-west-london">Advice to bus passengers in south west London<br />18 Sep 2014</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2014/september/more-convenient-journeys-for-millions">More convenient journeys for millions<br />16 Sep 2014</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2014/september/explore-london-with-free-guided-walks">Explore London with free guided walks<br />15 Sep 2014</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2014/september/ambitious-plans-for-underground-s-historic-">Ambitious plans for Underground's historic home<br />15 Sep 2014</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2014/september/essential-works-on-ferry-loading-bridges">Essential works on Ferry loading bridges<br />09 Sep 2014</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2014/september/lu-welcomes-suspension-of-strike-action">LU welcomes suspension of strike action<br />12 Sep 2014</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2014/september/student-barclays-cycle-hire-discount">Student Barclays Cycle Hire Discount<br />10 Sep 2014</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2014/september/pioneering-event-to-help-disabled">Pioneering event to help disabled<br />11 Sep 2014</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2014/september/tfl-shows-support-for-rainbow-laces">TfL shows support for Rainbow Laces<br />11 Sep 2014</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2014/september/tfl-launches-new-public-exhibition">TfL launches new public exhibition<br />12 Sep 2014</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2014/september/friends-life-tour-of-britain-conclusi">Friends Life Tour of Britain conclusion <br />10 Sep 2014</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2014/september/tfl-expands-click-and-collect-services">TfL expands Click and Collect services<br />10 Sep 2014</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2014/september/contactless-payment-on-london-underground">Contactless payment on London Underground<br />09 Sep 2014</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2014/september/contract-awarded-for-new-bank-station-entrance">Contract awarded for new Bank station entrance<br />02 Sep 2014</a></div>


        
        
        
        @this.ScriptBlock(
        @<script>
        queue.push("@Html.ScriptPath("modules/M020-on-this-page.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">
        
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
                <a href="/info-for/media/index" class="heading">
                    <h2 id="sub-menu-heading">Media<span class="visually-hidden"> navigation</span></h2>
                </a>
                <ul>
                    
                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases">Press releases</a></div>
                                <ul>
                                    
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2020">2020</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019">2019</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018">2018</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017">2017</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016">2016</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015">2015</a></div></li>
                            
 
                                        <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014">2014</a></div>
                                        <ul>
                                            
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/december">December</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/november">November</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/october">October</a></div></li>
                                    
 
                                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/september">September</a></div>
                                                <ul>
                                                    
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
                                                </ul>
                                            
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/august">August</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/july">July</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/june">June</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/may">May</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/april">April</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/march">March</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/february">February</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/january">January</a></div></li>
                                    
 
                                        </ul>
                                    </li>
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2013">2013</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2012">2012</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2011">2011</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2010">2010</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2009">2009</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2008">2008</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2007">2007</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2006">2006</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2005">2005</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2004">2004</a></div></li>
                            
 
                                </ul>
                            </li>
 
                                <li><div class="link-wrapper"><a href="/info-for/media/photos">Photos</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/media/contact-the-press-office">Contact the Press Office</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/filming-and-photography">Filming & photography</a></div></li>
                            
 
                </ul>
            
 
 
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>


<div></div>

        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>
 
        
        
            @{ViewBag.Description = "Press releases from September 2014";}
        
        


 