


@{ViewBag.Title = "Biggest investment in London's transport in 80 years as TfL publishes Business Plan ";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>Biggest investment in London's transport in 80 years as TfL publishes Business Plan </h1>
        <div class="content-page-press-release">
        28 March 2011
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        Transport upgrades and frontline services protected, helping to secure London's global competitiveness and economic growth.
        
    </div>



 <div class="on-this-page">
<div class="pullquote right">
                        <p>
                            We will meet all of those challenges while also ensuring we are as efficient and effective as we can be
                            
                        </p>
                    </div>
                
            
            
            <p>Transport network to run record levels of service and carry record numbers of passengers. </p>
<p>A &pound;7.6bn savings and efficiencies programme to be delivered.</p>
<p>
<hr>

<p>
<p>London's transport network will see massive growth in both the number of passengers it carries and the number of services it operates, according to Transport for London's (TfL's) revised Business Plan, which will be considered by its Board later this week (Wednesday 30 March).</p>
<p>During the next four years a huge programme of investment will see three Tube lines fully upgraded with new trains on five lines, major progress on Crossrail, the completion of the London Overground network, traffic flow smoothed, the completion of the Barclays Cycle Superhighways and extension of Barclays Cycle Hire, and the maintenance of London's frequent, reliable and accessible bus network. </p>
<p>During that time the number of Tube services operated will increase by 10 million kilometres and an extra 112 million passengers will be carried&nbsp;- 1.25bn in total, while the London Overground network will see a 20 per cent increase in passengers.</p>
<p>The plan also sets out an increased savings and efficiencies programme totalling &pound;7.6bn, up from around &pound;5bn, demonstrating that the Mayor and TfL are leading the way in the public sector on delivering value for money. </p>
<p>Despite an overall&nbsp;eight per cent reduction in TfL's overall spending power following last year's Government Spending Review, there will be an unprecedented upgrade of London's transport network while front line services are protected now and in the future.</p>
<h2>Tfl will deliver</h2>
<p>Over the course of this Business Plan, which runs until 2014/15, TfL delivery will include:&nbsp;</p>
<ul>
<li>The Jubilee line upgrade delivering a 33 per cent increase in capacity across the line with more trains and faster journeys </li>
<li>The Victoria line upgrade which will deliver a 21 per cent increase in capacity with new trains and a 19 per cent improvement in journey times </li>
<li>The Northern line upgrade which will see a 20 per cent increase in capacity across the line and an 18 per cent reduction in journey times </li>
<li>New trains on the Hammersmith &amp; City, Metropolitan, District and Circle lines </li>
<li>Major progress on Crossrail, with tunnelling completed and station construction both above and below ground </li>
<li>Delivery of transport for the London 2012 Olympic and Paralympic Games </li>
<li>A&nbsp;total of 4,000 traffic signals reviewed to reduce delays on London's roads </li>
<li>The introduction of a lane rental scheme to cut unnecessary delays caused by roadworks, subject to support from the Government </li>
<li>The cable car crossing between North Greenwich and The Royal Docks </li>
<li>The eastward extension of Barclays Cycle Hire </li>
<li>The completion of all 12 Barclays Cycle Superhighways </li>
<li>The New Bus for London </li>
<li>The completion of the London Overground rail network, London's first orbital railway </li>
<li>The Source London electric vehicle charging network</li></ul>
<p>The Mayor of London, Boris Johnson, said: 'Through negotiations, savings and efficiencies we have done what many believed to be impossible. </p>
<h2>Massive investment</h2>
<p>'We have secured the greatest investment in London's transport network in 80 years which will deliver Crossrail, the Tube upgrades, the completion of the London Overground network and the continuation of the cycling revolution, while protecting front line passenger and customer services.</p>
<p>'The staggering &pound;7.6bn in savings and efficiencies TfL is making means that every penny will be spent on delivering and upgrading services for the Capital, providing even better value for money to fare and taxpayers.'</p>
<p>London's transport network will play a key role in delivering the 2012 Games and will deliver a lasting transport legacy for the Capital. </p>
<p>All 2012 transport improvements are on track to be delivered well ahead of the Games including the Jubilee line upgrade, a 50 per cent increase in capacity on the Docklands Light Railway and an extension from Canning Town to Stratford, enhanced walking and cycling routes, major improvements at Stratford Regional station and step-free access at Green Park and Southfields stations.</p>
<p>London's Transport Commissioner Peter Hendy said: 'The next four years will be among the busiest and most exciting in the history of London's transport network. </p>
<p>'We will be carrying more passengers and running more services than ever before, the Tube carried 1.1 billion passengers this year and the buses 2.2 billion, and our operational performance is on an ever improving trend. </p>
<h2>Ready for the Games</h2>
<p>'This is at the same time as we carry out an unprecedented upgrade of our network and get ready to host the 2012 Games.</p>
<p>'We will meet all of those challenges while also ensuring we are as efficient and effective as we can be through our &pound;7.6bn savings programme.'</p>
<p>The &pound;7.6bn savings and efficiencies programme, to be delivered over the course of the Business Plan period and through to 2017/18, includes:</p>
<ul>
<li>A full review of TfL's structure, led by Transport Commissioner Peter Hendy, to ensure the organisation is as efficient as possible with corporate and back office costs further reduced to protect frontline services </li>
<li>&pound;400m in savings from ticket office changes driven by a reduction in 800 management and operations roles </li>
<li>&pound;375m from efficiencies in IT systems </li>
<li>&pound;460m in savings in bus subsidy costs while maintaining the current extensive and effective bus service levels </li>
<li>&pound;290m from renegotiating major contracts (including Congestion Charging and highway maintenance) </li>
<li>&pound;175m from relocating staff into cheaper locations</li></ul><strong>
<p>
<hr>

<p>
<p>Notes to editors:</p>
<ul>
<li></li></ul></strong>TfL's <a href="http://www.tfl.gov.uk/assets/downloads/corporate/Item05-Board-30-03-2011-Business-Plan-and-Budget.pdf">Draft 2011/12 Business Plan </a>is available online 
<li>The TfL Board will consider the Draft Business Plan on Wednesday 30 March</li>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "Transport network to run record levels of service and carry record numbers of passengers. A &pound;7.6bn savings and efficiencies programme to be delivered.London's transport network will see massive growth in both the number of passengers it carries and";}
        
        


 