


@{ViewBag.Title = "Congestion Charge Auto Pay account membership reaches 100,000";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>Congestion Charge Auto Pay account membership reaches 100,000</h1>
        <div class="content-page-press-release">
        21 March 2011
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        More than 100,000 drivers are now reaping the rewards of signing up to automatically pay the Congestion Charge, which means they need never be fined again.
        
    </div>



<div class="pull-quote">
        <div class="quote-body">"This significant milestone clearly demonstrates the popularity of CC Auto Pay."</div>
        <div class="quote-footer">
            <div class="quotee-name">Nick Fairholme</div>
            <div class="quotee-job-title">TfL Interim Director of Congestion Charging and Traffic Enforcement</div>
        </div>
</div>

 <div class="on-this-page">
<div class="pullquote right">
                        <p>
                            This significant milestone clearly demonstrates the popularity of CC Auto Pay.
                            
                        </p>
                    </div>
                
            
            
            <p>The Auto Pay (CC Auto Pay) system was set up just three months ago as part of a series of changes the Mayor made to the Congestion Charge.</p>
<p>It provides a simple, easy way for drivers to pay the Congestion Charge automatically with customers getting a &pound;1 discount from the &pound;10 daily charge at the same time.</p>
<h2>One less thing to worry about</h2>
<p>Drivers registered with CC Auto Pay need never worry about being fined for forgetting to pay the charge again.</p>
<p>They will only be charged for the days they travel within the zone and charges will be automatically deducted from their nominated debit or credit card.</p>
<p>Transport for London (TfL) launched CC Auto Pay accounts on 4 January, with pre-registration available from November 2010.&nbsp;</p>
<p>Since then&nbsp;more than&nbsp;840,000 payments have been processed for over 146,000 vehicles registered to the 100,000 accounts now set up for CC Auto Pay.</p>
<h2>Strong response</h2>
<p>Mayor of London, Boris Johnson, said: 'Auto Pay has taken the fuss, the hassle and the bother out of remembering to pay the Congestion Charge and with 100,000 people signed up, Londoners clearly agree.</p>
<p>'I have kept the promise I made to make the Congestion Charge fairer and would urge everyone who drives into the Congestion Charge zone to sign up, take the discount, and avoid forever that dreaded sense of knowing you have forgotten to pay.'</p>
<p>TfL's Interim Director of Congestion Charging and Traffic Enforcement, Nick Fairholme, said: 'This significant milestone clearly demonstrates the popularity of CC Auto Pay.&nbsp;</p>
<p>'Motorists recognise the hassle-free payment method, as well as the reduced daily charge and the peace of mind that they will never be sent a Penalty Charge Notice for forgetting to pay the charge.</p>
<p>'We would encourage anyone who has not yet signed up for an account to do so now.'</p>
<h2>Easy to register</h2>
<p>To register for a CC Auto Pay account drivers will need a credit or debit card and will have to pay a &pound;10 registration charge for each vehicle on the account.&nbsp;</p>
<p>Motorists can register for a CC Auto Pay account at <a href="http://www.cclondon.com/">http://www.cclondon.com/</a></p>
<hr>
            <p><strong>Notes to editors:</strong></p>
<ul>
<li>The central London Congestion Charging zone was introduced in February 2003</li>
<li>On 19 February 2007 it was extended westwards, creating a single enlarged zone in which the same charges, discounts and exemptions apply</li>
<li>On 24 December 2010 the Western Extension Zone was removed following a public consultation</li>
<li>As well as reducing congestion, the congestion charging scheme has also helped reduce emissions of climate change gases and environmental pollutants from vehicles and encouraged people travelling in the area to use public transport, to walk or cycle</li>
<li>Customers can register for a CC Auto Pay account on the TfL website at: <a href="http://www.cclondon.com">www.cclondon.com</a>&nbsp;&nbsp; <br></li></ul>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "The Auto Pay (CC Auto Pay) system was set up just three months ago as part of a series of changes the Mayor made to the Congestion Charge.It provides a simple, easy way for drivers to pay the Congestion Charge automatically with customers getting a";}
        
        


 