


@{ViewBag.Title = "Engineering works on London Overground and Bakerloo line services over Easter and May Bank Holidays";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>Engineering works on London Overground and Bakerloo line services over Easter and May Bank Holidays</h1>
        <div class="content-page-press-release">
        31 March 2011
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        London Overground (LO) services north of Euston and London Underground's (LU's) Bakerloo line services north of Paddington will be subject to essential engineering works, by Network Rail and Transport for London (TfL), between 22 April and 8 May.
        
    </div>



 <div class="on-this-page">
<div class="pullquote right">
                        <p>
                            Once these works are completed they will help to provide a more reliable service for passengers
                            
                        </p>
                    </div>
                
            
            
            <p>The majority of works to upgrade the tracks and signalling will take place over the Easter and May Bank Holidays when passenger numbers are generally lower.</p>
<p>However, planned LO closures will also affect services on seven weekdays, when an increased replacement bus service will be provided. </p>
<p>Howard Smith, Chief Operating Officer, LO said: 'We have worked closely with our colleagues at London Underground to ensure that the works on both the Bakerloo line and London Overground network impact on as few journeys as possible and to ensure that a train service remains for the majority of works. </p>
<p>'When this is not possible a replacement bus service will be provided.</p>
<p>'Once these works are completed they will help to provide a more reliable service for passengers.'</p>
<p>For the Royal Wedding on 29 April, there will be an increased rail replacement bus service between Watford Junction and Harrow &amp; Wealdstone. </p>
<p>For those wanting to travel into central London the Bakerloo line will be running a full service on this day. </p>
<p>The closures are as follows:</p>
<h3>Friday 22 April to Monday 25 April </h3>
<p>Bakerloo line: Paddington - Harrow &amp; Wealdstone<br>LO:&nbsp; Queen's Park - Watford Junction</p>
<h3>Tuesday 26 April to Friday 29 April </h3>
<p>LO: Willesden Junction - Watford Junction</p>
<h3>Saturday 30 April to Monday 2 May </h3>
<p>Bakerloo line: Queen's Park - Harrow &amp; Wealdstone<br>LO: Queen's Park - Watford Junction</p>
<h3>Tuesday 3 May to Saturday 7 May</h3>LO:&nbsp;Euston - Kilburn High Road 
<h3>Sunday 8 May </h3>Bakerloo line: Queen's Park - Harrow &amp; Wealdstone<br>LO: Euston - Watford Junction 
<p>Passengers are advised to check <a href="http://www.tfl.gov.uk">tfl.gov.uk</a> to plan their route, and for updates on Tube engineering works and transport service changes that may affect journeys.</p>
<p>
<hr>

<p>
<p><strong>Notes to editors:</strong></p>
<ul>
<li>A leaflet will be available in stations and on the TfL website in early April </li>
<li>From May 2011 a new timetable will be introduced on the LO network. Passengers will benefit from an increase in frequency with up to eight trains per hour between Willesden Junction and Stratford </li>
<li>As a result of Network Rail improvement works on the LO network from Monday 28 March to Monday 25 April, all LO trains will be diverted from platform 2 to platform 17 at Clapham Junction station. Access to and from platform 17 will be restricted, please allow extra time to walk to the platform</li></ul>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "The majority of works to upgrade the tracks and signalling will take place over the Easter and May Bank Holidays when passenger numbers are generally lower.However, planned LO closures will also affect services on seven weekdays, when an increased";}
        
        


 