


@{ViewBag.Title = "Gateway to the Games opens as Stratford Regional Station upgrade nears completion ";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>Gateway to the Games opens as Stratford Regional Station upgrade nears completion </h1>
        <div class="content-page-press-release">
        21 March 2011
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        A new London Underground ticket hall and entrance is now open at Stratford Regional Station. This will help keep Londoners and visitors moving now and during the London 2012 Olympic and Paralympic Games.
        
    </div>



<div class="pull-quote">
        <div class="quote-body">"The new ticket hall, gateline, extra ticket machines and entrance will make passengers' journeys quicker and help reduce congestion at busy times."</div>
        <div class="quote-footer">
            <div class="quotee-name">Richard Parry</div>
            <div class="quotee-job-title">LU Strategy and Commercial Director</div>
        </div>
</div>

 <div class="on-this-page">
<div class="pullquote right">
                        <p>
                            The new ticket hall, gateline, extra ticket machines and entrance will make passengers' journeys quicker and help reduce congestion at busy times.
                            
                        </p>
                    </div>
                
            
            
            <p>The new station facilities have been funded by the Olympic Delivery Authority (ODA) and Transport for London (TfL), providing a legacy for the Capital yet delivered well ahead of the London 2012 Games.</p>
<p>The new entrance is part of a multi-billion investment in transport, which is on track and will make this part of East London one of the best connected areas of the Capital.</p>
<p>Passengers will now be able to enter and leave the station more easily and congestion will be reduced, especially during the London 2012 Games.</p>
<h2>New Central line access</h2>
<p>The bright and spacious modern ticket hall is located on the mezzanine level of the station and provides direct access to the Central line, which also has a new platform for passengers to exit on both sides.</p>
<p>Around 120,000 people are expected to use Stratford Regional Station at peak times during the London 2012 Games. </p>
<p>Boris Johnson, Mayor of London, said: 'Millions of visitors will flock to London from all over the world in 2012 and this brand spanking new ticket hall will make travelling to the Olympic Park an altogether more pleasant experience.</p>
<p>'The improvements at Stratford are yet another example of London gearing up for the 2012 Games and providing the city with a lasting legacy, long after the Games have finished.'</p>
<p>Richard Parry, Strategy and Commercial Director for London Underground, said: 'Customers are going to really benefit from this new light and airy mezzanine entrance to Stratford Regional Station now, during and well ahead of the London 2012 Games.</p>
<p>'The new ticket hall, gateline, extra ticket machines and entrance will make passengers' journeys quicker and help reduce congestion at busy times.'</p>
<h2>The legacy</h2>
<p>Hugh Sumner, Director of Transport for the ODA, said: 'Delivering improved transport is one of the strongest physical legacies of the Games, with around &pound;6.5 billion of associated investment in transport infrastructure across the UK.</p>
<p>'The opening of the new entrance and ticket hall at Stratford Regional will not only benefit spectators during Games-time, but also those using the station before and after London 2012.'</p>
<p>TfL is on track with a multi-billion investment plan for the Games and is delivering improvements in the capacity, reliability and security of the transport network.</p>
<p>'Over &pound;200 million is being invested at Stratford Regional Station by the ODA and TfL.</p>
<p>The steps leading up to the new mezzanine entrance were funded by Westfield. </p>
<hr>
            <p>Notes to editors:</p>
<ul>
<li>TfL will be the official lead on transport operations during the London 2012 Games. This will incorporate the road networks as well as all public transport. A number of major transport projects have already been completed or are nearing completion, leaving a legacy for the Capital well ahead of the London 2012 Games. Improvements include upgrades to London Overground and the walking and cycling networks, extensions to the Docklands Light Railway (DLR), smoothing traffic flow on the Capital's roads and increasing capacity on the Tube. The Tube is undergoing a huge and essential programme to upgrade its ageing infrastructure - vital to cope with a growing population and to support the economic development and growth of the capital and the UK. This includes the introduction of new track and signalling and the rebuilding of some of our most important stations. By the end of the current programme in 2020 there will be 30 per cent&nbsp;more capacity </li>
<li>This will inevitably result in some disruption for passengers, but TfL is working hard to provide information and alternative travel options. The work is essential to provide for London's growing transport needs now, and into the future. TfL is urging all Londoners and Tube, London Overground, London Tramlink and DLR passengers to 'check before you travel' at weekends, allowing extra journey time where necessary. Weekend travel news is available at <a href="http://www.tfl.gov.uk">tfl.gov.uk</a> </li>
<li>Platform 3a on the Central line was brought into use in September 2010. The new ticket hall at Straford will provide direct access to this platform which has a special design allowing customers to get off westbound trains from both sides of the carriage. This makes it easier for customers to change onto other lines or leave this busy station more quickly<br></li></ul>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "The new station facilities have been funded by the Olympic Delivery Authority (ODA) and Transport for London (TfL), providing a legacy for the Capital yet delivered well ahead of the London 2012 Games.The new entrance is part of a multi-billion investment";}
        
        


 