


@{ViewBag.Title = "Let's get digital - Tube passengers could be checking their emails at stations by the 2012 Games ";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>Let's get digital - Tube passengers could be checking their emails at stations by the 2012 Games </h1>
        <div class="content-page-press-release">
        25 March 2011
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        Following a successful trial of wi-fi technology at Charing Cross Tube station, London Underground is inviting telecoms companies to tender for wi-fi provision at up to 120 stations across the network by June 2012.
        
    </div>



 <div class="on-this-page">
<p>A contract will be awarded to the chosen bidder by the end of 2011, which could mean that passengers will be able to log on to the internet from their laptops or mobile devices at stations before the 2012 Olympic&nbsp;and Paralympic Games. </p>
<p>The trial at Charing Cross Tube station, which began in November 2010, tested how the wi-fi service worked and also looked at&nbsp;passenger reactions&nbsp;over several months.&nbsp; </p>
<p>The trial, which was carried out with BT Openzone, was met with enthusiasm by passengers.&nbsp; </p>
<p>The first phase of wider wi-fi provision on the Tube would be to make available the service currently used by London Underground (LU) staff at 16 stations for passenger use, and then to work to expand this service to other Underground stations.</p>
<p>Research from Charing Cross Tube station found that over half of LU passengers surveyed felt that access to wi-fi would make their experience of using the Tube better. </p>
<p>Many people questioned have said they would like to see this service rolled out to more stations on the Underground and that connecting to a wireless broadband hotspot with a wi-fi enabled device at a Tube station is very useful.</p>

<h2>Wireless technology</h2>
<p>Boris Johnson, the Mayor of London, said: 'The roll out of wi-fi technology across the platforms and public areas of our Tube stations will finally allow Londoners to use mobile devices to pick up their emails, access social media sites and stay in touch with the world above while they traverse our subterranean transport network. </p>
<p>'We are inviting companies to bid to do this before next June, which would mean that even Londoners going underground will be able to keep up to date with the British medal tally at the 2012 Games.'</p>
<p>LU expects the tender to be of interest to existing service providers and other established internet service providers looking to expand into the public wi-fi market. </p>
<p>As well as improving journeys for passengers, wi-fi services are a potential future revenue source for LU.&nbsp;</p>
<p>The tender is for the provision of wi-fi services at stations and will allow passengers to access their emails anywhere in the station. </p>
<p>The service does not extend to trains. </p>

<h2>Online Underground</h2>
<p>This invitation to tender will also allow prospective partners to supply details of how they would create a wi-fi network at street level at places such as bus shelters or bus hubs. </p>
<p>A contract notice will appear in the Official Journal of the European Union later this month and the tender is also being advertised in the national press next Tuesday. </p>
<p>Transport for London (TfL)&nbsp;and the Mayor of London are currently in discussion with mobile phone operators and other suppliers about the potential provision of mobile phone services on the deep Tube network. </p>
<p>Given the financial pressures on TfL's budgets, any solution would need to be funded through mobile operators with no cost to fare or taxpayers. </p>
<p>Discussions are ongoing.</p>
<p>The trial at Charing Cross Tube station is ongoing and customers will continue to be able to access wi-fi at the station until later this year.</p>
<p>
<hr>

<p>
<p><strong>Notes to editors:</strong></p>
<ul>
<li>The Tube is undergoing a huge and essential programme to upgrade its ageing infrastructure - vital to cope with a growing population and to support the economic development and growth of the Capital and the UK. This includes the introduction of new track and signalling and the rebuilding of some of our most important stations, which together will mean an increase in capacity on the network of 30 per cent </li>
<li>This will inevitably result in some disruption for passengers, but TfL is working hard to provide information and alternative travel options. The work is essential to provide for London's growing transport needs now, and into the future. TfL is urging all Londoners and Tube, London Overground, London Tramlink and Docklands Light Railway passengers to check before they travel at weekends, allowing extra journey time where necessary. Weekend travel news is available at <a href="http://www.tfl.gov.uk">tfl.gov.uk</a></li></ul>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "A contract will be awarded to the chosen bidder by the end of 2011, which could mean that passengers will be able to log on to the internet from their laptops or mobile devices at stations before the 2012 Olympic&nbsp;and Paralympic Games. The trial at";}
        
        


 