


@{ViewBag.Title = "London Underground announces plan for new District line timetable";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>London Underground announces plan for new District line timetable</h1>
        <div class="content-page-press-release">
        29 March 2011
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        Proposals would boost service for busiest served section of the line and improve reliability for District line passengers.
        
    </div>



 <div class="on-this-page">
<div class="pullquote right">
                        <p>
                            The introduction of the new timetable would provide significant reliability improvements for the whole line
                            
                        </p>
                    </div>
                
            
            
            <p>The Wimbledon branch will see five additional trains during the morning peak. </p>
<p>Changes enabled by withdrawal of weekday service to Kensington (Olympia) following increase in Overground service serving the venue.</p>
<p>
<hr>

<p>
<p>As part of work to improve the reliability of the District line, London Underground (LU) today announced its intention to introduce a new timetable in December 2011. </p>
<p>The timetable has been designed to deal with the issues associated with bottlenecks in the Earl's Court area, which is one of the most complex junctions on the Tube network and the source of many of the delays that occur on the line.</p>
<p>To simplify the service, reduce delays and boost services to the Wimbledon branch which is the busiest section of the District line, LU proposes to remove weekday services to Kensington (Olympia), which carry less than one percent of District line passengers. </p>
<p>This will enable LU to re-route services to the Wimbledon branch, which sees nearly 30 per cent of District line traffic, by providing five extra trains during the morning peak - an increase of 12 percent. </p>
<p>The Olympia service will still operate during the weekend, and LU plans to operate special services to serve major weekday events at the Olympia exhibition centre. </p>
<p>From May 2011, Kensington (Olympia) will benefit from additional London Overground services, with four trains serving the station every hour (replacing the current three-train service), with interchange to the Tube available at both West Brompton (District line) and Shepherds Bush (Central line) stations. </p>
<h2>Better reliability</h2>
<p>Southern services will also continue to serve the station. </p>
<p>During the week passengers will also be able to use nearby Barons Court or West Kensington stations, both of which are within half a mile of the Olympia Exhibition Centre. </p>
<p>Richard Parry, Strategy and Commercial Director, LU, said: 'The District line is one of the busiest lines on the Tube network used by over 700,000 people each day. </p>
<p>'The introduction of the new timetable would provide significant reliability improvements for the whole line and in particular major benefits to customers who use the Wimbledon branch with an additional five trains during the morning peak. </p>
<p>'This is only possible by withdrawing the under-utilised weekday Olympia District line service, however with an increase in the London Overground service to Kensington (Olympia) from May we believe that our proposals balance the needs of all customers, including those travelling to Olympia.'</p>
<p>
<hr>

<p>
<p><strong>Notes to editors:</strong></p>
<ul>
<li>As part of LU's upgrade plan, the District line will be completely upgraded with new air-conditioned trains being introduced on the line from 2013 and a new signalling system to be introduced by 2018. Overall, the upgrade will deliver 24 per cent&nbsp;more capacity to the line </li>
<li>The new timetable would be introduced in December 2011. Views are invited from interested parties by 30 June 2011 via LU's&nbsp;Customer Service Centre, 55 Broadway, London SW1H 0BD </li>
<li>Walking distances from Olympia to: 
<ul>
<li>West Kensington station&nbsp;-&nbsp;0.4 miles </li>
<li>Baron's Court - 0.5 miles </li>
<li>Earl's Court - 0.8 miles </li>
<li>High Street Kensington - 0.8 miles </li>
<li>Shepherd's Bush&nbsp;- 0.8 miles </li>
<li>Hammersmith- 0.8 miles</li></ul></li></ul>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "The Wimbledon branch will see five additional trains during the morning peak. Changes enabled by withdrawal of weekday service to Kensington (Olympia) following increase in Overground service serving the venue.As part of work to improve the reliability of";}
        
        


 