


@{ViewBag.Title = "Mayor announces shortlisted bidders for additional trams in Croydon";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>Mayor announces shortlisted bidders for additional trams in Croydon</h1>
        <div class="content-page-press-release">
        24 March 2011
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        Mayor of London Boris Johnson today announced the shortlisted bidders to supply Transport for London (TfL) with up to ten more trams, which will increase services on the Tramlink network.
        
    </div>



 <div class="on-this-page">
<div class="pullquote right">
                        <p>
                            Trams in Croydon have proved a major success
                            
                        </p>
                    </div>
                
            
            
            <p>The three bidders, City of Edinburgh/CAF, Stadler (Stadler Pankow GmBH) and Pesa (Pojazdy Szynowe PESA Bydgoszcz S.A.Holding) will now be invited to submit proposals to supply the additional trams which would increase the frequency of services on the busiest parts of the network between Therapia Lane, central Croydon and Elmers End.</p>
<p>Inspecting one of the current trams at East Croydon tramstop today Mayor of London Boris Johnson said: 'I have no greater responsibility as Mayor than to ensure people can move around this city with ease, comfort and reliability. </p>
<p>'Trams in Croydon have proved a major success and this is reflected in journey numbers which have soared by 45 per cent since the network opened in 2000. </p>
<p>'I look forward to the extra vehicles developing this vital, much-appreciated, and indeed attractive, form of transport further.'</p>
<p>The London Borough of Croydon has confirmed a &pound;3m contribution in funding to the project which will also include the refurbishment of tramstop surrounds. </p>
<p>Croydon Council Leader Mike Fisher said: 'This is looking like a great deal for Croydon and shows the benefits of an ambitious local authority and committed Mayor working together, pooling resources and expertise. </p>
<p>'There is real support to get additional trams for Croydon to keep pace with growing demand for Tramlink services and also to secure major improvements for pedestrians and transport users around and between East and West Croydon stations'</p>
<p>If acceptable bids are received, the extra trams could be in service in just under a years time. </p>
<p>
<hr>
</p>
<p><strong>Notes to editors:</strong></p>
<ul>
<li>Following today's announcement of shortlisted bidders, the Invitation to Tender will be issued for a tender period of four weeks</li>
<li>A supplier will be appointed and a contract let. TfL anticipates that trams will be delivered during the latter part of 2011 for a possible start of service in early 2012</li>
<li>London Tramlink is looking at either new build or existing vehicles that can be modified at reasonable cost to run on the Tramlink infrastructure</li>
<li>Tramlink services have remained relatively static (between 2.4 and 2.7 million km per annum) since 2000. However passenger journeys per annum have increased by 45 per cent&nbsp;in 10 years. It is predicted the 18.6 million journeys made in 2001/02 will increase to 27.8 million by the end of the 2010/11 period</li>
<li>TfL purchased Tramtrack Croydon Ltd in June 2008 when it became London Tramlink. Since then TfL has spent &pound;2m on deep cleaning and refurbishing the tram fleet and tramstops, it has also delivered mre than &pound;5m in track upgrades since 2008 to improve reliability. Shortly after taking over the network, Tramlink increased its off-peak services in the evenings and on Sundays</li></ul>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "The three bidders, City of Edinburgh/CAF, Stadler (Stadler Pankow GmBH) and Pesa (Pojazdy Szynowe PESA Bydgoszcz S.A.Holding) will now be invited to submit proposals to supply the additional trams which would increase the frequency of services on the";}
        
        


 