


@{ViewBag.Title = "Mayor unveils design of the royal wedding Oyster card ";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>Mayor unveils design of the royal wedding Oyster card </h1>
        <div class="content-page-press-release">
        29 March 2011
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        Limited-edition Oyster card to commemorate the wedding of Prince William and Catherine Middleton available in the week leading up to the royal wedding.
        
    </div>



 <div class="on-this-page">
<p>With one month to go until the nuptials of Prince William and Catherine Middleton, the Mayor of London Boris Johnson and Transport for London (TfL) today unveiled the design of the limited-edition royal wedding Oyster card. </p>
<p>The design features a portrait of the couple and the wedding date of 29 April 2011, and will be on sale in the week leading up to the ceremony. </p>
<p>Around 750,000 royal wedding Oyster cards will be available while stocks last from all London Underground and London Overground stations, and some National Rail ticket offices, as well as TfL Travel Information Centres. </p>
<p>Regular commuters might want to collect the card as a souvenir, and for visitors to London during the celebrations the card will not only ensure they pay the cheapest fares for their journeys, it will also act as a reminder of their part in the royal wedding festivities. </p>
<p>More than 80 per cent of all public transport journeys in London are made using an Oyster card and it is the world's most popular travel smartcard, with more than 43 million issued since 2003. </p>
<p>The limited-edition Oyster card commemorating Prince William and Catherine Middleton's marriage follows tradition as, in 1981, a unique ticket was also produced by TfL's predecessor London Transport for the marriage of William's parents, Charles and Diana.</p>
<h2>Transport collectable</h2>
<p>Mayor of London Boris Johnson said: 'Just as royal wedding fever starts to take hold in the city, this fantastic commemorative Oyster card is a great chance for Londoners and visitors to have a slice of the action as a fabulous memento of the happy day. </p>
<p>'I would also recommend the card to the happy couple as the cheapest, easiest way of getting around this city, especially as it bears their resemblance.'</p>
<p>Peter Hendy, London's Transport Commissioner, said: 'London's transport network will play a key role in helping people travel to the wedding celebrations, so it is appropriate that we commemorate the day with a limited edition Oyster card.</p>
<p>'This is the first time we have produced a limited-edition Oyster card and I'm sure they will be a hugely popular souvenir of the day while ensuring Londoners and visitors get the cheapest fares for their journeys.'</p>
<p>The &pound;5 deposit and &pound;5 minimum top-up will apply as normal for the limited-edition card and it will be available from 21 April 2011.</p>
<p>Using Oyster, passengers only need one card to travel on all public transport across London, including National Rail services operating within the Capital. </p>
<p>Passengers using Oyster pay as you go are always reminded to touch in and out at the start and end of every journey to ensure they pay the correct fare. </p>
<p>
<hr>

<p>
<p><strong>Notes to editors:</strong></p>
<ul>
<li>For National Rail passengers, the limited-edition royal wedding Oyster card will only be available at stations where they can currently get an Oyster card </li>
<li>For visitors to London, <a href="http://www.visitorshop.tfl.gov.uk ">Visitor Oyster cards</a> (without the royal wedding design) can be purchased via the TfL website and delivered across the UK or internationally, before arriving in London </li>
<li>Oyster was introduced on the TfL network in 2003. In February 2011, TfL announced that from early 2012, bus passengers will be able to pay for their journeys using bank issued <a href="http://www.tfl.gov.uk/corporate/media/newscentre/archive/19216.html">contactless debit and credit cards</a>. This will be rolled out to the rest of the transport network later in 2012 </li>
<li>The image of Prince William and Catherine Middleton on the limited-edition royal wedding Oyster card is copyright Clarence House 2010</li></ul>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "With one month to go until the nuptials of Prince William and Catherine Middleton, the Mayor of London Boris Johnson and Transport for London (TfL) today unveiled the design of the limited-edition royal wedding Oyster card. The design features a portrait";}
        
        


 