


@{ViewBag.Title = "Mayor hails measures to tackle congestion";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>Mayor hails measures to tackle congestion</h1>
        <div class="content-page-press-release">
        09 March 2011
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">



<div class="pull-quote">
        <div class="quote-body">"For the first time ever in London we have a clear strategy that examines every facet of the operation of the road network"</div>
        <div class="quote-footer">
            <div class="quotee-name">Kulveer Ranger</div>
            <div class="quotee-job-title">the Mayor of London's Transport Advisor</div>
        </div>
</div>

 <div class="on-this-page">
<div class="pullquote right">
                        <p>
                            For the first time ever in London we have a clear strategy that examines every facet of the operation of the road network
                            
                        </p>
                    </div>
                
            
            
            <p>The Mayor of London, Boris Johnson, has heralded measures being taken to tackle congestion in the Capital. </p>
<p>The latest figures show that in total the Capital's drivers are spending 80,000 less hours in their vehicles every day due to work being carried out to tackle congestion and smooth traffic in London.</p>
<p>Today the Mayor's Transport Advisor, Kulveer Ranger, explained to a London Assembly Transport Committee investigation into how to tackle congestion, how a coordinated series of actions had been taken since the Mayor's election in order to reduce disruption on the roads.</p>
<p>He also reassured the Committee that much more will be done to ease disruption for road users in the Capital. </p>
<p>As a result of the actions being taken progress in easing congestion is being made. </p>
<p>Serious and severe delay and disruption is down by approximately&nbsp;five per cent&nbsp;in the year to date compared to 2009/10. </p>
<p>Plus traffic speeds in London during morning peak are up by 3.1 per cent&nbsp;since 2007 while traffic demand continues to decline.</p>
<p>The Mayor of London, Boris Johnson, said: 'I know how important reducing the burden of congestion is to Londoners, particularly for thousands of families living in the suburbs, and with the 2012 Games on the horizon we have an extra incentive to ensure congestion is eased on our roads.</p>
<p>'Much like an Olympic athlete you have to build up to these things so we have put in a lot of hard work, there is a lot more to come and we are committed to making sure our roads flow as smoothly as possible when the world comes to London next year.'</p>
<p>Work to ease congestion is vital as the Capital is in the midst of what the Mayor has called a 'neo-Victorian age of transport investment' with huge amounts of work taking place on Tube upgrades and Crossrail. </p>
<p>When combined with preparations for the London 2012 Games, management of the road network has never been more important.&nbsp;</p>
<h2>Changes for the better</h2>
<p>&nbsp;Work put in motion under the Mayor's lead has included: </p>
<ul>
<li>The review of timings on 1,727 sets of traffic signals since April 2009, which has reduced delays at those signals by 6.8 per cent&nbsp;<br></li>
<li>The installation of sophisticated computer technology at nearly 600 sites around London that allows traffic signals to automatically adjust their timings to suit the level of traffic. By 2015 half of the Capital's 6,000 sets of traffic signals should be using the system, reducing delays at each location by an estimated 12 per cent<br></li>
<li>Identification of 129 locations where it is thought the flow of traffic could be improved by ripping out traffic signals and providing an alternative type of crossing. Work then takes place in consultation with the local boroughs and residents before a final decision is made on removal of the signal <br></li>
<li>The first trial of pedestrian countdown timers on traffic signals in England. Numerical countdown displays were installed on traffic signals at eight junctions across London. Independent research carried out prior to this trial showed that having the system can increase the number of vehicles getting through a junction without having to stop at a red light by up to 6.5 per cent. Today the Mayor's Transport Advisor called for the trial to be shortened by six months to one year as initial feedback shows that the scheme is already demonstrating clear benefits in the Capital<br></li>
<li>Developing a code of conduct for roadworks and the introduction of a permit scheme for utility companies carrying out works on the road network that has enabled TfL to refuse nearly 9,000 permits since last April and prevent 1,200 days of potential disruption. The overall level of roadworks on the Capital's 'red routes' (which TfL is directly responsible for) is now down&nbsp;eight per cent on 2009/10 and the amount of disruption they cause 20 per cent lower</li></ul>
<p>Kulveer Ranger, the Mayor of London's Transport Adviser, said: 'For the first time ever in London we have a clear strategy that examines every facet of the operation of the road network. </p>
<p>'We are making sure traffic signals keep people moving and investing in the latest traffic management technology to improve their performance, but also making clear that if they are not required then they simply should not be there. </p>
<p>'We are looking at innovative improvements such as pedestrian countdown and we are working with industry and partners to improve the coordination of road works. </p>
<p>'But most crucially people are now realising that the Mayor's approach is to treat the Capital's road network as the vital piece of national infrastructure that it is. </p>
<p>'And that our efforts to improve the flow of traffic in the Capital will not cease.'</p>
<p>Although a considerable amount of work is already underway Kulveer Ranger also described how the Mayor's team would continue to build on these projects and also bring in new measures to tackle congestion. </p>
<p>A particular focus will remain on working closely with the boroughs and any organisation with an influence on the Capital's roads to do that. </p>
<p>He updated the committee on a series of positive meetings with the Government with the aim of progressing the development of a lane rental scheme that would mean utility companies are finally given a real financial incentive to cause as little disruption as possible.</p>
<p>With 38 per cent of traffic delays in London caused by roadworks at an estimated cost of nearly &pound;1bn of economic disruption every year the Mayor has made clear that he believes a lane rental system that charges utility companies for digging up the Capital's busiest roads at the busiest times would be the best possible way of encouraging them to be more prudent in the way that they work. </p>
<h2>The permit scheme </h2>The success of the permit scheme for utility companies has inspired seven more London boroughs to apply to introduce permitting on their roads and they are waiting for permission from the Government to do so. 
<p>With a decision expected in April if they all get the go ahead 25 of the Capital's boroughs would then be operating the scheme in addition to the key roads managed by TfL. </p>
<p>This would mean three quarters of the Capital's roads would be covered by the permit scheme. </p>
<p>Work also continues to sign up all of London's boroughs to the Mayor's code of conduct for roadworks. </p>
<p>The success of the Mayor's code has led the National Joint Utilities Group to adopt it as a template for a national code.</p>
<p>Edmund King, President of the Automobile Association, backed the work that the Mayor's Office is undertaking in the Capital. </p>
<p>He said: 'Traffic in London is always on a knife-edge and it only takes two unrelated incidents to cause congestion. </p>
<p>'Hence it is essential that we take bold steps now to plan for the future.&nbsp;</p>
<p>'We applaud steps already taken by the Mayor in terms of coordination of road works, phasing of traffic lights, reducing incidents at Blackwall Tunnel, targeting traffic hot spots, promotion of the electric vehicle strategy and encouraging cycling.'</p>
<p>Natalie Chapman, the Freight Transport Association's Head of Policy for London, said 'Congestion is a major headache for commercial drivers who are servicing London's businesses and have no other choice but to drive to their destinations, so measures such as these to improve traffic flow are welcome.</p>
<p>'Not only do businesses see their delivery costs affected but also smoothing the flow of traffic helps to improve air quality and reduce collisions.&nbsp;</p>
<p>'We look forward to seeing these initiatives being rolled out and complimented by the logistics sector's work to reduce congestion by making better use of off-peak delivery opportunities.'</p>
<p>
<hr>
<strong></strong><strong></strong>&nbsp; <strong>Notes to editors:</strong> 
<p>Traffic signal timings:</p>
<ul>
<li>Since April 2009, TfL has carried out 1,727 signal timing reviews across London. Changes made to the signals as a result of these reviews have delivered a 6.8 per cent reduction in unnecessary delays at traffic signals, without negatively impacting on pedestrians</li></ul>
<p>Split Cycle Offset Optimisation Technique (SCOOT) technology:</p>
<ul>
<li>One third of London's traffic signals operate using SCOOT technology. SCOOT&nbsp;is a highly sophisticated method of traffic control using sensors buried in the road to change traffic signal timings according to current traffic demand </li>
<li>Since the Mayor came to power in May 2008, Transport for London (TfL) has installed the necessary civil infrastructure for SCOOT at 561 sites across the Capital, which includes thousands of meters of ducting and cabling </li>
<li>TfL is planning on upgrading a further 240 traffic signals across London with SCOOT during 2011/12, with an aspiration to have half of the Capitals traffic signals running on this system by 2015 </li>
<li>Under normal traffic conditions, SCOOT is expected to reduce delays by up to 12 per cent and stops by up to eight per cent in London. During an incident, such as a road accident, SCOOT can yield up to a 29 per cent reduction in delays and reduce stops by up to 25 per cent</li></ul>
<p>Traffic signal removal:</p>
<ul>
<li>In July 2010, TfL identified 145 proposed locations for traffic signal removal. Since then signals at&nbsp;four locations have already been removed and the boroughs and TfL have agreed to proceed with replacement at 12 further locations </li>
<li>Thirty-six locations have been removed from the list and will not be progressed for removal. Twenty new sites have been identified for potential removal, leaving 129 locations on the list for potential removal </li>
<li>TfL continues to work with all London boroughs to identify traffic signals that may no longer provide a benefit to road users in London which could be removed and replaced, where applicable, with an alternative traffic control measure. Traffic signals will only be replaced with other measures on borough roads if the borough decides that is what it wants to do. Local consultation will be undertaken in all cases before a final decision is made</li></ul>
<p>Mayor's Code of Conduct:</p>
<ul>
<li>In April 2009 the Mayor agreed a voluntary Code of Conduct for Road Works with the five largest utility companies (BT Openreach, Thames Water, EDF Energy, Virgin Media, National Grid) working in London that has already resulted in better managed road works. These were joined by Southern Gas Ltd on 25 February 2010. The six utility companies, along with TfL highway works, account for 94 per cent of all works carried across London </li>
<li>During the first six months of the Mayor's Code of Conduct for Road Works, the number of road works taking place only outside of peak hours on the TfL road network more than doubled (compared to the same six months in the previous year), rising from 1,224 in May-October 2008 to 2,451 in May-October 2009 - helping to cut delays on London's roads. It also found that there has been a reduction in the number of works inspected that required improvement for safety reasons, and only a small number of sites were now failing to display standard information signage </li>
<li>In June 2010, the National Joint Utilities Group adopted the Mayor's Code of Conduct as a template for a national Code, which is evidence of London's leadership in this area. TfL and the Mayor of London is also working to sign all 33 London boroughs up to the Code by 2012, helping to ensure better management of road works on all of the Capital's roads </li></ul>
<p>London Permit Scheme:</p>
<ul>
<li>TfL and 18 London boroughs currently operate a road work permitting schemes: City of London, Westminster City Council, The Royal Borough of Kensington &amp; Chelsea and the London Boroughs of Barnet, Brent, Bromley, Camden, Croydon, Ealing, Enfield, Hackney, Hammersmith &amp; Fulham, Haringey, Hounslow, Islington, Lewisham, Redbridge and Wandsworth </li>
<li>Since April 2010, TfL has granted around 44,450 permits, refused around 8,900 for varying reasons and prevented more than 1,200 days of disruption by working with the utilities to better coordinate their works on TfL's roads. These measures alone have helped reduce disruption from poorly planned and coordinated works </li>
<li>Following the success of the London Permit Scheme, a number of additional London boroughs have now agreed to sign up to introduce a permitting scheme on their local roads. Seven boroughs, Southwark, Greenwich, Richmond, Waltham Forest, Lambeth, Newham and Harrow have recently written to the Department for Transport (DfT) for permission to introduce the scheme from April 2011, with a decision expected shortly </li>
<li>This would take the total number of London boroughs operating roadwork permitting schemes across London to 25 which, together with TfL's network, would cover 10,773 kilometres or 76 per cent of all roads in the Capital </li>
<li>Hillingdon and Barking &amp; Dagenham are currently consulting on introducing the scheme on their roads and TfL continues to discuss introducing a permitting scheme with the remaining five London boroughs, with a look to have all of the Capitals roads signed up by 2012</li></ul>
<p>Reducing congestion:</p>
<ul>
<li>Through the London Permit Scheme and the Mayor's Code of Conduct for Road Works, TfL has helped to reduce the amount of disruption on London's roads caused by road works. So far this year, TfL has recorded a 21 per cent reduction in the level of serious and severe disruption occurring on the TfL network across London, compared to the same period last year, and has managed to save more than 1,200 days of disruption by better coordination of road works on the Capital's busiest roads </li>
<li>For every 30 minutes Londoners travelled on TfL's roads last year, on average, their journeys are 29 seconds faster today. Given that there are the equivalent of 10 million such car journeys made every day on the network, this means that London's drivers are cumulatively sitting in their cars for more than 80,000 hours less every day</li></ul>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "The Mayor of London, Boris Johnson, has heralded measures being taken to tackle congestion in the Capital. The latest figures show that in total the Capital's drivers are spending 80,000 less hours in their vehicles every day due to work being carried out";}
        
        


 