


@{ViewBag.Title = "New trams to help boost Croydon's economy a step closer";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>New trams to help boost Croydon's economy a step closer</h1>
        <div class="content-page-press-release">
        01 March 2011
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        A joint funding scheme between Transport for London (TfL) and the London Borough of Croydon which will enable TfL to lease up to 10 new trams was applauded by the Mayor Boris Johnson and Croydon Leader  Mike Fisher today.
        
    </div>



 <div class="on-this-page">
<p>A Croydon Council Finance Committee meeting last night ratified its &pound;3m contribution to the scheme last night. </p>
<p>TfL has issued a Europe-wide invitation to interested parties to bid for the tram supply contract and confirmation of a successful bidder will depend on their proposal.<br>&nbsp;<br>Boris Johnson, the Mayor of London, said: "We want to boost tram services in South London by putting up to another 10 trams on the busiest part of the network. </p>
<p>This is a great example of team work between two authorities to provide investment that will improve services for outer Londoners.</p>
<p>'The new trams will be a real win for local people living or working in Croydon, Wimbledon, Beckenham and New Addington.'</p>
<p>In January, TfL invited companies across Europe to submit proposals to supply the new trams which, subject to funding being confirmed, would increase the frequency of services on the busiest London Tramlink route which runs between central Croydon and Elmers End.</p>
<p>Croydon Council leader Mike Fisher said: 'Croydon's trams are an icon of the borough's vision and ambition.&nbsp; Getting more trams on the system as soon as possible is the answer to pressing capacity issues as the popularity of Tramlink continues to grow.'</p>
<p>Since TfL took over the network in 2008, it has been improving the service. However, the number of journeys has increased by 45 per cent since the network opened in 2000 and TfL now wants to meet that increase in demand.</p>
<p>
<hr>
<strong>&nbsp; <br>Notes to editors </strong>
<ul>
<li>The invitation to bid has been issued in the Official Journal of the European Union as required by EU regulations. Bids will close on Monday 14th March at 12pm. Following this, pre-qualified bidders will be announced, the Invitation to Tender will then be issued, a supplier will be appointed and a contract let. It is hoped the trams will be able to be delivered by the end of summer 2011</li>
<li>Tramlink is looking at either new build or second hand vehicles that can be modified at reasonable cost to run on the London Tramlink infrastructure</li>
<li>Tramlink services have remained relatively static (between 2.4 and 2.7 million km per annum) since 2000. However passenger journeys per annum have increased by 45% in 10 years. It is predicted the 18.6 million journeys made in 2001/02 will increase to 27.8 million by the end of the 2010/11 period</li>
<li>The London Borough of Croydon's funding commitment towards the scheme is scheduled to be confirmed as part of its future capital programme being considered at its cabinet meeting on 21 February.</li>
<li>TfL purchased Tramtrack Croydon Ltd in June 2008 when it became London Tramlink. Since then TfL has spent &pound;2m on deep cleaning and refurbishing the tram fleet and tramstops, it has also delivered over &pound;5m in track upgrades since 2008 to improve reliability.&nbsp;&nbsp; <br></li></ul>
<p>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "A Croydon Council Finance Committee meeting last night ratified its &pound;3m contribution to the scheme last night. TfL has issued a Europe-wide invitation to interested parties to bid for the tram supply contract and confirmation of a successful bidder";}
        
        


 