


@{ViewBag.Title = "Ninety cleaner hybrid buses to hit London's streets";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>Ninety cleaner hybrid buses to hit London's streets</h1>
        <div class="content-page-press-release">
        28 March 2011
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        Transport for Lonfon (TfL) secures funding for 90 additional hybrid buses. These cleaner buses will be deployed at some of the most polluted 'hotspots' in central London.
        
    </div>



 <div class="on-this-page">
<p>Ninety new hybrid buses will be hitting the streets of London during 2011 as part of the Mayor and TfL's efforts to improve London's air quality and reduce carbon emissions.&nbsp; </p>
<p>The buses which pump out less particulate matter and nitrogen pollution than traditional diesel double-decker buses are being deployed in some of central London's air quality hotspots (including Marylebone Road and Edgware Road) as part of efforts to improve the Capital's air pollution. </p>
<p>The funding for the latest hybrid buses has come from the Department for Transport's Green Bus Fund and it brings the total number of hybrid buses in TfL's fleet up to more than 200. </p>
<p>The fund was set up to support bus companies and local authorities, such as TfL, to introduce low-carbon vehicles which will in turn have a positive effect on the environment.&nbsp; </p>
<p>TfL was awarded &pound;5m in 2009, and a further &pound;8m in 2010. </p>
<h2>Cutting emissions</h2>
<p>Mike Weston, London Buses' Operations Director, said: 'London is continuing to lead the way on hybrid buses, with our efforts contributing to the concerted effort to cut the Capital's CO2 emissions and pollution.&nbsp;&nbsp; </p>
<p>'We are making excellent progress in this new and exciting technology and remain committed to maximising the number of new hybrid buses entering service from 2012.'</p>
<p>The Mayor of London, Boris Johnson, said: 'These shiny, new hybrid buses are a great addition to Transport for London's fleet. </p>
<p>'They will be deployed on some of central London's more polluted streets as part of our ongoing efforts to improve air quality in the Capital.'</p>
<p>The double-decker hybrid buses will be operated by Arriva on route 73 (Victoria station to Stoke Newington), Abellio on route 188 (North Greenwich Station to Russell Square), Go Ahead on routes 453 (Deptford Broadway to Marylebone station) and 436 (Lewisham to Paddington Station), and by Metroline on route 16 (Victoria station to Cricklewood) and 139 (West Hampstead to Waterloo). </p>
<p>Hybrid buses are part of a wider package of measures to improve the Capital's air quality.&nbsp; </p>
<h2>Tackling London's hotspots</h2>
<p>This includes the New Bus for London joining the fleet next year using the latest hybrid technology which will be 40 per cent more fuel efficient than current diesel double-decker buses, unprecedented investment in cycling and the launch of Source London in April to encourage the use of electric vehicles. </p>
<p>The hybrid buses will go through some of London's air quality hotspots. </p>
<p>TfL has already begun the UK's first trial applying dust suppressants at two central London locations with high levels of particulate matter pollution (PM10). </p>
<p>The dust suppressant is a solution made up of calcium magnesium acetate that sticks the particulate matter to the road and prevents it re-circulating in the air. </p>
<p>These measures are being put in place for London to meet PM10 legal limits.</p>
<p>The Mayor and TfL are committed to tackling climate change through cutting London's contribution to CO2 and other emissions, the Mayor has set a tough target of reducing CO2 emissions by 60 per cent by 2025 from 1990 levels.</p>
<p>
<hr>
</p>
<p><strong>Notes to editors: </strong></p>
<ul>
<li>The 90 buses will be divided as follows:</li>
<ul>
<li>Twenty&nbsp;to Arriva</li>
<li>Thirteen to Abellio</li>
<li>Thirty-one to Go Ahead</li>
<li>Twenty-six to Metroline</li></ul>
<li>The Mayor of London's Air Quality Strategy has a target for 300 hybrid buses into the fleet by the end of 2012</li>
<li>The Department for Transport's &pound;45m Green Bus Fund will result in more than 500 new low-carbon buses in operation in many towns and cities in England by March 2012</li>
<li>Low-carbon buses funded by the scheme emit around a third less greenhouse gas than diesel buses and use around a third less fuel</li>
<li>Hybrid buses funded by the scheme are already in operation in London, Manchester, Oxford and Reading</li>
<li>Electric buses supported by the scheme are running in Durham and more will be in service around England by 2012</li></ul>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "Ninety new hybrid buses will be hitting the streets of London during 2011 as part of the Mayor and TfL's efforts to improve London's air quality and reduce carbon emissions.&nbsp; The buses which pump out less particulate matter and nitrogen pollution";}
        
        


 