


@{ViewBag.Title = "Oyster Extension Permits no longer needed as Mayor and train companies make travel in London easier than ever";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>Oyster Extension Permits no longer needed as Mayor and train companies make travel in London easier than ever</h1>
        <div class="content-page-press-release">
        11 March 2011
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        Travel around the Capital is set to become even easier for millions of people thanks to closer working between the Mayor of London, Transport for London (TfL) and train companies.
        
    </div>



<div class="pull-quote">
        <div class="quote-body">"Oyster Extension Permits weren't well understood so we have decided that passengers should no longer have to use them"</div>
        <div class="quote-footer">
            <div class="quotee-name">Michael Roberts</div>
            <div class="quotee-job-title">Chief Executive of the ATOC</div>
        </div>
</div>

 <div class="on-this-page">
<div class="pullquote right">
                        <p>
                            Oyster Extension Permits weren't well understood so we have decided that passengers should no longer have to use them
                            
                        </p>
                    </div>
                
            
            
            <p>During a rail summit at City Hall today chaired by the Mayor of London, Boris Johnson, and attended by the train companies that operate in Greater London, a series of improvements were agreed to build on the achievements of the last 12 months and make rail travel across the Capital even better.</p>
<p>At today's summit, it was announced that from the end of May there will be no more need for Oyster users heading for the edges of the Capital to get an Oyster Extension Permit. </p>
<p>The permits were introduced by the train companies in January last year when Oyster was rolled out onto National Rail services.</p>
<p>Passengers&nbsp;using an Oyster Travelcard who wanted to travel outside their Travelcard zones have had to load an Oyster Extension Permit onto their Oyster card to indicate their intention to extend their travel using Oyster pay as you go credit. </p>
<p>Although free of charge this required additional loading at ticket offices or ticket machines.</p>
<p>The Mayor made it clear at last year's rail summit that he considered the permits to be confusing, and train companies have responded by undertaking a review of the system and agreeing the permits should no longer be required. </p>

<h2>New Oyster map </h2>
<p>The Mayor and the train companies also agreed a range of other improvements, to benefit all rail users, at the summit including:</p>
<ul>
<li>A new, clear and combined Rail and TfL Oyster map for London that will soon be appearing at rail and Tube stations. Designed by TfL and the Association of Train Operating Companies (ATOC) following passenger research, the map replaces the train companies' London Connections and TfL's Oyster maps, making it easier for Londoners and visitors alike to navigate the city </li>
<li>TfL and train companies will work jointly to finalise plans to extend Oyster pay as you go outside London </li>
<li>Train companies and TfL will work jointly to evaluate the extension of payment using contactless bank cards to National Rail services for its introduction in 2012 </li>
<li>Even more frequent trains will run on London Overground from May </li>
<li>Train companies and TfL will further explore how to improve passenger information, particularly during times of disruption </li>
<li>Train companies and TfL will work together to finalise travel arrangements for the London 2012 Games </li>
<li>The Mayor and train companies will work together to seek sustained and continued investment to improve transport in the Capital, and meet the expected rise in demand in coming years</li></ul>
<p>The Mayor of London, Boris Johnson, said: 'Getting Oyster onto National Rail in the Capital has been a massive success. </p>
<p>'It has become now the only card you need to get around the Capital and two million journeys a week on National Rail services in London are now made using Oyster cards. </p>
<p>'But for anyone heading to outer London the extension permits were utterly baffling. </p>
<p>'I'm delighted they will no longer be required and today we have set out even more ways of working in tandem with the train companies to improve services for Londoners.'</p>

<h2>Keep the Capital moving</h2>
<p>Michael Roberts, Chief Executive of the ATOC, said: 'An effective, reliable and affordable railway is crucial to keeping the Capital moving. </p>
<p>'Train companies continually work to improve services for passengers and the rollout of Oyster pay as you go, in particular, has proved a significant success, with two million journeys on National Rail trains a week made using Oyster.</p>
<p>'We discussed a range of issues today aimed at continuing to make things better for our customers. </p>
<p>'The feedback that we have had was that the Oyster Extension Permits weren't well understood so we have decided that passengers should no longer have to use them.'</p>
<p>The agreements made at today's meeting build on the significant improvements made since the first summit between the Mayor and operators in February 2010, including:</p>
<ul>
<li>The extension of Oyster pay as you go to all National Rail stations in Greater London, which has been a huge success. Exceeding all predictions, more than two million journeys a week are now made using Oyster pay as you go on National Rail services, making rail travel cheaper and easier for hundreds of thousands of people </li>
<li>Travel information has been simplified for passengers by the linking up of the websites of National Rail Enquiries, TfL and train companies serving Greater London </li>
<li>Off-peak pay as you go fares for children have been made simpler and easier to understand, with a flat 65p fare for any off-peak journey</li></ul>
<p>
<hr>

<p>
<p><strong>Notes to editors:</strong></p>
<ul>
<li>The exact date for when Oyster Extension Permits will no longer be needed is to be confirmed, but TfL and the train companies are planning for late May, subject to confirmation </li>
<li>The Mayor, TfL and the train companies have agreed to work together on seven key areas: 
<ul>
<li>Fares and retailing </li>
<li>Customer information </li>
<li>Interchange </li>
<li>Service frequency </li>
<li>Mayor's Strategy, major projects and planning for future growth </li>
<li>Planning for the Olympics </li>
<li>Improvements to cycling provision<br></li></ul></li></ul>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "During a rail summit at City Hall today chaired by the Mayor of London, Boris Johnson, and attended by the train companies that operate in Greater London, a series of improvements were agreed to build on the achievements of the last 12 months and make";}
        
        


 