


@{ViewBag.Title = "Phenomenal progress means only three more weekend closures of Blackwall Tunnel required as safety upgrade continues";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>Phenomenal progress means only three more weekend closures of Blackwall Tunnel required as safety upgrade continues</h1>
        <div class="content-page-press-release">
        02 March 2011
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        Project now due to be completed by December 2011 - one year ahead of schedule
        
    </div>



 <div class="on-this-page">
<ul>
<li>Southbound closures will take place across Easter Bank Holiday weekend and the weekends of 10-13 June and 12-15 August </li>
<li>Rotherhithe Tunnel will once again be dedicated to southbound traffic during closures </li></ul>
<p>Transport for London (TfL) will only need to carry out three more weekend closures of the northbound Blackwall Tunnel to complete the ongoing safety upgrade of the 113-year-old tunnel.</p>
<p>These closures will allow its contractor, BAM Nuttall, to continue vital upgrade works as well as resurfacing the entire 1.4km tunnel, neither of which can be carried out during the weeknight closure programme. </p>
<h2>Weekend closures</h2>
<p>Following discussions with key stakeholders including surrounding boroughs, user groups and key local businesses, these weekend closures have been timed to avoid major events in the area. </p>
<p>The closures will take place at the following times:</p>
<ul>
<li>21:00 Thursday 21 April - 05:00 Tuesday 26 April </li>
<li>21:00 Friday 10 June - 05:00 Monday 13 June </li>
<li>21:00 Friday 12 August - 05.00 Monday 15 August</li></ul>
<p>During the weekend closures, the Rotherhithe Tunnel will again operate two lanes in the southbound direction only, while the Blackwall Tunnel will carry only northbound traffic. </p>
<p>Drivers will also be able to use alternative river crossings such as Tower Bridge, the Woolwich Ferry or the Dartford Crossing to complete their journey. </p>
<p>Since work began in February 2010, new ventilation fans have been installed in the tunnel's four shafts as well as new lighting, upgraded CCTV and new communications systems installed throughout the tunnel. </p>
<h2>Vital improvements</h2>
<p>TfL has also begun installing 26 inlets in the tunnel wall (including emergency phones and fire extinguishers) providing a safe area for any drivers whose vehicles have broken down within the tunnel.</p>
<p>By working with the contractor and using innovative thinking to allow sections of the works to be carried out during the day, TfL and BAM Nuttall has managed to bring the project forward to complete in December 2011; one year earlier than originally expected.</p>
<p>Garrett Emmerson, Chief Operating Officer for London Streets, TfL, said: 'TfL remains committed to do everything we can to minimise disruption to drivers in east London whilst these vital improvement works are being carried out.</p>
<p>'Although these works are progressing even better than we had hoped, there will be additional congestion due to these weekend closures. We therefore ask people to plan their journeys for these weekends in advance and avoid travelling through the area if at all possible.'</p>
<p>For more information, visit <a href="http://www.tfl.gov.uk/blackwalltunnelrefurbishment">tfl.gov.uk/blackwalltunnelrefurbishment</a></p>
<p>
<hr>

<p>
<p><strong>Notes to editors:</strong></p>
<ul>
<li>TfL agreed the dates for the weekend closures following discussion with a number of key stakeholders including surrounding local boroughs, Canary Wharf Group, The O2 and Connect Plus </li>
<li>During the Blackwall Tunnel weekend closures, the regular Friday night maintenance closure of the Rotherhithe Tunnel will be suspended to allow traffic to use the tunnel as an alternative river crossing </li>
<li>At the beginning of the improvement scheme, it was expected that TfL and its contractors would need to carry out a total of 10 weekend closures during the three year refurbishment programme. However, by working with contractors to review work methods, and due to the progress currently being made on the scheme, only three more weekend closures are required, bringing the total number of closures required down to seven </li>
<li>There is no toll for using the Dartford - Thurrock river crossing between 22:00 and 06:00 </li>
<li>While the northbound tunnel is closed for refurbishment works, the Route 108 (which is the only bus to use the Blackwall Tunnel) is affected. For more details, please check the website or local information at bus stops </li>
<li>TfL has extended the operating hours of the Woolwich Ferry from 20:00 to 22:00, Monday to Thursday to help provide an additional river crossing during the refurbishment programme</li></ul>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "Southbound closures will take place across Easter Bank Holiday weekend and the weekends of 10-13 June and 12-15 August Rotherhithe Tunnel will once again be dedicated to southbound traffic during closures Transport for London (TfL) will only need to carry";}
        
        


 