


@{ViewBag.Title = "Staff recognised at Dial-a-Ride Awards 2011";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>Staff recognised at Dial-a-Ride Awards 2011</h1>
        <div class="content-page-press-release">
        04 March 2011
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        The  excellence and hard work of London Dial-a-Ride's drivers, call centre staff and support teams has been celebrated in the Dial-a-Ride Awards 2011 hosted by Transport for London (TfL).
        
    </div>



 <div class="on-this-page">
<p>The awards marked the remarkable achievements of all the nominees and winners, championing the staff who keep the Dial-a-Ride service operating for the 50,500 members, delivering&nbsp;more than&nbsp;1,126,000 trips in the past year, some 76,000 more trips than in the same period last year.&nbsp;</p>
<p>Based on current performance, Dial-a-Ride is on track to deliver the most trips to its members since records began 20 years ago. </p>
<p>Dial-a-Ride provides a unique, free and vital service to those who cannot use public transport.</p>
<p>The members often have very specific needs and all staff have to be sensitive and adaptive to them. </p>
<p>David Brown, Transport for London's Managing Director of Surface Transport presented the awards to: </p>
<ul>
<li><strong>John Franco, Paddington Depot, Driver Attendant of the Year</strong>&nbsp;- 'John has worked for Dial-a-Ride for eight years and has provided consistent, high quality service with many passengers commenting on what an exceptional driver he is' </li>
<li><strong>Lewis Wight, Innovator of the Year</strong> - 'Lewis takes initiative in everything he does, he took it upon himself to update all the training materials for Dial-a-Ride, ensuring they are in line with the rest of TfL and designed and delivered a course in how to deal with difficult customers </li>
<li><strong>Stephanie Allen Reservationist of the Year&nbsp;</strong>- 'Stephanie regularly goes above and beyond what is required as she helps, reassures and provides information to passengers, maintaining the highest professional standards often during busy and challenging times' </li>
<li><strong>Hiren Bedia, Service Support Person of the Year</strong> - 'Hiren is a real team player and happy to stay late when needed to make sure all passengers get home safely or to provide assistance to any drivers who may need help. He works hard to keep the service running smoothly and ensure the passengers are happy' </li>
<li><strong>Katrina Sheehan, Southall Depot, Administrator of the Year </strong>- 'Katrina has worked hard to provide consistent, reliable, passenger-focused service and has ensured all the local records are inputted and had spent time teaching others how maintain the administration systems' </li>
<li><strong>Ricky May, Wimbledon Depot, Engineer of the Year</strong>&nbsp;- 'Ricky takes particular pride in his work, ensuring all vehicles in his fleet are kept to highest health, safety and environmental standards. He is&nbsp;also on hand to help out with any breakdowns even out of hours' </li>
<li><strong>Lee Hardy, Woodford Depot, Judges' Award for actions above and beyond the call of duty&nbsp;</strong>- this discretionary award recognises staff who have gone out of their way to assist others. They rise to challenges calmly and remain in control and cool under pressure. 'Lee had a Christmas Day booking for one of his regular clients to visit his wife in a nursing home. When the elderly client failed to turn up for his booking Lee thought something must be wrong.n investigation he found the man had fallen badly in his home. Lee contacted the emergency services and ensured he got treatment. He even visited him in hospital to wish him well<br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </li></ul>
<p>David Brown, Managing Director,&nbsp;Surface Transport, TfL said; 'Dial-a-Ride provides a lifeline to many who would not otherwise be able to travel, everyone has been working hard to make this the best service it can be and we are on target to deliver over 90,000 more trips this year compared to last year.&nbsp;&nbsp;<br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <br>'The Dial-a-Ride Awards are an important opportunity to recognise those who put outstanding customer service at the heart of what they do.'</p>

<p>Boris Johnson, Mayor of London, said; 'To the many Londoners who depend on Dial-a-Ride I say that their service relies on having great staff who go above and beyond the call of duty.</p>

<p>'On behalf of all those people who have been given back their independence through Dial-a-Ride, I would like to say thank you to the drivers, engineers and office staff who keep it running and congratulations to those who have achieved special recognition.'</p>
<p>Certificates were also presented to drivers, engineering staff and duty managers who have passed a BTEC, NVQ or Duty Managers course in the last year.&nbsp;&nbsp; </p>
<p>&nbsp;</p>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "The awards marked the remarkable achievements of all the nominees and winners, championing the staff who keep the Dial-a-Ride service operating for the 50,500 members, delivering&nbsp;more than&nbsp;1,126,000 trips in the past year, some 76,000 more trips";}
        
        


 