


@{ViewBag.Title = "Staff recognised at London Bus Awards 2011";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>Staff recognised at London Bus Awards 2011</h1>
        <div class="content-page-press-release">
        01 March 2011
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        The hard work and excellence of London bus drivers and staff was celebrated at the annual London Bus Awards 2011 with commendations for those who have displayed courage, commitment and professionalism.
        
    </div>



<div class="pull-quote">
        <div class="quote-body">"This year's winners have shown compassion, courage and understanding; putting the needs of their passengers at the forefront of their job."</div>
        <div class="quote-footer">
            <div class="quotee-name">Boris Johnson</div>
            <div class="quotee-job-title">Mayor of London</div>
        </div>
</div>

 <div class="on-this-page">
<div class="pullquote right">
                        <p>
                            This year's winners have shown compassion, courage and understanding; putting the needs of their passengers at the forefront of their job.
                            
                        </p>
                    </div>
                
            
            
            <p>Held by Transport for London (TfL) the awards recognised individuals and teams from bus operators and TfL.</p>
<p>The awards celebrated the remarkable achievements of all the nominees and winners, championing the 28,000 staff that operate 8,500 buses over 700 routes from 93 bus garages.&nbsp;</p>
<p>The awards went to those who had overcome challenging circumstances or gone beyond their call of duty, others were unsung heroes and some consistently set the highest standards of professionalism.</p>
<p>Boris Johnson, the Mayor of London said: 'The men and women driving our buses and keeping the Capital moving are the unsung heroes of our city. </p>
<p>'This year's winners have shown compassion, courage and understanding; putting the needs of their passengers at the forefront of their job.&nbsp;</p>
<h2>Great success stories</h2>
<p>'On behalf of&nbsp; all of us who ride on the buses I want to thank every member of staff for delivering what I believe is the best bus network in the world.' </p>
<p>David Brown, TfL's Managing Director of Surface Transport, said: 'The bus network is one of the Capital's great success stories over the last decade, now carrying more that 2.3 billion passengers a year.&nbsp;</p>
<p>'This could not be delivered without the hard work and dedication of the staff who work 'on the buses'.&nbsp;</p>
<p>'The London Bus Awards are an important opportunity to recognise those who put outstanding customer service at the heart of everything they do.'</p>
<p><strong>Winners</strong></p>
<p>The overall winners, who received their award from David Brown, Managing Director for Transport for London's Surface Transport, were:-</p>
<p><strong>Julie Jessup, Sutton Bus garage (London General)</strong></p>
<p>Best Communication with Passengers - recognising drivers who provide consistent, high quality service for all their passengers. </p>
<p>Julie has worked as a bus driver at Sutton Garage for 13 years.&nbsp;</p>
<p>She drives on route 80 and has received a number of commendations from passengers for her friendly demeanour, helpful manner, co-operation, considerate driving style and all round positive attitude.</p>
<p><strong>Helen Parker, Stamford Brook Garage (London United) </strong></p>
<p>Best Vehicle Care - recognises staff members who take pride in the condition of their buses.</p>
<p>Helen drives on route 9 and is well known for the pride she takes in the presentation of her bus.&nbsp;</p>
<p>Not only does she work to keep the interior clean and tidy during the course of the day, when she reaches the end of her shift she will walk through the bus and have a thorough tidy-up. </p>
<p><strong>Khasayar Khosraviani, Harrow Weald Garage (Metroline)</strong></p>
<p>Best Travel Experience - recognises drivers who put the safety and comfort of their passengers first. </p>
<p>Harrow Weald garage has received numerous letter of praise from the public about Khasayar, who drives on route 182.&nbsp;</p>
<p>From commendations for his polite and courteous service, to letters of thanks for giving that extra bit of time, effort and patience to ensure wheelchair passengers can board and alight safely.&nbsp;&nbsp;&nbsp; </p>
<p><strong>The 'Merton Mentors', Merton Bus Garage (Go-Ahead</strong>)</p>
<p>Bus Service Support - The effective, efficient running of garages and routes provides the foundations for excellent customer service. </p>
<p>This award recognises staffs who consistently strive to provide a reliable, passenger focused service. </p>
<p>Merton Bus garage is home to eight highly trained drivers who have volunteered to step up and act as mentors for their colleagues.&nbsp;</p>
<p>The work these skilled individuals carry out in addition to their normal driving duties has made a real difference to service quality while passing on a wealth of driving experience to the next generation of bus drivers.</p>
<p><strong>Nigel Yabsley, Bromley Garage (Stagecoach)</strong></p>
<p>Bus Service Ambassador - recognises staff and drivers who have gone the extra mile to build relationships with passenger groups and local communities with an aim to promote considerate bus travel externally, and strive to build relationships to improve bus services.</p>
<p>Nigel drives on route 664, which has historically had problems with disruptive school children.&nbsp;</p>
<p>Nigel's calm and steady approach has allowed him to gain the trust and respect of the children and has resulted in a huge improvement to their behaviour, making life more pleasant for everyone using his bus.&nbsp;</p>
<p>He has been widely involved with TfL's school visits and helps educate local students on how to use buses both safely and responsibly.</p>
<p><strong>In the following two categories the judges were faced with such strong nominees that they could not pick just one winner.&nbsp;Therefore the joint winners are: </strong></p>
<p><strong>Actions above and beyond the call of duty - Bus Operator.</strong></p>
<p>Recognises bus drivers who have gone out of their way to assist others remaining in control and cool under pressure.</p>
<p><strong>Joint winners are</strong></p>
<p><strong>Lorraine Francis, Croydon Garage (Arriva)</strong></p>
<p>In November 2010 severe snow disrupted transport in some parts of London.&nbsp;</p>
<p>A couple in their eighties became stranded at Croydon Bus Garage when bus and train services were forced to be temporarily suspended.&nbsp;</p>
<p>Both were feeling unwell and frightened that they would not make it home.&nbsp;</p>
<p>Despite being busy at the garage when Lorraine heard of the couples' situation, she drove them home personally, seeing them safely to their front door.</p>
<p><strong>Abdiwahab Hassan, Alperton Garage (First Group) </strong></p>
<p>While off duty Abdi saw a man collapsed next to a parked bus.&nbsp;</p>
<p>He went to help and discovered that the person on the floor was the bus driver.&nbsp;</p>
<p>He quickly used the bus radio to call for help, requesting an ambulance and also advised the driver's depot of the situation.&nbsp;</p>
<p>Abdi also ensured all the passengers could transfer to another bus to complete their journeys.</p>
<p><strong>Jennie Guidotti, Dagenham Garage (First Group)</strong></p>
<p>While driving on her regular route Jennie witnessed a traffic accident involving a pedestrian.&nbsp;</p>
<p>Jennie immediately called her controller requesting the emergency services.&nbsp;</p>
<p>She then calmly took control of the situation by directing bystanders to help, ensuring the emergency services had access to the scene, and remaining with the injured pedestrian until she was relieved by an ambulance crew.</p>
<p><strong>Actions above and beyond the call of duty - Transport of London. </strong></p>
<p>This award recognises the achievements of TfL staff on the front line that face similar challenges to bus drivers.&nbsp;They will have gone out of their way to assist others, rise to challenges calmly and remain in control under pressure. </p><strong>
<h2>Joint winners are:</h2>
<p></strong><strong>Anthea Lake, Revenue Protection Inspector</strong><p>
<p>Anthea was checking tickets on a route 86 when she came across two young girls, one of whom didn't have a valid ticket.&nbsp;</p>
<p>After questioning the girls Anthea sensed something was wrong.&nbsp;</p>
<p>Continuing to talk to the girls she managed to gain their trust and they revealed that they had run away from home.&nbsp;</p>
<p>Anthea convinced the girls that she could help, managing to reunite them both with their parents.</p>
<p><strong>Jason Francis, Wayne Sinclair, Sunil Bansal, Abhijeet Wable, Niamh O'Loughlin and Sri Kumaran, Revenue Protection Inspectors</strong></p>
<p>These individuals showed remarkable courage in response to an attack in Ealing in December 2010 which left a Metropolitan Police Officer and Police Community Support Officer seriously wounded.&nbsp;</p>
<p>Not only did they intervene to protect the injured officers, they provided lifesaving first aid, organised emergency assistance and managed the scene ensuring members of the public remained calm and could continue on with their journeys.</p>
<p><strong>Robin Groombridge, Bus Station Supervisor</strong></p>
<p>Whist on duty at Victoria Bus Station Robin came to the aid of a seriously ill passenger whom he found sitting in a shelter.&nbsp;</p>
<p>With total professionalism and understanding of the gentlemen's needs, Robin provided first class treatment and support until the gentleman was well enough to continue with his journey.</p>
<p>
<hr>

<p><strong>Notes to editors:</strong> 
<ul>
<li>Photographs of winners are available on request</li></ul>
            <p><br>&nbsp;</p>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "Held by Transport for London (TfL) the awards recognised individuals and teams from bus operators and TfL.The awards celebrated the remarkable achievements of all the nominees and winners, championing the 28,000 staff that operate 8,500 buses over 700";}
        
        


 