


@{ViewBag.Title = "Teen road safety message returns for 2011";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>Teen road safety message returns for 2011</h1>
        <div class="content-page-press-release">
        09 March 2011
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        Transport for London (TfL) joins forces with young stars to encourage teenagers to be safe on the Capital's roads this spring.
        
    </div>



<div class="pull-quote">
        <div class="quote-body">"These stars are in the perfect position to reach out to their teenage fans"</div>
        <div class="quote-footer">
            <div class="quotee-name">Boris Johnson</div>
            <div class="quotee-job-title">Mayor of London</div>
        </div>
</div>

 <div class="on-this-page">
<div class="pullquote right">
                        <p>
                            These stars are in the perfect position to reach out to their teenage fans
                            
                        </p>
                    </div>
                
            
            
            <p>Teen road safety is back in the spotlight in London this month as&nbsp;TfL's &nbsp;campaign to keep young people safe returns for the 11th year running with new support from young TV stars.</p>
<p>'Don't Let Your Friendship Die on The Road' will run for the next four weeks with posters being put up across the city alongside online video support from TfL's Road Safety Ambassadors (RSAs) reminding teenagers of the key messages to 'look out for their mates' while they are out and about. </p>
<p>Following the success of last year's support from Tinie Tempah and Eliza Doolittle, <a href="http://www.facebook.com/home.php#!/pages/Teen-Road-Safety-30-Day-Campaign/183336055035145">new ambassadors </a>include BBC TV's Being Human stars Lenora Crichlow and Russell Tovey, who join top artists Wretch 32, Yasmin and Dels.&nbsp; </p>
<p>Boris Johnson, Mayor of London, said: 'Any death on London's roads is a tragedy. </p>
<p>'These stars are in the perfect position to reach out to their teenage fans and to help them realise that keeping themselves and their friends safe on the city's roads is desperately important.'</p>
<p>Ben Plowden, Director of Better Routes and Places at TfL, says: 'I'm delighted with the continued success of the teen road safety campaign. </p>
<p>'Although the number of teenagers being killed or seriously injured on London's roads has fallen dramatically over the past decade our work is not yet done. </p>
<p>'I'd like to say a big thank you to all the Road Safety Ambassadors who, recognising the importance of this campaign, have kindly donated their time to pass this important message on. </p>
<p>'TfL will never tire of reminding teenagers of these messages because, although the numbers are down on previous years, one death is one too many.'</p>
<p>Wretch 32 said: 'I decided to get involved because life is precious and something that shouldn't be taken for granted. </p>
<p>'If people take on board the safety advice then lives will be saved.'</p>
<p>The 2009 road casualty figures revealed that there had been 18 per cent fewer teenage deaths or serious injuries on the Capital's roads with 301 teenagers (aged 13-19) killed or seriously injured, compared with 367 in 2008. </p>
<p>Overall the number of teenagers killed or seriously injured has fallen by almost 55 per cent since the campaign started in 2000.</p>
<p>
<hr>
</p>
<p><strong>Notes to editors:</strong></p>
<ul>
<li>Images available on request</li>
<li>No stars were paid to appear in the clips. Each person volunteered their services free of charge</li>
<li>In 2010, RSAs recorded short clips advising teenagers to 'look out for their mates'. </li>
<li>See the <a href="http://www.youtube.com/watch?v=WXBMf1-_yJ4">clip</a>&nbsp;featuring Tinie Tempah, Tinchy Stryder, Eliza Doolittle, Rox, Bashy and Jaya</li>
<li>View the <a href="http://londonroadsafety.tfl.gov.uk/data-research_publications.php">Casualties in Greater London during 2009 report</a></li></ul>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "Teen road safety is back in the spotlight in London this month as&nbsp;TfL's &nbsp;campaign to keep young people safe returns for the 11th year running with new support from young TV stars.'Don't Let Your Friendship Die on The Road' will run for the next";}
        
        


 