


@{ViewBag.Title = "TfL reminds teenagers to take care on the roads as clocks change this weekend";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>TfL reminds teenagers to take care on the roads as clocks change this weekend</h1>
        <div class="content-page-press-release">
        21 March 2011
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        The Mayor and Transport for London (TfL) today reminded teenagers to take care around London's roads in advance of the clocks going forward this weekend.
        
    </div>



<div class="pull-quote">
        <div class="quote-body">"With darker mornings around the corner we want youngsters to remember to take care and keep an eye out for their friends as they travel around the city."</div>
        <div class="quote-footer">
            <div class="quotee-name">Boris Johnson</div>
            <div class="quotee-job-title">Mayor of London</div>
        </div>
</div>

 <div class="on-this-page">
<div class="pullquote right">
                        <p>
                            With darker mornings around the corner we want youngsters to remember to take care and keep an eye out for their friends as they travel around the city.
                            
                        </p>
                    </div>
                
            
            
            <p>The start of British Summer Time will initially cause darker mornings, so some teenagers may find themselves travelling in the dark.</p>
<p>Road collisions involving teenagers typically occur on weekdays at peak travelling times when teenagers are going to and from school.</p>
<h2>Campaign on Facebook</h2>
<p>As part of TfL's current teen road safety campaign, celebrity Road Safety Ambassadors including musician Wretch 32 and Being Human actors Lenora Crichlow and Russell Tovey have donated their time to remind London's teenagers in short video clips to remain careful when near or using London roads.</p>
<p>These can be seen at <a href="http://www.facebook.com/home.php#!/pages/Teen-Road-Safety-30-Day-Campaign/183336055035145">http://www.facebook.com/home.php#!/pages/Teen-Road-Safety-30-Day-Campaign/183336055035145</a></p>
<p>Mayor of London, Boris Johnson, said: 'With darker mornings around the corner we want youngsters to remember to take care and keep an eye out for their friends as they travel around the city.</p>
<p>Deaths of youngsters on London's roads are falling but we will continue to do everything in our power to help drive down needless accidents.'</p>
<h2>Visible teens</h2>
Ben Plowden, Director of Better Routes and Places at TfL, said: 'Our tireless efforts to highlight the issue of teen road safety have helped reduce the number of teenagers killed or seriously injured on London roads by 23 per cent since 2000.
<p>'Despite rising levels of awareness people should not become complacent. </p>
<p>'Although the dark winter months are coming to an end, London's teenagers still need to be wary as they travel around the city, especially in the mornings around clock change.</p>
<p>'I urge all teenagers to make sure that they are visible on the roads, particularly when they travel in the dark as that is when they are most vulnerable.'<br></p>
<p>'Posters for TfL's current teen road safety campaign 'Don't Let Your Friendship Die on the Road' can be seen across London now.</p>
<hr>

            <p><strong>Notes to editors:</strong></p>
<ul>
<li>In 2010, Road Safety Ambassadors recorded short clip advising teenagers to 'Look out for their mates'. To see the clip featuring Tinie Tempah, Tinchy Stryder, Eliza Doolittle, Rox, Bashy and Jaya go to <a href="http://www.youtube.com/watch?v=WXBMf1-_yJ4">http://www.youtube.com/watch?v=WXBMf1-_yJ4</a> </li>
<li>The 2011 Road Safety Ambassadors include: Wretch 32, The chart and underground star has just completed a sell-out UK tour and is preparing to unleash his debut album; Yasmin, this year's one to watch; Dels, the hottest signing to UK hip hop label Big Dada; and the stars of BBC3's drama series 'Being Human', Lenora Crichlow and Russell Tovey. Images are available on request </li>
<li>No stars were paid to appear in the clips. Each person volunteered their services free of charge </li>
<li>The Casualties in Greater London during 2009 report is available at <a href="http://londonroadsafety.tfl.gov.uk/data-research_publications.php">http://londonroadsafety.tfl.gov.uk/data-research_publications.php</a> </li>
<li>TfL Road Casualties in Greater London 2010 will be published in June 2011<br></li></ul>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "The start of British Summer Time will initially cause darker mornings, so some teenagers may find themselves travelling in the dark.Road collisions involving teenagers typically occur on weekdays at peak travelling times when teenagers are going to and";}
        
        


 