


@{ViewBag.Title = "TfL's undercover inspectors crack down on fare evasion";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>TfL's undercover inspectors crack down on fare evasion</h1>
        <div class="content-page-press-release">
        18 March 2011
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        Fare evasion costs Transport for London (TfL) almost &pound;75m a year in public money.
        
    </div>



 <div class="on-this-page">
<div class="pullquote right">
                        <p>
                            We want to change people's perceptions that fare evading is a victimless crime, as it affects all Londoners.
                            
                        </p>
                    </div>
                
            
            
            <p>Fare dodgers in the capital have been warned that they are the target of a crackdown by undercover Transport for London (TfL) ticket inspectors.</p>
<p>To tackle the problem TfL will be deploying plain clothes ticket inspectors to carry out an increased number of operations across their entire transport network.</p>
<p>TfL has around 500 inspectors patrolling across all modes of transport in London who work closely with more than 2,500 TfL funded police and police community support officers.</p>
<p>Anyone suspected of deliberately avoiding paying the correct fare may be prosecuted.</p>
<h2>A costly business</h2>
<p>Last year fare evasion cost TfL almost &pound;75m in lost revenue, including around &pound;40m lost on London's buses and more than &pound;20m on the Tube network.</p>
<p>A recent survey, commissioned by TfL, showed that one quarter of passengers thought it was easy to fare dodge in London and one in ten passengers believed fare evading was worth the risk.</p>
<p>As part of the latest crackdown posters will be going up across the capital's transport network warning fare dodgers that 'Plain clothes inspectors operate across our network. Get caught fare evading and risk a fine of up to &pound;1000 and a criminal record.'</p>
<p>Successful prosecutions for fare evaders on London buses stood at 99.8 per cent in 2010, so for those caught there is a high chance of ending up with a criminal record.</p>
<h2>Getting tough with evaders</h2>
<p>Boris Johnson, Mayor of London, said: 'Fare dodgers are a parasitic scourge on this city costing London millions of pounds.</p>
<p>'One of the reasons I was determined to rid the streets of the dreaded bendy buses was that they made it far too easy for people to avoid paying.</p>
<p>As our streets become bendy-free we are seeing some encouraging signs but these plain-clothed operations are a reminder to everyone using public transport that we expect them to pay their way.'</p>
<p>Steve Burton, Director of Community Safety, Enforcement and Policing at TfL, said: 'Passengers should know that if you get caught evading your fare, you may be prosecuted.</p>
<p>'Fare evasion takes money away from TfL that would allow us to develop our infrastructure, and this new campaign against fare dodgers shows that protecting public money is a priority for TfL. We want to change people's perceptions that fare evading is a victimless crime, as it affects all Londoners.'</p>
<p>Sharon Grant, Chair of London Travelwatch, said: 'We fully support this latest fare evasion push by Transport for London. Fare evasion affects everyone in the capital and honest passengers should not have to shoulder the burden for those who do not pay.'</p>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "Fare dodgers in the capital have been warned that they are the target of a crackdown by undercover Transport for London (TfL) ticket inspectors.To tackle the problem TfL will be deploying plain clothes ticket inspectors to carry out an increased number of";}
        
        


 