


@{ViewBag.Title = "Travelling with Oyster to be simpler than ever";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>Travelling with Oyster to be simpler than ever</h1>
        <div class="content-page-press-release">
        14 March 2011
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        From the end of May, Oyster users will no longer need to get an Oyster Extension Permit when travelling to the edges of the city.
        
    </div>



 <div class="on-this-page">
<p>This is just one of a series of announcements made following a rail summit held last month, chaired by Mayor of London Boris Johnson and attended by the train companies that operate in Greater London.</p>
<p>The Oyster Extension Permits were introduced by the train companies in January last year when Oyster was rolled out onto National Rail services.</p>
<p>Passengers using an Oyster Travelcard who wanted to travel outside the zones for which it was valid had to load a permit onto their Oyster card.</p>
<p>This indicated their intention to extend their travel using Oyster pay as you go credit.</p>
<p>Although free of charge, this required additional loading at ticket offices or ticket machines.</p>
<p>A range of other improvements were also announced as a result of the summit, including a new, clear and combined rail and TfL Oyster map that will soon be available at rail and Tube stations.</p>
<p>The map replaces the train companies' London Connections and TfL's Oyster maps, making it easier for Londoners and visitors to navigate the city.</p>
<p>Further improvements will see TfL and train companies working together to:</p>
<ul>
<li>Finalise plans to extend Oyster pay as you go outside London</li>
<li>Evaluate the extension of payment using contactless bank cards on National Rail services for its introduction in 2012</li>
<li>Further explore how to improve passenger information, particularly during times of disruption</li>
<li>Finalise travel arrangements for the 2012 Games</li></ul>
<p>The Mayor and train companies are also working on continuing investment to improve transport in the capital and meet the expected rise in demand in coming years.</p>
<p>Boris Johnson said: 'Getting Oyster onto National Rail in the capital has been a massive success.</p>
<p>'It has become now the&nbsp; only card you need to get around the capital, and two million journeys a week on National Rail services in London are now made using Oyster cards.</p>
<p>'But for anyone heading to Outer London the extension permits were utterly baffling.</p>
<p>'I'm delighted they will no longer be required and today we have set out even more ways of working in tandem with the train companies to improve services for Londoners.'</p>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "This is just one of a series of announcements made following a rail summit held last month, chaired by Mayor of London Boris Johnson and attended by the train companies that operate in Greater London.The Oyster Extension Permits were introduced by the";}
        
        


 