


@{ViewBag.Title = "Travel advice during the royal wedding - 29 April 2011";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>Travel advice during the royal wedding - 29 April 2011</h1>
        <div class="content-page-press-release">
        29 March 2011
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        Transport for London (TfL) has issued travel advice for people intending to visit central London on 29 April to take part in celebrations surrounding the wedding of Prince William and Catherine Middleton.
        
    </div>



 <div class="on-this-page">
<p>A large number of people are expected in central London on the day and TfL is working with the Government, Metropolitan Police, Westminster Council and other agencies to ensure that people travelling to and from the area can do so quickly and safely, and to minimise disruption caused by road diversions and closures.</p>
<p>Those coming to the event from outside of London are reminded that the easiest and most convenient way to travel on London's public transport network is to use an Oyster card. </p>
<p>These can be purchased from 270 Tube stations, from many London Overground and National Rail stations, from six TfL Travel Information Centres and from 4,000 shops across Greater London.</p>
<p>TfL's <a href="http://www.visitorshop.tfl.gov.uk">Visitor Oyster card </a>can be purchased online and delivered across the UK and to 58 countries worldwide.</p>
<p>People are advised to check&nbsp;the TfL website&nbsp;to plan their route and for updates on service changes that may affect journeys.</p>
<p>Peter Hendy, London's Transport Commissioner, said: 'There is a real sense of excitement surrounding the royal wedding, and a great many people will be coming to central London to be a part of the various celebrations taking place. </p>
<p>'We are working with our partners to ensure that everyone can get around safely and easily, and that people not involved with the celebrations can continue to move around the city with the minimum of disruption.&nbsp;&nbsp; </p>
<p>'All Tube lines will be running and our bus and streets teams will be working flat out to make sure that the closures and diversions needed are managed smoothly. </p>
<p>'The whole of TfL is focussed on helping to ensure a great day is had by all.'</p>
<p>The following travel information is being given to those coming to the area or intending to travel through central London on the day:</p>
<h2>Roads </h2>
<p>The route of the wedding procession between Buckingham Palace and Westminster includes the Mall, Horse Guard's Road, Horse Guard's Arch, Whitehall and Parliament Square. </p>
<p>These roads and surrounding areas will be subject to road closures and parking restrictions. </p>
<p>Full details can be found on the <a href="http://www.met.police.uk/royal_wedding/index.html">Metropolitan Police website</a></p>

<p>Planned road closures include:</p>
<ul>
<li>Birdcage Walk </li>
<li>Broad Sanctuary </li>
<li>Buckingham Gate </li>
<li>Buckingham Palace Road (north of Lower Grosvenor Place) </li>
<li>Charing Cross Road (south of Shaftesbury Avenue) </li>
<li>Cockspur Square </li>
<li>Constitution Hill </li>
<li>Horse Guards Road </li>
<li>The Mall </li>
<li>Millbank </li>
<li>Pall Mall (east of Haymarket) </li>
<li>Parliament Square </li>
<li>The Strand </li>
<li>Victoria Embankment </li>
<li>Victoria Street </li>
<li>Westminster Bridge </li>
<li>Whitehall</li></ul>
<p>In addition, the Metropolitan Police have advised that a number of other roads may also be closed for parts of the day. </p>
<p>These include, but are not limited to:</p>
<ul>
<li>Grovsenor Place </li>
<li>Haymarket </li>
<li>Hyde Park Corner </li>
<li>Knightsbridge (east of Sloane Street) </li>
<li>Park Lane </li>
<li>Piccadilly</li></ul>
<p>Road closures will be implemented from 06:00 on Friday 29 April 2011. </p>
<p>They will be lifted as soon as possible following the event, but road users are strongly advised to avoid this part of central London throughout the day.</p>
<p>There will also be some wedding-related closures on Wednesday 27 April between 02:30 and 07:00.</p>
<h2>Congestion Charge</h2>
<p>As the royal wedding day has been designated a Bank Holiday this means that it will be non-charging day.</p>
<h2>Buses</h2>
<p>All bus services will be operating a Saturday service.</p>
<p>A number of bus services will be subject to diversion or will finish before their usual destination if they are unable to travel their usual routes through the affected part of central London. </p>
<p>Bus diversions and curtailments commence at 05:30 and will include the following routes: 3, 6, 9, 9 (heritage), 11, 12, 13, 15, 15 (heritage), 23, 24, 29, 87, 88, 91, 148, 159, 176, 211, 388 and 453.</p>
<p>Further diversions may be necessary should road closures be expanded throughout the day. </p>
<p>Extra staff will be on hand to provide public information and to assist with the diversions. </p>
<p>There will also be wedding-related bus diversions and curtailments on Wednesday 27 April between 03:00 and 07:00. </p>
<p>The routes affected include:&nbsp;3, 11, 12, 24, 29, 53, 87, 88, 91, 148, 159, 211, 453, N2, N3, N5, N11, N18, N20, N26,&nbsp; N29, N41, N44, N52, N87, N91, N97, N109, N136, N155, N279, N343, N381.</p>
<p>Bus users are advised to check the TfL website before they travel.</p>
<h2>Tube </h2>
<p>All Tube lines will be running, with no planned engineering work during the day.</p>
<p>All of the stations close to the route of the procession will be open on the day, including Embankment, Charing Cross, Waterloo, Westminster, Hyde Park Corner and Green Park. </p>
<p>As normal, station closures will be used if necessary to prevent over-crowding.</p>
<p>The lifts at Green Park are currently being refurbished and will not be available on the day. </p>
<p>The nearest station with a lift is Westminster. </p>
<p>Watford and Croxley stations will not have a train service after 22.:00 on the evening, although replacement buses will operate.</p>
<p>A queuing system will be in place for access to the Tube at Victoria station. </p>
<p>A similar system may be in place for access to the overland station at Charing Cross.</p>
<h2>Docklands Light Railway (DLR)/London Overground/Tramlink</h2>
<p>The DLR, and London Tramlink will operate normal services throughout the day, with no planned engineering work although London Tramlink will run a Saturday timetable.</p>
<p>London Overground will run s full service on all branches, except between Watford and Willesden Junction where it will be suspended for engineering works.</p>
<p>Rail replacement buses will run on this section of line.</p>
<h2>Coaches</h2>
<p>Coach parking sites have been agreed at three venues outside of the central area (The O2, Wembley and Nine Elms), with arrangements being finalised for coaches to set passengers down closer to central London.&nbsp; </p>
<p>TfL is working with the Confederation of Passenger Transport to ensure all coach operators have the latest information.</p>
<p>Information can be found on the TfL website, by contacting the TfL coach helpline on 0845 604 0770 or by emailing <a href="mailto:coaches&#64;tfl.gov.uk">coaches&#64;tfl.gov.uk</a>.</p>
<p>Passengers who are coming to central London on scheduled/express coach services should contact the operator or service provider for travel information.</p>
<h2>Barclays Cycle Hire</h2>
<p>A number of <a href="http://www.tfl.gov.uk/barclayscyclehire">Barclays Cycle Hire</a> docking stations that fall within the road closure area will be suspended on the day. </p>
<p>These include the following docking stations:</p>
<ul>
<li>Northumberland Avenue - Strand </li>
<li>Whitehall Place - Strand </li>
<li>Craven Street - Strand </li>
<li>Horse Guards Avenue&nbsp; </li>
<li>Waterloo Place - St James</li></ul>
<p>The suspensions will commence at 20:00 on 28 April and the docking stations will reopen at 20:00 on 29 April when the road closures have been lifted and the crowds have sufficiently dispersed.</p>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "A large number of people are expected in central London on the day and TfL is working with the Government, Metropolitan Police, Westminster Council and other agencies to ensure that people travelling to and from the area can do so quickly and safely, and";}
        
        


 