


@{ViewBag.Title = "Travel advice during TUC march and rally - Saturday 26 March";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>Travel advice during TUC march and rally - Saturday 26 March</h1>
        <div class="content-page-press-release">
        23 March 2011
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        On Saturday 26 March 2011 a large number of people are expected in central London to take part in a march and rally organised by the Trades Union Congress (TUC).
        
    </div>



 <div class="on-this-page">
<p>Transport for London (TfL) is working with the Metropolitan Police, event organisers and other agencies to ensure that people travelling to and from the events can do so quickly and safely, and to minimise disruption caused by road diversions and closures.</p>
<p>Those coming to the event from outside of London are reminded that the easiest and most convenient way to travel on London's public transport network is to use an Oyster card. </p>
<p>These can be purchased from TfL's 270 Tube stations, from many London Overground and National Rail stations and from 4,000 shops across Greater London.</p>
<p>People are advised to check <a href="http://www.tfl.gov.uk">tfl.gov.uk</a> to plan their route, and for updates on Tube engineering works and transport service changes that may affect journeys.</p>
<p>The following travel information is being given to those attending the event or intending to travel through central London on the day:</p>
<h2>Roads</h2>
<p>The route that the march will take to Hyde Park includes Victoria Embankment, Bridge Street, Parliament Square, Parliament Street, Whitehall, Trafalgar Square, Cockspur Street, Pall Mall, Waterloo Place, Piccadilly, Hyde Park Corner, and Park Lane. </p>
<p>At 06:00 Bridge Street will be closed in both directions, Westminster Bridge will be closed Westbound, Whitehall will be closed Northbound.</p>
<p>At approximately 08:00 Victoria Embankment will be closed in both directions from Southwark Bridge.</p>
<p>At approximately 10:00 the whole route will be closed to all traffic.</p>
<p>Further contingency road closures are part of the traffic plan and may be implemented to assist with traffic congestion and/or public order issues.</p>
<p>Closures will be lifted as soon as possible following the event, but road users are strongly advised to avoid this part of central London throughout the day and evening.</p>
<p>Where possible road works will be removed from the affected area before the start of the march.</p>
<h2>Buses</h2>
<p>A number of bus services will be subject to diversions and early curtailments if they are unable to travel their usual route through the affected part of central London. </p>
<p>Diversions and curtailments will start to be put in place from 06:00 on the day and it is anticipated that they will be lifted around 19:00-20:00&nbsp; </p>
<p>The routes affected include: 2, 3, 6, 9, 9H, 10, 11, 12, 13, 14, 15, 15H, 16, 19, 22, 23, 24, 29, 36, 38, 52, 53, 73, 74, 82, 87, 88, 91, 94, 137, 139, 148, 159, 176, 211, 388, 414, 436, 453, C2. N2, N3, N11, N44, N52, N87, N109, N136, N155 and N381.</p>
<p>Extra staff will be on-hand to provide public information and to assist with the diversions. </p>
<p>Bus users are advised to check the TfL website before they travel.<br></p>
<h2>Tube and London Overground</h2>
<p>The main Tube stations near to the route of the march will be open on the day, including Embankment, Charing Cross, Waterloo, Westminster, Hyde Park Corner and Green Park. </p>
<p>As normal, station closures will be used if&nbsp;necessary to manage any crowd issues within or outside stations.&nbsp; </p>
<p>There are a number of planned engineering works taking place on the day, which affect several lines in central London, including:</p>
<ul>
<li>The Central line will be suspended between Marble Arch and West Ruislip/Ealing Broadway, all weekend due to track replacement work </li>
<li>Blackfriars Tube station will be closed for redevelopment works </li>
<li>Cannon Street Tube station will be closed for redevelopment works </li>
<li>The District line will be suspended between Tower Hill and Upminster due to track replacement work and Thameslink work at Blackfriars </li>
<li>The Hammersmith &amp; City line will be suspended all weekend between Liverpool Street and Barking due to track replacement work </li>
<li>The Metropolitan line will be suspended all weekend between Aldgate and Moorgate due to track replacement work</li></ul>
<p>Because of the numbers expected on the march there may be some short term station closures to prevent over-crowding.</p>
<p>When leaving the Hyde Park rally, people are advised to follow the signs for the Underground.</p>
<p>Customers are advised to check the TfL website for a full list of closures, for details of rail replacement bus services and for details of several London Overground closures planned for the weekend.</p>
<h2>Coaches</h2>
<p>Parking and drop off points have been identified by TUC.&nbsp; </p>
<p>These include, but are not limited to, Wembley, Nine&nbsp;Elms, ExCeL and The O2.&nbsp; </p>
<p>Those travelling by coach have been advised to use public transport from their drop-off points to access central London.&nbsp; </p>
<p>Coaches have also been advised not to pick up in the central London area as it is likely the roads will be closed and there will be limited access to Hyde Park.<br></p>
<h2>Docklands Light Railway</h2>
<p>There is no engineering work planned on the day. </p>
<p>Further information about the event is available on the <a href="http://www.met.police.uk/tuc/index.htm">Metropolitan Police website</a>.</p>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "Transport for London (TfL) is working with the Metropolitan Police, event organisers and other agencies to ensure that people travelling to and from the events can do so quickly and safely, and to minimise disruption caused by road diversions and";}
        
        


 