


@{ViewBag.Title = "August Bank Holiday weekend travel arrangements";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>August Bank Holiday weekend travel arrangements</h1>
        <div class="content-page-press-release">
        26 August 2004
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        Transport for London will be running slightly altered timetables on all modes over the Bank Holiday weekend 28 - 30 August 2004.
        
    </div>



 <div class="on-this-page">
<p><strong>TUBE:</strong></p>
<p>Saturday 28 August - Normal Saturday service except trains will not serve stations between Hampstead and Edgware on the Northern line due to essential works (see <a href="http://tube.tfl.gov.uk/content/pressreleases/0408/16.asp#nl" lid="PN1127">PN1127</a> for full details).</p>
<p>Sunday 29 August - Normal Sunday service except trains will not serve stations between Hampstead and Edgware on the Northern line due to essential works.</p>
<p>The following stations will also be closed: Cannon Street, Ladbroke Grove (due to Notting Hill Carnival) and Latimer Road at 23.30hrs (due to Notting Hill Carnival). </p>
<p>Monday 30 August - A Saturday service will run on all lines except:</p>
<p>No service on Waterloo &amp; City line<br>Enhanced service on Central line in the centre of London.</p>
<p>Trains will not serve stations between Hampstead and Edgware on the Northern line due to essential works.</p>
<p>The following stations will also be closed: Borough, Cannon Street, Chancery Lane, Ladbroke Grove (due to Notting Hill Carnival), Latimer Road at 23.30hrs (due to Notting Hill Carnival), Mornington Crescent, Shoreditch, and Temple.</p>
<p><strong>LONDON BUSES:</strong></p>
<p>Saturday 28 August: A normal Saturday service will operate.<br>Sunday 29 August: A normal Sunday service will operate. Day and night bus services in and around the Notting Hill Carnival area will be subject to diversions and delays. Full details of the diversions will be diisplayed on local bus stops.<br>Monday 30 August: A normal Sunday service will operate on all routes with the following exceptions:</p>
<p>Mobility Bus routes will NOT operate.</p>
<p>Route 43 will operate all day via Moorgate (Sunday market hours routeing via Bishopsgate will not operate)</p>
<p>A special service will operate on route H20 with a 30-minute frequency running between Ivybridge, Tesco - Hounslow, Civic Centre.</p>
<p>Night bus routes will operate normal Sunday night/Monday morning services on the night of Sunday 29th/Monday 30th August <br>On route N159 additional buses will operate during early Monday morning from New Addington to Thornton Heath Pond, to cover for the later start of Tramlink services.</p>
<p>Night bus routes will operate normal Monday night/Tuesday morning services on the night of Monday 30th/Tuesday 31st August<br>Day and night bus services in and around the Notting Hill Carnival area will be subject to diversions and delays. Full details of the diversions will be diisplayed on local bus stops.</p>
<p><strong>DLR: </strong></p>
<p>Saturday 28 August: A normal Saturday service will operate.<br>Sunday 29 August: A normal Saturday service will operate.<br>Monday 30 August: A normal Sunday service will operate.</p>
<p><strong>CROYDON TRAMLINK</strong></p>
<p>Saturday 28 August: A normal Saturday service will operate.<br>Sunday 29 August: A normal Sunday service will operate.<br>Monday 30 August: A normal Sunday service will operate.</p>
            <p>For 24-hour information on all London travel, please call: 020 7222 1234 or visit TfL's website: www. tfl.gov.uk</p>
<p>For further information contact TfL Press Office 020 7941 4141.</p>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "TUBE:Saturday 28 August - Normal Saturday service except trains will not serve stations between Hampstead and Edgware on the Northern line due to essential works (see PN1127 for full details).Sunday 29 August - Normal Sunday service except trains will not";}
        
        


 