


@{ViewBag.Title = "Getting to Carnival by Tube and bus";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>Getting to Carnival by Tube and bus</h1>
        <div class="content-page-press-release">
        18 August 2004
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        'If you're going to Notting Hill Carnival, let the bus or Tube take you there', is the message from Transport for London as Carnival travel arrangements were announced today.
        
    </div>



 <div class="on-this-page">
<p>A dedicated team has been busy planning for this year's Carnival since last year's event. </p>
<p>Beverley Hall of London buses said: "The Carnival is a massive annual event attracting over one million visitors over the two day celebrations. We'll be providing extra buses and extra staff to make sure everyone can get to the Carnival as easily and quickly as possible. And there will be special notices at bus stops and in buses to give passengers integrated travel information linking buses with the Underground."<br><br>London Underground's Mike Brown said: "It's a pleasure to work with London Notting Hill Carnival Limited and the other agencies to help make this event a success yet again. Carnival is a vibrant and colourful reflection of the cultural diversity of our great city and London Underground is proud to be part of this annual celebration."</p>
<p>A leaflet giving full details of all Carnival Tube and bus services is available from all London Underground stations and TfL Travel Information Centres. </p>
<p>For further information on all public transport over the Bank Holiday period please call London Travel Information on 020 7222 1234 (Textphone 020 7918 3015).<br></p>
            <p>Details of bus and Tube services for the Carnival:<br><br><strong>Bus</strong><br>Two special express routes - 12X and 36X will run between South London and the Carnival on both Carnival days. Numerous other bus routes will run close to the Carnival but will not enter the immediate Carnival area due to some road closures. The routes serving the area are; 7, 12, 18, 23, 27, 28, 31, 36, 52, 70, 94, 148, 295,316 and 328. </p>
<p>Night routes will operate throughout Sunday and Monday night - N7, 12, N18, 23, 27, N28, N31, N36, N52, 94, 148 &amp; N207.</p>
<p>Bus routes 6, 15, 187, 205, 220, 274, 436, 705 all operate within a comfortable walking distance. </p>
<p><strong>Tube services</strong><br>Stations will be open as on a normal Saturday except those in the Carnival area. Normal services will run on all lines. </p>
<p>In the interest of customer safety, the following access arrangements will apply at these stations:</p>
<p><strong>Ladbroke Grove</strong><br>Station closed on Sunday and Bank Holiday Monday</p>
<p><strong>Latimer Road</strong><br>On Sunday and Monday the station will close at 2330.</p>
<p><strong>Notting Hill Gate</strong><br>There will be no interchange between the Central and Circle / District lines on either day. On Sunday and Monday the station will be 'way out only' between 1200 and 1900. On Monday the Circle and District lines will not stop from 1200 to 1930.<br></p>
<div class="table-container"><table class="datatable2" width="100%">
<tbody>
<tr>
<th width="24%"><strong>Royal Oak</strong></th>
<th width="24%"> </th>
<th width="52%"> </th></tr>
<tr>
<td>Sunday 24 August</td>
<td>Until 11.00</td>
<td>Normal service</td></tr>
<tr>
<td> </td>
<td>11.00 - 18.00 <br></td>
<td>Way out only</td></tr>
<tr>
<td> </td>
<td>From 18.00 <br></td>
<td>Closed</td></tr>
<tr>
<td> </td>
<td> </td>
<td> </td></tr>
<tr>
<td>Monday 25 August: </td>
<td>Until 11.00 </td>
<td>Normal service</td></tr>
<tr>
<td> </td>
<td>11.00 - 18.00</td>
<td>Way out only</td></tr>
<tr>
<td> </td>
<td>From 18.00</td>
<td>Closed</td></tr>
<tr>
<th><strong>Westbourne Park</strong></th>
<th> </th>
<th> </th></tr>
<tr>
<td>Sunday 24 August:</td>
<td>Until 11.00</td>
<td>Normal service</td></tr>
<tr>
<td> </td>
<td>11.00 - 18.00</td>
<td>Way out only</td></tr>
<tr>
<td> </td>
<td>From 23.30 </td>
<td>Closed</td></tr>
<tr>
<td> </td>
<td> </td>
<td> </td></tr>
<tr>
<td>Monday 25 August:</td>
<td>Until 11.00</td>
<td>Normal service</td></tr>
<tr>
<td> </td>
<td>11.00 - 18.00</td>
<td>Way out only</td></tr>
<tr>
<td> </td>
<td>From 23.30</td>
<td>Closed</td></tr></tbody></table></div>
<p>NB: In addition to the above, it may be necessary to introduce crowd control measures at other times throughout the Carnival period and stations may close for short periods.</p>
<p>For further information contact TfL Press Office 020 7941 4141. </p>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "A dedicated team has been busy planning for this year's Carnival since last year's event. Beverley Hall of London buses said: 'The Carnival is a massive annual event attracting over one million visitors over the two day celebrations. We'll be providing";}
        
        


 