


@{ViewBag.Title = "Half way along the consultation route";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>Half way along the consultation route</h1>
        <div class="content-page-press-release">
        25 August 2004
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        More than 12,600 people have given their views so far in TfL's public consultation on the proposed West London Tram.
        
    </div>



 <div class="on-this-page">
<p>TfL's head of group public affairs, Bill Hamilton said:  <p>'We've had a fantastic response to the public consultation so far, with 21,000 visitors to the website, 4,700 visitors to the roadshows and more than 12,600 questionnaires received.  <p><strong>'The roadshows have proven extremely popular and in fact, 580 people visited our latest roadshow at the London Mela, the highest number of visitors to any of the roadshows so far. There are still 14 roadshows to go and these will be running in locations throughout West London until early October.'</strong></p> <p>The public consultation on the proposed West London Tram runs until 8 October.  <p>For further information, please contact TfL press office on 020 7941 4141.</p> <p>Consultation materials and a phone line have been produced in the GLA's 10 priority languages: Arabic, Chinese, Gujarati, Punjabi, Urdu, Bengali, Greek, Hindi, Turkish and Vietnamese, and English. A phone line has also been set up for people who speak these languages. <br></p> <p>All consultation materials are available in Braille and on audio tape. <br></p> <p>WLT roadshows still to come: <br></p> <ul> <li>3 September Sainsbury's, 31 Essex Place, near Chiswick Park Tube  </li><li>4 September, inside West 12 Shopping Centre, Shepherd's Bush Green  </li><li>6-7 September St. Mary's Church, Acton Town Square  </li><li>11-12 September Iceland/ Quality Foods, 47-61 South Road, Southall  </li><li>14 September Sainsbury's, Lombardy Retail Park, Coldharbour Lane, Hayes  </li><li>22 September Kensington Town Hall, The Courtyard, Hornton Street  </li><li>24-25 September Waitrose, 2 Alexandria Road, West Ealing  </li><li>28-29 September Sainsbury's, York Road, Uxbridge town centre  </li><li>1-2 October Ealing Town Hall, New Broadway, Ealing <br></li></ul> <p>The breakdown of roadshows visitor numbers is as follows:</p> <p> <div class="table-container"><table class="datatable" width="44%"> <tbody> <tr> <th width="145">Roadshow</th> <th width="158">Approximate attendees</th></tr> <tr> <td width="145">Acton</td> <td width="158">300 </td> </tr><tr> <td width="145">Acton</td> <td width="158">300 </td> </tr><tr> <td width="145">Ealing</td> <td width="158">570 </td> </tr><tr> <td width="145">Ealing</td> <td width="158">460 </td> </tr><tr> <td width="145">Shepherd's Bush</td> <td width="158">200 </td> </tr><tr> <td width="145">Shepherd's Bush</td> <td width="158">330 </td> </tr><tr> <td width="145">Southall</td> <td width="158">330 </td> </tr><tr> <td width="145">Southall</td> <td width="158">240 </td> </tr><tr> <td width="145">Hayes</td> <td width="158">230 </td> </tr><tr> <td width="145">Hayes</td> <td width="158">230 </td> </tr><tr> <td width="145">West Ealing</td> <td width="158">380 </td> </tr><tr> <td width="145">West Ealing</td> <td width="158">260 </td> </tr><tr> <td width="145">Uxbridge</td> <td width="158">170 </td> </tr><tr> <td width="145">Uxbridge</td> <td width="158">150 </td> </tr><tr> <td width="145">Mela</td> <td width="158">580</td></tr></tbody></table></div></p>
            <ol type="1">
<li>The Mayor and TfL will decide whether or not to go ahead with the West London Tram project after the public consultation results and ongoing engineering work has been reviewed. </li>
<li>The West London Tram is a proposal for a 20km tramway that would run from Uxbridge to Shepherds Bush, serving town centres of Uxbridge, Southall, Hanwell, West Ealing, Ealing, Acton and Shepherds Bush. The WLT would serve around 40 stops on the route, enabling passengers to travel from Uxbridge to Shepherds Bush in about an hour. </li>
<li>Further information about the consultation is available on TfL's website.<http: www.tfl.gov.uk="" westlondontram=""></http:></li></ol>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "TfL's head of group public affairs, Bill Hamilton said:'We've had a fantastic response to the public consultation so far, with 21,000 visitors to the website, 4,700 visitors to the roadshows and more than 12,600 questionnaires received.'The roadshows have";}
        
        


 