


@{ViewBag.Title = "Improvements to West Croydon Bus Station";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>Improvements to West Croydon Bus Station</h1>
        <div class="content-page-press-release">
        18 August 2004
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        West Croydon Bus Station, Station Road and St Michael's Road will be closed for five days from Monday 23 August 2004 to allow essential improvements to the station and its access highway to be carried out.
        
    </div>



 <div class="on-this-page">
<p>The closure will see a new tarmac surface on Station Road and improvement within the station to allow wheelchair users better access to buses.</p>
<p>Due to the work, there will be no bus service on London Road towards Brixton, from West Croydon and St. James Road. Services that normally terminate at West Croydon that also use East Croydon will terminate at East Croydon and tickets will be accepted on Croydon Tramlink.</p>
<p>The following routes will be affected by the closure:</p>
<p>50, 60, 64, 75, 109, 154, 157, 166, 194, 198, 250, 264, 289, 367, 403, 405, 407, 410, 412, 450, 455, 468, 494, 726, T33, X68, N68, N159, N213.</p>
<p>Publicity detailing the changes to the service will be posted around West and East Croydon stations. Extra staff will be available to assist any passengers affected by the closure.</p>
            <p>For further information on bus services in the area call London Travel Information on: 020 7222 1234</p>
<p>Nathan Fletcher <br>Press Officer <br>Email: <a href="mailto:nathanfletcher&#64;tfl.gov.uk" lid="nathanfletcher&#64;tfl.gov.uk">nathanfletcher&#64;tfl.gov.uk</a> <br>Direct line: 7941 4141 </p>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "The closure will see a new tarmac surface on Station Road and improvement within the station to allow wheelchair users better access to buses.Due to the work, there will be no bus service on London Road towards Brixton, from West Croydon and St. James";}
        
        


 