


@{ViewBag.Title = "Prosecution bulletin - illegal mini cab operators";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>Prosecution bulletin - illegal mini cab operators</h1>
        <div class="content-page-press-release">
        25 August 2004
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        Two illegal minicab operators and controllers face fines and costs totalling more than &pound;2000 following spot checks and investigations by TfL's Public Carriage Office (PCO).
        
    </div>



 <div class="on-this-page">
<p>At Brent Magistrates Court on Monday 23rd August, the PCO prosecuted 2 individuals who had been reported by PCO Licensing Officers for the offence of operating without a Private Operators Licence for London. The operators were based in Newham and Tower Hamlets.</p>
<p>Public Carriage Office, Head Roy Ellis said:</p>
<p>&quot;The message to operators is clear. Get licensed and keep your records accurate and up to date. The PCO are constantly doing spot checks on operators and you will be caught out if you don't comply with the licensing regulations. Minicab licensing in London is well underway making travel in the capital.&quot; </p>
<p>Details of the prosecutions are:</p>
<p>Monday 23 August 2004</p>
<p>Mr Abbey MUKASA of HAMMER CARS, 146 Earlham Grove, London E7 9AB<br>Failed to attend - case proved in absence<br>&pound;500 Fine + &pound;582 costs</p>
<p>Mr Zoshim UDDIN of MINICAB UK, caught at: Brittania Hotel, Marsh Wall E14.<br>Failed to attend - case proved in absence<br>&pound;500 Fine + &pound;422 Costs</p>
<p>The offence of trading without a licence in London currently carries a maximum fine of &pound;2500. </p>
<p>Since 2001 minicab operators must hold a licence from the PCO to run a service. Since 1st June 2003 it is an offence to drive a minicab without a private hire driving licence or a temporary permit issued by the PCO. Licensing of vehicles started in April 2004. </p>
            <ol>
<li>The Public Carriage Office is responsible for licensing London's taxi and private hire services, as part of Transport for London's Surface Transport and Street Management Directorate. There are currently 2330 licensed private hire operators in London and 45,715 drivers with either temporary permits or a full licence. 
</li><li>Since 2002 80 individuals have been convicted for operating without a licence. 
</li><li>The PCO employs 28 licensing officers who undertake 600 compliance inspections between them a month. </li></ol>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "At Brent Magistrates Court on Monday 23rd August, the PCO prosecuted 2 individuals who had been reported by PCO Licensing Officers for the offence of operating without a Private Operators Licence for London. The operators were based in Newham and Tower";}
        
        


 