


@{ViewBag.Title = "Road accidents down for 2004";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>Road accidents down for 2004</h1>
        <div class="content-page-press-release">
        19 August 2004
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        Transport for London (TfL) today released the first quarterly summary of London's road traffic collisions and casualties for 2004. The encouraging results show that overall injuries have fallen by 11% in the first three months compared to the same period last year.
        
    </div>



 <div class="on-this-page">
<p>Key findings are: 
<ul>
<li>6,677 road traffic collisions involving personal injury have been reported. This represents a 12% decrease compared with the same period of 2003 
</li><li>Of these collisions 51 people were killed, 1,039 were seriously injured and 6,996 were slightly injured 
</li><li>Fatalities in 2004 have so far fallen by 29% from 72 to 51 compared with 2003. Serious injuries have decreased by 15% and slight injuries have decreased by 10% 
</li><li>Overall casualties in 2004 have decreased by 11% 
</li><li>Men accounted for 61% of casualties, and women 39% 
</li><li>Pedestrian casualties decreased by 13%; pedal cyclists decreased by 15%; powered two-wheeler casualties saw an overall decrease of 14%, whilst fatalities decreased by 25%; and car occupant casualties saw an overall decrease of 11%. </li></ul>
<p>Managing Director of Surface Transport at TfL, Peter Hendy, said of the latest results; &quot;I am delighted that these latest figures show that the road safety message is getting across to all road users and that accidents continue to fall. We have been working hard to raise awareness of road safety and reduce the terrible toll on London's roads. These latest results show that we are on course to achieve our target of reducing those killed and seriously injured on our roads by 40% by 2010.&quot; 
<p>Chris Lines, Head of the London Road Safety Unit, added; &quot;Every week 100 families hear the news that someone they love has been killed or hurt in a traffic collision. This is an unacceptably high number and whilst these latest figures are encouraging, there is still much more to do to reduce the numbers hurt.&quot;</p>
            <ul>
<li><strong>Casualty reduction targets - progress towards the year 2010.</strong> In March 2000 the Government announced a new national road safety strategy and casualty reduction targets for 2010 in Tomorrow's roads - safer for everyone. By the year 2010, the casualty reduction targets to be achieved, compared with the 1994-98 average are: 
</li><li>a 40 percent reduction in the number of people killed or seriously injured 
</li><li>a 50 percent reduction in the number of children killed or seriously injured 
</li><li>a 10 percent reduction in the slight casualty rate, expressed as the number of people slightly injured per 100 million vehicle kilometres. 
</li><li>In addition a Road Safety Plan for London was produced by Transport for London in 2001. This plan supports the national targets and recommends further targets for reducing the numbers of pedestrians, pedal cyclists and powered two-wheeler riders who are killed or seriously injured by 40 percent by 2010. 
</li><li>The full report is available. </li></ul>
<p>Press Office - Telephone: 020 7941 4141 <br></p>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "Key findings are: 6,677 road traffic collisions involving personal injury have been reported. This represents a 12% decrease compared with the same period of 2003 Of these collisions 51 people were killed, 1,039 were seriously injured and 6,996 were";}
        
        


 