


@{ViewBag.Title = "TfL announces new entrant to London bus market";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>TfL announces new entrant to London bus market</h1>
        <div class="content-page-press-release">
        27 August 2004
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        London Buses today announced that Centra, the transport division of Central Parking Systems of UK Limited (CPS), has acquired the assets of Wimco Group Coaches Limited (which has been trading as Mitcham Belle) with immediate effect.
        
    </div>



 <div class="on-this-page">
<p>As part of this acquisition, it will take on the operation of seven routes under contract to Transport for London. Operations will be re-branded Centra London over the coming weeks. 
<p>Although new to the London bus market, Centra has a wealth of passenger transportation experience, and operates local bus services through Surrey, Essex and Hertfordshire, as well as airport shuttle services. 
<p>Twenty bus operators are currently in the London market which is worth around &pound;1 billion a year. 
<p>Director of Performance at London Buses Clare Kavanagh said: 
<blockquote>
<p>&quot;The quality of London's bus services is at an all time high and the number of people using the service has grown by an extra 1.8 million passengers per day over the last 4 years. I am sure that CPS entering the London market will help to continue to drive up quality and increase the competitiveness among London bus operators. 
<p>&quot;I look forward to working with CPS to bring about improvements to the performance of these routes and wish them every success in contributing to better public transport for London in the years to come.&quot; </p></blockquote>
<p>Confirming today's announcement Centra's head of operations Paul Churchman, said; 
<blockquote>
<p>&quot;This is an exciting moved for Centra, and we are looking forward to the challenge of operating bus routes in London. 
<p>&quot;We intend to utilise our knowledge and experience in order to rejunvenate the service provided to the public, and are confident that we can deliver real improvements for both passengers and TfL.&quot; </p></blockquote>
<p><strong>Notes for Editors</strong></p>
<ol>
<li>CPS will operate the following routes: <br>127, 152, 200, 200D, 201, 493, K5. 
</li><li>Quality incentive contracts for London's bus services were introduced in October 2001. Operators are given incentives and deductions relating to delivering quality and reliability according to set targets. The performance of each route is monitored by London Buses and action can be taken at any time if the route is not up to standard. Contracts are awarded in tranches for routes and are for five years with an option for a two-year extension. Around twenty per cent of the market comes up for re-tender in a year. 
</li><li>The London bus network is one of the largest and most comprehensive urban systems in the world. Each weekday over 7,500 London buses carry 6 million passengers on more than 700 different routes. 
</li><li>Key points about expanding the London bus network: 
<ul>
<li>Bus use is up by 11 per cent over the past year (03/04) - an extra 168 million passenger trips; 
</li><li>The number of passengers using buses is at its highest level since 1968; 
</li><li>Patronage is rising at its fastest rate since the Second World War; 
</li><li>Night bus use is up by 29 per cent over the past year; and 
</li><li>London Buses is running the highest volume of service on London's roads than at any time since 1957. </li></ul></li></ol>
<p><strong>For more information:</strong><br>TfL enquires - please telephone 020 7941 4141. </p>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "As part of this acquisition, it will take on the operation of seven routes under contract to Transport for London. Operations will be re-branded Centra London over the coming weeks. Although new to the London bus market, Centra has a wealth of passenger";}
        
        


 