


@{ViewBag.Title = "TfL improves London's environment";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>TfL improves London's environment</h1>
        <div class="content-page-press-release">
        23 August 2004
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        Transport for London (TfL) today delivered its Environmental Report 2004 at The International Union of Air Pollution Prevention and Environmental Protection Association World Congress.
        
    </div>



 <div class="on-this-page">
<p>The Report outlines the substantial progress made by TfL in improving London's environment over the last two years. In 2002 TfL developed the Environmental Action Plan with a commitment to promote sustainable and healthy means of travel; reducing the environmental impact of the transport network; improving local environments, particularly town centres and assessing the environmental impacts of new projects.</p>
<p>Mayor of London, Ken Livingstone said: </p>
<blockquote>
<p>"Like many Londoners, I can remember the dreadful 'pea-souper' smogs in the 1950s. These are now, thankfully, a thing of the past but we are still a long way from guaranteeing Londoners the clean air they have every right to expect. Transport for London is leading a wide-ranging programme to improve matters. Two of the highlights are replacing all the older buses and making London a Low Emission Zone. But it's not just cleaner air. Using 'green' electricity and installing solar panels all help to improve our environment. The land on either side of many Underground lines also help to protect London's wildlife." </p></blockquote>
<p>The environmental improvements achieved by TfL span all areas of London's extensive transport network including London Underground, buses and street management including:</p>
<ul>
<li>90 percent of London's buses now meet stringent European engine emission standards (Euro II and III) compared with 78 percent two years ago 
</li><li>79 percent of buses are fitted with particulate traps compared to 39 percent two years ago reducing harmful particles from the exhaust by over 90 percent 
</li><li>Three zero emission hydrogen fuel cell buses are on trial in London 
</li><li>TfL is preparing for implementing a Low Emission Zone in London 
</li><li>TfL has increased its purchase of renewable energy from 9 percent to 14 percent in the last two years 
</li><li>270 shelters are now lit by solar power 
</li><li>The new Vauxhall Cross interchange station incorporates the latest design in solar power to provide the station with 30 percent of its annual energy use 
</li><li>TfL has introduced the congestion charging scheme which has reduced emissions and energy use within the zone and has given 100 percent discount to the cleanest alternative fuelled vehicles 
</li><li>TfL has made significant improvements to London's urban townscapes - such as the redevelopment of Trafalgar Square 
</li><li>&quot;Foamix&quot; (recycled bitumen) is being used as the footpath foundation with recycled glass replacing traditional dredged sand in forming the base for the paving 
</li><li>London Underground recycled 27 percent of total solid waste in 2003/2004 
</li><li>London Underground purchased almost 15,000 reams of recycled paper, equating to a saving of 417 trees 
</li><li>The London Underground programme of renewing desktop computers saw over 2,000 units sent to 'Tools for Schools' for reuse 
</li><li>Over 30,000 trees have been planted on the Underground train network. </li></ul>
<p>Barry Broe, TfL Director of Transport Planning and Policy, said: </p>
<blockquote>
<p>&quot;TfL has made great in-roads in increasing the viability and attractiveness of cleaner modes of transport. At the same time we have cleaned up our own vehicles. But we're not complacent, so we've set ourselves challenging targets and are moving forward with a programme of improvements to reduce pollution, energy use, waste, noise and improve recycling and London's natural and built environment.&quot;</p></blockquote>
            <ul>
<li>The Environmental Report 2004 is <a href="/assets/downloads/Environment-Report-2004.pdf" fn="Environment-Report-2004.pdf" lid="available online">available online</a> or hard copy via the contact below. </li>
<li>The Environmental Action Plan 2002 is available from the contact below.<br></li>
<li>The International Union of Air Pollution Prevention and Environmental Protection Association World Congress is held at the London Hilton Metropole Hotel 22 August - 27 August. For further information visit <a href="http://www.kenes.com/cleanair" lid="http://www.kenes.com/cleanair" el="http://www.kenes.com/cleanair">www.kenes.com/cleanair</a><br></li>
<li>For more information about this press release or to request related material, please contact:<br><br><strong>Savannah Bekin</strong><br>Media Manager <br>Email: <a href="mailto:savannahbekin&#64;tfl.gov.uk " lid="savannahbekin&#64;tfl.gov.uk">mailto:savannahbekin&#64;tfl.gov.uk </a><br>Direct line: 020 7941 4882 </li></ul>
<p>For further information contact TfL Press Office 020 7941 4141.</p>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "The Report outlines the substantial progress made by TfL in improving London's environment over the last two years. In 2002 TfL developed the Environmental Action Plan with a commitment to promote sustainable and healthy means of travel; reducing the";}
        
        


 