


@{ViewBag.Title = "Tour of Britain comes to London";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>Tour of Britain comes to London</h1>
        <div class="content-page-press-release">
        23 August 2004
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        On Sunday 5 September London will play host to the final leg of the Tour of Britain cycle race. An estimated 50,000 spectators will come out to watch the finest cyclists in the world compete against each other. Some central London roads will be closed to traffic for the race and will remain closed until crowds have dispersed.
        
    </div>



 <div class="on-this-page">
<p>On the same day there will be a festival of events on Regent Street. Therefore Regent Street will be closed to all traffic including buses from about 0400 on Sunday until 0200 on Monday 6 September. </p>
<p>People are advised to avoid the following roads and to allow extra time for their journeys.</p>
<p><strong>Road closures:</strong></p>
<p>To accommodate the Tour of Britain the following roads will be closed at certain times:</p>
<ul>
<li>Whitehall and Parliament Street southbound from 0500 - 2030 
</li><li>Whitehall and Parliament Street both directions from 0900 - 2030 
</li><li>Bridge Street eastbound from 0700 - 1600 
</li><li>Bridge Street both directions from 0900 - 1600 
</li><li>Victoria Embankment non-riverside carriageway from 0700 - 1600 
</li><li>Northumberland Avenue westbound from 0700 - 1600 
</li><li>Northumberland Avenue both directions from 0900 - 1600 
</li><li>Whitehall and Parliament Street northbound will also be closed to general traffic but will be open to buses and emergency vehicles only between 0500 - 0900. </li></ul>
<p><strong><a name="1"></a>Buses will be diverted as follows:</strong></p>
<div class="table-container"><table class="datatable2" cellspacing="2" cellpadding="2" width="100%" border="0">
<tbody>
<tr>
<th valign="top" nowrap="">Bus Route</th>
<th>Diversion</th></tr>
<tr>
<th valign="top" nowrap="">3, N3</th>
<td>
<p><strong>Northbound</strong> - towards Oxford Circus - From 0400 - 0900 <br>and from 1700 - 0200 </p>
<p>Buses will run from Lower Regent Street and Piccadilly Circus, then divert via Shaftesbury Avenue, Cambridge Circus, Charing Cross Road, Andrew Borde Street, Centre Point, New Oxford Street, Oxford Street, Oxford Circus and onto Holles Street.</p>
<p><strong>Northbound </strong>- towards Oxford Circus - From 0900 -1700 </p>
<p>Buses from Lambeth Road at Lambeth Bridge will then be diverted via Lambeth Palace Road, Addington Street, York Road, Waterloo Bridge, Aldwych, Kingsway, High Holborn, New Oxford Street, Oxford Street, Oxford Circus and onto Holles Street.</p>
<p><strong>Southbound</strong> - towards Lambeth - From 0400 - 0900 and 1700 - 0200 </p>
<p>From the stand in Henrietta Place buses will be diverted via Vere Street, Oxford Street, Oxford Circus, Oxford Street, Charing Cross Road Bus Lane, Charing Cross Road, Trafalgar Square east side, Northumberland Avenue, Victoria Embankment, Bridge Street to Parliament Square then follow usual route.</p>
<p><strong>Southbound</strong> - towards Lambeth - From 0900 - 1700 </p>
<p>From the stand in Henrietta Place buses will be diverted via Vere Street, Oxford Street, Oxford Circus, Oxford Street, New Oxford Street, Vernon Place, Southampton Row, Kingsway, Aldwych eastern arm, Strand, Waterloo Bridge, York Road, Addington Street, Lambeth Palace Road to Lambeth Road then follow usual route.</p></td></tr>
<tr>
<th>6, 13, 15, 23, 139, N13, N15</th>
<td><strong>Northbound</strong> - towards Marble Arch - From 0400 - 0900 <br><br>From Lower Regent Street and Piccadilly Circus, buses will divert via Shaftesbury Avenue, Cambridge Circus, Charing Cross Road, Andrew Borde Street, Centre Point, New Oxford Street, Oxford Street and Oxford Circus to Oxford Street then follow usual route. 
<p><strong>Northbound</strong> - towards Marble Arch - From 0900 - 1700 </p>
<p>From Strand at Aldwych western arm, buses will then be diverted via Aldwych western arm, Kingsway, High Holborn, New Oxford Street, Oxford Street and Oxford Circus to Oxford Street then follow usual route.</p>
<p><strong>Southbound</strong> - towards Trafalgar Square - At all times </p>
<p>From Oxford Street at Oxford Circus, buses will be diverted via Oxford Street, Charing Cross Road Bus Lane, Cambridge Circus, Shaftesbury Avenue and Great Windmill Street to the Haymarket then follow usual route.</p>
<p></td></tr>
<tr>
<th>9, N9 </th>
<td><strong>Westbound</strong> - towards Hyde Park Corner - At all times 
<p>From Strand at Aldwych western arm buses will be diverted via Aldwych western Arm, Kingsway, High Holborn, New Oxford Street, Charing Cross Road bus lane, Shaftsbury Avenue, Great Windmill Street, Haymarket, Charles II Street to Regent Street then follow usual route.</p>
<p><strong>Eastbound</strong> - towards Aldwych - At all times </p>
<p>Buses will not be diverted.</p></td></tr>
<tr>
<th>11, N11 </th>
<td><strong>Eastbound</strong> - towards Liverpool Street - 0900 -1700 
<p>From Parliament Square at Bridge Street buses will be diverted via Parliament Square south side, Millbank, Lambeth Bridge, Lambeth Palace Road, Addington Street, York Road, Waterloo Bridge to Aldwych then follow usual route.</p>
<p><strong>Westbound</strong> - towards Victoria - 0500 - 0900 then 1700 - 2030 </p>
<p>From Strand at Trafalgar Square buses will be diverted via Northumberland Avenue, Victoria Embankment, Bridge Street to Parliament Square then follow usual route.</p>
<p><strong>Westbound</strong> - towards Victoria - 0900 - 1700 </p>
<p>From Strand at Lancaster Place buses will be diverted via Lancaster Place, Waterloo Bridge, York Road, Addington Street, Lambeth Palace Road, Lambeth Bridge, Millbank to Parliament Square then follow usual route.<br></p></td></tr>
<tr>
<th>12, 159, N158</th>
<td><strong>Northbound</strong> - towards Oxford Circus - 0400 - 0900 then <br>1700 - 0200 
<p>From Lower Regent Street and Piccadilly Circus, buses will be diverted via Shaftesbury Avenue, Cambridge Circus, Charing Cross Road, Andrew Borde Street, Centre Point, New Oxford Street, Oxford Street, Oxford Circus then follow usual route.</p>
<p><strong>Northbound</strong> - towards Oxford Circus - 0900 - 1700 </p>
<p>From Westminster Bridge Road at Addington Street buses will be diverted via Addington Street, York Road, Waterloo Bridge, Aldwych, Kingsway, High Holborn, New Oxford Street, Oxford Street, Oxford Circus then follow usual route.<br><br><strong>Southbound</strong> - towards Westminster Bridge - 0400 - 0900 then 1700 - 0200 </p>
<p>From Oxford Street at Oxford Circus buses will be diverted via Oxford Street, Charing Cross Road Bus Lane, Charing Cross Road, Trafalgar Square east side, Northumberland Avenue, Victoria Embankment to Westminster Bridge then follow usual route.</p>
<p><strong>Southbound</strong> - towards Lambeth - 0900 - 1700 </p>
<p>From Oxford Street at Oxford Circus buses will be diverted via Oxford Street, New Oxford Street, Vernon Place, Southampton Row, Aldwych eastern arm, Strand, Waterloo Bridge, York Road, Addington Street to Westminster Bridge Road then follow usual route.</p></td></tr>
<tr>
<th>24, N279 </th>
<td><strong>Northbound</strong> - towards Warren Street - 0900 -1700 
<p>From Parliament Square at Bridge Street buses will be diverted via Parliament Square south side, Millbank, Lambeth Bridge, Lambeth Palace Road, Addington Street, York Road, Waterloo Bridge, Aldwych western Arm, Kingsway, High Holborn, New Oxford Street to Tottenham Court Road then follow usual route.</p>
<p><strong>Southbound</strong> - towards Victoria - 0500 - 0900 then 1700 - 2030 </p>
<p>From Trafalgar Square east side, buses will be diverted via Northumberland Avenue, Victoria Embankment, Bridge Street to Parliament Square then follow usual route</p>
<p><strong>Southbound</strong> - towards Victoria - From 0900 - 1700 </p>
<p>From Charing Cross Road at Duncannon Street buses will then be diverted via Duncannon Street, Strand, Aldwych western and eastern arms, Strand, Lancaster Place, Waterloo Bridge, York Road, Addington Street, Lambeth Palace Road, Lambeth Bridge, Millbank to Parliament Square then follow usual route.</p></td></tr>
<tr>
<th>25,55 </th>
<td><strong>Westbound</strong> - towards Oxford Circus - From 0400 - 0200 
<p>From Oxford Street at Oxford Circus buses will then be diverted<br>to Oxford Street, and Holles Street.</p>
<p><strong>Eastbound</strong> - towards Centre Point - Buses will not be diverted.</p></td></tr>
<tr>
<th>29, N29 </th>
<td><strong>Southbound</strong> - towards Trafalgar Square - From 0500 - 2030 
<p>Buses will stop at Tottenham Court Road Centre Point from the north.</p></td></tr>
<tr>
<th>53, N381 </th>
<td><strong>Northbound</strong> - towards Trafalgar Square - From 0500 - 2030 <br><br>Buses will stop at County Hall from the south.</td></tr>
<tr>
<th>77A, N77, N44</th>
<td><strong>Eastbound</strong> - towards Aldwych - 0900 - 1700 <br><br>From Millbank at Lambeth Bridge buses will be diverted via Lambeth Bridge, Lambeth Palace Road, Addington Street, York Road, Waterloo Bridge to Aldwych then follow usual route. 
<p><strong>Westbound</strong> - towards Vauxhall - From 0500 - 0900 then 1700 - 2030 </p>
<p>From Strand at Trafalgar Square buses will be diverted via Northumberland Avenue, Victoria Embankment, Bridge Street to Parliament Square then follow usual route.</p>
<p><strong>Westbound</strong> - towards Vauxhall - From 0900 - 1700 </p>
<p>From Strand at Lancaster Place buses will be diverted via Lancaster Place, Waterloo Bridge, York Road, Addington Street, Lambeth Palace Road, Lambeth Bridge to Millbank then follow usual route.</p></td></tr>
<tr>
<th>88</th>
<td><strong>Northbound</strong> - towards Camden Town - From 0400 - 0900 <br>and 1700 - 0200 
<p>From Regent Street at Piccadilly Circus, buses then diverted via Shaftesbury Avenue, Cambridge Circus, Charing Cross Road, Tottenham Court Road to Hampstead Road then follow usual route.</p>
<p><strong>Northbound</strong> - towards Camden Town - From 0900 - 1700 <br><br>From Marsham Street at Horseferry Road buses will then be diverted via Horseferry Road, Lambeth Bridge, Lambeth Palace Road, Addington Street, York Road, Waterloo Bridge, Aldwych, Kingsway, High Holborn, New Oxford Street, Tottenham Court Road to Hampstead Road then follow usual route.<br><br><strong>Southbound</strong> - towards Vauxhall - From 0400 - 0900 and 1700 - 0200 </p>
<p>From Regent Street at Margaret Street buses will then be diverted via Margaret Street, Cavendish Square south side, Henrietta Place, Vere Street, Oxford Street, Oxford Circus, Oxford Street, Charing Cross Road Bus Lane, Charing Cross Road, Trafalgar Square east side, Northumberland Avenue, Victoria Embankment, Bridge Street to Parliament Square then follow usual route.</p>
<p><strong>Southbound</strong> - towards Lambeth - From 0900 - 1700 </p>
<p>From Regent Street at Margaret Street buses will then be diverted via Margaret Street, Cavendish Square south side, Henrietta Place, Vere Street, Oxford Street, Oxford Circus, Oxford Street, New Oxford Street, Vernon Place, Southampton Row, Kingsway, Aldwych eastern arm, Strand, Waterloo Bridge, York Road, Addington Street, Lambeth Palace Road, Lambeth Bridge, Horseferry Road to Marsham Street then follow usual route.</p></td></tr>
<tr>
<th>91 </th>
<td><strong>Westbound</strong> - towards Trafalgar Square - From 0500 - 2030 
<p>Will be curtailed to terminate at Aldwych from the north.</p></td></tr>
<tr>
<th>94 </th>
<td>
<p><strong>Southbound</strong> - towards Piccadilly Circus - From 0400 -0200 </p>
<p>Buses will terminate at Oxford Circus from the west.</p></td></tr>
<tr>
<th>148, 211 </th>
<td><strong>Eastbound</strong> - towards Waterloo - From 0700 - 1700 
<p>From Parliament Square at Bridge Street, buses will be diverted via Parliament Square south side, Millbank, Lambeth Bridge, Lambeth Palace Road, Addington Street, then follow usual route.</p>
<p><strong>Westbound</strong> - towards Victoria - From 0900 - 1700 </p>
<p>From Addington Street at Lambeth Palace Road buses will then be diverted via Lambeth Palace Road, Lambeth Bridge, Millbank to Parliament Square then follow usual route.</p></td></tr>
<tr>
<th>176 </th>
<td><strong>Southbound</strong> - towards Waterloo - Buses will not be diverted. 
<p><strong>Northbound</strong> - towards Oxford Circus - From 0850 - 1700</p>
<p>From Lancaster Place at Aldwych buses will then be diverted via Aldwych western arm, Kingsway, High Holborn, New Oxford Street to Centre Point at Oxford Circus ahead Oxford Street, Holles Street then follow usual route.</p></td></tr>
<tr>
<th>453 </th>
<td><strong>Northbound</strong> - towards Marylebone - From 0400 - 0900 <br>and 1700 - 0200 
<p>From Lower Regent Street and Piccadilly Circus, buses are then diverted via Shaftesbury Avenue, Cambridge Circus, Charing Cross Road, Tottenham Court Road, Euston Road, Marylebone Road then follow usual route.</p>
<p><strong>Northbound</strong> - towards Marylebone - From 0900 - 1700 </p>
<p>From Westminster Bridge Road at Addington Street buses will be diverted via Addington Street, Waterloo Bridge, Aldwych western Arm, Kingsway, High Holborn, New Oxford Street, Tottenham Court Road, Euston Road, Marylebone Road then follow usual route.</p>
<p><strong>Southbound</strong> - towards Trafalgar Square - From 0400 - 0200 </p>
<p>From Regent Street at Margaret Street buses will be diverted via right Margaret Street, along Cavendish Square (south side), Henrietta Place, Vere Street, Oxford Street, Oxford Circus, Oxford Street, New Oxford Street, Vernon Place, Southampton Row, Aldwych eastern arm, Strand, Lancaster Place, Waterloo Bridge, York Road, Addington Street, to Westminster Bridge Road then follow usual route.</p></td></tr>
<tr>
<th>C2 </th>
<td><strong>Southbound</strong> - towards Oxford Circus - 
<p>From Regent Street at Oxford Circus, buses diverted via Oxford Street and Holles Street.</p>
<p><strong>Northbound</strong> - towards Parliament Hill Fields </p>
<p>From Holles Street buses then diverted via Cavendish Square (south side), Henrietta Place, Vere Street, Oxford Street, Oxford Circus and Regent Street then follow usual route.</p></td></tr>
<tr>
<th>N2, N343 </th>
<td><strong>Southbound</strong> - towards Victoria - From 0500 - until last night bus. 
<p>From Trafalgar Square east side, buses will be diverted via Northumberland Avenue, Victoria Embankment, Bridge Street to Parliament Square then follow usual route.</p>
<p><strong>Northbound</strong> - towards Trafalgar Square - Buses will not be diverted. </p></td></tr>
<tr>
<th>N18</th>
<td><strong>Southbound</strong> - towards Trafalgar Square - From 0400 - 0200 
<p>From Langham Place and Regent Street, buses then diverted via Margaret Street, Cavendish Square (south side), Henrietta Place, Vere Street, Oxford Street, Oxford Circus, Oxford Street, Centre Point, Charing Cross Road Bus Lane, Cambridge Circus, Shaftesbury Avenue and Great Windmill Street to the Haymarket then follow usual route.</p>
<p><strong>Northbound</strong> - towards Baker Street - From 0400 - 0200 </p>
<p>From Lower Regent Street and Piccadilly Circus, buses then diverted via Shaftesbury Avenue, Cambridge Circus, Charing Cross Road, Tottenham Court Road, Euston Road to Marylebone Road then follow usual route.<br></p></td></tr>
<tr>
<th>N36</th>
<td>From 0400 - 0200 on Monday 6th, buses will follow the day bus route.</td></tr>
<tr>
<th>N52</th>
<td>No diversions. </td></tr>
<tr>
<th>N155</th>
<td><strong>Eastbound</strong> - towards Aldwych - Buses will not be diverted. 
<p><strong>Westbound</strong> - towards Elephant and Castle - From 0500 until last night bus </p>
<p>From Strand at Trafalgar Square buses will then be diverted via Northumberland Avenue, Victoria Embankment, Bridge Street to Parliament Square then follow usual route.</p></td></tr></tbody></table></div>
            <li>For further information on all public transport please call London Travel Information on 020 7222 1234 (Textphone 020 7918 3015) or visit <a href="http://www.tfl.gov.uk/" lid="http://www.tfl.gov.uk">www.tfl.gov.uk</a> 
</li><li>To get to the race by bike use the recommended routes in the London Cycle Guide #10. The Spring Gardens/Trafalgar Square Westminster/Master Park car park is also available for cycle parking.<br>
</li><li>The Tour of Britain is being supported by the following Regional Development Agencies - North West Development Agency, the East Midlands Development Agency, Advantage West Midlands and the London Development Agency as well as the Welsh Development Agency. The five stages of the will also be supported by private sector partners in the various regions. 
<p>The five legs are as follows:<br><br><strong>Stage 1 - Wednesday, September 1</strong><br><br>Start at Sports City in Manchester with a route that takes in Lancashire and finishes at Urbis in Corporation Street, Manchester. </p>
<p><strong>Stage 2 - Thursday, September 2</strong><br><br>Start in Millennium Square, Leeds and race through Yorkshire to finish in Pinstone Street, Sheffield. </p>
<p><strong>Stage 3 - Friday, September 3</strong><br><br>Start at Bakewell Agricultural Centre and race through Derbyshire, Leicestershire and Nottinghamshire with the finish on Victoria Embankment in Nottingham.</p>
<p><strong>Stage 4 - Saturday, September 4</strong><br><br>Start at the Celtic Manor and race through Newport and South East Wales with the finish in on the new Southern Distributor Road Bridge in Newport.</p>
<p><strong>Stage 5 - Sunday, September 5 from 3pm to approx 4.30pm.</strong><br><br>45 laps of a circuit where the riders race clockwise from the start in Whitehall, into Northumberland Avenue, down the Embankment, into Bridge Street and finish in Whitehall.</p>
</li><li>The Tour of Britain coincides with a sharp rise in cycling in London. The number of people currently cycling in London is 23% higher than last year. Around 300,000 cycling trips are made in London each day and 17% of Londoners are cyclists. Transport for London's (TfL) London Cycling Action Plan aims to achieve an 80% increase in cycling levels by 2010 and a 200% increase by 2020 compared to cycling levels in 2000. A programme of measures to encourage more people to enjoy the advantages of city cycling has led to the creation of nearly 3000 additional cycle parking spaces; free cycle maps showing quiet routes, and free cyclist training across London. Over 100km of cycling routes have been upgraded to improve conditions for cycling in London. 
</li><li>For details of the Tour of Britain race, contact Michael Heal on 020 8974<br>8506 or 0775 157 1936 or visit <a href="http://www.tourofbritain.co.uk/" target="_blank" lid="http://www.tourofbritain.co.uk" el="http://www.tourofbritain.co.uk">www.tourofbritain.co.uk</a></li>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "On the same day there will be a festival of events on Regent Street. Therefore Regent Street will be closed to all traffic including buses from about 0400 on Sunday until 0200 on Monday 6 September. People are advised to avoid the following roads and to";}
        
        


 