


@{ViewBag.Title = "Elizabeth line train undergoes all-weather testing";}
        
        
<div class="r">
    <div class="breadcrumb-container" role="navigation">
        <span id="breadcrumb-label" class="visually-hidden">You are here:</span>
        <ol class="breadcrumbs clearfix" aria-labelledby="breadcrumb-label">
            <li class="home">
                <a href="/">
                    <span class="hide-text">Home</span>
                </a>
            </li>
            
                <li>
                    <a href="/info-for/media/index">Media</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases">Press releases</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases/2016">2016</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases/2016/december">December</a>
                </li>
                
                <li>
                    <span class="last-breadcrumb">Elizabeth line train undergoes all-weather testing</span>
                </li>
            
 
            
 
            
 
            
 
            
 
        </ul>
    </div>
</div>
     
 
<div class="r">
    <div class="headline-container plain">
        <h1>Elizabeth line train undergoes all-weather testing</h1>
        <div class="content-page-press-release">
        30 December 2016
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        Test train carriage trialled in climatic wind tunnel in Vienna put through cold, windy, hot and freezing fog conditions
        
    </div>



<div class="pull-quote">
        <div class="quote-body">"It's important that we check that the new trains can operate in anything that the changing British weather can throw at them"</div>
        <div class="quote-footer">
            <div class="quotee-name">Howard Smith</div>
            <div class="quotee-job-title">Operations Director, Elizabeth line</div>
        </div>
</div>

 <div class="on-this-page">
<ul>
    <li>The first test train is now in London and will begin night testing on tracks in east London, entering customer service in May 2017</li>
</ul>
<p>The new Elizabeth line trains, that will improve travel across London for hundreds of thousands of Londoners, are undergoing the most intense testing possible in readiness for any possible weather conditions they could encounter.</p>
<p>Bombardier Transportation, which is building the new trains in Derby, delivered the front carriage of a test train to the Rail Tec Arsenal test centre in Vienna for three weeks of testing in a number of weather conditions, with temperatures ranging from -25&ordm;C up to +40&ordm;C. The facility in Vienna is the only place in Europe that can carry out this level of testing on trains.</p>
<p>The heating, ventilation and air-conditioning system, windscreen wipers and demister, train horns and the traction motors all went through intense simulations of hot, cold, windy and foggy weather to check that they can still function in all weather conditions the train may face when operating through London and beyond.</p>
<p>Howard Smith, Operations Director for the Elizabeth line, said: </p>
<p>'Although we've not had snow in London yet this year, we've put the train through a white Christmas. It's important that we check that the new trains can operate in anything that the changing British weather can throw at them and it won't be long before our customers will be able to get on board a train, with the first of them going into service in May 2017.'</p>
<p>Dean Taplin, Senior Vehicle Engineer at Bombardier said: </p>
<p>'Subjecting the new trains to a range of climatic conditions, including thick snow and ice, is another crucial step towards making sure that the trains perform as intended whatever the weather. With these new trains entering passenger service from next year, it's key that all elements of the train are fully tested so that passengers have a comfortable experience.'</p>
<p>Bombardier continues to build the first trains which will be tested in Derby before coming to London where the drivers will learn to drive them with the first train due to enter service in May 2017.</p>
<p> </p>
<hr />
<p>Notes to Editors:</p>
<ul>
    <li>Images of the <a href="https://www.flickr.com/photos/tflpress/sets/72157678184372335/">Elizabeth line train carriage in the climatic wind tunnel</a></li>
    <li>The trains have been tested at the Bombardier site in Derby, the Old Dalby test track and will be overnight tested in east London.</li>
    <li>The first trains will be seven-carriages long operating between Liverpool Street and Shenfield from May 2017. The first full length, nine-carriage trains will be first introduced between Heathrow and Paddington from May 2018.</li>
    <li>When fully operational in 2019 the Elizabeth line will serve Reading and Heathrow in the west through to Shenfield and Abbey Wood in the east, passing through new tunnels under central London.</li>
    <li>The trains are based on Bombardier's latest Aventra design which was designed in the UK.</li>
    <li>TfL and train manufacturer Bombardier have worked on the designs of the new trains, based on Bombardier's latest generation Aventra train, with Barber &amp; Osgerby acting as design advisors on the project.</li>
    <li>The Climatic Wind Tunnel operated by Rail Tec Arsenal in Vienna opened in 2003. </li>
</ul>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
                <a href="/info-for/media/index" class="heading">
                    <h2 id="sub-menu-heading">Media<span class="visually-hidden"> navigation</span></h2>
                </a>
                <ul>
                    
                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases">Press releases</a></div>
                                <ul>
                                    
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2020">2020</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019">2019</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018">2018</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017">2017</a></div></li>
                            
 
                                        <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016">2016</a></div>
                                        <ul>
                                            
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016/january">January</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016/february">February</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016/march">March</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016/april">April</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016/may">May</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016/june">June</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016/july">July</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016/august">August</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016/september">September</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016/october">October</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016/november">November</a></div></li>
                                    
 
                                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016/december">December</a></div>
                                                <ul>
                                                    
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
                                                </ul>
                                            
 
                                        </ul>
                                    </li>
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015">2015</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014">2014</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2013">2013</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2012">2012</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2011">2011</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2010">2010</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2009">2009</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2008">2008</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2007">2007</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2006">2006</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2005">2005</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2004">2004</a></div></li>
                            
 
                                </ul>
                            </li>
 
                                <li><div class="link-wrapper"><a href="/info-for/media/photos">Photos</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/media/contact-the-press-office">Contact the Press Office</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/filming-and-photography">Filming & photography</a></div></li>
                            
 
                </ul>
            
 
 
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype: -Home-Media-Media-Press releases-2016-December-Elizabeth line train undergoes all-weather testing -->

 
 
        
        
            @{ViewBag.Description = "White Christmas for Elizabeth line train as it undergoes all-weather testing";}
        
        


 