


@{ViewBag.Title = "Mayor invests &pound;220m in boroughs to make streets greener, healthier and safer - West";}
        
        
<div class="r">
    <div class="breadcrumb-container" role="navigation">
        <span id="breadcrumb-label" class="visually-hidden">You are here:</span>
        <ol class="breadcrumbs clearfix" aria-labelledby="breadcrumb-label">
            <li class="home">
                <a href="/">
                    <span class="hide-text">Home</span>
                </a>
            </li>
            
                <li>
                    <a href="/info-for/media/index">Media</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases">Press releases</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases/2016">2016</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases/2016/december">December</a>
                </li>
                
                <li>
                    <span class="last-breadcrumb">Mayor invests £220m in boroughs to make streets greener, healthier and safer - West</span>
                </li>
            
 
            
 
            
 
            
 
            
 
        </ul>
    </div>
</div>
     
 
<div class="r">
    <div class="headline-container plain">
        <h1>Mayor invests £220m in boroughs to make streets greener, healthier and safer - West</h1>
        <div class="content-page-press-release">
        15 December 2016
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">



 <div class="on-this-page">
<p>The Mayor of London, Sadiq Khan, has announced &pound;220m funding for boroughs to deliver transport, town centre and public space improvements to improve the lives of Londoners.</p>
<p>The funding will be used by boroughs across the Capital for a wide range of projects to reduce dangers on the roads, transform local areas, encourage cycling and walking and improve air quality.</p>
<p>Transport for London (TfL) will invest &pound;148m in Local Implementation Plans that support the Mayor's Transport Strategy, as well as a further &pound;70m for other schemes, including funding for strategic walking and cycling programmes such as Quietways, Mini-Hollands and Liveable Neighbourhoods.  This will be key to delivering the Mayor's Healthy Streets vision of a city that is more pleasant to live and move around in.</p>
<p>Each of London's 33 boroughs benefits from the funding, with more than &pound;1bn to be invested across TfL's Business Plan to 2021/22, in which the Mayor announced record levels of investment to make cycling easier and safer, including support for borough cycling schemes, and improve the capital's air quality.</p>
<p>This year's Local Implementation Plan funding for boroughs in West London includes:</p>
<ul>
    <li>Ealing - &pound;3m including &pound;2.6m for improvements for cycling, walking, road safety, buses and to help smooth traffic flow across the borough;</li>
    <li>Hammersmith &amp; Fulham &#45; &pound;1.9m including &pound;120,000 to develop Parklets and Pocket Parks - a green open space for people to relax in while taking in the activities of the local area;</li>
    <li>Hounslow - &pound;2.6m, including &pound;120,000 for a new shared-use Greenways route alongside the Longford River linking Hanworth Park to Feltham Town Centre;</li>
    <li>Brent - &pound;2.6m including &pound;700,000 to implement local safety schemes across the borough;</li>
    <li>Hillingdon - &pound;4.9m including &pound;535,000 to improve access to local shopping parades for pedestrians and cyclists, as well as installing a mix of wayfinding signs. The funds will also cover works to improve connectivity between Bakers Road bus station and the High Street in Uxbridge Town Centre;</li>
    <li>Harrow - &pound;2.8m including &pound;200,000 to complete the Stanmore to Thames north / south cycle route linking Belmont trail and the proposed Quietway route between Brent and Harrow Weald;</li>
    <li>Kensington &amp; Chelsea - &pound;1.8m including &pound;350,000 to design and implement pedestrian and cyclist improvements in the South Chelsea area. Works will include reducing street clutter and guard railing, tackling congestion hotspots, improving road safety, bus stop accessibility and servicing provision North / South cycle route linking Belmont Trail and the proposed Quietway route between Brent and Harrow Weald.</li>
</ul>
<p>The Mayor of London, Sadiq Khan, said: `I'm proud that through the new TfL Business Plan we are creating a modern and affordable transport network for the capital, and am delighted that we are able to invest an increased level of funding across the boroughs next year too. By making walking and cycling easier and safer, and funding projects that will improve air quality, we can help boroughs right across the capital to deliver transport and public space improvements that are going to make a real difference to the lives of Londoners.'</p>
<p>Councillor Julian Bell, Chair of London Councils Transport &amp; Environment Committee, said: `London's boroughs welcome this long term settlement by the Mayor of London, which will assist in making borough streets greener and safer. It provides a much needed firm base from which to work with the Mayor and TfL to deliver the improvements to London's local transport scene as part of a city for all Londoners.'</p>
<p>The Mayor and TfL will also work closely with boroughs in the New Year on a stronger offer of support to deliver the projects, and a review of where they are targeted to ensure they are delivered where they are most needed.</p>
<p>London's Transport Commissioner, Mike Brown, said: `We will work closer than ever before with all London boroughs to ensure London remains a world-class city with more attractive, accessible and people-friendly streets. Through this funding, Londoners will see real improvements to their local areas, through safer streets, improved public areas, more reliable public transport and increased walking and cycling facilities.'</p>
<p>Significant projects in West London awarded funding last year included:</p>
<ul>
    <li>Hillingdon - &pound;200,000 for work to improve road safety around schools and encouraging sustainable ways of travelling to school through the development of School Travel Plans;</li>
    <li>Ealing - &pound;700,000 for programmes and campaigns to promote cycling, walking and public transport use including school travel plans, cycle training ( Dr Bike and cycle maintenance classes) and measures to monitor air quality;</li>
    <li>Brent - &pound;325,000 to implement a number of road safety schemes across Brent to help address the number of accidents and ensure safer streets;</li>
    <li>Hammersmith and Fulham - &pound;120,000 to install a sustainable urban drainage on Talgarth Road and for a new cycle path;</li>
    <li>Hounslow - &pound;120,000 for a new shared-use Greenways route alongside the Longford River linking Hanworth Park to Feltham Town Centre;</li>
    <li>Kensington and Chelsea - &pound;350,000 to reduce street clutter and guard railing, as well as improve road safety for pedestrians and cyclists.</li>
</ul>
<p>ENDS</p>
<p>Notes to Editors<br />
1.	Each borough produces a Local Implementation Plan (LIP) to demonstrate how they plan to implement the Mayor's Transport Strategy locally.  While Transport for London allocates funding for individual schemes, the LIP and delivery of individual projects is the responsibility of each borough.</p>
<p>2.	The overall 2017/18 core LIPs and other programmes budget of &pound;221.1million is allocated as follows:<br />
-	&pound;73.9m is allocated for Corridors and Neighbourhoods<br />
-	&pound;22.9m is allocated to Major Schemes<br />
-	&pound;11m is awarded for Bridge Strengthening<br />
-	&pound;11.1m is allocated for Traffic Signal Modernisation for sites across London<br />
-	&pound;4.2m is allocated for apprenticeships, staff training and support for partnerships<br />
-	&pound;20m is allocated for Principal Road Maintenance based on condition surveys (of which &pound;1m will be held for Principal Road Maintenance emergency works and condition surveys)<br />
-	&pound;17.1m is awarded to Bus Priority<br />
-	&pound;40.2m is awarded to Borough Cycling<br />
-	&pound;16.5m to support air quality and public transport  improvements<br />
-	&pound;4.5m is allocated for a new Healthy Routes programme, where TfL will work with the boroughs to create healthier routes to schools and local attractions including; cycle parking and 20 mph limits and zones</p>
<p>3.	The &pound;16.5m Other Borough Funding is allocated:<br />
-      &pound;2.2m to Pedestrian Town Centres<br />
-      &pound;2m to Mayor's Air Quality Fund<br />
-      &pound;10.9m to Crossrail Complementary Measures<br />
-      &pound;0.9m to Bus Priority Enabling Works<br />
-      &pound;0.5m to Bus Stop Accessibility</p>
<p>4.	The overall 2017/18 core LIPs and other programmes budget of &pound;221.1million is an increase from &pound;197m in 2016/17.</p>
<p>More information on Local Implementation Plans - <a href="https://tfl.gov.uk/info-for/boroughs/local-implementation-plans">https://tfl.gov.uk/info-for/boroughs/local-implementation-plans</a></p>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
                <a href="/info-for/media/index" class="heading">
                    <h2 id="sub-menu-heading">Media<span class="visually-hidden"> navigation</span></h2>
                </a>
                <ul>
                    
                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases">Press releases</a></div>
                                <ul>
                                    
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2020">2020</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019">2019</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018">2018</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017">2017</a></div></li>
                            
 
                                        <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016">2016</a></div>
                                        <ul>
                                            
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016/january">January</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016/february">February</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016/march">March</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016/april">April</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016/may">May</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016/june">June</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016/july">July</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016/august">August</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016/september">September</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016/october">October</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016/november">November</a></div></li>
                                    
 
                                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016/december">December</a></div>
                                                <ul>
                                                    
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
                                                </ul>
                                            
 
                                        </ul>
                                    </li>
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015">2015</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014">2014</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2013">2013</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2012">2012</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2011">2011</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2010">2010</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2009">2009</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2008">2008</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2007">2007</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2006">2006</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2005">2005</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2004">2004</a></div></li>
                            
 
                                </ul>
                            </li>
 
                                <li><div class="link-wrapper"><a href="/info-for/media/photos">Photos</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/media/contact-the-press-office">Contact the Press Office</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/filming-and-photography">Filming & photography</a></div></li>
                            
 
                </ul>
            
 
 
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype: -Home-Media-Media-Press releases-2016-December-Mayor invests £220m in boroughs to make streets greener, healthier and safer - West -->

 
 
        
        
            @{ViewBag.Description = "Press releases and news articles from Transport for London";}
        
        


 