


@{ViewBag.Title = "New officers tackling illegal taxi and minicab activity";}
        
        
<div class="r">
    <div class="breadcrumb-container" role="navigation">
        <span id="breadcrumb-label" class="visually-hidden">You are here:</span>
        <ol class="breadcrumbs clearfix" aria-labelledby="breadcrumb-label">
            <li class="home">
                <a href="/">
                    <span class="hide-text">Home</span>
                </a>
            </li>
            
                <li>
                    <a href="/info-for/media/index">Media</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases">Press releases</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases/2016">2016</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases/2016/december">December</a>
                </li>
                
                <li>
                    <span class="last-breadcrumb">New officers tackling illegal taxi and minicab activity</span>
                </li>
            
 
            
 
            
 
            
 
            
 
        </ul>
    </div>
</div>
     
 
<div class="r">
    <div class="headline-container plain">
        <h1>New officers tackling illegal taxi and minicab activity</h1>
        <div class="content-page-press-release">
        14 December 2016
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        50 new TfL Compliance Officers hit the streets after the Mayor announced plans to quadruple size of enforcement team
        
    </div>



<div class="pull-quote">
        <div class="quote-body">"Every Londoner and visitor to our city must feel safe getting around London. The roll-out of more compliance officers over the coming months will be crucial in driving up standards and ensuring Londoners remain safe"</div>
        <div class="quote-footer">
            <div class="quotee-name">Sadiq Khan</div>
            <div class="quotee-job-title">Mayor of London</div>
        </div>
</div>

 <div class="on-this-page">
<ul>
    <li>One of the first parts of delivering the Mayor's Taxi and Private Hire Action Plan, to improve passenger safety and drive up standards</li>
    <li>The Mayor says safety standards must be 'rigorously enforced.'</li>
</ul>
<p>Only four months after Mayor of London Sadiq Khan announced the dramatic expansion of Transport for London's (TfL) Taxi and Private Hire Compliance team, the first wave of new officers have hit London's streets.</p>
<p>More than 4,800 people applied for the 250 Compliance Officer positions when it was announced the unit was to quadruple in size back in August.</p>
<p>The 50 new officers are joining the existing team of 82 who provide a highly visible uniformed presence across the Capital. Officers will be cracking down on illegal activity such as touting and plying for hire, as well as undertaking vehicle checks, ensuring drivers are licensed and have the correct paperwork. They will also provide advice to the public on how they can get home safely.</p>
<p>Over the next six months the team will continue to grow, so by summer 2017 there will be more than 300 Compliance Officers working across London. This is the largest number of Compliance Officers in Mayoral history.</p>
<p>Officers have spent an intensive period training, both in the classroom and out on the streets, being taught about legislation, regulations, health and safety and vehicle standards.</p>
<p>Since April 2016, TfL's existing Compliance Officers have stopped approximately 37,000 black taxis and minicabs to check drivers are carrying correct identification and paperwork, and checking their vehicles for any defects.</p>
<p>TfL carries out regular operations with its partners to deter and disrupt illegal minicab activity in the Capital and protect the public from touts. Operation Neon is a joint operation between TfL, the Metropolitan Police Service and Westminster City Council that takes place every weekend.</p>
<p>Sadiq Khan, Mayor of London, said: </p>
<p>'As I outlined in my manifesto, we must ensure that safety standards are rigorously enforced across London's black cab and private hire industries.  I am delighted to announce that from today there will be an additional 50 trained compliance officers cracking down on illegal activity and providing reassurance for passengers on London's streets - and this is just the first step.</p>
<p>'Drivers who are unlicensed or flout the rules not only pose a risk to Londoners' safety, but also undermine the work of the hard-working and professional drivers who provide a vital service to millions of Londoners every year. Every Londoner and visitor to our city must feel safe getting around London. The roll-out of more compliance officers over the coming months will be crucial in driving up standards and ensuring Londoners remain safe.'</p>
<p>Steve Burton, TfL's Director of Enforcement and On-Street Operations, said: </p>
<p>'Our Compliance Officers are at the forefront of combatting unsafe and unlicensed taxi and private hire drivers who not only pose a serious risk to passenger safety, but undermines licensed, law abiding drivers. These new officers are being deployed on an intelligence led basis, moving quickly when information is received. This will allow us to significantly increase levels of enforcement so we can robustly deal with regulatory breaches and drivers who are breaking the law.'</p>
<p>New recruit, TfL Compliance Officer, Lesley Haggerty, said: </p>
<p>'Training has been extremely intense, but I have enjoyed every minute of it. Throughout my learning what has struck me is the range of vehicle and driver regulations there are which, as a passenger, you don't think about. Every aspect is extremely important because it's the public's safety we're looking out for as well as safeguarding genuine drivers and operators. We need to make sure drivers are licensed and the vehicles they use are safe and roadworthy, if they're not, action will be taken.'</p>
<p>Steve McNamara, General Secretary of the Licensed Taxi Drivers Association (LTDA), said: </p>
<p>'We welcome this announcement - these enforcement officers are an important first step in addressing illegal taxi and private hire activity. However, there is still more do. It is vital that these officers have the powers and support they need to ensure that the rapidly growing number of private hire vehicles on the capital's roads are properly insured and abide by the rules of the road, as well as to clamp down on illegal plying for hire.'</p>
<p>Steve Garelick, GMB's Professional Drivers Branch Secretary, said: </p>
<p>'We are pleased to see these new officers completing their training so soon after the team's expansion was announced. We are committed to professionalism and welcome measures, such as this, which give the public added confidence and assurance that using a private hire vehicle is safe.'</p>
<p>The Taxi and Private Hire Action Plan sets out the Mayor's programme for improvements to the taxi and minicab trade that will drive up standards, improve safety, and protect the future of the iconic black taxi.</p>
<p>As part of the Action Plan, TfL will open up additional bus lanes for use by taxis, use technology to provide customers with information on how to get a taxi quickly and easily, and increase the number of taxi ranks by 20 per cent by 2020. To make the Capital's taxi fleet the greenest in the world, money will be made available to drivers who scrap the oldest and most polluting taxis.</p>
<p>&nbsp;</p>
<hr />
<p>Notes to Editors:</p>
<ul>
    <li>Further information on London Mayor, Sadiq Khan's, Taxi and Private Hire Action Plan 2016 can be found here: <a href="http://content.tfl.gov.uk/taxi-and-private-hire-action-plan-2016.pdf">content.tfl.gov.uk/taxi-and-private-hire-action-plan-2016.pdf</a></li>
    <li>To date, of the 109 job offers that have been made to candidates, more than 40 per cent have gone to women &#45; increasing the number of women working in transport.</li>
    <li>TfL has launched its 2016 Safer Travel at Night campaign which highlights to people how they can keep themselves safe when using taxis and minicabs. The advice is to use a black cab or book their journey through a licensed minicab operator, via a booking app, phone, email or in the minicab office.</li>
    <li>For information on TfL's Safer Travel at Night campaign, visit: <a href="http://tfl.gov.uk/campaign/safer-travel">tfl.gov.uk/campaign/safer-travel</a></li>
</ul>
<p>&nbsp;</p>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
                <a href="/info-for/media/index" class="heading">
                    <h2 id="sub-menu-heading">Media<span class="visually-hidden"> navigation</span></h2>
                </a>
                <ul>
                    
                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases">Press releases</a></div>
                                <ul>
                                    
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2020">2020</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019">2019</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018">2018</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017">2017</a></div></li>
                            
 
                                        <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016">2016</a></div>
                                        <ul>
                                            
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016/january">January</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016/february">February</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016/march">March</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016/april">April</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016/may">May</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016/june">June</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016/july">July</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016/august">August</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016/september">September</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016/october">October</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016/november">November</a></div></li>
                                    
 
                                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016/december">December</a></div>
                                                <ul>
                                                    
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
                                                </ul>
                                            
 
                                        </ul>
                                    </li>
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015">2015</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014">2014</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2013">2013</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2012">2012</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2011">2011</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2010">2010</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2009">2009</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2008">2008</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2007">2007</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2006">2006</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2005">2005</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2004">2004</a></div></li>
                            
 
                                </ul>
                            </li>
 
                                <li><div class="link-wrapper"><a href="/info-for/media/photos">Photos</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/media/contact-the-press-office">Contact the Press Office</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/filming-and-photography">Filming & photography</a></div></li>
                            
 
                </ul>
            
 
 
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype: -Home-Media-Media-Press releases-2016-December-New officers tackling illegal taxi and minicab activity -->

 
 
        
        
            @{ViewBag.Description = "New officers to tackle illegal taxi and minicab activity hit London’s streets";}
        
        


 