


@{ViewBag.Title = "Shortlist of bidders to build Barking Riverside Extension ";}
        
        
<div class="r">
    <div class="breadcrumb-container" role="navigation">
        <span id="breadcrumb-label" class="visually-hidden">You are here:</span>
        <ol class="breadcrumbs clearfix" aria-labelledby="breadcrumb-label">
            <li class="home">
                <a href="/">
                    <span class="hide-text">Home</span>
                </a>
            </li>
            
                <li>
                    <a href="/info-for/media/index">Media</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases">Press releases</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases/2016">2016</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases/2016/december">December</a>
                </li>
                
                <li>
                    <span class="last-breadcrumb">Shortlist of bidders to build Barking Riverside Extension </span>
                </li>
            
 
            
 
            
 
            
 
            
 
        </ul>
    </div>
</div>
     
 
<div class="r">
    <div class="headline-container plain">
        <h1>Shortlist of bidders to build Barking Riverside Extension </h1>
        <div class="content-page-press-release">
        14 December 2016
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        Construction of the 4.5km London Overground rail extension could begin next year
        
    </div>



<div class="pull-quote">
        <div class="quote-body">"The Barking Riverside extension is key to regenerating this part of east London, helping to support up to 10,800 new homes, along with new jobs and improved facilities for the local community"</div>
        <div class="quote-footer">
            <div class="quotee-name">Jonathan Fox</div>
            <div class="quotee-job-title">Director of London Rail, TfL</div>
        </div>
</div>

 <div class="on-this-page">
<ul>
    <li>Extension will unlock development potential of the area, including the building of 10,800 new homes</li>
</ul>
<p>Transport for London (TfL) today announced the names of the companies shortlisted to bid to build the London Overground Barking Riverside Extension, which will serve one of London's largest housing development sites.</p>
<p>The extension of the London Overground Gospel Oak to Barking line down to Barking Riverside will bring huge benefits for people in the local area and beyond, supporting the major new development with 10,800 new homes, many of which are affordable, a new school and healthcare services, as well as shops, restaurants and leisure facilities.</p>
<p>The new station will lie at the heart of the Barking Riverside community, delivering a sustainable public transport alternative to car travel and linking the area into London's public transport network through connections at Barking, with District and Hammersmith &amp; City Tube services and c2c services to London Fenchurch Street and Essex.</p>
<p>Three bidders have been shortlisted to build the extension, they are:</p>
<ul>
    <li>Balfour Beatty</li>
    <li>Carillion PLC</li>
    <li>VolkerFitzpatrick Morgan Sindall joint venture.</li>
</ul>
<p>Jonathan Fox, TfL's Director of London Rail, said: </p>
<p>'The Barking Riverside extension is key to regenerating this part of east London, helping to support up to 10,800 new homes, along with new jobs and improved facilities for the local community.  The London Overground network has helped regenerate other parts of London by providing a frequent, reliable and high standard rail services, and this rail extension will help Barking riverside to grow and develop.'</p>
<p>A Transport and Works Act Order (TWAO) for the 4.5km extension was submitted to the Secretary of State for Transport in March 2016 and if approved could mean construction beginning in late 2017 with train services commencing in 2021.</p>
<p>TfL's transformation of underused suburban rail links into the highly popular London Overground has seen passenger numbers rise by 400 per cent since 2007 and the network become one of the most reliable and popular in the UK.</p>
<p>&nbsp;</p>
<hr />
<p>Notes to Editors:</p>
<ul>
    <li>TfL has placed a notice with the Official Journal of the European Union (OJEU) in July 2016 seeking expressions of interest to construct the rail extension.</li>
    <li>A Transport and Works Act Order (TWAO) was submitted to the Secretary of State for Transport in March 2016 and if approved could mean construction beginning in late 2017 with train services commencing in 2021.</li>
    <li>The extension is fully funded, with the majority of the &pound;263m cost of the scheme being met by the developers, Barking Riverside Limited, a joint venture between the GLA and London &amp; Quadrant, who are providing &pound;172m of funding. The remainder is being provided by TfL.</li>
    <li>There have been three public consultations, all of which showed overwhelming support for the extension. <a href="http://www.tfl.gov.uk/barking-riverside">www.tfl.gov.uk/barking-riverside</a></li>
    <li>The proposed extension of the London Overground to Barking Riverside is part of TfL's vision of creating better rail services in London to meet the needs of the city's rapidly growing population and to support new jobs, homes and economic growth.</li>
    <li>The Gospel Oak to Barking route, which is already part of London Overground, is being electrified by Network Rail and due to be completed in 2017. The new four-carriage electric trains will run on the route from 2018 replacing the current two-carriage diesel trains, and will provide improved journey times and more capacity.</li>
    <li>Barking Riverside Limited is a new Joint Venture between the GLA (49%) and London &amp; Quadrant New Homes (51%). This is a reformed joint venture following the sale of former partner Bellway Homes shares to L&amp;Q.</li>
</ul>
<p>&nbsp;</p>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
                <a href="/info-for/media/index" class="heading">
                    <h2 id="sub-menu-heading">Media<span class="visually-hidden"> navigation</span></h2>
                </a>
                <ul>
                    
                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases">Press releases</a></div>
                                <ul>
                                    
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2020">2020</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019">2019</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018">2018</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017">2017</a></div></li>
                            
 
                                        <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016">2016</a></div>
                                        <ul>
                                            
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016/january">January</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016/february">February</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016/march">March</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016/april">April</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016/may">May</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016/june">June</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016/july">July</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016/august">August</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016/september">September</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016/october">October</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016/november">November</a></div></li>
                                    
 
                                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016/december">December</a></div>
                                                <ul>
                                                    
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
                                                </ul>
                                            
 
                                        </ul>
                                    </li>
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015">2015</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014">2014</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2013">2013</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2012">2012</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2011">2011</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2010">2010</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2009">2009</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2008">2008</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2007">2007</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2006">2006</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2005">2005</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2004">2004</a></div></li>
                            
 
                                </ul>
                            </li>
 
                                <li><div class="link-wrapper"><a href="/info-for/media/photos">Photos</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/media/contact-the-press-office">Contact the Press Office</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/filming-and-photography">Filming & photography</a></div></li>
                            
 
                </ul>
            
 
 
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype: -Home-Media-Media-Press releases-2016-December-Shortlist of bidders to build Barking Riverside Extension  -->

 
 
        
        
            @{ViewBag.Description = "TfL announces shortlist of bidders to build the Barking Riverside Extension ";}
        
        


 