


@{ViewBag.Title = "TfL staff recognised in New Year's Honours";}
        
        
<div class="r">
    <div class="breadcrumb-container" role="navigation">
        <span id="breadcrumb-label" class="visually-hidden">You are here:</span>
        <ol class="breadcrumbs clearfix" aria-labelledby="breadcrumb-label">
            <li class="home">
                <a href="/">
                    <span class="hide-text">Home</span>
                </a>
            </li>
            
                <li>
                    <a href="/info-for/media/index">Media</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases">Press releases</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases/2016">2016</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases/2016/december">December</a>
                </li>
                
                <li>
                    <span class="last-breadcrumb">TfL staff recognised in New Year’s Honours</span>
                </li>
            
 
            
 
            
 
            
 
            
 
        </ul>
    </div>
</div>
     
 
<div class="r">
    <div class="headline-container plain">
        <h1>TfL staff recognised in New Year’s Honours</h1>
        <div class="content-page-press-release">
        30 December 2016
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        Two Transport for London (TfL) employees have been recognised with a British Empire Medal (BEM) in the New Year's Honours for their work supporting people in the transport industry
        
    </div>



<div class="pull-quote">
        <div class="quote-body">"I am delighted that Giles and Brendan's hard work has been recognised with these well-deserved honours"</div>
        <div class="quote-footer">
            <div class="quotee-name">Sadiq Khan</div>
            <div class="quotee-job-title">Mayor of London</div>
        </div>
</div>

 <div class="on-this-page">
<p>Giles Barker has been recognised with a BEM for services to transport in London and the disability community and Brendan Sleight has been recognised with a BEM for services to transport in London and the Armed Forces Covenant.</p>
<p>Giles, from Kings Langley, Hertfordshire, has been a pioneer both within and outside of TfL, breaking down the barriers that people with disabilities face. He has volunteered in a leading role on the Board of TfL's Staff Network Group for Disability for seven years, handing over his position as Chair, which he held for three and a half years, this autumn. Giles has championed an increase in disability awareness, education and understanding throughout TfL by encouraging an open environment where work colleagues are empowered and confident to be themselves and open about their disabilities.</p>
<p>He has helped create a staff support peer group at TfL that focuses on mental health and has pioneered the introduction of mental health first aid training. Outside of work, he advocated the creation of Purple Space, an external professional development hub, which offers information and advice to disabled staff network groups across both the public and private sectors.</p>
<p>Brendan, from Morden, London, has proven himself to be a role model both to those inside and outside of TfL, encouraging young adults and those within the Armed Forces to consider a career within the transport industry. Brendan is currently the Chair of TfL's Ex-Forces and Reservist Staff Network Group, which supports employees who have previously been in the Forces or are reservists. He has organised three consecutive annual industry days, with another coming up in February. These aim to make wounded, injured and sick ex-Forces personnel and reservists aware of the career opportunities at TfL and companies in its supply chain. Alongside TfL signing the Armed Forces Covenant in February 2016, Brendan's efforts have led to the provision of employability workshops and taster placements, some of which have led to permanent employment.</p>
<p>Brendan has served the Capital as an engineer by building traffic infrastructure and also by inspiring more young people to study Science, Technology, Engineering and Maths (STEM) subjects. Under his leadership, his team has successfully created apprenticeship roles and over the last three years, four apprentices have moved into permanent roles at TfL after completing their training programmes. He has also mentored many engineers to Chartership, particularly women who tend to be underrepresented in the sector. He is active in his local community, having served as a school governor for seven years, stepping down from his role this December.</p>
<p>Mayor of London, Sadiq Khan, said: </p>
<p>'I am delighted that Giles and Brendan's hard work has been recognised with these well-deserved honours. Their vital contributions have made a huge difference to both Londoners working at TfL and those travelling across our transport network.;</p>
<p>London's Transport Commissioner, Mike Brown MVO, said: </p>
<p>'Huge congratulations to both Brendan and Giles, who are having their tremendous work recognised in the New Year's Honours. Both are pioneers and their efforts have had a positive effect on many people, both inside and outside of TfL.'</p>
<p>Giles Barker, TfL Portfolio Sponsor, said: </p>
<p>'It's fantastic to be recognised in the New Year's Honours. It has been an honour to be involved in the Staff Network Group for Disability at TfL, which supports colleagues around the organisation and encourages them to feel confident in the workplace.</p>
<p>'I want to thank all of those who have worked with me. Together, I hope that we can continue to make TfL a place where people feel confident to be themselves.'</p>
<p>Brendan Sleight, TfL Chief Engineer, said: </p>
<p>'I am proud to receive this honour. I hope that this inspires more people to pursue a career in the transport industry, whether they are looking for an apprenticeship or a new role after leaving the Forces.</p>
<p>'Often, when looking at what the future holds, people don't realise what skills they have and our initiatives aim to make them realise that they already have the qualities that many employers look for.</p>
<p>&nbsp;</p>
<hr />
<p>Notes to Editors:</p>
<p>Images of Brendan Sleight and Giles Barker are available from the TfL Press Office.</p>
<ul>
    <li>Giles Barker has worked at TfL for 10 years. He has served the Capital as a project manager, working on TfL's CCTV and Urban Traffic Control systems, and has recently been seconded to the role of Portfolio Sponsor.</li>
    <li>In addition to the above, Giles co-founded TfL's Reasonable and Workplace Adjustment Forum in 2010. He has been a constant driving force behind improving TfL's reasonable and workplace adjustment processes as well as providing software and training that helps staff with dyslexia and cognitive impairments.</li>
    <li>Brendan Sleight has worked at TfL for 16 years. In his current role, he is ultimately responsible for the maintenance of all of the traffic lights across London. Over his career, he has contributed to keeping them up and running in a number ways from designing traffic light junctions to developing new traffic lights.</li>
    <li>Brendan was inspired to help those who had been in the Armed Forces after his department offered a placement to somebody who had left the forces, due to injury. He realised that the individual's skills were those that the transport industry often struggles to find.</li>
</ul>
<p>&nbsp;</p>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
                <a href="/info-for/media/index" class="heading">
                    <h2 id="sub-menu-heading">Media<span class="visually-hidden"> navigation</span></h2>
                </a>
                <ul>
                    
                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases">Press releases</a></div>
                                <ul>
                                    
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2020">2020</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019">2019</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018">2018</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017">2017</a></div></li>
                            
 
                                        <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016">2016</a></div>
                                        <ul>
                                            
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016/january">January</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016/february">February</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016/march">March</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016/april">April</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016/may">May</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016/june">June</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016/july">July</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016/august">August</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016/september">September</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016/october">October</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016/november">November</a></div></li>
                                    
 
                                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016/december">December</a></div>
                                                <ul>
                                                    
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
                                                </ul>
                                            
 
                                        </ul>
                                    </li>
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015">2015</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014">2014</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2013">2013</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2012">2012</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2011">2011</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2010">2010</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2009">2009</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2008">2008</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2007">2007</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2006">2006</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2005">2005</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2004">2004</a></div></li>
                            
 
                                </ul>
                            </li>
 
                                <li><div class="link-wrapper"><a href="/info-for/media/photos">Photos</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/media/contact-the-press-office">Contact the Press Office</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/filming-and-photography">Filming & photography</a></div></li>
                            
 
                </ul>
            
 
 
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype: -Home-Media-Media-Press releases-2016-December-TfL staff recognised in New Year’s Honours -->

 
 
        
        
            @{ViewBag.Description = "Transport for London staff recognised in New Year’s Honours";}
        
        


 