


@{ViewBag.Title = "Vauxhall's safer, more welcoming future is confirmed";}
        
        
<div class="r">
    <div class="breadcrumb-container" role="navigation">
        <span id="breadcrumb-label" class="visually-hidden">You are here:</span>
        <ol class="breadcrumbs clearfix" aria-labelledby="breadcrumb-label">
            <li class="home">
                <a href="/">
                    <span class="hide-text">Home</span>
                </a>
            </li>
            
                <li>
                    <a href="/info-for/media/index">Media</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases">Press releases</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases/2016">2016</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases/2016/december">December</a>
                </li>
                
                <li>
                    <span class="last-breadcrumb">Vauxhall’s safer, more welcoming future is confirmed</span>
                </li>
            
 
            
 
            
 
            
 
            
 
        </ul>
    </div>
</div>
     
 
<div class="r">
    <div class="headline-container plain">
        <h1>Vauxhall’s safer, more welcoming future is confirmed</h1>
        <div class="content-page-press-release">
        16 December 2016
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        More than 60 per cent of respondents supported proposals to give Vauxhall more attractive, accessible people-friendly streets
        
    </div>



<div class="pull-quote">
        <div class="quote-body">"By consulting with local residents and road users we've been able to improve our initial designs to deliver the best possible scheme that will benefit everyone living or working in, or travelling through, the area"</div>
        <div class="quote-footer">
            <div class="quotee-name">Leon Daniels</div>
            <div class="quotee-job-title">Managing Director of Surface Transport, TfL</div>
        </div>
</div>

 <div class="on-this-page">
<ul>
    <li>Safer and better connected streets will provide a platform for new businesses in the area</li>
</ul>
<p>The next step in making Vauxhall's roads safer and less intimidating has been outlined by Transport for London (TfL). Work to remove the one-way traffic system and replace it with safer two-way roads will begin in 2019. This - together with the new public square and improvements to both the bus station and Bondway - will help create a more accessible and attractive area.</p>
<p>The changes are part of TfL's work to encourage the use of streets as public spaces and will boost pedestrian and cyclist safety. A new civic area &#45; roughly the same size as Brixton's Windrush Square &#45; will be created and the area will be better connected by 12 new or improved signalised pedestrian crossings. Upgraded cycle lanes will be segregated and signalised cycle crossings will be installed to improve safety.</p>
<p>The work will complement both ongoing and future improvements to cycling and walking in the area, including the nearly complete transformation of Stockwell junction and future proposals to improve footways, cycle and bus facilities in Nine Elms.</p>
<p>Leon Daniels, Managing Director of Surface Transport at TfL, said: </p>
<p>'A safer, better connected and more accessible Vauxhall will support new jobs, houses and growth in the area. By consulting with local residents and road users we've been able to improve our initial designs to deliver the best possible scheme that will benefit everyone living or working in, or travelling through, the area.'</p>
<p>Cllr Jack Hopkins, Lambeth Cabinet member for Regeneration, Business and Culture, said: </p>
<p>'This is a hugely exciting time for Vauxhall and these plans will make the area more accessible, safer and a more pleasant place to live, work and visit.  The public square will help make Vauxhall a proper destination once again, complementing the excellent transport links and variety of attractions on offer.  The council, along with Transport for London, has worked closely with local residents and businesses on these plans, and I'm delighted that the scheme has widespread support.'</p>
<p>Bernard Collier, Chief Executive of Vauxhall One Business Improvement District, said: </p>
<p>'Vauxhall is a wonderful place, with a rich history and plenty of modern attractions on offer - art galleries, parks, nightclubs, restaurants and bars all in abundance.  Vauxhall One welcomes this transformation scheme that improves accessibility, wayfinding, safety and place making. Vauxhall One will continue to work with TfL and Lambeth Council on the detailed implementation, to ensure that Vauxhall gets the unique centre it deserves.'</p>
<p>TfL adapted the initial design based on comments raised in the consultation to ensure that a scheme which works for all is delivered. The changes included alterations to priorities at junctions and bus stop locations.</p>
<p>In addition to the removal of the gyratory, the plans to make Vauxhall safer and less intimidating and better connected include:</p>
<ul>
    <li>Twelve new or upgraded signalised pedestrian crossings &#45; one of which will increase the accessibility of the area by replacing a footbridge over Kennington Lane</li>
    <li>Better connected cycle routes with better crossings</li>
    <li>More cycle parking to encourage visitors to the area</li>
    <li>A new pedestrianised public square outside the station</li>
    <li>Widened pavements along Albert Embankment, South Lambeth Road and Bondway</li>
    <li>An overall reduction in bus journey times</li>
    <li>An improved bus station with bus stops grouped by local destination</li>
</ul>
<p>The plan include the removal of a current pinch-point on the popular Cycle Superhighway 5. By removing a pillar from the railway arch, the cycle track can be made two-way and include more welcoming pedestrian facilities. The scheme also allows the current staggered cycle and pedestrian crossings on Albert Embankment to be converted to allow people to cross in one movement.</p>
<p>Next year, the public will be involved in detailed proposals for the bus station facilities as part of the town planning application process. The improvements are being part-funded by Lambeth Council and TfL's growth fund, which is designed to create jobs and homes by unlocking development across London.</p>
<p>&nbsp;</p>
<hr />
<p>Notes to Editors:</p>
<ul>
    <li>TfL aims to submit a planning application for the new bus station in spring next year</li>
    <li>TfL held a consultation on the detailed design proposals between 24 November 2015 and 17 January 2016. The consultation received 1,247 responses with 61 per cent generally positive towards the proposals. For more information about the consultation go to: <a href="http://consultations.tfl.gov.uk/roads/vauxhall-cross/">consultations.tfl.gov.uk/roads/vauxhall-cross/</a></li>
</ul>
<p>&nbsp;</p>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
                <a href="/info-for/media/index" class="heading">
                    <h2 id="sub-menu-heading">Media<span class="visually-hidden"> navigation</span></h2>
                </a>
                <ul>
                    
                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases">Press releases</a></div>
                                <ul>
                                    
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2020">2020</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019">2019</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018">2018</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017">2017</a></div></li>
                            
 
                                        <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016">2016</a></div>
                                        <ul>
                                            
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016/january">January</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016/february">February</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016/march">March</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016/april">April</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016/may">May</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016/june">June</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016/july">July</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016/august">August</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016/september">September</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016/october">October</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016/november">November</a></div></li>
                                    
 
                                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016/december">December</a></div>
                                                <ul>
                                                    
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
                                                </ul>
                                            
 
                                        </ul>
                                    </li>
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015">2015</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014">2014</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2013">2013</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2012">2012</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2011">2011</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2010">2010</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2009">2009</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2008">2008</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2007">2007</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2006">2006</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2005">2005</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2004">2004</a></div></li>
                            
 
                                </ul>
                            </li>
 
                                <li><div class="link-wrapper"><a href="/info-for/media/photos">Photos</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/media/contact-the-press-office">Contact the Press Office</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/filming-and-photography">Filming & photography</a></div></li>
                            
 
                </ul>
            
 
 
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype: -Home-Media-Media-Press releases-2016-December-Vauxhall’s safer, more welcoming future is confirmed -->

 
 
        
        
            @{ViewBag.Description = "Vauxhall’s safer, more welcoming future is confirmed";}
        
        


 