


@{ViewBag.Title = "September";}
        
        
<div class="r">
    <div class="breadcrumb-container" role="navigation">
        <span id="breadcrumb-label" class="visually-hidden">You are here:</span>
        <ol class="breadcrumbs clearfix" aria-labelledby="breadcrumb-label">
            <li class="home">
                <a href="/">
                    <span class="hide-text">Home</span>
                </a>
            </li>
            
                <li>
                    <a href="/info-for/media/index">Media</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases">Press releases</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases/2009">2009</a>
                </li>
                
                <li>
                    <span class="last-breadcrumb">September</span>
                </li>
            
 
            
 
            
 
            
 
        </ul>
    </div>
</div>
     
 
<div class="r">
    <div class="headline-container plain">
        <h1>September</h1>
    </div>
</div>

<div class="main-and-aside r">
    <div class="main" role="main">

<div class="on-this-page">


     


<div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2009/september/london-to-disneyland-on-a-magical-taxi-tour">London to Disneyland on a Magical Taxi Tour<br />30 Sep 2009</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2009/september/tfls-lost-property-office-celebrates-75-years">TfL's Lost Property Office celebrates 75 years<br />30 Sep 2009</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2009/september/strike-threat-lifted-as-rmt-leadership-accepts-victoria-line-working-patterns">Strike threat lifted as RMT leadership accepts Victoria line working patterns<br />29 Sep 2009</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2009/september/boost-for-west-london-as-mayor-opens-new-imperial-wharf-station">Boost for West London as Mayor opens new Imperial Wharf station<br />29 Sep 2009</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2009/september/new-edition-of-poems-on-the-underground-hits-bookstores">New edition of 'Poems on the Underground' hits bookstores <br />28 Sep 2009</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2009/september/new-travel-information-centre-opens-at-euston">New Travel Information Centre opens at Euston <br />25 Sep 2009</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2009/september/no-reason-for-victoria-line-strike-says-london-underground">'No reason' for Victoria line strike, says London Underground<br />25 Sep 2009</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2009/september/transport-for-london-tightens-guidelines-for-licensing-taxi-and-private-hire-drivers-in-london">Transport for London tightens guidelines for licensing taxi and private hire drivers in London<br />24 Sep 2009</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2009/september/tfl-calls-on-ppp-arbiter-to-set-a-fair-price-for-tube-lines-contract">TfL calls on PPP Arbiter to set a fair price for Tube Lines contract<br />23 Sep 2009</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2009/september/londons-rail-chief-receives-major-award">London's rail chief receives major award<br />22 Sep 2009</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2009/september/walking-towards-the-games-free-guided-walks-2627-september-2009">Walking towards the Games: Free Guided Walks 26-27 September 2009<br />22 Sep 2009</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2009/september/urgent-utility-works-in-victoria-for-next-eight-weeks">Urgent utility works in Victoria for next eight weeks<br />17 Sep 2009</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2009/september/central-london-roads-close-as-weekend-of-cycling-comes-to-london">Central London roads close as weekend of cycling comes to London<br />17 Sep 2009</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2009/september/work-progressing-on-hanger-lane-bridges">Work progressing on Hanger Lane bridges<br />17 Sep 2009</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2009/september/ten-rail-stations-to-be-managed-by-transport-for-london">Ten rail stations to be managed by Transport for London<br />16 Sep 2009</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2009/september/saddle-up-for-cycle-fridays-this-week-and-you-may-end-up-on-the-winners-podium-at-the-tour-of-britain">Saddle up for Cycle Fridays this week and you may end up on the winners' podium at the Tour of Britain<br />15 Sep 2009</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2009/september/tfl-campaign-urges-drivers-to-give-motorcyclists-a-second-thought-and-cut-road-deaths">TfL campaign urges drivers to 'give motorcyclists a second thought' and cut road deaths<br />15 Sep 2009</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2009/september/mike-brown-named-as-new-managing-director-of-london-underground">Mike Brown named as new Managing Director of London Underground<br />14 Sep 2009</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2009/september/london-underground-staff-turn-the-tube-green-purple-and-pink">London Underground staff turn the Tube green, purple and pink<br />11 Sep 2009</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2009/september/giant-eye-warns-drug-drivers-to-stay-away-from-the-wheel">Giant eye warns drug drivers to stay away from the wheel<br />09 Sep 2009</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2009/september/tfl-agrees-andpound1bn-loan-for-crossrail-from-european-investment-bank">TfL agrees &pound;1bn loan for Crossrail from European Investment Bank<br />08 Sep 2009</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2009/september/introduction-of-pink-oyster-route-validators-at-selected-stations">Introduction of pink Oyster route validators at selected stations <br />04 Sep 2009</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2009/september/better-bus-information-on-the-way">Better bus information on the way<br />03 Sep 2009</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2009/september/writer-sarah-butler-discovers-underground-literary-talent">Writer Sarah Butler discovers Underground literary talent<br />01 Sep 2009</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2009/september/wanstead-station-reopens-following-major-works">Wanstead station re-opens following major works<br />01 Sep 2009</a></div>


        
        
        
        @this.ScriptBlock(
        @<script>
        queue.push("@Html.ScriptPath("modules/M020-on-this-page.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">
        
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
                <a href="/info-for/media/index" class="heading">
                    <h2 id="sub-menu-heading">Media<span class="visually-hidden"> navigation</span></h2>
                </a>
                <ul>
                    
                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases">Press releases</a></div>
                                <ul>
                                    
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2020">2020</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019">2019</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018">2018</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017">2017</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016">2016</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015">2015</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014">2014</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2013">2013</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2012">2012</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2011">2011</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2010">2010</a></div></li>
                            
 
                                        <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2009">2009</a></div>
                                        <ul>
                                            
                                        <li><div class="link-wrapper"><a href="/info-for/media/press-releases/2009/21604">December</a></div></li>
                                    
 
                                        <li><div class="link-wrapper"><a href="/info-for/media/press-releases/2009/november">November</a></div></li>
                                    
 
                                        <li><div class="link-wrapper"><a href="/info-for/media/press-releases/2009/october">October</a></div></li>
                                    
 
                                                <li class="selected"><div class="link-wrapper"><a href="/info-for/media/press-releases/2009/21996">September</a></div>
                                            
 
                                        <li><div class="link-wrapper"><a href="/info-for/media/press-releases/2009/22100">August</a></div></li>
                                    
 
                                        <li><div class="link-wrapper"><a href="/info-for/media/press-releases/2009/22184">July</a></div></li>
                                    
 
                                        <li><div class="link-wrapper"><a href="/info-for/media/press-releases/2009/22284">June</a></div></li>
                                    
 
                                        <li><div class="link-wrapper"><a href="/info-for/media/press-releases/2009/22460">May</a></div></li>
                                    
 
                                        <li><div class="link-wrapper"><a href="/info-for/media/press-releases/2009/22576">April</a></div></li>
                                    
 
                                        <li><div class="link-wrapper"><a href="/info-for/media/press-releases/2009/22664">March</a></div></li>
                                    
 
                                        <li><div class="link-wrapper"><a href="/info-for/media/press-releases/2009/22668">February</a></div></li>
                                    
 
                                        <li><div class="link-wrapper"><a href="/info-for/media/press-releases/2009/22768">January</a></div></li>
                                    
 
                                        </ul>
                                    </li>
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2008">2008</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2007">2007</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2006">2006</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2005">2005</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2004">2004</a></div></li>
                            
 
                                </ul>
                            </li>
 
                                <li><div class="link-wrapper"><a href="/info-for/media/photos">Photos</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/media/contact-the-press-office">Contact the Press Office</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/filming-and-photography">Filming & photography</a></div></li>
                            
 
                </ul>
            
 
 
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>


<div></div>

        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>
 
        
        
            @{ViewBag.Description = "Press releases and news articles from Transport for London";}
        
        


 