


@{ViewBag.Title = "July";}
        
        
<div class="r">
    <div class="breadcrumb-container" role="navigation">
        <span id="breadcrumb-label" class="visually-hidden">You are here:</span>
        <ol class="breadcrumbs clearfix" aria-labelledby="breadcrumb-label">
            <li class="home">
                <a href="/">
                    <span class="hide-text">Home</span>
                </a>
            </li>
            
                <li>
                    <a href="/info-for/media/index">Media</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases">Press releases</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases/2009">2009</a>
                </li>
                
                <li>
                    <span class="last-breadcrumb">July</span>
                </li>
            
 
            
 
            
 
            
 
        </ul>
    </div>
</div>
     
 
<div class="r">
    <div class="headline-container plain">
        <h1>July</h1>
    </div>
</div>

<div class="main-and-aside r">
    <div class="main" role="main">

<div class="on-this-page">


     


<div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2009/july/victoria-tube-station-upgrade-gains-planning-approval">Victoria Tube station upgrade gains planning approval<br />30 Jul 2009</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2009/july/tfl-announces-sale-of-east-thames-buses">TfL announces sale of East Thames Buses<br />29 Jul 2009</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2009/july/tfl-and-oakmayne-sign-agreement-for-woolwich-arsenal-dlr-station-development">TfL and Oakmayne sign agreement for Woolwich Arsenal DLR station development<br />28 Jul 2009</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2009/july/new-signalling-contract-to-boost-capacity-and-reliability-on-40-per-cent-of-tube">New signalling contract to boost capacity and reliability on 40 per cent of Tube<br />28 Jul 2009</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2009/july/application-submitted-for-london-permit-scheme-to-help-smooth-traffic-flow">Application submitted for London Permit Scheme to help smooth traffic flow<br />28 Jul 2009</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2009/july/bus-route-s3-to-be-extended-to-malden-manor-station">Bus route S3 to be extended to Malden Manor Station<br />27 Jul 2009</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2009/july/winners-of-mind-the-bird-photo-competition-reach-for-the-skies">Winners of Mind the Bird photo competition reach for the skies<br />24 Jul 2009</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2009/july/tfl-appoints-new-director-of-taxi-and-private-hire-at-the-public-carriage-office">TfL appoints new Director of Taxi and Private Hire at the Public Carriage Office<br />24 Jul 2009</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2009/july/first-new-victoria-line-train-begins-running-in-passenger-service">First new Victoria line train begins running in passenger service<br />24 Jul 2009</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2009/july/gallows-corner-flyover-to-open-today--five-weeks-early">Gallows Corner flyover to open today - five weeks early<br />22 Jul 2009</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2009/july/croydons-neighbourhood-enforcement-officers-to-patrol-the-boroughs-buses">Croydon's Neighbourhood Enforcement Officers to patrol the borough's buses<br />22 Jul 2009</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2009/july/scaffolding-company-fined-andpound3500-for-risking-safety-of-road-users">Scaffolding company fined &pound;3,500 for risking safety of road users<br />21 Jul 2009</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2009/july/thames-water-to-carry-out-works-on-a205-south-circular">Thames Water to carry out works on A205 South Circular<br />21 Jul 2009</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2009/july/a-new-foot-and-cycle-bridge-for-hounslow">A new foot and cycle bridge for Hounslow<br />20 Jul 2009</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2009/july/tfls-tube-service-updates-light-up-iconic-cocacola-sign-at-piccadilly-circus">TfL's Tube service updates light up iconic 'Coca-Cola' Sign at Piccadilly Circus<br />17 Jul 2009</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2009/july/tfl-appoints-new-chief-operating-officer-and-director">TfL appoints new Chief Operating Officer and Director<br />16 Jul 2009</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2009/july/tfl-premieres-new-film-to-improve-cycle-safety">TfL premieres new film to improve cycle safety<br />16 Jul 2009</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2009/july/update-on-redevelopment-of-tottenham-court-road-station">Update on redevelopment of Tottenham Court Road station<br />15 Jul 2009</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2009/july/mayor-unveils-overground-trains-with-an-underground-twist">Mayor unveils Overground trains with an Underground twist<br />13 Jul 2009</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2009/july/thames-water-to-carry-out-works-on-a205-south-circular">Thames Water to carry out works on A205 South Circular<br />13 Jul 2009</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2009/july/mayor-and-tfl-statement-in-response-to-london-assembly-budget-and-performance-committee-report-on-fares">Mayor and TfL statement in response to London Assembly Budget and Performance Committee report on fares<br />10 Jul 2009</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2009/july/tfl-publishes-review-of-potential-east-london-river-crossings">TfL publishes review of potential East London river crossings <br />10 Jul 2009</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2009/july/national-grid-and-bt-carry-out-works-on-section-of-a406">National Grid and BT carry out works on section of A406<br />09 Jul 2009</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2009/july/oyster-takes-to-the-sky-as-visitor-oyster-to-be-sold-on-all-londonbound-easyjet-flights">Oyster takes to the sky as Visitor Oyster to be sold on all London-bound easyJet flights<br />01 Jul 2009</a></div>


        
        
        
        @this.ScriptBlock(
        @<script>
        queue.push("@Html.ScriptPath("modules/M020-on-this-page.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">
        
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
                <a href="/info-for/media/index" class="heading">
                    <h2 id="sub-menu-heading">Media<span class="visually-hidden"> navigation</span></h2>
                </a>
                <ul>
                    
                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases">Press releases</a></div>
                                <ul>
                                    
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2020">2020</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019">2019</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018">2018</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017">2017</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016">2016</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015">2015</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014">2014</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2013">2013</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2012">2012</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2011">2011</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2010">2010</a></div></li>
                            
 
                                        <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2009">2009</a></div>
                                        <ul>
                                            
                                        <li><div class="link-wrapper"><a href="/info-for/media/press-releases/2009/21604">December</a></div></li>
                                    
 
                                        <li><div class="link-wrapper"><a href="/info-for/media/press-releases/2009/november">November</a></div></li>
                                    
 
                                        <li><div class="link-wrapper"><a href="/info-for/media/press-releases/2009/october">October</a></div></li>
                                    
 
                                        <li><div class="link-wrapper"><a href="/info-for/media/press-releases/2009/21996">September</a></div></li>
                                    
 
                                        <li><div class="link-wrapper"><a href="/info-for/media/press-releases/2009/22100">August</a></div></li>
                                    
 
                                                <li class="selected"><div class="link-wrapper"><a href="/info-for/media/press-releases/2009/22184">July</a></div>
                                            
 
                                        <li><div class="link-wrapper"><a href="/info-for/media/press-releases/2009/22284">June</a></div></li>
                                    
 
                                        <li><div class="link-wrapper"><a href="/info-for/media/press-releases/2009/22460">May</a></div></li>
                                    
 
                                        <li><div class="link-wrapper"><a href="/info-for/media/press-releases/2009/22576">April</a></div></li>
                                    
 
                                        <li><div class="link-wrapper"><a href="/info-for/media/press-releases/2009/22664">March</a></div></li>
                                    
 
                                        <li><div class="link-wrapper"><a href="/info-for/media/press-releases/2009/22668">February</a></div></li>
                                    
 
                                        <li><div class="link-wrapper"><a href="/info-for/media/press-releases/2009/22768">January</a></div></li>
                                    
 
                                        </ul>
                                    </li>
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2008">2008</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2007">2007</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2006">2006</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2005">2005</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2004">2004</a></div></li>
                            
 
                                </ul>
                            </li>
 
                                <li><div class="link-wrapper"><a href="/info-for/media/photos">Photos</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/media/contact-the-press-office">Contact the Press Office</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/filming-and-photography">Filming & photography</a></div></li>
                            
 
                </ul>
            
 
 
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>


<div></div>

        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>
 
        
        
            @{ViewBag.Description = "Press releases and news articles from Transport for London";}
        
        


 