


@{ViewBag.Title = "June";}
        
        
<div class="r">
    <div class="breadcrumb-container" role="navigation">
        <span id="breadcrumb-label" class="visually-hidden">You are here:</span>
        <ol class="breadcrumbs clearfix" aria-labelledby="breadcrumb-label">
            <li class="home">
                <a href="/">
                    <span class="hide-text">Home</span>
                </a>
            </li>
            
                <li>
                    <a href="/info-for/media/index">Media</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases">Press releases</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases/2009">2009</a>
                </li>
                
                <li>
                    <span class="last-breadcrumb">June</span>
                </li>
            
 
            
 
            
 
            
 
        </ul>
    </div>
</div>
     
 
<div class="r">
    <div class="headline-container plain">
        <h1>June</h1>
    </div>
</div>

<div class="main-and-aside r">
    <div class="main" role="main">

<div class="on-this-page">


     


<div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2009/june/change-to-night-bus-services-for-south-west-london">Change to night bus services for south west London <br />29 Jun 2009</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2009/june/changes-to-route-u7-improve-bus-links-for-hayes-residents">Changes to route U7 improve bus links for Hayes residents<br />29 Jun 2009</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2009/june/first-train-operating-company-outside-london-to-sell-visitor-oyster-cards">First Train Operating Company outside London to sell Visitor Oyster cards<br />29 Jun 2009</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2009/june/london-tube-named-most-culturally-advanced-in-the-world">London Tube named most culturally advanced in the World<br />26 Jun 2009</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2009/june/contractor-appointed-and-work-set-to-begin-on-gants-hill-town-centre-next-month">Contractor appointed and work set to begin on Gants Hill town centre next month<br />26 Jun 2009</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2009/june/london-underground-comes-into-bloom">London Underground comes into Bloom<br />25 Jun 2009</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2009/june/tfl-thanks-londons-junior-road-safety-officers-as-the-capitals-streets-are-safer-than-ever">TfL thanks London's Junior Road Safety Officers as the Capital's streets are safer than ever <br />25 Jun 2009</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2009/june/tfl-annual-report-and-statement-of-accounts-20089">TfL Annual Report and Statement of Accounts 2008/9<br />24 Jun 2009</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2009/june/london-buses-announces-changes-to-bus-routes-8-n8-and-c2">London Buses announces changes to bus routes 8, N8 and C2 <br />23 Jun 2009</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2009/june/mayor-tests-londons-first-airconditioned-tube-train">Mayor tests London's first air-conditioned Tube train<br />23 Jun 2009</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2009/june/bus-route-490-to-serve-pools-on-the-park-in-richmond">Bus route 490 to serve Pools on the Park in Richmond<br />23 Jun 2009</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2009/june/richmond-circus-to-undergo-transformation">Richmond Circus to undergo transformation<br />23 Jun 2009</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2009/june/artists-going-underground-with-pop-culture-exhibition-at-piccadilly-circus-station">Artists going underground with pop culture exhibition at Piccadilly Circus station<br />19 Jun 2009</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2009/june/young-london-football-stars-are-tackling-road-safety">Young London football stars are tackling road safety<br />19 Jun 2009</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2009/june/female-tube-driver-honoured-with-an-mbe">Female Tube driver honoured with an MBE <br />18 Jun 2009</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2009/june/tube-travellers-get-free-book-of-poems-as-part-of-the-story-of-london-festival">Tube travellers get free book of poems as part of the Story of London festival<br />16 Jun 2009</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2009/june/tfl-sets-high-standards-in-new-rail-franchise">TfL sets high standards in new rail franchise<br />16 Jun 2009</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2009/june/comic-book-artwork-takes-over-passageways-at-charing-cross-and-embankment">Comic book artwork takes over passageways at Charing Cross and Embankment<br />15 Jun 2009</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2009/june/good-service-on-all-london-underground-lines-following-rmt-leaderships-strike-action">Good service on all London Underground lines following RMT leadership's strike action<br />12 Jun 2009</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2009/june/tfl-thanks-transport-staff-for-wembley-support">TfL thanks transport staff for Wembley support<br />11 Jun 2009</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2009/june/london-underground-and-tfl-services-during-rmt-strike-action--update-at-1630">London Underground and TfL services during RMT strike action - update at 16:30<br />11 Jun 2009</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2009/june/london-underground-and-tfl-services-during-rmt-strike-action--update-at-0820">London Underground and TfL services during RMT strike action - update at 08:20<br />11 Jun 2009</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2009/june/transport-for-london-statement-on-further-acas-talks-with-rmt-leadership">Transport for London statement on further ACAS talks with RMT leadership<br />11 Jun 2009</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2009/june/london-underground-and-tfl-services-during-rmt-strike-action--update-at-0615">London Underground and TfL services during RMT strike action - update at 06:15<br />11 Jun 2009</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2009/june/london-underground-and-tfl-services-during-rmt-strike-action--update-at-1215">London Underground and TfL services during RMT strike action - update at 12:15<br />11 Jun 2009</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2009/june/tfl-advice-on-travelling-to-world-cup-qualifying-game-at-wembley-this-evening">TfL advice on travelling to World Cup qualifying game at Wembley this evening<br />10 Jun 2009</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2009/june/tfl-advice-on-plans-to-keep-london-moving-during-the-rmt-tube-strike--0645-update">TfL advice on plans to keep London moving during the RMT Tube strike - 06:45 update <br />10 Jun 2009</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2009/june/current-services-on-london-underground-during-rmt-strike-action">Current services on London Underground during RMT strike action<br />10 Jun 2009</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2009/june/current-services-on-london-underground-during-rmt-strike-action--service-update-at-1230">Current services on London Underground during RMT strike action - service update at 12:30<br />10 Jun 2009</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2009/june/london-underground-and-tfl-services-during-rmt-strike-action--update-at-1630">London Underground and TfL services during RMT strike action - Update at 16:30<br />10 Jun 2009</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2009/june/rmt-claims-that-mayor-and-tfl-scuppered-tube-talks-utter-nonsense">RMT claims that Mayor and TfL scuppered Tube talks 'utter nonsense'<br />10 Jun 2009</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2009/june/tfl-advice-on-plans-to-keep-london-moving-during-the-threatened-rmt-tube-strike">TfL advice on plans to keep London moving during the threatened RMT Tube strike<br />09 Jun 2009</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2009/june/tfl-calls-on-rmt-leadership-to-suspend-strike-and-continue-talks-on-jobs">TfL calls on RMT leadership to suspend strike and continue talks on jobs<br />09 Jun 2009</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2009/june/transport-commissioner-condemns-outrageous-rmt-tube-strike">Transport Commissioner condemns 'outrageous' RMT Tube strike<br />08 Jun 2009</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2009/june/transport-for-london-welcomes-key-findings-of-national-audit-office-report-on-failure-of-metronet">Transport for London welcomes key findings of National Audit Office report on failure of Metronet<br />05 Jun 2009</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2009/june/london-underground-offers-new-pay-deal-and-calls-on-rmt-leadership-to-end-strike-threat">London Underground offers new pay deal and calls on RMT leadership to end strike threat<br />05 Jun 2009</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2009/june/new-lock-will-take-pressure-off-londons-busy-roads-and-help-to-smooth-traffic-flow">New lock will take pressure off London's busy roads and help to smooth traffic flow<br />05 Jun 2009</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2009/june/mayors-traffic-signal-review-targets-major-junctions-in-the-next-year">Mayor's traffic signal review targets major junctions in the next year <br />04 Jun 2009</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2009/june/london-underground-welcomes-rmt-change-of-heart">London Underground welcomes RMT 'change of heart'<br />04 Jun 2009</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2009/june/londons-new-bus-moves-a-step-closer">London's new bus moves a step closer <br />04 Jun 2009</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2009/june/mayors-transport-director-joins-cast-of-internet-drama-to-urge-teenagers-look-out-for-your-mates">Mayor's Transport Director joins cast of internet drama to urge teenagers 'Look out for your mates'<br />03 Jun 2009</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2009/june/tfl-moves-to-improve-traffic-cctv-and-smooth-traffic-flow">TfL moves to improve traffic CCTV and smooth traffic flow<br />02 Jun 2009</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2009/june/london-underground-unveils-more-languages-at-ticket-machines">London Underground unveils more languages at ticket machines<br />01 Jun 2009</a></div>


        
        
        
        @this.ScriptBlock(
        @<script>
        queue.push("@Html.ScriptPath("modules/M020-on-this-page.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">
        
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
                <a href="/info-for/media/index" class="heading">
                    <h2 id="sub-menu-heading">Media<span class="visually-hidden"> navigation</span></h2>
                </a>
                <ul>
                    
                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases">Press releases</a></div>
                                <ul>
                                    
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2020">2020</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019">2019</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018">2018</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017">2017</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016">2016</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015">2015</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014">2014</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2013">2013</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2012">2012</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2011">2011</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2010">2010</a></div></li>
                            
 
                                        <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2009">2009</a></div>
                                        <ul>
                                            
                                        <li><div class="link-wrapper"><a href="/info-for/media/press-releases/2009/21604">December</a></div></li>
                                    
 
                                        <li><div class="link-wrapper"><a href="/info-for/media/press-releases/2009/november">November</a></div></li>
                                    
 
                                        <li><div class="link-wrapper"><a href="/info-for/media/press-releases/2009/october">October</a></div></li>
                                    
 
                                        <li><div class="link-wrapper"><a href="/info-for/media/press-releases/2009/21996">September</a></div></li>
                                    
 
                                        <li><div class="link-wrapper"><a href="/info-for/media/press-releases/2009/22100">August</a></div></li>
                                    
 
                                        <li><div class="link-wrapper"><a href="/info-for/media/press-releases/2009/22184">July</a></div></li>
                                    
 
                                                <li class="selected"><div class="link-wrapper"><a href="/info-for/media/press-releases/2009/22284">June</a></div>
                                            
 
                                        <li><div class="link-wrapper"><a href="/info-for/media/press-releases/2009/22460">May</a></div></li>
                                    
 
                                        <li><div class="link-wrapper"><a href="/info-for/media/press-releases/2009/22576">April</a></div></li>
                                    
 
                                        <li><div class="link-wrapper"><a href="/info-for/media/press-releases/2009/22664">March</a></div></li>
                                    
 
                                        <li><div class="link-wrapper"><a href="/info-for/media/press-releases/2009/22668">February</a></div></li>
                                    
 
                                        <li><div class="link-wrapper"><a href="/info-for/media/press-releases/2009/22768">January</a></div></li>
                                    
 
                                        </ul>
                                    </li>
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2008">2008</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2007">2007</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2006">2006</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2005">2005</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2004">2004</a></div></li>
                            
 
                                </ul>
                            </li>
 
                                <li><div class="link-wrapper"><a href="/info-for/media/photos">Photos</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/media/contact-the-press-office">Contact the Press Office</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/filming-and-photography">Filming & photography</a></div></li>
                            
 
                </ul>
            
 
 
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>


<div></div>

        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>
 
        
        
            @{ViewBag.Description = "Press releases and news articles from Transport for London";}
        
        


 