


@{ViewBag.Title = "February";}
        
        
<div class="r">
    <div class="breadcrumb-container" role="navigation">
        <span id="breadcrumb-label" class="visually-hidden">You are here:</span>
        <ol class="breadcrumbs clearfix" aria-labelledby="breadcrumb-label">
            <li class="home">
                <a href="/">
                    <span class="hide-text">Home</span>
                </a>
            </li>
            
                <li>
                    <a href="/info-for/media/index">Media</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases">Press releases</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases/2009">2009</a>
                </li>
                
                <li>
                    <span class="last-breadcrumb">February</span>
                </li>
            
 
            
 
            
 
            
 
        </ul>
    </div>
</div>
     
 
<div class="r">
    <div class="headline-container plain">
        <h1>February</h1>
    </div>
</div>

<div class="main-and-aside r">
    <div class="main" role="main">

<div class="on-this-page">


     


<div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2009/february/operation-quash-tackles-disorder-on-barnet-harrow-and-hillingdons-transport-routes">Operation Quash tackles disorder on Barnet, Harrow and Hillingdon's transport routes<br />25 Feb 2009</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2009/february/tim-otoole-to-step-down-from-london-underground">Tim O'Toole to step down from London Underground <br />25 Feb 2009</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2009/february/passengers-reminded-that-blackfriars-underground-station-to-close-for-redevelopment">Passengers reminded that Blackfriars Underground station to close for redevelopment <br />24 Feb 2009</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2009/february/rotherhithe-road-tunnel-closed-this-weekend-for-station-upgrade-works">Rotherhithe road tunnel closed this weekend for station upgrade works<br />24 Feb 2009</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2009/february/popular-art-exhibition-at-stratford-tube-station-is-extended--and-looking-for-collectors">Popular art exhibition at Stratford Tube station is extended - and looking for collectors<br />24 Feb 2009</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2009/february/now-you-see-me-now-you-dont--coming-to-a-school-near-you">Now You See Me; Now You Don't - coming to a school near you<br />24 Feb 2009</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2009/february/crackdown-on-illegal-cabs-in-central-london">Crackdown on illegal cabs in central London<br />23 Feb 2009</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2009/february/transport-for-londons-freight-benchmarking-system-goes-live">Transport for London's freight benchmarking system goes live<br />20 Feb 2009</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2009/february/london-speed-limit-map-available-to-download">London speed limit map available to download<br />19 Feb 2009</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2009/february/operation-ridgeway-makes-over-1000-arrests-on-the-capitals-buses">Operation Ridgeway makes over 1,000 arrests on the Capital's buses<br />18 Feb 2009</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2009/february/stansted-express-to-sell-visitor-oyster-cards">Stansted Express to sell Visitor Oyster Cards<br />17 Feb 2009</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2009/february/surge-in-cycling-as-sutton-travels-smarter">Surge in cycling as Sutton travels smarter<br />17 Feb 2009</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2009/february/londons-new-bus-moves-a-step-closer-as-tfl-invites-manufacturers-to-express-an-interest">London's new bus moves a step closer as TfL invites manufacturers to express an interest<br />16 Feb 2009</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2009/february/a-new-bus-for-london-designs-showcased-at-london-transport-museum">A New Bus for London designs showcased at London Transport Museum<br />13 Feb 2009</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2009/february/final-section-of-capitals-orbital-railway-gets-the-goahead">Final section of Capital's orbital railway gets the go-ahead<br />12 Feb 2009</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2009/february/almost-one-in-10-young-london-drivers-think-it-is-ok-to-drive-after-using-cannabis">Almost one in 10 young London drivers think it is OK to drive after using cannabis<br />11 Feb 2009</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2009/february/chesham-to-get-all-day-direct-tube-services-to-central-london">Chesham to get all day direct Tube services to central London<br />11 Feb 2009</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2009/february/34-per-cent-taxi-fare-increase-for-2009-to-meet-higher-black-cab-running-costs">3.4 per cent taxi fare increase for 2009 to meet higher black cab running costs<br />10 Feb 2009</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2009/february/blackheath-hill-and-shooters-hill-sections-of-the-a2-to-undergo-eight-week-improvement-scheme">Blackheath Hill and Shooters Hill sections of the A2 to undergo eight week improvement scheme<br />06 Feb 2009</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2009/february/ode-to-spring-on-the-tube">Ode to spring on the Tube<br />06 Feb 2009</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2009/february/london-overground-to-run-eight-trains-an-hour-following-andpound326m-upgrade">London Overground to run eight trains an hour following &pound;326m upgrade <br />04 Feb 2009</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2009/february/extension-to-route-263-to-improve-transport-links-in-north-london">Extension to route 263 to improve transport links in north London<br />04 Feb 2009</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2009/february/tfl-travel-advisory--winter-weather-conditions">TfL travel advisory - winter weather conditions<br />03 Feb 2009</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2009/february/mayor-announces-proposed-suspension-of-lez-for-vehicles-affected-from-october-2010">Mayor announces proposed suspension of LEZ for vehicles affected from October 2010<br />03 Feb 2009</a></div>


        
        
        
        @this.ScriptBlock(
        @<script>
        queue.push("@Html.ScriptPath("modules/M020-on-this-page.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">
        
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
                <a href="/info-for/media/index" class="heading">
                    <h2 id="sub-menu-heading">Media<span class="visually-hidden"> navigation</span></h2>
                </a>
                <ul>
                    
                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases">Press releases</a></div>
                                <ul>
                                    
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2020">2020</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019">2019</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018">2018</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017">2017</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016">2016</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015">2015</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014">2014</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2013">2013</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2012">2012</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2011">2011</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2010">2010</a></div></li>
                            
 
                                        <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2009">2009</a></div>
                                        <ul>
                                            
                                        <li><div class="link-wrapper"><a href="/info-for/media/press-releases/2009/21604">December</a></div></li>
                                    
 
                                        <li><div class="link-wrapper"><a href="/info-for/media/press-releases/2009/november">November</a></div></li>
                                    
 
                                        <li><div class="link-wrapper"><a href="/info-for/media/press-releases/2009/october">October</a></div></li>
                                    
 
                                        <li><div class="link-wrapper"><a href="/info-for/media/press-releases/2009/21996">September</a></div></li>
                                    
 
                                        <li><div class="link-wrapper"><a href="/info-for/media/press-releases/2009/22100">August</a></div></li>
                                    
 
                                        <li><div class="link-wrapper"><a href="/info-for/media/press-releases/2009/22184">July</a></div></li>
                                    
 
                                        <li><div class="link-wrapper"><a href="/info-for/media/press-releases/2009/22284">June</a></div></li>
                                    
 
                                        <li><div class="link-wrapper"><a href="/info-for/media/press-releases/2009/22460">May</a></div></li>
                                    
 
                                        <li><div class="link-wrapper"><a href="/info-for/media/press-releases/2009/22576">April</a></div></li>
                                    
 
                                        <li><div class="link-wrapper"><a href="/info-for/media/press-releases/2009/22664">March</a></div></li>
                                    
 
                                                <li class="selected"><div class="link-wrapper"><a href="/info-for/media/press-releases/2009/22668">February</a></div>
                                            
 
                                        <li><div class="link-wrapper"><a href="/info-for/media/press-releases/2009/22768">January</a></div></li>
                                    
 
                                        </ul>
                                    </li>
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2008">2008</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2007">2007</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2006">2006</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2005">2005</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2004">2004</a></div></li>
                            
 
                                </ul>
                            </li>
 
                                <li><div class="link-wrapper"><a href="/info-for/media/photos">Photos</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/media/contact-the-press-office">Contact the Press Office</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/filming-and-photography">Filming & photography</a></div></li>
                            
 
                </ul>
            
 
 
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>


<div></div>

        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>
 
        
        
            @{ViewBag.Description = "Press releases and news articles from Transport for London";}
        
        


 