


@{ViewBag.Title = "October";}
        
        
<div class="r">
    <div class="breadcrumb-container" role="navigation">
        <span id="breadcrumb-label" class="visually-hidden">You are here:</span>
        <ol class="breadcrumbs clearfix" aria-labelledby="breadcrumb-label">
            <li class="home">
                <a href="/">
                    <span class="hide-text">Home</span>
                </a>
            </li>
            
                <li>
                    <a href="/info-for/media/index">Media</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases">Press releases</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases/2009">2009</a>
                </li>
                
                <li>
                    <span class="last-breadcrumb">October</span>
                </li>
            
 
            
 
            
 
            
 
        </ul>
    </div>
</div>
     
 
<div class="r">
    <div class="headline-container plain">
        <h1>October</h1>
    </div>
</div>

<div class="main-and-aside r">
    <div class="main" role="main">

<div class="on-this-page">


     


<div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2009/october/cycle-parking-boost-for-liverpool-street-station">Cycle parking boost for Liverpool Street station<br />30 Oct 2009</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2009/october/london-moves-a-step-closer-to-hydrogen-buses">London moves a step closer to hydrogen buses<br />29 Oct 2009</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2009/october/london-bus-makes-special-delivery">London bus makes special delivery<br />27 Oct 2009</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2009/october/dlr-station-moves-at-the-weekend">DLR station 'moves' at the weekend <br />26 Oct 2009</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2009/october/statement-on-the-resignation-of-ian-morbin">Statement on the resignation of Ian Morbin<br />26 Oct 2009</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2009/october/tfl-starts-consultation-on-removing-tottenham-hale-gyratory">TfL starts consultation on removing Tottenham Hale gyratory<br />26 Oct 2009</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2009/october/dont-be-in-the-dark-about-autumn-road-risks-tfl-warns-teenagers">Don't be in the dark about autumn road risks, TfL warns teenagers<br />22 Oct 2009</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2009/october/first-aircon-tube-train-arrives-as-tfl-board-approves-business-plan-to-safeguard-critical-transport-investment">First air-con Tube train arrives as TfL Board approves Business Plan to safeguard critical transport investment<br />21 Oct 2009</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2009/october/tfl-welcomes-go-ahead-for-london-permit-scheme">TfL welcomes go ahead for London permit scheme <br />15 Oct 2009</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2009/october/mayor-takes-action-to-sustain-vital-investment-and-front-line-services-for-london-transport-network">Mayor takes action to sustain vital investment and front line services for London transport network<br />15 Oct 2009</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2009/october/mayor-outlines-congestion-charge-overhaul">Mayor outlines Congestion Charge overhaul<br />15 Oct 2009</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2009/october/future-of-greenwich-to-woolwich-arsenal-river-service-guaranteed-until-2013">Future of Greenwich to Woolwich Arsenal river service guaranteed until 2013 <br />14 Oct 2009</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2009/october/london-underground-condemns-rmt-strike-threat-and-urges-leadership-to-recommend-fair-final-pay-offer-to-members">London Underground condemns RMT strike threat and urges leadership to recommend fair final pay offer to members<br />12 Oct 2009</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2009/october/london-underground-pay-offer-accepted-by-tssa-union">London Underground pay offer accepted by TSSA union<br />12 Oct 2009</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2009/october/changes-to-night-bus-services-in-southeast-london">Changes to night bus services in southeast London<br />09 Oct 2009</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2009/october/bank-dlr-platforms-to-close-for-upgrade-works">Bank DLR platforms to close for upgrade works<br />09 Oct 2009</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2009/october/be-the-first-to-try-out-londons-cycle-hire-scheme">Be the first to try out London's Cycle Hire scheme<br />08 Oct 2009</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2009/october/new-report-shows-countdown-could-be-solution-to-pedestrian-confusion-at-traffic-lights">New report shows Countdown could be solution to pedestrian confusion at traffic lights<br />07 Oct 2009</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2009/october/revised-p13-route-to-improve-reliability-for-passengers">Revised P13 route to improve reliability for passengers<br />02 Oct 2009</a></div><div class="vertical-button-container" ><a class="plain-button" href="/info-for/media/press-releases/2009/october/london-buses-seeks-your-views-on-changes-to-route-354">London Buses seeks your views on changes to route 354<br />01 Oct 2009</a></div>


        
        
        
        @this.ScriptBlock(
        @<script>
        queue.push("@Html.ScriptPath("modules/M020-on-this-page.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">
        
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
                <a href="/info-for/media/index" class="heading">
                    <h2 id="sub-menu-heading">Media<span class="visually-hidden"> navigation</span></h2>
                </a>
                <ul>
                    
                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases">Press releases</a></div>
                                <ul>
                                    
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2020">2020</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019">2019</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018">2018</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017">2017</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016">2016</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015">2015</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014">2014</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2013">2013</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2012">2012</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2011">2011</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2010">2010</a></div></li>
                            
 
                                        <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2009">2009</a></div>
                                        <ul>
                                            
                                        <li><div class="link-wrapper"><a href="/info-for/media/press-releases/2009/21604">December</a></div></li>
                                    
 
                                        <li><div class="link-wrapper"><a href="/info-for/media/press-releases/2009/november">November</a></div></li>
                                    
 
                                                <li class="selected"><div class="link-wrapper"><a href="/info-for/media/press-releases/2009/october">October</a></div>
                                            
 
                                        <li><div class="link-wrapper"><a href="/info-for/media/press-releases/2009/21996">September</a></div></li>
                                    
 
                                        <li><div class="link-wrapper"><a href="/info-for/media/press-releases/2009/22100">August</a></div></li>
                                    
 
                                        <li><div class="link-wrapper"><a href="/info-for/media/press-releases/2009/22184">July</a></div></li>
                                    
 
                                        <li><div class="link-wrapper"><a href="/info-for/media/press-releases/2009/22284">June</a></div></li>
                                    
 
                                        <li><div class="link-wrapper"><a href="/info-for/media/press-releases/2009/22460">May</a></div></li>
                                    
 
                                        <li><div class="link-wrapper"><a href="/info-for/media/press-releases/2009/22576">April</a></div></li>
                                    
 
                                        <li><div class="link-wrapper"><a href="/info-for/media/press-releases/2009/22664">March</a></div></li>
                                    
 
                                        <li><div class="link-wrapper"><a href="/info-for/media/press-releases/2009/22668">February</a></div></li>
                                    
 
                                        <li><div class="link-wrapper"><a href="/info-for/media/press-releases/2009/22768">January</a></div></li>
                                    
 
                                        </ul>
                                    </li>
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2008">2008</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2007">2007</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2006">2006</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2005">2005</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2004">2004</a></div></li>
                            
 
                                </ul>
                            </li>
 
                                <li><div class="link-wrapper"><a href="/info-for/media/photos">Photos</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/media/contact-the-press-office">Contact the Press Office</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/filming-and-photography">Filming & photography</a></div></li>
                            
 
                </ul>
            
 
 
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>


<div></div>

        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>
 
        
        
            @{ViewBag.Description = "Press releases and news articles from Transport for London";}
        
        


 