
    
  



@{ViewBag.Title = "Capital Ring Walk";}
@{ViewBag.Keywords = "TfL";}
@{ViewBag.Url = "/modes/walking/capital-ring";}
@{ViewBag.Language = "en";}
        <!-- empty placeholder -->
 
        
        
<div class="r">
    <div class="breadcrumb-container" role="navigation">
        <span id="breadcrumb-label" class="visually-hidden">You are here:</span>
        <ol class="breadcrumbs clearfix" aria-labelledby="breadcrumb-label">
            <li class="home">
                <a href="/">
                    <span class="hide-text">Home</span>
                </a>
            </li>
            
                 <li><a href="/modes/walking/index">Walking</a></li>
                
            
                 <li><a href="/modes/walking/top-walking-routes">Walk London</a></li>
                
            
            
                <li><span class="last-breadcrumb">Capital Ring Walk</span></li>
            
        
 
        
 
        
 
        </ol>
    </div>
</div>
     
 
<div class="r">
  <div class="headline-container plain">
    <h1>Capital Ring Walk</h1>

  </div>
</div>
<div class="main-and-aside r">
  
  <div class="main content-container" role="main">
    
      <div class="article-teaser">
        This is a circular Walk London route and consists of 15 sections between Woolwich and Becton District Park. 
        
      </div>
    
    
      
      
           
      <div class="clearfix">
    <div class="image-box">
    
        
        
        <img src="/cdn/static/cms/images/capital-ring-and-logo.jpg" alt="Walking - Capital Ring map and logo" />
        
        
        
    </div>   
 </div>
 <div>

<p>
The Capital Ring Walk offers you the chance to see some of London's finest scenery. Divided into 15, easy-to-walk sections, it covers 78 miles (126KM) of open space, nature reserves, Sites of Specific Scientific Interest and more. </p>
<h2>Sights</h2>
<ul>
    <li>Horsenden Hill</li>
    <li>Eltham Palace</li>
    <li>Abney Park Cemetery</li>
    <li>Olympic Park</li>
    <li>The Great North Wood</li>
    <li>Wimbledon, Richmond Park and the Grand Union Canal</li>
    <li>Welsh Harp</li>
    <li>Finsbury Park</li>
    <li>Walthamstow Marshes</li>
    <li>The Thames Barrier</li>
    <li>Beckenham Place Park</li>
    <li>Streatham Common</li>
    <li>Syon Park</li>
    <li>Wharncliffe Viaduct</li>
</ul>
<h3>Signage</h3>
<p>Look out for the following:</p>
<ul>
    <li>In open spaces - a white disc on a wooden post featuring a Big Ben logo and directional arrow. Remember to pay close attention to the arrow to make sure it's directing you the right way </li>
    <li>On streets - large aluminium signs - featuring the walking man symbol - strapped to lamp posts and other street furniture. These sometimes include the word 'link' to indicate a link route to a station</li>
</ul>
<h2>Route sections</h2>
<p>The 78-mile route is divided into 15 walks:
</p>
<p>Section 1: <a href="/modes/walking/woolwich-to-falconwood">Woolwich Foot Tunnel to Falconwood</a></p>
<p>Section 2: <a href="/modes/walking/falconwood-to-grove-park">Falconwood to Grove Park</a></p>
<p>Section 3: <a href="/modes/walking/grove-park-to-crystal-palace">Grove Park to Crystal Palace</a></p>
<p>Section 4: <a href="/modes/walking/crystal-palace-to-streatham">Crystal Palace to Streatham</a></p>
<p>Section 5: <a href="/modes/walking/streatham-common-to-wimbledon-park">Streatham to Wimbledon Park</a></p>
<p>Section 6: <a href="/modes/walking/wimbledon-park-to-richmond">Wimbledon Park to Richmond Bridge</a></p>
<p>Section 7: <a href="/modes/walking/richmond-to-osterley-lock">Richmond Bridge to Osterley Lock</a></p>
<p>Section 8: <a href="/modes/walking/osterley-lock-to-greenford">Osterley Lock to Greenford</a></p>
<p>Section 9: <a href="/modes/walking/greenford-to-south-kenton">Greenford to South Kenton</a></p>
<p>Section 10: <a href="/modes/walking/south-kenton-to-hendon">South Kenton to Hendon</a></p>
<p>Section 11: <a href="/modes/walking/hendon-to-highgate">Hendon to Highgate</a></p>
<p>Section 12: <a href="/modes/walking/highgate-to-stoke-newington">Highgate to Stoke Newington</a></p>
<p>Section 13: <a href="/modes/walking/stoke-newington-to-hackney-wick">Stoke Newington to Hackney Wick</a></p>
<p>Section 14:  <a href="/modes/walking/hackney-wick-to-beckton-district-park">Hackney Wick to Beckton District Park</a></p>
<p>Section 15: <a href="/modes/walking/beckton-district-park-to-woolwich">Beckton District Park to Woolwich</a></p>
</div>
 
<div>



<h2>Certificate</h2>


<p>Completed this walk? Why not download the certificate to celebrate. </p>
<div class="multi-document-download-container">
    

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/capital-ring-certificate.pdf">
    <div class="document-download-text">
        <p>Capital Ring certificate</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 173KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.17 -->
 
</div>

</div>
 
      
        
          
        
      
    
  </div>
  <div class="aside" role="complementary">

   
    
    
    
      <div data-set="sidenav-container" class="large">
        
        
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
                <a href="/modes/walking/index" class="heading">
                    <h2 id="sub-menu-heading">Walking<span class="visually-hidden"> navigation</span></h2>
                </a>
                <ul>
                    
                                <li class="selected parent"><div class="link-wrapper"><a href="/modes/walking/top-walking-routes">Walk London</a></div>
                                <ul>
                                    
                                        <li class="selected parent"><div class="link-wrapper"><a href="/modes/walking/capital-ring">Capital Ring Walk</a></div>
                                        <ul>
                                            
                                        <li><div class="link-wrapper"><a href="/modes/walking/woolwich-to-falconwood">Woolwich Foot Tunnel  to Falconwood</a></div></li>
                                    
 
                                        <li><div class="link-wrapper"><a href="/modes/walking/falconwood-to-grove-park">Falconwood to Grove Park</a></div></li>
                                    
 
                                        <li><div class="link-wrapper"><a href="/modes/walking/grove-park-to-crystal-palace">Grove Park to Crystal Palace </a></div></li>
                                    
 
                                        <li><div class="link-wrapper"><a href="/modes/walking/crystal-palace-to-streatham">Crystal Palace to Streatham Common</a></div></li>
                                    
 
                                        <li><div class="link-wrapper"><a href="/modes/walking/streatham-common-to-wimbledon-park">Streatham Common to Wimbledon Park</a></div></li>
                                    
 
                                        <li><div class="link-wrapper"><a href="/modes/walking/wimbledon-park-to-richmond">Wimbledon Park to Richmond Bridge</a></div></li>
                                    
 
                                        <li><div class="link-wrapper"><a href="/modes/walking/richmond-to-osterley-lock">Richmond Bridge to Osterley Lock</a></div></li>
                                    
 
                                        <li><div class="link-wrapper"><a href="/modes/walking/osterley-lock-to-greenford">Osterley Lock to Greenford</a></div></li>
                                    
 
                                        <li><div class="link-wrapper"><a href="/modes/walking/greenford-to-south-kenton">Greenford to South Kenton</a></div></li>
                                    
 
                                        <li><div class="link-wrapper"><a href="/modes/walking/south-kenton-to-hendon">South Kenton to Hendon Park</a></div></li>
                                    
 
                                        <li><div class="link-wrapper"><a href="/modes/walking/hendon-to-highgate">Hendon Park to Highgate</a></div></li>
                                    
 
                                        <li><div class="link-wrapper"><a href="/modes/walking/highgate-to-stoke-newington">Highgate to Stoke Newington</a></div></li>
                                    
 
                                        <li><div class="link-wrapper"><a href="/modes/walking/stoke-newington-to-hackney-wick">Stoke Newington to Hackney Wick</a></div></li>
                                    
 
                                        <li><div class="link-wrapper"><a href="/modes/walking/hackney-wick-to-beckton-district-park">Hackney Wick to Beckton District Park</a></div></li>
                                    
 
                                        <li><div class="link-wrapper"><a href="/modes/walking/beckton-district-park-to-woolwich">Beckton District Park to Woolwich</a></div></li>
                                    
 
                                        </ul>
                                    </li>
 
                                <li class="parent"><div class="link-wrapper"><a href="/modes/walking/green-chain-walk">Green Chain Walk</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/modes/walking/jubilee-greenway">Jubilee Greenway</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/modes/walking/jubilee-walkway">Jubilee Walkway</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/modes/walking/lea-valley">Lea Valley Walk</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/modes/walking/loop-walk">London LOOP</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/modes/walking/thames-path">Thames Path</a></div></li>
                            
 
                                </ul>
                            </li>
 
                                <li><div class="link-wrapper"><a href="/modes/walking/health-and-walking">Health and walking</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/modes/walking/find-your-way-around">Find your way around</a></div></li>
                            
 
                </ul>
            
 
 
 
 
 
 
 
 
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
      </div>
    
    <div>




















<div class="advert-tile unsponsored-style google-ads" aria-hidden="true">
  <div class="advert-link">
    <div class="advert-content">
        <div class="medium-large" data-advert="/76889402/walking" data-advert-sizes="300, 250"></div>
        <div class="small" data-advert="/76889402/walking" data-advert-sizes="300, 250"></div>
    </div>
  </div>
</div>
@{
    ViewBag.AmazonSlot = "'amznslots'";
    ViewBag.AmazonAds = "'3199'"; // to add another value, this needs to be ViewBag.AmazonAds = "'3199','xx'";
}
      

 </div>
    
    <div data-set="sidenav-container" class="small-medium"></div>
  </div>
</div>
 
 
        
        
        
            @{ViewBag.Description = "This is a circular Walk London route and consists of 15 sections between Woolwich and Becton District Park. ";}
        
            
        


 