
    
  



@{ViewBag.Title = "Green Chain Walk";}
@{ViewBag.Keywords = "TfL";}
@{ViewBag.Url = "/modes/walking/green-chain-walk";}
@{ViewBag.Language = "en";}
        <!-- empty placeholder -->
 
        
        
<div class="r">
    <div class="breadcrumb-container" role="navigation">
        <span id="breadcrumb-label" class="visually-hidden">You are here:</span>
        <ol class="breadcrumbs clearfix" aria-labelledby="breadcrumb-label">
            <li class="home">
                <a href="/">
                    <span class="hide-text">Home</span>
                </a>
            </li>
            
                 <li><a href="/modes/walking/index">Walking</a></li>
                
            
                 <li><a href="/modes/walking/top-walking-routes">Walk London</a></li>
                
            
            
                <li><span class="last-breadcrumb">Green Chain Walk</span></li>
            
        
 
        
 
        
 
        </ol>
    </div>
</div>
     
 
<div class="r">
  <div class="headline-container plain">
    <h1>Green Chain Walk</h1>

  </div>
</div>
<div class="main-and-aside r">
  
  <div class="main content-container" role="main">
    
      <div class="article-teaser">
        This Walk London route consists of 11 sections between Thamesmead and Nunhead Cemetery. 
        
      </div>
    
    
      
      
           
      <div class="clearfix">
    <div class="image-box">
    
        
        
        <img src="/cdn/static/cms/images/gree-chain-feb.jpg" alt="Green Chain latest" />
        
        
        
    </div>   
 </div>
 <div>

<p>Stretching from the River Thames to Nunhead Cemetery, the Green Chain Walk spans the fields, parks and woodlands across 50 miles of the area. Split into 11, easy-to-follow sections, this guide allows you to explore as much, or as little as you like, at your leisure.</p>
<h3>Sights</h3>
<ul>
    <li>The 18th century Gothic folly of Severndroog Castle</li>
    <li>The Art Deco glamour of Eltham Palace</li>
    <li>Birdwatching at Southmere, among the boats and fishermen</li>
    <li>Numerous parks, including Plumstead common and Oxleas Woods</li>
    <li>The wildlife and dinosaurs of Crystal Palace Park</li>
    <li>The Horniman Museum and Gardens</li>
    <li>The Thames Barrier</li>
</ul>
<h3>Signage</h3>
<p>This route is well signposted throughout. All signs show the 'G-C' logo and text 'Green Chain Walk'. </p>
<ul>
    <li>In parks, woods and open spaces - Look out for the signs on solid wooden posts with a yellow arrow on top</li>
    <li>On streets - Look out for metal signs with a white logo and text on a green background</li>
    <li>At section starts - Look out for signposts with the location name showing distances to other key points</li>
</ul>
<h3>Green Chain Walk route sections</h3>
<p>This 50 (82km) route is divided into 11 sections:</p>
<p>Section 1: <a href="/modes/walking/thamesmead-to-lesnes-abbey">Thamesmead to Lesnes Abbey</a></p>
<p>Section 2: <a href="/modes/walking/erith-to-bostall-woods">Erith to Bostall Woods</a></p>
<p>Section 3: <a href="/modes/walking/bostall-woods-to-oxleas-meadows">Bostall Woods to Oxleas Meadows</a></p>
<p>Section 4: <a href="/modes/walking/charlton-park-to-bostall-woods-or-oxleas-meadows">Charlton Park to Bostall Woods</a></p>
<p>Section 5: <a href="/modes/walking/thames-barrier-to-oxleas-meadows">Thames Barrier to Oxleas Meadows</a></p>
<p>Section 6: <a href="/modes/walking/oxleas-woods-to-mottingham">Oxleas Woods to Mottingham</a></p>
<p>Section 7: <a href="/modes/walking/shepherdleas-wood-to-middle-park-eltham">Shepherdleas Wood to Middle Park</a></p>
<p>Section 8: <a href="/modes/walking/mottingham-to-beckenham-place-park">Mottingham to Beckenham Place Park </a>(alternative route via Downham and Chinbrook Link to Elmstead Woods)</p>
<p>Section 9: <a href="/modes/walking/chislehurst-to-beckenham-place-park">Chislehurst to Beckenham Place Park </a></p>
<p>Section 10: <a href="/modes/walking/beckenham-place-park-to-crystal-palace-park">Beckenham Place Park to Crystal Palace </a></p>
<p>Section 11: <a href="/modes/walking/crystal-palace-to-nunhead-cemetery">Crystal Palace to Nunhead Cemetery</a> </p>
</div>
 
<div>



<h2>Certificate</h2>


<p>Completed this walk? Why not download the certificate to celebrate. </p>
<div class="multi-document-download-container">
    

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/green-chain-certificate.pdf">
    <div class="document-download-text">
        <p>Green Chain certificate</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 171KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.17 -->
 
</div>

</div>
 
      
        
          
        
      
    
  </div>
  <div class="aside" role="complementary">

   
    
    
    
      <div data-set="sidenav-container" class="large">
        
        
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
                <a href="/modes/walking/index" class="heading">
                    <h2 id="sub-menu-heading">Walking<span class="visually-hidden"> navigation</span></h2>
                </a>
                <ul>
                    
                                <li class="selected parent"><div class="link-wrapper"><a href="/modes/walking/top-walking-routes">Walk London</a></div>
                                <ul>
                                    
                                <li class="parent"><div class="link-wrapper"><a href="/modes/walking/capital-ring">Capital Ring Walk</a></div></li>
                            
 
                                        <li class="selected parent"><div class="link-wrapper"><a href="/modes/walking/green-chain-walk">Green Chain Walk</a></div>
                                        <ul>
                                            
                                        <li><div class="link-wrapper"><a href="/modes/walking/thamesmead-to-lesnes-abbey">Thamesmead to Lesnes Abbey</a></div></li>
                                    
 
                                        <li><div class="link-wrapper"><a href="/modes/walking/erith-to-bostall-woods">Erith to Bostall Woods</a></div></li>
                                    
 
                                        <li><div class="link-wrapper"><a href="/modes/walking/bostall-woods-to-oxleas-meadows">Bostall Woods to Oxleas Meadows</a></div></li>
                                    
 
                                        <li><div class="link-wrapper"><a href="/modes/walking/charlton-park-to-bostall-woods-or-oxleas-meadows">Charlton Park to Bostall Woods</a></div></li>
                                    
 
                                        <li><div class="link-wrapper"><a href="/modes/walking/thames-barrier-to-oxleas-meadows">Thames Barrier to Oxleas Meadows</a></div></li>
                                    
 
                                        <li><div class="link-wrapper"><a href="/modes/walking/oxleas-woods-to-mottingham">Oxleas Wood to Mottingham</a></div></li>
                                    
 
                                        <li><div class="link-wrapper"><a href="/modes/walking/shepherdleas-wood-to-middle-park-eltham">Shepherdleas Wood to Middle Park</a></div></li>
                                    
 
                                        <li><div class="link-wrapper"><a href="/modes/walking/mottingham-to-beckenham-place-park">Mottingham to Beckenham Place Park</a></div></li>
                                    
 
                                        <li><div class="link-wrapper"><a href="/modes/walking/chislehurst-to-beckenham-place-park">Chislehurst to Beckenham Place Park</a></div></li>
                                    
 
                                        <li><div class="link-wrapper"><a href="/modes/walking/beckenham-place-park-to-crystal-palace-park">Beckenham Place Park to Crystal Palace </a></div></li>
                                    
 
                                        <li><div class="link-wrapper"><a href="/modes/walking/crystal-palace-to-nunhead-cemetery">Crystal Palace to Nunhead Cemetery</a></div></li>
                                    
 
                                        </ul>
                                    </li>
 
                                <li class="parent"><div class="link-wrapper"><a href="/modes/walking/jubilee-greenway">Jubilee Greenway</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/modes/walking/jubilee-walkway">Jubilee Walkway</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/modes/walking/lea-valley">Lea Valley Walk</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/modes/walking/loop-walk">London LOOP</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/modes/walking/thames-path">Thames Path</a></div></li>
                            
 
                                </ul>
                            </li>
 
                                <li><div class="link-wrapper"><a href="/modes/walking/health-and-walking">Health and walking</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/modes/walking/find-your-way-around">Find your way around</a></div></li>
                            
 
                </ul>
            
 
 
 
 
 
 
 
 
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
      </div>
    
    <div>




















<div class="advert-tile unsponsored-style google-ads" aria-hidden="true">
  <div class="advert-link">
    <div class="advert-content">
        <div class="medium-large" data-advert="/76889402/walking" data-advert-sizes="300, 250"></div>
        <div class="small" data-advert="/76889402/walking" data-advert-sizes="300, 250"></div>
    </div>
  </div>
</div>
@{
    ViewBag.AmazonSlot = "'amznslots'";
    ViewBag.AmazonAds = "'3199'"; // to add another value, this needs to be ViewBag.AmazonAds = "'3199','xx'";
}
      

 </div>
    
    <div data-set="sidenav-container" class="small-medium"></div>
  </div>
</div>
 
 
        
        
        
            @{ViewBag.Description = "This Walk London route consists of 11 sections between Thamesmead and Nunhead Cemetery. ";}
        
            
        


 