
    
  



@{ViewBag.Title = "Harold Wood to Upminster Bridge";}
@{ViewBag.Keywords = "TfL";}
@{ViewBag.Url = "/modes/walking/harold-wood-to-upminster-bridge";}
@{ViewBag.Language = "en";}
        
        
        
<div class="r">
    <div class="breadcrumb-container" role="navigation">
        <span id="breadcrumb-label" class="visually-hidden">You are here:</span>
        <ol class="breadcrumbs clearfix" aria-labelledby="breadcrumb-label">
            <li class="home">
                <a href="/">
                    <span class="hide-text">Home</span>
                </a>
            </li>
            
                 <li><a href="/modes/walking/index">Walking</a></li>
                
            
                 <li><a href="/modes/walking/top-walking-routes">Walk London</a></li>
                
            
                 <li><a href="/modes/walking/loop-walk">London LOOP</a></li>
                
            
            
                <li><span class="last-breadcrumb">Harold Wood to Upminster Bridge</span></li>
            
        
 
        
 
        
 
        
 
        </ol>
    </div>
</div>
     
 
<div class="r">
  <div class="headline-container plain">
    <h1>Harold Wood to Upminster Bridge</h1>

  </div>
</div>
<div class="main-and-aside r">
  
  <div class="main content-container" role="main">
    
      <div class="article-teaser">
        Section 22 of the London LOOP offers a short walk through community woodland and riverside scenery. 
        
      </div>
    
    <div class="on-this-page">
      
      
           
      <div>


        <h2>Route information </h2>
        <ul>
            <li>Section start: Harold Wood</li>
            <li>Nearest public transport to the start: Harold Wood (Rail)</li>
            <li>Section finish: Upminster Bridge</li>
            <li>Nearest public transport to the finish: Upminster Bridge (Tube)</li>
            <li>Section distance: 4 miles (6.9 km)</li>
        </ul>
        <h2>Sights</h2>
        <ul>
            <li>Pages Wood</li>
            <li>Wooden artworks</li>
            <li>The 'smock' windmill</li>
        </ul>
    
</div>
 
<div>



<h2>Map and Directions</h2>



<div class="multi-document-download-container">
    

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/london-loop-section-22.pdf">
    <div class="document-download-text">
        <p>London LOOP section 22</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 1.29MB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 1.29 -->
 
</div>

</div>
 
      
        
          
            @this.ScriptBlock(
              @<script>
                queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
              </script>
            )
          
        
      
    </div>
  </div>
  <div class="aside" role="complementary">

   
    
    
    
      <div data-set="sidenav-container" class="large">
        
        
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
                <a href="/modes/walking/index" class="heading">
                    <h2 id="sub-menu-heading">Walking<span class="visually-hidden"> navigation</span></h2>
                </a>
                <ul>
                    
                                <li class="selected parent"><div class="link-wrapper"><a href="/modes/walking/top-walking-routes">Walk London</a></div>
                                <ul>
                                    
                                <li class="parent"><div class="link-wrapper"><a href="/modes/walking/capital-ring">Capital Ring Walk</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/modes/walking/green-chain-walk">Green Chain Walk</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/modes/walking/jubilee-greenway">Jubilee Greenway</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/modes/walking/jubilee-walkway">Jubilee Walkway</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/modes/walking/lea-valley">Lea Valley Walk</a></div></li>
                            
 
                                        <li class="selected parent"><div class="link-wrapper"><a href="/modes/walking/loop-walk">London LOOP</a></div>
                                        <ul>
                                            
                                        <li><div class="link-wrapper"><a href="/modes/walking/erith-riverside-to-old-bexley-village">Erith Riverside to Old Bexley Village</a></div></li>
                                    
 
                                        <li><div class="link-wrapper"><a href="/modes/walking/old-bexley-village-to-jubilee-country-park">Old Bexley Village to Petts Wood</a></div></li>
                                    
 
                                        <li><div class="link-wrapper"><a href="/modes/walking/petts-wood-to-west-wickham-common">Petts Wood to West Wickham Common</a></div></li>
                                    
 
                                        <li><div class="link-wrapper"><a href="/modes/walking/west-wickham-to-croydon">West Wickham Common to Hamsey Green</a></div></li>
                                    
 
                                        <li><div class="link-wrapper"><a href="/modes/walking/hamsey-green-to-croydon">Hamsey Green to Coulsdon South</a></div></li>
                                    
 
                                        <li><div class="link-wrapper"><a href="/modes/walking/couldson-to-banstead">Coulsdon South  to Banstead Downs</a></div></li>
                                    
 
                                        <li><div class="link-wrapper"><a href="/modes/walking/banstead-downs-to-ewell">Banstead Downs to Ewell</a></div></li>
                                    
 
                                        <li><div class="link-wrapper"><a href="/modes/walking/ewell-to-kingston">Ewell to Kingston Bridge</a></div></li>
                                    
 
                                        <li><div class="link-wrapper"><a href="/modes/walking/kingston-upon-thames-to-hatton-cross">Kingston Bridge to Hatton Cross</a></div></li>
                                    
 
                                        <li><div class="link-wrapper"><a href="/modes/walking/hatton-cross-to-hayes-and-harlington">Hatton Cross to Hayes & Harlington</a></div></li>
                                    
 
                                        <li><div class="link-wrapper"><a href="/modes/walking/hayes-and-harlington-to-uxbridge">Hayes & Harlington to Uxbridge</a></div></li>
                                    
 
                                        <li><div class="link-wrapper"><a href="/modes/walking/uxbridge-to-harefield-west">Uxbridge to Harefield West</a></div></li>
                                    
 
                                        <li><div class="link-wrapper"><a href="/modes/walking/harefield-west-to-moor-park">Harefield West to Moor Park</a></div></li>
                                    
 
                                        <li><div class="link-wrapper"><a href="/modes/walking/moor-park-to-hatch-end">Moor Park to Hatch End</a></div></li>
                                    
 
                                        <li><div class="link-wrapper"><a href="/modes/walking/hatch-end-to-elstree">Hatch End to Elstree</a></div></li>
                                    
 
                                        <li><div class="link-wrapper"><a href="/modes/walking/elstree-to-cockfosters">Elstree to Cockfosters</a></div></li>
                                    
 
                                        <li><div class="link-wrapper"><a href="/modes/walking/cockfosters-to-enfield-lock">Cockfosters to Enfield Lock</a></div></li>
                                    
 
                                        <li><div class="link-wrapper"><a href="/modes/walking/enfield-lock-to-chingford">Enfield Lock to Chingford</a></div></li>
                                    
 
                                        <li><div class="link-wrapper"><a href="/modes/walking/chingford-to-chigwell">Chingford to Chigwell</a></div></li>
                                    
 
                                        <li><div class="link-wrapper"><a href="/modes/walking/chigwell-to-havering-atte-bower">Chigwell to Havering-atte-Bower</a></div></li>
                                    
 
                                        <li><div class="link-wrapper"><a href="/modes/walking/havering-atte-bower-to-harold-wood">Havering-atte-Bower to Harold Wood</a></div></li>
                                    
 
                                                <li class="selected"><div class="link-wrapper"><a href="/modes/walking/harold-wood-to-upminster-bridge">Harold Wood to Upminster Bridge</a></div>
                                            
 
                                        <li><div class="link-wrapper"><a href="/modes/walking/upminster-bridge-to-rainham">Upminster Bridge to Rainham</a></div></li>
                                    
 
                                        <li><div class="link-wrapper"><a href="/modes/walking/rainham-to-purfleet">Rainham to Purfleet</a></div></li>
                                    
 
                                        </ul>
                                    </li>
 
                                <li class="parent"><div class="link-wrapper"><a href="/modes/walking/thames-path">Thames Path</a></div></li>
                            
 
                                </ul>
                            </li>
 
                                <li><div class="link-wrapper"><a href="/modes/walking/health-and-walking">Health and walking</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/modes/walking/find-your-way-around">Find your way around</a></div></li>
                            
 
                </ul>
            
 
 
 
 
 
 
 
 
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
      </div>
    
    <div>
























<div class="advert-tile unsponsored-style google-ads" aria-hidden="true">
  <div class="advert-link">
    <div class="advert-content">
        <div class="medium-large" data-advert="/76889402/walking" data-advert-sizes="300, 250"></div>
        <div class="small" data-advert="/76889402/walking" data-advert-sizes="300, 250"></div>
    </div>
  </div>
</div>
@{
    ViewBag.AmazonSlot = "'amznslots'";
    ViewBag.AmazonAds = "'3199'"; // to add another value, this needs to be ViewBag.AmazonAds = "'3199','xx'";
}
      

 </div>
    
    <div data-set="sidenav-container" class="small-medium"></div>
  </div>
</div>
 
 
        
        
        
            @{ViewBag.Description = "Section 22 of the London LOOP offers a short walk through community woodland and riverside scenery. ";}
        
            
        


 