
    
  



@{ViewBag.Title = "Health and walking";}
@{ViewBag.Keywords = "Pedestrians,Public,Walking,TfL";}
@{ViewBag.Url = "/modes/walking/health-and-walking";}
@{ViewBag.Language = "en";}
        <!-- empty placeholder -->
 
        
        
<div class="r">
    <div class="breadcrumb-container" role="navigation">
        <span id="breadcrumb-label" class="visually-hidden">You are here:</span>
        <ol class="breadcrumbs clearfix" aria-labelledby="breadcrumb-label">
            <li class="home">
                <a href="/">
                    <span class="hide-text">Home</span>
                </a>
            </li>
            
                 <li><a href="/modes/walking/index">Walking</a></li>
                
            
            
                <li><span class="last-breadcrumb">Health and walking</span></li>
            
        
 
        
 
        </ol>
    </div>
</div>
     
 
<div class="r">
  <div class="headline-container plain">
    <h1>Health and walking</h1>

  </div>
</div>
<div class="main-and-aside r">
  
  <div class="main content-container" role="main">
    
      <div class="article-teaser">
        Walking is a great way to stay healthy, see the city and it's probably quicker than you think. 
        
      </div>
    
    
      
    
      
           
      <div class="clearfix">
    <div class="image-box light-box left-float">
    
        
        
        <a href="/cdn/static/cms/images/walking-app-info.jpg" class="modal-launch" target="_blank">
             <img src="/cdn/static/cms/images/healthy-streets-2_rdax_400x457.jpg" alt="Healthy Street infographic" />
             <span class="caption">Click for larger image</span>
        </a>
        
        
    </div>
    <p>In London, at least 42% of adults are failing to meet the minimum levels of physical activity needed each week to stay healthy. The good news is that just 2, 10-minute walks a day can change that and improve your health and wellbeing: you'll sleep better, feel more relaxed, and significantly reduce the risk of developing a range of health problems, including Type 2 diabetes, heart disease, some cancers, depression and Alzheimer's disease.</p>
<p>Using public transport is a great way to build some walking into your day and people who regularly use public transport are more likely to get the activity they need to stay healthy.</p>
<p>If you want to keep track of your daily walking, use the free One You Active 10 walking app. <a href="https://www.nhs.uk/oneyou/active10/home">Find out more</a></p> 
 </div>
 
      
        
          
        
      
    
  </div>
  <div class="aside" role="complementary">

   
    
    
    
      <div data-set="sidenav-container" class="large">
        
        
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
                <a href="/modes/walking/index" class="heading">
                    <h2 id="sub-menu-heading">Walking<span class="visually-hidden"> navigation</span></h2>
                </a>
                <ul>
                    
                                <li class="parent"><div class="link-wrapper"><a href="/modes/walking/top-walking-routes">Walk London</a></div></li>
                            
 
                                <li class="selected"><div class="link-wrapper"><a href="/modes/walking/health-and-walking">Health and walking</a></div>
                            </li>
 
                                <li><div class="link-wrapper"><a href="/modes/walking/find-your-way-around">Find your way around</a></div></li>
                            
 
                </ul>
            
 
 
 
 
 
 
 
 
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
      </div>
    
    <div>
















<div class="advert-tile unsponsored-style google-ads" aria-hidden="true">
  <div class="advert-link">
    <div class="advert-content">
        <div class="medium-large" data-advert="/76889402/walking" data-advert-sizes="300, 250"></div>
        <div class="small" data-advert="/76889402/walking" data-advert-sizes="300, 250"></div>
    </div>
  </div>
</div>
@{
    ViewBag.AmazonSlot = "'amznslots'";
    ViewBag.AmazonAds = "'3199'"; // to add another value, this needs to be ViewBag.AmazonAds = "'3199','xx'";
}
      

 </div>
    
      <div class="module-grid clearfix">
                    
        <div class="related-links">

    <h3>Related sites</h3>

<div class="vertical-button-container">

<a href="https://www.nhs.uk/oneyou" class="plain-button">One You - A Healthier You</a>
    </div>
</div>
 
      </div>
    
    <div data-set="sidenav-container" class="small-medium"></div>
  </div>
</div>
 
 
        
        
        
            @{ViewBag.Description = "Information about the benefits of walking";}
        
            
        


 