
    
  



@{ViewBag.Title = "Jubilee Walkway";}
@{ViewBag.Keywords = "TfL";}
@{ViewBag.Url = "/modes/walking/jubilee-walkway";}
@{ViewBag.Language = "en";}
        <!-- empty placeholder -->
 
        
        
<div class="r">
    <div class="breadcrumb-container" role="navigation">
        <span id="breadcrumb-label" class="visually-hidden">You are here:</span>
        <ol class="breadcrumbs clearfix" aria-labelledby="breadcrumb-label">
            <li class="home">
                <a href="/">
                    <span class="hide-text">Home</span>
                </a>
            </li>
            
                 <li><a href="/modes/walking/index">Walking</a></li>
                
            
                 <li><a href="/modes/walking/top-walking-routes">Walk London</a></li>
                
            
            
                <li><span class="last-breadcrumb">Jubilee Walkway</span></li>
            
        
 
        
 
        
 
        </ol>
    </div>
</div>
     
 
<div class="r">
  <div class="headline-container plain">
    <h1>Jubilee Walkway</h1>

  </div>
</div>
<div class="main-and-aside r">
  
  <div class="main content-container" role="main">
    
      <div class="article-teaser">
        This Walk London route consists of five circular sections and includes some of London's most iconic landmarks. 
        
      </div>
    
    
      
      
           
      <div class="clearfix">
    <div class="image-box">
    
        
        
        <img src="/cdn/static/cms/images/jubilee-walkway-feb1.jpg" alt="Jubilee Walkway latest" />
        
        
        
    </div>   
 </div>
 <div>

<p>The Jubilee Walkway may only be 15 miles long but it contains some of London's most iconic landmarks.</p>

<h2>Sights</h2>

<ul>
	<li>City Hall</li>
	<li>Tate Modern</li>
	<li>London Eye</li>
	<li>Houses of Parliament</li>
	<li>St. James's Park</li>
	<li>British Museum</li>
	<li>Sir John Soane's Museum</li>
	<li>St Paul's Cathedral</li>
	<li>Tower of London</li>
	<li>Tower Bridge</li>
	<li>The Millennium Bridge</li>
	<li>Trafalgar Square</li>
</ul>

<h2>Signage</h2>

<p>You can find out more about route directions from the discs placed at the footway of every junction. Look out for:</p>

<ul>
	<li>Discs featuring the cross of a crown pointing in the direction of travel</li>
	<li>Gold discs which mark out special events in history</li>
</ul>

<h2>Route sections</h2>

<p>This walk is divided into sections:</p>

<p>Section 1: <a href="/modes/walking/western-loop-walk">The Western Loop</a></p>

<p>Section 2: <a href="/modes/walking/eastern-loop-walk">The Eastern Loop</a></p>

<p>Section 3: <a href="/modes/walking/the-city-loop">The City Loop</a></p>

<p>Section 4: <a href="/modes/walking/the-camden-loop">The Camden Loop</a></p>

<p>Section 5: <a href="/modes/walking/the-jubilee-loop-walk">The Jubilee Loop</a></p>
</div>
 
<div>



<h2>Certificate</h2>


<p>Completed this walk? Why not download the certificate to celebrate. </p>
<div class="multi-document-download-container">
    

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/jubilee-walkway-certificate.pdf">
    <div class="document-download-text">
        <p>Jubilee Walkway certificate</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 158KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.15 -->
 
</div>

</div>
 
      
        
          
        
      
    
  </div>
  <div class="aside" role="complementary">

   
    
    
    
      <div data-set="sidenav-container" class="large">
        
        
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
                <a href="/modes/walking/index" class="heading">
                    <h2 id="sub-menu-heading">Walking<span class="visually-hidden"> navigation</span></h2>
                </a>
                <ul>
                    
                                <li class="selected parent"><div class="link-wrapper"><a href="/modes/walking/top-walking-routes">Walk London</a></div>
                                <ul>
                                    
                                <li class="parent"><div class="link-wrapper"><a href="/modes/walking/capital-ring">Capital Ring Walk</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/modes/walking/green-chain-walk">Green Chain Walk</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/modes/walking/jubilee-greenway">Jubilee Greenway</a></div></li>
                            
 
                                        <li class="selected parent"><div class="link-wrapper"><a href="/modes/walking/jubilee-walkway">Jubilee Walkway</a></div>
                                        <ul>
                                            
                                        <li><div class="link-wrapper"><a href="/modes/walking/western-loop-walk">The Western Loop</a></div></li>
                                    
 
                                        <li><div class="link-wrapper"><a href="/modes/walking/eastern-loop-walk">The Eastern Loop </a></div></li>
                                    
 
                                        <li><div class="link-wrapper"><a href="/modes/walking/the-city-loop">The City Loop</a></div></li>
                                    
 
                                        <li><div class="link-wrapper"><a href="/modes/walking/the-camden-loop">The Camden Loop</a></div></li>
                                    
 
                                        <li><div class="link-wrapper"><a href="/modes/walking/the-jubilee-loop-walk">The Jubilee Loop </a></div></li>
                                    
 
                                        </ul>
                                    </li>
 
                                <li class="parent"><div class="link-wrapper"><a href="/modes/walking/lea-valley">Lea Valley Walk</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/modes/walking/loop-walk">London LOOP</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/modes/walking/thames-path">Thames Path</a></div></li>
                            
 
                                </ul>
                            </li>
 
                                <li><div class="link-wrapper"><a href="/modes/walking/health-and-walking">Health and walking</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/modes/walking/find-your-way-around">Find your way around</a></div></li>
                            
 
                </ul>
            
 
 
 
 
 
 
 
 
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
      </div>
    
    <div>




















<div class="advert-tile unsponsored-style google-ads" aria-hidden="true">
  <div class="advert-link">
    <div class="advert-content">
        <div class="medium-large" data-advert="/76889402/walking" data-advert-sizes="300, 250"></div>
        <div class="small" data-advert="/76889402/walking" data-advert-sizes="300, 250"></div>
    </div>
  </div>
</div>
@{
    ViewBag.AmazonSlot = "'amznslots'";
    ViewBag.AmazonAds = "'3199'"; // to add another value, this needs to be ViewBag.AmazonAds = "'3199','xx'";
}
      

 </div>
    
    <div data-set="sidenav-container" class="small-medium"></div>
  </div>
</div>
 
 
        
        
        
            @{ViewBag.Description = "This Walk London route consists of five circular sections and includes some of London's most iconic landmarks. ";}
        
            
        


 