
    
  



@{ViewBag.Title = "London LOOP";}
@{ViewBag.Keywords = "TfL";}
@{ViewBag.Url = "/modes/walking/loop-walk";}
@{ViewBag.Language = "en";}
        <!-- empty placeholder -->
 
        
        
<div class="r">
    <div class="breadcrumb-container" role="navigation">
        <span id="breadcrumb-label" class="visually-hidden">You are here:</span>
        <ol class="breadcrumbs clearfix" aria-labelledby="breadcrumb-label">
            <li class="home">
                <a href="/">
                    <span class="hide-text">Home</span>
                </a>
            </li>
            
                 <li><a href="/modes/walking/index">Walking</a></li>
                
            
                 <li><a href="/modes/walking/top-walking-routes">Walk London</a></li>
                
            
            
                <li><span class="last-breadcrumb">London LOOP</span></li>
            
        
 
        
 
        
 
        </ol>
    </div>
</div>
     
 
<div class="r">
  <div class="headline-container plain">
    <h1>London LOOP</h1>

  </div>
</div>
<div class="main-and-aside r">
  
  <div class="main content-container" role="main">
    
      <div class="article-teaser">
        This circular Walk London route consists of 24 sections between Erith station and Purfleet. 
        
      </div>
    
    
      
      
           
      <div class="clearfix">
    <div class="image-box">
    
        
        
        <img src="/cdn/static/cms/images/london-loop-february.jpg" alt="London Loop latest" />
        
        
        
    </div>   
 </div>
 <div>

<p>Taking the London LOOP is a great way to get to know London better. Made up of 24, mostly flat or gently sloping sections, its combination of beautiful open spaces like Hainault Forest Country Park and Bushy Park, historic buildings (Hall Place and Black Jack's Lock &amp; Mill), makes this an enjoyable walk.</p>

<h2>Sights</h2>

<ul>
	<li>Hall Place</li>
	<li>Addington Hills</li>
	<li>Farthing Down</li>
	<li>Bushy Park</li>
	<li>Black Jack's Lock &amp; Mill</li>
	<li>The Shot Tower</li>
	<li>Bentley Priory</li>
	<li>Enfield Lock</li>
	<li>Hainault Forest Country Park</li>
	<li>Rainham Marshes</li>
</ul>

<h2>Signage</h2>

<p>The London LOOP is way-marked by different signs in different areas. Look out for:</p>

<ul>
	<li>A white disc displaying a directional arrow, a blue flying kestrel and green text - these are mounted on wooden posts in country areas*</li>
	<li>A larger, aluminium sign featuring a walking man symbol - these are strapped to lamp posts (and other street furniture) in urban areas</li>
	<li>The word link - this is incorporated into the large, aluminium signage on link routes to stations</li>
	<li>A tall, green and white signpost - these appear at major focal points and will tell you the distances to three points in either direction</li>
</ul>

<p>*Please look carefully at the white disc logos. The direction might not be clear until you're close up.</p>

<h2>Route sections</h2>

<p>This 150 mile (242km) walk is divided into 24 sections:</p>

<p>Section 1: <a href="/modes/walking/erith-riverside-to-old-bexley-village">Erith to Old Bexley</a></p>

<p>Section 2: <a href="/modes/walking/old-bexley-village-to-jubilee-country-park">Old Bexley to Petts Wood</a></p>

<p>Section 3: <a href="/modes/walking/petts-wood-to-west-wickham-common">Petts Wood to West Wickham Common</a></p>

<p>Section 4: <a href="/modes/walking/west-wickham-to-croydon">West&nbsp;Wickham Common to Hamsey Green</a></p>

<p>Section 5: <a href="/modes/walking/hamsey-green-to-croydon">Hamsey Green to Couldson South</a></p>

<p>Section 6: <a href="/modes/walking/couldson-to-banstead">Couldson South to Banstead Downs</a></p>

<p>Section 7: <a href="/modes/walking/banstead-downs-to-ewell">Banstead Downs to Ewell</a></p>

<p>Section 8: <a href="/modes/walking/ewell-to-kingston">Ewell to Kingston Bridge </a></p>

<p>Section 9: <a href="/modes/walking/kingston-upon-thames-to-hatton-cross">Kingston Bridge to Hatton Cross</a></p>

<p>Section 10: <a href="/modes/walking/hatton-cross-to-hayes-and-harlington">Hatton Cross to Hayes &amp; Harlington</a></p>

<p>Section 11: <a href="/modes/walking/hayes-and-harlington-to-uxbridge">Hayes &amp; Harlington to Uxbridge</a></p>

<p>Section 12: <a href="/modes/walking/uxbridge-to-harefield-west">Uxbridge to Harefield West</a></p>

<p>Section 13: <a href="/modes/walking/harefield-west-to-moor-park">Harefield West to Moor Park</a></p>

<p>Section 14: <a href="/modes/walking/moor-park-to-hatch-end">Moor Park to Hatch End</a></p>

<p>Section 15: <a href="/modes/walking/hatch-end-to-elstree">Hatch End to Elstree</a></p>

<p>Section 16: <a href="/modes/walking/elstree-to-cockfosters">Elstree to Cockfosters</a></p>

<p>Section 17: <a href="/modes/walking/cockfosters-to-enfield-lock">Cockfosters to Enfield Lock</a></p>

<p>Section 18: <a href="/modes/walking/enfield-lock-to-chingford">Enfield Lock to Chingford</a></p>

<p>Section 19: <a href="/modes/walking/chingford-to-chigwell">Chingford to Chigwell</a></p>

<p>Section 20: <a href="/modes/walking/chigwell-to-havering-atte-bower">Chigwell to Havering-atte Bower</a></p>

<p>Section 21: <a href="/modes/walking/havering-atte-bower-to-harold-wood">Havering-atte-Bower to Harold Wood</a></p>

<p>Section 22: <a href="/modes/walking/harold-wood-to-upminster-bridge">Harold Wood to Upminster Bridge</a></p>

<p>Section 23: <a href="/modes/walking/upminster-bridge-to-rainham">Upminster Bridge to Rainham</a></p>

<p>Section 24: <a href="/modes/walking/rainham-to-purfleet">Rainham to Purfleet</a></p>
</div>
 
<div>



<h2>Certificate</h2>


<p>Completed this walk? Why not download the certificate to celebrate. </p>
<div class="multi-document-download-container">
    

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/london-loop-certificate.pdf">
    <div class="document-download-text">
        <p>London LOOP certificate</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 238KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.23 -->
 
</div>

</div>
 
      
        
          
        
      
    
  </div>
  <div class="aside" role="complementary">

   
    
    
    
      <div data-set="sidenav-container" class="large">
        
        
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
                <a href="/modes/walking/index" class="heading">
                    <h2 id="sub-menu-heading">Walking<span class="visually-hidden"> navigation</span></h2>
                </a>
                <ul>
                    
                                <li class="selected parent"><div class="link-wrapper"><a href="/modes/walking/top-walking-routes">Walk London</a></div>
                                <ul>
                                    
                                <li class="parent"><div class="link-wrapper"><a href="/modes/walking/capital-ring">Capital Ring Walk</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/modes/walking/green-chain-walk">Green Chain Walk</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/modes/walking/jubilee-greenway">Jubilee Greenway</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/modes/walking/jubilee-walkway">Jubilee Walkway</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/modes/walking/lea-valley">Lea Valley Walk</a></div></li>
                            
 
                                        <li class="selected parent"><div class="link-wrapper"><a href="/modes/walking/loop-walk">London LOOP</a></div>
                                        <ul>
                                            
                                        <li><div class="link-wrapper"><a href="/modes/walking/erith-riverside-to-old-bexley-village">Erith Riverside to Old Bexley Village</a></div></li>
                                    
 
                                        <li><div class="link-wrapper"><a href="/modes/walking/old-bexley-village-to-jubilee-country-park">Old Bexley Village to Petts Wood</a></div></li>
                                    
 
                                        <li><div class="link-wrapper"><a href="/modes/walking/petts-wood-to-west-wickham-common">Petts Wood to West Wickham Common</a></div></li>
                                    
 
                                        <li><div class="link-wrapper"><a href="/modes/walking/west-wickham-to-croydon">West Wickham Common to Hamsey Green</a></div></li>
                                    
 
                                        <li><div class="link-wrapper"><a href="/modes/walking/hamsey-green-to-croydon">Hamsey Green to Coulsdon South</a></div></li>
                                    
 
                                        <li><div class="link-wrapper"><a href="/modes/walking/couldson-to-banstead">Coulsdon South  to Banstead Downs</a></div></li>
                                    
 
                                        <li><div class="link-wrapper"><a href="/modes/walking/banstead-downs-to-ewell">Banstead Downs to Ewell</a></div></li>
                                    
 
                                        <li><div class="link-wrapper"><a href="/modes/walking/ewell-to-kingston">Ewell to Kingston Bridge</a></div></li>
                                    
 
                                        <li><div class="link-wrapper"><a href="/modes/walking/kingston-upon-thames-to-hatton-cross">Kingston Bridge to Hatton Cross</a></div></li>
                                    
 
                                        <li><div class="link-wrapper"><a href="/modes/walking/hatton-cross-to-hayes-and-harlington">Hatton Cross to Hayes & Harlington</a></div></li>
                                    
 
                                        <li><div class="link-wrapper"><a href="/modes/walking/hayes-and-harlington-to-uxbridge">Hayes & Harlington to Uxbridge</a></div></li>
                                    
 
                                        <li><div class="link-wrapper"><a href="/modes/walking/uxbridge-to-harefield-west">Uxbridge to Harefield West</a></div></li>
                                    
 
                                        <li><div class="link-wrapper"><a href="/modes/walking/harefield-west-to-moor-park">Harefield West to Moor Park</a></div></li>
                                    
 
                                        <li><div class="link-wrapper"><a href="/modes/walking/moor-park-to-hatch-end">Moor Park to Hatch End</a></div></li>
                                    
 
                                        <li><div class="link-wrapper"><a href="/modes/walking/hatch-end-to-elstree">Hatch End to Elstree</a></div></li>
                                    
 
                                        <li><div class="link-wrapper"><a href="/modes/walking/elstree-to-cockfosters">Elstree to Cockfosters</a></div></li>
                                    
 
                                        <li><div class="link-wrapper"><a href="/modes/walking/cockfosters-to-enfield-lock">Cockfosters to Enfield Lock</a></div></li>
                                    
 
                                        <li><div class="link-wrapper"><a href="/modes/walking/enfield-lock-to-chingford">Enfield Lock to Chingford</a></div></li>
                                    
 
                                        <li><div class="link-wrapper"><a href="/modes/walking/chingford-to-chigwell">Chingford to Chigwell</a></div></li>
                                    
 
                                        <li><div class="link-wrapper"><a href="/modes/walking/chigwell-to-havering-atte-bower">Chigwell to Havering-atte-Bower</a></div></li>
                                    
 
                                        <li><div class="link-wrapper"><a href="/modes/walking/havering-atte-bower-to-harold-wood">Havering-atte-Bower to Harold Wood</a></div></li>
                                    
 
                                        <li><div class="link-wrapper"><a href="/modes/walking/harold-wood-to-upminster-bridge">Harold Wood to Upminster Bridge</a></div></li>
                                    
 
                                        <li><div class="link-wrapper"><a href="/modes/walking/upminster-bridge-to-rainham">Upminster Bridge to Rainham</a></div></li>
                                    
 
                                        <li><div class="link-wrapper"><a href="/modes/walking/rainham-to-purfleet">Rainham to Purfleet</a></div></li>
                                    
 
                                        </ul>
                                    </li>
 
                                <li class="parent"><div class="link-wrapper"><a href="/modes/walking/thames-path">Thames Path</a></div></li>
                            
 
                                </ul>
                            </li>
 
                                <li><div class="link-wrapper"><a href="/modes/walking/health-and-walking">Health and walking</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/modes/walking/find-your-way-around">Find your way around</a></div></li>
                            
 
                </ul>
            
 
 
 
 
 
 
 
 
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
      </div>
    
    <div>




















<div class="advert-tile unsponsored-style google-ads" aria-hidden="true">
  <div class="advert-link">
    <div class="advert-content">
        <div class="medium-large" data-advert="/76889402/walking" data-advert-sizes="300, 250"></div>
        <div class="small" data-advert="/76889402/walking" data-advert-sizes="300, 250"></div>
    </div>
  </div>
</div>
@{
    ViewBag.AmazonSlot = "'amznslots'";
    ViewBag.AmazonAds = "'3199'"; // to add another value, this needs to be ViewBag.AmazonAds = "'3199','xx'";
}
      

 </div>
    
    <div data-set="sidenav-container" class="small-medium"></div>
  </div>
</div>
 
 
        
        
        
            @{ViewBag.Description = "This circular Walk London route consists of 24 sections between Erith station and Purfleet. ";}
        
            
        


 