
    
  



@{ViewBag.Title = "Woolwich Foot Tunnel to Greenwich";}
@{ViewBag.Keywords = "TfL";}
@{ViewBag.Url = "/modes/walking/river-thames-to-greenwich";}
@{ViewBag.Language = "en";}
        
        
        
<div class="r">
    <div class="breadcrumb-container" role="navigation">
        <span id="breadcrumb-label" class="visually-hidden">You are here:</span>
        <ol class="breadcrumbs clearfix" aria-labelledby="breadcrumb-label">
            <li class="home">
                <a href="/">
                    <span class="hide-text">Home</span>
                </a>
            </li>
            
                 <li><a href="/modes/walking/index">Walking</a></li>
                
            
                 <li><a href="/modes/walking/top-walking-routes">Walk London</a></li>
                
            
                 <li><a href="/modes/walking/jubilee-greenway">Jubilee Greenway</a></li>
                
            
            
                <li><span class="last-breadcrumb">Woolwich Foot Tunnel to Greenwich</span></li>
            
        
 
        
 
        
 
        
 
        </ol>
    </div>
</div>
     
 
<div class="r">
  <div class="headline-container plain">
    <h1>Woolwich Foot Tunnel to Greenwich</h1>

  </div>
</div>
<div class="main-and-aside r">
  
  <div class="main content-container" role="main">
    
      <div class="article-teaser">
        Section six of the Jubilee Greenway Walk is filled with Thames-side views of the Woolwich Ferry Dock and O2 Arena. 
        
      </div>
    
    <div class="on-this-page">
      
      
           
      <div>


        <h2>Route information </h2>
        <ul>
            <li>Section start: Woolwich Foot Tunnel</li>
            <li>Nearest public transport to the start: Woolwich Arsenal (Rail and DLR) or Woolwich Arsenal Pier (Thames Clipper river bus)</li>
            <li>Section finish: Greenwich Pier</li>
            <li>Nearest public transport to the finish: Cutty Sark (DLR) or Greenwich Pier (Thames Clipper river bus)</li>
            <li>Section distance: 6.2 miles (10 km)</li>
        </ul>
        <h2>Sights</h2>
        <ul>
            <li>Thames Path National Trail</li>
            <li>Woolwich Foot Tunnel</li>
            <li>The Thames Barrier</li>
            <li>The Millennium Dome</li>
            <li>Greenwich Power Station</li>
            <li>Royal Naval College</li>
        </ul>
    
</div>
 
<div>



<h2>Map</h2>



<div class="multi-document-download-container">
    

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/jubilee-greenway-route-section-six.pdf">
    <div class="document-download-text">
        <p>Jubilee Greenway Walk section 6</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 2.75MB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 2.75 -->
 
</div>

</div>
 
      
        
          
            @this.ScriptBlock(
              @<script>
                queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
              </script>
            )
          
        
      
    </div>
  </div>
  <div class="aside" role="complementary">

   
    
    
    
      <div data-set="sidenav-container" class="large">
        
        
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
                <a href="/modes/walking/index" class="heading">
                    <h2 id="sub-menu-heading">Walking<span class="visually-hidden"> navigation</span></h2>
                </a>
                <ul>
                    
                                <li class="selected parent"><div class="link-wrapper"><a href="/modes/walking/top-walking-routes">Walk London</a></div>
                                <ul>
                                    
                                <li class="parent"><div class="link-wrapper"><a href="/modes/walking/capital-ring">Capital Ring Walk</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/modes/walking/green-chain-walk">Green Chain Walk</a></div></li>
                            
 
                                        <li class="selected parent"><div class="link-wrapper"><a href="/modes/walking/jubilee-greenway">Jubilee Greenway</a></div>
                                        <ul>
                                            
                                        <li><div class="link-wrapper"><a href="/modes/walking/buckingham-palace-to-little-venice">Buckingham Palace to Little Venice</a></div></li>
                                    
 
                                        <li><div class="link-wrapper"><a href="/modes/walking/little-venice-to-camden">Little Venice to Camden</a></div></li>
                                    
 
                                        <li><div class="link-wrapper"><a href="/modes/walking/camden-park-to-victoria-park">Camden Park to Victoria Park</a></div></li>
                                    
 
                                        <li><div class="link-wrapper"><a href="/modes/walking/victoria-park-to-stokes-road">Victoria Park to Stokes Road</a></div></li>
                                    
 
                                        <li><div class="link-wrapper"><a href="/modes/walking/victoria-park-to-limehouse-basin">Victoria Park to Limehouse Basin</a></div></li>
                                    
 
                                        <li><div class="link-wrapper"><a href="/modes/walking/stokes-road-to-the-river-thames">Stokes Road to Woolwich Foot Tunnel</a></div></li>
                                    
 
                                                <li class="selected"><div class="link-wrapper"><a href="/modes/walking/river-thames-to-greenwich">Woolwich Foot Tunnel to Greenwich</a></div>
                                            
 
                                        <li><div class="link-wrapper"><a href="/modes/walking/greenwich-to-tower-bridge">Greenwich to Tower Bridge</a></div></li>
                                    
 
                                        <li><div class="link-wrapper"><a href="/modes/walking/tower-bridge-to-westminster-bridge">Tower Bridge to Westminster Bridge</a></div></li>
                                    
 
                                        <li><div class="link-wrapper"><a href="/modes/walking/westminster-bridge-to-buckingham-palace">Westminster Bridge to Buckingham Palace</a></div></li>
                                    
 
                                        </ul>
                                    </li>
 
                                <li class="parent"><div class="link-wrapper"><a href="/modes/walking/jubilee-walkway">Jubilee Walkway</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/modes/walking/lea-valley">Lea Valley Walk</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/modes/walking/loop-walk">London LOOP</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/modes/walking/thames-path">Thames Path</a></div></li>
                            
 
                                </ul>
                            </li>
 
                                <li><div class="link-wrapper"><a href="/modes/walking/health-and-walking">Health and walking</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/modes/walking/find-your-way-around">Find your way around</a></div></li>
                            
 
                </ul>
            
 
 
 
 
 
 
 
 
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
      </div>
    
    <div>
























<div class="advert-tile unsponsored-style google-ads" aria-hidden="true">
  <div class="advert-link">
    <div class="advert-content">
        <div class="medium-large" data-advert="/76889402/walking" data-advert-sizes="300, 250"></div>
        <div class="small" data-advert="/76889402/walking" data-advert-sizes="300, 250"></div>
    </div>
  </div>
</div>
@{
    ViewBag.AmazonSlot = "'amznslots'";
    ViewBag.AmazonAds = "'3199'"; // to add another value, this needs to be ViewBag.AmazonAds = "'3199','xx'";
}
      

 </div>
    
    <div data-set="sidenav-container" class="small-medium"></div>
  </div>
</div>
 
 
        
        
        
            @{ViewBag.Description = "Section six of the Jubilee Greenway Walk is filled with Thames-side views of the Woolwich Ferry Dock and O2 Arena. ";}
        
            
        


 