
    
  



@{ViewBag.Title = "Thames Barrier to River Darent (south)";}
@{ViewBag.Keywords = "TfL";}
@{ViewBag.Url = "/modes/walking/thames-barrier-to-river-darent";}
@{ViewBag.Language = "en";}
        <!-- empty placeholder -->
 
        
        
<div class="r">
    <div class="breadcrumb-container" role="navigation">
        <span id="breadcrumb-label" class="visually-hidden">You are here:</span>
        <ol class="breadcrumbs clearfix" aria-labelledby="breadcrumb-label">
            <li class="home">
                <a href="/">
                    <span class="hide-text">Home</span>
                </a>
            </li>
            
                 <li><a href="/modes/walking/index">Walking</a></li>
                
            
                 <li><a href="/modes/walking/top-walking-routes">Walk London</a></li>
                
            
                 <li><a href="/modes/walking/thames-path">Thames Path</a></li>
                
            
            
                <li><span class="last-breadcrumb">Thames Barrier to River Darent (south)</span></li>
            
        
 
        
 
        
 
        
 
        </ol>
    </div>
</div>
     
 
<div class="r">
  <div class="headline-container plain">
    <h1>Thames Barrier to River Darent (south)</h1>

  </div>
</div>
<div class="main-and-aside r">
  
  <div class="main content-container" role="main">
    
      <div class="article-teaser">
        Section four of the Thames Path runs along the south bank and offers picturesque riverside views for most of the way. 
        
      </div>
    
    <div class="on-this-page">
      
      
           
      <div>


        <h2>Route information </h2>
        <ul>
            <li>Section start: Thames Barrier</li>
            <li>Nearest public transport to the start: Charlton (Rail)</li>
            <li>Section finish: River Darent</li>
            <li>Nearest public transport to the finish: Slade Green (Rail)</li>
            <li>Section distance: 11 miles (17.5 km)</li>
        </ul>
        <h2>Sights</h2>
        <ul>
            <li>Thames Barrier</li>
            <li>Woolwich Foot Tunnel</li>
            <li>Crossness Nature Reserve</li>
            <li>Erith Salt Marsh</li>
        </ul>
    
</div>
 
<div>



<h2>Map</h2>



<div class="multi-document-download-container">
    

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/thames-path-south-section-4.pdf">
    <div class="document-download-text">
        <p>Thames Path - south bank section 4</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 3.01MB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 3.01 -->
 
</div>

</div>
 
      
        
          
            @this.ScriptBlock(
              @<script>
                queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
              </script>
            )
          
        
      
    </div>
  </div>
  <div class="aside" role="complementary">

   
    
    
    
      <div data-set="sidenav-container" class="large">
        
        
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
                <a href="/modes/walking/index" class="heading">
                    <h2 id="sub-menu-heading">Walking<span class="visually-hidden"> navigation</span></h2>
                </a>
                <ul>
                    
                                <li class="selected parent"><div class="link-wrapper"><a href="/modes/walking/top-walking-routes">Walk London</a></div>
                                <ul>
                                    
                                <li class="parent"><div class="link-wrapper"><a href="/modes/walking/capital-ring">Capital Ring Walk</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/modes/walking/green-chain-walk">Green Chain Walk</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/modes/walking/jubilee-greenway">Jubilee Greenway</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/modes/walking/jubilee-walkway">Jubilee Walkway</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/modes/walking/lea-valley">Lea Valley Walk</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/modes/walking/loop-walk">London LOOP</a></div></li>
                            
 
                                        <li class="selected parent"><div class="link-wrapper"><a href="/modes/walking/thames-path">Thames Path</a></div>
                                        <ul>
                                            
                                        <li><div class="link-wrapper"><a href="/modes/walking/hampton-court-to-albert-bridge">Hampton Court to Albert Bridge</a></div></li>
                                    
 
                                        <li><div class="link-wrapper"><a href="/modes/walking/albert-bridge-to-tower-bridge">Albert Bridge to Tower Bridge</a></div></li>
                                    
 
                                        <li><div class="link-wrapper"><a href="/modes/walking/tower-bridge-to-greenwich">Tower Bridge to Greenwich</a></div></li>
                                    
 
                                        <li><div class="link-wrapper"><a href="/modes/walking/greenwich-to-east-india-dock">Greenwich to East India Dock</a></div></li>
                                    
 
                                        <li><div class="link-wrapper"><a href="/modes/walking/teddington-lock-to-battersea-park">Teddington Lock to Battersea Park</a></div></li>
                                    
 
                                        <li><div class="link-wrapper"><a href="/modes/walking/albert-bridge-to-tower-bridge-south">Albert Bridge to Tower Bridge (south)</a></div></li>
                                    
 
                                        <li><div class="link-wrapper"><a href="/modes/walking/tower-bridge-to-the-thames-barrier">Tower Bridge to Thames Barrier</a></div></li>
                                    
 
                                                <li class="selected"><div class="link-wrapper"><a href="/modes/walking/thames-barrier-to-river-darent">Thames Barrier to River Darent (south)</a></div>
                                            
 
                                        </ul>
                                    </li>
 
                                </ul>
                            </li>
 
                                <li><div class="link-wrapper"><a href="/modes/walking/health-and-walking">Health and walking</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/modes/walking/find-your-way-around">Find your way around</a></div></li>
                            
 
                </ul>
            
 
 
 
 
 
 
 
 
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
      </div>
    
    <div>
























<div class="advert-tile unsponsored-style google-ads" aria-hidden="true">
  <div class="advert-link">
    <div class="advert-content">
        <div class="medium-large" data-advert="/76889402/walking" data-advert-sizes="300, 250"></div>
        <div class="small" data-advert="/76889402/walking" data-advert-sizes="300, 250"></div>
    </div>
  </div>
</div>
@{
    ViewBag.AmazonSlot = "'amznslots'";
    ViewBag.AmazonAds = "'3199'"; // to add another value, this needs to be ViewBag.AmazonAds = "'3199','xx'";
}
      

 </div>
    
    <div data-set="sidenav-container" class="small-medium"></div>
  </div>
</div>
 
 
        
        
        
            @{ViewBag.Description = "Section four of the Thames Path runs along the south bank and offers picturesque riverside views for most of the way. ";}
        
            
        


 