
    
  



@{ViewBag.Title = "Thames Path";}
@{ViewBag.Keywords = "TfL";}
@{ViewBag.Url = "/modes/walking/thames-path";}
@{ViewBag.Language = "en";}
        <!-- empty placeholder -->
 
        
        
<div class="r">
    <div class="breadcrumb-container" role="navigation">
        <span id="breadcrumb-label" class="visually-hidden">You are here:</span>
        <ol class="breadcrumbs clearfix" aria-labelledby="breadcrumb-label">
            <li class="home">
                <a href="/">
                    <span class="hide-text">Home</span>
                </a>
            </li>
            
                 <li><a href="/modes/walking/index">Walking</a></li>
                
            
                 <li><a href="/modes/walking/top-walking-routes">Walk London</a></li>
                
            
            
                <li><span class="last-breadcrumb">Thames Path</span></li>
            
        
 
        
 
        
 
        </ol>
    </div>
</div>
     
 
<div class="r">
  <div class="headline-container plain">
    <h1>Thames Path</h1>

  </div>
</div>
<div class="main-and-aside r">
  
  <div class="main content-container" role="main">
    
      <div class="article-teaser">
        This Walk London route includes both north and south banks of the Thames. 
        
      </div>
    
    
      
      
           
      <div class="clearfix">
    <div class="image-box">
    
        
        
        <img src="/cdn/static/cms/images/thames-path-february.jpg" alt="Thames Path latest" />
        
        
        
    </div>   
 </div>
 <div>

<p>Stretching from the lost floodplains of Richmond to the Dickensian stretches of the eastern marshes, the Thames Path offers walkers lots to see and do.</p>

<h2>Sights</h2>

<ul>
	<li>Syon Park</li>
	<li>Houses of Parliament</li>
	<li>Tower Bridge</li>
	<li>Canary Wharf</li>
	<li>Thames Barrier</li>
	<li>South Bank</li>
	<li>Hampton Court Palace</li>
	<li>Chiswick Pier</li>
	<li>Albert Bridge</li>
	<li>Erith Marshes</li>
	<li>The Royal Docks</li>
	<li>Battersea Park</li>
	<li>Barnes Wetland Centre</li>
	<li>Kew Gardens</li>
	<li>Kingston Bridge</li>
	<li>Teddington Lock</li>
</ul>

<h2>Signage</h2>

<p>Between west London to the end of the route at the Thames Barrier in Greenwich, look out for the Thames Path National Trail symbol. Beyond the Thames Barrier, the route is way-marked with the Thames Barge Symbol.</p>

<h2>Route sections</h2>

<p>This 79.5 mile (128km) route is divided into four sections on both the North and South Bank:</p>

<h3>North bank</h3>

<p>Section 1: <a href="/modes/walking/hampton-court-to-albert-bridge">Hampton Court to Albert Bridge</a></p>

<p>Section 2: <a href="/modes/walking/albert-bridge-to-tower-bridge">Albert Bridge to Tower Bridge</a></p>

<p>Section 3: <a href="/modes/walking/tower-bridge-to-greenwich">Tower Bridge to Greenwich</a><br />
<br />
Section 4: <a href="/modes/walking/greenwich-to-east-india-dock">Greenwich to East India Docks </a></p>

<h3>South bank</h3>

<p>Section 1: <a href="/modes/walking/teddington-lock-to-battersea-park">Teddington Lock to Battersea Park</a></p>

<p>Section 2: <a href="/modes/walking/albert-bridge-to-tower-bridge-south">Albert Bridge to Tower Bridge</a></p>

<p>Section 3: <a href="/modes/walking/tower-bridge-to-the-thames-barrier">Tower Bridge to Thames Barrier</a></p>

<p>Section 4: <a href="/modes/walking/thames-barrier-to-river-darent">Thames Barrier to River Darent</a></p>

<p>&nbsp;</p>

<ul>
</ul>
</div>
 
<div>



<h2>Certificate</h2>


<p>Completed the walk? Why not download the certificate to celebrate. </p>
<div class="multi-document-download-container">
    

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/thames-path-certificate.pdf">
    <div class="document-download-text">
        <p>Thames Path certificate</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 168KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.16 -->
 
</div>

</div>
 
      
        
          
        
      
    
  </div>
  <div class="aside" role="complementary">

   
    
    
    
      <div data-set="sidenav-container" class="large">
        
        
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
                <a href="/modes/walking/index" class="heading">
                    <h2 id="sub-menu-heading">Walking<span class="visually-hidden"> navigation</span></h2>
                </a>
                <ul>
                    
                                <li class="selected parent"><div class="link-wrapper"><a href="/modes/walking/top-walking-routes">Walk London</a></div>
                                <ul>
                                    
                                <li class="parent"><div class="link-wrapper"><a href="/modes/walking/capital-ring">Capital Ring Walk</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/modes/walking/green-chain-walk">Green Chain Walk</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/modes/walking/jubilee-greenway">Jubilee Greenway</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/modes/walking/jubilee-walkway">Jubilee Walkway</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/modes/walking/lea-valley">Lea Valley Walk</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/modes/walking/loop-walk">London LOOP</a></div></li>
                            
 
                                        <li class="selected parent"><div class="link-wrapper"><a href="/modes/walking/thames-path">Thames Path</a></div>
                                        <ul>
                                            
                                        <li><div class="link-wrapper"><a href="/modes/walking/hampton-court-to-albert-bridge">Hampton Court to Albert Bridge</a></div></li>
                                    
 
                                        <li><div class="link-wrapper"><a href="/modes/walking/albert-bridge-to-tower-bridge">Albert Bridge to Tower Bridge</a></div></li>
                                    
 
                                        <li><div class="link-wrapper"><a href="/modes/walking/tower-bridge-to-greenwich">Tower Bridge to Greenwich</a></div></li>
                                    
 
                                        <li><div class="link-wrapper"><a href="/modes/walking/greenwich-to-east-india-dock">Greenwich to East India Dock</a></div></li>
                                    
 
                                        <li><div class="link-wrapper"><a href="/modes/walking/teddington-lock-to-battersea-park">Teddington Lock to Battersea Park</a></div></li>
                                    
 
                                        <li><div class="link-wrapper"><a href="/modes/walking/albert-bridge-to-tower-bridge-south">Albert Bridge to Tower Bridge (south)</a></div></li>
                                    
 
                                        <li><div class="link-wrapper"><a href="/modes/walking/tower-bridge-to-the-thames-barrier">Tower Bridge to Thames Barrier</a></div></li>
                                    
 
                                        <li><div class="link-wrapper"><a href="/modes/walking/thames-barrier-to-river-darent">Thames Barrier to River Darent (south)</a></div></li>
                                    
 
                                        </ul>
                                    </li>
 
                                </ul>
                            </li>
 
                                <li><div class="link-wrapper"><a href="/modes/walking/health-and-walking">Health and walking</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/modes/walking/find-your-way-around">Find your way around</a></div></li>
                            
 
                </ul>
            
 
 
 
 
 
 
 
 
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
      </div>
    
    <div>




















<div class="advert-tile unsponsored-style google-ads" aria-hidden="true">
  <div class="advert-link">
    <div class="advert-content">
        <div class="medium-large" data-advert="/76889402/walking" data-advert-sizes="300, 250"></div>
        <div class="small" data-advert="/76889402/walking" data-advert-sizes="300, 250"></div>
    </div>
  </div>
</div>
@{
    ViewBag.AmazonSlot = "'amznslots'";
    ViewBag.AmazonAds = "'3199'"; // to add another value, this needs to be ViewBag.AmazonAds = "'3199','xx'";
}
      

 </div>
    
      <div class="module-grid clearfix">
                    
        
<div class="fact-box-wrapper">
    <span class="blue-span">National Trail</span>
    <div class="fact-box-content">
        <p>Learn more about accessibility on the Thames Path under the section 'who can enjoy the trail?'</p>
        <div class="vertical-button-container">
        
        <a href="http://www.nationaltrail.co.uk/thames-path/information"  class="plain-button">Find out more</a> 
        </div>
    </div>
</div>
<div class="fact-box-wrapper">
    <span class="blue-span">Thames Path closures</span>
    <div class="fact-box-content">
        Please be aware, there are several diversions on the Thames Path at present. Check National Trail's Thames Path plan for details.
        <div class="vertical-button-container">
        
        <a href="http://www.nationaltrail.co.uk/thames-path/plan"  class="plain-button">Check now</a> 
        </div>
    </div>
</div>
      </div>
    
    <div data-set="sidenav-container" class="small-medium"></div>
  </div>
</div>
 
 
        
        
        
            @{ViewBag.Description = "This Walk London route includes both north and south banks of the Thames. ";}
        
            
        


 