
    
  



@{ViewBag.Title = "Walk London";}
@{ViewBag.Keywords = "Pedestrians,Public,Walking,TfL";}
@{ViewBag.Url = "/modes/walking/top-walking-routes";}
@{ViewBag.Language = "en";}
        <!-- empty placeholder -->
 
        
        
<div class="r">
    <div class="breadcrumb-container" role="navigation">
        <span id="breadcrumb-label" class="visually-hidden">You are here:</span>
        <ol class="breadcrumbs clearfix" aria-labelledby="breadcrumb-label">
            <li class="home">
                <a href="/">
                    <span class="hide-text">Home</span>
                </a>
            </li>
            
                 <li><a href="/modes/walking/index">Walking</a></li>
                
            
            
                <li><span class="last-breadcrumb">Walk London</span></li>
            
        
 
        
 
        </ol>
    </div>
</div>
     
 
<div class="r">
  <div class="headline-container plain">
    <h1>Walk London</h1>

  </div>
</div>
<div class="main-and-aside r">
  
  <div class="main content-container" role="main">
    
      <div class="article-teaser">
        Beautiful and interesting walks can be found all across central and Greater London.
        
      </div>
    
    
      
      
           
      

 @this.ScriptBlock(
     @<script>
          queue.push(
            "@Html.ScriptPath("plugins/gallery-media.min.js")", null,
            function() {
                var galleryLite = $(".gallery-lite");

                if (galleryLite.length) {
                    galleryLite.gallery();
                }
            }
        );
     </script>
 )
      
<div class="gallery-lite-wrap">
    <ul class="gallery-lite no-borders">
    
    
      <!--  -->
      
      
      
        <li class="gallery-item">
            <figure>
                <img src="/cdn/static/cms/images/walking-addinton-hills.jpg" alt="View from Addinton Hills, London Loop" />
                <figcaption>
<span class="figure-title">View from Addinton Hills, London Loop</span>

                </figcaption>
            </figure>
        </li>
    
      <!--  -->
      
      
      
        <li class="gallery-item">
            <figure>
                <img src="/cdn/static/cms/images/bloomsbury-square-gardens-j.jpg" alt="Bloomsbury Square Gardens, Jubilee Walkway" />
                <figcaption>
<span class="figure-title">Bloomsbury Square Gardens, Jubilee Walkway</span>

                </figcaption>
            </figure>
        </li>
    
      <!--  -->
      
      
      
        <li class="gallery-item">
            <figure>
                <img src="/cdn/static/cms/images/bow-creek-ecology-park-lea.jpg" alt="Bow Creek Ecology Park, Lea Valley Walk" />
                <figcaption>
<span class="figure-title">Bow Creek Ecology Park, Lea Valley Walk</span>

                </figcaption>
            </figure>
        </li>
    
      <!--  -->
      
      
      
        <li class="gallery-item">
            <figure>
                <img src="/cdn/static/cms/images/walking-city-hall.jpg" alt="City Hall, Jubilee Walkway & Thames Path" />
                <figcaption>
<span class="figure-title">City Hall, Jubilee Walkway & Thames Path</span>

                </figcaption>
            </figure>
        </li>
    
      <!--  -->
      
      
      
        <li class="gallery-item">
            <figure>
                <img src="/cdn/static/cms/images/little-venice-jubilee-gatew.jpg" alt="Little Venice, Jubilee Greenway" />
                <figcaption>
<span class="figure-title">Little Venice, Jubilee Greenway</span>

                </figcaption>
            </figure>
        </li>
    
      <!--  -->
      
      
      
        <li class="gallery-item">
            <figure>
                <img src="/cdn/static/cms/images/walking-richmond-riverside.jpg" alt="Richmond Riverside, Capital Ring & Thames Path" />
                <figcaption>
<span class="figure-title">Richmond Riverside, Capital Ring & Thames Path</span>

                </figcaption>
            </figure>
        </li>
    
      <!--  -->
      
      
      
        <li class="gallery-item">
            <figure>
                <img src="/cdn/static/cms/images/st-james-park-jubilee-walkw.jpg" alt="St James's Park, Jubilee Walkway" />
                <figcaption>
<span class="figure-title">St James's Park, Jubilee Walkway</span>

                </figcaption>
            </figure>
        </li>
    
      <!--  -->
      
      
      
        <li class="gallery-item">
            <figure>
                <img src="/cdn/static/cms/images/walking-tower-bridge.jpg" alt="Tower Bridge, Jubilee Walkway & Thames Path" />
                <figcaption>
<span class="figure-title">Tower Bridge, Jubilee Walkway & Thames Path</span>

                </figcaption>
            </figure>
        </li>
    
      <!--  -->
      
      
      
        <li class="gallery-item">
            <figure>
                <img src="/cdn/static/cms/images/victoria-park-jubilee-green.jpg" alt="Victoria Park, Jubilee Greenway" />
                <figcaption>
<span class="figure-title">Victoria Park, Jubilee Greenway</span>

                </figcaption>
            </figure>
        </li>
    
  </ul>
</div>
 <div>

<p>Getting to see what London has to offer is easy, especially if you walk: There's lots to explore and some great walks connecting them. </p>
<p>These seven routes form the Walk London Network, one of the largest walking networks of any city in the world. These routes are specifically designed to be easily accessible by public transport and you can walk as little or as far as you want by walking them in sections.</p>
<p>So, whether it's a place to feed the ducks, a stroll during your&nbsp;lunch hour or an energetic Sunday walk you're after, our quality walking routes have something for everyone. </p>
<h2>Routes</h2>
<p>You can download a map and written directions for each of the sections that make up the Walk London Network routes. </p>
</div>
 <div class="clearfix">
    <div class="image-box campaign-graphic left-float">
    
        <img src="/cdn/static/cms/images/capital-ring-campaign.jpg" alt="Walking - Capital Ring campaign logo" />
    </div>
    <p><a href="/modes/walking/capital-ring">Capital Ring</a><br />
A walk through London's greenest suburbs, this 78-mile route is divided into 15 shorter walks, including Richmond Park, Wimbledon Common and Eltham Palace.</p> 
</div>
 <div class="clearfix">
    <div class="image-box campaign-graphic left-float">
    
        <img src="/cdn/static/cms/images/green-chain-campaign.jpg" alt="Walking - Green Chain campaign logo" />
    </div>
    <p><a href="/modes/walking/green-chain-walk">Green Chain</a><br />
A network of straight and circular walks across South East London, the route takes in dozens of woods and parks, as well as the Thames Barrier and Crystal Palace.</p> 
</div>
 <div class="clearfix">
    <div class="image-box campaign-graphic left-float">
    
        <img src="/cdn/static/cms/images/jubilee-greenway-campaign.jpg" alt="Walking - Jubilee Greenway campaign logo" />
    </div>
    <p><a href="/modes/walking/jubilee-greenway">Jubilee Greenway</a><br />
Celebrating the Queen's Diamond Jubilee, this path for walkers and cyclists links the Olympic and Paralympic Games venues, including the O2 Arena, Greenwich Park and the Serpentine.</p> 
</div>
 <div class="clearfix">
    <div class="image-box campaign-graphic left-float">
    
        <img src="/cdn/static/cms/images/jubilee-walkway-campaign.jpg" alt="Walking - Jubilee Walkway campaign logo" />
    </div>
    <p><a href="/modes/walking/jubilee-walkway">Jubilee Walkway</a><br />
This route, created to celebrate the Queen's Silver Jubilee, encompasses London's most iconic landmarks, from St Paul's to Buckingham Palace, and includes Bloomsbury and the City on the way.</p> 
</div>
 <div class="clearfix">
    <div class="image-box campaign-graphic left-float">
    
        <img src="/cdn/static/cms/images/lea-valley-walk-campaign.jpg" alt="Walking - Lea Valley campaign" />
    </div>
    <p><a href="/modes/walking/lea-valley">Lea Valley</a><br />
A glimpse into Britain's industrial past, the path follows the 18 miles along the Lee Navigation towpath, from Waltham Abbey to the Thames at Limehouse Basin.</p> 
</div>
 <div class="clearfix">
    <div class="image-box campaign-graphic left-float">
    
        <img src="/cdn/static/cms/images/london-loop-campaign.jpg" alt="Walking - LOOP campaign logo" />
    </div>
    <p><a href="/modes/walking/loop-walk">London Outer Orbital Path (LOOP)</a><br />
The London Outer Orbital Path, or LOOP, almost completely encircles Greater London. Nearly 150 miles are split into 24, bite-sized walks.
</p> 
</div>
 <div class="clearfix">
    <div class="image-box campaign-graphic left-float">
    
        <img src="/cdn/static/cms/images/thames-path-campaign.jpg" alt="Thames Path campaign logo" />
    </div>
    <p><a href="/modes/walking/thames-path">Thames Path</a><br />
A 40-mile stretch of easy, level walking on both sides of the river, the path stretches from Hampton Court Palace through the heart of London to East India Dock.</p> 
</div>
 <div>

<h2></h2>
</div>
 
      
        
          
        
      
    
  </div>
  <div class="aside" role="complementary">

   
    
    
    
      <div data-set="sidenav-container" class="large">
        
        
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
                <a href="/modes/walking/index" class="heading">
                    <h2 id="sub-menu-heading">Walking<span class="visually-hidden"> navigation</span></h2>
                </a>
                <ul>
                    
                                <li class="selected parent"><div class="link-wrapper"><a href="/modes/walking/top-walking-routes">Walk London</a></div>
                                <ul>
                                    
                                <li class="parent"><div class="link-wrapper"><a href="/modes/walking/capital-ring">Capital Ring Walk</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/modes/walking/green-chain-walk">Green Chain Walk</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/modes/walking/jubilee-greenway">Jubilee Greenway</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/modes/walking/jubilee-walkway">Jubilee Walkway</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/modes/walking/lea-valley">Lea Valley Walk</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/modes/walking/loop-walk">London LOOP</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/modes/walking/thames-path">Thames Path</a></div></li>
                            
 
                                </ul>
                            </li>
 
                                <li><div class="link-wrapper"><a href="/modes/walking/health-and-walking">Health and walking</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/modes/walking/find-your-way-around">Find your way around</a></div></li>
                            
 
                </ul>
            
 
 
 
 
 
 
 
 
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
      </div>
    
    <div>
















<div class="advert-tile unsponsored-style google-ads" aria-hidden="true">
  <div class="advert-link">
    <div class="advert-content">
        <div class="medium-large" data-advert="/76889402/walking" data-advert-sizes="300, 250"></div>
        <div class="small" data-advert="/76889402/walking" data-advert-sizes="300, 250"></div>
    </div>
  </div>
</div>
@{
    ViewBag.AmazonSlot = "'amznslots'";
    ViewBag.AmazonAds = "'3199'"; // to add another value, this needs to be ViewBag.AmazonAds = "'3199','xx'";
}
      

 </div>
    
      <div class="module-grid clearfix">
                    
        <div class="related-links">

    <h3>Related websites</h3>

<div class="vertical-button-container">

<a href="http://www.livingstreets.org.uk/" class="plain-button">Living Streets</a>
<a href="/help-and-contact/report-roadworks" class="plain-button">Report street faults</a>
<a href="http://www.ramblers.org.uk/" class="plain-button">Ramblers</a>
    </div>
</div>
 
      </div>
    
    <div data-set="sidenav-container" class="small-medium"></div>
  </div>
</div>
 
 
        
        
        
            @{ViewBag.Description = "Beautiful and interesting walks across central and Greater London";}
        
            
        


 