
    
  



@{ViewBag.Title = "The Western Loop";}
@{ViewBag.Keywords = "TfL";}
@{ViewBag.Url = "/modes/walking/western-loop-walk";}
@{ViewBag.Language = "en";}
        
        
        
<div class="r">
    <div class="breadcrumb-container" role="navigation">
        <span id="breadcrumb-label" class="visually-hidden">You are here:</span>
        <ol class="breadcrumbs clearfix" aria-labelledby="breadcrumb-label">
            <li class="home">
                <a href="/">
                    <span class="hide-text">Home</span>
                </a>
            </li>
            
                 <li><a href="/modes/walking/index">Walking</a></li>
                
            
                 <li><a href="/modes/walking/top-walking-routes">Walk London</a></li>
                
            
                 <li><a href="/modes/walking/jubilee-walkway">Jubilee Walkway</a></li>
                
            
            
                <li><span class="last-breadcrumb">The Western Loop</span></li>
            
        
 
        
 
        
 
        
 
        </ol>
    </div>
</div>
     
 
<div class="r">
  <div class="headline-container plain">
    <h1>The Western Loop</h1>

  </div>
</div>
<div class="main-and-aside r">
  
  <div class="main content-container" role="main">
    
      <div class="article-teaser">
        Section one of the Jubilee Walkway is the Western Loop Walk: a circular journey around some of London's most historic, and best-loved buildings. 
        
      </div>
    
    <div class="on-this-page">
      
      
           
      <div>


        <h2>Route information </h2>
        <ul>
            <li>Section start and finish: The Jubilee Walkway panel in the central garden at Leicester Square</li>
            <li>Nearest public transport to the start: Leicester Square (Tube)</li>
            <li>Section distance: 6 miles (9.5 km)</li>
        </ul>
        <h2>Sights</h2>
        <ul>
            <li>The Mall</li>
            <li>Parliament Square</li>
            <li>Westminster Abbey</li>
            <li>Houses of Parliament</li>
            <li>Lambeth Palace</li>
            <li>London Eye</li>
            <li>Southbank and the Royal Festival Hall</li>
            <li>Tate Modern </li>
            <li>St Paul's Cathedral</li>
            <li>Fleet Street</li>
            <li>The John Soane's Museum</li>
            <li>The Royal Opera House </li>
            <li>The National Portrait Gallery</li>
        </ul>
    
</div>
 
<div>



<h2>Map</h2>



<div class="multi-document-download-container">
    

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/jubilee-walkway-route-section-one.pdf">
    <div class="document-download-text">
        <p>The Western Loop section 1</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 936KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.91 -->
 
</div>

</div>
 <div class="vertical-button-container">



<a href="https://app.gojauntly.com/fTaRgVz9eS"  class="plain-button">Try this walk on the Go Jauntly app</a>

</div>

      
        
          
            @this.ScriptBlock(
              @<script>
                queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
              </script>
            )
          
        
      
    </div>
  </div>
  <div class="aside" role="complementary">

   
    
    
    
      <div data-set="sidenav-container" class="large">
        
        
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
                <a href="/modes/walking/index" class="heading">
                    <h2 id="sub-menu-heading">Walking<span class="visually-hidden"> navigation</span></h2>
                </a>
                <ul>
                    
                                <li class="selected parent"><div class="link-wrapper"><a href="/modes/walking/top-walking-routes">Walk London</a></div>
                                <ul>
                                    
                                <li class="parent"><div class="link-wrapper"><a href="/modes/walking/capital-ring">Capital Ring Walk</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/modes/walking/green-chain-walk">Green Chain Walk</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/modes/walking/jubilee-greenway">Jubilee Greenway</a></div></li>
                            
 
                                        <li class="selected parent"><div class="link-wrapper"><a href="/modes/walking/jubilee-walkway">Jubilee Walkway</a></div>
                                        <ul>
                                            
                                                <li class="selected"><div class="link-wrapper"><a href="/modes/walking/western-loop-walk">The Western Loop</a></div>
                                            
 
                                        <li><div class="link-wrapper"><a href="/modes/walking/eastern-loop-walk">The Eastern Loop </a></div></li>
                                    
 
                                        <li><div class="link-wrapper"><a href="/modes/walking/the-city-loop">The City Loop</a></div></li>
                                    
 
                                        <li><div class="link-wrapper"><a href="/modes/walking/the-camden-loop">The Camden Loop</a></div></li>
                                    
 
                                        <li><div class="link-wrapper"><a href="/modes/walking/the-jubilee-loop-walk">The Jubilee Loop </a></div></li>
                                    
 
                                        </ul>
                                    </li>
 
                                <li class="parent"><div class="link-wrapper"><a href="/modes/walking/lea-valley">Lea Valley Walk</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/modes/walking/loop-walk">London LOOP</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/modes/walking/thames-path">Thames Path</a></div></li>
                            
 
                                </ul>
                            </li>
 
                                <li><div class="link-wrapper"><a href="/modes/walking/health-and-walking">Health and walking</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/modes/walking/find-your-way-around">Find your way around</a></div></li>
                            
 
                </ul>
            
 
 
 
 
 
 
 
 
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
      </div>
    
    <div>
























<div class="advert-tile unsponsored-style google-ads" aria-hidden="true">
  <div class="advert-link">
    <div class="advert-content">
        <div class="medium-large" data-advert="/76889402/walking" data-advert-sizes="300, 250"></div>
        <div class="small" data-advert="/76889402/walking" data-advert-sizes="300, 250"></div>
    </div>
  </div>
</div>
@{
    ViewBag.AmazonSlot = "'amznslots'";
    ViewBag.AmazonAds = "'3199'"; // to add another value, this needs to be ViewBag.AmazonAds = "'3199','xx'";
}
      

 </div>
    
    <div data-set="sidenav-container" class="small-medium"></div>
  </div>
</div>
 
 
        
        
        
            @{ViewBag.Description = "Section one of the Jubilee Walkway is the Western Loop Walk: a circular journey around some of London's most historic, and best-loved buildings. ";}
        
            
        


 