


@{ViewBag.Title = " TfL Annual Report published";}
        
        
<div class="r">
    <div class="breadcrumb-container" role="navigation">
        <span id="breadcrumb-label" class="visually-hidden">You are here:</span>
        <ol class="breadcrumbs clearfix" aria-labelledby="breadcrumb-label">
            <li class="home">
                <a href="/">
                    <span class="hide-text">Home</span>
                </a>
            </li>
            
                <li>
                    <a href="/info-for/media/index">Media</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases">Press releases</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases/2015">2015</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases/2015/june">June</a>
                </li>
                
                <li>
                    <span class="last-breadcrumb"> TfL Annual Report published</span>
                </li>
            
 
            
 
            
 
            
 
            
 
        </ul>
    </div>
</div>
     
 
<div class="r">
    <div class="headline-container plain">
        <h1> TfL Annual Report published</h1>
        <div class="content-page-press-release">
        09 June 2015
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        30 million journeys made each day on TfL services as 2014/15 Annual Report published
        
    </div>



 <div class="on-this-page">
<p>Transport for London (TfL) has published its draft Annual Report and Statement of Accounts for the year ending 31 March 2015, which will be considered by the TfL Board at its next meeting on 1 July.</p>
<p>2014/15 was another record year for TfL, with around half a billion more public transport journeys now taking place compared to five years ago.  All parts of the TfL network are seeing growing demand as London's population rose to its highest ever level, 8.6 million, this year and is predicted to rise to around 10 million by 2030.</p>
<p>More than 1.3 billion passenger journeys were made on London Underground in 2014/15, an increase of 3.2% on the previous year.  Despite the increasing number of people using the Tube, customers are now getting around London faster than ever because of improved reliability, as a result of the Tube Modernisation Programme.  The average train journey time has reduced by 13% since 2002/03, reflecting improving reliability and increased services.</p>
<p>Record numbers of people are using London's buses &#45; in 2014/15 there were nearly 2.4 billion passenger journeys while customer satisfaction and service reliability also remain at near-record levels.  This represents over half of all bus journeys taken in England.</p>
<p>The DLR and London Overground also carried record numbers of passengers.  On the DLR there was a record of almost 110 million passenger journeys, up by almost five million.  On London Overground, there was record 140 million passenger journeys, almost ten million more than the previous year.</p>
<p>London River Services carried more than 10 million passengers for the first time in the last financial year &#45; 10,022,668 in 2014/15 compared with 8,411,200 in 2013/14.</p>
<p>Progress towards extending the network has also continued apace. The Northern Line Extension received approval from the Secretary of State. The extension will support 24,000 new jobs and more than 18,000 new homes. A consultation on extending the Bakerloo line into south London received 15,000 responses, of which 96% were supportive of the extension in principle. Plans to extend the London Overground to Barking Riverside received overwhelming public support at consultation. Regeneration at Barking Riverside could provide up to 2,500 new jobs and 10,800 new homes.</p>
<p>A public consultation on plans for new river crossings at Woolwich, Gallions Reach and Belvedere took place in July 2014. The crossings are crucial for the continued economic development of east London. TfL also consulted on detailed proposals for the Silvertown Tunnel and started refurbishment work on the Woolwich Ferry.</p>
<p>In November 2014, funding and finance options for Crossrail 2 were published.  And in March 2015, following public consultation, the Department for Transport (DfT) confirmed that the route for Crossrail 2 has been safeguarded, which protects it from potential redevelopment plans that could affect the construction.</p>
<p>Work on TfL's unprecedented &pound;4bn Road Modernisation Plan continued apace, delivering road and junction improvements, new, safer cycling routes and a better, more agreeable environment.</p>
<p>TfL secured &pound;43.75m in sponsorship to grow and develop London's cycle hire scheme. The partnership, with Santander, has already seen the launch of a new app allowing users to hire a bike from their phone. More bikes will be available on the street and extra docking points are being added around London. Usage of the scheme rose by a quarter last year and is at a record high, with more than 10 million journeys made in 2014.</p>
<p>More than five million people have now flown on the Emirates Air Line. The cable car started a new 'Night Flight' experience, with later opening hours, a longer flight time and complementary music and video entertainment in cabins and at the terminals.</p>
<p>In January 2015, TfL implemented a new fares package targeted at part time and flexible workers to give them a fairer deal which is benefiting 200,000 customers a day.</p>
<p>TfL has continued to work with thousands of suppliers in the UK, supporting around 60,000 jobs outside the Capital this year in roles from manufacturing to engineering.  This represents 60% of TfL's procurement and is the equivalent to the same number of people employed by Boots UK.  TfL's  supply chain is key to sustained investment and has enabled TfL to secure better value and provide certainty to its supplier base.</p>
<p>Through sustained investment, TfL is improving services and supporting access to jobs and housing, supporting London and the UK's economic growth and development whilst delivering value for money for fare and tax payers.</p>
<p>Delivery of service improvements and modernisation:</p>
<h2>
London Underground, Rail and Crossrail</h2>
<ul>
    <li>Following the modernisation of the Victoria line, 34 trains an hour now run during the busiest times, making it one of the most frequent metro services in Europe</li>
    <li>Capacity on the Northern line, one of the busiest on the Tube, was increased by 20% as part of the Tube improvement programme. The line can now carry 11,000 more passengers an hour</li>
    <li>New air conditioned trains have been introduced on Metropolitan, Circle and Hammersmith and City lines, have begun to be introduced on the District Line and is expected to be complete by the end of next year</li>
    <li>Five-car trains introduced on key sections of the London Overground network, boosting capacity by 25%<br />
    Pudding Mill Lane DLR station opened, boosting capacity by an extra 1,100 customers an hour</li>
    <li>Crossrail, which will add 10% extra capacity to the rail network from 2018, is now more than halfway built and remains on time and on budget </li>
    <li>Redevelopment work to increase capacity at key stations and make them step-free is underway at places such as Victoria, Tottenham Court Road and Bond Street.  More than half of London Underground's 270 stations have now been improved to make them brighter and easier to use, with tactile strips, better CCTV and help points, electronic information displays in ticket halls and on platforms and improved seating and lighting</li>
</ul>
<h2>
Cycling</h2>
<ul>
    <li>To support massive growth in cycling journeys, TfL began the construction of new segregated Cycle Superhighways and, with the boroughs, will introduce new Quietways</li>
    <li>Radical transformations to dangerous gyratories will improve conditions and safety for cyclists and pedestrians. This includes Elephant and Castle's northern roundabout where construction work has started. The work will reduce the impact of traffic and make the area feel cleaner and greener and a major new public space will be created in and around the new peninsular.</li>
    <li>
    The first of the 'Cycling Mini Hollands' are under construction in Waltham Forest. The aim is to move significant numbers of suburban car journeys to the bike</li>
</ul>
<h2>Road Safety
</h2>
<ul>
    <li>The number of people killed or seriously injured (KSI) on London's roads has been further reduced this year. Indicative results for the full year show a reduction in KSIs of 40.2% from the 2005-2009 average baseline and a 6.8% reduction from 2013.</li>
    <li>The world's first Safer Lorry Scheme was announced and will launch in September.  The rogue minority of HGVs that operate without basic safety equipment will be forced to improve or be banned</li>
    <li>Four buses have been fitted with new bus sensor technology as part of a trial to improve bus driver awareness of pedestrians and cyclists.</li>
    <li>A new Roads and Transport Policing Command was created, bringing together 2,300 Police and Community Support Officers to further improve the safety and security of roads and buses, making it the largest police command in the UK</li>
</ul>
<h2>Bus services</h2>
<ul>
    <li>The bus network saw a major boost through TfL's business plan with funding for over 500 extra buses, equivalent to an extra 2.9m journeys each week. An additional &pound;200m was also confirmed for improving bus reliability. Routes have been extended in Haringey, Islington, Mitcham and Southwark. And more Night buses have been introduced to the popular night routes serving Shoreditch and Hackney.</li>
    <li>The extra buses will also be used to improve transport connections to key growth areas, such as Barking Riverside and Elephant and Castle, providing high quality bus routes between new residential areas and local town centres.</li>
</ul>
<h2>
Customer Service</h2>
<ul>
    <li>TfL became the first transport authority to introduce contactless ticketing, vastly improving convenience for customers and quickly becoming the fastest growing merchant in Europe for those payments.  There have been over 100 million journeys made using contactless since launch on 16 September 2014</li>
    <li>In June 2014, the 'One More Journey' facility was introduced for Oyster users and online refunds became available for service delays</li>
    <li>TfL developed a new smart phone friendly website to meet the needs of our tech-savvy city and continued to be a driving force for free open data, fuelling hundreds of new travel apps.  TfL is also a pioneer in the use of 'big data' to improve services for customers and trialled free WiFi on two buses</li>
    <li>The click and collect service was expanded, enabling people to pick up goods from major retailers at 42 Tube stations</li>
</ul>
<h2>
Road Modernisation</h2>
<ul>
    <li>TfL's unprecedented &pound;4bn roads modernisation programme is delivering improved and more agreeable environments, and safer roads on its network and in London's local centres. Highbury Corner, Vauxhall Cross, Stratford gyratory, Marble Arch, Balham High Road and Hammersmith Broadway are just a few of the ultra-busy junctions and congested areas on the road network that are being transformed in the coming years</li>
    <li>17 major road schemes, 33 junction improvements and four new Cycle Superhighways make it the biggest investment in London's streets in a generation. The work will radically improve highways, bridges, tunnels and public spaces, making roads safer, more reliable and the Capital a better place in which to live, work and travel.</li>
    <li>The SCOOT (Split Cycle Offset Optimisation Technique) technology scheme was introduced at a further 309 traffic signal sites to help to cut delays. The system uses sensors in the road to detect when traffic is building up, and changes the traffic lights accordingly</li>
</ul>
<h2>Accessibility</h2>
<ul>
    <li>A new &pound;76m fund to speed up accessibility improvements on the underground was announced in October 2014, together with confirmation that all Crossrail stations will be step-free. The &pound;76m will enable another dozen Tube stations to become step-free over the next ten years.</li>
    <li>1,500 people visited TfL's pioneering accessibility event, Access All Areas at ExCeL, also in October and work continued at a number of Tube stations to provide step-free access with Tottenham Court Road set to be the next major station to become step-free in 2016.</li>
    <li>
    80% of bus stops are now accessible after &pound;8.4m investment with the number of accessible stops doubling since 2008. At least 95% of bus stops on London's roads will be accessible by 2016</li>
    <li>
    A trial took place at Pimlico Tube station to assist blind and partially sighted people to navigate the Tube network independently, using Bluetooth beacons and a smartphone app</li>
</ul>
<h2>Air Quality</h2>
<ul>
    <li>An Ultra Low Emission Zone was confirmed, which will significantly improve air quality and help to protect the health of Londoners. It will be launched in central London on 7 September 2020.</li>
    <li>&pound;65m will be required to deliver plans for cleaner taxis, of which &pound;25m has been confirmed by the Government.</li>
    <li>Over half the target number of New Routemasters planned to be running on London's streets by 2016 are now in service. They will reduce annual carbon dioxide (CO2) emissions by around 20,600 tonnes</li>
    <li>TfL's retrofit programme has seen more than 1,000 buses become cleaner with up to an 88% reduction in nitrogen oxide (NOx) emissions</li>
    <li>The first British-built pure electric buses began running in west London in July 2014 and two electric buses were introduced in Croydon in December 2014</li>
</ul>
<h2>Working with other cities</h2>
<ul>
    <li>London has joined other cities to argue for reform in the way transport infrastructure is funded.  Alongside Manchester, Birmingham, Leeds and Sheffield TfL has been making the case for Whitehall to give London and other cities a greater say over their own futures and in turn boost the prosperity of UK plc.</li>
</ul>
<h2>Encouraging gender diversity in transport</h2>
<ul>
    <li>TfL has joined forces with Crossrail, the DfT, Network Rail, the Women's Transportation Seminar and Women's Engineering Society and others in the transport industry to celebrate 100 Years of Women in Transport to showcase the role of women in transport, share best practice from across the industry and tackle the challenges that remain to encourage more women to work in transport.</li>
</ul>
<p>The Mayor of London, Boris Johnson, said: `It has been another record breaking year for London's transport network, which has carried an amazing number of people around our great city. Whether by Tube, train, bus or bike, more people are travelling around London than ever before. I'm delighted to say that TfL has risen to the challenge of this enormous task, with a relentless focus on providing improved services, as well as value for fare and taxpayer money. But of course, with a rapidly growing population, we can't afford to stand still. Delivering continued improvements to transport in London &#45; as well pressing for major new projects such as Crossrail 2 &#45; is going to be crucial for the capital's continued success as a major global city.'</p>
<p>Baroness Tanni Grey-Thompson DBE, Chair of TfL's Remuneration Committee, said:`TfL and its staff are to be congratulated on another hugely successful year.  Customers are benefiting from massive improvements and investment to the transport network and it's great to see customer satisfaction continue to achieve record scores across the majority of transport services.'</p>
<p>London's Transport Commissioner, Sir Peter Hendy CBE, said: `It's been another highly successful year for TfL, with record breaking numbers of passenger journeys and all parts of the network seeing growing demand. As more people move to the Capital, at a rate of two Tube trains every week, London's transport has enabled this growth, driving the economic and social wellbeing of London and the country as a whole. This growth will pose new challenges in the years ahead and we are determined to rise to them efficiently and effectively, and always to the benefit of our customers and users. We must do more, do it better and all for less money. And we are.'</p>
<h2>Remuneration:</h2>
<p>The base pay of the Commissioner was frozen for a sixth consecutive year.<br />
The base pay and the total remuneration of the Commissioner and the Chief Officers remains significantly lower than that paid in comparable organisations which TfL competes with for high quality staff.</p>
<p>Research by remuneration consultants, New Bridge Street, shows that the base salaries and total target remuneration of the Commissioner and all Chief Officers are significantly below the market level; total is between 36% and 74% of total target remuneration.</p>
<p>TfL is delivering one of the world's largest programmes of capital investment, which is building Crossrail, modernising Tube services and stations, improving the road network and making roads safer, especially for vulnerable road users.  The total capital investment during 2014/15 was &pound;3.58 billion (TfL investment programme &pound;2.06 billion, Crossrail &pound;1.52 billion).</p>
<p>The number of TfL staff (excluding Crossrail) who received total remuneration over &pound;100,000, including those paid above this amount due to severance payments and overtime worked, was 413 in 2014/15 compared to 326 in 2013/14. The number of Crossrail staff who received total remuneration of over &pound;100,000 was 41 in 2014/15 compared to 40 in 2013/14.</p>
<p>This is largely attributable to the increased number of employees working overtime to complete major multi-billion pound projects to modernise London Underground and Crossrail.  There was also an increase in those who received voluntary severance as part of efficiency measures which will deliver financial savings.</p>
<p>The overtime was worked by specialist engineers and highly skilled project staff, 91 of whom earn a base salary of less than &pound;100,000.  However, the overtime earned took their total remuneration above this.  This is more than double the number of people who were in this position in 2013/14, due to the fact that the modernisation programme increased in its scale during this year.</p>
<p>Examples of their work include:</p>
<ul>
    <li>
    Replacing hundreds of kilometres of track, sleepers, ballast and rails to improve service reliability for customers</li>
    <li>Upgrading major stations to improve capacity and reduce crowding</li>
    <li>
    Upgrading and replacing ageing signalling and power systems to provide faster, more frequent and reliable services.</li>
</ul>
<p>There was also an increase of 19 people (40 in 2013/14 to 59 in 2014/15) who were on a base salary of less than &pound;100,000 but who received a one off Voluntary Severance payment which took their total remuneration above this. This is largely the result of the reorganisation of project support areas within London Underground in order to modernise and deliver financial efficiency savings.</p>
<p>All of this work is vital to ensure we keep pace with London's huge population growth, expected to rise from 8.6 million today to nearly 10 million by 2030, to ensure we can continue to support London's growth and economic development.</p>
<p>To deliver against this enormous agenda, TfL needs highly skilled, specialist and experienced staff and compete with the private sector for the best professional staff across a range of disciplines, including world-leading engineers and project managers.</p>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
                <a href="/info-for/media/index" class="heading">
                    <h2 id="sub-menu-heading">Media<span class="visually-hidden"> navigation</span></h2>
                </a>
                <ul>
                    
                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases">Press releases</a></div>
                                <ul>
                                    
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2020">2020</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019">2019</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018">2018</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017">2017</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016">2016</a></div></li>
                            
 
                                        <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015">2015</a></div>
                                        <ul>
                                            
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015/december">December</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015/november">November</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015/october">October</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015/september">September</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015/august">August</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015/july">July</a></div></li>
                                    
 
                                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015/june">June</a></div>
                                                <ul>
                                                    
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
                                                </ul>
                                            
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015/may">May</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015/april">April</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015/march">March</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015/february">February</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015/january">January</a></div></li>
                                    
 
                                        </ul>
                                    </li>
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014">2014</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2013">2013</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2012">2012</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2011">2011</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2010">2010</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2009">2009</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2008">2008</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2007">2007</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2006">2006</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2005">2005</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2004">2004</a></div></li>
                            
 
                                </ul>
                            </li>
 
                                <li><div class="link-wrapper"><a href="/info-for/media/photos">Photos</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/media/contact-the-press-office">Contact the Press Office</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/filming-and-photography">Filming & photography</a></div></li>
                            
 
                </ul>
            
 
 
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype: -Home-Media-Media-Press releases-2015-June- TfL Annual Report published -->

 
 
        
        
            @{ViewBag.Description = "30 million journeys made each day on TfL services as 2014/15 Annual Report published";}
        
        


 