


@{ViewBag.Title = "Approval to progress with redevelopment of 55 Broadway";}
        
        
<div class="r">
    <div class="breadcrumb-container" role="navigation">
        <span id="breadcrumb-label" class="visually-hidden">You are here:</span>
        <ol class="breadcrumbs clearfix" aria-labelledby="breadcrumb-label">
            <li class="home">
                <a href="/">
                    <span class="hide-text">Home</span>
                </a>
            </li>
            
                <li>
                    <a href="/info-for/media/index">Media</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases">Press releases</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases/2015">2015</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases/2015/june">June</a>
                </li>
                
                <li>
                    <span class="last-breadcrumb">Approval to progress with redevelopment of 55 Broadway</span>
                </li>
            
 
            
 
            
 
            
 
            
 
        </ul>
    </div>
</div>
     
 
<div class="r">
    <div class="headline-container plain">
        <h1>Approval to progress with redevelopment of 55 Broadway</h1>
        <div class="content-page-press-release">
        17 June 2015
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        Redevelopment of Grade I listed 55 Broadway will deliver a mix of affordable, social and private housing as well as improved retail units and some retained office space
        
    </div>



<div class="pull-quote">
        <div class="quote-body">"TfL is one of the largest landowners in London. I am delighted that 55 Broadway can now be brought forward for development, generating significant sums to reinvest back into the transport network whilst helping us bear down on fares. The building is a part of our heritage, and its redevelopment will also enable us to preserve and enhance its historic features."</div>
        <div class="quote-footer">
            <div class="quotee-name">Graeme Craig</div>
            <div class="quotee-job-title">Director of Commercial Development, TfL</div>
        </div>
</div>

 <div class="on-this-page">
<ul>
    <li>Part of plans to generate &pound;3.4bn non-fare revenue to reinvest in the transport network</li>
</ul>
<p>Transport for London (TfL) has been given the green light for the redevelopment of London Underground's historic HQ &#45; the Grade I listed 55 Broadway. Planning approval was granted at Westminster City Council's Planning Applications Committee on 16 June 2015.</p>
<p>The decision means TfL can progress with plans to transform the iconic building from outdated offices to a landmark residential led development with affordable housing. The development will also include 1,308sqm of retained office space. The move to transform the building is part of TfL's continuing plans to generate &pound;3.4bn in non-fare revenue over the next decade to reinvest back into the transport network for the benefit of customers and users.</p>
<p>The approved plan details the delivery of 23.5 per cent affordable and social housing including family sized homes, which TfL has maximised within the development constraints, thus delivering one of the highest levels of on site affordable and social housing ever seen in this part of the borough.</p>
<p>The plans will enable TfL to maintain the heritage of the building and reinstate Charles Holden's original design for the ground floor. The redevelopment will also increase the amount and quality of the retail space at St James's Park Tube station.</p>
<p>Graeme Craig, Director of Commercial Development at TfL, said: </p>
<p>'TfL is one of the largest landowners in London. I am delighted that 55 Broadway can now be brought forward for development, generating significant sums to reinvest back into the transport network whilst helping us bear down on fares. The building is a part of our heritage, and its redevelopment will also enable us to preserve and enhance its historic features.'</p>
<p>Charles Holden designed the building between 1927 and 1929, and it was constructed as a new headquarters for the Underground Electric Railways Company of London (UERL), the main forerunner  of London Underground.</p>
<p>The redevelopment is part of TfL's wider commercial plans to maximise the value of its assets to generate long-term revenue to reinvest back into the transport network. In January 2015, TfL launched a tender process to identify a number of property development partners to work with on 50+ sites across London. In March of this year, TfL received over 50 responses from a broad range of property companies. TfL has now shortlisted 16 companies and they will undergo further evaluation and a select number will be invited to submit final tenders.</p>
<p>In May 2014, TfL appointed TateHindle as its architects for 55 Broadway following a Competitive Dialogue Procurement Process under the OJEU (Official Journal of the European Union) process.</p>
<p>&nbsp;</p>
<hr />
<p>Notes to Editors:</p>
<ul>
    <li>Link to the planning application &#45; <a href="http://committees.westminster.gov.uk/ieListDocuments.aspx?CId=167&amp;MId=3831&amp;Ver=4">http://committees.westminster.gov.uk/ieListDocuments.aspx?CId=167&amp;MId=3831&amp;Ver=4</a></li>
    <li>Westminster Council has a maximum requirement of 25 per cent of affordable and social housing in this part of the borough.</li>
    <li>Information is also available online on the TfL website <a href="http://www.tfl.gov.uk/corporate/about-tfl/culture-and-heritage/art-and-design/station-architecture/broadway">www.tfl.gov.uk/corporate/about-tfl/culture-and-heritage/art-and-design/station-architecture/broadway</a></li>
    <li>Photos of 55 Broadway may be found here - <a href="https://www.flickr.com/photos/tflpress/sets/72157644446373811/">https://www.flickr.com/photos/tflpress/sets/72157644446373811/</a></li>
    <li>London Underground owns the freehold interest in 55 Broadway, 100 Petty France and the Wing over Station (&quot;the Buildings&quot;) and holds a long occupational lease of Albany House. 55 Broadway is a Grade I Listed Building which lies within the Broadway &amp; Christchurch Gardens Conservation Area.</li>
    <li>The building was commissioned in the 1920s by The Underground Group who wanted Broadway to reflect its bold vision of the future of transport in London. Architects Adams, Holden and Pearson were given the task of creating a ground-breaking design.</li>
    <li>The site at St James's Park Tube station was challenging because of its irregular shape and the District and Circle line only 7.3 metres below. The solution was a cross-shaped layout, allowing pedestrians to walk through the ground floor of the offices, across the station booking hall, providing a short cut between Victoria Street and St James's Park.</li>
    <li>Above ground, the building was faced with 78,000 cubic feet of high quality Portland stone. Contemporary artists were invited to sculpt decorative features into the stone facade, carved on site. Two are just above street level and a further eight are above the sixth floor windows on each side of all four wings. The sculptors were:</li>
</ul>
<ul>
    <li>Jacob Epstein</li>
    <li>Eric Gill;</li>
    <li>Henry Moore;</li>
    <li>A H Gerrard;</li>
    <li>Eric Aumonier;</li>
    <li>Allan Wyon; and</li>
    <li>Samuel Rabinovitch.</li>
</ul>
<ul>
    <li>The Royal Institute of British Architects awarded 55 Broadway its 1929 London Architectural Medal.</li>
    <li>During WW2 the west wing received considerable damage as a result of bombing. It was rebuilt - without Portland stone facing which was not available at the time. The Portland stone was reinstated in 1963.</li>
    <li>55 Broadway was refurbished in the 1980s. The exterior stone work was cleaned, the windows replaced with exact replicas, and a new street-level shopping mall allowed the reopening of the eastern entrance to the building.</li>
    <li>Alongside TateHindle, TfL has also been working with Mott MacDonald, Knight Frank, CBRE, Alan Baxter &amp; Associates, Deloitte, BDP, Four Communications, Tavernor Consultancy and AVR London on its plans to redevelop 55 Broadway.</li>
</ul>
<p>&nbsp;</p>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
                <a href="/info-for/media/index" class="heading">
                    <h2 id="sub-menu-heading">Media<span class="visually-hidden"> navigation</span></h2>
                </a>
                <ul>
                    
                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases">Press releases</a></div>
                                <ul>
                                    
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2020">2020</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019">2019</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018">2018</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017">2017</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016">2016</a></div></li>
                            
 
                                        <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015">2015</a></div>
                                        <ul>
                                            
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015/december">December</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015/november">November</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015/october">October</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015/september">September</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015/august">August</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015/july">July</a></div></li>
                                    
 
                                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015/june">June</a></div>
                                                <ul>
                                                    
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
                                                </ul>
                                            
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015/may">May</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015/april">April</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015/march">March</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015/february">February</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015/january">January</a></div></li>
                                    
 
                                        </ul>
                                    </li>
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014">2014</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2013">2013</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2012">2012</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2011">2011</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2010">2010</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2009">2009</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2008">2008</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2007">2007</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2006">2006</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2005">2005</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2004">2004</a></div></li>
                            
 
                                </ul>
                            </li>
 
                                <li><div class="link-wrapper"><a href="/info-for/media/photos">Photos</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/media/contact-the-press-office">Contact the Press Office</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/filming-and-photography">Filming & photography</a></div></li>
                            
 
                </ul>
            
 
 
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype: -Home-Media-Media-Press releases-2015-June-Approval to progress with redevelopment of 55 Broadway -->

 
 
        
        
            @{ViewBag.Description = "TfL secures approval to progress with the landmark redevelopment of 55 Broadway";}
        
        


 