


@{ViewBag.Title = "DLR to join RidewithPride";}
        
        
<div class="r">
    <div class="breadcrumb-container" role="navigation">
        <span id="breadcrumb-label" class="visually-hidden">You are here:</span>
        <ol class="breadcrumbs clearfix" aria-labelledby="breadcrumb-label">
            <li class="home">
                <a href="/">
                    <span class="hide-text">Home</span>
                </a>
            </li>
            
                <li>
                    <a href="/info-for/media/index">Media</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases">Press releases</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases/2015">2015</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases/2015/june">June</a>
                </li>
                
                <li>
                    <span class="last-breadcrumb">DLR to join RidewithPride</span>
                </li>
            
 
            
 
            
 
            
 
            
 
        </ul>
    </div>
</div>
     
 
<div class="r">
    <div class="headline-container plain">
        <h1>DLR to join RidewithPride</h1>
        <div class="content-page-press-release">
        22 June 2015
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        Transport for London (TfL) has teamed up with Barclays to wrap a Docklands Light Railway (DLR) train in iconic rainbow livery to mark the Pride in London Festival, which takes place from 21 to 28 June
        
    </div>



<div class="pull-quote">
        <div class="quote-body">"The wrapping of the DLR train completes a trio of our rainbow themed projects this year to celebrate London's diversity.  We're extremely grateful that Barclays has paid for the train to be wrapped in our iconic design.  This is another great example of two organisations working together to celebrate LGBT staff and customers"</div>
        <div class="quote-footer">
            <div class="quotee-name">Martyn Loukes BEM, </div>
            <div class="quotee-job-title">Chair of TfL's LGBT staff network group, OUTbound</div>
        </div>
</div>

 <div class="on-this-page">
<p>Pride in London is the annual festival championing the lesbian, gay, bisexual and transgender (LGBT+) community and Barclays is the headline sponsor of the festival for the second consecutive year.</p>
<p>The DLR train completes a hat-trick of rainbow wrapped transport vehicles, which includes a New Routemaster and an iconic London black cab. The wrapped vehicles were designed to celebrate London's diversity and the 10th anniversary of TfL's LGBT+ staff network group, OUTbound.</p>
<p>Martyn Loukes BEM, Chair of TfL's LGBT staff network group, OUTbound, said: </p>
<p>'The wrapping of the DLR train completes a trio of our rainbow themed projects this year to celebrate London's diversity.  We're extremely grateful that Barclays has paid for the train to be wrapped in our iconic design.  This is another great example of two organisations working together to celebrate LGBT staff and customers.'</p>
<p>The two-car DLR train will be in service on the Canary Wharf to Stratford route from Monday 22 June and will remain on the network until later this year. The train wrap has been sponsored by Barclays and complements the #PrideHeroes advertising campaign featuring the bank's employees sharing their experiences of working in an environment that is inclusive and engaging for everyone. The campaign will run across the TfL network during the festival and will also feature volunteers and members of the public who have been nominated as #PrideHeroes.</p>
<p>Mark McLane, Barclays' Global Head of Diversity and Inclusion, said: </p>
<p>'The financial sector continues to make great strides in embracing diversity and what better way to celebrate this than with a Pride-themed train running between London's two financial centres, Canary Wharf and the City. We're delighted to be helping Londoners support Ride with Pride.'</p>
<p>Rory O'Neill, DLR Director, said:</p>
<p>'We are delighted to have this iconic artwork on our trains. It has taken a great deal of collaboration with our operator, KeolisAmey Docklands to get it done but it is well worth the effort.'</p>
<p>Michael Salter, Chairman for Pride in London, said: &quot;#PrideHeroes will celebrate both the well-known and the unsung heroes who have won equality over the years, or provided individuals with inspiration and support at times of most need.</p>
<p>'From today, Londoners and visitors to the city will see a selection of #PrideHeroes across not only the London Underground Tube stations and buses, but now also on a special #RideWithPride DLR train, thanks to TfL and Barlcays.'</p>
<p>A full list of #PrideHeroes nominated so far can be found at <a href="http://www.prideinlondon.org/heroes">www.prideinlondon.org/heroes</a> where people can also make their own nominations.</p>
<p>&nbsp;</p>
<hr />
<p>Notes to Editors:</p>
<ul>
    <li>
    Images of the rainbow DLR train, taxi and bus are available at: <a href="https://www.flickr.com/photos/tflpress/sets/72157654916496701">https://www.flickr.com/photos/tflpress/sets/72157654916496701</a></li>
    <li>A time-lapse video of the train wrap is available at:  <a href="http://youtu.be/jB65mvdOvlk\">http://youtu.be/jB65mvdOvlk\</a></li>
    <li>The New Routemaster is the first bus for more than 50 years to be built specifically for London. Almost 400 New Routemaster buses currently operate across 11 bus routes (8, 9, 10, 11, 24, 38, 55, 148, 390 and 453). By May 2016 a total of 800 of these vehicles will be in passenger service. New Routemaster buses are built by Wright Bus in Ballymena, Northern Ireland, and components for the buses come from across the UK.</li>
    <li>Last year, more than 750,000 people attended the Pride in London festival with 30,000 joining the annual parade, which is one the Capital's biggest one-day events.</li>
</ul>
<p>&nbsp;</p>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
                <a href="/info-for/media/index" class="heading">
                    <h2 id="sub-menu-heading">Media<span class="visually-hidden"> navigation</span></h2>
                </a>
                <ul>
                    
                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases">Press releases</a></div>
                                <ul>
                                    
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2020">2020</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019">2019</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018">2018</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017">2017</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016">2016</a></div></li>
                            
 
                                        <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015">2015</a></div>
                                        <ul>
                                            
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015/december">December</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015/november">November</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015/october">October</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015/september">September</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015/august">August</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015/july">July</a></div></li>
                                    
 
                                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015/june">June</a></div>
                                                <ul>
                                                    
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
                                                </ul>
                                            
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015/may">May</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015/april">April</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015/march">March</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015/february">February</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015/january">January</a></div></li>
                                    
 
                                        </ul>
                                    </li>
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014">2014</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2013">2013</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2012">2012</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2011">2011</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2010">2010</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2009">2009</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2008">2008</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2007">2007</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2006">2006</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2005">2005</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2004">2004</a></div></li>
                            
 
                                </ul>
                            </li>
 
                                <li><div class="link-wrapper"><a href="/info-for/media/photos">Photos</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/media/contact-the-press-office">Contact the Press Office</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/filming-and-photography">Filming & photography</a></div></li>
                            
 
                </ul>
            
 
 
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype: -Home-Media-Media-Press releases-2015-June-DLR to join RidewithPride -->

 
 
        
        
            @{ViewBag.Description = "DLR to join #RidewithPride";}
        
        


 