


@{ViewBag.Title = "Inspirational staff recognised at London Bus Awards";}
        
        
<div class="r">
    <div class="breadcrumb-container" role="navigation">
        <span id="breadcrumb-label" class="visually-hidden">You are here:</span>
        <ol class="breadcrumbs clearfix" aria-labelledby="breadcrumb-label">
            <li class="home">
                <a href="/">
                    <span class="hide-text">Home</span>
                </a>
            </li>
            
                <li>
                    <a href="/info-for/media/index">Media</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases">Press releases</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases/2015">2015</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases/2015/june">June</a>
                </li>
                
                <li>
                    <span class="last-breadcrumb">Inspirational staff recognised at London Bus Awards</span>
                </li>
            
 
            
 
            
 
            
 
            
 
        </ul>
    </div>
</div>
     
 
<div class="r">
    <div class="headline-container plain">
        <h1>Inspirational staff recognised at London Bus Awards</h1>
        <div class="content-page-press-release">
        26 June 2015
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        100 Years of Women in Transport marked with special award
        
    </div>



<div class="pull-quote">
        <div class="quote-body">"Carrying more than 2.4 billion passengers a year &#45; which equates to half of all bus journeys in England &#45; is no mean feat.  Whether for work or play, London relies on its 24-hour, world class bus network to ferry around the millions of Londoners and visitors enjoying all that our wonderful Capital has to offer and to drive the economy.This excellent service wouldn't be possible without the hard work and dedication of our staff and contractors who work day in and day out to keep London's bus network on the move.  The London Bus Awards gives us the opportunity to recognise all those who go above and beyond and to celebrate their valuable contribution to the industry"</div>
        <div class="quote-footer">
            <div class="quotee-name">Mike Weston</div>
            <div class="quotee-job-title">Director of Buses, TfL</div>
        </div>
</div>

 <div class="on-this-page">
<p>Exceptional customer service, going above and beyond the call of duty and championing accessibility were just some of the qualities that were recognised last night, Thursday 25 June, at Transport for London's (TfL's) London Bus Awards.</p>
<p>The London Bus Awards celebrate everyday successes and achievements, as well as the outstanding actions taken calmly and bravely by staff in some very difficult situations.  It acknowledges the incredible work that takes place every day that has helped make London's bus network one of the best, most accessible and extensive in the world.</p>
<p>Mike Weston, TfL's Director of Buses, said: </p>
<p>'Carrying more than 2.4 billion passengers a year &#45; which equates to half of all bus journeys in England &#45; is no mean feat.  Whether for work or play, London relies on its 24-hour, world class bus network to ferry around the millions of Londoners and visitors enjoying all that our wonderful Capital has to offer and to drive the economy.</p>
<p>'This excellent service wouldn't be possible without the hard work and dedication of our staff and contractors who work day in and day out to keep London's bus network on the move.  The London Bus Awards gives us the opportunity to recognise all those who go above and beyond and to celebrate their valuable contribution to the industry.'</p>
<p>This year's ceremony features a special award &#45; Inspirational Role Model to Women in the Bus Industry Award &#45; in celebration of 100 Years of Women in Transport.  The award aims to recognise women who have inspired other women in the bus industry.</p>
<p>2015 marks 100 years of women working in transport with women taking on operational roles in the First World War and being involved in building landmarks such as Waterloo Bridge, often dubbed the 'Ladies Bridge', which opened in December 1945.  TfL has joined forces with Crossrail, the Department for Transport, Network Rail, the Women's Transportation Seminar and Women's Engineering Society and others in the transport industry to celebrate 100 Years of Women in Transport.  This is being used as an opportunity to showcase the role of women in transport; share best practice from across the industry and tackle the challenges that remain.</p>
<p>The winner of the Inspirational Role Model to Women in the Bus Industry Award is:</p>
<p><strong>Jayne Cracknell, Epsom Coaches &#45; Quality Line (Head Office)</strong><br />
As Quality Line's Bus Service Manager, Jayne is an inspirational leader with exceptional care qualities and determination to run buses in London to the highest standard.  Jayne is involved with local authority groups and customer forums and has a passion for helping disability groups to access the bus network.  She has championed the high percentage of women in the Quality Line driving team by offering a range of flexible work times &#45; something that has benefited everyone. She's admired by all those around her and has inspired others to follow her lead.</p>
<p>Jayne was nominated alongside a number of other inspirational women from the bus industry.  The two runners-up for the award illustrate the breadth of talent to be found across the board:</p>
<p><strong>Hannah Self, Go-Ahead London (Camberwell and Mandela Way)</strong><br />
Since she began her career in the bus industry as a graduate trainee in 2003, Hannah has not shied away from a challenge.  In her time, she has been seconded to work with TfL's Workplace Violence Unit, been responsible for coordinating 350 drivers during the London 2012 Games, and last year took an active role in supporting the Year of the Bus.  She has also worked to engage drivers with older and disabled people in the community; and worked with schools to encourage the next generation to take up careers in the bus industry.  Now, Hannah manages two inner London garages, undoubtedly inspiring others to embark on a similar career path.</p>
<p><strong>Amanda Massingham, RATP Dev London (Edgware, Harrow and Park Royal)</strong><br />
Amanda joined the bus industry in 2002 as a graduate management trainee and has since become the General Manager of three garages.  Her hard work and influence has pushed her garages up the performance and reliability league tables, and this has led to Harrow being named Garage of the Year at the company's own Inspire Awards.</p>
<p>The other winners of this year's London Bus Awards are:</p>
<p><strong>Bekim Maliqi, RATP Dev London (Hounslow)</strong><br />
Actions above and beyond the call of duty &#45; recognises those who have gone out of the way to assist others, rising to challenges calmly and remaining in control and cool under pressure.<br />
While on route 81 last January, Bekim spotted a man who had climbed over the railings on the elevated section of the A4 near Heathrow.  Instinct took over and Bekim stopped his bus and, after talking to the man with the police, who arrived shortly afterwards, managed to pull him to safety.  Bekim returned to his bus, receiving cheers and applause from his passengers.</p>
<p><strong>Djelal Hassan, Arriva London (Clapton)</strong><br />
Outstanding Customer Service &#45; recognises those who excel at all levels of customer service, putting the passenger first at all times in areas such as safety, accessibility and communications.<br />
Djelal has received seven public commendations in eight months, with one customer suggesting he be awarded a medal for saying good morning and goodbye to every passenger!  He has also featured in his company magazine for 'going the extra smile'.</p>
<p><strong>Plumstead Garage, Stagecoach London</strong><br />
Best Vehicle Care &#45; recognises those who take pride in the condition of their buses setting the standard for cleanliness and providing a safe, comfortable, welcoming environment for passengers.<br />
A new, long-term strategy is helping to improve Plumstead Garage.  A strong commitment to staff development and upgraded engineering facilities are helping to strengthen performance and raise standards for customers.</p>
<p><strong>Felicia Grazette, Abellio (Battersea)</strong><br />
Accessibility Champion &#45; proactively demonstrates that they understand the barriers to travel for older/disabled passengers and ways they can address these to enable them to feel the bus is a reliable, convenient and accessible means of travel.<br />
'A hardworking, model driver, who's personally taken on the task of ensuring everyone, including older and disabled customers, can use our buses.'  That's how Felicia's manager describes the dedication she has to ensuring all passengers have a safe and comfortable journey.  Felicia has also been praised for her coaching role as part of the Driver Mentor team, and for the way she engages with her colleagues so they feel equipped to give world-class service.  Felicia also stars in TfL's 'All Aboard!' film that is used to train bus drivers on how to work effectively with our disabled customers.</p>
<p><strong>Prashantsen Deuchande, Metroline (Alperton)</strong><br />
Environmental Campaign Champion Award &#45; recognises those who have made a real change that goes above and beyond the company policy and 'business as usual' approach to sustainability and environmental issues within their organisation.<br />
Alperton driver Prashantsen is clearly committed to green and safe driving.  His Drive Green dashboard speaks volumes, with his scores over the past 12 months around five times better than the company average.  Prashantsen has also been praised by his management team for his work to make colleagues aware of the importance of Drive Green.  He's been known to share driving tips on how to improve Drive Green scores as part of his personal commitment to protecting the environment.</p>
<p><strong>Dawit Haile, TfL Bus Station Controller (Canada Water, London Bridge, North Greenwich and Vauxhall)</strong><br />
On the road Support &#45; recognises the achievements of TfL staff who work well with passengers and consistently provide assistance and support.<br />
During his 11 years as a bus station controller, Dawit has become a role model to his colleagues, continually demonstrating excellent customer service.  His calm nature helps defuse difficult situations with customers when disruption occurs, and he always has a constructive suggestion on how bus stations can be improved.  Most recently, his supportive actions to help an unwell customer continue his journey earned him a commendation after the customer wrote to Sir Peter Hendy CBE to thank him.</p>
<p><strong>Sharon Davidson, RATP Dev London (Hounslow Heath)</strong><br />
Outstanding Newcomer &#45; recognises those with less than two years experience in the industry who stand out from their peers.<br />
After spending 17 years as a full-time housewife and mum, Sharon's love for driving brought her to the bus industry where she passed her bus driving test with a clean sheet &#45; something her instructor had never seen before in 28 years!  With a spotless attendance record and a willingness to spend her own time learning her routes, Sharon has made a real impression and has even inspired some of her friends and family to join the industry.</p>
<p>&nbsp;</p>
<hr />
<p>Notes to Editors:</p>
<ul>
    <li>Photographs of winners are available on request</li>
</ul>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
                <a href="/info-for/media/index" class="heading">
                    <h2 id="sub-menu-heading">Media<span class="visually-hidden"> navigation</span></h2>
                </a>
                <ul>
                    
                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases">Press releases</a></div>
                                <ul>
                                    
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2020">2020</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019">2019</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018">2018</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017">2017</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016">2016</a></div></li>
                            
 
                                        <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015">2015</a></div>
                                        <ul>
                                            
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015/december">December</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015/november">November</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015/october">October</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015/september">September</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015/august">August</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015/july">July</a></div></li>
                                    
 
                                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015/june">June</a></div>
                                                <ul>
                                                    
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
                                                </ul>
                                            
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015/may">May</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015/april">April</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015/march">March</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015/february">February</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015/january">January</a></div></li>
                                    
 
                                        </ul>
                                    </li>
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014">2014</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2013">2013</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2012">2012</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2011">2011</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2010">2010</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2009">2009</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2008">2008</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2007">2007</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2006">2006</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2005">2005</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2004">2004</a></div></li>
                            
 
                                </ul>
                            </li>
 
                                <li><div class="link-wrapper"><a href="/info-for/media/photos">Photos</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/media/contact-the-press-office">Contact the Press Office</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/filming-and-photography">Filming & photography</a></div></li>
                            
 
                </ul>
            
 
 
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype: -Home-Media-Media-Press releases-2015-June-Inspirational staff recognised at London Bus Awards -->

 
 
        
        
            @{ViewBag.Description = "Inspirational and dedicated staff recognised at London Bus Awards";}
        
        


 