


@{ViewBag.Title = "London's biggest &quot;cycle-friendly zone&quot;  - work starts soon";}
        
        
<div class="r">
    <div class="breadcrumb-container" role="navigation">
        <span id="breadcrumb-label" class="visually-hidden">You are here:</span>
        <ol class="breadcrumbs clearfix" aria-labelledby="breadcrumb-label">
            <li class="home">
                <a href="/">
                    <span class="hide-text">Home</span>
                </a>
            </li>
            
                <li>
                    <a href="/info-for/media/index">Media</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases">Press releases</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases/2015">2015</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases/2015/june">June</a>
                </li>
                
                <li>
                    <span class="last-breadcrumb">London’s biggest “cycle-friendly zone”  - work starts soon</span>
                </li>
            
 
            
 
            
 
            
 
            
 
        </ul>
    </div>
</div>
     
 
<div class="r">
    <div class="headline-container plain">
        <h1>London’s biggest “cycle-friendly zone”  - work starts soon</h1>
        <div class="content-page-press-release">
        09 June 2015
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">



 <div class="on-this-page">
Cutting rat-running, major junction improvements and new sections of segregated lane will be at the heart of London's latest new Cycle Superhighway, which begins construction next month.
<p>Cycle Superhighway 1 (CS1) will run from Tottenham to the City on quiet side streets parallel to the A10. Journeys along it will be substantially quicker, safer and more pleasant than using the main road.</p>
<p>More than a thousand people responded to a public consultation on the route, of whom 77 per cent expressed support for the proposals. However, Transport for London (TfL) and Hackney Council have decided to further improve the plans.</p>
<p>They will now include greater, area-wide closures of residential streets to through traffic to make the route even more inviting for cyclists. An alternative route at the northern end will also be progressed to avoid a difficult stretch of St Ann's Road.</p>
<p>The Mayor of London, Boris Johnson, said: `This new route will be the A10 bypass, wafting you in tranquillity to within a few feet of the urban centres of Dalston, Stoke Newington, and Tottenham. It will be a pleasure to cycle on and I expect it to introduce thousands more people to the joys of cycling.'</p>
<p>Feryal Demirci, cabinet member for neighbourhoods at Hackney Council, said: `I have been delighted by the outpouring of support for the route and the demands to go further to create traffic-free streets.</p>
<p>'We therefore intend to be more ambitious than we initially proposed. We will use this opportunity to create area-wide street and road closures and make the neighbourhoods through which the route passes genuinely cycle-friendly.</p>
<p>'This will be the first time in London that we will be creating a safe haven for cyclists and pedestrians over so wide an area.'</p>
<p>The scheme will include:</p>
<ul>
    <li>Major enhancements to the busy 'Apex Junction' (Great Eastern Street and Old Street) to allow cyclists to cross more safely;</li>
    <li>Road closures to reduce traffic on some streets (eg Pitfield Street and Wordsworth Road) where it is not quiet enough;</li>
    <li>New segregated tracks on Balls Pond Road and other short stretches where the route has to use a busy road;</li>
    <li>New segregated tracks to link the scheme to the Old Street roundabout;</li>
    <li>Safer crossings for pedestrians;</li>
    <li>Improved public spaces along the route, including 1000 square metres of new footway and 60 new trees.</li>
</ul>
<p>Hackney now proposes further area-wide closures in De Beauvoir Town, in the wider Wordsworth Road area and elsewhere on the route to create genuinely low-traffic neighbourhoods. These further changes, which have long been requested by residents, will be subject to further consultation but the aim is to implement them at the same time as the rest of the CS1 route, or soon after.</p>
<p>Following representations that the route at the Tottenham end is not good enough, with a short section on a busy street at St Ann's Road that is too narrow for segregation, TfL has also started work on an alternative alignment which will involve greater segregation at the Tottenham end of the A10. This will be consulted on later. The originally proposed alignment will be delivered as an interim measure.</p>
<p>The Cycling Commissioner for London, Andrew Gilligan, said: `As we made clear in the Mayor's Vision for Cycling, Superhighways need not be on main roads where better, more direct alternatives exist. Some of the most successful stretches of the current network, such as Cable Street and Narrow Street on CS3, are on side streets. This route will be quicker to deliver, more pleasant to use and more convenient for cyclists than anything we could do on the main road - including full segregation.'</p>
<p>The new route has only eight sets of traffic lights, compared to 54 on the main road. A journey from the City to Tottenham on it will take around 30 minutes, compared to about 40 minutes on the main road.</p>
<p>Leon Daniels, managing director of surface transport at TfL, said: `Work on delivering new Cycle Superhighways is now underway right across London. This new CS1 will provide a clear and safe cycling route into central London, as well as seeing the major transformation of the Apex Junction. Cycling in London has more than doubled in the last decade and this more direct Superhighway on quiet backstreets will help encourage even more of it.'</p>
<p>For more information, please visit <a href="http://www.tfl.gov.uk/cs1">www.tfl.gov.uk/cs1</a></p>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
                <a href="/info-for/media/index" class="heading">
                    <h2 id="sub-menu-heading">Media<span class="visually-hidden"> navigation</span></h2>
                </a>
                <ul>
                    
                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases">Press releases</a></div>
                                <ul>
                                    
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2020">2020</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019">2019</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018">2018</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017">2017</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016">2016</a></div></li>
                            
 
                                        <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015">2015</a></div>
                                        <ul>
                                            
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015/december">December</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015/november">November</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015/october">October</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015/september">September</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015/august">August</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015/july">July</a></div></li>
                                    
 
                                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015/june">June</a></div>
                                                <ul>
                                                    
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
                                                </ul>
                                            
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015/may">May</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015/april">April</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015/march">March</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015/february">February</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015/january">January</a></div></li>
                                    
 
                                        </ul>
                                    </li>
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014">2014</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2013">2013</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2012">2012</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2011">2011</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2010">2010</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2009">2009</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2008">2008</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2007">2007</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2006">2006</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2005">2005</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2004">2004</a></div></li>
                            
 
                                </ul>
                            </li>
 
                                <li><div class="link-wrapper"><a href="/info-for/media/photos">Photos</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/media/contact-the-press-office">Contact the Press Office</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/filming-and-photography">Filming & photography</a></div></li>
                            
 
                </ul>
            
 
 
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype: -Home-Media-Media-Press releases-2015-June-London’s biggest “cycle-friendly zone”  - work starts soon -->

 
 
        
        
            @{ViewBag.Description = "Press releases and news articles from Transport for London";}
        
        


 