


@{ViewBag.Title = "London buses to trial speed safety technology";}
        
        
<div class="r">
    <div class="breadcrumb-container" role="navigation">
        <span id="breadcrumb-label" class="visually-hidden">You are here:</span>
        <ol class="breadcrumbs clearfix" aria-labelledby="breadcrumb-label">
            <li class="home">
                <a href="/">
                    <span class="hide-text">Home</span>
                </a>
            </li>
            
                <li>
                    <a href="/info-for/media/index">Media</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases">Press releases</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases/2015">2015</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases/2015/june">June</a>
                </li>
                
                <li>
                    <span class="last-breadcrumb">London buses to trial speed safety technology</span>
                </li>
            
 
            
 
            
 
            
 
            
 
        </ul>
    </div>
</div>
     
 
<div class="r">
    <div class="headline-container plain">
        <h1>London buses to trial speed safety technology</h1>
        <div class="content-page-press-release">
        26 June 2015
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        Cutting-edge new technology will be trialled on London's buses next month
        
    </div>



<div class="pull-quote">
        <div class="quote-body">"London's buses are central to keeping the city moving and our fleet is one of the safest in the world. However, with nearly 9,000 buses on the Capital's roads it's clear they have a major role to play in continuing improvements in road safety"</div>
        <div class="quote-footer">
            <div class="quotee-name">Isabel Dedring</div>
            <div class="quotee-job-title">The Deputy Mayor of London for Transport</div>
        </div>
</div>

 <div class="on-this-page">
<p>Cutting-edge new technology that is designed to reduce speeds and increase vehicle safety will be trialled on London's buses next month, as part of the Mayor and Transport for London's (TfL's) continuing work to halve the number of people killed or seriously injured on London's roads.</p>
<p>The Mayor and TfL announced today that Intelligent Speed Adaptation (ISA), an innovative technology that ensures vehicles can't exceed speed limits, will be trialled on 47 London buses in a UK-first.</p>
<p>The new technology, which was outlined in London's first Pedestrian Safety Action Plan last year, recognises speed limits on the route using TfL's Digital Speed Limit Map of London, and ensures that the bus is not able to go any faster.</p>
<p>The UK-first trials will take place on two routes - route 19 (which runs from Battersea to Finsbury Park) and route 486 (which runs from North Greenwich to Bexleyheath). These routes include a variety of different road environments, with differing speed limits, which will allow the new technology to be fully tested.</p>
<p>This will allow TfL to understand the effectiveness of ISA in promoting speed compliance across the road network and improving safety. The trials, which run until autumn, will also seek to understand the attitudes of drivers and passengers to the technology. If successful, ISA could be introduced across London's 8,700 bus fleet.</p>
<p>The Deputy Mayor of London for Transport, Isabel Dedring, said: </p>
<p>'London's buses are central to keeping the city moving and our fleet is one of the safest in the world. However, with nearly 9,000 buses on the Capital's roads it's clear they have a major role to play in continuing improvements in road safety. This trial is a great example of how we're harnessing innovation and new technology that will aide bus drivers on the job and help to improve the safety of other road users.'</p>
<p>Leon Daniels, Managing Director of Surface Transport at TfL, said: </p>
<p>'London's bus drivers are some of the best trained in the world, carrying more than 6.5 million passengers a day. However, in a city that is becoming increasingly busy, it is important that we do everything we can to make our roads safe for all.</p>
<p>'Intelligent Speed Adaptation improves road safety by reducing incidences of speeding for all road users, allowing drivers to focus on looking out for potential issues on the road rather than checking their speed limit. If this trial confirms that this technology could be beneficial to the safety of London's roads, it could be introduced across our bus fleet.'</p>
<p>Jack Skillen, London Director of Living Streets, said: </p>
<p>'It's critical that we make walking safer and easier as a way of improving people's health and wellbeing. We are pleased to see measures like the Intelligent Speed Adaptation being implemented on London's bus fleet and the introduction of more 20 mph limits to help reduce road danger and make our streets safer for pedestrians.  We have been working closely with TfL to put the Pedestrian Safety Action Plan in place, and look forward to seeing the roll out of ISA more widely across London.'</p>
<p>Phillip Shadbolt Chairman of Zeta Automotive, said: </p>
<p>'The team at Zeta Automotive are proud to be working with TfL during this trial to evaluate the impact of our Intelligent Speed Adaptation technology on speed compliance and improved road safety.'</p>
<p>The data informing the ISA trials will come from TfL's Digital Speed Limit map of London, which was re-launched last year to help spur the development of the next generation of in-vehicle technologies and mobile phone apps for the road. Making such information openly and freely available, and keeping it accurate, means existing services such as sat-navs and GPS can provide drivers with the correct information on the speed limit of the roads they are travelling on. This will give road users greater certainty and help to improve road safety.</p>
<p>London is continuing to lead the way in trialling innovative technology on buses. As well as developing the New Routemaster bus, the greenest bus of its kind in the world, earlier this year, state-of-the-art technology to allow passengers to know how many seats are still available on the upper deck was installed on the route 59. Last summer, TfL also carried out trials of pedestrian and cyclist detection technology on buses. Following these trials, a follow-up project is being planned to determine the role of this safety technology in preventing vulnerable road user injury on London's roads.</p>
<p>For more information about the work TfL is doing to make London's roads safer for all, please visit http://www.tfl.gov.uk/roadsafety</p>
<p>&nbsp;</p>
<hr />
<p>Notes to Editors:</p>
<ul>
    <li>Casualties involving buses have fallen dramatically in recent years and continue to do so. Latest figures from TfL show that killed or seriously injured collisions involving a bus or coach in London have fallen by around 60 per cent since 2000 and by 22 per cent in the last five years. However - there is no room for complacency, and TfL continues to work with stakeholders to further bear down on such incidents.</li>
    <li>As part of TfL's commitment to further improve transparency for customers and stakeholders, bus safety data is published on our website each quarter: <a href="http://www.tfl.gov.uk/corporate/publications-and-reports/buses">http://www.tfl.gov.uk/corporate/publications-and-reports/buses##on-this-page-1</a></li>
    <li>Earlier this month, TfL published the 2014 Road Casualties and Collisions report which showed that KSIs in London were at their lowest record ever during 2014: <a href="https://tfl.gov.uk/info-for/media/press-releases/2015/mayor-takes-action-to-halve-road-casualties-by-2020">https://tfl.gov.uk/info-for/media/press-releases/2015/mayor-takes-action-to-halve-road-casualties-by-2020</a></li>
    <li>In February 2014, the Mayor and TfL published six safety commitments, which supports the Safe Streets for London plan to reduce further the number of people killed or seriously injured on London's roads and bring focus to the range of actions needed by us and our partners to make our streets safer: <a href="http://www.tfl.gov.uk/cdn/static/cms/documents/safe-london-streets-our-six-road-safety-commitments.pdf">http://www.tfl.gov.uk/cdn/static/cms/documents/safe-london-streets-our-six-road-safety-commitments.pdf</a></li>
    <li>The six key commitments are:</li>
</ul>
<ol>
    <li>To lead the way in achieving a 50 per cent reduction in the number of people killed or seriously injured on the capital's roads by 2020 - with a longer term ambition of freeing London's roads from death and serious injury.</li>
    <li>To prioritise safety of the most vulnerable groups - pedestrians, cyclists and motorcyclists - which make up 80 per cent of serious and fatal collisions.</li>
    <li>To provide substantial funding for road safety, invested in the most effective and innovative schemes.</li>
    <li>To increase efforts with the police and enforcement agencies in tackling illegal, dangerous and careless road user behaviour that puts people at risk.</li>
    <li>To campaign for changes in national and EU law to make roads, vehicles and drivers safe.</li>
    <li>To work in partnership with boroughs and London's road safety stakeholders to spread best practice and share data and information.</li>
</ol>
<p>&nbsp;</p>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
                <a href="/info-for/media/index" class="heading">
                    <h2 id="sub-menu-heading">Media<span class="visually-hidden"> navigation</span></h2>
                </a>
                <ul>
                    
                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases">Press releases</a></div>
                                <ul>
                                    
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2020">2020</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019">2019</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018">2018</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017">2017</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016">2016</a></div></li>
                            
 
                                        <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015">2015</a></div>
                                        <ul>
                                            
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015/december">December</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015/november">November</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015/october">October</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015/september">September</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015/august">August</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015/july">July</a></div></li>
                                    
 
                                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015/june">June</a></div>
                                                <ul>
                                                    
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
                                                </ul>
                                            
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015/may">May</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015/april">April</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015/march">March</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015/february">February</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015/january">January</a></div></li>
                                    
 
                                        </ul>
                                    </li>
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014">2014</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2013">2013</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2012">2012</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2011">2011</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2010">2010</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2009">2009</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2008">2008</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2007">2007</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2006">2006</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2005">2005</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2004">2004</a></div></li>
                            
 
                                </ul>
                            </li>
 
                                <li><div class="link-wrapper"><a href="/info-for/media/photos">Photos</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/media/contact-the-press-office">Contact the Press Office</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/filming-and-photography">Filming & photography</a></div></li>
                            
 
                </ul>
            
 
 
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype: -Home-Media-Media-Press releases-2015-June-London buses to trial speed safety technology -->

 
 
        
        
            @{ViewBag.Description = "London buses to trial speed safety technology";}
        
        


 