


@{ViewBag.Title = "Major change to taxi fare payments moves a step closer";}
        
        
<div class="r">
    <div class="breadcrumb-container" role="navigation">
        <span id="breadcrumb-label" class="visually-hidden">You are here:</span>
        <ol class="breadcrumbs clearfix" aria-labelledby="breadcrumb-label">
            <li class="home">
                <a href="/">
                    <span class="hide-text">Home</span>
                </a>
            </li>
            
                <li>
                    <a href="/info-for/media/index">Media</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases">Press releases</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases/2015">2015</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases/2015/june">June</a>
                </li>
                
                <li>
                    <span class="last-breadcrumb">Major change to taxi fare payments moves a step closer</span>
                </li>
            
 
            
 
            
 
            
 
            
 
        </ul>
    </div>
</div>
     
 
<div class="r">
    <div class="headline-container plain">
        <h1>Major change to taxi fare payments moves a step closer</h1>
        <div class="content-page-press-release">
        19 June 2015
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        Opportunity for cabbies to reach growing number of contactless, cashless customers as	83% of passengers say they would like to be able to pay by card
        
    </div>



<div class="pull-quote">
        <div class="quote-body">"We are always trying to find ways we can improve the services that we offer to our customers and, with only half of taxis currently accepting card, we are keen to hear whether passengers and drivers feel that this would be a worthwhile change"</div>
        <div class="quote-footer">
            <div class="quotee-name">Helen Chapman</div>
            <div class="quotee-job-title">TfL's General Manager of Taxi and Private Hire</div>
        </div>
</div>

 <div class="on-this-page">
<p>A consultation has been launched to ask whether passengers should always have the option of paying for their journeys in London's iconic 'black' taxis by card &#45; making it even easier for anyone to jump into a cab and travel around the Capital.</p>
<p>The London taxi trade has long been envied as a world-leading service. TfL and trade representatives are working together to maintain that reputation by trying to make it as easy and convenient as possible to use.</p>
<h2>Modernise the industry</h2>
<p>The proposal was endorsed at a meeting last month between TfL, the Deputy Mayor for Transport Isabel Dedring, senior taxi trade representatives and card providers. Subject to the outcome of TfL's consultation, all agreed to work together to find a payment solution that will work for both drivers and customers.</p>
<p>The consultation is another step in TfL's continuing efforts, together with trade representatives, to modernise the industry and ensure that black cabs remain an essential part of life for people living in, working in or visiting London.</p>
<p>Currently there isn't a requirement for taxis to accept card payments, and only around half of drivers do, despite a recent survey suggesting that 83% of passengers would like to be able to pay by card.</p>
<h2>Alternative to cash</h2>
<p>The consultation seeks views on whether card payments should be accepted, giving passengers an alternative to cash. There is no intention to stop taxis accepting cash payments or for taxis to become cashless.</p>
<p>Helen Chapman, TfL's General Manager of Taxi and Private Hire, said: 'Card payments have become a central part of the lives of Londoners over the past few years, something that has only increased since the introduction of contactless payment.</p>
<p>'We are always trying to find ways we can improve the services that we offer to our customers and, with only half of taxis currently accepting card, we are keen to hear whether passengers and drivers feel that this would be a worthwhile change.'</p>
<h2>Convenient to use</h2>
<p>The consultation also asks if contactless payments, both with cards and other payment methods, should be accepted in all taxis.  The current contactless card payment limit is &pound;20, but this will increase to &pound;30 in September 2015 &#45; which would allow passengers to pay for most journeys, with the average taxi fare being &pound;19.50.</p>
<p>Richard Koch, Head of Policy and The UK Cards Association, said: 'Consumers find debit and credit cards easy and convenient to use, and with three-quarters of all retail spending now made on card, people expect to be able to use them in all settings.  Giving passengers the option of paying by card in London taxis would mean that customers no longer have to check they have enough cash before jumping into a cab.  This would be of great benefit to London's many international visitors.'</p>
<h2>Forefrunt of contactless</h2>
<p>TfL is at the forefront of contactless payment, with passengers now able to use both contactless cards and, when it launches next month, the new Apple Pay system to pay for bus, Tube, tram and London Overground journeys. Millions of customers use this option every day across the Capital and by offering a contactless service, the taxi trade could open itself to a vast new market.</p>
<p>This consultation is open until Friday 24 July and anyone with a view on the proposals can complete an online survey at: https://consultations.tfl.gov.uk/taxis/card-payment.  A summary of the responses to the consultation will be published once the consultation period has ended.  If appropriate, the TfL Board will be invited to approve any changes to the relevant taxi regulations.</p>
<hr />
<p><strong>Notes to Editors</strong></p>
<ul>
    <li>TfL is responsible for licensing 100,000 taxi and private hire drivers, 85,000 taxi and private hire vehicles and 3,000 private hire operators and is the largest licensing authority in England and Wales and is responsible for licensing over a third of all services</li>
    <li>TfL licences and regulates taxi services and fares in London, including setting surcharges for card payments</li>
    <li>This consultation is about credit or debit card payments in taxis (black cabs) only and no changes to payments for minicabs or other private hire services are being proposed or considered as part of this consultation</li>
    <li>There are around 22,500 licensed taxis in London, with approximately 185,000 passenger-carrying journeys per day.  These journeys average 3 miles and cost around &pound;19.50</li>
    <li>In 2014 the overall passenger satisfaction score for London's taxi services was 83 per cent, which has remained consistent since 2002.  The same survey indicated that 83% of passengers felt that they should be able to pay for all taxi journeys using a credit or debit card</li>
    <li>Passengers currently pay a maximum surcharge of &pound;1 or 10 per cent of the metered fee, whichever is greater</li>
    <li>One in every three contactless payments in the UK takes place in London, with one in five Londoners paying for their coffee and sandwiches using contactless</li>
    <li>Transport for London (TfL) is the fastest growing contactless Visa merchant in Europe, and in the UK for Mastercard and American Express just six months after it was launched on London Underground, tram, DLR, London Overground, buses and most National Rail services in London</li>
    <li>On 13 March 2015 the number of contactless taps made on a single day across London's transport network reached one million.  Over 14% of all pay as you go journeys across TfL services are now made using contactless, with over 60 million journeys made in the last six months</li>
</ul>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
                <a href="/info-for/media/index" class="heading">
                    <h2 id="sub-menu-heading">Media<span class="visually-hidden"> navigation</span></h2>
                </a>
                <ul>
                    
                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases">Press releases</a></div>
                                <ul>
                                    
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2020">2020</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019">2019</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018">2018</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017">2017</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016">2016</a></div></li>
                            
 
                                        <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015">2015</a></div>
                                        <ul>
                                            
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015/december">December</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015/november">November</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015/october">October</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015/september">September</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015/august">August</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015/july">July</a></div></li>
                                    
 
                                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015/june">June</a></div>
                                                <ul>
                                                    
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
                                                </ul>
                                            
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015/may">May</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015/april">April</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015/march">March</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015/february">February</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015/january">January</a></div></li>
                                    
 
                                        </ul>
                                    </li>
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014">2014</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2013">2013</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2012">2012</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2011">2011</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2010">2010</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2009">2009</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2008">2008</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2007">2007</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2006">2006</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2005">2005</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2004">2004</a></div></li>
                            
 
                                </ul>
                            </li>
 
                                <li><div class="link-wrapper"><a href="/info-for/media/photos">Photos</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/media/contact-the-press-office">Contact the Press Office</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/filming-and-photography">Filming & photography</a></div></li>
                            
 
                </ul>
            
 
 
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype: -Home-Media-Media-Press releases-2015-June-Major change to taxi fare payments moves a step closer -->

 
 
        
        
            @{ViewBag.Description = "Opportunity for cabbies to reach growing number of contactless, cashless customers as	83% of passengers say they would like to be able to pay by card";}
        
        


 