


@{ViewBag.Title = "Mayor hails transformed services as TfL takes West Anglia routes";}
        
        
<div class="r">
    <div class="breadcrumb-container" role="navigation">
        <span id="breadcrumb-label" class="visually-hidden">You are here:</span>
        <ol class="breadcrumbs clearfix" aria-labelledby="breadcrumb-label">
            <li class="home">
                <a href="/">
                    <span class="hide-text">Home</span>
                </a>
            </li>
            
                <li>
                    <a href="/info-for/media/index">Media</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases">Press releases</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases/2015">2015</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases/2015/june">June</a>
                </li>
                
                <li>
                    <span class="last-breadcrumb">Mayor hails transformed services as TfL takes West Anglia routes</span>
                </li>
            
 
            
 
            
 
            
 
            
 
        </ul>
    </div>
</div>
     
 
<div class="r">
    <div class="headline-container plain">
        <h1>Mayor hails transformed services as TfL takes West Anglia routes</h1>
        <div class="content-page-press-release">
        01 June 2015
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        Liverpool Street to Shenfield stopping services become part of TfL Rail
        
    </div>



<div class="pull-quote">
        <div class="quote-body">"...with London's population growing at a phenomenal rate, it is the perfect time for these new routes to pass to TfL so that they can be brought up to the same high standard."</div>
        <div class="quote-footer">
            <div class="quotee-name">Boris Johnson MP</div>
            <div class="quotee-job-title">Mayor of London</div>
        </div>
</div>

 <div class="on-this-page">
<p>The Mayor of London and Transport for London (TfL) today hailed the transformation of the West Anglia suburban rail routes from Liverpool Street to north-east London as they became part of the TfL network, with a range of benefits for passengers including lower fares.</p>
<p>Citing the award of this part of the franchise to TfL and with London's population set to grow to 10 million by 2030, the Mayor today renewed his call for better integrated rail services across the Capital.</p>
<p>The Mayor believes that action is needed now to ensure our rail network can continue to support the region's economy and that it needs to be enhanced and expanded to deliver a seamless and integrated service for passengers with joined up real-time travel information and more convenient and transparent ticketing.</p>
<p>Speaking on a visit to Enfield Town, the Mayor of London Boris Johnson MP said: `Since TfL took over under-used rail lines and created London Overground there have been massive improvements &#45; with delays down and passengers giving the network their vote of confidence in huge numbers.</p>
<p>`Now, with London's population growing at a phenomenal rate, it is the perfect time for these new routes to pass to TfL so that they can be brought up to the same high standard. Beyond this important addition to London's integrated transport network, I will be urging government colleagues to look at how the Southeastern services could operate when the franchise ends in 2018.</p>
<p>`At the same time we need to work collaboratively across both the public and private sectors to develop and improve our railways. We will need to be creative in how we fund new schemes, bringing in third-party funding and capturing the value they generate as we have for Crossrail and the Northern line extension. Bold thinking and broad partnerships are what we need to ensure rail can continue to grow in support of London's new homes, jobs and economic growth.'</p>
<p>Mike Brown, Managing Director of London Rail, said: `The integration of these rail routes with the rest of our network means that thousands of Londoners will now have staffed stations, more comfortable journeys and a better, safer more reliable service. Many customers will also get significantly cheaper fares.</p>
<p>`Further improvements will follow over the next few years as we refurbish stations and introduce new trains. This demonstrates what can be achieved with suburban rail with the right investment, the right accountability and a system that incentivises train operating companies to focus on reliable services and excellent customer service every day.'</p>
<p>Colin Stanbridge, Chief Executive, London Chamber of Commerce, said: `Almost half of our businesses have named poor reliability and punctuality of commuter train services into the Capital as one of the top three issues affecting their business, so rail services are beginning to have a major impact on London's productivity. The improvements that TfL have made on the London Overground show what is possible when the management and operation of rail services is rationalised in London. The extension of the London Overground is a positive step and we renew our call for the Government to consider devolving responsibility for more commuter trail lines to Transport for London, as mainline franchises come up for renewal.'</p>
<h2>London Overground</h2>
<p>London Overground has delivered significant improvements and shows what can be achieved. Delays have fallen by more than half and the number of people using the service has more than tripled. The transfer of the West Anglia services to TfL today represents another step towards a fully integrated network.</p>
<p>The move sees services currently operated by Abellio Greater Anglia between Liverpool Street station and Enfield Town, Cheshunt (via Seven Sisters) and Chingford, along with services between Romford and Upminster, becoming part of the highly successful London Overground network.  In addition, the stopping services between Liverpool Street and Shenfield will now be run as TfL Rail in preparation for the introduction of Crossrail services in 2017.</p>
<p>Under TfL customers will immediately see stations staffed at all times that services are running &#45; improving safety and ensuring a 'turn up and go' service for customers with reduced mobility. The new routes will be integrated with TfL's real-time information and Journey Planning and all of the stations will be thoroughly cleaned and repaired over the coming months, with new benches, signage, CCTV, gate lines and modern ticket machines installed.  TfL's real-time open data feeds, which enable developers to produce travel apps, will also include these services.</p>
<p>New trains will start to be introduced on the new London Overground routes in 2018, bringing greater capacity, walk-through carriages, air-conditioning, real-time information and other modern features. Until then, the current trains will be smartened up inside and out over the next 12 months to provide passengers with more comfortable journeys. Trains on the Liverpool Street to Shenfield stopping services are also being improved for customers ahead of the new Crossrail trains, with the first Crossrail services as far as Liverpool Street being introduced in 2017.</p>
<p>These routes have, until now, operated with National Rail pay as you go fares, which are generally higher than TfL fares. Now that the services have transferred to TfL, over 80 per cent of current rail journeys will reduce in price and all TfL concessions will apply, giving many customers substantial savings. The remaining 20 per cent of fares remain unchanged.</p>
<p>Some fares will fall by as much as 40 per cent, with examples of customer savings including:</p>
<ul>
    <li>Peak Zones 1-6 pay as you go fare from Romford to Oxford Circus has fallen from &pound;7.60 to &pound;5.10 (a 30 per cent reduction) with the off-peak fare falling from &pound;5.20 to &pound;3.10 (a 40 per cent reduction)</li>
    <li>Peak Zones 1-6 pay as you go fare from Cheshunt to Zone 1 has fallen from &pound;8.20 to &pound;6.90 (a 15 per cent reduction) with the off-peak fare falling from &pound;6.20 to &pound;4.00 (a 35 per cent reduction)</li>
</ul>
<p>Today's announcement demonstrates the potential benefits for passengers of integrating London's fares and the Mayor is again calling on the Government to enable a single set of fares for London, regardless of train operator. The current situation where fares from neighbouring stations can differ significantly must change with the different fare scales collapsed into one so all passengers are charged at the lower level set by the Mayor.</p>
<p>As London's success continues to drive population growth TfL is continuing to increase capacity on the London Overground network as part of one of the world's largest programmes of public transport investment, unlocking jobs and supporting new economic growth.</p>
<p>London's rail network as a whole has the potential to carry twice as many people and to act as a second Underground. This would particularly benefit south London passengers and a key opportunity will come as the big south London rail franchises are renewed &#45; the first being Southeastern in 2018. This would be an important step towards a new metro service operating fast, frequent and integrated services across south London.</p>
<p>In the longer term, a more ambitious approach for rail in London and the South East would help push ahead the brand new rail lines that will be needed to create better connections and unlock new areas for development. The Mayor's 2050 Infrastructure Plan recently set out London's overall infrastructure needs; for rail, key long-term infrastructure schemes could include:</p>
<ul>
    <li>Crossrail 2 &#45; this is the Mayor's top priority for new rail infrastructure and would deliver a high-frequency north-east, south-west service and enable 100,000 new trips into Central London.</li>
    <li>4-tracking of the West Anglia main line &#45; to enable faster services to destinations like Cambridge and Stansted and more frequent services at local stations in London.</li>
    <li>An outer orbital railway &#45; to better connect outer London town centres, provide additional orbital capacity and relieve pressure on central area.</li>
    <li>Improved interchange stations &#45; new or improved stations (e.g. East Croydon, Brockley and Streatham) to provide better connections.</li>
    <li>Extension of the Bakerloo Line &#45; tunnelling and new stations beyond Elephant &amp; Castle towards Lewisham.</li>
    <li>Extension of Tramlink &#45; A new connection across Sutton and Merton to support new homes and boost the local economy.</li>
    <li>Extension of the Northern Line to Clapham Junction &#45; Building on the Northern Line extension to Battersea, a further new link to relieve congestion at Clapham Junction and improve access to Central London.</li>
</ul>
<p>ENDS<br />
Notes to Editors:</p>
<ul>
    <li>Many passengers will find they have cheaper fare options as the new services will adopt the same fares and concessions structure available on all TfL rail services including through fares on series to London Underground stations in Zone 1. Point-to-point season tickets have not been withdrawn.</li>
    <li>On the Upminster to Romford service a member of staff will travel on the train between Romford and Emerson Park to ensure someone is available to assist passengers during hours of operation. Staff will also be available at Upminster and Romford stations from first to last train.</li>
    <li>TfL will provide more reliable services, particularly during off-peak times through our concession contracts with the appointed operators that focus them on meeting punctuality and customer service performance targets</li>
    <li>The current London Overground operator, LOROL, will run the West Anglia services under an extension of its existing contract. Preliminary work on the procurement of the new London Overground Concession due in 2016 has already begun.</li>
    <li>LOROL began operating the seven-year London Overground concession in November 2007. Under a contractual option, this was extended by two years until November 2016.</li>
    <li>Liverpool Street to Shenfield stopping services will be operated by MTR and are being run in preparation for the introduction of Crossrail, the east &#45; west railway that will transform travel in London</li>
</ul>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
                <a href="/info-for/media/index" class="heading">
                    <h2 id="sub-menu-heading">Media<span class="visually-hidden"> navigation</span></h2>
                </a>
                <ul>
                    
                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases">Press releases</a></div>
                                <ul>
                                    
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2020">2020</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019">2019</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018">2018</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017">2017</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016">2016</a></div></li>
                            
 
                                        <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015">2015</a></div>
                                        <ul>
                                            
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015/december">December</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015/november">November</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015/october">October</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015/september">September</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015/august">August</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015/july">July</a></div></li>
                                    
 
                                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015/june">June</a></div>
                                                <ul>
                                                    
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
                                                </ul>
                                            
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015/may">May</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015/april">April</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015/march">March</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015/february">February</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015/january">January</a></div></li>
                                    
 
                                        </ul>
                                    </li>
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014">2014</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2013">2013</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2012">2012</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2011">2011</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2010">2010</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2009">2009</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2008">2008</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2007">2007</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2006">2006</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2005">2005</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2004">2004</a></div></li>
                            
 
                                </ul>
                            </li>
 
                                <li><div class="link-wrapper"><a href="/info-for/media/photos">Photos</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/media/contact-the-press-office">Contact the Press Office</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/filming-and-photography">Filming & photography</a></div></li>
                            
 
                </ul>
            
 
 
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype: -Home-Media-Media-Press releases-2015-June-Mayor hails transformed services as TfL takes West Anglia routes -->

 
 
        
        
            @{ViewBag.Description = "Liverpool Street to Shenfield stopping services become part of TfL Rail";}
        
        


 