


@{ViewBag.Title = "New pocket Tube map by London-based Argentinian Pablo Bronstein";}
        
        
<div class="r">
    <div class="breadcrumb-container" role="navigation">
        <span id="breadcrumb-label" class="visually-hidden">You are here:</span>
        <ol class="breadcrumbs clearfix" aria-labelledby="breadcrumb-label">
            <li class="home">
                <a href="/">
                    <span class="hide-text">Home</span>
                </a>
            </li>
            
                <li>
                    <a href="/info-for/media/index">Media</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases">Press releases</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases/2015">2015</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases/2015/june">June</a>
                </li>
                
                <li>
                    <span class="last-breadcrumb">New pocket Tube map by London-based Argentinian Pablo Bronstein</span>
                </li>
            
 
            
 
            
 
            
 
            
 
        </ul>
    </div>
</div>
     
 
<div class="r">
    <div class="headline-container plain">
        <h1>New pocket Tube map by London-based Argentinian Pablo Bronstein</h1>
        <div class="content-page-press-release">
        01 June 2015
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">



 <div class="on-this-page">
<p>From today, customers travelling on the London Underground will be able to pick up the 22nd edition of the pocket Tube map, featuring a design by the artist Pablo Bronstein. Commissioned by Art on the Underground, the official art programme for Transport for London (TfL), the new cover will feature on over 12 million copies, making the pocket Tube map one of the most widely viewed art commissions in the world.</p>
<p>The artwork, entitled Design for a magnificent London Underground Grand Pendulum in gilt bronze, depicts a Tube tunnel entrance embellished with a Baroque-inspired clock. With echoes of 18th Century ornate design and 19th Century urban architecture, it celebrates time and travel on the Underground.</p>
<p>Bronstein's wider work draws influences from period design, particularly 18th Century neo-classicism and 20th Century postmodernism. He joins a group of world-famous artists whose works have graced the Tube map; previous editions have featured artworks by Daniel Buren, Rachel Whiteread, Tracey Emin, David Shrigley and Mark Wallinger.</p>
<p>Eleanor Pinfield, Head of Art on the Underground, said: `Our commissions are always created in response to London's unique Tube, bus, and river networks, and Pablo's work is an opulent tribute to the Underground. With this new commission, we are all reminded of the passage of time as we travel on the Tube.&quot;</p>
<p>Pablo Bronstein said: `A clock is an extremely complicated object that has a wealth of accumulated scientific knowledge. For this commission I began to think of the Tube network as a similarly complicated machine in which the different parts need to be working as a whole. The clock I have drawn is rather theatrical, and I wanted it to contrast with the practical Modern design frequently used on the Underground.'</p>
<hr />
Art on the Underground has commissioned 21 previous Tube map covers from leading contemporary artists, starting in 2004. Previous artists to feature their work on the Tube map have included: Daniel Buren, Rachel Whiteread, Imran Qureshi, Jeremy Deller (with Paul Ryan), Tracey Emin, Liam Gillick, Mona Hatoum, Gary Hume, Emma Kay, Yayoi Kusama,  Barbara Kruger, Richard Long, Michael Landy, Sarah Morris, Paul Noble, Cornelia Parker, Eva Rothschild, Yinka Shonibare MBE, David Shrigley, Mark Wallinger and Pae White.
<p>About Pablo Bronstein</p>
<p>Major upcoming solo exhibitions include The Grand Tour at Nottingham Contemporary, Nottingham and Chatsworth House (2015). Previous shows have included REDCAT, Los Angeles (2014); Centre d'Art Contemporain, Geneva (2013); Tate Modern, UK (2012); Institute of Contemporary Arts, London (2011).</p>
<p>About Art on the Underground</p>
<p>London Underground established Art on the Underground in 2000 initially under the title Platform for Art, with the purpose of producing and presenting new artworks that enrich the journeys of millions on the Tube every day.</p>
<p>From single site large-scale commissions at locations such as Gloucester Road Station, to pocket size commissions for the cover of the Tube map, Art on the Underground has gathered a roll-call of the best artists in the last 15 years, maintaining art as a central element of Transport for London's identity and engaging passengers and staff in a strong sense of shared ownership.</p>
<p>For London Underground's 150th Anniversary in 2013, Art on the Underground commissioned Turner Prize winning artist Mark Wallinger to create Labyrinth, a permanent artwork for each of the 270 stations on the network.</p>
<p>2014 saw the launch of Art on the Underground's first project on the river, with a commission by Clare Woods for TfL's London River Services; a new Gloucester Road commission, An English Landscape by Trevor Paglen; and The Palace that Joan Built by Mel Brimfield and Gwyneth Herbert, a major work responding to the legacy of Joan Littlewood at Stratford station.</p>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
                <a href="/info-for/media/index" class="heading">
                    <h2 id="sub-menu-heading">Media<span class="visually-hidden"> navigation</span></h2>
                </a>
                <ul>
                    
                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases">Press releases</a></div>
                                <ul>
                                    
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2020">2020</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019">2019</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018">2018</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017">2017</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016">2016</a></div></li>
                            
 
                                        <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015">2015</a></div>
                                        <ul>
                                            
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015/december">December</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015/november">November</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015/october">October</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015/september">September</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015/august">August</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015/july">July</a></div></li>
                                    
 
                                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015/june">June</a></div>
                                                <ul>
                                                    
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
                                                </ul>
                                            
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015/may">May</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015/april">April</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015/march">March</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015/february">February</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015/january">January</a></div></li>
                                    
 
                                        </ul>
                                    </li>
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014">2014</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2013">2013</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2012">2012</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2011">2011</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2010">2010</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2009">2009</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2008">2008</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2007">2007</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2006">2006</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2005">2005</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2004">2004</a></div></li>
                            
 
                                </ul>
                            </li>
 
                                <li><div class="link-wrapper"><a href="/info-for/media/photos">Photos</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/media/contact-the-press-office">Contact the Press Office</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/filming-and-photography">Filming & photography</a></div></li>
                            
 
                </ul>
            
 
 
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype: -Home-Media-Media-Press releases-2015-June-New pocket Tube map by London-based Argentinian Pablo Bronstein -->

 
 
        
        
            @{ViewBag.Description = "Press releases and news articles from Transport for London";}
        
        


 