


@{ViewBag.Title = "Passengers reminded - Major works ahead  to improve Victoria line services";}
        
        
<div class="r">
    <div class="breadcrumb-container" role="navigation">
        <span id="breadcrumb-label" class="visually-hidden">You are here:</span>
        <ol class="breadcrumbs clearfix" aria-labelledby="breadcrumb-label">
            <li class="home">
                <a href="/">
                    <span class="hide-text">Home</span>
                </a>
            </li>
            
                <li>
                    <a href="/info-for/media/index">Media</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases">Press releases</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases/2015">2015</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases/2015/june">June</a>
                </li>
                
                <li>
                    <span class="last-breadcrumb">Passengers reminded - Major works ahead  to improve Victoria line services</span>
                </li>
            
 
            
 
            
 
            
 
            
 
        </ul>
    </div>
</div>
     
 
<div class="r">
    <div class="headline-container plain">
        <h1>Passengers reminded - Major works ahead  to improve Victoria line services</h1>
        <div class="content-page-press-release">
        30 June 2015
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">



 <div class="on-this-page">
<p>Passengers are being reminded to plan ahead for improvement work on the Victoria line next month, which will lead to the operation of 36 trains per hour next year. This will provide a train every 100 seconds during peak hours, making the Victoria line the UK's highest frequency railway and comparable with the very best in the world. All peak-time trains will run the full length of the line from Walthamstow Central to Brixton, giving a 40% capacity boost for customers northeast of Seven Sisters.</p>
<p>The Victoria line now carries more than 200 million passengers each year and as on the rest of the Tube network demand keeps rising.</p>
<p>At present only 24 trains per hour can be run beyond Seven Sisters due to the layout of the points at Walthamstow Central crossover, which transfers northbound trains to the southbound line for their return journey. Renewal of the crossover is essential to achieve 36 trains per hour.</p>
<p>From Saturday 8 August to Sunday 30 August LU will rebuild the crossover, replacing the concrete track-bed and the rails and point work. During this period all northbound Victoria line trains will only go as far as Seven Sisters. The nature and scale of the work means it is not possible to do it during the very limited engineering hours available at nights and weekends.</p>
<p>David Waboso, Capital Programmes Director at LU, said: `To meet increasing customer demand for the Victoria line we are making the service the most frequent in the UK, with 36 trains per hour in 2016. We will also run all peak time trains to Walthamstow Central from Brixton, a capacity increase of more than 40% for customers north of Seven Sisters.</p>
<p>`During the work we won't be able to run Victoria line trains between Seven Sisters and Walthamstow Central. Our engineers will be working around the clock to keep the closure period as short as possible.'</p>
<p>During the closure there will be rail replacement buses for passengers. Services between Seven Sisters and Brixton will run at a lower frequency. The three-week closure means that other stations on the Victoria line will be busier, as will parts of the Central line and London Overground. Customers are advised to plan ahead and allow more time for their journey. LU will publicise information about the work and how to avoid delays, with customer emails, online information including via the &#64;victorialine Twitter account, posters and announcements in stations.</p>
<p>Rail replacement buses will run from Walthamstow Central to Seven Sisters station as well as from Walthamstow Central to Stratford and Stratford International stations. In addition, a temporary local bus route 558 will run between Chingford Mount and Seven Sisters, calling at Blackhorse Road and Tottenham Hale. Other options for passengers include the London Overground service from Walthamstow Central to Liverpool Street. LU tickets will also be accepted by other train operating companies on a number of routes.</p>
<p>For the most up to date information, including alternative travel options, visit www.tfl.gov.uk/victoria-line-closure</p>
<hr />
<p>During the closure, two rail replacement bus services and one temporary additional bus route will be introduced, as follows:</p>
<ul>
    <li>1)	Replacement bus service A: Walthamstow Central &#45; Blackhorse Road &#45; Tottenham Hale &#45; Seven Sisters</li>
    <li>2)	Replacement bus service B: Walthamstow Central &#45; St James Street &#45; Stratford International &#45; Stratford City Bus Station for Stratford station (Monday-Friday only)</li>
    <li>3)	Temporary local bus route 558: Chingford Mount &#45; Chingford Mount Road &#45; South Chingford - Chingford Road &#45; Walthamstow Crooked Billet &#45; Billet Road &#45; Higham Hill &#45; Blackhorse Lane &#45; Blackhorse Road station &#45; then non-stop to &#45; Tottenham Hale station &#45; then non-stop to &#45; Seven Sisters station (Monday&#45;Friday only)</li>
</ul>
The London Overground service between Walthamstow Central and Liverpool Street will provide an alternative rail route, and LU has also agreed ticket acceptance with other train operating companies on the following routes:
<ul>
    <li>1)	Abellio Greater Anglia: Liverpool Street &#45; Tottenham Hale &#45;Liverpool Street &#45; Stratford, and Stratford &#45; Tottenham Hale</li>
    <li>2)	Great Northern: Finsbury Park &#45; Moorgate via Drayton Park, Highbury &amp; Islington, Essex Road, Old Street</li>
    <li>3)	Southeastern: Brixton &#45; Victoria</li>
    <li>4)	South West Trains: Vauxhall &#45; Waterloo</li>
</ul>
Improvements are underway across the Victoria line, including the redevelopment of Victoria and Vauxhall stations to increase capacity and make them step-free. A step-free access scheme is also planned at Finsbury Park station. This year, staff are moving from behind ticket windows to ticket halls, gate lines and platforms to offer assistance to customers where it is needed most. As part of these station improvements, Visitor Centres will open on the Victoria line at King's Cross St Pancras and Victoria. The 24-hour Night Tube service will run on the full length of the line on Friday and Saturday nights from 12 September 2015.
<p>&nbsp;</p>
<p>&nbsp;</p>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
                <a href="/info-for/media/index" class="heading">
                    <h2 id="sub-menu-heading">Media<span class="visually-hidden"> navigation</span></h2>
                </a>
                <ul>
                    
                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases">Press releases</a></div>
                                <ul>
                                    
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2020">2020</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019">2019</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018">2018</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017">2017</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016">2016</a></div></li>
                            
 
                                        <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015">2015</a></div>
                                        <ul>
                                            
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015/december">December</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015/november">November</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015/october">October</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015/september">September</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015/august">August</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015/july">July</a></div></li>
                                    
 
                                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015/june">June</a></div>
                                                <ul>
                                                    
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
                                                </ul>
                                            
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015/may">May</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015/april">April</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015/march">March</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015/february">February</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015/january">January</a></div></li>
                                    
 
                                        </ul>
                                    </li>
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014">2014</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2013">2013</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2012">2012</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2011">2011</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2010">2010</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2009">2009</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2008">2008</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2007">2007</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2006">2006</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2005">2005</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2004">2004</a></div></li>
                            
 
                                </ul>
                            </li>
 
                                <li><div class="link-wrapper"><a href="/info-for/media/photos">Photos</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/media/contact-the-press-office">Contact the Press Office</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/filming-and-photography">Filming & photography</a></div></li>
                            
 
                </ul>
            
 
 
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype: -Home-Media-Media-Press releases-2015-June-Passengers reminded - Major works ahead  to improve Victoria line services -->

 
 
        
        
            @{ViewBag.Description = "Press releases and news articles from Transport for London";}
        
        


 