


@{ViewBag.Title = "Poems on the Underground celebrates W.B. Yeats";}
        
        
<div class="r">
    <div class="breadcrumb-container" role="navigation">
        <span id="breadcrumb-label" class="visually-hidden">You are here:</span>
        <ol class="breadcrumbs clearfix" aria-labelledby="breadcrumb-label">
            <li class="home">
                <a href="/">
                    <span class="hide-text">Home</span>
                </a>
            </li>
            
                <li>
                    <a href="/info-for/media/index">Media</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases">Press releases</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases/2015">2015</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases/2015/june">June</a>
                </li>
                
                <li>
                    <span class="last-breadcrumb">Poems on the Underground celebrates W.B. Yeats</span>
                </li>
            
 
            
 
            
 
            
 
            
 
        </ul>
    </div>
</div>
     
 
<div class="r">
    <div class="headline-container plain">
        <h1>Poems on the Underground celebrates W.B. Yeats</h1>
        <div class="content-page-press-release">
        15 June 2015
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        New display by Poems on the Underground to feature poetry selection in celebration of the 150th anniversary of W.B. Yeats
        
    </div>



<div class="pull-quote">
        <div class="quote-body">"We're delighted to announce our latest selection of Poems on the Underground, providing a popular platform for poetry talent, past and present. We're very pleased to be sharing this diverse set of poems with 4 million daily Tube passengers and to be joining in the celebrations for the 150th anniversary of the great poet W.B. Yeats"</div>
        <div class="quote-footer">
            <div class="quotee-name">Judith Chernaik</div>
            <div class="quotee-job-title">Writer, editor and founder of Poems on the Underground</div>
        </div>
</div>

 <div class="on-this-page">
<p>The latest selection of poems on the London Underground (LU) have launched today, brought together as part of the year-long 150th anniversary celebration of the great Irish poet W.B. Yeats.</p>
<p>One of Yeats's best-loved early poems, 'When You Are Old', reflecting his lifelong love of the actress Maud Gonne, is one of six new poems to feature on Tube trains across the network, which will be displayed for four weeks.</p>
<p>From today Tube passengers will also be able to read an opening poem from Seamus Heaney's last collection, Human Chain, as part of a wider celebration of Irish poetry. 'Had I not been awake' explores Heaney's rediscovery of meaning and mystery in the natural world following the loss of his religious faith. Heaney's poem is joined by a connected work, the famous 16th Century poem 'Westron wynde when wilt thou blow', which returns to the Tube after being part of one of the first ever poetry displays on the Underground. A leaflet celebrating Irish poetry including poems by W.B. Yeats, Seamus Heaney, Patrick Kavanagh and Nuala N&iacute; Dhomhnaill, in a translation from Irish by Paul Muldoon, is also free to the public at selected Tube stations.</p>
<p>The new poetry selection will also feature poems by leading young Hungarian poet Anna Szab&oacute;, who captures the experience of childbirth in her poem 'from Labour Ward', and the late Kashmir-born poet Agha Shahid Ali, whose poem 'Stationery' recalls the emotional subtlety behind the art of paper-making. Sam Riviere's poem 'Cuts' will also grace Tube train carriages across the Capital, offering a wry look at the troubles of contemporary Britain. The new selection of poems reflects the wide-ranging interests of George Szirtes and Imtiaz Dharker, who have both recently joined the Poems on the Underground editorial committee.</p>
<p>Judith Chernaik, writer, editor and founder of Poems on the Underground, said: </p>
<p>'We're delighted to announce our latest selection of Poems on the Underground, providing a popular platform for poetry talent, past and present. We're very pleased to be sharing this diverse set of poems with 4 million daily Tube passengers and to be joining in the celebrations for the 150th anniversary of the great poet W.B. Yeats.'</p>
<p>Poems on the Underground, founded in 1986, aims to bring poetry to a mass audience. It helps to make journeys more stimulating by showcasing a diverse range of poetry, including classical, contemporary and international poets in Tube train carriages across London. The programme has inspired similar displays on public transport in cities worldwide, from New York and Paris to Moscow and Shanghai. Poems on the Underground is supported by Transport for London, Arts Council England and the British Council, with special support for this series from Yeats2015.</p>
<p>For more information about Poems on the Underground, please visit <a href="http://www.tfl.gov.uk/poems">www.tfl.gov.uk/poems</a>.</p>
<p>&nbsp;</p>
<hr />
<p>Notes to Editors:</p>
<ul>
    <li>
    A PDF of the poems is available from the TfL Press Office on request.</li>
    <li>Posters, designed by Tom Davidson, are available from the Poetry Society and London Transport Museum.</li>
    <li>A new paperback edition of the Penguin anthology Poems on the Underground is now available in all good bookshops.</li>
</ul>
<p>&nbsp;</p>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
                <a href="/info-for/media/index" class="heading">
                    <h2 id="sub-menu-heading">Media<span class="visually-hidden"> navigation</span></h2>
                </a>
                <ul>
                    
                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases">Press releases</a></div>
                                <ul>
                                    
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2020">2020</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019">2019</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018">2018</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017">2017</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016">2016</a></div></li>
                            
 
                                        <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015">2015</a></div>
                                        <ul>
                                            
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015/december">December</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015/november">November</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015/october">October</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015/september">September</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015/august">August</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015/july">July</a></div></li>
                                    
 
                                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015/june">June</a></div>
                                                <ul>
                                                    
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
                                                </ul>
                                            
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015/may">May</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015/april">April</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015/march">March</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015/february">February</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015/january">January</a></div></li>
                                    
 
                                        </ul>
                                    </li>
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014">2014</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2013">2013</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2012">2012</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2011">2011</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2010">2010</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2009">2009</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2008">2008</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2007">2007</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2006">2006</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2005">2005</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2004">2004</a></div></li>
                            
 
                                </ul>
                            </li>
 
                                <li><div class="link-wrapper"><a href="/info-for/media/photos">Photos</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/media/contact-the-press-office">Contact the Press Office</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/filming-and-photography">Filming & photography</a></div></li>
                            
 
                </ul>
            
 
 
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype: -Home-Media-Media-Press releases-2015-June-Poems on the Underground celebrates W.B. Yeats -->

 
 
        
        
            @{ViewBag.Description = "New display by Poems on the Underground to feature poetry selection in celebration of the 150th anniversary of W.B. Yeats";}
        
        


 