


@{ViewBag.Title = "Prospective London Overground operators shortlisted";}
        
        
<div class="r">
    <div class="breadcrumb-container" role="navigation">
        <span id="breadcrumb-label" class="visually-hidden">You are here:</span>
        <ol class="breadcrumbs clearfix" aria-labelledby="breadcrumb-label">
            <li class="home">
                <a href="/">
                    <span class="hide-text">Home</span>
                </a>
            </li>
            
                <li>
                    <a href="/info-for/media/index">Media</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases">Press releases</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases/2015">2015</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases/2015/june">June</a>
                </li>
                
                <li>
                    <span class="last-breadcrumb">Prospective London Overground operators shortlisted</span>
                </li>
            
 
            
 
            
 
            
 
            
 
        </ul>
    </div>
</div>
     
 
<div class="r">
    <div class="headline-container plain">
        <h1>Prospective London Overground operators shortlisted</h1>
        <div class="content-page-press-release">
        29 June 2015
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">



 <div class="on-this-page">
<p>Further rail improvements ahead as prospective London Overground operators shortlisted</p>
<ul>
    <li>Four bidders shortlisted to become the new operator</li>
    <li>New trains, more frequent services and modernised stations planned</li>
</ul>
<p>Customers across the London Overground network are set for a series of improvements, including additional walk-through air-conditioned trains, more frequent services and modernised stations, Transport for London (TfL) confirmed today.</p>
<p>Frequency on the North London line will also be boosted by 25%, from eight to ten trains per hour, all under a new London Overground operator concession, a shortlist for which has now been finalised.</p>
<p>Four bidders have been shortlisted to run London Overground from November 2016, when the current contract with the operator LOROL expires. They are:</p>
<ul>
    <li>Arriva Rail London Limited</li>
    <li>LoKeGo Limited (a joint venture between Keolis (UK) Limited and Go-Ahead Holding Limited)</li>
    <li>Metroline Rail Limited</li>
    <li>MTR Corporation</li>
</ul>
<p>The new concession will include all London Overground routes, including those TfL recently took over from Liverpool Street station to Enfield Town, Cheshunt (via Seven Sisters) and Chingford, as well as services between Romford and Upminster. The contract will include options to introduce an all-night service at weekends from 2017 and will cover the operation of services on the proposed extension of the Overground to Barking Riverside. The new operator will also be expected to deliver sustained improvements in performance levels, which have been seen since TfL took responsibility for London Overground routes in 2007.</p>
<p>Mike Brown MVO, Managing Director of London Rail, said: `London Overground customers have experienced major improvements over recent years. We have taken neglected and often unstaffed stations and transformed them into modern and useful parts of the transport system, evidenced by a five fold increase in passenger numbers. The new operator will play a key role in continuing that success and introducing further improvements including new air-conditioned trains.  In the meantime we're working to improve our services every day, especially on the new routes we've recently taken over, where services need to be brought up to the high standards seen elsewhere on London Overground.'</p>
<p>A fleet of 45 new trains will be introduced from 2018 on the Liverpool Street to Enfield Town, Cheshunt (via Seven Sisters) and Chingford routes, as well as on the routes between Barking and Gospel Oak and between Romford and Upminster. The new trains, to be built by Bombardier, will transform the service experienced by customers on these routes and support hundreds of UK jobs and more than 20 apprenticeships.</p>
<hr />
<ul>
    <li>LOROL (London Overground Rail Operations Ltd) currently operate London Overground services and will continue to do so until their concession ends in November 2016.</li>
    <li>London Overground now carries over 176 million customers a year, equating to more than 585,000 a day.</li>
    <li>It is TfL's intention to issue all tender documentation by end July, which will signify the start of the three month tender period with bid submissions expected by mid October.</li>
    <li>The next concession contract will be let on substantially the same terms as the current concession for an initial period of 7.5 years with an option to extend by up to two years at TfL's discretion.</li>
    <li>Under the new contract, TfL will continue to be responsible for setting the fares and marketing the services and will retain the revenue generated by ticket sales to be reinvested in improving the transport network. TfL will also retain all non-ticket revenue at stations including advertising, retail and car parks. The operator will be responsible for ticket retailing and for undertaking revenue protection activities.</li>
</ul>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
                <a href="/info-for/media/index" class="heading">
                    <h2 id="sub-menu-heading">Media<span class="visually-hidden"> navigation</span></h2>
                </a>
                <ul>
                    
                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases">Press releases</a></div>
                                <ul>
                                    
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2020">2020</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019">2019</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018">2018</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017">2017</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016">2016</a></div></li>
                            
 
                                        <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015">2015</a></div>
                                        <ul>
                                            
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015/december">December</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015/november">November</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015/october">October</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015/september">September</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015/august">August</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015/july">July</a></div></li>
                                    
 
                                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015/june">June</a></div>
                                                <ul>
                                                    
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
                                                </ul>
                                            
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015/may">May</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015/april">April</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015/march">March</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015/february">February</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015/january">January</a></div></li>
                                    
 
                                        </ul>
                                    </li>
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014">2014</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2013">2013</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2012">2012</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2011">2011</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2010">2010</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2009">2009</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2008">2008</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2007">2007</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2006">2006</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2005">2005</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2004">2004</a></div></li>
                            
 
                                </ul>
                            </li>
 
                                <li><div class="link-wrapper"><a href="/info-for/media/photos">Photos</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/media/contact-the-press-office">Contact the Press Office</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/filming-and-photography">Filming & photography</a></div></li>
                            
 
                </ul>
            
 
 
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype: -Home-Media-Media-Press releases-2015-June-Prospective London Overground operators shortlisted -->

 
 
        
        
            @{ViewBag.Description = "Press releases and news articles from Transport for London";}
        
        


 