


@{ViewBag.Title = "Santander Cycles race at Jupiter London Nocturne";}
        
        
<div class="r">
    <div class="breadcrumb-container" role="navigation">
        <span id="breadcrumb-label" class="visually-hidden">You are here:</span>
        <ol class="breadcrumbs clearfix" aria-labelledby="breadcrumb-label">
            <li class="home">
                <a href="/">
                    <span class="hide-text">Home</span>
                </a>
            </li>
            
                <li>
                    <a href="/info-for/media/index">Media</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases">Press releases</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases/2015">2015</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases/2015/june">June</a>
                </li>
                
                <li>
                    <span class="last-breadcrumb">Santander Cycles race at Jupiter London Nocturne</span>
                </li>
            
 
            
 
            
 
            
 
            
 
        </ul>
    </div>
</div>
     
 
<div class="r">
    <div class="headline-container plain">
        <h1>Santander Cycles race at Jupiter London Nocturne</h1>
        <div class="content-page-press-release">
        04 June 2015
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        Celebrities and Londoners get in gear for Santander Cycles race at Jupiter London Nocturne
        
    </div>



<div class="pull-quote">
        <div class="quote-body">"Our new red Santander Cycles have already become a familiar sight around the Capital, and we are delighted that they will be involved in the Jupiter London Nocturne this Saturday"</div>
        <div class="quote-footer">
            <div class="quotee-name">James Mead</div>
            <div class="quotee-job-title">General Manager of Santander Cycles, TfL</div>
        </div>
</div>

 <div class="on-this-page">
<ul>
    <li>Two days to go until night time Santander Cycles race at Smithfield Market</li>
    <li>Nocturne races to feature cycle hire enthusiasts, famous faces and top professional cycling teams including JLT-Condor, Madison-Genesis and Team Wiggins</li>
    <li>Events like Jupiter London Nocturne, Prudential RideLondon and Aviva Tour of Britain set to inspire more cycling in the Capital</li>
</ul>
<p>After last year's thrilling cycle hire race, Jupiter London Nocturne returns on Saturday (6 June) with an exciting twilight race on Santander Cycles. Transport for London (TfL) has teamed up with Jupiter London Nocturne to put on the cycle hire race for the second year, with Londoners competing against some well known personalities, including X-Factor's Stevi Ritchie.</p>
<p>Personalities lining up on Santander Cycles to race around the 1.1km circuit include:</p>
<ul>
    <li>OJ Borg, host of BBC 5 Live's BeSpoke cycling show</li>
    <li>Belinda Fenty from Channel 4's The Island</li>
    <li>X-Factor's Stevi Ritchie</li>
    <li>Singer-songwriter Little Nikki</li>
    <li>Richard Burr, finalist in The Great British Bake Off</li>
    <li>Music artist Beth Sherbun</li>
    <li>Actress Letitia Hector of Venus Vs Mars</li>
</ul>
<p>The Santander Cycles race is part of the 9th annual Jupiter London Nocturne - a series of sprint and endurance cycling races enjoyed by over 15,000 spectators in east London each year.</p>
<p>James Mead, General Manager of Santander Cycles at TfL, said: </p>
<p>'Our new red Santander Cycles have already become a familiar sight around the Capital, and we are delighted that they will be involved in the Jupiter London Nocturne this Saturday.</p>
<p>'Last year's race was one of the standout events of the night and we're really excited with the line-up for this year. Regardless of who wins the race, we hope the spectacle will encourage everyone to try out one of our bikes and see how easy it can be to cycle around London, for commuting or leisure.'</p>
<p>James Pope, CEO of FACE Partnership, said: </p>
<p>'The Jupiter London Nocturne is about celebrating cycling in London in all its different forms so we are excited to include the Cycle Hire Race once again this year. The peloton of Santander Cycles is sure to get the biggest cheers from the Nocturne crowds so it's going to be a fantastic experience for the competitors who have been lucky enough to win a place.'</p>
<p>Massimo Saetta, who competed in the event last year and is returning this year, said: </p>
<p>'I think these bikes are as iconic as the black cab and the red bus. It's just the best way to get around London so I'm very pleased to return to the 1.1km Smithfield Market course this year and have a go at racing them!  Last year was just so much fun and the crowds were fantastic! If there is one bike race to win this year, it's this one! It's the only race where all the riders get to leave their real bikes at home. And on the day it's all about who has the legs for that more than 60kph sprint at the end! Am I ready? Yes, I cannot wait!'</p>
<p>Jupiter London Nocturne attracts a buzzing atmosphere, with spectators able to take in the festival feel, which includes a cycling expo area, food stalls and live music.</p>
<p>A number of Santander Cycles docking stations are located close to the event at Smithfield Market and spectators will be able to visit the Santander Cycles roadshow and the Mayor's Vision for Cycling hub. Visitors to the stands can strike a pose on a Santander Cycle and take home their photo, along with maps, tips and advice with staff will be on hand to answer any questions about the cycle hire scheme and cycling in the Capital.</p>
<p>Santander Cycles is the second-largest cycle hire scheme in the Europe , covering 100km2 with docking stations located every 200-500m and 11,500 bikes to hire from as little as &pound;2 per day. Since it was introduced in 2010, more than 40 million journeys have been made using the bikes, making it a popular and affordable way to travel around London for work or leisure.</p>
<p>Usage of the scheme rose by a quarter last year and is at a record high, with more than 10 million journeys made in 2014. Customer satisfaction is also at an all-time high, with over 80 per cent of members intending to renew their membership.</p>
<p>As well as the Jupiter London Nocturne, there will be more exciting cycling events in London this year. Later this summer, Prudential RideLondon will return to the Capital's roads on 1 and 2 August and the Aviva Tour of Britain will once again finish on the streets of London on 13 September. The mix of elite and fun, and mass participation rides this year in the Capital are likely to inspire thousands more Londoners to two wheels, building on TfL's ambition for cycling to be an integral part of the transport network. TfL is currently investing &pound;4bn into a radical programme of change for the Capital's roads, creating a series of major new segregated cycle routes, enhanced cycle superhighways, urban Quietways and turning outer London boroughs into 'mini-Hollands'.</p>
<p>&nbsp;</p>
<hr />
Notes to Editors:
<p>•	Santander Cycles can be hired from as little as &pound;2 a day for unlimited number of 30 minute journeys. Regular users can register for annual membership, which equates to 25p per day and get the same unlimited number of journeys under 30 minutes each without paying anything more. <a href="http://www.tfl.gov.uk/santandercycles">www.tfl.gov.uk/santandercycles</a>&nbsp; <br />
•	Follow &#64;SantanderCycles on Twitter for all the latest news and offers and download the new official Santander Cycles App for IOS and Android for quicker, easier access.<br />
•	For more information about Jupiter London Nocturne go to <a href="http://www.londonnocturne.com/cyclehirerace.php">http://www.londonnocturne.com/cyclehirerace.php</a></p>
<p>&nbsp;</p>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
                <a href="/info-for/media/index" class="heading">
                    <h2 id="sub-menu-heading">Media<span class="visually-hidden"> navigation</span></h2>
                </a>
                <ul>
                    
                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases">Press releases</a></div>
                                <ul>
                                    
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2020">2020</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019">2019</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018">2018</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017">2017</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016">2016</a></div></li>
                            
 
                                        <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015">2015</a></div>
                                        <ul>
                                            
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015/december">December</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015/november">November</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015/october">October</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015/september">September</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015/august">August</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015/july">July</a></div></li>
                                    
 
                                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015/june">June</a></div>
                                                <ul>
                                                    
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
                                                </ul>
                                            
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015/may">May</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015/april">April</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015/march">March</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015/february">February</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015/january">January</a></div></li>
                                    
 
                                        </ul>
                                    </li>
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014">2014</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2013">2013</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2012">2012</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2011">2011</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2010">2010</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2009">2009</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2008">2008</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2007">2007</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2006">2006</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2005">2005</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2004">2004</a></div></li>
                            
 
                                </ul>
                            </li>
 
                                <li><div class="link-wrapper"><a href="/info-for/media/photos">Photos</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/media/contact-the-press-office">Contact the Press Office</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/filming-and-photography">Filming & photography</a></div></li>
                            
 
                </ul>
            
 
 
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype: -Home-Media-Media-Press releases-2015-June-Santander Cycles race at Jupiter London Nocturne -->

 
 
        
        
            @{ViewBag.Description = "Santander Cycles race at Jupiter London Nocturne";}
        
        


 