


@{ViewBag.Title = "TfL seeks partners for future charging infrastructure";}
        
        
<div class="r">
    <div class="breadcrumb-container" role="navigation">
        <span id="breadcrumb-label" class="visually-hidden">You are here:</span>
        <ol class="breadcrumbs clearfix" aria-labelledby="breadcrumb-label">
            <li class="home">
                <a href="/">
                    <span class="hide-text">Home</span>
                </a>
            </li>
            
                <li>
                    <a href="/info-for/media/index">Media</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases">Press releases</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases/2015">2015</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases/2015/june">June</a>
                </li>
                
                <li>
                    <span class="last-breadcrumb">TfL seeks partners for future charging infrastructure</span>
                </li>
            
 
            
 
            
 
            
 
            
 
        </ul>
    </div>
</div>
     
 
<div class="r">
    <div class="headline-container plain">
        <h1>TfL seeks partners for future charging infrastructure</h1>
        <div class="content-page-press-release">
        03 June 2015
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">



 <div class="on-this-page">
<p>Transport for London (TfL) announced today (Wednesday 3 June) the next stage in its programme to support the future of vehicle charging in the Capital with the publication of a Prior Information Notice (PIN).  The PIN seeks views and information from a broad range of suppliers and partners, which will be used to progress future charging infrastructure in London.  This includes plans to deliver a rapid charge network for taxis, private hire vehicles and other commercial fleets to support the Mayor of London, Boris Johnson's plans for an Ultra Low Emission Zone (ULEZ).</p>
<p>The Mayor confirmed earlier this year that the world's first ULEZ will be introduced in central London from September 2020.  This is part of the Mayor's work to significantly improve air quality and in turn the health of Londoners.  The ULEZ will also provide a further incentive for the mass take-up of ultra low emission vehicles, stimulating the growth of this market in the UK and supporting manufacturer.</p>
<p>TfL recognises that the continued growth of this market is dependent on appropriate infrastructure being available.  It is now looking to potential partners and suppliers to explore the full range of technology available and how it could be deployed across the Capital.</p>
<p>Leon Daniels, TfL's Managing Director for Surface Transport, said: `To complement the introduction of the world's first ULEZ and boost the number of zero emission capable vehicles on London's roads, it's important that the right charging infrastructure is in place.  In particular over the next few years there will be more zero emission capable vehicles coming to market which are suitable for use as taxis or commercial fleet vehicles.  The demands of these types of vehicle are significantly different to privately owned electric cars, which is why we are exploring how their charging needs can be met.  The publication of a Prior Information Notice is the first step in that process.'</p>
<p>Having already secured 1,400 publicly accessible charging points in the Capital, TfL is now refreshing London's ambitions for ultra low emission vehicles with a delivery plan to be published this summer.  It addresses how new charging infrastructure &#45; including rapid charging &#45; will be deployed to meet the growing demands, in particular for charging zero emission capable taxis, private hire vehicles and other commercial fleets.</p>
<p>The Mayor has proposed that from 1 January 2018 all newly registered taxis and private hire vehicles must meet a zero emission capable standard.  Rapid charge points supply 80% of a full charge in less than 30 minutes so are suitable for supporting the electrification of high mileage urban commercial fleets.  Plans to change the licensing requirement for these vehicles, with the final package of measures currently being discussed with the trade, will present specific charging requirements which cannot currently be met by the existing public network of electric vehicle charge points.  A consultation on proposed changes to taxi and private hire regulations to complement the ULEZ will be launched later this summer.</p>
<p>Notes to Editors</p>
<ol>
    <li>In supporting the development of a rapid charging network, TfL is examining all of the funding options. These include the use of public money to fund the scheme, securing investment from the private sector or a combination of the two.</li>
    <li>London has more than 1,400 electric vehicle charge points as part of Source London network which is now owned and managed by the Bollore group.  They will continue to provide private sector investment to expand this public network of charge points.</li>
    <li>An increased fund of &pound;65 million was recently confirmed to help support London taxi drivers' transition to zero emission capable taxis, with charging points having the potential to support fleets of electric taxis and private hire vehicles.  In addition, the world's first ULEZ will be introduced in London in September 2020, providing a stimulus to the green economy in particular the development of ultra low emission technology and vehicles.</li>
    <li>A report into the additional requirements and best use for electric charge points is due to be published by TfL this summer.</li>
</ol>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
                <a href="/info-for/media/index" class="heading">
                    <h2 id="sub-menu-heading">Media<span class="visually-hidden"> navigation</span></h2>
                </a>
                <ul>
                    
                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases">Press releases</a></div>
                                <ul>
                                    
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2020">2020</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019">2019</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018">2018</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017">2017</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016">2016</a></div></li>
                            
 
                                        <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015">2015</a></div>
                                        <ul>
                                            
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015/december">December</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015/november">November</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015/october">October</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015/september">September</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015/august">August</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015/july">July</a></div></li>
                                    
 
                                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015/june">June</a></div>
                                                <ul>
                                                    
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
                                                </ul>
                                            
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015/may">May</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015/april">April</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015/march">March</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015/february">February</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015/january">January</a></div></li>
                                    
 
                                        </ul>
                                    </li>
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014">2014</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2013">2013</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2012">2012</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2011">2011</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2010">2010</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2009">2009</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2008">2008</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2007">2007</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2006">2006</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2005">2005</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2004">2004</a></div></li>
                            
 
                                </ul>
                            </li>
 
                                <li><div class="link-wrapper"><a href="/info-for/media/photos">Photos</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/media/contact-the-press-office">Contact the Press Office</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/filming-and-photography">Filming & photography</a></div></li>
                            
 
                </ul>
            
 
 
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype: -Home-Media-Media-Press releases-2015-June-TfL seeks partners for future charging infrastructure -->

 
 
        
        
            @{ViewBag.Description = "Press releases and news articles from Transport for London";}
        
        


 