


@{ViewBag.Title = "Thousands of London Overground customers set for new trains";}
        
        
<div class="r">
    <div class="breadcrumb-container" role="navigation">
        <span id="breadcrumb-label" class="visually-hidden">You are here:</span>
        <ol class="breadcrumbs clearfix" aria-labelledby="breadcrumb-label">
            <li class="home">
                <a href="/">
                    <span class="hide-text">Home</span>
                </a>
            </li>
            
                <li>
                    <a href="/info-for/media/index">Media</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases">Press releases</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases/2015">2015</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases/2015/june">June</a>
                </li>
                
                <li>
                    <span class="last-breadcrumb">Thousands of London Overground customers set for new trains</span>
                </li>
            
 
            
 
            
 
            
 
            
 
        </ul>
    </div>
</div>
     
 
<div class="r">
    <div class="headline-container plain">
        <h1>Thousands of London Overground customers set for new trains</h1>
        <div class="content-page-press-release">
        19 June 2015
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        New air-conditioned trains will serve West Anglia, Barking to Gospel Oak and Romford to Upminster routes from 2018
        
    </div>



<div class="pull-quote">
        <div class="quote-body">"This brand new fleet of trains will enable London Overground to carry a growing number of passengers more reliably and speedily than ever"</div>
        <div class="quote-footer">
            <div class="quotee-name">Boris Johnson MP</div>
            <div class="quotee-job-title">Mayor of London</div>
        </div>
</div>

 <div class="on-this-page">
<p>Thousands of customers on London Overground routes in East and North East London will travel on new air-conditioned trains from 2018, after TfL today announced that a contract with a capital value of around &pound;260m will be awarded to Bombardier Transportation to build a new fleet of trains.</p>
<p>The 45 new trains will operate on the Liverpool Street to Enfield Town, Cheshunt (via Seven Sisters) and Chingford routes, which became part of the TfL network in May, as well as on the routes between Barking and Gospel Oak and between Romford and Upminster.</p>
<h2>New trains will transform service</h2>
<p>The new trains will transform the service experienced by customers on these routes, and will have similar features to the fleet that serves other parts of the London Overground network, including walk-through carriages, air-conditioning and improved accessibility. TfL's 24 stations on the West Anglia routes are now, as with the rest of London Overground, staffed at all times and are undergoing an extensive programme of cleaning and other improvements to bring the service up to the high standards experienced elsewhere on the network.</p>
<p>The contract, which is subject to a statutory ten day standstill period, will see the trains built in Derby &#45; supporting hundreds of jobs in the area and more than 20 apprenticeships. TfL's wider supply chain supports some 60,000 jobs outside the Capital.</p>
<h2>Helping support jobs and skills</h2>
<p>Mayor of London, Boris Johnson MP, said: 'This brand new fleet of trains will enable London Overground to carry a growing number of passengers more reliably and speedily than ever. The award of this contract is good news not just for London Overground customers but for UK plc as well. By investing in new trains here in the Capital TfL is helping to support jobs and skills in Derby and right across the country.'</p>
<p>Mike Brown MVO, Managing Director of London Rail, said: 'These 45 new trains will significantly improve the comfort, reliability and overall quality of train services for our customers. Some of the trains we have inherited along the West Anglia route are over 30 years old and have not been in use for some time.  We're now working hard to overhaul these trains to make them more reliable until the new trains come into service from 2018.</p>
<p>'Ordering new trains for the Gospel Oak to Barking line and West Anglia route together, as well as including a provision to order more trains should passenger demand warrant additional capacity, ensures that we get best value for money for our customers.'</p>
<p>The trains that TfL inherited  on the Liverpool Street to Enfield Town, Cheshunt (via Seven Sisters) and Chingford route are more than 30 years old and are not in good condition. The condition of the trains has been causing some delays, so until the new trains arrive TfL is refreshing the existing fleet as well as investing an additional &pound;2million to modify the trains to make them more reliable - including replacing any defective doors and deploying additional engineers to ensure repairs are carried out quickly and efficiently.</p>
<p>&nbsp;</p>
<hr />
<p><strong>Notes to Editors</strong></p>
<ul>
    <li>The contract is for 45 trains to be introduced from 2018;</li>
</ul>
<ul>
    <li>31 new trains to replace all the old Class 315 and Class 317 trains on the Overground West Anglia and Romford to Upminster routes;</li>
    <li>8 new four-carriage trains for the electrification of the existing Overground route between Gospel Oak and Barking;</li>
    <li>6 new trains to bolster services on other Overground routes</li>
</ul>
<ul>
    <li>The contract also gives TfL options for more trains to meet future demand and provide potential frequency improvements. The contract between TfL and Bombardier covers the manufacture and maintenance of a new fleet</li>
    <li>The Gospel Oak to Barking route, which is already part of London Overground, is being electrified by Network Rail and due to be completed in 2017. The new four carriage electric trains will run on the route after electrification has been completed, replacing all of the two-carriage Class 172 diesel trains, and will provide improved journey times and more capacity.</li>
</ul>
<p>&nbsp;</p>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
                <a href="/info-for/media/index" class="heading">
                    <h2 id="sub-menu-heading">Media<span class="visually-hidden"> navigation</span></h2>
                </a>
                <ul>
                    
                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases">Press releases</a></div>
                                <ul>
                                    
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2020">2020</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019">2019</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018">2018</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017">2017</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016">2016</a></div></li>
                            
 
                                        <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015">2015</a></div>
                                        <ul>
                                            
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015/december">December</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015/november">November</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015/october">October</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015/september">September</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015/august">August</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015/july">July</a></div></li>
                                    
 
                                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015/june">June</a></div>
                                                <ul>
                                                    
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
                                                </ul>
                                            
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015/may">May</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015/april">April</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015/march">March</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015/february">February</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015/january">January</a></div></li>
                                    
 
                                        </ul>
                                    </li>
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014">2014</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2013">2013</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2012">2012</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2011">2011</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2010">2010</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2009">2009</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2008">2008</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2007">2007</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2006">2006</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2005">2005</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2004">2004</a></div></li>
                            
 
                                </ul>
                            </li>
 
                                <li><div class="link-wrapper"><a href="/info-for/media/photos">Photos</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/media/contact-the-press-office">Contact the Press Office</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/filming-and-photography">Filming & photography</a></div></li>
                            
 
                </ul>
            
 
 
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype: -Home-Media-Media-Press releases-2015-June-Thousands of London Overground customers set for new trains -->

 
 
        
        
            @{ViewBag.Description = "New air-conditioned trains will serve West Anglia, Barking to Gospel Oak and Romford to Upminster routes from 2018";}
        
        


 