


@{ViewBag.Title = "Unsafe lorry ban moves closer to improve road safety in London ";}
        
        
<div class="r">
    <div class="breadcrumb-container" role="navigation">
        <span id="breadcrumb-label" class="visually-hidden">You are here:</span>
        <ol class="breadcrumbs clearfix" aria-labelledby="breadcrumb-label">
            <li class="home">
                <a href="/">
                    <span class="hide-text">Home</span>
                </a>
            </li>
            
                <li>
                    <a href="/info-for/media/index">Media</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases">Press releases</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases/2015">2015</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases/2015/june">June</a>
                </li>
                
                <li>
                    <span class="last-breadcrumb">Unsafe lorry ban moves closer to improve road safety in London </span>
                </li>
            
 
            
 
            
 
            
 
            
 
        </ul>
    </div>
</div>
     
 
<div class="r">
    <div class="headline-container plain">
        <h1>Unsafe lorry ban moves closer to improve road safety in London </h1>
        <div class="content-page-press-release">
        03 June 2015
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">



 <div class="on-this-page">
<p>London has moved a step closer to banning unsafe lorries from its streets as freight operators, councils and transport officials met in London to discuss how to operate safer and more efficient deliveries. The news comes as the first of 600 signs for Transport for London's (TfL's) and London Council's Safer Lorry Scheme, due to begin operating in just three months time, were erected across the Capital.</p>
<p>With the September implementation date for the Safer Lorry Scheme rapidly approaching, the Freight Transport Association's (FTA) held a conference in London this week focusing on increased levels of enforcement against unsafe lorries to improve road safety.</p>
<p>From 1 September, nearly 600 signs will be in place around London reminding all HGV drivers and operators that they must have essential safety equipment installed to keep vulnerable road users safe if they are to drive in the Capital, or they will face fines. Enforcement of the Safer Lorry Scheme will be carried out by Metropolitan and City of London police officers and examiners from the Driving and Vehicle Standards Agency (DVSA).</p>
<p>Enforcement by units such as the Industrial HGV Taskforce (IHTF), will mean that any driver that attempts to enter the Capital without vital safety mirrors and sideguards on their vehicles will incur fines. The ambition is to have all relevant vehicles upgraded with the safety equipment before the scheme begins. The exclusion of dangerous vehicles from London will help deliver TfL's commitment of a 40 per cent reduction in the number of people killed or seriously injured on the Capital's roads by 2020. Research suggests that the use of sideguards and mirrors, as prescribed by the Safer Lorry Scheme, would have prevented up to 12 deaths or serious injuries over a five year period.</p>
<p>Leon Daniels, Managing Director of Surface Transport at TfL, said: `From September, we want our city to be free of the rogue minority of HGVs, which put road safety at risk. As we draw closer to the start of the Safer Lorry Scheme, we are working hard to ensure operators know that enforcement of this scheme is coming soon. Improving road safety, and particularly reducing collisions involving freight vehicles, is vital for London and we want all operators to do the right thing and ensure they have the necessary mirrors and sideguards that protect vulnerable road users.'</p>
<p>Cllr Julian Bell, Chair of London Councils' Transport and Environment Committee, said: `The tragic deaths on our roads in recent weeks have once again served to highlight the urgent need to increase road safety in the Capital. London Councils is pleased to represent the boroughs' role in bringing this scheme into operation.'</p>
<p>The FTA Managing Freight in London conference brought together industry representatives, and alongside discussions about the Safer Lorry Scheme, TfL used the conference as an opportunity to highlight the benefits of the Fleet Operator Recognition Scheme (FORS) and Construction Logistics and Cyclist Safety programme (CLOCS) to manage Work Related Road Risk within supply chains.</p>
<p>Already, the targeted enforcement work of the IHTF has seen dramatic results, and the most dangerous vehicles taken off the roads. Between October 2013 and April 2015, the Taskforce targeted and stopped 4,761 of the most dangerous and non-compliant drivers, vehicles and operators, on London's roads - with only 26 per cent of these found to be fully compliant. The IHTF, which comprises Metropolitan and City of London police and examiners from the Driving and Vehicle Standards Agency, is funded by TfL and the Department for Transport.</p>
<p>In April, the industry's attention turned to the Capital as TfL held a major conference, Changing Times &#45; Delivering London's Future. This looked at how the industry can provide safer, cleaner and more efficient deliveries as London experiences both a huge boom in construction and the biggest investment in London's roads in a generation. TfL is working in partnership with the freight industry, businesses and local authorities to change how deliveries are made, with a particular focus on retiming deliveries to outside of the peak 07:00 &#45; 13:00. This change would allow reduced costs for operators, lower emissions, improved customer service and decreased congestion.</p>
<p>There have been six cyclist fatalities in London this year, all of which involved a lorry. Early indications suggest that all of the collisions took place when the lorry was turning or moving left. TfL has recently launched a driver and cyclist tips campaign, to promote safer roads for all, and launched the Share the Road campaign to encourage all to be more considerate on London's streets. TfL's Safer Urban Driving course has given more than 15,000 professional drivers rigorous training that has a particular focus on cyclists, and includes experiencing riding in London.</p>
<p>More information about the Safer Lorry Scheme can be found here: <a href="http://tfl.gov.uk/safer-lorry-scheme">tfl.gov.uk/safer-lorry-scheme</a>.</p>
<p>ENDS</p>
<p>Note to Editors:</p>
<ul>
    <li>
    Photos of Safer Lorry Scheme signs are available from the TfL Press Office.</li>
    <li>
    Between October 2013, when the Industrial HGV Taskforce was established, and 1 April 2015, the Industrial HGV Taskforce stopped and checked 4,761 vehicles of which only 26 per cent were found to be satisfactory. They have issued 2,322 roadworthiness prohibitions and 1,193 FPNs and seized 56 vehicles.</li>
    <li>
    Safer Urban Driving is the first accredited course in the UK to include practical, on-road cycle training for drivers. It counts towards the 35 hours of Driver CPC training required by HGV drivers.</li>
    <li>
    A presentation of how FORS and CLOCS can be used to manage Work Related Road Risk is available from the TfL Press Office.</li>
    <li>
    Driver and cyclist safety tips can be found here: <a href="http://www.tfl.gov.uk/travel-information/safety/road-safety-advice/driving-and-cycling-safety">www.tfl.gov.uk/travel-information/safety/road-safety-advice/driving-and-cycling-safety</a></li>
    <li>
    The Share the Road campaign can be found here: <a href="http://www.tfl.gov.uk/campaign/share-the-road">www.tfl.gov.uk/campaign/share-the-road</a></li>
    <li>
    The report into the casualties associated with sideguard and mirror exemptions can be found here: <a href="http://www.tfl.gov.uk/cdn/static/cms/documents/safer-lorry-trl-report.pdf">www.tfl.gov.uk/cdn/static/cms/documents/safer-lorry-trl-report.pdf</a></li>
</ul>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
                <a href="/info-for/media/index" class="heading">
                    <h2 id="sub-menu-heading">Media<span class="visually-hidden"> navigation</span></h2>
                </a>
                <ul>
                    
                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases">Press releases</a></div>
                                <ul>
                                    
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2020">2020</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019">2019</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018">2018</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017">2017</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016">2016</a></div></li>
                            
 
                                        <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015">2015</a></div>
                                        <ul>
                                            
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015/december">December</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015/november">November</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015/october">October</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015/september">September</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015/august">August</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015/july">July</a></div></li>
                                    
 
                                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015/june">June</a></div>
                                                <ul>
                                                    
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
                                                </ul>
                                            
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015/may">May</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015/april">April</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015/march">March</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015/february">February</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015/january">January</a></div></li>
                                    
 
                                        </ul>
                                    </li>
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014">2014</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2013">2013</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2012">2012</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2011">2011</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2010">2010</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2009">2009</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2008">2008</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2007">2007</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2006">2006</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2005">2005</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2004">2004</a></div></li>
                            
 
                                </ul>
                            </li>
 
                                <li><div class="link-wrapper"><a href="/info-for/media/photos">Photos</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/media/contact-the-press-office">Contact the Press Office</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/filming-and-photography">Filming & photography</a></div></li>
                            
 
                </ul>
            
 
 
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype: -Home-Media-Media-Press releases-2015-June-Unsafe lorry ban moves closer to improve road safety in London  -->

 
 
        
        
            @{ViewBag.Description = "Press releases and news articles from Transport for London";}
        
        


 