


@{ViewBag.Title = "Whitechapel work prepares station for Crossrail boost";}
        
        
<div class="r">
    <div class="breadcrumb-container" role="navigation">
        <span id="breadcrumb-label" class="visually-hidden">You are here:</span>
        <ol class="breadcrumbs clearfix" aria-labelledby="breadcrumb-label">
            <li class="home">
                <a href="/">
                    <span class="hide-text">Home</span>
                </a>
            </li>
            
                <li>
                    <a href="/info-for/media/index">Media</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases">Press releases</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases/2015">2015</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases/2015/june">June</a>
                </li>
                
                <li>
                    <span class="last-breadcrumb">Whitechapel work prepares station for Crossrail boost</span>
                </li>
            
 
            
 
            
 
            
 
            
 
        </ul>
    </div>
</div>
     
 
<div class="r">
    <div class="headline-container plain">
        <h1>Whitechapel work prepares station for Crossrail boost</h1>
        <div class="content-page-press-release">
        09 June 2015
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">



 <div class="on-this-page">
<p>Major upgrade work is taking place at Whitechapel as the station prepares to become a new modern transport hub with the arrival of Crossrail services.</p>
<p>The addition of Crossrail services in 2018 will be a huge boost for the area with up to 24 trains an hour carrying up to 1,500 passengers between Paddington and Whitechapel in peak times.</p>
<p>This will provide passengers with a frequent service to Heathrow, the West End and Canary Wharf, radically reducing journey times and boosting jobs and the local economy.</p>
<p>A significant amount of work has already taken place at Whitechapel to rebuild the station and create new tunnels for Crossrail, but while much of the work has been undertaken without any disruption to the London Overground, some service suspensions are now required to install a new concourse directly above London Overground tracks.</p>
<p>This will mean services on parts of the London Overground East London line will not operate from Saturday 25 July to Tuesday 28 July and Saturday 1 August to Sunday 2 August.</p>
<p>Transport for London (TfL) will also take this opportunity to complete signalling works along the East London line, as part of its &pound;320m programme to boost capacity on London Overground - giving Whitechapel residents better, more comfortable journeys.</p>
<p>Mike Stubbs, TfL's Director of London Overground, said: `We have worked closely with our colleagues at Crossrail Limited to ensure that the work impacts on as few journeys as possible and take place during a quieter period on the network, when the schools are on their summer break. We are also taking this opportunity to complete our own signalling works, continuing our drive to minimise the impact of closures and keep disruption to our passengers to an absolute minimum.'</p>
<p>Simon Wright, Crossrail Programme Director, said: `Crossrail's works at Whitechapel will result in a brand new station providing step free access to, and between, Crossrail, London Overground and the District and Hammersmith and City lines. The centrepiece of the station will be the new pedestrian concourse alongside which will run a new pedestrian route between Whitechapel Road and Durward Street. The construction of the pedestrian concourse includes the installation of steel sections on which the floor of the concourse will be built. Due to the location of the new concourse these can only be installed when London Overground services are not running.'</p>
<p>The closures are as follows:</p>
<p>Saturday 25 July to Sunday 26 July</p>
<p>Whitechapel station will be closed.</p>
<p>Services suspended between Highbury &amp; Islington and West Croydon/Crystal Palace/New Cross/Clapham Junction. The following bus replacement services will operate:</p>
<ul>
    <li>Clapham Junction &#45; Wandsworth Road &#45; Clapham High Street &#45; Denmark Hill &#45; Peckham Rye &#45; Queens Road Peckham &#45; Surrey Quays - Canada Water</li>
    <li>New Cross Gate &amp; New Cross &#45; Surrey Quays - Canada Water &#45; Shoreditch &#45; Hoxton &#45; Haggerston - Dalston Junction -Dalston Kingsland (for North London Line)</li>
    <li>Wapping &#45;Shadwell - Whitechapel &#45;Shoreditch (to connect with the above)</li>
    <li>There will also be no District line service between Aldgate East and Bromley-by-Bow and no Hammersmith &amp; City line service between Liverpool Street and Barking, to allow for the Crossrail work at Whitechapel</li>
</ul>
<p>Monday 27 to Tuesday 28 July and Saturday 1 to Sunday 2 August</p>
<p>Services suspended between Highbury &amp; Islington and Shadwell, and between Surrey Quays and New Cross. The following bus replacement services will operate:</p>
<ul>
    <li>New Cross - Surrey Quays - Canada Water. (Monday 27 to 28 July only)</li>
    <li>Shadwell - Aldgate East (for District Line to Whitechapel) &#45;Shoreditch &#45; Hoxton &#45; Haggerston - Dalston Junction - Dalston Kingsland (for North London Line)</li>
    <li>Whitechapel &#45; Shadwell &#45; Wapping, customers can also use local bus D3.</li>
</ul>
<hr />
<ul>
    <li>The Crossrail route will serve 40 stations and run more than 100 km from Reading and Heathrow in the west, through new twin-bore 21 km (13 miles) tunnels below central London to Shenfield and Abbey Wood in the east</li>
    <li>When Crossrail opens it will increase London's rail-based transport network capacity by 10 per cent, supporting regeneration and cutting journey times across the city. Services are due to commence through central London in 2018 and an estimated 200 million passengers will use Crossrail annually.</li>
    <li>Crossrail is being delivered by Crossrail Limited (CRL). CRL is a wholly owned subsidiary of Transport for London. Crossrail is jointly sponsored by the Department for Transport and Transport for London.</li>
    <li>TfL is delivering a &pound;320 million programme to boost capacity on the London Overground network by converting trains from four to five-carriages. To accommodate the longer trains platform extension works were carried across the network. On the East London line, all trains have now been converted, increasing capacity by 25 per cent and reducing congestion along the line. TfL is now converting trains on both the North London and West London lines and work is on schedule to be completed by the end of the year</li>
</ul>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
                <a href="/info-for/media/index" class="heading">
                    <h2 id="sub-menu-heading">Media<span class="visually-hidden"> navigation</span></h2>
                </a>
                <ul>
                    
                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases">Press releases</a></div>
                                <ul>
                                    
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2020">2020</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019">2019</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018">2018</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017">2017</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016">2016</a></div></li>
                            
 
                                        <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015">2015</a></div>
                                        <ul>
                                            
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015/december">December</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015/november">November</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015/october">October</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015/september">September</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015/august">August</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015/july">July</a></div></li>
                                    
 
                                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015/june">June</a></div>
                                                <ul>
                                                    
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
                                                </ul>
                                            
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015/may">May</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015/april">April</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015/march">March</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015/february">February</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015/january">January</a></div></li>
                                    
 
                                        </ul>
                                    </li>
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014">2014</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2013">2013</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2012">2012</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2011">2011</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2010">2010</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2009">2009</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2008">2008</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2007">2007</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2006">2006</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2005">2005</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2004">2004</a></div></li>
                            
 
                                </ul>
                            </li>
 
                                <li><div class="link-wrapper"><a href="/info-for/media/photos">Photos</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/media/contact-the-press-office">Contact the Press Office</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/filming-and-photography">Filming & photography</a></div></li>
                            
 
                </ul>
            
 
 
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype: -Home-Media-Media-Press releases-2015-June-Whitechapel work prepares station for Crossrail boost -->

 
 
        
        
            @{ViewBag.Description = "Press releases and news articles from Transport for London";}
        
        


 