


@{ViewBag.Title = "Winner of the Travel Better London poetry competition";}
        
        
<div class="r">
    <div class="breadcrumb-container" role="navigation">
        <span id="breadcrumb-label" class="visually-hidden">You are here:</span>
        <ol class="breadcrumbs clearfix" aria-labelledby="breadcrumb-label">
            <li class="home">
                <a href="/">
                    <span class="hide-text">Home</span>
                </a>
            </li>
            
                <li>
                    <a href="/info-for/media/index">Media</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases">Press releases</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases/2015">2015</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases/2015/june">June</a>
                </li>
                
                <li>
                    <span class="last-breadcrumb">Winner of the Travel Better London poetry competition</span>
                </li>
            
 
            
 
            
 
            
 
            
 
        </ul>
    </div>
</div>
     
 
<div class="r">
    <div class="headline-container plain">
        <h1>Winner of the Travel Better London poetry competition</h1>
        <div class="content-page-press-release">
        08 June 2015
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        Transport for London announces winner
        
    </div>



<div class="pull-quote">
        <div class="quote-body">"We have been overwhelmed by the response to our Travel Better London poetry competition. Jennifer Dart's poem was a clear winner as it echoes the campaign key messages of encouraging customers to improve their travel etiquette in a fun and creative way. The response to the competition reflects the willingness of Londoners to champion changes in behaviour that lead to a better service"</div>
        <div class="quote-footer">
            <div class="quotee-name">Gareth Powell</div>
            <div class="quotee-job-title">Director of Strategy & Service Development, London Underground</div>
        </div>
</div>

 <div class="on-this-page">
<ul>
    <li>Overwhelming response with more than 6,000 entries</li>
    <li>Winning poem made into a cartoon poster and displayed across London's transport network</li>
    <li>Forms part of TfL's Travel Better London campaign which aims to improve customer consideration and reduce delays</li>
</ul>
<p>Jennifer Dart from Rayleigh in Essex beat off stiff competition from over 6,000 aspiring poets to be chosen as the winner of Transport for London's (TfL) Travel Better London poetry competition.</p>
<p>The poem, which was written on the topic: 'Avoid Unnecessary Delays. Don't hold open the doors', was crowned the winning entry by a distinguished panel of judges including Aisling Fahey, Young Poet Laureate for London, writer George the Poet and Sophie Baker from The Poetry Society.</p>
<p>Her verse has since been immortalised in cartoon form, complete with her very own caricature. It is now being displayed on buses and Tubes across the Capital.</p>
<p >Jennifer's winning poem:<br />
&quot;Holding doors against their will<br />
Can make your journey go downhill<br />
Damage caused to carriage doors<br />
Delays all journeys, not just yours<br />
So if you're late and can't get on<br />
Just wait &#45; more trains will come along&quot;</p>
<p>TfL's Travel Better London campaign was launched in September 2013 when colourful poetry posters designed by the artist McBess were showcased on London transport encouraging people to consider their fellow passengers when travelling. The competition followed the same visual theme with all entries transferred to a design template in keeping with the style of the original posters.</p>
<p>To enter, people were encouraged to write a short poem explaining one of the ways inconsiderate behaviour causes delays on the transport network. These behaviours are:</p>
<ul>
    <li>Litter left on the Tube, bus, trains and in stations</li>
    <li>Pulling the passenger alarm unnecessarily and passengers falling ill on trains</li>
    <li>Holding the train doors open</li>
    <li>Moving down the platform</li>
    <li>Moving down inside to allow room for others</li>
    <li>Putting feet on seats</li>
    <li>Ensuring priority seats are offered to those who need them</li>
</ul>
<p>Delays to customers' journeys declined by 40 per cent between 2007 and 2013, and London Underground (LU) is set to fulfil the Mayor's commitment to reduce delays by a further 30 per cent by the end of the year. Despite this, 430 hours of delays last year could have been avoided with a few small changes to customer travelling habits, such as taking newspapers when alighting and getting off at the next stop when feeling unwell.</p>
<p>Gareth Powell, Director of Strategy &amp; Service Development London Underground, said: </p>
<p>'We have been overwhelmed by the response to our Travel Better London poetry competition. Jennifer Dart's poem was a clear winner as it echoes the campaign key messages of encouraging customers to improve their travel etiquette in a fun and creative way.  The response to the competition reflects the willingness of Londoners to champion changes in behaviour that lead to a better service.'</p>
<p>Jennifer Dart said: </p>
<p>'I travel on the Tube and love the TfL etiquette campaign - it's such a creative way of communicating a simple yet important message. For me, this wonderful city is all about diversity and being respectful of one another. Extending this respect to our journeys makes perfect sense. We're all trying to get somewhere fast, so doing practical things to help get us there more comfortably makes all the difference. I'm so happy to have won and I can't wait to see my poem on display across London's transport network.'</p>
<p>The winning poem can be seen at Underground stations across the network from today.</p>
<p>&nbsp;</p>
<hr />
<p>Notes to Editors:</p>
The competition ran from Monday 16 February until Sunday 1 March 2015 and received 6,284 entries. Poems had to be based on one of the travel habits that cause passenger delays as shown in the campaign:
<ul>
    <li>Litter left on the Tube, bus, trains and in stations</li>
    <li>Pulling the passenger alarm unnecessarily and passengers falling ill on trains</li>
    <li>Holding the train doors open</li>
    <li>Moving down the platform</li>
    <li>Moving down inside to allow room for others</li>
    <li>Putting feet on seats</li>
    <li>Ensuring priority seats are offered to those who need them</li>
</ul>
<p>The winning poster has been displayed across the transport network, including the Tube and Docklands Light Railway.</p>
<p>The long term reduction in delays caused by passenger action continues with a further two per cent fall in 2014</p>
<p>The Poetry Society was founded in 1909 to promote a &quot;more general recognition and appreciation of poetry&quot;, today representing British poetry both nationally and internationally</p>
<p>Contact the TfL Press Office for a high-resolution image of the winning poster</p>
<p>&nbsp;</p>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
                <a href="/info-for/media/index" class="heading">
                    <h2 id="sub-menu-heading">Media<span class="visually-hidden"> navigation</span></h2>
                </a>
                <ul>
                    
                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases">Press releases</a></div>
                                <ul>
                                    
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2020">2020</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019">2019</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018">2018</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017">2017</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016">2016</a></div></li>
                            
 
                                        <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015">2015</a></div>
                                        <ul>
                                            
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015/december">December</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015/november">November</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015/october">October</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015/september">September</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015/august">August</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015/july">July</a></div></li>
                                    
 
                                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015/june">June</a></div>
                                                <ul>
                                                    
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
                                                </ul>
                                            
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015/may">May</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015/april">April</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015/march">March</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015/february">February</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015/january">January</a></div></li>
                                    
 
                                        </ul>
                                    </li>
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014">2014</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2013">2013</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2012">2012</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2011">2011</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2010">2010</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2009">2009</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2008">2008</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2007">2007</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2006">2006</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2005">2005</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2004">2004</a></div></li>
                            
 
                                </ul>
                            </li>
 
                                <li><div class="link-wrapper"><a href="/info-for/media/photos">Photos</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/media/contact-the-press-office">Contact the Press Office</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/filming-and-photography">Filming & photography</a></div></li>
                            
 
                </ul>
            
 
 
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype: -Home-Media-Media-Press releases-2015-June-Winner of the Travel Better London poetry competition -->

 
 
        
        
            @{ViewBag.Description = "Transport for London announces winner";}
        
        


 