


@{ViewBag.Title = "999 London Cycling Awards celebrate cycling in the capital";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>999 London Cycling Awards celebrate cycling in the capital</h1>
        <div class="content-page-press-release">
        25 February 2005
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        Cycling in the capital continues to thrive - and not just with the general public. Emergency services around the capital are turning to cycling as a quicker, more convenient way to get through congested streets and pedestrianised areas when chasing offenders or rushing to the aid of injured Londoners.
        
    </div>



 <div class="on-this-page">
<p>At the second annual 999 London Cycling Awards at City Hall on Wednesday 23 February, the stars of the emergency services' cycling teams were rewarded for their hard work and commitment to cycling and to improving community relations through increasing the profile of the emergency services in local communities.</p>
<p>The Metropolitan and City Police forces and the London Ambulance Service have a growing number of serving police officers, traffic wardens, community support officers, paramedics and emergency medical technicians cycling the capital's streets. The emergency services enjoy higher visibility and faster response times, while Transport for London enjoys the benefits of raising the profile of cycling in the city while keeping London's streets safe and keeping traffic moving. </p>
<p>Jeroen Weimar, Head of Enforcement at Transport for London, said:</p>
<p>"Transport for London is committed to increasing cycling in the capital by 80% by 2010. The number of cyclists is soaring, helping improve the health of London and Londoners. The use of bicycles by the emergency services also provides a good role model for the rest of London to get on their bikes.</p>
<p>"Their invaluable service helps London's communities and TfL is committed to supporting the greater use of bicycles by the emergency services."</p>
<p>Jenny Jones, the Mayor's Road Safety Ambassador, said:</p>
<p>"It's wonderful to hear about the amazing things the nominees for the awards have done in the course of their ordinary work. They perform their duties with real dedication and enthusiasm and have achieved outstanding results. Just to be in the running for these awards is a tribute to their abilities and performance.</p>
<p>"I'm really pleased to see how all three organisations have incorporated the cycling teams into their mainstream operations in the last year to achieve fantastic results, and look forward to seeing them build upon these successes in the future."<br></p>
            <ol>
<li>The number of cyclists in London rose by 23% between May 2003 and May 2004. </li>
<li>Transport for London is working in partnership with the emergency services to make cycling an integral part of their front line service. The 999 teams act as excellent role models for Londoners in the use of bicycles while respecting the law and road safety. The Transport Operational Command Unit (TOCU) cycling team deals with congestion incidents, crime and anti-social behaviour on buses, and illegal parking in bus lanes, box junctions and loading bays to ensure the efficient use of road space. </li>
<li>Development of cycling from 2003 to 2004: 
<ul>
<li>City of London Police expanded their cycling team from 17 to 21 staff, and moved the concept of police on bikes through the ranks, bringing into operation the first Special Constable trained as a cycle officer. The team made over 200 arrests, 2000 stop and searches and issued over &pound;40,000 worth of fines for motor and cycling offences. </li>
<li>The London Ambulance Service doubled the size of their cycling team from 8 to 16 staff and successfully completed a pilot at Heathrow Terminal 4, securing a permanent team in the terminal. They finalised the National Cycling Response Unit policy, procedures and recruitment package; and also set up the necessary support systems to encourage other LAS staff to cycle. </li>
<li>The Metropolitan Police Service increased the number of bicycles available from 380 to over 400, and successfully introduced bikes to the TOCU and Royal Parks Police. They established the necessary organisational infrastructure to bring cycling into mainstream MPS operations, and finalised the MPS package of standards for officers on bikes relating to cycle training, clothing, bikes and maintenance. A mandatory bespoke MPS cycle training package has been developed and approved, which will train approximately 1,500 police officers, community support officers and traffic wardens in the next year. </li></ul></li>
<li>Four short 'Day in the Life' films shown at the Award Ceremony can be downloaded from www.tfl.gov.uk/streets/cycling/cycling-campaign-and-initiatives-999awards.shtml from week commencing 28 February for three months. The films (3.5 minutes long) perfectly sum up the benefits bicycles bring to the various 999 cycling teams. </li>
<li>Below is a list of the awards and the winners. Photographs of the winners are available upon request.</li></ol>
<p dir="ltr"><strong>Police Cycling Award</strong><br>Awarded to a cyclist or cycle team from London's police services who has demonstrated excellence through the use of bicycles in police work - JOINT WINNERS</p>
<p dir="ltr"><strong>City of Westminster Taskforce, Metropolitan Police Service led by Sergeant Ray Bloye</strong></p>
<ul>
<li dir="ltr">Achieving police targets: in 13 months the team has arrested over 800 people for a variety of offences, and have recovered many stolen or prohibited articles. </li>
<li dir="ltr">Business efficiency: use of bikes at major events gives increased mobility and visibility, meaning fewer officers are required. </li>
<li dir="ltr">Building community relations: bicycles are ice-breakers with local youths and hard to reach groups. The team have formed a strong partnership and mutual respect with monthly CHARM demonstrators which has reduced traffic disruption and the number of arrests. </li>
<li dir="ltr">Integration/development: the bicycle team form an integral part of the overall policing team in Westminster, working closely with foot and vehicle patrols. </li></ul>
<p><strong>Paul Coston, City of London Police</strong></p>
<ul>
<li>Achieving police targets: Paul has made 47 arrests, issued 250 fixed penalty notices and executed 360 stop and searches this year, and has cycled over 2000 miles in doing so. He has received several merit certificates for being instrumental in assuring the safety of a woman attempting to commit suicide, and arresting suspects relating to the terrorism act - his swift and decisive action helped gather a huge amount of intelligence. </li>
<li>Integration/development: Paul trained four new officers and was instrumental in the development of Special Officers on police cycles. He arranged training and cycling kit for the new Special Constable, the first Special to ride in London.<br>Cycling in the Community Award: awarded to a cyclist or cycle team from all represented bodies who has demonstrated excellence in improving community relations through the use of the bicycle in his/her profession.</li></ul>
<p><strong>Hackney South Cycle Squad led by Sergeant Matthew Devereau, Metropolitan Police Service</strong></p>
<ul>
<li>Links with the community have been so effective at building respect for the police team that the community is now helping them do their job, providing them with a steady flow of intelligence about local crime. </li>
<li>This has been achieved in a particularly difficult patch, within just 12 - 18 months. </li>
<li>The South Cycle Squad working times reflect peak street crime periods and the squad used highly visible patrolling to deter offending, as well as focussing their attention on crime hotspots. </li>
<li>The SCS have made over 200 arrests for a broad range of offences and have recovered stolen property and weapons including firearms. </li></ul>
<p><strong>Cycling in the Ambulance Service Award<br></strong>Awarded to an operational member of the London Ambulance Service Cycle Response Unit, who has demonstrated excellence in meeting London's emergency healthcare needs - JOINT WINNERS</p>
<p dir="ltr"><strong>Cath Hodson, Emergency Medical Technician, London Ambulance Service</strong></p>
<ul>
<li dir="ltr">Cath attended a call outside the normal operational area which she recognised to be from a regular caller. She arrived on scene within four minutes, cycling from the lobby at the Waterloo HQ, down steps and through traffic to get to the patient. Having assessed the patient, Cath confirmed there were no immediately life threatening medical problems and as the patient was able to walk to the hospital, an ambulance was not required. </li></ul>
<p><strong>Keith Plummer, Emergency Medical Technician, London Ambulance Service</strong></p>
<ul>
<li>On arrival at the scene of an accident involving a motorcycle and a car, Keith established a safe area within which he could treat the patient by positioning his bike on the busy road (Shaftesbury Avenue) to fend off on-coming traffic. </li>
<li>He provided professional medical help to the injured parties. </li>
<li>He called all the necessary assistance and managed the assistance upon arrival - co-ordinating the helicopter service, the ambulance and the police.</li></ul>
<p><strong>999 London Cycling Award</strong><br>The top individual award presented to an individual from all represented bodies who has done the most to develop cycling within their organisation.</p>
<p dir="ltr"><strong>Justin Dixon, MPS Physical Education Branch, Metropolitan Police Service</strong></p>
<ul>
<li dir="ltr">Justin made the biggest change within his own organisation within the last year. </li>
<li dir="ltr">In developing a professionally accepted training course that meets the demands of all, he overcame what was an important hurdle preventing the wider use of bicycles in the MPS. </li>
<li dir="ltr">His work has been pivotal in mainstreaming cycling in the MPS. </li>
<li dir="ltr">He has successfully resolved conflicting operational requirements to devise a scheme that met health and safety needs without compromising everyday operations. </li>
<li dir="ltr">The scheduling of training courses and the structure for down training means there are now no limits to the number of police officers that can be trained as bike officers. </li></ul>
<p><strong>999 Cycling Development Award:</strong> awarded to the organisation from all represented bodies who has done the most to develop cycling within their field of work.</p>
<p dir="ltr"><strong>Metropolitan Police Service</strong></p>
<ul>
<li dir="ltr">The development of new standards in cycle training, clothing and equipment have propelled the use of pedal cycles from a bottom up concept to a corporate model, incorporated into the mainstream operation of the MPS.<br></li></ul>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "At the second annual 999 London Cycling Awards at City Hall on Wednesday 23 February, the stars of the emergency services' cycling teams were rewarded for their hard work and commitment to cycling and to improving community relations through increasing";}
        
        


 