


@{ViewBag.Title = "Agreement secured with Capita for delivery of core services for proposed western extension of the congestion charging zone conditional upon go-ahead being given by Mayor in autumn 2005";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>Agreement secured with Capita for delivery of core services for proposed western extension of the congestion charging zone conditional upon go-ahead being given by Mayor in autumn 2005</h1>
        <div class="content-page-press-release">
        23 February 2005
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        Transport for London (TfL) has agreed a procurement strategy for the provision of services to set up and operate the proposed westward extension. This strategy is conditional on a decision by the Mayor of London to progress the scheme or not. The earliest a decision could be made is in autumn 2005 following a full public consultation on the Westward expansion proposal. The earliest go live for an extension is early 2007.
        
    </div>



 <div class="on-this-page">
<p>As part of this procurement strategy TfL has reached agreement with Capita, the main service provider of the current congestion charging scheme, to set up and operate core services for the westward extension for either one or two years.</p>
<p>The core services which include sales, enquires, discount registration and penalty charge notice processing cannot be separated from the existing operation as this would not provide a fluent or cost effective service over the combined charging area.</p>
<p>TfL will shortly begin negotiations with other service providers (for example NCP for on-street enforcement services and Barclays for Merchant Acquirer services) to extend their existing services to cover the extended zone should it be given mayoral approval.</p>
<p>Services that are easily separated from the current zone will be let competitively. For example TfL has already started the procurement process for the provision of camera technology and other infrastructure and communications requirements as part of a fully competitive tender process.</p>
<p>All agreements will be annulled should the Mayor decide not to implement the currently proposed extension.</p>
<p>&nbsp;</p>
<p><br>&nbsp;</p>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "As part of this procurement strategy TfL has reached agreement with Capita, the main service provider of the current congestion charging scheme, to set up and operate core services for the westward extension for either one or two years.The core services";}
        
        


 