


@{ViewBag.Title = "Approval for &pound;27m Bounds Green A406 Scheme";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>Approval for &pound;27m Bounds Green A406 Scheme</h1>
        <div class="content-page-press-release">
        10 February 2005
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        The Mayor and Transport for London (TfL) today confirmed the end to 40 years of uncertainty surrounding the road improvement schemes along the A406 North Circular Road at Bounds Green.
        
    </div>



 <div class="on-this-page">
<p>The TfL board approved a &pound;27.4m scheme that will create a predominantly two way dual carriage way with significant road safety and environmental benefits. The new scheme is part of the improvements planned for London's transport network under TfL's &pound;10bn 5 Year Investment Programme. </p>
<p>With initial designs ready in May 2005 Bounds Green residents could be enjoying the benefits of the new road by early 2008 - these include:</p>
<p>improved journey times and traffic flow at junctions, the latter helping to encourage rat-runners back on to the A406; <br>enhanced safety for all road users and improved pedestrian, cycling and bus priority facilities; <br>a better environment through resolving the fate of properties long-affected by the uncertainty of the proposed schemes as well as through the provision of greening and the planting of a new tree line; <br>&pound;4m for traffic calming measures and to address rat-running, noise and safety issues on local streets in the London Boroughs of Enfield, Haringey and Barnet.</p>
<p>The Mayor of London, Ken Livingstone said:</p>
<p>'Work is urgently needed on this stretch of the North Circular to improve the safety of local residents - especially children - and alleviate congestion and rat-running. The original scheme would have cost over ten times as much and would have attracted more traffic and pollution, further damaging the quality of life for Bounds Green residents. If it becomes necessary in future years to further increase capacity, we will seek Government funding and look at additional measures, such as speeding up traffic flow at junctions".</p>
<p>"We also have a major opportunity to bring back into use the run-down housing along the North Circular, which is no longer required for this scheme, and provide much-needed affordable housing, as part of the Government's scheme to create more homes across London. This would end years of uncertainty surrounding these properties and deliver new quality homes for key workers and first-time buyers in north London."</p>
<p>Peter Hendy, TfL Managing Director of Surface Transport said:</p>
<p>"This is a predominately residential area with a number of schools near to a road which has suffered from congestion, rat-running and poor housing, all of which has made life intolerable for residents. The new scheme make the road safer for motorists, cyclists and pedestrians whilst cutting rat-running and we hope to do it by 2008".</p>
<p>The works will be carried out to a three kilometre stretch of the A406 between the underpass at the A10 Great Cambridge Road Roundabout in the east and the Bounds Green Road junction in the west. In an area historically blighted by congestion, rat-running and inadequate provisions for pedestrians, cyclists and buses the new scheme aims to tackle issues that have damaged the local environment and threatened the safety of all road users.</p>
<p>A number of properties currently owned by TfL will be required to make way for the construction of the scheme and TfL will work closely with the London Borough of Enfield in managing the re-housing of affected tenants. The exact number and location of affected properties will be confirmed on completion of detailed plans during Spring 2005.</p>
<p>TfL continues to reassess proposals for the A406 at Regent's Park Road and Golders Green Road after public consultation on small-scale safety and pedestrian improvement schemes.<br></p>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "The TfL board approved a &pound;27.4m scheme that will create a predominantly two way dual carriage way with significant road safety and environmental benefits. The new scheme is part of the improvements planned for London's transport network under TfL's";}
        
        


 