


@{ViewBag.Title = "AUTOPORTRAITS";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>AUTOPORTRAITS</h1>
        <div class="content-page-press-release">
        14 February 2005
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        Platform for Art is delighted to present three works by the Central African artist Samuel Fosso.
        
    </div>



 <div class="on-this-page">
<p><strong>Samuel Fosso<br>Gloucester Road Underground Station<br>14 February 2004 - 6 June 2005</strong></p>
<p><strong>Private View<br>15 February 2005<br>6.30 - 7.30pm Gloucester Road station<br>6.30 - 9.00pm Firehouse, 3 Cromwell Road, London SW7<br></strong></p>
<p>This project is a collaboration with London's Hayward Gallery to coincide with its exhibition Africa Remix: Contemporary Art of a Continent. This is the largest exhibition of contemporary African art ever seen in Europe and a major highlight of the London-wide celebration of contemporary African creativity, Africa 2005.</p>
<p>Samuel Fosso is one of the most renowned of Africa's artists working with photography. In his work he explores a variety of persona and poses, striving to extend his identity by adopting the guise of a number of fictitious roles that are often marked with satire and pathos.</p>
<p>The studio photography genre that has thrived and endured for more than one hundred years in many commercial centres of West Africa has had a strong influence on Fosso's work. His artistic practice developed whilst working out of his small studio producing and selling portraits for the local domestic market. He is now internationally recognized as one of Africa's most important contemporary artists.</p>
<p>Taking on myriad guises using clothing and back-drops, Fosso has made series of fantastical self-portraits, based on a range of characters, from African Chiefs to American women. The works are a witty and ironic exploration of self-identity and he is considered to be one of the first African artists to build a commentary on contemporary African masculinity, gender, identity and sexuality.<br>Fosso's work has been shown in major international venues such as the Photographers' Gallery in London and the Guggenheim Museum in New York. Born in Cameroon in 1962, he lives and works in Bangui, Central African Republic.</p>
<p>Platform for Art is the public art programme for London Underground</p>
<p>For more information on Platform for Art<br>Tel: 020 7918 4625<br>Email: <a href="mailto:plat4art&#64;tube.tfl.gov.uk">plat4art&#64;tube.tfl.gov.uk</a></p>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "Samuel FossoGloucester Road Underground Station14 February 2004 - 6 June 2005Private View15 February 20056.30 - 7.30pm Gloucester Road station6.30 - 9.00pm Firehouse, 3 Cromwell Road, London SW7This project is a collaboration with London's Hayward Gallery";}
        
        


 