


@{ViewBag.Title = "Burnt Oak improved";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>Burnt Oak improved</h1>
        <div class="content-page-press-release">
        25 February 2005
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        The 1920's Burnt Oak Station has been completely modernised to make it cleaner, brighter and safer for passengers, but all the heritage features have been carefully kept and maintained.
        
    </div>



 <div class="on-this-page">
<p>The refurbishment, undertaken for London Underground (LU) by Tube Lines, is one of the first concrete examples of the billions now being invested in the capital's transport infrastructure.</p>
<p>To mark the completion of the work, a Meet the Managers event is being held at Burnt Oak Station on the morning of Friday 25 February, 2005, where passengers can learn from LU and Tube Lines about the refurbishment.</p>
<p>David Millard, LU Northern line General Manager said: "Burnt Oak is one of seven modernised and refurbished stations completed by Tube Lines across London, on time and on budget. These stations are the first delivered by TfL's five-year, &pound;10 billion Investment Programme to improve and expand the capital's transport network.</p>
<p>"The modernisation of Burnt Oak Station delivers real benefits to passengers, making it cleaner, brighter and even safer, but the station's distinctive heritage features have been carefully kept and maintained.</p>
<p>"Tube Lines repaired and replaced all damaged tiles, repaired and repainted the roof, walls and ceilings. They also improved the exterior of the station and the cross track overbridge.</p>
<p>"The modernisation included an improved PA system, as well as new and additional seating. Security will be increased with extra CCTV, Help Points and better lighting.</p>
<p>"Passengers particularly like the new information indicator boards, which are not only on the platforms, but in the ticket hall as well, so they can see exactly when the next few trains will arrive as soon as they step in the ticket hall."</p>
<p>Burnt Oak Station was constructed as part of the extension of the "Hampstead Tube", which now forms part of the Northern line, from Golders Green to Edgware. The first phase of the new line had opened as far as Hendon Central, with an intermediate station at Brent (now Brent Cross) in 1923. The second phase to Edgware with stations at Burnt Oak and Colindale opened on 18 August 1924, although Burnt Oak itself was not ready for use until 27 October 1924.</p>
<p>The station was built to serve the new London County Council's Watling Estate.</p>
<p>Burnt Oak like the other intermediate stations on this part of the line, was a building of Georgian character designed by the then Underground Group's architect Stanley Heaps, to blend in with the new suburban growth the line was intended to encourage.</p>
<p>There has been intense interest in the old "Burnt Oak (alight here for Stag Lane Aerodrome)" platform roundels. These have been retained by the LT Museum.</p>
<p>Tim O'Toole, LU Managing Director said:<br>"London Underground is now running more trains than ever before and is more reliable than it has been for many years. A lot of hard work has gone into these station improvements, but we know there is a lot more still to do.</p>
<p>"We are investing billions in the Tube and I am determined to ensure that the promised improvements are delivered for passengers."</p>
<p>Terry Morgan, Tube Lines Chief Executive said:<br>"The completion of the first tranche of stations under the investment programme represents a major milestone in our plans to rebuild the Jubilee, Northern and Piccadilly lines.</p>
<p>"The stations themselves look and feel brighter and the introduction of new technology has delivered substantial improvements in information provision and the safety of customers. We have a further 15 stations planned to go on site in the first six months of this year and over the next five years we are committed to upgrading almost every station across the three lines.</p>
<p>"This work is just another step for Tube Lines as we begin to deliver a massive improvement programme to London Underground. Work on the additional carriage for Jubilee line trains is progressing well for introduction in early 2006 as is our programme to replace the signalling systems on the Jubilee and Northern lines."</p>
<p>&nbsp;</p>
            <ul>
<li>Transport for London (TfL) is investing &pound;10bn over the next five years to improve and expand London's transport network; </li>
<li>Tube Lines is responsible for the maintenance and renewal of the Jubilee, Northern and Piccadilly lines, including 97 stations; </li>
<li>Tube Lines is due to deliver a new seventh car on all new Jubilee line trains by early 2006; new signalling systems to increase capacity on the Jubilee line by 2009 and the Northern line by 2011; the modernisation or refurbishment of all stations maintained by 2010; </li>
<li>For more background and historical information, contact the LU Press Office. </li></ul>
<p><strong>Tube Lines contacts:</strong></p>
<p>George Hutchinson 020 7088 5637 / 07909 925039<br>Laura Wallace 020 7088 5335 / 07843 551589</p>
<p>&nbsp;</p>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "The refurbishment, undertaken for London Underground (LU) by Tube Lines, is one of the first concrete examples of the billions now being invested in the capital's transport infrastructure.To mark the completion of the work, a Meet the Managers event is";}
        
        


 