


@{ViewBag.Title = "Consultation begins on later weekend running of Tube";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>Consultation begins on later weekend running of Tube</h1>
        <div class="content-page-press-release">
        21 February 2005
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        Ken Livingstone, Mayor of London and Transport for London (TfL) today announced the start of a two-month public consultation on later weekend Tube services.
        
    </div>



 <div class="on-this-page">
<p>From February 22, Londoners, Tube users and all interested parties will be able to express their views on the Mayor's proposal to extend Tube running for an hour later on Friday and Saturday nights, with last trains leaving central London at around 1.30am.</p>
<p>If the proposal gets the go-ahead, the changes would come into effect in December 2006.</p>
<p>Ken Livingstone, Mayor of London said: "A later running Tube would help thousands of people to get home safely and conveniently after a Friday or Saturday night out.</p>
<p>"Many passengers say they would spend more evenings out in the capital if they could get home on the Tube.</p>
<p>"However, if we run the Tube an hour later on Friday and Saturday nights, we would have to make-up the time needed for maintenance and repairs by starting an hour later on Saturday and Sunday mornings. As this will inconvenience some people, I have asked TfL to consult Londoners before making a decision."</p>
<p>Later running Tube trains on Friday and Saturday nights could benefit an estimated 140,000 extra passengers each weekend with their journey home, including those enjoying London's nightlife and many of those who work in London's theatres, restaurants, pubs and clubs.</p>
<p>However, if the Tube closes an hour later, it will have to start an hour later the following morning to allow essential maintenance to track, trains and signals that can only be carried out at night when the network shuts down.</p>
<p>On Saturdays, this would mean first trains arriving at central London destinations around 7.00am, but on Sundays, first trains would not arrive in central London until around 8.30am.</p>
<p>Research by TfL shows that around 55,000 people currently use the Tube during the first hour of operation over the weekend. The majority - almost 60 per cent - are travelling to and from work and many others are travelling to make other transport connections, such as with national rail at central London stations or flights at London's airports.</p>
<p>Tim O'Toole, London Underground Managing Director, said: "TfL is investing &pound;10bn over the next five years to improve and expand London's transport network, more than half of that in the Underground. The Tube is improving, but for that to continue, it is essential that we retain the same number of hours for essential maintenance and renewal work.</p>
<p>"If following consultation, it is decided to progress a later Tube service on Friday and Saturday nights, then we will aim to introduce it in late 2006."</p>
<p>Tube users, businesses and workers will all be asked for their views on later Tube running. Members of the public can make their views known through dedicated web pages set up for the consultation at <a href="http://www.tfl.gov.uk">www.tfl.gov.uk</a> or by completing a consultation leaflet available from all London Underground stations.</p>
<p>A freephone helpline has also been set up, Tel. 0800 10 60 22 (textphone 0800 10 60 27). Consultation will finish on 22 April 2005. ends<br></p>
            <ul>
<li>The Mayor made a commitment in his manifesto to investigate later Tube services on Fridays and Saturday nights. </li>
<li>Currently, the last trains from the West End at weekends are around 12.30am and reach their termini between 1.00am and 1.30am depending on location. Services begin again at around 5.30am on Saturday and 7am on Sunday. </li>
<li>Under the new proposal, first trains would arrive at Central London stations at around 7am on Saturdays and 8.30am on Sundays; last trains would depart from the West End on Friday and Saturday nights at around 1:30am. </li>
<li>There is a small group of stations on the network which close earlier than this time, and would continue to do so, as their local demand does not justify late night operation and these are detailed below. </li>
<li>The following stations currently close early; last trains from the West End to these stations are set out below and will not change as a result of this proposal: Roding Valley, Chigwell and Grange Hill: 19:33, Heathrow Terminal Four (currently closed due to construction of Terminal 5): 23:07, Shoreditch: 20:00 (closed all day Saturdays), Kensington Olympia: 23:09, Cannon Street (closed until April 2005): 20:50 (Fridays) 19:20 (Saturdays). </li>
<li>As the proposal has an obvious impact on Tube working patterns, London Underground is also consulting with trade unions. <br></li></ul>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "From February 22, Londoners, Tube users and all interested parties will be able to express their views on the Mayor's proposal to extend Tube running for an hour later on Friday and Saturday nights, with last trains leaving central London at around";}
        
        


 