


@{ViewBag.Title = "Croxley Rail Link project on track";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>Croxley Rail Link project on track</h1>
        <div class="content-page-press-release">
        10 February 2005
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        Hertfordshire County Council (HCC) has this week submitted a proposed joint funding package to the Department for Transport (DfT) for the construction of the Croxley Rail Link for Watford.
        
    </div>



 <div class="on-this-page">
<p>The proposal includes a substantial financial commitment from Transport for London (TfL) of almost &pound;18m towards the &pound;65m total cost, together with contributions from HCC and others already committed. Approval of this funding package is now being sought from the DfT.</p>
<p>London Underground (LU) and Hertfordshire County Council (HCC) have been working in close partnership over the last two years to develop a funding package that could deliver the Croxley Rail Link.</p>
<p>The scheme would provide Metropolitan line passengers with a direct link to Watford Town Centre. It forms a fundamental part of the County Council's Local Transport Plan and is part of the TfL five-year &pound;10bn Investment Programme. It is estimated the new link would carry over one million trips per year, 300,000 being transfers from cars.</p>
<p>LU and HCC look forward to a swift and positive decision from the DfT so that work can start on the necessary planning applications this year.</p>
<p>If funding is confirmed by the DfT, Metropolitan line trains could be calling at Watford Junction and Watford High Street by 2010.</p>
<p>County Councillor Derrick Ashley, Executive Member for Environment said: "We have worked tirelessly in pushing this scheme forward in recent years and this submission is the final step toward securing the right to formally promote the project through the Transport and Works Act process. We look forward to working with LU and the DfT on the next steps to realising the benefits that all parties recognise the scheme can bring, to our residents and businesses."</p>
<p>Tim O'Toole, Managing Director of London Underground said:<br>"This scheme has been long in the making and will bring considerable benefits to LU passengers. It is great news to see such positive steps being taken towards its realisation."</p>
<p>&nbsp;</p>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "The proposal includes a substantial financial commitment from Transport for London (TfL) of almost &pound;18m towards the &pound;65m total cost, together with contributions from HCC and others already committed. Approval of this funding package is now";}
        
        


 