


@{ViewBag.Title = "Green light for new energy efficient bus infrastructure";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>Green light for new energy efficient bus infrastructure</h1>
        <div class="content-page-press-release">
        24 February 2005
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        London's bus revolution takes another step forward today with the official opening by Mayor of London Ken Livingstone of two important energy-efficient buildings in South East London.
        
    </div>



 <div class="on-this-page">
<p>The brand new Vauxhall Cross Interchange and the refurbished Walworth Bus Garage bring extra capacity to London's booming bus network and both structures feature cutting edge environmental technology too.</p>
<p>Vauxhall Cross is now the second busiest bus station in the Capital, serving around 45,000 passengers per day with 12 bus routes calling at the strikingly designed interchange. The project to rejuvenate Vauxhall Cross did not just involve the construction of the interchange. Motorists were also considered with improvements to the road layout and traffic signals in order to cut delays at one of the Capital's busiest junctions.</p>
<p>Vauxhall Cross incorporates cutting edge photovoltaic technology to draw energy from daylight, generating as much as 30% of the energy required to power the bus station, enough to light eight three-bedroom houses for a year.</p>
<p>The newly refurbished Walworth bus garage is now entering a new phase in a 100 year history of catering to London's bus passengers. It now becomes the first bus garage in London to be solar powered, with 744 solar panels on the roof of the garage generating 38,500kWh of electricity each year. The garage will initially house three bus services serving Central and South London operated by Travel London (routes 100, 381 and P13). </p>
<p>The Mayor of London, Ken Livingstone said:</p>
<p>"These two new buildings are important additions to London's improving bus network, helping to make buses even more reliable and accessible for passengers. </p>
<p>"They also use leading edge energy technology which is in keeping with my goals to make London a sustainable city. My energy strategy states that all new large public buildings will have solar panelled roofs and these buildings show how this can be achieved."<br />
<br />
TfL's, Managing Director of Surface Transport, Peter Hendy said:</p>
<p>"London's bus network is undergoing a revolution and the addition of a brand new interchange at Vauxhall Cross and a newly refurbished garage at Walworth gives us even more scope to further increase the reliability of the network.</p>
<p>"With over 6 million passengers every day London Buses is now the busiest single transport network in the UK, a standard bearer for public transport nationally and a success story that the whole capital can be proud of. Funding provided for improvements in facilities such as these not only improve the service for our existing passengers but are also a vital part in persuading still more Londoners and visitors to return to public transport."</p>
<h2>WALWORTH</h2>
<h3>History</h3>
<p>Walworth Bus Garage was opened by the London County Council as Camberwell Tram Depot in October 1905. It was renamed and converted to operate buses in 1951, when it was completely rebuilt. Closed in 1985 by London Buses as surplus to requirements following years of steadily declining passenger traffic, it saw a couple of short periods of re-use in 1987 for Red Arrow buses prior to the opening of a garage at Waterloo and between 1992 and 1997 by London &amp; Country / Londonlinks. After this final closure, when the premises were in a very run down condition, proposals were drawn up for disposal and plans were prepared for its redevelopment as a supermarket.</p>
<h3>Revival</h3>
<p>However, the urgent need for additional inner London garage capacity following the creation of TfL brought forth the decision to abort the disposal and return the building to its transport use. It was decided that London Buses would fund the refurbishment (at a cost of &pound;4.7M) and seek an operational tenant who would provide technical input through a team of consultants. Of the companies expressing interest, National Express Group plc. were selected and this operation renews and strengthens their involvement in the provision of bus services for London.</p>
<h3>Extent of Works</h3>
<p>The principal areas of work comprise: </p>
<ul>
    <li>Office block internally gutted and refurbished, to act both as an operational centre for the garage as well as a head office for Travel London Ltd., a newly created subsidiary of National Express including the former Connex Bus operation.
    </li>
    <li>Garage totally refurbished to current operational requirements and latest equipment
    </li>
    <li>New maintenance pits constructed, capable of servicing articulated buses if required
    </li>
    <li>A photo-voltaic system has been installed, consisting of 744 panels mounted on the roof. Electricity produced by the system feeds back 38,500kWh into the grid every year. </li>
</ul>
<h2>VAUXHALL CROSS</h2>
<p>Built by Transport for London (TfL), the Vauxhall Cross transport interchange is a new landmark for this corner of the Capital and a statement about the importance of integrated transport schemes. The interchange plays an important part in the regeneration of Vauxhall. </p>
<p>The new structure improves the connection between the Tube, bus and rail services to form a single transport interchange.</p>
<h3>Overview:</h3>
<p>TfL worked in partnership with the Mayor of London, Cross River Partnership, London Development Agency, London Borough of Lambeth and others to improve public transport facilities at Vauxhall Cross. </p>
<p>The interchange supports greater use of public transport, cycling and walking, whilst aiming to reduce accidents and congestion. For passengers at Vauxhall Cross changing between bus, rail and Tube had been difficult for a long time, while pedestrians and cyclists had to use roads dominated by cars and lorries. The interchange has made journeys more convenient, pleasant and safe for all road users.</p>
<p>The main feature of the interchange is the fully pedestrianised bus station. It brings bus stops from the major surrounding roads (South Lambeth Road, Wandsworth Road and the south end of Vauxhall Bridgefoot) in to one central area along Bondway, making it far more convenient for passengers. <br />
The interchange brings extensive benefits, including:</p>
<ul>
    <li>easier access to and between bus, Tube and rail, including more pedestrian crossings improved bus services, with a 40% increase in bus services through Vauxhall Cross;
    </li>
    <li>greater provision for cyclists, with new cycle lanes and storage racks
    </li>
    <li>better traffic flow around Vauxhall Cross, with an improved road layout, new traffic lights and improved signage
    </li>
    <li>additional security, increased CCTV coverage and monitoring, coupled with better lighting, improves security
    </li>
    <li>improved landscaping, the restoration of public archways, including a display of community artwork; new street furniture and extensive tree planting improve the surrounding area
    </li>
    <li>additional facilities, taxi ranks, toilets and sheltered waiting areas make the interchange comfortable for commuters. </li>
</ul>
<p>Present daily figures for public transport at Vauxhall are approximately 2,000 buses, 712 Underground services and 730 Rail services. It is estimated that over 45,000 commuters come through Vauxhall Cross interchange each day, and that number continues to grow. With 168 buses per hour passing through the interchange in the morning peak, Vauxhall is now the second busiest bus station in London (Victoria being the busiest). </p>
<h3>Environmental Technology</h3>
<p>The roof of the Interchange uses photovoltaic technology to draw energy from daylight, which is converted into electricity, generating as much as 30% of the energy required to power the bus station area, enough to light eight 3-bedroom houses for a year.</p>
<p>The cantilevers on the interchange structure reach out to the sun and will generate electricity for the 24-hour station by turning daylight into power. </p>
<p>The solar technology used is at the cutting-edge of technology. 168 'hybrid' solar modules have been incorporated into the cantilevered section of the interchange's roof. These are currently the world's most efficient solar modules that are commercially available (due to the unique combination of the latest monocrystalline and amorphous silicon technology, ideally suited to cloudy London). The interchange is an excellent example of using renewable energy in original design work.</p>
<p>65% of the costs of the PV units were covered by a grant from the DTI Major PV Demonstration Programme. A deal has been made with an electricity seller for a net metering contract that sells excess energy back to the National Grid. </p>
<p><strong>The London bus network</strong> is one of the largest and most comprehensive urban systems in the world. Each weekday 8,000 London buses carry 6 million passengers on over 700 different routes.</p>
<p>Key points about expanding the London bus network: </p>
<ol>
    <li>Bus use is up by 11% over the past year (03/04) - an extra 168 million passenger trips;
    </li>
    <li>The number of passengers using buses is at its highest level since 1968;
    </li>
    <li>Patronage is rising at its fastest rate since the Second World War;
    </li>
    <li>Night bus use is up by 29% over the past year; and
    </li>
    <li>London Buses is running the highest volume of service on London's roads than at any time since 1957. </li>
</ol>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "The brand new Vauxhall Cross Interchange and the refurbished Walworth Bus Garage bring extra capacity to London's booming bus network and both structures feature cutting edge environmental technology too.Vauxhall Cross is now the second busiest bus";}
        
        


 