


@{ViewBag.Title = "Improvement works on track for Northern line Bank branch";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>Improvement works on track for Northern line Bank branch</h1>
        <div class="content-page-press-release">
        02 February 2005
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        Extensive work to improve the Northern line means there will be no southbound service on the Bank branch during three consecutive weekends in February and March.
        
    </div>



 <div class="on-this-page">
<p>The works to improve the track are to increase the reliability of this section of track, therefore improving the performance of the Northern line. Other maintenance work will also be done during these closures to limit the need for future closures. The work is being undertaken by Tube Lines.</p>
<p>The closures will take place between Camden and Kennington stations on the southbound Bank branch during the following weekends: 19/20 February 2005; 26/27 February 2005; 5/6 March 2005.</p>
<p>The Charing Cross branch and the rest of the Northern line will be fully operating, including the northbound Bank branch.</p>
<p>During this work Old Street station will be fully closed, but the station is a 15 minute walk from Moorgate, and there are a number of bus services in this area including the 43, 141, 76 and 214. Valid London Underground tickets will be accepted on these services.</p>
<p>All sections of the closure are covered by a 24 hour or night bus route, but late night passengers are advised to start their journeys earlier, if they intend to catch last train connections.</p>
<p>Passengers are advised to allow more time for their journeys during this important improvement work.</p>
<p>For more information, check out the TfL website or call London Travel Information on 020 7222 1234.</p>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "The works to improve the track are to increase the reliability of this section of track, therefore improving the performance of the Northern line. Other maintenance work will also be done during these closures to limit the need for future closures. The";}
        
        


 