


@{ViewBag.Title = "London Underground welcomes new signallers deal";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>London Underground welcomes new signallers deal</h1>
        <div class="content-page-press-release">
        03 February 2005
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        London Underground (LU) today said a deal struck with trade unions provides flexible and efficient working practices for Tube signalling and line control staff for the first time ever.
        
    </div>



 <div class="on-this-page">
<p>The deal has been accepted by ASLEF, RMT and TSSA.</p>
<p>LU Chief Operating Officer, Mike Brown said:<br>"This is a good deal for London Underground. It ends years of complex, multiple agreements with trade unions. It replaces these with a single deal that gives us the flexibility to provide the best possible service to Tube passengers.</p>
<p>"This deal comes at no extra cost to Tube farepayers or London Underground. Improvements in pay and conditions will only be introduced when agreed efficiency targets have been met."<br></p>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "The deal has been accepted by ASLEF, RMT and TSSA.LU Chief Operating Officer, Mike Brown said:'This is a good deal for London Underground. It ends years of complex, multiple agreements with trade unions. It replaces these with a single deal that gives us";}
        
        


 