


@{ViewBag.Title = "London Underground successfully sues graffiti vandal";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>London Underground successfully sues graffiti vandal</h1>
        <div class="content-page-press-release">
        10 February 2005
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        London Underground (LU) has successfully sued a graffiti vandal for &pound;3,000, the first time LU has used civil action to recover the costs of graffiti crimes.
        
    </div>



 <div class="on-this-page">
<p>The judgement paves the way for LU to recover the costs of removing Tube graffiti from vandals who commit such crimes in the future.</p>
<p>The ground breaking civil action means convicted vandal Daniel Salim Koroma, 28 from Stoke Newington, London, will have to pay for the damage he caused to the Tube, rather than Tube passengers.</p>
<p>Koroma will be making the payments for the next five years, which will affect his credit rating because he will be on the County Court register until the debt is paid.</p>
<p>LU Managing Director, Tim O'Toole said:<br>"This judgement is great news. It sends a message to any graffiti vandal thinking of targeting the Tube. Not only do you face a criminal record, but we will pursue you for the full cost of your vandalism too."</p>
<p>"Graffiti on the Tube is not acceptable. It is intimidating and threatening to passengers - in short, it is psychological mugging.</p>
<p>"In the last two years, we have stepped up the fight against graffiti on the Tube, which costs &pound;20 million each year to clear up. We are working closely with the British Transport Police, Tube Lines and Metronet to cut this crime.</p>
<p>"Thanks to this work, all Tube trains now enter passenger service each day free of painted graffiti. I am determined to continue to tackle Tube graffiti and the vandals who perpetrate it."</p>
<p>Earlier this week (Monday February 7), Ken Livingstone, Mayor of London joined Tim O'Toole and Tube Lines Chief Executive, Terry Morgan to mark the modernisation and refurbishment of seven Tube stations across London. The station renewals include a significant increase in CCTV, a vital tool in the fight against crime and anti-social behaviour, such as graffiti.</p>
<p>Speaking at one of the seven stations, Ken Livingstone said:<br>"Transport for London is investing &pound;10bn over the next five years to improve and expand London's transport network. I'm delighted that we are starting to see cleaner, safer and more accessible stations.</p>
<p>"I look forward to more station improvements and more reliable Tube services, as we continue to invest in the Tube."</p>
<p>Koroma's offences were on various parts of the Tube network, particularly on the Northern line. He was convicted of the criminal offences at6 Middlesex Crown Court and the civil judgement was recorded at Northampton County Court on February 2, 2005.</p>
<p>&nbsp;</p>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "The judgement paves the way for LU to recover the costs of removing Tube graffiti from vandals who commit such crimes in the future.The ground breaking civil action means convicted vandal Daniel Salim Koroma, 28 from Stoke Newington, London, will have to";}
        
        


 