


@{ViewBag.Title = "LU welcomes Kings Cross project boost";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>LU welcomes Kings Cross project boost</h1>
        <div class="content-page-press-release">
        16 February 2005
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        London Underground (LU) today welcomed the announcement by the Department for Transport (DfT) that gives the go-ahead to the new Northern ticket hall at King's Cross St Pancras Underground station.
        
    </div>



 <div class="on-this-page">
<p>The new Northern ticket hall will provide extra capacity for a key interchange from the deep-level Tube lines at King's Cross - the Northern, Piccadilly and Victoria lines - to the Tube's sub-surface lines, the mainline rail station and to the new Channel Tunnel Rail Link and commuter services at St Pancras.</p>
<p>The new Northern ticket hall will also mean that, when complete, King's Cross St Pancras Underground station will be fully-accessible, with step-free access to all Tube lines.</p>
<p>LU Managing Director, Tim O'Toole said:<br>"I am pleased that the new Northern ticket hall at King's Cross can now proceed. When complete, the new Northern ticket hall and the new connections to Tube and rail platforms will make King's Cross fully accessible for the first time, by providing lifts to serve the deep-level Tube platforms.</p>
<p>"This announcement means the new King's Cross St Pancras Tube and rail stations will be complete in time for the London 2012 Olympics and Paralympics.</p>
<p>"It also means the new station will be able to cope with the extra passenger traffic that will be generated as demand on the Tube grows from the new CTRL and high-speed commuter services from north Kent to St Pancras."</p>
<p>&nbsp;</p>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "The new Northern ticket hall will provide extra capacity for a key interchange from the deep-level Tube lines at King's Cross - the Northern, Piccadilly and Victoria lines - to the Tube's sub-surface lines, the mainline rail station and to the new Channel";}
        
        


 