


@{ViewBag.Title = "Mayor hails renewal of seven Tube stations";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>Mayor hails renewal of seven Tube stations</h1>
        <div class="content-page-press-release">
        08 February 2005
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        Ken Livingstone, Mayor of London today hailed the renewal of seven Tube stations across London as the first concrete example of the billions now being invested in the capital's transport infrastructure.
        
    </div>



 <div class="on-this-page">
<p>The seven modernised and refurbished stations were completed by Tube Lines and are the first delivery of the TfL five-year, &pound;10bn Investment Programme.</p>
<p>The Mayor yesterday (February 7) visited two of the seven stations, West Hampstead on the Jubilee line and Borough on the Northern line, joined by LU Managing Director, Tim O'Toole and Tube Lines Chief Executive, Terry Morgan.</p>
<p>Ken Livingstone, Mayor of London said:<br>"Transport for London is investing &pound;10bn over the next five years to improve and expand London's transport network. I'm delighted that we are starting to see cleaner, safer and more accessible stations.</p>
<p>"I look forward to more station improvements and more reliable Tube services, as we continue to invest in the Tube."<br>The seven stations are:</p>
<ul>
<li>Arnos Grove (Piccadilly); </li>
<li>Borough (Northern); </li>
<li>Burnt Oak (Northern); </li>
<li>Kilburn (Jubilee); </li>
<li>Northfields (Piccadilly);</li>
<li>South Harrow (Piccadilly);</li>
<li>West Hampstead (Jubilee). </li></ul>
<p>They have been made cleaner, brighter and even safer than before through:</p>
<ul>
<li>Structural repairs and fresh paintwork throughout; </li>
<li>New information indicator boards on platforms and in ticket halls; </li>
<li>Better lighting; </li>
<li>New CCTV security systems; </li>
<li>Upgraded PA systems and Help Points; </li>
<li>Improved seating. </li></ul>
<p>LU Managing Director Tim O'Toole said:<br>"The Tube is improving. Today, we mark the modernisation and refurbishment of seven Tube stations across London. They are now cleaner, brighter and even safer than before. But that's not the whole story.</p>
<p>"London Underground is now running more trains than ever before and is more reliable than it has been for many years. A lot of hard work has gone into these improvements, but we know there is a lot more still to do.</p>
<p>"We are investing billions in the Tube and I am determined to ensure that the promised improvements are delivered for passengers."</p>
<p>Tube Lines Chief Executive Terry Morgan said:<br>"The completion of the first tranche of stations under the investment programme represents a major milestone in our plans to rebuild the Jubilee, Northern and Piccadilly lines.</p>
<p>"The stations themselves look and feel brighter and the introduction of new technology has delivered substantial improvements in information provision and the safety of customers. We have a further 15 stations planned to go on site in the first six months of this year and over the next five years we are committed to upgrading almost every station across the three lines.</p>
<p>"This work is just another step for Tube Lines as we begin to deliver a massive improvement programme to London Underground. Work on the additional carriage for Jubilee line trains is progressing well for introduction in early 2006 as is our programme to replace the signalling systems on the Jubilee and Northern lines."<br></p>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "The seven modernised and refurbished stations were completed by Tube Lines and are the first delivery of the TfL five-year, &pound;10bn Investment Programme.The Mayor yesterday (February 7) visited two of the seven stations, West Hampstead on the Jubilee";}
        
        


 