


@{ViewBag.Title = "More improvements for Finsbury Park with Station Place upgrade";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>More improvements for Finsbury Park with Station Place upgrade</h1>
        <div class="content-page-press-release">
        24 February 2005
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        The Station Place bus station at Finsbury Park is to undergo major development works beginning on 26th February 2005.
        
    </div>



 <div class="on-this-page">
<p>By spring 2006 passengers and local residents using the Station Place facilities at Finsbury Park can look forward to:</p>
<ul>
<li>better access to buses and improved passenger waiting facilities; </li>
<li>improved personal safety and security via better lighting and new 24-hour CCTV system; </li>
<li>a new passenger information office; </li>
<li>a new interchange gallery, providing a larger covered ticket hall and new ticketing facilities. </li></ul>
<p>Station Place is the next phase of improvements taking place as part of the Finsbury Park Transport Interchange (FPTI) project which is part-funded by TfL's &pound;10bn 5 Year Investment Programme.</p>
<p>John McNulty, TfL's Director of Interchange Programme said:</p>
<p>"The works at Station Place will help make it easier and safer for more passengers to switch between bus, Tube or train, by bicycle or by foot, which is the aim of the Finsbury Park project".</p>
<p>Current work to improve Wells Terrace bus station facilities and complete the new Finsbury Park Cycle Park will be finished during Spring 2005.</p>
<p>The FPTI project is a joint initiative undertaken by TfL, the Finsbury Park Partnership, Islington and Haringey councils and the Heritage Lottery Fund with support from the SRA, Network Rail and WAGN.</p>
<p><strong>BUS ROUTES - DIVERSIONS</strong></p>
<ul>
<li><strong>ROUTE 153</strong> will be removed from the bus station for the duration of works (26 February 2005 to the end of February 2006). During this period, the last set down point for this route will be stop R in Seven Sisters Road. The first pick up point for buses towards Liverpool Street will be stop T in Isledon Road (please refer to enclosed map); <br>buses will run out of service between these two points via Seven Sisters Road, Blackstock Road, Rock Street and back along Seven Sisters Road to stop T in Isledon Road. Buses will stand at this point until they are due to depart for Liverpool Street. Stop H in Station Place and stop P in Rock Street will not be served by route 153 for the duration of the works; </li>
<li><strong>ROUTES 29, 253, 254, N29, N253</strong> and <strong>N279</strong> that currently serve stop T will use adjacent bus stop W in Isledon Road for the duration of these works; </li>
<li><strong>ROUTES 19,106</strong> and <strong>236</strong> will continue to set down and pick up in the bus station; </li>
<li><strong>ROUTE 4</strong> which serves bus stop G in Station Place towards Islington and Waterloo only, will continue to do so although it may be necessary to divert the route at a later date. <br>Further information for passengers is available through the TfL website <a href="http://www.tfl.gov.uk/finsburypark">www.tfl.gov.uk/finsburypark</a>. <br></li></ul>
<p>
            <p>Finsbury Park Transport Interchange (FPTI) project </p>
<p>Since the summer of 2002, TfL has successfully led the diverse FPTI working group in the delivery of improvements to the station environment. The project is a joint initiative undertaken by TfL, the Finsbury Park Partnership, Islington and Haringey councils and the Heritage Lottery Fund with support from the SRA, Network Rail and WAGN.</p>
<p>TfL has provided significant funding to date contributing to the FPTI provision of better access to buses, safer pedestrian crossings, new facilities for cyclists, a new taxi rank, a passenger drop-off point and new bus set-down bays.</p>
<p>In addition to the Wells Terrace works, construction is underway on a state-of-the-art cycle park, providing secure staffed parking for 125 bicycles.</p>
<p>The largest staffed cycle facility in central London, the park will have smartcard access, later planned to be compatible with Oystercard. The new facility will be located on Stroud Green Road providing a new entrance to Finsbury Park as well as a link to the London Cycle Network. Construction began in September 2004 and is expected to be completed by Spring 2005.</p>
<p><strong>TfL Interchange Programme<br></strong>TfL's Interchange Programme is part of Transport for London and the Mayor's commitment to improving the quality, security, convenience and accessibility of transport services for London residents and visitors.</p>
<p>TfL is committed to the funding and co-ordination of a range of interchange improvement projects. The FPTI improvements will contribute to increasing the efficiency of London's transport network, attract more passengers and improve the quality of their journeys.</p>
<p><br></p>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "By spring 2006 passengers and local residents using the Station Place facilities at Finsbury Park can look forward to:better access to buses and improved passenger waiting facilities; improved personal safety and security via better lighting and new";}
        
        


 