


@{ViewBag.Title = "Platform closures at Wembley Park";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>Platform closures at Wembley Park</h1>
        <div class="content-page-press-release">
        07 February 2005
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">



 <div class="on-this-page">
<p>Wembley Park Underground station is currently being improved and expanded to support the new national stadium now under construction at Wembley.</p>
<p>On Monday 14 February platforms 1, 4 &amp; 5 will re-open and the southbound service will return to normal. Platforms 2, 3 &amp; 6 will close resulting in changes to the northbound services.</p>
<p>Northbound Jubilee trains will not stop at Wembley Park, nor will Metropolitan line trains to Uxbridge. Other Metropolitan line trains will stop at Wembley Park but not at Preston Road nor Northwick Park.</p>
<p>Southbound Metropolitan services from Amesham will not stop at Wembley Park. Other southbound Metropolitan services will generally not stop at the station during the morning and evening peaks.</p>
<p>Also in connection with the works there will be no Metropolitan line service between Harrow-on-the-Hill and Aldgate at weekends from now until May. There will also be no Jubilee line service between Kingsbury and Neasden.</p>
<p>During the closures replacement bus services will be provided and Chiltern Railways will be running additional services from Harrow-on-the-Hill to Marylebone. Passengers using replacement bus services should allow up to 40 minutes extra to complete their journeys.</p>
<p>Leaflets giving full details of alternative services are available at affected stations. Information is also available on the <a href="http://www.tfl.gov.uk/">TfL website </a>or by calling 020 7222 1234 for 24 hour travel information.</p>
<p>Kevin Bootle, General Manager of the Jubilee line said: "When the improvement works at Wembley are completed passengers will benefit from a much better, more modern station. The improvenments will also give us the extra capacity we need to serve the new National Stadium at Wembley."</p>
<p>" We are doing our best to keep everyone moving during the closures which are absolutely necessary if the works are to completed safely and on time. If you have any queries about your journey please ask our staff to help."</p>
<p>&nbsp;</p>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "Wembley Park Underground station is currently being improved and expanded to support the new national stadium now under construction at Wembley.On Monday 14 February platforms 1, 4 &amp; 5 will re-open and the southbound service will return to normal.";}
        
        


 