


@{ViewBag.Title = "Quad bike gritters are the new weapon in winter maintenance";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>Quad bike gritters are the new weapon in winter maintenance</h1>
        <div class="content-page-press-release">
        23 February 2005
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        Quad bike gritters are the latest addition to Transport for London's (TfL) armoury in tackling cold weather.
        
    </div>



 <div class="on-this-page">
<p>This week quad bike gritters will take to central London's footpaths for the first time, in a trial aimed at speeding up the footpath gritting service.</p>
<p>Three quad bikes, that are normally used in landscaping maintenance, have been modified and hooked up to grit dispensers to quickly and evenly distribute salt onto pavements.</p>
<p>Each quad bike can carry 500 kg of salt and at 1.2 metres wide, they are able to travel along most urban footpaths.</p>
<p>Director of TfL's Road Network Operations, Keith Ollier said: "These quad bikes will be able to grit footpaths much more quickly than the traditional approach of staff shovelling salt manually.</p>
<p>"We are trialling these quad bike gritters and if they prove successful they may be extended to more parts of the TfL Streets network."</p>
            <ul>
<li>Mc Nicholas PLC is the term contractor who has purchased the bikes. 
</li><li>the cost of the bikes is incorporated in the contract for Streets maintenance between TfL and Mc Nicholas PLC. 
</li><li>The quad bikes are made by Kawasaki and the gritter dispenser is made by logic GDS 200.<br></li></ul>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "This week quad bike gritters will take to central London's footpaths for the first time, in a trial aimed at speeding up the footpath gritting service.Three quad bikes, that are normally used in landscaping maintenance, have been modified and hooked up to";}
        
        


 