


@{ViewBag.Title = "Transport for London on full alert for cold weather";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>Transport for London on full alert for cold weather</h1>
        <div class="content-page-press-release">
        22 February 2005
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        Transport for London (TfL) today warned Londoners to take extra care when travelling during the predicted cold weather over the next few days. If the predicted ice and snow arrives, you should consider travelling only where journeys are absolutely necessary.
        
    </div>



 <div class="on-this-page">
<p>TfL has implemented its cold weather plans across London's key road network and London Underground (LU).</p>
<p>On the roads and buses:<br>TfL is responsible for London's key road network - the Red Routes - and has a fleet of up to 35 'Gritters' which operate from five depots using a stockpile of 3,800 metric tonnes of salt.</p>
<p>This afternoon, TfL's Gritters have been out in force. Gritting began at 2pm and staff will be on standby to lay further grit throughout the night as required. TfL is also liaising closely with London's 33 Boroughs, which are responsible for most of the capital's roads - so important to London's bus network.</p>
<p>On the Tube:<br>LU is working closely with Metronet and Tube Lines, the companies responsible for the maintenance and renewal of the Tube's infrastructure - the trains, tracks, signals and stations.</p>
<p>De-icing equipment is fitted to 138 Tube trains which can spread the de-icing material on the overground track sections of the Tube network to keep them free of ice and snow. Metronet and Tube Lines will also be running de-icing trains throughout the Tube's night-time engineering hours to try and keep the tracks clear and allow LU to run Tube services tomorrow.</p>
<p><strong>TfL advice to those intending to travel:</strong></p>
<p>During the forthcoming cold weather, TfL is providing the following advice to Londoners and those intending to travel in London:</p>
<p>Consider whether your journey is absolutely necessary at this time, or whether it can be undertaken at another time; <br>If you are intending to travel, make sure you check weather and travel reports before travelling via local media, the <a href="http://www.tfl.gov.uk">TfL website</a> or call London Travel Info on 020 7222 1234; <br>If possible, leave extra time for your journey and ensure you are properly prepared for longer journeys. <br></p>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "TfL has implemented its cold weather plans across London's key road network and London Underground (LU).On the roads and buses:TfL is responsible for London's key road network - the Red Routes - and has a fleet of up to 35 'Gritters' which operate from";}
        
        


 