


@{ViewBag.Title = "Transport Commissioner Bob Kiley welcomes Crossrail coming one step closer";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>Transport Commissioner Bob Kiley welcomes Crossrail coming one step closer</h1>
        <div class="content-page-press-release">
        22 February 2005
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        "Today's news that the Government's Crossrail Bill has been published is an important step towards delivering this vital project. Crossrail is needed to deliver the future growth of London, support the creation of hundreds of thousands of new jobs and secure London's position as the world's leading financial centre.
        
    </div>



 <div class="on-this-page">
"Crossrail, coupled with TfL's &pound;10bn five year Investment Programme, shows that London's transport is finally receiving the attention it deserves. Crossrail will be the biggest transport project in the capital for a generation and TfL is ready to help drive it forward."<br>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "'Crossrail, coupled with TfL's &pound;10bn five year Investment Programme, shows that London's transport is finally receiving the attention it deserves. Crossrail will be the biggest transport project in the capital for a generation and TfL is ready to";}
        
        


 