


@{ViewBag.Title = "Two years on - congestion cut, more reliable buses, and &pound;170million to invest in London's transport system";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>Two years on - congestion cut, more reliable buses, and &pound;170million to invest in London's transport system</h1>
        <div class="content-page-press-release">
        18 February 2005
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        Congestion has been cut, buses are quicker and more reliable and the West End continues to do well since the introduction of the congestion charge two years ago.
        
    </div>



 <div class="on-this-page">
<p>At the start of the scheme the Mayor of London, Ken Livingstone, called on commentators and detractors to give the scheme two years before deciding whether the scheme was a success or failure. </p>
<p>The Mayor said: "Two years on and the congestion charge continues to be a success and prove the cynics wrong. Congestion in the zone is down by 30 per cent, bus services are improved and pollution has been cut. London's West End is doing well, with figures from the Society of London Theatre showing that theatres took their best ever revenue in 2004 and achieved their second best audience numbers since records began in the 1980s.</p>
<p>"After years of chronic congestion, central London is moving again. The scheme is clearly working and the majority of Londoners now support it."</p>
<p>Mich&egrave;le Dix, Director of the Congestion Charge, said, </p>
<p>"The scheme's detractors predicted chaos and confusion, and that London would be turned into a ghost town. Two years on and the reality is that congestion has been cut, buses are quicker and far more reliable, businesses are doing well, more people are entering the zone, and London is a far nicer place to work, live and visit."</p>
<p>Within the charging zone conditions have remained stable since the start of the scheme:</p>
<ul>
<li>traffic has been reduced by 15%</li>
<li>congestion has been reduced by 30% </li>
<li>accident rates have fallen by up to 5% due to congestion charging </li>
<li>reduction of 12% in emissions of NOx and PM10 from road traffic within the zone </li>
<li>increased traffic speeds </li>
<li>excess waiting time for buses reduced by 45% within the zone </li>
<li>60% reduction in disruption to bus services </li>
<li>retail footfall is now outperforming the rest of the UK and is returning to a pattern of year-on-year growth </li>
<li>the charge has had no identifiable effect on the number of business starting up or closing down within the zone compared to the rest of London </li>
<li>no effect on property prices </li>
<li>the Society of London Theatre has indicated that the congestion charge does not seem to have affected businesses in the West End area generally </li>
<li>&pound;170 million pounds will be raised by the end of the financial year to invest in London's transport system (2003/4 - &pound;80million, 2004/5 - projected net revenue of &pound;90million). </li></ul>
<p><br>Many improvements have been made to the scheme since its introduction including:</p>
<ul>
<li>lowering the threshold of the congestion charging fleet schemes from 25 vehicles to 10 </li>
<li>making the three charging days that fall between Christmas Day and New Year's Day 'non-charging' days </li>
<li>extending the SMS text messaging facility </li>
<li>allowing payment by additional credit and debit card types; revising the definition of resident's vehicles </li>
<li>removing the financial criteria for the National Health Service patients' reimbursement scheme </li>
<li>improvements to the 100 percent discount for registered holders of Blue Badges. </li></ul>
<p><br>TfL is also currently consulting on the following changes: </p>
<ul>
<li>to raise the charge from &pound;5 per charging day to &pound;8 per charging day for those not on fleet schemes; </li>
<li>to raise the charge from &pound;5.50 per charging day to &pound;7 for vehicles on the automated fleet scheme; and from &pound;5 per charging day to &pound;7 for vehicles on the notification fleet scheme; </li>
<li>to discount monthly and annual charges by 15 percent; </li>
<li>to reduce a number of administrative charges. </li></ul>
<p><br>TfL is also progressing further measures to make the charge easier to pay, including:</p>
<ul>
<li>an enhanced website </li>
<li>more petrol stations accepting payment </li>
<li>an enhanced public information on payment by SMS </li>
<li>an information leaflet to be sent to 36 million households across the UK as part of DVLA correspondence. </li></ul>
            <p>Full copy of the the January Monitoring Update (PDF 578k)</p>
<p>90% of people entering the charging zone use public transport. </p>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "At the start of the scheme the Mayor of London, Ken Livingstone, called on commentators and detractors to give the scheme two years before deciding whether the scheme was a success or failure. The Mayor said: 'Two years on and the congestion charge";}
        
        


 