


@{ViewBag.Title = "World first as daily price capping on Oyster Pre Pay brings benefits to passengers";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>World first as daily price capping on Oyster Pre Pay brings benefits to passengers</h1>
        <div class="content-page-press-release">
        16 February 2005
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        Mayor of London Ken Livingstone today pledged faster, easier journeys for Londoners with the launch of daily price capping, available from 27 February, on Oyster Pre Pay - a world first for smartcard ticketing.
        
    </div>



 <div class="on-this-page">
<p>Daily price capping means passengers on the Tube, bus, tram or DLR will never pay more than the price of a Day Travelcard, no matter how many Oyster Pre Pay journeys in zones 1 to 6 are made. The Oyster card is the first smartcard ticketing system in the world to offer daily price capping.</p>
<p>Passengers who pay cash or buy Day Travelcards can now switch to Oyster and benefit from faster and easier journeys. </p>
<p>Mayor Ken Livingstone said:<br>"Many more passengers will now be able to travel on our network with this 21st Century card in their pocket. Nearly three million journeys are made in London every day with Oyster, making it a world leader in smartcard ticketing. </p>
<p>"Oyster is already speeding up the bus service, reducing queues at Tube stations and helping to take cash off the buses. Daily price capping will allow passengers who usually buy Day Travelcards, One day Bus Passes or pay cash for single trips to benefit from quicker journeys and easier payment options. Oyster offers a safer alternative to paper tickets because it reduces ticket touting and you don't need to take the card out of its wallet."</p>
<p>With daily price capping, passengers will be charged the Pre Pay fare for each single trip made. Once the total of several Pre Pay journeys reaches a cap, any further journeys that day are free, dependant on time of travel and whether the passenger travels beyond the zones covered in the original cap. </p>
<p>Jay Walder, TfL's Managing Director of Finance and Planning added:<br>"Oyster is an excellent example of TfL delivering modern transport options. On top of other benefits for passengers, Oyster technology means TfL can crack down on fraud and introduce efficiencies worth over &pound;120 million over the next five years. These savings will be ploughed back into the transport network to further improve services."<br></p>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "Daily price capping means passengers on the Tube, bus, tram or DLR will never pay more than the price of a Day Travelcard, no matter how many Oyster Pre Pay journeys in zones 1 to 6 are made. The Oyster card is the first smartcard ticketing system in the";}
        
        


 