
    
  



@{ViewBag.Title = "How we are governed";}
@{ViewBag.Keywords = "Public,TfL";}
@{ViewBag.Url = "/corporate/about-tfl/how-we-work/how-we-are-governed";}
@{ViewBag.Language = "en";}
        <!-- empty placeholder -->
 
        
        
<div class="r">
    <div class="breadcrumb-container" role="navigation">
        <span id="breadcrumb-label" class="visually-hidden">You are here:</span>
        <ol class="breadcrumbs clearfix" aria-labelledby="breadcrumb-label">
            <li class="home">
                <a href="/">
                    <span class="hide-text">Home</span>
                </a>
            </li>
            
                 <li><a href="/corporate/about-tfl/index">About TfL</a></li>
                
            
                 <li><a href="/corporate/about-tfl/how-we-work">How we work</a></li>
                
            
            
                <li><span class="last-breadcrumb">How we are governed</span></li>
            
        
 
        
 
        
 
        </ol>
    </div>
</div>
     
 
<div class="r">
  <div class="headline-container plain">
    <h1>How we are governed</h1>

  </div>
</div>
<div class="main-and-aside r">
  
  <div class="main content-container" role="main">
    
      <div class="article-teaser">
        TfL is a statutory body created by the Greater London Authority (GLA) Act 1999. This Act gives the Mayor of London a general duty to develop and apply policies to promote and encourage safe, integrated, efficient and economic transport facilities and services to, from and within London. 
        
      </div>
    
    <div class="on-this-page">
      <p>TfL's standing orders lay down the decision-making structure and proceedings, together with the Scheme of Delegation.</p>
<p>The GLA Act (Schedule 10) sets out how the Board may establish committees and how it may delegate certain functions to either those committees or to an officer(s) of TfL. </p>
<p>The delegations are set out in the Scheme of Delegation which is included in the standing orders. That document, along with the TfL committees and panels document setting out the terms of reference and the membership for the committees and advisory panels, are on the <a href="/corporate/publications-and-reports/standing-orders">standing orders page in Publications &amp; reports</a>.</p>
<p>TfL's <a href="/corporate/about-tfl/how-we-work/corporate-governance/code-of-corporate-governance">code of corporate governance</a> provides further details of our governance arrangements, particularly around risk management and standards of conduct. We are committed to acting in accordance with the Nolan Principles of public life, namely: selflessness, integrity, objectivity, accountability, openness, honesty and leadership.</p>
<h2>Meetings</h2>
<p>The conduct of Board and committee meetings come under provisions of the Local Government Act (LGA) 1972. To support transparency, we also apply the same provisions to the meetings of our panels.</p>
<p>A public notice of the date, time and venue for meetings is published on this website as well as at our head office and the meeting venue. The meetings are held in public unless information that is exempt from publication needs to be discussed.</p>
      
           
      
<div>





<div class="multi-document-download-container">
    

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/public-notice-29-february-31-march-2020.pdf">
    <div class="document-download-text">
        <p>Public notice of meetings</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 125KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.12 -->
 
</div>

</div>
 <div>

<p>All papers (unless exempt from publication or accepted by the relevant Chair as an urgent item) are published five clear working days before each meeting.</p>
<p>Board meetings are also recorded and webcast live. You can access the live stream or recordings on the <a href="https://www.london.gov.uk/media-centre/mayoral">GLA website</a>.</p>
<p>Our current committees and advisory panels are listed below. Each page provides details of the members and the published papers, along with details of future meeting dates. </p>
<ul>
    <li><a href="/corporate/publications-and-reports/board-papers">Board</a></li>
    <li><a href="/corporate/publications-and-reports/audit-and-assurance-committee">Audit &amp; Assurance committee</a></li>
    <li><a href="/corporate/publications-and-reports/customer-service-op-performance">Customer service &amp; Operational performance panel</a></li>
    <li><a href="/corporate/publications-and-reports/finance-committee">Finance committee</a></li>
    <li><a href="/corporate/publications-and-reports/programmes-and-investment-committee">Programmes &amp; Investment committee</a></li>
    <li><a href="/corporate/publications-and-reports/remuneration-committee">Remuneration committee</a></li>
    <li><a href="/corporate/publications-and-reports/safety-sustainability-hr">Safety, Sustainability &amp; HR panel</a></li>
</ul>
<p>(Papers from previous committees and panels can also be found through these pages.)</p>
<p>The public notice and agenda for each meeting will specify the venue. </p>
<p>As a general rule:</p>
<p>Meetings of the Board:</p>
<p>City Hall<br />
London<br />
SE1 2AA</p>
<p>Meetings of the committees and panels:</p>
<p>Palestra<br />
197 Blackfriars Road<br />
London SE1 8NJ</p>
<p>If you would like any papers in an accessible format, please email the Secretariat at <a href="mailto:secretariat02&#64;tfl.gov.uk">secretariat02&#64;tfl.gov.uk</a> </p>
<h2>Board Members</h2>
<p>The GLA Act sets out certain provisions for the membership of TfL, including the desirable experience the Members should possess between them. </p>
<p>Find out more information about our <a href="/corporate/about-tfl/how-we-work/corporate-governance/board-members">Board Members</a>, including short biographies and their declared interests, together with information on: terms and conditions of appointment, remuneration, any expenses paid and gifts and hospitality received.</p>
<p>Further details such as annual attendance at meetings and remuneration details are available in the <a href="/corporate/publications-and-reports/annual-report">Annual Report and Statement of Accounts</a>.</p>
<p>Board Members can be contacted via the TfL Secretariat by post or email using the contact details on this page.</p>
<h2>Chief Officers</h2>
<p>As permitted under the GLA Act and in accordance with TfL's <a href="/corporate/publications-and-reports/standing-orders">Standing Orders</a>, the Board delegates to the Chief Officers the discharge of any functions of TfL (except for those reserved to the Board or with specific delegations) and the day to day management of the business of the TfL Group. </p>
<p>Find out more information about our <a href="/corporate/about-tfl/how-we-work/corporate-governance/chief-officers">Chief Officers</a>, including short biographies and their declared interests, together with information on any expenses paid and gifts and hospitality received.</p>
<h2>Subsidiary companies</h2>
<p>Find out about our <a href="/corporate/about-tfl/how-we-work/corporate-governance/subsidiary-companies">subsidiary companies</a> and their directors.</p>
<h2>IIPAG</h2>
<p>Find out about the <a href="/corporate/about-tfl/how-we-work/corporate-governance/iipag">Independent Investment Programme Advisory Group (IIPAG)</a> which provides independent assurance and expert advice to the Mayor of London concerning our Investment Programme.</p>
</div>
 
<div>




<h2>Mayoral Directions</h2>
<p>The table below lists directions from the Mayor to TfL and includes links to the relevant Mayoral Decision on the <a href="http://www.london.gov.uk">Greater London Authority website</a>.</p>
<div class="multi-document-download-container">
    

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/mayoral-directions-web-2019-december.pdf">
    <div class="document-download-text">
        <p>Mayoral Directions to TfL</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 47KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.05 -->
 
</div>

</div>
 
      
        
          
            @this.ScriptBlock(
              @<script>
                queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
              </script>
            )
          
        
      
    </div>
  </div>
  <div class="aside" role="complementary">

   
    
    
    
      <div data-set="sidenav-container" class="large">
        
        
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
                <a href="/corporate/about-tfl/how-we-work" class="heading">
                    <h2 id="sub-menu-heading">How we work<span class="visually-hidden"> navigation</span></h2>
                </a>
                <ul>
                    
                                <li><div class="link-wrapper"><a href="/corporate/about-tfl/how-we-work/our-role">Our role</a></div></li>
                            
 
                                <li class="selected parent"><div class="link-wrapper"><a href="/corporate/about-tfl/how-we-work/how-we-are-governed">How we are governed</a></div>
                                <ul>
                                    
                                <li><div class="link-wrapper"><a href="/corporate/about-tfl/how-we-work/corporate-governance/legislative-framework">Legislative framework</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/corporate/about-tfl/how-we-work/corporate-governance/code-of-corporate-governance">Code of corporate governance</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/corporate/about-tfl/how-we-work/corporate-governance/board-members">Board Members</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/corporate/about-tfl/how-we-work/corporate-governance/chief-officers">Chief Officers</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/corporate/about-tfl/how-we-work/corporate-governance/subsidiary-companies">Subsidiary companies</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/corporate/about-tfl/how-we-work/corporate-governance/iipag">Independent Investment Programme Advisory Group</a></div></li>
                            
 
                                </ul>
                            </li>
 
                                <li><div class="link-wrapper"><a href="/corporate/about-tfl/how-we-work/how-we-are-funded">How we are funded</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/corporate/about-tfl/how-we-work/planning-for-the-future">Planning for the future</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/corporate/about-tfl/how-we-work/public-affairs">Public affairs</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/corporate/about-tfl/how-we-work/our-customer-commitments">Our customer commitments</a></div></li>
                            
 
                </ul>
            
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
      </div>
    
    <div>




















<div class="advert-tile unsponsored-style google-ads" aria-hidden="true">
  <div class="advert-link">
    <div class="advert-content">
        <div class="medium-large" data-advert="/76889402/non-targeted" data-advert-sizes="300, 250"></div>
        <div class="small" data-advert="/76889402/non-targeted" data-advert-sizes="300, 250"></div>
    </div>
  </div>
</div>
@{
    ViewBag.AmazonSlot = "'amznslots'";
    ViewBag.AmazonAds = "'3199'"; // to add another value, this needs to be ViewBag.AmazonAds = "'3199','xx'";
}
      

 </div>
    
      <div class="module-grid clearfix">
                    
        <div>

    <div class="contact-info-box">
         <div class="contact-info-header">
             <h3>Contact us about governance</h3>
         </div>
        <img class="content-image" src="/cdn/static/cms/images/howard-carter.jpg" alt="Howard Carter" />
        <span class="contact-name">Howard Carter</span>
        <span class="job-title">General Counsel</span>
        
        <p class="content-group">
            <span class="visually-hidden">Email address</span>
            <a href="mailto:secretariat02&#64;tfl.gov.uk">secretariat02&#64;tfl.gov.uk</a>
        </p>
        
        <div class="content-group">
            <p>
                
                
                
                
                
                
                
                
            </p>
            
        </div>
        
        <div class="content-group">
            <h4>TfL Secretariat</h4>
            
            <p>
                
                Post Point 10 City Hall<br />
                The Queen's Walk<br />
                London SE1 2AA<br />
                
            </p>
            
            
        </div>
        
        
    </div>
</div>
 <div class="related-links">

    <h3>Committees & panels</h3>

        <p>See the members, meeting dates and papers of our committees and panels</p>
    
<div class="vertical-button-container">

<a href="/corporate/publications-and-reports/annual-report" class="plain-button">Annual Report</a>
<a href="http://tfl.gov.uk/corporate/publications-and-reports/?Category=Committee%20and%20panel%20meetings" class="plain-button">Committee &amp; panel meetings</a>
    </div>
</div>
 
      </div>
    
    <div data-set="sidenav-container" class="small-medium"></div>
  </div>
</div>
 
 
        
        
        
            @{ViewBag.Description = "We operate under a legal framework that includes the GLA Act 1999";}
        
            
        


 