
    
  



@{ViewBag.Title = "Our customer commitments";}
@{ViewBag.Keywords = "TfL";}
@{ViewBag.Url = "/corporate/about-tfl/how-we-work/our-customer-commitments";}
@{ViewBag.Language = "en";}
        <!-- empty placeholder -->
 
        
        
<div class="r">
    <div class="breadcrumb-container" role="navigation">
        <span id="breadcrumb-label" class="visually-hidden">You are here:</span>
        <ol class="breadcrumbs clearfix" aria-labelledby="breadcrumb-label">
            <li class="home">
                <a href="/">
                    <span class="hide-text">Home</span>
                </a>
            </li>
            
                 <li><a href="/corporate/about-tfl/index">About TfL</a></li>
                
            
                 <li><a href="/corporate/about-tfl/how-we-work">How we work</a></li>
                
            
            
                <li><span class="last-breadcrumb">Our customer commitments</span></li>
            
        
 
        
 
        
 
        </ol>
    </div>
</div>
     
 
<div class="r">
  <div class="headline-container plain">
    <h1>Our customer commitments</h1>

  </div>
</div>
<div class="main-and-aside r">
  
  <div class="main content-container" role="main">
    
      <div class="article-teaser">
        We put customers at the heart of everything we do. We've made commitments to our customers to provide the best possible customer service.<BR>
        
      </div>
    
    <div class="on-this-page">
      <p>Our purpose is to keep London working and growing and make life in the city better. Every journey matters to us and we do all we can to make sure the transport network is safe, reliable and fit for the future.</p>

<p>We are funded by fare and tax payers and by commercial revenue from property and advertising. Every penny of our income is reinvested in transport. Because of this, there is no 'retained profit'.</p>

<h2>Help, contact and complaints</h2>

<p>We welcome your feedback and suggestions. When you contact us you can expect:</p>

<h3>Our customer promise</h3>

<ul>
	<li>We will put our customers at the centre of everything we do by providing a high-quality service to everyone who contacts us</li>
	<li>We want to hear from you, as we value every piece of feedback we receive</li>
	<li>Your feedback can take the form of either a comment or suggestion, and may be an expression of your satisfaction or a complaint about our services</li>
	<li>We are committed to being accessible to every customer and will provide you with a timely, clear and full response</li>
	<li>We will listen to your feedback and take action to improve your experience in the future</li>
</ul>

<h3>Our complaint standards</h3>

<ul>
	<li>We will acknowledge receipt of your contact and keep you informed on the progress of your case</li>
	<li>We will aim to resolve all your issues in one go</li>
	<li>We will treat you as an individual and address your specific needs</li>
	<li>We will communicate with you in a style that is engaging and easy to understand</li>
	<li>We will actively use your feedback to fix problems and drive improvements to our services</li>
</ul>

<h3>We will reply to you efficiently and keep you updated</h3>

<p>We're committed to resolving your enquiry the first time you contact us.</p>

<p>We will acknowledge all contacts within two working days and aim to provide a full response within ten working days.</p>

<p>If we need more time to investigate your enquiry, we will let you know how long it will take and keep you updated on the progress of your case.</p>

<h3>Handling your feedback</h3>

<p>We aim to satisfactorily resolve your complaint the first time you contact us.</p>

<p>If you feel that we could have handled your feedback in a better way, we would like to know. Please contact us and one of our managers will conduct a full review and get back to you.</p>

<h3>Making an appeal</h3>

<p>If you have been through our complaints procedure and are still dissatisfied, you can appeal to an independent body set up for this purpose.</p>

<p>Find out <a href="/help-and-contact/taking-your-complaint-further">how to appeal against our response to a complaint</a>.</p>

<h3>Customer services</h3>

<p>Customer services can help with general enquiries including ticketing and journey planning on all methods of transport. The team can also help with complaints.</p>

<p>Find out how to contact us on our <a href="/help-and-contact/index">Help &amp; contacts page</a>.</p>

<h3>Incident support service</h3>

<p>If you or someone you know has been injured during, or affected by, a serious incident involving our services, we offer comprehensive help and support via <a href="/campaign/incident-support-service">The Sarah Hope Line</a>.</p>

<h3>Lost property</h3>

<p>Contact the <a href="/help-and-contact/lost-property">Lost Property</a> office by:</p>

<ul>
	<li>Filling in a <a href="/corporate/useful-contacts/lost-property/lost-property-enquiry-form">Lost Property online enquiry form</a></li>
	<li>Phone: 0343 222 1234, Monday to Friday (except Bank Holidays) (<a href="/corporate/terms-and-conditions/tfl-call-charges">TfL call charges</a>)</li>
</ul>

<h3>Our services</h3>

<p>Some of our services have specific standards and commitments:</p>

<ul>
	<li><a href="/corporate/terms-and-conditions/ticketing-and-travel-conditions-of-carriage">TfL's conditions of carriage</a> including:<br />
	- Rail for London ticketing and travel guide<br />
	- Emirates Air Line conditions of carriage<br />
	- Tramlink conditions of carriage</li>
	<li><a href="/modes/dial-a-ride/bookings">Dial-a-Ride guide to bookings</a></li>
	<li><a href="/corporate/publications-and-reports/taxi-and-private-hire">Taxi and private hire guidance</a></li>
</ul>

<h2>Fares, payments and refunds</h2>

<p>We promise to give you the best value ticket for your journey.</p>

<p>For most customers, using pay as you go with a contactless payment card or an Oyster card is best for value, flexibility and convenience.</p>

<p>You can also buy paper tickets for single journeys, Day Travelcards or group travel.</p>

<p>Find out more about <a href="/fares/index">fares, payments and refunds</a> including best value tickets.</p>

<h2>Keeping you informed</h2>

<p>We commit to providing a high standard of personalised and integrated live information at every stage of your journey, to make you aware of any delays and disruptions and provide alternative travel advice, when possible.</p>

<h3>How to get travel information</h3>

<ul>
	<li>Visit our <a href="/status-updates/travel-tools">Travel tools</a> page for all the ways we can keep you updated</li>
	<li><a href="/plan-a-journey/index">Journey Planner</a> gives the best routes between stations, bus stops, piers, places of interest, addresses or postcodes. There are a number of accessibility options to choose from</li>
	<li>Find live bus arrival information for all of our bus stops via our <a href="/modes/buses/index">Buses</a> page</li>
	<li>Use&nbsp;our&nbsp;<a href="http://m.me/tfltravelbot">Facebook TravelBot </a>to check live service information on the go</li>
	<li>Our <a href="/travel-information/social-media-and-email-updates/index">social media channels</a> provide news and careers information</li>
	<li>Get advance warning of weekend closures by <a href="/travel-information/social-media-and-email-updates/email-updates">subscribing to our free weekly email or signing up for email updates</a> to help you plan your travel in London</li>
</ul>

<h3>Open data</h3>

<p>Wherever possible, we make our operational data available for developers to use in their own software and services. We encourage developers to use these feeds to present customer travel information in innovative ways. Currently, 62 of our open data feeds are used in hundreds of smartphone applications.</p>

<ul>
	<li><a href="/info-for/open-data-users/index">Find our data feeds</a></li>
</ul>

<h2>Accessibility/disabled passengers</h2>

<p>London has one of the most accessible transport networks in the world and we are committed to making the network even more accessible for our customers.</p>

<p>Find out more about <a href="/transport-accessibility/index">accessible transport</a> including our guides and maps, how to get help from staff and our equality policies and future plans.</p>

<ul>
</ul>

<h2>Safety</h2>

<p>The safety of our customers, staff and contractors is always our first priority and we never compromise the safety of the service we provide. You can help us by reporting unattended bags or suspicious activity to staff or a police officer.</p>

<p>Transport crime and antisocial behaviour are among our key priorities and we operate a number of anti-crime measures across the network.</p>

<ul>
	<li><a href="/corporate/safety-and-security/security-on-the-network/our-safety-priorities">Read more about our safety priorities on the network</a></li>
</ul>

<p>We want everyone to feel safe and secure on our network. If you have been a victim of a crime on the transport system, or experienced antisocial behaviour, you can report it in a way to suit you.</p>

<ul>
	<li><a href="/travel-information/safety/report-a-crime-or-incident">Find out how to report a crime or incident</a></li>
</ul>

<p>We are committed to protecting your personal information when you use TfL services. We sometimes need to collect your personal information so that we can provide you with the full range of our services and carry out our statutory functions. You can find out more about our obligations and your rights under the Data Protection Act 1998 on our <a href="/corporate/privacy-and-cookies/index">Privacy section</a>.</p>

<ul>
	<li><a href="/travel-information/safety/index">Read safety information for each service</a></li>
</ul>

<h2>Reliability</h2>

<p>We are committed to providing a reliable service by reducing delays and improving the way we prevent and respond to incidents.</p>

<p>Our reliability performance can be found in our <a href="/corporate/publications-and-reports/quarterly-progress-reports">Quarterly Progress Reports</a>.</p>

<h2>Environment</h2>

<p>All of our transport services will be clean and comfortable.</p>

<p>We are also committed to reducing the impact of transport on the environment and run a number of initiatives to tackle climate change, encourage cycling and walking, make London's air cleaner and address noise pollution.</p>

<ul>
	<li><a href="/corporate/about-tfl/air-quality">Find out what we're doing to improve London's air quality</a></li>
</ul>

<h2>Reinvesting in transport</h2>

<p>We don't make a profit because we reinvest all our income to run and improve your services. This allows us to upgrade stations and bring in new trains, tubes and buses to continually improve capacity and reliability. We are making the biggest investment in a generation to improve roads and streets for drivers, cyclists and pedestrians.</p>

<h2>Customer service performance</h2>

<p>We put customers at the heart of everything we do and are committed to improving performance and customer satisfaction.</p>

<p>We run a number of surveys by randomly selecting customers for interview after they have completed a journey on either public transport or on the roads.</p>

<p>Across all transport, we aim to get at least 80 out of 100 for customer satisfaction and to improve these scores.</p>

<p>Look at our <a href="/corporate/publications-and-reports/quarterly-progress-reports">Quarterly Progress Reports</a> for the latest performance figures.</p>
      
           
      
      
        
          
            @this.ScriptBlock(
              @<script>
                queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
              </script>
            )
          
        
      
    </div>
  </div>
  <div class="aside" role="complementary">

   
    
    
    
      <div data-set="sidenav-container" class="large">
        
        
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
                <a href="/corporate/about-tfl/how-we-work" class="heading">
                    <h2 id="sub-menu-heading">How we work<span class="visually-hidden"> navigation</span></h2>
                </a>
                <ul>
                    
                                <li><div class="link-wrapper"><a href="/corporate/about-tfl/how-we-work/our-role">Our role</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/corporate/about-tfl/how-we-work/how-we-are-governed">How we are governed</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/corporate/about-tfl/how-we-work/how-we-are-funded">How we are funded</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/corporate/about-tfl/how-we-work/planning-for-the-future">Planning for the future</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/corporate/about-tfl/how-we-work/public-affairs">Public affairs</a></div></li>
                            
 
                                <li class="selected"><div class="link-wrapper"><a href="/corporate/about-tfl/how-we-work/our-customer-commitments">Our customer commitments</a></div>
                            </li>
 
                </ul>
            
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
      </div>
    
    <div>




















<div class="advert-tile unsponsored-style google-ads" aria-hidden="true">
  <div class="advert-link">
    <div class="advert-content">
        <div class="medium-large" data-advert="/76889402/non-targeted" data-advert-sizes="300, 250"></div>
        <div class="small" data-advert="/76889402/non-targeted" data-advert-sizes="300, 250"></div>
    </div>
  </div>
</div>
@{
    ViewBag.AmazonSlot = "'amznslots'";
    ViewBag.AmazonAds = "'3199'"; // to add another value, this needs to be ViewBag.AmazonAds = "'3199','xx'";
}
      

 </div>
    
      <div class="module-grid clearfix">
                    
        <div class="related-links">

    <h3>Also on this site</h3>

<div class="vertical-button-container">

<a href="/corporate/transparency/index" class="plain-button">Transparency</a>
<a href="/corporate/publications-and-reports/annual-report" class="plain-button">Annual Report</a>
<a href="/corporate/useful-contacts/index" class="plain-button">Useful contacts</a>
    </div>
</div>
 
      </div>
    
    <div data-set="sidenav-container" class="small-medium"></div>
  </div>
</div>
 
 
        
        
        
            @{ViewBag.Description = "Find out about the commitments we've made to TfL customers in areas ranging from how we deal with complaints to open data and even safety and cleanliness on our network";}
        
            
        


 