
    
  



@{ViewBag.Title = "Planning for the future";}
@{ViewBag.Keywords = "Public,TfL";}
@{ViewBag.Url = "/corporate/about-tfl/how-we-work/planning-for-the-future";}
@{ViewBag.Language = "en";}
        <!-- empty placeholder -->
 
        
        

  

<div class="r">
    <div class="breadcrumb-container" role="navigation">
        <span id="breadcrumb-label" class="visually-hidden">You are here:</span>
        <ol class="breadcrumbs clearfix" aria-labelledby="breadcrumb-label">
            <li class="home">
                <a href="/">
                    <span class="hide-text">Home</span>
                </a>
            </li>
            
                 <li><a href="/corporate/about-tfl/index">About TfL</a></li>
                
            
                 <li><a href="/corporate/about-tfl/how-we-work">How we work</a></li>
                
            
            
                <li><span class="last-breadcrumb">Planning for the future</span></li>
            
        
 
        
 
        
 
        </ol>
    </div>
</div>
     
 

  
  <div class="r">
    <div class="headline-container section-title section-landing-container ">
      <div class="section-title-wrap">
        <h1 class="hero-headline">Planning for the future</h1>
        
      </div>
    </div>
  </div>



    
   
    <div class="r">
        <div class="main clearfix" role="main">
            
        
        
            <div class="section-overview full-width clearfix ">
                <div class="small-medium" data-set="section-intro"></div>
                <div>
                    <div class="large" data-set="section-intro">
                        
                    </div>
                <p>We are investing billions to transform the Capital's transport network. Proposals include improving suburban railways and the cycling infrastructure and tackling vehicle emissions. </p>
                </div>
            </div>
        
         
        
        
        
                
                
                <div class="module-grid clearfix">
                    
                    
                    
                    <div class="news-teaser">

    <a href="/corporate/about-tfl/the-mayors-transport-strategy?intcmp=2691" >
        <img src="/cdn/static/cms/images/promos/draft-mts-teaser-beige_rdax_400x200.jpg" alt="draft mts banner image" />
        
        <div class="text-link">
             <h2>Mayor's Transport Strategy 2018</h2>
            <p>Sadiq Khan has published his strategy for the future of transport in London</p>
        </div>
    </a>
</div>
 
 <div class="news-teaser">

    <a href="/corporate/about-tfl/how-we-work/planning-for-the-future/healthy-streets?intcmp=46996" >
        <img src="/cdn/static/cms/images/promos/healthy-streets-parents_rdax_400x200.jpg" alt="Healthy Streets graphic" />
        
        <div class="text-link">
             <h2>Healthy Streets</h2>
            <p>We're putting the health of London's people at the heart of our planning</p>
        </div>
    </a>
</div>
 
 <div class="news-teaser">

    <a href="/travel-information/improvements-and-projects/barking-riverside-extension?intcmp=36762" >
        <img src="/cdn/static/cms/images/promos/overground_rdax_400x200.gif" alt="Overground train in platform" />
        
        <div class="text-link">
             <h2>Extending the Overground</h2>
            <p>Find out about our plans to extend the London Overground to Barking Riverside</p>
        </div>
    </a>
</div>
 
 <div class="news-teaser">

    <a href="/corporate/about-tfl/how-we-work/planning-for-the-future/london-airports?intcmp=46175" >
        <img src="/cdn/static/cms/images/promos/aviation-teaser-web_rdax_400x200.jpg" alt="Airplane wing" />
        
        <div class="text-link">
             <h2>London's airports</h2>
            <p>The Mayor wants to support aviation but not at the expense of the environment</p>
        </div>
    </a>
</div>
 
 <div class="news-teaser">

    <a href="/corporate/about-tfl/how-we-work/planning-for-the-future/developing-the-rail-network?intcmp=2697" >
        
        
        <div class="text-link">
             <h2>Developing the rail network</h2>
            <p>We want to take responsibility for London's inner-suburban rail services</p>
        </div>
    </a>
</div>
 
 <div class="news-teaser">

    <a href="/corporate/about-tfl/how-we-work/planning-for-the-future/encouraging-cycling-and-walking?intcmp=58795" >
        
        
        <div class="text-link">
             <h2>Encouraging cycling and walking</h2>
            <p>Our plans are aimed at making it easier for people to travel by bike or on foot</p>
        </div>
    </a>
</div>
 
 <div class="news-teaser">

    <a href="/corporate/about-tfl/how-we-work/planning-for-the-future/bakerloo-line-extension?intcmp=29297" >
        
        
        <div class="text-link">
             <h2>Bakerloo line extension</h2>
            <p>Extending the Bakerloo line to southeast London will support new homes and jobs</p>
        </div>
    </a>
</div>
 
 <div class="news-teaser river">

    <a href="/corporate/about-tfl/how-we-work/planning-for-the-future/new-river-crossings-for-london?intcmp=43597" >
        
        
        <div class="text-link">
             <h2>New river crossings for London</h2>
            <p>We think east London needs new river crossings. Read about our plans</p>
        </div>
    </a>
</div>
 
 <div class="news-teaser">

    <a href="/corporate/about-tfl/how-we-work/planning-for-the-future/rotherhithe-canary-wharf-crossing?intcmp=47976" >
        
        
        <div class="text-link">
             <h2>Rotherhithe-Canary Wharf crossing</h2>
            <p>Pedestrians and cyclists would benefit from a Rotherhithe-Canary Wharf crossing</p>
        </div>
    </a>
</div>
 
 <div class="news-teaser">

    <a href="/corporate/about-tfl/how-we-work/planning-for-the-future/consultations-and-surveys?intcmp=2712" >
        
        
        <div class="text-link">
             <h2>Consultations & surveys</h2>
            <p>We consult on a range of projects with customers, businesses and others</p>
        </div>
    </a>
</div>
 
 <div class="news-teaser">

    <a href="http://www.crossrail2.co.uk?intcmp=22319" >
        
        
        <div class="text-link">
             <h2>Crossrail 2</h2>
            <p>This key long-term project is needed to support London's rapid growth</p>
        </div>
    </a>
</div>
 
 <div class="vertical-button-container">



<a href="/corporate/publications-and-reports/strategic-transport-and-land-use-models"  class="plain-button">Strategic transport &amp; land-use models</a>

</div>

                </div>
        
        
        
          
        
    </div>
    
      
      <div class="aside no-full-width-intro" role="complementary">
    
        <div data-set="sidenav-container" class="large">
          
        </div>
        <div class="module-grid clearfix">
          




















<div class="advert-tile unsponsored-style google-ads" aria-hidden="true">
  <div class="advert-link">
    <div class="advert-content">
        <div class="medium-large" data-advert="/76889402/non-targeted" data-advert-sizes="300, 250"></div>
        <div class="small" data-advert="/76889402/non-targeted" data-advert-sizes="300, 250"></div>
    </div>
  </div>
</div>
@{
    ViewBag.AmazonSlot = "'amznslots'";
    ViewBag.AmazonAds = "'3199'"; // to add another value, this needs to be ViewBag.AmazonAds = "'3199','xx'";
}
      

 
          <div class="related-links">

    <h3>Also on this site</h3>

<div class="vertical-button-container">

<a href="/corporate/publications-and-reports/business-plan" class="plain-button">Budget and business plan</a>
    </div>
</div>
 
        </div>
        <div data-set="sidenav-container" class="small-medium"></div>
      </div>
  </div>
 
        
        
        
            @{ViewBag.Description = "This section showcases the Mayor's plans to enhance the Capital’s transport network. Proposals include improving suburban railways and cycling infrastructure, tackling vehicle emissions and creating Health Streets";}
        
            
        


 