
    
  



@{ViewBag.Title = "Public affairs";}
@{ViewBag.Keywords = "TfL";}
@{ViewBag.Url = "/corporate/about-tfl/how-we-work/public-affairs";}
@{ViewBag.Language = "en";}
        <!-- empty placeholder -->
 
        
        
<div class="r">
    <div class="breadcrumb-container" role="navigation">
        <span id="breadcrumb-label" class="visually-hidden">You are here:</span>
        <ol class="breadcrumbs clearfix" aria-labelledby="breadcrumb-label">
            <li class="home">
                <a href="/">
                    <span class="hide-text">Home</span>
                </a>
            </li>
            
                 <li><a href="/corporate/about-tfl/index">About TfL</a></li>
                
            
                 <li><a href="/corporate/about-tfl/how-we-work">How we work</a></li>
                
            
            
                <li><span class="last-breadcrumb">Public affairs</span></li>
            
        
 
        
 
        
 
        </ol>
    </div>
</div>
     
 
<div class="r">
  <div class="headline-container plain">
    <h1>Public affairs</h1>

  </div>
</div>
<div class="main-and-aside r">
  
  <div class="main content-container" role="main">
    
      <div class="article-teaser">
        We work with organisations and elected representatives that speak for our customers. This includes local and national government, business, passenger representatives, statutory watchdogs, consumer groups, think tanks and the voluntary sector.
        
      </div>
    
    
      <p>We want to hear your views, ideas and suggestions, including the problems you and your communities may face. These teams will be happy to help you: </p>
      
           
      <div class="clearfix">
        
    
    <h2>Public Affairs and External Relations</h2>
<p>The team is responsible for the overall management of our relationships with UK and London political representatives, London boroughs, organisations and business.</p> 
</div> 
 <div class="clearfix">
        
    
    <h3>Government Relations</h3>
<p>The Government Relations team looks after our relationships with Government departments, ministers, MPs, peers and London Assembly Members.</p>
<p>Contact the team: <a href="mailto:MembersCorrespondence&#64;tfl.gov.uk">MembersCorrespondence&#64;tfl.gov.uk</a></p> 
</div> 
 <div class="clearfix">
        
    
    <p>National and Regional Partnerships</p>

<p>This team looks after our relationships with a range of strategic stakeholders who speak for our customers and users.</p>

<p>This includes business, industry bodies, road user groups, passenger representatives, statutory watchdogs, consumer groups, think tanks and organisations representing London's diverse communities; including older and disabled people, young people, parents, Black, Asian and Minority Ethnic (BAME) and Lesbian, Gay, Bisexual and Trans (LGBT+).</p>

<p>Contact the team: <a href="mailto:customerservice&#64;tfl.gov.uk">customerservice&#64;tfl.gov.uk</a></p>

<h3>Boroughs</h3>

<p>The Local Community Partnership team works with London's 32 boroughs and the City of London to improve transport across the Capital.</p>

<p>Local transport initiatives include road safety schemes, town centre improvements, and walking and cycling projects.</p>

<h4>Charity requests</h4>

<p>We receive many requests to support charities. As a not-for-profit organisation and statutory body, we need to consider a number of legal, operational and budgetary constraints when reviewing requests from charities. <a href="/corporate/about-tfl/corporate-and-social-responsibility/charities">Find out more about our work with charities.</a></p>

<p>In most cases, we'll only be able to meet requests that can help us to carry out our function of providing transport in London. We are not able to agree to most requests.</p>

<p>To ensure a fair and consistent approach to how we consider these requests, we have created <a href="/corporate/about-tfl/corporate-and-social-responsibility/charity-request-guidance">charity request guidance</a>.</p>

<p>Contact: <a href="mailto:tflcharities&#64;tfl.gov.uk">tflcharities&#64;tfl.gov.uk</a></p>

<h4>Accessibility</h4>

<p>Older and disabled people's organisations, equality groups and anyone interested in the accessibility of the transport network can email us at <a href="mailto:tflaccessibility&#64;tfl.gov.uk">tflaccessibility&#64;tfl.gov.uk</a>.</p> 
</div> 
 
      
        
          
        
      
    
  </div>
  <div class="aside" role="complementary">

   
    
    
    
      <div data-set="sidenav-container" class="large">
        
        
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
                <a href="/corporate/about-tfl/how-we-work" class="heading">
                    <h2 id="sub-menu-heading">How we work<span class="visually-hidden"> navigation</span></h2>
                </a>
                <ul>
                    
                                <li><div class="link-wrapper"><a href="/corporate/about-tfl/how-we-work/our-role">Our role</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/corporate/about-tfl/how-we-work/how-we-are-governed">How we are governed</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/corporate/about-tfl/how-we-work/how-we-are-funded">How we are funded</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/corporate/about-tfl/how-we-work/planning-for-the-future">Planning for the future</a></div></li>
                            
 
                                <li class="selected"><div class="link-wrapper"><a href="/corporate/about-tfl/how-we-work/public-affairs">Public affairs</a></div>
                            </li>
 
                                <li><div class="link-wrapper"><a href="/corporate/about-tfl/how-we-work/our-customer-commitments">Our customer commitments</a></div></li>
                            
 
                </ul>
            
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
      </div>
    
    <div>




















<div class="advert-tile unsponsored-style google-ads" aria-hidden="true">
  <div class="advert-link">
    <div class="advert-content">
        <div class="medium-large" data-advert="/76889402/non-targeted" data-advert-sizes="300, 250"></div>
        <div class="small" data-advert="/76889402/non-targeted" data-advert-sizes="300, 250"></div>
    </div>
  </div>
</div>
@{
    ViewBag.AmazonSlot = "'amznslots'";
    ViewBag.AmazonAds = "'3199'"; // to add another value, this needs to be ViewBag.AmazonAds = "'3199','xx'";
}
      

 </div>
    
    <div data-set="sidenav-container" class="small-medium"></div>
  </div>
</div>
 
 
        
        
        
            @{ViewBag.Description = "Our teams manage relations local and national government officials as well as organisations such as business groups and passenger advocates";}
        
            
        


 