


@{ViewBag.Title = "A personal invitation to cut car use";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>A personal invitation to cut car use</h1>
        <div class="content-page-press-release">
        13 April 2007
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        People living in 79,000 households in Sutton are set to receive individual advice on how to make their journeys faster, cheaper, healthier and more environmentally friendly when a new service begins today.
        
    </div>



<div class="pull-quote">
        <div class="quote-body">"Local schemes like this have to be the future."</div>
        <div class="quote-footer">
            <div class="quotee-name">Jenny Jones</div>
            <div class="quotee-job-title">the Mayor's Green Transport Advisor</div>
        </div>
</div>

 <div class="on-this-page">
<div class="pullquote right">
                        <p>
                            Local schemes like this have to be the future.
                            
                        </p>
                    </div>
                
            
            
            <p>
<p>As part of the three year Smarter Travel Sutton programme, Transport for London (TfL) and Sutton Council are launching a new scheme to encourage people living in the borough to use more sustainable forms of transport, like walking, cycling and public transport.&nbsp; </p>
<p>Encouraging more sustainable forms of travelling is part of the Mayor's Climate Change Action Plan for London.</p>
<p>Under the Personal Travel Planning scheme, which is the largest of its type in the UK, travel information, support and incentives will be offered to residents to help them choose the best way to make their journeys.</p>
<p>From 13 April, travel advisors will visit homes offering tailored travel packs that include public transport maps, local leisure guides, cycle training information and guides on green driving, home shopping and car clubs.</p>
<p>Cheam and Belmont are the first areas to be targeted this month. Other parts of the borough will receive visits over the summer and early autumn.&nbsp;</p>
<h2>Sustainable transport </h2>
<p>Smarter Travel Sutton aims to have contacted 79,000 homes by October 2007.</p>
<p>The Smarter Travel Sutton is a partnership between TfL and London Borough of Sutton.&nbsp; </p>
<p>The partnership aims to cut residents car use by six per cent, which means 4.7 million fewer car trips a year in Sutton.</p>
<p>Smarter Travel Sutton concentrates personalised travel planning, school travel planning and workplace travel planning in one metropolitan centre, to help shift journeys away from the car to public transport, walking and cycling.&nbsp; </p>
<h2>Making changes </h2>
<p>During the past five years in London, bus use has increased by 50 per cent and cycle journeys have increased by 72 per cent.</p>
<p>The Mayor's Green Transport Advisor, Jenny Jones, said: "Lots of people making small changes to the way they live and travel, can make a big difference to our local environment. </p>
<p>"If large numbers of people in one area make the switch, then others are more likely to follow their example. </p>
<p>"The Sutton Personal Travel Plan scheme is a great way of encouraging people to look at alternative, more sustainable travel options that they wouldn't usually use, such as walking, cycling and using or even starting their own car-clubs.</p>
<h2>Climate change</h2>
<p>"As climate change becomes an ever bigger problem for humanity, innovative and local schemes like this have to be the future."</p>
<p>Ben Plowden, Project Director, Travel Demand Management, TfL, said: "Many people are very keen to choose healthier and more environmentally friendly ways to travel, but are unsure of what options are open to them.&nbsp; </p>
<p>"By contacting people individually we will be able to provide the best journey options for their needs.</p>
<p>"Small changes like cycling to the gym or local shops, or even walking children to school a couple of times a week, can help to reduce congestion, improve health and save money. </p>
<h2>Improving services</h2>
<p>"Transport for London is investing to improve bus services and cycling and walking facilities, and we want Londoners to take advantage of those improvements."</p>
<p>Colin Hall, Deputy Leader of the London Borough of Sutton, commented: "This is a unique opportunity for local residents to benefit from travel advice that is tailored to their own personal circumstances.</p>
<p>"Although we recognise that cars can be vital for some journeys, we will be emphasising the benefits of using environmentally friendly forms of transport, such as walking and cycling, which can help improve health and save money."</p>
<p>Last year's pilot project, targeting 6,500 households in Worcester Park and North Cheam, resulted in over 40 per cent of residents participating. </p>
<p>The London Borough of Sutton was selected to partner TfL for the smarter travel scheme after a successful bid was submitted in 2006.</p>
<p>For more information about Personal Travel Planning or Smarter Travel Sutton, call 020 8770 5070. <br></p>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "As part of the three year Smarter Travel Sutton programme, Transport for London (TfL) and Sutton Council are launching a new scheme to encourage people living in the borough to use more sustainable forms of transport, like walking, cycling and public";}
        
        


 