


@{ViewBag.Title = "After the Tour de France comes the Tour of Britain";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>After the Tour de France comes the Tour of Britain</h1>
        <div class="content-page-press-release">
        25 April 2007
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        New cycling fans converted by the London Grand D&eacute;part of the Tour de France won't have long to wait until the next big race hits the Capital.
        
    </div>



<div class="pull-quote">
        <div class="quote-body">"The Tour of Britain will be a fantastic spectacle and a fun day out"</div>
        <div class="quote-footer">
            <div class="quotee-name">Ken Livingstone</div>
            <div class="quotee-job-title">Mayor of London</div>
        </div>
</div>

 <div class="on-this-page">
<div class="pullquote right">
                        <p>
                            The Tour of Britain will be a fantastic spectacle and a fun day out
                            
                        </p>
                    </div>
                
            
            
            <p>On Sunday 9 September, London will host the start of the Tour of Britain, the biggest cycle race in the UK. </p>
<p>The 2007 race will kick off in Crystal Palace Park with the Transport for London (TfL) sponsored 2.5km Prologue. </p>
<p>The race will then leave London for a tough six stage route covering around 800km before finishing in Glasgow on Sunday 16 September. </p>
<p>The first stage of the free to view race will follow on from the Tour de France Grand D&eacute;part which comes to London on 7 and 8 July.</p>
<p>Bringing the Tour of Britain to London is part of the Mayor of London's and TfL's work to encourage more people to cycle.</p>
<p>London has already seen a 72 per cent increase in cycle journeys on major roads since 2000, with an estimated 450,000 cycle journeys everyday across the Capital. </p>
<h2>World's best professionals</h2>
<p>A full day's cycle racing will start at 10:00 on Sunday and promises an entertaining day for everyone. </p>
<p>The programme will include the TfL Grand Prix for amateur riders, Women's Grand Prix and Junior race. </p>
<p>The afternoon will see 96 of the world's best professionals compete in the first ever Prologue time trial for the Tour of Britain. </p>
<p>In addition, Go Ride, the Cycling Programme for young people and Bikeability, the Cycling Proficiency Test for the 21st century, will be involved on the day for spectators keen on learning more about cycling in the Capital.&nbsp; </p>
<h2>Global audience</h2>
<p>Mayor of London, Ken Livingstone, said: "In the year that London is host to the Tour de France, we are delighted to welcome the first stage of the Tour of Britain. </p>
<p>"This important national event will further showcase London's ability to promote a world-class sporting fixture to a global audience. </p>
<p>"The Tour of Britain will be a fantastic spectacle and a fun day out. </p>
<p>"It will help to highlight the health benefits and enjoyment that cycling can offer Londoners and will illustrate the first rate facilities and experiences that London has for all tourists and visitors." </p>
<h2>Take to two wheels</h2>
<p>Mick Hickford, Head of Special Projects, TfL, said: "2007 is a massive year for cycling in the Capital. </p>
<p>"We want the Tour of Britain to build on the great success we have had in getting more people to take to two wheels. </p>
<p>"The day promises to be a spectacular event for everyone - not just cyclists.</p>
<p>"The visit of the Tour de France and the Tour of Britain's first ever Prologue will give cycling a huge boost, both as a way of getting around and as a leisure activity." </p>
<p>After the London Prologue the Tour of Britain will continue with six stages around the UK which include: Reading to Southampton (140km), Yeovilton to Taunton (170km), Worcester to Wolverhampton (150km), Rotherham to Bradford (160km), Liverpool to Kendal (180km) and Dumfries to Glasgow (150km). </p>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "On Sunday 9 September, London will host the start of the Tour of Britain, the biggest cycle race in the UK. The 2007 race will kick off in Crystal Palace Park with the Transport for London (TfL) sponsored 2.5km Prologue. The race will then leave London";}
        
        


 