


@{ViewBag.Title = "&pound;509m major upgrade for Victoria station";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>&pound;509m major upgrade for Victoria station</h1>
        <div class="content-page-press-release">
        24 April 2007
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        Passengers using one of London Underground's (LU) busiest and most congested stations are set to benefit from a major upgrade following the award of a contract for the Victoria Underground station redevelopment, the Mayor announced today.
        
    </div>



 <div class="on-this-page">
<p>
<p>LU has appointed Mott MacDonald to be lead consultant for the detailed design through to construction of the Victoria Station upgrade, as part of Transport for London's &pound;10bn Investment Programme.</p>
<p>The &pound;509m project is due to start in 2009 and be complete in 2014.</p>
<p>When complete, the project will increase the size of the station by about 50 per cent with a new ticket hall, lifts and escalators to ease congestion and provide step-free access from street level to Victoria, Circle and District line platforms.</p>
<p>Used by over 75 million passengers each year, Victoria Underground station is at the heart of London's transport network, but severe congestion during the morning rush hour has made it necessary to stop passengers coming into the station for a few minutes, so that the platforms don't become too overcrowded - this crowd control safety measure has to be used several times every weekday.&nbsp; </p>
<p>The upgrade of Victoria station is one of several plans by LU to ease congestion at stations. </p>
<p>As a result of London's growing population by 2016, it is estimated that the Tube could be carrying 25 per cent&nbsp;more passengers, which is equivalent to an average 3.4million passengers every day. </p>
<p>This demonstrates the need for continued investment in the Tube and London's transport network to increase capacity.</p>
<p>Mayor of London, Ken Livingstone, said: "The &pound;509m redevelopment of Victoria Station is a great example of the huge investment being made to improve the Tube and transport across the Capital.</p>
<p>"This expansion is essential to meet London's continued growth and development and to support the extra capacity on the Victoria line, due to be delivered by new trains and signalling system in 2013."</p>
<p>LU Managing Director, Tim O'Toole, said: "Upgrading Victoria Underground station is a key part of improving the Tube network which will cut congestion and improve access for all our passengers using the station. </p>
<p>"Together with the full Victoria line upgrade, this will deliver much needed capacity and provide a safe, reliable and accessible station, fit for the 21st Century."</p>
<p>Subject to the necessary consents being secured, this key project is due to begin construction in 2009 delivering major passenger benefits by 2014 including:</p>
<ul>
<li>Cuts in peak time congestion and improved capacity with a new ticket hall and entrance to the station beneath Bressenden Place allowing passengers from Victoria Street to enter the station without crossing the complex of streets toward the existing station entrance</li>
<li>Better station access for all passengers with new lifts in the enlarged existing Victoria line ticket hall providing step-free access to all platform levels and wider stairs to the national rail station</li>
<li>Nine new escalators</li>
<li>Seven new lifts providing step free access from street to the Victoria line and for interchange with District and Circle line platforms</li>
<li>New passage way to the north end of the Victoria line platform<br>
<hr>
</li></ul>
            <p><strong>Notes to Editors: </strong><br>
<ul>
<li>Transport for London (TfL) is investing &pound;10bn to improve and expand London's transport network, more than half of that on the Tube </li>
<li>Following a competitive tendering process Mott Macdonald has secured the consultancy commission for the VSU detailed design through to construction stage. They will progress the station designs (developed so far by Scott Wilson who undertook the early design contract) leading to a Transport &amp; Works Act Order submission in November 2007 </li>
<li>The Victoria Station Upgrade project is outside of the LU Public Private Partnership and is funded by the TfL's &pound;10bn Investment Programme. Station modernisation work previously planned under PPP has now been absorbed into the scope of the VSU. A contract to undertake the infrastructure work will be competitively tendered when the design work is complete </li>
<li>Victoria is a major transport interchange, serving National Rail, Underground, London bus services and the Victoria Coach Station </li>
<li>The Victoria Station Upgrade project will complement the Victoria line Upgrade project due to be completed in 2013. This will include the provision by Metronet Rail BCV of 47 new trains with increased capacity. Other enhancements to the Victoria line include new signalling, control room and general infrastructure improvements </li>
<li>Images of what Victoria Underground station could look like when the project is complete are available at the <a href="http://www.tfl.gov.uk/tfl/corporate/media/photos/pressimages/gallery.asp">TfL news centre image gallery</a> </li></ul>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "LU has appointed Mott MacDonald to be lead consultant for the detailed design through to construction of the Victoria Station upgrade, as part of Transport for London's &pound;10bn Investment Programme.The &pound;509m project is due to start in 2009 and";}
        
        


 