


@{ViewBag.Title = "Celebrating London's cycling communities";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>Celebrating London's cycling communities</h1>
        <div class="content-page-press-release">
        03 April 2007
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        The outstanding achievements of London's cycling communities were recognised last night at Transport for London's (TfL) first ever Cycling Communities Awards, held in Westminster.
        
    </div>



 <div class="on-this-page">
<p>
<p>Celebrating London's cycling communities</p>
<p>The outstanding achievements of London's cycling communities were recognised last night at Transport for London's (TfL) first ever Cycling Communities Awards, held in Westminster. The awards were a celebration of the important role that the many community groups and 999 emergency service teams play in making cycling an activity that is open to all Londoners.</p>
<p>The event reflected the widening appeal of cycling in London, with nominees and winners representing various communities across the Capital, including the Signing In Deaf Club in Ealing, who were rewarded for their cycle and road safety training project, and Kensington and Chelsea's Metropolitan Police Cycle Team, for their efforts and results in tackling street crime. </p>
<p>Individual winners included Sally Haywill from STA Bikes in Hackney, for her boundless enthusiasm in bringing cycling to new audiences,&nbsp;and Met Police's Sgt Sadler and PC Henshaw (also from Hackney), joint winners of the Beyond the Call of Duty Award, for using a summer bike building course to improve community relations with local young people.</p>
<p>Metropolitan Police Inspector Paul Delivet and Liz Bowgett from New City Primary School in Newham accepted a special award for an Outstanding Example of Partnership Working, for the smooth organisation of New City's mass club bike rides to the Thames Barrier Park.&nbsp; </p>
<h2>Commitment to cycling</h2>

<p>The awards were presented by television presenter, and keen cyclist, Adam Hart-Davis, and Jenny Jones, the Mayor of London's Green Transport Advisor.</p>
<p>Peter McBride, Transport for London's Head of Cycling, Walking and Accessibility said: "TfL would like to congratulate the winners and nominees of the awards for their dedication and commitment to cycling, and for their contributions in making cycling an everyday activity that can be enjoyed by, and open to, all Londoners. </p>
<p>"Community cycling projects have played an important role in the huge growth in popularity of cycling in the Capital in recent years.</p>
<p>"Grants, funded by TfL, are available to develop local cycling projects, and have already helped many of the nominees and winners from last nights awards.&nbsp; </p>
<h2>Positive impact</h2>
<p>"Anyone interested in setting up a project in their area should contact the London Cycling Campaign for more details."</p>
<p>Mayor's Green Transport Advisor, Jenny Jones, said: "The TfL Cycling Community Awards show the immensely positive impact that cycling can have within communities across London. </p>
<p>"The nominees and winners should be very proud of their achievements, which have shown how to lead the way in encouraging people from all walks of life to take up cycling, bringing health, social, and environmental benefits across the capital."</p>
<p>Other winners on the night included:</p>
<ul>
<li>John Ball Primary School, Lewisham - Cycling for Young People award </li>
<li>Movers and Shakers (Wandsworth Cycling Campaign), Wandsworth - Cycling for Adults award </li>
<li>The Focus Project (Penrose Housing), Hackney - Creative Solutions award </li>
<li>Kathy Jones, London Ambulance Service - Cycling Advocate award </li>
<li>St Johns Ambulance - Cycling Development award </li>
<li>PCSO Begg, Metropolitan Police Service - Cycling Works award (joint winner) </li></ul>
<p>Special mention went to: </p>
<ul>
<li>New City Primary School, Newham - Cycling for Young People category </li>
<li>Haringey Mencap, Haringey - Creative Solutions category </li>
<li>Motorvations, Romford - Cycling Legacy category </li>
<li>Gerard Robinson, London Ambulance Service (LAS) - Beyond the Call of Duty category </li>
<li>Ashley Sweetland, St John's Ambulance (SJA) Cycle Response Unit - Cycling Advocate category </li>
<li>Public Safety Cyclist Working Group (collaboration of 999 organisations led by Tom Lynch (LAS), Charlie Irvine (MPS), Mark Cockram (City Police) and David Warman Jnr (SJA) - Cycling Development category</li></ul>
<p>&nbsp;</p>
            <p>
<p><strong>Notes to Editors:</strong></p>
<ul>
<li>The 2007 Cycling Community Awards combines the former 999 London Cycling Awards for emergency service cycle teams with the Community Cycling Fund for London's (CCFL) grants scheme</li>
<li>The CCFL grants scheme provides grants of up to &pound;5,000 to charities, not-for-profit groups and schools that work with communities in London to promote, encourage and support cycling across London. The grants scheme, funded by TfL, is formed of&nbsp;six key members, TfL, London Cycling Campaign, Cycling Tourist Club, Sustrans, LondonCycleSport and 'good going'</li>
<li>The Community Cycling Fund for London is now open for 2008, with the first round for applications closing on the 27 April. Application forms are now available from <a href="http://www.lcc.org.uk">www.lcc.org.uk</a> </li>
<li>London has seen a dramatic rise in the number of people cycling during the past five years with a 72 per cent increase on London's major roads since 2000</li>
<li>It is estimated that there are now approximately 450,000 cycle journeys a day across London as a whole</li>
<li>The number of cyclists killed or seriously injured has fallen by 30 per cent compared with the government baselines figures from the mid to late 1990s</li></ul>
<p><br><strong>Community Cycle Awards categories:</strong></p>
<p><strong>Community awards</strong></p>
<p>Cycling for Young People:<br>The best cycling project to promote cycling among young people, demonstrating outreach or impact in some or all of the following criteria:</p>
<ul>
<li>Promoting cycling with children (family activities)</li>
<li>Maintaining cycling amongst 11-16 year olds, especially girls</li>
<li>Incorporating positive messages about responsible road use, health and/or participation in active sports</li>
<li>Encouraging cycling in black, Asian, minority ethnic and refugee communities</li>
<li>Increasing access to cycling for low income and mobility impaired people</li>
<li>Using cycling to develop skills, self confidence and job opportunities</li></ul>
<p>Cycling for Adults<br>The best cycling project to promote cycling among adults, demonstrating outreach or impact in some or all of the following criteria:</p>
<ul>
<li>Promoting cycling to outer London car owning households </li>
<li>Promoting cycling to commuters, especially 16-24 year olds</li>
<li>Promoting cycling to leisure cyclists (encouraging cycling for work and short local journeys)</li>
<li>Incorporating positive messages about responsible road use</li>
<li>Encouraging cycling in black, Asian, minority ethnic and refugee communities</li>
<li>Increasing access to cycling for low income and mobility impaired people</li>
<li>Using cycling to develop skills, self confidence and job opportunities</li></ul>
<p>Creative Solutions<br>The most innovative cycling project which also:</p>
<ul>
<li>Promotes cycling to outer London car owning households, commuters, leisure cyclists and family-based cycling activities</li>
<li>Maintains cycling amongst 11-16 year olds, especially girls</li>
<li>Incorporates positive messages about responsible road use, health and/or participation in active sports</li>
<li>Encourages cycling in black, Asian, minority ethnic and refugee communities</li>
<li>Increases access to cycling for low income and mobility impaired people</li></ul>
<p>Cycling Legacy<br>The cycling project which has led to the most long-lasting and significant changes to a community, including demonstration of:</p>
<ul>
<li>A longer-term commitment to cycling and its wider benefits to the local community</li>
<li>Significant and ongoing benefits to the lifestyle, confidence, health and inclusion of individuals connected with the project</li></ul>
<p>Emergency Services (999) awards</p>
<p>Cycling Advocate<br>Awarded to a higher level officer who has affected the biggest change in cycling within their organisation this year, demonstrating:</p>
<ul>
<li>Determination in establishing and/or expanding cycle response teams</li>
<li>Promotion the greater use of bicycles throughout the organisation and in mainstream operations</li>
<li>Raising its profile as an innovative and effective means of work vehicle</li>
<li>Increasing the scope for training and recruitment of cycle teams</li></ul>
<p>Cycling Works <br>Awarded to a cyclist or cycle team who has demonstrated excellence in the use of bicycles in day-to-day duties, including:</p>
<ul>
<li>High level of skill whilst negotiating route to incident as per specialist training</li>
<li>Achieving target response times to incidents and providing lifesaving attention or crime interventions</li></ul>
<p>Beyond the Call of Duty<br>Awarded to a cyclist or cycle team who has demonstrated excellence in improving community relations through the use of the bicycle in his/her profession and whose achievements have displayed innovation, initiative, leadership and actions beyond the daily requirements of the job. Achievements include:</p>
<ul>
<li>Special initiatives/events to increase communication and closeness with the community</li>
<li>Building respect and increasing the community's confidence to feel safer on the streets</li>
<li>Increasing knowledge and understanding of the diversity of community groups</li></ul>
<p>Cycling Development<br>Awarded to the emergency services organisation who has done the most to develop cycling within their organisation in the last year. Examples include:</p>
<ul>
<li>Development of new, or finalisation of existing, package of standards in cycle training, clothing, equipment and maintenance</li>
<li>Rapid extension of cycling team and establishing necessary support systems</li>
<li>Introduction of the use of bicycles into previously non-cycling departments or divisions of organisation</li></ul>
<p>&nbsp;</p>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "Celebrating London's cycling communitiesThe outstanding achievements of London's cycling communities were recognised last night at Transport for London's (TfL) first ever Cycling Communities Awards, held in Westminster. The awards were a celebration of";}
        
        


 