


@{ViewBag.Title = "Dial-a-Ride drivers awarded BTEC qualification";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>Dial-a-Ride drivers awarded BTEC qualification</h1>
        <div class="content-page-press-release">
        24 April 2007
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">



 <div class="on-this-page">
<p>
<p>The first of&nbsp;200 Dial-a-Ride drivers to be awarded a unique BTEC qualification, 'Delivering a Dial-a-Ride service in London', will receive their certificates in an awards ceremony tonight.&nbsp; </p>
<p>Transport for London's (TfL's) Dial-a-Ride programme provides a subsidised door-to-door transport service for around 75,000 disabled Londoners each year.&nbsp;</p>
<p>The new, in-house driver training course will ensure drivers provide the best possible service to passengers.</p>
<p>Introduced in January 2006, it follows the success of TfL's BTEC for bus drivers in the Capital.</p>
<p>TfL's Dial-a-Ride General Operations Manager, Paul Ainscough, said:&nbsp; 'This qualification is helping us to raise standards and professionalism amongst Dial-a-Ride drivers.</p>
<p>'We can be confident that our drivers have a nationally recognised qualification, backed up by a robust training programme, ensuring passengers enjoy a high quality, safe and reliable service at all times.'</p>
<p>The course consists of five units: Introduction to Dial-a-Ride; Operating Dial-a-Ride vehicles; Health, Safety and Manual Handling; Driving Skills; and Customer Care.&nbsp; </p>
<p>Among other things, drivers receive training in disability equality issues, first aid, smooth driving techniques, understanding Dial-a-Ride vehicles, and how to use the various pieces of equipment to safely secure wheelchairs and scooters. </p>
<p>The Dial-a-Ride BTEC qualification has received official accreditation from the examining body Edexcel.</p>
<p>Successful candidates will receive a level two BTEC Intermediate Award upon completion of the course.</p>
<p>TfL's Managing Director of Surface Transport, David Brown, will present certificates to successful drivers at one of two awards ceremonies being held tonight, Tuesday 24 April, and on Tuesday 1 May.</p>
<p>
<hr>
</p>
<p>Notes to Editors</p>
<ul>
<li>Two hundred Dial-a-Ride drivers will be presented with their BTEC certificates on 24 April and 1 May, 2007, on the HMS Belfast</li>
<li>Photos will be available from the following website <a href="http://www.constructionphotography.com/clients/tfl/">http://www.constructionphotography.com/clients/tfl/</a> on the morning of April 25</li>
<li>The first Dial-a-Ride service was established in 1980 as a service run by disabled people.&nbsp; From 1982, it was funded by the Greater London Corporation (GLC) and eventually expanded to cover the whole of London, through 29 separate local schemes</li>
<li>To be eligible for Dial-a-Ride membership, one must have a permanent or long term disability which severely restricts ones' ability to use public transport services</li>
<li>For more information on Transport for London's Dial-a-Ride service, please visit&nbsp; <a href="http://www.tfl.gov.uk/gettingaround/1193.aspx">http://www.tfl.gov.uk/gettingaround/1193.aspx</a> or contact the Transport for London Travel Information Centre on 020 7222 1234 for details on how to apply for membership</li>
<li>Edexcel is Britain's leading provider of academic and vocational qualifications, formed as a result of the merger between BTEC and London Examinations.&nbsp; Qualifications include GNVQs, NVQs, GCSE, A/S and A Levels, Higher Nationals and other BTEC qualifications.<br></li></ul>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "The first of&nbsp;200 Dial-a-Ride drivers to be awarded a unique BTEC qualification, 'Delivering a Dial-a-Ride service in London', will receive their certificates in an awards ceremony tonight.&nbsp; Transport for London's (TfL's) Dial-a-Ride programme";}
        
        


 