


@{ViewBag.Title = "Docklands Light Railway carries 60 million passengers";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>Docklands Light Railway carries 60 million passengers</h1>
        <div class="content-page-press-release">
        04 April 2007
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">



 <div class="on-this-page">
<p>
<p>Transport for London (TfL) revealed that during the last year, the Docklands Light Railway (DLR) carried 60 million passengers for the first time in its 20-year history.</p>
<p>The railway is also undergoing a massive programme of infrastructure upgrades so that longer trains can be run, ensuring that the capacity is in place to meet the increasing demand.</p>
<p>Ken Livingstone, Mayor of London, said: "The Docklands Light Railway is a part of London's transport network that is growing in importance all the time. The DLR has a crucial role to play, both in serving Olympic venues during the 2012 Games, and also in supporting the growing job centre of the Docklands and serving Londoners living in expanding areas of east London.</p>
<p>"We have managed to develop and extend the Docklands Light Rail whilst achieving some of the highest satisfaction ratings of any railway in the country.&nbsp; </p>
<p>"We are continuing the high level of investment to build on this success, and provide the increasing number of passengers with a continued and expanded first class service."</p>
<h2>Milestone</h2>
<p>The Managing Director of TfL's London Rail, Ian Brown, said: "Passing this milestone shows DLR is going from success to success. It is expanding both in passenger numbers and route extensions faster than any other UK railway.<br>&nbsp;<br>"It is absolutely crucial to provide reliable and frequent public transport, to the Docklands in order to maintain and develop its standing as a global financial centre. These passenger numbers show that DLR is playing a vital role in the area's success as well as London's overall growth.</p>
<p>"The railway is also vital to the wider area of southeast London. In serving the people who live and work there it fills many roles - it is a commuter railway, a vital link to London City Airport and a regeneration railway.</p>
<p>"The DLR has attracted investment in to the communities it serves and given local residents reliable and fast access to jobs in Greater London. Many brownfield sites have become viable for residential and commercial development because of the railway.</p>
<p>"The DLR opened in 1987 with an 11-carriage fleet and 15 stations at a cost of &pound;77 million. Since then it has been extended to Bank, Beckton, Lewisham and London City Airport. We are currently boring an extension under the river to Woolwich Arsenal that will open in early 2009, opening another to Stratford International in 2010 and we are considering yet another extension, this time further east to Dagenham Dock."</p>
<p>The DLR's upgrade is being funded by Transport for London's &pound;10bn Investment Programme.</p>
<h2>Increasing numbers</h2>
<p>Jonathan Fox, Director of the DLR, said: "Sixty million passengers in a year shows that the communities served by the DLR are voting with their feet and using the railway in increasing numbers.</p>
<p>"To meet this demand we are about to embark on work which will allow us to increase DLR train length from two to three cars and have recently refurbished our fleet of 94 vehicles to enhance passenger capacity and comfort. This will be supplemented by an order of another 55 cars.</p>
<p>"More and more people are using the DLR because it is a fully accessible and fully integrated railway - it connects with more than 100 bus routes, five mainline railways, eight Underground lines and coach, taxi and river services."</p>

<p>
<hr>
<br></p>
            <p>
<p><strong>Notes to editors</strong></p>
<ul>
<li>Record passenger figures for the DLR were recorded during the same year that London Underground carried one billion people for the first time</li>
<li>DLR passenger numbers are expected to reach 80 million by 2009. The London City Airport Extension carried 4.2 million passengers in its first year of operation (December 2005/2006) - a figure that was expected after three years</li></ul>
<p>&nbsp;</p>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "Transport for London (TfL) revealed that during the last year, the Docklands Light Railway (DLR) carried 60 million passengers for the first time in its 20-year history.The railway is also undergoing a massive programme of infrastructure upgrades so that";}
        
        


 