


@{ViewBag.Title = "Groundwater cooling trial at Victoria wins Carbon Trust award";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>Groundwater cooling trial at Victoria wins Carbon Trust award</h1>
        <div class="content-page-press-release">
        27 April 2007
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        London Underground's innovative groundwater cooling trial at Victoria station has been recognised with a prestigious Innovation Award by the Carbon Trust.
        
    </div>



 <div class="on-this-page">
<p>
<p>The award, presented to South Bank University who developed this unique cooling solution, is representative of the unique and environmentally-sustainable&nbsp;cooling solutions that London Underground (LU)&nbsp;is currently investigating to help cool the Tube.</p>
<p>Created to showcase the best in UK low carbon innovation, the Carbon Trust Innovation Awards recognise individuals and both public and private sector bodies that are developing and deploying innovative technologies or energy efficiency measures that help reduce the UK's carbon emissions.</p>
<p>Ken Livingstone, Mayor of London, said: "Cities have a key role to play in reducing the greenhouse gas emissions which threaten the planet.</p>
<p>"The energy efficient approach to the Tube cooling trial at Victoria exemplifies the new approach we all have to take if we are to do our bit to reduce climate change. </p>
<p>"We are honoured to receive this award."</p>
<p>David Waboso, LU Director of Engineering, said: "Prior to Transport for London taking control of London Underground, attempts to try and cool the Tube were haphazard.&nbsp; We have now started a coordinated programme to understand the problem and to tackle heat on the Underground.<br>&nbsp;<br>"The groundwater cooling trial at Victoria uses an available and sustainable energy source that has had a very noticeable impact in reducing temperatures on the Victoria line concourse and platforms.</p>
<p>"The trial which started last summer will continue throughout 2007. If it continues to provide good results then the technology will be rolled out to a number of other locations across the Tube network."</p>
<p>The groundwater trial provides an environmentally friendly cooling system for the Victoria line platforms at Victoria station, and uses groundwater which is already pumped out of the station. </p>
<p>Across the Tube network, LU pumps out 30 million litres of water each day.</p>
<p>The water supply, which has a temperature of around 12&ordm;C, is pumped through a network of pipes to feed three heat exchange units on the concourse area between the Victoria line platforms. </p>
<p>The heat exchange units have fans which will draw in the warm station air, and through heat exchange with the pumped water, will supply cooled air to the concourse area and the movement of trains will spread this cooled air to the platform area.</p>
<p>When London Underground was built,&nbsp;air-conditioning did not exist and cooling the Tube was not a priority.</p>
<p>There is little space in which to develop solutions and it is therefore a very difficult challenge, especially on the deep-level lines.</p>
<p>When TfL inherited LU, next to nothing was being done to tackle heat on the Tube.&nbsp;But now, thanks to TfL, LU is tackling this issue through a special team of engineers who are responsible for Cooling the Tube.</p>
<p>This means we are investigating and trialling a series of engineering initiatives in a bid to identify the best ways to cool the Tube.</p>
<p>This will not mean relief for most passengers this summer, but - if we can secure the necessary investment - will in years to come.</p>
<p>Significant progress is being made. </p>
<p>The innovative groundwater cooling trial at Victoria station will operate for a full summer for the first time this year and a number of other projects will be trialled and implemented. </p>
<p>Longer term, the first air-conditioned trains are due to arrive on the Metropolitan line in January 2010.<br><br></p>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "The award, presented to South Bank University who developed this unique cooling solution, is representative of the unique and environmentally-sustainable&nbsp;cooling solutions that London Underground (LU)&nbsp;is currently investigating to help cool the";}
        
        


 