


@{ViewBag.Title = "Licensed minicabs to be allowed to stop on red routes for the benefit of their customers";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>Licensed minicabs to be allowed to stop on red routes for the benefit of their customers</h1>
        <div class="content-page-press-release">
        27 April 2007
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">



 <div class="on-this-page">
<p>
<p>The Mayor of London has announced he intends to give the capital's 42,000 licensed private hire vehicles the same right to&nbsp; pick up and set down on the capital's 'red route' roads as licensed black cabs. <br>&nbsp; <br>To benefit from this new right, licensed minicabs and other private hire vehicles will have to display additional signage on the front and rear of their vehicles to help identify them more clearly.</p>
<p>Passengers will benefit by being able to be dropped off closer to their final destination.&nbsp; <br>&nbsp; <br>Under these proposals, private hire vehicles will also be allowed to display licensed operator information on the rear of the vehicle which customers can use to pre-book a minicab when out and about in London.</p>
<p>Passengers will also be able to ensure they are getting into the correct vehicle once it arrives at a pre-arranged pick up address.&nbsp; <br>&nbsp; <br>These changes should take place later on this year, after the necessary legal processes have been completed.&nbsp; <br>&nbsp; <br>Until now, only London licensed taxis and vehicles carrying Blue Badge holders have had the exemption to allowing passengers to board or get dropped off on red routes.&nbsp; </p>
<p>Now that London's private hire services are licensed by Transport for London (TfL), they will be granted the exemption subject to them displaying the additional signage. </p>
<p>Licensed minicabs will still have to show the mandatory TfL licensing signage, that is the yellow discs in both front and rear windscreens.&nbsp; <br>&nbsp; <br>Mayor Ken Livingstone said:&nbsp; 'London now has a fully licensed private hire trade which is benefiting passengers by improving standards and increasing choice.</p>
<p>'As a logical next step, I am pleased to announce proposals for this new exemption to allow licensed minicabs to pick up and set down on red routes for the first time.</p>
<p>'This will be of benefit to people who live on these roads particularly elderly people.&nbsp;&nbsp;&nbsp;<br>&nbsp; <br>'Additional signage on licensed minicabs displaying the operator's name and contact details will also make it easier for passengers to make sure they are getting into the vehicle they have pre-booked.</p>
<p>'This move will also help women travel more safely especially at night.'<br>&nbsp;<br>David Brown, Managing Director Surface Transport at TfL said: 'his decision will help the thousands of people who get around London using licensed private hire services every day.&nbsp;&nbsp;&nbsp;<br>&nbsp; <br>'But we have to keep London moving and in order to make it clear to other road users that the regulations for stopping on red routes will still be rigorously enforced, we are making sure that the PHVs will carry additional signs both front and rear.&nbsp;<br>&nbsp; <br>'This will mean they are easily identified by both other motorists and our enforcement teams.'<br>&nbsp; <br>Steve Wright MBE, Chairman of the Licensed Private Hire Car Association, said: 'On behalf of London's private hire operators and drivers, we are delighted that TfL has agreed that licensed PHVs will be able to set down and pick up on London's red routes.&nbsp;&nbsp;&nbsp;<br>&nbsp; <br>'The proposals will benefit private hire drivers and many Londoners, in particular the elderly, the disabled, the vulnerable and the disadvantaged.'<br> <br>TfL is working with the private hire trade on the detailed design of the additional vehicle signage. <br></p>
<p>
<hr>
</p>
<p><strong>Notes to Editors: </strong></p>
<ul>
<li>There are currently&nbsp;more than 20,000&nbsp;licensed cabs (black cabs) and over 24,000 licensed taxi drivers (black cab drivers). In addition there are over 2,000 licensed private hire operators (minicab firms, chauffer companies and others) operating over 42,000 licensed private hire vehicles</li>
<li>The exemption will be for picking up and setting down passengers on Red Routes and will only be permitted for vehicles which display the new signage</li>
<li>It is not mandatory that private hire vehicles have the new signage but they must do so to benefit from the exemption.&nbsp; They must also show the mandatory TfL licensing signage, that is the yellow discs in both front and rear windscreens</li>
<li>Any licensed PHV dropping off or picking up passengers without this signage will be doing so unlawfully and risks receiving a Penalty Charge Notice in the same way as any other vehicle (other than emergency services, Blue Badge holders and licensed taxis). There is no change in respect of any other vehicles</li>
<li>Consultation has started on the changes to Red Route Traffic Orders, inviting stakeholders to comment on the proposals.&nbsp; These processes will take at least 16 weeks, including public consultation and a thorough re-appraisal of the proposals taking account of any objections that are made</li>
<li>TfL's Road Network and Traffic Enforcement teams as well as the Public Carriage Office will be working with the private hire trades on detailed specifications for the additional signs over the next few months. Vehicle owners will be informed of how to take advantage of the new exemption when this work is complete</li>
<li>Detailed specification of how operators' names may be displayed on the rear of the vehicle will be devised over the same period.&nbsp; It is likely that operators will be allowed to display their company names, telephone number and/or website addresses</li>
<li>Licensed minicabs cannot be flagged down in the street in the way that black cabs are allowed</li>
<li>The Transport for London Road Network comprises 580km of London's busiest roads, many of them red routes. These roads make up around 5 per cent of the total London road network, but carry around 35 per cent of the capital's traffic</li>
<li>This exemption will not be effective until the statutory processes regarding Traffic Orders have been completed, well into Summer 2007<br></li></ul>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "The Mayor of London has announced he intends to give the capital's 42,000 licensed private hire vehicles the same right to&nbsp; pick up and set down on the capital's 'red route' roads as licensed black cabs. &nbsp; To benefit from this new right,";}
        
        


 