


@{ViewBag.Title = "London Underground launches groundbreaking accessibility information service to ease travel";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>London Underground launches groundbreaking accessibility information service to ease travel</h1>
        <div class="content-page-press-release">
        09 April 2007
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        London Underground (LU) launched its new detailed, interactive service today (Easter Monday, 9 April) which allows passengers to understand the access available at every station across the network, particularly the routes between street and platforms
        
    </div>



<div class="pull-quote">
        <div class="quote-body">"The new service will be a real benefit for all our customers"</div>
        <div class="quote-footer">
            <div class="quotee-name">Wayne Trevor</div>
            <div class="quotee-job-title">LU's Accessibility and Inclusion Manager</div>
        </div>
</div>

 <div class="on-this-page">
<div class="pullquote right">
                        <p>
                            The new service will be a real benefit for all our customers 
                            
                        </p>
                    </div>
                
            
            
            <p>
<p>The service, launched at Southwark Station, takes access information to a new level and is initially only available on <a href="http://www.directenquiries.com/">http://www.directenquiries.com/</a>.&nbsp; It will soon be fully integrated with the Transport for London (TfL) Journey Planner.</p>
<p>LU's Accessibility and Inclusion Manager, Wayne Trevor, said: "The new service will be a real benefit for all our customers showing them the best routes through stations for their individual needs, not just wheelchair users, but the elderly, travellers with heavy luggage and parents with buggies, as well as those passengers with visual and hearing impairments.</p>
<p>"This groundbreaking new service allows all customers to plan in advance ensuring an easier and more relaxed journey, promoting confidence and independent travel on the Tube."</p>
<p>Susan Scott-Parker, Chief Executive of Employers Forum on Disability, said: "London Underground's new accessible route planner on the Direct Enquiries website will revolutionise travel in the Capital for disabled people.</p>
<p>"This easy to use service will take the hassle out of journey planning for everyone. </p>
<h2>Welcome news</h2>

<p>"Disabled people always tell us that inaccessible transport is the greatest barrier to employment. </p>
<p>"A service that smoothes the way through London's complex maze of stations, platforms and exits is welcome news for employers who are looking to recruit disabled people. </p>
<p>"We are looking forward to the day when the whole transport system is mapped on to Direct Enquiries." </p>
<p>Visitors to <a href="http://www.directenquiries.com/">http://www.directenquiries.com/</a> will be able to search for accessible routes through each Underground station, prioritising their search according to their individual needs. </p>
<h2>Accurate information</h2>
<p>Routes available include both street-level to platform and interchanges (platform to platform).</p>
<p>The access details include the number of steps, lifts, escalators, walking distances, ramps and platform to train gap width.</p>
<p>The site also allows passengers to search for comprehensive information about each station, including car parking, toilets, and services for visually impaired people, induction loops and other access facilities.&nbsp;</p>
<p>Visitors to the site can also register, free of charge, which will allow them to receive updated travel and access information on stations of their choice.&nbsp;</p>
<h2>Online resource</h2>
<p>This additional service will also be available by SMS before the end of the year.</p>
<p>Bert Massie, Disability Rights Commission (DRC) Chairman, said: "This new on-line accessible information about the Tube is a good step forward in providing better information for disabled travellers.<br>&nbsp;<br>"DRC research shows that disabled people would travel more if they had clearer and more accurate information.</p>
<p>"So more transport companies need to follow London Underground's example by providing clearer information about their services, vehicles and stations." </p>
<h2>Groundbreaking</h2>
<p>The TfL Journey Planner allows passengers to conduct searches across the whole network covering 274 stations, providing accessible route information across the city. Integration of the two services is underway.</p>
<p>Grant Kennedy, Chief Executive of Direct Enquiries, said: "The addition of London Underground's access information is a substantial step for disabled people and those with specific access needs in London.&nbsp; </p>
<p>"This is groundbreaking work and we are really excited to have created the world's first online resource of this type.</p>
<p>"It is also clear that <a href="http://www.directenquiries.com/">http://www.directenquiries.com/</a> is now seen as a truly useful interactive tool, rather than just a database."<br></p>
            <p>
<p><strong>Notes to editors:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</strong>&nbsp;&nbsp;&nbsp;&nbsp;</p>
<ul>
<li>TfL is investing &pound;10bn to improve and expand London's transport network, over half of that of being spent on the Tube </li>
<li>LU is investing more than ever before to make the Tube as accessible as possible, as quickly as possible for all customers </li>
<li>By 2010, 25 per cent of Tube stations will have step-free access and this will increase to one third of stations by 2013. Where necessary, works will be prioritised to ensure that as many stations as possible serving Olympic venues have step-free access for the 2012 Games </li>
<li>Significant progress has been made during the last year. Currently 47 stations have step-free access. Feasibility studies to improve accessibility have been completed at 90 stations, allowing LU to understand the extent of the engineering works that need to take place </li>
<li>Many stations do not currently meet the needs of customers with physical, hearing or visual impairments. All 252 LU-owned stations are due to be refurbished and modernised by 2011 and accessibility features will be added to each station </li>
<li>This new online interactive service complements 'Getting Around London: Your Guide to Accessibility', launched in March, which gives information about accessibility on all forms of public transport across London </li>
<li>The guide is available at Tube stations, bus stations and Travel Information Centres, or via the 24-hour Travel Information Helpline 020 7222 1234.&nbsp; It can also be downloaded in PDF form from <a href="http://www.tfl.gov.uk/">http://www.tfl.gov.uk/</a>. Audio, large print and Braille versions of the guide are also available.</li></ul>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "The service, launched at Southwark Station, takes access information to a new level and is initially only available on http://www.directenquiries.com/.&nbsp; It will soon be fully integrated with the Transport for London (TfL) Journey Planner.LU's";}
        
        


 