


@{ViewBag.Title = "Mayor announces acceleration of Tube Investment Programme";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>Mayor announces acceleration of Tube Investment Programme</h1>
        <div class="content-page-press-release">
        24 April 2007
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        Mayor of London Ken Livingstone announced today that works to improve the Tube will this year step up a gear.
        
    </div>



 <div class="on-this-page">
<p>
<p>The&nbsp;investment&nbsp;will include major upgrades to the Victoria, Northern, Central, District and Circle lines to increase capacity, improve reliability and modernise stations.</p>
<p>The Metropolitan line will have new trains&nbsp;from&nbsp;2009.</p>
<p>By 2012, renewal work will be completed on almost every station on the Tube network.<br>&nbsp;&nbsp;<br>Mayor of London Ken Livingstone said: "The Tube has been starved of investment for many decades, and it is vital that we move ahead with the next phase of improvement work to ensure we have an Underground system that can keep London moving and secure the Capital's future prosperity and growth.<br>&nbsp;<br>"These are major works and, unfortunately, there is no easy way of completing them without causing inconvenience to people's journeys.&nbsp; </p>
<p>"I hope that passengers will accept some disruption to services at weekends and evenings is necessary to achieve a better and more reliable Tube for years to come."<br>&nbsp;<br>Tube passengers are already seeing the benefits of increased capacity, more reliable trains and renewed stations across the network.&nbsp;</p>
<p>To date, improvements delivered include:</p>
<ul>
<li>All Jubilee line trains have an extra seventh carriage </li>
<li>Wembley Park station, serving the new national stadium, was modernised with capacity increased a year ago, delivered on time and on budget </li>
<li>The new Western Ticket Hall is open at King's Cross St Pancras, with construction underway on the station's new Northern Ticket Hall </li>
<li>The&nbsp;Waterloo &amp; City line upgrade is almost complete - substantial improvements have already been delivered </li>
<li>Overall, 52 out of a total of 252 London Underground-owned stations have already been renewed, with more CCTV, improved accessibility and heritage features restored.&nbsp;Regent's Park station will reopen in June 2007, following a 12-month closure for modernisation and lift replacement works</li></ul>
<p>London Underground Managing Director Tim O'Toole said: "London Underground is at the heart of London's transport system and has a great heritage.&nbsp;</p>
<p>"We're investing billions to transform the Tube, to increase capacity, improve reliability and restore stations to their former glory.</p>
<p>"This year, the pace of work will step up again.</p>
<p>"We take great care to avoid line closures clashing with major events, such as the London Marathon, Notting Hill Carnival and major concerts and sports events.</p>
<p>"But in order for Tube Lines and Metronet to renew the Tube, on time and on budget, we will need to close sections of lines virtually every weekend.<br>&nbsp;<br>"So once again, I urge passengers to 'check before you travel' on the Tube at weekends."<br>&nbsp;<br>Passengers can check before travelling via the following options:</p>
<ul>
<li>The TfL website at <a href="http://www.tfl.gov.uk/tubeworks">www.tfl.gov.uk/tubeworks</a> </li>
<li>The London Travel Information 24-hour telephone helpline 020 7222 1234 </li>
<li>BBC Ceefax, page 436, or ITV's Teletext, page 164 </li>
<li>Information on posters, leaflets and "Good Service" boards at Tube stations</li></ul>
<p>During 2007/08, major Tube improvement works will include:</p>
<ul>
<li>Victoria&nbsp;line:&nbsp; Over 18 extensive weekend closures for line upgrade work, including two weekends of full-line closures and four partial weekend closures. Additionally, the Victoria line will close at 23:00 every night from Monday to Thursday, between 23 July and 22 November 2007, to assist Metronet with delivery of this major line upgrade.&nbsp;Early closure of the Victoria line will be suspended if it coincides with a Premiership football match at White Hart Lane or Emirates, and if there is a major event at Finsbury Park </li>
<li>Northern line:&nbsp; A further 15 weekend closures for essential track and station works, as part of the Northern line upgrade </li>
<li>Central line: Continuation of works west of Marble Arch plus 11 Liverpool Street to Leytonstone closures to facilitate Olympics works at Stratford plus 12 weekend closures of Chancery Lane station for modernisation works </li>
<li>District and Circle lines:&nbsp; A further eight weekend closures from Earl's Court to Whitechapel for track replacement works with the Circle line suspended as a consequence</li></ul>
<p>Alternative travel arrangements for the Victoria line early closures will include ticket acceptance on most local bus routes and two special bus services:</p>
<ul>
<li>From Brixton to Victoria (where passengers will be able to use the Circle and District lines): starting at 23:00 to close of traffic </li>
<li>From Walthamstow Central to Finsbury Park (where passengers can catch the Piccadilly line): starting at 23:00 to close of traffic<br>&nbsp;</li></ul>
<p>Around 50 stations will also see improvement works over the coming year, including Baker Street, Covent Garden, King's Cross St Pancras, Liverpool Street, Moorgate, Euston, Tottenham Court Road and Whitechapel.&nbsp;</p>
<p>Stations will generally remain open, although some may close early on occasion.<br>&nbsp;<br>Projects other than TfL's Investment Programme can also result in planned weekend closures.</p>
<p>Such projects include Network Rail improvements, Olympics works, the Channel Tunnel Rail Link and the White City development.</p>

<p>
<hr>
<br></p>
            <p>
<p><strong>Notes to editors:</strong></p>
<ul>
<li>Tube Lines is responsible for the maintenance and renewal of the Jubilee, Northern and Piccadilly lines </li>
<li>Metronet Rail BCV is responsible for the maintenance and renewal of the Bakerloo, Central, Victoria and Waterloo &amp; City lines </li>
<li>Metronet Rail SSL is responsible for the maintenance and renewal of the sub-surface lines - the Circle, District, Hammersmith &amp; City, Metropolitan and East London Lines </li>
<li>London Underground will continue to communicate Tube improvement works to the media through weekly "Check before you travel" media bulletin, issued by the TfL Press Office on Monday each week </li>
<li>London Underground now plans its closures programme up to two years in advance.&nbsp;Major events such as the London Marathon, the FA Cup Final and the Notting Hill Carnival are protected from weekend closures that could impact travel to and from these events.&nbsp;But there are now so many events taking place in London throughout the year that it is impossible to avoid disruption on every occasion </li>
<li>The London Underground closures programme is managed to try to avoid a clash between engineering works and football fixtures. However, the football fixture list is not issued until June, with the first match in August with fixtures often moved at short notice at Sky TV direction to meet their schedules.&nbsp;Moving closures has a financial consequence for London Underground as it needs to compensate Tube Lines and Metronet for abortive work, and the impact on their schedule to deliver upgrade works.&nbsp;We have communicated our programme to both the Football Association and Sky TV.&nbsp; However, this could mean that a clash between engineering works and some football fixtures becomes unavoidable in future<br></li></ul>
<p>&nbsp;</p>
<p><strong>TfL Brief - LU Investment Programme works in 2007/08:</strong></p>
<p>TfL is investing &pound;10bn to renew London's transport network, more than half of that in the Tube. </p>
<p>The increased pace of investment work this year will set a momentum to be maintained for many years to come.</p>
<p>The scale of the work that needs to be undertaken should not be underestimated.&nbsp; </p>
<p>There will be three to five sections of lines closed each weekend for the majority of 2007, where previously there only used to be one or two.</p>
<p>During 2007/08, major Tube improvement works will include:</p>
<ul>
<li>Victoria line:&nbsp; Over 18 extensive weekend closures for line upgrade work, including two weekends of full line closures and four partial weekend closures. Additionally, the Victoria line will close at 23:00 hours every night from Monday to Thursday, between 23 July and 22 November 2007, to assist Metronet with delivery of this major line upgrade.&nbsp;Early closure of the Victoria line will be suspended if it coincides with a Premiership football match at White Hart Lane or Emirates, and if there is a major event at Finsbury Park </li>
<li>Northern line:&nbsp; A further 15 weekend closures for essential track and station works, as part of the Northern line upgrade </li>
<li>Central line: Continuation of works west of Marble Arch plus 11 Liverpool Street to Leytonstone closures to facilitate Olympics works at Stratford, plus 12 weekend closures of Chancery Lane station for modernisation works </li>
<li>District and Circle lines:&nbsp; A further eight weekend closures from Earl's Court to Whitechapel for track replacement works with the Circle line suspended as a consequence</li></ul>
<p>Alternative travel arrangements for the Victoria line early closures will include ticket acceptance on most local bus routes and two special bus services:</p>
<ul>
<li>From Brixton to Victoria (where passengers will be able to use the Circle and District lines): starting at 23:00 to close of traffic </li>
<li>From Walthamstow Central to Finsbury Park (where passengers can catch the Piccadilly line): starting at 23:00 to close of traffic</li></ul>
<p>A summary of current planned Tube improvement works in 2007/08 is listed below but is subject to change.&nbsp;</p>
<p>More information on the detail of these works will be issued to media through specific press notices and the weekly "Check before you travel" media bulletin, issued each Monday.<br></p>
<p><strong>Bakerloo line</strong></p>
<p>17 closures planned, with 16 closures affecting the Network Rail-maintained section between Queen's Park and Harrow &amp; Wealdstone.</p>
<p><strong>Central line</strong></p>
<p>Continuation of works west of Marble Arch plus 11 Liverpool Street to Leytonstone closures to facilitate Olympics works at Stratford.</p>
<p><strong>Circle line</strong></p>
<p>Suspended on&nbsp;eight weekends to allow track replacement works between Earl's Court and Whitechapel.</p>
<p><strong>District line</strong></p>
<p>Six Network Rail closures between Turnham Green and Richmond and 8 closures between Earl's Court and Whitechapel and between Acton Town and Earl's Court.</p>
<p><strong>East London line</strong></p>
<p>No works planned but the East London line will close in December 2007 to enable works to extend and upgrade the line prior to re-opening in 2010 as part of the London Overground network.</p>
<p><strong>Hammersmith &amp; City line</strong></p>
<p>Extra trains will run when the Circle line is suspended.</p>
<p><strong>Jubilee line</strong></p>
<p>Eleven&nbsp;weekend closures for 24 hours between Canary Wharf and Stratford and 5 separate partial weekend closures between Green Park and Stratford to facilitate the Jubilee line upgrade. Nine weekend closures between Wembley Park and Stanmore for track replacement works.</p>
<p><strong>Metropolitan line</strong></p>
<p>Twenty-nine&nbsp;closures mostly affecting the Watford, Chesham and Amersham branches. During Christmas week, 25 -29th December inclusive, the Metropolitan line will be suspended between Wembley Park to Northwood Hills / Rayners Lane for track replacement works in the Harrow area.</p>
<p><strong>Northern line</strong></p>
<p>Six closures between Camden Town and Kennington via Bank, 6 closures between East Finchley and Mill Hill East / High Barnet and 6 closures between Camden Town and Kennington via Charing Cross for track replacement works. Station modernisation works will also take place during these track closures.</p>
<p><strong>Piccadilly line</strong></p>
<p>Eleven closures of various branches of the Piccadilly line for track replacement works. There will also be at least one closure between Hatton Cross and Heathrow Terminals 1,2,3 and Terminal 4 to facilitate the commissioning of Terminal 5 station. Covent Garden station will be exit only from 6 June to 26 November 2007, for station congestion relief works.</p>
<p><strong>Victoria line</strong></p>
<p>Over 18 extensive weekend closures for line upgrade work, including two weekends of full line closures and 4 partial weekend closures. Additionally, the Victoria line will close at 23:00&nbsp;every night from Monday to Thursday between 23 July and 22 November 2007 to assist Metronet with delivery of this major line upgrade.</p>
<p><strong>Waterloo &amp; City line</strong></p>
<p>No major improvement works currently planned.</p>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "The&nbsp;investment&nbsp;will include major upgrades to the Victoria, Northern, Central, District and Circle lines to increase capacity, improve reliability and modernise stations.The Metropolitan line will have new trains&nbsp;from&nbsp;2009.By 2012,";}
        
        


 