


@{ViewBag.Title = "Mayor to give away 100,000 free Oyster cards";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>Mayor to give away 100,000 free Oyster cards</h1>
        <div class="content-page-press-release">
        17 April 2007
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        The Mayor of London is launching a major new campaign to encourage all Londoners, particularly those on a low income, to use an Oyster card, which provides the cheapest way of travelling on London's public transport system.
        
    </div>



<div class="pull-quote">
        <div class="quote-body">"Oyster has revolutionised the way people travel in London"</div>
        <div class="quote-footer">
            <div class="quotee-name">Ken Livingstone</div>
            <div class="quotee-job-title">Mayor of London</div>
        </div>
</div>

 <div class="on-this-page">
<div class="pullquote right">
                        <p>
                            Oyster has revolutionised the way people travel in London
                            
                        </p>
                    </div>
                
            
            
            <p>The campaign will include giving away 100,000 Oyster cards on a first come, first served basis to new customers. </p>
<p>Oyster has been a huge success and this promotion is aimed at encouraging those who are not taking advantage of the cheaper, faster and more convenient travel it provides to do so. </p>
<p>As part of the promotion, 100,000 Oyster cards will now be given away through national, local and community press adverts, targeted at London's communities where Oyster take-up is lower.</p>
<p>Fares are always cheaper using Oyster: a single bus fare is &pound;1 and a single Tube fare is &pound;1.50* in Zone 1 - these are the same as 2000 prices. </p>
<p>The free Oyster cards are available on a first come first served basis for all passengers who currently do not already have one.</p>
<p>&nbsp;Those who apply will not have to pay the usual &pound;3 deposit. </p>
<h2>Revolutionising travel</h2>
<p>With more than&nbsp;ten million Oyster cards issued, over three-quarters of all Tube and bus journeys are now made using Oyster. </p>
<p>The latest figures show that the number of single journeys now paid for by cash is extremely low, at just 4 per cent&nbsp;on London Underground and 3 per&nbsp;cent&nbsp;on buses.<br>&nbsp;<br>The Mayor of London, Ken Livingstone, said: 'Oyster has revolutionised the way people travel in London. </p>
<p>'Fares are cheaper using Oyster and it has speeded up the network by reducing queues. </p>
<h2>Oyster benefits</h2>
<p>'With more than ten million Oyster cards issued, the vast majority of people across London are already enjoying its benefits.</p>
<p>'This campaign is encouraging Oyster uptake amongst passengers who are still paying cash and therefore paying more. </p>
<p>You can buy an Oyster card over the counter at any London Underground ticket office without filling out any forms or providing any personal information.'</p>
<p>&nbsp;</p>
            <p>
<p><strong>Notes to editors</strong><br></p>
<ul>
<li>The campaign starts on Monday 16 April across a range of publications</li>
<li>More than ten million Oyster cards have now been issued and 38 million journeys a week are made each week using Oyster</li>
<li>Almost three times as many passengers can pass an Underground ticket barrier using Oyster card as can using printed tickets - 40-a-minute compared to 15-a-minute</li>
<li>Oyster is available to buy, or be topped up, at all 275 Tube stations, and there are also more than 2,200 Oyster Ticket Stop agents across the Capital. Eighty-five percent of all Londoners live within 400 metres of an Oyster Ticket Stop</li>
<li>Oyster is also available online at: <a href="http://www.tfl.gov.uk/oyster">www.tfl.gov.uk/oyster</a>, over the phone via 0845 330 9876* or at Travel Information Centres across London. You can find your nearest Oyster outlet through the TfL website. *Calls from BT landlines cost 3.5p per minute.&nbsp;Calls from mobiles and other networks may vary</li>
<li>Passengers can also register the card so that the money is protected if the card is lost or stolen. Less ticket touts mean more secure stations</li>
<li>With Oyster pay as you go you can place an amount on your Oyster card so when you touch in and out at the yellow readers on the Tube and DLR or touch in on the tram or bus, the reader automatically deducts the correct fare</li>
<li>Passengers can store up to three different Travelcards or Bus Pass season tickets and 'pay as you go' on the same Oyster card at the same time. Oyster cards are also used to provide free travel for Londoners aged over 60 or with an eligible disability through the Freedom Pass scheme and, on the buses and trams.&nbsp; Under-18s in full-time education can also get Oyster photocards for free travel</li>
<li>When passengers use the Oyster card to touch in and out on the yellow readers on the bus, Tube, DLR and tram, the system automatically works out the right fare for the journey within a fifth of a second, working through up to 1.83 million possible options<br></li></ul>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "The campaign will include giving away 100,000 Oyster cards on a first come, first served basis to new customers. Oyster has been a huge success and this promotion is aimed at encouraging those who are not taking advantage of the cheaper, faster and more";}
        
        


 