


@{ViewBag.Title = "Mayor cracks down on fare evasion and anti-social behaviour";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>Mayor cracks down on fare evasion and anti-social behaviour</h1>
        <div class="content-page-press-release">
        20 April 2007
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">



 <div class="on-this-page">
<p>
<p><strong>Joint Transport for London, Police and Silverlink operation at Kensal Green </strong></p>
<p>A high-visibility operation to tackle fare evasion and anti-social behaviour on the transport network took place at Kensal Green station on 19 April 2007.</p>
<p>It resulted in 254 people being found travelling without a valid ticket,&nbsp;six arrests were made in total,&nbsp;three for fare evasion and&nbsp;three for unrelated offences. </p>
<p>The initiative, named Operation Concord, involved revenue protection officers from London Buses, London Underground and Silverlink.</p>
<p>They were supported by officers from the British Transport Police, the Metropolitan Police including the Transport for London-funded Transport Operational Command Unit which has responsibility for tackling crime and disorder on and around the bus network.</p>
<p>The operation took place from 4pm to 8pm and 66 buses and 2,636 passengers were checked.</p>
<p>In all, 126 penalty fares and 128 notices of potential prosecution were issued by revenue protection staff from London Buses and London Underground. </p>
<p>Officers from the British Transport Police also used a portable knife scanner as part of the Operation Shield anti-knife initiative. </p>
<p>Ken Livingstone, Mayor of London, said: 'This operation shows our commitment to crack down on criminals and fare dodgers on the transport system.</p>
<p>'We will continue to work with the police to make public transport a safe and enjoyable option for all passengers.'</p>
<p>Jeff Tucker, Transport for London's head of Bus Enforcement said: 'Transport for London is cracking down on fare evaders, and operations like this show the public that this is an issue we take extremely seriously</p>
<p>'While the vast majority of passengers pay the correct fare for their journey, there is a small minority intent on defrauding the system, and as we can see from this successful, jointly-led operation, the people dodging their fares are often the same people causing trouble for passengers and staff.'</p>
<p>Chief Superintendent Michael Humphrey, Transport Operational Command Unit said: 'There is a connection between fare cheats and crime and disorder in general.</p>
<p>'We are pleased to be working with Transport for London colleagues on this operation to make public transport and London safer.'</p>
<p>Willie McCafferty, British Transport Police London North Area Commander said: 'Joint operations with revenue protection staff are of immense value to British Transport Police.</p>
<p>'Those committing crime and indulging in anti-social behaviour are often travelling without tickets and we can use these operations to disrupt their activity, gain valuable intelligence.</p>
<p>'And reassure law abiding passengers that the system is safe and secure.'</p>
<p>Silverlink Retail Manager Malcolm Holmes, an enthusiastic supporter of Operation Concord said:&nbsp;&nbsp;'All our honest customers will welcome this joint initiative as it demonstrates our determination to stamp out fraudulent travel, and anti-social behaviour.&nbsp;</p>
<p>'We regularly run our own sessions, in partnership with the British Transport Police, to tackle ticket cheats under the name 'Operation Shield'.</p>
<p>'Working together with Transport for London, however, is an even more effective method of getting the message across that there is nowhere on London's transport system that is a 'free ride'.</p>
<p>'Apart from the fact that research has shown that much anti-social behaviour is carried out by people travelling without tickets, it is completely unfair and unacceptable that the majority of honest passengers should have to subsidise the fraudulent minority.&nbsp; By clamping down on ticket cheats we are also helping to enhance security on the network.'<br></p>
<p>Around 22 London's Buses Revenue Protection Inspectors were joined by 19 revenue protection inspectors from London Underground and Silverlink.</p>
<p>They were supported by 14 officers from the Transport for London-funded Transport Operational Command Unit, local Borough police and the British Transport Police. </p>
<p>Fare evasion and anti-social behaviour are not tolerated on the Transport network.</p>
<p>TfL is committed to catching the minority of people who fare evade or act anti-socially. <br></p>
            <p>
<p><strong>Notes to editors:</strong></p>
<ul>
<li>Operation Concord was a joint operation organised by Transport for London, Metropolitan Police Service, the British Transport Police and Silverlink trains </li>
<li>Fare evasion is a crime and is treated as such - anyone found to be deliberately avoiding paying the correct fare for their journey could receive a criminal record and a &pound;1,000 fine </li>
<li>The rules on how to avoid being a fare evader are simple - ensure you have a valid ticket before getting on the bus or going through the station gates. All Oyster cards users should always validate on the yellow reader on entering the bus. On the Tube, always validate at the start and end of your journey </li>
<li>People travelling on London Buses and London Underground without a valid ticket for their journey may be liable to pay a penalty fare of &pound;20 </li>
<li>Transport for London is continuing to increase the number of inspectors patrolling London's buses from around 290 now to 317. In 2006 we checked more than 16 million passengers on London Buses. More than 120,000 (121,287) people were issued with Travel Irregularity Reports which can lead to prosecution, while more than 45,000 were given penalty fares (45,150) </li>
<li>Last year, London Underground issued more than 30,000 penalty fares and a further 18,000 people were prosecuted by London Underground and the British Transport Police for travelling without a valid ticket </li>
<li>Silverlink trains is the local private operator of rail services, appointed by the Department for Transport. The Silverlink Metro rail network will become part of the Transport for London London Overground network from 11 November 2007 </li>
<li>Crime on the bus network is down: Bus related crime allegations are 13 per cent&nbsp;less in January 2007 than January 2006. Bus related crime-allegations have now returned to 2005 levels </li>
<li>The number of anti-social incidents is also extremely low. There is less than one CentreComm call per 35,000 journeys and the number of actual incidents is even less than that </li>
<li>London Underground is a low crime environment and Transport for London is&nbsp;continually reviewing its&nbsp;safety and security system. It is currently installing more CCTV cameras and there will be 12,000 cameras in operation&nbsp;in 2011 up from 8500 now. The number of&nbsp;British Transport Police officers&nbsp;has also been increased, up to 700 from 450 four years ago </li>
<li>Operation Shield is an anti-knife initiative designed to catch and deter people from carrying knives and other weapons on the transport network</li></ul>
<p>&nbsp;</p>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "Joint Transport for London, Police and Silverlink operation at Kensal Green A high-visibility operation to tackle fare evasion and anti-social behaviour on the transport network took place at Kensal Green station on 19 April 2007.It resulted in 254 people";}
        
        


 