


@{ViewBag.Title = "New PCO enforcement vehicle gets to work";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>New PCO enforcement vehicle gets to work</h1>
        <div class="content-page-press-release">
        04 April 2007
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">



 <div class="on-this-page">
<p>
<p>A new Public Carriage Office (PCO) enforcement vehicle, which will be used to check that taxis and private hire vehicles are properly licensed and comply with health and safety requirements, will come into full-time use this week. </p>
<p>The vehicle which is clearly branded and runs on green fuel will be used by the PCO compliance team all over London.&nbsp; </p>
<p>The vehicle has been out on the road, often late at night, since January and the PCO has carried out over 150 vehicle inspections.&nbsp; </p>
<p>The work of the compliance team will mainly be intelligence-led tackling issues such as illegal plying for hire by drivers and over-ranking at taxi ranks. </p>
<h2>Flexibility</h2>
<p>Ed Thompson, Transport for London's Taxi and Private Hire Director, said: "This vehicle gives the PCO the flexibility and mobility to get out and about making sure that licensed drivers and operators are working appropriately, and the licensed vehicles meet the required standards.&nbsp; </p>
<p>"Our officers will also be carrying out joint operations with other agencies such as the Vehicle and Operator Service Agency and the Metropolitan Police including the Transport Operational Command Unit."<br></p>
<hr>
            <p><strong>Notes to editors </strong></p>
<ul>
<li>Since 2001 private hire (including minicab) operators have had to hold a licence from the PCO, and&nbsp; since&nbsp; the 1st June 2003 it has been an offence to drive a minicab without a private hire driving licence or a temporary permit issued by the PCO </li>
<li>PCO officers carry out licence compliance duties with taxi and private hire drivers, taxi and private hire vehicles and private hire operators </li>
<li>If a vehicle is found to be 'unfit for service' the owner is advised of the defects and then has to present it to a nominated site for re-inspection. Penalties for driving offences vary and range from being advised at the time to being reported to the Licensing Authority which can result in their licence being reviewed </li>
<li>The enforcement vehicle meets Euro IV standards, and is dual fuel, running on LPG and petrol and is branded TfL/PCO </li>
<li>The Public Carriage Office is responsible for licensing London's taxi and private hire services, and is one of the Surface Transport directorates </li>
<li>All licensed taxis must display a unique licence number both inside and outside of the vehicle.&nbsp; The plate on the rear of the taxi shows the date up to which the vehicle is licensed </li>
<li>Both taxi and private hire drivers in London have to satisfy character and medical checks before becoming licensed </li>
<li>Private hire vehicles in London should only be booked through one of the 2,300 licensed private hire operators. Only licensed black cabs may be hailed on the street or pick up at taxi ranks </li>
<li>There are currently over 20,000 licensed cabs (black cabs) and over 24,000 licensed taxi drivers (black cab drivers). In addition there are also over 2,000 licensed private hire operators (mini cab / chauffeur companies) operating over 42,000 licensed private hire vehicles<br></li></ul>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "A new Public Carriage Office (PCO) enforcement vehicle, which will be used to check that taxis and private hire vehicles are properly licensed and comply with health and safety requirements, will come into full-time use this week. The vehicle which is";}
        
        


 