


@{ViewBag.Title = "New taxi fares come into effect on Saturday 14 April";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>New taxi fares come into effect on Saturday 14 April</h1>
        <div class="content-page-press-release">
        11 April 2007
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">



 <div class="on-this-page">
<p>
<p>This year's annual taxi fare revision has been held down below the rate of inflation.&nbsp; </p>
<p>The increase of just 3.1 per cent, which comes into effect on Saturday 14 April, will help drivers cover increased costs and maintain their earnings.</p>
<p>The Transport for London Board approved the new taxi fares on 7 February, following consultation by the Public Carriage Office (PCO) with the taxi trade and others, including London Travelwatch.</p>
<p>The Board also approved regulations that make it compulsory for a taxi driver to issue a receipt if the passenger requests one.</p>
<p>Average fares (inc. 20p environmental charge)&nbsp;&nbsp;<br>&nbsp; 
<div class="table-container"><table cellspacing="1" cellpadding="1" width="75%" border="1">
<tbody>
<tr>
<td>&nbsp;</td>
<td>&nbsp;Current average (&pound;)</td>
<td>&nbsp;New average (&pound;)&nbsp;</td>
<td>&nbsp;&nbsp;Increase (&pound;)</td>
<td>&nbsp;&nbsp;Increase (%)&nbsp;</td></tr>
<tr>
<td align="center">&nbsp;Tariff 1*</td>
<td>&nbsp;&nbsp;9.29</td>
<td>&nbsp;9.59</td>
<td>&nbsp;0.29&nbsp;</td>
<td>&nbsp;3.1</td></tr>
<tr>
<td align="center">&nbsp;Tariff 2 </td>
<td>&nbsp;10.75</td>
<td>&nbsp;11.08</td>
<td>&nbsp;0.33</td>
<td>&nbsp;3.1&nbsp;&nbsp;</td></tr>
<tr>
<td align="center">&nbsp;Tariff 3</td>
<td>&nbsp;12.57</td>
<td>&nbsp;12.97</td>
<td>&nbsp;0.40</td>
<td>&nbsp;3.2</td></tr>
<tr>
<td align="center">&nbsp;All week</td>
<td>&nbsp;10.25</td>
<td>&nbsp;10.57 </td>
<td>&nbsp;0.32 </td>
<td>&nbsp;3.1</td></tr></tbody></table></div><br>&nbsp;&nbsp;&nbsp;&nbsp;</p>
<p>&nbsp;</p>
            <p>
<p><strong>Notes to editors</strong></p>
<ul>
<li>*Taxi fares are worked out according to one of three tariffs.&nbsp; These are as follows: <br>o&nbsp;Tariff 1 - Monday to Friday, between 6am and 8pm<br>o&nbsp;Tariff 2 - Monday to Friday, between 8pm and 10pm, and weekends between 6am and 10pm<br>o&nbsp;Tariff 3 -nightly between 10pm and 6am and on public holidays</li>
<li>Taxi fares in the evenings and late at night were increased in 2001 to encourage more drivers to work at these times, improving the safe travel options available to support London's late-night economy</li>
<li>The Retail Price Inflation level is 4.2 per cent</li>
<li>The 3.1 per cent increase is in line with the increase in the cost index in use since 1981.&nbsp;The index, agreed with the taxi trade, combines changes in operating costs with national earnings to produce a change in average fares</li>
<li>There is an environmental charge of 20p per journey, introduced by the Mayor in December 2004.&nbsp;This supplement was introduced to meet the cost of converting taxis to reach new environmental standards as part of the Mayor's commitment to make London a low emission zone. The environmental charge will be reviewed during 2007.&nbsp;The 3.1 per cent increase excludes the 20p environmental supplement</li>
<li>The Public Carriage Office, as part of Transport for London, is responsible for licensing and regulating London's taxi and private hire services.</li></ul>
<p>&nbsp;</p>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "This year's annual taxi fare revision has been held down below the rate of inflation.&nbsp; The increase of just 3.1 per cent, which comes into effect on Saturday 14 April, will help drivers cover increased costs and maintain their earnings.The Transport";}
        
        


 