


@{ViewBag.Title = "Passengers and residents to benefit from more buses to Green Man on Putney Hill";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>Passengers and residents to benefit from more buses to Green Man on Putney Hill</h1>
        <div class="content-page-press-release">
        23 April 2007
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">



 <div class="on-this-page">
<p>
<p>London Buses is pleased to announce the extension of route 37 to the Green Man on Putney Hill.</p>
<p>Route 37 will be extended from Upper Richmond Road, Putney, so it runs up Putney Hill to the Green Man seven days a week, where interchange with other services will be easier. <br>&nbsp;<br>The extension began on Saturday, 21 April 2007.</p>
<p>There will now be a bus every 10 minutes during the day Monday to Saturday ,and every 15 minutes in the evenings and Sundays.</p>
<p>There will also be a half-hourly night service on all nights of the week.<br>&nbsp;<br>The change has been made possible after&nbsp;three years of collaboration between the Council and London Buses to extend the Green Man bus terminus to create more space for buses and to improve the facilities for bus drivers.</p>
<p>These improvements will allow the old terminus for the 37 in St John's Avenue Putney to be closed.<br>&nbsp;<br>Andrew Thompson, Performance Manager for London Buses, said: 'The 37 bus route extension will provide frequent daily service between Putney Heath and Peckham. <br>&nbsp;<br>'This is great news as passengers will benefit from the increase in bus frequencies on Putney Hill and the new direct links to other areas in South London.'<br>&nbsp;<br>Cllr Jane Cooper, Chairman of Wandsworth Council's Transport Liaison Committee said:&nbsp; 'The council has worked closely with Transport for London on these changes.&nbsp;&nbsp; </p>
<p>'We are pleased that we have found a new home for the 37 bus.&nbsp;<br>&nbsp;<br>'By creating extra space at the&nbsp;Green Man&nbsp;we have been able to take the 37 route up&nbsp;Putney Hill to a properly constructed bus stand with local facilities, including a new toilet.'<br>&nbsp;<br>Site work will be completed when new kiosks for local traders are delivered shortly, and the old kiosks removed.&nbsp; <br>&nbsp;<br>
<hr>

<p>
<p>Notes to Editors:<br>&nbsp;<br></p>
<ul>
<li>Route 37 is provided by Transport for London as part of the London Buses network and all standard tickets and passes will be valid </li>
<li>For further information on the bus service please, contact the Transport for London Press Office on 0845 604 4141<br>&nbsp;<br></li></ul>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "London Buses is pleased to announce the extension of route 37 to the Green Man on Putney Hill.Route 37 will be extended from Upper Richmond Road, Putney, so it runs up Putney Hill to the Green Man seven days a week, where interchange with other services";}
        
        


 