


@{ViewBag.Title = "TfL keeps London running on Marathon day ";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>TfL keeps London running on Marathon day </h1>
        <div class="content-page-press-release">
        17 April 2007
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        Transport for London (TfL) will help runners and spectators to get a head start for the Flora London Marathon on Sunday 22 April.
        
    </div>



 <div class="on-this-page">
<p>
<p>TfL is providing free travel for all runners and officials on the Tube and Docklands Light Railway (DLR)&nbsp;until 5pm (by showing official Marathon tabard or race number) and to clear the way for participants, buses will be diverted and some roads closed. </p>
<p>Diversions and roads closures will be for as short a time as possible to minimise inconvenience to users. </p>
<p>TfL has produced an easy-to-use leaflet to help spectators follow the race, find the stations near the best viewpoints and avoid the busy crowds. </p>
<p>These leaflets are available at all London Underground stations and can be downloaded from the TfL website at: <a href="http://www.tfl.gov.uk/">http://www.tfl.gov.uk/</a>&nbsp; </p>
<p><strong>London Buses </strong><br>Start times vary by route but across South-East London diversions will start to take effect from 6.30am on the following bus routes:</p>
<p>Routes: 1, 51, 54, 89, 96, 99, 122, 161, 177, 178, 180, 199, 202, 225, 286, 291, 343, 380, 381, 422, 469, 472, C10 and P12.<br><br>These are expected to finish by 1pm. However, most diversions should be finished by 11am. </p>
<p>In Central London and the Isle of Dogs, diversions will take effect from 7am on the following routes: </p>
<p>Routes: 3, 11, 12, 24, 29, 42, 47, 51, 53, 78, 87, 88, 91, 100, 108, 115, 148, 159, 188, 211, 277, 344, 453, D6, D8 and RV1. </p>
<p>The Route 15 and 15 Heritage will not serve the Tower of London in either direction between 8am and 5pm. </p>
<p>Routes 129, 386, D3 and D7 will not operate between 8am and 5pm. Passengers wishing to travel on these buses should find an alternative route. </p>
<p><strong>Docklands&nbsp;Light Railway</strong><br>A modified timetable will operate throughout the weekend. From 2.30pm a normal Sunday service will operate until closedown at around 11.30pm.</p>
<p>7am to 10am: <br>Bank-Lewisham, every 5 minutes, except before 8am when trains operate every 10 minutes. <br>Tower Gateway-Lewisham, every 10 minutes <br>Stratford-West India Quay, every 8 minutes <br>Beckton-Poplar, every 8 minutes <br>King George V-Canning Town, every 8 minutes </p>
<p>10am to 2.30pm: <br>Bank-Lewisham, every 5 minutes <br>Tower Gateway-Lewisham, every 5 minutes <br>Stratford-West India Quay, every 8 minutes <br>Beckton-Poplar, every 8 minutes <br>King George V-Canning Town, every 8 minutes. </p>
<p>This provides a two and a half minutes frequency service on the busiest Greenwich to Shadwell marathon section. </p>
<p>Nearest stations for spectators: </p>
<p>Spectators can choose from eight DLR stations to get an ideal vantage point near to the marathon route: Tower Gateway, Limehouse, Westferry, Canary Wharf, Heron Quays, South Quay, Crossharbour and Greenwich.</p>
<p>Due to restoration work on the Cutty Sark ship, access to this area will be severely limited this year, and Cutty Sark station may have to be closed from time to time to moderate crowd numbers. Greenwich Foot Tunnel will be closed southbound from Isle of Dogs to Greenwich from 10am until 12 midday.</p>
<p><strong>Road Closures</strong> <br>The route and approach roads in Greenwich and Woolwich area will close from 7am, as well as Thames Street, Victoria Embankment and Westminster Bridge from 7am, and Southwark, Tower Bridge, Isle of Dogs and Shadwell from 8am.</p>
<p>There is a staged road-reopening programme starting from approximately 11am and it is scheduled that the route will be fully re-opened by 7pm.</p>
<p><strong>London Underground</strong> </p>
<p>Four Jubilee line stations are very close to the route for spectators: Canada Water, Canary Wharf, London Bridge (no Northern line service available from this station) and Bermondsey.</p>
<p>There is also track improvement work planned on the Underground during Marathon weekend, which may affect your journey. </p>
<p>On the Central line, St Paul's station is closed for modernisation work all weekend. Customers are advised to travel to Mansion House or Bank. </p>
<p>The Metropolitan Line is partly suspended between Harrow-On-the-Hill and Amersham/Chesham/Watford. See <a href="http://www.tfl.gov.uk/">http://www.tfl.gov.uk/</a> for rail replacement services.</p>
<p>The Northern line is partly suspended between Camden Town and Kennington via Bank.</p>
<p>Valid London Underground tickets will be accepted on local bus services. </p>
<p>Those trying to get to London Bridge and Bank stations can also use alternative routes, such as the Jubilee or the District/Circle and Central lines respectively.</p>
<p>Belsize Park station will be closed all weekend. Customers are advised to travel to Hampstead or Chalk Farm stations. </p>
<p>The Piccadilly line is partly suspended between Wood Green and Cockfosters. A rail replacement bus service will call at all affected stations.</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
            <p>
<p><strong>Notes to editors</strong></p>
<ul>
<li>For 24-hour information on public transport in London, please call 020 7222 1234</li>
<li>TfL's realtime pages, that display live travel information on London's public transport network: <a href="http://www.tfl.gov.uk/realtime">www.tfl.gov.uk/realtime</a></li>
<li>To plan your journey on the web: <a href="http://www.tfl.gov.uk/journeyplanner">www.tfl.gov.uk/journeyplanner</a> </li>
<li>Travel alerts via SMS and email can be set up at: <a href="http://www.tfl.gov.uk/alerts">www.tfl.gov.uk/alerts</a> </li></ul>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "TfL is providing free travel for all runners and officials on the Tube and Docklands Light Railway (DLR)&nbsp;until 5pm (by showing official Marathon tabard or race number) and to clear the way for participants, buses will be diverted and some roads";}
        
        


 