


@{ViewBag.Title = "Transport for London races through the facts and figures on the London Marathon route 2007";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>Transport for London races through the facts and figures on the London Marathon route 2007</h1>
        <div class="content-page-press-release">
        20 April 2007
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        This Sunday, a stretch of London over 26 miles long will be closed off to allow competitors to take part in the London Marathon.
        
    </div>



 <div class="on-this-page">
<p>
</p>
<p>Along this route is evidence of the continued investment in public transport - including on Docklands Light Rail, which will be offering free transport to competitors and officials.</p>
<p><strong>Start</strong><br /><strong>Blue start - The wheelchair race</strong><br />London has the biggest wheelchair-accessible bus network in the world, serving the entire Greater London area (1579 sq km) and also running to key towns over the boundary into neighbouring counties.  8,000 buses on 700 routes are accessible and disabled passengers travel for free using a Freedom Pass.</p>
<p><strong>Mile 3 - Dockland Light Rail, Woolwich</strong><br />In 2009, Woolwich residents will get a new cross river transport option with a brand new Docklands Light Railway Woolwich 2.5km extension.</p>
<p>This is one of the most ambitious tunnelling operations in the UK, if not Europe and is being carried out by the same contractor that dug the Channel tunnel.  </p>
<p>In fact, the tunnels that will carry the railway are being bored under the Thames now. </p>
<p>The operation is like something out of a Jules Verne story.</p>
<p>Carla is the name of the huge tunnel boring machine which has a top speed of three miles per hour. </p>
<p>She is as tall as a two-story house and weighs 540 tonnes.</p>
<p>She has a crew of ten who work in 12-hour shifts.</p>
<p>She even has a canteen and toilets on board. </p>
<p>She will remove enough soil to fill 40 Olympic size swimming pools!</p>
<p>The DLR is opening up more and more parts of south east London. </p>
<p>In the last year, it carried 60 million people and is forecast to carry 80 million in another two years time - not bad for a 20-year-old railway that originally opened with only 11 carriages and served 15 stations.</p>
<p>When the new extension opens, the DLR will provide three cross river links to central London.</p>
<p><strong>18.5 miles - Canary Wharf </strong><br />If you turned the Canary Wharf tower on its side you could fit it into the Canary Wharf Tube station and still have space to spare.</p>
<p>The station is 265 metres long and the tower is 235.1 metres long!</p>
<p><strong>20 miles - Tower Bridge</strong><br />Transport for London has teamed up with the Metropolitan Police Service and the City of London to preserve one of London's most famous landmarks.</p>
<p>The 113-year-old Tower Bridge is one of only 19 World Heritage sites in the UK.  </p>
<p>Its structure was not designed for some of the freight traffic which travels around London's road network today.</p>
<p>Drivers of heavy goods vehicles over 18 tonnes have been redirected away from the bridge towards suitable river crossings.</p>
<p>Vehicles are weighed as they approach the bridge using state-of-the-art technology - smart CCTV cameras can then recognise vehicles over the maximum weight so that damage can be prevented in the future.</p>
<p><strong>23 miles - London Bridge</strong><br />TfL is driving forward the green agenda with the world's first ever hybrid double-decker bus to go into service on the 141 route in March 2007 - the route crosses London Bridge which is visible from the marathon route. </p>
<p><strong>24.5 miles - Waterloo Bridge </strong><br />Transport for London is proposing a new tram service that will cross the Thames using Waterloo Bridge.  </p>
<p>Cross River Tram (CRT) will run between Euston and Waterloo, with branches to Camden Town and King's Cross in the north and Brixton and Peckham in the south. </p>
<p>The tram could be in operation by 2016.</p>
<p>Carrying approximately 66 million passengers a year, the trams will arrive every two minutes at central stops (Euston to Waterloo) and every four minutes at outer stops (Camden, King's Cross, Peckham and Brixton). CRT will be a hop-on hop-off service and will be part of the Oyster card system, with journeys costing the same as a bus ride.</p>
<p><strong>Mile 26.2 - The Mall </strong><br />The Tour de France 2007 kicks off at the Mall this year - the Marathon's finishing point.</p>
<p>Stage One of the Tour de France will follow part of the London Marathon route as it makes its way out of London.</p>
<p>The Tour de France, the largest annual sporting event in the world, is coming to the Capital for the first time on the weekend of  7 and 8 July.  Around two million people are expected to come and watch the free to view event.</p>
<p>Saturday 7 July will see the Prologue time trial around an 8km route passing some of London's most historic sites.</p>
<p>Stage One on Sunday 8 July will start in central London and will head out of the Capital along the London Marathon route before an exciting finish in Canterbury.</p>
<p>
</p>
<hr />
<br /><strong>Facts and figures about transport</strong>
<p>
</p>
<ul>
    <li>Marathon runners will be running even further than the longest bus route in London - the X26 from Croydon to Heathrow - which is 23.75 miles (38km) long </li>
    <li>You would need 11 million runners doing the London Marathon to match the distance all London buses covered last year </li>
    <li>Participants will be running past the iconic underground logo.  The "roundel" - a red circle crossed by a horizontal blue bar - was designed by calligrapher Edward Johnston and first appeared in 1913 </li>
    <li>The Underground, bus and DLR carry nearly 10 million passengers per day, over six million of those journeys are made on the bus, over three million on the Tube and around 200,000 on the DLR </li>
    <li>Last year London Underground (LU) carried one billion passengers for the first time in its 144-year history </li>
    <li>TfL is investing &pound;10bn over five years to improve and expand London's transport infrastructure, over half of that on the Tube. </li>
    <li>Oyster is a secure contactless smartcard that uses the latest technology to allow passengers to conveniently pay for travel across on Tube, buses, Docklands Light Railway, Croydon Tramlink and some national rail services across London. Pay-as-you-go fares are always lower than cash (eg a single fare in Zone 1 on Tube or DLR is &pound;4 using cash, but only &pound;1.50 with Oyster pay as you go). More than 10 million Oyster cards have now been issued and 38 million journeys a week are made each week using Oyster. When passengers use the Oyster card to touch in and out on the yellow readers on the bus, Tube, DLR and tram the system automatically works out the right fare for the journey within in a fifth of a second from up to 1.83 million permutations </li>
    <li>There are now more than one hundred night bus routes to choose from to get any stragglers home after the big race. One in seven bus routes now operate throughout the night, helping to get Londoners home safely<br /></li>
</ul>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "Along this route is evidence of the continued investment in public transport - including on Docklands Light Rail, which will be offering free transport to competitors and officials.StartBlue start - The wheelchair raceLondon has the biggest";}
        
        


 