


@{ViewBag.Title = "Transport for London secures Battersea Power Station as central coach park during the Tour de France";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>Transport for London secures Battersea Power Station as central coach park during the Tour de France</h1>
        <div class="content-page-press-release">
        20 April 2007
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        Transport for London (TfL), working in partnership with the Confederation of Passenger Transport, has secured Battersea Power Station as a central parking area for coaches bringing visitors and spectators to the Grand D&eacute;part of the Tour de France.
        
    </div>



<div class="pull-quote">
        <div class="quote-body">"We want to give coach travellers every opportunity to enjoy what will be a world-class, free to view event"</div>
        <div class="quote-footer">
            <div class="quotee-name">Darek Podwiazka</div>
            <div class="quotee-job-title">Coach Manager at TfL</div>
        </div>
</div>

 <div class="on-this-page">
<div class="pullquote right">
<p>
We want to give coach travellers every opportunity to enjoy what will be a world-class, free to view event
</p>
</div>
<p>
</p>
<p>The Tour visits London for the first time from 6 to 8 July 2007.</p>
<p>Battersea Power Station is owned by Real Estate Opportunities and managed by Treasury Holdings.</p>
<p>Darek Podwiazka, Coach Manager at TfL, said: "Together with the Confederation of Passenger Transport, we are pleased to have secured Battersea Power Station as a coach park for the Tour de France Grand D&eacute;part in July. </p>
<p>"The coach park will allow up to 150 coaches to park in a secure area once they have set down their passengers at central points in the Capital. </p>
<p>"The Grand D&eacute;part of the Tour de France will be the biggest sporting event to be held in the Capital ahead of the Olympic and Paralympic Games in 2012, and we want to give coach travellers every opportunity to enjoy what will be a world-class, free to view event."</p>
<p>Battersea Power Station will be used exclusively for coach parking on Saturday 7 and Sunday 8 July. </p>
<p>The site will be marshalled, providing secure parking with catering and toilet facilities for drivers throughout each day. </p>
<p>There will be no overnight parking.</p>
<p>There will also be dedicated areas for coaches to set down and pick up passengers close to the event; the location of these are to be confirmed. </p>
<p>Rob Davies, Development Director for Treasury Holdings, Real Estate Opportunities' development manager, said: "The Tour de France will attract many further tourists to London, and we are delighted that the Power Station can play its part in ensuring that the facilities are in place to support their visits."</p>
<p>Those wishing to bring coaches to the event and gain entry to Battersea Power Station will need to register for a separate permit for each day.</p>
<p>These are available free of charge from TfL.</p>
<p>The permit will also allow drivers to set down and pick up passengers at dedicated locations near key viewing points along the route. </p>
<p>
</p>
<hr />
<br /><strong>Notes to editors:
<p>
</p>
<ul>
    <li></li>
</ul>
</strong>Coach operators wishing to obtain a permit should email <a href="mailto:coaches&#64;tfl.gov.uk">coaches&#64;tfl.gov.uk</a> providing full contact details, including operator name, postal address, phone, fax number and email. Emails must clearly state whether the request is for a permit for Saturday or Sunday. Separate requests must be submitted for each day. As permits will be issued to individual vehicles, the registration number must be written on the permit on the day of travel. Those who do not have access to email can fax their requests to 020 7027 9796
<li>Detailed information, including location maps, will be sent out with the permit a fortnight before the event </li>
<li>For further information, operators can contact the coach team via email at <a href="mailto:coaches&#64;tfl.gov.uk">coaches&#64;tfl.gov.uk</a> </li>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "The Tour visits London for the first time from 6 to 8 July 2007.Battersea Power Station is owned by Real Estate Opportunities and managed by Treasury Holdings.Darek Podwiazka, Coach Manager at TfL, said: 'Together with the Confederation of Passenger";}
        
        


 