


@{ViewBag.Title = "Why not walk it? TfL launches first ever campaign to boost walking";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>Why not walk it? TfL launches first ever campaign to boost walking</h1>
        <div class="content-page-press-release">
        23 April 2007
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">



 <div class="on-this-page">
<span class="right">
</span>
<p>Transport for London (TfL) is asking people to think about walking rather than taking the car on short journeys, as it launches its first ever walking campaign.</p>
<p>The light-hearted posters and radio ads ask the question 'Why not walk it?', focusing on the school run and the commute to work.</p>
<p>Research shows that half of all car journeys in outer London are less than two kilometres - a distance that can be easily walked by most people in 25 minutes.</p>
<p>London's children could also benefit from walking to school, which would improve health, help ease congestion and cut pollution.<br />
<br />
The Mayor of London is committed to making London one of the most pedestrian-friendly cities in the world. </p>
<p>The Mayor and TfL are investing a record &pound;126 million over the next three years to further improve conditions for people on foot.</p>
<p>Londoners will see new pedestrian crossings, lowered curbs and improved signage making a real difference to local communities across the capital.</p>
<p>Encouraging more sustainable forms of travelling is also part of the Mayor's Climate Change Action Plan for London. <br />
<br />
Ken Livingstone, Mayor of London, said: 'London is a great city for walking and we are investing to make it even easier and safer.</p>
<p>'This Transport for London campaign encourages people to think twice before using the car for short journeys.</p>
<p>'Walking offers a great way to travel as it is good for your health and helps reduce carbon emissions as we all try to prevent catastrophic climate change.'<br />
<br />
Jenny Jones, the Mayor's green transport advisor, said: 'Walking is the cleanest, greenest, healthiest, and most enjoyable way to get around our city.</p>
<p>'And walking isn't just good for those doing it.</p>
<p>'Every pedestrian is one less person going for that final seat on the bus or tube, one less car choking our congested roads.</p>
<p>'Without Londoners' 5.7 million daily foot journeys, London would not move at all.</p>
<p>The more that we can do to encourage the best mode of transport there is, the better off all Londoners will be.'<br />
<br />
Dr Mike Knapton, Director of Prevention and Care at the British Heart Foundation, said:  'Creating towns and cities that are easy, safe and attractive to get around on foot is vital for improving the nation's heart health.</p>
<p>'Our 30 a Day campaign, also launched today, encourages people to get active to safeguard their future health and wellbeing.</p>
<p>'Walking is a great way of doing this.</p>
<p>'While there is still much to do, Transport for London's commitment to improving walking routes in the capital is a big step in the right direction.' <br />
</p>
<p> </p>
<hr />
<br />
Notes to editors
<p> </p>
<ul>
    <li>During the next three years, &pound;126 million will be invested in improving conditions for pedestrians in London. TfL will invest this money in both local borough schemes and on London's major roads, for infrastructure improvements such as new pedestrian crossings, lowered kerbs and improved signage, and on local walking maps, promotion and education  </li>
    <li>The radio campaign has been voiced by actor Timothy Spall. It will play at peak times on 95.8 Capital Radio, Heart 106.2fm, Magic 105.4 and Smooth FM. The artwork for the posters was created by Simone Lai. They can be seen at poster sites across outer London from 30 April  </li>
    <li> TfL is funding Legible London, a project that aims to create a simple, reliable and consistent system  to encourage more people to walk for short journeys or as part of longer trips. For more details on the project and the Legible London exhibition, see <a href="http://www.legiblelondon.info/" title=" (Opens in new window)" class="external-site" jquery1224178051909="8">http://www.legiblelondon.info/</a>   <br />
    </li>
</ul>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "Transport for London (TfL) is asking people to think about walking rather than taking the car on short journeys, as it launches its first ever walking campaign. &nbsp;The light-hearted posters and radio ads ask the question 'Why not walk it?',";}
        
        


 