


@{ViewBag.Title = "2017 road casualty figures reaffirm the need for the Mayor's Vision Zero";}
        
        
<div class="r">
    <div class="breadcrumb-container" role="navigation">
        <span id="breadcrumb-label" class="visually-hidden">You are here:</span>
        <ol class="breadcrumbs clearfix" aria-labelledby="breadcrumb-label">
            <li class="home">
                <a href="/">
                    <span class="hide-text">Home</span>
                </a>
            </li>
            
                <li>
                    <a href="/info-for/media/index">Media</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases">Press releases</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases/2018">2018</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases/2018/september">September</a>
                </li>
                
                <li>
                    <span class="last-breadcrumb">2017 road casualty figures reaffirm the need for the Mayor’s Vision Zero</span>
                </li>
            
 
            
 
            
 
            
 
            
 
        </ul>
    </div>
</div>
     
 
<div class="r">
    <div class="headline-container plain">
        <h1>2017 road casualty figures reaffirm the need for the Mayor’s Vision Zero</h1>
        <div class="content-page-press-release">
        27 September 2018
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        TfL, the Mayor, the police and London boroughs are tackling road danger through their new Vision Zero approach
        
    </div>



<div class="pull-quote">
        <div class="quote-body">"We refuse to accept that any death or serious injury on London's roads is acceptable or inevitable and will continue to work with the police and all boroughs to meet our target of eliminating all death and serious injury from London's roads by 2041"</div>
        <div class="quote-footer">
            <div class="quotee-name">Lilli Matson</div>
            <div class="quotee-job-title">Director of Transport Strategy at TfL</div>
        </div>
</div>

 <div class="on-this-page">
<ul>
    <li>2017 data is included in TfL's online Collision Map</li>
</ul>
<p>Transport for London (TfL) has today released figures from the Casualties in Greater London report, showing that 131 people were killed and 3,750 were seriously injured on London's roads last year (2017). While the number of overall casualties fell by an estimated one per cent* from 2016, these figures highlight the continuing need for widespread action to tackle road danger, and reaffirm the importance of the Mayor's bold Vision Zero ambition to eliminate all death and serious injuries from London's roads by 2041.</p>
<p>New internal reporting systems, used by police across the UK, have changed the way data is provided, leading to more reliable data for serious injuries and an increase in reported serious injuries. In addition, a new online self-reporting tool, introduced last year by the Metropolitan Police Service (MPS), has made it easier for people to report collisions and injuries, and led to a 35 per cent increase in self-reporting, making up more than 20 per cent of all casualties in 2017. These new ways of reporting collisions will give TfL a more in depth understanding of road casualties in London and help inform London's future safety initiatives.</p>
<p>In July the Mayor and TfL launched a bold Vision Zero action plan to end the toll of deaths and serious injuries on London's streets. The plan includes the introduction of lower speed limits on TfL's road network, the transformation of dangerous junctions and joint work between TfL and the police to enhance enforcement activity. It also features a new focus on the most dangerous drivers, and a comprehensive bus safety programme including speed-limiting technology, new innovative training for all bus drivers and other measures.</p>
<p>People walking, cycling or riding motorcycles made up more than half of all casualties on London's roads and 87 per cent of all deaths. The number of people walking who were killed or seriously injured in 2017 increased by an estimated 10 per cent*, while the number of people cycling who were killed or seriously injured reduced by an estimated one per cent* and motorcyclists increased by an estimated five per cent*. Reducing road danger for people walking is a major priority for TfL, which is commissioning research to better understand the increase in pedestrian casualties in 2017.  Later this year, TfL will launch a Freight Action Plan that sets out new actions to improve the safety of HGVs, that are involved in a disproportionate high number of collisions involving people walking and cycling.</p>
<p>To further reduce road danger, TfL has also developed the world's first Direct Vision Standard, which rates HGVs based on how much the driver can see directly through their cab windows. HGV blind spots are a major contributory factor in fatal collisions involving cyclists and pedestrians. The standard focuses on the visibility from a driver's cab, directly tackling blind spots, and uses a ratings system to make sure that only vehicles suitable for the urban environment can use London's roads. The first permits under the system will be issued next year. Over the past three years, 63 per cent of cyclist deaths and 25 per cent of pedestrian deaths have involved a large goods vehicle.</p>
<p>For  motorcyclists, TfL is taking a range of action, including offering three free training courses in the capital, which boost rider confidence, skills and knowledge before and after Compulsory Basic Training (CBT). In addition, TfL is expanding the existing Fleet Operator Recognition Scheme (FORS) accreditation scheme to include a standard for the motorcycle courier sector. This is alongside education campaigns, improvements to roads and junctions and enforcement against dangerous vehicles and behaviour to protect motorcyclists.</p>
<p>As part of the Healthy Streets Approach, the Mayor is also investing a record &pound;169 million per year on cycling infrastructure over five years, including new Cycle Superhighways, Quietways, and improving London's most dangerous junctions. Already 140km of new cycle infrastructure has been built since May 2016, with substantial improvements made for pedestrians too. The Mayor and TfL have also outlined the 25 corridors in London with the greatest potential for new safer cycling routes in the future. These have a focus on outer London, with potential corridors from Brentford to Heathrow in the west, to Dagenham Dock to Ilford in the east, and Highgate to North Finchley in the north.</p>
<p>The Vision Zero ambition is fundamental to achieve the Mayor and TfL's ambition of creating Healthy Streets across London by reducing reliance on cars and encouraging walking, cycling and public transport. This is a central part of making London a greener, healthier and more attractive place to live, work, play and do business.</p>
<p><strong>Lilli Matson, Director of Transport Strategy at TfL, said</strong>: &quot;These new figures show why our Vision Zero approach is so important. We refuse to accept that any death or serious injury on London's roads is acceptable or inevitable and will continue to work with the police and all boroughs to meet our target of eliminating all death and serious injury from London's roads by 2041. This work includes targeting dangerous drivers, investing in safer junctions, removing the most dangerous Heavy Goods Vehicles from London's roads and working closely with boroughs to implement 20mph speed limits, as well as delivering lower speed limits on parts of our own Transport for London Road Network.&quot;</p>
<p><strong>Robert Revill, Superintendent from the MPS Roads and Transport Policing Command, said</strong>: &quot;The MPS Roads and Transport Policing Command, in partnership with TfL, will continue its important work to reduce road danger through the enforcement, education and engagement activities. We are intensifying efforts on those that cause the most risk on our roads and will take action against those that break the law. Excess speed, poor concentration and other risky road user behaviour are undisputed contributors to road traffic collisions in London. The consequences are devastating for victims and their families.</p>
<p>&quot;Our message is clear, we won't tolerate illegal and dangerous behaviour will take robust action against those that do.&quot;</p>
<p><strong>Inspector Paul Doyle, from the City of London Police's Transport &amp; Highways Operations Group said</strong>: &quot;Whilst road fatalities are rare in the City, even one death is one too many. It's really important all road users are reminded of the key aspects of road safety. As a force we regularly take part in awareness-raising initiatives to target individual groups such as motorbike riders, cyclists, drivers and pedestrians to educate them of specific things they can do to protect themselves and others.&quot;</p>
<p>In 2017, the number of people killed in inner London decreased by four per cent, to 54, but increased by 28 per cent in outer London to 77 deaths. TfL is working with outer London boroughs to reduce road danger, which includes introducing new lower speed limits and work to improve the capital's most dangerous junctions. 2017 data is now reflected in TfL's online Collision Map, enabling TfL, police, boroughs and the public to understand which areas of London are most affected. The Casualties in Greater London report shows that the number of children killed or seriously injured fell by an estimated 10 per cent from 2016*, including those walking and cycling.</p>
<p>* The asterisks indicate where percentage change in casualties take into account changes in the reporting of collisions by the police and the introduction of online collision self reporting. Back estimates contain a level of uncertainty and will be refined as more collision data collected using new reporting systems becomes available from the police.</p>
<p> </p>
<hr />
<p> </p>
<p><strong>Notes to editors</strong></p>
<ul>
    <li>The Vision Zero action plan is available here: <a href="http://content.tfl.gov.uk/vision-zero-action-plan.pdf">http://content.tfl.gov.uk/vision-zero-action-plan.pdf</a></li>
    <li>TfL's Casualties in Greater London During 2017 report is available here: <a href="https://tfl.gov.uk/corporate/publications-and-reports/road-safety">https://tfl.gov.uk/corporate/publications-and-reports/road-safety</a></li>
    <li>You can find TfL's Collision Map here: <a href="https://tfl.gov.uk/corporate/safety-and-security/road-safety/london-collision-map">https://tfl.gov.uk/corporate/safety-and-security/road-safety/london-collision-map</a></li>
    <li>The Mayor's Transport Strategy is available here: <a href="https://tfl.gov.uk/corporate/about-tfl/how-we-work/planning-for-the-future/the-mayors-transport-strategy">https://tfl.gov.uk/corporate/about-tfl/how-we-work/planning-for-the-future/the-mayors-transport-strategy</a></li>
    <li>Further information on how to sign up to our motorcycle training is available here: <a href="https://tfl.gov.uk/travel-information/safety/road-safety-advice/motorcycling-in-london">https://tfl.gov.uk/travel-information/safety/road-safety-advice/motorcycling-in-london</a></li>
    <li>The Department for Transport's national collision statistics are available here: <a href="https://gov.uk/government/latest?departments%5B%5D=department-for-transport">https://gov.uk/government/latest?departments%5B%5D=department-for-transport</a></li>
    <li><strong>Back estimates</strong>: Absolute changes in the number of reported serious, slight and all injuries during 2017 partly reflect improvements in the reporting of injury severity by the police and the introduction of online self-reporting. As a result figures for 2017 should not be directly compared with previous data collected. TfL has undertaken analysis with the Transport Research Laboratory (TRL) to back cast the number of casualties that would have been reported by the police using an injury-defined rather than a severity-defined system. This allows the number of injuries reported by the police during 2017 to be compared with an initial back estimate of data collected using previous systems. Further detail on how the back-estimating process is available in the Casualties in Greater London During 2017 report</li>
</ul>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
                <a href="/info-for/media/index" class="heading">
                    <h2 id="sub-menu-heading">Media<span class="visually-hidden"> navigation</span></h2>
                </a>
                <ul>
                    
                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases">Press releases</a></div>
                                <ul>
                                    
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2020">2020</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019">2019</a></div></li>
                            
 
                                        <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018">2018</a></div>
                                        <ul>
                                            
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018/january">January</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018/february">February</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018/march">March</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018/april">April</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018/may">May</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018/june">June</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018/july">July</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018/august">August</a></div></li>
                                    
 
                                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018/september">September</a></div>
                                                <ul>
                                                    
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
                                                </ul>
                                            
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018/october">October</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018/november">November</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018/december">December</a></div></li>
                                    
 
                                        </ul>
                                    </li>
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017">2017</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016">2016</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015">2015</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014">2014</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2013">2013</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2012">2012</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2011">2011</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2010">2010</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2009">2009</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2008">2008</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2007">2007</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2006">2006</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2005">2005</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2004">2004</a></div></li>
                            
 
                                </ul>
                            </li>
 
                                <li><div class="link-wrapper"><a href="/info-for/media/photos">Photos</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/media/contact-the-press-office">Contact the Press Office</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/filming-and-photography">Filming & photography</a></div></li>
                            
 
                </ul>
            
 
 
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype: -Home-Media-Media-Press releases-2018-September-2017 road casualty figures reaffirm the need for the Mayor’s Vision Zero -->

 
 
        
        
            @{ViewBag.Description = "2017 road casualty figures reaffirm the need for the Mayor’s Vision Zero";}
        
        


 