


@{ViewBag.Title = "Further plans for Bakerloo line extension revealed following public consultation";}
        
        
<div class="r">
    <div class="breadcrumb-container" role="navigation">
        <span id="breadcrumb-label" class="visually-hidden">You are here:</span>
        <ol class="breadcrumbs clearfix" aria-labelledby="breadcrumb-label">
            <li class="home">
                <a href="/">
                    <span class="hide-text">Home</span>
                </a>
            </li>
            
                <li>
                    <a href="/info-for/media/index">Media</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases">Press releases</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases/2018">2018</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases/2018/september">September</a>
                </li>
                
                <li>
                    <span class="last-breadcrumb">Further plans for Bakerloo line extension revealed following public consultation</span>
                </li>
            
 
            
 
            
 
            
 
            
 
        </ul>
    </div>
</div>
     
 
<div class="r">
    <div class="headline-container plain">
        <h1>Further plans for Bakerloo line extension revealed following public consultation</h1>
        <div class="content-page-press-release">
        12 September 2018
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">



 <div class="on-this-page">
<p>Transport for London (TfL) has today published its response to issues raised during last year's consultation on proposals to extend the Bakerloo line beyond Elephant &amp; Castle. These comments have helped to refine the proposals which will be subject to a more detailed public consultation in 2019.</p>
<p>More than 4,800 responses were received in the consultation held in spring 2017, with many taking the chance to show support for the scheme overall.  The consultation asked for feedback on proposals for stations at Elephant &amp; Castle, New Cross Gate, Lewisham and two entirely new stations along the Old Kent Road.</p>
<p>Based on the consultation responses, TfL has made some decisions on the proposals. These include:</p>
<p><strong>Elephant &amp; Castle station<br />
</strong>Plans are being developed that would see the Bakerloo line station and ticket hall move and integrate with the planned new Northern line ticket hall.  This would provide customers with an easier interchange with both Northern line and Thameslink services and help reduce crowding at the busiest times.</p>
<p>Journeys between Lambeth North station and the proposed 'station 1' on the Old Kent Road could also be quicker based on these current plans due to a shorter tunnel alignment via the new Elephant &amp; Castle Bakerloo line station.</p>
<p><strong>Bricklayers Arms Roundabout<br />
</strong>Changes to the plans have meant that there should no longer be a need for a ventilation shaft between Elephant &amp; Castle and the Old Kent Road stations due to the shorter tunnel alignment.</p>
<p>While a new station at the Bricklayers Arms was considered following comments from the consultation, it will not be progressed.  A number of factors led to this decision including its close proximity to the existing Elephant &amp; Castle and Borough Tube stations and the location TfL is focusing on for the new proposed 'station 1' on the Old Kent Road. The proposal for an additional station would also considerably increase the overall cost of the extension as well as make journey times longer.</p>
<p>The proposed two stations on the Old Kent Road were carefully selected to maximize growth in jobs and homes to support plans for redevelopment in the area.</p>
<p>TfL will work with the London Borough of Southwark to develop public realm improvements in this area.</p>
<p><strong>Old Kent Road stations<br />
</strong>Plans for Old Kent Road 'station 1' are being developed, focusing on the site near to the junction with Dunton Road and Humphrey Street. Plans for Old Kent Road 'station 2' are being developed for the site of the former Toys R Us store near the junction with Asylum Road.  Both these locations had the most support in the public consultation and are considered as the best locations to fit in with the proposed route.</p>
<p><strong>New Cross Gate station<br />
</strong>The site of the proposed station at New Cross Gate continues to be evaluated.  This includes looking at ways the station construction can be delivered effectively while minimising any local impact, such as access to the supermarket.  The new station will be carefully planned to manage customer flows to provide an easy and efficient interchange with London Overground and National Rail services.</p>
<p><strong>Lewisham station<br />
</strong>Designs for the potential new station layout are being developed to ensure it will provide an effective, simple and quick interchange for customers between the Bakerloo line, DLR and National Rail services.</p>
<p><strong>Heidi Alexander, Deputy Mayor for Transport, said: </strong>`I'm delighted that plans for the Bakerloo line extension are continuing to progress. New Tube stations providing a direct route for commuters into the heart of central London and the joining up of key transport links across south London will reduce journey times and ease congestion, making a huge difference to the lives of thousands of south Londoners.</p>
<p>`The extension will also provide a substantial boost to the local economy, helping support up to 5,000 new jobs and 25,000 new homes.'</p>
<p><strong>Alex Williams, Transport for London's Director of City Planning, said: </strong>`The Bakerloo line extension is vital to support the growth of south east London as well as improving connectivity and reducing journey times for tens of thousands of people. We have taken on board the views of almost 5,000 people and will now refine the proposals and carry out a further public consultation next year.  This will help us shape our plans for the first phase of the extension to Lewisham which is planned to be completed by 2029.'</p>
<p><strong>Councillor Brenda Dacres, Lewisham Council's Cabinet Member for Parks, Neighbourhoods &amp; Transport (Job Share), said:</strong> `The impact of the Bakerloo line extension cannot be underestimated &#45; it will boost the economy in Lewisham and south east London, provide the opportunity to build desperately-needed new homes and improve transport links into central London. Almost 5,000 Londoners have given their views and this clearly reflects the importance with which they regard these plans. I would urge even more to engage and take part in the further consultation planned for next year.'</p>
<p>Scheme development work will now take place ahead of a further public consultation next year.</p>
<p>At least 25,000 new homes and 5,000 new jobs could be supported as a result of the extension, with extra capacity on London Underground for 65,000 journeys in the morning and evening peak, helping relieve congestion on local bus and National Rail services.</p>
<p>The completion date of the extension to Lewisham aligns with the upgrade of the Bakerloo line.  This upgrade will deliver more capacity with faster and more frequent services.  It will deliver customer benefits along the whole of the line from north west to south east London</p>
<p>The Bakerloo line extension to Lewisham is an important part of the Mayor's Transport Strategy, which was published last year and details plans to create a fairer, greener, healthier and more prosperous city by improving public transport and encouraging active travel.</p>
<p>The Mayor and TfL remain committed to delivering a second phase of the extension beyond Lewisham, and work is continuing to build a case for it.</p>
Notes for Editors<br />
<ul>
    <li>The 'Response to Issues Raised' report following the consultation is published here - <a href="http://www.tfl.gov.uk/bakerloo-extension">www.tfl.gov.uk/bakerloo-extension</a> </li>
    <li>As announced in the TfL Business Plan, the updated plans bring the completion date of the extension forward by two years to 2029, to align with the timetable for the upgrade of the Bakerloo line.</li>
</ul>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
                <a href="/info-for/media/index" class="heading">
                    <h2 id="sub-menu-heading">Media<span class="visually-hidden"> navigation</span></h2>
                </a>
                <ul>
                    
                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases">Press releases</a></div>
                                <ul>
                                    
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2020">2020</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019">2019</a></div></li>
                            
 
                                        <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018">2018</a></div>
                                        <ul>
                                            
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018/january">January</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018/february">February</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018/march">March</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018/april">April</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018/may">May</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018/june">June</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018/july">July</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018/august">August</a></div></li>
                                    
 
                                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018/september">September</a></div>
                                                <ul>
                                                    
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
                                                </ul>
                                            
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018/october">October</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018/november">November</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018/december">December</a></div></li>
                                    
 
                                        </ul>
                                    </li>
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017">2017</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016">2016</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015">2015</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014">2014</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2013">2013</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2012">2012</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2011">2011</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2010">2010</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2009">2009</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2008">2008</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2007">2007</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2006">2006</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2005">2005</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2004">2004</a></div></li>
                            
 
                                </ul>
                            </li>
 
                                <li><div class="link-wrapper"><a href="/info-for/media/photos">Photos</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/media/contact-the-press-office">Contact the Press Office</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/filming-and-photography">Filming & photography</a></div></li>
                            
 
                </ul>
            
 
 
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype: -Home-Media-Media-Press releases-2018-September-Further plans for Bakerloo line extension revealed following public consultation -->

 
 
        
        
            @{ViewBag.Description = "Further plans for Bakerloo line extension revealed following public consultation";}
        
        


 