


@{ViewBag.Title = "GLA - Major new Cycle Superhighway extension opens";}
        
        
<div class="r">
    <div class="breadcrumb-container" role="navigation">
        <span id="breadcrumb-label" class="visually-hidden">You are here:</span>
        <ol class="breadcrumbs clearfix" aria-labelledby="breadcrumb-label">
            <li class="home">
                <a href="/">
                    <span class="hide-text">Home</span>
                </a>
            </li>
            
                <li>
                    <a href="/info-for/media/index">Media</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases">Press releases</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases/2018">2018</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases/2018/september">September</a>
                </li>
                
                <li>
                    <span class="last-breadcrumb">GLA - Major new Cycle Superhighway extension opens</span>
                </li>
            
 
            
 
            
 
            
 
            
 
        </ul>
    </div>
</div>
     
 
<div class="r">
    <div class="headline-container plain">
        <h1>GLA - Major new Cycle Superhighway extension opens</h1>
        <div class="content-page-press-release">
        20 September 2018
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        Extended route means Cycle Superhighway 6 (CS6) now goes from Elephant & Castle all the way up to King's Cross
        
    </div>



<div class="pull-quote">
        <div class="quote-body">"It is essential we build the infrastructure to enable more people to walk and cycle as part of their everyday routine"</div>
        <div class="quote-footer">
            <div class="quotee-name">Sadiq Khan</div>
            <div class="quotee-job-title">Mayor of London</div>
        </div>
</div>

 <div class="on-this-page">
<p>This press release, issued by the Mayor of London, was first published on <a href="https://www.london.gov.uk/press-releases/mayoral/major-new-cycle-superhighway-extension-opens">london.gov.uk</a></p>
<ul>
    <li>Extension includes new segregated cycle track, new pedestrian crossings and improvements to eight junctions.</li>
</ul>
<p>A major new extension to Cycle Superhighway 6 (CS6) is being officially opened today by the Mayor of London, Sadiq Khan, Transport for London (TfL), and local boroughs.</p>
<p>The extension to Cycle Superhighway 6 is a high-quality 2.5km route between Farringdon and King's Cross, and the extension means that Cycle Superhighway 6 now connects Elephant &amp; Castle all the way up to Kings Cross, passing through key transport hubs such as Blackfriars and Farringdon stations. The total length of CS6 is now 5km.</p>
<p>The new route, delivered in partnership with Islington and Camden councils, further expands London's growing high-quality cycle network, including connecting to the recently launched Quietway 2, and linking to upcoming cycle and pedestrian improvements on Clerkenwell Road, Judd Street, Euston Road and Midland Road.</p>
<p>Expanding London's cycling network is an important part of the Mayor's ambition to tackle London's toxic air and create healthy streets, as well as a vital step towards his Vision Zero goal of eliminating deaths and serious injuries from London's roads. Sadiq's bold aim is to increase, the proportion of people walking, cycling and taking public transport in London to 80 per cent of journeys by 2041, compared to 64 per cent now.</p>
<p>GLA analysis shows that if every Londoner walked or cycled for 20 minutes a day, it would save the NHS &pound;1.7bn in treatment costs over the next 25 years.</p>
<p>The extension of Cycle Superhighway 6 not only provides huge benefits to cyclists with new segregated cycle tracks on Farringdon Road, but also improves safety for pedestrians. Following an initial consultation carried out under the previous Mayor, a number of important design improvements we made to the scheme under the current Mayor, including signal-controlled cycle crossings, additional pedestrian crossings, and further segregated cycle track.</p>
<p>Overall eight junctions along the route have been transformed to reduce road danger. There are seven new pedestrian crossings with signals, including at all arms of the Charterhouse Street junction, and improvements at the West Smithfield / Snow Hill / Farringdon Street junction, formally one of the most dangerous in the Capital.</p>
<p>Mayor of London, Sadiq Khan, said: </p>
<p>'I'm delighted to be formally opening the extended Cycle Superhighway 6 - a high-quality route that enables people to cycle safely all the way from Kings Cross to Elephant and Castle, connecting key cycle routes through the heart of central London.</p>
<p>'On top of new segregated cycle track, eight junctions have also been transformed to reduce road danger for pedestrians and ensure all road users benefit from the new scheme.</p>
<p>'With London's growing population and the continued damaging effects of air pollution on Londoners, it is essential we build the infrastructure to enable more people to walk and cycle as part of their everyday routine.</p>
<p>'And I'm pleased we're continuing our close relationship with Camden and Islington - boroughs which are committed to improving air quality and the health of their residents, while improving road safety for everyone in their boroughs.'</p>
<p>Ben Plowden, TfL's Director of Strategy and Network Development, said: </p>
<p>'Cycling has real potential to transform how people travel around London, improving air quality and health whilst easing congestion and making journeys quicker. We're determined to make sure that every Londoner has access to safe, high quality cycle routes and this new extension to CS6 will connect even more people to the heart of the capital and London's expanding cycling network.'</p>
<p>Councillor Adam Harrison, Cabinet Member for Improving Camden's Environment, said: </p>
<p>'CS6 provides a continuous route for cyclists from Stonecutter Street &#45; just north of Fleet Street &#45; right up to King's Cross. It has been delivered through successful joint working between Camden, Islington and TfL.</p>
<p>'The route allows cyclists to travel north and south via quiet back streets through a combination of dedicated cycle lanes and improved access for bike users. When put alongside the new, wider pavements and new pedestrian crossings, all this adds up to greater safety for cyclists and a better environment for pedestrians.</p>
<p>'Beyond King's Cross, we next plan to allow cyclists to safely cross the busy Euston Road and travel along Midland Road to connect up to Kentish Town via segregated cycle lanes at Pancras Road and Royal College Street.</p>
<p>'Schemes such as these reflect Camden Council's great commitment to healthier, more affordable forms of travel like cycling and walking.'</p>
<p>Cllr Claudia Webbe, Islington Council's executive member for environment and transport, said: </p>
<p>'This vital new superhighway extension removes traffic to provide a dedicated protected cycle lane, so cyclists can travel much more safely along main roads from King's Cross, though Islington at Farringdon, to Elephant and Castle.</p>
<p>'We want to make cycling in Islington as safe and simple as possible, with routes that are convenient, easy and direct, so anybody with access to a bike can cycle.</p>
<p>'This has been a brilliant opportunity to work closely with Camden, TfL and the Mayor of London to create more enjoyable space for walking and enable this major improvement to London's cycle network, which creates a much better route for cyclists to travel along main roads between the north and south of our city.'</p>
<p>Dr Ashok Sinha, London Cycling Campaign's Chief Executive, said: </p>
<p>'London Cycling Campaign is delighted the extension to Cycle Superhighway 6 (CS6) is now open. Londoners can now cycle from Elephant and Castle to Kings Cross without encountering dangerous road conditions, taking away the fear of collisions that stops many more people from enjoying the convenience and pleasure of getting around by bike.</p>
<p>'Today's opening is a big step by the Mayor and TfL towards creating a London-wide network of safe, comfortable cycle routes, which will cut congestion, reduce air pollution and help Londoners live healthy and active lives. It is also an important step towards fulfilling the Mayor's pledge to triple the mileage of main road cycle tracks during his term.'</p>
<p>The extension to CS6 follows the recent opening of Quietway 2, a major cycle route connecting Bloomsbury to Walthamstow. The 12km route allows Londoners to ride safely through backstreets away from busy main roads and enables more people of different ages and backgrounds to cycle as part of their everyday routine. TfL is working in partnership with London's Boroughs to build further extensions to the Quietway network, with plans for a network of 250km across the capital.</p>
<p>Following the extension of CS6 and completion of the east-west cycle superhighway from Parliament Square to Lancaster Gate, TfL continues work on a number of other new Cycle Superhighways right across the capital. CS4, CS11 and CS9 will expand the cycling network to destinations including Greenwich, Swiss Cottage and Brentford, reducing road danger by avoiding conflict between the most vulnerable road users and motor traffic over the coming years.</p>
<p>TfL and the Mayor are also tackling London's dangerous junctions. The junction at West Smithfield and Farringdon Street has been improved as part of CS6, the transformation of Highbury Corner is underway, the cycle lanes on the eastern side of Stratford Gyratory were opened this week and the Mayor has recently asked TfL to bring forward the start date of work to make Old Street roundabout safer for cycling and walking.</p>
<p>&nbsp;</p>
<hr />
<p>Notes to editors</p>
<ul>
    <li>The first section of the CS6, between Elephant &amp; Castle and Stonecutter Street was completed in May 2016. A year after opening, TfL figures show that there was a 32 per cent increase in cycling along the entire North-South Cycle Superhighway.  At its busiest point of CS6, on Blackfriars Bridge, 10,276 cyclists were counted in one day.</li>
    <li>Cycling is the fastest growing form of transport in London, with the number of journeys growing by 154 per cent since 2000. An average of 508,000 km were cycled in central London in 2017 every day, which is an increase of 8.9 per cent since 2014.</li>
    <li>This extension of CS6  forms part of the Mayor's record &pound;169m annual spend on cycling, supporting delivery of the Mayor's Transport Strategy which sets out ambitious plans to reduce the Capital's dependency on the car - transforming the experience of walking, cycling and public transport in London over the coming decades</li>
    <li>A key focus of this is the Mayor's &pound;2.1bn Healthy Streets Approach. This aims to create more attractive, accessible and people-friendly streets, where everybody can enjoy spending time and being physically active by making walking and cycling easier and safer across London</li>
    <li>Currently, more than 40 per cent of Londoners do not achieve the recommended 150 minutes of activity a week, and 28 per cent do less than 30 minutes a week. GLA analysis shows that if every Londoner walked or cycled for 20 minutes a day, it would save the NHS &pound;1.7bn in treatment costs over the next 25 years.</li>
</ul>
<p>&nbsp;</p>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
                <a href="/info-for/media/index" class="heading">
                    <h2 id="sub-menu-heading">Media<span class="visually-hidden"> navigation</span></h2>
                </a>
                <ul>
                    
                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases">Press releases</a></div>
                                <ul>
                                    
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2020">2020</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019">2019</a></div></li>
                            
 
                                        <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018">2018</a></div>
                                        <ul>
                                            
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018/january">January</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018/february">February</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018/march">March</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018/april">April</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018/may">May</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018/june">June</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018/july">July</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018/august">August</a></div></li>
                                    
 
                                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018/september">September</a></div>
                                                <ul>
                                                    
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
                                                </ul>
                                            
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018/october">October</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018/november">November</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018/december">December</a></div></li>
                                    
 
                                        </ul>
                                    </li>
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017">2017</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016">2016</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015">2015</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014">2014</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2013">2013</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2012">2012</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2011">2011</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2010">2010</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2009">2009</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2008">2008</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2007">2007</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2006">2006</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2005">2005</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2004">2004</a></div></li>
                            
 
                                </ul>
                            </li>
 
                                <li><div class="link-wrapper"><a href="/info-for/media/photos">Photos</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/media/contact-the-press-office">Contact the Press Office</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/filming-and-photography">Filming & photography</a></div></li>
                            
 
                </ul>
            
 
 
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype: -Home-Media-Media-Press releases-2018-September-GLA - Major new Cycle Superhighway extension opens -->

 
 
        
        
            @{ViewBag.Description = "Major new Cycle Superhighway extension opens through the heart of London";}
        
        


 