


@{ViewBag.Title = "New funding to help minimise the impact of deliveries across London";}
        
        
<div class="r">
    <div class="breadcrumb-container" role="navigation">
        <span id="breadcrumb-label" class="visually-hidden">You are here:</span>
        <ol class="breadcrumbs clearfix" aria-labelledby="breadcrumb-label">
            <li class="home">
                <a href="/">
                    <span class="hide-text">Home</span>
                </a>
            </li>
            
                <li>
                    <a href="/info-for/media/index">Media</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases">Press releases</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases/2018">2018</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases/2018/september">September</a>
                </li>
                
                <li>
                    <span class="last-breadcrumb">New funding to help minimise the impact of deliveries across London</span>
                </li>
            
 
            
 
            
 
            
 
            
 
        </ul>
    </div>
</div>
     
 
<div class="r">
    <div class="headline-container plain">
        <h1>New funding to help minimise the impact of deliveries across London</h1>
        <div class="content-page-press-release">
        14 September 2018
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        Funding awarded to six business groups to make deliveries more efficient and reduce congestion in London
        
    </div>



<div class="pull-quote">
        <div class="quote-body">"We are pleased to be working with these business groups to help create and maintain Healthy Streets in which business can thrive while contributing to the capital's continued growth"</div>
        <div class="quote-footer">
            <div class="quotee-name">Emily Herreras-Griffiths</div>
            <div class="quotee-job-title">TfL's Travel Demand Management Programme Director</div>
        </div>
</div>

 <div class="on-this-page">
<p>TfL has today announced that six business groups will be awarded a share of &pound;230,000 funding for innovative projects that make freight and deliveries more efficient across London &#45; reducing traffic, easing congestion and improving air quality.</p>
<p>The funding from TfL's Healthy Streets Fund for Business will be matched by the business groups themselves.</p>
<p>The six schemes being joint funded by TfL will include the promotion of cycle freight, single suppliers and co-ordination of waste collection and deliveries.</p>
<p>They will be located in areas with some of the worst air quality in London, such as Old Street, which is the location of one of the capital's most polluted primary schools.</p>
<h2>Vital to London's economy</h2>
<p>Deliveries and servicing are vital to London's economy. Half the value of household expenditure, around &pound;79 billion per year, relies strongly on road freight.</p>
<p>However, goods vehicle movements in the capital have increased by around 20% since 2010 and this contributes to poor air quality, congestion and road danger.</p>
<p>Many freight movements are made in the morning peak, when there are higher numbers of vulnerable road users, including people walking and cycling.</p>
<p>As set out in his Transport Strategy, the Mayor wants to work with the boroughs, businesses and the freight and servicing industry to reduce the adverse impacts of freight and service vehicles on the street network.</p>
<p>The Mayor aims to reduce the number of lorries and vans entering central London in the morning peak by 10% by 2026.</p>
<p>TfL allocated &pound;60,000 of funding last year, to help Better Bankside and Heart of London BIDs achieve more efficient deliveries. Funding has been increased to &pound;230,000 this year, to achieve greater benefits across the capital.</p>
<h2>More efficient deliveries</h2>
<p>Schemes awarded part of the funding include:</p>
<ul>
    <li>A consolidation centre to improve the co-ordination of deliveries to the Bankside area, including Borough Market (Better Bankside &#45; &pound;50,000)</li>
    <li>The promotion of cycle freight in the London Bridge area (Team London Bridge &#45; &pound;20,000)</li>
    <li>A single supplier scheme for waste collection at Old Street and cargo bike deliveries (Old Street District &#45; &pound;35,000)</li>
    <li>Waste compactors at Chapel Market in Angel to reduce the number of waste collections (Angel BID &#45; &pound;40,000)</li>
    <li>Five underground waste storage containers in Vauxhall and the introduction of electric vehicles for collections (Vauxhall One &#45; &pound;50,000)</li>
    <li>New infrastructure in Archway to support cycle freight (Archway Town Centre Group &#45; &pound;42,000)</li>
</ul>
<p>TfL will work closely with all successful applicants and share lessons learned with businesses across London to help support further business-driven change ahead of the Ultra Low Emission Zone (ULEZ), which will bring new, tighter emission standards to central London from next year.</p>
<p>Currently, lorries and vans account for around one fifth of road traffic in London and about one third in central London during the morning peak. As London grows, the volume of freight and servicing trips is also forecast to grow unless action is taken.</p>
<p><strong>Mayor of London, Sadiq Khan, said</strong>: 'We have no option but to be smarter in how our streets work. With London's population growing, congestion is not only costly and inefficient for London's businesses, but has a damaging knock-on effect on air quality and our environment.</p>
<p>'I'm delighted that we are partnering with London's business groups to fund innovative projects that will reduce the impact of the growing number of deliveries and collections we're seeing across the capital.</p>
<p>'Working with businesses, the roll out of these schemes will not only keep our city moving, but improve our health, and improve quality of life for everyone.'</p>
<h2>Improve air quality</h2>
<p><strong>Emily Herreras-Griffiths, TfL's Travel Demand Management Programme Director, said</strong>: 'We've seen the value that small changes to the way that businesses receive or make deliveries and other services can bring.</p>
<p>'Using the same suppliers as your neighbour and embracing providers who use bikes and electric vehicles can reduce congestion, improve air quality and save money.</p>
<p>'We are pleased to be working with these business groups to help create and maintain Healthy Streets in which business can thrive while contributing to the capital's continued growth.'</p>
<p><strong>Donald Hyslop, Chair of Better Bankside and Borough Market, said</strong>: 'Better Bankside has a reputation for innovation in improving the daily lives of workers and local communities in central London.</p>
<p>'TfL's funding for this pilot project has enabled us to test new ways of addressing the issue of air quality, something 79% of our local businesses told us they wanted Better Bankside to prioritise.</p>
<p>'Working in partnership with Borough Market, we've already been able to reduce the number of diesel vehicle trips on the road in Bankside by 70 per week. I hope in the future this successful and important initiative can be further developed in our area and across London.'</p>
<p><strong>Peter Morris, Chairman of the Old Street District Partnership, said</strong>: 'It's great news that Old Street is among the locations to benefit from this funding, which is a good example of the public and private sectors collaborating to deliver real improvements for local businesses.</p>
<p>'Reducing air pollution and congestion on our roads are priority issues for local businesses as well as the wider community and this funding will help us make Old Street an even more pleasant place to work, live and visit.'</p>
<p><strong>Bernard Collier, Vauxhall One BID's CEO, said</strong>: 'We are really excited to have been awarded &pound;50,000 as part of the Healthy Streets Fund for Business.</p>
<p>Vauxhall has some of the worst air quality in England and thanks to the work done on behalf of local businesses, as part of Vauxhall One greening program, we will be removing the equivalent of approximately 2,550 diesel waste trucks from the streets of Vauxhall per year by installing five underground waste compactors and introducing electric vehicles for collections.'</p>
<p><strong>Mark Turner, Environmental Programme Manager at angel.london, said</strong>: 'This funding will help address one of our major issues - the number of vehicles doing the rounds each day to collect waste from our businesses.</p>
<p>'Our BID takes in the A1 Upper Street and traffic and better air quality is one of our priorities. Encouraging our businesses to consolidate their collections with a preferred provider will go a long way to improving this.</p>
<p>'We will also reduce the number of waste collections from our only street market in Chapel Market, freeing up the street for shoppers and helping our traders and businesses in these challenging times for the high street.'</p>
<p><strong>Cllr Claudia Webbe, Islington Council's Executive Member for Environment and Transport, said</strong>: 'Air pollution is a huge issue for Islington residents, and literally a matter of life and death for some people. We are pleased that Islington businesses are leading the way and committed to improve air quality and stop polluting vehicles from damaging people's health and life chances.</p>
<p>'We welcome these pioneering measures to cut air pollution at Old Street, Angel and Archway and will continue to work closely with businesses, Transport for London and the Mayor of London on these and other action on polluting vehicles.'</p>
<h2>Healthy Streets approach</h2>
<p>TfL's work with businesses and the freight industry is a key part of the Mayor's Healthy Streets approach, which puts Londoners, and their health, at the heart of all decision making.</p>
<p>Demand from businesses drives many freight and servicing trips and TfL's approach will help businesses make a real difference to their local areas.</p>
<p>For the past five years, TfL has also worked on a number of other schemes with over 500 leading businesses and fleet operators to identify effective and cost-efficient ways to receive and make deliveries.</p>
<p>This includes toolkits and guidance, which have helped businesses rethink how and when they receive freight and servicing trips, including the possibility of moving goods by bike or by boat.</p>
<p>To further reduce road danger, TfL has also developed the world's first Direct Vision Standard, which rates HGVs based on how much the driver can see directly through their cab windows.</p>
<p>HGV blind spots are a major contributory factor in fatal collisions involving people walking and cycling.</p>
<p>The standard focuses on the visibility from a driver's cab, directly tackling blind spots, and uses a ratings system to make sure that only vehicles suitable for the urban environment can use London's roads.</p>
<p>The first permits under the system will be issued next year.</p>
<p>&nbsp;</p>
<hr />
<p>&nbsp;</p>
<p><strong>Notes to editors</strong></p>
<ul>
    <li>TfL's freight and servicing toolkits for businesses are available at <a href="https://tfl.gov.uk/info-for/deliveries-in-london/delivering-efficiently/deliveries-toolkits">https://tfl.gov.uk/info-for/deliveries-in-london/delivering-efficiently/deliveries-toolkits</a><br />
    The full range of toolkits available to businesses includes:<br />
    o	TfL's Personal Deliveries and Waste Consolidation Toolkits which can help businesses reduce the deliveries and servicing trips<br />
    o	TfL's Retiming Toolkit, which encourages businesses to think about retiming their deliveries and servicing trips. So far, the toolkit has removed more than 160,000 deliveries annually from peak times to less congested times<br />
    o	The Water Freight Toolkit highlights the options for transporting freight by boat, showing wharves and jetties along the Thames and London's canal system which are suitable for freight</li>
    <li>Upcoming work to encourage the use of alternative transport for freight includes:<br />
    o	New Cycle Freight Guidance, due to be published by the end of 2018, which will provide boroughs with best practice recommendations and ways to overcome the barriers to cycle freight<br />
    o	The development of a Freight and Servicing Action Plan with input from business and the boroughs.<br />
    o	The publication of a Rail Freight Strategy for London in 2019<br />
    o	Funding provided to the schemes is subject to conditions being met</li>
</ul>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
                <a href="/info-for/media/index" class="heading">
                    <h2 id="sub-menu-heading">Media<span class="visually-hidden"> navigation</span></h2>
                </a>
                <ul>
                    
                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases">Press releases</a></div>
                                <ul>
                                    
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2020">2020</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019">2019</a></div></li>
                            
 
                                        <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018">2018</a></div>
                                        <ul>
                                            
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018/january">January</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018/february">February</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018/march">March</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018/april">April</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018/may">May</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018/june">June</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018/july">July</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018/august">August</a></div></li>
                                    
 
                                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018/september">September</a></div>
                                                <ul>
                                                    
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
                                                </ul>
                                            
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018/october">October</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018/november">November</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018/december">December</a></div></li>
                                    
 
                                        </ul>
                                    </li>
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017">2017</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016">2016</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015">2015</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014">2014</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2013">2013</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2012">2012</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2011">2011</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2010">2010</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2009">2009</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2008">2008</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2007">2007</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2006">2006</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2005">2005</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2004">2004</a></div></li>
                            
 
                                </ul>
                            </li>
 
                                <li><div class="link-wrapper"><a href="/info-for/media/photos">Photos</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/media/contact-the-press-office">Contact the Press Office</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/filming-and-photography">Filming & photography</a></div></li>
                            
 
                </ul>
            
 
 
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype: -Home-Media-Media-Press releases-2018-September-New funding to help minimise the impact of deliveries across London -->

 
 
        
        
            @{ViewBag.Description = "New funding to help minimise the impact of deliveries across London";}
        
        


 