


@{ViewBag.Title = "REMINDER: Piccadilly line strike action to continue today";}
        
        
<div class="r">
    <div class="breadcrumb-container" role="navigation">
        <span id="breadcrumb-label" class="visually-hidden">You are here:</span>
        <ol class="breadcrumbs clearfix" aria-labelledby="breadcrumb-label">
            <li class="home">
                <a href="/">
                    <span class="hide-text">Home</span>
                </a>
            </li>
            
                <li>
                    <a href="/info-for/media/index">Media</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases">Press releases</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases/2018">2018</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases/2018/september">September</a>
                </li>
                
                <li>
                    <span class="last-breadcrumb">REMINDER: Piccadilly line strike action to continue today</span>
                </li>
            
 
            
 
            
 
            
 
            
 
        </ul>
    </div>
</div>
     
 
<div class="r">
    <div class="headline-container plain">
        <h1>REMINDER: Piccadilly line strike action to continue today</h1>
        <div class="content-page-press-release">
        28 September 2018
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        Action will mean limited service from around 15.30 today, and no service from 22.00 onwards
        
    </div>



<div class="pull-quote">
        <div class="quote-body">"I encourage all customers to check before they travel, and reiterate that we remain available for talks with the RMT at any time"</div>
        <div class="quote-footer">
            <div class="quotee-name">Nigel Holness</div>
            <div class="quotee-job-title">TfL's Director of Network Operations for London Underground</div>
        </div>
</div>

 <div class="on-this-page">
<ul>
    <li>Follow tfl.gov.uk/tube-strike and &#64;TfLTravelAlerts, &#64;TfLTrafficNews and &#64;TfLBusAlerts for latest travel information</li>
    <li>Services on other Tube lines will continue to run as normal</li>
</ul>
<p>TfL has today reminded customers that strike action on the Piccadilly line could disrupt their journeys later today. Customers should check before they travel using travel advice published on the TfL website and via social media.</p>
<p>Despite inviting RMT to continue discussions via the conciliation service ACAS to end the strike early, the RMT have not yet agreed to talks and will continue their planned strike action. Services will resume at around 15.30, with frequent trains between Heathrow and Cockfosters, and trains every 5 minutes between Acton Town and Uxbridge. However, the line will begin to wind down again from 22.00.</p>
<p>There will be no Night Tube running on the Piccadilly line tonight, but all other Night Tube lines will run as normal. Night buses will also be in operation.</p>
<p>Services will resume to a normal level at around 07.30 on Saturday between Heathrow and Cockfosters, and around 08.30 from Uxbridge to Acton Town.</p>
<p>For anyone travelling between Heathrow airport and central London today, TfL Rail services will be available to and from London Paddington and Ealing Broadway station every thirty minutes, while Heathrow Express services from Paddington will also run normally.</p>
<p>All other Tube lines are expected to run as normal. However, interchange stations along the Piccadilly line &#45; Finsbury Park, Green Park, Hammersmith, and King's Cross St Pancras stations, in particular &#45; will continue to be much busier than usual.</p>
<p>Around 70 additional buses will be in operation to help customers complete their journeys. The Mayor's Hopper fare is available all day and night - allowing Londoners to take unlimited bus and tram journeys across the capital within an hour for just &pound;1.50. Tube tickets will also be accepted on buses for reasonable alternative routes.</p>
<p><strong>Nigel Holness, TfL's Director of Network Operations for London Underground, said</strong>: &quot;I apologise to customers who are suffering three days of disruption for no good reason. The RMT unilaterally ended discussions at ACAS on Tuesday and made no attempt to engage with us to try and resolve this dispute. Despite our request to meet the RMT at ACAS they haven't yet agreed to talks. I encourage all customers to check before they travel, and reiterate that we remain available for talks with the RMT at any time.&quot;</p>
<p>TfL Travel Ambassadors will be at key locations to provide travel information and advice to customers affected by this action.</p>
<p>Customers can keep up-to-date with the latest service information in a variety of ways, including:</p>
<ul>
    <li>Information on the TfL website at <a href="http://www.tfl.gov.uk/tube-strike">www.tfl.gov.uk/tube-strike</a></li>
    <li>Real-time information on the TfL Twitter accounts, including &#64;TfLTravelAlerts and &#64;piccadillyline, as well as the TfL Travelbot on Facebook messenger</li>
</ul>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
                <a href="/info-for/media/index" class="heading">
                    <h2 id="sub-menu-heading">Media<span class="visually-hidden"> navigation</span></h2>
                </a>
                <ul>
                    
                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases">Press releases</a></div>
                                <ul>
                                    
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2020">2020</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019">2019</a></div></li>
                            
 
                                        <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018">2018</a></div>
                                        <ul>
                                            
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018/january">January</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018/february">February</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018/march">March</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018/april">April</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018/may">May</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018/june">June</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018/july">July</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018/august">August</a></div></li>
                                    
 
                                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018/september">September</a></div>
                                                <ul>
                                                    
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
                                                </ul>
                                            
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018/october">October</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018/november">November</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018/december">December</a></div></li>
                                    
 
                                        </ul>
                                    </li>
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017">2017</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016">2016</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015">2015</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014">2014</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2013">2013</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2012">2012</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2011">2011</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2010">2010</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2009">2009</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2008">2008</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2007">2007</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2006">2006</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2005">2005</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2004">2004</a></div></li>
                            
 
                                </ul>
                            </li>
 
                                <li><div class="link-wrapper"><a href="/info-for/media/photos">Photos</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/media/contact-the-press-office">Contact the Press Office</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/filming-and-photography">Filming & photography</a></div></li>
                            
 
                </ul>
            
 
 
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype: -Home-Media-Media-Press releases-2018-September-REMINDER: Piccadilly line strike action to continue today -->

 
 
        
        
            @{ViewBag.Description = "REMINDER: Piccadilly line strike action to continue today";}
        
        


 