


@{ViewBag.Title = "Streets across London will be transformed for communities on World Car Free Day";}
        
        
<div class="r">
    <div class="breadcrumb-container" role="navigation">
        <span id="breadcrumb-label" class="visually-hidden">You are here:</span>
        <ol class="breadcrumbs clearfix" aria-labelledby="breadcrumb-label">
            <li class="home">
                <a href="/">
                    <span class="hide-text">Home</span>
                </a>
            </li>
            
                <li>
                    <a href="/info-for/media/index">Media</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases">Press releases</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases/2018">2018</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases/2018/september">September</a>
                </li>
                
                <li>
                    <span class="last-breadcrumb">Streets across London will be transformed for communities on World Car Free Day</span>
                </li>
            
 
            
 
            
 
            
 
            
 
        </ul>
    </div>
</div>
     
 
<div class="r">
    <div class="headline-container plain">
        <h1>Streets across London will be transformed for communities on World Car Free Day</h1>
        <div class="content-page-press-release">
        18 September 2018
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        Car free streets encourage people to celebrate street play, with benefits for local communities, air quality, walking and cycling
        
    </div>



<div class="pull-quote">
        <div class="quote-body">"Our support for London Play will transform neighbourhoods for families and offer a valuable opportunity to inspire long-term change, helping build on our work to reduce reliance on cars and clean up the capital's dangerously polluted air"</div>
        <div class="quote-footer">
            <div class="quotee-name">Heidi Alexander</div>
            <div class="quotee-job-title">Deputy Mayor for Transport</div>
        </div>
</div>

 <div class="on-this-page">
<p>The Mayor and TfL are giving people across London the opportunity to make the most of traffic free streets on World Car Free Day, and play, meet, walk, cycle and enjoy.</p>
<p>Around 50 streets across London from Hackney to Ealing will be traffic free on 22 September to help encourage people to ditch their cars and reclaim streets from traffic, which will open up spaces to the whole community.</p>
<p>By supporting London Play, a charity that works to give children the freedom to play by shutting roads to traffic, streets across the capital will be traffic free for the day.</p>
<p>Play streets, where roads are regularly shut to traffic for a few hours each week or month offer more than just a safe space for children to play outside with their friends, they also encourage a sense of community, as well as making sure streets feel friendlier and safer.</p>
<p>London Play has been working to transform streets into safe, fun places for children since 2008.</p>
<h2>Sense of community</h2>
<p>Poor air quality is estimated to contribute to more than 40,000 premature deaths across the country each year, with emissions from cars and vans estimated to cost &pound;6bn annually.</p>
<p>Supporting streets without cars is part of the Mayor and TfL's efforts to make London's communities greener, healthier and more attractive places to live, work, play and do business.</p>
<p>Heidi Alexander, Deputy Mayor for Transport, said: 'I'm delighted that Londoners will be able to enjoy more than 40 streets without traffic noise and exhaust fumes on World Car Free Day.</p>
<p>'Our support for London Play will transform neighbourhoods for families and offer a valuable opportunity to inspire long-term change, helping build on our work to reduce reliance on cars and clean up the capital's dangerously polluted air.'</p>
<p>Christina Calderato, Head of Delivery Planning at Transport for London, said: 'We're really pleased to be working with London Play and the boroughs to transform residential streets into traffic free zones for World Car Free Day this September.</p>
<p>'We hope that in doing so, people will start to view streets as valuable public spaces, where you can also meet, play, walk and cycle. By creating Healthy Streets, we aim to improve the quality of life for everyone in London.'</p>
<p>Fiona Sutherland, Deputy Director at London Play said: 'Streets make up 80% of London's public space, a valuable community resource which has largely been given up for the sole use of cars, parked or moving.</p>
<p>'Play streets are a simple concept giving local residents the opportunity to temporarily reclaim that space to come together informally with their neighbours, get active, build friendships and stronger communities as a result. We hope Car Free Day will inspire more people to start regular play sessions on their streets.'</p>
<h2>Supports boroughs</h2>
<p>The Royal Borough of Greenwich is one of seven boroughs to share funding from the Mayor's &pound;114m Liveable Neighbourhoods programme, which supports boroughs to improve their local environments, enabling walking, cycling and the use of public transport.</p>
<p>Their successful bid to transform the area was in part due to their commitment to making the making the town centre better for walking and cycling.</p>
<p>This will be promoted during their car free event in Greenwich Town Centre on World Car Free Day. The event will feature street performers, live music and children's activities, as well as trials of electric bikes and cycle checks.</p>
<p>Cllr Danny Thorpe, Leader of the Royal Borough of Greenwich, said: 'Our long term vision is to remove traffic from Greenwich town centre permanently, making it cleaner and safer to walk and cycle.</p>
<p>'Reclaiming roads from cars means healthy streets with space to walk, play, sit and relax. I would encourage everyone to come along and take part in the festivities to support local businesses and help us shape our plans.'</p>
<p>Cllr Feryal Demirci, Deputy Mayor of Hackney, said: 'We are proud to have introduced Play Streets to London back in 2012, and now have over 40 operating in the borough.</p>
<p>'This World Car Free Day, we're partnering with Hackney Play Association to run over a dozen Play Streets simultaneously across Hackney, showcasing their transformative power to reclaim streets for play and promote walking, cycling and better air quality.'</p>
<p>Councillor Mik Sabiers, Ealing Council Cabinet Member for Environment and Highways said: 'Sadly, air pollution contributes to the early death of almost 9,500 Londoners every year with car emissions being the main contributing factor.</p>
<p>'That is why Ealing Council is backing World Car Free Day and I'd like to encourage our residents to leave their cars at home on 22 September and enjoy our local streets to their fullest.'</p>
<h2>Mayor's Healthy Streets Approach</h2>
<p>Londoners across the city can get involved in World Car Free Day no matter where they live. With the Mayor's Hopper Fare, allowing unlimited bus changes in an hour for just &pound;1.50 on Europe's largest greenest bus network, more than 11,000 Santander Cycle bikes available for hire and a growing network of cycling infrastructure across London, ditching the car in London has never been easier.</p>
<p>TfL's Liveable Neighbourhoods programme provides a further opportunity for boroughs to bid for funding to deliver long term projects that encourage walking, cycling and the use of public transport, in line with the Mayor's Healthy Streets Approach.</p>
<p>The programme will provide grants of between &pound;1 million and &pound;10 million for a wide range of community-supported projects, which could include the creation of green spaces, new cycling infrastructure, redesigned junctions and the widening of walking routes to improve access to local shops, businesses and public transport.</p>
<p>Alongside Greenwich, Ealing, Hackney, Haringey, Havering, Lewisham and Waltham Forest boroughs were all successful in their initial bids last year, with projects ranging from a new square in Crouch End to the creation of a traffic free route along the former Grand Surrey Canal in Deptford.</p>
<p>&nbsp;</p>
<hr />
<p>&nbsp;</p>
<p><strong>Notes to editors</strong></p>
<ul>
    <li>•	Street closures happening in the capital are part of a wider national movement spreading round the country where parents are working with neighbours to close their streets and open them up for play on a regular basis - 900 communities around the UK so far - bringing back a culture of children playing out and knitting together neighbours and communities again. You can find out more about Playing Out, who supports this movement, here: <a href="http://www.playingout.net">www.playingout.net</a></li>
    <li><a href="http://www.playingout.net Find out more about London Play here: londonplay.org.uk/">Find out more about London Play here: londonplay.org.uk/</a></li>
    <li>Further information on Greenwich town centre's car free event can be found here: <a href="http://www.royalgreenwich.gov.uk/carfreeday">royalgreenwich.gov.uk/carfreeday</a></li>
    <li>The Mayor's Transport Strategy can be found here: <a href="https://tfl.gov.uk/corporate/about-tfl/the-mayors-transport-strategy">tfl.gov.uk/corporate/about-tfl/the-mayors-transport-strategy</a></li>
    <li>Healthy Streets for London can be found here: <a href="http://content.tfl.gov.uk/healthy-streets-for-london.pdf">content.tfl.gov.uk/healthy-streets-for-london.pdf</a></li>
    <li>The full list of streets taking part in Play Streets are as follows:</li>
</ul>
<div class="table-container"><table>
    <tbody>
        <tr>
            <td>Borough</td>
            <td>Road</td>
        </tr>
        <tr>
            <td>Barnet</td>
            <td>Woodfield Drive&nbsp;</td>
        </tr>
        <tr>
            <td>Camden</td>
            <td>Islip Street Kentish Town School</td>
        </tr>
        <tr>
            <td>Ealing</td>
            <td>Dordrecht Road</td>
        </tr>
        <tr>
            <td>Ealing</td>
            <td>Boileau Road</td>
        </tr>
        <tr>
            <td>Ealing</td>
            <td>Brentham Way &amp; Winscombe Crescent</td>
        </tr>
        <tr>
            <td>Ealing</td>
            <td>St Mark's Road</td>
        </tr>
        <tr>
            <td>Ealing</td>
            <td>
            <p>Bradley Gardens</p>
            </td>
        </tr>
        <tr>
            <td>Ealing</td>
            <td>Salisbury Road</td>
        </tr>
        <tr>
            <td>Enfield</td>
            <td>Amberley Road</td>
        </tr>
        <tr>
            <td>Enfield</td>
            <td>Riverside Gardens</td>
        </tr>
        <tr>
            <td>Enfield</td>
            <td>Granville Road</td>
        </tr>
        <tr>
            <td>Enfield</td>
            <td>Lovell Road (Honilands Primary School)</td>
        </tr>
        <tr>
            <td>Enfield</td>
            <td>Ollerton Road</td>
        </tr>
        <tr>
            <td>Enfield</td>
            <td>Burlington Road</td>
        </tr>
        <tr>
            <td>Greenwich</td>
            <td>Greenwich Town Centre</td>
        </tr>
        <tr>
            <td>Hackney</td>
            <td>Albion Drive</td>
        </tr>
        <tr>
            <td>Hackney</td>
            <td>Forest Grove</td>
        </tr>
        <tr>
            <td>Hackney</td>
            <td>Oldfield Road</td>
        </tr>
        <tr>
            <td>Hackney</td>
            <td>Coopersale Road</td>
        </tr>
        <tr>
            <td>Hackney</td>
            <td>Woodberry Down Estate</td>
        </tr>
        <tr>
            <td>Hackney</td>
            <td>Middleton Road</td>
        </tr>
        <tr>
            <td>Hackney</td>
            <td>Harcombe Road</td>
        </tr>
        <tr>
            <td>Hackney</td>
            <td>Lewis Place</td>
        </tr>
        <tr>
            <td>Hackney</td>
            <td>Sharon Gardens</td>
        </tr>
        <tr>
            <td>Hackney</td>
            <td>Navarino Mansions</td>
        </tr>
        <tr>
            <td>Hackney</td>
            <td>Winston Road</td>
        </tr>
        <tr>
            <td>Hackney</td>
            <td>Foulden Road</td>
        </tr>
        <tr>
            <td>Hackney</td>
            <td>Pembury Estate</td>
        </tr>
        <tr>
            <td>Hackney</td>
            <td>Daubeney Road</td>
        </tr>
        <tr>
            <td>Hackney</td>
            <td>Roding Road</td>
        </tr>
        <tr>
            <td>Hackney</td>
            <td>Herbert Butler Estate</td>
        </tr>
        <tr>
            <td>Haringey</td>
            <td>Mount Pleasant Road</td>
        </tr>
        <tr>
            <td>Haringey</td>
            <td>Perth Road</td>
        </tr>
        <tr>
            <td>Islington</td>
            <td>Giesbach Road</td>
        </tr>
        <tr>
            <td>Kingston upon Thames</td>
            <td>Mill Street</td>
        </tr>
        <tr>
            <td>Lambeth</td>
            <td>Priory Grove</td>
        </tr>
        <tr>
            <td>Lambeth</td>
            <td>Barnwell Road</td>
        </tr>
        <tr>
            <td>Newham</td>
            <td>Tylney Road</td>
        </tr>
        <tr>
            <td>Newham</td>
            <td>Cecil Road</td>
        </tr>
        <tr>
            <td>Newham</td>
            <td>Mafeking Road</td>
        </tr>
        <tr>
            <td>Newham</td>
            <td>Dyson Rd</td>
        </tr>
        <tr>
            <td>Newham</td>
            <td>Sidney Rd</td>
        </tr>
        <tr>
            <td>Richmond</td>
            <td>Crown Road</td>
        </tr>
        <tr>
            <td>Richmond</td>
            <td>Whittaker Avenue</td>
        </tr>
        <tr>
            <td>Southwark</td>
            <td>Upland Road</td>
        </tr>
        <tr>
            <td>Southwark</td>
            <td>Melbourne Grove</td>
        </tr>
        <tr>
            <td>Southwark</td>
            <td>Bermondsey Street</td>
        </tr>
        <tr>
            <td>Waltham Forest</td>
            <td>Pevensey Road</td>
        </tr>
    </tbody>
</table></div>
<p>&nbsp;</p>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
                <a href="/info-for/media/index" class="heading">
                    <h2 id="sub-menu-heading">Media<span class="visually-hidden"> navigation</span></h2>
                </a>
                <ul>
                    
                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases">Press releases</a></div>
                                <ul>
                                    
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2020">2020</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019">2019</a></div></li>
                            
 
                                        <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018">2018</a></div>
                                        <ul>
                                            
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018/january">January</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018/february">February</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018/march">March</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018/april">April</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018/may">May</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018/june">June</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018/july">July</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018/august">August</a></div></li>
                                    
 
                                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018/september">September</a></div>
                                                <ul>
                                                    
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
                                                </ul>
                                            
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018/october">October</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018/november">November</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018/december">December</a></div></li>
                                    
 
                                        </ul>
                                    </li>
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017">2017</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016">2016</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015">2015</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014">2014</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2013">2013</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2012">2012</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2011">2011</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2010">2010</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2009">2009</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2008">2008</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2007">2007</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2006">2006</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2005">2005</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2004">2004</a></div></li>
                            
 
                                </ul>
                            </li>
 
                                <li><div class="link-wrapper"><a href="/info-for/media/photos">Photos</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/media/contact-the-press-office">Contact the Press Office</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/filming-and-photography">Filming & photography</a></div></li>
                            
 
                </ul>
            
 
 
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype: -Home-Media-Media-Press releases-2018-September-Streets across London will be transformed for communities on World Car Free Day -->

 
 
        
        
            @{ViewBag.Description = "Streets across London will be transformed for communities on World Car Free Day";}
        
        


 