


@{ViewBag.Title = "TfL announces final stage of Woolwich Ferry upgrade";}
        
        
<div class="r">
    <div class="breadcrumb-container" role="navigation">
        <span id="breadcrumb-label" class="visually-hidden">You are here:</span>
        <ol class="breadcrumbs clearfix" aria-labelledby="breadcrumb-label">
            <li class="home">
                <a href="/">
                    <span class="hide-text">Home</span>
                </a>
            </li>
            
                <li>
                    <a href="/info-for/media/index">Media</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases">Press releases</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases/2018">2018</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases/2018/september">September</a>
                </li>
                
                <li>
                    <span class="last-breadcrumb">TfL announces final stage of Woolwich Ferry upgrade</span>
                </li>
            
 
            
 
            
 
            
 
            
 
        </ul>
    </div>
</div>
     
 
<div class="r">
    <div class="headline-container plain">
        <h1>TfL announces final stage of Woolwich Ferry upgrade</h1>
        <div class="content-page-press-release">
        24 September 2018
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        Work will take place between 6 October and the end of the year to replace the berths to accommodate the brand new boats
        
    </div>



<div class="pull-quote">
        <div class="quote-body">"The ferries will improve accessibility, provide separate waiting areas for pedestrians and cyclists and carry more vehicles. The boats will also be powered by a hybrid engine, which will greatly reduce emissions and noise"</div>
        <div class="quote-footer">
            <div class="quotee-name">David Fisher</div>
            <div class="quotee-job-title">Head of London River Services at TfL</div>
        </div>
</div>

 <div class="on-this-page">
<p>
TfL is replacing the Woolwich Ferry with new, modern, low-emission boats that will start operating in January.</p>
<p>The new ferries will have increased capacity, cycle-specific facilities and use a quieter, low-emission engine, all helping to deliver the Mayor's ambition to grow river transport and improve air quality.</p>
<p>
The construction of the new berths, which are required for the new, larger ferries, began in June 2018. The next stage of this complex work will require closure of the service from 6 October until the end of the year while the berths are being replaced.</p>
<p>During this period drivers will need to use alternative routes and can plan their journey through TfL's website. The Woolwich Foot Tunnel will remain open for foot passengers and cyclists throughout the work.</p>
<p>David Fisher, Head of London River Services at TfL, said: 'We are really excited about the benefits that these new ferries will bring to Londoners and we will do our best to limit disruption during the essential work.</p>
<p>'We recognise how important this service is, particularly to local users, and thank everyone for their patience. The much needed new ferries will replace the current boats, which have given London excellent service for the last 55 years.</p>
<p>'We are also installing brand new berths that will include an enhanced auto-mooring system. The ferries will improve accessibility, provide separate waiting areas for pedestrians and cyclists and carry more vehicles. The boats will also be powered by a hybrid engine, which will greatly reduce emissions and noise.'</p>
<p>The new ferries will provide 14% extra space than the current vessels and will be able to carry 150 passengers, with a total of 210 metres of space for vehicles and dedicated cyclist spaces across four lanes.</p>
<p>The boats will be powered by a hybrid-propulsion engine, providing greater fuel efficiency and low noise. They are fitted with equipment to reduce emissions to 90% less Particulate Matter and 70% less NOx than legal standards.</p>
<p>
The new berths incorporate high-tech auto-mooring systems, which will secure the vessels in the berth using magnetic technology.</p>
<p>This removes the need for engine power while mooring is taking place and helps reduce emissions further. It also makes the vessels more stable, improving the ease of boarding and alighting for customers.</p>
<p>
The new vessels have been named 'Ben Woollacott', after a former deckhand who sadly died while working on the ferry in August, 2011 and 'Dame Vera Lynn', after the legendary singer from east London.</p>
<p>&nbsp;</p>
<hr />
<p>&nbsp;</p>
<p><strong>Notes to editors</strong></p>
<ul>
    <li>River vessels are responsible for around 1% to 2% of London's total pollution. The Mayor does not have any direct powers to control emissions from the River. The Port of London Authority has recently published its strategy to reduce emissions from the river: <a href="https://www.pla.co.uk/environment/Air-Quality-andGreen-Tariff/Air-Quality">https://www.pla.co.uk/environment/Air-Quality-andGreen-Tariff/Air-Quality</a></li>
    <li>Transport for London will continue to work with the PLA where they can to help implement the strategy. The Mayor has also asked the Government to create a single regulator for the Thames to help make ensure that River emissions can be effectively tackled across all types of vessels</li>
    <li>In 2017, in preparation of the piling works for the new berths, a survey of the riverbed was completed and identified eight potential sites which could have contained unexploded World War II bombs. A dive team therefore was recruited to undertake a number of dives and inspect the sites further. It was confirmed that no unexploded devices are located in the river bed where construction will be taking place</li>
    <li>In June and July 2018, TfL installed new restraint piles behind the existing berthing structures in preparation for the final phase of works</li>
    <li>Emissions limits for 'inland waterway vessels', which covers the majority of the vessels on the Thames, are    set by the European Union in regulations for 'Non-Road Mobile Machinery'. Emissions limits for international shipping, such as cruise liners and cargo vessels, are set worldwide by the International Maritime Organisation as part of their MARPOL regulations</li>
    <li>The new boats have two diesel generators and a large battery to provide electrical power to four thruster propellers, a design that maximises reliability and minimises emissions and will ensure a reliable river crossing in East London for many years to come. The two diesel generators have been fitted with Diesel Particulate Filters and Selective Catalytic Reduction systems to further reduce their particulate emissions by 90% and NOx emissions by 70%</li>
    <li>A ferry service across the Thames at Woolwich has existed since 1308, pre-dating any bridge or tunnel river crossings in London. The current Roll-on Roll-off ferry facilities opened in the early 1960s and currently carries around a million vehicles and circa 1.8 million passengers a year across the River Thames</li>
    <li>Following an 1885 Act of Parliament, the service became free for users. It serves foot passengers, cyclists and vehicles. It runs between Woolwich (in the Royal Borough of Greenwich) and North Woolwich (in the London Borough of Newham) linking the north and south circular roads across the Thames. The service has been operated by Briggs Marine Ltd on behalf of TfL since October 2013</li>
    <li>Drivers can plan alternative routes through TfL's website at: <a href="https://tfl.gov.uk/plan-a-journey/">tfl.gov.uk/plan-a-journey/</a></li>
</ul>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
                <a href="/info-for/media/index" class="heading">
                    <h2 id="sub-menu-heading">Media<span class="visually-hidden"> navigation</span></h2>
                </a>
                <ul>
                    
                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases">Press releases</a></div>
                                <ul>
                                    
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2020">2020</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019">2019</a></div></li>
                            
 
                                        <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018">2018</a></div>
                                        <ul>
                                            
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018/january">January</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018/february">February</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018/march">March</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018/april">April</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018/may">May</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018/june">June</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018/july">July</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018/august">August</a></div></li>
                                    
 
                                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018/september">September</a></div>
                                                <ul>
                                                    
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
                                                </ul>
                                            
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018/october">October</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018/november">November</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018/december">December</a></div></li>
                                    
 
                                        </ul>
                                    </li>
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017">2017</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016">2016</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015">2015</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014">2014</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2013">2013</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2012">2012</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2011">2011</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2010">2010</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2009">2009</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2008">2008</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2007">2007</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2006">2006</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2005">2005</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2004">2004</a></div></li>
                            
 
                                </ul>
                            </li>
 
                                <li><div class="link-wrapper"><a href="/info-for/media/photos">Photos</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/media/contact-the-press-office">Contact the Press Office</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/filming-and-photography">Filming & photography</a></div></li>
                            
 
                </ul>
            
 
 
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype: -Home-Media-Media-Press releases-2018-September-TfL announces final stage of Woolwich Ferry upgrade -->

 
 
        
        
            @{ViewBag.Description = "TfL announces final stage of Woolwich Ferry upgrade";}
        
        


 