


@{ViewBag.Title = "TfL consults on changes to the central London Bus Network";}
        
        
<div class="r">
    <div class="breadcrumb-container" role="navigation">
        <span id="breadcrumb-label" class="visually-hidden">You are here:</span>
        <ol class="breadcrumbs clearfix" aria-labelledby="breadcrumb-label">
            <li class="home">
                <a href="/">
                    <span class="hide-text">Home</span>
                </a>
            </li>
            
                <li>
                    <a href="/info-for/media/index">Media</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases">Press releases</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases/2018">2018</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases/2018/september">September</a>
                </li>
                
                <li>
                    <span class="last-breadcrumb">TfL consults on changes to the central London Bus Network</span>
                </li>
            
 
            
 
            
 
            
 
            
 
        </ul>
    </div>
</div>
     
 
<div class="r">
    <div class="headline-container plain">
        <h1>TfL consults on changes to the central London Bus Network</h1>
        <div class="content-page-press-release">
        28 September 2018
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">



 <div class="on-this-page">
<p>Transport for London (TfL) has today (Friday 28 September) published its proposals to modernise the bus network in central London. The changes, the first to comprehensively address the central network in 16 years, will enable the capital's bus network to grow in outer London, while adapting underused and inefficient services in central London that contribute to congestion and the damaging effects of air pollution. The proposals are about providing the right number of buses, in the right place, at the right time.</p>
<p>The plans, which are now open for public consultation, would reshape the central London bus network to respond to current and predicted passenger demand mainly through frequency changes or partially restructured routes.</p>
<p>While spare capacity is removed in central London and air quality improved, TfL is planning increases in outer London bus mileage, in areas where improvements to public transport are most needed.</p>
<p>Central London has dramatically changed in recent years but its bus network has not. In the last three years demand for buses in central London has dropped by 12 per cent. A key reason for this is the increased transport options available as a result of upgrades to the Tube and Overground network and investment in cycling and walking.</p>
<p>The last time there was such a comprehensive review of the central London bus network was before the Congestion Charge was introduced. As a result there are some extremely complicated and inefficient sections of the road network. Some roads in central London, such as Kingsway in Holborn, are now served by more than 100 buses an hour, many of which are significantly underused. This oversupply of buses can cause congestion, slowing down journey times and worsening reliability, air quality and road safety.</p>
<p>If no action is taken, GLA figures show that by 2041, three days would be lost per person every year due to congestion on London's roads, and 50,000 hours would be lost to slower bus speeds in the morning peak every day.</p>
<p>To ease pinch points where routes overlap, it is intended that some routes will be shortened, providing an interchange onto other services that will continue to serve final destinations. On Kingsway, for example, TfL can reduce the number of buses per hour by 10 while still ensuring enough buses and interchanges remain to maintain connectivity. Passengers can now use the Mayor's Hopper Fare to change buses unlimited times within an hour for just &pound;1.50. It is also proposed that the frequency of some other services is adjusted to reflect demand better, while protecting journey times.</p>
<p><strong>Geoff Hobbs, Director of Public Transport Service Planning at TfL, said:</strong> `Buses have a crucial role to play in boosting the number of people using public transport, but they can't do this without reflecting how London has changed. It is only right that we reassess the network after the significant changes in both London's infrastructure and how Londoners choose to travel. Londoners expect their buses to be where they are needed and run in an efficient and cost-effective manner and that's what this review is about.</p>
<p>`Our proposals to reorganise the bus network would modernise bus travel in London by matching capacity with demand, reducing bus-on-bus congestion while enabling year-on-year increases in bus services in outer London. In adapting underused and inefficient services in central London, our plans will help reduce pollution that has such a damaging effect on the health on Londoners.</p>
<p>&quot;Ultimately these changes, which are predominately minor route restructures or timetable adjustments, would create an efficient modern network with buses in the right places at the right times.'</p>
<p><strong>Tass Mavrogordato, Chief Executive of BEE Midtown Business Improvement District, said</strong>: `BEE Midtown represents over 400 businesses in the broader Holborn area, which is experiencing growth as a commercial centre, and with the Elizabeth line due to make it even better connected, this growth will continue. Improving air quality and relieving congestion are two of our priorities as they can make a massive difference to the quality of experience at street level and complement this growth. We welcome this modernisation of central London's bus network as, together with the Mayor's Bus Hopper fare, the vital and affordable transport links through central London will be maintained while it becomes more efficient and reliable.'</p>
<p>TfL is also committed to ensuring its bus fleet modernises with its network. The ultimate aim is for an affordable, accessible, safe, zero-emission, simple-to-use network, which would enable the Mayor's ambition of 80 per cent of trips in London to be by foot, cycle or public transport and supports key growth areas. Subject to the consultation, which ends on 9 November, the first changes could begin to be made from spring 2019.</p>
<p>Notes to editors</p>
<ul>
    <li>To respond to the consultation visit <a href="http://tfl.gov.uk/central-London-bus-consultation">tfl.gov.uk/central-London-bus-consultation</a></li>
    <li>TfL has ensured that where any route is proposed to be curtailed or withdrawn, there are parallel routes with available capacity</li>
    <li>TfL's proposals would affect 33 routes, less than six per cent of the more than 620 routes in London</li>
    <li>TfL's proposals would result in around a six per cent increase in the number of daily interchanges being made by passengers. Each day, on average, more than 400,000 bus interchanges are made</li>
    <li>Given that these proposals relate to bus routes where multiple services operate on the same road, just 0.4 per cent of roads currently served by these routes, would no longer be served by a bus under these proposals</li>
    <li>TfL is working to improve real-time passenger information and would also work with bus operators to ensure drivers are better able to assist customers where new changes have been introduced. TfL has worked closely with the relevant London boroughs and stakeholders to review its proposals</li>
    <li>TfL will continue to work with local authorities and stakeholders throughout the consultation to identify where improvements to the public realm and bus facilities would complement the proposed network changes</li>
    <li>TfL's investment in the London Underground has resulted in significantly increased capacity. New modern trains and signalling on the Victoria line has created capacity for more than 10,000 extra passengers an hour while improvements to timetabling has almost doubled the length of the higher-frequency period on the Northern and Jubilee lines, increasing capacity when it is needed most. Further capacity enhancements are also due to be delivered on the District, Circle, Metropolitan and Hammersmith and City lines</li>
    <li>In addition to capacity enhancements on the existing Tube and Overground network, the introduction of the Elizabeth line will add ten per cent to London's rail capacity and is estimated to lead to 40 million customers moving from buses to the railway</li>
</ul>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
                <a href="/info-for/media/index" class="heading">
                    <h2 id="sub-menu-heading">Media<span class="visually-hidden"> navigation</span></h2>
                </a>
                <ul>
                    
                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases">Press releases</a></div>
                                <ul>
                                    
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2020">2020</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019">2019</a></div></li>
                            
 
                                        <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018">2018</a></div>
                                        <ul>
                                            
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018/january">January</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018/february">February</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018/march">March</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018/april">April</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018/may">May</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018/june">June</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018/july">July</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018/august">August</a></div></li>
                                    
 
                                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018/september">September</a></div>
                                                <ul>
                                                    
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
                                                </ul>
                                            
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018/october">October</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018/november">November</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018/december">December</a></div></li>
                                    
 
                                        </ul>
                                    </li>
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017">2017</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016">2016</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015">2015</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014">2014</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2013">2013</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2012">2012</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2011">2011</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2010">2010</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2009">2009</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2008">2008</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2007">2007</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2006">2006</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2005">2005</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2004">2004</a></div></li>
                            
 
                                </ul>
                            </li>
 
                                <li><div class="link-wrapper"><a href="/info-for/media/photos">Photos</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/media/contact-the-press-office">Contact the Press Office</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/filming-and-photography">Filming & photography</a></div></li>
                            
 
                </ul>
            
 
 
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype: -Home-Media-Media-Press releases-2018-September-TfL consults on changes to the central London Bus Network -->

 
 
        
        
            @{ViewBag.Description = "TfL consults on changes to the central London Bus Network";}
        
        


 