


@{ViewBag.Title = "Tour of Britain finale arrives in the capital on Sunday";}
        
        
<div class="r">
    <div class="breadcrumb-container" role="navigation">
        <span id="breadcrumb-label" class="visually-hidden">You are here:</span>
        <ol class="breadcrumbs clearfix" aria-labelledby="breadcrumb-label">
            <li class="home">
                <a href="/">
                    <span class="hide-text">Home</span>
                </a>
            </li>
            
                <li>
                    <a href="/info-for/media/index">Media</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases">Press releases</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases/2018">2018</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases/2018/september">September</a>
                </li>
                
                <li>
                    <span class="last-breadcrumb">Tour of Britain finale arrives in the capital on Sunday</span>
                </li>
            
 
            
 
            
 
            
 
            
 
        </ul>
    </div>
</div>
     
 
<div class="r">
    <div class="headline-container plain">
        <h1>Tour of Britain finale arrives in the capital on Sunday</h1>
        <div class="content-page-press-release">
        06 September 2018
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        Some of the world's top cyclists, including Tour de France champions Geraint Thomas and Chris Froome, will race around a fourteen lap circuit through central London
        
    </div>



<div class="pull-quote">
        <div class="quote-body">"Events like this help inspire Londoners to start cycling or cycle more as part of our everyday lives - improving our health and tackling air pollution"</div>
        <div class="quote-footer">
            <div class="quotee-name">Will Norman</div>
            <div class="quotee-job-title">London's Walking and Cycling Commissioner</div>
        </div>
</div>

 <div class="on-this-page">
<p>The world's top cycling professionals will descend on central London this Sunday for the final stage of the OVO Energy Tour of Britain, presented by TfL.</p>
<p>The 5.5km free to watch circuit is one of the highlights of the capital's sporting calendar and will start and finish on Regent Street St James's. It will take in iconic sights such as Big Ben, Trafalgar Square and Piccadilly Circus, with cyclists reaching speeds of up to 80kph over the 77km race.</p>
<p>Many of the world's top cycling teams, including Team Sky and Quick-Step Floors, will be taking part, along with the Great Britain national cycling team.</p>
<p>There will be space to get involved and watch the race along the circuit, a free tour village on Trafalgar Square showing full live coverage on a big screen and the chance to test the latest in electric bike technology.</p>
<p>Previous races have transformed central London into a celebration of cycling, creating inspirational scenes and atmosphere to encourage people onto their bikes.</p>
<p>London has seen a sustained boom in the numbers of people cycling over the past decade, with nearly three quarters of a million cycle trips now made in the capital each day. The recent RideLondon FreeCycle event saw 70,000 cyclists take to traffic-free streets in the heart of London.</p>
<h2>Sustained boom</h2>
<p>To facilitate this exciting finale, roads in central London will close so Tube and rail will be the best way to get around on the day.</p>
<p>All Santander Cycles docking stations will remain open for Londoners who want to get into the spirit of the event by getting around the open roads on two wheels.</p>
<p>Road users should allow more time for journeys and consider alternative routes on Sunday 9 September. The closures will also mean roads near the race will be busier than usual and some central London bus routes will be diverted or terminate early.</p>
<p>Full details of changes to travel can be found by searching TfL Tour of Britain.</p>
<p>Will Norman, London's Walking and Cycling Commissioner, said: 'The Tour of Britain finale welcomes the world's best cyclists to London and showcases some of our most famous sights.</p>
<p>'Events like this help inspire Londoners to start cycling or cycle more as part of our everyday lives - improving our health and tackling air pollution.'</p>
<h2>Exciting finale</h2>
<p>Gareth Powell, TfL's Managing Director of Surface Transport, said: 'Cycling in the capital continues to go from strength to strength and it's fantastic to see the Tour return to the capital.</p>
<p>'Seeing some of the world's best cyclists race through central London will create a truly memorable atmosphere and will encourage even more Londoners to get onto their bikes and take advantage of all that cycling has to offer.</p>
<p>Mick Bennett, Race Director for the OVO Energy Tour of Britain said: 'The route for the London stage is iconic, passing world famous landmarks such as Trafalgar Square and Piccadilly Circus, and really is a fitting backdrop for the world's top cyclists to race in front of.</p>
<p>'Every year the London stage proves to be highly popular with spectators, and we know this year will be no different with sports fans from across the country taking the opportunity to watch the likes of Geraint Thomas and Chris Froome racing on the streets of London.'</p>
<h2>Investing in cycling</h2>
<p>The Mayor and TfL are committed to investing in cycling right across London. A new route through central London, Cycle Superhighway 6, will be opening in the autumn and almost 100km of Quietways been built so far, with a number of new routes, including Quietway 2 from Bloomsbury to Walthamstow now open.</p>
<p>The Mayor is also investing in TfL's Liveable Neighbourhoods programme which provides a further opportunity for boroughs to bid for funding to deliver long term projects that encourage walking, cycling and the use of public transport.</p>
<p>Dangerous and outdated junctions across London, such Highbury Corner, are also being transformed to reduce danger to people walking and cycling.</p>
<p>Advance warning signs are in place on the race route to advise road users of the closures required to ensure the safety of competitors and spectators, and TfL will be providing live information through the &#64;tfltrafficnews Twitter feed and on the TfL website to help drivers plan their journey - <a href="https://tfl.gov.uk/traffic/status/?cid=trafficnews">tfl.gov.uk/trafficnews</a>. Bus customers can follow the &#64;tflbusalerts Twitter feed for live information.</p>
<p><hr /></p>
<p><strong>Notes to editors</strong></p>
<ul>
    <li>A map of the Tour of Britain final stage route in London and details of the road closures involved can be found at <a href="https://tfl.gov.uk/status-updates/major-works-and-events/tour-of-britain-2018?cid=tour-of-britain">tfl.gov.uk/tour-of-britain</a></li>
    <li>The Tour of Britain, the UK's biggest professional cycle race and the country's largest annual free-to-spectate sporting event, was re-launched in 2004. This year the eight day race started in Wales and features daily live television coverage on ITV4 of every stage</li>
</ul>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
                <a href="/info-for/media/index" class="heading">
                    <h2 id="sub-menu-heading">Media<span class="visually-hidden"> navigation</span></h2>
                </a>
                <ul>
                    
                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases">Press releases</a></div>
                                <ul>
                                    
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2020">2020</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019">2019</a></div></li>
                            
 
                                        <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018">2018</a></div>
                                        <ul>
                                            
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018/january">January</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018/february">February</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018/march">March</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018/april">April</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018/may">May</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018/june">June</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018/july">July</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018/august">August</a></div></li>
                                    
 
                                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018/september">September</a></div>
                                                <ul>
                                                    
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
                                                </ul>
                                            
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018/october">October</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018/november">November</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018/december">December</a></div></li>
                                    
 
                                        </ul>
                                    </li>
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017">2017</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016">2016</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015">2015</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014">2014</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2013">2013</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2012">2012</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2011">2011</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2010">2010</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2009">2009</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2008">2008</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2007">2007</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2006">2006</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2005">2005</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2004">2004</a></div></li>
                            
 
                                </ul>
                            </li>
 
                                <li><div class="link-wrapper"><a href="/info-for/media/photos">Photos</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/media/contact-the-press-office">Contact the Press Office</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/filming-and-photography">Filming & photography</a></div></li>
                            
 
                </ul>
            
 
 
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype: -Home-Media-Media-Press releases-2018-September-Tour of Britain finale arrives in the capital on Sunday -->

 
 
        
        
            @{ViewBag.Description = "Tour of Britain finale arrives in the capital on Sunday";}
        
        


 