


@{ViewBag.Title = "GLA - 24-hour night services for London Overground line";}
        
        
<div class="r">
    <div class="breadcrumb-container" role="navigation">
        <span id="breadcrumb-label" class="visually-hidden">You are here:</span>
        <ol class="breadcrumbs clearfix" aria-labelledby="breadcrumb-label">
            <li class="home">
                <a href="/">
                    <span class="hide-text">Home</span>
                </a>
            </li>
            
                <li>
                    <a href="/info-for/media/index">Media</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases">Press releases</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases/2017">2017</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases/2017/july">July</a>
                </li>
                
                <li>
                    <span class="last-breadcrumb">GLA - 24-hour night services for London Overground line</span>
                </li>
            
 
            
 
            
 
            
 
            
 
        </ul>
    </div>
</div>
     
 
<div class="r">
    <div class="headline-container plain">
        <h1>GLA - 24-hour night services for London Overground line</h1>
        <div class="content-page-press-release">
        03 July 2017
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        Night Overground will build on the huge success of the Night Tube
        
    </div>



<div class="pull-quote">
        <div class="quote-body">"It will provide huge benefits to Londoners and visitors to our city, helping those working hard through the night and all those out enjoying everything London has to offer, as well as creating jobs and boosting our economy"</div>
        <div class="quote-footer">
            <div class="quotee-name"> Sadiq Khan</div>
            <div class="quotee-job-title">The Mayor of London</div>
        </div>
</div>

 <div class="on-this-page">
<p>This press release, issued by the Mayor of London, was first published on <a href="https://www.london.gov.uk/press-releases/mayoral/24-hour-night-services-for-london-overground-line">london.gov.uk</a>&nbsp;</p>
<ul>
    <li>All-night services on Fridays and Saturdays will start on the East London route in December</li>
    <li>Services will run between New Cross Gate and Dalston Junction, and be extended to Highbury &amp; Islington next year</li>
</ul>
<p>Travelling around the capital at night is set to become even easier as the Mayor of London, Sadiq Khan, today announced that services on a key part of the London Overground will run 24-hours at weekends.</p>
<p>London Overground night services will start operating from December on Fridays and Saturdays along the East London route between New Cross Gate and Dalston Junction. It will then be extended to Highbury &amp; Islington next year.</p>
<p>The addition of a Night Overground service follows the huge success of the Night Tube, which has already seen more than 6.5m journeys made since it began last year. Alongside the Night Tube, it will help create more jobs and boost the local economy. Night Tube services are already playing a key role in opening up London's night-time economy, with the network estimated to provide a boost of &pound;77m a year and support around 2,000 permanent jobs.</p>
<p>The East London route serves a culturally diverse swathe of the capital rich in museums, galleries, restaurants, bars and night spots.  The service will help those working shifts in East London's thriving hospitality and service sectors, and those who live in the outer London zones, by substantially reducing their journey times. It will also be hugely beneficial for other night shift workers going to and from work, including those in the emergency services.</p>
<p>Connecting with the Night Tube network at Canada Water on the Jubilee line and, from next year, Highbury &amp; Islington on the Victoria line, the Night Overground will transform journeys for thousands of people.</p>
<p>The Mayor of London, Sadiq Khan, said: </p>
<p>'Our Night Tube services have been a real success right across the capital, so I'm delighted to announce that we'll be bringing the Night Overground to the East London line later this year. It will provide huge benefits to Londoners and visitors to our city, helping those working hard through the night and all those out enjoying everything London has to offer, as well as creating jobs and boosting our economy.'</p>
<p>Cllr Feryal Demirci, Cabinet Member for Neighbourhoods, Transport and Parks, Hackney, said: </p>
<p>'The extension of services for Hackney's Overground stations is not only great news for our local businesses, but it will also help residents get around quicker and safer at night, which is especially helpful for shift workers across the borough. We welcome this news and also hope that TFL can eventually extend the night tube to serve all of Hackney's Overground stations.'</p>
<p>Alan D Miller, Chairman Night Time Industries Association, said: </p>
<p>'We at the NTIA are delighted that 24 hour service is coming to the London Overground from New Cross Gate to Highbury &amp; Islington via Shoreditch. London is making significant strides to become a smart, future-oriented 24-hour city in which transport is a vital component. So hurrah for this! Together we can all help make London the best it can be for us all.'</p>
<p>Henry Dimbleby, Co-founder of Leon and London Union, said: </p>
<p>'The orange line is the artery that connects London's most vibrant areas. The opening of the night service will not just boost the local economy, it will further feed the creative spirit of east London, the culture epicentre of Europe. It's going to be awesome.'</p>
<p>Jonathan Fox, TfL's Director of London Rail, said: </p>
<p>'The East London route is one of the most popular parts of the London Overground network, particularly late in the evening. Expanding night services to this key part of London Overground will make it easier for customers to enjoy the vibrant night time culture that East London has to offer, supporting the economy in this much-loved area of the capital. The Night Tube has already provided a boost to our economy and supported thousands of permanent jobs. We hope the Night Overground will build on this success even further.'</p>
<p>Due to Crossrail work taking place at Whitechapel station, London Overground night services will initially not call at the station until works are complete. Services are expected to call at the station from summer 2018.</p>
<p>All stations along the route will be staffed at all times while trains are running, with CCTV, modern lighting and help points throughout.</p>
<p>In the future, the Night Tube will be extended to parts of the Metropolitan, Circle, District, and Hammersmith &amp; City lines once modernisation programmes are complete in 2023.</p>
<p>This year marks the 10th anniversary of the London Overground. Since TfL took over suburban rail routes from Silverlink in 2007, passenger numbers on the routes have increased six fold and the network has become one of the most popular and reliable railways anywhere in the country.</p>
<hr />
<p>Notes to Editors:</p>
<ul>
    <li>The Night Tube runs on the following lines on Friday and Saturday nights and the early hours of Saturday and Sunday mornings:</li>
</ul>
<ul>
    <li>Central line: trains are running between Ealing Broadway and Loughton / Hainault</li>
    <li>Victoria line: trains are running on the entire line</li>
    <li>Jubilee line: trains are running on the entire line</li>
    <li>Northern line: trains are running from High Barnet and Edgware to Morden via the Charing Cross branch</li>
    <li>Piccadilly line: trains are running between Cockfosters and Heathrow Terminal five</li>
</ul>
<ul>
    <li>The vast majority of the London Overground network is operated on Network Rail tracks, which are also used by other rail operators, freight and maintenance services. The route between New Cross Gate and Highbury &amp; Islington is managed by TfL, enabling 24 hour services to operate at weekends on this section of the network.</li>
    <li>The old East London line on the Tube network, which ran from New Cross/New Cross Gate to Whitechapel, was closed in 2007 to make way for the London Overground network. It was extended to Highbury &amp; Islington when it reopened in 2010.</li>
    <li>More than 189 million people used the Overground in 2016/17, compared to 33 million in 2008/09;</li>
    <li>TfL has taken previously under-used parts of the rail network have been brought back into full use, while services have been radically improved with continuing investment and expansion to parts of the Capital once not well served by rail. Stations have been brought up to modern standards, with CCTV, better security, a turn up and go service for disabled Londoners and staff present at every station at all times;</li>
    <li>Capacity on other London Overground services has been increased by a further 25 per cent through the introduction of a fifth car to trains across the network which was completed at the end of 2015. In November 2016 Arriva Rail London took over London Overground network, and will support TfL in delivering further improvements for customers on the already hugely popular network</li>
</ul>
<p>&nbsp;</p>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
                <a href="/info-for/media/index" class="heading">
                    <h2 id="sub-menu-heading">Media<span class="visually-hidden"> navigation</span></h2>
                </a>
                <ul>
                    
                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases">Press releases</a></div>
                                <ul>
                                    
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2020">2020</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019">2019</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018">2018</a></div></li>
                            
 
                                        <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017">2017</a></div>
                                        <ul>
                                            
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017/january">January</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017/february">February</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017/march">March</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017/april">April</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017/may">May</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017/june">June</a></div></li>
                                    
 
                                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017/july">July</a></div>
                                                <ul>
                                                    
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
                                                </ul>
                                            
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017/august">August</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017/september">September</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017/october">October</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017/november">November</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017/december">December</a></div></li>
                                    
 
                                        </ul>
                                    </li>
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016">2016</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015">2015</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014">2014</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2013">2013</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2012">2012</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2011">2011</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2010">2010</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2009">2009</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2008">2008</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2007">2007</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2006">2006</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2005">2005</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2004">2004</a></div></li>
                            
 
                                </ul>
                            </li>
 
                                <li><div class="link-wrapper"><a href="/info-for/media/photos">Photos</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/media/contact-the-press-office">Contact the Press Office</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/filming-and-photography">Filming & photography</a></div></li>
                            
 
                </ul>
            
 
 
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype: -Home-Media-Media-Press releases-2017-July-GLA - 24-hour night services for London Overground line -->

 
 
        
        
            @{ViewBag.Description = "24-hour night services for London Overground line";}
        
        


 