


@{ViewBag.Title = "Final piece of Daniel Buren's artwork unveiled at Tottenham Court Road station";}
        
        
<div class="r">
    <div class="breadcrumb-container" role="navigation">
        <span id="breadcrumb-label" class="visually-hidden">You are here:</span>
        <ol class="breadcrumbs clearfix" aria-labelledby="breadcrumb-label">
            <li class="home">
                <a href="/">
                    <span class="hide-text">Home</span>
                </a>
            </li>
            
                <li>
                    <a href="/info-for/media/index">Media</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases">Press releases</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases/2017">2017</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases/2017/july">July</a>
                </li>
                
                <li>
                    <span class="last-breadcrumb">Final piece of Daniel Buren’s artwork unveiled at Tottenham Court Road station</span>
                </li>
            
 
            
 
            
 
            
 
            
 
        </ul>
    </div>
</div>
     
 
<div class="r">
    <div class="headline-container plain">
        <h1>Final piece of Daniel Buren’s artwork unveiled at Tottenham Court Road station</h1>
        <div class="content-page-press-release">
        03 July 2017
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        The first permanent public commission in the UK by the world-renowned French artist
        
    </div>



<div class="pull-quote">
        <div class="quote-body">"Daniel Buren has brought the extraordinary into our everyday journey. With works by two of the finest artists of the past fifty years, Tottenham Court Road station is a testament to the power of art in public space"</div>
        <div class="quote-footer">
            <div class="quotee-name">Eleanor Pinfield</div>
            <div class="quotee-job-title">Head of Art on the Underground</div>
        </div>
</div>

 <div class="on-this-page">
<p>London Underground (LU) unveiled the final piece of Daniel Buren's major permanent commission at Tottenham Court Road station.</p>
<p>The vivid large scale sculpture, displayed in a 2.4m high glass cabinet inside the ticket hall, completes Buren's 'Diamonds and Circles, works in situ' commission. The colourful artwork was installed in parts over two years as the station underwent massive expansion work to support London's growing population.</p>
<p>Buren's geometric designs have become a major feature of the vast new ticket hall and entrances at Oxford Circus and Charing Cross Road &#45; transforming Tottenham Court Road into a vibrant and unique public gallery, as well as an important transport interchange for the 150,000 people that use the station every day.</p>
<h2>Vibrant and unique</h2>
<p>Buren's work joins the celebrated mosaics by Eduardo Paolozzi, which cover 950 square metres of the station's walls and have recently been restored by conservation specialists.</p>
<p>Renowned artists Douglas Gordon and Richard Wright have also been commissioned to create artworks to be displayed in the Elizabeth line part of the station.</p>
<p>Mark Wild, Managing Director of London Underground, said: 'Daniel Buren's vibrant designs have transformed Tottenham Court Road's ticket hall into a bright and inviting space, ready to support an increasing number of people using the station.</p>
<p>'Buren's work is now a celebrated part of the station's architecture, and I'm glad that it will continue to be appreciated by a new generation of customers.'</p>
<h2>Constant flux</h2>
<p>Daniel Buren said: 'A public work is interesting for me because you can develop the place, the people who use the space, and connections between all of these things… Museums attract only a portion of the population.</p>
<p>'The public in the Tube station is everyone, and there is a constant flux of people running both ways. I want to offer them a beautiful bubble of oxygen for the spirit.'</p>
<p>Earlier this year a &pound;500m transformation of the station was completed, equipping it to deal with continued rapid growth in demand.</p>
<p>The ticket hall is five times larger than the original and other features include three new entrances, eight new escalators, and six new lifts.</p>
<h2>Transformed station</h2>
<p>The station became the 71st station to provide step-free access, making travel into central London easier for older and disabled people and parents and carers with children and buggies.</p>
<p>Eleanor Pinfield, Head of Art on the Underground, commented: 'After a decade of planning, we celebrate Daniel Buren's iconic new work for Tottenham Court Road. 'Diamonds and Circles' measures out the transformed station with stripe, with shape and with colour.</p>
<p>'It asks us to consider the pace and path we take as we pass through the station. Daniel Buren has brought the extraordinary into our everyday journey.</p>
<p>'With works by two of the finest artists of the past fifty years, Tottenham Court Road station is a testament to the power of art in public space.'</p>
<p>Daniel Buren is a world-renowned French conceptual artist, whose major public art pieces can be seen worldwide at locations including the Palais-Royal in Paris, the Ministry of Labour in Berlin, and Odaiba Bay in Tokyo.</p>
<p>A hardback book of the commission, including installation shots of the work in situ, behind-the-scenes photos, and architects' drawings and models, has been published by Art / Books to coincide with the unveiling of the completed work. More information here <a href="http://www.artbookspublishing.co.uk/">www.artbookspublishing.co.uk</a>.</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<hr />
<p><strong>Notes to editors:</strong></p>
<ul>
    <li>For images of the artworks visit: <a href="https://flic.kr/s/aHsm3N64d6">flickr</a></li>
    <li>Art on the Underground commissions high-calibre contemporary artworks for London Underground. Launched in 2000, Art on the Underground works with leading artists to promote the Tube as a cultural and social environment, and enrich customers' journeys today and into the future</li>
</ul>
Daniel Buren Underground<br />
<p>Edited by Eleanor Pinfield<br />
Foreword by Mark Wild<br />
Texts by Tamsin Dillon, Eleanor Pinfield, Hans Ulrich Obrist<br />
Interview by Tim Marlow<br />
Designed by TSOWC<br />
Published by Art / Books in association with Art on the Underground in June 2017, &pound;22.50, hardback, 128 pages, ISBN 9781908970299,<br />
For further information, contact:<br />
Andrew Brown<br />
Email: <a href="mailto:andrew&#64;artbookspublishing.co.uk">andrew&#64;artbookspublishing.co.uk</a><br />
M: +44 (0)7899906298<br />
T: +44 (0)20 8533 5835</p>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
                <a href="/info-for/media/index" class="heading">
                    <h2 id="sub-menu-heading">Media<span class="visually-hidden"> navigation</span></h2>
                </a>
                <ul>
                    
                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases">Press releases</a></div>
                                <ul>
                                    
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2020">2020</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019">2019</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018">2018</a></div></li>
                            
 
                                        <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017">2017</a></div>
                                        <ul>
                                            
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017/january">January</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017/february">February</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017/march">March</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017/april">April</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017/may">May</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017/june">June</a></div></li>
                                    
 
                                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017/july">July</a></div>
                                                <ul>
                                                    
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
                                                </ul>
                                            
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017/august">August</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017/september">September</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017/october">October</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017/november">November</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017/december">December</a></div></li>
                                    
 
                                        </ul>
                                    </li>
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016">2016</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015">2015</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014">2014</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2013">2013</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2012">2012</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2011">2011</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2010">2010</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2009">2009</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2008">2008</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2007">2007</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2006">2006</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2005">2005</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2004">2004</a></div></li>
                            
 
                                </ul>
                            </li>
 
                                <li><div class="link-wrapper"><a href="/info-for/media/photos">Photos</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/media/contact-the-press-office">Contact the Press Office</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/filming-and-photography">Filming & photography</a></div></li>
                            
 
                </ul>
            
 
 
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype: -Home-Media-Media-Press releases-2017-July-Final piece of Daniel Buren’s artwork unveiled at Tottenham Court Road station -->

 
 
        
        
            @{ViewBag.Description = "Final piece of Daniel Buren’s artwork unveiled at Tottenham Court Road station";}
        
        


 