


@{ViewBag.Title = "Grants available to encourage more Londoners to take up cycling ";}
        
        
<div class="r">
    <div class="breadcrumb-container" role="navigation">
        <span id="breadcrumb-label" class="visually-hidden">You are here:</span>
        <ol class="breadcrumbs clearfix" aria-labelledby="breadcrumb-label">
            <li class="home">
                <a href="/">
                    <span class="hide-text">Home</span>
                </a>
            </li>
            
                <li>
                    <a href="/info-for/media/index">Media</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases">Press releases</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases/2017">2017</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases/2017/july">July</a>
                </li>
                
                <li>
                    <span class="last-breadcrumb">Grants available to encourage more Londoners to take up cycling </span>
                </li>
            
 
            
 
            
 
            
 
            
 
        </ul>
    </div>
</div>
     
 
<div class="r">
    <div class="headline-container plain">
        <h1>Grants available to encourage more Londoners to take up cycling </h1>
        <div class="content-page-press-release">
        31 July 2017
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">



 <div class="on-this-page">
<p>Transport for London (TfL) is inviting community and not-for-profit groups across London to apply for grants to get their communities cycling.</p>
<p>This year TfL is making available up to &pound;300,000 to help 30 groups offer a range of cycling initiatives aimed at people who may not otherwise ride a bike. Initiatives include cycle training, loan bikes, guided rides and courses to teach basic cycle maintenance. New projects will receive up to &pound;10,000 over three years.</p>
<p>To encourage an even wider range of people to take up cycling, an additional &pound;3,000 grant is this year available for new and existing projects to buy electric bikes.</p>
<p>Over the last two years TfL's Cycling Grants London programme has helped 46 community groups encourage over 12,000 people to cycle.</p>
<p>One recent participant from the London Bike Kitchen group in Hackney said she learnt how to fix her bike and is no longer embarrassed to ask questions about cycling. Another 53-year-old participant with no cycling experience now feels liberated to ride the bikes that have been in her shed for over 12 years after attending the Wise Women on Wheels training sessions in Tottenham.</p>
<p>As part of the Mayor's draft Transport Strategy, the Mayor has set a target to increase the proportion of people walking, cycling and taking public transport to 80 per cent of journeys by 2041, compared to 64 per cent now. Encouraging more Londoners to take up cycling is an important part of this work.</p>
<p>Will Norman, Walking and Cycling Commissioner, said: `It is really inspiring to hear so many amazing stories about Londoners who have taken up cycling after benefitting from the Cycling Grants London scheme. I am keen to see as many Londoners as possible take up cycling and hope that these grants can once again help inspire a diverse range of communities.'</p>
<p>Ben Plowden, TfL's Director of Surface Strategy and Planning, said: `Applications are welcome from all charities and not-for- profit community groups, and new for this year we will be considering grant applications for the use of electric bikes to encourage even more Londoners to cycle.'</p>
<p>Lindy Kelly, Executive Director of Groundwork London, said: `It's really exciting for Groundwork London to be administering Cycling Grants London on behalf of TfL for a third year. We've seen the programme support some fantastic projects since it began in 2015. It has reached a huge number and range of people in the Capital, and provided them with opportunities to cycle more regularly and more safely, often where they would not be able to take part without this support. We are looking forward to bringing those opportunities to even more Londoners through this third round of applications.'</p>
<p>As well as Cycling Grants London, TfL has a number of other programmes that promote cycling in London including Santander Cycles bike hire scheme, Cycle Skills sessions are free in all London boroughs and Cycling Workplaces, which offers organisations without cycling facilities up to &pound;10,000 worth of cycling products and services to encourage employees to cycle to work.</p>
<p>Applications open today and close on 18 September. For more information about TfL's cycling initiatives visit <a href="http://tfl.gov.uk/cycling">tfl.gov.uk/cycling</a></p>
<p>Ends</p>
<p>Notes to editors</p>
<ul>
    <li>
    Funding is available annually through Cycling Grants London. For more information including case studies and details of the scheme, visit <a href="http://www.CyclingGrants.London">www.CyclingGrants.London</a></li>
    <li>Images of cycling groups we have funded can be found on the TfL Flickr page <a href="https://www.flickr.com/gp/tflpress/6K4WZa">here.</a></li>
    <li>Further information on the projects highlighted  in the press release can be found on the CGL website: <a href="http://www.CyclingGrants.London">www.CyclingGrants.London</a></li>
</ul>
<ul>
    <li>Wise Women on Wheels: <a href="http://cyclinggrants.london/blog/wise-women-on-wheels-cycle-off">http://cyclinggrants.london/blog/wise-women-on-wheels-cycle-off</a></li>
    <li>London Bike Kitchen: <a href="http://cyclinggrants.london/blog/a-change-of-gear">http://cyclinggrants.london/blog/a-change-of-gear</a></li>
</ul>
<ul>
    <li>
    Projects are expected to help build the confidence of infrequent or new cyclists from all backgrounds and increase cycling by women, children and young people.</li>
    <li>Groundwork London is a social and environmental regeneration charity. For almost 20 years they have been at the forefront of environmental and social regeneration in London, changing places and lives for the better in some of the capital's most disadvantaged neighbourhoods : <a href="http://www.groundwork.org.uk/London">www.groundwork.org.uk/London</a></li>
    <li>An electric bike also known as an e-bike or pedelec - is a regular pedal cycle fitted with an electric motor that gives power assistance when the rider pedals. The rider pedals and uses the gears as normal, but the electric motor does some of the work for them. By law, the rider must be at least 14 years old.</li>
</ul>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
                <a href="/info-for/media/index" class="heading">
                    <h2 id="sub-menu-heading">Media<span class="visually-hidden"> navigation</span></h2>
                </a>
                <ul>
                    
                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases">Press releases</a></div>
                                <ul>
                                    
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2020">2020</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019">2019</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018">2018</a></div></li>
                            
 
                                        <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017">2017</a></div>
                                        <ul>
                                            
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017/january">January</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017/february">February</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017/march">March</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017/april">April</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017/may">May</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017/june">June</a></div></li>
                                    
 
                                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017/july">July</a></div>
                                                <ul>
                                                    
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
                                                </ul>
                                            
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017/august">August</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017/september">September</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017/october">October</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017/november">November</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017/december">December</a></div></li>
                                    
 
                                        </ul>
                                    </li>
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016">2016</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015">2015</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014">2014</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2013">2013</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2012">2012</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2011">2011</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2010">2010</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2009">2009</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2008">2008</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2007">2007</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2006">2006</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2005">2005</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2004">2004</a></div></li>
                            
 
                                </ul>
                            </li>
 
                                <li><div class="link-wrapper"><a href="/info-for/media/photos">Photos</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/media/contact-the-press-office">Contact the Press Office</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/filming-and-photography">Filming & photography</a></div></li>
                            
 
                </ul>
            
 
 
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype: -Home-Media-Media-Press releases-2017-July-Grants available to encourage more Londoners to take up cycling  -->

 
 
        
        
            @{ViewBag.Description = "Grants available to encourage more Londoners to take up cycling ";}
        
        


 