


@{ViewBag.Title = "King's Cross St. Pancras Tube station given Stark make-over for Game of Thrones";}
        
        
<div class="r">
    <div class="breadcrumb-container" role="navigation">
        <span id="breadcrumb-label" class="visually-hidden">You are here:</span>
        <ol class="breadcrumbs clearfix" aria-labelledby="breadcrumb-label">
            <li class="home">
                <a href="/">
                    <span class="hide-text">Home</span>
                </a>
            </li>
            
                <li>
                    <a href="/info-for/media/index">Media</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases">Press releases</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases/2017">2017</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases/2017/july">July</a>
                </li>
                
                <li>
                    <span class="last-breadcrumb">King’s Cross St. Pancras Tube station given Stark make-over for Game of Thrones</span>
                </li>
            
 
            
 
            
 
            
 
            
 
        </ul>
    </div>
</div>
     
 
<div class="r">
    <div class="headline-container plain">
        <h1>King’s Cross St. Pancras Tube station given Stark make-over for Game of Thrones</h1>
        <div class="content-page-press-release">
        17 July 2017
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        Sky Atlantic launch Game of Thrones Season 7 with an 'experiential' advertising campaign on the Tube
        
    </div>



<div class="pull-quote">
        <div class="quote-body">"Activities like this provide vital funds that we are investing in modernising the transport network for the benefit of all of our customers"</div>
        <div class="quote-footer">
            <div class="quotee-name">Graeme Craig</div>
            <div class="quotee-job-title">Director for Commercial Development at TfL</div>
        </div>
</div>

 <div class="on-this-page">
<p>To mark the premiere of Game of Thrones Season 7, Underground customers will today experience a little bit of winter as the series visits four central London Tube stations and travels along the Jubilee line.</p>
<p>The Northern line ticket hall at King's Cross St. Pancras Tube station has temporarily been transformed to accommodate The Iron Throne, where customers can have their picture taken.</p>
<p>The station is also hosting a band busking the theme song and 1,000 lucky customers will receive a free Game of Thrones travel wallet.</p>
<h2>Experiential experience</h2>
<p>The new season's creative will feature on walls, columns and floor vinyls, as well as digital screens and escalator panels at King's Cross St. Pancras Tube station. Public service announcements will also be made in a familiar Northern voice.</p>
<p>Throughout the day, chaperoned White Walkers, Henchmen and the Night King can be spotted at Waterloo, Paddington, Liverpool Street and King's Cross St. Pancras Tube stations.</p>
<p>The TfL Film Office is also accommodating a film crew capturing a White Walker travelling on the Jubilee line.</p>
<p>This activity is part of an experiential Sky Atlantic advertising campaign on the Tube booked through Hello London, the media partnership between TfL and Exterion Media.</p>
<h2>Innovative approach</h2>
<p>Hello London provides creative, bespoke advertising opportunities, like this one, to an audience of over 1.5 billion on London Underground, London Overground, the DLR, Tramlink, Victoria Coach Station and, from 2018, the Elizabeth line.</p>
<p>Through Hello London's innovative approach to technology and transforming the physical advertising assets in station environments, advertisers increasingly have more flexible and dynamic opportunities to connect with their target audiences, while helping to generate vital revenues to invest in London's transport network.</p>
<h2>Provide vital funds</h2>
<p>Graeme Craig, Director for Commercial Development at TfL said: 'This has been a great opportunity for us to work with Sky Atlantic, who is utilising key locations on our Tube network as they promote the Game of Thrones Season 7.</p>
<p>'We hope that today's activities, particularly those at King's Cross St. Pancras Tube station, have brought a bit of unexpected fun to the tens of thousands of our customers passing through the station.</p>
<p>'Activities like this provide vital funds that we are investing in modernising the transport network for the benefit of all of our customers.'</p>
<p>Shaun Gregory, Chief Executive Officer at Exterion Media said: 'This Game of Thrones experiential campaign is a unique and ambitious campaign that will no doubt leave a lasting brand impression.</p>
<p>'Through our award-winning Engagement Zone research, we know that customers welcome campaigns along their journeys that are timely and relevant like this one.'</p>
<p>&nbsp;</p>
<hr />
<p><strong>Notes to Editors:</strong></p>
<ul>
    <li>Images of the campaign on the Tube, can be found on our <a href="https://flic.kr/s/aHskZeMQzE">Flickr page</a></li>
    <li>King's Cross St. Pancras Tube station is the second busiest station on the Underground network and the second busiest interchange in London. The station, located in the London Borough of Camden, provides service to the Circle, Hammersmith &amp; City, Metropolitan, Northern, Piccadilly and Victoria Underground lines</li>
    <li>All advertising at Kings Cross, Liverpool Street, Paddington and Waterloo was booked with Exterion Media. Station advertising will run at these stations for two weeks from 17 July</li>
    <li>Experiential advertising, which includes The Iron Throne experience, filming, busking, give-aways and PA announcements, was booked directly through TfL. All experiential activities, including The Iron Throne at Kings Cross, will be open to customers from 07:00 &#45; 19:00 on Monday 17 July. The contract for this booking can be found <a href="https://tfl.gov.uk/corporate/publications-and-reports/contracts">here</a></li>
    <li>Find out more about booking an advertising campaign on the TfL network <a href="https://tfl.gov.uk/info-for/business-and-commercial/commercial-media?intcmp=3422">here</a></li>
    <li>To learn more about Exterion Media's Engagement Zone research, click here: <a href="http://www.exterionmedia.com/uk/insight-and-data/engagement-zone">Exterion Media</a></li>
</ul>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
                <a href="/info-for/media/index" class="heading">
                    <h2 id="sub-menu-heading">Media<span class="visually-hidden"> navigation</span></h2>
                </a>
                <ul>
                    
                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases">Press releases</a></div>
                                <ul>
                                    
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2020">2020</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019">2019</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018">2018</a></div></li>
                            
 
                                        <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017">2017</a></div>
                                        <ul>
                                            
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017/january">January</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017/february">February</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017/march">March</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017/april">April</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017/may">May</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017/june">June</a></div></li>
                                    
 
                                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017/july">July</a></div>
                                                <ul>
                                                    
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
                                                </ul>
                                            
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017/august">August</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017/september">September</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017/october">October</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017/november">November</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017/december">December</a></div></li>
                                    
 
                                        </ul>
                                    </li>
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016">2016</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015">2015</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014">2014</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2013">2013</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2012">2012</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2011">2011</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2010">2010</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2009">2009</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2008">2008</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2007">2007</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2006">2006</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2005">2005</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2004">2004</a></div></li>
                            
 
                                </ul>
                            </li>
 
                                <li><div class="link-wrapper"><a href="/info-for/media/photos">Photos</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/media/contact-the-press-office">Contact the Press Office</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/filming-and-photography">Filming & photography</a></div></li>
                            
 
                </ul>
            
 
 
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype: -Home-Media-Media-Press releases-2017-July-King’s Cross St. Pancras Tube station given Stark make-over for Game of Thrones -->

 
 
        
        
            @{ViewBag.Description = "King’s Cross St. Pancras Tube station given Stark make-over for Game of Thrones";}
        
        


 