


@{ViewBag.Title = "TfL announces partner to develop Landmark Court in Southwark";}
        
        
<div class="r">
    <div class="breadcrumb-container" role="navigation">
        <span id="breadcrumb-label" class="visually-hidden">You are here:</span>
        <ol class="breadcrumbs clearfix" aria-labelledby="breadcrumb-label">
            <li class="home">
                <a href="/">
                    <span class="hide-text">Home</span>
                </a>
            </li>
            
                <li>
                    <a href="/info-for/media/index">Media</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases">Press releases</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases/2017">2017</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases/2017/july">July</a>
                </li>
                
                <li>
                    <span class="last-breadcrumb">TfL announces partner to develop Landmark Court in Southwark</span>
                </li>
            
 
            
 
            
 
            
 
            
 
        </ul>
    </div>
</div>
     
 
<div class="r">
    <div class="headline-container plain">
        <h1>TfL announces partner to develop Landmark Court in Southwark</h1>
        <div class="content-page-press-release">
        10 July 2017
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        TfL has named Triangle London Developments (TLD) to create a joint venture to develop a site near Borough Market
        
    </div>



<div class="pull-quote">
        <div class="quote-body">"We are working with some of the best organisations across London to bring forward a portfolio of sites that will help to create the homes, jobs and work spaces London needs for the future"</div>
        <div class="quote-footer">
            <div class="quotee-name">Graeme Craig</div>
            <div class="quotee-job-title">Director of Commercial Development at TfL</div>
        </div>
</div>

 <div class="on-this-page">
<p>TfL today announced Triangle London Developments (TLD) as its preferred bidder for a joint venture to deliver a mixed-used development on its Landmark Court site on Southwark Street, south London.</p>
<p>Triangle London Developments is a consortium of U+I and Notting Hill Housing and is one of the partners on the TfL Property Partnership Framework.</p>
<p>Landmark Court is within walking distance of London Bridge station, Borough Market, the Tate Modern and the Globe Theatre.</p>
<p>The partnership plans to transform the site from an under-utilised space to a local cultural and social hub where people will want to live, work and visit.</p>
<h2>Fast-tracked</h2>
<p>The site has the potential to deliver about 130,000 sq ft of new commercial, retail and workspace, boosting the growing social and commercial activity on Southwark Street.</p>
<p>Approximately 80 new homes will be built, at least 35% of which will be affordable. It is one of the first five sites fast-tracked for development by the Mayor, which overall comprise 50% affordable housing.</p>
<p>Any proposals will seek to maximise outdoor public space, improve walking routes on Southwark Street, Redcross Way, Borough High Street and provide access to the increasingly popular walkway along the Low Line.</p>
<h2>Joint venture</h2>
<p>The Cross Bones Graveyard, a historic graveyard for prostitutes and paupers, adjoining the site, will be safeguarded, with a view to support a high-quality memorial garden.</p>
<p>Subject to contracts and agreements, the joint venture will consult with Londoners to develop a detailed design in order to seek planning permission and to start on site in 2019, aiming for completion by 2022.</p>
<p>Graeme Craig, Director of Commercial Development at TfL said: 'We are working with some of the best organisations across London to bring forward a portfolio of sites that will help to create the homes, jobs and work spaces London needs for the future.</p>
<p>'We look forward to establishing a long-term, joint venture partnership with Triangle London Developments to contribute to the Bankside neighbourhood, which has been known for centuries as a hotbed for London's creativity and independent businesses.</p>
<p>'The development at Landmark Court will also provide vital revenue to invest in London's transport network.'</p>
<h2>Important site for London</h2>
<p>Richard Upton, Deputy Chief Executive at U+I said: 'We are privileged to have been selected to regenerate Landmark Court. This is an important site for the neighbourhood and an important site for London, steeped in history and at the heart of our ever-changing city.</p>
<p>'There is huge opportunity to create something very special here that really adds to and compliments the fabric of the neighbourhood.</p>
<p>'We are looking forward to working with the local community and Southwark Council to bring forward plans that celebrate the identity of this place, respects the history of the site, and creates a vibrant future.'</p>
<p>&nbsp;</p>
<hr />
<p><strong>Notes to Editors:</strong></p>
<p>&nbsp;</p>
<ul>
    <li>TfL acquired the Landmark Court site more than 25 years ago for the construction of the Jubilee line extension. Since then, it has either been used for operational rail purposes or has been occupied by commercial tenants</li>
    <li>The site has frontages on Southwark Street, Redcross Way and Union Street</li>
    <li>TfL intends to permanently safeguard the historic Cross Bones Graveyard, which is also located on the site</li>
    <li>TfL is keen to see Bankside Open Spaces Trust (BOST) continue their tenancy and are in discussions with them to arrange a new lease that would best suit them in this unique location</li>
    <li>Network Rail currently owns approximately 10% of the land on the site and has agreed heads of terms with TfL to grant a long lease to facilitate the development by the new joint venture</li>
    <li>In early 2016, TfL launched the Property Partnership Framework. Following a competitive tender process, TfL approved the appointment of 13 leading property development companies and consortiums that it could work with to develop its sites. This provides a ready pool of partners eligible to bid to work with TfL in joint ventures as sites become available. This ensures thousands of homes, offices and retail spaces across London are being delivered more efficiently and quickly</li>
    <li>This site was brought to the TfL Property Partnership Framework in November 2016</li>
    <li>TfL is delivering 50% affordable housing across its property development sites while generating &pound;850m over the next five years to invest in transport. Since May 2016, TfL has brought sites to market which will deliver 1,000 homes, 50% of which will be affordable. Sites will come forward at different levels of affordable housing according to local needs and market conditions, some at more than 50% and some at less than 50%</li>
    <li>Images of the site can be found here: <a href="https://www.flickr.com/photos/tflpress/albums/72157683561001021">https://www.flickr.com/photos/tflpress/albums/72157683561001021</a></li>
</ul>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
                <a href="/info-for/media/index" class="heading">
                    <h2 id="sub-menu-heading">Media<span class="visually-hidden"> navigation</span></h2>
                </a>
                <ul>
                    
                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases">Press releases</a></div>
                                <ul>
                                    
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2020">2020</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019">2019</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018">2018</a></div></li>
                            
 
                                        <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017">2017</a></div>
                                        <ul>
                                            
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017/january">January</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017/february">February</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017/march">March</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017/april">April</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017/may">May</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017/june">June</a></div></li>
                                    
 
                                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017/july">July</a></div>
                                                <ul>
                                                    
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
                                                </ul>
                                            
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017/august">August</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017/september">September</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017/october">October</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017/november">November</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017/december">December</a></div></li>
                                    
 
                                        </ul>
                                    </li>
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016">2016</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015">2015</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014">2014</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2013">2013</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2012">2012</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2011">2011</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2010">2010</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2009">2009</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2008">2008</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2007">2007</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2006">2006</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2005">2005</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2004">2004</a></div></li>
                            
 
                                </ul>
                            </li>
 
                                <li><div class="link-wrapper"><a href="/info-for/media/photos">Photos</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/media/contact-the-press-office">Contact the Press Office</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/filming-and-photography">Filming & photography</a></div></li>
                            
 
                </ul>
            
 
 
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype: -Home-Media-Media-Press releases-2017-July-TfL announces partner to develop Landmark Court in Southwark -->

 
 
        
        
            @{ViewBag.Description = "TfL announces partner to develop Landmark Court in Southwark";}
        
        


 