


@{ViewBag.Title = "TfL makes it easier to top up Oyster cards while on the go";}
        
        
<div class="r">
    <div class="breadcrumb-container" role="navigation">
        <span id="breadcrumb-label" class="visually-hidden">You are here:</span>
        <ol class="breadcrumbs clearfix" aria-labelledby="breadcrumb-label">
            <li class="home">
                <a href="/">
                    <span class="hide-text">Home</span>
                </a>
            </li>
            
                <li>
                    <a href="/info-for/media/index">Media</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases">Press releases</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases/2017">2017</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases/2017/july">July</a>
                </li>
                
                <li>
                    <span class="last-breadcrumb">TfL makes it easier to top up Oyster cards while on the go</span>
                </li>
            
 
            
 
            
 
            
 
            
 
        </ul>
    </div>
</div>
     
 
<div class="r">
    <div class="headline-container plain">
        <h1>TfL makes it easier to top up Oyster cards while on the go</h1>
        <div class="content-page-press-release">
        19 July 2017
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        Upgrade to Oyster eradicates need to nominate a Tube or rail station, tram stop or River Bus pier to collect online purchases
        
    </div>



<div class="pull-quote">
        <div class="quote-body">"With more people using the internet to manage their life than ever before, it's right that we make the process of buying and checking their travel products as quick and convenient as possible"</div>
        <div class="quote-footer">
            <div class="quotee-name">Shashi Verma</div>
            <div class="quotee-job-title">Chief Technical Officer at TfL</div>
        </div>
</div>

 <div class="on-this-page">
<p>Getting around London is set to become even more convenient after a range of improvements to London's Oyster ticketing system were introduced.</p>
<p>Passengers who top up their pay as you go credit or buy Travelcards using Oyster online can now collect their purchase from any Tube or rail station, tram stop or River Bus pier when they touch in, rather than having to nominate a station when they make the purchase.</p>
<p>The upgrade has also significantly reduced the time it takes for the product to be ready to collect &#45; from up to 24 hours to just 30 minutes.</p>
<h2>Improvements to Oyster</h2>
<p>By the end of autumn, these improvements will also be expanded to allow products to be collected directly on all 9,000 London buses.</p>
<p>The improvements to Oyster will be followed by further upgrades to the system in the coming year.</p>
<p>Next month, the new TfL app will launch, allowing customers to top up their Oyster card with pay as you go credit and buy Travelcards wherever they are.</p>
<p>The new app, which will be available to download for free via the Apple App Store and Google Play Store, will allow customers to use their smartphone to quickly add pay as you go credit to their Oyster card.</p>
<h2>'Hopper fare'</h2>
<p>It will also allow customers to check how much credit they have on their Oyster card and also provide, for the first time, a 'Low balance' alert direct on their mobile to help customers ensure they have enough pay as you go credit before they travel.</p>
<p>Throughout 2017 and 2018, further improvements to the Oyster system will also be introduced, including:</p>
<ul>
    <li>Expanding the Mayor's 'Hopper fare' to allow unlimited journeys on buses and trams within an hour</li>
    <li>Making Bus &amp; Tram Pass season tickets available to purchase online and via the app</li>
    <li>Introducing Weekly Capping on Oyster to bring it in line with Contactless</li>
</ul>
<p>Shashi Verma, Chief Technical Officer at TfL, said: 'Pay as you go with Oyster and Contactless has delivered greater convenience for our customers and we are constantly looking to make further improvements.</p>
<p>'With more people using the internet to manage their life than ever before, it's right that we make the process of buying and checking their travel products as quick and convenient as possible.</p>
<p>'This latest upgrade, along with the forthcoming TfL app, is part of our continuing work to make it as easy as possible to use public transport in London.'</p>
<h2>Enhance the online experience</h2>
<p>Janet Cooke, London Travelwatch chief executive, said: 'We welcome these improvements which will enhance the online experience for Oyster users.</p>
<p>'It's also great to see that TfL will be launching a new Oyster app next month which was developed in response to our research on improving passengers' value for money on London's transport services in August 2013.</p>
<p>'This will provide passengers with a more convenient way to top up Oyster pay as you go balances and identify and claim any money due to them for incomplete journeys.'</p>
<p>To register for an Oyster online account, please visit <a href="http://oyster.tfl.gov.uk/">oyster.tfl.gov.uk</a></p>
<p>&nbsp;</p>
<hr />
<p><strong>Notes to Editors:</strong></p>
<p>&nbsp;</p>
<ul>
    <li>The technological advances form a key part of TfL's action plan to address concerns raised in the London Travelwatch report into the closure of ticket offices at London Underground stations, which was published last year &#45; <a href="https://www.london.gov.uk/transport/rail-and-underground/tube-ticket-office-closures-and-improving-customer-experiences">london.gov.uk/transport/rail-and-underground/tube-ticket-office-closures-and-improving-customer-experiences</a></li>
    <li>Once launched, further functions will be added to the TfL app throughout 2017, including making it quicker and easier to apply for refunds for incomplete journeys, as well as viewing journey history for Contactless payments in Spring 2018</li>
    <li>In order to use the new TfL app, customers will need to have an Oyster online account.  Customers with a first-generation Oyster card, which were predominantly issued prior to 2010, will also need to upgrade their Oyster card to one which has a &quot;D&quot; in the bottom left hand corner on the back of the card. For more information about this, please visit &#45; <a href="http://www.tfl.gov.uk/first-generation-oyster">tfl.gov.uk/first-generation-oyster</a></li>
    <li>TfL is currently contacting regular Oyster card users with a first-generation card through Oyster online to encourage them to upgrade their card prior to the release of the new TfL app</li>
</ul>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       


            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype: -Home-Media-Media-Press releases-2017-July-TfL makes it easier to top up Oyster cards while on the go -->

 
 
        
        
            @{ViewBag.Description = "TfL makes it easier to top up Oyster cards while on the go";}
        
        


 