


@{ViewBag.Title = "Crime on London's transport network at eight year low";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>Crime on London's transport network at eight year low</h1>
        <div class="content-page-press-release">
        29 May 2012
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        The Mayor of London, Boris Johnson, has welcomed news that crime on the Capital's bus network is now at its lowest rate in eight years as new figures for 2011/12 confirm another fall in the number of crimes across the whole of London's transport network.
        
    </div>



 <div class="on-this-page">
<div class="pullquote right">
                        <p>
                            Continued investment in security and policing by TfL means that crime is now 34 per cent lower than it was five years ago.
                            
                        </p>
                    </div>
                
            
            
            <p>Since the Mayor took office in May 2008, crime on London's buses has fallen by 34 per cent. </p>
<p>There were just 9.3 crimes per million passenger journeys on buses in 2011/12, 2,250 fewer than the previous year, which is a 9.4 per cent fall. </p>
<p>There have been large reductions in the number of 'violence against the person' offences (925 fewer offences - down 14.1 per cent), theft (913 fewer offences - down 8.6 per cent) and criminal damage (163 fewer offences - down 18.4 per cent). </p>
<p>Crime on the Tube and DLR has also seen a significant decrease, with a reduction of 1,357 offences, down 10 per cent from the previous&nbsp;12 months.</p>
<p>This includes reductions in 'violence against the person' offences (179 fewer offences - down 9.1 per cent) and robbery (49 fewer offences - down 30 per cent). </p>
<p>The crime rate on the Tube and DLR is now just 9.6 crimes per million passenger journeys.</p>
<h2>Targeted police operations</h2>
<p>These figures build on significant reductions in crime on the bus and Tube/DLR networks over recent years, while the number of passengers has substantially increased.<br>&nbsp;<br>The Mayor of London, Boris Johnson, said: 'With more officers on the network, and targeted police operations, my teams have worked tirelessly to crack down on crime on our transport system, and to keep it down while passenger number soar. </p>

<p>'Nevertheless, we are not complacent and while these figures are encouraging, more can be done and we will not relent from our focus on making stations safer, ensuring uniformed officers are highly visible on public transport and curbing antisocial behaviour.'</p>
<p>Tackling crime on the transport network has been driven by a range of initiatives from the Mayor, Transport for London (TfL) and London police forces. </p>
<p>Last year 414 additional warranted officers were recruited, along with targeted police and CCTV operations, as part of an ongoing commitment to prevention and problem solving and improving safety and security. </p>
<h2>Safer transport teams</h2>
<p>Almost every borough in the Capital saw a reduction in bus related crime in 2011/12, some significant, including Harrow (37 per cent) and Havering (31 per cent). Deployment of safer transport teams is constantly reviewed in order to ensure that crime hotspots are targeted in boroughs where any increase is recorded.</p>
<p>Although there have been overall reductions in transport crime compared to last year, there has been a slight increase in the number of robberies on the bus network. On the Tube and DLR networks, there has been an increase in sexual offences, as well as drug offences. </p>
<p>Where certain crimes have increased in a small selection of boroughs, Safer Transport Teams are addressing these by conducting high-visibility operations, engaging with the local community and executing intelligence led operations to detect and deter offenders including targeted police operations, CCTV enforcement operations and crime prevention advice. </p>
<p>These increases are relatively low in the context of the billions of journeys made on the system each year, but one crime is too many and TfL takes these issues extremely seriously.</p>
<h2>Bus crime halved since 2005/6</h2>
<p>Steve Burton, TfL's Director of Community Safety, Enforcement and Policing, said: 'A safe and secure transport network is essential to London's success. We have more than halved the crime rate on buses since 2005/6. </p>

<p>'However, we are not complacent and although these figures show a continued reduction in the number of crimes there is still work to be done. We are committed to working in partnership with our policing partners to ensure the transport network remains a safe and low crime environment.'</p>
<p>British Transport Police Chief Superintendent Nicki Watson said: 'Crime on the Tube and DLR networks has fallen consistently over six years. Continued investment in security and policing by TfL means that crime is now 34 per cent lower than it was five years ago. </p>

<p>'BTP officers and staff work hard to keep the system safe, but we know there is more we can achieve. Working with TfL and the MPS we are determined to have an even greater impact this year.'</p>
<p>Chief Superintendent Sultan Taylor, MPS Safer Transport Command said: 'This continual drop in transport related crime is thanks to partnership working with Transport for London and other policing colleagues and the intelligence-led policing capability of the Safer Transport Command and its Safer Transport Teams. </p>
<p>'We are running an unremitting programme of operations that focus on robbery and other bus related crime so our message is clear: if you commit crime on the transport network we will identify you, arrest you and bring you before the courts. We will ensure that for those convicted all legislation will be brought to bear to prevent individuals from re-entering the criminal justice system.'</p>
<p>
<hr>
<br>
<p>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "Since the Mayor took office in May 2008, crime on London's buses has fallen by 34 per cent. There were just 9.3 crimes per million passenger journeys on buses in 2011/12, 2,250 fewer than the previous year, which is a 9.4 per cent fall. There have been";}
        
        


 