


@{ViewBag.Title = "Diamond Jubilee spirit on London's transport network";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>Diamond Jubilee spirit on London's transport network</h1>
        <div class="content-page-press-release">
        14 May 2012
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        Limited edition collectable Diamond Jubilee Oyster cards now on sale.
        
    </div>



<div class="pull-quote">
        <div class="quote-body">"This special edition Oyster card is not only your passport to the easiest way to get around London, but will also make a wonderful souvenir."</div>
        <div class="quote-footer">
            <div class="quotee-name">Boris Johnson</div>
            <div class="quotee-job-title">Mayor of London</div>
        </div>
</div>

 <div class="on-this-page">
<div class="pullquote right">
                        <p>
                            This special edition Oyster card is not only your passport to the easiest way to get around London, but will also make a wonderful souvenir.
                            
                        </p>
                    </div>
                
            
            
            <ul>
<li>Wrapped Jubilee line train goes in to service</li></ul>
<p>Londoners and visitors to the city as we celebrate the Queen's Diamond Jubilee can now get their hands on a collectable limited edition Diamond Jubilee Oyster card. </p>
<p>From today (14 May), the cards will become available from London Underground stations in Zone 1 and at Heathrow Terminals 1,2,3 and T4, and TfL Travel Information Centres.</p>
<p>Transport for London (TfL) has produced 250,000 of the limited edition Oyster cards, featuring a portrait of The Queen, marking 60 years of Her reign. </p>
<p>Also from this week, the first of two Jubilee line trains, wrapped in decorative Jubilee livery to mark the Queen's Diamond Jubilee celebrations, will go in to service. </p>
<p>The trains will run along the Jubilee line up to and during the Diamond Jubilee weekend.&nbsp; </p>
<h2>Momentous occasion</h2>
<p>The Mayor of London, Boris Johnson, said: 'Across our great city, an array of magnificent events will mark this momentous occasion and be a spectacular curtain raiser to this coming summer like no other. </p>
<p>'This special edition Oyster card is not only your passport to the easiest way to get around London, but will also make a wonderful souvenir.'</p>
<p>TfL has published detailed travel advice for all those planning to attend one of the many events being held in London over the Diamond Jubilee weekend when central London is expected to be very busy. </p>
<p>People are advised to use public transport, plan their journeys in advance, and to check the TfL website before they travel.</p>
<p>
<hr>

<p>
<p><strong>Notes to editors:</strong></p>
<ul>
<li>The &pound;5 deposit and &pound;5 minimum top-up will apply as normal for the limited edition card </li>
<li>Using Oyster, passengers only need one card to travel on all public transport across London, including National Rail services operating within the Capital. Oyster pay as you go customers are always reminded to touch in and out at the start and end of every journey to ensure they pay the correct fare </li>
<li>An image of the Diamond Jubilee Oyster card is attached in jpeg form </li>
<li>An Image of the wrapped Diamond Jubilee train is attached in jpeg form </li>
<li>The first wrapped train goes into service on Monday 14 May and the second from 21 May </li>
<li>Tube Lines, a subsidiary of TfL, are responsible for the maintenance of the Jubilee, Northern and Piccadilly lines and it is their suppliers that are providing the funding for the two train wraps and at no cost to the tax payer </li>
<li>Travel advice for the Diamond Jubilee can be found here tfl.gov.uk/diamondjubilee<br></li></ul>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "Wrapped Jubilee line train goes in to serviceLondoners and visitors to the city as we celebrate the Queen's Diamond Jubilee can now get their hands on a collectable limited edition Diamond Jubilee Oyster card. From today (14 May), the cards will become";}
        
        


 