


@{ViewBag.Title = "Emergency gas works cause temporary diversion of route 50";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>Emergency gas works cause temporary diversion of route 50</h1>
        <div class="content-page-press-release">
        04 May 2012
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        From Monday 7 May Southern Gas will be undertaking emergency utility works on Norbury Crescent, between Norbury and Thornton Heath.  These essential gas works require the road to be closed and as a result the route 50 bus will be temporarily diverted.
        
    </div>



 <div class="on-this-page">
<p>While these works are undertaken the route 50 will be diverted away from Brigstock Road, Melfort Road, Norbury Crescent and St Helens Road.&nbsp; </p>
<p>It will instead run along from Thornton Heath using Parchmore Road and Green Lane returning to its normal line of route on London Road in Norbury.</p>
<p>Bus stops along the closed section will be out of service and posters will be clearly displayed advising passengers of their nearest alternative bus stop.&nbsp; </p>
<p>It is expected the utility works will be completed by 1 July, although if they are completed early buses will return to normal line of route sooner.</p>
<p>For up to date travel information please visit <a href="http://www.tfl.gov.uk/livetravelnews">www.tfl.gov.uk/livetravelnews</a> or for information on how to plan your journey <a href="http://www.tfl.gov.uk/journeyplanner">www.tfl.gov.uk/journeyplanner</a> <br></p>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "While these works are undertaken the route 50 will be diverted away from Brigstock Road, Melfort Road, Norbury Crescent and St Helens Road.&nbsp; It will instead run along from Thornton Heath using Parchmore Road and Green Lane returning to its normal";}
        
        


 