


@{ViewBag.Title = "Emirates Air Line flying high as all 34 cabins undergo rigorous safety testing";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>Emirates Air Line flying high as all 34 cabins undergo rigorous safety testing</h1>
        <div class="content-page-press-release">
        15 May 2012
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        The construction of London's newest transport link reached another milestone today as all 34 cabins of the Emirates Air Line took off for their inaugural load testing flight.
        
    </div>



<div class="pull-quote">
        <div class="quote-body">"The speed with which we have gone from designs to safety testing of the Emirates Air Line is a clear demonstration of London's ability to deliver world class projects and attract major investment."</div>
        <div class="quote-footer">
            <div class="quotee-name">Boris Johnson</div>
            <div class="quotee-job-title">the Mayor of London</div>
        </div>
</div>

 <div class="on-this-page">
<div class="pullquote right">
                        <p>
                            The speed with which we have gone from designs to safety testing of the Emirates Air Line is a clear demonstration of London's ability to deliver world class projects and attract major investment. 
                            
                        </p>
                    </div>
                
            
            
            <p>This extensive testing programme is part of a series of rigorous safety trials and follows last month's completion of the Emirates Air Line's three towers with cabling extended across the river. </p>
<p>The cabins will travel across 1.1km of cable, gliding 90 metres above the Thames with weights representing the maximum number of passengers before the Emirates Air Line opens for passenger service in summer 2012. <br>The innovative Emirates Air Line is a key plank of the Mayor's plans to revitalise east London and create jobs for Londoners and attract investment into the Capital. </p>
<p>It will be a much needed new river crossing with the capacity to carry up to 2,500 people per hour in each direction - the equivalent of 30 buses per hour. </p>

<h2>World class project</h2>
<p>
<p>The Mayor has secured &pound;36m from Emirates to fund the connection which will create a direct link between the O2 and ExCeL, and an additional interchange between the Jubilee line and Docklands Light Railway. </p>
<p>Boris Johnson, the Mayor of London, said: 'The speed with which we have gone from designs to safety testing of the Emirates Air Line is a clear demonstration of London's ability to deliver world class projects and attract major investment. </p>
<p>'This new transport link is set to support my plans to transform east London into a vibrant new metropolitan quarter boasting new jobs, homes and enterprise. </p>
<p>'Londoners can now see this fabulous new feature of our city's skyline being put through its paces before they can get on board themselves to breathe in the stunning views it will afford.'</p>

<h2>Spectacular views</h2>
<p>
<p>
<p>When the Emirates Air Line opens passengers will have spectacular views of the city including St Paul's Cathedral, the Gherkin, Thames Barrier and the Olympic Park. </p>
<p>It will also be possible to see as far as Wembley Stadium Arch, 15 miles away. </p>
<p>Laurie Berryman, Vice President UK at Emirates, said: 'This test flight is a significant milestone in the development of this new transport system, and brings us closer to being able to fly passengers across the Thames between the two terminals at Emirates Greenwich Peninsula and Emirates Royal Docks. </p>
<p>'This innovative form of air travel is an interesting addition to our extensive flight network, allowing us to connect with even more people in London and from across the world.'</p>

<h2>Additional river crossing</h2>
<p>
<p>
<p>Design, Build and Operating contractor Mace is working closely with cable car specialist Doppelmayr to carry out the testing. </p>
<p>Matt Randall, Project Director for Mace, said: 'The testing and commissioning of all 34 cabins over the Thames will see the system really put through its paces over the coming days.</p>
<p>'The cabins have travelled smoothly on their early journeys and we are making excellent progress on the wider construction with both Terminals and landscaping nearing completion.'</p>
<p>The Emirates Air Line will provide the first additional river crossing in a proposed package of measures.</p>
<p>Following a consultation at the beginning of the year, TfL is developing proposals for further river crossings; a tunnel at Silvertown and a new ferry crossing at Gallions Reach.</p>
<p>
<hr>
<br><strong>Notes to editors:</strong> 
<ul>
<li>Images of the Emirates Air Line are attached, higher resolution and further images are available on request from the TfL Press Office </li>
<li>Providing a direct connection between the Greenwich Peninsula and Royal Victoria Docks, Emirates Air Line will cut journey times and link the O2 Arena with the ExCeL - Europe's two biggest entertainment venues </li>
<li>Both areas surrounding the Emirates Air Line have been earmarked for a number of regeneration projects with the Royal Victoria Docks selected as one of the new Local Enterprise Zones. The Emirates Air Line will play a key role in supporting these regeneration projects by providing a quicker and more direct link. It will also give local communities on both sides of the Emirates Air Line access to a range of entertainment, job and leisure opportunities that are set to become available as regeneration kicks up its pace </li>
<li>The South Tower, at the largest of the three, is made up of approximately 6,500 steel pieces measuring between 30-50mm long and weighing around 570 tonnes </li>
<li>Emirates currently operates eight flights a day from London to Dubai and beyond, with five daily services from Heathrow and three daily from London Gatwick.&nbsp;The airline also operates flights from Birmingham (twice daily), Manchester (three times daily), Newcastle and Glasgow (both daily). It is estimated that the airline annually contributes over $400m to UK tourism<br></li></ul>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "This extensive testing programme is part of a series of rigorous safety trials and follows last month's completion of the Emirates Air Line's three towers with cabling extended across the river. The cabins will travel across 1.1km of cable, gliding 90";}
        
        


 