


@{ViewBag.Title = "Hammersmith Flyover to fully reopen to traffic on 30 May";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>Hammersmith Flyover to fully reopen to traffic on 30 May</h1>
        <div class="content-page-press-release">
        15 May 2012
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        Completion of strengthening works allow flyover to be fully reopened well ahead of London 2012 Games.
        
    </div>



<div class="pull-quote">
        <div class="quote-body">"'The final phase of works to prepare the carriageway for full reopening is now well under way."</div>
        <div class="quote-footer">
            <div class="quotee-name">Garrett Emmerson</div>
            <div class="quotee-job-title">Chief Operating Officer for Surface Transport at TfL</div>
        </div>
</div>

 <div class="on-this-page">
<div class="pullquote right">
                        <p>
                            'The final phase of works to prepare the carriageway for full reopening is now well under way.
                            
                        </p>
                    </div>
                
            
            
            <ul>
<li>&nbsp;Flyover closed overnight for two weeks to enable TfL to complete resurfacing works </li></ul>
<p>Vital repair work to the Hammersmith Flyover will be completed on 30 May, allowing the structure to be fully reopened to all traffic well ahead of the London 2012 Games. </p>
<p>The works, which began in January, have seen around 200 metres of the central reservation along the flyover removed, a new structural slab and concrete barriers installed, as well as tailored anchorages for the new cables within the structure. </p>
<h2>Final elements</h2>
<p>Last month, around 22km of new cables were installed above and below the bridge deck as part of a bespoke design, which will supplement the load capacity of the existing cables. </p>
<p>These new cables are surrounded by wax oil to prevent deterioration and allow inspection and replacement if required in the future.</p>
<p>In order to carry out the final elements of this work, including resurfacing and relining the carriageway across the flyover, Transport for London (TfL) will be carrying out two weeks of overnight closures to the flyover from 15 May until 30 May between 22:00 and 06:00. </p>
<p>By carrying out these works overnight, TfL can complete these vital phases of work more quickly and efficiently, minimising disruption to all road users in the area. </p>
<h2>Alternative routes</h2>
<p>During the scheduled closures listed above, traffic will be diverted around the Hammersmith gyratory system. People are advised to consider alternative routes to complete their journey where possible. </p>

<p>Once these works are completed, the flyover will be able to carry full traffic loading during the Games and for many decades to come.</p>
<p>Garrett Emmerson, Chief Operating Officer for Surface Transport at TfL, said: 'The Hammersmith Flyover is a vital artery for London and our engineers have been working non-stop since December to deliver a solution which allows us to fully reopen the flyover to all traffic as quickly as possible.</p>
<p>'The final phase of works to prepare the carriageway for full reopening is now well under way and are scheduled to be completed by 30 May; well ahead of the London 2012 Games.' </p>
<h2>Minimise disruption</h2>
<p>TfL will return to the structure during 2013 to strengthen the remaining spans. </p>
<p>This work will be carried out, where possible, with no weight or lane restrictions and minimal closures to the flyover, which will be coordinated by TfL to minimise traffic disruption.</p>
<p>
<hr>

<p>
<p><strong>Notes to editors:</strong></p>
<ul>
<li>During the past two years, TfL has been carrying out detailed monitoring inside the unique flyover, which was built in 1961 and transferred to TfL's stewardship in 2000. In particular, TfL engineers have been checking the condition of the internal cables which help to hold the spans of the concrete structure in place </li>
<li>In the week prior to Christmas, following further deterioration to the cables, TfL took the decision to keep the flyover closed to carry out more detailed assessment of the complete structure </li>
<li>On 13 January 2012, TfL reopened the flyover to light traffic in one lane in each direction, whilst work continued to strengthen key sections of the flyover. Traffic restrictions have been enforced by a 2.0m (6'6") width restriction at either end of the flyover to prevent large vehicles such as HGVs and coaches from crossing </li>
<li>A team of engineers are working 24 hours a day, seven days a week to complete the work on top and within the flyover, often in a crawl space far less than human height </li>
<li>Certain elements of these repair works may be carried out within the structure or behind noise shields and so may not be visible to drivers using the Hammersmith Flyover</li></ul>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "&nbsp;Flyover closed overnight for two weeks to enable TfL to complete resurfacing works Vital repair work to the Hammersmith Flyover will be completed on 30 May, allowing the structure to be fully reopened to all traffic well ahead of the London 2012";}
        
        


 