


@{ViewBag.Title = "Helping deliver Crossrail: Road lane suspensions and diversions in North Woolwich";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>Helping deliver Crossrail: Road lane suspensions and diversions in North Woolwich</h1>
        <div class="content-page-press-release">
        04 May 2012
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        From Tuesday 8 May some long term, but temporary, changes will be made to local traffic arrangements in the North Woolwich area to enable Crossrail works to take place. These works are expected to last for around 18 months.
        
    </div>



 <div class="on-this-page">
<p>From Tuesday 8 May some long term, but temporary, changes will be made to local traffic arrangements in the North Woolwich area to enable Crossrail works to take place.&nbsp; </p>
<p>These works are expected to last for around 18 months.</p>
<p>
<hr>
Whilst undertaking these works it will be necessary to suspend one lane on part of both Albert Road and Connaught Road which will affect all local traffic including bus routes 473 and 474.&nbsp; 
<p>The diversion that will be put in place will be from the junction of Albert Road with Lord Street, with westbound traffic diverted along Factory Road, North Woolwich Road and Connaught Bridge.&nbsp; </p>
<p>Eastbound traffic will not be affected and will continue to be able use Connaught Road and Albert Road.</p>
<p>
<hr>
During these works a number of bus stops will be closed with posters clearly displayed advising passengers of their nearest alternative bus stop.&nbsp; 
<p>All bus routes will continue to serve London City Airport.</p>
<p>
<hr>
When Crossrail opens in late 2018, it will transform journeys across London and the South East and transport around 200 million passengers a year with its trains carrying around 1,500 passengers each at peak times. 
<p>For up to date travel information please visit <a href="http://www.tfl.gov.uk/livetravelnews">www.tfl.gov.uk/livetravelnews</a> or for information on how to plan your journey <a href="http://www.tfl.gov.uk/journeyplanner">www.tfl.gov.uk/journeyplanner</a> </p>
<p>For further information about Crossrail visit <a href="http://www.crossrail.co.uk">www.crossrail.co.uk</a> or call their helpline on 0345 602 3813 (24 hours). </p>

<p>
<hr>
<br></p>
            <p><strong>Notes to editors:</strong></p>
<ul>
<li>Crossrail will run 118km from Maidenhead and Heathrow in the west, through new twin-bore 21km tunnels under central London to Shenfield and Abbey Wood in the east.&nbsp; It will bring an additional 1.5 million people within 45 minutes commuting distance of London's key business districts</li>
<li>With up to 24 trains per hour between Paddington and Whitechapel during peak times, Crossrail will carry over 200 million passengers each year. Each Crossrail train will be 200 metres long with the capacity to carry 1,500 passengers</li>
<li>Crossrail will support regeneration across the capital, helping to secure London's position as a world leading financial centre, and cutting journey times across the city</li>
<li>Crossrail is being delivered by Crossrail Limited (CRL).&nbsp; CRL is a wholly owned subsidiary of Transport for London.&nbsp; Crossrail is jointly sponsored by the Department for Transport and Transport for London.<br></li></ul>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "From Tuesday 8 May some long term, but temporary, changes will be made to local traffic arrangements in the North Woolwich area to enable Crossrail works to take place.&nbsp; These works are expected to last for around 18 months.Whilst undertaking these";}
        
        


 