


@{ViewBag.Title = "Limbering up for Olympic love on the Central line";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>Limbering up for Olympic love on the Central line</h1>
        <div class="content-page-press-release">
        10 May 2012
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        Who is Community? - a new artwork by Bob and Roberta Smith and Tim Newton running from 15 May 2012 through 2013.
        
    </div>



 <div class="on-this-page">
<p>A fictional meeting and love affair on the Central line between the founder of the modern Olympic Games, Pierre de Coubertin, and German political theorist Hannah Arendt, is the basis for a short film and a series of paintings for Stratford Underground station by artist Bob and Roberta Smith and creative film director Tim Newton. </p>
<p>The paintings will be on display for customers to enjoy at Stratford station from 15 May while the film can already be downloaded using a smart phone via a QR code on posters advertising this new project across the Tube network. </p>
<p>Commissioned by Art on the Underground, 'Who is Community?' is part of the Central line series, artworks that focus on the impact of human interaction on the Tube, both for the four million passengers that use it daily and for the London Underground staff. </p>
<h2>Romantic public spaces</h2>
<p>'I want to explore why public space, like the Underground, and public celebrations, like the Olympics, are romantic, exciting and important to democratic life. </p>
<p>'Who is Community? makes a serious point about how to understand 'publicness' in a joyful, optimistic and playful way,' says Bob. </p>
<p>The artist's early works imagined fictional meetings between historical figures. The film is an animated version of that idea. His protagonists could never have met, yet share similar ideals about freedom being public, associative and participatory. </p>
<p>Coubertin originated the idea that the Olympics could promote cooperation between the world's nations, inspiring peace and perhaps even preventing conflict. </p>
<p>Arendt grew up as a Jew in Nazi Germany and was therefore all too aware of the importance of freedom. In the film, the pair are seen mutually appreciating each others' thinking, interspersed with a visualisation of multi-national, turn of the century Olympians, limbering up in Coubertin's expansive moustache. </p>
<p>These interjections and the playful cross-century love affair are set against the 1940s Art Deco architecture of Loughton Underground station and the verdant Stratford Fat Walk, to which Anish Kapoor's Arcelor Mittal Orbit forms a dramatic backdrop. </p>
<h2>Stratford premiere</h2>
<p>As well as being able to download the film via QR codes on posters at Tube stations, the film will be premiered at the Stratford Picture House on 15 May.</p>
<p>From 15 May, life-size cut-outs of characters from the film will appear around the Stratford neighbourhood and paintings that tell the story of the film will be hung in the station as a series of large, painted posters.</p>
<p>From October 2012 the film will then be screened on a specially installed version of the Hainault Passimeter (a 1930s ticket booth) in Stratford Underground station. </p>
<p>Tamsin Dillon, Head of Art on the Underground, said: 'I am thrilled that Art on the Underground has worked with him on such an ambitious and important film, the second he has made in collaboration with Tim Newton. </p>
<p>'At this crucial moment for London, Bob and Roberta Smith has chosen to approach the present through the past, retelling the heritage of the Olympic games and positioning two of history's great thinkers alongside one another. </p>
<p>'I hope this story offers passengers a moment of contemplation while travelling across the Capital.'</p>
<p>
<hr>

<ul>
<li>The film can be viewed on the TfL website at: <a href="http://art.tfl.gov.uk/projects/detail/4759/">http://art.tfl.gov.uk/projects/detail/4759/</a> </li>
<li>Bob and Roberta Smith is the persona of contemporary artist Patrick Brill who is represented by Hales Gallery, London. His art focuses around the power of art to act as a social force to challenge society's assumptions and values. He often uses everyday reclaimed materials in a variety of media, including: installations, painting and sculpture. Brill studied art at the University of Reading, and was subsequently awarded a scholarship to The British School in Rome, which he followed with an MA at Goldsmith's College, London. He has had more than 15 solo shows to date. In 2005 he was commissioned to curate a series of five public art projects in the Thames Gateway called Art U Need, and in 2007 a sculpture proposed by Smith was shortlisted for the fourth plinth in Trafalgar Square and is currently on display at the National Gallery. Recently in 2008 Brill collaborated with Electric Pedals to create a fully interactive Christmas tree for Tate Britain entitled Make Your Own Xmas and in 2009 he contributed to the ground breaking Tate Triennial exhibition Altermodern which was curated by Nicholas Bouriaud. Later this year he will take part in Niet Normaal at the Bluecoat Gallery Liverpool </li>
<li>Tim Newton was born in Mansfield, Nottinghamshire in 1962 and now lives in Leytonstone in East London. Before moving into film production, Tim worked extensively as an actor, playwright and street performer, specialising in physical theatre, most notably with his solo show "The Ballad of the Limehouse Rat" which went on to win four London Theatre awards. He also regularly performed in plays by theatre maverick Ken Campbell, acting in the 24 hour play, "The Warp" and "Makbed", the pidgin english version of Macbeth, where he appeared in the title role in the West End and National Theatre. Since moving into film and television he's produced and directed TV commercials, viral videos and several factual entertainment series for BBC and ITV including" Beat the Burglar" and "Cash in the Attic". Tim continues to make his own independent films, most recently "Trimming Pablo", a fictionalised account of Picasso's visit to the 1950 World Peace Congress in Sheffield </li>
<li>Art on the Underground is London Underground's art programme, producing high calibre artworks throughout the network, enhancing the millions of journeys made every day. It aims to promote a greater understanding of the Tube as a cultural and social environment through the creative commissioning of artworks. With between three and a half to four million passengers using the network per day, Art on the Underground projects are exposed to one of the largest and most diverse audiences in Europe </li>
<li>The theme for the Central line series is Communication and Exchange. The series is supported by the National Lottery through Arts Council England. With stations spread across six zones, the Central line is the longest (74km / 46m) on the London Underground network. It employs some 1400 operational staff, from West Ruislip in the west to Epping in the east. Art on the Underground has chosen to focus on the Central line in the lead up to 2012, as its geographical scope and diversity reflect London's world city status. To date the Central line series has included: Michael Landy's Acts of Kindness, Ruth Ewan's A Lock is a Gate, Alice Channer's Hard Metal Body and Anna Barham's White City </li>
<li>The Tube is undergoing a huge and essential programme to upgrade its ageing infrastructure - vital to cope with a growing population and to support the economic development and growth of the Capital and the UK. This includes the introduction of new track and signalling and the rebuilding of some of our most important stations. By the end of the current programme there will be 30 per cent&nbsp;more capacity. This will inevitably result in some disruption for passengers, but TfL is working hard to provide information and alternative travel options. The work is essential to provide for London's growing transport needs now, and into the future. TfL is urging all Londoners and Tube, London Overground, London Tramlink and DLR passengers to "check before you travel" at weekends, allowing extra journey time where necessary. Weekend travel news is available at: <a href="http://www.tfl.gov.uk">http://www.tfl.gov.uk</a> and for more information about Art on the Underground, please visit: <a href="http://art.tfl.gov.uk/">http://art.tfl.gov.uk/</a> <br></li></ul>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "A fictional meeting and love affair on the Central line between the founder of the modern Olympic Games, Pierre de Coubertin, and German political theorist Hannah Arendt, is the basis for a short film and a series of paintings for Stratford Underground";}
        
        


 