


@{ViewBag.Title = "London Underground showcases proposals to boost Bank's capacity";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>London Underground showcases proposals to boost Bank's capacity</h1>
        <div class="content-page-press-release">
        25 May 2012
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        Plans that would see the creation of wider platforms, better access to lines and step-free access to a new ticket hall at one of the Tube's busiest stations will go on public display for the second time next week.
        
    </div>



 <div class="on-this-page">
<ul>
<li>Capacity upgrade scheme will keep up with demand at Tube's fourth busiest station </li>
<li>Public invited to second exhibition to view plans for wider platforms and step-free access </li></ul>

<p>London Underground unveiled the proposals for the Bank station capacity upgrade project in November last year at an exhibition in the City as part of the consultation on the plans.</p>
<h2>Relieve congestion</h2>
<p>A second exhibition will start on Monday 28 May and run until Friday 1 June inclusive from 8am - 6pm each day in the City of London.</p>
<p>The proposed scheme, which is scheduled to be completed by 2021, aims to relieve congestion and increase capacity at Bank and Monument, the fourth busiest interchange on the Tube network, with a range of solutions that would ease overcrowding:</p>
<ul>
<li>A new southbound Northern line running tunnel that will create extra space to reduce crowding on the platforms </li>
<li>A new Northern line concourse with additional interchange passageways and escalators to the DLR and Central line </li>
<li>Lifts to a new ticket hall in King William Street to provide step-free access between street level, the Northern line and DLR </li></ul>
<p>Transport for London (TfL) received more than 200 responses to the consultation, which have been used in the next stage of the project. TfL is now investigating two options for acquiring land to build the project and three options to locate a new station entrance.</p>
<h2>Create more capacity</h2>
<p>David Waboso, London Underground's Director of Capital Programmes, said: "Bank is one of the busiest stations on the network and we've been working closely with the City of London Corporation on plans to create more capacity at this important interchange.</p>
<p>"Most of the work will be below the ground and we'll keep disruption to a minimum during construction, but it's important that the public have the chance to comment on what we're proposing to improve their Tube network."</p>
<p>Members of the project team will be available to answer any questions about the proposals at an exhibition at the Guildhall Ambulatory, corner of Aldermanbury and Gresham Street, London EC2V 7HH.</p>
<p>To find more information about the project and contact the project team, visit the project website at <a href="http://consultations.tfl.gov.uk/tube/bank">http://consultations.tfl.gov.uk/tube/bank</a> or email <a href="mailto:BankSCU&#64;tfl.gov.uk">BankSCU&#64;tfl.gov.uk</a></p>
<p>
<hr>

<p>
<p><br>&nbsp;</p>
            <p><strong>Notes to editors:</strong></p>
<ul>
<li>The Bank and Monument Tube station complex is located in the heart of the City of London financial district and is the fourth busiest interchange station on the Underground network with 96,000 customers during the morning rush hours, which is set to increase. Around 40,000 of these customers are changing between lines </li>
<li>Bank is served by five Underground lines as well as the Docklands Light Railway (DLR) </li>
<li>The Bank-Monument complex consists of three ticket halls, six lifts, 10 platforms, 15 escalators and two 300ft moving walkways </li>
<li>Following the advertisement in the Official Journal of the European Union in November 2011, London Underground Limited (LUL) has short-listed four bidders to be taken through a new Innovative Contractor Engagement process for the project's design and build contract.&nbsp; After completing the dialogue phase LU aims to award a contract by July 2013<br></li></ul>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "Capacity upgrade scheme will keep up with demand at Tube's fourth busiest station Public invited to second exhibition to view plans for wider platforms and step-free access London Underground unveiled the proposals for the Bank station capacity upgrade";}
        
        


 