


@{ViewBag.Title = "London 2012 Games first: TfL officials to provide live travel advice to businesses on Twitter";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>London 2012 Games first: TfL officials to provide live travel advice to businesses on Twitter</h1>
        <div class="content-page-press-release">
        28 May 2012
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        O2, Transport for London and The Zetter Hotel come together for the first time to provide travel advice to businesses via a live Get Ahead of the Games Twitter chat.
        
    </div>



<div class="pull-quote">
        <div class="quote-body">"More than 61 per cent of business leaders across Europe are now using Twitter, which is why, for the first time in Games history, we're engaging with employers via this important channel"</div>
        <div class="quote-footer">
            <div class="quotee-name">Ben Plowden</div>
            <div class="quotee-job-title">Director of Planning at TfL Surface Transport</div>
        </div>
</div>

 <div class="on-this-page">
<div class="pullquote right">
                        <p>
                            More than 61 per cent of business leaders across Europe are now using Twitter, which is why, for the first time in Games history, we're engaging with employers via this important channel
                            
                        </p>
                    </div>
                
            
            
            <ul>
<li>To participate, follow #GAOTG from 11:30-12:30 BST on Wednesday 30 May 2012</li></ul>
<p>For the first time in Olympic and Paralympic Games history, Games officials will be giving travel advice to businesses over Twitter. </p>
<p>Transport for London (TfL), O2 and The Zetter Hotel in London will be taking part in a live Twitter chat next week to help Britain's employers plan their transport ahead of the London 2012 Games.</p>
<p>Ben Plowden, Director of Planning, TfL Surface Transport, Ben Dowd, Business Director at O2 and Lindsey Venter, Group HR Director at The Zetter Hotel will come together on Twitter from11:30-12:30 BST on Wednesday 30 May 2012. </p>
<h2>Businesses must plan ahead</h2>
<p>The chat will be hosted by the official London 2012/TfL Get Ahead of the Games transport advice twitter feed (&#64;GAOTG), using the hashtag #GAOTG. </p>
<p>In the Twitter chat, the guests will answer questions from large employers to small businesses on all aspects of travel planning ahead of the Games, helping firms maximise the business benefits the Games will bring. Topics include:</p>
<ul>
<li>Planning ahead to minimise the travel impact of the Games on operations </li>
<li>Challenges experienced to date with travel planning and how to overcome them </li>
<li>How to test travel plans </li>
<li>How to implement employee flexible working </li>
<li>Sending and receiving deliveries during Games time </li>
<li>How to continue with any travel plans put in place after the Games</li></ul>
<p>Businesses impacted by the Games who are available to take part in the business chat should follow #GAOTG on Twitter from 11:30-12:30 BST on Wednesday 3 May 2012. Questions for the panel can be submitted to &#64;GAOTG beforehand, using the hashtag #GAOTG. </p>
<h2>Exciting summer for London</h2>
<p>Ben Plowden, Director of Planning at TfL Surface Transport, said: 'More than 61 per cent of business leaders across Europe are now using Twitter, which is why, for the first time in Games history, we're engaging with employers via this important channel. </p>
<p>'By teaming up with business experts, this Twitter chat is an important way for us to speak to bosses directly and answer their questions.</p>
<p>'London will be a hugely exciting place to be this summer, with a fantastic spectacle of sporting and cultural events. </p>
<p>'Parts of the road and public transport network will be exceptionally busy during the Games and this will affect firms around Games venues and across central London. </p>
<p>'This is why we're working closely with businesses, to ensure they have all the information they need to get ahead of the Games, while also delivering important advice and support.'</p>
<p>Ben Dowd, Business Director at O2, said: 'We know the Games are expected to bring operating, travel and business challenges to firms, and that is why we're planning ahead. </p>
<p>'We've tested our ability as an organisation to manage all the complexity that those challenges bring. Firstly, by conducting a flexible working pilot at our Slough office, where 2,500 staff worked remotely for the day. </p>
<p>'By understanding how this worked, the planning we needed to put in place and how our IT and employees needed to respond, we are now in a position to share our learnings with other organisations via Twitter, helping them to be ready and manage not only the impact of the Games but any future impact that may disrupt their business.' </p>
<h2>Helping staff get to work</h2>
<p>Lindsey Venter, Group HR Manager at The Zetter Group, said: 'Our employees work across a group of boutique hotels, restaurant and bars all based in central London so our main challenge during the Games is making sure staff can get to work on time. </p>
<p>'We're providing incentives to staff, such as free cooked breakfasts for the early bird team, plus we're having a party room for all the team to watch the Games at lunch and dinner breaks as well as chill out and nap in if they are doing split shifts. Most importantly, we're testing our plans ahead of time so we're in a place to take advantage of the benefits the Games bring.'</p>
<p>London 2012 and TfL have provided free travel advice to business programmes to companies operating in areas of London and the rest of the UK that will be affected by the Games. </p>
<p>Five-hundred major businesses employing more than 600,000 people have signed up for specific travel advice and have drafted travel plans which they have shared with TfL, and more than 20,500 businesses across London and other affected areas of the UK have attended TfL arranged or supported workshops.</p>
<p>Businesses are encouraged to use the support available at <a href="http://www.GetAheadoftheGames.com">www.GetAheadoftheGames.com</a> to prepare and test in advance of the Games.</p>
<p>
<hr>
<strong>Notes to editors </strong>
<p><strong>
<ul>
<li></li></ul></strong>TfL will only be talking about business-related travel planning questions and we will not be answering questions outside those topics. Example questions for this chat may include: How can my business prepare for the Games? What can I do to reduce my employees' travel? How do I ensure I receive deliveries during Games time? 
<li>A transcript of the Twitter debate will be available on <a href="http://www.GetAheadoftheGames.com">www.GetAheadoftheGames.com</a> following the Twitter chat </li>
<li>Ben Plowden is Director of Planning, Surface Transport at TfL. His responsibilities include providing the overall strategic direction for Surface Transport and delivery of cycling, walking, public realm, road safety, freight, bus priority and reducing Londoners' travel demand during the London 2012 Games. Ben Plowden has been at TfL since 2002, during which time he has held a number of senior roles </li>
<li>Ben Dowd is O2's Business Sales Director in the UK. His responsibility covers SME, corporate, indirect and MNC sales as well as corporate marketing and customer retention for SME, and he represents O2 Europe on the MNC Committee as well as being a non-executive Director for Manx Telecom. Before the business sales role, Ben Dowd was head of indirect consumer channels for O2 UK and held this post between 2002 and 2005 </li>
<li>Lindsey Venter is the Group HR Manager for The Zetter Group in London, an independent group of boutique hotels, restaurant and bars which include The Zetter Townhouse (named London Hotel of The Year 2012 and Hotel Bar 2012), The Zetter Hotel and the award winning Bistrot Bruno Loubet. The Group have two new London properties in development (one hotel and one restaurant) both due to open in the next 12 months. Lindsey Venter oversees all the training, recruitment and HR functions across the group. Her current challenge is to manage and implement the groups' HR strategy for the London 2012 Olympic period while also embarking on a recruitment programme for the company's new restaurant which is due to open at the end of the year </li>
<li>London 2012 and TfL are providing free travel advice to businesses operating in areas of London and the rest of the UK that will be affected by the Games.&nbsp;At certain times, and in certain locations, London and the UK's road and rail networks will be much busier than usual.&nbsp; By visiting <a href="http://www.GetAheadoftheGames.com">www.GetAheadoftheGames.com</a> or following the &#64;GAOTG Twitter channel, businesses can receive the latest tips, travel information and advice on how to plan ahead and keep their firms running smoothly </li>
<li>Further information about future Twitter chats will be added to <a href="http://www.GetAheadoftheGames.com">www.GetAheadoftheGames.com</a> or &#64;GAOTG between now and the London 2012 Games</li>
<p>&nbsp;</p>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "To participate, follow #GAOTG from 11:30-12:30 BST on Wednesday 30 May 2012For the first time in Olympic and Paralympic Games history, Games officials will be giving travel advice to businesses over Twitter. Transport for London (TfL), O2 and The Zetter";}
        
        


 