


@{ViewBag.Title = "Medically trained BTP officers deployed on the Tube ";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>Medically trained BTP officers deployed on the Tube </h1>
        <div class="content-page-press-release">
        21 May 2012
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        Passengers taken ill to be attended to more quickly.
        
    </div>



<div class="pull-quote">
        <div class="quote-body">"We need to harness every single method we can to run the most reliable possible operation on the Tube."</div>
        <div class="quote-footer">
            <div class="quotee-name">Isabel Dedring</div>
            <div class="quotee-job-title">Deputy Mayor for Transport</div>
        </div>
</div>

 <div class="on-this-page">
<div class="pullquote right">
                        <p>
                            We need to harness every single method we can to run the most reliable possible operation on the Tube.
                            
                        </p>
                    </div>
                
            
            
            <ul>
<li>Faster response times will help reduce service delays </li></ul>
<p>Medically trained British Transport Police (BTP) officers will be deployed across the Tube network later this month to help speed up the response when passengers are taken ill on the Underground.<br>&nbsp;<br>The BTP and TfL have worked in partnership to enable 20 BTP officers to receive this advanced medical care training. </p>
<p>These officers will be patrolling key locations around the network as normal and will also have access to two fast response vehicles. </p>
<h2>Additional passenger safety</h2>
<p>They will be able to attend incidents quickly and efficiently assess a situation and administer first aid before the London Ambulance Service or paramedics arrive.<br>&nbsp;<br>The quick response of medically trained police officers will also help cut delays to Tube services when a person is taken ill on a train. </p>
<p>The specially trained officers will act with a view to not only assisting the person at the scene but also any persons trapped on trains in tunnels or at other locations, by taking additional passenger safety and security information into account such as stalled trains.</p>
<p>The Mayor and Transport for London are working hard to reduce Tube delays through the Tube Reliability Programme. </p>
<h2>Reducing delays</h2>
<p>Passenger incidents make up a third of all delays on the Tube and people becoming ill on the train make up a large proportion of these.</p>
<p>The Deputy Mayor for Transport, Isabel Dedring, said: 'Millions of Londoners and visitors to our great city use the Underground every day and we need to harness every single method we can to run the most reliable possible operation on the Tube.</p>
<p>'This is another part of a long term investment and focus being led by the Mayor on improving passengers journeys and reducing delays by 30 per cent by 2015.'<br>&nbsp;<br>Nigel Holness, Operations Director at London Underground, said: 'Looking after our passengers is our top priority and through working with the BTP to provide these medically trained officers we will be able to ensure passengers receive a high standard of care quickly. </p>
<h2>Various locations</h2>
<p>'Their introduction will also mean that other passengers won't face unnecessary delays when an incident takes place and they will be particularly important during the summer when we welcome millions of extra visitors from around the world.'</p>
<p>The officers have undertaken an intensive four week course in 'Pre Hospital Care', which was paid for by TfL. </p>
<p>They will be working at various locations as part of a year-long trial which begins ahead of the summer when millions of additional visitors will be using public transport during the London 2012 Olympic Games.</p>
<p>British Transport Police Chief Superintendent Nicki Watson said: 'Working together with TfL and the LAS, we have been able to give the officers an enhanced level of medical training. </p>
<p>'It will allow them to quickly respond when passengers are taken ill, and assess the safety of others who could be affected, for example, those trapped on a train in a tunnel for a long period of time. </p>
<h2>Fast response vehicles</h2>

<p>'The 20 officers have been drawn from our existing resources, but we are recruiting new officers to replace them, so they represent a significant enhancement to policing on the Tube and DLR. </p>
<p>'They are also available for other response and patrol activity when their enhanced medical skills are not in demand.'<br>&nbsp;<br>The team will use two fast response vehicles equipped with a small amount of medical equipment including defibrillators and oxygen to assist persons at the scene. </p>
<p>This equipment is the same as used by the Ambulance Service and therefore ensures continuity of care for the person when LAS arrive on scene.</p>
<p>
<hr>

<p>
<p><strong>Notes to editors: </strong></p>
<ul>
<li>The medically trained officers will be operational from 28 May, 2012 </li>
<li>The 20 officers who have been medically trained consists of 18 constables and two sergeants </li>
<li>The medical care course the officers have completed is accredited by the Royal College of Surgeons, Edinburgh </li>
<li>The officers will be on duty between 07:00 and 23:00 seven days a week able to respond to calls of passengers taken ill </li>
<li>The Tube reliability programme, introduced by the Mayor and London Underground last year, has been key to delivering the clear improvements in reliability and performance. A range of measures to improve reliability includes: 
<ul type="circle">
<li>New techniques being introduced to predict when maintenance on the lines is required in order to prevent unexpected equipment failure </li>
<li>An initiative launched with the British Transport Police (BTP) has seen some of the Tube's Emergency Response Unit (ERU) vehicles designated as police vehicles and driven by trained BTP officers for speedier response to serious incidents </li>
<li>London Underground is increasing its incident response capabilities, and developing plans to co-locate engineering and operations staff in one command and control centre </li>
<li>The installation of covers on the emergency call units on Victoria line trains has significantly reduced the number of accidental activations by passengers </li>
<li>A huge range of other programmes are being taken forward in order to reduce delays, including the upgrades of Tube signalling and fleets and new technology</li></ul></li>
<li>Later this year the Mayor will set out his plan to reduce delays by a further 30 per cent. A total of &pound;50m has already been identified for the development of reliability projects to further improve Tube services over the next few years<br></li></ul>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "Faster response times will help reduce service delays Medically trained British Transport Police (BTP) officers will be deployed across the Tube network later this month to help speed up the response when passengers are taken ill on the";}
        
        


 