


@{ViewBag.Title = "Olympic legends compete to be the fastest to cross London";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>Olympic legends compete to be the fastest to cross London</h1>
        <div class="content-page-press-release">
        17 May 2012
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        Sally Gunnell, former 400m hurdles Olympic gold medallist, and Chris Boardman, former cycling world champion and Olympic gold medallist, will today race against each other to find the easiest and quickest route across London to the Olympic Park.
        
    </div>



<div class="pull-quote">
        <div class="quote-body">"There are 47 Tube journeys that can be walked in under 10 minutes and this is even quicker if people run it, so commuters should consider letting their trainers, rather than the train, take the strain this summer."</div>
        <div class="quote-footer">
            <div class="quotee-name">Sally Gunnell</div>
            <div class="quotee-job-title">former 400m hurdles Olympic gold medallist</div>
        </div>
</div>

 <div class="on-this-page">
<div class="pullquote right">
                        <p>
                            There are 47 Tube journeys that can be walked in under 10 minutes and this is even quicker if people run it, so commuters should consider letting their trainers, rather than the train, take the strain this summer.
                            
                        </p>
                    </div>
                
            
            
            <p>This race has been inspired by new research from London 2012 and Transport for London (TfL), which reveals 86 per cent of central London businesses are planning one or more initiatives to encourage employees to consider alternative forms of transport. Of this, 60 per cent of businesses will encourage their staff to walk or cycle. </p>
<p>As part of the London 2012 and TfL challenge, Sally will run and Chris will cycle from Liverpool Street station to Stour Space, a gallery and caf&eacute;, opposite the Olympic Park on the River Lea. </p>
<p>The aim is to demonstrate to businesses and their employees the alternatives to getting public transport during Games-time. </p>
<h2>Cycle or walk to work</h2>
<p>TfL and London 2012 are encouraging workers travelling in Games transport 'hotspot' areas to swap to cycling or walking for all or part of their journeys, as part of the Get Ahead of the Games campaign.</p>
<p>Up to three million additional journeys are expected to be made in London on the busiest days of the Games, as many parts of London and the UK transform into a giant cultural and sporting venue. </p>
<p>As a result, the public transport network will, at certain times and places, be much busier than usual. For that reason, businesses located in Games hotspots are being urged to consider alternative travel options at <a href="http://www.getaheadofthegames.com">www.getaheadofthegames.com</a> or by following the official Twitter feed &#64;GAOTG.</p>
<h2>Top tips </h2>Sally Gunnell and Chris Boardman have produced some top tips to help businesses encourage their employees to cycle and walk/run during the Games, which can be found at <a href="http://www.getaheadofthegames.com">www.getaheadofthegames.com</a>. 
<p>The tips have been developed in partnership with firms that have cycling and running schemes for their staff. </p>
<p>These firms include GSK, which has cycle showers, lockers and parking, plus a bike miles scheme; and Unilever, which has created an online community to encourage staff to form their own cycling clubs and regular Q&amp;A sessions for new cyclists.</p>
<p>Chris Boardman, MBE, former British Olympic cycling champion, said: "Today shows how quick and easy it is to cycle around London and it's now up to businesses to encourage their staff to get on their bikes during Games-time. Cycling offers a cheap and convenient way to get around London and is an alternative that businesses wanting their employees to get around hotspots quickly should definitely consider during the Games."</p>
<p>Sally Gunnell, OBE, former British Olympic champion in the 400m hurdles, said: "Walking and running part or all of a journey around London and other hotspots is the ideal way to travel around during the Games. There are 47 Tube journeys that can be walked in under 10 minutes and this is even quicker if people run it, so commuters should consider letting their trainers, rather than the train, take the strain this summer."</p>
<p>Ben Plowden, Director of Surface Planning at TfL, said: "We are asking all businesses in Games hotspots to encourage their employees to consider cycling or walking for all or part of their journey instead of getting the Tube. London will be a hugely exciting place to be this summer but the transport network will be much busier. That's why I'm urging all businesses to consider these top tips and investigate alternative ways their employees can travel. Whether it's travelling to work on foot or by bike, firms need to ensure their business can continue to run smoothly during the Games."</p>

<p>
<hr>
<br></p>
            <p><strong>Notes to editors:</strong></p>
<ol type="1">
<li>Kerry O'Callaghan, Head of Global Brand Communications at GSK, said: "Through our ongoing Right Turns campaign, where we help employees explore the transport alternatives to getting to work, more than 10 per cent&nbsp;of our staff are already registered cyclists.&nbsp; In addition to this, and as part of our London 2012 partnership, we are currently the number one corporate partner of The Gold Challenge Initiative, an official Olympic and Paralympic sport-based charity challenge programme. To encourage participation in this initiative we have launched a 2012km challenge where our staff will cycle in relay between all of our UK sites, from Montrose to London." (GSK is the Official Laboratory Services Provider for London 2012, and has formed a partnership with King's College London (KCL) to provide facilities and equipment to enable experts from KCL to independently operate a World Anti-Doping Agency (WADA) accredited laboratory during the London 2012 Games)</li>
<li>Fiona Laird, SVP HR Global Categories and Research &amp; Development, Unilever said: "We really care about the health and wellbeing of our employees. For this reason we encourage our people to commute by bike. 20 per cent&nbsp;of our employees regularly cycle to work to our offices in Blackfriars and we're looking to increase this during the Games and beyond. Aside from providing great facilities such as showers, lockers and bike parking, we're holding regular Q&amp;A sessions for new cyclists, and have created a forum where novice cyclists can connect with colleagues who cycle to work from their neighbourhood. This has led to 84 per cent&nbsp;of employees feeling the business encourages them to exercise, a decrease in absenteeism and increase in productivity."</li>
<li>Tony Armstrong, Chief Executive of Living Streets, the charity behind Walk to Work Week, said: "This week is Walk to Work Week and we're hoping to get the whole country walking to work , logging their minutes, miles or steps on our online tool and seeing how many calories they have burnt off and CO2 they have saved. Walking is the easiest, cheapest and greenest way to travel and we're keen to see more people give it a go - not just for this week, but during the Games too. Encouraging active lifestyles will help improve the health and wellbeing of employees and it'll reduce stress and increase motivation too."</li>
<li>As a result of the London 2012 Active Travel programme (delivered by TfL and London 2012 to increase levels of walking and cycling), we aim to deliver an additional 1 million journeys a day by foot and bike in London during the Games period. This amounts to a 16 per cent&nbsp;increase in walking and cycling journeys by Londoners at Games time and would represent a 30 per cent&nbsp;mode share for walking and cycling during Games time</li>
<li>Research surveyed 200 central London businesses as part of a monthly questionnaire conducted by London 2012 and TfL</li>
<li>There are 12 million journeys a day made on London's public transport network. On the busiest days of the Games up to 3 million additional journeys will take place on the public transport network. Log onto <a href="http://www.getaheadofthegames.com">www.getaheadofthegames.com</a> for full and final information on when and where the UK's Tube and rail networks will be most affected during this summer's London 2012 Games and follow the &#64;GAOTG Twitter feed for the latest tips, travel information and advice.</li>
<li>London 2012 and TfL have provided free travel advice to business programmes to companies operating in areas of London and the rest of the UK that will be affected by the Games. Five hundred major businesses employing more than 600,000 people have signed up for specific travel advice and have drafted travel plans which they have shared with TfL, and more than 20,500 businesses across London and other affected areas of the UK have attended TfL arranged or supported workshops.</li></ol>
<p>For more information, please contact:</p>
<p>Louise Caldicott&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; T: 020 7544 3735&nbsp;&nbsp;&nbsp;&nbsp; E: <a href="mailto:louise.caldicott&#64;mcsaatchi.com">louise.caldicott&#64;mcsaatchi.com</a><br>Hew Leith&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; T: 020 7544 3891&nbsp;&nbsp;&nbsp;&nbsp; E: <a href="mailto:hew.leith&#64;mcsaatchi.com">hew.leith&#64;mcsaatchi.com</a><br>Out of hours:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; M: 07725 575183</p>
<p><strong>Cycling at work: top tips for employers</strong></p>
<p>During the London 2012 Olympic and Paralympic Games, the public transport network will be much busier than usual at certain times and places. For that reason, TfL and London 2012 are urging businesses located in Games hotspots to consider alternative travel options, such as cycling. </p>
<p>Chris Boardman, former cycling world champion and Olympic gold medallist, gives his top tips on how employers can encourage their staff to cycle to work during the London 2012 Games. </p>
<ol type="1">
<li>Build a community - Building a cycling community at work is a great way of encouraging workplace relationships and increasing motivation. Consider introducing a buddy system, which matches people who are cycling the same way so they can ride together. Consider organising regular social rides, developing a dedicated Twitter feed or website, organising cycling talks/presentations from experts or producing a regular newsletter.</li>
<li>Secure your employees' bikes - There is safe, convenient bike parking all over London, on streets, at stations and at work places, many of which offer secure parking facilities for your employees. If a firm doesn't have parking nearby or on-site, free stands are available from TfL&nbsp; or there are lots of cheap and easy to install stands that can be placed within a building. Providing lockers at work also means staff can store their helmets and clothes securely.</li>
<li>Dress down - Consider relaxing dress codes so staff can dress down on days when they don't have external meetings. This means they're not restricted by suits and high heels and can wear more comfortable clothes to cycle in.</li>
<li>Offer shower facilities - Many people who cycle to work welcome the opportunity to take a shower on arrival at work. Often, these can be provided at minimal expense by converting space within existing premises or by installing purpose-built portable buildings. Providing towels, hairdryers and irons is also a welcome nice-to-have. If there aren't showers, there are clubs/gyms available that offer cycling facilities and showers that employees can use before and after work, e.g. H2 (<a href="http://www.h2bikerun.co.uk">www.h2bikerun.co.uk</a>). </li>
<li>Provide regular maintenance support - Learning the basics to bicycle maintenance is an important aspect of being a safe cyclist. Call upon volunteers around the business to help or look into offering courses or on-site visits from bike experts, to ensure employees are cycling safely. There are a number of free courses and workshops available, which can help cyclists reduce the cost of bicycle maintenance by completing basic tasks such as replacing brake pads and oiling the chain. Look at <a href="http://www.tfl.gov.uk">www.tfl.gov.uk</a> or <a href="http://www.londoncyclist.co.uk">www.londoncyclist.co.uk</a>&nbsp; for courses.</li>
<li>Get tax-free bikes - The Government's Cycle to Work scheme allows employers to offer bikes and cycling equipment to employees as a tax-free benefit. Through this, the employee usually pays a monthly rental, which is deducted from their salary before national insurance and income tax. This means that their taxable income is smaller, so they pay less tax. </li>
<li>Hop on a Barclays Cycle Hire bike - If employees don't have a bike, encourage them to use a Barclays Cycle Hire bike to get around on short journeys. It's very simple - ride it where you like, then return it, ready for the next person. With 8,000 bikes and 570 docking stations in across the Capital, it's easy and people can just turn up and go 24 hours a day.</li>
<li>Offer training - Supplying cycle training for staff, or helping them find it for themselves, can be a useful way of encouraging those potential cyclists who might be a little nervous about even attempting to cycle to work. Free and subsidised cycle training is available for businesses within most London boroughs. TfL has lots of cycle safety tips on <a href="http://www.tfl.gov.uk">www.tfl.gov.uk</a>. </li>
<li>Motivate staff - A workforce that regularly cycles to work will be fit and healthy. For that reason alone, cyclists can be relied upon to be more alert and productive than their less active counterparts. Consider incentives to encourage and reward staff who cycle. These include cheap breakfasts; free fruit or discounts on bikes, accessories or clothing by arrangement with a local bike shop.</li>
<li>Plan journeys in advance - Businesses should encourage cycling employees to plan their journey to and from work in advance. During the Games, there will be some changes to cycle routes and roads will be much busier so plan the best route in advance. Look at <a href="http://www.getaheadofthegames.com">www.getaheadofthegames.com</a> for information on how roads will be affected and regularly update staff on changes. </li>
<li>Record your cyclists - Conduct a regular 'cycle census' to count the number of bikes on-site and record any changes and progress. It will be useful to track if cycling increases during the Games and then put in place initiatives to help ensure this change continues post-Games.</li></ol>
<p>Chris Boardman is the cycling ambassador for Get Ahead of the Games. Businesses located in Games hotspots are being urged to consider alternative travel options at <a href="http://www.getaheadofthegames.comor">www.getaheadofthegames.comor</a> by following the official Twitter feed &#64;GAOTG.</p>
<p><br><strong>Walking and running at work: top tips for employers</strong></p>
<p>During the London 2012 Olympic and Paralympic Games, the public transport network will be much busier than usual at certain times and places. For that reason, TfL and London 2012 are urging businesses located in Games hotspots to consider alternative travel options, such as walking or running. </p>
<p>Sally Gunnell, former 400m hurdles Olympic gold medallist, gives her top tips on how employers can encourage their staff to walk or run to work during the London 2012 Games. </p>
<ol type="1">
<li>Make the most of the commute - The journey to or from work can be a really easy way for your employees to get in a bit more walking, either by walking all or part of the way. Encourage staff to walk down to the next bus stop or get off a stop early. They will feel invigorated and inspired for the day ahead or, if walking home, they can unwind and leave the working day behind.</li>
<li>Plan your business travel - If employees have a meeting that is a walkable distance, encourage them to walk instead of getting public transport or a taxi. Walking between places doesn't take as long as many people think and in some cases is shorter than a Tube journey. During the Games, the public transport network will be much busier at certain times and locations, so think about how your employees are going to get to meetings in good time.</li>
<li>Record your runners - Conduct regular 'running and walking census' to count the number of people running and walking on-site and record any changes and progress. It will be useful to track if this increases during the Games and then put in place initiatives to help ensure this change continues post-Games.</li>
<li>The pedometer test - Issue a pedometer to each employee - they can be a great way to get people thinking about how much walking they really do. Consider introducing a league table or online tracking system, so colleagues can compare their results against others.</li>
<li>Start a running club - Group running is good fun and can really help to motivate people to keep up their exercise routine, so set up a running club for employees. Your staff get to meet other likeminded people, run together, and share training and running tips. Home Run offers free guided runs home across London and they carry runners' bags too: <a href="http://www.homerunlondon.com">www.homerunlondon.com</a></li>
<li>Host a walking meeting - Many people assume that meetings must take place sitting around a table and within the confines of four walls. In reality, the most creative moments take place outside them. Call a walking meeting and you'll get a change of scenery, boost your energy, get some fresh air and burn a few calories too. Limit numbers to no more than six people, give advance notice so people can wear their trainers and assign someone to scribe any actions.</li>
<li>Motivate staff - A workforce that regularly walks and runs will be fit and healthy. For that reason alone, regular exercisers can be relied upon to be more alert and productive than their less active counterparts. Consider incentives to encourage and reward staff who run or walk. These include cheap breakfasts for runners; free fruit; or discounts on running accessories or clothing by arrangement with a local sport shop.</li></ol>
<p>Sally Gunnell is a walking/running ambassador for Get Ahead of the Games. Businesses located in Games hotspots are being urged to consider alternative travel options at <a href="http://www.getaheadofthegames.com">www.getaheadofthegames.com</a> or by following the official Twitter feed &#64;GAOTG.<br></p>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "This race has been inspired by new research from London 2012 and Transport for London (TfL), which reveals 86 per cent of central London businesses are planning one or more initiatives to encourage employees to consider alternative forms of transport. Of";}
        
        


 