


@{ViewBag.Title = "Partnership takes top Transport Achievement Award at 2012 International Transport Forum";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>Partnership takes top Transport Achievement Award at 2012 International Transport Forum</h1>
        <div class="content-page-press-release">
        08 May 2012
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        TfL, ATOC and Cubic recognised for the success of bringing Oyster onto the National Rail network in London.
        
    </div>



 <div class="on-this-page">
<p>Transport for London (TfL), the Association of Train Operating Companies (ATOC) and Cubic Transportation Systems have picked up top honours at the 2012 International Transport Forum for their joint work on introducing Oyster onto the National Rail network in London. </p>
<p>The international awards, held in Leipzig, Germany, recognise achievements that demonstrate progress and excellence towards seamless transport. </p>
<p>Oyster pay as you go was extended to all 350 National Rail stations in Greater London in January 2010 and usage on National Rail services alone has since grown from 500,000 to&nbsp;more than&nbsp;2.5 million journeys per week. </p>
<h2>Seamless journeys</h2>
<p>Oyster makes it easier for commuters to seamlessly transfer between National Rail services, London Underground, London Overground, DLR and London's buses using the one transport smartcard.</p>
<p>Shashi Verma, TfL's Director of Customer Experience, said: 'Extending Oyster coverage to all 350 National Rail stations in Greater London has been a massive improvement for passengers. The Mayor was determined to make that happen and recognition of the achievement is hugely encouraging. </p>
<p>'We will continue to explore even more ways to improve customer experience.'</p>
<p>Peter Twigg, Head of London Support at ATOC, said: 'The extension of Oyster pay as you go to National Rail has been a fantastic success. </p>
<p>'The aim was to make public transport around the capital easier for thousands of rail passengers every day. The huge take up since its launch shows that customers really appreciate the benefits that Oyster offers. </p>
<h2>Collaborative partnership</h2>
<p>'It took huge amounts of joint work behind the scenes by train companies, TfL, Cubic and the government, so recognition through this award is gratifying for all involved.'</p>
<p>Roger Crow, Managing Director, Europe for Cubic, said: 'We are delighted to have been recognised with this prestigious award, alongside our colleagues at TfL and ATOC.&nbsp; </p>
<p>'This major project success showcases what can be achieved by a truly collaborative partnership and we are very proud of the difference we make, along with our partners, to so many people's travel experiences.'</p>
<p>
<hr>
<strong>Notes to Editors</strong> 
<p>
<ul>
<li>Transport for London continues to explore innovations in transport ticketing and will be introducing contactless payment, using bank issued debit and credit cards, on London's buses in 2012. This payment option will be rolled out to the rest of the transport network in London at a later date<br></li></ul>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "Transport for London (TfL), the Association of Train Operating Companies (ATOC) and Cubic Transportation Systems have picked up top honours at the 2012 International Transport Forum for their joint work on introducing Oyster onto the National Rail network";}
        
        


 