


@{ViewBag.Title = "Reminder: TfL issues travel advice to enable London to celebrate The Queen's Diamond Jubilee";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>Reminder: TfL issues travel advice to enable London to celebrate The Queen's Diamond Jubilee</h1>
        <div class="content-page-press-release">
        29 May 2012
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        Celebrations marking The Queen's Diamond Jubilee will be taking place at various locations across London between Saturday 2 June and Tuesday 5 June.
        
    </div>



 <div class="on-this-page">
<p>Today Transport for London (TfL) issued a reminder about travel advice to enable Londoners and visitors to enjoy the events and to get around the city.</p>
<p>Central London will be very busy throughout the entire weekend, and TfL is advising everyone intending to be in central London to use public transport, plan their journeys ahead and to check before they travel by visiting: <a href="http://www.tfl.gov.uk/diamondjubilee">www.tfl.gov.uk/diamondjubilee</a>. </p>
<p>Drivers are advised to avoid central London between 3 and 5 June.&nbsp; On Sunday 3 June all central London bridges will be closed for all or part of the day, so it is particularly important to avoid central London.</p>
<p>On Monday evening, those attending the Diamond Jubilee concert are advised to plan their home journey in advance and to leave plenty of time to leave the venue and to travel to a London Underground station and to make their connections.&nbsp; There are likely to be queues at London Underground stations near to the venue.<br>&nbsp;<br>Live travel updates will be provided on the TfL website and via TfL's Twitter feeds visit tfl.gov.uk/socialmedia for more information.</p>
<p>Peter Hendy CBE, London's Transport Commissioner, said:&nbsp; "The events planned to mark The Queen's Diamond Jubilee are set to be both a fantastic and fitting spectacle, and our staff and those of our contractors will be working hard to ensure that Londoners and visitors can get around the city.</p>
<p>"Central London will be very busy throughout the weekend and everyone intending to be in central London should use public transport, plan their journeys ahead and check before they travel.&nbsp;&nbsp; </p>
<p>"Road closures and bus diversions will mean that some people have to travel in different ways - particularly on the Sunday. Due to a number of road and bridge closures, motorists are advised particularly to avoid central London for all but essential journeys on that day.&nbsp; Central London will also be very busy during Monday evening and those attending late evening events should allow additional time for their journey home.</p>
<p>"By planning ahead and checking before travelling everyone will be able to get where they need to be, and have a great time celebrating the Diamond Jubilee."</p>
<p>To plan your journey visit: <a href="http://www.tfl.gov.uk/diamondjubilee">www.tfl.gov.uk/diamondjubilee</a></p>
<p>
<hr>

<p>
<p><strong>Key Travel Advice for Saturday 2 June:</strong></p>
<p><strong>Roads</strong></p>
<ul>
<li>A Jubilee event in Hyde Park means that the surrounding area will be very busy </li>
<li>Roads near Hyde Park will be very busy </li>
<li>Road closures will be in place, with a possible closure of Park Lane to help crowds safely disperse</li></ul>
<p><strong>Tube</strong></p>
<ul>
<li>All Tube services are expected to operate as normal with no planned engineering work </li>
<li>Stations including Hyde Park Corner, St.James's Park and Green Park will be busier than usual</li></ul>
<p><br><strong>Docklands Light Railway</strong></p>
<ul>
<li>Operating as normal<br></li></ul>
<p><strong>London Overground</strong></p>
<ul>
<li>Operating as normal</li></ul>
<p>
<hr>
</p>
<p><strong>Key Travel Advice for Sunday 3 June:</strong></p>
<ul>
<li>A river pageant to mark the Jubilee is expected to attract a large number of spectators to central London </li>
<li>TfL advises everyone intending to be in central London to use public transport, plan their journeys ahead and to check before they travel </li>
<li>Due to a number of road and bridge closures, motorists are advised to avoid central London for all but essential journeys<br></li></ul>
<p><strong>Roads</strong></p>
<ul>
<li>Many central London bridges between Battersea Bridge and Tower Bridge inclusive will be closed for large parts of the day </li>
<li>Albert Bridge, Lambeth Bridge, Westminster Bridge, Blackfriars Bridge and Tower Bridge will be closed to all traffic and pedestrians starting from 07:00 in the morning until 20:00 </li>
<li>Millennium Bridge and the Jubilee footbridge will also be closed for the same duration </li>
<li>Vauxhall Bridge, Waterloo Bridge, Southwark Bridge and London Bridge will be open to traffic and pedestrians apart from between around 15:00 and 17:30.&nbsp; People are advised that these are for Crossing the river only, they are likely to be very busy and that they are not viewing locations </li>
<li>Battersea Bridge and Chelsea Bridge will be open for pedestrians only throughout, but once again they are likely to be very busy and the river pageant will not be visible from them </li>
<li>Areas along the Thames will be very busy, with a number of dedicated viewing areas, and anyone who is not a spectator should avoid these areas </li>
<li>Anyone wanting to watch the events is advised to decide which side of the river they intend to watch from and to be there by no later than 14:00 </li>
<li>The bridge closures and large number of spectators will mean that a significant number of bus routes will either be diverted or will not run their full routes.&nbsp; Bus services that usually cross the river between Battersea Bridge and Tower Bridge inclusive will not do so throughout the day between 07:00 and 21:30 </li>
<li>Instead a number of 'bus hubs' will be established at or near to transport interchanges either side of the river. Bus hubs will be located at:&nbsp; Liverpool Street, Aldgate, Battersea Bridge Road, Chelsea World's End, Elephant &amp; Castle, Holborn, Holborn Circus, Liverpool Street, London Bridge, Moorgate Finsbury Square, Piccadilly, Tottenham Court Road, Tower Bridge Road, Vauxhall and Victoria. The full list of bus services affected is available on the TfL website </li>
<li>A street party event will mean that Piccadilly will be closed to traffic from 07:00 to at least 18:00 </li>
<li>The Mall will be closed to all traffic and pedestrians from 14 May so that preparations for a Jubilee concert outside Buckingham Palace on Monday 4 June can take place </li>
<li>The second day of the Jubilee event in Hyde Park will mean that the surrounding roads are likely to be busy</li></ul>
<p><br><strong>Tube</strong></p>
<ul>
<li>All Tube services will operate with no planned engineering work across the whole network </li>
<li>Some stations, particularly those near to the Thames, are expected to be much busier than normal and those not planning to attend Diamond Jubilee events are advised to avoid the following stations if possible: Westminster, Embankment, Temple, Blackfriars, Tower Hill, Vauxhall, Pimlico, Waterloo, Southwark, London Bridge, East Putney and Putney Bridge<br></li></ul>
<p><strong>Docklands Light Railway</strong></p>
<ul>
<li>An enhanced service will operate on the DLR</li></ul>
<p><br><strong>London Overground</strong></p>
<ul>
<li>The majority of services will be operating as normal, but the Richmond to Willesden Junction and South Tottenham to Barking sections will not operate due to engineering work</li></ul>
<p><br><strong>River Transport</strong></p>
<ul>
<li>The pageant event means that river travel, including via private vessels, will not be allowed between 14:30 and 18:00 on the stretch between Battersea Bridge and the Thames Barrier at Woolwich</li></ul>
<p><strong>Barclays Cycle Hire</strong></p>
<ul>
<li>Barclays Cycle Hire Docking stations will remain available, but it is likely that due to crowds and road closures some central London stations will not be replenished</li></ul>
<p>
<hr>
</p>
<p><strong>Key travel advice for Monday 4 June:</strong><strong><p>
<ul>
<li></li></ul></strong>A ticketed made-for-television concert outside Buckingham Palace will mean that areas around St.James's Park, the Mall and Hyde Park will be very busy 
<li>The event finishes during the late evening and those attending are strongly advised to plan their journey home in advance, to check the times of their last trains and to allow plenty of time to make the connections necessary to get home. The large number of people in the area will mean that getting to Tube, rail and bus services, and therefore onward connections will be much slower than usual<br></li>
<p><strong>Roads</strong></p>
<ul>
<li>Roads near Hyde Park will be very busy </li>
<li>Park Lane is likely to be closed to traffic between 22:00 and 23:30 so that crowds can safely disperse </li>
<li>Many roads around central London will be closed to traffic, with a number of bus services diverted or not running their full routes<br></li></ul>
<p><strong>Tube</strong></p>
<ul>
<li>All Tube services expected to operate as normal with no planned engineering work across the whole network </li>
<li>Stations including Hyde Park Corner, Green Park, St.James's Park and Marble Arch will be busy<br></li></ul>
<p><strong>Docklands Light Railway</strong></p>
<ul>
<li>A full service will operate</li></ul>
<p><br><strong>London Overground</strong></p>
<ul>
<li>The majority of services will be operating as normal, but Richmond to Willesden Junction and South Tottenham to Barking are closed for engineering work</li></ul>
<p><br><strong>Barclays Cycle Hire</strong></p>
<ul>
<li>Barclays Cycle Hire Docking stations will remain available, but it is likely that due to crowds and road closures some central London stations will not be replenished</li></ul>
<p>
<hr>
</p>
<p><strong>Key travel advice for Tuesday 5 June:</strong><strong><p>
<ul>
<li></li></ul></strong>A ceremonial event that will start from late morning and finish mid afternoon will mean that areas around Hyde Park, St.James Park, Green Park and the Mall will all be very busy
<p><br><strong>Roads</strong></p>
<ul>
<li>Many roads around central London will be closed to traffic, with a number of bus services diverted or not running their full routes</li></ul>
<p><br><strong>Tube</strong></p>
<ul>
<li>Tube services will operate a Saturday service with no planned engineering work across the whole network</li></ul>
<p><br><strong>Docklands Light Railway</strong></p>
<ul>
<li>A full Saturday service will operate on the DLR</li></ul>
<p><br><strong>London Overground</strong></p>
<ul>
<li>All services will operate as normal apart from South Tottenham to Barking, closed for engineering works</li></ul>
<p><br><strong>Barclays Cycle Hire</strong></p>
<ul>
<li>Barclays Cycle Hire Docking stations will remain available, but it is likely that due to crowds and road closures some central London stations will not be replenished</li></ul>
<p>
<hr>
<br>
<p>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "Today Transport for London (TfL) issued a reminder about travel advice to enable Londoners and visitors to enjoy the events and to get around the city.Central London will be very busy throughout the entire weekend, and TfL is advising everyone intending";}
        
        


 