


@{ViewBag.Title = "Staff recognised at Dial-a-Ride Awards 2012";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>Staff recognised at Dial-a-Ride Awards 2012</h1>
        <div class="content-page-press-release">
        22 May 2012
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        The excellence and hard work of Dial-a-Ride's drivers, call centre staff and support teams has been celebrated in the Dial-a-Ride Awards 2012 hosted by Transport for London (TfL).
        
    </div>



 <div class="on-this-page">
<p>The awards paid tribute to the outstanding achievements of all the nominees and winners, championing the staff who keep the Dial-a-Ride service operating for its 50,000 members.&nbsp;Almost 1.4 million trips were delivered in 2011/2012, some 30,000 more trips than in the previous year.&nbsp; </p>
<p>Dial-a-Ride provides a unique, free and vital service to those people who cannot use public transport. The members often have very specific needs and all staff have to be sensitive and adaptive to them. </p>
<p>Mike Weston, TfL's Operations Director of Surface Transport presented the awards to: </p>
<p><strong>Arthur Camfield, Woodford<br></strong>Joint Driver Attendant of the Year&nbsp; <br>Arthur has been working for Dial-a-Ride for four years.&nbsp; Arthur's generosity and consideration of his colleagues and passengers saw him being nominated four times for this award.&nbsp; A polite and helpful man, he is always willing to go that extra mile and is highly regarded by his passengers.&nbsp; </p>
<p><strong>Alyson Athanaze, Wimbledon<br></strong>Joint Driver Attendant of the Year<br>Alyson's bubbly character and professional attitude is well received by her passengers and colleagues.&nbsp; She is always willing to help and often goes out of her way to assist anyone who may need it.</p>
<p><strong>Terry Cornwall, Wimbledon<br></strong>Innovator of the Year <br>Terry has been championed for his work on planning for the London 2012 Games. Terry's careful planning and attention to detail will ensure that drivers are well informed of changes to roads and routes and members of Dial-a-Ride will be able to continue using the service during the Olympic and Paralympic Games.</p>
<p><strong>Nalini Sudra<br>Reservationist of the Year&nbsp; <br></strong>Nalini's 'can do' approach to her work and easygoing nature makes her an outstanding contributor to the team.&nbsp; Fluent in three different languages, Nalani's linguistic skills are often called upon to help her colleagues in their dealings with customers who speak those languages.&nbsp; She coaches and mentors other members of the team and is extremely dedicated to her role. </p>
<p><strong>Amanda Friend<br></strong>Service Support Person of the Year&nbsp; <br>Amanda supports the engineering team at Dial-a-Ride.&nbsp; She takes a proactive approach to her work and ensures all engineering technical administration is carried out faultlessly.&nbsp; She has overseen many projects associated with new vehicles including the biofuel trial and the introduction of CCTV. She has assisted the depots in re-structuring their vehicle &amp; equipment administration to ensure a consistent approach. <br>Amanda also holds a lead investigator qualification in Accident investigations.&nbsp; She recently attained NVQ in management studies level 3 and a qualification in public space surveillance (CCTV operations).</p>
<p><strong>Lewis Steadman<br></strong>Engineer of the Year&nbsp; <br>Lewis has been an engineer with Dial-a-Ride since 2009 after leaving the Army.&nbsp; Since joining he has worked hard to improve his skills and has attained new qualifications including NVQ Level 3 and Level 4 producing some excellent work and passing with good grades.&nbsp; He is now training two apprentices.&nbsp; He has received high praise for his work while working across six DAR sites.</p>
<p><strong>Ali Duncan and Anna Korzeniewska<br></strong>Team of the Year<br>Ali and Anna are recognised for the work they have been doing to improve the service.&nbsp; They have upgraded the driver feedback process and other existing procedures.&nbsp; They have improved communication between drivers and the Dial-a-Ride contact and scheduling centre, facilitating workshops and depot surgeries.&nbsp; They have also made improvements to the reservations section to ensure quality customer service.&nbsp;&nbsp; </p>
<p><strong>Richard Rock, Paddington<br></strong>Judges' Award for actions above and beyond the call of duty<br>On 27 January Richard, while driving his bus in Ealing witnessed a car cross the centre line and crash into a jewellery shop.&nbsp; Richard, on seeing the crash, stopped his vehicle and rushed to the assistance of the woman and child in the car, pulling them both out of the smoking vehicle.&nbsp; Richard's quick thinking prevented what could have been a very nasty accident with fatal consequences and without any consideration to the danger to himself.</p>
<p><strong>Steven Boyle, Wimbledon<br></strong>Judges' Award for actions above and beyond the call of duty&nbsp; <br>During last year's riots Steven was on duty in Brixton when he found himself caught up in the middle of what was fast becoming a serious public disturbance.&nbsp; Steven's bus was surrounded by rioters at the traffic lights who were trying to force open the door of his bus. At the time he had three elderly passengers on board who became quite scared and concerned for their safety. Through his quick thinking he was able to manoeuvre his bus through the rioters to get away from a progressively hostile situation. Steven and his passengers were shaken after the incident but unharmed.&nbsp;&nbsp; </p>
<p>Mike Weston, TfL Operations Director, Surface Transport said: 'Dial-a-Ride provides a lifeline to many who would not otherwise be able to travel.&nbsp; The service provided by our team is outstanding with everyone working hard to make sure it is the best it can be.&nbsp;</p>
<p>'These Awards are an important opportunity to recognise that and honour all those who put outstanding customer service at the heart of what they do.'</p>
<p>Six drivers who became the first in Dial-a-Ride to gain an NVQ (City and Guilds) in Customer Service as part of the Mayor's apprenticeship scheme were presented with their certificates on the night.&nbsp;</p>
<p>Other staff achievements - drivers who qualified for a BTEC Level 5 in Coaching and Mentoring and the year's cohort of new drivers who gained their BTEC Level 2 - were also celebrated.<br></p>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "The awards paid tribute to the outstanding achievements of all the nominees and winners, championing the staff who keep the Dial-a-Ride service operating for its 50,000 members.&nbsp;Almost 1.4 million trips were delivered in 2011/2012, some 30,000 more";}
        
        


 