


@{ViewBag.Title = "TfL launches London 2012 Games 'Temporary Road Changes' planning tool and urges road users to plan ahead";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>TfL launches London 2012 Games 'Temporary Road Changes' planning tool and urges road users to plan ahead</h1>
        <div class="content-page-press-release">
        24 May 2012
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        A new 'Temporary Road Changes' planning tool added to the suite of information available at www.getaheadofthegames.com
        
    </div>



 <div class="on-this-page">
<ul>
<li>Motorists should avoid driving in central London, and around the ORN and venues during the Games </li>
<li><a href="http://www.getaheadofthegames.com">www.getaheadofthegames.com</a> has had more than a million visitors since it was launched at the end of January<br></li></ul>

<p>As players from the Team GB female beach volleyball team 'stopped traffic' this morning to demonstrate how busy London's roads will be during the Games, Transport for London (TfL) launched an online 'Temporary Road Changes' planning tool, enabling London's road users to see how the areas where they live, work and visit will be affected, searchable by postcode.</p>
<p>The new 'Temporary Road Changes' tool currently includes information about the Olympic and Paralympic Route Networks (ORN/PRN) and the Road Event routes in London.&nbsp;</p>
<h2>Planning tool</h2>
<p>More information, including traffic management around the Road Events routes and venues, will be added to the 'Temporary Road Changes' tool in early June.</p>
<p>Launching the planning tool, TfL reminded road users that, as it is turned into a massive sporting and cultural venue, roads in central London and around Games venues - the 'hotspot' locations - will be much busier than usual. </p>
<p>TfL therefore advises that:</p>
<ul>
<li>Motorists should avoid central London and around the ORN and venues during Games time </li>
<li>Motorists should also avoid the areas around the 2012 Games road event courses on competition days </li>
<li>Every day of the Games is different so if driving is essential, plan ahead and allow more time </li>
<li>To find out how to avoid road hotspots during the Games, go to <a href="http://www.getaheadofthegames.com">www.getaheadofthegames.com</a></li></ul>
<h2>Changes to road network</h2>
<p>Garrett Emmerson, TfL's Chief Operating Officer, Surface Transport, said: 'TfL is doing everything we can to make sure people are aware of, and can comply with, the changes that will be made to London's roads during the Games. </p>
<p>'Roads in central London and around venues will be exceptionally busy during the Games. The 'Temporary Roads Changes' tool that we've launched today means roads users can see where there will be changes to the road network, allowing them to plan ahead. Our advice is to avoid driving in central London and around the ORN and venues or, if journeys are absolutely essential, to plan ahead and allow extra time.'</p>
<p>Following a year of consultation with residents, businesses, boroughs and other interested groups, and after many amendments to ensure the plans keep London's traffic moving while Host City commitments are met, the temporary traffic changes along the 109 mile ORN and smaller PRN have now been confirmed by the ODA with the consent by the Secretary of State for Transport. </p>
<p>These changes, including banned turns into some side roads and where the 30 miles of Games lanes are located, have been included in the 'Temporary Road Changes' planning tool.&nbsp;&nbsp; </p>
<p>Through the 'Temporary Road Changes' tool, TfL is doing everything possible to make sure roads users are aware of what changes will be in place. </p>
<p>Signage along the roads and public information campaigns both before and during the Games will ensure roads users have all the information they need to comply with the changes. </p>
<h2>Games lanes</h2>
<p>Compliance with the road changes is key to ensuring the Games run smoothly and London keeps moving during Games time, when there will be up to 1,000 Games family vehicles an hour travelling between key venues. Parking or stopping on the ORN will be restricted and when Games lanes are in operation they will be for accredited vehicles only. </p>
<p>A penalty charge of &pound;130 will be issued to owners of vehicles who break these regulations during the Games and any illegally parked vehicle will be removed to a vehicle pound. The best way to avoid this however will be to know where and when restrictions on the ORN are in place and comply with them.</p>
<p>The 'Temporary Road Changes' tool is located on <a href="http://www.getaheadofthegames.com">www.getaheadofthegames.com</a>, which hosts all the information road and public transport users need about travelling in London and around other UK venues during the Games. Since the website was launched on 30 January this year, it has been visited over a million times with up to 27,000 unique visitors a day. </p>
<p>The corresponding Twitter feed, &#64;gaotg, has been hugely popular as well with almost 25,000 followers and growing.</p>
<p>
<hr>
<br>
<p>
            <p><strong>Notes to Editors:</strong></p>
<ol type="1">
<li>Londoners can sign up for free email alerts to help them plan their journeys at Games-time at <a href="http://www.getaheadofthegames.com">www.getaheadofthegames.com</a></li>
<li>More information, including traffic management around the Road Events routes and venues, will be added to the 'Temporary Road Changes' tool in early June, providing a complete picture of how roads will operate in Games time</li>
<li>In the event that further temporary measures are required to ensure the safe and effective operation of the ORN then additional traffic orders may be required, and the 'Temporary Road Changes' planning tool will be updated to reflect these changes</li>
<li>A Freight Journey Planner tool will be launched by TfL in early June, incorporating all of the road impacts to assist freight operators with their planning. TfL has been working with the freight industry since last year on advice and plans for them to operate as normal as possible during the Games</li>
<li>Map by map details of the Olympic and Paralympic Route Networks and related traffic measures and consultation activities can be found at <a href="http://www.tfl.gov.uk/orn">www.tfl.gov.uk/orn</a></li>
<li>Parking and other traffic offences on the Olympic and Paralympic Route network, including unauthorised use of Games lanes, will result in vehicle owners receiving a penalty charge notice of &pound;130</li>
<li>Up to 68 rapid response removal vehicles will be in place across the ORN/PRN to remove any vehicle obstructions. Illegally parked vehicles will be issued with a penalty charge notice and could be removed to a vehicle pound where a release fee of &pound;200 will be charged</li></ol>
<p><br>&nbsp;</p>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "Motorists should avoid driving in central London, and around the ORN and venues during the Games www.getaheadofthegames.com has had more than a million visitors since it was launched at the end of JanuaryAs players from the Team GB female beach volleyball";}
        
        


 