


@{ViewBag.Title = "Tracey Emin unveils personal version of the Tube Map ";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>Tracey Emin unveils personal version of the Tube Map </h1>
        <div class="content-page-press-release">
        16 May 2012
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        A chirping bird sitting on a 'branch' of the Northern line is the focus of Tracey Emin's new design for the pocket Tube map. This new artwork will be on public display for the first time from Friday 18 May at the London Transport Museum.
        
    </div>



 <div class="on-this-page">
<div class="pullquote right">
                        <p>
                            When people look at the Tube map I want them to smile and feel reassured.
                            
                        </p>
                    </div>
                
            
            
            <p>Well known for her deeply intimate, revealing works, Emin has been commissioned by Art on the Underground to make a pocket Tube map cover for the London Olympic and Paralympic year.&nbsp; </p>
<p>She has adapted the iconography of the original map to reflect her personal experience of the network and her ideas and experience of place.&nbsp; </p>
<p>The Map cover's title is 'The Central line', but the only stations marked on this line are Oxford Circus, Liverpool Street and, as a personal extension, Shoreditch High Street, showing the artist's personal use of the line to take her from her East End home to the West End.&nbsp; </p>
<p>The Central and Northern lines have sprouted leaves, to accommodate the bird, a recurrent motif in Emin's work, which is often seen as a self-portrait. </p>
<p>For example in a separate art project to celebrate the 2012 Games birds continue to feature with Tracey's depiction of two birds kissing and the Paralympic symbol.</p>
<p>Emin's map is the 16th in a series of covers designed by artists such as Michael Landy, Yayoi Kusama, Jeremy Deller and David Shrigley. </p>
<p>Her design will appear on 18 million pocket Tube maps, the largest print run of the maps to date, to be circulated during the 2012 Olympic and Paralympic Games, available in stations from June 2012. </p>
<p>This new Tube map cover artwork will be featured as part of the London Transport Museum's Summer show Mind the Map: Inspiring Art, Design and Cartography, 18 May-28 October 2012. </p>
<p>A film of an interview with Tracey Emin talking about the Tube map cover can also be seen at the exhibition in the Covent Garden Piazza, London.&nbsp;&nbsp; </p>
<p>The publication of the Tube map cover coincides with Emin's show 'She Lay Down Deep Beneath The Sea', 26 May -23 September 2012 at Turner Contemporary, Margate. </p>
<p>Tracey Emin, said: 'When people look at the Tube map I want them to smile and feel reassured.'</p>
<p>Tamsin Dillon, Head of Art on the Underground says: 'We are excited and privileged to be working with Tracey Emin on this new work to mark the 2012 Olympic and Paralympic Games.&nbsp;</p>
<p>'The artwork presents a moving and unique interpretation of the Capital. I am looking forward to hearing what our customers think about this new work and the others in the series via our website.'</p>
<p>
<hr>
<br>
<p>
            <strong>Notes to editors </strong>
<ul>
<li>The Pocket Tube Map cover art works are owned outright by London Underground and form the basis of a permanent collection of unique works by world class artists, including Cornelia Parker, Richard Long, Liam Gillick and Jeremy Deller </li>
<li>For more information about Art on the Underground, please visit <a href="http://www.tfl.gov.uk/art">www.tfl.gov.uk/art</a> </li>
<li>Tracey Emin lives and works in London. In 1999, she was short-listed for the Turner Prize at the Tate in London. She has had retrospectives internationally since 2002. Her work is a part of numerous public and private collections including the Centre Georges Pompidou in Paris, the Walker Art Center in Minneapolis, and the Hamburger Kunsthalle in Hamburg, among others. Tate Britain recently opened a room in their collection devoted entirely to Emin's work. In 2007 Emin represented Britain at the 52nd Venice Biennale, was made a Royal Academician and was awarded an Honorary Doctorate from the Royal College of Art, London, a Doctor of Letters from the University of Kent and Doctor of Philosophy from London Metropolitan University.&nbsp;In 2011, the Hayward Gallery in London presented the artist's first retrospective in England, showing at the Turner Contemporary, Margate in 2012. Emin has designed one of the 12 official Olympic posters and has recently been appointed Professor of Drawing at the Royal Academy Schools </li>
<li>The new Tube map cover will be part of Mind the Map: inspiring art, design and cartography at the London Transport Museum, a new exhibition about the inspiration, history and creativity behind London transport maps, running 18 May-28 October 2012. The exhibition will be the largest of its kind and will include previously unseen historic material and exciting new artworks by leading artists including Simon Patterson, Stephen Walter, Susan Stockwell, Jeremy Wood, Claire Brewster, and Agnes Poitevin-Navarre </li>
<li>The Tube is undergoing a huge and essential programme to upgrade its ageing infrastructure - vital to cope with a growing population and to support the economic development and growth of the Capital and the UK. This includes the introduction of new track and signalling and the rebuilding of some of our most important stations. By the end of the current programme there will be 30 per cent&nbsp;more capacity. This will inevitably result in some disruption for passengers, but TfL is working hard to provide information and alternative travel options. The work is essential to provide for London's growing transport needs now, and into the future. TfL is urging all Londoners and Tube, London Overground, London Tramlink and DLR passengers to 'check before you travel' at weekends, allowing extra journey time where necessary. Weekend travel news is available at <a href="http://www.tfl.gov.uk/check">www.tfl.gov.uk/check</a> <br></li></ul>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "Well known for her deeply intimate, revealing works, Emin has been commissioned by Art on the Underground to make a pocket Tube map cover for the London Olympic and Paralympic year.&nbsp; She has adapted the iconography of the original map to reflect her";}
        
        


 