


@{ViewBag.Title = "Transport for London welcomes RMT acceptance of Olympics recognition proposals";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>Transport for London welcomes RMT acceptance of Olympics recognition proposals</h1>
        <div class="content-page-press-release">
        29 May 2012
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        Deal will reward all staff fairly for flexible working and increased workload.
        
    </div>



<div class="pull-quote">
        <div class="quote-body">"I know our staff are keen to play their part in the Games and, now that we have agreement across the board, we can all look forward to focusing on supporting a fantastic summer of sport and cultural events in London"</div>
        <div class="quote-footer">
            <div class="quotee-name">Howard Collins</div>
            <div class="quotee-job-title">LU Chief Operating Officer</div>
        </div>
</div>

 <div class="on-this-page">
<div class="pullquote right">
                        <p>
                            I know our staff are keen to play their part in the Games and, now that we have agreement across the board, we can all look forward to focusing on supporting a fantastic summer of sport and cultural events in London
                            
                        </p>
                    </div>
                
            
            
            <p>Transport for London (TfL) has welcomed the RMT union's acceptance of proposals to fairly reward London Underground (LU) staff who will be expected to work flexibly during the London 2012 Games.</p>
<p>The union's members have now joined those of Aslef and Unite who've signed up to the deal and TSSA, who have agreed in principle,&nbsp;which will see station, maintenance and service control staff and operational managers receive up to &pound;850 subject to attendance, customer satisfaction scores and working flexibly for defined periods in order to deliver a successful Games.&nbsp; </p>
<p>Alongside the agreement reached with train drivers' unions in September last year, this agreement means that LU is ready to meet the higher demand that the network will face during the Games.</p>
<p>Howard Collins, LU Chief Operating Officer, said: 'I am pleased that we have now got agreement from all four unions on our proposals for how we can fairly reward staff over the London 2012 Games. </p>
<p>'I know our staff are keen to play their part in the Games and, now that we have agreement across the board, we can all look forward to focusing on supporting a fantastic summer of sport and cultural events in London.'</p>
<p>
<hr>
</p>
<p><strong>Notes to editors:</strong></p><strong>
<ul>
<li></li></ul></strong>The agreement covers the period from 27 July 2012 until the end of the Paralympics on 9 September
<li>It means that maintenance, stations and service control staff and operational managers will be eligible for an attendance allowance of &pound;20 per shift during the Games weeks which, for those working the largest number of shifts, could equate to &pound;400. Staff will also be eligible for a &pound;100 Customer Service Satisfaction bonus if scores are met during Games time, or in the weeks preceding the Games for maintenance staff.&nbsp; All maintenance, stations and service control staff and operational managers will also receive a one-off payment of &pound;350 in recognition of their agreeing to work more flexibly for the fixed period</li>
<li>The agreement with drivers made in September contains the same elements as the agreement for station, maintenance and service control staff, but includes a &pound;500 (rather than &pound;350) one-off payment, in recognition that LU will need to make a temporary change to drivers' working agreements in order to provide the flexibility needed to cover shifts during the Games</li>
<li>This means that drivers are eligible to earn an extra &pound;1000 during the Games</li>
<li>Usually drivers are not able to work overtime, but during the Games they - as well as other staff - will be able to do so. London Underground is working with the unions to allocate overtime evenly and fairly across the workforce</li>
<li>During the Games LU will provide significantly increased services for customers to meet higher demand, with drivers working longer hours than usual. The drivers agreement means that LU does not need to recruit a large number of extra drivers to cover the additional Games-time services<br></li>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "Transport for London (TfL) has welcomed the RMT union's acceptance of proposals to fairly reward London Underground (LU) staff who will be expected to work flexibly during the London 2012 Games.The union's members have now joined those of Aslef and Unite";}
        
        


 