


@{ViewBag.Title = "UK's top free runners show commuters it's just a 'hop, skip and a jump' between stations ahead of the Games";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>UK's top free runners show commuters it's just a 'hop, skip and a jump' between stations ahead of the Games</h1>
        <div class="content-page-press-release">
        14 May 2012
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        Transport for London (TfL) and Network Rail are encouraging those travelling during Games-time to make short journeys on foot as Living Streets' Walk to Work Week launches
        
    </div>



<div class="pull-quote">
        <div class="quote-body">"Walking is a quick and efficient way to get around which is also better for our planet."</div>
        <div class="quote-footer">
            <div class="quotee-name">Tony Armstrong</div>
            <div class="quotee-job-title">Chief Executive of Living Streets</div>
        </div>
</div>

 <div class="on-this-page">
<div class="pullquote right">
                        <p>
                            Walking is a quick and efficient way to get around which is also better for our planet.
                            
                        </p>
                    </div>
                
            
            
            <p>Commuters between London Bridge and Monument stations watched in awe this morning as parkour acrobats performed a spectacular series of aerial stunts, jumps and leaps between the two stations. </p>
<p>The talented team of free runners showed that the two sites are but a 'hop, skip and a jump' apart as they travelled across London Bridge, with the aim of encouraging commuters to walk rather than get the Tube where possible during the London 2012 Games.&nbsp; </p>
<p>As the parkour acrobats were demonstrating their skills, TfL was handing out free local walking maps to commuters arriving at London's mainline railway stations. </p>
<p>The maps have been created to encourage people to swap short Tube journeys for walking ones during Games time, and will be handed out to rail commuters throughout Walk to Work Week as well as being available at mainline and some London Underground stations during Games-time.</p>
<p>
<hr>

<p>
<p>Walking will be one of the simplest and quickest ways to make short journeys in London during this summer's Olympic and Paralympic Games, when 'hotspot' stations such as London Bridge will be exceptionally busy at certain times of the day. </p>
<p>Today's free-running activity, by world-famous free-running group 3RUN, aims to raise awareness of this to encourage London's commuters to walk between stations where possible. </p>
<p>Ben Plowden, Director of Planning, TfL Surface Transport, said: "London is going to be transformed into a gigantic sporting and cultural venue at Games-time, so London's transport networks will, at certain times and in certain places, be exceptionally busy. </p>
<p>"We aren't expecting Londoners to recreate the amazing feats of acrobatics that we've seen here this morning but the performance demonstrates in an engaging way just how quick and easy it is to walk between busy stations instead of waiting for a Tube or train. Many people don't realise how short distances are between many places in the capital - for example, it take just six minutes to walk from London Bridge train station to Monument, and there are 47 Tube journeys in central London that can be walked in under ten minutes." </p>
<p>
<hr>

<p>
<p>During Games time TfL and Network Rail will be providing free walking maps at 11 mainline stations and a number of major venue and east London stations. </p>
<p>The easy-to-read maps show walking routes from mainline railway stations and their nearest London Underground stations.</p>
<p>In addition, TfL is supporting Recyclebank's re:route app, launched earlier this month, which encourages people to walk and cycle more in London by rewarding green behaviour with points that can be redeemed against a wide range of offers and discounts from Recyclebank partners (including Marks &amp; Spencer, Planet Organic and Champneys). </p>
<p>Alongside the rewards, re:route also alerts people to the number of calories that they have burnt and the amount of CO2 they have saved for each journey. For more information go to: <a href="http://www.recyclebank.com">www.recyclebank.com</a>.</p>
<p>
<hr>

<p>
<p>Tony Armstrong, Chief Executive of Living Streets, the charity that runs Walk to Work Week, said: "Walking is a quick and efficient way to get around which is also better for our planet. During Walk to Work Week we're urging commuters across London to give walking a go and to log their minutes, miles and steps using our online tool and see how easy it is to fit some more walking into your working week. With the Games around the corner, it's crucial that commuters get into good habits now to ensure their journeys aren't affected during the Games."</p>
<p>Sam Parham, free-runner, added: "What we do is great fun and fantastic for people to watch but today has the more serious message that walking is the easiest alternative to taking public transport during the Games.&nbsp; I know I'd rather be out in the fresh air soaking up the atmosphere this summer."</p>
<p>Planning to travel differently at Games time, like walking short distances around central London, will help you get around more easily. </p>
<p>Check out all your options and start making your plan for Games time now at <a href="http://www.getaheadofthegames.com">www.getaheadofthegames.com</a>. </p>
<p>&nbsp;</p>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "Commuters between London Bridge and Monument stations watched in awe this morning as parkour acrobats performed a spectacular series of aerial stunts, jumps and leaps between the two stations. The talented team of free runners showed that the two sites";}
        
        


 