


@{ViewBag.Title = "Vital investment and reliability programme result in record year of Tube performance ";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>Vital investment and reliability programme result in record year of Tube performance </h1>
        <div class="content-page-press-release">
        15 May 2012
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        The Mayor of London, Boris Johnson, has welcomed the latest performance figures for London Underground, which confirm that the Tube reached record levels of performance and improved reliability over the last twelve months.
        
    </div>



<div class="pull-quote">
        <div class="quote-body">"I'm determined to ensure we're getting the most from our trains, infrastructure and people."</div>
        <div class="quote-footer">
            <div class="quotee-name">Mike Brown</div>
            <div class="quotee-job-title">Managing Director of LU</div>
        </div>
</div>

 <div class="on-this-page">
<div class="pullquote right">
                        <p>
                            I'm determined to ensure we're getting the most from our trains, infrastructure and people. 
                            
                        </p>
                    </div>
                
            
            
            <p>He attributed the improvements to a reliability programme introduced last year and a massive programme of investment. </p>
<p>The Mayor also confirmed that, as he has pledged, his team are working on measures to cut delays by a further 30 per cent. <br>&nbsp;<br>Performance statistics recorded during 2011/12 show that more passenger journeys were made on the Tube than ever before, with 1.171billion last year, while the volume of train services operated increased by five per cent to 72.4 million train kilometres.</p>
<p>The important indicator of reliability, measured by the amount of delays to customers, was also at record lows with the number of customers hours lost to delays at their lowest since measurements began in 1999. </p>
<p>Across the network Lost Customers Hours have been reduced by almost 40 per cent since 2007/08.</p>
<p>
<hr>
<br>The Mayor of London, Boris Johnson, said: "It is clear that the vital investment we are putting into the Tube is already improving Londoners' journeys after years of neglect. 
<p>
<p>We must build on these results, which is why plans are being finalised to help cut delays by 30 per cent more by 2015. </p>
<p>The work we are carrying out is modernising our transport network and putting it into the position where we will be able to deliver for the needs of Londoners ten years further down the track, and also provide the support that will mean our great city remains an economic powerhouse."</p>
<p>
<hr>
<br>A Tube reliability programme, introduced by the Mayor and London Underground last year, has been key to delivering the clear improvements in reliability and performance, which are the first signs of success in a concerted and planned strategy to overhaul Tube performance through investment and modernisation. 
<p>
<p>A high level group including Deputy Mayor for Transport, Isabel Dedring, and top London Underground officials, has been working on solutions to problems which affect the reliability of services. <br>&nbsp;<br>A comprehensive range of measures have been overseen by the group and led to the improvement in performance. They include:&nbsp;<br>&nbsp;</p>
<ul>
<li>New techniques being introduced to predict when maintenance on the lines is required in order to prevent unexpected equipment failure. Advanced signal monitoring technology helps indicate potential failure and Automated Track Monitoring Systems (ATMS) will automatically identify any track related defects so that corrective maintenance activities can be planned to minimise disruption to passengers.&nbsp; A prototype ATMS system is now in operation and 12 trains will be fitted with the system, providing up to two service trains on the Bakerloo, Central, Victoria and Sub surface lines by late 2012.&nbsp; </li>
<li>An initiative launched with the British Transport Police (BTP) has seen some of the Tube's Emergency Response Unit (ERU) vehicles designated as police vehicles and driven by trained BTP officers for speedier response to serious incidents. Since the trial began in February the ERU response time to incidents in central London has been almost halved. From 1 July LU will be increasing staffing of ERU depots from 101 to more than 130.&nbsp;&nbsp; </li>
<li>London Underground is increasing its incident response capabilities, and developing plans to co-locate engineering and operations staff in one command and control centre so it can speed up the time it takes to recover from incidents.&nbsp; </li>
<li>The installation of covers on the emergency call units on Victoria line trains has significantly reduced the number of accidental activations by passengers. Similar covers are being designed and fitted to the Jubilee, Northern and Piccadilly fleets prior to the 2012 Games before further roll-out to the Bakerloo, Central and District lines.&nbsp; </li>
<li>A huge range of other programmes are being taken forward in order to reduce delays, including the upgrades of Tube signalling and fleets, new technology and resources to combat cable theft, work to learn from other metros and leading companies and communications campaigns aimed at staff, contractors and passengers to explain how to help keep Tube services running smoothly.&nbsp; </li></ul>
<p>
<hr>
<br>Later this year the Mayor will set out his plan to reduce delays by a further 30 per cent. 
<p>
<p>A total of &pound;50m has already been identified for the development of reliability projects to further improve Tube services over the next few years. <br>&nbsp;<br>Mike Brown, Managing Director of LU, said: "Over the last year, my team has scrutinised every aspect of how we operate the Tube to further improve reliability.&nbsp;&nbsp;I'm determined to ensure we're getting the most from our trains, infrastructure and people. The results are unequivocal, but we are not complacent and will continue to focus on improving every aspect of the service we provide our customers."</p>

<p>
<hr>
<br></p>
            <p>Notes to editor:</p>
<ul>
<li>Full performance statistics for London Underground period 13 of 2011-12 are available from <a href="http://www.tfl.gov.uk/corporate/modesoftransport/londonunderground/1592.aspx">http://www.tfl.gov.uk/corporate/modesoftransport/londonunderground/1592.aspx</a></li>
<li>In the last financial year, ended on 31 March 2012, London Underground trains ran 72.4 million kilometres, the highest ever, and passengers made more than 1.17m journeys, a new record, up 5.7% from 2010/11.&nbsp;</li>
<li>Reliability, as measured by the amount of delays to customers, was also at record levels with the number of customers hours lost to delays at their lowest since measurements began in 1999. Across the network Lost Customers Hours have been reduced by almost 40 per cent since 2007/08. In 2011/12 lost customer hours were reduced to 2.18m lost customer hours as compared to 3.04m lost customer hours in 2010/11.&nbsp;</li>
<li>For customer satisfaction the fourth quarter's overall evaluation score at 81 was above target, giving an annual average of 80, the highest since records began.&nbsp;</li>
<li>The second post-upgrade timetable on the Jubilee line was introduced on Sunday 25 March. The timetable increased the weekday peak frequency at the busiest times to 30 trains per hour and provided significant increases in inter-peak, evening and weekend service frequencies. Average journey times are now more than two minutes faster than they used to be under the old signalling system.&nbsp;</li>
<li>More than half of the service on the Metropolitan line is now being provided by the new air-conditioned 'S' stock trains. <br></li></ul>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "He attributed the improvements to a reliability programme introduced last year and a massive programme of investment. The Mayor also confirmed that, as he has pledged, his team are working on measures to cut delays by a further 30 per cent.";}
        
        


 