


@{ViewBag.Title = "Wembley Central becomes the 65th step-free Tube station ";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>Wembley Central becomes the 65th step-free Tube station </h1>
        <div class="content-page-press-release">
        16 May 2012
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        Three new lifts and one new stair lift have been installed at Wembley Central station making it the 65th Tube station to become step-free from street to platform level before the Olympic and Paralympic Games.
        
    </div>



 <div class="on-this-page">
<p>This will give easier access to passengers with luggage and buggies as well as wheelchair users at Wembley Central station, whether they want to get to a London Overground, National Rail or a London Underground Bakerloo line platform.</p>
<p>Howard Collins London Underground's Chief Operating Officer said: 'The new lifts make Wembley Central our 65th Tube station to become step-free from street to platform before the London 2012 Games. </p>
<h2>Making life easier</h2>
<p>'The lifts will make it much easier for customers with mobility impairments, heavy luggage or buggies, to use the station. </p>
<p>'For passengers going to Wembley Stadium or Arena it will complement Wembley Park Tube Station, which is also step-free and will be a lasting legacy long after the Games have finished.'</p>
<p>Network Rail installed the new lifts and constructed a new corridor linking the ticket hall with all the platforms, which means that National Rail customers are now under cover on their way to catch a train. </p>
<h2>Accessible for all</h2>
<p>Jo Kaye, Network Rail Route Managing Director, said: 'The improvements made at Wembley Central will make the station more accessible for everyone and is part of a wider programme to build a bigger, better railway for London.</p>
<p>'Thousands of spectators travelling to and from Wembley Central will reap the benefits of these improvements during the Games and for years to come.'</p>
<p>Network Rail is delivering the Access for All programme on behalf of the DfT. </p>
<p>Access improvement works at over 90 National Rail stations will be completed by the opening ceremony. They include lifts being installed at Camden Road, Gospel Oak, Hackney Central and which will all have step-free access in time for the London 2012 Games.</p>
<p>
<p>
<hr>

<p>
<p><strong>Notes to editors</strong></p><strong>
<ul>
<li></li></ul></strong>Transport for London has invested &pound;6.5bn in upgrading the Capital's transport network including hundreds of millions of pounds in making the transport network more accessible in the last few years 
<li>The improvements include new lifts, trains, raised platform areas, wide aisle gates, tactile paving and audio and visual displays </li>
<li>Tube stations which are step-free will increase to 66 by the Olympic and Paralympic Games </li>
<li>All Tube stations have staff trained to assist passengers </li>
<li>Every station on the DLR is step-free </li>
<li>Our bus fleet is the most accessible fleet in the UK - with every one of our 8,500 buses low-floor wheelchair accessible and over 60 per cent of bus stops fully accessible. This will rise to 70 per cent by the end of the 2012/13 financial year and we are working closely with the London boroughs to achieve full accessibility as quickly as practical </li>
<li>However, TfL is not complacent and, with 12m passengers using the Capital's transport network every day, we want everyone who needs support to get it. We are constantly improving the accessibility of the network - with upgrade work underway to make other stations step-free such as Victoria, Bond Street, Tottenham Court Road and Paddington H&amp;C, and new initiatives being delivered such as our Travel Support card, which makes travel easier for passengers with hidden disabilities </li>
<li>Wembley Central is one of the 148 stations in Britain to receive funding to provide better access to stations through the government's &pound;370m Access for All programme </li>
<li>Network Rail is reforming its infrastructure business with a greater focus on partnership with suppliers and a restructuring of the way the company delivers Capital projects. The changes are a key part of the company's plans to deliver efficiency savings helping to reduce the cost of running the railway</li>
<p>&nbsp;</p>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "This will give easier access to passengers with luggage and buggies as well as wheelchair users at Wembley Central station, whether they want to get to a London Overground, National Rail or a London Underground Bakerloo line platform.Howard Collins London";}
        
        


 