


@{ViewBag.Title = "Artists' book brings together famous writers inspired by the Piccadilly line";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>Artists' book brings together famous writers inspired by the Piccadilly line</h1>
        <div class="content-page-press-release">
        26 May 2009
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        More than 100 works of fiction have been brought together to create a new contemporary novel, Piccadillyland, that Piccadilly line passengers can pick up for free at the following stations: Cockfosters, Uxbridge and Heathrow Terminals 1, 2 and 3.
        
    </div>



 <div class="on-this-page">
<div class="pullquote right">
                        <p>
                            It is the enduring sight of people reading on the Tube that inspired us to find out which stories had unfolded on the Piccadilly line
                            
                        </p>
                    </div>
                
            
            
            <p>Artists Emma Rushton and Derek Tyman have compiled references to Piccadilly line stations from novels by the likes of Iris Murdoch, John Mortimer and Will Self, to create an entirely new narrative for Piccadillyland. </p>
<p>Rushton and Tyman, said: 'Perhaps one of the most recurring sights when travelling on the London Underground is someone engrossed in the pages of a novel. </p>
<h2>Inspired</h2>
<p>'A Tube journey, to us, is always a great opportunity to read. It is the enduring sight of people reading on the Tube that inspired us to find out which stories had unfolded on the Piccadilly line in existing novels.'</p>
<p>Commissioned by Art on the Underground as the culmination of Thin Cities, a year-long series of art works that celebrate the centenary of the Piccadilly line, this new perspective reflects the history and heritage of the line through the eyes of some of our greatest writers.</p>
<p>Passengers will be able to pick up copies of Piccadillyland to take away and read, or browse through copies of the original novels containing the source material.&nbsp; </p>
<p>The books are available from the following locations: En Route Cafe at Cockfosters, Frank's Cafe at Uxbridge and the Tourist Information Centre cafe at Heathrow Terminals 1, 2 and 3. </p>
<h2>Imaginative</h2>
<p>Phil O'Hare, General Manager of the Piccadilly line, said: 'The thing that really fascinated me about this project is how inspiring the Piccadilly line has been to so many people. </p>
<p>'It's great to feel that the line is more than just a means of getting from A to B and actually a source of imaginative ideas.'</p>
<p>
<hr>
<strong>Notes to editors:</strong>
<ul>
<li>Piccadillyland is an A6, 120-page book available for customers to pick up for free </li>
<li>Art on the Underground is London Underground's&nbsp;(LU's) art programme, producing high calibre artworks in unexpected places on the network, enhancing the millions of journeys made every day. It aims to promote a greater understanding of the Tube as a cultural and social environment through the creative commissioning of artworks </li>
<li>Emma Rushton and Derek Tyman's recent work has focused on particular locations and events to examine notions of public/civic space and ideas of belonging, community, nationhood and place.&nbsp;Emma Rushton and Derek Tyman are based in Manchester and have been working together collaboratively since 1997. Recent exhibitions include: Flying Down To Moscow, Neues Kunstforum, Cologne (2009), Will Someone Stop You..? Artis, Den Bosch, The Netherlands (2007) and Access Permitted (with Kwong Lee) Unit 2, London (2006). They have also completed a number of artist residencies, most recently at 1a Space, Hong Kong, China (2007) </li>
<li>Thin Cities was one of Art on the Underground's most ambitious projects to date, forming part of LU's centenary celebrations for the Piccadilly line. Spanning 12 months, Thin Cities showcases a groundbreaking series of specially commissioned artworks - including artists such as Rut Blees Luxemburg, Asia Alfasi, Richard Woods, Heather and Ivan Morison and Keith Wilson The works were presented at designated stations along the Piccadilly Line, from Cockfosters to Heathrow. Developed by Art on the Underground and independent curator Gavin Wade, Thin Cities draws upon the themes of past, present and future, and derives inspiration from the travels of the 14th Century explorer Marco Polo, as retold in Italo Calvino's book Invisible Cities. Each artist involved in the project engages with a different aspect of the Piccadilly line and its history by taking on the role of explorer or storyteller - resulting in a unique site specific 'group' show, staged solely for passengers on LU. The catalogue documenting eleven Thin Cities Piccadilly line Centenary Commissions, co-edited by curators Sally Shaw and Gavin Wade, will be published concurrently with Piccadillyland </li>
<li>Other Art on the Underground giveaways have included: limited edition prints by five artists for the Art on the Underground re-brand (Nov 2007), specially designed badges by Peter McDonald at Southwark station (May 2009) and an exclusive print by Richard Long (available 2-3 June 2009).&nbsp;For more information about these and other Art on the Underground projects visit <a href="http://www.tfl.gov.uk/art">tfl.gov.uk/art</a> </li>
<li>LU is undertaking a major programme of renewal as part of Transport for London's (TfL's ) Investment Programme.&nbsp;This will inevitably result in some disruption for passengers, but TfL is working hard to provide information and alternative travel options.&nbsp;The work is essential to provide for London's growing transport needs now, and into the future.&nbsp;TfL is urging all Londoners and Tube, London Overground and DLR passengers to 'check before they travel' at weekends, allowing extra journey time where necessary. Weekend travel news is available at tfl.gov.uk</li></ul>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "Artists Emma Rushton and Derek Tyman have compiled references to Piccadilly line stations from novels by the likes of Iris Murdoch, John Mortimer and Will Self, to create an entirely new narrative for Piccadillyland. Rushton and Tyman, said: 'Perhaps one";}
        
        


 