


@{ViewBag.Title = "Brighter lighting saves energy at ticket machines";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>Brighter lighting saves energy at ticket machines</h1>
        <div class="content-page-press-release">
        12 May 2009
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        London Buses has introduced light emitting diode (LED) lighting at all of its roadside ticket machines.
        
    </div>



<div class="pull-quote">
        <div class="quote-body">"New technology can help us decrease our impact on the environment"</div>
        <div class="quote-footer">
            <div class="quotee-name">Paul London</div>
            <div class="quotee-job-title">London Buses Ticket Technology Manager</div>
        </div>
</div>

 <div class="on-this-page">
<div class="pullquote right">
                        <p>
                            New technology can help us decrease our impact on the environment
                            
                        </p>
                    </div>
                
            
            
            The LED technology uses up to 75 per cent less energy than conventional lighting, and will reduce carbon dioxide (CO2) emissions equivalent to the weight of ten double deck buses every year. 
<p>Despite using less power, LEDs are much brighter than conventional lighting, making the machines easier to use.&nbsp; </p>
<p>The LEDs also last a lot longer, ten years on average compared to just two years for conventional fluorescent tubes, meaning lower maintenance and disposal costs.</p>
<h2>Saving energy</h2>
<p>The introduction of LED lighting is part of London Buses' continuing efforts to save energy and improve the passenger environment across the London bus network.</p>
<p>Paul London, London Buses Ticket Technology Manager, said: 'We're always looking for ways in which new technology can help us decrease our impact on the environment, improve our passengers' experience, and provide value for money.&nbsp; </p>
<p>'Introducing LEDs on ticket machines is a small change that's part of a much bigger effort to make our operations more efficient and environmentally friendly.'</p>
<p>
<hr>
<strong>Notes to editors: 
<p>
<ul>
<li></li></ul></strong>LED lighting on a ticket machine uses 0.8 watts, compared to 32 watss&nbsp;for conventional lighting, a saving of 31.2 watts.&nbsp;Taken across 1,109 mains powered ticket machines operating 365 days a year this results in a saving of 170 tonnes of CO2 per year, or more than ten London double deck buses weighing 16 tonnes each 
<li>Thirty-three&nbsp;ticket machines in London run on batteries, which do not provide enough power to support conventional lighting. Due to the lower power requirements of LED lighting, these machines will be lit for the first time </li>
<li>London Buses already uses LED lighting at 3,500 solar powered bus stops and 640 passenger shelters </li>
<li>Roadside ticket machines are used in the central London Pay Before You Board area, on bendy bus routes outside this area and at other busy locations around London </li>
<li>Images of ticket machines fitted with LED lighting are available from the Transport for London press office<br></li>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "The LED technology uses up to 75 per cent less energy than conventional lighting, and will reduce carbon dioxide (CO2) emissions equivalent to the weight of ten double deck buses every year. Despite using less power, LEDs are much brighter than";}
        
        


 