


@{ViewBag.Title = "CentreComm celebrates 30 years keeping London's buses moving";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>CentreComm celebrates 30 years keeping London's buses moving</h1>
        <div class="content-page-press-release">
        21 May 2009
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        CentreComm, London Buses' emergency command and control centre, celebrates its 30th anniversary today.
        
    </div>



<div class="pull-quote">
        <div class="quote-body">"I imagine most of our passengers have no idea how much hard work goes on behind the scenes"</div>
        <div class="quote-footer">
            <div class="quotee-name">Ken Davidson</div>
            <div class="quotee-job-title">London Buses Network Operations Manager</div>
        </div>
</div>

 <div class="on-this-page">
<div class="pullquote right">
                        <p>
                            I imagine most of our passengers have no idea how much hard work goes on behind the scenes 
                            
                        </p>
                    </div>
                
            
            
            <p>Behind the scenes at London Buses, a dedicated team of professionals works 24/7 to keep the bus network running safely and reliably.&nbsp; </p>
<p>Staff at CentreComm take around 1,300 calls every day from London's 23,000 bus drivers, responding to any incident that has an impact on the bus network, setting up diversions and coordinating an emergency response where necessary. </p>
<h2>Behind the scenes</h2>
<p>CentreComm has planned the bus network response to all major events taking place in London over the last 30 years, including the first London Marathon in 1981, the funeral of Princess Diana in 1997 and the Tour de France Grand Depart in 2007.&nbsp; </p>
<p>CentreComm also deals with unplanned events, including responding to the terrorist attacks on 7 July 2005, for which two members of staff were awarded MBEs.</p>
<p>When it opened in May 1979, CentreComm was staffed by just two people who used a pen and paper to record bus movements as they were radioed in by drivers.&nbsp; </p>
<p>Today it is a 45 person operation, relying on GPS technology to keep track of the location of every single bus in the fleet, and a state of the art radio system to communicate with drivers. </p>
<h2>State of the art</h2>
<p>Ken Davidson, London Buses Network Operations Manager, said: 'Last year, 2.2 billion journeys were made on London's bus network, and I imagine most of our passengers have no idea how much hard work goes on behind the scenes to keep the buses running.&nbsp; </p>
<p>'Staff at CentreComm work tirelessly to deal with the huge range of events that affect the bus network every day, planned and unplanned, large and small, ensuring bus passengers can rely on our services.</p>
<p>'In thirty years CentreComm has changed beyond recognition, from a two person, pen and paper operation, into a hi-tech nerve centre for London's bus fleet.&nbsp; </p>
<p>'As we continue to invest in the development of the bus network I'm sure that CentreComm will play a vital role in keeping the Capital moving for many years to come.'</p>
<p>
<hr>
<strong>Notes to editors:<p>
<ul>
<li></li></ul></strong>Images of CentreComm past and present are available from the Transport for London press office
<li>Every single bus in London's 8,200 strong fleet is now fitted with iBus, a bespoke, GPS-based vehicle location and radio system which CentreComm uses to track the location of every bus in the fleet and communicate with drivers<br></li>
<p>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "Behind the scenes at London Buses, a dedicated team of professionals works 24/7 to keep the bus network running safely and reliably.&nbsp; Staff at CentreComm take around 1,300 calls every day from London's 23,000 bus drivers, responding to any incident";}
        
        


 