


@{ViewBag.Title = "Construction of Crossrail begins as foundations laid for new Canary Wharf station";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>Construction of Crossrail begins as foundations laid for new Canary Wharf station</h1>
        <div class="content-page-press-release">
        15 May 2009
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        Mayor and Prime Minister joined by UK business leaders as Europe's largest construction project gets underway.
        
    </div>



<div class="pull-quote">
        <div class="quote-body">"This amazing project will create and support thousands of jobs"</div>
        <div class="quote-footer">
            <div class="quotee-name">Mayor of London</div>
            <div class="quotee-job-title">Boris Johnson</div>
        </div>
</div>

 <div class="on-this-page">
<div class="pullquote right">
                        <p>
                            This amazing project will create and support thousands of jobs
                            
                        </p>
                    </div>
                
            
            
            <p>Crossrail, London's first new major railway in a generation, reached a landmark moment today as the Mayor of London, Boris Johnson, and the Prime Minister, Gordon Brown, marked the start of construction of Crossrail at a breakfast briefing with UK business leaders. </p>
<p>The Mayor was then joined by Transport Minister Andrew Adonis, London's Transport Commissioner Peter Hendy, Crossrail Chairman Douglas Oakervee and Canary Wharf Group Chief Executive George Iacobescu to launch the first of nearly four hundred 18.5 metre tall steel piles that will form the basis of the new station. </p>
<p>The new station will be built in North Dock between Canary Wharf and North Quay and when complete will be one of the largest on the Crossrail network.</p>

<h2>Major railway</h2>
<p>Canary Wharf station will be the first Crossrail station to be constructed, and includes plans for 100,000 square feet of retail space and a roof-top park. </p>
<p>Crossrail services will begin operating from 2017 cutting journey times across London allowing travel from Canary Wharf to Liverpool Street in 7 minutes, Paddington in 17 minutes and Heathrow in 44 minutes.</p>
<p>The formal start of construction signals the intensification of work on Crossrail and follows the confirmation of major funding agreements with BAA, Canary Wharf Group and the Corporation of London, the appointments of the new Chief Executive and Chairman of Crossrail and the appointment of the main contractors who will oversee the overall project delivery including design, tunnelling and construction.&nbsp; </p>
<p>The Prime Minister, Gordon Brown said:&nbsp;'Many people said it would never be built, but today we are celebrating a defining moment for London as Crossrail's construction gets underway. </p>

<h2>Work intensifies</h2>
<p>'Crossrail will not only mean faster journey times across the Capital and beyond, it will also bring a massive economic boost to the city, creating thousands of jobs and adding at least &pound;20bn to our economy.</p>
<p>'Investment into important projects like Crossrail, the largest construction project in Europe, is vital to create and protect jobs as well as supporting businesses, so that we can grow our way out of recession and ensure a strong future for London and the country as a whole.'</p>
<p>The Mayor of London, Boris Johnson said: 'The years of hesitation, irresolution and vacillation are over, the shovels have tasted earth and the construction of a railway that is crucial to the economic prosperity of this great city has begun.</p>
<p>'This amazing project will create and support thousands of jobs, relieve congestion and provide a high speed link between east and west of London. </p>

<h2>Faster journeys</h2>
<p>'When the first of Crossrail's chariots glide smoothly along its lines in 2017 it will change the face of transport in London and the South East forever.'</p>
<p>Crossrail is Europe's largest infrastructure project and will employ some 14,000 people at its peak, providing a crucial boost to London and the UK's economy. </p>
<p>Another 7,000 jobs will be supported indirectly through project support services through items such as manufacturing equipment.</p>
<p>The vast majority of these jobs will be undertaken by people in London and the UK, particularly those living in boroughs along the Crossrail route which are some of the most deprived in the UK, and creating a lasting skills legacy for London. </p>

<h2>Skills legacy</h2>
<p>As a beginning, a Crossrail Tunnelling Academy will open in Newham in spring 2010 to train some 1,000 people up to 2015, providing the skills necessary for work in a variety of tunnelling roles.</p>
<p>Crossrail will run for 118km from Maidenhead and Heathrow in the west through 21.5km of new twin bore tunnels through central London and on to Whitechapel, Canary Wharf, Woolwich, Abbey Wood and Shenfield in the east. </p>
<p>The new railway will bring 1.5 million people within 60 minutes' commute of London's major business districts with over 200 million passengers expected to use the railway in its first year of operation. </p>
<p>Canary Wharf Group Chief Executive George Iacobescu said: 'Today London starts work on one of the great civil engineering projects in its history. </p>

<h2>Future demand</h2>
<p>'Canary Wharf Group is proud to be playing its part, not just by helping to fund the project, but by taking on the responsibility of building the Canary Wharf Crossrail station as well. </p>
<p>'It's true that times are hard right now but Canary Wharf still expects to see growth return long before Crossrail is completed. </p>
<p>'Today we have 93,000 people working here. In the future it is expected that this will more than double. </p>
<p>'So this project is not just about anticipating future transport demand it is also about London catching up with the demand which is already there.'</p>

<h2>Capacity boost</h2>
<p>London's Transport Commissioner, Peter Hendy said: 'Crossrail will deliver a huge capacity boost as part of a multi billion pound investment to improve and expand the Capital's transport network. </p>
<p>'When it is completed in 2017, the new railway will play a key role in relieving congestion on the Tube and extending access to key retail and business centres to passengers from all over London and across the South of England.</p>
<p>'Alongside Crossrail we remain strongly committed to upgrading the Underground, and other major projects that will deliver better services for our passengers between now and 2017, including the extension of the DLR network, the East and North London Lines and London Overground. </p>
<p>'All are vital for London's economy.'</p>

<h2>The next stage</h2>
<p>Crossrail Chairman Douglas Oakervee said: 'The priority for Crossrail is to deliver this project on time and within budget. </p>
<p>'Following approval of the Crossrail Act last summer, the project has made significant progress with funding and governance agreements finalised and the appointment of the contractors for the key Programme Partner and Project Delivery Partner contracts. </p>
<p>'Today marks the beginning of the next stage.'</p>
<p>
<hr>

<p>
<p><strong>Notes to editors:</strong></p>
<h2>About Crossrail</h2>
<ul>
<li>Crossrail will run 118km from Maidenhead and Heathrow in the west through 21.5km of new twin bore tunnels through central London and on to Canary Wharf, Woolwich, Abbey Wood and Shenfield in the east. The new railway will be designed to initially accommodate 10-carriage trains with provision for longer trains in the future. Crossrail will provide new transport links with the Tube, Thameslink, National Rail, DLR and London Overground. It is anticipated that over 200 million passengers will use Crossrail in the first year of operation </li>
<li>Crossrail will deliver a significant economic benefit of at least &pound;20bn to the UK economy following the start of services in 2017. A recent economic study for Crossrail by Colin Buchanan consultants found that all boroughs in London, not just those on the Crossrail route, will benefit economically. When the results are modelled for just one year - 2026 - the annual economic benefit across all of London's boroughs is estimated at &pound;1.24bn at 2008 prices </li>
<li>The scale of Crossrail is of a size and scale not seen for decades. It enables the renewal of key stations in central London with nine new stations built underground in central London, Docklands and Woolwich as well as eleven major reconstructions of national rail stations along the route. Crossrail and an upgraded Tube work together alongside Network Rail upgrades, to improve transport capacity, connectivity, and services across London and the South East </li>
<li>Main construction works for Crossrail will begin in 2010 but throughout 2009 preparatory work will continue particularly at Tottenham Court Road where the next stage of the station's redevelopment will start next week and continue until autumn ahead of major construction works on the station starting in early 2010. Elsewhere preparatory work will get underway later this year at Farringdon and Paddington </li>
<li>The Government and TfL have set up a &pound;15.9bn funding package to cover the costs of Crossrail, including contingency and inflation, to ensure that the project is delivered on time and on budget </li>
<li>The funding package has been designed to ensure that everyone that benefits from Crossrail should contribute towards its success </li>
<li>DfT will be responsible for &pound;5.6bn of funding including &pound;5.1bn of direct grant and contributions from BAA and Corporation of London with the Mayor via TfL responsible for &pound;7.7bn of funding, including securing contributions from London businesses </li>
<li>The &pound;230m funding package from BAA was confirmed on 4 November 2008 with direct funding of &pound;200m agreed with the Corporation of London on 4 December 2008. <br>In addition, the Corporation of London will seek contributions from business of &pound;150m, and has guaranteed &pound;50m of these contributions </li>
<li>Network Rail will undertake &pound;2.3bn of infrastructure works to the Great Western and Great Eastern mainlines to enable Crossrail services to operate. Network Rail's &pound;2.3bn financing will be recouped from future track access charges </li>
<li>On 24 December 2008, it was confirmed that Canary Wharf Group (CWG) will contribute &pound;150m towards the costs of Isle of Dogs station. CWG will construct the Isle of Dogs station for a fixed price of &pound;500 million. &pound;350m of the station's &pound;500m costs will be met from Crossrail's &pound;15.9bn budget with CWG bearing the risk in relation to costs above the fixed price limit</li></ul>
<h2>About Canary Wharf Crossrail station </h2>
<ul>
<li>The Crossrail station at Isle of Dogs will now be known as Canary Wharf Crossrail station. It will be one of the largest stations on the Crossrail route </li>
<li>Canary Wharf Group today issued new images of the station. They are available for download at <a href="http://www.crossrail.co.uk/pages/mediaimagelibrary.html">www.crossrail.co.uk/pages/mediaimagelibrary.html</a> </li>
<li>Like the nearby Canary Wharf Tube station, the new Crossrail station will be built in a dock, in this case the North Dock of West India Quay. The station will be six storeys high. Retail areas are planned for four of the six storeys including a landscaped, restaurant and community facility on the top floor. The station is covered by an elegant, semi open-air timber lattice roof allowing views out over the dock, Canary Wharf and beyond </li>
<li>To enable construction of the station box, 396 steel piles measuring 18.5 metres high and 1.2 metres wide will be sunk into the dock floor using 10 storey high piling cranes and Giken Piling machines. This is the first time this type of machinery has been used in the UK, although it is extensively used in Japan. The Giken piling is expected to be completed by October this year. Water will then be pumped out of the piled structure to enable a concrete wall to be built as part of the next stage of construction </li>
<li>North Quay will be the worksite for the new Crossrail station at Canary Wharf. The station box is expected to be completed and handed over to Crossrail by summer 2012. When works are completed the site will be handed back to Canary Wharf Group to enable development of office space at North Quay, which already has planning permission. This development will be demand-led </li>
<li>The station box will be 260 metres long - which is greater than the height of the UK's tallest building One Canada Square - and will be between 27 metres and 30 metres wide </li>
<li>Canary Wharf Group will construct Canary Wharf Crossrail station for a fixed price of &pound;500 million. &pound;350 million of the station's &pound;500 million costs will be met from Crossrail's &pound;15.9bn budget with CWG bearing the risk in relation to costs above the fixed price limit </li>
<li>CWG's contribution of &pound;150 million will be applied against future Crossrail Section 106 contributions for certain agreed sites which may be required as proposed alterations to the London Plan </li>
<li>Canary Wharf Group and its predecessor organisations have a long history of supporting transport projects in London, including the original Docklands Light Railway link and the Jubilee Line Extension </li>
<li>The lead contractor and project manager is Canary Wharf Contractors Limited, a wholly owned subsidiary of Canary Wharf Group </li>
<li>Laing O'Rourke's Expanded Division is the preferred bidder for the enabling and civil engineering works </li>
<li>The station's retail scheme is designed by Foster + Partners, architects of the award-winning Canary Wharf Tube station </li>
<li>The station itself is designed by Tony Meadows and Associates </li>
<li>The park scheme is designed by Gillespies, one of the UK's foremost landscape designers </li>
<li>The structural engineering and building services is undertaken by Arup</li></ul>
<h2>About Crossrail</h2>
<ul>
<li>The Crossrail Act received Royal Assent on 22 July 2008, granting the powers to build the railway. On 24 July 2008, Crossrail Ltd (CRL) was appointed the lead Nominated Undertaker for the delivery of the railway </li>
<li>Since then, Crossrail has been moving rapidly ahead and progress includes: 
<ul>
<li>New Crossrail Board appointed with five Non-Executive Directors </li>
<li>Terry Morgan appointed Non-Executive Chairman, from 1 June 2009 </li>
<li>Rob Holden became Chief Executive from 1 April 2009 </li>
<li>Tony Gregory appointed Crossrail Complaints Commissioner </li>
<li>Compulsory Purchase Notices issued and property acquired at Tottenham Court Road </li>
<li>Tender issued for &pound;500m London Underground works at Tottenham Court Road. The contract for the Crossrail works at Tottenham Court Road will be advertised at a later date </li>
<li>Signing of &pound;230m funding agreement with BAA </li>
<li>Signing of &pound;350m funding agreement with the City of London </li>
<li>Signing of main agreements underpinning governance </li>
<li>Signing of &pound;150m funding agreement with the Canary Wharf Group, with CWG taking responsibility for design and construction of the Crossrail Isle of Dogs station </li>
<li>Crossrail appointed DHL to recommend logistical strategy to minimise impact of construction on central London </li>
<li>Appointment of Transcend as Crossrail Programme Partner </li>
<li>Appointment of Bechtel Limited as Crossrail Project Delivery Partner</li></ul></li>
<li>Crossrail is promoted by Crossrail Limited (CRL). CRL became a wholly owned subsidiary of Transport for London on 5 December 2008.</li></ul>
<h2>About Canary Wharf Group </h2>
<ul>
<li>Canary Wharf Group plc (CWG) is an integrated property development, investment and management group of companies. It is focused on the design, construction, leasing and management of Grade A office space and high-quality retail and leisure facilities on its 97 acre Estate in East London </li>
<li>Over the past 20 years CWG has regenerated derelict wharves into one of the world's premier business districts, constructing over 15 million square feet of office and retail space - more than any other company in London </li>
<li>Canary Wharf is home to many of the world's leading business organisations, including in the professional services, media, law, energy, financial services and transport sectors. It is also home to 200+ shops, bars, cafes and restaurants, including many of Britain's leading brands </li>
<li>The Estate includes 20 acres of landscaped parks and plazas. Canary Wharf hosts over 180 events a year and has one of the UK's largest collections of public art </li>
<li>As at 31 December 2008 the vacancy rate for Canary Wharf owned office space was 0.3%, a historical low. Canary Wharf is set for further expansion. In 2008, CWG signed agreements to commence work on the Canary Wharf Crossrail Station and to continue work on a new European Headquarters for J.P. Morgan<br></li></ul>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "Crossrail, London's first new major railway in a generation, reached a landmark moment today as the Mayor of London, Boris Johnson, and the Prime Minister, Gordon Brown, marked the start of construction of Crossrail at a breakfast briefing with UK";}
        
        


 