


@{ViewBag.Title = "Crime down eight per cent on the Tube";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>Crime down eight per cent on the Tube</h1>
        <div class="content-page-press-release">
        20 May 2009
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        Transport for London (TfL) welcomes significant drop in robberies on the Tube and Docklands Light Railway (DLR) for the third year running.
        
    </div>



<div class="pull-quote">
        <div class="quote-body">"Our network is a low crime environment and getting lower year on year"</div>
        <div class="quote-footer">
            <div class="quotee-name">Howard Collins</div>
            <div class="quotee-job-title">Chief Operating Officer of London Underground</div>
        </div>
</div>

 <div class="on-this-page">
<div class="pullquote right">
                        <p>
                            Our network is a low crime environment and getting lower year on year
                            
                        </p>
                    </div>
                
            
            
            <p>Statistics released today by the British Transport Police (BTP) show crime has continued to drop on the Tube and DLR networks - with robberies being cut by 29 per cent this year.&nbsp; </p> <p>Since 2005/06, the Tube and DLR have seen robberies fall by 73 per cent, despite carrying more passengers than ever before.</p> <p>Pick pocketing and vandalism also went down in the last year, as did violent crimes and public disorder offences.&nbsp; </p> <p>This means there are now just 13 crimes for every million passenger journeys.</p> <h2>Crime drops</h2> <p>Assaults on Tube staff have gone down by five per cent, which reflects the excellent work of the joint London Underground (LU) and BTP Workplace Violence Unit, set up in 2006 to focus on physical violence, threats and abuse against staff.&nbsp; </p> <p>Attacks on our staff are not only traumatising but also result in 350 lost working hours a week.<br>&nbsp;<br>In addition, London Overground has also seen a 23.9 per cent reduction in overall crime with a 71 per cent cut in criminal damage and a 46 per cent cut in robberies.</p> <p>The ongoing, joint work with the BTP as well as the continued investment in safety and security, have been key to this success.&nbsp; </p> <p>In addition our most recent market research shows that our efforts have helped reduce the fear of crime as passengers' levels of satisfaction relating to their personal safety, reached the highest ever.</p> <h2>Investment in safety</h2> <p>There are now more than 750 Information Points across the network which give passengers and staff access to a station control room at the touch of the button if help is needed.&nbsp; </p> <p>In addition there are now around 13,000 CCTV cameras - expected to rise to more than 15,500 in the next few years, across the Tube network.&nbsp; </p> <p>Boris Johnson, the Mayor of London, said: 'These figures conclude a very good year of policing on the Underground. </p> <p>'The neighbourhood policing teams have proved an effective deterrent to crime and provided a visible reassurance for Londoners that we will not tolerate crime on the Tube.'</p> <p>Kulveer Ranger, the Mayor of London's Director of Transport Policy, said: 'The Mayor promised Londoners that a major priority of his mayoralty would be to increase their safety on public transport; and we're pleased that the neighbourhood policing teams are showing such positive results. </p> <h2>Positive results</h2> <p>'However we will not allow this success to divert from a continued focus on ensuring the Underground network is made as safe as possible.'</p> <p>Howard Collins, Chief Operating Officer of London Underground, said:&nbsp;'These reductions are really encouraging and in particular, the continuing and significant fall in robberies. </p> <p>'I'm also delighted to see the decrease in assaults towards our staff who are simply trying to do their job helping millions of people negotiate their way around the network every day.&nbsp; </p> <p>'This should reassure our passengers that our network is a low crime environment and getting lower year on year.&nbsp; </p> <p>'Our most recent customer feedback shows that our passengers do feel safer than ever before on our trains and in our stations.</p> <p>'However, whilst this downward trend is good news we know there is more that can be done.&nbsp; </p> <h2>Adressing concerns</h2> <p>'This is why in the coming year we will continue to invest in safety and security as we upgrade the network and refurbish our stations. </p> <p>'We will also continue to work closely with the BTP's Neighbourhood Policing teams across the Underground to address passengers' concerns in their local areas and maintain the Tube and DLR as a hostile network to criminals.'</p> <p>British Transport Police Deputy Chief Constable Andy Trotter said: 'The figures show that the Tube is undoubtedly safe, and getting safer, but we know that for various reasons some people feel unsafe when they travel and it's this fear of crime that we want to tackle. </p> <p>'Not only are the Neighbourhood Policing Teams more visible to passengers than ever by spending at least 85 per cent of their time patrolling their nominated stations, they are also ensuring they are more visible in London's outer areas later at night to help people feel safer on their way home and to deter those who may be looking to commit crime. </p> <p>'Fearing crime is not just limited to passengers - assaults against LU staff are down five per cent and reducing this type of crime is something we will continue to pour a lot of effort into as nobody should have to fear being spat at or physically assaulted when they are simply doing their job.'</p> <p> <hr> <strong>Notes to editors:  <p> <ul> <li></li></ul></strong>Figures released by the BTP show that for 2007/08:  <ul> <li>Crime on the LU/DLR network is down 8 per cent (from 16,445 to 15,109) while passenger numbers continue to increase. There are now just 13 crimes for every million passenger journeys  </li><li>Robbery has gone down by 29.2 per cent (from 192 to 136)  </li><li>Violent crime has been cut by 2.6 per cent (from 2,215 to 2,158)  </li><li>Criminal damage has gone down by 15.9 per cent (from 1,921 to 1,615)  </li><li>Theft of passenger property or pick-pocketing has gone down by 18 per cent (from 7,481 to 6,134)  </li><li>Theft of railway property, including cable theft, has gone down by 35.6 per cent (from 592 to 381)  </li><li>Public disorder offences have gone down 4.5 per cent (from 1,981 to 1,892)  </li><li>Fraud offences, including tampering with cash and ticket machines on LU property have gone down by 12.9 per cent (from 264 to 230)  </li><li>Proactive operations by BTP officers have seen the number of recorded drugs-related offences have gone up from 881 to 1,616 in 2008/9  </li><li>Sexual offences have seen an increase from 332 to 338  </li><li>In 2007/ there was an 11 per cent drop in crimes, according to BTP statistics.</li></ul> <li>Assaults on members of London Underground (LU) staff also went down by 5 per cent (from 698 to 659). LU and the BTP have a joint Workplace Violence Unit (WVU) which was set up in 2006 to focus on physical violence, threats and abuse against Tube staff, which aims at making the Tube network a safer place for staff  </li><li>In 2006/7 there was a 21 per cent reduction in robberies on the Tube/DLR (506 to 399).&nbsp; In 2007/8 there was a 52 per cent reduction in robberies on the Tube/DLR (399 to 192)  </li><li>The May 2008 to April 2009 statistics compared with the same period the previous year show that crime on London Overground also went down by 23.9 per cent:  <ul> <li>71 per cent reduction in criminal damage  </li><li>46 per cent reduction in robbery  </li><li>39 per cent reduction in theft of passenger property  </li><li>31 per cent reduction in violence offences</li></ul> <li>LU carried more than a billion passenger journeys in 2008/9  </li><li>In 2003, there were 450 BTP officers for London Underground. Over the last few years this has increased to more than 700 officers  </li><li>TfL monitors people's views on the different aspects involving the use of the Capital's transport system through market research.&nbsp;This includes perceptions on personal safety when travelling on and waiting for transport services. Results are presented as a score out of 100 and should not be interpreted as a percentage. The higher scores reflect more positive perceptions. 2008/09 was a record breaking year for customer satisfaction with LU. The final annual Customer Service Satisfaction (CSS) score for 2008/09 was 79, two points higher than the score achieved last year  </li><li>There are approximately 13,000 CCTV cameras on the Tube network which will rise to more than 15,500 over the next few years as part of the ongoing station modernisation programme. This will see the upgrading and expansion of CCTV facilities from analogue to digital and the recording of high quality images to hard drive rather than magnetic tape. This will ultimately mean that no one will be able to enter the Underground network without their face being recorded by CCTV camera. CCTV coverage also extends to trains and will be expanded as new rolling stock arrives on the network. Footage from CCTV cameras is not only able to viewed and monitored locally by a specific station but can also be accessed remotely by the Network Operation Centre at London Underground HQ and by the British Transport Police. This does not cover all stations  </li><li>Information Points are being installed at every station as it undergoes refurbishment with as many as 26 installed at some of the busiest stations. These information points give passengers and staff access to the station supervisor's office at the touch of a button. If there is no member of staff in the station control room, for any reason, the Information Point will automatically connect to the 999 emergency services help line  </li><li>Additional improvements to Tube security in recent decades have seen the introduction of clear lines of sight and improved lighting on platforms as stations are upgraded and refurbished<br></li>
            

            
            

        </li>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "Statistics released today by the British Transport Police (BTP) show crime has continued to drop on the Tube and DLR networks - with robberies being cut by 29 per cent this year.&nbsp;Since 2005/06, the Tube and DLR have seen robberies fall by 73 per";}
        
        


 