


@{ViewBag.Title = "Customers benefit from new Piccadilly line timetable";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>Customers benefit from new Piccadilly line timetable</h1>
        <div class="content-page-press-release">
        05 May 2009
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        Passengers on the Piccadilly line now have a more reliable service and fewer delays thanks to the introduction of a series of timetable changes.  Customer satisfaction has risen as a result.
        
    </div>



<div class="pull-quote">
        <div class="quote-body">"The success of our new timetable means our customers have quicker journeys and a more reliable service on the Piccadilly line"</div>
        <div class="quote-footer">
            <div class="quotee-name">Phil O'Hare</div>
            <div class="quotee-job-title">General Manager for the Piccadilly line</div>
        </div>
</div>

 <div class="on-this-page">
<div class="pullquote right">
                        <p>
                            The success of our new timetable means our customers have quicker journeys and a more reliable service on the Piccadilly line
                            
                        </p>
                    </div>
                
            
            
            <p>The Piccadilly line is unique because it serves the heart of the West End's tourist and entertainment districts as well as Heathrow Airport.&nbsp; </p>
<p>Trains are often just as busy in the evenings and at weekends as they are at peak commuter times.</p>
<p>The Piccadilly line is used by more than 650,000 customers every day. </p>
<p>In recent years, rising passenger numbers have meant that trains have to stop at stations for longer while extra customers get on and off trains, leading to an increasing level of late running and delay.&nbsp; </p>
<p>Changes were made to the timetable in 2008 to reflect this and services were also increased on some of the busiest parts of the line at certain times, by extending the peak service.</p>
<h2>Journey times reduced</h2>

<p>Trains now keep to time more often - and as a result the time customers spend waiting for trains has decreased by an average of 25 per cent and overall journey times have been reduced. </p>
<p>The new modified service can also recover more quickly if there are delays.</p>
<p>As part of the changes, London Underground has boosted the number of trains on the busiest section of the line through central London by making the peak time service longer on the trunk section between Acton Town and Arnos Grove. </p>
<h2>More trains in the evening</h2>

<p>People visiting the West End now also have more trains in the evening. </p>
<p>Phil O'Hare, General Manager for the Piccadilly line, said: 'The success of our new timetable means our customers have quicker journeys and a more reliable service on the Piccadilly line.&nbsp; </p>
<p>'Passengers going out for the evening in the West End also see benefits from these changes. </p>
<p>'Our customers have noticed this with customer satisfaction at record levels.'</p>
<p>Looking to the future, planning for the upgrade of the Piccadilly line is now underway. </p>
<p>This will see a brand new fleet of trains introduced on the line, which, together with modern signalling and a new automatic train control system, will increase capacity and reliability. </p>
<p>The upgrade, which is being carried out by Tube Lines, is due to be completed in 2014. 
<hr>

<p>
<p><strong>Notes to editors:</strong></p>
<ul>
<li>Tube Lines is responsible for the maintenance and renewal of the Jubilee, Northern and Piccadilly lines </li>
<li>London Underground is undertaking a major programme of renewal as part of Transport for London's (TfL's) multi-billion Investment Programme.&nbsp; This will inevitably result in some disruption for passengers, but TfL is working hard to provide information and alternative travel options.&nbsp; The work is essential to provide for London's growing transport needs now, and into the future.&nbsp; TfL is urging all Londoners and Tube, London Overground and DLR passengers to 'check before you travel' at weekends, allowing extra journey time where necessary. Weekend travel news is available at <a href="http://www.tfl.gov.uk/">http://www.tfl.gov.uk/</a><br></li></ul>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "The Piccadilly line is unique because it serves the heart of the West End's tourist and entertainment districts as well as Heathrow Airport.&nbsp; Trains are often just as busy in the evenings and at weekends as they are at peak commuter times.The";}
        
        


 