


@{ViewBag.Title = "DLR services suspended for vital upgrade work";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>DLR services suspended for vital upgrade work</h1>
        <div class="content-page-press-release">
        05 May 2009
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        Two major service changes - a network-wide closure and a partial closure - will take place on the Docklands Light Railway (DLR) this month to enable its &pound;325m three-car upgrade to continue on schedule.
        
    </div>



<div class="pull-quote">
        <div class="quote-body">"This work is essential to allow three-car trains to run on the Bank-Lewisham line in early 2010"</div>
        <div class="quote-footer">
            <div class="quotee-name">Jonathan Fox</div>
            <div class="quotee-job-title">DLR Director</div>
        </div>
</div>

 <div class="on-this-page">
<div class="pullquote right">
                        <p>
                            This work is essential to allow three-car trains to run on the Bank-Lewisham line in early 2010
                            
                        </p>
                    </div>
                
            
            
            <p>The network-wide closure, on Sunday 10 May, will allow crucial work on the Delta Junction,&nbsp; just north of West India Quay. </p>
<p>DLR Director Jonathan Fox said: 'This work is essential to allow three-car trains to run on the Bank-Lewisham line in early 2010. </p>
<h2>Impossible to run a full service</h2>
<p>'When we combined the disruption caused by the Delta Junction work with that caused by other upgrade work taking place across the network on the same day,&nbsp; it was clear it would be impossible to run a full service.'</p>
<p>Later in the month, from Saturday 23 May - Sunday 31 May, a partial closure will be put in place for nine days. This is to allow critical junction work to be carried out at Canning Town, including opening a new 'flyover' bridge.</p>
<p>Throughout the partial closure, stations from East India - Prince Regent (on the Beckton branch) will shut. From 23 May - 29 May stations between East India and London City Airport (on the Woolwich Arsenal branch) will close.</p>
<p>On Saturday 30 and Sunday 31 May this closure will be extended from Westferry to Woolwich Arsenal and Beckton stations. </p>
<h2>Replacement bus services will run</h2>
<p>Rail replacement bus services will run on all routes but not serve Woolwich Arsenal station as passengers from there can use Southeastern trains.</p>
<p>Mr Fox added: 'This work at Canning Town will enable us to increase our service from Tower Gateway to Beckton. </p>
<p>'It will also mean more Woolwich Arsenal trains will run directly to Bank.</p>
<p>'It will also connect the current DLR network with the new Stratford International extension, ready for when it opens next year. </p>
<p>The suspension needs to last nine days as the work - including signalling and train testing - has to take place on consecutive days.'</p>
<h2>We apologise for the inconvenience</h2>
<p>'We apologise for the inconvenience and appreciate this will cause disruption so have planned the work to take place over the Bank Holiday weekend when passenger numbers are lower. </p>
<p>'The timing also reduces commuter disruption to four working days.</p>
<p>'Bus replacement services will run every two and a half minutes during peak times.'</p>
<p>Passengers are advised to check before they travel on the Journey Planner at <a href="http://www.tfl.gov.uk/">http://www.tfl.gov.uk/</a> or call DLR Customer Services on 020 7363 9700. For bus replacement details go to <a href="http://www.dlr.co.uk/improvements">www.dlr.co.uk/improvements</a> or call 020 7222 1234. 
<hr>

<p>
<p><strong>Notes to editors</strong></p>
<ul>
<li>The DLR is undergoing a &pound;325m upgrade so that it will be able to run three car trains, by the start of 2011 on all its routes. This involves signalling work, lengthening platforms, strengthening viaducts and reconfiguring three major junctions. The project is on time and on budget </li>
<li>The DLR Stratford International extension, from Canning Town to Stratford International, uses parts of the former North London Line. The line is being upgraded and converted to take DLR trains at a cost of &pound;211m in time for the 2012 Games </li>
<li>On Saturday 9 May DLR will be suspended from Stratford-Canary Wharf and Canning Town-Beckton. Replacement bus services will operate on this day and also on Sunday 10 May except to Woolwich Arsenal </li>
<li>During the Canning Town work the following train services will run:<br>Bank-Lewisham; Tower Gateway-East India; Stratford- Crossharbour /&nbsp; Lewisham; Woolwich Arsenal-London City Airport; Beckton-Prince Regent </li>
<li>During the closures tickets will be accepted on Southeastern train services from Woolwich Arsenal to Greenwich and Lewisham and Stratford to Canary Wharf on the Jubilee Line<br></li></ul>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "The network-wide closure, on Sunday 10 May, will allow crucial work on the Delta Junction,&nbsp; just north of West India Quay. DLR Director Jonathan Fox said: 'This work is essential to allow three-car trains to run on the Bank-Lewisham line in early";}
        
        


 