


@{ViewBag.Title = "Have your say on proposed route 255 extension";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>Have your say on proposed route 255 extension</h1>
        <div class="content-page-press-release">
        26 May 2009
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        London Buses is seeking the views of local residents and bus users on proposals to extend bus route 255 from Streatham Hill to Balham Station.
        
    </div>



<div class="pull-quote">
        <div class="quote-body">"We're keen to hear the views of passengers and local residents on our plans"</div>
        <div class="quote-footer">
            <div class="quotee-name">Beverley Hall</div>
            <div class="quotee-job-title">Head of Surface Transport Communications</div>
        </div>
</div>

 <div class="on-this-page">
<div class="pullquote right">
                        <p>
                            We're keen to hear the views of passengers and local residents on our plans
                            
                        </p>
                    </div>
                
            
            
            <p>The route currently operates between Pollards Hill and Streatham Hill.&nbsp; </p>
<p>The extension would provide a bus service to the Hyde Farm, Weir and Molly Huggins estates and would provide residents with bus links to Balham High Street, Balham, Streatham Station, Streatham Hill Station and Pollards Hill.&nbsp; </p>
<p>A public exhibition outlining the extension and the proposed changes to road layouts and parking will be held at the Weir Centre on Saturday 6 June from 11:00 to 13:00, and on Thursday 11 June from 17:00 to 19:30.&nbsp; </p>
<p>TfL and Lambeth Council officials will be available to discuss the plans and answer questions relating to the route extension. </p>
<h2>New links</h2>
<p>Beverley Hall, Head of Surface Transport Communications, said: 'The proposed extension of route 255 responds to longstanding local requests and would provide new links for many residential estates, providing them with a bus service for the first time. </p>
<p>'We've been working with Lambeth and Wandsworth borough councils in developing these proposals, and now we're keen to hear the views of passengers and local residents on our plans.'</p>
<p>Single deck buses would run every 10-12 minutes on Mondays to Saturdays, and every 20 minutes in the evenings and on Sundays.&nbsp;</p>
<p>The service would operate between around 06:00 and 01:00. </p>
<h2>Consultation</h2>
<p>The consultation will run from Tuesday 26 May 2009 until Friday 17 July 2009.</p>
<p>Those who wish to respond to the consultation can do so via the <a href="/corporate/projectsandschemes/2033.aspx">TfL website</a>&nbsp;or by contacting London Buses Customer Services on 0845 300 7000.</p>
<p>
<hr>

<p>
<p><strong>Notes to editors:</strong></p>
<ul>
<li>The Weir Centre is located at 33 Weir Road, SW12 0NU </li>
<li>London Buses Customer Services can be contacted by:<br>a.&nbsp;Telephone on 0845 300 7000 <br>b.&nbsp;Email at <a href="mailto:customerservices&#64;tfl-buses.co.uk">customerservices&#64;tfl-buses.co.uk</a> <br>c.&nbsp;Post at London Buses Customer Services, 4th floor, Palestra, 197 Blackfriars Road, London SE1 8NJ<br></li></ul>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "The route currently operates between Pollards Hill and Streatham Hill.&nbsp; The extension would provide a bus service to the Hyde Farm, Weir and Molly Huggins estates and would provide residents with bus links to Balham High Street, Balham, Streatham";}
        
        


 