


@{ViewBag.Title = "Jubilee line celebrates its 30th birthday ";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>Jubilee line celebrates its 30th birthday </h1>
        <div class="content-page-press-release">
        01 May 2009
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        Today is the 30th birthday of the Jubilee line, which opened for passenger service on 1 May 1979.
        
    </div>



<div class="pull-quote">
        <div class="quote-body">"When the upgrade is finished we will be able to run more trains and carry more people"</div>
        <div class="quote-footer">
            <div class="quotee-name">Dominic Paul</div>
            <div class="quotee-job-title">General Manager for the Jubilee line</div>
        </div>
</div>

 <div class="on-this-page">
<div class="pullquote right">
                        <p>
                            When the upgrade is finished we will be able to run more trains and carry more people
                            
                        </p>
                    </div>
                
            
            
            <p>That was the year when the first Walkman appeared; Abba, Rod Stewart and Blondie topped the charts and Star Trek and Moonraker were hits at cinemas in London.</p>
<p>Around 38 million people used the line in its first year but today the Tube's youngest line carries 186 million customers a year. </p>
<p>The combined distance travelled by passengers that have used the line is over eight billion kilometres - the same distance as going to the planet Neptune and back again.</p>
<h2>Charity fundraising days</h2>
<p>To celebrate the 30th anniversary of the Jubilee line - and the&nbsp;10 years since the extension between Westminster and Stratford opened - London Underground station staff have chosen to hold a series of charity fundraising days. </p>
<p>Stations on the Wembley Park part of the line will kick off the first fundraising day on 12 May with a charity event to support local charity St. Luke's hospice.</p>
<p>Work to upgrade the Jubilee line is also underway with all 370 Jubilee line train drivers now trained and ready to operate new equipment that will increase the number of services available for passengers using the line.</p>
<h2>Additional capacity</h2>
<p>The upgrade is being carried out by Tube Lines and is due to be completed by the end of 2009. </p>
<p>It will result in an additional capacity of 33 per cent or around 10,000 passenger journeys an hour in the peak hours.</p>
<p>The Mayor of London, Boris Johnson, said: 'The Jubilee Line and everyone connected to it over the last&nbsp;30 years deserve plaudits for the huge amount of work they have put in to getting Londoners around our city as quickly and as safely as possible.</p>
<p>'However it is paramount that during its anniversary year the line receives the massive upgrade that is underway.</p>
<p>'I appreciate the patience regular passengers have shown as this huge investment takes place. </p>
<h2>Even better services</h2>
<p>'They should be assured that by the end of the year the Jubilee Line will be in a position to offer even better services.'</p>
<p>Dominic Paul, General Manager for the Jubilee line, said: 'I'm really pleased Jubilee line staff have chosen to mark these anniversaries with fundraising days for local charities.</p>
<p>'It is a fantastic opportunity to highlight a special birthday and also give something back to local people. </p>
<p>'More and more passengers are using the Tube everyday and this is why the upgrade of our line is so vital. </p>
<p>'When the upgrade is finished we will be able to run more trains and carry more people.'</p>
<p>
<hr>

<p>
<p><strong>Notes to editors:</strong></p>
<ul>
<li>The Jubilee line covers 36.2km (22.5 miles) and serves 27 stations between Stanmore and Stratford. Of this, the extended part of the line (from Westminster to Stratford) is 16km (10 miles) with 12.4 km (7.7 miles) in tunnel and 3.5 km (2.3 miles) on the surface </li>
<li>Tube Lines is responsible for the maintenance and renewal of the Jubilee, Northern and Piccadilly lines </li>
<li>London Underground is undertaking a major programme of renewal as part of Transport for London's multi-billion Investment Programme.&nbsp; This will inevitably result in some disruption for passengers, but TfL is working hard to provide information and alternative travel options.&nbsp; The work is critical to provide for London's growing transport needs now, and into the future.&nbsp; TfL is urging all Londoners and Tube, London Overground and DLR passengers to 'check before you travel' at weekends, allowing extra journey time where necessary. Weekend travel news is available at <a href="http://www.tfl.gov.uk/">http://www.tfl.gov.uk/</a> </li>
<li>Local station groups will be fundraising for local charities on the following days: <br>12/05/09: Wembley Park group (Stanmore, Canons Park, Kingsbury, Wembley Park and Neasden)&nbsp; <br>14/05/09: Stratford group (Canning Town, North Greenwich, Stratford, West Ham stations)&nbsp; <br>17/09/09: Canary Wharf group (Canada Water and Canary Wharf stations)<br>07/10/09: London Bridge group (Southwark, London Bridge and Bermondsey stations)&nbsp;&nbsp; <br>24/11/09: Willesden Green group (Dollis Hill, Willesden Green, Kilburn, West Hampstead, Finchley Road, Swiss Cottage, St. John's Wood)&nbsp;&nbsp; <br>21/12/09: Waterloo group (Westminster and Waterloo)<br></li></ul>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "That was the year when the first Walkman appeared; Abba, Rod Stewart and Blondie topped the charts and Star Trek and Moonraker were hits at cinemas in London.Around 38 million people used the line in its first year but today the Tube's youngest line";}
        
        


 