


@{ViewBag.Title = "Mayor challenges London to get cycling";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>Mayor challenges London to get cycling</h1>
        <div class="content-page-press-release">
        28 May 2009
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        Call to secondary schools and workplaces to take part in the London Cycle Challenge.
        
    </div>



<div class="pull-quote">
        <div class="quote-body">"London is a wonderful city to cycle in, and summer is the perfect time to start cycling, or to cycle more often."</div>
        <div class="quote-footer">
            <div class="quotee-name">Boris Johnson</div>
            <div class="quotee-job-title">Mayor of London</div>
        </div>
</div>

 <div class="on-this-page">
<div class="pullquote right">
                        <p>
                            London is a wonderful city to cycle in, and summer is the perfect time to start cycling, or to cycle more often.
                            
                        </p>
                    </div>
                
            
            
            <p>The Mayor of London, Boris Johnson, and Transport for London (TfL) are encouraging schools and workplaces throughout the Capital to get their staff and students cycling by signing up to the London Cycle Challenge this June.</p>
<p>The free-to-enter challenge, part of the Mayor's Summer of Cycling, runs throughout June for workplaces and from 15-26 June for secondary schools, with organisations and schools competing against each other to see who can get the most people doing their daily commute by bike.</p>
<p>One of London's best known cyclists, Boris Johnson, Mayor of London, said: 'London is a wonderful city to cycle in, and summer is the perfect time to start cycling, or to cycle more often.&nbsp; </p>
<h2>Encouraging cycling</h2>
<p>'The London Cycle Challenge is a fun way for Londoners to try what is one of the greenest, handiest, and most enjoyable ways of getting about.</p>
<p>'The Greater London Authority is taking part, and I hope that many more organisations and schools will join us.'</p>
<p><strong>London Workplace cycle challenge</strong><br>The London Workplace Cycle Challenge is a fun, free competition to see which London based organisations can get the most employees cycling in June.</p>
<p>It runs from 1-30 June and challenges organisations of similar sizes to compete against each other to see which can get the most people cycling to work, which can get staff cycling the most miles, and which can get the most new cyclists commuting to work.</p>
<p><strong>London Secondary School cycle challenge</strong><br>The Schools Cycle Challenge is for secondary school students aged 11-14, their parents and school staff, and is aimed at encouraging different schools, and different year groups within the same school, to compete against each other. </p>
<p>In addition, they will be able to see how they are doing against other schools in their borough. The challenge period will run for two school weeks, from 15-26 June.</p>
<p>Ben Plowden, Director of TfL's Smarter Travel Unit, said: 'Cycling is enjoying a real renaissance in London, but many people aren't sure how to go about getting started.</p>
<p>'The London Cycle Challenge is a great way to introduce people to commuting by bike, with school friends and workmates supporting - and competing against&nbsp;- each other on their daily, pedal-powered commutes.</p>
<p>'Help is on hand for people who aren't already cycling to school and work. Free TfL-funded cycle training, available through London's borough councils, teaches people how to cycle safely and confidently in the Capital, while our free cycle maps help you plan the best route into work or school.' </p>
<p>
<hr>

<p>
<p><strong>Notes to editors</strong></p>
<ul>
<li>The London Workplace Cycle Challenge has three categories of awards: 
<ul type="circle">
<li>Best performing small sized organisation (six to 19 employees), best performing enterprise sized organisation (20-250 employees), best performing Corporate sized organisation (251-1,000 employees), and best performing Large Corporate sized organisation (1,001+ Employees). Best performing categories are measured as percentages of the employees in the workplace who are participating: if a workplace has 100 employees and 10 have registered and logged at least one trip during the month long challenge, they will have a participation level of 10 per cent. The higher the participation level, the better the performance </li>
<li>Most new cyclists in an organisation award </li>
<li>Most miles cycled by an organisation award </li>
<li>Read more about <a href="http://www.tfl.gov.uk/cyclechallenge">the challenge</a>, the prizes and registration</li></ul></li>
<li>The Schools Cycle Challenge has seven awards on offer: 
<ul type="circle">
<li>School with most participants </li>
<li>School that cycles the most miles </li>
<li>School with the most new cyclists </li>
<li>Most participants in a Yr 7 team </li>
<li>Most participants in a Yr 8 team </li>
<li>Most participants in a Yr 9 team </li>
<li>Most participants in a Staff/Parent team </li>
<li>Read more about <a href="http://www.tfl.gov.uk/schoolscyclechallenge">the challenge</a></li></ul></li>
<li>The Mayor and TfL are investing a record &pound;111m in cycling in London this year. The money is being spent on introducing the London Cycle Hire scheme, improving parking and road conditions for cyclists, education, training and promotion </li>
<li>Cycle journeys on London's major roads have increased by 107 per cent since TfL was created in 2000, with an estimated 545,000 cycle journeys being made everyday across London </li>
<li>The Mayor and TfL want to increase cycling by 400 per cent by 2025 (compared to 2000) </li>
<li>The number of cyclists killed or seriously injured on London's roads has fallen by 21 per cent compared with the Government's baseline figures from the mid to late 1990s </li>
<li>The London Cycle Hire scheme will launch in the Capital in May 2010. People will be able to pick up and drop off hire bikes at 400 locations across the nine London boroughs and several Royal Parks that make up London's zone one travel area. An initial 6,000 hire bikes are expected to generate around 40,000 extra daily cycle trips in central London </li>
<li>For more information about cycling in London, including cycle training and ordering your free cycle maps, go to <a href="http://www.tfl.gov.uk/cycling">www.tfl.gov.uk/cycling</a> </li></ul>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "The Mayor of London, Boris Johnson, and Transport for London (TfL) are encouraging schools and workplaces throughout the Capital to get their staff and students cycling by signing up to the London Cycle Challenge this June.The free-to-enter challenge,";}
        
        


 