


@{ViewBag.Title = "Mayor kick-starts London's cycling revolution with a packed summer of events";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>Mayor kick-starts London's cycling revolution with a packed summer of events</h1>
        <div class="content-page-press-release">
        26 May 2009
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        This press release was originally issued by the Mayor's press office at the Greater London Authority.
        
    </div>



<div class="pull-quote">
        <div class="quote-body">"Cycling is on the up in London, but there is still much to do if we want to really revolutionise the way that Londoners get about"</div>
        <div class="quote-footer">
            <div class="quotee-name">Boris Johnson</div>
            <div class="quotee-job-title">Mayor of London</div>
        </div>
</div>

 <div class="on-this-page">
<div class="pullquote right">
                        <p>
                            Cycling is on the up in London, but there is still much to do if we want to really revolutionise the way that Londoners get about
                            
                        </p>
                    </div>
                
            
            
            <p>Mayor of London, Boris Johnson, today set out plans for an action-packed summer of cycling, designed to boost the numbers of people travelling by bike and pave the way for London's cycling revolution.</p> <p>At the launch in Trafalgar Square the Mayor was joined by Olympic Gold medallist and keen London cyclist James Cracknell, and children from local schools as part of a drive to encourage kids and families to get pedalling.</p> <p>The popular Freewheel event, which attracted 50,000 people last year to cycle past London's iconic sites along a car-free route, will be made bigger and better, with an additional event bringing the concept to outer London, this year to the borough of Hounslow. </p> <h2>Cycle challenges</h2> <p>The Tour of Britain cycling race is returning to London, and Londoners of all ages are being challenged by the Mayor to get pedalling through a series of London 'cycle challenges', where workplaces and schools can compete based on the number of miles clocked up and the number of people they get cycling.</p> <p>New figures released today show a bicycle boom is underway with an estimated 545,000 daily bicycle journeys now made in London, up nine per cent in the year since the Mayor was elected. Speaking at the launch, the Mayor said he was determined to reach beyond dedicated commuter cyclists and encourage more Londoners to join in.</p> <p>A record &pound;111m investment in cycling is being made this year, which includes funding for new Cycle Hire and Cycle Highways schemes and safety training across London. </p> <p>The Mayor also unveiled a major new marketing campaign 'Catch up with the bicycle', which shows the freedom of cycling and how, as in other European countries, cycling can be a stylish and desirable way to travel.&nbsp; </p> <h2>Biking events</h2> <p>The message is that we can all cycle, at our own pace and in our own style.</p> <p>The Mayor said: 'Cycling is on the up in London, but there is still much to do if we want to really revolutionise the way that Londoners get about. </p> <p>'That's why we are making record investments in cycling, developing the cycle highways and cycle hire schemes, and are unveiling a summer schedule stuffed full of biking events, competitions, and campaigns designed to boost cycling across London's boroughs.</p> <p>'Through this, Londoners of all ages and abilities can take part and experience the joys of travelling in one of the most handy, healthy, and environmentall friendly ways possible, and we can achieve our aim of making London a city where two wheeled, pedal-powered transportation is the norm, and not the exception.' </p> <h2>Parking spaces</h2> <p>The Mayor's efforts to make cycling more convenient include a commitment to provide 66,000 new cycle parking spaces across the capital.&nbsp; </p> <p>Right now 138 new cycle parking spaces are being unveiled at Euston station, with more set to open at Liverpool Street shortly.</p> <p>Behind the scenes, work continues on delivering the central London cycle hire scheme, and 12 cycle highways - giving cyclists safe and convenient routes into town - by 2012, with exciting news expected on both projects over the summer.</p> <p>Dates for Londoner's to add to their diaries this summer include:</p> <ul> <li>1 - 30 June:&nbsp;The London Workplace Cycle Challenge - get your place of work to compete with other organisations across London to see who can get the most people cycling during June  </li><li>15 - 30 June: Secondary School London Cycle Challenge - students aged 11-14 will compete against other schools to see who can get the most people cycling, and will also compete against other year groups within their own school  </li><li>Sunday 9 August: Freewheel-style event in Hounslow, with cyclists invited to join a fun cycle around some of the boroughs wonderful green spaces  </li><li>Saturday 19 September: Tour of Britain cycle race final - watch the country's biggest professional cycling event and Britain's biggest live sporting event played out on the streets of London  </li><li>Sunday 20 September: the hugely popular Freewheel will be built upon this year, with a bigger better event taking in St Paul's and the City area and more of London's iconic sights<br>&nbsp;</li></ul> <p>Kulveer Ranger, the Mayor's Director of Transport Policy, said: The Mayor's cycling revolution aims to enable millions of Londoners to get on a bike and feel that same mixture of freedom, confidence, and excitement that many of us experienced when we first learned to ride as children.'</p> <p>David Brown, Transport for London's (TfL's) Managing Director of Surface Transport, said: 'With all the fantastic cycling events taking place in the Capital, there's never been a better summer to start cycling in London. </p> <p>'Whether it's commuting to work or school as part of TfL's June London Cycle Challenge, trying out leisure cycling at one of the Freewheel events, or exploring your local traffic free 'greenway' cycle routes, cycling is something that's open to everyone to enjoy.</p> <p>'Help is on hand for anyone starting out. Londoners of all ages can get access to free, TfL-funded cycle safety training through their local council, and can order free cycle maps from TfL to help them plan their journeys. </p> <p>'There is a whole network of quiet and traffic-free cycle routes that make cycling in the Capital a pleasure, as well as a quick and convenient way to travel.'</p> <p> <hr>  <p> <p><strong>Notes to editors:</strong></p> <ul> <li>To find out more about cycling in London visit <a href="http://www.tfl.gov.uk/cycling">www.tfl.gov.uk/cycling</a>  </li><li>For more on the Mayor's plans to build on Freewheel visit <a href="http://www.london.gov.uk/freewheel">http://www.london.gov.uk/freewheel</a>  </li><li>The Mayor and TfL are investing a record &pound;111m in cycling this year. The money is being invested in the London Cycle Hire scheme, Cycle Highways, improving safety and on-road conditions for cyclists, cycle parking facilities, education, adult and child cycle training, and cycling events  </li><li>Cycle journeys on London's roads are now up by 107 per cent since TfL was created in 2000, with an estimated 545,000 daily cycle journeys made in the Capital  </li><li>Cycle Challenge is an online cycling promotion where workplaces compete to see who can get the most people cycling during June  </li><li>The London Workplace Cycle Challenge requires organisations to register online at tfl.gov.uk/cyclechallenge. Employees can then visit the website, find their organisation and register to join their organisation's team  </li><li>Registration opens at the beginning of May and stays open until the end of the challenge. The challenge is live for the month of June (1-30)  </li><li>During June, participants return to the website to log the trips they make by bike. A mile counter clocks up the total miles that challenge participants have logged to date and leader boards show how organisations are faring against each other to stimulate competition  </li><li>Schools cycle challenge: New for 2009 is the secondary schools cycle challenge. Taking the format of the workplace challenge and applying it to KS3 age pupils (11-14), the challenge will run for a two week period, June 15-26  </li><li>The schools challenge will have its own web page and schools across London will compete to see who can get the most pupils and staff cycling. Year groups will form teams within the schools and will compete against each other. Registration will open in mid-May  </li><li>TfL is funding &pound;3m in cycle training for Londoners this year, through London's borough councils. The TfL-funded training sessions are individually tailored to each person's needs and teach them to deal with a wide range of traffic conditions. For information on cycle training provision, see - <a href="http://www.tfl.gov.uk/cycletraining">http://www.tfl.gov.uk/cycletraining</a>  </li><li>TfL has a series of 14 free cycle maps, available to order from the TfL website - <a href="http://www.tfl.gov.uk/cycling">www.tfl.gov.uk/cycling</a> or by calling TfL's 24-hour travel information service on 020 7222 1234  </li><li>The Mayor thanks Raleigh for the provision of bicycles for the launch event</li></ul>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "Mayor of London, Boris Johnson, today set out plans for an action-packed summer of cycling, designed to boost the numbers of people travelling by bike and pave the way for London's cycling revolution. At the launch in Trafalgar Square the Mayor was joined";}
        
        


 