


@{ViewBag.Title = "More frequent buses for route 83";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>More frequent buses for route 83</h1>
        <div class="content-page-press-release">
        28 May 2009
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        London Buses will increase the frequency of bus services on route 83 from Saturday 30 May 2009.
        
    </div>



<div class="pull-quote">
        <div class="quote-body">"We keep the bus network under regular review to ensure it provides the best possible service for our passengers"</div>
        <div class="quote-footer">
            <div class="quotee-name">Bob Blitz</div>
            <div class="quotee-job-title">London Buses Network Planning Manager</div>
        </div>
</div>

 <div class="on-this-page">
<div class="pullquote right">
                        <p>
                            We keep the bus network under regular review to ensure it provides the best possible service for our passengers
                            
                        </p>
                    </div>
                
            
            
            <p>The route, which runs between Ealing Hospital and Golders Green, will be served by a bus every 12 minutes on weekday evenings and every 10 minutes on Sundays.&nbsp; </p>
<p>The new schedule will provide more frequent links between Ealing, Alperton, Kingsbury, Wembley and Hendon.</p>
<p>Bob Blitz, London Buses Network Planning Manager, said: 'The increase in frequency of buses on route 83 on weekday evenings and on Sundays will improve the service for bus passengers in north London, especially those wishing to get to the Sunday markets in Wembley and Ealing Road.</p>
<p>'We keep the bus network under regular review to ensure it provides the best possible service for our passengers.'</p>
<p>
<hr>
</p>
<p><strong>Notes to editors:</strong></p>
<ul>
<li>Route 83 is currently served by a bus every 15 minutes on weekday evenings and every 12 minutes on Sundays</li>
<li>Daytime and Saturday frequencies remain at a bus every eight minutes<br></li></ul>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "The route, which runs between Ealing Hospital and Golders Green, will be served by a bus every 12 minutes on weekday evenings and every 10 minutes on Sundays.&nbsp; The new schedule will provide more frequent links between Ealing, Alperton, Kingsbury,";}
        
        


 