


@{ViewBag.Title = "New Sunday service for route 463";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>New Sunday service for route 463</h1>
        <div class="content-page-press-release">
        20 May 2009
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        Transport for London (TfL) has announced that from Sunday 24 May 2009, a new Sunday service will be introduced on route 463, benefitting bus users in Croydon, Merton and Sutton.
        
    </div>



<div class="pull-quote">
        <div class="quote-body">"It will provide many people with brand new Sunday bus links"</div>
        <div class="quote-footer">
            <div class="quotee-name">John Barry</div>
            <div class="quotee-job-title">Head of Network Development for London Buses</div>
        </div>
</div>

 <div class="on-this-page">
<div class="pullquote right">
                        <p>
                            It will provide many people with brand new Sunday bus links
                            
                        </p>
                    </div>
                
            
            
            <p>The route runs between Eastfields and Coulsdon, serving Clockhouse Farm estate and Beddington.&nbsp; </p>
<p>The Sunday service will operate every 30 minutes.</p>
<p>John Barry, Head of Network Development for London Buses, said:&nbsp;'The introduction of a Sunday service on route 463 is something we know our passengers want.&nbsp; </p>
<p>'It will provide many people with brand new Sunday bus links.'</p>
<p>Further plans for the route, to be introduced later this year once traffic management works are complete, will see it serve Pollards Hill and Coulsdon South Station.</p>
<p>
<hr>
</p>
<p><strong>Notes to editors:</strong></p>
<ul>
<li>Route 463 currently runs Monday to Saturday, every 20 minutes during the day and every 30 minutes in the evening</li>
<li>Traffic management works are being carried out by Merton Council for the extension to Pollards Hill, and by Croydon Council for the extension to Coulsdon South Station</li></ul>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "The route runs between Eastfields and Coulsdon, serving Clockhouse Farm estate and Beddington.&nbsp; The Sunday service will operate every 30 minutes.John Barry, Head of Network Development for London Buses, said:&nbsp;'The introduction of a Sunday";}
        
        


 