


@{ViewBag.Title = "Next stage of Tottenham Court Road Tube station redevelopment to get underway shortly";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>Next stage of Tottenham Court Road Tube station redevelopment to get underway shortly</h1>
        <div class="content-page-press-release">
        01 May 2009
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        Arrival of 40 metre-high crane to assist with works along with utility diversions over the weekend of 15-18 May 2009.
        
    </div>



 <div class="on-this-page">
<p>With the next phase of redevelopment works at Tottenham Court Road Tube station about to begin, Transport for London (TfL) is preparing to install a 40 metre-high crane to assist with the works in the Charing Cross Road area.</p>
<p>In order for these works to be carried out, a section of Charing Cross Road will be closed from 23:00 on Friday 15 May until 05:00 on Monday 18 May 2009 to allow for the construction of the crane.</p>
<p>TfL is working closely with the London Borough of Camden and Westminster City Council to minimise disruption caused by these works, and other local major projects in the Tottenham Court Road area.</p>
<h2>Temporary diversions</h2>
<p>Over the weekend of 15 to 18 May, vehicles will be temporarily diverted via Andrew Borde Street keeping a route northbound to Tottenham Court Road, and pedestrian access will be via St Giles High Street/Denmark Street and Soho Street/Soho Square/Sutton Row. </p>
<p>Buses that would usually use the north end of Charing Cross Road will also be on diversion over that weekend. </p>

<p>The diversions should not increase journey times and all bus stops in the area will continue to be served.</p>
<p>Utility diversion works will also be taking place during that weekend on New Oxford Street, between St Giles Circus and St Giles High Street.</p>
<p>These works will require complete closure of eastbound traffic to be closed between Saturday 16 May and Monday 18 May 2009 until 05:00. </p>
<p>Buses that use eastbound New Oxford Street will be on diversion via Tottenham Court Road, Chenies Street and Gower Street. </p>
<h2>Allow extra time</h2>
<p>Passengers are advised to allow extra time to complete their journeys.</p>
<p>Tottenham Court Road Tube station will remain open throughout the works, though there will be a need to close the Oxford Street south side entrance between 09:00 and 16:00 on weekdays and until 13:00 on Saturdays. </p>
<p>This will begin in late May for up to 12 weeks, whilst the crane is working immediately above the station entrance.</p>
<p>Crossrail intends to open a visitor centre in the area this summer. </p>
<p>The centre will be a one-stop shop for information about the Crossrail project, both at Tottenham Court Road and along the whole route. </p>
<p>The centre will also have further information about London Underground works to redevelop Tottenham Court Road Tube station. 
<hr>

<p>
<p><strong>Notes to editors</strong></p>
<ul>
<li>Crossrail will run 118km from Maidenhead and Heathrow in the west, through new twin-bore 21km tunnels under central London to Shenfield and Abbey Wood in the east. It will bring an additional 1.5 million people within 60 minutes commuting distance of London's key business districts. When Crossrail opens in 2017 it will increase London's rail based public transport network capacity by 10 per cent, supporting regeneration across the Capital, helping to secure London's position as a world leading financial centre, and cutting journey times across the city </li>
<li>A total &pound;1bn investment is being made to upgrade Tottenham Court Road Tube station, build a new station for Crossrail and create a new piazza outside Centre Point. The transport improvements will also provide better facilities for pedestrians, cyclists, bus passengers and other road users </li>
<li>Improvements to the Tube station, which will be completed in 2016, will deliver: 
<ul type="circle">
<li>An enlarged Tube ticket hall nearly&nbsp;six times the current size </li>
<li>Step-free access from the street to all platforms and interchanges </li>
<li>New station entrances and additional access points to the Northern and Central line platforms to reduce congestion </li>
<li>Additional escalators serving the Northern line</li></ul></li>
<li>Future development of the site around Tottenham Court Road is a matter for the local planning authorities (London Borough of Camden, and for the Astoria site, Westminster City Council) and the site owner Derwent London. Westminster City Council has been consulting on a planning brief for the area which includes a replacement theatre </li>
<li>A shortlist of five companies have been invited to tender for the main construction contract for the Tottenham Court Road Underground station. These are:-&nbsp; 
<ul type="circle">
<li>Balfour Beatty </li>
<li>Morgan Est </li>
<li>Taylor Woodrow </li>
<li>A joint venture between Skanska &amp; Mace </li>
<li>A joint venture between Costain, Laing O'Rourke &amp; Bachy </li></ul></li></ul>
<p>Tenders are due to be returned by the end of June, with a contract looking to be awarded in November 2009. A separate contract will be let by Crossrail in due course for the construction of the new Crossrail station at Tottenham Court Road which will connect to the Tube station to form one overall station.<br></p>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "With the next phase of redevelopment works at Tottenham Court Road Tube station about to begin, Transport for London (TfL) is preparing to install a 40 metre-high crane to assist with the works in the Charing Cross Road area.In order for these works to be";}
        
        


 