


@{ViewBag.Title = "Numbers killed and seriously injured on London's roads fall for second year running";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>Numbers killed and seriously injured on London's roads fall for second year running</h1>
        <div class="content-page-press-release">
        22 May 2009
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        Death and serious injury reduced by 3,000 during past decade.
        
    </div>



<div class="pull-quote">
        <div class="quote-body">"We will continue to invest in both innovative and proven ways of improving road safety"</div>
        <div class="quote-footer">
            <div class="quotee-name">Chris Lines</div>
            <div class="quotee-job-title">TfL's Head of London Road Safety Unit</div>
        </div>
</div>

 <div class="on-this-page">
<div class="pullquote right">
                        <p>
                            We will continue to invest in both innovative and proven ways of improving road safety 
                            
                        </p>
                    </div>
                
            
            
            <p>The number of people killed and seriously injured (KSI) on London's roads fell by seven per cent in 2008, according to Transport for London's (TfL) annual road casualty statistics.&nbsp; </p>
<p>This means 258 fewer people were killed or seriously injured than in 2007.</p>
<h2>Exceding targets</h2>
<p>Latest figures show a reduction in fatalities and serious injuries for almost all road users in 2008:</p>
<ul>
<li>Overall number of KSIs down by seven per cent (3,784 to 3,526) compared with 2007, 47 per cent overall compared with the Government baseline from 1994-1998 (6,684 to 3,526) </li>
<li>Pedestrian KSIs down seven per cent year on year (1,292 to 1,208), 43 per cent overall (2,136 to 1,208) </li>
<li>Powered two wheeler (motorcycle) KSIs down 10 per cent year on year (819 to 738), 21 per cent overall (933 to 738) </li>
<li>Car occupant KSIs down eight per cent year on year (952 to 880), 66 per cent overall (2,569 to 880) </li>
<li>Pedal cyclist KSIs went down by three per cent (461 to 445) and are 21 per cent down overall (567 to 445) </li>
<li>All child KSIs fell by six per cent (331 to 310) and are 67 per cent lower overall (935 to 310)</li></ul>
<p>These figures show that London has already exceeded the Government's 2010 casualty reduction targets and is working towards achieving higher, London specific, targets set by TfL in 2006. </p>
<h2>Education and training</h2>
<p>A further &pound;45m will be spent on road safety schemes in 2009/10 including education training and research.</p>
<p>The Mayor of London, Boris Johnson, said: 'A great deal of hard work is put into making the Capital's roads safer and these latest figures provide a welcome indication that things are improving. </p>
<p>'I thank everyone who has played a part in that but I can assure Londoners that our road safety experts have lost none of their zeal to make our roads safer still. </p>
<p>'Our aim over the next twelve months will be yet further improvements and even less injuries.'</p>
<h2>Fewer injuries</h2>
<p>In the last year emphasis has been placed on cycle safety and raising awareness of cyclists among other road users. </p>
<p>'In particular, we are working hard to tackle the specific issue of collisions between cyclists and goods vehicles.</p>
<p>'Fifteen thousand special 'fresnal' lenses to improve the visibility of lorry drivers are being issued, and another 5,000 await distribution, and we are working with the Metropolitan Police to run cycle safety awareness days for Heavy Goods Vehical drivers and cyclists.'</p>
<p>TfL's Head of London Road Safety Unit, Chris Lines, said: 'There were 18 fewer lives lost on London's roads this year and 240 fewer serious injuries.&nbsp; </p>
<h2>Safety first</h2>
<p>'This is very good news, but road deaths and injuries are unnecessary and avoidable and devastate hundreds of families each year, so there is much more work to be done.</p>
<p>'The number of children killed or seriously injured on the Capital's roads has fallen from 331 in 2007 to 310 last year and we have reduced child KSI by a staggering 67 per cent over the last 10 years. </p>
<p>'TfL continues to run Children's Traffic Club schemes, Road Safety Theatres, and Junior Road Safety Officer events to promote road safety in schools.</p>
<p>'We will continue to invest in both innovative and proven ways of improving road safety through education and training to make London's roads even safer.'</p>
<p>
<hr>
<strong>Notes to editors: 
<p>
<ul>
<li></li></ul></strong>A copy of the report is available on our&nbsp;<a href="/corporate/projectsandschemes/roadsandpublicspaces/2840.aspx">road safety publications page</a>
<li>The Government announced in March 2000 a new national road safety strategy and casualty reduction targets for 2010 in Tomorrow's roads - safer for everyone. The casualty reduction targets are to be achieved by 2010.&nbsp;They are: 
<ul>
<li>All KSIs reduced by 40 </li>
<li>Pedestrian KSIs reduced by 40 per cent </li>
<li>Cyclist KSIs reduced by 40 per cent </li>
<li>Powered two wheeler KSIs reduced by 40 per cent </li>
<li>Child KSIs reduced by 50 per cent </li>
<li>All slight injuries reduced by 10 per cent</li></ul></li>
<li>In addition, a Road Safety Plan for London was produced by TfL in 2006, which supported the national targets and set further targets for reducing the numbers of pedestrians, pedal cyclists and powered two-wheeler riders KSIs by 2010 against the same baseline.&nbsp;They are: 
<ul>
<li>All KSIs reduced by 50 per cent </li>
<li>Pedestrian KSIs reduced by 50 per cent </li>
<li>Cyclist KSIs reduced by 50 per cent </li>
<li>P2W KSIs reduced by 40 per cent </li>
<li>Child KSIs reduced by 60 per cent </li>
<li>All slight injuries reduced by 25 per cent</li></ul></li>
<li>The latest figures show that: 
<ul>
<li>In 2008 the total number KSIs fell by seven per cent compared to the previous year and by 47 per cent compared to 1994-1998 (government baseline for measuring road casualty statistics), exceeding the government's target of a 40 per cent reduction by 2010 </li>
<li>Pedestrian KSIs were 43 per cent below the 1994&not;1998 average, after a seven per cent decrease in 2008 </li>
<li>Pedal cyclist KSIs were 21 per cent below the 1994&not;1998 average, following a three percent decrease in 2008 </li>
<li>P2W KSIs show a 21 per cent reduction compared with the 1994-98 average, after a 10 per cent fall in 2008 </li>
<li>All child KSIs were 67 per cent below the 1994&not;98 average, after a six per cent decrease in 2008 </li>
<li>Bus and coach occupant KSIs showed an increase of 13 per cent but an overall reduction of 41 per cent </li>
<li>Slight injuries show a 37per cent reduction compared with the 1994-98 average after remaining stable in 2008 </li>
<li>Compared with 2007, overall fatalities in 2008 decreased by eight per cent from 222 to 204 </li>
<li>Overall casualties of all severities were 38 per cent below the 1994&not;-1998 average, and one per cent down year on year</li></ul></li>
<li>TfL's 2009 Road Safety theatre production is touring 17 London boroughs between March and June to make young people more aware about road safety. Set up and funded by TfL, a production team from Immediate Theatre is visiting 170 London primary schools to put on a play with the children </li>
<li>In March TfL also launched a stark road safety campaign which urges teenagers 'Think! Look out for your mates'. The latest advertising campaign is aimed at encouraging road safety amongst the Capital's teenagers. The new 'Don't let your friendship die on the road' theme is based on the insight that friendship is one of the most important things in young people's lives. Stark posters show young actors who appear to be lying against a wall, however a second glance reveals them to be actually lying on the road as a result of a road collision. The message is a clear call to action, 'Think! Look out for your mates'<br></li>s

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "The number of people killed and seriously injured (KSI) on London's roads fell by seven per cent in 2008, according to Transport for London's (TfL) annual road casualty statistics.&nbsp; This means 258 fewer people were killed or seriously injured than in";}
        
        


 