


@{ViewBag.Title = "Pedestrians stay above ground as new crossings make it quicker and easier to get around Marble Arch";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>Pedestrians stay above ground as new crossings make it quicker and easier to get around Marble Arch</h1>
        <div class="content-page-press-release">
        22 May 2009
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        Subways replaced with street crossings to improve access from the busy West End to Marble Arch and the open spaces of Hyde Park.
        
    </div>



<div class="pull-quote">
        <div class="quote-body">"This scheme is a real demonstration of how to get more out of our network"</div>
        <div class="quote-footer">
            <div class="quotee-name">Peter Brown</div>
            <div class="quotee-job-title">Chief Operating Officer of TfL Streets</div>
        </div>
</div>

 <div class="on-this-page">
<div class="pullquote right">
                        <p>
                            This scheme is a real demonstration of how to get more out of our network
                            
                        </p>
                    </div>
                
            
            
            <p>Improvements to the Marble Arch gyratory, one of London's most famous landmarks, which are aimed at improving pedestrian access have been completed.</p> <p>Pedestrians and cyclists are now able to get around the busy Marble Arch gyratory quicker and more easily since the completion of Transport for London's (TfL's) Marble Arch Pedestrian Improvement Scheme. </p> <p>The scheme has included five new signalised pedestrian/cycle crossings, improved footway and carriageway surfacing and landscaping around this iconic London monument.</p> <h2>Pedestrian access</h2> <p>In addition to the new crossings, work also included the modernisation of the busy Oxford Street crossing, the removal of more than 300 metres of unsightly guardrail, improved access at Speakers Corner and a cycle link into Hyde Park to connect with the Broadwalk cycle route. </p> <p>The scheme demonstrates the Mayor's commitment to create better streets and further open up public spaces for all to enjoy. </p> <p>TfL carried out a study of pedestrian movement and accessibility around Marble Arch in 2003. </p> <p>The response was that the existing subway network, which had been in place since the 1960s, was confusing to navigate and did not allow people with mobility impairments access to the areas of green space on the central island where the Marble Arch stands. </p> <h2>Opening public spaces</h2> <p>This, and local concerns about antisocial behaviour in the subways, led to a plan that included the introduction of pedestrian crossings on all arms of the gyratory except the Park Lane southbound arm. </p> <p>All but two subways have been closed to the public - those which remain open are specifically to access Marble Arch Underground station.</p> <p>Recent surveys have confirmed that the new facilities are much preferred.&nbsp; </p> <p>During a five day period when both the subways and newly commissioned pedestrian crossings were accessible, it was found that more than 190,000 people used the new crossings and there was an 85 per cent reduction in subway use.</p> <h2>New cycle crossings</h2> <p>Peter Brown, Chief Operating Officer of&nbsp;TfL Streets, said 'This scheme is a real demonstration of how to get more out of our network for pedestrians and cyclists without a negative impact on traffic. </p> <p>'It has provided far more balance between the needs of all road users at this busy gateway to the West End and improved access to one of London's most iconic landmarks. </p> <p>'It is a clear demonstration of the Mayor's aspiration to improve both transport facilities and the urban environment for all.'</p> <p> <hr> <strong>Notes to editors: <p> <ul> <li></li></ul></strong>Photos are available of Peter Brown, Chief Operating Officer of TfL Streets, and Martin Lowe, Westminster City Council's Director of Transportation, officially opening and using the new pedestrian crossings at Marble Arch  <li>TfL&nbsp;consulted with Westminster City Council, English Heritage, Royal Parks and New West End Company on developing this scheme. The contractors responsible for the construction work were Ringway Jacobs  </li><li>The total cost of the scheme, which began in October 2007, was &pound;2.5m </li><li>The new pedestrian crossings were commissioned in October 2008 and the resurfacing and landscaping elements of the scheme were complete in May 2009  </li><li>The scheme comprised:  <ul> <li>Five new signal controlled pedestrian/cycle crossings  </li><li>Modernisation of the Oxford Street crossing  </li><li>Removal of 315 metres of guardrail  </li><li>4790m2 of ASP for footway resurfacing on the Transport for London Road Network and 1474m2 of Yorkstone paving for construction of the new footpaths on the central island  </li><li>13,893m2 of carriageway resurfacing  </li><li>8.179m2 of high friction anti-skid surfacing  </li><li>Closure of three major subways, using 1,831m3 of foam concrete in the barrels and 1109m3 of compacted Type 1  </li><li>1,660m of ducting</li></ul>
            

            
            

        </li>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "Improvements to the Marble Arch gyratory, one of London's most famous landmarks, which are aimed at improving pedestrian access have been completed. Pedestrians and cyclists are now able to get around the busy Marble Arch gyratory quicker and more easily";}
        
        


 