


@{ViewBag.Title = "Public Carriage Office revokes three private hire licences";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>Public Carriage Office revokes three private hire licences</h1>
        <div class="content-page-press-release">
        05 May 2009
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        Month long operation outside West End nightclubs cracks down on illegal taxi touts.
        
    </div>



<div class="pull-quote">
        <div class="quote-body">"Touts are not insured, are not regulated and they are not a safe way to get home"</div>
        <div class="quote-footer">
            <div class="quotee-name">Ed Thompson</div>
            <div class="quotee-job-title">Director of Taxi and Private Hire at the PCO</div>
        </div>
</div>

 <div class="on-this-page">
<div class="pullquote right">
                        <p>
                            Touts are not insured, are not regulated and they are not a safe way to get home
                            
                        </p>
                    </div>
                
            
            
            <p>Transport for London (TfL), the Metropolitan Police (Met)&nbsp;and Westminster City Council (WCC) have joined forces to tackle West End taxi touts in nine high visibility operations around Charing Cross Road in the past month. </p>
<p>The PCO delivered three notices of licence revocation on Thursday 30 April.</p>
<h2>Vehicle inspections</h2>
<p>Operations took place between&nbsp;23:00 and 04:00, between 26 March and 25 April, during which 250 vehicles were inspected, more than 200 drivers spoken to and six arrests were made for touting. </p>
<p>Nine Penalty Charge Notices were also issued for illegal parking.</p>
<p>The operation involved eight officers from TfL's PCO, five civil enforcement officers from WCC and five Met Transport Operational Command Unit (TOCU) officers.</p>
<p>Last year the Mayor announced funding to double the number of cab enforcement officers in London, which continues to do an excellent job of high visibility and undercover policing which has resulted in 750 taxi touting arrests over the past year.</p>
<p>The Mayor of London, Boris Johnson, said: 'My determination remains to rid the Capital's streets of the menace of illegal cabs and this is another example of that commitment. </p>
<p>'The success of these operations sends a clear message to the touts who circle London's streets that their activities will not be tolerated and they will be caught.'</p>
<h2>Touts being tackled</h2>
<p>Ed Thompson, Director of Taxi and Private Hire at the PCO, said: 'This has been a very successful operation and black cab drivers and licensed minicab drivers who are working within the law are as glad as we are to see the touts being tackled head on like this. </p>
<p>'Private hire operators working from inside nightclubs cannot tout for trade on the street outside their premises and if we catch them doing this we will revoke their licence.</p>
<p>'Touts are not insured, are not regulated and they are not a safe way to get home.'</p>
<p>Martin Low, Director of Transportation at WCC, said: 'We are waging war on touts with TfL and the Met and we will not tolerate them or minicabs who flout the law. </p>
<p>'Getting people home safely at the end of a night out in the West End is important and both black cabs and quality private hire cars have a significant role to play. '</p>
<h2>Committed to driving down crime</h2>
<p>Joe Royle, Chief Superintendent of TOCU, Met, said: 'We are working together to keep London moving safely and are committed to driving down crime and the fear of crime. </p>
<p>'Illegal minicabs and touting undermines the legitimate cab trade and raises the fear of crime. </p>
<p>'The TOCU regularly targets policing activity on unlicensed and uninsured private hire vehicles and carries out major operations targeting offenders who pose as cab or private hire drivers. </p>
<p>'The safety of the public is paramount and I would advise everyone not to get into any vehicle that they have not booked and to always book a cab through a reputable PCO licensed company.'</p>
<p>Private hire minicabs must be pre-booked either over the phone or in the premises of a licensed minicab operator. No licensed private hire operator is permitted to ply for trade on the street. 
<hr>

<p>
<p><strong>Notes to editors:</strong></p>
<ul>
<li>Night operations took place in the Charing Cross Road area between&nbsp;23:00 and 04:00 on: 
<ul type="circle">
<li>Thursday 26 March - Saturday 28 March </li>
<li>Friday 3 April - Saturday 4 April </li>
<li>Friday 10 April</li>
<li>Friday 17 April - Saturday 18 April </li>
<li>Saturday 25 April</li></ul></li>
<li>A meeting between TfL, WCC, the Met's TOCU, licensed taxi trade associations and the Chairman of the private hire vehicle operators' association on Friday 1 May 2009 has reviewed the latest operation and began drawing up plans for the next crackdown </li>
<li>The PCO inspects each site before a licence as an operating centre is granted, to make sure that the premises and arrangements are suitable and that the operator is aware of their obligations regarding planning consent, employer's liability insurance, VAT registration etc. Bookings must be recorded on the premises licensed as an operating centre - not in the street - and staff and drivers must not tout their services in a public place </li>
<li>Allowing licensed minicab firms to operate from night-time venues is one of a number of measures to improve night-time travel options, and together these have led to a significant fall in the proportion of vulnerable late night travellers (particularly young women) using illegal cabs and putting themselves at risk </li>
<li>Since 2002 there has been an ongoing campaign to promote Safer Travel at Night. This is a partnership between the Mayor of London, TfL and the Met. They are working together to: 
<ul type="circle">
<li>Raise awareness of the dangers of using illegal cabs&nbsp; </li>
<li>Reduce the use of illegal cabs through police activity and targeting touting hotspots </li>
<li>Improve late night travel services and change public behaviour so that they don't use illegal cabs </li>
<li>Reduce the number of cab related sexual assaults </li></ul></li>
<li>The award-winning Safer Travel at Night campaign has been very successful to date, with cab-related sexual offences down 44 per cent since 2002 </li>
<li>Marshalled taxi ranks are being set up at busy night time locations: Cornhill is a new night-time rank 19:00 to 07:00 every day. It will be marshalled between 23:00 and 02:00 on Friday and Saturday night.&nbsp;The rank was put in place recently and the marshalling starts next Friday 8 May. The Cornhill marshalled rank is funded by the Corporation of London as part of the ongoing campaign to improve taxi supply in central London at night. It complements the existing marshalled taxi schemes at Cranbourn Street (funded by TfL PCO) and Liverpool Street (jointly funded by PCO and the Corporation)<br></li></ul>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "Transport for London (TfL), the Metropolitan Police (Met)&nbsp;and Westminster City Council (WCC) have joined forces to tackle West End taxi touts in nine high visibility operations around Charing Cross Road in the past month. The PCO delivered three";}
        
        


 