


@{ViewBag.Title = "RMT leadership threatens strike over wildly unrealistic pay claims and avoids reality over duplication of jobs";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>RMT leadership threatens strike over wildly unrealistic pay claims and avoids reality over duplication of jobs</h1>
        <div class="content-page-press-release">
        28 May 2009
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        Commenting on RMT leadership's proposed strike action announced today, London Underground (LU) Chief Operating Officer, Howard Collins, said:
        
    </div>



<div class="pull-quote">
        <div class="quote-body">"No responsible union should be asking hard-pressed farepayers and taxpayers to fund jobs that are no longer needed"</div>
        <div class="quote-footer">
            <div class="quotee-name">Howard Collins</div>
            <div class="quotee-job-title">London Underground's Chief Operating Officer</div>
        </div>
</div>

 <div class="on-this-page">
<div class="pullquote right">
                        <p>
                            No responsible union should be asking hard-pressed farepayers and taxpayers to fund jobs that are no longer needed
                            
                        </p>
                    </div>
                
            
            
            <p>'The RMT leadership has failed to engage in any meaningful talks on pay, instead submitting a wildly unrealistic claim&nbsp;- demanding a five per cent pay rise for fewer hours in the middle of a recession.&nbsp;</p>
<p>'On jobs, the RMT leadership knows full well we are seeking to end the duplication of back office jobs and that no front line staff will be affected. </p>
<p>'No responsible union should be asking hard-pressed farepayers and taxpayers to fund jobs that are no longer needed and vastly inflated pay demands.&nbsp;&nbsp;&nbsp;</p>
<h2>Every effort&nbsp;</h2>
<p>'Our employees have good pay and conditions and we are seeking to negotiate a further fair and affordable pay agreement that provides them with long-term stability in an extremely tough economic climate.</p>
<p>'Our offer guarantees real wage increases for the next&nbsp;five years.&nbsp;Very few Londoners have that level of certainty for the future.<br>&nbsp;<br>'Bringing Metronet under the control of LU, which the unions have been calling for for years, has led to the duplication of many back office roles.</p>
<p>'We are making every effort to avoid compulsory redundancies by releasing temporary staff, removing vacancies, and offering voluntary severance for those who wish to take it. </p>
<h2>Start talking</h2>
<p>'This review does not impact on front-line staff working on trains, stations or maintenance and there will be no impact on Tube services. </p>
<p>'In fact, with all the investment now going into renewing and upgrading the Tube, we will be running more services in future, not less.&nbsp;&nbsp;<br>&nbsp;<br>'The RMT leadership should start talking to us rather than threaten strike action that will simply lose their members pay and cause unnecessary frustration and disruption to Londoners.'&nbsp;&nbsp;<br>&nbsp;<br>The RMT leadership has said that a pay increase of anything less than five per cent would be simply unacceptable.</p>
<h2>Affordable deal</h2>
<p>Among other things, the RMT has also demanded a reduction in working hours without loss of pay and improved travel facilities. </p>
<p>LU has offered staff a fair and affordable deal of a one per cent pay increase in year one of a new deal, with increases of RPI + 0.5 per cent in years two to five, offering stability for staff during a period of global uncertainty.</p>
<p><strong>Note to editors</strong>&nbsp;</p>
<p>The RMT has announced strike action to commence at 18.59 hours on Tuesday 9 June through to 18.58 hours on Thursday 11 June 2009.&nbsp; TfL has advised that it will do all it can to keep customers fully informed of the impact of this action but is advising customers to check <a href="http://www.tfl.gov.uk/tfl/livetravelnews/realtime/tube/default.html">Live Travel News</a> for updates before travelling, and to use <a href="http://www.tfl.gov.uk/journeyplanner">Journey Planner</a> to plan a possible alternative route.</p>
<p>&nbsp;</p>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "'The RMT leadership has failed to engage in any meaningful talks on pay, instead submitting a wildly unrealistic claim&nbsp;- demanding a five per cent pay rise for fewer hours in the middle of a recession.&nbsp;'On jobs, the RMT leadership knows full";}
        
        


 