


@{ViewBag.Title = "RMT plans to inflict disruption on passengers over false safety claims";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>RMT plans to inflict disruption on passengers over false safety claims</h1>
        <div class="content-page-press-release">
        20 May 2009
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        Union backing driver dismissed for not following safety procedures.
        
    </div>



<div class="pull-quote">
        <div class="quote-body">"The reason London Underground has an excellent safety record is because of our strict procedures"</div>
        <div class="quote-footer">
            <div class="quotee-name">Howard Collins</div>
            <div class="quotee-job-title">LU Chief Operating Officer</div>
        </div>
</div>

 <div class="on-this-page">
<div class="pullquote right">
                        <p>
                            The reason London Underground has an excellent safety record is because of our strict procedures
                            
                        </p>
                    </div>
                
            
            
            <p>The RMT's planned strike on the Victoria line, which could disrupt thousands of Londoners' journeys, is about the sacking of one driver not inflated safety claims Transport for London (TfL) said today.</p>
<p>A Victoria line driver was dismissed for failing to follow safety procedures - potentially putting passengers at risk.&nbsp; </p>
<p>The RMT is striking as London Underground (LU) has refused to reinstate the driver.</p>

<h2>Journey disruption</h2>
<p>LU Chief Operating Officer, Howard Collins, said: 'The RMT is seeking to force London Underground to reinstate a driver who put passenger safety at risk and then sought to cover up for his mistakes.&nbsp; </p>
<p>'The RMT is dressing this up as a issue about the safety of trains - it is not.&nbsp; </p>
<p>'Victoria line trains have been operating well and safely for 40 years, during which time the RMT have never raised this as an issue. </p>
<p>'The reason London Underground has an excellent safety record is because of our strict procedures.&nbsp; </p>

<h2>Passenger safety</h2>
<p>'It is London Underground, not the RMT, that is defending the safety of passengers and staff.'</p>
<p>Disruption due to strike action by the RMT is likely to affect services on Thursday, 21 May.&nbsp; </p>
<p>Services on Wednesday, 20 May are expected to be largely unaffected.</p>
<p>
<hr>
<strong>Notes to editors: 
<p>
<ul>
<li></li></ul></strong>Howard Collins is available for interview on request 
<li>The RMT has stated that its members will carry out strike action from 21:00 on Wednesday, 20 May to 20:59 on Thursday, 21 May, and again from 21:00 on Wednesday, 17 June to 20:59 on Thursday, 18 June<br></li>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "The RMT's planned strike on the Victoria line, which could disrupt thousands of Londoners' journeys, is about the sacking of one driver not inflated safety claims Transport for London (TfL) said today.A Victoria line driver was dismissed for failing to";}
        
        


 