


@{ViewBag.Title = "TfL launches search for new free morning newspaper ";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>TfL launches search for new free morning newspaper </h1>
        <div class="content-page-press-release">
        27 May 2009
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        Current Metro contract concludes in March 2010.
        
    </div>



<div class="pull-quote">
        <div class="quote-body">"The free morning newspaper is part of the fabric of city life and a success story for the publisher and our passengers alike"</div>
        <div class="quote-footer">
            <div class="quotee-name">Richard Parry</div>
            <div class="quotee-job-title">Interim Managing Director of London Underground</div>
        </div>
</div>

 <div class="on-this-page">
<div class="pullquote right">
                        <p>
                            The free morning newspaper is part of the fabric of city life and a success story for the publisher and our passengers alike
                            
                        </p>
                    </div>
                
            
            
            <p>Transport for London (TfL)&nbsp;has published a notice in the Official Journal of the European Union (OJEU) seeking expressions of interest from potential bidders for a new free morning newspaper distribution contract.</p>
<p>The current 11 year contract held by Associated Newspapers, publishers of the Metro newspaper, concludes in March 2010.&nbsp; </p>
<p>This is the first stage in a competitive tender process for a new contract that will allow the concession holder to distribute free newspapers at approximately 250 Tube stations, up to 20 bus stations and a number of other locations across the TfL estate. </p>
<h2>Fabric of city life</h2>
<p>The contract will allow the distribution of free newspapers between the hours of around 06:00 and 11:30, Monday to Friday.&nbsp; </p>
<p>At the end of this period the concession holder will be required to remove any remaining newspapers.&nbsp; </p>
<p>Richard Parry, Interim Managing Director of London Underground, said: 'The free morning newspaper is part of the fabric of city life and a success story for the publisher and our passengers alike.</p>
<p>'Londoners tell us it makes their daily Tube and bus journeys better and the contract has generated millions of pounds which have gone straight in to funding transport improvements across the Capital. </p>
<h2>Unique opportunity</h2>
<p>'We believe that the new free morning newspaper contract remains a unique opportunity to bring value to over one billion journeys in London each year.'</p>
<p>Potential bidders wishing to indicate an expression of interest should do so formally by 3 June 2009.&nbsp; </p>
<p>TfL&nbsp;supports and implements the Greater London Authority Group Responsible Procurement Policy.&nbsp;</p>
<p>TfL is actively encouraging expressions of interest from environmentally responsible bidders committed to reducing, reusing and recycling waste.&nbsp;</p>
<p>It is expected that the new contract will be awarded in late 2009 for an approximate term of&nbsp;seven-and-a-half years.&nbsp;&nbsp; </p>
<p>
<hr>

<p>
<p><strong>Notes to editors:</strong></p>
<ul>
<li>View the <a href="http://ted.europa.eu/Exec?DataFlow=ShowPage.dfl&Template=TED/editorial_page.htm&hpt=&StatLang=EN">OJEU Notice</a> </li>
<li>View the <a class="new-window filetype-pdf" title=" (Opens in new window)" href="http://www.london.gov.uk/gla/tenders/docs/responsibleprocurementpolicy.pdf" jquery1243433032592="6">GLA's Responsible Procurement Strategy</a> </li>
<li>London Underground has published the OJEU Notice as it is leading the procurement on behalf of relevant parts of TfL.&nbsp;While it is not a requirement for this concession, TfL is voluntarily complying with the utilities regulations by publishing the OJEU Notice in order to promote competition and transparency</li></ul>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "Transport for London (TfL)&nbsp;has published a notice in the Official Journal of the European Union (OJEU) seeking expressions of interest from potential bidders for a new free morning newspaper distribution contract.The current 11 year contract held by";}
        
        


 