


@{ViewBag.Title = "TfL announces trial of Intelligent Speed Adaptation ";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>TfL announces trial of Intelligent Speed Adaptation </h1>
        <div class="content-page-press-release">
        11 May 2009
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        Speed limiting technology to be tested for market place
        
    </div>



<div class="pull-quote">
        <div class="quote-body">"This innovative technology could help any driver in London avoid the unnecessary penalties of creeping over the speed limit"</div>
        <div class="quote-footer">
            <div class="quotee-name">Chris Lines</div>
            <div class="quotee-job-title">Head of TfL's London Road Safety Unit</div>
        </div>
</div>

 <div class="on-this-page">
<div class="pullquote right">
                        <p>
                            This innovative technology could help any driver in London avoid the unnecessary penalties of creeping over the speed limit
                            
                        </p>
                    </div>
                
            
            
            <p>Transport for London (TfL) today announced a six month trial of the Intelligent Speed Adaptation (ISA) technology which aims to reduce road casualties and help drivers avoid speeding penalties.<br>&nbsp;<br>As part of the trial, which will start this summer, a London bus will be fitted with ISA. </p> <p>The TfL Road Safety Unit is also keen to trial the technology in a licensed taxi, alongside 20 TfL vehicles driven by road engineers, traffic managers and highway inspectors.<br>&nbsp;<br>The intelligent technology enables drivers to select an option where acceleration is stopped automatically at the speed limit specific to any road in London within the M25 area. </p> <h2>Six month trial</h2> <p>The unit can be disabled at the touch of a button, at which point it reverts to an advisory status where the current, legal speed limit is simply displayed as a driver aid.&nbsp;</p> <p>There is also a complete over-ride switch with disables the system entirely.<br>&nbsp;<br>The practical uses of the technology will be tested in the six month trial after which a report will be submitted to the Mayor of London, and the technology will be made available to external organisations. </p> <p>Southwark Council has already expressed an interest in fitting ISA to more than 300 of its vehicles.&nbsp;&nbsp;</p> <h2>Improve road safety</h2> <p>The trial will monitor driver behaviour, journey times and the effect that driving within the speed limit has on vehicle emissions.<br>&nbsp; <br>ISA uses the digital speed limit map of London which TfL launched on 29 January 2009. This is the first time all of London's speed limits have been mapped accurately with regular updates.<br>&nbsp;<br>Other GPS device manufacturers are being encouraged to take advantage of this resource which could help to improve road safety in the Capital by introducing a speed limit display and warning in their satellite products.<br>&nbsp;<br>It is estimated that if two thirds of London drivers use the ISA system, the number of road casualties in the Capital could be reduced by 10 per cent. </p> <h2>Innovative technology</h2> <p>Chris Lines, Head of TfL's London Road Safety Unit, said: 'This innovative technology could help any driver in London avoid the unnecessary penalties of creeping over the speed limit, and at the same time will save lives.<br>&nbsp;<br>'We know the technology works, and now we want to know how drivers in all types of vehicles respond to it.<br>&nbsp;<br>'ISA is intended as a road safety device, but if Londoners embrace this technology we may well see additional benefits including reduced congestion as a result of collisions and reduced vehicle emissions as drivers adopt a smoother driving style.'<br>&nbsp;<br>Councillor Jeff Hook, executive member for environment at Southwark Council, said: 'As an Approved Driving Instructor, I understand more than most the pressing need to make our streets safer, and the value of speed limits. </p> <h2>Knowledge base</h2> <p>'This technology could revolutionise the way we keep our roads safer in Southwark, and that's why we're really interested in this trial, and if it's successful we hope to kit out our entire fleet of nearly three hundred vehicles as soon as funding allows.'</p> <p>Andrew Howard, Head of Road Safety at the AA, said: 'Drivers are divided in their views of intelligent speed adaptation - some hate it, some want it.&nbsp; </p> <p>'Many have questions that will be answered only by trials like those being carried out by TfL.&nbsp;<br>&nbsp;<br>'The AA welcomes these trials which help build the knowledge base and experience to show whether Intelligent Speed Adaptation can cut collisions, delays and pollution, and to check for potential side-effects.<br>&nbsp;<br>'The trials will also allow the views of people who have driven vehicles with the equipment to be gathered and better understood.'<br>&nbsp;<br> <hr> <br><strong>Notes to editors:</strong>  <ul> <li>To download the digital speed limit map of London, please go to <a href="http://www.tfl.gov.uk/isa">www.tfl.gov.uk/isa</a>  </li><li>ISA is a driver assistance system, and doesn't monitor, record or communicate data  </li><li>TfL's Digital map for London is the most comprehensive and accurate city map in Europe  </li><li>The results of this trial will be published in Spring 2010  </li><li>This technology could be commercially available in 2010  </li><li>Emissions research has shown:  <ul type="circle"> <li>Emissions modelling of the speed profiles from the UK trials indicated small savings in Carbon Dioxide emissions and fuel consumption on both 30 and 40mph roads, most likely because of reduced acceleration. (Commission for Integrated Transport - Speed Limit Adherence and its effect on&nbsp;road safety&nbsp;and climate change&nbsp;-&nbsp;a joint report by the commission for integrated transport and the motorists' forum&nbsp; 2009) </li></ul> </li><li>Overall, 24 per cent&nbsp;of congestion on the road due to incidents (collisions).&nbsp; (B. A. Frith, The estimation of recurrent congestion and congestion due to roadworks and incidents: 1995/96 to 1998/99, TRL Project Report PR/TT/160/99)  </li><li>Approximately two-thirds of all crashes in which people are killed or injured happen on roads with a speed limit of 30mph or less  <ul type="circle"> <li>At 35 mph a driver is twice as likely to kill someone as they are at 30 mph  </li><li>Hit by a car at 40 mph, 9 out of 10 pedestrians will be killed&nbsp;  </li><li>Hit by a car at 30 mph, about half of pedestrians will live  </li><li>Hit by a car at 20 mph, only 1 out of 10 pedestrian will be killed</li></ul> <li>In 2008/09, TfL is investing &pound;45m in road safety in London, up from &pound;18m in 2000  </li><li>In 2007, there was:  <ul type="circle"> <li>A 38 per cent reduction in the total number of casualties on London's roads, compared to the mid to late 1990s - this is fatal, serious and slight injuries  </li><li>A&nbsp;43 per cent reduction in the number of people killed or seriously injured on London's roads, compared to the mid to late 1990s  </li><li>A&nbsp;65 per cent reduction in the number of children killed or seriously injured on London's roads compared to the mid to late 1990s  </li><li>A&nbsp;40 per cent reduction in the number of pedestrians killed or seriously injured on London's roads compared to the mid to late 1990s</li></ul> <li>This is based on a study jointly conducted by University of Leeds and Motor Industry Research Association (MIRA) it is estimated  </li><li>Southwark Councillor Jeff Hook is an approved Driving Instructor and member of the executive of the London Accident Prevention Council  </li><li>For interviews with him please contact Darell Carey on 020 7525 7665 during work hours or our duty press officer Daniel Mazliah on 07932 384014 at any other time</li></li></li></ul>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "Transport for London (TfL) today announced a six month trial of the Intelligent Speed Adaptation (ISA) technology which aims to reduce road casualties and help drivers avoid speeding penalties.&nbsp;As part of the trial, which will start this summer, a";}
        
        


 