


@{ViewBag.Title = "Transport for London's Henlys Corner plans on display";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>Transport for London's Henlys Corner plans on display</h1>
        <div class="content-page-press-release">
        15 May 2009
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        A Local exhibition will provide an opportunity for the public to view proposed plans and find out more about the junction improvement scheme.
        
    </div>



 <div class="on-this-page">
<div class="pullquote right">
                        <p>
                            This scheme will bring real improvements for pedestrians 
                            
                        </p>
                    </div>
                
            
            
            <p>Transport for London (TfL) will be hosting a series of exhibitions during the first week of June to give local residents and road users the opportunity to view the plans for the Henlys Corner junction improvement scheme.</p>
<p>The scheme will improve pedestrian access and facilities for cyclists as well as smooth traffic flow through one of the busiest junctions on the North Circular Road.</p>
<p>The exhibition will be held at Chalgrove Primary School in Finchley on Monday 1 and Wednesday 3 June, from 16:00 until 20:00; and from 10:00 until 18:00 on Saturday 6, and Sunday 7 June.</p>

<h2>Improve access</h2>
<p>TfL has worked closely with the London Borough of Barnet to design a scheme that will benefit pedestrians and all other road users:</p>
<p>The scheme will include:</p>
<ul>
<li>Signalised pedestrian crossings across all arms of the junction </li>
<li>New road layout and changes to right turning traffic signals to improve the flow of traffic </li>
<li>Improved facilities for cyclists</li></ul>
<p>Graham Nash, TfL's Senior Programme Manager, Surface Transport, said: 'The exhibition is an opportunity for the local community to speak to engineers and have a chance to look at the displays illustrating the improvements that will be made to Henlys Corner.&nbsp;&nbsp; </p>

<h2>Reduce congestion</h2>
<p>'This scheme will bring real improvements for pedestrians at Henlys Corner and the road layout changes will alleviate the congestion that can build up at this busy junction. </p>
<p>'We are pleased to be able to work with Barnet council in progressing this scheme.'</p>
<p>Councillor Mike Freer, Leader of Barnet Council, said: 'Improvements at Henlys Corner are long overdue.&nbsp; </p>
<p>'We are happy to support this scheme because it should keep the traffic moving, segregate pedestrians and reduce the amount of traffic using residential roads. </p>
<p>'We are pleased that Transport for London is now able to present the proposals to the local community and have committed the funding required to build the scheme.'</p>
<p>
<hr>
<strong>Notes to editors: 
<p>
<ul>
<li></li></ul></strong>The Henlys Corner plans will be exhibited at Chalgrove Primary School, Chalgrove Gardens, Finchley. The display will be open during the following times: 
<ul>
<li>Monday, 1 June - from 16:00 until 20:00 </li>
<li>Wednesday, 3 June - from 16:00 until 20:00 </li>
<li>Saturday, 6 June - from 10:00 until 18:00 </li>
<li>Sunday, 7 June - from 10:00 until 18:00</li></ul>
<li>There will also be an exhibition of the plans at Hendon Library from Friday, May 15 to Friday, June 12 inclusive during the following times: 
<ul>
<li>Monday, Wednesday, Thursday - from 10:00 until 20:00 </li>
<li>Tuesday, Friday, Saturday - from 10:00 until 17:00 </li>
<li>Sunday - from 14:00 until 17:00</li></ul></li>
<li>The Henlys Corner junction improvement scheme is due to begin its main construction work on site in 2011 <br></li>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "Transport for London (TfL) will be hosting a series of exhibitions during the first week of June to give local residents and road users the opportunity to view the plans for the Henlys Corner junction improvement scheme.The scheme will improve pedestrian";}
        
        


 