


@{ViewBag.Title = "Tube Lines granted extra closures to complete Jubilee line upgrade on time";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>Tube Lines granted extra closures to complete Jubilee line upgrade on time</h1>
        <div class="content-page-press-release">
        20 May 2009
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        Tube Lines, the company responsible for the Jubilee line's maintenance and renewal, has requested additional weekend closures to enable them to complete the upgrade of the line on time.
        
    </div>



<div class="pull-quote">
        <div class="quote-body">"Delivery of the Jubilee line upgrade by the end of the year will be of huge benefit to passengers and London's economy"</div>
        <div class="quote-footer">
            <div class="quotee-name">Richard Parry</div>
            <div class="quotee-job-title">interim Managing Director of London Underground</div>
        </div>
</div>

 <div class="on-this-page">
<div class="pullquote right">
                        <p>
                            Delivery of the Jubilee line upgrade by the end of the year will be of huge benefit to passengers and London's economy
                            
                        </p>
                    </div>
                
            
            
            <p>The upgrade will mean that London Underground (LU) will eventually be able to run a train every two minutes at peak times, providing a third more capacity for Tube passengers and a major boost to the Capital's economy.</p>
<p>Richard Parry, interim Managing Director of London Underground, said: 'Delivery of the Jubilee line upgrade by the end of the year will be of huge benefit to passengers and London's economy and will point the way to further massive improvements across the Tube network in the years to come.</p>
<p>'The upgrade will lead to a train every two minutes at peak times on the Jubilee line, providing a third more capacity over and above the 17 per cent that was delivered through the addition of a seventh car at the beginning of 2006.&nbsp; </p>
<h2>Faster trains</h2>
<p>'For customers this will mean less time waiting on platforms, and faster trains will also reduce journey times by around 22 per cent.</p>
<p>'Tube Lines has requested additional weekend closures to ensure it completes the upgrade by the end of December, as promised.'</p>
<p>Weekend closures on the Jubilee line were already scheduled for the remainder of the year, and the timing of some of these have changed to accommodate the additional closures requested.&nbsp; </p>
<p>Some of these will also affect the Metropolitan line south of Harrow-on-the-Hill.&nbsp; </p>
<h2>Reduced waiting time</h2>
<p>Richard Parry said: 'We will, of course, do everything we can to mitigate the impact on customers.&nbsp; </p>
<p>'As always London Underground will operate rail replacement buses where no other transport is available to meet demand.'</p>
<p>Terry Morgan, Chief Executive, Tube Lines, said: 'The upgrade of the Jubilee line is now in its critical final stages of delivery which, once complete, will mean trains will be more reliable, waiting times on platforms shorter and journeys quicker. </p>
<p>'Over the past five years a significant investment and huge amounts of work have gone into this project and we are not aware of any other signalling project in the world which competes with it in terms of complexity, scale and the specialist knowledge required.'</p>
<h2>Extra capacity</h2>
<p>'We appreciate that weekend closures cause difficulties for passengers and we regret the inconvenience they cause, so the decision to take additional closures was not taken lightly. </p>
<p>'However, the closures are absolutely vital to enable us to complete the installation and testing of the system in the Neasden area which is the most technically complex area on the entire line.&nbsp; </p>
<p>'Furthermore, we will be able to carry out advanced train testing across the line which cannot be done properly during the four engineering hours that are available at night.&nbsp; </p>
<p>'These additional weekend closures will enable us deliver this important project on time and to the benefits of passengers for many years to come.'</p>
<p>
<hr>
</p>
<p><strong>Notes to editors:</strong></p>
<p>Changes to the closure programme are as follows:</p>
<ul>
<li>As well as the previously advertised full line closures, the line will be closed on: 20 June, 27/28 June, 5 July, 12 July, 26 July, 8 August, 16 August</li>
<li>Further partial line closures between Green Park and Stratford will take place on: 14 June, 21 June, 4 July, 11 July, 9 August, 15 August</li>
<li>The following partial closures between Waterloo and Stanmore were already planned but will now be '4-track' closures (meaning that the Metropolitan line will also close between Harrow-on-the-Hill and Aldgate): 25 July, 1/2 August , 22/23 August , 6 September , 26/27 September, 3/4 October , 17/18 October , 31 October/1 November, 7 November, 21/22 November, 28/29 November. In addition there will also be four track closures between Waterloo and Stanmore on 22/23 August and 6 September</li>
<li>'4-track closures' where the Bakerloo line will also be closed from Harrow &amp; Wealdstone to Queen's Park&nbsp;will take place on: 27 September, 4 October and 1 November</li>
<li>LU is undertaking a major programme of renewal as part of Transport for London's (TfL) Investment Programme.&nbsp;This will inevitably result in some disruption for passengers, but TfL is working hard to provide information and alternative travel options.&nbsp;The work is essential to provide for London's growing transport needs now, and into the future. TfL is urging all Londoners and Tube, London Overground and DLR passengers to 'check before you travel' at weekends, allowing extra journey time where necessary. Weekend travel news is available at <a href="http://www.tfl.gov.uk">tfl.gov.uk</a></li>
<li>Tube Lines is responsible for the maintenance and renewal of the Jubilee, Northern and Piccadilly lines<br></li></ul>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "The upgrade will mean that London Underground (LU) will eventually be able to run a train every two minutes at peak times, providing a third more capacity for Tube passengers and a major boost to the Capital's economy.Richard Parry, interim Managing";}
        
        


 