


@{ViewBag.Title = "UK's biggest cycle race to finish in central London";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>UK's biggest cycle race to finish in central London</h1>
        <div class="content-page-press-release">
        05 May 2009
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        World class cycle racing will return to the streets of London this September, as the Tour of Britain cycle race finishes its eight-day UK tour in the Capital.
        
    </div>



<div class="pull-quote">
        <div class="quote-body">"Cycling is a fantastic way for everyone to enjoy the city whether you're a top professional or a leisure visitor"</div>
        <div class="quote-footer">
            <div class="quotee-name">Sally Chatterjee</div>
            <div class="quotee-job-title">Visit London interim Chief Executive</div>
        </div>
</div>

 <div class="on-this-page">
<div class="pullquote right">
                        <p>
                            Cycling is a fantastic way for everyone to enjoy the city whether you're a top professional or a leisure visitor
                            
                        </p>
                    </div>
                
            
            
            <p>On Saturday 19 September, 96 professional cyclists will race for 92.5km on a central London circuit that takes in some of London's most iconic landmarks. </p>
<p>The 9.25km route will start and finish on Whitehall, taking the riders along the banks of the Thames, through the City of London, and past Big Ben, Cleopatra's Needle, Somerset House, and the Tower of London.</p>
<p>This is the sixth time that Transport for London (TfL) has bought the Tour of Britain, the largest free-to-attend sporting event in the country, to the Capital. </p>
<p>It will also finish here in 2010 and 2011.</p>
<p>Boris Johnson, Mayor of London, said: 'The Tour of Britain is an inspiring event, which can only help to encourage more and more people to get involved with cycling. </p>
<h2>A true cycling city</h2>
<p>'I'm pleased that London can once again play its part, and I'm sure that this year will be a great success - helping us on our way to becoming a true cycling city.'</p>
<p>David Brown, Managing Director of Surface Transport, said: 'Cycling is undergoing a real revolution in the Capital, with Londoners getting out on their bikes in numbers not seen in decades.&nbsp;</p>
<p>'Events such as the Tour of Britain help inspire people to try out cycling for themselves, and are a really important part of TfL's work to encourage and promote cycling in the Capital.'</p>
<h2>London is the ideal iconic backdrop</h2>

<p>Visit London interim Chief Executive Sally Chatterjee said:&nbsp; 'London is the ideal iconic backdrop to host the final stage of the Tour of Britain and we are delighted that this is the first of three finals which will take place in the Capital. </p>
<p>'Cycling is a fantastic way for everyone to enjoy the city whether you're a top professional or a leisure visitor. </p>
<p>'The race is a great way to get that message across and I'm delighted to welcome the Tour of Britain back to the streets of London once again.'</p>
<p>The Capital has seen a 91 per cent increase in the number of cycle journeys on London's major roads since 2000, with an estimated 500,000 cycle journeys made everyday.</p>
<p>
<hr>

<p>
<p><strong>Notes to editor</strong></p>
<ul>
<li>The Tour of Britain is the country's largest professional cycling race and Britain's biggest free-to-attend live sporting event. It started in London in September 2008 and will finish in London in 2009, 2010 and 2011 </li>
<li>The 2009 edition of the race will run for eight days from Saturday 12 September until Saturday 19 September </li>
<li>For more information about the Tour of Britain, visit <a href="http://www.tourofbritain.co.uk/">http://www.tourofbritain.co.uk/</a> </li>
<li>The Mayor and TfL are investing a record &pound;111.3m in cycling in London this year. The money is being spent on introducing the cycle hire scheme, improving parking and road conditions for cyclists, education, training and promotion </li>
<li>The London Cycle Hire scheme will launch in the Capital in May 2010. People will be able to pick up and drop off hire bikes at 400 locations across the nine London boroughs and several Royal Parks that make up London's zone one travel area. An initial 6,000 hire bikes are expected to generate around 40,000 extra daily cycle trips in central London </li>
<li>More information about cycling in London can be found at <a href="http://www.tfl.gov.uk/cycling">www.tfl.gov.uk/cycling</a> </li>
<li>Visit London is the official visitor organisation for London. Their role is to promote London as the most exciting city on the planet, targeting domestic and overseas leisure and business visitors as well as Londoners. Visit London works in partnership with the Mayor, the London Development Agency and the tourism industry in London<br></li></ul>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "On Saturday 19 September, 96 professional cyclists will race for 92.5km on a central London circuit that takes in some of London's most iconic landmarks. The 9.25km route will start and finish on Whitehall, taking the riders along the banks of the Thames,";}
        
        


 