


@{ViewBag.Title = "Victoria Coach Station first to gain new Government standard";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>Victoria Coach Station first to gain new Government standard</h1>
        <div class="content-page-press-release">
        28 May 2009
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        Victoria Coach Station has become the first organisation in the transport sector to achieve the Government's Customer Service Excellence (CSE) standard.
        
    </div>



<div class="pull-quote">
        <div class="quote-body">"Our staff can be proud that their hard work and dedication has been recognised"</div>
        <div class="quote-footer">
            <div class="quotee-name">Malcolm Carmichael</div>
            <div class="quotee-job-title">Victoria Coach Station's Commercial Services Manager</div>
        </div>
</div>

 <div class="on-this-page">
<div class="pullquote right">
                        <p>
                            Our staff can be proud that their hard work and dedication has been recognised
                            
                        </p>
                    </div>
                
            
            
            <p>The standard recognises excellence in customer service, and the Coach Station was assessed against a wide range of criteria including customer satisfaction, complaint resolution and the professionalism of staff.</p>
<p>The Coach Station received particular commendation for the way it handles complaints, which the assessor said indicated 'a dedication to getting things right for the customer.'</p>
<p>Malcolm Carmichael, Commercial Services Manager at Victoria Coach Station, said: 'I am delighted we have been given the Customer Service Excellence Award. </p>
<h2>Raise the bar</h2>
<p>'Our staff can be proud that their hard work and dedication has been recognised. It also gives us a reputation to live up to and defend. </p>
<p>'It's a great boost to staff morale, encouraging them to raise the bar even higher in terms of the level of service offered to our customers.'</p>
<p>CSE replaces the former Charter Mark scheme, which the Coach Station has held since 1994. CSE is awarded for three years, and annual follow-up checks will ensure standards are being maintained and improvements put in place where possible. </p>
<p>
<hr>

<p>
<p>
<p>
<p><strong>Notes to editors:</strong></p>
<ul>
<li>There are five key criteria in the CSE standard: customer insight, culture of the organisation, information and access, delivery, timeliness and quality of service. Full details can be found on the <a class="external-site" title=" (Opens in new window)" href="http://www.cse.cabinetoffice.gov.uk/" jquery1243508926091="6">CSE website</a> <br></li></ul>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "The standard recognises excellence in customer service, and the Coach Station was assessed against a wide range of criteria including customer satisfaction, complaint resolution and the professionalism of staff.The Coach Station received particular";}
        
        


 