
    
  



@{ViewBag.Title = "Applying for a tenancy";}
@{ViewBag.Keywords = "TfL";}
@{ViewBag.Url = "/info-for/business-and-commercial/applying-for-a-tenancy";}
@{ViewBag.Language = "en";}
        <!-- empty placeholder -->
 
        
        
<div class="r">
    <div class="breadcrumb-container" role="navigation">
        <span id="breadcrumb-label" class="visually-hidden">You are here:</span>
        <ol class="breadcrumbs clearfix" aria-labelledby="breadcrumb-label">
            <li class="home">
                <a href="/">
                    <span class="hide-text">Home</span>
                </a>
            </li>
            
                 <li><a href="/info-for/business-and-commercial/index">Business & commercial</a></li>
                
            
                 <li><a href="/info-for/business-and-commercial/commercial-properties">Commercial properties</a></li>
                
            
                 <li><a href="/info-for/business-and-commercial/becoming-a-tenant">Becoming a tenant</a></li>
                
            
            
                <li><span class="last-breadcrumb">Applying for a tenancy</span></li>
            
        
 
        
 
        
 
        
 
        </ol>
    </div>
</div>
     
 
<div class="r">
  <div class="headline-container plain">
    <h1>Applying for a tenancy</h1>

  </div>
</div>
<div class="main-and-aside r">
  
  <div class="main content-container" role="main">
    
      <div class="article-teaser">
        Here's our guide to applying for a property, the leases we offer and how we will consider your application.<BR>
        
      </div>
    
    <div class="on-this-page">
      <h2>Applying for a property</h2>
<p>
See a list of <a href="https://tfl.completelygroup.com/?intcmp=52564">our available properties</a>.
</p>
<p>To find out more about a property, contact the relevant agent listed in the property details. If you don't know which property you're interested in and want to discuss what property would suit your business most, email us at <a href="mailto:businessdevelopment&#64;tfl.gov.uk">businessdevelopment&#64;tfl.gov.uk</a>.</p>
<p>To apply for one of our units you'll need to email a completed application form (see below) to the property's nominated agent. The nominated agent is listed on the letting particulars.</p>
<p>A credit check and proof of identity will be required. Please include the unit reference number on the application.</p>
      
           
      
<div>





<div class="multi-document-download-container">
    

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/vacate-premises-application-form.pdf">
    <div class="document-download-text">
        <p>Vacant premises - application form</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 271KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.26 -->
 
</div>

</div>
 <div>

<h2>Considering your application</h2>

<p>We openly market our properties to create opportunities for as many businesses as possible. When we receive more than one offer for a property, we will consider applications on factors including level of rent and suitability in the local area. Some properties also only allow certain uses.</p>

<h3>Permitted property uses</h3>

<p>The type of business you can run in one of our properties falls into different categories. We will consider a wide range of businesses and uses.</p>

<h3>Conflicting use</h3>

<p>We are unlikely to accept applications from similar retailers if there is an existing offering in the area, unless station footfall justifies multiple offers (applies more to retail units).</p>

<h2>Our leases</h2>

<h3>Lease length</h3>

<p>Our standard leases are for&nbsp;five years. These are negotiated on an individual basis depending on the type of property you've applied for. Your lease will specify what the premises may be used for and will also identify the extent of the property contained in the lease.</p>

<h3>Lease type</h3>

<p>All leases are excluded from the security of tenure and compensation provisions of the Landlord and Tenant Act 1954. This means that when your lease expires, your landlord is not obliged to grant you a new lease under the Act.</p>

<h2>Rent</h2>

<p>Rent is payable quarterly in advance by direct debit. The rental figure quoted includes rent for the landlord but doesn't include rates, outgoings (including utilities), taxes or service charge. The rental figure may include a turnover provision.</p>

<h3>Rent reviews and lease renewals</h3>

<p>We may carry out a rent review, in accordance with your lease, part way through your lease term. This allows us to consider changes in the market and set a fair rent, reflecting comparable rents paid locally.</p>

<p>Towards the end of your lease, we will discuss what happens when the lease runs out, including opportunities to renew your lease where appropriate and how this will be negotiated.</p>
</div>
 
      
        
          
            @this.ScriptBlock(
              @<script>
                queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
              </script>
            )
          
        
      
    </div>
  </div>
  <div class="aside" role="complementary">

   
    
    
    
      <div data-set="sidenav-container" class="large">
        
        
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
                <a href="/info-for/business-and-commercial/commercial-properties" class="heading">
                    <h2 id="sub-menu-heading">Commercial properties<span class="visually-hidden"> navigation</span></h2>
                </a>
                <ul>
                    
                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/business-and-commercial/becoming-a-tenant">Becoming a tenant</a></div>
                                <ul>
                                    
                                        <li class="selected"><div class="link-wrapper"><a href="/info-for/business-and-commercial/applying-for-a-tenancy">Applying for a tenancy</a></div>
                                    </li>
 
                                </ul>
                            </li>
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/business-and-commercial/managing-my-property">Managing my property</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/business-and-commercial/our-property-portfolio">Our property portfolio</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/business-and-commercial/send-us-feedback">Send us feedback</a></div></li>
                            
 
                </ul>
            
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
      </div>
    
    <div>
























<div class="advert-tile unsponsored-style google-ads" aria-hidden="true">
  <div class="advert-link">
    <div class="advert-content">
        <div class="medium-large" data-advert="/76889402/non-targeted" data-advert-sizes="300, 250"></div>
        <div class="small" data-advert="/76889402/non-targeted" data-advert-sizes="300, 250"></div>
    </div>
  </div>
</div>
@{
    ViewBag.AmazonSlot = "'amznslots'";
    ViewBag.AmazonAds = "'3199'"; // to add another value, this needs to be ViewBag.AmazonAds = "'3199','xx'";
}
      

 </div>
    
    <div data-set="sidenav-container" class="small-medium"></div>
  </div>
</div>
 
 
        
        
        
            @{ViewBag.Description = "Find how to apply to be a TfL tenant";}
        
            
        


 