
    
  



@{ViewBag.Title = "Becoming a tenant";}
@{ViewBag.Keywords = "TfL";}
@{ViewBag.Url = "/info-for/business-and-commercial/becoming-a-tenant";}
@{ViewBag.Language = "en";}
        <!-- empty placeholder -->
 
        
        

  

<div class="r">
    <div class="breadcrumb-container" role="navigation">
        <span id="breadcrumb-label" class="visually-hidden">You are here:</span>
        <ol class="breadcrumbs clearfix" aria-labelledby="breadcrumb-label">
            <li class="home">
                <a href="/">
                    <span class="hide-text">Home</span>
                </a>
            </li>
            
                 <li><a href="/info-for/business-and-commercial/index">Business & commercial</a></li>
                
            
                 <li><a href="/info-for/business-and-commercial/commercial-properties">Commercial properties</a></li>
                
            
            
                <li><span class="last-breadcrumb">Becoming a tenant</span></li>
            
        
 
        
 
        
 
        </ol>
    </div>
</div>
     
 

  
  <div class="r">
    <div class="headline-container section-title section-landing-container ">
      <div class="section-title-wrap">
        <h1 class="hero-headline">Becoming a tenant</h1>
        
      </div>
    </div>
  </div>



    
   
    <div class="r">
        <div class="main clearfix" role="main">
            
        
        
            <div class="section-overview full-width clearfix ">
                <div class="small-medium" data-set="section-intro"></div>
                <div>
                    <div class="large" data-set="section-intro">
                        
                    </div>
                <p>We want you to join our estate and start or continue your business journey with us.</p>
<p>We provide high quality business space to allow you to grow and to support the growth of London. We aspire to excellent customer service and an estate that shapes London's future to the benefit of all Londoners.</p>
                </div>
            </div>
        
         
        
        
        
                
                
                <div class="module-grid clearfix">
                    
                    
                    
                    <div class="news-teaser ">
  
  <a href="https://tfl.completelygroup.com?intcmp=52564"  data-img="/cdn/static/cms/images/promos/cp-south-kensington-restaurant-teaser.jpg" data-img-breakpoint="medium" data-img-alt="South Kensington restaurant">
    <img src="/cdn/static/cms/images/promos/cp-south-kensington-restaurant-teaser_rdax_600x300.jpg" alt="South Kensington restaurant" />
    <div class="text-link sit-bottom">
      <h2>Available properties</h2>
      <p>Search our database of current retail and business spaces</p>
    </div>
  </a>
</div>

 <div class="news-teaser">

    <a href="/info-for/business-and-commercial/applying-for-a-tenancy?intcmp=53753" >
        <img src="/cdn/static/cms/images/promos/embankment-teaser_rdax_400x200.jpg" alt="shops in Embankment station" />
        
        <div class="text-link">
             <h2>Applying for a tenancy</h2>
            <p>How to apply for a property and how we will consider your application</p>
        </div>
    </a>
</div>
 
 <div class="news-teaser">

    <a href="/info-for/business-and-commercial/guidance-and-policies?intcmp=53782" >
        
        
        <div class="text-link">
             <h2>Guidance and policies</h2>
            <p>Our information will help keep your property safe and maintained</p>
        </div>
    </a>
</div>
 
 <div class="news-teaser">

    <a href="/info-for/business-and-commercial/our-property-portfolio?intcmp=53760" >
        
        
        <div class="text-link">
             <h2>Our property portfolio</h2>
            <p>From pop ups to shops in arches and industrial spaces, see what we can offer</p>
        </div>
    </a>
</div>
 
 
                </div>
        
        
        
          
        
    </div>
    
      
      <div class="aside no-full-width-intro" role="complementary">
    
        <div data-set="sidenav-container" class="large">
          
        </div>
        <div class="module-grid clearfix">
          




















<div class="advert-tile unsponsored-style google-ads" aria-hidden="true">
  <div class="advert-link">
    <div class="advert-content">
        <div class="medium-large" data-advert="/76889402/non-targeted" data-advert-sizes="300, 250"></div>
        <div class="small" data-advert="/76889402/non-targeted" data-advert-sizes="300, 250"></div>
    </div>
  </div>
</div>
@{
    ViewBag.AmazonSlot = "'amznslots'";
    ViewBag.AmazonAds = "'3199'"; // to add another value, this needs to be ViewBag.AmazonAds = "'3199','xx'";
}
      

 
          <div>

    <div class="contact-info-box">
         <div class="contact-info-header">
             <h3>Contact us</h3>
         </div>
        
        
        
        
        <div class="content-group">
            <p>
                
                
                
                
                
                
                
                
            </p>
            
        </div>
        
        <div class="content-group">
            
            
            
                
                
                
            
            
            <p>Get in touch about your business needs</p>
<p><strong>Email: </strong><a href="mailto:BusinessDevelopment&#64;tfl.gov.uk">BusinessDevelopment&#64;tfl.gov.uk</a></p>
        </div>
        
        
    </div>
</div>
 
        </div>
        <div data-set="sidenav-container" class="small-medium"></div>
      </div>
  </div>
 
        
        
        
            @{ViewBag.Description = "We want to help your business grow by providing excellent tenancy services";}
        
            
        


 