
    
  



@{ViewBag.Title = "Commercial consulting & international operations";}
@{ViewBag.Keywords = "TfL";}
@{ViewBag.Url = "/info-for/business-and-commercial/commercial-consulting";}
@{ViewBag.Language = "en";}
        <!-- empty placeholder -->
 
        
        

  <div class="section-image-container medium-large" data-highlight-image="/cdn/static/cms/images/promos/tfl-consulting-london.jpg" data-highlight-for=".section-image-container" data-highlight-size="medium-large" style="background-image: url(/cdn/static/cms/images/promos/tfl-consulting-london.jpg)"> </div>

<div class="r">
    <div class="breadcrumb-container" role="navigation">
        <span id="breadcrumb-label" class="visually-hidden">You are here:</span>
        <ol class="breadcrumbs clearfix" aria-labelledby="breadcrumb-label">
            <li class="home">
                <a href="/">
                    <span class="hide-text">Home</span>
                </a>
            </li>
            
                 <li><a href="/info-for/business-and-commercial/index">Business & commercial</a></li>
                
            
            
                <li><span class="last-breadcrumb">Commercial consulting & international operations</span></li>
            
        
 
        
 
        </ol>
    </div>
</div>
     
 

  
  <div class="r">
    <div class="headline-container section-title section-landing-container ">
      <div class="section-title-wrap">
        <h1 class="hero-headline">Commercial consulting & international operations</h1>
        
      </div>
    </div>
  </div>



    
   
    <div class="r">
        <div class="main clearfix" role="main">
            
        
        
            <div class="section-overview full-width clearfix ">
                <div class="small-medium" data-set="section-intro"></div>
                <div>
                    <div class="large" data-set="section-intro">
                        
                    </div>
                <p>We partner with cities, regions, consultancies and transport operators around the world to deploy our unique, specialist expertise and develop sustainable answers to transport challenges.</p>
                </div>
            </div>
        
         
        
        
        
                
                <div class="clearfix">
                    <div>

<p>TfL operates transport in one of the world's truly great cities, facilitating more than 31 million journeys across the capital every
day. We also plan, design and implement the safest, most efficient, advanced and cost effective transport solutions in the world.</p>
<p>While we're keeping London moving, we also work with transport
authorities, governments, and transport operators, locally and globally.</p>
<h2>Our experience</h2>
<p>We innovate. We have made ageing assets and infrastructure fit for
today's modern, 24-hour capital. We are the world's largest user of
contactless technology, and leaders in wayfinding and reducing energy
consumption and emissions.</p>
<p>Our Commercial consulting and international operations team manages projects at all stages, from concept and feasibility, through procurement and project management, to commissioning and operational planning, and delivery. A project could be a bus interchange or a mega project like the &pound;14.8bn Crossrail scheme.</p>
<h2>What we offer</h2>
<p>We want to partner with peer organisations, businesses, operators and others to plan, design, and implement the world's safest, most efficient and cost effective urban transport solutions.</p>
<p>Our urban mobility expertise can help cities and regions solve the challenges they face, including:</p>
<ul>
    <li>Network planning, operations and maintenance (of metros, buses, overground rail)</li>
    <li>Revenue</li>
    <li>Customer experience</li>
    <li>Capacity</li>
    <li>Sustainability</li>
    <li>City events</li>
    <li>Asset Management</li>
    <li>Innovation</li>
    <li>Security and Policing</li>
</ul>
<p>Every aspect of procurement, operations and management can be covered.  Our experts can offer guidance on:</p>
<h3>Strategy</h3>
<ul>
    <li>Competition and regulatory advice</li>
    <li>Cost benefit analysis and evaluation</li>
    <li>Economic modelling</li>
</ul>
<h3>Planning</h3>
<ul>
    <li>Urban design</li>
    <li>Sustainable transport solutions</li>
    <li>Fare setting and ticketing management</li>
</ul>
<h3>Rail</h3>
<ul>
    <li>Operation</li>
    <li>Safety, security and maintenance</li>
    <li>Strategic development and implementation</li>
    <li>Line upgrades</li>
</ul>
<h3>Bus</h3>
<ul>
    <li>Network planning and design</li>
    <li>Passenger information and systems</li>
</ul>
<p>And much more.</p>
<p>From small discreet projects, to strategic advice on the governance of a transport network, we take all sizes of commission.</p>
<h2>The story so far</h2>
</div>
 <div class="clearfix">
    <div class="image-box right-float">
    
        
        
        <img src="/cdn/static/cms/images/consulting-hong-kong-totem_rdax_400x457.jpg" alt="hong kong totem" />
        
        
        
    </div>
    <p>To help residents and visitors walk to their destination more quickly and easily, we are working with Hong Kong's Transport Department to improve its wayfinding signs in the city.</p>
<p>We have designed and constructed ten bespoke plinths for use in Tsim Sha Tsui, one of Hong Kong's most popular tourist areas.</p>
<p>The plinths, launched in July 2018, will be trialled for three years. They are based on our own Legible London signs, and are being manufactured in Hayes, west London.</p>
<p>Legible London signs were first created in 2007 to help both residents and visitors walk to their destination more quickly and easily. If successful, the plinths could potentially be installed in other parts of Hong Kong.&nbsp;</p> 
 </div>
 <div>

<h3>Siemens and a new traffic management system</h3>
<p> Siemens will provide a new traffic light control system for London that will help us make much better use of the road space. This system will optimise traffic light timings to enable more people and goods to move on the capital's road network, with fewer delays. The deal was announced in June 2018.</p>
<p>Along with Siemens, we are offering this same knowhow to other cities and regions around the world so that they can use new data sources to better manage their roads, tackle congestion, reduce delays for people choosing healthier travel options and improve air quality.</p>
<h3>TfL and Cubic Transportation Systems</h3>
<p>The success of contactless technology in London is now leading to more world cities introducing this convenient way of paying for travel.</p>
<p>In 2016 TfL signed a deal worth up to &pound;15m with Cubic Transportation Systems, allowing them to adapt the capital's contactless ticketing system worldwide. Since then, New York, Sydney, Miami, Boston and Brisbane have all announced that they plan to introduce contactless payments in the coming years.</p>
</div>
 <div>

<h2>Our team</h2>
<p>The Commercial consulting and international operations team is led by Helen Murphy. Helen was a Director at international engineering consultancy WSP, where she was responsible for winning major projects, delivering technical solutions to clients, and the growth and development of her team.</p>
</div>
 
                </div>
                <hr>
                
                
                <div class="module-grid clearfix">
                    
                    
                    
                    
                </div>
        
        
        
          
        
    </div>
    
      
      <div class="aside no-full-width-intro" role="complementary">
    
        <div data-set="sidenav-container" class="large">
          
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>
        <div class="module-grid clearfix">
          
















<div class="advert-tile unsponsored-style google-ads" aria-hidden="true">
  <div class="advert-link">
    <div class="advert-content">
        <div class="medium-large" data-advert="/76889402/non-targeted" data-advert-sizes="300, 250"></div>
        <div class="small" data-advert="/76889402/non-targeted" data-advert-sizes="300, 250"></div>
    </div>
  </div>
</div>
@{
    ViewBag.AmazonSlot = "'amznslots'";
    ViewBag.AmazonAds = "'3199'"; // to add another value, this needs to be ViewBag.AmazonAds = "'3199','xx'";
}
      

 
          <div>
    
    <div class="contact-info-box">
        <div class="contact-info-header">
            <h3>Commercial consulting</h3>
        </div>
                                                         
        <div class="content-group">
            <p><img alt="" src="/cdn/static/cms/images/helen-murphy-contact-small.jpg" /></p>
<p>Helen Murphy, Director, Commercial consulting and international operations</p>
        </div>
        
        
        
        
        <div class="content-group">
            
        
        <a href="mailto:TfLConsulting&#64;tfl.gov.uk">TfLConsulting&#64;tfl.gov.uk</a>
            
        
        </div>
            
                
                 
        
        
        
        
        
        <div class="content-group">
            <p>
                <abbr title="Address">Write</abbr>
            </p>
            <p>TfL Consulting<br />
Palestra, 197 Blackfriars Road<br />
London SE1 8NJ</p>

<p>&nbsp;</p>

<p><strong>Get in touch with our team to talk more about our services and what we can offer.</strong></p>
        </div>
        
        
    </div>
</div>
 <div class="related-links">

    <h3>Also on this site</h3>

<div class="vertical-button-container">

<a href="/info-for/business-and-commercial/international-visits" class="plain-button">International visits</a>
    </div>
</div>
 
        </div>
        <div data-set="sidenav-container" class="small-medium"></div>
      </div>
  </div>
 
        
        
        
            @{ViewBag.Description = "TfL's Commercial consulting team advises on transport-related projects around the world";}
        
            
        


 