
    
  


<!-- rhroot -->
@{ViewBag.Title = "Commercial partnerships and experiential marketing";}
@{ViewBag.Keywords = "TfL";}
@{ViewBag.Url = "/info-for/business-and-commercial/commercial-partnerships-and-experiential-marketing";}
@{ViewBag.Language = "en";}
        <!-- empty placeholder -->
 
        
        

  <div class="section-image-container medium-large" data-highlight-image="/cdn/static/cms/images/promos/white-walkers-tube-003-1401.jpg" data-highlight-for=".section-image-container" data-highlight-size="medium-large" style="background-image: url(/cdn/static/cms/images/promos/white-walkers-tube-003-1401.jpg)"> </div>

<div class="r">
    <div class="breadcrumb-container" role="navigation">
        <span id="breadcrumb-label" class="visually-hidden">You are here:</span>
        <ol class="breadcrumbs clearfix" aria-labelledby="breadcrumb-label">
            <li class="home">
                <a href="/">
                    <span class="hide-text">Home</span>
                </a>
            </li>
            
                 <li><a href="/info-for/business-and-commercial/index">Business & commercial</a></li>
                
            
            
                <li><span class="last-breadcrumb">Commercial partnerships and experiential marketing</span></li>
            
        
 
        
 
        </ol>
    </div>
</div>
     
 

  
  <div class="r">
    <div class="headline-container section-title section-landing-container ">
      <div class="section-title-wrap">
        <h1 class="hero-headline">Commercial partnerships and experiential marketing</h1>
        
      </div>
    </div>
  </div>



    
   
    <div class="r">
        <div class="main clearfix" role="main">
            
        
        
            <div class="section-overview full-width clearfix ">
                <div class="small-medium" data-set="section-intro"></div>
                <div>
                    <div class="large" data-set="section-intro">
                        
                    </div>
                We can give your organisation or tailored access to the London audience for tactical or long term activity. With 300 million customer journeys a year across our rail, road and river networks - and 100 million page views a month on the TfL website - that's quite an audience.<br />
                </div>
            </div>
        
         
        
        
        
                
                <div class="clearfix">
                    <div>

<h2>What we offer</h2>
<p>We work with organisations of all sizes to develop bespoke partnerships which bring tangible results. These might be long-term partnerships such as Santander's Cycle Hire scheme, a seven-year partnership which aims to make cycling in London easier and more fun.</p>
<p>Or they could be shorter-term campaigns such as Sky Atlantic's launch of Series 7 of Game of Thrones - this incorporated out-of-home and social media elements, station announcements and even GoT-themed cupcakes.</p>
<h2>Available commercial partnerships</h2>
</div>
 
<div class="module-grid clearfix">
<div class="news-teaser">

    <a href="/info-for/business-and-commercial/commercial-opportunities/charity-fundraising?intcmp=54514" >
        <img src="/cdn/static/cms/images/promos/buxton-water-totem-teaser_rdax_400x200.jpg" alt="totem with charitiy branding" />
        
        <div class="text-link">
             <h2>Charity fundraising</h2>
            <p>See how we can boost your charity fundraising with a presence on TfL assets</p>
        </div>
    </a>
</div>
 
 
</div>
 <div>

<p>Explore all of our <a href="https://tfl.gov.uk/info-for/business-and-commercial/commercial-opportunities/commercial-partnership-opportunities">commercial partnership opportunities</a>.</p>
<h2>More about commercial partnerships</h2>
<ul>
    <li>Find <a href="/info-for/business-and-commercial/commercial-opportunities/commercial-partnerships">costs, lead times and submit an initial brief</a>  </li>
    <li>To discuss your requirements, email <a href="mailto:commercialpartnerships&#64;tfl.gov.uk">commercialpartnerships&#64;tfl.gov.uk</a> </li>
</ul>
<h2>Commercial partnership lookbook</h2>
<p>See great examples of successful commercial partnerships in 'Driving London's happiness'.</p>
</div>
 
<div>





<div class="multi-document-download-container">
    

<a class="document-download-wrap portrait-download-image with-image pdfpdf" href="/cdn/static/cms/documents/driving-londons-happiness.pdf">
    <div class="document-download-text">
        <p>Driving London's happiness - our commercial partnership lookbook</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 3.00MB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

    <div class="document-download-image">
        <img src="/cdn/static/cms/images/driving-londons-happiness-img.png" alt="Driving London happiness" />
    </div>

</a>

<!-- 3.00 -->
 
</div>

</div>
 <div>

<h2>Experiential marketing</h2>
<p>Commercial partners can book space in many Tube and DLR stations for product sampling or mini-exhibitions and even small-scale events.</p>
<p>Your brand experience can be a stand-alone activity or combined with other out-of-home elements, for example advertising as part of a larger campaign or activation such as the Game of Thrones Series 7 launch. (See 'Driving London's happiness' above for more information.)</p>
<p> Our site profiles have details of experiential sites available across Tube, DLR and&nbsp; London rail and bus stations.   If you're interested in a site which is not included yet, or to discuss yours or your client's requirements please email <a href="mailto:experientialmarketing&#64;tfl.gov.uk">experientialmarketing&#64;tfl.gov.uk</a>.</p>
</div>
 
<div>





<div class="multi-document-download-container">
    

<a class="document-download-wrap portrait-download-image with-image pdfpdf" href="/cdn/static/cms/documents/brand-experience-site-profiles.pdf">
    <div class="document-download-text">
        <p>Experiential marketing - site profiles</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 18.94MB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

    <div class="document-download-image">
        <img src="/cdn/static/cms/images/brand-img.png" alt="Experiential site profiles" />
    </div>

</a>

<!-- 18.94 -->
 
</div>

</div>
 
<div>




<p>If you already have a defined brief, please email a completed enquiry form to <a href="mailto:experientialmarketing&#64;tfl.gov.uk">experientialmarketing&#64;tfl.gov.uk</a>.</p>
<p>Once the details are confirmed, we'll hold the space requested for up to five days.</p>
<div class="multi-document-download-container">
    

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/commercial-partnerships-and-experiential-briefing-form.pdf">
    <div class="document-download-text">
        <p>Experiential - enquiry form</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 240KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.23 -->
 
</div>

</div>
 
                </div>
                <hr>
                
                
                <div class="module-grid clearfix">
                    
                    
                    
                    
                </div>
        
        
        
          
        
    </div>
    
      
      <div class="aside no-full-width-intro" role="complementary">
    
        <div data-set="sidenav-container" class="large">
          
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
                <a href="/info-for/business-and-commercial/commercial-partnerships-and-experiential-marketing" class="heading">
                    <h2 id="sub-menu-heading">Commercial partnerships and experiential marketing<span class="visually-hidden"> navigation</span></h2>
                </a>
                <ul>
                    
                                <li><div class="link-wrapper"><a href="/info-for/business-and-commercial/commercial-opportunities/commercial-partnerships">How to work with us</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/business-and-commercial/commercial-opportunities/commercial-partnership-opportunities">Commercial partnership opportunities</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/business-and-commercial/commercial-opportunities/commercial-partnerships---transparency">Transparency policy on commercial partnerships</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/business-and-commercial/commercial-opportunities/charity-fundraising">Charity fundraising</a></div></li>
                            
 
                </ul>
            
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>
        <div class="module-grid clearfix">
          
















<div class="advert-tile unsponsored-style google-ads" aria-hidden="true">
  <div class="advert-link">
    <div class="advert-content">
        <div class="medium-large" data-advert="/76889402/non-targeted" data-advert-sizes="300, 250"></div>
        <div class="small" data-advert="/76889402/non-targeted" data-advert-sizes="300, 250"></div>
    </div>
  </div>
</div>
@{
    ViewBag.AmazonSlot = "'amznslots'";
    ViewBag.AmazonAds = "'3199'"; // to add another value, this needs to be ViewBag.AmazonAds = "'3199','xx'";
}
      

 
          <div>
    
    <div class="contact-info-box">
        <div class="contact-info-header">
            <h3>Contact the Commercial Partnerships team</h3>
        </div>
        
        
            
        
        
            
                
                 
        
        
        
        
        
        
        <div class="content-group">
            <p><strong>Email</strong>
&nbsp;<a href="mailto:commercialpartnerships&#64;tfl.gov.uk">commercialpartnerships&#64;tfl.gov.uk</a></p>
        </div>
        
    </div>
</div>
 
        </div>
        <div data-set="sidenav-container" class="small-medium"></div>
      </div>
  </div>
 
        
        
        
            @{ViewBag.Description = "Tap into an unrivalled suite of commercial assets across the TfL network";}
        
            
        


 