
    
  



@{ViewBag.Title = "Commercial tenants";}
@{ViewBag.Keywords = "TfL";}
@{ViewBag.Url = "/info-for/business-and-commercial/commercial-tenants";}
@{ViewBag.Language = "en";}
        <!-- empty placeholder -->
 
        
        
<div class="r">
    <div class="breadcrumb-container" role="navigation">
        <span id="breadcrumb-label" class="visually-hidden">You are here:</span>
        <ol class="breadcrumbs clearfix" aria-labelledby="breadcrumb-label">
            <li class="home">
                <a href="/">
                    <span class="hide-text">Home</span>
                </a>
            </li>
            
                 <li><a href="/info-for/business-and-commercial/index">Business & commercial</a></li>
                
            
                 <li><a href="/info-for/business-and-commercial/commercial-properties">Commercial properties</a></li>
                
            
                 <li><a href="/info-for/business-and-commercial/managing-my-property">Managing my property</a></li>
                
            
            
                <li><span class="last-breadcrumb">Commercial tenants</span></li>
            
        
 
        
 
        
 
        
 
        </ol>
    </div>
</div>
     
 
<div class="r">
  <div class="headline-container plain">
    <h1>Commercial tenants</h1>

  </div>
</div>
<div class="main-and-aside r">
  
  <div class="main content-container" role="main">
    
      <div class="article-teaser">
        We put businesses in the heart of London's neighbourhoods. As one of our commercial customers, you'll be part of the community in and around our stations and transport routes. As your landlord, we'll help you make the most of the opportunities that our properties offer.
        
      </div>
    
    <div class="on-this-page">
      
      
           
      <div class="clearfix">
    <div class="image-box right-float">
    
        
        
        <img src="/cdn/static/cms/images/current-tenants_rdax_400x250.jpg" alt="shop at Tube station" />
        
        
        
    </div>
    <h2>Our team</h2>
<p>We have a dedicated team responsible for the day-to-day management of our commercial properties.</p>
<p>When you become one of our tenants, we will send you a welcome pack and introduce you to your dedicated property surveyor.</p>
 </div>
 
<div>





<div class="multi-document-download-container">
    

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/guidance-for-commercial-tenants-tfl.pdf">
    <div class="document-download-text">
        <p>Guidance for commercial tenants - Introduction to TfL</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 13.61MB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 13.61 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/security-guidance-for-tfl-tenants.pdf">
    <div class="document-download-text">
        <p>Security guidance for TfL tenants</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 705KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.69 -->
 
</div>
<h3>Property surveyor</h3>

<p>Every one of our customers has a dedicated property surveyor to manage our relationship with you and manage your property. Property surveyors are your single point of contact for any immediate help needed, especially for safety and security.</p>

<h3>Operational team</h3>

<p>If your property is at one of our stations, our station staff can help with queries about that station. You'll see them on a day-to-day basis and they should be the first people you approach for help.</p>

<p>When you become one of our tenants, your property surveyor will introduce you to your local team.</p>

<p>For general queries, please email <a href="mailto:PMQueries&#64;tfl.gov.uk">PMQueries&#64;tfl.gov.uk</a>.</p>

<h2>Security</h2>

<p>Security is a top priority and as one of our tenants you play a key role in keeping London safe. Report anything suspicious to a member of TfL staff or contact the British Transport Police (call 0800 40 50 40 or text 61016).</p>

<p>See more on our <a href="/info-for/business-and-commercial/guidance-and-policies">guidance and policies page</a>.</p>

<h2>Property guidance</h2>

<h3>Paying your rent</h3>

<p>When you start with us your surveyor will explain what you need pay us for the occupation of your premises - your rent. This is invoiced every quarter. We recommend that you pay by direct debit so you don't need to remember when to pay could also help to reduce your bank charges.</p>

<p>Depending on your property, you may also be charged service charges, insurance or other costs, such as utilities, linked to running your property. Separately you are responsible for paying business rates to the local authority for your property. <a href="http://www.gov.uk/introduction-to-business-rates">See an introduction to business rates.</a></p>

<h3>Fitting out your property</h3>

<p>We're here to help you to keep your property safe and to provide a customer-friendly experience through maintenance and fit-outs. Your designated property surveyor can give you guidance on maintaining your property.</p>

<p>More about property fit-outs and health and safety is on our <a href="/info-for/business-and-commercial/guidance-and-policies">guidance and policies page</a>.</p>

<h2>Support</h2>

<h3>Support partners</h3>

<p>We follow guidance from the Royal Institution&nbsp;of Chartered Surveyors (RICS) in managing our properties. Their codes of practice were designed to improve the leasing relationship between tenant customers and landlords. For professional assistance with any leasing or property matters, find out more on the <a href="https://www.rics.org.uk">RICS website</a>.</p>

<p>We also work alongside other bodies that can help you run your business. These include:</p>

<ul>
	<li><strong><a href="https://www.growthhub.london/">Mayor of London Growth Hub</a>:</strong> The Growth Hub is supported by the Mayor of London, and provides advice and support for running your business in the Capital</li>
	<li><strong><a href="https://www.fsb.org.uk/">Federation of Small Businesses (FSB)</a>:</strong> The FSB helps small businesses with advice and business services</li>
	<li><strong><a href="https://nfrnonline.com/">National Federation of Retail Newsagents (NFRN)</a>: </strong>The NFRN has practical advice and assistance for newsagents and convenience stores</li>
</ul>

<h3>Growing with us</h3>

<ul>
	<li><strong>Finding space:</strong> We can help you find space across London as your business expands or changes. Speak to us to find out more at <a href="mailto:BusinessDevelopment&#64;tfl.gov.uk">BusinessDevelopment&#64;tfl.gov.uk</a></li>
	<li><strong>Advertising:</strong> Millions of passenger journeys take place across our network every day. Our media partners can help you reach this audience, from posters at your local station to London-wide marketing campaigns. Find out about advertising your business on the <a href="/info-for/business-and-commercial/commercial-media">Commercial media page</a></li>
</ul>

<h2>Residential tenants</h2>

<p>We approach the care of residential tenants in a way that suits you and will help make sure you're happy in your home. This includes a dedicated helpdesk, available by phone 24 hours a day, and information on guidelines and regulations specific to residential properties. Find our more on our <a href="/info-for/business-and-commercial/residential-tenants">residential tenants page</a>.</p>

<h2>Feedback</h2>

<p>Your feedback helps us improve our performance. Find out how to <a href="/info-for/business-and-commercial/send-us-feedback">send your feedback</a>.</p>
</div>
 
      
        
          
            @this.ScriptBlock(
              @<script>
                queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
              </script>
            )
          
        
      
    </div>
  </div>
  <div class="aside" role="complementary">

   
    
    
    
      <div data-set="sidenav-container" class="large">
        
        
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
                <a href="/info-for/business-and-commercial/commercial-properties" class="heading">
                    <h2 id="sub-menu-heading">Commercial properties<span class="visually-hidden"> navigation</span></h2>
                </a>
                <ul>
                    
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/business-and-commercial/becoming-a-tenant">Becoming a tenant</a></div></li>
                            
 
                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/business-and-commercial/managing-my-property">Managing my property</a></div>
                                <ul>
                                    
                                        <li class="selected"><div class="link-wrapper"><a href="/info-for/business-and-commercial/commercial-tenants">Commercial tenants</a></div>
                                    </li>
 
                                <li><div class="link-wrapper"><a href="/info-for/business-and-commercial/guidance-and-policies">Guidance and policies</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/business-and-commercial/residential-tenants">Residential tenants</a></div></li>
                            
 
                                </ul>
                            </li>
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/business-and-commercial/our-property-portfolio">Our property portfolio</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/business-and-commercial/send-us-feedback">Send us feedback</a></div></li>
                            
 
                </ul>
            
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
      </div>
    
    <div>
























<div class="advert-tile unsponsored-style google-ads" aria-hidden="true">
  <div class="advert-link">
    <div class="advert-content">
        <div class="medium-large" data-advert="/76889402/non-targeted" data-advert-sizes="300, 250"></div>
        <div class="small" data-advert="/76889402/non-targeted" data-advert-sizes="300, 250"></div>
    </div>
  </div>
</div>
@{
    ViewBag.AmazonSlot = "'amznslots'";
    ViewBag.AmazonAds = "'3199'"; // to add another value, this needs to be ViewBag.AmazonAds = "'3199','xx'";
}
      

 </div>
    
    <div data-set="sidenav-container" class="small-medium"></div>
  </div>
</div>
 
 
        
        
        
            @{ViewBag.Description = "We want our commercial tenants to make the most of the community at our stations";}
        
            
        


 