
    
  



@{ViewBag.Title = "Commercial media";}
@{ViewBag.Keywords = "Businesses,TfL";}
@{ViewBag.Url = "/info-for/business-and-commercial/commercial-media";}
@{ViewBag.Language = "en";}
        <!-- empty placeholder -->
 
        
        
<div class="r">
    <div class="breadcrumb-container" role="navigation">
        <span id="breadcrumb-label" class="visually-hidden">You are here:</span>
        <ol class="breadcrumbs clearfix" aria-labelledby="breadcrumb-label">
            <li class="home">
                <a href="/">
                    <span class="hide-text">Home</span>
                </a>
            </li>
            
                 <li><a href="/info-for/business-and-commercial/index">Business & commercial</a></li>
                
            
            
                <li><span class="last-breadcrumb">Commercial media</span></li>
            
        
 
        
 
        </ol>
    </div>
</div>
     
 
<div class="r">
  <div class="headline-container plain">
    <h1>Commercial media</h1>

  </div>
</div>
<div class="main-and-aside r">
  
  <div class="main content-container" role="main">
    
      <div class="article-teaser">
        We have opportunities for you to connect with one of the world's most powerful audiences: the London commuter.
        
      </div>
    
    <div class="on-this-page">
      <h2>Connect with London commuters</h2>

<p>Our advertising strategy team are part of our ambitious programme to generate &pound;3.4bn in non-fares revenue over the next ten years. The money generated will be invested back into the transport network and help to keep fares down.</p>

<p>We do this by offering businesses the opportunity to connect with a particularly powerful audience: the London commuter.</p>

<p>Millions of passenger journeys take place across our network every day and our media partners can help you reach this audience. Engaging and entertaining opportunities on the Tube, trains, trams and buses, as well as roadside estate, are a real opportunity.</p>

<p>We can help your business do business by positioning your message in front of this influential, demanding, and active audience.</p>

<h2>Advertising policy</h2>

<p>Our advertising policy is designed to ensure that fair and consistent guidelines are applied to advertisements across our network. We also work to maintain a safe travelling environment for passengers, and a quality outdoor estate for advertisers. The most recent revisions to our policy came into effect in February 2019.</p>
      
           
      
<div>



<h2>Advertising and sponsorship policy</h2>



<div class="multi-document-download-container">
    

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/tfl-advertising-policy-250219.pdf">
    <div class="document-download-text">
        <p>Advertising policy - effective from 25 February 2019</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 26KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.03 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/policy-guidance-short-term-lettings-advertising.pdf">
    <div class="document-download-text">
        <p>Short term letting advertising - policy guidance</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 146KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.14 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/policy-guidance-food-and-drink-advertising.pdf">
    <div class="document-download-text">
        <p>Policy guidance - Food and drink advertising</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 305KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.30 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/tfl-advertising-policy-appendix-a-exceptions.pdf">
    <div class="document-download-text">
        <p>Appendix A - Exceptions guidance</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 239KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.23 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/hfss-exceptions-application-form.pdf">
    <div class="document-download-text">
        <p> Application for a product exception to the TfL Healthier Food Advertisement Policy </p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 67KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.07 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/gla-and-tfl-sponsorship-policy.pdf">
    <div class="document-download-text">
        <p>GLA and TfL sponsorship policy</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 99KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.10 -->
 
</div>

</div>
 
<div>



<h2>Advertising annual reports</h2>


Information on the implementation of our advertising policy. Includes the number of advertisements carried on the network, the number of advertisements rejected by us and our advertising partners and the number of complaints we have received.
<div class="multi-document-download-container">
    

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/tfl-advertising-report-1718.pdf">
    <div class="document-download-text">
        <p>Annual advertising report 2017/18</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 7.31MB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 7.31 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/annual-advertising-report-2016-17.pdf">
    <div class="document-download-text">
        <p>Annual advertising report 2016/17</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 1.72MB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 1.72 -->
 
</div>

</div>
 
<div>



<h2>Mayor's Advertising Steering Group</h2>



<div class="multi-document-download-container">
    

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/advertising-steering-group-minutes-january-2019.pdf">
    <div class="document-download-text">
        <p>Mayor's Advertising Steering Group minutes - January 2019</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 66KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.06 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/advertising-steering-group-agenda-january-2019.pdf">
    <div class="document-download-text">
        <p>Mayor's Advertising Steering Group agenda - January 2019</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 78KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.08 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/advertising-steering-group-minutes-july-2018.pdf">
    <div class="document-download-text">
        <p>Mayor's Advertising Steering Group minutes - July 2018</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 218KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.21 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/advertising-steering-group-minutes-feb2018.pdf">
    <div class="document-download-text">
        <p>Mayor's Advertising Steering Group minutes - February 2018</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 590KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.58 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/advertising-steering-group-agenda-feb2018.pdf">
    <div class="document-download-text">
        <p>Mayor's Advertising Steering Group agenda - February 2018</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 91KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.09 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/mayors-advertising-steering-group-minutes-july-2017.pdf">
    <div class="document-download-text">
        <p>Mayor's Advertising Steering Group minutes - July 2017</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 795KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.78 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/mayors-advertising-steering-group-agenda-july-2017.pdf">
    <div class="document-download-text">
        <p>Mayor's Advertising Steering Group agenda - July 2017</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 91KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.09 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/mayors-advertising-steering-group-minutes-february-2017-draft.pdf">
    <div class="document-download-text">
        <p>Mayor's Advertising Steering Group minutes, background papers and terms of reference - February 2017</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 574KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.56 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/mayors-advertising-steering-group-agenda-february-2017.pdf">
    <div class="document-download-text">
        <p>Mayor's Advertising Steering Group agenda - February 2017</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 105KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.10 -->
 
</div>

</div>
 <div>

<h2>Advertising partnership</h2>

<p>Our&nbsp;advertising partner&nbsp;Global are turning the Underground into the UK's largest single advertising network. By installing digital advertising in many of the busiest Underground stations, they are presenting advertising opportunities to the millions of people who use the London Underground each day. Your business message could take over entire platforms, stations or Tube lines.</p>

<p>Our services under the&nbsp;advertising partnership with Global include:</p>

<ul>
	<li>London Underground</li>
	<li>London Overground</li>
	<li>DLR</li>
	<li>Croydon Tram Link</li>
	<li>Victoria Coach Station</li>
	<li>The Elizabeth Line (Crossrail) when operational</li>
</ul>

<p>Other advertising opportunities&nbsp;include leaflet and free gift&nbsp;distribution and&nbsp;experiential or marketing events on the TfL&nbsp;network. For more information, or to discuss a brief, please contact TfL Commercial Partnerships team at: experientialmarketing&#64;tfl.tube.gov.uk</p>

<p><strong>Contact</strong></p>

<ul>
	<li><a href="https://outdoor.global.com/uk/our-products/rail/tfl-rail-estate/london-underground-advertising">Global</a></li>
</ul>

<h2>Buses</h2>

<p>With millions of people using our bus services each day, Global, our main partner for advertising space on buses, can offer a range of opportunities for bus interiors and exteriors. Alternatively, there is also a digital or static on-street presence run by JCDecaux, our partner for all advertising opportunities on bus shelters. Choose from a variety of media, including traditional poster sites and digital panels.</p>

<p><strong>Contact</strong></p>

<ul>
	<li><a href="https://outdoor.global.com/uk/our-products/road/bus-advertising">Global</a></li>
	<li><a href="http://www.jcdecaux.co.uk/">JCDecaux</a> (bus shelters)</li>
</ul>

<h2>Digital</h2>

<p>The TfL website&nbsp;gets over&nbsp;3 million&nbsp;page views&nbsp;daily and our digital advertising partner, the&nbsp;Council Advertising Network can work with brands to&nbsp;take advantage of opportunities that come with this exposure.</p>

<p><strong>Contact</strong></p>

<p><a href="https://www.counciladvertising.net/">Council Advertising Network</a></p>

<ul>
</ul>
</div>
 
      
        
          
            @this.ScriptBlock(
              @<script>
                queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
              </script>
            )
          
        
      
    </div>
  </div>
  <div class="aside" role="complementary">

   
    
    
    
      <div data-set="sidenav-container" class="large">
        
        
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
      </div>
    
    <div>
















<div class="advert-tile unsponsored-style google-ads" aria-hidden="true">
  <div class="advert-link">
    <div class="advert-content">
        <div class="medium-large" data-advert="/76889402/non-targeted" data-advert-sizes="300, 250"></div>
        <div class="small" data-advert="/76889402/non-targeted" data-advert-sizes="300, 250"></div>
    </div>
  </div>
</div>
@{
    ViewBag.AmazonSlot = "'amznslots'";
    ViewBag.AmazonAds = "'3199'"; // to add another value, this needs to be ViewBag.AmazonAds = "'3199','xx'";
}
      

 </div>
    
    <div data-set="sidenav-container" class="small-medium"></div>
  </div>
</div>
 
 
        
        
        
            @{ViewBag.Description = "Advertising opportunities across the TfL network";}
        
            
        


 