
    
  


<!-- rhroot -->
@{ViewBag.Title = "Commercial Innovation";}
@{ViewBag.Keywords = "TfL";}
@{ViewBag.Url = "/info-for/business-and-commercial/commercial-innovation";}
@{ViewBag.Language = "en";}
        <!-- empty placeholder -->
 
        
        
<div class="r">
    <div class="breadcrumb-container" role="navigation">
        <span id="breadcrumb-label" class="visually-hidden">You are here:</span>
        <ol class="breadcrumbs clearfix" aria-labelledby="breadcrumb-label">
            <li class="home">
                <a href="/">
                    <span class="hide-text">Home</span>
                </a>
            </li>
            
                 <li><a href="/info-for/business-and-commercial/index">Business & commercial</a></li>
                
            
            
                <li><span class="last-breadcrumb">Commercial Innovation</span></li>
            
        
 
        
 
        </ol>
    </div>
</div>
     
 
<div class="r">
  <div class="headline-container plain">
    <h1>Commercial Innovation</h1>

  </div>
</div>
<div class="main-and-aside r">
  
  <div class="main content-container" role="main">
    
      <div class="article-teaser">
        We do all we can to keep the city moving, working and growing and to make life in our city better. Innovation is at the heart of everything we do. Working with market innovators helps us deliver a better transport system for London.
        
      </div>
    
    <div class="on-this-page">
      
      
           
      <div>

<p>In order to solve the many and varied challenges we have, we must embrace and embed new products and technologies.</p>

<h2>Working with us</h2>

<p>We want to make it easy for market innovators to work with us so we are keeping this page up to date to share areas where we are looking for innovation. Whether you are a start-up or SME, a corporate, an accelerator, or an investor,&nbsp;<a href="https://airtable.com/shrxdVcfs2BClgx12">register your details on our innovator database</a>.&nbsp;&nbsp;We'll be in touch&nbsp;about our&nbsp;relevant&nbsp;future innovation calls and&nbsp;programmes as well as&nbsp;any queries related to&nbsp;your registered area(s) of interest. For anything else, email us at <a href="mailto:innovation&#64;tfl.gov.uk?subject=Innovation%20query">innovation&#64;tfl.gov.uk</a>.</p>

<h2>Current innovation opportunities</h2>

<h3>London FreightLab</h3>
</div>
 <div class="clearfix">
    <div class="image-box">
    
        
        
        <img src="/cdn/static/cms/images/freightlabpartnerslogo.jpg" alt="FreightLab partner logos" />
        
        
        
    </div>   
 </div>
 <div>

<p>In collaboration with the Mayor, we&nbsp;are looking for the best innovators to apply for an innovation challenge, London FreightLab, to develop new ways of tackling some of the biggest issues associated with freight and servicing in London.<br />
<br />
This new challenge is part of the Mayor's Civic Innovation Challenge, bringing&nbsp;together London's public and private sectors with tech companies to develop solutions to the most pressing problems facing the city, in partnership with Microsoft and the Social Tech Trust.<br />
<br />
During the pilot stage, London FreightLab offers&nbsp;funding, land sites and subject matter expertise&nbsp;for up to six innovative ideas which should&nbsp;help make the way goods move around London safer, cleaner and more efficient. These initiatives could be further developed and tested in later phases of the challenge.<br />
<br />
We are working with ten leading industry partners on the challenge, who will be using their expertise in the sector to evaluate the&nbsp;ideas and if&nbsp;they could work on a larger scale. These include:<br />
•&nbsp;&nbsp; &nbsp;CEVA Logistics<br />
•&nbsp;&nbsp; &nbsp;DPD<br />
•&nbsp;&nbsp; &nbsp;GNEWT<br />
•&nbsp;&nbsp; &nbsp;Guy's and St. Thomas' NHS Foundation Trust<br />
•&nbsp;&nbsp; &nbsp;John Lewis Partnership<br />
•&nbsp;&nbsp; &nbsp;Plexal<br />
•&nbsp;&nbsp; &nbsp;REEF Technology<br />
•&nbsp;&nbsp; &nbsp;Royal Mail<br />
•&nbsp;&nbsp; &nbsp;Thames Water<br />
•&nbsp;&nbsp; &nbsp;UPS<br />
<br />
<strong>Applications for innovators have now closed.&nbsp;</strong><br />
<br />
<a href="tfl.gov.uk/info-for/media/press-releases/2020/january/tfl-launches-freight-innovation-challenge-to-tackle-congestion-and-keep-goods-moving">For more information, please see our press release</a>.&nbsp;</p>
</div>
 <div>

<h3>Current Problem Statements</h3>

<p>We' re trialling sharing our problem statements with the market to source&nbsp;innovative solutions to our business and customer challenges.&nbsp;We would also like to hear about innovative&nbsp;products&nbsp;which could be useful to our organisation.</p>

<p><strong>Fare Evasion</strong></p>

<p>Please view the <a href="https://procontract.due-north.com/Advert?advertId=09f45c6c-4647-ea11-80ff-005056b64545">Problem Statement Prior Information Notice on Procontract</a>. The deadline for Market Sounding Questonnaire (MSQ) submissions is <strong>12 noon on 28 February 2020</strong>.&nbsp;</p>

<p>We are planning to launch these Problem Statements later this year:</p>

<ul>
	<li>Status of lifts</li>
	<li>Bus cooling</li>
</ul>

<p>Our Problem Statement Prior Information Notices (PINs) can be found on <a href="https://procontract.due-north.com">our e-tendering portal</a>&nbsp;and on <a href="https://ted.europa.eu">Tender Electronic Daily (TED)</a>.</p>

<p>Please note:</p>

<ul>
	<li>If you do not already have a Pro-Contract account, you will need to <a href="https://procontract.due-north.com/Register">register.</a></li>
	<li>We are trialling this approach to engage early with the market to share specific problem statements which may or may not lead to a procurement process.</li>
</ul>
</div>
 <div>

<h2>Our upcoming Innovation Programmes</h2>

<p>We're putting some of our biggest problems out to the market and asking it to respond with new solutions. Find out about our future innovation programmes:</p>

<h3>Upcoming challenges</h3>

<p>We are&nbsp;exploring possible future challenges on tackling bus driver fatigue, improving road safety and cycling. More information will be shared shortly.</p>

<h2>Previous Innovation Programmes</h2>

<p>We have seen some great new products come through our innovation programmes over the last year which are now being developed further:</p>
</div>
 <div class="clearfix">
    <div class="image-box right-float">
    
        
        
        <img src="/cdn/static/cms/images/bus-innov_rdax_400x250.png" alt="bus innovation" />
        
        
        
    </div>
    <h3>Bus Safety Innovation Challenge</h3>

<p>As part of Vision Zero, safety on the bus network is a priority. To help achieve this, we have launched the Bus Safety Innovation Challenge to identify new, innovative products and solutions which will improve the safety of London buses.</p>

<p>The cohort which has&nbsp;been selected to partner with bus operators to develop and trial their solutions are:</p>

<ul>
	<li>Humanising Autonomy</li>
	<li>Fusion Processing</li>
	<li>JBDL &#45; Vehicle Avoidance Lateral Lights</li>
	<li>Datik</li>
	<li>Lytx</li>
</ul>

<p>For more information visit the <a href="https://madeby.tfl.gov.uk/2019/04/17/bus-safety-innovation-challenge/">Bus Safety Innovation Challenge</a> website.</p>
 </div>
 <div class="clearfix">
    <div class="image-box right-float">
    
        
        
        <img src="/cdn/static/cms/images/connected-retail-london-banner_rdax_400x250.jpg" alt="image of connected retail London banner" />
        
        
        
    </div>
    <h3>Connected Retail London</h3>

<p>Following the launch of the Connected Retail London competition in March 2019, we&nbsp;challenged&nbsp;businesses to come up with an innovative&nbsp;technical&nbsp;concept that&nbsp;reimagines physical retail space&nbsp;<span style="line-height:107%">to meet the needs of our </span><span style="line-height:107%">customers.</span></p>

<p><span style="vertical-align:bottom">Following 29 entries and 10 shortlisted concepts, we are pleased to announce Sook as the winner.&nbsp;</span><span style="vertical-align:bottom">Sook's technology allows businesses and individuals to have a physical space as and when they need it. With time slots as short as one hour, Sook enables tailored retail space and encourages retailers to create their own digital interior.&nbsp;</span></p>

<p>For more information, visit the <a href="https://madeby.tfl.gov.uk/2019/05/13/connected-retail-london/">Connected Retail London</a> website.</p>
 </div>
 <div class="clearfix">
    <div class="image-box right-float">
    
        
        
        <img src="/cdn/static/cms/images/londonroadlab_rdax_400x250.jpg" alt="London RoadLab" />
        
        
        
    </div>
    <h3>London RoadLab</h3>

<p>London RoadLab is our first open innovation programme in partnership with the utilities, London councils and Plexal, an innovation centre based in Here East at London's Olympic Park. It aims&nbsp;to reduce the adverse impact of roadworks.</p>

<p>The cohort:</p>
 </div>
 <div class="clearfix">
    <div class="image-box campaign-graphic left-float">
    
        <img src="/cdn/static/cms/images/complogos.png" alt="image of company logos" />
    </div>
    <p><span style="vertical-align:bottom">Following 10 weeks of co-development with us, the cohort developed some great innovations and we're excited to announce Immense Simulations, Mobilized Construction, Route Reports and SAM as winners.</span></p> 
</div>
 <div class="clearfix">
    <div class="image-box right-float">
    
        
        
        <img src="/cdn/static/cms/images/civic-innovation-challenge_rdax_400x250.jpg" alt="Our team and the winners of the TfL challenges, Go Jauntly, VU.CITY, and Crossmap at the awards ceremony at City Hall" />
        <span class="caption">Winners of the TfL challenges, Go Jauntly, VU.CITY, and Crossmap at the awards</span>
        
        
    </div>
    <h3>Mayor's Civic Innovation</h3>

<p>In 2018, we worked with the Mayor's Office on his inaugural Civic Innovation Challenge. The challenge looked for start-ups to develop ways to reduce inequality, prevent climate change and support London's ageing population.</p>

<p>The winners were each&nbsp;given &pound;15,000 to jointly test and refine their ideas. We're now working with Go Jauntly to encourage more leisure time walking, and with VU.CITY and Crossmap to use our data to develop a housing analytics and visualisation platform.</p>

<h2>Our innovation collaborations</h2>

<p>We are also working with large corporates who have large R&amp;D activity focusing on London by sharing some of key goals in the Mayor's Transport Strategy which is resulting in the development of innovative solutions.</p>

<h3>London Connectory</h3>

<p>We're trialling an 20-month pilot partnership with Bosch to give small businesses and start-ups the opportunity to work with renowned experts and use cutting-edge data to tackle crucial transport challenges in London.</p>

<p>Working with Nitrous (a platform facilitating projects between the private sector, start ups and government), Bosch have opened a new 'Connectory' facility in Shoreditch, providing space and facilities for us&nbsp;and selected start-ups to work alongside Bosch's experts as well as&nbsp;private, academic and public sector partners.&nbsp;</p>

<p>London Connectory focuses on the urban mobility challenges facing Londoners, including innovations that mean more efficient, greener and safer vehicles, reducing congestion, improving accessibility and encouraging more people to walk, cycle and take public transport.</p>

<p>We provide technical knowledge and a wide range of datasets, leveraging our Unified API and open data products&nbsp;to allow companies to test ideas and understand patterns in more detail. In return, Bosch dedicates professionals to provide technical expertise, guidance and mentoring.</p>

<p>Further details will be released soon by Bosch on their plans to consider direct approaches by small business/start ups who want to be part of the Connectory community.</p>

<h3>Waze</h3>

<p>Getting the latest traffic information direct to drivers when and where they want it is crucial to avoiding delays and minimising congestion in the city.&nbsp;In 2016, we joined Waze's global Connected Citizens Program which enables us to share our data with Waze&nbsp;and receive their real time incident data in exchange. Our partnership means that London's road users have accurate information to plan their journeys and opens up Waze's valuable real time data to help us manage London's busy road network. Our partnership has grown and developed over the years as we've worked together to deliver a range of benefits to Londonners. In 2017, we used their platform to remind drivers approaching the Blackwall Tunnel to refuel before entering the tunnel. As a result, we saw a significant increase in Waze users re-route to a nearby petrol station, drastically reducing the risk of breakdowns from lack of fuel.</p>

<h3>What3Words</h3>

<p>We have been working with What3Words to explore possible use cases for using&nbsp;their innovative geocode system to communicate&nbsp;locations. Our Compliance, Policing and On-Street Operations (CPOS) Officers are trialling What3Words to identify precise locations during their everyday operations.</p>

<p>We're always on the lookout for partnerships that will help us continue our drive for innovation and customer empowerment, and we'd encourage any companies or organisations who are keen to work with us to get in touch to explore the possibilities.</p>
 </div>
 
      
        
          
            @this.ScriptBlock(
              @<script>
                queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
              </script>
            )
          
        
      
    </div>
  </div>
  <div class="aside" role="complementary">

   
    
    
    
    <div>
















<div class="advert-tile unsponsored-style google-ads" aria-hidden="true">
  <div class="advert-link">
    <div class="advert-content">
        <div class="medium-large" data-advert="/76889402/non-targeted" data-advert-sizes="300, 250"></div>
        <div class="small" data-advert="/76889402/non-targeted" data-advert-sizes="300, 250"></div>
    </div>
  </div>
</div>
@{
    ViewBag.AmazonSlot = "'amznslots'";
    ViewBag.AmazonAds = "'3199'"; // to add another value, this needs to be ViewBag.AmazonAds = "'3199','xx'";
}
      

 </div>
    
    <div data-set="sidenav-container" class="small-medium"></div>
  </div>
</div>
 
 
        
        
        
            @{ViewBag.Description = "Whether you are a start-up or SME, a corporate, an accelerator, or an investor, we want to talk with you about how we can improve London and TfL.";}
        
            
        


 