
    
  



@{ViewBag.Title = "Digital Sign";}
@{ViewBag.Keywords = "TfL";}
@{ViewBag.Url = "/info-for/business-and-commercial/digital-signs";}
@{ViewBag.Language = "en";}
        <!-- empty placeholder -->
 
        
        
<div class="r">
    <div class="breadcrumb-container" role="navigation">
        <span id="breadcrumb-label" class="visually-hidden">You are here:</span>
        <ol class="breadcrumbs clearfix" aria-labelledby="breadcrumb-label">
            <li class="home">
                <a href="/">
                    <span class="hide-text">Home</span>
                </a>
            </li>
            
                 <li><a href="/info-for/business-and-commercial/index">Business & commercial</a></li>
                
            
            
                <li><span class="last-breadcrumb">Digital Sign</span></li>
            
        
 
        
 
        </ol>
    </div>
</div>
     
 
<div class="r">
  <div class="headline-container plain">
    <h1>Digital Sign</h1>

  </div>
</div>
<div class="main-and-aside r">
  
  <div class="main content-container" role="main">
    
      <div class="article-teaser">
        If you're an organisation keen to offer employees and customers the benefits of live bus arrival information, Digital Sign is the solution.
        
      </div>
    
    <div class="on-this-page">
      
      
           
      <div>

<p>Our award-winning Digital Sign service is a unique and innovative way to provide your customers or employees with live bus arrival information. And now, it's easier than ever to make it a part of your organisation.</p>
</div>
 <div class="clearfix">
    <div class="image-box right-float">
    
        
        
        <img src="/cdn/static/cms/images/signs1_rdax_400x250.jpg" alt="Digital Signs image" />
        
        
        
    </div>
    <h2>About the Digital Sign</h2>
<p>The Digital Sign is a packaged service which uses our live bus arrival data to display up to four bus stops and a map of your local area which pinpoints the displayed stops. Each bus stop on the map has its own arrival board showing predictions for bus arrivals.</p>
<p>We provide the Digital Sign as a web link (URL) so it can easily be configured to automatically display in a web browser on your own TV screen or a PC. This means you can get your Digital Sign working quickly and at minimal cost.</p>
 </div>
 <div>

<h2>Suitable locations </h2>
<p>Digital Signs work best indoors, so they can easily be set up in places like hospital receptions, town halls and libraries, as well as commercially-owned premises like shopping centres, supermarkets and entertainment venues. </p>
<h2>Benefits for you and your customers</h2>
<ul>
    <li>You can display the Digital Sign on your own equipment, which makes it quick and easy to set up </li>
    <li>Having the Digital Sign on your premises is an economical and low-cost way to provide useful travel information for customers and employees, especially those who are vulnerable or unfamiliar with the area and might benefit from planning their journey in advance </li>
    <li>Whether it's other transport mode information, weather updates, local news, or your own advertising, the Digital Sign can be used at the same time </li>
    <li>Your Digital Sign displays the same information as all our other Live Bus Arrivals services, so if service disruptions affect local routes, messages are displayed prominently on the sign to make sure your customers are kept well informed </li>
    <li>Instead of dedicating staff and other resources to creating and maintaining your own live bus arrival information service using the API, we can:    </li>
    <ul>
        <li>Create a sign for you - just let us know which stops you want to display or we can even pick the stops for you </li>
        <li>Make changes to the order of the stops displayed, etc, or make a quick change at your request </li>
        <li>Offer expertise if you need help to decide which stops to display for your customers </li>
    </ul>
    <li>Displaying up to four stops on one sign means that customers can make more informed decisions quickly and at a glance </li>
</ul>
<h2>River bus arrival times on the Digital Sign</h2>
<p>Pier stops can be displayed on the Digital Sign which means you can display live river bus arrival information alongside bus arrival information.</p>
<h2>Further developments to the Digital Sign</h2>
<h3>Bus station Digital Signs</h3>
<p>Digital Sign technology has been enhanced to improve its use in more complex environments, like interchanges and bus stations. For example, bus stations often have more than four bus stops and require a way to help passengers locate the stops on the bus station.</p>
<p>We have also worked with our suppliers to develop a sign that's robust, secure, weatherproof and fit for purpose in exposed environments. A trial is currently underway with Digital Signs now installed at Harrow, Vauxhall, East Croydon, North Greenwich and Walthamstow&nbsp;bus stations. Further installations are planned for later this year.</p>
<h2>Interested in a Digital Sign?</h2>
<p>For more information about the Digital Sign, or to request a welcome pack, contact <a href="mailto:Digisign.countdown&#64;tfl.gov.uk">Digisign.countdown&#64;tfl.gov.uk</a>.</p>
<p>Once we receive your completed application form we'll review it and check the location and stops to be included as well as the technical capabilities. Once agreed by both parties, we'll then set up the service and provide an exclusive web link (URL) which contains your unique Digital Sign.</p>
<p><strong>*Digital Signs are not for individuals but for organisations wishing to display bus arrival information. If an individual wishes to access this information <a href="/modes/buses/index">please use live bus arrivals</a>.</strong></p>
</div>
 
      
        
          
            @this.ScriptBlock(
              @<script>
                queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
              </script>
            )
          
        
      
    </div>
  </div>
  <div class="aside" role="complementary">

   
    
    
    
      <div data-set="sidenav-container" class="large">
        
        
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
      </div>
    
    <div>
















<div class="advert-tile unsponsored-style google-ads" aria-hidden="true">
  <div class="advert-link">
    <div class="advert-content">
        <div class="medium-large" data-advert="/76889402/non-targeted" data-advert-sizes="300, 250"></div>
        <div class="small" data-advert="/76889402/non-targeted" data-advert-sizes="300, 250"></div>
    </div>
  </div>
</div>
@{
    ViewBag.AmazonSlot = "'amznslots'";
    ViewBag.AmazonAds = "'3199'"; // to add another value, this needs to be ViewBag.AmazonAds = "'3199','xx'";
}
      

 </div>
    
    <div data-set="sidenav-container" class="small-medium"></div>
  </div>
</div>
 
 
        
        
        
            @{ViewBag.Description = "Use our Digital Sign service to give your employees and customers the benefits of live bus arrival information";}
        
            
        


 