
    
  



@{ViewBag.Title = "Guidance and policies";}
@{ViewBag.Keywords = "TfL";}
@{ViewBag.Url = "/info-for/business-and-commercial/guidance-and-policies";}
@{ViewBag.Language = "en";}
        <!-- empty placeholder -->
 
        
        
<div class="r">
    <div class="breadcrumb-container" role="navigation">
        <span id="breadcrumb-label" class="visually-hidden">You are here:</span>
        <ol class="breadcrumbs clearfix" aria-labelledby="breadcrumb-label">
            <li class="home">
                <a href="/">
                    <span class="hide-text">Home</span>
                </a>
            </li>
            
                 <li><a href="/info-for/business-and-commercial/index">Business & commercial</a></li>
                
            
                 <li><a href="/info-for/business-and-commercial/commercial-properties">Commercial properties</a></li>
                
            
                 <li><a href="/info-for/business-and-commercial/managing-my-property">Managing my property</a></li>
                
            
            
                <li><span class="last-breadcrumb">Guidance and policies</span></li>
            
        
 
        
 
        
 
        
 
        </ol>
    </div>
</div>
     
 
<div class="r">
  <div class="headline-container plain">
    <h1>Guidance and policies</h1>

  </div>
</div>
<div class="main-and-aside r">
  
  <div class="main content-container" role="main">
    
      <div class="article-teaser">
        We've pulled together advice to help you keep your property safe and well-maintained.
        
      </div>
    
    <div class="on-this-page">
      <h2>Statement of Support for Small Businesses</h2>

<p>Small businesses are the drivers of the capital's growth, keeping London the best city anywhere in the world. And small businesses are the vast majority of our commercial estate, and always will be. Working together, we and small business are central to London's growth and we want to support them as they support us.</p>

<p>We are where London business thrives.</p>

<p>Our Statement of Support for Small Business sets out our approach to working with small businesses on our estate, including how we will make sure that we are open and transparent.</p>

<p>We know that the breadth of our estate and our unique position as a public transport authority mean that we have to be responsible. We set market rents and all rent that we receive from our customers is reinvested in the transport network. Our ambition for customer experience is to go far beyond just talking about rent levels. This means we are open with our customers about how we set rents, transparent in our negotiations and better in how we deliver customer service.</p>

<p>We want to be easy to do business with, engaging to customers, and enriching to their businesses, their communities and London.</p>
      
           
      
<div>





<div class="multi-document-download-container">
    

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/tfl-statement-of-support-for-small-businesses.pdf">
    <div class="document-download-text">
        <p>Statement of Support for Small Businesses</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 96KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.09 -->
 
</div>

</div>
 <div>

<h2>Property fit-out</h2>

<p>We want you to make the most of your property so it works best for your business. We will support you through maintenance and fit-outs. Working with your property surveyor, you can agree a safe system of works for the task you want to carry out.</p>

<p>First, discuss the work you want to carry out with your property manager. You'll need to have written approval of your proposals from us before doing any works.</p>
</div>
 
<div>




<h3>Retail design standards </h3>
<p>Our design standards tell you about our technical requirements for new property fit-outs and upgrade works. Your property surveyor can help you to understand these requirements.</p>
<div class="multi-document-download-container">
    

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/retail-design-standards.pdf">
    <div class="document-download-text">
        <p>Retail design guide</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 21.10MB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 21.10 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/appendix-7-technical-guide-september-2018.pdf">
    <div class="document-download-text">
        <p>Retail technical guide</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 414KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.40 -->
 
</div>

</div>
 
<div>




<h3>Property design checklist</h3>
<p>Use this checklist to remind you what information you'll need to submit when you request a change of design for your property.</p>
<div class="multi-document-download-container">
    

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/appendix-2-design-submission-checklist.pdf">
    <div class="document-download-text">
        <p>Appendix 2 - design submission checklist</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 165KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.16 -->
 
</div>

</div>
 
<div>




<h3>Change request form</h3>
<p>If you'd like to change anything at your property, you'll need to complete this form and send it to us.&nbsp;</p>
<div class="multi-document-download-container">
    

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/appendix-1-lul-premises-change-request.pdf">
    <div class="document-download-text">
        <p>Appendix 1 - LUL premises change request</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 291KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.28 -->
 
</div>

</div>
 
<div>




<h3>London Underground Access Card</h3>
<p>If your property is in a London Underground station and you need access to operational areas, you'll need a London Underground Access (LUAS) card. You'll also need our approval before your maintenance contractors start work on our premises.</p>
<div class="multi-document-download-container">
    

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/appendix-4-tfl-luas-card-application.pdf">
    <div class="document-download-text">
        <p>Appendix 4 - LUAS card application</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 158KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.15 -->
 
</div>

</div>
 <div>

<h3>Legislation</h3>
<p>UK government regulations advise you on safely fitting out and operating a business:</p>
<ul>
    <li><a href="http://www.legislation.gov.uk/uksi/2009/782/contents/made">Sub-surface Regulations 2009</a></li>
    <li><a href="http://www.legislation.gov.uk/uksi/2005/1541/contents/made">Regulatory Reform (Fire Safety) Order 2005</a></li>
    <li><a href="http://www.legislation.gov.uk/uksi/2010/2214/contents/made">Building Regulations 2010</a></li>
</ul>
<p>The process of reviewing your application will incur a surveying fee and legal fees for formalising and recording the works. These fees will be appropriate for the level of work to be done.</p>
</div>
 
<div>



<h2>Health, safety and environment</h2>


<h3>Health and safety</h3>
<p>We'll visit you annually to check that your property complies with the provisions of your lease.</p>
<p>You are responsible for the statutory compliance of the property and all systems which include but not limited to these surveys and certificates:</p>
<ul>
    <li>Asbestos survey and management plan</li>
    <li>Fire alarm system</li>
    <li>Fire risk assessment</li>
    <li>Fire extinguishers</li>
    <li>Electrical test certification</li>
    <li>Pressure vessel certificates (if applicable)</li>
    <li>Emergency lighting</li>
    <li>Lifting equipment insurance examination (if applicable)</li>
</ul>
<p>These and other topics are covered on the <a href="http://www.hse.gov.uk/guidance/topics.htm">Health &amp; Safety Executive website</a>.</p>
<p>Your property surveyor can help you understand what is needed and your lease requirements. You must  report incidents and accidents to them.</p>
<div class="multi-document-download-container">
    

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/appendix-5-landlord-unit-inspection.pdf">
    <div class="document-download-text">
        <p>Appendix 5 - Landlord unit inspection</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 169KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.17 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/appendix-7-contract-quensh-conditions.pdf">
    <div class="document-download-text">
        <p>Appendix 7 - Contract QUENSH conditions</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 529KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.52 -->
 
</div>

</div>
 <div>

<h3>Fire and electrics</h3>
<p>It's a priority for us that your property is safe, so make sure your property complies with all fire precautions:</p>
<ul>
    <li>Check that the fire extinguishers are full and in working order and maintained every 12 months</li>
    <li>Know your fire escape routes and procedures</li>
    <li>Keep flammable stocks to a minimum and where appropriate in suitable storage containers</li>
    <li>Make sure all electrical equipment has been PAT tested before use</li>
</ul>
<h3>Waste and sustainability</h3>
<p>We encourage tenants to act responsibly and ethically by reducing the amount of packaging used and looking at the environmental impact of fit-outs. Waste disposal is managed across the network in different ways and is determined at different locations on a case-by-case basis.</p>
<p>Your designated property surveyor and your local operational contact will have more information.</p>
<h3>Security</h3>
<p>Security continues to be of paramount importance - as a TfL tenant, you play a key role in keeping London safe.</p>
<p>Report anything suspicious to a member of TfL staff or call the British Transport Police on 0800 40 50 40 or text 61016.</p>
<p>If the property is in a station, all staff must sign in at the station supervisor's office and sign out on departure. You will need a LUAS card for access to operational areas. </p>
</div>
 
<div>




<p>Our security guidance leaflet has more information.</p>
<div class="multi-document-download-container">
    

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/security-guidance-for-tfl-tenants.pdf">
    <div class="document-download-text">
        <p>Security guidance for TfL tenants</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 705KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.69 -->
 
</div>
<h2>Maintenance</h2>
<p>It is your responsibility to complete planned maintenance to keep your property safe and functioning properly. We need to ensure compliance with our safety standards and fire safety - to help with this we've set out your maintenance responsibilities in your lease.</p>
<p>Working closely with your designated property surveyor is the best way to create a customer-friendly and safe environment for our passengers.</p>
<p>If you're unsure of your maintenance responsibilities, please get in touch with your designated property surveyor or email us at <a href="mailto:pmqueries&#64;tfl.gov.uk">pmqueries&#64;tfl.gov.uk</a>.</p>
</div>
 
      
        
          
            @this.ScriptBlock(
              @<script>
                queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
              </script>
            )
          
        
      
    </div>
  </div>
  <div class="aside" role="complementary">

   
    
    
    
      <div data-set="sidenav-container" class="large">
        
        
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
                <a href="/info-for/business-and-commercial/commercial-properties" class="heading">
                    <h2 id="sub-menu-heading">Commercial properties<span class="visually-hidden"> navigation</span></h2>
                </a>
                <ul>
                    
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/business-and-commercial/becoming-a-tenant">Becoming a tenant</a></div></li>
                            
 
                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/business-and-commercial/managing-my-property">Managing my property</a></div>
                                <ul>
                                    
                                <li><div class="link-wrapper"><a href="/info-for/business-and-commercial/commercial-tenants">Commercial tenants</a></div></li>
                            
 
                                        <li class="selected"><div class="link-wrapper"><a href="/info-for/business-and-commercial/guidance-and-policies">Guidance and policies</a></div>
                                    </li>
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/business-and-commercial/residential-tenants">Residential tenants</a></div></li>
                            
 
                                </ul>
                            </li>
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/business-and-commercial/our-property-portfolio">Our property portfolio</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/business-and-commercial/send-us-feedback">Send us feedback</a></div></li>
                            
 
                </ul>
            
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
      </div>
    
    <div>
























<div class="advert-tile unsponsored-style google-ads" aria-hidden="true">
  <div class="advert-link">
    <div class="advert-content">
        <div class="medium-large" data-advert="/76889402/non-targeted" data-advert-sizes="300, 250"></div>
        <div class="small" data-advert="/76889402/non-targeted" data-advert-sizes="300, 250"></div>
    </div>
  </div>
</div>
@{
    ViewBag.AmazonSlot = "'amznslots'";
    ViewBag.AmazonAds = "'3199'"; // to add another value, this needs to be ViewBag.AmazonAds = "'3199','xx'";
}
      

 </div>
    
    <div data-set="sidenav-container" class="small-medium"></div>
  </div>
</div>
 
 
        
        
        
            @{ViewBag.Description = "Guidance on how to maintain and secure the property you rent/lease from TfL";}
        
            
        


 