
    
  



@{ViewBag.Title = "Land enquiries";}
@{ViewBag.Keywords = "TfL";}
@{ViewBag.Url = "/info-for/business-and-commercial/land-enquiries";}
@{ViewBag.Language = "en";}
        <!-- empty placeholder -->
 
        
        

  <div class="section-image-container medium-large" data-highlight-image="/cdn/static/cms/images/promos/land-enquiries.jpg" data-highlight-for=".section-image-container" data-highlight-size="medium-large" style="background-image: url(/cdn/static/cms/images/promos/land-enquiries.jpg)"> </div>

<div class="r">
    <div class="breadcrumb-container" role="navigation">
        <span id="breadcrumb-label" class="visually-hidden">You are here:</span>
        <ol class="breadcrumbs clearfix" aria-labelledby="breadcrumb-label">
            <li class="home">
                <a href="/">
                    <span class="hide-text">Home</span>
                </a>
            </li>
            
                 <li><a href="/info-for/business-and-commercial/index">Business & commercial</a></li>
                
            
                 <li><a href="/info-for/business-and-commercial/commercial-properties">Commercial properties</a></li>
                
            
                 <li><a href="/info-for/business-and-commercial/our-property-portfolio">Our property portfolio</a></li>
                
            
            
                <li><span class="last-breadcrumb">Land enquiries</span></li>
            
        
 
        
 
        
 
        
 
        </ol>
    </div>
</div>
     
 

  
  <div class="r">
    <div class="headline-container section-title section-landing-container ">
      <div class="section-title-wrap">
        <h1 class="hero-headline">Land enquiries</h1>
        
      </div>
    </div>
  </div>



    
   
    <div class="r">
        <div class="main clearfix" role="main">
            
        
        
            <div class="section-overview full-width clearfix ">
                <div class="small-medium" data-set="section-intro"></div>
                <div>
                    <div class="large" data-set="section-intro">
                        
                    </div>
                <p>We are one of London's largest landowners, with a wide range of space across the Capital. You can ask about buying or leasing land from us.</p>
                </div>
            </div>
        
         
        
        
        
                
                <div class="clearfix">
                    <div>

<p>Our land is used to keep London moving, working and growing - but we do consider applications to buy or lease land from us.</p>
<p>We will first check to see if the land you're interested is currently used or may be needed in the future to help us run our services. </p>
<p>If you want to enquire about land we own, email <a href="mailto:OperationalProperty&#64;tfl.gov.uk?Subject=Land%20enquiry">OperationalProperty&#64;tfl.gov.uk</a>.</p>
<p>Your enquiry must include:</p>
<ul>
    <li>Address of the land, including postcode</li>
    <li>Borough</li>
    <li>Description of proposed use of land</li>
    <li>Ownership status - you can get this by using the <a href="https://tfl.maps.arcgis.com/apps/webappviewer/index.html?id=5129c766255941d3be16a6828faa8f18">TfL Property Asset Register</a> as well as any associated Land Registry documents</li>
    <li>Plan showing area of interest marked</li>
    <li>Any other supporting information including images of the land</li>
</ul>
<p>We expect that a typical sale - including checks, valuation of the property and legal transfer - will take a minimum of six months to complete.</p>
</div>
 
                </div>
                <hr>
                
                
                <div class="module-grid clearfix">
                    
                    
                    
                    
                </div>
        
        
        
          
        
    </div>
    
      
      <div class="aside no-full-width-intro" role="complementary">
    
        <div data-set="sidenav-container" class="large">
          
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
                <a href="/info-for/business-and-commercial/commercial-properties" class="heading">
                    <h2 id="sub-menu-heading">Commercial properties<span class="visually-hidden"> navigation</span></h2>
                </a>
                <ul>
                    
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/business-and-commercial/becoming-a-tenant">Becoming a tenant</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/business-and-commercial/managing-my-property">Managing my property</a></div></li>
                            
 
                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/business-and-commercial/our-property-portfolio">Our property portfolio</a></div>
                                <ul>
                                    
                                <li><div class="link-wrapper"><a href="/info-for/business-and-commercial/retail">Retail</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/business-and-commercial/arches-and-industrial">Arches and industrial</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/business-and-commercial/offices">Offices</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/business-and-commercial/other-opportunities">Pop ups, pitches and more</a></div></li>
                            
 
                                        <li class="selected"><div class="link-wrapper"><a href="/info-for/business-and-commercial/land-enquiries">Land enquiries</a></div>
                                    </li>
 
                                </ul>
                            </li>
 
                                <li><div class="link-wrapper"><a href="/info-for/business-and-commercial/send-us-feedback">Send us feedback</a></div></li>
                            
 
                </ul>
            
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>
        <div class="module-grid clearfix">
          
























<div class="advert-tile unsponsored-style google-ads" aria-hidden="true">
  <div class="advert-link">
    <div class="advert-content">
        <div class="medium-large" data-advert="/76889402/non-targeted" data-advert-sizes="300, 250"></div>
        <div class="small" data-advert="/76889402/non-targeted" data-advert-sizes="300, 250"></div>
    </div>
  </div>
</div>
@{
    ViewBag.AmazonSlot = "'amznslots'";
    ViewBag.AmazonAds = "'3199'"; // to add another value, this needs to be ViewBag.AmazonAds = "'3199','xx'";
}
      

 
          
        </div>
        <div data-set="sidenav-container" class="small-medium"></div>
      </div>
  </div>
 
        
        
        
            @{ViewBag.Description = "Get in touch if you want to enquire about land we own";}
        
            
        


 