
    
  



@{ViewBag.Title = "Managing my property";}
@{ViewBag.Keywords = "TfL";}
@{ViewBag.Url = "/info-for/business-and-commercial/managing-my-property";}
@{ViewBag.Language = "en";}
        <!-- empty placeholder -->
 
        
        

  

<div class="r">
    <div class="breadcrumb-container" role="navigation">
        <span id="breadcrumb-label" class="visually-hidden">You are here:</span>
        <ol class="breadcrumbs clearfix" aria-labelledby="breadcrumb-label">
            <li class="home">
                <a href="/">
                    <span class="hide-text">Home</span>
                </a>
            </li>
            
                 <li><a href="/info-for/business-and-commercial/index">Business & commercial</a></li>
                
            
                 <li><a href="/info-for/business-and-commercial/commercial-properties">Commercial properties</a></li>
                
            
            
                <li><span class="last-breadcrumb">Managing my property</span></li>
            
        
 
        
 
        
 
        </ol>
    </div>
</div>
     
 

  
  <div class="r">
    <div class="headline-container section-title section-landing-container ">
      <div class="section-title-wrap">
        <h1 class="hero-headline">Managing my property</h1>
        
      </div>
    </div>
  </div>



    
   
    <div class="r">
        <div class="main clearfix" role="main">
            
        
        
            <div class="section-overview full-width clearfix ">
                <div class="small-medium" data-set="section-intro"></div>
                <div>
                    <div class="large" data-set="section-intro">
                        
                    </div>
                <p>We offer our tenants ongoing customer support, from fitting out your property to advice on maintenance. We&nbsp; want to provide you with the guidance and information you need to be able to focus on what is important to you - your business and your customers. </p>
                </div>
            </div>
        
         
        
        
        
                
                <div class="clearfix">
                    <div class="news-teaser">

    <a href="/info-for/business-and-commercial/our-property-portfolio?intcmp=53760" >
        
        
        <div class="text-link">
             <h2>Our property portfolio</h2>
            <p>From pop ups to shops in arches and industrial spaces, see what we can offer</p>
        </div>
    </a>
</div>
 
 <div>

<hr />
<h3>Fraud awareness</h3>

<p>Fraudsters can target businesses and individuals by sending emails that look genuine, asking to send money to new bank account details that look like they are from a bank or another legitimate company but are actually from a fraudster. This is called <strong>Payment Diversion Fraud</strong> or <strong>Mandate Fraud</strong>.</p>

<p><strong>If BNP Paribas Real Estate or Transport for London change the bank account details that you are asked to pay into, we will always advise of this in advance in a separate notification to your invoice in the form of written correspondence and/or email. We will never simply change the bank account details on your invoice.</strong></p>

<p>Here are our top tips for to avoid being defrauded:</p>

<ul>
	<li>Make sure you are protected by a security software and use strong, unique passwords for all computer accounts</li>
	<li>Make sure all contact details are genuine by comparing with previous letters and emails. Check our website, making sure it's the secure website, look for 'https' and/or a padlock in the search bar</li>
	<li>Make sure your insurance covers you for being defrauded</li>
	<li>Look at any invoice or email carefully &#45; The tone/font can be slightly off with fraud &#45; make sure the email is one you recognise</li>
	<li>If something seems off &#45; report it and don't open any attachments as they could contain malware</li>
	<li>If you think someone is trying to defraud you, report it to the police at <a href="https://reporting.actionfraud.police.uk">https://reporting.actionfraud.police.uk </a>and your bank. If someone is impersonating us, please also let us know on <a href="mailto:pmqueries&#64;tfl.gov.uk?subject=Fraud%20awareness">pmqueries&#64;tfl.gov.uk</a></li>
</ul>

<p>Our top tip is to always be vigilant and<strong> </strong><strong>if in doubt, ask questions</strong>.&nbsp;</p>
</div>
 
                </div>
                <hr>
                
                
                <div class="module-grid clearfix">
                    
                    
                    
                    <div class="news-teaser">

    <a href="/info-for/business-and-commercial/commercial-tenants?intcmp=53757" >
        <img src="/cdn/static/cms/images/promos/south-kensinton-restaurant-interior-teaser_rdax_400x200.jpg" alt="honest burgers interior" />
        
        <div class="text-link">
             <h2>Commercial tenants</h2>
            <p>How to manage your commercial property, plus advice on growing your business</p>
        </div>
    </a>
</div>
 
 <div class="news-teaser">

    <a href="/info-for/business-and-commercial/residential-tenants?intcmp=53788" >
        <img src="/cdn/static/cms/images/promos/residential-tenants-teaser_rdax_400x200.jpg" alt="residential street" />
        
        <div class="text-link">
             <h2>Residential tenants</h2>
            <p>Find out more about contacting us as well as insuring safety and reporting faults</p>
        </div>
    </a>
</div>
 
 <div class="news-teaser">

    <a href="/info-for/business-and-commercial/guidance-and-policies?intcmp=53782" >
        
        
        <div class="text-link">
             <h2>Guidance and policies</h2>
            <p>Our information will help keep your property safe and maintained</p>
        </div>
    </a>
</div>
 
 <div class="news-teaser">

    <a href="/info-for/business-and-commercial/send-us-feedback?intcmp=53737" >
        
        
        <div class="text-link">
             <h2>Send us feedback</h2>
            <p>We use your comments to improve our service</p>
        </div>
    </a>
</div>
 
 
                </div>
        
        
        
          
        
    </div>
    
      
      <div class="aside no-full-width-intro" role="complementary">
    
        <div data-set="sidenav-container" class="large">
          
        </div>
        <div class="module-grid clearfix">
          




















<div class="advert-tile unsponsored-style google-ads" aria-hidden="true">
  <div class="advert-link">
    <div class="advert-content">
        <div class="medium-large" data-advert="/76889402/non-targeted" data-advert-sizes="300, 250"></div>
        <div class="small" data-advert="/76889402/non-targeted" data-advert-sizes="300, 250"></div>
    </div>
  </div>
</div>
@{
    ViewBag.AmazonSlot = "'amznslots'";
    ViewBag.AmazonAds = "'3199'"; // to add another value, this needs to be ViewBag.AmazonAds = "'3199','xx'";
}
      

 
          <div>
    
    <div class="contact-info-box">
        <div class="contact-info-header">
            <h3>Contact us</h3>
        </div>
        
        
            
        
        
            
                
                 
        
        
        
        
        
        
        <div class="content-group">
            If you cannot find the information you need, please speak directly to your surveyor or email us at <a href="mailto:pmqueries&#64;tfl.gov.uk">pmqueries&#64;tfl.gov.uk</a><br />
        </div>
        
    </div>
</div>
 
        </div>
        <div data-set="sidenav-container" class="small-medium"></div>
      </div>
  </div>
 
        
        
        
            @{ViewBag.Description = "What it means to be either a commercial or residental TfL tenant";}
        
            
        


 