
    
  



@{ViewBag.Title = "Our property portfolio";}
@{ViewBag.Keywords = "TfL";}
@{ViewBag.Url = "/info-for/business-and-commercial/our-property-portfolio";}
@{ViewBag.Language = "en";}
        <!-- empty placeholder -->
 
        
        

  

<div class="r">
    <div class="breadcrumb-container" role="navigation">
        <span id="breadcrumb-label" class="visually-hidden">You are here:</span>
        <ol class="breadcrumbs clearfix" aria-labelledby="breadcrumb-label">
            <li class="home">
                <a href="/">
                    <span class="hide-text">Home</span>
                </a>
            </li>
            
                 <li><a href="/info-for/business-and-commercial/index">Business & commercial</a></li>
                
            
                 <li><a href="/info-for/business-and-commercial/commercial-properties">Commercial properties</a></li>
                
            
            
                <li><span class="last-breadcrumb">Our property portfolio</span></li>
            
        
 
        
 
        
 
        </ol>
    </div>
</div>
     
 

  
  <div class="r">
    <div class="headline-container section-title section-landing-container ">
      <div class="section-title-wrap">
        <h1 class="hero-headline">Our property portfolio</h1>
        
      </div>
    </div>
  </div>



    
   
    <div class="r">
        <div class="main clearfix" role="main">
            
        
        
            <div class="section-overview full-width clearfix ">
                <div class="small-medium" data-set="section-intro"></div>
                <div>
                    <div class="large" data-set="section-intro">
                        
                    </div>
                <p>We take pride in being able to offer everything from a business space where you can test a new idea as a pop up, through to modern industrial spaces or central London offices. The size of our estate and our ability to offer properties across London with flexible leases means that we can work with you to fulfil your changing business needs.</p>
                </div>
            </div>
        
         
        
        
        
                
                <div class="clearfix">
                    <div class="news-teaser">

    <a href="https://tfl.completelygroup.com/?intcmp=52564&intcmp=53763" >
        
        
        <div class="text-link">
             <h2>Available properties</h2>
            <p>Search our database of current business and retail spaces</p>
        </div>
    </a>
</div>
 
 
                </div>
                <hr>
                
                
                <div class="module-grid clearfix">
                    
                    
                    
                    <div class="news-teaser">

    <a href="/info-for/business-and-commercial/retail?intcmp=53777" >
        
        
        <div class="text-link">
             <h2>Retail</h2>
            <p>We can offer exceptional footfall in our available spaces</p>
        </div>
    </a>
</div>
 
 <div class="news-teaser">

    <a href="/info-for/business-and-commercial/arches-and-industrial?intcmp=53775" >
        
        
        <div class="text-link">
             <h2>Arches and industrial</h2>
            <p>Learn more about our vibrant commercial and light industrial spaces</p>
        </div>
    </a>
</div>
 
 <div class="news-teaser">

    <a href="/info-for/business-and-commercial/offices?intcmp=53772" >
        
        
        <div class="text-link">
             <h2>Offices</h2>
            <p>We have a large portfolio of diverse office space to suit different sizes of business</p>
        </div>
    </a>
</div>
 
 <div class="news-teaser">

    <a href="/info-for/business-and-commercial/other-opportunities?intcmp=53770" >
        
        
        <div class="text-link">
             <h2>Pop ups, pitches and more</h2>
            <p>See the many exciting ways you can test ideas and work with us</p>
        </div>
    </a>
</div>
 
 <div class="news-teaser">

    <a href="/info-for/business-and-commercial/land-enquiries?intcmp=53768" >
        
        
        <div class="text-link">
             <h2>Land enquiries</h2>
            <p>Let us know if you're interested in buying or leasing some of our land</p>
        </div>
    </a>
</div>
 
 
                </div>
        
        
        
          
        
    </div>
    
      
      <div class="aside no-full-width-intro" role="complementary">
    
        <div data-set="sidenav-container" class="large">
          
        </div>
        <div class="module-grid clearfix">
          




















<div class="advert-tile unsponsored-style google-ads" aria-hidden="true">
  <div class="advert-link">
    <div class="advert-content">
        <div class="medium-large" data-advert="/76889402/non-targeted" data-advert-sizes="300, 250"></div>
        <div class="small" data-advert="/76889402/non-targeted" data-advert-sizes="300, 250"></div>
    </div>
  </div>
</div>
@{
    ViewBag.AmazonSlot = "'amznslots'";
    ViewBag.AmazonAds = "'3199'"; // to add another value, this needs to be ViewBag.AmazonAds = "'3199','xx'";
}
      

 
          
        </div>
        <div data-set="sidenav-container" class="small-medium"></div>
      </div>
  </div>
 
        
        
        
            @{ViewBag.Description = "From a spot in a Tube station for a pop-up shop to industrial space, our portfolio of properties available to rent is varied enough to meet your needs";}
        
            
        


 