
    
  



@{ViewBag.Title = "Property development";}
@{ViewBag.Keywords = "Businesses,TfL";}
@{ViewBag.Url = "/info-for/business-and-commercial/property-development";}
@{ViewBag.Language = "en";}
        <!-- empty placeholder -->
 
        
        
<div class="r">
    <div class="breadcrumb-container" role="navigation">
        <span id="breadcrumb-label" class="visually-hidden">You are here:</span>
        <ol class="breadcrumbs clearfix" aria-labelledby="breadcrumb-label">
            <li class="home">
                <a href="/">
                    <span class="hide-text">Home</span>
                </a>
            </li>
            
                 <li><a href="/info-for/business-and-commercial/index">Business & commercial</a></li>
                
            
            
                <li><span class="last-breadcrumb">Property development</span></li>
            
        
 
        
 
        </ol>
    </div>
</div>
     
 
<div class="r">
  <div class="headline-container plain">
    <h1>Property development</h1>

  </div>
</div>
<div class="main-and-aside r">
  
  <div class="main content-container" role="main">
    
      <div class="article-teaser">
        As well as being responsible for over 30 million journeys every day, we're also one of London's largest landowners.
        
      </div>
    
    <div class="on-this-page">
      <p>We own a 5,700 acre estate that includes land and properties with huge potential for creating the homes and jobs that the Capital needs. Our landholdings can play a vital role in meeting the Mayor's priorities to build affordable homes, while generating revenue to invest in improving our transport network.</p>

<p>We have the team, sites and programme in place to provide a long-term development pipeline, delivering 10,000 homes across 300 acres. Since May 2016, 50% of our sites have been affordable.</p>

<p>We are using a number of routes to release our sites, including our property partnerships framework of 13 leading developers, direct-development and site-specific partnerships. We also have plans to release our smaller sites.</p>

<p>Our ambitious programme offers an exciting opportunity to build homes and communities around the transport hubs where people want to live and work. To make the most of this we want to work with local authorities, land owners and the best of the development industry.</p>

<h2>Schemes with planning consent</h2>
      
           
      <div class="clearfix">
    <div class="image-box campaign-graphic right-float">
    
        <img src="/cdn/static/cms/images/colindale.png" alt="Colindale" />
    </div>
    <h3>Colindale</h3>

<p>In 2019 we received planning consent to create 350 new homes at Colindale. We will improve the area with a regenerated station, step-free access to the platform, a wider pavement in front of the station and new commercial space.</p> 
</div>
 <div class="clearfix">
    <div class="image-box campaign-graphic right-float">
    
        <img src="/cdn/static/cms/images/woodsidepk.png" alt="Woodside Park" />
    </div>
    <h3>Woodside Park</h3>

<p>Pocket Living is proposing to build 88 affordable one bedroom homes across two buildings. The development would also include a landscaped communal courtyard and cycle storage for the new homes.</p> 
</div>
 <div class="clearfix">
    <div class="image-box campaign-graphic right-float">
    
        <img src="/cdn/static/cms/images/woodlanearches.jpg" alt="Wood Lane Arches" />
    </div>
    <h3>Wood Lane Arches - Hammersmith and Fulham</h3>

<p>We'll provide new commercial units by transforming 31 disused railway arches underneath Wood Lane Tube station. The arches will be converted into 20 retail units, workspaces, amenity and cycle parking.</p>

<p>Public access arches will support the regeneration of the White City Opportunity Area by creating direct routes between White City Living (developed by St James) and Westfield London. Find out more about our <a href="/travel-information/improvements-and-projects/wood-lane-arches">plans for Wood Lane Arches</a>.</p> 
</div>
 <div class="clearfix">
    <div class="image-box campaign-graphic right-float">
    
        <img src="/cdn/static/cms/images/blackhorse-road-development.jpg" alt="blackhorse road" />
    </div>
    <h3>Blackhorse Road - Waltham Forest</h3>

<p>We secured planning permission to redevelop our site at Blackhorse Road in December 2018 and the site is currently under construction.</p>

<p>Covering 1.5 acres opposite Blackhorse Road Tube station on the Victoria line, we will transform this car park into 350 homes, half of which are affordable. The site sits within a GLA Housing Zone and Waltham Forest Council's Blackhorse Lane Growth Area. It will contribute new homes, shops, restaurants and cafes, and new public realm.</p> 
</div>
 <div class="clearfix">
    <div class="image-box campaign-graphic right-float">
    
        <img src="/cdn/static/cms/images/fenwick-.jpg" alt="Fenwick" />
    </div>
    <h3>Fenwick South - Lambeth</h3>

<p>We have&nbsp;started work on building 46 new affordable homes on this&nbsp;one acre site. Working with the&nbsp;London Borough of Lambeth, each of these will be&nbsp;high-quality, dual-aspect, one to&nbsp;three bedroom homes.</p> 
</div>
 <div class="clearfix">
    <div class="image-box campaign-graphic right-float">
    
        <img src="/cdn/static/cms/images/beechwood-avenue.jpg" alt="Beechwood Avenue" />
    </div>
    <h3>Beechwood Avenue - Barnet</h3>

<p>TfL is working with London-based property developer and construction company, Kuropatwa Limited to provide 97 homes at Beechwood Avenue, Barnet. 50% of these new homes will be affordable.&nbsp;</p>

<p>The affordable homes at Beechwood include a high proportion of housing with more than one bedroom, making them more suitable for families, and will be a balance of shared ownership and affordable homes for rent, including some at social rent levels.</p>

<p>Construction is due to finish in 2021.</p> 
</div>
 <div class="clearfix">
    <div class="image-box campaign-graphic right-float">
    
        <img src="/cdn/static/cms/images/western-avenue.jpg" alt="Western Avenue Ealing" />
    </div>
    <h3>Western Avenue -&nbsp;Ealing</h3>

<p>Notting Hill Genesis have been transforming land alongside the A40 into 180 new homes, half of which are affordable. &nbsp;These homes are within easy walking distance of East Acton and North Acton.</p>

<p>Construction is almost complete, and people are starting to move into the homes,. Find out more about our <a href="https://www.nhgsales.com/sales-developments/aviator-place/">plans for Aviator Place</a>.</p> 
</div>
 <div class="clearfix">
    <div class="image-box campaign-graphic right-float">
    
        <img src="/cdn/static/cms/images/kidbrooke-.jpg" alt="Picture of a proposed building for Kidbrooke development" />
    </div>
    <h3>Kidbrooke - Greenwich</h3>

<p>Our four-acre site next to Kidbrooke rail station was the first site to be made available to our property partnerships framework. We have submitted an application for 619 homes, 50% of which are affordable.</p>

<p>They include 152 London Affordable Rented homes, which will be eligible to those households on Greenwich's housing waiting list, and 157 London Shared Ownership homes, enabling local people to get a foot on the property ladder.</p>

<p>As well as providing hundreds of genuinely affordable homes, the site will also provide new retail and commercial spaces, improved urban realm and improved bus facilities.</p>

<p>Find out about our <a href="http://kidbrookestationsquare.org/">plans for Kidbrooke.</a></p> 
</div>
 <div>

<h2>Our joint venture sites </h2>
<p>We have signed development agreements and formed partnerships to build new homes and commercial space at these sites.</p>
</div>
 <div class="clearfix">
    <div class="image-box campaign-graphic right-float">
    
        <img src="/cdn/static/cms/images/earls-court-campaign.jpg" alt="Earls Court redevelopment" />
    </div>
    <h3>Earls Court - Hammersmith and Fulham, and Kensington and Chelsea</h3>

<p>Earls Court is one of the Capital's most important development opportunities and was our first joint venture. In 2015 we partnered with Capco&nbsp;to establish&nbsp;Earls Court Partnership Limited. Together we'll&nbsp;build 1,800 homes on 26.6 acres as part of a wider 77 acre plan. Find out more about the <a href="http://myearlscourt.com">transformation of Earls Court</a>.</p> 
</div>
 <div class="clearfix">
    <div class="image-box campaign-graphic right-float">
    
        <img src="/cdn/static/cms/images/high-street-ken-.jpg" alt="High Street Kensington" />
    </div>
    <h3>South Kensington station - Kensington &amp; Chelsea</h3>

<p>South Kensington station is a listed building that acts as the gateway to many of London's most renowned museums, the Royal Albert Hall and Imperial College. We have been working with the local community to draw up plans for new shops, homes and office space around the station. In spring 2018 we announced Native Land as our preferred development partner for this site. Find out about our <a href="/travel-information/improvements-and-projects/south-kensington">plans for South Kensington</a>.</p> 
</div>
 <div class="clearfix">
    <div class="image-box campaign-graphic right-float">
    
        <img src="/cdn/static/cms/images/landmark-court-cd.jpg" alt="Landmark Court commercial development" />
    </div>
    <h3>Landmark Court - Southwark</h3>

<p>This 1.9 acre site sits at the heart of London Bridge, with significant potential and flexibility to support a number of uses including up to 180,000 square feet of high quality office space, retail, leisure and&nbsp;35 new homes. We have appointed U+I as our preferred development partner for the site and a planning application has been submitted. See the <a href="https://www.landmarkcourtsouthwark.co.uk/">plans for Landmark Court</a>.</p> 
</div>
 <div class="clearfix">
    <div class="image-box campaign-graphic right-float">
    
        <img src="/cdn/static/cms/images/hoth.png" alt="HOTH" />
    </div>
    <h3>Harrow on the Hill</h3>

<p>We are working with Redrow Homes to provide approximately 600 homes, a scheme that would also improve transport and access in the town centre. Harrow-on-the-Hill station and neighbouring bus station need significant improvement - these proposals will bring step-free access as well as a safer and better bus station.</p> 
</div>
 <div class="clearfix">
    <div class="image-box campaign-graphic right-float">
    
        <img src="/cdn/static/cms/images/high-barnet.jpg" alt="High Barnet from above" />
    </div>
    <h3>High Barnet</h3>

<p>We have partnered with Taylor Wimpey to develop plans to improve the area around High Barnet station.</p>

<p>We want to showcase and protect High Barnet's natural environment, improve access to the station and provide better connections between Chipping Barnet and Underhill.</p>

<p>We plan to develop new, enhanced public space and affordable homes. Our goal is to provide tangible benefits to the local community and boost business in the town centres.</p>

<p>Find out more about our <a href="https://highbarnetconsultation.com/">proposals for High Barnet</a>.</p> 
</div>
 <div class="clearfix">
    <div class="image-box campaign-graphic right-float">
    
        <img src="/cdn/static/cms/images/finchley-central-station.jpg" alt="Finchley Central Station" />
    </div>
    <h3>Finchley Central</h3>

<p>We are working with Taylor Wimpey to develop plans to improve the area around Finchley Central station.</p>

<p>Our vision for Finchley Central is to create a new heart to the town centre: one that provides affordable, sustainable homes, places to work and public spaces to enjoy.</p>

<p>Our goal is to link both ends of the high street through new public space and improved station access.</p>

<p>Find out more about the <a href="https://finchleycentralconsultation.com/">proposals for Finchley Central.</a></p> 
</div>
 <div>

<h2>Partnerships</h2>
</div>
 <div>

<h3>Pocket homes</h3>

<p>We will be working with Pocket Living to provide affordable homes for first time buyers at a number of sites. Pocket homes are targeted specifically at local singles and couples who earn too much to qualify for social housing, but are priced out of the open market. Pocket home buyers own 100% of their property from day one.</p>
</div>
 <div class="clearfix">
    <div class="image-box campaign-graphic right-float">
    
        <img src="/cdn/static/cms/images/sudburyt.png" alt="Sudbury Town" />
    </div>
    <h3>Sudbury Town</h3>

<p>Pocket Living is proposing 61 affordable one bedroom homes for local people, as well as new public space at Sudbury Town. A key design feature is to create a high-quality development which is sympathetic to the Grade II Listed Tube station.</p> 
</div>
 <div>

<h3>Apartments for London (AfL)</h3>

<h3>Osterley</h3>

<p>AfL proposes to build up to 68 new affordable homes above the existing car park at Osterley&nbsp;Tube station. They will be with a mix of one and two-bedroom homes. The development will also allow improvements to security, landscaping and access to the car park.</p>

<p>See the <a href="https://www.apartmentsforlondon.org/osterleypublicexhibition/">proposals for Osterley</a>.</p>
</div>
 <div class="clearfix">
    <div class="image-box campaign-graphic right-float">
    
        <img src="/cdn/static/cms/images/harrow-car-park-development.jpg" alt="Harrow car parks" />
    </div>
    <h3>Harrow car parks</h3>

<p>We have plans to bring three car parks in the London borough of Harrow to market. The car parks at Canons Park, Rayners Lane and Stanmore Tube stations will provide a minimum of 400 homes, all of which&nbsp;will be affordable.&nbsp;</p>

<p>We used the GLA's London Development Panel 2 to help us develop the sites more quickly.&nbsp;Catalyst have been appointed as our development partner and we expect to submit a planning application in 2020.</p> 
</div>
 <div class="clearfix">
    <div class="image-box campaign-graphic right-float">
    
        <img src="/cdn/static/cms/images/rayners-sketch.jpg" alt="Architect sketch of Rayners Lane" />
    </div>
    <h3>Rayners Lane</h3>

<p>The car park at Rayners Lane provides a fantastic opportunity to build 100% affordable homes, with public transport to the city and local shops and amenities just a short walk away.</p>

<p>We intend to build around 140 new affordable homes which would include a mixture of homes for London Affordable Rent (broadly equivalent to social rent) and shared ownership. All homes will be car-free for future residents.</p>

<p>We plan to retain some commuter parking and provide secure cycle parking for commuters.</p>

<p>Find out more about our <a href="https://raynerslane.commonplace.is/">plans for Rayners Lane</a>.</p> 
</div>
 <div class="clearfix">
    <div class="image-box campaign-graphic right-float">
    
        <img src="/cdn/static/cms/images/stanmore-sketch.jpg" alt="Architect sketch of Stanmore" />
    </div>
    <h3>Stanmore</h3>

<p>Working in partnership with Catalyst, we plan to redevelop the Stanmore station car park to create around 280 affordable homes while retaining two-thirds of the commuter parking.</p>

<p>This site provides an opportunity to build much-needed high quality new homes, with public transport to the city and local shops and amenities a short walk away.</p>

<p>Our <a href="https://stanmore.commonplace.is/">proposals for Stanmore</a> will also improve step-free access to the station and secure cycle parking for commuters.</p> 
</div>
 <div class="clearfix">
    <div class="image-box campaign-graphic right-float">
    
        <img src="/cdn/static/cms/images/canons-sketch.jpg" alt="Architect sketch of Canons Park" />
    </div>
    <h3>Canons Park</h3>

<p>We intend to redevelop the&nbsp;car park and build around 120 new affordable homes while retaining some commuter car parking.</p>

<p>There would be a mixture of homes for London Affordable Rent (broadly equivalent to social rent) and shared ownership. All homes will be car-free for future residents with public transport to the city and local shops and amenities just a short walk away.<br />
<br />
These proposals will also provide secure cycle parking for commuters and improvements to Donnefield Avenue.</p>

<p>See the <a href="https://canonspark.commonplace.is/">proposals for Canons Park</a>.</p> 
</div>
 <div>

<h2>Other sites</h2>
</div>
 <div class="clearfix">
    <div class="image-box campaign-graphic right-float">
    
        <img src="/cdn/static/cms/images/bollo-lane-sketch.jpg" alt="Architect sketch of Bollo Lane" />
    </div>
    <h3>Bollo Lane - Acton</h3>

<p>We are creating proposals for the development of land along Bollo Lane to provide new homes, green spaces and public realm improvements.</p>

<p>We want to work with residents, businesses and the wider community to make a positive and lasting contribution to the local area in a way that reflects the identity of Acton and the surrounding area. That means keeping the characteristics and features that make Bollo Lane unique.</p>

<p>The proposals for the Bollo Lane site include:</p>

<ul>
	<li>New homes &#45; and more affordable homes &#45; for Acton and Ealing</li>
	<li>New green spaces and extended 'Green Corridors'</li>
	<li>Enhanced public realm such as pavements and landscaping along Bollo Lane</li>
	<li>Support for environmentally friendly and sustainable ways to travel</li>
</ul>

<p>Find out more about the <a href="https://consultations.tfl.gov.uk/planning/bollo-lane/">proposals for Bollo Lane</a>.</p> 
</div>
 <div class="clearfix">
    <div class="image-box campaign-graphic right-float">
    
        <img src="/cdn/static/cms/images/southwark-over-station.png" alt="Southwark over station development" />
    </div>
    <h3>Southwark over station development</h3>

<p>There have been several plans and proposals for the area around Southwark station in previous years, though none have been considered suitable from a community or commercial perspective.&nbsp;&nbsp;</p>

<p>We have worked with London Borough of Southwark and Styles House residents to agree a set of principles that enabled a masterplan approach to the redevelopment of the wider site.&nbsp;&nbsp;</p>

<p>The proposals include new council homes, offices, new public realm and shared space in the heart of Southwark.&nbsp;&nbsp;</p>

<p>Find out more about the <a href="https://consultations.tfl.gov.uk/planning/southwark-osd/">proposals for the Southwark over station development</a>.</p> 
</div>
 <div>

<h2>Build to rent</h2>

<p>We have identified seven sites across London with the potential to&nbsp;provide more than 3,000 homes, with a minimum of 40% affordable on all new planning consents. Using a build to rent approach will allow us to build homes quickly while keeping a long term interest in the future development of our significant property estate.</p>

<p>It's likely some of the homes will be built through modular construction which is faster than traditional methods. It will also create a long-term, stable way of generating income which can then be reinvested back into the transport network.</p>

<p>The first phase of sites identified are:</p>
</div>
 <div class="clearfix">
    <div class="image-box campaign-graphic right-float">
    
        <img src="/cdn/static/cms/images/southall-elizabeth-sidings.jpg" alt="Southall Elizabeth line sidings" />
    </div>
    <h3>Southall Elizabeth line sidings&nbsp;- Ealing</h3>

<p>The site, which is being used&nbsp;for storage by Crossrail Ltd, has the potential to provide 450 new homes, 40% of which will be affordable. There is also an opportunity to include some flexible space, which could be used for community events and to improve the local streetscape.</p>

<p>We are asking local people to provide feedback and comment on our <a href="https://southallsidings.co.uk/">plans for Southall Elizabeth line sidings</a>.</p> 
</div>
 <div class="clearfix">
    <div class="image-box campaign-graphic right-float">
    
        <img src="/cdn/static/cms/images/nine-elms-station-site.jpg" alt="Nine Elms Tube station site" />
    </div>
    <h3>Nine Elms Tube station -&nbsp;Lambeth</h3>

<p>At Nine Elms, Connected Living London plans to build around 450 homes and 40% &nbsp;will be affordable. Since getting planning permission in 2016, we have identified ways to create more homes, a better design and more affordable homes which we are asking the local community about.</p>

<p>Connected Living London expects to submit a revised proposal in spring 2020, after extensive public consultation.</p>

<p>See the <a href="https://www.givemyview.com/nineelms">proposals for Nine Elms Tube station</a>.</p> 
</div>
 <div class="clearfix">
    <div class="image-box campaign-graphic right-float">
    
        <img src="/cdn/static/cms/images/cockfosters-car-park.jpg" alt="Cockfosters Tube station car park" />
    </div>
    <h3>Cockfosters Tube station -&nbsp;Enfield</h3>

<p>We want to provide around 400 homes, 40% of which will be affordable with priority given to people who live and work in Enfield. The development will also provide commercial space, cycling facilities and improved public realm.</p>

<p>We are asking local people to provide feedback and comment on our plans. Find out more about our <a href="https://www.cockfostersconsultation.com/">proposals for Cockfosters Tube station</a> development.</p> 
</div>
 <div class="clearfix">
    <div class="image-box campaign-graphic right-float">
    
        <img src="/cdn/static/cms/images/arnos-grove-development.jpg" alt="Architect sketch of Arnos Grove" />
    </div>
    <h3>Arnos Grove Tube station - Enfield</h3>

<p>We want to build around 150 homes, 40% of which will be affordable with priority given to people living or working in Enfield. The development will also provide a new public square, cycling facilities and better connections for pedestrians.</p>

<p>The proposals are at an early stage and we are asking local people to provide feedback and comment on our plans. Find out more about our <a href="https://www.givemyview.com/arnosgrove">plans for Arnos Grove</a>.</p> 
</div>
 <div class="clearfix">
    <div class="image-box campaign-graphic right-float">
    
        <img src="/cdn/static/cms/images/montford-place.jpg" alt="Montford Place" />
    </div>
    <h3>Montford Place - Kennington, Lambeth</h3>

<p>At Montford Place, Connected Living London will provide around 140 homes of which 40%&nbsp;will be affordable.&nbsp;The plans also include commercial and flexible employment space.&nbsp;</p>

<p>The site is currently being used to help facilitate the Northern Line Extension.&nbsp;Connected Living London expects to submit a revised proposal in spring 2020, after extensive public consultation.</p>

<p>Find out more about the <a href="https://www.givemyview.com/montfordplace">plans for Montford Place</a>.&nbsp;</p> 
</div>
 <div class="clearfix">
    <div class="image-box campaign-graphic right-float">
    
        <img src="/cdn/static/cms/images/limmo-aerial.jpg" alt="Aerial picture of Limmo Peninsula" />
    </div>
    <h3>Limmo Peninsula - Canning Town, Newham</h3>

<p>The site is is next to Canning Town Tube station and is currently a Crossrail works site which is not accessible to the public.</p>

<p>We have the opportunity to open up the site and create new green spaces, links to the River Lea and existing transport hubs. We also want to build 1,500 homes, 40% of which will be affordable.</p>

<p>We began engaging with the public in summer 2019 and&nbsp;will be ready with more detailed proposals in early 2020.</p>

<p>Find out more about <a href="https://limmopeninsula.co.uk/">proposals for Limmo Peninasula</a>.</p> 
</div>
 <div>

<h2>Sites coming up</h2>

<p>We have an extensive pipeline of sites and are identifying how and when we will bring each one forward. These are the sites we have announced so far.</p>
</div>
 <div class="clearfix">
    <div class="image-box campaign-graphic right-float">
    
        <img src="/cdn/static/cms/images/bank2.jpg" alt="Bank CD image" />
    </div>
    <h3>Bank - City of London</h3>

<p>We have started work to modernise Bank station, connecting it to Monument station and providing step-free access. Once the modernisation is complete, we will develop a new retail and office building above the new station entrance.</p>

<p>We have planning permission for a nine storey scheme, including 12,000 square metres of office and 650 square metres of retail space. We expect to start work on the 0.66 acre site in 2021.</p> 
</div>
 <div class="clearfix">
    <div class="image-box campaign-graphic right-float">
    
        <img src="/cdn/static/cms/images/northgreenwich.jpg" alt="North Greenwich" />
    </div>
    <h3>North Greenwich - Greenwich</h3>

<p>We are working with our partners Knight Dragon and the GLA to bring forward the development of Peninsula Place.</p> 
</div>
 <div class="clearfix">
    <div class="image-box campaign-graphic right-float">
    
        <img src="/cdn/static/cms/images/morden-sketch.jpg" alt="Morden achitect sketch" />
    </div>
    <h3>Morden</h3>

<p>Morden Town Centre is a regeneration scheme comprising around 2,000 homes, of which 40% are affordable, alongside more than 84,980 square feet of office, retail, and leisure spaces.</p>

<p>The scheme is being developed in partnership with London Borough of Merton and it has been showcased by the UKGBC Foreground programme as an example of next-generation sustainable development.</p>

<p>See the <a href="https://www.merton.gov.uk/planning-and-buildings/regeneration-projects/make-more-of-morden">proposals for Morden</a>.</p> 
</div>
 <div class="clearfix">
    <div class="image-box campaign-graphic right-float">
    
        <img src="/cdn/static/cms/images/northwood.jpg" alt="Picture of a proposed building on the Northwood development" />
    </div>
    <h3>Northwood Station Quarter&nbsp;- Hillingdon</h3>

<p>Northwood is a 4.7 acre site in zone 6. &nbsp;It could provide around 250 new homes.</p>

<p>Find out more about our <a href="https://www.northwoodstationquarter.co.uk/">plans for Northwood Station Quarter</a>.</p> 
</div>
 <div>

<h3>Other sites coming up</h3>

<p>Sites coming up include:</p>

<ul>
	<li>White City</li>
	<li>Barkingside</li>
</ul>
</div>
 <div>

<h2>Our property partnerships framework</h2>

<p>In February 2016 we appointed 13 major property development companies and consortia to a development framework which will help to deliver the thousands of homes, offices and retail spaces vital to keep London growing.</p>

<p>The organisations were selected following a competitive procurement process with over 50 companies registering their interest in becoming one of our property partners.</p>

<p>Our framework allows us to work in joint ventures with some of the best developers in the market, on land in London's most iconic locations. It works more efficiently than procuring a joint venture development partner on a site by site basis. The wider GLA family&nbsp;is also&nbsp;able to use the framework to bring forward developments on their sites.</p>

<p>The property partnership programme is part of our plans to raise&nbsp;&pound;850m in income from property development and disposals by 2021/22 for reinvestment in London's transport network. The partnership is the first phase of our wider property development programme.</p>

<p>The 13 companies and consortiums selected are:</p>

<ul>
	<li>Balfour Beatty PLC</li>
	<li>Barratt Development PLC / London and Quadrant Housing Association (Consortium)</li>
	<li>Berkeley Group PLC</li>
	<li>The British Land Company PLC</li>
	<li>Canary Wharf Group PLC</li>
	<li>Capital and Counties PLC</li>
	<li>U+I / Notting Hill Housing Group (Consortium: Triangle London Developments)</li>
	<li>Land Securities Group PLC</li>
	<li>Mace Limited / Peabody Trust / DV4 Limited (Consortium)</li>
	<li>Mount Anvil Group Limited / Hyde Housing Association Limited</li>
	<li>Redrow Homes Ltd</li>
	<li>Stanhope PLC / Mitsui Fudosan Company Limited</li>
	<li>Taylor Wimpey UK Ltd</li>
</ul>
</div>
 
      
        
          
            @this.ScriptBlock(
              @<script>
                queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
              </script>
            )
          
        
      
    </div>
  </div>
  <div class="aside" role="complementary">

   
    
    
    
    <div>
















<div class="advert-tile unsponsored-style google-ads" aria-hidden="true">
  <div class="advert-link">
    <div class="advert-content">
        <div class="medium-large" data-advert="/76889402/non-targeted" data-advert-sizes="300, 250"></div>
        <div class="small" data-advert="/76889402/non-targeted" data-advert-sizes="300, 250"></div>
    </div>
  </div>
</div>
@{
    ViewBag.AmazonSlot = "'amznslots'";
    ViewBag.AmazonAds = "'3199'"; // to add another value, this needs to be ViewBag.AmazonAds = "'3199','xx'";
}
      

 </div>
    
    <div data-set="sidenav-container" class="small-medium"></div>
  </div>
</div>
 
 
        
        
        
            @{ViewBag.Description = "As well as being responsible for over 30 million journeys every day, we're also one of London's largest landowners. ";}
        
            
        


 