
    
  



@{ViewBag.Title = "Residential tenants";}
@{ViewBag.Keywords = "TfL";}
@{ViewBag.Url = "/info-for/business-and-commercial/residential-tenants";}
@{ViewBag.Language = "en";}
        <!-- empty placeholder -->
 
        
        
<div class="r">
    <div class="breadcrumb-container" role="navigation">
        <span id="breadcrumb-label" class="visually-hidden">You are here:</span>
        <ol class="breadcrumbs clearfix" aria-labelledby="breadcrumb-label">
            <li class="home">
                <a href="/">
                    <span class="hide-text">Home</span>
                </a>
            </li>
            
                 <li><a href="/info-for/business-and-commercial/index">Business & commercial</a></li>
                
            
                 <li><a href="/info-for/business-and-commercial/commercial-properties">Commercial properties</a></li>
                
            
                 <li><a href="/info-for/business-and-commercial/managing-my-property">Managing my property</a></li>
                
            
            
                <li><span class="last-breadcrumb">Residential tenants</span></li>
            
        
 
        
 
        
 
        
 
        </ol>
    </div>
</div>
     
 
<div class="r">
  <div class="headline-container plain">
    <h1>Residential tenants</h1>

  </div>
</div>
<div class="main-and-aside r">
  
  <div class="main content-container" role="main">
    
      <div class="article-teaser">
        We want you to be able to enjoy your home. As one of our residential tenants, different guidelines and regulations apply than for our commercial tenants.
        
      </div>
    
    <div class="on-this-page">
      
      
           
      <div class="clearfix">
    <div class="image-box right-float">
    
        
        
        <img src="/cdn/static/cms/images/residential-tenants_rdax_400x250.jpg" alt="residential buildings" />
        
        
        
    </div>
    <h2>Contacting us</h2>
<p>We understand how frustrating it can be if something is wrong with your home. So we have a dedicated helpdesk, available 24 hours a day.</p>
<p>Monday-Friday 09:00-17:00: 020 7027 5792 (<a href="/corporate/terms-and-conditions/tfl-call-charges">TfL call charges</a>)<br />
Out of hours: 	020 3633 4224</p>
<p>Need a repair? <a href="/info-for/business-and-commercial/residential-repairs">Find out about residential repairs.</a></p>
<h2>Paying your rent</h2>
<p>When you start with us your surveyor will explain what rent you need to pay us - this is invoiced monthly. Paying by direct debit means you pay on time and your bank charges may be reduced.</p>
<p>In most cases, you'll be responsible for paying council tax, electricity, gas, water and insurance directly to the supplier.</p>
<h3>Your deposit</h3>
<p>The deposit we ask for will be safely secured with an authorised deposit protection scheme. We will return your deposit once you've left, providing you have kept to the terms of your agreement.</p>
<p>Any disputes about the refund of your deposit will be managed by the deposit protection service which acts as an independent body. The property manager will give you details of the scheme.</p>
<h2>Health and safety
</h2>
<h3>Regular checks completed by us</h3>
<p>To make sure you and your property are safe, we do annual checks on your property. From time to time, we'll ask to view your property to ensure that it's in good condition. We'll give you at least 24-hours notice to get access to premises.</p>
<h3>Fire safety in your property</h3>
<p>You can help to ensure that you keep safe by:</p>
<ul>
    <li>Reviewing the escape routes from your property to make sure they are unobstructed and unlocked. If this includes a shared area, please check that all fire doors and/or security gates fitted are unlocked</li>
    <li>Checking that any materials, goods or other obstructions in exit routes that could slow up your escape are removed</li>
</ul>
<h2>Other support</h2>
<p>We're available to support you so don't hesitate to contact your property surveyor if you need any other information. Full details of the service we provide is in your welcome pack.</p>
<p>If you want professional advice about any aspect of your tenancy, please contact <a href="https://www.citizensadvice.org.uk/">Citizens Advice</a>. </p>
<p>We also have useful guidance documents on repairs and Legionnaires' disease.</p>
<p>Your feedback helps us improve our performance. Find out how to <a href="/info-for/business-and-commercial/send-us-feedback">send your feedback</a>.</p>
 </div>
 
<div>





<div class="multi-document-download-container">
    

<a class="document-download-wrap docx" href="/cdn/static/cms/documents/fault-reporting.docx">
    <div class="document-download-text">
        <p>Fault reporting</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            DOCX 83KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.08 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/legionnaires-disease-leaflet.pdf">
    <div class="document-download-text">
        <p>Protection from Legionnaires' disease</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 881KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.86 -->
 
</div>

</div>
 
      
        
          
            @this.ScriptBlock(
              @<script>
                queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
              </script>
            )
          
        
      
    </div>
  </div>
  <div class="aside" role="complementary">

   
    
    
    
      <div data-set="sidenav-container" class="large">
        
        
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
                <a href="/info-for/business-and-commercial/commercial-properties" class="heading">
                    <h2 id="sub-menu-heading">Commercial properties<span class="visually-hidden"> navigation</span></h2>
                </a>
                <ul>
                    
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/business-and-commercial/becoming-a-tenant">Becoming a tenant</a></div></li>
                            
 
                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/business-and-commercial/managing-my-property">Managing my property</a></div>
                                <ul>
                                    
                                <li><div class="link-wrapper"><a href="/info-for/business-and-commercial/commercial-tenants">Commercial tenants</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/business-and-commercial/guidance-and-policies">Guidance and policies</a></div></li>
                            
 
                                        <li class="selected parent"><div class="link-wrapper"><a href="/info-for/business-and-commercial/residential-tenants">Residential tenants</a></div>
                                        <ul>
                                            
                                        <li><div class="link-wrapper"><a href="/info-for/business-and-commercial/residential-repairs">Residential repairs</a></div></li>
                                    
 
                                        </ul>
                                    </li>
 
                                </ul>
                            </li>
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/business-and-commercial/our-property-portfolio">Our property portfolio</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/business-and-commercial/send-us-feedback">Send us feedback</a></div></li>
                            
 
                </ul>
            
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
      </div>
    
    <div>
























<div class="advert-tile unsponsored-style google-ads" aria-hidden="true">
  <div class="advert-link">
    <div class="advert-content">
        <div class="medium-large" data-advert="/76889402/non-targeted" data-advert-sizes="300, 250"></div>
        <div class="small" data-advert="/76889402/non-targeted" data-advert-sizes="300, 250"></div>
    </div>
  </div>
</div>
@{
    ViewBag.AmazonSlot = "'amznslots'";
    ViewBag.AmazonAds = "'3199'"; // to add another value, this needs to be ViewBag.AmazonAds = "'3199','xx'";
}
      

 </div>
    
    <div data-set="sidenav-container" class="small-medium"></div>
  </div>
</div>
 
 
        
        
        
            @{ViewBag.Description = "We take the happiness, safety and security of TfL's residential clients very seriously";}
        
            
        


 