
    
  



@{ViewBag.Title = "Residential repairs";}
@{ViewBag.Keywords = "TfL";}
@{ViewBag.Url = "/info-for/business-and-commercial/residential-repairs";}
@{ViewBag.Language = "en";}
        <!-- empty placeholder -->
 
        
        
<div class="r">
    <div class="breadcrumb-container" role="navigation">
        <span id="breadcrumb-label" class="visually-hidden">You are here:</span>
        <ol class="breadcrumbs clearfix" aria-labelledby="breadcrumb-label">
            <li class="home">
                <a href="/">
                    <span class="hide-text">Home</span>
                </a>
            </li>
            
                 <li><a href="/info-for/business-and-commercial/index">Business & commercial</a></li>
                
            
                 <li><a href="/info-for/business-and-commercial/commercial-properties">Commercial properties</a></li>
                
            
                 <li><a href="/info-for/business-and-commercial/managing-my-property">Managing my property</a></li>
                
            
                 <li><a href="/info-for/business-and-commercial/residential-tenants">Residential tenants</a></li>
                
            
            
                <li><span class="last-breadcrumb">Residential repairs</span></li>
            
        
 
        
 
        
 
        
 
        
 
        </ol>
    </div>
</div>
     
 
<div class="r">
  <div class="headline-container plain">
    <h1>Residential repairs</h1>

  </div>
</div>
<div class="main-and-aside r">
  
  <div class="main content-container" role="main">
    
      <div class="article-teaser">
        If you need to report a building defect - emergency or otherwise - during normal working hours (Monday to Friday, 09:00-17:00), call our helpdesk on 020 7027 5792.
        
      </div>
    
    <div class="on-this-page">
      <p>Outside of these hours, <strong>emergencies only</strong> should be reported to HA Marks on 020 3633 4224.</p>
<p>When you contact us, give us your name, the full address of the property and a contact telephone number.</p>
<p>If contractors are called to deal with something you, as the tenant, claimed was an emergency but was not, the costs of the call out will be recharged to you.</p>
<p>A maintenance surveyor might need to call at your property to inspect the repair before an order is raised to an external contractor. This may be to check if a special repair is needed or if something needs to be&nbsp; replaced rather than repaired.</p>
<p>For general enquiries about the property you occupy, contact your property surveyor.</p>
<p>Under Sections 11 to 16 of the Landlord and Tenant Act 1985 (as superseded by the Housing Act 1988), we, as your landlord, are responsible for the repair of the structure and exterior of your premises and certain installations for the supply of gas, water and electricity and sanitation.</p>
<p>Please check these responsibilities before contacting us about a repair. </p>
<h2>Our responsibilities</h2>
<p>We are responsible for carrying out repairs to the structure and exterior of the building, including:</p>
<ul>
    <li>Drains, gutters and external pipes</li>
    <li>Roof, foundations, walls, doors and windows</li>
    <li>Any chimney and chimney stack, excluding sweeping</li>
    <li>Any paths, steps, entrances to the property and fences previously installed by London Underground</li>
    <li>Major plaster works</li>
    <li>Painting (exterior only)</li>
    <li>Installation for heating, hot water, sanitation, the supply of gas and electricity (from the meters)</li>
    <li>Basins, sinks, baths, toilets and cisterns</li>
    <li>Waste pipes, overflows and other plumbing</li>
    <li>Electrical fittings and wiring</li>
    <li>Plumbing (excluding appliances supplied by the tenant)</li>
    <li>Individual heaters, heating systems and hot water appliances previously installed by London Underground</li>
    <li>Communal areas to blocks of flats such as corridors, stairways and entrances</li>
    <li>Communal facilities like television aerials, door entry systems, rubbish chutes, lifts and stairway lighting</li>
</ul>
<h2>Your responsibilities</h2>
<p>As a tenant, you are responsible for the internal decoration of the property and any fittings that belong to you or have been installed by you, for example any cooker, washing machine, fridge freezer, curtain rails, additional kitchen fittings or shower fittings (if installed by you).</p>
<p>You must also make minor repairs internal to your property, including:</p>
<ul>
    <li>Letter boxes, flaps, door knockers and door bells, door locks, latches and bolts</li>
    <li>Kitchen cupboard door handles, catches and hinges</li>
    <li>Kitchen drawer handles</li>
    <li>Plugs and chains to sinks, wash-hand basins and baths</li>
    <li>Hat and coat rails and hooks</li>
    <li>Pull chain or cord to high level toilet flushing cistern</li>
    <li>Any fire grates, surrounds and bars</li>
    <li>Electric plugs (but excluding plug sockets)</li>
    <li>Replacement of any internal cracked or broken glass</li>
    <li>Draught-proofing of doors and windows</li>
    <li>Minor cracks to plasterwork</li>
</ul>
<p>You must take reasonable care of the property and must report any repairs to us. You are responsible to us for any damage to your property caused by neglect or negligence on your or a visitor's part.</p>
      
           
      
      
        
          
            @this.ScriptBlock(
              @<script>
                queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
              </script>
            )
          
        
      
    </div>
  </div>
  <div class="aside" role="complementary">

   
    
    
    
      <div data-set="sidenav-container" class="large">
        
        
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
                <a href="/info-for/business-and-commercial/commercial-properties" class="heading">
                    <h2 id="sub-menu-heading">Commercial properties<span class="visually-hidden"> navigation</span></h2>
                </a>
                <ul>
                    
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/business-and-commercial/becoming-a-tenant">Becoming a tenant</a></div></li>
                            
 
                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/business-and-commercial/managing-my-property">Managing my property</a></div>
                                <ul>
                                    
                                <li><div class="link-wrapper"><a href="/info-for/business-and-commercial/commercial-tenants">Commercial tenants</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/business-and-commercial/guidance-and-policies">Guidance and policies</a></div></li>
                            
 
                                        <li class="selected parent"><div class="link-wrapper"><a href="/info-for/business-and-commercial/residential-tenants">Residential tenants</a></div>
                                        <ul>
                                            
                                                <li class="selected"><div class="link-wrapper"><a href="/info-for/business-and-commercial/residential-repairs">Residential repairs</a></div>
                                            
 
                                        </ul>
                                    </li>
 
                                </ul>
                            </li>
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/business-and-commercial/our-property-portfolio">Our property portfolio</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/business-and-commercial/send-us-feedback">Send us feedback</a></div></li>
                            
 
                </ul>
            
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
      </div>
    
    <div>




























<div class="advert-tile unsponsored-style google-ads" aria-hidden="true">
  <div class="advert-link">
    <div class="advert-content">
        <div class="medium-large" data-advert="/76889402/non-targeted" data-advert-sizes="300, 250"></div>
        <div class="small" data-advert="/76889402/non-targeted" data-advert-sizes="300, 250"></div>
    </div>
  </div>
</div>
@{
    ViewBag.AmazonSlot = "'amznslots'";
    ViewBag.AmazonAds = "'3199'"; // to add another value, this needs to be ViewBag.AmazonAds = "'3199','xx'";
}
      

 </div>
    
    <div data-set="sidenav-container" class="small-medium"></div>
  </div>
</div>
 
 
        
        
        
            @{ViewBag.Description = "How to contact us for repairs on property you lease from us";}
        
            
        


 