
    
  



@{ViewBag.Title = "Smart commuting";}
@{ViewBag.Keywords = "TfL";}
@{ViewBag.Url = "/info-for/business-and-commercial/smart-commuting";}
@{ViewBag.Language = "en";}
        <!-- empty placeholder -->
 
        
        
<div class="r">
    <div class="breadcrumb-container" role="navigation">
        <span id="breadcrumb-label" class="visually-hidden">You are here:</span>
        <ol class="breadcrumbs clearfix" aria-labelledby="breadcrumb-label">
            <li class="home">
                <a href="/">
                    <span class="hide-text">Home</span>
                </a>
            </li>
            
                 <li><a href="/info-for/business-and-commercial/index">Business & commercial</a></li>
                
            
            
                <li><span class="last-breadcrumb">Smart commuting</span></li>
            
        
 
        
 
        </ol>
    </div>
</div>
     
 
<div class="r">
  <div class="headline-container plain">
    <h1>Smart commuting</h1>

  </div>
</div>
<div class="main-and-aside r">
  
  <div class="main content-container" role="main">
    
      <div class="article-teaser">
        Find out how to influence employee travel and improve your business.
        
      </div>
    
    
      <p>Increasing active travel and&nbsp;smart working while&nbsp;reducing&nbsp;car use can have tangible health, wellbeing and productivity benefits&nbsp;for your business.</p>

<p>Smart commuting is about ways businesses can help their employees and visitors to have better journeys by using sustainable modes. It includes avoiding crowding and congestion as well as finding healthier travel choices such as active travel or less polluted walking routes. All of this will help to reduce traffic and pollution.</p>

<p>Use our smart commuting toolkit to influence how&nbsp;people at your workplace travel to and from work.</p>
      
           
      
<div>




<h2>Smart commuting toolkit</h2>
<div class="multi-document-download-container">
    

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/smart-commuting-toolkit.pdf">
    <div class="document-download-text">
        <p>Smart commuting toolkit</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 1.65MB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 1.65 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/smart-commuting-checklist.pdf">
    <div class="document-download-text">
        <p>Smart commuting checklist</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 30KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.03 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/smart-commuting-case-studies.pdf">
    <div class="document-download-text">
        <p>Smart commuting case studies</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 2.09MB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 2.09 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/employee-travel-survey-template.pdf">
    <div class="document-download-text">
        <p>Employee travel survey template</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 313KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.31 -->
 
</div>

</div>
 
      
        
          
        
      
    
  </div>
  <div class="aside" role="complementary">

   
    
    
    
    <div>
















<div class="advert-tile unsponsored-style google-ads" aria-hidden="true">
  <div class="advert-link">
    <div class="advert-content">
        <div class="medium-large" data-advert="/76889402/non-targeted" data-advert-sizes="300, 250"></div>
        <div class="small" data-advert="/76889402/non-targeted" data-advert-sizes="300, 250"></div>
    </div>
  </div>
</div>
@{
    ViewBag.AmazonSlot = "'amznslots'";
    ViewBag.AmazonAds = "'3199'"; // to add another value, this needs to be ViewBag.AmazonAds = "'3199','xx'";
}
      

 </div>
    
    <div data-set="sidenav-container" class="small-medium"></div>
  </div>
</div>
 
 
        
        
        
            @{ViewBag.Description = "Smart commuting toolkit";}
        
            
        


 