


@{ViewBag.Title = "300th hybrid bus introduced to London's fleet, helping to improve air quality ";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>300th hybrid bus introduced to London's fleet, helping to improve air quality </h1>
        <div class="content-page-press-release">
        05 July 2012
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        London is leading the way with cleaner, greener and better hybrid bus technology.
        
    </div>



 <div class="on-this-page">
<div class="pullquote right">
                        <p>
                            I am determined to clean up London's buses to improve quality of life
                            
                        </p>
                    </div>
                
            
            
            <ul>
<li>600 new bus for London vehicles expected in next four years </li></ul>
<p>London's bus fleet is on track to be one of the greenest in Europe following the introduction of the 300th hybrid bus into its fleet. </p>
<p>One thousand hybrid buses are set to be introduced to London's streets in the next four years as part of the Mayor's plans to improve air quality. </p>
<p>The 300th hybrid bus is now in service on route 211 between Waterloo and Hammersmith. A further 104 hybrid buses are on order using &pound;5m funding from the Department for Transport. </p>
<p>This grant was initially set to finance 70 buses, but Transport for London has managed, through good negotiation and increased market confidence in hybrid buses, to increase this order so that, in total, over 400 of these less polluting vehicles will be in service by next year.&nbsp;</p>
<h2>Cutting&nbsp;harmful emissions</h2>
<p>In addition the Mayor of London has committed to taking delivery of 600 of the new bus for London vehicles, seven of which are already in service on Route 38. </p>
<p>These hop-on hop-off vehicles boast the latest hybrid technology, cutting emissions by half compared to a standard diesel bus. </p>

<p>Combined, this means at least 1,000 hybrid buses will be on the Capital's streets by 2016 joined by nearly 1,000 buses fitted with equipment to cut pollution, specifically NOx. </p>
<p>Mayor of London Boris Johnson, said: 'I am determined to clean up London's buses to improve quality of life. </p>
<p>'We are pioneering new technology to do so, including through the wider introduction of these greener hybrid vehicles and my brand new bus for the Capital. This is all part of my plans to cut pollution across the city.'</p>
<p>Hybrid technology, which combines batteries, a conventional diesel engine and an electric motor to propel the bus was first trialled by TfL in 2006.&nbsp;</p>
<p>Since then the diesel-electric hybrid fleet has doubled year on year reflecting greater confidence with operating hybrid technology and impressive fuel savings and operational performance. </p>
<h2>Impressive fuel savings</h2>
<p>The diesel-electric hybrid buses deliver impressive fuel savings of 30 per cent reducing operational costs for TfL but also a 20 per cent reduction in NOx delivering environmental benefits for Londoners.&nbsp;</p>
<p>The technology also helps to cut pollution and carbon emissions. </p>
<p>Mike Weston, London Buses Operations Director, said: 'Bus operator confidence in hybrids has increased immensely which, alongside reductions in the capital premiums and increasing fuel prices is making this technology increasingly attractive.&nbsp; </p>
<p>'We have reached a significant milestone at 300 hybrid buses and the benefits of these cleaner, greener buses only increase as we add more to our fleet. That's great news for Londoners and the health and wellbeing of all who live here. </p>
<p>We look forward to hitting the 1,000th hybrid bus milestone which will make a real difference to the quality of life in London.'</p>
<p>
<hr>

<p>
<p><strong>Notes to editors:</strong></p><strong></strong><strong>
<ul>
<li></li></ul></strong>Read about the Mayor's air quality strategy on the <a href="http://www.london.gov.uk/airquality">London 2012 website&nbsp;<br></a>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "600 new bus for London vehicles expected in next four years London's bus fleet is on track to be one of the greenest in Europe following the introduction of the 300th hybrid bus into its fleet. One thousand hybrid buses are set to be introduced to";}
        
        


 