


@{ViewBag.Title = "Another action packed day in store for London on the fourth day of the 2012 Olympic Games - Tuesday 31 July 2012";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>Another action packed day in store for London on the fourth day of the 2012 Olympic Games - Tuesday 31 July 2012</h1>
        <div class="content-page-press-release">
        30 July 2012
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        First evening football match taking place at Wembley tomorrow - Metropolitan and Jubilee lines will be exceptionally busy.
        
    </div>



 <div class="on-this-page">
<ul>
<li>Olympic events also taking place all day across the Capital</li>
<li>Dockland's Light Railway (DLR) carried a record 736,000 passengers over the weekend</li>
<li>Road users, residents and spectators reminded to avoid driving around the ORN, venues and central London</li>
<li>Plan ahead with the latest Games travel advice at <a href="http://www.GetAheadoftheGames.com">www.GetAheadoftheGames.com</a> and follow &#64;GAOTG on Twitter</li>
<li>For the latest on how transport services are operating, check before you travel at <a href="http://www.tfl.gov.uk">www.tfl.gov.uk</a> and follow &#64;TfLTravelAlerts (Tube, DLR and London Overground), &#64;TfLTrafficNews (roads) and &#64;TfLBusAlerts (bus)</li></ul>
<p>Tomorrow's day of action packed cultural and sporting Olympic events includes the first weekday evening Olympic Football match (31 July) at Wembley Stadium. </p>
<p>The match means the Jubilee line and Metropolitan line will be exceptionally busy during the evening peak so it is essential to plan ahead, leave extra travel time and avoid travel hotspots. </p>
<p>Over the opening weekend of the Games (28 and 29 July), the Docklands Light Railway carried a record number of 736,000 passengers and one million spectators lined the streets of London and Surrey to watch the Men's and Women's Cycle Road Races.</p>
<p>The Capital is expected to be exceptionally busy again throughout the day tomorrow due to large numbers of spectators attending Games events and there will be a number of hotspots that people should avoid. Regular commuters and spectators are urged to plan ahead at GetAheadoftheGames.com and to check before they travel at tfl.gov.uk or via Twitter channels.</p>
<p>The Jubilee line will be exceptionally busy as it services over five Olympic Games venues, as will the Metropolitan line during the evening peak as spectators make their way to Wembley Stadium. Baker Street, King's Cross and Green Park stations are also expected to be exceptionally busy in the evening peak with spectators heading to the football. </p>
<p>Regular commuters that travel on these lines and stations are reminded to get ahead of the games, avoid hotspots and where possible, re-time your journey. </p>
<p>Other top tips for spectators attending sporting events tomorrow include; people who are attending the late night Beach Volleyball session at Horse Guards Parade should check the time of their last train home and those travelling to or from Olympic Park should consider travelling via the District line or by National Rail from Liverpool Street as it may be quicker. </p>
<p>Events are taking place across the Capital at the Olympic Park, ExCeL, North Greenwich Arena, Greenwich Park, Royal Artillery Barracks, Horse Guards Parade, Earls Court, Lord's Cricket Ground, Wimbledon, Wembley Stadium and Wembley Arena.</p>
<p>London's Transport Commissioner, Peter Hendy CBE, said: 'Public transport in general, and the Jubilee line in particular, will be exceptionally busy tomorrow as spectators make their way to events at key Olympic venues across the Capital.&nbsp;</p>
<p>'We are very grateful to customers for following our advice to avoid London Bridge and for major businesses who are enabling their staff to work flexibly during the Games. Our advice to all users of the transport network continues to be to plan ahead, avoid hotspot areas, and leave plenty of time for your journey.'</p>
<h2>Ticketed spectators</h2>
<ul>
<li>If you have a ticket to a London 2012 event, make sure you don't miss it - check london2012.com for your recommended arrival times and leave plenty of time to travel</li>
<li>Make sure you have the correct Games Travelcard for the day of your event</li>
<li>Re-check your travel plans before attending an event by using the Travel Planner at london2012.com/journey</li>
<li>Expect queues when arriving and departing venue stations. Leave plenty of time to get to your venue</li>
<li>For a less crowded journey to the Olympic Park use the District or Hammersmith &amp; City line to West Ham</li>
<li>Live Sites will once again be in operation today.&nbsp; There are a number of other stations that can be used to enter the Hyde Park Live site including Bond Street, Marble Arch and Green Park. Please note Marble Arch and Hyde Park station will operate as exit only between 10:00 and&nbsp;22:00 when busy</li></ul>
<p>During the Games, up to one million extra visitors are expected in London every day, making an additional three million journeys over and above the usual 12 million daily journeys on public transport. </p>
<p>At certain times and in certain places, London's roads and public transport networks will be exceptionally busy.&nbsp; Anyone intending to travel should ensure they plan ahead at GetAheadoftheGames.com and leave extra time for their journeys.</p>
<h2>TfL's key travel advice for tomorrow (Tuesday 31 July):</h2>
<ul>
<li>The Olympic Route Network (ORN), including the Games Lanes, is now in operation and being enforced.&nbsp; Avoid driving in central London, around the ORN and venues</li>
<li>Games lanes are operating flexibly. Check the electronic roadside message signs which will clearly state if the Games Lanes are open to general traffic or reserved for Games vehicles. If you have to drive, plan ahead, consider re-timing your journey and allow more time</li>
<li>Events will be taking place at the Olympic Park, ExCeL, North Greenwich Arena, Greenwich Park, Royal Artillery Barracks, Horse Guards Parade, Earls Court, Lord's Cricket Ground, Wimbledon, Wembley Arena and Wembley Stadium</li>
<li>Before travelling, check out live travel updates at <a href="http://www.tfl.gov.uk">www.tfl.gov.uk</a> or by following &#64;TfLTravelAlerts (Tube, DLR and London Overground), &#64;TfLTrafficNews (roads) or &#64;tflbusalerts (bus)</li>
<li>For full information on avoiding roads and public transport hotspots, check out GetAheadoftheGames.com - including detailed Daily Bulletins - and follow &#64;GAOTG on Twitter</li>
<li>Tomorrow's Daily Bulletins is available at <a href="http://www.getaheadofthegames.com/bulletins/31-july.html">http://www.getaheadofthegames.com/bulletins/31-july.html</a></li></ul><strong>
<p>
<hr>
</p>
<p>Notes to Editors:</p>
<ul>
<li></li></ul></strong>This Transport for London (TfL) London 2012 Games travel bulletin is issued twice per day, at the expected times of 07:00 and 14:00
<li>Alongside these media travel bulletins, at 14:00 each day, TfL will also publish the full 2012 Transport Factsheets on which they are based.&nbsp; Factsheets for each day of the Olympic Torch Relay, Olympic and Paralympic Games have already been produced and published at GetAheadoftheGames.com, but they will be revised on a daily basis, based on the latest information and experience, throughout the Games</li>
<li>TfL operates the following services: London Underground, London buses, Docklands Light Railway (DLR), London's major roads, including the Olympic and Paralympic Route Networks in London, Cycling - including Barclays Cycle Hire and Barclays Cycle Superhighways, Emirates Air Line, London Overground, London River Services, Victoria Coach Station, Taxis</li>
<li>The TfL Press Office will be available 24 hours a day on 0845 604 41 41 and will have a member of staff in the London Media Centre during normal opening hours</li>
<li>A number of services are available including:<br>-&nbsp;Pre-packaged scripted films through the London Media Centre and on the TfL website at <a href="http://www.tflimages.com">www.tflimages.com</a><br>-&nbsp;B roll footage of London's transport network available from <a href="http://www.tflimages.com">www.tflimages.com</a><br>-&nbsp;A comprehensive image library providing free access to images of London's transport network available from <a href="http://www.tflpressgallery.co.uk">www.tflpressgallery.co.uk</a><br>-&nbsp;Interviews with TfL spokespeople</li>
<p>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "Olympic events also taking place all day across the CapitalDockland's Light Railway (DLR) carried a record 736,000 passengers over the weekendRoad users, residents and spectators reminded to avoid driving around the ORN, venues and central LondonPlan";}
        
        


 