


@{ViewBag.Title = "Businesses stocking up: London's firms take steps to reduce deliveries during Games-time ";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>Businesses stocking up: London's firms take steps to reduce deliveries during Games-time </h1>
        <div class="content-page-press-release">
        10 July 2012
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        Fifty-nine per cent of London's businesses aim to reduce deliveries during Games.
        
    </div>



<div class="pull-quote">
        <div class="quote-body">"Freight accounts for 25 per cent of traffic in central London, so it's encouraging to see that so many businesses are considering steps to reduce deliveries"</div>
        <div class="quote-footer">
            <div class="quotee-name">Ben Plowden</div>
            <div class="quotee-job-title">Director of Planning at TfL Surface Transport</div>
        </div>
</div>

 <div class="on-this-page">
<div class="pullquote right">
                        <p>
                            Freight accounts for 25 per cent of traffic in central London, so it's encouraging to see that so many businesses are considering steps to reduce deliveries
                            
                        </p>
                    </div>
                
            
            
            <ul>
<li>37 per cent are planning to stock up on non-perishables in advance </li>
<li>TfL continues to work closely with more than 24,000 businesses and urges all firms to get planning </li></ul>
<p>New research shows the majority of businesses in central London and around Games venues (59 per cent) are considering ways to reduce deliveries during the London 2012 Games, while TfL continues to work closely with more than 24,000 companies to help them plan. </p>
<p>According to a survey of 1,000 businesses, by Transport for London and London 2012, more than a third (37 per cent) are considering stocking up on non-perishable goods, such as stationery, in advance of the Games. Around one in five are thinking about postponing non-essential deliveries (22 per cent) or setting up temporary stock rooms (20 per cent).</p>
<p>A small number (eight per cent) are even working with neighbouring businesses to ensure they are prepared for the Games, however only two per cent are considering preventative vehicle maintenance to avoid any potential breakdowns during Games-time. </p>
<h2>Re-route and re-time</h2>
<p>Motorists are being advised to avoid central London, areas around the Olympic Route Network, and Games venues from mid-July. For that reason, freight operators and their customers are being urged to plan ahead and reduce, re-route, re-time or switch deliveries to an alternative mode of transport wherever possible.</p>
<p>TfL is continuing to provide support to the more than 24,000 businesses that have attended transport workshops ahead of the Games through weekly emails. This will be increased to twice daily throughout the Games enabling freight companies and businesses to update their plans if necessary.</p>
<p>Ben Plowden, Director of Planning at TfL Surface Transport, said: 'During the Games, London will become a massive sporting and cultural venue, which means public transport and roads in central London and around venues will be exceptionally busy. </p>
<p>Freight accounts for 25 per cent of traffic in central London, so it's encouraging to see that so many businesses are considering steps to reduce deliveries. Some companies are even sharing resources with neighbouring companies, which might be something that businesses would continue to benefit from after the Games have finished.'</p>
<p>Soho-based vegetarian restaurant, Tibits, is sharing deliveries with a number of neighbouring businesses including Ice Bar. The two companies are also sharing space, ordering and storing non-perishable goods in their cellars and stock rooms ahead of the Games.</p>
<h2>Speak to suppliers</h2>
<p>Edmund Farrow, General Manager at Tibits, said: 'We've been planning for the Games for the last six months. During that time, we've kept a diary of deliveries and collections we received which has given us a clearer picture on how to plan for this summer. </p>
<p>'We spoke to all our suppliers and neighbours to see what their plans were at Games-time. By sharing deliveries of goods, such as beer, wine, fresh fruit and vegetables, we can reduce our deliveries and potential disruption. We also calculated how much extra space we'd need to stockpile larger items, such as canned goods and pasta.'</p>
<p>Soho-based restaurant The Living Room is ordering an extra 35 per cent of non-perishable goods to meet increased demand at Games-time. It is stocking up on these products, which include straws, napkins, crockery and linens, and storing them in a large basement under the bar. </p>
<p>For more information on planning deliveries during Games time, businesses should visit <a href="http://www.GetAheadoftheGames.com">GetAheadoftheGames.com</a> and tfl.gov.uk/2012freight. <br></p>
<p>
<hr>

<p>
<p><strong>Notes to editors </strong></p><strong>
<ul>
<li></li></ul></strong>London 2012 and TfL conducted a telephone survey of 1,000 businesses based in central London or around Games venues. The research was conducted in May 2012 
<li>TfL has been working closely with businesses and our London 2012 partners to minimise the impact of the Games on the Capital's road network. However, it is essential that freight operators and their customers plan in advance to ensure they understand the transport challenges of the Games and take steps to reduce, re-route, re-time or re-mode deliveries wherever possible. Further information on each option, a list of Top Tips and TfL's Freight Journey Planner is available at tfl.gov.uk/2012freight </li>
<li>London 2012 and TfL have provided free travel advice to business programmes to companies operating in areas of London and the rest of the UK that will be affected by the Games. Five hundred major businesses employing more than 600,000 people have signed up for specific travel advice and have drafted travel plans which they have shared with TfL. Around 24,000 businesses across London and other areas of the UK, including Weymouth and Portland, where Sailing events are being held, and Eton Dorney, that will host rowing and sprint canoe events, have attended TfL arranged or supported workshops. Businesses are encouraged to use the support available at <a href="http://www.GetAheadoftheGames.com">www.GetAheadoftheGames.com</a> to prepare and test in advance of the Games.</li>
<p><br></p>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "37 per cent are planning to stock up on non-perishables in advance TfL continues to work closely with more than 24,000 businesses and urges all firms to get planning New research shows the majority of businesses in central London and around Games venues";}
        
        


 