


@{ViewBag.Title = "Day three of the Olympic Games: TfL urges people to Get Ahead of the Games on the first weekday of competition - Monday, 30 July 2012";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>Day three of the Olympic Games: TfL urges people to Get Ahead of the Games on the first weekday of competition - Monday, 30 July 2012</h1>
        <div class="content-page-press-release">
        30 July 2012
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        Following the great turnout by hundreds of thousands of spectators for the Men's and Women's Cycle Road Races at the weekend, today (Monday 30 July) marks the first weekday of competition during the London 2012 Olympic Games.
        
    </div>



 <div class="on-this-page">
<p>Transport for London (TfL) urges both commuters and spectators to plan ahead, leave extra travel time and avoid travel hotspots.</p>
<p>TfL thanks motorists for planning ahead over the weekend, with just four cars removed from the route in London in advance of the races, demonstrating that people listened to the travel advice and planned ahead. </p>
<p>On both days of the Road Race event, planned road closures were reopened ahead of schedule after the races.</p>
<p>TfL advises people to continue to plan and check before they travel, as London Bridge station and DLR services will be exceptionally busy today and should be avoided. </p>
<p>There will be up to 50,000 spectators travelling to the Equestrian Cross Country event at Greenwich Park. </p>
<p>Spectators travelling to the equestrian event should avoid London Bridge Station and are advised to take alternative services from Cannon Street, Victoria or Charing Cross to Greenwich or Blackheath. </p>
<p>Platforms 1-6 of London Bridge National Rail station (which usually serve Kent) will be exit only in the evening from 18:00 to 22:00. Southeastern and FCC passengers are advised to board services from alternative stations such as Charing Cross, Cannon Street, Victoria or Blackfriars.&nbsp; </p>
<p>Canary Wharf and Bank stations are also expected to be exceptionally busy and the DLR is expected to see its busiest day of the London 2012 Games.&nbsp; </p>
<p>London 2012 Olympic events are taking place across the capital at the Olympic Park, ExCeL, North Greenwich Arena, Greenwich Park, Royal Artillery Barracks, Horse Guards Parade, Earls Court, Lord's Cricket Ground, Wimbledon and Wembley Arena.</p>
<p>Today Londoners will see roads and public transport networks being exceptionally busy.&nbsp;Anyone intending to travel must plan ahead to ensure that they avoid transport hotspots and get to their destination on time by visiting GetAheadoftheGames.com.&nbsp; </p>
<p>During the Games, up to one million extra visitors are expected in London every day, making an additional three million journeys over and above the usual 12 million daily journeys on public transport. </p>
<p>Mike Brown, London Underground's Managing Director, said: 'After a fantastic weekend of sport, people are reminded that today they are going back to work in an Olympic City.&nbsp;With hundreds of thousands of spectators going to events across the capital, including 50,000 people to travelling Greenwich for the Equestrian event, it's vital people plan ahead to avoid the travel hotspots and therefore delay and disruption to their journeys.</p>
<p>'London Bridge is a travel hotspot that will be exceptionally busy, so spectators going to the Equestrian event at Greenwich Park are advised avoid the station. Don't chance it - plan ahead at GetAheadoftheGames.com and follow the advice of our staff and Travel Ambassadors, who are there to assist both spectators and our regular customers.'</p>
<p>Robin Gisby, Network Rail managing director of network operations, said: 'The industry's planning has been extensive. Even with changes to the station and extra staff and signage, London Bridge will be exceptionally busy. Commuters and Games travellers are advised to avoid the station if at all possible.&nbsp; </p>
<p>'People will not be able to board Southeastern or First Capital Connect&nbsp;services to Kent from the station between&nbsp;18:00 and 22:00, and we are advising people that it will be extremely difficult to board a train at London Bridge if they are travelling to the equestrian this morning. The best alternative options for passengers are Cannon Street, Charing Cross and Victoria, checking their travel plans at <a href="http://www.GetAheadoftheGames.com">www.GetAheadoftheGames.com</a><a href="http://www.getaheadofthegames.com.'">'</a></p>
<p>
<hr>

<p>
<p><strong>Ticketed spectators</strong></p>
<ul>
<li>If you have a ticket to a London 2012 event, make sure you don't miss it - check <a href="http://www.london2012.com">www.london2012.com</a> for your recommended arrival times and leave plenty of time to travel </li>
<li>Spectators travelling to the Equestrian event at Greenwich Park are advised not to use London Bridge station, they should use Cannon Street, Charing Cross or Victoria </li>
<li>Spectators travelling to the Olympic Park should consider using the District or Hammersmith &amp; City line to West Ham and follow the 15-20 minute direct walk along the Greenway </li>
<li>Make sure you have the correct Games Travelcard- you must have this in order to travel for free on the day on the day of your event </li>
<li>Re-check your travel plans before attending an event by using the Travel Planner at <a href="http://www.london2012.com/journey">www.london2012.com/journey</a>&nbsp; </li>
<li>Expect queues when arriving and departing venue stations. Leave plenty of time to get to your venue</li></ul>
<p><strong>TfL's key travel advice for today (Monday, 30 July):</strong></p>
<ul>
<li>Passengers will not be able to board Southeastern or First Capital Connect services at London Bridge from 18:00-22:00 as platforms 1-6 will be exit only </li>
<li>Passengers are advised to use alternative stations such as Cannon Street, Charing Cross or Blackfriars </li>
<li>The Olympic Route Network (ORN), including the Games Lanes, is now in operation and being enforced.&nbsp;Avoid central London, around the ORN and venues </li>
<li>Games lanes are operating flexibly. Check the electronic roadside message signs which will clearly state if the Games lanes are open to general traffic or reserved for Games vehicles </li>
<li>Due to the Equestrian Events, roads in Greenwich Town Centre will be exceptionally busy, particularly in the afternoon </li>
<li>The Jubilee line, DLR and southeastern rail services to Greenwich are expected to be exceptionally busy, especially in the evening peak </li>
<li>Canary Wharf and Bank stations are also expected to be exceptionally busy </li>
<li>Before travelling, check out live travel updates at <a href="http://www.tfl.gov.uk">tfl.gov.uk</a> or by following &#64;TfLTravelAlerts (Tube, DLR and London Overground), &#64;TfLTrafficNews (roads) or &#64;tflbusalerts (bus) </li>
<li>For full information on avoiding roads and public transport hotspots, check out GetAheadoftheGames.com - including detailed Daily Bulletins - and follow &#64;GAOTG on Twitter </li>
<li>Today's Daily Bulletin is available at <a href="http://www.getaheadofthegames.com/bulletins/30-july.html">www.GetAheadoftheGames.com/bulletins/30-july.html</a> </li>
<li>Passengers are reminded that non-folding bikes will not be able to be carried on London Underground or London Overground services</li></ul>
<p>
<hr>
<br></p>
            <p><strong>Notes to Editors:</strong></p>
<ul>
<li>The Transport for London (TfL) London 2012 Games travel bulletin is issued twice per day, at the expected times of 07:00 and 14:00</li>
<li>Alongside these media travel bulletins, at 14:00 each day, TfL will also publish the full 2012 Transport Factsheets on which they are based.&nbsp; Factsheets for each day of the Olympic and Paralympic Games have already been produced and published at GetAheadoftheGames.com, but they will be revised on a daily basis, based on the latest information and experience, throughout the Games</li>
<li>TfL operates the following services: London Underground, London buses, Docklands Light Railway (DLR), London's major roads, including the Olympic and Paralympic Route Networks in London, Cycling - including Barclays Cycle Hire and Barclays Cycle Superhighways, Emirates Air Line, London Overground, London River Services, Victoria Coach Station, Taxis</li>
<li>The TfL Press Office will be available 24 hours a day on 0845 604 4141 and will have a member of staff in the London Media Centre during normal opening hours</li>
<li>A number of services are available including: pre-packaged scripted films through the London Media Centre and on the TfL website at <a href="http://www.tflimages.com">www.tflimages.com</a>, B roll footage of London's transport network available from <a href="http://www.tflimages.com">www.tflimages.com</a><font color="#000000">,&nbsp;a</font> comprehensive image library providing free access to images of London's transport network available from <a href="http://www.tflpressgallery.co.uk">www.tflpressgallery.co.uk</a><font color="#000000"> and interviews </font>with TfL spokespeople<br></li></ul>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "Transport for London (TfL) urges both commuters and spectators to plan ahead, leave extra travel time and avoid travel hotspots.TfL thanks motorists for planning ahead over the weekend, with just four cars removed from the route in London in advance of";}
        
        


 