


@{ViewBag.Title = "Don't get caught out - businesses and Londoners urged to plan their Games-time travel ";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>Don't get caught out - businesses and Londoners urged to plan their Games-time travel </h1>
        <div class="content-page-press-release">
        03 July 2012
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        Boris Johnson urges London's business leaders to finalise their Games-time plans and to communicate them to staff.
        
    </div>



<div class="pull-quote">
        <div class="quote-body">"There is a huge amount of information available to help people do this. It's time to get set for a spectacular summer."</div>
        <div class="quote-footer">
            <div class="quotee-name">Seb Coe</div>
            <div class="quotee-job-title">LOCOG Chair</div>
        </div>
</div>

 <div class="on-this-page">
<div class="pullquote right">
                        <p>
                            There is a huge amount of information available to help people do this. It's time to get set for a spectacular summer.
                            
                        </p>
                    </div>
                
            
            
            <ul>
<li>For the first time, announcements from the Mayor broadcast across the Tube and transport networks, calling on Londoners and visitors to plan their travel at GetAheadoftheGames.com</li></ul>
<p>The Mayor of London, Boris Johnson, today will call on business leaders and Londoners to finalise their travel plans and urge them not to chance it by adopting a 'wait and see' approach over the first few days of the London 2012 Games.</p>
<p>With less than a month to go until the Games begin, the Mayor will host an event for London's business leaders to share best practice and experiences and advise those who have yet to finalise their plans that there is still time - but they must plan their Games-time travel now at GetAheadoftheGames.com. </p>
<h2>On the record</h2>
<p>The Mayor will be joined by Secretary of State for Transport, Justine Greening MP, London's Transport Commissioner, Peter Hendy CBE, and LOCOG Chair, Seb Coe, who will all emphasise the need for businesses to finalise their plans and - crucially - to communicate these plans to their staff.</p>
<p>The event comes on the same day recorded announcements from the Mayor, calling on Londoners and visitors to plan their travel at GetAheadoftheGames.com, were broadcast across London's Tube and transport networks for the first time.</p>
<p>A typical announcement from the Mayor is as follows:</p>
<p>Hi folks! This is the Mayor here. This is the greatest moment in the life of London for 50 years. </p>
<h2>Leading the way</h2>
<p>We're welcoming more than a million people a day to our city and there is going to be huge pressure on the transport network. </p>
<p>Don't get caught out. Get online and plan your journey at GetAheadoftheGames.com </p>
<p>Today's event will be attended by high-profile businesses covering sectors from financial services to pharmaceuticals, and restaurants to retailers. </p>
<p>A panel of London's leading firms will share their plans for Games-time transport, from adapting restaurant booking policies to allow for customer delays, to 'Walk and Jog to Work' days. They will also answer questions from other businesses looking to finalise their own planning. </p>
<h2>Don't 'wait and see'</h2>
<p>The Mayor of London, Boris Johnson, said: 'This summer will be a hugely exciting time for London, and with a million extra visitors a day to our great city, our roads and public transport services are going to be exceptionally busy, and journeys may take longer than usual.</p>
<p>'So it's vital that businesses and Londoners don't adopt a 'wait and see' approach and play their part in putting on a fantastic Olympics. So don't get caught out - check how your journeys will be affected and plan ahead at GetAheadoftheGames.com.'</p>
<p>Secretary of State for Transport, Justine Greening, said: 'The London Olympics and Paralympics will be once in a lifetime events and it is going to be a great time to be in London.</p>
<p>'Whether you are a global company or a sole trader you need to make sure you are looking at your options for travel during the Games and making sure you have the latest information on how your journeys will be affected.&nbsp; </p>
<h2>Start planning now</h2>
<p>'It is going to be a great summer, and planning ahead now will mean less disruption and more time to enjoy the atmosphere during the Games.'</p>
<p>London's Transport Commissioner, Peter Hendy CBE, said: 'During the Games, London will be turned into a massive sporting and cultural venue. </p>
<p>'As a result, central London, the Olympic Route Network and areas around venues are going to be very busy.</p>
<p>'With over 1.5 million visits to our GetAheadoftheGames.com website already, it's clear many businesses and Londoners have already planned their Games-time travel. For those yet to do so there is still time, but they should start now.' </p>
<h2>Spectacular summer</h2>

<p>LOCOG Chair Seb Coe commented: 'Thousands of athletes around the world are at the final stages of planning for the Games. </p>
<p>'Their plans will be meticulous, leaving no stone unturned. </p>
<p>'Businesses in London also need to fine tune their plans for the Games. </p>
<p>'There is a huge amount of information available to help people do this. It's time to get set for a spectacular summer.' </p>
<h2>Prepare in advance</h2>
<p>Baroness Jo Valentine, Chief Executive of London First, said: 'The Olympics will be a major opportunity to show off what the UK and London have to offer and with such a huge scale event there will inevitably be considerable logistical challenges. </p>
<p>'No one knows exactly what will happen, but preparing in advance will stand us in good stead. </p>
<p>'All businesses should make sure they have properly thought through their plans, and be ready to implement them.'</p>
<p>Thirteen businesses will speak at the event about their best practice plans for Games-time: Deloitte LLP, Lloyds Banking Group, Harrods, Alliance Boots plc, Tesco, John Lewis Partnership, Fuller's, Smith &amp; Turner plc , Rex Restaurants (includes The Wolseley), Covent Garden Market Authority, The Evening Standard, UPS, G4S and Veolia Environmental. </p>
<h2>Get ahead</h2>
<p>Businesses, commuters and visitors can get information on travel planning at GetAheadoftheGames.com or follow &#64;GAOTG on Twitter. </p>
<p>For live travel advice before, during and after the Games, follow &#64;TfLTravelAlerts for Tube, DLR and London Overground and &#64;TfLTrafficNews for roads information.</p>
<p>
<hr>

<p>
<p><strong>Notes to editors:</strong></p>
<ul>
<li>The Mayor of London's announcements will be played at various Tube hotspot stations, and bus, DLR, London Overground and Network Rail stations. They will also be played at other train stations managed by certain Train Operating Companies and on board trams </li>
<li>Audio of the Mayor recording the announcements is available on request from the TfL press office </li>
<li>Thirteen businesses will speak at the event (see appendix for quotes from each organisation). The panel is made up of : 
<ul type="circle">
<li>David Sproul, Senior Partner and Chief Executive, Deloitte LLP </li>
<li>Jonathan Shawcross, Director of Group Security and Fraud, Lloyds Banking Group </li>
<li>Michael Ward, Managing Director, Harrods </li>
<li>Alex Gourlay, Chief Executive - Health and Beauty division, Alliance Boots plc </li>
<li>Jurrien Heynen, Director, Distribution Support Office, Tesco </li>
<li>Ben Farrell, Head of Operational Risk Management, John Lewis Partnership </li>
<li>Richard Fuller, Director, Sales and Marketing, Fuller's, Smith &amp; Turner plc </li>
<li>Lawrence Keogh, Head Chef, Rex Restaurants (includes The Wolseley) </li>
<li>Helen Evans, Director of Business Support and Development, Covent Garden Market Authority (operates New Covent Garden food market) </li>
<li>Andrew Mullins, Managing Director, The Evening Standard </li>
<li>Cindy Miller, Managing Director, UPS </li>
<li>Chris Rowe, Olympics Director - Cash, G4S </li>
<li>Pascal Hauret, London Regional Director, Veolia Environmental </li></ul></li>
<li>London 2012 and TfL have provided free travel advice to business programmes to companies operating in areas of London and the rest of the UK that will be affected by the Games. Five hundred major businesses employing more than 600,000 people have signed up for specific travel advice and have drafted travel plans which they have shared with TfL. Around 24,000 businesses across London and other areas of the UK, including Weymouth and Portland, where sailing events are being held, and Eton Dorney, that will host rowing and sprint canoe events, have attended TfL arranged or supported workshops. Businesses are encouraged to use the support available at <a href="http://www.GetAheadoftheGames.com">www.GetAheadoftheGames.com</a> to prepare and test in advance of the Games<br></li></ul>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "For the first time, announcements from the Mayor broadcast across the Tube and transport networks, calling on Londoners and visitors to plan their travel at GetAheadoftheGames.comThe Mayor of London, Boris Johnson, today will call on business leaders and";}
        
        


 