


@{ViewBag.Title = "Farringdon becomes the 66th step-free Tube station ";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>Farringdon becomes the 66th step-free Tube station </h1>
        <div class="content-page-press-release">
        09 July 2012
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        London Underground's (LU) Farringdon station is now the 66th Tube station to become step-free from street to platform level.
        
    </div>



<div class="pull-quote">
        <div class="quote-body">"This is tremendous news for our customers who have already benefited from additional entrances and a more spacious ticket hall. The lifts will make it far easier for customers with mobility impairments or heavy luggage or buggies to use the station."</div>
        <div class="quote-footer">
            <div class="quotee-name">Howard Collins</div>
            <div class="quotee-job-title">London Underground's Chief Operating Officer</div>
        </div>
</div>

 <div class="on-this-page">
<div class="pullquote right">
                        <p>
                            This is tremendous news for our customers who have already benefited from additional entrances and a more spacious ticket hall. The lifts will make it far easier for customers with mobility impairments or heavy luggage or buggies to use the station.
                            
                        </p>
                    </div>
                
            
            
            <p>Five new lifts have been installed to provide direct access to all four platforms at the station both for wheelchair users and passengers with heavy luggage and buggies. </p>
<p>The new lifts follow the opening of a brand new ticket hall in December 2011 and are the latest in a raft of improvements at Farringdon, part of a Network Rail redevelopment that has transformed the entire station. </p>
<p>Howard Collins, LU's Chief Operating Officer said: 'This is tremendous news for our customers who have already benefited from additional entrances and a more spacious ticket hall. The lifts will make it far easier for customers with mobility impairments or heavy luggage or buggies to use the station.'</p>
<p>Network Rail improvements have also provided 36 new ticket gates, 20 new staircases, one new footbridge, two new ticket offices and nine new ticket machines spread over&nbsp; the newly restored original entrance and two brand new entrances. </p>
<p>Mike Brown, Network Rail's Senior Project Manager said: 'Completion of these lifts marks a key milestone for us as we near the end of our work at Farringdon. The lifts allow for step-free access onto both London Underground and Thameslink platforms, two of the five lifts are also ready for the arrival of Crossrail in 2018.'</p>
<p>Customers using the station will also have benefited from the new eight car air-conditioned Tube trains that are now operating on the Metropolitan line. </p>
<p>A new fully walk-through train which allows better access for customers has begun to run between Hammersmith and Moorgate as a preview service. These seven car trains, which when delivered will form a total fleet of 191, will eventually roll out on the Circle, District and Hammersmith &amp; City lines. <br></p>
            <p><strong>Notes to Editors:</strong></p>
<ul>
<li>Once the investment programme is complete customers will benefit from a state of the art step free station equipped with; five new lifts, 36 new ticket gates, 20 new staircases, one new footbridge, nine new ticket machines plus two new ticket offices spread over three new entrances</li>
<li>Two lifts have been constructed with deep shafts which, in collaboration with Crossrail, will additionally serve the Crossrail platforms as Farringdon becomes one of the key interchange stations on the network</li>
<li>More than 90,000 passengers currently use the Farringdon station every day</li>
<li>Farringdon station opened in 1863 as the terminus of the world's first underground railway which operated between Farringdon and Paddington</li>
<li>Thameslink services and London Underground's Metropolitan, Circle &amp; Hammersmith &amp; City lines serve the station, Crossraill services will start serving the station in 2018</li>
<li>Metropolitan, Circle &amp; Hammersmith &amp; City lines are currently being upgraded as part of the Sub-Surface Rail (Circle, District, Hammersmith &amp; City and Metropolitan lines) upgrade which will see new tracks, trains and signalling</li>
<li>Fifty three new air conditioned trains set for both the Circle and Hammersmith &amp; City will start rolling out later this year. They are seven carriages long - one carriage longer than the current trains. The roll out of the Metropolitan line fleet of new trains is almost complete</li>
<li>Transport for London has invested &pound;6.5bn in upgrading the capital's transport network including hundreds of millions of pounds in making the transport network more accessible in the last few years</li>
<li>The improvements include new lifts, trains, raised platform areas, wide aisle gates, tactile paving and audio and visual displays</li>
<li>All Tube stations have staff trained to assist passengers</li>
<li>Every station on the DLR is step-free</li>
<li>Our bus fleet is the most accessible fleet in the UK - with every one of our 8,500 buses low-floor wheelchair accessible and over 60 per cent of bus stops fully accessible. This will rise to 70 per cent by the end of the 2012/13 financial year and we are working closely with the London boroughs to achieve full accessibility as quickly as practical</li>
<li>However, TfL is not complacent and, with 12m passengers using the capital's transport network every day, we want everyone who needs support to get it. We are constantly improving the accessibility of the network - with upgrade work underway to make other stations step-free such as Victoria, Bond Street, Tottenham Court Road and Paddington H&amp;C, and new initiatives being delivered such as our Travel Support card, which makes travel easier for passengers with hidden disabilities </li></ul>
<p>&nbsp;</p>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "Five new lifts have been installed to provide direct access to all four platforms at the station both for wheelchair users and passengers with heavy luggage and buggies. The new lifts follow the opening of a brand new ticket hall in December 2011 and are";}
        
        


 