


@{ViewBag.Title = "Final works on London's roads begin to ensure the Olympic Route Network is ready for operation on Wednesday 25 July";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>Final works on London's roads begin to ensure the Olympic Route Network is ready for operation on Wednesday 25 July</h1>
        <div class="content-page-press-release">
        21 July 2012
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        Around 2,000 contractors began physical works on the ORN last night to ensure that it is ready to get athletes, officials and world's media to events on time.
        
    </div>



<div class="pull-quote">
        <div class="quote-body">"With the Games less than a week away, the excitement is building and we're into the final stages of preparations to ensure we are ready to welcome the world"</div>
        <div class="quote-footer">
            <div class="quotee-name">Boris Johnson</div>
            <div class="quotee-job-title">Mayor of London</div>
        </div>
</div>

 <div class="on-this-page">
<div class="pullquote right">
                        <p>
                            With the Games less than a week away, the excitement is building and we're into the final stages of preparations to ensure we are ready to welcome the world
                            
                        </p>
                    </div>
                
            
            
            <p>Transport for London (TfL) last night commenced the final stage of physical works that will ensure the Olympic Route Network (ORN) in London is ready to begin operation on Wednesday (25 July) - just two days before the Opening Ceremony of the London 2012 Olympic Games - to get all athletes, officials and the world's media to their events on time.</p>
<p>As London is transformed into a massive sporting and cultural venue and with just one week to go until the Games begin, final preparatory works to build the ORN successfully took place at Westminster Bridge last night. Over four nights, around 2,000 contractors will continue to install barriers and simplify over 120 junctions along the ORN across London.</p>
<p>The works, taking place overnight to keep disruption to a minimum, will continue to progressively change London's road network and by Monday morning, London's roads will look and feel different and will be ready for the Games lanes to be enforced from 06:00 on Wednesday (25 July).</p>
<p>Images of last night's build at Westminster are available to download free from the <a title="TfL image gallery" href="http://www.tflpressgallery.co.uk">TfL Image gallery</a> or as video footage from <a title="Yousendit" href="http://yousend.it/NDPMyU.">Yousendit</a></p>
<p>As part of TfL's ORN customer information campaign, an email was sent on Saturday morning (21 July) to 4.1m customers outlining the details of the ORN, how it operates and how it will be enforced.</p>
<h2>Transforming London's roads</h2>
<p>TfL began transforming London's roads at the start of July, when painting of Games lanes road markings began, followed by adjustments to 1,300 sets of traffic signals.</p>
<p>Work to install three temporary pedestrian footbridges at Hyde Park Corner also commenced last night and will include short closures of parts of Hyde Park Corner and interim diversions.</p>
<p>The bridges will help crowds get to and from the numerous Olympic and cultural events in the area, including the Olympic venues in Hyde Park, The Mall and Horse Guards Parade and the BT London Live site in Hyde Park.</p>
<p>The final stage of works will commence on Tuesday (24 July), the night before the ORN go-live, when designated pedestrian crossings will be suspended and certain parking and loading bays along the route are removed.</p>
<p>Mayor of London, Boris Johnson said: "The Olympic Route Network is a requirement of all Host Cities and is vital in ensuring athletes, officials and the world's media get to their events on time.</p>
<p>Its length was slashed by one third of what had been planned and we're working hard to introduce changes to the road network as late as possible, to minimise the impact on Londoners and businesses.</p>
<p>"With the Games less than a week away, the excitement is building and we're into the final stages of preparations to ensure we are ready to welcome the world."</p>
<p>Leon Daniels, MD for Surface Transport said: "There was a hive of activity in the area around the Westminster Bridge last night.&nbsp; Over the weekend, up to 2,000 people will be working hard to transform London's roads so that the ORN is ready to carry around 1,300 vehicles an hour from Wednesday when enforcement begins.</p>
<h2>Don't get caught out</h2>
<p>Our advice to road users is clear - don't get caught out.</p>
<p>Avoid driving in central London, around the ORN and Games venues.&nbsp; </p>
<p>If a journey by road is absolutely essential, plan ahead at GetAheadoftheGames.com and allow extra time."</p>
<p>TfL urges motorists to check out a special film, explaining how the ORN, including the Games lanes, works and will be enforced, available to view <a title="here" href="http://www.getaheadofthegames.com/things-you-should-know/olympic-route-network.html">here</a></p>
<p>The ORN is a requirement of the Host City contract and is vital in ensuring all athletes, officials and the world's media get to their London 2012 Games events on time.</p>
<p>The ORN covers 109 miles in total in London although Games lanes will only be used on 30 miles of the network.</p>
<p>They will operate alongside lanes for general traffic and will be reserved for the use of the athletes, coaches, technical officials and the world's media.</p>
<p>The Games lanes will generally operate between 06:00 to midnight.</p>
<p>Around 150 Variable Message Signs (VMS) have been placed along the ORN and clearly state to drivers that they may continue to use the road network as normal and are not restricted from using the Games lanes, with the exception of the M4 Games lane, until operation of the ORN begins on Wednesday (25 July).</p>
<p>Compliance on the ORN is key to ensuring that the Games run smoothly and London keeps moving. A penalty charge of &pound;130 will be issued to owners of vehicles who break the regulations in London, including driving in Games lanes or stopping along the route and any illegally parked vehicle will be removed to a vehicle pound and may incur a release fee of &pound;200.</p>
<p>In order to ensure that the capital remains open for business and we can keep London moving prior to and during the Games, TfL's advice to road users is clear:</p>
<ul>
<li>Motorists should avoid driving in central London, around the ORN and Games venues until after the Games </li>
<li>Motorists should also avoid the areas around the Road Event courses on competition days such as the Cycling Road Races on 28 and 29 July, the Cycle Time Trial on 1 August and the Women's and Men's Marathons on 5 and 12 August </li>
<li>Every day of the Games is different, so if you must drive, plan ahead and allow more time </li>
<li>Go to GetAheadoftheGames.com to find out how you can avoid the road hotspots and plan your travel during the Games.</li></ul>
<p>
<hr>

<p>
<p>Notes to Editors:</p>
<ul>
<li>Map by map details of the Olympic and Paralympic Route Networks, including details of all traffic measures such as junctions changes and suspended pedestrian crossings can be found at <a href="http://www.tfl.gov.uk/orn">www.tfl.gov.uk/orn</a> </li>
<li>All motorists can use the ORN, and only the 30 miles of Games lanes, alongside lanes for general traffic, will be reserved for vehicles carrying athletes, coaches, officials, media and some sponsors. </li>
<li>TfL is committed to keeping London moving throughout the Games and will operate the Games lanes as flexibly as possible. They will be opened up to all traffic at times when demand from Games family vehicles is low and capacity available. A network of around 150 variable message signs (VMS) along the route will advise motorists when Games lanes are open to regular traffic throughout the day. </li>
<li>The ORN will come into operation on 25 July, a couple of days before the Opening Ceremony of the Olympic Games. It will end operation a couple of days after the Games and will not be in operation between the Olympics and Paralympics. The smaller Paralympic Route Network (PRN) will also come into operation just a couple of days before the Paralympic Games. Once Games events are completed at a venue, such as Wimbledon, the ORN will be removed. </li>
<li>The ORN also extends out of London to other London 2012 venues in England. These routes are being delivered by the Olympic Delivery Authority (ODA) in partnership with the respective local highway authorities. ORN operational and enforcement dates and times outside of London differ from those being delivered by TfL within London. For more information please contact Government Olympic Communications (GOC) on 020 7271 1700. </li>
<li>All the information, tools and advice that motorists, cyclists and pedestrians need to plan their road journeys during the Games can be found on the GetAheadoftheGames.com website and by following &#64;GAOTG on Twitter. </li>
<li>A film on GetAheadoftheGames.com provides an explanation of the ORN and top tips for motorists on avoiding driving and planning journeys during the Games. <a href="http://www.getaheadofthegames.com/things-you-should-know/olympic-route-network.html">www.getaheadofthegames.com/things-you-should-know/olympic-route-network.html</a>. </li>
<li>The Temporary Road Changes planning tool on the GetAheadoftheGames.com website includes all of the information motorists, cyclists and pedestrians need to plan their road journeys during the Games, including details of the ORN, LOCOG's local parking and traffic management plans around Games venues and how roads around race routes will be affected during Road Events. <a href="http://www.getaheadofthegames.com/travelinaffectedareas/city/london-temporary-road-changes.html">www.getaheadofthegames.com/travelinaffectedareas/city/london-temporary-road-changes.html</a>. </li>
<li>To install the temporary bridges at Hyde Park the following diversions will take place:<br>Sunday 22 July: Grosvenor Crescent will close in both directions, with local access via Belgrave Square. The eastbound lane of Grosvenor Crescent will remain&nbsp;closed until 16 August. Lanes will also be restricted both west and east of Hyde Park Corner. Overnight road closures for around one hour will take place on the west side of Hyde Park Corner and temporary diversions will be put in place. Monday 23 July: from 21:00 lanes will be restricted around the east side of Hyde Park Corner into the early morning. Overnight road closures for around one hour will take place on the east side and temporary diversions will be in place. </li>
<li>Media can download images from last night's ORN build from <a href="http://www.tflpressgallery.co.uk">http://www.tflpressgallery.co.uk</a> and video footage from <a title="Yousendit" href="http://yousend.it/NDPMyU ">yousendit</a> </li>
<li>If you require more information please contact TfL's Press Office on 0845 604 4141or email <a href="mailto:2012press&#64;tfl.gov.uk">2012press&#64;tfl.gov.uk</a></li></ul>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "Transport for London (TfL) last night commenced the final stage of physical works that will ensure the Olympic Route Network (ORN) in London is ready to begin operation on Wednesday (25 July) - just two days before the Opening Ceremony of the London 2012";}
        
        


 