


@{ViewBag.Title = "First weekday of the Olympic Games: Avoid London Bridge ";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>First weekday of the Olympic Games: Avoid London Bridge </h1>
        <div class="content-page-press-release">
        29 July 2012
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        Monday 30 July is the first weekday of competition during the London 2012 Olympic Games and Transport for London (TfL) today urged people to plan ahead to avoid the travel hotspots and therefore reduce delay and disruption to their journeys.
        
    </div>



 <div class="on-this-page">
<p>With up to 50,000 spectators travelling to the Equestrian Cross Country event at Greenwich Park, London Bridge station will be exceptionally busy and should be avoided. Spectators travelling to the equestrian event are advised to avoid London Bridge as services will already be full, and to take services from Cannon Street, Victoria or Charing Cross to Greenwich or Blackheath instead. </p>
<p>Platforms 1-6 of London Bridge National Rail station (which usually serve Kent) will be exit only in the evening from 18:00 to 22:00. Southeastern and FCC passengers are advised to board services from alternative stations such as Charing Cross, Cannon Street, Victoria or Blackfriars.&nbsp;Canary Wharf and Bank stations are also expected to be exceptionally busy and the Docklands Light Railway is expected to see its busiest day of the London 2012 Games.&nbsp; </p>
<p>London 2012 Olympic events are taking place across the Capital at the Olympic Park, ExCeL, North Greenwich Arena, Greenwich Park, Royal Artillery Barracks, Horse Guards Parade, Earls Court, Lord's Cricket Ground, Wimbledon and Wembley Arena.</p>
<p>During the Games, up to one million extra visitors are expected in London every day, making an additional three million journeys over and above the usual 12 million daily journeys on public transport. London's roads and public transport networks will be exceptionally busy.&nbsp;Anyone intending to travel should ensure they plan ahead to avoid the transport hotspots at GetAheadoftheGames.com and leave extra time for their journeys.</p>
<p>Mike Brown, London Underground's Managing Director, said: 'After a fantastic Opening Ceremony and weekend of sport, many people will be going back to work on Monday in an Olympic City.&nbsp;With hundreds of thousands of spectators going to events across the Capital, it's vital people plan ahead to avoid the travel hotspots and therefore delay and disruption to their journeys.</p>
<p>'London Bridge will be exceptionally busy and spectators going to the Equestrian event at Greenwich Park are advised avoid the station. In the evening, the National Rail station will be exit only for platforms 1-6, meaning that people heading to Kent should use alternative stations. Don't chance it - plan ahead at <a href="http://www.getaheadofthegames.com/">GetAheadoftheGames.com </a>and follow the advice of our staff and Travel Ambassadors, who are there to assist both spectators and our regular customers.'</p>
<p>Robin Gisby, Network Rail managing director of network operations, said: 'The industry's planning has been extensive. Even with changes to the station and extra staff and signage, London Bridge will be exceptionally busy. Commuters and Games travellers are advised to avoid the station if at all possible.&nbsp;</p>
<p>'People will not be able to board Southeastern or FCC services to Kent from the station between 6pm and 10pm, and we are advising people that it will be extremely difficult to board a train at London Bridge if they are travelling to the equestrian in the morning. The best alternative options for passengers are Cannon Street, Charing Cross and Victoria, checking their travel plans at <a href="http://www.getaheadofthegames.com/">GetAheadoftheGames.com</a>.'</p>
<h2>Ticketed spectators</h2>
<ul>
<li>If you have a ticket to a London 2012 event, make sure you don't miss it - check <a href="london2012.com">london2012.com</a> for your recommended arrival times and leave plenty of time to travel </li>
<li>Spectators travelling to the Equestrian event at Greenwich Park are advised not to use London Bridge station, they should use Cannon Street, Charing Cross or Victoria </li>
<li>Spectators travelling to the Olympic Park should consider using the District or Hammersmith &amp; City line to West Ham and follow the 15-20 minute direct walk along the Greenway </li>
<li>Make sure you have the correct Games Travelcard for the day of your event </li>
<li>Re-check your travel plans before attending an event by using the Travel Planner at <a href="http://travel.london2012.com/SJPWeb/Pages/JourneyPlannerInput.aspx">london2012.com/journey</a>Expect queues when arriving and departing venue stations. Leave plenty of time to get to your venue</li></ul>
<h2>TfL's key travel advice for tomorrow (Monday 30 July)</h2>
<ul>
<li>Passengers will not be able to board Southeastern or First Capital Connect services at London Bridge from 18:00-22:00 as platforms 1-6 will be exit only </li>
<li>Passengers are advised to use alternative stations such as Cannon Street, Charing Cross or Blackfriars </li>
<li>The Olympic Route Network (ORN), including the Games Lanes, is now in operation and being enforced.&nbsp;Avoid central London, around the ORN and venues </li>
<li>Games Lanes are operating flexibly. Check the electronic roadside message signs which will clearly state if the Games Lanes are open to general traffic or reserved for Games vehicles </li>
<li>Owing&nbsp;to the Equestrian Events, roads in Greenwich Town Centre will be exceptionally busy, particularly in the afternoon </li>
<li>The Jubilee line, DLR and southeastern rail services to Greenwich are expected to be exceptionally busy, especially in the evening peak </li>
<li>Canary Wharf and Bank stations are also expected to be exceptionally busy </li>
<li>Before travelling, check out live travel updates at <a href="http://www.tfl.gov.uk">tfl.gov.uk</a> or by following &#64;TfLTravelAlerts (Tube, DLR and London Overground), &#64;TfLTrafficNews (roads) or &#64;tflbusalerts (bus) </li>
<li>For full information on avoiding roads and public transport hotspots, check out <a href="http://www.getaheadofthegames.com/">GetAheadoftheGames.com</a> - including detailed Daily Bulletins - and follow &#64;GAOTG on Twitter </li>
<li>Tomorrow's Daily Bulletin is available at <a href="http://www.getaheadofthegames.com/bulletins/30-july.html">http://www.getaheadofthegames.com/bulletins/30-july.html</a> </li>
<li>Passengers are reminded that non-folding bikes will not be able to be carried on London Underground or London Overground services<br></li></ul>
<p>
<hr>

<p>
            <p><strong>Notes to Editors<br></strong></p>
<ul>
<li>The Transport for London (TfL) London 2012 Games travel bulletin is issued twice per day, at the expected times of 07:00 and 14:00</li>
<li>Alongside these media travel bulletins, at 14:00 each day, TfL will also publish the full 2012 Transport Factsheets on which they are based</li>
<li>Factsheets for each day of the Olympic and Paralympic Games have already been produced and published at <a href="http://www.getaheadofthegames.com/">GetAheadoftheGames.com</a>, but they will be revised on a daily basis, based on the latest information and experience, throughout the Games</li>
<li>TfL operates the following services: London Underground, London buses, Docklands Light Railway (DLR), London's major roads, including the Olympic and Paralympic Route Networks in London, Cycling - including Barclays Cycle Hire and Barclays Cycle Superhighways, Emirates Air Line, London Overground, London River Services, Victoria Coach Station, taxis</li>
<li>The TfL Press Office will be available 24 hours a day on 0845 604 41 41 and will have a member of staff in the London Media Centre during normal opening hours</li>
<li>A number of services are available including:<br>o&nbsp;Pre-packaged scripted films through the London Media Centre and on the TfL website at <a href="http://www.tflimages.com">www.tflimages.com</a><br>o&nbsp;B roll footage of London's transport network available from <a href="http://www.tflimages.com">www.tflimages.com</a><br>o&nbsp;A comprehensive image library providing free access to images of London's transport network available from <a href="http://www.tflpressgallery.co.uk">www.tflpressgallery.co.uk</a><br>o&nbsp;Interviews with TfL spokespeople<br></li></ul>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "With up to 50,000 spectators travelling to the Equestrian Cross Country event at Greenwich Park, London Bridge station will be exceptionally busy and should be avoided. Spectators travelling to the equestrian event are advised to avoid London Bridge as";}
        
        


 