


@{ViewBag.Title = "Four days to go to Opening Ceremony:  Time to plan your travel and 'Get Ahead of the Games' - Tuesday, 24 July 2012";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>Four days to go to Opening Ceremony:  Time to plan your travel and 'Get Ahead of the Games' - Tuesday, 24 July 2012</h1>
        <div class="content-page-press-release">
        23 July 2012
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        Olympic Torch Relay has arrived in London - Public urged 'Don't get caught out', plan ahead and 'check before you travel' to avoid the road and public transport 'hotspots'
        
    </div>



 <div class="on-this-page">
<p>The Olympic Torch Relay has arrived in London and the capital's transformation into a massive sporting and cultural venue gathers pace.&nbsp; </p>
<p>With only four days to go to the Opening Ceremony of the London 2012 Olympic Games, it is time to put Games-time travel plans into action.</p>
<p>Central London, the ORN, areas around venues and the Torch Relay will be exceptionally busy.&nbsp;</p>
<p>Up to one million extra visitors are expected in London every day during the Games, making an additional three million journeys over and above the usual 12 million daily journeys on public transport.</p>
<p>TfL's key travel advice for tomorrow (Tuesday, 24 July):</p>
<ul>
<li>Physical changes to the road network have been carried out to ensure that the Olympic Route Network (ORN) is ready to begin operation from 6am on Wednesday 25 July.&nbsp; Avoid central London, around the ORN, venues and the route of the Torch Relay </li>
<li>If you have to drive, plan ahead, consider re-timing your journey and allow more time </li>
<li>Experience from around the UK shows that very large and enthusiastic crowds will welcome the Torch as it travels through the capital </li>
<li>If you are planning to view the Torch, stay local - the Torch is passing through every London borough so try to view it when it passes through an area close to your home or work </li>
<li>On public transport, avoid stations that are on or close to the Torch Relay routes.&nbsp; These stations will be exceptionally busy up to two hours before and at least one hour after the Torch passes </li>
<li>Cultural events are taking place across London today, see <a href="http://www.molpresents.com">www.molpresents.com</a> for further information. If possible, avoid these areas if you are not attending an event </li>
<li>Before travelling, check out live travel updates at <a href="http://www.tfl.gov.uk">www.tfl.gov.uk</a> or by following &#64;TfLTravelAlerts (Tube, DLR and London Overground) or &#64;TfLTrafficNews (roads) </li>
<li>For full information on avoiding roads and public transport hotspots visit:&nbsp; <a href="http://www.GetAheadoftheGames.com">www.GetAheadoftheGames.com</a> and follow &#64;GAOTG on Twitter.</li></ul>
<p>Olympic Torch Relay route tomorrow (Tuesday, 24 July)</p>
<ul>
<li>The Olympic Torch Relay has started its week long journey through every one of London's 33 boroughs </li>
<li>On Tuesday 24 July, it will be mainly in south-west and west London, travelling from Hook Community Centre (approx 820hrs) to Walpole Park (1850hrs) through Kingston-upon-Thames, Richmond-upon-Thames, Hounslow, Hillingdon and Ealing. </li></ul>
<p>Spectators of the Torch Relay</p>
<ul>
<li>Crowds are expected at Kingston-upon-Thames in the morning and at Kew Bridge around midday </li>
<li>If you're planning to view the Torch in one of these locations, expect crowds and be prepared to wait.&nbsp; </li></ul>
<p>Public Transport:</p>
<ul>
<li>The Piccadilly line between Hounslow West and Hounslow East is likely to be busy throughout the day, as spectators use this service to travel to the Torch route </li>
<li>South Ealing and Ealing Broadway stations are expected to be exceptionally busy between 1800-1900hrs. If possible, consider using alternative stations to avoid the crowds</li></ul>
<p>Roads:</p>
<ul>
<li>The Torch road route is as follows: A243 (Hook Rd) - A307 (Richmond Rd) - A315 (London Rd) - A437 (Dawley Rd) - A4020 (Uxbridge Rd).<br>Kngston-upon-Thames town centre will be busy in the morning peak. If possible avoid the area at this time </li>
<li>The Kew Bridge is likely to be congested before and after the torch passes at 1115hrs. If possible consider retiming your journey to avoid this area </li>
<li>Significant planned changes to London's road network to build the Olympic Route Network made over the weekend mean that, as expected, some journeys into London will take significantly longer than usual. In particular, there are lane restrictions in the following locations which drivers should avoid: A40 Hangar Lane as part of the ORN for Wembley; A3 Tibbet's Corner as part of the ORN for Wimbledon; A12 East Cross Route as part of the ORN for the Olympic Park; A13 Newham Way as part of the ORN for the Olympic Park. If journeys in these areas are essential then drivers should allow more time for their journey&nbsp; </li>
<li>Cultural events are taking place across London today, see <a href="http://www.molpresents.com">www.molpresents.com</a> for further information. If possible, avoid these areas if you are not attending an event</li></ul>
<p>Maps and animations showing the route and transport impacts for each day of the Olympic Torch Relay when in London are available at the GetAheadoftheGames.com website at the following link and by selecting the day of the Torch Relay using the slider at the top of the map: <a href="http://www.getaheadofthegames.com/travelinaffectedareas/city/london-public-transport.html">www.getaheadofthegames.com/travelinaffectedareas/city/london-public-transport.html</a></p>
<p><a href="/assets/downloads/torch-relay-factsheet.pdf">Download the 24 July factsheet (50KB)</a>&nbsp;</p>
<p>
<hr>

<p>
<p>
<p>Notes to Editors:<br>This Transport for London (TfL) London 2012 Games travel bulletin provides key travel information and advice for the following day on London's public transport and roads and will be issued daily until Tuesday 24 July. From Wednesday 25 July this bulletin will be issued twice per day, at the expected times of 0700hrs and 1400hrs.</p>
<p>Alongside these media travel bulletins, at 1400hrs each day, TfL will also publish the full 2012 Transport Factsheets on which they are based.&nbsp; Factsheets for each day of the Olympic Torch Relay, Olympic and Paralympic Games have already been produced and published at GetAheadoftheGames.com, but they will be revised on a daily basis, based on the latest information and experience, throughout the Games.</p>
<p>The TfL Press Office will be available 24 hours a day on 0845 604 41 41 and will have a member of staff in the London Media Centre during normal opening hours.</p>
<p>A number of services are available including:</p>
<ul>
<li>Pre-packaged scripted films through the London Media Centre and on the TfL website at <a href="http://www.tflimages.com">www.tflimages.com</a> </li>
<li>B roll footage of London's transport network available from <a href="http://www.tflimages.com">www.tflimages.com</a> </li>
<li>A comprehensive image library providing free access to images of London's transport network available from <a href="http://www.tflpressgallery.co.uk">www.tflpressgallery.co.uk</a> </li>
<li>Interviews with TfL spokespeople</li></ul>
<p>TfL operates the following services: London Underground, London buses, Docklands Light Railway (DLR), London's major roads, including the Olympic and Paralympic Route Networks in London, Cycling - including Barclays Cycle Hire and Barclays Cycle Superhighways, Emirates Air Line, London Overground, London River Services, Victoria Coach Station, Taxis.<br></p>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "The Olympic Torch Relay has arrived in London and the capital's transformation into a massive sporting and cultural venue gathers pace.&nbsp; With only four days to go to the Opening Ceremony of the London 2012 Olympic Games, it is time to put Games-time";}
        
        


 