


@{ViewBag.Title = "Green wall installed at The Mermaid to help trap harmful pollutants";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>Green wall installed at The Mermaid to help trap harmful pollutants</h1>
        <div class="content-page-press-release">
        09 July 2012
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        An innovative green wall has been installed at The Mermaid, in Blackfriars to help reduce harmful pollution.
        
    </div>



 <div class="on-this-page">
<p>The 120 metre squared&nbsp;wall is made up of 15 plant varieties designed to reduce locally generated pollution, particularly from nearby busy roads. </p>
<p>This is Transport for London's (TfL) second green wall in the capital following one installed on Marylebone Road at Edgware Road Tube station last year.</p>
<p>The green walls are part of a package of targeted short term measures TfL is introducing at places where PM10 levels are at its highest. Other initiatives include the use of dust suppressants, tree planting and the use of cleaner buses. </p>
<p>This is all in addition to Londonwide schemes to cut pollution such as an age limit for taxis and tighter standards for the Low Emission Zone. </p>
<h2>Plants will thrive</h2>
<p>The vibrant green wall at The Mermaid has been designed to include plants which will thrive in its underpass location. The attractive swirling planting design takes inspiration from the nearby Thames, the connection with water and The Mermaid. </p>
<p>The wall forms part of the underpass located on Puddle Dock, parallel to Upper Thames Street. The mixture of native and ornamental plants has been selected particularly for the highway location and wildlife value. </p>
<p>The wall will contain plant varieties in a mixture of vibrant colours including yellows, greens and blue tones, along with some variegated plants.</p>
<p>Preliminary data gathered from the Edgware Road site by scientist Dr Linda Davies and her colleagues from Imperial College London, suggests these green infrastructure features are successful at capturing some airborne pollution. </p>
<p>The team collected leaf samples from the green wall for five months since its installation in order to evaluate their ability to trap airborne particulate matter. An initial analysis shows that all 15 varieties of plants have been able to trap pollutants, although some have been more effective than others. </p>
<p>Matthew Pencharz, the Mayor's environment advisor, said: 'The Mayor is taking a range of robust measures to cut pollution. Green infrastructure is an innovative approach that provides a practical way to absorb dust from road vehicles and an attractive feature. </p>
<p>'We have installed several walls to test which plants work best and we want to share this knowledge to encourage their wider uptake.' </p>
<h2>Keeping cities cool</h2>
<p>Dr Linda Davies, Imperial College London, said: 'Results so far show some plants capture particles better than others, and small hairy leaves appear to do this the best. Green walls offer a wide range of environmental benefits such as helping cities keep cool and providing a haven for wildlife.'</p>
<p>Alicia Duncan, General Manager of The Mermaid said, 'The installation of a living wall helps to impact the area aesthetically as well as environmentally. The Mermaid currently has a silver award in Green Tourism and a platinum award from the City of London in waste management and recycling. </p>
<p>'Any new ideas are looked at and implemented if beneficial, and current practices are constantly reviewed to ensure we have the minimal adverse effect on the environment.'</p>
<p>TfL has also provided Crossrail with funding to install green screens at five of their constructions sites. These screens are part of the hoardings which surround the working sites. Four of the green screens are in place at Park Lane, St George Street, Hanover Square and Finsbury Circus, a further screen will be installed later this year on Farringdon Road.</p>
<p>Having invested in these trial sites, Transport for London is in discussions with other businesses where third party funding is available in order to deliver additional green walls including sites in Victoria and Chiswick.</p>
<p><strong>
<hr>
Notes to editors: </strong>
<p>
<ul>
<li>Images of the Edgware Road green wall will be available at <a href="http://www.tflpressgallery.co.uk">www.tflpressgallery.co.uk</a> </li>
<li>The green walls are part of the Mayor's Clean Air Fund, supported by funding from the Department for Transport (DfT). </li>
<li>In March 2011, the Mayor wrote to the Department for Transport (DfT) asking for funding in order to develop additional measures focused on reducing PM10 emissions and public exposure at the priority locations in Central London. A total of &pound;5m has been awarded for the Clean Air Fund programme </li>
<li>The European Commission recently confirmed to the UK government that the Mayor's plans to reduce PM10 pollution by a third by 2015 - including the work of the Clean Air Fund, has reduced the threat of hefty fines </li>
<li>The Clean Air Fund has been used to finance the following initiatives:<br>-&nbsp;A team of five taxi marshals have been visiting taxi ranks in pollution hot spots across the capital to reduce engine idling time for taxis and minicabs whilst promoting -smarter driving courses designed to reduce emissions, as well as saving cabbies money through efficient driving techniques <br>-&nbsp;A no engine-idling campaign to encourage drivers to switch off their engines when parked, loading or waiting at the roadside <br>-&nbsp;The expansion of the dust suppressants trial <br>-&nbsp;Trials of green walls and screens and additional tree and shrub planting&nbsp; <br>-&nbsp;The installation of diesel particulate filters to buses on selected routes running through central London<br>-&nbsp;A programme of engagement with businesses to promote sustainable travel and reduce their air quality impact </li>
<li>In addition, action is being taken to deliver a permanent legacy of cleaner air right across the capital. This includes the first ever age limit for black cabs, tighter standards for the Low Emission Zone, cleaner buses, including the New Bus for London and an expanded bike hire scheme. </li>
<li>Imperial College London is part of the Air Pollution Research in London (APRIL) group and is helping to evaluate the air quality and wider environmental and climatic benefits of green infrastructure measures </li>
<li>The Air Pollution Research in London (APRIL) network aims to bring together scientists, policy-makers and the wider community to identify priority areas for research to improve air quality in London and other major cities, to support the development of new scientific research and to communicate the latest research findings </li>
<li>The Mermaid (formerly Mermaid Theatre) is an independently owned venue nestled on the north bank of the Thames adjacent to Blackfriars Station, with spectacular river views of the Tate Modern, Globe Theatre, Millennium Bridge and The Shard </li>
<li>The Mermaid is committed to working towards ISO 2012/1 and improving its sustainability has become an integral part of the business. ISO 2012/1 is a management system standard for the implementation of the consideration for sustainable development in events<br></li></ul>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "The 120 metre squared&nbsp;wall is made up of 15 plant varieties designed to reduce locally generated pollution, particularly from nearby busy roads. This is Transport for London's (TfL) second green wall in the capital following one installed on";}
        
        


 