


@{ViewBag.Title = "Heathrow Terminals 1,2,3 Tube station fit for 2012 Games and beyond";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>Heathrow Terminals 1,2,3 Tube station fit for 2012 Games and beyond</h1>
        <div class="content-page-press-release">
        18 July 2012
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        Station upgrade now complete benefiting passengers for Games time and for many years to come.
        
    </div>



 <div class="on-this-page">
<ul>
<li>Two new lifts and more ticket gates to ease congestion, plus revamped ticket office, travel information centre and other improvements</li>
<li>Green Park Tube station, another key Games interchange, now step-free from street level to train</li></ul>
<p>
<p>A major upgrade of Heathrow Terminals 1,2,3 Tube station on the Piccadilly line is now complete providing better access and a more welcoming station and ticket hall, both for visitors and regular passengers, as London prepares to welcome millions of people into the country for the 2012 Games. </p>
<p>During the Olympic and Paralympic Games Heathrow Terminals 1,2,3 will be a key gateway station for the various Games' venues for the many tourists and sport fans who have flown into the airport from all over the world. </p>
<p>The refurbishment, which has been carried out in partnership with Heathrow, includes the replacement of a small lift with two larger new lifts making journeys easier for passengers with heavy luggage, parents with buggies and travellers with restricted mobility. </p>
<p>On the platforms, accessibility humps have been added to allow level access on to trains for wheelchair users. </p>
<p>Additional ticket gates have been installed to allow passengers to move through the station more quickly and help ease congestion. </p>
<p>New signs and passenger help points also make the station easier to navigate. </p>
<p>Other improvements include a modernised ticket office, a new change booth, a revamped hotel reservation booth and additional retail facilities. </p>
<h2>Key Games gateway</h2>
<p>Gareth Powell, Director of Strategy and Service Development for London Underground, said: 'Heathrow Terminals 1,2,3 Tube station is a key Olympic and Paralympic gateway for visitors flying in to London from around the world. </p>
<p>'This major station upgrade is a very important part of our plan to help millions of passengers move around our city during this historic event and a fantastic example of the lasting legacy the Games will deliver, as the step free measures and other improvements will be in place for users for decades to come.'</p>
<p>The Heathrow Terminals 1,2,3 Tube station upgrade was for the most part funded by Heathrow. </p>
<p>Nick Adderley, Marketing and Insight Director for Heathrow, said: 'Heathrow is the first impression of the UK that the majority of guests arriving for the London 2012 Games will have, so we are delighted to be part of this project to improve the experience for our passengers.'</p>
<p>Green Park Tube station, another key gateway for visitors heading to the Olympic Park, Wembley and North Greenwich during the 2012 Games, has also been dramatically transformed. </p>
<p>Three new lifts and new platform humps mean passengers with restricted mobility, including wheelchair users, now benefit from street to train step-free access. </p>
<h2>First impressions</h2>
<p>Other big improvements include a new ramped walkway leading directly into the park and a larger covered entrance on Piccadilly, new passenger information boards, a new public address system, more help points and signage, and extensive new tiling throughout the station. </p>
<p>A permanent artwork, commissioned by Art on the Underground, features an intricate fossil design throughout the station structure, reflecting the natural setting of the park. </p>
<p>Passengers at Green Park now also benefit from air cooling units on the Victoria and Piccadilly line platforms. </p>
<p>Around 670,000 passengers use the Piccadilly line every day. </p>
<p>Both Heathrow Terminals 1,2,3 and Green Park station upgrades were delivered by Tube Lines, now a fully owned subsidiary of TfL. </p>
<p>To plan ahead, and for the&nbsp;latest Games travel advice, go to <a href="http://www.GetAheadoftheGames.com">www.GetAheadoftheGames.com</a> and follow &#64;GAOTG.</p>
<p>
<hr>

<p>
<p><strong>Notes to editors:</strong></p>
<ul>
<li>The Tube is undergoing a huge and essential programme to upgrade its ageing infrastructure - vital to cope with a growing population and to support the economic development and growth of the Capital and the UK. This includes the introduction of new track and signalling and the rebuilding of some of our most important stations which together will mean a 30 per cent increase in capacity </li>
<li>This will inevitably result in some disruption for passengers, but TfL is working hard to provide information and alternative travel options. The work is essential to provide for London's growing transport needs now, and into the future. TfL is urging all Londoners and Tube, London Overground, London Tramlink and Docklands Light Railway (DLR) passengers to check before they travel at weekends, allowing extra journey time where necessary. Weekend travel news is available at <a href="http://www.tfl.gov.uk">tfl.gov.uk</a> </li>
<li>Current timetable for trains to Heathrow: Twelve trains per hour operate each day at peak time from central London to the Heathrow Branch of the Piccadilly line. Heathrow Terminals 1,2,3 is served by 12 trains per hour to and from central London, however on the outward journey from central London half of these travel via Terminal 4 </li>
<li>Capita Symonds is the lead designer for all aspects of the Green Park station project </li>
<li>For the latest travel information, go to <a href="http://www.tfl.gov.uk">tfl.gov.uk</a> or follow TfL's travel information channels on Twitter. The full range of channels are available at <a href="http://www.tfl.gov.uk/socialmedia">tfl.gov.uk/socialmedia</a> or follow &#64;TfLTravelAlerts for Tube, London Overground and DLR information and &#64;TfLTrafficNews for the latest information on the Capital's roads</li></ul>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "Two new lifts and more ticket gates to ease congestion, plus revamped ticket office, travel information centre and other improvementsGreen Park Tube station, another key Games interchange, now step-free from street level to trainA major upgrade of";}
        
        


 