


@{ViewBag.Title = "High Court rejects Addison Lee's call for minicabs to use bus lanes";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>High Court rejects Addison Lee's call for minicabs to use bus lanes</h1>
        <div class="content-page-press-release">
        11 July 2012
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        Judicial Review dismissed as court finds in Transport for London's (TfL's) favour.
        
    </div>



<div class="pull-quote">
        <div class="quote-body">"Londoners will doubtless also be pleased to know that the court has ordered Addison Lee to meet TfL's costs in defending this claim."</div>
        <div class="quote-footer">
            <div class="quotee-name">Leon Daniels</div>
            <div class="quotee-job-title">TfL's Managing Director of Surface Transport</div>
        </div>
</div>

 <div class="on-this-page">
<div class="pullquote right">
                        <p>
                            Londoners will doubtless also be pleased to know that the court has ordered Addison Lee to meet TfL's costs in defending this claim.
                            
                        </p>
                    </div>
                
            
            
            <ul>
<li>Court orders Addison Lee to pay TfL's costs of defending claim.</li></ul>
<p>The High Court today (Wednesday 11 July) dismissed Addison Lee's claim for judicial review of the policy allowing black cabs, but not minicabs, to use the Capital's bus lanes.&nbsp; </p>
<p>Mr Justice Burton described the reasoning behind TfL's policy as 'obvious and compelling'.&nbsp; </p>
<p>TfL explained to the court that taxis are allowed to drive in bus lanes because they can ply for hire, whereas minicabs cannot.&nbsp; </p>
<h2>Clear distinction</h2>
<p>It would be more difficult to hail a taxi, especially on a busy road, if the vehicle concerned was not near to the kerb. </p>
<p>Mr Justice Burton agreed, noting in his judgment: 'There is to my mind a clear distinction between the need of black cabs (and their passengers and the public) for them to be in the bus lanes, by way of visibility and availability of, and access to, black cabs for those hailing a cruising taxi.'&nbsp; </p>
<p>He went on to note: 'I consider it makes entire good sense for black cabs to be travelling in bus lanes. </p>
<p>'Minicabs just do not have the need to use the bus lane, and black cabs do.' </p>
<h2>Attempt to challenge</h2>
<p>Mr Justice Burton said he was 'wholly unpersuaded' by Addison Lee's claim that TfL's bus lane policy affected the freedom of EU nationals to establish themselves as minicab drivers and concluded that 'this has simply been the attempt to mount a challenge to a London traffic regulation by turning it into a '"Euro-point".'</p>
<p>Leon Daniels, TfL's Managing Director of Surface Transport, said: 'We are pleased that the court has recognised the important distinction between taxis and minicabs and the services they provide.&nbsp; </p>
<p>'Taxis will continue to use the Capital's bus lanes, enabling them to provide the unique and wheelchair accessible service so valued by many passengers. </p>
<p>'Londoners will doubtless also be pleased to know that the court has ordered Addison Lee to meet TfL's costs in defending this claim.'</p>
<p>
<hr>

<p>
<p><strong>Notes to editors:</strong></p>
<ul>
<li>The Judicial Review was brought by Eventech, a subsidiary of Addison Lee, against the Parking Adjudicator.&nbsp;It arose from Penalty Charge Notices issued by Camden Council for illegal use of the Southampton Row bus lanes.&nbsp;Both the London Borough of Camden and Transport for London were interested parties </li>
<li>TfL vigorously contested the Judicial Review proceedings which were heard at the High Court between 19 June and 21 June </li>
<li>There are around 23,000 licensed taxis in London and approximately 50,000 licensed minicabs </li>
<li>TfL believes that allowing tens of thousands of additional vehicles (minicabs) to drive in bus lanes would also impact on the reliability of bus services, and risks inconveniencing the six million passengers that travel on buses each day </li>
<li>The full written judgment handed down by Mr Justice Burton will be made available from the Royal Courts of Justice - Courts Recording and Transcription Unit - 020 7947 7820 </li>
<li>TfL Counsel: led by Martin Chamberlain with Sarah Love (junior) from Brick Court Chambers</li></ul>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "Court orders Addison Lee to pay TfL's costs of defending claim.The High Court today (Wednesday 11 July) dismissed Addison Lee's claim for judicial review of the policy allowing black cabs, but not minicabs, to use the Capital's bus lanes.&nbsp; Mr Justice";}
        
        


 