


@{ViewBag.Title = "Huge crowds expected on Capital's streets as Team GB's Tour de France heroes go for gold";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>Huge crowds expected on Capital's streets as Team GB's Tour de France heroes go for gold</h1>
        <div class="content-page-press-release">
        26 July 2012
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        London 2012 men's Cycle Road Race on Saturday 28 July the first of several London 2012 Games road events on Capital's streets.
        
    </div>



 <div class="on-this-page">
<ul>
<li>Full road closures for the road races a requirement to ensure a competitive and safe race </li>
<li>Very large crowds and temporary road closures for all London 2012 road events will result in exceptionally busy roads and public transport networks </li>
<li>Road users, residents and spectators urged to avoid driving in central London, around the Olympic Route Network (ORN), race routes and venues </li>
<li>People travelling to airports over the weekend are urged to check if their route crosses the London 2012 road event course - and to plan alternative routes to avoid the road closures </li>
<li>Plan ahead with the latest Games travel advice at <a href="http://www.GetAheadoftheGames.com">GetAheadoftheGames.com</a> and follow &#64;GAOTG on Twitter </li>
<li>For the latest on how transport services are operating, check before you travel at <a href="http://www.tfl.gov.uk">tfl.gov.uk</a> and follow &#64;TfLTravelAlerts (Tube, Docklands Light Railway [DLR]&nbsp;and London Overground) and &#64;TfLTrafficNews (roads)</li></ul>
<p>Huge crowds are expected to line the streets of London and Surrey this Saturday (28 July) to support Tour de France hero Bradley Wiggins and his team mates Chris Froome and Mark Cavendish as they aim to land Team GB's first gold medal of the Games.&nbsp; </p>
<p>The men's Cycling Road Race is the first of the London 2012 Games road events, all of which will see temporary road closures and parking restrictions.</p>
<p>Thirteen London 2012 road events are being held across London and Surrey during the course of the Games, in addition to Live Sites and cultural events.&nbsp; </p>
<p>They include road cycling, marathon, triathlon and race walking, offering a great opportunity for many to see Olympic and Paralympic sport and very large crowds are expected to attend.&nbsp; </p>
<p>Some London 2012 road events also require technical rehearsals and some limited road closures early in the morning (see notes to editors).</p>
<p>Hundreds of thousands of spectators are expected to attend each London 2012 road event and, given the road event routes, viewing capacity in central London will be very limited.&nbsp; </p>
<p>Transport for London (TfL) and London 2012 have issued the following advice to spectators to ensure people enjoy the best possible Games-time experience:</p>
<h2>Advice to spectators:</h2>
<ul>
<li>The London 2012 road events offer a great opportunity for many to see Olympic and Paralympic sport and very large crowds are expected to attend </li>
<li>If you are planning to attend a London 2012 road event, please arrive early, be prepared to wait for several hours and think carefully about bringing small children </li>
<li>Pack food and water, sun cream or waterproof clothing, depending on the weather </li>
<li>Think about the best viewing option for you, your friends and family.&nbsp;For some, it may be better to view the event at one of the many Live Sites across the UK or on TV at home, with friends, at a pub or local community centre </li>
<li>For London's 2012 Cycling Road&nbsp;Races on Saturday 28 and Sunday 29 July in particular, try to 'stay local' and enjoy the events as they pass through your local community </li>
<li>Have a back-up plan.&nbsp;If it gets really busy, you might want to enjoy one of the wealth of free events, cultural and entertainment opportunities on offer across the UK and during London's summer like no other.&nbsp;Find out what's happening and sign up for updates at <a href="http://www.molpresents.com">www.molpresents.com</a> and download the London 2012 'Join In' app </li>
<li>If you are intending to travel - plan ahead.&nbsp;Go to <a href="http://www.GetAheadoftheGames.com">GetAheadoftheGames.com</a> which has all the tools and information you need about London 2012 road events and how to plan your journey</li></ul>
<p>TfL also repeated its advice to motorists and urged those in London 2012 road event areas not to get caught out by the road closures necessary to stage the events.</p>
<h2>Advice to motorists:</h2>
<ul>
<li>Motorists are advised to avoid central London, around the ORN, venues and the London 2012 road event courses, including Box Hill in Surrey </li>
<li>Don't get caught out - you will not be able to cross the race route by road </li>
<li>On London 2012 road event days road closures will be in place from early morning </li>
<li>Instead, please use public transport, cycle or walk</li></ul>
<p>Mayor of London, Boris Johnson said: 'London's transformation into a massive sporting and cultural venue is complete and Londoner Bradley Wiggins and our Team GB cycling heroes are going for the first gold of the Games.</p>
<p>'The Olympic road events offer a great opportunity to see some of the world's top athletes in competition and to experience the numerous other attractions London has to offer.&nbsp; </p>
<p>'Given the huge numbers of people who will be in London for the Games, it is really important that people follow our travel advice and plan ahead.</p>
<p>'If possible, it would be best to stay local to view the London 2012 road events.&nbsp; </p>
<p>'If you do plan to travel to view the road events, avoid driving, take public transport, walk or cycle and visit <a href="http://www.GetAheadoftheGames.com">GetAheadoftheGames.com</a> to plan your journey.</p>
<p>TfL is working with London 2012, the Metropolitan Police, boroughs and councils across London and Surrey to ensure the London 2012 road events are a great success.&nbsp; </p>
<p>Since March, TfL has worked with these partners to provide information to local business and residents on how and when the events will impact on their local areas.&nbsp; </p>
<p>Detailed information and advice has been provided through a major campaign of letter drops, road shows and publicity.</p>
<p>To ensure the safety of athletes and spectators, London 2012 road events take place on secure roads - closures and parking restrictions will need to be put in place on the days of the competitions. </p>
<p>These will be managed to keep disruption to a minimum and all roads will be opened safely as quickly as possible after the events have finished.&nbsp; </p>
<p>After the events, barriers will need to be removed, road signs, traffic lights and islands reinstated, roads thoroughly cleaned and crowds dispersed before roads can be re-opened safely. </p>
<p>The majority of London 2012 road events will be held at weekends and some competitions will only take place for a few hours beginning in the morning.&nbsp; </p>
<p>Where possible, roads will be reopened and restrictions lifted by the late afternoon or early evening.&nbsp; </p>
<p>No roads will be closed overnight apart from the roads needed to build the Cycle Time Trial venue at Hampton Court Palace.</p>
<p>Many of the London 2012 road events will be located on roads that make up part of the ORN, which links key venues to ensure athletes, coaches, technical officials and the world's media get to events on time, while also keeping London moving. </p>
<p>While events are taking place on sections of the ORN they will use an alternative route. </p>
<p>The key dates for road events and major travel impacts over the days where London 2012 road events are taking place are as follows:</p>
<h2>28 July</h2>
<p>Men's Olympic Cycling Road Race starting and finishing in the Mall via Fulham, Putney, Richmond, Hampton Court, Kingston and parts of Surrey.</p>
<p><strong>Travel impacts and advice:&nbsp;</strong>Roads that form the race route, including parts of the ORN, will be closed to all traffic from 03:00 and will remain so until a few hours after the race has finished. </p>
<p>Motorists are advised to avoid driving in central London, around the ORN, south-west London and on routes out to Surrey and Box Hill. </p>
<p>Spectators should allow extra time and plan their journey at <a href="http://www.GetAheadoftheGames.com">GetAheadoftheGames.com</a>. </p>
<p>View a <a href="http://www.london2012.com/cycling-road/event/men-road-race/coursemap">map of the race route</a>.</p>
<h2>29 July</h2>
<p>Women's Olympic Cycling Road Race starting and finishing in the Mall via Fulham, Putney, Richmond, Hampton Court, Kingston and parts of Surrey.</p>
<p><strong>Travel impacts and advice: </strong>Roads that form the race route, including parts of the ORN, will be closed to all traffic from 05:00 and will remain so until a few hours after the race has finished. </p>
<p>Motorists are advised to avoid driving in central London, around the ORN, south-west London and on routes out to Surrey and Box Hill. </p>
<p>Spectators should allow extra time and plan their journey at <a href="http://www.GetAheadoftheGames.com">GetAheadoftheGames.com</a>. </p>
<p>View a <a href="http://www.london2012.com/cycling-road/event/women-road-race/coursemap ">map of the race route</a>.</p>
<h2>1 August</h2>
<p>Men's and Women's Olympic Cycling Time Trials will be taking place at Hampton Court Palace, Kingston, Richmond and Surrey.</p>
<p><strong>Travel impacts and advice:</strong> Motorists are advised that roads making up the route and other surrounding roads will be closed from 05:30 to build the course, and will reopen when it is safe to do so. </p>
<p>Driving in south-west London should be avoided where possible as the area will be exceptionally busy whilst the closures are in place. </p>
<p>Spectators should allow extra time and plan their journey at <a href="http://www.GetAheadoftheGames.com">GetAheadoftheGames.com</a>.</p>
<h2>4 August</h2>
<p>The Women's Triathlon and Men's 20km Race Walk will be taking place in central London. </p>
<p>Road closures for the event will begin at 03:30.</p>
<p><strong>Travel impacts and advice:&nbsp;</strong>Motorists are advised to avoid driving in central London, around the ORN and Games venues.&nbsp; </p>
<p>Plan ahead to avoid disruption caused by the Women's Triathlon and the Men's Race Walk - both on the roads and on public transport - using the animations at <a href="http://www.GetAheadoftheGames.com">GetAheadoftheGames.com</a>.</p>
<h2>5 August</h2>
<p>The Women's Olympic Marathon will be taking place in central London throughout the City of London and Westminster, with road closures taking effect from 03:00.</p>
<p><strong>Travel impacts and advice:&nbsp;</strong>Motorists are advised to avoid driving in central London, around the ORN and Games venues.&nbsp; </p>
<p>Plan ahead to avoid the travel hotspots at <a href="http://www.GetAheadoftheGames.com">GetAheadoftheGames.com</a>. </p>
<h2>7 August</h2>
<p>The Men's Triathlon passes through central London.&nbsp; </p>
<p>Road closures for the Triathlon route will begin at 02:00.</p>
<p><strong>Travel impacts and advice:</strong>&nbsp;Motorists are advised to avoid driving in central London, around the ORN and Games venues. </p>
<p>Plan ahead to avoid the travel hotspots both on the roads and on public transport at <a href="http://www.GetAheadoftheGames.com">GetAheadoftheGames.com</a>.</p>
<h2>11 August</h2>
<p>The Women's 20km and Men's 50km Race Walk will travel through the Mall and Buckingham Palace meaning that roads in the area will be exceptionally busy.&nbsp; </p>
<p>These roads will already be closed as part of the Central London Zone. </p>
<p>Plan ahead to avoid the travel hotspots.</p>
<p><strong>Travel impacts and advice:&nbsp;</strong>Motorists are advised to avoid driving in central London, around the ORN and Games venues. </p>
<p>Plan ahead to avoid the travel hotspots both on the roads and on public transport at <a href="http://www.GetAheadoftheGames.com">GetAheadoftheGames.com</a>.</p>
<h2>12 August</h2>
<p>The Men's Olympic Marathon will take place meaning extensive road closures in central London, throughout the City of London and Westminster with roads along the route being closed to traffic from 03:00.&nbsp; </p>
<p>Very large crowds are also expected to travel to watch the event and line the streets in London.</p>
<p><strong>Travel impacts and advice:&nbsp;</strong>Motorists are being urged to avoid the areas around the Road Race courses, and spectators are being encouraged to 'stay local' to watch the events. </p>
<p>Plan ahead to avoid the travel hotspots both on the roads and on public transport at <a href="http://www.GetAheadoftheGames.com">GetAheadoftheGames.com</a>.</p>
<h2>9 September</h2>
<p>The Paralympic Marathon races will take place in central London throughout the City of London and Westminster with road closures along the route from midnight.</p>
<p><strong>Travel impacts and advice:</strong>&nbsp;Motorists are advised to avoid driving in central London, around the ORN and Games venues. </p>
<p>Plan ahead to avoid the travel hotspots both on the roads and on public transport at <a href="http://www.GetAheadoftheGames.com">GetAheadoftheGames.com</a>.</p>
<p>TfL will provide the latest travel information and advice throughout the London 2012 Games through a wealth of channels, including announcements on the transport network - in stations and on trains - online at <a href="http://www.GetAheadoftheGames.com">GetAheadoftheGames.com</a> and <a href="http://www.tfl.gov.uk">tfl.gov.uk</a>, via digital and social media channels, through media travel bulletins and through staff and Travel Ambassadors on the ground at key stations, transport hubs and locations across London.</p>
<p>
<hr>

<p>
<p><strong>Notes to editors:</strong></p>
<ul>
<li>All the information regarding London 2012 road events is available at <a href="http://www.GetAheadOfTheGames.com">GetAheadOfTheGames.com</a> </li>
<li>All the information, tools and advice that motorists, cyclists and pedestrians need to plan their road journeys during the Games can be found on <a href="http://www.GetAheadoftheGames.com">GetAheadoftheGames.com</a> and by following &#64;GAOTG on Twitter </li>
<li>Some roads will be affected by route testing and rehearsals for the Cycle Time Trial and the Triathlon. On Tuesday 31 July the Cycle Time Trial rehearsal will take place at Hampton Court with rolling road closures between 10:00 and 12:00. On Thursday 2 August, Hyde Park Corner will be closed between 05:30 and 09:00 for a triathlon rehearsal </li>
<li>All the information people need to plan ahead and enjoy the events in Surrey is on <a href="http://www.gosurrey.info">www.gosurrey.info</a> Follow &#64;GoSurreyLive on Twitter for updates on event days </li>
<li>The Men's and Women's Paralympic Road Cycling will take place at Brands Hatch, Sevenoaks, Kent from Wednesday 5 to Saturday 8 September </li>
<li>ORN on London 2012 road event days will be in operation on 28 and 29 July, and 1, 4, 5, 7, 11, 12 August for the Olympics and on 9 September for the Paralympics </li>
<li><a href="http://www.getaheadofthegames.com/things-you-should-know/olympic-route-network.html#reorn2">View maps </a>showing which sections of ORN will operate on London 2012 road event days </li>
<li>The table below sets out the times when closures will be put in place for London 2012 road event competitions and which sections of the alternative ORN will be used </li>
<li>Map by map details of the Olympic and Paralympic Route Networks, including details of all traffic measures such as junctions changes and suspended pedestrian crossings can be found at <a href="http://www.tfl.gov.uk/orn">tfl.gov.uk/orn</a> </li>
<li>All motorists can use the ORN, and only the 30 miles of Games lanes, alongside lanes for general traffic, will be reserved for vehicles carrying athletes, coaches, officials, media and some sponsor</li></ul>
<div class="table-container"><table cellspacing="1" cellpadding="1" rules="all" width="99%" align="center" border="1">
<tbody>
<tr>
<td><strong>Date</strong></td>
<td><strong>Day</strong></td>
<td><strong>Event</strong></td>
<td><strong>Timing of road closures</strong></td>
<td><strong>ORN on road event days - sections in use</strong></td></tr>
<tr>
<td>28 July </td>
<td>Day 1<br>(Saturday)</td>
<td>Men's Road Cycling</td>
<td>Closures put in place from between 03:00 </td>
<td>1, 2, 3, 4</td></tr>
<tr>
<td>29 July </td>
<td>Day 2<br>(Sunday)</td>
<td>Women's Road Cycling</td>
<td>Closures put in place from between 05:00</td>
<td>1, 2, 3, 4</td></tr>
<tr>
<td>1 August </td>
<td>Day 5<br>(Wednesday)</td>
<td>Cycle Time Trial</td>
<td>Hampton Court Palace venue closure from 22:00 on 31 July<br>Other closures put in place from 05:30</td>
<td>N/A <br>Cycle Time Trial being held at Hampton Court, not on ORN</td></tr>
<tr>
<td>4 August </td>
<td>Day 8<br>(Saturday)</td>
<td>Women's Triathlon<br>Men's 20km Walk</td>
<td>Closures put in place for Triathlon from 03:30<br>Walk event taking place inside St James Park - no additional closures required</td>
<td>1,2,3,4,5</td></tr>
<tr>
<td>5 August </td>
<td>Day 9<br>(Sunday)</td>
<td>Women's Marathon</td>
<td>Closures put in place from 03:00</td>
<td>1,2,5,6,7</td></tr>
<tr>
<td>7 August </td>
<td>Day 11<br>(Tuesday)</td>
<td>Men's Triathlon</td>
<td>Closures put in place from 02:00</td>
<td>1,2,3,4,5</td></tr>
<tr>
<td>11 August</td>
<td>Day 15<br>(Saturday)</td>
<td>Men's 50km Walk<br>Women's 20km Walk</td>
<td>Taking place inside St James Park - no additional closures</td>
<td>1,2,5,7</td></tr>
<tr>
<td>12 August</td>
<td>Day 16<br>(Sunday)</td>
<td>Men's Marathon</td>
<td>Closures put in place from 03:00</td>
<td>1,2,5,6,7</td></tr>
<tr>
<td>9 September </td>
<td>Day 12<br>(Sunday)</td>
<td>Paralympic Marathons</td>
<td>Closures to be put in place from midnight</td>
<td>5, 6, 7</td></tr></tbody></table></div>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "Full road closures for the road races a requirement to ensure a competitive and safe race Very large crowds and temporary road closures for all London 2012 road events will result in exceptionally busy roads and public transport networks Road users,";}
        
        


 