


@{ViewBag.Title = "Less than one week to Opening Ceremony:  Time to plan your travel and 'Get Ahead of the Games' - Monday, 23 July 2012";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>Less than one week to Opening Ceremony:  Time to plan your travel and 'Get Ahead of the Games' - Monday, 23 July 2012</h1>
        <div class="content-page-press-release">
        22 July 2012
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        TfL and partners working to deliver a great Games, ensure everyone gets to their events on time and to keep London and the UK moving.
        
    </div>



 <div class="on-this-page">
<p>The Olympic Torch Relay has arrived in London and the Capital's transformation into a massive sporting and cultural venue gathers pace.&nbsp; </p>
<p>With less than one week to go to the Opening Ceremony of the London 2012 Olympic Games, it is time to put Games-time travel plans into action.</p>
<p>Central London, the ORN, areas around venues and the Torch Relay will be exceptionally busy.&nbsp; </p>
<p>Up to one million extra visitors are expected in London every day during the Games, making an additional three million journeys over and above the usual 12 million daily journeys on public transport.</p>
<p>TfL's key travel advice for tomorrow (Monday 23 July):</p>
<ul>
<li>Physical changes to the road network have been carried out over the weekend to ensure that the Olympic Route Network (ORN) is ready to begin operation from 6:00 on Wednesday 25 July.&nbsp;Avoid central London, around the ORN, venues and the route of the Torch Relay</li>
<li>If you have to drive, plan ahead, consider re-timing your journey and allow more time</li>
<li>Experience from around the UK shows that very large and enthusiastic crowds will welcome the Torch as it travels through the Capital </li>
<li>If you are planning to view the Torch, stay local - the Torch is passing through every London borough so try to view it when it passes through an area close to your home or work</li>
<li>On public transport, avoid stations that are on or close to the Torch Relay routes. These stations will be exceptionally busy up to two hours before and at least one hour after the Torch passes</li>
<li>Cultural events are taking place across London today, see <a href="http://www.molpresents.com">www.molpresents.com</a> for further information. If possible, avoid these areas if you are not attending an event</li>
<li>Before travelling, check out live travel updates at <a href="http://www.tfl.gov.uk">www.tfl.gov.uk</a> or by following &#64;TfLTravelAlerts (Tube, DLR and London Overground) or &#64;TfLTrafficNews (roads)</li></ul>
<p>For full information on avoiding roads and public transport hotspots visit:&nbsp; <a href="http://www.GetAheadoftheGames.com">www.GetAheadoftheGames.com</a> and follow &#64;GAOTG on Twitter.</p>
<p>Olympic Torch Relay route tomorrow (Monday 23 July):</p>
<p>The Olympic Torch Relay has started its week long journey through every one of London's 33 boroughs:</p>
<ul>
<li>On Monday 23 July, it will be mainly in south London, travelling from Trinity Laban Conservatoire of Music and Dance the Old Royal Naval College, Greenwich (approx 07:20) to Tooting Bec Common (18:45hrs), travelling through Lewisham, Bromley, Croydon, Sutton, Merton and Wandsworth</li></ul>
<p>Spectators of the Torch Relay</p>
<ul>
<li>Crowds are expected in town centres, including Wimbledon, Lewisham, Greenwich and Croydon. If you're planning to view the Torch in one of these locations, expect crowds and be prepared to wait</li></ul>
<p>Public Transport:</p>
<ul>
<li>Some bus services and bus stops will be suspended temporarily during the Torch Relay</li></ul>
<p>Roads:</p>
<ul>
<li>The Torch road route is as follows: A2210 - A21 (Bromley Road) - A222 - A234 (High Street) - A212 - A234 (London Road) - A232 (Croydon Road) - A217 (Bishopsford Road - A236 - A218 - A217- A214 (Tooting Bec Road)</li>
<li>The A12 is likely to be busier than usual in the morning peak and the A24 at Colliers Wood is likely to be busier during the evening peak. </li>
<li>The Torch will be passing through Greenwich town centre and Deptford, Lewisham in the morning, Croydon at lunch time and in the Wimbledon area in the evening</li>
<li>Where possible consider using a different route to avoid the busiest areas</li>
<li>Cultural events are taking place across London today, see <a href="http://www.molpresents.com">www.molpresents.com</a> for further information. If possible, avoid these areas if you are not attending an event</li></ul>
<p>Maps and animations showing the route and transport impacts for each day of the Olympic Torch Relay when in London are available at the GetAheadoftheGames.com website at the following link and by selecting the day of the Torch Relay using the slider at the top of the map: <a href="http://www.getaheadofthegames.com/travelinaffectedareas/city/london-public-transport.html">www.getaheadofthegames.com/travelinaffectedareas/city/london-public-transport.html</a><br></p>
<p>
<hr>

<p>
<p><strong>Notes to Editors:</strong></p>

<p>This Transport for London (TfL) London 2012 Games travel bulletin provides key travel information and advice for the following day on London's public transport and roads and will be issued daily until Tuesday 24 July. From Wednesday 25 July this bulletin will be issued twice per day, at the expected times of 07:00 and 14:00.</p>
<p>Alongside these media travel bulletins, at 14:00 each day, TfL will also publish the full 2012 Transport Factsheets on which they are based.&nbsp;Factsheets for each day of the Olympic Torch Relay, Olympic and Paralympic Games have already been produced and published at GetAheadoftheGames.com, but they will be revised on a daily basis, based on the latest information and experience, throughout the Games.</p>
<p>The TfL Press Office will be available 24 hours a day on 0845 604 41 41 and will have a member of staff in the London Media Centre during normal opening hours.</p>
<p>A number of services are available including:<br> &nbsp;Pre-packaged scripted films through the London Media Centre and on the TfL website at <a href="http://www.tflimages.com">www.tflimages.com</a><br> &nbsp;B roll footage of London's transport network available from <a href="http://www.tflimages.com">www.tflimages.com</a><br> &nbsp;A comprehensive image library providing free access to images of London's transport network available from <a href="http://www.tflpressgallery.co.uk">www.tflpressgallery.co.uk</a><br> &nbsp;Interviews with TfL spokespeople</p>
<p>TfL operates the following services: London Underground, London buses, Docklands Light Railway (DLR), London's major roads, including the Olympic and Paralympic Route Networks in London, Cycling - including Barclays Cycle Hire and Barclays Cycle Superhighways, Emirates Air Line, London Overground, London River Services, Victoria Coach Station, Taxis.<br></p>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "The Olympic Torch Relay has arrived in London and the Capital's transformation into a massive sporting and cultural venue gathers pace.&nbsp; With less than one week to go to the Opening Ceremony of the London 2012 Olympic Games, it is time to put";}
        
        


 