


@{ViewBag.Title = "Mayor outlines plans to deliver further 30 per cent reduction in Tube delays";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>Mayor outlines plans to deliver further 30 per cent reduction in Tube delays</h1>
        <div class="content-page-press-release">
        20 July 2012
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        Delay-busting plan will change how the Tube works to minimise disruption and improve services.
        
    </div>



 <div class="on-this-page">
<div class="pullquote right">
                        <p>
                            For the millions of Londoners, visitors, and businesses who rely on our Underground system every day it is imperative for us to employ every feasible technique to run the smoothest Tube operation possible
                            
                        </p>
                    </div>
                
            
            
            <p>Far-reaching work to cut tube delays by 30 per cent by 2015 was highlighted today by Mayor Boris Johnson.&nbsp;</p>
<p>The delay-busting plan will build on last year's best ever Tube performance results and was a key election manifesto commitment.<br>&nbsp;<br>Plans now being developed in detail involve Transport for London (TfL) looking into every aspect of how the railway is operated, maintained and upgraded to see how things can be done differently to further improve reliability, and to reduce annual lost customer hours by a further 8.7 million hours between now and the end of 2015. </p>
<h2>Fewer delays</h2>
<p>The move follows the creation of the London Underground Reliability Programme in 2011, which led to the introduction of a range of initiatives to predict and prevent failures, respond more quickly to problems and roll out better equipment.&nbsp; </p>
<p>As a result Tube performance reached its best ever levels, and since 2007/08 delays across the network have been reduced by over 40 per cent.&nbsp; Reliability improvements which contributed to that performance include:</p>
<ul>
<li>The Tube's Emergency Response Unit vehicles now responding to incidents under blue-light conditions. This has reduced average response times in central London by 40 per cent to 12 minutes. Staff numbers at the unit have been increased by 30 per cent, with the number of depots housing Emergency Response Unit crews increased from three to four </li>
<li>Fitting of covers to Passenger Emergency Alarms on trains on the Jubilee, Northern, Piccadilly and Victoria lines, helping to prevent accidental and malicious use </li>
<li>The establishment of two new signaling depots at Oxford Circus and Stratford, to optimise LU response to signal faults on key Olympic lines </li>
<li>Investment of &pound;1m to train British Transport Police officers in providing medical help quickly where customers are taken ill on the network, enabling services to resume quickly </li>
<li>The development of an Automatic Track Monitoring System on in-service Tube trains, to monitor and identify where rails need remedial work or closer inspection </li>
<li>Large-scale modifications to boost the reliability of components on doors, couplers, seats, and air systems on the Tube fleet&nbsp;</li></ul>
<p>The additional 30 per cent reduction will be achieved in part through the enhanced performance anticipated from line upgrades, but also from introducing new approaches and technology, improving signals, trains and track, looking at how staff can be used most effectively, and working with customers. Initiatives now being developed by LU include:</p>
<ul>
<li>Using sophisticated analysis to identify the parts of the railway most important to improved reliability, classifying them as 'golden assets' and developing dedicated asset management regimes to improve them and thereby drive up performance </li>
<li>Standardising the train fleet and signaling wherever possible.&nbsp;For the first time LU is able to commission the same trains and signaling on the four Sub-Surface Railway lines (the Circle, District, Hammersmith &amp; City and Metropolitan lines), which will lead to improved reliability as well as reduced costs </li>
<li>Launching the biggest track renewal programme in decades to deliver more reliable track and signaling performance </li>
<li>Reviewing the capital programme and the Underground's contracts with suppliers to ensure reliability is at the core of LU's capital investment and contracts </li>
<li>Utilising the latest WiFi technology to communicate train performance to technicians in real time, allowing them to respond more swiftly to any problems </li>
<li>Providing further intensive training to equip frontline staff with the basic skills to respond to the most common problems as they happen, enabling a faster response </li>
<li>Increasing the number of apprentice places in key parts of the business by 50 per cent, in order to increase over time the number of skilled engineers looking after the network, improving incident response levels </li>
<li>More first aid training for frontline Tube staff to complement LU's training of BTP officers up to medic level. By knowing how best to respond to someone who is ill on a train, staff can improve service reliability by taking the right action to get help for the individual while getting services moving again for the many thousands of customers on following trains </li>
<li>Setting, communicating and tracking annual 'lost customer hours' targets for each part of the business for the first time, including targets for each line </li>
<li>Setting up an ongoing communications campaign with passengers to help them understand the impact on delays of actions such as dropping litter and blocking doors </li>
<li>Conducting an in-depth review of track layout to increase reliability and reduce delays by, for example, reducing the number of individually-designed points and crossovers so that there are fewer parts with unique maintenance requirements </li>
<li>Working with suppliers to set out specifically the improved level of reliability we expect from a new piece of equipment or system. For the first time suppliers will be required to demonstrate prior to installation on the network that the equipment will deliver that level of reliability&nbsp;</li></ul>
<p>In addition, focus will be maintained and increased on specific initiatives for each Tube line, tailored to whether they have been recently upgraded or are using ageing equipment.&nbsp;</p>
<p>For example, on the Victoria line work has already been undertaken to fix teething problems with train doors and to enable maintenance staff to remotely monitor the trains' systems using WiFi.&nbsp;</p>
<p>This allows staff to take real-time decisions on whether to take a train out of service to prevent more severe delays from occurring.&nbsp;</p>
<h2>More improvements to come</h2>
<p>A range of further improvements will be made to the Jubilee line fleet after the Games, including modifications to gear and brake systems, as well as the Northern and Piccadilly line fleets.<br>&nbsp;<br>Detailed plans are now being drawn up, with the full programme to be published in November. <br>&nbsp;<br>Mayor of London, Boris Johnson, said: 'For the millions of Londoners, visitors, and businesses who rely on our Underground system every day it is imperative for us to employ every feasible technique to run the smoothest Tube operation possible.<br>&nbsp;<br>'This means not just long term investment into the system, but an intelligent management approach delivering smart solutions.&nbsp;As a result we now expect to cut delays by nearly a third by 2015.&nbsp;Not only will this deliver a better ride for passengers, but it will safeguard the vital role of the Tube in London's prosperity and future growth.'<br>&nbsp;<br>Mike Brown, Managing Director of London Underground, said: 'By building on the foundations of the reliability programme we instigated last year, my team and I are ready to rise to the challenge of reducing delays by a further 30 per cent.&nbsp; </p>
<p>'We'll be focusing not only on those areas where we can do better, but also by thinking radically about how we can do things differently.&nbsp;<br>&nbsp;<br>'We've already made fantastic inroads into greater reliability, even as we carry out the biggest Tube upgrade programme while keeping some of the oldest trains and signaling in Europe going until they too can be replaced. But I'm determined that we hit new heights of performance to make a Tube that is truly fit for London.'<br>&nbsp;<br></p>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "Far-reaching work to cut tube delays by 30 per cent by 2015 was highlighted today by Mayor Boris Johnson.&nbsp;The delay-busting plan will build on last year's best ever Tube performance results and was a key election manifesto commitment.&nbsp;Plans now";}
        
        


 