


@{ViewBag.Title = "Mayor and TfL to provide military personnel with free travel during London 2012 Games";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>Mayor and TfL to provide military personnel with free travel during London 2012 Games</h1>
        <div class="content-page-press-release">
        19 July 2012
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        Thousands of military in London to provide security during the Games will be able to travel for free on TfL services when in uniform.
        
    </div>



<div class="pull-quote">
        <div class="quote-body">"Free travel on all TfL services is the least we can do for our hard working military personnel."</div>
        <div class="quote-footer">
            <div class="quotee-name">Peter Hendy</div>
            <div class="quotee-job-title">London's Transport Commissioner</div>
        </div>
</div>

 <div class="on-this-page">
<div class="pullquote right">
                        <p>
                            Free travel on all TfL services is the least we can do for our hard working military personnel.  
                            
                        </p>
                    </div>
                
            
            
            <ul>
<li>Mayor and Transport for London (TfL) offer 'a thank you from London for their outstanding contribution to a great London 2012 Games'</li></ul>
<p>Mayor of London, Boris Johnson and TfL today announced that all military personnel working in the Capital to deliver a great London 2012 Games will be able to travel for free on all TfL services.</p>
<p>Free travel will be offered to all military personnel when in uniform on London Underground, London's buses, the Docklands Light Railway, London Overground and other TfL-operated services for the duration of the Games, from Saturday 21 July to 11 September.&nbsp; </p>
<p>All TfL staff will be instructed to simply open the gates at stations, or to allow free access to services to all uniformed military personnel.</p>
<p>Mayor of London, Boris Johnson said: 'London is ready to welcome the world and host a hugely successful Olympic and Paralympic Games.&nbsp; </p>
<p>'That success will be in no small measure down to the contribution of our boys and girls in the military.</p>
<p>'Now, as ever, they have shown themselves ready to go above and beyond the call of duty.&nbsp; </p>
<p>'With free travel on TfL services, we offer a thank you from London for their outstanding contribution to a great London 2012 Games.'</p>
<p>London's Transport Commissioner Peter Hendy said: 'Free travel on all TfL services is the least we can do for our hard working military personnel.&nbsp; </p>
<p>'Whenever they are in uniform, our staff will welcome them and ensure they can travel for free throughout the London 2012 Games.'</p>
<p>&nbsp;</p>
<p><br>&nbsp;</p>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "Mayor and Transport for London (TfL) offer 'a thank you from London for their outstanding contribution to a great London 2012 Games'Mayor of London, Boris Johnson and TfL today announced that all military personnel working in the Capital to deliver a";}
        
        


 