


@{ViewBag.Title = "Mayor of London and Transport Secretary visit 2012 Transport Coordination Centre and declare London and UK ready to welcome the world";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>Mayor of London and Transport Secretary visit 2012 Transport Coordination Centre and declare London and UK ready to welcome the world</h1>
        <div class="content-page-press-release">
        17 July 2012
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        The UK's first national Transport Coordination Centre (TCC) will get all the athletes, officials and spectators to events and will keep London and the UK moving.
        
    </div>



 <div class="on-this-page">
<p>Improved communication and coordination during the Games will deliver a lasting legacy for the UK transport industry. </p>
<p>The Mayor and Transport Secretary advise that transport networks will be exceptionally busy - don't get caught out, plan ahead at GetAheadoftheGames.com</p>
<p>The Mayor of London, Boris Johnson, and Secretary of State for Transport, Justine Greening, today declared&nbsp; that London and the UK's transport network is ready to welcome the world, during a visit to&nbsp;the London 2012 TCC.</p>
<p>With less than two weeks to go until the Opening Ceremony of the 2012 Games, London and the UK continues its transformation into a massive sporting and cultural venue.&nbsp; </p>
<p>Athletes, officials and the world's media are arriving in increasing numbers, and transport in London and around venues across the UK will be exceptionally busy, with hotspots on the road and public transport networks.&nbsp; </p>
<p>The TCC is already working with UK transport operators and London 2012 organisers to coordinate arrivals and travel around the Capital and to ensure London and UK keeps moving.</p>
<p>The TCC has been set up specifically for the London 2012 Games and brings key UK transport operators and authorities together, alongside Games organisers, for the first time.&nbsp; </p>
<p>While operational control for transport networks continues to rest with individual operators, the TCC will ensure that the UK's transport industry delivers an unprecedented level of coordination to the movement of people and goods during the Games, for those directly affected and to ensure London and the UK remains open for business and able to make the most of all the Games have to offer.</p>
<p>Funded by the Olympic Delivery Authority (ODA), the TCC will also deliver a coordinated response to any incidents, on or off the transport network, and ensure all athletes, officials and spectators are re-routed around any disruption and provided with the best possible transport information and advice.&nbsp; </p>
<p>Coordinated travel information and advice will be communicated to passengers and spectators by Transport for London (TfL) and transport operators on stations and on trains, through online and mobile channels, via media travel bulletins and through the network of Travel Ambassadors and Travel Champions out on the network, ready to assist spectators and the travelling public at Games-time (see notes to editors).</p>
<h2>Legacy of improved communication</h2>
<p>It is the first time representatives from all key transport operators and authorities in London and the UK - including Network Rail, Train Operating Companies and the Highways Agency - have come together to coordinate transport operations and information from one location. </p>
<p>Transport chiefs have already decided that it should remain and provide a legacy of improved coordination and communication among and by the UK's transport industry post-Games, particularly in the management of major events or issues such as extreme weather.</p>
<p>The Mayor of London, Boris Johnson, said: 'The country's top transport specialists are all here and working together to ensure that we keep London and the rest of the UK moving whilst also ensuring we get thousands of athletes, officials and spectators to their events on time.&nbsp; </p>
<p>'This centre will enable us to provide the latest travel information and advice through the plethora of communication channels available. </p>
<p>'With one million extra people expected in London every day of the Games, it will be exceptionally busy, so don't get caught out - plan your journey at GetAheadoftheGames.com.'</p>
<p>Transport Secretary Justine Greening said: 'The Transport Coordination Centre brings all the different transport organisations involved in delivering a successful Olympics under the same roof in order to ensure we work together as seamlessly and effectively as we can.</p>
<p>'The result is that Londoners and visitors alike should experience smoother journeys into and around the Capital, no matter how they choose to travel, than they would otherwise.</p>
<p>'This unprecedented level of co-operation will play a crucial role in keeping London on the move and I hope the experience of coming together in this way to better co-ordinate our work will be one of the many legacies of the Games.'</p>
<h2>Public transport overview</h2>
<p>The ODA's Director of Games Transport, Hugh Sumner, said: 'The TCC is a unique example of melding together in one location for the first time ever an information hub relating to transport for all customers - athletes, spectators and other public transport users. </p>
<p>'The ODA's investment covers both London and the rest of the UK, bearing in mind that 30 per cent of spectators will be going to out of London venues. </p>
<p>'It also provides an important and comprehensive overview of all public transport modes including rail, buses, Tube, coaches, park and ride and water services.'</p>
<p>London's Transport Commissioner Peter Hendy said: 'The TCC is already proving valuable in helping us manage the increasing numbers of athletes, officials and the world's media now arriving in London. </p>
<p>'Roads in central London, around the Olympic Route Network (ORN) and venues will be exceptionally busy.&nbsp; </p>
<p>'Our advice is clear, avoid driving in central London, around the ORN and venues.&nbsp; </p>
<p>'If journeys by road are the only option, plan ahead and allow more time.'</p>
<p>The TCC has been in operation since the Olympic Torch Relay arrived in the UK on 18 May, managing any transport issues arising from Torch's transit around the nation.&nbsp; </p>
<p>It will be in operation until 14 September, operating 24 hours a day, seven days a week until then.</p>
<p>The TCC is located within TfL's Surface Transport Operations Control Centre, where the control centres for London's Streets and London Buses are already based, alongside the Metropolitan Police's Transport Operational Command Unit. </p>
<p>This co-location further enhances the ability to coordinate responses on the roads and transport networks.</p>
<p>
<hr>
</p>
<p><strong>Notes to editors:</strong></p>
<ul>
<li>To plan ahead, and for the latest Games travel advice, go to GetAheadoftheGames.com and follow &#64;GAOTG</li>
<li>For the latest travel information, go to <a href="http://www.tfl.gov.uk">tfl.gov.uk</a> or follow TfL's travel information channels on Twitter. The full range of channels is available at <a href="http://www.tfl.gov.uk/socialmedia">tfl.gov.uk/socialmedia</a> or follow &#64;TfLTravelAlerts for Tube, London Overground and DLR information and &#64;TfLTrafficNews for the latest information on the Capital's roads</li>
<li>Londoners can sign up for free email alerts to help them plan their journeys at Games-time at <a href="http://www.tfl.gov.uk/gamesemails">tfl.gov.uk/gamesemails</a></li>
<li>A budget of up to &pound;9m has been made available for both the set up of the TCC and the operational costs, funded by ODA</li>
<li>Transport operators and authorities within the TCC include:</li>
<ul>
<li>TfL</li>
<li>London Underground</li>
<li>London Rail</li>
<li>Docklands Light Rail</li>
<li>London Buses (CentreComm)</li>
<li>London Streets Traffic Control Centre (LSTCC)</li>
<li>Travel Demand Management (London&nbsp;and National)</li>
<li>Network Rail</li>
<li>Highways Agency</li>
<li>Department for Transport and via them the Arrivals and Departure hub</li>
<li>Government Olympic Executive</li>
<li>British Transport Police and via them the National Olympic Coordination Centre</li>
<li>London Operations Centre represented by Greater London Authority</li>
<li>LOCOG and via them their Main Operations Centre</li>
<li>Olympic Delivery Authority (ODA) and via them their Directly Managed Transport</li></ul></ul>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "Improved communication and coordination during the Games will deliver a lasting legacy for the UK transport industry. The Mayor and Transport Secretary advise that transport networks will be exceptionally busy - don't get caught out, plan ahead at";}
        
        


 