


@{ViewBag.Title = "Mayor's Roads Task Force gets started ";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>Mayor's Roads Task Force gets started </h1>
        <div class="content-page-press-release">
        22 July 2012
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        Experts, academics and user groups to review the challenges and opportunities facing London's roads now and in the future.
        
    </div>



<div class="pull-quote">
        <div class="quote-body">"A healthy road network is essential for this great city; for our economy, for pedestrians, bus passengers, motorists, and cyclists"</div>
        <div class="quote-footer">
            <div class="quotee-name">Boris Johnson</div>
            <div class="quotee-job-title">Mayor of London</div>
        </div>
</div>

 <div class="on-this-page">
<div class="pullquote right">
                        <p>
                            A healthy road network is essential for this great city; for our economy, for pedestrians, bus passengers, motorists, and cyclists
                            
                        </p>
                    </div>
                
            
            
            <p>The first major strategic review of London's road network in decades will get moving next week as the Mayor meets his election pledge to establish the London Roads Task Force.</p>
<p>The group will meet for the first time on 25 July and begin their work to analyse the challenges faced by London's road network and assess possible solutions to improve the Capital's roads for all users.<br>&nbsp;<br>The London Roads Task Force will look at how TfL and the boroughs could redesign gyratories and congestion blackspots, make journeys more reliable, and continue to make roads safer for all users. </p>
<p>It will also look at how the road network could better serve local communities, helping to transform the urban realm, cut pollution and ease congestion across the Capital. An initial report will be prepared by November 2012. </p>
<h2>Essential for economy</h2>
<p>The final report&nbsp;will be published in spring 2013.&nbsp; </p>
<p>Mayor of London Boris Johnson said: 'A healthy road network is essential for this great city; for our economy, for pedestrians, bus passengers, motorists, and cyclists.&nbsp; </p>
<p>'It also plays a key role in influencing Londoners' quality of life and London's economic future. London deserves a road network that isn't just a relic of 1950s and 1960s urban planning, but a road system that is fit for the 21st century.&nbsp;</p>

<p>'I am confident the new Roads Task Force will help ensure the future success of our capital&nbsp; and I want to thank the members of the group for offering their time to this important project.'</p>
<p>Roads are vital for the sustaining the London economy, essential for the movement of people and goods as well as providing a public space for shopping, exercising and socialising.&nbsp; </p>
<p>London's population is expected to grow by an expected 1.25 million people by 2031, and this will place increasing challenges and demands on the road network, as we strive to improve local quality of life while enabling efficient movement of people and goods around the city without weakening London's productivity and competitiveness. </p>
<p>Michele Dix, Director of Planning at TfL said: `London's roads are vital to movement around the city, with four out of every five trips in London made by road including almost 10 million car trips, over half a million cycle trips and around six million bus passenger journeys every day. </p>
<p>'There is a growing realisation of the importance of the quality of London's public spaces, for the competitiveness both of London's high streets and the Capital's world renowned tourism and financial status. </p>
<p>'The Roads Task Force will look to make a real difference to the way we currently design, build and manage the capital's road network, ensuring it truly reflects the needs of all road users for decades to come.' </p>
<h2>Review welcome</h2>
<p>David Quarmby CBE, chairman of the RAC Foundation, said: 'This review is immensely welcome.&nbsp; </p>
<p>'Most Londoners don't work in central London, and depend almost entirely on the road network to get to work, school and college, to get about and live their lives - whether by car, bus, cycle or walking. </p>
<p>'Business outside the centre is equally dependent on roads.&nbsp;</p>
<p>'We need to shine a light on what can be done quickly and over the longer term to make such journeys that bit easier, safer and more reliable'</p>
<p>German Dector-Vega, London Director for Sustrans, said: `Sustrans is delighted to have been invited to contribute to the Mayor's Roads Task Force. </p>
<p>'This represents a significant opportunity to address travel demand in London by facilitating more walking and cycling; and to transform the urban realm through practical solutions that benefit all Londoners.'</p>
<p>Jim Walker, Chief Executive Walk England, said: 'I'm very pleased that the Mayor is setting up this new task force to keep London moving.&nbsp; </p>
<p>'I think that it's vital that the momentum created by the Games, which got us all questioning if we are making the most effective and efficient choices in the way we make our every day journeys, is continued to inform the way the network is managed and promoted in the future. </p>
<p>'Our city is known for its diversity and density of destinations but 80 per cent&nbsp;of London's public space is roads so I'm looking forward to helping make the most of it for as many people as possible to enjoy the journey as well.'</p>
<p>More information about the Roads Task Force and a questionnaire to submit comments on how the road network should look going forward will be available at <a href="http://www.london.gov.uk/priorities/transport/investing-transport/roads-task-force">http://www.london.gov.uk/priorities/transport/investing-transport/roads-task-force</a></p>
<p>
<hr>
<br><strong>Notes to editors<br></strong>
<p>
<ul>
<li>In his Transport Manifesto, the Mayor Boris Johnson said he would establish the London Roads Task Force to propose long-term proposals to tackle London's most notorious roads <a href="http://www.backboris2012.com/system/storage/60/7c/5/1757/Boris-Johnson-2012-Transport-Manifesto.pdf">http://www.backboris2012.com/system/storage/60/7c/5/1757/Boris-Johnson-2012-Transport-Manifesto.pdf</a>&nbsp; </li>
<li>London is the most congested city in the UK, with about&nbsp;20 per cent&nbsp;of the country's total road delay. Congestion costs the Capital's economy at least &pound;2 billion per annum, reducing its productivity and weakening its competitiveness</li>
<li>During the last four years TfL has carried out a range of activities to reduce congestion on the Capital's road network. These include: 
<ul>
<li>Increasing the number of traffic signals using the SCOOT (Split Cycle Offset Optimisation Technique) system from 2000 to more than 3000. This has helped deliver an average 12.7 per cent reduction in delays for vehicles travelling across the network. Currently, around 40 per cent of the Capital's 6,000 traffic signals utilise SCOOT and work continues at a pace to have half of London's traffic signals running with the system by spring 2014</li>
<li>Reviewing the operation of 1000 traffic signals every year to ensure that they continue to operate as efficiently as possible. Since April 2009, TfL has carried out around 2,650 traffic signal reviews and been able to reduce delays for traffic at these locations by almost eight per cent and for pedestrians by almost one per cent. This has been achieved without compromising pedestrian safety in any way&nbsp; </li>
<li>Improving journey time reliability on the TLRN, which measures how often a thirty minute road journey would be completed on time, increasing in the period between September and December 2011; up one per cent to 88.1 per cent compared to the same quarter last year. This means that Londoner's journeys are now not only less disrupted, but as a result of TfL's ongoing work to monitor and manage its road network, are getting more reliable</li>
<li>Delivering a range of capacity and urban realm improvements across the TfL Road Network, including substantial improvements along the A406 at Henlys Corner and Bounds Green, converting the Elephant &amp; Castle southern roundabout to a signalised junction and creating a new public space in Brixton town centre&nbsp; </li>
<li>Introducing the UK's first targeted and avoidable lane Rental scheme for roadworks on the TfL Road Network in June 2012. This scheme will see all roadworks promoters require to pay up to &pound;2500 a day for working in congested areas and at busy times of the day. The scheme will build on the 40 per cent reduction in roadworks disruption since 2010, with the target of reducing disruption by a further 33 per cent by 2015<br></li></ul></li></ul>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "The first major strategic review of London's road network in decades will get moving next week as the Mayor meets his election pledge to establish the London Roads Task Force.The group will meet for the first time on 25 July and begin their work to";}
        
        


 