


@{ViewBag.Title = "Mind the app! WiFi arrives at over 40 London Underground stations ";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>Mind the app! WiFi arrives at over 40 London Underground stations </h1>
        <div class="content-page-press-release">
        04 July 2012
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        100,000 passengers online underground in the first four weeks.
        
    </div>



<div class="pull-quote">
        <div class="quote-body">"Millions of commuters and visitors from around the world are now able to keep up with live travel updates, news and entertainment throughout an incredible summer and beyond"</div>
        <div class="quote-footer">
            <div class="quotee-name">Gareth Powell</div>
            <div class="quotee-job-title">London Underground's Director of Strategy and Service Development</div>
        </div>
</div>

 <div class="on-this-page">
<div class="pullquote right">
                        <p>
                            Millions of commuters and visitors from around the world are now able to keep up with live travel updates, news and entertainment throughout an incredible summer and beyond
                            
                        </p>
                    </div>
                
            
            
            <ul>
<li>Free travel information for all customers during the 2012 Games and after </li>
<li>One million Tweets, Facebook posts, emails and web pages delivered in one week </li>
<li>120 WiFi enabled stations by the end of the year</li></ul>
<p>The new WiFi service on London's Underground is now available at more than 40 Tube stations, and is being used by over 100,000 Tube passengers.</p>
<p>The service, which was launched four weeks ago by Virgin Media, was used to deliver one million Tweets, Facebook posts, emails and web pages in a single week&nbsp;as, for the first time, commuters are able to take advantage of the internet while underground. </p>
<h2>Live journey information</h2>
<p>&nbsp;Throughout the 2012 Games and beyond passengers will be able to check TfL travel pages for live journey information as well as Time Out, Spotify and MyMovies.Net for free from Tube platforms. The service is expected to be extended to 120 stations by the end of the year. </p>
<p>Kevin Baughan, Director of Metro Wireless at Virgin Media, said: 'Londoners and visitors are loving our new WiFi service and we're on track to connect Tube journeys right across London ahead of the Games. </p>
<p>'With millions of smartphones, gadgets and devices taken onto the Tube each day, the demand for data continues to grow and we're rolling-out a future-proofed service that makes superfast wireless connections the standard. In partnership with TfL, we've achieved a huge amount and have launched a service London can be proud of.'</p>
<p>Gareth Powell, London Underground's Director of Strategy and Service Development, said: 'WiFi at Tube stations is proving extremely popular with our customers. Millions of commuters and visitors from around the world are now able to keep up with live travel updates, news and entertainment throughout an incredible summer and beyond. </p>
<p>'We look forward to continuing the roll-out and connecting up to 120 London Underground stations in 2012.' </p>
<p>The WiFi service is being delivered at no additional cost to fare or tax payers. </p>
<h2>Free for Tube passengers</h2>
<p>Virgin Media is offering free, full internet access throughout the summer. After the summer, the comprehensive WiFi portal with TfL travel information, updates and London news and entertainment will remain free for all Tube passengers. </p>
<p>In addition Virgin Media is offering mobile operators, internet service providers and other service providers the opportunity to wholesale the service and make it freely available to their customers. </p>
<p>Virgin Media broadband and mobile subscribers will continue to have free WiFi access and a PAYG service will ensure visitors and all Londoners can easily hop onto the internet.&nbsp; </p>
<p>To use the new free WiFi service, London Underground passengers simply need to connect to the service and register their email address. </p>
<p>Hundreds of access points have been installed throughout the 41 stations, that are already WiFi enabled, providing passengers with great coverage from the ticket hall to the platforms. </p>
<p>Each station is directly connected into Virgin Media's next generation fibre backhaul network which has already enabled the superfast delivery of over one million online interactions in just seven days.</p>
<p>
<hr>
<strong>Notes to editors</strong> 
<p>
<p>41 London Underground stations are now WiFi enabled:<br>1.&nbsp;Euston<br>2.&nbsp;Green Park<br>3.&nbsp;Kings Cross St Pancras<br>4.&nbsp;Oxford Circus<br>5.&nbsp;Victoria<br>6.&nbsp;Warren Street<br>7.&nbsp;Chancery Lane<br>8.&nbsp;Marylebone <br>9.&nbsp;St James's Park<br>10.&nbsp;Tower Hill<br>11.&nbsp;Barbican<br>12.&nbsp;Bermondsey<br>13.&nbsp;Borough<br>14.&nbsp;Hyde Park Corner<br>15.&nbsp;Southwark<br>16.&nbsp;Bayswater<br>17.&nbsp;Euston Square<br>18.&nbsp;Waterloo<br>19.&nbsp;Paddington on the Circle, District and Bakerloo lines. <br>20.&nbsp;Westminster<br>21.&nbsp;Covent Garden<br>22.&nbsp;High Street Kensington<br>23.&nbsp;Leicester Square<br>24.&nbsp;Liverpool Street<br>25.&nbsp;Old Street<br>26.&nbsp;Bethnal Green<br>27.&nbsp;Brixton<br>28.&nbsp;Canada Water<br>29.&nbsp;Canary Wharf<br>30.&nbsp;Elephant &amp; Castle<br>31.&nbsp;Goodge Street<br>32.&nbsp;Marble Arch<br>33.&nbsp;Regents Park<br>34.&nbsp;Holborn<br>35.&nbsp;Stratford<br>36.&nbsp;West Ham<br>37.&nbsp;Angel<br>38.&nbsp;Southfields<br>39.&nbsp;Heathrow T1-3<br>40.&nbsp;North Greenwich<br>41.&nbsp;Mile End</p>
<p>To keep up-to-date with the roll-out, please visit <a href="http://www.virginmedia.com/wifi">www.virginmedia.com/wifi</a> or <a href="http://www.tfl.gov.uk/wifi">www.tfl.gov.uk/wifi</a></p>
<p>Individual online interactions quoted were completed between Monday 25 June and Sunday 1 July 2012 </p>
<ul>
<li>To power the WiFi service, Virgin Media is providing fibre connectivity to each Underground station and London Underground has installed in-station equipment, including on-platform access points, to create a station-wide hotspot</li>
<li>Passengers will be able to get online throughout connected London Underground stations: from the ticket hall, on the escalators and on the platforms. Users will be also connected whilst on a train in a platform but WiFi will not work in London Underground tunnels</li>
<li>The Tube is undergoing a huge and essential programme to upgrade its ageing infrastructure - vital to cope with a growing population and to support the economic development and growth of the capital and the UK. This includes the introduction of new track and signalling and the rebuilding of some of our most important stations. By the end of the current programme there will be 30 per cent&nbsp;more capacity. This will inevitably result in some disruption for passengers, but TfL is working hard to provide information and alternative travel options. The work is essential to provide for London's growing transport needs now, and into the future. TfL is urging all Londoners and Tube, London Overground, London Tramlink and DLR passengers to "check before you travel" at weekends, allowing extra journey time where necessary. Weekend travel news is available at <a href="http://www.tfl.gov.uk/check">www.tfl.gov.uk/check</a> </li></ul>
<p>&nbsp;</p>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "Free travel information for all customers during the 2012 Games and after One million Tweets, Facebook posts, emails and web pages delivered in one week 120 WiFi enabled stations by the end of the yearThe new WiFi service on London's Underground is now";}
        
        


 