


@{ViewBag.Title = "New Barclays Cycle Hire leisure routes for summer in the city";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>New Barclays Cycle Hire leisure routes for summer in the city</h1>
        <div class="content-page-press-release">
        13 July 2012
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        Four new Barclays Cycle Hire leisure routes exploring London's parks, markets and architecture
        
    </div>



<div class="pull-quote">
        <div class="quote-body">"Hundreds of thousands of people cycle in London everyday and I hope many more will take to two wheels now we've introduced the cycle routes as inspiration."</div>
        <div class="quote-footer">
            <div class="quotee-name">Leon Daniels</div>
            <div class="quotee-job-title">TfL Managing Director of Surface Transport</div>
        </div>
</div>

 <div class="on-this-page">
<div class="pullquote right">
                        <p>
                            Hundreds of thousands of people cycle in London everyday and I hope many more will take to two wheels now we've introduced the cycle routes as inspiration.
                            
                        </p>
                    </div>
                
            
            
            <ul>
<li>Exclusive Evans Cycles discount offer available throughout July </li></ul>
<p>Transport for London (TfL) is encouraging Londoners to take advantage of the long daylight hours and explore London on two wheels with the introduction of four new Barclays Cycle Hire leisure routes. </p>
<p>The routes have been created by cycling blogger Andreas Kambanis of London Cyclist <a href="http://www.londoncyclist.co.uk">www.londoncyclist.co.uk</a> and are now available online at <a href="http://www.tfl.gov.uk/bchleisureroutes">www.tfl.gov.uk/bchleisureroutes</a>. </p>
<p>All four routes can be completed using Barclays Cycle Hire. </p>
<h2>Tip-top condition</h2>
<p>They feature docking station information and vary in length and difficulty, offering turn by turn guidance through some of the capital's favourite leisure haunts including famous parks, shops, markets and architecture. </p>
<p>TfL has also teamed up with the UK's leading cycling retailer, Evans Cycles to offer a range of discounts to bike owners so that they can ensure their bikes are in tip-top condition to cycle around the capital this summer. </p>
<p>Evans is offering an exclusive 10 per cent discount on components and accessories with the promo code BARCOMP and a 15 per cent discount off Bronze and Silver bike services with the promo code BARSVC. </p>
<p>Both offers are valid until 31 July 2012. </p>
<h2>Perfect opportunity</h2>
<p>Leon Daniels, TfL Managing Director of Surface Transport, said: 'The introduction of easy to follow Barclays Cycle Hire leisure routes makes it easier than ever for people to explore the city at their leisure this summer. </p>
<p>'The London 2012 Games are quickly approaching, making this the perfect opportunity to take advantage of Evans' great servicing offer, ensuring you are as well prepared as possible to cycle around the capital this summer. </p>
<p>'Cycling is a fun and easy way to get around the capital and it is often quicker to cycle than taking the bus or Tube. </p>
<p>'Hundreds of thousands of people cycle in London everyday and I hope many more will take to two wheels now we've introduced the cycle routes as inspiration.' </p>
<h2>Another side to the city</h2>
<p>Andreas Kambanis, founder of <a href="http://www.londoncyclist.co.uk">www.londoncyclist.co.uk</a>, said: 'With these routes you'll soon be crisscrossing your way around London, discovering another side to the city. From independent shops, to leafy backstreets and architectural marvels - there's no better way to see it all than on two wheels.'</p>
<p>To date more than 160,000 people have signed up as members of Barclays Cycle Hire and between them they have made more than 13 million hires with around 3.6 million trips made by casual users since the service became available in December 2010.&nbsp; </p>
<p>Becoming a Barclays Cycle Hire member still remains the fastest way to access a bike with no queuing at the on street terminals or docking point. </p>
<p>UK residents can start using the cycle hire scheme as a member for just &pound;4 - the cost of buying the membership key (&pound;3) and their first 24 hour access period (&pound;1). </p>
<p>TfL has also reminded cyclists of their Cycle Hire Users' Code of conduct, to help people use and enjoy the scheme safely. </p>
<p>The Code's tips include:</p>
<ul>
<li>Be careful around lorries, which have numerous blind spots, and never pass them on the left just before, or at, traffic lights </li>
<li>Don't get too close to parked cars </li>
<li>Watch out for other vehicles and pedestrians and give clear hand signals to show your intentions </li>
<li>Make yourself seen at night by wearing reflective or fluorescent clothing </li></ul>
<p>People can also brush up on their cycle safety skills by taking two minutes to watch the Barclays Cycle Hire safety film at: <a href="http://www.youtube.com/user/BarclaysCycle">www.youtube.com/user/BarclaysCycle</a></p>
<p>
<hr>

<p>
<p><strong>Notes to editors: <p>
<ul>
<li></li></ul></strong>Ten per cent off components&nbsp;and accessories: promo code BARCOMP T&amp;Cs: Get 10 per cent off any non-sale parts or accessory items. Just enter the code online or quote when buying in-store. Cannot be used in conjunction with any other offer, discount, or when paying with Price Match. Excludes Endura, Exposure, Garmin, Specialized &amp; Motorola. Valid from 1 - 31 July 2012 
<li>Fifteen per cent off servicing: promo code BARSVC. T&amp;Cs: Get 15 per cent off a Bronze or Silver service. Quote the code when booking your bike in for its service. The discount applies to the service only, not parts. Can not be used in conjunction with any other offer or discount. Valid from 1 - 31 July 2012 </li>
<li>Barclays Cycle Hire accepts all major credit and debit cards </li>
<li>Anti-skimming devices have been fitted to all Barclays Cycle Hire terminals; this additional measure ensures card readers are not tampered with. The anti-skimming devices use industry leading software, designed to prevent anyone placing a skimming device on a terminal </li>
<li>A membership key costs &pound;3 with membership costs at &pound;1 for a 24-hour membership, &pound;5 for seven days and &pound;45 for annual membership. The first 30 minutes of every journey is free. Find out how to become a member of Barclays Cycle Hire and advice on how to use the scheme </li>
<li>Members of the scheme must be at least 18 years old, and you need to be at least 14 years old to use the scheme </li>
<li>Barclays Cycle Hire currently operates across central and eastern London </li>
<li><a href="/roadusers/cycling/18088.aspx">Barclays Cycle Hire Olympic docking station suspensions </a>are now published online </li>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "Exclusive Evans Cycles discount offer available throughout July Transport for London (TfL) is encouraging Londoners to take advantage of the long daylight hours and explore London on two wheels with the introduction of four new Barclays Cycle Hire leisure";}
        
        


 