


@{ViewBag.Title = "New look London Bridge bus station unveiled in time for the London 2012 Games and beyond";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>New look London Bridge bus station unveiled in time for the London 2012 Games and beyond</h1>
        <div class="content-page-press-release">
        19 July 2012
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        London Bridge bus station transformed into modern, spacious key interchange.
        
    </div>



 <div class="on-this-page">
<div class="pullquote right">
                        <p>
                            I am sure passengers will appreciate these improvements whether they pass through London Bridge as part of their daily commute or whether they are visiting the Capital this summer for the London 2012 Games
                            
                        </p>
                    </div>
                
            
            
            <ul>
<li>Passengers to benefit from more direct route between buses and train platforms, better waiting facilities, and more spacious less congested pavement and road layout</li></ul>
<p>Following a major upgrade London Bridge bus station is transformed and ready to welcome the millions of visitors expected in London for this summer's London 2012 Games, and improve the journeys of Londoners for many years to come. </p>
<p>The bus station has been dramatically redesigned and rotated 45 degrees from its original position to enable a new row of bus stops to align with the Network Rail platforms. </p>
<p>This makes the journey between the bus and rail station easier to navigate and more direct. In addition, a new road layout will reduce congestion for buses and taxis. </p>
<h2>Better facilities</h2>
<p>Passengers will also have new, comfortable waiting facilities, more pavement space, better signage, and new CCTV cameras to ensure their safety and security.</p>
<p>The redevelopment of London Bridge bus station was part of the planning agreement of The Shard and London Bridge Quarter development. </p>
<p>Transport for London (TfL) has worked closely with the developers Sellar, Network Rail and Southwark Council to deliver the new look bus station with minimum closures or disruptions to passengers and local residents.</p>
<p>Funding for the redevelopment of the bus station was provided by Sellar. The changes were led by TfL, and are integral to the Network Rail redevelopment at London Bridge rail station which includes an enhanced retail and ticketing area and a new escalator into the London Underground station to improve the passenger interchange. </p>
<h2>Minimum disruption</h2>
<p>Leon Daniels, Managing Director, Surface Transport, TfL, said: 'This is an excellent example of what joint working between TfL, Sellar, Network Rail and Southwark Council can deliver. </p>
<p>'Careful planning and delivery has brought all these changes together with minimum disruption and with every aspect designed with passengers in mind. I am sure passengers will appreciate these improvements whether they pass through London Bridge as part of their daily commute or whether they are visiting the Capital this summer for the London 2012 Games.'</p>
<p>Irvine Sellar, Chairman of Sellar and director of LBQ Ltd, said: 'It gives me, and the whole London Bridge Quarter team, great pleasure to see the new bus station unveiled. </p>
<p>'It forms an integral part of the London Bridge Quarter masterplan that is helping create a 21st Century transport hub as part of this new business district which includes London's newest landmark, The Shard. We believe this, and our other infrastructure works, will help make London Bridge a more efficient and effective station.'</p>
<p>London Bridge will be one of the busiest stations during the London 2012 Games. Passengers are urged to plan ahead each day on <a href="http://www.GetAheadoftheGames.com">GetAheadoftheGames.com </a>to avoid travel hotspots at the busiest times.<br></p>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "Passengers to benefit from more direct route between buses and train platforms, better waiting facilities, and more spacious less congested pavement and road layoutFollowing a major upgrade London Bridge bus station is transformed and ready to welcome the";}
        
        


 