


@{ViewBag.Title = "Olympic Flame takes historic journey with long-serving London Underground employee in advance of public transport Games ";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>Olympic Flame takes historic journey with long-serving London Underground employee in advance of public transport Games </h1>
        <div class="content-page-press-release">
        24 July 2012
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        Signalling Operator John Light to carry the Flame in the driver's cab and carriage of District Line train on Tuesday 24 July.
        
    </div>



<div class="pull-quote">
        <div class="quote-body">"John has worked at London Underground for nearly half a century so I'm especially proud that he's representing the Tube for this momentous occasion"</div>
        <div class="quote-footer">
            <div class="quotee-name">Mike Brown</div>
            <div class="quotee-job-title">Managing Director for London Underground</div>
        </div>
</div>

 <div class="on-this-page">
<div class="pullquote right">
                        <p>
                            John has worked at London Underground for nearly half a century so I'm especially proud that he's representing the Tube for this momentous occasion
                            
                        </p>
                    </div>
                
            
            
            <ul>
<li>Londoners reminded of Tube's enhanced services during the Games but urged to plan their journeys ahead </li></ul>
<p>The Olympic Flame will make a historic journey in the front of a Tube train tomorrow morning (Tuesday 24 July at 7:00) as part of its week-long journey through every one of London's 33 boroughs.</p>
<p>64-year-old London Underground Service Operator, John Light, who is responsible for operating signalling on the District Line, has been chosen by TfL to be the official Torch bearer in recognition of his outstanding long service to the organisation. </p>
<p>In a special event prior to the start of the Torch relay in Kingston-upon-Thames, John Light will carry the Flame in a carriage and in the driver's cab of the train as it travels from Wimbledon to Wimbledon Park on the District line. </p>
<h2>Flying the flag</h2>
<p>Olympic Rings will adorn the front and first carriage of the train, and later in the day a flag with Olympic Rings will be raised above London Underground's Headquarters at 55 Broadway.</p>
<p>John Light, who has worked for London Underground since 1963, said: 'Transporting the Olympic Flame is a once in a lifetime experience. I feel really privileged to have been given this opportunity to be part of the Games in this way. </p>
<p>'I've worked for London Underground for 49 years so to be able to hold the Flame on its Tube journey is a huge honour for me and a moment I will treasure for the rest of my life.'</p>
<p>Mike Brown, Managing Director for London Underground, said: 'London 2012 is a public transport Games so it's very fitting for the Torch to travel by Tube. John has worked at London Underground for nearly half a century so I'm especially proud that he's representing the Tube for this momentous occasion.'</p>
<p>Once its Tube journey has concluded the Olympic Torch Relay will start its road journey visiting the London Boroughs of Kingston-upon-Thames, Richmond-upon-Thames, Hounslow, Hillingdon and Ealing. </p>
<h2>Public transport Games</h2>
<p>The London 2012 Games are the first 100 per cent public transport Games, with TfL running enhanced services on the Tube to meet additional demand.</p>
<p>Last trains westbound from the Olympic Park will depart at 01:30, and all last trains on all lines will run about an hour later - departing central London at around 1:30, with trains being stabled at depots at around 02:30.</p>
<p>TfL is reminding people to plan their journeys ahead during what will be an exceptionally busy time. Passengers should plan ahead to avoid 'hotspots' by visiting <a href="http://www.GetAheadoftheGames.com">www.GetAheadoftheGames.com</a> and following &#64;GAOTG on Twitter.</p>
<p>In addition, TfL's Journey Planner at <a href="http://www.tfl.gov.uk/journeyplanner">www.tfl.gov.uk/journeyplanner</a> warns users if their journey includes a travel hotspot.&nbsp;<br>
<hr>
&nbsp; <br><strong>Notes to editors: </strong>
<ul>
<li>Images and footage will be made available via the Media Centre on the <a href="http://www.london2012.com/">london2012.com website </a></li>
<li>John Light has worked for London Underground for 49 years; 15 of those years have been in Service Control on the District line. John began his London Underground career in 1963 on a three year Railway Operating apprenticeship. In 1966 he became a qualified Service Operator and has worked on numerous different Tube lines since then </li>
<li>A Tube driver will drive the train while John Light holds the Torch </li>
<li>The District line will serve many of the 2012 Games venues including the tennis at Wimbledon, and the volleyball at Horse Guard's Parade and Earl's Court<br></li></ul>
<p>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "Londoners reminded of Tube's enhanced services during the Games but urged to plan their journeys ahead The Olympic Flame will make a historic journey in the front of a Tube train tomorrow morning (Tuesday 24 July at 7:00) as part of its week-long journey";}
        
        


 