


@{ViewBag.Title = "Olympic Route Network - in operation and enforced from tomorrow, Wednesday 25 July";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>Olympic Route Network - in operation and enforced from tomorrow, Wednesday 25 July</h1>
        <div class="content-page-press-release">
        24 July 2012
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        Mayor and TfL reiterate commitment that Games Lanes will operate flexibly and opened to all traffic if demand from athletes, officials and media vehicles is low.
        
    </div>



 <div class="on-this-page">
<ul>
<li>For the latest Games travel and advice visit <a href="http://www.GetAheadoftheGames.com ">GetAheadoftheGames.com </a>and follow &#64;GAOTG on Twitter </li>
<li>Public urged 'Don't get caught out', plan ahead and 'check before you travel' to avoid the road and public transport 'hotspots' </li>
<li>For the latest on how transport services are operating, check before you travel at <a href="http://www.tfl.gov.uk">www.tfl.gov.uk</a> and follow &#64;TfLTrafficNews (roads) and &#64;TfLTravelAlerts (Tube, DLR and London Overground)</li></ul>
<p>Transport for London (TfL) today reminded road users that the Olympic Route Network (ORN) will come into operation and be enforced from 06:00 tomorrow (Wednesday 25 July).</p>
<p>Enforcement of the ORN includes no stopping or loading along the 109-mile route in London, as well as a number of temporary physical changes to junctions and road layouts, such as banned turns. </p>
<p>The ORN also includes 30 miles of Games Lanes in London, to ensure all athletes, officials and the world's media get to their events on time.&nbsp;</p>
<h2>Games Lanes&nbsp;to open flexibly</h2>
<p>However, the Mayor and TfL today reiterated their commitment that the Games Lanes will be operated flexibly and opened to all traffic if there are times when demand from athletes, officials and media vehicles is low.&nbsp;</p>
<p>A network of around 150 Variable Message Signs (VMS) along the route will advise motorists when the Games Lanes are open to regular traffic throughout the day.</p>
<p>TfL's advice to road users is clear - don't get caught out. Avoid driving in central London, around the ORN and Games venues. If a journey by road is absolutely essential, plan ahead at GetAheadoftheGames.com and allow extra time.</p>
<p>Mayor of London, Boris Johnson said: 'With just days until the opening ceremony, London is more prepared for the Games than any other Olympic city has ever been. The Olympic Route Network is a requirement of all Host Cities, ensuring athletes and officials get to their events on time. </p>
<p>'We've already slashed its length by one third compared to what was originally planned and we are introducing these changes to the road network as late as possible, to minimise the impact on Londoners and businesses.</p>
<p>'We will also operate the Games Lanes flexibly so that if demand from the official Olympic vehicles is low, we will open up the Games Lanes to all traffic.' </p>
<h2>Avoid driving in central London</h2>
<p>&nbsp;Leon Daniels, TfL's Managing Director Surface Transport, said:&nbsp;'With the Games now almost upon us, London's transformation into a massive sporting and cultural venue is almost complete.&nbsp;As a result, many of the Capital's roads are exceptionally busy, particularly routes such as the A12, A13 and A40.</p>
<p>'Our advice to road users is clear - don't get caught out. Avoid driving in central London, around the ORN and Games venues.&nbsp;If a journey by road is absolutely essential, plan ahead at GetAheadoftheGames.com and allow extra time.'</p>
<p>Compliance on the ORN is key to ensuring that the Games run smoothly and TfL can keep London moving for the benefit of all road users.&nbsp;</p>
<p>A penalty charge of &pound;130 will be issued to owners of vehicles who break the regulations in London, including driving in Games Lanes or stopping along the route and any illegally parked vehicle will be removed to a vehicle pound and may incur a release fee of &pound;200.</p>
<p>A film on GetAheadoftheGames.com provides explanation of the ORN and top tips for motorists on avoiding driving and planning journeys during the Games: <a href="http://www.getaheadofthegames.com/things-you-should-know/olympic-route-network.html">www.getaheadofthegames.com/things-you-should-know/olympic-route-network.html</a>.&nbsp;&nbsp; </p>
<p>The Temporary Road Changes planning tool on the GetAheadoftheGames.com website includes all of the information motorists, cyclists and pedestrians need to plan their road journeys during the Games, including details of the ORN, LOCOG's local parking and traffic management plans around Games venues and how roads around race routes will be affected during Road Events. <a href="http://www.getaheadofthegames.com/travelinaffectedareas/city/london-temporary-road-changes.html">www.getaheadofthegames.com/travelinaffectedareas/city/london-temporary-road-changes.html</a>. </p>
<p>
<hr>
<strong>Notes to editors:</strong> 
<p>
<ul>
<li>Map by map details of the Olympic and Paralympic Route Networks, including details of all traffic measures such as junctions changes and suspended pedestrian crossings can be found at <a href="http://www.tfl.gov.uk/orn">www.tfl.gov.uk/orn</a> </li>
<li>All motorists can use the ORN, and only the 30 miles of Games lanes, alongside lanes for general traffic, will be reserved for vehicles carrying athletes, coaches, officials and media </li>
<li>If a vehicle is parked illegally on the ORN or observed in contravention of an ORN regulation, such as making a banned right turn or using a Games lane)&nbsp;civil enforcement officers will have the ability to issue a penalty charge notice to the registered keeper of that vehicle </li>
<li>Abandoned, broken down or illegally parked vehicles causing an obstruction on the ORN will be moved by tow truck. Any moved vehicles will be tracked so that the owner will be able to recover their vehicle </li>
<li>TfL is committed to keeping London moving throughout the Games and will operate the Games lanes as flexibly as possible. They will be opened up to all traffic at times when demand from Games family vehicles is low and capacity available. A network of around 150 variable message signs (VMS) along the route will advise motorists when Games lanes are open to regular traffic throughout the day </li>
<li>The ORN will come into operation on 25 July, two days before the Opening Ceremony of the Olympic Games. It will end operation a couple of days after the Games and will not be in operation between the Olympics and Paralympics. The smaller Paralympic Route Network (PRN) will also come into operation just a couple of days before the Paralympic Games. Once Games events are completed at a venue, such as Wimbledon, the ORN will be removed </li>
<li>The ORN also extends out of London to other London 2012 venues in England. These routes are being delivered by the Olympic Delivery Authority (ODA) in partnership with the respective local highway authorities. ORN operational and enforcement dates and times outside of London differ from those being delivered by TfL within London. For more information please contact Government Olympic Communications (GOC) on 020 7271 17:00 </li>
<li>All the information, tools and advice that motorists, cyclists and pedestrians need to plan their road journeys during the Games can be found on the <a href="http://www.GetAheadoftheGames.com ">GetAheadoftheGames.com</a> website and by following &#64;GAOTG on Twitter<br></li></ul>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "For the latest Games travel and advice visit GetAheadoftheGames.com and follow @GAOTG on Twitter Public urged 'Don't get caught out', plan ahead and 'check before you travel' to avoid the road and public transport 'hotspots' For the latest on how";}
        
        


 