


@{ViewBag.Title = "Olympic Torch relay arrives in central London:  Plan your travel and 'Get Ahead of the Games' - Thursday, 26 July 2012";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>Olympic Torch relay arrives in central London:  Plan your travel and 'Get Ahead of the Games' - Thursday, 26 July 2012</h1>
        <div class="content-page-press-release">
        25 July 2012
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        With just two days until the Opening Ceremony of the London 2012 Olympic Games, London's transformation into a massive sporting and cultural venue is virtually complete and now is the time to put Games-time travel plans into action.
        
    </div>



 <div class="on-this-page">
<p>The Olympic Route Network (ORN), including the Games Lanes, is now in operation and working well, carrying tens of thousands of athletes, officials and media to and from venues on time.</p>
<p>Traffic in central and inner London today (25 July) was down around 13 per cent on levels seen at this time of year as many motorists heeded TfL's advice to avoid driving in central London, around the ORN and venues.&nbsp; </p>
<p>However, given the additional Games traffic on the capital's streets, roads in central London and around venues and the ORN will remain exceptionally busy and drivers should continue to avoid driving around these locations, plan ahead and allow extra time for their journeys.<br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <br>The ORN Games Lanes are being operated flexibly and, if numbers of Games vehicles are low, they are being opened to all traffic.&nbsp;</p>
<p>Around a quarter of the Games Lanes in operation today have been reserved for the use of Games vehicles today.&nbsp;</p>
<p>Variable Message signs (VMS) are clearly advising motorists if the ORN is open to general traffic or not.&nbsp; </p>

<p>
<hr>
</p>
<p>London's Transport Commissioner, Peter Hendy CBE, said: 'Traffic levels today are 13 per cent lower than they would normally be at this time of year, due to motorists heeding our advice about avoiding driving in central London, near venues or on and around the ORN. </p>
<p>'Londoners have yet again proved how sensible they are, and I'd like to thank them for their help in reducing traffic in London - which is now truly an Olympic city.'</p>
<p>The Olympic Torch Relay will spend its last day touring London's suburbs today before it enters central London on Thursday morning and travels through the heart of the capital, including Camden, Islington, City of London, Southwark, Lambeth, Wandsworth, Kensington and Chelsea, Hammersmith and Fulham and Westminster.&nbsp; </p>
<p>Londoners are turning out in very large and enthusiastic crowds to welcome the Torch and Thursday will be an exceptionally busy day on the road network and stations along the Olympic Torch Relay route.</p>

<p>
<hr>
</p>
<p>TfL's advice to those coming out to see the Olympic Torch is to stay local if possible and find a point along the route that is close to home or work to view it as it passes.</p>
<p>Spectators should take public transport, walk or cycle to view the Torch and avoid driving - roads in central London will be exceptionally busy and there will not be any parking along the route. </p>
<p>Olympic Torch Relay route tomorrow (Thursday, 26 July):</p>
<ul>
<li>The Olympic Torch Relay continues on its second to last day through central London </li>
<li>It will begin at around 06:50 in Camden and move through Islington and the City of London during the morning peak between 07:30-10:00 </li>
<li>It will then travel through Southwark, Lambeth, Wandsworth, Kensington and Chelsea, and Hammersmith and Fulham throughout the day, arriving along Oxford Street during the afternoon peak before finishing in Hyde Park at around 19:15 </li>
<li>To find out where the Torch will be throughout the day visit <a href="http://www.london2012.com/torch-relay/route/">www.london2012.com/torch-relay/route/</a></li></ul>
<p>Spectators of the Torch Relay:</p>
<ul>
<li>Do not drive to see the Torch, roads around the route are expected to be exceptionally busy </li>
<li>Use public transport, cycle or walk to viewing points </li>
<li>The viewing capacity in central London will be limited, so get your spot as early as you can and be prepared to wait. Pack water and sun cream during this warmer weather </li>
<li>Find out where and when the Torch will be, visit <a href="http://www.london2012.co/torch-relay/route">www.london2012.co/torch-relay/route</a></li></ul>
<p>During the Games, up to one million extra visitors are expected in London every day, making an additional three million journeys over and above the usual 12 million daily journeys on public transport. </p>
<p>At certain times and in certain places, London's roads and public transport networks will be exceptionally busy. Any one planning to travel should ensure they plan ahead at GetAheadoftheGames.com and leave extra time for their journeys.</p>

<p>
<hr>
</p>
<p>TfL's key travel advice for tomorrow (Thursday, 26 July):</p>
<ul>
<li>The Olympic Route Network (ORN), including the Games Lanes, is now in operation and being enforced.&nbsp;Avoid central London, around the ORN, venues and the route of the Torch Relay </li>
<li>Check the electronic roadside message signs which will clearly state if the Games Lanes are open to general traffic or reserved for Games vehicles </li>
<li>If you have to drive, plan ahead, consider re-timing your journey and allow more time </li>
<li>Cultural events are taking place across London today, including the Hyde Park Music Concert where the Olympic Torch will finish its day, see <a href="http://www.molpresents.com">www.molpresents.com</a> for further information. If possible, avoid these areas if you are not attending an event </li>
<li>Before travelling, check out live travel updates at <a href="http://www.tfl.gov.uk">tfl.gov.uk</a> or by following &#64;TfLTravelAlerts (Tube, DLR and London Overground) or &#64;TfLTrafficNews (roads) </li>
<li>For full information on avoiding roads and public transport hotspots visit:&nbsp; <a href="http://www.GetAheadoftheGames.com">www.GetAheadoftheGames.com</a> and follow &#64;GAOTG on Twitter</li></ul>
<p>Public Transport:</p>
<ul>
<li>Avoid stations that are on or close to the Torch Relay routes.&nbsp;These stations will be exceptionally busy up to two hours before and at least one hour after the Torch passes </li>
<li>Some bus services and bus stops will be suspended temporarily during the Torch Relay, so check the TfL Journey Planner before setting off</li></ul>
<p>Roads:</p>
<ul>
<li>The Torch road route is as follows: A502 - A1 - A201 - A2 - A202 - A2217 - A3216 - A3217 - A402 - The Mall </li>
<li>Delays are expected on roads in Kings Cross, St Pancras and the City of London in the morning peak. Consider retiming your travel to avoid delays and disruption </li>
<li>There will be temporary restrictions on roads that form part of the Torch Relay. This will result in delays and parts of the road network being exceptionally busy. Roads will be closed up to two hours before the Olympic Torch passes through the area and will reopen when it is safe to do so</li></ul>
<p>Maps and animations showing the route and transport impacts for each day of the Olympic Torch Relay when in London are available at the GetAheadoftheGames.com website at the following link and by selecting the day of the Torch Relay using the slider at the top of the map: <a href="http://www.getaheadofthegames.com/travelinaffectedareas/city/london-public-transport.html">www.getaheadofthegames.com/travelinaffectedareas/city/london-public-transport.html</a></p>
<p>
<hr>
<br>
<p>
            <p><strong>Notes to Editors:</strong></p>
<ul>
<li>This Transport for London (TfL) London 2012 Games travel bulletin is issued twice per day, at the expected times of 07:00 and 14:00</li>
<li>Alongside these media travel bulletins, at 14:00 each day, TfL will also publish the full 2012 Transport Factsheets on which they are based.&nbsp; Factsheets for each day of the Olympic Torch Relay, Olympic and Paralympic Games have already been produced and published at GetAheadoftheGames.com, but they will be revised on a daily basis, based on the latest information and experience, throughout the Games</li>
<li>TfL operates the following services: London Underground, London buses, Docklands Light Railway (DLR), London's major roads, including the Olympic and Paralympic Route Networks in London, Cycling - including Barclays Cycle Hire and Barclays Cycle Superhighways, Emirates Air Line, London Overground, London River Services, Victoria Coach Station, Taxis</li>
<li>The TfL Press Office will be available 24 hours a day on 0845 604 41 41 and will have a member of staff in the London Media Centre during normal opening hours</li>
<li>A number of services are available including: Pre-packaged scripted films through the London Media Centre and on the TfL website at <a href="http://www.tflimages.com">www.tflimages.com</a>, B roll footage of London's transport network available from <a href="http://www.tflimages.com">www.tflimages.com</a>,&nbsp;a&nbsp;comprehensive image library providing free access to images of London's transport network available from <a href="http://www.tflpressgallery.co.uk">www.tflpressgallery.co.uk</a> and interviews with TfL spokespeople<br></li></ul>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "The Olympic Route Network (ORN), including the Games Lanes, is now in operation and working well, carrying tens of thousands of athletes, officials and media to and from venues on time.Traffic in central and inner London today (25 July) was down around 13";}
        
        


 