


@{ViewBag.Title = "Olympic Torch Relay has arrived in London:  Plan your travel and 'Get Ahead of the Games' tomorrow - Saturday, 21 July 2012";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>Olympic Torch Relay has arrived in London:  Plan your travel and 'Get Ahead of the Games' tomorrow - Saturday, 21 July 2012</h1>
        <div class="content-page-press-release">
        20 July 2012
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        The Olympic Torch Relay has arrived in London and the Capital's transformation into a massive sporting and cultural venue gathers pace.
        
    </div>



 <div class="on-this-page">
<p>Central London, the ORN, areas around venues and the Torch Relay will be exceptionally busy.&nbsp;</p>
<p>Up to one million extra visitors are expected in London every day during the Games, making an additional three million journeys over and above the usual 12 million daily journeys on public transport.</p>
<p>This is the first of Transport for London's (TfL) London 2012 Games travel bulletins for media.&nbsp;They will provide key travel information and advice for the following day on London's public transport and roads and will be issued daily from today Friday, July 20 and twice daily, expected to be at 07:00hrs and 14:00hrs, from Wednesday, July 25.</p>
<p>Alongside these media travel bulletins, at 14:00hrs each day, TfL will also publish the full 2012 Transport Factsheets on which they are based. Factsheets for each day of the Olympic Torch Relay, Olympic and Paralympic Games have already been produced and published at <a href="http://www.GetAheadoftheGames.com">www.GetAheadoftheGames.com</a>, but they will be revised on a daily basis, based on the latest information and experience, throughout the Games.</p>
<p>TfL's media travel bulletins for the following week focus on travel information and advice for the Olympic Torch Relay in London and the changes that TfL will be making to the road network ahead of the implementation of the Olympic Route Network (ORN) on July 25.</p>
<p>Maps and animations showing the route and transport impacts for each day of the Olympic Torch Relay when in London are available at the GetAheadoftheGames.com website at the following link and by selecting the day of the Torch Relay using the slider at the top of the map: <a href="http://www.GetAheadoftheGames.com/travelinaffectedareas/city/london-public-transport.html">www.GetAheadoftheGames.com/travelinaffectedareas/city/london-public-transport.html</a></p>

<p>
<hr>
</p>
<p>Olympic Torch Relay route tomorrow (Saturday, July 21):</p>
<ul>
<li>The Olympic Torch Relay will start its week long journey through every one of London's 33 boroughs tomorrow </li>
<li>On Saturday July 21, it will be mainly in east London, travelling from Greenwich Park (approx 07:30hrs) to Waltham Forest Town Hall (19:30hrs), travelling through Newham, Tower Hamlets and Hackney</li></ul>
<p>Public Transport:</p>
<ul>
<li>The Torch will be at Westfield Stratford City from approx 12:30-14:00hrs and significant crowds are expected and Stratford station is expected to be exceptionally busy</li></ul>
<p>Roads:</p>
<ul>
<li>Road route is A205 - A118 (High Street) - A11 (Mile End) - A10 (Kingsland Road) - A112 </li>
<li>Roads will be temporarily closed before the Torch arrives and the roads will be exceptionally busy </li>
<li>Disruptions are expected on roads around Hoxton and Stoke Newington between 16:00-17:30hrs </li>
<li>Deliveries in the Stratford area should be avoided between 12:00-14:00hrs</li></ul>
<p>TfL's key travel advice for tomorrow (Saturday, July 21):</p>
<ul>
<li>Experience from around the UK shows that very large and enthusiastic crowds will welcome the Torch as it travels through the capital </li>
<li>If you are planning to view the Torch, stay local - the Torch is passing through every London borough so try to view it when it passes through an area close to your home or work </li>
<li>Avoid driving on, or close to, roads that the Torch Relay will be visiting, as well as central London, around the ORN and venuesIf you have to drive, plan ahead, consider re-timing your journey and allow more time </li>
<li>On public transport, avoid stations that are on or close to the Torch Relay routes.&nbsp;These stations will be exceptionally busy up to two hours before and at least one hour after the Torch passes </li>
<li>Before travelling, check out live travel updates at <a href="http://www.tfl.gov.uk">www.tfl.gov.uk</a> or by following &#64;TfLTravelAlerts (Tube, DLR and London Overground) or &#64;TfLTrafficNews (roads) </li>
<li>For full information on avoiding roads and public transport hotspots visit:&nbsp; <a href="http://www.GetAheadoftheGames.com">www.GetAheadoftheGames.com</a> and follow &#64;GAOTG on Twitter</li></ul>
<p>
<hr>
<br></p>
            <p><strong>Notes to Editors:</strong></p>
<p>The TfL Press Office will be available 24 hours a day on 0845 604 41 41 and will have a member of staff in the London Media Centre during normal opening hours.</p>
<p>A number of services are available including:</p>
<ul>
<li>Pre-packaged scripted films through the London Media Centre and on the TfL website at <a href="http://www.tflimages.com">www.tflimages.com</a></li>
<li>B roll footage of London's transport network available from <a href="http://www.tflimages.com">www.tflimages.com</a></li>
<li>A comprehensive image library providing free access to images of London's transport network available from <a href="http://www.tflpressgallery.co.uk">www.tflpressgallery.co.uk</a></li>
<li>Interviews with TfL spokespeople</li></ul>
<p>TfL operates the following services: London Underground, London buses, Docklands Light Railway (DLR), London's major roads, including the Olympic and Paralympic Route Networks in London, Cycling - including Barclays Cycle Hire and Barclays Cycle Superhighways, Emirates Air Line, London Overground, London River Services, Victoria Coach Station, Taxis.<br></p>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "Central London, the ORN, areas around venues and the Torch Relay will be exceptionally busy.&nbsp;Up to one million extra visitors are expected in London every day during the Games, making an additional three million journeys over and above the usual 12";}
        
        


 