


@{ViewBag.Title = "Olympic Torch travels up Thames ahead of Opening Ceremony: Plan your travel and 'Get Ahead of the Games' - Friday, 27 July 2012";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>Olympic Torch travels up Thames ahead of Opening Ceremony: Plan your travel and 'Get Ahead of the Games' - Friday, 27 July 2012</h1>
        <div class="content-page-press-release">
        27 July 2012
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        Transport for London (TfL) and partners working to deliver a great Games, ensure everyone gets to their events on time and to keep London and the UK moving
        
    </div>



 <div class="on-this-page">
<ul>
<li>Olympic Torch Relay will travel by boat on Friday from Hampton Court to City Hall, before reappearing at the Opening Ceremony of the London 2012 Olympic Games </li>
<li>TfL advises that people without a ticket for Opening Ceremony or another event should avoid Stratford area from 15:00 </li>
<li>Tube to run later to make sure spectators can get home </li>
<li>Over 3 million people have now planned their travel at GetAheadoftheGames.com with 50,000 following &#64;GAOTG on Twitter </li>
<li>For the latest on how transport services are operating, check before you travel at <a href="http://www.tfl.gov.uk">http://www.tfl.gov.uk</a> and follow &#64;TfLTravelAlerts (Tube, DLR and London Overground) and &#64;TfLTrafficNews (roads)</li></ul>
<p>The Olympic Torch Relay will today (Friday 27) take the final leg of its journey around the UK on the River Thames, travelling by boat from Hampton Court to City Hall arriving at around 13:00. </p>
<p>It will then reappear in the evening at the Olympic Park for the main event, the Opening Ceremony of the London 2012 Olympic Games. </p>
<p>As the Torch travels along the river, spectators will be able to see it from along the banks. </p>
<h2>Olympic City</h2>
<p>TfL's advice to those coming out to see it is to stay local if possible and find a point along the river that is close to home or work to view the Torch as it passes.</p>
<p>All of the bridges between Hampton Court and Tower Bridge will remain open as the Torch passes by, but there will only be limited viewing capacity from the bridges so arrive early and have an alternative viewing point planned.</p>
<p>London's transformation into a massive sporting and cultural venue is complete and London is now truly an 'Olympic City' so Games-time travel plans should now be put into action.</p>
<p>As the focus turns towards the Olympic Park for the Opening Ceremony of the Games tonight, roads and public transport around Stratford will be exceptionally busy. </p>
<h2>80,000 spectators</h2>
<p>Anyone without a ticket to the Opening Ceremony or other event in the area is advised to avoid travelling to Stratford and around the Olympic Park from 15:00. </p>
<p>Westfield Stratford City will close early at 15:00 to assist the management of the 80,000 spectators travelling to the Park. </p>
<p>Tube services will run from Stratford until 02:25 to make sure spectators can get home.</p>
<p>Ticket holders for the Opening Ceremony should plan ahead and leave plenty of time to travel, using the Spectator Travel Planner at london2012.com/journey. </p>
<p>There will not be any parking at or near the Olympic Park so spectators should take one of the 10 different rail lines, or various bus routes, that serve the area.</p>
<p>London's Transport Commissioner, Peter Hendy CBE, said: 'Large and enthusiastic crowds continue to come out to see the Olympic Torch, and as it makes its final journey along the Thames, spectators are advised to stay local to see it and be prepared to wait.</p>
<h2>Later Tube services</h2>
<p>'The main event is almost here and with 80,000 people attending the Opening Ceremony of the Games roads and public transport to Stratford and around the Olympic Park will be exceptionally busy, particularly in the afternoon. </p>
<p>'If you don't have a ticket, avoid the Olympic Park area from 15:00. </p>
<p>To make sure everyone can get home from the Opening Ceremony we will be running Tube services later.'</p>
<p><strong>Olympic Torch Relay route Friday, 27 July:</strong></p><strong>
<ul>
<li></li></ul></strong>The Olympic Torch Relay will begin at around 07:30 at Hampton Court and travel up the River Thames, arriving at City Hall/Tower Bridge at around 13:00 
<li>The Torch will then not reappear until the Opening Ceremony of the London 2012 Olympic Games </li>
<li>To find out where the Torch will be throughout the day visit <a href="http://www.london2012.com/torch-relay/route/">http://www.london2012.com/torch-relay/route/</a></li>
<p><strong>Spectators of the Torch Relay</strong></p><strong>
<ul>
<li></li></ul></strong>Do not drive to see the Torch, roads in central London and along the route will be exceptionally busy 
<li>Use public transport, cycle or walk to viewing points </li>
<li>The viewing capacity along the Thames will be limited, so get your spot as early as you can and be prepared to wait. Pack water and sun cream during periods of warm weather </li>
<li>Find out where and when the Torch will be, visit <a href="http://www.london2012.com/torch-relay/route">http://www.london2012.com/torch-relay/route</a></li>
<p><strong>Spectators going to the Opening Ceremony</strong></p><strong>
<ul>
<li></li></ul></strong>Ticket holders should check London2012.com for recommended arrival times and leave plenty of time for travel 
<li>Check travel plans using the Spectator Travel Planner at london2012.com/journey </li>
<li>Bring as little as possible as there will be airport-style security and strict rules on what can be brought into venues </li>
<li>Do not drive to the Olympic Park, there will be no public parking at or near the venue </li>
<li>The Jubilee and Central lines are expected to be exceptionally busy, consider using the District line to West Ham and walk to the Olympic Park </li>
<li>We have worked with LOCOG to ensure we can get everyone home from the Opening Ceremony and the last Tubes will be leaving Stratford at 02:25</li>
<p>During the Games, up to one million extra visitors are expected in London every day, making an additional three million journeys over and above the usual 12 million daily journeys on public transport.</p>
<p>London's roads and public transport networks will be exceptionally busy.&nbsp;</p>
<p>Anyone intending to travel should ensure they plan ahead at GetAheadoftheGames.com and leave extra time for their journeys.</p>
<p><strong>TfL's key travel advice for Friday, 27 July:</strong></p><strong>
<ul>
<li></li></ul></strong>The Olympic Route Network (ORN), including the Games Lanes, is now in operation and being enforced.&nbsp; Avoid central London, around the ORN, venues and the route of the Torch Relay 
<li>Games lanes are operating flexibly. Check the electronic roadside message signs which will clearly state if the Games Lanes are open to general traffic or reserved for Games vehicles </li>
<li>If you have to drive, plan ahead, consider re-timing your journey and allow more time </li>
<li>The Opening Ceremony of the London 2012 Games will take place at the Olympic Park in Stratford. Non-ticket holders are advised to avoid travelling around Stratford and the Olympic Park from 15:00 </li>
<li>Cultural events will also be taking place across London, including at the Old Royal Naval College in Greenwich and in Hyde Park, see <a href="http://www.molpresents.com">http://www.molpresents.com</a> for further information. If possible, avoid these areas if you are not attending an event </li>
<li>Before travelling, check out live travel updates at <a href="http://www.tfl.gov.uk">http://www.tfl.gov.uk</a> or by following &#64;TfLTravelAlerts (Tube, DLR and London Overground) or &#64;TfLTrafficNews (roads) </li>
<li>For full information on avoiding roads and public transport hotspots visit:&nbsp; <a href="http://www.GetAheadoftheGames.com">http://www.GetAheadoftheGames.com</a> and follow &#64;GAOTG on Twitter </li>
<li>Maps and animations showing the route and transport impacts of the Olympic Torch Relay are available at the GetAheadoftheGames.com website at the following link <a href="http://www.getaheadofthegames.com/travelinaffectedareas/city/london-public-transport.html">www.getaheadofthegames.com/travelinaffectedareas/city/london-public-transport.html</a></li>
<p><strong>Public Transport:</strong></p><strong>
<ul>
<li></li></ul></strong>Avoid stations that are close to the Torch Relay route.&nbsp; These stations will be exceptionally busy up to two hours before and at least one hour after the Torch passes 
<li>If you don't have a ticket to the Opening Ceremony of the London 2012 Games, avoid travelling to Stratford or around the Olympic Park from 15:00 </li>
<li>Keep cool while you travel as higher temperatures are forecast over the coming days. Carry water and don't board a train or bus if you feel unwell. If you feel unwell, get off at the next stop and seek help from staff, avoid pulling the passenger alarm between stations as help can be more easily obtained when the train is in the platform</li>
<p><strong>Roads:</strong></p>
<ul>
<li>The Olympic Torch Relay will travel along the River Thames. Bridges across the Thames will remain open to traffic </li>
<li>Roads around the ORN and venues remain exceptionally busy, including key routes into central London such as the A2, A3, A12, A13 and A40 </li>
<li>There is no stopping or loading along the 109 miles ORN while it is in operation, from 06:00 to 00:00 every day</li></ul>
<p>
<hr>

<p>
<p><strong>Notes to editors:</strong></p>
<ul>
<li>This TfL London 2012 Games travel bulletin is issued twice per day, at the expected times of 07:00 and 14:00 </li>
<li>Alongside these media travel bulletins, at 1400hrs each day, TfL will also publish the full 2012 Transport Factsheets on which they are based.&nbsp;Factsheets for each day of the Olympic Torch Relay, Olympic and Paralympic Games have already been produced and published at GetAheadoftheGames.com, but they will be revised on a daily basis, based on the latest information and experience, throughout the Games </li>
<li>TfL operates the following services: London Underground, London buses, Docklands Light Railway (DLR), London's major roads, including the Olympic and Paralympic Route Networks in London, Cycling - including Barclays Cycle Hire and Barclays Cycle Superhighways, Emirates Air Line, London Overground, London River Services, Victoria Coach Station, Taxis </li>
<li>The TfL Press Office will be available 24 hours a day on 0845 604 4141 and will have a member of staff in the London Media Centre during normal opening hours </li>
<li>A number of services are available including: 
<ul type="circle">
<li>Pre-packaged scripted films through the London Media Centre and on the TfL website at <a href="http://www.tflimages.com">www.tflimages.com</a> </li>
<li>B roll footage of London's transport network available from <a href="http://www.tflimages.com">www.tflimages.com</a> </li>
<li>A comprehensive image library providing free access to images of London's transport network available from <a href="http://www.tflpressgallery.co.uk">www.tflpressgallery.co.uk</a> </li>
<li>Interviews with TfL spokespeople<br></li></ul></li></ul>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "Olympic Torch Relay will travel by boat on Friday from Hampton Court to City Hall, before reappearing at the Opening Ceremony of the London 2012 Olympic Games TfL advises that people without a ticket for Opening Ceremony or another event should avoid";}
        
        


 