


@{ViewBag.Title = "Race to the finish line as green-fingered Tube staff grow for gold   ";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>Race to the finish line as green-fingered Tube staff grow for gold   </h1>
        <div class="content-page-press-release">
        25 July 2012
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        The annual Underground in Bloom competition is well under way with the contest attracting over 70 entries from stations, Train Depots and Service Control Centres this Olympic and Paralympic year.
        
    </div>



<div class="pull-quote">
        <div class="quote-body">"The annual Underground in Bloom competition is unique in fostering pride among our staff and customers in their stations, with local people regularly providing plant cuttings for our staff to nurture as part of the contest."</div>
        <div class="quote-footer">
            <div class="quotee-name">Howard Collins</div>
            <div class="quotee-job-title">Chief Operating Officer for London Underground</div>
        </div>
</div>

 <div class="on-this-page">
<div class="pullquote right">
                        <p>
                            The annual Underground in Bloom competition is unique in fostering pride among our staff and customers in their stations, with local people regularly providing plant cuttings for our staff to nurture as part of the contest. 
                            
                        </p>
                    </div>
                
            
            
            <p>London Underground employees have been adding colour to stations by cultivating a range of plants, flowers, herbs and fruit and vegetables across the network, with many adopting a red, white and blue theme to tie in with this year's celebrations.</p>
<p>Tube staff have been tending to courgettes at Neasden, marigolds at Clapham North, chives at Kilburn, sweet potatoes at Greenford and geraniums at Bayswater. </p>
<p>Red, white and blue flowers in hanging baskets adorn the control tower at Stratford Market Depot, visible from the Jubilee Line, and there are even Olympic and Paralympic rings sprouting at High Barnet Depot which are visible from the street. </p>
<h2>Visual impact</h2>
<p>Judges have just finished casting their eyes over the various categories which include hanging baskets, tubs, cultivated gardens and fruit and veg. </p>
<p>Points are awarded for the visual impact and design, taking into account health, care and choice of plants. </p>
<p>This year's most popular category is 'tubs', where stations must have a minimum of four containers. </p>
<p>Gardeners have had to overcome challenges such as limited space on platforms, the hosepipe ban earlier in the year and then months of heavy rain.&nbsp; </p>
<p>All this hard work is done in the Tube staff's own time.</p>
<p>Howard Collins, Chief Operating Officer for London Underground, said: 'The annual Underground in Bloom competition is unique in fostering pride among our staff and customers in their stations, with local people regularly providing plant cuttings for our staff to nurture as part of the contest. </p>
<h2>Pleasant travelling</h2>
<p>'It makes me feel very proud to hear that yet again so many staff have taken part in our annual Underground in Bloom competition. </p>
<p>'The effort they have put in has really paid off - the beautiful blooms and greenery give a real lift to Tube stations and make travelling more pleasant for both international visitors and our regular customers.'</p>
<p>The fruit and vegetable category was added in 2010 as part of the Mayor's Capital Growth programme which encourages people to grow their own food. </p>
<p>The Underground in Bloom winners will be announced at an awards evening at City Hall on 19 September.</p>
<p>
<hr>

<p>
<p><strong>Notes to editors:</strong></p>
<ul>
<li>Capital Growth is a partnership initiative between London Food Link, the Mayor of London Boris Johnson, and the Big Lottery's Local Food Fund. It is championed by the Chair of the London Food Board, Rosie Boycott, and aims to create 2012 new community food growing spaces across London by the end of 2012.&nbsp;Capital Growth offers practical help, grants, training and support to groups wanting to establish community food growing projects as well as advice to landowners. Capital Growth is also working with large organisations such as Transport for London and British Waterways along with borough food growing programmes such as Edible Islington </li>
<li>The Tube is undergoing a huge and essential programme to upgrade its ageing infrastructure - vital to cope with a growing population and to support the economic development and growth of the capital and the UK. This includes the introduction of new track and signalling and the rebuilding of some of our most important stations. By the end of the current programme there will be 30 per cent more capacity. This will inevitably result in some disruption for passengers, but TfL is working hard to provide information and alternative travel options. The work is essential to provide for London's growing transport needs now, and into the future. TfL is urging all Londoners and Tube, London Overground, London Tramlink and DLR passengers to "check before you travel" at weekends, allowing extra journey time where necessary. Weekend travel news is available at <a href="http://www.tfl.gov.uk">www.tfl.gov.uk</a> </li>
<li>Art in Bloom, established in 2007, is part of the Underground in Bloom competition and gives budding artists the opportunity to show off their talents in works that must feature or respond to a specific London Underground garden. </li>
<li>Pictures will shortly be available from the website <a href="http://www.tflpressgallery.co.uk">www.tflpressgallery.co.uk</a>.&nbsp;Alternatively please contact the Press Office on 0845 604 4141 </li>
<li>The locations below have entered the following categories in the 2012 Underground in Bloom competition:</li></ul>
<p><strong>Jubilee line <br></strong>1.&nbsp;Neasden -&nbsp; Fruit and Veg, Hanging Baskets, Tubs<br>2.&nbsp;Dollis Hill - Cultivated Garden, Hanging Baskets<br>3.&nbsp;Canada Water - Cultivated Garden, Art <br>4.&nbsp;Bermondsey - Tubs<br>5.&nbsp;West Hampstead - Tubs<br>6.&nbsp;Kilburn - Cultivated Garden, Fruit and Veg<br>7.&nbsp;Stratford Market Depot - Fruit and Veg, Hanging Baskets, Tubs, Art</p>
<p><strong>Northern line <br></strong>8.&nbsp;Finchley Central - Cultivated Garden, Tubs, Fruit and Veg&nbsp;&nbsp; <br>9.&nbsp;West Finchley - Tubs&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <br>10.&nbsp;East Finchley - Art, Tubs&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <br>11.&nbsp;Highgate - Cultivated Garden, Hanging baskets, Tubs&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <br>12.&nbsp;Colindale - Hanging Baskets&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <br>13.&nbsp;Totteridge &amp; Whetstone - Hanging Baskets, Tubs&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <br>14.&nbsp;High Barnet - Tubs&nbsp;&nbsp;&nbsp;&nbsp; <br>15.&nbsp;Hendon Central - Cultivated Garden, Fruit and Veg&nbsp;&nbsp;&nbsp;&nbsp; <br>16.&nbsp;Hampstead - Fruit and Veg, Hanging Baskets, Tubs&nbsp; <br>17.&nbsp;Golders Green - Hanging Baskets, Fruit and Veg&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <br>18.&nbsp;Clapham North - Hanging Baskets&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <br>19.&nbsp;Stockwell - Art&nbsp;&nbsp;&nbsp; <br>20.&nbsp;High Barnet Depot - Cultivated Garden, Tubs<br>21.&nbsp; Morden Depot - Fruit and Veg, Tubs&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <br>22.&nbsp; Kentish Town - Hanging Baskets, Tubs&nbsp;&nbsp; <br>23.&nbsp;Tufnell Park - Hanging Baskets&nbsp;&nbsp; </p>
<p><strong>Piccadilly line<br></strong>24.&nbsp;Cockfosters - Hanging baskets, Tubs <br>25.&nbsp;Arnos Grove depot - Cultivated Garden, Fruit and Veg, Hanging Basket, Tubs<br>26.&nbsp;Sudbury Town - Cultivated Garden&nbsp; <br>27.&nbsp;Northfields - Cultivated Garden, Tubs&nbsp; <br>28.&nbsp;Acton Town - Tubs, Art&nbsp; <br>29.&nbsp;Arsenal - Hanging Baskets&nbsp; </p>
<p><strong>District line&nbsp; <br></strong>30.&nbsp;Putney Bridge - Art <br>31.&nbsp;West Brompton - Cultivated Garden, Tubs&nbsp;&nbsp;&nbsp;&nbsp; <br>32.&nbsp;Parsons Green - Hanging Baskets, Tubs&nbsp;&nbsp;&nbsp;&nbsp; <br>33.&nbsp;Bromley-by-Bow - Hanging Baskets, Tubs, Art&nbsp;&nbsp;&nbsp; <br>34.&nbsp;Upminster Train Crew Accommodation - Cultivated Garden, Hanging Baskets, Tubs&nbsp; <br>35.&nbsp;East Ham - Hanging Baskets, Tubs&nbsp; </p>
<p><strong>Metropolitan line</strong> <br>36.&nbsp;Croxley - Hanging Baskets&nbsp;&nbsp; <br>37.&nbsp;Watford - Hanging Baskets, Tubs, Art&nbsp;&nbsp;&nbsp;&nbsp; <br>38.&nbsp;Rickmansworth Depot - Cultivated Garden, Hanging Baskets, Tubs&nbsp;&nbsp;&nbsp; <br>39.&nbsp;West harrow - Cultivated Garden&nbsp;&nbsp; <br>40.&nbsp;Northwood Hills - Cultivated Garden, Hanging Baskets, Tubs&nbsp;&nbsp;&nbsp;&nbsp; <br>41.&nbsp;Harrow-on-the-Hill - Hanging Baskets&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <br>42.&nbsp;Rangers Lane - Cultivated Garden&nbsp;&nbsp;&nbsp; <br>43.&nbsp;Amersham - Tubs&nbsp;&nbsp;&nbsp; </p>
<p><strong>Circle &amp; Hammersmith lines <br></strong>44.&nbsp;South Kensington - Hanging Baskets, Tubs&nbsp; <br>45.&nbsp;Edgware Road - Tubs&nbsp;&nbsp;&nbsp; <br>46.&nbsp;Bayswater - Hanging Baskets, Tubs&nbsp;&nbsp;&nbsp; <br>47.&nbsp;Barking SSR Depot - Hanging Baskets, Tubs, Art&nbsp;&nbsp; </p>
<p><strong>Bakerloo line <br></strong>48.&nbsp;Elephant and Castle - Hanging Baskets, Tubs&nbsp;&nbsp; <br>49.&nbsp;Oxford Circus - Hanging Baskets&nbsp;&nbsp;&nbsp; <br>50.&nbsp;Queens Park - Tubs&nbsp;&nbsp; <br>51.&nbsp;Queens Park Train Depot - Cultivated Garden, Hanging Baskets, Tubs&nbsp;&nbsp;&nbsp; </p>
<p><strong>Central line <br></strong>52.&nbsp;Newbury Park - Hanging Baskets, Tubs&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <br>53.&nbsp;Theydon Bois - Cultivated Garden&nbsp;&nbsp;&nbsp;&nbsp; <br>54.&nbsp;Chigwell - Hanging Basket, Tubs&nbsp;&nbsp;&nbsp; <br>55.&nbsp;Roding Valley - Cultivated Garden&nbsp;&nbsp;&nbsp;&nbsp; <br>56.&nbsp;Greenford - Fruit and Veg, Hanging Baskets, Tubs&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <br>57.&nbsp;Northolt - Fruit and Veg, Hanging Baskets, Tubs, Art&nbsp;&nbsp; <br>58.&nbsp;Perivale - Tubs, Art&nbsp;&nbsp; <br>59.&nbsp;East Acton - Cultivated Garden, Hanging Baskets&nbsp;&nbsp;&nbsp; <br>60.&nbsp;North Acton - Cultivated Garden, Fruit and Veg, Hanging Baskets, Tubs&nbsp;&nbsp; <br>61.&nbsp;White City Train Crew Accommodation - Hanging Baskets, Tubs&nbsp;&nbsp; <br>62.&nbsp;Epping - Cultivated Garden, Tubs <br>63.&nbsp;West Ruislip Train Crew Accommodation - Cultivated Garden, Hanging Baskets, Tubs&nbsp;&nbsp;&nbsp; <br>64.&nbsp;Bank/Monument - Art&nbsp;&nbsp;&nbsp;&nbsp; <br>65.&nbsp;Notting Hill Gate - Hanging Baskets </p>
<p>&nbsp;<strong>Victoria line <br></strong>66.&nbsp;Tottenham Hale - Tubs <br>67.&nbsp;Seven Sisters - Fruit and Veg&nbsp; <br>68.&nbsp;Northumberland Park Depot - Cultivated Garden, Tubs&nbsp;&nbsp;&nbsp;&nbsp; <br>69.&nbsp;Osborne House - Tubs&nbsp;&nbsp; </p>
<p><strong>TfL Head Offices<br></strong>70.&nbsp;Pelham Street - Art<br>71.&nbsp;SSR Upgrade - Art </p>
<p>&nbsp;</p>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "London Underground employees have been adding colour to stations by cultivating a range of plants, flowers, herbs and fruit and vegetables across the network, with many adopting a red, white and blue theme to tie in with this year's celebrations.Tube";}
        
        


 