


@{ViewBag.Title = "Second day of the 2012 Olympic Games and the Women's Cycle Road Race";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>Second day of the 2012 Olympic Games and the Women's Cycle Road Race</h1>
        <div class="content-page-press-release">
        29 July 2012
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        Hundreds of thousands of spectators turned out to watch Team GB men in yesterday's Men's Cycle Road Race and today (Sunday 29 July) it's the turn of the women.
        
    </div>



 <div class="on-this-page">
<p>Following yesterday's event, road closures were opened ahead of schedule. Just four cars had to be removed from the route in London in advance of race, showing people are heeding travel advice and planning ahead. </p>
<p>The Women's Cycle Road Race will take place today on the streets of London and Surrey. Central and south west London is expected to be exceptionally busy again throughout the day,&nbsp;owing to large numbers of spectators enjoying the road event and going to the Beach Volleyball at Horse Guards Parade.</p>
<p>All London 2012 road events will see temporary road closures and parking restrictions.&nbsp;Viewing capacity in central London is very limited and spectators are urged to plan ahead at <a href="http://www.getaheadofthegames.com/">GetAheadoftheGames.com</a> and to check before they travel at <a href="http://www.tfl.gov.uk/">tfl.gov.uk </a>or via Twitter channels.</p>
<p>Events are also taking place across the Capital at the Olympic Park, ExCeL, North Greenwich Arena, Greenwich Park, Royal Artillery Barracks, Horse Guards Parade, Earls Court, The Mall, Lord's Cricket Ground, Wimbledon, Wembley Arena and Wembley Stadium.</p>
<p>London's Transport Commissioner, Peter Hendy CBE, said: 'Hundreds of thousands of spectators lined the streets of London and Surrey yesterday to enjoy the Men's Cycle Road Race and we are expecting similar numbers again today.&nbsp;Our advice is to enjoy the event, but avoid driving around the race route, in central London, around the ORN and venues.</p>
<p>'Public transport will be exceptionally busy as spectators make their way to events at key Olympic venues across the Capital.&nbsp;Every day is different, so plan ahead at <a href="http://www.getaheadofthegames.com/">GetAheadoftheGames.com</a>&nbsp;to avoid disruption and delay to your journey and to make the most of all the Games have to offer.'</p>
<h2>Spectators of the Women's Cycle Road Race</h2>
<ul>
<li>The Women's Cycle Road Race offers a great opportunity for many to see an Olympic event and very large crowds are expected to attend </li>
<li>If you are planning to attend please arrive early, be prepared to wait for several hours and think carefully about bringing small children.&nbsp;Make sure you know what the route is so you can find the best spot to see the action </li>
<li>Pack food and water, sun cream or waterproof clothing, depending on the weather </li>
<li>Have a back-up plan.&nbsp;If it gets really busy, you might want to enjoy one of the wealth of free events, cultural and entertainment opportunities on offer across the UK and during London's summer like no other.&nbsp;Find out what's happening and sign up for updates at <a href="http://www.molpresents.com">www.molpresents.com</a> and download the London 2012 'Join In' app </li>
<li>If you want to see the action, but don't want to get caught up in the crowds, try to 'stay local' and watch on television. There may be places close by that are showing events, such as pubs, clubs and Live Sites </li>
<li>If you are intending to travel - plan ahead.&nbsp;Go to <a href="http://www.GetAheadoftheGames.com">GetAheadoftheGames.com</a> which has all the tools and information you need about London 2012 road events and how to plan your journey</li></ul>
<h2>Ticketed spectators</h2>
<ul>
<li>If you have a ticket to a London 2012 event, make sure you don't miss it - check <a href="http://www.london2012.com/">london2012.com</a> for your recommended arrival times and leave plenty of time to travel</li>
<li>Make sure you have the correct Games Travelcard for the day of your event</li>
<li>Re-check your travel plans before attending an event by using the Travel Planner at <a href="http://travel.london2012.com/SJPWeb/Pages/JourneyPlannerInput.aspx">london2012.com/journey</a></li>
<li>Expect queues when arriving and departing venue stations.&nbsp;Leave plenty of time to get to your venue</li></ul>
<p>During the Games, up to one million extra visitors are expected in London every day, making an additional three million journeys over and above the usual 12 million daily journeys on public transport. At certain times and in certain places, London's roads and public transport networks will be exceptionally busy.&nbsp;Anyone intending to travel should ensure they plan ahead at <a href="http://www.getaheadofthegames.com/">GetAheadoftheGames.com</a> and leave extra time for their journeys.</p>
<h2>TfL's key travel advice for today (Sunday 29 July)</h2>
<ul>
<li>The Olympic Route Network (ORN), including the Games Lanes, is now in operation and being enforced.&nbsp;Avoid central London, around the ORN, venues and the route of the Women's Cycle Road Race</li>
<li>Games Lanes are operating flexibly. Check the electronic roadside message signs which will clearly state if the Games Lanes are open to general traffic or reserved for Games vehicles</li>
<li>Roads across London and around Surrey will be exceptionally busy, with related road closures,&nbsp;owing to the Women's Cycle Road Race, so do not drive into affected areas. If you have to drive, plan ahead, consider re-timing your journey and allow more time</li>
<li>There will be road closures and restrictions along the route which will be put in place from 05:00 and will remain until a few hours after the race has finished, when it is safe to reopen the roads</li>
<li>Events will be taking place at the Olympic Park, ExCeL, North Greenwich Arena, Greenwich Park, Royal Artillery Barracks, Horse Guards Parade, Earls Court, The Mall, Lord's Cricket Ground, Wimbledon, Wembley Arena and Wembley Stadium</li>
<li>People travelling to airports today are urged to check if their route crosses the Cycle Road Race course - and to plan alternative routes to avoid the road closures</li>
<li>Before travelling, check out live travel updates at <a href="http://www.tfl.gov.uk">tfl.gov.uk</a> or by following &#64;TfLTravelAlerts (Tube, Docklands Light Railway and London Overground), &#64;TfLTrafficNews (roads) or &#64;tflbusalerts (bus)</li>
<li>For full information on avoiding roads and public transport hotspots, check out <a href="http://www.getaheadofthegames.com/">GetAheadoftheGames.com </a>- including detailed Daily Bulletins - and follow &#64;GAOTG on Twitter</li>
<li>Today's Daily Bulletins are available at <a href="http://www.getaheadofthegames.com/bulletins/29-july.html">http://www.getaheadofthegames.com/bulletins/29-july.html</a><br></li></ul>
<p>
<hr>
</p>
            <p><strong>Notes to Editors<br></strong></p>
<ul>
<li>This Transport for London (TfL) London 2012 Games travel bulletin is issued twice per day, at the expected times of 07:00 and 14:00</li>
<li>Alongside these media travel bulletins, at 14:00 each day, TfL will also publish the full 2012 Transport Factsheets on which they are based.&nbsp; Factsheets for each day of the Olympic Torch Relay, Olympic and Paralympic Games have already been produced and published at <a href="http://www.getaheadofthegames.com/">GetAheadoftheGames.com</a>, but they will be revised on a daily basis, based on the latest information and experience, throughout the Games</li>
<li>TfL operates the following services: London Underground, London buses, Docklands Light Railway (DLR), London's major roads, including the Olympic and Paralympic Route Networks in London, Cycling - including Barclays Cycle Hire and Barclays Cycle Superhighways, Emirates Air Line, London Overground, London River Services, Victoria Coach Station, Taxis</li>
<li>The TfL Press Office will be available 24 hours a day on 0845 604 41 41 and will have a member of staff in the London Media Centre during normal opening hours</li>
<li>A number of services are available including:</li>
<ul type="circle">
<li>Pre-packaged scripted films through the London Media Centre and on the TfL website at <a href="http://www.tflimages.com">www.tflimages.com</a></li>
<li>B roll footage of London's transport network available from <a href="http://www.tflimages.com">www.tflimages.com</a></li>
<li>A comprehensive image library providing free access to images of London's transport network available from <a href="http://www.tflpressgallery.co.uk">www.tflpressgallery.co.uk</a></li>
<li>Interviews with TfL spokespeople<br></li></ul></ul>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "Following yesterday's event, road closures were opened ahead of schedule. Just four cars had to be removed from the route in London in advance of race, showing people are heeding travel advice and planning ahead. The Women's Cycle Road Race will take";}
        
        


 