


@{ViewBag.Title = "Sporting legend Iwan Thomas warms up commuters to help them avoid Games-time travel disruptions ";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>Sporting legend Iwan Thomas warms up commuters to help them avoid Games-time travel disruptions </h1>
        <div class="content-page-press-release">
        02 July 2012
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        Former Olympian visits hotspot train stations to urge London's commuters to 'Get Ahead of the Games'.
        
    </div>



<div class="pull-quote">
        <div class="quote-body">"My warm-up exercises are designed to motivate commuters to seek alternative forms of transport, such as walking or cycling, to avoid hotspots"</div>
        <div class="quote-footer">
            <div class="quotee-name">MBE</div>
            <div class="quotee-job-title">Iwan Thomas</div>
        </div>
</div>

 <div class="on-this-page">
<div class="pullquote right">
                        <p>
                            My warm-up exercises are designed to motivate commuters to seek alternative forms of transport, such as walking or cycling, to avoid hotspots
                            
                        </p>
                    </div>
                
            
            
            <ul>
<li>A series of warm up exercises will encourage commuters to walk, cycle or run all or part of their journey during the Games </li></ul>
<p>With just twenty five days until the start of the London 2012 Games, former Olympian Iwan Thomas has teamed up with Transport for London (TfL) and London 2012's Get Ahead of the Games campaign, to encourage Londoners to plan ahead and change their travel to avoid being delayed by transport hotspots during the Games.</p>
<p>Appearing at three of the Capital's mainline rail stations over the next three days, Iwan will be leading commuters in a series of warm-up exercises to inspire them to swap to cycling, running or walking for all or part of their commutes during Games-time, when London's transport networks will be exceptionally busy. </p>
<h2>Avoid transport hotspots</h2>
<p>On a normal day, twelve million passenger journeys are made on London's transport network. During the Games up to three million extra passenger journeys are expected on the busiest days. </p>
<p>So commuters are being warned that there are key hotspots that they will need to avoid, including King's Cross, Liverpool Street and London Bridge mainline train stations where Iwan is running his warm-up workshops. </p>
<p>Iwan is encouraging people who live and work in London to visit <a href="http://www.GetAheadoftheGames.com">GetAheadoftheGames.com</a> to plan ahead for Games-time, and consider options such as travelling outside of peak times, or cycling or walking some or all of their journey where possible. Londoners are also advised to check the TfL cycle journey planner to ensure they are choosing the best route possible for their journey. </p>
<p>Iwan Thomas, MBE, Former Olympian &amp; UK record holder, 400m, said: 'My warm-up exercises are designed to motivate commuters to seek alternative forms of transport, such as walking or cycling, to avoid hotspots. </p>
<p>'Millions of extra people will be arriving in London over the next few weeks and everyone in London during the Games should be able to enjoy what will be an amazing summer. </p>
<p>'By planning journeys to avoid peak times and hotspot stations, commuters will ensure that they can still travel around London and enjoy the once in a lifetime experience of living and working in a host city.' </p>
<h2>Games will impact normal travel</h2>
<p>Iwan's support for Get Ahead of the Games comes as the public information campaign continues to grow. </p>
<p>People living and working in Olympic host cities can underestimate the impact the Games will have on normal travel, or adopt a 'wait and see' approach. To help address this, TfL's journey planner now includes Games-time information. </p>
<p>Anyone planning a journey that goes through a hotspot station during the Olympic or Paralympic Games is warned that the journey may be affected and given a direct link to travel advice on the Get Ahead of the Games website for that station.</p>
<p>In the final weeks before the Games begin, several million London commuters will be emailed localised travel advice for the areas where they live and work, and encouraged to test their Games-time travel plans. </p>
<p>Around a million Get Ahead of the Games Oyster card wallets will be handed out at zone 1 stations this week, and by the end of the Games, six million walking maps, which if put together would stretch to the moon and back almost ten times, will have been handed out to commuters and visitors. </p>
<p>During the Games there will be 215,000 magenta signs at or near stations to guide spectators to their Games events and around 3,500 TfL Travel Ambassadors, wearing distinctive magenta coloured tabards, will provide the travelling public with live, up-to-the-minute travel advice at Tube, bus, rail and DLR stations across London. </p>
<p>They will supplement the travel information the public will receive through a wide variety of sources, including the extensive Get Ahead of the Games campaign, including radio, emails, twitter feeds, train and station announcements and posters, Games-time pocket Tube maps and TfL cycle guides. </p>
<p>Ben Plowden, Director of Planning for Surface Transport at TfL, added, 'With less than a month to go before the Games we want everyone who will be travelling in London during games-time to check out <a href="http://www.GetAheadoftheGames.com">GetAheadoftheGames.com</a> to see how their journey will be affected. </p>
<p>'The website has maps, alternative travel options and hotspot information to help Londoner's to change their travel. It's vital that Londoners don't leave their journeys to chance on the first few days of the Games, but instead plan ahead and where possible test their alternative travel plans before the Games begin. I would also encourage Londoners considering cycling to check the TfL cycle journey planner for the most up to date route information.'</p>
<p>
<hr>

<p>
<p><strong>Notes to editors:</strong></p><strong>
<ul>
<li></li></ul></strong>Iwan Thomas will be visiting the following network rail stations on the following dates and times:<br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; London Bridge on 2 July from 07.00-11.00<br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Kings Cross on 3 July from 09.00-11.00<br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Liverpool Street Station on 4 July from 09.00-1.00 
<li>There are 12 million journeys a day made on London's public transport network. On the busiest days of the Games up to one million extra people a day will use the&nbsp;public transport network. Log on to <a href="http://www.getaheadofthegames.com">www.getaheadofthegames.com</a> for full and final information on when and where the UK's Tube and rail networks will be most&nbsp;affected during this summer's London 2012 Games and follow the &#64;GAOTG Twitter feed for the latest tips, travel information and advice </li>
<li>Non-ticketed spectators should use the TfL cycle journey planner to plan travel to a road event in London:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <a href="http://cyclejourneyplanner.tfl.gov.uk/cycle/XSLT_TRIP_REQUEST2?language=en">http://cyclejourneyplanner.tfl.gov.uk/cycle/XSLT_TRIP_REQUEST2?language=en</a> </li>
<li>Ticket holders should use the Spectator Journey Planner (SJP), which allows people to select a number of different parameters for their journey. The SJP will take spectators to the cycle parking for their venue: <a href="http://travel.london2012.com/SJPWeb/Pages/JourneyPlannerInput.aspx">http://travel.london2012.com/SJPWeb/Pages/JourneyPlannerInput.aspx</a><br></li>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "A series of warm up exercises will encourage commuters to walk, cycle or run all or part of their journey during the Games With just twenty five days until the start of the London 2012 Games, former Olympian Iwan Thomas has teamed up with Transport for";}
        
        


 