


@{ViewBag.Title = "TfL harnesses social media to share real-time travel information during the Games";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>TfL harnesses social media to share real-time travel information during the Games</h1>
        <div class="content-page-press-release">
        13 July 2012
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        Around 125,000 people already following TfL's Twitter feeds for live travel information and advice.
        
    </div>



<div class="pull-quote">
        <div class="quote-body">"During the Games we'll be tweeting to keep everyone updated so they know if their journey will be affected."</div>
        <div class="quote-footer">
            <div class="quotee-name">TfL</div>
            <div class="quotee-job-title">Chantel Thorpe</div>
        </div>
</div>

 <div class="on-this-page">
<div class="pullquote right">
                        <p>
                            During the Games we'll be tweeting to keep everyone updated so they know if their journey will be affected.
                            
                        </p>
                    </div>
                
            
            
            <ul>
<li>Over 1.5 million people have already planned their travel at GetAheadoftheGames.com </li>
<li>During the Games, follow &#64;TfLTrafficNews, &#64;TfLTravelAlerts and &#64;GAOTG for the latest on how services and roads are operating, with a full list of all TfL's social media channels at tfl.gov.uk/socialmedia</li></ul>
<p>Transport for London (TfL) is using a range of social media and digital channels to provide real-time travel information ahead of and during the London 2012 Games. </p>
<p>Every day of the Games will be different, with a range of venues and road events taking place across London. </p>
<h2>Vital help</h2>
<p>Real-time travel information will be vital in helping people move around as London continues its transformation into a huge sporting and cultural venue.</p>
<p>TfL and London 2012 are urging people to follow TfL's Twitter feeds for the latest on how the Capital's public transport services and roads are operating.</p>
<p>Followers can get the latest traffic news from &#64;TfLTrafficNews, real-time updates covering all London Underground, DLR and London Overground services and accessibility from &#64;TfLTravelAlerts and advice on travelling during the Games from &#64;GAOTG. </p>
<p>A full list of TfL's social media channels is available at tfl.gov.uk/socialmedia which includes details of the Twitter feeds for each of the 11 different London Underground lines, the Docklands Light Railway, London Overground and Barclays Cycle Hire. </p>
<h2>Fast advice</h2>
<p>Londoners and visitors can also get the latest updates from the TfL website, by subscribing to email alerts on GetAheadoftheGames.com and from notices and announcements at stations. </p>
<p>Chantel Thorpe, whose role at TfL involves posting tweets from &#64;TfLTravelAlerts and individual Tube line Twitter accounts, said: 'People tell us they really appreciate getting travel updates in real-time. </p>
<p>'When the situation is changing from hour to hour, social media can be one of the fastest ways to get information and advice to our customers.</p>
<p>'During the Games we'll be tweeting to keep everyone updated so they know if their journey will be affected.' </p>
<h2>Follow our service updates</h2>
<p>TfL's Managing Director of Marketing and Communications, Vernon Everitt, said: 'London continues its transformation into a massive sporting and cultural venue.&nbsp;</p>
<p>'With a million more people here during the Games and a range of different events happening every day, our public transport network and roads will be exceptionally busy.&nbsp; </p>
<p>'Our social media tools like Twitter are an increasingly important way of offering people advice and support to help them avoid the travel hotspots. </p>
<p>'We're hoping that the many thousands of people who already follow our service updates on Twitter will make some of our Twitter channels their 'Follow Friday' recommendations today and use #GAOTG to join the conversation.'</p>
<p>
<hr>

<p>
<p><strong>Notes to editors:</strong></p>
<ul>
<li>Londoners can sign up for free email alerts to help them plan their journeys at Games-time at <a href="http://www.tfl.gov.uk/gamesemails">www.tfl.gov.uk/gamesemails</a> </li>
<li>The 'Temporary Road Changes' planning tool can be found on the GetAheadoftheGames website here: <a href="http://www.GetAheadoftheGames.com/travelinaffectedareas/city/london-temporary-road-changes.html">www.GetAheadoftheGames.com/travelinaffectedareas/city/london-temporary-road-changes.html</a> </li>
<li>Ticket holders can use the Spectator Journey Planner to plan their journey to one of the Games venues: <a href="http://travel.london2012.com/SJPWeb/Pages/JourneyPlannerInput.aspx">http://travel.london2012.com/SJPWeb/Pages/JourneyPlannerInput.aspx</a> </li>
<li>#ff &#64;TfLTrafficNews, &#64;TfLTravelAlerts, &#64;GAOTG</li></ul>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">

       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "Over 1.5 million people have already planned their travel at GetAheadoftheGames.com During the Games, follow @TfLTrafficNews, @TfLTravelAlerts and @GAOTG for the latest on how services and roads are operating, with a full list of all TfL's social media";}
        
        


 